[2022-04-13 21:09] antonyscerri opened #16769 "Invalid CLS masking in question answer pipelines top K calculation"
## Environment info
- `transformers` version: 4.18.0
- Platform: Linux-5.10.102-99.473.amzn2.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.12
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scri

[2022-04-13 21:14] code-review-doctor opened #16770 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is `assertEqual`

https://github.com/huggingface/transformers/blob/main/tests/wav2vec2/test_modeling_flax_wav

[2022-04-13 22:26] stas00 commented on #16688
Hmm, no, you're right, I can reproduce the issue. I will get back to you once I get a chance to look at it.

[2022-04-13 22:28] stas00 commented on #16688
update, nope it works just fine. I have just suggested to you to use `PYTHONPATH` and haven't used it myself ;)

[code]

[2022-04-13 23:31] Rababalkhalifa opened #16773 "loading roberta from local file"
I get this message: ```
Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: [ -['roberta.encoder.layer.9.attention.self.value.bias', 'lm_head.layer_norm.bias', 'roberta.encoder.layer.4.attention.self.value.weight', 'roberta.encoder.layer.9.attention.self.value.weight', 'roberta.encoder.layer.4.attention.output.dense.bias', 'roberta.encoder.layer.2.attent

[2022-04-14 05:55] tetsu9923 opened #16775 "How to initialize BigBird Encoder-Decoder model with weights of full_attention Transformer Encoder model like BERT"
Hi, I am trying to train summarization model with [run_summarization.py](https://github.com/huggingface/transformers/blob/main/examples/pytorch/summarization/run_summarization.py).
As a starting point, I want to initialize BigBird Encoder-Decoder model with weights of full_attention Transformer Encoder model (e.g. BERT, [SPECTER](https://huggingface.co/allenai/specter))

What should I do?
Thanks.

[2022-04-14 08:19] evros-chris commented on #16688
Yes you are right, it does work! Thanks a lot again @stas00!

[2022-04-14 08:31] pikaqqqqqq commented on #16308
## Issue description
Hello, thank you for supporting GPTJ with ONNX. But when I exported an ONNX checkpoint using transformers-4.18.0, I got the issue like below.
[code]

I found GPTJ with ONNX seems supported when I checked your document transformers-4.18.0 [https://huggingface.co/docs/transformers/serialization#exporting-a-model-for-an-unsupported-architecture] and code [src/transformers/onnx/fe

[2022-04-14 09:07] chris-opendata opened #16776 "How to set different LOCAL_RANK env variable values for multiple GPUs of a single node machine with Accelerate"
This is more of a question than a bug report.

I am adopting the script with Accelerate from https://github.com/huggingface/transformers/blob/master/examples/pytorch/summarization/run_summarization_no_trainer.py.

I intend to parallel on two gpus of a single machine, one on GPU 0 and the other on GPU 1. As I notice that
`Line 203:  self.local_process_index = int(os.environ.get("LOCAL_RANK", -1))`

[2022-04-14 09:08] tetsu9923 opened #16777 "Question about google/bigbird-pegasus-large-pubmed"
Hi, I have a question about the BigBird seq2seq model [google/bigbird-pegasus-large-pubmed](https://huggingface.co/google/bigbird-pegasus-large-pubmed).
How was this model trained?
Was it pretrained with just word-level or sentence-level masking?
Or was it further fine-tuned by the summarization task?
Thank you.

[2022-04-14 10:26] Narsil commented on #16769
Hi @antonyscerri ,

Thank you very much for the report !

This definitely seems like a legitimate issue.

Do you have an example where this triggers an error really in the pipeline ? (This is to craft a test to make sure this is tested against.)
I will try to find one on a dummy example, but it's always better if we can have a real world example.

[2022-04-14 10:30] IlyasMoutawwakil commented on #15823
Thanks for your answer @NielsRogge
I have another question and it's about the configuration cell in the [TrOCR tutorial](https://github.com/NielsRogge/Transformers-Tutorials/blob/master/TrOCR/Fine_tune_TrOCR_on_IAM_Handwriting_Database_using_Seq2SeqTrainer.ipynb) ; the cell in which we set special tokens etc.
Is it normal that once we set `model.config.decoder_start_token_id` to `processor.tokeniz

[2022-04-14 11:06] antonyscerri commented on #16769
Unfortunately I cannot share the data I observed it with. However any text block with a question which produces an answer should show a change in its score between it being fixed or not, assuming an appropriate model that uses CLS token is used. If you have an example where the NIL answer (based on CLS token) is the "best" answer you may see the top answer change from some other span to the NIL an

[2022-04-14 11:45] CaoYiwei opened #16779 "Why do we need to expand the token_type_ids?"
in modeling_bert.py, foward function of bertembeddings, line224, we can just write like this:
[code]

instead of:
[code]

[2022-04-14 12:27] baoyuxu commented on #16742
@NielsRogge I understand now, thank you for your reply🤗

[2022-04-14 12:27] #16742 closed

[2022-04-14 12:49] NielsRogge commented on #15823
Yeah that definitely will change behaviour. If you check

[code]
you'll see that it's set to 2.

However, if you set it to `processor.tokenizer.cls_token_id`, then you set it to 0. But the model was trained with ID=2 as decoder start token ID.

[2022-04-14 12:57] Narsil commented on #16769
Thank you so much for this test, definitely helps a lot !

Can't replicate with small random models (for obvious reasons) but at least we now have a slow tests covering this.

[2022-04-14 13:20] hasansalimkanmaz commented on #10329
Today, I have encountered a bug in our codebase due to this issue. The model loading wasn't ok for some reason and the code just logged the warnings. I would like to get an error instead of a warning. I can't monitor thousands of models that are running in production for this particular warning message. Could you help me to work on this issue?

[2022-04-14 13:36] sanchit-gandhi commented on #16736
The user warning for the Flax `.from_pretrained` method was implemented in #16762. As an extreme edge case and following an extensive offline discussion, it was decided that the fp16 PyTorch weights for [bart-large](https://huggingface.co/facebook/bart-large) will remain as is. The original checkpoint has been reconverted and uploaded it in fp32 to another repo for those wishing to explicitly use

[2022-04-14 13:50] murthyrudra opened #16784 "Resuming Language Model Pre-training spends too much time skipping data"
# 🚀 Feature request

Speed-up data skipping process when resuming from a checkpoint

## Motivation

Hi, currently resuming a language model pre-training from a checkpoint spends too much time skipping data.
<img width="1641" alt="Screenshot 2022-04-13 at 1 51 58 PM" src="https://user-images.githubusercontent.com/14203368/163404033-1232510a-efe7-4d9b-b4b0-699d49be234e.png">

While we can use `--ign

[2022-04-14 13:51] #16688 closed

[2022-04-14 14:50] NielsRogge commented on #16777
From the model card:

Also, please use our [forum](https://discuss.huggingface.co/) for such questions. We'd like to keep Github issues for bugs/feature requests.

Thanks!

[2022-04-14 15:10] ChainYo commented on #16308
Hello, thanks for reporting the problem. I opened a PR with a quick fix to avoid this problem, check #16780

[2022-04-14 15:50] bharathc346 opened #16787 "Special Tokens Not Working as Expected in Bert Tokenizer"
## Environment info
- `transformers` version: 4.18.0
- Platform: macOS-12.0.1-arm64-arm-64bit
- Python version: 3.8.13
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed

[2022-04-14 16:24] ri938 opened #16790 "Batching does not work with any XGLM model (simple script to reproduce issue included)"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux-4.4.0-140-generic-x86_64-with-LinuxMint-18.1-serena
- Python version: 3.7.10
- PyTorch version (GPU?): 1.11.0+cu102 (False)
- Tensorflow version (GPU?): 2.3.4 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distri

[2022-04-14 16:25] ri938 commented on #16790
Super keen to resolve this issue and am willing to contribute if given suggestions.

[2022-04-14 17:17] patrickvonplaten commented on #16790
cc @patil-suraj

[2022-04-14 18:16] san7988 commented on #16292
Hi,

Is anyone working on BART TF version? If not I can try and contribute WRT that model.

Thanks

[2022-04-14 18:44] ydshieh commented on #16292
Not sure if someone is working on TF Bart. You can search the Pull request list.

Otherwise, TF Wav2Vec2 should be a good one to try. Should be quite easy with the recent change in

https://github.com/huggingface/transformers/pull/16494#issue-1186617056

[2022-04-14 19:00] Ierezell commented on #16452
I also tried a ZeroShotClassificationPipeline,
Having a sentence too long raises a "Tensor length mismatch error".

Could it be possible to truncate to max_length by default?

Or could it be feasible to let us pass the arguments in the pipeline ?

Note that :
[code]

Changes nothing as the max_length or truncation seems to not be passed down the line.....  (at least for ZeroShot)

Thanks in advanc

[2022-04-14 19:11] quasimik commented on #15451
I've implemented @NielsRogge's comments in #15173 in my own [fork](https://github.com/woflowinc/transformers/tree/add-layoutlmv2-re). I'm happy to open a PR, or to let someone else take it from here.

[2022-04-14 20:36] LysandreJik commented on #16784
Hello! Could you please provide information on your environment, on the script used, etc? Thanks.

[2022-04-14 20:42] #16767 closed

[2022-04-14 20:42] LysandreJik commented on #16773
You're loading RoBERTa in a `TFBertModel`, you should load it in a `TFRobertaModel`!

[2022-04-14 21:01] FrederickXZhang opened #16793 "Quick question about efficiently initializing model parameters"
Hi,

First of all, thanks for your great work on building such an amazing pytorch package!
I am trying to modify the [modeling_bart.py](https://github.com/huggingface/transformers/blob/v4.11.3/src/transformers/models/bart/modeling_bart.py) file, specifically [BartDecoderLayer](https://github.com/huggingface/transformers/blob/v4.11.3/src/transformers/models/bart/modeling_bart.py#L331). I am plannin

[2022-04-14 23:04] #16773 closed

[2022-04-15 00:33] limapedro opened #16794 "[Request] Add Wav2Vec support for onnx conversion"
Hi, I'd like to request support for Wav2Vec on the transformers-onnx library.
Thank you in advance.

[2022-04-15 05:50] heyzude opened #16795 "Problem at using CLIPFeatureExtractor from transformers.models.clip.feature_extraction_clip"
## Environment info

- `transformers` version: 4.17.0
- Platform: Ubuntu
- Python version: 3.7
- PyTorch version (GPU?): 1.7.0
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

Models:

CLIPFeatureExtractor (which is used to provide feature to CLIPModel)

## Information

When I use CLIPFeatureExtractor(), (https://huggingface.co/transfo

[2022-04-15 06:52] tkseneee commented on #15823
Hi @NielsRogge,
Thank you for your detail responses. I followed your reply to my query and used your tutorial to train the TrOCR model

My objective is to recognize the Arabic characters from the license plate image. I have segmented the words alone using EAST. Few words are displayed below:
![image](https://user-images.githubusercontent.com/42732218/163531399-490c3258-f6f0-4f8c-93e9-0ab6e3a29d05.

[2022-04-15 07:03] FrankDataAnalystPython opened #16796 "Small Bug: text2text_generation and text_generation result in duplicate results"
- `transformers` version: 4.17.0
- Platform: Darwin-20.1.0-x86_64-i386-64bit
- Python version: 3.7.2
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

Li

[2022-04-15 07:09] NielsRogge commented on #15823
Hi,

If you're only training the model on individual character images, then I'm pretty sure it won't be able to produce a reasonable prediction if you give it a sequence of characters. You would have to train on a sequence of characters as well during training.

Also, a max length of 4 is rather low, I would increase this during training.

[2022-04-15 07:53] tkseneee commented on #15823
Thank you. I will collect the images of words and train again. Any suggestion on how many images minimum we need for reasonable training ?

[2022-04-15 08:07] NielsRogge commented on #15823
I would start with at least 100 (image, text) pairs, and as usual, the more data you have, the better.

[2022-04-15 08:47] IlyasMoutawwakil commented on #15823
Can you explain to me why `model.config.decoder_start_token_id` (null) is set to `processor.tokenizer.cls_token_id` (0) and not to `model.decoder.config.decoder_start_token_id` (2).

[2022-04-15 09:14] KangarooChief opened #16798 "DataCollatorForLanguageModeling using the wrong symbol for masking"
## Environment info

- `transformers` version: 4.17.0
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.9.7
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?

[2022-04-15 09:59] SaulLu commented on #16787
Thank you very much for sharing this issue!

It looks like you've hit on a problem in the data workflow in our slow tokenizers (which has been around for a very long time apparently :scream_cat: )!

To solve your problem, I suggest you do instead:
[code]

_I'll take this opportunity to share my analysis on the origin of the error (you can ignore this section if you're not interested, I prefer to k

[2022-04-15 10:46] sujit420 commented on #14368
@fadi212 I am getting errors while using your PR during inference time. I am using the below code for token-classification (FUNSD):
processor = LayoutLMv2Processor.from_pretrained("microsoft/layoutlmv2-base-uncased", revision="no_ocr")
image_path = '../funsd/page1.png'
image = Image.open(image_path).convert("RGB")
words, bboxes = get_words_and_boxes_textract(textract_client, image_path)
encoded_in

[2022-04-15 11:05] SaulLu commented on #16798
Hi @KangarooChief ,

You can see the logic of the `DataCollatorForLanguageModeling` here:
https://github.com/huggingface/transformers/blob/9a24b97b7f304fa1ceaaeba031241293921b69d3/src/transformers/data/data_collator.py#L768-L778

As you can see, 10% of the replacements made are with a random word (including `*`). :slightly_smiling_face:

[2022-04-15 11:16] KangarooChief commented on #16798
Thanks

[2022-04-15 11:16] #16798 closed

[2022-04-15 11:40] thangth1102 commented on #4092
I think T5 does not use [CLS] or [SEP]

[2022-04-15 12:08] NielsRogge commented on #16795
Hi,

clip_feature_extractor(images=images, return_tensors='pt')

If you pass a list of images, make sure they are all of the same type.

[2022-04-15 12:09] NielsRogge commented on #16794
I believe @lewtun is working on that.

[2022-04-15 12:51] murthyrudra commented on #16784
Hi, Please find the details

- `transformers` version: 4.18.0
- Platform: Red Hat Enterprise Linux release 8.5 (Ootpa)
- Python version: 3.8.11
- PyTorch version (GPU?):  1.9.1 (A100)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?:  8 GPUs on a single node

Please find the script used to train the model. I am using the language model training script from [here](https

[2022-04-15 12:53] Hannibal046 opened #16800 "🐛Diverse Beam Search BUG"
## Environment info

2022-04-15 20:47:39.551372: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-04-15 20:47:39.605017: I te

[2022-04-15 14:54] vince62s commented on #9232
@sgugger sorry to revive that thread.
I think a clm with two special tokens BOS / EOS would make sense to be trained in line by line mode, what do you think ?
(btw are you saying that all pre-trained gpt2 models are trained in fixed blocks ? if so do you confirm that original papers do the same when benchmarking with standards like 1BW ?)
thanks for your inside.

[2022-04-15 15:02] #15958 closed

[2022-04-15 15:02] #15957 closed

[2022-04-15 15:02] #15955 closed

[2022-04-15 18:08] elsheikh21 commented on #16650
For future readers
we had here 2 problems

1. During transcribing the audio via my model was expecting 3D input and received 4D input  `[1, 1, 2, 50582]`
2. During decoding the model logits we had a problem that our model produced logits `shape=(1, 157, 33)`

**Solution**:
1. Input should have been parsed and resampled as follows
[code]

2. Passing audio to the model as follows

[code]

[2022-04-15 18:08] #16650 closed

[2022-04-15 18:12] Narsil commented on #16752
Hi @erip ,

It seems the tokenizer does not define itself `tokenizer.model_max_length` which is usually used to set the max length (so `truncation=True` can have a meaning).

The problem with passing `max_length` as you do, is that this is actually passed to the `generate(..)` function, which **also** has a `max_length` (it means the maximum length of the generated content).

You can tentatively f

[2022-04-15 18:52] erip commented on #16752
Hmm, I thought I had also tried populating `max_model_length` when using `...Tokenizer.from_pretrained`, but I will need to double-check.

[2022-04-15 19:14] ClonedOne opened #16802 "Add support for moving Trainer out of GPU memory"
# 🚀 Feature request

Hello! I couldn't find any way of doing this, so I'm opening this issue. I'm sorry if there is already support for this and I couldn't find it.

It would be useful to have the ability to completely remove a Trainer and all associated objects (model, optimizer, etc..) out of the GPU memory without having to destroy the Trainer object. This should also allow the reverse operatio

[2022-04-15 20:20] maria22431 opened #16803 "ValueError: too many values to unpack (expected 2)"
hi
i tried run the code bi_LSTM for summerization but in Prediction got this  Error
i cheeked all thing but i didn't understand where the problem, here the Cod:
--------------------------------------------------------------------------------------
# Encode the input sequence to get the feature vector
encoder_model = Model(inputs=encoder_inputs,outputs=[encoder_inputs] + encoder_states1)

# Decoder

[2022-04-15 22:18] Zapotecatl opened #16804 "Blenderbot export issue in ONNX and C++"
# 📚 Migration

Hi everyone, my issue is regarding blenderbot: facebook/blenderbot-400M-distill. I did the exportation with:

`python -m transformers.onnx --model=facebook/blenderbot-400M-distill onnx/`

And I get:

[code]

**The warning: "TracerWarning: Converting a tensor to a Python boolean...", I think it is the classic problem of control flow**. I have tried to export blenderbot with torch.jit

[2022-04-16 03:38] mmbejani commented on #10696
Forget about `transformers.AutoProcessor`. This class is used to load a general `processor` model. By call the constructor of this class you have to submit `feature_extractor` and `tokenizer`, however `Wav2Vec2` just extract the features from raw speech data. Then, there is no `tokenizer` has been defined for it. To load the `processor` you can use `transformers.Wav2Vec2FeatureExtractor` as follow

[2022-04-16 06:35] kd303 commented on #16533
Hi @stas00 ,

Thanks for replying. removing ```cuda()``` resolves the original issue I reported

I also found another issue on how Deepspeed containers are build, I build a container on Intel machine and deployed on A100 AMD, it was giving issue. Just leaving it here, for anyone who may be struggling. It is really a documentation issue not necessarily a bug [issue : 1886#](https://github.com/micro

[2022-04-16 08:32] Jadiker commented on #3946
[This HuggingFace Tutorial](https://colab.research.google.com/github/huggingface/notebooks/blob/master/course/chapter7/section3_tf.ipynb) has this error.

[2022-04-16 08:37] Jadiker commented on #3946
It looks like the way to fix this is to now use `from transformers.data.data_collator import tf_default_data_collator`. Is there any way to update this in the tutorial?

[2022-04-16 09:17] reichenbch commented on #16410
Hey @patil-suraj Work is in progress, I had the misfortune to witness some health issues sometime back. I will update the files and try to get back on track

[2022-04-16 15:02] #15976 closed

[2022-04-16 15:02] #15974 closed

[2022-04-16 15:02] #15973 closed

[2022-04-16 15:02] #15591 closed

[2022-04-16 15:02] #15557 closed

[2022-04-16 15:02] #15512 closed

[2022-04-16 15:03] #15464 closed

[2022-04-16 16:07] marcoxingit commented on #5611
Do you know how can I do this? I tried by using:

    configuration = BertConfig(vocab_size=30_522)
    BertModel(config=configuration).from_pretrained('bert-base-cased')

but it does not work ...
I am a bit confused since it looks to me that my model is not accepting values higher than 29000... How is this possible?

[2022-04-16 16:27] nbroad1881 commented on #16587
Downgrade your pytorch to 1.10 and you won't have this problem.  I'll make a pull request to get this fixed soon.

[2022-04-16 17:17] i-am-neo commented on #13162
Hi @patrickvonplaten
Yes, the preprocess steps I had used for training was almost verbatim from [https://huggingface.co/datasets/ami#dataset-preprocessing](https://huggingface.co/datasets/ami#dataset-preprocessing), except for setting `MAX_LENGTH_IN_SECONDS = 10.0`.

I've taken a closer look at the segment timestamps, and think they are actually inaccurate, likely due to

(italics mine).

Have a l

[2022-04-16 18:52] srulik-ben-david-hs opened #16807 "use transformers on apple mac m1 (TF backend)"
is it possible?
I saw that there is an option to use tensorflow-metal..but does it gonna work seamlessly with transformers?
https://developer.apple.com/metal/tensorflow-plugin/

for pytorch it seems not possible yet.

[2022-04-16 21:15] Gaskell-1206 commented on #5611
I met the same problem. 29000 is a threshold for me too.

[2022-04-16 21:31] Gaskell-1206 commented on #5611
Hi,

I met the same problem as you did.

You can try `model.config.vocab_size` to find the vacob_size of your model. If your pretrained model is 'bert-base-cased', vacob_size will be 28996. But for 'bert-base-uncased', it's 30522.

I'm not sure if it will work for you. (I don't think we can reset vocab_size for pretrained model.

[2022-04-16 21:45] marcoxingit commented on #5611
Thanks, that's It actually. I Also realised It too late... So much time Lost :-D

[2022-04-17 03:16] MegaBoboss opened #16809 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2022-04-17 03:40] AiIsBetter commented on #16587
Got it, thanks.

[2022-04-17 08:50] heyzude commented on #16795
Yeah I did passed a list of images whose images are all in same type.

[2022-04-17 13:04] RodSernaPerez opened #16810 "Missing activation Function"
I think the sigmoid / softmax activation function is missing here

https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a74e974984206/src/transformers/models/roberta/modeling_tf_roberta.py#L1299

[2022-04-17 15:01] #16039 closed

[2022-04-17 15:01] #16037 closed

[2022-04-17 15:01] #16026 closed

[2022-04-17 15:01] #16035 closed

[2022-04-17 15:01] #16016 closed

[2022-04-17 15:01] #16010 closed

[2022-04-17 15:01] #16005 closed

[2022-04-17 15:01] #15935 closed

[2022-04-17 17:59] wiio12 opened #16811 "Confusion about past_key_values and attention_mask in GPT2Attention"
# Enviorment info

- `transformers` version: 4.12.5

Models:

- GPT-2, GPT: @patil-suraj, @patrickvonplaten, @LysandreJik

# Infomation

When I read through the code in `modeling_gpt2`, I got confused about how attention_mask is used. Here, the code concatenates the past key and value into the current hidden_state's key and value. Here's the code in `modeling_gpt2.GPT2Attention`'s `forward` method

[2022-04-17 23:00] hyunwoongko opened #16813 "huggingface-cli login in dockerfile"
Hello. I want to use private model in my docker environment.
for that, I need to login in the dockerfile. (to deploy model using entrypoint)
is there anyway to do this?

[2022-04-17 23:06] hyunwoongko commented on #16813
I copied token file to my /root/.huggingace. but it doesn't work.

[2022-04-18 08:22] jsnfly commented on #15536
I have opened one - feel free to take a look.

Thanks for your feedback :) I will also try to experiment with this a bit more and let you know if I get some more results.

[2022-04-18 11:10] patil-suraj commented on #16410
Hope you are feeling okay now! And no rush, just wanted to check-in. Take your time  🤗

[2022-04-18 11:11] CuarteroAlvaro commented on #16687
I have exactly the same problem. If anyone finds a solution, input would be appreciated. If I manage to solve it, I will post it here ASAP.

[2022-04-18 13:29] #16809 closed

[2022-04-18 14:33] LysandreJik commented on #16784
cc @sgugger

[2022-04-18 14:40] patrickvonplaten commented on #16735
Thanks for the link @yaozhaogoogle,

Note that in the configuration we just provide a default value that could be used when initializing Pegagus from scratch. If one loads a pretrained checkpoint the vocab size is overwritten by the value defined in the config on the HF Hub.

E.g. this Pegagus checkpoint: https://huggingface.co/google/pegasus-large/blob/main/config.json#L122 has a vocab size of 96

[2022-04-18 14:50] #16563 closed

[2022-04-18 15:02] #16003 closed

[2022-04-18 15:02] #15999 closed

[2022-04-18 15:11] patrickvonplaten commented on #16796
Hey @FrankDataAnalystPython,

Great job discovering the bug :slightly_smiling_face: !
It would be great if you could open a PR to fix it

[2022-04-18 15:14] patrickvonplaten commented on #16800
Hey @Hannibal046,

I cannot reproduce the bug, but I also don't think that we are still supporting PyTorch 1.2.0. Could you upgrade to PyTorch library to a newer version and try again?

[2022-04-18 15:47] #16096 closed

[2022-04-18 15:47] LysandreJik commented on #16701
cc @sgugger

[2022-04-18 15:57] LysandreJik commented on #5538
Hey! The recommended way of handling that is to use `from_pretrained`/`save_pretrained` to a directory, and to load from that directory from then on.

If for some reason that's not sufficient, you can use the `huggingface_hub` library as shown in the [following guide](https://huggingface.co/docs/huggingface_hub/how-to-downstream). I believe repositories cannot be downloaded as zips currently, cc @

[2022-04-18 15:59] LysandreJik commented on #16645
Hey @dinhanhx! The transformers library is made to have models be independent of each other, so that when modifying a model file, you're certain that it will not break other models. You can therefore feel free to modify the code of BART for your use-case, and rest-assured that it will not break other models.

If you'd like to create a brand new model from BART and tweak it to your use-case while k

[2022-04-18 16:16] LysandreJik commented on #16503
Might be of interest to @sgugger

[2022-04-18 16:18] LysandreJik commented on #16665
Might be of interest to @sgugger

[2022-04-18 16:24] LysandreJik commented on #16566
@vasudevgupta7, who has worked on the model, might have more information!

[2022-04-18 16:31] LysandreJik commented on #16804
cc @lewtun, maybe also @michaelbenayoun and @mfuntowicz

[2022-04-18 16:42] LysandreJik commented on #16711
Hey @nreimers, thanks for the issue! I think the propositions are sensible, what do you think @sgugger ?

[2022-04-18 16:46] patrickvonplaten commented on #13162
Agree that it'd be very important to test Wav2Vec2 on more "real-world" / "robust" data. Sadly, I don't know any other dataset besides AMI that could fit that use-case. Do you have any ideas?

[2022-04-18 16:53] bhadreshpsavani commented on #16627
Hi @SaulLu,
Can I take MobileBert?

[2022-04-18 16:57] LysandreJik commented on #16813
In your dockerfile, you can manually save the token with the following:

[code]

It will save it in `~/.huggingface/token`. You can check it works with

[code]

[2022-04-18 17:00] sgugger commented on #16784
I don't have a simpler solution.

[2022-04-18 17:02] #16587 closed

[2022-04-18 17:07] sgugger commented on #16620
No, the best metric is updated by the `Trainer` [here](https://github.com/huggingface/transformers/blob/51fa7191b10a13f655d7ab19c7ea10e10078d668/src/transformers/trainer.py#L1758), it's not this callback responsibility to use it.

As mentioned in the [docstring](https://github.com/huggingface/transformers/blob/b18dfd95e1f60ae65a959a7b255fc06522170d1b/src/transformers/trainer_callback.py#L521), are

[2022-04-18 17:07] LysandreJik commented on #16807
I believe it should work with both on M1, @NielsRogge you have experience using `transformers` on M1 macs right?

[2022-04-18 17:09] sgugger commented on #16503
This is not a high-priority feature on our list, as no Transformers pretraining or fine-tuning is making use of such schedulers in the literature. If you want to make a PR with this, I'm happy to have a look though.

[2022-04-18 17:10] sgugger commented on #16665
Once the issue is solved on the Datasets side, the work on the Trainer can begin.

[2022-04-18 17:11] sgugger commented on #16711
I think this should be solved in the `MaskedLM` directly to return a loss of 0.0 and no NaNs.

[2022-04-18 17:17] NielsRogge commented on #16807
I'm using PyTorch only on my Mac, but if you use TF for Transformers you get a nice speedup, see here for a nice thread: https://twitter.com/lvwerra/status/1470818833619468290?t=1bDbo3Kl-MHBF2MbDh5GiA&s=19

[2022-04-18 17:48] patrickvonplaten commented on #16811
Great question @wiio12!

You're exactly right `attention_mask` needs to contain the masking strategy that was used for `past_key_values`. In other words, the `attention_mask` always has to have the length: `len(past_key_values) + len(input_ids)`

[2022-04-18 17:49] #15536 closed

[2022-04-18 17:58] hyunwoongko commented on #16813
Thank you !

[2022-04-18 17:58] #16813 closed

[2022-04-18 18:27] yaozhaogoogle commented on #16735
Thanks for the explanation!

[2022-04-18 18:27] #16735 closed

[2022-04-18 18:34] NouamaneTazi commented on #16687
Could be related to https://github.com/huggingface/transformers/issues/14884

[2022-04-18 18:35] srujanjoshi commented on #16563
Thank you guys for the detailed feedback on my issue!
Really appreciate it, especially as someone who was new to the Transformers library.

[2022-04-18 18:48] LysandreJik commented on #16813
Perfect!

[2022-04-18 18:55] Fikavec commented on #12775
Hi @patil-suraj ! Thank you for a bigger [models](https://huggingface.co/models?other=m2m100-12B) ! Please tell me why "max_length" and "num_beams" parameters not presented in  [config.json](https://huggingface.co/facebook/m2m100-12B-last-ckpt/blob/main/config.json)? Without "max_length" parameter models to much truncates translation results by default. What is the maximum best value of "max_lengt

[2022-04-18 19:34] lorenzoyeung commented on #2831
× Running setup.py install for sentencepiece did not run successfully.

[2022-04-18 20:18] i-am-neo commented on #13162
I'm thinking Youtube.

We can try training first on some English Youtube public AMI-like videos.  (I suspect we'd need to hook up a "spoken" version of a language model for decoding as well, but this is probably the easier part of the task).  If the WER/whatever-metric-we-choose from training looks promising, we could take a subset of [AudioSet](https://research.google.com/audioset///index.html) (

[2022-04-18 21:41] gportill commented on #16616
I was able to install `libaio-dev` and tried to run the nvme offload solution again.

I'm getting a permission error related to nvme: `PermissionError: [Errno 13] Permission denied: '/mnt/nvme0'`

[code]

[code]

Here's the output of `/var/log/syslog`:
[code]

I tried the low memory approach, and I got a message saying that `low_cpu_mem_usage` is not available with DeepSpeed 3, so I changed it to

[2022-04-18 21:43] PrijsDF opened #16822 "Inference/prediction ValueError using BART"
### System Info

[code]

### Who can help?

@patil-suraj

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

[code]

### Expected behavior

[code]

[2022-04-18 21:43] piEsposito commented on #5443
@Rocketknight1 can you share you you've done on wrapping generate inside a tf function? It might be a start point for us to submit a PR and try to solve it.

[2022-04-18 22:34] piEsposito opened #16823 "(TF) model.generate to tf.function for tf serving"
### Feature request

It would be nice if you wrapped the generate method of autorregressive models into a `tf.function`. That way we could export and serve it with all the Tensorflow production stack.

Its kinda a revival of #5443.

It would enable us to do something like:
[code]

And then serve it on TF production stack.

### Motivation

It would be nice if you wrapped the generate method of auto

[2022-04-18 22:49] omarespejel opened #16824 "Tranformers documentation translation to Portuguese"
Hi!

Let's bring the documentation to all the Portuguese-speaking community :)

Who would want to translate? **Please follow our [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md).** Here is a list of the files ready for translation. Let us know here if you'd like to translate any and we'll add your name to the list.

Some notes:
- Please translate using

[2022-04-19 01:57] Hannibal046 commented on #16800
Hi @patrickvonplaten ,
Thanks your time. I upgrade my PyTorch version, and the bug is gone.

[2022-04-19 01:57] #16800 closed

[2022-04-19 03:09] xiadingZ commented on #16513
Hello, @lewtun . I try with this command and it succeed, doesn't throw error.
[code]

[2022-04-19 03:59] wiio12 commented on #16811
Thank you for your response @patrickvonplaten, very clear!  Now I am sure how `past_key_value` and `attention_mask` work.

I wonder if this constraint is mentioned in any documentation, otherwise, the user may get an error with dimension mismatch but not know why this happens.

[2022-04-19 04:10] sidharrth2002 commented on #14238
Hi, could I please get the updated code for `image_utils.py`?

[2022-04-19 08:25] patrickvonplaten commented on #16823
Hey @piEsposito,

The function should now be useable with `tf.function` I think.  We don't want to wrap generate `tf.function` automatically ourselves, but you should be able to do the following now:

[code]

[2022-04-19 08:25] patrickvonplaten commented on #16823
cc @gante

[2022-04-19 08:26] SaulLu commented on #16627
Hi @anmolsjoshi, @tgadeliya, @Rajathbharadwaj and @farahdian,

Just a quick message to see how things are going for you and if you have any problems. If you do, please share them! :hugs:

[2022-04-19 08:30] farahdian commented on #16627
Thanks @SaulLu ! I've been exploring the tokenization test files in the repo just trying to figure out which ones would be a good basis for writing a tokenization test for splinter... if you have any guidance on this it would be super helpful!

[2022-04-19 08:38] patrickvonplaten commented on #16811
Think it'd be a good idea to document this somewhere - do you know of a good place to do so?

[2022-04-19 09:02] Rajathbharadwaj commented on #16627
Hey @SaulLu my apologies, been a bit busy. I'll get started ASAP, however, I still didn't understand where exactly I should run the `cookie cutter`

Help on this would be helpful 😄

[2022-04-19 09:09] SaulLu commented on #16627
Hi @farahdian ,

Thank you very much for the update! To know where you stand, have you done step 3)? Is it for step 4) that you are looking for a similar tokenizer? :slightly_smiling_face:

[2022-04-19 09:22] gante commented on #16823
Hey @piEsposito 👋  As @patrickvonplaten mentioned, we have some generation functionality that can be wrapped by `tf.function` to be highly accelerated -- our tests point at a >30x speedup if an nVidia T4 is used.

The example provided should be functional and XLA-accelerated. However, some advanced features are not yet XLA-compatible, including:
- accelerated serving of different lengths (changing

[2022-04-19 09:32] SaulLu commented on #16627
Hi @Rajathbharadwaj ,

Thank you for the update too!

You can run the `cookie cutter` command anywhere as long as the command is followed by the path to the [folder `adding_a_missing_tokenization_test`](https://github.com/huggingface/transformers/tree/main/templates/adding_a_missing_tokenization_test) in the transformers repo that you have cloned locally.

When you run the command, it will create

[2022-04-19 09:40] farahdian commented on #16627
Appreciate your patience @SaulLu ! Yup I've done step 3 and generated a test tokenization file with cookiecutter. Now onto working on the setUp method 😄

[2022-04-19 10:02] Narsil commented on #16796
@FrankDataAnalystPython
Thanks for the report, opened a PR for the fix !

https://github.com/huggingface/transformers/pull/16828

[2022-04-19 10:15] SaulLu commented on #16627
@farahdian , this is indeed a very good question: finding the closest tokenizer to draw inspiration from and identifying the important difference with that tokenizer is the most interesting part.

For that there are several ways to start:

1. Identify the high level features of the tokenizer by looking at the contents of the model's "reference" checkpoint files (listed inside the `PRETRAINED_VOCAB

[2022-04-19 10:19] SimplyJuanjo commented on #15947
Hey, I would like to translate sagemaker.mdx

[2022-04-19 10:28] Narsil commented on #16252
Closing since this has been fixed.

[2022-04-19 10:28] #16252 closed

[2022-04-19 10:55] patil-suraj commented on #16822
What is the error here ?

[2022-04-19 11:14] wiio12 commented on #16811
Not sure I did it correctly, but I change the `doc_string` in `modeling_gpt2` and `modeling_tf_gpt2` and make a PR #16829.

Correct me if I did it wrong :)

[2022-04-19 11:50] Sandip-Hapani134 opened #16830 "Repeated Generation"
When I am giving input for the summarization, every time it is the generating same summary.  (Sometimes even if I consider the first few lines of input as new input, in those cases also it is generating the same output summary.)

Example:

Input: With an immunocompromised son, how could we not be terrified of COVID making its way into our home? For the past two years, we’ve been so careful to limi

[2022-04-19 11:54] piEsposito commented on #16823
Hey @gante , thanks for the quick reply.
Actually, my problem is specifically creating a serving signature that receives an input with variable length so I can use it with TF Serving in production. Do you have anything on that?

[2022-04-19 12:00] JustABiologist opened #16831 "GPT2.generate() with custom input_embeds argument returning tensor (1*max_length) instead of (batch_size*max_length)"
### System Info

[code]

### Who can help?

@patrickvonplaten, @patil-suraj

Hi everybody I have a problem/bug to report regarding the .generate() function, when using GPT2 with custom embeddings instead of embedding ID's.

When using it like stated below with custom input_embeds, the output shape of the longtensor is [1,maxlength] instead of [batch_size, maxlength]. I am confused as to why this h

[2022-04-19 12:18] Narsil commented on #16524
Hi @davidsbatista ,

Sorry but you cannot pass pretokenized text to the pipelines. The error message is wrong.

You need to pass direct sentences to the pipeline.

[code]

Because pipeline manages the tokenizer itself, it will chunk the sentence as the model expects, and there's no way to force other boundaries by "pretokenizing" sentences.

Why do you want to pass pretokenized sentences ? Was som

[2022-04-19 12:19] #15766 closed

[2022-04-19 12:26] Narsil commented on #16452
Hi @Ierezell ,

This should already be the case, when `truncation=True` the tokenizer will respect `tokenizer.model_max_length` attribute when truncating the input. Do you mind which model is triggering this issue ? It could be a model misconfiguration.

Adding arguments is definitely doable `max_length` is a tricky beast since it means something both linked to the `tokenizer` and the `generate` f

[2022-04-19 12:27] sgugger opened #16832 "Dropping support for Python 3.6"
Python 3.6 [has been retired](https://peps.python.org/pep-0494/#lifespan) on December 21st 2021 and won't get new security releases anymore. As a result, Transformers will stop supporting Python 3.6 and have a minimum requirement of Python 3.7 in the next release (v4.19.0), around the beginning of May.

[2022-04-19 12:44] #16770 closed

[2022-04-19 13:22] Ierezell commented on #16452
Hi @Narsil,

here is a snippet to reproduce the problem

[code]

Note that changing reference to a long string (`"a "*1000`) is still fine but prediction isn't: `"b "*520` raises the error.
(Even if I agree that every input should be of the good format and less than 512 tokens, it's a nice fallback to truncate).

have a great day.

[2022-04-19 14:22] patrickvonplaten commented on #16831
Hey @JustABiologist,

I sadly can't run the above code as I don't have access to `"GPT_2 filepath"` - could you make sure that the code snippet is reproducible?

[2022-04-19 14:25] Rajathbharadwaj commented on #16627
Thank you so much @SaulLu
I understood now, however, I am skeptical about  `slow_tokenizer_use_sentencepiece` question, but I set it to True as it had the `tokenization_electra.py` file but I didn't understand

 So did I select correctly? Or should I set it to False? Apologies for asking so many questions 😄

[2022-04-19 14:40] patil-suraj commented on #16831
There are two issues here.

1. The argument is called `inputs_embeds` and not input_embeds`
2. `generate` doesn't support passing `inputs_embeds` for auto-regressive models, cf
https://github.com/huggingface/transformers/blob/74814574aeab5256ab3c6e428c247739aa0c869d/src/transformers/generation_utils.py#L423-L428

[2022-04-19 15:01] tgadeliya commented on #16627
Hi @SaulLu,
I think my case the easiest one, because `Longformer` model uses actually the same tokenizer as `RoBERTa` with no differences. So, I adapted tests(small refactor and changes) from `RoBERTa` tokenizer and prepare branch with tests. Nevertheless, I really want to dive deeper and study code of `TokenizerTesterMixin` and  if after that I will find some untested behaviour, I will add new te

[2022-04-19 15:13] #16810 closed

[2022-04-19 15:16] gante commented on #16810
Hey @RodSernaPerez 👋  The `sigmoid` activation function was added to our list of TF activation functions, it should be operational now (you will have to install `transformers>=4.19.0.dev0` or pull from `main`).

Feel free to reopen the issue if you run into problems :)

[2022-04-19 15:31] Pannu22 opened #16837 "no attribute ViTFeatureExtractor"
Getting following error:
AttributeError: module transformers.models.vit has no attribute ViTFeatureExtractor

on calling:
`processor = TrOCRProcessor.from_pretrained("microsoft/trocr-large-printed")`

System:
Jenson AGX

Tried in RTX & it is working fine.

Installation:
`pip install git+https://github.com/huggingface/transformers`

[2022-04-19 15:40] gante opened #16838 "TF: XLA model output differs when certain outputs are passed"
Depending on the passed inputs, the output of an XLA-compiled model may significantly differ from its non-XLA counterpart. This suggests we should add tests for XLA-output equivalence, just like we do with e.g. PT-TF, as it is not guaranteed.

At the moment, this blocks further developments in `generate()` (can't reliably reproduce non-XLA results with XLA). I will assess this problem for T5 (firs

[2022-04-19 16:03] stas00 commented on #16616
Apologies if it wasn't obvious you were meant to edit the path to some path on your filesystem. It just happened to be `/mnt/nvme0` on my setup.

So 128MB of CPU RAM.

When dealing with huge models it always helps to have some swap, which extends your effective CPU memory.

So yes, as expected your system kills the process, as it consumes too much CPU memory.

Ah, yes, sorry, that is still a work

[2022-04-19 16:04] ydshieh commented on #16838
Tried twice, for `# case 3 FAILING: with batch size = 1 and attention mask`, the diff is as large as `12.3...`

[2022-04-19 16:09] stas00 commented on #16616
Here is a recipe to add swap memory, of course, edit the path and the desired amount of GBs

[code]

[2022-04-19 16:32] Pannu22 commented on #16837
Installing `Pillow` to env fixed it.

[2022-04-19 16:32] #16837 closed

[2022-04-19 16:32] Rocketknight1 commented on #16838
My best guess is that there are two separate issues:

1) XLA on CPU is buggy (I believe this isn't an intended use-case for XLA anyway, because kernel fusion doesn't make much difference there)
2) GPUs, especially when using tensor cores/TensorFloat32, have somewhat worse precision than CPU, but it's fine if we use a larger tolerance.

[2022-04-19 17:05] SaulLu commented on #16627
@Rajathbharadwaj , I'm happy to help! Especially as your questions will surely be useful for other people

So did I select correctly? Or should I set it to False? Apologies for asking so many questions smile

Some `XxxTokenizer` (without the Fast at the end, implemented in the `tokenization_xxx.py` file), use a backend based on the [sentencepiece](https://github.com/google/sentencepiece) library.

[2022-04-19 17:28] patrickvonplaten commented on #16838
Wait so XLA works on GPU, but not on CPU? That's very weird

[2022-04-19 17:30] SaulLu commented on #16627
Hi @tgadeliya ,

Thanks for the update!

In your case, I wouldn't be surprised if Longformer uses the same tokenizer as RoBERTa. In this case, it seems legitimate to use the same toy tokenizer. Maybe the only check you can do to confirm this hypothesis is comparing the vocabularies of the 'main" checkpoints of both models:
[code]
Turn out the result confirms it!

[2022-04-19 17:38] ydshieh commented on #16838
@gante Probably the following code and outputs could make you spot the places more easily.

There is one thing: XLA model doesn't return `hidden_states`, `attentions`, etc., even if I specify to output them.
Therefore I couldn't compare them.

However, even for `TFT5Model`, the `outputs.encoder_last_hidden_state` already gives an error of `2.80`. So the first step is to identify what happens in th

[2022-04-19 17:58] stas00 commented on #16533
Great to hear that it solved your problem, @kd303

[2022-04-19 17:58] #16533 closed

[2022-04-19 18:29] gante commented on #16823
Pardon me, I wrote a half-truth above :) For encoder-decoder (aka sequence to sequence) models like T5, you can do as I wrote above. For decoder-only models like gpt-2 you can left-pad to a constant length -- see [this test](https://github.com/huggingface/transformers/blob/main/tests/gpt2/test_modeling_tf_gpt2.py#L451) as an example.

[2022-04-19 18:36] PrijsDF commented on #16822
I actually forgot to include the error. I just added it :)

[2022-04-19 18:44] piEsposito commented on #16823
Sorry, but still when I do pad it to `max_length` (if we set padding to `True` it won't pad the max accepted length) it throws me an error:

[code]

Throws me a:

[code]

And of course I can't set `max_length` to anything more than 1024.

Am I doing something wrong?

[2022-04-19 18:47] jordiclive opened #16841 "Converting PyTorch to ONNX model doubles file size for Deberta v3. Not case of renaming."
### System Info

[code]

### Who can help?

@LysandreJik, @patil-suraj

### Describe the bug
When I try and convert `microsoft/deberta-v3-large` to onnx format, the file size doubles to 1.8Gb while the pytorch file size is 800Mb.
There was an issue [here](https://github.com/onnx/onnx/issues/3278#issuecomment-781948998) that was resolved by removing the duplication of weights. However, trying this

[2022-04-19 18:55] gante commented on #16823
The constant length in decoder-only models has to be smaller than `max_length` (as opposed to encoder-decoder models, where it can be padded to `max_length`), and the difference between your constant and `max_length` corresponds to the maximum tokens `generate` can generate.

[2022-04-19 19:38] khoda81 opened #16842 "CodeT5 tokenizer.model_max_length is 1000000000000000019884624838656"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]
This prints `1000000000000000019884624838656`.

### Expected behavior

[code]

[2022-04-19 20:01] #14819 closed

[2022-04-19 20:13] piEsposito commented on #16823
When I pad and leave a few tokens for new generation, it still won't generate my text, but rather some random stuff after about 1000 eos tokens:

[code]

And I get something like

[code]

This result stays the same even when I explicitly mask the padded tokens:
[code]

When we try with the same input and do greedy decoding it makes sense.

[2022-04-19 20:16] kongyurui opened #16843 "Quantizing ONNX text classification model based on "setu4993/smaller-LaBSE" causes much lower precision scores"
### System Info

[code]

### Who can help?

@LysandreJik since LaBSE is based on BERT

Not sure who to ping for optimum.

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The following code trains a s

[2022-04-19 20:30] Rocketknight1 commented on #16838
@gante I think they certainly would be interested, but we'd have to localize the bug a little more! If you could fix an input and make a minimal single module that showed the buggy behaviour, you should definitely report that upstream. I totally understand if that's not a priority with everything else on your plate, though!

[2022-04-19 20:38] winston0410 commented on #4068
@jbmaxwell @xealml I am getting lost on this as well. How do you train XLNet from scratch? I can't find any field for inputting raw data to it

[2022-04-19 21:03] piEsposito commented on #16823
It seems to be related to https://github.com/huggingface/transformers/blob/3104036e7f1a3cd6e07a69d648c3597de32f72fe/src/transformers/models/gpt2/modeling_tf_gpt2.py#L816-L842

Where when we are not passing `use_xla=True` it will set the attention masks as `None`.

[2022-04-19 21:14] patrickvonplaten commented on #16842
Hey @khoda81,

The bug seems to be related directly to the model of @mozharovsky and not really to a canonical model. However, also not that T5 does **not** have a maximum length. You can use T5 with lengths as long as you want until your memory errors out. T5 uses relative positional embeddings so that there is no static weight that will give you an "out-of-index" error.

Also see: https://github

[2022-04-19 21:21] patrickvonplaten commented on #16838
Cool, great job guys in locating the error!

I don't think it's a good idea to to raise an error / exception if XLA is enabled on CPU. XLA should work on CPU - why wouldn't it? To me this clearly looks like a TF bug and quite a big one actually.

IMO, lots of people **debug** their code on CPU in XLA so I think it is pretty important that it works on CPU.
E.g. some generate processors work differe

[2022-04-19 21:23] patrickvonplaten commented on #16838
It shouldn't be too difficult to locate where the difference is coming from since we know that without attention_mask is works no?

[2022-04-19 22:57] lijiazheng99 commented on #5421
An interesting edge case -- when I created my custom classification model ```BertXXXSequenceClassification``` from ```BertPreTrainedModel```, I found out that I can't name layers called ```self.beta_layer```. Otherwise, I get the warning that says beta_layer is newly initialised and won't be able to load its wights and bias from saved checkpoints.
Didn't know what caused this conflict, and refacto

[2022-04-20 01:15] jbmaxwell commented on #16161
I'm finally getting back to this... I've trained the model on my data which seemed to converge pretty well.

There are two tasks I'm interested in: 1) sentence infilling, and 2) paraphrasing. Paraphrasing seems like it should be pretty simple since it kind of amounts to "translating" a sentence in its own language, optionally varying `top_p`, `temperature`, etc.

But I'm really not sure about infi

[2022-04-20 02:56] FrankDataAnalystPython commented on #16796
Dear @Narsil:
 I saw you already finished the PR. Should I close the current issue now?

Many Thanks!
Regards
Xiangyang Ni

[2022-04-20 04:06] stas00 commented on #16616
1. OK, so first we want to shard the T0 checkpoint which then allows us to have smaller chunks to keep in memory while loading the model.

[code]

now use "t0-sharded" as a model name

(at some point we will have a sharded version on the hub)

you can shard it into even smaller chunks, say of 5GB:
[code]

2. then we want this PR https://github.com/huggingface/transformers/pull/16844 which I hope w

[2022-04-20 05:50] srulik-ben-david-hs commented on #16807
thanks a lot!
I'll try it.
so do you mean that you use pytorch without the m1 gpu?

[2022-04-20 06:19] athewsey opened #16845 "AutoFeatureExtractor not respecting override parameters (for LayoutLMv2FeatureExtractor)"
### System Info

[code]

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. In any environment without `pytesseract` installed
2. Create an `AutoFeatureExtractor` for

[2022-04-20 07:34] Jadiker opened #16846 "Range Error for BERT Masked Language Modeling on IMDB"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

https://colab.research.google.com/drive/1ZpYRkJVMF5r3MukUheEFtgDvqax4YCxM?usp=sharing

### Ex

[2022-04-20 07:48] NielsRogge commented on #16845
Hi,

Thanks for your interest in LayoutLMv2! I remember we had a similar request at https://github.com/huggingface/transformers/issues/15269. Shouldn't this solve the issue?

I can't reproduce it, I don't get an import error, even though I don't have Tesseract installed.

[2022-04-20 08:00] sanchit-gandhi commented on #16838
As @patrickvonplaten mentioned, it's pretty imperative to have XLA working on CPU for any kind of debugging - there are all sorts of debugging methods that pull values back to the host and perform checks on an op-by-op basis. These are pretty crucial for understanding the inner-workings of a compiled function that you wouldn't otherwise see if running XLA purely on an accelerator.

Also running JA

[2022-04-20 08:02] dhea1323 commented on #15823
@Samreenhabib hi, can i get your contact ? I want to ask more about fine tuned for multilingual case

[2022-04-20 08:05] JustABiologist commented on #16831
Hey @patil-suraj , sorry for not mentioning, when I use input_embeds the output is the bugish matrix, the decoded output  makes sense though. It just is outputting one sample instead of batch size amount of samples...
When using inputs_embeds it does throw the afformentioned error.

@patrickvonplaten the filepath is "nferruz/ProtGPT2" I corrected it in the issue! :)

Thanks Guys!

[2022-04-20 08:14] patrickvonplaten commented on #16838
Great find @ydshieh! We should talk to the TF guys about this no?

[2022-04-20 08:18] ydshieh commented on #16838
(sorry, accidentally edited @patrickvonplaten above comment)

Yes. Let's extract (or create) some inputs , and reproduce the issue with only the softmax part.

[2022-04-20 08:31] gante commented on #16838
This is great @ydshieh 🔥  I'm going to build a toy example and open an issue in TF, linking to this thread.

[2022-04-20 08:32] hasansalimkanmaz commented on #16549
@saattrupdan @sgugger If you didn't start to work on this issue, I would like to tackle all of this in a PR.

[2022-04-20 08:46] NielsRogge commented on #15823
I think that's because the TrOCR authors initialized the decoder with the weights of RoBERTa, an encoder-only Transformer model. Hence, they used the CLS token as start token.

[2022-04-20 09:12] gante commented on #16823
@piEsposito it seems like we still have a couple of bugs to fix :D

I'm afraid I can't be of much further help -- I'm actively developing XLA + `generate`, but I don't expect to be able to sort your particular issue within the next month. The roadmap is approximatelly XLA logits processors -> XLA beam search -> efficient XLA batching (your issue) -> XLA on more models beyond GPT-2 and T5. When all

[2022-04-20 09:42] FanniSun opened #16847 "get the error "_forward_unimplemented() got an unexpected keyword argument 'labels'""
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

When I train the model defined above, train code like this:

[code]

it return the er

[2022-04-20 09:59] saattrupdan commented on #16549
@hasansalimkanmaz I have not started working on it, no, so if you've got the time to look at it then go ahead 😊

Unless @sgugger have already started on it?

[2022-04-20 10:02] patil-suraj commented on #16831
This is because `input_embeds` is not a valid argument and is ignored. And since there are no `input_ids` provided, `generate` creates one `input_ids` with `bos_token_id` hence the batch size of 1.

[2022-04-20 10:10] IavTavares opened #16849 "Could not load model deepset/minilm-uncased-squad2"
### System Info

[code]

### Who can help?

@Rocketknight1, @LysandreJik,@Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

model_checkpoint = "deepset/minilm-uncased-squad2"
device = -1

model

[2022-04-20 10:14] #16847 closed

[2022-04-20 10:14] FanniSun commented on #16847
It's my error, I write "forward" to "farward"

[2022-04-20 10:39] athewsey commented on #16845
Ahh sorry yes you're right - looks like this is a duplicate and I see my v4.17.0 (3rd Mar) came out before the fix PR was merged (5th Mar)! I got confused because the fix deferred the check rather than pulling forward the parameter override

Thanks for speedy response!

[2022-04-20 10:39] #16845 closed

[2022-04-20 11:02] grassjelly opened #16852 "facebook/detr-resnet output tensor contains all nan value"
### System Info

[code]

### Who can help?

@NielsRogge

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I ran the following code :
[code]

from this page: https://huggingface.co/facebook/detr-resnet

[2022-04-20 11:25] sgugger commented on #16549
I have not :-)

[2022-04-20 11:32] JustABiologist commented on #16831
@patil-suraj
Okay so to circumvent  this I should do it like this ?

`config = AutoConfig.from_pretrained("nferruz/ProtGPT2")
model = GPT2LMHeadModel(config)
TRAIN = model.from_pretrained("nferruz/ProtGPT2")
OUT = TRAIN(inputs_embeds=torch.rand(2, 314, 1280))
OUT['logits'].shape`

And write my own sampling/CLM script ?

[2022-04-20 11:58] osanseviero opened #16854 "Docs link to deepspeed infinity redirect to a 404"
### System Info

[code]

### Who can help?

@stas

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Go to In https://huggingface.co/docs/transformers/performance
2. Click link with "DeepSpeed-Infin

[2022-04-20 12:03] piEsposito commented on #16823
@gante if you have an open-sourced branch I would love to help with that generate stuff. If not, thank you for your time and for trying to help me out with this.

[2022-04-20 12:05] Rocketknight1 commented on #16849
I suspect the cause of this is that the `deepset/roberta-base-squad2` model only exists as a PyTorch model. When you call `pipeline()`, it will select the framework (TF or PyTorch) based on what is installed on your machine. If your laptop has both TF and PyTorch installed, then it will probably select PyTorch and load the model correctly, but if the server only has TensorFlow then it will fail to

[2022-04-20 12:48] h-peng17 opened #16855 "`offset_mapping` is strange for non-ascii token"
### System Info

[code]

### Who can help?

@SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Use BertTokenizerFast
2. tokenize the text
text = "The Dungan Revolt ( 1862–77 ) or Tongzhi Hui

[2022-04-20 12:49] h-peng17 commented on #16855
The environment info is:
- `transformers` version: 4.18.0
- Platform: Linux-4.15.0-136-generic-x86_64-with-glibc2.27
- Python version: 3.9.12
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scr

[2022-04-20 12:54] leondz commented on #16627
Hi, I'm happy to take `MobileBert`

[2022-04-20 13:26] catqaq opened #16856 "How to convert the bert model in tf1 ckpt format which converted by the pytorch version to tf1/tf2 SavedModel?"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1.follow the official demo convert_bert_pytorch_checkpoint_to_original_tf.py to **convert pyt

[2022-04-20 14:11] #16796 closed

[2022-04-20 15:02] #16098 closed

[2022-04-20 15:10] lewtun commented on #16282
Thanks for reporting this bug @minimaxir ! I'll need to have a closer look at what's going wrong in the tracing, but I think your hunch about tuples in the forward pass is the source of the problem.

cc @michaelbenayoun

[2022-04-20 15:26] ayaka14732 commented on #16678
ping @patil-suraj

[2022-04-20 15:35] julien-c commented on #16289
closing as completed

[2022-04-20 15:53] JessicaLopezEspejel opened #16858 "Checkpoints are NOT save in GCS (Google Cloud Storage)"
### System Info

[code]

### Who can help?

@patrickvonplaten @patil-suraj @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Steps to reproduce the behavior:

I am working with BART model in

[2022-04-20 16:29] mattdeeperinsights commented on #15451
@quasimik Great work! Could you provide a step by step of how we use your new class `LayoutLmv2RelationExtractionDecoder`? [I see you have added to this part here](https://github.com/woflowinc/transformers/blob/2a8b0da433f8cbe62809ab13da7197b5c419429d/src/transformers/models/layoutlmv2/modeling_layoutlmv2.py#L558)

[2022-04-20 16:49] gxbag commented on #16759
Hi @patrickvonplaten, thank you very much for answering. Your above provided code does not seem to use the language model. Here is the minimal working example to reproduce the error:
[code]

I believe I should be able to just
[code]
if I had set it up correctly, which I unfortunately have not.

I manually copied config.json from https://huggingface.co/facebook/wav2vec2-large-960h-lv60-self/blob/ma

[2022-04-20 17:13] ChainYo commented on #16308
* `ConvBERT`: #16859

[2022-04-20 17:30] stas00 commented on #16854
Thanks a lot for the report, Omar - fixed here: https://github.com/huggingface/transformers/pull/16860

[2022-04-20 17:42] Z-MU-Z commented on #12571
it seems very strange  for me that local_files_only=True still dosen't work for me
even though it works for BertConfig.from_pretrained

i must follow what this https://github.com/huggingface/transformers/issues/12571#issuecomment-901280736 does

[2022-04-20 17:53] gante commented on #16838
Pinned the problem: it is due to the softmax with numerically masked (= large negative) inputs, on XLA+CPU. I've opened an issue on TensorFlow (as backlinked above), where it contains a simple reproducible example.

Meanwhile, avoid XLA+CPU :D

[2022-04-20 18:07] Ierezell commented on #16452
Hi @Narsil,

My bad for the model, it's a test I'm making and for sure I would need to change it :) Thanks for pointing that out.

For the "UI": I agree that truncating the labels is a really bad thing to do... Maybe just changing the error message could be the solution?  For now, it's a "tensor size error" which does not reflect this "bad behavior/bad inputs".

Something like "It seems your predi

[2022-04-20 18:14] skrsna commented on #16308
Hello 👋🏽, I added RoFormer onnx config here #16861, I'm not 100% sure who to ask for review so I'm posting this here. Thanks 🙏🏽

[2022-04-20 18:25] cerisara commented on #14814
Any progress on this front ? Thanks...

[2022-04-20 18:35] roywei opened #16862 "Language model example hanging"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Just run the examples using command in readme

https://github.com/huggingface/transformers/t

[2022-04-20 18:51] r4ndompuff commented on #15959
You should try something like that (worked for me with debertaV3):

[code]

[2022-04-20 19:05] StefanHeng opened #16863 "Module import takes too long"
### Feature request

Make
[code]

faster

### Motivation

When I import the transformers package, it always takes > 5 seconds on my MacBook Pro machine.

I'm not sure if it's just me but how can I make this faster?

This can get a bit annoying when my debug script is pretty fast to run.

MWE to illustrate the problem

[code]

### Your contribution

NA

[2022-04-20 19:09] nbroad1881 commented on #14712
The fast tokenizers are now merged to main through https://github.com/huggingface/transformers/pull/15529

[2022-04-20 19:09] #14712 closed

[2022-04-20 19:51] ydshieh commented on #16838
If this would require long time for TF team to fix, we might use a wrapped version of `tf.nn.softmax`.
I don't like this approach much though, just an option.

[2022-04-20 20:26] piEsposito commented on #16823
@gante hacking Tensorflow away to make stuff serializable is kind of a hobby and also is paying my bills for a long time, so I can work on that.

I just need a bit more context:
 - How do I "claim" those logit-processors to work on?
 - Should I re-write those tests but using the compiled tf functions?
 - Can you point me to your branch to check how are you adding the new tests (to keep it the same

[2022-04-20 20:34] aalok-sathe commented on #15642
I get `Killed` rather than a `MemoryError` trying to load the weights using `AutoModelForCausalLM`, maybe there is some kind of a memory leak? I was trying to load the model into CPU with `>300GB` of memory.

[2022-04-20 20:49] stas00 commented on #15642
That's typically either cgroups or oom-killer, typically you should see the details in `/var/sys/log` and may be the output of `dmesg` - so it doesn't matter how much memory you have, what matters is how tightly these are configured to kill programs that consume more residential cpu memory than they are configured to allow.

But regardless:

1. shard this large checkpoint first as I have shown her

[2022-04-20 21:33] LysandreJik commented on #16841
Maybe @lewtun and @michaelbenayoun have insights

[2022-04-20 21:37] LysandreJik commented on #16863
Hey @StefanHeng, it should not take that long. What version of `transformers` do you have installed?

[2022-04-20 21:37] LysandreJik commented on #16856
cc @Rocketknight1 @gante

[2022-04-20 21:38] elusenji commented on #16627
I'd like to work on ConvBert.

[2022-04-20 21:41] StefanHeng commented on #16863
Interesting.

I have python version `3.9.7` and `transformers` version 4.18.0 in a conda environment.

[2022-04-20 21:41] LysandreJik commented on #15720
Python 3.6 will be dropped over the next few weeks: https://github.com/huggingface/transformers/issues/16832

[2022-04-20 21:44] LysandreJik commented on #16863
You may have tools that you do not directly need that slow down your instantiation: are you using torch, tensorflow or flax? If you're only using one, can you try to uninstall the other two if they're installed and checking if it speeds up the install?

[2022-04-20 21:46] LysandreJik commented on #16750
cc @sgugger

[2022-04-20 21:48] StefanHeng commented on #16863
I'm using `torch`. Now that you mentioned it, I do also have `tensorflow` installed in the environment too.

Because I use `torch` for the architectures but I need the `tensorboard` under `tensorflow` for visualizations.

[2022-04-20 21:56] StefanHeng commented on #16863
When I uninstall `tensorflow`, I'm seeing ~1 seconds for the `transformers` import. Nice!

but is it possible to speed up loading 2 backends? cos I do need the `tensorboard` functionalities under `tensorflow`...

[2022-04-20 22:30] LysandreJik commented on #16863
Unfortunately, it isn't `transformers` taking all that time, it's likely `tensorflow`. Loading `tensorflow` on its own will likely take most of the time that you saw when you had both frameworks installed, as we load a tiny subset of the items when doing `import transformers`.

[2022-04-20 23:05] sgugger commented on #16750
cc @stas00 for DeepSpeed ;-)

[2022-04-20 23:38] naveace opened #16868 "DeBerta unable to load from cache"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior
I have a shared filesystem where I would like to use the Debert

[2022-04-21 01:21] #16776 closed

[2022-04-21 01:48] stas00 commented on #16750
@zhaowei-wang98, could you please try again explaining what is the problem that you're running into? Please show the actual command line / config you're running as I have a hard time understanding your Issue.

There is no such requirement.

In general there is no problem running T5-11B on A100 (40GB) w/ Deepspeed ZeRO-3 - or at least it worked last time I run it - It was done already more than a y

[2022-04-21 01:49] speedcell4 commented on #2079
I found a way to obtain the subtoken mask.

There is an argument called `return_offsets_mapping`, when you pass the tokenized sequence to the tokenizer, the returned offsets mapping records the start position of each token instead of the entire sentence, for example.

[code]

Forget about the weird word *nicing*, I just want to get some sub-tokens. Now, simply checking if this token starts from th

[2022-04-21 07:11] CyrilShch commented on #15398
@patil-suraj @LysandreJik Hi, thank you for digging into that issue, is there, by any chance, any update on your end about this bug?

[2022-04-21 07:19] NielsRogge commented on #14814
cc'ing @patil-suraj here

[2022-04-21 07:22] #15959 closed

[2022-04-21 07:40] gpucce commented on #16651
I think @patrickvonplaten might be the person to tag to check if this slipped through.

If this doesn't make sense I'll close the issue!

[2022-04-21 07:49] philschmid commented on #16862
Hello @roywei,

The example scripts are always tested and maintained with the corresponding `transformers` version.

I couldn't reproduce your error! Here is how I ran the script
[code]

[2022-04-21 07:59] #16769 closed

[2022-04-21 09:48] ArthurZucker opened #16870 "OpenAI's Jukebox for music generation"
### Model description

**[Jukebox](https://openai.com/blog/jukebox/)** is an autoregressive model for music generation published by OpenAI in 2020. It is based on a [hierarchical VQ-VAE](https://arxiv.org/abs/1906.00446) and Scalable Transformers (based on [Sparse Transformers](https://arxiv.org/abs/1904.10509) ) to create long music samples that can be conditioned on Genres, Artists, Timing and L

[2022-04-21 10:05] gante commented on #16823
Awesome @piEsposito! I will open a PR today, so you can have an example, and post here a more detailed guide :)

[2022-04-21 10:41] patil-suraj commented on #14814
Hey @cerisara ! We have planned to add the `moe_lm` in `Transformers` but I don't have much bandwidth to work on it.  If you are anyone else in the community is interested in adding it, I would be more than happy to help :)

[2022-04-21 10:43] patil-suraj commented on #15398
Sorry to come back to this only now, will push a fix soon (either today or tomorrow)

[2022-04-21 11:12] Ikkor commented on #3285
@patrickvonplaten can you provide example/code implementation?

[2022-04-21 11:34] cerisara commented on #14814
Hi @patil-suraj, thanks, I'm interested in these models and would like to contribute, but I'm afraid my bandwidth is too small as well, at least for now, sorry ;-)

[2022-04-21 11:49] gante commented on #16856
Hi @catqaq 👋  Thank you for posting a detailed description. Before I dig into the technical problem, I'd like to ask you a more general question.

Is it your final goal to obtain a TF `SavedModel` containing `BERT`? If you don't have requirements regarding how it's done, I believe you can also achieve it from our `from_pretrained` model method. See the following example

[code]

Let me know if thi

[2022-04-21 11:53] gante commented on #16830
Hi @Sandip-Hapani134 👋  Assuming you are using our `generate()` function, try adding the `do_sample=True` argument to it.

Let us know if it helped :)

[2022-04-21 12:10] gante commented on #16858
Hi @JessicaLopezEspejel 👋  Most file writing functions, like `torch.save`, don't support writing to/reading from GCS. There are a few workarounds:
- Use TensorFlow, whose native read/write functions support GCS when properly implemented (see [this](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile)) ;)
- Wrap your existing code so as to call read from/write to GCS externally;
- After ru

[2022-04-21 12:25] piEsposito commented on #16823
Thanks!

[2022-04-21 12:48] patil-suraj commented on #16678
Hey @ayaka14732 ! The flax generate method does not support passing in `encoder_outputs`, so `input_ids` is a required input.

[2022-04-21 12:50] catqaq commented on #16856
@gante Hi, thanks for your reply. I've trained a series of models based on bert by pytorch. So, my final goal is to convert the pytorch version bert model to tensorflow savedmodel for deployment. So, i tried to follow your demo(convert_bert_pytorch_checkpoint_to_original_tf.py) to convert my pytorch model to tensorflow1 ckpt model. But ckpt model is not convenient to deploy.

[2022-04-21 12:54] ayaka14732 commented on #16678
Thanks! Why does the flax generate method not support passing in `encoder_outputs`? Is that a bug or a feature?

I am trying to generate with `encoder_outputs`, but I don't have the `input_ids`. That's because the `encoder_outputs` are produced from a custom encoder rather than the original one. What approach would you suggest to achieve this?

[2022-04-21 12:55] ayaka14732 commented on #16678
Thanks! Why does the flax generate method not support passing in `encoder_outputs`? Is that a bug or a feature?

I am trying to generate with `encoder_outputs`, but I don't have the `input_ids`. That's because the `encoder_outputs` are produced from a custom encoder rather than the original one. What approach would you suggest to achieve this?

[2022-04-21 13:09] PrithivirajDamodaran opened #16873 "The bare ViLT Model not working with CUDA ?"
@NielsRogge  - Tried in the stock Colab notebook with the latest version of Transformers. Probably the ```to(device)``` is not handled uniformly for Text Embeddings or Image Embeddings?

What I am trying to do: I need to extract the raw hidden_state or pooler_ouput for large batches of image + text pairs. Use it as a feature for training my custom model.

[code]

Throws

[code]

[2022-04-21 13:12] PrithivirajDamodaran commented on #16697
Ok :-)

[2022-04-21 13:12] #16697 closed

[2022-04-21 13:16] Tanmay06 commented on #16308
Hi! I would like try building the ONNX config for `Reformer`.

[2022-04-21 13:20] gante commented on #16856
@catqaq I see. That script is a bit outdated, and TF 1 is indeed inconvenient. The following script should work for your case:

[code]

Notice the `model_path` variable, which should be your local pytorch model (or the path to the pytorch model on the hub) and the `from_pt` argument in `from_pretrained`. This script should load your PT model, convert it to TF 2, and store it in the saved model for

[2022-04-21 13:21] PrithivirajDamodaran commented on #16873
Thanks, I was assuming ViltProcessor will do it for me. Closing

[2022-04-21 13:21] #16873 closed

[2022-04-21 13:22] JessicaLopezEspejel commented on #16858
Hello @gante

I see, thank you very much. I will try one the workarounds you propose. :)

[2022-04-21 13:24] #16858 closed

[2022-04-21 13:41] catqaq commented on #16856
@gante Thanks! It works well for original pytorch bert model.  But i also have some **customized models based on bert with task related layers**. I found that from_pt related to load_pytorch_checkpoint_in_tf2_model function. So i followed this function to directly convert customized pytorch bert style model. In this case, do I have to rewrite the model (especially the task related parts) with tf2

[2022-04-21 13:45] LysandreJik commented on #16843
Moving that issue to optimum!

[2022-04-21 13:53] gante commented on #16846
Hi @Jadiker 👋  In your notebook, after the `tokenize_and_chunk` cell we can see a warning that explains the error: `Token indices sequence length is longer than the specified maximum sequence length for this model (521 > 512). Running this sequence through the model will result in indexing errors`.

If you add `truncation=True` in the tokenizer call in that cell you should be able to solve the pro

[2022-04-21 14:02] gante commented on #16856
@catqaq if you have task-specific layers that are not defined in the `transformers` repository, I'm afraid you'll also have to create a custom TF2 model architecture, as you mentioned above -- tools like our `from_pt` work because we have the architecture definition in both frameworks, in such a way that we can cross-load weights :)

Since the issue you're having is not a bug in the repository, bu

[2022-04-21 14:16] catqaq commented on #16856
@gante Yep, i will to create a custom TF2 model architecture as close to pytorch version as possible. Thanks for your advice.

[2022-04-21 14:43] gante commented on #16856
Awesome. I'm closing this issue, but feel free to reopen if you run into new `transformers`-related problems 👍

[2022-04-21 14:59] a626709452 opened #16877 "Quick tour_ AutoModel Introduction"
### System Info

[code]

### Who can help?

_No response_

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

from transformers import AutoModelForSequenceClassification
model_name = "nlptown/bert-base-

[2022-04-21 15:08] #16120 closed

[2022-04-21 15:08] #15734 closed

[2022-04-21 15:09] #15608 closed

[2022-04-21 15:22] aalok-sathe commented on #15642
Thanks for the tip on `cgroups` and `oom-killer`, I will inquire about these limits.

I think this model is already sharded into pieces `<1GB` each (see repo here: https://huggingface.co/EleutherAI/gpt-neox-20b/tree/main), so that seems less of an issue.
(more details here: #16659; https://github.com/huggingface/transformers/pull/16659#issuecomment-1104442722)

[2022-04-21 15:51] patil-suraj commented on #16822
This just looks like a typo, the argument to `generate` is `input_ids` and `inputs`.

[2022-04-21 16:03] gante commented on #16823
@piEsposito
[This is the PR for an XLA-compatible repetition penalty logits processor](https://github.com/huggingface/transformers/pull/16879). I've just opened it, so I'd suggest waiting until the review process is complete before starting on a new logit processor.

After the PR above gets approved, the process would be:
- write here which logit processor you would like to work on, so we don't wo

[2022-04-21 16:19] omarespejel commented on #15947
Thanks, @jloayza10 @SimplyJuanjo @jkmg! I just added your names to those files 🤗. Please let me know anything you need.

[2022-04-21 16:46] ri938 commented on #16790
Thanks this indeed did fix the issue with the facebook model but not the kobold model. I guess in this case its an issue with the kobold model and I shoud raise the issue with the provider of this instead.

[2022-04-21 17:40] ChainYo commented on #16308
Hi @Tanmay06 that would be awesome. Don't hesitate to open a PR with your work when you feel it's quite good. You can ping me anytime if you need help!

[2022-04-21 17:50] aalok-sathe commented on #15642
OK, got past the memory issue, it was an issue on my end (slurm job scheduler).

This may be an issue:
[code]

[2022-04-21 18:14] vishnu-anirudh commented on #10137
Hello
To avoid duplication, I just wanted to check if anyone is working on this or if this is still relevant. If someone is still needed for this, I will be interested to take this up.

[2022-04-21 19:09] PrijsDF commented on #16822
Hey @patil-suraj, thank you for your response.

I'm not entirely sure what you mean; I followed the exact implementation as shown here https://huggingface.co/docs/transformers/task_summary#summarization .

However, I just found out that I made a mistake during pretraining... Instead of pretraining for conditional generation, I trained on the CausalLM model. This lead to a model that was not an eco

[2022-04-21 19:29] roywei commented on #16862
Hi I can confirm on single node it's working as expected. I'd like to rule out some possibilities on 2 node run, so trying to run it with DDP + NCCL on 2 nodes.

I added the following env var in `run_mlm.py` to help with pytorch  ddp launch

[code]
distribution = {"mpi":{"enabled":True}}
huggingface_estimator = HuggingFace(
	entry_point='run_mlm.py',
	source_dir='./examples/pytorch/language-modeli

[2022-04-21 20:38] roywei commented on #16862
I think the key difference is if I use the distributed launcher, the job hanged at beginning of the training, if I specify the distribution and num of nodes to 1, it would still hang.
[code]
 If I do not specify distribution arg, it will be ran using `python run_mlm.py` directly and it works fine on 1 node.

[2022-04-21 21:23] stas00 opened #16884 "[tracker] Sharding huge models process and current status"
this is an Issue to track which pre-existing huge models (>11GB) need sharding, which have been completed and the code to do that.

### Why shard huge checkpoints?

Because it takes much less CPU memory to load a huge model of say 42GB, especially if you're loading concurrently in multiple processes.

Here is the breakdown for HF Transformers `from_pretrained` model loading with DDP. The example i

[2022-04-21 22:26] ignacioct commented on #15947
Hi! I would like to translate [create_a_model.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/create_a_model.mdx), if it's still available

[2022-04-22 00:21] nyoungstudios opened #16885 "Tensorflow to Onnx change batch and sequence size"
### Feature request

Add the ability to set the batch size and sequence length when converting a model to Onnx rather than it always defaulting to a batch size of 2 and sequence length of 8. Here is the example code that I have by importing `OnnxConfig` and setting it's `default_fixed_batch` and `default_fixed_sequence` before exporting the model.

[code]

### Motivation

To make it easier to set

[2022-04-22 01:41] speedcell4 commented on #16690
Thanks anyway.

[2022-04-22 03:32] roywei commented on #16862
Hi, I've found the issue, it's from our user's modification of the script, that's setting `preprocessing_num_workers` to a very large number, leading to the hang. Removing that makes both NCCL and SMDDP works. The defaults in this example is working fine as well.

Thanks for all the help @philschmid .
Closing!

[2022-04-22 03:32] #16862 closed

[2022-04-22 03:40] stas00 commented on #16750
OK, but I still can't help you since I don't know how to reproduce your issue as you gave no specific instructions to do so, nor you shared anything about your setup other than the type of GPUs.

But I can probably do some guessing:

To train t5-11b you need at least `11*18=200`GB of memory just for the optim/grads/weights (I assume mixed precision) plus memory for activations and temps, so let's

[2022-04-22 04:31] bobbyhaliwela opened #16888 "KeyError: loss when pretraining using BertForPreTraining"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

==========================================

My dataset is in `.txt` format, and it look like this:
[code]

### Repr

[2022-04-22 05:46] JiYixhu commented on #7361
update transformers will be fine

[2022-04-22 05:47] JiYixhu commented on #7361
update transformers will be fine

[2022-04-22 07:17] philschmid commented on #16862
Hey @roywei,

not sure if you knew this but all `examples/` scripts, including `run_mlm.py` support distributed training (data & model parallelism) out of the box through the `Trainer`, here is an example notebook for Data parallelismhttps://github.com/huggingface/notebooks/blob/main/sagemaker/03_distributed_training_data_parallelism/sagemaker-notebook.ipynb

[2022-04-22 07:51] ChainYo commented on #16885
I don't get the goal of this feature because when you convert a model to onnx you want to set the `batch_size` and `sequence_length` to dynamic. This way people can use the model with any `batch_size` and any `sequence_length`.

The `batch_size=2` and `sequence_length=8` are here for creating a dummy input which is required by ONNX for conversion. It allows onnx to understand the flow though the m

[2022-04-22 07:57] julien-c commented on #16884
Both of your commits (https://huggingface.co/bigscience/T0/commit/858cd92e88c9548d194f61259af965d1d1e916b7 and https://huggingface.co/t5-11b/commit/82929bfe90cbfc4e9a3dedf38bb967650ddb6ac2) looks good to me, @stas00.

One thing I realize just now is that the `pytorch_model.bin.index.json` index files are LFS-tracked even though they're small JSON files, because there is the `*.bin.*` pattern in .g

[2022-04-22 08:09] #16855 closed

[2022-04-22 08:11] ChainYo commented on #16804
Hi @Zapotecatl , could you try to add the right feature to your export command? I see that `facebook/blenderbot-400M-distill` is for `ConditionalGeneration` in the [model config file](https://huggingface.co/facebook/blenderbot-400M-distill/blob/main/config.json#L8) but you use the default feature while exporting.

Here are all available features for Blenderbot ONNX conversion: `default`, `default-

[2022-04-22 08:37] nyoungstudios commented on #16885
@ChainYo maybe I am missing something, but the code sample I have calls the same functions as in the transformers.onnx package cli command. And trying to run an inference without matching the dimensions will return an error like this:

with this input
[code]
Returns this traceback
[code]

[2022-04-22 08:43] akshatshah21 commented on #15666
@jegork I am looking to use the Flax weights provided in the original ViViT repo in PyTorch too. Can you guide me how to convert the weights?

[2022-04-22 09:16] jegork commented on #15666
@akshatshah21 I still can't finish writing the tests for my pull request to add ViViT, but I have created a repo with my converter for you.
https://github.com/jegork/vivit-weights-converter

[2022-04-22 09:19] akshatshah21 commented on #15666
Thanks a lot @jegork !

[2022-04-22 09:25] ChainYo commented on #16885
It doesn't run the onnx checker function and the validating function to validate that the outputs are the same as the pytorch model.

Oh and another thing I just noticed, you are using a `base` model but with `sequence-classification` task. You need to finetune it or get an already fine-tuned model to be able to use it for sequence-classification.

[2022-04-22 10:11] patrickvonplaten commented on #16651
Think in this case the best is to do a little tweak to the original modeling file and use this one instead :-)

[2022-04-22 10:16] patrickvonplaten commented on #16651
cc @sgugger - think that's also a good use case for: https://huggingface.co/docs/transformers/custom_models?

[2022-04-22 10:18] patrickvonplaten commented on #16838
I'm sure somewhere hidden there is a tf softmax that is stable on XLA. We could then create a custom `def softmax(...)` in https://github.com/huggingface/transformers/blob/main/src/transformers/tf_utils.py that wraps `tf.nn.softmax(...)` in non-XLA and a stable version for XLA

[2022-04-22 10:23] gante commented on #16838
It should work! The toy example below adds said wrapper (with `+1`), and both CPU and GPU XLA have a difference of `1e-8` 👍

[code]

Opening a PR soon with this temporary fix, and will replace ALL softmax calls with this wrapped version.

[2022-04-22 10:24] patrickvonplaten commented on #16759
Hey @gxbag,

Yeah, your model here: https://huggingface.co/gxbag/wav2vec2-large-960h-lv60-self-with-wikipedia-lm/tree/main should indeed work out of the box.

Why doesn't it work? Can you show a codesnippet that shows how it doesn't work?

[2022-04-22 10:26] nyoungstudios commented on #16885
yes, I did also run this Onnx output model checker
[code]

But that isn't the problem. Also, I am using Tensorflow not PyTorch. And I am just using the base model here as an example. I have fine tuned the model to make predictions, but that doesn't seem to be relevant to the problem here.

The traceback shows that it is expecting a batch size of 2 and a sequence size of 8. Here I provided a batch

[2022-04-22 10:33] ydshieh commented on #16838
Could we use the following instead 🙏

[code]

[2022-04-22 10:34] ydshieh commented on #16838
The problem with `+1` is that it won't work in general (despite it works in our 2 cases, but I don't know why )

[2022-04-22 10:39] gante commented on #16838
@ydshieh I agree that it should be more stable numerically, but I'd rather add a fixed constant. `reduce_max` would add extra computational requirements (reduce operations are not lightweight) and, if it does fix numerical stability issues, it could be introducing a drift between the model at train time and at inference time.

Perhaps not `1`, but a very small constant like `1e-9` (which also work

[2022-04-22 10:45] ydshieh commented on #16838
OK, good point @gante . And my suggestion didn't work well even with your code above! So good for me to use a constant.

[2022-04-22 12:18] ChainYo commented on #16885
Oh man, I didn't see it was a feature request, I'm so sorry! I though you were facing a bug while converting your model to onnx :weary:.

That could be nice to add this yes! Even if doing it via the command line is easier and works like a breeze.

[2022-04-22 12:22] elusenji commented on #16627
@SaulLu  I'm having trouble identifying ConvBert's 'reference' checkpoint files on the hub. Would you kindly provide more guidance on this?

[2022-04-22 12:34] SaulLu commented on #16627
Hi @elusenji ,

In the `src/transformers/models/convbert/tokenization_convbert.py` file you can find the global variable `PRETRAINED_VOCAB_FILES_MAP`:
https://github.com/huggingface/transformers/blob/6d90d76f5db344e333ec184cc6f414abe2aa6559/src/transformers/models/convbert/tokenization_convbert.py#L24-L30

In particular [YituTech/conv-bert-base](https://huggingface.co/YituTech/conv-bert-base) is a

[2022-04-22 12:35] sgugger commented on #16888
Please use the [forums](https://discuss.huggingface.co/) to debug your code. In this instance, you are not providing the model with the `next_sentence_label` it needs to compute the loss.

[2022-04-22 13:08] Rocketknight1 commented on #16838
From further experimentation, I think the reason the small constant works has nothing to do with numerical stability - I think inserting an addition just changes the particular compiled program that XLA generates, and so avoids this issue.

[2022-04-22 13:18] sgugger commented on #16651
BERT and RoBERTa supports the pooling that was introduced in their paper. Transformers is not a modular toolbox, so as Patrick said, if you want to tweak this, you will need to edit the modeling file, but we won't accept a change in the code to support this. And as Patrick pointed out, you can still share your tweaked model if it performs better!

[2022-04-22 13:20] gpucce commented on #16651
Ok thanks! I will close the issue then

[2022-04-22 13:20] #16651 closed

[2022-04-22 13:26] kanwari3 opened #16890 "LED Model returns AlgorithmError when using SageMaker SMP training"
### System Info

[code]

### Who can help?

@ydshieh @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Create huggingface estimator
2.     training_args = Seq2SeqTrainingArguments(

[2022-04-22 13:32] sgugger commented on #16890
cc @philschmid

[2022-04-22 13:43] elusenji commented on #16627
Yes, this helps!

[2022-04-22 13:44] ydshieh commented on #16890
I would also suggest @kanwari3 to
- try to use the same Python/PyTorch/transformers versions (and other libraries) on SageMaker that work locally (if possible)
- if the above doesn't work, try to use on local machine the same versions as those used on SageMaker, and see if you still get errors

[2022-04-22 14:16] searchivarius commented on #15401
Hi @sgugger this error now re-appears in `postprocess_qa_predictions_with_beam_search`. What I can see is that `postprocess_qa_predictions` is more defensive in checking if the answer is in scope, but `postprocess_qa_predictions_with_beam_search` is not.

I am preparing a PR for a cleaned-up version of examples. It will hopefully fix this too. I guess xlnet is much longer to run compare to bert-ba

[2022-04-22 14:28] stas00 commented on #16884
OK, I will wait for a decision on `*.bin.*` as it is being discussed on slack and then adjust accordingly.

[2022-04-22 15:27] sgugger commented on #15966
I think this can be closed now, since your PR was merged @lmvasque

[2022-04-22 16:47] loretoparisi opened #16895 "Datasets: Cannot cast array data from dtype('O') to dtype('int64') according to the rule 'safe'"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

ERROR:
[code]

while loading without `features` it loads without errors

[code]

but

[2022-04-22 16:56] roywei commented on #16862
Thanks a lot! I will pass this as a reference to our user.

[2022-04-22 17:43] gante commented on #16823
(The PR got approved and merged. Working on the `TFLogitsWarper` subclasses now.)

[2022-04-22 18:27] elsheikh21 opened #16898 "ValueError: cannot find context for 'fork' when processor_with_lm.batch_decode(_logits)"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

## To reproduce

- The model I am using (Wav2Vec2.0 Large XLS-R 53 English):

- Steps to

[2022-04-22 18:39] julien-c commented on #16884
Why do you use the threshold size of >11GB?

I think we can do this only for >30GB models (30GB is the newly updated Cloudfront file size)

[2022-04-22 18:45] stas00 commented on #16884
Because our default shard size is 10GB, and there are quite a few models that are 10.5GB, so no need to bother with those. That's why it's >11GB and not >10GB.

We need models to be sharded to smaller chunks not because of Cloudfront limitations, but because it's very expensive to load these large models cpu memory wise, especially in the DDP situation.

e.g. if you have 8 gpus and unsharded model

[2022-04-22 19:16] piEsposito commented on #16823
Let's do it man.

[2022-04-22 22:31] gxbag commented on #16759
When I run this snippet:
[code]

The error output is exactly the following:
[code]

When I run the longer snippet:
[code]
The output is exactly the same:
[code]

[2022-04-22 22:35] stas00 commented on #16884
so here is what I did to move index files back to normal:

[code]

courtesy of https://stackoverflow.com/a/54119191/9201239

[2022-04-23 03:09] alisonhc commented on #15966
Thanks everyone! Closing.

[2022-04-23 03:09] #15966 closed

[2022-04-23 08:43] ChainYo commented on #16804
By default `atol` is set to 1e-05, you should try to set it to 1e-04 in your case.

Here is the new command:

[code]

[2022-04-23 09:54] Oxi84 opened #16903 "T5base memory usage for interface"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Just load t5 base from any example.

### Expected behavior

Is it normal that T5 base us

[2022-04-23 10:34] ftnext opened #16904 "Source link of transformers.pipeline is broken"
This is about **documentation link error**.

There is a issue on the page https://huggingface.co/docs/transformers/main_classes/pipelines#transformers.pipeline

<img width="550" alt="image" src="https://user-images.githubusercontent.com/21273221/164890499-54a79a1a-12c7-4776-bcf7-c39bf6f3efc1.png">

**Procedure**
Click the link of `<source>`, then go to https://github.com/huggingface/transformers/b

[2022-04-23 10:49] ftnext opened #16905 "Missing whitespaces at RuntimeError message"
Trailing whitespaces are missing,

https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a74e974984206/src/transformers/pipelines/__init__.py#L494-L499

so the error message is a little hard to read.

[code]

- Python 3.9.4
- transformers 4.18.0

[2022-04-23 14:01] ZonglinY commented on #16595
I meet the same problem... Even padding to the left still results in worse performance than not padding.

[2022-04-23 14:51] silencio94 opened #16908 "Name of LayerNorm parameter in RobertaLMHead."
As you know, current training codes using `weight decay`, usually detect target parameters based on their names.

e.g.)
[code]

In the code below
,https://github.com/huggingface/transformers/blob/v4.18.0/src/transformers/models/roberta/modeling_roberta.py#L696,
Layernorm module defined as "layer_norm". Hence "layer_norm" naming, weight-decay will be applied to RobertaLMHead.layer_norm, different f

[2022-04-23 16:31] Zapotecatl commented on #16804
Yes, thanks, now the model is exported correctly (I changed the value of my variable constexpr int64_t output_01 = 8008).
However, the issue about the repetition continues. Let me show you:

[code]
Now, I get in my C++ program the next output:

`2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 21, 21, 21, 2, 2, 2, 2, 2, 2

[2022-04-23 18:02] wanyu2018umac commented on #16366
Hi all @Narsil @gante @LysandreJik,

Sorry for my late response, I've been working on something else recently.

I've uploaded the model files of mine, named [UniTE-UP](https://huggingface.co/ywan/unite-up/) and [UniTE-MUP](https://huggingface.co/ywan/unite-mup/), and I'm implementing the UniTEForSequenceClassification class for my models.

But here, if I want to use the from_pretrained method to i

[2022-04-23 18:29] mpoemsl opened #16909 "Mask Token Spacing in RobertaTokenizer"
### System Info

- `transformers` version: 4.18.0
- Platform: Linux-5.16.13-200.fc35.x86_64-x86_64-with-glibc2.34
- Python version: 3.10.2
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?

[2022-04-23 19:59] cakiki opened #16910 "push_to_hub on custom tokenizer causing a flood of "deadlock" messages"
### System Info

[code]

### Who can help?

@SaulLu @Narsil @n1t0

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Reproduction code available here: [slides.ipynb](https://github.com/cakiki/huggingfa

[2022-04-23 21:52] salrowili commented on #15398
@patil-suraj Thank you for this amazing effort to take care of seq2seq models and their applications. it would be great if this issue got fixed.

[2022-04-23 22:15] code-review-doctor opened #16911 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/huggingface/transformers/blob/d91841315aab55cf1347f4eb59332858525fad0f/src/transformers/utils/hub.py#L751
https://github.com/huggingface/transformers/blob/d91841315aab55cf1347f4eb59332858525fad0f/src/transformers/configuration_utils.py#L637
https://g

[2022-04-24 02:26] SinclairCoder commented on #16380
@patrickvonplaten  @Narsil   Looking forward to your reply.

[2022-04-24 05:26] Ap1075 commented on #11307
@KB-g Thanks for the code snippet, really useful. Made a small addition (no_grad) for inference, would help people facing OOM error(s):

[code]

[2022-04-24 05:32] stas00 commented on #16884
OK, all 19 models on the list have been sharded and pushed - if there are more let me know.

[2022-04-24 05:58] catqaq commented on #16856
@gante Hi, I rewrite my model in tf2 and convert pt_model to tf_model sucessfully. But the difference between the pt_model and tf_model is huge. At first I thought there was something wrong with my tf_model implementation, but I double-checked the mapping of every variable and made sure there was nothing wrong. So, i tried to check the original bert model and the difference between pt_bert and tf_

[2022-04-24 12:13] gante commented on #16856
Hi @catqaq 👋  I'm afraid I'm unable to directly help you with your custom model -- as per our "[issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md#the-github-issues)", we simply don't have the capacity to support custom code :)

I can, however, tell you what I would do in your situation. Mismatches often arise in two places:
1. weights that were not properly loaded

[2022-04-24 12:32] catqaq commented on #16856
@gante Hi, the point now is that not only does my custom model have a difference between tf_model and pt_model, **the original bert model also has a huge difference between tf_model and pt_model**. As mention above, **there is a diff up to 13.102652549743652 for bert-base-chinese and 6.858981132507324 for bert-base-uncased**.

[2022-04-24 12:50] Mahesha999 commented on #5611
Thanks for pointing out so precisely, though I am wondering how you came to know, I mean the process... Did you debugged in the stack trace till its root or you are contributor to transformers or torch libraries, so it came naturally to you?

I faced this issue while implementing XLM-RoBERTa. Here is how I fixed this:

    xlmr_tokenizer = XLMRobertaTokenizer.from_pretrained('xlm-roberta-large')

[2022-04-24 13:27] gante commented on #16856
@catqaq -- that indeed seems like a relevant bug, thanks for pointing that out! I will have a look and let you know of my findings.

[2022-04-24 15:13] gante commented on #16856
@catqaq the weights and the conversion script seem fine. Have a look at the script below:

[code]

The output for this script on `main` is
[code]

Replacing `model_name` to `"bert-base-chinese"` and `text` to `"这是一个随机测试"`, the output is
[code]

[2022-04-24 15:23] catqaq commented on #16856
@gante Hi, thanks for the experimental verification. What caused our experimental results to be completely different? Transformers version? I use 4.2.1, which version of your transformers?

[2022-04-24 15:30] gante commented on #16856
Hi @catqaq -- I'm testing on the current version of transformers' code, which is the unreleased `4.19.0.dev0`. Perhaps it is an error related to an older version, but the latest release (`4.18.0`) should also behave correctly. My advice here would be to update your version of transformers, since we don't fix older versions :)

[2022-04-24 15:58] catqaq commented on #16856
@gante Thanks! Our production environment uses an older version, and I didn't find a similar problem in the issues, so at first I thought the diff was caused by incorrect parameter loading. But **after checking all the parameters one by one, I started to suspect that it was a version problem**. **Then I started trying to use the new version of the conversion code, and the results were the same as

[2022-04-24 16:19] Oxi84 commented on #14649
It is too bad that models that is advertised of doing multipl;e tasks is actually not capable of it.

[2022-04-24 16:29] iamshreeram commented on #16564
Hi, I have converted from stereo to mono (400MB) but inference still fails with below error.
[code]
I believe OS is terminating the process due to heavy memory usage. What is the max size limit for this inference to work?

[2022-04-24 16:59] gante commented on #16895
Hi @loretoparisi 👋 this seems to be a `datasets` issue, I'd suggest opening an issue there 👉 https://github.com/huggingface/datasets

[2022-04-25 02:04] seanbenhur opened #16914 "LayoutLMv3: Pre-training for Document AI with Unified Text and Image Masking"
### Model description

LayoutLMV3 is the successor of the LayoutLM models. the models are specialized in multimodal document analysis tasks and achieve SOTA results on them.

The current [code](https://github.com/microsoft/unilm/blob/master/layoutlmv3/layoutlmft/models/layoutlmv3/modeling_layoutlmv3.py) for the LayoutLMV3 is implemented in huggingface format.

Since the code is already more simila

[2022-04-25 02:24] #16888 closed

[2022-04-25 03:15] catqaq commented on #16856
Hi@gante, It works! In transformers 4.18, max absolute difference between models (tf_custom_model_from_pt and pt_custom_model) outputs is 1.7881393432617188e-07. Then I compared TFBert implementations in 4.2.1 and 4.18. For
TFBertModel and TFBertMainLayer, the most obvious difference is that new version removed input_processing function. Could this be the reason?

[2022-04-25 07:11] ChainYo commented on #16804
I never used onnx model with C++, but I think you should check the way you load the model, how you tokenize inputs and what is your InferenceSession code.

[2022-04-25 07:29] loretoparisi commented on #16895
Thank you opened!

https://github.com/huggingface/datasets/issues/4210

[2022-04-25 07:29] #16895 closed

[2022-04-25 08:39] IlyasMoutawwakil commented on #15823
Hi @NielsRogge , I'm having a problem with fine-tuning Base-TrOCR. I launched the training two times and it stopped at an intermediate training step I get an error :
[code]

I'm not sure if it's from the tokenizer or the feature extractor (both in th TrOCR processor from the tutorial). or is it because we are callinf the label `labels` instead of `label`/`label_ids`. I don't want to use more compu

[2022-04-25 08:54] IlyasMoutawwakil commented on #15823
I see we are using the `default_data_collator` but our dataset returns `labels` instead of `labels_ids` could that be the problem?
https://huggingface.co/docs/transformers/main/en/main_classes/data_collator#transformers.default_data_collator
but it doesn't explain why one of the "features" would be of size 152.

[2022-04-25 09:09] julien-c commented on #16884
Examples of commits restoring index files to non-LFS:

- https://huggingface.co/bigscience/T0/commit/6a981956e2d0601aff8b9b8caf76bdebdfedff29
- https://huggingface.co/t5-11b/commit/17eca4b4fcdc56f878d0518e928a17fa6d71ab8b

Example of commit on Eleuther-owned model:
- https://huggingface.co/EleutherAI/gpt-j-6B/commit/d2ea4ce5253728dd5541727d8ef209cf9b48530d

[2022-04-25 10:02] younesbelkada opened #16924 "[BigScience176B] Model conversion from Megatron-LM to transformers"
### Feature request

Creating here a thread for the model conversion of the BigScience-176B model from Megatron-LM to the transformers library. I will summarize here what I have done so far, the current status of the conversion procedure, as well as a summary of the 'discoveries' that I have made and the small details that we have to care about when dealing with the conversion procedure. I did my

[2022-04-25 10:05] younesbelkada commented on #16924
I will start by linking this thread to this issue. A possible next step and improvement could be to get some ideas of the equivalency tests that has been made by this PR.
bigscience-workshop/Megatron-DeepSpeed#121

[2022-04-25 10:10] #16807 closed

[2022-04-25 10:39] thomasw21 commented on #16924
Also I think the big picture is we want to generate ASAP. (perhaps even before checking exactitude of conversion :S)

[2022-04-25 11:48] NielsRogge commented on #16807
Yes, for now. However the PyTorch team is planning to add support for it.

[2022-04-25 11:51] sgugger commented on #16924
As a side note, I'm working on a solution to do model parallelism/offload while maximizing the GPU(s) memory/RAM available which should be useful to run this model on all kinds of setups (albeit more slowly). Should land in Accelerate in the coming weeks :-)

[2022-04-25 12:07] anton-l commented on #16564
Hi! Could you please post a code snippet that shows the `pipeline` parameters that you've used for inference here? :)

[2022-04-25 12:40] NielsRogge commented on #15823
Hi, the `default_data_collator` just stacks the pixel values and labels along the first (batch) dimension.

However, in order to stack tensors, they all need to have the same shape. It seems like you didn't truncate some labels (which are `input_ids` of the encoded text). Can you verify that you pad + truncate when creating the `labels`?

[2022-04-25 12:47] ZhangYunchenY opened #16928 "A bug in modeling_ibert.py"
[code]

In _modeling_ibert.py line 147_ may use a wrong quantizer, should be self.embeddings_act2.

[2022-04-25 14:04] patrickvonplaten commented on #16898
Related https://github.com/woven-planet/l5kit/issues/129

[2022-04-25 14:05] ShaneTian opened #16930 "[Generation] `length_penalty` means `beam_alpha`"
https://github.com/huggingface/transformers/blob/508baf194313c397345af868202404e285494a28/src/transformers/generation_utils.py#L949-L952
https://github.com/huggingface/transformers/blob/508baf194313c397345af868202404e285494a28/src/transformers/generation_beam_search.py#L829

There are two issues about `length_penalty`:
1. Actually, `length_penalty=1` does **NOT** mean no penalty. It is no penalty

[2022-04-25 14:07] patrickvonplaten commented on #16898
Hey @elsheikh21,

Let's try to narrow the bug further down :-)

Does the following work for you:

[code]

?

[2022-04-25 14:08] ShaneTian commented on #16930
See https://github.com/huggingface/transformers/issues/4915  https://github.com/huggingface/transformers/issues/4918#issuecomment-681985118  https://github.com/huggingface/transformers/issues/14768

[2022-04-25 14:10] patrickvonplaten commented on #16759
Hey @gxbag,

Your repo does not have a model PyTorch file. Could you add the correct `pytorch_model.bin` to your folder here: https://huggingface.co/gxbag/wav2vec2-large-960h-lv60-self-with-wikipedia-lm/tree/main ?

[2022-04-25 14:12] patrickvonplaten commented on #16903
@Oxi84,

Could you please provide us with a codesnippet that shows the error?

[2022-04-25 14:14] patrickvonplaten commented on #16564
Also see docs here: https://huggingface.co/docs/transformers/main/en/main_classes/pipelines#transformers.AutomaticSpeechRecognitionPipeline.chunk_length_s

[2022-04-25 15:02] #16248 closed

[2022-04-25 15:02] #16216 closed

[2022-04-25 15:02] #16211 closed

[2022-04-25 15:02] #16205 closed

[2022-04-25 15:38] Ierezell opened #16931 "ZeroShotClassificationPipeline not using GPU"
### System Info

[code]

### Who can help?

Hello, @Narsil sorry to bother you once again....

When using a ZeroShotClassificationPipeline, it seems that a lot of preprocessing is done on CPU instead of GPU.

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My ow

[2022-04-25 15:47] elsheikh21 commented on #16898
Hello @patrickvonplaten

I have tried to run the snippet and this Is the traceback

[code]

[2022-04-25 16:01] elsheikh21 commented on #16898
I have read this thread, yet the error itself occurs when I call processor.batch_decode and I am working on the project not just to be used on my local device only

[2022-04-25 16:28] Oxi84 commented on #16903
@patrickvonplaten

Here is it - it takes 1300 mb of memory and the model size is just 850 mb. I tried all combinations, and 1300 mb is minimum. For example T5 large takes around 2000 MB, and ithe model size is 2.7 GB so it is more than 3X larger.

I expected T5 base would be no larger than 600 MB.

    from transformers import T5ForConditionalGeneration,T5Tokenizer,T5TokenizerFast
    model1b = T5

[2022-04-25 16:48] patrickvonplaten commented on #16898
This seems to be the error then.

Could you try to replace `"fork"` with `"spawn"`?

[2022-04-25 16:48] patrickvonplaten commented on #16898
If `"spawn"` works then it might make most sense to just update `"fork"` to `"spawn"`

[2022-04-25 17:04] elsheikh21 commented on #16898
I have tried to run with `"spawn"` and it works fine, but in that case I will need to change the file `transformers.models.wav2vec2_with_lm.processing_wav2vec2_with_lm.py` and I guess that wont work when I run the same code on another machine, is there a way to force `"spawn"` when `"fork"` does not work?

[2022-04-25 17:05] gante commented on #16856
@catqaq probably not -- the `input_processing` got replaced by the `@unpack_inputs` decorator on top of `call()`. They have the same purpose, but the decorator results in cleaner code and in direct variable use (as opposed to `inputs[variable_name]`)

[2022-04-25 17:06] gante commented on #16856
Possibly something got changed in the tool that converts PT weights into TF. I can't confirm, as that predates my existence at HuggingFace :)

[2022-04-25 17:11] patrickvonplaten commented on #16898
Think we can just replace `"fork"` with `"spawn"` - do you want to open a PR to fix it? :-)

[2022-04-25 17:18] elsheikh21 commented on #16898
Yes, I would happily do that, I guess it would be something along those lines? please feel free to modify my approach. Otherwise I will start reading about collaborating and how to open PR

[code]

[2022-04-25 17:28] francisco-perez-sorrosal commented on #15450
Hey @LysandreJik, thanks for your pointers! (and sorry for the late response) Yes, I already saw that but, the solution implying the override in `compute_loss()` in the Trainer implies that, if you are using the `AutoModel*` classes (e.g. AutoModelForSequenceClassification) the model's `forward()` method and the logic for deciding the problem_type (using `self.config.problem_type` and which includ

[2022-04-25 18:10] stancld commented on #16422
Still active

[2022-04-25 19:10] #16838 closed

[2022-04-25 19:15] #16911 closed

[2022-04-25 19:15] sanxchep commented on #8771
@stas00 dont be shy, pile em up :)

[2022-04-25 19:17] sanxchep commented on #9996
how did you infer bro?
got something ?

[2022-04-25 19:31] LysandreJik commented on #15857
I'll put the `WIP` label so that it is not closed!

[2022-04-25 20:45] Witiko opened #16936 "Adding tokens to `RobertaTokenizer` is fast, but loading the extended tokenizer from disk takes tens of minutes"
### System Info

[code]

### Who can help?

@SaulLu @Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I train a BPE tokenizer on a domain-specific dataset and save it as [`tokenizer-latex.json

[2022-04-25 23:43] ymoslem commented on #12570
In Jupyter Notebook, we can use one of these:

[code]

[code]

[2022-04-26 01:00] anas-awadalla commented on #16595
@patil-suraj Could you clarify your response above? I closed the issue previously because padding on the left works well for me but would still like to understand why that's the case.

[2022-04-26 02:21] armancohan opened #16938 "tokenizer return_special_tokens does not work correctly with custom special tokens"
The tokenizer's returned `special_tokens_mask` does not take into account the newly added `special_tokens`.

### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

##

[2022-04-26 02:31] catqaq commented on #16856
@gante Yep, i didn't notice the @unpack_inputs decorator which plays a similar role as input_processing at first. But as mentioned above,  new version convertion scripts combined with old transformers leads to the same results as old convertion scripts. Anyway, let's put this question aside for now. One last question is that for my custom model based on bert, is it necessary to use @unpack_inputs

[2022-04-26 02:45] iamshreeram commented on #16564
Thanks for quick reply. The memory error was while performing inference with logits
[code]

While using `pipeline`, It took almost an hour to process but the output was empty.

Below is the snippet -
[code]

Output -
[code]

[2022-04-26 03:13] Zapotecatl commented on #16804
Thanks for your suggestions @ChainYo.

I checked my C++ code with care. I didn't find errors.

I did the equivalent program in phyton. Please, let me show you:

[code]
The output that I get is the same that in my C++ program:

[code]
I really want to overcome this, any suggestion is welcome!

[2022-04-26 05:52] ChainYo commented on #16804
Do you get the same result with another Blenderbot model if you have one to test?

Your python code looks good, I must try it to see how it goes

[2022-04-26 05:55] faysalhossain2007 opened #16939 "Segmentation fault whenever trying to load model"
### System Info

[code]

### Who can help?

@LysandreJik
@patrickvonplaten

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Whenever I try to run the following code from (https://github.com/microsoft

[2022-04-26 06:02] ShaneTian commented on #16930
cc @patrickvonplaten
https://github.com/huggingface/transformers/blame/508baf194313c397345af868202404e285494a28/src/transformers/generation_beam_search.py#L829

[2022-04-26 06:15] Jadiker commented on #16846
Nope, same error: `indices[15,32] = -9223372036854775808 is not in [0, 28996)`.

[2022-04-26 06:24] Oxi84 commented on #16938
I also found that -  even when you add these specialized tokens it does not tokenise correctly.

[2022-04-26 06:28] Oxi84 commented on #16903
Good thing is that when i load base and large model together it takes 2.7Gb of memory, while only base is 1.3Gb and only large is 2.3GB. Also adding additional base models seem to take just 200 MB. I suppose there is some kind of general cache you have implemented for all T5 models together.

    from transformers import T5ForConditionalGeneration,T5Tokenizer,T5TokenizerFast
    model1ba = T5ForCo

[2022-04-26 07:31] Narsil commented on #16931
@Ierezell ,

preprocessing will always happen on CPU so it's not entirely surprising. There's no way to make preprocessing happen on GPU (tokenization) afaik.

Here you're using 3k sentences X 3k labels so we're looking at 9M individual `input_ids` sequences that have to be generated.

Can you try doing this:

[code]

Should be easier on your RAM, please note that `list(itertools.permutations)` is

[2022-04-26 07:48] Narsil commented on #16936
Hi, pretty sure this is because `add_tokens` and therefore the `trie` creation is done N times for all the N tokens, which is indeed excruciatingly slow (and completely uncessary).

I think we can create the `trie` only once, wdyt @SaulLu

[2022-04-26 08:00] patrickvonplaten commented on #16898
I think we can actually just change `"fork"` to `"spawn"` (no need for a try, ... expect IMO). According to https://stackoverflow.com/questions/64095876/multiprocessing-fork-vs-spawn and some other docs, `"spawn"` is safe and given that the child process is LM-boosted decoding (which is always slow), doing the switch should be fine

[2022-04-26 08:27] SaulLu commented on #16936
I share your analysis @Narsil ! When the `from_pretrained` method is called, the tokens are added 1 by 1 in this loop.
https://github.com/huggingface/transformers/blob/fa322474060beb3673cf5a3e39ccd3c8ad57ecd3/src/transformers/tokenization_utils_base.py#L1948-L1974

My memory may be faulty, but I had the impression that I had already read in an issue / PR that there could be a difficulty to circumv

[2022-04-26 08:39] markovalexander opened #16940 "Labels shift in seq2seq example"
### System Info

[code]

### Who can help?

@sgugger, @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Just run https://github.com/huggingface/transformers/blob/main/examples/pytorch/tra

[2022-04-26 08:40] #16940 closed

[2022-04-26 08:40] markovalexander commented on #16940
I should read the documentation carefully...

[2022-04-26 09:18] sijunhe commented on #8775
Seems like this issue is a bit stale but I could use it as a first issue to start contributing. Mind if I take this?

[2022-04-26 09:27] candalfigomoro commented on #15982
@patrickvonplaten @patil-suraj @Narsil
So the solution would be to implement a fast tokenizer for Marian?

[2022-04-26 09:42] gante commented on #16856
It is not :) The decorator does things like converting deprecated arguments into the new arguments, unpacking tensor dictionaries, etc. If you pass the expected inputs with the correct type, it shouldn't be needed.

[2022-04-26 09:52] chamidullinr commented on #16308
Hello! I would like to work on ONNX config for `ResNet`.

[2022-04-26 09:55] TejasDuseja opened #16942 "Pretraining code of LayoutLMv2"
I was wondering is pre-training code of LayoutLMv2 model publicly available. @NielsRogge

[2022-04-26 10:06] Narsil commented on #16936
We did it in  tokenizers` since the `Trie` insertion order of added tokens should not be important (this is also currently the case in slow tokenizers)

https://github.com/huggingface/tokenizers/blob/main/tokenizers/src/tokenizer/serialization.rs#L172

There might be other things to deal with in the python code, but the `Trie` itself doesn't care about insertion order, so we can create it only onc

[2022-04-26 10:24] SaulLu commented on #16936
Yes I absolutely agree! It just seemed important to mention it because the code that generates the multiple `Trie` builds currently is code that is shared between the fast and python tokenizers. :smile:

[2022-04-26 10:59] gante commented on #16846
@Jadiker Thank you for the update :) The problem seems to raise from your custom tokenization function, which is likely not returning the correct data format. See [this](https://colab.research.google.com/drive/1oZ3CMFXOaBZYRVaNlkqEMnQrcwqr7hS_?usp=sharing) notebook, which successfully runs your code if we skip `tokenize_and_chunk`. Inside `tokenize_and_chunk`, you append `chunks.append(all_input_i

[2022-04-26 10:59] #16846 closed

[2022-04-26 11:04] snowith commented on #3946
I got an ImportError using `from transformers.data.data_collator import tf_default_data_collator`.
To me, the problem seems to happen only when TPUs are turned on.
When I try to run on CPU or GPU, I can access and use `DefaultDataCollator` without any problem, but TPUs always run to this error.

[2022-04-26 11:22] ChainYo commented on #16308
Nice, don't hesitate to ping me if help is needed :hugs:

[2022-04-26 11:33] catqaq commented on #16856
@gante Got it. thanks!

[2022-04-26 13:29] NielsRogge commented on #16852
Hi,

Sorry I can't really help here, I don't have any experience with machines like Jetson Nano :(

[2022-04-26 14:39] Ierezell commented on #16931
Hello @Narsil,

Thanks for the fast reply :)

It was my guess but I'm happy to have the confirmation.
I just didn't though that pre-processing could take that much memory (in the example it's too much for sure).

As it's utterances X labels the memory requirement can raise quite fast (in my case 10 labels vs 500).
Using a generator will surely save me some memory! My fix was batching on the labels

[2022-04-26 14:39] #16931 closed

[2022-04-26 15:03] #16060 closed

[2022-04-26 16:23] elsheikh21 commented on #16898
Okay let us do it your way then, I have also created a custom dataset loader (from flac/wav audio files) and model finetuner, evaluator if those can be helpful for the community I would love to share them as well

For now I will open a PR for `spawn` and `fork`

[2022-04-26 17:19] dhea1323 commented on #14195
How about handwritten text in indonesian?

[2022-04-26 17:44] armancohan commented on #16938
I got it working by using the `tokenizer.get_special_tokens_mask` and passing the `already_has_special_tokens=True`, instead of using the `__call__` function of the tokenizer.
In any case, the interface for `tokenizer(..., return_special_tokens_mask=True)` is confusing, and one has to look at the actual [source code](https://github.com/huggingface/transformers/blob/aaee4038c3c34faea58c84e04fc88297

[2022-04-26 17:59] infoCoachAI commented on #12807
@patil-suraj It has been two months since your last post on Blender 2.0. Do you know when it will be included in Transformers?

[2022-04-26 20:11] logan-markewich opened #16949 "LayoutLMV3"
### Model description

LayoutLMv3 is a pre-trained multimodal Transformer for Document AI with unified text and image masking. The simple unified architecture and training objectives make LayoutLMv3 a general-purpose pre-trained model. For example, LayoutLMv3 can be fine-tuned for both text-centric tasks, including form understanding, receipt understanding, and document visual question answering,

[2022-04-26 20:59] LysandreJik commented on #8775
What do you think @sgugger @patrickvonplaten?

[2022-04-26 21:07] LysandreJik commented on #16904
cc @sgugger @mishig25

[2022-04-26 21:08] #16905 closed

[2022-04-26 21:08] sgugger commented on #8775
Not sure it's worth the time: what exactly would we gain from it apart avoiding storing all args from the init? Since we would need to convert all configurations together (for inheritance you need to go from dataclasses to dataclasses) this is work that can't be split across several PRs and needs to happen all at once.

I also had trouble several times in `TrainingArguments` where the fact it's a

[2022-04-26 21:08] LysandreJik commented on #16914
cc @NielsRogge :)

[2022-04-26 21:14] sgugger commented on #16904
`doc-builder` doesn't like objects defined in `__init__`, will send a fix.

[2022-04-26 21:52] JessicaLopezEspejel commented on #10479
Hello,

@[sshleifer](https://github.com/sshleifer) how can I freeze only the first two layer from the encoder (I am using BART), and how can I change the dropout of some layers also in BART?

Thank you

[2022-04-26 22:24] Witiko commented on #16936
Thank you for investigating. Should I investigate and open a PR, or are you planning to tackle this, @Narsil?

[2022-04-26 22:57] Sorrow321 opened #16952 "cannot import name 'Data2VecForCTC' from 'transformers'"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Following the code sample in https://huggingface.co/facebook/data2vec-audio-large-960h I

[2022-04-26 23:25] nissansz commented on #14195
How to train crnn ocr model with transformer? steve8000818@gmail.com

[2022-04-27 00:00] nyoungstudios commented on #16885
No problem, I can work on a pr for this in my free time. I did try running this example but with PyTorch and was able to use the Onnx model without a fixed sequence length or batch size. Curious to know if you know if Tensorflow to Onnx supports dynamic sequence length and batch size like PyTorch to Onnx? If not, I think I might try to explore seeing that that is any option before writing code to

[2022-04-27 00:56] louis030195 commented on #12807
Blenderbot2 is obsolete now. See Seeker https://parl.ai/projects/seeker/

Unfortunately, these conversational AIs seems to be a combination bunch of models and/or APIs, so I understand that they enter with difficulty in Huggingface's transformers.

I wrote something to deploy Seeker and its API on Kubernetes:
https://louis030195.medium.com/deploy-seeker-search-augmented-conversational-ai-on-kubern

[2022-04-27 01:55] Jadiker commented on #16846
@gante Thanks for your time and for the information! I really appreciate it.

Two comments:
1. **All the code (including the `tokenize_and_chunk` function) in the notebook is directly from Hugging Face.** It comes from [this notebook](https://colab.research.google.com/github/huggingface/notebooks/blob/master/course/videos/mlm_processing.ipynb) which is linked in [this tutorial](https://www.youtube

[2022-04-27 02:49] dhea1323 commented on #15689
hello,

how to save the model from seq2seq and load it?

[2022-04-27 04:03] bnaman50 commented on #10479
Hey @JessicaLopezEspejel ,

`model.get_encoder().layers` will give you a list (`torch.nn.modules.container.ModuleList` to be precise) of layers in encoder, and you can freeze the required layers using the `freeze_params` function provided in the `utils.py` file. I have included a small code snippet for your reference. Hope this helps!

[code]

Thanks,
Naman

[2022-04-27 04:14] victordibia commented on #6551
I am currently attempting to train a TF model (using Keras) using a dataset pipeline constructed with tf.data where I use a tf.py_function that tokenizes batches of data _on the fly_.

[code]

When I sample from this pipeline, the result looks sensible

[code]

However, when I try to train a model using this dataset pipeline, I get an error.

Training code
[code]

error

[code]

Any pointers as to

[2022-04-27 05:25] JessicaLopezEspejel commented on #10479
Than you so much @bnaman50 , I will try it.

[2022-04-27 06:49] NielsRogge commented on #16952
Hi,

Data2Vec is only available on the main branch for now: pip install git+https://github.com/huggingface/transformers.git.

[2022-04-27 06:55] beyondguo opened #16955 "config.json not found!"
### System Info

[code]

### Who can help?

@sgugger
I am training a NER model following tutorial:
[code]

Then I got this error:
[code]

This is so wired! From my understanding, the config.json file should be written, so such error shouldn't occur.

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` fo

[2022-04-27 06:56] NielsRogge commented on #16942
Hi,

Microsoft hasn't open-sourced any pretraining code, unfortunately.

[2022-04-27 06:57] beyondguo commented on #16955
Sorry to issue here, I have already asked this question in the forum but haven't receive any response.

[2022-04-27 06:58] NielsRogge commented on #16949
Duplicate of #16914

[2022-04-27 07:47] CaoYiqingT opened #16956 "How to train over VERY LARGE dataset?"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

None

### Expected behavior

[code]

[2022-04-27 07:48] #16956 closed

[2022-04-27 07:50] CaoYiqingT opened #16957 "How to load VERY LARGE dataset?"
### System Info

[code]

### Who can help?

Trainer: @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

None

### Expected behavior

[code]

[2022-04-27 08:41] mrinalTheCoder commented on #10146
@neel04 I am facing the same issue, the model seems to be resetting after each epoch. Could you please share what fixes you implemented?

[2022-04-27 09:27] phayat opened #16960 "Word limit with mBART-50 translation"
I'm using facebook/mbart-large-50-many-to-many-mmt model to translate french texts to english, but it seems the translation is limited to the first 110 words of the input text.

Do you confirm? and is there a way to fix this?

Thanks in advance.

[2022-04-27 09:33] gante commented on #16846
Oops, forgot to change the permissions. Should be okay now

[2022-04-27 09:38] Jadiker commented on #16846
After looking at the notebook you linked, it seems like the issue is that the tutorial notebook gives two different options for tokenizing text - by using both of them, rather than just using the first one, I introduced a bug into the code.

Does that sounds accurate?

[2022-04-27 10:08] patrickvonplaten commented on #16564
Hey @iamshreeram,

Can you maybe upload the audio of the video to somewhere it can be downloaded?

[2022-04-27 10:10] patrickvonplaten commented on #16939
Hey @faysalhossain2007,

Could you please provide a short and reproducible code snippet? E.g. if only the model loading leads to a segmentation fault,
could you please just provide a 4-liner:

[code]

[2022-04-27 10:16] patrickvonplaten commented on #16930
Hey @ShaneTian,

Good catch! I think that's exactly right - we should change the docs here to:

[code]

Would you like to open a pull request for this?

[2022-04-27 10:19] patrickvonplaten commented on #16903
Hey @Oxi84,

Note that some GPU memory is always taken up by PyTorch itself. See thread here: https://github.com/huggingface/transformers/pull/16881#issuecomment-1106576937

[2022-04-27 10:59] gante commented on #16846
@Jadiker Yeah, the problem seems to be at the dataset preparation stage. To be candid, I also can't find the issue from a quick glance -- I've double checked the `input_ids`, they are all within `vocabulary_size`, so `gather` shouldn't complain 🤔  Can you have a look at the script example [here](https://github.com/huggingface/transformers/blob/main/examples/tensorflow/language-modeling/run_mlm.py)

[2022-04-27 11:03] Sorrow321 commented on #16952
Hi

I can't find the name **Data2VecForCTC** in https://github.com/huggingface/transformers/blob/main/src/transformers/__init__.py either.

[2022-04-27 11:43] sgugger commented on #16955
This means the folders were not created. Are you sure you point to locations where the Python script can write.

[2022-04-27 13:03] HLasse opened #16962 "Can't reproduce training of wav2vec2-large from documentation"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Pretraining a wav2vec-large model using the documentation under [examples/speech-pretrai

[2022-04-27 13:48] Darth-Carrotpie commented on #12807
Blenderbot 2 has memory as well as search engine capabilities, so the potential to remember chat topics between sessions. Unless I'm missing something, SeeKeR doesn't seem to have this feature, so I wouldn't call Blenderbot completely obsolete just yet...

[2022-04-27 15:02] #15779 closed

[2022-04-27 15:03] MorningStarOvO opened #16967 "cannot import name 'RegNetModel' from 'transformers'"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

from transformers import RegNetModel

### Expected behavior

[code]

[2022-04-27 15:03] #16443 closed

[2022-04-27 15:04] gante commented on #16447
Mr. bot, certainly not stale ;)

[2022-04-27 15:30] sijunhe commented on #8775
I think this is a bit easier than you thought because `class` can inherit from `dataclass` and vice versa. We don't have to have a gigantic PR that changes 150+ files. We can change `PretrainedConfig` into `dataclass` first and do the rest in separate PRs in a backward compatible fashion. See the example blow:
[code]
But I do agree that this is not the best ROI and quite a bit of trivial work just

[2022-04-27 15:34] sgugger commented on #8775
In that case, okay for me if you want to try to convert `PretrainedConfig` first. If the tests don't pass and you struggle to fix them though, don't spend too much time on it and look for another way to contribute :-)

[2022-04-27 16:19] yongzx commented on #2401
Having the same issue with T5 model.

[2022-04-27 18:17] bilalghanem opened #16971 "AttributeError: 'DataParallel' object has no attribute 'save_pretrained'"
### System Info

[code]

I am training a T5 transformer (T5ForConditionalGeneration.from_pretrained(model_params["MODEL"])) to generate text. The model works well when I train it on a single GPU. But when I want to parallel the data across several GPUs by doing `model = nn.DataParallel(model)`, I can't save the model.

The error is:

### Reproduction

Wrap the model with `model = nn.DataParallel(m

[2022-04-27 18:34] leo-liuzy opened #16972 "Issue in reformer: Reformer doesn't depend on its key feature -- `LSHSelfAttention`"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Make file changes (very minimal changes) as my PR here:  https://github.com/leo-

[2022-04-27 21:17] loretoparisi opened #16975 "Trainer: TypeError: an integer is required (got type NoneType)"
### System Info

[code]

### Who can help?

@lys

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

Stack trace:

[code]

### Expected behavior

[code]

[2022-04-27 21:35] patrickvonplaten commented on #16952
Here it is: https://github.com/huggingface/transformers/blob/dced262409177586bb510b6b724c762fb89da0e8/src/transformers/__init__.py#L880

Note that:

[code]

should also already work on master

[2022-04-27 21:39] SteeleRobert commented on #16566
Just a follow up on this post, I have since spoke to the first author on the paper, they limit random attention to the first 1024 tokens based on better empirical results from cross validation. Something to keep in mind if you are ever using this model since you might want to change this behavior depending on the task.

[2022-04-27 21:39] #16566 closed

[2022-04-27 21:39] patrickvonplaten commented on #16962
Hey @HLasse,

Could you increase this parameter: https://huggingface.co/facebook/wav2vec2-large-lv60/blob/main/config.json#L62 to `0.5` and see if it works then? It seems like given the sequence length you are not sampling enough negative targets.

Also it'll be really hard / impossible to do a full pretraining on a single T4 GPU

[2022-04-27 21:55] #16949 closed

[2022-04-27 23:09] lorr1 opened #16976 "Bug: Finetuning large models resume checkpoint error"
When finetuning a large model (e.g. Eleuther 6B), you shard the checkpoints upon saving [here](https://github.com/huggingface/transformers/blob/c79bbc3ba54a81dab2eac13d89f264ed64cb2460/src/transformers/modeling_utils.py#L193). However, upon resuming the checkpoint (and loading the best checkpoint after training), you confirm if there is a valid checkpoint assuming weights are no sharded [here](htt

[2022-04-28 00:19] Sorrow321 commented on #16952
Data2VecForCTC is not the same as Data2Vec**Audio**ForCTC

[2022-04-28 00:55] mpoemsl commented on #16627
Hi @SaulLu, I would like to work on `RetriBert`.

[2022-04-28 01:29] nnlnr commented on #16627
Hi @SaulLu, I'd be happy to work on `LED` - Thanks!!

[2022-04-28 03:31] CaoYiqingT opened #16978 "Data collator using in Parallel training & Disable to use DistributedDataParallel"
### System Info

[code]

### Who can help?

Library/Trainer: @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

code sample that reproduces the problem(with data): https://drive.google.com/fil

[2022-04-28 05:29] CaoYiqingT commented on #16978
Setting nproc_per_node=2 enables the multi-gpu training by ddp for the first 500 steps. But right after the 500th step, the same problem occurs as follows:
Traceback (most recent call last):
  File "base-Trainer.py", line 67, in <module>
    main()
  File "base-Trainer.py", line 62, in main
    trainer.train()
  File "/home/caoyq/.conda/envs/torch_cp37/lib/python3.7/site-packages/transformers/trai

[2022-04-28 06:28] RaiAmanRai opened #16982 "Exporting DeBerta using custom onnx configuration"
### Feature request

I am trying to export a DeBerta model, but since the current version of transformers[onnx] doesn't support DeBerta architecture, I am trying to do it by implementing a custom onnx configuration. Although, I am able to provide the required inputs, I am not really getting the required output shape for **Sequence Classification** task.

I also tried to use the approach mentioned

[2022-04-28 06:47] Oxi84 commented on #16903
Thanks.
It is awesome idea to merge all the models on one flask file/server, this saved me 1GB of memory.
i use gc collect and cuda empty cache to remove things from memory after each interface and a certain number of batches if not after each..

[2022-04-28 06:54] Slyne opened #16983 "how huggingface process uneven input tensors"
### Feature request

For IterableDataset, it seems there's no way to handle the uneven input tensors in trainer.py. (Please correct me if I misunderstant this).
Pytorch document suggests to use join: https://pytorch.org/tutorials/advanced/generic_join.html#what-is-join

Secondly, the dataloader for IterableDataset doesn't have sampler, which may be an issue when num workers > 0.
https://github.com

[2022-04-28 07:52] PrithivirajDamodaran opened #16984 "Getting a fixed size embedding from the last hidden state."
I am trying to play with the bare vision model's last hidden state (like ViT, BEiT). How can I get a fixed size representation out of the last_hidden_state which is of shape (channels, height, width) say of 1D? Should I simply flatten it?

Please advice

[2022-04-28 08:01] HLasse commented on #16962
That works, thanks!

I know - this was mainly to get an estimate of training time on different hardware setups. Danish wav2vec models coming up soon! :)

[2022-04-28 08:01] #16962 closed

[2022-04-28 08:18] SparkJiao commented on #14375
@arvind-nd Hi, you can change the code in modeling_deberta_v2.py:

https://github.com/huggingface/transformers/blob/main/src/transformers/models/deberta_v2/modeling_deberta_v2.py#L120

by either override the ``DebertaSelfAttention`` module or copy the script and then change it. This works for me.

[2022-04-28 08:22] Narsil commented on #16936
Hi @Witiko ,

I don't have a lot of bandwidth atm to handle this. If you can try and open a PR that would be awesome.
Feel free to ping me if you want early feedback (doesn't matter if PR is not ready).

Cheers,
Nicolas

[2022-04-28 08:26] NielsRogge commented on #16984
Hi,

First of all, please use the forum for these kind of questions, we'd like to keep Github issues for bugs/feature requests.

Second, a last hidden state is typically of shape (batch_size, seq_len, hidden_size) for these kind of models, as they are Transformer-based. You feed a sequence of patches through a Transformer encoder, hence you end up with a vector for each of these patches at the end

[2022-04-28 08:42] PrithivirajDamodaran commented on #16984
Rank Apology - I will use the forum going forward.

But just to close this one out, maybe I am not explaining properly: I am using BEiT as the image encoder and BERT as the Text encoder. I am trying to get a fixed size 1D representation of the last_hidden_state of BEiT to concatenate with a BERT embedding to feed into an MLP head.

Can you help me? (If you want me to move this right away to the fo

[2022-04-28 09:33] oorojoo opened #16985 "Beginning word ids"
tokenizer = AutoTokenizer.from_pretrained("roberta-base")
inputs = tokenizer('in an ideal situation, it works')
print(inputs.word_ids())

Returns
[None, 0, 1, 2, 3, 3, 3, 4, 5, 6, None]

Are there any methods to identify which token is the beginning position for a word
For example:
Returns
[None, 1, 1, 1, 1, 0, 0, 1, 1, 1, None]

where 1 is the start token for a given word and 0 is a token that is

[2022-04-28 10:16] Witiko commented on #16936
Hello @Narsil,

neither do I, but I can take a stab at it sometime the next month. It seems to me that a simple fix might be to add a boolean parameter `_postpone_optimization` to `add_tokens()`, so that we can prevent the trie from being constructed. However, this does not solve the problem for users who would call `add_tokens()` repeatedly with many small batches of tokens. A more robust fix, it

[2022-04-28 10:18] marksverdhei opened #16986 "Warning tells you you will get indexing errors in T5 for going beyond max length"
### System Info

[code]

### Who can help?

@patrickvonplaten @saul

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

To reproduce:

[code]
[code]
No indexing errors

### Expected behavior
The warning

[2022-04-28 10:37] nandwalritik commented on #16308
Hi! I would like to work on ONNX config for `BigBirdPegasus`.

[2022-04-28 10:49] marksverdhei opened #16987 "Memory calculator for transformer models"
### Feature request

This feature request is quite high level.
The feature is some tool, function, object, etc. that takes in information such as model config, trainer arguments, and max sequence length and calculates the expected memory usage. It could for instance be used to produce a warning if expected memory exceeds current available memory, and lets you select your hyperparameters with memor

[2022-04-28 11:22] sgugger commented on #16978
Please use the [forums](https://discuss.huggingface.co/) to debug your code (which you should provide if you want people to be able to help you) as we keep issues for feature requests and identified bugs in the library.

[2022-04-28 11:30] Narsil commented on #16936
`add_tokens` already accepts lists, so sending the maximum possible amount of tokens in one go is the way to go, laziness is not the solution to this problem here I think.

[2022-04-28 11:37] ChainYo commented on #16308
Hi, nice! If you need help you can tag me.

[2022-04-28 12:50] patrickvonplaten commented on #16972
Hey @leo-liuzy,

Sorry what exactly is the issue here with Reformer? Is the training not working?

[2022-04-28 12:53] patrickvonplaten commented on #16952
There is no `Data2VecForCTC`

[2022-04-28 13:15] gxbag commented on #16759
Hey @patrickvonplaten,

Thank you so much for the hint! With this almost everything is solved as the model with the above snippet can now produce a result and it correctly uses the language model.

Something still seems off: When I use a longer audio file and use the striding method (as per this blog post: https://huggingface.co/blog/asr-chunking) of the pipeline to process longer audio, the last

[2022-04-28 13:15] patrickvonplaten commented on #16986
Thanks a lot for the issue @marksverdhei . You're right T5 has no fixed max length - so this warning is confusing.

The reason why lots of people associate T5 with a max length of 512 was that it was pretrained on a max length of 512, but is not limited to this length!

It has shown to generalize well to longer sequences. Also see: https://github.com/huggingface/transformers/issues/5204

[2022-04-28 14:10] Pzoom522 opened #16991 "The current equivalent of transformers.models.bert.modeling_bert.gelu"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi, I believe it's an issue relevant to version migration. The code I'm using contains
[code]
which seems to be no longer usab

[2022-04-28 14:49] sijunhe commented on #8775
Hmm this is more complicated than I thought. `PretrainedConfig`, with all that logic in the constructor, properties and class methods, is too heavy of a class to be a textbook `dataclass`. You are right that I should look for something else :)

[2022-04-28 15:02] #16287 closed

[2022-04-28 16:27] thegregyang commented on #16157
After discussion with Edward, we think perhaps hosting custom model code on the Hub would be the best way to go. We have some questions about this:

1. Is there an API to initialize a model from scratch instead of from a checkpoint (in contrast to `AutoModel.from_pretrained`)?
2. Is there intellisense or other user-facing tools in VS Code or other IDEs to facilitate the usage of a model from the H

[2022-04-28 16:31] #16984 closed

[2022-04-28 18:02] Sorrow321 commented on #16952
Yes, but there is on the [website](https://huggingface.co/facebook/data2vec-audio-large-960h)
![image](https://user-images.githubusercontent.com/20703486/165815507-0fb4054f-f6e2-4f48-9a2c-ca21a497ad27.png)

[2022-04-28 18:20] NielsRogge commented on #16952
Soon we'll have a feature that allows you to report this directly on the model repo ;) stay tuned!

[2022-04-28 18:20] NielsRogge commented on #16952
But yes I'll fix it, thanks for reporting

[2022-04-28 18:29] ioana-blue opened #16998 "Question on model_max_length (DeBERTa-V3)"
### System Info

[code]

### Who can help?

@LysandreJik @SaulLu

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I'm interested in finding out the max sequence length that a model can be run with. A

[2022-04-28 19:14] mrtoronto opened #17000 "Padding vs truncation logging mixup"
https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a74e974984206/src/transformers/tokenization_utils_base.py#L1470

Looks like this error should probably say truncation side instead of padding side.

[2022-04-28 22:55] XinhaoMei opened #17001 "Text Generation for decoder"
### Feature request

BERT and most Transformer models can be used as the decoder with the cross-attention layer randomly intialized if we set is_decoder True. We could use these model as decoder in an encoder-decoder framework while the encoder is our own defined model, and use the model for multi-modal text generation tasks.
For my case, I am doing audio captioning and I want to use the AutoModel

[2022-04-29 00:27] jtfields opened #17002 "HuggingFace/BigBird RuntimeError: Internal: src/sentencepiece_processor.cc"
### System Info

[code]

### Who can help?

@ydshieh, @SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

from transformers import BigBirdTokenizer, BigBirdForSequenceClassification
print('Loadi

[2022-04-29 02:39] omarespejel commented on #16824
USP 🇧🇷 presente!

Obrigado @vitorfrois e @rzimmerdev! Coloquei como WIP (work in progress) os docs em que estão trabalhando 🤗. @rzimmerdev muito obrigado pelo seu PR! Se você puder, por favor, coloque aqui quais outros documentos você deseja traduzir. Podemos adicionar mais se formos mais longe 🚀

[2022-04-29 02:45] rzimmerdev commented on #16824
Oi Omar, eu conclui a tradução dos seguintes docs:

pipeline_tutorial.mdx
training.mdx
accelerate.mdx
multilingual.mdx
installation.mdx

Ainda pretendo concluir os seguintes:
preprocessing.mdx
model_sharing.mdx

Quando eu concluir esses ultimos dois eu dou um update sobre os próximos que vou fazer.

🤗

[2022-04-29 03:06] htthYjh commented on #16790
Can you provide some Q&A  demo for the xglm model,Thanks

[2022-04-29 03:41] seanbenhur opened #17003 "BertEmbeddings import missing for Torch in __init__ file"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

`from transformers import BertEmbeddings`

raises

[code]

### Expected behavior

[BertEmbedd

[2022-04-29 03:55] ElderWanng commented on #7907
Hi @swethmandava . I'm trying to reproduce the result by Transformres. Would you mind sharing your fine-tuning script?

[2022-04-29 06:23] mingboiz commented on #17002
I'm not too sure what's the root cause of this, seems like the vocab file path is not being passed in but I've created a [google colab]([https://colab.research.google.com/drive/1x12Bc6aDU9sLOCI99bGKXh9zUQzKDcaR?usp=sharing) reproducing the bug as well as a potential workaround.

@jtfields do you think the workaround could work? Instantize your BigBirdTokenizer outside of Raj in your local, then sa

[2022-04-29 06:26] dharakotecha commented on #15398
Hi @patil-suraj, Thanks for looking into this. Is there any update?

[2022-04-29 06:43] NielsRogge commented on #17003
Feel free to open a PR to fix this :)

[2022-04-29 08:19] maximilianreimer opened #17006 "Transfomers Pipline: Batching does not work for Sentence-Pair Text Classification"
### System Info

[code]

### Who can help?

@Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Run:
[code]
Output
[code]

### Expected behavior

[code]

[2022-04-29 09:44] Sangramsingkayte commented on #12926
#load pre-trained model and tokenizer
tokenizer = Wav2Vec2Tokenizer.from_pretrained("facebook/wav2vec2-base-960h")
model = Wav2Vec2ForCTC.from_pretrained("facebook/wav2vec2-base-960h")

The tokenizer class you load from this checkpoint is not the same type as the class this function is called from. It may result in unexpected tokenization.
The tokenizer class you load from this checkpoint is 'Wav2

[2022-04-29 10:31] younesbelkada commented on #16924
After running several tests on JZ using a small model (but way larger than the debug model):
+ I fixed issues regarding some operations that were not considered in the previous version of the model a4fa70c1a5042fdca7d0fbf26b0aad6ca99fdadc
+ There are still small discrepancies most likely due to  `MixedFusedLayerNorm` used in Meg-DS. A workaround is to use the `apex.normalization.FusedLayerNorm` bu

[2022-04-29 11:59] LysandreJik commented on #17003
I think in that case it's the TF and Jax versions which shouldn't add the embeddings to the main init. Those are not meant to be accessed from the main init, but to be accessed from their respective modules:

[code]

We took that decision so that the internal may be modified without breaking to public root API. These have very rarely been updated, however.

Removing the Flax and TF imports from th

[2022-04-29 12:04] djelassimalek commented on #12482
I'm facing same issue. Any update on this behaviour ?

**Environment info**
transformers Version: 4.11.0
Platform: Amazon Linux AMI 2018.03
torch Version: 1.9.0
Number GPU: 1

more information, when activating torch.use_deterministic_algorithms(True) during training.
roberta-base and bert-base-uncased works fine. However with Longformer I get this error:

Loading features from cached file ./traini

[2022-04-29 12:44] LysandreJik commented on #17001
@patrickvonplaten seems like the best person to answer your question!

[2022-04-29 12:55] seanbenhur commented on #17003
Agree with you, Can I close this issue then?

[2022-04-29 13:15] LysandreJik commented on #17003
Yes, thanks for opening it in the first place!

[2022-04-29 13:15] #17003 closed

[2022-04-29 14:39] AryanShekarlaban opened #17009 "[Data2Vec] Incompatibility with the original implementation"
Hello dear HuggingFace team!
According to the original paper, data2vec is not an actual model but more of a self-distilling training strategy. It takes an encoder model as backbone (RoBERTa for text, BEiT for vision, wav2vec for audio as mentioned in the paper) and pre-trains the encoder (student) to predict representations extracted from the EMA instance of the encoder (teacher), meaning the enco

[2022-04-29 14:39] AryanShekarlaban opened #17010 "[Data2Vec] Incompatibility with the original implementation"
Hello dear HuggingFace team!
According to the original paper, data2vec is not an actual model but more of a self-distilling training strategy. It takes an encoder model as backbone (RoBERTa for text, BEiT for vision, wav2vec for audio as mentioned in the paper) and pre-trains the encoder (student) to predict representations extracted from the EMA instance of the encoder (teacher), meaning the enco

[2022-04-29 14:39] #17009 closed

[2022-04-29 14:51] LysandreJik commented on #17010
cc @patrickvonplaten @NielsRogge

[2022-04-29 15:04] NielsRogge commented on #17010
Can you elaborate on this? We converted the weights from the original repo, so they should be equivalent to the original implementation.

[2022-04-29 15:07] LysandreJik commented on #16991
All of those have been refactored in a `ACT2FN` dictionary which is used across the codebase. You can import it as such:

[code]

Hope that helps!

[2022-04-29 15:13] LysandreJik commented on #16987
Reminds me of your current work on accelerate @muellerzr!

[2022-04-29 15:19] sgugger commented on #16976
Indeed, I saw that yesterday and am working on a fix.

[2022-04-29 15:22] loretoparisi commented on #16975
Could be this issue related to this **[SF](https://stackoverflow.com/questions/70699247/typeerror-an-integer-is-required-got-type-nonetype)** answer.

[2022-04-29 16:05] patrickvonplaten commented on #16972
I'm not really sure @leo-liuzy sadly - I've never removed the local layers when training the model. Maybe you can also try asking on https://discuss.huggingface.co/ :-)

[2022-04-29 16:07] patrickvonplaten commented on #17001
Hey @XinhaoMei

I think they can be passed to the decoder. Could you post a codesnippet that shows what doesn't work for your case? :-)

[2022-04-29 16:10] muellerzr commented on #16987
On my to do (asap) is to integrate that work from Accelerate. Should be in the next few weeks here. Basically how that one works is we retry the training loop reducing the batch size until we escape the CUDA OOM (this was request *many* times in our internal slack to integrate it here as well). Said implementation: https://github.com/huggingface/accelerate/blob/main/src/accelerate/memory_utils.py

[2022-04-29 16:31] muellerzr commented on #16987
Without lots of very specific code, currently it is unfeasible (though won't be soon!).
The key is with pytorch's `meta` device. It currently doesn't work on all ops, but once it does we should be able to track all the sizes of the intermediate activation without real memory usage, getting us there.

Otherwise we currently *could* by just doing the size of the model * the right number based on the

[2022-04-29 16:50] #16983 closed

[2022-04-29 17:08] loretoparisi commented on #16975
[UPDATE]
I have changed the tokenize function like

[code]

and removed the mapping as defined above, but now I'm facing a `None` label issue:

[code]

[2022-04-29 18:00] XinhaoMei commented on #17001
Hi @patrickvonplaten, thanks for your quick reply.
Here are my code for the defination of the model:
`

    def __init__(self, config):
        super().__init__()

        self.encoder = set_encoder(config)

        self.tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')

        if config.hugging_face.pretrain:
            decoder_config = BertConfig(is_decoder=True,

[2022-04-29 20:29] sgugger commented on #16983
The last one is a bug, will fix that!

[2022-04-29 21:53] ncoop57 commented on #8346
I think using this more efficient version of the KNN-LM might make a future KNNDecoder class more practical: https://github.com/jxhe/efficient-knnlm. Maybe it can be a flag, but anyways it does dimensionality reduction on the embeddings that are generated to reduce the size of the datastore.

I'm seeing the following task to implementing this in the library:
- [ ] The construction of the faiss ind

[2022-04-29 22:28] dblakely opened #17016 "Optionally return past key values from generate"
### Feature request

The idea would be to optionally return `past_key_values` inside the generation objects (`SampleEncoderDecoderOutput`, etc). This could be controlled by a flag called `return_past_key_values` that's passed to `generate` and then forwarded to `sample`, etc.

### Motivation

Perhaps this is niche, but my team and I need often need to obtain the past keys and values when generatin

[2022-04-30 01:50] Zapotecatl commented on #16804
Hi, I tried to export blenderbot-3B and blenderbot-1B-distill whit the command:

`python -m transformers.onnx --model=facebook/blenderbot-1B-distill --feature=seq2seq-lm --atol=1e-04 onnx/`

However, I can't export that models. I get the next:

[code]

[2022-04-30 02:50] TianHongZXY commented on #17016
Hello, I have the exactly same issue! Could you please share an implementation of yours that return past key value when using generate?

[2022-04-30 04:22] jQuinRivero commented on #15947
Hey! I would like to translate language_modeling.mdx.

[2022-04-30 04:52] JunnYu opened #17019 "Missing torch.no_grad in run_xxx_no_trainer.py"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

missing `with torch.no_grad():` in some `run_xxx_no_trainner.py` file.

### Expected behavior

[c

[2022-04-30 07:07] sciai-ai opened #17023 "wavlm s3prl emotion recognition"
Hi

I have trained a downstream emotion recognition task using s3prl wavlm where a checkpoint has been saved `dev-best.ckpt`. The inference setup in s3prl is not ideal requiring batches of wav files split by session rather a single wav file which is useful in production endpoints.

@anton-l can you please share how you ported the wav2vec2-er s3prl model to do inference below.

![image](https://use

[2022-04-30 08:29] AryanShekarlaban commented on #17010
Hello Niels, sorry for the delayed response.
Seems like I made a mistake regarding mismatch between architectures! Perhaps I loaded incorrect models using AutoModel. Today I reviewed all three models thoroughly and found no mismatch.
But how about my first question? What was your intent behind reimplementing 3 models for data2vec while they're exactly the same as RoBERTa, BEiT and Wav2Vec2 which a

[2022-04-30 10:03] dblakely commented on #17016
Hi, what we do is something like this:

[code]
        class YourModel(CustomSampleMixin, T5ForConditionalGeneration)
[code]

Then when we're using it:

[code]

[2022-04-30 10:17] TianHongZXY commented on #17016
Thank you for sharing!

[2022-04-30 12:59] ZonglinY opened #17025 "force_words_ids not working"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

from transformers import (GPT2LMHeadModel, GPT2Tokenizer, GPT2Config)

m = GPT2LMHeadModel.f

[2022-04-30 13:18] cedricrupb opened #17026 "Bert: relative_key position embedding causes error for long sequences"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Copy paste script from below and run
2. Script:
[code]

### Expected behavior

[code]

[2022-04-30 14:57] sijunhe commented on #16308
#17027 Here is one for XLNet!

[2022-04-30 15:01] #16327 closed

[2022-04-30 15:01] #16320 closed

[2022-04-30 15:01] #16319 closed

[2022-04-30 15:02] #16235 closed

[2022-04-30 15:02] #16210 closed

[2022-04-30 15:04] AryanShekarlaban commented on #17010
Regarding the fact that some minor differences exist in model architectures, what I attempted to do is that I tried to load weights directly from data2vec checkpoints to existing encoder models as below:
1. Loaded state dict from `facebook/data2vec-text-base` checkpoint into `roberta-base` and all keys matched successfully.
2. Loaded state dict from `facebook/data2vec-vision-base` checkpoint into

[2022-04-30 15:46] sijunhe commented on #17006
I am on version `4.18.0` and the following code works with and without GPU

[code]

[2022-04-30 20:20] Pzoom522 commented on #16991
Many thx. Closed : )

[2022-04-30 20:20] #16991 closed

[2022-04-30 23:12] omarespejel opened #17028 "Adding a ISSUE_TEMPLATE for the translation of docs"
### Feature request

Users can create issues to translate the docs to several languages. This technique worked for the translation of [the course](https://github.com/huggingface/course/issues) (cc @lewtun).

Since we have [several docs to translate](https://github.com/huggingface/transformers/issues/15947) a template would be adequate.

Currently, the [ISSUE TEMPLATES](https://github.com/huggingfa

[2022-04-30 23:49] nihit commented on #16984
@PrithivirajDamodaran you can adapt code snippet from @NielsRogge as follows:

[code]

[2022-05-01 05:14] PrithivirajDamodaran commented on #16984
@nihit - To get the CLS token, I can directly get the ```pooler_output```, instead of slicing last_hidden_state. Because all HF bare models returns by default two keys ```pooler_output``` and ```last_hidden_state```.  BTW pooler_output is nothing but the raw first entry (CLS) from the last_hidden_state but it was passed through a simple MLP pooler layer (linear + tanh).

I am NOT interested in CLS

[2022-05-01 05:54] kasrasehat commented on #10497
with self.processor.as_target_processor():
            labels_batch = self.processor.pad(
i use this command in order to encode labels but i got number 3 instead of all letters in sentence
How can i solve this issue?

[2022-05-01 06:03] danhphan commented on #16627
Thanks @SaulLu, I'm working on this `RemBert` :)

[2022-05-01 09:12] AryanShekarlaban commented on #17010
For BEiT, the problem was that there are some differences in the config; In order to load weights with no errors these values must be set in config:
[code]
So in terms of architecutre, `transformers.models.BEiTModel` and `transformers.models.Data2VecVisionModel` are the same, but for `Wav2Vec2Model `vs `Data2VecAudioModel` it's not the same case! they're actually different in terms of design so I'

[2022-05-01 12:13] NielsRogge commented on #17010
We're planning to add `Data2VecAudioForPretraining` etc, which is why the implementations were duplicated.

[2022-05-01 12:19] AryanShekarlaban commented on #17010
Cool! looking forward to that.
Thanks for putting your time replying.
I'm closing this issue.

[2022-05-01 12:19] #17010 closed

[2022-05-01 12:22] manandey commented on #16308
#17029 PR for MobileBert.

[2022-05-01 15:01] #16361 closed

[2022-05-01 15:01] #16304 closed

[2022-05-01 15:01] #15970 closed

[2022-05-01 15:19] pepi99 opened #17031 "Training a tokenizer - add argument for preprocessing the input"
### Feature request

I am training my huggingface tokenizer on my own corpora, and I want to save it with a preprocessing step. That is, if I pass some text to it, I want it to apply the preprocessing and then tokenize the text, instead of explicitly preprocessing it before that. A good example is BERTweet: https://github.com/VinAIResearch/BERTweet and their `tokenizer = AutoTokenizer.from_pretrai

[2022-05-01 15:24] pepi99 commented on #17031
I have also posted my question in  the huggingface forum: https://discuss.huggingface.co/t/save-tokenizer-with-argument/17389

[2022-05-01 16:19] nandwalritik commented on #16308
#17030 Here is the PR for XLM

[2022-05-01 17:43] atreyasha opened #17032 "[Trainer]: Resume training with `save_strategy="epoch"` does not load RNG state"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I provide a MWE for this issue by forking `transformers` and writing a failing test case. This ca

[2022-05-02 01:53] conan1024hao opened #17033 "Multi GPU training crashes when running run_mlm_wwm.py"
### System Info

[code]

### Who can help?

@wlhgtc Sorry to bother you again, please check this issue if you have time🙏.

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

### Dataset example
My datas

[2022-05-02 08:38] qqaatw opened #17037 "Make DETR `pixel_values` input optional"
### Feature request

Currently the `pixel_values` input of `DetrModel` and `DetrForObjectDetection` is a required argument, which is nearly useless when `encoder_outputs` is specified.

Therefore, I propose to make `pixel_values` optional and infer batch size for subsequent uses from the `encoder_outputs` when it is specified. We may also need to add a new optional `position_embeddings` argument f

[2022-05-02 09:02] #16303 closed

[2022-05-02 09:13] CyrilShch commented on #15398
Hi @sgugger @patil-suraj @LysandreJik ! is there any update on that issue? Thanks in advance :)

[2022-05-02 09:14] Narsil commented on #17006
Hi @maximilianreimer,

As  @sijunhe said, can you try upgrading your `transformers` version just because a lot has been done to improve the batching in more recent version.

For everyone here also another nice to have is to change the format from `list` to a `generator` which will iterate over results without having to maintain the list of all results (it also allows you to store results allowing

[2022-05-02 09:34] xu1998hz opened #17039 "Unable to reproduce gigawords results from google/pegasus-gigaword"
@patrickvonplaten

Hi Patrick,

I am trying to reproduce the PEGASUS results for gigaword. I used gigawords in datasets library and directly use its testing portion without further preprocessing. I used PegasusForConditionalGeneration, PegasusTokenizer (I used checkpoint from Google, google/pegasus-gigaword) to decode summary using default setting. However, my ROUGE score is bit deviated from the

[2022-05-02 09:44] maximilianreimer commented on #17006
Thanks for the helpful comments. Updating seems to fix the issue for me as well!

[2022-05-02 10:18] sunhaozhepy opened #17040 "error with Vision Transformer (ViT)"
There seems to be a problem with the HuggingFace Vision Transformer: it takes up all the memory in GPU and renders it impossible to train the model.
When I was dealing with the inference just like in `https://huggingface.co/docs/transformers/model_doc/vit` with a single image, it works well. But when I tried to do some fine-tuning with the MNIST dataset intergrated in PyTorch, thus with batches, s

[2022-05-02 10:39] wlhgtc commented on #17033
@conan1024hao
Sorry I don't know more details about multi gpu training, but you should make sure your code works well in single GPU.
And then you could try code like this:
[code]

[2022-05-02 12:32] ignacioct opened #17041 "No separation between Torch and TF examples in create_a_model.md"
Hi!

While writing the Spanish translation of the guide to create a custom mode (#15947), I've come across something that I think it is not intentional. In the section Model, we have this first paragraph explaining how to start initializing and customizing a - custom - model.

![image](https://user-images.githubusercontent.com/56955040/166233739-9f83de75-0dfc-46c8-b0be-e169d6f7ef3e.png)

And then,

[2022-05-02 14:07] mikcnt commented on #16858
Hello! I just wanted to clarify a little detail about what @gante said: `torch.save` actually supports writing to GCS! You just need to change the way you use it a bit :) I gave a complete explanation on how to do that [here](https://stackoverflow.com/questions/69100496/not-able-to-save-model-to-gs-bucket-using-torch-save).

[2022-05-02 15:08] #16404 closed

[2022-05-02 15:08] #16388 closed

[2022-05-02 15:08] #16373 closed

[2022-05-02 15:08] #16372 closed

[2022-05-02 15:08] #16312 closed

[2022-05-02 15:08] #15640 closed

[2022-05-02 16:53] patrickvonplaten opened #17051 "Collection of Tokenizer Issues"
### System Info

[code]

### Who can help?

This Issue is a summary of multiple problems that we are currently encountering with Tokenizers. To solve them we'll need a more profound discussion of:
- To what extend fast and slow tokenizers should be aligned
- Whether all slow tokenizers should be kept
- How to treat special tokens
- Whether all internal methods of tokenizer should be exposed

Relev

[2022-05-02 16:54] patrickvonplaten commented on #17051
cc @LysandreJik @sgugger @SaulLu @Narsil @patil-suraj

[2022-05-02 16:55] patrickvonplaten commented on #17051
Internal thread: https://huggingface.slack.com/archives/C01N44FJDHT/p1647966224411599

[2022-05-02 16:59] patrickvonplaten commented on #10497
Hey @kasrasehat,

Could you please open a new issue?

[2022-05-02 17:02] patrickvonplaten commented on #17039
Hey @xu1998hz,

We're trying to keep Transformers issues for bugs in the core library. Could you try to use the forum instead: https://discuss.huggingface.co/ ? :-)

[2022-05-02 17:33] ksdihgfmata opened #17052 "ValueError: too many values to unpack (expected 2) using BERT to training"
### System Info

[code]

### Who can help?

@LysandreJik, @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

tokenizer = BertTokenizerFast.from_pretrained('bert-base-uncased')
class dataset(Da

[2022-05-02 19:27] #16986 closed

[2022-05-02 20:22] sgugger commented on #17032
Thanks for the fully reproducible example, which will become a new test in our CI :-) This was a bit painful to debug, but the PR above should solve the issue.

[2022-05-02 21:17] aqred1 commented on #9085
Did anyone figure out how to do this?

[2022-05-02 22:11] jtfields commented on #17002
Thank you for the fast response on this bug.  I'm trying the workaround you provided but finding that Spacy is not very cooperative due to the length of my essays.  I first had to develop a workaround for the max_length of 100,000 and now have a handle_filename_too_long error.  Is there another option besides spacy which isn't so restrictive?

[2022-05-02 23:39] lorr1 commented on #16976
Thanks!!

[2022-05-03 01:06] kasrasehat commented on #10497
@patrickvonplaten sure

[2022-05-03 06:50] qhd1996 commented on #547
How to predict a word that is seperated into several tokens. For example, DOTA2(name for a popular game)?

[2022-05-03 09:09] candalfigomoro commented on #13837
@LysandreJik
Zero Shot Classification is a little bit tricky, is there an example of ONNX configuration for Zero Shot Classification? Thanks

[2022-05-03 09:30] atreyasha commented on #17032
Thanks @sgugger for the quick response

[2022-05-03 10:13] anton-l commented on #17023
Hi @sciai-ai! You can find the rough model conversion script is here: https://github.com/huggingface/transformers/blob/main/src/transformers/models/wavlm/convert_wavlm_original_s3prl_checkpoint_to_pytorch.py

The command is:
[code]

[2022-05-03 10:47] GabrielKP opened #17056 "AutoConfig.from_pretrained("model", return_unused_kwargs=True) returns `"_from_auto": True` field against specification"
### System Info

[code]

### Who can help?

@sgugger

Small bug in which for some cases `{"_from_auto": True}` is returned [against specification](https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a74e974984206/src/transformers/models/auto/configuration_auto.py#L646).

Seems to originate [here](https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a7

[2022-05-03 11:29] lewtun commented on #16538
Hey @arampacha if you're still happy to open a PR with this change, I think that's the best way to proceed on this issue :)

[2022-05-03 11:32] lewtun commented on #16982
Hi @RaiAmanRai thanks for reporting this issue! Would you be able to share a reproducible code snippet that also shows the type of inputs you're feeding to the exported model (e.g. with ONNX Runtime)?

[2022-05-03 11:38] arampacha commented on #16538
Ok, cool. I'll go on with PR

[2022-05-03 11:41] JessicaLopezEspejel commented on #16858
Hello @mikcnt, thank you so much! I will try it.

[2022-05-03 11:48] realjanpaulus opened #17058 "Chinese parantheses can't be handled by fast tokenizer"
### System Info

[code]

### Who can help?

@LysandreJik, @Sau

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

### Code to reproduce

[code]

### Output

[code]

### Expected behavior

[code]

[2022-05-03 11:52] StephennFernandes commented on #16571
@patrickvonplaten what about sampling the text corpus. i have a text corpus that has been arranged sequentially based on the languages. but the pretraining script, randomly shuffles the data based on the max_seq_len. to yeild batches that have similar seq_len to train efficiently.

this however works fine for T5, but when coming to multi-lingual training, the training script would let the model tr

[2022-05-03 13:44] sgugger commented on #17056
I can reproduce, thanks for flagging and for taking the time to give us a clear example of code that fails!
I will try to dive into this and have a fix ready later today.

[2022-05-03 14:35] sgugger commented on #16157
You can create a randomly initialized model with `AutoModel.from_config`, with the config pulled with `AutoConfig.from_pretrained`:

[code]

As for the second point, not really.

[2022-05-03 14:42] YovaKem opened #17061 "End2End RAG training hangs"
### System Info

[code]

### Who can help?

@shamanez, thanks for a great example! I'm having trouble training a model end2end and wonder if you could help out. I have two GPUs available so I've set the arguments relevant for the end2end training to:
[code]

This configuration doesn't seem to work since it results in `len(self.retrieval_workers)=0` which means that the call to `re_load()` in `RagR

[2022-05-03 14:45] montellasebastien commented on #5570
It would be a very interesting feature proposed by @AzharSultan like for ***prompt learning*** purpose.
PyTorch doesn't allow to only update a part of the embeddings lookup table. A solution would be either masking gradients or creating a new lookup table just for the added tokens. Any plan to add that ?

[2022-05-03 14:49] RaiAmanRai commented on #16982
Hi @lewtun , thanks for stopping by. The above mentioned code snippet was used to export the model into .onnx format.

The following code snippet was used to check the outputs of the model and its shape
[code]

[2022-05-03 14:59] GabrielKP commented on #16938
This happens for both fast and slow tokenizers.
The problem for fast tokenizers seems to originate in the [rust implementation](https://github.com/huggingface/transformers/blob/31ec2cb2badfbdd4c1ac9c6c9b8a74e974984206/src/transformers/tokenization_utils_fast.py#L425) (?)

The problem for slow tokenizers seems to be as @armancohan pointed out that `already_has_special_tokens` is not set to True [he

[2022-05-03 15:03] #16417 closed

[2022-05-03 15:03] #16411 closed

[2022-05-03 15:03] #15479 closed

[2022-05-03 15:57] orieg commented on #12841
This issue should be reopened as it is intended for mlflow experiment name which is different from run_name.

[2022-05-03 16:04] sijunhe commented on #17025
Hi @ZonglinY. According to the definition of [GenerationMixin](https://huggingface.co/docs/transformers/v4.18.0/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin), there are 6 modes of generation. Seems like `force_words_ids` is only implemented beam search for **without** sampling. Because you do have `do_sample=True` in your arguments to the `generation` function, the

[2022-05-03 16:45] rafikg commented on #3737
Hi @patrickvonplaten,
for a distillation purpose of T5, I want to return the `deocder_hidden_states`. using this:

[code]

[2022-05-03 17:03] sijunhe commented on #17025
I suspect this is a version issue. The [constrained beam search](https://huggingface.co/blog/constrained-beam-search) wasn't introduced until 4.17 so if you are using an older version, that might be why it didn't work. Your code worked for me on 4.18 but not on 4.15.

[2022-05-03 17:15] patrickvonplaten commented on #17001
Hey @XinhaoMei,

Sorry we sadly cannot help too much with custom code as this is outside of the scope of Transformers.
Could you try to make use of the forum instead: https://discuss.huggingface.co/ ? :-)

[2022-05-03 17:19] patrickvonplaten commented on #16571
Hey @StephennFernandes,

Could you maybe ask such a question on the forum: https://discuss.huggingface.co/ ? :-) We try to keep Transformers issues for questions related just the modeling code and bugs. Thanks!

[2022-05-03 17:25] patrickvonplaten commented on #3737
Can you add `output_hidden_states=True` to `model(...)`?

[2022-05-03 17:34] stevhliu commented on #17041
Hi, thanks for your help in translating the docs! :)

From my end on the `main` version of the docs, there are two separate blocks for PyTorch and TensorFlow content:

![Screen Shot 2022-05-03 at 10 30 01 AM](https://user-images.githubusercontent.com/59462357/166507509-7aabe3d4-ef88-4657-a57e-44ec4d841518.png)

[2022-05-03 17:36] XinhaoMei commented on #17001
Thank you for your reply. In fact, I have solved it by modifying some code in the Transformer library.
Anyway, thanks a lot!

[2022-05-03 17:36] #17001 closed

[2022-05-03 17:38] ignacioct commented on #17041
Oh, I was directly looking using https://github.com/huggingface/transformers/blob/main/docs/source/en/create_a_model.mdx, and there is no separation there I think (that should also be the main version). If that is handled in the docs, I can just go on and replace the text in the same fashion.

Thank you!

[2022-05-03 17:49] ryanrudes opened #17065 "symbol not found in flat namespace '__ZNSt8ios_base4InitC1Ev'"
### System Info

[code]
[code]

Traceback (most recent call last):
  File "/Users/ryanrudes/Downloads/.../venv/lib/python3.8/site-packages/transformers/utils/import_utils.py", line 857, in _get_module
    return importlib.import_module("." + module_name, self.__name__)
  File "/Users/ryanrudes/miniforge3/envs/.../lib/python3.8/importlib/__init__.py", line 127, in import_module
    return _bootstra

[2022-05-03 18:20] omarespejel commented on #15947
Thank you @ignacioct and @jQuinRivero! I added your names to those files above. Will be reviewing your PRs.

[2022-05-03 18:23] orieg opened #17066 "Incorrect check for MLFlow active run in MLflowCallback"
### System Info

[code]

### Who can help?

Should be fixed by #17067

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps to reproduce:
1. Follow Training tutorial as per https://huggingface.co/do

[2022-05-03 19:51] Jayaos commented on #735
Try with pytorch optimizer not AdamW in transformer.

[2022-05-03 20:36] judy-jii commented on #10028
Hi, I somehow encountered the same problem. Can I ask you how did you solve it?

[2022-05-03 20:53] xu1998hz commented on #6844
Hi Sam, I have a quick question regarding to obtain the results for Gigaword using checkpoint "google/pegasus-gigaword" provided by Google. Currently, I followed a very simple setup using  "google/pegasus-gigaword" and follow directly from huggingface default codes in generating gigaword summary. For dataset, I directly load 'gigaword' from datasets library without pre-processing. I currently use

[2022-05-03 20:58] ErinKnochenhauer opened #17072 "KeyError "labels" occurring in distill_classifier.py official example notebook"
### System Info

[code]

### Who can help?

@VictorSanh
@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps to reproduce:

1. Running the official [Distilling Zero Shot Classification.ipy

[2022-05-03 22:05] kellymarchisio commented on #3564
For posterity, I think Thomas means this:
[code]

[2022-05-03 22:44] hacobe commented on #15869
I find the code above from @PastelBelem8 works if I set the length_penalty to 0. However, if I change the prompt so that the model produces a completion that has fewer tokens than the max_length, then the sequences_scores and the output of compute_transition_beam_scores are very different again. @patrickvonplaten, any thoughts on what might be going on there? Thanks in advance for your help!

See

[2022-05-03 23:01] omarespejel commented on #16824
@rzimmerdev muito obrigado! I just added your name above to the files you already translated and the ones you plan to translate 🤗

[2022-05-04 00:06] ElderWanng opened #17075 "Why training time is much more than same task in Fairseq?"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Device: Tesla V100-PCIE-32GB * 1

## For HF's Trainer:
[code]
The estimated time for 1 epoch

[2022-05-04 00:39] Fellip15 commented on #16824
Olá Omar,

Estou traduzindo:
* fast_tokenizers.mdx

A medida que for pegando mais para traduzir vou colocando nesse comentário.

[2022-05-04 00:44] omarespejel commented on #16824
Muito obrigado @Fellip15! I added your name to the first comment in this issue for `fast_tokenizers`.

[2022-05-04 01:50] shamanez commented on #17061
Hi this bug is caused by the laters RAY version. Actually, I fixed it in the original RAG repository :).

Please change this [line](https://github.com/huggingface/transformers/blob/main/examples/research_projects/rag-end2end-retriever/finetune_rag.py#L692)  similar to [this](line).

In other words, just add a name pace into the RAY init. :)

[2022-05-04 04:24] kaushalshetty commented on #15032
How can we remove stale terms and add newer terms? I am interested to train a model on evolving text where words go through a vocabulary and semantic shift. In such a case, I would train a new tokenizer on the latest data and create a new vocabulary of common terms between old and new tokenizer along with removal of stale tokens and adding newer ones from the new tokenizer.

[2022-05-04 04:49] yinzhangyue opened #17077 "When will the official 4.19 release be?"
### Feature request

The official 4.19 release

### Motivation

\

### Your contribution

\

[2022-05-04 05:45] nandwalritik commented on #16308
#17078 PR for BigBirdPegasus

[2022-05-04 06:56] wolhandlerdeb opened #17079 "comet ml integration - add option to continue training"
### Feature request

when continuing training, it would be great to be able to also continue to log the training metrics to the comet ml experiment. comet_ml has a feature for it : it uses the class ExistingExperiment ( see https://www.comet.ml/docs/python-sdk/ExistingExperiment/ )
Thanks

### Motivation

It would be much more clear and organized if I could continue to log the loss in the same gra

[2022-05-04 07:54] ElderWanng commented on #17075
Seems I didn't set the fp16 correctly----I should start the training by `torchrun --nproc_per_node=4 ` and set `--sharded_ddp zero_dp_3 `.

[2022-05-04 07:54] #17075 closed

[2022-05-04 08:07] robotjellyzone commented on #16404
is this issue resolved or is it just fine to let it as it is in a close state? @gante @ydshieh

[2022-05-04 08:40] ydshieh commented on #16404
Hi, @robotjellyzone

- Python 3.6 will be dropped over the next few weeks: #16832
- And as far as I know, `ray` still doesn't support Python 3.10 (yet). See https://github.com/ray-project/ray/pull/21221

I believe closing this issue is reasonable.

[2022-05-04 09:39] ZonglinY commented on #17025
Thanks @sijunhe! I change the version to 4.18 and it works.
In addition to use force_word_id to make sure the generation contains some specific words, I'd like the forced words shown in one sentence in a generation, at best in a specified order. Would you be so kind to give me some advice on whether there's parameter in generate() function that can help me do this? Or I have to modify generate() f

[2022-05-04 09:49] gsarti opened #17081 "Error in mBART50 fast tokenizer `convert_tokens_to_string` method"
### System Info

[code]

### Who can help?

@patil-suraj @SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

[2022-05-04 09:57] YovaKem commented on #17061
Thanks a lot!

[2022-05-04 09:57] #17061 closed

[2022-05-04 10:06] robotjellyzone commented on #16404
Oh Great! if python 3.6 will be dropped then i guess everything will be fine but then it needs to be mentioned in the setup file as well so that others can use versions greater than 3.6.
so shall i create a pr for changing the version mentioned in the setup.py file?

[2022-05-04 11:35] deutschmn commented on #15735
I'll give this a try!

[2022-05-04 11:45] sgugger commented on #17072
This is not a maintained example, so I don't think this will be fixed any time soon (just my 2 cents since I'm tagged, I have never seen this notebook before ;-))

[2022-05-04 11:47] #17056 closed

[2022-05-04 14:14] ydshieh commented on #16404
Hi, @robotjellyzone Thank you for the offer. But we will do this when v4.19.0 is released. Currently we are still in v4.18.0 release, and we can't change setup.py before we officially drop it :-)

[2022-05-04 14:40] RaiAmanRai opened #17086 "Broken 'export' using transformers.onnx"
### Feature request

HuggingFace allows an indirect way to export models that aren't supported by the current version of transformers[onnx], mentioned on huggingface website [here](https://huggingface.co/docs/transformers/serialization#implementing-a-custom-onnx-configuration).

According to the original website, this method also provides a way to change the heads of the models based on users need

[2022-05-04 15:10] ryanrudes commented on #17065
Uninstalling a couple dependencies including the transformers package itself, and then installing everything within conda solved my problem. Specifically for anyone with the same problem:

[code]

[2022-05-04 16:23] #15735 closed

[2022-05-04 17:01] sasaadi commented on #15862
Hello @julien-c, is there any updates on the this topic?
Thanks.

[2022-05-04 17:28] julien-c commented on #15862
this is still in progress but hoping to have an update on this in the coming month

[2022-05-04 18:02] ErinKnochenhauer commented on #17072
Resolved issue by downgrading to transformers==4.4.0 and using datasets==1.6.1

[2022-05-04 18:03] #17072 closed

[2022-05-04 18:26] dblakely commented on #17016
Hi @patrickvonplaten, what do you think about this idea?

[2022-05-04 18:44] OfirArviv opened #17089 "CUDA out of memory in evaluation_loop"
Hi,

I'm trying to run the seq2seq question answering example from the repro ([here](https://github.com/huggingface/transformers/blob/main/examples/pytorch/question-answering/run_seq2seq_qa.py)) and while training is fine in evaluation loop I get CUDA out of memory. I've read other asked about it previously and they suggested using `eval_accumulation_steps=10,`. Tried that and stil get the error.

[2022-05-04 19:18] faizi-ch commented on #15703
@jhabr having the same issue, were you able to solve it?

[2022-05-04 19:33] YianZhang commented on #15398
+1 @sgugger @patil-suraj @LysandreJik Would be great if this got fixed! Thanks :)

[2022-05-04 21:06] astrocronopio commented on #15947
Hi! I would like to translate [parallelism.mdx](https://github.com/huggingface/transformers/blob/9c9db751e29432e8924624ef44856cd9fa671ef3/docs/source/en/parallelism.mdx). Do I translate English words on images as well?

[2022-05-04 21:28] jQuinRivero commented on #16059
Hey, I'd like to work on XLMRoBERTa (Pytorch)

[2022-05-05 05:25] ghlai9665 commented on #13554
Opened a PR @NielsRogge #17092. Just need your input in terms of the return type of `encoded_input["image"]` but otherwise this PR should fix the issue.

[2022-05-05 05:39] borisfom commented on #16532
Please never mind - it was pytorch exporter issue and is now fixed.

[2022-05-05 05:39] #16532 closed

[2022-05-05 06:39] Narsil commented on #17006
Closing this then.

[2022-05-05 06:39] #17006 closed

[2022-05-05 09:34] RnoldR opened #17093 "Import transformers and datasets not possible"
### System Info

[code]

### Who can help?

I cannot install transformers and datasets into the same conda environment. When I do that and try to import transformers inti python I get the error: ImportError: cannot import name 'create_repo' from 'huggingface_hub' (/home/arnold/bin/anaconda/envs/test/lib/python3.8/site-packages/huggingface_hub/__init__.py)

When install these libraries without the

[2022-05-05 09:50] sanderland opened #17094 "set_verbosity_info not working"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]
currently outputs
[code]
missing the info on the logger, so there is a disconnect bet