[2021-11-23 10:50] SaulLu commented on #12936
**TL,DR :**
To come back on this issue, I would tend to think that in its current state this method (`get_special_tokens_mask`) and this argument (`return_special_tokens_mask` in `__call__`) is very useful.

Indeed, this behavior is common to all tokenizers (I checked all tokenizers listed in `AutoTokenizer`, I can share a code if you want to have a look) and from my point of view it allows identi

[2021-11-23 10:56] maiiabocharova commented on #14470
Hello, sure! transformers==4.12.5, python 3.7. I am using Colab for experiments

[2021-11-23 11:15] f3n1Xx commented on #296
I need to pass some values to config as well, will save me a lot of time....

[2021-11-23 12:03] ydshieh commented on #14421
For the record, this

[code]

is addressed in this PR #14148, which is still under review.

[2021-11-23 13:14] seanbenhur commented on #14495
It is here, https://github.com/huggingface/transformers/blob/master/examples/pytorch/text-classification/run_glue.py @parkhaemi

[2021-11-23 14:13] pavanchhatpar commented on #11579
[Hugging Datasets](https://huggingface.co/docs/datasets/filesystems.html) supports this feature. It really looks like a useful feature that the PreTrainedModel doesn't support today

[2021-11-23 14:44] SaulLu commented on #12728
I'm sorry, I realize that I never answered your last question.

This type of `Precompiled` normalizer is only used to recover the normalization operation which would be contained in a file generated by the sentencepiece library. If you have ever created your tokenizer with the tokenizers library it is perfectly normal that you do not have this type of normalization. Nevertheless, if you want to ha

[2021-11-23 14:51] dumitrescustefan opened #14497 "FLAX core dump error on CloudTPU when running run_clm_flax.py"
Hi, I'm having a weird problem trying to train a gpt-neo model from scratch on a v3-8 cloud TPU. Something similar to the [closed issue here](https://github.com/huggingface/transformers/issues/12404). Getting:
[code]
randomly during preprocessing/loading the dataset.

The env is clean, setup according to the Quickstart Flax guide from google's [help page](https://cloud.google.com/tpu/docs/jax-quic

[2021-11-23 15:02] Atharva-Phatak opened #14498 "How to get logits from generate() method ?"
Hello,

I am using RL to train Seq2Seq models and I need logits from generate method ? Since in RL we need to sample from current policy?
Does anyone know how I can adapt generate method to get logits ?

Specifically I am using BART based models.
If you guys could give a code snippet or something. That will be a lo of help.

Please let me know.

[2021-11-23 16:20] jmwoloso opened #14500 "(TF) InternalError: Multiple CPU devices"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-5.4.0-90-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.6
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.3.4 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or para

[2021-11-23 17:16] Rocketknight1 commented on #14500
This is unusual - is this issue unique to Hugging Face models? Does it still occur with a basic Keras model?

[2021-11-23 17:18] jmwoloso commented on #14500
Hi @Rocketknight1! I haven't tried with basic Keras models. I can try that if you think it would help, however, `TFDistilBertForSequenceClassification` trained successfully, so I suspect it is something specific to `Longformer`

[2021-11-23 17:21] JohnGiorgi opened #14502 "DeBERTa-v3 does not preserve spaces before/after additional special tokens in convert_tokens_to_string output"
## Environment info

- `transformers` version: 4.12.5
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.5
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No.
- Using distributed or parallel set-up in script?:

[2021-11-23 18:34] banyous commented on #14164
Thanks @LysandreJik

[2021-11-23 18:44] tuhinjubcse commented on #9996
@stas00  Hopefully this is relevant. I know you had success on A100 40 GB GPU . I am using deep speed on 4 gpus and I recieve OOM after training for several hours.

[code]

My script

[code]

My config

[code]

[2021-11-23 19:08] CyrilShch commented on #14277
Was that issue fixed? Because I still get the same error

[2021-11-23 21:53] stas00 commented on #9996
are you monitoring the memory consumption over the training - is it borderline OOM from the get going or does the memory usage slowly creeping up?

But regardless, you're using only stage-2, and you want stage-3 in this situation. Since if you're not sharding the params, you get only 12 out of 18 bytes sharded per param. Stage-3 is slower than stage-2 since it has to do more work, but if you can't

[2021-11-23 23:24] tuhinjubcse commented on #9996
![image](https://user-images.githubusercontent.com/3104771/143144609-66724fe5-6b1b-485f-8534-21623c119a56.png)

retraining again and this is what my gpu looks like

[2021-11-23 23:30] stas00 commented on #9996
So this is the state at the beginning of the training, right? Then check it say once in 30min and note the differences - if your application is well written then it shouldn't grow after say a few hundred of iterations, assuming the longest seqlen with widest batch size has been consumed already.

I'm also noticing that you're using a very old version of our examples - `finetune_trainer.py` is very

[2021-11-23 23:45] tuhinjubcse commented on #9996
The snapshot I sent you was after 5 hrs of training.  I have 7M samples and max seq len I reduced to 64 from 128. So hoping it works this time.  Last time it failed around 40% of training. Its at 22% now

Yes If I still can't make it work I will switch to a recent version of software.

[2021-11-24 00:23] stas00 commented on #9996
Right, I'm not sure my message is coming across - I'm suggesting to monitor the memory usage through the training.

And that if it OOMs you need to switch to ZeRO-3 and then you should be able to train with a much longer seqlen.

Enabling https://huggingface.co/transformers/performance.html#gradient-checkpointing is another technique to allow for much longer seqlen.

[2021-11-24 01:55] jmwoloso commented on #14500
So I traced it to [here](https://github.com/tensorflow/tensorflow/blob/b1b76e24284d55156ad4e12fb847bfbc637b9a20/tensorflow/compiler/jit/device_util.cc#L173-L176). Must be some issue with the JIT compilation. I'll test some stuff out.

[2021-11-24 06:24] RunxinXu opened #14504 "Add a new gradient regularization feature"
# 🚀 Feature request

When we fine-tune a large-scale pre-trained model in the downstream task (especially with low-resource data), it would be helpful if we randomly discard some gradients, as introduced in this [paper](https://aclanthology.org/2021.emnlp-main.749.pdf).
Therefore, I wonder if I could add this simple feature to transformers?

## Motivation

Add a simple regularization feature to ad

[2021-11-24 07:29] richardwth opened #14505 "FillMaskPipeline assumes model return dict but return_dict is not set"
## Environment info

- `transformers` version: 4.11.3
- Platform: Linux
- Python version: 3.6.13
- PyTorch version (GPU?): 1.9
- Tensorflow version (GPU?): N/A
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
@Narsil

## Information

Model I am using (Bert, XLNet ...): Bert, Roberta, Deberta

The problem arises when using:
* [ ] the official exam

[2021-11-24 07:45] avnerbarr opened #14506 "RuntimeError: The expanded size of the tensor (20) must match the existing size (101) at non-singleton dimension 0. Target sizes: [20]. Tensor sizes: [101]"
My goal is to be able to pass 100 (or 300) tokens (or some other number) as input and get back at most 16 additional tokens (or some other number I can control).

Code is strait forward:

[code]

Can you elaborate on the semantics of what "max_length" refers to?

Per the documentation:

https://huggingface.co/transformers/main_classes/configuration.html#transformers.PretrainedConfig

**Parameters

[2021-11-24 07:46] Narsil commented on #14277
@CyrilShch are you using master ? A release is coming this week which could help.

[2021-11-24 08:01] Narsil commented on #14505
Ok, `_forward` assumes that the model will returns a `BaseModelOutput` which are Transformers specific dicts which are necessary to support all backends (PT, TF, flax).

There won't be support for tuples since it's harder and less readable to use.
The pipelines do need to change what get passed on to `postprocess` since information from `preprocess` might still be important (here `input_ids` for i

[2021-11-24 08:18] LysandreJik commented on #14455
Sounds great to me!

[2021-11-24 08:32] CyrilShch commented on #14277
@Narsil Yes, I'm using master. Thanks! Looking forward!

[2021-11-24 08:49] rafaljanwojcik opened #14507 "Distributed Training with Triplet Loss and DistilRoberta encoder"
I wasn't sure if this issue is suitable as a Bug Report, so I copied the template only, so that its readable

## Environment info

- `transformers` version: 4.11.3
- Platform: Linux
- Python version: 3.6.2
- PyTorch version (GPU?): 1.3.1
- Tensorflow version (GPU?): --
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

### Who can help

Hello @LysandreJik - I'm usi

[2021-11-24 09:32] Narsil commented on #14277
Can you provide a reproducible script ?

The one that used to not work:

[code]

seems to be working fine.

[2021-11-24 09:47] MaxGodTier opened #14509 "Converted TF model cannot generate line breaks anymore"
## Environment info

- `transformers` version: 4.11.3
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.8
- PyTorch version (GPU?): 1.9.0 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

Models:

- GPT-2, GPT: @patrickvonplaten, @LysandreJik
- TensorFlow: @Rocketknight1

Library:

- Text

[2021-11-24 10:14] lytum opened #14510 "bidirectional training for GPT2"
# 🚀 Feature request

May I ask, if there is possible to fine-tune GPT2 in bidirectional training and bidirectional training together?
Like the UniLM: https://github.com/microsoft/unilm/tree/master/unilm-v1

## Motivation

GPT2 is widely used in text generation in unidirectional training (left-to-right). Could we use GPT2 to process context in bidirectional, while generating text in unidirectional.

[2021-11-24 10:39] Xargonus opened #14511 "LayoutXLMProcessor applies the english Tesseract model"
# 🚀 Feature request
LayoutXLMProcessor.\_\_call\_\_ should support a language argument for Tesseract OCR

## Motivation

LayoutXLM is a multilingual version of the successful LayoutLMv2 model. The main reason to use it over LayoutLMV2 is to handle different languages, yet the current API does not allow specifying the language to be used in apply_tesseract.

## Your contribution

I could submit a P

[2021-11-24 10:42] CyrilShch commented on #14277
@Narsil e.g., if you open a new google colab notebook and run the very same example that you provided!
[code]
You'll get this error:
![image](https://user-images.githubusercontent.com/50148272/143223417-4a846c28-644a-40b7-bd77-5ed65da4a33a.png)

And locally it seems to work for me as well when I fork the repository and try to change it.

[2021-11-24 10:57] NielsRogge commented on #14510
Hi,

I've answered your question on the [forum](https://discuss.huggingface.co/t/fine-tuning-gpt2-for-bidirectional-training/12155/4).

[2021-11-24 11:05] NielsRogge commented on #14511
Hi,

Great point, thanks for the feature request.

It would be rather straightforward: one should just add a lang parameter to [this line](https://github.com/huggingface/transformers/blob/956a483173e77ebf655ca9636a5f7b6ef010b307/src/transformers/models/layoutlmv2/feature_extraction_layoutlmv2.py#L54).

Can you open a PR for this?

[2021-11-24 11:20] Narsil commented on #14277
Hi, this is not master you're installing but the latest release (which does not contain the fix).

Can you try

[code]

A new release should happen this week which will contain the fix !

[2021-11-24 11:22] #14138 closed

[2021-11-24 11:22] LysandreJik commented on #14138
Thanks for opening an issue and solving the problem, @vmaryasin!

[2021-11-24 11:22] pietrolesci opened #14513 "❓ Define tokenizer from `tokenizers` as a `PreTrainedTokenizer`"
Hi there,

I defined a simple whitespace tokenizer using the `tokenizers` library and I would like to integrate it with the transformers ecosystem. As an example, I would like to be able to use it with the `DataCollatorWithPadding`. Is there a way to easily (i.e., non-hacky) integrate tokenizers from `tokenizers` library and the `PreTrainedTokenizer` class?

For reference, please find below the co

[2021-11-24 11:41] CyrilShch commented on #14277
@Narsil Ops, my bad. Works fine now! Thanks a lot :) I guess the issue can be closed 👍

[2021-11-24 12:09] NielsRogge commented on #14498
Hi,

This can be done easily by setting the `output_scores` flag of the [generate](https://huggingface.co/transformers/main_classes/model.html?highlight=generate#transformers.generation_utils.GenerationMixin.generate) method to `True`.

[2021-11-24 12:23] Narsil commented on #14277
It is already closed so it's ok but thanks for the confirmation .

Cheers !

[2021-11-24 12:33] LysandreJik commented on #14497
Pinging @patil-suraj :)

[2021-11-24 12:35] LysandreJik commented on #14470
If you're using colab, then have you restarted the runtime after installing `sentencepiece`?

[2021-11-24 14:02] Atharva-Phatak commented on #14498
output_scores will be of shape ```(max_length-input_ids.shape[-1], )``` with each tensor of shape ```(bs, config.vocab_size)```.
How do I convert output_scores to log probabilities ?

[2021-11-24 14:05] NielsRogge commented on #14498
The logit is just the raw score, you can get log probabilities by applying a `log_softmax` (which is a softmax followed by a logarithm) on the last dimension, i.e.

[code]

[2021-11-24 14:18] LysandreJik commented on #14513
Hello, have you taken a look at the following documentation? https://huggingface.co/transformers/fast_tokenizers.html

It showcases how to handle tokenizers from the tokenizer library within `transformers`. Let me know if it helps!

[2021-11-24 14:28] LysandreJik commented on #14504
Maybe of interest to @sgugger or @Rocketknight1 :)

[2021-11-24 14:28] pietrolesci commented on #14513
Hi @LysandreJik,

Thanks a lot for your swift reply.

That's exactly what I was looking for. It's a shame I did not get it before asking (I even tried to write my own way of subclassing `PreTrainedTokenizer` 😄 !).

Once again, really thanks a lot for your help!

Best,
Pietro

[2021-11-24 14:28] #14513 closed

[2021-11-24 14:32] Atharva-Phatak commented on #14498
Thanks. That helps.

[2021-11-24 14:32] #14498 closed

[2021-11-24 14:55] LysandreJik commented on #14467
Maybe of interest to @NielsRogge even if the question would be better asked on the forum :)

[2021-11-24 15:03] #13931 closed

[2021-11-24 15:03] #13917 closed

[2021-11-24 15:23] sgugger commented on #13830
Unstale

[2021-11-24 15:37] BakuDev opened #14518 "Wav2vec2 finetuned model's strange truncated predictions"
### What is your question?
I'm getting strange truncation of prediction at different steps of training. Please help to understand what is the issue?
At the first steps of training like 800-1600 (2-3 epochs) I'm getting predictions of valid length and words count but with low accuracy (which is ok at the first steps), After steps > ~8000 things begin getting strange - accuracy of word prediction ge

[2021-11-24 15:40] LysandreJik commented on #14491
Pinging @michaelbenayoun on the issue :)

[2021-11-24 15:41] fatcat-z commented on #14491
@LysandreJik I will take a look at this.

[2021-11-24 15:42] LysandreJik commented on #14491
Thank you, @fatcat-z!

[2021-11-24 15:46] richardwth commented on #14505
Thanks for your reply and sorry for a waste of your time.

I realize the issue was on my side that `return_dict` was set to False in the provided checkpoint at `model_path`. The default of the library is indeed to return a dictionary.

[2021-11-24 15:46] #14505 closed

[2021-11-24 15:47] Rocketknight1 commented on #14504
It seems like an interesting paper, but there are **a lot** of papers with new training recipes like this, and I don't think we can implement them all until they become very famous and widely-used. Also, this particular method should be relatively easy for users to implement in their custom training loops or TF `train_step` code, so I think we probably would not be able to accept this PR right now

[2021-11-24 15:52] LysandreJik commented on #13823
@lewtun and @NielsRogge have also expressed their interest in helping out on ONNX issues so pinging them here

[2021-11-24 15:53] pietrolesci commented on #14513
Hi @LysandreJik,

Just as feedback, running the example in the doc, I noticed that the special tokens are not directly transferred from the `Tokenizer` to the `PreTrainedTokenizerFast` (e.g., `unk_token`, `pad_token`).

I hope this can be useful.

Best,
Pietro

[2021-11-24 15:54] LysandreJik commented on #14374
cc @patrickvonplaten @patil-suraj

[2021-11-24 15:58] LysandreJik commented on #14513
Thanks for the heads-up, pinging @SaulLu and @sgugger for knowledge

[2021-11-24 15:59] LysandreJik commented on #14505
I think forcing `return_dict` to be `True` has no downsides and would prevent issues where a model has `return_dict` set to `False` before being loaded in the pipeline. I believe we would be open for an explicit setting of `return_dict` to `True` in the pipelines.

[2021-11-24 16:01] LysandreJik commented on #14490
I believe such work is currently happening cc @michaelbenayoun @patrickvonplaten @mfuntowicz

[2021-11-24 16:10] polly-morphism commented on #14491
ok, so it seems like a problem with versions. Works with torch==1.10.0 numpy==1.21.4
onnx==1.10.2
onnxruntime==1.9.0

and latest transformers

[2021-11-24 16:22] Narsil commented on #14505
@LysandreJik do all models in all frameworks support the kwarg ?

If it's not an overridable option, we could definitely change every call to force `return_dict=True`

[code]

to
[code]

Would that work ?

[2021-11-24 16:25] lewtun commented on #13823
Thanks for the ping @LysandreJik - happy to look into the issue :)

[2021-11-24 16:28] SaulLu commented on #14513
Thanks for the feedback @pietrolesci ! :hugs:

It makes me think that maybe we should explain this point in the documentation shared by LysandreJik because indeed `PreTrainedTokenizer` has no way to automatically know which tokens of the tokenizer correspond to the `unk_token`, `cls_token` etc.

But if you ever see an automatic way to do it, I'd be really happy to discuss it!

[2021-11-24 16:33] anton-l commented on #14518
Hi @BakuDev! Indeed, it looks like the model overfits to the length of sentences in the training data. Try augmenting the training dataset by randomly concatenating 2 or more clips together to roughly match the length of your validation data

[2021-11-24 16:33] pietrolesci commented on #14513
Hi @SaulLu,

I agree with you that it's non-trivial to do that. I can share my **big** hack below. For context, I want to define a simple WhiteSpace tokenizer. My hack is manually creating a `special_token_map` on the original tokenizer. The challenge is that even the underlying tokenizer does not store the named special tokens (apart from the `unk_token` which is available in `tokenizer.model`).

[2021-11-24 16:33] Rocketknight1 commented on #14509
Hi, this is an interesting issue, and I suspect it doesn't have much to do with either TF or PyTorch. The reason is that models like GPT2 output integer token IDs, and if you're getting the same text either way then it likely means your models are outputting the same tokens. The problem is therefore probably that your newline characters aren't getting printed properly. I suggest comparing both mod

[2021-11-24 16:34] maiiabocharova commented on #14470
Thank you!!! It solved the issue. Thank you once again!

[2021-11-24 16:36] sorenmc commented on #4382
When i try to use this DataCollatorForSOP it says that it is deprecated and that i should use `DataCollatorForLanguageModeling`. It is however not clear whether this data collator also produces the objective sentence order prediction as in the original ALBERT paper. Can anyone on verify whether it does this or not?

[2021-11-24 17:06] SaulLu commented on #14513
Thank you very much for your answer @pietrolesci. I'm glad to read your solution, it's always very interesting to see how you use the libraries and what difficulties you're facing!

[2021-11-24 17:25] lhoestq commented on #14486
Hi ! I think it was kept in case some version of DPR had a projection layer (but afaik none of the official versions have that and the paper doesn't mention that either).

I think it would also break the conversion script from DPR weights of the official repository to `transformers` weights.

Not sure exactly how such changes are welcomed in the library but @patrickvonplaten probably knows more?

[2021-11-24 18:27] siwei-li commented on #11822
Hello there! I wonder if you have an updated version of the transformer-XL notebook? Thank you for your help!

[2021-11-24 18:32] DevBey commented on #14425
Hi @kct22aws ,

Please let me know if you need any help regarding this as we also have several huggingface and custom models running in AWS inferentia !!

[2021-11-24 18:39] DevBey commented on #7771
Hi, are summarization kinds of models still not traceable ??

I am trying to deploy this onto AWS inferentia, whose prerequisite is that the model should be traceable !!

for example this sshleifer/distilbart-cnn-12-6

@sshleifer, @patrickvonplaten can you guys please help ??

[2021-11-24 20:06] tuhinjubcse commented on #9996
@stas00  many thanks for your guidance. I could finetune  1 epoch. I converted the model to fp32 and saw the output and noticed it's generating garbled text. Now of course this could be bcz its only 1 epoch. But I trained on 772073 samples. Just to be clear I have a T5 3B model trained on same data but using a different code and it works perfecrly, so assuming my data is perfect

It generated some

[2021-11-24 20:20] stas00 commented on #9996
why is your `'learning_rate': 0.0` ?

[2021-11-24 20:23] tuhinjubcse commented on #9996
@stas00  thats something I don't understand that. As you can see in my script i mentioned 1e-3

[code]

Someone here said the same
https://github.com/microsoft/DeepSpeed/issues/1574

[2021-11-24 21:07] stas00 commented on #9996
I'd be happy to debug this with you, but let's first switch to the current example, which is https://github.com/huggingface/transformers/blob/master/examples/pytorch/translation/run_translation.py - it should be mostly the same with some args renamed - see the README.md for details https://github.com/huggingface/transformers/tree/master/examples/pytorch/translation

e.g. my staple example that I u

[2021-11-25 09:05] niansong1996 opened #14521 "GPT model `generate()` function not correctly skipping the padding tokens indicated by `attention_mask`"
According to #7552, the padding tokens will be skipped when calculating the `postional_id` during `generate()`, if the corresponding positions are masked out in `attention_mask`. If I understand this correctly, this would mean that the appearance of padding tokens does not matter as long as they are not attended to. However, I found that it is not exactly the case, do I miss something here?

-----

[2021-11-25 09:41] mishav78 commented on #3972
does the above work?

[2021-11-25 09:56] BakuDev commented on #14518
Forgot to mention that I get [PAD] after each predicted symbol. Maybe this can be related to described issue as well? Example:

[PAD]i[PAD]n[PAD]s[PAD]i[PAD]d[PAD]e[PAD]n[PAD]t[PAD]ə[PAD] [PAD]s[PAD]pü[PAD]r[PAD]t[PAD] m[PAD]ə[PAD]h[PAD]lul[PAD]un[PAD]un[PAD] [PAD]y[PAD]e[PAD]r[PAD]ə [PAD]d[PAD]a[PAD]ğ[PAD]ı[PAD]l[PAD]m[PAD]as[PAD]ı[PAD] [PAD]s[PAD]ə[PAD]bə[PAD]b[PAD] olub[PAD]

[2021-11-25 10:01] PaulLerner commented on #14486
DPR has an optional projection layer in the [original implementation](https://github.com/facebookresearch/DPR/blob/main/dpr/models/hf_models.py#L168) but it is [only applied on the sequence output](https://github.com/facebookresearch/DPR/blob/main/dpr/models/hf_models.py#L216), not on BertPooler's output.

[2021-11-25 10:19] lalitr994 commented on #14368
@fadi212 can you share your repo. how you have converted and loaded onnx model to onnx runtime? I am stucked at loading model to run time.

[2021-11-25 10:23] kshpv opened #14522 "Speeding up the models inference by OpenVINO through accurate quantization via NNCF"
# 🚀 Feature request

Add quantization support via [NNCF ](https://github.com/openvinotoolkit/nncf) for fast inference on OpenVINO

## Motivation

Using NNCF can speed up models up to 4x by INT8 quantization. Look at the results [here](https://github.com/openvinotoolkit/nncf#nlp-huggingface-transformers-powered-models)

## Your contribution

NNCF team already created a patch for your repo that enab

[2021-11-25 11:03] pommedeterresautee commented on #14100
I am currently working on that there: https://github.com/ELS-RD/transformer-deploy
TBH, it's not a simple problem, but it brings lots of performance improvement compared to vanilla pytorch or even CUDA provider on ONNX Runtime

[2021-11-25 12:11] stefan-falk opened #14523 "Examples for speech recognition trainings from scratch"
# 🚀 Feature request

Fine-tuning is rather straight forward but it looks to me as if running a training from scratch isn't. I am rather new to 🤗  but from what I've learned to far is that it's rather tricky to get by and find out how to start a new `Speech2Text` training (for example).

We got [`run_wav2vec2_pretraining_no_trainer.py`](https://github.com/huggingface/transformers/blob/d1fd64e7aa40d

[2021-11-25 12:33] anton-l commented on #14518
@BakuDev in Wav2Vec2's CTC decoder the `<pad>` is also used as a special *blank token* (see the **Alignment** section about it in this article: https://distill.pub/2017/ctc/).

[2021-11-25 12:46] nikvaessen opened #14524 "Computation of mask indices in Wav2vec2Model fails with low probabilities"
## Environment info

- `transformers` version: 4.12.2
- Platform: Linux
- Python version: 3.8
- PyTorch version (GPU?): 1.10

### Who can help

@patrickvonplaten

## Information

I'm trying to reproduce fine-tuning with Wav2vec2 on Librispeech, however using feature mask probability 0.0012 as in the paper makes the code crash at some point (after ~3_000 steps).

## To reproduce
[code]
raises
[code

[2021-11-25 13:10] versae commented on #13779
I have fine-tuned a model for orthographic modernization in Spanish with a prior version of transformers. In many cases, the predicted token is an accented letter such as `"ó"`. When these tokens appear in the list `tokens` of the function `.convert_tokens_to_string()`, the addition of the `errors="ignore"` makes the conversion miss one token, producing ill-formed words that were correctly predict

[2021-11-25 13:29] dumitrescustefan commented on #14497
Update: after reading [this issue](https://github.com/huggingface/transformers/issues/12606) I tried **setting the number of preprocessing workers to 1**, and after a lot of time, preprocessing finished without any crashes. So that 'solves' problem 1.

However, problem 2 still shows up. At least it's not related to problem 1.

Here is the error:
[code]

Any idea what might cause this? Thanks!

[2021-11-25 14:15] jmwoloso commented on #14500
Still testing stuff, but I didn't pay close attention when I ran the cli tool to get system info. I'm actually using a docker container on the A100 VMs that is based on Debian + NVIDIA (cudnn 8/ cuda 11.2).

The `tensorflow` version is actually 2.7.*
The `torch` version is actually 1.10.0

[2021-11-25 14:48] radu-diaconescu13 commented on #14433
Hello @NielsRogge

Any idea about this?

I have managed to add automatic mixed precision training from pytorch on V100 compute
but I can only get up to batch size 8 this way.

Any help would be greatly appreciated.

Thank you

[2021-11-25 15:00] BakuDev commented on #14518
@anton-l Вы не согласились бы помочь с этой проблемой на платной основе если возможно? Если напишите куда писать в ЛС, свяжусь для обсуждения.

[2021-11-25 15:01] #14050 closed

[2021-11-25 15:01] #14042 closed

[2021-11-25 15:01] #14039 closed

[2021-11-25 15:29] anton-l commented on #14518
@BakuDev feel free to ask any specific questions about training strategies (i.e. not necessarily about the `transformers` library) on our [forums](https://discuss.huggingface.co/) or on [Discord](https://hf.co/join/discord), someone from the community will gladly help you out :)

[2021-11-25 15:29] #14518 closed

[2021-11-25 15:41] Narsil commented on #13779
Hi @versae

Interesting.

I think we should stay away from `"ó"` since as you mentionned it has multiple encodings/representation.

The way I understand it, you are referring to a token (so an number between 0 and 255) . That's what tokens should be (even if in the linked function they are strings, they should be 1-1 mapping of numbers).

So the model generated, Token [243] in your case, which is

[2021-11-25 16:26] jongjyh opened #14528 "trainer process bar can't move while training"
## Environment info

- `transformers` version:4.12.5
- Platform:pytorch
- Python version:3.8
- PyTorch version (GPU?):1.12.0-cuda11.3
- Tensorflow version (GPU?):
- Using GPU in script?:yes
- Using distributed or parallel set-up in script?:no

### Who can help
@sgugger

## Information

Model I am using (Bert, XLNet ...):XLNET

The problem arises when using:
* [ ] the official example scripts: (giv

[2021-11-25 19:02] Rocketknight1 commented on #14152
This issue should be resolved by recent PRs - if you're still encountering difficulties, please reopen it and let us know!

[2021-11-25 19:02] #14152 closed

[2021-11-25 19:03] ScientiaEtVeritas commented on #11413
@wadimiusz Is there any update on this? I think it would be a great addition.

[2021-11-25 19:31] versae commented on #13779
Hi @Narsil, thanks for the detailed explanation. I trained the model using Tensorflow on Oct 15th, which according to PyPI that should mean transformers was in its 4.11.3 version. I used `source,target` pairs such as (simplifying) `"precision","precisión"` so the model could learn modern Spanish orthography.

I understand the issue with the token 243. You are absolutely right. If I print the token

[2021-11-25 20:57] bnurbekov opened #14530 "Logits warper for batch generation"
# 🚀 Feature request
Is there a way to modify `logits_warper`, so that it will apply different parameters (`top_p`, `top_k`, `temperature`) for each item in a batch instead of applying the same parameters for all items in the batch:

https://github.com/huggingface/transformers/blob/f25a9332e8d091398ce96c462e02a467943c8eb9/src/transformers/generation_utils.py#L1562

## Motivation

It will very usefu

[2021-11-26 02:41] sunersheng commented on #4701
when we construct BertForSequenceClassification from pre-trained model, didn't we overwrite the loaded weights with random initialisation?

[2021-11-26 03:45] tuhinjubcse opened #14531 "Deepspeed and T5-11B for multitask training"
Carrying on my conversation here @stas00
https://github.com/huggingface/transformers/issues/9996#issuecomment-968348129

Used the run_translation.py and now my loss is 0.0 :( . This is probably doomed to fail

[code]

Script

[code]

Data format
[code]

[code]

[2021-11-26 04:08] stas00 commented on #14531
I have a feeling that the issue is not in using deepspeed but somewhere else in your setup.

Let's remove deepspeed for a moment from the equation and try your setup with a single gpu setup with `t5-large` or even `t5-small` - make it work first so that it produces what you expect albeit with a lower quality.

Once this is working you can then progress to a higher model size and eventually you'd j

[2021-11-26 04:34] devjwsong opened #14532 "Difference in the length of positional embeddings produces different results"
Hi, I am currently experimenting with how the length of dialogue histories in one input affects the performance of dialogue models using multi-session chat data. While I am working on **BlenderbotSmallForConditionalGeneration** from Huggingface's transformers with the checkpoint "blenderbot_small-90M", I encountered results which are not understandable for me.

Since I want to put long inputs(ex.

[2021-11-26 04:51] jmwoloso commented on #14500
[this](https://github.com/tensorflow/tensorflow/issues/53192) seems suspiciously related as they're having JIT issues on the A100. I think in my case though, TF isn't sure which device to use.

[2021-11-26 06:56] fadi212 commented on #14368
Hi @lalitr994 ,
You can use this script to convert the code for now.
`
from transformers.onnx import OnnxConfig, PatchingSpec
from transformers.configuration_utils import PretrainedConfig
from typing import Any, List, Mapping, Optional, Tuple, Iterable
from collections import OrderedDict
from transformers import LayoutLMv2Processor
from datasets import load_dataset
from PIL import Image
import tor

[2021-11-26 07:50] BramVanroy commented on #4701
@sunersheng No, the random initialization happens [first](https://github.com/huggingface/transformers/blob/a9aa7456ac824c9027385b149f405e4f5649273f/src/transformers/modeling_utils.py#L659) and then the existing weights are loaded [into it](https://github.com/huggingface/transformers/blob/a9aa7456ac824c9027385b149f405e4f5649273f/src/transformers/modeling_utils.py#L732).

[2021-11-26 08:40] Narsil commented on #13779
@versae
Is it possible that you fed the models with unicode codepoints during training and not utf-8 encoded bytes ?
This looks like it, but I can't be sure. Since I think most accented spanish letters are still below 255 you might not have encountered any issue and been able to train your model just fine.

Just to make sure I tested, that the `byt5` tokenizer would encode `presunción` with the co

[2021-11-26 09:58] wadimiusz commented on #11413
Hi @ScientiaEtVeritas, the feature seems not hard to implement and I think I already have the code somewhere, but it would require nice and thorough tests that I don't have the time to write right now. If you could help me with the tests, we could submit a pull request together :)

[2021-11-26 10:10] Narsil commented on #11413
There used to be a PR that might be used as a starting point:

https://github.com/huggingface/transformers/pull/12219

Thanks if you can work on this !

[2021-11-26 11:48] piEsposito commented on #14490
Nice. Can I contribute to that by any means?

[2021-11-26 13:59] avolny opened #14537 "Is the attention_mask in BertSelfAttention applied correctly?"
https://github.com/huggingface/transformers/blob/69511cdcaec8c1c7f0d7f378964eca0ce74ed5a8/src/transformers/models/bert/modeling_bert.py#L325-L327

Relevant Models:
- BERT: @LysandreJik

I was just working on adjusting Bert to my custom architecture, and when editing the BertSelfAttention module, I have noticed a very strange couple of lines (see the linked code). Shouldn't the masking be applied m

[2021-11-26 14:17] angelopf commented on #9039
Same question here!

[2021-11-26 15:08] #14162 closed

[2021-11-26 15:29] tuhinjubcse commented on #14531
@stas00  thanks I tried with t5-small  with and without deepspeed and the loss was non zero it was in the range of 3.6 and was slowly decreasing. I removed the label smoothing before training

[code]

I started doing T5-11B

[code]

[2021-11-26 16:43] QzzIsCoding opened #14538 "cannot import name 'DataCollatorForSeq2Seq' from 'transformers'"
## Environment info

- `transformers` version:  4.13.0.dev0
- Platform: Ubuntu
- Python version: 3.7
- PyTorch version (GPU?): 1.10.0

### Who can help
@sgugger

## Models:
- encoder-decoder models

## To reproduce

Steps to reproduce the behavior:
`git clone https://github.com/huggingface/transformers.git`
`cd transformers`
`pip install -e .`

![image](https://user-images.githubusercontent.com/56

[2021-11-26 16:50] manuelciosici opened #14539 "Two bugs in AdamW"
## Environment info

- `transformers` version: 4.13.0.dev0
- Platform: Linux-3.10.0-1160.45.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): 2.7.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@thomwolf and @stas00 should be able to help based on `git bl

[2021-11-26 16:51] programmeddeath1 opened #14540 "cannot import name 'SpeechEncoderDecoder' from 'transformers' - wav2vec2-xls-r-2b-22-to-16"
Hi,
I am currently trying to run this model - facebook/wav2vec2-xls-r-2b-22-to-16
https://huggingface.co/facebook/wav2vec2-xls-r-2b-22-to-16

The example code given using the pipeline is giving significantly different results compared to the api hosted on hugging face. I recorded and sent the same audio to the api through the website as well as ran the sample code on colab. The output is quite dif

[2021-11-26 16:56] oscar-p-wiz opened #14541 "Out of the box GPT-2 CLM hits out of memory on an AWS 8x Nvidia A100 VM"
Running the command located here https://github.com/huggingface/transformers/tree/master/examples/pytorch/language-modeling

python run_clm.py \
    --model_name_or_path gpt2 \
    --dataset_name wikitext \
    --dataset_config_name wikitext-2-raw-v1 \
    --do_train \
    --do_eval \
    --output_dir /tmp/test-clm

Produces an OOM error on the AWS p4d.24xlarge VM. Surely this should run out of th

[2021-11-26 17:02] QzzIsCoding commented on #14538
After restarting jupyter, the problem is solved.

[2021-11-26 17:03] #14538 closed

[2021-11-26 17:44] LysandreJik commented on #14537
These issues may be of help: https://github.com/huggingface/transformers/issues/13555 https://github.com/huggingface/transformers/issues/542

Apparently it would still help quite a bit to have comments explaining what's happening - would you like to try your hand at it?

[2021-11-26 17:51] avolny commented on #14537
Oooh, yeah, didn't realize it was right before softmax, I had to solve this issue before...

I found the code that converts the binary mask into the log-scale mask as well.

Sure, I will update it and post a pr during the weekend. :)

[2021-11-26 17:52] avolny commented on #14537
hmm this piece of code is also present in multiple models I'm sure, all of the could use documenting, correct? @LysandreJik

[2021-11-26 17:55] LysandreJik commented on #14470
Glad to hear it!

[2021-11-26 17:55] #14470 closed

[2021-11-26 18:32] tuhinjubcse commented on #14531
t5-large with deepspeed

[code]

[2021-11-26 19:48] pranavpawar3 commented on #14491
@patil-suraj @LysandreJik

There is another bug(?) in [run_onnx_exporter.py](examples/onnx/pytorch/translation/run_onnx_exporter.py) script. [Line](https://github.com/huggingface/transformers/blob/69511cdcaec8c1c7f0d7f378964eca0ce74ed5a8/examples/onnx/pytorch/translation/run_onnx_exporter.py#L137), where dynamic axes are declared, the attention_mask isn't included in the set. Any reason why? 'Caus

[2021-11-26 20:26] yana-xuyan opened #14542 "CUDA OOM at `self.optimizer.consolidate_state_dict()` in Trainer when using sharded_ddp"
## Environment info

- `transformers` version: 4.12.3
- Platform: Linux-5.4.0-1057-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: 8 GPUs
- Using distributed or para

[2021-11-26 20:59] xhlulu commented on #14494
Thanks @NielsRogge! I tagged you in #11907 about some differences between the current script and the new retrieval weights.

In the mean time I ran the scripts and uploaded the weights to [huggingface](https://huggingface.co/xhlu/tapas-large-finetuned-nq-hn). If it turns out `bert_1` was something important to add, I'm happy to run an updated script and push the changes to the repo.

Note I also u

[2021-11-26 21:08] stas00 commented on #14531
So first good to see that you have the non-DS setup working.

I don't understand this in your log 2 comments up. Is it with or without DS?

Re: last comment:

As the warning says, the optimizer hasn't started running, so it doesn't have an LR yet, and just returns 0.

So we need to figure out why the optimizer isn't running.

For example you can edit the ds config file to remove the optimizer sect

[2021-11-26 21:13] versae commented on #13779
Thank you so much, @Narsil.

I trained models using the Trainer on [this dataset](https://huggingface.co/datasets/versae/modernisa) but their performance was really bad. Then I tested a small library called [SimpleT5](https://github.com/Shivanandroy/simpleT5/blob/main/simplet5/simplet5.py)
 that conveniently wraps Huggingface and PyTorch Lighting for T5 fine-tuning in like 3 lines of code and it w

[2021-11-26 21:15] viantirreau commented on #14368
Hi @fadi212! Thanks for your script!

I'm having some trouble exporting the `microsoft/layoutlmv2-base-uncased` model (just testing it works ok before exporting my model). I have discarded any errors in your code, as it works perfectly, but it ends up failing with a segmentation fault deep into some `pytorch` C bindings.

 May I ask you what versions of the libraries have you installed, in particu

[2021-11-26 21:16] polly-morphism commented on #14491
Even after solving the attention mask issue I still wasn't able to get **faster** model after converting bart to onnx. Perhaps quantization could help, but like, on the same text I got 6sec on pytorch model GPU and 70sec on onnx optimized graph.

[2021-11-26 21:32] stas00 commented on #14531
I also run a sanity check with this and verified that in general things work correctly:

[code]

So something is different about your setup.

[2021-11-26 21:41] NielsRogge commented on #14494
Hi,

`bert_1` is important, yes. The retriever consists of 2 encoders, one to encode the question, one to encode the table. The authors released the retriever checkpoints as "dual encoders", meaning they contain the weights of both encoders.

The encoders each correspond to `TapasModel` in Huggingface, with an optional additional projection layer on top.

The reader on the other hand corresponds t

[2021-11-26 21:43] tuhinjubcse commented on #14531
You are trying with t5-small in your sanity check . t5-small works for me too with deepseed as well
as without deepspeed. It gives me loss zero for t5-11b with same code. I also am using adafactor  instead of adam since I am trying to reproduce the same hyperparameters as T0pp

[2021-11-26 21:44] stas00 commented on #14531
Additionally, I have noticed you're using `--adafactor`, which until recently didn't have a way to access LR as it's an internal state. Some months back I added a hack to have it extract the LR, but it's not great.

So it's very likely this could be related as well. e.g. try to use the default ds_config w/ optimizer and remove `--adafactor` and see if things are different?

[2021-11-26 21:50] stas00 commented on #14531
Understood.

As I explained earlier, for some reason the optimizer isn't running in your t5-11b example. So we need to figure out why that is.

You can also try the larger ones first - t5-base, t5-large

[2021-11-27 01:15] varunSabnis commented on #2668
@JKP0  were u able to solve the issue?

[2021-11-27 03:45] xhlulu opened #14543 "TAPAS tanh activation on the pooling layer"
I noticed the following in the TAPAS pooling layer:

https://github.com/huggingface/transformers/blob/d83b0e0c079f0826d186270a86622ff5f1efd9c1/src/transformers/models/tapas/modeling_tapas.py#L696-L709

I'm curious about the use of `nn.Tanh()`. I wasn't able to find more information about that activation in [the paper](https://arxiv.org/abs/2004.02349). Is it possible for me to find out more about

[2021-11-27 03:49] xhlulu commented on #14494
Thank you for expanding on this! It's not clear whether `bert_1` corresponds to the table or the question encoder unfortunately. The model I uploaded only uses `bert`, I'm happy to update the name of the repo to the correct version (question or table encoder) once this is disambiguated.

Moreover, I'm not sure about the best way to add an extra layer to a huggingface model, hence I saved it as a s

[2021-11-27 04:07] tuhinjubcse commented on #14531
I removed adafactor. This is for t5-large

my config

[code]

[code]

[code]

[2021-11-27 04:15] stas00 commented on #14531
In general try to use `auto` values in the ds config file, so that you don't have to sync them manually. HF Trainer will set them up correctly for you on the fly.

But I don't see any fault with your config.

Can you please send me a sample of your data you train with - if it's not for a public eye, let me know. It'd be easier to experiment directly rather than ask you to do this and that.

[2021-11-27 04:30] xhlulu opened #14544 "TAPAS tokenizer is unable to handle indexed dataframes"
Running the following code will result in a `iloc` error:

[code]

[2021-11-27 04:32] tuhinjubcse commented on #14531
I can't share it publicly on this thread but I emailed you the zip file containing code and data
I emailed at your email id mentioned here https://stasosphere.com/

[2021-11-27 04:39] stas00 commented on #14531
missing your custom `run_translation.py`

[2021-11-27 04:41] tuhinjubcse commented on #14531
I made changes already in the code run_translation

Check for this function and you will know

[code]

[2021-11-27 05:21] stas00 commented on #14531
Could you please try after applying this patch to deepspeed:

[code]

[code]

[patch.txt](https://github.com/huggingface/transformers/files/7611262/patch.txt)

This should now tell if you OVERFLOW happens and that's why it skips the `step`

[2021-11-27 05:24] programmeddeath1 commented on #14540
The  pretrained model 'xls_r_2b_22_16.pt' is 19.6gb on the fairseq github repo. The xls_r_2b_22_16 model on the hugging face hub is 9.8GB. Could this be the issue? are these different models that were uploaded.

[2021-11-27 05:27] tuhinjubcse commented on #14531
Does this solve the issue ? I think for t5-large I was getting 0 LR however for T5-11b loss was zero. I am just trying to understand here

[2021-11-27 05:37] tuhinjubcse commented on #14531
[code]

Yes so I guess OVERFLOW is happening

[2021-11-27 06:03] stas00 commented on #14531
No, it's not solving the issue - I just added a diagnostic logging. It was already in `zero3.py` - so I just ported it to `zero2.py` - I will submit a PR to Deepspeed.

So why does it start with loss scale: 1, e.g. when I run with t5-small I get:

(Also added `--logging_steps 2` to the cmd args so you don't have to wait for long to see the logs)

[code]

In the ds config file:

[code]

which is 2*

[2021-11-27 06:13] stas00 commented on #14531
I can reproduce your issue with `t5-large`, so this is good as now I should be able to sort it out or at least communicate the problem to the Deepspeed team.

[code]

I hope to have time tomorrow to debug this.

[2021-11-27 06:28] stas00 commented on #14531
zero3 does the right thing, starting with `65536`, but it too goes down to 1. it just skips one degree down at a step it in a different fashion.

if you want to experiment before I get a chance, the next step is for you to try `t5-large` w/o deepspeed as you don't need it. And it doesn't work:

[code]

So your issue is not with deepspeed, but either your code or `transformers`.

[2021-11-27 07:49] stas00 commented on #14531
OK, your issue is `--fp16`. t5 and most other models trained in bf16 have huge issues with bf16. Removing `--fp16` (and disabling it in deepspeed if you use the latter) fixes the problem.

Here is what you can try:

1. a workaround for overflow: https://github.com/huggingface/transformers/pull/10956
2. a WIP `--bf16` PR (since you're on A100)  https://github.com/huggingface/transformers/pull/13207

[2021-11-27 08:14] fatcat-z commented on #14491
This is was designed as an example of showing how to export BART + Beam Search to ONNX successfully. It doesn't cover all of scenarios. Your PR is appreciated to make it better. Thanks!

[2021-11-27 08:31] stas00 commented on #14531
And DS has recently added bf16 for
https://www.deepspeed.ai/docs/config-json/#bfloat16-options
[code]

so that's option 4 to try with deepspeed - just replace the float16 section with the above one.

I think it only works with z2.

[2021-11-27 09:20] NielsRogge commented on #14543
Hi,

The TAPAS authors borrowed this from the original BERT paper, which decided to apply a tanh layer.

The BERT author explains why he did that [here](https://github.com/google-research/bert/issues/43).

[2021-11-27 09:22] NielsRogge commented on #14544
Hi,

This has been reported before in #10265. Would you mind opening a PR to fix this?

[2021-11-27 09:40] sachinruk commented on #14467
Sorry, I'll close this here, opened the issue [in the forum](https://discuss.huggingface.co/t/encoderdecodermodel-generate-text-for-a-vit-as-encoder/12332).

[2021-11-27 09:40] #14467 closed

[2021-11-27 12:14] gchhablani commented on #13853
Unstale

[2021-11-27 12:42] Choitsugun opened #14548 "Does the word embedding matrix of GPT2 load from the checkpoint, during the fine-tuning?"
Does the word embedding matrix of GPT2 load from the checkpoint,  during the fine-tuning?
（transformer.wte.weight⇒shared token embedding layer Shared weights logic）

I tried to do the following:

  model = TFGPT2LMHeadModel.from_pretrained("gpt2-medium"）
  model.get_output_embeddings().weight

But the following error was occurred, probably because the parameters of wte.weight were not initialized.

[2021-11-27 15:03] stancld commented on #14188
waiting for #13633

[2021-11-27 16:02] tuhinjubcse commented on #14531
Stas you are amazing and I appreciate all the help and fast turnaround. I am just trying to understand if I use OPTION 3 (fp32) won't it give me OOM eventually? I just wanted to let you know my entire research questions tests on the ability to finetune T5-11B so unless that works t5-large/small/3B doesn't really help me

Just to be sure and consistent I have 4 A100 GPUs, so if you can tell me what

[2021-11-27 16:22] WanzhengZhu commented on #2708
I set the `gpus=1`, and it works.

[2021-11-27 17:18] tuhinjubcse commented on #14531
I got t5-large to work with fp32 but ofcourse got OOM with batch size 1 fp32 T5-11B zero2. Appreciate any help here

[2021-11-27 17:25] tuhinjubcse commented on #14531
Option 4 gave me this

[code]

[2021-11-27 17:39] stas00 commented on #14531
The first step is to make things work w/o overflow, the second step is dealing with memory.

As bf16 is all new it will take some time to fully sort it out.

So your fp32 OOM was w/ or w/o deepspeed?

fp32 takes about the same amount of memory as fp16 mixed precision, because the latter still allocates 4 bytes for master weights per param. So the latter saves some memory in some places, but uses m

[2021-11-27 18:00] stas00 commented on #14531
Additionally, I know you're trying to use Adafactor, but if nothing else works right away and you're in a hurry one other things to consider is using https://github.com/facebookresearch/bitsandbytes 8-bit AdamW optimizer. It will save you 6 out of 8 bytes per param. This is a huge memory saving, hence the suggestion.

Here is the saving breakdown:
- fp32: from 16 (8+4+4) to 10 (2+4+4) bytes per pa

[2021-11-27 19:06] parkhaemi commented on #14495
Thank you so much!!
Have a nice day :)

[2021-11-27 19:06] #14495 closed

[2021-11-27 19:23] dumitrescustefan commented on #14497
Update: setting ``preprocessing_num_workers = 1`` seems to solve the core dump. It takes a long time to preprocess and load the dataset on the 96 core machine with 1 worker :) but I'm not seeing the dumps anymore.

Regarding the Argument is not a valid Jax type, I am not sure whether I "fixed" the problem, but now I've managed to train an epoch without crashing. What I did was set ``truncation=Tru

[2021-11-27 20:29] xhlulu commented on #14544
@NielsRogge I started a PR here: https://github.com/huggingface/transformers/pull/14549

I'm not sure if it totally solves the problem, but it's a start

[2021-11-28 01:37] kev-zhao opened #14550 "Huggingface Missing Larger T5 Flax Models"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-5.4.0-90-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.3.5 (gpu)
- Jax version: 0.2.17
- JaxLib version: 0.1.65
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?:

[2021-11-28 08:24] yz-qiang opened #14551 "Question about the <mask>"
When fine-tuning the Bert, can I add some kind of constraint on the pre_trained **Bert model** so that Bert knows the different locations of **\<mask\>** to predict the same content? For example,  **xxx \<mask1\> xxx xxx, .... xxx \<mask1\>.**. I know Bert can predict the **MASK** in two positions into the same word when the sentence is not very long, completely. However, if the sentence is long,

[2021-11-28 08:42] dabasmoti opened #14552 "Can’t run Parallel inference"
- `transformers` version: 4.12.3
- Platform: Darwin-20.6.0-x86_64-i386-64bit
- Python version: 3.7.0
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: parallel

Hi,
I hav

[2021-11-28 09:07] Choitsugun commented on #14548
I was mistaken. Sorry.

[2021-11-28 09:07] #14548 closed

[2021-11-28 13:35] Arij-Aladel commented on #14199
Using 't5-small' tokenizer is wrong we should use just the pretrained tokenizer .
I have tried it and got very low accuraccy.
using wikitext /wikitext-103-raw-v1 for 10 epochs as dataset and pretraining the tokenizer over  wikitext-103-raw-v1 got 0.5838  accuracy. but using t5-small tokenizer very low accuracy. and no masking is happening just deleting tokens.

[2021-11-28 14:03] vitalyshalumov opened #14554 "Loading from checkpoint without skipping requires the same number of GPUs"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-4.4.0-210-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.9.0a0+2ecb2c7 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

When changing the number of GPUs available, the train

[2021-11-28 14:37] tuhinjubcse commented on #14531
Turns out with zero3 and fp32 it works. I was training it and it went OOM after 25% training so I reduced it to batch size 12 from 16. If it still fails will fall back to 8. The time its taking is definitely more but atleast working

Time to load utils op: 0.0010249614715576172 seconds
[INFO|trainer.py:1196] 2021-11-27 22:54:13,786 >> ***** Running training *****
[INFO|trainer.py:1197] 2021-11-27

[2021-11-28 15:01] #14089 closed

[2021-11-28 15:02] #14078 closed

[2021-11-28 15:02] #14021 closed

[2021-11-28 15:02] #13990 closed

[2021-11-28 18:28] Tortoise17 opened #14556 "Target customized languages using multi-lingual sentence transformer models like "stsb-xlm-r-multilingual""
I have seen these models with multi-lingual ability and they are very nice.
But, I would like to ask that is there any possibility to have the specific target language / languages from the multi-language data search?
Like source language >> input, target language << output?
Main motivation is that, I have data in several languages. But I want only specific languages to be searched and get the resu

[2021-11-28 20:00] R4ZZ3 commented on #13219
Any update on this @patil-suraj
We are experiencing this when trying to load RoBERTa using Flax with TPU v3-8

[2021-11-28 23:54] sgugger commented on #14542
You should remove the checkpointing by using `save_strategy="no"` to avoid getting out of memory: since the optimizer states are sharded to avoid spending too much GPU memory, you get the OOM error when the `Trainer` tries to save the optimizer state.

[2021-11-29 01:27] yana-xuyan commented on #14542
Thank you for your reply! But if I remove the checkpointing, then I cannot get any checkpoint until the end of the training or resume training from the checkpoint. Do you have any idea if I still want to the checkpoints?

[2021-11-29 02:07] stas00 commented on #14531
That's a progress.

Additionally have you made sure that you have ` torch.backends.cuda.matmul.allow_tf32 = True` and you're using torch==1.10 and some fairly recent cuda - at least cuda=11.3? You haven't confirmed that.

[2021-11-29 02:31] tuhinjubcse commented on #14531
Yes

Done and yes confirming
torch.backends.cuda.matmul.allow_tf32 = True
torch==1.10
cuda=11.3

[2021-11-29 04:52] fadi212 commented on #14368
Hi @viantirreau  @lalitr994 ,
You can take a look at this PR and convert your model with this branch.
https://github.com/huggingface/transformers/pull/14555

[2021-11-29 05:28] Fakekid opened #14558 "XLMForSequenceClassification does not work"
## Environment info

- `transformers` version: 4.12.5
- Platform:  Linux 3.10.0-957.21.3.el7.x86_64
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1-gpu
- Tensorflow version (GPU?): 2.6.0
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@LysandreJik

## Information

Model I am using : XLMForSequenceClassification

The problem arises when u

[2021-11-29 06:41] lalitr994 commented on #14368
Thanks @fadi212 I will try my model with this brach

[2021-11-29 07:02] seuly1203 opened #14559 "Question about an error occurring while running hf_argparser.py"
## Environment info

- `transformers` version:
- Platform: Google Colab
- Python version: Python 3.7.12
- PyTorch version (GPU?): 1.8.0+cu111 (using Colab Pro - GPU/high-RAM)
- Tensorflow version (GPU?): 2.7.0
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
<!-- Your issue will be replied to more quickly if you can figure out the right person to tag wit

[2021-11-29 08:24] lewtun commented on #13823
Hey @Maxinho96 do you mind if I continue working on your branch in #13854? This will allow your contribution to be accounted for once we eventually merge the support for MarianMT models :)

[2021-11-29 08:28] Oxi84 opened #14560 "[Probably a bug] - T5TokenizerFast is not the same as T5Tokenizer - it adds id 1 when using batch encode plus"
Ubuntu 18.04
Transformers 4.12.5

I tried  T5TokenizerFast and it is much faster but the generation output is different.  Encoding part seems like adds one addition 1 (id) while the decoder seem to work fine.  But as results output is very different.

    1)
    from transformers import T5ForConditionalGeneration,T5Tokenizer, T5TokenizerFast
    model1a = T5ForConditionalGeneration.from_pretrained

[2021-11-29 08:32] Maxinho96 commented on #13823
Sure, thank you 🙏

[2021-11-29 09:15] #14511 closed

[2021-11-29 09:18] Oxi84 commented on #9633
I am getting some difference between these 2 tokenizers is this solved?

[2021-11-29 09:28] ShaneTian opened #14561 "[Bug] `tokenizer.model_max_length` is different when loading model from shortcut or local path"
## To reproduce

When loading model from local path, the `tokenizer.model_max_length` is `VERY_LARGE_INTEGER`:
[code]

## Related code

https://github.com/huggingface/transformers/blob/25156eb296ae88c7b810235a368c953b7a4b9af9/src/transformers/tokenization_utils_base.py#L1858-L1864
https://github.com/huggingface/transformers/blob/ebbe8cc3fe7a2553e924353ab454bd026fd23135/src/transformers/models/gpt2

[2021-11-29 09:32] LysandreJik commented on #14537
Yes, if you could add 1-2 lines of doc to the models concerned, that would be of great help! Thanks, @avolny!

[2021-11-29 09:37] LysandreJik commented on #14541
cc @sgugger maybe we should reduce the default batch size and/or sequence length here

[2021-11-29 10:08] realjanpaulus commented on #14412
@michaelbenayoun : Your solution idea fixed some issues for me and my results got better but in the end, the old approach is the best (at the moment). But this could be due to errors in our pipeline. I think I will use the new [optimum](https://github.com/huggingface/optimum) library in the future. Thanks all for the help, I will close this issue.

[2021-11-29 10:08] #14412 closed

[2021-11-29 10:20] Narsil commented on #14552
Hi @dabasmoti,

Can you share the full reproducible script ?
It seems that something early on is messing things up.

If you remove `model=model` then it works perfectly. The model creation is likely to be the issue.

[2021-11-29 11:54] bhadreshpsavani opened #14563 "[Bug] Issue in AutoModelForSequenceClassification while initialization"
## Issue:

If we import Sequence Classification model like this,

[code]
it will always generate a classification head like this
[code]
Ideally `out_features` should be like same as `num_labels` specified. Like this
[code]
for `single_label_classification` also the same thing is happening.

If we remove below two lines while initialization it works fine.
[code]
Note: I have initialized `label2id`

[2021-11-29 13:21] joseph8az commented on #8690
why don't you restart the system.

[2021-11-29 14:41] nicolalandro commented on #14360
@sgugger @patrickvonplaten  @patil-suraj  any news about the problem?

[2021-11-29 14:44] shabie commented on #14563
A couple of things are strange in your code cell # 3:

[code]

The datatype is not consistent. `id2label` has strings and `label2id` has integers (both should be integers). More importantly there is a strange `,` making id2label actually a tuple. This is where the bug comes from. Remove the comma and you get `out_features=28`.

[2021-11-29 14:55] jakobbrown opened #14565 "BertForSequenceClassification : 'module 'Torch' has no attribute 'BoolTensor'"
Hi there,

error on line:

'''
from transformers import BertForSequenceClassification
'''

Resulting in the following errror:

'''
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\transformers\file_utils.py in _get_module(self, module_name)
   2149

[2021-11-29 15:21] simonebel commented on #14560
Hi @Oxi84,

I'm not able to reproduce this error.
In the code cell you give, at the first block you define `tokenizer1` but you are using `tokenizer1_decode` as a tokenizer instance.

The error may come from this line : `encoding = tokenizer1_decode.batch_encode_plus(text,pad_to_max_length=True)` ?

[2021-11-29 16:02] sgugger commented on #14554
Yes, in general the API to resume training requires you to have the exact same setup. You won't get to the same results otherwise.

[2021-11-29 16:02] Narsil commented on #14210
Was fixed by https://github.com/huggingface/transformers/pull/14260

[2021-11-29 16:02] #14210 closed

[2021-11-29 16:09] sgugger commented on #14541
The defaults are pretty good, but we should definitely update the example command give to either use a smaller `block_size` or some gradient accumulation with a smaller batch size.

[2021-11-29 16:45] patrickvonplaten commented on #14432
Hey @duvi86,

Could you please provide a reproducible code snippet that shows the time difference between RoBERTa and Longformer?
Thank you

[2021-11-29 16:48] patrickvonplaten commented on #14351
Gently pinging @michaelbenayoun @echarlaix here

[2021-11-29 18:00] stas00 commented on #14531
watch this PR https://github.com/microsoft/DeepSpeed/pull/1453
as soon as it's merged you can have the speed back with bf16/Zero3 under Deepspeed with Amphere.

I guess you can already try it if you are in need.

[2021-11-29 20:40] Oxi84 commented on #14560
Thanks for the answer, i solved it. Tokenizerfast already adds <s> so i had this character doubled.

    from transformers import T5ForConditionalGeneration,T5Tokenizer, T5TokenizerFast
    tokenizer = T5Tokenizer.from_pretrained('t5-large')
    tokenizerFast = T5TokenizerFast.from_pretrained('t5-large')

    sentence_list = ["I really like beer. It's better than whiskey."]
    print("sentence_lis

[2021-11-29 20:41] Oxi84 commented on #14560
I sometimes even get better results with <s> added 2 times which is interesting :)

[2021-11-29 20:56] sgugger commented on #14504
I agree this is out of scope of the `Trainer` for now, unless it becomes a widely used technique. In the meantime, using our [`Accelerate`](https://github.com/huggingface/accelerate) library lets the user write their custom training loop where they can implement this feature easily :-)

[2021-11-29 21:19] patrickvonplaten commented on #14128
Hey @rajgar114,

Thanks for the issue! The above script is quite old and we don't actively maintain such scripts. However, I'm happy trying to debug the problem! As a start could you write a minimal executable code example that reproduces the error warning using the most up to date version of `transformers`? E.g. it's probably just the part that includes the `generate()` method that is responsible

[2021-11-29 21:20] patrickvonplaten commented on #6821
We should definitely enable `generate()` on multiple GPUs - did anybody give it a try with DDP?

[2021-11-29 21:23] stas00 commented on #6821
See:  https://github.com/huggingface/transformers/issues/6821#issuecomment-825770020

[2021-11-29 22:21] patrickvonplaten commented on #14471
Ok I took a look at the differences between the two scripts - there are **two** main differences (which were bugs in 4.11 IMO).

1)
The diversity loss was completely incorrectly scaled in 4.11 - see: https://github.com/huggingface/transformers/blob/dc193c906dfb3b9663f8963735c46e030a15b914/src/transformers/models/wav2vec2/modeling_wav2vec2.py#[…]3 here you can see that while the contrastive loss is

[2021-11-29 22:22] patrickvonplaten commented on #14471
yeah this looks correct

[2021-11-29 23:47] bjascob commented on #7901
This issue is present in "non-special" tokens in transformer 4.12.3.  The code explicitly strips spaces from the surrounding tokens.  It does look for the `AddedToken` class to get the behavior so there is no way to change this.

See `tokenization_utils.py::tokenizer()` line 517:
[code]
This leads to incorrect behavior unless the added token is in the middle of a longer word.

[2021-11-30 01:05] shabie commented on #14561
I've also encountered the same problem specially obvious working on clusters having no internet access. The problem stems from the fact that other than the string passed to the `from_pretrained`, there really is no good way right now of knowing what model is in the folder. I thought `model_type` might help but that's not the case.

Which means as a quick fix,  we can resort to a solution that work

[2021-11-30 03:15] RunxinXu commented on #14504
Thanks so much :)

[2021-11-30 03:15] #14504 closed

[2021-11-30 03:23] diruoshui commented on #14491
I tested the versions of the major packages. It is determined that upgrading pytorch from 1.8.0 to 1.9.1 can solve this bug.However in 1.9.1 pytorch does not support opset_version 14 and needs to be upgraded to 1.10.0.
I think the version of pytorch in requirement.txt can be modified.

[2021-11-30 05:47] sgugger commented on #14539
I was not the one who made the adjustments, which may have been made on purpose for some reason.

I don't think the current behavior should be changed (even if different from the original paper) as it might break all reported results on all our examples, and this implementation of AdamW has worked quite well on all our tasks. Furthermore, PyTorch now has an implementation of AdamW, so people shoul

[2021-11-30 08:38] ramscodehub commented on #14565
Hi @jakobbrown , the same is working for me with this version of packages.
transformers - '4.6.0'
torch - '1.10.0+cu102'

[2021-11-30 08:59] ankushbhatia2 commented on #14397
Hi, Is it still open? I can work on this issue

[2021-11-30 09:21] NielsRogge commented on #14397
There's a PR open (#14397), however it's not finished yet.

[2021-11-30 09:36] vitalyshalumov commented on #14554
My aim is not to reproduce the results.
From time to time I have to switch between different hardware setups and I wish to continue from a checkpoint. Is it at all possible or I cannot work around this error?

[2021-11-30 09:58] seuly1203 commented on #14559
I solved the problem by editing File "/usr/lib/python3.7/typing.py", line 721, in subclasscheck
return issubclass(cls, self.origin):
  return issubclass(cls, self.origin) -> return issubclass(type(cls), self.origin)

[2021-11-30 10:45] LysandreJik commented on #7901
@SaulLu, would you like to take a look at this?

[2021-11-30 11:20] ericwtlin commented on #13389
@patrickvonplaten Could you share the script to convert fairseq checkpoint to huggingface for XLMProphetModel?

Thanks very much!

[2021-11-30 11:48] RohanBS opened #14572 "Can’t load config for ‘/data/sentence-transformers_all-mpnet-base-v2’"
Hi,

I am trying to use the Accelerated Inference API and am facing this issue while using multiple sentence-transformer models. This happens when I use any input other than the auto-filled one.

![Issue](https://user-images.githubusercontent.com/24825646/144041847-8876f029-8762-41ef-9bcd-9c43fac282d5.png)

@patil-suraj @patrickvonplaten @LysandreJik

[2021-11-30 13:49] LysandreJik commented on #14572
cc @nreimers @osanseviero

[2021-11-30 14:01] gingsi commented on #9250
I had a similar problem `ValueError: Tokenizer class M2M100Tokenizer does not exist or is not currently imported.` and solved it by running `pip install sentencepiece`

Seems that when missing the `sentencepiece` package, `AutoTokenizer.from_pretrained` will silently not load the tokenizer and then crash later.

[2021-11-30 14:52] winfred1987 commented on #2466
I also tried to quantize the GPT2 model but the generated text is really not good. I did some research and find the quantization aware training could be a solution, but it requires implementing the GPT2 model from scratch.

[2021-11-30 14:53] brando90 opened #14574 "Adafactor does not work with Resnets (or with MAML)"
## Environment info
Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 4.10.3
- Platform: Linux-3.10.0-1160.42.2.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.7
- PyTorch version (GPU?): 1.9.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not insta

[2021-11-30 15:01] #14113 closed

[2021-11-30 15:16] #14556 closed

[2021-11-30 15:56] hyunwoongko commented on #13690
We made totally new pipeline parallel engine.
We will share the news soon.

[2021-11-30 16:52] osanseviero commented on #14572
This should be fixed now, it was a data corruption issue cc @Narsil

[2021-11-30 17:04] xhlulu commented on #14544
@NielsRogge I'm looking about at this comment right now:

I'm wondering if there's any performance improvement in iterating this way through the dataframe over something like:

[code]

[2021-11-30 20:58] aqred1 opened #14575 "GPT2 large trains on 1 GPU but does not fit in two."
Hi all,

I am training GPT2 from scratch with the following command:

`torchrun --nproc_per_node=2 --nnodes=1 ./5.run_clm-post.py  --model_name_or_path gpt2-large --train_file datasets/sample.txt --tokenizer_name myembeddings --do_train --do_eval --output_dir ./sample --evaluation_strategy epoch --num_train_epochs 100 --per_device_train_batch_size 24 --cache_dir .cache/`

When I train on a single

[2021-11-30 22:22] patrickvonplaten commented on #13389
Hey @ericwtlin,

yes we do have such a script here: https://github.com/huggingface/transformers/blob/master/src/transformers/models/prophetnet/convert_prophetnet_original_pytorch_checkpoint_to_pytorch.py

[2021-11-30 22:50] patrickvonplaten commented on #14326
Also gently pinging @lewtun and @echarlaix - should we try to move all Onnx issues to `optimum` instead?

[2021-11-30 22:53] patrickvonplaten commented on #7771
Hey @DevBey,

Could you maybe open a new issue that states exactly what doesn't work in your case? This issue is quite old now and it would be nice to have a reproducible code snippet with the current `transformers` version.

[2021-11-30 22:55] patrickvonplaten commented on #13917
This should have been solved by https://github.com/huggingface/transformers/pull/14443 I think :-)

[2021-11-30 23:05] patrickvonplaten commented on #14490
@michaelbenayoun - is this being implemented in `optimum` by any chance already?

[2021-11-30 23:16] patrickvonplaten commented on #14540
Hey @programmeddeath1,

Thanks for noticing the import bug. I just corrected all the model cards to import `SpeechEncoderDecoderModel` instead.
Regarding the different results - could you give me an example so that I can debug the API vs. a code snippet given by you? :-)

Thanks!

[2021-11-30 23:17] patrickvonplaten commented on #14540
Regarding 1.) The fairseq checkpoint is so large because all the training states are included which are unnecessary for inference. I made sure that the HF checkpoint behaves exactly like the fairseq one by running multiple integration tests.

[2021-12-01 00:31] tuhinjubcse commented on #14531
I can confirm I could train and evaluate using fp32 and zero3. It does take me 28 hours even after using 4 GPUs
is there any way to make this faster? I am not entirely sure I understand your last comment but what should i change at my end to enable the PR ?

[2021-12-01 00:41] stas00 commented on #14531
Thank you for the confirmation, @tuhinjubcse, that it works just not very fast.

To be faster you want bf16-support, which is a work in progress.

The plan is as following:

1. complete and merge: https://github.com/huggingface/transformers/pull/13207 (mostly done, just tweaking docs)
2. complete and merge: https://github.com/microsoft/DeepSpeed/pull/1453 (promised to be done soon - I have no cont

[2021-12-01 00:54] tuhinjubcse commented on #14531
Many many thanks

[2021-12-01 02:00] #13170 closed

[2021-12-01 02:37] kkkevinkkkkk commented on #6535
Any update on this issue?

[2021-12-01 04:19] RohanBS commented on #14572
@osanseviero @Narsil Still facing this issue.

<img width="1685" alt="Screenshot 2021-12-01 at 9 47 09 AM" src="https://user-images.githubusercontent.com/24825646/144170950-f58f8496-e551-4534-9fa1-82c5b8f1107b.png">

[2021-12-01 04:21] programmeddeath1 commented on #14540
Hi,
1) I ran the sample code using the ASR pipeline on colab -
[code]
2) I also used the same hugging face api code from - https://huggingface.co/spaces/facebook/XLS-R-2B-22-16/tree/main

Here is the colab link if you want to see the code - ( https://colab.research.google.com/drive/1keVShJfrB68IeXn44UYB4OPoC2qDIGk1?usp=sharing )I ran it on colab pro with gpu.

I recorded the audio and ran it on th

[2021-12-01 08:49] Jiyeon1230 opened #14581 "Cannot run Deepspeed inference of GPT-Neo with low_cpu_mem_usage enabled"
## Environment info

- `transformers` version: 4.12.5
- Platform: Ubuntu 18.04.6 LTS
- Python version: Python 3.6.9
- PyTorch version (GPU?): 1.10.0+cu113
- Tensorflow version (GPU?): n/a
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Using Deepspeed 0.5.0

### Who can help
 @stas00

## Information

Model I am using (Bert, XLNet ...): EleutherAI/gpt-neo-1.3B

The pr

[2021-12-01 09:31] patrickvonplaten commented on #6535
It is possible to run `inputs_embeds` for an encoder-decoder framework. See https://github.com/huggingface/transformers/pull/14443 . This does assume however that we know the word embedding matrix of the decoder.

However for models like GPT2 this is not as straight-forward - see: https://github.com/huggingface/transformers/pull/14443#discussion_r753167493

In general, what is the exact use-case p

[2021-12-01 09:36] patrickvonplaten commented on #14540
Hey @programmeddeath1,

You might have not correctly resampled the audio. Essentially what I would try is to just copy paste the code of the spaces here: https://huggingface.co/spaces/facebook/XLS-R-2B-22-16/blob/main/app.py

[2021-12-01 10:58] michaelbenayoun commented on #14490
Yes, this is planned.
Nice to know that there is interest for such features!

Pinging @lewisbails and @philschmid as they were the ones suggesting to add those kind of features to `optimum`.

[2021-12-01 11:03] heytanay opened #14584 "Add PoolFormer Model"
# 🌟 New model addition
I would like to add the recently announced [PoolFormer](https://github.com/sail-sg/poolformer) model to the Transformers library.

## Model description

PoolFormer model was proposed in the paper, “**MetaFormer is Actually What You Need for Vision**” by Sea AI Lab and the main argument behind this is that performance of transformer/MLP-like models primarily comes from the ge

[2021-12-01 11:03] michaelbenayoun commented on #14326
That is because for now it is expected to be used with `past_key_values`, meaning that only the last `decoder_input_ids` are neeeded. We are currently working on changing this and it should be merged by the end of the year.

[2021-12-01 11:31] alexvaca0 opened #14585 "Deberta's Enhanced Masked Decoder"
# 🚀 Feature request

I don't know if this is a feature request or the feature is already included but I wasn't able to find it. Reviewing Deberta's code, I tried to look for the Enhanced Masked Decoder, which is supposed to take into account absolute positional embeddings. However, when looking both DebertaModel and DebertaForMLM (and its submodules) I don't see where this is done... Could someone

[2021-12-01 12:22] programmeddeath1 commented on #14540
hi @patrickvonplaten,
Thank you for your reply
That is what I have tried in colab and on an aws gpu instance, I copy pasted and ran the same code of the spaces that you have shared. sampling shouldn't be a problem since it is being resampled using librosa in your code.
I have not changed anything and hosted the same code on colab right now, https://22706.gradio.app is the link. It is decoding to s

[2021-12-01 13:04] lewtun commented on #14326
From discussions with @mfuntowicz, my understanding is that we will keep the ONNX export in `transformers`, and put all optimisation features (e.g. ONNX Runtime) in `optimum`.

If that's still the plan, I suggest we only move optimization-related issues to the `optimum` repo for now.

[2021-12-01 13:06] lewtun commented on #14326
Btw @hSterz, if you don't want to wait for the refactoring of the T5 ONNX conversion in `transformers`, there's a nice project called `fastt5` (https://github.com/Ki6an/fastT5) which does this and even includes a `generate()` method for the optimized model :)

[2021-12-01 13:23] hSterz commented on #14326
I see. What would I use for the first token that is generated as past key values?

[2021-12-01 13:52] Choitsugun commented on #2630
Why? The pad is to make up the length of the batch. Does this have anything to do with GPT2's causal model?

[2021-12-01 15:02] #14130 closed

[2021-12-01 15:02] #13782 closed

[2021-12-01 15:03] #13356 closed

[2021-12-01 15:09] michaelbenayoun opened #14587 "Config overrides option working on any kind of config"
# 🚀 Feature request

Allow the `--config_overrides` option in language-modeling examples to override a config that was specified by `--config_name` or `--model_name_or_path`, currently this is blocked by:
[code]

## Motivation

It is unclear why this is prevented, and it can make things a lot easier when tweaking the settings compared to having to edit a json file everytime. Is there a good reason

[2021-12-01 15:52] dabasmoti commented on #14552
@Narsil
Thank you for your comment.

Here is the script

[code]

As I said above
I checked it on  the default(model=None) and on - 'cardiffnlp/twitter-roberta-base-sentiment'.
and now the transformer-version is - `4.12.5`

[code]

[2021-12-01 16:30] arijitx commented on #13860
Hi @patrickvonplaten any update on this ? I

[2021-12-01 19:48] SaulLu commented on #7901
Glad to look at this issue in more detail! I'll dive in tomorrow :monocle_face:

[2021-12-01 20:04] dylanpmorgan opened #14592 "Version 4.12.5 doesn't work on sagemaker"
## Environment info
- `transformers` version: 4.12.5
- Platform: sagemaker
- Python version: 3.6
- PyTorch version (GPU?): 1.8.1 GPU
- Using GPU in script?: yes, using sagemaker instance
- Using distributed or parallel set-up in script?: no

## Information

I have code that I am using to train on sagemaker. Previously this code has worked just fine but today I initiated a new training run with new

[2021-12-01 20:06] stas00 commented on #14587
If I remember correctly, it's because the transformers logic prevents us from overriding config if either of those 2 are defined.

I'm sure you will see it immediately if you remove the constraint.

If you find a good way to fix it, by all means please do.

[2021-12-01 23:26] kuchenrolle opened #14595 "GPT-2 Model wrapped in DataParallel hangs immediately"
## Environment info
- `transformers` version: 4.12.5
- Platform: Linux-3.10.0-1160.24.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.5
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: True
- Using distributed or pa

[2021-12-01 23:30] patrickvonplaten commented on #13860
My deadline predictions are again very much off - sorry! It is though definitely on my short-term ToDo List! A conservative estimate is by the end of next week now ;-)

[2021-12-02 00:06] patrickvonplaten commented on #14230
@julien-c - another good example for HF Hub issue support haha

[2021-12-02 00:06] patrickvonplaten commented on #14230
@vshampor - let's see what @dslim23 thinks :-)

[2021-12-02 00:08] patrickvonplaten commented on #14540
@Nithin-Holla,

Good catch! Yeah at the moment it's actually not possible to create a processor for `""facebook/wav2vec2-xls-r-300m-en-to-15""` . I have an open PR that will enable this - hope to get it merged by next week. But it should be the `Wav2Vec2Processor` then :-)

[2021-12-02 00:09] patrickvonplaten commented on #14540
@programmeddeath1

The model behaves correctly for me locally for an input waveform. Could you maybe send me a link to an audio file which gives different results for you?

[2021-12-02 01:30] sgugger commented on #14595
The script executes without any problem on my side (two Titans, PyTorch 1.10 and CUDA 10.2), so there is nothing wrong with the model per se. How are you launching the script?

[2021-12-02 02:38] programmeddeath1 commented on #14540
Hii @patrickvonplaten

Does the model hub have different instances from which it serves the models to different regions in the world?
This audio file(https://github.com/programmeddeath1/webhost/blob/master/ghwsa-1f9vw.wav) on running on my local instance
(https://16618.gradio.app) gives output as this
![Screenshot from 2021-12-02 07-56-37](https://user-images.githubusercontent.com/44861370/1443468

[2021-12-02 02:54] stas00 commented on #12061
FWIW, this issue continues on our CI:
[code]

[2021-12-02 03:42] stas00 commented on #14581
Deepspeed Inference is not a completed product AFAIK, and it's not yet integrated into Transformers because of that.

As you can see from the trace the `transformers` library is not being used. So please re-file this issue with Deepspeed and tag @RezaYazdaniAminabadi.

Any reason why you are not using Deepspeed ZeRO Inference? https://huggingface.co/transformers/master/main_classes/deepspeed.html#

[2021-12-02 04:22] Jiyeon1230 commented on #14581
@stas00
Thanks for your comment. I filed the case to transformers because the issue is not reproduced with low_cpu_mem_usage disabled. Do you think it needs to be handled by Deepspeed even so?

I'm eventually trying to load a bigger GPT-Neo like model which doesn't fit to one GPU. That's why Deepspeed Inference is used. Appreciate your advise though.

[2021-12-02 05:03] Jiyeon1230 commented on #14581
@stas00
I have no idea which diff fixes the issue, but it fixed after I update Deepspeed Inference code to the latest. I really appreciate your advise since I did only focus on transformers. Thanks!!!

[2021-12-02 05:03] #14581 closed

[2021-12-02 05:11] stas00 commented on #14581
It's an actively developed new product, so someone must have reported this issue recently and it got fixed.

I'm glad this is now working for you, @Jiyeon1230

And I repeat again that Deepspeed ZeRO is already well tested scalability solution that you can use today to use models larger than one GPU. It has additional features like CPU Offload which I don't think Deepspeed Inference does. See the d

[2021-12-02 05:17] Jiyeon1230 commented on #14581
@stas00
Oh, sure! I may have misunderstood about Deepspeed ZeRO. I'll definitely look into it. Thanks for your advise.

[2021-12-02 05:34] stas00 commented on #14539
@manuelciosici, if you could indulge my curiosity - what was the impetus for checking the AdamW implementation?

I'm just trying to understand the actual impact of this different implementation on the training stability/convergence/etc.

Thank you.

[2021-12-02 06:30] bhadreshpsavani commented on #14563
Hi @shabie,
Thanks for your help,
the comma doesn't make it a tuple, it is still a dictionary that can be assigned for JSON file variable.
Can you please share your code that might work directly, I tried above suggestion its not working.

[2021-12-02 07:30] LeeYN-43 commented on #13356
I met the same problem, and the command output is
![image](https://user-images.githubusercontent.com/60773040/144376477-0ef737d3-82c6-493a-986d-11d229636fb9.png)
When I look into the dependency_versions_check.py, and I print the pkg to find out which pkg version is None. Finally, I find there are something wrong with numpy. Because, the output of `importlib_metadata("numpy")` is None rather than i

[2021-12-02 07:36] harrypotter90 opened #14596 "Hubert-base Model with new tokenizer is not converging"
## Environment info

- transformers version: 4.12.2
- Platform: Mac
- Python version: 3.7
- PyTorch version (GPU?): 1.9
- Tensorflow version (GPU?): No
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

I just run simple code to load Hubert pretrained base model

[code]
This model is not able to coverage, I have been training for a day, but the loss is not decreasing

[2021-12-02 07:53] harrypotter90 commented on #14596
I have checked the labels which i feed in and seems to be ok

[code]

[2021-12-02 08:51] #14188 closed

[2021-12-02 09:25] julien-c commented on #14230
@patrickvonplaten thanks for the ping – though in the case it's the script that should be able to remap labels no? The model looks correctly defined with https://huggingface.co/dslim/bert-base-NER/blob/main/config.json

[2021-12-02 09:26] julien-c commented on #14230
(a bit like the roberta case that's hardcoded in example scripts when it should be supported automatically?)

[2021-12-02 10:08] kuchenrolle commented on #14595
I was afraid that would be the case and I'm facing a driver issue or something. I am launching simply with `python script.py`, where script.py contains the code above. Same thing happens when I run this from an interactive shell.

How would I debug this? This has cost me quite some time already, this is really becoming an issue.

[2021-12-02 11:20] shabie commented on #14563
So here's the code you can use:

[code]

[2021-12-02 11:37] bhadreshpsavani commented on #14563
Thanks @shabie for your help,
This worked!

[2021-12-02 11:37] #14563 closed

[2021-12-02 12:15] versae commented on #13779
Thanks, @Narsil.

It seems to be the case! I re-trained the models and they work perfectly fine now, and with good BLEU and CER scores :)

[2021-12-02 12:17] ericwtlin commented on #13389
@patrickvonplaten I found this script before. But where is the "transformers_old" dependency? Moreover, from the code, I guess the prophetnet_checkpoint_path should be huggingface style checkpoint, rather than official checkpoint.

`prophet_old = XLMProphetNetForConditionalGenerationOld.from_pretrained(prophetnet_checkpoint_path)`

I tried to import  src/transformers of branch save_old_prophetnet_

[2021-12-02 12:20] ericwtlin commented on #13389
Let me clarify, I can run the code, but it says most of the weights of official dump are not loaded.

[2021-12-02 12:28] ShRajSh opened #14601 "Error loading Speech2Text2Processor.from_pretrained("facebook/wav2vec2-xls-r-2b-21-to-en")"
- `transformers` version: 4.12.5
- Platform: Linux-5.4.0-90-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in

[2021-12-02 13:47] vitalyshalumov opened #14602 "Can you add a fast tokenizer for the ByT5 model?"

[2021-12-02 14:02] Narsil commented on #14552
Hi, I couldn't reproduce with pandas since it triggers an error too `AttributeError: 'DataFrame' object has no attribute 'Description'
`. (pandas==1.3.4)

So I modified to
`model = "cardiffnlp/twitter-roberta-base-sentiment"`
`main(["This is a test", "This is another test"], model)`

And I have as a result
[code]

What seems super odd, is that if `texts` is indeed a list of `str` then both should

[2021-12-02 14:05] #14524 closed

[2021-12-02 14:22] dabasmoti commented on #14552
Hey,

Tweaked version
[code]

[2021-12-02 14:42] Narsil opened #14603 "Recover when the `sha` of the local file is not correct."
## Environment info

- `transformers` version: `master` (probably any version)
- Platform: ubuntu
- Python version: 3.9
- PyTorch version (GPU?): 1.10
- Tensorflow version (GPU?): X
- Using GPU in script?:no
- Using distributed or parallel set-up in script?:no

### Who can help

@LysandreJik

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the official exa

[2021-12-02 14:43] Narsil commented on #14602
Hi @vitalyshalumov ,

Do you have any suggestions as to why we should do that ? `ByT5` operates on bytes directly, so no real tokenization is needed there, offloading work to rust might actually be counterproductive there.

[2021-12-02 15:02] harrypotter90 commented on #14596
After 20,000 iterations, it only learns char '3', which must be quite unusual or wrong configuration somewhere.

My training and test data is same for simplicity.

[code]

[2021-12-02 15:08] Narsil commented on #14552
I get:

`distilbert-base-uncased-finetuned-sst-2-english`
[code]

`cardiffnlp/twitter-roberta-base-sentiment`
[code]

Could you share you pytorch version + hardware specifications maybe ?
TBH, aside from the `DataLoader` the `pipe` and `inference` should be extremely similar in performance since, they do basically the same thing. (and `DataLoader` shines only on GPU)

[2021-12-02 15:23] Narsil commented on #14081
This went under the radar sorry about this.

I'll let patrick discuss actual inclusion within transformers, but FYI, we're enabling generic `logits_processor` which should enable you to arbitrarily reassign logits during generation. https://github.com/huggingface/transformers/pull/12219

If you could create your implementation framed as a `LogitsProcessor` type of objects, that would make inclusio

[2021-12-02 15:42] sgugger commented on #14595
Did you try `DistributedDataParallel`? It might work and avoid you the debugging.
Otherwise checking you can do a simple gather of tensors might be a nice first step (but that will require launching the script in distributed mode AFAIK).

[2021-12-02 16:24] dabasmoti commented on #14552
torch - 1.10.0
Processor - 2.3 GHz Quad-Core Intel Core i7

[2021-12-02 16:38] Narsil commented on #14552
Is it a custom build of pytorch ?
Python version maybe (I am in 3.9) ?

We need to single out what makes your environment not working otherwise it'll be hard for me to help.

[2021-12-02 16:43] dabasmoti commented on #14552
As I wrote in the first place

transformers version: 4.12.3
Platform: Darwin-20.6.0-x86_64-i386-64bit
Python version: 3.7.0
PyTorch version (GPU?): 1.10.0 (False)

[2021-12-02 17:21] Narsil commented on #14552
Okay, I tried every single thing I could but I am unable to reproduce.

I am guessing the issues lies in `Darwin` at that point.
I looked into pytorch issues which seem relevant (but cannot try to confirm at this time)
https://github.com/pytorch/pytorch/issues/58585
https://github.com/pytorch/pytorch/issues/46409

[2021-12-02 17:29] saurabhtangri commented on #13658
this is still blocking issue

[2021-12-02 17:40] manuelciosici commented on #14539
@stas00 I was reading it as a reference implementation while trying to understand `deepspeed`'s CPU AdamW implementation.

One thing to note is that magnitude of both bugs is a function of AdamW's hyper-parameters (i.e., it is influenced by learning rate, epsilon, and weight decay). For example, for [prompt tuning](https://aclanthology.org/2021.emnlp-main.243/) where learning rates can be as high

[2021-12-02 18:13] aseifert opened #14604 "HF space specific issue: can't import `AutoModelForSeq2SeqLM` from `transformers==4.6.1` with `torch` installed"
For some reason I can't import `AutoModelForSeq2SeqLM` when running on hf space AND having installed `torch==1.10.0`.

## Environment info

- `transformers` version: 4.6.1
- Platform: HF Space – https://huggingface.co/spaces/aseifert/AutoModelForSeq2SeqLM-not-working
- Python version: 3.8
- PyTorch version (GPU?): 1.10.0
- Using GPU in script?: no
- Using distributed or parallel set-up in script?:

[2021-12-02 18:23] patrickvonplaten commented on #14596
Hey @harrypotter90 - could you upload your model somewhere on the hub so that I can compare the model's config and the model's tokenizer file?

I think that the tokenizer config is wrong

[2021-12-02 18:24] dabasmoti commented on #14552
@Narsil
Thanks
I suspected that the issue with `fork` or `spawn` ,but I couldn't find any related issues
Now, I can't find how to change the constructor to `spawn`

[2021-12-02 18:31] patrickvonplaten commented on #14540
There is only one model that is being used. I can't open your file with `soundfile` - see: https://colab.research.google.com/drive/1fVd18B1lwKeoTqw9ucMzjuS5wE-sIMA0?usp=sharing

[2021-12-02 18:35] patrickvonplaten commented on #14081
Very much agree with @Narsil - it would be great if you could add a simple `LogitsProcessor` class for you decoding method. This way we can surely merge it to `master`

[2021-12-02 19:02] gregg-ADP commented on #14272
@LysandreJik I am still getting this error with transformers version 4.12.5
Is the fix not released yet?

[2021-12-02 19:51] aniket7joshi commented on #13685
Hey @patrickvonplaten Can you please share any notebook or resource which I can use to pre-train wav2vec2 using pytorch?

[2021-12-02 19:58] aniket7joshi commented on #13685
Hey @patrickvonplaten Can you help me as to how I use the script here: https://github.com/huggingface/transformers/blob/master/examples/research_projects/wav2vec2/run_pretrain.py

As input, I have a folder of audio files based on which I want to pretrain my model. I don't want to use any datasets available online or on huggingface.
TIA :)

[2021-12-02 20:02] stancld opened #14605 "[Flax] Add Flax implementation of `RoFormer`"
# 🚀 Feature request

Add Flax implementation of `RoFormer` models.

## Motivation

Improve the level of Flax/Jax support.

## Your contribution

I'll be glad to work on this :]

[2021-12-02 21:52] harrypotter90 commented on #14596
Thanks @patrickvonplaten : I have uploaded it here : https://huggingface.co/HarryPotter09/hubert-base-tokenizer

[2021-12-02 21:56] sgugger commented on #14539
Yes, I agree with your last suggestion @manuelciosici and I think this is the right way to go. Deprecation with a removal of v5.0.0 sounds about right, and then the `Trainer` can have an additional `TrainingArguments` that one can use to already use the right implementation of AdamW from PyTorch instead of our class.

Are you interested of making a PR for this @manuelciosici ?

[2021-12-02 22:06] brando90 commented on #14574
@LysandreJik can you help me ping the right person for this issues?

The summary is:
- using Adafactor with a Resnet results in a but (also MAML is involved)

[2021-12-02 23:09] stas00 commented on #14539
Additionally to @sgugger's notes: the updated AdamW API should include a new arg like `disable_deprecate_warning=False` - so that by default the deprecation is printed but the user should be able to shut it off if they want to continue using this version.

The question is whether we switch HF Trainer to use torch's implementation by default or not.

Also, if we are rewriting the optimizer API, per

[2021-12-02 23:43] manuelciosici commented on #14539
@sgugger Yes. I can to write a PR deprecating AdamW, including @stas00 's suggestions.

@stas00 BNB sounds exciting. How should we split the work into PRs? I can also help with BNB. I think that could be fun.

[2021-12-02 23:47] stas00 commented on #14539
We don't need to worry about BNB here, I was just suggesting to add a generic `--optim` HF Trainer arg, rather than for example `--use-torch-adamw`, which opens up opportunities for new optimizers to be supported.

Adding BNB to transformers is a bit intricate since it calls for an embedding layernorm which we currently don't have. I will open an issue where we can discuss the details.

[2021-12-03 02:19] sgugger commented on #14539
The plan is not to add any new optimizer to the Transformers library. It is a library of models, not optimizers, and no one in the team has the bandwidth to support other optimizers. We are deprecating the few we have. Adding support for optimizers implemented in other libraries is completely fine however.

Adding an `--optim` argument is fine, though the default of the learning rate might not be

[2021-12-03 02:33] stas00 commented on #14539
Apologies for not being clear. I was not proposing to add a new optimizer, but to add integration for a new optimizer. i.e. we will not need to support it. It's just that it's not just importing it, but requires some tweaks on our side. I will make a separate issue about it.

OK, so the default remains the current version.

Here is the updated spec then:

So with HF Trainer:

1. default is current

[2021-12-03 03:04] ChongMingWei commented on #856
In my case, I want to load gpt2 pretrained model locally.
- First I download config.json and pytorch_model.bin from [hugginface model zoo](https://huggingface.co/gpt2/tree/main)
When I execute code below:
`gpt2_tok = GPT2Tokenizer.from_pretrained(myfolderpath, do_lower_case=False)`
Some error occurs like:
`TypeError: expected str bytes or os.pathlike object not nonetype`

- Later I follow the inst

[2021-12-03 05:56] stas00 opened #14608 "[Benchmark] tf32 vs fp16 vs fp32"
# 🖥 Benchmarking `transformers`

## Benchmark

Benchmarking the new --bf16 and --tf32 on Ampere

## Set-up

- 1x RTX-3090 card
- pt-1.10 / cuda-11.3 / py-3.8
- transformers v4.12.6.dev / 2021-12-02

## Benchmark 1 t5-small

[code]

and now adding one of:

[code]

## Results

speed: samples per sec

| tf32 | fp16 | bf16 | speed |
| ---: | ---: | ---: |  ---: |
|    0 |    0 |    0 |   252 |
|    0

[2021-12-03 07:41] Xuanfang1121 opened #14609 "Unable to load mT5 with MT5Model.from_pretrained("google/mt5-small")"
## Environment info
- `transformers` version: 4.2.2
- Platform: win10
- Python version: 3.6
- PyTorch version (GPU?): pytorch==1.8.1
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
 @LysandreJik@patrickvonplaten, @patil-suraj
## Information
Model I am using (mt5): code

from transformers import MT5Model
from transformers imp

[2021-12-03 08:19] LysandreJik commented on #14603
That's interesting. We have the `force_download` option which you can use to force a redownload in case of a corrupted file, but your approach doesn't have any drawbacks that I am aware of.

[2021-12-03 08:25] LysandreJik commented on #12061
Do you have a link for `ConnectionError: Couldn't reach https://raw.githubusercontent.com/huggingface/datasets/1.16.1/metrics/sacrebleu/sacrebleu.py
`?

cc @lhoestq

[2021-12-03 08:30] LysandreJik commented on #14561
@SaulLu, could you take a look at this issue?

[2021-12-03 09:12] Narsil commented on #14552
This comment seemed helpful to some users:https://github.com/pytorch/pytorch/issues/46409#issuecomment-726495303

[2021-12-03 09:36] shudipta commented on #13443
Facing the exact problem while working with "sagorsarker/bangla-bert-base" using the same reproduce instruction provided by @ryparmar. And still could not solve this issue, even the root cause of this error.

[2021-12-03 10:03] patil-suraj commented on #14609
Hi @Xuanfang1121 !

You are loading `MT5Model` , which loads the base model without the `lm_head`, so when loading the pre-trained weights the `lm_head.weight` is ignored.

If you want to load the model for conditional generation training or inference then you should use the `MT5ForConditionalGeneration` class which has the `lm_head`.

[2021-12-03 10:43] Cthericy opened #14611 "Got extra_id_%d when generating texts, and %d is negative."
Mission: Translate Graph to English.
In generation_utils.py   _generate_beam_search()
After getting next_scores and next_tokens, i was tring to generate texts using the next_tokens with the second highest next_scores.
But i got ids which converts to be <extra_id_%d>, and %d is a negative number.
Anyone got some ideas?
Thanks.

[2021-12-03 10:46] LysandreJik commented on #14272
No indeed it was not included, will be in the next release (v4.13) which should land in a few days at most.

[2021-12-03 11:05] felix-schneider opened #14612 "Scores returned by beam search are not useful"
## Environment info

- `transformers` version: 4.12.3
- Platform: Linux-3.10.0-1160.45.1.el7.x86_64-x86_64-with-centos-7.9.2009-Core
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distri

[2021-12-03 11:43] felix-schneider commented on #14612
For anyone else looking for the same thing: I edited the original post to add some different ways to get the actual probabilities. I think the forward pass (the last option) is the only one guaranteed to be correct, but also the slowest.

It would be much easier if we just got this output out of beam search.

[2021-12-03 11:56] davanstrien opened #14613 "Running Pipeline batching code from documentation returns TypeError: _batch_encode_plus() got an unexpected keyword argument 'batch_size' on Colab."
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel s

[2021-12-03 12:02] dancingpipi opened #14614 "datasets doesn't support NSP? should I implement my custom DataCollator or function for dataset.map?"
As the title, I haven't find NSP dataset, there is only transformers.TextDatasetForNextSentencePrediction, but it's not work while loading data by `load_dataset(...)`.

So have I to implement my custom DataCollator or function for dataset.map? Which one is better?

Or I miss something?

[2021-12-03 12:43] dancingpipi opened #14615 "Bigger batch size decrease the throughput."
I'm training bert-base-uncased from scratch, single node, 8xA100, if increase the batch size, the throughput decrease, detail is:

- set batch size to 256, the throughput is 7000 sample/s, GPU Utilization rate 80%
- set batch size to 384(while full gpu memory), the throughput is 4000 sample/s, GPU Utilization rate 30%

It look like the IO problem(or maybe not, you can correct me)?
Any help will be

[2021-12-03 12:54] arijitx commented on #13860
Thanks for the response @patrickvonplaten , I tried writing one script if possible  can you please let me know if the overall flow is right? I can compile it into a notebook and share here if that helps

https://gist.github.com/arijitx/b853c8bc29c3935e26f69343b32ddb4e#file-s2t_finetune-py

[2021-12-03 13:14] LysandreJik commented on #14613
Hello! Could you install from the `master` branch and give it another try?

[code]

The current documentation is `master` as we're trying out the new frontend; thanks for your understanding!

[2021-12-03 13:34] davanstrien commented on #14613
This works without any errors now. Thanks so much and, apologies I should have spotted that the docs are for the `master` branch.

[2021-12-03 13:45] LysandreJik commented on #14613
No problem at all, the docs are usually for the stable release, but for this week only we're switching to `master` to try out the new docs.

By the way, what's your feeling about the updated frontend of the documentation?

[2021-12-03 13:49] LysandreJik commented on #14574
Hi @brando90, `transformers` is meant as a library of model architectures more than a library of optimizers, and we're actively moving away from maintaining optimizers. We'd rather you rely on a library that actively maintain them as the support should be both broader (not tested only on `transformers`, like it is here) and more complete (not limited to the two optimizers that we support here).

S

[2021-12-03 13:53] davanstrien commented on #14613
I mostly like the updated frontend. One thing I find a bit harder to read is the arguments sections. For example the arguments for `class transformers.TextClassificationPipeline`:

<img width="760" alt="Screenshot 2021-12-03 at 13 47 30" src="https://user-images.githubusercontent.com/8995957/144613158-153f2639-864b-4a61-ae23-defefe29088d.png">

I find it a bit harder to parse this because the `mod

[2021-12-03 14:01] brando90 commented on #14574
@LysandreJik thank you! I will try that! That comment would be useful in the docs :)

I will close the issue with closing remarks of the solution I ended up using. Appreciate the response.

[2021-12-03 14:56] sgugger commented on #14613
Ah that's a bug in the formatting of the docstrings of those classes, it should not be displayed like this! Will fix that this morning :-)

[2021-12-03 14:58] sgugger commented on #14539
Thanks for the summary @stas00, this looks great to me!

[2021-12-03 15:01] #14159 closed

[2021-12-03 15:01] #14153 closed

[2021-12-03 15:02] #14137 closed

[2021-12-03 15:02] #14068 closed

[2021-12-03 15:02] #13413 closed

[2021-12-03 15:14] davanstrien commented on #14613
@Narsil @sgugger thanks both for your help. I will close this now - hopefully, anyone else running into the same issue this week will stumble on this issue.

[2021-12-03 15:14] #14613 closed

[2021-12-03 15:44] BigBird01 commented on #14585
The implementation of Enhanced Mask Decoder was here, https://github.com/microsoft/DeBERTa/blob/master/DeBERTa/apps/models/masked_language_model.py
We will port the implementation to transformers.

[2021-12-03 15:59] manuelciosici commented on #14539
@stas00 Thank you. I work on this during the weekend.

[2021-12-03 16:25] tuhinjubcse commented on #14531
One thing I have been noticing is my performance once using run_translation which indirectly uses trainer is significantly lower. In my earlier code where I did not use a trainer, my perplexity loss was so much better than what I am getting now. Are there any trainer specific hyperparameters which I am missing

are there any hyperparameter that I might be missing? This was my training code prior t

[2021-12-03 17:06] brando90 commented on #14574
@LysandreJik I was reading the adafactor scheduler and it seems that it multiplies the lr by 0 which seems odd to me:

https://github.com/huggingface/transformers/blob/master/src/transformers/optimization.py#L604, https://huggingface.co/docs/transformers/master/main_classes/optimizer_schedules
https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.LambdaLR.html
[code]

can you help me

[2021-12-03 17:19] alexvaca0 commented on #14585
And why did you decide to leave it out from the Transformers library when implementing Deberta in Transformers?
If I see the model is implemented by the original author I expect that the implementation is complete and fully reliable...
At my company we have spent huge amounts of money for training a Deberta model in Spanish, and now, what can we do? Is it possible to continue training with this ne

[2021-12-03 17:22] stas00 commented on #12061
Oh, it was just giving an example of an intermittent failure on our CI. It was fine when CI restarted.

So with re-try it could have been avoided. Since all other files were fetched or looked up just fine.

[2021-12-03 17:55] BigBird01 commented on #14585
Hi, Alex, thanks for you interesting to our work and sorry for the inconvenience.  The missing EMD part will not affect the convergence of your training. It will slightly affect the perplexity of MLM training. The inconsistent issue between transformers and the official implementation is a bug due to history reason. We will fix it and improve our future practice to maintain higher quality bars at

[2021-12-03 18:08] #14450 closed

[2021-12-03 18:26] brando90 commented on #14574
seems like the fair one ran without errors so far

[2021-12-03 19:13] SaulLu commented on #14561
Thank you very much for this detailed issue! Indeed, I completely understand that this behavior is not satisfactory.

We added a new feature some time ago that saves the tokenizer type in the `tokenizer_config.json` file in the `tokenizer_class` key. This new key allows retrieving the value of `model_max_length`. The problem you are experiencing is related to the fact that the `tokenizer_config` f

[2021-12-03 19:54] LysandreJik commented on #14592
Hmm @philschmid

[2021-12-03 19:54] LysandreJik commented on #14592
And @sgugger

[2021-12-03 19:55] setu4993 commented on #14592
+1, ran into the exact same issue yesterday on `4.12.5`. Didn't try other versions exhaustively, but `4.12.2` worked.

[2021-12-03 19:55] LysandreJik commented on #14613
Thanks for the bug report @davanstrien!

[2021-12-03 20:01] LysandreJik commented on #14149
Sorry @ioana-blue, I had missed this issue - let me ping @sgugger for advice, but please note that he is off right now and will answer only when he's back. Thanks!

[2021-12-03 20:09] LysandreJik commented on #14575
This [really great document](https://huggingface.co/docs/transformers/performance), written by @stas00 , may be of help :)

[2021-12-03 20:11] ioana-blue commented on #14149
No worries, I think this can be controlled from the user space and I did so in my most recent code. I think the examples could be fixed as well as - at least - I use them for inspiration and they are great :)

[2021-12-03 20:22] LysandreJik commented on #14521
Maybe of interest to @patrickvonplaten @Narsil

[2021-12-03 20:31] alexvaca0 commented on #14585
Thank you so much for the understanding and for the kind reply. Of course I had interest in your work from the moment I first read the paper, it's so original and your results are impressive. I really appreciate you taking the time to fix this, I'll be looking forward to try the changes. From what you say, do you think that we could safely continue training from the last checkpoint with the new mo

[2021-12-03 20:32] stas00 commented on #14575
That's very interesting. There should be a bit of overhead for 1 over many gpus because the latter has to sync DDP results, but not by much.

What was the command line for a single gpu?

What was the max gpu memory usage with 1 gpu?

what Lysandre said. Specifically enabling https://huggingface.co/docs/transformers/master/performance#bf16

Additionally you may want to experiment with Deepspeed Sta

[2021-12-03 20:46] stas00 commented on #14531
But you're not using --fp16 now, which sometimes makes a huge difference, so it's not the code base that is different. And your original finetune script was using trainer, the script was rewritten but it's the same trainer.

That is not to say there is surely no regression here. We have been talking about adding speed regression tests, but so far we haven't gone beyond talking about it.

Once deep

[2021-12-03 20:51] BigBird01 commented on #14585
Thanks for you understanding and kind words, Alex:)
I think you can just continue train with your current settings as long as the training loss didn't go wild.
Basically, except for DA and EMD described in our paper, there are a few other things important for pre-training.

1. Batch size, learning rate, warmup. For base model, our best local settings are: 2k batch size, 1M steps with learning rate

[2021-12-03 21:18] niansong1996 commented on #14521
Update: I changed my experiment code from right padding to left padding and the performance is greatly improved. If the `generate()` function truly skips the padding tokens, this should not have happened.

[2021-12-03 21:28] NouamaneTazi opened #14619 "Getting ambiguous messages for SummarizationPipeline"
When working with the SummarizationPipeline I get errors every input of type
`Your max_length is set to 50, but you input_length is only 46. You might consider decreasing max_length manually, e.g. summarizer('...', max_length=50)`

[2021-12-03 21:29] NouamaneTazi commented on #14619
#14618

[2021-12-04 02:55] uakarsh commented on #14456
As an update, the authors would be sharing the Textract OCR for the RVL CDIP Dataset, and as soon as they release it, we would try to achieve the benchmark performance as mentioned in the paper. However, we are also trying from our end, to make our own OCR part, and then perfrom pre train and fine tune

[2021-12-04 08:43] guillaume-be opened #14621 "DeBERTa `p2p` attention type is not used"
### Who can help
DeBERTa: @LysandreJik

## Information

The current implementation of DeBERTa handles 3 types of attentions: `p2c`, `c2p` and `p2p` with complex branching handling the different types of attentions that may be provided by the user. It is my current understanding that the `p2p` attention currently does not impact the output of the model but leads to unnecessary  intermediate calcula

[2021-12-04 08:53] LysandreJik commented on #14621
Thanks for reporting! Pinging @BigBird01 for advice :)

[2021-12-04 09:11] LysandreJik opened #14622 "[Quick poll] Give your opinion on the future of the Hugging Face Open Source ecosystem!"
Thanks to all of you, Transformers just passed 55k :star2:  this week!

Since the last survey, we've expanded our efforts into vision and speech, and the community now actively contributes to the [model hub](https://hf.co/models) and [datasets hub](https://hf.co/datasets); so this survey isn't solely focused around `transformers`, but around the entire HF ecosystem!

If you have a couple of minute

[2021-12-04 13:32] programmeddeath1 commented on #14540
Hi @patrickvonplaten
I have added the spaces code and shared the colab with you.

https://colab.research.google.com/drive/1Bk9XGoDnxg3wadKVecREXjUth5dMkTky?authuser=2#scrollTo=oKv64CiwHni5

I have uploaded the same audio file and the output can be seen on the colab display (It’s a nice beach, a nice beach and a nice beach.)

Please run the same and upload the audio file or a similar audio file on

[2021-12-04 14:49] BigBird01 commented on #14621
Yes, P2P is not used actually. In our previous experiments, we run with P2P for ablation study and finally we didn't apply it due to the additional cost and marginal performance improvement. Please feel free to remove it.

[2021-12-04 15:02] #14176 closed

[2021-12-04 15:02] #14173 closed

[2021-12-04 15:02] #14147 closed

[2021-12-04 15:02] #14083 closed

[2021-12-04 15:02] #13987 closed

[2021-12-04 15:02] #13835 closed

[2021-12-04 15:02] #13335 closed

[2021-12-04 15:02] #13231 closed

[2021-12-04 15:35] tuhinjubcse commented on #14531
No before finetune_trainer I was using something else as you can see in the link above
As an experiment I was trying model.parallelize using T5 3B  just to see what happens without deep speed and honestly it's surprising that the evaluation loss is lower for T5-3B with model parallelize compared to T5-11B with deep speed

I would expect since T5-11B is a bigger model it should give better performa

[2021-12-04 15:37] shudipta commented on #13443
I found the the problem is from using fast tokenizer. so I turned it of using flag `--use_fast_tokenizer=False`, and it is ok. Though it is not solution I want.

[2021-12-04 16:59] julien-c commented on #13751
Closing this as stale but please give us feedback on the new doc frontend!

Announcement at https://twitter.com/huggingface/status/1466462283576533003

[2021-12-04 16:59] #13751 closed

[2021-12-04 18:54] stas00 commented on #14531
Thank you for clarifying that you were talking about the pre-finetune_trainer. I assumed that it was `finetune_trainer` based on the name of your script, but I haven't read it as it's too long.

OK, so for you to understand what Deepspeed ZeRO does conceptually - it shards the tensors over multiple gpus and then at the point of calculation (forward/backward) it restores the tensors to their normal

[2021-12-05 06:05] vitalyshalumov commented on #14602
There are several features of the Fast tokenizers that are utilised in the Q-A task and are missing from the non-fast implementation.

[2021-12-05 07:12] stas00 commented on #14531
Deepspeed/bf16/zero2 should work with https://github.com/huggingface/transformers/pull/14569

Please let me know if you run into any problems if you choose to try that branch. Please follow up directly in that PR's comments if you run into issues. The PR includes a sample config file `tests/deepspeed/ds_config_zero2_bf16.json`.

zero3 doesn't seem to be ready on the deepspeed size. But it's all re

[2021-12-05 07:38] fatcat-z commented on #14491
Good catch. Fixed this in https://github.com/huggingface/transformers/pull/14310

[2021-12-05 07:39] fatcat-z commented on #14491
Good catch! Fixed in https://github.com/huggingface/transformers/pull/14310

[2021-12-05 08:11] LiShaoyu5 opened #14627 "How to separate multiturn dialog context in blenderbot?"
Hello. I want to perform multiturn dialog with blenderbot model. I followed the [documentation](https://huggingface.co/docs/transformers/master/en/model_doc/blenderbot#transformers.BlenderbotForConditionalGeneration) and here's the code:
[code]

But model treats context as user's input and sometimes `</s> <s>` shows in model's responses.

In [this issue](https://github.com/huggingface/transformers

[2021-12-05 09:52] dunalduck0 opened #14628 "load_best_model_at_end failed due to "size mismatch" when DeepSpeed is used"
## Environment info

- `transformers` version: 4.13.0.dev0
- Platform: Linux-5.4.0-91-generic-x86_64-with-glibc2.17
- Python version: 3.8.10
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (cpu)
- Jax version: 0.2.25
- JaxLib version: 0.1.74
- Using GPU in script?: Yes, 1 GPU
- Using distributed or parallel set-up in s

[2021-12-05 10:38] dabasmoti commented on #14552
What a strange behavior!
I have updated the python version to `3.8.9`
and now the 3.8 version is much slower with `pipe` but the warning is gone

[code]

On 3.7

[code]

Script to reproduce
[code]

[2021-12-05 12:46] frankxu2004 opened #14629 "GPT-NeoX checkpoint conversion?"
I found that there are conversion from gpt-neo and gpt-J to transformers. I wonder if the checkpoints trained using gpt-neox https://github.com/EleutherAI/gpt-neox could be loaded inside transformers? I think it's the same architecture as GPT-neo but I could be wrong. Thanks!

[2021-12-05 13:07] fcakyon commented on #12170
@NielsRogge is it always `pooler_output` key that contains the feature vector for all image transformers (such as CLIP, DeiT, VisualBERT, DETR)?

[2021-12-05 15:01] #14194 closed

[2021-12-05 15:01] #14185 closed

[2021-12-05 15:01] #14179 closed

[2021-12-05 18:41] sharifza commented on #6535
@patrickvonplaten for example in the recent NeurIPS paper ["Multimodal Few-Shot Learning with Frozen Language Models"](https://papers.nips.cc/paper/2021/file/01b7575c38dac42f3cfb7d500438b875-Paper.pdf), the output of a non-trained CNN is directly fed into a pre-trained and frozen language model. In this scenario, the CNN learns how to generate input embeddings such that the pre-trained language mo

[2021-12-05 19:03] eldarkurtic opened #14630 "bert-base-uncased weights for BertForPreTraining"
Hi,

According to the model card: https://huggingface.co/bert-base-uncased , these weights are obtained by training on two objectives (MLM and NSP) but the `config.json` has only the `BertForMaskedLM` tag. So when initializing `BertForPreTraining` model with `bert-base-uncased` weights, the following warning is printed:
`Some weights of BertForPreTraining were not initialized from the model checkp

[2021-12-05 20:38] fcakyon commented on #14299
Awesome question, I am also wondering the difference between `pooler_output` and `last_hidden_state` sgugger . It is not clear from the documentation.

[2021-12-05 20:40] fcakyon commented on #14299
I got my answer by checking the source code: https://github.com/huggingface/transformers/blob/92d4ef9ab038dfbbe02556375c4c3c14215b37d2/src/transformers/models/vit/modeling_vit.py#L553

[2021-12-05 21:13] cascadianblue opened #14631 "Add Sliding Window to TokenClassificationPipeline"
# 🚀 Feature request

The current [implementation of TokenClassificationPipeline](https://github.com/huggingface/transformers/blob/3977b58437b8ce1ea1da6e31747d888efec2419b/src/transformers/pipelines/token_classification.py#L82) cannot do anything with text input beyond the length (measured in tokens) allowed by the model's number of positional embeddings. I think it would be useful to many users to

[2021-12-05 21:21] sdtblck commented on #14629
This is something we're working on at eleuther in preparation for an upcoming release, and already have some working code for specific configurations, but for other configurations it breaks.

If it would be useful to HF, we can post up the code :)

[2021-12-05 21:24] sdtblck opened #14632 "to use FX - your torch version must be *exactly* 1.9, even though fx also works in later versions"
[this line](https://github.com/huggingface/transformers/blob/3977b58437b8ce1ea1da6e31747d888efec2419b/src/transformers/file_utils.py#L375) checks that the torch version matches 1.9 exactly, even though fx is available in 1.9+ (i.e torch 1.10).

To use it in torch 1.10, i had to do the following, and the symbolic trace worked just fine, so i'm not sure that this strict versioning is necessary:

[co

[2021-12-05 22:13] PeijinV5 commented on #6881
Hi, I encountered the same problem. I spent quite a while googling online but didn't get a solution. Could you please let me know if you get the solution? @blueberry-cake @roxannemiller @ankunw

[2021-12-05 22:48] sdtblck opened #14633 "Dynamic Inputs for fx traced GPTNeoLM"
# 🚀 Feature request

I've been looking a little into using torch.fx + HF lately, and run into a problem that the traced GPTNeoLM can't take dynamic inputs - would love to know what work would be needed to enable that, and what the current blockers are - it would be great to be able to use the traced module for inference.

I'm assuming the problem has something to do with caching of keys/values?

#

[2021-12-05 22:57] frankxu2004 commented on #14629
@sdtblck This sounds really useful and I'd like to take a look too! I wonder if you could share what configuration it works on? Right now I have a trained model that's using the 2.7B.yml and I'd like to do inference with HF (no training is fine). Thank you so much!

[2021-12-06 02:11] ankunw commented on #6881
maybe you could use he latest transformer have a try

[2021-12-06 03:00] sgugger commented on #14592
This is the same error as with DeepSpeed, I'm guessing they are using a similar thing with the hooks not being allowed to be mutated. This is fixed on master so we should just hurry up to do a release and clearly document that this patch release won't work on SageMaker.

[2021-12-06 03:05] sgugger commented on #14149
You can just move the tokenization line after the datasets are truncated. It will take three lines instead of one since by then there will be three separate datasets instead of one, which is the main reason it's not done in the examples as they are, or they will become less readable.

[2021-12-06 03:14] sgugger commented on #14299
Please use the [forums](https://discuss.huggingface.co/) for questions like this, as we keep issues for bug reports and feature requests only :-)

[2021-12-06 03:25] Dreamupers commented on #995
The default padding value for `token_type_ids` is 0 which is defined by `tokenizer._pad_token_type_id`. You can specify it to 1 by `tokenizer._pad_token_type_id=1`.

[2021-12-06 05:24] sgugger commented on #14628
cc @stas00

[2021-12-06 05:34] PeijinV5 commented on #6881
No it still doesn't work. Sign :(

[2021-12-06 07:20] harrypotter90 commented on #14596
I have compared base and large tokenizer and feature extractor, couldn't find anything wrong.

[2021-12-06 07:22] ZhaofengWu opened #14638 "Gradient accumulation causing different training curves"
For a pretraining experiment using the built-in `Trainer`, setting batch size 32 x 16 accumulation steps seems to yield a different training loss curve from 64 x 8. Even though they converge to approximately the same value, shouldn't the curves be exactly the same? What would cause the difference?
![image](https://user-images.githubusercontent.com/11954789/144804002-fbd31936-c58a-45c4-a991-5eabcde

[2021-12-06 07:28] philschmid commented on #14592
@setu4993 We have a documented overview of all HuggingFace DLCs on Amazon SageMaker [here](https://huggingface.co/docs/sagemaker/reference#deep-learning-container). We made sure that those versions are compatible with `transformers`.
@dylanpmorgan I suggest to move from the `PyTorch` to the `HuggingFace` estimator, whiches uses the DLCs we build, maintain and monitor

[2021-12-06 08:04] setu4993 commented on #14592
@sgugger : Yeah, could be a hook-related issue. Would appreciate a release soon.

@philschmid : Thanks for the links to the DLCs, didn't know they were so clearly documented and that's very useful.

Fair point that those are _well_ supported, but it would be unfortunate if those are the _only_ versions supported. There are cases when we want to use latest versions of libraries (with recent feature

[2021-12-06 08:37] philschmid commented on #14592
Thank you for your response and great feedback!

We are working on enabling them for SM Studio as well.

[2021-12-06 09:28] Narsil commented on #14602
You mean `offsets` ?

Would have to check, but keeping those with `ByT5` is probably doable.

Any other features you thought of ?

[2021-12-06 09:43] #14278 closed

[2021-12-06 09:45] banda-larga commented on #14360
I also faced the same problem, @patrickvonplaten, @patil-suraj, any news? :)

[2021-12-06 09:56] vitalyshalumov commented on #14602
Features such as:
    truncation="only_second",
    return_overflowing_tokens=True,
    return_offsets_mapping=True,
    stride=doc_stride

and a sequence_ids() method

Basically I want to be able to run this example
https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/question_answering.ipynb

Thank you in advance!

[2021-12-06 10:19] Narsil commented on #14602
I see, there's a workaround because not all tokenizers are fast and we can still run question-answering on those (you just loose offsets):

Take a look at `transformers.data.processors.squad.squad_convert_examples_to_features` function:

https://huggingface.co/docs/transformers/master/main_classes/processors#transformers.data.processors.squad.SquadProcessor.get_train_examples

This should enable y

[2021-12-06 10:24] lvwerra commented on #14552
I ran the same experiments on my MacBook (BigSur, 2.3 GHz Dual-Core Intel Core i5):
[code]
The warning made me try `pipe(texts, num_workers=4)`:
[code]
A little faster. So I also tried `pipe(texts, num_workers=1)`:
[code]

So it seems to be an issue with parallelism - potentially in the `DataLoader`?

[2021-12-06 10:43] lhoestq commented on #12061
Hi ! If it can help, note that in `datasets` we've already added a retry mechanism in [file_utils.py](https://github.com/huggingface/datasets/blob/16f562b381a9e2ad1934b82ffcd6ea1695b6d74e/src/datasets/utils/file_utils.py#L378-L387)

[2021-12-06 10:53] Narsil commented on #14552
Yes it seems an error in `DataLoader` interferring somehow with inference with some Intel parallelism for tensor calculation.

I guess at that point disabling DataLoader is the most sensible thing to do (num_workers=0 achieves that).

[2021-12-06 11:03] harrypotter90 commented on #14596
More information, something wrong with the `hubert-base` model, as soon as I just change the model to `"facebook/hubert-large-ll60k"` same code works.

Thoughts ?

[2021-12-06 11:27] osanseviero commented on #14604
cc @cbensimon

[2021-12-06 11:39] aqred1 commented on #14575
Hi all,

Thank you for the suggestions. I didn't know about bf16. I'll check whether that's faster than deepspeed + fp16 which is what I'm finally running at the moment.

The command for one GPU was:
`python ./5.run_clm-post.py --model_name_or_path gpt2-large --train_file datasets/sample.txt --tokenizer_name myembeddings --do_train --do_eval --output_dir ./sample --evaluation_strategy epoch --num_

[2021-12-06 11:44] Narsil commented on #14521
I just checked, and the attention_mask is correctly sent back to the model `Gpt_neo` so if anything it seems that the model would be the culprit.

Looking at the code, the `position_ids` are correctly skipped : https://github.com/huggingface/transformers/blob/master/src/transformers/models/gpt_neo/modeling_gpt_neo.py#L688

Then you can check that the attention_mask adds a very large negative numbe

[2021-12-06 12:03] patil-suraj commented on #14360
Sorry about the super late response.

We will need to support the language codes for mBART as we do in the `run_translation.py` script. Will update the script in a couple of days or feel free to open a PR @nicolalandro @banda-larga  if you want, happy to help with it :)

[2021-12-06 12:20] etiennedi opened #14639 "[Hub] 403 when trying to download models"
Cross-posting from https://github.com/UKPLab/sentence-transformers/issues/1297 as I'm not sure if this is an issue with the `SentenceTransformers` library or with the model hub directly.

Similar to the author of the linked post, we are also running into this both locally and from CI, so it doesn't seem to be one particular blocked or rate-limited IP. Interestingly enough, I am not running into th

[2021-12-06 12:24] etiennedi commented on #14639
Update: The original author found that the [same error also occurs on non SBERT-related activity](https://github.com/UKPLab/sentence-transformers/issues/1297#issuecomment-986724370), suggesting that it is indeed an issue on the model hub directly.

Thanks in advance for timely investigation and fix, as I assume this is blocking a lot of users at the moment :)

[2021-12-06 12:29] hfjallemark commented on #14639
We're also affected, our `all-MiniLM-L6-v2` model is not working in production. Are there any workarounds? How can we download them manually and load them locally instead?

[2021-12-06 12:33] etiennedi commented on #14639
In case this helps with the investigation, I can also partially reproduce this in the browser:

- This page works fine: https://huggingface.co/sentence-transformers/clip-ViT-B-32/tree/afe976e3f4ea04b633edb0089a7e5088ddbe9212
- When I now click on `.gitattributes`, I am directed to a page that returns `403`: https://huggingface.co/sentence-transformers/clip-ViT-B-32/blob/afe976e3f4ea04b633edb0089a7

[2021-12-06 12:51] nreimers commented on #14639
@hfjallemark
You can download all models from here:
https://public.ukp.informatik.tu-darmstadt.de/reimers/sentence-transformers/v0.2/

Unzip them to a path and load from disc.

We currently look into this

[2021-12-06 12:52] hfjallemark commented on #14639
Thanks @nreimers -- managed to do that and load locally.

[2021-12-06 13:12] geffy commented on #14639
Same here with `stsb-distilbert-base`
Digging in code, found that server says model should contain files [".gitattributes", "README.md"] which are 403
Ugly workaround - just skip them by adding at `site-packages/sentence_transformers/util.py`@434 smth like
[code]

Hope you will fix that

[2021-12-06 13:14] Rocketknight1 commented on #14123
Hey, bumping this to keep it alive - it's something we're definitely aware of but it's not a priority right now, given that tests seem to work in the CI. If anyone can investigate it and submit a PR that would be great, if not we'll get to it as soon as we can!

[2021-12-06 14:09] nreimers commented on #14639
The download from the hub should be working again.

Let me know if you still have issues.

[2021-12-06 14:09] #14639 closed

[2021-12-06 14:10] etiennedi commented on #14639
I can confirm that the download works again. Thanks to you and everyone on the team for the quick action!

[2021-12-06 14:13] julien-c commented on #14639
Post-mortem: AWS WAF (Web Application Firewall) had a new ruleset merged today (https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list.html) that didn't like our URL structure

[2021-12-06 15:20] NielsRogge commented on #14195
You don't need to train a custom tokenizer, the one of RoBERTa can be used.

Thing like number of beams for beam search, max length, vocab size, etc?
Not really, the authors used beam search with num_beams=5, other than that, all default parameters of the [generate](https://huggingface.co/docs/transformers/master/en/main_classes/model#transformers.generation_utils.GenerationMixin.generate) method

[2021-12-06 16:21] Narsil commented on #14301
Hi @bengshaoye ,

This went off my radar for some reason. Do you have a reproducible script ?

Your steps to reproduce are not necessarily enough to understand the issue since the `Dataset` is not specified.

For the pipeline to work, you need a `Dataset` that return the object expected (Here a simple string, not a dict for instance).

Does that help ?

[2021-12-06 16:43] sgugger commented on #14592
@setu4993 Next release will be this Wednesday normally.

[2021-12-06 17:03] NielsRogge opened #14642 "Encapsulate all forward passes of integration tests with "with torch.no_grad()""
Each model in the Transformers library has one or more corresponding integration tests, which make sure the implementation in Transformers returns the same exact logits/hidden states as the original implementation on the same input data.

e.g. the integration test for the Vision Transformer (ViT) can be found [here](https://github.com/huggingface/transformers/blob/df085d8ea8b823b85ecfe2e1968b57419

[2021-12-06 17:20] itsTurner commented on #14642
Hey, I'd love to work on this!

[2021-12-06 17:50] Celsollopes commented on #14195
Thank you very much for the information!

I googled and found BERTibaum, link:
https://github.com/neuralmind-ai/portuguese-bert
This model is pre-trained in Portuguese.
Would it be possible to use this model in the decoder?

Em seg., 6 de dez. de 2021 às 12:20, NielsRogge ***@***.***>
escreveu:

--
*Celso Antônio M Lopes Júnior*
Computer Engineering - computational Intelligence
Researcher of Artif

[2021-12-06 18:37] gugarosa commented on #14638
Theoretically speaking, it is expected because each configuration differently feed the gradients. Though is also expected that they converge to a common point.

[2021-12-06 18:40] ZhaofengWu commented on #14638
What do you mean by they differently feed the gradients? Calculating the loss based on 32 examples and then another 32 examples and then calculating the gradients should be exactly the same as calculating the loss based on 64 examples and then calculating the gradients, no?

[2021-12-06 18:42] stas00 commented on #14628
Thank you for this report, @dunalduck0 - I didn't have this "path" tested (or ever used it). I can reproduce the problem with a much faster:

[code]

will work on solving it and report back when I have something to show.

[2021-12-06 19:32] PeijinV5 commented on #6881
So I solved this problem with other people's help. Basically, I need to change the key name in my tf1 checkpoints. Here is the code. For further details, please see: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/migrate/migrating_checkpoints.ipynb?hl=id#scrollTo=NPQsXQveuQiC

[code]

[2021-12-06 19:34] dkalpakchi opened #14647 "Reproducibility issue with Trainer"
Hi,
I am trying to fine-tune a model using PyTorch backend and Trainer class, but when I train 2 times with exactly the same parameters, I still get different results. I have supplied the seed and also used PyTorch-specific commands:
[code]

However, after all of these failed I went to Trainer's source code and noticed these lines (https://github.com/huggingface/transformers/blob/master/src/transf

[2021-12-06 20:30] niansong1996 commented on #14521
Hi @Narsil, thanks a lot for the reply!

Yeah, I can see those code as well and it seems to be doing the correct thing but the results I am getting suggests otherwise. It is possible, however, related to how GPT-NEO handles those positional ids internally.

With the smaller example here, though the generated sequences are the same, the logits are actually different, which is why it exhibits the in

[2021-12-06 20:31] NielsRogge commented on #14647
Hi,

Googling "reproducibility Huggingface trainer" returns this helpful post on our forum: https://discuss.huggingface.co/t/fixing-the-random-seed-in-the-trainer-does-not-produce-the-same-results-across-runs/3442

[2021-12-06 20:32] parambharat opened #14648 "LEDTokenizer doesn't pad `global_attention_mask`"
## Environment info

- `transformers` version: 4.13.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.1
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: True
- Using distributed or parallel set-up in script:

[2021-12-06 21:09] bpraveenk commented on #13732
Thank you for confirming the fix @Rocketknight1 . Could you point me to the PR submission instructions, I will submit the fix and I will add a comment that it is a temporary fix.

[2021-12-06 21:13] Oxi84 opened #14649 "Finetuning T5 for 2 tasks with 2 diferent prefixes and different data gives the same result."
Hello,

I am able to finetune T5 on paraphrasing task ... and the results are quite good. So for example when i train modelA on dataA and modelB on DataB, the produce different results, but then i train modelC and prefixA + Data A plus PrefixB + dataB the results with PrefixA and PrefixB are almost the same.

What could be the problem, is this an usual thing, because T5 should be able to handle mu

[2021-12-06 21:16] gchhablani commented on #14252
Unstale

[2021-12-06 21:20] fcakyon opened #14650 "Make `CLIPFeatureExtractor` accept batch of images as `torch.Tensor`."
# 🚀 Feature request

Make `CLIPFeatureExtractor` (or any FeatureExtractor in general) accept batch of images as `torch.Tensor`.

## Motivation

Currently batch of images as `torch.Tensor` are not treated as a batch, it has to be a `List[torch.Tensor]` but it is not the case when using native Pytorch DataLoader. Can we update this line so that it accepts batches as `torch.Tensor`. Maybe we can chec

[2021-12-06 21:46] robflynnyh opened #14651 "Transformer-XL -100 label padding"
Transformers version: 4.12.5
model: Transformer-XL / transfo_xl
issue:
In the docstring it is specified that: All labels set to ``-100`` are ignored (masked).
However when passed to the model the error: index -100 is out of bounds for dimension 1 with size {vocab size} is thrown

[2021-12-06 22:10] stas00 commented on #14628
Please try with this PR https://github.com/huggingface/transformers/pull/14652 and let me know if that fixes the issue for you.

Thank you.

[2021-12-06 22:36] gugarosa commented on #14638
They are very almost the same. Though, they are being repeatedly calculated and might lead to some numerical difference that explain the divergence at some points

[2021-12-06 22:45] aphedges commented on #14650
@fcakyon, why was I mentioned here? The only time I edited this file was to add a missing space in an error message.

[2021-12-06 22:57] Atharva-Phatak opened #14653 "Missing weight parameter when loading from deepspeed stage-2"
Converting deepspeed_zero_stage_2 to fp32 misses some parameters. I was finetuning bart-large using deepspeed_stage_2. I converted to fp32 checkpoints(using zero_to_fp32.py) and got a .bin file.

When I try to load this model using model.load_state_dict(path_to_bin_file) I get the following keys missing error.
"model.embed.tokens.weight" ?

I am using using pytorch-lightning for training.

[2021-12-06 23:33] patrickvonplaten commented on #14560
@Oxi84 - is there still an issue?

[2021-12-06 23:49] patrickvonplaten commented on #14612
@felix-schneider thanks for your write-up here. Could you give more detail regarding the statement

In the example of the forum post, I do the following:

1. Return all output logits at every step (which can be seen as `softmax^(-1)(prob)`)
2. Compute the softmax to get the probability that of token i to be sampled at time-step t
3. Gather the probabilities of the generated tokens
4. Take the prod

[2021-12-06 23:55] patrickvonplaten commented on #14612
For beam search it is true that this operation is not that simple because it's hard to know from which beam the output tokens are coming from at each time step - one could compute this by taking the `topk` values of the `scores` output.
However in order to facilitate the computation for the beam scores I'd be happy to also return the `beam_idx` to make it easier to map the generated tokens to the

[2021-12-07 00:09] dunalduck0 commented on #14628
Thank you @stas00. What do I do to get your fix into my local box? I have a Linux bot and a local copy of fork of Huggingface/transformer. It looks like your fix has not been merged into HuggingFace/transformers

[2021-12-07 00:14] stas00 commented on #14628
Indeed, it's not merged yet. I need to add tests first.

Here are some of the ways you can try my PR's branch:

if you have `gh` installed (https://github.com/cli/cli)

[code]

Or you can clone my fork and switch to that branch:
[code]

[2021-12-07 00:26] fcakyon commented on #14650
My apologies @aphedges. Saw your name on PR.

[2021-12-07 00:48] stas00 commented on #12061
@lhoestq, I didn't follow all the paths, but it appears that `max_retries` is either 0 or 1 almost everywhere in `datasets` unless the user overrides it.

[2021-12-07 00:49] stas00 commented on #12061
Additionally, I'm thinking this. Most of the time most of the datasets and trasnformers files have already been cached.

Would it make sense to check that if there is a failure to fetch a model or a dataset or a support file and there is already a cached version of the same to simply switch to using a local file and tell the user that this was done?

[2021-12-07 01:03] patrickvonplaten commented on #14612
See: https://discuss.huggingface.co/t/generation-probabilities-how-to-compute-probabilities-of-output-scores-for-gpt2/3175/15?u=patrickvonplaten

I'll improve the behavior for beam search

[2021-12-07 01:03] patrickvonplaten commented on #14086
See: https://discuss.huggingface.co/t/generation-probabilities-how-to-compute-probabilities-of-output-scores-for-gpt2/3175/15?u=patrickvonplaten

I'll improve the behavior for beam search

[2021-12-07 01:06] bengshaoye commented on #14301
# here comes the code to reproduce.
from torch.utils.data import Dataset
from transformers import pipeline

class MyDataset(Dataset):
    def __init__(self,x):
        self.samples = x
        super().__init__()
    def __getitem__(self,index):
        return self.samples[index]
    def __len__(self):
        return len(self.samples)

str_input = 'Christoph Seubert, MD PhD DABNM'
# make a Dataset

[2021-12-07 01:07] stas00 commented on #14575
Unfortunately, I don't currently have access to A100, as it'd be much easier for me to test directly.

So let's keep it open and once I can test I will be happy to experiment and see if there are any problems. I will assign this to me so that it doesn't get lost.

[2021-12-07 01:07] patrickvonplaten commented on #14086
https://github.com/huggingface/transformers/pull/14654

[2021-12-07 01:07] patrickvonplaten commented on #14612
https://github.com/huggingface/transformers/pull/14654

[2021-12-07 02:48] dunalduck0 commented on #14628
Will do it tonight

[2021-12-07 02:52] stas00 commented on #14628
Perfect. I will merge as soon as you give me green light.

[2021-12-07 04:25] dunalduck0 commented on #14628
The fix worked on my box. Thank you stas00 for quick fix.

Minor comment: the logging confused me at first time. I saw DeepSpeed re-initialized everything and I almost thought the program restarted again :P.

[2021-12-07 04:25] #14628 closed

[2021-12-07 05:59] stas00 commented on #14628
Thank you for testing, @dunalduck0

Once Deepspeed fixes this probably the full restart will go away

[2021-12-07 06:32] patil-suraj commented on #14650
Thanks for the issue!

Since a batch of images is a very common input I think we should support this. Pinging @NielsRogge, @sgugger

@fcakyon Also note that when resizing, the feature extractors convert the tensors to PIL images, so the most efficient way to use these is to pass a list of PIL images.

[2021-12-07 07:32] rahul765 commented on #11516
with self.tokenizer.as_target_tokenizer():
  File "/home/rahulpal/anaconda3/envs/rebel/lib/python3.7/contextlib.py", line 112, in __enter__
    return next(self.gen)
  File "/home/rahulpal/anaconda3/envs/rebel/lib/python3.7/site-packages/transformers/models/mbart50/tokenization_mbart50_fast.py", line 215, in as_target_tokenizer
    self.set_tgt_lang_special_tokens(self.tgt_lang)
  File "/home/rahu

[2021-12-07 07:34] dunalduck0 commented on #12750
@MarcM0 have you figured out how to set compute_metrics for hyperparameter search for GPT models?

[2021-12-07 07:50] setu4993 commented on #14592
@philschmid :

That'll come in very handy, thank you!

@sgugger : Sounds good, will test once the next version is released.

[2021-12-07 08:25] Arij-Aladel commented on #14199
@patil-suraj  this is [my try ](https://drive.google.com/file/d/1cjjlcy1-mr8gHji4wy0hMg2ZwX10fDqJ/view?usp=sharing)
to run the same steps using pytorch.
I have tried to use t5-small tokenizer. Also, I trained the given tokenizer in this repo on wikitext to compare.

 The results are not the same, seems strange. Training on 10 epochs using  :
1. **if tokenizer trained on wiki**
export CUDA_VISIBLE_

[2021-12-07 08:38] ericwtlin commented on #13389
@patrickvonplaten , could you share us the script to convert fairseq official checkpoint (e.g.  https://msraprophetnet.blob.core.windows.net/prophetnet/release_checkpoints/prophetnet_multi_wiki100.pt) to patrickvonplaten/xprophetnet-large-wiki100-cased-xglue-ntg_old?

Many thanks!

[2021-12-07 10:38] patrickvonplaten commented on #14199
@Arij-Aladel - could you specify your question here a bit? What exactly is the issue?

[2021-12-07 10:39] Narsil commented on #14521
Tagging @patil-suraj, if you have more information on how the `attention_mask` works and if that behavior is in line with what it should do ?

Just for reference, I also checked outputs, and indeed there's variance (even more than in you post, I get:

[code]

[2021-12-07 11:14] Arij-Aladel commented on #14199
I need to train T5 from hugging face  from scratch on mlm task using pytorch. To my knowledge, there is no example on your repo to do that. The **_main issue_** that the same dataset preprocessing using the same T5 model but with two different frameworks flax and pytorch gave me different results. I did not change anything in the original run_mlm_flax.py code I just tried to use pytorch and Traine

[2021-12-07 12:02] skbaur commented on #4444
Since the patch in https://github.com/huggingface/transformers/pull/14361 has been reverted, is there a timeline for a fix? (Or is there a known workaround one could use?) Thanks :)

[2021-12-07 12:07] #13887 closed

[2021-12-07 12:08] patrickvonplaten commented on #13887
Closing due to inactivity on the pull request

[2021-12-07 12:09] patrickvonplaten commented on #13825
Related: https://github.com/huggingface/transformers/issues/14421

[2021-12-07 12:37] dkalpakchi commented on #14647
Hi Niels!

Thanks for your swift response! I've seen the post, but it seemed people still couldn't make it work judging from the last message in the thread. I've tested setting the seed before instantiating a model now and fixed a couple of other bugs and now I managed to get reproducible results.

However, I still can't grasp why the original Trainer sets the seed to a random value in the code sn

[2021-12-07 13:26] Narsil commented on #14301
Thanks for the script, was so simple I was persuaded this was covered in tests, this is obviously not the case. I added a PR to fix this.

[2021-12-07 13:46] Rocketknight1 commented on #4444
@skbaur Although that patch was reverted, we quickly followed up with a fixed one at https://github.com/huggingface/transformers/pull/14415 , so the issue should now be resolved. If you're still encountering this issue, please let me know!

[2021-12-07 13:50] Rocketknight1 commented on #13732
Hi @bpraveenk, thanks for the offer! We have instructions for contributors [here](https://huggingface.co/docs/transformers/contributing).

[2021-12-07 13:52] patrickvonplaten commented on #14540
Hey @programmeddeath1,

I sadly can't open the colab. It says:

[code]

=> Can you make sure the google colab is accessible by everyone?

[2021-12-07 13:53] patrickvonplaten commented on #14187
Gently pinging @lewtun here

[2021-12-07 13:57] lewtun commented on #14187
Thanks for the ping! Will take a look :)

[2021-12-07 14:09] patrickvonplaten commented on #13443
Hey guys,

At the moment, it seems like we will have to fall back to the slow tokenizer for this one:

1. Import model and tokenizer:

[code]

2. Save the tokenizer:
[code]

works.

[2021-12-07 14:17] MyBruso commented on #8551
Hello @nreimers , I am trying to use paraphrase-multilingual-MiniLM-L12-v2 pretrained model and getting the similar error -
TypeError: special token mask_token has to be either str or AddedToken but got: <class 'dict'>

Would it be possible for you share what change is needed in tokenizer_config.json? Accordingly I will change my tokenizer_config.json.
This is the current version of tokenizer_conf

[2021-12-07 14:29] MarcM0 commented on #12750
I just ended up using the default loss

[2021-12-07 15:02] #14213 closed

[2021-12-07 15:20] skbaur commented on #4444
Hi @Rocketknight1 , thanks for your reply! You are right, it does work when saving in the tensorflow format (not hdf5). This does solve the issue I was facing.

What did not work for me was this (minimal example adapted from https://github.com/huggingface/transformers/issues/14430 ):

`
import tensorflow as tf
import transformers
import sys

print(sys.version)
print(tf.__version__)
print(transform

[2021-12-07 15:28] jcklie commented on #14305
This is still relevant and dear to me.

[2021-12-07 15:47] patrickvonplaten commented on #14199
Hey @Arij-Aladel,

We currently don't have any support to pre-train T5 from scratch in PyTorch. We only have a script in Flax and we recommend https://github.com/google-research/text-to-text-transfer-transformer for training in TF.

Could you maybe instead try whether you can find support for pretraining in PyTorch on the forum: https://discuss.huggingface.co/ ?

Thanks!

[2021-12-07 15:52] Rocketknight1 commented on #4444
Hi @skbaur, your code runs fine for me! Here's my outputs:
[code]
Can you try, in order:

1) Installing transformers from master with `pip install git+https://github.com/huggingface/transformers.git`
2) Updating TF to version 2.6 or 2.7

and let me know if either of those fixes it for you?

[2021-12-07 15:53] Narsil commented on #14602
It's definitely not off the table, but unlikely.

As I mentionned, there's a overhead to go from Python to Rust (`tokenizers`). And in the case of pure bytes it's likely to be superior to the actual processing of the tokenizer in pure python (defeating the purpose of the rust implementation which is to go fast). Ofc tests should be run to prove this, but since there's at least a utf-8 reprocessing

[2021-12-07 15:55] Arij-Aladel commented on #14199
@patrickvonplaten I know that that is why I tried it myself and the performance using pytorch version is not satisfied even the masking pipeline is the same I have tracked it. That is why I asked why is the performance of flax T5 different of pytorch T5

[2021-12-07 15:59] skbaur commented on #4444
Option 1. already seems to work (Installing transformers from master with pip install git+https://github.com/huggingface/transformers.git , but not updating TF).

The error reappears when downgrading back to transformers 4.12.5.

[2021-12-07 16:07] Rocketknight1 commented on #4444
@skbaur It seems like one of the relevant PRs didn't make it into the release, in that case - please use the master version for now, and hopefully once 4.13 is released you can just use that instead!

[2021-12-07 16:20] programmeddeath1 commented on #14540
Hi @patrickvonplaten
Here is the open link to view
https://colab.research.google.com/drive/1Bk9XGoDnxg3wadKVecREXjUth5dMkTky?usp=sharing

I had shared the editor access to your account - patrick@huggingface.co.
I have now shared it to your gmail account too.

Tell me if I should give edit access to the open link, but it may be edited by someone else, so I just gave comment access.

[2021-12-07 16:24] GaurangTandon opened #14660 "Do we use JSON lines or JSON only for run_translation.py in PyTorch?"
### Who can help

Models:

- maintained examples (not research project or legacy): @sgugger, @patil-suraj

## Information

The run_translation.py file requires that we pass `train_file` and `validation_file` as **json** file only, see:

https://github.com/huggingface/transformers/blob/master/examples/pytorch/translation/run_translation.py#L219

However, the [README](https://github.com/huggingface/

[2021-12-07 16:30] #14619 closed

[2021-12-07 16:30] NouamaneTazi commented on #14619
Fixed in #14618

[2021-12-07 18:44] fcakyon commented on #14650
@patil-suraj I was using as:

`PIL Images` > `Pytorch DataLoader` > `batch as torch.Tensor` > `CLIPFeatureExtractor` > `CLIPModel`

But in this workflow `CLIPFeatureExtractor` treats `batch as torch.Tensor` as a single image tensor and as a result `CLIPModel` gives error.

Is the intended usage different?

[2021-12-07 18:58] jmwoloso commented on #14500
I was able to train the model successfully in the end by disabling JIT compilation with `ENV TF_XLA_FLAGS="--tf_xla_auto_jit=-1"`

[2021-12-07 21:35] dunalduck0 commented on #12750
Thank you @MarcM0. Do you mean you set compute_metrics=None (None was the default value, unless you provide your implementation)?

[2021-12-07 21:36] MarcM0 commented on #12750
I believe so

[2021-12-07 22:31] Tikquuss opened #14667 "Wrong link in the documentation (ConvBERT, BART, Fnet)"
In the documentation on transform-based models [0], the link that is supposed to point to the **ConvBERT** paper [1, 2] points instead to the **DistilBERT** paper [3].

[0] https://huggingface.co/docs/transformers
[1] https://huggingface.co/docs/transformers/model_summary#convbert
[2] https://arxiv.org/pdf/2008.02496.pdf
[3] https://arxiv.org/pdf/1910.01108.pdf

[2021-12-08 00:29] michalk8 opened #14668 "Generate: Passing encoder_hidden_states in with num_beams > 1 raises an error"
## Environment info

- `transformers` version: both 4.12.5 and 4.13.0.dev0
- Platform: Linux
- Python version: 3.8.12
- PyTorch version (GPU?): 1.10, no GPU
- Tensorflow version (GPU?): N/A
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): GPT2 (LM head)

The problem arises when

[2021-12-08 03:43] jmwoloso commented on #14500
Ok, so it works for a single epoch. When running more than 1 epoch, the first epoch succeeds and upon beginning the second epoch, we get this (first epoch logging included here for completeness).

[code]

[2021-12-08 04:42] matonski commented on #8866
I had the same issue for `GPT2LMHeadModel`. In my case, I found the solution. Let `hf3_model_dir` be the Hugging Face v3.x model directory that you give to `load_pretrained`. Inside this directory is the saved pytorch model file called `pytorch_model.bin`. Let's load this file directly using pytorch:

[code]

Now check the values of these two entries:

[code]

I found that they were different. How

[2021-12-08 04:56] matonski commented on #8866
As a further comment, for models saved under Hugging Face v4.x, `state_dict['transformer.wte.weight']` and `state_dict['lm_head.weight']` are both equal as they should be.

For models saved under Hugging Face v3.x, `state_dict['transformer.wte.weight']` ends up being (I believe) just random garbage that is harmless if reloaded using Hugging Face v3.x but can be very harmful if reloaded using Huggi

[2021-12-08 06:53] ZOHETH opened #14670 "tf.matrix_band_part have been deprecated"
https://github.com/huggingface/transformers/blob/fae0b9faefc371977d139b60202a63dcedbd8ea8/src/transformers/models/xlnet/modeling_tf_xlnet.py#L500

This should be replaced by `tf.linalg.band_part` here?

[2021-12-08 07:12] #14670 closed

[2021-12-08 07:42] LysandreJik commented on #14667
Nice catch! Would you like to submit a PR to amend this?

[2021-12-08 08:09] LeeYN-43 commented on #13356
Hi @valmetisrinivas , I meet the same issue and I found that I have two numpy package in my conda env (/home/xxx/anaconda3/env/xxx/lib/python3.x/site-package). After I remove the empty one(not have METADATA or version not correspond), everything goes fine. Hope it can help you

[2021-12-08 08:54] #14301 closed

[2021-12-08 08:55] ydshieh opened #14672 "PT CausalLM models config issue"
## Environment info

- `transformers` version: 4.13.0.dev0
- Platform: Windows-10-10.0.19042-SP0
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: N

[2021-12-08 09:12] LeeJiangWei commented on #4825
Hi, is there any support for sequence classfication on sentence pairs?

[2021-12-08 09:35] valmetisrinivas commented on #13356
Thanks a lot. Appreciate.
reg,
Srinivas

On Wed, 8 Dec 2021 at 12:10, ynlee-43 ***@***.***> wrote:

[2021-12-08 09:41] tagucci opened #14673 "Output sequences are different between SummarizationPipeline and model.generate"
## Environment info
transformers version: 4.12.5
Platform: Linux
Python version: 3.8.5
PyTorch version (GPU?): 1.10
Tensorflow version (GPU?): N/A
Using GPU in script?: Yes
Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten, @patil-suraj

## Information
Model I am using (Bert, XLNet ...): Bart (ConditionalGeneration)
The problem arises when using:
 - [ ] the of

[2021-12-08 11:10] pommedeterresautee commented on #4825
sentence pairs are managed by the tokenizer, at the end it's just a sequence of tokens... so classic sequence classification pipeline works out of the box

[2021-12-08 11:10] LysandreJik commented on #14305
Pinging @SaulLu for advice

[2021-12-08 11:21] LysandreJik commented on #14653
Maybe @stas00 has encountered this error in the past

[2021-12-08 11:24] LysandreJik commented on #14638
cc @sgugger

[2021-12-08 11:36] LysandreJik commented on #14642
Sounds good @itsTurner, feel free to open a PR :)

[2021-12-08 11:46] function2-llx commented on #13229
I'm able to install latest transformers from the huggingface channel with Python 3.9.7.

[2021-12-08 12:22] hadifar opened #14674 "Loading t5 from config file"
Why cannot load T5 from a config file?

Python: 3.9.5
Transformer: 4.12.5
OS: ubuntu 18.04
CPU

[code]

Here is the link to reproduce the issue in colab:

https://colab.research.google.com/drive/17tKE50_CGH12I-McVrob7JfFkveOH6Mc?usp=sharing

[2021-12-08 13:20] #12996 closed

[2021-12-08 13:24] NielsRogge commented on #14674
This is due to the fact that the "architectures" attribute of the [config](https://huggingface.co/t5-small/blob/main/config.json#L3) of the "t5-small" checkpoint is set to `T5WithLMHeadModel`, however it was renamed to `T5ForConditionalGeneration`.

[2021-12-08 14:09] LysandreJik commented on #14633
cc @michaelbenayoun

[2021-12-08 14:16] michaelbenayoun commented on #14633
Hi @sdtblck ,
The issue with dynamic inputs is not related to the `past_key_values` but to dynamic control-flow in the model forward pass implementation. The PR #14321, that I plan to merge at some point (hopefully before the end of the year) solves this kind of issues for the supported models.

[2021-12-08 14:21] ydshieh opened #14677 "[Feature request] Doc example copy button - option to remove input prompts and outputs"
# 🚀 Feature request

Documentation page: Make example copy buttons remove input prompts (`>>>` and `...`) before copying, as well as skip lines that don’t start with prompts (in case they are output lines). Or provide the option to toggle this functionality.

## Motivation

When I copy doc examples, the input prompts & outputs lines are also copied. It would be very convenient to remove these auto

[2021-12-08 14:27] NielsRogge commented on #14677
This is a bug that will be fixed soon, see https://github.com/huggingface/doc-builder/issues/41. cc @mishig25. Thanks for reporting.

[2021-12-08 14:30] ydshieh commented on #14677
Thanks, @NielsRogge . I didn't follow that repository. I am closing this issue.

[2021-12-08 14:38] lewtun commented on #14187
Hey @qiuxia-alone, thank you for raising this issue! The ONNX export API was overhauled in `transformers` v4.9.0 ([link](https://github.com/huggingface/transformers/releases/tag/v4.9.0)), and since then the recommended way to export models is via the `transformers.onnx` package.

For example, one can export the `DialoGPT-medium` checkpoint as follows:

[code]

Does running the above command solve

[2021-12-08 14:42] lewtun commented on #14491
Hey @polly-morphism @diruoshui, given the PyTorch version fix in #14310 can we now close this issue?

[2021-12-08 14:44] polly-morphism commented on #14491
Yes, thank you!

[2021-12-08 14:47] #14491 closed

[2021-12-08 14:50] lewtun commented on #14266
Hey @RamiroMoreira given the solution provided by @frgfm can we close this issue?

[2021-12-08 14:52] #14677 closed

[2021-12-08 15:01] #14218 closed

[2021-12-08 15:01] #14214 closed

[2021-12-08 15:01] #14217 closed

[2021-12-08 16:00] Narsil commented on #14631
Hi @cascadianblue,

This could be an interesting option to add.
IMHO:
- This should be opt-in, since at the boundaries, you might still get issues if the entities are across your split. FYI, for question answering we use a stride argument to have an overlap on the chunks and give opportunity to the model to see each token with some context, even at the boundaries. Should we do that here, we should

[2021-12-08 16:22] lewtun commented on #14100
Hey @WallE-Chang this issue would be better suited for the `optimum` [library](https://github.com/huggingface/optimum), which is more focused on these framework-specific aspects. Would you mind opening your issue there?

[2021-12-08 17:51] stas00 commented on #12061
Here is another example of CI intermittent failure which could have been re-tried and not fail the whole CI:

[code]

Source:
https://app.circleci.com/pipelines/github/huggingface/transformers/31002/workflows/327de938-0361-420e-abb5-c35d45bca5bb/jobs/318450

[2021-12-08 18:25] #14660 closed

[2021-12-08 18:27] sgugger commented on #14638
I think @gugarosa analysis is correct in the sense that it could be explained by precision differences when computing the gradients vs accumulating partial gradients.

[2021-12-08 18:32] stas00 commented on #14653
Since you were using PL, you probably want to ask that question there. Since I don't know how they did the Deepspeed integration.

i.e. this question is unrelated to `transformers`

[2021-12-08 18:32] #14653 closed

[2021-12-08 18:35] ZhaofengWu commented on #14638
Do you think that is suffcient to explain the not-too-minor difference in the plot?

[2021-12-08 18:36] sgugger commented on #14638
It's hard to say given you shared basically nothing on the training script :-)

[2021-12-08 19:12] ZhaofengWu commented on #14638
Ok, I think I'll take this explanation. Thanks! I'm not doing anything extraordinary in my training script and posting it in its entirety will probably bore everyone :)

[2021-12-08 19:38] OsvaldN commented on #3571
@vijender412 may I ask how you got a newer version of pytorch to work on  cloud function? I'm unable to get mine to build with anything later than torch vesrion 1.0.1 which is stopping me from using pipeline :/

[2021-12-08 19:56] dparmar16 commented on #12378
Hi @pn12 - the issue is likely that you have columns that are strings (not encoded). Make sure to drop all columns that aren't encoded and pass the new object to the model.

[2021-12-08 21:35] jmwoloso commented on #14500
Any thoughts @Rocketknight1? I was able to get it to successfully train for 2 epochs if I limit the visible devices to 2 GPUs relevant logs below

[code]

[2021-12-08 23:17] patrickvonplaten commented on #13389
Hey @ericwtlin,

Exactly `transformers_old` actually corresponds to this version of transformers: https://github.com/huggingface/transformers/tree/save_old_prophetnet_model_structure

(very ugly code that I've added there, sorry!)

In general, it's very difficult to ensure that checkpoint conversion scripts stay correct as the original codebase is often very likely to change or model parameter nam

[2021-12-08 23:18] Tikquuss commented on #14667
Sure ! As soon as I finish reading the documentation, to avoid making two PRs in case I find another error.

[2021-12-09 00:26] jmwoloso commented on #14500
Training also works with 3 GPUs.

[2021-12-09 02:37] Gracccce opened #14692 "LongformerTokenizer Error"
## Environment info

- `transformers` version: 2.11.0
- Platform: Linux-5.10.68+-x86_64-with-debian-buster-sid
- Python version: 3.7.6
- PyTorch version (GPU?): 1.5.1 (True)
- Tensorflow version (GPU?): 2.2.0 (True)
- Using GPU in script?: fill in
- Using distributed or parallel set-up in script?: fill in

### Who can help
@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...):
Long

[2021-12-09 04:11] anil8593 opened #14693 "Multiple answers for QA"
Hi Team,

I would like to know if the current implementation for Question answering tasks on the squad data format considers multiple answers that can be passed in the format. Going through the code, i think it does not however wanted to know it from you.

[2021-12-09 04:15] Tikquuss commented on #14667
Going through the documentation I found an error and a warning. I'll make a PR about it. I just want to note that I didn't do a documentation review, I stumbled upon these errors by coincidence: my remarks should therefore not be considered an absolute documentation review.

# Fnet [1]
At the level of model documentation, the label corresponding to FNet is rather FlauBERT (see screenshot below)

!

[2021-12-09 05:20] #14692 closed

[2021-12-09 06:27] s4sarath commented on #4875
This is wrong. It shouldn't be this way. In case model predicts wong index and when you calculate loss, it will cause serious issues. Its hard to believe no one cares this.

[2021-12-09 07:32] codeandproduce commented on #14081
Though it'd be ideal if it can be solved with a simple custom `LogitsProcessor`, it seems like this problem requires at least a dedicated beam search function (`LexicallyConstrainedBeamSearch` / `DisjunctivlyConstrainedBeamSearch`).

Upon further research I realized that similar features already exist in Fairseq and Sockeye.

**Fairseq** implementation is introduced by this [readme](https://github

[2021-12-09 08:26] Silypie opened #14694 "The loss function should ignore tokens whose index is set to - 100"
Loss function in `EncoderDecoderModel` as well as `BartForConditionalGeneration` didn't ignore special tokens:
https://github.com/huggingface/transformers/blob/e9800122a6f6a68aee7dff347c8f4a6d28e345a2/src/transformers/models/encoder_decoder/modeling_encoder_decoder.py#L529

Does it need to be like the loss function in `T5ForConditionalGeneration`:
https://github.com/huggingface/transformers/blob/e

[2021-12-09 08:45] CaoYiqingT opened #14696 "Occasional Can not load roberta-base tokenizer"
**Environment info**
transformers 4.12.0.dev

**issue**
when using `tokenizer = AutoTokenizer.from_pretrained('roberta-base')`, got the bug as following:
[code]
Sometimes this bug occurs while sometimes it works well
@LysandreJik

[2021-12-09 09:24] anaivebird commented on #14374
I think another problem if using finding eos in decoder_input_ids is like this:
decoder_input_ids = tensor([ 0,  7,  6, 13,  4,  7, 13, 14, 21,  7, 13,  5, 14, 20])
labels = tensor([ 7,  6, 13,  4,  7, 13, 14, 21,  7, 13,  5, 14, 20,  2])

eos token could be removed after shifting, ans could not be found in decoder_input_ids

[2021-12-09 09:35] NielsRogge commented on #14694
No, the ignore_index is set to -100 by default as can be seen in PyTorch' [docs](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html).

[2021-12-09 09:43] Silypie commented on #14694
I got it, thank you very much!

[2021-12-09 09:43] #14694 closed

[2021-12-09 11:36] ydshieh opened #14702 "MarianForCausalLM doc example not working"
## Environment info

- `transformers` version: 4.13.0.dev0
- Platform: Windows-10-10.0.19042-SP0
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: N

[2021-12-09 11:57] ydshieh commented on #14702
Similar issue for doc example

[code]

[2021-12-09 14:05] LysandreJik commented on #14667
@mishig25 do you know where this could come from?

[2021-12-09 14:17] lewtun commented on #14490
Hey @piEsposito would you mind moving this feature request over to the `optimum` [repo](https://github.com/huggingface/optimum/issues)?

Moving forward, we're planning the keep the ONNX export functionality in `transformers` and handle optimisation / generation features in `optimum` (to separate concerns).

Thank you!

[2021-12-09 14:24] mishig25 commented on #14667
@LysandreJik https://github.com/huggingface/transformers/pull/14704

[2021-12-09 15:06] #14227 closed

[2021-12-09 15:06] #14220 closed

[2021-12-09 16:35] #14667 closed

[2021-12-09 17:47] hyusterr opened #14706 "[chinese wwm] load_datasets behavior not as expected when using run_mlm_wwm.py script"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-5.4.0-91-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.10.0+cu102 (True)
- Tensorflow version (GPU?): 2.4.0 (True)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help
@LysandreJik @sgugger

## Information

Model I am using (Bert, XLNet ...): be

[2021-12-09 18:12] TevenLeScao opened #14707 "Erroneous 404 warning when using AutoTokenizer.from_pretrained"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-5.11.0-41-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (cpu)
- Jax version: 0.2.24
- JaxLib version: 0.1.73
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

#

[2021-12-09 18:37] sgugger commented on #14706
This script is not an actively maintained example, so you should ping the original contributor for any question on it :-)

[2021-12-09 18:41] stas00 commented on #14539
The NVIDIA engineers have been profiling a few things and torch's AdamW is much faster than ours, so I will add this to the performance docs once I'm able to benchmark this when your PR is ready, @manuelciosici

[2021-12-09 18:57] stas00 commented on #14539
It appears that `apex.optimizers.FusedAdam` is even faster. So we can plug that one in as well.

[2021-12-09 18:58] piEsposito commented on #14490
Sure, I can do that.

[2021-12-09 19:00] piEsposito commented on #14490
We are following this discussion on https://github.com/huggingface/optimum/issues/55 .

[2021-12-09 19:37] lewtun commented on #14490
Thank you!

[2021-12-09 19:37] #14490 closed

[2021-12-10 01:59] minmaxme commented on #14097
This seems like a useful addition, especially considering the EncT5 [paper](https://arxiv.org/pdf/2110.08426.pdf)

[2021-12-10 03:56] hyusterr commented on #14706
@julien-c

[2021-12-10 04:56] maxvonhippel commented on #3851
Bump, I'm still having this issue (on a CPU).

[2021-12-10 05:15] sjeffry-o opened #14710 "GPT-NEO Incosistent inference TPU vs GPU"
Problem: On GPU with huggingface library i'm getting much weaker results compared to inference on TPU
Model: GPT-NEO 1.3B
Steps: 20750
Dataset: Books crawl (file ".txt" 240 Gb)

- I've prepared dataset and new Tokenizer according to [original GPT-NEO](https://github.com/EleutherAI/gpt-neo) guide.
- For 1.3B model i've requested from TFRC TPUv3-128 for 14 days.
- For inference on TPU i'm using [ori

[2021-12-10 10:07] LysandreJik commented on #14710
cc @patil-suraj and @patrickvonplaten

[2021-12-10 10:32] patrickvonplaten commented on #14673
Hey @tagucci,

Good question! It took me some time to find the difference :D . The pipeline automatically takes the `model.config.prefix` parameter into account as well. So if you change your script as follows you should get the same results:

[code]

[2021-12-10 10:33] patrickvonplaten commented on #14673
That's the line in question: https://github.com/huggingface/transformers/blob/8395f14de6068012787d83989c3627c3df6a252b/src/transformers/pipelines/text2text_generation.py#L88

[2021-12-10 11:10] patrickvonplaten commented on #14668
Hey @michalk8,

In general, we try not to use the issue tracker too much for questions of non-official, costumized models. Could you maybe use the forum: https://discuss.huggingface.co/ instead the next time.

To answer your question, the approach of doing:

[code]

is definitely in the right direction! The idea is that if the user passes `encoder_hidden_states` she/he is also responsible for maki

[2021-12-10 11:33] patrickvonplaten commented on #14521
Jumping in the conversation here to maybe solve some problems.

One thing to remember is that `generate()` will **always** auto-regressively sample from the last token. This means that if the last token is a padding token than it will sample from it which is **always** incorrect.

This means one should never look at the output of the padding token, *i.e.* in @Narsil example:

[code]

this means th

[2021-12-10 11:48] ikergarcia1996 opened #14712 "DeBERTa V3 Fast Tokenizer"
# 🚀 Feature request

Fast Tokenizer for DeBERTA-V3 and mDeBERTa-V3

## Motivation

DeBERTa V3 is an improved version of DeBERTa. With the V3 version, the authors also released a multilingual model "mDeBERTa-base" that outperforms XLM-R-base. However, DeBERTa V3 currently lacks a FastTokenizer implementation which makes it impossible to use with some of the example scripts (They require a FastToken

[2021-12-10 11:54] patrickvonplaten commented on #14252
Taking care of it on Monday next week

[2021-12-10 12:13] patrickvonplaten commented on #11536
Thanks a lot for your help here @ybch14 ! I've opened a PR to fix it just like you suggested and it seems to work just fine :-)

[2021-12-10 12:14] patrickvonplaten commented on #11536
BTW, we have some guidelines here on how you can open pull requests:
https://github.com/huggingface/transformers/blob/master/CONTRIBUTING.md

[2021-12-10 12:15] patrickvonplaten commented on #14596
@harrypotter90 - I would need your model in the same repo id as well to be able to compare the two. Could you please upload your model as well? (`pytorch_model.bin` + `config.json`)

[2021-12-10 12:17] patrickvonplaten commented on #6535
I see - this makes sense! We should probably adapt the generate function then to allow this scenario. I'll put it on my TODO!

[2021-12-10 12:50] patrickvonplaten commented on #14135
Hey @ZhangShiyue,

sorry to answer only now. It's quite difficult to debug such reproducibility problems. I've created a dummy script and ran it a couple of times and it always gave me the same result. The script is:

[code]

and I've gotten the following result three times in a row:
[code]

The loss values are also exactly the same.

My environment is one GPU (`GeForce RTX 3070 Mobile / Max-Q`) a

[2021-12-10 12:50] patrickvonplaten commented on #14135
Could you maybe try to run the same script a couple of times from your side (it's very fast - just 20 seconds) to see if you can at least reproduce the results of this script?

[2021-12-10 12:52] patrickvonplaten commented on #13853
Should we implement a buffer solution here? @gchhablani - do you think this makes sense? How big would the buffer be in terms of size?

[2021-12-10 12:54] patrickvonplaten commented on #14184
@jbdel - I'm not sure our `generate()` method would work well with RL to be honest. Also, do you have an idea what we could improve to fix the problem? Could you maybe provide a minimum reproducible code snippet that I could run to better understand the problem?

[2021-12-10 13:05] patrickvonplaten commented on #14540
Hey @programmeddeath1,

I can now access the google colab, but this doesn't really help me to find the problem. Sorry, I've probably not been very clear in the previous message.

What I need to efficiently find a possible difference is:

a) an audio file that I can run the spaces demo with. You already provided that here: wget https://github.com/programmeddeath1/webhost/blob/master/ghwsa-1f9vw.wav

[2021-12-10 13:29] patrickvonplaten commented on #14710
Hey @sjeffry-o,

I'm not really sure what we can do here to help. Did you train a model and then when you run the model on inference on TPU it works well and the same model does not work well on GPU? Could you give us a reproducible code snippet that we can just run to reproduce the error?

[2021-12-10 13:33] patrickvonplaten commented on #14550
Thanks for the issue - just uploaded it: https://huggingface.co/t5-large/blob/main/flax_model.msgpack

[2021-12-10 13:41] patrickvonplaten commented on #4875
Hey @s4sarath,

During training all input_ids and labels are defined by the tokenizer. If the tokenizer has a vocab_size of 32000 there is no way that it will tokenize to an id >= 32000 neither for `input_ids` nor for `labels`. Because no label ever has an id >= 32000 the model learns to never predict those ids. I don't really see a problem with this to be honest

[2021-12-10 13:58] patrickvonplaten commented on #14674
@hadifar if you want to load the model from scratch with a specific config you can do:

[code]

if you want to load the pretrained weights with a specific config (that matches the weights) you should do:

[code]

[2021-12-10 14:33] RamiroMoreira commented on #14266
Yes, thank you!

[2021-12-10 14:33] #14266 closed

[2021-12-10 15:01] #14242 closed

[2021-12-10 15:01] #14238 closed

[2021-12-10 15:01] #14234 closed

[2021-12-10 15:34] s4sarath commented on #4875
Hi Patrick,

Thanks for the reply.
If the embedding matrix is 32128 x d , for an example if the predicted id
is say 32099, if we are using Sentencepiece tokenizer ( not huggingface ),
it will fail to decode that.

And special tokens ( 100 tokens ) are added extra, right. Which are
actually not a part of official sentecepice model. That's why I told, it
shouldn't be that way.

Thanks anyway, I real

[2021-12-10 16:43] MrinalTyagi commented on #14642
@itsTurner Are you still working on this issue?. If not then I would love to contribute to this issue.

[2021-12-10 17:02] picheny-nyu opened #14717 "Support for Kaldi formatted Audio files, especially "segments""
# 🚀 Feature request

Kaldi is a popular open source speech recognition system that manages audio in a simple but unique format. It would be great to have some addition to the datasets object that would take a Kaldi directory and turn this into a dataset. Barring this, it would be very helpful to have a modification of the datasets audio class that would permit processing of parts of long audio fil

[2021-12-10 17:25] programmeddeath1 commented on #14540
Hi @patrickvonplaten , i was wondering if we could come on a googlemeet/zoom call  together and  debug ,i will make things quite clear , should i put an invite ?

[2021-12-10 18:53] jbdel commented on #14184
hey @patrickvonplaten, could you expand on why you think generate() would not work well (provided one removes the @torch.no_grad() decorator) ?

To my understanding, If you do sampling and then get the logits of the sampled ids then you can use this logits in a loss and back propagate the gradient (i'm referring to this [paper](https://arxiv.org/abs/1612.00563)).

Should I open a new thread for th

[2021-12-10 19:01] julienbelangerunity commented on #6414
I'm absolutely confused by this too, it looks to me like there's a big missing piece in the doc.

[2021-12-10 21:52] setu4993 commented on #14592
@sgugger @philschmid : Confirming 4.13.0 fixed this for us.

[2021-12-10 22:56] sgugger commented on #14592
Thanks for letting us know!

[2021-12-11 04:32] gyin-ai commented on #14110
having the same issue +1

[2021-12-11 05:15] ashutoshml opened #14727 "Difference between vocab_size in model T5forConditionalGeneration “t5-small” and its corresponding Tokenizer “t5-small”"
## Environment info
- `transformers` version: 4.13.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel s

[2021-12-11 05:57] s4sarath commented on #5134
Hi @sshleifer  - Just a quick doubt. Why ```adjust_logits_during_generation``` is required for Bart. Is it because of any specific constraints the model is having?

What I have observed, the moment we disable it, generation is going haywire.
I understood, its doing nothing more than forcing everything except 0 ( bos_token_id ) th index to be small or 0.0. But what is the logical reasoning behind i

[2021-12-11 09:37] ashutoshml commented on #14727
My main goal is to `add_tokens` to the T5Tokenizer, but not sure how the `vocab_size` of the model would get affected due to this, after resize_embeddings. It would help to get an idea of how to incorporate the above.

[2021-12-11 14:05] cthoyt opened #14728 "Include documentation on linking to transformers docs with Intersphinx"
I'm one of the maintainers of PyKEEN and we're adding a feature where you can use various transformers in combination with knowledge graph embedding models in https://github.com/pykeen/pykeen/pull/652. We're using sphinx to build our documentation and have out-links to various packages like numpy, but we haven't been able to figure out how to use the intersphinx configuration to link to transforme

[2021-12-11 17:26] niansong1996 commented on #14521
@patrickvonplaten thanks a lot for the clarification! It confirms what I found in the experiments -- right padding for the GPT-like model is incorrect and leads to performance degradation.

However, I do think the problem for not correctly skipping the padding tokens still exists in general. if sampling from the padding token will lead to incorrect results, then in the following examples, the logi

[2021-12-11 18:06] NightMachinary commented on #1791
I am trying to create an arbitrary length text summarizer using Huggingface; should I just partition the input text to the max model length, summarize each part to, say, half its original length, and repeat this procedure as long as necessary to reach the target length for the whole sequence?

It feels to me that this is quite a general problem. Shouldn't this be supported as part of the `pipeline

[2021-12-11 19:07] marctorsoc opened #14730 "Fix docs pointers for DeepSpeed"
In this [section](https://huggingface.co/docs/transformers/master/en/main_classes/trainer#deepspeed), the reader is pointed to several links that are broken:

* https://huggingface.co/docs/transformers/master/en/main_classes/trainer#deepspeed-trainer-integration
* https://huggingface.co/docs/transformers/master/en/main_classes/trainer#deepspeed-installation
* https://huggingface.co/docs/transforme

[2021-12-11 22:05] xhlulu opened #14731 "Possible simplification in T5 docs"
I noticed the following nested list comprehension being recommended in the [T5 docs:](https://huggingface.co/docs/transformers/model_doc/t5)

[code]

I believe it's possible to simplify above to:
[code]

I would be happy to make a PR if the change is deemed relevant, though I'm not sure where the docs are located so please let me know if needed :)

[2021-12-12 03:49] #13721 closed

[2021-12-12 06:55] apkbala107 commented on #353
how could solve this?

did you solve this problem?

i am also having sample

[2021-12-12 07:25] Nian-Chen commented on #12934
Hello, I’m facing the same problem pretraining my model from English base model. Have you solved it?

[2021-12-12 10:22] NielsRogge commented on #14727
See #4875

[2021-12-12 12:31] #11536 closed

[2021-12-12 13:14] One-punch24 opened #14733 "Do we have pretrain (from scratch) scripts for BART?"
I just want to train a new bart on my own dataset. But it seems that there is no pretrain scripts.

[2021-12-12 13:21] One-punch24 commented on #14733
Oh, sorry, the answer is listed here: [https://github.com/huggingface/transformers/issues/5096#issuecomment-645860271](url)

[2021-12-12 13:21] #14733 closed

[2021-12-12 13:43] #14727 closed

[2021-12-12 15:01] #14259 closed

[2021-12-12 15:01] #14248 closed

[2021-12-12 15:02] #13827 closed

[2021-12-12 22:01] josutk opened #14736 "XLNetLMHeadModel has no attribute 'from_config'"
## Environment info

- `transformers` version: 4.8.0
- Platform: Linux-4.15.0-20-generic-x86_64-with-LinuxMint-19-tara
- Python version: 3.6.9
- PyTorch version (GPU?): 1.8.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes

### Who can help
@patr

[2021-12-13 00:49] kwang2049 opened #14737 "Add support to DistilBertLMHeadModel"
# 🚀 Feature request

## Background
Hi, I am the first author of the paper ["**TSDAE**: Using Transformer-based Sequential Denoising Auto-Encoder for Unsupervised Sentence Embedding Learning"](https://arxiv.org/abs/2104.06979). The work proposed a new method, TSDAE to train unsupervised-sentence-embedding models with denoising **autoencoder** loss on top of BERT-like PLMs. The code of TSDAE has bee

[2021-12-13 04:18] syeung2000 commented on #10277
It is related to the solution. I have to solve it by explicit stating the version. Otherwise, it keep installing the conda-forge version.

`conda install -c huggingface transformers =4.11.3`

[2021-12-13 08:09] #14674 closed

[2021-12-13 09:01] NielsRogge commented on #14731
Hey,

that's indeed a way more readable way of replacing padding tokens by -100.

The docs of T5 is located [here](https://github.com/huggingface/transformers/blob/master/docs/source/model_doc/t5.rst). Note that we are migrating all docs from .rst files to Markdown. But for now, you can add just update the code example.

[2021-12-13 09:10] shaked571 commented on #14277
Perfect, just found the bug myself and saw this fix.
Super cool! thanks!

[2021-12-13 09:35] LucienShui opened #14741 "TF and PT code confuse in the documentation"
Hi, @sgugger, at [quicktour.mdx#L337](https://github.com/huggingface/transformers/blame/5eca742f6c0e513d8c7d8085fd14b7a754ea96f7/docs/source/quicktour.mdx#L337) and [quicktour.mdx#L345](https://github.com/huggingface/transformers/blame/5eca742f6c0e513d8c7d8085fd14b7a754ea96f7/docs/source/quicktour.mdx#L345), TF code was written in PT block, so do PT.

[2021-12-13 09:43] julien-c commented on #14728
Note that we do not use Sphinx anymore for our doc, since moving to https://huggingface.co/docs/transformers

However (not at all familiar with Intersphinx so I'm shooting in the dark here) maybe there's a specification that we could implement to facilitate linking to specific classes or methods inside our documentation? Does anyone know more about this?

[2021-12-13 10:35] wade3han opened #14743 "Batch size affecting output when using GPT2Model"
## Environment info

- `transformers` version:
- Platform: 4.12.5
- Python version: Python 3.8.12
- PyTorch version (GPU?): 1.10.0 (GPU)
- Tensorflow version (GPU?): X
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my

[2021-12-13 11:23] patrickvonplaten commented on #14357
@Rocketknight1 , @NielsRogge @ydshieh - I think we can solve this issue with the new design now no?

[2021-12-13 11:23] #14265 closed

[2021-12-13 11:25] patrickvonplaten commented on #13959
@Rocketknight1 - lemme know if you think you'll find time. Otherwise I can take a look as well I think :-)

[2021-12-13 11:27] patrickvonplaten commented on #13651
cc @anton-l - this should be rather easy to solve with a chunking method provided by us soon

[2021-12-13 11:35] patrickvonplaten commented on #13116
@patil-suraj - pinging again here. Would be great to take some action here soon

[2021-12-13 11:41] ydshieh commented on #14357
I didn't follow this issue until now. I can try to look at this if @Rocketknight1 is OK.

[2021-12-13 11:45] stefan-falk commented on #14523
@patrickvonplaten @anton-l unfortunately I didn't get an answer to [my post](https://discuss.huggingface.co/t/need-help-training-speech2text-from-scratch/12306) in the 🤗 forum yet. I don't know if you would mind to take a look and maybe leave some advice on this topic. Thanks for any help.

[2021-12-13 11:50] #14672 closed

[2021-12-13 11:53] patrickvonplaten commented on #14540
Hey @programmeddeath1,

I'm very sorry but I don't have the time to schedule google meets for specific issues. We're trying to tackle hundreds of issues every day at HF and have to try to be as efficient as possible. Could you maybe take a look at this document: https://github.com/huggingface/transformers/blob/master/ISSUES.md explaining how to best ask for help? :-)

Thanks!

[2021-12-13 11:57] patrickvonplaten commented on #14184
Hey @jbdel,

Thanks a lot for the clarification! So in order for your code to work you would just need a way to costumize the `"filter_value"` ? So if we would add a `"top_k_filter_value"` argument to `generate()` your code would work? I think in this case we can find definitely some kind of general solution.

[2021-12-13 12:26] patrickvonplaten commented on #14521
Hey @niansong1996,

I think your understanding is very much correct here. If I understand your example

[code]

you are seeing (very) small differences in the output logits that shouldn't be there.
I'm quite sure that this is because masked tokens are not **perfectly** masked but just increase by a large negative number (-10.000) to not have any issues with float16. Now this is amplified in GPT2 f

[2021-12-13 12:36] patrickvonplaten commented on #12934
Hey guys,

I think this is a good example of how it looks like when the `"contrastive_loss"` function collapses and the training becomes useless. If you see an instant drop to `0.0013` this means that the training didn't work. I've seen this countless times in my tests and there is not a very easy fix IMO.

What seems to work best to counteract this is to do the following in this line:
https://git

[2021-12-13 12:37] patrickvonplaten commented on #12934
I'm hoping to find some time to again dive a bit deeper into wav2vec2 pretraining over the Chrismas holidays and then make a comprehensive guide on how to pretrain wav2vec2 at some point. I'm really not sure though whether I find the time

[2021-12-13 12:39] patrickvonplaten commented on #12867
@patil-suraj - ping again here :-)

[2021-12-13 12:40] patrickvonplaten commented on #14736
Good catch @josutk,

I think we should change this line to:

[code]

would you like to open a PR for this? :-)

[2021-12-13 12:46] patrickvonplaten commented on #14523
Hey @stefan-falk,

Sorry to only reply now & thanks for pinging me again.
In general training transformers-speech models from scratch is really difficult and I would strongly recommend to leverage pretrained checkpoints for an encoder-decoder setup.

Do you need to pretrain a model from scratch? What is your target task exactly?
I will finish a encoder-decoder example script this week which shows

[2021-12-13 13:20] josutk commented on #14736
@patrickvonplaten I have open PR.

[2021-12-13 13:39] stefan-falk commented on #14523
Hi @patrickvonplaten !

No worries :)

Well, the reason why I'd want to train a model from scratch is because I would like to do that on custom (and non-public) datasets in different languages as well. Wav2Vec is a nice-to-have at this point. Right now I'd just be happy to be able to train any sensible model on a new dataset. In the end the goal is to use this model on mobile devices.

[2021-12-13 14:45] Rocketknight1 commented on #14357
@ydshieh Sure, yes! I'm sorry I've been slow with it.

[2021-12-13 14:46] Rocketknight1 commented on #13959
I'll take a look!

[2021-12-13 15:07] #14284 closed

[2021-12-13 15:07] #14271 closed

[2021-12-13 15:07] #14270 closed

[2021-12-13 15:07] #14261 closed

[2021-12-13 15:07] #13950 closed

[2021-12-13 15:07] #13849 closed

[2021-12-13 15:10] LysandreJik commented on #14642
Feel free to open per-model PRs so that you may both contribute at the same time!

[2021-12-13 15:12] LysandreJik commented on #14730
If I'm not mistaken this is patched on `master` and will be reflected soon on the documentation cc @sgugger

[2021-12-13 15:31] #14741 closed

[2021-12-13 15:31] sgugger commented on #14741
Thanks again for fixing it!

[2021-12-13 15:58] Rocketknight1 commented on #13959
@patrickvonplaten Investigated for an hour or so - I was able to reproduce the error, but debugging the script ran into constant shape errors no matter what I tried. I think I'd need to dig into this in more detail and make sure the input data is really what the model is expecting, but I have a bunch of other priorities right now, so I probably won't get to it in the next few days at least!

[2021-12-13 16:08] marctorsoc commented on #14730
@LysandreJik At least in this line: https://github.com/huggingface/transformers/blame/master/docs/source/main_classes/trainer.rst#L506, it seems to be still outdated. Are you sure this is patched?

[2021-12-13 16:14] sgugger commented on #14730
I will push a patch later today.

[2021-12-13 17:34] #14736 closed

[2021-12-13 18:09] #14730 closed

[2021-12-13 19:00] SaulLu commented on #14305
First of all, thank you very much for the detailed issue that allows to understand very easily your problem. :hugs:

To put it in context, the offsets feature comes from the (Rust) [Tokenizers](https://github.com/huggingface/tokenizers/) library. And I must unfortunately admit that I would need to have a little more information about the behavior in this library to be able to provide you with a so

[2021-12-13 19:16] JLU-ICN commented on #11972
I am running transformer 4.14.0 and still have the exact same error randomly during training.

[2021-12-14 02:23] johnpaulbin commented on #9250
This works fabulously with DeBerta models as well, seems that the error isn't very descriptive.

[2021-12-14 02:36] ekoenitz opened #14758 "SacreBLEU uses incorrect tokenizer for Japanese"
[SacreBLEU](https://github.com/mjpost/sacreBLEU) needs to be told to use a different tokenizer in order to properly evaluate Japanese text, but as far as I can tell the HuggingFace framework has no means with which to do this.  I imagine other languages that need special tokenizers are affected as well, but I haven't tested them.

## Environment info
- `transformers` version: 4.13.0.dev0
- Platfor

[2021-12-14 06:21] saitros commented on #4144
Thx :D.  Answer was helpful

[2021-12-14 06:37] pratikchhapolika opened #14759 "KeyError: 337 when training a hugging face model using pytorch"
I am training a simple binary classification model using `Hugging face models` using `pytorch.`

Bert PyTorch HuggingFace.

Here is the code:

    import transformers
    from transformers import TFAutoModel, AutoTokenizer
    from tokenizers import Tokenizer, models, pre_tokenizers, decoders, processors
    from transformers import AutoTokenizer

    from transformers import AdamW
    from transf

[2021-12-14 08:13] tagucci commented on #14673
@patrickvonplaten
In my understanding, BART does not use prefix token unlike T5. So I had no idea to append prefix token.
I could generate same outputs both model.generate and pipeline:D
Thanks!

[2021-12-14 08:13] #14673 closed

[2021-12-14 08:56] Narsil commented on #14758
Hi @ekoenitz,

I am by no means an expert in this example.
However, looking at it, it seems you are adding an argument to help `sacrebleu` figuring out the japanese tokenizer `--tokenizer ja-meca` right ?

If that's the case, the bleu score is actually calculated by Sacrebleu too and you would need to send that option too., https://github.com/huggingface/transformers/blob/master/examples/pytorch/t