[2020-10-07 13:22] marrrcin commented on #4135
Ping @LysandreJik again

[2020-10-07 13:26] sshleifer commented on #5212
`prefix_tokens` in fairseq is not the same as `config.decoder_start_token_id` It is more like `config.force_bos_token_to_be_generated`. For the summarization variants,
I have checked very aggressively and they work much better when `decoder_start_token_id=2`.

[2020-10-07 13:27] #7628 closed

[2020-10-07 13:27] sshleifer commented on #7628
Moved there.

[2020-10-07 13:34] TzurV opened #7638 "error AttributeError: 'tuple' object has no attribute 'logits'"
## Environment info

AttributeError                            Traceback (most recent call last)
<ipython-input-4-594fed3b7299> in <module>()
      6 input = tokenizer.encode(sequence, return_tensors="pt")
      7 mask_token_index = torch.where(input == tokenizer.mask_token_id)[1]
----> 8 token_logits = model(input).logits
      9 mask_token_logits = token_logits[0, mask_token_index, :]
     10 to

[2020-10-07 13:46] sshleifer commented on #7354
Lets wait for @thomwolf 's fast tokenizer PR to start this.

[2020-10-07 14:19] Aakash12980 commented on #5747
I am trying to use pretrained Distilbert in EncoderDecoderModel but i am getting this error. How can i leverage pretrained distilbert in EncoderDecoderModel.

`ValueError: Unrecognized configuration class <class 'transformers.configuration_distilbert.DistilBertConfig'> for this kind of AutoModel: AutoModelForCausalLM.
Model type should be one of CamembertConfig, XLMRobertaConfig, RobertaConfig, Be

[2020-10-07 14:25] LysandreJik commented on #4135
For no particular reason, but it might not have been the best choice according to [this thread on performance](https://github.com/huggingface/transformers/issues/6771).

[2020-10-07 14:30] julien-c commented on #5624
That's neat! Do you mind if I tweet it?

[2020-10-07 14:43] FomalhautB commented on #5212
I was training an autoregressive model based on Bart. It works fine until the day the config changed. After training my model for a few iterations, it only generates `<s></s>` and never changed for the iterations after that. I fixed this by forcing `decoder_start_token_id` to be 0. I didn't write anything about the `decoder_start_token_id` before and I didn't change the way that Bart generates tex

[2020-10-07 15:14] marrrcin commented on #4135
OK, thanks.

[2020-10-07 15:14] #4135 closed

[2020-10-07 15:47] LysandreJik commented on #7635
My bad, I read too fast! The error is probably because you're trying to import `RobertaLMHeadModel`, but as it can be seen in your first post, the model is actually `RobertaForCausalLM`. Can you successfully load that model? We plan on having uniform naming for these models so that the `CausalLM` and `LMHeadModel` have the same naming soon.

[2020-10-07 15:55] lighteternal commented on #7635
Many thanks for the quick replies! :)

Yes, it can be loaded  that way. However,  after running the following script:

[code]

The following error appears:
[code]

If I remove the `return_dict` argument, another error comes up:
[code]

If there's a working snippet using the Roberta or XLM-Roberta for text generation, it would be much appreciated.

[2020-10-07 16:08] jplu commented on #7637
Hello!

This is a bug indeed, I will fix it ASAP!

About the issue with forcing `from_pt` to True, you should just give the name of your PT model that finishes with `.bin` and not the folder.

[2020-10-07 16:09] LysandreJik commented on #7635
Indeed, there's an issue with the docstrings here. I'm fixing it in #7642.

Have you taken a look at the summary of text generation [here](https://huggingface.co/transformers/task_summary.html#text-generation)?

Please note that RoBERTa has not been trained to do text generation, but to do mask in-filling, so using a pre-trained RoBERTa model to do generation would yield bad results.

[2020-10-07 16:28] lighteternal commented on #7635
Τhanks, I was actually interested in XLM-R (looking for low-resource language text generation) but I stumbled upon the RoBERTa example shown above first so I thought I could just swap the model and it would work. I can confirm that the following code works with xlm-roberta-large:

[code]
However the generated output is not really useful (repeating the word "weather"):

`Σήμερα ο καιρός ιρός καιρός

[2020-10-07 16:47] GenTxt commented on #7341
No, unfortuantely. Was hoping others more familiar with the problem would
offer solutions.

On Wed, Oct 7, 2020 at 8:46 AM Mihai Dobri <notifications@github.com> wrote:

[2020-10-07 16:57] patrickvonplaten commented on #7631
Hey @shamanez - I don't think there is a fine-tuning script for DPR at the moment, but we always welcome contributions as such! @lhoestq might have more information.

[2020-10-07 17:02] patrickvonplaten commented on #7633
Hey @qmeeus - thanks for your issue. This corresponds actually to a larger feature requests since we never return the attention masks at the moment. I will open a discussion about this internally and add it to the projects.

[2020-10-07 17:26] h56cho opened #7643 "quick question about `BertForMaskedLM`"
Hello,
I have a question about the example code that can be found in the documentation for `BertForMaskedLM` model. The example from the documentation is shown below:
[code]
In this example, from the input string "Hello, my dog is cute", I don't see any `mask_token` in it. Also, the example code simply passes the label as `label=input_ids`.

So in this particular example, how exactly does the `Ber

[2020-10-07 17:33] patrickvonplaten commented on #7638
Can you replace:

[code]
by

[code]

and see if the error persists?

[2020-10-07 17:34] patrickvonplaten commented on #7638
Can you give a link to the example, so that we can fix the code snippet?

[2020-10-07 17:38] ncoop57 commented on #7624
Resolved. Ended up being a misinterpretation of my part on error codes that HF's API produces.

[2020-10-07 17:38] #7624 closed

[2020-10-07 17:53] sgugger commented on #7643
This has been fixed already but is only visible in the master documentation: see [here](https://huggingface.co/transformers/master/model_doc/bert.html#bertformaskedlm). The documentation that is shown by default corresponds to the last release and the fix in the docstrings has been done since then :-)

[2020-10-07 18:03] pvcastro commented on #7637
Hi @jplu !
Regarding the `from_pt` parameter, so there is no way for me to use the model name which was uploaded to huggingface? I have to download it to my machine and refer to the .bin name?
There is a problem there, because `AutoConfig.from_pretrained` uses the same parameter and throws an error when we use the .bin path:
[code]

[2020-10-07 18:11] sshleifer commented on #5212
That's super interesting, thanks for reporting this!

Would you mind seeing if leaving `decoder_start_token_id=2`,  but adding `force_bos_token_to_be_generated=True` changes anything?

I'd also be interested in seeing what a batch of your data looks like during training/what finetuning code you are using if you are willing to share.

[2020-10-07 18:17] r-maheshh opened #7644 "NER pipeline documentation example failing"
Hello,

I am running the code through your documentation for named entity recognition and am trying to save this "ner" model locally:

https://huggingface.co/transformers/usage.html#named-entity-recognition

[code]

When going to load this model up and make predictions, I am getting the error: "IndexError: list index out of range" pointing the very last line below:

[code]

I would like to get the

[2020-10-07 18:28] TzurV commented on #7638
Hi Patrick,

The suggested change fixed the problem.

Thank you.
Tzur

On Wed, 7 Oct 2020 at 18:34, Patrick von Platen <notifications@github.com>
wrote:

--
Email: tzurvaich@gmail.com
Home: +44 (0) 1480 839198
Mobile: +44 (0) 7825 363873
Israel: +972 (0) 3 7201013
Address:
23 Old Pinewood Way,
Papworth Everard
Cambridge CB23 3GT
UK

[2020-10-07 19:39] sshleifer opened #7647 "Project: Gather summarization datasets and try to replicate pegasus results on them"
Dear @stas00 and whoever else is willing to help!

So far I have only checked pegasus' rouge scores on 2/12 datasets for which we have checkpoints.
For the other 10 datasets I either haven't tried or have tried briefly and gotten stuck.

The full scope of the project is that:
for each dataset:

1) There is an automated way to download the data, either from S3 or source. (To the extent possible, mu

[2020-10-07 20:00] steveguang opened #7648 "does tokenizer support emoji?"
Hi, I have the code below and it always encodes emoji as "unk". Can someone tell me what I should do? Thanks

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased', do_lower_case=True)
s =" 😃 hello how are you"
tokenizer.tokenize(s)
['[UNK]', 'hello', 'how', 'are', 'you']

[2020-10-07 20:23] julien-c commented on #7635
@lighteternal Have you checked whether this model is any good? https://huggingface.co/nikokons/gpt2-greek?text=%CE%A3%CE%AE%CE%BC%CE%B5%CF%81%CE%B1+%CE%BF+%CE%BA%CE%B1%CE%B9%CF%81%CF%8C%CF%82

[2020-10-07 20:25] julien-c commented on #7635
model author is @nikkon3

[2020-10-07 20:58] shamanez commented on #7631
I just have one more question about the DPR model used in RAG (specially the **Doc-Encoder network**).

Is the **doc-encoder**  pretrained with a 21-million Wikipedia dump as mentioned in the DPR paper?

[2020-10-07 21:32] #7638 closed

[2020-10-07 21:58] stas00 commented on #7647
yes, please

[2020-10-07 22:03] golsun commented on #7493
thank you @LysandreJik `AutoModelForSequenceClassification` works now.
The [inference webpage](https://huggingface.co/microsoft/DialogRPT-updown) still gives the `Unrecognized configuration class` error but I guess it will sync with the latest code soon.
I'm going to introduce model card in the original repo.
Thanks again for the help!

[2020-10-07 22:34] FTD007 opened #7649 "setup of Trainer class for distributed trainning"
# ❓ Questions & Help

## Details

I am running on the sample code and got confused on how to setup a distributed trainning, below are the code I used
from pathlib import Path

`from tokenizers import ByteLevelBPETokenizer

from tokenizers.implementations import ByteLevelBPETokenizer
from tokenizers.processors import BertProcessing

tokenizer = ByteLevelBPETokenizer(
    "./EsperBERTo/vocab.json",

[2020-10-08 01:21] sshleifer opened #7651 "Fix Failing Slow tests"
[code]

[2020-10-08 02:05] #7651 closed

[2020-10-08 04:22] parthplc commented on #6742
Hey, @patrickvonplaten is batch generation available for T5conditiongeneration?

[2020-10-08 05:57] yuvalkirstain opened #7654 "output probabilities of generated sequences in generate function"
# 🚀 Feature request

output probabilities of generated sequences in generate function (generation utils)

thank you so much! :)

[2020-10-08 06:39] lighteternal commented on #7635
Hi @julien-c, yes I have tried it in the past. It is notably better compared to the vanilla GPT-2 in most cases (the latter "has" Greek tokens in its vocabulary, but the relative corpus that was used must have been extremely small for any useful inference).  However even the `nikokons/gpt-2-greek` is sometimes generating sentences that, while syntactically OK, are not relevant to the input context

[2020-10-08 07:10] priyaradhakrishnan0 opened #7655 "Eval_loss in prediction is very high : transformers/examples/token-classification/run_ner.py"
## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.9.0-12-amd64-x86_64-with-debian-9.12
- Python version: 3.7.6
- PyTorch version (GPU?): 1.4.0
- Tensorflow version (GPU?): not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
 examples/token-classification: @stefan-it

## Information

 I am using NER "Emerging and Rar

[2020-10-08 07:21] niklaras commented on #7635
yes @lighteternal the dataset that is used for gpt2-greek is not large . It is trained on about 5 GB of text with the main source to be from Greek Wikipedia .

[2020-10-08 07:45] qmeeus commented on #7633
Hi @patrickvonplaten and thank you for your answer ! Let me know if I can help in any way with the developments

[2020-10-08 07:59] NielsRogge commented on #7540
Yes, looking at the [source code](https://github.com/huggingface/transformers/blob/aba4e22944f0c985bebdcde51d47a565dd4f551d/src/transformers/modeling_tf_bert.py#L1080) of `TFBertForSequenceClassification`, they define a dropout layer, followed by a linear layer that outputs a vector of size `config.num_labels`.

In the [forward pass](https://github.com/huggingface/transformers/blob/aba4e22944f0c98

[2020-10-08 08:28] UmarSpa commented on #385
Any update on training from scratch BERT-like models with huggingface?

[2020-10-08 08:49] lhoestq commented on #7631
The DPR encoders (context encoder and question encoder) in RAG are pretrained BERT that were fine-tuned for retrieval on the question/answers pairs of Natural Questions (and other datasets depending on the setup) using retrieved passages from the 21 million passages Wikipedia dump. In the library, the DPR encoders are the one trained on NQ.

[2020-10-08 08:55] pasDamola commented on #7623
Hi @LysandreJik is this issue still open? I'll like to pick it up

[2020-10-08 09:14] shamanez commented on #7631
Thanks a lot. So can I use these encoders to ginetune the rag on customized
document settings given the fact that question encoder also get fine-tuned.

On Thu, Oct 8, 2020, 21:49 Quentin Lhoest <notifications@github.com> wrote:

[2020-10-08 09:17] marcoabrate opened #7656 "T5 Beam search num_beans always equals 1"
## Environment info

- `transformers` version: 3.3.1
- Platform: Debian 10.6
- Python version: 3.8.5
- PyTorch version (GPU?): 1.6
- Tensorflow version (GPU?): N.A.
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

TextGeneration: @TevenLeScao
 T5: @patrickvonplaten

## To reproduce

Steps to reproduce the behavior:

1. load T5 model and tokenizer

[2020-10-08 09:23] lhoestq commented on #7631
Yes you can fine-tune it on your documents. During RAG fine-tuning both the generator and the question encoder are updated.

[2020-10-08 09:24] shamanez commented on #7631
Thanks :). So finally what is the best way to arrange customized set of
documents?

On Thu, Oct 8, 2020, 22:23 Quentin Lhoest <notifications@github.com> wrote:

[2020-10-08 09:27] lhoestq commented on #7631
You'll find all the info at https://github.com/huggingface/transformers/tree/master/examples/rag#finetuning :)

[2020-10-08 09:30] shamanez commented on #7631
Amazing. Thanks a lot

On Thu, Oct 8, 2020, 22:27 Quentin Lhoest <notifications@github.com> wrote:

[2020-10-08 09:33] shamanez commented on #7631
I kind of checked the finetuning script. It shows how to train for custom
datasets. What I don't  understand is how should I use my own set of
documents other that wikipedia's dumps.

On Thu, Oct 8, 2020, 22:27 Quentin Lhoest <notifications@github.com> wrote:

[2020-10-08 09:35] NatBala commented on #7462
@lhoestq Can you please let me know on how we can index the custom datasets? Appreciate your help on this

[2020-10-08 09:36] lhoestq commented on #7631
Oh I see. In that case you have to build the RAG knowledge source. We haven't released a code example to do so yet but we're discussing it in #7462

[2020-10-08 09:38] shamanez commented on #7631
Ok will follow it.

On Thu, Oct 8, 2020, 22:36 Quentin Lhoest <notifications@github.com> wrote:

[2020-10-08 10:01] NatBala commented on #7462
@lhoestq I have a bunch of documents to perform Q&A and currently, in the config it says,
dataset (str, optional, defaults to "wiki_dpr") – A dataset identifier of the indexed dataset on HuggingFace AWS bucket (list all available datasets and ids using datasets.list_datasets()). So how can we create an indexed file and input that to the pretrained model for evaluation.

[2020-10-08 10:26] mockingbirdz opened #7657 "SqueezBert link gives a 404 error"
The main Readme.md file (https://github.com/huggingface/transformers/blob/master/README.md), the SqueezeBert link (https://huggingface.co/transformers/model_doc/squeezebert.html) gives a "404 - Not Found" Error.

[2020-10-08 10:30] sgugger commented on #7657
Yes, unfortunately that link will only be live at the next release (for now squeezeBERT is only in master, so only in the master documentation).
@LysandreJik not sure if there is a way to properly fix this unless we add "Check all the links in the README to remove the master" in our release check list.

[2020-10-08 10:52] sgugger commented on #7649
We prefer to use the [forum](https://discuss.huggingface.co/) for questions like this. The class `HFArgumentParser` is there to help parse the arguments received by your script and pass them along to `Trainer`. Look at the [run_glue script](https://github.com/huggingface/transformers/blob/master/examples/text-classification/run_glue.py) for an example of use. You should then be able to use your sc

[2020-10-08 11:31] Ashwith-mmtxt commented on #1024
Have you found the solution?

[2020-10-08 12:27] patrickvonplaten commented on #7656
Hey @marcoabrate,

please make sure that you use the correct parameter name `num_beams` instead of `num_beans`.
When using `num_beams`, I cannot reproduce your error.

[2020-10-08 12:29] patrickvonplaten commented on #6742
Yes! Please take a look at this test, which does batch=4 generation for summarization using T5: https://github.com/huggingface/transformers/blob/55cb2ee62eb482787cff17585955f7193fe35dfa/tests/test_modeling_t5.py#L559

[2020-10-08 12:32] marcoabrate commented on #7656
of course it was that!

thank you

[2020-10-08 12:33] #7656 closed

[2020-10-08 12:36] #7635 closed

[2020-10-08 13:12] patrickvonplaten commented on #7654
Duplicate of https://github.com/huggingface/transformers/issues/3891

[2020-10-08 13:25] julien-c commented on #385
Yes this has been supported for close to a year now ;)

[2020-10-08 13:44] UmarSpa commented on #385
@julien-c Thanks. I really appreacite the prompt response.

Is there any tutorial/example specifically for BERT (/ALBERT) pretraining ?

[2020-10-08 14:22] lhoestq commented on #7462
Yes right... We'll have to edit the `RagRetriever` and the `HfIndex` to accept custom ones.
If you wanto to give it a try in the meantime, feel free to do so :)

[2020-10-08 14:32] y2s82 commented on #7622
May I take a crack at this? :)

[2020-10-08 14:34] Opdoop commented on #6979
Hi @seyonechithrananda , I'm facing the same problem, how did you solve this issue?

[2020-10-08 17:05] sshleifer commented on #7354
This is unblocked, thom merged!

[2020-10-08 17:06] #7543 closed

[2020-10-08 17:31] aclifton314 opened #7662 "loss.backward() being called twice in Trainer._training_step()"
**Setup**
pytorch: 1.5.1
huggingface transformers: 3.0.2
python: 3.7.6
OS: Pop!_OS 20.04 on VM

**Sample Code**
[code]

**Issue**
The above code will produce the following error for some training examples:
[code]

What I'm finding is that in `Trainer._training_step()`, some examples are causing `loss.backward()` to be called twice. So the error makes sense as the first call will compute the graph

[2020-10-08 18:07] sshleifer opened #7663 "2 slow TF T5 common tests failing on master"
These should probably be run on CI somewhere.
Didn't know whether to assign @patrickvonplaten or @jplu.

These fail in both tf 2.2 and tf 2.3.

#### Command
[code]
#### Traceback
[code]

[2020-10-08 18:09] sshleifer opened #7664 "TF Slow test CI"
I Don't think tf slow tests are run by circleci OR github actions.
Should they be @LysandreJik ?

[2020-10-08 18:21] mthielk commented on #7594
This may be related to an incompatible pytorch or cuda version

[2020-10-08 18:24] liwei-cpp opened #7665 "tokenizer_bert.py not call _clean_text?"
for transformers/src/transformers/tokenization_bert.py, there is a function called _clean_text.
But seems this function is not be called at all?

In google bert(https://github.com/google-research/bert/blob/master/tokenization.py) there exists a same function and that function has been called at the beginning of the tokenization.

[2020-10-08 18:28] klasocki opened #7666 "Clear up confusing translation pipeline task naming"
# 🚀 Feature request
Hello!
I am using the translation pipeline, and I noticed that even though I have to specify the language when I create the pipeline, the passed model overwrites that. So pipeline created as
`nlp = pipeline('translation_en_to_de', 'Helsinki-NLP/opus-mt-en-jap')`
would translate english to japanese, in contrary to the task name. Is this the intended way of translating other lang

[2020-10-08 19:22] ankane opened #7668 "Default Model Licenses"
Hi, thanks for the great library!

I've been trying to compile a list of licenses for the default models and wanted to share in case others were wondering about it. Here's what I have so far:

*Note: table has been updated based on this discussion.*

Task | Model | License | Model Card w/ License
--- | --- | --- | ---
feature-extraction | distilbert-base-cased | Apache-2.0 | ✓ (added)
sentiment-an

[2020-10-08 21:44] cceyda commented on #5624
@julien-c of course I would like it very much.  I have also written a [blog post](https://cceyda.github.io/blog/huggingface/torchserve/streamlit/ner/2020/10/09/huggingface_streamlit_serve.html) about it,  my first blog post! 🥳  My [twitter](https://twitter.com/ceyda_cinarel) is so unused it is embarrassing 😆 until now I used it just for following the news, but in the future I will be using it for

[2020-10-09 05:34] patil-suraj commented on #7647
I could work on getting the datsets, replicating will be hard (compute!!!). I have shared wikihow and arxiv on forum

[2020-10-09 05:38] stas00 commented on #7647
I will start working on this over the next few days, so let's not duplicate the efforts and claim here which ones we are working on.

[2020-10-09 05:42] patil-suraj commented on #7647
@stas00

following remaining datsets are available in the `datsets` lib
[code]

could write a script to get download and process these

[2020-10-09 05:51] stas00 commented on #7647
Do you mean to say that these 4 are already in hf's `datasets`, correct?

And so we only need to download and convert these, right?

So the others that you haven't listed and Sam hasn't already processed still need to be sorted out from scratch, correct?

My plan was to start with `wikihow` as you shared some instructions at https://discuss.huggingface.co/t/wikihow-dataset-preprocessing/1413

[2020-10-09 05:54] patil-suraj commented on #7647
Yes, these 4 are already in hf's `datasets`, we just convert and do some pre-processing before,

I have shared arxiv as well but that needs to be pre-processed.

for `newsroom` we need to request if from the author, so I'm not sure if we are allowed to share it directly.

[2020-10-09 05:55] stas00 commented on #7647
If it's very heavy compute+disc-space-wise we could write scripts for small samples and then ask Sam or somebody at HF to run on the full data - since they probably have access to better hardware than us.

[2020-10-09 05:57] patil-suraj commented on #7647
`arxiv` is huge (3.9 GB something), rest we can handle on colab I guess

[2020-10-09 05:58] stas00 commented on #7647
OK, I will start with `wikihow` and in parallel will inquire w/ the author of `newsroom` wrt permission, since the latter could take time.

And then do `arxiv` afterwards.

So do you want to work on the 4 you listed, meanwhile? Either way works for me so please don't hesitate to choose what works the best for you.

[2020-10-09 05:59] patil-suraj commented on #7647
Yes, I'll take those 4 :)

[2020-10-09 06:01] patil-suraj commented on #7647
`newsroom` can also be consumed through `datsets` but needs manual download

[2020-10-09 06:04] stas00 commented on #7647
yes, I was just looking at https://huggingface.co/datasets/newsroom but the information is wrong:
[code]
[code]

No such thing as http://lil.datasets.cornell.edu/newsroom/ - getting 404.

This is not the first bogus dataset in `datasets`.

[2020-10-09 06:05] patil-suraj commented on #7647
We need to request it from here http://lil.nlp.cornell.edu/newsroom/download/index.html

[2020-10-09 06:05] stas00 commented on #7647
Geesh, this one
https://github.com/lil-lab/newsroom
also links to 404
https://summari.es/download/

[2020-10-09 06:08] stas00 commented on #7647
Hmm, it looks that perhaps somebody at HF should file this form then, correct?
http://lil.nlp.cornell.edu/newsroom/download/index.html -> https://cornell.qualtrics.com/jfe/form/SV_6YA3HQ2p75XH4IR
We can't use our names to ask for a permission for the dataset to be used by an open source project.
@sshleifer?

[2020-10-09 06:09] patil-suraj commented on #7647
scraping newsroom is hard! Better to request it.

I had requested it, I got the link after a month and by the time I saw the mail it was already expired 😂

So, it would be better if someone from HF requests it, they will probably receive it faster

[2020-10-09 06:12] stas00 commented on #7647
We definitely shouldn't scrape it, since we won't be able to use it anyway w/o their permission. So yes, @sshleifer, please help us out here.

[2020-10-09 06:18] patil-suraj commented on #7647
Helper scripts for pubmed

https://github.com/armancohan/long-summarization
https://github.com/kedz/summarization-datasets

[2020-10-09 06:55] dineshggaonkar opened #7673 "squad data preprocessor error (list index out of range) while finetuning bert on squad 1.1"
run_squad.py throws this error on squad v1.1 dataset

Traceback (most recent call last):
  File "run_squad.py", line 820, in <module>
    main()
  File "run_squad.py", line 762, in main
    train_dataset = load_and_cache_examples(args, tokenizer, evaluate=False, output_examples=False)
  File "run_squad.py", line 446, in load_and_cache_examples
    examples = processor.get_train_examples(args.data_

[2020-10-09 07:48] julien-c commented on #5624
[Tweet is up](https://twitter.com/julien_c), I'll close this issue now, thanks again for sharing

[2020-10-09 07:48] #5624 closed

[2020-10-09 08:14] patrickvonplaten commented on #7663
Yeah, that's a know failure and I didn't manage to make it work yet with the `cast_bool_to_primite(...)` function

[2020-10-09 08:18] jplu commented on #7663
This should be fixed in the next big TF rework.

[2020-10-09 08:22] jplu commented on #7637
Ok, I will take this as a separate issue. A PR for the cardinality issue will arrive by today.

[2020-10-09 08:28] ranjeetkgupta commented on #6454
HI @patil-suraj .. is there a code snippet that I could refer to. LineByLineTextDataset doesnt crash for me but takes forever.

[2020-10-09 09:06] julien-c commented on #7668
`facebook/bart-large-mnli` is `mit` like other pretrained models initially released in [fairseq](https://github.com/pytorch/fairseq#license)

For `dbmdz` I'll let @stefan-it chime in, with the caveat that lineage/inheritance of licenses in fine-tuned ML models is (AFAIK) uncharted territory so if you have more info on that subject, please feel free to share it.

Finally, for models where the licen

[2020-10-09 09:11] LysandreJik commented on #7493
We just updated the API inference so that it uses the latest code. I've taken the liberty to add a padding token to your models, in your configuration (`pad_token_id: 50256`) and in the `special_tokens_map.json`: `pad_token: "<|endoftext|>"`, as it is necessary for the models to have a padding token to run in the API inference.

I've taken these values from your code [here](https://github.com/gols

[2020-10-09 09:31] datistiquo opened #7674 "Correctly tokenize sentence pairs"
Hey,

I saw different ways to tokenize sentence pairs and the intuitive one is not shown here:

https://huggingface.co/transformers/preprocessing.html#preprocessing-pairs-of-sentences

So, I am asking here if I do right.

I encode pairs of sentence using list of lists. Instead handing over two seperate lists for each sentences, I handover a list of list, where each element is a list with  a single

[2020-10-09 09:39] LysandreJik commented on #7664
You're correct, it is not currently running as there were some issues setting up both the PT/TF test suites. Will look into it this afternoon.

[2020-10-09 09:48] LysandreJik commented on #7657
You're right, I don't think there's any other way without over-engineering a feature.

[2020-10-09 09:55] Laksh1997 commented on #6882
Any update on this @LysandreJik @patrickvonplaten ?

[2020-10-09 10:56] LysandreJik commented on #6882
As the `torch.load` method in `strict` mode does not allow unexpected/missing keys, this is an issue that won't be resolved. Three options are available here:
- Use the recommended `from_pretrained` method, which exists specifically to work around this kind of issues
- Use the `torch.load` method with the `strict` flag set to `False`
- Pin to version v3.0.2 if none of these can be applied.

Minor

[2020-10-09 10:59] Laksh1997 commented on #6882
@LysandreJik That is unfortunate that the library will probably have to be pinned, as the first two options are unviable for reasons described in this thread. Especially because pretraining large models is computationally quite expensive (100s of GPU hours)...

[2020-10-09 11:00] LysandreJik commented on #7662
I'm not sure how we can expect this to work with the encoding and the usage of the `generate` method directly in the forward method.

@patrickvonplaten can chime in if I'm wrong, but I believe the `generate` method can not be back-propagated through as it is right now.

[2020-10-09 11:02] LysandreJik commented on #6882
You can also use the work-around explained [here](https://github.com/huggingface/transformers/issues/6882#issuecomment-685509938) if you want to convert your weights to the new format.

[2020-10-09 11:10] gyuwankim commented on #7032
Hi. Are there any updates on this?

[2020-10-09 11:12] LysandreJik commented on #7648
Hi! The tokenizer you're using (`bert-base-uncased`) was not trained with emojis, therefore it cannot tokenize them correctly. You should add this token to the tokenizer vocabulary:
[code]

Please be aware that the model you're using should have its embedding matrix updated to include the embedding for the new token added. You can see the [documentation here](https://huggingface.co/transformers/in

[2020-10-09 11:12] #7648 closed

[2020-10-09 11:32] LysandreJik commented on #7623
I believe @fmcurti is working on the OpenAI GPT implementation, but both CTRL and TransfoXL are still open! Would love a PR!

[2020-10-09 11:35] LysandreJik commented on #7589
This seems like more of a TPU issue than a `huggingface/transformers` issue. Do you mind copying the full output of your command? Maybe in a `pastebin` or a github gist if it doesn't fit here.

[2020-10-09 11:37] LysandreJik commented on #7622
Yes, you may! Thanks @y2s82!

[2020-10-09 11:40] LysandreJik commented on #7644
How many labels does your model have? You can see with `print(model.config.num_labels)`. If it's larger than the length of your `label_list`, that could result in an index out of range error.

[2020-10-09 11:51] marrrcin opened #7675 "Add FAVOR+ / Performer attention"
# 🌟 FAVOR+ / Performer attention addition

Are there any plans to add this new attention approximation block to Transformers library?

## Model description
The new attention mechanism with linear time and space complexity was introduced in
 _Rethinking Attention with Performers_ [[https://arxiv.org/abs/2009.14794](https://arxiv.org/abs/2009.14794)].
Authors of the paper claim that the new attentio

[2020-10-09 12:07] #7665 closed

[2020-10-09 12:17] agemagician opened #7676 "TFTrainer doesn't work"
## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
 albert, bert, GPT2, XLM: @LysandreJik
 Trainer: @sgugger
 tensorflow: @jpl

[2020-10-09 12:33] pasDamola commented on #7623
Hi Lysandre, thanks for assigning this issue to me. I've been trying to
setup transformers on my local machine (Windows 10). I've been having
several issues with the setup.
Is there any guide I could follow?

Thanks much

On Fri, 9 Oct 2020 at 12:38, Lysandre Debut <notifications@github.com>
wrote:

[2020-10-09 12:38] alexcombessie commented on #7668
Hi @julien-c @ankane,

I am also very interested in clarifying the licenses of default models. In particular, I'd like to know the license of `dbmdz/bert-large-cased-finetuned-conll03-english`.

Cheers,

Alex Combessie

[2020-10-09 13:02] jplu commented on #7676
Hello!

It looks to be an XLA error due to a precision issue. Did you train your model with mixed precision?

[2020-10-09 13:16] PhilipMay opened #7677 "Batch and smart batch support for pipelines."
# 🚀 Feature request

## Motivation
I want to use `TextClassificationPipeline` to classify a large number of texts.
The naive approach is:

[code]

But this gives me CUDA OOM error when `unlabeled_text_list` is long.

What about adding batch support that lets you specify the batch size and maybe also support for multiprocessing tokenization?

When possible smart batching would be nice. See this: ht

[2020-10-09 13:43] rudvlf0413 commented on #5680
@null-id I also want to know how to customize query-key attention mask. Did you solve the problem?

[2020-10-09 13:43] alvesman commented on #856
You can find all the models here [https://stackoverflow.com/a/64280935/251674](https://stackoverflow.com/a/64280935/251674)

[2020-10-09 13:59] LysandreJik commented on #7623
Sure, have you taken a look at the [`CONTRIBUTING.md` document](https://github.com/huggingface/transformers/blob/master/CONTRIBUTING.md)? What issues have you been having?

[2020-10-09 14:00] agemagician commented on #7676
No, It was trained with the official Bert script on TPU without mixed precision.

[2020-10-09 14:07] jplu commented on #7676
By official Bert script you mean this one ? https://github.com/tensorflow/models/blob/master/official/nlp/bert/run_pretraining.py

To be sure it is coming from the trainer can you try with the `bert-base-cased` without the `from_pt=True` and let us know if the training finally starts.

[2020-10-09 14:23] pasDamola commented on #7623
Yes I have.
When I run `pip install -e ".[dev]"`, I always encounter this error

![Screenshot (406)](https://user-images.githubusercontent.com/26023424/95594786-529c6580-0a43-11eb-821b-ec0aacfff4e7.png)

`

[2020-10-09 14:33] LysandreJik commented on #7623
I believe the repo cannot be installed from conda as of now, can you use a pip virtual environment?

[2020-10-09 14:38] #7637 closed

[2020-10-09 14:42] pasDamola commented on #7623
Alright, I'll try that now

[2020-10-09 14:53] discoveredcheck opened #7679 "TFEncoderDecoder"
# 🚀 Feature request

Tensorflow version for the `EncoderDecoder` class for sequence to sequence text generation.

## Motivation
I am replicating [this](https://arxiv.org/pdf/1907.12461.pdf) paper which studies several combinations of encoder and decoder with pretrained checkpoints. Most of it is implemented very nicely in the current API, but is not available for tensorflow. The closest thing I fo

[2020-10-09 14:54] pasDamola commented on #7623
Still having the same error I had while in conda. I'm trying to install tensorflow locally and retry this again

[2020-10-09 15:10] #7354 closed

[2020-10-09 15:17] #7657 closed

[2020-10-09 15:20] LysandreJik commented on #7664
The slow tests in TF take an absurdly long time. I had to stop them from running after ~3.5 hours as it was holding the whole test suite back. Will investigate more on a separate machine and try to skin it down.

[2020-10-09 15:34] pasDamola commented on #7623
Hi @LysandreJik , I'm still having the same errors running on a pip virtual environment

[2020-10-09 15:36] shainaraza opened #7682 "Fine-tuning"
I read lot of articles on pre-training vs fine-tuning but I am still not able to get the meaning in the context of transformer models, I understand the pre-training is training the dataset from scratch , while (point of confusion) the fine-tuning is using the pre-trained model/data and add on the top of that with our own custom dataset?
Then it comes the downstream tasks, any fine line of distinct

[2020-10-09 15:57] LysandreJik commented on #7623
Do you manage to install `TensorFlow` in your pip environment?

[2020-10-09 16:20] aclifton314 commented on #7662
@LysandreJik I came across one issue (#6105) with `generate` being used in `forward`. My temporary workaround was to introduce `is_finetuning_current_model` into `generate` that will call `generate_text_while_finetuning` instead of `forward` again to avoid the recursion.

I'm still learning pytorch so I might be wrong on this, and correct me if I am. I checked the `grad_fn` for `input_ids`, `full_

[2020-10-09 16:24] pasDamola commented on #7623
Hi @LysandreJik not yet. I get a similar error. I'm trying to look for solutions on the internet

![Screenshot (407)](https://user-images.githubusercontent.com/26023424/95607857-3b19a880-0a54-11eb-9842-38b46764a449.png)

[2020-10-09 16:34] seduerr91 commented on #6113
I'll be up for this project too. I got a slightly different use case idea, tho. :)

[2020-10-09 16:37] aldazero opened #7684 "Error with running run_language_modeling.py on GCP TPU"
## Environment info

- `transformers` version: 3.3.1
- Platform: GCP
- Python version: 3.6.10
- PyTorch version (GPU?): 1.6.0
- Tensorflow version (GPU?): -
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: Yes/NO

### Who can help

@sgugger @LysandreJik
## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ run_language_modeling.py ] th

[2020-10-09 17:01] agemagician commented on #7676
By the official Bert I mean script, I mean:
https://github.com/google-research/bert

With the `bert-base-cased` model without the `from_pt=True`, I get another error:
[code]

It works fine with Pytorch but not with tensorflow for some reason.

[2020-10-09 17:29] jplu commented on #7676
Ok, then the error is normal. The TF part of transformers don't take into account a model that comes straight from the official BERT script. You have to:

1. Convert your checkpoint with this [script](https://github.com/huggingface/transformers/blob/master/src/transformers/convert_bert_original_tf_checkpoint_to_pytorch.py) if you are using the TF1 checkpoint or this [one](https://github.com/huggin

[2020-10-09 18:50] dashayushman opened #7685 "Using PaddingStrategy and TruncationStrategy throws an UnboundLocalError in tokenizers"
## Environment info

- `transformers` version: 3.3.1
- Platform: Darwin-19.6.0-x86_64-i386-64bit
- Python version: 3.7.7
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help
@mfuntowicz I am almost sure I am using it right. But after looking at the cod

[2020-10-09 19:23] ssameerr commented on #876
This Discussion is GOLD!!!
@nreimers - I salute your patience and knowledge-graphs embedded in your brains :). You answered almost every question with details. I accidentally bumped on this trying to read through issues.

 I usually use Jina, Nboost and Sentence-Transformer depending on the problem statement along with transformers. I learnt a lot from this discussion.  Thanks again to everyone wh

[2020-10-09 21:41] golsun commented on #7493
Great! Thank you for updating the config and special_tokens_map for us! :)
The inference webpage will output a score of 1 no matter what input is. I guess it's because it outputs `softmax(logits)`, which is always 1 if `num_labels==1`. Maybe the following if-else will fix it? Thanks!
[code]

[2020-10-09 22:17] agemagician commented on #7676
Thanks a lot @jplu , that did solve my issue.

The problem was in the second step which is converting the Pytorch to tf2 checkpoint.

By the way, there is a bug in the conversion script:

[code]

I had to call directly the "convert_pt_checkpoint_to_tf" function inside the file,  because "MODEL_CLASSES[model_type]" has only 4 objects while in "convert_all_pt_checkpoints_to_tf" it tries to extract 5

[2020-10-09 22:36] cheery commented on #1791
I was going to try this out, but after reading this out few times now, I still have no idea how I'm supposed to truncate the token stream for the pipeline.

I got some results by combining @cswangjiawei 's advice of running the tokenizer, but it returns a truncated sequence that is slightly longer than the limit I set.

Otherwise the results are good, although they come out slow and I may have to

[2020-10-09 23:02] zhangdongxu opened #7686 "When downloading RAG dpr indexes, there is a pickle file loading error"
When I try to finetune RAG with following code:

[code]
An error occurs, which seems that a downloaded pickle file cannot be loaded. I put the error message below.
I assigned 200GB memory so it should not be an memory issue. I'm not sure if this is a trivial error due to my own implementation bugs or it is more common. Thank you very much!!

--------------
  File "anaconda3/envs/transformers/lib/p

[2020-10-09 23:23] dzorlu opened #7690 "RAG Tokenizer erroring out"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-5.4.0-48-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

@ola13 @mfuntowicz

## Information

Hi- I am trying to get the RAG running,

[2020-10-09 23:29] ankane commented on #7668
Hey @julien-c, thanks for the quick response and `facebook/bart-large-mnli` info. PR submitted.

Re fine-tuning licensing: I don't have any special knowledge here (so will defer further discussion to someone that does), but seems like it may fit the definition of "Derivative Works" in the Apache 2.0 license.

[2020-10-10 02:03] stas00 commented on #7647
here is the results of eval on your wikihow, @patil-suraj

This on dual Titan X:

* sample of 100, run time: 0:03:05
`{'rouge1': 23.7695, 'rouge2': 5.3349, 'rougeL': 15.6991, 'rougeLsum': 16.7567, 'n_obs': 100, 'seconds_per_sample': 2.433, 'n_gpus': 2}`
* full, run time: 8:19:35
`{'rouge1': 24.6291, 'rouge2': 5.7999, 'rougeL': 15.6812, 'rougeLsum': 16.6907, 'n_obs': 11996, 'seconds_per_sample': 2.

[2020-10-10 02:35] ncoop57 opened #7691 "Seq2Seq Example with Bart not Saving Best Model"
## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101
- Tensorflow version (GPU?): N/A
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@sshleifer

## Information

Model I am using (Bert, XLNet ...): Bart

The problem arises when using:
* [x] the official example script

[2020-10-10 03:57] stas00 commented on #6223
This has been implemented at https://github.com/huggingface/transformers/pull/7075

[2020-10-10 03:57] #6223 closed

[2020-10-10 03:59] stas00 commented on #6306
this has been resolved.

[2020-10-10 03:59] #6306 closed

[2020-10-10 04:37] patil-suraj commented on #7647
That's scary low. Do you think there is an issue with dataset ?

[2020-10-10 07:39] lkluo opened #7692 "Fail to run text classification example with run_tf_text_classification"
## Environment info

- `transformers` version:
- Platform: Ubuntu 18.04
- Python version: 3.6.9
- PyTorch version (GPU?):
- Tensorflow version (GPU?): 2.3.1
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Distributed

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the official example scripts: (give details

[2020-10-10 08:13] #6208 closed

[2020-10-10 08:13] #6203 closed

[2020-10-10 08:13] #4151 closed

[2020-10-10 08:13] #6215 closed

[2020-10-10 08:13] #3614 closed

[2020-10-10 08:13] #4748 closed

[2020-10-10 08:13] #6188 closed

[2020-10-10 08:13] #4677 closed

[2020-10-10 08:14] #4393 closed

[2020-10-10 08:14] #5590 closed

[2020-10-10 08:14] #3535 closed

[2020-10-10 08:14] #5969 closed

[2020-10-10 08:14] #6152 closed

[2020-10-10 08:14] #6172 closed

[2020-10-10 08:14] #4299 closed

[2020-10-10 08:14] #6181 closed

[2020-10-10 08:14] #6178 closed

[2020-10-10 08:14] #4729 closed

[2020-10-10 08:14] #6118 closed

[2020-10-10 08:14] #6047 closed

[2020-10-10 08:14] #6148 closed

[2020-10-10 08:14] #6146 closed

[2020-10-10 08:14] #5815 closed

[2020-10-10 08:14] #5968 closed

[2020-10-10 09:24] patil-suraj commented on #7647
@stas00 , @sshleifer
Wrote a helper script to download and save summ datasets
https://github.com/patil-suraj/summarization_datasets

Currently includes `aeslc, billsum and reddit_tifu`, rest should be easy to add.

Processing scripts are taken form the official datset repos, split information is copied from the `pegasus` repo.

Enjoy!

[2020-10-10 09:51] AI678 opened #7693 "How to get the word embedding after pre-training ? for example, a embedding matrix"
I am excited on this great model. And I want to get the word embedding . Where shold I find the file from output or should I change to code to do this?

[2020-10-10 12:13] #6147 closed

[2020-10-10 12:13] #6164 closed

[2020-10-10 12:29] fteufel opened #7695 "save_pretrained() does not check if xla is available"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux
- Python version: 3.6
- PyTorch version (GPU?): 1.4
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

## Information

Model I am using (Bert, XLNet ...): Bert

The problem arises when using:
* [ X] my own modified scripts: (give details below)

The tasks I am working

[2020-10-10 13:56] anshudaur commented on #594
+1

[2020-10-10 15:19] 55Ankur55 commented on #6620
can you describe in detail how did you solved the problem

[2020-10-10 16:26] morganmcg1 opened #7697 "tokenizers dependency warning: `transformers 3.3.1 has requirement tokenizers==0.8.1.rc2, but you'll have tokenizers 0.9.0`"
## Environment info
- `transformers` version: 3.3.1
- Platform: Darwin-19.6.0-x86_64-i386-64bit
- Python version: 3.7.5
- PyTorch version (GPU?): 1.4.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

 tokenizers: @mfuntowicz

## Information

Hey all, it'll probably be fixed soon but when upd

[2020-10-10 16:48] sshleifer commented on #7647
@stas00 Try using `google/pegasus-wikihow` as the model can do `--n_obs 100` now that we are calibrated. I should have specified that in the spec. We want to test the fine-tuned model.

Would also be interested in knowing whether `--max_source_length 512` changes anything.
(You can see the expected params that should be checked into each config [here](https://github.com/huggingface/transformers/bl

[2020-10-10 17:02] stas00 commented on #7647
[code]

[code]

[code]

[code]

[2020-10-10 17:04] stas00 commented on #7647
I didn't get a chance to study it yet - just had the time to run the eval.

[2020-10-10 17:12] stas00 commented on #7647
need a little script to convert the json dumps into a nice md table so that it's easier to read the results, like `run_eval_search.py` does.

[2020-10-10 19:06] aced125 commented on #7462
Any progress on this @lhoestq @patrickvonplaten ? Awesome work guys :)

[2020-10-10 19:22] noise-field opened #7698 "MLflow Trainer Callback"
# 🚀 Feature request

A callback to log hyperparameters, metrics and cofings/weights to MLFlow, like the existing wandb and Tensorboard callbacks.

## Motivation

I use MLFlow as my primary experiment tracking tool. It is convenient to run on a remote server and log the results from any of your training machines, andit also facilitates collaboration.

Trainer is an amazing tool, it makes it very si

[2020-10-10 20:05] aced125 commented on #7462
@tholor @Timoeller Do you reckon you guys could integrate this work into haystack?

[2020-10-10 21:55] chambliss commented on #7480
Hi! I'm having an issue uploading a model as well. I've tried several different iterations of the CLI command to get it to work. I'm following the instructions from the [model sharing docs](https://huggingface.co/transformers/model_sharing.html).

Here's the info about my setup:

- transformers version: 3.3.1
- Platform: Ubuntu (it's a Google Cloud Platform VM)
- Python version: 3.8.5
- PyTorch ve

[2020-10-10 22:04] h56cho opened #7700 "GPT2DoubleHeadsModel documentation example question (error in documentation)?"
Hello,
I was reading the documentation for the GPT2DoubleHeadsModel, and I have a question.
In the documentation, the example shown is:
[code]
Now, I don't see any main question statement in this example, although I see two multiple-choice options. The way I used to use `GPT2DoubleHeadsModel` is I first did `tokenizer(question_statement, option_statement)` and do `encoded_dict['input_ids']` to ext

[2020-10-10 22:21] dzorlu commented on #7690
Just to follow up on this, look like special tokens are loaded  for RAG generator [here](https://github.com/huggingface/transformers/blob/master/src/transformers/tokenization_utils_base.py#L1635), but it is not converted to `AddedTokens` [here](https://github.com/huggingface/transformers/blob/master/src/transformers/tokenization_utils_base.py#L1592) and hence not compatible with downstream operati

[2020-10-11 01:59] h56cho opened #7701 "Strange error while using the `LongformerForMultipleChoice`"
Hello,

I am trying to use `LongformerForMultipleChoice` model, and the code I am using is the following:
[code]

and I am getting the error below:
[code]
How can I fix this error?

I also tried solving this issue with:
[code]
But this generates a different error, saying:
[code]
PS: I don't think my Longformer model is correctly getting that my multiple-choice questions have 4 options...is there a

[2020-10-11 02:39] cccntu opened #7702 "Trainer callback breaks old code"
https://github.com/huggingface/transformers/blob/ba4bbd92bcb55febbfa06aaa1551738388ec7eb0/src/transformers/trainer_callback.py#L438-L447

Currently it depends on the fact that evaluate() will first call `self.prediction_loop` https://github.com/huggingface/transformers/blob/ba4bbd92bcb55febbfa06aaa1551738388ec7eb0/src/transformers/trainer.py#L1181

which will then call `.callback_handler.on_predic

[2020-10-11 02:42] cccntu commented on #7702
Or add this check in `on_evaluate`
[code]

[2020-10-11 05:44] usuyama commented on #6636
@go-inoue For large datasets, recommended to use mmap. I like Apache Arrow, which is also used in huggingface datasets library. Megatron LM also uses mmap, but with different implementations.

[2020-10-11 05:58] usuyama commented on #7232
Thanks for creating this issue @eugeneware
I just hit this issue too, but in a distributed setting.

As a quick fix, I thought about calling `distributed_concat` after every batch and keep `preds`/`label_ids` in cpu. My env has much larger CPU RAM compared to GPU RAM.

@sgugger Could you point to the corresponding part in datasets? Curious about this approach too.

[2020-10-11 06:05] forresti commented on #7241
Maybe try again now? SqueezeBERT support was recently merged into the master branch.

[2020-10-11 07:07] tholor commented on #7462
@aced125 Yep, we will integrate RAG in Haystack soon (https://github.com/deepset-ai/haystack/issues/443).

[2020-10-11 07:51] nelson-liu opened #7704 "SQuAD example docs inaccurately suggest settings for bert-large-uncased on a single V100"
Hi!

In the SQuAD example docs, it's noted that ( https://github.com/huggingface/transformers/blob/3f42eb979f7bd20448ff6b15ab316d63f5489a6f/docs/source/examples.md#fine-tuning-bert-on-squad10 ) `This example code fine-tunes BERT on the SQuAD1.0 dataset. It runs in 24 min (with BERT-base) or 68 min (with BERT-large) on a single tesla V100 16GB.`

Could just be me, but I don't think the example as p

[2020-10-11 09:17] jasonyliang opened #7705 "Recording training loss and perplexity during training"
I'm fine-tuning GPT-2 text generation with the following command on Colab:
python run_language_modeling.py \
    --output_dir=$OUTPUT_DIR \
    --model_type=gpt2 \
    --model_name_or_path=$MODEL_NAME \
    --do_train \
    --train_data_file=$TRAIN_FILE \
    --do_eval \
    --eval_data_file=$TEST_FILE \
    --per_gpu_train_batch_size=1 \
    --save_steps=-1 \
    --num_train_epochs=5

I was wonde

[2020-10-11 11:26] #5604 closed

[2020-10-11 11:26] #6136 closed

[2020-10-11 11:26] #6048 closed

[2020-10-11 11:26] #6233 closed

[2020-10-11 11:26] #5077 closed

[2020-10-11 11:26] #6243 closed

[2020-10-11 11:26] #6209 closed

[2020-10-11 11:26] #5846 closed

[2020-10-11 11:26] #5722 closed

[2020-10-11 11:26] #6202 closed

[2020-10-11 12:01] zixiliuUSC opened #7706 "run_tf_text_classification.py for custom dataset"
## Environment info

- `transformers` version: master
- Platform: ubuntu 18.04
- Python version: 3.6
- PyTorch version (GPU?): 2080ti
- Tensorflow version (GPU?): 2080ti
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: No

### Who can help
@stefan-it

## Information

Model I am using (Bert, XLNet ...): Longformer

The problem arises when using: run_tf_text_classificat

[2020-10-11 12:03] EricAlcaide opened #7707 "[NEW MODEL] Multilingual document embeddings: cT-LASER"
# 🌟 New model addition

## Model description

Multilingual document embeddings by adapting the LASER architecture (which is based on BiLSTM) to transformer architectures.

## Open source status

* [x] the model implementation is available: open source implementation is here: https://github.com/ever4244/tfm_laser_0520
* [ ] the model weights are available: i haven't found them
* [x] who are the aut

[2020-10-11 12:18] julien-c commented on #7698
Happy to get a PR on this!

[2020-10-11 13:55] duttaprat opened #7708 "Fine Tuning SciBERT NLI model"
# ❓ Questions & Help

## Details

**A link to original question on the forum/Stack Overflow**:

Hi,
I am a novice in the domain of fine-tuning any Transformer models using my own dataset. I want to fine-tune the SciBERT NLI model(https://huggingface.co/gsarti/scibert-nli) using my dataset. The dataset formation is
S1 [SEP] S2 [SEP] Inference

I am not sure how to fine-tune my dataset on the SciBER

[2020-10-11 15:32] sshleifer commented on #6420
I tried this a bit and did not get any improvements. Meanwhile, our beam search is getting similar scores to pegasus in #6844 , so I am less motivated to push further.
Branch with maybe correct beam search implem: https://github.com/sshleifer/transformers_fork/tree/peg-beam

[2020-10-11 15:32] #6420 closed

[2020-10-11 15:32] #6424 closed

[2020-10-11 16:19] zhangdongxu commented on #7686
It was probably because I repeatly downloaded the indexes and the previous incomplete files still exist. Issue closed

[2020-10-11 16:21] #7686 closed

[2020-10-11 18:11] sshleifer commented on #7647
`newsroom`: filled out the form
`wikihow`: asked the authors https://github.com/google-research/pegasus/issues/111  if @stas00 could paste 1 article, 1 target and 1 generation as a comment on that issue, it would be helpful.

[2020-10-11 18:14] sshleifer commented on #7647
@patil-suraj if you have preprocessed links you want me to run evaluate on, feel free to post/slack and I can run eval

[2020-10-11 19:06] NielsRogge commented on #7682
Both pre-training and fine-tuning involve _training_ a model (i.e., updating the weights of the model using backpropagation).

* In a first step, a model is (pre-)trained on a very large dataset (such as all English Wikipedia articles). BERT for example, is pre-trained on 2 tasks: masked language modeling (MLM) and next sentence prediction (NSP). Masked language modeling is, for example, given the

[2020-10-11 19:19] NielsRogge commented on #7708
Take a look at the official tutorial on fine-tuning a model on your own dataset here: https://huggingface.co/transformers/custom_datasets.html

What's your dataset about? Is it text classification, question answering?

BTW, please post any questions which are not bugs/new features you would like to see added on the [forum](https://discuss.huggingface.co/) rather than here.

[2020-10-11 19:50] duttaprat commented on #7708
Thanks @NielsRogge for the reply.

My dataset contains two clinical sentences (S1, S2) and its corresponding relation ('Entailment'/'Contradiction'/'Neutral'). So it basically contains three columns.

[2020-10-11 20:31] sgugger commented on #7702
I think the second solution is better (since it should be there in any case). We can add the events you suggest in the first one if we find other use cases that need them.

Do you want to tackle this in a PR?

[2020-10-11 20:35] sgugger commented on #7232
There is a workaround (chunking your dataset in smaller parts) which is why we didn't implement a quick fix.
I'll start working on the right fix next week and link the PR here once it's ready @usuyama, so you can see the corresponding part in datasets (I have not yet investigated the exact part in datasets so can't answer your question right now, I've just been told it should be possible ;-) )

[2020-10-11 20:46] sshleifer opened #7710 "2 RAG test failures"
The two failures here look related to recent tokenizer changes:

https://github.com/huggingface/transformers/runs/1236753957?check_suite_focus=true

[code]

[2020-10-11 20:47] sshleifer opened #7711 "2 Deberta test failures"
I suspect these are related to recent tokenizer changes:

https://github.com/huggingface/transformers/runs/1236753957?check_suite_focus=true

[code]

[2020-10-11 20:50] sshleifer opened #7713 "rag examples tests fail"
[code]

[2020-10-11 21:09] sshleifer opened #7715 "examples/rag: test coverage, tiny model"
Disclaimer: I don't know this code very well, this may be much harder than it seems.
Blocking PR: #7713

[`examples/rag/finetune.py`, `examples/rag/finetune.sh`, `eval_rag.py`] do not seem to be tested at all.
It would be good to have a `test_finetune.py` like `examples/seq2seq` that tested these.

cc @stas00 if interested, rag is a cool new retrieval model https://arxiv.org/pdf/2005.11401.pdf

[2020-10-11 21:13] stas00 commented on #7715
sign me up, Sam

[2020-10-11 21:34] agemagician opened #7716 "Hosted Inference API for Token Classification doesn't Highlight Tokens correctly"
## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

 albert, bert, GPT2, XLM: @LysandreJik
 Model Cards: @julien-c
 examples/t

[2020-10-11 22:57] steveguang commented on #7648
Thanksm @Lysandre I have another question. When I train using tweets, since there is a lot of noise, a tweet like 'This is soooo good' would be a problem for BERT tokenizer cuz "soooo" is not in the vocabulary. Is there a method to add all of them? Right now I am thinking about a kinda ugly way, just use nltk tweettokenizer to process all tweets and add to vocab with words, emoji, etc that appear

[2020-10-11 23:06] #6271 closed

[2020-10-11 23:06] #6258 closed

[2020-10-12 00:49] sweta20 opened #7719 "wrong decoder_input_ids[:,0] for MarianMT models ?"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux
- Python version: 3.7.0
- PyTorch version (GPU?): 1.6.0
- Using GPU in script?: Yes

### Who can help: @sshleifer

## Information

Model I am using (Bert, XLNet ...): MarianMTModel

The problem arises when using:
* [x] the official example scripts: (give details below)

[code]

model(**batch)  doesn't work as intended because [

[2020-10-12 02:47] sshleifer commented on #7719
This is the intended behavior.
It is very counterintuitive to me as well, but changing prepare_seq2seq_batch to put `decoder_start_token_id` at the 0th position of `decoder_input_ids` seems to lead to worse finetuning performance.
If you have evidence to the contrary, I would be happy to change it.

[2020-10-12 03:00] sshleifer commented on #7719
I'm running the experiment now on wmt-en-ro, we'll see how it goes!

[2020-10-12 03:07] cccntu commented on #7702
I was thinking we can move the opening and closing of `prediction_bar` into separate events, so we don't need the `if` statements.
But it can be hard to debug if someone miss the opening, so it's probably unnecessary.

I will create a PR with the second solution.

[2020-10-12 03:13] sweta20 commented on #7719
Thanks! I was using the pre-trained model for scoring (src, tgt) pairs and didn't actually get a chance to check the impact on finetuning yet.

[2020-10-12 04:43] stas00 commented on #7647
I started a sub-section of my porting repo to gather script and instructions for building these datasets:
https://github.com/stas00/porting/tree/master/datasets/pegasus

So for completed things please either submit a PR or send me the files and I will add them there. Whatever is more efficient for you.

[2020-10-12 06:37] karteek-menda commented on #1791
You can go for BigBird as it takes a input token size of 4096 tokens(but can take upto 16K size)

[2020-10-12 06:56] AmirAktify commented on #5164
I'll add a vote here that I'm interested in this too. I wrote some code locally very similar to guyeyal's.

[2020-10-12 07:04] agemagician commented on #6266
@patrickvonplaten any updates on implementing mesh Bert ?

[2020-10-12 07:05] phtephanx commented on #6873
Is there any update on this? Is the memory leak during evaluation fixed?

[2020-10-12 07:08] PhilipMay commented on #7677
I see the following requirements:

1. automatic batching
2. maybe smart batching
3. multi GPU support
4. Tokenization with multiple processes in parallel to the prediction

[2020-10-12 07:14] Madhuri05thorat opened #7721 "can u help me out with how to input custom data files in RAG retriever and the data format"
sign me up, Sam

_Originally posted by @stas00 in https://github.com/huggingface/transformers/issues/7715#issuecomment-706769068_

[2020-10-12 07:37] LysandreJik commented on #7711
Duplicate of https://github.com/huggingface/transformers/issues/7565

Working on it in https://github.com/huggingface/transformers/pull/7645

[2020-10-12 07:37] #7711 closed

[2020-10-12 07:54] LysandreJik commented on #7648
Hi @steveguang, sentences like `This is soooo good` actually won't be a problem for the BERT tokenizer, as it can decompose the word `soooo` in multiple tokens:

[code]

However, when working with a dataset that seems to have a lot of unknown tokens, it is generally a good idea to identify the tokens that come up relatively often and to add them to your tokenizer. A good example would be the emoji

[2020-10-12 08:10] #7695 closed

[2020-10-12 08:11] LysandreJik commented on #7706
@jplu might be interested in that issue.

[2020-10-12 08:17] jplu commented on #7676
Happy it worked.

Can you open a new issue about the error you got with the converting script. Thanks.

[2020-10-12 08:17] #7676 closed

[2020-10-12 08:34] sb1992 opened #7723 "T5: Finetuning the language modelling objective on a new dataset"
# ❓ Questions & Help

I was wondering if there is a way I could fine tune T5 model on my own dataset. There are scripts for fine tuning help for GPT2, BERT and XLNET in language modelling examples, so was thinking if that could be extended to T5 as well?

## Details

**A link to original question on the forum/Stack Overflow**:

[2020-10-12 09:02] Madhuri05thorat opened #7725 "how we can replace/swap the Wikipedia data with our custom data for knowledge retrieval in the RAG model and the format of the retrieval data."
# ❓ Questions & Help

## Details

**A link to original question on the forum/Stack Overflow**:

[2020-10-12 09:09] LysandreJik commented on #7493
You're correct! Solving that in #7726.

[2020-10-12 09:11] OleNet opened #7727 "what is the perplexity of distilbert-base-uncased ?"
# ❓ Questions & Help

## Details

In the [readme](https://github.com/huggingface/transformers/tree/master/examples/distillation) , it is said that distilbert-base-uncased is pretraind on the same data used to pretrain Bert, so I wonder what is the final perplexity or cross entropy of the pretrain?

[2020-10-12 09:16] lhoestq commented on #7462
You can expect a PR by tomorrow

[2020-10-12 09:32] isolet commented on #3585
Why not [0, 2, 4, 6, 8, 10]?

[2020-10-12 09:39] LysandreJik commented on #7693
It depends of what you understand as "embedding", as it can be ambiguous with transformer models.

Embeddings can be the embedding matrix, which returns context-less embedding of tokens, that you can obtain with `model.get_input_embeddings()`.

Embeddings can also be understood as the features generated by the base model, which are token embeddings with context (depends on the tokens surrounding t

[2020-10-12 09:49] LysandreJik commented on #7684
This doesn't seem to be an issue with `transformers` but with your TPU and its communication with your VM. You would probably have more help if you asked over at https://github.com/pytorch/xla

[2020-10-12 10:06] LysandreJik commented on #7685
Hi! This should have been solved in `master`. Can you install from source and let us know if you're facing the same issue?

[2020-10-12 10:07] LysandreJik commented on #7692
Might be of interest to @jplu

[2020-10-12 10:26] s4sarath commented on #5421
@LysandreJik  - So , by default bert-base-uncased  loading from ```TFBertModel``` has ```199``` variables ```[ 3embedding + 2 layer norms + (16 x 12 layers) + 2 (pooler kernel and bias )] ```.

But when loading from ```TFBertForMaskedLM```, it has ```204``` variables. Below are the 5 extra variables

[code]

So that means , these 5 variables are randomly initialising  right.
Are these 5 variables

[2020-10-12 10:30] iliemihai commented on #7725
I am also playing with RAG model and I am trying to understand how to replace the Wikipedia data with my custom data. A tutorial about the data format would be very helpful. Thank you

[2020-10-12 10:45] Focus commented on #4786
There is also a difference here between the fast and slow tokenisers:
[code]
Outputs:
[code]

[2020-10-12 10:49] jplu commented on #7692
Hello!

Can you give more detail on how to reproduce your issue, otherwise we cannot help you.

[2020-10-12 11:45] #7702 closed

[2020-10-12 11:58] NorthGuard opened #7731 "Pytorch 1.6 DataParallel"
I get an error similar to that of [#4189](https://github.com/huggingface/transformers/issues/4189) and [#3936](https://github.com/huggingface/transformers/issues/3936), when using DataParallel with GPT2.
The issue should be resolved in newer versions of transformers, but I still get an error.

## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-3.10.0-1062.18.1.el7.x86_64-x86_64

[2020-10-12 11:59] yadavpp commented on #1621
my training file has a size of around 880 MB but when I'm training a tokenizer (BPE), it getting halt, and **Killed** is coming on the terminal. Any suggestion?

[2020-10-12 12:05] NielsRogge commented on #7708
Ok so that's sentence pair classification. There's an example notebook on that [here](https://github.com/NadirEM/nlp-notebooks/blob/master/Fine_tune_ALBERT_sentence_pair_classification.ipynb).

[2020-10-12 12:45] #7706 closed

[2020-10-12 13:15] LysandreJik commented on #7731
Fixed by #7732!

[2020-10-12 13:15] #7731 closed

[2020-10-12 13:38] aldazero commented on #7684
@LysandreJik Thanks for your comment. The problem rooted in the TPU software version. Setting it to `PyTorch-1.6` resolved the issue.

[2020-10-12 13:38] #7684 closed

[2020-10-12 14:16] Querela opened #7734 "GLUE STS-B on longer sequence lengths doesn't work?"
# ❓ Questions & Help

## Details

I have an issue where I tried to use the [standard GLUE finetuning script](https://github.com/huggingface/transformers/blob/master/examples/text-classification/run_glue.py) for task STS-B with longer sequence lengths and the results are **bad** (see below). Correlation decreases massively when using longer sequence lengths, and when I instead use binary classifica

[2020-10-12 14:18] NielsRogge commented on #7701
The way `xxxForMultipleChoice` models work is actually a bit tricky. It works as follows (based on the [original explanation by the author of BERT](https://github.com/google-research/bert/issues/38)):

Given a question, and several options, the question + options are fed to the model one by one:

`[CLS] question [SEP] option 1 [SEP]` first, then `[CLS] question [SEP] option 2 [SEP]` second, and so

[2020-10-12 14:21] aalloul commented on #6751
I think this is already done right? seen that we have this https://github.com/huggingface/transformers/tree/master/model_cards/pvl/labse_bert

[2020-10-12 14:25] mariusjohan opened #7735 "Tokenizer Fast bug: ValueError: TextInputSequence must be str"
## Environment info

- `transformers` version:
- Platform: In a Colab enviroment aswell as on my local windows version
- Python version: 3.7.4
- PyTorch version (GPU?): Yes and No
- Tensorflow version (GPU?): I didn't try with tensorflow, but I suspect that it has nothing to do with it
- Using GPU in script?: I used the automodeling on a GPU session in Colab
- Using distributed or parallel set-up

[2020-10-12 14:32] NielsRogge commented on #6074
Good question. `xxxForMultipleChoice` models are actually a bit tricky. The way you should provide the data to the tokenizer is as follows:

[code]
Note the difference: we provide 2 lists to the tokenizer rather than one. The first list contains the first sequence of every training example, the second list contains the second sequence. Every training example will then be encoded as `[CLS] prompt [

[2020-10-12 15:10] sshleifer opened #7737 "blenderbot-3B has wrong model card"
bb90 too

[2020-10-12 15:11] esp32wrangler commented on #7406
I'm experiencing the same issue with the hubert-base-cc model. Have you found a solution in the meantime?

[2020-10-12 15:21] esp32wrangler commented on #7406
You are mixing the Pytorch and tf API. You should have "return_tensors="pt"" if you use PyTorch or use TFAutoModel for TensorFlow.

[2020-10-12 15:28] TaskManager91 commented on #7690
When I run the examples from:
https://huggingface.co/transformers/model_doc/rag.html

I get exactly the same error:
![image](https://user-images.githubusercontent.com/7063207/95763928-073abf00-0cb0-11eb-827c-3e0a76cc1ce6.png)

[2020-10-12 15:45] sshleifer commented on #7719
I ran this last night, and finetuning loss was identical with and without the change.
Bleu was within 0.1 (`master` was slightly higher).
Here is the branch if you want to play with it: https://github.com/sshleifer/transformers_fork/tree/hack-batches-v2

[2020-10-12 15:46] #6114 closed

[2020-10-12 15:49] duttaprat commented on #7708
Oh that's really helpful. Thank you again @NielsRogge .

[2020-10-12 15:49] #7708 closed

[2020-10-12 16:01] farthur commented on #3664
Hello !

It seems that I have a similar issue with a model based on Camembert when trying to save my model with :

`model.save("model",save_format='tf')`

Give me :

[code]

At first with transformers 2.11.0 but also after upgrading to 3.3 (with TF 2.3)

I can give a code snippet to reproduce if necessary and Custom Model construction can be found here : https://github.com/MAIF/melusine/blob/maste

[2020-10-12 16:04] jplu commented on #3664
Please open another issue with a code snippet to make us able to reproduce your problem.

[2020-10-12 16:09] MaxHoefl opened #7739 "Cannot load pretrained microsoft's layoutlm"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.15.0-112-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.4.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@julien-c @sshleifer

## Information

Model I am using: LayoutLM

The proble

[2020-10-12 16:14] MaxHoefl commented on #7739
Not a bug, when updating to torch 1.6 it works

[2020-10-12 16:14] #7739 closed

[2020-10-12 16:14] forest1988 opened #7740 "examples/seq2seq/finetune_trainer.py: UserWarning: Detected call of `lr_scheduler.step()` before `optimizer.step()`."
## Environment info

- `transformers` version: 3.3.1
   - I did `pip install -e .` in the repository cloned from
https://github.com/huggingface/transformers/tree/ba4bbd92bcb55febbfa06aaa1551738388ec7eb0
- Platform: Linux
- Python version: 3.8.3 (anaconda3-2020.07)
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed

[2020-10-12 16:56] Laksh1997 commented on #7462
Awesome thanks everyone @tholor @lhoestq @patrickvonplaten !!!!

[2020-10-12 17:07] sshleifer opened #7743 "should PegasusTokenizer replace `/n` with `<n>`?"
On the `encode`/text -> ids side I'm certain.
On the `decode`/ids -> text side, I'm worried about breaking `run_eval.py`, which reads the generations from disk before calculating rouge [here](https://github.com/huggingface/transformers/blob/master/examples/seq2seq/run_eval.py#L141)

cc @stas00

[2020-10-12 18:05] stas00 commented on #7743
Yes, will have to ensure we add a test then. you can assign this to me, @sshleifer

[2020-10-12 19:26] rzhao6 opened #7744 "cannot load "layoutlm-base-uncased""
hi,
im trying to do "LayoutLMTokenizer.from_pretrained('layoutlm-base-uncased')", and got an error saying "OSError: Model name 'layoutlm-base-uncased' was not found in tokenizers model name list (microsoft/layoutlm-base-uncased, microsoft/layoutlm-large-uncased). We assumed 'layoutlm-base-uncased' was a path, a model identifier, or url to a directory containing vocabulary files named ['vocab.txt']

[2020-10-12 19:29] Prithvi103 commented on #5736
I'm facing the same error and below is my run command. Any pointers, @cabhijith ?
`cmd = "python run_language_modeling.py \
    --output_dir ./bertout \
    --model_type bert \
    --do_train \
    --do_eval \
    --train_data_file ./test.txt \
    --eval_data_file ./test.txt \
    --mlm \
    --line_by_line \
    --learning_rate 1e-4 \
    --num_train_epochs 5 \
    --save_total_limit 2 \
    --s

[2020-10-12 19:37] thomwolf commented on #7744
Hi,

Yes the error message is right, you have to add "microsoft/" before the name:
[code]

[2020-10-12 20:06] sshleifer commented on #7743
Mildly off topic:
I wonder if there is a way to read in a file one "line" at a time, where the system for deciding line numbers is the one text-editors use rather than splitting by '\n'.
![image](https://user-images.githubusercontent.com/6045025/95786026-d903b200-0ca4-11eb-8106-926d694122aa.png)

[2020-10-12 20:11] stas00 commented on #7743
Which means they are probable escaped `\n` chars - check in `less` and see if it's really a new line or just `\\n`? between line 1 and line 2 in your snapshot there lies a real `\n`.

I think what you are after is some sort of binary format ala python's `b"line\nline2"`

[2020-10-12 20:13] rzhao6 commented on #7744
ah i see, i directly used the line in the example here https://huggingface.co/transformers/model_doc/layoutlm.html#layoutlmmodel

thank you for helping!

[2020-10-12 20:13] #7744 closed

[2020-10-12 20:46] Amirosimani commented on #4406
@patil-suraj what is the best way to save the fine tune model in order to reuse it again with `T5ForConditionalGeneration.from_pretrained()`?

[2020-10-12 20:51] mchari commented on #7536
It will be great if you could document which versions of faiss, datasets, and transformers works !

[2020-10-12 21:06] jacqueline-he commented on #886
Hi, I was wondering how you managed to resolve this issue? I'm running into a similar problem. :)

[2020-10-12 21:13] sshleifer commented on #7740
This happens in every trainer I've ever used and you should just ignore it.

[2020-10-12 21:14] sshleifer commented on #7740
cc @sgugger who may have a different opinion.

[2020-10-12 21:16] sgugger commented on #7740
This is a warning that appears all the time from PyTofh if you save your learning rate scheduler. You should file an issue on their side if you find it annoying.
Normally, the latest version of transformers should catch that warning from you though.

[2020-10-12 21:17] sshleifer commented on #7691
Using tiny was very smart.
We upgraded to pytorch_lightning 0.9.0 (`pip install -r examples/requirements.txt`), does that fix your issue?

[2020-10-12 21:50] rohit497 opened #7745 "Attention masks are ignored when using model.generate() in batch setting for GPT-2"
## Environment info

- `transformers` version: '3.3.1' and '2.1.0' (Tested on both)
- Platform: Linux Azure VM
- Python version: 3.6.8
- PyTorch version (GPU?): 1.3.0 (Yes)
- Tensorflow version (GPU?): N/A
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik  @TevenLeScao

## Information

Model I am using (Bert, XLNet ...): GPT-2

The pro

[2020-10-12 22:26] stas00 commented on #7647
Here is a little helper util that helps to show the differences in strings - useful when matching pre-processing data.

[code]

[2020-10-12 22:46] patrickvonplaten commented on #7690
Hey @dzorlu - thanks for your error, I will take a look tomorrow!

[2020-10-12 22:49] patrickvonplaten commented on #7710
@sshleifer - thanks a lot for the issue!

This error seems related to https://github.com/huggingface/transformers/issues/7690#issuecomment-707382445.

[2020-10-12 22:55] dzorlu commented on #7690
thanks @patrickvonplaten . Appreciate all the hard work  :+1:

[2020-10-13 00:29] h56cho opened #7746 "Keep getting the same `Target 1 is out of bounds` error with `LongformerForMultipleChoice`"
Hello,
I am a Transformer user who posted the similar question yesterday.
I am trying to use `LongformerForMultipleChoice` model, I've updated my code according to the answer that was provided. However, I am still getting the same error `Target out of bounds`. The correct answers are coded correctly, like my multiple-choice answers works very well with the `GPT2DoubleHeadsModel`. I am not sure why

[2020-10-13 00:55] forest1988 commented on #7740
@sshleifer @sgugger
Thank you for quickly answering my question!

I apologize that I misunderstood this UserWarning as to be caused by your codes.
Thanks to your kind explanations, I now understand that this is caused not by examples/seq2seq and transformers Trainer, but by PyTorch.
I also understand that I will come across the same UserWarning all the time if I save the learning rate scheduler.

[2020-10-13 00:55] #7740 closed

[2020-10-13 02:08] qhd1996 opened #7747 "BertTokenizer meet multilingual corpus, it fails to work.@mfuntowicz"

[2020-10-13 02:16] #7747 closed

[2020-10-13 02:46] sshleifer opened #7749 "Does bart need to cache prev_key_padding_mask?"
This is only be used for self attention, presumably to remember to ignore if the last token generated was a pad. But if the last token generated was a pad, we are done with the hypothesis anyways so may not need this.
If this is unnec it will save 5-10 lines of annoying stuff.

[2020-10-13 02:57] lkluo commented on #7692
Thanks for your replay. I followed the instruction [here](https://github.com/huggingface/transformers/blob/master/examples/text-classification/README.md) with my own datasets (I can not provide my dataset due to confidentiality.). My script is below:

--train_file $data_dir/train.csv \
--dev_file $data_dir/dev.csv \
--test_file $data_dir/test.csv \
--label_column_id 0 \
--model_name_or_path distil

[2020-10-13 03:19] mihaidobri commented on #7120
@TevenLeScao  FYI:  I have the same warning message, on Colab,using Xlnet-base-cased (custom script , custom dataset)

[2020-10-13 03:50] ncoop57 commented on #7691
It worked! But.... I had to update pyarrow from 0.14.1 to 0.17.1 because I was getting the following error:
`AttributeError: module 'pyarrow' has no attribute 'PyExtensionType'`

Which I am guessing is due to y'all epic datasets library requiring pyarrow=>0.17.1:
`ERROR: datasets 1.1.2 has requirement pyarrow>=0.17.1, but you'll have pyarrow 0.14.1 which is incompatible.`

I opened a PR to add thi

[2020-10-13 04:35] usuyama commented on #6562
the new embeddings are initialized with N(0, 0.02) by default

in `_get_resized_embeddings`
https://github.com/huggingface/transformers/blob/9c2b2db2cdf0af968aae58d6075b6654224fb760/src/transformers/modeling_utils.py#L650-L651

calling `_init_weights`
https://github.com/huggingface/transformers/blob/9c2b2db2cdf0af968aae58d6075b6654224fb760/src/transformers/modeling_bert.py#L592-L597

[2020-10-13 04:36] usuyama commented on #6558
One way is to use `config.initializer_range`

#6562

[2020-10-13 04:46] kelvin-jiang opened #7751 "Unicode issue with tokenizer.decode()"
## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu 18.04.1 LTS
- Python version: 3.6.9
- PyTorch version (GPU?): 1.5.0 (No)
- Tensorflow version (GPU?): 1.14.0 (No)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

Since the issue regards tokenizers, tagging @mfuntowicz.

## Information

Model I am using (Bert, XLNet ...): T5

[2020-10-13 07:07] Layne-Huang commented on #652
I met the same problem. Did you find how to solve it?

[2020-10-13 07:30] NorthGuard commented on #7731
That was super fast - thanks :D

[2020-10-13 07:59] NielsRogge commented on #7746
Hey there. Please just reply on the [previous issue]() you posted, rather than opening a new issue.

I made a mistake in my previous answer, you shouldn't `unsqueeze` the answer, because it's just a tensor of shape (batch_size,).

I've created a notebook that illustrates how to use BertForMultipleChoice (LongformerForMultipleChoice would be the same): https://colab.research.google.com/drive/1mWx3R

[2020-10-13 08:23] patrickvonplaten commented on #7725
I think @lhoestq is working on this right now, or?

[2020-10-13 08:25] lhoestq commented on #7725
Yes indeed. I'll create the PR later today to allow users to use their own data. I'll also add code examples

[2020-10-13 08:30] LysandreJik commented on #7734
Hello! Thanks for opening such a detailed issue! You would have more luck asking such an open ended/research question on the [forums](https://discuss.huggingface.co), however!

[2020-10-13 09:01] LysandreJik commented on #7735
Hi, thanks for opening such a detailed issue with a notebook!

Unfortunately, fast tokenizers don’t currently work with the QA pipeline. They will in the second pipeline version which is expected in a few weeks to a few months, but right now please use the slow tokenizers for the QA pipeline.

Thanks!

[2020-10-13 09:01] #7735 closed

[2020-10-13 09:03] LysandreJik commented on #7406
@esp32wrangler is correct!

[2020-10-13 09:03] #7406 closed

[2020-10-13 09:09] Skyy93 commented on #7723
have a look on: https://github.com/huggingface/transformers/tree/master/examples

for conditional generation in the folder seq2seq is an example for finetuning

[2020-10-13 09:14] LysandreJik commented on #886
Hi, the model outputs are well documented, they're *always* tuples, even if there's a single return value. You can check the documentation [here](https://huggingface.co/transformers/main_classes/output.html).

[2020-10-13 09:30] jplu commented on #7692
Sorry, I tried with one of my dataset with the exact same command line on 4/2/1 GPUs and CPU and cannot reproduce your error. The only one thing I can tell you to do is to be sure to use the master version of the script. Otherwise without more information I cannot really help you more sorry :(

[2020-10-13 09:43] huhk-sysu opened #7755 "HfArgumentParser not support optional bools"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-3.10.0
- Python version: 3.7.3
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@sgugger

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the offici

[2020-10-13 10:00] monk1337 commented on #90
Any update on this issue?

[2020-10-13 10:39] lkluo commented on #7692
Thanks for your help. It could be related to tensorflow or transformers versions. I will try a few of them and see how it would solve my problem.

[2020-10-13 12:02] sgugger commented on #7755
Yes optional bools are not supported by the `HFArgumentParser` because it wants to either `store_true` or `store_false` them. I have fixed the `TrainingArguments` to work around that (e.g., the defaults that come from the parser are okay) but when I have a bit of time I'll try to fix this better.

[2020-10-13 12:04] julien-c commented on #7743
Your first line is composed of the characters `\` and `n` and not the actual character customarily represented by `\n` which is `hex(0a)` (ascii code = 10), no?

[2020-10-13 12:20] LysandreJik commented on #7751
This is not a bug, but a lack of vocabulary diversity in T5's tokenizer. T5's tokenizer was not trained on a corpus containing that character, and therefore cannot encode it: it encodes it to an unknown token which is represented by `⁇`.

You can try using other characters that the tokenizer doesn't know how to process, for example emojis:

[code]

You can use the `tokenize` + `convert_tokens_to_s

[2020-10-13 12:20] #7751 closed

[2020-10-13 12:33] patrickvonplaten commented on #7594
@mthielk - this can very well be due to the PyTorch version. Did you try with a more current version of PyTorch?

[2020-10-13 12:34] #7690 closed

[2020-10-13 12:34] #7710 closed

[2020-10-13 12:35] patrickvonplaten commented on #7690
Should be solved now - let me know if you still experience problems @dzorlu

[2020-10-13 12:54] laibamehnaz opened #7757 "Help with finetuning mBART on an unseen language"
I wanted to know how could we finetune mBART on summarization task on a different language than that of English. Also, how can we finetune mBART on translation task where one of the languages is not present in the language code list that mBART has been trained on.
Appreciate any help!! Thank you.

[2020-10-13 13:03] yashgupta-7 commented on #7500
I just did the above-mentioned change and decoded (run_eval.py) without training any further. Still, the issue persists.

[2020-10-13 13:32] sshleifer commented on #7500
Ok, you could try re-training/training more with new training code. We can't reproduce this on `master`

[2020-10-13 13:37] ameasure commented on #6749
When the model receives inputs that include the labels, it's supposed to produce a tuple of (loss, predictions), where the loss is a scalar. The trainer then uses the loss to calculate the gradients. In this case (or at least in my case when I get a similar error) the trainer appears to be trying to use the predictions not the loss to calculate the gradient. This appears to be because the model is

[2020-10-13 14:46] patrickvonplaten commented on #7727
Hey @OleNet ,

You probably have a better chance of getting an anwser by posting your question on the discussion forum here: `http://discuss.huggingface.co/`.

[2020-10-13 15:03] ShivanshuPurohit opened #7760 "AttributeError: 'tuple' object has no attribute 'detach'"
## Environment info

- `transformers` version: bert-base-uncased
- Platform: pytorch
- Python version: 3.6
- PyTorch version (GPU?): 1.6.0
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert,):

The problem arises when using:
* [ ] the official example scripts: (give details below)

[2020-10-13 15:13] alexvaca0 opened #7761 "Deutsch to English Translation Model by Google doesn't work anymore..."
Hi, the model in: https://huggingface.co/google/bert2bert_L-24_wmt_de_en doesn't work anymore. It seems that the library has changed a lot since the model was added, therefore the classes themselves seem to have changed in names etc.
Can anyone tell me how could I apply with the current library functionality?
Thanks in advance! :)

[2020-10-13 15:15] thomwolf commented on #7761
Do you want to post the full error message? (and the information asked in the issue template)

[2020-10-13 15:19] laibamehnaz commented on #7757
Great. I will post it there. Thanks a lot.

[2020-10-13 15:22] Ceceu commented on #3170
@julien-c,

Is there an approach where this tutorial https://huggingface.co/blog/how-to-train is trained over TPU cores?

[2020-10-13 16:28] julien-c commented on #3170
maybe @LysandreJik or @sgugger have a link to a notebook?

[2020-10-13 17:10] guillaume-be opened #7764 "Update of DialoGPT `max_length`"
### Who can help
@patrickvonplaten

## Information

Following https://github.com/huggingface/transformers/pull/5516, the DialoGPT models `max_length` has not been updated, and defaults to the `generate` value of 20. This value is very low for a conversational pipeline and would lead to answers that completely ignore the history (truncation happens to ensure enough space is available for the respon

[2020-10-13 17:21] arglog commented on #6285
Hi @patrickvonplaten

Any updates on this? It's exciting to be able to use the T5 v1.1 models in huggingface! Thanks!

[2020-10-13 18:14] jsrozner commented on #5220
It seems that supplementary file saving at checkpoints has been fixed (I am now seeing checkpoint saving in finetune).

But I am still seeing
"Warning: Please also save or load the state of the optimzer when saving or loading the scheduler.  warnings.warn(SAVE_STATE_WARNING, UserWarning)"

Steps to reproduce:
1) clone transformers into new director
2) cd transformers && pip install .e; cd examples

[2020-10-13 18:20] jsrozner opened #7765 "Seq2seq finetune example: "Please save or load state of the optimizer""
When running the example scripts in examples/seq2seq/finetune_bart and finetune_t5, get warning messages:

## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.15.0-66-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Ran both with and without gpus; same result
- Us

[2020-10-13 19:18] JunjieHu opened #7766 "Use Marian-MT to evaluate translated outputs by printing out per-word log-probility"
# ❓ Questions & Help

I am going to evaluate the Marian's opus-mt to evaluate the translated output y given the input x.
I want to get the model's log-probability of y given x, i.e., P(y|x).
I didn't find any usage example in the document [here](https://huggingface.co/transformers/model_doc/marian.html#multilingual-models).
@sshleifer do you know an example in this case? Thanks!

For example:
Sour

[2020-10-13 20:14] sgugger commented on #3170
I haven't tried training in notebooks on TPU, only with the example scripts.

[2020-10-13 20:35] patrickvonplaten commented on #7451
Hey @amlarraz,

As far as I know there is no pre-written function or script for unsupervised "sentinel masking" for T5. But it shouldn't be too difficult to do so. The innovation of T5's sentinel masking is exactly that you can mask multiple tokens with a single masking token which has been shown to yield better results as norrmal single token masking (a la BERT).

So to answer your questions:
1)

[2020-10-13 20:43] patrickvonplaten commented on #7662
yes, the `generate()` cannot be used for backpropagation at the moment .

[2020-10-13 21:02] patrickvonplaten commented on #7480
Hey @chambliss - it looks like you are uploading the wrong folder. Instead of running

[code]

you should run

[code]

I think

[2020-10-13 21:15] h56cho opened #7768 "Is there any way to control the input of a layer of `Longformer`?"
Hello,

Is there any way that I can directly control the input to a layer of the `Longformer` model, similar to `GPT2.transformer.h[]`?

I tried `best_model_longformer.longformer.encoder.layer[layer_index](input_hidden_state_for_layer)` but it's giving this error:

[code]
:S thank you,

[2020-10-13 21:15] #7746 closed

[2020-10-13 21:28] aclifton314 commented on #7662
@patrickvonplaten Would that explain why I'm encountering the above error? Do you also mind elaborating on why `generate()` cannnot be usef for backpropagation? I'm interested to hear the details for the sake of my own knowledge.

[2020-10-13 21:51] mchari opened #7769 "from transformers import RagSequenceForGeneration gives ImportError"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux
- Python version:3.6.3
- PyTorch version (GPU?):
- Tensorflow version (GPU?):2.3.0
- Using GPU in script?:no
- Using distributed or parallel set-up in script?:no

### Who can help
@patrickvonplaten @sgugger

## Information

Model I am using ():

The problem arises when using:

## To reproduce
1.python

## Expected behavior
I sh

[2020-10-13 21:56] sgugger commented on #7769
You don't have PyTorch installed in your environment. This is a PyTorch model.

[2020-10-13 22:18] mchari commented on #7769
Indeed , that was the problem.
The code in the example has import torch after the "from transformers import RagSequenceForGeneration,..." statement, so I incorrectly concluded that torch is not needed for the import. Also, that RagTokenizer got imported without errors.
Thanks!

[2020-10-13 22:18] #7769 closed

[2020-10-13 22:32] patrickvonplaten commented on #7765
I'll leave it to @sshleifer - haven't really used the seq2seq fine-tuning too much.

Maybe @patil-suraj has also an idea here :-)

[2020-10-13 23:09] mchari commented on #7536
The above versions work!

[2020-10-14 01:26] nrjvarshney opened #7770 "How to create a QA model where the answer can be from the question text as well?"
# ❓ Questions & Help

## Details

SQuAD QA dataset has questions where the answer is a span in the context,
How do I create a QA system where the answer string can be from the context or question text?

[2020-10-14 01:40] Dineshkumar-Ponnusamy commented on #1407
Did you try Tamil?

[2020-10-14 01:44] huhk-sysu commented on #7755
Thanks. I want to report a related issue:

For the same reason above, the argument `evaluate_during_training` would be set to either `store_true` or `store_false`, so its default value of `None` doesn't work.
https://github.com/huggingface/transformers/blob/1ba08dc221ff101a751c16462c3a256d726e7c85/src/transformers/training_args.py#L188-L191

And this may lead to another problem:
https://github.com

[2020-10-14 02:29] jeffzma2000 commented on #6971
Is there a distilBART base model that does not have pretaining weights?

[2020-10-14 03:19] sshleifer commented on #6971
There is no distilbart-base model.
There are only distilled models fine-tuned on summarization tasks.

[2020-10-14 04:35] vikigenius opened #7771 "Cannot trace_module on models using model's generate function"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-5.8.14_1-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

@patrickvonplaten, @sshleifer

## Information

Model I am using BART

The problem arise

[2020-10-14 05:09] dzorlu commented on #7690
Thank you!

[2020-10-14 06:24] Wufang1997 commented on #7333
Has the problem been solved? I met the same issue when loading the transformers.

[2020-10-14 06:39] caoyuanbao commented on #856
so great!

[2020-10-14 06:49] NatBala commented on #7462
Thank you @lhoestq . Really appreciate for getting back quickly on this issue.

[2020-10-14 07:02] danaludwig opened #7773 "Error in run_ner.py - ModuleNotFoundError: No module named 'tasks'"
## Environment info
- Google colab notebook.
- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help
@stefan-it

## Information

Model I am using i

[2020-10-14 07:12] antoniolanza1996 opened #7774 "XLM-RoBERTa model for QA seems not properly work"
## Environment info

- `transformers` version: 3.3.1 (and I've also tried installing Transformers from `master`, see details below)
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can

[2020-10-14 07:26] patil-suraj commented on #7765
You can safely ignore the `lr_scheduler` warning. `optimzer` is saved, but torch `lr_scheduler` warns you anyway just so you don't forget.

Not sure about the first warning, but you can also safely ignore that

[2020-10-14 07:41] LysandreJik commented on #7760
As the error says, you've applied a `.detach()` method to a model output, which are *always* tuples. You can check the [documentation here](https://huggingface.co/transformers/main_classes/output.html).

[2020-10-14 07:41] #7760 closed

[2020-10-14 07:50] NielsRogge commented on #7770
Normally there's no difference. You just provide `[CLS] question [SEP] answer [SEP]` examples to the model, and the `start_positions` and `end_positions` can be indexes of the question.

[2020-10-14 07:51] LysandreJik commented on #3170
Unfortunately I only have notebooks that run the example scripts on TPU, nothing similar to the `how-to-train` blogpost.

[2020-10-14 07:53] LysandreJik commented on #7761
These models have been added last months, so they shouldn't have changed much. The full issue template filled would be very helpful here!

[2020-10-14 08:03] alexvaca0 commented on #7761
This is the error:
ValueError: Unrecognized model identifier: bert-generation. Should contain one of retribert, t5, mobilebert, distilbert, albert, camembert, xlm-roberta, pegasus, marian, mbart, bart, reformer, longformer, roberta, flaubert, bert, openai-gpt, gpt2, transfo-xl, xlnet, xlm, ctrl, electra, encoder-decoder

Using exactly the code appearing in the link I passed:
[code]

[2020-10-14 08:25] volker42maru commented on #4166
I think @NielsRogge is working on this over here: https://github.com/NielsRogge/transformers/tree/modeling_tapas

[2020-10-14 08:40] jplu commented on #7333
Hello, you have to have TF 2.3 at min. This will be fixed in the next release.

[2020-10-14 09:32] lalitpagaria opened #7777 "Adding RAG to text-generation pipeline"
# 🚀 Feature request

Thank you for the awesome work. I am working on https://github.com/deepset-ai/haystack/issues/443 and just wanted to check whether any plan to add RAG into `text-generation` pipeline.

## Motivation

`text-generation` already have other models, hence it I would be great to have it in there. And this will help keeping our code clean by not adding classes for each type of genera

[2020-10-14 09:34] LysandreJik commented on #7761
@patrickvonplaten what should be done here? The `BertGeneration` model cannot be loaded directly through the `AutoModelForSeq2SeqLM` auto-model, can it?

[2020-10-14 10:38] alexvaca0 commented on #7761
Then how could I load it?

[2020-10-14 11:50] patrickvonplaten commented on #7777
Hey @lalitpagaria - RAG is quite different to other generation models so we don't have it on the short-term roadmap to add it to pipelines. We are still thinking about how to integrate retrieval augmented models to the pipelines.

[2020-10-14 11:50] patrickvonplaten commented on #7764
Very true! Thanks for the notification

[2020-10-14 11:51] Ceceu commented on #3170
Thanks @julien-c, @sgugger and @LysandreJik,

Maybe I can adapt the [Language Modeling example script](https://github.com/huggingface/transformers/tree/master/examples/language-modeling) applying [Pytorch Lightning](https://www.pytorchlightning.ai/) approach which easily support TPUs.

[2020-10-14 11:54] patrickvonplaten commented on #7761
Hey @alexvaca0 - the google/encoder-decoder models were released in transformers 3.2.0 => so you will have to update your transformers version for it :-) It should then work as expected.

[2020-10-14 11:59] lalitpagaria commented on #7777
Thanks @patrickvonplaten
Yeah I totally agree with you.
Please let me know whether I close this issue or keep it open for future reference.

[2020-10-14 12:00] patrickvonplaten commented on #7771
`generate` currently does not support `torch.jit.trace`. This is sadly also not on the short-term roadmap.

[2020-10-14 12:00] patrickvonplaten commented on #7777
Leave it open - I'll put it under projects so that I don't forget it :-)

[2020-10-14 12:01] patrickvonplaten commented on #7764
Done - note however that the "task" name was `conversational` not `dialogue`

[2020-10-14 12:01] #7764 closed

[2020-10-14 12:07] alexvaca0 commented on #7761
Ohhh so sorry, my bad :( Thanks a lot for the quick response! :)

[2020-10-14 12:07] #7761 closed

[2020-10-14 12:10] sgugger commented on #3170
If you're using the language modeling script, running it on TPUs is supported, just follow the instructions [here](https://github.com/huggingface/transformers/tree/master/examples#running-on-tpus).

[2020-10-14 12:29] Ceceu commented on #3170
Great, but it runs on Google Colab?

[2020-10-14 12:36] LysandreJik commented on #3170
Yes it does run on colab!

[2020-10-14 12:37] LysandreJik commented on #3170
You can find an example running the `run_glue.py` script [here](https://colab.research.google.com/drive/15q6UUzwNugWvVXNfOkWlGCaKIUvLZpxd?usp=sharing). You can do the same with the language modeling script!

[2020-10-14 12:40] Ceceu commented on #3170
Fantastic! That was of great help.

[2020-10-14 13:50] sunnyville01 opened #7779 "I'm getting "nan" value for loss, while following a tutorial from the documentation"
# ❓ Questions & Help

## Details
Hi,

I’m following the “Fine-tuning with Custom Dataset” tutorial for Question Answering on the SQuaD dataset tutorial: [available here](https://huggingface.co/transformers/custom_datasets.html#question-answering-with-squad-2-0). I’ve copy-pasted all the code shown in the tutorial step by step. However, when my model starts training, I don’t get the expected metric

[2020-10-14 13:58] #7768 closed

[2020-10-14 14:03] h56cho opened #7780 "How can I tweak the `Longformer` code to control the input of a `Longformer`'s layer?"
Hello,
I have asked a similar question on the HuggingFace forum, but I didn't get a clear answer that I was hoping for.
I tried the following to control the input of a `Longformer` layer:
`best_model_longformer.longformer.encoder.layer[layer_index](my_input_hidden_vector)`

which of course, does not work.

How can I tweak the `Longformer` (or `BERT`) code to control the input of a `Longformer`'s l

[2020-10-14 14:16] julien-c commented on #7480
I'll second that. If `ls distilbert-for-food-extraction` works and shows the correct files, `transformers-cli upload distilbert-for-food-extraction` should work and would be able to find the correct directory.

[2020-10-14 14:32] sgugger commented on #7780
The answer you got on the forum is pretty much the only one we have: copy paste the model code and customize it to your needs. If you're not a programmer, then you will need to learn a bit of Python/PyTorch to do this, but apart from making sure each model file contains the full code of each model, there is little more we can do to help you. There is an API to use the models in the common cases, u

[2020-10-14 14:34] h56cho commented on #7780
Hello, thank you for your reply.
What is the right way to access `LongformerLayer` class from `my_Longformer_model`?

[2020-10-14 14:36] agemagician commented on #7716
@julien-c @mfuntowicz any insights or updates for this issue ?

[2020-10-14 14:53] jsilter opened #7781 "`decoder_config` variable not defined in EncoderDecoderModel.from_encoder_decoder_pretrained"
https://github.com/huggingface/transformers/blob/890e790e16084e58a1ecb9329c98ec3e76c45994/src/transformers/modeling_encoder_decoder.py#L330

Using this function results in an error:

`UnboundLocalError: local variable 'decoder_config' referenced before assignment`

Suggest changing `decoder_config.add_cross_attention` to `kwargs_decoder["config"].add_cross_attention`

[2020-10-14 14:56] julien-c commented on #7716
I see the issue, but not sure how to best fix it to be honest – as it seems a very specific problem (token classification models that classify the special tokens as non-`O`)

When we run fast tokenizers by default we'll get token alignment offsets into the original inputs, so that might solve this issue elegantly.

May I ask what's your use case here and do you need this use case supported by the

[2020-10-14 15:14] agemagician commented on #7716
Our main project called [ProtTrans](https://github.com/agemagician/ProtTrans), which trains various language modelling models for protein sequences at large scale.

This specific use case predicts the secondary structure for protein sequences. It is one step behind predicting the 3D structure of protein sequences (like Google AlphaFold) that allows companies to find a drug or a cure for a virus li

[2020-10-14 15:22] ioannist opened #7782 "RAG finetuning - unexpected keyword argument 'early_stop_callback'"
## Environment info
transformers version: 3.3.1
Platform: Ubuntu
Python version:3.6.12
PyTorch version (GPU: yes): 1.6.0
Using GPU in script?: 1 gpu
Using distributed or parallel set-up in script?: no

### Who can help
@patrickvonplaten @sgugger

## Information
model name: facebook/rag-token-base

The problem arises when using:
* [x ] the official example scripts: (give details below)

The tasks I

[2020-10-14 15:22] felipeTypeform opened #7783 "Unable to serialize/save TF2.3.1 RobertaSequenceClassification model to saved model format"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-3.13.0-158-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?:  No
- Using distributed or parallel set-up in script?:  No

### Who can help

@LysandreJik
@jplu

## Information

Model I am using (Bert, XLNet ...):

T

[2020-10-14 15:33] lalitpagaria opened #7785 "[RAG] RagTokenizer failing in decoding RAG Generator output"
## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

 @patrickvonplaten @LysandreJik

## Information

Model I am using (Bert, XL

[2020-10-14 15:34] julien-c commented on #7716
👍 Oh yes I know (and love) your project and general goal/use case. I was referring to the specific use of the inference widget.

I'll see what we can do. Out of curiosity, any specific reason you trained with special tokens (vs. just the raw sequence)? To be able to also do document-level classification from the same pretrained model?

[2020-10-14 15:35] #7713 closed

[2020-10-14 15:41] #7232 closed

[2020-10-14 15:43] sshleifer commented on #7766
Would love a contribution that implemented it.
Can you paste a working fairseq command to try to emulate?

[2020-10-14 15:48] #7780 closed

[2020-10-14 15:53] h56cho opened #7788 "error when using the forward() function of the LongformerLayer class from the LongformerForMultipleChoice model"
Hello,

Sorry if my question sounds a bit silly, but I just have a question:
I am trying to feed in the hidden output of the embedding layer of the `LongformerForMultipleChoice` model directly into the m-th layer of the same model. Each of my multiple-choice question that has 4 options.

When I do:
[code]
, an this error is generated:
[code]
Here, `my_attention_mask` is the same attention mask tha

[2020-10-14 16:05] #7755 closed

[2020-10-14 16:10] OyvindTafjord opened #7789 "Recommended Adafactor settings for T5 cause error"
## Environment info
- `transformers` version: 3.3.1
- Platform: Darwin-19.6.0-x86_64-i386-64bit
- Python version: 3.7.7
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): 2.2.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@sshleifer   (from activity on Adafactor PRs)

## Information

Model I am using (Bert, XLNet ...):

[2020-10-14 16:20] phtephanx commented on #6873
@sgugger Is the memory leak during evaluation fixed by https://github.com/huggingface/transformers/pull/7767 ?

[2020-10-14 16:23] lalitpagaria commented on #7785
Sorry it was my mistake, I need to get generated ids calling `model.generate` instead of `model`.

Adding fix here if anyone search for the same issue -

[code]

[2020-10-14 16:29] sgugger commented on #6873
I don't know, as I have not had time to investigate the leak during evaluation on TPUs yet.

[2020-10-14 16:44] agemagician commented on #7716
The original pretrained model [ProtBert-BFD](prot_bert_bfd) was trained using [Google Bert script](https://github.com/google-research/bert) on TPU, which automatically add these special tokens.

This allows us to perform also document-level classification as you mentioned. Like [ProtBert-BFD-MS](https://huggingface.co/Rostlab/prot_bert_bfd_membrane?text=M+G+L+P+V+S+W+A+P+P+A+L+W+V+L+G+C+C+A+L+L+L+

[2020-10-14 17:19] shainaraza commented on #7682
thanks @NielsRogge  for the splendid information

[2020-10-14 17:38] nreimers commented on #6751
The model uploaded by @pvl mentioned by @aalloul  performs the wrong pooling, i.e., embeddings produced by that model are NOT the same as the embeddings from the TFHub version.

I uploaded the model with the right pooling here:
https://huggingface.co/sentence-transformers/LaBSE

It tested it against the TF Hub version and it produces similar embeddings (small epsilon difference due to different pa

[2020-10-14 17:44] vikigenius commented on #7771
@patrickvonplaten, thanks for the response. In that case is there no way to trace the inference process of generative models provided here ? So any kind of inference of the form text -> text (for eg: summarization) cannot be exported to torchscript ?

[2020-10-14 17:57] jsrozner commented on #7765
@patil-suraj Thank you! Would there be an easy way to somehow silence the warning, or print a logging statement from huggingface library that the warning can be safely ignored?

[2020-10-14 18:15] agemagician opened #7791 "T5 Conversion from Original Tensorflow Produce rubbish Text"
## Environment info
- `transformers` version: 3.0.2
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

 Text Generation: @TevenLeScao
 T5: @patrickvonplaten

## Information

Mod

[2020-10-14 18:19] sshleifer opened #7792 "[stas/sam] Newsroom dataset wierdness"
#### get data
[code]

[code]

Clue:

In vim, the "Pasquale Rotella" line is 654 (off by 7/possible other bug), but it is 659/660 in the ds.
similarly, `linecache` disagrees with `wc -l` about file lengths.

[code]

[2020-10-14 18:28] sshleifer commented on #7792
Here is part of the problem

![image](https://user-images.githubusercontent.com/6045025/96030008-6e2fb380-0e29-11eb-96c6-994955fa588d.png)

all one line (221  in vim)

[2020-10-14 18:39] stas00 commented on #7792
Oh, I know - it's \cM characters. Let me take care of it.

[code]

[2020-10-14 18:39] sshleifer commented on #7792
Easiest way to clarify will be to say how I fixed (in vim)

(1) `%s/^M//g`  # This is not ctrl-m it must be typed by following these [instructions](https://stackoverflow.com/questions/5843495/what-does-m-character-mean-in-vim#:~:text=Windows%20uses%20a%20combination%20of,letter%20in%20the%20English%20alphabet).&text=Where%20%5EM%20is%20entered%20by,m%20%2C%20and%20then%20releasing%20Ctrl%20.)

(2)

[2020-10-14 18:41] stas00 commented on #7792
[code]

[2020-10-14 18:41] stas00 commented on #7792
I will fix that in the build script

[2020-10-14 18:44] #7792 closed

[2020-10-14 18:45] stas00 commented on #7792
[code]

[2020-10-14 19:12] dciborow commented on #7697
Also stumbled upon this package. I was surprised we were forced to add the RC version of tokenizers. I would expect this to be pinned to "0.8.1" or "0.9.1"

[2020-10-14 19:16] dciborow commented on #7697
https://github.com/huggingface/transformers/pull/7794 to update to release version 0.9.1

[2020-10-14 19:25] nrjvarshney commented on #7770
Yes,
Can you point me to such an implementation?
huggingface Squad Question answering code handles a lot of edge cases like start token should be before the end token, find n best predictions etc.
@NielsRogge , Is there a simpler implementation for the question answering task?

I found one in the documentation but that doesn't handle the predictions, sanity checks, n_best predictions etc.

[2020-10-14 19:41] carson-sestili commented on #7539
FYI for anyone else having this issue, I had the same issue using `Trainer.evaluate()` on a `T5ForConditionalGeneration` model.
The latest `transformers` version `3.3.1` was [released](https://github.com/huggingface/transformers/compare/v3.3.1...master) a few days before the [fix PR](https://github.com/huggingface/transformers/pull/7542), so looking forward to the next version with the fix :)
than

[2020-10-14 20:31] danaludwig commented on #7773
Update - this is not a bug in run_ner.py, but sort-of a documentation bug.  The page that describes how to do NER does not document that you first need to copy "tasks.py" and other scripts, into your local current directory.

https://github.com/huggingface/transformers/tree/master/examples/token-classification/README.md

For instance, you could provide a list of "wget" commands.  This may seem obv

[2020-10-14 20:42] sshleifer commented on #7771
Yes, if you want to make it faster, reduce `num_beams`

[2020-10-14 20:44] sshleifer commented on #7789
Yes can you fix?
it's basically copy pasted from https://fairseq.readthedocs.io/en/latest/_modules/fairseq/optim/adafactor.html

[2020-10-14 21:09] jsrozner opened #7796 "T5 finetune outputting gibberish"
## Environment info
- `transformers` version: 3.3.1
- Platform: Linux-4.4.0-116-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: (tried with both 1 and 2 gpus)

### Who can help
 Summarization: @sshleifer
 T5: @patrickvonplaten

[2020-10-14 21:09] dslim23 opened #7797 "BertForSequenceClassification -> TFBertForSequenceClassification causes 'bert.embeddings.position_ids' not used error"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.9.0-13-amd64-x86_64-with-debian-9.13
- Python version: 3.7.8
- PyTorch version (GPU?): 1.4.0 (True)
- Tensorflow version (GPU?): 2.3.1 (True)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert, XLNet ...):

[code]

I'm loading TFBertForSeq

[2020-10-14 21:11] dslim23 commented on #7797
ah looks like this fix should work for BERT as well? https://github.com/huggingface/transformers/pull/6063

I can go ahead and open a PR if that sounds good
@LysandreJik

[2020-10-14 21:14] sshleifer commented on #7796
`some other parameter to change?`: BINGO

there is a `min_length`/`max_length` parameter you can pass to beam search (in many ways) that is affecting your generations.
If you eval offline with min_length=0, max_length=3 it should work.

[2020-10-14 21:14] #7796 closed

[2020-10-14 21:16] bharathc346 commented on #7782
If you don't need early stopping just comment out `early_stop_callback=early_stopping_callback` on line 379 of `/home/ioannis/Desktop/transformers/examples/lightning_base.py`. You should be able to run your script.

I think lightning may have changed their api

[2020-10-14 21:22] jsrozner commented on #7796
Cool! Sorry for the n00biness.
1. Is there somewhere I can read about when / why this happens?  (or in brief, why does it happen?)
2. min_length and max_length will just limit how long the output sequence can be? Where's the best place to input them? Just directly from finetune.py?

[2020-10-14 21:48] #7783 closed

[2020-10-14 22:03] chambliss commented on #7480
@patrickvonplaten @julien-c Thanks for the response guys! I'm not sure why the directory wasn't found the first time, but I tried it again just now (from inside the /chambliss directory, so `~/.cache/food-ner/models/chambliss$ transformers-cli upload distilbert-for-food-extraction`, as suggested) and it worked.

As a user, it is a little confusing for a reference to the correct directory not to wo

[2020-10-14 22:09] sshleifer commented on #7796
1) you can read the [docstring for `generate`](https://github.com/huggingface/transformers/blob/master/src/transformers/generation_utils.py#L135)
2) I would edit `finetune.py ` around [here](https://github.com/huggingface/transformers/blob/master/examples/seq2seq/finetune.py#L215)
3) It should learn good lengths within the hardcoded range. It's simply not allowed to go out of the hardcoded range.

[2020-10-14 22:16] stefan-it commented on #7668
Hi guys,

sorry for the late reply! I have no strong opinion on that topic, so I would just say that license of our `dbmdz` models will be MIT, because we're usually use this kind of license for both software and our pre-trained LMs :)

[2020-10-14 22:57] ankane commented on #7668
Great, thanks @stefan-it! That makes it clear that the model is open source :tada:

It'd be good to add a model card with the license. I personally think the most accurate summary of the model license is Apache-2.0 + MIT, unless it wasn't derived from Apache-2.0 work.

[2020-10-15 00:34] shizhediao commented on #6616
same question

[2020-10-15 02:15] QuantumEntangledAndy opened #7800 "Empty Conversation Responses"
## Environment info
Mac OS 10.14

My work is in rust, and I have an issue open in guillaume-be/rust-bert#87 however the authour of the repo asked that I also open it here to get HugginFace's opinion as it pertains to code that matches the intention of that in this repo.

- `transformers` version: rust-bert 0.10.0
- Platform: Mac OS
- PyTorch version (GPU?): No
- Tensorflow version (GPU?): No
- Usi

[2020-10-15 02:38] hhaoyan commented on #5605
I'm also puzzled by this. The calculations here seems incorrect.

[2020-10-15 02:39] anidiatm41 opened #7801 "Can not convert the the custom trained BERT model to pytorch model for further use which should give me .bin file"
# 📚 Migration

## Information

I pre trained a bert model from scratch with custom corpus and now want to use that model for further purpose like Qand A, masked word prediction etc. After pre- training I got below files:

bert_config.json bert_model.ckpt.data-00000-of-00001 bert_model.ckpt.index vocab.txt bert_model.ckpt.meta

Now , I need to convert the the model to pytorch model for further use

[2020-10-15 05:36] jsrozner commented on #7796
I'm still a little confused as to why this happens though. For example,
* why doesn't it get penalized for the gibberish?
* why isn't the gibberish at all linguistic, even? I would expect it at least to add mostly english-like tokens? These strings seem entirely non-lingustic.

Related: is there an easy flag to change so that I could view part of the validation outputs at each epoch to keep track

[2020-10-15 06:18] julien-c commented on #7800
Also pinging @patrickvonplaten for info

[2020-10-15 08:17] patrickvonplaten commented on #7800
Hey @QuantumEntangledAndy, I updated the config paramateres of all DialoGPT models to `max_length=1000`, see here: https://github.com/huggingface/transformers/issues/7764 -> this problem should now be solved for the DialoGPT models.

I think this is the correct way to tackle this problem - we don't want to change the `generation` code logic here just for Conversational models.

[2020-10-15 08:23] patrickvonplaten commented on #7791
Hey @agemagician - did you train your model using the "newer" T5 model (see here https://github.com/huggingface/transformers/issues/6285) for reference, by any chance?

[2020-10-15 08:29] QuantumEntangledAndy commented on #7800
I do not believe this will resolve the issue with min_length. Surly the expected behavior of min_length in a conversation model would be the min length of the new utterence not the length of context + new utterence.

Lets say I set min length to 2, because I want my bot to always say something and I say, "What shall we watch?" This has a length of 4 (five with with eos) this is added into the cont

[2020-10-15 08:30] agemagician commented on #7791
No, this is the original T5 model.

I just doubled checked with the training script as well as the operative_config :
https://storage.googleapis.com/t5_convert_tranformers/model/operative_config.gin

[2020-10-15 08:44] patrickvonplaten commented on #7791
Ok! From a first check of your google colab it looks like the model was correctly converted to PT (the `"Weights not copied to PyTorch model:` message is empty meaning that all PT weights are initialiazed).

Do you think you could check if it might be the tokenizer that does not work correctly? Could you maybe run an integration test for some `input_ids` to check if original t5 implementation yiel

[2020-10-15 08:48] AmitChaulwar opened #7803 "TPU pod training with BERT"
## Environment info

- `transformers` version:3.3.1
- Platform: TPU
- Python version:
- PyTorch version (GPU?): 1.6 TPU v3-32
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?: Yes

### Who can help

## Information

Model I am using (Bert):

The problem arises when using:
* [x] the official example scripts: (give details below)
* [] my own modif

[2020-10-15 08:51] LysandreJik commented on #7765
I believe this warning has been hidden on the `master` branch, and will be hidden in the next release. See [this](https://github.com/huggingface/transformers/blob/master/src/transformers/trainer_pt_utils.py#L114-L119).

[2020-10-15 08:55] patrickvonplaten commented on #7800
Sorry I misread your issue a bit here.

I understand your reasoning here. Are you using the pipelines or the "normal" generate() function?

I think we could tweak the `ConversationPipeline` a bit to better handle the `min_length` parameter.

 Note that because the `input_ids` get longer with every conversation you have with the bot, `min_length` only works for the very first conversation in pipeli

[2020-10-15 08:59] LysandreJik commented on #7773
Hello! In order to run the script, you should generally clone the repository and run the scripts from there. Running a single script will very rarely work. You'd be way safer doing the following (showing you the full setup + venv setup):

[code]

[2020-10-15 09:02] QuantumEntangledAndy commented on #7800
I use the ConversationPipeline. I think perhaps the ConversationPipeline should update the min_length on call like this:

[code]

Since we do have such a member in the class although it is set to 32 which seems a little high

https://github.com/huggingface/transformers/blob/0911b6bd86b39d55ddeae42fbecef75a1244ea85/src/transformers/pipelines.py#L2375-L2382

However I think it is high as this is the

[2020-10-15 09:02] #7563 closed

[2020-10-15 09:07] JohnPFL opened #7804 "Problem in generating sentences with GPT2"
## Environment info

- `transformers` version: 3.3.0
- Platform: Linux-3.10.0-1062.12.1.el7.x86_64-x86_64-with-centos-7.7.1908-Core
- Python version: 3.6.8
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

Hello,
@LysandreJik  @TevenLeScao.
I'm using GPT2 to generate some text,

[2020-10-15 09:08] QuantumEntangledAndy commented on #7800
If you want to test this out for yourself and see the blank responses this should work

[code]

[2020-10-15 09:08] LysandreJik commented on #7697
Hi, we have a strict requirement on `tokenizers==0.8.1rc2`. We're updating it in https://github.com/huggingface/transformers/pull/7659 but the current `transformers` `master` branch will stay pinned until that PR is merged.

Both libraries evolve quickly and generally evolve together, so having a strict `==` dependency is necessary until tokenizers version 1.0.0 is released.

[2020-10-15 09:08] #7697 closed

[2020-10-15 09:11] LysandreJik commented on #7803
Hi, I believe there is an error in your pytorch/xla install. I would follow the docs shared on [pytorch/xla](https://github.com/pytorch/xla) for best results.

[2020-10-15 09:22] LysandreJik commented on #7801
Hello! It seems you're running the BART conversion script for a BERT model?

[2020-10-15 09:24] AmitChaulwar commented on #7803
Actually, I am using Google cloud for running the training job. And it comes already with torch-xla-1.6 environment and the imagenet example works file.

As fas as I understand the problem is here https://github.com/pytorch/xla/blob/53eb3fc5e701cb8cc79a45dd0f79c6e585a27a41/torch_xla/core/xla_model.py#L18.
I do not understand what is the problem though.

[2020-10-15 09:29] LysandreJik commented on #7803
I don't really understand how you're launching your training. Our `xla_spawn.py` already takes care of parallelizing. I would do the following:

[code]

[2020-10-15 10:04] julien-c commented on #7480
no, it is indeed supposed to work as you describe, specifying the dir from any point in your filesystem.

Let us know if that's not the case.

[2020-10-15 10:06] AmitChaulwar commented on #7803
This works when I am using 8 core TPU. However, when I try to use TPUv3-128, then I get the error about cluster resolver. So I follow the instructions from here https://cloud.google.com/tpu/docs/tutorials/pytorch-pod#configure-gcloud. Also, the PyTorch lightning website also refers to the same page https://pytorch-lightning.readthedocs.io/en/latest/tpu.html.

[2020-10-15 10:14] Subfly opened #7805 "pip3 install issue"
## Environment info

- `transformers` version: 3.3.1
- Platform: macOS
- Python version: 3.8.2
- PyTorch version (GPU?):-
- Tensorflow version (GPU?):-
- Using GPU in script?:-
- Using distributed or parallel set-up in script?:-

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my ow

[2020-10-15 10:15] agemagician commented on #7791
I have loaded the original T5 tokenizer and encoded then data and performed generation using Pytorch to make sure the input is the same for both original T5 script and Pytorch script, and the results is still rubbish.

I have checked the original T5 tokenizer and Pytorch tokenizer and they produce the same encoding/decoding. The only difference is that Pytorch tokenizer doesn't append Eos.

[2020-10-15 10:18] agemagician commented on #7791
Since the input is the same to both original T5 script and Pytorch script, I think there is something that might be wrong in either the conversion process or generation process.

[2020-10-15 10:24] patrickvonplaten commented on #7800
I think I would be fine to add this to the Conversation Pipeline.  Do you want to open a PR and we see how to integrate it?

[2020-10-15 10:25] LysandreJik commented on #7803
Ah, I see. Unfortunately, I don't have sufficient experience with TPU pods to help you debug this. Can you try to open an issue on pytorch/xla's github?

[2020-10-15 10:25] patrickvonplaten commented on #7791
Thanks, I hope to be able to take a look at this soon!

[2020-10-15 10:28] LysandreJik commented on #7805
This seems to be an error when installing `regex`, can you install it on its own? If you cannot, please open an issue on [their repo](https://bitbucket.org/mrabarnett/mrab-regex/issues?status=new&status=open).

[2020-10-15 10:30] Subfly commented on #7805
Thank you, I was not aware of that even I looked into trace twice. Closing the issue.

[2020-10-15 10:30] #7805 closed

[2020-10-15 10:43] patrickvonplaten commented on #7781
@jsilter - great catch! I agree 100% with your suggestion! Do you want to open a PR to fix it? :-)

[2020-10-15 10:49] AmitChaulwar commented on #7803
That's sad. Am I right, that Huggingface does not have TF implementation of Language models? I could try to switch to TF and try. Anyways, I have opened an issue on PyTorch/xla.

[2020-10-15 11:03] QuantumEntangledAndy commented on #7800
Before I do any PR Id like some input on design choices.

- Should I also set max_length?

  - If I do set it too I believe it will no longer be necessary to remove old conversations to have room for new content.

  - However for very long chats perhaps a chat bot that keeps saves and reloads it's memory. This may become computational expensive

  - In light of this would a convenience function th

[2020-10-15 11:25] ioannist commented on #7782
I uninstalled and installed pytorch_lightning 0.9.0 and it worked. During a fresh install and git pull I noticed that the two libraries missing were gitpython and lightning so I just installed their latest versions.

Unfortunately, the script runs for a couple minutes and the ends without any warnings or errors at:
[code]

I don't get any killed warnings but the only files produced in output dir a

[2020-10-15 11:34] LysandreJik commented on #7803
No, we do have TF implementations of language models. Most of our models are available in both PyTorch and TensorFlow.

[2020-10-15 11:48] VasudevGupta7 opened #7806 "Import error when fine-tuning mbart from master branch"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (True)
- Tensorflow version (GPU?): 2.3.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@mfuntowicz @sshleifer

## Information

Model I am using (mBART):

The prob

[2020-10-15 12:12] #7788 closed

[2020-10-15 12:14] h56cho opened #7807 "ValueError: too many values to unpack (expected 4)"
Hello,
I am trying to feed in the hidden output of the embedding layer of the `LongformerForMultipleChoice` model directly into the m-th layer of the same model. Each of my multiple-choice question that has 4 options. I am trying to tweak the HuggingFace code for Longformer to carry out my task, but I am rather perplexed by the ValueError (see below) that I am getting. I know that this can be cumb

[2020-10-15 12:28] alexvaca0 opened #7808 "Pipeline(summarization): CUDA error: an illegal memory access was encountered"
## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu 18
- Python version: 3.7
- PyTorch version (GPU?): 1.5.0 (YES)
- Tensorflow version (GPU?): 2.2.0 (YES)
- Using GPU in script?: YES
- Using distributed or parallel set-up in script?: NO

### Who can help

@sshleifer

## Information

Model I am using (Bert, XLNet ...): BART for Summarization (pipeline)

The problem arises when

[2020-10-15 12:29] anidiatm41 commented on #7801
Yeah, but I got to fix this.
-Anirban

On Thu, 15 Oct, 2020, 2:52 PM Lysandre Debut, <notifications@github.com>
wrote:

[2020-10-15 12:36] lucadiliello opened #7810 "Metrics calculate error: can only calculate the mean of floating types. Got Bool instead"
## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu 18.04
- Python version: 3.7.7
- PyTorch version (GPU?): 1.6.0 GPU
- Tensorflow version (GPU?): -
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
Someone working on the examples/GLUE benchmarks

## Information

Model I am using (Bert, XLNet ...): BERT

The problem arises when

[2020-10-15 12:44] patrickvonplaten commented on #6266
@agemagician - didn't find time yet sadly.... :-/ Hope to have a bit more time in ~2 weeks

[2020-10-15 12:50] pvcastro commented on #7637
@jplu thanks for the fix!
Did you get to open another issue for this?

[2020-10-15 13:15] agemagician commented on #6266
Thanks, I will ping you after 2 weeks :)

[2020-10-15 13:30] ioannist commented on #7782
Awesome! I manually installed pytorch_lightning and gitpython as they were not included in the transformers installation and the rag requirements file.

[2020-10-15 13:30] #7782 closed

[2020-10-15 13:31] ppyu opened #7812 "the results of run_squad.py is terrible"
# ❓ the results of run_squad.py is terrible
## I runned run_squad.py and the results is as folllows:
`Results: {'exact': 40.25098964036048, 'f1': 44.224848486777795, 'total': 11873, 'HasAns_exact': 80.61740890688259, 'HasAns_f1': 88.57652261867625, 'HasAns_total': 5928, 'NoAns_exact': 0.0, 'NoAns_f1': 0.0, 'NoAns_total': 5945, 'best_exact': 50.11370336056599, 'best_exact_thresh': 0.0, 'best_f1': 5

[2020-10-15 13:37] ghpu commented on #5314
I have the same problem with transformers 3.3.1 and a BertModel

[2020-10-15 14:01] sshleifer commented on #7808
I would guess that that traceback is either masking OOM or IndexError. You will get a better traceback if you try on CPU.

[2020-10-15 14:05] sshleifer commented on #7796
+ You need the min_length, just pass min_length=0 to `model.generate`
+ re padding, yes. There is no loss for pad tokens.
+ no flag to see intermediate generations, but https://github.com/huggingface/transformers/blob/master/examples/seq2seq/callbacks.py#L83 should maybe work.

[2020-10-15 14:21] sshleifer opened #7814 "BART/TFBart: allow decoder_input_ids.shape[-1] > 1 + use_cache = True"
There is an edge case fixed in https://github.com/huggingface/transformers/pull/4581
Try to apply the same logic to bart/move input_id slicing to prepare_inputs_for_generation

[2020-10-15 14:22] ClaartjeBarkhof opened #7815 ""Cannot re-initialize CUDA in forked subprocess." error when running "transformers/notebooks/05-benchmark.ipynb" notebook"
## Environment info
I am getting this error on a server, but also on Collab, so giving the Collab specs:

- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (True)
- Tensorflow version (GPU?): 2.3.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No?

And on

[2020-10-15 14:24] LysandreJik commented on #7815
Might be of interest to @patrickvonplaten

[2020-10-15 14:25] LysandreJik commented on #7806
Could you fill-in the issue template for bugs so that we may help you?

[2020-10-15 14:34] ioannist opened #7816 "RAG - MissingIndex: Index with index_name 'embeddings' not initialized yet"
## Environment info
transformers version: 3.3.1
Platform: Ubuntu
Python version:3.6.12
PyTorch version (GPU: yes): 1.6.0
Using GPU in script?: 1 gpu
Using distributed or parallel set-up in script?: no

### Who can help
@patrickvonplaten @sgugger

## Information
model name: facebook/rag-sequence-base

The problem arises when using the official example scripts: (give details below)
The tasks I am wo

[2020-10-15 14:52] julien-c commented on #7668
On the technical side, just took a look at the code and our YAML parser would support an array of licenses, so feel free to open a PR with

[code]

On the legal side, 🤷‍♂️

[2020-10-15 15:50] VasudevGupta7 commented on #7806
Please checkout now.

[2020-10-15 16:09] stas00 opened #7821 "[testing] trainer tests fail - 2 issues"
trainer tests seem to have several issues:

[code]

1.

[code]

the test should skip and not fail if the user doesn't have Comet.ml

2. wandb seems to still be problematic when there is an error in the test.
[code]
I have to add `WANDB_DISABLED=true` to overcome those.
There was an issue about it earlier, but I am not able to find it.

Full report:
[code]

Thank you!

## Environment info

[code]

[2020-10-15 16:13] stas00 opened #7822 "[testing] test_modeling_deberta.py is failing"
[code]

[code]

Thank you!

## Environment info

[code]

@sgugger, @LysandreJik

[2020-10-15 16:15] kaletap opened #7823 "Support for custom data_collator in Trainer.train() with datasets.Dataset"
# 🚀 Feature request

Currently (transformers==3.3.1) Trainer removes unknown columns (not present in forward method of a model) from datasets.Dataset object. It prevents using custom DataCollator in `.train` method since it doesn't have columns that one would want to use.

I would be interested in an option to not remove unknown columns and allow user to handle them in DataCollator (or provide the

[2020-10-15 16:38] k8si commented on #7492
For what it's worth, my main issue is with the behavioral issues with the Python vs. Rust tokenizers, not with the SQuAD data processing itself (I can easily write my own SQuAD processor but writing my own tokenizers is more work--the tokenizers are part of why I've been using the library in the first place).

It places a sizeable burden on people coding against the library that different kwargs r

[2020-10-15 16:40] jsrozner commented on #7765
Cool! Looks like originally in #7401. I pulled master and confirmed that this is fixed.

Any notes on the computational graph warning that also pops up?
../python3.8/site-packages/pytorch_lightning/utilities/distributed.py:37: UserWarning: Could not log computational graph since the model.example_input_array attribute is not set or input_array was not given

[2020-10-15 16:41] sshleifer opened #7824 "Bart Caching: do we need encoder outputs after step 1?"
since projected cross attention k,v are cached, this doesn't seem like it's actually needed.
Maybe we could save some mem if we deleted them after we were done.

[2020-10-15 16:42] geekydevu commented on #3624
@patrickvonplaten can you share the notebook which show T5 pre-training if it is available ?

[2020-10-15 16:57] sshleifer commented on #7806
you need to upgrade tokenizers.
It should happen for you if you run `pip install -e .[dev]` from the root of the repo.

[2020-10-15 17:00] sshleifer opened #7825 "RFC: Move `_NoLayerEmbedTokens` to modeling_tf_utils.py"
It has 0 computation and will be needed in many places. Here is the code:

[code]

I will copy it into tfbart to avoid getting bogged down in debate, but wdyt @patrickvonplaten ?

[2020-10-15 17:00] sshleifer commented on #7825
`TFSharedEmbeddings` is in `modeling_tf_utils.py`
This is very similar.

[2020-10-15 17:06] h56cho commented on #7807
I solved the issue by myself

[2020-10-15 17:06] #7807 closed

[2020-10-15 17:22] sgugger commented on #7823
Just set `remove_unused_columns=False` in your `TrainingArguments` to disable that behavior.

[2020-10-15 17:23] h56cho opened #7827 "Do I need to apply the softmax function to my logit before calculating the CrossEntropyLoss?"
Hello, I am trying to compute the CrossEntropyLoss directly by using this code:
[code]
If the reshaped_logits contain the logit values before softmax, should I apply `nn.softmax` function before I do `loss_fct(reshaped_logits, mc_labels)`? Thank you,

[2020-10-15 17:24] sgugger commented on #7821
All tests are passing on my side and the CI so it's something in your environment that triggers the failures. Could you add what you have inside it?

[2020-10-15 17:29] guillaume-be commented on #7800
Thank you @QuantumEntangledAndy for sharing the issue here, as I believe it affects both implementation.

If I may, I'd like to add my view on the issue, which I believe is not tied to the `ConversationPipeline`, but rather on how `min_length` and `max_length` and handled for non-"encoder-decoder" architectures.

I would like to question the validity of setting the `cur_len` to the input sequence

[2020-10-15 17:34] stas00 commented on #7821
This?

[2020-10-15 18:18] julien-c commented on #6976
This is now fixed on https://huggingface.co/unc-nlp/lxmert-base-uncased, thanks for the heads up

[2020-10-15 18:18] #6976 closed

[2020-10-15 18:23] stas00 commented on #7821
Right, so this comes from `transformers`:

[code]
and it fails in:
[code]
and it has a check:
[code]
so the tests need to do something about it.

I have never explicitly installed `comet_ml`, but some other package installed it as a dependency. Yet, I don't have this service configured. It's like `wandb` - it needs to gracefully skip tests if `comet_ml` is installed but not configured. To configur

[2020-10-15 18:26] stas00 commented on #7821
Seems to come from:
https://github.com/huggingface/transformers/commit/b923871bb78f538e3c2e4bf36776986c800da1ae
So I guess you're the right person to ask about it ;)

[2020-10-15 18:29] julien-c commented on #7493
Also @golsun on the inference API, you can have custom label names (instead of just `LABEL_0` here) if you set your label names in your `config.json`

See https://huggingface.co/roberta-large-mnli's config.json file for an example

[2020-10-15 18:47] golsun commented on #7493
Awesome! thank you @LysandreJik @julien-c

[2020-10-15 18:47] lalitpagaria opened #7829 "[RAG] RagSequenceForGeneration: Running "retriever separately example" giving error"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@patrickvonplaten @LysandreJik

## Information

Model I am using (Bert, XL

[2020-10-15 18:53] lalitpagaria opened #7831 "[RAG] RagSequenceForGeneration should not load "facebook/rag-token-nq" and RagTokenForGeneration also should not load "facebook/rag-sequence-nq""
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@patrickvonplaten
## Information

Model I am using (Bert, XLNet ...): RAG

[2020-10-15 18:55] stas00 commented on #7821
Found a better solution https://github.com/huggingface/transformers/pull/7830

`comet_ml` needs to have `comet_ml.ensure_configured()` ala `wandb.ensure_configured()` - I am not sure whether ` @dsblank could add/ask for it. Thank you!

[2020-10-15 18:59] stas00 commented on #7821
and wandb needed the latest version - which fixed the `OSError: [Errno 29] Illegal seek is still an issue`

[2020-10-15 19:05] jsrozner commented on #7796
Okay thanks, I will work on these.

I realize these are unrelated T5 issues, but before I file other feature requests /bugs I just wanted to run them by you:
* auto_lr_find and auto_scale_batch_size (pytorch lightning flags) when used from the finetune.sh script throw errors. Should these be usable? (I can debug and figure out why they're not working; but I want to know if they should be)
* I am u

[2020-10-15 19:08] stas00 opened #7832 "[testing] test_trainer_callback.py cannot collect test class 'TestTrainerCallback'"
something is wrong here:
[code]

another one in the same test:
[code]

hint: these are in the warnings section of the test.

@sgugger

[2020-10-15 19:18] sshleifer opened #7833 "[s2s trainer] tests fail on multi-gpu machine"
#### Command
[code]

#### Traceback
[code]

[2020-10-15 19:23] #7821 closed

[2020-10-15 19:26] danaludwig commented on #7773
Thank you; for future users, that would be super helpful to add that to the README.

Also, I think you need to cd to https://github.com/huggingface/transformers/tree/master/examples because the scripts assume that tasks.py etc are in the current directory.  But the “activate” may take care of that.

Thanks for everything – great software!

Dana

From: Lysandre Debut <notifications@github.com>
Sent

[2020-10-15 19:28] sgugger commented on #7832
It's just pytest thinking that class is a test because it begins by Test. Will fix, but this is very low priority for me as it runs as intended since pytest does not collect it. No idea about the other warning, but again, not important since the goal of that test is not to test gathered tensors, just the event flow.

[2020-10-15 19:35] stas00 commented on #7832
Yes, of course, there is no rush. I can take care of some of them.

In general - the problem with stray warnings is that if there is a problem one has to read through warnings to see if something related is related and if there is a lot of noise in there this wastes a huge amount of time, sifting grain from chaff. Warnings really should be treated as errors, IMHO, or be removed if they aren't impo

[2020-10-15 19:55] sshleifer commented on #7833
@stas00 would you be willing to take a look at this, either reusing the fix in https://github.com/huggingface/transformers/pull/7281.
If that doesn't work we can hack it like `tests/test_trainer.py`:

https://github.com/huggingface/transformers/blob/a1d1b332d07a40177ae1959609ab70dab34018b8/tests/test_trainer.py#L245

[2020-10-15 19:56] sshleifer commented on #7833
cc @patil-suraj

[2020-10-15 20:00] sshleifer commented on #7796
auto*: Would be nice if they worked!
it should work with `--resume_from_checkpoint`, but that part of lightning has been very flaky.

I probably won't fix either of these but would definitely accept a PR that allow clargs that currently don't work. You could also make separate issues for clargs that don't work, and label them "Help Wanted" and see what happens.

[2020-10-15 20:08] sgugger commented on #7832
I'm guessing you don't have TensorFlow installed then :-)

[2020-10-15 20:17] Rashwan commented on #4963
@LysandreJik  Any updates on this bug? this prevents resuming training from a checkpoint on TPUs

[2020-10-15 20:37] ankane opened #7838 "State of ONNX"
Hi, love the work that's going on with ONNX. I wanted to share the current state of ONNX support in case others were wondering about it (sorry for another table).

Pipeline | Supported
--- | ---
feature-extraction | ✓
sentiment-analysis | ✓
ner | ✓
question-answering | ✓
fill-mask | ✓
text-generation | ✓
translation | Broken https://github.com/huggingface/transformers/issues/5948#issuecomment-7016

[2020-10-15 21:08] julien-c commented on #7208
Addressed in https://github.com/huggingface/model_card/pull/3 so closing this one.

[2020-10-15 21:08] #7208 closed

[2020-10-15 21:15] stas00 commented on #7832
I do:

[code]

[2020-10-15 21:16] stas00 commented on #7833
Yes, I will work on it today, Sam.

[2020-10-15 21:18] patrickvonplaten commented on #7831
The model weights are actually 1-1 compatible with each other, so I see no reason why we should throw an exception here.

[2020-10-15 21:20] amanpreet692 commented on #7838
Hey, I tried exporting T5 for summarization but get the below error:
**You have to specify either decoder_input_ids or decoder_inputs_embeds**

I get a similar error for translation pipeline as well. Any workarounds available for this?
@patrickvonplaten @sshleifer

[2020-10-15 21:26] sgugger commented on #7832
And you don't get a thousand warnings from it?

[2020-10-15 22:47] stas00 commented on #7832
You must be alluding to tf generating a gazillion of useless logs and therefore what's another warning, correct?

I'd say if we had resources to do so there should be no warnings emitted in our test suite. So that when one appears we know that something is not right and fix it. It's like a house with a broken window that doesn't get mended. Others start breaking more windows because there is one b

[2020-10-15 22:51] stas00 commented on #7832
Moreover, I have been contributing for about 3 months now and I'm yet to be able to complete the test suite 100% error-free. There is always a handful of failing tests, which seem to be just fine on CIs. I'd like to work on that `USE_CUDA` elimination task, so I was hoping I could get `make test` to pass so that I'd have a working base line, but it's not quite there yet.

[2020-10-15 23:08] dirkgr opened #7840 "Token Type IDs returned from the tokenizer for T5 don't work with special tokens"
With `transformers-3.3.1`:

[code]

This results in
[code]

As you can see, the token type IDs don't align with the other outputs.

[2020-10-15 23:41] sgugger commented on #7832
The problem is that I don't know how to catch TF useless (or them not having fixed deprecation warnings for other python libs so not so useless) warnings and keep others.
As for running the whole test suite, I've never tried on non-CPU (like what the CI does) so I don't know what's failing there or if it's important ;-)

[2020-10-16 00:03] stas00 commented on #7832
It's be quite easy to do if we are talking about tf loggers. I wrote a function that you can do this selectively for any of the offenders of choice (or all of them).

But really we are going back to the PR that wasn't received well, where I proposed to optionally silence the loggers for external modules for the test suite - https://github.com/huggingface/transformers/pull/6816

It's probably impor

[2020-10-16 00:55] QuantumEntangledAndy commented on #7800
Hmmm I think I see what you mean with batch generation.

I am wondering what the use case of treating non encoder-decoders differently is. If for some reason we cannot reasonably change the definition perhaps we should consider adding different types of new lengths.

- minmax document length
  - This is current definition of min/max
- minmax generated length
  - This is the effective length the mo

[2020-10-16 01:33] sgugger commented on #7832
I think the slow tests run the CI on GPU (even GPUs) so the common tests are all passing on that setup. You may have other issues linked to your env.

[2020-10-16 02:27] ppyu commented on #2672
My result is the same as yours. Maybe we not use the argument `--version_2_with_negative` ?

[2020-10-16 02:29] ppyu commented on #7812
Maybe I not use the argument `--version_2_with_negative` while training on Squad V2.0 ?

[2020-10-16 02:38] JJJJane commented on #5654
Hi, @Colanim , could you share you eval script that get a score of 44.09 with facebook/bart-large-cnn? Thanks!

[2020-10-16 02:44] sz128 commented on #7827
There is no need to add  the nn.softmax function. Pls. refer to the [pytorch document](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html?highlight=crossentropyloss#torch.nn.CrossEntropyLoss).

[2020-10-16 02:54] stas00 commented on #7832
Only on scheduled CI which runs only a limited range of options. e.g. not testing newer pytorch releases.

[2020-10-16 02:58] Colanim commented on #5654
Basically I use `nlp` package to get the `cnn_dm` data, then run generation with :

[code]

and save the predictions and gold in text files. Then use the `files2rouge` package to get ROUGE scores.

Also don't forget to tokenize the predictions and gold with `StanFord CoreNLP` !

[2020-10-16 05:01] stas00 opened #7844 "[seq2seq distributed] child process stuck on error"
Filing an issue for myself to help move along https://github.com/huggingface/transformers/pull/7281
[code]
gets stuck if one of the child subprocesses throws an error.

Remove `skip_output_dir_check=True,` to reproduce the problem.

It could be related to realtime async read/write pipes getting into a deadlock - see the XXX warning in that test, need to first try whether the problem goes away if I

[2020-10-16 05:28] stas00 commented on #7833
the other temp fix option is to use `@require_non_multigpu`

[2020-10-16 05:47] stas00 commented on #7833
This is not the test's issue, but the script's one - this fails with the same error.
[code]

`AssertionError: Default process group is not initialized` means that the distributed setup is not done.

I will look more into it tomorrow morning.

Can you please clarify how do you think it could help? that line of code you quoted does nothing - it's just used for testing and it'll result in `n_gpu=2` a

[2020-10-16 06:21] cceyda commented on #7716
not to keep pushing my own PR https://github.com/huggingface/transformers/pull/5970 but this solves some existing problems related to NER pipelines. The current hold-up is whether or not this provides a general enough solution for various models/langs [*](https://github.com/huggingface/transformers/pull/5970#discussion_r504519659).
If fast tokenizers are supported by all I can switch to a better i

[2020-10-16 06:43] AmitChaulwar commented on #7803
However, this link says that there is not TFtrainer support for language-modelling using raw data.
https://huggingface.co/transformers/examples.html

Is there any example available for TFtrainer?

[2020-10-16 06:49] #7565 closed

[2020-10-16 06:52] LysandreJik commented on #7822
Good to know that this we need to update this code for version 1.8.0. Thanks!

[2020-10-16 06:54] LysandreJik commented on #7810
Great, this looks like the correct fix! Do you want to open a PR?

[2020-10-16 06:55] ttzHome commented on #6836
Do you solve the problem?......

[2020-10-16 06:55] LysandreJik commented on #5314
Could you please open a new issue with the full stacktrace + the information related to your environment?

[2020-10-16 07:00] MojammelHossain opened #7846 "BartTokenizer prepare_seq2seq_batch() does not return decoder_input_ids, decoder_attention_mask as per document after passing tgt_texts"
I am trying to train a seq2seq model using BartModel. As per BartTokenizer documentation if I pass tgt_texts then it should return decoder_attention_mask and decoder_input_ids please check the attachment for clarity.
![image](https://user-images.githubusercontent.com/47693507/96223213-5d10af00-0faf-11eb-9253-5985990f15f9.png)
But I am only getting input_ids, attention_mask and labels.
![image](htt

[2020-10-16 07:19] #7832 closed

[2020-10-16 07:34] LysandreJik commented on #7812
Indeed, not using that clarg would result in such bad results as you're not taking into account impossible answers. Can you let us know if you obtain better results with `--version_2_with_negative`?

[2020-10-16 07:51] ShivanshuPurohit opened #7847 "Where do the models go in colab?"
## Who can help

## Information

Model I am using (Bert):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [.] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [.] my own task or dataset: (give details below)
Semeval 2017 task 10 keyword boundary detection

## To reproduce

St

[2020-10-16 08:43] ghpu opened #7848 "RuntimeError with DistributedDataParallel"
## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu 18.04
- Python version: 3.7.7.final.0
- PyTorch version (GPU?): 1.6.0 gpu
- Tensorflow version (GPU?): X
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: distributed set-up
- Conda : 4.8.3
- cuda =11.0

### Who can help
 @LysandreJik  @sgugger

## Information

Model I am using (Bert, XLNet ...): b

[2020-10-16 08:44] ghpu commented on #5314
Done as issue #7848.

[2020-10-16 08:51] ppyu commented on #7812
After using `--version_2_with_negative`, the result is also not satisfactory.
Both exact and f1 are not exceed **80%**.

The results are as follows:
{"exact_20000": 73.88191695443443, "f1_20000": 76.9165287314905, "total_20000": 11873, "HasAns_exact_20000": 68.60661268556005, "HasAns_f1_20000": 74.68453873633385, "HasAns_total_20000": 5928, "NoAns_exact_20000": 79.1421362489487, "NoAns_f1_20000":

[2020-10-16 08:54] LysandreJik commented on #7812
That's already a lot better! What is this clarg `--squad_model bert_qa_model_squad`? It's not in the `run_squad.py` script?

[2020-10-16 09:04] ppyu commented on #7812
Oh ,I have adjusted some code from `run_squad.py` so that it could load and train my custom model from clarg.
And `bert_qa_model_squad` is the model whose code is copied from `BertForQuestionAnswering` in `transformers`.
So that I can design my custom model and then transmit it to the `run_squad.py` script.

[2020-10-16 09:07] LysandreJik commented on #7812
Does your script differ in any other way to the `run_squad.py` script? Does your model differ in any way to the `BertForQuestionAnswering` model in `transformers`? Have you tried running the standard command on the `transformers` script and model?

[code]

[2020-10-16 09:11] VasudevGupta7 commented on #7806
Thanks, it worked.

[2020-10-16 09:11] #7806 closed

[2020-10-16 09:14] kaletap commented on #7823
Great, I completely missed that! Thanks.

[2020-10-16 09:14] #7823 closed

[2020-10-16 09:17] ppyu commented on #7812
sorry, I will try later and tell you the results.

[2020-10-16 10:34] wmathor opened #7849 "how to save and load fine-tuned model?"
# ❓ Questions & Help

## Details

[code]
I have defined my model via huggingface, but I don't know how to save and load the model, hopefully someone can help me out, thanks!

[2020-10-16 10:58] ratthachat commented on #7831
Hi Patrick, I also believe there are typos regarding the examples :

On "sequence" based : https://huggingface.co/facebook/rag-sequence-nq , the examples use "token" arguments e.g.

[code]

[2020-10-16 11:29] lalitpagaria commented on #7831
@patrickvonplaten yes I think agree with you. I am closing this.

[2020-10-16 11:38] LysandreJik commented on #7492
You're correct that there is currently a mismatch between the python and rust tokenizers, and thank you for writing such a detailed issue explaining all of your pain points. We'll keep a close eye to the issues mentioned here as we continue working and improving the compatibility between the two APIs, which is something we will be working on in the near future.

[2020-10-16 11:42] NielsRogge commented on #7849
To save your model, first create a directory in which everything will be saved. In Python, you can do this as follows:
[code]
Next, you can use the `model.save_pretrained("path/to/awesome-name-you-picked")` method. This will save the model, with its weights and configuration, to the directory you specify. Next, you can load it back using `model = .from_pretrained("path/to/awesome-name-you-picked")

[2020-10-16 11:47] sgugger commented on #7848
The `BertModel` runs absolutely fine in `DistributedDataParallel` (just retried) so the issue probably comes from the rest of your code and not the library. I can't see the code for the `LosslessTripletLoss`, maybe the issues comes from there.

In any case, to debug I would follow the instruction given in the error message:
[code]

[2020-10-16 12:19] fra-luc opened #7850 "OperatorNotAllowedInGraphError in dbmdz/bert-base-italian-cased for Token Classification"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-5.4.0-1028-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.7
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.2.0 (True)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@LysandreJik @stefan-it

## Information

Model I am using (Bert, XLNet ..

[2020-10-16 12:51] ppyu commented on #7812
I have run the official `run_squad.py` script，and the result is as follows:
10/16/2020 19:34:00 - INFO - main -   Results: {'exact': 72.60170133917292, 'f1': 75.79599520268259, 'total': 11873, 'HasAns_exact': 72.2165991902834, 'HasAns_f1': 78.61434734167507, 'HasAns_total': 5928, 'NoAns_exact': 72.9857022708158, 'NoAns_f1': 72.9857022708158, 'NoAns_total': 5945, 'best_exact': 72.60170133917292, 'b

[2020-10-16 13:05] sshleifer commented on #7833
You need to launch with

[code]

caught me up as well.

[2020-10-16 13:42] yashgupta-7 commented on #7500
okay, thanks!

[2020-10-16 13:42] #7500 closed

[2020-10-16 13:53] lalitpagaria commented on #7831
@patrickvonplaten

I am seeing very weird behaviour. Various RAG generator and model combination giving me very different output.
I am not able to understand why?

Check output of generators for **"What is capital of Germany?"**  -
[code]
Output of above run is and it is consistent behaviour -
[code]

[2020-10-16 14:05] patrickvonplaten commented on #7831
https://github.com/huggingface/transformers/blob/master/model_cards/facebook/rag-sequence-nq/README.md

[2020-10-16 14:06] patrickvonplaten commented on #7831
Hey @lalitpagaria , the models are different in generating the answers - the results are not unexpected :-) If you take a closer look into the code you can see that both models expect the exact same weights, but have different generate() functions

[2020-10-16 14:10] lalitpagaria commented on #7831
Thanks @patrickvonplaten
I will play with few parameters of RegConfig.

[2020-10-16 14:10] #7831 closed

[2020-10-16 14:51] h56cho opened #7853 "SequenceSummary class in modeling_utils.py"
Hello,
I have a question about the documentation strings provided for the forward function of the SequenceSummary class from modeling_utils.py:
https://github.com/huggingface/transformers/blob/dc552b9b7025ea9c38717f30ad3d69c2a972049d/src/transformers/modeling_utils.py#L1484

So when `cls_index` is not specified as the argument in SequenceSummary() statement, is the last token of the sequence used

[2020-10-16 14:59] ghpu commented on #7848
Well, thanks for your tips.

But when using set_detect_anomaly, my problem seems to be located in EmbeddingBackward :

[code]

[2020-10-16 15:38] sshleifer commented on #7163
We've now replicated that our pegasus port performs similarly well to the authors implementation on 11 datasets, including arxiv.

![image](https://user-images.githubusercontent.com/6045025/96278960-21bcb300-0fa4-11eb-8ab3-8fb46c721818.png)

[2020-10-16 15:38] sshleifer commented on #7163
https://docs.google.com/spreadsheets/d/1ODfoK-tXOV6TLXDMnujdGLtFhA8oVTy-Cv6Ib6qKgWk/edit#gid=0

[2020-10-16 15:39] #7163 closed

[2020-10-16 15:40] #7347 closed

[2020-10-16 15:40] sshleifer commented on #7347
No it can't `from_pretrained` uses `FileLock`

[2020-10-16 15:41] sshleifer commented on #6709
Done by @jplu ! https://github.com/huggingface/transformers/blob/master/src/transformers/activations_tf.py#L50

[2020-10-16 15:41] #6709 closed

[2020-10-16 15:42] #5263 closed

[2020-10-16 16:04] sshleifer commented on #6844
Updated the table in the Issue description with most recent results after the `calculate_rouge_fix`
Moving forward, questions about specific results should be asked on the forums or in a separate issue with @stas00, @patil-suraj, and @sshleifer tagged.

[2020-10-16 16:04] #6844 closed

[2020-10-16 16:14] stas00 commented on #7833
In which case, yes, this would be 100% the same as https://github.com/huggingface/transformers/pull/7281 - let's finish it first, then refactor all that new code and use it here.

until then you can use `@require_non_multigpu` so that it doesn't interfere.

[2020-10-16 16:16] stas00 commented on #7833
I thought PL had a way of handling distributed internally w/o the user needing to call  `-m torch.distributed.launch` - is it not working or I misread it?

[2020-10-16 16:38] stas00 commented on #7822
Ah, right, I didn't notice that it was nightly specific - if I'm not mistaken this is really for 1.7 I think - it's hard to tell though.

[2020-10-16 17:21] sshleifer commented on #7833
These tests don't use PL.

[2020-10-16 18:01] antoniomastro1996 commented on #7538
@patrickvonplaten Any news?

[2020-10-16 18:11] #7122 closed

[2020-10-16 18:11] sshleifer commented on #7122
https://discuss.huggingface.co/t/marian-language-discovery-questions/739/4?u=sshleifer

[2020-10-16 18:11] #6993 closed

[2020-10-16 18:12] sshleifer commented on #6983
Reopen if this was a mistake!

[2020-10-16 18:12] #6983 closed

[2020-10-16 18:13] sshleifer commented on #6829
This is now supported by `Seq2SeqTrainer` which doesn't use PL.
See https://github.com/huggingface/transformers/blob/master/examples/seq2seq/builtin_trainer/finetune_tpu.sh

[2020-10-16 18:13] #6829 closed

[2020-10-16 18:14] #7808 closed

[2020-10-16 18:15] #7416 closed

[2020-10-16 18:15] sshleifer commented on #7245
wontfix

[2020-10-16 18:15] #7245 closed

[2020-10-16 18:17] sshleifer commented on #6369
Fixed by @stas00 for both trainers, thanks!

[2020-10-16 18:17] #6369 closed

[2020-10-16 18:58] Ceceu commented on #3170
@LysandreJik, @sgugger,

Unfortunately, even using a small dataset (~400MB), the Colab killed the process due to the use of all available RAM (12.72GB).

[2020-10-16 19:04] rohit497 commented on #7745
@patrickvonplaten can you help with this?

[2020-10-16 19:27] EvanZ commented on #7333
This breaks at least a couple of the tutorial notebooks.

[2020-10-16 19:32] jplu commented on #7333
If you get this message error:
[code]
It means you don't have at least TF 2.2 installed.

[2020-10-16 21:40] krrishdholakia commented on #7113
can someone share a nb of using finetune.py + t5, would love to see some examples for reference.

[2020-10-16 21:57] bdalal commented on #7140
@agemagician IIUC TensorRT needs a GPU with Tensor cores to work correctly. You're using a P100 in the notebook which doesn't have those. So Onnx will fall back to using CUDAExecutionProvider. Now that itself may be slow because of [this](https://github.com/microsoft/onnxruntime/blob/master/docs/ONNX_Runtime_Perf_Tuning.md#why-is-my-model-running-slower-on-gpu-than-cpu). I'd suggest setting verbos

[2020-10-16 22:24] jsrozner commented on #7113
Check out
https://discuss.huggingface.co/t/t5-seq2seq-custom-fine-tuning/1497/6 (details on tweaking your vocab if you need it)

The link above (https://discuss.huggingface.co/t/t5-for-conditional-generation-getting-started/1284) has links to other useful T5 posts on huggingface.

And I am looking for answers to this post for some other tips and tricks:
https://discuss.huggingface.co/t/t5-tips-for

[2020-10-17 01:08] wmathor commented on #7849
Should I save the model parameters separately, save the BERT first and then save my own nn.linear. Is this the only way to do the above? Is there an easy way?

[2020-10-17 01:16] BenF99 commented on #1558
Did you find a solution?

[2020-10-17 01:56] #7691 closed

[2020-10-17 02:05] guowenying111 opened #7862 "unshared Albert"
# ❓ Questions & Help

## Details

How can I remove ALBERT's parameter sharing during fine-tuning? (just use the albert as bert)

**A link to original question on the forum/Stack Overflow**:

[2020-10-17 03:18] wmathor commented on #7849
I validate the model as I train it, and save the model with the highest scores on the validation set using `torch.save(model.state_dict(), output_model_file)`. As shown in the figure below
![](https://s1.ax1x.com/2020/10/17/0qcWDg.png)

Then I trained again and loaded the previously saved model instead of training from scratch, but it didn't work well, which made me feel like it wasn't saved or lo

[2020-10-17 05:17] stas00 commented on #7743
a few clarification questions, @sshleifer:

Do we want this for the Reformer (As it's pegasus' super-class) or just pegasus?

Surely, returning `<n>` in the final results is half-baked. And surely, replacing those will break run_eval

How does run_eval currently handle this situation for other multiline generators? If it doesn't, then we should switch it to a different from plain text format to ha

[2020-10-17 06:10] AI678 opened #7865 "labels and decoder_input_ids"
# ❓ Questions & Help

## Details

what is the difference between labels  and decoder_input_ids for EncoderDecoderModel in the text summarization task?

**A link to original question on the forum/Stack Overflow**:

[2020-10-17 08:21] Anku5hk commented on #5948
Has anyone solved the issue??

[2020-10-17 09:09] Mandule opened #7866 "AttributeError: module 'tensorflow_core.keras.activations' has no attribute 'swish'"
# ❓ Questions & Help

## Details

tensorflow 2.0.0
after "pip install transformers", i import transformers, meet this error.

**A link to original question on the forum/Stack Overflow**:

[2020-10-17 09:39] wmathor commented on #7866
兄弟，升级tf到2.3

[2020-10-17 11:15] wangxinyu0922 commented on #6474
By the way, what is the accuracy of the model on the four datasets? The models are trained on document context or sentence context? I believe different context will affect the performance.

[2020-10-17 12:13] JaeDukSeo commented on #5918
would love if this comes in!

[2020-10-17 12:44] sshleifer commented on #7743
(1) just pegasus
(2) It doesn't handle the situation -- it leaves `<n>` in the output and trusts `calculate_rouge_score` (which alls `add_newline_to_end_of_each_sentence`) to temporarily remove `<n>` and then add `\n` between sentences, thereby computing `rougeLsum` correctly. This happens after results are saved, and therefore generations still have `<n>`.
https://github.com/huggingface/transform

[2020-10-17 16:19] stas00 commented on #7743
What I'm asking is shouldn't pegasus's `decode` deliver final results devoid of internally used tokens like `<n>`? If the input may contain `\n`, the output should match and also contain `\n` if the generator intended so.

If this is correct then our tools need to work with this requirement and not bend the requirements to their needs.

[2020-10-17 18:44] patrickvonplaten commented on #7825
I'm fine with moving this into `modeling_tf_utils.py`

[2020-10-17 18:46] patrickvonplaten commented on #7838
Hey @amanpreet692 - you need to provide both `input_ids` and `decoder_input_ids` for `EncoderDecoderModels`.

[2020-10-17 18:56] LittlePea13 opened #7871 "RAG generate function uses input_ids even when context_input_ids are given."
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-5.4.0-51-generic-x86_64-with-debian-buster-sid
- Python version: 3.6.8
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): 2.3.1 (False)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

I think @patrickvonplaten has been checking RAG issues

## Information

Mod

[2020-10-17 18:59] patrickvonplaten commented on #7800
Hey @guillaume-be,

I fully understand your point of view and I also tend to agree that the handling of `min_length` and `max_length` as described by you and I tend to agree with you (actually @sshleifer suggested this change a while back as well).

I guess the disadvantages of changing `max_length's` logic (making it "max added tokens" vs. "max total tokens") is the following:

- For models like

[2020-10-17 19:00] amanpreet692 commented on #7838
Hey @patrickvonplaten yep I get that, but the code implementation is such that we don't pass in the sample inputs for ONNX, the sample tokens are passed directly from within Pytorch onnx.export code I think which are consumed by the encoder and decoder inputs are empty.
I used https://github.com/huggingface/transformers/blob/master/notebooks/04-onnx-export.ipynb from @mfuntowicz  as a reference wi

[2020-10-17 19:45] patrickvonplaten commented on #7829
Hey @lalitpagaria - spot on! Thanks a lot for your issue, you're 100% correct here.

I actually noticed that the `RagSequence` generate function is a bit more complex so that we cannot do the decomposed (embed, retrieve, generate) example here...

The PR linked to the issue removes the use case from the examples and fixes the one for `RagToken...`.

[2020-10-17 19:55] yuvalkirstain opened #7873 "can't set evaluation_strategy to "epoch""
## Environment info

- `transformers` version: 3.3.1

### Who can help
@sgugger

## Information
Seems like we can't use the evaluation_strategy=epoch option. The default value of evaluate_during_training is boolean (False). In transformers/training_args.py, __post_init__ function, there is a check - `if self.evaluate_during_training is not None:` (line 326). If I'm not mistaken, it will always res

[2020-10-17 19:59] agemagician commented on #7140
Thanks @bdalal  for your reply. I have tested also on V100 but I had the same issue.
Anyway, I think the benefits vs troubles, seems to be not worth it for now.
I hope Nvidia, onnx and Pytorch provide a better integration on the future for tensor rt.

[2020-10-17 20:01] ajaykarpur commented on #7234
Same thing here with `transformers` `3.3.1` and `tokenizers` `0.8.1.rc2`.

[2020-10-17 20:04] patrickvonplaten commented on #7871
Hey @LittlePea13  - yes you are very much correct here. This PR linked to the issue should fix it. Thanks a lot!

[2020-10-17 20:06] patrickvonplaten commented on #7838
Hey @amanpreet692 - sorry this is not really my area of expertise here... @mfuntowicz - could you take a look?

[2020-10-17 20:10] patrickvonplaten commented on #5918
Hey @bratao,

Yes, we would definitely be interested in this model and would also be fine with an optional dependency of `https://github.com/idiap/fast-transformers` Also pinging @joeddav @TevenLeScao here (in case you guys are interested in helping with the integration).

I would also be happy to help you with the model integration otherwise @bratao :-)

[2020-10-17 20:18] patrickvonplaten commented on #7538
Yeah this looks good to me:

input_ids: I love <extra_id_0> and Mario.
decoder_input_ids: `decoder_start_token_id`
output/label: luca <EOS>

[2020-10-17 20:32] lalitpagaria commented on #7829
@patrickvonplaten Thank you for update. I tried your changes on my code snippets and still got same error. If you see my example I am passing `context_input_ids`

I am tried one dirty hack https://github.com/lalitpagaria/transformers/commit/17bbd4dc94da1a2ed7bc9f27974582d6774673d4 and got following error (long stack trace but pasting here if this help) -
[code]

[2020-10-17 20:46] #7829 closed

[2020-10-17 20:46] #7871 closed

[2020-10-17 21:24] sgugger commented on #7873
This has been done already, see [here](https://github.com/huggingface/transformers/blob/master/src/transformers/training_args.py#L335). But you need to install from source for that, since the change is recent,

[2020-10-17 21:26] LysandreJik commented on #7822
Ah, possible! I will take a look :)

[2020-10-17 21:27] LysandreJik commented on #7850
This might be of interest to @jplu

[2020-10-17 21:34] jplu commented on #7850
Hello!

For now you cannot use the `.fit()` method to train a TF model. This will be possible in a next release.

If you want to train a NER model please use the TF trainer.

[2020-10-17 21:35] lalitpagaria opened #7874 "[Rag] extend_enc_output fails when number of retrieved documents not equal to RagConfig.n_docs"
## Environment info

- `transformers` version: 3.3.1
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): Rag

[2020-10-17 22:40] FerusAndBeyond opened #7875 "How to do categorical sequence classification?"
Whenever I have a sequence of max length y of batch size x: (x, y) and categorical (z) classification (x, z) I get the error that batch size isn't the same x vs x*z, how do I fix this?

[2020-10-17 23:29] stas00 commented on #7743
OK, I did the override and don't know enough about pegasus to tell whether it does the right thing.

Currently: `"a\nb"` gets tokenized as `"_a", "_b"`.

If I add override _tokenize and add `text = re.sub(r"\r?\n", "<n>", text)`, now the above produces: "_a", "<n>", "b"  - notice that b is no longer tokenized in the same way.

Here is a much longer test:

[code]

So with the new line we get:
[code

[2020-10-17 23:35] ankane commented on #7668
Thanks @julien-c, good to know 👍

Will wait to hear thoughts from @stefan-it.

[2020-10-17 23:42] mihaidobri commented on #7341
@LysandreJik  or @sgugger I am wondering if you could please let us know if is a workaround for this issue ? or if a code fix is planned in the near future?

[2020-10-18 02:59] wmathor opened #7876 "xlm-mlm-17-1280 & xlm-mlm-100-1280 include languages?"
# ❓ Questions & Help

## Details

Where is the list showing what languages are supported by each of these two models?

[2020-10-18 03:20] JJJJane commented on #5654
Hi, @Colanim I tried to reproduce the paper's results from the checkpoint facebook/bart-large-cnn, but somehow my rouge1 score is only 42.62. I tried the following steps, could you help me to find out what's wrong? Thanks!
**infer:**
[code]
**eval:**
cat test.target | java edu.stanford.nlp.process.PTBTokenizer -ioFileList -preserveLines > test.target.tokenized
cat test.pred | java edu.stanford.nlp

[2020-10-18 04:00] stas00 commented on #7743
You can play with the new test and check that it does the right thing, PR https://github.com/huggingface/transformers/pull/7877

[2020-10-18 05:14] #6410 closed

[2020-10-18 05:14] #6408 closed

[2020-10-18 05:14] #5509 closed

[2020-10-18 05:15] #6270 closed

[2020-10-18 05:15] #6282 closed

[2020-10-18 05:15] #6286 closed

[2020-10-18 05:15] #6292 closed

[2020-10-18 05:15] #6294 closed

[2020-10-18 05:15] #6295 closed

[2020-10-18 05:15] #6218 closed

[2020-10-18 05:15] #5863 closed

[2020-10-18 05:15] #4942 closed

[2020-10-18 05:15] #4947 closed

[2020-10-18 05:15] #6320 closed

[2020-10-18 05:15] #6329 closed

[2020-10-18 05:15] #5778 closed

[2020-10-18 05:15] #6335 closed

[2020-10-18 05:15] #6337 closed

[2020-10-18 05:15] #6194 closed

[2020-10-18 05:15] #5650 closed

[2020-10-18 05:15] #5748 closed

[2020-10-18 05:15] #6351 closed

[2020-10-18 05:15] #6343 closed

[2020-10-18 05:15] #6159 closed

[2020-10-18 05:15] #4225 closed

[2020-10-18 08:33] gusdnd852 opened #7879 "question about `add_special_tokens` and embedding layer"
# ❓ Questions & Help

when I call add_special_tokens in the tokniezer, new token that is not in the existing vocab is added. At this time, the size is different from the existing embedding layer, what happens inside?

1. Abandon the existing embedding layer and train a new.
2. train only new tokens (expand existing embedding layer)

[2020-10-18 09:26] ratthachat commented on #6285
Hi Patrick,
There are newly released T5.1.1 checkpoints which give SOTA on natural question for non-retrieval models which I posted a
[discussion here](https://discuss.huggingface.co/t/convert-new-t5-checkpoints-released-from-google-naturalquestion-dataset/1579)  . Maybe it's a bit more encouragement to integrate T5.1.1 into HF :D

[2020-10-18 10:19] FerusAndBeyond commented on #7875
Solved  by adding `num_labels` to the constructor: `BertForSequenceClassification.from_pretrained("...", num_labels=z)`. Then the onehot-encoding wasn't necessary either. Another error would probably make it easier to spot this though.

[2020-10-18 10:19] #7875 closed

[2020-10-18 11:04] ShivanshuPurohit commented on #235
Got the same unpickling error. Was it solved?

[2020-10-18 11:30] ShivanshuPurohit opened #7881 "Error(s) in loading state_dict for BertForTokenClassification"
### Who can help

## Information

Model I am using (Bert, XLNet ...): Bert

The problem arises when using:
* [ ] the official example scripts: (give details below)
* my own modified scripts: (give details below):

I am trying to run the following script
[code]
The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* my own task or dataset: (give details below)
SemEval2017

[2020-10-18 11:45] patrickvonplaten commented on #7874
@lalitpagaria - good point! I think the cleanest solution here would actually be to add `n_docs` as a argument to all RagModel forward's function that defaults to `self.config.n_docs` (exactly as it is the case for `use_cache` or `output_attentions`) => it would be great if you could open a PR for this :-)

[2020-10-18 13:52] lalitpagaria commented on #7874
@patrickvonplaten I think this approach also will not solve a situation when retriever return less docs than `n_docs`.  For example let's say a dataset only have `4` documents but `n_docs` value is `5`.

How about solving this as follows -
1) When fetching docs from retriever use `n_docs` value (either as a argument or default `self.config.n_docs`)
2) All other places use value from number of docu

[2020-10-18 14:13] patrickvonplaten commented on #7874
I think this is an edge case - if a dataset only has 4 documents, then the user should not define `n_docs` as 5. I agree that it would be easier to just use the incoming tensor's dimension as `n_docs`, but it would be less readable and can also lead to confusion. `n_docs` should always be the number of docs actually given to Rag. So I'd prefer to not use the retriever's dimension here. We could ad

[2020-10-18 14:33] lalitpagaria commented on #7874
Sure I will create PR (using n_docs with assert) with related tests.

[2020-10-18 15:09] ptynecki commented on #6113
@sathvikask0
I am super interesting about the **BigBert for Genomics Research**. Are you planning to release the fixed-length embedding part as well?

[2020-10-18 15:16] nikhilbyte commented on #6113
I'm also doing some research on using Google BigBird for genomics research. There's a competition going on right now and we can definitely leverage BigBird for genomics sequencing.

[2020-10-18 18:51] #7402 closed

[2020-10-18 19:02] stas00 opened #7885 "[testing] the test suite is many times slower than 2 weeks ago"
We are going to have a CI-side running reports when this is merged https://github.com/huggingface/transformers/pull/7884, but we can already start looking at what caused a 4-5 times slowdown in the test suite about 10 days ago. I'm not sure the exact moment, but I checked a few reports and it appears that the change happened around Oct 8th +/- a few days.
e.g. before:
https://app.circleci.com/pipe

[2020-10-18 19:11] stas00 commented on #7885
So it looks like on the torch-side `test_tokenization_fast.py` accounts for the main culprit adding up to 1300 secs. And the bulk of slowdown is tf tests.

[2020-10-18 19:25] Code4SAFrankie opened #7886 "Question answering example errors with BrokenPipeError: [Errno 32] Broken pipe"
## Environment info
- `transformers` version: 3.3.1
- Platform: Windows-10-10.0.18362-SP0
- Python version: 3.7.1
- PyTorch version (GPU?): 1.4.0+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: No
### Who can help
No option for question answering in your list

## Information

question-answering pipeline examp

[2020-10-18 19:30] sshleifer commented on #7885
I can fix Marian. Do you want to try to fix `test_tokenization_fast` or let somebody else?

[2020-10-18 19:35] stas00 commented on #7885
I will give it a go.

[2020-10-18 19:37] sshleifer opened #7887 "Github actions: more readable/informative output"
### TLDR
The goal of this Issue is to make the output of https://github.com/huggingface/transformers/runs/1269744369?check_suite_focus=true more readable, without changing the fact that the job failed.

#### Current Workflow:

I randomly remember to check github actions every 3 days, scroll a long way to see what broke, figure out who to assign (sometimes easy/sometimes hard), and then make issues

[2020-10-18 19:53] stas00 commented on #7887
I will surely give it a try, @sshleifer

[2020-10-18 20:04] sebastianbujwid opened #7889 "from_pretrained incompatible with the models being downloaded"
## Environment info

- `transformers` version: 2.3.0
- Platform: Linux
- Python version: 3.7.7

### Who can help

@LysandreJik

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

[code]

**Problem:**
The model does not load the weights. I assume due to some

[2020-10-18 20:16] thomwolf commented on #7889
I let @LysandreJik answer about the model but I have a tangential question I love to have some information about @sebastianbujwid (we may be able to help):
Why is it not possible for you to update transformers past the 2.3.0 version?

[2020-10-18 20:59] DanqingZ commented on #1328
I think the classification for robertaforsequenceclassification is the RobertaClassificationHead, which takes the CLS embedding for classification
https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_roberta.py#L957
https://github.com/huggingface/transformers/blob/13c185771847370d695b8eee3cbf12f4edc2111c/src/transformers/modeling_roberta.py#L1205-L1221
I also found tha

[2020-10-18 21:11] #6432 closed

[2020-10-18 21:11] #6124 closed

[2020-10-18 21:11] #6236 closed

[2020-10-18 21:11] #6370 closed

[2020-10-18 21:11] #6310 closed

[2020-10-18 21:11] #4239 closed

[2020-10-18 21:11] #6330 closed

[2020-10-18 21:11] #5799 closed

[2020-10-18 21:11] #3887 closed

[2020-10-18 21:11] #6384 closed

[2020-10-18 21:44] BramVanroy commented on #1328
@DanqingZ Probably not. Most often these implementation are specific to how the original paper implemented them for downstream tasks. In that sense, it is normal that they differ. If you want to create your own one, as I did before, you can simply create a custom SequenceClassificationHead that works with any `PretrainedModel`'s output. It is quite simple, so I don't think the library should provi

[2020-10-18 22:12] DanqingZ commented on #1328
@BramVanroy yeah, I can do that.
But imagine a scenario. If I want to inherit the AutoModelForSequenceClassification, and add my own components to different types of model(bert, roberta, distillbert). If huggingface could make classifier have the same meaning and usage, it will be easier for other people to make downstream changes for multiple models at the same time, like adding label attention l

[2020-10-18 23:57] stas00 commented on #7885
https://github.com/huggingface/transformers/pull/7659 may have fixed the slow tokenization tests. Checking the most recent run it's back to ~2min for the torch-only job.
https://app.circleci.com/pipelines/github/huggingface/transformers/13951/workflows/244749ce-d1ee-488f-a59d-d891fbc38ed6/jobs/100800
I will check a few more and close it if that was the culprit.

[2020-10-18 23:58] stas00 commented on #7885
this test for some reason has `@slow` commented out - it takes 20seconds - can we put it back on?
https://github.com/huggingface/transformers/blob/master/tests/test_tokenization_auto.py#L42

[code]

[2020-10-19 00:01] danyaljj opened #7892 "Issue with XLM-R for multiple-choice questions"
Hi there,

I am not able to reasonable numbers with XLM models ("xlm-roberta-base" "xlm-roberta-large") when I test them on [multiple choice questions](https://github.com/huggingface/transformers/tree/master/examples/multiple-choice).

I suspect that it's related to issue #7774.

## Environment info

- `transformers` version: 3.3.1
- Platform: Ubuntu
- Python version: 3.7
- PyTorch version (GPU?):

[2020-10-19 00:02] stas00 commented on #7885
This one should probably also be `@slow` - all the other tests around it are `@slow`:
[code]

[2020-10-19 00:08] stas00 commented on #7885
Wrote a one liner to calculate the sub-totals for whatever pattern in the output of `pytest --durations=0`:

[code]
[code]

[2020-10-19 00:17] stas00 commented on #7885
It this a good candidate for `@slow`?
[code]
At least a few of them are quite slow:
[code]

[2020-10-19 00:19] stas00 commented on #7885
Here is another possible candidate for `@slow`:

[code]

[code]

[2020-10-19 00:20] danyaljj commented on #6263
Could you elaborate on this?

[2020-10-19 00:30] sshleifer commented on #7885
I am fine with marking any of these @slow , but don't care as much now that the issue is resolved.

I do think we should have a repo-wide rule about what should be slow, and you have to write a comment if you want to override it.

#### Proposed Rule for testing.rst

+ All tests that take longer than 5s should be marked slow, that way we can save a lot of back and forth.
+ For common tests to be ma

[2020-10-19 00:41] stas00 commented on #7885
That's a fabulous suggestion!

A few caveats  for `testing.rst`:
* < 5s  should include model download overhead
* 5s on CI, since otherwise each hardware is different

[2020-10-19 00:43] stas00 commented on #7885
While we are at it - there is a ton of very slow tf tests - I suppose the same rule applies there, right?

[2020-10-19 00:45] BramVanroy commented on #1328
@DanqingZ I understand what you mean, but these implementations are not necessarily chosen by HuggingFace. Those are the original implementations in the paper by the authors. It is therefore not possible that they are all the same and they will not be changed.

If you want to add the functionality that you want, I would recommend writing your own extension to transformers. The process will teach y

[2020-10-19 00:45] guoxuxu opened #7893 "pip install transformers by default install 2.5.1"
## Environment info

https://huggingface.co/transformers/installation.html

Running '''pip install transformers''' by default installs 2.5.1
Could you also specify TensorFlow CPU or GPU version should be installed

- `transformers` version:
- Platform:
- Python version: 3.7.4
- PyTorch version (GPU?): yes
- Tensorflow version (GPU?): 2.2.0
- Using GPU in script?: yes
- Using distributed or paralle

[2020-10-19 00:55] guoxuxu opened #7894 "AdamW"
## Environment info

Using AdamW of transformers 2.5.1 or 2.6.0, I got the following:

 /home/user/anaconda3/lib/python3.7/site-packages/transformers/optimization.py:155: UserWarning: This overload of add_ is deprecated:
        add_(Number alpha, Tensor other)
Consider using one of the following signatures instead:
        add_(Tensor other, *, Number alpha) (Triggered internally at  /opt/conda/c

[2020-10-19 01:04] QuantumEntangledAndy commented on #7800
We could make it an option like `use_relative` lengths. It defaults to `None` meaning auto (the current behavour) but can be set to `True` of `False` in order to explicitly override the current auto logic.

[2020-10-19 01:48] sshleifer commented on #7885
As much as I love moving quickly, we need to wait for others to agree to the rule before we apply it.

[2020-10-19 01:53] sshleifer commented on #7800
My opinions is that I have never seen "users might want to generate multiple articles < 100 words including the prefix", and I have seen, "Why does prefix count?" a number of times and had the same misunderstanding the first few times I used it. So I think we should change the behavior to not count `decoder_start_token_id` or tokens in `input_ids`.
Another argument that might land: you would expec

[2020-10-19 01:57] Craigacp commented on #6582
Any interest in fixing this?

[2020-10-19 02:33] stas00 commented on #7885
My communication wasn't clear - I meant to do that after we agreed on the threshold and regardless this PR https://github.com/huggingface/transformers/pull/7884 needs to be committed first to do the correct measurements.

[2020-10-19 04:03] Aakash12980 commented on #4647
I am using Bert2Bert EncoderDecoderModel from Huggingface for sentence simplification. But my model is generating a zero tensor of the same length regardless of the input. Could someone help me what is wrong in my project. The GitHub link of my project is this [https://github.com/Aakash12980/Sentence-Simplification-using-Transformer](url). Please help me through this.

[2020-10-19 04:15] Aakash12980 opened #7896 "Bert2bert EncoderDecoderModel from Huggingface is generating a zero tensor for any input"
I am using Bert2Bert EncoderDecoderModel from Huggingface for sentence simplification. But my model is generating a zero tensor of the same length regardless of the input. Could someone help me what is wrong in my project. The GitHub link of my project is this https://github.com/Aakash12980/Sentence-Simplification-using-Transformer. Please help me through this.

My decode module is like this:
`
@t

[2020-10-19 06:46] patrickvonplaten commented on #7896
Hey @Aakash12980,

Could you please provide a complete code examples with which I can reproduce the results? Did you train the model yourself or did you use a pretrained model? (Which one in case you did?)

[2020-10-19 06:50] MojammelHossain commented on #6749
For me, I am getting the same error because the model I choose does not return loss even though I pass labels. It's better to check the model documentation you are using whether model forward() return loss or not. This is the snapshot of BertModel (Model which I choose first) forward() returns which does not return any loss value.
![image](https://user-images.githubusercontent.com/47693507/9641053

[2020-10-19 06:51] patrickvonplaten commented on #7745
Hey @rohit497,

Could you please take a look at this entry in the forum:
https://discuss.huggingface.co/t/batch-generation-with-gpt2/1517
?

It also links to a test verifying that batch generation works correctly

[2020-10-19 06:56] #7502 closed

[2020-10-19 07:25] Aakash12980 commented on #7896
I have used pretrained bert2bert model and I am fine-tuning it for sentence simplification.

The full code in run.py is below

[code]

The GitHub link for my full project is here [https://github.com/Aakash12980/Sentence-Simplification-using-Transformer](url).

[2020-10-19 07:59] Makigumoe opened #7897 "GPT2Tokenizer.add_tokens() didnt change tokenizer.vocab_size"
follow the instruction in add_tokens()

code:

special_tokens = ['<pad>', '<go_r>', '<unk>', '<go_b>', '<go_a>', '<go_u>', ]
num_added_toks = tokenizer.add_tokens(special_tokens)
print('We have added', num_added_toks, 'tokens')

it can successfully encode and decode the newly added tokens, but the GPT2Tokenizer.vocab_size is still 50257.

[2020-10-19 08:10] kubzdel commented on #7364
Hey, I'm trying to do the same with the polish language model. Did you manage to get this code working?

[2020-10-19 08:22] fra-luc commented on #7850
Thanks for your answer, I will try TF Trainer

[2020-10-19 08:54] marcoabrate commented on #7865
I also get confused by the notation and would appreciate some clarifications.
Thank you.

[2020-10-19 09:12] patrickvonplaten opened #7898 "[EncoderDecoder] google/roberta2roberta_L-24_wikisplit"
It seems like `google/roberta2roberta_L-24_wikisplit` should be pre-processed differently than originally thought:

[code]

yields a weird word duplication bug, whereas:

[code]

yields good results.
Notice the difference of
`input_ids = tokenizer(tokenizer.bos_token + long_sentence + tokenizer.eos_token, return_tensors="pt").input_ids` between code sample 1 and 2.

@patrickvonplaten

Wait for aut

[2020-10-19 09:46] LysandreJik commented on #7885
I'm not sure setting up a 5/15 or any specific time requirement on tests to classify them as slow would be best. Some tests, like the `test_model_outputs_equivalence` are important, and running them on contributors' PR when their changes affect the  modeling internals is too.

I think the following proposition would be more suited:

if the test is focused on one of the library's internal component

[2020-10-19 10:01] LysandreJik commented on #7889
Hello! Indeed, there has been an issue with the TF ALBERT model that has been resolved in the following commit: https://github.com/huggingface/transformers/commit/1abd53b1aa2f15953bbbbbfefda885d1d9c9d94b#diff-143909fef69337378ffd5ccb1af28c3855ba498a11296fb62886b854d269342d

This commit is, unfortunately, only available on version v2.5.1. Is it possible for you to update your version to v2.5.1? If

[2020-10-19 10:13] vyaslkv opened #7900 "example for passage re-ranking using bert-multilingual-passage-reranking-msmarco"
can you give me a working example this

`from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("amberoad/bert-multilingual-passage-reranking-msmarco")

model = AutoModelForSequenceClassification.from_pretrained("amberoad/bert-multilingual-passage-reranking-msmarco")
`

[2020-10-19 10:16] LysandreJik commented on #7893
Running `pip install transformers` installs the latest version for me. Which pip version are you running on?

You can install both cpu or gpu for tensorflow, if you want to run on a cpu or a gpu.

[2020-10-19 10:27] LysandreJik commented on #7364
Instead of simply removing the `_` value, which will not unpack the tuple anymore, you can get the first value of the tuple (which has a single value in your case):

[code]

[2020-10-19 11:08] #6349 closed

[2020-10-19 11:18] surajit-techie commented on #6599
Hi @sshleifer , I want to a train a model for 2048 input length. My idea is to use a distilled teacher model and change the source length to 2048. How can I change the `max_position_embeddings`?

I'm using the following command to train the model on CNN-DM dataset.

[code]

[2020-10-19 11:51] jantrienes opened #7901 "GPT2Tokenizer strips spaces surrounding special tokens"
## Environment info

- `transformers` version: 3.3.1
- Platform: Darwin-19.6.0-x86_64-i386-64bit
- Python version: 3.7.9
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@mfuntowicz, this seems to be an issue related to tokenization. So I hope you are the right

[2020-10-19 11:59] sgugger commented on #7885
I would change all things that need to do a training to all thing that need to do a real training.
I spent a lot of time making a mock training fast for the tests of the Trainer and I don't want that marked as slow ;-)

[2020-10-19 12:32] LysandreJik commented on #7774
Thanks for reporting, will investigate.

[2020-10-19 12:32] LysandreJik commented on #7892
Thanks for reporting, will investigate.

[2020-10-19 12:36] LysandreJik commented on #7894
Hi, yes, this is a warning, nothing you should be afraid of.

[2020-10-19 12:36] #7894 closed

[2020-10-19 12:41] LysandreJik commented on #7881
Hello, I would say that there's a mismatch between the number of labels you've provided and the number of labels supported by your `model.pt`.

How did you obtain your `model.pt`?

[2020-10-19 13:15] #7874 closed

[2020-10-19 13:18] marcoabrate commented on #7865
@AI678 I think I got it. Do not take my words as absolute truth since I am new to the subject.
If you are talking about a full Transformer architecture (e.g. BART, T5, PEGASUS), the labels are the token ids to which you compare the logits generated by the Decoder in order to compute the cross-entropy loss. This should be the only input necessary during training or fine tuning.
On the other hand, t

[2020-10-19 14:19] sshleifer opened #7904 "T5 Docs training example has shifted labels"
https://github.com/huggingface/transformers/blob/master/docs/source/model_doc/t5.rst#L42

Here is that link quoted:

#### Unsupervised denoising training
In teacher-forcing style, the target sequence is then appended by the EOS token and corresponds to the `labels`.

In this setup spans of the input sequence are masked by so-called sentinel tokens (*a.k.a* unique mask tokens)  and the output seque

[2020-10-19 14:26] lalitpagaria opened #7905 "[RAG] How to extract generated strings from `RetrievAugLMMarginOutput`"
# ❓ Questions & Help

How to extract generated strings from `RetrievAugLMMarginOutput`?

## Details

When using `RagSequenceForGeneration` and `retriever` separately we can't use `model.generate` (refer #7829). And calling `model.__call__` directly return `RetrievAugLMMarginOutput`. I not able to to find way to extract `generated_ids` from it.

**A link to original question on the forum/Stack Over