[2022-02-15 04:15] MustafaYagmur-v39300 opened #15654 "LayoutLMv2Model can not be imported from transformers"
Hi @NielsRogge

Getting error when calling LayoutLMv2Model class with `from transformers import LayoutLMv2Model` as instructed at the [official documentation](https://huggingface.co/docs/transformers/model_doc/layoutxlm)

`ImportError: cannot import name 'LayoutLMv2Model' from transformers (unknown location)`

It should be under **transformers/models/layoutlmv2/modeling_layoutlmv2.py**

I have `tr

[2022-02-15 04:26] renjiege commented on #15639
`DistilBertForSequenceClassification.from_pretrained("distilbert-base-uncased", num_labels=768)` works. Thanks a lot. I am trying to fine tune a DistilBert model for text classification. I added some head layers on top of the pre-trained model, and then train these layers while freezing DistilBert model layers.

[2022-02-15 05:42] #15654 closed

[2022-02-15 05:44] MustafaYagmur-v39300 commented on #15654
The issue has been resolved. LayoutLMv2Model class exist in `transformers=4.16.2` version

[2022-02-15 10:02] tuvuumass opened #15656 "Is it fine if we do not pass the optimizer through accelerator.prepare() in DDP?"
Hello!
I remember that in previous versions of Transformers,  the optimizer was not sent to any accelerator device for training (e.g., in older versions of the `run_glue.py` script). So, I wonder if it is fine if we do not pass the optimizer through accelerator.prepare() in DDP in the latest version of Transformers (which means we only send the model and dataloaders to prepare())? This would help

[2022-02-15 12:18] g8a9 commented on #15484
Hi @Narsil I've looked at your new PR, seems ok to me.

I was missing the way params should have been handled in the parent class. But I hope it helped nonetheless :)

[2022-02-15 12:45] #15589 closed

[2022-02-15 12:49] GokulNC commented on #15109
Also, conversion of the HF Marian model to TorchScript does not work. Sample code:

[code]

The errors were because of type-checking issues encountered by the TorchScript compiler in [`modeling_marian.py`](https://github.com/huggingface/transformers/blob/7732d0f/src/transformers/models/marian/modeling_marian.py). I tried fixing a few things, but I was unable to make it after some point. Can you pl

[2022-02-15 12:49] patrickvonplaten commented on #15605
Hey @Arij-Aladel,

Sorry I'm having trouble to fully understand your question here. Could you clarify a bit what output you would expect? E.g. in your opinion what should:

[code]

print out?

[2022-02-15 12:52] patrickvonplaten commented on #15619
Hey @drunkinlove,

Could you specify which training you used exactly? Do you use the official HF Trainer : https://huggingface.co/docs/transformers/v4.16.2/en/main_classes/trainer#transformers.Trainer?

[2022-02-15 14:04] #15639 closed

[2022-02-15 14:15] drunkinlove commented on #15619
@patrickvonplaten Hi! I did indeed, here are the arguments I specified:

- output_dir="checkpoints",
- logging_dir="logs",
- logging_strategy="steps",
- logging_steps=100,
- per_device_train_batch_size=4,
- num_train_epochs=100,
- max_steps=10000,
- warmup_steps=5000,
- weight_decay=0.01,
- evaluation_strategy="steps",
- save_strategy="steps",
- eval_steps=5000,
- save_steps=5000,
- save_total_lim

[2022-02-15 15:06] #15049 closed

[2022-02-15 15:10] Narsil commented on #15524
Update the doc too (kept the re-export for now)

[2022-02-15 15:28] OmarMohammed88 commented on #15654
what about installing from the source

[code]

[2022-02-15 15:43] patrickvonplaten commented on #15559
@patil-suraj - we had another issue thread about this somewhere no? I can't find it anymore though :-/

[2022-02-15 15:45] patrickvonplaten commented on #15502
@anton-l - thoughts on this?

[2022-02-15 15:50] patrickvonplaten commented on #15484
Definitely very help ful @g8a9 !

[2022-02-15 16:00] pranaydeeps commented on #15512
[code]

This should be enough to reproduce.

[2022-02-15 16:46] Srinivas-R commented on #15559
Something that might help? In v4.11.2, forcing the bos_token_id to be 0 seems to produce expected outputs:

[code]
Old output: ['ThisThis is a complete sentence', 'RobertRobert']
New output: ['This is a partial sentence', 'Robert went to the grocery store to buy milk']

[2022-02-15 16:47] Narsil commented on #15650
[code]

This seems to work currently. Are you sure about your Bearer ? (It shouldn't produce `unknown error` anyway, but I fail to see what's wrong in your code).
Can you share a little your environmnet too ? (Python version, requests version)

[2022-02-15 16:49] rifatarefin opened #15661 "GPT-2 pretrained model fails to load when TF v2 behaviour is disabled"
I am trying to use GPT-2 in a codebase that is written for Tensorflow 1.x. However, I am running the code against TF 2.x installation binaries with `tf.disable_v2_behavior()` flag. Without this `tf.disable_v2_behavior()` flag, GPT-2 pretrained model loads fine, but the model fails to load if the flag is used. Here is my code :
[code]
Here is the error:

[code]

I am using TF 2.5 with transformers

[2022-02-15 16:49] #15524 closed

[2022-02-15 16:53] #15484 closed

[2022-02-15 17:27] OmarMohammed88 opened #15662 "cannot import name 'CONFIG_MAPPING' from 'transformers' (unknown location)"
trying using the Run_MLM.py script but got an error in importing modules
I installed the transformers package from the source
[code]
any solutions ?
thanks in advance

[2022-02-15 18:14] Ataago opened #15663 "🤗 Transformers **Trainer** API raises exception on train if triggered from an already started ML Flow run."
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.11.0-40-generic-x86_64-with-debian-10.9
- Python version: 3.7.10
- PyTorch version (GPU?): 1.11.0.dev20220112+cu111 (True)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed

[2022-02-15 18:18] sgugger commented on #15663
Hi there! We don't maintain integrations with third-party libraries ourselves, so feel free to create a PR with the fix and make sure to tag the contributor who wrote this callback for review (@noise-field ) :-)

[2022-02-15 18:48] drishtishrrma opened #15664 "Why are certain models with a higher WER (on the eval set) performing better or as good as models with a lower WER – when tested on the test set?"
Hello @patrickvonplaten and @anton-l  !

I had two weird observations while evaluating my models, one of which showed that the model with the higher WER clearly outperformed the one with the lower WER (So strange!). In another scenario, when evaluated on the test set, the model with higher WER (on the eval set) fared "almost" as good as the model with low WER. I'm curious as to what the likely cau

[2022-02-15 18:58] jegork opened #15666 "Add Video Vision Transformer"
# 🌟 New model addition

## Model description

The ViViT is a transformer based model similar to Vision Transformer but operating on videos. In their paper, the authors present 4 types of possible architecture, and 2 are considered successful (unfactorised and factorised encoder models). Paper available at https://arxiv.org/abs/2103.15691.

The original research uses flax, and mentions usage of wei

[2022-02-16 00:07] LysandreJik commented on #15666
Would be super cool!

[2022-02-16 00:17] anas-awadalla commented on #15398
Thanks @salrowili this seems like a good temporary fix! I would love to see if the script can be fixed still as it provides a much smoother development experience.

[2022-02-16 04:04] gui11aume commented on #15553
@sgugger, while gathering information to edit the doc in a meaningful way, I came across puzzling features for the  `DataCollatorForTokenClassification`. It's a different issue, but since I am about to update the doc I can maybe take care of this as well.

Below is a minimum example of my typical pipeline. I crafted this example on DNA data in order to have a tiny alphabet.

[code]
There are two d

[2022-02-16 05:51] dhawalkp commented on #14851
Hi @joehoover - I have published the notebook for training GPT-J using SageMaker Model Parallel here - https://github.com/aws/amazon-sagemaker-examples/tree/main/training/distributed_training/pytorch/model_parallel/gpt-j. Thanks for collaborating on this! Let me know if this issue is resolved.

[2022-02-16 06:16] Arij-Aladel commented on #15605
@patrickvonplaten Thanks for your response. Sorry for not clear explanation. I hope this notebook will explain better than words the differences between T5tokenizer and autotokenizer. https://colab.research.google.com/drive/1Gro30z9tbyUUxXR4-bGtKhJzwnEVsXR4?usp=sharing

[2022-02-16 06:52] nithinreddyy opened #15672 "Unable to generate chunks (If length is greater than 512 in bert), we can use to split into chunks"
I'm working Question & Answering hugging face pipeline, my sentence length is 3535, bert only takes 512 length, so i'm trying to divide into chunks and work on it.

In the code, i'm working on question and answering model from hugging face, if the length of the sentence is greater than 512, bert won't take it and we've to add extra argument Truncation=True, which doesn't consider some content from

[2022-02-16 07:14] yardenTal1 opened #15673 "DebertaForMaskedLM cannot load the parameters in the MLM head"
Hello,
When I tried to use Deberta for MLM and I didn't succeed. It seems that it is a known issue.  The checkpoint provided by microsoft/deberta-base and other similar ones don't have the pre-trained weights of the Masked LM head.

https://github.com/huggingface/transformers/issues/15216

Thank you!

[2022-02-16 07:38] JH-lee95 opened #15674 "model.generate() using a user specified keyword argument"
I made a simple Sea2Seq model based on BartForConditionalGeneration.

My model just takes a additional keyward argument in its forward() method.

![image](https://user-images.githubusercontent.com/63226383/154217584-101cc596-bb96-4a52-b02c-8ad216af694a.png)

Everything is just same as the original forward() method(which is from BartForConditionalGeneration) but "responder_emb" is added.

I'm tryin

[2022-02-16 09:26] JucyCherry commented on #15339
thanks a lot !

[2022-02-16 09:26] #15339 closed

[2022-02-16 09:30] JucyCherry opened #15675 "How can I use "accelerate launch" command to run training job on Multi-GPU?"
How can I use "accelerate launch" command to train "run_wav2vec2_pretraining_no_trainer.py" on Multi-GPU?

I found that when i use " accelerate launch run_wav2vec2_pretraining_no_trainer ..." , it would run training on a single GPU.
I also tried "accelerate launch --num_machines 4" command , but still not work

@patrickvonplaten, @anton-l

[2022-02-16 09:32] patrickvonplaten commented on #15619
Hey @drunkinlove,

I looked a bit into it. This graph should actually not show a line really but just a single scalar value for a single training run. If you look into this code line: https://github.com/huggingface/transformers/blob/b87c044c79a408c0a1e7f7b046b5b4ce999c2d0e/src/transformers/trainer.py#L1546,

you can see that the `train_samples_per_second` metric is computed only once during traini

[2022-02-16 09:49] bjmajic opened #15677 "one of the variables needed for gradient computation has been modified by an inplace operation"
i use  the model of rbt3 to run a pretrain model

self.model = AutoModel.from_pretrained("/workspace/wanglei/data_set/rbt3")
self.model.train()

nodes = self.model(**rnn_nodes_input_gpu).pooler_output

but got a error
"
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.cuda.FloatTensor [287, 768]], which is output 0 of TanhBackward

[2022-02-16 10:47] patrickvonplaten commented on #15559
Found the original issue: https://github.com/huggingface/transformers/issues/9731 . Looking a bit into the commit history here: https://huggingface.co/facebook/bart-large/commits/main it looks like the mask token problem actually only existed for `bart-base` and not for `bart-large` according to @patil-suraj .

@patil-suraj - could you double-check this real quick?

[2022-02-16 10:56] anton-l commented on #15502
I think we can add an alternative to `Wav2Vec2CTCTokenizer.decode()` to add timestamps to each character pretty easily. Basically implement `Wav2Vec2CTCTokenizer.decode_with_timestamps()` that returns a structure like this:
[code]

Returning the word boundaries' offsets (whitespaces in this example) is also important for consistency IMO.

`Probabilities` are optional, but they would be pretty hand

[2022-02-16 11:00] patrickvonplaten commented on #15605
Hey @Arij-Aladel,

Could you please try to give a minimal reproducible code snippet that clearly shows where the problem is? So far I've understood that there is a problem with tokenizer (probably T5) in the context of question answering, but I don't know exactly what the problem is.

The notebook starts by importing `pytorch-lightning` which is not related to this issue, which makes me stop looki

[2022-02-16 11:07] Narsil commented on #15502
@anton-l ,

Fully agree having both `start` and `stop` timings are better (and fine with throwing probabilities in there)

I just realised though, will that approach be possible with `ctc_with_lm` ? Since we added a bunch recently, it would be nice if we could.

[2022-02-16 11:15] anton-l commented on #15502
@Narsil it's possible for `ctc_with_lm`, but we might need to create a wrapper for the `pyctcdecode`'s `decode()` function to create a common API.
It can use pretty much the same logic as the ordinary CTC tokenizer, just with full words instead of granular characters, because it doesn't return per-character logit indices:
![image](https://user-images.githubusercontent.com/26864830/154253351-0d2cc3

[2022-02-16 11:32] pratikchhapolika commented on #6616
Reopening. Still having same issue?

[2022-02-16 11:49] gante commented on #15661
Hi @rifatarefin 👋  Sadly, we don't support TF 1.x, everything we've built was with TF 2.x in mind. This implies that the snippet you want to run shouldn't be able to and that you have four main alternatives to your problem:
1. Create two local environments, one with TF 1.x other with TF 2.x, load GPT-2 in your TF 2.x environment and make it communicate with your TF 1.x environment (which runs your

[2022-02-16 12:11] r-stiller opened #15679 "Tokenizer prepare_for_model Error inconsistency"
## Environment info
- `transformers` version: 4.16.2
- Platform: Windows 10
- Python version: 3.9.10

[GitBlame](https://github.com/huggingface/transformers/blame/b87c044c79a408c0a1e7f7b046b5b4ce999c2d0e/src/transformers/tokenization_utils_base.py#L2974-L2978):
- @LysandreJik, @thomwolf

## Information
Hello there,
I ran into a problem when using the `PreTrainedTokenizerBase.prepare_for_model` fun

[2022-02-16 12:37] thevishnupradeep commented on #8272
Hello, Did anyone manage to get a solution for this? I am facing a very similar issue on `ViTForImageClassification` on using "google/vit-base-patch16-224".  Upon training, I am getting an accuracy of 0.75 and a very low loss. However, once I save and reload it, say after a day, the loss is back to ~10 and accuracy is 0.

Please find the necessary parts of my code here: https://gist.github.com/the

[2022-02-16 13:08] patrickvonplaten commented on #15675
Before starting the training, I recommend to run `accelerate config` which helps you setting up the multi-gpu training. When running the commend you are asked how many GPUs you want to use and your answer is then stored in a config that will automatically be used by `accelerate launch`. Could you give this a try?

[2022-02-16 15:06] #15075 closed

[2022-02-16 15:07] #12482 closed

[2022-02-16 16:18] gui11aume commented on #15553
Thanks @sgugger, it's very clear. I wish I had discovered the tutorial earlier, it's very well made.

The docstring of `DataCollatorForTokenClassification` is succinct and matter-of-fact but maybe I can add the info somewhere that the labels and the tokens are assumed to be aligned.

What I find confusing is that the collator seems to assume that labels and tokens are aligned (and does not trigger

[2022-02-16 16:44] sgugger commented on #15553
We could issue a warning if we detect the labels and input IDs don't have the same length indeed.

[2022-02-16 17:05] Arij-Aladel commented on #15605
https://drive.google.com/drive/folders/1bQVwilQ3RAah7kvnzLSKbdx92s6bv0wX?usp=sharing

Is my question is clear now?

[2022-02-16 17:43] patrickvonplaten commented on #15502
Interesting idea @anton-l!

I thought about it a bit - couple of remarks:

1.) I don't think we should entangle the probabilities with the time stamps too much to be honest and rather treat them as separate feature additions because:
  - Requiring time stamps doesn't mean that the user also needs probabilities and vice versa
  - In order to extract time stamps, for the normal Wav2Vec2Processor we

[2022-02-16 17:54] rifatarefin commented on #15661
I found `TFGPT2Model` pretrained weights load with `tf.compat.v1.disable_eager_execution()`. The TF 1.x code didn't raise any error with this flag. Although not sure if I will get the desired output this way. Any suggestions @gante ?

[2022-02-16 19:28] gante commented on #15661
Awesome -- if you didn't get any errors then it possibly works well 👌

To double-check, I'd suggest that you run two things after loading with `tf.compat.v1.disable_eager_execution()`:
1. See if you can reproduce the output of [our integration tests](https://github.com/huggingface/transformers/blob/master/tests/test_modeling_tf_gpt2.py#L430) locally (this would confirm the correctness of the model

[2022-02-16 19:34] LysandreJik commented on #15679
cc @SaulLu

We should also probably put this method as private/internal with a deprecation cycle as I don't think it's tested outside of the `__call__`/`encode`/`encode_plus` methods

[2022-02-16 20:03] LysandreJik commented on #15674
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

cc @patrickvonplaten

Thanks!

[2022-02-16 20:10] LysandreJik commented on #15672
Hey! I recommend taking a look at how it is done in our examples: https://github.com/huggingface/transformers/blob/master/examples/pytorch/question-answering/run_qa_no_trainer.py#L388

Please note that the question answering pipeline does accept longer sequences, see the list of arguments here: https://github.com/huggingface/transformers/blob/f65fe3663a6c62975a9c04654703252644c9a652/src/transforme

[2022-02-16 20:11] LysandreJik commented on #15664
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-02-16 20:23] LysandreJik commented on #15656
cc @sgugger

[2022-02-16 21:17] rifatarefin commented on #15661
Thank you so much! I will keep you posted @gante

[2022-02-16 23:27] jxmorris12 commented on #10386
@sgugger Can someone fix this, or remove the model from the model hub? This is a serious gotcha and cost me a couple weeks of confusion!

[2022-02-16 23:59] anas-awadalla commented on #15608
I recently ran into the same issue and can confirm your findings. I believe [this](https://huggingface.co/t5-small) version of T5 is fine-tuned in a multitask setup which you can learn more about from the [T5 paper](https://arxiv.org/abs/1910.10683). This is why it works super well on many downstream tasks. However if you are looking for a T5 model that is only pre-trained on C4 then I suggest thi

[2022-02-17 03:24] jbmaxwell commented on #4151
I'm most interested in sentence infilling, which this script doesn't really seem to address (though my understanding was that BART training generally involves masking and permutation). Is there an additional step I need to add for the infilling functionality?

[2022-02-17 05:10] syoon9 opened #15689 "VisionEncoderDecoder Error during training"
Thank you for VisionEncoderModel. It is really nice!!
I am currently trying to develop an Indonesian VisionEncoderModel. However, during the validation step, I am getting the following error. I am wondering whether this is an expected behavior or a bug of the code.
Thank you very much in advance.

transformers.version = '4.15.0'

fename='microsoft/beit-base-patch16-224'
tzname='cahya/roberta-base-

[2022-02-17 05:13] genesith commented on #15618
This might be completely unrelated to this issue, but I was closely monitoring this thread as I was having very similar issues and I suspected it was an nccl-related error. After days of digging I fixed my issue by turning off ACS ([1](https://forums.developer.nvidia.com/t/multi-gpu-peer-to-peer-access-failing-on-tesla-k80/39748/17) [2](https://github.com/NVIDIA/nccl/issues/19#issuecomment-2132232

[2022-02-17 07:37] mwunderlich commented on #11728
I am facing the same issue when trying to follow the datasets tutorial from the Huggingface course. The line
`from datasets import load_dataset`
causes the following error:
`ImportError: cannot import name 'load_dataset' from 'datasets' (unknown location)`.

My environment:

- macOS Big Sur 11.6. on M1 Macbook
- python 3.8.0
- conda 4.11.0
- transformers 4.16.2
- datasets 1.18.3 (installed with `c

[2022-02-17 09:34] ShaneTian opened #15691 "About `decoder_input_ids` in BART doc"
https://huggingface.co/docs/transformers/v4.16.2/en/model_doc/bart#transformers.BartForConditionalGeneration.forward.decoder_input_ids

This is inappropriate. If `labels` is provided, the model will create this tensor by shifting the `labels`:
https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/models/bart/modeling_bart.py#L1320-L1324

[2022-02-17 09:51] HGamalElDiin commented on #2671
@jinkilee  Hi, please

I went through the discussion and tried to use "AlbertForSequenceClassification" instead but I cannot understand what does logits exactly indicates!

[code]

The output value is:
SequenceClassifierOutput(loss=None, logits=tensor([[ 1.0192, -0.3174]], grad_fn=<AddmmBackward>), hidden_states=None, attentions=None)

[2022-02-17 10:07] ToonTalk opened #15692 "Typo in https://api-inference.huggingface.co/docs/curl/html/detailed_parameters.html#summarization-task"
It says "0 mens top_k=1, 100.0 is getting closer to uniform probability."

mens should be means

[2022-02-17 10:13] ToonTalk opened #15693 "Incorrect information in "Getting started" regarding API tokens"
https://api-inference.huggingface.co/docs/curl/html/quicktour.html#get-your-api-token states

You should see a token api_XXXXXXXX or api_org_XXXXXXX.

But the keys start with hf_

Also https://huggingface.co/docs/hub/security#user-access-tokens describes the read and write tokens without mention of API tokens

[2022-02-17 10:24] marcostella1 opened #15694 "Tokenizer offset_mapping problem"
## Task info
Hi,
I'm trying to use the tokenizer model to create sliding windows for my `ner` task.
I have seen that the tokenizers can do this, setting the `return_overflowing_tokens=True` parameter when i call them to tokenize text. I also need the token spans, that can be taken from `BatchEncoding` tokenizer ouput, setting `return_offsets_mapping=True` parameter in the tokenizer call.

## Envir

[2022-02-17 10:54] IlllIIII opened #15695 "IndexError while applying stride for ASR"
## Environment info

- `transformers` version: 4.16.2
- Platform: colab
- Python version: 3.7.12

## Information

Hi :)

`new_stride` from `rescale_stride()` can cause an error at `apply_stride()` when `token_n` and `left` have the same value. I got an error while running ASR through `pipeline() + chunk_length_s=10` with 15 secs of audio.

https://github.com/huggingface/transformers/blob/db7d6a80e

[2022-02-17 11:04] #15662 closed

[2022-02-17 11:07] NielsRogge commented on #15689
Thanks for reporting, this has been fixed. See https://github.com/huggingface/transformers/issues/15648#issuecomment-1039452797.

[2022-02-17 12:37] NielsRogge commented on #15691
Indeed, similar to #11357 and duplicate of #14328.

Can you open a PR to fix this? Otherwise I'll do it.

[2022-02-17 13:41] sgugger commented on #10386
The model has been fixed a year ago, in [this commit](https://huggingface.co/huggingface/distilbert-base-uncased-finetuned-mnli/commit/0fadb1fe60cd119b3af82e2bf9cb98a59336d7bc)

[2022-02-17 14:04] sgugger commented on #15656
It seems weird that not passing it would avoid an OOM error, as it doesn't do anything special apart handling mixed precision (most of the work is for PyTorch XLA, so mostly for TPUs). For regular GPU training, it should be fine not to send the optimizer, except if you use mixed precision.

Out of curiosity, what is the command giving you an OOM with this script?

[2022-02-17 14:06] ShaneTian commented on #15691
I have submit a PR to fix it. Can you review it?

[2022-02-17 14:10] Narsil commented on #15693
The `hf_` tokens will work.

Will update the doc which is out of date (well the old tokenizer `api_` `api_org` still work, we just don't generate new ones anymore).

[2022-02-17 14:42] Narsil commented on #15693
Updated ! closing this issue, feel free to reopen.

[2022-02-17 14:42] #15693 closed

[2022-02-17 14:42] juliensimon opened #15698 "Image classification example fails"
Cats and dogs example fails.

transformers.__version__
'4.16.2'
datasets.__version__
'1.18.3'

[code]

[2022-02-17 14:54] VulnDetector opened #15700 "confusion about past_key_values in GPT2"
## Environment info

- `transformers` version:4.15.0

Models:

- GPT-2: @patrickvonplaten, @LysandreJik

## Information

In fact,there is no error here,or I'm not sure if this is a bug or I still have some misunderstanding about GPT2,but I sincerely wish you can read this,cause I turned to a lot of people with no one gave me right answer.

So,I wanna to question some implementation tricks in GPT2,

[2022-02-17 15:06] #15080 closed

[2022-02-17 15:14] severo commented on #15195
Unstale

[2022-02-17 15:47] gautierdag commented on #15086
Running in the same issue for the `DetrFeatureExtractor` model: https://github.com/huggingface/transformers/blob/c962c2adbff678ae6d2e98378bed5b8d1a9831d9/src/transformers/models/detr/modeling_detr.py#L422

Happy to submit a quick PR using the `torch_int_div` function added in https://github.com/huggingface/transformers/pull/15180:

[code]

[2022-02-17 17:01] jhabr opened #15703 "Fine-Tune DETR on custom dataset (less than 250 labels)"
I've been following the wonderful [tutorials](https://github.com/NielsRogge/Transformers-Tutorials/blob/master/DETR/Fine_tuning_DetrForSegmentation_on_custom_dataset_end_to_end_approach.ipynb) by @NielsRogge to fine-tune DETR on a custom dataset. However, my predicted mask seems to be always empty after training.

Let's say my dataset has 4 labels (in [coco panoptic format](https://cocodataset.org

[2022-02-17 18:35] harveenchadha commented on #15484
Sorry guys, couldn't contribute as was not well from couple of days!

[2022-02-17 18:35] jxmorris12 commented on #10386
Thank you for clarifying @sgugger! I think we had an old copy

[2022-02-17 18:42] patrickvonplaten commented on #15484
No worries! Hope you're feeling better :-)

[2022-02-17 19:37] NielsRogge commented on #15698
Update: I see you're using the cats and dogs image instead of beans. I'll rerun.

[2022-02-17 20:39] stefan-it commented on #15467
Hi @patrickvonplaten , I've trained a 32EL model with the T5 Mesh codebase (model is actually training, so I'm using a checkpoint). Now I wanted to convert the TF checkpoint into PyTorch, but the following error is thrown:

[code]

I used the created `config.json` from your [create_config](https://github.com/patrickvonplaten/t5-mtf-to-hf-converter/blob/master/create_config.py) script (and used `go

[2022-02-17 20:59] eubinecto commented on #2831
Using  an M1 macbook here. This solved the issue for me, thanks a ton!

[2022-02-17 22:07] drishtishrrma commented on #15664
Hi @LysandreJik!

I opened this issue since it was requested.. A bug in Datasets library was reported a few days back due to which we gotta new version now. I was actually referring to that bug when I was comparing the Datasets version utilised in different cases This issue was produced in an attempt to detect the underlying causes of the models' anomalous behaviour.

But I'm guessing I didn't elu

[2022-02-17 22:21] JAugusto97 opened #15705 "AutoModelForSequenceClassification not learning if model is initialized inside a function scope"
Hey,

I've made a simple function to initialize a bert model for sequence classification, an optimizer and a scheduler, but my model wasn't learning anything. After a lot of debugging, I found out that if I execute the same piece of code OUT of the function scope, the model learns.

[code]

I'm thinking that maybe sending the model to device, or maybe passing its weights to the optimizer may creat

[2022-02-17 22:26] drishtishrrma commented on #15664
@LysandreJik :

Anyway, if you still believe that the aforementioned issue/post is forum- worthy, I have no objection in taking it down and publishing it on forums.
Muti-channel communication is turning chaotic for me as well. And I've a strong intuition that I've almost found the underlying causes of anomalous behaviour of certain models, albeit I'm still refining my points and I'm almost there..

[2022-02-18 00:03] Alex-ley commented on #14307
I am getting the same warning on this line with v4.16.2:
[transformers/tokenization_utils_base.py:707](https://github.com/huggingface/transformers/blob/v4.16.2/src/transformers/tokenization_utils_base.py#L707)

[2022-02-18 00:42] LysandreJik commented on #15664
Ah, sorry, if it was asked by a member of the team then please ignore my message above. Thank you for doing the effort of opening an issue, even if I mentioned the forum would be a better place we definitely appreciate you trying to solve the problem. The issue is neither too naive nor inappropriate, it was just more likely to get an answer on the forum :)

[2022-02-18 02:44] #15689 closed

[2022-02-18 05:53] jaketae commented on #15635
Hey @tensorfoo, there is a [conversion script](https://github.com/huggingface/transformers/blob/master/src/transformers/models/wav2vec2/convert_wav2vec2_original_pytorch_checkpoint_to_pytorch.py) that can be used to convert original fairseq checkpoints to HF transformer format. Does this solve your issue?

[2022-02-18 05:54] Komalrathod55 opened #15712 "Error while finetuning XLM-R on Tensorflow-Keras"
Hello,

I am trying to finetune XLM-RoBERTa for text classification on tensorflow-keras. I have used XLMRobertaTokenizer base to tokenize the inputs. vocab_size in config file for XLM-R model is 250002 and for Roberta it is 50265. But while training I am getting below error. Can anyone help me to solve this?

I am using google colab GPU for finetuning. Tensoflow version is 2.7.0.

**InvalidArgumen

[2022-02-18 05:55] jaketae commented on #15705
Hey @JAugusto97, can you provide a full script or a reproducible Colab notebook? Reading the code I don't see why it shouldn't work.

[2022-02-18 06:14] leostormrage opened #15713 "add image generation"
add image generation

[2022-02-18 08:29] muelerma commented on #11531
Hello @LysandreJik,
is there any update on this? We are also facing issues with added tokens for both, Rust and Python tokenizers, when using the default mt5 tokenizer.

Similar to the issues above, we experience inconsistent behavior with spaces in the immediate surroundings of added tokens.
[code]
`['▁This', '▁is', '▁', 'a', '▁test', '▁', '<new_token>', '▁', '.']`
`'This is a test <new_token> .'

[2022-02-18 08:33] ToonTalk opened #15714 "Misplaced sentence in https://api-inference.huggingface.co/docs/curl/html/detailed_parameters.html#question-answering-task"
"a string to be translated in the original languages" appears in the description of the question answering documentation.

[2022-02-18 08:48] yatsurama commented on #14349
Hi @NielsRogge

did you have any progress in reproducing the masked visual tokens with BEiT so that they correspond to the ground truth labels? I am having the same issue.

Thanks

[2022-02-18 09:15] OllieBroadhurst opened #15715 "Trainer can't estimate SpeechEncoderDecoder tokens for `floating_point_ops`"
## Environment info

- `transformers` version: 4.16.2
- Platform: Ubuntu
- Python version: 3.7
- PyTorch version (GPU?): 1.9
- Tensorflow version (GPU?): NA
- Using GPU in script?: Y
- Using distributed or parallel set-up in script?: N

### Who can help
Maybe @sgugger?

## Information

Model I am using (Bert, XLNet ...): SpeechEncoderDecoder

Training the model results in `Could not estimate the n

[2022-02-18 09:23] OllieBroadhurst commented on #15713
Have you tried [Vision Encoder Decoder](https://huggingface.co/docs/transformers/model_doc/vision-encoder-decoder)?

[2022-02-18 09:34] rumeshmadhusanka opened #15716 "Converting mBART to ONNX format"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.2+cu102 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or pa

[2022-02-18 09:40] patil-suraj commented on #15716
cc @lewtun

[2022-02-18 09:50] louismartin commented on #8690
FYI I was getting this error when training on multiple gpus with multi-processing maybe due to too many requests at the same time.

I could flakily reproduce with:
[code]

The solution for me was to force offline mode:
[code]

[2022-02-18 09:51] sgugger commented on #15715
I don't think this can be solved since the model input name is not always the same. You can just ignore the warning.

[2022-02-18 10:39] gante commented on #15692
Thank you for noticing the typo, @ToonTalk! `api-inference` is an internal repository, and I've submitted the fix.

[2022-02-18 11:38] Narsil commented on #15692
Thank you for reporting this ! @ToonTalk

[2022-02-18 11:38] Narsil commented on #15714
Thank you for reporting this ! @ToonTalk

[2022-02-18 11:44] tonywenuon commented on #6263
Yes, this is my case. I got it solved.

[2022-02-18 11:57] anton-l commented on #15664
Hey @drishtishrrma! I've re-evaluated the models over the past week and haven't found any significant model or config-related differences that would explain these weird coincidences :slightly_smiling_face:
However, note that the Guarani and Assamese languages have **very** little data in the Common Voice dataset (40m and 1h of validated data respectively). This means that the validation and testin

[2022-02-18 12:50] patrickvonplaten commented on #15700
Hey @VulnDetector,

I'm having a hard time following here exactly what you mean.
If you think the problem is that the past key values of GPT2's first block are incorrectly re-used by GPT2's second block - this is not the case.
You can easily verify this when looking into the `past_key_values`. There you should notice that you have past key values for **each** transformer block.

[2022-02-18 12:52] patrickvonplaten commented on #15467
Hey @stefan-it,

You need to base your config on `t5-base` (the original T5-model) instead of `goolge/t5-v1_1-base` I believe. Could you try this instead?

[2022-02-18 13:24] stefan-it commented on #15467
Hi @patrickvonplaten , thanks, it is working with `t5-base`. Another question: why is the vocab size in the config set to 32128, whereas the spm model has a size of 32000? Is it because of the integrated tasks (such as translation), because my T5 model demands 32000 in the config (otherwise is throws an error).

[2022-02-18 13:29] VulnDetector commented on #15700
Thank you very much @patrickvonplaten
I'm sorry that I didn't express quite clear so that you had such a hard time,but in fact I know what you told me,I debugged the code,and I know,say,if there is 12 blocks in GPT2, the first return of the model contains the tuple of the (key,value) of the 12 blocks each.

Ok,if I take the code below to explain more specifically:
[code]
At first,cause `"The Manha

[2022-02-18 14:10] cdeepali opened #15720 "Drop support for Python 3.6"
Drop support for Python 3.6 as it is EOL

[2022-02-18 14:37] gante commented on #15714
(Fixed in the docs)

[2022-02-18 14:37] #15714 closed

[2022-02-18 14:41] lewtun commented on #15716
Hey @rumeshmadhusanka thanks for raising this issue! The error indicates that the numerical agreement between the raw and ONNX models is larger than ~3.6e-5.

We try to pick good defaults in the library, but in some cases you get this disagreement. You can tweak the required agreement by setting the `--atol` argument in the CLI, e.g.

[code]

We find that agreement in the range 1e-5 to 1e-3 is gen

[2022-02-18 15:17] sgugger commented on #15224
This should have been addressed by #15379, see the description of this PR or the new [doc page](https://huggingface.co/docs/transformers/master/en/custom_models) for more information!

[2022-02-18 15:48] versae commented on #15467
Maybe related: according to this comment, it was rounded to a multiple of 128 for TPU efficiency.

https://github.com/google-research/t5x/blob/main/t5x/examples/scalable_t5/t5_1_1/base.gin#L45

[2022-02-18 15:51] craffel commented on #15467
100 IDs were added for sentinel tokens (for the pre-training objective), and then as @versae said it was rounded to nearest the 128 for TPU efficiency.

[2022-02-18 16:32] ydshieh commented on #15477
Hi @pedro-r-marques

Would it be OK for me to submit a PR for this issue? Or you want to contribute once you have the time?

[2022-02-18 17:33] drishtishrrma commented on #15664
@LysandreJik : Yeah, I got your POV. Thanks for your advice, I appreciate it...

[2022-02-18 17:37] JAugusto97 commented on #15705
It might have been global variables interfering somewhere, when I tried to reproduce in a new notebook it worked 🤔
Thanks anyway!

[2022-02-18 17:37] #15705 closed

[2022-02-18 18:16] dheeman00 opened #15724 "Need more understanding of the function: get_visual_embeddings(image_path)"
Dear Developers

I was looking through the code for image embedding and found this section of the code in the visual_bert:

# this is a custom function that returns the visual embeddings given the image path
visual_embeds = get_visual_embeddings(image_path)

This is a user-defined function. But I want to know what are the existing imaging embedding process should work with visual_bert?

Some sugge

[2022-02-18 18:30] drishtishrrma commented on #15664
@anton-l:

Small batch_size achieves better generalization, this claim needs to be tested a little. Recently I came across a couple tweets touting the benefits of larger batch_size. I'll be putting it to test soon.

**To simplify things and avoid making claims I haven't personally tested, I'd like to generalize the statement I stated above as follows:**
Because different batch size (s) were utiliz

[2022-02-18 19:09] SaulLu commented on #15679
Thanks for the issue @r-stiller!

Indeed, I don't think we test that this method returns certain errors - we have two tests dedicated to it `test_prepare_for_model` and `test_compare_prepare_for_model`. But I agree that having this method public make things harder to maintain.

@r-stiller , could you share with us why you wanted to use `prepare_for_model` on a list of ids? That would be very usefu

[2022-02-18 19:17] NielsRogge commented on #14349
Hi,

I'm pretty sure my implementation is correct. You can visualize the predictions of BeitForMaskedImageModeling using DALL-E's decoder.

[2022-02-18 21:36] #15404 closed

[2022-02-19 08:12] halixness commented on #15550
Hi! I am interested in this implementation and I can help for it!

[2022-02-19 15:02] #14785 closed

[2022-02-19 15:05] manuelciosici commented on #14819
Thank you **github-actions**. I plan to work on this issue's PR this weekend.

[2022-02-19 15:43] renxingkai commented on #14706
I also meet the same problem. Hoping you can fix the code sometime. @wlhgtc

[2022-02-19 17:04] stefan-it commented on #15467
Hi @craffel, thanks for that! I could solve the problem by using `seqio.SentencePieceVocabulary(SPM_VOCAB, extra_ids=100)` in the task description. I've checked the converted checkpoint and it now has the desired 32128 shape :+1:

But I have another question regarding to the Scaling Efficiently paper: it seems that `c4_v220_unsupervised` is used as mixture/task description is used in the GIN files

[2022-02-19 17:51] PiercarloSlavazza opened #15733 "TokenizerFast.from_file() is stuck when loading a large tokenizer.json with tokens added and "pre-trained" starting from an existing, trained model"
## Environment info

- OS: Macos Monterey, v12.2.1, Macbook Pro M1; the issue also occurred when the program has been executed using Ubuntu 20.04 LTS, hosted both on Linode and Paperspace
- `transformers` version: 4.16.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.12
- PyTorch version (GPU?): 1.10.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CP

[2022-02-19 18:01] Arij-Aladel opened #15734 "Self attention in T5 decoder does not work as expected"
Hello!
I have been struggling with this problem for a while. I was trying to train T5 using just 2 layers in the encoder and 2 layers in the decoder from scratch on MLM task. Drawing self-attention of the decoder I saw that the attention weights from the first epoch are not masked properly. where the max_seq_length of the masked sequence is 128. I have trained this [tokenizer](https://github.com/h

[2022-02-19 18:35] craffel commented on #15467
It's here: https://github.com/google-research/text-to-text-transfer-transformer/blob/main/t5/data/tasks.py#L106

But it needs further gin configuration if you actually want to use it as a pre-training task. If you want to use the standard T5 pre-training task, use https://github.com/google-research/text-to-text-transfer-transformer/blob/main/t5/data/tasks.py#L46

[2022-02-19 19:12] PiercarloSlavazza commented on #15733
Some more context: I figured out how to a) enable logs b) switch to the "slow" (i.e. Python only) tokenizer - it is as simple as:

[code]

That way:
* its now clear what's happening when the CPU runs at 100% for so long time (I expect that the behaviour of the "fast", Rust-based tokenizer is not dissimilar): it's just building a trie for fast tokens lookup
* I do not know whether this can be done

[2022-02-19 19:17] PiercarloSlavazza commented on #15733
I add another bit: it's unclear to me why this issue did not arise during the pre-training. Maybe the tokenizer used during the training phase does not use the trie? Sounds a bit weird…

[2022-02-19 19:38] PiercarloSlavazza commented on #15733
_Maybe_ I found a thing: after the call of `AutoTokenizer.from_pretrained()`, [in this point](https://github.com/huggingface/transformers/blob/f87db5e412f561c089e70ab2b15bfa070c2b07f5/src/transformers/tokenization_utils_base.py#L1964) of `tokenization_utils_base.py`, the code loops through the each additional token: so the trie is _re-built from scratch_ for every and each token (see [here](https:

[2022-02-19 19:42] daniel-ziegler opened #15735 "`DebertaTokenizer` always assigns token type ID 0"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.15.13-051513-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or par

[2022-02-19 19:43] daniel-ziegler commented on #15735
Looks like this is the change that introduced this behavior.

https://github.com/huggingface/transformers/commit/57c1749efabf5c86bcfd4e4e078567a63a7c8a81#diff-7ff4f35b72b8541520ea52c851b55bc2682da83e01e6e0ceeb5289f7dd2f0620R217

[2022-02-19 20:20] ayaka14732 commented on #15559
I can confirm that bert-large generates very strange output.

[code]

`facebook/bart-base`:

[code]

`facebook/bart-large`:

[code]

[2022-02-19 20:44] PiercarloSlavazza commented on #15733
I did a "quick&dirty" patch to the code, and it seems to work: I have removed the code from [this line](https://github.com/huggingface/transformers/blob/f87db5e412f561c089e70ab2b15bfa070c2b07f5/src/transformers/tokenization_utils_base.py#L1947) to this [other line](https://github.com/huggingface/transformers/blob/f87db5e412f561c089e70ab2b15bfa070c2b07f5/src/transformers/tokenization_utils_base.py#

[2022-02-19 20:51] PiercarloSlavazza commented on #15733
As a side note, I noticed that the additional tokens are written in the `tokenizer.json` file with a trailing new line character, as in

[code]

@SaulLu  is this an expected (and harmless) behaviour, or a bug (for which, in case, I will open a different issue, of course)?

[2022-02-19 22:07] Impelon commented on #15559
To me this seems to be unrelated to #9731;
[@patrickvonplaten's previous method](https://github.com/huggingface/transformers/issues/9731#issuecomment-901775955) to check whether the correct mask-token is used, produces a difference of 0 when used with the large model.
So it looks like this is not related to the mask-token, as @ayaka14732's example does not even use masks.

[2022-02-20 00:39] vfbd opened #15736 "`XGLMForCausalLM` does not compute `position_ids` correctly when using `inputs_embeds`"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu102 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or para

[2022-02-20 05:02] thomas-li-sjtu opened #15738 "Can I training an XLM model from scratch by transformers?"
How can I pretain XLM by transformers? Any example? Please.

[2022-02-20 05:04] thomas-li-sjtu commented on #6743
@patil-suraj excuse me, is there any news on the pretraining script for Bart? Thanks.

[2022-02-20 05:37] prajdabre commented on #6743
@thomas-li-sjtu you can try my toolkit if you like. It's based on transformers and allows for Bart/mbart pretraining. https://github.com/prajdabre/yanmtt

[2022-02-20 05:47] thomas-li-sjtu commented on #6743
Hi there, here is my problem. I hope to pretrain a bart model based on my own dataset and fine tune it for another task (not nmt). I noticed that your toolkit designs for nmt so maybe it is not the one I need. Anyway, thanks for your reply!

[2022-02-20 05:51] prajdabre commented on #6743
@thomas-li-sjtu ok I understand. It's not just designed for NMT (despite its name). I've used it for summarisation and general NLG without problems. Good luck with your search.

[2022-02-20 05:55] thomas-li-sjtu commented on #6743
Wow that is awesome. I will try it for my task!

[2022-02-20 05:59] prajdabre commented on #6743
@thomas-li-sjtu cool. Feel free to raise issues as it helps me add new functionality that may be of use to people. If you want to know how to use it for summarisation (or generic nlg) then look here: https://github.com/AI4Bharat/indic-bart

[2022-02-20 07:47] jaketae commented on #15738
Hey @thomas-li-sjtu, you definitely can. I recommend that you check out [this HF blog post](https://huggingface.co/blog/how-to-train). Although the article doesn't use XLM, the process should roughly look the same.

Also, a gentle reminder to use the [discussion forum](https://discuss.huggingface.co) for inquiries. GitHub Issues is used for bug reports and feature requests!

[2022-02-20 08:50] PeterGilles commented on #15392
I think I am running into a similar problem.  When I remove/replace` '<s>' and '</s>'` as described above, I am getting the following error, when loading the processor:

[code]

[code]

`ValueError: The tokens {'</s>', '<s>'} are defined in the tokenizer's vocabulary, but not in the decoder's alphabet. Make sure to include {'</s>', '<s>'} in the decoder's alphabet.`

When I leave all the `<s>, </s

[2022-02-20 09:17] pedro-r-marques commented on #15477
@ydshieh Please do go ahead. I didn't have the opportunity to reproduce the use case for `past_key_value`.

[2022-02-20 09:20] function2-llx opened #15739 "Add compatibility for Postponed Evaluation of Annotations (PEP 563)"
Hello,

The code says that it will add compatibility for Postponed Evaluation of Annotations ([PEP 563](https://www.python.org/dev/peps/pep-0563/)) when Python 3.9 is released (which already happened on 2020.10.5). Is there any plan to complete this?

https://github.com/huggingface/transformers/blob/2c2a31ffbcfe03339b1721348781aac4fc05bc5e/src/transformers/hf_argparser.py#L85-L90

[2022-02-20 10:06] PeterGilles commented on #15392
I think I am running into a similar problem.  When I remove/replace` '<s>' and '</s>'` as described above, I am getting the following error, when loading the processor:

[code]

[code]

`ValueError: The tokens {'</s>', '<s>'} are defined in the tokenizer's vocabulary, but not in the decoder's alphabet. Make sure to include {'</s>', '<s>'} in the decoder's alphabet.`

When I leave all the `<s>, </s

[2022-02-20 12:49] Arij-Aladel commented on #15734
@patrickvonplaten @patil-suraj @sgugger @stas00

[2022-02-20 15:01] #15118 closed

[2022-02-20 15:01] #15117 closed

[2022-02-20 15:02] #15112 closed

[2022-02-20 15:02] #15051 closed

[2022-02-20 15:02] #15039 closed

[2022-02-20 15:02] #14862 closed

[2022-02-20 15:02] #14702 closed

[2022-02-20 15:54] tomerip commented on #15316
@callzhang Did this fix your issue?
I'm trying to understand how the `text-generation` pipeline works with inputting batches (as you properly set `tokenizer.padding_side = 'left'`) but the pipeline itself has `padding=False`:

https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/pipelines/text_generation.py#L175

Maybe @Narsil can provide furth

[2022-02-20 16:08] Arij-Aladel commented on #15734
I have tracked the mask it was generated normally. I even tried to decrease the[ masking value ](https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/modeling_utils.py#L307)from -10000 to -10000000000 . The issue is still. I do not know where is the problem, but apparently, it appears after summing the mask to position bias and scores and final

[2022-02-20 17:02] #15279 closed

[2022-02-20 18:18] cbrew opened #15742 "Documentation error in Trainer.predict when output_hidden_states is True"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: macOS-11.4-x86_64-i386-64bit
- Python version: 3.9.8
- PyTorch version (GPU?): 1.10.2 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in scrip

[2022-02-20 18:33] cbrew commented on #15742
pull request #15743 provides the suggested documentation change.

[2022-02-20 20:37] PhilipMay opened #15744 "Problems loading csv dataset in examples `run_summarization.py`"
Hi,

the following lines in `run_summarization.py` have some issues.

https://github.com/huggingface/transformers/blob/2c2a31ffbcfe03339b1721348781aac4fc05bc5e/examples/pytorch/summarization/run_summarization.py#L344-L346

According to the datasets documentation a csv dataset is loaded by providing `data_files`. See https://huggingface.co/docs/datasets/loading.html#csv

This is not done here. AFAI

[2022-02-20 21:14] KrishPro opened #15745 "BertForSequenceClassification defines criterion at every forward pass"
## Environment info
I don't think, That any environmental info will be helpful in my issue

### Who can help

@LysandreJik, Can you look into the code ?

I just want anyone to have a look here https://github.com/huggingface/transformers/blob/master/src/transformers/models/bert/modeling_bert.py#L1579
`loss_fct = CrossEntropyLoss()`

Inside the forward function of `BertForSequenceClassification`, In

[2022-02-20 21:20] KrishPro commented on #15745
I'm planning to post a pull-request, If someone from the official contributors confirms that this is a bug
Because I'm still not sure if this is a bug or my understanding is un-clear

[2022-02-20 21:35] KrishPro commented on #15745
Ok, I myself found a quick-fix for this

If we don't want to create `CrossEntropyLoss`'s instance at every forward step, Then we can avoid passing labels to the forward functions and then calculate the loss as usual from `logits` from the model's output

[2022-02-20 21:35] #15745 closed

[2022-02-21 00:58] VulnDetector commented on #15700
I know there is something I ignored.
I thought the GPT2 attend any given tokens at any position.I ignored that the token only attend to those which is on the left side.
I ignored there is still the code:
[code]
Thanks,anyway. @patrickvonplaten

[2022-02-21 00:59] #15700 closed

[2022-02-21 02:01] henk717 commented on #15720
Why deliberately drop support? If people are stuck on 3.6 for whatever reason it will be nice for them to be able to use it as long as it lasts.

[2022-02-21 06:59] Arij-Aladel commented on #15734
Note: I thought it is an overfitting problem so I increased the number of layers gradually to be (4:4=encoder:decoder, 6:6=encoder: decoder). That mitigates this problem but the problem still exists.

[2022-02-21 09:44] #15716 closed

[2022-02-21 09:45] cdeepali commented on #15720
Python 3.6 is EOL now.  Do we still want to retain support for it?

[2022-02-21 10:02] patil-suraj commented on #15734
HI @Arij-Aladel it would be awesome if you cold post a short code snippet without much custom code here so we can reproduce easily. Also for general questions like this please use the [forum](https://discuss.huggingface.co/) as we issues for bug reports and feature requests. Thanks!

[2022-02-21 10:16] Arij-Aladel commented on #15734
@patil-suraj  Thanks for your reply. It is not a general question it is a very specific question related to self-attention masking in the T5 decoder. No need to verify my code. The issue in T5 masking in the attention in the decoder, it does not work properly and I showed an example in the notebook.

[2022-02-21 10:27] patil-suraj commented on #6743
Sorry to only come back to this issue now.  If anyone is interested in adding this example script in `Transformers`, I would be more than happy to help :)

For BART pre-training we need the text-infilling + sentence-permutation data collator which you could find here https://github.com/morganmcg1/rotobart/blob/main/data_collator.py#L223

With this collator you could then modify and use `run_summar

[2022-02-21 10:32] patil-suraj commented on #15082
Gently pinging @cyk1337 :)

[2022-02-21 10:42] patil-suraj commented on #15744
Hi @PhilipMay

This part of code https://github.com/huggingface/transformers/blob/a63bd3675f3fa1a6154c8bf1d085c66eaea67e56/examples/pytorch/summarization/run_summarization.py#L347-L358

handles loading `csv` or `json` files. It also handles train and valid and test splits. Have you tried passing the `train_file` , `validation_file` options to the script ?

[2022-02-21 10:58] PhilipMay commented on #15744
Yes. That is right. I have confused the two if branches. Sorry.

[2022-02-21 10:58] #15744 closed

[2022-02-21 11:05] patil-suraj commented on #15736
Good catch! Fix is here #15751

[2022-02-21 11:25] patil-suraj commented on #15677
Hi could please a few more details, like what model are you using (bert, roberta etc) and code snippet so we can reproduce this ?

[2022-02-21 12:24] NielsRogge commented on #15698
Indeed, therefore closing this PR. For now, you have to install datasets from master to have it.

[2022-02-21 12:24] #15698 closed

[2022-02-21 12:51] sanchit-gandhi opened #15754 "Diverging PT-Flax Wav2Vec2 Hidden-States"
I noticed an absence of PT-Flax cross-tests in the [test file](https://github.com/huggingface/transformers/blob/master/tests/test_modeling_flax_wav2vec2.py) for the FlaxWav2Vec2 model. I was wondering if at any point a layer-by-layer comparison of the PT-Flax hidden-states was performed? I was having a look through for myself and found that whilst the final hidden-states agreed to within the presc

[2022-02-21 15:02] #15127 closed

[2022-02-21 15:02] #15126 closed

[2022-02-21 15:06] Darth-Carrotpie opened #15757 "Add support to export Blenderbot models to onnx"
# 🚀 Feature request
Add support to export Blenderbot models to onnx. Please! Or help guide towards a correct direction!

## Motivation
There is someone working to implement Blenderbot 2.0 into transformers [12807](https://github.com/huggingface/transformers/issues/12807#issuecomment-1039315898), yet we still do not have a proper 1.0 export to onnx.

## Your contribution
### Error with torch.onnx.e

[2022-02-21 15:27] NielsRogge commented on #15282
Closing this issue, as I've answered your question. Feel free to re-open if you have further questions.

[2022-02-21 15:27] #15282 closed

[2022-02-21 15:28] NielsRogge commented on #15126
This question has been answered on the [forum](https://discuss.huggingface.co/t/using-generate-with-tapas-as-encoder-in-encoderdecoder/13655).

[2022-02-21 15:31] tuvuumass commented on #15656
@sgugger: You are right, I still got an OOM error after training for a while.

I am fine-tuning a `bert-base` model repeatedly on different datasets (like in continual learning or self-training) using 4 NVIDIA GeForce GTX 1080 Ti GPUs. The procedure is as follows:

[code]

The `finetuning_procedure` is similar to `run_glue_no_trainer.py` that uses accelerator and DDP.  If I call it from a bash scr

[2022-02-21 15:35] 763337092 commented on #14712
Doing it the way you said I ran into this problem：

The class this function is called from is 'DebertaV2Tokenizer'.
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.
Traceback (most recent call last):
  File "prepare_debertav3_data.py", line 89, in <module>
    tokenizer = DebertaV2Converter(tokenizer).converted()
  File "/search/

[2022-02-21 15:54] patrickvonplaten commented on #15674
Hey @JH-lee95,

Please note that this question is not related to the original Transformers code and not a bug so in the future it would be amazing if you could use the forum for such questions instead: https://discuss.huggingface.co/ .

To answer your question, to make your use case work, you'll have to adapt the following function: https://github.com/huggingface/transformers/blob/86119c115496ca77

[2022-02-21 15:55] patil-suraj commented on #15757
There is someone working to implement Blenderbot 2.0 into transformers https://github.com/huggingface/transformers/issues/12807#issuecomment-1039315898, yet we still do not have a proper 1.0 export to onnx.

Nice motivation! More seriously though, note that onnx support is optional and is not a core feature. There will always be some models that don't have onnx support and we usually tend to add i

[2022-02-21 16:02] Darth-Carrotpie commented on #15757
Sorry, didn't really know what to write in the *Motivation* section... uh.. "we need it for a project"? ¯\_(ツ)_/¯

[2022-02-21 16:09] patrickvonplaten commented on #15559
I see sorry you're right - I looked too quickly indeed. Will take a deeper look in the coming days.

[2022-02-21 16:10] patrickvonplaten commented on #15392
@PeterGilles,

I'm pretty sure the problem is exactly the same as solved in https://github.com/huggingface/transformers/issues/15392#issuecomment-1024905216 . Could you try to solve it following the comments?

[2022-02-21 16:12] patrickvonplaten commented on #15275
Answered on the PR here.

[2022-02-21 16:13] patrickvonplaten commented on #14648
@ydshieh think you've worked with LED quite a bit recently. Could you take a look here? :-)

[2022-02-21 16:45] ydshieh commented on #14648
Sure, I will try it 😎

[2022-02-21 16:48] debjyoti003 commented on #5075
Can a custom distilbert model which is saved in local disk be converted to onnx?

[2022-02-21 17:48] beneyal commented on #15003
Hi @NielsRogge 🙂

I hope it's okay I'm tagging you, I just don't know if this issue is still relevant. If it is, I'll gladly work on it, and I'd love your opinion on the above message (the code was ran using Transformers v4.17.0.dev0).

Thanks,
Ben

[2022-02-21 17:57] NielsRogge commented on #15003
Hi Ben!

Sorry forgot to reply. Great summary table over there! And as you can see, there's some work to do. 😂

Feel free to open a PR!

Btw, XLMRobertaTokenizer's corresponding checkpoint is xlm-roberta-base.

[2022-02-21 18:04] beneyal commented on #15003
Great, will do!

[2022-02-21 18:36] Aopolin-Lv commented on #15130
I have met the same question `"NotADirectoryError: [Errno 20] Not a directory: '/root/.cache/huggingface/datasets/downloads/1bc05d24fa6dda2468e83a73cf6dc207226e01e3c48a507ea716dc0421da583b/cnn/stories'"`

And I have tried to empty my cace using `rm -r ~/.cache/huggingface/datasets`, but it did not work.

When I replace dataset_name cnn_dailymail with xsum, it backs to normal.

[2022-02-21 20:53] ArEnSc commented on #15166
@patrickvonplaten @anton-l @jaketae
I would be interested in helping with this, as I am super genuinely interested in Speech Synthesis.

I am eventually looking to return back to (Local / Serverless) Machine Learning Engineering from Mobile Software Development in the payments domain.

I was mainly working in the Mobile Machine Learning Space before DL was a thing.
I worked on feature extraction f

[2022-02-21 21:42] sgugger commented on #15656
I would strongly recommend not doing a loop on a function for training but launching various scripts (which can be automated in a bash loop as well), as it's very hard to keep track of all objects that Python might allocate memory for and not release.

The `Accelerator` has a method to clean up a bit its internal references, but the code you suggested should already clean up everything, so I don't

[2022-02-21 23:03] PiercarloSlavazza commented on #15733
I have filed [an issue to in the github repo of the "fast" tokenizers](https://github.com/huggingface/tokenizers/issues/914) and I working on that now (and found another related pitfall also on the transformers side).

[2022-02-21 23:18] tuvuumass commented on #15656
@sgugger: Gotcha! Thanks for the suggestion!

[2022-02-21 23:19] #15656 closed

[2022-02-22 04:00] imaruk commented on #8272
Also encountering the exact same problem with DistilBERT for QA.

[2022-02-22 04:04] tanaymeh opened #15759 "Add EfficientNet Model - PyTorch"
# 🌟 New model addition

I would like to add the EfficientNet model to the Transformers library

## Model description
EfficientNet was proposed in the paper, **[EfficientNet: Rethinking Model Scaling for Convolutional Neural Networks](https://arxiv.org/abs/1905.11946)**.

EfficientNet is a convolutional neural network architecture and scaling method that uniformly scales all dimensions of depth/wid

[2022-02-22 04:22] Komalrathod55 opened #15760 "Save Finetuned XLM-RoBERTa on Tf-Keras"
I am finetuning XLM-RoBERTa for text classification. I am finetuning model on Tensorflow-keras. I have trained model on google colab GPU.  I used below save method from keras as shown below to save my model.

[code]

It saves saved model but gives below error when loading the model on CPU. How can I load model to run it?

[/usr/local/lib/python3.7/dist-packages/tensorflow/python/training/py_checkp

[2022-02-22 06:08] #15715 closed

[2022-02-22 06:48] debjyoti003 commented on #14334
Hi @Narsil, I am facing the same issue, I believe this is happening because in my tokenizer_config.json, the file location for the "tokenizer_file" is given as "/root/.cache/huggingface/transformers/75abb59d7a06f4f640158a9bfcde005264e59e8d566781ab1415b139d2e4c603.7f2721073f19841be16f41b0a70b600ca6b880c8f3df6f3535cbc704371bdfa4". I believe if I change this, my model would not throw this error. But

[2022-02-22 06:51] OllieBroadhurst opened #15763 "Add TUNet"
# 🌟 New model addition

The TUNet model for audio superresolution

## Model description

[TUNet: A Block-online Bandwidth Extension Model based on Transformers and Self-supervised Pretraining](https://arxiv.org/abs/2110.13492v3) is a paper by Viet-Anh Nguyen, Anh H. T. Nguyen, and Andy W. H. Khong, introducing a model for audio superresolution based on transformers.

Audio superresolution allows f

[2022-02-22 08:32] yuvalkirstain commented on #14189
@ibeltagy Thank you so much for sharing this!
Did you by any chance check if those changes + training with fp16 hurt performance compared to the regular setting?

[2022-02-22 08:51] juliensimon commented on #15698
OK, thank you.

[2022-02-22 08:55] LukeForeverYoung opened #15764 "Resnet weights should not be downloaded when building DETR by from_pretrained"
## Describe the bug
Hello, the building process of DETR in transformers uses timm to construct a resnet backbone.
[code]
However, `pretrained=True` should only be enabled when building an initial DETR. When building DETR with `from_pretrained`, the pretrained weights of Resnet are redundant. If there is a lack of internet connection or a poor network environment, this can cause the code to get stu

[2022-02-22 09:41] NielsRogge commented on #15764
Hi,

That totally makes sense.

To solve this, we can add an attribute to `DetrConfig` called `use_pretrained_backbone` which is set to `True` by default, but can be set to False. In that way, when initializing a DetrModel as follows:

[code]
or, in case you want to build a DetrModel from a local pytorch_model.bin file:
[code]
However, we're also planning to have a ResNet implementation in the lib

[2022-02-22 10:01] FrancescoSaverioZuppichini commented on #15764
Hi, Thanks for pointing this out. I agree with @NielsRogge about adding a flag to control the backbones' weight download. Definitely, having our standalone implementation of ResNet embedded in Detr solves the issue.

[2022-02-22 10:23] lavine-lmu opened #15765 "do not support deepcopy when using deepspeed?"
## Environment info

- `transformers` version: 4.16.2
- Platform: Ubuntu
- Python version: 3.8
- PyTorch version (GPU?): 1.8
- Tensorflow version (GPU?): none
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

### Who can help

@stas00

## Information

Model I am using (Bert, XLNet ...): m2m100

The problem arises when using:
* [ ] the official example scripts: (gi

[2022-02-22 10:37] lewtun commented on #15757
Hey @Darth-Carrotpie thanks for raising this issue and sharing a solid first stab at the export! I'll take a look at this later in the week and see what the problem is :)

[2022-02-22 10:38] patil-suraj opened #15766 "[Discussion] Loading and initialising large models with Flax"
Opening up this issue to discuss how to initialise and load large models with Flax.

# Goals:
1. Be able to initialise and pjit really large models that don’t fit on a single device.
2. Avoid memory fragmentation when loading pre-trained weights in `from_pretrained`.

# Issues:
- With the current API it’s not possible to initialise a model which does not fit on a single device, since the model
wei

[2022-02-22 12:20] vijit-m commented on #15525
As @Dharisd said, I will help you out with a little bit of code snippet. First thing to do is to install pyctcdecode and kenlm. Use:

`!pip install pyctcdecode`
`!pip install https://github.com/kpu/kenlm/archive/master.zip`

Next make the changes in the file _transformers/pipelines/automatic_speech_recognition.py_ . Add the following code in the line after 315.
`return logits` (This will return th

[2022-02-22 13:10] patil-suraj commented on #15763
cc @patrickvonplaten @anton-l

[2022-02-22 15:01] PeterGilles commented on #15392
@patrickvonplaten , thanks. I guess my problem is exactly what is described in the comment above. However, I am not succeeding. Maybe I am not getting the last step mentioned in the comment about the Wav2Vec2CTCTokenizer.

My setup at the moment is the following:

[code]

`ValueError: Input logits of size 39, but vocabulary is size 41`

The model on [pgilles/wav2vec2-large-xls-r-LUXEMBOURGISH-with

[2022-02-22 15:02] amgreene opened #15769 "Docstring says target_sizes is optional (in DETR post_process) but the code disagrees"
https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/models/detr/feature_extraction_detr.py#L677

The Docstring marks the `target_sizes` parameter as `*optional*` but the parameter has no default value and is used without any conditional checking for whether it is `None`, so it would seem to be required.

[2022-02-22 15:27] patil-suraj commented on #15766
Had an offline discussion with @patrickvonplaten and here's what we discussed.

We can go with option 2 with the following behaviour:

- introduce a new argument `FlaxPretrainedModel.__init__` called `do_init`, default to `True`. The API stays as it is right now.
`do_init` will be completely optional behaviour only to be used initialising and/or loading large models.
- If `do_init=False`, don't in

[2022-02-22 15:39] montellasebastien commented on #14770
## Environment
* Python version: 3.6.13
* Platform: Ubuntu 18.04.5 LTS
*  `PyTorch` version (GPU?): 1.10.1 (True)
* `transformers` version: 3.3.1
* Flax version (CPU?/GPU?/TPU?): not installed (NA)
* Jax version: not installed
* JaxLib version: not installed
* Using GPU in script?: no
* Using distributed or parallel set-up in script?: no

Hello !

I have noticed the same with transformers (v3.3.1)

[2022-02-22 15:39] gante commented on #15760
Hi @Komalrathod55 👋 The `.save` method saves a myriad of TensorFlow-related objects, which may be tricky to serialize and/or load due to our complex architectures. We recommend using TF's `model.save_weights("some_folder/your_model_name.h5")` (with the `.h5` file extension) to store the weights, and then our `.from_pretrained("some_folder")` model class method to restore them.

Let me know if this

[2022-02-22 16:05] dblakely commented on #15591
The reason is that the encoder has no need to cache keys and values; all we need to do is cache the encoder output hidden states and then we can reuse those for cross-attention. Ultimately, the T5 encoder is only used one time during generation - just one forward pass at the very beginning of generation and then we have the hidden states and are good to go on that front. On the other hand, the dec

[2022-02-22 16:23] bduclaux opened #15771 "shift_tokens_right function missing for mt5 models"
## Environment info
- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.11.0-1028-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.11.0a0+git06838ce (False)
- Tensorflow version (GPU?): 2.9.0-dev20220221 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0

### Who can help
@patil-suraj

## Information

Hello

I am tr

[2022-02-22 16:36] patil-suraj commented on #15771
Good catch, thanks for opening the issue!
Would be interested to open a PR to add this function in flax mT5?

[2022-02-22 17:31] ydshieh commented on #14648
Hi @parambharat , @patrickvonplaten

I looked this issue, and think @parambharat 's suggestion makes sense, but need to be refined:

In the method `_pad`, just like `attention_mask`, we need to deal with the case `"global_attention_mask" not in encoded_inputs`:

  1. either provide a default value
  2. or just do nothing, and not include `global_attention_mask` to the outputs

If we go for option

[2022-02-22 17:33] dblakely opened #15772 "Cuda error when using T5 with the new Apex FusedRMSNorm"
Hi there, thanks for the work integrating the new Apex kernel to accelerate T5! Unfortunately, however, I'm having some trouble getting it to run. I installed the Apex library following the instructions on their repo and am trying to run a small test script on an RTX A6000 with cuda 11.1.

## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-4.15.0-135-generic-x86_64-with-g

[2022-02-22 17:38] SaulLu commented on #14770
Thank you very much for the detailed issue, unfortunately it seems to us that there is no simple way to add tokens in the way you describe.

Currently the added tokens are not added to the vocabulary of the tokenization model - here WordPiece - but are preserved from the beginning of the tokenization - no matter which tokenization model is used afterwards.  To put it simply, if you added the `'myn

[2022-02-22 18:07] ZhaofengWu commented on #15591
Yes, I understand this motivation. But `past_key_values` can also be used to implement this method I cited. It is perhaps an unorthodox use of this attribute, but I don't think it should be forbidden. Re. encoder hidden states: `past_key_values` effectively prepends several trainable tokens *at each layer* for T5 to attend to -- I don't think manipulating the hidden states can achieve this purpose

[2022-02-22 18:11] patrickvonplaten commented on #15766
One small addition:

It's not really a breaking change since we introduce a new behavior with `do_init=False` so this can't by definition break anything existing. Very interested in hearing others opinion on this!

[2022-02-22 18:25] patrickvonplaten commented on #14648
I understand the issue now much better - thanks for clarifying! IMO it's a good idea to overwrite the `_pad` method in the tokenizer  and I agree with @ydshieh that option 2.) is simpler makes more sense here! @parambharat would you be interested in opening a PR here or @ydshieh maybe? :-)

[2022-02-22 18:26] #15502 closed

[2022-02-22 18:31] borisdayma commented on #15766
This is great, I like it!!!

[2022-02-22 18:34] LysandreJik commented on #15640
Maybe also of interest to @lewtun @michaelbenayoun

[2022-02-22 18:39] LysandreJik commented on #15621
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-02-22 18:40] patrickvonplaten commented on #15392
Hey @PeterGilles,

I updated your config here: https://huggingface.co/pgilles/wav2vec2-large-xls-r-LUXEMBOURGISH-with-LM/commit/dbfa456977153ef0e9d37f449854de9fddd34595 . The tokenizer should be correct now - can you check your example again? Sorry the LM is too huge for me to check it locally

[2022-02-22 18:42] LysandreJik commented on #15610
Hey, there is some information lacking. Could you please provide:
- A fully working code example: there is no call to `get_model_output` so we're unaware of what is the model and the sentence
- The result of `transformers-cli env`
- What result did you expect

Thank you.

[2022-02-22 18:44] LysandreJik commented on #6327
This is implemented in recent versions: https://huggingface.co/docs/transformers/master/en/main_classes/pipelines#pipeline-batching

cc @Narsil

[2022-02-22 18:44] LysandreJik commented on #15609
Hey! Would you like to open a PR?

[2022-02-22 18:45] dblakely commented on #15591
Do you mean in Huggingface's T5 implementation or in the paper you're trying to implement? I think if you want to prepend special tokens in each layer, you'd have to customize `T5Attention` anyway.

[2022-02-22 18:53] LysandreJik commented on #15642
@stas00, would you have any recommendation regarding this question?

[2022-02-22 18:56] stas00 commented on #15772
thank you for the report, @dblakely

I tested your code and it works on my rtx-3090 / pt-1.10

I wonder if you need to set device? Does this work?

[code]

Alternatively, could you please test with pt-1.10? Perhaps it only works with the newer version

[2022-02-22 18:57] LysandreJik commented on #15598
Hello! I recommend reading the following, which mentions what must be done to run models with JIT: https://huggingface.co/docs/transformers/v4.16.2/en/serialization#torchscript

[2022-02-22 18:58] dblakely commented on #15591
Also, I think the maintainers missed this thread, so perhaps make a feature request for passing passing past keys and values to the encoder? I do think you're correct that they _could_ be passed to the encoder (`T5Attention` would have to be modified to concatenate them to the present keys and values, as in the decoder). Or you could tag one of the maintainers in this thread.

[2022-02-22 18:59] LysandreJik commented on #11531
Pinging @SaulLu

[2022-02-22 19:08] stas00 commented on #15642
We have a lot of WIP projects happening that will eventually address this kind of challenges:

- oslo: TP
- Deepspeed-Inference == TP

but the first one is not fully integrated and the second is still being worked on.

So a single model will currently work with Deepspeed-ZeRO over either multi-gpu or with cpu/nvme-offload no problem, so I'd say that the low hanging fruit is to do mp=1.

And as @sd

[2022-02-22 19:14] LysandreJik commented on #15450
Hey @francisco-perez-sorrosal! We encourage defining your own loss outside of the model for this use-case.

See https://github.com/huggingface/transformers/issues/9625#issuecomment-762167788 and https://github.com/huggingface/transformers/issues/7024#issuecomment-689625449 for more context.

[2022-02-22 19:22] stas00 commented on #15765
@lavine-lmu,

deepspeed installs all kinds of hooks into the model, which perhaps makes it impossible to `deepcopy`

Have you tried copying the model before deepspeed init? and then initing on the copy?

Overall this question belongs to https://github.com/microsoft/DeepSpeed as it's not related to the transformers integration.

But if you look at:

https://github.com/microsoft/DeepSpeed/blob/2151c

[2022-02-22 19:23] codego7250 commented on #13690
@stas00 For TP, it will go with the megatron-lm's way to do the parallelism in a python way if I understood correctly. If that's the case, it leaves us the opportunity to support the tpu and etc since the only question is about the allgather&allreduce API.
If that's case, I'd like to move this direction ahead for transformer. I'm not sure where we are now and what's the right branch to start. It w

[2022-02-22 19:23] LysandreJik commented on #15724
Hey @dheeman00!

You should check out the following complete example for a fully working pipeline with VisualBERT: https://github.com/huggingface/transformers/tree/master/examples/research_projects/visual_bert

cc @gchhablani

[2022-02-22 19:38] stas00 commented on #13690
At the moment we have 2 projects that support TP (tensor parallelism):

- oslo https://github.com/tunib-ai/oslo
- Deepspeed-Inference https://www.deepspeed.ai/tutorials/inference-tutorial/

Both are not yet integrated into transformers. Oslo we are just slow to integrate since I'm busy with BigScience and @jaketae is backing me up and has started to work on the integration. Deepspeed-Inference is

[2022-02-22 19:40] dheeman00 commented on #15724
Hey @LysandreJik

I looked into the repo. But I think I found a better example that can be helpful for others.

https://huggingface.co/docs/transformers/model_doc/deit

deit directly represents a vector from a given image.

[2022-02-22 19:41] dblakely commented on #15772
Thanks! I did upgrade torch to 1.10.2+cu111 and ran your script and it worked. However, now I'm realizing that how I specify the device seems to be determining whether or not I get the error I mentioned above. I'm using a machine with 4 GPUs and if I just say `device = "cuda"`, it works. But if I say, `device = "cuda:3"`, it doesn't work (sorry, I omitted this detail in my OP because I assumed it

[2022-02-22 20:03] patrickvonplaten commented on #15754
Think we can close this for now

[2022-02-22 20:03] #15754 closed

[2022-02-22 20:04] patrickvonplaten commented on #15754
Info is taken from this PR btw: https://github.com/google/jax/pull/6143

[2022-02-22 20:19] bduclaux commented on #15771
Hey Suraj,

Sure ! Will do it tomorrow and keep you posted. Thanks !

[2022-02-22 20:26] hyunwoongko commented on #13690
@stas00

1. OSLO has an MPU, and this is compatible with deepspeed, ds-inference and megatron. If you need mpu, how about using this? maybe `from oslo import MPU` is also working with ds-inference.
2. I am wonder about your ds-inference integration plan. we need to integrate it without `Trainer` (because it's not about training). What's your plan?
3. I have implemented almost sagemaker-like PP int

[2022-02-22 20:31] hyunwoongko commented on #15642
@stas00 Fundamentally OSLO is designed for transformers. So you can easily parallelize gpt-neox by just adding 3 lines of mapping once it is integrated into transformers. It will be a bit difficult to use before being integrated into transformers.

[2022-02-22 20:34] bduclaux commented on #15771
Also noticed that `adafactor` parameter is not used to instantiate the optimizer in the `run_summarization_flax.py` script.
Will add it in my PR, to have support for both adamW and adafactor.

[2022-02-22 20:34] hyunwoongko commented on #15642
@stas00 In addition, using TP, activation memory can be partitioned, so additional memory saving can be possible. Therefore, it is not true to say that ZeRO can cover all range of TP. (I'm talking about what you said before.)

[2022-02-22 21:07] ZhaofengWu commented on #15591
I was referring to the paper which could be implemented by passing `past_key_values` to the encoder, allowing us to not have to change `T5Attention` at all. This has been done for e.g. BERT-like models in this way by the authors and other people, but not T5 due to this restriction.

Maybe @LysandreJik since we briefly talked about this on slack?

[2022-02-22 21:13] jaketae commented on #15166
Hey @ArEnSc, thank you for your interest in FastSpeech2 integration to HF transformers! Glad to see someone who is also interested in TTS.

At the moment, the integration is FastSpeech2 using weights from fairseq. We also briefly thought about integrating FastPitch, but FS2 is the priority at the moment.

If you would like to contribute FastPitch, please feel free to do so! The FastSpeech2 PR is W

[2022-02-22 21:26] stas00 commented on #15772
does the following make any difference?

[code]

so did your script w/o my changes work with pt-1.10? i.e. w/o setting the device

[2022-02-22 21:33] LysandreJik commented on #15759
cc @NielsRogge

[2022-02-22 21:33] stas00 commented on #15772
- `python debug.py` will always run on gpu 0,
- `CUDA_VISIBLE_DEVICES=3 python debug.py` is still running on gpu 0, software-wise.

`CUDA_VISIBLE_DEVICES` simply narrows down the gpus available to the program

see: https://huggingface.co/docs/transformers/master/main_classes/trainer#specific-gpus-selection

[2022-02-22 21:37] LysandreJik commented on #15739
Hey! We don't have to do the bandwidth to do it right now, but we'd welcome contributions! Let me tag this as a first good issue, and let me know if you're interested in taking a stab at it!

[2022-02-22 21:38] LysandreJik commented on #15724
cc @NielsRogge too

[2022-02-22 21:44] ArEnSc commented on #15166
@jaketae ill take a look at that FastSpeech2 PR, I am going through the hugging face course to get an idea of the API surface right now seems striaght forward I believe. Ill get some of the ground work started and then wait for the TTS specific API's to mature =)

[2022-02-22 22:38] stas00 commented on #15642
Didn't parallelformers work independently of HF Transformers?

[2022-02-22 22:42] stas00 commented on #13690
I was just saying that it doesn't have MPU at the moment ;) And it's needed to sync the ds-inference threads I think. But my mind is the BigScience at the moment.

Making ds-inference integration depend on oslo would be odd, but it could be ok at the beginning and eventually have an internal one - it's just one module that's already written.

--------

why integrate ds-inference w/o Trainer? Train

[2022-02-23 03:08] hyunwoongko commented on #15642
Both oslo and parallelformers are designed for the transformers. But if you want both to support gpt-neox, I can edit my code. So please tell me if you need it.

[2022-02-23 03:28] function2-llx commented on #15739
I'm glad to help with that, maybe it'll take some time. I never contribute here, I'll try to follow the CONTRIBUTING.md, post progress here and submit PR later, any discussion telling me if I'm doing right would be great.

[2022-02-23 04:00] AbrahamSanders commented on #10519
Seems this was added in  #14947 about a month ago, so hopefully it will be in a near-future release!

[2022-02-23 04:31] pratikchhapolika commented on #2295
@lethienhoa does `all long BERT` is capable of any length text?

[2022-02-23 05:30] xhlulu commented on #10405
@patrickvonplaten Hi does `from transformers import AutoModelForConditionalGeneration` still work? Returns me an error when i try to use it

[2022-02-23 06:40] purnasai opened #15779 "LMV2Processor Decoder string not matching with original string"
## Environment info
- `transformers` version: 4.11.0
- Platform: Linux-5.4.0-1063-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?[/GPU]()?[/TPU]()?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distribut

[2022-02-23 06:41] christianjoun opened #15780 "how to save a model with additional layers, so it can be loaded using .from_pretrained()?"
## Environment info

- `transformers` version: 2.3.0
- Platform: Linux-4.15.0-135-generic-x86_64-with-glibc2.27
- Python version:  3.8.12
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: YES (T4 TESLA)
- Using distributed or parallel set-up in script?: no

### Who can help
@LysandreJik

## Information

Model I am using Bert: Text-

[2022-02-23 07:16] function2-llx commented on #15720
But this will also make the development & maintenance of the library harder. Many libraries drop support for Python 3.6.

[2022-02-23 07:18] lavine-lmu commented on #15765
Hi @stas00, I am doing meta-learning now, so I need to do the ```copy``` process after deepspeed init. Thanks for your reply, I will try other methods to solve this problem.

[2022-02-23 07:19] #15765 closed

[2022-02-23 07:32] function2-llx commented on #15739
According to [discussion here](https://bugs.python.org/issue39442) and solution provided by [Pydantic](https://pydantic-docs.helpmanual.io/usage/postponed_annotations/), we may just call [typing.get_type_hints](https://docs.python.org/3.9/library/typing.html#typing.get_type_hints) on some dataclass to get type of a field instead of relying on `field.type`.

[2022-02-23 08:40] Narsil commented on #6327
For the sake of completion:
[code]

[2022-02-23 09:46] patrickvonplaten commented on #15591
Hey @ZhaofengWu,

Sorry I thought I answered here before. I do agree with what @dblakely says here mostly.
Could you maybe open a PR to showcase a bit what changes we would have to do to satisfy your use case?
IMO this is very much an edge case and I've never seen anybody use `past_key_values` states in BERT. The only reason we have this implemented in `BertAttention` is because BERT can be used a

[2022-02-23 09:46] #15736 closed

[2022-02-23 09:54] ycj0123 commented on #15398
Hi, I am facing the same issue. The temporary fix seems to work, but I'm just wondering if there is any update?

[2022-02-23 09:59] lewtun commented on #15640
Hey @tomerip thank you for this very detailed and informative feedback!

Regarding point (1), I agree that it would be nice to have a work around for the absent `SplitToSequence` op in TensorRT.

To proceed, I think we'd need to try the following:

1. Validate that the proposed change doesn't have a negative impact on fine-tuning / vanilla inference (i.e. on model metrics like accuracy etc). GPT-J

[2022-02-23 10:02] sailist commented on #10160
The same exception may also be raised when model is in train mode, call model.eval() before may solve this problem. It happened when I use model `BartForConditionalGeneration`.

[2022-02-23 10:08] patil-suraj commented on #15771
Ahh, Good catch! It would be better two open a new PR for this since these are two different changes.

[2022-02-23 10:13] patil-suraj commented on #15780
Hi! For questions like this, it would be best to ask this on the [forum](https://discuss.huggingface.co/). We use issues for bug reports and feature requests. Thanks!

To answer your question: The [sharing custom model guide](https://huggingface.co/docs/transformers/master/en/custom_models) might help with this .

[2022-02-23 10:23] hyusterr commented on #14706
simply `splitlines()` can handle the problem

[2022-02-23 10:33] fuliucansheng opened #15783 "[Bug] Gradient Checkpointing In CLIP Model"
https://github.com/huggingface/transformers/blob/24588c6731474030d9f91285f2c4472f1394df04/src/transformers/models/clip/modeling_clip.py#L575

Hi, there,
&nbsp;&nbsp;&nbsp;&nbsp;I believe `hidden_states = layer_outputs[0]` should be in the for loop. I try to enable the gradient checkpointing for the clip model but find this bug.

[2022-02-23 10:45] allanj opened #15784 "Trainer is not so compatible with customized optimizer"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.4.56.bsk.6-amd64-x86_64-with-debian-10.11
- Python version: 3.7.3
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel

[2022-02-23 11:09] renxingkai commented on #14706
Thanks for your information.

[2022-02-23 11:37] sgugger commented on #15784
You can't pass along your own optimizer with the Fairscale or DeepSpeed integration indeed. As far as I can tell, your workaround is the best way to do it.

[2022-02-23 11:49] tkon3 opened #15785 "Handling preprocessing with token-classification pipeline"
Hi,

Token classification tasks (e.g NER) usually rely on splitted inputs (a list of words). The tokenizer is then used with is_split_into_words=True argument during training.
However the pipeline for token-classification does not handle this preprocessing and tokenizes the raw input.
This can lead to different predictions if we use some custom preprocessing because tokens are different.

[code]

[2022-02-23 11:57] allanj commented on #15784
I see. Thanks. I guess that it would be good to throw an exception/error if "sharded_ddp or deepspeed is enable" and "customized optimizer is passed in"?

[2022-02-23 12:12] Narsil commented on #14334
Hi @debjyoti003 ,

This `tokenizer_file` location is not read I think so I don't think there's an issue with this being in your file.
Do you mind providing the model name so we can look it up ?

If you want to check yourself you can follow those instructions.

When you have a local directory, let's say : `my_awesome_model`.

Does:
[code]
work ?

Then, once you uploaded it to you account on hf.co,

[2022-02-23 12:32] sgugger commented on #15784
Sure, would you like making a PR with it?

Another way to use your custom optimizer is to subclass and override the `create_optimizer` method btw.

[2022-02-23 12:33] lewtun commented on #13534
Closing this since PR #13831 implemented the feature :)

[2022-02-23 12:33] #13534 closed

[2022-02-23 12:35] zxk19981227 opened #15787 "A question about BertForSequenceClassification"
In my experiments, I trained a simple sentiment classification model on the SST dataset. But it is interest that it is hardly for the model to converge with BertForSequenceClassification but could converge easily with the simple BertModel's [CLS] +Linear. Did any one else met this problem and could explain the problem to me which part of the pool ,the tanh or the pretrained linear made this proble

[2022-02-23 12:38] zjjJacinthe opened #15788 "How can I create a longformer model without position embedding?"

[2022-02-23 13:00] patil-suraj commented on #15783
Great catch! Fix is here https://github.com/huggingface/transformers/pull/15789

[2022-02-23 14:30] rcmcabral commented on #11515
Hi. I am currently experiencing the same issue as the OP where the classification layer seems to be inserted before the main GPT layer. I basically have the same model summary and a similar error so I thought I'd try to reopen this.

I know it's not an ideal dataset for the model but here's a copy of the Fine Tuning with Keras tutorial to illustrate the problem: https://colab.research.google.com/d

[2022-02-23 15:07] #15168 closed

[2022-02-23 16:14] LysandreJik commented on #15788
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-02-23 16:17] #15788 closed

[2022-02-23 16:39] LysandreJik commented on #15787
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-02-23 16:41] LysandreJik commented on #15785
cc @SaulLu @Narsil

[2022-02-23 16:47] ellenzchang commented on #594
Were you able to fix this? I am having this issue, with the same sizes as well.

[2022-02-23 16:52] LysandreJik commented on #15642
To summarize the conversation, let's first write it as a merged model following @stas00's comment as a first step, leveraging the DeepSpeed integration?

If the GPT-NeoX model is similar to GPT-J but contains a few differences, we recommend creating a new class, as you have highlighted above. We've recently introduced a new tool, [`add-new-model-like`](https://github.com/huggingface/transformers/t

[2022-02-23 16:57] LysandreJik commented on #15720
Thanks for your request! As long as there isn't a very impactful feature missing or compatibility issue with our current setup, we're unlikely to drop support for Python 3.6 just yet as we aim for maximum compatibility across versions.

[2022-02-23 16:57] LysandreJik commented on #15739
I understand; as mentioned in the thread you linked, we're unlikely to drop support for Python 3.6 just yet, but we'll definitely keep in mind that this particular issue would be solved in a simpler manner were we to drop support for it.

[2022-02-23 17:01] Narsil commented on #15785
Hi @tkon3 ,

Normally this should be taken care of directly by the pre_tokenizer.
It seems `camembert-base` uses `WhitespaceSplit()` and `Metaspace` and you merely want to add `Punctuation`.

Doing something like

[code]

Should be enough so that no one forgets how the input was preprocessed at training and make pipelines work along offsets. Does that work  ?

[2022-02-23 17:29] stas00 commented on #15642
If you are replying to me, Kevin, I was only asking if either oslo and parallelformers can already support gpt-neox directly before oslo is integrated. So that we then have more than one solution to give to users. If not, all is good, we have deepspeed-zero and once oslo is integrated then there will be at least 2 solutions (or 3 if it works with sagemaker as well).

[2022-02-23 17:29] tkon3 commented on #15785
hi @Narsil

Thank you for the quick answer, your idea works.
But the pipeline partially returns the expected result (aggregation_strategy="simple"):

- "start" and "end" indexes are fine
- the returned "word" is wrong (the pipeline adds additional spaces)

To get the correct word, I have to manually extract it from the input sentence. Not a big deal in my case but can be a problem for someone else

[2022-02-23 17:41] Narsil commented on #15785
Well, "words" don't really exist for this particular brand of tokenizer (Unigram with WhitespaceSplit). If I am not mistaken.

Extracting from the original string like you did is the only way to do it consistently.
The "word" is the decoded version of the token(s) and it's what the model sees. (so there's an extra space since there's no difference between " this" and "this" for this tokenizer.)

D

[2022-02-23 17:44] patrickvonplaten commented on #10405
Should work yes :-)

[2022-02-23 17:50] eghbalhosseini commented on #15642
I can help with creating a conversion pipeline.

[2022-02-23 17:50] xhlulu commented on #10405
@patrickvonplaten I just upgraded transformers to the latest version (4.16) and when i run this:

[code]

I get this error:
[code]

If this is supposed to work I can open an issue (let me know who I should tag). See [kaggle notebook example](https://www.kaggle.com/xhlulu/transformers-automodelforconditionalgeneration)

[2022-02-23 18:34] suhaneshivam opened #15797 "Unable to load a pretrained model from disc using transformers api"
I am trying to load a pretrained model from a checkpoint saved on my disc using Hugging face transformers library. Model is saved inside a directory `'new_tun_bert'`. Following is the directory tree of new_tun_bert.
[code]
The code I used for loading the model is as following:
[code]
which is giving the following error:
[code]
However, model is loading just fine if I load it using native `torch.lo

[2022-02-23 19:08] vikramtharakan opened #15799 "How to Use Transformers pipeline with GPU"
I'm using an tweaked version of the `uer/roberta-base-chinese-extractive-qa` model. While I know how to train using multiple GPUs, it is not clear how to use multiple GPUs when coming to this stage. Essentially this is what I have:

[code]

Except the model I'm using is a tweaked version of the base model shown above. I'm trying to process a large number of documents and at the rate it's going at

[2022-02-23 19:31] LysandreJik commented on #15797
Hey, could you share the information relative to your environment? Specifically the results of the `transformers-cli env` command.

[2022-02-23 19:33] RaedShabbir commented on #15217
Working on it

[2022-02-23 19:36] backurs opened #15801 "run_glue_no_trainer.py"
Line 428 in "text-classification/run_glue_no_trainer.py":

if step % args.gradient_accumulation_steps == 0 or step == len(train_dataloader) - 1:

replace it with:

if (step + 1) % args.gradient_accumulation_steps == 0 or step == len(train_dataloader) - 1:

[2022-02-23 19:46] suhaneshivam commented on #15797
Sure, this is what i got exactly while running the `transformers-cli env `
[code]

[2022-02-24 00:05] tkon3 commented on #15785
You are right, this is more general than what I expected. It is similar with uncased tokenizers:

[code]

Adding a new key is probably the easiest way.
I guess this can implemented inside the [postprocess](https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/pipelines/token_classification.py#L226) function with a postprocess param:

[code]

Wan

[2022-02-24 02:18] zxk19981227 commented on #15787
Ok,thank your

[2022-02-24 02:18] #15787 closed

[2022-02-24 03:06] calderma opened #15810 "repeat tokenization"
Hello, when using the example script run_clm.py in examples/pytorch/language-modeling/ with distributed training it seems to repeat the tokenization for each GPU. The messages “Running tokenizer on dataset” and “Grouping texts in chunks of {block_size}” repeat over and over. This does not happen when running on a single GPU. Also the tokenization takes significantly longer. My script call is:
deep

[2022-02-24 05:24] Komalrathod55 commented on #15760
Hi @gante , Thank you for your response. I tried the solution provided by you. But I was getting error regarding config file and model name.

1. OSError: Error no file named tf_model.h5 found in directory
2. file some_folder/config.json not found

 So I renamed model as tf_model.h5 and put config.json in "some_folder".

This works well but this model runs very slow. The time to process a single fi

[2022-02-24 06:27] debjyoti003 commented on #14334
Hi @Narsil yeah, both are working, but after exploring some of the different model files, I found that most have been trained with pytorch backend, and they have pytorch_model.bin file. But in my case that file (pytorch_model.bin) is not getting generated, what do you think @Narsil is this the reason this issue is happening?

[2022-02-24 06:56] marinone94 opened #15812 "Evaluate on subset of evaluation dataset during training"
# 🚀 Feature request

Allow evaluating the model on a random subset of the evaluation dataset at each evaluation step during training.

## Motivation

While participating in the Robust Speech Recognition Challenge in January / February 2022, I noticed that evaluating the model on the whole evaluation dataset increased the training time considerably (Swedish Common Voice, in that specific case).

Sa

[2022-02-24 07:42] JustinLin610 opened #15813 "Add OFA to transformers"
# 🌟 New model addition
We recently proposed OFA, a unified model for multimodal pretraining, which achieves multiple SoTAs on downstream tasks, including image captioning, text-to-image generation, referring expression comprehension, etc. We would like to implement OFA on transformers if it is possible.

## Model description
OFA is a unified multimodal pretrained model that unifies modalities (i.e

[2022-02-24 08:07] Narsil commented on #15785
I think we should move to another issue/feature request for this yes (the discussion has diverged since the first message).

Can you ping me, and Lysandre on it and refer to this original issue for people wanting more context ?

[2022-02-24 08:59] #15664 closed

[2022-02-24 09:16] pratikchhapolika commented on #1413
How do we initialise the pre-existing embeddings for new tokens from old partitioned tokens?

[2022-02-24 09:28] #15797 closed

[2022-02-24 10:18] gante commented on #15760
My apologies, I should have mentioned that the model must be named `tf_model.h5` -- I'm glad that it runs now. As for speed, I'm afraid we'll need more details -- for instance, if you are trying to run `model.generate()`, speed is a known issue that we are addressing at the moment.

Since the goal of these issues is to report and solve potential bugs, which we've discarded, I'd like to ask you to

[2022-02-24 10:18] #15760 closed

[2022-02-24 10:30] patil-suraj commented on #15812
cc @patrickvonplaten @anton-l

[2022-02-24 10:32] patil-suraj commented on #15799
cc @Narsil

[2022-02-24 11:36] tkon3 opened #15816 "Return entities extracted from the raw input for TokenClassificationPipeline"
# 🚀 Feature request

Allow TokenClassificationPipeline to return entities extracted from the raw input.

## Motivation

Pretokenization (pre_tokenizer) can affect the "word" returned by the TokenClassificationPipeline. In this case `entity["word"] != sentence[entity["start"]:entity["end"]]` (see  #15785):

[code]
The pipeline should optionally return entities extracted from the input `sentence[ent

[2022-02-24 12:05] jbesomi commented on #14222
Hey @mohanvamsibu-kore, I am also interested in exporting `lidiya/bart-large-xsum-samsum` on ONNX. I would love to see your code and see how we can speed it up. Can you share the code?

[2022-02-24 13:43] lewtun commented on #15060
Hey @jbesomi thanks for the offer!

@michaelbenayoun has a PR open [here](https://github.com/huggingface/transformers/pull/15193) for the export, but ran into an issue with exporting the large variant of M2M100. If Michael agrees, one idea would be to create a new branch off [`michaelbenayoun:m2m_100_onnx`](https://github.com/michaelbenayoun/transformers/tree/m2m_100_onnx) and see if you resolve i

[2022-02-24 15:07] #15179 closed

[2022-02-24 15:07] #15177 closed

[2022-02-24 15:11] Narsil commented on #14931
Unstale.

[2022-02-24 15:23] Narsil commented on #15816
I am in favor of adding a new key `text` for this.

- That does not break BC
- `text` is already used in other places (like `ASR Pipeline`)

The reason to add this is for users that might not be easily able to capture from the original sentence:

[code]
Now that code works only if the dataset is deterministic, in the case that is it not (like reading from a queue in various readers), then it's a b

[2022-02-24 15:59] JunMa11 opened #15819 "How to enable multi-heads outputs in segformer?"
Dear all,

Thanks for the awesome work:)

I was wondering how to enable segformer to output two maps? E.g., one map for multi-class labels (default) and the other map for distance map

![1645718354(1)](https://user-images.githubusercontent.com/19947331/155560474-3769338e-b68d-4739-86ba-c26b6b8641c0.png)

https://github.com/huggingface/transformers/blob/35ecf99cc4e1046e5908f5933a4548e43a0f4f1d/src/

[2022-02-24 16:54] jheinecke opened #15821 "addeing tokens to tokenizer for training and inference worsens prediction immensely"
I use the huggingface Trainer class to finetune a mT5 model. Since my data (AMR graphs) contains mayn tokens like `:ARG0`, `:op2` or `:name`, which are generally split into wordpieces I added those 219 tokens to the tokenizer with

[code]

and than starting the training.

Once the model is finetuned I run my test, and once again I add the same tokens in the same order to the tokenizer. But the res

[2022-02-24 18:55] Samreenhabib opened #15823 "Fine tune TrOCR using bert-base-multilingual-cased"
I am trying to use TrOCR for recognizing Urdu text from image. For feature extractor, I am using DeiT and bert-base-multilingual-cased as decoder. I can't figure out what will be the requirements if I want to fine tune pre-trained TrOCR model but with decoder of multilingual cased. I've followed https://github.com/NielsRogge/Transformers-Tutorials/tree/master/TrOCR tutorial but, it cant understand

[2022-02-24 19:23] patrickvonplaten commented on #15812
Hey @marinone94,

Thanks for your issue! Do you think the https://github.com/huggingface/transformers/blob/b7e292aebdb638e2238cd9febf8c09253195fb5d/examples/pytorch/speech-recognition/run_speech_recognition_ctc.py#L181 option is not enough here?

[2022-02-25 05:22] kpriyanshu256 commented on #14712
A possible solution is mentioned here https://www.kaggle.com/nbroad/deberta-v2-3-fast-tokenizer

[2022-02-25 06:40] marinone94 commented on #15812
Hej @patrickvonplaten, by using `max_eval_samples ` one always evaluates on the same subset (in the example, the top `max_eval_samples ` examples, but it could well be a random selection, it would not change my point).

What I would like to offer (and use myself) is to dynamically sample `max_eval_samples ` before each eval step, so that the model is not always evaluated on the same subset during

[2022-02-25 09:41] hgeorgescu opened #15827 "Absence"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2022-02-25 09:45] hgeorgescu commented on #15827
model_name = "Helsinki-NLP/opus-mt-en-roa"
tokenizer = MarianTokenizer.from_pretrained(model_name)
 Error:"TypeError: 'NoneType' object is not callable"

[2022-02-25 10:19] jheinecke commented on #15821
To clarify me question: I thought (possibly erroneously) that the new tokens will have random vectors which will be "learned" during the finetuning. If this is not the case, I have my answer ...

[2022-02-25 10:21] patil-suraj commented on #15813
cc @gchhablani you might find this interesting :-)

[2022-02-25 10:23] patil-suraj commented on #15821
Hey @jheinecke. The best place to ask this question would be the [forum](https://discuss.huggingface.co/). We use issues for bug reports and feature requests. Thanks!

[2022-02-25 10:29] jheinecke commented on #15821
OK, thanks, I missed that. I'll pose my question there

[2022-02-25 10:29] #15821 closed

[2022-02-25 11:42] ayaka14732 opened #15829 "BART model parameters should not contain biases for Q, K and V"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.11.0-1018-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.10.2+cu102 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.0
- JaxLib version: 0.3.0
- Using GPU in script?: False
- Using distributed or parallel set-up in script?: Fals

[2022-02-25 12:30] gchhablani commented on #15813
@patil-suraj Yes! Definitely would love to take this up :)

[2022-02-25 12:32] patil-suraj commented on #15813
Awesome! Happy to help you with this! Let me know if you have questions :)

[2022-02-25 13:08] sgaseretto commented on #2536
Are there any advances on this?

[2022-02-25 13:53] NielsRogge commented on #15823
Hi,

In case you want train a TrOCR model on another language, you can warm-start (i.e. initialize the weights of) the encoder and decoder with pretrained weights from the hub, as follows:

from transformers import VisionEncoderDecoderModel

[code]

[2022-02-25 13:58] patil-suraj commented on #15829
Hey @ayaka14732 !

Note that the original BART checkpoints use `bias` and Q, K, V layers.

The weights of linear layers are also just matrices or for that matter, every layer weights in transformers are just matrices.

[2022-02-25 14:45] ayaka14732 commented on #15829
Hey @patil-suraj !

This should be very clear in the Transformer paper. There is a formula for scaled dot-product attention:

![](https://user-images.githubusercontent.com/68557794/155732934-b9aadaba-937f-4398-b16b-19df83c479d3.png)

And for multi-head attention:

![](https://user-images.githubusercontent.com/68557794/155733277-77e4b0a5-f095-426e-bbe6-41ffe5500547.png)

You can see the difference

[2022-02-25 14:55] patrickvonplaten commented on #15829
Hey @ayaka14732, if you load the original BART checkpoints https://github.com/pytorch/fairseq/blob/main/examples/bart/README.md#pre-trained-models you will see that Q, K, and V have bias weights attached to them.

[2022-02-25 14:55] #15829 closed

[2022-02-25 15:19] ayaka14732 commented on #15829
Thanks for pointing out!

I can confirm that the original BART checkpoints have bias weights attached to Q, K, and V.

[code]

It should be somewhat concerned if any researcher wants to compare BART with their models, since BART would be in an advantageous position due to the extra parameters.

[2022-02-25 15:20] cdeepali commented on #15720
Thanks @LysandreJik for your reply on this.

[2022-02-25 15:25] marinone94 commented on #15812
Well, if the model generalises well the trend should be similar, but I see your point.

[2022-02-25 16:40] MatanBenChorin opened #15834 "Embedding index getting out of range while running onlplab/alephbert-base model"
## Environment info
- Platform: Google colab

## Information

Model I am using: 'onlplab/alephbert-base'

The problem arises when using:
 [* ] the official example scripts:
I tried to implement the code written in your official course (https://huggingface.co/course/chapter7/7?fw=pt)
When the only change I want to make is to replace the model with an  'onlplab/alephbert-base'.
I mean I want to do a

[2022-02-25 16:44] michaelbenayoun commented on #15060
I think the remaining issue is very very minor, I just need to take the time to solve it.

[2022-02-25 16:46] patrickvonplaten commented on #12755
Sorry to be so extremely late here. @stefan-it could you sent me a link to the tokenizer that you used that created this error?

[2022-02-25 17:00] JunMa11 commented on #15819
Hi @NielsRogge,

Thanks for your kind help very much.

The above demo is very useful to me but it only has one output branch.  I want the `segformer` output to have two branches and then, I can apply different loss functions to the two branches.

I'm a newcomer to hugging face, could you please give a quick check to my modification?

Thanks for your time very much.

[code]

[2022-02-25 17:01] LysandreJik commented on #2536
Did you try using @setu4993's model shared above?

[2022-02-25 17:47] patrickvonplaten commented on #12755
I think this should fix the problem though: https://github.com/huggingface/transformers/pull/15835 no?

We just need to include 0 here as this is the lowest possible input id. Could you maybe check with this @stefan-it @yhavinga ?

[2022-02-25 18:00] MichalPleban opened #15837 "Problems with convert_blenderbot_original_pytorch_checkpoint_to_pytorch.py"
I am trying to use `the convert_blenderbot_original_pytorch_checkpoint_to_pytorch.py` script to convert a finetuned ParlAI Blenderbot-1B-distill model. I call it this way:

```python convert.py --src_path model --hf_config_json config.json```

Where the `config.json` file is downloaded from the HuggingFace repository. Unfortunately, I get the following error:

[code]

And after commenting lines 98

[2022-02-25 18:59] md975 opened #15838 "Issue running run_glue.py at test time"
Hi,

I'm using [this script](https://github.com/huggingface/transformers/blob/master/examples/pytorch/text-classification/run_glue.py) to train a model on my own dataset.
(transformers  4.15.0, datasets  1.17.0, python3.7)
I'm doing single sentence classification, and my CSV files have 2 cols: label, sentence1
I can run the script with no issue when --do_train --do_eval --do_predict are true.
Howe

[2022-02-25 20:38] cjg91 commented on #14176
## Poor accuracy after finetuning

I follow the exact instruction in the [model card ](https://huggingface.co/kssteven/ibert-roberta-base)
`python examples/text-classification/run_glue.py \
         --model_name_or_path kssteven/ibert-roberta-base \
         --task_name MRPC \
         --do_eval \
         --do_train \
         --evaluation_strategy epoch \
         --max_seq_length 128 \

[2022-02-25 21:16] MustafaYagmur-v39300 commented on #15451
@R0bk Thank you for your great work.

There were a lot of missing points I had for RE inference,  now mostly clarified. But I still having difficulty to understand the 'entities' and 'relations' (such as 'start_index' and 'end_index'). Could you give an example of what they represent in a given sentence? I couldn't find a clear answer in the original paper and in other reference papers authors men

[2022-02-26 11:01] Samreenhabib commented on #15823
Thankyou @NielsRogge . I was not adding last two configurations. Luckily, its working now. Thanks a lot again :)

[2022-02-26 15:01] #15199 closed

[2022-02-26 15:01] #15185 closed

[2022-02-26 21:50] lemswasabi opened #15840 "Timestamps in AutomaticSpeechRecognitionPipeline not aligned in sample space"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.10.98-1-MANJARO-x86_64-with-glibc2.33
- Python version: 3.9.8
- PyTorch version (GPU?): 1.10.2+cpu (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

[2022-02-27 02:27] wise-east commented on #1850
@djstrong I'm getting the same issue. were you able to get around this problem?

[2022-02-27 10:21] Narsil commented on #15840
Hi @lemswasabi ,

Thanks for the report. We unfortunately cannot drop the stride as when there's batching involved, the tensors cannot be of different shapes. We can however keep track of the stride and fix the timestamps.

I'll submit a patch tomorrow probably.

[2022-02-27 12:33] lemswasabi commented on #15840
Hi @Narsil,

Thanks for having a look at it.

[2022-02-27 15:01] #15244 closed

[2022-02-27 15:01] #15236 closed

[2022-02-27 15:02] #15223 closed

[2022-02-27 15:02] #15222 closed

[2022-02-27 15:02] #15215 closed

[2022-02-27 15:02] #14976 closed

[2022-02-27 15:48] subhalingamd commented on #14097
@LysandreJik
can we expect this to be added sometime soon?

[2022-02-27 18:36] salrowili commented on #15559
Any updates?

[2022-02-28 02:28] shamanez commented on #15550
@halixness  do you think we should modify the RAG implementation ?

[2022-02-28 04:47] HelloRusk commented on #15358
In my case 0.11.0 still threw error but 0.11.5 worked

[2022-02-28 05:29] 85ya commented on #1220
Has this problem been solved? I have the same problem.

[2022-02-28 07:42] Sreyan88 opened #15842 "Output embedding from each self-attention head from each encoder layer"
Hi there!

I wanted the embeddings from each self-attention head of each encoder layer for one of my projects, is this possible with the hugging face library?

If not, can I just slice the original embeddings from each layer (suppose 768/12 = 128 size slice) to get the attention head output?

Thank You

[2022-02-28 07:52] Atakey commented on #6264
I met the same situation with the env info:
transformer version:4.12.5
tensorflow-gpu:2.8.0
tf-serving:2.6.0
linux, gpu-machine:P100, test script with the batch_size 1, max_len:20

google's bert inference takes about 12-13ms per query, but TF-Bert takes about 45~58ms with or without xla_cpu_compilation_enabled, 3-5x slower.

Has the problem been solved? Or some ideas to improve the TF-Pretrained-M

[2022-02-28 08:09] afcruzs opened #15844 "Error:"TypeError: 'NoneType' object is not callable" with model specific Tokenizers"
## Environment info

- `transformers` version: 4.17.0.dev0 but also current latest master
- Platform: Colab
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

Models:

- XGLM (although I don't think this is model specific)

## To reproduce

Steps to reproduce the behavior:

1. Try to create a tokenize

[2022-02-28 08:22] afcruzs commented on #15844
Oops #15827 existed already, this seems to be widespread to more than XGLMTokenizer. XLMRobertaTokenizer doesn't seem to work either. AutoTokenizer seems to work but because it's a separate class altogether (`PreTrainedTokenizerFast`)

[2022-02-28 08:34] Narsil commented on #15840
@lemswasabi , in the end I aligned most of the code closer to what `ctc_with_lm` did (dropping the stride in  the postprocess method).

There could still be some slight issue with timings, so the PR is not necessarily finished

[2022-02-28 09:20] tomerip commented on #15640
Hi @lewtun, thanks for replying.
I agree that the first step should be making sure the change keeps everything the same.
Since the the new `lambda_t` function returns _exactly_ the same outputs, and the underlying ops are just repeats I don't think the grads will be different. In terms of performance, in my original post we can see it's even slightly faster (although probably negligible anyway).

[2022-02-28 09:48] mathshangw commented on #2079
Excuse me can someone solve it ?

[2022-02-28 09:48] mathshangw commented on #2079
Excuse me did some one solve it ?

[2022-02-28 09:57] speedcell4 commented on #2079
@mathshangw I turn to use the `TransformerWordEmbeddings` of `flair` library to handle this. Here is an [example](https://github.com/flairNLP/flair/blob/master/examples/ner/run_ner.py#L119).

[2022-02-28 10:07] patil-suraj commented on #15844
Hi @afcruzs ! `XGLMTokenizer` depends on `sentencepiece`, if it's not installed then a None object is imported.

`pip install sentencepiece` should resolve this.

yes, by default `AutoTokenizer` returns fast tokenizer.

[2022-02-28 10:20] Kirili4ik commented on #1413
Hi, yes, I do believe it can vary from model to model. For T5 model it seems to be `d_model`

[2022-02-28 10:30] Kirili4ik commented on #1413
If I understand you correctly, we can initialise new tokens from already pre-trained ones with taking a mean of them:
`
with torch.no_grad():
        for i, token in enumerate(reversed(added_tokens), start=1):
            tokenized = tokenizer.tokenize(token)
            tokenized_ids = tokenizer.convert_tokens_to_ids(tokenized)
            model.embeddings.word_embeddings.weight[-i, :] =

[2022-02-28 10:33] patil-suraj commented on #15827
`MarianTokenizer` depends on `sentencepiece`. Make sure to install it before importing the tokenizer.
`pip install sentencepiece` should resolve this.

[2022-02-28 10:35] patil-suraj commented on #15842
Hi @Sreyan88 ! The best place to ask this question is [the forum](https://discuss.huggingface.co/). We use issues for bug reports and feature requests. Thank you!

[2022-02-28 10:38] gante commented on #15801
Hi @backurs -- would you like to open a PR with the change? :)

[2022-02-28 10:39] patil-suraj commented on #15837
Hi @MichalPleban ! The blenderbot conversion script has not been updated in a long time. It should actually blenderbot classes instead of bart. Feel free to open a PR to fix this if you are interested. Happy to help!

[2022-02-28 10:40] #15842 closed

[2022-02-28 13:06] Bharathi-A-7 opened #15850 "No such file or directory: '../datasets/RE/${DATA}/${SPLIT}/cached_train_BertTokenizer_128_sst-2.lock'"
[@wonjininfo](https://github.com/wonjininfo)
Platform: Google Colab
Python version: 3.7
Transformers version: 3.0.0

Installations that were done:

[code]

I'm trying to use Biobert from [this github repository](https://github.com/dmis-lab/biobert-pytorch), and I followed the below steps given in the repo to finetune it on Relation Extraction task.

1. ``./download.sh`` to download all the dataset

[2022-02-28 13:24] NeuroinformaticaFBF commented on #5778
Hello @jstremme

I tried to downgrade to Pytorch 1.4.0 to remove the warning (and possibly increase training speed, as mentioned [here](https://github.com/huggingface/transformers/issues/852)) but I got this error:

[code]

Did you find some solution to the issue?

[2022-02-28 14:50] patil-suraj commented on #15640
Will look into this and let you know tomorrow.

[2022-02-28 15:08] #15265 closed

[2022-02-28 15:08] #15260 closed

[2022-02-28 15:08] #15220 closed

[2022-02-28 15:08] #15218 closed

[2022-02-28 15:08] #14759 closed

[2022-02-28 15:32] OpenWaygate commented on #15358
Same problem
[code]

[2022-02-28 15:37] afcruzs commented on #15844
Oh yes, this works indeed. Thanks! It'd be great to have a meaningful error message though, is not at all evident.

[2022-02-28 16:48] NielsRogge commented on #15819
It depends on how you want to compute the logits and distance maps.

Note that the model (`SegformerForSemanticSegmentation`) returns a `SemanticSegmentationModelOutput`, which already contains `logits` as well as all intermediate `hidden_states` (feature maps). The latter will only be included in the outputs if you pass `output_hidden_states=True`;

[code]
As you'll see, the `hidden_states` are a

[2022-02-28 16:54] PastelBelem8 commented on #15552
@patrickvonplaten are there any news on this or the blogpost? I'm trying to use the scores and also find myself with the same questions about the differences between the scores `model.compute_transition_beam_scores()`, `sequence_scores` and `scores`

[2022-02-28 18:50] alexcoca opened #15857 "Supporting multiple evaluation datasets in `Trainer` and `Seq2seqTrainer`"
# 🚀 Feature request

Support for evaluating on multiple validation datasets when using the `Trainer` class.

## Motivation

This is a common use case in research. Imagine that you train your model on some data, and you have validation data coming from two distinct distributions. You want to compute two sets of metrics - one for the validation dataset with the same distribution as the training data

[2022-02-28 20:00] #15840 closed

[2022-02-28 20:19] bekirufuk commented on #11580
You could load your local 'csv' files with 🤗 [datasets load_dataset](https://huggingface.co/docs/datasets/loading.html#local-and-remote-files). I hope this helps.

[2022-03-01 06:22] catqaq commented on #14995
@SaulLu Thanks for your advice. I know that tokenizer.tokenize("happy↖") outputs ['[UNK]'] is a feature of WordPiece Tokenization algorithm instead of a bug. But maybe tokenizer.tokenize("happy↖")-->[happy, unk] is more appropriate. I just wanna split the meaningful words with some special characters.

[2022-03-01 06:34] jnzw opened #15861 "Unable to run Speech2Text example in documentation"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.4.0-94-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.10.2+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel

[2022-03-01 07:08] sasaadi opened #15862 "Adding license file to some of the BERT models"
Hi,

I am interested in using “[distilbert-base-german-cased](https://huggingface.co/distilbert-base-german-cased)”, “[bert-base-uncased](https://huggingface.co/bert-base-uncased)”, and “[distilbert-base-uncased](https://huggingface.co/distilbert-base-uncased)” models for industrial applications. To be able to download these models from Hugging Face and use them in applications, the stated “apache

[2022-03-01 08:03] SaulLu commented on #14995
You can always modify the tokenizer by adding a custom pre-tokenizer. The pre-tokenizer will have the effect of splitting your sentence and WordPiece will only be applied to the individual parts of the sentence.

For Bert, the [BertPreTokenizer](https://huggingface.co/docs/tokenizers/python/latest/api/reference.html?highlight=bertpretokenizer#tokenizers.pre_tokenizers.BertPreTokenizer) pre-tokeniz

[2022-03-01 08:26] Narsil commented on #15840
Great ! Please let us know if there's any further issue, ctc_with_lm coming right up :D

[2022-03-01 12:49] cyk1337 commented on #15082
Hi @patil-suraj, I've implemented a brief version. And it may take some time to update due to the time schedule ;)

[2022-03-01 14:38] sgugger commented on #15857
We could support several evaluation datasets inside the `Trainer` natively. I think the easiest would be to:
- accept a list of datasets for the `eval_dataset` at init
- have a new boolean `TrainingArguments` named `multiple_eval_dataset` that would tell the `Trainer` that it has several evaluation datasets (since it won't be able to make the difference between one or several datasets: it could ve

[2022-03-01 14:50] asceznyk opened #15867 "IndexError: index out of range in self"
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-5.10.90+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- PyTorch version (GPU?): 1.9.1+cpu (False)
- Tensorflow version (GPU?): 2.6.2 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.2.28
- JaxLib version: 0.1.76
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

##

[2022-03-01 15:08] #15254 closed

[2022-03-01 15:08] #14500 closed

[2022-03-01 15:11] yarongef commented on #15609
Yes, I'll do that

[2022-03-01 15:25] patil-suraj commented on #15082
Hey @cyk1337 Thanks a lot! And no worries, feel free to take your time.

[2022-03-01 15:32] alexcoca commented on #15857
Hi @sgugger,

Yes, that would be a nice solution. Happy to try and prototype this in my own time (weekends, overwhelmed PhD student here) and see if we can put together something for one of the future releases.

Just to make sure I understand the design principle: first we make the above changes and then change the logic inside `_maybe_log_save_evaluate` to deal with multiple datasets? This requir

[2022-03-01 15:37] sgugger commented on #15857
The idea would be to loop other the datasets when calling the `evaluate` function in `_maybe_log_save_evaluate` all natively inside the `Trainer`.

We can also have another `TrainingArguments` for the names of the datasets, that's a good idea, which would defaults to just 0, 1, etc...

[2022-03-01 15:38] girishnadiger-gep commented on #15145
@HenryDashwood ,
Check by creating if all input criteria's are met. since you are using seq2seq-lm-with-past feature, it means you will have to pass decoder hidden state values too in input.

[2022-03-01 16:20] PastelBelem8 opened #15869 "Mismatch between beam search score transition probabilities and beam sequence scores"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.13.0-30-generic-x86_64-with-glibc2.31
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-

[2022-03-01 16:31] JeroendenBoef opened #15871 "How to go about utilizing MBART for conditional generation with beam search in ONNXRuntime with TensorRT/CUDA"
Hi HuggingFace team,

Last December I looked into exporting `MBartForConditionalGeneration` from `"facebook/mbart-large-50-many-to-one-mmt"` for the purpose of multilingual machine translation. Originally I followed the approach as described in this [BART + beam search example](https://github.com/huggingface/transformers/tree/master/examples/research_projects/onnx/summarization), extending the exa

[2022-03-01 19:51] davanstrien opened #15876 "Passing in num_labels to ConvNextForImageClassification.from_pretrained raises size mismatch error"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or para

[2022-03-01 19:58] sgugger commented on #15876
This is because the checkpoint you are using has 1,000 labels. To ignore the pretrained weights of the classifier, you have to pass along `ignore_mismatched_sizes=True`.

You don't need this for other models if the pretrained model does not have a classifier head.

[2022-03-01 20:02] davanstrien commented on #15876
Thanks for clarifying @sgugger 🤗 Will close this now since it's not a bug (sorry should have checked this one on the forums)

[2022-03-01 20:02] #15876 closed

[2022-03-01 20:39] JulesGM opened #15878 "label_attention_mask in Bart for conditional sequence generation and other seq2seq models."
I find it very counterintuitive that the Bart class for conditional generation doesn't take label_attention_masks as an input, and that people are left to manually convert their padding tokens to values of -100.

-> I think many new users are likely getting bitten by this, and will also be in the future.
-> I think it's a pain to recode everytime identically when it could just be part of the funct

[2022-03-01 20:53] patrickvonplaten commented on #15366
This can be closed I think no?

[2022-03-01 20:53] #15366 closed

[2022-03-01 20:54] patrickvonplaten commented on #15359
@hugoabonizio  - could you check whether this PR solves the problem: https://github.com/huggingface/transformers/pull/15835 ? :-) Sorry for being so late here

[2022-03-01 21:24] patrickvonplaten commented on #15552
Got caught up in another project :-/ But I'm thinking about how to structure the new blogpost

[2022-03-01 21:25] patrickvonplaten commented on #15861
@anton-l - we should put this on our TODO for the doc tests

[2022-03-01 21:25] patrickvonplaten commented on #15861
`inputs_ids` should be replaced with `inputs` - I'll try to update the docs asap

[2022-03-01 21:39] StephAO commented on #15559
Good catch. I am actually unsure where/if I saw code that passed `forced_bos_token_id` to the tokenizer, it is possible that when I was playing around with the model to try and get it to work, I ended up adding the argument to the wrong spot. That being said, the documentation is unclear in a few places:
- The Mask Filling example in [BartForConditionalGeneration](https://huggingface.co/docs/trans

[2022-03-01 22:32] patrickvonplaten commented on #15867
Hey @asceznyk,

It looks like a word id is passed to the model which doesn't exist. One possible issue could be that you are passing `-100` values to the decoder as `decoder_input_ids`. Note that only the labels should be masked out with `-100` not the `decoder_input_ids`.

[2022-03-01 22:46] patrickvonplaten commented on #15559
Thanks for the great feedback! Actually if you would be interested, it would be amazing to open a PR to fix the docs - both the mask filling example and the implementation notes - to fix this :-)

Otherwise I'm happy to open a PR for it as well!

[2022-03-01 23:16] AntreasAntoniou opened #15880 "Broken link error when using the CLIPTokenizerFast class"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.13.0-30-generic-x86_64-with-glibc2.10
- Python version: 3.8.12
- PyTorch version (GPU?): 1.11.0.dev20220116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>

### Who ca

[2022-03-02 02:25] SivilTaram commented on #15559
@patrickvonplaten Thanks for the explanitaton, it helps a lot! Actually, I think it does not only effect mask infilling, but also the fine-tuning procedure (at least on my side). Without the `forced_bos_token_id`, the `bart-large` model cannot be fine-tuned well. Therefore, I recommend to set the default value of `forced_bos_token_id` inside the BART model config file if you do not mind.

[2022-03-02 03:48] jmwoloso commented on #14500
I still have planned testing coming up, so let's re-open

[2022-03-02 05:53] imVParashar opened #15883 "Failed to find input with name: attention_mask in the model input def list"
There's something wrong while using ONNX Runtime for the `TFDistilBertForSequenceClassification` model.

It throws the following error while using the TensorFlow model, `Failed to find input with the name: attention_mask in the model input def list`.

However, if I only pass `input_ids`, then it works.

For Pytorch models, both the `input_ids` & `attention_mask` works.

### Steps to reproduce the

[2022-03-02 06:56] SaulLu commented on #15880
@AntreasAntoniou , I'm so sorry you had this problem. Part of the Hub was briefly unavailable on March 1st around 11pm UTC. I just tested again on my side and your snippet works fine. :smile:

[2022-03-02 07:15] SaulLu commented on #15844
If I understood correctly, you tried with the version of transformers on master. After running:
[code]
normally you should see this error message after:
[code]

Can you share with us a little more about what you did so we can understand why you didn't receive this error? :slightly_smiling_face:

[2022-03-02 09:10] patrickvonplaten commented on #15559
Hmm, the problem is that I'm not sure whether this should be done or not `bart-base` and `bart-large`. E.g. when the model was added the author explicitly mentioned that `forced_bos_token_id` should only be used for `bart-large-cnn` by default - see: https://github.com/huggingface/transformers/blob/818878dc881a32c949844f734af5a8ce25385660/src/transformers/configuration_bart.py#L109

This is also w

[2022-03-02 09:24] pratikchhapolika opened #15885 "After vocabulary extension the tokenizer keeps on running."
I am training a simple binary classification model using Hugging face models using pytorch.

Bert PyTorch HuggingFace.

`keyword_lst` has `20k` new token which I add to tokenizer.

`I take mean of old tokenizer to update new tokenizers.`

I am training this model for `4,00,000 data points.`

Here is the code:

[code]

The tokenizer keeps on running.  :(

[2022-03-02 09:59] #15880 closed

[2022-03-02 11:00] patil-suraj commented on #15559
Sam will have a better answer but IIRC the `forced_bos_token_id` (previously, `force_bos_token_to_be_generated`) was added to be able to reproduce the `bart-large-cnn` results. And in our experiments, we had found that this is only required for the cnn pre-trained model and other checkpoints were not affected by this. Found a related [discussion](https://discuss.huggingface.co/t/bart-lm-odd-beam-s

[2022-03-02 11:32] patrickvonplaten commented on #15559
Thanks for the summary @patil-suraj - that's super helpful!

So as I undertsand it, the BartTokenizer will **always** add the BOS token to the beginning.
E.g.:

[code]

[code]

 This means for Seq2Seq if someone follows any of our official examples (both accelerate and Trainer), this means the labels are
created to be:

[code]

Now, we know from Sam's comment [here](https://github.com/huggingface/

[2022-03-02 11:41] jayeshchoudhari commented on #15358
Same issue even with tokenizers version 0.11.6

[2022-03-02 11:48] cosmoquester opened #15888 "CLIPProcessor with CLIPTokenizerFast"
# 🚀 Feature request

Current `CLIPProcessor` doesn't support `CLIPTokenizerFast` requiring `CLIPTokenizer`.
In my thinking, there is no reason not to support `CLIPTokenizerFast` for `CLIPProcessor`

## Motivation

## Your contribution

https://github.com/huggingface/transformers/blob/v4.16.2/src/transformers/models/clip/processing_clip.py#L23

it may be easy by modifying upper python code. I think

[2022-03-02 12:49] patil-suraj commented on #15082
The `datasets` [library](https://github.com/huggingface/datasets)! You could look at the docs to know more, but this enables loading very large datasets without blowing up the memory by providing memory mapping.

[2022-03-02 12:56] patil-suraj commented on #15888
Hey @cosmoquester !
The `CLIPTokenizerFast` was not used in the processor because there was an issue with it which is now fixed, cf #15067

So yes, we can now support `CLIPTokenizerFast` for `CLIPProcessor`. Feel free to open a PR!

[2022-03-02 12:58] asceznyk commented on #15867
On the earlier comment, I am training on the first 1000 examples of the Dataset

[2022-03-02 12:59] patil-suraj commented on #15885
Hi @pratikchhapolika ! The best place to ask this question would be to use the [forum](https://discuss.huggingface.co/). We use issues for bug reports and feature requests.

[2022-03-02 13:02] patil-suraj commented on #15878
Hi @JulesGM !
There is already an argument for that. Every seq2seq model has the `decoder_attention_mask` argument with which you can specify the attention mask for `decode_input_ids` which are fed to the decoder.

[2022-03-02 13:03] patil-suraj commented on #15883
cc @lewtun

[2022-03-02 13:53] gabeorlanski commented on #12499
Hi, @sgugger I took a look at the issue you mentioned above and saw that [this PR](https://github.com/huggingface/transformers/pull/14413) disables the ability to loop over the iterable dataset in an infinite fashion (for example, how it is done in the [CodeParrot example](https://github.com/huggingface/transformers/blob/master/examples/research_projects/codeparrot/scripts/codeparrot_training.py))

[2022-03-02 14:07] sgugger commented on #15559
Are we 100% sure that the change would only make predictions better in all circumstances?

[2022-03-02 14:13] sgugger commented on #12499
To loop several times on the iterable dataset, you have to use `num_epochs` instead of `max_steps`.

[2022-03-02 14:18] gabeorlanski commented on #12499
Hmm ok, however if I set `max_steps=-1` I get the error:
[code]

But if I set max steps, then the value of `num_train_epochs` gets ignored and the training stops when the dataset has run out of samples.

[2022-03-02 14:40] sgugger commented on #12499
You can just implement the length of the dataset if you have it.

[2022-03-02 15:03] #15296 closed

[2022-03-02 15:22] gennarovaccaro commented on #15621
@LysandreJik Done days ago, but no answer yet

[2022-03-02 16:23] andstor opened #15898 "Error using evaluation in run_clm.py"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-4.18.0-193.el8.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.3
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed

[2022-03-02 16:54] AdrienDS opened #15899 "Missing tags on Docker Hub after version 4.9.1"
## Environment info

- `transformers` version: > 4.9.1

### Who can help

@mfuntowicz ?

## Information

https://hub.docker.com/r/huggingface/transformers-pytorch-gpu/tags

I was expecting 1 tag per transformers version on the docker hub, but the most recent tag (aside from `latest`) is for 4.9.1 and was pushed on July 26, 2021.

## To reproduce

Steps to reproduce the behavior (and see existing t

[2022-03-02 17:55] patrickvonplaten commented on #15559
If someone fine-tunes with a BOS as the second token (behind `decoder_start_token_id`) - which is done in all example scripts, then yes the change would make predictions better in all circumstances for the  fine-tuned model.

[2022-03-02 18:16] sgugger commented on #15559
I'm not talking about fine-tuning, I'm talking about users relying on this model in production right now.

[2022-03-02 20:34] JulesGM commented on #15878
Thanks.
"For translation and summarization training, decoder_input_ids should be
provided. If no decoder_input_ids is provided, the model will create this
tensor by shifting the input_ids to the right for denoising pre-training
following the paper."
Is that how it works even if labels are provided?  The labels and the
(shifted) decoder inputs are the same 99.99% of the time.
Do I still need to fee

[2022-03-02 20:58] stas00 commented on #15898
This PR introduced the breakage  https://github.com/huggingface/transformers/pull/15473 I think since this code didn't exist before:

Most likely the new code has been merged w/o a test exercising this code and which would have exposed this bug.

https://github.com/huggingface/transformers/blob/130b987880a9b1ade5c76dc1413c12c8924fda50/examples/pytorch/language-modeling/run_clm.py#L456-L457

pingin

[2022-03-02 20:59] patrickvonplaten commented on #15559
This is a pretrained checkpoint - so I highly doubt anybody uses this model + `generate()` in production. The only use case is to generate a `<mask>` token as shown in the issue description. It doesn't make sense to use this in production (why use expensive generate for a `<mask>` token instead of BERT?). And even for this use case the change works better (however this is hard to test)

[2022-03-02 21:16] sgugger commented on #15898
No, this new code is properly tested by the current tests of the clm and mlm scripts. There is no need to be passive aggressive here, please double-check the test coverage situation before issuing claims like these ones who don't help anybody and make sure no one is going to help fix the situation.

The problem comes from the model returning more than one logit (it has `use_cache` set to `True` in

[2022-03-02 21:17] Mehrad0711 commented on #12775
Hi @patil-suraj,
Just wanted to check if there's any news/ progress for adding the new models.
Thanks.

[2022-03-02 22:09] afcruzs commented on #15844
@SaulLu I've tried to repro it again and i couldn't, it seems to work just like you said 😐. I'll take a closer look and share a colab if I find something, otherwise will close this. Thanks!

[2022-03-02 22:49] andstor commented on #15898
Thanks ❤️
Switch to the commit before that PR did do the trick 👌

[2022-03-03 00:15] PastelBelem8 commented on #15552
Hey! I wouldn't mind helping out planning out or kick-starting the blogpost but I do have some questions regarding the internals and how the compute_transition_probabilities relate to beam sequence scores!

[2022-03-03 06:27] davidleonfdez commented on #15898
Sorry, maybe I wasn't as careful with the examples as I should have been 😞. I've just learned about `past_key_values`. I had tested the example with GPT2, whose config has `keys_to_ignore_at_inference = ["past_key_values"]`, so it doesn't return a tuple. I can try to fix it.

[2022-03-03 06:47] dengxingwang commented on #15341
I got the same error. But I do not know how to fix it.

[2022-03-03 06:54] xiaolang01 commented on #15341
trainer.train(True)  >>> trainer.train() 把这句改成这个就可以了

[2022-03-03 08:10] Fraser-Greenlee opened #15904 "Incomplete padding support for Funnel Transformer."
Looks like there's a tiny bug in the funnel transformer implementation.
https://github.com/huggingface/transformers/blob/39249c9589f5eb9677807e74221e2eb3ea1b4a35/src/transformers/models/funnel/modeling_funnel.py#L783

Should be:
[code]

Though a `pad_token_id` is not a field in `FunnelConfig` the `FunnelEmbeddings` do use the field if its present in the config.

I could make a PR to fix the line &

[2022-03-03 10:20] danielbellhv commented on #8690
How do you delete cache of GPT-2 model?

[2022-03-03 11:15] patil-suraj commented on #15878
Hi @JulesGM !

The docstring is bit misleading, it should not shift `input_ids` even for denoising pre-training. I will fix that.

No, if `labels` are passed then `decoder_input_ids` are created by shifting the `labels`.

They should be different, i.e if `labels` are like this:
`<s> this is a sent </s>`

then `decoder_inputIds` will look like this after shifting
`</s> <s> this is a sent`

even if

[2022-03-03 11:18] itsmemala commented on #3086
I have a similar issue. Did you manage to find fix for this @msandrewhoang03 ?

[2022-03-03 11:22] lewtun commented on #15883
Hey @imVParashar thanks for raising the issue. We recently had to fix the (deprecated) TensorFlow exporter in #15856, so if you install from `master` the following should work:

[code]

**Warning:** As far as I know, ONNX models that are exported from TensorFlow / Keras only work for a _fixed input shape_. Although my example above works, you'll find it throws an error if you change the sequence l

[2022-03-03 11:25] patil-suraj commented on #8690
@danielbellhv

you can pass `force_download=True` to `from_pretrained` which will override the cache and re-download the files.

[2022-03-03 11:34] gante opened #15908 "RFC -- TF: unpack model inputs through a decorator"
# RFC

This is an RFC concerning how model/layer inputs are handled in TF. The details are below and it includes a working demo with the proposed solution -- comments (and concerns) are deeply appreciated.

cc @Rocketknight1 @LysandreJik @sgugger

## Motivation

In all TF models and main layers, in their `call` function, we start by processing their inputs with `input_processing()` ([example](http

[2022-03-03 11:59] Rocketknight1 commented on #15908
This is a really good idea, I think! The loss of type hinting might be an issue, though - I think our models are almost totally type-hinted in PT, though that's probably just to get them to compile with Torchscript and isn't strictly necessary for TF.

Probably there's some way to salvage this, though - Py3.10 added [PEP 612](https://www.python.org/dev/peps/pep-0612/) which specifically addresses

[2022-03-03 12:01] Rocketknight1 commented on #15908
I do agree that every `call()` immediately calling `input_processing()` is currently quite ugly and confusing for newcomers, and some kind of fix would be extremely welcome, though.

[2022-03-03 12:09] versae opened #15910 "Flax XLM-RoBERTa"
# 🌟 New model addition: Flax XLM-RoBERTa

## Model description

The Flax version of RoBERTa and PyTorch and TF XLM-RoBERTa have been there for a while, but some pieces were missing that prevented us from doing pre-training and other tasks on Flask XLM-RoBERTa. In this PR #15900, I am adding those parts that were necessary to support XLM-RoBERTa in Flax based on the existing XLM-RoBERTa and Flax Ro

[2022-03-03 12:42] sgugger commented on #15898
@davidleonfdez If you want to work on a fix, look at how the `compute_metrics` in the `run_glue` script is defined. I believe you just need to add a similar test as [this one](https://github.com/huggingface/transformers/blob/4cd7ed4b3b7360aef3a9fb16dfcc105001188717/examples/pytorch/text-classification/run_glue.py#L448) at the beginning of the `preprocess_logits_for_metrics` function for the case w

[2022-03-03 12:53] sgugger commented on #15908
The type hints are necessary for the documentation (see for instance [TFBertModel.call](https://huggingface.co/docs/transformers/model_doc/bert#transformers.TFBertModel.call) and the nice feature where you can hover) so I would be really sad to see them disappear. We also need to keep the docstring (for obvious reasons) and diverse attributes like `__module__`, `__name__`, `__qualname__` for the d

[2022-03-03 13:14] patrickvonplaten commented on #15552
Cool! It'd already be very helpful if you could drop your questions here - I'll try to answer them in the blog post then :-)

[2022-03-03 13:58] danielbellhv opened #15914 "query() of generator `max_length` being succeeded"
## Environment info

- `transformers` version:
- Platform: Visual Studio Code, Windows 10, WSL 2 Bash
- Python version: 3.8.8
- PyTorch CUDA: 10.2

### Who can help

Models:
- GPT-2, GPT: @patrickvonplaten, @LysandreJik

Library:
- Pipelines: @Narsil

 -->

## Information

Model I am using (GPT-2):

The problem arises when using:
* [X] the official example scripts: (give details below)
* [] my own

[2022-03-03 14:40] sorenmc commented on #14222
Sorry have been on vacation, and i have sadly not had the time

[2022-03-03 14:44] Narsil commented on #15914
Hi @danielbellhv ,

This is actually working as intended.
`max_length` is expressed in number of tokens (which is not necessarily obvious I admit).

First of all I would recommend using `max_new_tokens=200` which are the number of "additional" tokens which is easier for you to control. `max_length` still exists but it causes confusion regularly. (We don't have `min_new_tokens` yet, but I'll note t

[2022-03-03 14:57] ElleuchMed2022 opened #15919 "camembert tokinizer"
# Initialize CamemBERT tokenizer
tokenizer=CamembertTokenizer.from_pretrained('camembert-base',do_lower_case=True)

TypeError: 'NoneType' object is not callable

[2022-03-03 15:07] #15302 closed

[2022-03-03 15:07] #15301 closed

[2022-03-03 15:07] gante commented on #15908
@sgugger if the live docs are to be trusted, then the proposed decorator requires no doc-related changes 🎊

In the [draft PR](https://github.com/huggingface/transformers/pull/15907), I've applied the decorator to `TFBertModel.call`, and waited for the doc CI to run. The docs had no changes: [PR docs for TFBertModel.call](https://moon-ci-docs.huggingface.co/docs/transformers/pr_15907/en/model_doc/b

[2022-03-03 15:18] sgugger commented on #15908
So there is no problem with type hints then :-)

[2022-03-03 15:51] patrickvonplaten commented on #15861
Should be fixed here: #15911 and be part of new release.

[2022-03-03 15:51] #15861 closed

[2022-03-03 16:24] Samreenhabib commented on #15823
Hey there, I want to know is  not using processor will affect training accuracy? As I've tried to replace TrOCR processor with ViT feature extractor and roberta as detokenizer as follows:
[code]
After training on 998 images with text-image pair, model even cant recognize text from trained image. Is it related to size of training dataset or processor is important for OCR case?

[2022-03-03 16:27] NielsRogge commented on #15823
Hi,

Are you using the following tokenizer:

[code]
?

Cause that is required for the model to work on another language.

[2022-03-03 17:11] mishig25 opened #15925 "Non-unique `local` in toctree"
`local` field in toctree is treated as an id; therefore, it has to be unique. Because of this, in https://huggingface.co/docs/transformers/multilingual, you cannot reach the second `multilingual` page

I will work on the doc-builder that checks locals are unique;

[line here](https://github.com/huggingface/transformers/blob/master/docs/source/_toctree.yml#L32)

<img width="300" alt="Screenshot 202

[2022-03-03 17:38] stevhliu commented on #15925
Thanks for this! I think we can actually remove the first `multilingual` page since it is outdated now. On a related note, can we also remove the `custom_datasets` [page](https://huggingface.co/docs/transformers/master/en/custom_datasets) since it has also been replaced by the fine-tune for downstream tasks section?

Is this also why for section headers that share the same name, the second header

[2022-03-03 17:58] xloem opened #15927 "Privacy&Security: Network Contact Every Model Load"
I decided to add this after commenting on https://github.com/deepset-ai/haystack/issues/2118

### Who can help

@sgugger

## Information

The problem arises when using:
* [x] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give deta

[2022-03-03 18:04] sgugger commented on #15927
cc @LysandreJik @Narsil This relates to things we talked about internally.

I agree with the first point, the second and third point deserve their debate so thank you for writing this issue!

For the fourth point, the situation is a bit more complicated as every user would need to download the whole repo when using a model, even if they don't need all the files (for instance most downloaded models

[2022-03-03 18:55] sgugger commented on #15908
I can't believe I didn't begin my first comment with it, so belatedly: it's a great idea! I love how elegant it makes the code!

Just played with it locally and I don't see any change in IDE, so definitely go for this! You can polish the PR to make it not-draft and your plan seems a good one afterward. No need to wait for @LysandreJik as I'm pretty confident he'll love it as much as I do :-) (and

[2022-03-03 19:11] davidleonfdez commented on #15898
Thanks!

[2022-03-03 19:41] #15898 closed

[2022-03-03 21:07] ydshieh opened #15930 "issues in `generate()`"
## A collection of issues for `generate()` method that we need to address

(**I don't assign these issues to anyone yet. I might work on some of these later. The purpose here is to make these issues transparent to the community, and to serve as a TODO list so we won't forget.**)

As an extension to the model equivalence tests across framework, I prepared a list of potential issues for `generate()`

[2022-03-03 21:41] RezaYazdaniAminabadi commented on #15642
Hi @stas00,

Sorry I did not see your message earlier. I will look into this and let you know if we can run inference through ds-inference.
Thanks,
Reza

[2022-03-03 22:46] smitkiri commented on #15850
From your error `No such file or directory: '../datasets/RE/${DATA}/${SPLIT}/cached_train_BertTokenizer_128_sst-2.lock'` , it seems like the script input literally takes `${DATA}` and `${SPLIT}` instead of the values of the environment variables.

[2022-03-03 22:59] backurs commented on #15801
Hi Joao,
I get this error when trying to push my branch to the origin:
[image: image.png]
How do I fix this problem?
Thanks,
Arturs

On Mon, Feb 28, 2022 at 5:38 AM Joao Gante ***@***.***> wrote:

[2022-03-04 00:53] RezaYazdaniAminabadi commented on #15642
Hi Stas, I checked the implementation, and we have all the kernels to run this through ds-inference. I will add a policy for this and send a PR at DeepSpeed side.
Best,
Reza

[2022-03-04 04:27] pratikchhapolika commented on #1413
Ok. Thank you. Is this also correct?

[code]

[2022-03-04 05:35] stas00 commented on #15642
Thanks a lot, Reza!

[2022-03-04 06:46] cyk1337 commented on #15082
Is there an example of this? Have checked the docs, and not found a distributed solution. Maybe we need to implement one for assigning different data blocks to multi-node multi-gpu settings by [loading a specific subset of the files](https://huggingface.co/docs/datasets/loading.html?highlight=distributed#:~:text=load%20a%20specific%20subset%20of%20the%20files) ?

[2022-03-04 06:51] F-Yuan303 opened #15933 "TypeError: meshgrid() got an unexpected keyword argument 'indexing'"
when i tried to run the example given in ViLTModel below. I encountered problem"TypeError: meshgrid() got an unexpected keyword argument 'indexing'"

`from transformers import ViltProcessor, ViltModel
from PIL import Image
import requests

url = "http://images.cocodataset.org/val2017/000000039769.jpg"
image = Image.open(requests.get(url, stream=True).raw)
text = "hello world"

processor = ViltProc

[2022-03-04 08:25] NielsRogge commented on #15933
Hi,

You may need to upgrade to PyTorch 1.10 for this to work.

[2022-03-04 08:49] magichz86 commented on #15610
I got the same issue,the version of my transformer is 4.16.2.
Solved the issue by reducing the version to 4.10.0.

[2022-03-04 09:33] danielbellhv commented on #15914
Hi @Narsil. Ah yes; tokens explains the length of the outputs.

However, when swapping out `max_length=max_char_len` for `max_new_tokens=max_char_len` - I got similar lengths.

Is there such a parameter that controls the length as characters? I doubt it, since as you explained the model processes tokens and not characters.

**Solution:**
Rename `min_char_len, max_char_len` to `min_tokens, max_toke

[2022-03-04 09:33] #15914 closed

[2022-03-04 09:35] Narsil commented on #15927
Thanks @xloem,

Thank you for writing this !
As @sgugger said, we had some internal debate about this and are considering our options.

Here are my initial thoughts (just trying to bring food for thought)

Yes, probably with a warning so that users are aware they might not be using the latest version. (There's  a flag `TRANSFORMERS_OFFLINE=1` by the way to remove network access globally across the

[2022-03-04 09:40] Narsil commented on #15914
Yes @danielbellhv ,

As you said, currently there's not option to get `char` control over the generated text.

We can definitely think about it, it's a rather large change which is not obvious, but definitely aligned with our vision of pipelines

[2022-03-04 09:42] imVParashar commented on #15883
Thank you so much. The approach you mentioned, worked for me. :)

[2022-03-04 09:42] #15883 closed

[2022-03-04 10:02] chenjinhongv opened #15935 "parm:logging_dir not works when"
## Environment info

- `transformers` version:4.16.2
- Platform:linux
- Python version:3.7.11
- PyTorch version (GPU?):1.10.2 GPU
- Tensorflow version (GPU?):no tensorflow
- Using GPU in script?:yes
- Using distributed or parallel set-up in script?:

## Information

Model I am using (Bert, XLNet ...):unicamp-dl/translation-en-pt-t5

The problem arises when using:
* [ ] the official example scripts

[2022-03-04 10:34] Samreenhabib commented on #15823
Yes, I'm calling Vit + urduhack/roberta as encoder and decoder. For testing purpose, I've trained this model on 20 image-text pairs. When I'm trying to recognize text from image, output text is composed of repeating words as shown in image.
![roberta](https://user-images.githubusercontent.com/92440041/156746867-b13acb2d-f8a0-4f5e-92bf-a0b9e8835c99.png)
I know training sample is not under requireme

[2022-03-04 10:45] NielsRogge commented on #15823
Which version of Transformers are you using? Cause the eos_token_id must be properly set in the decoder.

See also #14905

[2022-03-04 11:38] patil-suraj commented on #15082
Could you post this question on the [forum](https://discuss.huggingface.co/) someone must have shared something there already. Forum is the best place for general discussion.  Also for the transformers example, a simple script should be enough.

[2022-03-04 13:36] #15910 closed

[2022-03-04 14:09] sgugger commented on #15935
How do you launch the script? In particular if you launch it from another directory, the logging dir will appear there.

[2022-03-04 16:04] Samreenhabib commented on #15823
Transformers version: 4.17.0
Currently, `model.config.eos_token_id = decoder_tokenizer.sep_token_id` is set.

[2022-03-04 16:04] #12755 closed

[2022-03-04 16:39] NielsRogge commented on #15269
Hi,

Thanks for the issue and apologies for the late reply. I'll look into this.

[2022-03-04 16:43] NielsRogge commented on #15269
cc'ing @sgugger. So the issue is that `LayoutLMv2Processor` consists of a tokenizer + feature extractor, and I have 2 variants of the feature extractor (it can be initialized with apply_ocr set to True or False).

The problem is here is that, 'microsoft/layoutxlm-base' on the hub has a `preprocessor_config.json` which has `apply_ocr = True`, hence the `from_pretrained()` method will raise the erro

[2022-03-04 16:52] NielsRogge commented on #15823
Can the model properly overfit the 20 image-text pairs?

Is the. image you're testing on included in the 20 pairs?

[2022-03-04 16:53] sgugger commented on #15269
Yes, that is the `FeatureExtractionMixin` is coded. I suggest moving the `requires_backends(self, "pytesseract")` to the call method instead of the init to solve this issue.

[2022-03-04 17:00] vikramtharakan commented on #15799
@Narsil sorry for the late reply; I understand what you're saying and I think I will have to implement something to this effect in practice but what you suggested won't quite work for me. The model does fit a single GPU but ideally I'd like data to be able to flow through it continuously. So we'd essentially have one pipeline set up per GPU that each runs one process, and the data can flow through

[2022-03-04 17:01] #15478 closed

[2022-03-04 17:04] Samreenhabib commented on #15823
Yes..I passed image from training set

[2022-03-04 17:15] patrickvonplaten commented on #15464
Think @stefan-it has a working script :-)

[2022-03-04 17:53] #15269 closed

[2022-03-04 18:42] Narsil commented on #15799
Could you have a queue instead maybe of choosing the offsets in the datasets ?
Both processes could be iteratively fetching from the queue (that can be fed in random order or not). (Hashing can be used if you want to fetch in random order but making sure you're not duplicating the work)
Many programs can be used to implement a queue simply, rabbitmq, mongo, maybe the pure Python `multiprocessing.Q

[2022-03-04 18:42] gante commented on #15801
Hi @backurs  -- there was a problem with the image attachment (possibly because your comment was an email reply). Can you resubmit it through a GitHub comment, please?

[2022-03-04 19:20] vikramtharakan commented on #15799
@Narsil Gotcha, thank you for the quick reply! I'll look into that

I was also wondering if there's any documentation on all the steps going on under the hood when using these pipelines? Because if it's really just tokenizing the data and then sending it through the model, I feel like I could also just load the model separately using pytorch and then load the model to multiple devices using either

[2022-03-04 20:22] catsbergers commented on #5715
I also have this issue.

[2022-03-04 21:45] Nithanaroy opened #15945 "Unable to run run_glue.py offline"
## Environment info
An host without internet access but with ~/.cache/huggingface pre-populated

### Who can help
@sgugger @LysandreJik @SaulLu

## Information

Model I am using (Bert, XLNet ...):
[code]

The problem arises when using:
* [x] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] an official GLUE/S

[2022-03-04 21:47] sgugger commented on #15945
You need to set the env variable `HF_DATASETS_OFFLINE=1 TRANSFORMERS_OFFLINE=1` to be able to use the libraries in offline mode, as pointed out in the [documentation](https://huggingface.co/docs/transformers/installation#offline-mode)

[2022-03-04 21:57] Nithanaroy commented on #15945
@sgugger thanks for the blazing fast response! I forgot to add that I set `HF_DATASETS_OFFLINE=1`. I didnt know about `TRANSFORMERS_OFFLINE=1`. It works now.

[2022-03-04 21:57] #15945 closed

[2022-03-05 02:03] F-Yuan303 commented on #15933
Sorry i'm new in nlp, I changed the pytorch to 1.10 and it comes another problem.

Some weights of the model checkpoint at dandelin/vilt-b32-mlm were not used when initializing ViltModel: ['mlm_score.transform.LayerNorm.bias', 'mlm_score.transform.dense.weight', 'mlm_score.bias', 'mlm_score.decoder.weight', 'mlm_score.transform.LayerNorm.weight', 'mlm_score.transform.dense.bias']
- This IS expecte

[2022-03-05 02:45] F-Yuan303 commented on #15933
I have found a solution from the internet, thanks a lot.

[2022-03-05 02:45] #15933 closed

[2022-03-05 06:03] omarespejel opened #15947 "Tranformers documentation translation to Spanish"
Hi!

Let's bring the documentation to all the Spanish-speaking community :)

Who would want to translate? **Please follow the instructions in the [Translating guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md)**. Here is a list of the files ready for translation. Let us know here if you'd like to translate any and we'll add your name to the list.

Some notes:
- Pleas

[2022-03-05 06:37] chenjinhongv commented on #15935
thanks very much，I found it is because I launch the script with Environment without Tensorflow installed（by the way, I get no warning about this during the process, haha）

[2022-03-05 07:36] lightxu opened #15948 "is_index_masked and is_index_global_attn in Longformer"
I noticed that in [LongformerEncoder](https://github.com/huggingface/transformers/blob/master/src/transformers/models/longformer/modeling_longformer.py#L1255), is_index_masked and is_index_global_attn is set like this:

[code]

Can anyone help me understand what does these two variables do and why they are set in this way?

Note that in [LongformerModel](https://github.com/huggingface/transformers

[2022-03-05 08:19] #15867 closed

[2022-03-05 09:53] Narsil commented on #15799
Hi @vikramtharakan ,

Pipeline are intended for users not knowing machine learning to provide easy to use API.
It should work with the sanest possible defaults, and have a very standard preprocessing/postprocessing.
It is not meant to be the best possible production ready inference tool on all hardware (This is too vast a problem to be solved by a single solution).

It does use DataLoader when ava

[2022-03-05 13:41] xloem commented on #15927
When you say an attacker triggering many updates on a model is an issue that goes beyond SSL, could you elaborate more on what you mean and why you might generally require users to enable a more secure setup, rather than having it a default? With transformers getting larger and larger, it seems the centralisation and frequent default network downloads for models could become a significant danger t

[2022-03-05 14:30] nbroad1881 commented on #14712
@kpriyanshu256 , I got it from here 😉

[2022-03-05 15:01] #15342 closed

[2022-03-05 15:01] #15336 closed

[2022-03-05 15:02] #15333 closed

[2022-03-05 15:02] #15323 closed

[2022-03-05 15:02] #15322 closed

[2022-03-05 15:02] #15196 closed

[2022-03-05 15:02] konstantinjdobler opened #15950 "HfArgumentParser doesn't recognize new list type hint syntax"
Since Python 3.9 we can use generic types as type hints (e.g. `list[str]` instead of `typing.List[str]`), see also [PEP 585](https://www.python.org/dev/peps/pep-0585/). Currently this does not seem to work with the `HfArgumentParser`, but using the old `typing.List[str]` works.

Minimal example for an arguments data class:
[code]

[2022-03-05 15:02] #14989 closed

[2022-03-05 15:02] #14986 closed

[2022-03-05 15:02] #14394 closed

[2022-03-05 15:02] #14252 closed

[2022-03-05 15:24] konstantinjdobler commented on #15950
I was able to pretty easily finde the relevant piece of code and submitted a PR to fix it #15951

[2022-03-05 20:48] JulesGM commented on #6080
The problem here is that the inputs are retokenized every time right, instead of pre-tokenizing and fixing padding to fit the max size of the batch as with [DataCollatorForSeq2Seq](https://huggingface.co/docs/transformers/main_classes/data_collator#transformers.DataCollatorForSeq2Seq)
Not a huge deal I guess.

[2022-03-05 20:50] JulesGM commented on #6080
I feel like Transformers would maybe benefit from having a better advertised, "one" good way to do seq2seq that it could put in all of it's tutorials and everything. I had kind of a harder time than I would have expected to figure this out

[2022-03-06 05:06] Eurus-W commented on #6743
I think the BART pre-training script is very useful for my work and many others. It is generous of you to add this example script in 'Transfromers' !!!

[2022-03-06 09:06] Eurus-W commented on #6743
Thanks for your reply and I think your method is absolutely feasible. But when I try it , I faced some errors that I can't fix. And could you please give me some help?
Here is my changes to `run_summarization.py`(tag 4.11.0)

1. Import some necessary packages in [https://github.com/morganmcg1/rotobart/blob/main/data_collator.py#L223](url)
2. Add full codes of `DataCollatorForDenoisingTasks` and al

[2022-03-06 14:33] salrowili commented on #15559
Does this problem can cause  a pretrained model from a scratch to show poor loss and accuracy score? I already pre-train a model with TensorFlow Keras and BART and it show me a good logit accuracy (~80%) for base-scale. However, i was struggling for months to use BART large using the same experimental setup. The logit accuracy for BART large never goes beyond ~4%. I did everything including decrea

[2022-03-06 15:01] #15340 closed

[2022-03-06 18:48] bnriiitb opened #15955 "Unable to run PPLM potato example"
I am following the instructions mentioned in the below page to run PPLM examples. Unfortunately the code is throwing error.

PPLM Page : https://github.com/huggingface/transformers/tree/master/examples/research_projects/pplm

**Environment:**
Python 3.9.7
pytorch-lightning==1.0.4

Error Log:
[code]

[2022-03-06 21:45] bugface opened #15956 "clean_up_tokenization_spaces=False does not behave correctly in AutoTokenizer's decode function"
input example:
[code]

if we do decode
[code]

if we do decode
[code]

following the above question, I find another inconsistent behavior:

[code]

Is this designed as encoding and decoding the same word can lead to different output or it is a bug?

more precisely, if we do
[code]
but I expect it generates subwords not inserting spaces.

[2022-03-06 23:28] TobyCello commented on #12946
Hi @zynos @sgugger . I'm using transformers 4.8.0 and have installed sentencepiece. But I'm having same cannot import name 'BigBirdTokenizer' issue. Thanks.

[2022-03-07 01:44] SivilTaram commented on #15559
@salrowili Yeah, I can confirm it will. Compared with `bart-base`, the prediction of `bart-large` seems to be with some randomness, even an experiment which evaluates if it could convergence on a small and toy dataset.

[2022-03-07 02:05] salrowili commented on #15559
Did you manage to fix it with forced_bos_token_id=0 solution?

[2022-03-07 02:22] SivilTaram commented on #15559
According to my efforts now, I can observe the following facts:
- With setting `forced_bos_token_id=0`, the model `bart-large` can be overfitted on a small toy dataset;
- On a real dataset `WikiSQL`, the model `bart-large` shows promising fine-tuning results on some experimental runs, e.g., showing a comparable performance with the fine-tuned model by `fairseq`.

However, some experimental runs wi

[2022-03-07 03:33] cuthalionn commented on #6535
I am trying to generate with a decoder-only model using inputs_embeds. Does anyone know useful resources on how to achieve this?

[2022-03-07 04:03] zijwang opened #15957 "mBART tokenizer not following expected target token order"
## Environment info

- `transformers` version: 4.17
- Platform: linux
- Python version: 3.8.12
- PyTorch version (GPU?): 1.10.2+cu113
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
Maybe  @patil-suraj @SaulLu @patrickvonplaten ?

## Information

Model I am using (Bert, XLNet ...): mBART

The problem arises when using:
* [x]

[2022-03-07 04:28] alu13 opened #15958 "Blenderbot 1.0B Distilled eats up memory over many inferences"
Hi, I've noticed that over the course of many inferences, the  Blenderbot 1.0B Distilled model continuously allocates GPU memory and eventually causes the GPU to crash. My project only uses single-turn inferences, and I was wondering how to prevent Blenderbot from continuously allocating memory. Thanks
<img width="1209" alt="Screen Shot 2022-03-06 at 11 27 45 PM" src="https://user-images.githubuse

[2022-03-07 04:53] salrowili commented on #15559
Thank for sharing this interesting findings. I have also conduct a small experiment involving fine-tuning SQuAD with both BART-base and BART-large with Pytorch XLA on T
[Comparing_BART_base_vs_BART_large_on_TPU.zip](https://github.com/huggingface/transformers/files/8194917/Comparing_BART_base_vs_BART_large_on_TPU.zip)
[Comparing_BART_base_vs_BART_large_on_TPU.zip](https://github.com/huggingface/tr

[2022-03-07 05:21] SivilTaram commented on #15559
@salrowili Thanks for sharing! I think currently this bug will affect all NLG tasks (e.g., summarization), while not for NLU tasks (e.g., classification and extractive machine reading comprehension). I get some ideas why it becomes so, and would like to share here later when it is confirmed.

[2022-03-07 05:54] monsieurpooh commented on #10012
I had the same issue. I'm trying to replicate OpenAI's behavior when selecting "Show probabilities: Full Spectrum". I would like, at each step, for it to show the top N candidate tokens as well as all their probabilities.

I've not quite figured out how to make it select the _top_ candidates, because sampling is selecting them randomly. It seems like beam search does indeed do what I want selectin

[2022-03-07 06:33] shilida opened #15959 "ValueError: DebertaV2Model does not support gradient checkpointing."
ValueError: DebertaV2Model does not support gradient checkpointing!

[2022-03-07 06:45] scarydemon2 opened #15960 "How to get T5 encoder&decoder's hidden states and keep requires_grad=True"
transformers version:
4.15.0

Hi! I am making a custom T5 generation model, and I have some problems. In my model, I want to take out the decoder's last hidden states and encoder's last hidden states to do some other operations, and these operations will be used to fine-tune the encoder and decoder. So I need last_hidden_state's requires_grad=True and is_leaf=False.
I get the encoder_last_hidden_s

[2022-03-07 07:02] #15960 closed

[2022-03-07 07:35] ddf62 opened #15962 "longformer-large's hidden_states and last_hidden_states have different size in sequence_length"
## Environment info

- `transformers` version:
- Platform:
- Python version: 3.7
- PyTorch version (GPU?): GPU
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...): Longformer-large

The problem arises when using: student's homework

The tasks I am working on is:
* [ ] an offici

[2022-03-07 07:37] ddf62 commented on #15962
sorry,should be the hidden_states[-1].shape and last_hidden_states.shape

[2022-03-07 08:04] julien-c commented on #15899
cc'ing @mfuntowicz (among others)

[2022-03-07 08:20] NielsRogge commented on #15959
Hi,

DebertaV2 supports gradient checkpoint as per #14175.

Can you provide a code snippet to reproduce your issue?

[2022-03-07 08:38] #15393 closed

[2022-03-07 08:53] osanseviero commented on #14969
This is now fixed after #15615

[2022-03-07 08:53] #14969 closed

[2022-03-07 08:56] marcosbodio commented on #4336
I had the same problem with:
[code]

I solved it by upgrading torch with `pip install --upgrade torch torchvision`. Now working with

[code]

[2022-03-07 09:20] patrickvonplaten commented on #15516
Hey @zhaowei-wang98,

The reason why your code sample behaves the way it does is because you completely overwrite the list of `"additional_special_tokens"`. If you just want to add a single token, you should rather use the `add_tokens(...)` function.
Think the following code-snippet should make things clearer:

[code]

[2022-03-07 09:21] patrickvonplaten commented on #6535
This should already be possible - will try to put it in the big generate doc refactor that I'm working on at the moment

[2022-03-07 09:27] patrickvonplaten commented on #15552
Linking some more feedback here https://github.com/huggingface/transformers/issues/10012#issuecomment-1060219687

[2022-03-07 09:29] danielbellhv commented on #15914
@Narsil Yeah, it might be a huge undertaking just for that slight benefit.

Users could just generate with `n tokens` and string split the first `n chars` instead

[2022-03-07 09:56] cuthalionn commented on #6535
Hi @patrickvonplaten,
I am glad to here there will be doc refactor for generation, thanks for working on this!

I am using version 4.16.2, and when I try to generate with DialoGPT (a decoder only model) as follows

`outputs = model.generate(inputs_embeds=inputs_embeds)`

I get the following error:
`
ValueError: If inputs_embeds is passed as model-specific keyword input then model has to be an enco

[2022-03-07 10:02] patil-suraj commented on #6080
The inputs are not retokenized every time. `DataCollatorForSeq2Seq` just pads them dynamically to reduce excessive padding which can be more efficient rather than always padding to max len.

Yes, good idea!

[2022-03-07 10:45] patil-suraj commented on #15957
Hey @zijwang ! Thank you for reporting this.

Here actually the doc is wrong. Here the target tokens actually refer to  `decoder_input_ids` for which the format should be
`[tgt_lang_code] x [eos]`

But it's not required to directly pass `decoder_input_ids`, we can instead just pass `labels` which is of the format `x [eos][tgt_lang_code]`. And the `decoder_input_ids` are prepared inside the model b

[2022-03-07 10:48] patil-suraj commented on #15962
Hi @ddf62 ! Could you post a shot code snippet so we can reproduce this ? Thanks!

[2022-03-07 10:49] shilida commented on #15959
`config = AutoConfig.from_pretrained(model_name)

        config.update(
            {
                "gradient_checkpointing":True,
                "output_hidden_states": True,
                "hidden_dropout_prob": hidden_dropout_prob,
                "layer_norm_eps": layer_norm_eps,
                "add_pooling_layer": False,
                "num_labels": self.num_labels,
            }

[2022-03-07 10:49] patil-suraj commented on #15958
It's hard to say anything without looking at the code. Also for such general question, [forum](https://discuss.huggingface.co/) would be the best place to ask. Thank you!

[2022-03-07 10:52] patil-suraj commented on #15956
cc @SaulLu

[2022-03-07 10:54] patil-suraj commented on #15948
cc @patrickvonplaten

[2022-03-07 12:26] alisonhc opened #15966 "EvalPrediction does not allow for "sources" parameter which "sari" metric requires"
https://github.com/huggingface/transformers/blob/db7d6a80e82d66127b2a44b6e3382969fdc8b207/src/transformers/trainer_utils.py#L67

Hello, I have been following [this example](https://github.com/huggingface/transformers/blob/master/examples/pytorch/translation/run_translation.py) and would like to use the [sari metric](https://github.com/huggingface/datasets/tree/master/metrics/sari), which requires

[2022-03-07 12:44] sgugger commented on #12946
Make sure you use the latest version of Transformers. It should include a clearer error message if the import fails.

[2022-03-07 13:03] julien-c commented on #15927
we had an internal (?) discussion about changing the cached file layout to better map with `git` workflow, i.e. to be able to know if we have the latest version of a model just by doing one HTTP call.

Does anyone remember where this discussion was?

[2022-03-07 13:14] lewtun commented on #15354
Hi @ssriram1978 it seems the problem is that the Python `any()` function does not belong to the [list of TorchScript supported functions](https://pytorch.org/docs/stable/jit_builtin_functions.html#python-built-in-functions). Here's a simple example that reproduces the error:

[code]

Is tracing an option for your application? If yes, here's a snippet the does the job:

[code]

You can find more de

[2022-03-07 15:04] #15384 closed

[2022-03-07 15:04] #15383 closed

[2022-03-07 15:04] #15362 closed

[2022-03-07 15:04] #15153 closed

[2022-03-07 15:05] #14743 closed

[2022-03-07 15:16] etsurin opened #15968 "How to use GPT-2 for predicting the next word in batch"
## Environment info

- `transformers` version:
- Platform:transformers 4.16.0.ver0
- Python version:3.7
- PyTorch version (GPU?):1.10.1
- Tensorflow version (GPU?):
- Using GPU in script?:yes
- Using distributed or parallel set-up in script?:no

### Who can help

@patrickvonplaten @LysandreJik

### Information

I'm using GPT2 for predicting the next word and I expect to get the loss. For running t

[2022-03-07 16:20] Samreenhabib commented on #15823
Hey @NielsRogge , after double-checking image text list and saving model via `trainer.save_model`, code is running and output is as expected ..Thanks for all guidance. 👍

[2022-03-07 16:50] JulesGM commented on #6080
I meant, with `prepare_seq2seq_batch` they are tokenized every time, not with `DataCollatorForSeq2Seq`

[2022-03-07 17:17] zijwang commented on #15957
Thanks, @patil-suraj . I see your point here. Having the docs updated will be helpful :)
Meanwhile, do we still need to set `decoder_start_token_id` (something like https://github.com/huggingface/transformers/blob/1a62b25caf06cd4a13af2db1e94abce9969a1d9b/examples/pytorch/translation/run_translation_no_trainer.py#L365) given `decoder_input_ids` is right-shifted input?

[2022-03-07 19:06] liweifriends126 opened #15970 "Unigram tokenizer Result is Incorrect"
## Environment info

- `transformers` version: 4.16.2
- Platform: Windows
- Python version: 3.7.0
- PyTorch version (GPU?): 1.10.2 (CPU)
- Tensorflow version (GPU?): No
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

LysandreJik  & SaulLu
## Information

Model I am using (Bert, XLNet ...): [xlm-roberta-base](https://huggingface.co/xlm-roberta-bas

[2022-03-07 20:19] basilevh opened #15971 "PerceiverAudioPreprocessor: forward() missing 1 required positional argument: 'pos'"
The [`forward()` method implementation of `PerceiverAudioPreprocessor`](https://github.com/huggingface/transformers/blob/38cc35069c10d153e872162265288263bb7394b7/src/transformers/models/perceiver/modeling_perceiver.py#L3267) seems to be problematic because it has an extra required `pos` argument, whereas all other preprocessors do not (or it is optional). In fact, while it is passed to `_build_net

[2022-03-07 21:23] alu13 commented on #15958
Hi, thank you! I'll definitely post in the forum.

My code is below. It's just basic generation (with somewhat high volume). Thanks!
<img width="1244" alt="Screen Shot 2022-03-07 at 4 21 31 PM" src="https://user-images.githubusercontent.com/12601917/157120053-fa9b94dd-2931-4c03-9c8a-4bc747bebba0.png">

[2022-03-08 00:13] bpraveenk opened #15973 "error invoking create_optimizer from Jupyter lab"
- `transformers` version: 4.17.0
- Platform: Darwin-21.3.0-x86_64-i386-64bit
- Python version: 3.7.3
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who

[2022-03-08 00:39] jamesr66a opened #15974 "Models traced with HFTracer cannot be TorchScripted or serialized"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.4.0-1051-aws-x86_64-with-glibc2.27
- Python version: 3.9.5
- PyTorch version (GPU?): 1.11.0a0+git708f7b1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed

[2022-03-08 01:17] ahxchzt opened #15975 "add special tokens does not work in GPT2Tokenizer"
## Environment info

- `transformers` version: 3.5.0
- Platform: Pytorch
- Python version: 3.7.5
- PyTorch version (GPU?): torch-1.6.0 cuda102

Models: GPT-2 @patrickvonplaten

- Tokenizers: @SaulLu

## Information

I want to add some special tokens to the GPT2 vocab but the function "add_ special_tokens" do not work.
My code just like this

`tokenizer=GPT2Tokenizer.from_pretrained(gpt2path)`

`kb

[2022-03-08 01:50] vikigenius opened #15976 "Deadlock when loading the model in multiprocessing context"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.2
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes.

Models:

- BART EncoderDecoder: @patrickvonplaten

 -->

## Information

Model I am using (BART):

The problem arises when using:
* [ ] the official example scripts: (give details below)

[2022-03-08 02:39] function2-llx commented on #15739
@rahimt420 Hello, thanks for the offer! However, I've already submitted #15795 to resolve this issue. It will be great if you could leave any suggestions there!

[2022-03-08 02:47] bpraveenk commented on #15973
I could fix the issue by running `pip install importlib`. Shouldn't importlib be installed automatically as part of transformers installation? I had to go through the code to identify the importlib dependency.

[2022-03-08 04:34] #15968 closed

[2022-03-08 05:48] INF800 opened #15978 "Add custom classifcation dataset - computer vision"
Hi, I recently read your amazing blog https://huggingface.co/blog/fine-tune-vit

There I could not find any reference to how to create our own dataset. Is there any class helper that we can use? Something like -

[code]

For directory structured as

[code]
where every class folder has images

[2022-03-08 06:12] INF800 commented on #15978
Or, If you don't have that kind of class what would be the best way to generate dataset dict
[code]

[2022-03-08 08:03] ddf62 commented on #15962
the output is:
 torch.Size([16, 1536, 1024])  torch.Size([16, 1304, 1024])

[2022-03-08 08:51] NielsRogge commented on #15978
Hi,

We've just added the [ImageFolder](https://huggingface.co/docs/datasets/master/en/loading#image-folders) to the Datasets library :)

This way, you can easily load your custom data as follows:

[code]

[2022-03-08 09:04] #15978 closed

[2022-03-08 10:06] patrickvonplaten opened #15980 "Bad error message when downloading private model without being logged in."
Let's say an organization creates a private model and wants to share it with other team members which are less savy of `huggingface_hub` and `transformers`.

So e.g. I create: https://huggingface.co/NewT5/dummy_model

and want to share it with others.

Now if I run:

[code]

I'm getting a very nice error message:

[code]

After this error message I think people will have an easy time doing the cor

[2022-03-08 10:06] patrickvonplaten commented on #15980
Related: https://github.com/huggingface/datasets/issues/3855

[2022-03-08 10:26] candalfigomoro opened #15982 "Marian cannot be fully serialized because it accesses the filesystem after the object instantiation"
## Environment info

- `transformers` version: 4.17.0
- Platform: linux-64
- Python version: 3.8
- PyTorch version (GPU?): 1.10.2 (CPU-only)
- Tensorflow version (GPU?): none
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: yes

### Who can help

@patrickvonplaten
@SaulLu
@Narsil

## Information

Model I am using (Bert, XLNet ...): Marian (Helsinki-NLP/opus-mt-it-en)

[2022-03-08 10:30] ayalaall commented on #1350
Hi,
Why not do something like this? Namely take just the language model layer from the transformer using `roberta_model = roberta_model.layers[0]` and then build on top of it?

`import tensorflow as tf
import numpy as np
from transformers import TFRobertaModel, RobertaTokenizer
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model

# Define input layer
inputs

[2022-03-08 10:47] lawsonxwl commented on #15451
So you mean that we need to train 2 models , one is for token classification,one uses the results of the previous model to do the relation Extraction?

[2022-03-08 11:08] SBrandeis commented on #15980
I don't think that requires changes to moon-landing

From what i understand, you need to catch [this error](https://github.com/huggingface/transformers/blob/master/src/transformers/file_utils.py#L2117) and display the appropriate message [here](https://github.com/huggingface/transformers/blob/master/src/transformers/configuration_utils.py#L629) (currently the underlying error message is suppressed

[2022-03-08 11:15] patil-suraj commented on #15957
It's not required to set it, if you pass `labels` those will be created inside the model.

[2022-03-08 11:17] ydshieh opened #15983 "TFEncoderDecoderModel generate() gvies different results after #15562"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.13.0-1015-gcp-x86_64-with-glibc2.31
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.2+cu102 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

[2022-03-08 11:19] patrickvonplaten commented on #15948
Hey @lightxu,

What we usually do in `transformers` is to convert an attention_mask which looks like:

[code]

to something like:

[code]

since a `1` means that the vector at this time step of the `QK^T` matrix is **not** masked (+ 0.0) and `0` means that it is masked (+-10000.0). This happens for all models and is standard practice for transformer models.

Now Longformer is special because it re

[2022-03-08 11:21] patil-suraj commented on #15962
cc @patrickvonplaten

[2022-03-08 11:24] patrickvonplaten commented on #15523
Hey @ThomasGmeinder,

Thanks for spotting `1.` and `2.` - feel free to open a PR to correct the docs :-)
The reason why I put `--model_name_or_path=./` is because this way you can train from your local directory, but the docs should have been cleaner here indeed

[2022-03-08 11:25] patrickvonplaten commented on #14825
Looking into it tomorrow

[2022-03-08 11:31] patrickvonplaten commented on #15975
Hey @ahxchzt,

Thanks for your issue.
Could you please provide at code-snippet that one can copy-paste into a Python environment and execute directly. Your code snippet doesn't work because:

- 1) `GPT2Tokenizer` is not imported
- 2) No one has access to `gpt2path` nor `kbpath` so we can't reproduce the error at all even though we know how to do 1)

Could you make sure the code snippet is reproduc

[2022-03-08 11:35] patrickvonplaten commented on #15976
Hey @vikigenius,

Could you please use the forum: https://discuss.huggingface.co/ instead for this error? This seems to be quite a special case and we are trying to use Transformers issues only for issues that are directly related to Transformers models. We cannot guarantee that they work for every specific use case such as this one where the model loading is wrapped into Python's multiprocessing

[2022-03-08 11:37] patil-suraj commented on #15970
I can reproduce it for this particular text, there indeed is some difference between fast and slow tokenizer.

[code]

[2022-03-08 11:38] BttMA commented on #2691
Hello,
I know it is has been a long period since the last comment in this issue but I couldn't hold it and I have ti ask @cronoik.
Could you, please, explain more what do you mean by...

by 'during finetuning', you mean the new tokens will be randomly initialised first and then the embedding with update during the model training?

For my cas I have a list of emojis (all the emojis that we have so

[2022-03-08 11:38] patrickvonplaten commented on #15982
The reason seems to be due to the sentence piece library: https://github.com/google/sentencepiece -> should we maybe post the issue there?

Otherwise @candalfigomoro, could you maybe try to use the `tokenizers` libraries instead of `sentencepiece`? https://github.com/huggingface/tokenizers

[2022-03-08 11:42] patrickvonplaten commented on #15962
@ddf62 - Could you please post a formatted code snippet in:

[code]

and one that we can reproduce? What is `tez` ? This issue also doesn't seem to be a core issue of Transformers so maybe the forum https://discuss.huggingface.co/ is the better place?

[2022-03-08 11:44] patrickvonplaten commented on #15983
@ydshieh - thanks for the PR!

Tiny feedback, when we format code you use:

[code]

instead of

[code]

it's a bit easier to quickly read the code this way.

[2022-03-08 11:59] candalfigomoro commented on #15982
@patrickvonplaten Is there a specific tokenizer class in the `tokenizers` library that I can use as drop-in replacement for `MarianTokenizer` in a translation `pipeline`?

Something like `pipeline("translation", tokenizer=<TOKENIZER FROM TOKENIZERS LIBRARY>)`? Sorry but I'm new to huggingface's libraries.

[2022-03-08 12:05] lmvasque commented on #15966
I've placed a similar request to this (I would say is the same :)), not sure if it is released. @mariosasko your advise on this?
https://github.com/huggingface/datasets/issues/3818

[2022-03-08 12:15] Rocketknight1 commented on #15973
Hi, I can't reproduce this issue. I made a [Colab notebook](https://colab.research.google.com/drive/1BmkheJNsw9tOyirgW0CJujdluVI0sOnJ?usp=sharing) to test and `create_optimizer` worked correctly. Is it possibly a Conda issue?

[2022-03-08 12:33] sgugger commented on #15980
To catch [this error](https://github.com/huggingface/transformers/blob/master/src/transformers/file_utils.py#L2117), the `huggingface_hub` would need to issue a proper subclass of `EnvironmentError` (for instance `HFNotLoggedInError`).

Of course defaulting `use_auth_token` to `True` would be easier, but that's something that has been debated several times already.

[2022-03-08 12:46] LysandreJik commented on #15980
In my mind `huggingface_hub` already had support for these errors, will fix the issue upstream in `huggingface_hub`.

[2022-03-08 13:07] ahxchzt commented on #15975
Thanks for your reply.@patrickvonplaten
I updated my transformers to 4.17.0 and the problem had been solved. I think the issue can be closed.

[2022-03-08 13:07] #15975 closed

[2022-03-08 13:46] anjandash commented on #6452
Same here! Anyone resolved it yet? @bharathrajcl @chaima-ai @gborodin @RufusGladiuz

[2022-03-08 14:43] ndronen opened #15990 "FeaturesManager assumes only one of Torch or TensorFlow is installed"
## Environment info

- `transformers` version: 4.12.5
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.10
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

[2022-03-08 14:49] ddf62 commented on #15962
sorry，you can use this code and their outputs are same：

[code]

[2022-03-08 15:03] lightxu commented on #15948
Hi @patrickvonplaten

This does make sense, since I also see corresponding comments in [LongformerSelfAttention](https://github.com/huggingface/transformers/blob/master/src/transformers/models/longformer/modeling_longformer.py#L561). I am trying to understand where does this conversion happen, is it happenining here in [LongformerModel](https://github.com/huggingface/transformers/blob/master/src/t

[2022-03-08 15:09] lightxu commented on #15948
Found the conversion in [`get_extended_attention_mask`](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_utils.py#L311) method. So I think the logic in Longformer is correct, I will try to make similar changes for my long version of distilbert model. Thanks!

[2022-03-08 15:16] vikigenius commented on #15976
@patrickvonplaten Thanks for the suggestion, I will post in the forum.

But to give you more context, I am not trying to do distributed training. I am trying to do distributed inference. I have multiple files that I want to generate questions on in parallel. So I am trying to assign each file to some GPU, and then once done, I release the GPU (to the queue) so that others use it.

[2022-03-08 15:40] #15948 closed

[2022-03-08 16:05] yharyarias opened #15992 "Translation of documentation into Spanish"
I translated "**Fine-tune a pretrained model**" into Spanish to file [training.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/training.mdx) and I'll make a pull request.

[2022-03-08 16:24] stevetracvc commented on #15358
Any other options here? Which transformers version will properly work with tokenizers 0.10.x? Using conda, you can't install tokenizers version 0.11.x with transformers 4.x. I tried forcing it, but got errors regarding openssl v3 when trying to import tokenizers.

[code]

and

[code]

[2022-03-08 16:30] arthurdouillard opened #15993 "Unclear message with `add-new-model-like` and no flax installed"
## Environment info

- `transformers` version: 4.18.0.dev0
- Platform: macos high sierra 10.13.4
- Python version: 3.9
- PyTorch version (GPU?): 1.8.1 CPU
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

@sgugger @LysandreJik

## Information

When trying to create a new model with `add-new-model-like` without having flax installed, an error messag

[2022-03-08 16:34] arthurdouillard commented on #15993
Noted, thanks.

[2022-03-08 16:34] #15993 closed

[2022-03-08 18:10] shiv6146 commented on #12144
@patrickvonplaten any updates on this yet ?

[2022-03-08 18:56] AADeLucia opened #15999 "Sharded DDP returns extra predictions EvalPrediction"
## Environment info
- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.13.0-28-generic-x86_64-with-glibc2.17
- Python version: 3.8.11
- PyTorch version (GPU?): 1.10.2 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or paralle

[2022-03-08 19:01] sgugger commented on #15999
There is little we can do to help without knowing the code that is run and having a clear reproducer.

[2022-03-08 19:13] AADeLucia commented on #15999
Ah sorry for the lack of detail, here is my code.

https://gist.github.com/AADeLucia/86d5d75dde878cfa3dbd38a0230be2cf

[2022-03-08 20:08] sgugger commented on #15999
Oh you're using custom models. Are they all returning loss then logits if labels are provided, logits only if no labels are provided? Also are the logits tensors with batch first dimension? While the `Trainer` works with other models, it has been optimized for Transformers models, so it has certain expectations.

It might also be specifically linked to sharded DDP. If you just used distributed tra

[2022-03-08 20:57] Duedme commented on #15947
Hi, I can do the translation of **quicktour.mdx** in two days at the latest.

[2022-03-09 00:50] Impelon commented on #15559
In #8005 it was mentioned that [the forced BOS-token is correct for mask-infilling](https://github.com/huggingface/transformers/issues/8005#issuecomment-723670045), but may be suboptimal for other tasks.
At least for generation tasks the forced BOS-token seems necessary, right? Maybe the solution could be to implement the originally proposed solution of adding the forced BOS-token as `task_specifi

[2022-03-09 01:22] yharyarias opened #16002 "Translate to Spanish of training.mdx"
I'll translate "Fine-tune a pretrained model" into Spanish to file [training.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/training.mdx)