[2021-08-05 06:45] Hannibal046 commented on #12931
Hello,I also find others to talk about the `copy mechanism`. in this [link](https://discuss.huggingface.co/t/copying-mechanism-for-transformer/5025)
BTW,could you please check my another issue about BART Generation? It confused me a long time, https://github.com/huggingface/transformers/issues/12870,  thanks so much.

[2021-08-05 06:55] theartpiece commented on #9039
Hi @lamthuy were you able to investigate and find out the cause?

[2021-08-05 06:55] LysandreJik commented on #13007
I cannot reproduce your exact issue, but installing a version of torch-scatter with an incompatible CUDA version will indeed kill the runtime with an `OSError`. We could catch that error when defining the `_scatter_available` variable, which currently only looks at the package installation.

WDYT @sgugger @NielsRogge ?

[2021-08-05 07:08] sgugger commented on #13007
Yes, this should be checked as easy as possible to yield an easier error message.

As for the initial issue, there is no try/except that are ignored on our side, so I'm afraid this is a more general problem with the Python import system. It's not the first time I see it hiding the underlying issues. If you have any idea of what we could do on our side to display those error messages, I'm all ears.

[2021-08-05 07:29] ahmedlone127 opened #13009 "Problem saving tf wav2vec in savedmodel format"
![image](https://user-images.githubusercontent.com/66001253/128309653-9939e715-2792-419c-b310-0a18fb92194d.png)
this is my code

[2021-08-05 07:54] old-school-kid commented on #9358
Hi @Rocketknight1
I was preforming a classification task. The code is
`model = TFAutoModelForSequenceClassification.from_pretrained("bert-base-cased", num_labels=TOTAL_LABELS)
for layer in model.layers:
    layer.trainable= True

for layer in model.layers[:int(len(model.layers)*0.9) ]:
    layer.trainable= False`

Saved the model as
`tf.keras.models.save_model(model, PATH, overwrite=True, include_

[2021-08-05 09:06] NielsRogge commented on #13001
There seem to be some bugs in the `VisualBertEmbeddings` class indeed. Mind opening a PR?

[2021-08-05 09:07] patrickvonplaten commented on #12971
If I understand correctly this also applies to PyTorch's `run_clm.py` script. I am happy to add the `keep_linebreaks` parameter to both `run_clm.py` and `run_flax_clm.py` if `load_dataset("text")` is used.

@sgugger @lhoestq - what do you think? It seems like multiple people had this problem.

Also @lhoestq - maybe it's a good idea to add some documentation about `keep_linebreaks` as it can't be f

[2021-08-05 09:11] gauravpandeyamu opened #13011 "The traced Encoder of LEDForConditionalGeneration does not allow dynamic batching"
We traced the encoder of  LEDForConditionalGeneration using TorchScript and passed a different batch size to the traced encoder as follows.

[code]
Being able to vary the batch size during deployment is necessary for dynamic batching to work (for instance, when using Triton inference server).
Passing a different batch size than the one used during tracing results in the following error:
[code]

Dy

[2021-08-05 09:30] sgugger commented on #12971
This also applies to the TensorFlow script as well. I have no problem adding the `keep_linebreaks` parameter there.

[2021-08-05 09:52] patrickvonplaten commented on #12971
Ok great! @stefan-it - would you maybe be interested in opening a PR to change the following files:

- https://github.com/huggingface/transformers/blob/master/examples/flax/language-modeling/run_clm_flax.py
- https://github.com/huggingface/transformers/blob/master/examples/tensorflow/language-modeling/run_clm.py
- https://github.com/huggingface/transformers/blob/master/examples/pytorch/language-mo

[2021-08-05 10:00] sgugger commented on #12971
And don't forget https://github.com/huggingface/transformers/blob/master/examples/pytorch/language-modeling/run_clm_no_trainer.py

[2021-08-05 11:04] RitaRamo commented on #13001
Great, thank you for looking and suggesting the fix! I would not mind, but I will go on vacation very soon, so I won’t be able to follow up on this topic.

[2021-08-05 11:14] jandono commented on #12307
Thanks a lot @sgugger , I posted it her as it looked like a bug to me based on the documentation. Additionally, those extra set of parenthesis come from the tokenizer not me. When running:

[code]

You get those extra parenthesis. I am assuming they come because in the background of the `__call__` method, `batch_encode` is called instead of `encode`. Am I doing something wrong in the way I am usin

[2021-08-05 11:22] sgugger commented on #12307
You should not use `return_tensors='pt'` for just one text, that option is designed to create batches you directly pass to your model. So if you use it with one text, you get a batch of one encoding. Either add [0] to select the only element of that batch in your dataset, or create the tensors in the collate function.

[2021-08-05 12:03] finiteautomata commented on #11326
I'm facing the same problem with `4.10.0.dev0`. @ameet-1997 could you find a solution for this?

[2021-08-05 14:05] PhilipMay commented on #12781
This is closed by the PR merge.

[2021-08-05 14:05] #12781 closed

[2021-08-05 14:08] PhilipMay commented on #12473
So since the project is out at pypi now: Do you (HF) want to migrate to that tool?
You have commit rights on the project and can maintain it together with me.
First bug reports (and improvements) are already coming.
@sgugger @LysandreJik

I can provide a PR if wanted.

[2021-08-05 14:40] gchhablani commented on #13001
@RitaRamo Thanks for trying it out. Sorry for the late response.
@NielsRogge Thanks for suggesting a fix. I'll do it asap.

[2021-08-05 14:46] jmt0221 commented on #12613
Hi, I also encountered this exact same bug when using the longformer for sequence classification. I had successfully trained this model previously before oversampling as well as a LED for summarization so I was  thrown off at first when I got it. I realized that the model kept throwing an error at the last batch  and when comparing the length of my data to my total batch size (batch_size=2 and gra

[2021-08-05 14:59] finiteautomata opened #13018 "Unable to resume training from checkpoint on TPU v3-8"
I'm facing a similar issue as #11326. When trying to resume training from checkpoint on TPUs, it crashes with error message `ValueError: loaded state dict contains a parameter group that doesn't match the size of optimizer's group`

## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-4.19.0-17-cloud-amd64-x86_64-with-debian-10.10
- Python version: 3.7.10
- PyTorch version

[2021-08-05 15:07] sgugger commented on #13018
It looks like you are not using the `run_mlm` script but a modified version of it, as there are parameters you are passing that are not in this script. Could you share your modified version?

[2021-08-05 15:13] leogao2 commented on #12183
Is there any progress on this?

[2021-08-05 15:14] #12390 closed

[2021-08-05 15:21] MarcM0 commented on #13005
This seems to be an option as well but I can't find any documentation for how to do it
![image](https://user-images.githubusercontent.com/30278842/128376012-1d2ae3e2-25c5-4f45-bbe8-2b19d1573553.png)

[2021-08-05 15:22] finiteautomata commented on #13018
Sure. This is the modified version => https://gist.github.com/finiteautomata/cb1fba94202c1535d2a516eef2215baf

Main changes are that I add another extra seed and using a custom `IterableDataset`. Running without `xla_spawn.py` seems to be yielding the same error

This is the model configuration (`models/twerto-base-uncased/config.json`)

[code]

[2021-08-05 15:44] Rocketknight1 commented on #9218
That's extremely strange - the error above said that `MODEL_FOR_CAUSAL_LM_MAPPING` was `None`, but your code there clearly shows that it's importing the dict fine.

Are you sure you're getting the same error as the commenter above?

[2021-08-05 15:54] LysandreJik commented on #12183
Hey @leogao2! Yes, a proposal is available here: https://github.com/nreimers/transformers/commit/2198ee719c6101ef47de00cd6d53da3a8f938fb4 but there are still a few rough edges to polish. We'll try to have it merged in the next few weeks, will let you know.

[2021-08-05 17:13] finiteautomata commented on #13018
After some digging, I gathered some extra information of the crash. It seems that the first saved params (`saved_groups[0]["params"]`) contains 77 elements, while the new optimizer has 76. It is strange that the former is nothing more than a range-list, while the other is a list of tensors.

[code]

[2021-08-05 17:22] amogkam commented on #13005
@MarcM0 can you also do a `pip install pickle5`. I think that should do the trick.

[2021-08-05 18:03] MarcM0 commented on #13005
That worked, thank you!

[2021-08-05 18:03] #13005 closed

[2021-08-05 18:05] acocos opened #13019 "GPU Out of Memory when repeatedly running large models (`hyperparameter_search`)"
## Environment info

- `transformers` version: 4.9.1
- Platform: Linux-4.19.0-17-cloud-amd64-x86_64-with-debian-10.10
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0 (True)
- Using GPU in script?: yes (4 x GPUs)
- Using distributed or parallel set-up in script?: There are 4x GPU on this machine; I'm letting the `trainer` do its default thing here. I see that `trainer.is_model_parallel = F

[2021-08-05 18:08] sgugger commented on #13019
Thanks for the issue and the investigation. It looks like you have found the right fix, would you mind making a PR with it?

[2021-08-05 18:10] sgugger commented on #13018
What's the architecture used? It could be a model that adds some parameters during training for some reason (`twerto-base-uncased-trained` does not help me ;-) )

[2021-08-05 18:23] finiteautomata commented on #13018
It is a `RobertaForMaskedLM`

I changed and re-ran everything changing the `transformers_version` (I noticed there was a mismatch between environment version and the one in the config file) and adding the architecture with no success.

[code]

[2021-08-05 19:42] finiteautomata commented on #13018
Ok, it seems that `RoBERTa` is the problem here. Changing

[code]

enables checkpoint recovery.

[2021-08-05 19:58] sgugger commented on #13018
Good to know it's specific to Roberta! I think it may be due to some parameter being created dynamically during training. Will investigate more tomorrow.

[2021-08-05 22:59] finiteautomata commented on #13018
More digging: when trying to reload the checkpoint, it seems that the missing parameter name is `['lm_head.decoder.weight']`.

[2021-08-05 23:18] leo-liuzy opened #13020 "RobertaForMaskedLM loss calculated wrong(?)"
## Environment info

- `transformers` version: 4.8.1 (or github main as of 2021.8.5)
- Platform: MacOS (or any)
- Python version: 3.9 (or any 3.x)
- PyTorch version (GPU?): 1.9.0 cpu
- Tensorflow version (GPU?):
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert, XLNet ...): XLM-R/Roberta

The problem arises wh

[2021-08-05 23:34] rmst commented on #2708
For running the example scripts passing `--no_multi_process` solved it for me.

I haven't looked into the huggingface code yet but I could imagine that [this](https://stackoverflow.com/questions/52265120/python-multiprocessing-pool-attributeerror) is the bug here. I think it only shows up when `spawn` instead of `fork` is used to create new processes, which is why the developers might have missed

[2021-08-06 00:53] KairaNithin commented on #1413
@LysandreJik when I ran your code the following error popped up. please help

**RuntimeError: a view of a leaf Variable that requires grad is being used in an in-place operation.**

[2021-08-06 02:36] jmasom opened #13021 "TypeError: __init__() got an unexpected keyword argument 'save_strategy'"
### Environment
- `transformers` version: 4.2.2
- Platform: Linux-4.15.0-151-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.4.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Not explicitly (but probably)
- Using distributed or parallel set-up in script?: Not explicitly (but probably)

### Who can help
@sgugger

### Details
I am us

[2021-08-06 03:03] finiteautomata commented on #13018
A Colab notebook reproducing the error on TPU, without any custom script

https://colab.research.google.com/drive/1GvOktm36m3Q43KWLv681QU8VydubOTAQ?usp=sharing

This notebook is barely the same but using GPUs, and it works

https://colab.research.google.com/drive/1GMUgpSNIAdGTk9mOk6ua5pACj-Qlgs9v?usp=sharing

So the problem is `RoBERTa`+TPUs

[2021-08-06 03:47] hrdxwandg commented on #9218
sorry, I don't check clearly. My error msg is below:
Traceback (most recent call last):
  File "run_mlm_tf.py", line 63, in <module>
    MODEL_CONFIG_CLASSES = list(MODEL_FOR_MASKED_LM_MAPPING.keys())
AttributeError: 'NoneType' object has no attribute 'keys'

I use your method and recheck:
from transformers import MODEL_FOR_MASKED_LM_MAPPING
print(MODEL_FOR_MASKED_LM_MAPPING)

the output is None

[2021-08-06 06:01] leoozy commented on #12985
@mfuntowicz @tianleiwu I checked the converted bart.onnx model. There is a huge weight called shared.weight, which is the weights of embeding layers (size: seq_length x vocabulary_size)。The encoding and decoding process shared the weights but the shape used in the two processes are different. When encoding, the shape is (vocabulary_size X seq_length). When decoding, the shape is (seq_length X voca

[2021-08-06 06:41] sgugger commented on #13021
You probably did not properly install it. The environment above shows 4.2.2 and `save_strategy` was introduced later on.
You can check the version of Transformers executed by your script by adding
[code]
at the top of it.

[2021-08-06 08:23] NielsRogge commented on #13020
The calculation is correct. However, it's the responsibility of the user to prepare the labels, so you need to make sure you set the labels to -100 for positions where you don't want to incur a loss (as -100 is the `ignore_index` of PyTorch's `CrossEntropyLoss`).

[2021-08-06 09:00] devrimcavusoglu opened #13025 "MT5-large model on hub has wrong config"
MT5-large model [config](https://huggingface.co/google/mt5-large/blob/main/config.json) has wrong parameters `"architectures"` and `"tokenizer_class"` as

[code]

, where it should be MT5 arch and tokenizer as

[code]

@patrickvonplaten

[2021-08-06 09:45] stefan-it commented on #12971
Hi,

I tested it with the `keep_linebreaks` parameter and output of the model is then correct :hugs:

Yeah, I would like to open a PR for these changes, should I wait until  #13024 is merged, @patrickvonplaten :thinking:

[2021-08-06 09:59] patrickvonplaten commented on #13025
great catch! Correcting it now

[2021-08-06 11:10] harshitadd commented on #10368
Hello,
Is there any tentative timeline to when the TF weights for the other models will be uploaded ? I am currently working with the **TFMarianModel for Helsinki-NLP/opus-mt-en-hi** and the associated weights file does not appear to be available.
Thanks in advance!

[2021-08-06 11:25] patrickvonplaten commented on #12971
Actually, I think #13024 doesn't actually lead to a speed-up :D Feel free to open as soon as you want :-)

[2021-08-06 12:42] BatMrE opened #13027 "Get multiple results from Hugging face pipeline library"
I am using simple transformers library to get auto suggested text for my question based on a context .
It give me a single suggestion, is there any possible way to get multiple results for the same.

    text2text_generator = pipeline("text2text-generation")
    text2text_generator("question: What is ? context: 42 is the answer to life, the universe and everything")

The "text2text-generation" mod

[2021-08-06 12:58] LysandreJik commented on #13027
Hello! The `Text2TextGenerationPipeline` accepts any keyword arguments to be handled by the `generate` method that does the generation under the hood. You can check the input signature of that method here to see what arguments it accepts: [generate](https://huggingface.co/transformers/main_classes/model.html#transformers.generation_utils.GenerationMixin.generate)

Namely, it accepts the `do_sample

[2021-08-06 13:55] dorooddorood606 opened #13029 "supporting t5 for question answering"
# 🚀 Feature request

Hi, this would be great and appreciated to support t5 model for run_qa.py script, currently this does not support it.

## Motivation

T5 is the state of the art model, for which there are a lot of motivation for people in NLP community to use this model, specially it can handle multiple datasets.

## Your contribution

[2021-08-06 14:19] MasterHM-ml commented on #2954
I am facing this issue again, gpu usage is around 60% checked using `nvidia-smi`. In this tuning `batch_size`  dosen't make sense, but still I had changed it but problem didn't solved.

Trying to fine tune XLM roberta for urdu classification
transformers:  4.9.1
torch:              1.9.0+cu102

[2021-08-06 15:11] #12413 closed

[2021-08-06 15:11] #12399 closed

[2021-08-06 15:11] #12396 closed

[2021-08-06 15:16] hasansalimkanmaz commented on #12989
Thank you @stas00 for your suggestions to debug the issue. I have used both tools. FYI: I am using 2 GPUs and, they are stuck while initializing deepspeed. It is not happening every time but so frequently (50 percent of all my tries). Below you can see the outputs.

### Line 414 from `integrations.py`

[code]

### This is from `py-spy` for pid 147

[code]

### This is from `py-spy` for pid 148

[c

[2021-08-06 16:06] sgugger commented on #13018
I have taken a deep dive into this issue, and it made me discover that all the weight tying in Transformers was thrown into the bins the moment the model is placed on an XLA device, which is why your state dict comports more tensors than your model expects.

#13030 should fix the issue.

[2021-08-06 16:39] finiteautomata commented on #13018
Great work @sgugger. I can confirm that the notebook in the last comment now reloads the checkpoint.

Just one extra question: should I use a saved checkpoint with the previous code or is it now useless? I'm not sure if there was a problem during training too

[2021-08-06 16:44] sgugger commented on #13018
You should definitely start from scratch (sorry) as your previous trainings don't have the proper weights for the decoder (they are not saved since they are supposed to be the same as the embeddings so you can't even retrieve them)

[2021-08-06 16:47] finiteautomata commented on #13018
Great! Thanks again

[2021-08-06 17:33] stas00 commented on #12989
So you have a syncing problem, the 2 gpus run `barrier` which ensures they arrived to the same point, but one of the gpus doesn't, and so the other is stuck waiting for it.

Are you misconfiguring the launch command? Try to hardcode `2` here:
[code]
i.e.:
[code]

[2021-08-06 18:22] tianleiwu commented on #12985
@leoozy, please try do_constant_folding=False in torch.onnx.export to see whether it could reduce the onnx model size. Or modify the modeling script to let encoding use (seq_length X vocabulary_size) as well.

[2021-08-06 18:37] AmitChaulwar opened #13031 "How can I convert a `checkpoint.pth` (a model trained with pytorch-pretrained-bert) to huggingface model with `config.json` and `pytorch_model.bin` file?"
# 📚 Migration

## Information

Model I am using (Bert, XLNet ...):

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

[2021-08-06 19:51] Remorax opened #13032 "Masked word prediction in new language with mBERT/XLM"
Hello,

Is there a way to easily predict a masked word in a new language (a language other than the source language) using multilingual models like BERT/XLM/XLM-R?

Ideally, if my masked sentence is:

`My [MASK] is Vivek`

Given a target language, say French, I would want the output for [MASK] to be `nom` (`name` in French). Is it possible to somehow exploit cross-lingual representations for this

[2021-08-06 20:13] prikmm opened #13033 "Getting near constant training loss, T5 not learning anything?"
## Environment info

- `transformers` version: 4.9.0/4.9.1
- Platform: Colab/Kaggle
- Python version: 3.7.11
- PyTorch version (GPU?): TPU - 1.8.0a0+56b43f4
- Tensorflow version (GPU?): TPU - 2.5.0

### Who can help

@patil-suraj, @sgugger

## Information

Model I am using (Bert, XLNet ...): T5

I am trying to finetune T5 on XSum using TPU, but getting near constant training loss and constant vali

[2021-08-06 20:17] phillipshaong commented on #5164
Is this feature available? Or still in the works?

[2021-08-06 21:10] griff4692 commented on #12613
Hi - is there a preferred fix for this?  I'm blocked on it right now.  I can just clone the offending tensor but want to make sure that's the preferred behavior.

[2021-08-06 21:36] leo-liuzy commented on #13020
Ah, that makes sense, thanks!. I think you should modify the tutorial page in documentation page? Or put what you said somewhere in the doc pagr?

[2021-08-06 22:11] Josh1108 commented on #12789
Hi @sgugger,

I'd like to take up one of the files to start. Should I pick up modelling_gpt2.py and go ahead?

[2021-08-06 23:11] #13018 closed

[2021-08-06 23:52] stas00 opened #13034 "transformers-cli depends on torchaudio optional deps"
Looks like we somewhere load some imports that shouldn't be imported when invoking `transformers-cli`

Traceback:

[code]

`sndfile` is an optional dependency of `torchaudio`, so it might not be installed.

Thank you!

I'm pretty sure it's a recent version, but it wasn't me who had this problem, so pasting it as it was given to me. This comes from JeanZay - I installed `libsndfile` to overcome it

[2021-08-07 00:07] yuhaozhang commented on #10084
@NielsRogge Thanks for the explanations above. Has there been any update on this issue? I have also run into this issue when running Tapas on the WTQ dataset, and it took me a lot of efforts to get to the bottom of this and realize that this is an issue with the `column_rank` IDs from oversized tables.

The painful part is that there is currently no guard or no warning against feeding oversized ta

[2021-08-07 05:46] sbmaruf opened #13035 "Rotate checkpoint `shutil.rmtree(checkpoint)` fails"
I was training `google/mt5-xl` model with `deepspeed` by huggingface trainer. The training was done in an aws `p3dn.24xlarge` node with 8V100 GPUs.

Trainer fails when [_rotate_checkpoints](https://github.com/huggingface/transformers/blob/7fcee113c163a95d1b125ef35dc49a0a1aa13a50/src/transformers/trainer.py#L1982) is called. Specifically in this [line](https://github.com/huggingface/transformers/bl

[2021-08-07 17:50] BatMrE commented on #13027
Great, that adds a lot of value to output. Thanks @LysandreJik

[2021-08-07 17:50] #13027 closed

[2021-08-07 18:51] aphedges commented on #13007
It's understandable that you can't get my specific problem reproduced. Therefore, I created a much simpler proof-of-concept:

1. Run `pip install transformers==4.9.1 torch==1.9.0`.
2. Run `python -c 'from transformers.file_utils import is_scatter_available; print(is_scatter_available())'` to confirm that `torch_scatter` is not found by `transformers`.
3. Create `setup.py`:

[code]

3. Create `torc

[2021-08-07 21:43] UrosOgrizovic opened #13036 "Do the Trainer docs need an update?"
On [this](https://huggingface.co/transformers/main_classes/trainer.html) documentation page regarding `Trainer`, `torch.utils.data.dataset.Dataset` is mentioned. However, I can only seem to find `torch.utils.data.Dataset` [here](https://pytorch.org/docs/stable/data.html#torch.utils.data.Dataset). Do the docs require an update?

The same goes for `IterableDataset`, on the same page.

[2021-08-08 00:44] diego6662 opened #13037 "Spanish NER bad extraction"
## Environment info

- `transformers` version: 4.9.1
- Platform: linux-ubuntu 20.04.2 LTS x86_64
- Python version: 3.7.6
- PyTorch version (GPU?): No
- Tensorflow version (GPU?): No
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Details
I used this hugginface model for NER extraction https://huggingface.co/mrm8488/bert-spanish-cased-finetuned-ner
Input: "Efra

[2021-08-08 06:01] codedecde opened #13038 "Check in PreTrainedTokenizer can cause incorrect tokenization"
## Environment info

- `transformers` version: 4.5.1
- Platform: Linux-5.4.0-1047-azure-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.9.0a0+2ecb2c7 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: NA
- Using distributed or parallel set-up in script?: NA

### Who can help
@LysandreJik

## Information
[This check](https://github.com/huggingfa

[2021-08-08 10:19] JetRunner commented on #13007
The reason is `pip` can't get you the right version of `torch_scatter`. I add a `try-catch` to prevent instant kill and throw an elegant message instead. #13040

[2021-08-08 11:08] patrickvonplaten commented on #12870
Bart was trained to have EOS as it's start_token_id and we've noticed that forcing the first token to be BOS gives better results, see: https://github.com/huggingface/transformers/issues/3668

[2021-08-08 12:34] mazicwong opened #13041 "Script to convert the bart model from pytorch checkpoint to tensorflow checkpoint"
# Feature request
Request for a script to convert the bart model from pytorch checkpoint to tensorflow checkpoint

[2021-08-08 15:01] #12451 closed

[2021-08-08 15:01] #12450 closed

[2021-08-08 15:01] #12431 closed

[2021-08-08 15:01] #12427 closed

[2021-08-08 15:01] #12425 closed

[2021-08-08 15:02] #12237 closed

[2021-08-08 15:02] #11972 closed

[2021-08-08 15:05] patrickvonplaten opened #13043 "[DeepSpeed] DeepSpeed 0.4.4 does not run with Wav2Vec2 pretraining script"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-5.11.0-25-generic-x86_64-with-glibc2.33
- Python version: 3.9.1
- PyTorch version (GPU?): 1.9.0.dev20210217 (True)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes
- Deepspeed: 0.4.4
- CUDA Version: 11.2
- GPU: 4 x TITAN RTX

### Who can help

@stas00

## To reproduce

Running the Wav2Vec

[2021-08-08 16:07] stas00 commented on #13043
@patrickvonplaten,

This is definitely something for Deepspeed and not our integration since you have a segfault in building the kernels:

[code]

Could you please file a bug report at https://github.com/microsoft/DeepSpeed

It probably has something to do with your specific environment, since deepspeed==0.4.4 passes all wav2vec2 tests on my setup:

[code]

Also yours is python-3.9, do you have ac

[2021-08-08 20:19] R4ZZ3 opened #13044 "MLM example not able to run_mlm_flax.py"
I am going through this mlm exaxmple on Google TPU VM instance v3-8 https://github.com/huggingface/transformers/tree/master/examples/flax/language-modeling

I have defined MODEL_DIR with:
export MODEL_DIR="./norwegian-roberta-base"

I have defined symbolic link with:
ln -s home/Admin/Research/transformers/examples/flax/language-modeling/run_mlm_flax.py norwegian-roberta-base/run_mlm_flax.py

I am

[2021-08-08 22:11] geriskenderi commented on #8618
Hello, I recently got a very similar problem when trying to implement (manually) a self-attention module for images on a model which is trained using adafactor. I'm also using PyTorch lightning, but I don't think that makes a difference, since I tried with the "default" optimizers coming with torch.optim (RMSProp, Adam), and they work. This means that the problem might possibly be caused by the ad

[2021-08-08 22:23] geriskenderi commented on #8618
Upon further inspection in these last few minutes, it seems that the Adafactor optimizer has difficulties optimizing PyTorch's nn.Conv* layers. If I try to use some Conv1d or to fine-tune a Resnet model, I get the error indicated above but if not my model works fine. In both these cases, the only thing that has changed is the task of updating the weights of some Convolutional layers. I urge you to

[2021-08-08 23:07] aphedges commented on #13007
@JetRunner, your PR is for a different but related issue than the one I reported here.

[2021-08-09 05:17] sgugger commented on #12789
Any of the files with assert statements is fair game :-)

[2021-08-09 05:25] sgugger commented on #13034
This looks like `torchaudio` is installed without `sndfile`, in which case there is little we can do on our side. If `torchaudio` is not installed, this code is not executed and the command runs normally, just tried in an environment with or without it.

I would need more to reproduce the problem if I misdiagnosed the issue.

[2021-08-09 05:32] sgugger commented on #13035
This code is only called from the main process (controlled by [this test](https://github.com/huggingface/transformers/blob/24cbf6bc5a0b6a9bb5afdda6bb1a329ac980fa4b/src/transformers/trainer.py#L1593)) so it's a not a distributed barrier issue.

Unless you are using AWS SageMaker with the model parallel extension, that `should_save` is only True for the local main process (or main process). Could yo

[2021-08-09 05:38] stas00 commented on #13034
right, it didn't get installed, because `sndfile` is not in `torchaudio` requirements. Only some of its modules require `sndfile` and that's why it's made optional. At least that's the answer I got on torchaudio slack, where I asked first.

Specifically on JZ, I don't think we need `torchaudio` so it's probably safe to just remove it. But it might not be the case for other envs.

If you can't thin

[2021-08-09 05:47] sgugger commented on #13034
Ah understood then. Not sure how we can check a bit better for the `is_torch_audio_available` check. It should make sure "Soundfile" is installed too maybe? What do you think @patrickvonplaten ?

[2021-08-09 05:53] patrickvonplaten commented on #13044
Hey @R4ZZ3,

Can you run:

```transformers-cli env```

And post the output here?

[2021-08-09 06:14] sgugger commented on #13007
Thank you for the detailed analysis @aphedges
First, could you confirm if the problem appears again on master? It should not and you have an env setup for debugging so you should be able to see that quickly. I'll follow the steps of your reproducer later today if you can't confirm.

Then, from your deep analysis, it looks like there is a problem with the `AttributeError` in the import machinery, s

[2021-08-09 06:18] stas00 commented on #13034
That's a great idea! It should probably include checks for all the optional torchaudio deps that transformers audio models use.

But also why does `transformers-cli` need to load everything? It has nothing to do with the specific models.

[2021-08-09 06:18] patrickvonplaten commented on #13034
Yeah I think it's a good idea as well!

[2021-08-09 06:19] patrickvonplaten commented on #13034
cc https://github.com/huggingface/transformers/issues/12509

[2021-08-09 06:21] patrickvonplaten commented on #13034
Yeah I don't think `transformers-cli` needs to load all optional packages either

[2021-08-09 06:23] patrickvonplaten commented on #5164
See: https://discuss.huggingface.co/t/announcement-generationoutputs-scores-attentions-and-hidden-states-now-available-as-outputs-to-generate/3094

[2021-08-09 06:23] R4ZZ3 commented on #13044
Sure, I will run it late this evening and post output here (UTC +3)

[2021-08-09 06:40] sgugger commented on #13034
It doesn't load the package per se, just the import of transformers can trigger the error.

[2021-08-09 07:00] #13041 closed

[2021-08-09 07:36] LysandreJik commented on #13038
May be of interest to @SaulLu

[2021-08-09 07:43] LysandreJik commented on #13037
Hello! Did you try with the `aggregation_strategy` parameter as mentioned in the [docs](https://huggingface.co/transformers/main_classes/pipelines.html#tokenclassificationpipeline)?

[2021-08-09 07:44] LysandreJik commented on #13036
cc @sgugger

[2021-08-09 07:47] LysandreJik commented on #13031
Hello! I believe that `pytorch_pretrained_BERT` followed the same approach of having a pytorch checkpoint and a configuration. Do you have no configuration accompanying your `checkpoint.pth`? What is contained in that file once you load it with `torch.load`?

[2021-08-09 07:51] LysandreJik commented on #13032
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-08-09 08:13] hasansalimkanmaz commented on #12989
Thanks @stas00 one more time, I have hard-coded the launch command. My training pipeline contains several training steps, and interestingly, the initial 4 training steps with the same configuration have succeeded but 5th step has hanged for some reason in the same way. I can't reproduce it easily, it happens in different steps in my pipeline.

I am still investigating the issue.

[2021-08-09 08:14] LysandreJik commented on #12389
I would argue that you should always manually specify the number of labels that you wish for when loading a pretrained model with no sequence classification head - the `gpt2-large` configuration shouldn't have a default number of labels set to 1, however.

[2021-08-09 08:26] LysandreJik commented on #12777
Thank you for the report, I have updated the modelcard in [`hf.co#c626438`](https://huggingface.co/facebook/bart-large-mnli/commit/c626438eeca63a93bd6024b0a0fbf8b3c0c30d7b)

[2021-08-09 08:26] #12777 closed

[2021-08-09 08:27] sgugger commented on #13036
Sure, would you mind making a PR with that?

[2021-08-09 09:13] ultimatedaotu opened #13046 "TFBertPreTrainingLoss has something wrong"
## Environment info

- `transformers` version:
- Platform:
- Python version: 3.8
- PyTorch version (GPU?):
- Tensorflow version (GPU?): 2.5
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using (Bert, XLNet ...):  TFBertPreTrainingLoss

The problem arises when using:
* [ ] the official example scripts: (give details be

[2021-08-09 09:33] Remorax commented on #13032
Hello,

Apologies! I did try to create it on the forum, but unfortunately I don't see any option to "Create Topic", or even reply to posts. I am unsure what the issue is, since I have earned the "Basic" badge and as per my understanding, should be allowed to create topics.

Can you please help me out with this - how should I go about creating topics on the Forum?

Thanks a lot in advance!

[2021-08-09 09:45] sgugger commented on #13034
Ok I have dived into it a bit and here is the diagnostic. `transformers-cli env` in it self runs `transformers.commands.env` which doesn't import anything by itself (apart from the version and a few functions in `file_utils`).

*But* `transformers-cli` in itself imports all the commands (even if we only use env), in particular `run` which requires the pipeline. Now since #13023 this import does no

[2021-08-09 09:55] mosh98 opened #13047 "How do i pre-train Bert_mlm model [Discussion]"
Hi,
i've been able to pre train a Bert model using the run_mlm.py file. Thanks to huggingface team ofc. :D

I do have one question tho, if i want to further pre train a bert_mlm model, do i use the same pre training script such as run_mlm.py for the mlm model. Is that the "correct" way or is there another type of training script i should use.

Any help is much appreciated

[2021-08-09 10:06] hasansalimkanmaz commented on #12989
After hard-coding the `num_gpus`, I have followed 2 different approaches with deepspeed and w/o deepspeed. Later, I triggered 3 new pipelines (each has 6 training steps) per each approach.

all pipelines without deepspeed have succeeded.
2 of 3 pipelines with deepspeed have hanged and 1 of them has succeeded.

🤷🏻‍♂️

[2021-08-09 10:15] SaulLu commented on #13038
Thank you very much for the detailed issue @codedecde !

This check had been integrated to solve non-deterministic tokenization problems and I think this solution had been retained because we did not see a use case at the time to tokenize a sentence containing only spaces (see [issue](https://github.com/huggingface/transformers/issues/2027) and [PR](https://github.com/huggingface/transformers/pull

[2021-08-09 10:57] patrickvonplaten commented on #13011
Hey @gauravpandeyamu,

This seems to be a rather edge-casy and difficult error to debug! I'm not sure if I manage to have the time to look into it. In a first step could you try to use current master instead of Transformers 4.3.2 to see if this changed anything in the error message?

[2021-08-09 11:01] patrickvonplaten commented on #13029
Hey @dorooddorood606,

Since T5 is essentially a text-to-text model, the question-answering task can simply be framed as a seq2seq task.

I think we could add a `run_qa_seq2seq.py` to https://github.com/huggingface/transformers/tree/master/examples/pytorch/question-answering that is very similar to https://github.com/huggingface/transformers/blob/master/examples/pytorch/summarization/run_summariza

[2021-08-09 11:06] patrickvonplaten commented on #12613
Sorry I'm a bit lost on this issue. Could someone add a **minimum** reproducible code snippet that allows us to reproduce the error?

[2021-08-09 11:07] patrickvonplaten commented on #13009
Hey @ahmed451 - could you please add a code snippet to reproduce the error instead of a screenshot? Thanks!

[2021-08-09 11:07] #12585 closed

[2021-08-09 11:48] sgugger commented on #13029
We could definitely add this kind of example. We just need a proper dataset, as you mentioned.

[2021-08-09 13:03] Narsil commented on #12884
Hi, don't think rust is necessary here.

Using raw bytes should be just as fast in python (if not faster because no overhead).
Might require some heavy change though, most notably to remove the over reliance on regexp which is notably bad, especially with 100 of them in a single regexp.

@PhilipMay  if you want to tackle it, just modify this function: https://github.com/huggingface/transformers/bl

[2021-08-09 13:14] R4ZZ3 commented on #13044
Ok, found time in between the day @patrickvonplaten

- `transformers` version: 4.3.3
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-debian-bullseye-sid
- Python version: 3.7.11
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: To my knowledge this script should only use TPUs
- Using distributed or parallel set-up in script?: To my kn

[2021-08-09 13:51] #12821 closed

[2021-08-09 13:55] R4ZZ3 commented on #13044
I did pull changes. Tokenizer saving gives error (Doing this from norwegian-roberta-base folder)

![image](https://user-images.githubusercontent.com/25264037/128717682-4484f027-2598-4ff5-848d-ecfe4c43ea51.png)

tokenizer.save(./tokenizer.json) works

[2021-08-09 14:18] R4ZZ3 commented on #13044
I was able to fix symbolic link issue with by giving full paths but still have the same error with. Also FYI installed Pytorch 1.9 as I remember from Flax event that for some things it was necessary to have for some processing but no change to error
![image](https://user-images.githubusercontent.com/25264037/128721317-330a80c4-d9c1-46f9-9ca2-794ab76f4726.png)

[2021-08-09 14:35] Hannibal046 commented on #12386
I am also eager for a transformer base model to train from scratch with HuggingFace

[2021-08-09 14:44] Hannibal046 opened #13053 "Is there any way to train a transformer model from scrat"
# 🚀 Feature request

## Motivation

## Your contribution

[2021-08-09 14:45] #13053 closed

[2021-08-09 14:51] Hannibal046 opened #13054 "Is there any convenient way to train a transformer from scratch ?"
Hello guys!
`Huggingface/transformers` is such a convenient library to use when it comes to all sorts of pertained model. But I am wondering is there a convenient way to train a model from scratch ?
If I want to rebuild the model in `Attention is all you need` , the first thought came into my mind is change modeling_bart.py to adapt to`Attention is all you need` setting like `three way weight tyin

[2021-08-09 14:57] mthrok commented on #13034
Hi - So the underlying problem in torchaudio is that torchaudio assumed that `soundfile` is either installed fine or not, but apparently there is a third state where `soundfile` is installed yet the underlying `libsndfile` is not available. On our end, we will make sure this third state is in consideration so that `import torchaudio` would not raise an error in this case.

[2021-08-09 15:07] #12481 closed

[2021-08-09 15:07] #12475 closed

[2021-08-09 15:07] #12476 closed

[2021-08-09 15:07] #12474 closed

[2021-08-09 15:07] #12445 closed

[2021-08-09 15:08] #11939 closed

[2021-08-09 15:35] versae commented on #6465
@MarkusSagen, were you able to solve the `forward()` issue?

[2021-08-09 15:41] bhavitvyamalik commented on #12616
Fixed #12662

[2021-08-09 15:41] #12616 closed

[2021-08-09 16:32] danielricks opened #13058 "Non-English characters not fully supported by GPT-2 HF model"
## Environment info

- `transformers` version:
- Platform: Ubuntu 20.04
- Python version: 3.7.11
- PyTorch version (GPU?):
- Tensorflow version (GPU?): yes
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...): GPT-2

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [

[2021-08-09 16:43] Arij-Aladel opened #13059 "RAG: building my own dataset"
@shamanez Hello! My question is about building our own dataset to train RAG from scratch. It was mentioned [here](https://github.com/huggingface/transformers/tree/master/examples/research_projects/rag#finetuning) that we can build our dataset to finetune the model, but the links do not open. Could you please provide us with the steps and examples?

[2021-08-09 16:48] sekharvth opened #13060 "Exporting Fine tuned T5ForConditionalGeneration model to TF-Serving using ONNX"
## Environment info

- `transformers` version: 4.9.1
- Platform: Linux-5.4.0-1049-gcp-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set

[2021-08-09 16:55] MarkusSagen commented on #6465
@versae I only looked at it for a couple of hours and decided it was easier to roll back to an earlier version of transformers. If anyone implements a fix, I would be very interested to hear 😊👌

[2021-08-09 17:00] stas00 commented on #13034
I updated to master and confirm that this solved the problem. Thanks a lot, @sgugger!

That's really useful, thank you for implementing this, @mthrok!

[2021-08-09 17:00] #13034 closed

[2021-08-09 17:18] bjoernhommel commented on #4969
any news on this?

[2021-08-09 17:19] griff4692 commented on #12613
I think most people here are running into issues on the backward pass of the Longformer E-D.

I will share my code in a bit but I'm curious if the provided colab works.  If I were to reproduce my bug, it would be similar to the colab.

https://colab.research.google.com/drive/12LjJazBl7Gam0XBPy_y0CTOJZeZ34c2v

[2021-08-09 17:23] dorooddorood606 commented on #13029
Dear @sgugger
Thank you very much for considering my request.
I greatly appreciate it. In t5 script, one need to map each dataset to a sequence to sequence format.
From what I understood, to compute the score of EM/F1 on the datasets like superglue-record, one need to have a set of answers and one prediction, so the target would be a set, and I was not sure how to handle this case.
thank you very

[2021-08-09 17:38] griff4692 commented on #12613
I tried cloning the offending tensor but it didn't seem to resolve it . Here's my stack trace

`(fresh) griadams@ip-172-31-19-18:~/CompMedDsumEval/src/comp_med_dsum_eval/baselines/longformer$ pythons main.py -debug
Using GPUS --> 4...
Num GPUs --> 1
GPU available: True, used: True
TPU available: False, using: 0 TPU cores
Using native 16bit precision.
Starting training...
LOCAL_RANK: 0 - CUDA_VISIB

[2021-08-09 18:29] ahmedlone127 commented on #13009
sure

 `from transformers import TFWav2Vec2ForCTC
model= TFWav2Vec2ForCTC.from_pretrained('patrickvonplaten/wav2vec2-base-timit-demo',from_pt = True)
model.save_pretrained("/content/test",saved_model = True)`

[2021-08-09 18:52] CryptoSalamander commented on #13033
In my case, TPU's BF16 datatype caused a fixed loss value. did you use BF16 for training?

[2021-08-09 18:53] #12868 closed

[2021-08-09 18:55] jlanday commented on #10613
This is impacting me as well, is it possible for us to reopen. I am happy to provide more relevant deatils

[2021-08-09 21:10] phillipshaong commented on #5164
I am using the tensor flow implementation of T5. When I use `model.generate(input_ids=input_ids, num_beams=5, num_return_sequences=5, return_dict_in_generate=True)`, it returns a tensor of shape `(1,5,vocab_size`. Essentially, it is giving me the probability of a **single** word for each beam. In the description for `beam_search` in the link above, it says that score refers to "all processed lm he

[2021-08-09 21:56] aphedges commented on #13007
@sgugger, I can confirm that your commit 9870093 prevents this issue for me. The unclear error message will still be a problem for anyone importing from `modeling_tapas.py`, such as the following:

[code]

However, this is much more limited in scope than before, which is very good. I don't use TAPAS, so I should be fine now.

I agree with you that the error getting lost seems to come from Python i

[2021-08-09 22:36] dnnxl opened #13062 "Cannot import name 'BEiTForImageClassification' from 'transformers'"
## Environment info

Hi trying to run the BEiTForImageClassification in Google Colab and got the following error Cannot import name 'BEiTForImageClassification' from 'transformers'. Any suggestion on how to fix it?

- `transformers` version: 4.9.2
- Platform: Google Colab

Models:
- nielsr/beit-base-patch16-224

## To reproduce

Steps to reproduce the behavior:

Based on https://huggingface.co/nie

[2021-08-10 06:37] shamanez commented on #13059
Check this script.

https://www.github.com/huggingface/transformers/tree/master/examples%2Fresearch_projects%2Frag%2Fuse_own_knowledge_dataset.py

[2021-08-10 06:40] 1148330040 opened #13064 "How to extract the encoded data of feed & forward layer in tfbertmodel?"
env：tf2.2

model：FBertModel.from_pretrained('hfl/chinese-bert-wwm-ext')

i'm working on an information extraction project. First, I predict the “subject” through Bert CRF, then tf. Gather () the coding layer of shared Bert and the location information corresponding to the “subject”, and then predict the “object“, but I can't extract the feed & forward layer of Bert now

I want to extract the outpu

[2021-08-10 09:07] gauravpandeyamu commented on #13011
@patrickvonplaten Sure, I will try it today and let you know. Thanks

[2021-08-10 09:29] dkajtoch commented on #13025
Reopening since now it is impossible to read the tokenizer from pretrained

[2021-08-10 09:48] dkajtoch commented on #13025
Reopening in 4.9.2 since it is difficult to read the model. The problem is either here:
https://github.com/huggingface/transformers/blob/v4.9.2/src/transformers/models/auto/tokenization_auto.py#L329 in`TOKENIZER_MAPPING` or here https://github.com/huggingface/transformers/blob/v4.9.2/src/transformers/models/mt5/__init__.py#L35

`MT5Tokenizer` is just `T5Tokenizer` so when we call class.__name__ it

[2021-08-10 11:09] fcakyon commented on #13025
@dkajtoch mt5-large tokenizer class is incorrect in config.json: https://huggingface.co/google/mt5-large/blob/main/config.json
it should be corrected as `"tokenizer_class": "T5Tokenizer",`.

Refer to mt5-base https://huggingface.co/google/mt5-base/blob/main/config.json and mt-xl https://huggingface.co/google/mt5-xl/blob/main/config.json configs.

[2021-08-10 11:14] devrimcavusoglu commented on #13025
@dkajtoch interesting catch, but I do not understand why this problem is happening ?

Isn't `MT5Tokenizer` is already in the autotokenizer's list (as an alias for `T5Tokenizer`) ? @patrickvonplaten

[2021-08-10 11:23] dkajtoch commented on #13025
@devrimcavusoglu it is but the class is not called `MT5Tokenizer`. It would have been if the authors did something like this
[code]
Instead of `MT5Tokenizer = T5Tokenizer`

[2021-08-10 11:30] devrimcavusoglu commented on #13025
My mistake, I thought `MT5Tokenizer` was a class exactly like you said :sweat_smile: turns out I remember incorrectly. So the fix would be your proposal if @patrickvonplaten agrees we can draft PR for creating a class for `MT5Tokenizer` rather than a variable.

[2021-08-10 11:33] dkajtoch commented on #13025
Maybe the fix is necessary or maybe not since on master 4.10.0-dev0 it works by switching to T5Tokenizer. However, all previous versions will be broken so it is better to change the config back

[2021-08-10 11:38] fcakyon commented on #13025
@dkajtoch previous mt5-large config was incorrect. If you switch it back, it will work incorrectly. You only need to fix tokenizer class in mt5-large config as `"tokenizer_class": "T5Tokenizer",`.

[2021-08-10 11:45] dkajtoch commented on #13025
@fcakyon I see in history that not only tokenizer_class was changed 👍 Ok so just the tokenizer_class needs to be updated in config.json

[2021-08-10 11:46] fcakyon commented on #13025
@dkajtoch thats right 👍

[2021-08-10 12:12] PhilipMay commented on #12884
HI @Narsil ,
thanks for the answer.

I made some debugging:

![image](https://user-images.githubusercontent.com/229382/128864351-41586d85-d783-4f9b-84a2-31b080228bc7.png)

It seems like here:

https://github.com/huggingface/transformers/blob/2e0d767ab2bf8265a9f9b93adb1bc2084bc02849/src/transformers/tokenization_utils.py#L335-L350

It already splits `<pad>|</s>|<unk>` - see screenshot.

So for me i

[2021-08-10 12:16] PhilipMay commented on #12884
Changing the code to this:

[code]

Converts this: `"This <unk> is <s> some </s> text. <pad> other text!"` to this:
`['T', 'h', 'i', 's', ' ', '<unk>', ' ', 'i', 's', ' ', '<', 's', '>', ' ', 's', 'o', 'm', 'e', ' ', '</s>', ' ', 't', 'e', 'x', 't', '.', ' ', '<pad>', ' ', 'o', 't', 'h', 'e', 'r', ' ', 't', 'e', 'x', 't', '!']`

Which seems to be ok...

[2021-08-10 13:02] brand17 opened #13068 "Can not instantiate `PreTrainedTokenizerFast` from instantiated tokenizer object"
## Environment info

- `transformers` version: 4.3.2
- Platform: Windows
- Python version: 3.6.6
- PyTorch version (GPU?): N/A
- Tensorflow version (GPU?): 2.3.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the official example scripts: (give

[2021-08-10 13:14] yanaiela opened #13069 "MultiBerts in Huggingface"
# 🚀 Feature request

It would be nice to have a script/converter of all the [multiberts](https://arxiv.org/pdf/2106.16163.pdf) checkpoints that were released about a month ago.
It was [released](https://github.com/google-research/language/tree/master/language/multiberts) by Google, thus using tensorflow, and it would be nice to have it under the huggingface library/hub.

## Motivation

These check

[2021-08-10 13:26] aycatakmaz commented on #13062
I have encountered the same problem, and solved it by re-installing `transformers` from the source via the following command:
`pip install git+https://github.com/huggingface/transformers` (for further details please see https://huggingface.co/transformers/installation.html). Installing from the source resulted in a transformers version of 4.10.0, and I could import Beit models.

Another thing that

[2021-08-10 13:47] prikmm commented on #13033
Hey @CryptoSalamander, thanks for your reply. I finally found out the issue. My LR was 0.0, I was under the impression that, `AdaSchedule` would use the `lr` in optimizer and change with every step. But, when we use AdaSchedule, we have to pass in the `initial_lr` or it will default to 0.0 and since relative updates were false (as per the recommendation), the lr remained constant at 0.0.

[2021-08-10 13:47] #13033 closed

[2021-08-10 14:10] khalidsaifullaah opened #13070 "top-k sampling for Flax models"
# 🚀 Feature request

We're using a custom (`Flax`) Seq2Seq model (`Bart`) in our `DALL·E mini` project to generate the image tokens, currently, we're doing the following to generate samples (`encoded image`) given a tokenized prompt to the Seq2Seq model:
[code]

But, now we're trying to experiment with the generation method (for example `top_k` sampling) to see if it improves our generated samples

[2021-08-10 15:03] #12444 closed

[2021-08-10 17:45] s4sarath opened #13073 "t5 base not found."
- 't5-base' is a correct model identifier listed on 'https://huggingface.co/models'

- or 't5-base' is the correct path to a directory containing a config.json file

[2021-08-10 19:17] patrickvonplaten commented on #13073
Hey @s4sarath,

https://huggingface.co/t5-base looks normal to me - what exactly is your error?

[2021-08-10 19:21] patrickvonplaten commented on #13044
Hey @R4ZZ3,

Could you please update your transformer version to a newer one? Ideally master for Flax examples as they have been added very recently?

[2021-08-10 19:22] R4ZZ3 commented on #13044
Sure thing, ill try

[2021-08-10 19:47] diego6662 commented on #13037
No, I used grouped_entities but I saw that it is deprecated, thanks, I will try it with the aggregation_strategy

[2021-08-10 19:48] #13037 closed

[2021-08-10 19:51] R4ZZ3 commented on #13044
Ok, now seems to move further @patrickvonplaten Thanks!
Still had to save tokenizer with tokenizer.save(./tokenizer.json) though

![image](https://user-images.githubusercontent.com/25264037/128925529-ced5f775-e9a4-43dc-bc0e-58085de28386.png)

[2021-08-10 20:33] #13044 closed

[2021-08-10 21:12] takiholadi commented on #10528
What is the correct way to resize_token_embedding for T5? It looks like there are 12 additional tokens and `model.resize_token_embedding(len(tokenizer) + 12)` works well.

[2021-08-10 21:19] krajasek opened #13075 "Custom Seq2Seq translation model training exits with error"
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Linux-4.14.238-182.422.amzn2.x86_64-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using d

[2021-08-11 00:44] Phill-at-GE commented on #5164
@patrickvonplaten, in a follow up to the post, does the **tensorflow** implementation of `model.generate()` produce either the `sequence_scores` that is also available in the pytorch implementation? Or, somehow the `scores` returns a tensor that is in the shape `(batch_size,number_of_beams,sequence_length,vocab_size)`, where we can calculate the product of the token probabilities at each step in t

[2021-08-11 02:01] s4sarath commented on #13073
Hi @patrickvonplaten , t5-small is working fine. Transformers version is **4.9.0.dev0**

[code]

OSError: file t5-base/config.json not found
OSError: Can't load config for 't5-base'. Make sure that:

- 't5-base' is a correct model identifier listed on 'https://huggingface.co/models'

- or 't5-base' is the correct path to a directory containing a config.json file

[2021-08-11 02:45] dnnxl commented on #13062
Thanks it solves the problem. Also for the clarification.

[2021-08-11 02:45] #13062 closed

[2021-08-11 05:02] ameet-1997 commented on #11326
Looks like you already found the solution, thanks for that!
I wasn't able to fix it earlier.

[2021-08-11 05:45] hwijeen opened #13076 "respect dtype of the the model when instiating not working"
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux-4.18.0-25-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.0a0+52ea372 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed o

[2021-08-11 06:43] sgugger commented on #13075
Please use the [forums](https://discuss.huggingface.co/) for help to debug your scripts, and provide all relevant code. The error indicates you are attempting to pass a `encoder_hidden_states` to a model that don't accept that but we don't see our your dataset is or how your model is, so no one can help you understand why.

[2021-08-11 08:29] sbmaruf commented on #13035
I didn't use `AWS SageMaker`. Since you requested for more information, I started to think about a minimal example. The codebase I was working with is too large and contains redundant codes.
I took the script `run_summarization.py` and tried running with my environment. What happened that my transformers version was `4.6.0` from this [branch](https://github.com/huggingface/transformers/tree/t5-fp1

[2021-08-11 08:29] #13035 closed

[2021-08-11 08:51] mosh98 commented on #13047
@NielsRogge
@sgugger

Any thoughts?

Kind regards,
Mosleh

[2021-08-11 08:54] sgugger commented on #13047
Hi there! Please use the [forums](https://discuss.huggingface.co/) for questions like this, as we keep the issues for bugs and feature requests only.

As for your question, you can fine-tune any existing model with that `run_mlm` script.

[2021-08-11 08:55] sgugger commented on #13035
Ah, if you were on an older version, the barrier may not have been there, yes.

[2021-08-11 09:07] mosh98 commented on #13047
Hi,

Alright thanks, i'll post in forums next time.

/Mosleh

[2021-08-11 09:07] #13047 closed

[2021-08-11 10:51] luis-at-navteca commented on #12941
I have the same problem, but it only happens when the model is private.

![Screenshot](https://user-images.githubusercontent.com/53347273/129016843-01d11fa8-40b0-4155-9405-75dcccfd5a0c.png)

[2021-08-11 10:58] param-jot commented on #4565
Hi, I'm trying to fine-tune the ReformerModelWithLMHead (google/reformer-enwik8) for NER. I used the padding sequence length same as in the encode method (max_length = max([len(string) for string in list_of_strings])) along with attention_masks. And I got this error:

**ValueError:** If training, make sure that config.axial_pos_shape factors: (128, 512) multiply to sequence length. Got prod((128,

[2021-08-11 10:59] function2-llx commented on #12833
This works, thanks.

Actually, in my case, I'm only able to access hugging face stably when I'm using a proxy, but I don't want to enable the proxy all the time, so I'm used to firstly downloading the model with proxy, and running my code without proxy afterwards, without modifying the code (by setting `local_files_only`). How about trying local files after encountering a network error when `local

[2021-08-11 11:16] hasansalimkanmaz commented on #12989
For 2 days, I am triggering lots of trainings with the distributed setting, they didn't hang until now. I am convinced that my issue is related to `deepspeed`. Maybe `deepspeed` doesn't like my configuration :) But I can't go on debugging without much information about being stuck in barrier. I searched on web but can't find any useful info about it.

[2021-08-11 11:42] sgugger commented on #12941
Your token for `use_auth_token` is not the same as your API token. The easiest way to get it is to login with `!huggingface-cli login` and then just pass `use_auth_token=True`.

[2021-08-11 11:53] flozi00 opened #13080 "[Vision Transformers] examples and pretraining"
# 🚀 Feature request

Example scripts for fine-tuning and pretraining for clip and Beit models

## Motivation

At the moment I am training ViT and DeiT for several tasks and thought it would be interesting to compare with clip or from scratch pretrained beit model in self supervised way.
I saw there are already examples for training clip using transformers and flax, not sure if there is an specific

[2021-08-11 12:00] apkbala107 commented on #4425
location is currently not available...please share the exact location

[2021-08-11 12:01] apkbala107 commented on #4425
location is currently not available...please share the exact location

[2021-08-11 12:01] apkbala107 opened #13081 "location is currently not available...please share the exact locationDetailed Explanation"
Detailed Explanation
https://mlcom.github.io/Create-Language-Model/

_Originally posted by @mlcom in https://github.com/huggingface/transformers/issues/4425#issuecomment-774689668_

[2021-08-11 12:01] apkbala107 commented on #13081
location is currently not available...please share the exact location

[2021-08-11 12:01] xegulon commented on #10232
Is the multilabel pipeline implemented in the last release `4.9.2` @LysandreJik ? If yes, are there examples on how to use it?

[2021-08-11 12:02] apkbala107 opened #13082 "I modified https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py script few days ago for training electra from scratch. But there were some problems(maybe bugs) i had to solve for this task."
I modified https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py script few days ago for training electra from scratch. But there were some problems(maybe bugs) i had to solve for this task.

Currently I´m setting up a clean running version for training a electra language model from scratch with an additional document classification head based

[2021-08-11 12:02] apkbala107 commented on #13082
location is currently not available...please share the exact location

[2021-08-11 12:39] luis-at-navteca commented on #12941
I think the problem is something else:

![Screenshot 2021-08-11 at 14 34 44](https://user-images.githubusercontent.com/53347273/129029925-a5c4c43d-2f1d-442b-8da0-09d19d2d58a4.png)

[2021-08-11 13:18] bdr2486 opened #13084 "やからん"
# 🚀 Feature request

## Motivation

## Your contribution

[2021-08-11 13:28] LysandreJik commented on #13073
Do you have a folder called `t5-base` in your working directory? The `TFT5Model` may be trying to load from that directory rather than from the hub.

[2021-08-11 13:38] krajasek commented on #13075
I am not explicitly passing any state to the model at all. I can't share the dataset as it could be proprietary to our organization, but can I at-least know if Roberta to GPT-Neo language translation is possible? I glanced at the code base https://github.com/huggingface/transformers/blob/master/src/transformers/models/gpt_neo/modeling_gpt_neo.py and it looks like the forward() method does not acce

[2021-08-11 13:40] LysandreJik commented on #13068
The ability to load a tokenizer object directly was introduced in version v4.5.x! Could you upgrade your `transformers` version to a more recent one?

[2021-08-11 13:41] LysandreJik commented on #10613
This is a duplicate of https://github.com/huggingface/transformers/issues/11222

[2021-08-11 13:54] LysandreJik commented on #13054
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

There are a few scripts related to pretraining: [language-modeling examples]

Thanks!

[2021-08-11 14:15] LysandreJik commented on #13082
Here's the folder containing the language modeling scripts: https://github.com/huggingface/transformers/tree/master/examples/pytorch/language-modeling

[2021-08-11 14:17] Rocketknight1 commented on #13046
Hi, thanks for the issue but I'll need a little more info to investigate! Do you encounter an error when you run the code, or do you believe the outputted loss is incorrect? If you encounter an error, can you paste it here? If the loss is incorrect, can you upload a sample batch of data (e.g. a pickled dict of Numpy arrays) that gets different loss values on the PyTorch versus the TF version of th

[2021-08-11 14:18] LysandreJik commented on #10232
Ssee the docs for the text classification pipeline [here](https://huggingface.co/transformers/master/main_classes/pipelines.html#transformers.TextClassificationPipeline) (See `function_to_apply` argument)

It is currently on the `master` branch and will be in the next release (v4.10.0)

[2021-08-11 14:22] sgugger commented on #13032
If you have earned the "Basic" badge, you should see a "+ New Topic" button on the home page, on the left directly under the blue banner.

[2021-08-11 14:32] #13054 closed

[2021-08-11 14:36] ydshieh opened #13086 "Missing `lm_head` parameter in FlaxGPT2LMHeadModel.params"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-5.11.0-25-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): 2.5.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.16
- JaxLib version: 0.1.68
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: N

[2021-08-11 14:42] LysandreJik commented on #12196
Hi @s4sarath, sorry for the delayed response. If the checkpoints on the hub do not satisfy you (I see the SOP/NSP layers are indeed lacking), conversion scripts are available for each model:

- [BERT](https://github.com/huggingface/transformers/tree/master/src/transformers/models/bert), see the `convert_*` scripts
- [ALBERT](https://github.com/huggingface/transformers/blob/master/src/transformers/

[2021-08-11 15:02] patrickvonplaten commented on #13086
Hey @ydshieh,

Thanks for the issue! The reason why `lm_head` is missing in the parameters is because the input and output embeddings are tied for `gpt2` which is the default case if not stated otherwise in the specific config -> see: https://github.com/huggingface/transformers/blob/c71f73f438c7848b7d86af5258e886f03ba45f1e/src/transformers/configuration_utils.py#L227

As a consequence the jax mode

[2021-08-11 15:06] #12485 closed

[2021-08-11 15:10] ydshieh commented on #13086
Hi, @patrickvonplaten , thank you for this explanation. Now I feel more sure about the code below (copied from `modeling_hybrid_clip.py`) for the recent work on `FlaxEncoderDecoderModel`

[code]

[2021-08-11 15:20] patil-suraj commented on #12648
Unstale

[2021-08-11 15:30] jinec opened #13089 "can"t connect ther online datasets.the issue:ConnectionError: Couldn't reach https://raw.githubusercontent.com/huggingface/datasets/1.7.0/datasets/glue/glue.py"
## Environment info

- `transformers` version:4.6.1
- Platform:
- Python version:3.6
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scr

[2021-08-11 16:16] Dennis0225 opened #13092 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2021-08-11 16:44] mlcom commented on #4425
mlcom.github.io

[2021-08-11 17:26] krajasek commented on #13075
The trainer script works fine when a pre-trained Roberta model is used as the source and a custom-trained Roberta model is used as the target model. It only fails when a pre-trained Roberta model is the source a custom-trained GPT-Neo model is the target.

[2021-08-11 18:50] Azitt opened #13093 "AttributeError: module 'sacrebleu' has no attribute 'DEFAULT_TOKENIZER' in translation.ipynb notebook"
I'm trying to use translation.ipynb notebook. I'm getting below error:

![image](https://user-images.githubusercontent.com/32965166/129086137-d5a1daca-ad95-4e8f-98a5-01f1618de791.png)

## Environment info

- `transformers` version: 4.9.2
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

#

[2021-08-11 23:04] stas00 commented on #13076
Thank you for the great report, @hwijeen

I'm able to reproduce both problems:

[code]

Once I get a chance I will work on it and we will sort it out.

[2021-08-11 23:09] stas00 commented on #12989
If you're able to reproduce the problem with something I can work with directly, I'd be happy to investigate this with you, @hasansalimkanmaz - perhaps you don't need to show us all of your confidential code but just the part where you start things  - it should be pretty generic.

I'd start with your full app, and chop it in half, removing the 2nd half, then rinse and repeat - binary search-style

[2021-08-11 23:34] stas00 commented on #13076
ok, where did you find `torch_dtype_auto_detect`? The documented syntax is: `torch_dtype='auto'` for auto detection. Perhaps you were looking at the original proposal discussion before the API was selected?

This works just fine:
[code]

[2021-08-11 23:45] galuhsahid opened #13095 "Memory accumulation using hybrid clip script"
## Environment info
- `transformers` version: 4.9.1
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.18
- JaxLib version: 0.1.69
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: yes, TPU v3

[2021-08-12 00:16] hwijeen commented on #13076
Oh, I see. `torch_dtype` is the right keyword.

But setting it "auto" does not seem to work:
`python -c "from transformers import AutoModel; m=AutoModel.from_pretrained('sshleifer/tiny-gpt2', torch_dtype='auto');print(m.dtype)"`  # This gives torch.float32.

Just for a sanity check, I tried loading my own model whose weight is float16 and the result was the same.
`python -c "from transformers impo

[2021-08-12 00:37] ljz756245026 commented on #10477
I still meet the same problem， could you please tell me how to solve it？

[2021-08-12 00:39] stas00 commented on #13076
why do you think it's torch16?

[code]
or all of them:
[code]
Also I think Sam was making many test models `half()`, perhaps just not this one? Try it on other of his tiny test models?

You can see the test that saves as fp16 and then auto-detects it to be fp16:

https://github.com/huggingface/transformers/blob/c89180a9de1fc2e98654812fd1c233c3bc6a8d43/tests/test_modeling_common.py#L1687-L1692

[2021-08-12 00:54] hwijeen commented on #13076
I was not sure whether `sshleifer/tiny-gpt2` uses float16 or not, and that's why I tried with my own model (megatronLM) which (mostly) has float16.
[code]

I tried to load this model with two ways, and only one yields the correct result:
[code]

[2021-08-12 01:15] s4sarath commented on #13073
Hi Lysandre. You were true. My bad.
Closing this ticket.

Thanks for your help.

On Wed, 11 Aug, 2021, 6:58 pm Lysandre Debut, ***@***.***>
wrote:

[2021-08-12 04:58] Geraldene commented on #1491
I am experiencing the same issue, I am using Ubuntu 18 WSL. When adding the `force_download=True` I am getting the following error:
`/tape/models/modeling_utils.py", line 506, in from_pretrained
    model = cls(config, *model_args, **model_kwargs)
TypeError: __init__() got an unexpected keyword argument 'force_download'`

Any solutions will be highly appreciated.

[2021-08-12 06:36] patil-suraj commented on #13095
Thanks a lot for posting the detailed issue.

I'm not exactly sure about this, but could you try disabling `persistent_workers` in `DataLoader`, it was causing some issues for another team.

yes, that would be great! Feel free to open a PR for that :)

[2021-08-12 07:27] LysandreJik commented on #13093
Hello! A new release of sacrebleu was released with breaking changes. Could you reinstall sacrebleu on version 1.5.1 to see if it runs? cc @sgugger

[2021-08-12 07:30] Saravia83c commented on #13093
El El jue, ago. 12, 2021 a la(s) 12:28 a.m., Lysandre Debut <
***@***.***> escribió:

[2021-08-12 08:10] patil-suraj commented on #13001
Fixed in #13017

[2021-08-12 08:10] #13001 closed

[2021-08-12 09:17] bhavitvyamalik commented on #13095
Along with what @patil-suraj suggested, you should also bring down your `num_workers` to 16 or 32 instead of 96. That should keep your memory in check if you're planning to train your model for 2-3 days.

[2021-08-12 12:06] wenHK commented on #8748
i have the same question!

[2021-08-12 12:16] fcakyon commented on #13025
@dkajtoch @patrickvonplaten any ETA on the fix?

[2021-08-12 12:17] xegulon commented on #10232
Great thanks!
However, I don't see a documentation which is specific to multilabel classification (I understand that choosing `function_to_apply='sigmoid'` makes it work though). With the results of the `pipeline` be prettified accordingly?

[2021-08-12 12:32] patrickvonplaten commented on #13025
Sorry what's the problem here exactly?

[code]

works fine when I try it.

[2021-08-12 12:34] patrickvonplaten commented on #13025
`MT5Tokenizer` is an alias to `T5Tokenizer`, so it doesn't really matter which one we put in the config. For consistency, it's True that `T5Tokenizer` might make more sense

[2021-08-12 12:41] #13068 closed

[2021-08-12 12:51] dkajtoch commented on #13025
![image](https://user-images.githubusercontent.com/32985207/129199066-94e41d2e-f5dd-4722-9397-915ced3d652d.png)
This happens at most in `4.9.2` and the current master version is ok.

[2021-08-12 14:17] ydshieh opened #13102 "inconsistency of the last element in hidden_states between PyTorch/Flax GPT2(Neo)"
### Who can help
@patrickvonplaten  @patil-suraj

## Information

The current Flax version of GPT2/GPTNeo give different results for the last element in `hidden_states` if `output_hidden_states=True`. This difference comes from the following fact:

In Flax GPT2 (and GPTNeo similarly), `all_hidden_states` is prepared in `FlaxGPT2BlockCollection` which has no layer norm layer (`ln_f`), therefore the

[2021-08-12 14:28] patrickvonplaten commented on #13102
Hey @ydshieh,

That's a great catch! And we should definitely correct this. The way to go here in my opinion is to remove the second:

[code]

of ```FlaxGPT2BlockCollection```

and move it to:

```FlaxGPT2Module```

as you've suggested I think. Would you be interested in opening a PR for this? :-)

[2021-08-12 15:00] ydshieh commented on #13102
Hi, yes, I can open a PR for this. But just to be sure

do you mean, in `FlaxGPT2BlockCollection`, we should (if specified) return the tuple containing all the hidden states except the last one? And add the last one in `FlaxGPT2Module`.

I am OK with it - it is just slightly different from what I wrote originally (still add the last one in `FlaxGPT2BlockCollection`, but updating later).

[2021-08-12 15:06] #12483 closed

[2021-08-12 15:06] #12484 closed

[2021-08-12 15:06] #12235 closed

[2021-08-12 15:26] patrickvonplaten commented on #13102
Yes I think we should add all hidden states EXCEPT the last one. This class is never used externally without using `FlaxGPT2Module` so it's safe to do IMO. Adding it once is the better option instead of adding it and updating it later IMO.

[2021-08-12 15:44] Narsil commented on #12884
Not sure if `<s>` is allowed to be split or not.
special_tokens contains something like 100 or so special tokens which most likely should be taken care of.

Can you run the tests ?

[code]

I expect your version is slightly incorrect, but I could be wrong.

instead of using `re.split(pattern, text)` if you manage to `self.regexp = re.compile(pattern)` (within __init__) and replace it with
`self.re

[2021-08-12 16:37] patil-suraj commented on #13102
That's a great catch!

Yes! Would be great if you fix it in the same PR.

[2021-08-12 16:43] stas00 commented on #13076
Yes, clearly `AutoModel` goes through a different path and needs to be better tested and fixed.

The question is what to do with models that have mixed dtypes - typically a model is either fp16 or fp32. I can see how a custom buffer may be of fp32 while the params are in fp16.

Could you explain your situation and how mixed is your model?

[2021-08-12 16:45] patrickvonplaten commented on #13025
Gotcha! Thanks for clarifying! Updating the config now

[2021-08-12 16:58] rp13g10 opened #13108 "Multi Lang Marian Translator not working (opus_mt_mul_en)"
When attempting to use the [opus_mt_mul_en](https://huggingface.co/Helsinki-NLP/opus-mt-mul-en) model, no translations are generated. Based on [this issue](https://github.com/JohnSnowLabs/spark-nlp/issues/2472) on the SparkNLP repo, this has been happening for a while, but perhaps never raised here.

I'm currently accessing the model through SparkNLP on an Amazon EMR cluster (release 5.30.0). Spar

[2021-08-12 18:06] xegulon commented on #11888
Thanks a lot @NielsRogge !
Hoping to see `pipeline('relation-classification')` and `pipeline('joint-ner-and-re')` someday ;) !

[2021-08-12 18:39] xegulon opened #13111 "`ModelError` when calling SageMaker Endpoint for prediction using the official notebooks"
## Environment info
- `transformers` version: 4.6.1
- Platform: Linux-4.14.232-123.381.amzn1.x86_64-x86_64-with-glibc2.10
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@sgugger @patil-suraj

## Information

I have trained and sav

[2021-08-12 20:10] sgugger commented on #13111
cc @philschmid

[2021-08-12 20:13] philschmid commented on #13111
Hey @xegulon,

How have you created your `model.tar.gz` and what does it contain? It looks like that the file structure of it is wrong and the inference toolkit cannot find the `config.json` and `pytorch_model.bin`.

You can take a look [here](https://huggingface.co/docs/sagemaker/inference#creating-a-model-artifact-modeltargz-for-deployment) at how to properly create a `model.tar.gz`.
https://hug

[2021-08-12 21:12] patrickvonplaten commented on #12884
Yeah `<s>` should not be split to single characters. It would also be important to make sure that newly added tokens of whatever character length are not split.

I think if all ByT5Tokenizer tests pass then a change to speed up the tokenizer is ok

[2021-08-12 21:22] baosiek commented on #5783
I am probably missing something here. I am trying to buid a grammar corrector using Marian NMT generated model with Huggingface's transformer. Source language is the text with erros and target language the text without. I have trained the model following this example (https://github.com/marian-nmt/marian-examples/tree/master/transformer). As it does not generate source and target spm files, I crea

[2021-08-13 02:21] zhaochaocs commented on #9731
I checked the HF Bart checkpoint and I agree with @twadada that the mismatch is a potential bug. Seems the HF model directly uses the first 50264 embeddings from fairseq. It should be the first 50263 embeddings concatenated with the last embedding (the embedding of <mask>).

But I guess it's not a severe bug unless <mask> token exists in the input text.

[2021-08-13 02:55] Azitt commented on #13093
installing version 1.5.1 solves the problem. thanks!

[2021-08-13 02:55] #13093 closed

[2021-08-13 03:21] twadada commented on #9731
@zhaochaocs Thanks for confirming that. I think it can be a critical bug when you use BART as a masked language model, such as when you use it as a mask-filling model (e.g. a cloze test
for probing), or when you fine-tune it on additional monolingual data using the MLM objective.

[2021-08-13 03:27] galuhsahid commented on #13095
@bhavitvyamalik Yup, for the run I linked in the original thread I've used `num_workers` = 16. I have used 96 earlier which crashed the run almost immediately with ~12M images. Decreasing the `num_workers` helped a lot indeed, although the memory is still seeing an increasing trend.

@patil-suraj Thank you for the suggestion - disabling `persistent_workers` seems to work, this is how the graph loo

[2021-08-13 04:48] zhaochaocs commented on #9731
@twadada Yeah, I entirely agree. I tried some prompt ideas in the last project and found BART performed not as well as other PTMs even after post-training. Maybe the mismatch of the mask token is one of the reasons.

Hope HF can fix that someday, or we can temporarily replace the embedding of `<mask>` with the fairseq parameter.

[2021-08-13 05:34] koukoulala commented on #9804
Has the problem of ProphetNet non-convergence been solved? I want to fine tune it based on its checkpoint.

[2021-08-13 05:48] twadada commented on #9731
Yea, we've gotta replace it with the correct embedding (assuming the fairseq parameter would be the correct one). Honestly, it was a little disappointing that this issue was sort of ignored and closed. Not sure whether this closed issue will draw attention from HF anymore.

[2021-08-13 06:08] justwangqian opened #13115 "typeerror: textinputsequence must be str"
## Describe the bug
I use dataset.map() to encode the data, but get this problem.

#   I use the code to transfer data to local csv files,.As i use colab, local files are more convenient.

dataset = load_dataset(path='glue', name='mnli')
keys = ['train', 'validation_matched','validation_mismatched']
for k in keys:
  result = []
  for record in dataset[k]:
    c1, c2, c3 = record['premise'], record

[2021-08-13 06:51] patil-suraj commented on #13095
Looking at the PyTorch issue it does seem related to the dataloader.

In the `ImageTextDataset` in `run_hybrid_clip.py`, all examples, captions, image_paths are stored in python lists

https://github.com/huggingface/transformers/blob/bda1cb02360fc9d290636cfcb6bcbeb4a18484ce/examples/research_projects/jax-projects/hybrid_clip/run_hybrid_clip.py#L220-L228

As suggested in that issue, could try stori

[2021-08-13 07:00] PhilipMay commented on #12884
I made a simple test:

[code]

It prints:

`['T', 'h', 'i', 's', ' ', '<unk>', ' ', 'i', 's', ' ', '<pad>', ' ', 'a', ' ', '</s>', ' ', 't', 'e', 's', 't', ' ', '<', 's', '>', ' ', 'w', 'i', 't', 'h', ' ', 's', 'o', 'm', 'e', ' ', 's', 'p', 'e', 'c', 'i', 'a', 'l', ' ', 't', 'o', 'k', 'e', 'n', 's', '.']`

So `<s>` is split. It does not split this: `<unk>, <pad> and </s>`.

[2021-08-13 07:03] PhilipMay commented on #12884
@Narsil and @patrickvonplaten in debugger it looks like this:

![image](https://user-images.githubusercontent.com/229382/129317805-453d7ad6-eb9e-4abc-b1c9-a2c3bf850262.png)

The pattern is `'(<pad>|</s>|<unk>)'`

[2021-08-13 08:45] #13102 closed

[2021-08-13 08:56] xegulon commented on #13111
Here are the contents of `model.tar.gz`:

![image](https://user-images.githubusercontent.com/74178038/129331926-90568924-9cae-4566-8102-2cd23c3d239b.png)

I used the `save_pretrained` method on the model and tokenizer to get that.

P. S.: after re-checking, I remarked `transformers` version is `4.9.2`

[2021-08-13 11:54] hasansalimkanmaz commented on #12989
Thanks @stas00 for your kind help. Currently, I don't have time to dive into this issue as I manage to run in a distributed setting without deepspeed, it is not so urgent for now. On the other hand, I will be working on this issue in the next coming weeks.

[2021-08-13 11:55] Narsil commented on #12884
@PhilipMay Please provide a script for the benchmark, it would really help assess speed.

As for the example you're right "<s>"doesn't seem to be tokenized.

[2021-08-13 12:16] philschmid commented on #13111
How have you created this archive?

and are you sure the structure is not the one below?
[code]

Could you try creating the archive with the following steps?
1. cd and create a tar file
[code]
the repository should be the directory where your artifacts are stored

2. Upload model.tar.gz to s3
[code]
After that, you can use the S3 uri as model_data.

[2021-08-13 12:24] PhilipMay commented on #12884
Like so?

[code]

[2021-08-13 13:55] kaankork commented on #4486
I find it confusing that the vocab_size doesn't get modified. Also, the Hugging Face documentation describes `tokenizer.add_tokens` as follows:

[2021-08-13 13:58] ALUKErnel opened #13116 "Problem about using mBART50 for Russian to Chinese translation"
## Environment info

- `transformers` version: 4.9.1
- Platform: ubuntu 18.04
- Python version: 3.6.9.
- PyTorch version (GPU?): 1.8.0
- Tensorflow version (GPU?): 2.3.0
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

mbart-large-50-many-to-many-mmt：@LysandreJik @patrickvonplaten

## Information

Model I am using: mbart-large-50-many-to-many-mmt

[2021-08-13 15:03] ZonglinY opened #13117 "Can we directly replace gpt2LMHeadModel with BertLMHeadModel to see bert's performance? #7"
I have a code for gpt2LMHeadModel which runs well, and I want to test my code on BertLMHeadModel.
But when I directly replace gpt2LMHeadModel with BertLMHeadModel and replace gpt2Tokenizer with BertTokenizer, the ppl remains at 1 (the BertLMHeadModel predicts perfectly the same with labels)

So can anyone help me, is there any difference of the input format between gpt2LMHeadModelwith and BertLMHe

[2021-08-13 15:07] #12509 closed

[2021-08-13 15:07] #12496 closed

[2021-08-13 15:07] #12506 closed

[2021-08-13 15:07] #12118 closed

[2021-08-13 15:47] Narsil commented on #12884
Mind checking out this: https://github.com/huggingface/transformers/pull/13119

I got something like 2X. Still suboptimal, but much of the overhead now lies in all the wrapping code, which would be much more tedious to remove. If you want to try, please go ahead !

[2021-08-13 18:04] nurgel opened #13121 "AutoModel KeyError: 'layoutlmv2'"
## Environment info
- `transformers` version: 4.9.2
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set

[2021-08-13 18:29] gugarosa commented on #11822
Hello @vishrawas!

You could subclass `TransfoXLLMHeadModel` and change its output dictionary from `losses` to `loss`, so it would work with the trainer. Please note that you will probably have to reduce the loss prior to the return, as it has not been reduced yet, for example: `loss.mean()`.

Additionally, you will need to subclass `TransfoXLLMHeadModelOutput` and change the `losses` argument to

[2021-08-13 18:42] stas00 commented on #12685
Hasn't this one been resolved already?

[2021-08-13 19:28] nurgel commented on #13121
@NielsRogge

[2021-08-13 22:14] stas00 commented on #12697
Hmm, somehow this issue has never been addressed.

In such cases you will have a better luck reporting torch-land issues to https://github.com/pytorch/pytorch/issues as chances are low we will have the required understanding.

I tried to google the exception and only found this to be relevant:
https://discuss.pytorch.org/t/autograd-vague-error-returned-null-without-setting-an-error/112781/6
Are yo

[2021-08-13 22:28] sararb opened #13122 "Electra raises UnboundLocalError: local variable 'seq_length' referenced before assignment when inputs are pre-computed embeddings"
## Environment info

 -`transformers` version: 4.9.2
- Platform: Linux-4.15.0-15-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-u

[2021-08-13 23:01] bpraveenk opened #13123 "Value error while running run_glue.py example with gpt2"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux
- Python version: 3.8.1
- PyTorch version (GPU?):
- Tensorflow version (GPU?): 2.3 , GPU : yes
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?:no

Tagging people:
@patrickvonplaten, @LysandreJik, @sgugger, @patil-suraj

## Information
Model I am using (Bert, XLNet ...): GPT2

The problem arises whe

[2021-08-14 00:46] Azitt opened #13124 "You must login to the Hugging Face hub on this computer by typing `transformers-cli login` and entering your credentials to use `use_auth_token=True`. Alternatively, you can pass your own token as the `use_auth_token` argument in the translation notebook."
I'm trying to run the following but gives me this error. I made an account and login but am not sure about `transformers-cli login`. any help would be appreciated.
![image](https://user-images.githubusercontent.com/32965166/129429037-5909f09d-4bfd-4dd7-870e-eb07e32b34bf.png)

## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version

[2021-08-14 01:31] Sujeeth-Shetty opened #13125 "type object 'AutoModelForSequenceClassification' has no attribute 'from_config'"
I'm using Transformer version 4.4.2 and have been getting "type object 'AutoModelForSequenceClassification' has no attribute 'from_config'" error. Here is my code snippet. I went through the document, the syntax seem to be correct. Your help is very much appreciated.

from transformers import AutoConfig, AutoTokenizer, AutoModel, AutoModelForSequenceClassification, Trainer, TrainingArguments

toke

[2021-08-14 02:18] matthiaslmz opened #13126 "torch.jit.trace quantized bigbird leads to 0INTERNAL ASSERT FAILED runtime error"
Attempt to torch jit trace and save a quantized bigbird model leads to 0INTERNAL ASSERT FAILED runtime error.
I also ran the same code for BERT and RoBERTa (see `example.ipynb`) but did not encounter the same issue and was able to trace the quantized models for both respectively.

## To Reproduce

Steps to reproduce the behavior:

1. Git clone this [repo](https://github.com/matthiaslmz/quantized_b

[2021-08-14 02:53] sotheara-leang commented on #4892
I also face this problem. How to solve it?

[2021-08-14 04:42] ccclyu commented on #12071
Hi @Soonhwan-Kwon  Thanks for contributing the convertion code. Have you tested whether you could load the converted xlmr-xl or xlm-xxl  using huggingface?

[2021-08-14 05:04] Soonhwan-Kwon commented on #12071
Yes I have tested the model and confirmed the better performance than xlmr large model in specific task.

[2021-08-14 06:17] StevenTang1998 commented on #9804
I think the code to compute the loss may be wrong.

This is the code to compute the loss in [`ProphetNetForConditionalGeneration`](https://github.com/huggingface/transformers/blob/master/src/transformers/models/prophetnet/modeling_prophetnet.py#L1968):
[code]
The shape of `predicting_streams` is `(batch_size, ngram, sequence_length, hidden_size)`.
The shape of `predict_logits` is `(batch_size, ngr

[2021-08-14 06:45] StevenTang1998 commented on #9804
@patrickvonplaten

[2021-08-14 06:51] StevenTang1998 commented on #9804
This is the code of the prophetnet [hub](https://github.com/microsoft/ProphetNet/blob/master/ProphetNet_En/prophetnet/ngram_criterions.py#L36).
You can see [line 62](https://github.com/microsoft/ProphetNet/blob/master/ProphetNet_En/prophetnet/ngram_criterions.py#L62) that the shape of `logits` is `(ngram * batch_size * sequence_length, vocab_size)`.

[2021-08-14 08:10] mosh98 commented on #12785
Hi,

I just pre trained my model and it got saved in a directory,

My question is how do i load that model for fine tuning.

I feel like i am not doing something correct here.

These are the files generated after pre training the bert model:
`all_results.json   pytorch_model.bin	    tokenizer.json	vocab.json
config.json	   runs			    trainer_state.json
eval_results.json  special_tokens_map.json  t

[2021-08-14 08:19] NielsRogge commented on #12785
Hi,

It's easiest to just load it using the `.from_pretrained(directory_path)` method. Let's say you have trained a BertForMaskedLM model, then you can load it as follows:

[code]

[2021-08-14 08:41] mosh98 commented on #12785
okay that makes sense, Huge thanks again Niels! :D

Have a wonderful day!

[2021-08-14 08:41] #12785 closed

[2021-08-14 08:47] NielsRogge commented on #13122
That's indeed a small bug. It can be fixed as follows:

[code]

Btw, I love Github's abilities to showcase this haha. Mind opening a PR to fix this?

[2021-08-14 12:54] patrickvonplaten commented on #9804
Hey @StevenTang1998,

Thanks a lot for taking a closer look here! Would you be interested in opening a PR to fix it?

[2021-08-14 13:34] StevenTang1998 commented on #9804
OK, I will open a PR after the test is successful.

[2021-08-14 13:53] patrickvonplaten commented on #12215
Hey

[2021-08-14 14:14] patrickvonplaten commented on #12020
You can manually set the pad_token_id to prevent this error message before running the pipeline, e.g.

[code]

[2021-08-14 15:02] #12539 closed

[2021-08-14 15:02] #12535 closed

[2021-08-14 15:02] #12536 closed

[2021-08-14 15:02] #12518 closed

[2021-08-14 15:04] ccclyu commented on #12071
@Soonhwan-Kwon Glad to know that.  I have successfully converted the parameters using your PR https://github.com/stefan-it/transformers/pull/1 but it may have minor conflict with the current transformer codebase.

By the way, how do you load the huge model (13GB parameters for xlm-xl) using huggingface since one single GPU could not load the whole model?  Did you use DeepSpeed for model parallels

[2021-08-14 15:36] Narsil commented on #12884
Ok, the PR is already a nice boost. Turns out most of the performance loss is caused by special tokens (the 125 extra_ids), which are quite unlikely to appear in your text.

The current code (for slow tokenizers) is quite optimized for low number of special_tokens, which is not the case here.
If you are able to afford being incorrect (because you know your text doesn't contain <extra_id_XX> that s

[2021-08-14 16:24] #12715 closed

[2021-08-14 17:00] dnnxl opened #13127 "RuntimeError: Error(s) in loading state_dict for BeitForImageClassification: size mismatch for classifier.weight"
## Environment info

Hi trying to run the BEiTForImageClassification with a custom dataset for a binary classification problem in Google Colab and got the following "RuntimeError: Error(s) in loading state_dict for BeitForImageClassification: size mismatch for classifier.weight and classifier.bias". Seems like the last layer doesn't match with the binary output, instead is mapping to the number of

[2021-08-14 22:11] sararb commented on #13122
Sure, I opened a PR  #13128. Thank you for your reply !

[2021-08-15 04:20] Opdoop commented on #13116
Same problem, please have a look~ @patil-suraj

[2021-08-15 09:00] Soonhwan-Kwon commented on #12071
There are many options and deepspeed is the one option as you mentioned, and you can freeze layers to reduce gpu memory usage.

[2021-08-15 13:57] #13025 closed

[2021-08-15 14:13] StevenTang1998 commented on #9804
I have opened a [pr](https://github.com/huggingface/transformers/pull/13132).

[2021-08-15 15:01] #12581 closed

[2021-08-15 15:01] #12580 closed

[2021-08-15 15:01] #12579 closed

[2021-08-15 15:01] #12576 closed

[2021-08-15 15:01] #12575 closed

[2021-08-15 15:01] #12572 closed

[2021-08-15 15:01] #12573 closed

[2021-08-15 15:01] #12570 closed

[2021-08-15 15:01] #12568 closed

[2021-08-15 15:01] #12563 closed

[2021-08-15 15:01] #12556 closed

[2021-08-15 15:01] #12557 closed

[2021-08-15 15:01] #12547 closed

[2021-08-15 15:01] #12404 closed

[2021-08-15 22:24] tshi04 opened #13135 "dtype"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2021-08-15 22:24] #13135 closed

[2021-08-16 03:14] darwinharianto commented on #12728
Sorry, is there any progress on this?

[2021-08-16 06:52] NielsRogge commented on #13127
Hi,

Thanks to #12664, it's now possible to load a fine-tuned checkpoint and replace the head which has a different number of classes, by setting `ignore_mismatched_sizes` to `True` when calling the `from_pretrained` method, like so:

[code]
This prints the warning:

[code]

From that PR, I see that only in `modeling_flax_utils.py` users get an error message that says "use ignore_mismatched_sizes

[2021-08-16 06:58] SaulLu commented on #12762
unstale

[2021-08-16 07:04] NielsRogge commented on #13124
In order to be able to push to model to the hub after training, make sure to follow these steps:

Add the following arguments to TrainingArguments:
push_to_hub=True,
push_to_hub_token="..."

=> your token can be found on huggingface.co, click on the top-right for your account, and then click "edit profile" and "API tokens". You can then pass that API token to the push_to_hub_token argument.

Also,

[2021-08-16 07:12] LysandreJik commented on #12728
@SaulLu can you give this one a look?

[2021-08-16 07:47] LysandreJik commented on #13123
Hello! Is this the exact command you're using? I tried to reproduce but I'm getting an error with the pad token which is not defined in the GPT-2 tokenizer. Did you tweak your GPT-2 tokenizer in order to add a padding token?

[2021-08-16 08:19] LysandreJik commented on #13121
Hello @nurgel! LayoutLM v2 is not merged yet so it isn't available in the latest version. You can follow the development here https://github.com/huggingface/transformers/pull/12604

[2021-08-16 08:28] SaulLu commented on #12728
Thank you very much for reporting this problem @darwinharianto .

I have the impression that it is the same known problem as the one reported in [this issue](https://github.com/huggingface/transformers/issues/12762) and that I had started to work on in this [PR](https://github.com/huggingface/transformers/issues/12762). As the cleanest looking fix requires quite a bit of work, I had put it on hold

[2021-08-16 08:38] kaankork commented on #5715
Also having the same problem while using `tokenizer.add_tokens` with a `unique_list` that holds the words I am trying to add to my tokenizer.

[2021-08-16 09:14] LysandreJik commented on #13117
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-08-16 09:16] LysandreJik commented on #13125
Hello! I just tried the following code snippet in both `v4.9.2` and `v4.4.2` and both seem to work:

[code]

[2021-08-16 09:37] koukoulala opened #13137 "how to finetune or test XLM-ProphetNet on XGLUE-NTG task"
# 📚 Migration

## Information

Model I am using (xprophetnet): 'microsoft/xprophetnet-large-wiki100-cased-xglue-ntg'

Language I am using the model on (English, Chinese ...): multi-language

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [√] my own modified scripts: (give details below)
   Just a little change in ./examples/pytorch/summarization/run_summa

[2021-08-16 10:20] NielsRogge commented on #13089
Hi,

Can you create a Colab/code example to reproduce the issue?

[2021-08-16 14:28] Remorax commented on #13032
I'm sorry, I don't see any blue banner or "add new topic" button. This is the website as it is visible to me:

<img width="1325" alt="Screenshot 2021-08-16 at 3 21 40 PM" src="https://user-images.githubusercontent.com/26062692/129578973-ccf35f37-dfa7-4a14-9ffc-f2e00f109a28.png">

I have earned the Basic badge, though:

<img width="1217" alt="Screenshot 2021-08-16 at 3 23 52 PM" src="https://user-i

[2021-08-16 14:28] SaulLu commented on #12728
@darwinharianto, to answer the question in the issue title, at the moment it is not possible to transform a fast tokenizer initialized only with a `tokenizer_object` into an spm file compatible with the `SentencePiece` library. The conversion is only supported in the opposite direction.

Why did you want the vocabulary? Because the vocabulary can be found in the `tokenizer.json` file or by doing:

[2021-08-16 15:02] #12606 closed

[2021-08-16 15:02] #12532 closed

[2021-08-16 15:02] #12530 closed

[2021-08-16 15:02] #12308 closed

[2021-08-16 15:02] #12142 closed

[2021-08-16 16:05] xegulon opened #13141 "Implement a `batch_size` parameter in the `pipeline` object"
# 🚀 Feature request

Implement a `batch_size` parameter in the `pipeline` object, so that when we call it, it computes the predictions by batches of sentences and then does get CUDA Out of Memory errors.

Ideally, this optional argument would have a good default, computed from the tokenizer's parameters and the hardware the code is running on.

References to this need in the forum:
https://discuss

[2021-08-16 16:52] bpraveenk commented on #13123
That's the exact command I am running. The only change I did (see below) was  to comment out clipnorm, to fix the error "ValueError: Gradient clipping in the optimizer (by setting clipnorm or clipvalue) is currently unsupported when using a distribution strategy."

-            clipnorm=training_args.max_grad_norm,
+            #clipnorm=training_args.max_grad_norm,

[2021-08-16 17:32] bartmnli opened #13142 "Pretrain BART MNLI model on Financial Phrasebank"
Hi, I am trying to train/finetune the BART large model pretrained on MNLI on Financial Phrasebank but completely lost as I'm just a beginner.

from transformers import AutoModelForSequenceClassification, AutoTokenizer
model = AutoModelForSequenceClassification.from_pretrained('facebook/bart-large-mnli')
tokenizer = AutoTokenizer.from_pretrained('facebook/bart-large-mnli')

I couldnt find any code

[2021-08-16 17:49] #13121 closed

[2021-08-16 20:12] leezu commented on #11532
This issue hasn't been addressed. This can only be addressed by the huggingface team.

[2021-08-17 00:35] Azitt commented on #13124
Thank you!

[2021-08-17 00:35] #13124 closed

[2021-08-17 01:09] mahmoudcupo opened #13144 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2021-08-17 02:30] hwijeen commented on #13076
I am using [Megatron-LM](https://github.com/NVIDIA/Megatron-LM) by Nvidia. As you may know, this code trains a billion scale language model using various parallelism techniques. One thing to note is that this library does not rely on apex amp to achieve mixed precision training, and it has a complicated and self-contained code to deal with fp16 -- so I would say that models with various data types

[2021-08-17 02:36] stas00 commented on #13076
Which of the 2 problems are you referring to?

If it's the pickle issue, then one needs some kind of `to_json` workaround for the `torch.dtype` class. It should be easy to just comment out that code as well, if it gets in the way and it's urgent as you say.

By all means if you can solve it, it'd be super helpful.

If it's the auto-detection failing because it checks the first key entry, then befo

[2021-08-17 03:00] stas00 commented on #13076
Running on the official checkpoint:

[code]

prints: `dict_keys([torch.float32])`

so there are only fp32 keys in that official checkpoint. But that's just that checkpoint.

Which keys do you get when you run the quick check from above (last line of code with `from_pretrained('.')` adjusted to point to your model.

[2021-08-17 03:21] hwijeen commented on #13076
When I opened the official checkpoint with `torch.load`, it seems like it mostly has float16.

[code]

[2021-08-17 03:24] stas00 commented on #13076
Ah, of course, the above test is wrong, because it relies on transformers, need to recode to do it based on the checkpoint.

[2021-08-17 03:26] hwijeen commented on #13076
When I opened the official checkpoint with `torch.load`, it seems like it mostly has float16.

[code]

In my case, I get a mixture of `float32`, `float16`, `uint8`. Most of the params are `float16` with bias being `float32` and masked bias being `uint8`. I am not 100% sure but I guess this has to do with Megatron version issue..

[2021-08-17 03:33] hwijeen commented on #13076
As you pointed out, dealing with mixed data type is complicated and needs further discussion.

On the other hand, I think `AutoModel`'s pickle issue is a different from this, and I will look into it when I have time (perhaps this weekend) and get back to you with if I find a solution :)

Thanks for the quick workaround!

[2021-08-17 03:35] stas00 commented on #13076
Right, so my 2nd attempt was wrong too, since the original checkpoint went through a conversion and I guess it could have ignored the original dtypes and made it fp16 all.

However doing it the right way hopefully based on your code:
[code]
is still fp16 (for this checkpoint).

Perhaps when the model is mixed, `from_pretrained()` should assert and tell the user to choose one?

The problem is not `

[2021-08-17 03:37] stas00 commented on #13076
Perhaps let's open a new Issue that focuses just on this separate issue and please tag me, sgugger and LysandreJik on it. Thank you!

You can use the above one liner to show us the mixed keys your model contains and then it'd be easier to understand what's going on.

[2021-08-17 03:59] darwinharianto commented on #12728
Since I tried to make my own XLNet tokenizer, i wanted to check if the saved format for vocabulary is the same as the published models.
I thought the fastest way would be comparing saved vocab file from huggingface model hub with mine.
Just for sanity check.

[2021-08-17 05:12] shivamagrawal3900 commented on #3442
I'm on Tensorflow 1.x and can't upgrade to 2.x
Installing an older version of transformers worked for me.
`pip install transformers==4.2.2`

[2021-08-17 05:19] aakashb95 commented on #11888
Thanks a lot @NielsRogge for this notebook. You saved me a lot of time!
I have a doubt, a statement we're trying to annotate is:
Mukesh Ambani married Nita Ambani in 1985 and they have two sons, Akash and Anant, and a daughter, Isha.

There are multiple entities in one sentence and different relations between them.
How should i go about incorporating this in my dataset?

1. The sentence column wil

[2021-08-17 06:26] 116705792 commented on #2662
hi  how to solve it？ @monologg @henrique-voni

[2021-08-17 07:33] jnishi opened #13146 "Runtime error when training DetForObjectDetection using HFTrainer with GPU."
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux-5.4.0-81-generic-x86_64-with-glibc2.27
- Python version: 3.8.0
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <yes>
- Using distributed or paralle

[2021-08-17 07:47] SaulLu commented on #12728
Duly noted! If it's to do a sanity check, would it be ok to compare the files of the fast version of the tokenizers (in particular the `tokenizer.json` file)?

To retrieve these files for the new tokenizer `tok` you made, the following command should work:
[code]

For information, the vocabulary will be visible in the `tokenizer.json` file.

[2021-08-17 07:55] jordimas opened #13147 "Support OpenNMT models"
It will be great if OpenNMT (https://opennmt.net/) and CTranslate2 (https://github.com/OpenNMT/CTranslate2) model support is provided out of the box.

[2021-08-17 08:11] #12884 closed

[2021-08-17 08:21] NielsRogge opened #13148 "Slow tokenizers return overflowing tokens in reversed order"
When implementing the slow tokenizer for LayoutLMv2, I spotted some weird behaviour for slow tokenizers when specifying `return_overflowing_tokens = True`. Namely, in that case, overflowing tokens are returned in reversed order, and no padding is performed, unlike fast tokenizers.

Small example:

[code]

When checking out the encoding, it looks as follows:

[code]

As you can see, the overflowing

[2021-08-17 08:28] NielsRogge commented on #13116
Yes I've seen similar issues with mBART50 returning random sentences as output. Related issues are #12104 and #12958

[2021-08-17 08:31] Ravoxsg opened #13149 "Autoregressive differentiable decoding? (no teacher forcing nor self-reconstruction)"
# 🚀 Feature request

Hi,

Is there any way to perform autoregressive differentiable decoding?
As far as I know, for **encoder-decoder models** (e.g., T5, BART), we have the following:
- **.forward()** performs decoding using **teacher forcing**, or in the case of BART, shifts the _input_ids_ to the right if no _decoder_input_ids_ are given in order to do self-reconstruction. In that case the decod

[2021-08-17 10:47] abhijithneilabraham opened #13151 "Unhashable type : dict for visualbert example code."
Hi,
I am using the visualbert model as shown in [visualbert visualreasoning](https://huggingface.co/transformers/model_doc/visual_bert.html#visualbertforvisualreasoning)
[code]
 and I encountered the following error:
[code]

Is this operation supported by python or is this a bug in the code?
Transformers-cli env output:
[code]

@patil-suraj

[2021-08-17 13:34] NielsRogge commented on #11888
I think you need to create several training examples for this single sentence. Each training example should be <sentence, entity 1, entity 2, relationship>. So indeed, option 1 is what I would do.

There are other approaches to relation extraction, in which one applies a binary classifier to each possible pair of entities (an example is [this paper](https://www.sciencedirect.com/science/article/ab

[2021-08-17 14:06] NielsRogge commented on #13151
You have 2 {{ in your code, whereas it should be only one:

[code]

[2021-08-17 14:15] abhijithneilabraham commented on #13151
yes I guessed that, i.e, it used sets instead of dicts. But then it should be modified in the documentation as well. Also, doing as you said threw another error

[code]
@NielsRogge

[2021-08-17 14:18] NielsRogge commented on #13151
Tagging @gchhablani as he's the expert on VisualBERT

[2021-08-17 14:26] gchhablani commented on #13151
Thanks for the tag @NielsRogge.

@abhijithneilabraham There was an error in the docs earlier. The dictionary update is wrong. It should not have `{{` and `}}`. It was fixed recently in a PR. Sorry about that.

[2021-08-17 14:29] NielsRogge commented on #13151
Yes I've mentioned that above, but now he's got another error.

[2021-08-17 15:01] #12430 closed

[2021-08-17 15:12] abhijithneilabraham commented on #13151
@gchhablani I would like to help with the issue if I can. Let me know.

[2021-08-17 15:14] gchhablani commented on #13151
@abhijithneilabraham The issue has already been fixed and was a Python problem. Nothing related to the model.

[2021-08-17 15:18] gchhablani commented on #13151
@abhijithneilabraham Can you share your `get_visual_embeddings` method if possible?

[2021-08-17 15:20] abhijithneilabraham commented on #13151
@gchhablani I used it from the [colab notebook](https://colab.research.google.com/drive/1bLGxKdldwqnMVA5x4neY7-l_8fKGWQYI?usp=sharing) that you shared in the doc. I still was unclear on the proper way of using it.

[2021-08-17 15:23] abhijithneilabraham commented on #13151
Also @gchhablani  this was the issue encountered after modifying the example code like the way you mentioned.

[code]

Could this be because of the improper way of using the visual embeds? If yes I'd like to understand a proper approach to generating the visual embeds with a function

[2021-08-17 15:25] abhijithneilabraham commented on #13151
@gchhablani  This is my source code

[code]

[2021-08-17 15:29] gchhablani commented on #13151
@abhijithneilabraham  The issue is that you are using a numpy array when `visual_embeds` expects a torch tensor:

[code]

[2021-08-17 16:06] bpraveenk commented on #13123
@LysandreJik  any luck reproducing the error?

[2021-08-17 16:59] qqaatw commented on #13149
As far as I know, in generation phase, the autoregressive decoding procedures are all implemented in each searching method such as greedy search, meaning that the output embeddings will certainly be sampled by `argmax` or other sampling methods. Besides, the autoregressive decodings are all running in loop statement currently.

I think that implementing a method that solely performs autoregression

[2021-08-17 17:06] abhijithneilabraham commented on #13151
Much thanks @gchhablani ! Can you share the link to the other demo? I can then close this issue.

[2021-08-17 17:29] gchhablani commented on #13151
@abhijithneilabraham No problem :)

Here is the demo link : https://github.com/huggingface/transformers/tree/master/examples/research_projects/visual_bert

[2021-08-17 17:30] abhijithneilabraham commented on #13151
Thank you!

[2021-08-17 17:30] #13151 closed

[2021-08-17 18:48] AES0007 opened #13154 "AttributeError: 'AlbertModel' object has no attribute 'bias' -Transforms 4.9.2"
## Environment info

- `transformers` version: 4.9.2
- Platform: Lunix
- Python version: 3
- PyTorch version (GPU?): 1.9.0
- Tensorflow version (GPU?): 2.6.0
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

@LysandreJik

- albert , bert, xlm: @LysandreJik

## Information

I am using (AlBert Pretrained on custom corpus):

The problem arises when us

[2021-08-17 19:17] zhaochaocs commented on #9731
Seems this issue was automatically closed by the Github bot. Maybe @patil-suraj or @patrickvonplaten can help us re-check if the embedding of `<mask>` token in BART should be fixed.

[2021-08-17 19:19] laurahanu commented on #12904
@sgugger I'm also getting the same error with the latest transformers version (4.9.2) when I'm trying to use torch.hub to load a model that has `transformers` as a dependency. It seems that torch.hub tries to check if dependencies exist by verifying that  `transformers.__spec__` is not None (source code [here](https://github.com/pytorch/pytorch/blob/b0396e39f41da9f61c61ed8758b5e9505a370ebc/torch/h

[2021-08-17 23:34] codedecde commented on #13038
Hi @SaulLu.
Thank you for responding, and really sorry for the late response.
My use-case is a little niche. I am training byte level encoder models. In order to do the masking, I am using a BPE tokenizer with dropout, and remapping it back to the byte level.
Eg:
[code]
In the above example, the mask inclosed between ** ** and its associated label are impacted by the problem mentioned.
Since it is

[2021-08-18 02:00] HydraQYH commented on #12989
　I have a same problem. I run the Bert-Large pretrain with 4 nodes(32 GPUs). When I was debugging, I found that there seemed to be a problem with the training of the last batch. It seems that some Cuda streams are not synchronized, which seems to be related to the pre-compiled deepspeed transformer kernel. I installed deepspeed with DS_BUILD_OPS=1.

[2021-08-18 03:49] PanQiWei opened #13157 "export BART model to ONNX failed with [Segmentation fault (core dumped)]"
## Environment info

- `transformers` version:`v4.10.0-dev0`
- Platform:Ubuntu 18.04.3 LTS
- `Python` version:`v3.8.11`
- `PyTorch` version (GPU?):`v1.9.0-cu102`(TRUE)
- `Tensorflow` version (GPU?):`None`
- `onnx` version:`v1.10.1`
- `onnxruntim` version:`v1.8.1`
- Using GPU in script?:`False`
- Using distributed or parallel set-up in script?:`False`

### Who can help
@patrickvonplaten @patil-sura

[2021-08-18 04:34] qqaatw commented on #13154
Since your tf checkpoint has a prediction head which isn't included in `AlbertModel`, and using `AlbertForPreTraining` can solve the problem But `AlbertForPreTraining` currently has a small alias bug, I'll open a PR for the fix.

[2021-08-18 04:42] AnugunjNaman opened #13158 "CvT: Convolution based Image Transformers"
# 🌟 New model addition

## Model description

A new architecture, named Convolutional vision Transformers (CvT), that improves Vision Transformers (ViT) in performance and efficiently by introducing convolutions into ViT to yield the best of both designes. This is accomplished through two primary modifications: a hierarchy of Transformers containing a new convolutional token embedding, and a convo

[2021-08-18 04:44] AnugunjNaman commented on #13158
I would like to work on this @LysandreJik if you feel it's a nice addition.

[2021-08-18 05:18] Apoorvgarg-creator commented on #13148
@NielsRogge  I would like to contribute to this. Can I work on this issue?

[2021-08-18 06:26] jvamvas opened #13160 "Advice needed: Adding more FSMT models"
# 🌟 New model addition

## Model description

I am planning to contribute a series of FSMT models to the model hub. The models have been trained for a paper that is currently under review.

Before working on a PR I wanted to ask for some advice:

### normalize_before
The new models have been trained with Fairseq's option `normalize_before=True`, while the existing FSMT implementation uses `normali

[2021-08-18 07:41] jungminc88 opened #13161 "Cannot run run_mlm.py on a Japanese dataset - AttributeError: module transformers.models.mbart50 has no attribute BertJapaneseTokenizerFast"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-4.18.0-25-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distribut

[2021-08-18 07:44] NielsRogge commented on #13158
Great suggestion! How is this model different from Facebook AI's [ConViT](https://github.com/facebookresearch/convit)?

Currently, we have [ViT](https://huggingface.co/transformers/model_doc/vit.html), [DeiT](https://huggingface.co/transformers/model_doc/deit.html) and [BEiT](https://huggingface.co/transformers/master/model_doc/beit.html) in the library. It would be cool to have a Vision Transform

[2021-08-18 07:47] Nithin-Holla opened #13162 "Fine-tuned Robust Wav2Vec 2.0 models"
# 🌟 New model addition

## Model description
The pretrained Robust Wav2Vec 2.0 model is already available on the Hugging Face model hub (https://huggingface.co/facebook/wav2vec2-large-robust). Facebook also released two fine-tuned models -- one which is fine-tuned on Librispeech and another which is fine-tuned on Switchboard. Would be good to have these fine-tuned models on the hub as well.

## Op

[2021-08-18 07:48] NielsRogge commented on #13148
Sure! The goal would be to make the slow tokenizers equivalent to the fast tokenizers. So that means:

- [ ] making sure overflowing tokens are returned in the correct order
- [ ] add special tokens to the overflowing tokens
- [ ] add a `overflow_to_sample_mapping`, similar to the fast tokenizers.

This would probably require to update the `truncate_sequences` method defined [here](https://github.

[2021-08-18 07:57] NielsRogge commented on #13148
I see someone also already noticed this: #6697

[2021-08-18 08:12] AnugunjNaman commented on #13158
@NielsRogge  yeah sure. Any help is great help. I haven't read ConvViT in depth but on skimming through it they have attempted to do something similar to convolutions. While CvT use pure convolution and here in this architecture they eliminate need for positional embedding, simplifying design for vision tasks with variable input resolution. Position Embedding is often realized by fixed-length lear

[2021-08-18 08:14] Flash-321 opened #13163 "is there any <SOS> or <EOS> token in reformer-enwik8?"
## Environment info
None

### Who can help
@patrickvonplaten

Models:
reformer-enwik8

## Information

Model I am using reformer-enwik8:

The problem arises when using:
'''
def encode(list_of_strings, pad_token_id=0):
    max_length = max([len(string) for string in list_of_strings])

    # create emtpy tensors
    attention_masks = torch.zeros((len(list_of_strings), max_length), dtype=torch.long)

[2021-08-18 08:24] SaulLu commented on #13148
@Apoorvgarg-creator It is extremely kind of you to offer your help on this problem!

As I had started to look at the problem of the strange order of tokens in `overflowing_tokens` ("making sure overflowing tokens are returned in the correct order"), let me share with you what I had identified if it can be of any help:
- There are behaviours that were not tested in the `test_maximum_encoding_length

[2021-08-18 08:26] NielsRogge commented on #13158
Yeah ineed, models like ViT and BEiT require interpolation of the pre-trained position embeddings when fine-tuning, which is a pain.

Do you know how to get started to add a model? Most info can be found [here](https://huggingface.co/transformers/contributing.html) and [here](https://github.com/huggingface/transformers/tree/master/templates/adding_a_new_model).

[2021-08-18 08:45] Apoorvgarg-creator commented on #13148
@SaulLu @NielsRogge Thank you for the guidance. I will go through the `truncate_sequences` method.

[2021-08-18 08:49] AnugunjNaman commented on #13158
@NielsRogge yeah. I have gone through it. I can try following similarly as given ViT, BEiT. I can start it now. If I get stuck I will get back to you.

[2021-08-18 09:29] NielsRogge commented on #13161
Hi,

I think that you need to run the whole word masking script which can be found [here](https://github.com/huggingface/transformers/tree/master/examples/research_projects/mlm_wwm) instead of the regular `run_mlm.py` script (as you're doing whole word masking instead of just masking tokens).

[2021-08-18 09:34] Linyxus opened #13164 "Missing weight in pretrained model `pegasus-xsum`"
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux
- Python version: 3.9.6
- PyTorch version (GPU?): 1.9.0 with GPU
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@patrickvonplaten

## Information

I am using the PegasusForConditionalGeneration model. I found that the pretrained weight `google/pe

[2021-08-18 09:41] NielsRogge commented on #13164
I just tested this. Colab notebook here: https://colab.research.google.com/drive/1oCrC3Tb07C7V1l-0Fx6_c8xdEbyqx9Km?usp=sharing

It works fine for me, `lm_head` is included.

[2021-08-18 10:07] patrickvonplaten commented on #13162
Adding them now :-)

BTW @Nithin-Holla,

It could be a cool project to fine-tune the `wav2vec2-large-robust` checkpoint on the [AMI dataset](https://groups.inf.ed.ac.uk/ami/corpus/datasets.shtml) since the model was not pretrained on AMI and AMI is a conversational dataset instead of a read-out corpus. Would be pretty interesting to see what performance can be achieved there (also compared to "non

[2021-08-18 10:43] Nithin-Holla commented on #13162
@patrickvonplaten Awesome, thanks for the speedy addition!

Sure, I'd be interested in working on fine-tuning on the AMI dataset :)

[2021-08-18 11:27] patrickvonplaten commented on #13162
Awesome, I'll send you a mail :-)

BTW, there is still a problem with the just published checkpoints: https://github.com/pytorch/fairseq/issues/3799

[2021-08-18 11:41] sumanthd17 commented on #12104
Hi @patrickvonplaten any thing you wanted to check. Sorry for the late response, was a bit tied up

[2021-08-18 12:20] stekiri commented on #12322
The issue still seems to be unresolved. Maybe the generation is not supposed to be supported on TPUs? In that case, a short note in the documentation could be helpful 😄

[2021-08-18 13:00] AES0007 commented on #13154
Many Thanks. I saw you recommended that I use **AlbertForPreTraining**, and then you said **AlbertForPreTraining**  has a bug. So I should I wait on the fix before proceeding correct?

[2021-08-18 13:08] DLPerf opened #13165 "Performance issues in the program"
Hello,I found a performance issue in the definition of `convert_dataset_for_tensorflow` ,
examples/tensorflow/text-classification/run_glue.py,
[tf_dataset = tf_dataset.batch(batch_size=batch_size, drop_remainder=drop_remainder).map](https://github.com/huggingface/transformers/blob/439a43b6b403205eeda2d62645fc16c93627d30d/examples/tensorflow/text-classification/run_glue.py#L83) was called without *

[2021-08-18 13:20] qqaatw commented on #13154
That's right. If you switch to `AlbertForPreTraining` now, you may encounter another error as the alias was not set at the right place.

[2021-08-18 13:24] AES0007 commented on #13154
Sounds good, I will wait. Thanks again.

[2021-08-18 13:35] jungminc88 commented on #13161
It worked! Thank you so much!

[2021-08-18 13:37] Rocketknight1 commented on #13165
Hi @DLPerf, thanks for the warning! We're actually in the process of refactoring our Datasets to automatically support conversion to TF Datasets, at which point I'll be removing this part of our examples and replacing it with a call to the conversion method.

However, if you have any insights for how we can improve the performance of our conversion methods there, that would be very helpful! You ca

[2021-08-18 13:39] n1t0 commented on #11532
@leezu Can you try again now?

[2021-08-18 14:11] patrickvonplaten commented on #13146
Hey @jnishi,

Thanks a lot for your issue!
Could you please try to make a minimum reproducible code example that doesn't force us to manually create a `img_folder` or `annotations` folder? Ideally, you could link to a colab that runs in less than a minute to reproduce the error.

Also cc'ing @NielsRogge here for DETR

[2021-08-18 14:12] patrickvonplaten commented on #13144
Closing since the issue doesn't seem to have much information. @mahmoudcupo did you mean to submit a benchmark?

[2021-08-18 14:12] #13144 closed

[2021-08-18 14:14] patrickvonplaten commented on #13137
I think XLMProphetNet and ProphetNet training is currently broken, see: https://github.com/huggingface/transformers/issues/9804

[2021-08-18 14:14] patrickvonplaten commented on #13137
There might be a PR to fix it though https://github.com/huggingface/transformers/pull/13132

[2021-08-18 14:17] patrickvonplaten commented on #13163
I think `reformer-enwik8` was not trained using a <SOS> or <EOS> token - it's just the model to evaluate Reformer's compression capabilities on enwik8, see paper: https://arxiv.org/abs/2001.04451

[2021-08-18 14:17] Linyxus commented on #13164
A lot of thanks for your reply! :^)

I just figured out that the `lm_head.weight` actually maps the internal embeddings back to word predictions, whose weights will be tied to the input word embeddings! So the lm_head's weight will definitely not be included in the pretrained weight file. I did not realize this due to my lack of knowledge about NLP models :^(. Thanks again for your time!

[2021-08-18 14:17] #13164 closed

[2021-08-18 15:06] #12629 closed

[2021-08-18 15:06] #12626 closed

[2021-08-18 15:06] #12618 closed

[2021-08-18 15:06] #12418 closed

[2021-08-18 15:11] patrickvonplaten commented on #12482
Hmm, that's interesting! Also pinging the original author @ibeltagy here.
I don't see any weird functionality that's used in Longformer maybe except `torch.Tensor.stride(...)` that is in Longformer but not in other models like RoBERTa. Sadly I won't have the time to dive deep into this reproducible problem, but a good start to find the bug would be to verify that the same random model weights are

[2021-08-18 15:16] patrickvonplaten commented on #11344
Ok so the plan is to:

1. Add a `resize_position_embeddings` to `PreTrainedModel` just like we are doing it for the word embeddings
2. `resize_position_embeddings` should probably log or warn depending on whether it's sinus position embeddings or learned ones
3. The function should overwrite `config.max_position_embeddings`

=> Happy to open a PR for this one, but would be great to first hear @Lys

[2021-08-18 15:17] patrickvonplaten commented on #12867
@patil-suraj - could you take a look here for MBart "many-to-many"?

[2021-08-18 15:28] patrickvonplaten commented on #12787
Hey @DapangLiu,

I'm very sorry to reply so late here! When doing generation with `RegSequenceForGeneration`, the `past_key_values` are automatically used to speed up generation - so you don't have to do anything ;-)

RAG uses Bart as the decoder and RAG as well as Bart have set `use_cache=True` by default. This then means that `past_key_values` are automatically returned after the first forward p

[2021-08-18 15:33] patrickvonplaten commented on #12210
Putting this is the "Improve generation task basket" so that this is handled once the generation docs are improved as well

[2021-08-18 15:34] patrickvonplaten commented on #12212
Also putting this in the "Fix generation docs" task basket

[2021-08-18 15:34] philschmid opened #13168 "Issue with `Speech2TextFeatureExtractor` method `from_pretrained` and `from_dict`"
## Environment info

- `transformers` version: `master`
- Platform: ubuntu
- Python version: Python 3.7.11 (default, Jul  3 2021, 18:01:19)
- PyTorch version (GPU?): 1.9.0+cu102
- Tensorflow version (GPU?): -
- Using GPU in script?: -
- Using distributed or parallel set-up in script?: -

There is an issue when trying to load the `Speech2TextFeatureExtractor` from a local path.

**How to reproduce*

[2021-08-18 15:43] patrickvonplaten commented on #13009
I've run your code snippet in the following environment:

[code]

and to me it looks like this is a problem coming from Tensorflow directly. I.E. the error output is:

[code]

Also gently pinging @will-rice here in case he has seen something like this before :-)

[2021-08-18 15:46] patrickvonplaten commented on #13168
@philschmid, I think you are missing some dependencies which is why `Speech2TextFeatureExtractor` refers to the dummy object, defined here: https://github.com/huggingface/transformers/blob/1fec32adc6a4840123d5ec5ff5cf419c02342b5a/src/transformers/utils/dummy_speech_objects.py#L5

which doesn't have a `from_pretrained(...)` method.

Can you try install `transformers` with `pip install -e ".[speech]

[2021-08-18 15:47] patrickvonplaten commented on #13168
Some `torchaudio` dependency is missing I think: https://github.com/huggingface/transformers/blob/1fec32adc6a4840123d5ec5ff5cf419c02342b5a/src/transformers/models/speech_to_text/feature_extraction_speech_to_text.py#L23

[2021-08-18 15:48] patrickvonplaten commented on #13168
@LysandreJik @sgugger - I think those kinds of errors have shown up for often already...would it make sense to add a `.from_pretrained(....)` method to all dummy objects that give a better error message?

[2021-08-18 15:49] DapangLiu commented on #12787
Hi @patrickvonplaten,

Thanks a lot for your response! The reason why I asked this is because I want to add some noise to the `past_key_values`.

As I mentioned before, I found there were two parts that have different dimensions in the `past_key_values` --- my guess is  one is for the cross-attention from the encoder and the other is for the decoder-only key value paris --- but I'm not sure whethe

[2021-08-18 15:50] patrickvonplaten commented on #13168
Maybe just add nice error messages to `.from_pretrained(....)` and `.__init__(...)` ?

[2021-08-18 15:51] demongolem-biz opened #13169 "RobertaTokenizerFast object has no attribute '_convert_token_to_id'"
## Environment info

- `transformers` version: 4.9
- Platform: Linux
- Python version: 3.6
- Tensorflow version (GPU?): 2.5
- Using GPU in script?: No

### Who can help

The example given by the maintainers of LM-BFF supposedly runs successfully, at least with what they claim is version 3.4 or higher of transformers.  However, upon my inspection of source code of transformers, I see that _convert_

[2021-08-18 15:52] leezu commented on #11532
Thank you @n1t0. I verified `AutoTokenizer.from_pretrained` and `AutoModel.from_pretrained` from an IPv6-only instance (no IPv4 route to internet) works now. Thank you for enabling dual-stack support on your end!

[2021-08-18 15:52] #11532 closed

[2021-08-18 15:56] patrickvonplaten commented on #12613
First time I see an error message from PyTorch that says "Good luck!" haha. This will be complex then I guess

[2021-08-18 15:58] patrickvonplaten commented on #13029
Cool! @dorooddorood606 would you like to give it a try to make a `run_qa_seq2seq.py` example for SUPERGLUE? Happy to guide you through it :-)

[2021-08-18 16:01] will-rice commented on #13009
This is/was a TensorFlow limitation, but according to [this](https://github.com/tensorflow/tensorflow/issues/29005) `2.6` may have solved it. First I would try upgrading to `2.6` or the latest nightly. Another option could be the [workaround](https://github.com/tensorflow/tensorflow/issues/40044) for this problem in TFLite. I will say the workaround is slower though.

[2021-08-18 16:08] patrickvonplaten commented on #13060
Also pinging @mfuntowicz here as the expert for everything onnx related. It might be the case that the `lm_head.weight` are not correctly ported to ONNX here.

Could you try to do the following after training

After line:
[code]
add those two lines

[code]
and try if this works. Not at all sure, but this should at least remove the warning

[2021-08-18 16:11] jstremme commented on #5778
@anthonyfuller7, perhaps you could reopen this?  I'm in a similar position to @JellePiepenbrock where having to use `torch==1.4.0` is a suboptimal workaround.

[2021-08-18 16:26] patrickvonplaten commented on #12613
Okey, but I still don't have a code example that let's me reproduce this error I'm afraid :D

The official colab here: https://colab.research.google.com/drive/12LjJazBl7Gam0XBPy_y0CTOJZeZ34c2v?usp=sharing seems to work just fine

[2021-08-18 16:34] patrickvonplaten commented on #11647
@patil-suraj - It would be really nice if we could tackle the tatoeba models at some point...

This seems to be related: https://github.com/huggingface/transformers/pull/12192
https://github.com/huggingface/transformers/issues/10943

[2021-08-18 16:41] patrickvonplaten commented on #13108
Hey @rp13g10,

We are not really familiar with the `sparkNLP` repo...from the issue I assume that the following is the error from our side:

[code]

E.g. the tokenizers should return some supported language codes

@patil-suraj have you already taken a look at multi-lingual marian models?

Also gently pinging the Marian OG @sshleifer - should we update https://huggingface.co/Helsinki-NLP/opus-mt-mu

[2021-08-18 16:43] patrickvonplaten commented on #12750
Hey @MarcM0,

Could you please use the [forum](https://discuss.huggingface.co/) for such questions. I think for hyperparameter tuning questions that are not clear bugs the forum is the place to post questions :-)

[2021-08-18 16:44] patrickvonplaten commented on #12571
Is this still a problem here?

[2021-08-18 16:49] patrickvonplaten commented on #12727
Hey @sli0111,

I'm very sorry, but I won't find time in the near future to debug this :-/ Gently pinging @Rocketknight1 in case you have some bandwidth to check out longformer training in TF

[2021-08-18 16:52] ManuelFay commented on #12571
Both linked issues were never fixed so I would say so

On Wed, Aug 18, 2021, 6:44 PM Patrick von Platen ***@***.***>
wrote:

[2021-08-18 16:53] patrickvonplaten commented on #12787
Exactly one are the saved `cross-attention` projections and the second ones are the decoder past key and value projections of all previous steps. You should see that during generation only the tensors of one of the two parts change -> those are the decoder-only past key value pairs :-)

[2021-08-18 16:54] patrickvonplaten commented on #12730
Hey @ehcalabres,

I'm only seeing your issue now sadly :-/ Super sorry to not have answered sooner. @anton-l is working on an official `Wav2Vec2-` and `HubertForSequenceClassification` at the moment, here: https://github.com/huggingface/transformers/pull/13153 which should serve your needs then :-)

It would be great if you could take a look at https://github.com/huggingface/transformers/pull/1315

[2021-08-18 16:55] DapangLiu commented on #12787
Thank you! Very helpful!

[2021-08-18 16:55] #12787 closed

[2021-08-18 16:55] patrickvonplaten commented on #13126
Uff trying to `torch.jit(...)` our most complex model BigBird won't be easy I think :-/ Sadly I won't find time to dig deeper into this as it will require a lot of work :-/ Could you maybe try to go wiht `Longformer` for now?

[2021-08-18 16:58] sli0111 commented on #12727
Thanks.  I was able to get the training to start with global attention when the number of observations was a multiple of the batch size.

[2021-08-18 16:59] patrickvonplaten commented on #9731
Leaving it to @patil-suraj as he has already looked at the PR, but I'm not so sure whether we have the wrong <mask> token simple because this example works quite well:

[code]

[2021-08-18 16:59] patrickvonplaten commented on #9731
Taken from: https://huggingface.co/transformers/model_doc/bart.html#mask-filling

[2021-08-18 17:02] patrickvonplaten commented on #12771
Think we might have solved this by limiting the list size of TPU tensors to `eval_steps`...but @patil-suraj will take a deeper look into large model pretraining in JAX in the following weeks so stay tuned for more notebooks on this :-)

[2021-08-18 17:05] patrickvonplaten commented on #12571
A simple workaround would be to just do:

[code]

and loading it from there without internet, but I guess it would indeed be more userfriendly to allow this automatically once the tokenizer has been downloaded once

[2021-08-18 17:12] patrickvonplaten commented on #12322
@stekiri - I think we indeed don't support PyTorch-XLA generation yet and yes a comment in the docs would be good! Would you be interested in making such a PR? I've put "enabling TPU generation for PyTorch-XLA" on my TODO list now so hope to tackle this sometime in 3-4 weeks

[2021-08-18 17:13] patrickvonplaten commented on #12104
@patil-suraj - seems like multiple people have problems with mBART50...should we maybe leave a note in the official docs about it?

[2021-08-18 17:21] zhaochaocs commented on #9731
I think that's why this potential bug is overlooked.

The example is a good demo but not a reliable test case for this issue. If you replace the `<mask>` token of `example_english_phrase` as a random token (say `refin`), the generator will return the same sentence as using the `<mask>` token. In my machine it returns `UN Chief Says There Is No Plan to Stop Chemical Weapons in Syria`

[2021-08-18 17:27] #12750 closed

[2021-08-18 17:28] MarcM0 commented on #12750
Ya I figured it out, thank you

[2021-08-18 17:42] ManuelFay commented on #12571
I digged a bit more into it in the linked issue #12536 (now stale) and the problem was that non existent files (such as the added tokens json in some of the tokenizers) caused a "breaking" exception offline but a simple warning online, or when the local files only flag was set to true. As you said, the workaround is super simple (even just setting local files only to true fixes it ) but it's just

[2021-08-18 17:43] ManuelFay commented on #12571
In the other issue, I proposed a simple (very naive fix) as a PR that circumvented this behavior but I suspect it might break things elsewhere (and would require changing a pipeline  test)

[2021-08-18 18:35] Apoorvgarg-creator commented on #13148
@SaulLu @NielsRogge This reverse order issue is occurring only for the `longest_first` truncation strategy.

[2021-08-18 18:39] JamesDeAntonis opened #13170 "Using `bf16` instead of `fp16`"
# 🚀 Feature request

As seen in [this pr](https://github.com/huggingface/transformers/pull/10956), there is demand for `bf16` compatibility in training of transformers models.  The pytorch folks just [added this feature](https://github.com/pytorch/pytorch/pull/61002) to their master branch, so we are now able to work on adding it to this repo.

## Motivation

Related to [this issue](https://github

[2021-08-18 18:45] Apoorvgarg-creator commented on #13148
@NielsRogge @SaulLu The reason we are getting the reverse order in the `longest_first`truncation strategy because in other truncation strategy we are truncating the sequence in one iteration only whereas In `longest_first` we are running a loop
`num_tokens_to_remove` times keeping `window_len` = 1 everytime except when `overflowing_token` is empty. Hence we will be taking `1 id` at a time from the

[2021-08-18 19:15] qqaatw opened #13171 "[Docs] Function signatures on website not correctly reflecting current code."
## Environment info

Tested v4.9.2 and master.

### Who can help

@sgugger

## Information

In [Trainer docs](https://huggingface.co/transformers/main_classes/trainer.html#transformers.Trainer), the first argument `model` in the function signature should be

`model: Union[transformers.modeling_utils.PreTrainedModel, torch.nn.modules.module.Module] = None` as defined in the [code](https://github.co

[2021-08-18 19:32] ahmedlone127 commented on #13009
@patrickvonplaten  How do I install the transformers 4.10.0 version?

[2021-08-18 19:53] akalieren opened #13172 "No module named: Regex while importing GPT2Tokenizer"
## Environment info

- `transformers` version: 4.9.0
- Platform: Linux
- Python version: 3.6.13
- PyTorch version (GPU?):  1.9.0
- Tensorflow version (GPU?):  2.6.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert, XLNet ...): GPT2 Tokenizer

The problem arises when using:
* [ X] the official example scripts:

[2021-08-18 20:42] harishneit opened #13173 "enable mixed precision for Tensorflow training benchmarks"
# 🚀 Feature request

Currently [Tensorflow Benchmarks](https://github.com/huggingface/transformers/blob/master/src/transformers/benchmark/benchmark_tf.py) implemented in transformers package only supports training in FP32 mode and FP16 support is [unimplemented](https://github.com/huggingface/transformers/blob/master/src/transformers/benchmark/benchmark_tf.py#L173). It could be helpful for the com

[2021-08-18 21:09] Giahuynh1402 opened #13174 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2021-08-18 21:13] whiteRa2bit opened #13175 "GPT-Neo ONNX Inference with past is broken"
## Environment info

- `transformers` version: 4.10.0.dev0 (1fec32adc6a4840123d5ec5ff5cf419c02342b5a)
- Platform: Linux
- Python version: 3.8.8
- PyTorch version (GPU?): 1.9.0a0+2ecb2c7, True
- Tensorflow version (GPU?): Not Installed, False
- Using GPU in script?: Yes (3090)
- Using distributed or parallel set-up in script?: No

### Who can help
The issue is connected with a pull #12911:
@michael

[2021-08-18 21:44] vdantu opened #13176 "GPT2 error when we try to run torch.jit.script"
## Environment info

- `transformers` version: 4.9.2
- Platform: Ubuntu 18.04
- Python version: Python3.6
- PyTorch version (GPU?): 1.9.0 GPU
- Tensorflow version (GPU?): N/A
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten, @LysandreJik

## Information

Model I am using (Bert, XLNet ...): GPT2

The problem arises when using:
* [

[2021-08-18 22:40] mbforbes commented on #12995
After thinking about this a bit more, it seemed like a custom (batch) sampler was the most elegant way to accomplish this.

Since multiple choice models are already agnostic to the number of choices, we just need something to feed it batches where each batch has a consistent number of choices.

Here's an example implementation of a single-process batch sampler that accomplishes this. It simply gro

[2021-08-19 00:37] qqaatw commented on #13172
I can run the following code on Colab without any error:

[code]

Tested python version: 3.7.1, transformers version: v4.9.0 and v4.9.2.

[2021-08-19 02:09] cm107 commented on #1413
You can fix that error by temporarily disabling gradient calculation. (Because initializing the weights is not an operation that needs to be accounted for in backpropagation.)

[code]

[2021-08-19 03:10] jnishi commented on #13146
Here is the link to colab.
https://colab.research.google.com/drive/1qvasKfJGhxoNn-l_5GZwkvh4FhW59gBS?usp=sharing

Please upload sample.jpg and sample.json included below before you run colab.
[detr_samples.tar.gz](https://github.com/huggingface/transformers/files/7011436/detr_samples.tar.gz)

[2021-08-19 03:26] sayakpaul commented on #353
Here's what I am doing:

[code]

Now, if I do:

[code]

I still get:

[code]

[2021-08-19 05:24] Changyu-Guo opened #13177 "Bug of PyTorch group_beam_search function"
## Environment info

- `transformers` version: 4.9.1
- Platform: Ubuntu 18.04
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.1+cu111
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
- text generation: @patrickvonplaten

## Information
Code Location: `src/transformers/generation_utils.py --> lines 2411 - 2480 (in group_beam_search function)`

[2021-08-19 05:44] sekharvth commented on #13060
Hey @patrickvonplaten, thanks for getting back.

I tried running the pipeline with the additional lines of code you'd provided. It gave me a shape mismatch initially in the line where the `model.lm_head.weight` parameter is set, but I was able to get around that by removing the `.T` in the RHS.

Even after doing this, the `lm_head.weight not initialized` warning still appeared, but I decided to tr

[2021-08-19 05:44] AmbiTyga commented on #12789
Hi @sgugger,
I'd be happy to do this. So I need to change `assert` to 'Exception' type error for only one file?
(Not allowed to do this for every file?)

[2021-08-19 06:29] Flash-321 commented on #13163
Thanks a lot for the quick reply.
btw, is there any other pretrained character-level language model provide by huggingface now?

[2021-08-19 06:51] lbda1 opened #13178 "how to finetune based huggingface: run_glue.py"
python transformers-master/examples/pytorch/text-classification/run_glue.py \
  --model_name_or_path chinese_bert-base \
  --train_file=transformers-master/dataset/class/train.csv \
  --validation_file=transformers-master/dataset/class/dev.csv \
  --do_train \
  --do_eval \
  --max_seq_length 128 \
  --per_device_train_batch_size 32 \
  --learning_rate 2e-5 \
  --num_train_epochs 3 \
  --output_di

[2021-08-19 07:00] darwinharianto commented on #12728
Thanks! it works.

One more question, I can see this
[code]
under normalizers, when I tried to save a pretrained tokenizer.

My custom tokenizer doesn't have this attribute. Is this normal?

[2021-08-19 08:47] NielsRogge commented on #13178
Can you provide a Colab notebook to reproduce your issue?

[2021-08-19 09:17] patrickvonplaten commented on #13176
Can you try the following:

[code]

just to first see whether disabling the cache solves the problem

[2021-08-19 09:18] patrickvonplaten commented on #13009
It's current master :-) So `!pip install git+https://github.com/huggingface/transformers.git@master` should do

[2021-08-19 09:25] patrickvonplaten commented on #13177
Hey @Changyu-Guo,

Thanks a lot for the issue! I see what you mean & I think you're right!
We should probably move the

[code]

out of the inner loop no? To be sure that beam group indices 0 - (last - 1) are not always 0...would you like to open a PR to fix it? :-)

[2021-08-19 09:27] patrickvonplaten commented on #13060
Hmm ok :-/ Think we'll have to wait here until @mfuntowicz is back from vacation I'm afraid...he knows better how to debug onnx + tf

[2021-08-19 09:33] harveenchadha opened #13180 "Coversion of Wav2vec2 model to TFWav2vec2 model"
Hi,

I trained model using fairseq toolkit.

I have successfully converted the model from fairseq to huggingface .bin model.

How can I convert to pure pytorch (.pt) and tensorflow (.h5) format.

Are there any scripts for that?

[2021-08-19 09:42] lbda1 commented on #13178
what is the format of the classification data which used in run_glue.py?

[2021-08-19 09:49] NielsRogge commented on #13146
Thanks for the colab! It was indeed easy to reproduce the issue.

I've fixed it here: https://colab.research.google.com/drive/1oIHGwr1U0sw-6KW-MG60s-ksXA-kYyUO?usp=sharing

As you already spotted, the problem is in the `_prepare_inputs()` method of the Trainer, which does not take into account inputs which are lists. For DETR, the `labels` are a list of dictionaries, each dictionary containing the

[2021-08-19 09:53] patrickvonplaten commented on #9731
@patil-suraj I think we actually indeed use the wrong token for <mask> as can be verified by running the following code:

[code]

=> @zhaochaocs I'm afraid however that we can't do anything about it really...the original fairseq model weigths have a length of 51201 where as the HF model weights have only 50265 -> so we can't even access the "real" mask_token_id in HF. We could go into the official

[2021-08-19 09:56] NielsRogge commented on #13178
The [README](https://github.com/huggingface/transformers/tree/master/examples/pytorch/text-classification) mentions that "your own data in a csv or a JSON file (the script might need some tweaks in that case, refer to the comments inside for help)". Looking at the comments, it says:

    # Get the datasets: you can either provide your own CSV/JSON training and evaluation files (see below)
    # or

[2021-08-19 09:58] patrickvonplaten commented on #13175
Gently pinging @mfuntowicz here

[2021-08-19 09:58] patrickvonplaten commented on #13174
Closing this for now as it doesn't contain any information

[2021-08-19 09:58] #13174 closed

[2021-08-19 09:59] patrickvonplaten commented on #13171
Would you like to open a PR to correct it @qqaatw ? :-)

[2021-08-19 10:00] patrickvonplaten commented on #13170
Very much looking forward to enable bf16 in PyTorch :-) Think we should probably wait though until the next PyTorch release is out. But it would be a good idea to have it supported as soon as the release is out then. cc @LysandreJik @sgugger

[2021-08-19 10:02] patrickvonplaten commented on #13169
Hey @demongolem-biz,

Could you maybe post a short, reproducible code snippet that showcases the problem? Also note that `_convert_token_to_id` is a private method and that the corresponding public method `convert_token_to_id` is the one to be checked.

[2021-08-19 10:03] NielsRogge commented on #13180
Yes there'a script for that, you can find it [here](https://github.com/huggingface/transformers/blob/master/src/transformers/convert_pytorch_checkpoint_to_tf2.py).

[2021-08-19 10:03] patrickvonplaten commented on #13180
Hey @harveenchadha, to convert from PT to TF, you can just do:

[code]

[2021-08-19 10:04] patrickvonplaten commented on #13180
Also note that (`.pt`) and (`.bin`) is the same format in most cases as far as I understand: https://stackoverflow.com/questions/57245332/what-are-the-difference-between-bin-and-pt-pytorch-saved-model-types#:~:text=1%20Answer&text=There%20is%20no%20difference%20as,torch%20can%20read%20either%20.

[2021-08-19 10:26] akalieren commented on #13172
Thats true, it should work. Probably problem is environmental but the case that the line I added raise an error since it should be `re`.  e.g: [this one](https://github.com/huggingface/transformers/blob/1c06240e1b3477728129bb58e7b6c7734bb5074e/examples/research_projects/seq2seq-distillation/sentence_splitter.py#L1)

[2021-08-19 10:26] #13172 closed

[2021-08-19 10:46] qqaatw commented on #13172
@akalieren The `regex` package should not be the problem as it is automatically installed with transformers. The reason why it used `regex` instead of `re` can be found at the following comment in that file.

https://github.com/huggingface/transformers/blob/1fec32adc6a4840123d5ec5ff5cf419c02342b5a/src/transformers/models/bertweet/tokenization_bertweet.py#L461

However, I think using `GPT2Tokenizer

[2021-08-19 10:59] akalieren commented on #13172
I deleted environment and created again. It is working now as it is expected. I jumped [this issue](https://github.com/conda-forge/conda-forge.github.io/issues/1161) from the link you sent. I guess the problem is about conda environment.

Probably it is called from [`__init__.py`](https://github.com/huggingface/transformers/blob/1fec32adc6a4840123d5ec5ff5cf419c02342b5a/src/transformers/models/__in

[2021-08-19 11:03] twadada commented on #9731
@patrickvonplaten

I don't think it is a good idea to leave the bug unfixed just because many people have already used it. Rather, I believe it should be the reason for the bug to be fixed asap.

I think it can be a critical bug because nowadays more people are using cloze tests
to probe the linguistic knowledge stored in LM models. Some people also use MLM models for lexical substitution. It can

[2021-08-19 11:28] demongolem-biz commented on #13169
The code is not mine, I am trying to use someone else's but here is the __init__ function from the beginning to the point when _convert_token_to_id is used.  I know tokenizer is being passed in, but runtime the error message claims the tokenizer object is a RobertaTokenizerFast.

`   def __init__(self, args, tokenizer, cache_dir=None, mode="train", use_demo=False):
        self.args = args

[2021-08-19 11:36] willfrey commented on #12789
Just adding my two cents but I wouldn’t raise bare `Exception`s but instead raise the appropriate type of exception given the error.

[2021-08-19 12:13] patrickvonplaten commented on #12771
This link might be useful as well: https://github.com/huggingface/transformers/issues/12505#issuecomment-873988017

Not sure if this solves the problem - but with @patil-suraj we're looking into making GPT2 more useable on TPU with Flax anyway at the moment. So we should have an answer in like 1,2 weeks

[2021-08-19 12:17] NielsRogge commented on #12231
There seems to be something odd with the tokenization of LUKE, it's also causing slow tests in the library. Going to investigate this.

Also cc'ing @ikuyamada who implemented `LukeTokenizer`.

[2021-08-19 12:20] zorikg opened #13182 "T5TokenizerFast not reversible when text contains special tokens"
## Environment info

- `transformers` version: 4.8.2
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.8
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

[2021-08-19 12:31] qqaatw commented on #13149
cc @patrickvonplaten

[2021-08-19 12:33] peregilk commented on #12771
Thanks, Patrick. Ill wait a couple of weeks and see that @patil-suraj finds out.

However, I am not sure if this is related to the OOM issues with GPT2. The current issue is really a duplicate of [https://github.com/huggingface/transformers/issues/12761](https://github.com/huggingface/transformers/issues/12761). Mem is OK both on VM and TPU. Script crashes because a failed check (n> sizes_size) in

[2021-08-19 13:02] sekharvth commented on #13060
Sure @patrickvonplaten thanks for the quick turnaround though.

[2021-08-19 13:47] qqaatw commented on #13171
@patrickvonplaten I could try, but the problem seems to be related to the CI/CD since function signatures are automatically generated by Sphinx, and the problem didn't occur on the docs I built manually on my machine. (Tested ubuntu 18.04 with python 3.6 / windows 10 with python 3.8)

[2021-08-19 15:01] ikuyamada commented on #12231
This may be related to the asynchronous execution on GPU. When adding `torch.cuda.synchronize(device)` after calling `model(**batch)`, the runtime was approximately consistent across batches on my local machine.

[code]

[2021-08-19 15:07] AmbiTyga commented on #12789
I have created PR #13184 for this issue. Kindly go through it.
Thanks

[2021-08-19 16:00] swapnil3597 opened #13187 "Unable to load model by ignoring size mismatch; TypeError: __init__() got an unexpected keyword argument 'ignore_mismatched_sizes'"
I want to save the pre-trained model at a local path and later again load it using `from_pretrained` method. I'm doing this as I want to use hugging face on server with no internet.

I used following script to save the model:
[code]

So I tried 2 approaches to load model from local path, but both aren't working.

### Approach 1:
Code Snippet 1:
[code]
Error 1:
[code]

----
### Approach 2:
Code Sni

[2021-08-19 16:02] swapnil3597 commented on #1340
There is one argument called `ignore_mismatched_sizes` in `from_pretrained` method. But even it is not working ISSUE: [#13187](https://github.com/huggingface/transformers/issues/13187)

[2021-08-19 16:55] philschmid commented on #13168
The suggestion from @patrickvonplaten solved it, should we close it for now?

[2021-08-19 17:22] sourabh112 commented on #13177
Hi @patrickvonplaten, Can I take on this issue( If it is not assigned to someone else )? It looks fairly simple to me.
But as I'm quite new to this so I might need some guidance.

[2021-08-19 17:33] anton-l commented on #13168
Just for posterity: @patrickvonplaten and I agreed that `Speech2Text` could be refactored to use `requires_backends("speech")` similarly to DETR and [TAPAS](https://github.com/huggingface/transformers/blob/ab7551cd7ff84cb5b7328bc37a06e06fa19f02bb/src/transformers/models/tapas/modeling_tapas.py#L803) to provide a user-friendly error on model loading.

[2021-08-19 17:46] qqaatw commented on #13187
HI, what version of transformers are you using? As `ignore_mismatched_sizes` option was newly added at v4.9.0, you should probably upgrade to v4.9.0+ in order to use it.

I tested the following snippet on Colab, it worked as expected. The transformers version I used is v4.9.0:
[code]

Output:

[code]

[2021-08-19 18:22] quantitative-technologies opened #13189 "Question about xla_spawn.py script and torch_xla.distributed.xla_multiprocessing"
I am able to fine-tune a large BERT model using your `examples/xla_spawn.py` script, by calling it from a colab notebook shell.

However, when I try essentially the same thing in a colab notebook, putting the code in a cell and calling

    torch_xla.distributed.xla_multiprocessing.spawn((_mp_fn, start_method="fork")

also in a colab cell, I get errors that the TPUs have run out of memory, when tr

[2021-08-19 18:42] alev61 opened #13190 "[Documentation] PLEASE HELP with very simple tasks!!!"
Hello hugginface team,.

First of all, I wanted to report a bug I am getting in Google Colab.

When I do:

from transformers import AutoTokenizer, AutoModel

[code]

I get:

[code]
===========================================================================

Secondly, I am reporting to you another very serious issue IMHO that needs to be addressed ASAP!!!

THERE ARE NO CLEAR AND SIMPLE EXAMPLES ON

[2021-08-19 19:48] alexdauenhauer commented on #12231
thanks for the suggestion @ikuyamada ! I'll give it a shot

[2021-08-20 00:15] ofirzaf commented on #9933
Might also be a solution, havn't looked into it. I think that the fix I suggested in the original post might resolve problems like this in other tokenizers aswell and not only in BertTokenizer.

I wonder if fixing this will be a welcomed contribution to the library or the wontfix tag is there for a reason?

@n1t0, @LysandreJik

[2021-08-20 01:27] zhiqiangdon opened #13191 "Why repeat initializing loss modules in every forward?"
Hello,

I find that your implementations usually initialize loss modules, e.g., nn.CrossEntropyLoss, inside models' forward functions. I am curious about the reason of doing this. Generally, in Pytorch, a module should be initialized in __init__ and used in forward. Does the frequent initialization cause overhead and memory issues?

Thanks,

[2021-08-20 01:55] hwijeen commented on #13076
Oh, I double-checked and confirmed that the weights in Megatron-LM checkpoint are all in fp16. It was the [conversion script](https://github.com/huggingface/transformers/blob/master/src/transformers/models/megatron_gpt2/convert_megatron_gpt2_checkpoint.py) that made the checkpoint have mixed data type. Specifically, [this line] produces `uint8` and this line `float32`. I'll open a new issue to add

[2021-08-20 02:06] ofirzaf opened #13192 "Incosistent behaviour between fast and slow RoBERTa tokenizers"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-4.15.0-122-generic-x86_64-with-debian-stretch-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.19
- JaxLib version: 0.1.70
- Using GPU in script?: no
- Using distributed or parallel set-up in

[2021-08-20 02:16] Changyu-Guo commented on #13177
@patrickvonplaten Sorry for the late reply, you are right. Move the
[code]
out of the inner `for loop` will solve this problem.

I think @sourabh112 can take on this issue, perhaps you should carefully read "[How to contribute to transformers?](https://huggingface.co/transformers/contributing.html)" first.

[2021-08-20 02:36] ikuyamada commented on #12231
@alexdauenhauer If I understand torch correctly, torch returns the result without completing the computation. When you use the result (e.g., `print(outputs)`), the *synchronization* happens and the result is computed. Therefore, the following code gives similar results to the code above.

[code]

[2021-08-20 02:37] hwijeen opened #13193 "Megatron conversion code converts some weights in fp16 to fp32(or uint8)."
## Environment info

transformers version: 4.9.2
Platform: Linux-4.18.0-25-generic-x86_64-with-glibc2.10
Python version: 3.8.5
PyTorch version (GPU?): 1.8.0a0+52ea372 (True)
Tensorflow version (GPU?): not installed (NA)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?:
Using distributed or parallel set-up in script?: No

[2021-08-20 03:54] sourabh112 commented on #13177
I have read the [contributing guidelines](https://github.com/huggingface/transformers/blob/91ff480e2693f36b11aaebc4e9cc79e4e3c049da/CONTRIBUTING.md) and made the changes. Should I make/run some test cases (Help with some examples would be appreciable) to make sure that now output scores are giving expected values or directly make a PR?

[2021-08-20 03:54] yananchen1989 commented on #12965
@sgugger  Hello, I try to reproduce this error. The texts above is the samples for finetuning for GPT2. It is the column of `text`.

[code]
`run_clm_no_trainer.py` is the official script from transformers repo.

When I use another dataset, which have longer sentences than this dataset, there is no error and the finetuning process is OK.

[2021-08-20 03:55] yananchen1989 commented on #12965
I also tried sentiment analysis dataset, which also consists of relatively short sentences. The error came out too.

[2021-08-20 04:00] hwijeen opened #13195 "'torch_dtype' keyword not working with 'AutoModel'"
## Environment info

transformers version: 4.9.2
Platform: Linux-4.18.0-25-generic-x86_64-with-glibc2.10
Python version: 3.8.5
PyTorch version (GPU?): 1.8.0a0+52ea372 (True)
Tensorflow version (GPU?): not installed (NA)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?:
Using distributed or parallel set-up in script?: No

[2021-08-20 04:14] yananchen1989 commented on #12965
I try another manner to organise the training corpus, as below:
[code]

The error disappears.
Do I miss something important ?

[2021-08-20 05:36] jnishi opened #13197 "Training DetrForObjectDetection failed in a multiple-GPU environment."
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux-5.4.0-80-generic-x86_64-with-glibc2.27
- Python version: 3.8.0
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <yes>
- Using distributed or paralle

[2021-08-20 05:36] jnishi commented on #13146
Thanks for a quick response, and suggestion of the fix. It works fine in my scripts too.
I would be more than happy to incorporate it directly.

BTW, I have another problem with a multi-GPU environment, so I created another issue.
https://github.com/huggingface/transformers/issues/13197

[2021-08-20 07:15] #13168 closed

[2021-08-20 07:41] wangdong1992 opened #13199 "How to use transformers for batch inference"
I use transformers to train text classification models，for a single text, it can be inferred normally. The code is as follows

from transformers import BertTokenizer, TFAlbertForSequenceClassification
text = 'This is a sentence'
model_path ='../albert_chinese_tiny'
tokenizer = BertTokenizer.from_pretrained(model_path)
model = TFAlbertForSequenceClassification.from_pretrained('../model_tf/20210818'

[2021-08-20 08:15] NielsRogge commented on #13197
Hi,

As explained in the [docs](https://huggingface.co/transformers/model_doc/detr.html):

[2021-08-20 08:51] patrickvonplaten commented on #13190
Hey Alex,

I'm sorry that you didn't manage to find what you were looking for in the docs.

1) Please not that "bert-like" models should not be used for sequence generation, but rather for sequence classification. The model "`allenai/scibert_scivocab_uncased`" is essentially a `bert-base-uncased` model you can checkout [here](https://huggingface.co/bert-base-uncased) where you can see some example

[2021-08-20 08:54] NielsRogge commented on #13199
Refer to the docs of TFAlbertForSequenceClassification:

[code]
You can just provide a list of strings to the tokenizer, and it will prepare them for the model.

[2021-08-20 08:55] patrickvonplaten commented on #13182
Heey @zorikg,

Is this a problem in your case? Some special tokens always strip away the space on the left so that we can assure the same expected behavior for the two use cases. *e.g.* when thinking about "<mask>" prediction, some users process the text in the form:

"The capital of <mask> is Paris" while others use "The capital of<mask> is Paris"

=> we want both cases to yield the correct <mask

[2021-08-20 08:57] patrickvonplaten commented on #13191
The module `nn.CrossEntropyLoss` does not contain any weights so here we don't allocate any memory really when initializing the module at every forward. However if we would do this with `nn.Linear(...)` at every forward step it should be considered bad practice IMO since in this case we would allocate a big tensor (the weights of the linear layer) at every forward step.

[2021-08-20 08:57] patrickvonplaten commented on #13192
Maybe @SaulLu do you have an idea here? :-)

[2021-08-20 09:02] patrickvonplaten commented on #9804
@alexvaca0,

I think the fix by @StevenTang1998 may have fixed the training bug of ProphetNet. It would be amazing if you could give it a try with current master :-)

[2021-08-20 09:05] ben-davidson-6 opened #13200 "Some tokenizers are not really picklable"
## Environment info

- `transformers` version: 4.9.2
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.3
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

###

[2021-08-20 09:55] wangdong1992 commented on #13199
I tried it. It's really OK. Thank you very much

[2021-08-20 09:55] #13199 closed

[2021-08-20 10:05] BeanSprouts opened #13201 "Train Bart model only use one cpu core, Any solutions to use more cores?"
## Environment info

- `transformers` version:
- Platform:  linux on arm
- Python version: 3.7
- PyTorch version (GPU?):CPU-1.9.0
- Tensorflow version (GPU?):None
- Using GPU in script?: No
- Using distributed or parallel set-up in script?:No

I am training a Bart Model(BartForConditionalGeneration)
The problem arises when using:
when I run my train script, only use one core of my cpu. I doesn't h

[2021-08-20 10:21] NielsRogge commented on #13201
You can perhaps use [HuggingFace Accelerate](https://github.com/huggingface/accelerate) for this, as it supports multi-CPU both on a single machine as well as multiple machines. From their README:

CPU only
multi-CPU on one node (machine)
multi-CPU on several nodes (machines)
single GPU
multi-GPU on one node (machine)
multi-GPU on several nodes (machines)
TPU
FP16 with native AMP (apex on the road

[2021-08-20 10:53] HongyuanLuke opened #13202 "-100 when calculating perplexity of a model.."
Hi there,

I see in : https://huggingface.co/transformers/perplexity.html
there is a code block saying:

[code]

I am wondering why we are setting the tokens to -100. Is it a hard-coded number?

[2021-08-20 11:44] NielsRogge commented on #13202
-100 is the `ignore_index` of PyTorch's `CrossEntropyLoss`, as explained in their [docs](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html). It means that labels that are set to -100 to not contribute to the loss.

[2021-08-20 12:41] jnishi commented on #13197
Hi, thank you for the quick reply.

I'd like to ask you two questions.
1. Do I need to insert `num_boxes / (the number of nodes)`  after the following line https://github.com/huggingface/transformers/blob/master/src/transformers/models/detr/modeling_detr.py#L2013 ?
For example, if I'm training on two GPUs, should I insert `num_boxes = num_boxes / 2` after the line?

2. The error occurs at https://

[2021-08-20 12:56] mosh98 opened #13203 "How do i get the CLS token from the model output?"
## Environment info

- `transformers` version: 4.8.2
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (False)- Tensorflow version (GPU?): 2.6.0 (False)- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parall

[2021-08-20 13:20] prikmm opened #13204 "[Optimization] AdaFactor not working on TPU but works on GPU."
## Environment info

- `transformers` version: 4.9.2 / 4.10.0.dev0
- Platform: Kaggle / Colab
- Python version: 3.7.10
- PyTorch version (GPU?):  1.9.0a0+git1a7c23c (Kaggle) / 1.9.0+cu102 (Colab)
- Tensorflow version (GPU?): 2.4.1
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: Yes, TPU

## Information

Model I am using (Bert, XLNet ...): T5

The tasks I am working on

[2021-08-20 13:27] NielsRogge commented on #13197
For now, the code has not been tested to work on multiple GPUs, so this is a good opportunity to make it work. We can perhaps write a guide on which things to take into account.

For example, if I'm training on two GPUs, should I insert num_boxes = num_boxes / 2 after the line?

The [original implementation](https://github.com/facebookresearch/detr/blob/a54b77800eb8e64e3ad0d8237789fcbf2f8350c5/mod

[2021-08-20 13:33] NielsRogge commented on #13203
You can get the final hidden state of the [CLS] token as follows:

`cls_token_final_hidden_state = output.last_hidden_state[:,0,:]`

This is because the last hidden states are of shape (batch_size, sequence_length, hidden_size), and the [CLS] token is the first element across the sequence (also called time) dimension.

[2021-08-20 14:04] sourabh112 commented on #13177
@patrickvonplaten Should I make a PR?

[2021-08-20 14:33] bennimmo commented on #12941
Yes, I have come across this as well. I have tracked it down to this line

https://github.com/huggingface/transformers/blob/143738214cb83e471f3a43652617c8881370342c/src/transformers/pipelines/__init__.py#L422

It's because the `use_auth_token` has not been set up early enough in the model_kwargs. The line referenced above needs to be moved above instantiate config section.

[2021-08-20 14:40] bennimmo commented on #12941
I've added a pull request to which I think will fix this issue.

[2021-08-20 14:40] mosh98 commented on #13203
Ah i see that makes sense.

Huge thanks again Niels!

[2021-08-20 14:40] #13203 closed

[2021-08-20 15:02] #12651 closed

[2021-08-20 15:02] #12637 closed

[2021-08-20 15:42] StellaAthena opened #13206 "CausalLM vs HeadModel"
@patrickvonplaten, @LysandreJik @sgugger

GPT-Neo implements the class `GPTNeoForCausalLM` and GPT-2 implements the class `GPT2LMHeadModel`. These look like they're supposed to do roughly the same thing. What is the reasoning behind having different names? Do they have any functional differences (other than using different models obviously)?

[2021-08-20 16:16] patrickvonplaten commented on #13206
They are exactly the same `LMHeadModel` was a badly chosen name in the beginning of the library - we are trying to have all causal language models called `...ForCausalLM` now

[2021-08-20 16:18] skye commented on #12761
This is on me, I haven't had a chance to debug this yet.

[2021-08-20 16:19] patrickvonplaten commented on #13204
Gently pinging @sgugger here

[2021-08-20 16:21] StellaAthena commented on #13206
I see. FYI, there are already downstream users who are basing their codebases on `LMHeadModel` such as [Google's BIG-Bench](https://github.com/EleutherAI/BIG-bench/edit/main/bigbench/models/huggingface_models.py). I worry that this disconnect will build significant technical debt if it is not resolved promptly.

[2021-08-20 16:32] zorikg commented on #13182
Hey @patrickvonplaten,

In your example both cases contain the same string "The capital of is Paris" (typo?) and I am not sure what  is the difference between them, could you clarify?

It seems that you don't only strip away white space form the left, you also add a white space to the right.

This is indeed a problem in my use case. I work under the assumption that sentence piece tokenizer should

[2021-08-20 16:36] patrickvonplaten commented on #12534
will soon be taken care of by @patil-suraj :-)

[2021-08-20 16:39] patrickvonplaten commented on #13149
Yeah currently gradient backprop is not really supported in `transformers` sadly. Think it would require some major changes to implemented this. Feel free to give it a stab! Would also be very interested in knowing how feasible this is in PyTorch!

[2021-08-20 16:46] zhiqiangdon commented on #13191
@patrickvonplaten , thanks for the answer. Pytorch has `functional.cross_entropy()`, which should be more suitable to use in forward. Although `nn.CrossEntropyLoss ` doesn't cause overhead, it doesn't follow Pytorch's convention that initialize a module in init and use it in forward.

[2021-08-20 19:43] drussellmrichie commented on #5475
Is there some way for us to, like, change the config file and make a pull request? I'm not 100% how to find the Adam Lin that added ClinicalBert_all_notes and ask him to change it himself...

[2021-08-20 20:04] stas00 commented on #13170
Indeed. I will install pt-nightly and work on this.

Thank you for staying on top of the pytorch development, @JamesDeAntonis

[2021-08-20 20:47] stas00 commented on #12989
@HydraQYH, please file an Issue with https://github.com/microsoft/DeepSpeed as this is not an HF integration issue. Thank you!

[2021-08-20 21:15] JamesDeAntonis commented on #13170
@stas00 I'm going to open a pr shortly for my [branch](https://github.com/JamesDeAntonis/transformers/tree/bf16).  Feel free to check that out for starter

[2021-08-20 22:19] vdantu commented on #13176
I still see the same error.
[code]

This seems like GPT model as it is implemented today is not supported by `torch.jit.script` because the model uses generator expr and Script doesn't support it yet. Is this accurate or am I missing anything? Also, would `torch.jit.trace`ing the GPT2 model cause any correctness issues?

[2021-08-20 23:41] stas00 commented on #13195
PretrainedModel.from_config, which is called by AutoModel.from_pretrained, checks for torch_dtype argument in only in kwargs and not in config.

But this is intentional.

My PR was originally designed to have the dtype figuring out to be fully automated, but that wasn't accepted, so the `config.dtype` is saved, but at the moment being ignored on purpose. i.e. the user has to actively set `torch_dt

[2021-08-20 23:46] stas00 commented on #13076
I asked the same question when working on the original feature and those who followed up, said they didn't think they saw such cases.

I can only think of a registered buffer which can be of whatever dtype and be different from the weights.

That's said perhaps down the road we should check that indeed all the weights have the same dtype, so we don't accidentally set a dtype that is not like the r

[2021-08-21 01:26] Artyrm opened #13208 "Loading of a model takes much RAM, passing to CUDA doesn’t free RAM"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.7.0+cu110 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
- benchmarks: @patrickvonplaten
- pipelines: @LysandreJik

## Information

Model I am using: EleutherAI/gpt-neo-

[2021-08-21 04:13] sourabh112 commented on #13192
Hi @patrickvonplaten @SaulLu, Can I help in resolving this issue?
But as I'm quite new to this so I will need some guidance in where should I start from.

[2021-08-21 15:02] #12670 closed

[2021-08-21 15:02] #12668 closed

[2021-08-21 15:02] #12666 closed

[2021-08-21 15:02] #12661 closed

[2021-08-21 15:02] #12659 closed

[2021-08-21 15:02] #12658 closed

[2021-08-21 15:14] devjwsong opened #13213 "Questions on generating using encoder-decoder models"
Hi, I want to conduct a Grammatical Error Correction task with BART, which takes corrupted sentences as inputs and make corrected answers as outputs.
The model I'm using is `BartForConditionalGeneration`.

I want to ask several things.

1. What is the difference between `decoder_input_ids` and `labels`? [The doc](https://huggingface.co/transformers/model_doc/bart.html#bartforconditionalgeneration)

[2021-08-21 15:29] aleSuglia commented on #12613
I'm getting this error as well using Longformer. This seems to be happening at the very end of my training. I'm assuming that it might be happening because there is a batch that has fewer number of examples than batch size. Maybe that could be something that should be tried? I'm currently investigating this issue on my end and I'll share more information if I find something.

[2021-08-21 16:19] hyunwoongko commented on #12772
@stas00 Sorry for the delay this work. We are also making a public large-scale model that can cover Asian languages. I've been very busy these days, so I haven't had much time to contribute to Hugging Face. I will work on it as possible as soon.

[2021-08-21 18:29] YatinKapoor commented on #8691
On running
`batch = tokenizer(src_text, truncation=True, padding='longest', return_tensors="pt").to(device)`
I am getting the error
[code]
and on running `batch = tokenizer.prepare_seq2seq_batch(src_text, truncation=True, padding='longest', return_tensors='pt').to(torch_device)`
I am getting the error
[code]

Any help would be greatly appreciated.

[2021-08-21 19:15] old-school-kid opened #13215 "Input to a Tensorflow model where a dictionary cannot be used"
Made a Tensorflow fuctional API model on top of  TFAutoModelForSequenceClassification with 3 sentence as input.

Training model directly on tokenized input raises
**ValueError: Failed to find data adapter that can handle input: (<class 'list'> containing values of types {'(<class \'list\'> containing values of types {"<class \'tensorflow.python.framework.ops.EagerTensor\'>"})'}), (<class 'list'> c

[2021-08-22 12:59] orko19 opened #13218 "How to run GLUE tasks on my model?"
I trained a BERT model on my dataset.
Now , I want to run it on GLUE tasks, just to get eval score (no finetuning on GLUE).
Is this possible?

I found this proposed example:
https://pypi.org/project/pytorch-transformers/#quick-tour-of-the-fine-tuningusage-scripts
but it doesn't explain where I can find the `run_glue.py `script.

[2021-08-22 15:02] #12729 closed

[2021-08-22 15:02] #12698 closed

[2021-08-22 15:02] #12691 closed

[2021-08-22 15:02] #12693 closed

[2021-08-22 15:02] #12686 closed

[2021-08-22 15:02] #12683 closed

[2021-08-22 15:02] #10918 closed

[2021-08-22 15:12] rolandgvc opened #13219 ""Resource exhausted" when loading Flax GPT-Neo 2.7B"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1+cu102 (False)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.19
- JaxLib version: 0.1.70
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in scrip

[2021-08-22 15:30] diiogofernands commented on #12670
hi @fdas3213, are any other changes needed?

[2021-08-23 06:57] patrickvonplaten commented on #5475
I think we would like to enable pull requests on model repositories (cc @julien-c)

[2021-08-23 07:08] NielsRogge commented on #13218
You can run the `run_glue.py` script, only specifying `--do_eval` (and not `--do_train`).

It's located here: https://github.com/huggingface/transformers/tree/master/examples/pytorch/text-classification

[2021-08-23 07:37] LysandreJik commented on #12851
I can reproduce in latest `transformers` with latest onnx runtime.

[2021-08-23 07:44] #12790 closed

[2021-08-23 08:06] xegulon commented on #13141
@sgugger ?

[2021-08-23 08:25] LysandreJik commented on #12849
Cosed by #12888

[2021-08-23 08:25] #12849 closed

[2021-08-23 08:27] LysandreJik commented on #8691
@YatinKapoor your tokenizer seems to be `None`

[2021-08-23 08:27] #12857 closed

[2021-08-23 09:22] LysandreJik commented on #12851
FYI this error seems to be linked to the dimension of the input; if you use a batch size 2 it should work.

As seen with @mfuntowicz offline, we'll be working on a fix in the coming weeks cc @michaelbenayoun

[2021-08-23 09:33] LysandreJik commented on #13176
Hello! The documentation regarding TorchScript can be found [here](https://huggingface.co/transformers/serialization.html#torchscript).

You're correct in your analysis: `torch.jit.script` isn't supported, while `torch.jit.trace` is supported!

[2021-08-23 09:57] NielsRogge commented on #13213
Hi,

encoder-decoder models like T5 and BART create the `decoder_input_ids` automatically based on the `labels` you provide. So you should only provide the encoder inputs (`input_ids`, `attention_mask`, possibly `token_type_ids`) and the decoder
targets (`labels`). As you can see [here](https://github.com/huggingface/transformers/blob/f689743e7454b93f6cab4343026de03fa530bfb9/src/transformers/model

[2021-08-23 10:33] vaibhav-01 commented on #11644
Hi, @Sreyan88 Were you able to train LUKE on a custom dataset? I am also working on the same and do not have any progress on this yet. Any help is appreciated. Thanks!

[2021-08-23 10:34] LysandreJik commented on #13200
Hello, thanks you for opening this issue! Do you want to open a PR with your fix?

[2021-08-23 10:46] SaulLu commented on #13192
@ofirzaf, thanks for the detailed issue!

**About the missing id corresponding to the unknown token for the fast tokenizer**

Yes, I can see why the fast tokenizer does not take into account the unknow token.

Since the original RoBERTa tokenizer does not need this token (since it is byte-based and contains the exhaustive list in its vocabulary), when converting from the slow to the fast version o

[2021-08-23 11:27] #13177 closed

[2021-08-23 11:50] patrickvonplaten commented on #13182
Sorry @zorikg, I forgot to put the text in `code format`. Now my example above should make more sense...

But looking more into it, I think this looks like a bug to me...

The following should work IMO:

[code]

cc'ing @LysandreJik @SaulLu - what do you think about this?

[2021-08-23 11:53] LysandreJik commented on #13141
Hello @xegulon, this is in line with some work currently underway by @Narsil

[2021-08-23 12:05] ofirzaf commented on #13192
@SaulLu Thanks for the reply.

I agree that this issue shouldn't occure when using the tokenizer for the reasons you mentioned.
I think, however, that the test should be fixed to reflect that. As I mentioned, the example I brought here is straight from the library's built in tests.

Regarding the special tokens mask, if the `<unk>` token shouldn't be considered as a special token, shouldn't it be

[2021-08-23 12:10] Fikavec opened #13221 "Typo in M2M100 1.2B model card page, strange translation results and new M2M100 615M model"
@patil-suraj thank you so much for your great work, seems like there's a typo in the [M2M100 1.2B page:](https://huggingface.co/facebook/m2m100_1.2B)

It should be "m2m100_1.2B" instead of "m2m100_418M".

Model m2m100_1.2B sometimes gives a strange translation results on news titles - incorrectly translates the names of countries and cities in sentences, but model m2m100_418M translates correctly

[2021-08-23 12:13] zorikg commented on #13182
Thanks for the answer @patrickvonplaten.

Unfortunately I ran your code and `tokenizer.decode(tokenizer(s)['input_ids']) == s` returns `False` :(

Do you have other workaround? Also I need this behavior to be consistent for all special tokens, including the `eos` token and all the additional tokens with special ids.

[2021-08-23 12:57] Narsil commented on #13141
@xegulon,

Batching on inference is something to be very cautious about, because alignment might heavily penalize the speed of inference.

See https://gist.github.com/Narsil/ee5c09875e74fa6f018dc6d014f6c06c for more information.

Cuda OOM errors are most likely due to the fact that you are padding way too much, and actually showcase the slow down.

The big refactor mentionned by @LysandreJik is re

[2021-08-23 13:10] drussellmrichie commented on #3359
Hi, @XiangQinYu. I'm a bit of a newbie with Huggingface. Can you say more about how you did this? I guess you mean adding "model_type":"bert" to a file like [this](https://huggingface.co/adamlin/ClinicalBert_all_notes/blob/main/config.json). But how did you edit the file? Did you download the whole model repository, and edit and run it locally?

[2021-08-23 13:16] devjwsong commented on #13213
I really appreciate with your help.
About the last question, I think I can get the desired last decoder hidden states based on output scores.

Thank you so much and have a nice day.

[2021-08-23 13:16] #13213 closed

[2021-08-23 13:19] benderama3 commented on #12613
Similar problem here. It happens at the end of the first epoch in my case,  when the batch size is smaller.

`File "/home/user/.local/lib/python3.8/site-packages/transformers/trainer.py", line 1269, in train
    tr_loss += self.training_step(model, inputs)

  File "/home/user/.local/lib/python3.8/site-packages/transformers/trainer.py", line 1780, in training_step
    loss.backward()

  File "/home

[2021-08-23 14:03] prikmm commented on #13204
Hey @patrickvonplaten, can I get an update on this issue?

Thanks!

[2021-08-23 14:05] drussellmrichie commented on #5475
Great to hear, @patrickvonplaten. And sorry for the naive question, but where would I find these repos? I've tried searching around a bit for ClinicalBert_all_notes and I've yet to find it on GitHub...

[2021-08-23 14:43] searchivarius commented on #12571
Hi everybody, I am getting the same error and after digging a bit deeper, I believe that the current caching mechanism depends on the Internet connection crucially for latest versions, e.g., 4.8.x and 4.9.2. I blame the function `get_from_cache`, which IMHO shouldn't work properly unless you always have Internet. Some details are below.

Simple code to reproduce the effect:
[code]

First, specifyi

[2021-08-23 15:06] #12760 closed

[2021-08-23 15:06] #12754 closed

[2021-08-23 15:06] #12746 closed

[2021-08-23 15:06] #12376 closed

[2021-08-23 15:06] #12266 closed

[2021-08-23 15:06] #12202 closed

[2021-08-23 15:06] #12117 closed

[2021-08-23 15:16] BramVanroy commented on #12571
@searchivarius `local_files_only` _should_ indeed work. You can add it to your from_pretrained calls, e.g.

[code]

[2021-08-23 15:33] jeffin07 commented on #12789
@sgugger   is this still open ? If so any files with assertion came under the issue right ? Can i join this issue if it's not completed

[2021-08-23 15:52] Sam131112 opened #13223 "Unable to load 'rembert' checkpoint"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-5.4.0-54-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.6.10
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or

[2021-08-23 15:56] LysandreJik commented on #13223
The checkpoint is `google/rembert`: https://huggingface.co/google/rembert

[2021-08-23 16:01] LysandreJik commented on #5475
@drussellmrichie, on the model hub :) https://huggingface.co/models

[2021-08-23 16:09] Sam131112 commented on #13223
thanks :)

[2021-08-23 16:12] searchivarius commented on #12571
Hi @BramVanroy thanks a lot, `TRANSFORMERS_OFFLINE`, indeed, resolves the issue!

[2021-08-23 16:13] LysandreJik commented on #13189
I'm unaware of what might be causing this - maybe @sgugger has an answer for you!

[2021-08-23 16:37] benderama3 commented on #12613
This has to do with is_global_attn=True, else there is no problem.

[2021-08-23 16:42] julien-c commented on #11532
Yay great job on this @n1t0! You should tweet about it :)

[2021-08-23 16:59] qqaatw commented on #13154
Hi, the fix has been merged. You can install transformers from source and test whether it works as expected :-)

[2021-08-23 20:58] jstremme commented on #5778
Sure, @patrickvonplaten.  I created a [post here](https://discuss.huggingface.co/t/reformer-for-multi-gpu-not-possible-for-torch-1-4-0/9422?u=jstremme).  Is there someone from Hugging Face who would be able to help resolve this?  As mentioned in my post, I'd be happy to help, but I don't think I understand the code well enough to spearhead the fix.  Thanks for your reply to my comment!

[2021-08-23 21:02] merleyc opened #13227 "make test failing"
## Environment info
- `transformers` version: 4.9.2
- Platform: Linux-3.10.0-957.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.0
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel s

[2021-08-24 00:03] mmykhaylov opened #13229 "Can't install transformers in Conda environment with python 3.9"
## Environment info

- `transformers` version: 4.8.1
- Platform: macOS 11.5.2
- Python version: 3.9.6
- Conda Version: 4.10.3

## Information

I'm trying to install transformers in a condo environment and get and error "conda.exceptions.UnsatisfiableError: The following specifications were found to be incompatible with each other:" with blank lines beneath

## To reproduce

Steps to reproduce the

[2021-08-24 00:13] mmykhaylov commented on #13229
It seems that its works with python 3.8. Still, I don't get why it wouldn't with 3.9

[2021-08-24 00:24] merleyc commented on #13227
Just to complement my issue above, I got some errors and warnings when calling _transformers-cli env_
I believe it is not related with the issue since it is cuda related messages but I am sharing it anyway.

[code]

[2021-08-24 00:54] tanmaylaud opened #13230 "Bert Loses Patience - Batch Inference Doubt"
In PABEE, with evaluate every layer output for a given patience threshold.

This can be done with if else when batch size is 1.
How does this code work when batch_size > 1:
https://github.com/huggingface/transformers/blob/2772d3e79d66925cf4adeaffd8be610f0ab177b6/examples/research_projects/bert-loses-patience/pabee/modeling_pabee_bert.py#L224

When batch size is greater than 1, I believe every inpu

[2021-08-24 02:52] stas00 opened #13231 "codecarbon plugin issues"
https://github.com/huggingface/transformers/pull/12304 added the `codecarbon` plugin and there are multiple issues with it:

1. it needs to be documented in

https://github.com/huggingface/transformers/blob/2772d3e79d66925cf4adeaffd8be610f0ab177b6/src/transformers/training_args.py#L316-L319

along all the other plugins

2. It doesn't respect user's logging level. It needs to read the set for the c

[2021-08-24 03:20] JetRunner commented on #13231
Thanks for the feedback @stas00!

I don't think it runs automatically - it needs to be activated by setting a flag, just like other integrations. I will double check what's going on there. For other issues, I'll investigate as well.

[2021-08-24 03:26] stas00 commented on #13231
It has not activation flag in https://github.com/huggingface/transformers/blob/master/src/transformers/training_args.py

You may have modeled your contribution based on some of the auto-loading plugins.

[2021-08-24 03:28] stas00 commented on #13231
Practically I thought perhaps my proposition to add one cli arg to activate multiple plugins might have a merit. That way we can pre-solve all the future plugin activations in one strike.

But @sgugger is away for another week to discuss new Trainer flags.

[2021-08-24 03:30] stas00 commented on #13231
Or perhaps it just needs to be plugged into `report_to`, please see:

https://github.com/huggingface/transformers/blob/2772d3e79d66925cf4adeaffd8be610f0ab177b6/src/transformers/training_args.py#L316-L319

[2021-08-24 05:44] JetRunner commented on #13230
Thanks for your interest in our work Tanmay!

The code only considers the scenario when `batch_size=1`. Theoretically, we can do batch inference but as you noted we have to wait for the longest patience outcome so it's not very useful.

[2021-08-24 05:51] JetRunner commented on #13231
@stas00 I 100% agree with you that the default value of `--report_to` should be `none` instead of `all`.
cc @sgugger

[2021-08-24 05:53] tanmaylaud commented on #13230
@JetRunner Thanks for the prompt response!
Is there any better way to handle batch size greater than 1?

[2021-08-24 05:57] stas00 commented on #13231
This is planned to be so in v5. But for back-compat reasons it remains "all" - I don't remember all the history, but it probably needs to be on by default for tensorflow and none of the other plugins (or perhaps several plugins).

i.e. most likely the default shouldn't be 'all' but only the list of plugins that are required for back-compat.

[2021-08-24 05:58] JetRunner commented on #13231
Sounds good.

@stas00 For the online tracker,  could you `ping get.geojs.io` so I can determine what's wrong there?

[2021-08-24 06:01] JetRunner commented on #13230
I don't think so. If you really want to fully use the GPU, you can try multi-threads but I don't really recommend that. `bs=1` is fast enough to me.

[2021-08-24 06:06] stas00 commented on #13231
[code]

but it doesn't respond to 80 or 443 ports:
[code]

[2021-08-24 06:10] JetRunner commented on #13231
Got it. My guess is the `geojs` service is not available in some countries. Let me see how we can add an offline option.

[2021-08-24 06:14] tolgayan commented on #2691
As far as I understand there are two options mentioned. The first one is training from scratch using  `tokenizer.train(files, trainer)`. But this method means that training the Bert model from scratch too, as mentioned in #747. And the second option is extending the vocabulary as @cronoik said, but this leads to the problem @BramVanroy mentioned.

The options are either train from scratch or, rand

[2021-08-24 06:19] stas00 commented on #13231
It will also break on instances without internet, like JZ.

[2021-08-24 06:52] LysandreJik commented on #13227
Hello @merleyc! I can't see the full stack trace of your error logs, but it seems that you're having connection issues? It seems that nearly all errors are `requests.exceptions.ProxyError`

[2021-08-24 06:55] LysandreJik commented on #13229
Hello! Could you add the unsatisfiable hints with `conda config --set unsatisfiable_hints True` so that we may see what packages are incompatible in python 3.9? Thank you!

[2021-08-24 07:05] #12571 closed

[2021-08-24 07:06] Doragd opened #13232 "run_translation_no_trainer with MBart: unsupported operand type(s) for /: 'dict' and 'int'"
## Environment info

- `transformers` version: 4.9.2
- Platform: Ubuntu 20.04
- Python version: 3.8
- PyTorch version (GPU?): 1.8.2
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

In addition, I add the details of `accelerate` config.
[code]

### Who can help

@patrickvonplaten, @patil-suraj

## Information

Model I am using (Bert, XLNet ...): facebook/mbart-lar

[2021-08-24 07:13] Doragd commented on #13232
I have tested `outputs  = accelerator.unwrap_model(model)(**batch)`. It works well, and the `outputs.loss` is a `Tensor` as expected.

[2021-08-24 07:17] LysandreJik commented on #13157
Hello @PanQiWei!

I have successfully exported the model with your command:

[code]

Would you mind mentioning the versions of PyTorch and onnxruntime you have installed in your environment? Thank you!

[2021-08-24 07:20] BalajiAJ opened #13233 "Some weights of GPT2LMHeadModel were not initialized from the model checkpoint at 'yyy' and are newly initialized"
Hi Everyone,

I am trying to use a fine tuned GPT Neo Model for my inferencing, am getting the below warning -

### **_Some weights of GPT2LMHeadModel were not initialized from the model checkpoint at 'yyy' and are newly initialized..._**

I have used deep speed to fine tune the model. Because of this warning, **_the generated text during inference is giving some random meaningless text_**. Please

[2021-08-24 07:37] qqaatw commented on #13233
Hi, I'm not very familiar with GPT Neo, but should [this](https://huggingface.co/transformers/model_doc/gpt_neo.html#transformers.GPTNeoForCausalLM) be the correct model for fine-tuned GPT Neo?

[2021-08-24 07:49] #13223 closed

[2021-08-24 08:04] jungminc88 opened #13234 "Error while trying to run run_wwm_mlm.py using my saved model: TypeError: ‘NoneType’ object is not iterable"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-4.18.0-25-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help

- research_projects/bert-loses-patience: @JetRunner
- research

[2021-08-24 08:13] quantitative-technologies commented on #13189
I have confirmed that the issue is not with the `start_method="fork"`.

Your `run_glue.py` script uses `HfArgumentParser` to set up the `training_args` parameter of the `Trainer`. If I instead set the `training_args` manually, I get the same errors on the TPUs as in the colab notebook, even though the script uses `start_method="spawn"`.

I haven't attempted to figure out exactly what is being set