[2020-07-26 18:08] sshleifer commented on #5057
Happy to do big models and mark slow. I just don't want to do big models when we are only testing output shape.

[2020-07-26 18:12] stas00 commented on #5057
So then we could write a test that uses a tiny model that does just that? i.e. no quality checks. Leaving a big model for quality checks with @slow.

[2020-07-26 20:52] sshleifer commented on #5057
Yes!

[2020-07-26 20:57] sshleifer opened #6044 "slow from_pretrained failures"
github actions has [full traceback](https://github.com/huggingface/transformers/runs/910644181?check_suite_focus=true)

Failures are all like
[code]

@sgugger is that from your change?

[2020-07-26 21:24] sshleifer opened #6045 "Test BART's memory consumption"
- this can run on GPU only and be marked `@slow`
- check how much memory bart is using at `__init__`
- assert that it doesn't use more than 110% of that.
- check how much memory bart uses on a single forward pass. (optionally test this in fp16).
- assert that it doesn't use more than 110% of that.
- check how much memory bart uses on a single forward and backward pass.
- assert that it doesn't use

[2020-07-26 23:23] Zhylkaaa opened #6046 "is_pretokenized seems to work incorrectly"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): roberta

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
*  the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

I use `RobertaTokenizerFast` on pretokenized text, but problem arises when I switch to slow version too

The tasks I am workin

[2020-07-26 23:38] stas00 commented on #5294
The problem is still there - you can quickly test [here](https://huggingface.co/sshleifer/student_xsum_12_3?text=My+name+is+Thomas+and+my+main)

I don't think I can - at least nobody gave me permissions to do so.

[2020-07-26 23:45] stas00 commented on #5294
Let me study it first and I will ask follow up questions once I did so.

I'm learning this library and while I have spare resources I'd be happy to help fixing problems - feel free to delegate some issue to me, so I won't need to dig through past issues looking for what I could work on.

I am not sure github issue comments is the most efficient way to collaborate - perhaps you're on skype/email/so

[2020-07-27 03:09] meryemmhamdi1 opened #6047 "Feed to forward new parameters as computed manually by update rule"
Hi,

I would like to update the parameters of BertModel manually while training without using automatic optimizer to do it. I am trying meta-learning on BertModel and if I use automatic optimization on both inner and outer loops I get in-place operation errors. I also tried deepcopying but I cannot use deepcopy with DataParallel. So, I have opted for configuring my own manual optimization mechanis

[2020-07-27 03:11] #4214 closed

[2020-07-27 03:18] sshleifer commented on #5654
I'm in a similar place with machine translation.
The things I know to be different from fairseq are:

- [ ] (probably only matters for MT) their dataloader creates 1 batch for every N tokens.
- [ ] dropout, attention_dropout (need to be set through config)
- [ ] weight_decay = 0.1
- [ ] adam_betas
- [ ] lr_scheduler=polynomial_decay
- [ ] warmup_updates
- [ ] Did you figure out whether update_freq

[2020-07-27 03:20] sshleifer commented on #5294
Closing this. Will make new issues that are not started.

[2020-07-27 03:20] #5294 closed

[2020-07-27 03:22] sshleifer opened #6048 "examples/seq2seq/test_bash_script.py covers summarization"

[2020-07-27 03:24] sshleifer opened #6049 "examples/seq2seq/test_bash_script.py :: actually learn something"
At the moment validation bleu barely gets above zero in the tests, so they don't really prove much about our code.

we could use a larger model like sshleifer/student_marian_6_3, and more data, and train for 10 minutes . This would allows us to test whether changing default parameters/batch techniques obviously degrades performance.

The github actions CI reuses it's own disk, so this will only ru

[2020-07-27 03:25] sshleifer opened #6050 "CI: run tests against torch=1.6"
Through github or circleci.
If github actions:
copy `.github/self-scheduled.yml` to `.github/torch_future.yml` and modify the install steps.

[2020-07-27 03:29] sshleifer opened #6051 "examples/seq2seq: add a dataloader that supports dynamic batch size"
Should follow the logic of `load_langpair_dataset` in fairseq, roughly.
Batches should be created such that they include N(default 1024) tokens of source documents, however many examples that requires.

[2020-07-27 04:33] Colanim commented on #5654
Here is what I did so far :

[code]

Implementing the first one seems complicated, so I didn't try.

Thanks for the help, the detailed list of things to try is awesome !

So far I'm satisfied with the results, it's really close to the paper's results. Maybe some tiny difference in the code is responsible for the difference ? If I have more time I will try the other things I didn't try so far :)

[2020-07-27 05:14] gyin-ai opened #6052 "add gpt2 padding for tflite"
# ❓ Questions & Help

Since tflite requires a fixed input length, how can we correctly add padding for gpt2 input with a fix length so that it won't affect the final result?

[code]

I am not clear how we can use attention_mask to solve this concern based on this one. https://github.com/huggingface/transformers/issues/2630

[2020-07-27 06:59] veronica320 commented on #1816
Same question. Is there different token for separating the title and the body?

[2020-07-27 07:27] iedmrc commented on #1816
You could add a special token to the tokenizer and train the dataset with that.

[2020-07-27 08:43] LysandreJik commented on #5702
@Heiheiyo, is it possible you have a `ctrl` folder that does not contain the vocab and merges files?
When running your command on master I have no issues with CTRL.

[2020-07-27 08:43] LysandreJik commented on #5702
@Kreijstal, on what version of transformers are you running? I copy-pasted your command and it works fine on the `master` branch.

[2020-07-27 08:46] LysandreJik commented on #5708
Hi! You can use the `--gradient_accumulation_steps=N_STEPS` argument to the `run_language_modeling.py` script for that.

You can see all available flags by doing `python run_language_modeling.py --help`

[2020-07-27 08:46] #5708 closed

[2020-07-27 08:52] Heiheiyo commented on #5702
Thank you for your answer.I have solved this problem.I downloaded the ctrl model and modified the model file path

[2020-07-27 08:54] vikas95 opened #6053 "Errors when creating a subclass of "BertForTokenClassification""
# ❓ Questions & Help

## Details

Thanks.

[2020-07-27 08:55] Heiheiyo commented on #5702
@LysandreJik Thank you for your answer.I have solved this problem.I downloaded the ctrl model and modified the model file path.

[2020-07-27 08:57] vikas95 opened #6054 "Errors while creating a subclass of BertForTokenClassification in run_ner.py file"
Question 1) I want to skip calling AutoModelForTokenClassification ( https://github.com/huggingface/transformers/blob/f7f03b22dc15543317635770f312adf4513303d0/examples/token-classification/run_ner.py#L158 ) and directly use  BertForTokenClassification. When I am directly using BertForTokenClassification in run_ner.py using the same parameters which were fed to AutoModelForTokenClassification, it d

[2020-07-27 09:33] LysandreJik commented on #5712
Hi @deepankar27, do you mind specifying which `transformers` version you're using?

[2020-07-27 09:43] #5690 closed

[2020-07-27 09:46] LysandreJik commented on #5741
This is a mismatch between the file location and what you're indicating to the script. Are you sure you're pointing to the correct directory? If so, can you try using absolute paths?

[2020-07-27 09:49] #6053 closed

[2020-07-27 10:04] LysandreJik commented on #5747
Hi! Even though the ELECTRA model was added in version v2.8.0, the `ElectraForQuestionAnswering` head was only added in v3.0.0. You would need to upgrade your `transformers` version to at at least v3.0.0 for your code to work!

[2020-07-27 10:04] #5747 closed

[2020-07-27 10:06] LysandreJik commented on #2836
Have you tried using the `add_tokens` method on the tokenizer and the `resize_token_embeddings` method on your model?

[2020-07-27 10:08] iedmrc commented on #5612
same here, is there any update?

[2020-07-27 10:46] Douboo opened #6057 "Transformer layers + Functional API is failed but subclass is successful"
# 🐛 Bug

## Information

Model I am using (Bert):

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give details below)

## To reproduce
**successful**
[code]
**failed**
[code]
Errors with
`ValueError: It appears you are trying to construct a functional model, but not all of the inputs in the first positional argument of your layer cal

[2020-07-27 11:21] jplu commented on #5815
I'm trying to figure out if using `tf.boolean_mask` could work.

[2020-07-27 11:34] LysandreJik commented on #5767
It seems you're trying to identify entities in your query? You could use an NER model to do so, but I'm not sure the entities the NER models on the hub are trained on would work in your use-case. You can still check them out, and check the [NER script](https://github.com/huggingface/transformers/tree/master/examples/token-classification) if you want to train a model with your data.

[2020-07-27 12:38] LysandreJik commented on #4388
This was fixed with https://github.com/huggingface/transformers/pull/5665!

[2020-07-27 12:38] #4388 closed

[2020-07-27 13:17] sgugger commented on #6044
I didn't add any ignore missing key flag to BERT, so that's weird.

[2020-07-27 14:10] #5987 closed

[2020-07-27 14:32] QixinLi opened #6059 "Errors while using TFAutoModelForMultipleChoice and TFTrainer on winogrande dataset"
# ❓ Questions & Help
I'm using TFAutoModelForMultipleChoice and TFTrainer to train on winogrande dataset.
The dataset is from [here](https://leaderboard.allenai.org/winogrande/submissions/get-started)

And I got an error while I starting training.
[code]

## Details

[code]
the wsc_processor is from [here](https://github.com/allenai/winogrande/blob/master/scripts/utils.py)

I wonder what is wrong

[2020-07-27 14:38] mommi84 commented on #5498
Hi! It seems the page is down again.

[2020-07-27 14:40] joeddav commented on #5498
Man, streamlit's killing me. Thanks, rebooting now.

[2020-07-27 14:42] patil-suraj opened #6060 "new AutoModel classes in pipeline"
The `translation`, `text-generation` and `fill-mask` pipelines still use the `AutoModelWithLMHead` class but from the warning it seems that it's going to be deprecated. Is there any specific reason for this or can we use the new `AutoModelForSeq2SeqLM` for translation, `AutoModelCausalLM` for text-generation and `AutoModelForMaskedLM` for fill-mask pipeline ? If yes then I'll be happy to open a PR

[2020-07-27 15:09] jplu commented on #5765
Hello!

Can you give a code that better explain your issue and a way to reproduce it please? Thanks :)

[2020-07-27 15:21] mommi84 commented on #5498
Ouch, this means we users are indirectly killing you! Thanks a lot. 🙂

[2020-07-27 15:52] #6060 closed

[2020-07-27 15:56] sshleifer commented on #6044
Cool. I'll take this one.

[2020-07-27 16:03] sshleifer commented on #6044
It's `position_ids`, from Morgan's change. Will fix.
[code]

[2020-07-27 16:37] sgugger commented on #6033
There is no direct way to do this from the model, you will have to edit the code directly. You can just copy the code from the file `modeling_roberta.py` and then change the forward method of `RobertaForMultipleChoice`. You can then directly feed the hidden layer of your choice to the final layer.

[2020-07-27 16:40] laibamehnaz commented on #5807
Thanks a lot!

[2020-07-27 16:42] patil-suraj commented on #5807
That PR is merged now, you can now just clone the master or pull if you've already cloned

[2020-07-27 16:54] nightlessbaron commented on #5965
Looking forward to it !

[2020-07-27 17:34] #4454 closed

[2020-07-27 17:34] #4400 closed

[2020-07-27 18:15] laibamehnaz commented on #5807
I did notice that. Thanks a lot!

[2020-07-27 18:55] sshleifer commented on #6045
@stas00 , this might be up your alley!

[2020-07-27 19:07] sshleifer commented on #5392
@Hildweig make sure your lightning example is up to date with examples/requirements.txt. Closing this. Pls make a new issue if you are still struggling to get things working :)

[2020-07-27 19:07] #5392 closed

[2020-07-27 19:08] sshleifer commented on #5973
@stas00, this might be up your alley!

[2020-07-27 19:13] #5321 closed

[2020-07-27 19:13] #5382 closed

[2020-07-27 19:14] sshleifer commented on #6018
@stas00 this might be up your alley.

[2020-07-27 19:19] sshleifer commented on #5788
This is a duplicate.

[2020-07-27 19:19] #5788 closed

[2020-07-27 19:55] h56cho commented on #6033
Hello,
Would the code below do the job that I am looking for?
[code]

Thank you,

[2020-07-27 19:57] sgugger commented on #6033
Yes, but if you detach the history, you won't be able to do a backward pass through this model.

[2020-07-27 20:10] StealthySemicolon commented on #4658
I wonder if you could hardcode the 175B model into an electronic chip(like an ASIC but more specific)

[2020-07-27 20:16] stas00 commented on #6018
Added to my todo queue - thank you, @sshleifer

[2020-07-27 20:43] stas00 commented on #5973
will do, thank you!

[2020-07-27 20:47] sshleifer opened #6069 "lightning_base: new clarg: adam_betas"
should be able to pass `adam_betas` through command line like this [command](https://github.com/pytorch/fairseq/blob/master/examples/mbart/README.md#finetune-on-en-ro)

[2020-07-27 20:49] sshleifer opened #6070 "lightning_base: new clarg: lr_scheduler=polynomial_decay"
lr_scheduler should be a string with many options, including polynomial_decay, like this [command](https://github.com/pytorch/fairseq/blob/master/examples/mbart/README.md#finetune-on-en-ro)

[2020-07-27 20:49] sshleifer commented on #6070
@stas00 as discussed on slack

[2020-07-27 20:51] stas00 commented on #6070
got it

[2020-07-27 21:17] HamidShojanazeri opened #6071 "Loading and running on CPU, the RoBERTa model traced/saved on GPU."
# ❓ Questions & Help

## Details
I have installed the transformers from source and I am trying to trace/save roberta_base model for sequence classification on GPU and load it on CPU, similar to the issue [#5664](https://github.com/huggingface/transformers/issues/5664) that was addressed [PR #5773](https://github.com/huggingface/transformers/pull/5773)  and I am facing similar issues with position_

[2020-07-27 21:31] h56cho opened #6072 "Error in the RobertaTokenizer?"
Hello,

I think I spotted an error in the `RobertaTokenizer` (`AutoTokenizer`).

I tested the `tokenizer` function by using the code below:

[code]
and below is the corresponding output:

[code]

The output above is not what I was expecting to get from the `tokenizer` function. Since I am inputting `sequence_a` along with `sequence_b`, I was expecting my `token_type_ids` to be: `tensor([[0,0,0,0,0

[2020-07-27 21:33] #3925 closed

[2020-07-27 22:02] h56cho opened #6074 "Cannot use the RobertaForMultipleChoice model for processing multiple choice questions with 4 options"
Hello,

When I try to use the `RobertaForMultipleChoice` pretrained model with the code below, it generates an error:

[code]

The error message is:

[code]

What am I doing wrong here? Thank you.

[2020-07-27 23:27] wyin-Salesforce opened #6078 "model.roberta.from_pretrained() fails to change the parameters"
# ❓ Questions & Help

## Details

**A link to original question on the forum/Stack Overflow**:

Hi all, my problem is "how to use a pretrained 3-way sequence classification model to fine-tune on a 2-way classification task". I am using "https://github.com/huggingface/transformers/blob/master/examples/text-classification/run_glue.py";
in the code I change

[code]
This is what I tried. Pls note that

[2020-07-28 00:00] #6044 closed

[2020-07-28 00:09] sshleifer opened #6080 "Proposal: seq2seq tokenizers expose a prepare_seq2seq_batch method"
This has been useful in `MarianTokenizer.prepare_translation_batch` and `MBartTokenizer.prepare_translation_batch`.

and would also be a useful addition for `T5Tokenizer`, and `BartTokenizer`.
@LysandreJik mentioned this in a PR so I wanted to see what others thought before starting work.
@patrickvonplaten @sgugger @mfuntowicz ?

[2020-07-28 00:21] sshleifer commented on #6080
Motivation:
less important: only call tokenizer once
more important: the best time to think about special tokens is when you are writing the tokenizer, not when you are designing your training loop. We've had a lot of bugs recently involving special tokens in seq2seq training loops that likely could have been avoided if when the tokenizer was added the author had written a method that said: "This

[2020-07-28 00:59] h56cho commented on #6074
Hello,

I tried a slightly different approach like below:
The code below generates an error:

[code]
The error message is:

[code]

So I am thinking there is something that prevents RoBERTa model from processing multiple choice questions that have 4 options?

Thanks,

[2020-07-28 02:21] Colanim opened #6082 "🐛 Inconsistencies between BartTokenizer and BartTokenizerFast"
# 🐛 Bug

## Description

It's possible to use the argument `add_prefix_space` with `BartTokenizer` :

[code]

But when doing the same with `BartTokenizerFast` :
[code]

It throws the following error :

[code]

## To reproduce

[Colab notebook](https://colab.research.google.com/drive/1f0W2llsJfVIkXsYk0XK1C3oiy2xSqYOx?usp=sharing)

## Work-around

It seems working if the argument is specified in the

[2020-07-28 03:11] Adawindcatcher opened #6083 "Error when using np.where() during squad tokenization"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):Bert

Language I am using the model on (English, Chinese ...):English

The problem arises when using:
* [x] the official example scripts: squad1.1
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] an official GLUE/SQUaD task: SQUaD task

* [ ] my own task or dataset: (give details below)

## To repro

[2020-07-28 04:41] patil-suraj commented on #6080
This will be actually really helpful. Many people run into bugs by forgetting to add special tokens, or shift labels to right. Should this also prepare `labels` along with `decoder_input_ids`  as needed by seq2seq models ?

[2020-07-28 05:42] patil-suraj commented on #6082
Seems like this issue is for all fast tokenizers, this [line](https://github.com/huggingface/transformers/blob/master/src/transformers/tokenization_utils_fast.py#L312) directly raises that error when kwargs are passed

[2020-07-28 06:17] wzmJimmy opened #6084 "ValueError raises when load Flaubert from pre-train with Transformers >=3.0.0"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): **Flaubert**

Language I am using the model on (English, Chinese ...): **French**

The problem arises when using: my own modified scripts

## To reproduce

**Just load Flaubert model with from_pretrained:**
[code]

**Then a ValueError is raised:**

[code]
## Expected behavior
Load the model successfully.

- It can be achieved with Transf

[2020-07-28 06:27] aisolab opened #6085 "tf.saved_model.save is not worked on TFElectra* series."
# 🐛 Bug

## Information

Model I am using TFElectraModel:

Language I am using the model on English:

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

## To reproduce

Steps t

[2020-07-28 06:46] jackaduma commented on #4511
see the source code: trainer.py
you will find that using "from torch.utils.tensorboard import SummaryWriter" first, if not in current torch, then use "from tensorboardX import SummaryWriter".
So, U need check your pytorch version. my torch 1.2.0, has "torch.utils.tensorboard.SummaryWriter", but it didn't has add_hparams. So you should update your pytorch.
Also, U can change "trainer.py" source cod

[2020-07-28 07:14] #5713 closed

[2020-07-28 07:15] LysandreJik commented on #5713
Hi! This was an unseen error that appeared when we made the switch from tuples to namedtuples. The fix was to specify to pipelines to continue using tuples instead of namedtuples!

#6061 should have fixed it, thanks for letting us know!

[2020-07-28 07:19] Kreijstal commented on #5702
@LysandreJik I solved this problem too, I used the dockerfiles I found on this repo to figure out the right libraries that might not have been installed

[2020-07-28 07:20] #5702 closed

[2020-07-28 07:30] LysandreJik commented on #4319
Hi! This was fixed by https://github.com/huggingface/transformers/pull/5665. Could you try to install from source and try again?

[2020-07-28 07:30] #4319 closed

[2020-07-28 08:03] LysandreJik commented on #5817
Hi! Indeed, I can reproduce. This seems to be an edge-case we were not testing for in late v2+ versions. It does run correctly on v2.3.0, as you've shown, and on recent versions (v3+) as well.

After looking a bit deeper into it, it seems to have happened because of the introduction of `BatchEncoding`, in version v2.9.0. It was later patched in v3.0.0 so the blacklisted versions for using a parall

[2020-07-28 08:03] #5817 closed

[2020-07-28 08:26] LysandreJik commented on #5766
Indeed, this issue happens when `scikit-learn` is not installed. Thanks @nassim-yagoub!

[2020-07-28 08:26] #5766 closed

[2020-07-28 08:27] LysandreJik commented on #4327
Indeed, this should have been fixed in the versions `v3+`. Thanks for opening an issue @Colanim.

[2020-07-28 08:27] #4327 closed

[2020-07-28 08:45] saraouerk commented on #4511
I fixed the error, thank you !

[2020-07-28 09:07] #3961 closed

[2020-07-28 09:09] sbhttchryy opened #6088 "Finetuning German BERT for QA on biomedical domain"
Hello there and thank you very much for this wonderful work. I am relatively new to this field, so please bear with my amateur question. I want to perform question-answering on a German Biomedical text. From what I understand up to now, I need to fine-tune German BERT on biomedical QA datasets. Is there any script/pipeline that I should be using for this?
I have also posted in StackOverflow and th

[2020-07-28 10:22] XiaoLiuAI opened #6090 "customize special tokens"
# ❓ Questions & Help

## Details

I am trying to add more special tokens in order to train new language models without modifying the model architecture but simply modifying the input data. For example, adding more separators to involving more complex structure information.

Is there a simple, clear, consistent way to add/customize special tokens.
1. The function `add_special_tokens` can only add t

[2020-07-28 12:09] mengyahuUSTC-PU commented on #6007
Thanks,@patil-suraj!
 How about just one prefix/task? Will the model forget?

For example, I have paraphrase data set A and paraphrase data set B.
Fine tune 1: I first fine tune t5-large on data set A using prefix 'para:'  with 2 epoch. The resulting model is T5-A.
 I then fine tune t5-A on data set B using prefix 'para:'  with 2 epoch. The resulting model is T5-B.
Fine tune 2: I first combine dat

[2020-07-28 12:18] #6001 closed

[2020-07-28 12:43] agemagician commented on #5851
@misrasaurabh1  @patrickvonplaten Any progress ?

[2020-07-28 13:11] Ted8000 opened #6092 "i dont know what Tranier`s Dataset is."
# ❓ Questions & Help

## Details

![image](https://user-images.githubusercontent.com/32102558/88669501-8ccdba80-d116-11ea-8b29-8dda1a61ce42.png)
![image](https://user-images.githubusercontent.com/32102558/88669549-9bb46d00-d116-11ea-840c-ff661b0a2b0d.png)
 i thought its my customer dataset goes wrong, i dont konw what dataset it should return. the Trainer receive what dataset.

**A link to origina

[2020-07-28 13:12] LysandreJik commented on #5397
On which version are you running? Can you try to install v3.0.2 to see if it fixes this issue?

[2020-07-28 13:19] sgugger commented on #6080
This sounds useful, and looks like it could then directly be used as a `data_collator` in `Trainer`.

[2020-07-28 13:23] LysandreJik commented on #4382
You can already train an LM from scratch, there are examples in `examples/language-modeling`.

[2020-07-28 13:34] sgugger commented on #6092
Can reproduce, it should be fixed by #6093.

[2020-07-28 13:48] #6092 closed

[2020-07-28 14:07] sshleifer opened #6094 "5 Slow test failures"
traceback: [here](https://github.com/huggingface/transformers/runs/916838508?check_suite_focus=true)

[code]

I'm investigating

[2020-07-28 14:09] sshleifer commented on #6080
yes, optionally making `labels` would be very useful!

[2020-07-28 14:16] datquocnguyen commented on #5965
@nightlessbaron @Shiro-LK @julien-c FYI, I have just created a pull request for adding BERTweet and PhoBERT into transformers
@nightlessbaron In case you want to use BERTweet right away, you might have a look at this fork https://github.com/datquocnguyen/transformers
Cheers,
Dat.

[2020-07-28 14:25] OlegPlatonov opened #6096 "mBART: incorrect <mask> token id"
# 🐛 Bug

## Information

Model I am using: mBART

## To reproduce

[code]
The output for the above code is `[250001, 250001]`  - two different special tokens are mapped to the same id.

## Expected behavior

As far as I can tell, `<mask>` token should be mapped to id 250026.

I've checked [fairseq implementation](https://github.com/pytorch/fairseq/blob/master/fairseq/tasks/multilingual_denoising.p

[2020-07-28 15:09] sshleifer commented on #6096
great catch, I'll fix this one!

[2020-07-28 15:21] jusjosgra commented on #5910
I also have this -- and related issues on v3.0.0, 3.0.2

on v3.0.0 I get Key Error for sequence terminal tokens -- I think this may be to do with removing special tokens but not masking their positions or due to a truncation error -- may be truncating one too few?
on v3.0.2 I get Key Error for tokens at the beginning of the sequence (Key Error : 0) -- may be an issue to do with the [CLS] token and

[2020-07-28 16:34] Chandrak1907 commented on #4971
hi, did you find a solution to this problem?

[2020-07-28 16:44] #5901 closed

[2020-07-28 16:53] LysandreJik commented on #5901
Hi! This wasn't intentional, so we've fixed it with #6097. If you rerun the script, you should see the losses now.

[2020-07-28 16:53] sgugger commented on #6090
For special tokens that don't correspond to one of the attributes of tokenizers, you should pass them to `add_special_tokens` with the `additional_special_tokens` keyword arguments:
[code]
You can then change `tokenizer.additional_special_tokens` directly if you need to add or remove some of those tokens.

[2020-07-28 17:23] h56cho commented on #6033
Hello,

Thank you for your reply. If I want to calculate the mc_loss generated after inputting the hidden state vector directly into the multiple-choice head, would the code below be appropriate?
[code]

The code above works without error, but I am particularly wondering if `mc_logits.view(1,-1)` is correct. The original HuggingFace code for RobertaForMultipleChoice uses  `mc_logits.view(-1,num_ch

[2020-07-28 17:43] sshleifer opened #6101 "Use HFArgParser instead of Fire"

[2020-07-28 17:59] chz816 commented on #5484
Thank you, Sam. You solve my problem too. Benefit a lot from your work.

[2020-07-28 18:39] sshleifer commented on #6080
What do you think @thomwolf ?

[2020-07-28 18:57] sshleifer commented on #6082
Can I close? Seems like your workaround is solid @Colanim

[2020-07-28 19:28] aclifton314 opened #6105 "Recursive error calling generate in forward"
## System Info
Pop!_OS 20.04
Pytorch: 1.5.1
Transformers: 3.0.2
Python: 3.7.6

## Question
Here is the training loop:
[code]
Here's the model class and its `forward` method:
[code]
Here's the whole error. It's really lengthy and I cut out the repetitions:
[code]
My guess is the `self.generate()` being called within the model produces the recursion problem. I found this problematic because the `gen

[2020-07-28 19:34] riven314 opened #6106 "Weird Behavior on XLNetTokenizer after new tokens added"
## Environment info

- `transformers` version: 3.0.2
- Platform: ubuntu
- Python version: 3.7.7
- PyTorch version (GPU?): 1.5.1 (GPU)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@mfuntowicz

## Information
I use XLNetTokenizer (pretrained) and added a new token in it. After that, the output from ```tokenizer.tokenize``` looks weird.
(I am not

[2020-07-28 19:41] falakchhaya commented on #5959
I have been banging my head on the same issue for a few days now.
Just observed, it downloads these weights from AWS links ( check configuration_bert.py or configuration_distilbert.py, you'll find these files in /Anaconda3/envs/envName/Lib/site-packages/transformers/ ) and my company blocks AWS and GCP links.
This, most likely, seems to be the issue.

[2020-07-28 19:46] SusanSun8 opened #6107 "Where do the Masked Language Model perform mask on the input data"
# ❓ Questions & Help

## Details

I am trying to pre-train a bert from scratch with my own word set using only the Masked Language Model.
I have a trouble finding where exactly the code masks 15% of the words and replaces it with 80% mask, 10% random, and 10% original.

I noticed that the input "labels" kind of refers to the places where words are masked. Does it mean that when I preprocess the da

[2020-07-28 20:05] CMobley7 opened #6108 "allenai/longformer-large-4096 unavailable"
For some reason, I'm unable to download allenai/longformer-large-4096. Everything was working an hour ago, but all of a sudden I get the error included below. It's still listed on https://huggingface.co/models?search=allenai%2Flongformer-large-4096. I'm not sure what's up. Any ideas?
[code]

[2020-07-28 20:29] h56cho opened #6109 "StopIteration error in RobertaForMultipleChoice"
Hello,
I am trying to execute the line below for my `RobertaForMultipleChoice` model:
[code]
but this generates the following error:

[code]

How can I get around this type of error? Thank you,

[2020-07-28 21:54] LeeShiyang commented on #1145
I think you can use ANY tokens for padding as GPT-2 is causal. You just need to mask out  these positions when calculating loss.

[2020-07-28 22:14] CMobley7 commented on #6108
The issue seems to have resolved itself. So, I'm closing the issue.

[2020-07-28 22:14] #6108 closed

[2020-07-28 22:27] #6096 closed

[2020-07-28 22:30] #6002 closed

[2020-07-28 23:43] Colanim commented on #6082
If it's the expected behavior, sure go ahead ^^

I opened because I thought `Tokenizer` and `TokenizerFast` were expected to have the same behaviors.

[2020-07-29 00:48] h56cho opened #6112 "Is there any way that I can use the HuggingFace Transformers as Pyro models?"
Hello,

`Pyro` is a Python module that allows users to convert a given (frequentist) neural network into a Bayesian neural network.
I can convert a HuggingFace Transformer into a Pyro model like below:
[code]

But when I try to compute the mc_loss from this Bayesian Transformer, Python generates an error:

[code]

Is there any way that I can compute the mc_loss in the regular way after converting

[2020-07-29 00:48] #6109 closed

[2020-07-29 01:27] sshleifer commented on #6105
cool workaround! I think you might have a cleaner solution, potentially, if you compose instead of inheriting from `GPT2WithLMHead`. This is not worthy of a bug report, (what's the bug), but it could be an interesting proposal/project for examples/ if it works well on a task with a public dataset.

Could I hear more about your task?
Are you successfully backpropagating through beam search?

[2020-07-29 01:28] sshleifer commented on #5484
Happy to help. Closing this for now, feel free to open a new issue if you run into more problems!

[2020-07-29 01:28] #5484 closed

[2020-07-29 01:29] sshleifer commented on #6094
ALL FIXED YEEHAW

[2020-07-29 01:29] #6094 closed

[2020-07-29 01:30] sshleifer commented on #6050
we just did!

[2020-07-29 01:30] #6050 closed

[2020-07-29 01:32] #4395 closed

[2020-07-29 01:33] #5674 closed

[2020-07-29 01:34] sshleifer commented on #5282
this will happen as part of TPU issue.

[2020-07-29 01:34] #5134 closed

[2020-07-29 01:36] #5783 closed

[2020-07-29 01:45] astariul opened #6113 "🌟 BigBird"
# 🌟 New model addition

## Model description

Paper : https://arxiv.org/pdf/2007.14062.pdf

Abstract :

models for NLP. Unfortunately, one of their core limitations is the quadratic dependency
(mainly in terms of memory) on the sequence length due to their full attention mechanism.
To remedy this, we propose, BigBird, a sparse attention mechanism that reduces this
quadratic dependency to linear. W

[2020-07-29 01:46] sunyanhust commented on #6029
@sshleifer

[2020-07-29 01:48] sunyanhust commented on #6029
@julien-c

[2020-07-29 02:55] zy329jy opened #6114 "namespace object has no attribute to "enc_only""
# ❓ Questions & Help
when I running the distillation.py then
 File "E:/transformers-master/examples/seq2seq/distillation.py", line 370, in create_module
    elif args.enc_only:
AttributeError: 'Namespace' object has no attribute 'enc_only'
 how can I deal  with this problem??  thx a lot.

**A link to original question on the forum/Stack Overflow**:

[2020-07-29 03:04] misrasaurabh1 commented on #5647
In master, the above example works for me but it doesn't work for T5ForConditionalGeneration

[code]

[2020-07-29 03:08] prajjwal1 opened #6115 "Usage of Pytorch Native AMP in place of apex (Pytorch 1.6) in Trainer"
# 🚀 Feature request
It would be nice to remove the Apex dependency for `fp16` training and use the native [Pytorch's AMP methods](https://github.com/pytorch/pytorch/releases) in the `Trainer` method. Pytorch recommends Apex users to switch to it's native implementation, even [Apex does it so](https://github.com/NVIDIA/apex/issues/818). Moreover, it will eliminate the need for users to build apex b

[2020-07-29 03:35] guotong1988 opened #6116 "No button for creating new post at the forum."
![image](https://user-images.githubusercontent.com/4702353/88753699-76b01080-d18f-11ea-80c3-905a006ad31a.png)
discuss.huggingface.co

[2020-07-29 03:36] prajjwal1 commented on #6115
I had a query, Pytorch examples show loss being calculated as :
[code]
But in all `SequenceClassification` models, loss is calculated in the `forward pass`. We can use `@autocast` decorator on the forward pass as the docs suggest, but this will be too many changes for one feature.

[2020-07-29 03:44] tuhinjubcse opened #6117 "Using control codes for finetuning"
Hi
I have a use case of style conditioned generation, where I ask the LM to generate a sentence based on the control code I provide. CTRL is pretty suitable for that task.
Can you tell me how to use control codes for fine-tuning as well as inference?  It should be the same as any CLM like GPT2 but I want to specifically know about the style and control code conditioning. How should be the data for

[2020-07-29 03:44] tuhinjubcse commented on #6117
@julien-c

[2020-07-29 03:52] josiahdavis commented on #5904
Re @n1t0 comment: "I guess it crashes because you don't have enough memory" this is correct. (I was hoping I could get away with 61.0 GiB, the standard for an AWS `p3.2xlarge`.)

Re @lhoestq your code ran without errors for me. Thanks!

I did get the [`Token indices sequence length is longer than the specified maximum sequence length for this model (522 > 512). Running this sequence through the mo

[2020-07-29 05:50] vyaslkv commented on #5978
@sgugger @patil-suraj I trained with the format you shared but it is generating some irrelevant text not from the training data I gave. What I am missing in this case
[code]

[2020-07-29 05:51] vyaslkv commented on #5978
I want to generate text autocomplete from the training data

[2020-07-29 06:19] davidatbu opened #6118 "Is `guid` allowed to be None in `InputExample`?"
## Environment
-`transformers` version: 3.0.2
Omitted the rest because they most likely don't affect this issue.

## To reproduce

[code]
prints
```InputExample(guid=None, text_a='example1', text_b=None, label=None)```

If `guid` is allowed to be None, that should be reflected in the type annotation(and documentation) of `InputExample`. If not, then `ids` should not be allowed to be `None`.

### W

[2020-07-29 07:51] AndreasMadsen commented on #5815
Hi @jplu, I will leave it up to you to decide what is "wanted". But you should consider the usage pattern when unpacking the output:

**with always three outputs**:

[code]

**with always variable outputs**:

[code]

[2020-07-29 07:58] wise-east commented on #5397
I've tried with v3.0.2 and I'm getting the same warning messages even when I changed the logging level with the code snippet above.

[2020-07-29 08:03] thomwolf commented on #5397
@tutmoses @wise-east can you give us a self-contained code example reproducing the behavior?

[2020-07-29 08:07] monk1337 commented on #1805
I also faced the same issue while encoding 20_newspaper dataset, After further investigation, I found there are some sentences which are not in the English language, for example :

`'subject romanbmp pa of from pwisemansalmonusdedu cliff replyto pwisemansalmonusdedu cliff distribution usa organization university of south dakota lines maxaxaxaxaxaxaxaxaxaxaxaxaxaxax maxaxaxax39f8z51 wwizbhjbhjbhjbh

[2020-07-29 08:11] guotong1988 commented on #6116
![image](https://user-images.githubusercontent.com/4702353/88774445-0b2d6980-d1b6-11ea-88ba-e993190b434c.png)

[2020-07-29 08:11] #6116 closed

[2020-07-29 08:16] julien-c commented on #6116
I approved your post there @guotong1988

[2020-07-29 08:18] Colanim opened #6119 "🐛 Empty TypeError on BartTokenizerFast.decode(tensor)"
## Environment info
`transformers` `3.0.2`

### Who can help
 Summarization: @sshleifer

## To reproduce

[code]

will throw an empty `TypeError` :

[code]

To reproduce : [Colab Notebook](https://colab.research.google.com/drive/1bnP8TvmRrHrMD-7H2MOQQSE8QrhCb7SC?usp=sharing)

## Expected behavior

No error thrown, like with regular `Tokenizer` :

[code]

[2020-07-29 08:21] Colanim commented on #6119
I noticed this is due to `x` being a tensor. It works fine with a list :

[code]

---

So the current work-around is to first convert to a list :

[code]

[2020-07-29 08:22] julien-c commented on #6117
It'd be best to re-read the paper and original implem, but I think you just prepend a control code to each of your samples.

Cc'ing @keskarnitish for information.

PS/ for general questions, please use https://discuss.huggingface.co!

[2020-07-29 08:33] jplu commented on #5815
You are totally right!! Now everything should work like expected in the PR at the condition to use primitive booleans. If we all decide to fix the output size to 3 I will open a new PR for this.

Nevertheless, I've just spotted another problem with the usage of `TensorArray`, instead to have a tuple that looks like : `(batch_size, num_tokens, hidden_states_size) * num_layers` we get a tensor that

[2020-07-29 08:38] patrickvonplaten commented on #5851
I will take a deeper look next week on Monday when I'm back regarding the conversion from tensorflow to PyTorch.

Regarding, the `decoder_input_ids` ("For some reason, I have to send also the ids as decoder_input_ids.") -> yes for T5 you have to input both `input_ids` and `decoder_input_ids`, for the first forward call this is usually:

[code]

So this means that the `decoder_input_ids` should not

[2020-07-29 08:49] nathan-chappell opened #6120 "Don't see how to use correct padding with QA pipeline"
# ❓ Questions & Help

## Details

In some cases, when using a **QuestionAnsweringPipeline**, I get an error similar to the following:

    *** ValueError: expected sequence of length 384 at dim 1 (got 260)

I've traced the problem to line 1496 of pipelines.py, and the change to [this commit](https://github.com/huggingface/transformers/commit/896300177bf9f35feac4698370212a80a5ab6138).  The troubled

[2020-07-29 08:54] agemagician commented on #5851
Thanks @patrickvonplaten for the clarification.
In this case, I would recommend to update the documentation on:
https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_tf_t5.py#L972

Just to clarify one thing, If I am only interested on feature extraction and not generation, in this case my code should looks like:

[code]

Correct ?

Hopefully next week you will figure ou

[2020-07-29 09:26] AndreasMadsen commented on #5815
To avoid a breaking change, you could do it as a tuple of empty tensors. For version next major version, I would suggest it become one big tensor. You can swap `transpose`/swap the first and last axis, to make it mostly compatible, with indexing, unpack, etc..

[2020-07-29 09:45] DenisStenyushkin opened #6124 "convert_pytorch_checkpoint_to_tf2.py AttributeError: cls.seq_relationship.weight not found in PyTorch model"
Hi all. I'm trying to convert a pre-trained BERT model from PyTorch into TF2 format and facing a problem.

Model being converted: DeepPavlov/rubert-base-cased. I downloaded all files into a local folder.
File convert_pytorch_checkpoint_to_tf2.py from master branch - I downloaded it separately.

The command I'm running:
`python convert_pytorch_checkpoint_to_tf2.py --tf_dump_path ./rubert-base-cased

[2020-07-29 10:02] jplu commented on #5815
Exactly!! This should be a good way to go if the decision of having always 3 outputs is taken.

[2020-07-29 10:48] jianrui1995 opened #6125 "problem about geting hidden_states using TFBertModel"
## Environment info

- `transformers` version: 3.0.2
- Platform: Pycharm
- Python version: 3.6
- PyTorch version (GPU?): None
- Tensorflow version (GPU?): 2.2.0 GPU
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

 @LysandreJik @jplu
## Information

Model I am using Bert: I want to the outpts of **TFBertModel** class inclue **hidden_states**.  unf

[2020-07-29 10:50] guyeyal opened #6126 "Add decoding inputs to generate"
# 🚀 Feature request

Add decoding inputs to generate

## Motivation

When generating with encoder-decoder, one may want to insert context for the decoder.
I'm currently working on summarization given that I know some parts of the gt. But other ideas can come to mind.

## Your contribution

[code]
        r""" Generates sequences for models with a LM head. The method currently supports greedy decod

[2020-07-29 10:55] #4496 closed

[2020-07-29 10:55] #4494 closed

[2020-07-29 10:55] #4478 closed

[2020-07-29 10:56] #4471 closed

[2020-07-29 10:56] #4512 closed

[2020-07-29 10:56] #4231 closed

[2020-07-29 10:56] #4486 closed

[2020-07-29 10:56] #4061 closed

[2020-07-29 10:56] #4521 closed

[2020-07-29 11:45] aoxolotl opened #6127 "Initializing XLMRobertaTokenizer using pretrained tokenizer expects serialized vocab"
Hi,
I am training an XLMRoberta model from scratch on Hindi. I am using a sentencepiece tokenizer trained exclusively on monolingual data following the steps mentioned in the [tokenizers repository](https://github.com/huggingface/tokenizers/tree/704cf3fdd2f607ead58a561b892b510b49c301db/bindings/python#using-the-provided-tokenizers). This results in the creation of `vocab.json` and `merges.txt`.
Ho

[2020-07-29 11:48] jplu commented on #6125
Hello!

I should be solved here https://github.com/huggingface/transformers/pull/5468. Nevertheless, you have to avoid using boolean tensors for `output_hidden_states` and `output_attentions` otherwise it won't work.

[2020-07-29 11:51] dimi1357 commented on #4483
Hi,
Is there any updates regarding to BERT2GPT implementation.
Thanks!

[2020-07-29 12:11] zy329jy commented on #4425
can you give me some advices about how to pretrain the bart model  on my own dataset? thank you soooooo much

[2020-07-29 12:17] as-stevens commented on #5023
@patrickvonplaten
This post is a little longer, I appreciate your time and sorry for the long post! But I have been trying to make the classifier work and hence could help myself.

I have implemented a classification model using the Plain Reformer model,
Link to collab notebook.
[https://colab.research.google.com/drive/1l61NccWTGMfNFPj1T8kvMjnik2iEQWfe?usp=sharing](url)
I have used the pre-trained

[2020-07-29 12:20] zy329jy commented on #4151
who can tell me how to pre-train the bart on my own dataset?   I am so  confused ....
thank you so much

[2020-07-29 13:01] sgugger commented on #6033
I think you should use the pooler layer too, which is there to convert all your sequence tokens in one summary state. So
[code]

[2020-07-29 13:05] sgugger commented on #6118
The guid is indeed optional, we can add this to the type annotation. We can't add the default `= None` however because it's before `text_a` in the dataclass, which is not optional.

[2020-07-29 14:09] sshleifer commented on #6119
Tokenizer bug. @mfuntowicz is this expected behavior?

[2020-07-29 14:11] sshleifer commented on #6082
Fair. I think there is a medium-term plan to deprecate `add_prefix_space`, so at the moment it is left inconsistent and in the future it will be deleted from both.

[2020-07-29 14:16] #6082 closed

[2020-07-29 14:39] sshleifer opened #6132 "MBartTokenizerTrimmed to support truncated embeddings"
Motivation:
The embeddings table for MBART is huge, but only ~40K of the entries are used/finetuned for most wmt tasks. See https://github.com/pytorch/fairseq/issues/2120

- needs vocab.json (fairseq Dictionary)
- needs to call `encode_as_pieces` with restricted vocabulary.

I will take this.

[2020-07-29 16:10] #6033 closed

[2020-07-29 16:12] #6112 closed

[2020-07-29 16:18] jianrui1995 commented on #6125
Hello!

could you tell me more details about  how to avoid using boolean tensors? or how to achieve this goal in version 3.0.2 ?
How could I got your fixed code?  or How long time we can see your fixed code in new version?
thanks for your answers.

[2020-07-29 16:20] jlim13 opened #6135 "How to combine the encoded representations of two transformers"
Say if I have two transformers models operating on two different domains, what is a good way to combine the features?

[2020-07-29 16:25] wyin-Salesforce opened #6136 "frequent checkpoints have worse performance"
# ❓ Questions & Help

Hi All, I often notice an issue when training a model and evaluate on dev set.
Usually we may evaluate on the dev after each epoch, let's call this as setting A;
But we often want to check the system more often on the dev set, so we may evaluate for example 1/5 epoch; let's call this as setting B.

What I noticed is that A and B will get totally different performance in the e

[2020-07-29 16:32] VikasRajashekar commented on #3399
@johncwok Didu succeed in training the GPT2 model on your own dataset from scratch?

[2020-07-29 16:42] h56cho opened #6137 "StopIteration error when using HuggingFace Transformer models"
Hello,

I am trying to use the RobertaForMultipleChoice model, and when I try to compute the mc_loss, the following StopIteration error is generated:

[code]

The error seem to be generated from the HuggingFace code below:

[code]

What is the cause of this error? and how can I fix it?

Thank you

[2020-07-29 17:07] Michael95-m opened #6139 "Applying hugging face transformer in sequence labeling problem"
Hello.. Thanks for your great framework. Btw, what I'd like to know is that can I apply these hugging face transformer models in **sequence labeling** problems like **part of speech tagging** and **word segmentation**(because I see only **ner** model in example folder). If I can, **how** can I do that?? Can I get some helps like **example scripts** about how to apply these transformers for sequenc

[2020-07-29 17:27] sgugger commented on #6115
Hi there,

Note that we won't pin the version of PyTorch to 1.6 minimum, so the use of native mixed precision will have to be controlled by a test on the pytorch version (basically use native mixed precision when the version allows it and use apex otherwise).

Otherwise, I don't think the loss being computed inside the model should be a problem, the line would probably be
[code]
inside Trainer but

[2020-07-29 17:58] Meadosc opened #6140 "Copyright date and owner not filled out in LICENSE file"
In transformers/LICENSE the copyright date and owner is not filled out.

https://github.com/huggingface/transformers/blob/master/LICENSE#L179-L190

[2020-07-29 18:11] aclifton314 commented on #6105
Hi @sshleifer, thanks for your reply!
I wasn't quite sure if it would warrant a bug report or feature suggestion (or neither). Thanks for clearing that up.

The task I am doing is text generation. I have a dataset of scientific abstracts that I want to finetune the GPT2 pretrained model on to generate similar abstracts. However, I wanted to replace the loss with a loss from a N-grams model I have.

[2020-07-29 18:41] frarito opened #6141 "Bug in language_modeling.py calling tokenizer.num_special_tokens_to_add"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.4.0-1081-aws-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.6.0+cu101 (True)
- Tensorflow version (GPU?): 2.1.0 (True)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using GPT-2

The class TextDataset call tok

[2020-07-29 19:27] LysandreJik commented on #5907
The main issue is solved, closing this for now. Feel free to re-open if the problem persists.

[2020-07-29 19:27] #5907 closed

[2020-07-29 19:58] davidatbu commented on #6118
Thanks! I'll probably shape up a bunch of type annotations into a PR sometime soon, so I'll make `guid` Optional(but without a default) in that PR if noone gets to it before me.

[2020-07-29 19:58] LysandreJik commented on #5942
Hi! This is a very interesting question, I think you would have additional answers if you asked it over on the forums: https://discuss.huggingface.co

[2020-07-29 20:29] #6141 closed

[2020-07-29 20:30] frarito commented on #6141
I was using a wrong approch, it works if I train the tokenizer, save de params, and load into a FastTokenizer impl

[2020-07-29 21:31] wyin-Salesforce commented on #6139
you just use the ner code for POS tagging problem, the only difference is the set of target classes

[2020-07-29 21:48] dipanjanS opened #6144 "Question-Answering pipeline doesn't work anymore with long text"
Transformers version: 3.0.2

The question-answering models don't seem to work anymore with long text, any reason why this is happening? I have tried with the default model in `pipeline` as well as with specific models.

e.g

__Sample Code:__

[code]

__Error Message:__

[code]

This used to work before version 3 I remember, would really appreciate some help on this.

[2020-07-29 23:05] dipanjanS commented on #6144
Also if I look back at my code,

[code]

Still works for me with a larger context (same  code as above). Any idea which is the default model being used there and if that would still work for transfomers 3.x ?

[2020-07-30 00:59] PyAntony opened #6145 "TOKENIZER: truncation not working for batch"
## Environment info

- `transformers` version: 2.11.0
- Platform: Linux-4.15.0-106-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.4
- PyTorch version (GPU?): 1.5.1 (False)
- Tensorflow version (GPU?): 2.2.0 (False)
- Using GPU in script?: NO
- Using distributed or parallel set-up in script?: NO

### Who can help

 albert, bert, GPT2, XLM: @LysandreJik
 tokenizers: @mfuntowicz
 example

[2020-07-30 01:45] Colanim opened #6146 "🌟 Mirostat decoding algorithm"
# 🌟 Mirostat: A Perplexity-Controlled Neural Text Decoding Algorithm

## Description

Paper : https://arxiv.org/pdf/2007.14966.pdf

Abstract :

## Open source status

* [x] the model implementation is available: https://github.com/basusourya/mirostat
* [x] the model weights are available: _Not applicable_
* [x] who are the authors: @basusourya

[2020-07-30 02:44] dutyhong opened #6147 "the documents for transformer don't work"
# ❓ Questions & Help

##   i find the new document for transformer can't work, https://huggingface.co/transformers/v2.5.0/model_doc/bert.html#bertmodel  ; the class link don't work

**A link to original question on the forum/Stack Overflow**:

[2020-07-30 02:56] xwwwwww opened #6148 "tokenize cache for examples/language-modeling"
# 🚀 Feature request

I find transformer already has cache for tokenized result in examples/token-classification.
I think language-modeling which with a much larger dataset also need that

[2020-07-30 02:59] xwwwwww commented on #6148
as it takes me about 7 minutes to tokenize a train set (size is 400w) every time I start training.

[2020-07-30 03:08] stas00 commented on #6018
https://github.com/huggingface/transformers/pull/6149

[2020-07-30 04:53] misrasaurabh1 opened #6150 "🐛 T5 Tokenizer ignores \n \t characters and more than one whitespace together"
## Environment info

- `transformers` version: 3.0.2 (master)
- Platform: Linux-4.9.0-12-amd64-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.5.1+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

@patrickvonplaten @sshleifer

## Information
T5 Tokenizer

[2020-07-30 05:10] #6018 closed

[2020-07-30 06:41] yhCyan commented on #3407
I find this question too. Two codes are obviously different.
Because the `p.data` in huggingface has changed through `p.data.addcdiv_(-step_size, exp_avg, denom)`
But I can't understand why.

[2020-07-30 07:38] deepankar27 commented on #5712
@LysandreJik Sorry for the late reply, I figured it out, issue was with my config files. Thanks... :)

[2020-07-30 08:00] prajjwal1 commented on #6115
Hi Sylvain,

I've opened up a PR. I know that pinning of version won't be done. To address, I've addressed this issue the same way as we handle `scheduler.get_lr()`.

[2020-07-30 08:19] LysandreJik commented on #5944
Hi, this is because it's tokenizing the entire dataset in a single thread, so it's bound to be a bit slow. This class caches the result though, so you will only have to do this step once!

[2020-07-30 08:19] #5944 closed

[2020-07-30 08:33] johncwok commented on #3399
I did, but it didn't produce very good results. Either my data is not good enough or I need more layers, but I have reach the max. of what my computer capacity can allow me

[2020-07-30 08:41] LysandreJik commented on #5611
HI @monk1337, the error here is because you've called the model with a sequence that is longer than 512 tokens. BERT-like models have a fixed limit in sequence length, which is often 512 or 1024.

For your second question, indeed your model is not on your GPU. With PyTorch, you have to cast your model to the device you want it to run it, so you would have to do something like:

[code]

Please note

[2020-07-30 08:41] #5611 closed

[2020-07-30 08:50] LysandreJik commented on #5962
If I understand correctly and you're asking what/where are those two files:

- `discriminator.json` is the configuration file for the model you want to convert
- `model.bin` is the location where the converted checkpoint will be saved.

[2020-07-30 08:50] #5962 closed

[2020-07-30 08:53] LysandreJik commented on #5963
CUDA errors are always very cryptic 😕.

Do you mind giving us an example that we can reproduce (e.g. with an article you're trying to encode that fails), so that we can see what's going on?

[2020-07-30 08:55] LysandreJik commented on #5947
Closing this as the issue is solved. Feel free to re-open if you still face issues.

[2020-07-30 08:55] #5947 closed

[2020-07-30 09:05] LysandreJik commented on #5964
Hi! This doesn't currently work, because it's trying to instantiate a classification layer with 10 labels, while the checkpoint's classification layer has 19 layers.

What you want is to keep the base layers, but ignore the classification layers. In order to do so, you can load your checkpoint in a base `RobertaModel`. This will only load the base model. You can then save that model to a checkpoin

[2020-07-30 09:05] #5964 closed

[2020-07-30 09:34] LysandreJik commented on #5968
Hi! This is an interesting question, have you tried asking it over on the forums at https://discuss.huggingface.co ? You'll probably get more answers over there.

[2020-07-30 09:36] Chokerino opened #6152 "Using BertWordPiece Tokenizer"
# ❓ Questions & Help

## Details
The Bert WordPiece tokenizer only saves a vocab file on saving the model while other tokenizers such as Byte Level BPE also save a merges file.  When I try to call the model after saving it `RobertaTokenizerFast.from_pretrained("./EsperBERTo_italian", max_len=512)` I get the following error
`OSError: Model name './EsperBERTo_italian' was not found in tokenizers mod

[2020-07-30 09:38] LysandreJik commented on #4857
Closing this as solved by #5418

[2020-07-30 09:38] #4857 closed

[2020-07-30 09:39] LysandreJik commented on #5281
Closing this as solved by #5418. Feel free to re-open if you still face an issue.

[2020-07-30 09:39] #5281 closed

[2020-07-30 09:46] LysandreJik commented on #5829
Thanks for the fix with #5834 :)

[2020-07-30 09:46] #5829 closed

[2020-07-30 10:04] LysandreJik commented on #5991
Hi, thanks for raising this issue! Indeed, this looks like an issue. Do you want to open a PR with the fix you propose?

[2020-07-30 10:25] #6011 closed

[2020-07-30 10:27] agiagoulas commented on #5602
@sshleifer The Documentation page said to assign you, but I can only mention you.

[2020-07-30 10:59] #4571 closed

[2020-07-30 11:00] LysandreJik commented on #4583
unstale

[2020-07-30 12:59] sgugger commented on #6147
The link works, but the documentation was not properly done at this version. You should check a more recent version.

[2020-07-30 13:39] #4643 closed

[2020-07-30 14:52] DaniMlk opened #6154 "Hidden State Embedding-Transformers"
Hi everybody, I want to use Bert model to get the embedding for a sentence after I fine-tuned it with raw texts. I was wondering if is that possible or not and anybody can help me with that?

[2020-07-30 15:01] crispin-nosidam commented on #1413
If I add unknown tokens to the model and train the model on, say sentence pair similarity, while I suppose the new tokens will not have the correct relationship with other tokens, will the model output still be able to find similarity correctly given sufficient training on the model?

[2020-07-30 15:01] mikeogawa commented on #991
I'm not sure from which version, but the above doesn't work anymore.
If any one stumbles on the same problem, try this:
`logging.getLogger("transformers.tokenization_utils_base").setLevel(logging.ERROR)`

[2020-07-30 15:22] sshleifer commented on #5602
how big are your batches?

[code]

[2020-07-30 16:35] sshleifer opened #6156 "should mBART-large-en-ro have decoder_start_token_id by default?"
Hypothesis: since the argument `prepend_bos` is set to "False" in fairseq/examples/README.md, mbart-large-en-ro does not need `decoder_start_token_id`.

TODO:
- create branch that deletes `decoder_start_token_id`. Setting it to None in the config might not be enough.
- verify that decoder_start_token_id is in fact not being used by setting a breakpoint in `generate`.
- run_eval.py on wmt-en-ro/tes

[2020-07-30 17:19] GregoireMialon commented on #6154
Hi! Did you have a look at [this older issue](https://github.com/huggingface/transformers/issues/1950) ?

[2020-07-30 17:43] DaniMlk commented on #6154
Yes I did, but my concern is that if I want to fine-tune it on my raw text data (language model with LM head) then how should I use it for sentence embedding? Can I just remove the LM head of it?

[2020-07-30 18:03] GregoireMialon commented on #6154
I think this is not necessary since, according to the [documentation](https://huggingface.co/transformers/model_doc/bert.html#bertformaskedlm), you can access every hidden states of your model without removing the LM head.

[2020-07-30 18:22] DaniMlk commented on #6154
Yes, thank you for your reply, I figured it out the language model network can be split into two parts which are
[code]
then I just need to get the output from self.bert if I want to access the hidden states.

[2020-07-30 18:35] h56cho opened #6159 "OSError: Unable to load weights from pytorch checkpoint file."
Hello,

When I am trying to load the `Roberta-large` pre-trained model, I get the following error:

[code]

How can I solve this issue? Thank you,

[2020-07-30 20:10] batyas opened #6160 "run_squad.py eval metrics meaning"
I am having difficulty understanding what exactly the best_f1 and best_exact scores that are outputted in the run_squad.py evaluation mean. (The scores are computed in the squad_metrics script, found [here](https://github.com/huggingface/transformers/blob/master/src/transformers/data/metrics/squad_metrics.py)).
What are the "scores" the best calculations are working with, what do the metrics repre

[2020-07-30 20:11] amanpreet692 opened #6161 "Padding Strategy Code missing an else case (maybe?)"
## Environment info
- `transformers` version: 3.0.2
- Platform: macOS 10.15.5
- Python version: 3.7
- PyTorch version (GPU?): 1.5 GPU-Yes
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
 tokenizers: @mfuntowicz
 Summarization: @sshleifer
 T5: @patrickvonplaten

## Information

Model I am using (T5 via Autotokenizer):

The problem arises when using

[2020-07-30 20:13] patrickvonplaten commented on #5851
Yes, we should update the example to clarify a bit...`T5` is an encoder-decoder model, so it's usually used for conditional generation IMO, so to model the following distribution:

![a0dd19b0f9e827b66400819b15e4a290](https://user-images.githubusercontent.com/23423619/88969462-33e65980-d2b1-11ea-8eb8-a6c52b0a4040.png)

with y being the `decoder_input_ids` and x being the `input_ids`.

So for featur

[2020-07-30 20:16] patrickvonplaten commented on #5851
Would be great if you can send me the weights of your trained model per mail (Weshare, google drive) then I check out the problem with the conversion next week

[2020-07-30 20:23] #6126 closed

[2020-07-30 22:32] flyaway1217 opened #6164 "RoBERTa ``tokenizer.decode`` does not produce the same sentence."
## Environment info
- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-74-generic-x86_64-with-glibc2.27
- Python version: 3.8.0
- PyTorch version (GPU?): 1.5.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No.
- Using distributed or parallel set-up in script?: No.

### Who can help
@mfuntowicz

## Information

Model I am using (Bert, XLNet ...): RoBERTa

The

[2020-07-30 22:47] misrasaurabh1 commented on #5509
Update on how I solved the large memory usage. Because I just wanted one copy of the features in memory, so I used a redis-server locally to cache the features in memory in a separate process. I am also using unix sockets to make connections faster. Items stored in Redis have keys equal to the array index and value equal to the pickled feature dictionary. In the __getitem__ I am unpickling the dat

[2020-07-31 00:42] #6139 closed

[2020-07-31 00:45] #5940 closed

[2020-07-31 01:32] pdegner commented on #4444
I had this exact error. I got around it by saving the weights and the code that creates the model. After training your model, run`model.save_weights('path/savefile')`.  Note there is no .h5 on it.

When you want to reuse the model later, run your code until model.compile(). Then, model.load_weights('path/savefile').

[2020-07-31 01:47] brettkoonce commented on #4299
see also #3535

[2020-07-31 01:48] brettkoonce commented on #5969
see also #3535

[2020-07-31 02:35] Colanim commented on #6164
Seems to be an edge case from cleaning up tokenization on decoding :

https://github.com/huggingface/transformers/blob/c0b93a1c7a961e30b30d02d641c9d22120ef5d73/src/transformers/tokenization_utils_base.py#L2688

---

For this specific case, a work-around can be :

`ss = tokenizer.decode(input_ids, skip_special_tokens=True, clean_up_tokenization_spaces=False)`

---

But I think it's a bug. Is there

[2020-07-31 03:54] Wchenguang commented on #5765
Sorry! I check again and it works well!
`
import tensorflow as tf
from transformers import WarmUp
import numpy as np
inputs = tf.keras.Input(shape = (20))
outputs = tf.keras.layers.Dense(2)(inputs)
model = tf.keras.models.Model(inputs = inputs,
                             outputs = outputs)
x = []
lr = []
def decay(step):
    return 0.1

class metrics(tf.keras.callbacks.Callback):
    def __init_

[2020-07-31 03:58] #5765 closed

[2020-07-31 04:46] PhilipMay commented on #2742
Well - is this realy a bug or just an improvement of the documentation?

[2020-07-31 05:48] mingzi151 commented on #4517
Hi @patrickvonplaten, thanks for sharing the scripts. However, the second link for training an encoder-decoder model is not found. Could you please upload this script? Thanks.

[2020-07-31 06:10] advpro41 commented on #4517
You

[2020-07-31 06:28] LysandreJik commented on #4393
Similar to #6025

[2020-07-31 06:29] patil-suraj commented on #5509
Thanks for sharing this @misrasaurabh1

[2020-07-31 06:30] LysandreJik commented on #5509
Thanks for letting us know @misrasaurabh1! We're very close to having TPU CI, only a few days away to a week, so we'll be able to monitor such metrics more closely.

[2020-07-31 06:36] LysandreJik commented on #6127
Hi! The XLM-R tokenizer only accepts SentencePiece files, which cannot be created yet with the `tokenizers` library (soon!). You should use the official SentencePiece library for that.

[2020-07-31 06:36] #6127 closed

[2020-07-31 07:17] misrasaurabh1 commented on #5509
Although the memory still keeps increasing as the training progresses. If it becomes too much of an issue for a reliable training pipeline I can dig deeper.

[2020-07-31 07:38] julio3361 opened #6170 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2020-07-31 07:39] julio3361 commented on #6170
`j`

[2020-07-31 07:39] julio3361 commented on #6170
Y

[2020-07-31 07:39] julio3361 commented on #6170
Grgj6r

[2020-07-31 07:39] julio3361 commented on #6170
Yes mi bro

[2020-07-31 07:39] julio3361 commented on #6170
Yes mi bro

[2020-07-31 07:39] julio3361 commented on #6170
K

[2020-07-31 07:40] julio3361 commented on #6170
J

[2020-07-31 08:12] LysandreJik commented on #6159
Hi! Do you mind pasting your environment information here so that we may take a look?

[2020-07-31 08:23] #6115 closed

[2020-07-31 08:46] LysandreJik commented on #6152
Hi! Are you trying to load a BERT vocabulary in a RoBERTa tokenizer? This unfortunately won't work, as the mechanisms between the WordPiece and Byte level BPE are inherently different.

[2020-07-31 09:10] Chokerino commented on #6152
Hi, I could not find documentation for it so I thought id try. Another thing I wanted to ask is that I am working on a dataset of recipes so I have a list of ingredients in order.  I now remove random ingredients and predict them using various models. I have tried Seq2Seq models and Roberta to solve this problem but both give poor results. In my opinion, this problem is somewhat similar to NLP pro

[2020-07-31 09:12] #6170 closed

[2020-07-31 10:22] monologg opened #6172 "🐛 Not adding `token_type_ids` when the model is `electra` (pytorch_lightning example)"
### Who can help
@sshleifer (examples issue)

## Information

Model I am using (Bert, XLNet ...): `ELECTRA`

The problem arises when using:
* [X] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [X] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

## About Issue

h

[2020-07-31 10:24] #4545 closed

[2020-07-31 10:24] #4498 closed

[2020-07-31 11:01] vyaslkv commented on #5978
@sgugger can you please help

[2020-07-31 11:08] patil-suraj commented on #5978
Hi @vyaslkv ,  I think the best place to ask this question is [HF forums](https://discuss.huggingface.co/) someone who has already worked on similar task can answer it better.  Although @sgugger  might have some answers :)

[2020-07-31 11:13] ugmSorcero commented on #4399
It's finally here! Really great work @patil-suraj !!!

I have one question:
When generating questions given answers and context, you try to find the answer within the context in order to highlight it, but there might be two problems with this approach:

- First, with the first model that you released for generating answers, sometimes I found that the generated answer was not corresponding to the o

[2020-07-31 11:13] vyaslkv commented on #5978
@patil-suraj Thanks I will put my question there as well

[2020-07-31 11:19] patil-suraj commented on #6172
Hi @monologg , yes toke_type_ids should be there for electra,

easy fix would be somethin like
[code]

@sshleifer , if yes, I can open a PR

[2020-07-31 11:19] vyaslkv commented on #5978
https://discuss.huggingface.co/t/search-query-autocomplete-from-the-queries-i-have-in-my-data/546

[2020-07-31 11:26] monologg commented on #6172
@patil-suraj, I also think that is the best to way to fix this issue:)

https://github.com/huggingface/transformers/blob/838dc06ff5a438159ac25f531d622e8f344476f5/examples/text-classification/run_pl_glue.py#L98-L102

And not only in `training_step()`, also `validation_step()` has to be fixed.

[2020-07-31 11:27] patil-suraj commented on #6172
Yes, totally forgot about that, thanks!

[2020-07-31 11:39] alexvaca0 commented on #2742
In my opinion it's a bug as it's misleading. If you want to do lower that doesn't mean you want to strip accents too. Those are two separate actions which the user should decide separately.

[2020-07-31 11:59] Krish-Nerkar opened #6173 "My finetuned gpt2 model is taking wayy too long to generate samples, like 5-8 minutes"
I fine tuned the gpt2 model using transformers, i trained it on a lyrics dataset, and after successful training, when i do model.generate(args), it takes like a hell lot of time to genrate results
What Should i do?

[2020-07-31 13:24] LilianBordeau commented on #5917
Thanks for the answer @sshleifer! HuggingFace was working well, it was my nvidia apex installation that was broken and returned errors in fast-bert that confused me. All works well now!

[2020-07-31 13:55] RayLei commented on #5963
Thank you for the comment. I split my code into 2 script files: one is tokenize; the other is transform. Somehow it works. Probably it was caused by some issue in the remote server, or my custom data class. Kindly close the topic.

[2020-07-31 13:55] #5963 closed

[2020-07-31 15:24] lai-agent-t commented on #5612
I have change to tensorflow 2.0 instead of pytorch ...

[2020-07-31 15:35] patil-suraj commented on #6173
Hi @Krish-Nerkar , [this](https://discuss.huggingface.co/t/speeding-up-gpt2-generation/470) might help

[2020-07-31 15:41] #6154 closed

[2020-07-31 16:14] mad912584-commit opened #6174 "t"
# ❓ Questions & Help

## Details

**A link to original question on the forum/Stack Overflow**:

[2020-07-31 16:16] #6174 closed

[2020-07-31 16:28] Xelvoz commented on #2708
@lucadiliello did you maange to fix it?

[2020-07-31 19:50] agemagician commented on #5851
Thanks @patrickvonplaten for the clarification. I am glad that my understanding is correct, and I am extracting the features from T5 correctly.

Regarding your questions:
1. Task: We are training different language models for the language of life "protein sequences".
2. Objective: Span de-noising.
3. The model: 11B and 3B models from T5.

You can find more details on my GitHub repo and my paper fi

[2020-07-31 20:49] mchari opened #6177 "RoBERTa for QuestionAnswering"
I am trying to replicate the example in this link
https://github.com/huggingface/transformers/pull/1502/files, but I get the following error :
``
ValueError                                Traceback (most recent call last)
<ipython-input-23-823cc70a5d4f> in <module>
----> 1 token_type_ids = [0 if i <= input_ids.index(102) else 1 for i in range(len(input_ids))]
      2 start_scores, end_scores = mod

[2020-07-31 20:52] h56cho opened #6178 "Why are the `device()` and `dtype()` functions in `modelling_utils.py` needed?"
Hello,

For BERT and RoBERTa HuggingFace pre-trained models, why are the `device()` and `dtype()` functions in `modeling_utils.py` needed?

See: https://github.com/huggingface/transformers/blob/8edfaaa81b9995cedea2f8805e4c18c2b6cb5bfc/src/transformers/modeling_utils.py#L158

https://github.com/huggingface/transformers/blob/8edfaaa81b9995cedea2f8805e4c18c2b6cb5bfc/src/transformers/modeling_utils.py

[2020-07-31 21:05] HanGuo97 opened #6179 "HANS Dataset: Incorrect `label_list` and `label`."
## Environment info

- `transformers` version:
- Platform: n/a
- Python version: n/a
- PyTorch version (GPU?): n/a
- Tensorflow version (GPU?): n/a
- Using GPU in script?: n/a
- Using distributed or parallel set-up in script?: n/a

### Who can help

@VictorSanh

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details bel

[2020-07-31 21:13] sshleifer opened #6181 "Failing ONNX Export test"
https://github.com/huggingface/transformers/runs/929962952?check_suite_focus=true

[code]

[2020-07-31 21:19] sshleifer opened #6182 "Failing XLMModelTest"
https://github.com/huggingface/transformers/runs/929962952?check_suite_focus=true

FAILED tests/test_modeling_xlm.py::XLMModelTest::test_inputs_embeds - RuntimeError

Failure introduced somewhere in here:
[code]

Any idea on this @sgugger or @LysandreJik  ? Otherwise I'll dig in.

[2020-07-31 21:32] alexandrenriq commented on #4299
@brettkoonce I saw it, it didn't work.

[2020-07-31 22:40] klimentij commented on #2466
I managed to quantize Pytorch GPT-2 XL to int8 with `quantize_torch_model` method from [this script](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/transformers/quantize_helper.py). As easy as:
```model = QuantizeHelper.quantize_torch_model(model)```

After that I observed 4x speedup on CPU (and changes in predicted scores).

You might also want converting it to torc

[2020-07-31 23:27] sociengineer commented on #852
In my case, the speed of training with 4 GPU is the same as 1 GPU. How solve the speed issues?

[2020-07-31 23:49] AADeLucia commented on #4729
Very interested in this! Came here from #3021 (many hours after wondering why my batch generation was not working...)

[2020-08-01 02:21] AADeLucia commented on #3021
@tianleiwu this worked for me! Saved me HOURS in compute time, thank you!

[code]

[2020-08-01 03:39] kevin-yauris commented on #2814
@BramVanroy @julien-c
Continuing #1999, it seems `run_language_modeling.py` is just for PyTorch and fine-tune a masked language model using Tensorflow doesn't have an example script yet. Any plan to make the Tensorflow version of the script or maybe how to modify the current`run_language_modeling.py` so it can be used for Tensorflow too. Thank you.

[2020-08-01 04:18] #4588 closed

[2020-08-01 04:18] #4569 closed

[2020-08-01 04:18] #4572 closed

[2020-08-01 04:18] #4576 closed

[2020-08-01 04:18] #3829 closed

[2020-08-01 10:24] PhilipMay opened #6186 "Remove inconsistency between BertTokenizer and BertTokenizerFast"
# 🚀 Feature request
`BertTokenizerFast` has the option to specify `strip_accents=False`. The `BertTokenizer` does not have this option. This inconsistency should be removed by adding the `strip_accents` parameter to `BertTokenizer`.

## Motivation
Without adding this, the `BertTokenizer` can not be used for language models which are lowercase but have accents.

In case of a language model with low

[2020-08-01 11:30] Liu0329 commented on #3570
@makaveli10 how to solve it ?

[2020-08-01 12:10] BramVanroy commented on #4677
Ping me if you need beta testers. I can test for Windows, Linux, Linux DDP.

[2020-08-01 14:25] patil-suraj commented on #4399
Thanks @ugmSorcero !

1. Yes, I have also observed these issues, see issue patil-suraj/question_generation#11 The initial goal of the project was to generate reading comprehension style questions like SQuAD where answers will always be in the text and I wanted to train BERT like model for answer extraction  modelled as a span extraction task. But I wanted to keep everything as simple as possible a

[2020-08-01 15:34] ksjae opened #6188 "taeminlee/kogpt2 not working"
## Environment info

- None: hosted inference API

### Who can help
@LysandreJik
@julien-c
@TevenLeScao

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [O] the official example scripts: Hosted Inference API testing page
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [O] m

[2020-08-01 15:35] ksjae commented on #5590
Bumping @sgugger to analyze this issue.

[2020-08-01 15:51] #4484 closed

[2020-08-01 15:52] #4563 closed

[2020-08-01 15:52] #4475 closed

[2020-08-01 15:52] #4579 closed

[2020-08-01 16:04] mkaze opened #6190 "Add support for truncation argument when calling a Pipeline"
# 🚀 Feature request

Currently, only the `padding` argument [is supported](https://github.com/huggingface/transformers/blob/a39dfe4fb122c11be98a563fb8ca43b322e01036/src/transformers/pipelines.py#L500) when calling a pipeline, and it's not possible to pass `truncation` argument. For example, running the following code sample would raise an error:

[code]

## Motivation

If toggling padding is suppo

[2020-08-01 16:23] #6090 closed

[2020-08-01 16:23] XiaoLiuAI commented on #6090
@sgugger Thank you very much.

[2020-08-01 16:27] don-prog commented on #1328
@mkaze I think you are talking about `TFBertModel` which has `hidden_states` at index `2`, but OP is talking about `TFBertForSequenceClassification` which has `hidden_states` at index `1`, so we need to use index `1`. @BramVanroy is this correct?

[2020-08-01 16:27] don-prog commented on #1328
@BramVanroy also, is it useful to use `outputs[1]` with the `RobertaForSequenceClassification` and `TFDistilBertForSequenceClassification` models?

[2020-08-01 16:55] BramVanroy commented on #1328
@mkaze @don-prog My variables were badly named, indeed. In BertForSequenceClassification, the hidden_states are at index 1 (if you provided the option to return all hidden_states) and if you are not using labels. At index 2 if you did pass the labels.

I do not know the position of hidden states for the other models by heart. Just read through the documentation and look at the `forward` method. Th

[2020-08-01 17:01] dkaterenchuk commented on #2598
I had the same issue and found that this problem occurs because the default "RobertaConfig" is based on "bert-base-uncased" config, which is different from "roberta-base" config. The right way to initialize the model and configuration is (LysandreJik's solution):

[code]

Please refer to the similar issue:
[#1627](https://github.com/huggingface/transformers/issues/1627)

[2020-08-01 17:12] Krish-Nerkar commented on #6173
@patil-suraj Thanks Alot! will check those methods out

[2020-08-01 17:34] mkaze commented on #1328
@BramVanroy @don-prog The weird thing is that the documentation claims that the `pooler_output` of BERT model is not a good semantic representation of the input, one time in "Returns" section of `forward` method of `BertModel` ([here](https://huggingface.co/transformers/model_doc/bert.html#transformers.BertModel)):

![pooler](https://user-images.githubusercontent.com/8656825/89106676-fb758580-d440

[2020-08-01 17:44] don-prog commented on #1328
@BramVanroy Many thanks for the quick reply! So, this is my usage of the last `TFDistilBertModel` 4 hidden states in the TensorFlow:
[code]
Is this this correct representation of your PyTorch code in the TensorFlow(except for the difference in additional layers)?

[2020-08-01 18:24] h56cho opened #6191 "How to integrate the Pyro module with HuggingFace Transformers?"
Hello,
I am trying to convert the HuggingFace Transformer into a Bayesian neural network by using the `Pyro` module.
I provided my code below. Everything works well except I am stuck at the line `svi_loss = svi.step(input_ids = input_ids, attention_mask = attention_mask, labels = label)`. At that line an error is generated, because after converting the HuggingFace Transformer into a Pyro model, th

[2020-08-01 19:01] vibhavagarwal5 opened #6192 "GPT2 crashing at loss.backward()"
## Environment info

- `transformers` version: 3.0.2
- Platform: Ubuntu
- Python version: 3.6
- PyTorch version (GPU?): 1.5.0
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

@LysandreJik

## Information

Trying to finetune GPT2 model but the GPU is crashing after `loss.backward()`. I thought it might be just my code but I ran some different code involving finetu

[2020-08-01 19:17] yassineAlouini commented on #4658
Very interesting as an idea. @StealthySemicolon do you have reference to other similar work done in the past?

[2020-08-01 19:35] StealthySemicolon commented on #4658
No, just a hunch. Even if I did know how to do this, it's not like OpenAI would publicly release the model weights...

[2020-08-01 20:41] stas00 commented on #6045
I will post my work in progress here, so others could chime in with ideas.

This notebook measures memory consumption and speed of __init__, fwd and fwd+bwd
https://colab.research.google.com/drive/1n6J3tc8FT4ER1vBCTAtU4__U5Px2mxwI?usp=sharing

The current difficulty is how to establish a baseline for memory and speed, so that it can be validated against in the future - detecting any regressions.

[2020-08-01 21:02] don-prog commented on #3551
@Damiox have you found the original preprocessing code?

[2020-08-01 21:41] sshleifer commented on #6045
Is the variance similar for larger models?

[2020-08-01 22:06] stas00 commented on #6045
I updated the comment above to add the same data for the full bart-base model.

The difference in memory seems to be "relatively" fixed - i.e. larger model still has about the same diff as the small one between two cards memory-wise.

Speed on the other hand has a much wider variation. Note, I added a comment that speed measurements are already an average of 30 re-runs.

[2020-08-01 23:07] HarshTrivedi opened #6193 "Some weights not initialized in pre-trained RobertaForMaskedLM"
The bug is similar to #2202.

I am trying to evaluate MLM perplexity (without training/finetuning) using Roberta with `run_language_modeling.py` (from the [official example](https://github.com/huggingface/transformers/tree/master/examples/language-modeling)). However, some weights seems to be reinitialized instead of getting loading from the pretrained Roberta checkpoint.

## To Reproduce (with ma

[2020-08-01 23:51] #4524 closed

[2020-08-02 00:24] Damiox commented on #3551
@don-prog no, I have not 😢 - I am doing some subset of the preprocessing heuristics that @BramVanroy detailed before when serving the model. But I still think it'd be really good to have a consistency between both preprocessing mechanisms: training (whatever it was) vs inference. I just haven't had the time to identify that original preprocessing code from OpenAI

[2020-08-02 01:55] #4540 closed

[2020-08-02 04:10] manishiitg opened #6194 "longformertokenizerFast gives error"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ X ] my own modified scripts:

[2020-08-02 04:11] manishiitg commented on #6194
@patrickvonplaten please see. if relevant

[2020-08-02 05:03] patil-suraj commented on #6194
Hi @manishiitg , can you post the command/code you used to run this example ? Won't be able to re-produce from the stack-trace.

[2020-08-02 05:08] patil-suraj commented on #6192
Hi @vibhavagarwal5 , you can safely ignore this warning, that issue is resolved in this PR #5922 .

Do you think you can post the stack-trace after the crash, and also the version and memory of the GPU used

[2020-08-02 05:14] vibhavagarwal5 commented on #6192
**GPU DETAILS:** NVIDIA 2080 TI

| NVIDIA-SMI 440.95.01    Driver Version: 440.95.01    CUDA Version: 10.2     |

**STACK TRACE:**
[code]

[2020-08-02 05:24] patil-suraj commented on #6192
Seems like memory error, you can try running with batch size 1 and see if it still crashes.

[2020-08-02 05:27] vibhavagarwal5 commented on #6192
Nope not a memory error. Still crashing with batch size 1

[2020-08-02 05:36] patil-suraj commented on #6192
Which GPT-2 model are you using ?

[2020-08-02 05:44] vibhavagarwal5 commented on #6192
Tried both 'gpt2' and 'gpt2-medium'. Same issue

[2020-08-02 05:45] patil-suraj commented on #6192
Could you run it in on CPU, erros will be more readable.

[2020-08-02 05:51] vibhavagarwal5 commented on #6192
[code]

[2020-08-02 06:06] patil-suraj commented on #6192
So looks like error is form the embedding layer, what's the shape of your `inputs`

[2020-08-02 06:12] vibhavagarwal5 commented on #6192
bs x seq_len (4x63 or 4*52 ... anything)

[2020-08-02 06:13] patil-suraj commented on #6192
could you be more specific, what is your seq_len ?

[2020-08-02 06:16] stas00 commented on #5973
one test file: https://github.com/huggingface/transformers/pull/6196
if happy will do the rest

[2020-08-02 06:17] vibhavagarwal5 commented on #6192
Input:
[code]
label:
[code]

[2020-08-02 06:36] patil-suraj commented on #6192
Did you add any new tokens to the tokenizer ?

get the shape of embeddings using `model.transformer.wte.weight.shape` the first dim of shape and len of tokenizer should match. See if this asserts is True
[code]

if not then that means, your vocab size and embed input size are not matching. If you added new tokens to the vocab, you'll need to resize the token embeddings of the model. You can resize

[2020-08-02 06:43] vibhavagarwal5 commented on #6192
I'm doing this already..

[code]

[2020-08-02 06:45] patil-suraj commented on #6192
I was able to reprouce the bug only when embedding size and vocab len didn't match.

`assert modle.transformer.wte.weight.shape[0] == len(tokenizer)` did this assert result in `False` ?

[2020-08-02 06:53] vibhavagarwal5 commented on #6192
No, its True.

[2020-08-02 08:51] #4606 closed

[2020-08-02 11:40] BramVanroy commented on #1328
@mkaze Yes, this is always something that comes up for discussion. I think the only correct answer here is (as so often): try it out and see what works best in your scemario. Results will differ between different projects, depending on the task, training steps, dataset, and so on. There is no one right answer. You may even decide to use maxpooling rather than average pooling. There are loads of th

[2020-08-02 13:49] WangHexie commented on #4406
I modified this example to adapt to the BART. And  only use `Positive  </s>`  as target , but after training for a epoch, the model output all 0, `tensor([[2, 0, 0, 2]])`, decoded as `''` .
What could be reason for the model failed on such simple task?
Using training_rate = 2*10^-5

[2020-08-02 14:27] patil-suraj commented on #4406
@WangHexie , not sure. One suggestion, with BART you won't need to manually add </s> at the end as the BART tokenizer automatically add the `eos` token at the end of the text

[2020-08-02 14:30] vibhavagarwal5 commented on #6192
For whatever reason, `transformers v2.3` is working and the latest `3.x`

[2020-08-02 15:12] Hildweig opened #6202 "Cannot fine tune my distilbart-cnn-12-6 model because of cuda memory"
I'm trying to fine tune my model like this:

[code]

But even with a batch size of 1 I get this error:
 File "/content/transformers/examples/seq2seq/finetune.py", line 344, in <module>
    main(args)
  File "/content/transformers/examples/seq2seq/finetune.py", line 322, in main
    logger=logger,
  File "/content/transformers/examples/lightning_base.py", line 330, in generic_train
    trainer.fit(

[2020-08-02 15:49] pommedeterresautee commented on #4914
requires unigram algo implemented on tokenizers
https://github.com/huggingface/tokenizers/pull/292

[2020-08-02 16:29] vinejain commented on #3691
Thanks much, this worked for me!

[2020-08-02 17:00] WangHexie commented on #4406
@patil-suraj Thanks to your prompt. These models' behaviour is quite different, the problem is solved by shifting decoder input to the right manually.

[2020-08-02 17:12] #4623 closed

[2020-08-02 17:14] c-col opened #6203 "Issue with fp16_opt_level default"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-1091-oem-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.5.1+cu101 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes, 1 GPU
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert, XLNet ...): BART

[2020-08-02 18:38] sshleifer opened #6204 "QA Loss Cleanup"
This snippet appears a lot of places and could be factored out into a `calc_qa_loss(logits)`

Requires some care, because I'm not sure how good the test coverage is, and if it doesn't improve readability we shouldn't do it.

[code]

@stas00

[2020-08-02 18:45] stas00 commented on #6204
I will experiment. Thank you!

[2020-08-02 18:48] stas00 commented on #6101
added to my list

[2020-08-02 19:05] omeysalvi commented on #2466
Thank you for updating. I perused the code and I saw a condition which requires CPU for INT8 and GPU for FP16. Is the INT8 model runnable on GPU?

[2020-08-02 19:06] nirajkale commented on #4034
I am also facing similar issue.
The reason for using save method is i want to host the saved model using tensorflow model server

[2020-08-02 19:12] #4609 closed

[2020-08-02 19:12] #4622 closed

[2020-08-02 22:13] misrasaurabh1 commented on #6150
@TevenLeScao @sshleifer @patrickvonplaten This looks like a serious problem with the T5 Tokenizer. Is this behavior expected?

[2020-08-03 05:57] Mehrad0711 commented on #5755
This might not be the best solution but after experimenting with the tokenizer special tokens a bit, it seems like the model is insensitive to the first input_id and lang_code used.
So after these modifications:

[code]

in tokenization_bart.py, the model seems to be doing the right thing and generating correct English output:
[code]

Although this is not how things are described in MBART paper so

[2020-08-03 06:27] neilctwu commented on #3050
Logger could be really annoying when it comes to applications. Should have some way to turn it off.

[2020-08-03 08:08] LysandreJik commented on #4748
Hi @davidmezzetti, just to let you know we're working towards a bigger pipeline refactor, with a strong focus on performance. Let's keep this issue open while it's still in the works in case more is to be said on the matter.

[2020-08-03 08:43] LysandreJik commented on #6193
Hello! These warnings are not important, as these weights are not necessary (the position IDs is a buffer that is initialized if not defined, and the lm head decoder bias already exists in the lm head decoder linear layer).

On the `master` branch we've updated the warnings to only list those that could have an impact, so running your code on the current master branch results in:

[code]

So nothi

[2020-08-03 08:48] LysandreJik commented on #6192
Hi @vibhavagarwal5, could you provide a sample script so that we may reproduce on our side? Something with a sample text that makes it crash would be wonderful, if you have one.

[2020-08-03 08:56] vibhavagarwal5 commented on #6192
I figured it out, it was due to the change in ignore_index=-100 instead of -1 in the cross entropy loss which was causing the issue. I'll close this.

[2020-08-03 08:56] #6192 closed

[2020-08-03 09:15] vyaslkv commented on #5978
@sgugger @patil-suraj no one has responded on the forum 😔

[2020-08-03 09:45] nirajkale opened #6206 "Error while saving electra model in tensorflow "savedModel" format"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-5.3.0-1034-azure-x86_64-with-debian-buster-sid
- Python version: 3.6.10
- PyTorch version (GPU?): 1.5.1 (True)
- Tensorflow version (GPU?): 2.0.0 (True)
- Using GPU in script?: Yes (Tesla P40)
- Using distributed or parallel set-up in script?: No

 tensorflow: @jplu

## Information

Model I am using "Electra" with TFElectraForQ

[2020-08-03 09:50] jplu commented on #6206
Hey!

Sorry for the inconvenience, there are actually some issues with saved model, but we are currently working on several fix in this PR https://github.com/huggingface/transformers/pull/5468

[2020-08-03 09:51] LysandreJik commented on #6192
Glad you could find the source of the issue!

[2020-08-03 09:55] LysandreJik commented on #6188
It seems to work? What's happening on your end?

[2020-08-03 09:57] nirajkale commented on #6206
Thanks for quick response!
Will wait for this PR to complete :-)

[2020-08-03 10:17] kitsiosk commented on #2986
This one seems to do the job too: [https://github.com/ashokc/Bow-to-Bert](https://github.com/ashokc/Bow-to-Bert), accompanied with this blog post [http://xplordat.com/2019/09/23/bow-to-bert/](http://xplordat.com/2019/09/23/bow-to-bert/)

[2020-08-03 10:22] LysandreJik commented on #6188
@ksjae, I can't seem to make that model work in my environment, without relying on the inference API.

[code]

Do you know the author?

[2020-08-03 10:24] ChrisChaw opened #6208 "torch模型的forward方法里面内容为空，用Electra模型无法训练。"
![image](https://user-images.githubusercontent.com/41299010/89173067-406ef880-d5b6-11ea-9c64-4e41243dad43.png)
![image](https://user-images.githubusercontent.com/41299010/89173121-5a104000-d5b6-11ea-9039-d2341dca9463.png)
上图是训练模型时调用的forward方法，这个方法里的代码为空，下图是报的错，请教您这个问题该如何解决？非常感谢您！！！

[2020-08-03 11:12] #1950 closed

[2020-08-03 12:13] aiscientist opened #6209 "Tips for Tensorflow 2.0 NER task by using fit method."
# ❓ Questions & Help

## Details

Any tips for implementing TF2 NER (TF Token Classifier) by using model.fit method?

An official example does not use model.fit for NER task.

Any links or tips will be appreciated.

**A link to original question on the forum/Stack Overflow**:

[2020-08-03 12:15] jplu commented on #6206
The PR has been merged in master, can you retry and let us know if it is really fixed please? Otherwise I will work on it ^^

[2020-08-03 12:15] samsontmr opened #6210 "XLM-R has extremely low accuracy after fine-tuning on MNLI"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.14.138+-x86_64-with-debian-buster-sid
- Python version: 3.6.9
- PyTorch version (GPU?): 1.5.0a0+3bbb36e (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
 albert, bert, GPT2, XLM: @LysandreJik

## Information

Model I am

[2020-08-03 12:19] antocapp opened #6211 "Error when fine tuning GPT2 on GPU"
An error occur when training with `run_language_modeling.py` file (Ubuntu 18, pytorch with cuda compiled), while the error does not occur on Macbook without the GPU

[code]

Command and arguments used to run:
[code]

Any idea on how to solve this?

[2020-08-03 12:56] patil-suraj commented on #6211
Hi @antocapp  thank you for reporting this. ignore index (-100) shouldn't be set when `pad_token_id` is `None`, which is the case with GPT-2

[2020-08-03 13:00] #5330 closed

[2020-08-03 14:11] HarshTrivedi commented on #6193
Thanks for the clarification! The difference in `fairseq` and `transformers` ppl is coming from different implementation - `e^cross_entropy` ([in transformers](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py#L274)) vs `2^cross_entropy` ([in fairseq](https://github.com/pytorch/fairseq/blob/master/fairseq/utils.py#L418)). Nothing wrong here

[2020-08-03 14:11] #6193 closed

[2020-08-03 14:18] patrickvonplaten commented on #5991
Hey @maurice-g,

Thanks a lot for the fix!

[2020-08-03 14:19] #6211 closed

[2020-08-03 14:39] sshleifer commented on #6203
I have this issue too, reported to pl https://github.com/PyTorchLightning/pytorch-lightning/issues/2673

[2020-08-03 14:40] klimentij commented on #2466
@omeysalvi I didn't test in8 version on GPU, but these benchmarks even avoid this combination, so I guess it is not something very promising to run int8 on GPU.

[2020-08-03 14:47] poudro opened #6215 "Add `do_lower_case` handling to GPT2TokenizerFast and descendant tokenizers"
I'm currently pretraining a model from scratch based on RoBERTa architecture and am using a custom `ByteLevelBPETokenizer` tokenizer trained on my data with `lowercase` set to `True`.

For ease of use, I load it with
[code]

The issue, is that unlike `BertTokenizerFast`, `RobertaTokenizerFast` (and it's parent class `GPT2TokenizerFast`) doesn't handle the `do_lower_case` parameter.

I prefer using

[2020-08-03 14:50] poudro commented on #6215
I've just openned a pull request that handles this for GPT2TokenizerFast and RobertaTokenizerFast

[2020-08-03 14:53] patrickvonplaten commented on #6080
I am not really in favor of adding this code...I think the user should have understood the library (tokenizers) well enough to not need such a helper function. Think we could add it in a notebook / example and point to it if people ask, but IMO the tokenizers already have too many functions exposed to the user...

[2020-08-03 14:54] patrickvonplaten commented on #5282
Can you link the issue? Is there an open PR for this already?

[2020-08-03 15:04] patrickvonplaten commented on #4151
Maybe this comment can help: https://github.com/huggingface/transformers/issues/5096#issuecomment-645860271

[2020-08-03 15:04] antocapp commented on #6211
Hi @patil-suraj , thanks for the answer! Where should I set this parameter?

[2020-08-03 15:50] patrickvonplaten opened #6218 "Comparison different methods for benchmarking"
Currently, the benchmarking tools make use of a multi-processing to be sure that all memory is released after each measurement and makes use of the `py3nvml` library to measure "peak GPU usage".

After some internal discussion, it is questionable whether the current code gives peak GPU memory usage. Thus, I ran a couple of experiments to see how torch benchmarking differs from `py3nvml`. It is kno

[2020-08-03 15:51] patrickvonplaten commented on #6218
My main reason for not using PyTorch's `max_memory_resevered` function is that there is some GPU memory that is used, but not accounted for.

[2020-08-03 16:02] stas00 commented on #6218
fwd+init is fwd+init+cudnn load. In order to measure fwd+init, you need to load cudnn kernels first. You can do multiple concurrent inits and cudnn overheard will be happening only once.

I think the API should provide for flexible approach, by allowing:

1. show me the bottom line for any operation - i.e. how much memory was consumed when this func is run
2. show me the delta, subtracting the cud

[2020-08-03 16:17] klimentij commented on #2466
@omeysalvi just tried int8 on GPU — doesn't work. Error:
`RuntimeError: Could not run 'quantized::linear_dynamic' with arguments from the 'CUDATensorId' backend. 'quantized::linear_dynamic' is only available for these backends: [CPUTensorId].`

I guess fp16 is generally recommended for optimizing GPT2 on GPU.

[2020-08-03 16:21] stas00 commented on #5973
problem: not all results are objects, some are plain dict and can't be called with `.key_name`.

So we could add a wrapper to the test utils that will make the code consistent:

[code]

[2020-08-03 16:34] VictorSanh commented on #6179
Yes indeed!
Somehow, I was sure it was corrected on the master but I guess it was only on my private branch.
Let me open a PR, thanks for pointing that out @HanGuo97!

[2020-08-03 16:36] HanGuo97 commented on #6179
Great, appreciate the help!

[2020-08-03 16:36] #6179 closed

[2020-08-03 16:39] patrickvonplaten commented on #4517
Sorry, I deleted the second link. You can see all the necessary code on this model page:
https://huggingface.co/patrickvonplaten/bert2bert-cnn_dailymail-fp16#bert2bert-summarization-with-%F0%9F%A4%97-encoderdecoder-framework

[2020-08-03 16:49] patrickvonplaten commented on #3785
See https://huggingface.co/patrickvonplaten/bert2bert-cnn_dailymail-fp16#bert2bert-summarization-with-%F0%9F%A4%97-encoderdecoder-framework

[2020-08-03 16:49] #3785 closed

[2020-08-03 16:51] patrickvonplaten commented on #3614
The problem is likely because of `generate()` not being compatible with `tf.function`. I want to take a look at this in more detail while working on this PR: https://github.com/huggingface/transformers/pull/5662

[2020-08-03 16:58] danishpruthi commented on #5650
Hi @patrickvonplaten: are there are any updates with respect to this?

[2020-08-03 17:01] banunitte commented on #3785
Thank u Patrick

On Mon, Aug 3, 2020 at 10:19 PM Patrick von Platen <notifications@github.com>
wrote:

[2020-08-03 18:19] moinnadeem commented on #2285
I actually have the same problem with GPT-2 tokenizer. Is this the expected behavior?

[2020-08-03 18:22] #5991 closed

[2020-08-03 18:29] sshleifer commented on #5282
This one: https://github.com/huggingface/transformers/pull/5960 , but it's broken afaict.

[2020-08-03 18:34] davidmezzetti commented on #4748
Thank you for following up, sounds great, thank you.

[2020-08-03 18:50] agemagician commented on #5851
We have also tested the 3b parameter model with shared enc/dec weights and it did failed.

[code]

[2020-08-03 19:02] nirajkale commented on #6206
Just pulled the latest code from master & now the SavedModel export is working fine for Electra 👍.
Thanks a lot for your quick help!
Closing the issue now.

[2020-08-03 19:02] #6206 closed

[2020-08-03 19:22] stas00 opened #6222 "memory benchmarking: should the cudnn kernels loading be included"
Bringing this discussion from slack to a dedicated issue so it's easier to track and discuss:

Here is the gist of the discussion so far:

I said:

Currently `benchmark._measure_memory()` doesn't take into account cudnn kernel loading, so even if you measure the most trivial function on pytorch you end up with ~0.6 (Titan X) to 1GB (Tesla T4) reported.

Usually, I deal with this issue by first doi

[2020-08-03 19:27] stas00 commented on #6222
Thinking more about it. Perhaps it's a question of benchmarking the whole vs. parts.

For example, if we want to memory profile a specific function, measuring the whole (that is including everything else that came before the function) could give us wrong results, because perhaps some parts of the whole got bigger, while others smaller, and the total outcome is unpredictable.

Therefore, if a purpo

[2020-08-03 19:42] stas00 opened #6223 "benchmarking API: `no_` arguments, double negation, defaults"
Another discussion moved to an issue:

Here is the gist of it:

This help entry: https://github.com/huggingface/transformers/blob/master/src/transformers/benchmark/benchmark_args_utils.py#L74

goes:
[code]
This reads as a contradiction. but then the first sentence "mimics" the rest of the "help" entries, which mostly start with "Don't use", so while technically it's correct, it's not user-friendly

[2020-08-03 19:49] stas00 commented on #6223
Why can't the defaults do the inversion, e.g.:

[code]
[code]

[2020-08-03 20:40] abedkhooli opened #6226 "Can't load config for [community model]"
Although I can use a fine-tuned GPT2 model from code, the model page complains about the config file (which is already uploaded).
at https://huggingface.co/akhooli/gpt2-small-arabic-poetry (for a prompt), I get:
[code]

[2020-08-03 21:23] jplu commented on #6125
Fix has been merged in master!

[2020-08-03 21:36] HHoofs commented on #5077
Although I agree that it could be solved in a next PR, shouldn't this more 'holistic' view be preferable (and be the default). If one token in a word is 'missed' but the other four (e.g. PER-PER-O-PER-PER) are an entity the whole word is an entity (and not two separate entities). We 'know' what the word-level comprehends the model doesn't

[2020-08-03 21:44] SagarPalyal opened #6228 "ValueError: Unrecognized model identifier in facebook/bart-large-cnn."
## Environment info

- `transformers` version: 2.2.2
- Platform: windows 10
- Python version: 3.7.8
- PyTorch version (GPU?): 1.6.0+cpu
- Tensorflow version (GPU?):
- Using GPU in script?:No
- Using distributed or parallel set-up in script?:No

 albert, bert, GPT2, XLM: @LysandreJik
 tokenizers: @mfuntowicz
 Model Cards: @julien-c
 Summarization: @sshleifer
 examples/distillation: @VictorSanh
 Bar

[2020-08-03 21:52] TarasPriadka commented on #5905
@kevin-yauris I had a similar problem with retraining fine-tuned model. Here is what I have done.

Do not pass config parameter when creating your model with `from_pretrained()`. Just initialize it with something like this:
[code]

Then, you will need to change the last layer in the model. I was using PyTorch to fine-tune a blank model initially, therefore these steps will work for PyTorch models.

[2020-08-03 21:56] TarasPriadka commented on #6209
@aiscientist
Why would you need to use `model.fit()` method? I think it is a more low level way to train your model. There's an easy way to train HuggingFace models with `TFTrainer`. All you need to do, is to initialize pretrained config, tokenizer and model, create your own Dataset class for NER data, and just pass it to the trainer. It will do all the rest.

[2020-08-03 22:31] mingzi151 commented on #4517
Thanks for sharing this, Patrick.

[2020-08-03 23:23] enzoampil commented on #5077
@HHoofs agree that this should be the default. If the "word-level" implementation is submitted as a PR, this should not be the default behaviour and should be explicitly set.

[2020-08-03 23:26] sshleifer commented on #6228
Please only tag one or two people.
I think `pip instal transformers --upgrade` will fix your problem.

[2020-08-03 23:29] sshleifer commented on #5973
1) can we just never create a `result` dict? It just creates unneeded indirection.
2) If we need to create a results dict, cant we just do key lookup with `[key]`
3) checkout `collections.UserDict`

[2020-08-04 00:15] stas00 commented on #5973
From looking at the existing tests, it sort of mimics the returns objects, but doesn't have the accessors for the keys.

So I'm not quite sure what you propose. A short code sample is usually most demonstrative.

I lost you, unless I am misunderstanding what you're suggesting, isn't the big part of this "issue" - replacing `[key]` with `.key`. otherwise nothing else needs to be done and this ticke

[2020-08-04 00:17] sshleifer commented on #6080
I got this wrong the first time for marian and it cost me dearly. Suraj just fixed a bug (that was also my fault, but nobody noticed) about adding `decoder_start_token_id` to the beginning of `t5.decoder_input_ids`. Both of us know the library pretty well and had trouble getting this right.

[2020-08-04 00:25] sshleifer commented on #5973
ignore #1, I was confused.
when I made this issue, sylvain hadn't merged #6155 , so I guess what remains of the issue is

[code]
So if/when those are done then it can definitely be closed.
Sorry for the miscommunication!

[2020-08-04 00:26] sshleifer commented on #5973
Your #6196 will completely close the issue.

[2020-08-04 00:28] stas00 commented on #5973
So I just need to complete: "delete all mentions of check_loss_output" then - there is one remaining test there.

[2020-08-04 00:56] ksjae commented on #6188
No, I don't.
I'll try to add a new one(in training right now) though.

[2020-08-04 01:09] stas00 commented on #5973
I plan to do part 2 PR to make the rest of the tests consistent with this change, but I have to wait for this to be merged as it impacts too many files to proceed easily.

[2020-08-04 01:53] samsontmr commented on #6210
Someone mentioned that it could be due to the label indices being swapped for Roberta, but it seems there is already some  [code](https://github.com/huggingface/transformers/blob/57eb1cb68d1c567b25ac256444e5c1a77b8817a7/src/transformers/data/datasets/glue.py#L100) to deal with that.

[2020-08-04 04:29] stas00 commented on #6070
PR for stage 1 to support the existing schedulers: https://github.com/huggingface/transformers/pull/6232
once this is happy and merged, I will work on importing new ones.

[2020-08-04 05:16] HHoofs commented on #5077
I agree with that, what I meant however was the following case: `Italy`
Let's say that this consists of three subtokens: `_It`, `a`, `ly`
If the first and last tokens are assigned as Country en the middle as None, it would now result in a splitted output (if I understand correctly).
I would suggest that the outputs of all three subtokens are averaged and than the highest output class is selected.

[2020-08-04 05:37] xujiaze13 opened #6233 "mismatch keys of glue tasks"
[code]

and ``glue_compute_metrics`` has ``task_name`` restrictions:

```['cola', 'sst-2', 'mrpc',  'sts-b', 'qqp', 'mnli', 'mnli-mm',  'qnli', 'rte', 'wnli', 'hans']```

Why are these task names inconsistent?

[2020-08-04 05:37] stas00 commented on #6218
I won't be surprised if the delta of 856MB that you reported - is the size of cudnn kernel, can test by measuring `torch.ones((1, 1)).cuda()` - if that's what you get then pytorch's tool should work just fine and w/o any complicated polling.

[2020-08-04 05:45] Shubhamsaboo commented on #876
Hey @nreimers, I am bit confused on how to go about training the model from scratch on my dataset. Is there some resource which I can refer to. I am having hard time figuring out how to create the dataloader and train the model on specific data.

[2020-08-04 05:46] Shubhamsaboo commented on #876
Hi @saurabhsaxena86 , can you please share the code on how you have trained the model on your domain specific data?
That would be of great help!

[2020-08-04 06:11] kevin-yauris commented on #5905
Hi @TarasPriadka thank you for answering
I also to the same thing that you did but with Tensorflow https://discuss.huggingface.co/t/retrain-reuse-fine-tuned-models-on-different-set-of-labels/346/5?u=kevinyauris.
I forget about the model.num_labels tho, thank you for the catch.
I wonder if there is another way to do it since if we replace the last layer with randomized weights we can't use the lear

[2020-08-04 06:42] #5973 closed

[2020-08-04 06:57] HHoofs commented on #5077
In pseudo-code, I would suggest the following (order):
[code]

[2020-08-04 07:35] stas00 commented on #6223
After hearing how this cli API came to be (less typing for most common uses) - my suggestion is in addition to the normal "positive" api, it should be possible to add various aliases that compound several most commonly used option in one short flag., it doesn't even have to be meaningful - e.g.:
[code]
etc. it'll be memorized quickly after a few look ups.

[2020-08-04 07:43] patrickvonplaten commented on #6045
Hey @stas00,

Thanks for running the benchmarks. As discussed, I think the way to go here is:

**1) GPU Memory:**
Slightly adapt the memory measurement to return 3 results:
- Required mem for CUDA/CUDNN init
- Required mem to run function (fwd or bwd)
- Sum of both these functions (this number should be the one that is returned now)
=> so we only need to add a function that measures how much memor

[2020-08-04 08:50] vs9205 commented on #463
@bhoomit
To achieve BERT level results for Hinglish.  would fine-tuning BERT English model with Hinglish data(approx 200 MB) could achieve good results?
or it would be best to train the model from scratch in case of hinglish ?

[2020-08-04 08:56] patrickvonplaten commented on #6223
Hey @stas00,

After thinking a bit about it, I agree that the library should define only positive args It's actually handled quite nicely in the `hfArgumentParser`, I noticed:
https://github.com/huggingface/transformers/blob/7ea9b2db3732904014b9121fb8a5c896ae00d4cf/src/transformers/hf_argparser.py#L70

This line means that if one adds a positive argument, such as `inference` and sets the default t

[2020-08-04 09:21] LysandreJik commented on #6223
I agree that having only positive arguments would be clean, especially with regards to the double negatives which make the code less intuitive.

In terms of backwards-compatibility, I think it would be easy enough to do such a change without any breaking change. Similar to the line you linked @patrickvonplaten, the (previously) negative arguments can still be handled.

Shortcuts for combinations o

[2020-08-04 09:51] patrickvonplaten commented on #6218
Yeah taking your code:

[code]

gives me a result of 796 MB -> so we still have 60MB which is different from `CUDA/CUDNN kernel loading` + `PyTorch's max_memory_reseverd` vs. py3nvml that are not accounted for, but this is negligible IMO .

[2020-08-04 10:10] patrickvonplaten commented on #6218
So we have two options here:

1) Leave the functionality as it is and add:

[code]
to measure CUDA/CUDNN kernel loading.

The advantage is that we can leave the same functionality for TF

2) Change to `torch.cuda.max_memory_reserved` + `py3nvml` or another tool to measure CUDA/CUDNN kernel loading.
This option seems a bit safer and this way multiple processes could be run on the same GPU. Because

[2020-08-04 10:20] gaiyongbo opened #6236 "losses does not decrease when trainning with TFTransfoXLLMHeadModel ."
I inspect the source code , because  the weight  initializer in class TFAdaptiveSoftmaxMask  were all set to zeros.   This causes the gradient can't propagate back . please double check that .

eg:   weight = self.add_weight(
                    shape=(r_idx - l_idx, d_emb_i,),
                    initializer='zeros',
                    trainable=True,
                    name="out_layers_._{}_._

[2020-08-04 10:27] patrickvonplaten commented on #6218
Same thing goes for `speed` I guess:

a) Leave functionality as it is for general overall speed (maybe change 30 averaging to 10 + some warmup) -> return one number
b) Use PyTorch profiler for in-detail profiling of CPU / GPU time. User can optionally turn this on.

[2020-08-04 10:33] patrickvonplaten commented on #6218
BTW, the new profiler can be run like this:

[code]

[2020-08-04 11:37] agiagoulas commented on #5602
This is an example of a batch. They are all in this size.
Thanks in advance for your help!
`
['Architecturally, the school has a Catholic character. Atop the Main Building\'s gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper statue of Christ with arms upraised with the legend "Venite Ad Me Omnes". Next to the Main Building is the

[2020-08-04 12:17] kevin-yauris commented on #2067
Hi any update on this? I would like to deploy huggingface Transformers model with Tensorflow Serving too

[2020-08-04 12:56] eyal-str opened #6238 "Discrepancy in the pad_token_id between the tokenizer and the model code of the T5"
- `transformers` version: 2.11.0
- Platform: Darwin-19.3.0-x86_64-i386-64bit
- Python version: 3.7.6

 tokenizers: @mfuntowicz
 T5: @patrickvonplaten

It seems that there's a discrepancy between the tokenizer and the model code of the T5 regarding the pad_token_id.
looking at the following output the pad_token_id is 0:
[code]

When calculating the loss. I would expect the calculation to ignore the

[2020-08-04 13:01] sgugger commented on #6223
I also agree with everything @patrickvonplaten and @LysandreJik said. Positive arguments are easier to document and @stas00 point on the code readability is completely spot-on.

[2020-08-04 13:14] sshleifer commented on #6223
I'm fine with the change.

I would only add that changing CLI requires a fair amount of manual care and testing because many bash scripts and `README.md` commands are not run by CI.

I think positive flags with `action="store_true" like `--inference` are nice and would prefer not writing out `=True` all the time for them. I don't feel that strongly, however.

[2020-08-04 13:24] sshleifer commented on #5602
Did my code work? Consider passing `max_length` to `prepare_translation_batch` if it doesn't.

[2020-08-04 13:53] dipanjanS commented on #6144
@LysandreJik , @sshleifer would be great if you could look into this, assign this to the right folks.

[2020-08-04 14:00] patil-suraj commented on #6238
Hi @eyal-str , `pad_token_id` is indeed 0 for T5. But it's convention to use -100 as ignore index in `CrossEntropyLoss`, so when preparing `labels` the `pad_token_ids` are replaced by -100.

[2020-08-04 14:46] eyal-str commented on #6238
@patil-suraj Thanks for the prompt reply. I just saw what you meant in the DataCollatorForLanguageModeling.mask_tokens function.

[2020-08-04 14:47] miggymigz opened #6240 "Documentation bug in GPT2Config"
In [this page](https://huggingface.co/transformers/model_doc/gpt2.html), GPT2Config's initializer_range default value is 16. But the source code [says](https://github.com/huggingface/transformers/blob/master/src/transformers/configuration_gpt2.py#L130) it is 0.02.

[2020-08-04 15:18] stas00 commented on #6218
As I mentioned earlier, I'm not sure "reserved" is the right function, as it involves caching. Try `torch.cuda.memory_allocated`  (and for peak `torch.cuda.max_memory_allocated`) instead.

[2020-08-04 15:23] stas00 commented on #6218
I'd say option #2, plus the code from option #1, so a user can still know the overhead of the cudnn kernel load.

Thank you for mentioning the profiler and the sample code - let me study and experiment with it and then I will be able to comment on your suggestions.

[2020-08-04 15:26] stas00 commented on #6218
Plus, I'd suggest to make `n_repeats` configurable, with a sensible default. e.g. when developing code I'd want to run `n_repeats`=1 - e.g. currently a large model takes a really long time to `__init__`

[2020-08-04 15:31] stas00 commented on #6218
Wrt returns, as we discussed, my suggestion is to have a full API that returns rich outputs, and then design shortcut wrappers that return just single specific bits, so that it makes test writing much less cluttered. i.e., removing needs for code like this as we have to do now:
[code]
it should be possible to do:
[code]
no unpacking, no retrieving.

`_measure_memory_bytes` is just a possible name

[2020-08-04 15:46] stas00 commented on #6218
Ah, one more thing we discussed - we need to return general RAM when the benchmark is run on GPU. Memory leaks mainly happen in general RAM. So the main API should include measuring and returning this data too, and flags/shortcuts to enable/disable the calculation and retrieval of this data.

[2020-08-04 15:51] stas00 commented on #6045
Your proposals sound good to me, @patrickvonplaten

Based on my experimentation and your input - it seems that stable speed measurements are the tricky part here.

It looks like this issue (including speed measurements) is now where the discussion is on: https://github.com/huggingface/transformers/issues/6218 So perhaps let's continue there and return to this issue once there is an updated API and

[2020-08-04 15:56] rhamnett commented on #5215
+1 on this

[2020-08-04 15:56] codeninja commented on #5215
+2 on this

[2020-08-04 15:58] aidan-collins commented on #6191
please let me know how this progresses I am also interested in doing this

[2020-08-04 16:08] mohitsewak commented on #1631
I am also facing the same issue, but even installing from git (as stated by dsindex) did not help.

[2020-08-04 16:19] parthplc commented on #5584
How did you solve it?

[2020-08-04 16:27] bratao opened #6243 "Implement DeLighT: Very Deep and Light-weight Transformers"
# 🌟 New model addition

## Model description
DeLight, that delivers similar or better performance than transformer-based models with significantly fewer parameters. DeLighT more efficiently allocates parameters both (1) within each Transformer block using DExTra, a deep and light-weight transformation and (2) across blocks using block-wise scaling, that allows for shallower and narrower DeLighT bl

[2020-08-04 16:28] LysandreJik commented on #6144
Assigned @mfuntowicz, the master of pipelines. He's in holidays right now, so I'll try to look into it in the coming days.

[2020-08-04 16:58] jstremme commented on #5778
@qwu01, what version of transformers are you using, and do you also have tokenizers installed?  I get a vague segmentation fault error when I attempt to run about the same training script as above using `torch==1.4.0`, `transformers==2.9.0`, and `tokenizers==0.7.0`.

[2020-08-04 17:09] qwu01 commented on #5778
@jstremme I have these installed:

Package         Version
--------------- ---------
argh            0.26.2
certifi         2020.6.20
chardet         3.0.4
click           7.1.2
configparser    5.0.0
docker-pycreds  0.4.0
filelock        3.0.12
gitdb           4.0.5
GitPython       3.1.7
gql             0.2.0
graphql-core    1.1
idna            2.10
joblib          0.16.0
numpy           1.18.4
nv

[2020-08-04 17:17] patrickvonplaten commented on #5215
Finished by end of the week :-) See https://github.com/huggingface/transformers/pull/5764. It's almost finished :-)

[2020-08-04 17:38] TarasPriadka commented on #5905
@kevin-yauris I've seen your forum post since I've been looking for a solution. My idea is that you already have an `id2label` and `label2id` in the model, so you could find if the incoming labels are already trained in the fine-tuned model. You find those which are not and you add randomized layers for them. However I am not sure how you can take a layer, and then just add randomized rows to it.

[2020-08-04 17:41] #4620 closed

[2020-08-04 17:41] #4613 closed

[2020-08-04 17:53] elbowdonkey commented on #5799
I'm seeing the same error when trying to load a GTP2 checkpoint model (using both `GPT2Model` and `AutoModel`):

[code]

I could probably try every possible variation of loading that model and hit the same error.

I've also used checkpoint models that, in theory, should work.

If I use `GPT2LMHeadModel.from_pretrained('gpt2-medium')` (or any thing that allows me to load a model by name) it works f

[2020-08-04 18:07] aiscientist commented on #6209
Yes, I need to finish this job using model.fit() following from the TensorFlow guideline (Like Keras Style), but for NER task it's kinda hard to manage loss because of model.fit().  Using Pytorch is easier but, I need to use model.fit for this task because of several reasons. I just want to know that it is possible to use TF Token Classifier on model.fit(). If not, I need to discuss with my co-wor

[2020-08-04 18:43] #6238 closed

[2020-08-04 18:48] TarasPriadka commented on #5846
@RodSernaPerez I am not sure what you are doing, but the model will do that if it doesn't find your word in the vocab.txt file. You have to use `BertTokenizer` before training, so that it splits all of the words that are not in the vocab file into word tokens. I think it will mark words that it wasn't able to tokenize with `[UNK]`. As to your question, what do you mean by index? I am assuming you

[2020-08-04 18:50] TarasPriadka commented on #5722
@kushalj001 It may take a while to preprocess the whole dataset. Not sure if you waited long enough. Check if your have enough RAM when you are doing this since if the dataset is too large you might run out of memory.

[2020-08-04 18:56] Zhen-hao commented on #5075
@tianleiwu
I have a related question.

I tried to modify the BERT model from `transformers` but it failed to export to ONNX.
What should I change to make `transformers.convert_graph_to_onnx` work?

[code]

the current error I see is:
[code]

disclaimer: I am new to Python.

[2020-08-04 19:02] PyAntony commented on #6145
I have updated to version 3.0.2 now and the tokenizer is working properly. I am closing this issue.

[2020-08-04 19:02] #6145 closed

[2020-08-04 19:36] griff4692 commented on #6202
Hi - it looks like the memory blowup occurs during beam search (presumably during eval).

In `_generative_step` in `fine_tune.py`,  feel free to play around with the `num_beams` parameter in the `self.model.generate` call.  I can confirm that explicitly setting `num_beams=1` works works on a V100 16GB.  I believe the default is 5.  beam search is very memory & computation intensive.  Maybe for you

[2020-08-04 19:44] laibamehnaz commented on #5584
Are you facing this issue ?

[2020-08-04 20:52] kaushalshetty commented on #735
Observing same behaviour

[2020-08-04 20:58] stas00 commented on #6218
2 more things to consider:

1. Should we control these:
[code]
as these settings should impact peformance

2. allow a fixed seed arg?

[2020-08-04 21:01] ZLKong commented on #2483
Hi,

Thank you for your question and solution.  I also want to try such kind of thing.

I have a question. If I remove some layers, do I need to do pre-train from scratch again?

How does the performance look if you only do finetuning on GLUE or Squad tasks? Does the accuracy go down dramatically?

Thanks,
ZLK

[2020-08-04 21:04] officialpatterson commented on #2483
@ZLKong no, the remaining layers will remain trained. Not quite sure what you mean by only fine-tuning though.

[2020-08-04 21:14] ZLKong commented on #2483
Thank you for your reply!

I want to decrease the FLOPS by simply removing some layers from the model. I want to see if I remove some layers,  how much will if effect the accuracy of SQUAD task.

Do you have any experiments on this?

Best,
ZLK

[2020-08-04 21:16] officialpatterson commented on #2483
I haven't, but I'm sure in the original paper they performed a test like that. If not, I guarantee there will be a paper out there that does given how much research has been chucked at bert :)

[2020-08-04 21:21] ZLKong commented on #2483
OK, I will look if there are any papers about it. I will run some testings, too.
Thank you very much!

[2020-08-04 21:27] truskovskiyk commented on #6048
Hey @sshleifer, I would like to take this issue, if there no objection

[2020-08-04 21:44] stas00 commented on #6218
It appears that profiler has been around for quite some time. Of course it's table dump is difficult to work with, and there are almost no examples of its use out there.

Here is what I came up with:

[code]
gives
[code]
I'm not sure yet whether any of this is correct - need to correlate with our functions.
Also I'm not sure about this `self_` prefix. Not sure which number we are after.

[2020-08-04 22:04] julien-c commented on #6226
Currently working on a fix. Will update here

[2020-08-04 22:55] Weilin37 opened #6256 "LongformerForSequenceClassification has unused layers, making it unable to fine-tune with Data Distributed Parallel (required for gradient checkpointing)"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.14.186-110.268.amzn1.x86_64-x86_64-with-glibc2.2.5
- Python version: 3.6.5
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Distributed

### Who can help
@patrickvonplaten

## Information

Model I am using (Ber

[2020-08-04 22:55] h56cho commented on #6191
Hello,
Would it be possible for your team to also work on GPT2LMHeadModel on this same issue?

Thank you,

[2020-08-05 00:19] stas00 commented on #6218
One additional potential caveat for speed measurements is async code returning too early?
i.e. needing to run: `torch.cuda.synchronize()` before finishing the speed measurements?

[2020-08-05 01:41] EdwardRaff commented on #4695
I'm trying to figure out how to use a custom made or create a tokenizer using this script and having significant difficulty. There does not seem to be any documentation on how to do this. I attempted to follow [this ](https://huggingface.co/blog/how-to-train) example but it makes no mention of how the tokenizer gets loaded / used.

[2020-08-05 02:09] gyin-ai commented on #5604
This same issue is also noticed in Tensorflow Serving. For example, the benchmark here shows the inference time is around 15ms. However, if we export the TFGPT2LMHeadModel for serving, the profile analysis shows that the `lm_logits = self.transformer.wte(hidden_states, mode="linear")` is extremely slow. https://www.tensorflow.org/tfx/serving/tensorboard
[code]
@patrickvonplaten The internal TF ben

[2020-08-05 02:39] sshleifer commented on #6048
Absolutely!

[2020-08-05 02:46] sajastu opened #6258 "Gradient Checkpointing with Transformers BERT model"
Hi @sshleifer. I'm doing a summarization task (finetuning bert for extractive summarization). I'd like to use gradient checkpointing to save GPU memory. Here, I'm posting a description of the problem that I'm facing. I'd be grateful if you'd help me get around this.

- `transformers` version: 3.0.2
- Platform: Linux
- Python version: 3.6
- PyTorch version (GPU?): 1.1.0
- Using GPU in script?: Yes

[2020-08-05 03:44] ruotianluo opened #6259 "Bart encoder with add_final_layer_norm"
https://github.com/huggingface/transformers/blob/91cb95461e438dc57555c4f57f8ce95a56328036/src/transformers/modeling_bart.py#L305

I feel like it should be
self.layer_norm = LayerNorm(config.d_model) if config.add_final_layer_norm else None

as in the BartDecoder.
https://github.com/huggingface/transformers/blob/91cb95461e438dc57555c4f57f8ce95a56328036/src/transformers/modeling_bart.py#L486

[2020-08-05 04:53] kevin-yauris commented on #3246
@jplu Thanks for your great answer. But I have a question, in this part
[code]
can you give an example about how to do `# call here the tokenizer` part?

[2020-08-05 05:22] mithunpaul08 commented on #6136
hi, can you post the link on stackoverflow

Btw, I also face this issue when working with an RTE dataset and have raised an issue here..[https://github.com/huggingface/transformers/issues/5863](url). My dev values after each epoch don't match up when the total number of epoch changes.  Now its making me wonder if its RTE specific.

[2020-08-05 06:35] jplu commented on #3246
You have plenty of examples on how to use the tokenizers, such as in the examples [folder](https://github.com/huggingface/transformers/tree/master/examples) or inside the [source code](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_tf_bert.py#L800).

[2020-08-05 06:44] yvespeirsman opened #6262 "Incorrect tokenization for MarianNMT models in example script."
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.4.0-1110-aws-x86_64-with-Ubuntu-16.04-xenial
- Python version: 3.7.8
- PyTorch version (GPU?): 1.5.1+cu101 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help
 Marian: @sshleifer

## Information

Model I am using (Bert, XLNe

[2020-08-05 07:24] mt324010 opened #6263 "RuntimeError: CUDA error: CUBLAS_STATUS_NOT_INITIALIZED when calling `cublasCreate(handle)`"
Hi, I tried to add some other embeddings in your BertEmbedding source code and then load the pretrained weights 'bert-base-chinese'.
When I run the forward method, I got the issue
'RuntimeError: CUDA error: CUBLAS_STATUS_NOT_INITIALIZED when calling `cublasCreate(handle)`'
Can someone help please? Thanks a lot

[2020-08-05 07:51] #6263 closed

[2020-08-05 07:54] CBvanYperen commented on #259
Would love some explanation on how to do this as well!

[2020-08-05 08:54] gyin-ai commented on #6052
the latest TF2.3 and tflite can support dynamic input now. Close this.

[2020-08-05 08:55] #6052 closed

[2020-08-05 09:19] gyin-ai opened #6264 "TF LMHead very slow: TFGPT2LMHeadModel is 7 times slower than Torch GPT2LMHeadModel"
The benchmark shows the Tensorflow TFGPT2LMHeadModel is 7 times (140ms) slower than Torch GPT2LMHeadModel implementation (20ms). Based on the profile tool from latest https://www.tensorflow.org/tfx/serving/tensorboard, the bottleneck is here. https://github.com/huggingface/transformers/blob/d9149f00d1a4650bafa7e1cd73e10398193c852c/src/transformers/modeling_tf_utils.py#L796

[code]

Without LMHeadM

[2020-08-05 09:43] gyin-ai commented on #6264
Multiple issues may be related to this:
[My finetuned gpt2 model is taking wayy too long to generate samples, like 5-8 minutes] https://github.com/huggingface/transformers/issues/6173
[[Benchmark] TFGPT2LMHeadModel is five times slower than GPT2LMHeadModel]
https://github.com/huggingface/transformers/issues/5604
[tensorflow2_gpt2 Slow speed]
https://github.com/huggingface/transformers/issues/4634

[2020-08-05 09:55] patil-suraj commented on #6258
from torch docs

As the mode; needs to recompute the activations during backward pass it adds up training time considerably.

[2020-08-05 10:24] samsontmr commented on #1232
@bsinghpratap Did you manage to run the script in only evaluation mode? When I try to evaluate an mBERT model trained on MNLI, it just freezes at 99%.

[2020-08-05 10:35] agemagician opened #6266 "Bert Mesh Tensorflow"
# 🌟 New model addition

## Model description

Bert Mesh Tensorflow is a modification of the original Bert that allows two important features:
1. Model parallelism.
2. Relative attention encoding.

## Open source status

* [X] the model implementation is available: (give details)
https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/bert/bert.py

* [x] the model weights are available: (giv

[2020-08-05 10:41] kevin-yauris commented on #3246
hi, @jplu thank you for your answer.  I forgot to remove `return_tensor=tf` in tokenizer before so it is failing. I have been working based on your answer on this issue and this [reference](https://colab.research.google.com/drive/1kEg0SnYNtw_IJwu_kl5y3qRVs-BKBmNO#scrollTo=9wilS_mw6wPk) to do inference with Tensorflow Serving Saved Model on Sentiment Analysis task. Please see here for my complete a

[2020-08-05 11:17] jplu commented on #3246
Nothing, the results depends of the model itself, so you should ask to the person who as uploaded the model.

Currently no options, you cannot do this.

[2020-08-05 11:23] #5917 closed

[2020-08-05 11:25] LysandreJik commented on #6125
Should be fixed on `master`

[2020-08-05 11:25] #6125 closed

[2020-08-05 11:32] kevin-yauris commented on #3246
@jplu Thank you very much for your quick reply.

So if I understand correctly there is no mistake in my code but it is because of the model I use right? I will try with other models then, thank you.

Ok, thank you.

[2020-08-05 11:57] nreimers commented on #876
Hi @Shubhamsaboo
Currently only the these scripts with training examples exists:
https://github.com/UKPLab/sentence-transformers/tree/master/examples/training_transformers

More examples for training will be pushed soon. Further, I currently work on a more extensive documentation.

[2020-08-05 13:06] tomhosking commented on #5755
I find that the input does need to start with `<bos>`, and the decoder should be seeded with `<lang_code> <bos>`. With this setup, I am able to recover the input sequence during decoding. Like @Mehrad0711 I find that the input `lang_code` does not make a significant difference.

[2020-08-05 13:07] JME-P opened #6267 "Unable to make inference from hosted api for a pretrained model that I uploaded."
I have successfully managed to upload a model (https://huggingface.co/shrugging-grace/tweetclassifier) via the transformers cli. I am also able to generate inferences from a local Jupyter notebook to that model.

However, when I go on the https://huggingface.co/shrugging-grace/tweetclassifier, it comes up with the following error when I try to make an inference:

_"Can't load config for 'shrugging

[2020-08-05 13:10] sajastu commented on #6258
@patil-suraj Thx for your answer. I totally agree with you and, of course, the doc :). The problem is that while monitoring the training process, I see that the model's training **speed** increases considerably, resulting in faster training (decreasing training time) which is unconventional to the concept of Gradient Checkpointing. That's what made me skeptical about the code snippet (above) that

[2020-08-05 15:10] julien-c commented on #6267
Fixed now.

https://huggingface.co/shrugging-grace/tweetclassifier?text=I+like+you.+I+love+you

You should add a label map to get the correct labels displayed in the widget.

Thanks!

[2020-08-05 15:10] #6267 closed

[2020-08-05 15:12] patrickvonplaten commented on #5023
Hey @as-stevens,

Yeah Reformer sadly still does not have a bi-directional pretrained model, so that it will be hard to fine-tune a Reformer Model for your task. The `enwik-8` model was trained using the CLM objective as a char-lm, which means that it does not really help at all for classification. Also the model was trained on chars and not tokens....over all I would recommend just using RoBERTa

[2020-08-05 15:17] patrickvonplaten commented on #4483
Hey, I will take a look at BERTGPT2 encoder-decoder probably on Monday next week

[2020-08-05 15:27] julien-c commented on #6226
Should be fixed now

[2020-08-05 15:27] #6226 closed

[2020-08-05 15:37] bmichele opened #6270 "Adding example with Finnish BERT fine-tuning for NER task"
# 🚀 Feature request

Add an example in `/examples/token-classification`. The example consists in the fine-tuning of the Finnish BERT models (`bert-base-finnish-cased-v1` and `bert-base-finnish-uncased-v1`) with the FiNER dataset (https://github.com/mpsilfve/finer-data).

The example is similar to the already existing GermEval and WNUT'17 examples, but for Finnish language.

## Motivation

The fine

[2020-08-05 15:50] patrickvonplaten commented on #5647
Sadly, I don't have a good answer here :-/

The problem is that `decoder_input_ids` is not the second argument -> so that's why your function does not work.
This PR would make it possible to run your code:  #6268 , but it does not really solve the problem because one might want to use `input_embeds` instead of `input_ids` and she/he would run into the same problem. It would allow for torchtrace fo

[2020-08-05 15:51] JME-P commented on #6267
Thank you!

[2020-08-05 16:24] patrickvonplaten commented on #5851
Ok, I will start with the 3B model then! Starting downloading the model now -> will take a look tomorrow (my internet connection is so slow at the moment that it'll take a couple of hours to download both models).

Just to be sure:
You have trained the model using this repo: https://github.com/google-research/text-to-text-transfer-transformer right?
And then you ran
[code]
-> which did fail no?

[2020-08-05 16:25] Bushra-Aljbawi opened #6271 "Deleting position IDS when fine-tuning BERT"
Hi,

I want help regarding this problem:

I want to fine-tune BERT model on my custom dataset to fill in the missing words. So, I'm using run_language_modeling to do this. However, as my dataset contains sets of words and not real sentences, I don't really care about the order so I want to try deleting the position encoding by setting it to "zero tensor" to not affect the model.

I would appreciat

[2020-08-05 16:27] as-stevens commented on #5023
@patrickvonplaten  thank you for addressing all the queries! This helps.

After playing with the different tokenizers(Xl_net, Bert and Roberta), I could sense that the Reformer tokenizer is a char level and not a word level. And after playing with the different hyper parameter and no change is model state, it looked like the model is training from scratch.

Thanks for answering all the question.
A

[2020-08-05 16:52] agemagician commented on #5851
Thanks @patrickvonplaten.

Yes, I have used the official repo:
https://github.com/google-research/text-to-text-transfer-transformer

Yes, I havre used "convert_t5_original_tf_checkpoint_to_pytorch.py".

[2020-08-05 17:19] h56cho opened #6275 "How to access the parameters of the uppermost layer of the HuggingFace Transformers via ".modules()"?"
Hello,
I would like to apply the function `module.PyroSample()` to the parameters that pertains to the 24th layer (the uppermost layer) of the `RobertaForMultipleChoice` pre-trained model (`roberta-large`). How should I fix the loop below so that I only fix the parameters that are from the 24th layer? Currently, the loop applies `module.PyroSample()` to every parameter except the `_dummy_param`.
T

[2020-08-05 17:35] steveguang commented on #5965
@datquocnguyen Looks like the error still exists. From https://huggingface.co/vinai/bertweet-base, I run
tokenizer = AutoTokenizer.from_pretrained("vinai/bertweet-base")
It gives:
OSError: Model name 'vinai/bertweet-base' was not found in tokenizers model name list (roberta-base, roberta-large, roberta-large-mnli, distilroberta-base, roberta-base-openai-detector, roberta-large-openai-detector). We

[2020-08-05 18:25] #4906 closed

[2020-08-05 18:54] Zhen-hao commented on #5075
I found the problem with my model. `@tf.function` doesn't work. It works after removing it.

[2020-08-05 19:52] fabrahman commented on #3021
@patrickvonplaten Thanks for sharing this, I wonder if inputting `input_ids` and `attn_mask` to `model.generate` is possible now? is this feature available now?
I've tried it and I think there should be some concerns regarding positional_embedding since I don't get meaningful result.

On the other hand when I try setting `tokenizer.padding_side = "left"` as suggested/tried by @tianleiwu @AADeLucia

[2020-08-05 20:32] AADeLucia commented on #3021
@fabrahman I realize I have huggingface version 2.8 installed, which was not working with `generate()`. I used the left-side padding with p-sampling and it worked for me (i.e. the outputs were reasonable for the settings and I was not getting the same issues as when I did not use left-side padding). I took no action regarding position_ids and I only provided the attention mask. Maybe the newest ve

[2020-08-05 20:32] #5023 closed

[2020-08-05 21:07] fabrahman commented on #3021
@AADeLucia thanks for you quick reply. When you say it was not working with `generate()`, does that mean you got errors when passing `encoded_prompt ` and 'encoded_mask` to generate function?

Actually, I resolved same outputs with different decoding issue, but now I get similar outputs if I sample 5 times `(num_return_sequences=5)`. That is are returning sequence are the same:
This` is the code I

[2020-08-05 21:54] bsinghpratap commented on #1232
Yeah, I ran it on eval mode as well. Works fine for me.

[2020-08-05 21:56] sgugger opened #6277 "Reformer now requires PyTorch 1.6.0"
@patrickvonplaten, one of your recent PR (#6244) on Reformer introduces a dep on PyTorch 1.6.0 minimum by using `torch.cuda.default_generators`. We should see if we can find a way to work around this.

[2020-08-05 22:15] AADeLucia commented on #3021
By "not working" I mean I would pass in padded prompts and masks and the model would generate as if the mask was not there. So the padded prompts were like
[code]
(I padded with `<|endoftext|>` but it shouldn't matter as long as the attention mask is working)
And then the output would see the multiple `<|endoftext|>` padding tokens and start generating `<|startoftext|>` instead of continuing from

[2020-08-05 22:20] faiazrahman commented on #3021
I believe Alexandra meant to tag @fabrahman :)

[2020-08-05 22:22] fabrahman commented on #3021
@AADeLucia I actually found the issue. It is because I am passing both `top_p=0` and `top_k=10`. When I removed top_p in case of topk_sampling the problem resolved.
BTW my transformer version is `2.11.0` in case you wanted to try.

@patrickvonplaten Would you please confirm if [this](https://github.com/huggingface/transformers/issues/3021#issuecomment-669511291) is the right approach and doesn't c

[2020-08-05 22:55] tianleiwu commented on #3021
@fabrahman,

I did not use generate() method but batch inference works for me like the following way:
(1) Get input_ids and attention_mask from tokenizer.batch_encode_plus directly. The padding strategy does not matter.
[code]
(2) Use model to do inference and get outputs including past. For example, we can construct new inputs like:
* update past tensor from the outputs
* input_ids is the generat

[2020-08-05 23:07] phaniram-sayapaneni commented on #1620
Hello,

I'm trying to load biobert into pytorch, seeing a different error:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

any hints? @LysandreJik

[2020-08-05 23:27] patrickvonplaten commented on #6277
yes! I think the change #6244 is also only necessary in PyTorch 1.6 -> maybe we can even hard-code `torch.__version__` in the code and use the appropriate functions accordingly. Think this is also very much related to the previous bug: https://github.com/pytorch/pytorch/issues/33546

[2020-08-05 23:30] #4675 closed

[2020-08-05 23:30] #4631 closed

[2020-08-05 23:30] #3660 closed

[2020-08-05 23:30] #4445 closed

[2020-08-05 23:30] #4626 closed

[2020-08-05 23:30] #4639 closed

[2020-08-06 01:55] codeninja opened #6278 "Returning the attention heads using Longformer"
# ❓ Questions & Help

## Details

Is it possible to get the longformer classification model to return the attentions learned? I don't see a way to do this with in the documentation or code.

[2020-08-06 01:55] #6278 closed

[2020-08-06 02:12] luffycodes commented on #4577
@usuyama The Megatron example is for the BERT dataset which uses wordpiece tokenization. Any suggestions how to do wwm for GPT2 tokenizer?

[2020-08-06 02:25] absorbguo commented on #4805
I also came across with the "Invalid Feed" error, here is my solution, before testing with onnxruntime_test, I use onnx optimize the onnx model,  after "eliminate_unused_initializer" optimization, the onnxruntime_test passed. Hope this solution is usefull for you.
[code]

[2020-08-06 03:17] yxu02 opened #6279 "TFRobertaMarkedLM model output issue"
# ❓ Questions & Help

## Details

I fine tuned a TFRobertaMarkedLM thanks to this notebook:
https://www.kaggle.com/riblidezso/finetune-xlm-roberta-on-jigsaw-test-data-with-mlm

My model config is like this:
{
  "architectures": [
    "RobertaForMaskedLM"
  ],
  "attention_probs_dropout_prob": 0.1,
  "bos_token_id": 0,
  "eos_token_id": 2,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",

[2020-08-06 03:48] kevin-yauris commented on #3246
hi @jplu sorry for bothering you again it seems that it is not the model that has a problem I tried another model and the error still persists. I think maybe because `attention_mask` is not passed to the model, is it true? If it is true, how to make the model accept `attention_mask` as input beside `input_ids`. Do I need to change the `signature`, what to change from this?
[code]
Please help, I am

[2020-08-06 04:36] misrasaurabh1 commented on #5509
The memory spikes up everytime evaluation loop happens.
![image](https://user-images.githubusercontent.com/1271289/89491224-9df47800-d763-11ea-9e5a-692744df4663.png)

[2020-08-06 05:22] patil-suraj commented on #6270
Hi @bmichele ,
The `/examples/token-classification` is pretty generic, you won't need to add new example. If you process the data in the format expected by the example the you can pass the `bert-base-finnish-cased-v1` model using the model_name_or_path argument.

Hope this helps.

[2020-08-06 06:21] samsontmr commented on #6210
Tried running `run_xnli.py` with `xlm-roberta-base`  and got this error (seems like it could be related?):
[code]

@LysandreJik any idea what could be going wrong with XLM-R?

[2020-08-06 06:51] bmichele commented on #6270
Hi @patil-suraj , thank you for your input.

As I mentioned in the issue, the example for Finnish is already implemented in this branch:
https://github.com/bmichele/transformers/tree/finnish-ner

The branch contains the scripts necessary to
 * download and preprocess the FiNER dataset
 * perform the fine-tuning

Moreover, I added the results in the readme file:
https://github.com/bmichele/transfor

[2020-08-06 07:11] LysandreJik commented on #6210
I don't think XLM-R is handled by the XLNI script. We should update it to the new trainer API and make these few lines model-agnostic.

https://github.com/huggingface/transformers/blob/45e26125de1b9fbae46837856b1f518a4b56eb65/examples/text-classification/run_xnli.py#L269-L273

[2020-08-06 07:59] #4693 closed

[2020-08-06 08:02] ye1024 opened #6282 "Using tensorrt model.engine Inference speed is relatively fast. Why is onnxruntime based on tensorrt as slow as CPU inference"
# ❓ Questions & Help
https://github.com/huggingface/transformers/blob/master/notebooks/04-onnx-export.ipynb
Based on different providers to infer the  .onnx model, why is CUDA the fastest and tensorrt based model particularly slow
Using tensorrt model.engine Inference speed is relatively fast. Why is onnxruntime based on tensorrt as slow as CPU inference

[2020-08-06 08:22] samsontmr commented on #6210
I see, any idea what's going on with the GLUE/MNLI script? It seems to be using the new trainer API.

[2020-08-06 08:26] sebastian-nehrdich opened #6283 "Problem with converting XLM checkpoint to pytorch (missing merges.txt)"
Hello,

I would like to use a checkpoint that I trained with XLM before (https://github.com/facebookresearch/XLM).
For that I am using the following script: https://github.com/huggingface/transformers/blob/master/src/transformers/convert_xlm_original_pytorch_checkpoint_to_pytorch.py
The conversion works fine but in the end I only get a vocab.json but merges.txt is missing (which is no surprise loo

[2020-08-06 09:41] timoschick opened #6285 "🌟 T5 V1.1"
# 🌟 New model addition

## Model description

T5 version t5.1.1.* is very similar to the original T5 model, with the following differences:
- GEGLU activation in feed-forward hidden layer, rather than ReLU - see https://arxiv.org/abs/2002.05202 .
- Dropout was turned off in pre-training (quality win). Dropout should be re-enabled during fine-tuning.
- Pre-trained on C4 only without mixing in the d

[2020-08-06 10:41] paulthemagno opened #6286 "F1 decreases resuming from last saved checkpoint of fine-tuning"
I'm doing a simple fine-tuning on a Camembert-like model on SQUAD task. Because of different bugs (not of the script, but of my internal storage) the fine-tuning crashed twice and so I restarted from the **last saved checkpoint**. When I evaluated the results I noticed that, **considering every first checkpoint after resuming the fine-tuning, F1-score decreased a little**.

I have reported logs ab

[2020-08-06 11:11] tholor commented on #6046
We face a similar issue with the distilbert tokenizer.

[code]

It seems that subword tokens (here ##n and ##ota) get split into further tokens even though we set `is_pretokenized=True`. This seems unexpected to me but maybe I am missing something?

[2020-08-06 12:31] PhilipMay commented on #6186
Fixed with #6280

[2020-08-06 12:31] #6186 closed

[2020-08-06 13:43] guyeyal commented on #5164
Sorry for the delay.
See https://github.com/huggingface/transformers/pull/6289

[2020-08-06 14:14] bangbangjim opened #6291 "Why is the lm_head layer in GPT2LMHeadModel not a parameter?"
I loaded the model by
[code]
doing `[n for n,p in gpt2.named_parameters()]` gives me:
[code]
while running `print (gpt2)` gives me:
[code]

My question is why is the lm_head layer not included as the model's parameters? It bothers me at the moment because I am trying to only finetune the LM layer and realise I cant because doing something like `torch.optim.Adam([p for p in self.parameters() if p.r

[2020-08-06 14:45] fhamborg opened #6292 "inconclusive truncation strategies in encode_plus?"
# ❓ Questions & Help

## Details

Not sure if this is a bug or missing feature or I just misunderstood something: specifically, I'm wondering whether a common truncation strategy is missing from [`encode_plus`](https://huggingface.co/transformers/main_classes/tokenizer.html#transformers.PreTrainedTokenizer.__call__). More specifically, if you have a input sequence pair consisting of two texts `a`

[2020-08-06 14:51] sshleifer commented on #6262
Thanks for this catch and detailed report. Feel free to chime in on the Linked pull request #6293 !

[2020-08-06 14:52] bronpong opened #6294 "How to get word and sentence level embeddings from T5-11b"
Hi can someone please tell me how to get word and sentence level embeddings for a given sentence from T5-11b?

[2020-08-06 15:19] #5667 closed

[2020-08-06 15:27] sshleifer opened #6295 "Fix/test convert_mbart.py"
from [forums](https://discuss.huggingface.co/t/how-can-i-convert-a-model-created-with-fairseq/564/10?u=sshleifer)

[code]

After I change `from .convert_bart_original_pytorch_checkpoint_to_pytorch import remove_ignore_keys_` to `from convert_bart_original_pytorch_checkpoint_to_pytorch import remove_ignore_keys_` (just removing the dot), the script can run

[2020-08-06 15:47] ZLKong opened #6297 "Question about BERT model size (transformer block number)"
# ❓ Questions & Help

## Details
Hi,

Thank you for your interesting work! I have just started to learn BERT and distillation recently. I have some general questions regarding this topic.

1. I want to compare the performance of BERT with different model size (transformer block number). Is it necessary to do distillation? If I just train a BERT with 6 Layers without distillation, does the performa

[2020-08-06 16:17] patrickvonplaten commented on #6264
Thanks a lot for posting the issue and linking everything together - this is extremely useful! I will try to take a deeper look into it early next week!

[2020-08-06 16:27] patrickvonplaten commented on #6218
Thanks for posting this! Yes, I think we should maybe stick to our code for now regarding the total time and memory.
A while ago, @LysandreJik made some speed expeirements: https://docs.google.com/spreadsheets/d/1sryqufw2D0XlUH4sq3e9Wnxu5EAQkaohzrJbd5HdQ_w/edit which match the results given my `PyTorchBenchmark` very nicely, so I'm quite positive that the speed measurements are correct.

[2020-08-06 16:32] TevenLeScao commented on #6297
Hi ZLK, we're trying to keep Github issues on our repo strictly related to code. [Our forum](https://discuss.huggingface.co) is a much better place for general questions like yours, and the people over there will better be able to answer it! Cheers

[2020-08-06 16:32] #6297 closed

[2020-08-06 16:33] patrickvonplaten commented on #6223
Awesome, I guess if someone feels like it, we could start a PR for it :-)

[2020-08-06 16:38] patrickvonplaten commented on #6291
It is tied to the input layer, see https://github.com/huggingface/transformers/issues/3799 or the docs here: https://huggingface.co/transformers/model_doc/gpt2.html#transformers.GPT2LMHeadModel.

[2020-08-06 16:39] patrickvonplaten commented on #6291
If you want to know more about how to fine-tune the model, maybe this helps: https://github.com/huggingface/transformers/issues/1816 or you could ask a question in the forum: https://discuss.huggingface.co/

[2020-08-06 16:40] #6291 closed

[2020-08-06 16:46] jstremme commented on #5778
Thanks very much @qwu01.  Just to confirm, downgrading torch to `1.4.0` allowed you to train Reformer with multiple GPUs?  Did this impact anything else?

The environment I'm using does not allow me to install `tokenizers 0.8.1rc1` and `transformers 3.0.2` currently, but I will test your environment config as soon as I'm able :)

If you are actively working on training a large Reformer model, I wo

[2020-08-06 16:54] patrickvonplaten commented on #6277
#6300 should fix it.

[2020-08-06 16:56] patrickvonplaten commented on #6279
Hey @yxu02, we are trying to move questions on how to use the model to https://discuss.huggingface.co/. Would you mind posting it there again? :-)

[2020-08-06 16:56] #6279 closed

[2020-08-06 17:25] chrisdoyleIE commented on #4918
this is awesome.

[2020-08-06 17:37] xujiaze13 opened #6301 "Redundant code"
https://github.com/huggingface/transformers/blob/2f2aa0c89cab9a77560e6845578f917a61081c67/examples/text-classification/run_pl_glue.py#L57

This line is useless

[2020-08-06 18:58] #6262 closed

[2020-08-06 19:08] sunnyville01 commented on #6039
@patil-suraj Thank you.

[2020-08-06 19:08] #6039 closed

[2020-08-06 19:08] ibeltagy commented on #4406
@alexgaskell10, @HHousen, the `query.reshape()`solution is wrong. The code runs but it is not doing the right thing. It should be `query.transpose(0, 1)`. I just pushed a fix. This bug will affect all your results if you are using a batch size > 1

[2020-08-06 19:14] #6277 closed

[2020-08-06 19:15] xujiaze13 opened #6302 "Default value of `n_tpu_cores` in lightning_base.py"
https://github.com/huggingface/transformers/blob/2804fff8393dbda5098b8c9f5e36235e89c50023/examples/lightning_base.py#L294

The default setting ``0`` raise Error
``pytorch_lightning.utilities.exceptions.MisconfigurationException: `tpu_cores` can only be 1, 8 or [<1-8>]``
It should be replaced by ``None``.

[2020-08-06 19:17] sshleifer commented on #6301
Great catch!

[2020-08-06 19:26] #6302 closed

[2020-08-06 20:02] stas00 opened #6306 "solving `make quality` failures"
`make quality` currently and for a while now fails with 1 warning and 1 failure:

1. isort warning:
with `isort==4.3.21` or the required by the latest stable `pylint`, or `setup.py`'s current
`git+git://github.com/timothycrosley/isort.git@e63ae06ec7d70b06df9e528357650281a3d3ec22#egg=isort`

we get:
[code]
[code]

If I install `isort==5.3.0` it now wants to reformat a whole bunch of imports:
[code]

[2020-08-06 20:21] sgugger commented on #6306
Confirming the warning started to appear since I did a conda upgrade (for pytorch 1.6.0), never got the error here.

[2020-08-06 20:54] stas00 commented on #6306
Thank you for validating this.

You probably happened to have a newer `flake8`, hence suggesting a minimum requirement.

[2020-08-06 22:12] #3962 closed

[2020-08-06 22:12] mmsamiei commented on #4961
No new news? :)

[2020-08-06 22:15] dmlap opened #6308 "Debug flag to `run_language_modeling` triggers error"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-5.4.0-42-generic-x86_64-with-glibc2.29
- Python version: 3.8.2
- PyTorch version (GPU?): 1.6.0+cu101 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes, run_language_modeling.py
- Using distributed or parallel set-up in script?: no

### Who can help

I'd guess @sgugger or @julien-c

## Informatio

[2020-08-06 22:53] h56cho commented on #6275
Hello,
I'd hate to keep bother you on this, but could you quickly tell me how I should adjust `model_RobertaForMultipleChoice.modules()` to only return those parameters that pertains to the uppermost layer of `roberta-large` pre-trained model?

I know how to convert the HuggingFace Transformers into Pyro models now - for this, I just need to add a dummy parameter after converting the Transformer i

[2020-08-06 23:01] stas00 opened #6310 "collision between different cl arg definitions in examples"
The `examples` have an incosistency of how the cl args are defined and parsed. Some rely on PL's main args as `finetune.py` does: https://github.com/huggingface/transformers/blob/master/examples/seq2seq/finetune.py#L410

[code]

others like `run_pl_glue.py` rely on `lightening_base.py`'s main args: https://github.com/huggingface/transformers/blob/master/examples/text-classification/run_pl_glue.py#

[2020-08-07 00:20] brian8128 opened #6313 "Error trying to import SquadDataset"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-108-generic-x86_64-with-glibc2.10
- Python version: 3.8.2
- PyTorch version (GPU?): 1.4.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help
@sgugger @julien-c

## Information

I am trying to follow the ru

[2020-08-07 00:39] Zhylkaaa commented on #6046
As I mentioned before we used `is_pretokenized` to create sliding window, but recently discovered that this can be achieved using:
[code]

this returns `dict` with `input_ids`, `attention_mask` and `overflow_to_sample_mapping` (this helps to map between windows and example, but you should check for its presence, if you pass 1 short example it might not be there).

Hope this will help someone 🤗

[2020-08-07 00:46] qwu01 commented on #5778
@jstremme Yes, I'm sure that torch 1.4.0 with multiple GPUs worked for Reformer training. AFAICT it's not impacting anything else.

[2020-08-07 01:18] #6301 closed

[2020-08-07 02:26] ggaemo commented on #4942
I also have the same issue.

[2020-08-07 02:29] ggaemo opened #6316 "Dataloader number of workers in Trainer"
https://github.com/huggingface/transformers/blob/175cd45e13b2e33d1efec9e2ac217cba99f6ae58/src/transformers/trainer.py#L252

If you want to use the Trainer from trainer.py, you only have the option to use only 0 number of workers for your dataloader.

However, even if I change the source code to have 10 number or workers for the data loader, the model still uses the same thread.

[2020-08-07 02:38] stas00 opened #6317 "codecov invalid reports due to inconsistent code coverage outputs (non-idempotent test-suite)"
Currently PRs get a codecov report

1. Observing various commits - especially pure doc commits - It's either not working right or it needs to be configured.

e.g., this PR has 0.00% change to the code:
https://github.com/huggingface/transformers/pull/6315/files
yet, codecov found  -0.51%  decrease in coverage - this makes no sense. (edit: it updates itself with other commits to master, now it show

[2020-08-07 02:40] kismit opened #6318 "TFBert runs slower than keras-bert， any plan to speed up？"
classification task run with keras-bert using 7ms, but run with TFBert using 50+ms, both of them runing on GPU, detail arguments:
hidden layers: 6
max_seq_length: 64
cuda: 2080ti

As I see, most of time using cost by bert encoder, average 6 ms per encoder layer, while keras-bert encoder per layer use less than 1ms

do we have any plan to solve this problem？
ths！

[2020-08-07 03:50] AADeLucia commented on #3021
Sorry for the wrong tag! And @fabrahman , glad you found the bug!

[2020-08-07 03:51] SergioBarretoJr commented on #5106
I had the same problem when i try to finetune RoBERTa model with my own tokenizer as @raj5287 did. I have already updated all packages (pytorch, transformers)

Code:

Output:

File "Fine_tuning_tokenizer.py", line 106, in <module>
    main(sys.argv[1:])
  File "Fine_tuning_tokenizer.py", line 94, in main
    modelRoberta.fine_tune_LM(inputfile, outputDir,tokenizer_path=outputDir)
  File "/sentimen

[2020-08-07 04:44] patil-suraj commented on #6313
Hi @brian8128 , `SquadDataset` was added after the 3.0.2 release. You'll need to install from source to use it

[2020-08-07 06:56] prajjwal1 commented on #6179
@HanGuo97 Could you please confirm if this `label = label[0]` would have any impact on evaluation results ?

[2020-08-07 06:58] #6182 closed

[2020-08-07 07:02] ggaemo commented on #4947
Still no updates on this issue?

[2020-08-07 07:27] vibhavagarwal5 opened #6319 "num_beams error in GPT2DoubleHead model"
## Environment info

- `transformers` version: 2.9.1
- Platform: Linux
- Python version: 3.6
- PyTorch version (GPU?): 1.5
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
@LysandreJik @patil-suraj

## Information

I am trying to use `model.generate()` for the GPT2DoubleHeadModel but the beam search is giving an error

[2020-08-07 07:32] agiagoulas commented on #5602
@sshleifer It worked 👍 I used this fix in 2000 repetitions of the batch size at a time for a few times now and no error occured. Thank you very much for your help!

[2020-08-07 07:32] #5602 closed

[2020-08-07 08:10] antocapp opened #6320 "Multi-gpu LM finetuning"
Hello,

how can I run LM finetuning with more than one gpu (specifically I want to train gpt2-medium on Google Cloud with four nvidia T4, 64GB).

What are the arguments to pass to `run_language_modeling.py` script?

Thanks

[2020-08-07 10:32] QixinLi commented on #3320
Hi @patrickvonplaten, is this problem fixed？
I got the same error recently with version 3.0.2

[2020-08-07 10:40] mc2259 opened #6323 "Hi , I am having trouble locating the transformers/examples/summarization/bart/ file. I was wondering if it has been renamed or changed?"
# ❓ Questions & Help

## Details

**A link to original question on the forum/Stack Overflow**:

[2020-08-07 11:30] ratthachat commented on #3626
@patrickvonplaten Sorry to tag you in this old thread, but is there any official T5 TF example (as you mentioned in the last thread)?

[2020-08-07 12:26] NielsRogge commented on #6323
Think it was moved to the seq2seq directory: https://github.com/huggingface/transformers/tree/master/examples/seq2seq

[2020-08-07 13:02] sgugger commented on #6308
The documentation of `debug` clearly points out this parameter is only used for TPU-training:
[code]
It's called simply debug (and not `tpu_debug`) for harmonization with `TFTrainer`.

[2020-08-07 13:18] thiagomoeng opened #6325 "Text-to-SQL Query"
# ❓ Questions & Help

Hello everyone, I got a task that I want to use NLP for convert text into a SQL query. Anyone knows how to do this or got any suggestion? Thanks.

[2020-08-07 14:12] Buckeyes2019 commented on #4224
I am curious why the token limit in the summarization pipeline stops the process for the default model and for BART but not for the T-5 model?  When running "t5-large" in the pipeline it will say "Token indices sequence length is longer than the specified maximum sequence length for this model (1069 > 512)" but it will still produce a summary.   With the default model or "facebook/bart-large-cnn"

[2020-08-07 14:23] mc2259 commented on #6323
Thanks!

[2020-08-07 14:23] #6323 closed

[2020-08-07 14:24] hailusong commented on #2542
for those still looking for a workaround solution to this issue: you may try following changes to AlbertAttention.forward()

        ...
        # Should find a better way to do this
        # w = (
        #     self.dense.weight.t()
        #     .view(self.num_attention_heads, self.attention_head_size, self.hidden_size)
        #     .to(context_layer.dtype)
        # )
        # b = self.dense

[2020-08-07 14:40] sshleifer commented on #4224
Great Q, (prolly belongs on discuss.huggingface.co in the future :))

T5 uses a technique called relative position bucketing, whereas bart stores 1024 positional embeddings and then looks up each position in them.
Note that T5 will likely perform best with sequences <= 512 tokens, but you are correct that it won't error until OOM.

[relevant t5 code] (https://github.com/huggingface/transformers/bl

[2020-08-07 14:51] VietHoang1710 commented on #6029
transformers==2.7.0 solved the issue in my case

[2020-08-07 14:58] patil-suraj commented on #6325
pinging @mrm8488 .

[2020-08-07 15:02] sshleifer commented on #6080
@patrickvonplaten said that he is ok with this change if @mfuntowicz and @n1t0 is ok with it.
What do you guys think?

@patil-suraj we can move forward on your PR once we get some consensus that this is an OK direction to go in.

[2020-08-07 15:08] mrm8488 commented on #6325
You can try this model: https://huggingface.co/mrm8488/t5-base-finetuned-wikiSQL
Thanks for ping me @patil-suraj

[2020-08-07 15:09] NielsRogge commented on #6325
If you go to the model hub and type 'SQL', you get [this](https://huggingface.co/models?search=Sql). There are currently 3 variants of the T5 model fine-tunes on WikiSQL (a large dataset that contains sentence - SQL pairs).

[2020-08-07 15:10] berryweinst opened #6327 "Batched pipeline"
Hi,

Is there a way to run batches with QuestionAnsweringPipeline rather than just one example?

Thanks.

[2020-08-07 16:17] loveJasmine opened #6329 "OSError: Model name 'lonePatient/albert_chinese_small' was not found in tokenizers model"
my code:

from transformers import AutoTokenizer, AutoModel
tokenizer = AutoTokenizer.from_pretrained("lonePatient/albert_chinese_small")
model = AutoModel.from_pretrained("lonePatient/albert_chinese_small")
model.save_pretrained("lonePatient+albert_chinese_small")

+++++++++++

Downloading: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████

[2020-08-07 17:36] alexgaskell10 commented on #4406
@ibeltagy Thanks for the update, it still is not working well for me with bsz > 1. I think you also need to change `attn_output = attn_output.contiguous().view(tgt_len, bsz, embed_dim)` to `attn_output = attn_output.transpose(0,1)` in longformer/longformer_encoder_decoder.py, line 75.

[2020-08-07 18:00] choidongyeon opened #6330 "BertForPreTraining with NSP"
# ❓ Questions & Help

## Details
I am trying to train BERT from scratch following a modification of https://huggingface.co/blog/how-to-train, where I use a BertTokenizer and BertForPreTraining. The [documentation for BertForPreTraining](https://huggingface.co/transformers/model_doc/bert.html#transformers.BertForPreTraining) states that it has two heads on top for both pre-training processes (MLM a

[2020-08-07 18:17] ibeltagy commented on #4406
@alexgaskell10, you are right. Just pushed a fix for that one as well.

[2020-08-07 18:35] #6275 closed

[2020-08-07 18:47] alexgaskell10 commented on #5654
I am having similar problems with this myself. @Colanim do you know which if your above changes had the largest impact so I can begin with those?

@sshleifer I think there is a bug with `label_smoothed_nll_loss`. I have tried using it with current master and I am getting infinite losses because the `bs` term is zero and this is the denominator in line 45 (`return loss / bs, nll_loss / bs`).

[2020-08-07 19:51] dmlap commented on #6308
Ah, my bad for not fully reading the documentation. Would you be open to a PR with a guard or more-specific error message for this scenario?

[2020-08-07 19:52] Iwazo8700 commented on #158
I have the same issue too

[2020-08-07 19:56] PhilipMay commented on #6046
I have the same issue as @tholor - there seem to be some nasty differences between slow and fast tokenizer implementations.

[2020-08-07 20:16] brian8128 commented on #6313
Thanks! It's working now. You guys have written some code around this stuff!

[2020-08-07 20:16] #6313 closed

[2020-08-07 20:30] #6191 closed

[2020-08-07 20:40] sshleifer commented on #5654
wowo great catch this line I wrote is broken in so many ways:

[code]

I would delete the denominator if I were you.

In my experience: warmup_updates can help a lot, as well as playing with gradient_accumulation_batches. (more for MT, lower -> better). But interested in @Colanim 's experience.

BTW, thanks to @stas00 you can now pass `--dropout`, `--attention_dropout`, `--decoder_layerdrop` and `

[2020-08-07 20:41] sshleifer opened #6331 "Delete this line in label_smoothed_nll_loss"
[code]

[2020-08-07 21:04] jstremme commented on #5778
@qwu01, @anthonyfuller7, downgrading to `torch==1.4.0` worked for me as well :D

[2020-08-07 22:51] sshleifer opened #6333 "add test_tokenization_reformer.py"
I don't think there is any common test coverage for ReformerTokenizer.

[2020-08-08 00:32] sshleifer opened #6335 "delete unused tiny models"
[code]
and make sure the ones that remain are usable/have tokenizer files.

[2020-08-08 00:42] sshleifer opened #6336 "broken ONNX slow test"
[code]
tests/test_onnx.py:75:  `path` is None

https://github.com/huggingface/transformers/runs/960368281?check_suite_focus=true

[2020-08-08 00:43] sshleifer opened #6337 "[CI] add manual workflow dispatch option to github actions runners"
https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

[2020-08-08 01:09] stas00 commented on #6317
Here is another gem - PR to remove a single comment from a test file - guess what codecov's report was - https://github.com/huggingface/transformers/pull/6338 - it will increase coverage by 0.32%! Sounds like its output would make a pretty good RNG.

[2020-08-08 01:39] melaniebeck commented on #6144
It isn't just long contexts. I was running some QA on SQuAD2.0 and came across an instance where I received that error for a given context and question but the context is not that long.
[code]

### Error Message:
[code]

But if I changed the question and keep the same context, the pipeline completes the execution.
[code]

### Output
[code]

[2020-08-08 02:47] #4692 closed

[2020-08-08 02:47] #2023 closed

[2020-08-08 02:48] #4702 closed

[2020-08-08 02:48] #4694 closed

[2020-08-08 02:48] #4697 closed

[2020-08-08 04:56] #4541 closed

[2020-08-08 06:35] #4708 closed

[2020-08-08 06:35] #2775 closed

[2020-08-08 06:35] #4712 closed

[2020-08-08 08:00] leeivan opened #6343 "The default cache directory is lack of disk capacity, I need change the configure of the default cache directory."
# 🚀 Feature request

## Motivation

## Your contribution

[2020-08-08 08:21] #6331 closed

[2020-08-08 09:35] #2642 closed

[2020-08-08 09:36] #4715 closed

[2020-08-08 11:15] saahiluppal opened #6345 "Is it necessary to provide attention_mask, or model will calculate itself?"
Is it necessary to provide attention_mask, or model will calculate itself?

[2020-08-08 14:35] #4719 closed

[2020-08-08 14:36] #4612 closed

[2020-08-08 14:45] Mohd-Misran opened #6347 "ModuleNotFoundError: No module named 'transformers' on Google Colab"
I installed **transformers** using the command `!pip install transformers` on **Google Colab Notebook**
But then I try to `import transformers` it throws an error.

This is the output of the pip install command:

Requirement already satisfied: transformers in /usr/local/lib/python3.6/dist-packages/transformers-3.0.2-py3.6.egg (3.0.2)
Requirement already satisfied: dataclasses in /usr/local/lib/pyt

[2020-08-08 15:24] patrickvonplaten opened #6348 "[Bart] Cannot use Bart decoder cache with torchscript"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-111-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.5
- PyTorch version (GPU?): 1.6.0+cpu (False)
- Tensorflow version (GPU?): 2.2.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

 Bart: @sshleifer

## Information

Model I am using (Bert, XLNet ..

[2020-08-08 15:29] patrickvonplaten commented on #6348
After having fixed the bug it would be great if this line: https://github.com/huggingface/transformers/blob/ac001c48b8df1f5aadcc8cf2c71d7c1116c05250/tests/test_modeling_common.py#L252 can be removed so that a test for Bart + `past_key_value` is enabled.

[2020-08-08 16:29] stas00 opened #6349 "[testing] USE_CUDA default and intuitive skip decorators"
This library's primarily use is for gpu work, and currently many tests won't run even if gpu is available, since the current setup wants env var `USE_CUDA` to be true for anything to happen.  It's easy to forget to manually add this env var to pytest command line.

To maximize the testing potential I propose that only if `USE_CUDA=False` then the test is skipped (for CI jobs that need to test libr

[2020-08-08 16:35] patrickvonplaten commented on #6194
Thanks for answering @patil-suraj . As @patil-suraj said, we need some code and also the environment info (it's empty above) to better answer here :-)

[2020-08-08 16:37] patrickvonplaten commented on #5799
@elbowdonkey,

can you try just running:
[code]

where the relevant files can be found in `test_01`?

[2020-08-08 16:51] patrickvonplaten commented on #1836
See https://github.com/huggingface/transformers/pull/3578.

[2020-08-08 16:52] patrickvonplaten commented on #6266
Thanks a lot for open this @agemagician ! I think we should be able to adapt `modeling_bert.py` to be compatible with this model.
For model parallelism one could take a look at this PR: https://github.com/huggingface/transformers/pull/3578.
Regarding "relative attention encoding" does this just correspond to these lines: https://github.com/tensorflow/mesh/blob/d46ff8751f387cf37d732fa0fb968cc0d1de7

[2020-08-08 16:54] patrickvonplaten commented on #3320
This is still an open problem...I didn't find the time yet to take a look! Will link this issue to the TF projects.

[2020-08-08 17:11] patrickvonplaten commented on #3626
@ratthachat - no worries, we should definitely add more TF T5 examples and we still don't have a good TF T5 notebook.
I am moving the discussion to the forum and if no one answers I will spent some time coping a T5 PT notebook to TF.

[2020-08-08 17:16] Alex-Fabbri commented on #6327
Yes, building off of the model and example [here](https://huggingface.co/twmkn9/albert-base-v2-squad2):

[code]

[2020-08-08 17:40] stas00 commented on #6349
Perhaps, while we are at it, it'd be good to discuss the related skip decorators.

Currently there is `require_multigpu`, but no `require_gpu` - I tried using `require_torch_and_cuda` but it only works if USE_CUDA is set. and its name is non-intuitive/inconsistent next to `require_multigpu`.

And `require_multigpu` should behave like `require_torch_and_cuda`, except require `gpus>1` - i.e. whateve

[2020-08-08 18:06] moyid opened #6351 "Why is distillbart-cnn done with no teacher and distilbart-xsum has a teacher?"
@sshleifer Can you expand on why distillbart-xsum is done with a teacher and distillbart-cnn is not?

[2020-08-08 18:10] patrickvonplaten commented on #6191
Hey @h56cho - did you find a solution here? Would be great if you can post code :-)

[2020-08-08 18:22] patrickvonplaten commented on #6275
I think you can leverage the variable `m._pyro_name`. For example running this code:
[code]

would only set the weights of the 11th layer to a `PyroSample`.
Running the code above gives the following output:
[code]

Let me know if this works for you. Also, if you manage to get a Bayesian Neural Network using `transformers` it would be amazing if you can share some code or add a notebook :-)

[2020-08-08 18:26] patrickvonplaten commented on #6345
If you do not pass an `attention_mask` then the `attention_mask` will automatically set to all ones (`[1, 1, 1, ...,]`). Meanning that every token is attended to (no token is masked). Also check out the docs here: https://huggingface.co/transformers/glossary.html#attention-mask.

If your `input_ids` contain <PAD> tokens, then the `attention_mask` will not automatically be calculated. You can lever

[2020-08-08 18:26] #6345 closed

[2020-08-08 18:30] patrickvonplaten commented on #6240
Good catch!

[2020-08-08 18:30] patrickvonplaten commented on #6240
#6352

[2020-08-08 18:36] xhlulu opened #6353 "BartModel decodes sequence of incorrect length when decoder_input_ids is specified / Output shape mismatch due to when `use_cache` True/False"
From the [Bart docs](https://huggingface.co/transformers/model_doc/bart.html#bartmodel), the `decoder_input_ids` attribute should be a tensor of shape `(batch_size, target_sequence_length)`. If we call a `BartModel` without specifying `decoder_input_ids`, the decoded sequence length correctly matches that of `input_ids`. When it is specified, the output sequence is not of shape `target_sequence_le

[2020-08-08 18:36] patrickvonplaten commented on #5748
The code in Longformer has changed quite a bit. I think a simply remedy to make your code work with the current version of `Longformer` is to add `**kwargs` to every forward function in `modeling_longformer.py` that you copied into your notebook. This way it can handle an arbitrary number of input arguments and the above error should not occur.

[2020-08-08 18:37] #6240 closed

[2020-08-08 18:38] patrickvonplaten commented on #5650
We will probably start working on a fix in ~2 weeks.

[2020-08-08 19:37] sangnguyen7 opened #6354 "GPU memory consumption increases while training"
## Environment info

- `transformers` version: 3.0.2
- Platform: Google Colab
- Python version: 3.6
- PyTorch version (GPU?):  1.6
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model I am using (Bert, XLNet ...): XLM Multi-lingual

The problem arises when using:
* [ ] the official example scripts: (give

[2020-08-08 21:24] xhlulu commented on #6353
Actually, going over [the source code ](https://huggingface.co/transformers/_modules/transformers/modeling_bart.html#BartModel)

[2020-08-08 21:35] #3192 closed

[2020-08-08 21:35] #4725 closed

[2020-08-08 21:35] #4689 closed

[2020-08-09 01:54] sshleifer commented on #6348
thanks for writing such a good issue, I'll take a look tomorrow.

[2020-08-09 02:10] sshleifer commented on #6351
It's purely empirical. `distilbart-xsum` variants perform about 1-2 ROUGE pts worse without a teacher, the gap is basically 0 for the `distilbart-cnn` variants.  For translation, it seems like teacher also helps a bit.

[2020-08-09 02:11] sshleifer commented on #6351
In the future, you can tag me on discussion questions on discuss.huggingface.co !

[2020-08-09 02:51] zeeqy opened #6360 "Bug in squad example with XLNet"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-3.10.0-957.21.2.el7.x86_64-x86_64-with-centos-7.6.1810-Core
- Python version: 3.7.4
- PyTorch version (GPU?): 1.4.0 (False)
- Tensorflow version (GPU?): 2.0.0 (False)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help

## Information

Model I am using (Bert, XLNet ..

[2020-08-09 04:09] stas00 commented on #6070
poly: https://github.com/huggingface/transformers/pull/6361

[2020-08-09 04:34] sshleifer commented on #6349
I think life would be marginally better if we used `CUDA_VISIBLE_DEVICES` and your first 4 `@require` decorators. Basically just delete `USE_CUDA`.

[2020-08-09 04:43] EibrielInv opened #6362 "Error "iterating over `tf.Tensor` is not allowed" on TFTraining"
## Environment info

- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-91-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.6
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.3.0 (True)
- Using GPU in script?: Yes - GeForce GTX 1080 Ti
- Using distributed or parallel set-up in script?: No

### Who can help
 Trainer: @sgugger  tensorflow: @jplu

## Info

[2020-08-09 04:44] EibrielInv commented on #6362
The following bug on Tensorflow could be related: https://github.com/tensorflow/tensorflow/issues/42119

[2020-08-09 09:07] BramVanroy commented on #4894
Looking at the interest this topic has, I am bumping it to re-open it.

[2020-08-09 09:12] BramVanroy commented on #6343
Please try to write better posts in the future. This is just lazy.

You can set the directory for a cache with the `TRANSFORMERS_CACHE` environment variable.

[2020-08-09 12:09] dipanjanS commented on #6144
Thanks @melaniebeck for this, even I encountered this just earlier today. Would definitely be great if the team can figure out how these could be resolved in v3.x for transformers.

[2020-08-09 13:32] #4634 closed

[2020-08-09 14:04] leeivan commented on #6159
Try to delete cache directory files.

[2020-08-09 16:32] #3616 closed

[2020-08-09 16:32] #3676 closed

[2020-08-09 16:32] #3720 closed

[2020-08-09 16:32] #4536 closed

[2020-08-09 16:32] #4713 closed

[2020-08-09 16:35] sshleifer opened #6367 "[s2s] pass max_length to config through command line"
Problem:
In summarization, ideal beam search params vary between finetuning datasets. If you are finetuning pegasus-large on xsum, you want config.max_length=56, if you are finetuning pegasus-large on cnn-dailymail you want config.max_length=128.

### Solutions
- the command line arg should be called `max_generate_length`

- This could also be addressed through adding `task_specific_params` for ev

[2020-08-09 17:05] eladsegal opened #6368 "Can't load a saved tokenizer with AutoTokenizer.from_pretrained without saving Config as well"
### Environment info
- `transformers` version: master (https://github.com/huggingface/transformers/commit/6e8a38568eb874f31eb49c42285c3a634fca12e7)

### Who can help
 tokenizers: @mfuntowicz

### Information
When saving a tokenizer with .save_pretrained, it can be loaded with the class it was saved with but not with AutoTokenizer:
[code]
The error is:
[code]

If a configuration is saved as well, t

[2020-08-09 17:05] sshleifer opened #6369 "trainer/lightning_base: Arbitrary config updates through command line"
this issue [https://github.com/huggingface/transformers/issues/6367], and a recent one to add dropout to the command line, as well as the usage of task_specific_params during finetuning, are all one off solutions to address a larger problem. During finetuning/training, it is very difficult to arbitrarily set config attributes. For `examples/lightning_base.py`, you need to save a whole new config t

[2020-08-09 17:20] Hellisotherpeople commented on #4225
Oh I can or wait for this to be ready.

I have a seq2seq problem with documents which are good enough that I need this to be ready before I can hope to solve my task.

[2020-08-09 17:34] xhlulu commented on #6353
Actually, re-reading the code made me realize that my problem could be solved by explicitly specifying `use_cache=False` when calling `model.forward`. This is likely because when the `use_cache`  attribute in `model.forward` is `None`, it falls back to `model.config.use_cache`, which is set to True by default.

[2020-08-09 17:47] xbelda opened #6370 "FastTokenizer not returning batch_size for offset_mapping for short texts"
## Environment info
- `transformers` version: 3.0.2
- Platform: Linux-5.4.0-42-generic-x86_64-with-glibc2.10
- Python version: 3.8.2
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

# Who can help
 tokenizers: @mfuntowicz

## Information
When working with `padding` and `truncatio

[2020-08-09 17:50] sshleifer commented on #6080
Im feeling pretty strongly about this as I just messed up decoder special tokens for pegasus finetuning in a very avoidable way :);  the tokenizers should handle special tokens, not some random barely tested examples/processor* code.

[2020-08-09 17:57] xbelda commented on #6370
After inspecting the code, it looks that the cause can be found inside `tokenization_utils_base.py`.

Then, in the method `convert_to_tensors` form `BatchEncoding` there are the following lines:
[code]

In this case, right before the squeeze, the `offset_mapping` tensor is of shape [1, 512, 2], which becomes [512, 2] after being squeezed.

This would explain why it doesn't fail with longer sequenc

[2020-08-09 19:50] vikas95 commented on #5905
Hi @TarasPriadka ,

Thanks for sharing the solution. I followed the same steps which solved this error

RuntimeError: Error(s) in loading state_dict for BertForTokenClassification:
size mismatch for classifier.weight: copying a param with shape torch.Size([17, 1024]) from checkpoint, the shape in current model is torch.Size([13, 1024]).
size mismatch for classifier.bias: copying a param with shape

[2020-08-09 20:13] TarasPriadka commented on #5905
@vikas95 I am not sure, but just changing the model's `num_labels` seemed to be working for me. However, I was scaling up labels, not reducing them. I would assume that it should have the same solution. Maybe you can share your model's layers before and after applying my fix with `print(model)`, and we can take a look into a possible solution.

[2020-08-09 20:18] TarasPriadka commented on #6368
@eladsegal I think that the `AutoTokenizer` requires the config file to determine what model to use. In https://huggingface.co/transformers/model_doc/auto.html it states that:
```The from_pretrained() method takes care of returning the correct tokenizer class instance based on the model_type property of the config object, or when it’s missing, falling back to using pattern matching on the pretrain

[2020-08-09 20:23] TarasPriadka commented on #6347
@Mohd-Misran seems to be working for me
![image](https://user-images.githubusercontent.com/14134797/89741111-4e53cc00-da43-11ea-9a09-94431217301e.png).

Maybe try to open a new colab notebook?

[2020-08-09 20:44] vikas95 commented on #5905
Hi @TarasPriadka ,

Thanks for the suggestion, I printed the model after loading the checkpoint and after updating the classification layer.

The classification layer output dimension is changing from your mentioned solution i.e.,

initially after loading the checkpoint, model = AutoModelForTokenClassification.from_pretrained(
        model_args.model_name_or_path,
        from_tf=bool(".ckpt" in

[2020-08-09 20:55] TarasPriadka commented on #5905
@vikas95, so the shape of the model is fine. The issue is in `exp_avg.mul_(beta1).add_(grad, alpha=1.0 - beta1)`. The exception highlights that `exp_avg` is of size 17 and its trying to add `grad` which is 13. So the problem is in `exp_avg`, since it wasn't updated along with everything else. Can you share the whole chunk of code where you initialize the model, trainer, etc?

[2020-08-09 21:05] vikas95 commented on #5905
Hi @TarasPriadka ,

Here is the part where I initialize the model -

    labels = get_labels(data_args.labels)
    label_map = {i: label for i, label in enumerate(labels)}
    num_labels = len(labels)

    config = AutoConfig.from_pretrained(
        model_args.config_name if model_args.config_name else model_args.model_name_or_path,
        num_labels=num_labels,
        id2label=label_map,

[2020-08-09 21:07] TarasPriadka commented on #5905
@vikas95 Can you also share the trainer code

[2020-08-09 21:09] vikas95 commented on #5905
@TarasPriadka - Its the same as in run_ner.py
I haven't changed any other part of the code.

[2020-08-09 21:20] vdantu commented on #5664
@mfuntowicz : Which version of transformers (pypi package) will these changes be available with? I am used to testing the models throug pypi package or through torch.hub. What is the recommended way to get and test these fixes?

[2020-08-09 21:21] TarasPriadka commented on #5905
@vikas95 can you check if in your model folder you have this file `optimizer.pt`.

[2020-08-09 21:32] vikas95 commented on #5905
@TarasPriadka ,

Thanks for the help, I was giving a specific checkpoint directory as the model path i.e., "datasetA_model/checkpoint-6000/" which had both optimizer.pt and scheduler.pt

but then I changed the model path to just "datasetA_model/" and it works fine with no errors.
I am guessing that if I just give the "datasetA_model/" as model path then  it would select the highest checkpoint ?

A

[2020-08-09 21:36] TarasPriadka commented on #5905
@vikas95 This was a great deal of fun. When you are running
[code]
trainer loads in those files, and initializes Adam optimizer with them. Optimizer breaks since you are changing the shape of the output layer, but optimizer was initialized with the other shape. What you can do, is either delete that file, or just run `trainer.train()` without parameters.

[2020-08-09 22:08] vikas95 commented on #5905
Cool, this makes sense.
Thanks again for the explanation. I was actually trying with just trainer.train() for last 30 minutes and it works fine.

Thanks again for all the help and explanations.

[2020-08-09 23:12] stas00 commented on #6310
Here is a potential idea of how to keep all the common cl arg definitions in `BaseTransformer` and then let each example subclass tell which ones it wants to support, w/o needing to duplicate the same thing everywhere.
[code]

Granted, there is no public API to remove args once registered. This is an idea.

Alternatively, `BaseTransformer` could maintain a dict of all the common args with help/def

[2020-08-10 01:32] #4753 closed

[2020-08-10 02:12] amaiya commented on #4239
This can happen if there is a network or firewall issue that prevents the `transformers` library from downloading the required files.   To replicate on a laptop, you can delete the cache (e.g., `~/.cache/torch/transformers`), turn off wifi, and run this:
[code]
If following the above steps, you will see the exact same error as posted above (i.e., `OSError: Model name 'distilbert-base-uncased' was

[2020-08-10 02:21] sshleifer commented on #6369
see `argparse.remainder` https://stackoverflow.com/questions/22850332/getting-the-remaining-arguments-in-argparse/46250042#46250042

h/t @stas00

[2020-08-10 02:47] stas00 commented on #6369
You could probably extract all the known args via
[code]
and then use another tool to parse the `unknown`? e.g. could even use `fire` to do just that or write a core function to do that.

surely a cheat, but would make it work, while having `arparse` as the main solution still.

[2020-08-10 02:59] sshleifer opened #6373 "Pegasus finetuning diary"
Best score so far .2065 Rouge, much worse than paper. Generations appear to start lower case/be missing words at the beginning.

Clues:
- adding `<pad>` as prefix (like for generation) makes loss nan for at least 1000 steps (I killed it).
- Without prefix, loss is nan for 5 steps, them improves.
- distillation with teacher produces huge hidden state MSE losses. This is probably unrelated and cause

[2020-08-10 03:02] sshleifer opened #6374 "[s2s] remove lr_scheduler redundancy"
in `get_train_dataloader`

[2020-08-10 03:40] kaituoxu commented on #1689
`hids = [t.transpose(0, 1).contiguous() for t in hids]` maybe work.

[2020-08-10 05:14] acul3 commented on #6144
i also encountered this issue (keyerror : 0)

it's not even long text (about 8-12 words length)

sometime it occured when i'm changing some word in the question with oov word

[code]

[2020-08-10 06:28] mc2259 opened #6375 "CUDA Out of Memory"
# ❓ Questions & Help

## Details

I was trying to finetune BART on google collab using the xsum dataset and the finetuning script and I got this:
RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB (GPU 0; 14.73 GiB total capacity; 13.67 GiB already allocated; 15.88 MiB free; 13.72 GiB reserved in total by PyTorch)
Does this mean I have to use a smaller model?

**A link to original quest

[2020-08-10 06:37] LysandreJik commented on #6144
Hello! There has been a few fixes on the pipelines since version v3.0.2 came out. I can reproduce this issue on v3.0.1 and v3.0.2, but not on the master branch, as it has probably been fixed already.

Could you try installing from source (`pip install git+https://github.com/huggingface/transformers`) and let me know if that fixes your issue?

[2020-08-10 06:47] LysandreJik commented on #6330
Hi! Supporting the NSP objective is not on our roadmap, due to the reason you've linked and because of insufficient bandwidth.

However, similar to the work in #6168 for SOP, we're very open to contributions and would accept a PR adding the BERT NSP objective to the datacollators/datasets.

[2020-08-10 06:51] LysandreJik commented on #5664
We'll release a new version in the coming weeks, in the meantime you can install from source: `pip install git+https://github.com/huggingface/transformers`

[2020-08-10 07:11] acul3 commented on #6144
hi @LysandreJik

seems the problem still occurred but now its keyerror 17

**input**
[code]

**Error**
[code]

i also try the case from @dipanjanS (the first post)

still got some error:
[code]

[2020-08-10 07:24] choidongyeon commented on #6330
Awesome, I've been working on something similar. Will open a PR, thanks!

[2020-08-10 07:49] patrickvonplaten commented on #6375
Yes it seems like the GPU that was allocated to you does not provide enough GPU memory for the model

[2020-08-10 07:49] #6375 closed

[2020-08-10 07:50] ankitkr3 commented on #876
HI @nreimers , how can i find average feature vector from the embeddings given by sentence bert for large sentence similarity comparison ?

[2020-08-10 08:53] azayz commented on #4444
Thanks, works perfectly

[2020-08-10 09:12] tearscoco commented on #5338
I've got the same problem here. Have you solved it?

[2020-08-10 09:21] eladsegal commented on #6368
@TarasPriadka When providing a path, a config file is required even if the model name is in the path (https://github.com/huggingface/transformers/blob/6e8a38568eb874f31eb49c42285c3a634fca12e7/src/transformers/tokenization_auto.py#L205).
The model name in the path is used only when an existing config file is missing the model_type property (https://github.com/huggingface/transformers/blob/6e8a38568

[2020-08-10 10:33] agemagician commented on #6266
Thanks @patrickvonplaten for considering this modified Bert model.
I believe it is very important model as it allows new Bert SOT results with larger Bert models.
Furthermore, as your team familiar with T5 model it should be easy to integrate it, because most of this Bert model code overlap with T5 as both of them use mesh Tensorflow as a backend during training.

Regarding your questions/feedback

[2020-08-10 11:34] AmbiTyga commented on #4517
I am trying to implement a encoder decoder with BART but I have no idea how to do so, and I need to fine tune the decoder model, so eventually I need to train my decoder model. I am trying to use the `EncoderDecoder` model in my script but I don't know how to access the decoder model for training it. Instead of using the module, I initialized `BartModel` as encoder,whereas for decoder I used `Bart

[2020-08-10 11:47] sgugger commented on #6308
Sure!

[2020-08-10 11:57] KMFODA commented on #6156
Hi @sshleifer, I'd like to contribute and help out here if still needed. My thinking is to remove ```decoder_start_token_id```  from run_eval.py and generation_utils.py and changed the following code:

https://github.com/huggingface/transformers/blob/6028ed92bd9e5471e6f8a1d23cfd95a3a63018fb/src/transformers/generation_utils.py#L403-L409

to:

            input_ids = torch.full(
                (ef

[2020-08-10 12:10] nreimers commented on #876
Hi @ankitkr3
Not sure what you mean. But you can use:
https://github.com/UKPLab/sentence-transformers/blob/master/sentence_transformers/util.py#L12

With quite large sets of sentences to compute the cosine sim between all of them.

This example might also be relevant:
https://github.com/UKPLab/sentence-transformers/blob/master/examples/training_quora_duplicate_questions/application_duplicate_quest

[2020-08-10 12:14] ankitkr3 commented on #876
hi @nreimers I want to calculate the similarity between two large/medium paragraphs. How can i achieve that with the current available models?

[2020-08-10 12:23] Xinghao93 opened #6383 "hi"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2020-08-10 12:28] iliemihai commented on #4517
@AmbiTyga from what I know, BART is already a encoder-decoder model, with a BERT as a encoder and a GPT as a decoder. So you are encoding-decoding in encoder and encoding-decoding in decoder, which I don t think is a good idea. For the moment EncoderDecoderModel supports only BERT.