[2022-05-26 00:13] changyeli opened #17430 "Logits size does not match vocabulary size when fine-tuning Hubert large with pyctcdecode"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Hello, I have a very similar issue [like this one](https://github.com/huggingface/transf

[2022-05-26 00:32] shijie-wu opened #17431 "Mismatch of special token ids between config and tokenizer config"
### System Info

[code]

### Who can help?

@SaulLu, @LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Example mismatch:
* OPT-* has `bos_token_id` set to 0 in `config.json` while `bos_to

[2022-05-26 01:35] TheHonestBob commented on #17411
thanks for your reply，what can I do before update to solve it.

[2022-05-26 02:37] patrickvonplaten opened #17432 "Make all configs nicely readable"
### Feature request

All configs nicely readable (tokenizers & feature extractor)

### Motivation

https://huggingface.co/facebook/opt-30b/discussions/1

### Your contribution

Happy to do it early next week - happy if someone else wants to take it over though!

[2022-05-26 02:40] shijie-wu opened #17433 "OPT produce NaN during batched generation"
### System Info

* transformers==4.19.2
* PyTorch (GPU?): 1.11.0+cu102 (True)
* GPUs: single V100

### Who can help?

@LysandreJik, @younesbelkada

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[co

[2022-05-26 02:51] ti-ginkgo commented on #16292
Hi @patrickvonplaten, I would like to work on DETR for TF and Pytorch.

[2022-05-26 03:33] TheHonestBob commented on #17363
thanks for your reply， I read this docs，in pytorch generation_utils.py logits_processor parameter maybe I want，but not in tensorflow-dependent，I always use tf to code. on the other hand，I found that in the TFPreTrainedModel's subclass call func always return TFSeq2SeqLMOutput class, it's very python nice, but TFPreTrainedModel don't Implement fit() func, there will be two problem in my opinion，1.

[2022-05-26 06:17] rzimmerdev commented on #16824
Oi Omar, vou enviar as traduções pros arquivos que me pediu :)

[2022-05-26 07:01] mfumanelli commented on #17404
Yes @omarespejel, in case it would be for Italian. Perfect for the two suggestions ☺️.

Then I'll wait to see if it's something you want to pursue at the moment or not, thanks!

[2022-05-26 08:33] younesbelkada commented on #17433
Hi @shijie-wu ! Thanks for pointing out the issue,
It appears that in our current implementation we use a naive Softmax function that is applied to the attention scores. When passing the attention scores combined with the attention mask we use very large values to mask padding tokens such as `torch.inf` or `-3.24e+38` on the softmax function
It seems that this leads to unstable operations and resu

[2022-05-26 09:37] Leli1024 commented on #17389
Building from source

[2022-05-26 10:50] NielsRogge commented on #17418
Hi,

That's because the checkpoint you are loading (facebook/deit-base-patch16-224) needs to be loaded in a `ViTModel`/`ViTForImageClassification` rather than a `DeiTModel`. As explained in the [docs](https://huggingface.co/docs/transformers/model_doc/deit) of DeiT, the authors also trained more efficient ViT models, which directly fit into ViTModel/ViTForImageClassification:

[2022-05-26 10:59] omarespejel commented on #16824
Muito obrigado @rzimmerdev. Eles são chave para ter pronta a documentação para seguinte release de Transformers 🤗.

[2022-05-26 11:08] gante commented on #17414
Hi there! [Tensorflow](https://github.com/huggingface/transformers/blob/main/src/transformers/generation_tf_utils.py#L1980) (and [FLAX](https://github.com/huggingface/transformers/blob/main/src/transformers/generation_flax_utils.py#L439)) have to pre-allocate the output arrays with length=`max_length`, to be compatible with XLA. That implies that even if the exception above didn't exist, it would

[2022-05-26 11:20] gante commented on #17411
My advice would be to go with the PyTorch version, if performance is a bottleneck to you and you need something working in the next ~2 weeks. If you can afford to wait ~2 weeks, then you can have a look at the guides we are writing up at the moment :)

[2022-05-26 11:32] #16856 closed

[2022-05-26 11:33] gante commented on #17363
`TFPreTrainedModel` is not meant to be a stand-alone model, but something your model inherits from :) See [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/t5/modeling_tf_t5.py#L1260) for an example. When built this way, `fit()` will work as usual with Keras, and the model will have `generate()` support. However, it is quite complex to build, as you might notice

[2022-05-26 11:35] gullabi commented on #17412
Thank you for the quick responses and fixes.

Although you have closed the issue, I want to document the results. With the changes I did in the `load_metric` the processes errored out with the message:

[code]
I understand that `experiment_id` is a string and it can be anything. I just made the change but I won't get the results for a while since I am in the job queue.

[2022-05-26 11:43] kanlions commented on #17418
@NielsRogge

Thank you very much for responding and I have got my mistake but still I have a confusion. Because Initially I started with 'facebook/deit-base-distilled-patch16-224' from the tutorial mentioned
https://huggingface.co/docs/transformers/v4.19.2/en/model_doc/deit#transformers.DeiTFeatureExtractor

Still I get this issue.  I understand I am not doing any classification so I get some warn

[2022-05-26 15:30] younesbelkada commented on #17433
Thanks for the comment!
We will try to have a patch to fix that for fp16 asap I guess ;) Curious to know if the proposed PR will fix your issue (you can checkout the PR and build it from source if you have time)!

Regarding your second question - I totally agree with you - it should also not work on small models. It is just an intuition but possibly the number of heads is impacting that (since it

[2022-05-26 15:51] patrickvonplaten commented on #17424
Great find @shijie-wu,

We've settled on outputting the processed scores since those are the ones that determine the next token, e.g. argmax and sample is taken on those scores. Given the name of the flag (`output_scores`), I think this makes the most sense.
Will open a PR to fix `greedy_search` here.

It's a good point that people might need the "raw scores" though. I think it's sensible to outpu

[2022-05-26 15:58] patrickvonplaten commented on #17433
Interesting! Thanks a lot for reporting this @shijie-wu

@shephenroller @suchenzang do you have any insight here maybe?

Also cc @patil-suraj, I remember we had a similar problem with GPT-Neo/GPT-J no? Was the solution to force the last computation of the logits to be in fp32?

[2022-05-26 16:06] younesbelkada commented on #17433
Hi @shijie-wu !
After discussing with @ydshieh , it appears that this is completely independent from the model size but it just happened by luck that the logits before the softmax were negative only for large models - therefore causing an overflow that leaded to NaNs.
I am quoting his answer here:

This is about the weights and inputs. In the generation script provided in the issue, when I run it,

[2022-05-26 16:15] gante commented on #17424
@patrickvonplaten On paper yes... but we are starting to get many boolean flags to control the output of internal variables (related issue: https://github.com/huggingface/transformers/issues/17016, where it is requested the output of past key values). I wonder whether there is a better way to expose the internals of generate for advanced uses 🤔

[2022-05-26 16:19] ydshieh commented on #17433
FYI (if you want to know more details)

https://github.com/huggingface/transformers/pull/17306#issuecomment-1138660341

[2022-05-26 16:21] patrickvonplaten commented on #16292
That's awesome! Noted! Also cc @ydshieh

[2022-05-26 16:23] patrickvonplaten commented on #17414
Think we can follow 2. and go from warning to deprecation warning stating that it'll lead to an error in future versions (it is indeed a weird PT behavior). @patil-suraj what do you think?

[2022-05-26 16:24] #17431 closed

[2022-05-26 16:29] patrickvonplaten commented on #17412
Should we maybe move this (still open) issue to datasets @gullabi @lhoestq ?

[2022-05-26 17:24] osanseviero commented on #17404
Yes! Let's do this for Italian and any other language the community would like to help translating :fire:

@omarespejel, do we have a smaller list of documents that need to get translated that are higher priority? I think Get Started section + Tutorial section is the most important, but I might be wrong

[2022-05-26 17:26] ydshieh commented on #17424
For testing purpose, especially for PT/TF generation equivalence test, I think it would be better to be able  to return the raw scores from the models --> so we can identify which parts get wrong if any test failure occur.
(But I understand that we have a lot of flags in `generate` already.)

[2022-05-26 19:04] shijie-wu commented on #17424
Having `output_logits=True/False` flag for raw logits sounds good. In terms of too many flags in `generate`, we could have something like `output_flags: Set[ModelInternal]=set(["logits", "scores"])`?

[2022-05-26 19:27] mfumanelli commented on #17404
If you agree as a first step I will shortly make a PR to add the file "Translation template" to the transformers/.github/ISSUE_TEMPLATE folder. So that anyone who wants to translate into other languages can follow the [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md), and select the "Translation template" from the "New issue" button 🤗.

I will then open

[2022-05-26 21:15] AnanSarah commented on #15049
Hi, I'm facing this same error on facebook/bart-large-mnli when trying to use GPU-accelerated inference.

I am using this model for text classification and passing 10 candidate labels. When using GPU-Accelerated Inference I am getting error 400 Bad request
{
  "error": "CUDA error: out of memory\nCUDA kernel errors might be asynchronously reported at  some other API call,so the stacktrace below mi

[2022-05-26 21:37] HannahSlaughter88 opened #17445 "+new vehicles....+"

[2022-05-26 21:38] HannahSlaughter88 commented on #17445
@HannahSlaughter88

[2022-05-26 23:55] StefanHeng opened #17446 "Train Transformer XL language modeling with padding"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

I'm using `DataCollatorForLanguageModeling` **and padding** to train Transformer XL with LM head from scratch.

I'm not sure if the error is intended, i.e. do HuggingFace support training with padding tokens?

I'm not sure because I had an error with padding

[2022-05-27 02:40] TheHonestBob commented on #17411
OK, I will continue to pay attention no it

[2022-05-27 03:09] TheHonestBob commented on #17363
thanks for your reply，I view lastest Bart source code, in my opinion，transformers overwrite so many tensorflow func, such as train_step compile, I haven't done more experiments to verify whether the latest code is more compatible with tensorflow, I feel that the transformers library is too integrated, and seems to lack the flexibility of tensorflow. If I need more flexible requirements, I may have

[2022-05-27 03:14] TheHonestBob commented on #17363
thanks for your reply, I try this, in my opinion，this parameter not python nice，if bad word more than 20000，or each batch data have different bad word，I think this parameter will work not well.

[2022-05-27 03:15] TheHonestBob commented on #17363
thanks for your reply，I view lastest Bart source code, in my opinion，transformers overwrite so many tensorflow func, such as train_step compile, I haven't done more experiments to verify whether the latest code is more compatible with tensorflow, I feel that the transformers library is too integrated, and seems to lack the flexibility of tensorflow. If I need more flexible requirements, I may have

[2022-05-27 07:05] chengyjonathan opened #17448 "ImportError: cannot import name 'OptionalDependencyNotAvailable' from 'transformers.utils'"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. from transformers import AutoTokenizer

### Expected behavior

[code]

[2022-05-27 07:08] #17448 closed

[2022-05-27 07:42] pretidav opened #17450 "attention_mask hold float values in [0,1] in T5"
### Feature request

Hello Everybody,

I was wondering whether attention_mask input for T5 could be used as a float in [0,1] instead of an integer as in the documentation
`attention_mask (torch.FloatTensor of shape (batch_size, sequence_length), optional) — Mask to avoid performing attention on padding token indices. Mask values selected in [0, 1]:
1 for tokens that are not masked,
0 for tokens th

[2022-05-27 08:34] artmatsak commented on #3645
Running a pipeline in FP16 mode would be really useful for optimizing the GPU RAM usage. Can this be turned into a feature request?

[2022-05-27 08:35] 520jefferson opened #17451 "May i just train a translation task with T5 from scratch without pretrain a language model?"
### Feature request

May i use bpe in preprocessing  and train a translation model from scatch without pretrain a language model?
@patrickvonplaten

### Motivation

I want to distill a big model to T5 model  and the T5 vocab should be the same as big model.

### Your contribution

I can verify the process.

[2022-05-27 08:56] thies1006 opened #17452 "NaN in GPT NeoX model (generation)"
### System Info

[code]

### Who can help?

@LysandreJik (NeoX)

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Script to run:
[code]

Script is crashing with the traceback:
[code]
The problem was a

[2022-05-27 08:59] Narsil commented on #17414
`max_length` is impossible to use for pipelines users because there is no way they can know how many tokens are being used by their `string`. The option that's  actually controllable is `max_new_tokens` since it means the same thing in both the case of `encoder-decoder` and `decoder-only`, AND it means something similar for all models (ByT5 does require more new tokens than GPT2 for same string le

[2022-05-27 09:03] sandeeppagey opened #17453 "gpt-neo-1-3B large memory increase during training even with a small training dataset"
### System Info

[code]

### Who can help?

@patil-suraj
Training the gpt-neo-1-3B model with a training dataset of 100 sentences (about 75 words max for each sentence, say about 100 tokens), there is jump of close to 29GB in memory consumption during the training. Tried batch sizes of 8/4/2 showing similar increase. Is that expected, or does this memory increase needs further investigation? Model

[2022-05-27 09:22] Narsil commented on #17424
Just a general comment that may seem obvious to some but I feel like it's always good to restate common options when dealing with such issues (rampant too many options + enabling users to do powerful things),
I don't intend to say that any idea should be applied, just those are my go to options when dealing with such issues, and might provide insights to you on how to deal with this !

#Idea numbe

[2022-05-27 09:23] julien-c commented on #17432
in strong favor of this!

[2022-05-27 09:25] robvanderg opened #17454 "XLM-Roberta offset mapping is off by one in case of whitespace-subwords"
### System Info

[code]

### Who can help?

@LysandreJik @SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

['▁Quality', '▁of', '▁work', '▁is', '▁', 'sufficient']

{'input_ids': [0, 124604, 111

[2022-05-27 09:29] mikkelfo opened #17455 "ProphetNet inconsistent with changing batch ordering"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]
Given two different forward passes, where one of them is the inverse of the other

[2022-05-27 09:33] gullabi commented on #17412
It might be a good idea but let me check the results of the experiment. If it is working as intended there is no reason to move it I think. But if we notice any problem, I will let you know and we can move the discussion to datasets. thanks!

[2022-05-27 10:08] kamalkraj commented on #17207
Hi @manuelciosici ,
Did you start fine-tuning? Did you identify the t5 gin file required for it.

They have only released `ul2` gin file. Not the full set.
https://github.com/google-research/google-research/issues/1101

[2022-05-27 12:56] HannahSlaughter88 opened #17456 "CreateDirectDeposits...."

[2022-05-27 13:28] julien-c commented on #15862
OK we now have a Hub Pull request feature which is a good use case for this.

Please check the PR to add the full-text of the license to [`distilbert-base-uncased`](https://huggingface.co/distilbert-base-uncased/discussions/1)

you can suggest PRs to add the full-text to other models as well, but FYI we'll also work on a UX feature to easily get to the full text of the license from the license tag

[2022-05-27 15:41] steysie commented on #10016
Hi!
Is this issue somewhere in consideration still?
Would be awesome to be able to get tensors from the feature extraction pipeline

[2022-05-27 15:47] mfumanelli commented on #17404
Perfect, then I will open the issue for Italian translation. Thanks! 🤗🌈🌈

[2022-05-27 17:40] omarespejel commented on #17404
Sure @mfumanelli you can open it! Thank you 🤗

I can edit it if when necessary, no problem with that. Also please let me know if you have any doubt 🚀

[2022-05-27 17:43] patrickvonplaten commented on #17432
PR: https://github.com/huggingface/transformers/pull/17457

[2022-05-27 17:45] patrickvonplaten commented on #17445
🏎️ or 🚲 or 🚗 or ✈️ or 🚀 ?

[2022-05-27 18:37] ydshieh commented on #15983
@patrickvonplaten I will take a look of this issue if you haven't been able to find the time on it.

I think it would be great if we can fix this before the next release which will have exciting news about TF generate :-).

[2022-05-27 18:49] mfumanelli opened #17459 "Tranformers documentation translation to Italian"
Hi!

Let's bring the documentation to all the Italian-speaking community :)

Who would want to translate? Please follow the 🤗 [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know here if you'd like to translate any and we'll add your name to the list.

Some notes:

- Please translate using an

[2022-05-27 18:51] mfumanelli commented on #17404
Thanks @omarespejel! I created it, you can find it here [#17459](https://github.com/huggingface/transformers/issues/17459). If you agree we can close this issue 🌈

[2022-05-27 18:52] shijie-wu commented on #17424
Thank you for sharing the options! Option 3 seems to be the fastest way to enable returning raw logits without any code change. However, I just go though the relevant path. It seems the user provided `logits_processor` is appended to an new instance of `LogitsProcessorList`. As a result, user cannot get the raw logits using the current implementation even with a custom `LogitsProcessor`. I might b

[2022-05-27 20:16] patrickvonplaten commented on #17430
Hey @changyeli,

I sadly cannot rerun your code to reproduce the error. Could you try to send a **minimal**, **fully reproducible** code snippet?
E.g. I don't have access to `f"../{ngram}gram_correct.arpa"`

[2022-05-27 21:43] WeiHao97 opened #17460 "fx.symbolic_trace not working for Roberta"
### System Info

[code]

### Who can help?

@LysandreJi

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

[code]

[2022-05-27 23:43] #17404 closed

[2022-05-27 23:45] omarespejel commented on #17404
Agreed! Thank you @mfumanelli 🤗. On Monday I will send a tweet directed to the Italian-speaking community that wants to contribute to #17459 🇮🇹. I will let you know,

[2022-05-28 02:54] jdm365 commented on #991
from transformers.utils import logging
logging.set_verbosity(40)

This will set your logger to only display Errors (no warnings).

See more here -> https://huggingface.co/docs/transformers/main_classes/logging

[2022-05-28 04:02] omarespejel opened #17461 "Spanish docs - Links don't work"
## TLDR
Links to docs that don't exist (eg ./main_classes/pipelines) don't work. Issue first mentioned in #17349.

## Description
Currently, the links lead to an error if the doc is not yet translated. For example, this fragment in [`autoclass_tutorial`](https://huggingface.co/docs/transformers/main/es/autoclass_tutorial) leads a to an error for not having [model_doc/auto.mdx](https://github.com/h

[2022-05-28 04:22] inderpreetsingh01 commented on #16410
Hey @patil-suraj @reichenbch i am interested to work on this issue, let me know if I can contribute.

[2022-05-28 08:47] dayyass opened #17463 "transformers model doesn't output zeros for padded subtokens"
### System Info

I have noticed that mean pooling over last_hidden_state returns different results depending on the batch size. When I started to go deeper to understand the reason of the problem I found that padded by tokenizer subtokens after passing it through the model are not zeros and actually this leads to the problem behavior. Then batch size = 1 there is no padded subtokens, so results ar

[2022-05-28 11:31] samozturk commented on #10277
What is your python files name? Mine was _tokenizers_ and when I changed it to _use_tokenizers_ it works. Maybe using names like "tokenizers", "pipeline" for files not the best idea.

[2022-05-28 15:01] #16830 closed

[2022-05-28 15:01] #16822 closed

[2022-05-28 22:47] omarespejel commented on #17028
This issue was mentioned in a previous community issue #17404 for translating into Italian 🇮🇹.

[2022-05-29 07:53] RaiAmanRai commented on #16982
@lewtun @michaelbenayoun can you guys please look into this issue.
This has become a major issue in the development I am working on, and would request to resolve it.

Thank you.

[2022-05-29 08:02] Ashvio commented on #17406
From stackoverflow:

[code]

[2022-05-29 08:24] warm-ice0x00 opened #17464 "ValueError: AlbertForMaskedLM does not support gradient checkpointing."
ValueError: AlbertForMaskedLM does not support gradient checkpointing.
`model.gradient_checkpointing_enable()` doesn't help.

[2022-05-29 09:07] StevenTang1998 opened #17465 "Add MVP model"
### Model description

Hi, I want to add my model MVP to hugging face. My model is very similar with BART. The difference is that it has pre-trained soft prompt in the format of Prefix-tuning.

We have pretrained a series of prompts combining with backbone transformer. And users can choose which prompt to load. So I wonder where I can change the behaviour of loading which prompt?

To put it simply

[2022-05-29 13:10] numb3r33 commented on #16292
@patrickvonplaten I would love to work on SqueezeBert for TF and PT

[2022-05-29 15:01] #16877 closed

[2022-05-29 15:01] #16868 closed

[2022-05-29 15:01] #16863 closed

[2022-05-29 15:01] #16849 closed

[2022-05-29 15:02] #15982 closed

[2022-05-29 16:47] #16571 closed

[2022-05-29 17:47] jbmaxwell commented on #5096
I have a non-natural language dataset where I haven't actually been including `<s>` and `</s>` since they don't add any value (and need to be removed later anyway). To work with that, should I insert a pad token at the start of the `decoder_input` representation (and truncate to max_length)?

[2022-05-29 19:49] salrowili commented on #15398
Are there any updates on fixing the evaluation script? The problem with both SQuAD and TyDiQA is that it has an evaluation dataset only which allows us to train our models and evaluate at each specific step and report our numbers in the paper. This mean with a working evaluation script number could get better since the best checkpoint may reside in the middle.

[2022-05-29 23:41] venkatasg opened #17467 "Error building docs locally: No matching distribution found for ray[tune]; extra == "docs""
### System Info

[code]

### Who can help?

@sgugger @stevhl

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

On my system, when I try to install the packages necessary to build documentation using `

[2022-05-30 01:05] Jcwscience opened #17468 "Any attempt to export any model to onnx returns an ATOL value of nan."
`ValueError: Outputs values doesn't match between reference model and ONNX exported model: Got max absolute difference of: nan`

[2022-05-30 03:16] jtfields commented on #17002
I was able to tokenize the essays in Google Colab and copy these files to Marquette's Raj supercomputer.  However, this bug should stay open until a fix is available to run the tokenization files locally.

[2022-05-30 03:40] Sreyan88 commented on #15114
@dmurillo976s I am still facing this problem when I try to use fit() with the internal loss. Any leads or do you know how to fix it? Any help would be much appreciated!

[2022-05-30 04:33] dmurillo976s commented on #15114
@Sreyan88 sorry, it's been a while since I tested this. Unfortunately I couldn't get it working at the time, and continued using the pytorch implementation. I believe the main problem was that a dummy loss function was being used at the training step, instead of the internal loss of the model. But again, that was just my assessment at the time.

The best thing to do now should be to open a new iss

[2022-05-30 07:58] younesbelkada commented on #16924
Closing this issue since the whole discussion around the model conversion has been done in the WIP PR: #17202

[2022-05-30 07:58] #16924 closed

[2022-05-30 10:00] patrickvonplaten commented on #17455
Hey @mikkelfo,

This indeed seems like a bug! I sadly won't be able to look into this any time soon - I'll mark the issue as a "good second issue" in case someone wants to give it a try :-). Also cc @patil-suraj

[2022-05-30 10:30] gante commented on #15114
Hey @Sreyan88 👋 We have very recently pushed a bug change about how we process loss functions, can you try it out with `tranformers==4.20.0.dev0` (i.e. from the `main` branch)?

[2022-05-30 10:48] fabianmax commented on #8543
Having the same issue when uploading a ~6GB GPT-J model via command line:

[code]

It seems to be always around 5.11GB (total file size is 6.32GB). When uploading the same file via the HF website interface I get an error 400.

Any helpful advises on how to proceed?

![Bildschirmfoto 2022-05-30 um 11 55 56](https://user-images.githubusercontent.com/17836552/170976816-6735a23a-3b08-4358-85dc-d35a938

[2022-05-30 10:49] mikkelfo commented on #17455
Thanks for the answer @patrickvonplaten. I suspected so, although I did question my sanity for a moment. I might have some time to look into this myself as I'm using it for my thesis.

I've done a little digging and the issue appears to start during the self-attention of the encoder, more specifically after [line 700](https://github.com/huggingface/transformers/blob/v4.19.2/src/transformers/models

[2022-05-30 11:16] kacwin opened #17473 "Number of channels in the ViTMAE model"
### Feature request

Dear huggingface community,
I am experimenting with the ViTMAE model from the transformers library. The ViTMAEConfig class has the option "num_channels" to specify the number of input (color) channels belonging to an image. If I modify this, say, to 1 (for processing grayscale images), the model throws an error, due to the number "3" being hard-coded into the functions "patchi

[2022-05-30 11:59] nickprock commented on #17459
Hi @mfumanelli if it has not yet been taken I can translate pipeline_tutorial.mdx (only the textual part).

[2022-05-30 12:03] mishig25 commented on #17461
@omarespejel thanks a lot for notifying. I'm working on a fix

[2022-05-30 12:43] patrickvonplaten commented on #16410
@inderpreetsingh01, feel free to open a PR if you want :-)

[2022-05-30 12:46] patrickvonplaten commented on #15983
This would be amazing if you find a bit of time for it @ydshieh

[2022-05-30 12:57] patrickvonplaten commented on #17455
Sorry for confusing you with this. To be honest, we've ported a relatively messy Prophetnet implementation and never fully tested it. If you have some time to dive into it, I'd suggest to add a test that ensures that changing the order of sequences in a batch still gives the same results (that's a great test btw) and then trying to correct this test while making sure that all other tests run corre

[2022-05-30 13:31] Sreyan88 commented on #15114
Hi @gante ,

Thank You for your reply. On tranformers==4.20.0.dev0 I get:

[code]

just by calling `model = TFWav2Vec2ForCTC.from_pretrained(model_checkpoint,apply_spec_augment=False, from_pt = True)`

[2022-05-30 13:40] #17461 closed

[2022-05-30 13:46] gante commented on #15114
@Sreyan88 that's because TFWav2Vec2 does not work without a GPU, due to an upstream TF limitation -- see https://github.com/huggingface/transformers/pull/15612

With a GPU, I was able to run the command you shared without errors :)

[2022-05-30 14:04] Sreyan88 commented on #15114
Hi @gante ,
Thank you so much for your reply, it was not a GPU but a cudnn problem, I am now trying to train the model with internal loss but I get a negative ctc loss:

[code]
​

[2022-05-30 14:11] gante commented on #15114
@Sreyan88 could you please share a script (or a colab) with your issue? :)

[2022-05-30 14:17] Sreyan88 commented on #15114
@gante , here is a bit dirty version of the notebook:

https://colab.research.google.com/drive/1HXOdDhaIWcLF_4xF-zKZ_gYRf-sMfHkL?usp=sharing

[2022-05-30 14:24] omarespejel commented on #17459
Hey, @nickprock thank you! That would be great. I added you to the list of contributors in @mfumanelli 's tasks list. The textual part is ok :)

[2022-05-30 14:41] chrisdt1998 opened #17475 "Add support for pruning whole layers in transformer models."
### Feature request

Dear HuggingFace team,

In the ViT Model folder (namely modeling_vit.py), there is an option to prune the attention heads of a model. However, at the moment, if I want to prune a whole layer, I get an error due to the dense layer because the input features is of size 0 and hence I get an issue with 1/sqrt(in_features). Would it be possible to do something similar to https://gi

[2022-05-30 14:53] Sreyan88 commented on #15114
I changed my dataset into a dictionary and the negative CTC losses persist:

[code]

[2022-05-30 14:54] hollance opened #17476 "PyTorch JIT trace on Swin Transformer pretrained checkpoint fails"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The goal is to run `torch.jit.trace` on the Swin Transformer model from a pretrained checkpo

[2022-05-30 14:55] NielsRogge commented on #17473
Hi,

Yes the "patchify" and "unpatchify" methods would need to be updated to supported 1 channel.

Are you interested in opening a PR to add support for this?

[2022-05-30 15:02] #16890 closed

[2022-05-30 15:02] #16885 closed

[2022-05-30 15:02] #16884 closed

[2022-05-30 15:02] #16339 closed

[2022-05-30 15:02] #16336 closed

[2022-05-30 15:15] kacwin commented on #17473
Hey,
thanks for the fast reply. I am a complete beginner to github (I only used it to manage my personal projects so far) and I will not be getting into the PR-procedure anytime soon. I did not know how to reach out to someone managing the vitmae project and tried out this issue just to point things out. If noone else is having the same problem or noone has time to care for this then this is just

[2022-05-30 16:11] Sreyan88 commented on #15114
Hi @gante ,

I think this is a bug. When my input dataset looks like the above, no labels are passing through the model forward pass, it is `None` when I printed it. Can you please look into it?

[2022-05-30 18:46] hasansalimkanmaz opened #17478 "Training hangs in the end while calling dist.barrier()"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I am working on a custom TokenClassificationTask. For a specific model type, I am experiencing a

[2022-05-30 21:20] dsvilarkovic opened #17480 "MarianMTModel no longer has postprocess_next_token_scores function"
Hello I just saw that in file https://github.com/huggingface/transformers/blob/v4.19.2/src/transformers/data/test_generation_utils.py you mention calling the postprocess_next_token_scores() method from MarianMTModel, which doesn't seem to exist anymore in it's source file anymore: https://github.com/huggingface/transformers/blob/v4.19.2/src/transformers/models/marian/modeling_marian.py and neither

[2022-05-30 21:29] gante commented on #15114
Thank you for sharing a script @Sreyan88 :D I'm reopening the issue to track it

[2022-05-30 22:15] LiweiPeng opened #17481 "modeling_swin.py img_mask doesn't have expected torch dtype"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

How to repro:
  Run Swin Transformer with NVIDIA mixed precision apex amp opt_level=O2.

The

[2022-05-30 22:37] MikeWangWZHL opened #17482 "model.parallelize() for OPT models"
### Feature request

It would be great if we can have function for fitting OPT model on multiple GPUs using **model.parallelize()**, similar to what we already have for [GPT-J](https://github.com/huggingface/transformers/blob/6e535425feae20ca61a8b10ae5e8a7fab4d394ba/src/transformers/models/gptj/modeling_gptj.py#L494)

### Motivation

It would be extremely helpful for fitting large OPT models such

[2022-05-31 02:51] skdirwj opened #17483 "Performance (perplexity) decrease after conversion megatronGTP2 to hugging face model"
### System Info

[code]

### Who can help?

@younesbelkada

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Pretrain my own megatronGPT2 on corpus almost similar to that used in a pre-trained mega

[2022-05-31 04:31] OhadRubin commented on #12322
This is still broken

[2022-05-31 04:52] Sreyan88 commented on #15114
Hi @gante ,

Can changing to `y_pred = self(**x, training=True)` in line 1023 of modelling_tf_utils.py solve the problem?

[2022-05-31 06:51] mikkelfo commented on #17455
After some more digging, the issue appears to be centered around ProphetNetAttention and ProphetNetNgramSelfAttention. The fix essentially boils down to changing the `proj_shape = (batch_size * self.num_attn_heads, -1, self.head_dim)` to `proj_shape = (batch_size, self.num_attn_heads, -1, self.head_dim)` and adapting the rest of the code to fit this.

For the encoder, this is relatively simple as

[2022-05-31 07:23] LysandreJik commented on #17309
Hey @Puranjay-del-Mishra, to the best of my knowledge nobody has started working on it. We'd be very happy for you to take a stab at adding it!

You can follow the tutorial here: [adding a new model](https://github.com/huggingface/transformers/tree/main/templates/adding_a_new_model).

We especially recommend following the [`add-new-model-like`](https://github.com/huggingface/transformers/tree/main

[2022-05-31 07:38] Puranjay-del-Mishra commented on #17309
Sure @LysandreJik ! I'll go through it and give it a shot. Thanks.

[2022-05-31 07:42] luisgg98 opened #17486 "Transformers get stuck in from_pretraind"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Requirements
[code]

Python code
[code]

### Expected behavior

[code]

[2022-05-31 07:45] Puranjay-del-Mishra commented on #17309
Hey @pri1311 , go ahead with the PR. All the best.

[2022-05-31 07:48] #17397 closed

[2022-05-31 08:14] 520jefferson opened #17487 "How can i use bpe tokenizer in t5 pretrain from scratch"
### System Info

[code]

### Who can help?
@patrickvonplaten
@SaulLu

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

![image](https://user-images.githubusercontent.com/5691554/171125809-c210799b-46f

[2022-05-31 08:19] anitchakraborty opened #17488 "_batch_encode_plus() got an unexpected keyword argument 'is_pretokenized' using BertTokenizerFast"
### System Info

[code]

### Who can help?

@SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Download the NER Dataset from the Kaggle link (https://www.kaggle.com/datasets/namanj27/ner-dat

[2022-05-31 08:30] LysandreJik commented on #10016
I think we'd still be open to that; WDYT @Narsil?

[2022-05-31 08:33] LysandreJik commented on #17465
Hello! I think this is a situation where the code-on-the-hub approach is likely to be the best way to share it! See this guide: [Sharing custom models](https://huggingface.co/docs/transformers/custom_models).

This will give you the most amount of freedom with regards to your model.

cc @sgugger

[2022-05-31 08:41] hollance commented on #17476
Using `check_trace=False` with `torch.jit.trace` avoids this problem. The traced model seems to work OK and gives the same results as the original (tested with several different input images).

It's probably still a good idea to make the trace work without the error (if possible) but as using `check_trace=False` solves my immediate problem, this is a very low priority issue.

[2022-05-31 08:43] NielsRogge commented on #17481
Hi,

Thanks for your interest in Swin Transformer! Do you mind opening a PR to fix this?

Thanks!

[2022-05-31 08:50] LysandreJik commented on #17452
cc @patil-suraj

[2022-05-31 08:52] LysandreJik commented on #17452
Also cc @sgugger as it's leveraging the auto map.

[2022-05-31 08:55] LysandreJik commented on #17450
cc @ydshieh that has given some thought to this in the past, I believe

[2022-05-31 09:00] yana-xuyan opened #17489 "`do_eval` is True when setting `do_predict`=True"
### System Info

[code]

### Who can help?

@patil-suraj @sgugger

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

This problem happens generally to me after I started to use transformers>=4.12.3. To

[2022-05-31 09:34] #17019 closed

[2022-05-31 09:44] lewtun commented on #17422
Hey @FrankHeijden, indeed this architecture is not yet supported in the ONNX exporter. If you'd like to have a go at it yourself, you can follow [this guide](https://huggingface.co/docs/transformers/v4.19.2/en/serialization#exporting-a-model-for-an-unsupported-architecture) and use the `BartOnxxConfig` as a template to work from (I think this model should be similar)

[2022-05-31 09:56] ydshieh commented on #17450
Well, as far as I can recall, I didn't have this idea before. This looks like @pretidav want to provide manual (float) attention mask.

- with the introduction of `dtype.min` in #17306 (or even with `-1e4` currently) as the large negative value for masking value, `0` will be replaced by `dtype.min`, but how about `0.5`? Use something like `0.5 * dtype.min` doesn't really make sense: if there is al

[2022-05-31 10:00] patil-suraj commented on #17489
Hi, could you post a code-snippet to reproduce this. I just tried this command and it works as expected and does not run eval.

[code]

[2022-05-31 10:17] Narsil commented on #10016
Sure !

Would adding an argument `return_type= "tensors"` be OK ? That way we can enable this feature without breaking backward compatibility ?

[2022-05-31 10:30] pretidav commented on #17450
Thanks for the answer @ydshieh !
Float attention values could be provided from another model or a human annotator. Suppose for instance a summarization setup with some extractive or NER model controlling the "amount of" attention (i.e. a float attention) T5 should pay to each token (still keeping non informative tokens like [pad] with 0 attention). Conversely a human annotator can try to "force" t

[2022-05-31 10:54] yana-xuyan commented on #17489
The above command works great for me! I just found that usually I just modify the script for prediction by removing `--do_train` and `--do_eval` and add `--do_predict` without changing the other commands. However, seems this is causing the problem. When running the command below, this issue happens.

`python examples/pytorch/summarization/run_summarization.py \
    --model_name_or_path t5-small \

[2022-05-31 11:18] yana-xuyan commented on #17489
Got it. Thank you very much for your fast response! Have a nice day!

[2022-05-31 11:18] #17489 closed

[2022-05-31 11:32] ydshieh commented on #17450
@pretidav There is currently no such feature. As mentioned previously, attention mask is not good for this purpose, as the  range of the **final (processed)** attention mask is `[-inf, 0]`. The `-inf` means no attention at all (masked), and `0` means no mask (so attend to it).

The attention mask is combined with the attention scores (computed using `query` and `keys`), whose range is **NOT** a fi

[2022-05-31 11:51] rajcscw opened #17490 "GPT-2 Forward w/ and w/o caching of past values gives different results"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Hey, I am trying to do a forward() pass of the GPT-2 model with and without caching of p

[2022-05-31 12:07] prabhatkgupta commented on #2831
Only solution you need

[2022-05-31 12:13] patil-suraj commented on #17450
Agree with what @ydshieh said!

This is an interesting question but to me it seems like a niche use-case and as @ydshieh said, this would require a lot of changes. IMO for this use-case one can just copy-paste the T5 model and tweak it to support this. The models in `Transformers` are designed in such a way that users could just take the modeling files and tweak it for their purpose rather than su

[2022-05-31 12:50] sgugger commented on #17467
Not sure why you're opening an issue here as it seems you'd like `ray` to have a package installable on your end :-).

I can't guarantee the doc will build without all integrations, but it might work to build the doc without Ray installed.

[2022-05-31 13:10] patrickvonplaten commented on #17451
Hey @520jefferson,

I understand your question as whether it's possible to fine-tune T5 from scratch and to **not** use a pretrained checkpoint.

Yes, this should definitely be possible, but I wouldn't really recommend it given the power of transfer learning.

Here also some very nice explanation by @sgugger on how powerful transfer learning is that might be interesting: https://huggingface.co/cou

[2022-05-31 13:11] patrickvonplaten commented on #17487
Hey @520jefferson,

Could you please provide us with a codesnippet that we can copy-paste directly into a terminal? We sadly don't have the time to try to guess what we should reproduce.

Thanks a lot!

[2022-05-31 13:13] LeoPerelli commented on #17486
I am experiencing the same problem with the .from_pretrained calls. For me the temporary solution was to use a VPN, but of course it isn't fun. I was wondering why we need internet connection at all, since after the first call the data should be cached locally. Maybe add a flag in the call to explicitly run offline only?

[2022-05-31 13:15] patrickvonplaten commented on #17490
Hey @rajcscw,

I'm not 100% sure what your codesnippet is doing there exactly (note that I wouldn't try to pass the position_ids, but instead let GPT2 handle that).

We have exactly that test in transformers which you can find here: https://github.com/huggingface/transformers/blob/975dd2bbbcd4e8bdaf07c275c090d218d88c7c12/tests/models/gpt2/test_modeling_gpt2.py#L288

Could you take a look here and

[2022-05-31 13:20] fredo838 commented on #17278
https://github.com/huggingface/tokenizers/issues/1006 I posted the issue in the tokenizers repo

[2022-05-31 13:22] sgugger commented on #17478
I do not see a `dist.barrier()` at line 1536 of the `trainer.py` file and I can't really help you without knowing which training script you are launching and how you launched it.

[2022-05-31 13:25] hasansalimkanmaz commented on #17478
Maybe the line corresponds to the HF version that I use. The new line number is 1679 according to main branch. You can check out from [here](https://github.com/huggingface/transformers/blob/567d9c061d04513c24872b5709adc7a1384b8129/src/transformers/trainer.py#L1679)

[2022-05-31 13:31] sgugger commented on #17452
I don't think it comes from the auto map, some weights are Nan and so an error is raised [here](https://github.com/huggingface/transformers/blob/5af38953bb05fe722c2ec5c345f54c2712ce4573/src/transformers/models/gpt_neox/modeling_gpt_neox.py#L208). (I did say that `RuntimeError` with no messages were not ideal @zphang ;-) )

[2022-05-31 14:14] ArthurZucker commented on #17490
Not sure either but the inputs fed to the network might be different as :
1. the `position_ids` are specified with :
[code]
in the first case
2. in the second case they are not specified and should be automatically created.

Check if you still have an issue when you use the same position ids vectors, or just don't input them.

[2022-05-31 14:25] patrickvonplaten commented on #17385
Heey @hacobe,

I'm not sure this is a bug. Note that beam_search is very much different from sample, see: https://huggingface.co/blog/how-to-generate

Why should they give the same probabilities?

[2022-05-31 14:28] 520jefferson commented on #17451
Hey @patrickvonplaten

I want to distill a big model (pytorch version) to t5 model (considering  the  FasterTransformer Backend
https://github.com/triton-inference-server/fastertransformer_backend has provide  origin T5 (not t5.1) triton backend , this reasoning optimizaiton will be conducive to carrying more online traffic) ,  why i don't use transformer as the student model because i haven't fin

[2022-05-31 14:35] rajcscw commented on #17490
@patrickvonplaten  I will check that test case and adapt my example. @ArthurZucker In both cases, the position IDs should be identical; in the first case, it is created explicitly and in the other, it is generated automatically. I will test it without passing any position IDs.

[2022-05-31 14:36] #16936 closed

[2022-05-31 14:38] pretidav commented on #17450
Thank you very much for all the answers! I'll try to tweak the model.

[2022-05-31 15:02] #16908 closed

[2022-05-31 15:02] #16904 closed

[2022-05-31 15:02] #16903 closed

[2022-05-31 15:11] venkatasg commented on #17467
I'm going to close the issue now, since I've found that using `python=3.7` fixed the issue with install `ray`. However, I seem to be running into more problems now. Firstly, it looks like the module `black` is not listed as a dependency, I got an error that `doc_builder` requires `black` to work. However, even after installing `black`, I'm running into a new error:

[code]

I'm not sure what's cau

[2022-05-31 15:34] michaelbenayoun commented on #17460
Hi @WeiHao97 ,

To trace the model, you need to specify the input names and not the concrete args, the input_names represent the inputs your traced model will take.
If you want to trace Roberta, you most likely need to only provide "input_ids" and "attention_mask":

[code]

[2022-05-31 15:36] WeiHao97 commented on #17460
After specifying input_names = ['input_ids',
 'attention_mask',
 'token_type_ids',
 'position_ids',
 'encoder_hidden_states',
 'encoder_attention_mask',
 'labels'] and fx.symbolic_trace(model, input_names), I got the second error.

[2022-05-31 15:47] #17432 closed

[2022-05-31 15:54] michaelbenayoun commented on #17460
Could you share the error message please?
Also what are you trying to do? It seems to be an odd set of inputs you want to use.

That's weird that you get an error with this:
[code]
I am able to get this to work on my end.

[2022-05-31 16:06] sgugger commented on #17406
`sys.env` is not something that exists. Did you mean `os.environ`?

[2022-05-31 16:08] WeiHao97 commented on #17460
I ran:
[code]
and got:

[code]

[2022-05-31 16:09] sgugger commented on #17406
Could you try if the PR mentioned above does solve your problem?

[2022-05-31 16:11] michaelbenayoun commented on #17460
Could you try with transformers sources?

[2022-05-31 16:27] ydshieh commented on #15983
Fixed by #17426 by the changes in `generation_tf_utils.py`

[code]

[2022-05-31 16:27] #15983 closed

[2022-06-01 02:07] Jack000 opened #17504 "bad_words_ids not working"
### Feature request

I'm using gpt2 for text generation with a word blacklist and noticed that some words on the blacklist were still being generated.

I found that even though the word ["badword"] would not be generated, it would still generate ["bad", "word"] in two tokens.

an example of this is [11908] and [7286,  1754]

this seems to be a different issue from the leading space issue and paddi

[2022-06-01 04:30] Jack000 commented on #17504
I wrote a function to enumerate all possible permutations of " Badword", but it quickly blows up with hundreds of permutations like [" B","a","d","w","o","r","d"]. Limiting the token length works ok, but still doesn't prevent generation of variations like [" Bad","words"]

I think this overall approach just doesn't really work for preventing the generation of bad_words. Don't know if there's a bet

[2022-06-01 04:47] sandeeppagey commented on #17453
Hi @patil-suraj

Thanks for the explanation. I am not running on GPU. I am running
on CPU just to check the memory increase. I have not changed the dtype so I guess it is fp32.
I agree with your calculations that the model training will require about 20G of memory. I will
close the issue.
The relevant code snippet is as follows.

model = GPTNeoForCausalLM.from_pretrained('/home1/pretrained_models/

[2022-06-01 07:21] Leli1024 opened #17505 "Training large huggingface models on Azure with CUDA? [OPT]"
I am trying to finetune the 1.3b and 30b OPT variant models respectively, however each time I try to train them I will always get the following error:
[code]

I have tried reducing the batch size to 1. However short of running the model on CPU which would take way too much time, it will crash each time. If it's relevant I am using an Azure environment which uses the Tesla K80 accelerator. Has anyo

[2022-06-01 09:34] LysandreJik commented on #17475
WDYT @NielsRogge?

@chrisdt1998 do you have an example of how big of a change it would result in the code?

[2022-06-01 09:44] chrisdt1998 commented on #17475
Yes, the change would be about 10 lines of code added to the prune_heads method in the ViTAttention class in modeling_vit.py. This could also be extended to other transformer models in the same corresponding functions, for example in modeling_bert.py, the change would be in the prune_heads method in the BertAttention class.

The change for the ViTAttention class would be:

[code]

To:

[code]

Ple

[2022-06-01 10:05] Jack000 commented on #17504
That's what I did. This will consistently tokenize [" Badword"] as [11908] but during inference the model will generate [7286, 1754] which is [" Bad", "word"]

as I mentioned above I wrote a function to enumerate all possible ways of combining tokens to form "Badword", but the problem is that it doesn't work for variations like "Badwords" and "Badwordo". Extending the permutations to include these

[2022-06-01 10:16] LysandreJik commented on #17371
Maybe also cc @Narsil

[2022-06-01 10:20] LysandreJik commented on #4914
Maybe @SaulLu or @Narsil can comment and link to an example!

[2022-06-01 10:22] mikkelfo commented on #17455
Hello again. I believe I have managed to fix both the encoder and decoder part, such that the hidden states are consistent. However, the loss computations of `ProphetNetForConditionalGeneration` and `ProphetNetForCasualLM` still differs (with a very slight amount).

When the log_softmax is taken ([line 2014](https://github.com/huggingface/transformers/blob/6e535425feae20ca61a8b10ae5e8a7fab4d394ba/

[2022-06-01 10:55] LysandreJik commented on #17486
Could you share a bit regarding your location/network? Do you mange to download files when going through the UI on the hub?

[2022-06-01 11:14] LysandreJik commented on #16998
It's likely an error! Do you want to open a discussion on the model repo directly? https://huggingface.co/microsoft/deberta-v3-base/discussions/new

[2022-06-01 11:41] yu-xiang-wang commented on #16998
i get the same result 1000000000000000019884624838656

[2022-06-01 12:57] Jack000 commented on #17504
ah the actual bad word I was trying to ban was [" Hitler"].

I do understand how the bad_words_ids feature works, but I guess my issue is that I don't want the word "Hitler" generated under any circumstances subwords or otherwise. As you can see I did implement a function to enumerate all possible ways tokens can be combined to form "Hitler" to add to bad_words_ids, but if I include "Hitlers" and

[2022-06-01 13:00] #17406 closed

[2022-06-01 13:19] LeoPerelli commented on #17486
Thanks! This is what I was looking for!

On my side, I am connecting through the VPN of my org. VPN location is chosen automatically, but when I turn it off the code execution of the .from_pretrained(..) is normal, whereas in the last days with VPN on it takes maybe 15 minutes. Before there were no issues with this. I am capable of downloading without issues the files from the hub directly.

Thank

[2022-06-01 13:56] #17453 closed

[2022-06-01 14:06] hacobe commented on #17385
Hi @patrickvonplaten,

The probability for a token is the output of the softmax layer for that token given conditioning on the sequence generated so far. The way we generate a sequence changes if we use beam search instead of sampling, but the definition of the probability does not change. The probability is a function of the model you're using and the sequence generated so far. If you're using th

[2022-06-01 14:16] MorenoLaQuatra opened #17509 "Finetuining AudioFrameClassification model"
### System Info

[code]

### Who can help?

@patrickvonplaten @anton-l

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I'm trying to finetune a WavLMForAudioFrameClassification model using Trainer a

[2022-06-01 14:20] WissamAntoun commented on #17152
Hey @Kyeongpil do you have any updates on this issue?

[2022-06-01 14:36] hasansalimkanmaz commented on #17478
I think I have found the issue, my custom model has outputs with variable lengths and I wasn't gathering all outputs with `distributed_concat` function as they are not torch tensors. This results in different metrics in each process due to different outputs without gathering. In addition, I am using `EarlyStoppingCallback` during my training. As the metrics are different for each process, one proc

[2022-06-01 15:12] #16910 closed

[2022-06-01 15:12] #16759 closed

[2022-06-01 15:23] Narsil commented on #17365
I like the idea.

How would that look like though code wise ?

[code]
The biggest caveat with this idea is this parameters will probably be hard to cumulate with things like `batch_size` and `num_beams`. We can disable some options if some combinations of arguments are provided, but in general I prefer when all combinations of parameters are available.

Other idea would be to somehow add a callbac

[2022-06-01 17:24] ArthurZucker opened #17514 "Flax OPT batch generation test"
### System Info

[code]

### Who can help?
@patil-suraj
The `test_batch_generation` test in FLAX OPT (currently commented) fails.
This is due to improper handling of the padding.

The fail output is the following  :

[code]

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE

[2022-06-01 21:03] edchengg opened #17516 "NameError: name 'save_offload_index' is not defined when use --model_revision sharded"
### System Info

[code]

### Who can help?

@stas00

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

`export BS=8; rm -r output_dir; PYTHONPATH=src USE_TF=0 deepspeed --num_gpus=4 run_translation.py

[2022-06-01 22:40] sgugger commented on #17516
Indeed, this needs some gating. Will send a fix shortly, thanks for flagging!

[2022-06-02 01:03] jmeadows17 opened #17520 "Loading BertModel from BertForMaskedLM without randomly initializing weights"
I've trained a `BertForMaskedLM` model for a few days, and I've `save_pretrained()` it.

I want to compare encoder vectors from a `BertModel`, with the embeddings from
this trained `BertForMaskedLM`.

However, simply using `BertModel.from_pretrained("path/to/new_BertForMaskedLM_model")`
warns me that "You should probably TRAIN this model....".

It seems that `bert.pooler.dense.weight` and `bert.po

[2022-06-02 02:59] Kyeongpil commented on #17152
@WissamAntoun To train DeBERTa using TPUs, tf.rank(x) in take_along_axis should be replaced with constants, that is 3.

[2022-06-02 05:01] #17023 closed

[2022-06-02 06:56] StevenTang1998 commented on #17465
Hi, sorry I still don't know how to handle a situation like mine.

My model is
[code]

And my checkpoint is composed of
[code]

And my expected effect is that user can determine which Linear to use through the config, such as `XXX.from_pretrained('my_model', linear='a' or 'b' or 'c')` to load according linear.
However, the model initilization is before the model loading. So I don't know how to sol

[2022-06-02 08:02] sasaadi commented on #15862
Thanks for the update. I appreciate your effort. This will be very useful. Then I make a PR for the other model that I mentioned in the post earlier.

[2022-06-02 08:21] ZeyiLiao commented on #8771
Hi, I followed what you said [here](https://github.com/huggingface/transformers/issues/8771#issuecomment-759176685), but it said that "TypeError: issubclass() arg 1 must be a class".
And even I replace the finetuner.py with run_seq2seq.py, it still doesn't work.

[2022-06-02 08:28] LysandreJik commented on #17520
Hey! The model returns several outputs:

[code]

The `pooler_output` is going to be random as the pooler weights will be randomly generated, but the rest will not be! In order to compare the two, you could compare the `hidden_states` values, which contain all intermediary values from the word embeddings up until the last transformer layer's output.

[2022-06-02 08:33] LysandreJik commented on #17465
A quick solution would be to have three architectures, one with `a`, one with `b`, and one with `c` linear layers and load the one you want accordingly.

[2022-06-02 08:37] StevenTang1998 commented on #17465
Do you mean I upload three models, named my-model-a, my-model-b and my-model-c, them load the one I want?

[2022-06-02 08:42] shijie-wu opened #17521 "Support returning raw logits in `generate`"
### Feature request

Support returning raw logits in `generate` by either:
1. creating a new arg that enables return of raw logits
2. or support callback that allow users to collect the raw logits

### Motivation

* Raw logits "would be the most understandable & consistent across generation methods" (@patrickvonplaten)
* For testing, returning raw logits would help "identify which parts get wrong

[2022-06-02 08:59] nickprock commented on #17459
Hey @mfumanelli in the next week I can translate preprocessing and training.

[2022-06-02 09:03] mfumanelli commented on #17459
Perfect @nickprock 🌈 🤗  thanks!

[2022-06-02 09:43] Leli1024 opened #17523 "Not able to import tensorflow OPT"
### System Info

[code]
[code]
from transformers import TFOPTForCausalLM, GPT2Tokenizer

model = TFOPTForCausalLM.from_pretrained("facebook/opt-350m")
tokenizer = GPT2Tokenizer.from_pretrained("facebook/opt-350m")
[code]

[2022-06-02 10:42] patil-suraj commented on #17523
I just tried this with latest source install and it's working for me. Make sure you have TF installed to be able to import TF models.

[2022-06-02 11:09] penpaperkeycode opened #17525 "Is the addition of the 'OPTforSequenceClassification' class scheduled?"
### Feature request

Is the addition of the 'OPTforSequenceClassification' class scheduled?
Is someone handling it?
When adding these functions, I wonder if it is possible to PR one by one, or if I have to PR all classes supported by other models.

### Motivation

Added function of OPT class, which is being actively discussed recently

### Your contribution

I personally use the forSequenceClassif

[2022-06-02 11:45] #17516 closed

[2022-06-02 12:28] Leli1024 commented on #17523
I have tensorflow installed, even checked it by running a quick test

[2022-06-02 12:40] hollance opened #17526 "center_crop in image_utils.py is broken for inputs that are not PIL Images"
### System Info

[code]

### Who can help?

@Niels

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The feature extractor for MobileViT (see the PR at https://github.com/huggingface/transformers/pull

[2022-06-02 13:07] thies1006 commented on #17452
Thanks @zomux, this works. I tried something similar (casting to FP32 and back) which gave the same error:
[code]

I figured out that when setting use_cache=False generation runs without errors.

Change:
https://github.com/huggingface/transformers/blob/main/src/transformers/models/gpt_neox/modeling_gpt_neox.py#L642
[code]

[2022-06-02 13:16] NielsRogge commented on #17525
Don't think anyone is working on this yet (cc @younesbelkada), so feel free to contribute

[2022-06-02 13:22] NielsRogge commented on #17526
You tagged the wrong Niels ;) also cc'ing @sgugger

[2022-06-02 14:34] sgugger commented on #17526
That's because we don't convert images back to PIL in `center_crop` (which always happens in `resize`), but happy to look at a PR adding support for this.

[2022-06-02 15:02] PhilipMay opened #17528 "Issues with mypy when using Transformers"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Since some weeks there seem to be issues when using Transnsformers as a 3rs party lib
and mypy as

[2022-06-02 15:12] hollance commented on #17526
I can add it to my to-do list, as it would be better to have this logic only in image_utils.

[2022-06-02 15:16] calebdkofahl opened #17529 "MarianMT Doesn't export to ONNX correctly"
I am running Python FastAPI in a docker container via VSCode's devcontainer setup. I am using the pre-trained MarianMT model for translation of chinese_simple to english and running into an error when trying to use the exported model from the transformers.onnx module. This is the error I am receiving:
[code]

Dockerfile:
[code]

Package Versions:
onnx                       1.11.0
onnxmltools

[2022-06-02 16:56] patrickvonplaten commented on #17521
cc @patil-suraj @gante as well

[2022-06-02 16:56] patrickvonplaten commented on #17521
I'm personally fine with adding a `output_logits` flag to `generate` since it already has 50+ flags it won't make a difference and it's a useful feature indeed. What do you think @patil-suraj @gante ?

[2022-06-02 17:00] gante commented on #16497
@ydshieh I believe you can add the `WIP` label to stop the bot :)

[2022-06-02 17:02] gante commented on #17521
I'm cool with it 👍  (and it might be interesting to use as part of PT-TF cross tests)

[2022-06-02 17:03] patrickvonplaten commented on #17504
@patil-suraj could you maybe also take a look here? Otherwise happy to dive deeper if necessary

[2022-06-02 17:28] jmeadows17 commented on #17520
I suppose more specifically I'm after the following output:

[code]

I've got other baselines with embeddings extracted like this.

Do you mind explaining the difference between `hidden_states` output and `model(**encoded_input)[1]` please?

[2022-06-02 17:30] PhilipMay commented on #17528
Ok. Closing it then.

[2022-06-02 17:30] #17528 closed

[2022-06-02 18:55] ydshieh commented on #16497
I am afraid I will completely forget this issue 😸. But if this brother you guys, I can do it. Thanks for the tip, I didn't know about it

[2022-06-02 19:00] jbmaxwell commented on #7901
Yeah, I'm noticing spaces around my added tokens when creating a custom Bart tokenizer. Did this get resolved for you? Is there a way to workaround it?

[2022-06-02 22:00] smahm094 commented on #11789
@akashe did you solve the problem later? I am having the same issue.

[2022-06-02 22:12] smahm094 commented on #8691
@maifeng thanks! AutoTokenizer did the job for me!

[2022-06-03 04:37] ZeyiLiao opened #17534 "How to use finetuner.py to train t5-large model"
### System Info

[code]

### Who can help?

@stas00

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Follow the steps [here](https://github.com/huggingface/transformers/issues/8771#issuecomment-75924

[2022-06-03 06:08] ArthurZucker commented on #17523
Could you share details about your script and maybe your environment?

[2022-06-03 06:13] ArthurZucker opened #17535 "require_accelerate wrapper missing?"
### System Info

[code]

### Who can help?

@LysandreJik Sorry again I am not really sure who is responsible of that 😅

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

If the accelerate library is no

[2022-06-03 06:16] ArthurZucker commented on #17525
Hey! We are not working on that as Niels mentioned 😉
Opening a PR for each framework (`pytorch`, `tensorflow` and `flax`) is recommended. If you have any question about adding these models, feel free to reach out!

[2022-06-03 07:14] ArthurZucker opened #17537 "Loading sharded model in `tf` from pytorch checkpoints"
### System Info

[code]

### Who can help?

@LysandreJik I am not sure who to ping on that 😅

Loading a big model from the hub in tensorflow is impossible if the model is sharded.

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give deta

[2022-06-03 08:02] Leli1024 commented on #17523
I was working on an Azure compute machine. I found the problem, apparently I needed to install tensorflow GPU. as well as the regular distro

[2022-06-03 08:02] #17523 closed

[2022-06-03 08:20] Leli1024 opened #17538 "Will data be loaded into multiple GPUs automatically?"
Will models that use TensorFlow as a backend be loaded into all available GPU memory or not?

I'm interested in training the OPT model's 1.3b and 30b variants. However there is no cloud computing GPU i can use which has more than 16gb at a time. The problem is that each individual sample in the batch is at least 24gb, when making use of tensorflow, will the memory be distributed among GPUs or will

[2022-06-03 08:46] patrickvonplaten commented on #17451
Sorry I'm a bit lost here @520jefferson,

I don't fully understand what you want to do here, but I guess the target task is distillation? Should we maybe try to get help on the forum: https://discuss.huggingface.co/ for distillation?

[2022-06-03 08:48] patrickvonplaten commented on #17487
Think you have to use a tokenizer to do training (the model needs numbers not letters). You could otherwise try to use `Canine` or `ByT5`

[2022-06-03 08:51] patrickvonplaten commented on #17414
It's an important error, maybe let's jump on a quick offline call for it. @patil-suraj @gante - also curious to hear your thoughts on it here

[2022-06-03 08:53] patrickvonplaten commented on #17430
Please don't upload the whole `corpus` - I can try to help, if it's just a some dummy examples. It would be amazing if you could try to make the reproducible code snippet to run as fast as possible and to be as short as possible

[2022-06-03 08:59] IlyasMoutawwakil commented on #14812
Hi @lewtun is there any way (or script) to export trocr to onnx ?

[2022-06-03 09:32] patrickvonplaten commented on #17385
Hey @hacobe,

Note that for beam search we sample from `current_beam_scores + log_prob_of_token` whereas for sampling we just sample from prob_of_token.

For beam search see here:
https://github.com/huggingface/transformers/blob/5c17918fe4cda80dae5b7ec8f0b2d23a813c4a05/src/transformers/generation_utils.py#L2225

For sampling see here:
https://github.com/huggingface/transformers/blob/5c17918fe4cda8

[2022-06-03 09:33] patrickvonplaten commented on #17365
@gante @patil-suraj could you take a look here?

[2022-06-03 09:34] patrickvonplaten commented on #17521
@patil-suraj what do you think? Do you want to open a PR to work on it?

[2022-06-03 09:35] BitnaKeum commented on #4336
In my case, there was something problem during moving the files, so `pytorch_model.bin` file existed but the size was 0 byte. After replacing it with correct file, the error removed.

[2022-06-03 09:36] 520jefferson commented on #17451
@patrickvonplaten
I just need to finetune t5 from scratch without pretrain, and the tokenizer can just load vocab.txt (not json) or merges.txt (bpe codes).

[2022-06-03 09:49] ydshieh opened #17540 "TFRemBertModelTest.test_resize_token_embeddings not working"
### System Info

[code]

### Who can help?

@gante @Rocketknight1

### Reproduction

`TFRemBertModelTest.test_resize_token_embeddings` has CI failed [here](https://github.com/huggingface/transformers/runs/6682139350?check_suite_focus=true)

This method (called during `resize_token_embeddings`)
https://github.com/huggingface/transformers/blob/028d4b7c8be2c2fc1146fcc1e9bd253c1a7ea346/src/transformer

[2022-06-03 09:51] ydshieh commented on #17540
@gante Feel free to add WIP tag :-)

[2022-06-03 09:53] 4kasha opened #17541 "[RAG] token discrepancy between question token which should be input to generator and the one actually encoded in postprocess_docs()"
### System Info

[code]

### Who can help?

RAG, DPR: @patrickvonplaten, @lhoestq

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

In the [RAG implementation](https://github.com/huggingface/transform

[2022-06-03 09:54] ydshieh commented on #17521
@shijie-wu seems willing to open a PR, as mentioned at the end of the issue description.

[2022-06-03 09:57] 520jefferson commented on #17487
@patrickvonplaten

Tokenizer can just split the sentence according to space like txts = text.split(" ") , and the token txts[i] can find in vocab.txt, then it can be transfer to number, so i just need the tokenizer load vocab.txt and split according to space , then they can be transfer to numbers.

Thanks for reply !

[2022-06-03 11:03] gante commented on #17414
I like this idea! There would be no change for existing users, and new users could benefit from a clearer argument. However, we should be aware that `max_new_tokens` can be sneaky and result in more tokens than what the model can handle if `input_ids` is large enough -- we should build proper exceptions from the start.

As for the original issue (`input_ids.shape[0] >= max_length`), we can start w

[2022-06-03 12:41] devrimcavusoglu opened #17542 "Lazy load in pipelines"
### Feature request

Currently pipeline classes expect model and tokenizer objects. I think it'd be beneficial to have lazy load option with load/unload options implemented in the base pipeline class. That would yield better memory utilization especially in custom classes that are derived from primitive pipelines. E.g for example for some postprocess custom operations, you may not need the loaded

[2022-06-03 12:46] rgriot opened #17543 "word_ids() is not available when using FlauBERT"
### System Info

[code]

### Who can help?

@SaulLu

Hi HuggingFace community,
I'm trying to fine-tune models for token classification task.
As french, I want to try different models trained in french or in multi languages.

I succeded to train camembert !

However, when using flauBERT, I have an issue when I align labels to the tokens after tokenisation.

I used to function :
`def tokenize_and_al

[2022-06-03 12:54] LysandreJik commented on #17535
As seen offline, cannot reproduce this but let's keep it open in case someone runs into the same issue/we identify a reproducible example.

[2022-06-03 12:55] gante commented on #17365
As @Narsil said, in greedy search/sample generation, we can loop over and call generation with one new token at a time. The performance penalty is not that big, a bit over 2x ([on colab](https://colab.research.google.com/drive/1BQgO3HBRs7sYpKCGFs4LpXvmZFJ0QWEp?usp=sharing)), and is trivial to implement.

For beam search generation, either there is some channel to push sequences as they are generat

[2022-06-03 13:13] LysandreJik commented on #17537
Simple reproducer:
[code]

[2022-06-03 13:18] LysandreJik commented on #17520
`[1]` will take the second value of the output. It may differ across models, while specifying `output.hidden_states` will always return the hidden states.

[2022-06-03 13:31] #17505 closed

[2022-06-03 13:31] LysandreJik commented on #17542
cc @Narsil

[2022-06-03 13:51] sgugger commented on #17537
Putting it on my TODO (might take a few weeks as I have more urgent items, and we don't have a good solution on the TF side for large models right now anyway).

[2022-06-03 13:54] Nana12345678910 commented on #17535
[![image](https://user-images.githubusercontent.com/95056882/171867979-440ee089-b4f2-4992-b463-d470d33193b3.jpeg)](https://blog.ethereum.org/2022/06/03/ropsten-merge-ttd/)

[2022-06-03 14:24] hacobe commented on #17385
Hi @patrickvonplaten,

By "for beam search we sample from `current_beam_scores + log_prob_of_token`", do you mean that beam search selects sequences based on `current_beam_scores + log_prob_of_token`? Beam search is deterministic. It does not involve sampling. `current_beam_scores + log_prob_of_token` is the log sequence probability used to select the top k sequences at each step in beam search. I

[2022-06-03 14:40] #17278 closed

[2022-06-03 14:51] juliencarbonnell opened #17544 "Descriptors cannot not be created directly."
Hi @patrickvonplaten
I'm trying to import the following:
from transformers import BartTokenizer, BartForConditionalGeneration
tokenizer = BartTokenizer.from_pretrained('facebook/bart-large')

and get the error:
TypeError: Descriptors cannot not be created directly.
If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.
If you cannot

[2022-06-03 15:28] ZhangShiyue opened #17545 "Repetitive sampling generations from opt1.3b but not from opt350m"
### System Info

[code]

### Who can help?

@LysandreJik, @patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

[code]

[2022-06-03 16:05] ArthurZucker commented on #17535
You are right sorry about this 👍🏻

[2022-06-03 16:05] #17535 closed

[2022-06-03 16:19] #16676 closed

[2022-06-03 16:53] SaulLu commented on #17487
If you're ever sure you want to do this (you probably know this, but there are an infinite number of possible words and the size of the vocabulary is computationally expensive), you can create this type of tokenizer with the tokenizers library by instantiating a particular [WordLevel](https://huggingface.co/docs/tokenizers/api/models#tokenizers.models.WordLevel) model. Then you will have to load i

[2022-06-03 17:01] SaulLu commented on #17543
Hi @rgriot ,

You do get this error because Flaubert does not have a fast version implemented (yet!) in the library and unfortunately only fast versions support this feature.

If you're interested, feel free to work on a PR to add this fast version to FlauBERT! :hugs:

[2022-06-03 18:08] luadamek opened #17551 "Character limit when tokenizing?"
### System Info

[code]

### Who can help?

@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

from transformers import DistilBertTokenizerFast
tokenizer = DistilBertTokenizerFast.from_pre

[2022-06-03 18:19] ayushtues commented on #15232
Hi,

I am a beginner, and given that the issue has been inactive for some time, I'll like to take this and try fixing it.

[2022-06-03 18:31] stas00 commented on #17534
This is very old and not supported any longer.

Please switch to modern tools and it should just work. Here are a few current examples:

straight DDP:
[code]

same with deepspeed
[code]

make sure it works, adapt to your data, and then replace with the large model size.

Please let me know if this unblocked you and please share the link where you found the old info so that we could update that thr

[2022-06-03 20:18] ayushtues commented on #15232
The following changes to the code, mainly adding the `sampled_negative_indices` as mentioned by the original issue, work, and allow to print the loss ( run on google colab ).

The sampled_negative_indices can be calculated from the `_sample_negative_indices` function from `transformers.models.wav2vec2.modeling_wav2vec2`

Also I added a .item() at the end of
`sequence_length = model._get_feat_extra

[2022-06-03 20:23] ayushtues commented on #15232
Adding the code here

[code]

[2022-06-03 22:54] ZeyiLiao commented on #17534
Hi @stas00 , the order info comes from [here](https://github.com/huggingface/transformers/issues/8771#issuecomment-759248400).

I run the following scripts to install required package:

I tried the straight DPP and deepspeed scripts, all says the following error though I add "--per_device_train_batch_size 2":

What's more, I want to run language inference task with t5 model and do you have any rec

[2022-06-03 23:01] ZeyiLiao commented on #17534
And sorry that I am really new to HF, I just download the wmt16 dataset by this scripts

[code]

I just wonder how to download this dataset as the following script:
`wget https://cdn-datasets.huggingface.co/translation/wmt_en_ro.tar.gz`,

so that I don't need to move this file from /.cache/huggingface/datasets

[2022-06-04 00:46] shijie-wu commented on #17521
I could open a PR for this.

[2022-06-04 01:32] stas00 commented on #17534
oops, my bad - I fixed the examples in my reply https://github.com/huggingface/transformers/issues/17534#issuecomment-1146249686

same script, you just tell it to eval instead of train, here is a few ways for one gpu:

[code]

and you can adapt those to multi-gpu and/or deepspeed  based on the first examples I shared.

but basically I removed the training args and replaced those with eval-only arg

[2022-06-04 02:25] StevenTang1998 commented on #17465
Thanks for your response! I understand what you mean.

Actually, my situation is a little different from the task head. The prompt is the part of the encoder and decoder, and I have 8 different prompts rather than 3. So I wonder if there is any other way, considering they have the same architecture.

[2022-06-04 09:32] BramVanroy commented on #16683
Another bump to remind myself that I'll do a PR for this in the coming month.

[2022-06-04 14:00] #17093 closed

[2022-06-04 15:01] #16955 closed

[2022-06-04 15:02] #16952 closed

[2022-06-04 15:02] #16938 closed

[2022-06-04 21:41] mshen2 opened #17557 "T5ForConditionalGeneration does not require resize_position_embeddings when input sequence length is longer than 512?"
Hi, thanks in advance! I am looking at the run_summarization.py under examples/pytorch/summarization/, in the following code snippets where I want to set `max_source_length` bigger than 512 where 512 is the max length T5 was pre-trained on:
[code]
My questions are:
1. I remembered T5Config was having a `max_position_embeddings` parameter before (was 512), why it is removed now?
2. In the script, t

[2022-06-04 23:33] ZeyiLiao commented on #17534
Thanks for your detailed reply @stas00 ! I tried the t5-small model and they works so I changed it to t5-11b with 3 questions here.

1.
In my case, I could not use straight DDP otherwise CUDA will run out of memory.

When I use deepspeed script
[code]
It said that

  File "examples/pytorch/translation/run_translation.py", line 652, in <module>
    main()
  File "examples/pytorch/translation/run_tr

[2022-06-05 03:41] fabrahman commented on #8344
Hi,
Is model parallelism already implemented for BART and/or BlenderBot models? I do not see any 'parallelize' functionalists in the modeling_bart or modeling_blenderbot.

Thanks for comments.

[2022-06-05 08:22] Ch-rode opened #17559 "Save a Pytorch Bert finetuned model with custom forward function and heads with Hugginface"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]
[code]
after training
[code]

### Expected behavior

[code]
[code]

[2022-06-05 14:51] stas00 commented on #8344
This line of work has been abandoned as it's highly inefficient. Please use DeeepSpeed which works with any model https://huggingface.co/docs/transformers/main/main_classes/deepspeed#deepspeed-trainer-integration

[2022-06-05 15:01] #16987 closed

[2022-06-05 15:02] #16985 closed

[2022-06-05 15:02] #16972 closed

[2022-06-05 15:03] stas00 commented on #17534
Normally you just kill them manually. Upgrade your `deepspeed`, the zombies should get killed automatically.

You should pass an explicit argument to `deepspeed` with the desired setting if you don't want the default.

[code]

That's another implementation of ZeRO protocol. You don't need it.

Please run:
[code]
you will see the options there.

If you want to customize the example script, these `g

[2022-06-05 15:51] hacobe commented on #17385
Hi @patrickvonplaten,
I didn't realize top_k is set to 50 by default. When I change top_k = 0, then I get the same probabilities as expected.

[2022-06-05 15:51] #17385 closed

[2022-06-05 18:13] KyloPrem opened #17561 "TokenClassification with DestillBert does not learn"
Hey guys,

I need to classify a sequence of tokens in a given sentence as either 0: **unrelevant** or 1: **relevant**. I tried to follow the tutorial for TokenClassification with DestillBert/Bert from Huggingface for NER, but the transfer does not seem to result in a model that learns to make predictions.  I am not sure where the problem lays, does find a pointer to how I could debug the training

[2022-06-05 18:43] fabrahman commented on #8344
Thanks @stas00 for the pointer. Is there any example on using DeepSpeed with our own Trainer? I see [this](https://huggingface.co/docs/transformers/main/main_classes/deepspeed#deepspeed-non-trainer-integration) Sec. in the link you shared but that simply is not really helpful. Is it not clear to me what else I need to take care of besides instantiating `HfDeepSpeedConfig` before instantiating the

[2022-06-05 19:46] stas00 commented on #8344
When you don't use HF Trainer, you're on your own, as you're outside of the domain of HF Transformers. for non-HF-Trainer use we only provide a way for `from_pretrained` to load the model directly to multiple gpu and that's what the link you added points to.

Basically you have to study the deepspeed documentation https://www.deepspeed.ai/ - and follow their documentation.

[2022-06-05 21:54] Jcwscience opened #17562 "Add a stop_sequence option to text generation pipeline"
### Feature request

A stop sequence option to allow text generation models to stop generating when a specific token is reached.

### Motivation

When I use GPT-J on a slower machine every extra generated token counts. If I need the model to answer a question for example, the only way I can ensure it isn’t cut off is to set the max length well above what I expect the answer to be. That takes a con

[2022-06-05 22:25] zphang commented on #17452
Ah, I thought I'd removed all the RuntimeErrors, I'll submit a PR to remove them.

As for the NaN-ing, I've not figured that out either. I found (in very ad-hoc testing) that the einsum appears to be more stable than [the original approach](https://github.com/zphang/minimal-gpt-neox-20b/blob/1d485409c0c108d1c03831cb2498040a769e8460/minimal20b/model.py#L226-L232), but it looks like it hasn't fully

[2022-06-05 23:38] ArthurZucker opened #17564 "Shard checkpoint for `tf` and `flax`"
### Feature request

The same sharding capabilities as pytorch should be available to `flax` and `tf`. This is required in order to push the OPT30B model.

### Motivation

Pushing $>45GB$ models (and have the same behaviour as in pytorch ).

### Your contribution

Could start working on that when I will be back from holidays!

[2022-06-06 00:25] fabrahman commented on #8344
Thanks @stas00
So, if I subclass and overrides the Trainer methods like `compute_loss` `training_step`, `evaluate` and etc. and follow the steps you take regarding deepspeed in those methods, should I be fine?

[2022-06-06 00:46] stas00 commented on #8344
as long as your subclass methods don't involve methods that do deepspeed integration it'd work out of the box, yes.

if they do, make sure that you either copy the deepspeed integration code, or simply adjust the methods to do what you want.

[2022-06-06 04:24] StellaAthena commented on #17433
@patrickvonplaten I dunno about GPT-Neo/GPT-J but  can vouch for the fact that the same thing is happening with GPT-NeoX currently.

[2022-06-06 04:31] StellaAthena opened #17566 "Trouble parallelizing GPT-NeoX"
### System Info

[code]

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik, @stas00

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

I have been trying to implement the `.parallelize()

[2022-06-06 07:25] Muhammad-Ahmad-Ghani opened #17567 "Permission denied"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

from transformers import AutoTokenizer, AutoModel

tokenizer = AutoTokenizer.from_pretrained

[2022-06-06 07:29] julien-c commented on #17567
Hi, can you also open a Discussion on the model repo, i.e. https://huggingface.co/hkunlp/from_all_T5_large_prefix_spider_with_cell_value2 (and link this issue to/from there)?

Thanks 🙏

[2022-06-06 07:42] #17567 closed

[2022-06-06 07:54] #16832 closed

[2022-06-06 07:55] LysandreJik commented on #17096
Should be fixed now!

[2022-06-06 07:55] #17096 closed

[2022-06-06 07:58] microcoder-py opened #17568 "LayoutLMv3 not downloading via official code samples"
### System Info

[code]
[code]

[2022-06-06 07:59] thies1006 commented on #17452
Hello @zphang,
the problem is that when the scaling factor is applied, the overflow has already happened.
Therefore I think the `self.norm_factor` should go into the matrix multiply (scale first and do the matrix multiply second):
[code]
It seems to work fine:

[code]

[2022-06-06 08:01] LysandreJik commented on #17562
cc @Narsil

[2022-06-06 08:04] LysandreJik commented on #17561
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) as well?

Thanks!

[2022-06-06 08:10] LysandreJik commented on #17557
cc @patrickvonplaten

[2022-06-06 08:39] sanchit-gandhi opened #17569 "Microsoft's SpeechT5 for Spoken Language Processing (ASR, TTS, ST...)"
### Model description

Motivated by the success of [T5](https://arxiv.org/abs/1910.10683) for pre-training NLP models, [SpeechT5](https://arxiv.org/abs/2110.07205) explores a cross-modal framework for learning joint contextual representations for speech and text data via a shared encoder-decoder structure.

The model architecture consists of an encoder-decoder transformer module and six modal-spec

[2022-06-06 08:41] sanchit-gandhi commented on #17569
Piecing these modules together should be a fun challenge! Happy to help with integration here :-)

[2022-06-06 10:21] NielsRogge commented on #16952
Opened a PR to fix it: https://huggingface.co/facebook/data2vec-audio-large-960h/discussions/1

[2022-06-06 11:37] patil-suraj commented on #17365
I like the idea, but I think it won't be trivial to implement given the current complexity of `generate`. Even for greedy search/sampling, simply calling `generate` for one token at a time will be very slow, as it won't be able to take advantage of caching.

Adding callback seems a good idea IMO as it won't clutter `generate` a lot. wdyt @patrickvonplaten @gante

[2022-06-06 11:47] patil-suraj commented on #17521
I'm okay with this, let me know if you need any help @shijie-wu :)

[2022-06-06 11:53] NielsRogge commented on #17362
Closing this issue, as I believe I've answered it. Feel free to re-open.

[2022-06-06 11:53] #17362 closed

[2022-06-06 11:57] patil-suraj commented on #17016
Will open a PR for it this week :)

[2022-06-06 14:48] apohllo commented on #15398
I would stress that we have to do the following updates:

[code]

And:

[code]

I have provided only the second update and received an error.

[2022-06-06 18:00] sajastu commented on #16776
Hi,

Same problem here, did you find any solution to this problem? @chris-opendata

[2022-06-06 18:58] juliencarbonnell commented on #17544
This error doesn't show up when you run the code on google colab. you should try that @gunjan075 in the meantime

[2022-06-06 23:29] ykl7 commented on #17544
I have the same problem with the T0 model. My protobuf version is `4.21.1`. Any idea how to fix it? Cannot use Google Colab, only desktop machines.

[2022-06-06 23:47] ykl7 commented on #17544
Update: I used `protobuf==3.20.0` and it worked. It's not ideal but it will do for now.

[2022-06-07 00:41] pbelevich opened #17578 "MT5Model(MT5Config()) fails with AttributeError: 'MT5Config' object has no attribute 'is_gated_act'"
### System Info

[code]

### Who can help?

@patrickvonplaten @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

no error

[2022-06-07 00:42] pbelevich commented on #17578
I think it was introduced in https://github.com/huggingface/transformers/pull/17420

[2022-06-07 02:29] tospirits commented on #17106
I met the same error. I tried to pre-train with 25GB korean corpus data using example/run_clm.py.
I haven't tested it in an environment not using DDP yet, but I think this problem is related to corpus. Because there was no problem when it was a small corpus.
The process killed about 30000 ~ 32000 of 85249. The tokenizer type is Byte-level BPE.
- My script
[code]

- logs
[code]

[2022-06-07 02:32] Ngheissari opened #17579 "Enabling vilt and flava auto feature extractor."
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

trying to use vilt and flava feature extractors via AutoFeatureExtractor will result in the

[2022-06-07 05:11] cyr0930 opened #17580 "resize_token_embeddings in BartForConditionalGeneration doesn't change lm_head size"
### System Info

[code]

### Who can help?

@patil-suraj

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Call resize_token_embeddings with different vocab size

### Expected behavior

[code]

[2022-06-07 06:47] 520jefferson commented on #17487
Hi, @SaulLu

1. I set like like:
**>>> from transformers import PreTrainedTokenizerFast

**
Then i got this: AttributeError: 'tokenizers.models.WordLevel' object has no attribute 'decode'
![image](https://user-images.githubusercontent.com/5691554/172313182-7c55f31b-fdea-43c8-9bfc-6a3babd5904c.png)

2. Or if i replace autotokenizer to PreTrainedTokenizerFast in run_t5_mlm_flax.py, and train a new t

[2022-06-07 07:27] Narsil commented on #17542
Hi @devrimcavusoglu ,

I am unsure I understand the actual issue, do you have a reproducing script ?
For `preprocess` / `postprocess` you never need the model (everything model related should be in  `_forward`).

Usually pipelines are intended to run on many example (either live behind a http server or on a dataset) so loading/unloading would be innefficient.

I am curious to understand better you

[2022-06-07 08:00] sywangyi opened #17581 "could not run distribution cpu training on two CPU sockets using miprun"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

![image](https://user-images.githubusercontent.com/36058628/172326302-8b98b2b0-9121-4e6b-be22-5a3

[2022-06-07 08:09] osanseviero opened #17582 "Loading repository after rename does not work (with old name)"
### System Info

[code]

### Who can help?

cc @LysandreJik

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Context
[code]

The following breaks
[code]

Error
[code]

What works here?
:white_check_m

[2022-06-07 10:07] devrimcavusoglu commented on #17542
Hi @Narsil,

Actually, I was emphasizing what you said here, and I meant instantiation of the pipeline object, which requires model & tokenizer objects (not lazy load). Having said this, consider the current situation and assume that "some-task" is defined in `transformers`

[code]

with a pipeline class, we can alternatively perform this without the factory function `pipeline()` like this

[code]

[2022-06-07 10:20] NielsRogge commented on #17579
ViLT is going to be added in #17286

[2022-06-07 11:44] sgugger commented on #17578
cc @patil-suraj as well.
It would also be interesting to understand how it was not caught by any of the tests.

[2022-06-07 12:05] hannan72 opened #17584 "ONNX support for gpt-neox"
### Feature request

Is there any possibility that we can convert gpt-neox to onnx using transformer library?

### Motivation

onnx model will be faster.

### Your contribution

-

[2022-06-07 12:09] Narsil commented on #17542
Hi @devrimcavusoglu ,

Sorry but I still don't really understand what you're doing, could you share a minimal example ? I don't really understand how the 2 models you describe interact.

You can use your custom class if you want (entirely bypassing the need to pass the `task` argument to `pipeline(...)`)

[code]

this was intended as simple overloading of pre/processing so I am not sure it fits yo

[2022-06-07 13:13] Narsil commented on #17365
Both can leverage the current `generate` and do NOT call `generate` 1 step at a time in my mind.
Both would use a callback within `generate` but the idea is to understand how a user would use those results.

I was merely asking how it should look live from a pipeline user perspective.

[2022-06-07 14:55] #17319 closed

[2022-06-07 15:02] #17026 closed

[2022-06-07 15:02] #16588 closed

[2022-06-07 15:30] sam-h-bean commented on #16308
@ChainYo I would like to get started on the ONNX Config for DeBERTaV2!

[2022-06-07 16:01] anujnayyar1 commented on #17365
As a user OpenAI deal with this quite well.

They use server sent events to send over partial completions - aka the JavaScript EventSource library

See “stream”
https://beta.openai.com/docs/api-reference/completions/create

[2022-06-07 16:12] ChainYo commented on #16308
Ok noted! Ping me on the PR you open if you need help. 🤗

[2022-06-07 16:30] radkoff opened #17590 "TrainingArguments with pytorch on Mac: AttributeError: module 'torch.distributed' has no attribute 'is_initialized'"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I'm trying to run a minimal example based on [this documentation](https://huggingface.co/docs/tra

[2022-06-07 16:44] devrimcavusoglu commented on #17542
Thank you @Narsil. Actually what you stated is addressing my first point, and I can handle my second point in my custom pipeline class, so I will close this issue for now. It can be re-opened though if there is a need for the following.

As a side note, I'll try to elaborate my 2nd point more clearly. In short, we do not need the model in some methods, e.g `preprocess()` or `postprocess()`, but th

[2022-06-07 16:47] #17542 closed

[2022-06-07 17:06] Lauler commented on #17582
We have since the issue was opened here duplicated some of the most used repositories and re-uploaded them. The above code example will therefore work now (because we duplicated the repo).

Here is a fresh example of a transferred repository we haven't manually duplicated to replicate the redirection error:

[code]

[2022-06-07 17:07] Narsil commented on #17542
Thanks for the pseudo code much clearer !

I think it makes sense in your case, but we shouldn't do it by default since loading/unloading models is usually quite slow (compared to inferring on them) especially on GPU. so anyone that can afford to have everything loaded into CPU/GPU RAM should do so.
If you are short on either RAM memory, then yes, loading/unloading is necessary.

Still thanks for

[2022-06-07 17:12] sgugger commented on #17590
This has been fixed already, you should try again on the latest version.

[2022-06-07 17:25] radkoff commented on #17590
Thank you, upgrading to 4.19.2 worked.

[2022-06-07 17:25] #17590 closed

[2022-06-07 17:27] sgugger commented on #17590
Great to hear!

[2022-06-07 20:24] SaulLu commented on #15956
Hi @bugface,

Short answer: yes :smiley:

In general, the `decode` method is a best-effort method because in the `text -> encode -> sequence of ids` operation there may be some loss of information (and this is the case for Bert's tokenizer by design). In general this is not a big deal as Bert is not a generative model and therefore does not need to decode a purely generated id sequence (I'd be ver

[2022-06-07 20:36] anchit-sadana opened #17594 "Summarization output different when using pipelines and the on-website inference engine."
### System Info

[code]

### Who can help?

@Narsil

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

See the colab notebook

https://colab.research.google.com/drive/1ALpWzqA0KMJ6K2SUhg8K-NAFhpFpoBm8?

[2022-06-07 21:01] prajwal967 opened #17595 "BigBird tokenizer - special tokens not being masked during MLM"
### System Info

[code]

### Who can help?

@ydshieh

The BigBird tokenizer doesn't seem to have the special token mask operation working correctly. Only the [CLS] and [SEP] tokens are being treated as special tokens by the get_special_tokens_mask function

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examp

[2022-06-07 23:51] #17578 closed

[2022-06-08 02:26] danielhoshizaki opened #17596 "Pyramid Vision Transformer"
### Model description

I would like to add the[ Pyramid Vision Transformer model](https://arxiv.org/abs/2102.12122).

#### Paper Abstract
Pyramid Vision Transformer~(PVT), has several merits compared to prior arts. (1) Different from ViT that typically has low-resolution outputs and high computational and memory cost, PVT can be not only trained on dense partitions of the image to achieve high out

[2022-06-08 04:09] justheuristic opened #17599 "sharded_ddp with auto_wrap is secretly a no-op"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The problem occurs in any scenario where you use Trainer with `--sharded_ddp` and use auto_wrap.

[2022-06-08 06:34] #17486 closed

[2022-06-08 07:13] realjanpaulus commented on #17058
Still open.

[2022-06-08 07:38] jamie0725 opened #17601 "Error with inferencing with fine-tuned model loaded from keras load_model"
### System Info

[code]

### Who can help?

@gante

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

error message:
[code]
Basically, from what I could tell, the reloaded TFBertForSequenceClas

[2022-06-08 08:47] actionpackedgeneral commented on #10113
Same Issue

[2022-06-08 10:38] Arsmart123 opened #17604 "OSError: Can't load config for 'bert-base-uncased'. If you were trying to load it from 'https://huggingface.co/models', make sure you don't have a local directory with the same name. Otherwise, make sure 'bert-base-uncased' is the correct path to a directory containing a config.json file"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Install torch! And also: pip install tqdm boto3 requests regex sentencepiece sacremoses
And

[2022-06-08 10:59] nickprock commented on #17459
Hey @mfumanelli if you have other documents to assign to me I'm ready

[2022-06-08 11:06] mfumanelli commented on #17459
Hi @nickprock! <3 I saw the pull request for preprocessing but not for training, is that still in WIP or is there a PR I missed?

[2022-06-08 11:08] nickprock commented on #17459
@mfumanelli I hope to submit the PR for training tomorrow.

[2022-06-08 11:12] mfumanelli commented on #17459
Super! Thanks, if it's ok for you I will assign you the multilingual doc. I also asked @omarespejel if there are any priority docs to be translated, so that we can add them to the issue or if we can proceed without priority with all the other docs 🌈

[2022-06-08 11:26] sgugger commented on #17599
We don't really support fairscale sharded ddp anymore. You should switch to the newer native FSDP integration which we support (doc is [here](https://huggingface.co/docs/transformers/main_classes/trainer#pytorch-fully-sharded-data-parallel)).

[2022-06-08 11:43] hannan72 commented on #17452
Using `use_cache=False` also works for me. Thanks a lot.

[2022-06-08 12:06] gante commented on #17414
Sounds good 👍

[2022-06-08 12:09] brgsk commented on #17559
Hi,
I believe in order to load your model via Transformers’ `AutoModel` you need to implement your custom model class into Transofmers’ repo, and “register” it in “models/auto” package.
Hope this helps.

[2022-06-08 13:20] ydshieh commented on #17595
Thank you reporting this, @prajwal967

@SaulLu @Narsil

I tried with the following example (adapted from @prajwal967 ), and it looks like this issue happens for `BigBirdTokenizerFast`, but not `BigBirdTokenizer`.

Could you take a look on this issue, please?

[code]

[2022-06-08 13:24] ydshieh commented on #17595
Good for `RobertaTokenizerFast`

[code]

[2022-06-08 13:30] #17371 closed

[2022-06-08 13:35] hasansalimkanmaz commented on #17478
I have just tested my fix and concluded that it is related to what I mentioned above. Thanks for your time @sgugger. I am closing the issue.

[2022-06-08 13:35] #17478 closed

[2022-06-08 13:38] sgugger commented on #17478
Thanks for confirming the fix worked!

[2022-06-08 13:44] justheuristic commented on #17599
Thanks for the response.
I only mean to say, that it would be best to add some kind of warning, saying that sharded_ddp is not supported.

[2022-06-08 13:53] sgugger commented on #17599
Which tutorial advertises fairscale sharded DDP? We haven't really recommended it (we do recommend DeepSpeed which is more mature at this stage).

[2022-06-08 13:54] jamie0725 commented on #17601
Thanks for notice, please let me know where there is a fix.

Meanwhile, is there any workaround I can do except for using the ``serving()`` method? Because ``serving()`` does not support keras methods like `evaluate()` etc.

[2022-06-08 13:59] justheuristic commented on #17599
In the link you suggested, if you scroll up, you can see the following:

And then, ahead of FSDP,

One may misinterpret this to mean that Trainer does support sharded_ddp in the same way it supports FSDP.

That said, i fully understand that this issue is low priority.

[2022-06-08 14:52] Narsil commented on #17594
Hi @anchit-sadana ,

Summarization is not deterministic by default, so results are not always identical.

If you want identical results you can use `do_sample=False` parameter.
[code]
or using the `{"parameters": {"do_sample": False}}` key within the API https://huggingface.co/docs/api-inference/detailed_parameters#summarization-task

You can also play with `min_length` and `max_length` to play wi

[2022-06-08 15:23] stas00 commented on #17137
Implemented in https://github.com/huggingface/transformers/pull/17138

[2022-06-08 15:23] #17137 closed

[2022-06-08 15:24] andreafailla commented on #17459
Hi @mfumanelli, if you have any file to translate I'd be happy to help :)

[2022-06-08 15:29] F02934 commented on #17459
Hi @mfumanelli I would be happy to help in translating the documentation if it was possible!

[2022-06-08 15:30] konradgrosser opened #17609 "trocr model performs worse than unilm version"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/107130731/172656279-c9

[2022-06-08 15:46] alexsomoza opened #17611 "SSLError: HTTPSConnectionPool(host='huggingface.co', port=443)"
I'm trying in python:

from sentence_transformers import SentenceTransformer
sbert_model = SentenceTransformer('all-MiniLM-L6-v2')

and I get this error:

SSLError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /api/models/sentence-transformers/all-MiniLM-L6-v2 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verif

[2022-06-08 16:11] patrickvonplaten commented on #17207
no worries! Anybody interested in taking over the UL2 implementation ? Would be happy to help :-)

[2022-06-08 16:13] patrickvonplaten commented on #17414
Cool! I'll take care of the docs then :-)

[2022-06-08 16:25] patrickvonplaten commented on #17365
To be honest, I'm not in favor of adding this to `generate` - it's too much of a nice-to-have feature and would unnecessarily increase maintenance and make `generate` much harder to understand than it already is

[2022-06-08 16:27] patrickvonplaten commented on #17365
If it's possible to make it easy and clean with a general `callback: GenerationCallBacks = []` function arg I think I'd be fine with it though, but would need to see a PR for it

[2022-06-08 16:27] patrickvonplaten commented on #17365
Don't want to mess with the `generate` code too much though

[2022-06-08 16:29] patrickvonplaten commented on #17365
Then inside `generate()` ideally we only have one `if callbacks is not None: then call all callbacks` code

[2022-06-08 17:15] pbelevich opened #17613 "FX tracing of HubertForSequenceClassification fails with TypeError: 'HFProxy' object cannot be interpreted as an integer"
### System Info

[code]

### Who can help?

@mich

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]
[code]

### Expected behavior

[code]

[2022-06-08 17:43] anchit-sadana commented on #17594
Hi Nicolas,

Thanks for the response! I only posted this because I was consistently getting the same summary when I ran the pipeline object in colab and on the inference on the model card which were consistently different. Passing do_sample = False also does not seem to be changing the summary. Here's the fixed link to colab notebook - https://colab.research.google.com/drive/1ALpWzqA0KMJ6K2SUhg8K-

[2022-06-08 17:43] sgugger commented on #17544
This is all fixed on the main branch FYI.

[2022-06-08 18:18] omarespejel commented on #17459
@mfumanelli thanks! 🤗 I just added the next priority docs to the main comment on this issue.

[2022-06-08 18:26] mfumanelli commented on #17459
Hi @andreafailla! If it is ok with you, you can start translating the file: [fast_tokenizers.mdx](https://github.com/huggingface/transformers/blob/main/docs/source/en/fast_tokenizers.mdx). If you have any doubts write to me :) Thanks for your help! 🌈🌈

[2022-06-08 18:28] mfumanelli commented on #17459
Hi @F02934 thanks!! 🚀 is it OK for you to start by translating the file [create_a_model.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/create_a_model.mdx)?

[2022-06-08 18:35] Xpiri commented on #17459
Hi @mfumanelli, if there's something for me to work on I would be really glad to help! :)

[2022-06-08 18:40] mfumanelli commented on #17459
Hi @Xpiri! perfect, it would be perfect if you could start translating the file: [custom_models.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/custom_models.mdx) 🚀 thank you very much for your contribution 🌈

[2022-06-08 18:41] F02934 commented on #17459
@mfumanelli Perfect I can start translating right now !

[2022-06-08 20:17] 25icecreamflavors commented on #17360
Has anyone found a problem solution?

[2022-06-08 22:32] patrickvonplaten commented on #17557
Hey @mshen2,

I don't think BART uses relative position embeddings, but rather "fixed" position embeddings ("fixed" in the sence that if seq_len > 1024 is provided the model gives an index error).

Could you maybe look into this line of code in BART: https://github.com/huggingface/transformers/blob/66e8656778392609e1fb769f1a0d0839af3cd76a/src/transformers/models/bart/modeling_bart.py#L718 -> it sh

[2022-06-08 22:34] patrickvonplaten commented on #17566
Gently pinging @patil-suraj and maybe also @sgugger regarding `accelerate` here - I think `accelerate` should be used here rather than `parallelize` no?

@LysandreJik @sgugger should we maybe fully deprecate `parallelize()` now?

[2022-06-08 22:40] patrickvonplaten commented on #17545
Interesting, thanks for opening the issue!

@stephenroller @suzangwang have you see similar behavior with the fairseq model ? Could this be due to a bug in porting the model?

[2022-06-08 22:43] patrickvonplaten commented on #17545
One thing I'd like to add here is that we enable `topk=50` by default -> does changing this value maybe help? But it indeed looks like a modeling issue

[2022-06-08 22:43] shijie-wu commented on #17545
Related issue https://github.com/facebookresearch/metaseq/issues/136

[2022-06-08 23:25] lorenzobalzani commented on #17459
Hi @mfumanelli, I should be able to start working on some translations in the next few days.

[2022-06-08 23:51] thegregyang commented on #16157
Sorry still working on this!

[2022-06-09 00:34] jeffra opened #17616 "Unable to run models bert/roberta/others w. FP16"
### System Info

[code]

### Who can help?

@sgugger, @Narsil

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

For several reasons (some performance related) we'd like to be able to run inference on

[2022-06-09 02:28] jamie0725 commented on #17601
I tried, but it gives the same error. My code is as below:

[code]

[2022-06-09 04:10] Richar-Du commented on #16620
I have set `load_best_model_at_end` to `True`, but it doesn't work. The following is my code:
[code]

However, when I add `control.should_save` in  https://github.com/huggingface/transformers/blob/b18dfd95e1f60ae65a959a7b255fc06522170d1b/src/transformers/trainer_callback.py#L531
it works. Just like this:

[code]

[2022-06-09 04:38] sam-h-bean opened #17618 "Add Checkpoint Loading from MLflow Model Registry"
### Feature request

I would like the ability to pass a model URI that points to a model in an MLflow model registry then load a HuggingFace transformer directly from the registry.

### Motivation

Model versioning and lifecycle management is a common practice in MLOps so I think it makes sense for this to be a first-class feature in HuggingFace.

### Your contribution

I already have this functio

[2022-06-09 06:36] 520jefferson commented on #17487
@patrickvonplaten @SaulLu

Thanks for reply,  codes and vocab like follows.

1. The vocab.txt (vocab.json is manually constructed from vocab.txt ) and meregs.txt i upload to google drive as follows:
vocab.txt:https://drive.google.com/file/d/10jC8L_-RDLRv5QkAato8nJWGU1UQQcz1/view?usp=sharing
vocab.json:https://drive.google.com/file/d/1e5Ll0bAHhikhnYV5XaW3NB8aTSWdCvnC/view?usp=sharing
merges.txt:htt

[2022-06-09 07:09] mfumanelli commented on #17459
Hi @lorenzobalzani thanks! If it's ok for you, you can start translating the run_scripts.mdx file 🌈 let me know!

[2022-06-09 08:15] zingxy commented on #16438
@Narsil   I also have trouble in the same problem. And your explanation is informative. But is there any way to customize this tokenizer behaviors?

[2022-06-09 08:26] Narsil commented on #17594
Hi @anchit-sadana ,

I think the issue comes from the fact that your text is adding extra newlines between lines everywhere, so the model is not seeing the same text so summary is degraded.

(Probably didn't see a lot of double newlines during training and it's throwing the model a little off ?)

[2022-06-09 08:38] sangtaik opened #17621 "AttributeError: 'TFBertForQuestionAnswering' object has no attribute 'save_pretrained"
### System Info

[code]

### Who can help?

AttributeError                            Traceback (most recent call last)
<ipython-input-64-1a5b1a678c55> in <module>()
----> 4 model.save_pretrained('model_bert_20220609.pt')

AttributeError: 'TFBertForQuestionAnswering' object has no attribute 'save_pretrained

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tas

[2022-06-09 08:40] sangtaik commented on #17621
I am sorry, I am new for git bug issue menu.
but I have no idea about [save_pretrained]

[2022-06-09 08:47] andreafailla commented on #17459
Hi @mfumanelli I hope you are well :) You should see my PR by now.

If that's ok, i can take on the [run_scripts.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/run_scripts.mdx) and [sagemaker.mdx(https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/sagemaker.mdx) and PR them tomorrow

[2022-06-09 08:51] mfumanelli commented on #17459
Hi @andreafailla ! Thank you very much 🌈 ! can you start with the sagemaker one? In the previous comment I asked Lorenzo if the one from run_scripts would be ok for him, I will now add his name to the list on the issue! Thanks 🚀🚀

[2022-06-09 09:20] lorenzobalzani commented on #17459
@mfumanelli yes, that's ok for me!

[2022-06-09 09:29] gullabi commented on #17412
After fixing the parts related to `datasets` we ran into another problem with the `run_speech_recognition_ctc.py` script. Maybe a question for @patrickvonplaten sorry to bother you with a mention.

When we increase the number of nodes, we are getting a `JSONDecodeError` for `preprocessor_config.json`. Checking the file, we see that it is fine. We suspect that the nodes are trying to read a file th

[2022-06-09 11:16] sgugger commented on #17616
We could upcast the outputs to FP32 while transferring them back to CPU since most operations are not implemented in half on CPU. Wdyt @Narsil ?

[2022-06-09 11:19] sgugger commented on #17566
Yes the `parallelize` API will be fully deprecated soon (like this week or the next) so there is no point adding support to new models.

Could you tell us more about the problem you are encountering there maybe?

[2022-06-09 12:13] hannan72 commented on #17452
Is there a clear release version where the issue is resolved?
I got `RuntimeError: probability tensor contains either `inf`, `nan` or element < 0` while deploying the gpt-neox model with half.
I can deploy it completely in full preciosion.

[2022-06-09 12:14] haileyschoelkopf commented on #17207
I can take a stab at this in the next week if no one else is actively working on it!

I'll hopefully open a PR soon - help is welcome from anyone who would like as well :)

[2022-06-09 13:46] michaelbenayoun commented on #17613
Hi, this seems related to the model being in training mode, hence calling `transformers.models.hubert.modeling_hubert._compute_mask_indices`. The reason this is not caugh by the tests is because we are testing models in eval mode...

Anyways, if you just need for inference purposes, doing `model.eval()` should solve your issue.

A fix for this might not be very easy because the function in questio

[2022-06-09 13:51] regisss commented on #16308
@ChainYo ResNet and ConvNeXT are now supported, see #17585 and #17627

[2022-06-09 14:09] ChainYo commented on #16308
Super cool! I update the list then.

[2022-06-09 15:16] stefan-it commented on #17147
Some links in the rembert documentation point to high-level `rembert` on the model hub, whereas the correct identifier is `google/rembert`.

I can update the documentation :)

[2022-06-09 15:26] srelbo opened #17632 "GPTNeoXForCausalLM examples fail to run"
### System Info

[code]

### Who can help?

@patil-suraj

I have been trying to using Huggingface GPTNeoX models to generate text. However even the basic example use case fails both on `CPU` and `GPU`.

[code]

Fails with

[code]

Similar failure happen when running on CUDA as well.

Based on -- https://huggingface.co/docs/transformers/main/en/model_doc/gpt_neox

### Information

- [X] The officia

[2022-06-09 15:27] Xpiri commented on #17459
Hi @mfumanelli ! You should see my pull request for [custom_models.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/custom_models.mdx), please let me know if everything is fine and if I can help some more! 🚀

[2022-06-09 15:36] srelbo commented on #17632
@zphang Would you be able to help us get this working? Thanks 🙏

[2022-06-09 16:20] #17599 closed

[2022-06-09 16:43] Narsil commented on #17616
Seems reasonable, is it no-op for already fp32 ?

We will probably check they are half though since some tensors might contain `int{8,32,64}` which we shouldn't change to float I think, right ?

[2022-06-09 17:04] #17616 closed

[2022-06-09 17:11] sgugger commented on #17544
There was a patch release v4.19.3 just done to fix this issue FYI.

[2022-06-09 19:16] mfumanelli commented on #17459
Hi @Xpiri! Perfect, if you want you can translate the doc: converting_tensorflow_models.mdx 🚀 🚀 I will now have a look at your PR, thanks! 🔥

[2022-06-09 19:22] F02934 commented on #17459
Hello @mfumanelli  I made a my pull up request. It's my first time so you can give me some pointers if something not good. If everything is fine I'd like to help more so I can improve myself!

[2022-06-09 19:50] mfumanelli commented on #17459
@F02934 🌈 thank you for your contribution, if it is ok with you, you can translate the file: serialization.mdx

[2022-06-09 19:58] edchengg commented on #16884
sorry to post it here..

How could I shard a checkpoint myself and load it?

Would this works?
`python -c 'from transformers import AutoModelForSeq2SeqLM; \
model = AutoModelForSeq2SeqLM.from_pretrained("save_dir/mT5_finetuned/"); \
model.save_pretrained("save_dir/mT5_finetuned_sharded/", max_shard_size="9GB")

model2 = AutoModelForSeq2SeqLM.from_pretrained("save_dir/mT5_finetuned_sharded/", revis

[2022-06-09 21:28] younesbelkada commented on #17525
Hi, yes you can definitely go ahead and we'll be happy to review it ! ;)

[2022-06-09 21:38] VijayKalmath commented on #17525
@penpaperkeycode  as @younesbelkada  mentioned , can you please let me know if you are already working on the issue ?

[2022-06-09 22:00] F02934 commented on #17459
@mfumanelli sure I will!

[2022-06-09 22:30] anchit-sadana commented on #17594
Ah that makes sense. Thanks for the response! Marking the issue as closed

[2022-06-09 22:30] #17594 closed

[2022-06-09 22:36] ZeyiLiao commented on #17534
Hi @stas00 , thank you for your reply! I trained it wity your updated scripts but the job was stopped accidently.

So I tried to resume from checkpoints by this scripts(without --overwrite_output_dir, and output_dir_1 is the folder with checkpoints)
[code]
But it said that
[code]

[2022-06-09 22:49] stas00 commented on #17534
this usually means that you didn't have enough cpu memory to resume

Unfortunately it's a bug in deepspeed, where instead of loading the checkpoint directly to gpu it first loads it to cpu.
I filed a bug report here https://github.com/microsoft/DeepSpeed/issues/1971
Please voice your need in this issue so that it's seen that it needs higher priority.

I can offer you a hack that may help. Basicall

[2022-06-09 22:52] stas00 commented on #17534
something like this should work.

[code]

adjust 20 to perhaps smaller or longer wait in secs.

so here the following happens:

process 0 sleeps for 0 secs, process 1 for 20 secs, etc.

you can apply the patch manually or with:

[code]

assuming you saved my code as patch.txt (attached it to this comment as well so you can just download it)

[patch.txt](https://github.com/huggingface/transformers/

[2022-06-09 23:03] juliencarbonnell commented on #17544
Awesome
Thank you

On Thu, Jun 9, 2022, 12:12 Sylvain Gugger ***@***.***> wrote:

[2022-06-10 00:23] gpalomeque commented on #15947
Hola, me gustaría contribuir traduciendo token_classification.mdx

[2022-06-10 00:25] omarespejel commented on #15947
Hola @gpalomeque! Thank you very much! That would be great. Let me add you to the list.

[2022-06-10 04:19] BotirAI commented on #16322
Assalamu alekum, I also came across such a mistake
 RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB (GPU 0; 7.80 GiB total capacity; 6.41 GiB already allocated; 1.69 MiB free; 6.82 GiB reserved in total by PyTorch) If reserved memory is >> allocated memory try setting max_split_size_mb to avoid fragmentation.  See documentation for Memory Management and PYTORCH_CUDA_ALLOC_CONF

[2022-06-10 08:22] KeremZaman opened #17649 "UnboundLocalError when running run_glue.py"
### System Info

[code]

### Who can help?

@LysandreJik @sgugger @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps to reproduce the behavior:

1. Run `run_glue.py` for `snli` datas

[2022-06-10 08:58] hemingkx opened #17653 "Abnormal behavior of OPT except OPT-350m"
### System Info

[code]

### Who can help?

@patrickvonplaten @LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction
[code]

### Expected behavior
The scripts above are used to test both the gp

[2022-06-10 09:19] lorenzobalzani commented on #17459
@mfumanelli I submitted my PR, let me know if there are some translations unclear.

[2022-06-10 09:31] dr-GitHub-account opened #17654 "Can we do adaptive pretraining on BERT-related models using transformers?"
### Feature request

Adaptive pretraining methods like domain adaptive pretraining and task adaptive pretraining can benefit downstream tasks, which is illustrated in [https://aclanthology.org/2020.acl-main.740.pdf](url). In [https://huggingface.co/models](url), there are successful models pretrained with data from source domain. I would like to do adaptive pretraining(with tasks like MLM) to chin

[2022-06-10 10:00] Narsil commented on #17365
[code]

What do you think about this ?

I thought this would be an elegant solution to the problem.
Basically send generate to another thread and wait for results as they are coming.

The main drawback for pipelines as I said, is the other parameters combinations + backward compatibility support.

[2022-06-10 10:51] sgugger commented on #17649
I can reproduce, will try to fix this morning!

[2022-06-10 11:43] #17649 closed

[2022-06-10 12:19] sangtaik commented on #17621
I saw https://huggingface.co/blog/tf-serving

this guide was used save_pretrained function.
`from transformers import TFBertForSequenceClassification

model = TFBertForSequenceClassification.from_pretrained("nateraw/bert-base-uncased-imdb", from_pt=True)
# the saved_model parameter is a flag to create a SavedModel version of the model in same time than the h5 weights
model.save_pretrained("my_mode

[2022-06-10 12:21] mfumanelli commented on #17459
🌈 Hi @machicomio 🌈  If you want you can start by translating the performance.mdx file, if you have any doubts do not hesitate to write to me 🚀

[2022-06-10 12:32] LysandreJik commented on #17654
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-06-10 13:36] #17128 closed

[2022-06-10 14:03] muellerzr opened #17659 "Bug with .from_pretrained in distributed mode on high-ram Colab instances + Accelerate"
### System Info

[code]

### Who can help?

@sgugger + others related to `.from_pretrained`

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

On either a high-ram TPU Colab instance or Titan RTX/bad**

[2022-06-10 14:04] muellerzr commented on #17659
cc @pacman100

[2022-06-10 14:16] sanchit-gandhi commented on #17569
Hey @ayushtues! Lovely to meet you :-) Compute shouldn't be a problem! We can begin with 'dummy' versions of the model in order to verify that our implementations work, then scale up to the full size ones and share resources.

As a starting point, we can start the PR with the 'add-new-model-like' command:
https://github.com/huggingface/transformers/tree/main/templates/adding_a_new_model#add-new-mo

[2022-06-10 14:47] younesbelkada opened #17663 "[TRACKER] Add BLOOM on `pipeline`"
### System Info

[code]

### Who can help?

@Narsil

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Just a tracker of the following issue
[code]

Throw the following error:
[code]

### Expected beha

[2022-06-10 15:03] #17052 closed

[2022-06-10 15:03] #17040 closed

[2022-06-10 15:03] #17039 closed

[2022-06-10 15:03] #17037 closed

[2022-06-10 15:03] #17031 closed

[2022-06-10 15:03] #16804 closed

[2022-06-10 15:35] EmreTaha opened #17665 "Transformer Vit-MAE hard coded image channels"
### Feature request

Although the config file for the model accepts number of input channels, the class methods patchify and unpatchify use hard coded 3 channel image input. It should use num_channels argument of the config. https://github.com/huggingface/transformers/blob/a727db62f4f4e5cb15020fa5efa86ae559324616/src/transformers/models/vit_mae/modeling_vit_mae.py#L899

### Motivation

With this f

[2022-06-10 15:37] patrickvonplaten opened #17666 "[Default pipelines] Add a revision tag to all pipelines"
### Feature request

Continuing the discussion here: https://github.com/huggingface/transformers/pull/17286#discussion_r893716733

To make sure that the default pipelines models - some of which - are community contributed models and thus somewhat "out-of-control" for transformers, it'd be important to add a `revision` tag to those default models (maybe actually to all pipeline models).

### Motiva

[2022-06-10 16:09] patrickvonplaten commented on #17412
Hmm, the file should not be written - I guess what might happen here is that one node is much much faster then another node and already wants read a file that has not been created in the previous step yet.

Could you do the following:
- Simply run the script on one node to correctly write the tokenizer and feature processor config jsons
- Then pass all those files to the script on multi-node so th

[2022-06-10 16:21] patrickvonplaten commented on #17541
Interesting question! @ola13 do you have a good answer here maybe?

Intuitively I would think that this shouldn't be a problem since the model was trained also this way, but think @ola13 knows best here :-)

[2022-06-10 16:27] patrickvonplaten commented on #15232
Hey @Sorrow321 could you upgrade your transformers version to the newest version and try again? I cannot reproduce the error on `main`

[2022-06-10 16:32] patrickvonplaten commented on #17653
Hmm, that's a very good test - it indeed seems like there is a bug with the model weights conversion... @stephenroller can you by any chance run those models with metaseq to verify that `ppl` is reasonable?

[2022-06-10 16:41] patrickvonplaten commented on #17653
Also @hemingkx, I can confirm your results - just sent a mail to the authors since we think the problem lies in the model conversion

[2022-06-10 17:21] satpalsr commented on #17596
Hey @danielhoshizaki, Can I join you?

[2022-06-10 18:18] gullabi commented on #17412
Thanks Patrick. For the second step, do I need to skip the data preprocessing also? If so is there a way to load the preprocessed files directly from the cache?

A bit ashamed to say but, I have been looking at the script to try to skip the data preprocessing phase, and did not manage to do it. In the output I see warnings saying that the preprocessed data is being loaded from the cache (for vario

[2022-06-10 18:44] muellerzr commented on #17659
The crux of this issue is Google Colab, and its inability to clear out the old model architecture from RAM. So instead of loading 8x model weights, then our new dict, plus the potential to do a gc.collect(), the other model weights are hanging indefinitely in colab space, unable to be freed. Gist here: https://gist.github.com/muellerzr/763feb654fc0446ed4ebf1813e0cb05e

[2022-06-10 19:42] #17659 closed

[2022-06-11 01:28] sangtaik commented on #17621
After 2 days of analysis, I found that there is a difference between the original file on github and the library I received.

The hugging face lib I received was the wrong file, and the class was a completely different model with the same name.

[2022-06-11 01:28] #17621 closed

[2022-06-11 01:29] sangtaik commented on #17621
I deleted the file and got a clone of github again to solve it.

[2022-06-11 01:53] h2bit opened #17670 "run_ner.py is slower than run_ner_no_trainer.py"
### System Info

[code]

### Who can help?

Models:
BERT @LysandreJik

Library:
Trainer @sgugger

Examples:
[token-classification/](https://github.com/huggingface/transformers/tree/main/examples/pytorch/token-classification) @sgugger @pat

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such

[2022-06-11 02:01] dr-GitHub-account commented on #17654
I will. Thanks for the instruction.

[2022-06-11 03:57] hemingkx commented on #17653
Thanks for your early reply! Sure, I will send an email to the authors stating this issue.

[2022-06-11 03:59] hemingkx commented on #17653
Thanks for your early reply! Hope this can be resolved soon 😊.

[2022-06-11 05:27] koyelseba commented on #97
Hi

I am using LayoutLM V2 model. I am trying to finetune the the model by using my custom dataset. I got bellow error message.
Please tell me how to resolve the error.

0% 0/2400 [00:00<?, ?it/s]../aten/src/ATen/native/cuda/Indexing.cu:703: indexSelectLargeIndex: block: [110,0,0], thread: [32,0,0] Assertion srcIndex < srcSelectDimSize failed.
../aten/src/ATen/native/cuda/Indexing.cu:703: indexSel

[2022-06-11 08:28] ayushtues commented on #15232
Hi, @patrickvonplaten I am still getting None if we don't pass sampled_negative_indices to the model (as in the original code given by @Sorrow321) while passing it prints the actual loss.

I am using transformers 4.20.0 dev.0, built from source on the latest main branch

My code:

[code]

Output screenshot
![image](https://user-images.githubusercontent.com/43698245/173180102-ca1a5359-886c-4942-808

[2022-06-11 11:46] akashe commented on #11789
Update to the newest version. It worked after that.

[2022-06-11 13:59] skye95git opened #17674 "fine-tunes RoBERTa on WikiText-2"
### System Info

[code]

### Who can help?

@LysandreJik   @sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The example in `transformers/examples/pytorch/language-modeling/`: https://github.

[2022-06-11 14:38] pratyushmaini commented on #9122
If we use the AutoTokenizer library, this still does not work.

[code]

[2022-06-11 14:38] pratyushmaini opened #17675 "AutoTokenizer fails to do_lower_case"
If we use the AutoTokenizer library, this still does not work.

[code]

_Originally posted by @pratyushmaini in https://github.com/huggingface/transformers/issues/9122#issuecomment-1152939838_

[2022-06-11 15:04] stas00 commented on #17193
No answer from @karthikrangasai, @LysandreJik - who would be a good person to look at these issues? Thank you.

[2022-06-11 15:10] SSFWL496 opened #17676 "Problems when producing distilBERT"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

And got error when running the scripts below：
[code]

### Expected behavior

[code]

Could y

[2022-06-11 16:30] stephenroller commented on #17653
This is in my queue, just have a long queue.

[2022-06-11 18:10] ayushtues opened #17678 "Typo in adding_a_new_model README"
There's a typo in the adding_a_new_model README [file](https://github.com/huggingface/transformers/blob/main/templates/adding_a_new_model/README.md),

It would be `make fix-copies`, not `maxke fix-copies` here
![image](https://user-images.githubusercontent.com/43698245/173199900-0489726e-3373-4567-ac41-96240c41b230.png)

[2022-06-11 18:16] ayushtues commented on #17678
Sent a PR to fix this [here](https://github.com/huggingface/transformers/pull/17679)

[2022-06-11 19:41] DanielHesslow commented on #17207
I've had the model running locally for a while but didn't get around to pushing it to the hub until now 😅

with #17420, merged into master the architecture is already supported (in 4.20).

I've put the weights here for now:
https://huggingface.co/Seledorn/ul2

I think what remains is mostly verifying that we get identical output with the port and the original model. But this is as @kamalkraj noted

[2022-06-11 20:10] chijames opened #17681 "trainer fails when fsdp = full_shard auto_wrap"
### System Info

[code]

### Who can help?

@sgugger @patric

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Running the above script will generate the following error:
` File "/home/ubuntu/

[2022-06-12 01:32] teetone opened #17682 "Truncation + max_length not working for GPT2TokenizerFast"
### System Info

[code]

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Run the following Python code:

[code]

It should fail at th

[2022-06-12 15:01] #17079 closed

[2022-06-12 15:01] #16978 closed

[2022-06-12 17:38] penpaperkeycode commented on #17525
@VijayKalmath Sorry for late reply.
I tested OPT's 'forSequenceClassification' class and verified accuracy in MNLI-glue task.
it looks good to me. But since this is my first huggingface PR, I need to figure out how to do it.

In addition, I am working on a conditional generation class, but there is no other work other than these two classes.

[2022-06-12 18:53] shira-g commented on #17675
['Hug', 'ging', 'face']

[2022-06-12 20:18] NouamaneTazi commented on #14884
It's working now. Thanks for your help! 🤗

[2022-06-12 20:20] camila-cg commented on #16569
Hi, I received the same error here, using the code from this link: https://huggingface.co/neuralmind/bert-base-portuguese-cased

[code]

[2022-06-12 22:09] schlopp96 opened #17685 "I solved this problem by removing `dataclasses*`"

[2022-06-12 22:10] #17685 closed

[2022-06-13 00:07] ahmedlone127 commented on #17285
Hey has this been fixed?

[2022-06-13 06:18] #17475 closed

[2022-06-13 07:19] #14884 closed

[2022-06-13 07:22] #17678 closed

[2022-06-13 07:27] LysandreJik commented on #17193
I believe @patil-suraj has experience with similar scripts, would you like to have a look at this one when you have a minute, @patil-suraj ?

[2022-06-13 09:19] ZeyiLiao commented on #17566
Hi @sgugger , I want to do inference on t5-11b model and tried the `parallelize` method. It showed the error like this way

[code]

I tried to find some solutions and also set the `num_workers` of dataset class to 0. But still doesn't work.

[2022-06-13 09:48] dykim3 opened #17687 "how can I use emformer checkpoint?"
### Feature request

ImportError                               Traceback (most recent call last)
<ipython-input-1-7a40e4bd817f> in <module>
----> 1 from transformers import EmformerForRNNT
      2
      3 model = EmformerForRNNT.from_pretrained("anton-l/emformer-base-librispeech")

ImportError: cannot import name 'EmformerForRNNT' from 'transformers' (  .local/lib/python3.8/site-packages/transform

[2022-06-13 10:43] MichaelZhouwang commented on #15415
Hi, could you please share how you get to reproduce to results?

[2022-06-13 11:06] zzasdf commented on #15415
It's impossible, because the model hasn't been finetune on the translation. The details are on https://github.com/huggingface/transformers/tree/v2.9.0/examples/translation/t5

[2022-06-13 11:08] MichaelZhouwang commented on #15415
@zzasdf Thanks a lot!

[2022-06-13 11:17] mayankjobanputra opened #17688 "clm example training script uses larger train/eval data than it should"
### System Info

[code]

### Who can help?

@sgugger @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Just run `examples/pytorch/language-modeling/run_clm.py` script with `max_train_

[2022-06-13 11:22] mayankjobanputra commented on #17688
If you approve that this is a legitimate bug, then please let me know I will open the PR.

[2022-06-13 11:42] sgugger commented on #17670
How many GPUs do you have? You launch the second script with `accelerate launch`, so will use distributed training if you have several GPUs, while the first script is launched with Python so is not distributed.

[2022-06-13 11:49] sgugger commented on #17681
cc @pacman100

[2022-06-13 12:18] sgugger commented on #17688
This is completely intended and not a bug. Sample/example is meant as one processed training/evaluation example, which is what is done here.

[2022-06-13 13:29] Luo-Kaiyi commented on #16587
Worked by downgrading pytorch to 1.10. Thanks!

[2022-06-13 14:29] NtaylorOX opened #17690 "GPT-2 based models generation breaks when adding new special tokens"
### System Info

[code]

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The problem occurs when using GPT2 based models with the transformers library, and speci

[2022-06-13 15:02] #17115 closed

[2022-06-13 15:02] #17089 closed

[2022-06-13 15:02] #16960 closed

[2022-06-13 15:02] #16790 closed

[2022-06-13 15:02] #16366 closed

[2022-06-13 15:08] przecze opened #17691 ""comet-ml not installed" error in Trainer (despite comet-ml being installed)"
### System Info

[code]

### Who can help?

@sg

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Install comet-ml (in my case comet-ml==3.31.3)
2. Create TrainingArguments with `report-to='comet_m

[2022-06-13 16:28] mingboiz commented on #17569
Hey there @sanchit-gandhi @ayushtues, I’m also interested in contributing, if any assistance is still required. Please do let me know!

[2022-06-13 16:58] stas00 commented on #17193
Great! Thank you for tagging Suraj, Lysandre! and thank you, Suraj for checking it

[2022-06-13 17:23] simonhughes22 opened #17694 "In run_mlm.py the group_texts function incorrectly splits the text into lists of chars"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

[code]

[2022-06-13 17:34] #17581 closed

[2022-06-13 17:54] #17694 closed

[2022-06-13 17:54] simonhughes22 commented on #17694
opened in accident, you are deleting that column

[2022-06-13 18:27] rurujisu opened #17695 "Difference in the number of data during deep learning"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

import matplotlib.pyplot as plt
import matplotlib.tri as tri
import numpy as np
import panda

[2022-06-13 20:36] #16681 closed

[2022-06-13 20:39] ZeyiLiao commented on #17534
@stas00 ,Thank you! I have sucessfully trained the t5-11b.

And here, I want to do the inference in my setup code. Since it's hard to load t5-11b on one GPU, I use model.parallelize to do the inference part.
[code]
But the errors said:
[code]

I have find some solution said that set `num_workers = 0`, but it still doesn't work.

[2022-06-13 21:31] stas00 commented on #17534
`parallelize` is about to be deprecated and as such is no longer supported. Please use deepspeed instead, it's many folds more superior to the naive parallelization.

[2022-06-14 00:09] ZeyiLiao commented on #17534
@stas00 ,Thanks a lot!

In my case, we use pytorch-lightning and what I want to do is
`model = T5ForConditionalGeneration.from_pretrained('./checkpoint)`
And follow the [doc ](https://pytorch-lightning.readthedocs.io/en/stable/advanced/model_parallel.html#deepspeed-zero-stage-3-tips)here to set

[code]
But although I am just doing prediction, why it will still call the `def configure_optimizers(se

[2022-06-14 00:13] stas00 commented on #17534
wrt to the traceback you shared, `pip install ninja` should do the trick, even though it should have already been installed. something `$PATH` env var is missing the bin dir where pip installs to, check with:

[code]

it should give you the path to the binary. Don't try to run deepspeed again until the above returns the path. if it returns nothing it means that your python's env `bin` dir is not i

[2022-06-14 00:15] stas00 commented on #17534
there is another workaround that requires no ninja and it's to prebuild deepspeed https://huggingface.co/docs/transformers/main/main_classes/deepspeed#installation (local install where you clone deepspeed and then build it)

[2022-06-14 02:48] anuragshas commented on #17569
Hey there @sanchit-gandhi @ayushtues, I’m also interested in contributing. @sanchit-gandhi I have sent you a DM on slack.

[2022-06-14 04:47] inimah commented on #6535
Hi @patrickvonplaten

An example of use case (for me) is an open-ended text generation after **soft-prompt tuning**.

During the tuning, only the embeddings of n_tokens prompt is learnable. Other parameters are being frozen.
So the input of forward() function is the concatenated embeddings of n_tokens prompt and the embeddings of actual input (discrete tokens). Prompt is represented as dummy -- no

[2022-06-14 05:58] abs-xyz commented on #11249
I am facing this issue in transformers version 4.19.4.
This is the code I'm using:
[code]

Error:
[code]

[2022-06-14 07:04] abs-xyz opened #17696 "TypeError: can't pickle _thread.lock objects"
### System Info

[code]

### Who can help?

@amogkam

### Information

- [ ] My own modified scripts
- [ ] The official example scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Note: this is related to [this closed issue](https://github.com/huggingface/transformers/issues/1

[2022-06-14 07:04] kelvinAI opened #17697 "Need the ability to modify PSM values for Tesseract call in LayoutLM V2/ XLM / V3 Processor"
### Feature request

There exists a need to modify PSM values while calling Tesseract during feature extraction stage with OCR enabled.
https://github.com/huggingface/transformers/blob/31ee80d55673f32c0f5d50936f371e661b74b21a/src/transformers/models/layoutlmv3/feature_extraction_layoutlmv3.py#L53

### Motivation

Changing Page Segmentation Modes(PSM) values have significant impact on the output of

[2022-06-14 07:51] talha1503 commented on #7497
@nrjvarshney Did you find any suitable way to use `generate` function for a custom model? I am facing a similar issue with a model of mine, and would be really grateful if you could let me know how to solve the issue.

[2022-06-14 08:32] andy1122 commented on #17596
@danielhoshizaki , I would love to contribute for this new model.

[2022-06-14 10:07] pzdkn commented on #14456
Any updates on this?

[2022-06-14 10:33] gante commented on #17285
Hey @ahmedlone127 👋 It hasn't been fixed yet.

[2022-06-14 11:09] sanchit-gandhi commented on #17569
Hey @mingboiz and @anuragshas, if you guys could drop me an email at sanchit[at]huggingface.co I can send you over email invites to the Slack channel!

[2022-06-14 11:15] sanchit-gandhi commented on #17569
Great to see so much interest in adding this model! 🔥 Should be a fun collaborative project!

[2022-06-14 11:18] andy1122 commented on #17569
Hi @sanchit-gandhi, I have send you the rquest to send me the invite link. I would also love to contribute here.

[2022-06-14 11:55] mayankjobanputra commented on #17688
Yeah maybe for my purposes I needed it to filter the number of samples before grouping and I thought it would be same for others.

Thanks for the quick response. Closing the issue :)

[2022-06-14 11:55] #17688 closed

[2022-06-14 12:54] patrickvonplaten commented on #17365
I'd be fine with this design - think it's nice! Think we should maybe put it under a new class though, called `Callback` instead of `StoppingCriteria` ?

[2022-06-14 12:59] patrickvonplaten commented on #15232
Hey @ayushtues,

We need to pass the `sampled_negative_indices` to get a loss - it's more or less equivalent to the "labels" in training

[2022-06-14 15:02] #17126 closed

[2022-06-14 15:02] #17116 closed

[2022-06-14 15:02] #17102 closed

[2022-06-14 15:51] haileyschoelkopf opened #17703 "Add Flax implementation for BLOOM"
### Model description

I'm interested in adding an implementation of BLOOM in Flax.

The implementation shouldn't be too bad since the pytorch implementation can serve as a guide and a way to check correctness.

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

@younesbelkada @stas00 @patrickv

[2022-06-14 16:03] donaghhorgan commented on #16998
I'm seeing the same for the 125m and 350m OPT tokenizers (haven't checked the larger ones):

[code]

Is this definitely a bug?

[2022-06-14 17:11] maria364 opened #17704 "Cannot run run_qa.py due to "ImportError: cannot import name 'send_example_telemetry'""
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I am trying to run the [run_qa.py](https://github.com/huggingface/transformers/blob/main/exa

[2022-06-14 18:21] chijames commented on #17681
@pacman100 Thanks for looking into this! Would love to provide any additional information!

[2022-06-14 19:48] SaulLu commented on #17682
Hi @teetone,

Thank you for your detailed outcome. While investigating, I noticed that the portion of text that produces this behaviour is `"the simplicity of their 'studio' is the reason why"`

[code]
The reason is that by default the `clean_up_tokenization_spaces` argument is set to true and has the effect of removing the space between `their` and `'studio'`. By specifying this argument to False

[2022-06-15 02:39] violetymr commented on #17296
I met the same problem. Have you fixed this?

[2022-06-15 02:47] ZeguanXiao opened #17705 "mBART generate random strings in end of sentence"
### System Info

[code]

### Who can help?

@patil-suraj@patrickvonplaten, @Narsil, @gante

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

Since this happens to my personal project and the code is t

[2022-06-15 03:23] #17705 closed

[2022-06-15 04:37] KoichiYasuoka opened #17706 "QuestionAnsweringPipeline returns full context in Japanese"
### System Info

[code]

### Who can help?

@Narsil @sgugger

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

QuestionAnsweringPipeline (almost always) returns full `context` in Japanese, for example

[2022-06-15 04:50] KoichiYasuoka commented on #17706
I suspect that "encoding" in Japanese models do not work at https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/question_answering.py#L452
but I'm vague how to fix.

[2022-06-15 05:27] cyr0930 commented on #17580
I am wrong about this issue.
It works fine.

[2022-06-15 05:27] #17580 closed

[2022-06-15 06:28] xixiaoyao opened #17707 "DensePhrase: StopIteration: Caught StopIteration in replica 0 on device 0."
### System Info

[code]

### Who can help?

I installed densephrase absolutely followed with readme, [here](https://github.com/princeton-nlp/DensePhrases)

and when I run `make draft MODEL_NAME=test`，it raises error as follows.

![image](https://user-images.githubusercontent.com/24541791/173757450-0f05b89a-ba95-4c6c-a17e-358331e44ce2.png)

### Information

- [X] The official example scripts
- [ ]

[2022-06-15 08:55] NielsRogge commented on #17665
Hi,

This has already been asked in #17473. I'll review the related PR #17491

[2022-06-15 10:02] #17665 closed

[2022-06-15 10:02] DericZhao commented on #17296
You can download the latest version of transformers, have a good day.

[2022-06-15 10:35] teetone commented on #17682
@SaulLu, thanks for your help! I'm using this `encode` + `decode` logic to truncate text to fit in a given context window. Is it safe to say that if I want to truncate while preserving the original text, I should pass in `clean_up_tokenization_spaces=False` when calling `decode`?

[2022-06-15 11:27] NielsRogge commented on #17687
Hi,

Emformer hasn't been added to the library yet.

[2022-06-15 11:28] NielsRogge commented on #17609
Hi, indeed, as mentioned above, the `generate` method has a `max_length` argument which you can set appropriately.

Details here: https://huggingface.co/docs/transformers/v4.19.4/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.generate

Closing this issue.

[2022-06-15 11:28] #17609 closed

[2022-06-15 12:07] pacman100 commented on #17681
Hello @chijames, thanks for letting us know that `default_auto_wrap_policy` is no more, will be fixing it shortly. Regarding the subsequent error, it is unrelated to the integration and I have opened issue in PyTorch repo for the same and mentioned this issue in that issue as seen above.

[2022-06-15 12:28] B4ngB4ng commented on #14409
`pytorch-directml` replces `torch`
But `transformers` dont recognice/accept it

https://pypi.org/project/pytorch-directml/
https://docs.microsoft.com/en-us/windows/ai/directml/dml-intro

[2022-06-15 12:43] haileyschoelkopf commented on #17703
Thanks! I will open a WIP PR soon and tag you there once I do.

[2022-06-15 13:03] ADD-eNavarro commented on #16898
Exactly same problem here, also trying to run this under Windows 10 and getting the same error, when in processing_wav2vec2_with_lm.py, line 316, gets "fork" from context.
But since I see it's already being fixed, I'll just thank and wait 👍

[2022-06-15 13:32] johnnv1 opened #17714 "SegFormer feature extractor `do_normalize=False`"
### System Info

[code]

### Who can help?

@NielsRogge

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

This will raise:
[code]

### Expected behavior
I was expecting that no error occurs in

[2022-06-15 14:55] elsheikh21 commented on #16898
or as a quick fix you can replace "fork" with "spawn" in the line ` pool = get_context("fork").Pool(num_processes)`, file `transformers.models.wav2vec2_with_lm.processing_wav2vec2_with_lm.py`

[2022-06-15 14:56] elsheikh21 commented on #16898
or as a quick fix you can replace "fork" with "spawn" in the line ` pool = get_context("fork").Pool(num_processes)`, file `transformers.models.wav2vec2_with_lm.processing_wav2vec2_with_lm.py`

[2022-06-15 15:06] stas00 commented on #16719
do we want to resolve this or let it lapse?

[2022-06-15 15:12] sgugger commented on #16719
On my side, it's just missing the point 2, as you solved point 3. Do you want to make a PR or should I do it?

For point 4, pinging again @patrickvonplaten and @patil-suraj

[2022-06-15 15:26] gante commented on #17695
Hi @rurujisu  👋 As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other requests, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-06-15 15:31] gante commented on #17706
Hi @KoichiYasuoka  👋 As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other requests, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

(Since the issue is about the quality of the output, it's probably model-related, and not a bug per se

[2022-06-15 15:31] stas00 commented on #16719
so we do we want to escape it or just have it unescaped everywhere? `re'.'` will just match any, including the actual `.`

IMHO just having the unescaped `.` everywhere is more readable and easier to copy-n-paste/extend/etc.

[2022-06-15 15:32] sgugger commented on #16719
Agreed!

[2022-06-15 15:50] sgugger commented on #16719
Those who have clear regex patterns should be escaped and use \., for the ones that only use strings, I think it's okay to just leave the dot as is.

[2022-06-15 16:14] nitaytech opened #17718 "`max_length` and `stopping_criteria` in generate()"
### System Info

[code]

### Who can help?

@patrickvonplaten

Hi,
I don't get the logic behind `max_length` and `stopping_criteria` for `generate(self,...)` function for encoder-decoder models.
Accordingly, when you pass `max_length` you get the deprecated warning, which is ok - however, it recommends using the `StoppingCriteriaList` object with the `MaxLengthCriteria`.

Now the real problem happ

[2022-06-15 16:27] patil-suraj commented on #17703
Awesome!  Would be very happy to help with it :)

[2022-06-15 16:38] SaulLu commented on #17682
Generally it is not promised that 1-1 matching is possible. But in the particular case of GPT-2 (without added tokens or special tokens present in the sentence to be tokenized) I think it should work with `clean_up_tokenization_spaces=False` in the `decode` method!

[2022-06-15 16:41] SaulLu commented on #17595
I wasn't aware of this one! Thanks for pinging me.

However, I am not sure what would be the right behaviour here. To get a signal on how he would like to better standardize these behaviours would it be possible to share with us for which use case you use `get_special_tokens_mask` @prajwal967 ?

[2022-06-15 16:42] SaulLu commented on #17051
Another one: https://github.com/huggingface/transformers/issues/17595

[2022-06-15 16:51] teetone commented on #17682
That makes sense. Thank you again! I will close this issue as resolved.

[2022-06-15 17:50] sgugger commented on #16719
Yes, sorry about the confusion.

[2022-06-15 18:35] stas00 commented on #16719
So https://github.com/huggingface/transformers/pull/17722 will resolve item (2).

So point (4) is remaining to be resolved.

[2022-06-15 19:15] StellaAthena commented on #17653
@stephenroller Big Science was hoping to compare the BLOOM model to OPT. Do you have any idea if it’s reasonable to expect that this is resolved by the end of the month?

I would be very appreciative if you could keep me apprised of the progress.

[2022-06-15 19:41] ahmedlone127 commented on #17285
Okay thanks :)

[2022-06-15 19:52] prajwal967 commented on #17595
The use case I was looking at was to train a masked language model. There seem to be two approaches to ensure special tokens are **not masked**

Approach 1:
- Set the return_special_tokens_mask = True in the tokenization step: https://github.com/huggingface/transformers/blob/66f893320c6a6935668d7de8bff26bd5a35ae042/examples/pytorch/language-modeling/run_mlm.py#L433
- The data collator checks if we

[2022-06-15 22:56] zphang commented on #17632
Hi, sorry I've been busy. I should be able to take a look at this this weekend.

[2022-06-15 23:28] srelbo commented on #17632
Thank you @benkrause and @zphang !

[2022-06-15 23:39] pruss98 commented on #2729
Hi, is this bug now fixed?

[2022-06-16 00:35] F02934 commented on #16059
Hello @Rocketknight1  I would like to try working on CTRL (Tensorflow and Pytorch)

[2022-06-16 00:50] h2bit commented on #17670
Thanks for your reply.
I used two GPUs on a single machine. But the first script launched with Python also utilizes both of the GPUs when I check through the command `nvidia-smi`. Perhaps the trainer class has already used distributed launch and it is still slower.

[2022-06-16 04:58] Sanger2000 opened #17726 "Input Packing"
### Feature request

Sequence packing when tokenizing inputs.

Most modern large language models pack together multiple sequences to saturate their large context windows. Otherwise, they risk wasted computation with excess padding. For example T5, GPT3, and PALM all implemented input packing.

"During training we always train on sequences of the full nctx = 2048 token context window, packing multi

[2022-06-16 05:42] MichaelZhouwang commented on #17482
@sgugger Hi, that's very helpful for me. However I wonder what's the difference between directly using ```AutoModel.from_pretrained(checkpoint, device_map="auto")```  and that using ```load_checkpoint_and_dispatch()``` and ```infer_auto_device_map()```? Does both of them support fine-tuning something like OPT-30B on multiple GPUs with model parallelism? Thanks a lot for your help!

[2022-06-16 06:19] ccaapton opened #17727 "SimMIM output num_channels should not be hardcoded"
### Feature request

In all 3 simmim models,  reconstructed images channel is hardcoded as 3. This should be configurable as num_channels
[code]
@NielsRogge

### Motivation

I'm training a grayscale model, but the reconstructed image has different dimension as the input image.

### Your contribution

None

[2022-06-16 07:48] pacman100 opened #17728 "CI Tests are failing in "run_tests_pipelines_tf""
### System Info

[code]

### Who can help?

@ydshieh , @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Following CI tests are failing in "run_tests_pipelines_tf" for PR #17623  when no chan

[2022-06-16 08:57] hacceebhassan commented on #13985
@ChainYo Were you able to develop some examples?
I am facing a similar problem: I want Tokenizer and Converted Model in one file.

[2022-06-16 11:01] #17728 closed

[2022-06-16 11:19] avmodi opened #17729 "Issue with trainer.py class line #1460, 2643 and 1745."
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Error :
TypeError                                 Traceback (most recent call last)
<ipyt

[2022-06-16 11:51] sgugger commented on #17670
Yes, but you're using `DataParallel` vs `DistributedDataParallel`. This is enough to explain the speed difference very likely.

[2022-06-16 11:52] sgugger commented on #17482
No this is inference only. For training/fine-tuning we recommend the use of DeepSpeed Zero-3.

[2022-06-16 12:17] avmodi opened #17732 "Issue with trainer.py Line#1022,1025,1035,1043,1051,1059,1061"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

---------------------------------------------------------------------------
ValueError

[2022-06-16 12:45] gullabi commented on #17412
In principle I have avoided this error by putting a sleep, after the preprocessing and before loading the feature processing config json, not the most elegant solution.

Afterwards we have ran into other unrelated problems but in principle for now the script seems to be working. I am giving feedback just in case it is useful for someone else.

[2022-06-16 13:11] sgugger commented on #17729
Please include a *complete* reproducer for the bug you are raising. Your code sample does not include many things, in particular the `TrainingArguments`.

[2022-06-16 13:11] sgugger commented on #17732
Please include a *complete* reproducer for the bug you are raising. Your code sample does not include many things, in particular the `TrainingArguments`.

[2022-06-16 13:21] #17704 closed

[2022-06-16 14:27] Pedrohgv commented on #16006
HI all! Any updates on this? I've also tried to convert the OPUS-MT Marian Models to ONNX without success. I'm aware of the option to convert the encoder and decoder separately, but the issue is implementing Beam Search for the decoding process. Any changes the `optimum` package will be able to handle seq2seq models in the near future? Thanks in advance :) cc @lewtun

[2022-06-16 14:48] younesbelkada commented on #17653
@stephenroller do you use Tensor Parallelism for the opt models > 1.3b?
I faced a strange behaviour when trying to convert BLOOM model trained on Megatron-LM.
Related issue: https://github.com/pytorch/pytorch/issues/76232

[2022-06-16 15:02] #17133 closed

[2022-06-16 15:02] #17131 closed

[2022-06-16 15:02] #17127 closed

[2022-06-16 15:11] StellaAthena commented on #17653
EleutherAI has found that merging TP parallel models can be extremely non-intuitive, and it took some substantial work from @zphang to figure out how to do it while maintaining performance. You can find code for merging the TP parallel shards for our 20B model [here](https://github.com/EleutherAI/gpt-neox/blob/main/tools/merge20b.py) and I think we have some more general code as well but I would h

[2022-06-16 15:20] 920232796 opened #17735 "The messy code generated by opt125m."
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

import torch
from transformers import AutoModelForCausalLM
from transformers import TextGene

[2022-06-16 15:21] jorgeutd opened #17736 "importing 'LongT5Model' from 'transformers'"
Hello Team,

I am getting the following error when I am trying to import the new LongT5Model into my notebook:

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/tmp/ipykernel_55187/343105862.py in <cell line: 3>()
      1 #from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
      2
---

[2022-06-16 15:58] Sreyan88 commented on #15114
Hi @gante ,

Hoping you are doing good! Do we have an update on this fix? Do you want me to create a pull request since I have tested with the above fixes and it works perfectly for me!

[2022-06-16 16:12] donelianc commented on #15947
Hola @omarespejel, I'd like to help with translating _custom_models.mdx_.

[2022-06-16 17:30] donaghhorgan commented on #17389
I'm experiencing this issue when I try to use the Inference API to test a `facebook/opt-350m` model fine tuned using transformers 4.19.3, 4.19.4, or 4.20.0, and even when I install directly from git like this:

[code]

The error I'm seeing is identical to above:

Here are the package versions I'm using:

- Transformers 4.20.0
- Pytorch 1.11.0+cu102
- Datasets 2.2.2
- Tokenizers 0.12.1

[2022-06-16 17:56] ArthurZucker commented on #17389
Hey, could you provide an example script to help us reproduce the error?

[2022-06-16 18:09] ShubhamKumarNigam commented on #17295
Still. getting the same problem.

[2022-06-16 19:26] Abe410 commented on #11065
Hey

I am working on exactly the same problem as well. Does it really make the model more accurate?

Mind sharing the code with me as well? Thanks

[2022-06-16 22:05] kaliaanup opened #17741 "InvalidGitRepositoryError while running distillation train example"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

[code]

[2022-06-16 22:15] donaghhorgan commented on #17389
This seems to be able to reproduce it for me:

[code]

Just ran this on my machine and the resulting model is here: https://huggingface.co/dhorgan/17389

[2022-06-16 23:27] avmodi commented on #17729
[code]
Config File
[code]

The training_args.dedug = "" ( default value )

[2022-06-16 23:30] avmodi commented on #17732
[code]

Config

[code]
The training_args.optim = "adamw_hf" ( default choice )

[2022-06-17 03:54] yupei9 opened #17745 "GPT-NEOX RuntimeError"
Hi, when I ran the model GPT-NEOX, I got the "RuntimeError: batch1 dim 2 must match batch2 dim1" in modeling_gpt_neox.py, line 212.
So I tried to debugg and fix this problem, I found the code "present = None if use_cache else (key, value)" in modeling_gpt_neox.py, line 146.
Is that logical wrong? and the correct coding should be "present = None if not use_cache else (key, value)" ?

[2022-06-17 03:57] Doragd opened #17746 "Is there Any difference of performance when finetuning bert use the huggingface or the google official code?"
Hi,
I tend to finetune BERT with a simple text classification task.
However, I got different results when using the huggingface library (torch 1.8.1+cu111) and google's official code (tf 1.15).
I wonder if there is any optimization in huggingface for fine-tuning bert?

By the way, I believe that I use the same hyper-parameters. But I got the higher performance using the huggingface library

[2022-06-17 05:27] tolgayan commented on #2691
Tokenizers are nothing but _seperators_. It splits the sentences into subparts. The most common splitting method is using the whitespaces. When we say "training a tokenizer", it actually creates a vocabulary from a given text data. It assigns an id to each token so that you can feed these tokens as numbers to a BERT model. When you tokenize a sentence with a so-called "pretrained" tokenizer, it sp

[2022-06-17 06:56] marcomameli1992 opened #17747 "Problem with GPU"
### System Info

Hello, I'm using windows 11, with RTX2080 and python 3.9. The packages configuration is based on pytorch 1.11 + transformer4.19.0 and when I try to use the transformer in my code with the GPU I receive an error that the data that I pass can't be converted to numpy array. I have posted the problem on the forum at that link: https://discuss.huggingface.co/t/vit-problem-with-gpu-usag

[2022-06-17 09:10] eranhirs opened #17748 "Add easy extensibility of `logits_processor` to `generate`"
### Feature request

It is easy to change the behavior of `generate` with the config.
However, `logits_processor` is not read from the config, but only received [as a parameter](https://github.com/huggingface/transformers/blob/main/src/transformers/generation_utils.py#L874).

This is hard to accomplish because both [`Trainer`](https://github.com/huggingface/transformers/blob/main/src/transformers/

[2022-06-17 09:47] jordiclive commented on #16841
I'm not sure if this is a Transformers issue anymore. The same happens with Roberta.

I think the code-snippet I posted does the optimum tool reduction.

[2022-06-17 09:47] #16841 closed

[2022-06-17 10:00] greg2451 opened #17749 "Could dataloader returned in Trainer.get_test_dataloader() include the num_workers argument to speed up prediction steps ?"
### Feature request

I realized that in the `get_test_dataloader` method of the `Trainer` class, for datasets that are not instances of `torch.utils.data.IterableDataset`, the `num_workers` argument is not given to the `DataLoader` init call.

https://github.com/huggingface/transformers/blob/edb672ac5edcd92fadb15d3172a115eb5fe6f663/src/transformers/trainer.py#L936-L943

Whereas it is the case just

[2022-06-17 10:45] gante commented on #15114
Hi @Sreyan88 👋 I do not have an update for this -- it's on my queue, but the queue is big.

If you have a fix then yes, please open a PR 🙏 It would be greatly appreciated!

[2022-06-17 11:14] BirgerMoell commented on #17569
I'm also open to helping out with this.

[2022-06-17 11:20] NielsRogge commented on #17736
Hi,

LongT5 is only available in Transformers v4.20.

[2022-06-17 12:02] sgugger commented on #17729
This is not a reproducer, as it relies on modules you have define on your environment. We have no idea how you defined the class `MultiModalTrainingArguments` in particular, which is probably where the problem lies.

Please use the [forums](https://discuss.huggingface.co/) to get helps from the community to debug your code (and find a small reproducer of the bug if it is indeed a bug in the lbirar

[2022-06-17 12:14] andy971022 opened #17752 "`Trainer` has a weird way of determining whether a TPU device is present"
### System Info

[code]

### Who can help?

I am very unlucky to have encountered this issue where a TPU device is assumed to be present on the machine, which it doesn't.
It prompted this error `RuntimeError: tensorflow/compiler/xla/xla_client/computation_client.cc:274 : Missing XLA configuration` and hinted me that something related to TPU is causing the error.

After some debugging, I realized t

[2022-06-17 12:53] davidmezzetti opened #17754 "Text classification pipeline outputs differ with 4.20"
### System Info

[code]

### Who can help?

@Narsil

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

# 4.19.4

[code]

Output:
[code]

# 4.20.0
[code]

Output:
[code]

Running with top_k=None also pr

[2022-06-17 13:21] v3ss0n commented on #14248
What if the training set is Non-English ? Bert and existing pretrained data won't work right?

[2022-06-17 13:37] mrseeker opened #17756 "GPT-NeoX missing Tokenizer"
### System Info

[code]

### Who can help?

@patil-suraj @SaulLu

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

When I try to load the model using the following script, it hangs and tells you that

[2022-06-17 13:53] jorgeutd commented on #17736
I guess it got released today. Thank you @NielsRogge you are the GOAT.

[2022-06-17 14:20] symelaz commented on #15292
@AlexUmnov did you finally solve your issue?
I came across the same error. In my case, I got the IndexError because of the function:

`def create_position_ids_from_input_ids(input_ids, padding_idx, past_key_values_length=0):
    """
    Replace non-padding symbols with their position numbers. Position numbers begin at padding_idx+1. Padding symbols
    are ignored. This is modified from fairseq's

[2022-06-17 14:43] dgrnd4 opened #17757 "Problem during the training with the parameter train_dataset. (Dict/Tensor problem)"
Hi there, I'm following the [tutorial](https://huggingface.co/blog/fine-tune-vit), trying to fine-tune the net on Stanford Dog Dataset.

I am facing this problem: once that I try to do `trainer.train()`
this error appear:
```/usr/local/lib/python3.7/dist-packages/transformers/optimization.py:310: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use

[2022-06-17 15:13] jorgeutd commented on #17736
@NielsRogge do I still need to use the prefix:

if model_checkpoint in ["t5-small", "t5-base", "t5-larg", "t5-3b", "t5-11b"]:
    prefix = "summarize: "
else:
    prefix = ""

for summarization with the LongT5 model or not?

Thanks,

Jorge

[2022-06-17 16:04] #17314 closed

[2022-06-17 16:14] sgugger commented on #17756
Just tried your code sample and it works fine on my side. Are you sure you have `tokenizers` installed in your env? GPT-Neo-X does not have a slow tokenizer, so it requires this library.

[2022-06-17 16:17] sgugger commented on #17752
I'm not sure what the bug is: when you have `torch_xla` installed, the `Trainer` will use it (the terminology uses TPU internally but it works on GPU and CPU as well). Could you give us a reproducer of your error?

[2022-06-17 16:28] haileyschoelkopf commented on #17703
I've opened a PR (and documented the state of the in-progress code I'm still working on) at #17761 ! We can discuss further in that PR how to collaborate / proceed.

[2022-06-17 16:31] F02934 commented on #16059
@Rocketknight1 It seems that "ConvBert" is already done PR #16377 for both TensorFlow and Pytorch.
So I would like to work on "yoso"

[2022-06-17 16:45] stephenroller commented on #17653
https://github.com/facebookresearch/metaseq/blob/cf24413b2c78ad2f293fb9ac53a74be20f087863/metaseq/launcher/opt_job_constants.py#L32-L44

The final field in each of these (except 350M, where i trained it in a different one-off pipeline using MP1)

[2022-06-17 16:53] mrseeker commented on #17756
Just checked:
tokenizers             0.12.1

[2022-06-17 17:00] younesbelkada commented on #17653
Cool thanks!

[2022-06-17 17:04] aarnphm opened #17762 "feat: pipeline registry for supporting custom pipelines"
### Feature request

I propose a simple registry abstraction to allow users to dynamically register custom pipelines to transformers.

[code]

A pseudo example for `PipelineRegistry` implementation:
[code]

For any custom pipeline user can simply do
[code]

### Motivation

Currently, pipelines abstraction provides users with quick and easy way to run any given tasks. However, it is very difficult

[2022-06-17 17:58] sgugger commented on #17618
Hi @sam-h-bean !

We do not plan on supporting other model repositories than our model Hub for the `from_pretrained` method in Transformers. You should build a bridge to upload those checkpoints from MLFlow to the Hub and benefit from all the goodies we have such as the inference widget, model cards, community PRs etc. :-)

[2022-06-17 18:10] patrickvonplaten commented on #17745
Hey @yupei9 - great catch! I think you're 100% right - do you want to open a PR to fix it? Also cc @sgugger

[2022-06-17 18:13] sgugger commented on #17745
Ahah sorry, I had a PR ready already since I wanted to test if the fix worked.

[2022-06-17 18:36] patrickvonplaten commented on #16898
@ADD-eNavarro @elsheikh21 sorry I don't work with Windows usually and am a bit buried with other issues. Regarding the PR please lemme know if anything isn't clear, happy trying to be more precise - in short I think we should try to apply the exact same solution that was applied in `pyctcdecode`

[2022-06-17 18:55] patrickvonplaten commented on #6535
@ymfa could you maybe open a PR to show how a solution could look like (maybe just a super quick no dirty PR?)

Sorry I sadly won't have the time to dive into the other codebases or paper, but would be super happy to guide through a PR!

Also cc @patil-suraj @gante

[2022-06-17 20:18] gante commented on #17718
Hey @nitaytech 👋 The behavior surrounding `max_length` can't be changed, as it would not be backwards compatible. But we also don't like its behavior for the reasons you described, hence the plans to deprecate (and the warning).

As per [this recent discussion](https://github.com/huggingface/transformers/issues/17414#issuecomment-1148836312), we have decided to give preference to the `max_new_toke

[2022-06-17 20:20] gante commented on #17718
@nitaytech [this comment](https://github.com/huggingface/transformers/pull/17196#issuecomment-1159147143) might also be relevant to your pain points.

[2022-06-17 21:41] Baelish03 commented on #17459
Hi @mfumanelli, is migration.mdx already taken?

[2022-06-17 22:06] flozi00 commented on #16794
Is it still to do ?
I would be interested too or is it something for the optimum library now ?

[2022-06-17 23:29] F02934 commented on #17459
@mfumanelli I'd like to take troubleshooting.mdx

[2022-06-18 02:27] preethiseshadri518 opened #17766 "How to checkpoint TFAutoModelForSequenceClassification every k batches"
I am following the Huggingface Tensorflow Notebook to [train a BERT model on MNLI](https://github.com/huggingface/notebooks/blob/main/examples/text_classification-tf.ipynb) (the task itself is irrelevant). I am interested in checkpointing models locally every k batches, so that I end with 20 or 30 intermediate checkpoints over the course of training. The notebook uses model.fit() to train the mode

[2022-06-18 05:18] zolekode opened #17767 "Snacky Brain Bites for HF Transformers"
### Feature request

Nugget Republic has these very cool nuggets based on the HF course.
I would like to submit a PR to integrate these nuggets into either the Readme or into the official documentation if allowed.
Can anyone point me to the right place or person?

Here are a few examples of said nuggets (4 / 11 nuggets):

https://app.flexudy.com/story?mId=W7YKXTS0&dId=FMCSLFZH
https://app.flexudy.

[2022-06-18 05:46] mfumanelli commented on #17459
@Baelish03 and @F02934 I added your names to the issue for files migration.mdx and troubleshooting.mdx  🎉

[2022-06-18 07:20] xueqianyi commented on #17704
Hi, did you solve this problem, I have the same problem now

[2022-06-18 07:58] nickprock commented on #17459
hi @mfumanelli I'm waiting for the reviews about my PRs, in the next week I can work on debugging.mdx

[2022-06-18 08:03] stefan-it commented on #17147
Issue was fixed with #17641 , so I'm closing it :)

[2022-06-18 08:03] #17147 closed

[2022-06-18 08:15] NielsRogge commented on #16308
Updated the list to leverage Github tasks instead. You can now see that 33 of the 93 models are supported. However, there are some new models to be added to the list which were added in v4.20

[2022-06-18 08:17] ChainYo commented on #16308
Thanks!
I will update the list very soon then.

[2022-06-18 09:14] xueqianyi commented on #17704
@maria364
Hi, did you solve this problem, I have the same problem now TAT

[2022-06-18 14:17] sam-h-bean commented on #17618
Hey @sgugger does the Hub have support for private models? These are proprietary models and thus can not be made public. What is the suggest method for cases such as this? It seems like this is a case that will become more prevalent as more companies adopt large language models.

[2022-06-18 15:01] #17159 closed

[2022-06-18 15:01] #17157 closed

[2022-06-18 15:02] #16795 closed

[2022-06-18 15:58] #17259 closed

[2022-06-18 21:18] StephennFernandes commented on #15464
@stefan-it , hey could you please tell me how exactly does the conversion script works.

Actually i tired run the conversion script and I seems like the config file in t5x is in . gin format and the script expects the config file to be in .json format.

Hence I was stuck from converting my t5x model to HF.

Could you please show me how it's done and provide some details

[2022-06-19 00:28] calculusoflambdas commented on #17736
@NielsRogge Also I think the model name in the long-t5 README is wrong (https://huggingface.co/google/long-t5-tglobal-large). It says
[code]
But I think it should be
[code]

[2022-06-19 05:29] rushic24 commented on #16308
@ChainYo OPT-30B here https://github.com/huggingface/transformers/pull/17771

[2022-06-19 07:34] FADEPO89 commented on #11713
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.5.0 requires daal==2021.4.0, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.
mxnet 1.7.0.post2 requires

[2022-06-19 07:43] HaoboGu opened #17773 "Converting a tensor to a Python boolean might cause the trace to be incorrect when converting gpt2 to onnx format"
### System Info

[code]

### Who can help?

@patil-suraj
@patrickvonplaten
@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I'm trying to convert transformers GPT2LMHeadModel to onnx for

[2022-06-19 07:50] mfumanelli commented on #17459
Perfect @nickprock 🚀 I added your name on the issue for the debugging.mdx translation

[2022-06-19 08:36] stefan-it commented on #15464
Hi @StephennFernandes , could you please try to use these steps, mentioned in the corresponding PR:

https://github.com/huggingface/transformers/pull/16853#issuecomment-1105004694

The config file needs to be in JSON format, yes :)

[2022-06-19 08:37] stefan-it commented on #15464
If you get any errors, please post them here, so we can try to find a solution :hugs:

[2022-06-19 08:40] flozi00 opened #17774 "RHO loss"
### Feature request

https://github.com/oatml/rho-loss

Abstract

### Motivation

It's always nice to speed up training :)

### Your contribution

I am not sure if I am able to add this to transformers on myself but would be happy to give it a try with advices how to design the API

[2022-06-19 12:18] StephennFernandes commented on #15464
@stefan-it , thanks for replying. I followed the steps as instructed in [#16853](https://github.com/huggingface/transformers/pull/16853#issuecomment-1105004694) and tried converting my pretrained t5_1_1_base model to hugginface.

But i get the following error:

[code]

[2022-06-19 14:05] NielsRogge commented on #17736
Feel free to open an issue/PR on the repo on the hub!

[2022-06-19 15:01] #17172 closed

[2022-06-19 15:01] #17169 closed

[2022-06-19 15:01] #16802 closed

[2022-06-19 15:01] #16733 closed

[2022-06-19 18:19] divyanshuaggarwal commented on #12322
This is not faster than GPU. Seems like you are just unloading the model back to CPU, which is actually slower and we can't really leverage the power of TPU.

[2022-06-19 22:25] willtai commented on #16059
Hey there @Rocketknight1 I would like to work on MegatronBERT 😄

[2022-06-20 00:25] ZeyiLiao commented on #17534
Hi @stas00 , based on [this](https://github.com/huggingface/transformers/issues/17534#issuecomment-1146820498), why I can not work though I pass the master_port and master_addr for deepspeed. I wanna run two run_translation.py jobs one a single node (8 gpus in total) with 4 gpus per job.

I just run `netstat -tulpn | grep LISTEN` and see that:
[code]

So my command is `deepspeed --master_port 4378

[2022-06-20 05:35] mdshah930 opened #17778 "Dataset Format for training RAG on custom Dataset"
### System Info

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Steps to reproduce error -  No format mentioned for data preparation for training RAG on cus

[2022-06-20 06:21] stefan-it commented on #15464
Hi  @StephennFernandes could you try to install:

[code]

The `tensorstore` package was the reason for that `zarr driver` error message in my conversion experiments.

[2022-06-20 06:44] abdulsalam-bande commented on #735
Changing my learning rate from 0.01 to 5e-5 worked for me.

[2022-06-20 06:52] Qwtdgh commented on #8134
Hello did you managed this error? I am too having same error. Is there anybody to help?

[2022-06-20 06:57] MowanHu commented on #14440
halo，do u understand details about this "is_beam_sample_gen_mode" now ?

[2022-06-20 08:26] AlexUmnov commented on #15292
@symelaz unfortunately it was more relevant for my project to just abandon that.

[2022-06-20 09:19] wac81 commented on #11447
thank you a lot

[2022-06-20 09:33] StephennFernandes commented on #15464
@stefan-it , hey i tried that but i didnt work for me, i still get the same error.  I came across this issue in the t5x repo [#452](https://github.com/google-research/t5x/issues/452)

i am currently using ubuntu 20.04 with linux kernel 5.13.0

[2022-06-20 11:17] stefan-it commented on #15464
Hi @StephennFernandes ,

I think I have a working solution now. I installed everything in a fresh new virtual environment, but I got bazel errors (hopefully Google will stop using bazel someday...) when trying to build `tensorstore==0.1.13`.

What I did then:

[code]

to install latest version of `tensorstore`. The non-working conversion script call looks like:

[code]

But `tensorstore` is not ab

[2022-06-20 12:13] mfumanelli commented on #17459
Hi @lorenzobalzani! If it's ok with you, I'll add you on the issue for the community.mdx file 🚀

[2022-06-20 12:25] sgugger commented on #17618
Yes, you can have private models/datasets/spaces on the Hub. See the [doc](https://huggingface.co/docs/hub/repositories-settings#private-repositories)!

[2022-06-20 12:43] #17745 closed

[2022-06-20 12:45] andy971022 commented on #17752
@sgugger
Thank you for the response! Below is an example how I reproduced the problem

The only difference is the presence of the `torch_xla` package, installed via
`!pip install cloud-tpu-client==0.10 https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.11-cp37-cp37m-linux_x86_64.whl`
Models, datasets, nor the versions of the installed packages matter.

## Error
[code]
### Error message

[2022-06-20 12:50] andy971022 commented on #17752
I have reproduced this error in multiple environments, here is one of the example, a Vertex AI Notebook.

[code]

[2022-06-20 14:56] StephennFernandes commented on #15464
@peregilk , thanks for sharing.  actually the link isnt available, apparently i believe its private. could you please check and confirm.

[2022-06-20 14:59] Bachstelze opened #17781 "KeyError: 'src_texts' in train_distil_marian_enro.sh"
### System Info

[code]
[code]

[2022-06-20 15:02] peregilk commented on #15464
@StephennFernandes Sorry about that. Now it is public.

As a side note, especially to @patrickvonplaten: Wouldnt it be nice to put a wrapper around the great script that @stefan-it have made. A script that also loads the models in HuggingFace and saves them in PyTorch and TF format, creates the necessary tokenizers. Maybe even copies over the training-logs from the t5x-checkpoints. I have done thi

[2022-06-20 15:03] #17220 closed

[2022-06-20 15:03] #17180 closed

[2022-06-20 16:47] gante commented on #17746
Hi @Doragd  👋 As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other matters, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-06-20 16:47] patrickvonplaten commented on #15464
I think this would indeed be a great idea! Maybe we can open a `T5X` folder under https://github.com/huggingface/transformers/tree/main/examples/research_projects with lots of functionality for conversion ?

[2022-06-20 16:52] patrickvonplaten commented on #17355
I see, thanks for putting up this issue here!

Think the easiest fix in this case would be to use transition from `numpy.random` to `jax.random`: https://jax.readthedocs.io/en/latest/jax.random.html no? This way the user can always pass a PRNG key to the forward which would define the random attention mask?

What do you think @vasudevgupta7 ?

[2022-06-20 16:53] patrickvonplaten commented on #17773
@lewtun for ONNX here

@HaoboGu before we can answer the issue could you please add a complete reproducible code snippet here?

[2022-06-20 16:57] gante commented on #17748
Hey @eranhirs 👋  On the `generate` end, if I recall correctly (I can't find the discussion), we want to steer away from controlling generation from the `config` file -- cc @patrickvonplaten.

Maybe we can pass generation kwargs to `Seq2SeqTrainer` -- WDYT @sgugger?

[2022-06-20 17:04] gante commented on #17766
Hey @preethiseshadri518 👋  We have an outstanding set of issues related to the `SavedModel` format, resulting in the errors you see. There are ways to work around it, by manually specifying portions of the graph at save time -- you can find them if you search in closed issues here :)

A much simpler workaround, if it suits your problem, is to store/load the weights with [`save_weights`](https://ww

[2022-06-20 17:14] patrickvonplaten commented on #17412
Hey @gullabi,

Exactly in the second step, you should be able to fully skip the dataset processing. In short, I'd strongly advise to create the whole tokenizer file before doing the multi-node run and then this `if-branch`: https://github.com/huggingface/transformers/blob/da27c4b398e607c161451f335367ad666de08497/examples/pytorch/speech-recognition/run_speech_recognition_ctc.py#L500 should never be

[2022-06-20 17:22] #17746 closed

[2022-06-20 17:22] #17766 closed

[2022-06-20 17:26] patrickvonplaten commented on #17653
That's very interesting! Thanks for all the pointers here @StellaAthena @stephenroller @younesbelkada - let's try out whether this fixes it :-)

[2022-06-20 17:27] patrickvonplaten commented on #17207
Great job on porting the model!

[2022-06-20 17:27] #17207 closed

[2022-06-20 17:34] NtaylorOX commented on #17690
Hi!  Thanks for the reply @patrickvonplaten

So there was actually a bug in my issue! The output was meant to be fully of <pad> tokens or whatever additioanl special tokens had been added - but it seems markdown was showing/compiling these.  I've updated comment now.

So what happens is that when you update the GPT2 tokenizer via add_special_tokens - the generate function ends up just predicting t

[2022-06-20 19:55] F02934 commented on #16059
Hi @Rocketknight1 I checked the Colab notebook and I will be adding the missing type hints for CVT (Pytorch)