[2022-08-03 19:28] gante commented on #18403
Hi @namespace-Pt 👋

Does [this function](https://github.com/huggingface/transformers/blob/dbd9641c8c0e146c078cbee11cdefcf556f6c817/src/transformers/generation_utils.py#L804) solve your issue?

I noticed that it is undocumented, so it is hard to find 😬

[2022-08-03 19:50] gante commented on #17222
This issue is fixed, XLA T5 should be working properly :)

[2022-08-03 19:50] #17222 closed

[2022-08-03 21:44] #18227 closed

[2022-08-03 22:19] sajastu opened #18463 "Multi-GPU setting: Expected to mark a variable ready only once (RuntimeError)"
### System Info

I’m trying to run a Huggingface model on a multi-GPU environment. The problem is that when I’m processing multiple inputs which are bound to each other from a single class (shared-weights encoder), I’m getting `RuntimeError: Expected to mark a variable ready only once`. While if I use this encoder module only once, for processing the first input, I won’t get this error, in multi-G

[2022-08-03 23:59] harshit-sethi09 opened #18464 "mypy typing not working for AutoModelForMaskedLM when used with Trainer"
### System Info

Python version - 3.9
transformers version - 4.20.1

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Initialise `AutoModelForMaskedLM`
model = `AutoMod

[2022-08-04 00:32] smith-co opened #18465 "How to embed relational information in a Transformer for NMT task?"
### Feature request

Embedding relational information for a transformer

### Motivation

I am using Transformer model form huggingface for machine translation. However, my input data has relational information as shown below:

![image](https://user-images.githubusercontent.com/102386930/182737748-7d0fd33e-caa6-4c51-a540-92123cf82bbf.png)

So I have has semantic information using Language Abstract

[2022-08-04 01:55] SinclairCoder commented on #18284
It also confuses me.

@patrickvonplaten @patil-suraj @craffel

[2022-08-04 02:55] namespace-Pt commented on #18403
@gante Thanks, the function worked. However, in the above example, how can I get the `sequences_scores` given the returned transition scores?

[2022-08-04 03:10] Sanger2000 opened #18466 "Fused Softmax Kernels"
### Feature request

Optional Fused Softmax Cuda kernels for transformer implementations.

Megatron-LM has implemented these [here](https://github.com/NVIDIA/Megatron-LM/tree/main/megatron/fused_kernel), and they offer massive speedups for models under 10B params when training at 2048 sequence lengths. In my experience, this amounts to 2x improvements in throughput. As you can see from [this examp

[2022-08-04 07:34] alaradirik commented on #18445
Hi @MocktaiLEngineer! Of course, you can also @NielsRogge, @Narsil or me if you need any help or have any questions.

[2022-08-04 07:41] WissamAntoun commented on #18239
@gante I tested the `tf.einsum` implementation. It gave me the same performance as the `one_hot` trick, which is about ~120 seq/second.
I tried it with different batch sizes but still it didn't change much.

This is a screenshot of the profiler:
![Screenshot 2022-08-03 155826](https://user-images.githubusercontent.com/44616226/182791801-021e4e4b-cff1-476a-8d94-95cec54b43d7.jpg)

[2022-08-04 07:55] ydshieh commented on #18463
Hi @sajastu Could you share a (minimal) code snippet that could reproduce this issue? Thank you.

[2022-08-04 09:21] nandwalritik commented on #18446
Hi @NielsRogge I would like to add this pipeline.

[2022-08-04 09:28] gante commented on #18239
I'm out of suggestions :( I suspect this is a good question for Google's XLA and TPU teams -- the problem is probably at a compiler/hardware level.

[2022-08-04 09:29] NielsRogge commented on #18446
Hi @Narsil,

I'm not sure whether we should add this to the existing image-segmentation pipeline. Depth estimation is basically pixel regression, rather than pixel classification (the latter is image segmentation). It would be quite confusing to add it there.

Depth estimation is quite a different field, see e.g. https://paperswithcode.com/task/depth-estimation

[2022-08-04 09:29] tqnwhz commented on #17124
It does not work for me :(. Could you please provide related links in your solution? Thanks very much.

[2022-08-04 09:31] kiansierra commented on #18437
Hi @muellerzr I opened this PR https://github.com/huggingface/transformers/pull/18468 for the 4th example and ran it locally.
Please let me know if there is any changes, you would like done on this example, And I'll update it and add the feedback while I work on examples 5 and 6

[2022-08-04 09:35] nandwalritik commented on #18446
Thanks I will start working on it.

[2022-08-04 09:43] harshit-sethi09 commented on #18373
I am facing the same error with Transformers version 4.21.0 - model trained on same transformers version and loading the best model after training gives this error. I am using `xlm-roberta-base` with `AutoModelForMaskedLM`

<img width="1182" alt="Screen Shot 2022-08-04 at 7 41 08 pm" src="https://user-images.githubusercontent.com/88991319/182816339-66bdcf23-7ea6-4ba6-9984-615979732ecf.png">

[2022-08-04 10:15] Rasmusafj commented on #18436
Hi @muellerzr

I took a go at this (accelerate seems awesome!), and implemented the changes quickly. However, I noticed some performance degredation when using the the gradient accumulation wrapper.

After some debugging, I think it stems from the lr_scheduler implementation in accelerate updating learning rate at every step in training loop whereas the example script updates the learning rate eve

[2022-08-04 10:23] gante commented on #18403
@namespace-Pt check these two threads:
1. https://github.com/huggingface/transformers/issues/16413
2. https://github.com/huggingface/transformers/issues/15869

TL;DR you can't directly atm unless you specify a length penalty of 0

[2022-08-04 10:26] #16823 closed

[2022-08-04 10:26] #18357 closed

[2022-08-04 10:59] bariluz93 commented on #18455
thank you very much for your answer
is it per language? some languages don't have a separate embedding matrix for the encoder and the decoder?
is there a way to know in advance which language has separate matrices and which doesn't?
thanks
Bar

[2022-08-04 11:37] sgugger commented on #18436
No we can't do this as then the user would have to know in advance the number of optimization steps when they create their scheduler (which they don't since Accelerate handles gradient accumulation behind the scenes). That's why the learning rate scheduler should be created with the full number of training batches prior to gradient accumulation, then stepped at each batch (which is roughly equival

[2022-08-04 11:57] sgugger commented on #18373
Thanks for reporting @harshit-sethi09, with the initial report I thought this was a change in the XLM-RoBERTa model that was causing problems across versions but the whole reload is broken in 4.21.0 because of the changes in #18221 .

The PR mentioned above should fix it and we will soon make a patch release with it.

[2022-08-04 12:03] sinking-point commented on #18465
What is the input to the transformer going to be? Is it more like:

but with the graph data encoded into the embeddings somehow? Or more like:

with the graph data iteslf as input?

[2022-08-04 12:12] Narsil commented on #18446
I said we should inspire from it, not reuse it, but I suggested using an `image-generation`one.

The output is a grayscale image, right ?

[2022-08-04 12:22] #18373 closed

[2022-08-04 12:27] namespace-Pt commented on #18403
Got that. Thank you.

[2022-08-04 12:27] #18403 closed

[2022-08-04 12:52] kmkarakaya opened #18472 "TFEncoderDecoderModel can not be trained with TF Keras fit() method"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-4.15.0-188-generic-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.6.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>

[2022-08-04 13:02] NK74 commented on #12859
Same issue

[code]

[2022-08-04 14:08] Rasmusafj commented on #18436
@sgugger Cool!

So if I understand you comment,

* learning rate scheduler should not know anything about the actual optimization steps, but assume every batch is a step
	- Hence, num_training_steps for the lr_scheduler is num_training_steps=math.ceil(len(train_dataloader)) * args.num_train_epochs, instead of taking gradient_accumulation_steps into account
	- This means that if gradient_accumulati

[2022-08-04 14:25] sgugger commented on #18436
It's going to be easier to just have the progress bar display the number of completed steps. Also, we should multiply `max_steps` by the number of gradient accumulation steps for the same reason (if the user provides it).

[2022-08-04 14:32] zhao1402072392 commented on #17741
Hi, did you resolve this error?

[2022-08-04 14:34] kaliaanup commented on #17741
I haven't. I am still waiting for a reply on this.

[2022-08-04 14:35] mareloraby commented on #17124
Hey @tqnwhz, sorry I don’t have a reference I can link. My colleague who worked with an Encoder-Decoder model before helped me with that

[2022-08-04 14:39] AniketRajpoot commented on #17124
Hello @tqnwhz!
I hope you are doing well.

Can you take a look at following issues :

- https://github.com/huggingface/blog/issues/292
- https://github.com/huggingface/transformers/issues/17122

If these doesn't solve check out this blog : https://huggingface.co/blog/warm-starting-encoder-decoder#data-preprocessing

[2022-08-04 14:40] zhao1402072392 commented on #17741
OK, I tried to upgrade the version of gitpython and gitdb2, but it doesn't work.

[2022-08-04 14:52] WissamAntoun commented on #18239
Yeah this is a weird and unexpected bug. Do you know someone we can get in contact with from Google's XLA or TPU team?

And thanks a lot for the efforts you guys put into this issue!

[2022-08-04 15:02] #17886 closed

[2022-08-04 15:02] #17884 closed

[2022-08-04 15:20] muellerzr commented on #18436
I think either option would work fine as well. The reason behind `sync_gradients` as part of the Accelerator is to provide this open interface to perform a check like this, so from an API design it's correct.

My $0.02 is to either explain in a comment what `sync_gradients` checks briefly, or to do as Sylvain recommended here.

[2022-08-04 15:31] ydshieh commented on #17124
@AniketRajpoot Do you have no more issue with new transformer's version(s)?

[2022-08-04 15:35] gante commented on #18239
@sanchit-gandhi do you know a good point of contact for TPU problems?

[2022-08-04 15:48] stefan-it commented on #18239
Ping @JackCaoG for help :)

[2022-08-04 15:54] jGuedex commented on #2704
And about work with multiple GPUs?

[2022-08-04 16:58] unography commented on #16308
@ChainYo would love to take up CLIP if there's no one working on it yet?

[2022-08-04 17:08] kiansierra commented on #18437
Hi @muellerzr I opened this PR https://github.com/huggingface/transformers/pull/18474 for examples 5,6 and 7.

[2022-08-04 17:49] mikcnt commented on #12322
Is there any update on this?

[2022-08-04 17:50] AniketRajpoot commented on #17124
Actually I did not train the same model but rather a different generation model based on codeBERT. But it was having some different issues.

[2022-08-04 18:20] divyanshuaggarwal commented on #12322
I had an exchange with @gante about it and it seems like the code will need major refactoring for this. https://huggingface.co/spaces/joaogante/tf_xla_generate_benchmarks/discussions/1#62eb9350985a691200cf2921

[2022-08-04 19:16] sinking-point commented on #18461
This has been resolved by using a smaller learning rate.

[2022-08-04 19:16] #18461 closed

[2022-08-04 19:30] talhaanwarch commented on #15392
@patrickvonplaten I have set eos and bos token to null, still i am getting the same error.
Here is my model
https://huggingface.co/Talha/URDU-ASR

[2022-08-04 19:45] tmoroder opened #18476 "Fine tuning TensorFlow DeBERTa fails on TPU"
### System Info

Latest version of transformers, Colab TPU, tensorflow 2.

- Colab TPU
- transformers: 4.21.0
- tensorflow: 2.8.2 / 2.6.2
- Python 3.7

### Who can help?

@LysandreJik, @Rocketknight1, @san

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own

[2022-08-04 19:54] smith-co commented on #18465
The graph could be though of like the following:

[code]

Essentially each token in the sentence is a `node` and there could be `edge` embedded between tokens.

[2022-08-04 20:45] abhi-mosaic commented on #18466
@Sanger2000 could you add a link to the kernels from Megatron-LM? I'm curious if it could be easily combined with a fused kernel for attention-dot-product, like FLASH attention.

[2022-08-04 20:59] Sanger2000 commented on #18466
Raw Cuda and c code: https://github.com/NVIDIA/Megatron-LM/tree/main/megatron/fused_kernels

This can then be easily added to a model like here: https://github.com/NVIDIA/Megatron-LM/blob/main/megatron/model/transformer.py#L203-L209

[2022-08-04 21:57] sinking-point commented on #18465
In a normal transformer, the tokens are processed into token embeddings, then an encoding of each position is processed into an embedding and added to the token embeddings at the corresponding positions. The result is positional embeddings. This is how each position 'knows' where it is in the sequence.

You could do something similar with the edge information. You need some trainable network that

[2022-08-04 22:03] smith-co commented on #18465
@sinking-point thanks for your response. So essentially I need to extend the `positional embedding` generation considering not position in the sentence and instead based on the `edge type`.

But there could be different types of edges as well. How could that be combined? I suppose there would be a need to use different weight for different types of edge?

Is there any such model implementation wit

[2022-08-04 22:36] sinking-point commented on #18465
You could combine them like this:

Edge type as one hot vector -> nn.Embedding -> edge type embedding

Index of target node -> positional encoding -> whatever positional embedding method your chosen transformer uses -> target node embedding

Sum = edge type embedding + target node embedding

If we only have a maximum of one edge per node, we can just add this sum to the origin node embedding. Howe

[2022-08-04 22:37] sinking-point commented on #18465
I don't know of any existing transformer that does what you want already.

[2022-08-04 22:48] smith-co commented on #18465
@sinking-point thanks for your response. Can I apply this change in a modular fashion?

I suppose I need to augment the following snippet?

[code]

Having said that how could I pass the edge information 🤔

For me the it does not need to be optimized. Have you have any code snippet demonstrating something similar?

[2022-08-04 22:59] sinking-point commented on #18465
What transformer do you want to use? Take Bart for example, you can pass in inputs_embeds.

[2022-08-04 23:00] smith-co commented on #18465
I would like to use `Longformer`.

[2022-08-04 23:26] sinking-point commented on #18465
I would probably go with my first suggestion then. Putting all the edges at the end might not play well with longformer's local attention.

Longformer also has inputs_embeds as an argument, so you could do something like:

[code]

[2022-08-05 00:02] plamb-viso commented on #17855
@philschmid do you have any idea why this solves the problem? Is it documented by AWS anywhere?

Sagemaker Debugger has cost me multiple days of time in the mysterious problems it produces. Far more than anything else on Sagemaker. I posted an issue on awslabs about this awhile back and never got a reply. I would really like to know what is going on here

**For anyone encountering this while using

[2022-08-05 02:33] EeyoreLee commented on #18360
Thank you. I got it.

[2022-08-05 02:33] #18360 closed

[2022-08-05 03:02] ZeyiLiao opened #18478 "How to do batch inference in GPT-J"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-4.15.0-189-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.3
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <F

[2022-08-05 05:21] tqnwhz commented on #17124
Thanks very much! @AniketRajpoot
I'll conduct a few experiments to verify them.

[2022-08-05 06:26] jagjeetsian opened #18480 "Not able to use DistilBERT in VisualTextDualEncoder"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): 2.6.4 (True)
- Flax version (CPU?/GPU?/TPU?): 0.5.2 (gpu)
- Jax version: 0.3.14
- JaxLib version: 0.3.14
- Using GPU in script?: <fill in>
- Using distributed or p

[2022-08-05 06:30] jagjeetsian commented on #18480
I believe this is because [this line in `modeling_vision_text_dual_encoder.py`](https://github.com/huggingface/transformers/blob/14928921e2f6d5b049d8dcfa07982e9ca351a402/src/transformers/models/vision_text_dual_encoder/modeling_vision_text_dual_encoder.py#L368) passes a keyword argument `token_type_ids` to the `text_model` which is not supported by the `distilbert-base-uncased` model.

[2022-08-05 06:35] hazalturkmen commented on #18367
Thank you @albertvillanova ! It fixed the issue :+1:

[2022-08-05 06:37] #18367 closed

[2022-08-05 06:41] LysandreJik commented on #18445
cc @sgugger as we chatted about it as well

[2022-08-05 06:58] omarespejel commented on #17459
@mfumanelli, the documentation had some recent changes. In particular, `parallelism` was partitioned into several docs. I applied this change to the main text of the issue; no need to do anything else 🤗.

[2022-08-05 07:46] LysandreJik commented on #12859
You're trying to import transformers in a file named `transformers.py`, that won't work.

[2022-08-05 07:59] LysandreJik commented on #18478
Maybe @gante can help out regarding generate

[2022-08-05 08:03] LysandreJik commented on #18417
Hey @gongshaojie12, thanks for the issue! Could you please provide the full command you run? cc @ydshieh; I believe you have worked with this script in the past

[2022-08-05 08:27] NK74 commented on #12859
@LysandreJik my script name is transformers.py

The script content is the Quick Tour example https://github.com/huggingface/transformers
[code]

[2022-08-05 08:30] ydshieh commented on #18417
@gongshaojie12 Could you also provide a bit more information. For example, do you download and use the COCO dataset as in the README?

[2022-08-05 08:42] LysandreJik commented on #12859
Yes, please rename your script. If you're doing `import transformers` from inside a script names `transformers.py`, the script will try to import itself.

[2022-08-05 08:56] juliensimon commented on #18146
OK, I'll give it a try and I'll let you know.

[2022-08-05 08:58] amyeroberts commented on #18376
Hi @innat, thanks for clarifying. It's certainly a problem if there's a memory leak and one we'd want to address. I'm going to continue to look into this. As you said, because of the nature of kaggle and the competition it can be hard to debug. As such, it might take some time before I manage to figure out if there's a problem, what it is and how to solve.

[2022-08-05 09:00] gongshaojie12 commented on #18417
Hey @ydshieh @LysandreJik thank you very much for your replies.

My steps are as follows:

1,we create a `VisionTextDualEncoderModel`

[code]

2,Manually download COCO dataset to /home/gsj/data directory
![image](https://user-images.githubusercontent.com/6407116/183041989-726d1ec6-798d-48f0-bc1d-bf88fb10c59d.png)

3,Full run command:
[code]

[2022-08-05 09:09] gongshaojie12 commented on #18417
In addition, I commented the line `image_transformations = torch.jit.script(image_transformations)` and added some `prints`. The complete `run_clip.py` is as follows:
[run_clip.zip](https://github.com/huggingface/transformers/files/9267204/run_clip.zip)

[2022-08-05 09:18] nurielw05 commented on #15451
hi, I'm having trouble understanding how to use this...
can someone guide me?
I have an image of a random invoice, how do I get the key-value pairs?

In other words how do I use this notebook step by step?

[2022-08-05 09:32] innat commented on #18376
@amyeroberts Thanks for your cordial support. I also informed competition host (googler), [HERE](https://www.kaggle.com/competitions/google-universal-image-embedding/discussion/336534#1883421), but no response yet.

[2022-08-05 09:48] gante commented on #18476
Hi @tmoroder 👋 Thank you for adding all that information to the issue <3

If I got it right, the second notebook replaces the `take_along_axis` function, and the third notebook also replaces the custom dropout. Still, there are XLA exceptions.

Before diving into debugging, two questions:
1. Does it return the same error on a GPU?
2. I see that you prepare a dataset with static batch size and that

[2022-08-05 10:09] danielbellhv opened #18483 "RuntimeError: Failed to import transformers.pipelines because of the following error (look up to see its traceback): initialization failed"
### System Info

Goal: Run a **GPT-2** model instance.

I am using the latest Tensorflow and Hugging Face 🤗 Transformers.
- Tensorflow - 2.9.1
- Transformers - 4.21.1

Notebook:
[code]
[code]
[code]
[code]
[code]
[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples

[2022-08-05 10:12] danielbellhv commented on #18483
Changed Kernel: `conda_tensorflow2_p38`

[2022-08-05 10:12] #18483 closed

[2022-08-05 10:25] donebydan commented on #18425
Tagging @sgugger as you have previously shown support for private training of HF models via Opacus.

[2022-08-05 10:42] tmoroder commented on #18476
Hi @gante.

Correct. I think the XLA exceptions occur during gradient computation at these dynamic/computed tensor shape sizes.
The first collection seems to me being triggered within the ``TFDebertaV2DisentangledSelfAttention.disentangled_att_bias`` method, like at [L735](https://github.com/huggingface/transformers/blob/v4.21.0/src/transformers/models/deberta_v2/modeling_tf_deberta_v2.py#L735). I

[2022-08-05 10:42] sywangyi commented on #18384
@sgugger  thanks for your comment, do you think it's necessary to apply the same yaml configuration in case the user is not quite familiar with so much different HPO backend?

[2022-08-05 10:44] jzsbioinfo commented on #5715
same issue

[2022-08-05 10:57] gante commented on #18478
@ZeyiLiao that is a good question, because I'm also getting exceptions on my end if I try a batch size larger than 1 :) I've modified your test script a bit with more correct practices (e.g. setting left padding, disabling gradients)

Alternatively, you can try our TensorFlow implementation, which should support batched generation.

[code]

@patil-suraj do you know if our PT implementation of GPT-

[2022-08-05 11:36] sgugger commented on #18445
I was going to do a custom pipeline on this today actually, as the dev advocates want more examples of it :-)

[2022-08-05 11:42] Rocketknight1 commented on #18476
Hi @tmoroder, can you try on GPU with `jit_compile=True` in both 4.20 and 4.21? I believe the code had issues with XLA before 4.21, and TPU code is always compiled to XLA.

[2022-08-05 11:44] gante commented on #18476
Interesting. Since `transformers==4.20.1`, there are only two DeBERTa PRs:
1. https://github.com/huggingface/transformers/pull/17940 (should have no impact at all here)
2. https://github.com/huggingface/transformers/pull/18256 (what should have been a TPU-friendly `take_along_axis`)

As @Rocketknight1 said, that data would be interesting. If v4.21 works on GPU but not on TPU, we are up for an inte

[2022-08-05 11:45] BinzhuWang commented on #197
Mark. Still suffering this problem in Aug. 2022.
Someone can offer a solution  for this could be highly appreciated

[2022-08-05 11:45] sgugger commented on #18425
Happy to look at a PR that fixes the issue!

[2022-08-05 11:56] gante commented on #18464
Hi there @harshit-sethi09 👋 Our code has type annotations, but they are mostly for documentation purposes (and not to be used with `mypy`)

cc @sgugger

[2022-08-05 12:02] gante commented on #18472
Hi @kmkarakaya 👋  Having a popular project like `transformers` means we get many support and feature requests — if we want to maximize how much we help the community, the community has to help us stay productive 🙏

To that end, please share a *short* script where the issue is clearly reproducible on *any* computer. Thank you 🤗

[2022-08-05 12:04] donebydan commented on #18425
Fantastic, I'll create it now 👍

[2022-08-05 12:06] tmoroder commented on #18476
Using ``jit_compile=True`` while compiling the model gives an error for both 4.20.1 and 4.21, e.g., [FineTuning_TF_DeBERTa _GPU_Tests](https://colab.research.google.com/drive/1VMPD2k5WuiHzT5ESdIXs0PuESvg82Ju3?usp=sharing) for 4.21; with 4.20.1 it crashes in the last command.

Without ``jit_compile=True`` it also fails on GPU with 4.21; with 4.20.1 it works.

[2022-08-05 12:14] Rocketknight1 commented on #18476
That makes sense - we made changes to the model to make it XLA-compatible in 4.21. XLA compatibility is necessary for TPU support, so the 4.20 model would never have run on TPU. However, we seem to have some other TPU-specific issues now - in my testing I was able to get DeBERTa to work with XLA on GPU in 4.21.

[2022-08-05 12:23] sgugger commented on #18464
I have very strong thoughts about trying to statically type-checking a dynamically typed language which would take too long to express here. But this is what you get as a result: an object will actually never be of type `AutoModel` has those can only be instantiated via classmethods which actually return other classes, a thing the static type-checker is of course incapable to see.

We could pollut

[2022-08-05 13:26] miguelwon commented on #17971
I'm seeing this odd behavior. I'm trying a code from [here](https://github.com/nlp-with-transformers/notebooks/blob/main/02_classification.ipynb), adapted with @saattrupdan solution. It runs but the problem is that I'm getting very different results when using `cpu` and `mps`. With `device_type = "cpu"` I get the expected results (`f1=0.92`) but when using `device_type = "mps"` I'm getting a very

[2022-08-05 13:38] sgugger commented on #17971
We've also observed a drop in metrics when training, see [this issue](https://github.com/pytorch/pytorch/issues/82707).

[2022-08-05 14:32] ydshieh commented on #18417
Hi @gongshaojie12 , I have to

[code]
to
[code]
otherwise get an attribute error. (Ideally, we should specify this limits in the command line).

I am wondering if you face the issue when running on the whole dataset. With the limit of `2000` and `500` (that are in your script), I am not able to reproduce.

[2022-08-05 14:49] #18405 closed

[2022-08-05 15:02] #17538 closed

[2022-08-05 15:02] #17521 closed

[2022-08-05 15:26] AndreaLombax commented on #14259
Me too...
UP.

[2022-08-05 15:36] ydshieh commented on #18417
@gongshaojie12 I want to double check if you use multiple GPUs ??

[2022-08-05 16:01] gongshaojie12 commented on #18417
Hi @ydshieh thank you for your reply. Because the GPU machine is in the company, I can't run it on the whole dataset right now, when I come back to the company in two days I will run on the whole dataset,and feedback the results.

At the same time, after adding the code `data_args.max_train_samples = 2000`, I will also test whether it is running normally on my GPU machine

[2022-08-05 16:02] gongshaojie12 commented on #18417
Hi @ydshieh thank you for your reply. Because the GPU machine is in the company, I can't run it on the whole dataset right now, when I come back to the company in two days I will run on the whole dataset,and feedback the results.

At the same time, after adding the code data_args.max_train_samples = 2000, I will also test whether it is running normally on my GPU machine

[2022-08-05 16:03] gongshaojie12 commented on #18417
Yes, I used two GPUs for training

[2022-08-05 16:13] WissamAntoun commented on #18476
Weird!

During my TPU and GPU tests, i was using a custom training loop instead of keras's `.fit()`, which I'm not sure if it actually matters.

In my custom training code, I got deberta to train in an electra style training, with XLA enabled with `jit_compile=True` with non of the issues mentioned above.

I will be sharing my code asap once I finish the pretraining and validate the results. It is

[2022-08-05 16:28] julien-c commented on #17342
Proposed fix at #18494

[2022-08-05 17:09] JackCaoG commented on #18239
Thanks, I will try to take a look or finding someone from my team to help.

[2022-08-05 17:25] cchan-lm opened #18495 "TF to ONNX export fails with CLI using example from docs"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-4.15.0-187-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.5
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: N

[2022-08-05 18:20] cchan-lm opened #18496 "TF to ONNX export fails with large models"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-4.15.0-187-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.5
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: N

[2022-08-05 18:39] spanglies commented on #18167
Hey glad that helped you @nittonfemton It wouldn't be hard to apply the same filter to the evaluation data. I hadn't because it was also my goal to have a trained model and I was less concerned with validating it. The way I had gotten it to work on sage maker was to apply the commit to v4.17.

[2022-08-05 18:41] gante commented on #12322
@mikcnt @divyanshuaggarwal The previous TF generate function was almost a (reduced) copy of the current PT generate function. We had to do a major rework of the TF generate function to make it compatible with XLA, so yeah... PT needs the same treatment if we want to use it with XLA :D

I've shared a twitter thread today about the subject: https://twitter.com/joao_gante/status/1555527603716444160

[2022-08-05 20:13] mikcnt commented on #12322
@gante thanks a lot for the super exhaustive explanation. Do you think we can expect a refactoring for PT some time soon?

Otherwise, do you know of a temporary workaround to use the generate method on TPU?

[2022-08-05 21:13] ZeyiLiao commented on #18478
@gante ,Thanks for your reply!
Actually, your reply just made me a bit confused about the padding things. Why do we need to do the left padding? Typically, I think we are doing the RHS padding, right? And I tried that no matter what kind of padding or wherever the padding is inserted, having the corresponding attention mask(i.e. 0 for the position needs to be masked) would be enough.

[2022-08-05 22:43] shivalikasingh95 commented on #16308
@ChainYo I'd like to take up VisualBERT if no one is working on it yet?

[2022-08-06 00:18] YooSungHyun opened #18501 "Wav2Vec 2.0 model output logits related audio pad?"
### System Info

ubuntu 18.04
python 3.6, 3.9
transformers 1.18.0

### Who can help?

@patrickvonplaten, @anton-l

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. dev, test datasets is shuffled
2.

[2022-08-06 01:42] LeninGF commented on #18214
Hi Joao Please you can check my training code here:
https://colab.research.google.com/gist/LeninGF/89234ab4ba45147d34b8e8657caff761/model_train_huggingface_gitnew.ipynb

I think that the problem should happen with any dataset used. I am using a
multi labelled dataset. For company reasons I am not yet able to share it.
Please let me know if you would need a sample of it to reproduce the
problem.

T

[2022-08-06 03:19] cabal-daniel commented on #10012
@monsieurpooh can you please elaborate how you implemented the workaround?

Looking at master during the time of your posting in posting in March 7th, the workaround you mentioned seems already implemented?

https://github.com/huggingface/transformers/blob/5c6f57ee75665499c8045a8bf7c73bf2415fba20/src/transformers/generation_utils.py#L2112

`next_token_scores` is not invoked until after the `if ret

[2022-08-06 03:51] GabrielLin commented on #17736
@jorgeutd Hi!
Have you figured out of the question? In the official document, it said that LongT5 does not use prefix. How do we use it in different down tasks? Thanks.

[2022-08-06 04:00] GabrielLin opened #18502 "The Document of LongT5 confilcts with and its example code of prefix"
### System Info

All.

### Who can help?

@patrickvonplaten

### Reproduction

See https://huggingface.co/docs/transformers/main/en/model_doc/longt5

### Expected behavior

In the above document, it said `Unlike the T5 model, LongT5 does not use a task prefix. Furthermore, it uses a different pre-training objective inspired by the pre-training of [PegasusForConditionalGeneration].`. But in the exa

[2022-08-06 07:25] kangqiyue commented on #12715
That's very cool !!! I have been stuck here for a long time, and finally I found this solution!

The system just waiting after the log:

The debug process loated at

        '''
        Periodically sleeps for a certain amount until the baton is released.
        The amount of time slept depends on the ``wait_seconds`` parameter
        passed to the constructor.
        '''
        while os.path.

[2022-08-06 07:38] kangqiyue commented on #12418
I think you could try this solution:
`rm -rf ~/.cache/torch_extensions/`

ref: https://github.com/huggingface/transformers/issues/12715

[2022-08-06 10:27] shivalikasingh95 opened #18503 "Add Mask2Former"
### Model description

Mask2Former is a single architecture for panoptic, instance and semantic segmentation.

**Mask2Former Paper Abstract**:
Image segmentation is about grouping pixels with different semantics, e.g., category or instance membership, where each choice of semantics defines a task. While only the semantics of each task differ, current research focuses on designing specialized archi

[2022-08-06 10:29] shivalikasingh95 commented on #18503
@NielsRogge I'd like to work on adding this model if no one is working on it yet?

[2022-08-06 10:34] NielsRogge commented on #18503
cc'ing @alaradirik, yes we're planning to add this model. If you're interested in it, feel free to get started with a draft PR.

Could you give me your email address, such that we can add you on Slack for easier communication?

[2022-08-06 10:47] pacowong commented on #12903
You can change the `atol` as described in this [PR](https://github.com/huggingface/transformers/issues/15716).
For example
[code]

[2022-08-06 10:59] shivalikasingh95 commented on #18503
Thanks @NielsRogge that would be great! You can use this email (shivalikasingh95@gmail.com) to add me on Slack!

I'll get started on a draft PR. But, I may need some guidance as this is my first time contributing to transformers.
I'll get started by understanding the MaskFormer implementation.

[2022-08-06 11:29] YouJiacheng opened #18505 "Suppress `reset_parameters` of `torch.nn.Linear,Conv2d...` inside `no_init_weights`"
### Feature request

`torch.nn.Linear,Conv2d...` will call `self.reset_parameters()` inside their `__init__`.
I'd like to make `reset_parameters` be a no-op inside `no_init_weights` context manager.

### Motivation

`no_init_weights` is used in `from_pretrained` to speed up loading large models.
However, torch-built-in modules like `torch.nn.Linear` are heavily used in models of `transformers`, wh

[2022-08-06 11:54] monk1337 opened #18506 "bert-large-uncased gives `(1024) must match the size of tensor b (512) at non-singleton dimension 1` error"
### System Info

Python : python3.6
"transformers_version": "4.18.0"

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I am trying to use the bert-large-uncased for l

[2022-08-06 13:58] thesofakillers commented on #3818
any updates on that visualization?

[2022-08-06 14:36] ccdv-ai commented on #18506
Hi @monk1337
The loaded model has a maximum sequence length of 512 tokens.

If you use:
`model = BertModel.from_pretrained("bert-large-uncased", max_position_embeddings=1024)`
The model won't be loaded because the loaded checkpoint also relies on 512 tokens (wrong tensor size).

If you set `model.config.max_position_embeddings = 1024` after loading, this has no effect because the model is already

[2022-08-06 15:02] #17941 closed

[2022-08-06 15:02] #17697 closed

[2022-08-06 15:02] #17193 closed

[2022-08-06 15:39] monk1337 commented on #18506
@ccdv-ai That's helpful; I was checking the repo; excellent work! It would be great if you could provide a simple working classification example of colab?

[2022-08-06 16:22] unography commented on #16308
Hi @ChainYo, while converting the CLIP model to onnx, I'm getting this error, while it's validating the ONNX model-

[code]

This is supposedly solved in the original repo by: https://github.com/openai/CLIP/pull/219
Does that change need to be included inside transformers as well?

[2022-08-06 18:17] Tharolzakariya opened #18507 "https://github.com/huggingface/transformers/blob/f0d496828d3da3bf1e3c8fbed394d7847e839fa6/src/transformers/models/funnel/modeling_funnel.py#L1004"
https://github.com/huggingface/transformers/blob/f0d496828d3da3bf1e3c8fbed394d7847e839fa6/src/transformers/models/funnel/modeling_funnel.py#L1004

[2022-08-06 23:09] ankrgyl opened #18508 "Small typo in docs/README.md"
### System Info

Working on main (commit 9129fd0377e4d46cb2d0ea28dc1eb91a15f65b77).

The suggested command:

[code]

fails with:

[code]

I think is because you have to specify a language (e.g. `en`) while building the docs, e.g.

[code]

I'm happy to contribute a fix.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

-

[2022-08-07 02:18] Daromog commented on #4626
I'm having this problem how do you fixed this?
I put the direction to the folder to --logging_dir but nothing is written there

[2022-08-07 02:18] Daromog commented on #4626
I'm having this problem how do you fixed this?
I put the direction to the folder to --logging_dir but nothing is written there

[2022-08-07 02:36] Daromog opened #18509 "How to use run_glue.py with tensorboard?"
### System Info

I'm writting a folder path in --logging_dir but nothing is written there .
I've tried with

--logging_dir foldername
--logging_dir pathtofolder

But nothing works

@LysandreJik
@sgugger

### Who can help?

@sgugger
@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder

[2022-08-07 06:34] Alex-apostolo opened #18510 "Tqdm not working with question-answering pipeline"
### System Info

Running inside a notebook on Google Colab
- `transformers` version: 4.21.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not

[2022-08-07 07:11] fuwaraido commented on #6368
I had the same issue and I realized some wired things going on. I'm running IDLEX and Jupyter Note book, both on Windows 10. I installed my python system on "D:\WPy64-3740". IDLEX can successfully loads pretrained model but Jupyter Notebook can not. But for some reason, it does load pretrained model when I load .py file with import directive.

# Issue

Usually, I directly launch IDEX.exe from the

[2022-08-07 08:47] shrinath-suresh opened #18511 "FSDP - TypeError: load_state_dict() got an unexpected keyword argument 'strict'"
### System Info

[code]

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps to reproduce the behaviour:

1. Clone transformers - `git clone https://github.com/huggingf

[2022-08-07 09:12] NielsRogge commented on #16308
Yes, modeling files are often updated to work with ONNX or torch.fx for instance (as long as the changes are minimal).

[2022-08-07 10:10] xia0nan commented on #18294
I figured out how to use it. No issue now.

[2022-08-07 10:10] #18294 closed

[2022-08-07 10:12] xia0nan commented on #18043
@ArturPrzybysz You can use the LID (Language IDentification) model with [fastText](https://github.com/facebookresearch/fastText)

[2022-08-07 10:14] xia0nan commented on #18294
First download model
`wget https://dl.fbaipublicfiles.com/nllb/lid/lid218e.bin`
Then use it for inference
[code]

[2022-08-07 12:32] nbroad1881 commented on #18510
Hi there,

Try this:

[code]

[2022-08-07 12:34] nbroad1881 commented on #18509
Try using `--report_to tensorboard`

[2022-08-07 14:24] Alex-apostolo commented on #18510
@nbroad1881 Thanks a bunch that worked!

[2022-08-07 14:25] #18510 closed

[2022-08-07 15:02] #16570 closed

[2022-08-07 17:23] metemadi opened #18513 "VisionEncoderDecoderModel gradient checkpointing"
### Feature request

Would love to be able to use gradient checkpointing on VisionEncoderDecoder model.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/conda/lib/python3.8/site-packages/transformers/modeling_utils.py", line 1418, in gradient_checkpointing_enable
    raise ValueError(f"{self.__class__.__name__} does not support gradient checkpointing.")
ValueE

[2022-08-07 20:23] WaterKnight1998 commented on #14456
Any updates on this? It would be very useful@uakarsh @shabie @athewsey @NielsRogge . LayoutLMV3 is cool but license doesn't allow commercial usage

[2022-08-08 00:43] mangalm96 commented on #15302
@neeraj1909 I am facing the same issue, did you manage to figure this out by any chance?

[2022-08-08 05:52] gongshaojie12 commented on #18417
Hi, @ydshieh When running on the whole dataset, I still get the following error:
[code]

Also, when adding the code `data_args.max_train_samples = 2000`, it works fine

[2022-08-08 06:16] philschmid commented on #17855
Are you using the `HuggingFace` estimator or the `HyperparameterTuner`

[2022-08-08 06:22] KMFODA commented on #18354
Hi @gante. Apologies I don't think I've properly clarified the use case I think this could solve. I unfortunately can't share my model here or my dataset (but happy to do so privately) as they're both private and sensitive but I can try and give as much context as possible. This problem arrises for me when using a PEGASUS model for summarisation on a private dataset of meeting segments and summari

[2022-08-08 06:57] ydshieh commented on #18417
Hi, it turns out that the last batch has only 9 examples, and it is splatted to a batch of `4` and another `5` elements (as we use 2 GPUs). This causes some issue for CLIP model. You can actually get the same issue very quickly by specifying
[code]
(remember to **remove the places of `2000` and `500` in your code first**)
Here `137 = 128 + 9 = 2 * 64 + 9` (so we have a complete batch and a remaini

[2022-08-08 06:58] uakarsh commented on #14456
Hi @WaterKnight1998 we have been able to train the model, you can find it [here](https://github.com/shabie/docformer/tree/master/examples/docformer_pl).

The list of things done till now are:

- [x] Pre-training script for DocFormer on any dataset either using Tesseract (means no OCR provided), or you can give OCR through any suitable tool
- [x] Training from Scratch/ Fine-tuning DocFormer on any

[2022-08-08 07:08] ChainYo commented on #16308
Do you want to work on this PR? If so open it and ping CLIP maintainer from Hugging Face, it should be cool. If not, just tell me I could try to open the PR.

[2022-08-08 07:43] WaterKnight1998 commented on #14456
@uakarsh I can help if you need help. Can this model be used for token classification?

[2022-08-08 07:59] LysandreJik commented on #18508
Hey @ankrgyl! It seems that is correct! Would you like to open a PR to fix the problem? Happy to guide you through it if you need pointers; please ping @sgugger and myself on the PR. Thanks!

[2022-08-08 08:15] gongshaojie12 commented on #18417
Hi, @ydshieh I got it, thanks a lot!

[2022-08-08 08:31] unography commented on #16308
Sure, I"ll open the PR, happy to work on it

[2022-08-08 08:36] #18417 closed

[2022-08-08 08:46] unography commented on #16308
Added the PR here: https://github.com/huggingface/transformers/pull/18515

[2022-08-08 09:10] shivalikasingh95 commented on #18503
Hi @NielsRogge just a gentle reminder to add me on slack :)

[2022-08-08 09:34] TheHonestBob commented on #17411
thanks a lot, I'll try it

[2022-08-08 09:35] Narsil commented on #18510
@Alex-apostolo ,

The answer from @nbroad1881 will work, however it will not batch anything because the pipeline was not set with batching.

[code]

This should work more as you intend.
Keep in mind that batching will occur on chunks of text, not on the entire question/context. That's a feature since you have more control on the memory + sequence_length of what the model sees.

Actually the proble

[2022-08-08 10:20] gante commented on #12322
@mikcnt we don't have refactoring PT's generate in our short-term plans -- it is a very labor-intensive refactor whose main benefit is to enable TPU usage (i.e. a niche usage :) ). For context, the TF refactor took me >2 months of dedicated effort (contrarily to PT, the old TF implementation was slow on GPUs, and it was much smaller than PT's generate).

There are no immediate alternatives -- not

[2022-08-08 10:23] founou-rihab opened #18517 "layoutlmv3 processor"
### System Info

[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The cache for model files in Transformers v4.22.0 has been updated. Migrating your old cache. This is a one-time only operatio

[2022-08-08 10:28] NielsRogge commented on #18503
Hi, I've pinged someone to add you.

[2022-08-08 10:30] LysandreJik commented on #18517
cc @sgugger

[2022-08-08 10:30] LysandreJik commented on #18517
Is that the entire stacktrace, @founou-rihab ?

[2022-08-08 10:34] xyx361100238 opened #18518 "onnx run error at translation model"
### System Info

- `transformers` version: 4.17.0
- Platform: Linux-5.4.0-122-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.11
- PyTorch version (GPU?): 1.8.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or

[2022-08-08 12:10] gante commented on #18478
Hey @ZeyiLiao 👋

Yeah, left padding matters! Although tokens with the attention mask set to `0` are numerically masked and the position IDs are correctly identified from the attention mask, models like GPT-2 or GPT-J generate a new token at a time from the previous token. As such, if your last input token is not part of your prompt (e.g. it is padding), your output will be drastically different!

[2022-08-08 12:15] gante commented on #18478
@ZeyiLiao I realized one incorrect detail from the example I gave above (setting the padding token), GPT-J is working for batched generation :)

Here's the working example:
[code]

[2022-08-08 12:15] #18478 closed

[2022-08-08 12:16] uakarsh commented on #14456
Sure, with some modifications to the script of Document Image Classification and pre-processing, we would definitely be able to use it for token classification

[2022-08-08 12:50] pacman100 commented on #18511
Hello @shrinath-suresh , this issue has to be fixed from PyTorch side. The issue raised with PyTorch has been linked above.

[2022-08-08 13:20] pacman100 commented on #18511
Also, when using `auto_wrap` please specify either `--fsdp_transformer_layer_cls_to_wrap <value>` or  `--fsdp_min_num_params <number>` as part of cmd arguments. This is what enables sharding of parameters, gradients and optimizer state across GPUs so that peak memory usage is further decreased drastically and you get the most out of using FSDP. For more details, please refer https://pytorch.org/tu

[2022-08-08 13:31] stefan-it commented on #12807
Blenderbot 3 is out now: https://parl.ai/projects/bb3/#models

[2022-08-08 13:56] ydshieh opened #18525 "[Summary] Regarding memory issue in tests"
### System Info

N/A

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

This is a short summary of the memory issue in our tests

### The following tests definitely ha

[2022-08-08 14:17] ydshieh commented on #18525
**TensorFlow hangs if a TF model is forked**

This will hangs

[code]

[2022-08-08 14:22] #18508 closed

[2022-08-08 14:22] #18517 closed

[2022-08-08 14:39] ydshieh commented on #18525
**Strange hanging with TensorFlow Probability**

Running the test with `--forked`
[code]
with `tensorflow-probability` installed will hang. After uninstalling `tensorflow-probability`, the tests finish quickly.

[2022-08-08 14:44] ydshieh commented on #18525
** --forked hang with Flax tests **

Running the following test with `--forked` will hang

[code]

with `test_flax.py` being

[code]

[2022-08-08 14:49] ydshieh commented on #18525
cc @LysandreJik for reading :-)

[2022-08-08 15:02] #17984 closed

[2022-08-08 15:02] #17975 closed

[2022-08-08 15:02] #17957 closed

[2022-08-08 15:02] #17896 closed

[2022-08-08 15:02] #17860 closed

[2022-08-08 15:02] #17537 closed

[2022-08-08 15:02] WaterKnight1998 opened #18528 "[New Model] LiLT: A Simple yet Effective Language-Independent Layout Transformer for Structured Document Understanding"
### Model description

Structured document understanding has attracted considerable attention and made significant progress recently, owing to its crucial role in intelligent document processing. However, most existing related models can only deal with the document data of specific language(s) (typically English) included in the pre-training collection, which is extremely limited. To address this

[2022-08-08 15:31] gante commented on #18354
Thank you for the clarification @KMFODA, it makes total sense for a summarization task!

There is a chance you can solve it with existing code :D Can you have a look at the [constrained beam search documentation](https://huggingface.co/docs/transformers/v4.21.1/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.constrained_beam_search), which has an example, and attempt

[2022-08-08 15:33] WaterKnight1998 opened #18530 "[New Model] Donut: Document Understanding Transformer"
### Model description

Donut doughnut, Document understanding transformer, is a new method of document understanding that utilizes an OCR-free end-to-end Transformer model. Donut does not require off-the-shelf OCR engines/APIs, yet it shows state-of-the-art performances on various visual document understanding tasks, such as visual document classification or information extraction (a.k.a. document

[2022-08-08 16:07] NielsRogge commented on #18530
See #18488

[2022-08-08 16:27] WaterKnight1998 commented on #18530
Cool to see you working there, thank you very much =D

[2022-08-08 16:27] #18530 closed

[2022-08-08 17:57] sanchit-gandhi commented on #18239
Only for JAX on TPU, I'll ask around and see if there is anyone who can help with TF!

[2022-08-08 22:01] tkella47 commented on #17169
Hi, I found this over on hugging face
https://discuss.huggingface.co/t/solved-model-esm-1b-is-not-defined/17104

[2022-08-08 22:02] ZeyiLiao commented on #18478
Thanks! That's a really great example to elaborate it.

[2022-08-09 00:49] ankrgyl opened #18537 "AutoModel(s) do not respect the `revision` flag while loading custom models"
### System Info

- `transformers` version: 4.21.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.10.5
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or p

[2022-08-09 05:07] blueprintparadise opened #18538 "AttributeError: 'LayoutLMForTokenClassification' object has no attribute 'config'"
### System Info

Adding image embeddings to layoutLM makes the model unconvertable
After following the  - https://colab.research.google.com/github/NielsRogge/Transformers-Tutorials/blob/master/LayoutLM/Add_image_embeddings_to_LayoutLM.ipynb
I wanted to convert the .pt model to onnx. The issue is that the changes made in the notebook do not allow for the model conversion to work.

New model - -----

[2022-08-09 05:23] Saltsmart commented on #13356
Deleting empty dist-info folder of `numpy` really solves the problem. Thank you!

[2022-08-09 06:38] ofek opened #18539 "Thoughts on updating package metadata"
### Feature request

Switch to modern Python packaging standards.

### Motivation

The Python packaging ecosystem has standardized on the interface for build backends ([PEP 517](https://peps.python.org/pep-0517/)/[PEP 660](https://peps.python.org/pep-0660/)) and the format for metadata declaration ([PEP 621](https://peps.python.org/pep-0621/)/[PEP 631](https://peps.python.org/pep-0631/)). As a res

[2022-08-09 07:20] LysandreJik commented on #18433
cc @sgugger for usage with the `Trainer`!

[2022-08-09 07:21] LysandreJik commented on #18452
Hey @Ravisankar13, could you please provide the script you have used, the deepspeed config, as well as the full stacktrace? It will be hard to help you with so little information.

cc @stas00

[2022-08-09 07:22] LysandreJik commented on #18406
cc @SaulLu

[2022-08-09 07:27] LysandreJik commented on #18501
cc @sanchit-gandhi as well

[2022-08-09 07:35] LysandreJik commented on #18496
cc @JingyaHuang @michaelbenayoun

[2022-08-09 07:42] LysandreJik commented on #18495
Hmmm that's interesting, indeed!

The docs should be updated, but it would be nice to also support this out of the box. Would you like to try your hand at a PR?

cc @lewtun @michaelbenayoun @JingyaHuang for knowledge

[2022-08-09 07:43] LysandreJik commented on #18042
cc @sgugger

[2022-08-09 07:43] LysandreJik commented on #18036
WDYT, @sanchit-gandhi? :)

[2022-08-09 08:07] LysandreJik commented on #17974
Hey @buhrmann, there are some known issues with torch 1.12. Torch 1.12.1 was released 4 days ago, do you get the same issues with it?

[2022-08-09 08:10] LysandreJik commented on #18518
Hey @regisss @JingyaHuang @michaelbenayoun, do you have ideas about what might be happening there? I never used onnxruntime's `InferenceSession`.

[2022-08-09 08:17] LysandreJik commented on #18513
@NielsRogge, have you seen such examples? :)

[2022-08-09 08:17] ydshieh commented on #18525
(To ease the debugging process, here is a self-contained script for running FlaxBart)

[code]

[2022-08-09 08:21] LysandreJik commented on #18537
cc @sgugger

[2022-08-09 08:42] regisss commented on #18518
@xyx361100238  The error message says that the model requires 4 inputs but you are providing only 2 of them. Either you need to provide the missing inputs, or you need to modify the `OnnxConfig` associated to your model to specify only 2 inputs.

The architecture of *opus-mt-en-zh* seems to be *MarianMTModel*. According to what I see in the `OnnxConfig` [here](https://github.com/huggingface/transf

[2022-08-09 09:04] LeMoussel commented on #3361
@bourrel
Why do you use `jplu/tf-flaubert-base-cased`? (https://huggingface.co/jplu/tf-flaubert-base-cased)
Any particular reason not to use `flaubert/flaubert_base_cased`? (https://huggingface.co/flaubert/flaubert_base_cased)

[2022-08-09 09:11] bourrel commented on #3361
It was 2 years ago, I don't remember sorry 😅

[2022-08-09 09:13] LysandreJik commented on #18525
Thanks for summarizing all the info, @ydshieh!

[2022-08-09 09:34] gante commented on #18496
If there are no onnx-level solutions, it may be due to TF1 code (embeddings) in our models -- see https://github.com/tensorflow/tensorflow/issues/45041

Rewriting embeddings into TF2 code is in our to do list.

[2022-08-09 09:37] gante commented on #18507
This does not look like an issue :) Closing

Feel free to reopen with the actual question.

[2022-08-09 09:37] #18507 closed

[2022-08-09 10:20] JingyaHuang commented on #18496
TF2ONNX offers the [support for exporting large ONNX](https://github.com/onnx/tensorflow-onnx/blob/v1.12.1/tf2onnx/convert.py#L427) tensors with external files, however by adding the flag to the ONNX exporter of transformers, it doesn't work correctly for the moment:
[code]
Further investigation needs to be done from the TensorFlow side. And I will be happy to help with a PR to enable this in tran

[2022-08-09 10:26] kmkarakaya commented on #18472
Hi @gante,
Here is the script ( https://huggingface.co/docs/transformers/v4.20.1/en/model_doc/encoder-decoder#transformers.TFEncoderDecoderModel.call.example ) which **_I modified it to train the model as below_**:

from transformers import TFEncoderDecoderModel, BertTokenizer
model = TFEncoderDecoderModel.from_encoder_decoder_pretrained("bert-base-cased", "gpt2")
tokenizer = BertTokenizer.from_pr

[2022-08-09 10:30] JingyaHuang commented on #18496
Didn't know that, ok, it seems that it is not just a problem from the limit of protobuf size then.

[2022-08-09 10:38] gante commented on #18472
Hi @kmkarakaya -- technically I can't reproduce the script, since I don't have access to your `input_ids`.

However, looking at the code, I can tell that `model.fit` is not being called correctly. Please check its [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit), especially its `x` and `y` arguments :)

[2022-08-09 11:09] ariG23498 opened #18543 "Typo in configuration"
Hey @NielsRogge

I found an inconsistency in the documentation and the code for configuration of GroupViT. The default for `num_output_groups` is `[64, 8, 8]` (notice the last element in the list), while that documented is `[64, 8, 0]`. It would be great if we could make the two consistent.

https://github.com/huggingface/transformers/blob/8cb5ecd912e09301be126c6ce6e9a22ca7153da4/src/transformers/

[2022-08-09 11:17] NielsRogge commented on #18513
Here's a PR that added gradient checkpointing to T5: https://github.com/huggingface/transformers/pull/11353/files

[2022-08-09 11:26] gante commented on #18476
@tmoroder I can confirm that I can run your example with `jit_compile=True` (i.e. XLA compilation) on `model.compile()`, using a GPU, if the two changes you made in your [third TPU notebook](https://colab.research.google.com/drive/1L6cCdYCf3R5l90TK-Hs5dv85O6qL5vrR?usp=sharing):
- replace `take_along_axis` by the `tf.einsum` version
- replace dropout by the standard dropout

If XLA compilation work

[2022-08-09 11:36] NielsRogge commented on #18543
Hi,

thanks for spotting, feel free to fix it in #18020

[2022-08-09 11:51] ariG23498 commented on #18543
Will do!

[2022-08-09 11:57] ydshieh commented on #18525
To debug `test_torch_fx` more easily:

[code]

[2022-08-09 14:42] sanchit-gandhi commented on #18036
Hey @mattf1n!

It'll be quite straightforward to modify the `__call__` methods in the `FlaxGPT2For...` classes to handle `input_embeds`. Here, we can borrow the logic used in the PyTorch counterparts, for example:
https://github.com/huggingface/transformers/blob/ab2006e3d6db88654526a4169e65d4bfc52da2e3/src/transformers/models/gpt2/modeling_gpt2.py#L783
and
https://github.com/huggingface/transforme

[2022-08-09 15:02] #17831 closed

[2022-08-09 15:12] sgugger commented on #18537
Thanks for flagging! The PR linked above should solve this.

[2022-08-09 15:19] ratishsp commented on #18190
Hi @ydshieh, checking if you were able to look into the issue.

[2022-08-09 15:20] amyeroberts commented on #18085
Hi @MadElf1337 do you have any updates? Are you still planning on contributing this model?

[2022-08-09 15:50] MadElf1337 commented on #18085
Yep I’m still working on the model, had to keep it aside for a bit due to my uni exam schedule, but will start again the day my exams are over

[2022-08-09 16:04] ankrgyl commented on #18537
Appreciate the quick turnaround :)

[2022-08-09 16:11] yushuinanrong commented on #15591
Hi Zhaofeng,

I'm also trying to apply the prefix-prompt idea to T5 model and facing the issues similar to what you had. Could you elaborate a bit more on how did you pass "past_key_values" to the T5 encoder?

Thanks,
JC

[2022-08-09 16:50] #17706 closed

[2022-08-09 16:59] stas00 commented on #18452
@Ravisankar13, please see the work-in-progress here:
https://github.com/bigscience-workshop/Megatron-DeepSpeed/pull/308

You have a variety of different working solutions there.

we will soon move those here.

[2022-08-09 17:13] SaulLu commented on #18406
Hi @YBooks

Thank you very much for the detailed issue :hugs: !

I see that you have already proposed a fix that has been merged and that solves the problem you are pointing out. If you are happy with it, is it ok if we close this issue?

[2022-08-09 20:08] tmoroder commented on #18476
@gante

Thanks a lot for your effort. Maybe I am doing something wrong... but using the code from your pull request it now runs on GPU (with ``jit_compile=True`` as additional argument during model compilation), while it still fails on TPU (without using ``jit_compile=True`` as an argument). I am using TF 2.8.2 in both cases which is the current default in the Colab environment. On TPU it seems ag

[2022-08-09 20:20] ZhaofengWu commented on #15591
I ended up writing a whole stack of T5ModelWithPrefix/T5EncoderWithPrefix/... I hoped it would be easier but I don't think the current transformers setup allows that.

[2022-08-09 20:40] yushuinanrong commented on #15591
Hi Zhaofeng, would it be possible to share your implementations? I couldn't either make it work based on the current transformers' implementation for T5. Or could you shed more lights on what core changes you made?

[2022-08-09 21:02] xxiexuezhi opened #18549 "fail to import import transformers.trainer due to libssl.so.10: cannot open shared object file: No such file or directory"
### System Info

Traceback (most recent call last):
  File "/home/xxie92/anaconda3/envs/sema/lib/python3.8/site-packages/transformers/utils/import_utils.py", line 1002, in _get_module
    return importlib.import_module("." + module_name, self.__name__)
  File "/home/xxie92/anaconda3/envs/sema/lib/python3.8/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[le

[2022-08-10 00:54] AbuUbaida commented on #17124
@tqnwhz  you could try this setting:
`transformers==4.18.0`
`datasets==2.1.0`

[2022-08-10 02:00] #18549 closed

[2022-08-10 02:01] xxiexuezhi commented on #18549
I am not exacly sure how solve it. But bascially I tried all combination from pip and conda and somehow it works.

[2022-08-10 03:23] xyx361100238 commented on #18518
Thanks for your reply!
I'm sorry,still understand to generate decoder_input_ids & decoder_attention_mask,could you please give a example,
or onnxruntime  example with marian model!

[2022-08-10 04:41] tqnwhz commented on #17124
@AbuUbaida Thanks for your advice. I've tried this setting and it does not work :(. Given the fact that I've spent about two weeks trying to solve this but in vain. I plan to turn to other approaches rather than seq2seq.

Thanks again for your advices sincerely. Hope you everything goes well.

[2022-08-10 05:30] donelianc commented on #16059
Hi 🤗. `Vilt` (PyTorch) model remains without type hints, so I would like to work on it.

[2022-08-10 06:51] ydshieh commented on #17124
Hi @tqnwhz , could you provide the script and the datasets that could reproduce this issue. As this issue seems to happen a few times, I think it would be great if we can find the cause and fix it. But I need something that could reproduce it 🙏 Thank you.

[2022-08-10 06:55] LaurenceYozi opened #18552 "wav2vec2 : No MSELoss implementation"
### System Info

modeling_wav2vec2.py  : 1822 lines only implements CrossEntropyLoss()
  if labels is not None:
            loss_fct = CrossEntropyLoss()
            loss = loss_fct(logits.view(-1, self.config.num_labels), labels.view(-1))

labels (torch.LongTensor of shape (batch_size,), optional) — Labels for computing the sequence classification/regression loss. Indices should be in [0, ..., co

[2022-08-10 08:56] michaelbenayoun commented on #18518
So you also need to provide the inputs for the decoder side.

[code]

What is true is that it would be easier if the `decoder_attention_mask` was automatically generated, but we you currently need to provide it manually.

[2022-08-10 08:57] segments-tobias opened #18553 "OWL-ViT outputs are offset for non-square images"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.10.43.3-microsoft-standard-WSL2-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU

[2022-08-10 08:59] segments-tobias commented on #18553
I just saw that @alaradirik acknowledged this issue in the [Community tab of the Spaces demo](https://huggingface.co/spaces/adirik/OWL-ViT/discussions/1), but I'll keep this issue open, so it's easier for others to find.

[2022-08-10 09:06] segments-tobias commented on #18553
I can also confirm that @cceyda 's finding works for me, i.e. doing
[code]
while all other code is kept the same

[2022-08-10 09:34] yenicelik commented on #15550
yeah this model seems cool. feel like it's getting closer to true open source LLMs

[2022-08-10 09:42] xyx361100238 commented on #18518
got error：
![image](https://user-images.githubusercontent.com/19569322/183870045-562624c5-ee9c-400f-95a8-cafcf969cdc9.png)

[2022-08-10 09:47] michaelbenayoun commented on #18518
Basically, if you want to your ONNX model to predict the next token, provide the start of sentence token as first token, maybe you do not have `tokenizer.bos_token_id` but you know the value? Or maybe you do not have a start of sentence token?
How are you running things on the `transformers` side?

[2022-08-10 09:49] tqnwhz commented on #17124
Hi @ydshieh , I'm afraid that my code and dataset are not typical for this problem, since I try to use seq2seq to model multi-label text classification, rather than normal text generation task.

[2022-08-10 09:53] NielsRogge commented on #17579
This seems fixed for FLAVA now as well :)

[2022-08-10 10:05] xyx361100238 commented on #18518
![image](https://user-images.githubusercontent.com/19569322/183874977-e7dbe217-861d-4a94-b05b-abbc58f188ad.png)

[2022-08-10 10:28] NielsRogge commented on #18538
Hi,

This question seems better suited for our [forum](https://discuss.huggingface.co/). Would you be able to post your question there?

Thanks!

[2022-08-10 10:29] gante commented on #18476
(linking issues -- the Tile issue is also present in the following unsolved issue: https://github.com/huggingface/transformers/issues/14058)

[2022-08-10 10:31] gante commented on #18476
The cause is trivial (the `multiple` argument of `tf.tile` can't have dynamic shapes), but the fix may be not :D Will look into it

[2022-08-10 10:44] blueprintparadise commented on #18538
ok sir

[2022-08-10 10:44] #18538 closed

[2022-08-10 11:08] alaradirik commented on #18553
Hi @segments-tobias, thank for opening the PR! @cceyda's PR fixed the demo and I confirmed that the`post_process()` method works fine. The following code prints the boundary boxes correctly:

[code]

I think there is an issue in `OwlViTFeatureExtractor` as omitting the manual resizing line causes unexpected output. I'll double check this and open a fix PR shortly.

[2022-08-10 11:29] amyeroberts commented on #18085
Great - glad to hear you're still interested :)

As @NielsRogge pointed out, data2vec vision is an extension of BEiT. This means the porting should be a lot simpler! In our [pytorch BEiT implementation](https://github.com/huggingface/transformers/blob/main/src/transformers/models/data2vec/modeling_data2vec_vision.py#L310), you can see this from the `#Copied from` statements. Ideally the TF impleme

[2022-08-10 11:52] Rocketknight1 commented on #18334
Hi @zhuango, I've made a PR to rewrite all of our examples. If you get a chance, please confirm that the SQUaD performance using the new examples matches the PyTorch performance!

[2022-08-10 11:55] ehsong opened #18554 "Illegal instruction: 4 error when importing TextClassificationPipeline"
### System Info

[code]

I keep getting the error 'Illegal instruction: 4 ' when trying to import TextClassificationPipeline from transformers, does this have anything to do with the versions of the dependencies?

It is quite confusing which versions of the packages are compatible with TextClassificationPipeline, I had the same error when with tensorflow version 2.9

### Who can help?

@Narsil

##

[2022-08-10 12:00] ydshieh commented on #17124
OK, no problem!

[2022-08-10 12:00] #18537 closed

[2022-08-10 12:03] MadElf1337 commented on #18085
Yes I’ll open a draft PR to show the code that’s been done till date

And thanks!

[2022-08-10 12:16] YBooks commented on #18406
Hey @SaulLu
Yes sure. My pleasure

[2022-08-10 12:16] #18406 closed

[2022-08-10 12:28] sgugger commented on #17582
See issue linked above, Transformers now uses `hf_hub_download` behind the scenes, but that function does not handle redirections (yet). The bug will be fully solved once this issue is resolved.

[2022-08-10 12:37] gante commented on #18476
@tmoroder the dynamic shape in question is the batch size. I may be able to get an alternative to `tf.tile`, but I highly doubt that it will make a difference -- it will be a dynamic shape no matter how I turn it around, as it is not set.

Alternatively, could you try setting the `batch_size` argument in the `Input` layers? It will make that shape static, which should be enough to squash the probl

[2022-08-10 12:38] segments-tobias commented on #18553
Great! Yes, would be great to be able to leave out the resizing line

[2022-08-10 12:43] kmkarakaya commented on #18472
@gante As I wrote in every message this code belongs to the HF repo  https://huggingface.co/docs/transformers/v4.20.1/en/model_doc/encoder-decoder#transformers.TFEncoderDecoderModel.call.example

here is the complete & full code from the HF link:
I hope this time you can help to fix the problem:

from transformers import TFEncoderDecoderModel, BertTokenizer
model = TFEncoderDecoderModel.from_encod

[2022-08-10 12:48] cceyda commented on #18553
yes, the `OwlViTFeatureExtractor ` is already supposed to be doing resizing according to this line [here](https://github.com/huggingface/transformers/blob/ab2006e3d6db88654526a4169e65d4bfc52da2e3/src/transformers/models/owlvit/feature_extraction_owlvit.py#L197) but it isn't working for some reason I haven't debugged.

[2022-08-10 12:49] kmkarakaya commented on #18472
@gante Please note that my question is related to **TFEncoderDecoderModel** therefore, model.fit(x,y) is not enough! We need to provide encoder input, decoder input and decoder output as **the HF suggests in its official documentation**: https://huggingface.co/docs/transformers/v4.20.1/en/model_doc/encoder-decoder#transformers.TFEncoderDecoderModel.call.example

[2022-08-10 13:40] KMFODA commented on #18354
Thanks for the suggestion @gante. The constrained beam search option is really cool. Playing around with it though shows that it doesn't necessarily prevent hallucinations. If for example you put the constraint "Person A and Person B" (which in itself is not very generalisable as you don't always want a summary with every participant in the meeting) you still get Person C appear in the text.

What

[2022-08-10 14:37] joihn opened #18557 "Segformer ouput size"
### System Info

thanks for this repo,

Segformer `output size` is `input_size/4,` as mentionned here
https://github.com/huggingface/transformers/blob/main/src/transformers/models/segformer/modeling_tf_segformer.py#L780

However, this line of documentation is wrong:
https://github.com/huggingface/transformers/blob/main/src/transformers/models/segformer/modeling_tf_segformer.py#L850

By the way, wh

[2022-08-10 14:40] ydshieh commented on #18190
Hi, @ratishsp I haven't running the script myself, but I see something already.

You mentioned you use `examples/pytorch/summarization/run_summarization.py`. That file is a general training script.
However, `LEDModel/LEDForConditionalGeneration` is somehow special: it uses `global_attention_mask`.

As you are running summarization, it is `LEDForConditionalGeneration`. For this model, we should put

[2022-08-10 15:00] gante commented on #18472
Hi @kmkarakaya -- the [example you linked](https://huggingface.co/docs/transformers/v4.20.1/en/model_doc/encoder-decoder#transformers.TFEncoderDecoderModel.call.example) runs fine and, as I've written above, the issue with your example is in the arguments to `model.fit`.

Please see our [examples](https://github.com/huggingface/transformers/tree/main/examples/tensorflow) to learn how to prepare th

[2022-08-10 15:02] #17999 closed

[2022-08-10 15:02] #17993 closed

[2022-08-10 15:02] #17991 closed

[2022-08-10 15:02] #17990 closed

[2022-08-10 15:14] datquocnguyen opened #18558 "Module 'seqeval' doesn't exist on the Hugging Face Hub either"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.4.0-77-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.9.1+cu111 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU i

[2022-08-10 15:31] gante commented on #18354
Thank you for trying it @KMFODA 🙏  I wasn't sure whether it would help here. And apologies for adding so many speed bumps along the way -- our generate function has many many options, and we are trying to be more conservative before adding more flags. We need to rule out potential duplicates :)

I'd like to get the input of @patrickvonplaten (who's currently off) on this topic. Maybe there are spe

[2022-08-10 15:33] ratishsp commented on #18190
Hi @ydshieh I had missed to mention this in the original issue description. I had experimented with setting the global attention mask during training. But it didn't change the outcome.

[2022-08-10 15:49] #18334 closed

[2022-08-10 15:51] ydshieh commented on #18190
Would you like to share you entire code, so we can avoid the difference between your code and mine :-)

[2022-08-10 16:28] ratishsp commented on #18190
I had added the line `model_inputs["global_attention_mask"] = [[1 if y == tokenizer.cls_token_id else 0 for y in x] for x in model_inputs["input_ids"]]` into the code after https://github.com/huggingface/transformers/blob/0d0aada56444ad554021947addaa035feb55948f/examples/pytorch/summarization/run_summarization.py#L536

[2022-08-10 17:00] BigRedT commented on #18036
I would like to second @mattf1n 's feature request. This would be super useful for vision-language modeling where we often want to feed a concatenation of image and text features into a sequence-to-sequence model. This approach has become quite popular recently. See for example - [VL-T5](https://arxiv.org/abs/2102.02779), [GPV-1](https://arxiv.org/abs/2104.00743), [GPV-2](https://arxiv.org/abs/220

[2022-08-10 18:05] datquocnguyen commented on #18558
Now I can make `run_ner.py` running by changing the line 508 from `metric = evaluate.load("seqeval")` to `metric = evaluate.load("/absoluate/path/to/seqeval.py")`. But I think this is still a potential bug as the fine-tuning script had worked well before, without changing the file  `run_ner.py`.

[2022-08-10 19:20] omarespejel opened #18564 "Transformers Documentation translation to German (de)"
Hi!

Let's bring the documentation to all the German-speaking community :)

Who would want to translate? Please follow the 🤗 [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know here if you'd like to translate any, and we'll add your name to the list.

Some notes:

- Please translate using a f

[2022-08-10 19:23] flozi00 commented on #18564
installation is WIP and will be done tomorrow in the open PR
other sections will follow in future if its still to do then

[2022-08-10 19:26] omarespejel commented on #18564
Great! Thank you @flozi00 🚀.

[2022-08-10 20:48] tmoroder commented on #18476
@gante

Great, setting the ``batch_size`` works 🥳. I only had to make sure that it divides the ``strategy.num_replicas_in_sync``, [FineTuning_TF_DeBERTa_Working_Fix_TPU](https://colab.research.google.com/drive/1wQ_shM9zigRzeATvcncTC4koFb2GkDgY?usp=sharing). Thanks a lot, I will test the procedure now on my real use case at hand.

[2022-08-10 20:58] rich-junwang opened #18567 "Trainer Bug"
### System Info

I might be wrong, but looks this line here: https://github.com/huggingface/transformers/blob/main/src/transformers/trainer_seq2seq.py#L176 introduces a bug. _gen_kwargs may not be an attribute for an instance.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `e

[2022-08-10 22:57] DanielFLevine commented on #17224
@jkgrad What is the state of this issue? If no one is working on this, I would like to implement it.

[2022-08-11 03:15] gongshaojie12 opened #18570 "How to load a fine-tuned model and inference after running run_clip.py？"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-3.10.0-957.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scr

[2022-08-11 03:19] shrinath-suresh commented on #18511
@rohan-varma Thank you very much. I applied the fix as given in the screenshot and compiled from source. The model is gettting saved in the fsdp mode.

Attached image and logs for the same

![image](https://user-images.githubusercontent.com/63862647/184059491-94326735-b031-44dd-800e-660f5687c9b2.png)
[vit_fsdp_with_fix.txt](https://github.com/huggingface/transformers/files/9305853/vit_fsdp_with_fi

[2022-08-11 07:20] ydshieh commented on #18570
If I understand correctly, you have a (previously created) `clip-roberta` which is used to launch training.
The processor is not saved after the model is finetuned, just the model is saved.
You can copy the processor file(s) from `clip-roberta` to  `clip-roberta-finetuned`.

Otherwise, you can simply change

[code]
to
[code]

[2022-08-11 08:33] NielsRogge commented on #18557
Hi,

Yes it should be `(batch_size, num_labels, height/4, width/4)`.

[2022-08-11 08:59] #18553 closed

[2022-08-11 09:33] KrishnanJothi opened #18575 "Understanding min_frequency argument in the tokenizer.train()"
Hi,

I am training a ByteLevelBPETokenizer() on a indomain dataset, but I am unable to understand the purpose of min_frequency argument in the tokenizer.train().

I thought that it should be the minimum frequency of a token, in order to add it to the tokenizer vocabulary. And I used min_frequency values like 25 and 15.
for eg.,
During training if 'recommend' and 'ation' are two tokens, then the wo

[2022-08-11 09:35] younesbelkada commented on #13548
Just posting a small script I used to shard any model: https://gist.github.com/younesbelkada/382016361580b939a87edcddc94c6593 people may want to use it in the future to push sharded models !

[2022-08-11 09:37] GabrielLin commented on #18502
@stancld @patil-suraj Could you please help to solve this issue and tell me how to set and use special down tasks for LongT5? Thanks.

[2022-08-11 10:57] NielsRogge commented on #18575
Hi,

I'm going to transfer this issue to the Tokenizers library, since it seems more suited there.

[2022-08-11 12:01] gante commented on #18476
Wooo nice! 🎊

I'm closing this issue since the problem seems to be solved for now. Feel free to reopen if you run into new related issues. Also, if you have the authorization to, please share TPU-related findings -- I'm sure they will be useful for other users!

[2022-08-11 12:01] #18476 closed

[2022-08-11 12:04] gante commented on #14058
Hi there! Possibly late for this issue, but an issue with the same error message (on a different model) was fixed [here](https://github.com/huggingface/transformers/issues/18476).

The issue was fixed by setting fixed shapes in the input.

[2022-08-11 12:07] vedant-z commented on #18437
@muellerzr In the 7th subtask (semantic segmentation), I think it is already updated if I am not wrong.

I want to work on this issue

[2022-08-11 14:37] joihn opened #18582 "Segformer, can't save checkpoint in saved_model format"
Thanks for this repo !
###  Issue description:
1) initalise your segformer model
2) try to save it.

### Error:
[code]

### Minimum reproducting code:

[code]

### Expected behavior
The checkpoint should save correctly

### System Info
Ubuntu 20.04, Python 3.9, TF 2.9.1, Nvidia Titan

### Who can help?

@sayakpaul  @NielsRogge

[2022-08-11 15:12] sayakpaul commented on #18582
Have you tried using `model.save_pretrained()`?

Cc: @amyeroberts

[2022-08-11 15:23] brando90 commented on #5142
anyone know how to add all standard special tokens like bos to t5? https://stackoverflow.com/questions/73322462/how-to-add-all-standard-special-tokens-to-my-hugging-face-tokenizer-and-model @jsrozner ?

[2022-08-11 15:25] joihn commented on #18582
`model.save_pretrained()` indeed works, thanks :)

Shall we close this issue, or is this model also supposed to be compatible with keras saving method? (their callback is widely used, https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint)

[2022-08-11 15:52] amyeroberts commented on #18582
@joihn Glad to hear you were able to save with `save_pretrained` and thanks for responding so quickly @sayakpaul!

I'll defer the issue to our TF gurus @Rocketknight1 @gante regarding compatibility with keras saving.

[2022-08-11 15:54] sayakpaul commented on #18582
I see two possible options for the time being:

* Implement a custom callback to use `save_pretrained()`. Shouldn't differ too much from the `ModelCheckpoint` callback.
*  You can refer to [this notebook](https://github.com/huggingface/notebooks/blob/main/examples/image_classification-tf.ipynb) that makes use of `PushToHubCallback()` and achieves a similar result as `ModelCheckpoint` barring some

[2022-08-11 16:34] mattdeeperinsights commented on #16464
@GustavoStahl I had a similar issue and I found that some of my bboxes had values outside of the expected `0` to `1000` range. In my case they were negative.

I found this by running in CPU mode.

I would recommend the [`normalize_bbox` function in the docs](https://huggingface.co/docs/transformers/main/en/model_doc/layoutlmv2) be updated to handle this.

Maybe something like

[code]

or

[code]

[2022-08-11 16:57] julien-c commented on #17971
Now that PyTorch `1.12.1` is out I think we should reopen this issue! cc @pacman100

[2022-08-11 17:00] julien-c commented on #17971
Note that on the inference side, pipelines now support `device="mps"` since #18494

[2022-08-11 19:15] unography commented on #16308
added PR for OWLViT : https://github.com/huggingface/transformers/pull/18588

[2022-08-11 23:46] changyeli opened #18589 "Cannot get WER during WavVec2 fine-tuning"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.15.0-43-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes

[2022-08-12 02:44] stas00 commented on #17945
I apologize again for taking so long. Please try with this PR: https://github.com/huggingface/transformers/pull/18592

[2022-08-12 02:44] gongshaojie12 commented on #18570
Hi, @ydshieh thank you for your reply.

1, When I copy the processor file(s) from clip-roberta to clip-roberta-finetuned, and the inference code remains the same.
The following error occurs:

[code]

2,When I did not copy any files from `clip-roberta` to `clip-roberta-finetuned`, and changed the `processor` from `processor = AutoProcessor.from_pretrained("clip-roberta-finetuned")` to `processor =

[2022-08-12 05:30] saattrupdan commented on #17971
@julien-c That's great to hear! In my own scripts I've used [this implementation](https://github.com/saattrupdan/ScandEval/blob/main/src/scandeval/training_args_with_mps_support.py), just tweaking the `Trainer._setup_devices` method.

I also guess that the `no_cuda` training argument has to either be changed to `no_gpu`, if the current functionality should be preserved, or otherwise the handling o

[2022-08-12 05:54] ydshieh commented on #18570
There might be something wrong, I will take a look. But great to know it works in some way.

[2022-08-12 07:42] ydshieh commented on #18570
@gongshaojie12

Could you check if you have copied all these files from `clip-roberta` to `clip-roberta-finetuned`:
[code]

I don't have any issue when running `AutoProcessor.from_pretrained("clip-roberta-finetuned")` when I copied all fiiles (of course, ignore the non-finetuned model file)

[2022-08-12 08:53] joihn commented on #18582
I did some digging, this issue seems to only appears when keras function [save_model] https://www.tensorflow.org/api_docs/python/tf/keras/models/save_model) parmeters is `save_traces=True`.

Since this isssue is not really within segformer but rather a compatiblity problem with keras (for which workround via save_pretrained() are easy), it would be fine if you want to close this issue with a "won'

[2022-08-12 09:27] gongshaojie12 commented on #18570
Hi, @ydshieh thanks. It works fine.

[2022-08-12 09:33] YooSungHyun commented on #18501
@patrickvonplaten plz help!

[2022-08-12 09:51] #18570 closed

[2022-08-12 09:59] NielsRogge commented on #18480
Hi,

The scripts are meant as examples, and you can easily tweak them for your use case. So it's advised to fork the library and tweak it to your liking.

If you can come up with a fix that makes the scrpit more general, feel free to open a PR.

[2022-08-12 11:27] xjw-star opened #18599 "how to customize the encoder_output when using the generate function in BART?"
For instance, I would like to concatenate two different last encoder hidden states from two different text. How can I achieve it using existing generate function?

[2022-08-12 11:27] grofte commented on #14782
The problem isn't so much tracing but that the input can't be a Tensorflow Tensor. Even though the tokenizers can output TF Tensors. I would be happy if I could map the tokenizer over a tf.data.Dataset before feeding it to a model. The tokenizer is deterministic at this point anyway.

[2022-08-12 11:44] isbainemohamed commented on #14238
The image you provided is not a RGB image. TrOCR requires a 3 Channel image as input, I suggest changing the following line `image = Image.open(requests.get(url, stream=True).raw)`   into  `image = Image.open(requests.get(url, stream=True).raw).convert("RGB")`

if you are using opencv to read the image, you should convert the image from grayscale to RGB using `cv2.cvtColor(im,cv2.COLOR_GRAY2RGB)`

[2022-08-12 12:27] vedant-z commented on #18436
Hi @muellerzr opened PR https://github.com/huggingface/transformers/pull/18601 for second example in the list.

[2022-08-12 12:37] NielsRogge commented on #14238
cc @amyeroberts this is another thing which I'd like to see resolved with our image processors, to make sure people don't occur errors like `ValueError: operands could not be broadcast together with shapes (384,384) (3,)`.

[2022-08-12 13:48] Narsil commented on #18554
hi @ehsong ,

Are you on Mac M1 ? Do you mind running `transformers-cli env` and printing the output here ?

What code are you using the trigger the issue ?

I googled and found this : https://stackoverflow.com/questions/14268887/what-is-the-illegal-instruction-4-error-and-why-does-mmacosx-version-min-10
I can't tell you exactly what's the issue, but it seems to be the environment you're running i

[2022-08-12 13:48] tessanix opened #18603 "NAN values appears when including a new padding token in my tokenizer"
I'm trying to fine-tune a DialoGPT model on a new dataset. I already processed my data correctly and adding a new padding token in the tokenizer didn't seem to make any issue :

[code]

[code]

The ouputs so far seem pretty clean for me. But when I try to make a prediction with my model or train it I have nan values as output :
[code]
[code]

[code]

This NAN value is certainly caused by the new t

[2022-08-12 13:53] #18130 closed

[2022-08-12 14:04] NielsRogge commented on #14238
Yes, exactly!

[2022-08-12 17:11] sanchit-gandhi commented on #18036
Thanks for weighing in @BigRedT! Cool to see so much interest for this feature! Would you or @mattf1n be interested in opening a PR to implement this for a language model (GPT2)? As mentioned, the first two changes should be pretty trivial. More than happy to help with hacking around the `init_weights` and `__call__` method to get the last two bits working!

[2022-08-12 17:50] #17945 closed

[2022-08-12 17:53] tatiana-iazykova commented on #17945
Thanks

[2022-08-12 18:24] dlwh opened #18608 "IterableDatasets result in nan loss in eval with dataloader_num_workers>=1 and multi-gpu"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.4.0-105-generic-x86_64-with-glibc2.31
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-08-12 18:34] #18589 closed

[2022-08-12 19:57] spigo900 opened #18609 "Optuna hyperparameter does not sync trial/hyperparameters when using torchrun single-node, multi-process"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-3.10.0-1160.76.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scr

[2022-08-12 22:18] BigRedT commented on #18036
@sanchit-gandhi I am traveling currently but gave it a quick try yesterday. Specifically, I was trying to update `FlaxT5ForConditionalGeneration` to accept `input_embed`. It looks like `FlaxGenerationMixin` in `generation_flax_utils.py` would also need to be updated as it assumes `input_ids` are always provided (not optional). This would be needed to use the `generate()` method to generate free fo

[2022-08-13 05:32] PersianSpock opened #18611 "OSError in linux server"
### System Info

Python 3.8.10

version of transformers == 4.0.1

### Who can help?

@patil-suraj

Hi. I'm using xlm-roberta-large as tokenizer and fine-tuning TrOCR in Farsi. I am using:
`model = VisionEncoderDecoderModel.from_encoder_decoder_pretrained("google/vit-base-patch16-224-in21k", 'facebook/mbart-large-50', from_tf=True)`

and I get this error:

I don't understand what's wrong!

### Info

[2022-08-13 10:10] sanchit-gandhi commented on #18036
Hey @BigRedT! Thanks for jumping on this so quickly. That's a good catch - we will indeed need to handle the case where `input_embeds` are used for generation. Here, we'll need to do three things:
1. Allows both `input_ids` and `input_embeds` to be passed to the `generate()` method
https://github.com/huggingface/transformers/blob/1ccd2515ed6d7da4ec46fe94aedbd8a86a2cde8e/src/transformers/generation

[2022-08-13 10:46] YingLi001 opened #18612 "RuntimeError: Error(s) in loading state_dict for Wav2Vec2ForCTC"
### System Info

Transformers version: 4.4.0
Platform: Google Colab
Python version: 3.7

### Who can help?

@patrickvonplaten, @anton-l, @sanchit-gandhi

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproductio

[2022-08-13 11:36] sanchit-gandhi commented on #18501
Hey @YooSungHyun!

I too have experienced differences in eval WER results by changing my padding strategy. In this case, I changed how I bucketed my inputs from bins of 2s to 1.5s, and got a 0.5% WER improvement when training on LibriSpeech 100h and evaluating on validation.clean. It looks like your example is much more severe!

Theoretically speaking, padding should not impact the training or eva

[2022-08-13 12:31] sanchit-gandhi commented on #18612
Hey @YingLi001! Great question, and awesome that you found help using materials on the HuggingFace Hub and GitHub!

I'll first provide some context regarding Wav2Vec2 models, their tokenisers and how they affects the model weights. This information should help in answering your questions!

The "base" Wav2Vec2 model maps a sequence of audio inputs to a sequence of hidden-state representations. In o

[2022-08-13 13:41] BigRedT commented on #18036
@sanchit-gandhi here's the [PR](https://github.com/huggingface/transformers/pull/18613) you requested. I was actually able to get it to work with minimal modifications to `generation_flax_utils.py`.

[2022-08-13 14:17] sanchit-gandhi commented on #18036
Awesome! Replied on the PR 🙂

[2022-08-13 15:01] #18024 closed

[2022-08-13 15:01] #18021 closed

[2022-08-13 15:01] #17566 closed

[2022-08-13 15:09] ImmortalZ commented on #3946
you can open transformers/data/data_collator.py，you can find  'tf_default_data_collator' is not exsit，then you can find function 'default_data_collator'

so you can replace by this code:

[code]

[2022-08-13 15:27] kasmith11 commented on #17569
Is this still being developed on? I'd be happy to contribute here as well. @sanchit-gandhi

[2022-08-13 16:07] rachthree opened #18614 "`transformers.convert_graph_to_onnx.quantize` fails in unit tests"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.10.60.1-microsoft-standard-WSL2-x86_64-with-glibc2.29
  * Used `tensorflow/tensorflow:latest` Docker image for this environment, then used `pip install -e '.[dev,onnx]'`
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax ve

[2022-08-13 20:07] #18120 closed

[2022-08-13 20:38] Aktsvigun opened #18616 "BartForConditionalGeneration is erroneous either at .forward or at .generate"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-58-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.10.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scrip

[2022-08-14 02:52] bryanzhou008 commented on #14498
@Atharva-Phatak @NielsRogge Where are these logits returned to?

out = model.generate(
            input_ids,
            attention_mask=attention_mask,
            max_length=max_target_length,
            output_scores = True
        )

Here out still only contains predictions.

[2022-08-14 06:53] joihn commented on #18557
PR merged

[2022-08-14 06:53] #18557 closed

[2022-08-14 09:38] #18558 closed

[2022-08-14 14:15] YingLi001 commented on #18612
Hi [sanchit-gandhi](https://github.com/sanchit-gandhi),

Thank you sooo much for your quickly reply and providing the detailed and constructive feedback!

I followed your suggestions(point 3), and successfully load the fine-tuned checkpoint. I set `ingore_mismatched_sizes` to True, obviously as you metnioned above, RuntimeError that I got previously has been ignored. The code shows as follows:

`

[2022-08-14 15:02] #17295 closed

[2022-08-14 17:07] omarfarooq47 commented on #15497
I am also facing this problem when running the [code](url=https://colab.research.google.com/drive/1IDwie_Te_2GntHay_zZ-oPvriNsacQ8d#) for pretraining wav2vec2

[2022-08-14 18:00] Leonezz commented on #8476
Same issue, I got an A5000 gpu for training, but I can't even eval with batch_size=8.

[2022-08-14 18:19] loubnabnl opened #18617 "Post-processing for HumanEval code generations not working properly"
### System Info

Not system-dependent

### Who can help?

### Information

- [X]  The official example scripts
- [ ] My own modified scripts

### Tasks

- [X]  An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The post-processing function for HumanEval code generation in CodeParrot doesn't work as ex

[2022-08-14 18:31] zeke-john commented on #14222
any update?

[2022-08-14 18:53] loubnabnl commented on #18617
Update: the case I mentioned would never occur with the stoppingcriteria in codeparrot as all generation should include an eof_string so no bug https://github.com/huggingface/transformers/blob/d6eeb871706db0d64ab9ffd79f9545d95286b536/examples/research_projects/codeparrot/scripts/human_eval.py#L59

[2022-08-14 18:53] #18617 closed

[2022-08-14 19:25] gagan3012 opened #18619 "Bug in DonutFeatureExtractor"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): 2.6.4 (True)
- Flax version (CPU?/GPU?/TPU?): 0.5.2 (gpu)
- Jax version: 0.3.14
- JaxLib version: 0.3.14
- Using GPU in script?: Yes
- Using distributed or pa

[2022-08-14 22:33] davidgilbertson commented on #8574
Is there any documentation for "How to set the credential helper for Hugging Face URLs without changing the helper used for all other repos?"

[2022-08-15 00:09] cigrainger opened #18620 "Big Bird cannot be converted to ONNX"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.17.5-x86_64-with-glibc2.33
- Python version: 3.9.6
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Usin

[2022-08-15 06:20] stancld commented on #18502
Hi @GabrielLin, with LongT5 model no prefix should be added to the input sentence. The doc example seems not to be accurate.

[2022-08-15 07:09] philschmid commented on #14222
Yes see: https://huggingface.co/docs/optimum/main/en/onnxruntime/modeling_ort#optimum.onnxruntime.ORTModelForSeq2SeqLM

[2022-08-15 07:13] YooSungHyun commented on #18501
hi, bro! @sanchit-gandhi !

Lol! you make custom trainer???? 😂 Awesome!!

But, I have another very easy way solution....kkk!!!

eval and predict loop used SequentialSampler right?
so! i only sorted my datasets.

look like this,
<img width="560" alt="image" src="https://user-images.githubusercontent.com/34292279/184590907-609f5227-783a-4679-9d9b-fd87658cce1c.png">

If training, group_by_length work

[2022-08-15 07:37] skye95git opened #18621 "How to load multiple TXT training files when pre-train RoBERTa from scratch"
https://github.com/huggingface/transformers/blob/d6eeb871706db0d64ab9ffd79f9545d95286b536/examples/pytorch/language-modeling/run_mlm.py#L308

Hi, I want to pre-train RoBERTa from scratch on my dataset. But in example run_mlm.py:
[code]
The train file argument `train_file` seems to support only one file:
[code]
Because we have too much training data, it is inconvenient to store it in a file. Can tr

[2022-08-15 08:09] pratikchhapolika opened #18622 "variable name:_name = "label" if "label" in features[0].keys() else "labels" when training custom NER"
I am trying to run custom NER on my data using offset values. I tried to replicate using this link << https://huggingface.co/course/chapter7/2 >>

I keep getting the error

 **_name = "label" if "label" in features[0].keys() else "labels"
AttributeError: 'tokenizers.Encoding' object has no attribute 'keys'**

**DATA BEFORE  tokenize_and_align_labels FUNCTIONS**

[code]

**DATA AFTER  tokenize_and_

[2022-08-15 09:24] huchinlp opened #18623 "`local_files_only=True` not work"
### System Info

torch                   1.12.1
transformers            4.21.1

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I have downloaded the pretrained weig

[2022-08-15 09:26] binmakeswell opened #18624 "Community Integration: Colossal-AI for Large AI Models"
### Feature request

Dear Hugging Face Team,

My name is Yongbin Li. I am part of [Colossal-AI](https://github.com/hpcaitech/ColossalAI) Team.

Thanks for your previous [invitation](https://github.com/hpcaitech/ColossalAI/issues/396) to Colossal-AI org to join Hugging Face. We are happy to share our founder's [blog ](https://twitter.com/HPCAITech/status/1547041583337394176)about Hugging Face.

We

[2022-08-15 10:16] lifan-yuan opened #18626 "Parallelization for OPT model"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-113-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.10.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fi

[2022-08-15 10:17] mehrdad78 opened #18627 "can't run the wav2vec2-base-960 example"
### System Info

i use Google Colab and the newest version of transformer
i wanted to run this example but i got error :`list indices must be integers or slices not str`
because line of :
`**result = librispeech_eval.map(map_to_pred, batched=True, batch_size=1, remove_columns=["audio"])**`

[code]

### Who can help?

@patrickvonplaten @anton-l @sanchi

### Information

- [X] The official example s

[2022-08-15 11:47] Rocketknight1 commented on #18582
Hi @joihn - there are some general difficulties when saving Hugging Face models as SavedModel. This is a general issue with any model where the model and layers are implemented by subclassing in Keras - SavedModel doesn't really have a good way to completely save and load those models (although you can save one or more model traces through SavedModel, this isn't usually what people want unless the

[2022-08-15 12:02] joihn commented on #18582
Perfect, thanks for the info :)

[2022-08-15 12:02] #18582 closed

[2022-08-15 12:53] zduey opened #18629 "OWL-ViT memory usage grows linearly with each prediction"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.29
- Python version: 3.8.11
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using G

[2022-08-15 12:58] AlekseyKorshuk opened #18630 "XLA generation error with repetition_penalty"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.13.0-40-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.10.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-08-15 15:02] #18070 closed

[2022-08-15 15:02] #18060 closed

[2022-08-15 15:02] #18055 closed

[2022-08-15 15:02] #18054 closed

[2022-08-15 15:02] #18052 closed

[2022-08-15 15:02] #18050 closed

[2022-08-15 15:02] #18047 closed

[2022-08-15 15:02] #17611 closed

[2022-08-15 15:02] #16998 closed

[2022-08-15 16:37] masoudhashemi commented on #11456
Hi @patil-suraj, thanks for the script. How can I access the `loss` after perturbation?

[2022-08-15 16:40] WissamAntoun commented on #18476
@tmoroder Hey, can i ask about the training throughput/performance you got with the TPUs?

[2022-08-15 19:18] quantitative-technologies opened #18635 "Passing optimizer to Trainer constructor does not work"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: TPU (u

[2022-08-15 19:43] rossbucky opened #18636 "Support output_scores in XLA TF generate"
### Feature request

Support output_scores in XLA TF generate.

### Motivation

The scores would be critical for generation models downstream usage. It is a confidence score for downstream thresholding or ranking. But it is not yet supported for XLA TF generate.

### Your contribution

N/A

[2022-08-15 19:45] rossbucky commented on #18636
@gante

[2022-08-15 21:39] Sette commented on #16569
I received the same problem when I pre-trained bert with MLM.

[2022-08-15 23:24] xvjiarui opened #18639 "CLIP output doesn't match the official weight"
### System Info

I am using transformer 4.20.1.

I found that the official CLIP model outputs don't match the hugging face one.

### Who can help?

@NielsRogge @stevhliu

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

[2022-08-16 01:48] #18509 closed

[2022-08-16 01:49] sayakpaul opened #18641 "Add TF VideoMAE"
### Feature request

Add the [VideoMAE](https://huggingface.co/docs/transformers/main/en/model_doc/videomae) model in TensorFlow.

### Motivation

There's an evident scarcity of SoTA and easy-to-use video models in TensorFlow. I believe having VideoMAE in TensorFlow would greatly benefit the community.

### Your contribution

I am willing to contribute the model. Please assign it to me.

@amyerobe

[2022-08-16 04:53] Yangyi-Chen commented on #18626
I have the same question since directly tuning models with this size (OPT) on one single device is infeasible. It would be great to have the parallelization mechanism implemented for OPT models. Many thanks!

[2022-08-16 05:56] 1362802590 commented on #18307
The same problem, can you please solve it

[2022-08-16 06:15] LysandreJik commented on #18622
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-16 06:18] LysandreJik commented on #18621
I would recommend using `datasets` in order to store all of your data; you can then pass it either as a local dataset or as a dataset stored on the Hub to that same script.

[2022-08-16 06:19] hjerbii commented on #15451
Hello,
Thanks a lot for sharing your work with us :) .

On my side, I do not see how we get the ids of tokens where entities start/end for the inference part?
When running LayoutLMForTokenClassification before RE, we only get the label of every token in the input text image.

Could you please share more details on this part?

Thanks!

[2022-08-16 06:25] LysandreJik commented on #18620
cc @vumichien, have you encountered this when contributing the BigBird ONNX exporter?

[2022-08-16 06:32] LysandreJik commented on #18142
cc @amyeroberts as well, as you've been working with similar objects lately :)

[2022-08-16 06:52] LysandreJik commented on #17224
Hey @DanielFLevine, we'd love for you to try and contribute that model!

cc @NielsRogge who can help out once he's back from leave :)

[2022-08-16 07:06] LysandreJik commented on #18629
cc @alaradirik as well :)

[2022-08-16 07:13] LysandreJik commented on #16569
cc @narsil, have you seen this error before?

[2022-08-16 07:15] LysandreJik commented on #18635
cc @muellerzr, would you like to take a look at this while Sylvain is on leave?

[2022-08-16 07:23] LysandreJik commented on #18614
cc @lewtun

[2022-08-16 07:30] alaradirik commented on #18629
Thank you @zduey, I'm looking into this!

[2022-08-16 07:31] kevint324 opened #18642 "_tf_available for customized built tensorflow"
### System Info

n/a

### Who can help?

@Rocketknight1

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

https://github.com/huggingface/transformers/blob/02b176c4ce1434

[2022-08-16 07:33] LysandreJik commented on #18603
@ydshieh, would you like to take a look at this issue?

[2022-08-16 07:33] roetezadi opened #18643 "`AttributeError: 'BertTokenizer' object has no attribute 'tokens_trie'"
### System Info

Google colab

### Who can help?

Anyone

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi,
I have trained a model with `transformers==4.9.1`.
Now I want to run this saved model wit

[2022-08-16 07:34] LysandreJik commented on #18599
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-16 07:47] ydshieh commented on #18643
@Narsil is the one knows the best.

This is added in the PR #13220

[2022-08-16 07:55] ydshieh commented on #18642
I think it (extending the list ) is fine if you would work with a specific `transformers` version. But it would be a bit tedious if you want to use newer versions constantly.

cc @Rocketknight1 for the idea regarding `adding some runtime flexibility`.

[2022-08-16 07:56] ydshieh commented on #18642
Changed the tag to `Feature request` instead :-)

[2022-08-16 08:29] skye95git commented on #18621
Thanks for your reply! How to build a dataset with our data? Is there a tutorial?

[2022-08-16 08:29] skye95git commented on #18621
Thanks for your reply! How to build a dataset with our data? Is there a tutorial?

[2022-08-16 09:17] pramodith commented on #16410
@inderpreetsingh01 @patrickvonplaten is anyone actively working on this issue. I was wondering if either I could take it up or shadow someone working on it. I'd like to start learning how to contribute models to huggingface.

[2022-08-16 09:24] ydshieh commented on #18603
Hi @tessanix, thank you for reporting. Could you provide a self-contained code snippet that could be run and reproduce the issue.
So far, `dataset` is not defined, neither `ds`. And `model` is used (`model.prepare_tf_dataset`) before it is created.

It would be really helpful to have a self-contained code snippet for debugging 🙏 . Thank you.

[2022-08-16 09:59] gante commented on #18630
Hey @AlekseyKorshuk 👋 Thank you for the reproducible script!

I have never seen this exception, so I'll have to dig into it. Expect further information soon :)

[2022-08-16 10:39] gante commented on #18630
@AlekseyKorshuk The PR linked above fixes the issue :) After it is merged, you'll have to install it from `main` to get its benefits!

[2022-08-16 10:46] AlekseyKorshuk commented on #18630
Thank you, @gante 🤗

[2022-08-16 10:46] #18630 closed

[2022-08-16 10:48] sinking-point opened #18649 "When resuming from checkpoint with Trainer using a streamed dataset, use the Datasets API to skip"
### Feature request

Huggingface Datasets has a feature where you can instantiate datasets in streaming mode, so you don't have to download the whole thing onto your machine. The API has a skip function. The Transformers Trainer doesn't use this, it just iterates through all the batches to be skipped.

I propose Trainer checks whether the given dataset is a Datasets one in streaming mode, and if s

[2022-08-16 10:51] gante commented on #18636
Hey @rossbucky 👋 The support for returning scores with XLA is in our plans. Like other XLA-related changes, it requires rewriting that part of the code to work with static shapes, as opposed to lists of tensors that grow as generate runs.

The next round of `generate` changes will focus on correctness (e.g. adding informative error messages). This feature will come right after that -- I'm keeping

[2022-08-16 11:04] #17971 closed

[2022-08-16 11:19] LysandreJik commented on #18649
WDYT @lhoestq?

[2022-08-16 11:34] sotwi commented on #18043
First and foremost, thank you to everyone that has been working on this, both from the original team at Meta and then on porting it to huggingface.

I was checking the [model's page](https://huggingface.co/docs/transformers/model_doc/nllb) in the huggingface website. Unlike previous translation models (like mBART) there are no details regarding how to train a model with the NLLB architecture in ne

[2022-08-16 11:36] LysandreJik commented on #18621
This part of the datasets documentation should likely help out: https://huggingface.co/docs/datasets/loading#local-and-remote-files

[2022-08-16 11:40] LysandreJik commented on #18626
See this conversation which might help out: https://huggingface.co/facebook/opt-66b/discussions/6

[2022-08-16 11:53] lhoestq commented on #18649
Unfortunately the `skip` function does the same. Though if you call `skip` before `map` it won't apply the preprocessing on the examples to skip and save time.

Therefore I don't think it using `skip` would have a big impact here

[2022-08-16 12:10] Ravisankar13 commented on #18452
Thanks for your response. Let me try them and get back to you

[2022-08-16 12:11] sinking-point commented on #18649
Thanks for your insight @lhoestq . Is there a technical reason the function is implemented that way? I assume random access is supported, given that shuffling of enormous datasets is allowed and fast.

[2022-08-16 12:31] Rocketknight1 commented on #18642
Hi @kevint324, I filed a PR that might resolve this, but I want to check with other maintainers that it's okay before I merge it. In the meantime, can you try it out? Just run `pip install git+https://github.com/huggingface/transformers.git@allow_force_tf_availability`, then set the environment variable `FORCE_TF_AVAILABLE=1` before running your code, and it should skip those checks now.

[2022-08-16 12:39] severinsimmler commented on #18614
I have fixed this in https://github.com/huggingface/transformers/pull/18336, but still waiting for a review.

[2022-08-16 12:42] ydshieh commented on #18190
For `led-large`

[code]

[2022-08-16 12:43] ydshieh commented on #18190
For `led-base`

[code]

[2022-08-16 12:43] ydshieh commented on #18190
For `led-base`

[code]

[2022-08-16 12:48] ydshieh commented on #18190
For `led-base`

[code]

[2022-08-16 13:31] vumichien commented on #18620
@LysandreJik I didn't encounter this problem when contributing the BigBird ONNX exporter. I do check again by running `RUN_SLOW=1 pytest tests/onnx/test_onnx_v2.py -k "bigbird"` , and all the tests are still passed.

[2022-08-16 13:39] ydshieh commented on #15559
There is similar issue with `led-large`, which has the same weight as `bart-large`. See my comment [here](https://github.com/huggingface/transformers/issues/18190#issuecomment-1216584872).

In short, no matter what the encoder input sequences are, the decoder sequence `[</s>, <s>]` will produce identical (diff in the range ~1e-6) LM logits (before any finetuning). This explains why we have trainin

[2022-08-16 14:00] ydshieh commented on #18127
Hi @stas00 Let me know if we should proceed :-)

[2022-08-16 14:52] ydshieh commented on #15559
I have verified the same situation occurs for `bart-large` using HuggingFace's `transformers`.

Furthermore, the following code snippet confirms the same for `fairseq`'s `bart-large`:

[code]

The results:

[code]

[2022-08-16 15:02] #18083 closed

[2022-08-16 15:02] #18082 closed

[2022-08-16 15:02] #18058 closed

[2022-08-16 15:02] #17978 closed

[2022-08-16 15:29] lhoestq commented on #18649
Random access is not supported for streaming datasets. Shuffling is approximate by shuffling the dataset shards and using a shuffle buffer, see the documentation here: https://huggingface.co/docs/datasets/v2.4.0/en/stream#shuffle

[2022-08-16 16:11] NautiyalAmit opened #18656 "BigBird inference: same input data gives different outputs"
### System Info

- pytorch==1.10.2
- transformers==4.20.1
-  python=3.9.7
-

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

Every tim

[2022-08-16 16:19] muellerzr commented on #18635
@quantitative-technologies your issue here is how you have your if/else setup. I believe by reinstantiating an optimizer always even if we don't use it in the trainer, the model gets linked to that optimizer instead (or too?), and as a result you aren't training well.

Here's my refactor of your code, and below shows that when doing `PASS_OPTIMIZER_TO_TRAINER` = `True` or `False`, I get the exact

[2022-08-16 16:21] stas00 commented on #18127
Yes, please. Please let me know how I can help.

Thank you, @ydshieh!

[2022-08-16 16:40] ydshieh commented on #18656
@NautiyalAmit Sure!

[2022-08-16 16:41] sinking-point commented on #18649
Would it be possible to skip whole shards when a large number of samples need to be skipped?

[2022-08-16 17:07] stas00 commented on #18127
The instructions of what needs to be installed are verbatim in:
https://github.com/huggingface/transformers/pull/17765

To test:

[code]

[2022-08-16 17:16] ydshieh commented on #18127
OK, I get it better now. So basically I need to
- install what mentioned in `To reproduce and set up the environment` section in #17765 inside some docker files
- have a job to run `torchdynamo` tests

Do you think it's better to have a new docker image for this (just like `deepspeed`), or we can just put it in the `transformers-all-latest-gpu` (the one used for mode/tokenizer/generation tests)? I

[2022-08-16 17:21] stas00 commented on #18127
I'd say one docker image for all the extensions.

[2022-08-16 17:22] quantitative-technologies commented on #18635
@muellerzr I don't believe that was the issue. My if/else structure was convoluted because I was trying to make an additional point besides the bug.

Now when I run the exact code you sent, I am still seeing the original problem:

[code]

So it is not learning. Also mine is running ~4x faster than yours, though we may be using different hardware.

I am using a Colab instance with a TPU (using a si

[2022-08-16 17:22] stas00 commented on #18127
At some point it will become stable and will work with just the official released version.

[2022-08-16 17:44] #18160 closed

[2022-08-16 20:29] tmoroder commented on #18476
@WissamAntoun

Here some output that I get during the ``model.fit`` call. The model is very close to the one in the Colab notebooks, but the run is carried out on a Kaggle TPU.

Some further specification:
- model max length: 512
- batch size: 128
- 12800 training samples (or 100 steps per epoch)
- about 7500 validation samples
- smoothed cross-entropy loss
- accuray and cross-entropy metric

When

[2022-08-16 21:04] WissamAntoun commented on #18476
Oh great! I mean not great in the sense that the model is super slow on TPUs, but great that `model.fit` and my custom training loop have the same issue. you are getting 512sentences*100batches/540s=~23sents/s, and I'm getting ~sents/s but for an electra style training.

Thank you for providing the numbers they really helped.

[2022-08-16 21:20] pramodith commented on #12182
@LysandreJik I've created a PR for this issue, please take a look when you get the chance to.

[2022-08-16 23:31] hunarbatra commented on #16831
@JustABiologist could you please share how you made it work with using input_embeds to a decoder-based model like ProtGPT2? I'm trying to implement the same, but I also read that decoder-only models cannot generate with "input_embeds", so I'm wondering how you made it work.
Thanks :)

[2022-08-17 02:32] kevint324 commented on #18642
Yes, it works.
Thanks for the quick fix.

[2022-08-17 02:54] sooftware opened #18659 "DeBERTa can't load some parameters"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.0-81-generic-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fil

[2022-08-17 07:05] ArthurZucker opened #18660 "_no_load_in_8bit module list have custom ignored layers"
### Feature request

Could be awesome to have the property `_no_load_in_8bit = []` for the 8bit quantisation to allow custom layers to not be converted.
CC @younesbelkada

### Motivation

Would increase flexibility

### Your contribution

Would be testing on `Jukebox`

[2022-08-17 07:22] younesbelkada commented on #18660
Hi @ArthurZucker
Thanks a lot for the feature request!
I have addressed a commit in https://github.com/huggingface/transformers/pull/18646 that should support adding an argument `no_load_in_8bit_modules` in `from_pretrained` function. Could you try it in your usecase and let me know if this helped?

[2022-08-17 07:58] ydshieh commented on #18656
@NautiyalAmit The provided code sn

[2022-08-17 08:59] binmakeswell commented on #18624
If you have any difficulties or concerns, please let me know.
We can have further discussion about them, thanks. :-)

[2022-08-17 09:07] LysandreJik commented on #18620
Maybe we could put a higher tolerance in that case. WDYT @lewtun ?

[2022-08-17 09:07] GabrielLin commented on #18502
Hi, @stancld . Thank you for your reply. Could you please indicate how to use `[PegasusForConditionalGeneration]` for different down-tasks and help to fix the example code? I have no ideas.

[2022-08-17 09:12] NautiyalAmit commented on #18656
Please find the code with the correct args:
[code]

[2022-08-17 09:25] mikcnt opened #18661 "Refactor Pytorch `model.generate` method to work on TPU"
### Feature request

Refactor PT version of the method `model.generate` for text generating models to make it compatible with XLA and speed up inference on TPU.

### Motivation

Right now, `model.generate` on PT is extremely slow on TPU compared to CPU and GPU. This is probably due to the fact that some operations done in the PT version of `model.generate` are not XLA compatible, and thus the gene

[2022-08-17 09:32] gante commented on #18661
cc @patrickvonplaten

[2022-08-17 09:40] ydshieh commented on #18656
Thanks @NautiyalAmit ! The following 2 lines would still fail . Could you specify the exact checkpoint name you used? Thanks.

[code]

[2022-08-17 10:17] Charithavarma opened #18662 "BartTokenizer add_tokens feature."
Hi @LysandreJik ,

I am working on audio captioning, and the ground truth captions are tokenized using the BartTokenizer. I have observed that some of the words in the captions are not tokenized correctly. For instance, the word 'rumbling'. There is no such word in the tokenizer, and its tokenizing is ['Ġr', 'umbling']. I have tried to add the tokens(the word 'Ġrumbling')and change the model token

[2022-08-17 10:40] skye95git opened #18663 "No module named 'evaluate'"
https://github.com/huggingface/transformers/blob/c99e984657b64dd8f19de74405bbf13763ab4f2b/examples/pytorch/language-modeling/run_mlm.py#L35

When I pre-train RoBerta from scratch using the latest version `run_mlm.py`, there is an error :
[code]

[2022-08-17 10:42] gante commented on #18616
Hi @Aktsvigun 👋 You are absolutely right, our documentation is not clear at the moment if you want to get the scores with beam search. In essence, the scores for a given index of `generate_output.sequences_scores` do not match the sequence with that index, because the sequence's internal index during beam search gets shuffled around (due to the beam search algorithm structure) :)

We do have a met

[2022-08-17 10:42] skye95git commented on #18621
Thanks! It works.

[2022-08-17 10:43] skye95git commented on #18621
Thanks! It works.

[2022-08-17 10:46] flozi00 commented on #18624
@stas00
seems much better than https://github.com/huggingface/transformers/issues/17392

[2022-08-17 10:47] kmkarakaya commented on #18282
@gante thank you for the reply.

Actually, I attempted reading the code but I could not locate the transformer block names to use them in freezing.
As you suggested the "wte" name can be used to freeze the embedding layer.
However, when I want to freeze let's say the first 3 transformer blocks how should I code it?

I tried to freeze the first transformer block (model.transformer.h_._0.trainable=F

[2022-08-17 10:55] kmkarakaya commented on #18282
@gante I now tried the below code:
![image](https://user-images.githubusercontent.com/41159849/185101607-8303dee4-e57e-49d7-a4a4-4738d23ed90b.png)
It seems to be working.
Do you think that it is the correct way of freezing a transformer block's weights in GPT2?
Because, I'm not sure :)
Thanks.

[2022-08-17 10:56] gante commented on #18282
Hey @kmkarakaya 👋

That's true, some names are non-trivial to match, due to internal name mapping. In this case, the layer is named `model.transformer.h[0]`, so setting `model.transformer.h[0].trainable=False` will work. In general, if you see `layer_._{index}`, you can access them as `layer[index]`.

[2022-08-17 11:02] amyeroberts commented on #18142
Hi @DataLama, thanks for raising the issue.

In this script, the reason for the validation transformations being defined like this and in this order - resize then centre crop - is that we end up with an image of size `(feature_extractor.size, feature_extractor.size)`, but what's shown in the image has the same aspect ratio as the original i.e. the image isn't "squashed".

In your suggestion:
[code

[2022-08-17 11:06] patrickvonplaten commented on #18190
Hmm that's very interesting. A couple of pointers that might help:

1. `bart-large` always forces the second token to be the BOS token during generation (see https://huggingface.co/facebook/bart-large/blob/main/config.json#L27) where as led-large doesn't. However `led-large` should probably do this as well since `led-large` is based of `bart-large`
2. IIRC `led-large` has exactly the same weights

[2022-08-17 11:11] patrickvonplaten commented on #18190
Also one last comment, note that just because `"</s> <s>"` always predicts the same token regardless of the encoder outputs doesn't mean training is necessarily broken. During training all `decoder_input_ids` start with `</s><s>` and then the model should learn the correct behavior, but it might indeed be a good idea to perturb the bos token.

In general, I wouldn't recommend using both `</s>` and

[2022-08-17 11:17] kmkarakaya commented on #18282
@gante Thank you for the reply, I will try them as well.

I checked if I can freeze the model by freezing all the embeddings and the blocks as below.
But it seems there is something missing my attention :)
What else should I freeze in a GPT2 model other than the embedding and the blocks?
![image](https://user-images.githubusercontent.com/41159849/185105549-5bbfe0a7-3c14-49cb-aab0-a4d49153bce4.png)

[2022-08-17 11:33] gante commented on #18282
If you want to freeze everything, then you should freeze `model.transformer` (which is a layer). I don't know all parameters on top of my head, so if there are parameters remaining you should attempt to find the trainable parameters :)

[2022-08-17 11:37] balachander1964 opened #18664 "Cannot import pipelines from transformers"
Hi, I use a Windows 10 Proffessional laptop for development and am using python 3.7.6 conda virtual env. I get the following run time error when running my code (below, after the error details).
<<
bertqa interactive window [PTVS 17.0.22089.1-17.0]
Type $help for a list of commands.
The interactive window has not yet started.
Running D:\Projects2017\bertqa\bertqa\aaa_scratch.py
Traceback (most rec

[2022-08-17 11:37] lhoestq commented on #18649
In the general case we don't know in advance how many examples there are per shard (it depends on the data file format). In many cases we would need some extra metadata somewhere that says how many examples each shard contain.

For example the C4 dataset is made out gzipped JSON Lines files - you don't know in advance how many examples each shard contain, because you need to uncompress the data an

[2022-08-17 11:37] ydshieh commented on #15559
For the record: `bart-large` seems learned to predict the first token after `<s>` in the encoder input sequence, for both the first two decoder tokens `[</s>, <s>]`. I provide a script to confirm this at the end.

Here are some outputs
[code]

[code]

[2022-08-17 11:39] kmkarakaya commented on #18282
I recognized that "wpe" is missing:
![image](https://user-images.githubusercontent.com/41159849/185109289-502c8721-77f3-4288-844b-33501bbc9cce.png)

However, I cannot set it to untrainable.
![image](https://user-images.githubusercontent.com/41159849/185108667-b286fb87-fd5f-4eb5-a7b0-77a87151928f.png)

Frankly, I don't know what this layer does.
Do you have any clue?
Thanks

[2022-08-17 11:44] ydshieh commented on #18190
For the record: `bart-large` seems learned to predict the first token after `<s>` in the encoder input sequence, for both the first two decoder tokens `[</s>, <s>]`. I provide a script to confirm this at the end. See [this comment](https://github.com/huggingface/transformers/issues/15559#issuecomment-1217894635).

For `led-large-16384`, same situation. But when this is not the case, it gives `[<s>

[2022-08-17 12:26] philschmid opened #18665 "Unexpected keyword argument 'trust_remote_code' when using `table-question-answering` pipeline"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- U

[2022-08-17 12:28] philschmid commented on #18665
It is not only for local model broken

[code]
creates the same error

[2022-08-17 12:29] philschmid commented on #18665
cc @NielsRogge @Narsil

[2022-08-17 13:05] muellerzr commented on #18635
@quantitative-technologies are you using `torch_xla` then I assume? IIRC by default it uses all the nodes, so you are indeed doing distributed training with 8 workers. Or how are you launching it to ensure that no distributed training is occurring?

[2022-08-17 13:11] gante commented on #18282
`wpe` are the position embeddings. Their code is [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/gpt2/modeling_tf_gpt2.py#L329) -- I don't know how to freeze these ones :(

[2022-08-17 13:44] ydshieh commented on #18127
@stas00 I have tried to build the image and run the tests.

Here is the [run page](https://github.com/huggingface/transformers/runs/7878615152?check_suite_focus=true)

It failed with

[code]

I can't find `aot_autograd_speedup_strategy` in the latest [torchdynamo repo](https://github.com/pytorch/torchdynamo).

cc @frank-wei

[2022-08-17 13:51] muellerzr commented on #18663
Hi! You need to do `pip install evaluate`. #18666 will also add it to each of the `examples` internal `requirements.txt` file, so it will be installed when you do `pip install -r requirements.txt`

[2022-08-17 13:59] #18199 closed

[2022-08-17 14:38] muellerzr commented on #18635
@quantitative-technologies the issue is described in this xla issue: https://github.com/pytorch/xla/issues/3675#issuecomment-1171702988

Essentially you need to place the model on the device yourself first, then create the optimizer. After doing this I got the exact same results.

*Super* subtle bug here.

To do so, add the following lines to your code:

[code]

[2022-08-17 15:02] #17947 closed

[2022-08-17 15:02] #17754 closed

[2022-08-17 15:05] patrickvonplaten commented on #18661
Hey @mikcnt,

This sounds like a very cool project and I think we should sooner or later focus on it. Currently I won't have the time to take a closer look here, but my advice would be:

- I think you're totally right in that PyTorch/XLA often falls back on CPU which is why it is very slow. We're luckier here with Jax and TF because if things fall back on CPU the code fails
- It'll take some time

[2022-08-17 15:23] Giovani-Merlin commented on #1413
When you add a "special token" it will not be replaced by the "[MASK]" or replaced by a random word in the pre-training procedure.

[2022-08-17 16:14] jessiewang158 commented on #5364
Hello, facing the same problem

[2022-08-17 16:19] gorkemozkaya commented on #18166
https://github.com/huggingface/transformers/pull/18169#issuecomment-1186713812 solves the issue

[2022-08-17 16:19] #18166 closed

[2022-08-17 16:41] stas00 commented on #18127
Thank you for trying, @ydshieh. It's too bad that the API appears to be unstable :(

Let's wait for @frank-wei to reply

[2022-08-17 16:48] stas00 commented on #18624
I haven't had a change to read on Colossal-AI yet, why do you believe it's much better based on your research, @flozi00?

CAI appears to be its own eco-system - not sure how easy it'd be to integrate with our eco-system.

[2022-08-17 17:35] inderpreetsingh01 commented on #16410
@pramodith , I started working on it but got occupied with some personal things, I had gone through the resources shared what I understood from the paper:

EdgeFormer uses:
- Layer adaptation
- Interleaved transformer decoder layer
- Load balanced and encoder favored parametrization
- Each parameter is used a minimum 4 to a max of 6 times

I am not clear on the layer adaptation part and couldn’t f

[2022-08-17 17:58] mattf1n commented on #18036
Hi! I was away for a bit. I'm happy to see so much activity this past week or so! I have implemented a working version for GPT-Neo. I'll try making a pull request soon

[2022-08-17 18:00] taymills opened #18670 "TFClipModel fails to train because of None loss"
### System Info

transformers version: 4.21.1
Platform: MacOS BigSur 11.6.7
Python version: 3.8.13
Huggingface_hub version: 0.8.1
Tensorflow version (GPU?): 2.7.3 (False)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?: no
Using distributed or parallel set-up in script?: no

@patil-suraj

### Who can help?

@patil-sura

[2022-08-17 18:24] flozi00 commented on #18624
https://github.com/hpcaitech/ColossalAI-Examples/blob/757514d2b1501d3530777cdf567f0a18063acf2d/image/resnet/train.py#L82-L111

In terms of code, it looks very similar to a normal pytorch training loop
Did not had a deep look into the CAI code itself, focused on integration compitability to existing code
to me it looks like you don't have to deal with the integration of patrickstar since everything

[2022-08-17 19:07] amyeroberts commented on #18376
Hi @innat. As mentioned above it's quite hard to debug without know what's happening during submission and logs from the kaggle notebook. My current best guess is it's due to the size of the saved Swin model.

Using your script to create and save out a model, I looked at the sizes across different checkpoints:
[code]

[code]

I haven't dug much into why the model is so much larger. A cursory glanc

[2022-08-17 19:29] ydshieh commented on #18190
@ratishsp

I could confirm that the trick of perturbing the `bos` token's embedding works for `led-large-16384`. You can simply adding the following block after the line https://github.com/huggingface/transformers/blob/49e44b216b2559e34e945d5dcdbbe2238859e29b/examples/pytorch/summarization/run_summarization.py#L425
would work.

Please let us know if this works for you!

Here is the code to add:
[c

[2022-08-17 19:45] taymills commented on #18670
Also, I do not see a test case for the fit method anywhere in https://github.com/huggingface/transformers/blob/main/tests/models/clip/test_modeling_tf_clip.py, which should probably be added

[2022-08-17 20:45] mattf1n commented on #18036
Here is the PR ^

[2022-08-17 21:05] frank-wei commented on #18127
Thanks for setting up the testing @stas00 and @ydshieh
Looks like @Chillee or @anijain2305 had made some update there for AOTAutoGrad. Could you elaborate here?

[2022-08-17 21:16] anijain2305 commented on #18127
We have cleaned up some Aot Autograd related things in TorchDynamo repo.

https://github.com/huggingface/transformers/blob/4eed2beca0fd8058a1c51684f68599522adf20c9/src/transformers/trainer.py#L652

The above line could be replaced with

`return torchdynamo.optimize("aot_nvfuser")`

Therefore, we do not need the import anymore on line 645

[2022-08-17 21:44] stas00 commented on #18127
1. could you please make a PR that fixes things.

2. could you please include the relevant transformers tests in your CI, so that if you break things you also update the transformers side? Thank you.

e.g. you can see how Deepspeed runs transformers/deepspeed integration tests on their CI https://github.com/microsoft/DeepSpeed/blob/master/.github/workflows/nv-transformers-v100.yml

In your case it

[2022-08-17 22:13] nbroad1881 commented on #18659
#18674 should fix this. Thanks for reporting!

[2022-08-18 01:57] skye95git commented on #18663
Thanks! It work.

[2022-08-18 01:57] #18663 closed

[2022-08-18 03:16] stas00 commented on #18624
Thank you for sharing your insights, @flozi00!

I read their paper and I'm not quite sure of what type of integration is proposed here. Unlike Deepspeed which is meant to be integrated with the user code, CAI seems to be a standalone solution.

One of the biggest issues with any parallelism proposals (other than DDP) is that they all require rewriting the model's code, which with 100+ models and g

[2022-08-18 03:18] stas00 commented on #18624
Also, let's ping @hyunwoongko - Kevin, I know you have studied many frameworks while building https://github.com/tunib-ai/oslo - have you by chance researched [Colossal-AI](https://github.com/hpcaitech/ColossalAI) on your journey? If you did, would you kindly share a few insights if you have any? I know you were cherry picking the best parts from many systems in addition to your own innovations.

[2022-08-18 04:50] flozi00 commented on #18624
I'm sorry to admit that I didn't think of the backwards compatibility, totally forgot about that point, sorry.

I focused mainly on the integration in the trainer and did not include the now very many architectures and weights.

Maybe CAI has an idea to automate that ?
What about the integration to lightning, did they had discussed that point too ?

I have some ideas in mind but that would be more

[2022-08-18 04:59] stas00 commented on #18624
No harm done. This is totally understandable - the HF transformers eco-system is becoming and more complex so often it's far from trivial to add yet another component to it.

We are super welcoming solutions that can automate performance enhancements (like torchdynamo - see below).

PL if a training framework/loop, last I looked they didn't have the model library and were using transformers.

ther

[2022-08-18 07:09] #18642 closed

[2022-08-18 07:11] KMFODA commented on #18354
Thanks @gante that's very helpful. I worked on a draft PR (just in case this is deemed useful to anyone else) and initial results look promising. If I feed a hallucination penalty of 2 (instead of the default 1) to the greedy search function the text goes from:

[2022-08-18 07:42] heraclex12 commented on #16702
I am confused about the efficiency of this function. Does anyone test the performance of trained models by this way?

[2022-08-18 07:45] ydshieh commented on #18127
I can change to `return torchdynamo.optimize("aot_nvfuser")` in my PR directly (to enable CI testing).

[2022-08-18 07:55] tsuyoshi-fukuzawa commented on #5984
I also resolved with larger batch size (96) and lower learning_rate (5e-5). Thank you.

[2022-08-18 08:10] ydshieh commented on #18127
`import` issue fixed. But get `ResetRequired` from `../torchdynamo/torchdynamo/eval_frame.py:101: in __enter__
    self.on_enter()`. See the full error below.

Maybe I could just `torchdynamo.reset()` somewhere below ` # 2. TorchDynamo nvfuser`??

[code]

[2022-08-18 08:55] ydshieh commented on #18391
The doc mentions `using a pre-trained vision and text encoder.`, so I think there is no ambiguity here. It doesn't necessary finetune the original clip checkpoints thought. You can use any text and image encoders.

Close this issue now. Don't hesitate if you have further question, @gongshaojie12

[2022-08-18 08:55] #18391 closed

[2022-08-18 09:07] ydshieh commented on #18670
Hi! There is
https://github.com/huggingface/transformers/blob/0ea53822f8bdc2c0c41b45bcd04fa6c031e5e700/tests/test_modeling_tf_common.py#L1406

defined in the parent class `TFModelTesterMixin`.

[2022-08-18 09:09] ydshieh commented on #18670
For the issue, could you check if there is `labels` key in `inputs`?

[2022-08-18 09:35] ydshieh commented on #18376
Randomly jumping in this thread :-)

- Are you able to reproduce this issue in a machine with similar spec as Kaggle machines?
- One way to narrow down to the root cause is to gradually remove some parts of code
- From the provided notebook, we can't have any conclusion on memory leak. Memory leak refers to the memory usage increase during a repetition of the same call to a particular code block.

[2022-08-18 09:56] LunaJang commented on #15574
I'm having same problem. Did you solve it?

[2022-08-18 10:09] innat commented on #18376
@amyeroberts
Thanks for checking. I'll quickly check the size of these models in torch version.

@kfrancischen
Your feedback is really much appreciate here. ([more info](https://www.kaggle.com/competitions/google-universal-image-embedding/discussion/336534#1859160))

[2022-08-18 10:43] ydshieh commented on #18376
I would suggest debug this is a VM outside Kaggle though. I remembered there is limited GPU/TPU hours per week on Kaggle. Don't waste your quota :-)

[2022-08-18 11:30] vad13irt opened #18681 "Padding offsets mapping via `tokenizer.pad`"
### Feature request

While preparing the dataset for the Named Entity Recognition task, I noticed that `tokenizer.pad` does not apply padding for `offset_mapping`, which is necessary not only for the Named Entity Recognition task.

<img src="https://i.ibb.co/hXRzwL1/Screenshot-11.png" alt="Screenshot-11" border="0">

### Motivation

In order to get "padded" `offset_mapping`  I need to write some a

[2022-08-18 12:27] ydshieh commented on #18525
@patil-suraj @sanchit-gandhi @patrickvonplaten

We have memory leak issue in some Flax tests. Basically, I observed this happens for `test_beam_search_generate`, `test_beam_search_generate_attn_mask` and `test_beam_search_generate_logits_warper`, but there might be more.
Each call to them increase memory usage by 10~30 MB.

The CircleCI job run page also shows memory issue in Flax testing (https:/

[2022-08-18 13:53] zduey commented on #18629
@alaradirik - You are likely further along isolating the problem than I am, so please ignore if this is a distraction. The issue seems specific to repeated calls to the `OwlViTForObjectDetection` forward pass.

The following results in the same memory usage pattern as the initial snippet. It differs from the original mainly in that the processor is not called as part of the loop.

[code]
![owl_vit

[2022-08-18 13:59] Rocketknight1 commented on #18670
Hi @taymills, the issue is caused by the `TFClipModel` needing `return_loss=True` to be set to return a loss - you can see this in [the model docs](https://huggingface.co/docs/transformers/model_doc/clip#transformers.TFCLIPModel) I agree it's unintuitive that `fit()` does not set this to True by default, and I'm not sure why the issue is not detected in the tests - I'll investigate now and hopeful

[2022-08-18 14:16] Rocketknight1 commented on #18670
Update: The `test_keras_fit` test skips models that do not have a `hf_compute_loss` method. This check was added to skip the test on 'base' models like `TFBertModel` that do not have a specific output head or loss, because these models cannot be fit directly. However, `TFClipModel` does have a specific task and loss, but does not have `hf_compute_loss`.

The solution is to rewrite the check to cor

[2022-08-18 15:04] LysandreJik commented on #5364
cc @Rocketknight1 @gante :raised_hands:

[2022-08-18 15:05] #18093 closed

[2022-08-18 15:05] #18091 closed

[2022-08-18 15:05] #18090 closed

[2022-08-18 15:20] stas00 commented on #18127
That's why I asked of [anijain2305](https://github.com/anijain2305) to fix it and make a new PR that actually fixes the tests.

[2022-08-18 15:30] alaradirik commented on #18629
Hi @zduey, thank you for the detailed analysis!

I'm more or less at the same point as you are, I confirmed that `OwlViTModel` is not the cause of the memory leak. I tracked the leak down to the calls to image_text_embedder and working on it. I'm aiming to open a PR to fix this by tomorrow.

[2022-08-18 15:31] Rocketknight1 commented on #5364
Directly using `TFRobertaMainLayer` is unusual and not recommended - @jessiewang158 can you try using `TFRobertaModel` instead?

[2022-08-18 15:44] ydshieh commented on #18662
Could confirm the issue. Also occur for slow bart tokenizer. I can see the word is added to the tokenizers, but the output don't change.

[2022-08-18 15:49] ydshieh commented on #18662
[code]
gives
[code]

[2022-08-18 15:58] sinking-point commented on #18649
Ah, this needs deeper changes than I thought then. Still, the metadata would be nice to have. It could even be generated lazily when people stream the dataset, to avoid a bit upfront cost. Alternatively, the streamed dataset client could locally keep a cache of how many samples each shard it's iterated through contains. I'd prefer the former, so it doesn't matter if the cache is cleared or you swi

[2022-08-18 16:00] Rocketknight1 commented on #18670
@taymills your code sample runs correctly for me with the latest patch. Can you check and confirm it works for you too? To use the PR branch, run `pip install --upgrade git+https://github.com/huggingface/transformers.git@return_loss_fix`

[2022-08-18 16:00] SaulLu commented on #18662
In transformers, an added token will be a token that will be preserved before the tokenizer is applied. In this case, since in the initial sentence the spaces are `" "` and not `"Ġ"`, the `'Ġrumbling'` token is not identified anywhere.

To achieve what you want to do I advise you to try to add the token `" rumbling"`.

Let me know if it solves your issue! :hugs:

[2022-08-18 16:03] ydshieh commented on #18662
Thank you, @SaulLu ! Is this documented somewhere (I believe so) 🙏 .

[2022-08-18 16:06] Rocketknight1 commented on #18670
@taymills yes, that's part of this PR! When using the built-in loss, we now force `return_loss=True` for models where it is an argument. That should avoid this for CLIP and for other similar models in future.

[2022-08-18 16:21] anijain2305 commented on #18127
Yes, @stas00 I am gonna send a PR to transformers to make the appropriate changes. Apologize for the failures.

Regarding adding transformers in the CI, thats a very good idea. Let me see how much extra time it adds on TorchDynamo side.

[2022-08-18 16:24] stas00 commented on #18127
Thank you, @anijain2305!

You can add it as a separate job, so it'd run in parallel with your other jobs. It should be real fast to finish at least with barely a few basic tests we have right now for torchdynamo. or even tacking it to the existing job - the main overhead will be cloning `transformers` and installing its prerequisites.

[2022-08-18 18:16] quantitative-technologies commented on #18635
Right, I should have mentioned that `torch-xla` was installed in the report.

[2022-08-18 18:29] quantitative-technologies commented on #18635
OK, I see.

I was impatient and made my own solution, by subclassing `Trainer` with an `optimizers_init` function argument that creates the optimizer from the `Trainer`'s model and the `args`. This resolved the issue, since `Trainer` places the model for you.

I'm not sure if this is perhaps an improved design. Actually, having an `lr_scheduler_init` definitely makes more sense -- I didn't impleme

[2022-08-18 18:37] muellerzr commented on #18635
That'd be up to @sgugger, who is OOF until the 30th on holiday 😄 I'll make sure he sees this though when he's back!

[2022-08-18 19:22] SaulLu commented on #18662
By searching a little I realize that the current documentation is not very explicit on this point. I propose to detail it a little in the PR https://github.com/huggingface/transformers/pull/18687 :relaxed:

[2022-08-18 20:23] taymills commented on #18670
Everything looks good! Really appreciate the quick turn around on that. Kudos 🎉 !!!

[2022-08-18 20:52] Rocketknight1 commented on #18670
@taymills No problem! Fixing the tests has exposed a few other issues though, which that PR will need to fix as well. Unfortunately, you're stuck in the PR branch for now, but I'll ping you and close this issue when it's merged to main!

[2022-08-18 21:19] pramodith commented on #16410
@inderpreetsingh01 I believe that for the layer adaptation technique new parameters are only required for the LoRA method. The parameters for this are defined in [this](https://github.com/microsoft/unilm/blob/db95173cd050de0a58fce48077026c2f0247f782/edgelm/fairseq/modules/transformer_layer.py#L70) file in the fairseq repository. The file also contains the code for the Interleaved decoder.

If you'

[2022-08-18 22:00] vad13irt commented on #18681
Yes. Good idea.

[2022-08-19 02:03] skye95git opened #18688 "Why does setting `--fp16 True` not save memory"
https://github.com/huggingface/transformers/blob/e54a1b49aa6268c484625c6374f952f318914743/examples/pytorch/language-modeling/run_mlm.py#L247-L250

https://github.com/huggingface/transformers/blob/e54a1b49aa6268c484625c6374f952f318914743/src/transformers/training_args.py#L663-L666

I want to pre-train Roberta on my dataset. However, the Batch size can be set to 32 at most. Otherwise, OOM is reporte

[2022-08-19 02:24] TheHonestBob opened #18689 "Is a bug in TFT5ForConditionalGeneration._shift_right func?"
### System Info

transformers==4.17.0

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

[code]

[2022-08-19 03:21] ver217 commented on #18624
Hi, we drafted a [pull request](https://github.com/Lightning-AI/lightning/pull/14224) which intergrates ColossalAI to lightning. And here are exmaples and benchmark https://github.com/hpcaitech/ColossalAI-Pytorch-lightning. We have impletemented ZeRO-DP with chunk-based memory management and heterogeneous memory management. I think this is not hard to intergrate to HF. Besides, we are working on a

[2022-08-19 03:44] AdonaiVera opened #18690 "Implement a new model: Point-BERT 🌟"
### Model description

Hi, I’m Adonai vera; I’m looking to contribute with a new point cloud model; Point cloud has become very relevant in applications such as autonomous cars, inspections, architecture, reconstruction, and more. Segmentation algorithms allow us to extract valuable information from these types of files. That is why it is very important for me to contribute to the HF community wit

[2022-08-19 03:59] feifeibear commented on #17392
@flozi00 @stas00 Thanks for your attention on PatrickStar.
I would like to clarify that the comparison results of PatrickStar and DeepSpeed is repeatly varified by many users.
The results in the paper are still valid in May 2022 with the latest version DeepSpeed at that time.
Also, the PatrickStar idea has already been integrated into ColossalAI and played a key role.
I strongly believe that Patri

[2022-08-19 04:22] foton263 commented on #4336
Just delete the corrupted cached files and rerun your code; it will work.

[2022-08-19 06:16] stancld commented on #18162
Hi @whaleloops and sorry for the late response. There exists a hotfix if you filter out sequences shorter than 16 tokens (to avoid examples with empty tglobal attn).

Lemme know if it helps. :)

Unfortunately, I don't have enough spare time to look at more proper fix and send PR:/

[2022-08-19 07:10] inderpreetsingh01 commented on #16410
@pramodith thanks for clearing it, i actually looked at the original fairseq repository which is not having the adaptation part. I can contribute on this, we can connect [here](https://join.slack.com/t/slack-9ke1548/shared_invite/zt-1eln74e78-JtH6aQ83yEJCiR6j89~~hw)

[2022-08-19 07:15] 480284856 commented on #9250
while it doesn't work for me. :-(

`
tokenizer = AutoTokenizer.from_pretrained("bigscience/bloom-560m")
ValueError: Tokenizer class BloomTokenizerFast does not exist or is not currently imported.
`

[2022-08-19 07:24] 480284856 commented on #9250
well, newest version of transformers works for me.

[2022-08-19 08:00] patrickvonplaten commented on #16410
Let me know if you need any help :-)

[2022-08-19 08:03] patrickvonplaten commented on #18162
That's a tricky one it seems @whaleloops ! An alternative to filtering out short sequences could also be to always pad until max length

[2022-08-19 08:15] patrickvonplaten commented on #18689
Hey @TheHonestBob,

Sorry I don't have access to `"pretrained_model/t5-base-Chinese"` so I'm not sure I can help you here

[2022-08-19 08:32] limuyun99 opened #18691 "FileNotFoundError: [Errno 2] No such file or directory: '/home/chaizhihua/.cache/huggingface/hub/models--.--resources--ltp/refs/main'"
### System Info

when i run (https://github.com/huggingface/transformers/blob/main/examples/research_projects/mlm_wwm/run_chinese_ref.py) this code , the code throw this error:

Traceback (most recent call last):
  File "temp.py", line 147, in <module>
    main(args)
  File "temp.py", line 122, in main
    ltp_tokenizer = LTP(args.ltp)  # faster in GPU device
  File "/home/chaizhihua/anaconda3/env

[2022-08-19 08:42] SaulLu commented on #18681
Hi @vad13irt,

I wrote a small use case to try to reproduce what you were describing. With my examples the output seems to match what I expected:
[code]

To understand why in your case the offsets are not padded, it would be really great if you could share with us:
- metrics describing your environment (You can run the command `transformers-cli env` and copy-paste its output)
- the code you used t

[2022-08-19 08:59] deep-mining-swang commented on #16831
@JustABiologist could you please share how you made it work with using input_embeds to a decoder-based model like ProtGPT2? I'm trying to implement the same, but I also read that decoder-only models cannot generate with "input_embeds", so I'm wondering how you made it work.
Thanks :)

cc: @patrickvonplaten @patil-suraj

[2022-08-19 09:09] SaulLu commented on #18681
I apologize, by rereading your feature request I actually understand better your request which concerns - as you say - the `pad` method common to slow and fast tokenizers.

This feature makes sense, we could absolutely add the offsets. Would you be interested in working on it?

[2022-08-19 10:23] vad13irt commented on #18681
Thank you, @SaulLu for your feedback. The `tokenizer.__call__` method works fine, i.e pads everything, however, `tokenizer.pad` (which takes the `BatchEncoding` as input) doesn't pad `offset_mapping`. Please refer to https://github.com/huggingface/transformers/blob/e54a1b49aa6268c484625c6374f952f318914743/src/transformers/tokenization_utils_base.py#L3258.

This issue is clearly seen when using Dyn

[2022-08-19 11:41] SaulLu commented on #18681
Thank you! Yes exactly and also adding some tests to check this new behavior :blush:

[2022-08-19 12:03] vad13irt commented on #18681
Ok, I will write it as soon as possible.

[2022-08-19 15:02] #18101 closed

[2022-08-19 16:18] stas00 commented on #18624
OK, so at the moment you're proposing to integrate CAI for:
1. its ZeRO-DP with chunk-based memory management and heterogeneous memory management. This is something that Deepspeed is lacking at the moment (and if I understand correctly the technology comes from PatrickStar)
2. down the road for auto-parallelism

@sgugger, should this perhaps go straight into `accelerate`?

(Sylvain is on vacation,

[2022-08-19 16:21] stas00 commented on #17392
Thank you for your commentary and willingness to contribute, @feifeibear

I think it'd be amazing to have it integrated into Deepspeed. I'm tagging @tjruwase (Deepspeed) on this suggestion

Indeed, we are discussing the CAI integration here: https://github.com/huggingface/transformers/issues/18624

[2022-08-19 16:22] Steboss89 commented on #17459
@mfumanelli I'll be ready with the Italian translated version of [add_new_model.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/add_new_model.mdx) next week :)

[2022-08-19 16:31] yhl48 commented on #18243
Hi, I would like to work on this if it has not been assigned to anyone, but would take some time if that is ok?

[2022-08-19 17:31] lukolszewski opened #18698 "device_map='"auto" fails with in big_modelling.py"
### System Info

An Ubuntu 20.04 Linux on a Ryzen 7 3900 CPU, 32GB RAM with a Nvidia RTX3070 GPU, a M2 SSD with plenty of free space.

Latest version of mkl, cpu only pytorch, transformers and accelerate in a freshly created venv.

### Who can help?

@LysandreJik, @Narsil
Sorry no person specified for Transformers or Accelerate libs.

### Information

- [ ] The official example scripts
- [X] My ow

[2022-08-19 19:25] gante commented on #18664
Hi @balachander1964 -- if you check the error log you shared, the error does not come from the `transformers` library. From a quick google search, the error seems to be from the environment set up (try googling `DLL load failed: The specified module could not be found.`)

As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for b

[2022-08-19 19:37] mahdiabdollahpour commented on #205
attention mask is -10000.0 for positins that we do not want attention for

it is set to -10000.0 in

        # Since attention_mask is 1.0 for positions we want to attend and 0.0 for
        # masked positions, this operation will create a tensor which is 0.0 for
        # positions we want to attend and -10000.0 for masked positions.
        # Since we are adding it to the raw scores before the s

[2022-08-19 20:05] patrickvonplaten commented on #18354
Super interesting discussion here! Thanks for writing this all down @gante and @KMFODA  :-)
The PR looks nice to me in general - thanks a lot for opening it @KMFODA!

Just FYI we also have a similar processor to not repeat ngrams: https://github.com/huggingface/transformers/blob/06d1ba1a55a12b3fb3ca081bdd4f812fda800c37/src/transformers/generation_logits_process.py#L364

[2022-08-20 00:25] Akshay0799 commented on #11652
@jorahn Thanks for letting us know about the tokenize_and_align_labels() function. But when I follow the method mentioned in the notebook I'm getting an error with data collator saying:
AttributeError: 'tokenizers.Encoding' object has no attribute 'keys'

[2022-08-20 04:24] zaptrem opened #18703 "'topk_cpu not implemented for half' when using topk with bitsandbytes 8-bit quant"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Usi

[2022-08-20 05:16] zaptrem commented on #18703
Running `input_ids.cuda()` before feeding it into model.generate() resolves this error, but that isn't possible when using this equivalent pipeline route:

[code]

[2022-08-20 09:09] kaiiwoo opened #18704 "[RAG] - TypeError: init_retrieval() missing 1 required positional argument: 'distributed_port' for PL==1.5.10"
### System Info

[code]

### Who can help?

@patrickvonplaten  @lhoestq

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi, I'm try to run finetuning scirpt of RAG with ```pytorch-lightning==1.5.10`

[2022-08-20 10:33] aRyBernAlTEglOTRO commented on #18704
Hi kaiiwoo, I think you may try to change the code below
https://github.com/huggingface/transformers/blob/30992ef0d911bdeca425969d210771118a5cd1ac/examples/research_projects/rag/lightning_base.py#L275
to
`pl_module.model.rag.retriever.init_retrieval(pl_module.hparams.distributed_port)`

[2022-08-20 10:55] aRyBernAlTEglOTRO commented on #18691
Hi limuyun99, would you mind providing your script for running `run_chinese_ref.py`? According to your traceback, I think you may provide the wrong params for the `--ltp`. Your cmd for running `run_chinese_ref.py` should look like the below:
[code]

[2022-08-20 11:07] feifeibear commented on #17392
Thanks! I will keep an eye on the CAI issue! And feel free to contact me if I can help!

[2022-08-20 12:08] aRyBernAlTEglOTRO commented on #18665
Hi @philschmid, I tried your code and raised the same error, but after I did some debugging, I found some info that may be useful to you.Here we take the code `pipeline("table-question-answering",model="microsoft/tapex-base-finetuned-wtq")`for example.

Under the hood, the pipeline for table question answering will infer the config type base on your model name which is `microsoft/tapex-base-finetu

[2022-08-20 12:17] philschmid commented on #18665
@philschmid it works in `4.20.1` with `tapex` and the issue comes from `trust_remote_code`, which might be missing somewhere in the files.

[2022-08-20 12:27] JustABiologist commented on #16831
@hunarbatra sure I basicially just wrote my own generation class on top of the model. That is the most straightforward approach in my opinion. Sorry I can't share the exact code it's for a startup idea..

[2022-08-20 12:28] JustABiologist commented on #16831
If you want pseudocode I can write that out if needed :)

[2022-08-20 12:30] hunarbatra commented on #16831
No worries, I can understand that! Sure, it'll be really helpful if you could share pseudocode for it! Thank you soo much! :)

[2022-08-20 12:57] JustABiologist commented on #16831
def generate(model, start_embs, generation_parameters, tokenizer):
  for i in range(whatever_iterations)
    ### raw logit output of the mode
    out = model(input_embeds = start_embeds)
     ### modify logit output with whatever metod you want beam search whatever
    out = modify_function(generation_parameters
    ### sample token from modified logits
    tok = sample_function(out, generation_pa

[2022-08-20 13:07] aRyBernAlTEglOTRO commented on #18665
Hi @philschmid, After I downgrade the transformers to 4.20.1, although I can run the code with `microsoft/tapex-base-finetuned-wtq`. but I will raise the info below:

`The model 'BartForConditionalGeneration' is not supported for table-question-answering. Supported models are ['TapasForQuestionAnswering'].`

Therefore, I think even if you can initialize the pipeline, the pipeline may work in the w

[2022-08-20 13:41] aRyBernAlTEglOTRO commented on #18665
Hi @philschmid, if you insist to initialize the pipeline with `microsoft/tapex-base-finetuned-wtq`. I found some info that may be useful. When `AutoModelForTableQuestionAnswering` try to init the model, it will remove the `trust_remote_code` from `kwargs`. you can check the following code:
https://github.com/huggingface/transformers/blob/30992ef0d911bdeca425969d210771118a5cd1ac/src/transformers/mo

[2022-08-20 14:34] aRyBernAlTEglOTRO commented on #18639
Hi @xvjiarui, actually the output between original and hf is the same, but you compare with the wrong tensor. Firstly, we can compare the code between the original and hf (here we focus on the text features part).

[code]
[code]
you may found out that the output of original clip `encode_text` method should equal to `text_embeds = self.text_projection(text_embeds)` in the hf repo. You can modify yo

[2022-08-20 15:02] #18124 closed

[2022-08-20 15:02] #18121 closed

[2022-08-20 15:02] #18107 closed

[2022-08-20 15:02] #18096 closed

[2022-08-20 15:03] #17853 closed

[2022-08-20 15:03] #17718 closed

[2022-08-20 15:32] kaiiwoo commented on #18704
Hi, @aRyBernAlTEglOTRO

thanks for your suggestion.

but I've tried that before, it takes such a long time in initializing distribued retriever, and finally ends with socketerror.

[code]

[2022-08-20 15:41] Sreyan88 commented on #18096
Hi @gante ,

Good day! Could you please re-open this as it wasn't solved? Thank You!

[2022-08-20 15:51] aRyBernAlTEglOTRO commented on #18627
Hi, @mehrdad78, I made some modifications to your script. But it should work the same, below is the modified script:
[code]
The output of this script should be:
[code]
I think you need to change the dataset from
[code]
to
[code]
which aligns with your original script.

[2022-08-20 16:14] aRyBernAlTEglOTRO commented on #18704
Hi @kaiiwoo, I think there is no problem with the code, just forget the method I mentioned earlier. I think you forgot to pass the params `--distributed_retriever ray` when running `examples/research_projects/rag/finetune_rag.py`, maybe you can try that. I think compared to the original `CustomDDP`, currently, the `InitCallback` can only work when the `distributed_retriever` is set to `ray`

[2022-08-20 17:55] whaleloops commented on #18162
Thanks @stancld , I confirmed that issue resolved after hotfix.
Though this filter excludes a few examples
split before after
train 119924 117108
valid 6633 6631
test 6658 6658

[2022-08-20 17:55] #18162 closed

[2022-08-21 00:02] xvjiarui commented on #18639
Hi @aRyBernAlTEglOTRO thanks for your reply.

I see. That makes sense.

[2022-08-21 00:02] #18639 closed

[2022-08-21 06:01] hunarbatra commented on #16831
Thank you so much for sharing this! This is helpful :)

Sure, you can add me on [LinkedIn](https://linkedin.com/in/hunarbatra)

[2022-08-21 07:28] Charithavarma commented on #18662
Hi @SaulLu,

Thank you. It solved my problem. But the performance of the BART in my model was reduced!

Is it possible to use the manual tokenizer instead of this BART Tokenizer? Is it compatible?

[2022-08-21 07:54] #18643 closed

[2022-08-21 11:12] shamanez commented on #18704
hi I am the person who revamped the RAG code base with the latest PL.  Please follow @aRyBernAlTEglOTRO  's instructions.    The current version is only working with the RAY.

https://github.com/shamanez/transformers/blob/main/examples/research_projects/rag/lightning_base.py#L396

The main reason is the latest PL -lightning doesn't encourage us to use pluggings. So please use the ray as the defaul

[2022-08-21 15:01] #18136 closed

[2022-08-21 15:01] #18132 closed

[2022-08-21 15:38] linoqui14 commented on #4172
In my case I both installed pytorch and tensorflow (noob). Creating new environment just for pytorch help me solve it.

[2022-08-21 18:09] mizhazha opened #18707 "Make TFNoRepeatNGramLogitsProcessor XLA compatible"
### Feature request

make TFNoRepeatNGramLogitsProcessor XLA compatible

### Motivation

We would like to use the BART model for summarization tasks. We are excited about the recent announcement of fast text generation with tensorflow; however, we realized that the [TFNoRepeatNGramLogitsProcessor](https://github.com/huggingface/transformers/blob/fd9aa82b07d9b844a21f18f1622de5ca104f25bd/src/transfo

[2022-08-21 21:53] shamanez opened #18708 "Adding a documentation to save the best checkpoint during the training in summarization example project"
### Feature request

I am working with the latest [latest summarization example](https://github.com/huggingface/transformers/tree/main/examples/pytorch/summarization). But after the training loop ends, I can't find an easy way to find what is the best checkpoint saved.

### Motivation

I would be easy to keep a separate checkpoint for the best one.

### Your contribution

If there's already a way,

[2022-08-21 23:45] matthewchung74 commented on #15109
@GokulNC does your torchscript example using
[code]
work for you now? i tried it and it and it gave me some errors.

[2022-08-22 01:41] GokulNC commented on #15109
No Matthew, this is still unresolved:
https://github.com/huggingface/transformers/issues/15109#issuecomment-1040233897

Perhaps you can raise a separate issue for that. This issue was more regarding getting different src & tgt vocabs supported in HF's MarianModel.

[2022-08-22 02:08] TheHonestBob commented on #18689
this issuse is not t5 model's problem，just ._shift_right func problem, There seems to be a logic problem with this function.

[2022-08-22 04:17] matthewchung74 commented on #15109
@GokulNC thank you.

[2022-08-22 04:57] LunaJang commented on #14875
I also think it could be useful. I don't want to waste memorys by convert 1 channel image to 3 channels.

[2022-08-22 06:31] Juno82 opened #18709 "The phenomenon of being suddenly killed during RAG evaluation processing"
### System Info

Platform : Ubuntu 18.04.5
Python version : 3.8.8
pytorch-lightning version : 1.3.1
torch version : 1.12.1

### Who can help?

@patrickvonplaten Hello, an error occurs during the RAG Evaluation, and please help me.
 It suddenly becomes killed without any error message.

![image](https://user-images.githubusercontent.com/110461567/185853225-0f0b0cd3-de89-48d2-9351-a8b069e8c418.png)

[2022-08-22 06:56] NautiyalAmit commented on #18656
Hi  @ydshieh , you can check on base  checkpoint 0 from: https://console.cloud.google.com/storage/browser/bigbird-transformer/pretrain/bigbr_base?pageState=(%22StorageObjectListTable%22:(%22f%22:%22%255B%255D%22))&prefix=&forceOnObjectsSortingFiltering=false

[2022-08-22 07:48] ydshieh commented on #18656
@NautiyalAmit I would like to help if the code snippet is self-contained, which means it should be able to run directly. (In some special case, I agree some manual actions might be necessary).

Here the code snippet is incomplete (missing `model path `). Even the provided GCS link contains TF checkpoint files, which could not be loaded with the `.from_pretrained` method in  `transformers` models.

[2022-08-22 07:55] Narsil commented on #18643
@roetezadi How did you solve this ?

[2022-08-22 08:09] allanj commented on #6821
I think the real problem we are facing is this error when we try to called `model.generate`
[code]

Indeed, it can be solved by distributed sampler or using the huggingface trainer class.

But it could be quite tricky if we don't use them and write our own trainer. Even we have to be careful in using the distributed sampler.

[2022-08-22 08:34] Narsil commented on #16569
@camila-cg @Sette ,

This seems to work

[code]

In the example you shared you're not showing what is `model`. My guess is that you loaded with `AutoModel.from_pretrained(..)` instead of using the correct `AutoModelForMaskedLM`.

If I do this:

[code]

then I get that error `KeyError: 'logits'`. That's because the model is missing the correct head and is not sending the `logits` so the pipeline cr

[2022-08-22 09:05] Narsil commented on #18665
@philschmid I can't be able to reproduce on `@main` branch, so the issues seems to have been fixed.

I confirm the error exists in `4.21.1` though, I am not sure how to backport things or workaround this.

`trust_remote_code` was added recently @sgugger so he might know more.

As for the warning, the warnings is a bit outdated as the pipeline does support BartGeneration.

[2022-08-22 09:42] Narsil commented on #18698
Hi,

which version of `transformers` + `accelerate` are you using ?

[2022-08-22 10:11] sujit420 commented on #14110
@athewsey were u able to resolve the issue?

[2022-08-22 10:12] sujit420 commented on #14110
@athewsey were u able to resolve the issue?

[2022-08-22 10:49] aRyBernAlTEglOTRO commented on #18665
Hi @Narsil, thank you for your reply. I found the warning raised from the code below:
https://github.com/huggingface/transformers/blob/0f257a87749e0a72bda260c6f319a45dae1e7c4d/src/transformers/pipelines/table_question_answering.py#L102
which means we need to update the `OrderDict` in the following code to remove warning:
https://github.com/huggingface/transformers/blob/0f257a87749e0a72bda260c6f319

[2022-08-22 10:50] joihn opened #18712 "TFSegformer fail to convert to onnx"
Thanks for this repo  !

### Error Description

1) train a tensorflow segformer model
2) save the checkpoint
2) try to convert it to onnx via
`python -m transformers.onnx --model CHECKPOINT_PATH OUT_PATH`
###  Error:

[code]

### System Info
Ubuntu 20.04, Python 3.9, TF 2.9.1, Nvidia Titan

Who can help?
@sayakpaul @NielsRogge

[2022-08-22 11:05] NielsRogge commented on #18665
TAPEX wasn't added to the MODEL_FOR_TABLE_QUESTION_ANSWERING_MAPPING_NAMES because that mapping defines which models are supported by the `AutoModelForTableQuestionAnswering` class.

However, the table QA pipeline does support both TAPAS and TAPEX, so we may want to suppress this warning.

[2022-08-22 12:25] joihn commented on #18712
I can confirm this approach is working, thanks for the quick answer

[2022-08-22 12:25] #18712 closed

[2022-08-22 12:32] ydshieh commented on #18662
@Charithavarma If you want to use the trained model `facebook/bart-base`, it's always good to use the corresponding tokenizer. If you change the tokenizer (for example, here you add a new token, where the tokenization of sentences may change too - for some examples), it is normal that the model performance is affected (as it never sees the word/token `rumbling` before).

If adding new tokens is re

[2022-08-22 12:55] NielsRogge commented on #18211
Closing this as the issue seems resolved.

[2022-08-22 12:55] #18211 closed

[2022-08-22 14:21] Narsil commented on #18665
@aRyBernAlTEglOTRO @NielsRogge The PR to fix the warnings is here. https://github.com/huggingface/transformers/pull/18711

Basically any Seq2seq model should work (Well only the trained models will actually work)

[2022-08-22 14:44] FrancescoCasalegno opened #18719 "`QuestionAnsweringPipeline`: different behaviors when with `handle_impossible_answer=True`"
### System Info

- `transformers` version: 4.1.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.1
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

[2022-08-22 14:50] FrancescoCasalegno commented on #18719
Note: the bug is referred to `transformers 4.1.1`, but on the latest release `4.21.1` (thanks @EmileDel for noticing this!) the behavior seems consistent (see below). I don't know what has changed, but maybe this Issue can be closed?

[code]

[2022-08-22 15:02] #18143 closed

[2022-08-22 15:02] #18138 closed

[2022-08-22 15:06] venti07 commented on #5017
Does anyone have a clean implementation of a BERTCRF? Preferably in a Jupyter notebook?

[2022-08-22 15:29] JadeKim042386 opened #18721 "Typo in TrOCR documentation"
decoder_layerdrop was hidden. 😂

![image](https://user-images.githubusercontent.com/61103343/185959294-741f0f0d-999f-4073-a4b1-7ee7d5be2184.png)

I think it should be revised as follows.

- **init_std** (float, optional, defaults to 0.02) — The standard deviation of the truncated_normal_initializer for initializing all weight matrices.
- **decoder_layerdrop** — (float, optional, defaults to 0.0):

[2022-08-22 19:54] fcakyon opened #18724 "add timesformer model"
### Feature request

Add [TimeSformer, ICML 2021](https://arxiv.org/abs/2102.05095) model to HuggingFace transformers library.

Source code: https://github.com/facebookresearch/TimeSformer
Weight files: https://github.com/facebookresearch/TimeSformer#model-zoo
Alternative implementation: https://github.com/lucidrains/TimeSformer-pytorch

### Motivation

[TimeSformer, ICML 2021](https://arxiv.org/a

[2022-08-23 02:35] stas00 commented on #6821
remove the outside wrapping to get to the `transformers`'s model and it should work,

`model.module.generate()`

You can use the helper:
https://github.com/huggingface/transformers/blob/d90a36d192e2981a41122c30a765c63158dd0557/src/transformers/modeling_utils.py#L3027-L3038

though it doesn't look like it's recursive, as there could be multiple levels of wrapping.

[2022-08-23 03:00] allanj opened #18725 "Error Attention Mask Size for Customized Encoder-Decoder Architecture Using Multimodal Encoder"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.56.bsk.10-amd64-x86_64-with-debian-10.11
- Python version: 3.7.3
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:  yes

[2022-08-23 07:02] anthony2261 opened #18726 "KeyError 'overflow_to_sample_mapping' when using LayoutXLM with regular Tokenizer + return_overflowing_tokens"
### System Info

(Running from Colab)
- `transformers` version: 4.21.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU

[2022-08-23 07:04] anthony2261 commented on #18726
Please note that this probably also happens with LMv2 if using this combination of non fast processor + return_overflowing_tokens, not sure about LMv3

[2022-08-23 07:26] Roshana-Naqvi commented on #18024
Facing a similar as above issue, have anyone found the solution to it?

[2022-08-23 07:30] NielsRogge commented on #18726
Hi,

We probably need to update LayoutXLMProcessor similar to how it was done for LayoutLMv2 in #17092.

Would you be able to open a PR for this?

[2022-08-23 08:17] anthony2261 commented on #18726
Absolutely!

[2022-08-23 09:23] #18623 closed

[2022-08-23 09:30] JadeKim042386 commented on #18721
typo in TrOCRConfig docstring~

https://github.com/huggingface/transformers/blob/84beb8a49bf137a88d1b29ab3a85ba0a3cd097d5/src/transformers/models/trocr/configuration_trocr.py#L70

I think it should be revised as follows.

[code]

[2022-08-23 09:34] lchwhut opened #18730 "The loss(logging steps) will drop suddenly after each epoch? Help me plz! Orz"
### System Info

transformers version: 4.17.0
Python version: 3.7.0
torch version: 1.10.1

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

CLIP(https://github.com/hu

[2022-08-23 09:38] lchwhut commented on #18730
@[ydshieh](https://github.com/ydshieh)

[2022-08-23 09:46] julien-c commented on #8574
you can set the helper for a specific repo clone, but I'm not sure if you can set the helper system-wide for specific hosts

[2022-08-23 10:35] sanchit-gandhi commented on #18501
Hey @YooSungHyun!

Nice, the `.sort()` trick you used is neat! As you said, this is fine for the dev/test datasets where we don't require shuffling, and so a deterministic sorting strategy is entirely valid.

There is indeed strange behaviour in the original Wav2Vec2 base checkpoint caused by a bug in the computation of the layer-norm layers: https://github.com/huggingface/transformers/blob/84beb8

[2022-08-23 11:05] jorgemcgomes commented on #18066
The issue was auto marked as closed, but there aren't yet any resources on how to fine-tune FLAVA.
Neither of the links posted above by @NielsRogge have instructions on fine-tuning.

I'm posting to also express my interest on this.

[2022-08-23 11:23] #18662 closed

[2022-08-23 11:28] lchwhut commented on #18730
And i also found that the loss of each epoch may drop suddenly when the size of dataset isn't an integer multiple of batch size. Because the clip_loss is up to batch and the last batch will be duplicate unless "dataloader_drop_last" is set.

[2022-08-23 11:53] LysandreJik commented on #18724
cc @NielsRogge!

[2022-08-23 12:36] julien-c commented on #18691
have you seen other paths like those @LysandreJik @Wauplin?

`/home/chaizhihua/.cache/huggingface/hub/models--.--resources--ltp/refs/main` looks incorrect, like it's encoding a local path instead of a repo id or something. (Not sure where the issue is though, if any)

[2022-08-23 13:11] alaradirik commented on #18629
Just an update on the issue - this should be fixed when this [PR](https://github.com/huggingface/transformers/pull/18734) is merged. The memory leak was due to `OwlViTForObjectDetection` model making calls to `OwlViTModel`s non-forward methods and hence keeping track of all computational graphs.

Here is the code I used to confirm the fix:
[code]
![Figure_1](https://user-images.githubusercontent.c

[2022-08-23 13:13] ydshieh commented on #18629
We all learn in the hard way, @alaradirik . Just a few weeks ago, @NielsRogge and me had the same issue 😆

[2022-08-23 13:14] Wauplin commented on #18691
A few things here:

1. [`--ltp` arg](https://github.com/huggingface/transformers/blob/main/examples/research_projects/mlm_wwm/run_chinese_ref.py#L141) is set by default to `"./resources/ltp"`
2. This value is then passed when initializing LTP, as `pretrained_model_name_or_path` (see [LTP source code](https://github.com/HIT-SCIR/ltp/blob/5c07bf909710c75c246da8abe3f5c44b89c0eea0/python/interface/ltp

[2022-08-23 13:41] zduey commented on #18629
Thanks so much @alaradirik for getting together a fix for this so quickly!

[2022-08-23 14:59] ierezell opened #18738 "Aggregation strategy does not respect original utterance"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.19.2-arch1-1-x86_64-with-glibc2.36
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
-

[2022-08-23 15:02] #18151 closed

[2022-08-23 15:25] patrickvonplaten commented on #17431
Hey @git-xp,

Yes OPT indeed uses the same token for both `bos_token` and `eos_token` being `</s>`.

The `unk_token` should actually never really be produced by the tokenizer, since the tokenizer iss based on byte-level Byte-Pair-Encoding and thus will always produce a valid token, no matter what the input (cc @SaulLu just to verify that's correct what I'm saying here)
Also note that OPT's tokeniz

[2022-08-23 15:37] patrickvonplaten commented on #18243
Hey @yhl48, this would be great indeed :-)

[2022-08-23 15:38] patrickvonplaten commented on #14282
Hey @kangqiyue,

Please note that we like to keep GitHub related for issues of Transformers. Could you instead try to use the forum for such questions? :-)

Forum link: https://discuss.huggingface.co/

[2022-08-23 15:40] patrickvonplaten commented on #15232
@pramodith by all means, feel free to look into this issue!

[2022-08-23 15:43] patrickvonplaten commented on #18293
Hey @Aaryan369,

Is there any way you could upload the checkpoint to the Hub (maybe as a private one if the weights are sensitive?) Happy to take a deeper look then, but in short the above error message shouldn't happen. There seems to be a mismatch with the config and the model weights

[2022-08-23 15:47] patrickvonplaten commented on #18277
Hey @qwer4107,

Good analysis. We indeed didn't find the time yet to port the pretraining capabilities of the model (happy to help in adding such functionality if you'd be interested though!)

The reason why we added the class nevertheless is because we want to be sure to be able to add pretraining code in the future without breaking backwards compatibility. You're right that for now there is no n

[2022-08-23 16:03] mehrdad78 commented on #18627
Thank you

[2022-08-23 16:05] mehrdad78 commented on #14764
[https://github.com/huggingface/transformers/issues/18379](url)

[2022-08-23 16:06] mehrdad78 commented on #14764
Hi Patrick:
#18379

[2022-08-23 16:37] Eichhof opened #18740 "Progress bars shown despite disable_tqdm=True in Trainer"
### System Info

- `transformers` version: 4.19.2
- Platform: CentOS Linux 7.9.2009
- Python version: 3.10.4
- Huggingface_hub version: 0.2.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parall

[2022-08-23 16:58] NielsRogge commented on #18724
Hi,

Sure, let me know your email address, then we can set up a slack channel for easier communication.

[2022-08-23 17:20] fcakyon commented on #18724
I have written my mail to you by Discord message 👍

[2022-08-23 17:45] patrickvonplaten commented on #16759
Sure this is possibleb @kaleko - you just need to adapt the training script a bit, but it should be pretty trivial :-)

[2022-08-23 17:49] patrickvonplaten commented on #18424
Hey @ekurtulus, such a low BLEU score looks indeed suspicious! Do you have any training stats / logs / graphs to share?

[2022-08-23 18:08] patrickvonplaten commented on #3852
It should be the same across models that share input and output embeddings :-)

[2022-08-23 18:11] patrickvonplaten commented on #8944
@xueqianyi - maybe you have more luck on https://discuss.huggingface.co/ ?

[2022-08-23 18:13] patrickvonplaten commented on #8704
Sorry I'm loosing a bit track of what the problem is here. Note that `mt5` cannot generate coherent sentences out-of-the-box because it's only be pretrained on the span-mask filling task and not on any down-stream tasks.

[2022-08-23 18:21] ydshieh commented on #18424
Just a tip: It might be a good idea to save the predictions (here the translation) during evaluation, so we can look into them to see what might goes wrong.

When saving the translation, it's better to save the source text and the label (target text) too. I do this in a manual way though, this is not directly available in the official training scripts.

[2022-08-23 19:11] SaulLu commented on #17431
Your explanation that a byte-level tokenizer has no use as an unknown token is perfect @patrickvonplaten ! :+1:

[2022-08-23 19:34] taymills commented on #18670
@Rocketknight1 I am curious, when you fixed the test for the model fit for TFClipModel, did you start hitting a bunch of issues with the func `shape_list` in `tf_utils`? I am running into lots of bugs with that when trying to infer the shape.

[2022-08-23 23:20] blakepeeling opened #18743 "ERROR: Failed building wheel for tokenizers"
### System Info

I can't seem to get past this error **"ERROR: Could not build wheels for tokenizers, which is required to install pyproject.toml-based projects"** when installing transformers with pip. An ML friend of mine also tried on their own instance and encountered the same problem, tried to help troubleshoot with me and we weren't able to move past so I think its possibly a recent issue.

[2022-08-23 23:22] blakepeeling commented on #18743
I am aware of [this past issue](https://github.com/huggingface/transformers/issues/2831) - it is very similar but these suggested fixes seem dated.

[2022-08-24 02:06] YooSungHyun commented on #18501
i`m already use that `do_stable_layer_norm ` that problem raised too. so, i have to sorted eval, test set...😂
and also, wav2vec2-conformer is not supported that param!

do you agree pad issue is raised to layer_norm?

[2022-08-24 02:28] lchwhut commented on #18730
@ydshieh

[2022-08-24 05:34] bagustris commented on #10696
Using this approach, I got segmentation fault on the same wav2vec2-large-xlsr-53 model.
Output:
[code]

[2022-08-24 06:25] kangqiyue commented on #14282
ok, I will do that. Thanks!

[2022-08-24 07:43] NielsRogge commented on #18740
This question has been answered on the [forum](https://discuss.huggingface.co/t/progress-bars-shown-despite-disable-tqdm-true-in-trainer/22003/2?u=nielsr); therefore closing this issue.

[2022-08-24 07:43] #18740 closed

[2022-08-24 08:00] timohear commented on #18404
This also happens with Salesforce/codegen-16B-nl and EleutherAI/gpt-neox-20b. In all cases the error is RuntimeError: Tensors must be contiguous.

The problem doesn't occur with gpt2-xl and facebook/opt-13b.

This on Transformers 4.21.1 and also using 2x RTX a6000 GPUs.

The problem was also reproduced by another dev training gpt-neoX-20b on 2x a6000

[2022-08-24 08:18] NielsRogge commented on #14812
Re-opening this issue as it hasn't been resolved yet

[2022-08-24 08:39] ydshieh commented on #18670
@taymills

My colleague is currently off. The PR is not completed yet, there are still some failing tests to fix, but I don't know if it is related to the issue you encounter.

Could you provide a short code snippet to show the issues?

[2022-08-24 09:04] lyriccoder opened #18745 "Cannot import ORTModelForSeq2SeqLM"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.0-109-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU? no): 1.12.1+cu102 (False)
- Tensorflow version (GPU? no): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script

[2022-08-24 09:14] LysandreJik commented on #18698
cc @muellerzr, have you seen something similar in the past?

[2022-08-24 09:17] LysandreJik commented on #18709
This is very likely an out of memory error, unfortunately

[2022-08-24 09:19] ydshieh commented on #18730
For my experience, it could be that the loss is calculated as the average of losses in the steps in each epoch.
For example, suppose there are 3 epochs, each epoch has 1000 steps.
In the 1st epoch, the loss is calculated as the average among the steps that have been done.
When the 2nd epoch starts, it resets the loss. The loss in the 1st step in the 2nd epoch is not the average of all previous ste

[2022-08-24 09:41] LysandreJik commented on #18719
cc @Narsil

[2022-08-24 09:42] Paethon commented on #18726
Just stumbled over exactly the same bug. Thanks for looking into that! 😁

[2022-08-24 09:49] LysandreJik commented on #18665
The error was fixed in https://github.com/huggingface/transformers/pull/18428 @philschmid.

I'll likely do a patch PR later today containing this fix (v4.21.2).

[2022-08-24 09:51] #16422 closed

[2022-08-24 09:55] LysandreJik commented on #18149
Sorry for missing this! Could you take a look at this, @gante, @Rocketknight1, @ydshieh?

[2022-08-24 10:01] LysandreJik commented on #18690
Hey @AdonaiVera, exciting! Pinging @NielsRogge, our expert in model contribution :smiley: exciting to see point cloud models!

[2022-08-24 10:01] LysandreJik commented on #18688
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-24 10:02] ydshieh commented on #18149
Let me take a look on the quality issue. And possibly @gante for the speed issue, let discuss it :-)

[2022-08-24 10:15] LysandreJik commented on #18743
Let me move this over to tokenizers, which should be in a better position to help.

[2022-08-24 10:18] ydshieh commented on #18149
Actually, the performance issue comes from the quality. The TF version didn't stop the generation until 512 tokens.

[code]

[2022-08-24 10:30] regisss commented on #18745
Hi @lyriccoder! It looks like you are not using the latest release of Optimum. Could you try to upgrade it and let me know if it works?

[2022-08-24 11:53] #18745 closed

[2022-08-24 11:57] nmaoez commented on #13985
@ChainYo @hacceebhassan
Have either of you found a solution to this? We are now facing the same problem. Too bad this issue was closed, as I think this is a relevant issue. Exporting a single model doesn't do much for me, since I actually want to convert my entire pipeline (preprocessing steps->tokenizer->model), like I can do with a scikit-learn Pipeline...

[2022-08-24 12:08] lchwhut commented on #18291
Hello, i think the "load_dataset" doesn't load the data i have downloaded unless "streaming=True" is set. But if i set that, i obtained IterableDataset(IterableDatasetDict) rather than Dataset(DatasetDict). How can i load the data i have downloaded?
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/27990344/186414346-37107f40-ac97-4745-95c0-6c136834d1c2.png">
@ydshieh

[2022-08-24 12:38] ydshieh commented on #18291
Hi @lchwhut , could you explain what kind of issue you have when you say `the "load_dataset" doesn't load the data i have downloaded?`

[2022-08-24 12:40] Sette commented on #16569
In my case, I was passing the model object bert as an argument, the right thing would be to pass the model directory. It worked for me.

[2022-08-24 12:57] lchwhut commented on #18291
![image](https://user-images.githubusercontent.com/27990344/186424214-f1a81fc9-c3a6-43ff-9616-b0890123df67.png)
Here

[2022-08-24 12:57] ydshieh commented on #18149
I believe the current PT / TF checkpoints for "Helsinki-NLP/opus-mt-en-ROMANCE" doesn't contain the same weight.
As if I change from

[code]
to
[code]
I could get
[code]
while the PyTorch version gives
[code]

So:
 - we probably need to check which checkpoint is the correct one, and uploaded the new checkpoint
 - investigate why `TFMarianMTModel` doesn't stop earlier.

[2022-08-24 13:06] lchwhut commented on #18291
The train size of "ds" i got is 80, but the real size is at least greater than 20,000.
As you see, the space occupied by the train2012.zip is 19GB

[2022-08-24 13:06] ydshieh commented on #18291
I mean what issue you got when you don't specify `streaming=True`. Please provide the error message, thank you.

[2022-08-24 13:08] ydshieh commented on #18291
OK, will take a look

[2022-08-24 13:18] IlyasMoutawwakil commented on #14812
I have actually succeeded in converting TrOCR to ONNX by splitting its two components (encoder and decoder) and rebuilding the HF model with the inference sessions. You lose some performance and it's not very fast (tried it with CUDAExecutionProvider).

[2022-08-24 13:27] rachthree commented on #18614
Looks like this has been fixed! Closing this.

[2022-08-24 13:27] #18614 closed

[2022-08-24 13:37] LysandreJik commented on #18665
Closing as solved by https://github.com/huggingface/transformers/pull/18428

[2022-08-24 13:37] #18665 closed

[2022-08-24 13:46] lchwhut commented on #18730
Thanks. The Trainer does reset the loss in function "_maybe_log_save_evaluate".
But I still don't understand this phenomenon, because i get smooth loss curve when i train BERT with Trainer and Dataset.
Anyway, I'll figured it out myself, thank a lot!
![image](https://user-images.githubusercontent.com/27990344/186434772-62b81830-90c9-4fcc-8dcb-f2532f43ebb0.png)
![image](https://user-images.githubus

[2022-08-24 13:53] lchwhut commented on #18291
I tried it before and didn't find a difference

[2022-08-24 14:21] felix-schneider opened #18747 "Bloom 176B with deepspeed-inference: Cuda illegal memory access"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-3.10.0-1160.49.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.9.0
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-08-24 14:22] alaradirik opened #18748 "Add image-guided object detection support to OWL-ViT"
Hi,

The [OWL-ViT](https://huggingface.co/docs/transformers/model_doc/owlvit) model is an open-vocabulary model that can be used for both zero-shot text-guided (supported) and one-shot image-guided (not supported) object detection.

It'd be great to add support for one-shot object detection to `OwlViTForObjectDetection` such that users can query images with an image of the target object instead of