[2022-08-24 14:28] felix-schneider commented on #18747
Maybe related: bigscience-workshop/Megatron-Deepspeed#324

[2022-08-24 14:30] patrickvonplaten commented on #18525
Hey @ydshieh,

I'm a bit under water at the moment - I'll put the issue on my TODO-list, but I can't promise to find time to look into it very soon.
This link: https://app.circleci.com/pipelines/github/huggingface/transformers/45317/workflows/5bcb8b8a-776c-4c58-ad99-cf2700304c05/jobs/528556/resources doesn't seem to show anything useful to me.

Also just to understand better, are the flax tests ru

[2022-08-24 14:47] gante commented on #18707
Hi @mizhazha 👋

Yeah, it's unfortunate that we weren't able to implement it with XLA. Sadly, using XLA is very binary -- either the entire function (`.generate()`) and all its inner calls can be compiled, or it is not XLA-compatible. If it is not a hard requirement for your application, the easiest solution is not to use it for now :D (i.e. don't set the `no_repeat_ngram_size` argument)

I've spen

[2022-08-24 14:48] stas00 commented on #18747
You probably want to open Deepspeed-Inference-related issues at https://github.com/microsoft/DeepSpeed since these aren't related to `transformers` other than that `transformers` are used from inside Deepspeed-Inference.

That project contains custom cuda kernels so it's very difficult to debug and when you file the issue you want to tag @RezaYazdaniAminabadi who wrote them.

Please help him out b

[2022-08-24 14:48] #18747 closed

[2022-08-24 14:58] ydshieh commented on #18291
Hi @lchwhut I am not able to reproduce the issue. Could you share what's your `datasets` version? You can get it by
[code]

Here is what I got with `print(ds)`
[code]

[2022-08-24 15:22] wangyu185 opened #18751 "run finetune_rag.py -- errror OSError: Not enough disk space. Needed: 139.13 GiB (download: 66.09 GiB, generated: 73.03 GiB, post-processed: Unknown size)"
### System Info

faiss-cpu                     1.7.2
datasets                      2.4.0
psutil                        5.7.0
torch                         1.12.1+cu113
ray                           2.0.0
pytorch-lightning             1.7.2
transformers                  4.21.1
GitPython                     3.1.27

### Who can help?

_No response_

### Information

- [ ] The official example scripts

[2022-08-24 15:29] taymills commented on #18670
Actually I have tried this with a couple of TFModels now and it appears that Transformers model fit in general does not work with tf.data.TFRecordDataset tensors. Seems it only works with EagerTensors unless I am missing something. Only way I have been able to get it to work is coercing to numpy iterator.

This is a bit off topic so feel free to ignore this as it turns out it is not germane to the

[2022-08-24 15:55] gante commented on #5164
@xxllp for PT, we have a function to compute the scores with beam search. It is not documented yet, but you can check the function [here](https://github.com/huggingface/transformers/blob/main/src/transformers/generation_utils.py#L804).

For TF, that function is yet to be implemented (but it is in our TODO list :) )

[2022-08-24 15:57] gante commented on #5604
Hi @shiyongde 👋 Yeah, we have just released a much faster TF generation. Check our blog post [here](https://huggingface.co/blog/tf-xla-generate).

Note that it is not yet compatible with `pipeline` (it is in our TODO list)

[2022-08-24 16:43] Utopiah commented on #18549
I don't think this should be closed as I'm getting the same error on `continuumio/anaconda3` after `conda install -c huggingface transformers`.

[2022-08-24 16:58] Ontopic commented on #14497
I think this may have to do with jax, libtpu, torch, xla or tf not matching up. Versions of the VM used (f.e. v2-alpha), and jax, jaxlib, and if torch and xla were changed.

[2022-08-24 17:10] gante commented on #18149
Hi there @ydshieh @danielenricocahall 👋

None of the Marian models can be successfully converted to TF -- they all fail when validating the hidden layers and outputs of the models. This is a shame since there are a ton of Marian models for translation :(

This means there is something wrong with either the model architecture or with weight cross-loading. I haven't looked into it, other than notici

[2022-08-24 17:15] patrickvonplaten commented on #15392
Hey @talhaanwarch, can you please provide a code snippet showcasing your error?

[2022-08-24 18:28] hrmello commented on #12570
In a related problem, CUDA_VISIBLE_DEVICES doesn't seem to work, as I set it to use only the second gpu, but it always uses the first. I tried @kimcando 's solution but it just gives another error: "module must have its parameters and buffers on device cuda:0 (device_ids[0]) but found one of them on device: cuda:1", even after sending the data to device cuda:1.

[2022-08-24 19:49] pramodith commented on #16410
Hey @patrickvonplaten, I wanted to start porting the edgeformer model into the transformers library so I used the `transformers-cli add-new-model-like` command, however one of the questions that follows is `Please give a checkpoint identifier (on the model Hub) for this new model.` does this mean that I need to upload the pretrained weights file to the Huggingface hub?

[2022-08-25 00:13] amyxie361 commented on #15610
Hi, I meet the same problem for transformers 4.17.0. However, the rest of the project depends on newer transformers version. How should I change the code accordingly to avoid this error?

[2022-08-25 01:44] elangovana opened #18756 "Automodel "from_config" fails when config is loaded from PretrainedConfig.from_dict(config)"
### System Info

If the config is saved to dict, it cannot be converted back to autoconfig ??

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

This ends up i

[2022-08-25 02:03] DataLama commented on #18142
Hi @amyeroberts, thanks for explanation.

Now I understand what you intended.

I'm closing this issue. the issue has been resolved.

[2022-08-25 02:03] #18142 closed

[2022-08-25 02:04] lchwhut commented on #18291
My datasets version is 2.0.0. The issue was solved when "rm -rf /root/.cache/huggingface/datasets/".
I just tried "rm -rf /root/.cache/huggingface/datasets/ydshieh___coco_dataset/" before because there was other important data(310GB), really sorry about that Orz.
If i specify another cache_dir in load_dataset(like: ds = datasets.load_dataset("ydshieh/coco_dataset_script", "2017", data_dir=COCO_DIR

[2022-08-25 02:05] lchwhut commented on #18291
My datasets version is 2.0.0. The issue was solved when "rm -rf /root/.cache/huggingface/datasets/".
I just tried "rm -rf /root/.cache/huggingface/datasets/ydshieh___coco_dataset/" before because there was other important data(310GB), really sorry about that Orz.
If i specify another cache_dir in load_dataset(like: ds = datasets.load_dataset("ydshieh/coco_dataset_script", "2017", data_dir=COCO_DIR

[2022-08-25 02:08] lchwhut commented on #18291
My datasets version is 2.0.0. The issue was solved when "rm -rf /root/.cache/huggingface/datasets/".
I just tried "rm -rf /root/.cache/huggingface/datasets/ydshieh___coco_dataset/" before because there was other important data(310GB), really sorry about that Orz.
If i specify another cache_dir in load_dataset(like: ds = datasets.load_dataset("ydshieh/coco_dataset_script", "2017", data_dir=COCO_DIR

[2022-08-25 07:04] quantitative-technologies commented on #3407
They are not equivalent. This should be reported as a bug, but I see the huggingface AdamW has been deprecated.

[2022-08-25 07:18] quantitative-technologies opened #18757 "AdamW algorithm is not the same as in the referenced paper"
### System Info

Not relevant

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The HuggingFace implementation of AdamW is not the same as the algorithm from the pape

[2022-08-25 07:22] sayakpaul opened #18758 "Add MSN checkpoints to ViT"
### Feature request

It's been a while Meta released the [MSN](https://github.com/facebookresearch/msn) (Masked Siamese Networks) checkpoints. MSN is known to perform pretty well in few-shot settings. Few-shot regime is important for real-world applications. They have only released the encoder weights.

I have worked on a [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/51556ce57f

[2022-08-25 08:23] lchwhut commented on #18730
Hello, i have read the source code carefully(line 2025 in https://github.com/huggingface/transformers/blob/main/src/transformers/trainer.py) but found the loss is reset at every log step rather than the start of every epoch.
Here is my loss curve of training BERT(https://github.com/huggingface/transformers/tree/main/examples/pytorch/language-modeling).
<img width="1064" alt="image" src="https://us

[2022-08-25 08:24] ydshieh commented on #18291
@lchwhut Thank you for the detailed information. Glad it works for you now. It's probably good for me to make a comment on my dataset page regarding this.

[2022-08-25 08:33] moyans commented on #18307
**The problem still exists.**

processor = AutoProcessor.from_pretrained("microsoft/layoutlmv3-base", apply_ocr=False)
It can run successfully，fail to load "microsoft/layoutlmv3-base-chinese", such as:
processor = AutoProcessor.from_pretrained("microsoft/layoutlmv3-base-chinese", apply_ocr=False)

TypeError: expected str, bytes or os.PathLike object, not NoneType

Version: 4.22.0.dev0
Summary: Sta

[2022-08-25 08:36] lchwhut commented on #18730
HI @ydshieh Almost the same, here is training arguments for BERT:
<img width="632" alt="image" src="https://user-images.githubusercontent.com/27990344/186615950-7422505d-60a2-4618-8a52-80aab17257f0.png">
I also trained CLIP according to readme(https://github.com/huggingface/transformers/blob/main/examples/pytorch/contrastive-image-text/README.md) and obtained unsmooth loss curve(But the loss of BE

[2022-08-25 09:24] Narsil commented on #18738
HI @ierezell ,

It does make sense what you asking for, but it's probably not going to happen since it would be a backward incompatibilty.
Pinging core maintainers to get advice on this @sgugger @LysandreJik.

`"word"` was an output since the creation of the pipeline and corresponds to the tokens being decoded: https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/token_

[2022-08-25 09:30] Narsil commented on #18719
Hi @FrancescoCasalegno ,

I can't find the PR associated with this, but yes, early on the pipelines were roughly hardcoded and sometimes wouldn't work on some models because of differences in tokenizers for instance. I won't say everything is fixed, but we caught a bunch of these, and now behavior should be more consistent across models so hopefully you can easily swap out models and get a consist

[2022-08-25 10:32] aljungberg commented on #14498
I believe you have to also specify `return_dict_in_generate=True` to get a `ModelOutput`.

[2022-08-25 11:03] gante commented on #18708
Hi @shamanez  👋 As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other matters, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-08-25 11:08] gante commented on #18751
Hi @wangyu185 👋 RAG is a retrieval-augmented model, meaning that it queries some databases. It needs to have the database in disk. Please check the [model card](https://huggingface.co/facebook/rag-token-nq) and the [documentation](https://huggingface.co/docs/transformers/model_doc/rag) for more info.

As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md),

[2022-08-25 11:10] diegoasua commented on #2831
Same issue, missing Rust compiler. This command fixed it

[2022-08-25 11:20] gante commented on #18756
Hi @elangovana 👋 `PretrainedConfig` is a base class, which is not supposed to work on its own.

Since you know what class you are storing in the example, you can simply do
[code]

Alternatively, if you don't want to rely on a specific config class at load time, you can also do
[code]

[2022-08-25 11:57] Meet090201vora opened #18761 "AttributeError: 'T5Config' object has no attribute 'exponential_decay_length_penalty'"
File "c:\users\meet vora\appdata\local\programs\python\python38\lib\site-packages\streamlit\scriptrunner\script_runner.py", line 443, in _run_script
    exec(code, module.__dict__)
File "C:\Users\MEET VORA\Desktop\fiver\ui.py", line 140, in <module>
    pred_summary = summarizeText(input_text)
File "C:\Users\MEET VORA\Desktop\fiver\ui.py", line 120, in summarizeText
    generated_ids = model.gener

[2022-08-25 12:48] amyeroberts commented on #18748
I think it would be a great addition, especially as it doesn't seem to be too much work to add. I'm guessing for the processor, and your description, the call signature would look something like this:

`def __call__(self, text=None, query_image=None, images=None, padding="max_length", return_tensors="np", **kwargs):`

and then we check there's at most one of `text` or `query_image`?

[2022-08-25 13:03] alaradirik commented on #18748
@amyeroberts exactly, it'd be pretty straightforward to implement. Based on the paper, image-guided detection is also less sensitive in terms of the probability threshold

[2022-08-25 13:08] Juno82 commented on #18709
Dear @LysandreJik ,
Thank you for your comment.
I am trying again from fine tuning.

When I run it with ray, I get the following error:

![image](https://user-images.githubusercontent.com/110461567/186671785-2dfdb66b-f5d8-4eff-a635-c9728cb30753.png)

The script was run as below.

python examples/research_projects/rag/finetune_rag.py \
    --data_dir '/home/junhokim/workspace/transformers/examples/

[2022-08-25 13:42] ierezell commented on #18738
Hello @Narsil,

I understood the underlying problem as I checked the code and saw the "tokenizer problem".

It's not a "huge" problem as anyone can still reconstruct the "original" spans with starts and stops as they're "correct".
However, maybe a little bit more doc on this behavior can help users avoid these misconceptions about the returned data.

For the solutions :
1. For my use case would be

[2022-08-25 14:09] ydshieh commented on #18730
@lchwhut It is not clear to me what could cause this difference. I see you log on each step while training CLIP. And the training loss is reset once the log is performed.

Do you have the logged values for each step? Could you see at which steps the loss value dropped down? Do those steps correspond to the end of epochs?

I would suggest you to ask the question on the [forum](https://discuss.huggi

[2022-08-25 14:25] Narsil commented on #18738
Thanks for understanding, I'll let core maintainers conclude on this.

For the documentation, would this be better/enough ?
https://github.com/huggingface/transformers/pull/18763

[2022-08-25 14:57] ydshieh commented on #18730
I found you mentioned earlier:

Could you explain a bit what this means `the last batch will be duplicate`? Usually the `Trainer` class or the `datasets` won't duplicate the examples.

[2022-08-25 15:19] NielsRogge commented on #18299
Closing as this has been fixed per #18366

[2022-08-25 15:19] #18299 closed

[2022-08-25 16:07] unography commented on #18748
Hi @amyeroberts @alaradirik, I'm happy to take this up!

[2022-08-25 16:36] alaradirik commented on #18748
@unography that would be great! You can ping me if you need any help or have questions. You can also find the relevant details in the appendix of the OWL-ViT [paper](https://arxiv.org/abs/2205.06230).

[2022-08-25 16:47] unography commented on #18748
@alaradirik sure!

just to confirm the high-level changes -
1. `OwlViTProcessor` takes `query_image` as an additional param, and returns a dict like - `{pixel_values: ..., query_pixel_values: ...`
2. `OwlViTForObjectDetection.forward` takes this `query_pixel_values` as additional param
3. `image_image_embedder`, similar to `image_text_embedder`, takes this query values and returns `query_embeds`,

[2022-08-25 16:56] parastooAflaki commented on #14839
Hey Thanks for your notebook

I am trying to run this notebook how ever I am getting the following error when installing bitesandbytes-cuda111 with your specified version 0.26.0:
ERROR: Could not find a version that satisfies the requirement bitsandbytes-cuda111==0.26.0 (from versions: 0.26.0.post2)
ERROR: No matching distribution found for bitsandbytes-cuda111==0.26.0

Please let me know if any o

[2022-08-25 17:06] alaradirik commented on #18748
@unography that seems correct. The `image_image_embedder()` method would be almost the same as the `image_text_embedder()` but computing `query_image_embeds `instead of `text_embeds`.

However, there will be some changes to the `image_image_embedder()` method as calling the `OwlViTModel.get_text_features` and `OwlViTModel.get_image_features` within OwlViTForObjectDetectionModel causes memory leaks

[2022-08-25 17:53] scuyjzh opened #18767 "'UserWarning: Module is put on CPU' when use FSDP by Accelerate"
script: https://github.com/huggingface/transformers/blob/main/examples/pytorch/language-modeling/run_mlm_no_trainer.py

accelerate launch run_mlm_no_trainer.py \
    --model_name_or_path bert-base-chinese \
    --train_file $DATA_DIR/train.txt \
    --validation_file $DATA_DIR/val.txt \
    --line_by_line True \
    --per_device_train_batch_size 16 \
    --per_device_eval_batch_size 16 \
    --out

[2022-08-25 22:28] Bambry commented on #4862
@dalek-who hey I tried to run your code before my other code to construct the model (and this is all in Sagemaker), however got this error:

CUDA error: device-side assert triggered
CUDA kernel errors might be asynchronously reported at some other API call,so the stacktrace below might be incorrect.
For debugging consider passing CUDA_LAUNCH_BLOCKING=1.

Here's the code I ran after your code:

[co

[2022-08-25 22:52] Bambry commented on #2483
hi @officialpatterson, thanks for providing the solution! now I'm trying to implement it with the BertModel package which doesn't have the same attributes as yours, anyway I can adapt this code to my model?

[code]

[2022-08-26 03:03] dalek-who commented on #4862
@Bambry When do you get this error? On construct the model, or on forward?
`CUDA error: device-side assert triggered` often occurs when a layer receives illegal inputs, for example a `BCELoss` receives a illegal label `3`.
Maybe you should check your tensor and parameter's shape, value or dtype.

[2022-08-26 03:07] lchwhut commented on #18730
I specified logging_steps=1 and dataloader_drop_last=True while training CLIP on a small dataset and it's clear to see i have trained 10 epochs according to the loss curve. The loss curve was almost the same when i trained CLIP demo without modification yesterday.
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/27990344/186809015-ecebaeb7-11cd-4312-aac0-c5b87de8dd9d.pn

[2022-08-26 03:11] lchwhut commented on #18730
I specified logging_steps=1 and dataloader_drop_last=True while training CLIP on a small dataset and it's clear to see i have trained 10 epochs according to the loss curve. The loss curve was almost the same when i trained CLIP demo without modification yesterday.
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/27990344/186809511-de9b0fcb-78a7-43dc-aa4c-9d8fc092d688.pn

[2022-08-26 04:15] yuanhuachao commented on #15610
Reduce version of transformers

发自我的iPhone

------------------ Original ------------------
From: Yuqing Xie ***@***.***&gt;
Date: 周四,8月 25,2022 08:13
To: huggingface/transformers ***@***.***&gt;
Cc: yuanhuachao ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [huggingface/transformers] T5 AttributeError: 'T5Encoder' object has no attribute 'main_input_name' (Issue #15610)

Hi, I meet the same

[2022-08-26 06:20] lchwhut commented on #18730
I specified logging_steps=1 and dataloader_drop_last=True while training CLIP on a small dataset and it's clear to see i have trained 10 epochs according to the loss curve. The loss curve was almost the same when i trained CLIP demo without modification yesterday.
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/27990344/186835607-4ba7fb3d-3de1-4aa2-bce3-b30a4655f8b9.pn

[2022-08-26 06:30] lchwhut commented on #18730
Forget what i said about "the last batch will be duplicate".  Really sorry about that.
Maybe if i specify dataloader_drop_last=False, the number of samples in the last batch will be not equal to batch_size(less than).
In this case, the clip_loss will drop significantly because it is greatly affected by batch size

[2022-08-26 07:40] NielsRogge commented on #18761
Hi,

It's pretty hard for us to figure out what the error is in case there's no code provided that can reproduce your issue.

[2022-08-26 08:04] lchwhut commented on #18730
Forget what i said about "the last batch will be duplicate". Really sorry about that.
Maybe if i specify dataloader_drop_last=False, the number of samples in the last batch will be not equal to batch_size(less than).
In this case, the clip_loss will drop significantly because it is greatly affected by batch size.

[2022-08-26 08:16] NielsRogge commented on #18690
Sure, let me know if you need any help :)

[2022-08-26 08:47] ydshieh commented on #18730
Hi, I think this is probably depends on the dataset (or more precisely, the way you use the dataset), rather than an issue in the Trainer class or the training script.

It would be better to post it on the [forum](https://discuss.huggingface.co/).

(Also, as you mentioned you overrides some dataset methods, it would be nice to share what changes you have done there. Otherwise, try to see if you ca

[2022-08-26 09:25] lchwhut commented on #18730
Hello, I posted it on the forum(https://discuss.huggingface.co/t/the-training-loss-logging-steps-will-drop-suddenly-after-each-epoch-help-me-plz-orz/22129/2)

Actully, I have trained CLIP without any modification(just follow the readme) and obtained unsmooth loss curve. Can you try to train CLIP following the readme(https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive

[2022-08-26 09:30] lchwhut commented on #18730
For your convenience, i post my the loss curve of CLIP demo(there is no code changed in run_clip.py)
<img width="642" alt="image" src="https://user-images.githubusercontent.com/27990344/186874035-3291ae28-7336-4af8-ba0d-f80db8b57521.png">
<img width="586" alt="image" src="https://user-images.githubusercontent.com/27990344/186874112-4dea67fd-86f2-4202-8700-c5426dc193e0.png">

[2022-08-26 09:43] V-Sher commented on #17971
Hi Team. Thanks for the mac integration. Quick question - Is this not part of the most recent `pip install`? Because I have the latest pip package version (`4.21.2`) but couldn't find `--use_mps_device` function parameter in it.

Here's a simple snippet from the jupyter notebook
[code]
and the error message:
[code]

[2022-08-26 10:02] pacman100 commented on #17971
Hello @V-Sher, it is yet to be released. For time being, you can install transformers from the source to use this feature via the below command
[code]

[2022-08-26 10:06] gante commented on #18707
Hi @mizhazha 👋

I have attempted to explore alternatives in [this PR](https://github.com/huggingface/transformers/pull/18769). It seems like the simple alternatives are compute and memory heavy, so not worth merging (running without XLA is faster). I still think that efficient data structures might enable an efficient implementation, but we don't have the resources to explore those alternatives.

[2022-08-26 10:43] soocheolnoh opened #18773 "Training loss of BART is going to nan in transformers>=4.21.0"
### System Info

transformers==4.20.1 and transformers>=4.21.0
torch==1.12.1

### Who can help?

@patil-suraj

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

Hi, I'm using a huge dataset, so it is h

[2022-08-26 11:41] Meet090201vora commented on #18761
Can I send you the code?

On Fri, 26 Aug, 2022, 1:11 pm NielsRogge, ***@***.***> wrote:

[2022-08-26 12:13] NielsRogge commented on #18513
Fixed per #18697

[2022-08-26 12:13] #18513 closed

[2022-08-26 13:13] NielsRogge commented on #18619
Hi,

The [docstring](https://huggingface.co/docs/transformers/main/en/model_doc/donut#transformers.DonutFeatureExtractor.size) says that the size argument should be a tuple of (width, height).

[2022-08-26 15:02] #18180 closed

[2022-08-26 15:02] #18030 closed

[2022-08-26 15:08] anderleich commented on #16759
Hi @patrickvonplaten ,

I've just tried your solution. However, it does not use the LM for decoding. `self.type` is always `"ctc"` as `feature_extractor._processor_class` is alway `None`. See here:

https://github.com/huggingface/transformers/blob/b487096b02307cd6e0f132b676cdcc7255fe8e74/src/transformers/pipelines/automatic_speech_recognition.py#L127

And this is my code:

[code]

Any clues?

[2022-08-26 15:33] gante commented on #18689
@TheHonestBob If I'm getting it right, your issue is that `decoder_input_ids`, after calling `_shift_right`, should not contain the `end_id`. Is this correct?

[2022-08-26 16:10] gante opened #18776 "TF: Can't create sharded XGLM model"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.15.0-33-generic-x86_64-with-glibc2.35
- Python version: 3.8.13
- Huggingface_hub version: 0.9.0
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): 0.5.0 (gpu)
- Jax version: 0.3.5
- JaxLib version: 0.3.5
- Using GPU in script?: No
- Using distributed or p

[2022-08-26 16:11] gante commented on #18776
cc @ArthurZucker

[2022-08-26 19:17] fcakyon opened #18778 "Incorrect feature extractor set for videomae in auto feature exctractor"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Windows-10-10.0.19043-SP0
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cpu (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distri

[2022-08-26 19:19] fcakyon commented on #18778
Tried to fix it with a PR: https://github.com/huggingface/transformers/pull/18779

[2022-08-26 20:38] deep-mining-swang opened #18780 "TAPAS model usage issue"
### System Info

Hi,

I have some issues when I am using TAPAS.
`from transformers import TapasConfig, TapasForQuestionAnswering  `
report following errors:
RuntimeError: Failed to import transformers.models.tapas.modeling_tapas because of the following error (look up to see its traceback):
module 'distutils' has no attribute 'version'

After I do `pip install setuptools==59.5.0`
it just returned

[2022-08-26 22:17] mizhazha commented on #18707
Hi @gante, thank you so much for trying to make this operator XLA compatible! Due to that the generate method is currently the time bottleneck, apply XLA to the forward pass won't help much. We will see if we can figure out a solution for efficient implementation.
I hope to get clarifications on this statement 'If it is not a hard requirement for your application, the easiest solution is not to us

[2022-08-27 01:19] TheHonestBob commented on #18689
right，when decoder_input_ids doesn't be padded, _shift_right is ok, or contain the end_id is correct?

[2022-08-27 02:05] danielenricocahall commented on #18149
Thank you for looking into it @ydshieh and @gante !!! This is great information.

[2022-08-27 03:06] dwhdai-ada commented on #8849
I'm experiencing this issue again with the trainer when doing NER with `AutoModelForTokenClassification`. The model config containing the `label2id` and `id2label` fields can be quite long when there are many entity types, and it cannot be split under the current strategy.

Example error when trying to log the `id2label` from model config:

[code]

[2022-08-27 06:49] tobyych opened #18782 "Memory increment and release when loading model via PretrainedModel.from_pretrained"
Issue
---
I was trying to understand the memory usage when loading a Hugging Face model. I found that when loading the model via `AutoModelForMaskedLM.from_pretrained("bert-base-uncased")`, the resulting increment in memory was (1) larger than the cached BERT model on disk (859MB v.s. 421MB) and (2) when deleting the variable, not all of the allocated memory got released. On the other hand, if I j

[2022-08-27 07:40] stancld commented on #18502
Hi, example should have been already fixed by @patrickvonplaten. Fine-tuning on different down-tasks should be pretty standard. There's no prefix, you can thus use same techniques for models like BART, GPT-2, etc. :] However, the final performance is questionable as, AFAIK, only summarization and Q&A has been investigated so far.

[2022-08-27 08:45] lukolszewski commented on #18698
transformers version 4.21.1
accelerate version 0.12.0

[2022-08-27 10:10] stancld commented on #18063
Gonna start working on this today, sorry for delay :]

[2022-08-27 11:59] saradhix commented on #16366
Text regression is a special case of text classification. Hence the existing classes for text classification are sufficient to train and do predictions for regression problems. As @mapmeld described, the right way to train a regression model is by passing `num_labels=1` to the `AutoModelForSequenceClassification.from_pretrained` method.

Coming to the pipeline for inferencing, it can be easily cre

[2022-08-27 12:02] tobyych commented on #18782
To supplement, I also observed that when running `hf_load` above multiple times, the memory usage was rather unobvious.

[code]

It increased in the first two times, but did not keep increasing from the third time onwards. I wonder how could this be explained.

[2022-08-27 15:02] #18216 closed

[2022-08-27 15:02] #18212 closed

[2022-08-27 15:02] #18207 closed

[2022-08-27 15:02] #18206 closed

[2022-08-27 15:02] #18193 closed

[2022-08-27 15:02] #18176 closed

[2022-08-27 15:02] #18075 closed

[2022-08-27 16:56] kumapo opened #18785 "Raise ValueError if given max_new_tokens to `Seq2SeqTrainer.predict()`"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): 2.6.4 (True)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (gpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: `yes`
- Using distributed or

[2022-08-27 22:24] bryanzhou008 commented on #14498
Thanks!

[2022-08-28 05:56] r-matsuzaka commented on #3571
I tried to run transformer on Cloud Functions v1 but as expected I could not run it due to the lack of it's resources.

[2022-08-28 06:34] GabrielLin commented on #18502
Thank you @stancld . Thank @patrickvonplaten . I have one more question. If having the prefix, I consider that different down-tasks can be fine-tuned in the same model. Now, without the prefix, should we use separated model for different down-tasks? Thanks.

[2022-08-28 13:30] maifeeulasad opened #18790 "circular import issue when importing with `transformers` and `happytransformer`"
### System Info

Libraries:
[code]
Env:
[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Here is the entry file(`code.py`):
[code]
A module called `ping.py`:

[2022-08-28 15:02] #18228 closed

[2022-08-28 15:02] #18223 closed

[2022-08-28 15:02] #18219 closed

[2022-08-28 15:02] #18159 closed

[2022-08-28 16:45] innat opened #18792 "UnimplementedError: The Conv2D op currently does not support grouped convolutions on the CPU."
# Info
[code]

# Who can help?

@Rocketknight1 @NielsRogge @sgugger @amyeroberts

# Information

- [ ] The official example scripts
- [X] My own modified scripts

# Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

# Reproduction

Please, get the file form [HERE](https://drive.google.com/file/d/1qAo4PsZ8D

[2022-08-28 17:27] kbkartik opened #18793 "Getting different sentence embeddings when using model on CPU and GPU"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
-

[2022-08-28 23:33] jonatanklosko opened #18797 "CLIPTextModel gives invalid output for zeroed attention mask"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-5.15.0-46-generic-x86_64-with-glibc2.33
- Python version: 3.8.6
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.12.0+cu102 (False)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.2 (cpu)
- Jax version: 0.3.10
- JaxLib version: 0.3.10
- Using GPU in script?: no
- Using distributed or par

[2022-08-28 23:42] seanmor5 commented on #18797
I've also experienced this issue, and anecdotally this inconsistency seems to impact the quality of stable diffusion outputs from https://github.com/huggingface/diffusers. More specifically, when trying to port the stable diffusion pipeline to another framework (e.g. like Flax where the implementation is not present) using the provided stable diffusion weights, the images which rely on PT's CLIPTe

[2022-08-29 01:26] n9Mtq4 commented on #18730
I've encountered the same thing. My hypothesis is the drop in loss on epoch boundaries is an indication that your model is memorizing the training data. Interesting, it's not necessarily overfitting, as in my case, the validation loss continued to drop, just not as fast as the training loss.

My reasoning is as follows:

Consider training step $i$. The loss will be lower for step $i+1$ iff what th

[2022-08-29 03:01] lchwhut commented on #18730
Thanks for your sharing. Did you validate after each step? If not, the significant dropped loss could be skipped. I demonstrat it in the image below.
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/27990344/187114356-6e8de043-ca68-4d50-a062-f33512519400.png">

And i still don't understand what you said about `your model is memorizing the training data`(or more precisel

[2022-08-29 04:41] GeminiLn commented on #18549
Got the same error with `conda install -c huggingface transfformers`. And thank you @Utopiah , the pip works.

[2022-08-29 04:48] n9Mtq4 commented on #18730
I don't think it's related to CLIP as I've seen this happen with multiple models. Here's the training loss with OPT-350M. OPT-1.3B and GPT-neo-125M also had this behavior. The larger the model, the larger the loss drops were. Unfortunately, I no longer have the tensorboard logs for those runs.

![opt-350m training loss](https://user-images.githubusercontent.com/5840141/187119079-1dc4437c-28d5-4927

[2022-08-29 04:52] maifeeulasad commented on #18790
Got resolved after restarting the environment. Weird.

[2022-08-29 04:52] #18790 closed

[2022-08-29 06:55] lchwhut commented on #18730
@n9Mtq4 Thank you so much for affording time to explain in detail! If this issue happens to multiple models and your own pytorch training loop, i think your reasoning is very reasonable!!!
The HF BERT demo doesn't reproduce the same situation, i guess it's because  the `data allcator` HF used  `randomly mask the tokens every epoch`. This means the HF BERT can hardly see the same data in a new epoc

[2022-08-29 07:00] joihn opened #18798 "Support mixed precision FP16 in TF Segformer | Nan loss"
### System Info

I'm trying to bring mixed precision training (FP16) support to [TF Segformer](https://github.com/huggingface/transformers/blob/main/src/transformers/models/segformer/modeling_tf_segformer.py) .
I had to do a very small modification to the inital code for supporting Fp16 ([my commit ](https://github.com/huggingface/transformers/commit/41d2bd145111a743a577f15955bac58a74871b33)).

Ev

[2022-08-29 07:12] Pranav-Machingal commented on #18549
I am getting the following error with both pip and conda installation,
`RuntimeError: Failed to import transformers.trainer because of the following error (look up to see its traceback):
cannot import name 'BertTokenizerFast' from 'transformers.models.bert' (/home/pranav.mac/anaconda3/lib/python3.9/site-packages/transformers/models/bert/__init__.py)`

[2022-08-29 07:13] sayakpaul commented on #18798
Thanks! Are you casting the softmaxed outputs or the logits to FP32 before loss computation as recommended [here](https://www.tensorflow.org/guide/mixed_precision#building_the_model)?

Nit: You didn't provide any training code. I guess it's always better to provide a self-contained Colab Notebook or a notebook that anyone can spin up to debug the issue further. I also acknowledge that Colab doesn'

[2022-08-29 07:18] joihn commented on #18798
thanks for the quick answer,
Even though my commit above doesn't include it, yes I tried casting the logits output to FP32, ans sadly it didn't solve it :/

Good point about the small code example for debugging, I will do one today :)

[2022-08-29 07:20] sayakpaul commented on #18798
Then we need to inspect the layer-wise activations and the weight distributions that are probably impacted by the casting. Maybe try using the TensorBoard callback and inspect if that's the case.

[2022-08-29 07:28] izapolsk opened #18799 "torchmetrics support"
### Feature request

In eval loop the HF transformers collects and keeps in memory predictions and targets up to the end of eval and then computes metrics passed via callback.
When transformers is used to fine-tune heavy models with big datasets and many labels (in my case up to 150k), predictions and targets take huge amount of RAM. It's especially noticable with torch DDP and many GPUs per node.

[2022-08-29 08:35] NielsRogge commented on #17929
Fixed per #18932

[2022-08-29 08:35] #17929 closed

[2022-08-29 08:52] ydshieh opened #18802 "`load_tf_weights` doesn't handle the weights added to the TF models at the top level"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Windows-10-10.0.22000-SP0
- Python version: 3.9.11
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed

[2022-08-29 08:56] ydshieh commented on #18802
cc @patrickvonplaten as we might need to change the core method `load_tf_weights`.

[2022-08-29 09:26] Pranav-Machingal commented on #18549
I worked when I did `pip uninstall tokenizers` and `pip install transformers`

[2022-08-29 10:03] patil-suraj commented on #18797
Thanks a lot for the issue @jonatanklosko !

This indeed seems a bit strange, I see two solutions here

- We could combine causal mask and attention mask and see what happens
- Or instead of using additive masks, we could replace the masked values with large negative numbers.

however, is it really a bug, as long as the values for masked positions are much lower than non-masked tokens, those token

[2022-08-29 10:03] patil-suraj commented on #18797
It's coming soon https://github.com/patil-suraj/stable-diffusion-jax/

[2022-08-29 10:20] patrickvonplaten commented on #18797
Also quite interested in the use case of masking all text tokens - when would this make sense?

[2022-08-29 10:25] MenglingD commented on #17476
I have found that the traced jit module will got dismatched result compared to nnmodule at difference batch inputs as `window_reverse` is not support dynamic batch [modeling_swin.py#L218](https://github.com/huggingface/transformers/blob/main/src/transformers/models/swin/modeling_swin.py#L218)：

[code]

Is that a possible reason? In my practice，I write `window_reverse` as following for supporting d

[2022-08-29 10:36] jonatanklosko commented on #18797
@patil-suraj consider the following weights

[code]

if we add large negative values, then the actual weights are neglectable and softmax outputs equal values:

[code]

however if we also add large negative values from causal mask this makes the values disproportional:

[code]

In the flax implementation masks are combined and negative values are added just once (though apparently the output still

[2022-08-29 11:47] NielsRogge commented on #18725
I see what you mean. However, if we add this error to `modeling_encoder_decoder.py`, then users will update the attention mask of the encoder to make sure it has the same sequence length as the encoder final hidden states.

However, for a model like LayoutLMv3, the attention_mask should just contain values for the text sequence length. It will result in an error in case you're providing an attenti

[2022-08-29 12:33] MenglingD opened #18806 "Swin trace is not correctedly for dynamic batch."
### System Info

transformers: v4.21.2
system: centos
python version: 3.6

### Who can help?

@sgugger @NielsRogge

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

Expe

[2022-08-29 12:49] NielsRogge commented on #18806
Wondering why this wasn't caught by the torchscript tests, cc @michaelbenayoun

[2022-08-29 15:02] #18254 closed

[2022-08-29 15:02] #18252 closed

[2022-08-29 15:02] #18246 closed

[2022-08-29 15:02] #18241 closed

[2022-08-29 15:02] #18240 closed

[2022-08-29 15:02] #18109 closed

[2022-08-29 15:03] #18019 closed

[2022-08-29 15:03] #16665 closed

[2022-08-29 18:35] sahamrit commented on #18445
Hi @NielsRogge , if no one is working on it, can i take this up?

[2022-08-29 20:28] gante commented on #18707
Hey @mizhazha 👋

If `no_repeat_ngram_size` is not set (or if it is set to `None`), then it will not be part of the code seen by the compiler, and XLA compilation should work.

What is the error you're seeing?

[2022-08-29 20:29] zachflam commented on #2401
Having the same issue. Any update?

[2022-08-29 20:40] mizhazha commented on #18707
@gante Here is what I have run:
`from transformers import BartTokenizerFast, TFBartForConditionalGeneration

tokenizer = BartTokenizerFast.from_pretrained('facebook/bart-base')
xla_generate = tf.function(TFBartForConditionalGeneration.from_pretrained('facebook/bart-base').generate(), jit_compile=True)

tokenized_input = tokenizer("I have a white shiba", return_tensors="tf")
xla_generate(**tokenize

[2022-08-29 21:51] mayank31398 opened #18809 "Changing a single example for BLOOM 176-B affects forward pass for other examples in a batch"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-4.18.0-305.25.1.el8_4.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?

[2022-08-29 22:12] thomasw21 commented on #18809
Hey! It's a bit hard to run a testing env with bloom, can you share a reproductible script with a smaller model?

This looks like some instabilities from torch.bfloat16, and I'm willing to bet that those values come from there (both 3.28 occurences are exactly the same, so seems like a rounding error to me, we can perhaps check that those values are consecutive values in bfloat16, ie there's no va

[2022-08-29 22:55] mayank31398 commented on #18809
Thanks @thomasw21 for taking a look at this. I will try to reproduce this with a smaller model (say GPT-2) and get back on this. I will also try main branch.

[2022-08-29 22:56] mayank31398 commented on #18809
Also, since there are no batch-norm ops in BLOOM. I don't really understand why this should happen. Also, since the pads have been given an attention mask = 0. Shouldn't the output be the same?
Maybe I am understanding this incorrectly.

[2022-08-30 01:36] qinyuenlp commented on #15236
Check your kenlm model is char-level or word-level. To wav2vec2_with_lm, it bases `pyctcdecode`, which only support word-level kenlm. If you need to use char-level language model, you need to tune codes of `pyctcdecode`.

[2022-08-30 01:37] allanj commented on #18725
I see. I get your concern. Yeah. maybe that's the only way for now.

[2022-08-30 01:37] #18725 closed

[2022-08-30 02:49] muhammedcanpirincci-sudo commented on #7198
For example i want to freeze some layers in the checkpointed model. Is it possible?

[2022-08-30 03:26] MenglingD commented on #18806
The dimension of batch is casted  integer forcelly, which leads to swin cann't support dynamic batch [modeling_swin.py#L218](https://github.com/huggingface/transformers/blob/main/src/transformers/models/swin/modeling_swin.py#L218)：

[code]

And the following modifications has same semantics but supports dynamic batch:

[code]

ps: I have pulled request before #18807, but I can't `make fixup` as th

[2022-08-30 08:16] LaddieTJC opened #18810 "SSLError"
Version:
Python 3.8
transformer 4.21.0

I am trying to use DistilBertTokenizer using the following line:
`tokenizer = DistilBertTokenizer.from_pretrained("distilbert-base-uncased", do_lower_case=True)`

but SSLerror arise from the line above
`requests.exceptions.SSLError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /distilbert-base-uncased/resolve/main/voca

[2022-08-30 08:50] sayakpaul opened #18811 "Inconsistencies between `nn.functional.interpolate` and `tf.image.resize`"
### System Info

Upsampling of intermediate feature maps is common for computer vision models. In PyTorch, it's usually implemented using [`nn.functional.interpolate`](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html). For TensorFlow, it's usually [`tf.image.resize`](https://www.tensorflow.org/api_docs/python/tf/image/resize).

But there is an inconsistency between wh

[2022-08-30 09:13] pratikchhapolika opened #18813 "Feature to highlight or color code the text from the NER output of token classification having offsets using python"
### Feature request

I have fine tuned a `Hugging face` `token classification` model for `NER task`. I use `pipeline` from Hugging face to do prediction on test text data.

I tag the data as `BIOL` format. `B stands of Beginning, I stand for Including, O means no entity, L means Last`

**Example:**

`Joh J Mathew` will be tagged as `B_PERSON` `I_PERSON` `L_PERSON`

**Here is how the output looks l

[2022-08-30 10:08] LysandreJik commented on #18813
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-30 10:09] LysandreJik commented on #18810
It seems there is an issue with your SSL module and `requests`, not with `transformers`; I would head to Stack Overflow or another forum focused on these issues, we're unfortunately unlikely to be able to help you out here.

[2022-08-30 10:24] pratikchhapolika commented on #18813
Its a feature request

[2022-08-30 10:27] LysandreJik commented on #18813
Ah, sorry, I misunderstood! In that case, I would say that this is unfortunately out of the scope of the repository. I would look into other utilities to provide color highlighting in outputs

[2022-08-30 10:31] #17481 closed

[2022-08-30 10:37] LysandreJik commented on #18767
Maybe cc @pacman100 ? :)

[2022-08-30 11:20] ekagra-ranjan commented on #3021
@JulesGM Right padding will not work when using HF's inbuilt generate() function because it samples the last token id in the sequence by default.  The last token could be a padding token when using right padding.

https://github.com/huggingface/transformers/blob/de8548ebf3242305d0f9792dacb6f86b196a3a33/src/transformers/generation_utils.py#L1725

As a result, using left padding for GPT2 is needed a

[2022-08-30 11:31] hollance commented on #18811
Note that `align_corners=None` does give the same result as `tf.image.resize`, to an absolute tolerance of 1e-6 or so:

[code]

[2022-08-30 12:00] hannan72 commented on #17584
Hi @lewtun
It is totally welcome if I can convert GPT like models to onnx. I did the conversion for gpt-j-6b. The problem was that the inference time improvement was only 5% in comparison to PyTorch on my GPU. Did you have any benchmark for the conversion of GPT models to onnx?

[2022-08-30 12:31] JulesGM commented on #3021
someone should modify that function so it takes the last non masked token instead (if there is one)

[2022-08-30 12:33] JulesGM commented on #3021
shouldn't be too hard to code using cumsum and argmax

[2022-08-30 12:39] JulesGM commented on #3021
maybe make that optional. left padding isn't too bad I suppose, as long as the pos ids are mask.cumsum based (which is not the case in some models)

[2022-08-30 12:40] gante commented on #18707
@mizhazha ah, that is because `generate` defaults are inherited from the model config file, and the model you are using sets this option ([here](https://huggingface.co/facebook/bart-base/blob/main/config.json#L44)). This inheritance is poorly documented at the moment, and we are working to improve it (https://github.com/huggingface/transformers/issues/18655).

Try setting `no_repeat_ngram_size=0`

[2022-08-30 12:43] #18726 closed

[2022-08-30 12:44] LysandreJik commented on #18773
This was introduced as part of https://github.com/huggingface/transformers/pull/17306

cc @ydshieh

[2022-08-30 12:46] patrickvonplaten commented on #18689
@TheHonestBob, `shift_right` is used to automatically create the `decoder_input_ids` from `labels` for training. It depends on you what you put in the labels but if your labels are correct then you can assume the `shift_right` is also correct. Note that in general T5 should be trained with EOS for fine-tuning. For pre-training it's not necessarily but won't hurt

[2022-08-30 12:48] LysandreJik commented on #18782
@ydshieh has been looking into memory leaks as well recently and might have some insights for you!

[2022-08-30 12:49] LysandreJik commented on #18792
cc @gante

[2022-08-30 13:15] ViktorThink opened #18816 "New update breaks T5, gpt2, opt models (probably all models actually) if bitsandbytes is installed"
### System Info

It seems like a new update in the repo is causing an error for all models tested, including all the T5, gpt2 and opt models.

The error only occurs if bitsandbytes is installed, I tried an earlier version of bitesandbytes and same problem occured.

I made a colab to showcase it: https://colab.research.google.com/drive/1TSMLP3oPkAb-sBL_9l9KmXtRpP314Axc?usp=sharing

It must have bee

[2022-08-30 13:29] #18738 closed

[2022-08-30 13:39] ydshieh commented on #18816
Hi @ViktorThink . Could you try if the following version works?

`bitsandbytes==0.31.8` or `bitsandbytes==0.31.5`

[2022-08-30 13:45] cdeeran commented on #11033
Experiencing the same problem using the 2048 size with GPT-J.

[2022-08-30 13:46] ydshieh commented on #18782
Hi @tobyych

Could you also try to add `gc.collect()` after `del model` in both loading methods, and see what you get (memory usage) after `gc.collect()` is done. You have to import `gc`.

[2022-08-30 13:51] ViktorThink commented on #18816
Oh, I got what was the issue now...

I had bitsandbytes installed on an instance with no cuda device, and that raised the error.

Thank you very much for the quick reply! Highly appreciated!

[2022-08-30 13:51] #18816 closed

[2022-08-30 13:56] ydshieh commented on #18773
Hi @soocheolnoh.

My best guess is that #17306 is not working well with FP16 training (as I see you use `amp`).

- Is it possible for you to share your modified training script, together with the training arguments?

If you have enough computational resource:
  - I know you mentioned you run on a huge dataset. Would it possible for you to check if the issue could be reproduced with a smaller datas

[2022-08-30 14:38] LysandreJik opened #18817 "Identifying backend compatibility versions"
We are currently working on identifying the backend versions with which we are compatible and with which we want to be compatible. These backends are PyTorch and TensorFlow. We will be considering Flax at a later point in time.

The first step was to identify the number of failures in each PyTorch/TensorFlow version and was done in https://github.com/huggingface/transformers/issues/18181.

Total n

[2022-08-30 15:00] jonscottstevens commented on #12798
How did you solve it?

[2022-08-30 15:02] #18122 closed

[2022-08-30 15:21] innat commented on #18792
@gante
Sorry I think I didn't explain well. Here is short and exact summary.

Please let me know if you had trouble to run the script.

[2022-08-30 15:28] ydshieh opened #18819 "ONNX test suite is slow - run in 5.5 hours"
### Who can help?

@lewtun  @LysandreJik

As shown in [this job](https://github.com/huggingface/transformers/runs/8074936385?check_suite_focus=true) run, the ONNX tests now run in 5.5 hours.

From https://github.com/huggingface/transformers/blob/73c6273d481f9052098a2a5a5f001fa75daaace9/tests/onnx/test_onnx_v2.py#L182
we see that the tests use real model checkpoints. As ONNX graph compile is known

[2022-08-30 15:50] LysandreJik commented on #18757
Hey @quantitative-technologies, we're in the process of removing the AdamW implementation, as you have seen it is deprecated. It will be removed in v5.

[2022-08-30 15:50] #18757 closed

[2022-08-30 16:01] tobyych commented on #18782
Hi @ydshieh,

Tried to add `gc.collect()` after `del model`.

For single `hf_load`,
[code]

For single `direct_load`,
[code]

For multiple `hf_load`,
[code]

For multiple `direct_load`,
[code]

With the explicit garbage collection, single `hf_load` could release the remaining memory that wasn't released previously. However, still not sure why it used double memory compared to `direct_load`.

As fo

[2022-08-30 16:04] innat commented on #18792
@gante Here are the prepared notebook. It would be easy to test.

- [kaggle-tpu](https://www.kaggle.com/code/ipythonx/transformer-issue-github-18792/notebook?scriptVersionId=104539207)
- [colab-tpu](https://drive.google.com/file/d/1qAo4PsZ8DekZqFzF5Oq2E3nkJ3aJWFuM/view?usp=sharing)

[2022-08-30 16:44] ydshieh commented on #18782
Hi, @tobyych

Glad to know `gc.collect()` works.

I don't know what weren't collected by the GC previously. In general, (I believe) it's not easy to know exactly what `gc` has done at at which timing. If you are able to investigate and share your finding, it would be great.

I will try to check the `double memory` part.

[2022-08-30 16:46] mizhazha commented on #18707
@gante Ah that works!! Thanks for the pointers and the help to unblock!

[2022-08-30 17:43] kiansierra commented on #17234
Hi there, I would like to implement this model @NielsRogge

[2022-08-30 17:46] piEsposito opened #18823 "Memory is not released when moving model to CUDA"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: GPU
- Us

[2022-08-30 18:42] rdisipio opened #18824 "model with longformer encoder cannot be saved due to OperatorNotAllowedInGraphError"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-5.10.102-99.473.amzn2.x86_64-x86_64-with-glibc2.10 (AWS SageMaker)
- Python version: 3.8.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using

[2022-08-30 19:45] tnq177 commented on #3510
I used huggingface to train & predict then use https://github.com/facebookresearch/MLQA/blob/main/mlqa_evaluation_v1.py to calculate the scores. Seem to match the paper.

[2022-08-30 20:45] patrickvonplaten commented on #3021
@JulesGM left-padding should work just as expected since the position ids are moved correctly. Or did you run into any problem with left-padding?

[2022-08-30 20:55] patrickvonplaten commented on #18249
Hey @

[2022-08-30 21:03] patrickvonplaten commented on #18249
Hey @duongna21,

Good question! Note however that it doesn't really matter whether you pass

[code]

or

[code]

to the model if the labels are:

[code]

because every loss token that gets mapped to the `<pad>` token is ignored. More specifically this means that during training the following happens:
- The model learns that `</s>` should predict `<s>`
- then `</s><s>` should predict `My`
- then `<

[2022-08-30 21:12] patrickvonplaten commented on #18797
Interesting! Thanks for the pointer @jonatanklosko - I think though that even when doing:

The tokenizer should return tokens that should be attended to. E.g. taking the line here: https://github.com/huggingface/diffusers/blob/16172c1c7ef6ec721bfe4d0787313519157749a1/src/diffusers/pipelines/stable_diffusion/pipeline_stable_diffusion.py#L92-L94

and doing:

[code]
I get:

[code]

which shows that a

[2022-08-30 21:16] patrickvonplaten commented on #18502
Hey @GabrielLin

That depends on how different the use cases are and what your limitations are exactly. In general, I'd say yes you should use different fine-tuned models for different tasks

[2022-08-30 21:20] patrickvonplaten commented on #16759
Hey @anderleich, sorry could you add a new issue for the problem? It's always a bit hard to keep track of already answered issues :sweat_smile:

[2022-08-30 22:22] anderleich opened #18825 "Wav2Vec2ProcessorWithLM in pipeline issue"
Opening a new issue for better tracking purposes. This issue follows: https://github.com/huggingface/transformers/issues/16759

Hi @patrickvonplaten ,

I've just tried your solution. However, it does not use the LM for decoding. `self.type` is always `"ctc"` as `feature_extractor._processor_class` is alway `None`. See here:

https://github.com/huggingface/transformers/blob/b487096b02307cd6e0f132b6

[2022-08-30 22:25] anderleich commented on #16759
Done! ;)

[2022-08-30 23:07] ankrgyl opened #18826 "Examples do not seem to work on any spaces right now (possible downtime?)"
### System Info

This is observed online on spaces:

E.g. https://huggingface.co/spaces/nielsr/donut-docvqa, if you click any of the examples, you see
![Screen Shot 2022-08-30 at 4 06 41 PM](https://user-images.githubusercontent.com/565363/187558797-d0858c72-a580-4650-8f2d-b451f294da3d.png)

Similarly, https://huggingface.co/spaces/impira/docquery produces console errors like:

[code]

I also trie

[2022-08-31 00:04] n9Mtq4 commented on #18792
Grouped convolution on CPU were added in Tensorflow 2.5, so 2.4 won't work. That's why colab with Tensorflow 2.9 isn't affected. Have you tried updating Tensorflow on kaggle with `!pip install -U tensorflow`?

[2022-08-31 00:23] innat commented on #18792
I set accelerator **TPU** to both colab and kaggle environments. I'm using `TF 2.4.1` on both environment. With this set up, convn-next model successfully built on clab tpu (with `tf 2.4.1`) but didn't work on kaggle tpu (with `tf 2.4.1`). Please note, I'm **NOT** using `TF 2.9.1`, either in colab or kaggle environments. Have you run the the code that I shared above. I think it's straightforward t

[2022-08-31 00:58] tobyych commented on #18782
@ydshieh, I tried to inspect the objects that were collected by the GC between `del model` and `gc.collect()` using the code below, where I aggregated the sizes of Python objects by their modules. I filtered those from the `transformers` package and might be a starting point for your side to see which part of code might be related.

[code]

[code]

[2022-08-31 01:25] TheHonestBob commented on #18689
thanks a lot, I get it, shift_right maybe not right, but it's return is not hurt for training.

[2022-08-31 01:57] ariG23498 commented on #18811
I had to face a similar probelem.

With the `torch.nn.functional.interpolate`:
- On `align_corners=True`, the best option is to use the `tf.compat.v1.image.resize`
- On `align_corners=False`, the `tf.image.resize` does the trick.

Here is a [colab notebook](https://colab.research.google.com/gist/ariG23498/39a20bd536ffaedd145310e2b1c4a1b6/scratchpad.ipynb) that details the solution that I proposed.

[2022-08-31 02:03] sayakpaul commented on #18811
Thanks @hollance and @ariG23498 for chiming in.

When there's one / two interpolation ops, the small differences are fine but when they are done several times (as mentioned earlier), these differences compound up which creates mismatches in the final outputs.

[2022-08-31 03:23] wdp-007 opened #18828 "Add a vit-based ocr model to hugging face"
### Model description

We want to add MGPSTR model(ECCV 2022)  to hugging face.
MGPSTR is a ViT(Vision Transformer)-based pure vision model for STR, which shows its superiority in recognition accuracy. It has a Multi-Granularity Prediction (MGP) strategy to inject information from the language modality. MGPSTR algorithm achieves state-of-the-art performance.
We followed the guidance of https://git

[2022-08-31 05:58] InhyeokYoo commented on #7199
What a wonderful question and answer!

[2022-08-31 06:40] alaradirik commented on #18445
Hi @sahamrit, I don't think anyone is working on this right now but I'd need to double check with @NielsRogge and @sgugger

[2022-08-31 07:06] oscar-eaglewatch commented on #7198
I have two bin files like pytorch_model-00001-of-00002.bin and pytorch_model-00002-of-00002.bin in the checkpoint-1000 folder but it won't load! It still says that "ValueError: Can't find a valid checkpoint at checkpoint-1000."

[2022-08-31 07:40] LysandreJik commented on #18826
Hey @ankrgyl! I tried using them a few seconds ago and it seems to work; is the issue still happening from your side? It may have been a transient error.

[2022-08-31 07:42] wdp-007 commented on #18828
Yes, my email address is wdp0072012@gmail.com.
Do I need to register for slack in advance?

[2022-08-31 07:49] LysandreJik commented on #18823
Pinging the king of memory, @ydshieh :raised_hands:

[2022-08-31 07:51] NielsRogge commented on #18828
You should have received an invite by email :)

[2022-08-31 08:11] NielsRogge commented on #18380
Re-opening this as we're still working on the pipeline.

[2022-08-31 08:28] bluetail14 opened #18830 "ValueError: Unknown layer: Custom>TFViTMainLayer when using a Google transformer model in Streamlit"
### System Info

transformers == 4.21.1
tensorflow == 2.9.1
streamlit ==1.11.1
Windows 10

### Who can help?

@Rocketknight1  @NielsRogge

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]
### w

[2022-08-31 08:42] Larleyt commented on #14285
I upvote for the last message. I've started getting this error when was using tokenizer with `text_pair` (context) argument.
And after that I've tried to decode messages and... have got a 2/3 of them empty. Why? How to prevent that? It was ok without `text_pair` arg.

[2022-08-31 09:14] ydshieh commented on #18773
@soocheolnoh Thank you for the detailed information. I will find some time to investigate this issue. If you are able to share any further findings, it would be very helpful.

Still wondering if it's possible for you to share your modified training script, together with the training arguments? Otherwise I will try to reproduce with the official training script and a HF dataset.

[2022-08-31 10:07] D-Raj commented on #2831
Rust compiler, fixed this for me.

  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

[2022-08-31 10:34] apolinario opened #18831 "Add support for open_clip"
### Feature request

Add `open_clip` (https://github.com/mlfoundations/open_clip) support to Transformers

### Motivation

open_clip has released ViT-B-32, ViT-B/16, ViT-B/16+, ViT-L/14 trained on LAION-400M and LAION-2B which are very relevant models - matching and sometimes surpassing OAI models benchmarks - but are not yet compatible with Transformers.

Also, [soon a ViT-H is going to drop](htt

[2022-08-31 10:35] apolinario commented on #18831
(Is the "new model" tag adequate here or it would be considered adapting to the existing CLIP model?)

[2022-08-31 10:43] pratikchhapolika commented on #18813
Will it be possible to integrate `Displacy`?

[2022-08-31 12:27] patrickvonplaten commented on #17106
Re-opening as it doesn't seem like it's been solved . Maybe @sgugger could help here?

[2022-08-31 12:37] sajastu commented on #17106
@patrickvonplaten To give you some clue about the potential root of the problem, given my experiment and [#](https://github.com/huggingface/transformers/issues/17106#issuecomment-1148125905), I believe this happens when the script deals with extremely large-scale datasets. Mine was above >100GB, most of which related to the graph fields that I had put in each example (in the parquet file). I could

[2022-08-31 12:46] #18635 closed

[2022-08-31 12:49] ydshieh commented on #18782
@tobyych

I opened a PR #18832 which could solve this issue. Notice that this is not a real memory issue however. `GC` usually makes its own decision for when to collect. But it's not bad if we can release some memory earlier.

[2022-08-31 13:25] mehrzadai opened #18835 "Adding multiprocessing option to transformers.pipelines.automatic_speech_recognition"
### Feature request

Hi,
in `transformers.pipelines.automatic_speech_recognition` in case of `self.type = ctc_wit_lm`, the `postprocess` method uses `self.decoder.decode_beams(items)`. This is too slow and does decoding iterative.
`decoder.decode_beams_batch(pool,items)` is able to make things faster and pharallel.

### Motivation

`transformers.pipelines.automatic_speech_recognition` works really

[2022-08-31 13:28] ankrgyl commented on #18826
It wasn't working until around 11:15 PM PST, at which point the website seem to have reset (see screenshot below) and ~10 minutes later, it started working.

![image](https://user-images.githubusercontent.com/565363/187689585-8ba4f00a-6606-4d04-9b7a-66f300bee25b.png)

During this period, I also noticed that deploying a gradio space with `enable_queue=False` would not work -- it seemed like somethi

[2022-08-31 13:38] sgugger commented on #18624
We'll probably need to duplicate the integration in the Trainer and Accelerate for now, since the Trainer does not depend on Accelerate.

[2022-08-31 13:45] sanchit-gandhi commented on #17569
Hey @kasmith11, sorry for the late response! If you drop me an email at sanchit [at] huggingface.co I can add you to the Slack channel for the model addition. There's plenty of opportunity for contribution!

[2022-08-31 14:04] seanmor5 commented on #18797
@patrickvonplaten Ahh! This was my mistake, when doing some initial testing with the stable diffusion weights in our framework I noticed after a step or 2 the latent results started to diverge from the PT stable diffusion implementation. I noticed some slight differences between the results of the text encoder from PT and our implementation (within some reasonable amount of precision) and ended up

[2022-08-31 14:05] lsyysl9711 opened #18836 "Input_embeds for Albert"
Hello! I am checking the source codes for Albert's inputs_embeds. But I think the open sourced codes do not match with the document:

In the document, the description for inputs_embeds says that the shape should be the of shape (batch_size, sequence_length, hidden_size).

But in the source codes(https://huggingface.co/transformers/v3.4.0/_modules/transformers/modeling_albert.html) we have the foll

[2022-08-31 15:00] ydshieh commented on #18823
Hi @piEsposito

As I have seen quite a few times `torch` has some of its own memory management, and related memory issues, it would be great if you can provide and example that creates a (big enough) PyTorch models (not from `transformers`) on CPU, send it to CUDA, and see if you get the memory been released.

The goal is to make sure this issue is not coming from `PyTorch`. Would you like to work

[2022-08-31 15:02] #18274 closed

[2022-08-31 15:02] #18269 closed

[2022-08-31 15:02] #18267 closed

[2022-08-31 15:02] #17551 closed

[2022-08-31 15:12] #18823 closed

[2022-08-31 15:13] sanchit-gandhi commented on #18501
Sure, if you're using Wav2Vec2Conformer then the only configuration is the correct layer-norm implementation. It's hard to know where the issue lies without a reproducible example, could you maybe provide a short code-snippet that I could run to see how you're padding the data? Thanks!

[2022-08-31 15:25] rwightman commented on #18831
@apolinario @NielsRogge

@rom1504 and were discussing moving OpenCLIP LAION trained weights to the HF hub under the LAION org https://huggingface.co/laion  ... for enhanced visibility. It'd be nice if the PyTorch model.bin could be shared with the OpenCLIP use (so remap if the HF transformers keys are a bit different).

I can't comment on the 'add a new model bit', seems unecessary for adding a ch

[2022-08-31 15:25] pogevip commented on #18307
As far as I know, transformers doesn't support chinese layoultlmv3,  but unilm is OK.
https://github.com/microsoft/unilm/tree/master/layoutlmv3

[2022-08-31 16:44] Hannibal046 opened #18839 "BUG for beam_indices from model.generate()"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.8.0-51-generic-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-08-31 16:50] Hannibal046 commented on #18839
Also, could you please check this ? https://discuss.huggingface.co/t/larger-sum-logits-larger-sum-probability/22358

[2022-08-31 17:05] luadamek commented on #17551
Hi @SaulLu

That makes sense. Apologies for the late reply. I was worried there might be a dirtier bug hiding underneath this. If it's just for performance reasons, this seems totally reasonable.

Thanks!

[2022-08-31 17:46] soocheolnoh commented on #18773
@ydshieh

When I get GPUs and reproduce the issue again (with my private dataset/HF dataset), I will share my training script with separating essential parts as soon as possible. Currently my scripts aren't an unique file and I'm working on a private repository, so it's hard to share the original scripts.

[2022-08-31 17:46] sgugger commented on #7198
Make sure you are using a source install of Transformers. This is a bug that was recently fixed @oscar-eaglewatch

[2022-08-31 19:16] patrickvonplaten commented on #18268
Duplicate of https://github.com/huggingface/transformers/issues/17431#issuecomment-1224231170

[2022-08-31 22:24] ankrgyl opened #18841 "Tesseract 5 in Spaces"
### Feature request

Would it be possible to support Tesseract 5 in Spaces? It represents a major improvement over 4 in terms of accuracy and is useful for demos. As far as I can tell, in the version of Debian that Spaces uses, it would require [adding to the sources list](https://techviewleo.com/install-and-use-tesseract-ocr-on-debian/).

### Motivation

Tesseract 5 is more accurate than 4, and u

[2022-08-31 22:48] irg1008 commented on #16308
Hi!, just wondering when are all this new configs going to be included? Wich release!  Great work, will try to add one or two myself

[2022-08-31 23:55] robhaslinger commented on #10020
Thanks @raoulg. I had the same issue working with the pegasus model, actually from an example in huggingface's new book. Downgrading to 3.20.x was the solution.

[2022-09-01 01:45] shijie-wu commented on #18309
Sorry about the delay! I opened a PR @ArthurZucker

[2022-09-01 02:26] shijie-wu opened #18844 "Dropout in OPT embedding layer"
### System Info

main

### Who can help?

@ArthurZucker, @patrickvonplaten, @LysandreJik

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The [OPT paper](https://arxiv.org/pdf/2205.01068.pdf) (sec 2.

[2022-09-01 05:06] brucewlee commented on #6627
The above seems to give same code twice. You have to pass in a list of integers into the decode function. Here, give this a try
`from transformers import BartTokenizerFast
tokenizer = BartTokenizerFast.from_pretrained("facebook/bart-large")
import torch
ids = torch.tensor([1,2,3], dtype=torch.long)
tokenizer.decode(ids.tolist())`

If tensor is [[...]], instead of [...], do

`from transformers impo

[2022-09-01 07:32] alaradirik commented on #18629
Closing this issue as the fix PR is merged

[2022-09-01 07:32] #18629 closed

[2022-09-01 07:35] alaradirik commented on #18748
Hi @unography, just wanted to give you an update, the memory leak issue is fixed with this merged [PR](https://github.com/huggingface/transformers/pull/18734).

You can go ahead working on this issue if you want :)

[2022-09-01 07:40] LysandreJik commented on #18826
Understood, thank you! Should this be closed as it seems the error has been resolved?

[2022-09-01 07:40] LysandreJik commented on #18835
WDYT @Narsil?

[2022-09-01 07:45] unography commented on #18748
sure, will do, thanks for informing!

[2022-09-01 08:07] navinelahi opened #18847 "Cannot import OPTForSequenceClassification on Kaggle notebooks (transformers 4.20.1, huggingface_hub 0.8.1)"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): 2.6.4 (True)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (gpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: Yes
- Using distributed or paralle

[2022-09-01 08:13] LysandreJik commented on #18847
Hey @navinelahi, this class was released in v4.21; could you upgrade your `transformers` library`?

[2022-09-01 08:19] navinelahi commented on #18847
Yes I upgraded with `pip install transformers==4.21` and now it's working. Thank you so much. The issue is solved

[2022-09-01 08:19] #18847 closed

[2022-09-01 08:22] Narsil commented on #18445
Yes you can take a stab at it. Pinging @OlivierDehaene that might be able to provide guidance too.

[2022-09-01 08:29] LysandreJik commented on #18839
Also cc @gante for `generate` :)

[2022-09-01 08:37] LysandreJik commented on #18831
Hey @rwightman, excited to hear you'd like to contribute Open CLIP to `transformers`!

The implementation of `CLIP` is done using the `ACT2FN` activation function dictionary: https://github.com/huggingface/transformers/blob/a26c752353a127ba8e4728413806f545718a8d78/src/transformers/models/clip/modeling_clip.py#L281

If this is the only change necessary, then it should be loadable directly in the ex

[2022-09-01 08:55] #18782 closed

[2022-09-01 09:25] ekagra-ranjan opened #18849 "BartForSequenceClassification: Use eos_token or cls_token?"
### System Info

NA

### Who can help?

@patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The [BartTokenizer doc](https://huggingface.co/docs/transformers/v4.21.1/en/model_doc/bart#transf

[2022-09-01 09:36] ydshieh commented on #18773
No problem @soocheolnoh ! Thanks a lot.

[2022-09-01 10:33] tobyych commented on #18782
Thanks @ydshieh!

[2022-09-01 10:52] sgugger commented on #18831
Agreed with @LysandreJik . The change of activation function does not require a new model by itself (since you can set the right one in the config) but if you anticipate other modeling tweaks, a new architecture definitely makes sense.

[2022-09-01 11:13] gante commented on #18839
Hey @Hannibal046 👋 Thank you so much for raising this issue, there was indeed a problem with the last beam index for all batches except the first one!

Check #18851 for the fix and for snippets that confirm the correctness after the fix 🤗

Regarding the forum issue -- it seems like a relevant problem. Could you please open an issue here on GitHub? ❤️

[2022-09-01 12:39] sgugger commented on #18635
We don't really want to add other init functions. For any specific behavior, users should subclass the `create_optimizer` function directly.

[2022-09-01 13:12] #18785 closed

[2022-09-01 13:16] kumapo commented on #18785
thank you all for kind supports!

[2022-09-01 13:54] PaulLerner opened #18853 "loading CLIPVisionModel from openai/clip-vit-base-patch32"
### System Info

- `transformers` version: 4.12.5
- Platform: Linux-4.18.0-305.57.1.el8_4.x86_64-x86_64-with-redhat-8.4-Ootpa
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.0+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: NO
- Using distri

[2022-09-01 15:02] #18285 closed

[2022-09-01 15:02] #18276 closed

[2022-09-01 15:02] #18015 closed

[2022-09-01 15:02] #17327 closed

[2022-09-01 15:15] sgugger commented on #18608
Thanks for flagging. The PR above should fix the issue, could you give it a quick try?

[2022-09-01 15:23] shanggangli commented on #9919
thanks, it worked!

[2022-09-01 17:43] ankrgyl commented on #18826
Yes it can definitely be closed! I mostly opened it in case it was helpful as an alert while things were behaving weirdly.

[2022-09-02 00:10] kmckiern opened #18860 "Learning rate is given as tensor, cannot serialize TrainerState in order to save checkpoint."
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.15.0-46-generic-x86_64-with-glibc2.35
- Python version: 3.10.5
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1.post200 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: y

[2022-09-02 01:29] SangwonPark0211 opened #18862 "How can I control data feeding order to model using Huggingface Trainer?"
### Feature request

I want to train model in the order in which the data are stored.
For example, if there are 100 data, then I want to feed 1st, 2nd data together(because I set batch_size=2 in code) and then 3rd, 4th data and then 5th, 6th data together and so on....
But huggingface Trainer train model using datacollator and this feed data to model randomly by the parameter data_seed.
**How can

[2022-09-02 07:13] ChainYo commented on #16308
Hey @irg1008, it's integrated continuously with each `transformers` release. If you are looking for a model that is not available in the last version, you can still install the package with the main branch: `pip install git+https://github.com/huggingface/transformers.git`

[2022-09-02 08:34] Narsil commented on #18835
Hi, I don't mind having a parameter for that for sure.

The biggest reason I don't think it should be the defaults is that some users might already be using different processes for different pipelines so doing parallelism twice is usually hurtful.

Also, do you mind providing small benchmarks to see the performance improvement ?

[2022-09-02 08:51] PaulLerner commented on #18853
Oh sorry, my bad, the message warning was so huge I thought it also discarded the weights of the vision model.

[2022-09-02 08:51] #18853 closed

[2022-09-02 10:23] JoaoLages commented on #3720
`model.greedy` is not working correctly, at least for T5.

[code]
I get the following error with the code above:
[code]
I even tried calling `greedy_search` as suggested in [here](https://discuss.huggingface.co/t/question-about-greedy-search/5749/4?u=skinish), but this creates different outputs compared to calling `model.generate` with `num_beams=1`, which shouldn't, right?

[2022-09-02 10:50] loretoparisi commented on #8638
In my case `pip` command itself was broken so I had to do by hand:

[code]

in the location where `dataclasses` has been installed!

[2022-09-02 11:46] #18860 closed

[2022-09-02 11:48] lewtun commented on #18819
Thanks for raising this - it's an issue we've also faced with `optimum`'s test suite. Let me take a look and see if it's possible to use the tiny models as you suggest

[2022-09-02 11:54] NielsRogge commented on #18688
This question is now on the forum here: https://discuss.huggingface.co/t/why-does-setting-fp16-true-not-save-memory-as-expected/22400

[2022-09-02 11:56] lewtun commented on #17584
Hi @hannan72

Cool, this would be a nice addition!

Were you running on ONNXRuntime? We've found that to really speed up generations with GPT-like models, one needs to include ONNXRuntime's [IO bindings](https://onnxruntime.ai/docs/api/python/api_summary.html#iobinding) and [ORTValue](https://onnxruntime.ai/docs/api/python/api_summary.html#ortvalue). I don't have a benchmark for this currently, bu

[2022-09-02 12:48] #18113 closed

[2022-09-02 14:47] nbroad1881 opened #18870 "mlflow can log a maximum of 100 parameters on Azure ML"
When trying to use the Trainer's mlflow integration within Azure ML, it will fail at the `on_train_begin` callback because it tries to log all of the TrainingArguments and the model config which will total more than 100 parameters.

Doing this outside of Azure ML does not produce this error.

I know there is a separate AzureML callback, but I believe this is for the older version of Azure ML and t

[2022-09-02 14:49] #18608 closed

[2022-09-02 15:01] sgugger commented on #18870
Note that we are not maintaining the external logging platforms ourselves, their creators are supposed to do this work. Since there is no one in Microsoft that is pushing this forward, some community contributed callbacks have been created, but it's not guaranteed that they work. I would recommend using other trackers that are better maintained until some folks at MlFlow/Azure put the work for a n

[2022-09-02 15:01] #18290 closed

[2022-09-02 15:02] #17955 closed

[2022-09-02 15:02] #17714 closed

[2022-09-02 15:02] #17691 closed

[2022-09-02 16:10] leiqing1 opened #18872 "we want to submit a PR about Source-Free compression training on huggingface NLP model，Where would you suggest submitting it?"
### Feature request

Hello, we have done a Source-Free compression training function, and the benefits of bert-base-cased are as follows. I want to submit a PR, is it ok?  and which repo, huggingface/transformers or huggingface/optimum, is more suitable?
![image](https://user-images.githubusercontent.com/54695910/188194251-ef204386-e1fc-40a3-9796-36a2fa5b0a56.png)
![image](https://user-images.gith

[2022-09-02 16:39] logan-markewich opened #18873 "LayoutLMV3 Tokenizer Inserts Odd Characters"
### System Info

(This is on a fresh google colab instance)
- `transformers` version: 4.21.2
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not

[2022-09-02 16:45] ydshieh commented on #18872
Hey @leiqing1 ! Thanks a lot for being motivated to contribute 🤗 ! You mention this is about training, right? In this case, I would say `huggingface/transformers` is the place to go. But let's wait the opinions from my colleagues @sgugger @LysandreJik and @michaelbenayoun

As the training (for PyTorch models) is done by using the [Trainer class](https://github.com/huggingface/transformers/blob/ecd

[2022-09-02 17:13] sgugger commented on #18872
Let's maybe start with a simple training script that you could add as a new research project in the repo?

[2022-09-02 18:04] patrickvonplaten commented on #3720
@JoaoLages, you need to also add `encoder_outputs` to `generate` when using it on encoder-decoder models such as T5.
This should work:

[code]

I do very much admit though that this is too complicated and it also took me a bit. @JoaoLages think we need to improve our docs here no?

[2022-09-02 18:11] patrickvonplaten commented on #18797
No worries! Better be safe than sorry! :-)

[2022-09-02 18:17] jonatanklosko commented on #18797
So I think we can close this :)

The additive mask before softmax is a trick that works under the assumption that the mask has at least a single 1. So from what I understand can be said that for zeroed mask the output of most models is just not well defined, and it's fine given the use cases so far.

[2022-09-02 18:17] #18797 closed

[2022-09-02 18:45] nbroad1881 commented on #18870
I'll just make my own callback. Thanks!

[2022-09-02 18:45] #18870 closed

[2022-09-02 22:15] BramVanroy commented on #5096
@patrickvonplaten @sshleifer Did anyone ever come around to creating a notebook/script for BART pretraining? (In a linked issue you mentioned it was on the to-do list.)

The core difficulty is having a canonical implementation for the data preprocessing (BART is more than just token masking, I believe: e.g.,span masking, shuffling). But a full pretrain pipeline here or in fairseq is also sorely mi

[2022-09-02 22:15] Haiming94 commented on #5096
自动回复，您好，邮件已经收到，谢谢！

[2022-09-03 00:25] oneraghavan commented on #18824
@rdisipio  I tried to reproduce this error, But I was able to save model. I followed [this](https://huggingface.co/docs/transformers/model_doc/longformer#transformers.TFLongformerForTokenClassification.call.example) example to build a simple model.  Can you add some steps to reproduce this bug ?

[2022-09-03 02:16] jmwoloso opened #18876 "BigBirdTokenizer Serialization Error on Spark"
### System Info

Hello! Running `transformers-cli env` throws the following error for me on the databricks cluster that I'm using currently (but it works locally).

[code]

I can provide some of the info that I know (we maintain the container that we use):

[code]

The reprex below this produces the following error:

[code]

I believe this is related to #15982. If this is related, it seems we need

[2022-09-03 03:20] arun99481 commented on #18437
Hi @muellerzr  I opened this PR #18877 for example 8. Please let me know if there is any changes

[2022-09-03 05:11] LZY-the-boys opened #18878 "Can't disable INTEGRATION_TO_CALLBACK"
### System Info

I use transformers.4.20.0

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

When using the huggingface Trainer,  I set `report_to=['none'] ` in train

[2022-09-03 15:02] #18319 closed

[2022-09-03 15:02] #18317 closed

[2022-09-03 15:02] #18316 closed

[2022-09-03 15:02] #18311 closed

[2022-09-03 15:02] #18308 closed

[2022-09-03 16:36] CaffreyR opened #18880 "Are there any higher version transformers compatible with transformers==3.0.2"
### System Info

Hi. I am working code that only can run on Transformers==3.0.2, however there are other method which only can run on higher version. So I want to ask if there are higher version that is compatible with transformers==3.0.2 or with little revision? Many thanks!

### Who can help?

 @NielsRogge, @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scrip

[2022-09-03 17:43] BramVanroy opened #18881 "Flax BART training fails when evaluating"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.9.1
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (gpu)
- Jax version: 0.3.17
- JaxLib version: 0.3.15

### Who can help?

@sgugger @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

[2022-09-03 18:23] nymb opened #18882 "Tried running Stable Diffusion GRisk GUI.exe and no go."
### System Info

torchvision\io\image.py:13: UserWarning: Failed to load image Python extension:
torch\_jit_internal.py:751: UserWarning: Unable to retrieve source for @torch.jit._overload function: <function _DenseLayer.forward at 0x000001A24A9D15E0>.
  warnings.warn(f"Unable to retrieve source for @torch.jit._overload function: {func}.")
torch\_jit_internal.py:751: UserWarning: Unable to retriev

[2022-09-03 18:25] nymb commented on #18882
Sorry the GUI did open on another monitor I had turned off but the terminal did mention some issues.

[2022-09-03 19:09] elangovana opened #18883 "BART decoder output length changes"
### System Info

Hi,  BART for conditional generation, the output sequence length changes?

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

[code]

The seque

[2022-09-03 20:47] #18882 closed

[2022-09-03 21:28] SamKG opened #18884 "Generating with Flax fails when using Causal Language models"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-4.18.0-372.19.1.el8_6.x86_64-x86_64-with-glibc2.28
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (gpu)
- Jax version: 0.3.17
- JaxLib version: 0.3.15
- Using GPU in script?: Yes (Nvidia A

[2022-09-03 22:44] JoaoLages commented on #3720
Thanks!

I think it would be simpler to change `T5ForConditionalGeneration.greedy_search` to have this code inside it, so that we could simply call `model.greedy_search(input_ids)`

[2022-09-03 23:32] sriatz opened #18885 "Can't find romanian"
### System Info

In this model card: https://huggingface.co/facebook/mbart-large-en-ro, it says ' Instructions in romanian_postprocessing.md'. But I cannot find romanian_postprocessing.md.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, .

[2022-09-04 02:13] HebaGamalElDin commented on #14195
hello @NielsRogge, I'm trying to train TrOCR model for Arabic handwritten OCR, the model and preprocessor are as follows:

[code]
However, when I check the validation set predictions It's all in English like garbage.
what is the problem here?

[2022-09-04 03:56] techthiyanes opened #18886 "While trying to train seq2seq distillation model i am getting an error message that __init__() got an unexpected keyword argument 'weights_summary'."
### System Info

Transformer version : 4.21.2
pytorch-lightning             1.7.4
Used colab to test

Please find below colab link
https://colab.research.google.com/drive/1INGpr5nV2qnb8wKf2FAc0VqgPQWSPFdZ#scrollTo=DC8Tj2qtlfiZ

### Who can help?
@sgugger
_No response_

### Information

- https://github.com/huggingface/transformers/blob/main/examples/research_projects/seq2seq-distillation/distillat

[2022-09-04 04:19] GabrielLin commented on #18502
@patrickvonplaten Got it. Thanks. This issue has been fixed and closed.

[2022-09-04 04:19] #18502 closed

[2022-09-04 05:48] ekagra-ranjan commented on #18883
Hi @elangovana ,

The output can be longer than the input because Bart is an encoder-decoder model so the decoder can output variable length of tokens independent of the len of input tokens. This is because the decoder works in an auto-regressive manner.

Bart is an [encoder-decoder model](https://huggingface.co/blog/encoder-decoder) so the length of 5 for your example is something which will be c

[2022-09-04 06:13] ichenjia commented on #13632
Ran into the same problem. I am totally lost.

Here is what I did

`import numpy as np
my_dict = {'text': ["random text 1", "random text 2", "random text 3"],
            'label': np.array([0, 0, 1], dtype=np.int64)}

from datasets import Dataset

dataset = Dataset.from_dict(my_dict)`

`
from transformers import LongformerTokenizer, TFLongformerForSequenceClassification
tokenizer = LongformerToken

[2022-09-04 06:20] jmwoloso commented on #13632
@ichenjia There were a few errors mentioned throughout this thread. Which one are you seeing?

[2022-09-04 06:21] ekagra-ranjan opened #18887 "Incorrect size of input for 1st strided window length in `Perplexity of fixed-length models`"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.6.4 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15

### Who can help?

@sgugger, @stevhliu

### Informa

[2022-09-04 06:24] ichenjia opened #18888 "Longformer TF int32 vs int64"
### System Info

Transformers Version: 4.20.0.dev0
Ubuntu 20
Python 3.8

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Hi,

@ibeltagy

I am trying an example of fi

[2022-09-04 07:49] ichenjia commented on #13632
Thank you. It’s the last error related to int32 and int64

On Sat, Sep 3, 2022 at 11:20 PM Jason Wolosonovich ***@***.***>
wrote:

[2022-09-04 08:10] pedramyamini commented on #9093
it works for me, thank you

[2022-09-04 10:25] Hannibal046 opened #18889 "Larger Logits != Larger Probability"
### System Info

transformers version: 4.22.0.dev0
Platform: Linux-5.8.0-51-generic-x86_64-with-glibc2.10
Python version: 3.8.13
Huggingface_hub version: 0.8.1
PyTorch version (GPU?): 1.12.1+cu113 (True)
Tensorflow version (GPU?): not installed (NA)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?:
Using distributed or

[2022-09-04 13:40] BramVanroy commented on #18881
This seems to originate when this basic collate function is unsuccessful in creating valid numpy arrays, i.e., with one unspecified dimension, like `(2,)` instead of `(2, 16)` (bsz x seq_len).

https://github.com/huggingface/transformers/blob/65fb71bc762c46bb067306c1fd083b1cba87a095/examples/flax/language-modeling/run_bart_dlm_flax.py#L287-L289

I haven't dug further in why this occurs here, but p

[2022-09-04 14:20] BramVanroy opened #18890 "BART example does not produce expected masks"
### System Info

- `transformers` version: 4.21.2
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.8
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)

### Who can help?

@sgugger @patil-suraj
The example was added by @duongna21 and @sanchit-gandhi
### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An official

[2022-09-04 16:09] BramVanroy commented on #18890
Seems that it was a combination of: too short sequence length and not the best way of calculating the actual coverage (not accounting for span masks). Revised example that yields the expected results:

[code]

Output:

[code]

[2022-09-04 16:09] #18890 closed

[2022-09-04 21:52] jmwoloso commented on #13632
@ichenjia Did you try my solution of casting your `input_ids` to `tf.int32`?

[2022-09-04 21:53] gngdb commented on #4090
I don't understand how to use that code in place of a Tokenizer object. For example, to train a masked language model in [this example script](https://github.com/huggingface/transformers/blob/main/examples/pytorch/language-modeling/run_mlm.py) the tokenizer is used in the data collator to do a lot more than just mapping to `input_ids`. I've tried loading tokenizers from character level models like

[2022-09-04 23:19] jmwoloso commented on #18888
I believe you'll find the solution in [#13632](https://github.com/huggingface/transformers/issues/13632)

[2022-09-04 23:54] ichenjia commented on #13632
Thank you. Here is what I did per the earlier tip from  this thread

`r['input_ids']= [tf.convert_to_tensor(row, dtype=tf.int32)
for row in r['input_ids']]
r['attention_mask']= [tf.convert_to_tensor(row, dtype=tf.int32) `

In the tokenizer function mapped to dataset
I still got that int32 error. Did I do something wrong?

[2022-09-05 04:47] soocheolnoh commented on #18773
Hi, @ydshieh

With several experiments, I found the reason of the issue. Since I'm a kind of beginner of NLP task, I've used incorrectly a decoder start token(=`decoder_prefix` in args). Originally the model I used was pretrained with \<s> decoder start token, but I've used \<pad> decoder start token which led an unexpected result I think.

My training code is here:

[code]

I used 3 * V100 (one n

[2022-09-05 05:08] aryanxk02 commented on #7361
Hi @stefan-it, the follwoing code snippet returns true but shows the same import error.

[2022-09-05 06:46] ceci3 commented on #18872
Thanks for the reply. @ydshieh Yes, the compression process  is about training.   You mean we can prepare a simple training script to submit to https://github.com/huggingface/transformers/tree/main/examples/research_projects this directory？
@sgugger

[2022-09-05 06:50] ichenjia commented on #13632
@jmwoloso

After reading the source code of Dataset, I think the problem is in the to_tf_dataset function, which called

`_get_output_signature` LN 290-303

[code]

It forces a tf.int64 instead of tf.int32. It doesn't look like we have any control over it outside the API

[2022-09-05 08:19] lewtun commented on #18620
Hey @cigrainger I'm not able to reproduce this behaviour using either CPU or GPU. Could you please try running this again with the latest state of the `main` branch in `transformers` and report back if the issue persists?

If yes, we can certainly increase the tolerance as Lysandre suggested :)

[2022-09-05 08:20] #18802 closed

[2022-09-05 09:13] zhao1402072392 commented on #3151
I followed the guide in README to train a distill gpt2, but the performance of my distilgpt2 is not good as huggingface, actually, the performance is bad. Did you trained a nice performance distilgpt2?

[2022-09-05 10:18] NielsRogge commented on #14195
Hi,

thanks for your interest in TrOCR! So you're instantiating the weights of the decoder with those of `bhavikardeshna/xlm-roberta-base-arabic`, which looks like a multilingual model (XLM-RoBERTa), fine-tuned on an Arabic question answering dataset. I'd advise here to use a monolingual (Arabic-only) model here instead.

One option here is AraBERT: https://huggingface.co/aubmindlab/bert-base-arab

[2022-09-05 10:48] gante commented on #18149
@danielenricocahall a fix was merged and new weights were pushed -- if you run from `main`, the translations should be much better now 🙌

[2022-09-05 11:10] harshil-shah opened #18899 "NaN when training t5-large with bf16 on multiple GPUs"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.15.0-1017-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.4.4 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using

[2022-09-05 11:17] maxidl commented on #18884
Hey, I just ran into the same issue.
For me it does not occur when I explicitly specify the `pad_token_id` as in this example:
[code]
I'm using the `"EleutherAI/gpt-neo-1.3B"` model, you might need to adjust the `pad_token_id` based on the model.

[2022-09-05 12:16] Rocketknight1 commented on #18223
This issue has been resolved by #18451

[2022-09-05 12:21] ydshieh commented on #18190
Hi @ratishsp Hope the above solution works for you. I am going to close this issue, but if you have further question, don't hesitate to reopen.

[2022-09-05 12:23] Gooogr opened #18900 "Converting ruGPT3 model (based on GPT2) to ONNX format"
### System Info

## Environment info
Use google colab with turned on GPU
- `transformers` version: 4.21.3
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib

[2022-09-05 12:32] ydshieh commented on #18773
@soocheolnoh I am very happy that you found the cause and a solution! Also appreciate a lot your effort on the detailed issue description and further investigations!

It's better to use the same decoder start token as the one used in pretraining. Regarding using pad token, it might work in some case, but we should be very careful. I believe in the case of this issue, it might be related to the dec

[2022-09-05 12:32] #18773 closed

[2022-09-05 12:50] LysandreJik commented on #18880
Hey @CaffreyR! We would recommend you migrate your codebase from v3.0.2 to v4.x, which should then be compatible with all newer methods.

What is your problem when trying to upgrade?

[2022-09-05 12:52] LysandreJik commented on #18878
cc @sgugger

[2022-09-05 12:59] CaffreyR commented on #18880
Hi @LysandreJik , I run the [code](https://github.com/facebookresearch/FiD) in transformers 3.0.2, it works well. But in 4.21.3, it went wrong! Many thanks!
[code]
![image](https://user-images.githubusercontent.com/84232793/188455124-87084a85-58c6-4fb9-9167-8302a25f3c8f.png)

[2022-09-05 13:03] LysandreJik commented on #18826
Sounds good! Let me close it and feel free to reopen if you ever run into something similar.

[2022-09-05 13:03] #18826 closed

[2022-09-05 13:54] ydshieh commented on #18876
Hey @jmwoloso Thank you for reporting the issue.  I have a few questions though: I see there is [fast big_bird tokenizer](https://github.com/huggingface/transformers/blob/main/src/transformers/models/big_bird/tokenization_big_bird_fast.py) in `transformers`. Have you tried it?

[2022-09-05 14:14] ydshieh commented on #18773
Well, just a remark: you mentioned reverting
[code]
also avoided the issue. This might suggests using `-inf` is more robust to this problem, and worth a further investigation from our side.

[2022-09-05 14:15] HebaGamalElDin commented on #14195
Hello NielsRogge,

Thank you really for your fast response. I do really appreciate it.

All hints you mentioned do make sense to me, only one question here please.
What do you mean by decoding the labels before feeding them to the model?
Should It be feeded to the model as text and not vectors?

Thanks in advance.

On Mon, Sep 5, 2022 at 12:18 PM NielsRogge ***@***.***> wrote:

--
Heba Gamal El-Di

[2022-09-05 14:49] soocheolnoh commented on #18773
Thank you! @ydshieh

[2022-09-05 15:02] #18330 closed

[2022-09-05 15:02] #18329 closed

[2022-09-05 15:08] patrickvonplaten commented on #5096
Sadly not :-/ We now have on for Flax in #18297 - could you try to copy-paste the preprocessing logic into a PyTorch one maybe?

[2022-09-05 15:42] BramVanroy commented on #5096
@patrickvonplaten I've been porting the fairseq implementation to a PyTorch dataloader format. I found that the Flax implementation in HF lacks adding noise for 0-length spans and has some slightly diverging implementation so it was more straightforward to start from the fairseq implementation. I am now especially testing the data processing to get it as close as possible to fairseq's implementati

[2022-09-05 17:12] sanchit-gandhi commented on #18552
Hey @LaurenceYozi

Indeed! The MSE loss is not implemented. Would you like to open a PR to add this? You can refer to BERT for the loss function/labels logic:
https://github.com/huggingface/transformers/blob/cfd623a859890c6d106610d3c688064eadc7bd61/src/transformers/models/bert/modeling_bert.py#L1578-L1598
You should be able to copy this almost one-for-one from BERT to Wav2Vec2!

[2022-09-05 17:29] sanchit-gandhi commented on #18884
Hey @SamKG!

As @maxidl has kindly pointed out, the `pad_token_id` needs to be specified for autoregressive generation.

You can set this to `tokenizer.pad_token_id` **if** the tokenizer has a `pad_token_id` defined:
[code]

Otherwise, setting it to the `eos_token_id` is possible:
[code]

The `pad_token_id` should always either be passed to the `.generate()` method or specified in the `config`.

@

[2022-09-05 17:32] cchan-lm commented on #18495
Because PR https://github.com/huggingface/transformers/pull/18615 has been merged, I'm considering this closed.

[2022-09-05 17:32] #18495 closed

[2022-09-05 17:34] sanchit-gandhi commented on #18890
Hey @BramVanroy! Thanks for posting this issue with such clear and concise code-snippets! In your opinion, would it be worth implementing these changes in the example script? Or are they specific to your use case? Perhaps you could summarise quickly the changes you made to computing the actual coverage! Thanks!

[2022-09-05 17:39] sanchit-gandhi commented on #18881
Hey @BramVanroy! Thank you for posting this issue; the Flax BART training example is fresh off the press, so there might well be some small issues to fix.

Based on the traceback, I would agree that this is likely an issue related to tokenizer padding. Have you tried padding to max length? This seems like a very sensible next step!

Keep me posted with how you go on this! Happy to help if this rem

[2022-09-05 17:47] BramVanroy commented on #18890
Hey @sanchit-gandhi. The issue was with how I calculated the coverage for reporting, so there was a mistake on my end not on yours!

[2022-09-05 17:58] BramVanroy commented on #18881
I haven't figured this out yet. From reading the code, all blocks should be of size sequence length and the small remainder dropped:

https://github.com/huggingface/transformers/blob/cfd623a859890c6d106610d3c688064eadc7bd61/examples/flax/language-modeling/run_bart_dlm_flax.py#L657-L660

So I haven't looked further how this is being caused.

By the way, also getting these UserWarnings:

[code]

I a

[2022-09-05 18:17] #18889 closed

[2022-09-05 18:17] jmwoloso commented on #18876
Hi @ydshieh. No I havne't tried that directly. I tried the `AutoTokenizer` which uses the Fast tokenizers by default, but the problem with the fast tokenizers is that you cannot feed them pre-tokenized text like you can the vanilla tokenizers, and I need to do that for my use case.

[2022-09-05 18:22] jmwoloso commented on #18876
So it seems we don't need a fast tokenizer implementation, but the fast tokenizers actually need feature parity with the vanilla tokenizers.

[2022-09-05 18:23] jmwoloso commented on #18876
Unless using the `BigBirdTokenizerFast` directly is the solution, rather than `AutoTokenizer`?

[2022-09-05 18:35] #18839 closed

[2022-09-05 18:43] jmwoloso commented on #13632
There are always more layers, it seems @ichenjia :) I think we definitely have some control, or at least a way to hack it to prove the theory (thanks Python!). Could you try something like below as a temporary work around to see if it solves it?

I haven't looked at the source extensively, but maybe as a permanent fix we could add some dtype checking in `_get_output_signature` of the dataset in or

[2022-09-05 18:49] gante commented on #3720
@patrickvonplaten Trying to understand the problem -- am I right in saying that we want to use the generation methods directly for backpropagation purposes (because `generate()` won't work there), and thus we need to document their proper use (because `generate()` does a lot of input preparation)?

[2022-09-05 19:33] jmwoloso commented on #18876
Possibly related [#1045](https://github.com/huggingface/tokenizers/issues/1045)

[2022-09-05 21:37] jmwoloso commented on #18876
I was able to come up with a workaround @ydshieh, but it still feels like the fast tokenizers should behave the same as the standard tokenizers (i.e. accept tokenized inputs)

the solution I came up with tries to load the tokenizer from the local node where the udf is being run. if it doesn't exist, we download it, and save it for future calls to make use of.

expanding upon `create_tokens` in my

[2022-09-06 10:57] sanchit-gandhi commented on #18881
Certainly, that should ideally be the case!

Are those UserWarnings being thrown in the parameter update step? It suggests to me a mis-match between the update and parameter dtypes!

More than happy to perform a code-review when finished!

Also cc'ing @duongna21 who must take all credit for implementing the Flax BART training example!

[2022-09-06 11:39] saradhix commented on #18880
You can fix the code to make it work like this on the latest version:
```train_loss = model(input_ids=context_ids.cuda(), attention_mask=context_mask.cuda(), labels=labels.cuda(), return_dict=False )[0]```

As per the official docs, the forward method takes this argument which determines the format of the output:

[2022-09-06 11:59] sgugger commented on #18872
Yes, alongside with the extra modules you might need, all in the same folder.

[2022-09-06 12:13] patrickvonplaten commented on #5096
Sure, happy to take a look!

[2022-09-06 12:37] CaffreyR commented on #18880
Hi @saradhix , as we fixed this problems, a new problem occurred. Seems to be another version problem
[code]

<img width="571" alt="image" src="https://user-images.githubusercontent.com/84232793/188636847-4d3b0b3d-538e-4d38-ba36-7b26a9fff938.png">

[2022-09-06 12:50] gante commented on #18884
@sanchit-gandhi added to the `generate` to do list 👍

[2022-09-06 13:03] prajdabre commented on #5096
Hi

I remember posting this a year ago but I've written an entire toolkit for this purpose. Feel free to use it. https://github.com/prajdabre/yanmtt

I've also created a simple notebook for the same (scroll to the pretraining part): https://colab.research.google.com/drive/1ovlA_h0ggblawqR-yCgRs3uRjxFJ8K0l?usp=sharing

[2022-09-06 13:05] Rocketknight1 commented on #13632
Hi @jmwoloso @ichenjia, sorry for only seeing this now! Just to clarify, are you encountering difficulties passing `tf.int64` values to `TFLongFormer`? You're correct that the `to_tf_dataset` and `prepare_tf_dataset` methods cast all int outputs to `tf.int64`, but this is because our policy is that our models should always accept `tf.int64` for any integer tensor inputs. If you're encountering iss

[2022-09-06 13:50] BramVanroy commented on #5096
Hi Raj, thank you for this. I had come across it but your script seems to have a lot of additional things going on so that it is hard to extract the basics. I also found that you implement word/span masking but not the other things like adding noise or randomly swap a masked token for a random token, so not _completely_ like the original implementation (but correct me if I'm wrong!) .

I think you

[2022-09-06 14:57] NielsRogge commented on #18880
Here's the PR that introduced it: https://github.com/huggingface/transformers/pull/14803

Yes, it's set to "input_ids" by default (and overwritten by vision and speech models)

[2022-09-06 15:07] sgugger commented on #18878
No, this code is not called when you set `report_to="none"` or `report_to=["none"]` since it is filtered out [here](https://github.com/huggingface/transformers/blob/6678350c01629b848aa9c41e169da5d6b8d9e7e9/src/transformers/training_args.py#L1155).

Setting `report_to=["none"]` in `TrainingArugments` works perfectly on my end, please make sure you are using the latest Transformers version and if th

[2022-09-06 15:25] patrickvonplaten commented on #3720
Good point!

I think my idea back when we added the sub-methods was to push the community more to use those directly instead of the more "magic" `.generate()` function. The reason being because it's harder and harder to cover every use case in `generate()` where as the sub methods are very "bare-bone" without any magic which means that if one knows how to use them they can more or less cover every

[2022-09-06 15:42] JoaoLages commented on #3720
@patrickvonplaten @gante
At least [these docs](https://github.com/huggingface/transformers/blob/6678350c01629b848aa9c41e169da5d6b8d9e7e9/src/transformers/generation_utils.py#L1652) should be updated with the code that @patrickvonplaten shared in [here](https://github.com/huggingface/transformers/issues/3720#issuecomment-1235775528)

[2022-09-06 16:55] jmwoloso commented on #13632
Hi @Rocketknight1 thanks for the reply. That all makes sense. This thread has kind of morphed, but I believe you solved the original issue which dealt with trying to pass ragged tensors to the model.

The next issue that came up from that was that the `TensorScatterUpdate` op in TF expects `tf.int32` inputs (according to the traceback) but was getting `tf.int64`. That originates in the `modeling_t

[2022-09-06 17:04] ekagra-ranjan commented on #18887
Sure @sgugger. On it.

[2022-09-06 19:20] #18887 closed

[2022-09-06 19:47] jmwoloso commented on #18876
Hi @ydshieh thank you for the quick reply. The issue I linked to above in the tokenizers library captures the limitation I believe, so I can follow up on that thread to see about what is possible there.

And yes "remote nodes" is a fine term to use, we typically think about Spark clusters in terms of the driver node (the node where our notebooks run) and the worker nodes (which take a serialized f

[2022-09-06 20:00] jmwoloso commented on #13632
Thanks @Rocketknight1! @ichenjia see if that solves your issue.

[2022-09-06 21:07] jmwoloso commented on #13632
@ichenjia can you try explicitly passing in the `global_attention_mask`? I believe it ends up just being constructed on the fly with `tf.zeroes_like` method so maybe you could try that to get you unstuck?

[2022-09-06 21:37] ichenjia commented on #13632
Thank you @jmwoloso

I manually created a global attention mask  in the tokenizer function:

[code]

It immediately produced an OOM error

`ResourceExhaustedError: OOM when allocating tensor with shape[12,16,196864] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc [Op:StridedSlice] name: tf_longformer_for_sequence_classification/longformer/encoder/layer_._5/att

[2022-09-06 21:53] jmwoloso commented on #13632
That doesn't solve this particular issue, but while we look into fixing it, I'm assuming your need is to handle longer sequence lengths than the typical Bert-like models are pre-trained on.

[2022-09-06 22:35] ichenjia commented on #13632
Thanks! I have not tried it because it only supports Torch not TF right?

[2022-09-06 22:39] ichenjia commented on #13632
You are talking about https://huggingface.co/docs/transformers/v4.21.3/en/model_doc/big_bird#transformers.BigBirdForSequenceClassification

right?

[2022-09-06 22:53] jmwoloso commented on #13632
yeah, you're right...I assumed the TF-flavor of BigBird would have been the easiest lift to implement, but maybe not. can you revert back @Rocketknight1's PR and run it again, but post the entire output/traceback so I can take a look @ichenjia?

[2022-09-07 01:26] jybsuper opened #18912 "Failed to import transformers.models.bart.modeling_tf_bart because no module named 'keras'"
The following line of code causes an error: `ModuleNotFoundError: No module named 'keras'` whenever I try to initialize a Bart model:
https://github.com/huggingface/transformers/blob/0a632f076d6b275690176b79c64c5559e1240b05/src/transformers/modeling_tf_utils.py#L39
Replaced it with `from tensorflow.python.keras.saving.hdf5_format import save_attributes_to_hdf5_group` and the error was gone.
Is thi

[2022-09-07 02:54] BAOOOOOM commented on #15591
Hello, I also have the same problem, could you share your implementations?Thank you very much.

[2022-09-07 02:59] ZhaofengWu commented on #15591
Sure, I should be able to share it along with some other project-specific code after the EMNLP decisions, which will be in less than a month. I will let you know when that happens.

[2022-09-07 03:01] BAOOOOOM commented on #15591
Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "huggingface/transformers"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月7日(星期三) 上午10:59
***@***.***&gt;;
***@***.******@***.***&

[2022-09-07 04:35] ichenjia commented on #13632
Thank you for trying to get to the bottom of it. Here is the code I ran:

[code]

and here is the track:
[code]

[2022-09-07 04:36] ichenjia commented on #13632
i don't think that's gonna fix the OOM error right?

[2022-09-07 04:47] jmwoloso commented on #13632
Yeah that won't fix that OOM error, but I wanted to see the full stack to help track down what we can do to adjust the base PR to get you unblocked. I'm not at my comp right now but will take a look tomorrow and see how we can adjust to make it work.

[2022-09-07 07:43] jaideep11061982 opened #18914 "Cannot Import BigBirdModel"
### System Info

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 3.0.2
- Platform: Linux-5.10.133+-x86_64-with-debian-9.9
- Python version: 3.6.6
- PyTorch version (GPU?): 1.4.0 (True)
- Tensorflow version (GPU?): 2.1.0 (True)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can h

[2022-09-07 08:00] ydshieh commented on #18876
Thank you @jmwoloso for the patience and effort to answer my question!

Actually, I was not giving suggestion in my last reply, but just to understand better your workaround/solution :-)

If you still have a bit time, one last question (as I am a bit confused here):

all those ~200 jobs can access the locally saved tokenizer, downloaded only once on a particular worker? Or each worker still has to

[2022-09-07 08:13] manish-95 commented on #18914
I don't think transformers version 3.0.2 contains the BigBird model. I think updating your version of the transformers package should solve the issue.

[2022-09-07 08:31] Shiro-LK opened #18916 "facebook/wav2vec2-xls-r-300m-21-to-en TypeError: expected str, bytes or os.PathLike object, not NoneType"
### System Info

transformers == 4.21.3
python == 3.9.2
ubuntu 18

### Who can help?

@patrickvonplaten @sanchit-gandhi

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. from transformers import  S

[2022-09-07 11:00] abdouaziz commented on #15392
@patrickvonplaten  I am looking for the best way to fine-tune wave2vec with trainer of Huggingface and language model ? can you help

[2022-09-07 11:33] jaideep11061982 commented on #18914
Which version does

On Wed, 7 Sep, 2022, 1:43 pm Manish Sridhar, ***@***.***>
wrote:

[2022-09-07 11:55] manish-95 commented on #18914
@jaideep11061982 I believe the model was added in v4.5.0, but I think either @sgugger or @NielsRogge will be able to better comment on the exact version that you could use.

[2022-09-07 12:16] sgugger commented on #18914
Yes, it was introduced in v4.5.0.

In general, please do not open issues without updating to some recent version of Transformers, v3.0.2 is more than two years old and bugs are fixed as continuous development of the new versions, so you need to upgrade to the latest releases to see the fixes anyway.

[2022-09-07 13:39] sanchit-gandhi commented on #18916
Hey @Shiro-LK!

Good catch, we're loading a Wav2Vec2 processor here so need to instantiate the corresponding class accordingly:

[code]

I've opened a PR to update the example on the model card accordingly: https://huggingface.co/facebook/wav2vec2-xls-r-300m-21-to-en/discussions/3

[2022-09-07 13:39] #18916 closed

[2022-09-07 14:16] Rocketknight1 commented on #13632
Hi all, I made a bunch of edits and hopefully things should work more smoothly now! Let me know if the problems remain.

[2022-09-07 15:02] #18379 closed

[2022-09-07 15:02] #18378 closed

[2022-09-07 15:02] #18377 closed

[2022-09-07 15:02] #18374 closed

[2022-09-07 15:02] #18214 closed

[2022-09-07 15:02] #18146 closed

[2022-09-07 16:55] ankrgyl opened #18926 "Follow ups to DocumentQuestionAnswering Pipeline"
### Feature request

PR https://github.com/huggingface/transformers/pull/18414 has a number of TODOs left over which we'd like to track as follow up tasks.

## Pipeline
- [x] Add support for documents which have more than the tokenizer span (e.g. 512) words
- [ ] Add support for multi-page documents (e.g. for Donut, we need to present one image per page)
- [x] Rework use of tokenizer to avoid the

[2022-09-07 17:19] #18912 closed

[2022-09-07 17:29] jmwoloso commented on #13632
Thanks @Rocketknight1, much appreciated!

[2022-09-07 17:38] #18380 closed

[2022-09-07 17:41] jmwoloso commented on #18876
Hi @ydshieh Yes, this. One download per worker that any jobs on that worker can then access if my solution above is used.

I'm torn on this because I would expect that all tokenizers behave the same and could be interoperable in a distributed setting without having to make the fix above, but the `spiece` ones behave differently. But having said that, the solution above would work for all tokenizer

[2022-09-07 17:49] ydshieh commented on #18876
Thanks again, @jmwoloso . Let's keep this issue open for now, and I will discuss with 2 colleagues regarding the documentation.

[2022-09-07 18:30] jmwoloso commented on #18876
Sounds great @ydshieh, thank you!

[2022-09-07 20:31] jmwoloso commented on #13632
Can you try it again @ichenjia?

[2022-09-08 00:09] #18619 closed

[2022-09-08 00:33] YooSungHyun commented on #18501
@sanchit-gandhi THX for reply
i checked wav2vec2-conformer, that is already do_stable_layer_norm like...!

in case, i just pretrained base model and Wav2Vec2ForCTC finetuning. (do_stable_layer_norm is True, group_by_length True)
and finally when i do predict loop (for model evaluation(testing))
first case. eval_set shuffle and eval batch size 2
WER is high
second case. eval_set sort and eval batch

[2022-09-08 02:17] archieCanada commented on #15399
Hello,

I was able to run the code stas00 mentioned above.
Though my task is along the same lines, it is a little more demanding. And I struggle to make the adjustments.
I would appreciate any help.

The description of the task:

1) I have a list of csv documents.
list = [doc1,doc2,doc3,...,docN]

2) Each document contains a dataframe with two columns: dataframe['question'] and dataframe['context'

[2022-09-08 02:21] archieCanada commented on #15399
Hello,

I was able to run the code stas00 mentioned above.
Though my task is along the same lines, it is a little more demanding. And I struggle to make the adjustments.
I would appreciate any help.

The description of the task:

1) I have a list of csv documents.
list = [doc1,doc2,doc3,...,docN]

2) Each document contains a dataframe with two columns: dataframe['question'] and dataframe['context'

[2022-09-08 02:47] stas00 commented on #15399
You just get each rank to generate its unique sequence. See the simple example for 2 gpus here:

https://huggingface.co/docs/transformers/main/main_classes/deepspeed#custom-deepspeed-zero-inference

Specifically this part:
[code]

If you run that example verbatim, you will see that each rank (gpu) will print its own generated answer.

How do you imagine to use both together?

You can use CPU offlo

[2022-09-08 02:52] stas00 commented on #15399
Additionally, Deepspeed has recently released a new product called Deepspeed-Inference which speeds up inference by splitting the processing over multiple GPUs using Tensor Parallelism.

And it can even handle quantized int8 input and thus requiring half the resources at a cost of course of slower execution.

See https://github.com/bigscience-workshop/Megatron-DeepSpeed/tree/main/scripts/bloom-inf

[2022-09-08 06:05] NiteshMethani commented on #16304
Hi @jplu
I ran the script on conll2003 dataset with the default hyperparameters. However the performance is not upto the mark. Here are the performance numbers I am getting:
{‘precision’: 0.8983516483516484, ‘recall’: 0.40541976620616366, ‘f1’: 0.5587014888943129, ‘accuracy’: 0.8970917690009956}

I tried with different batch sizes (8, 16, 24, 32) and learning rates (1e-5, 1e-8, 2e-5) but with no l

[2022-09-08 09:32] NielsRogge commented on #18926
cc'ing @Narsil for enabling the model on the inference API, cc'ing @stevhliu for adding tutorial documentation to the task summary

[2022-09-08 09:50] NielsRogge opened #18935 "[ViT] Add note about interpolation of position encodings"
### Feature request

We should add a note to the docs on the fact that, in order to fine-tune ViT on higher resolution (e.g. 512x512), one can set `interpolate_pos_encoding=True` in the forward of the model.

### Motivation

This thread on the forum: https://discuss.huggingface.co/t/fine-tuning-image-transformer-on-higher-resolution/22623/4

### Your contribution

I'll take this!

[2022-09-08 09:51] mmlynarik commented on #4048
Why are you using this suggestion? The paper uses this logic only for feature-based version, and not for the primary fine-tuning version of the model.

[2022-09-08 10:41] nedzone opened #18936 "I render only black screen"
### System Info

I get the following message

`torchvision\io\image.py:13: UserWarning: Failed to load image Python extension:
torch\_jit_internal.py:751: UserWarning: Unable to retrieve source for @torch.jit._overload function: <function _DenseLayer.forward at 0x0000024B2E41C550>.
  warnings.warn(f"Unable to retrieve source for @torch.jit._overload function: {func}.")
torch\_jit_internal.py:751:

[2022-09-08 10:57] mmlynarik commented on #1328
Hi, @mkaze, regarding your question:

The paper explicitly says the following:

_The vector C is not a meaningful sentence representation **without fine-tuning**, since it was trained with NSP._

That means, it only says the CLS output token (pooler output) is not useful on its own from the pre-trained model (used without funetuning), but if you fine tune the model, it is useful for classification

[2022-09-08 11:21] DieseKartoffel commented on #15450
Would be happy to see this PR accepted at some point in the future. From my point of view imbalanced datasets and class weights are a common problem and I dont think the current way to solve this problem is very intuitive.

[2022-09-08 12:40] archieCanada commented on #15399
Thank you, Stas. This is exactly my question.

Let's say I have 40 GPUs but just 24 inputs in one document. Would that mean that I can take advantage only of 24 GPUs at a time? It is particularly an issue since the number of inputs in each document varies. If I assign each input for each GPU using the example you mentioned, I will run into the issue that while processing some documents, I will hav

[2022-09-08 14:47] dmatekenya commented on #14214
I'm running through the same issue as above. I followed through this [blog-post](https://huggingface.co/blog/fine-tune-xlsr-wav2vec2) but instead of saving the model to Hugging Face hub, I saved in my local directory. There is a checkpoint folder there with the preprocessor while the main directory has turkish-tokenizer_config.json file. However, when I load the model for evaluation, its still giv

[2022-09-08 15:02] #18390 closed

[2022-09-08 17:14] stas00 commented on #15399
you need to understand how ZeRO works - all gpus must always work in sync, so you never have idling gpus. I suggest to perhaps read the main paper: https://arxiv.org/abs/1910.02054

you can do a single stream and then all other gpus will process it too, you can send unique streams - so you can have 24 unique streams and the rest will get whatever input and you can ignore the results. but again all

[2022-09-08 17:20] archieCanada commented on #15399
Thank you, Stas. I will follow your advice and do more reading.

[2022-09-08 17:36] Ngheissari opened #18940 "Getting the heat map out of VILT (Figure 4 in the paper)"
### Feature request

I would like to get the heatmap from ViLT (Visualizations of transportation plan of word patch alignment).

### Motivation

It is useful for debug and also might be useful for other applications. It is shown in Figure 4 in the paper: https://arxiv.org/pdf/2102.03334.pdf

### Your contribution

NA

[2022-09-08 18:33] d-miketa opened #18942 "Output scores in TranslationPipeline"
### Feature request

Please consider adding scores to the output dict of TranslationPipeline.

https://huggingface.co/docs/transformers/v4.21.3/en/main_classes/pipelines#transformers.TranslationPipeline.__call__

### Motivation

It'd be nice to see the scores/probabilities of translated sentences rather than just an ordered list of the top k beam search outputs. In many cases the scores can be int

[2022-09-08 20:24] chrisemezue opened #18944 "wrong wav2vec link in audio classification blog"
[This wonderful blog](https://huggingface.co/docs/transformers/main/en/tasks/audio_classification#preprocess) has an issue with the wav2vec model card link. See below:

The right link should be https://huggingface.co/facebook/wav2vec2-base

[2022-09-09 00:12] ankrgyl commented on #18926
@NielsRogge because we removed `donut-swin` from `AutoModelForDocumentQuestionAnswering`, you can no longer create a pipeline with donut, i.e.

[code]

Should we add it back to that list? Or what is the best way to support that?

[2022-09-09 00:20] n9Mtq4 opened #18946 "adamw_bnb_8bit is actually Adam8bit and doesn't respect TrainingArguments weight_decay"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.15.60-1-MANJARO-x86_64-with-glibc2.36
- Python version: 3.10.5
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.13.0.dev20220903+cu116 (True)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.4.2 (gpu)
- Jax version: 0.3.10
- JaxLib version: 0.3.10
- Using GPU in script?: Yes (Ampere)

[2022-09-09 01:08] jbmaxwell commented on #17230
I'm also curious how this one is coming along. (I just saw the original paper today. Not sure how I missed it...)

[2022-09-09 01:46] ichenjia commented on #13632
Sorry, I was busy yesterday. here is what I did:

pip install --upgrade git+https://github.com/huggingface/transformers.git@fix_tflongformer_int_dtype

Then ran the same code and still got the error. Did I install from the right branch?

[code]

[2022-09-09 02:52] macheng6 opened #18947 "About the evaluation_loop function of trainer"
### Feature request

It is recommended to feed the logits of each batch into the compute_metrics function, and then aggregate the results of each batch.

### Motivation

When I use the evaluate function of the trainer, the evaluation_loop function concatenates all the logits and labels on the validation set and sends them to the compute_metrics function for evaluation. The preds_host and labels_ho

[2022-09-09 05:28] PerformanceDetect opened #18950 "BertTokenizer slowly on latest versions"
### System Info

Hi, I test the execution time of my program when adopt different transformers version.
In my program, when the transformers version was **4.21.3**, the execution time was **7.12s**, but when I changed the lightgbm to the **4.3.0**, the execution tim was **2.79s**.
I record the system info on different versions.
[4.21.3.txt](https://github.com/huggingface/transformers/files/9532526

[2022-09-09 08:05] jaimu97 opened #18951 "Pipeline GPT-NeoX only returns "BB" from any prompt then nothing for subsequent calls of the pipeline"
### System Info

CPU: AMD 4750G (Onboard video disabled)
OS: Ubuntu Server 20.04.5 LTS x86_64
RAM: 64GB
GPUs: 2x Tesla M40 24GB
Driver Version: 510.47.03
CUDA Version: 11.6

Pytorch stable 1.12.1 (Installed via Anaconda)
Both accelerate and transformers installed through pip
accelerate @ git+https://github.com/huggingface/accelerate@98823de572246d68cb31db94b60f7328ae9d551e
transformers @ git+https

[2022-09-09 08:14] jaimu97 commented on #18951
I noticed also changing the `eos_token_id` to `187` (`\n`) increases time for a response to about 20 seconds (previously ~5s) and there is an increased load on the cards but the response is the same "BB"

[2022-09-09 08:58] StephennFernandes commented on #15464
@stefan-it @patrickvonplaten
hey were you able to convert the scalable_t5 models ?

actualy i have pretrained a mt5-base `t5x/examples/scalable_t5/mt5/base.gin`

But i am unable to convert it to hugginface. i tried several huggingface config.json files from the t5-efficient-base but none-of them worked.

**the following is my error when converting:**
[code]

[2022-09-09 10:06] NielsRogge commented on #18940
Hi,

Yes it's totally possible to re-create that. Basically it comes down to translate [this script](https://github.com/dandelin/ViLT/blob/master/demo.py) to a Gradio demo.

I'm marking this as "good first issue" as it seems fairly straightforward.

[2022-09-09 11:20] RedTachyon opened #18954 "Update decision transformers to gym 0.26"
### Feature request

We recently published a [new release of gym](https://github.com/openai/gym/releases/tag/0.26.0), which carries with it a bunch of breaking changes.
However, this is the last of the API changes, and it will be stable going forward. So it would be great to update the decision transformers to be compatible with that.

### Motivation

I'd say there are two main reasons to switch t

[2022-09-09 11:32] atturaioe commented on #18940
Hi, I would like to work on it

[2022-09-09 11:34] sgugger commented on #18946
Would you like to make a PR to fix this?

[2022-09-09 12:04] RK-BAKU opened #18956 "Latest Wav2Vec2 pretraining script runs on first GPU only"
### System Info

Dear @patrickvonplaten

I've tried different multi GPU setups (RTX 3090 and A5000) but training always runs only on device 0.

**Tried these commands:**

`accelerate launch --num_processes=2 pretrain.py`
`accelerate launch pretrain.py`

Seems there is some bug in the script because old fairseq training runs on all available devices.
Kindly assist to understand where to dig further

[2022-09-09 12:22] Rocketknight1 commented on #13632
Hi @ichenjia, the command you ran looks correct but the traceback you pasted refers to an old version of the code. (`global_attention_mask = tf.cast(global_attention_mask, tf.int64)` is not on line 2391 anymore)

Can you try `pip uninstall transformers` and then rerunning the command above, and then restarting any jupyter notebook servers you're running to make sure you're using the PR branch?

[2022-09-09 12:59] RK-BAKU commented on #18956
Got to run accelerate config in order to setup devices.

[2022-09-09 12:59] #18956 closed

[2022-09-09 13:15] patrickvonplaten commented on #14214
Hey @dmatekenya,

Could you post a reproducible code snippet ? I cannot reproduce the error just from a screenshot sadly

[2022-09-09 13:25] patrickvonplaten commented on #4517
For BERT2BERT you can just use the `EncoderDecoderModel` class as shown here: https://huggingface.co/docs/transformers/v4.21.3/en/model_doc/encoder-decoder#transformers.EncoderDecoderModel.forward.example

This example shows how to instantiate a Bert2Bert model which you can then train on any seq2seq task you want, e.g. summarization: https://github.com/huggingface/transformers/tree/main/examples/

[2022-09-09 13:38] miguelwon opened #18958 "Encoder-decoder model is not working correctly for the latest versions"
### System Info

transformers==4.2.1

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi,

I'm working with a seq2seq problem,  in particular with `EncoderDecode

[2022-09-09 13:41] miguelwon commented on #4517
Thanks!
Btw, I just submitted an issue and tagged you. There's some problem when using EncoderDecoderModel with the most recent transformers versions.

[2022-09-09 14:49] patrickvonplaten commented on #15392
The blog post: https://huggingface.co/blog/fine-tune-xlsr-wav2vec2 should be the most helpful one

[2022-09-09 14:53] n9Mtq4 commented on #18946
Actually upon further review, the weight decay is being set correctly. I didn't fully understand the purpose of these lines that set the weight decay for only some parameters. This bypasses the non-negative check in the constructor, but does use the correct value when updating the parameters.

https://github.com/huggingface/transformers/blob/e6f221c8d4829c9a3bca699c18a32043ab21f7a0/src/transformer

[2022-09-09 14:53] #18946 closed

[2022-09-09 15:02] #18409 closed

[2022-09-09 15:02] #18384 closed

[2022-09-09 15:03] #16337 closed

[2022-09-09 15:03] #16334 closed

[2022-09-09 18:45] nicolaspi opened #18965 "The configuration is not a valid json file"
### System Info

The config at this url [https://huggingface.co/openai/clip-vit-large-patch14/resolve/main/config.json](https://huggingface.co/openai/clip-vit-large-patch14/resolve/main/config.json) is not a valid JSON and produces error:
`json.decoder.JSONDecodeError: Expecting property name enclosed in double quotes: line 88 column 3 (char 2317)`

### Who can help?

@patil-suraj

### Information

[2022-09-09 18:57] adamhowell commented on #18965
👆🏼Same error just started occuring about 30 mins ago across all machines

[2022-09-09 19:00] adamhowell commented on #18965
<img width="502" alt="Screen Shot 2022-09-09 at 3 00 30 PM" src="https://user-images.githubusercontent.com/26133/189424655-2d594077-d358-41aa-a265-86571dabb522.png">

[2022-09-09 19:01] #18670 closed

[2022-09-09 19:04] NielsRogge commented on #18965
Related to #18962

[2022-09-09 19:04] Rocketknight1 commented on #18670
@taymills That's quite an odd issue - it's definitely unrelated to this one, but if you haven't managed to figure it out, can you copy it into a new issue and tag me? It looks like your model is coming from some external library in the second example though (our models don't have a `run_train` method), so if that's the case we probably can't do much about the problem.

[2022-09-09 19:05] julien-c commented on #18965
Just in case, pinging @patil-suraj given a few commits on that model repo today =) https://huggingface.co/openai/clip-vit-large-patch14/commits/main

[2022-09-09 19:06] timwillhack commented on #18965
is there a way to disable it grabbing the newest?  I disabled my ethernet ran the app, and then turned it back on after it got past that point in the script and I'm running again if someone needs a fast temporary bandaid

[2022-09-09 19:11] LysandreJik commented on #18965
Thank you for reporting, this was fixed in [openai/clip-vit-large-patch14#4](https://huggingface.co/openai/clip-vit-large-patch14/discussions/4)

[2022-09-09 19:11] Lime-Cakes commented on #18965
If you have a set of downloaded cache of the unbroken files, you can get around the problem by forcing an offline only mode and using your cache.

If you don't want to edit your script, add TRANSFORMERS_OFFLINE=1, as seen by document here https://huggingface.co/docs/transformers/installation#offline-mode
If you prefer to edit your python scripts, you can pass local_files_only when calling from_pre

[2022-09-09 19:23] WTJ-github-ing commented on #509
Browse parameters, resume_from_checkpoint=./
![image](https://user-images.githubusercontent.com/82740038/189427930-06ad046b-2c3b-4dfa-b531-bc9a96b706c9.png)
Now, the code runs from checkpoint
![image](https://user-images.githubusercontent.com/82740038/189428009-6946e6c0-aee6-4079-a388-21abad592630.png)

[2022-09-09 19:24] WTJ-github-ing commented on #509
Browse parameters, resume_from_checkpoint=./
![image](https://user-images.githubusercontent.com/82740038/189427930-06ad046b-2c3b-4dfa-b531-bc9a96b706c9.png)
Now, the code runs from checkpoint
![image](https://user-images.githubusercontent.com/82740038/189428009-6946e6c0-aee6-4079-a388-21abad592630.png)

[2022-09-09 19:35] nicolaspi commented on #18965
Fixed

[2022-09-09 19:35] #18965 closed

[2022-09-09 20:22] rwightman commented on #18831
I was hoping to have transformers CLIP, OpenCLIP, and timm (for vision backbone finetune) all use the same hub weights ... ie something like,
* `https://huggingface.co/laion/vit_base_patch32_laion400m`
* `https://huggingface.co/laion/vit_base_patch32_laion2b`
etc

For `timm`, I'll just remux the weight into timm vit style on the fly. I was thinking the weights would natively match their source (ie

[2022-09-09 20:48] sgugger commented on #18831
No, there is no on-the-fly conversion in Transformers. The state dict is loaded as is.

[2022-09-09 23:14] rahular opened #18967 "Pre-processing re-runs for each process"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-4.15.0-180-generic-x86_64-with-glibc2.27
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script

[2022-09-09 23:59] CakeCrusher commented on #15313
I currently have the following code:
training arguments:
[code]
trainer:
[code]
I then run:
[code]
The previous code alone does not save as suggested by the (2.) solution.
Only when I run the following, it saves to the hub:
[code]

Any idea why it`s not saving at the end of the epoch? @osanseviero

[2022-09-10 01:11] xinyangz opened #18968 "Allow custom head size for self attention in BERT"
### Feature request

Right now the `attention_head_size` of BERT self attention is set to hidden_size / num_attention_heads:
https://github.com/huggingface/transformers/blob/855dcae8bb743c3f8f0781742d7fa2fa3aaa3e22/src/transformers/models/bert/modeling_bert.py#L260-L262

However, the `all_head_size` of self attention layer doesn't have to match the `hidden_size` of the model. For example, we may t

[2022-09-10 04:23] urmeya opened #18969 "Choice of variable name in custom model affects model initialization"
### System Info

transformers version 4.17.0
python version 3.7.11
platform Ubuntu

### Who can help?

@LysandreJik  @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

I am trying to build a c

[2022-09-10 04:42] marzi9696 opened #18970 "add a python module called "loss.py" for custom losses published in papers"
### Feature request

I'm currently working on a text generation project at work which made me encounter a new loss name "unlikelihood loss".
Thankfully there was an implementation already existed on the internet.
But I was wondering that would be neat to create a separate module just for loss functions specially custom ones published in papers.
I think that would help people out a lot.
I would als

[2022-09-10 09:28] Abhi-2809 commented on #17509
Hi, if possible could you share your code for how to fine-tune WavLMForAudioFrameClassification for custom dataset.
Thank you very much.

[2022-09-10 09:46] aidansan commented on #12778
I believe part of the reason that the code runs slowly is, because the validation step is run after every training step. See [this](https://github.com/huggingface/transformers/blob/main/examples/research_projects/rag-end2end-retriever/lightning_base.py#L404).  @shamanez is my understanding correct, and is it necessary for the validation step to be run after every training step?

P.S. Thank you for

[2022-09-10 11:33] nitaytech opened #18971 "generate() - documentation of `length_penalty' is misleading (and actually wrong)"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.15.0-1014-azure-x86_64-with-glibc2.31
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>

[2022-09-10 15:02] #18447 closed

[2022-09-10 15:02] #18441 closed

[2022-09-10 15:02] #18431 closed

[2022-09-10 15:02] #18430 closed

[2022-09-10 15:02] #18279 closed

[2022-09-10 15:02] #18270 closed

[2022-09-10 15:03] #18042 closed

[2022-09-10 15:03] #17974 closed

[2022-09-10 15:50] MorenoLaQuatra commented on #17509
I can share with you some code I actually use to train an AudioFrameClassification model. It is not intended for Speaker Diarization but the concept behind is the same.

Here you can find the training loop using HF Trainer: https://github.com/MorenoLaQuatra/ComParE2022_MED/blob/master/train.py

Here instead you can find the dataset class: https://github.com/MorenoLaQuatra/ComParE2022_MED/blob/mast

[2022-09-10 19:06] hemangjoshi37a commented on #12941
Still getting the same error
Here is my code :
[code]
Error :
[code]
https://hjlabs.in

[2022-09-10 19:46] hemangjoshi37a commented on #12941
runnign this command and authenticating it solved issue: `huggingface-cli login`
https://hjlabs.in

[2022-09-10 21:36] HebaGamalElDin opened #18974 "AttributeError: 'DistributedDataParallel' object has no attribute 'generate'"
### System Info

transformer version: 4.21.1
python: 3.8
pytorch: 1.12

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps:

1. Loaded the trOCR model by huggingfac

[2022-09-10 22:18] ZeyiLiao opened #18975 "How to parallelize large model(like t5-11b) at transformer version 3.0.2"
### System Info

- `transformers` version: 3.0.2
- Platform: Linux-4.15.0-189-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.13
- PyTorch version (GPU?): 1.7.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <Yes>
- Using distributed or parallel set-up in script?: <Try to>

### Who can help?

@stas00

### Information

- [ ] The official example scripts
-

[2022-09-10 22:43] skanjila commented on #18191
@ChainYo @regisss I am finally starting work on this, sorry about the delay, so I was reading through the code in this PR and using that as an example: https://github.com/huggingface/transformers/pull/14059/files, one question here, I was trying to understand how we determine what goes in the json structure below, I understand about the last config term but its the terms before it that I was tryin

[2022-09-10 23:41] flozi00 commented on #18564
Will try to find time for more progress after sleeping a bit @ github-actions

[2022-09-11 03:23] stas00 commented on #18975
the naive `parallelize` is not supported by t5. just gpt2 and bart. and it'll be removed soon altogether as there are better solutions.

you can do 2 things:

1. `accelerate` will automatically do naive parallelization for you https://github.com/huggingface/accelerate
2. and of course deepspeed-zero is likely to perform faster as it'll utilize the gpus more efficiently https://huggingface.co/docs/

[2022-09-11 03:24] #18975 closed

[2022-09-11 06:09] ZeyiLiao commented on #18975
@stas00 , yeah, thanks a lot!

And I wanna clarify that I want to use Version 3.0.2 transformers (since the code is using some specific function at V 3.0.2 and it would need a large amount of change if adapted to the latest version) and just check that `src/transformers `don't have deepspeed.py.

[2022-09-11 07:37] ekagra-ranjan opened #18976 "Top_P sampling samples an extra token when the cum sum of probabilities is exactly equal to top_p"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.6.4 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15

### Who can help?

@patrickvonplaten @Narsil @gante

[2022-09-11 11:16] Maydaytyh opened #18978 "KeyError when initialize the tokenizer with Atutokenizer for ernie-1.0-base-zh`"
### System Info

- `transformers` version: 4.6.0
- Platform: Linux-3.10.0-1160.49.1.el7.x86_64-x86_64-with-debian-buster-sid
- Python version: 3.6.10
- PyTorch version (GPU?): 1.7.0a0+7036e91 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help?

_No response_

### Information

- [X]

[2022-09-11 12:08] hemangjoshi37a commented on #5848
If anyone has already solved the issue please let me know. I am having same issue.
https://hjlabs.in

[2022-09-11 12:11] hemangjoshi37a commented on #5848
`$from transformers import ALBERT_PRETRAINED_CONFIG_ARCHIVE_MAP`
this solved my issue. Thank you everyone for support. you are great.
https://hjlabs.in

[2022-09-11 13:14] NontawatWuttikam commented on #2100
This issue is quite old. But for those who still looking for the answer, you should load the model with LMHead instead.
for BERT is BertForMaskedLM.from_pretrained()
for DistilBERT is DistilBertForMaskedLM.from_pretrained()

The tokenizer is the same.

[2022-09-11 15:01] #18433 closed

[2022-09-11 15:12] nitaytech commented on #18974
Hi, just unwrap the model:

model.module.generate(inputs)

(I didn't verify, but this should work)

[2022-09-11 15:18] HebaGamalElDin commented on #18974
Yes, this actually works, thank you.. I have just faced one more issue now.

when I decode the batch after generation I get no prediction strings at all, should I load the processor as well at the devices?
[code]
am I missing anything else?

[2022-09-11 15:48] #18376 closed

[2022-09-11 16:04] stas00 commented on #18975
wait, I got it wrong. it is gpt2 and t5 that used to support `parallelize` - my apologies - I implemented bart long time ago but it was never merged as we decided not to continue with this approach. So t5 used to work.

https://github.com/huggingface/transformers/blob/a26114777ee1c2802e91bd9cb26a3b39974d52ba/src/transformers/models/t5/modeling_t5.py#L209-L216

I think perhaps you're trying to use

[2022-09-11 20:50] dhairyadalal commented on #18978
Running into the same issue with "nghuyong/ernie-2.0-base-en".  It was working on Friday so I'm assuming a change to either Transformers or the model's owners repo is causing this.

[2022-09-11 22:11] HebaGamalElDin commented on #6821
I tried unwraping the model as "model.module.generate" but I guess there's an issue in the generators it's all special tokens' index as decoding returns empty strings.

could you please clarify what model.module is exactly do?

[2022-09-12 00:35] Maydaytyh commented on #18978
I change the  AutoTokenizer to BertTokenizer and it works. But I still don't know the reason.

[2022-09-12 01:22] shamanez commented on #12778
@aidansan  Thanks a pointing this out. Seems like PL lightning document has changed.

Please read this -  https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#val-check-interval

seems like now we need to change it to a float.

[2022-09-12 01:22] shamanez commented on #12778
yes it is possible.

[2022-09-12 01:29] allanj commented on #6821
@HebaGamalElDin I think your problem is not related to this issue. Or we might need more context here, in your case.

[2022-09-12 03:40] stas00 commented on #6821
Wrappers like DDP, Deepspeed, and others hide the original model inside their objects - usually under `model.module`, so you can get from the wrapped object to the original model using `unwrap_model` which will handle multiple wrappers. If it's just one you can just access the original PreTrainedModel HF subclass model with  `model.module`.

The wrappers have no `generate` method, only the PreTrai

[2022-09-12 06:05] aidansan commented on #12778
https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#check-val-every-n-epoch check-val-every-n-epoch might work as well?

[2022-09-12 07:11] zainali60 commented on #14884
loaded_model = VisionEncoderDecoderModel.from_pretrained('/content/drive/MyDrive/ocr_pth/checkpoint-5000')
processor = TrOCRProcessor.from_pretrained("/content/drive/MyDrive/ocr_pth/checkpoint-5000")

KeyError                                  Traceback (most recent call last)
[<ipython-input-12-a5659b723d72>](https://localhost:8080/#) in <module>
      1 # loaded_preprocessor = TrOCRProcessor.from

[2022-09-12 07:26] #18518 closed

[2022-09-12 07:29] ZeyiLiao commented on #18975
@stas00 Okay!

So do you have some recommendations for how to find the corresponding version of the function at older version efficiently?
Like for function```self._use_cache``` at transformers==3.0.2

[2022-09-12 07:31] stefan-it commented on #15464
Hi @StephennFernandes ,

really interesting, I haven't tried it with the Scaled T5 models yet (Those efficient T5 models that can be found on the Model Hub are converted from the TensorFlow checkpoints, because they are trained with the official T5 implementation and not with T5X).

Please give me some time to investigate that :)

[2022-09-12 07:33] ChainYo commented on #18191
Hi @skanjila, if you check the associated docs for `Decision Transformer`, you can see that there is no other feature than the default: https://huggingface.co/docs/transformers/model_doc/decision_transformer

![image](https://user-images.githubusercontent.com/50595514/189597188-c1a6d021-3611-4f12-9e5f-8118cf863451.png)

I think that for this model, `default` is the only convenient feature.

[2022-09-12 08:09] HebaGamalElDin commented on #6821
@stas00 thank you, what I'm wondering is which model version exactly does model.module access or which model version in which GPU exactly?

**It was working already in 1 GPU, since I switched to ml.p3.16xlarge instance It makes this behavior.**

Here's the full training process:
[code]

@allanj @stas00

[2022-09-12 08:35] BramVanroy opened #18979 "MBART tokenizer not behaving as example"
### System Info

- `transformers` version: 4.21.3
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.9.2
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)

### Who can help?

@patil-suraj @SaulLu

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE

[2022-09-12 09:00] ArthurZucker commented on #18309
Gonna merge it to main 🥳

[2022-09-12 09:00] younesbelkada commented on #18809
hi @mayank31398 !
Thanks for pointing out this issue 💪
If I wrap up what I have understood from your issue, when doing batched generation changing the value of one of the label changes the value of the loss function. If I understood correctly the labels are not used when inferring there, so the problem should occur when computing the loss (*i.e.,* the input text is always fixed, right?).
I tried y

[2022-09-12 09:02] younesbelkada commented on #18816
Thanks for pointing out this issue @ViktorThink !
This should be fixed in https://github.com/huggingface/transformers/pull/18859 that has been merged recently 💪

[2022-09-12 09:20] gante commented on #18976
Hey @ekagra-ranjan 👋

What you wrote is correct, tokens with a cumulative probability of `0.9` would be kept in your example. In practical settings, though, the difference is minimal -- with tens of thousands of tokens in a language model, the edge case you mention here accounts for a very small probability (and thus has very little impact). It is also by design, so we will err towards not making

[2022-09-12 09:57] NightMachinery opened #18982 "Flax BERT finetuning notebook no longer works on TPUs"
### System Info

- Colab
- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.17
- JaxLib version: 0.3.15
- Using GPU in script?: no
- Using di

[2022-09-12 10:13] NightMachinery commented on #18982
I have tested the linked notebook with Colab's GPU backend, and it works without any problems.

[code]

[2022-09-12 10:26] shamanez commented on #12778
yeah I think so

[2022-09-12 10:36] dhairyadalal commented on #18978
The ernie model is based on BERT so the tokenizer should work. But I can't load the model weights for "nghuyong/ernie-2.0-base-en"

[2022-09-12 10:38] BramVanroy commented on #18979
The example [here](https://huggingface.co/docs/transformers/main/model_doc/mbart#training-of-mbart) also does not seem to work as intended. It yields

```Keyword arguments {'text_target': 'Şeful ONU declară că nu există o soluţie militară în Siria'} not recognized.```

and `input_ids` only contains the source text.

[2022-09-12 10:45] SaulLu commented on #18979
Hi @BramVanroy,

Either a change in documentation of the expected output of the example (and an explanation why we'd still need tokenizer.as_target_tokenizer()), or a change in implementation where the target tokenizer also deals with shifting right.

Thank you very much for reporting this inconsistency, I confirm that there is indeed a misalignment between the documentation and the implementation

[2022-09-12 11:12] ekagra-ranjan commented on #18976
@gante  I can raise a PR right away for this. Should I go ahead?

[2022-09-12 11:17] gante commented on #18976
Oh, my bad, already opened a PR 🙈

[2022-09-12 11:26] NareshSandrugu commented on #7725
from this link using snippet of code to download the Wikipedia data.(https://huggingface.co/datasets/wiki_dpr/blob/main/wiki_dpr.py)

this is the command to download all 50 batches of data : !wget https://dl.fbaipublicfiles.com/dpr/data/wiki_encoded/single/nq/wiki_passages_{1..50}

[2022-09-12 11:30] ydshieh commented on #18817
### **Past CI - PyTorch 1.11 (Patch release: v4.21.2 | b487096b0)**

#### General
| no. | error |
|-:|:-|
| 32 | NameError: name 'kenlm' is not defined |
| 12 | RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0  |
| 6 | OSError: gs555750 is not a valid git identifier (branch name, tag name or commit id) that exists for |
| 6 | NameError: name 'GPT2

[2022-09-12 11:32] ydshieh commented on #18817
### **Past CI - PyTorch 1.10 (Patch release: v4.21.2 | b487096b0)**

#### General
| no. | error |
|-:|:-|
| 32 | NameError: name 'kenlm' is not defined |
| 12 | RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0  |
| 6 | OSError: gs555750 is not a valid git identifier (branch name, tag name or commit id) that exists for |
| 6 | NameError: name 'GPT2

[2022-09-12 11:33] ydshieh commented on #18817
### **Past CI - PyTorch 1.9 (Patch release: v4.21.2 | b487096b0)**

#### General
| no. | error |
|-:|:-|
| 50 | AttributeError: module 'torch' has no attribute 'pi' |
| 44 | TypeError: meshgrid() got an unexpected keyword argument 'indexing' |
| 32 | NameError: name 'kenlm' is not defined |
| 18 | AttributeError: module 'torchaudio.functional' has no attribute 'melscale_fbanks' |
| 15 | RuntimeErr

[2022-09-12 11:34] ydshieh commented on #18817
### **Past CI - PyTorch 1.8 (Patch release: v4.21.2 | b487096b0)**

#### General
| no. | error |
|-:|:-|
| 570 | AttributeError: module 'torch.jit._state' has no attribute '_clear_class_state' |
| 50 | AttributeError: module 'torch' has no attribute 'pi' |
| 44 | TypeError: conv1d(): argument 'padding' (position 5) must be tuple of ints, not str |
| 44 | TypeError: meshgrid() got an unexpected key

[2022-09-12 11:34] sgugger commented on #18969
I am very confused as to what the bug you think you have here is. You are trying to load weights of a checkpoint in a model that does not match (`"bert-base-ubcased"` is a BERT model with no head, so it does not expect a `bert` attribute). Using the base model prefix is the magic that Transformers uses behind the scenes to load those checkpoints in model with heads.

[2022-09-12 11:35] sgugger commented on #18967
Do you have a reproducer of the behavior you are seeing? On my side data is processed once.

[2022-09-12 11:35] ydshieh commented on #18817
### **Past CI - PyTorch 1.7 (Patch release: v4.21.2 | b487096b0)**

#### General
| no. | error |
|-:|:-|
| 550 | AttributeError: module 'torch.jit._state' has no attribute '_clear_class_state' |
| 245 | TypeError: div() got an unexpected keyword argument 'rounding_mode' |
| 150 | RuntimeError: iter.device(arg).is_cuda() INTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/native/cu |
| 79 | Attribute

[2022-09-12 11:36] ydshieh commented on #18817
### **Past CI - TensorFlow 2.8 (Patch release: v4.21.2 | b487096b0)**

#### General

#### Per model

[2022-09-12 11:36] ydshieh commented on #18817
### **Past CI - TensorFlow 2.7 (Patch release: v4.21.2 | b487096b0)**

#### General

#### Per model

[2022-09-12 11:36] ydshieh commented on #18817
### **Past CI - TensorFlow 2.6 (Patch release: v4.21.2 | b487096b0)**

#### General

#### Per model

[2022-09-12 11:36] ydshieh commented on #18817
### **Past CI - TensorFlow 2.5 (Patch release: v4.21.2 | b487096b0)**

#### General

#### Per model

[2022-09-12 11:39] ekagra-ranjan commented on #18976
@gante Actually, I wanted to raise a PR with my implementation because it has an optimization of not requiring to clone an intermediate tensor and shifting things to right (as done in current implementation). I have raised the [PR](https://github.com/huggingface/transformers/pull/18984). Could you please review it?

[2022-09-12 11:40] sgugger commented on #18886
This example is not maintained anymore. It was written for an older version of PyTorch Lightning, so you probably need to downgrade to what was the last release at the time around its release (roughly 2 years ago).

[2022-09-12 11:55] NareshSandrugu opened #18986 "wiki_dpr model which features are using (i,e there are so many models are there)"
### Feature request

i want to test my own data for getting same embeddings for which are used for the wiki_dpr model.

### Motivation

i'm interest to explore more on own data

### Your contribution

till now not there

[2022-09-12 12:05] gante commented on #18976
@ekagra-ranjan that is fine, as long as you also edit the test for FLAX and TF (as in my PR), to ensure the three frameworks have the same behavior

[2022-09-12 12:53] kongzii opened #18987 "Calling DetrFeatureExtractor will modify its inputs"
### System Info

Python 3.9.1, Transformers 4.21.3, Ubuntu 18.04 (inside Docker) but I think it will be the case in all versions.

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Re

[2022-09-12 13:02] mali726 opened #18988 "RuntimeError from fine-tuning the automodel"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.4.0-110-generic-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?

[2022-09-12 13:04] urmeya commented on #18969
In the two code implementations I have pasted, the only difference is a variable name (`self.bert` in first case and `self.basemodel` in second case).

My query is: if the model keys get mapped correctly in first case, why are they not mapping in second case?

Please compare the warning messages I have pasted for the two cases if this description is not making sense.

[2022-09-12 13:08] sgugger commented on #18969
Your description shows the exact opposite: there is a warning in the first case and not in the second case. Please clarify what it is you are asking as I don't understand your question.

[2022-09-12 13:09] urmeya commented on #18969
I missed word 'not' there. Correcting it now.

[2022-09-12 13:24] alaradirik opened #18989 "MaskFormerFeatureExtractor doesn't process instance segmentation maps correctly"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.5.0 (cpu)
- Jax version: 0.3.6
- JaxLib version: 0.3.5
- Using GPU in script?: No
- Using distributed or parallel set-up in sc

[2022-09-12 13:41] shivance opened #18990 "Add Molecular Attention Transformer"
### Model description

I would like to add the Molecular Attention Transformer [MAT](https://github.com/ardigen/MAT) model to the Transformers

MAT has been a big leap towards development of a single neural network architecture that performs competitively across a range of molecule property prediction tasks. It unlocked a widespread use of deep learning in the drug discovery industry.  Key innovat

[2022-09-12 13:52] ydshieh commented on #14884
Hi @zainali60 What's your `transformers` version? Could you try the latest one? If the same error still occurs, could you open a new issue with a small but self-contained code snippet to reproduce the issue? Thank you!

[2022-09-12 13:53] shivance commented on #18990
@sgugger Hi, would it be a valuable contribution to HuggingFace?

[2022-09-12 14:32] #18844 closed

[2022-09-12 14:38] zainali60 commented on #14884
Thanks for reply @ydshieh  i resolve my issue and get results
if you have implementation scratch ocr transformers model kindly share me.thanks

[2022-09-12 14:58] JohnGiorgi opened #18992 "genered_predictions.txt produced by run_summarization script may be of incorrect length"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-4.18.0-372.19.1.el8_6.x86_64-x86_64-with-glibc2.30
- Python version: 3.9.6
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-09-12 15:01] sanchit-gandhi commented on #18501
Okay interesting - could you check the losses for the four cases - are they the same or do they differ? If they are the same it's a tokenizer issue with padding. Otherwise likely a modelling issue!

[2022-09-12 15:01] #18472 closed

[2022-09-12 15:01] #18466 closed

[2022-09-12 15:01] #18465 closed

[2022-09-12 15:03] Rocketknight1 commented on #13632
Hey all - I'm going to merge the PR with the fix so that it can be included in the next release of `transformers` this week. However, if you have further problems, please reopen the issue and let me know!

[2022-09-12 15:49] daspartho commented on #15971
Is this issue open? I'd love to take it on.

[2022-09-12 16:09] sgugger commented on #18992
Example scripts are just that, examples :-) They are not production-ready apps. They won't do everything you might need for your specific use-cases, but they are also easy to tweak as we try to keep them simple and readable. That's why we keep the generated text save simple, but you shouldn't hesitate to change the example to use either option 1 or 2, depending on what is easiest for you.

[2022-09-12 16:51] #13632 closed

[2022-09-12 16:59] JohnGiorgi commented on #18992
Yes I totally agree, didn't mean to suggest that they should be production ready. This was just a case that could obviously burn someone as the `"generated_predictions.txt"` file would be produced with this mistake silently and would only be detected if you checked its length against the expected number of predictions. I am happy to use solution 1 in my own code, but I figured I would document thi

[2022-09-12 17:34] daspartho commented on #16059
I'll take on PyTorch BigBirdPegasus and open a PR :)

[2022-09-12 17:37] spigo900 commented on #18609
Can confirm this still happens as of commit c126a239bcea9c68453cf86045a5177afbe2be6c.

[2022-09-12 17:37] pedrocolon93 commented on #3720
Just a heads up that I think some of these methods (if you want a continuous gradient) might have to use the softmax trick: https://datascience.stackexchange.com/questions/58376/gumbel-softmax-trick-vs-softmax-with-temperature to get a differentiable final next token. At least when I checked this out a while back that seemed to be the case but ¯\_(ツ)_/¯

[2022-09-12 18:06] sgugger commented on #18990
If you want to dive into this model, yes it would definitely be of interest!

[2022-09-12 18:35] daspartho commented on #16059
M2M model missing type hints, I'll work on it and open a PR.

[2022-09-12 19:17] stas00 commented on #18975
In this case I think this is just `use_cache=True` here:

https://github.com/huggingface/transformers/blob/4c2e983f44ce4d3b9c8502d42cc568e45897bd15/src/transformers/generation_utils.py#L892

from the original:
https://github.com/huggingface/transformers/blob/v3.0.2/src/transformers/generation_utils.py#L39

Please let me know if that's what you're after. and if not please show me which specific cod

[2022-09-12 19:29] stas00 commented on #6821
In the simple case of DDP you basically have multiple GPUs and each gpu just runs its own `generate` on the unwrapped model.

I see that you use SageMaker here, I don't have experience with this environment, perhaps there is something non-standard about it?

I think you want to start testing with a very simple base case reducing your test to just creating DDP and doing `generate` with some hardcod

[2022-09-12 19:39] gante commented on #18971
Hi @nitaytech 👋 we are aware of this issue, it is also being tracked here -- https://github.com/huggingface/transformers/issues/18208

[2022-09-12 19:53] nkandpa2 opened #18999 "position_ids cannot be specified for GPTNeoXForCausalLM"
### Feature request

The GPTNeoXForCausalLM class' forward method does not support passing `position_ids`. This model class uses rotary positional encodings so `position_ids` are needed for correct forward passes on left padded sequences.

### Motivation

The GPTNeoXModel class uses rotary positional encodings so `position_ids` are needed for correct forward passes on left padded sequences. Additi

[2022-09-12 20:04] LysandreJik commented on #18954
cc @edbeeching

[2022-09-12 20:05] LysandreJik commented on #18951
cc @Narsil

[2022-09-12 20:06] LysandreJik commented on #18950
cc @SaulLu

[2022-09-12 20:06] LysandreJik commented on #18944
Closed by #18945

[2022-09-12 20:06] #18944 closed

[2022-09-12 20:06] LysandreJik commented on #18942
cc @Narsil

[2022-09-12 20:21] rahular commented on #18967
Wow, ok. So looks like the example scripts always set `--overwrite_cache` to `True.
It is currently `parser.add_argument("--overwrite_cache", type=bool, default=None)` instead of `parser.add_argument("--overwrite_cache", action="store_true")`.

Will make a PR soon.

[2022-09-13 03:27] zhaowei-wang-nlp opened #19003 "Old import clause in seq2seq trainer"
### System Info

transformers==4.21.3
pytorch==1.10.1+cu111

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

When I tried to import Seq2SeqTrainer, there is an bug of imp

[2022-09-13 04:57] shivance commented on #18990
Alright @sgugger , I'll soon put up a PR on this !

[2022-09-13 06:36] #18989 closed

[2022-09-13 07:03] NielsRogge commented on #18987
Thanks for reporting. I've noticed this myself and we'll fix this.

cc @amyeroberts @alaradirik

[2022-09-13 08:04] hiroalchem opened #19005 "ConvNextModel doesn't work well on M1 mac for batches containing more than 2 images"
### System Info

- `transformers` version: 4.21.3
- Platform: macOS-12.3.1-arm64-arm-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Using mps
- Using distrib

[2022-09-13 08:19] alaradirik commented on #18987
Yes, thanks for reporting! This will be fixed shortly.

[2022-09-13 08:19] #18210 closed

[2022-09-13 11:39] sgugger commented on #19003
The problem comes when trying to import `torch`, according to the traceback you posted, so you should raise the issue there :-)

[2022-09-13 11:59] jehanzaib12 opened #19008 "TypeError: __init__() got an unexpected keyword argument 'evaluate_during_training'"
I got this error while training. I have used Seq2SeqTrainingArguments class from transformers:

[code]
When i pass the arguments in this method:

[code]
Error:

TypeError: __init__() got an unexpected keyword argument 'evaluate_during_training'

I don't know what i am doing wrong

[2022-09-13 12:28] dhairyadalal commented on #18978
It might worth posting here as well: https://huggingface.co/nghuyong/ernie-2.0-base-en/discussions/1

This seems to be an issue with the model config itself and not transformers.

[2022-09-13 13:39] zhaowei-wang98 commented on #19003
There are solutions: people in the following issue changed the import clause by themself. However, in my condition, this import clause is written in the package "transformer," and I can change it.
https://github.com/pytorch/pytorch/issues/51959

[2022-09-13 15:01] #18464 closed

[2022-09-13 15:01] #18463 closed

[2022-09-13 15:05] xueyongfu opened #19011 "AttributeError: 'TrainingArguments' object has no attribute 'main_process_first'"
### System Info

AttributeError: 'TrainingArguments' object has no attribute 'main_process_first'

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

AttributeError: 'T

[2022-09-13 15:22] oobabooga opened #19012 "Is AMD supported for transformers and text generation?"
### System Info

Hello,

I would like to ask if it is possible to run models like GPT-J and OPT-6.7b using an AMD GPU like RX 6800 16GB.

Specifically using `AutoModelForCausalLM.from_pretrained`. I have similar models (like OPT-1.3B) working on an NVIDIA GPU with half precision, but I don't know if it would seamlessly work on a different GPU brand.

The operating system is Ubuntu.

Thank you.

##

[2022-09-13 15:29] #18967 closed

[2022-09-13 16:08] SaulLu commented on #18950
Hi @PerformanceDetect ,

Thanks for sharing this benchmark with us! Indeed it would be interesting to find out what addition caused this slowdown, do you think you would have some time to investigate further?

Otherwise, if your usage is speed sensitive, I recommend you to use the fast version of the tokenizer :hugs:

[2022-09-13 16:48] deepdiffuser commented on #17117
(yes, it did :) )

[2022-09-13 16:53] daspartho commented on #16059
I'll create a PR for FSMT :)

[2022-09-13 17:16] #18971 closed

[2022-09-13 17:16] #18208 closed

[2022-09-13 21:31] ai-john opened #19017 "Increased Memory Consumption In Containers"
### System Info

Transformers version: 4.16.2
Python version: 3.8
Pytorch version: 1.11.0
CUDA version: 11.7
Docker version: 20.10.17

### Reproduction

Hello!

We noticed an interesting issue.

Currently, we have a monolithic app with 2 PyTorch models - model A and model B(both GPT based models).

If we run the app with only Model A enabled - it consumes 2.5 GB GPU.
If we run the app with only Mo

[2022-09-13 23:07] patrickvonplaten commented on #19012
Hey @oobabooga, are you getting an error when running this code currently on AMD? Could you maybe just try it out and add a stack trace here if it doesn't work? :-)

Thanks!

[2022-09-13 23:20] patrickvonplaten commented on #18884
Thanks @gante

[2022-09-13 23:21] patrickvonplaten commented on #18958
This might also be interesting for @ArthurZucker if you're very busy at the moment @ydshieh

[2022-09-13 23:39] oobabooga commented on #19012
Hello @patrickvonplaten, I am not getting an error, I would just like to know if transformers also works on AMD or if it is exclusive to NVIDIA. I have not found this information anywhere.

[2022-09-14 02:59] darshan2203 opened #19019 "LEDForSequenceClassification fine-tuning model gives: IndexError: index out of range in self"
### System Info

transformers - 4.21.1
Python - 3.8.13
torch - 1.12.0+cu113

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I'm trying to fine-tune the LED mode

[2022-09-14 04:16] zhangbaoxin123 commented on #11713
find the old version numpy ， and delete the old version numpy by youself。

[2022-09-14 06:13] ZeyiLiao commented on #18478
BTW, do you know how to change the loss function of a model like GPT2. Like, I wanna set  ```CrossEntropyLoss(reduction = 'sum')```, do I need to change the internal code or there is a way to deal with it.
Thanks!!!!!

[2022-09-14 08:01] mayank31398 commented on #18809
Hey, first of all: sorry for late reply.
Thanks for trying out my example with gpt2 @younesbelkada
Any way to get around this then?
I guess computing logits in bf16 might not be the best we can do?

[2022-09-14 08:34] Roshni3499 opened #19021 "How to find the accuracy of the generated questions from the text ?"
I am generating a 4 types of questions. 1. WH (what, where, who, which etc.) 2. Boolean type 3. Fill in blanks 4. MCQ.

I am able to find the accuracy of the WH & MCQ type question through the code given below.

[code]

As this model find the accuracy based on question and context, I am getting accuracy for WH & MCQ.
but there is no question in Fill in blanks type question , I am not able to find

[2022-09-14 09:13] li-muz opened #19022 "Unknown error while running "microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract"!"
I made the following mistakes in the process of using it. After checking it for a long time, I did not know what was wrong.

**Error message：**

[code]

**Code：**

[code]

[code]

[2022-09-14 10:02] gante commented on #18478
@ZeyiLiao

It depends on whether you pass the [`position_ids`](https://huggingface.co/docs/transformers/main/en/glossary#position-ids) argument to the model or not. At generation time, we hand-craft it according to the attention mask (remember: padded tokens get `0` in the attention mask), at inference time we do not. As such, if you run inference with left padding, unless you build `position_ids`

[2022-09-14 10:18] paulthemagno commented on #17102
Thnk you @patil-suraj, I followed your hints to create a `T5ForSequenceClassification` class, taking inspiration from `BertForSequenceClassification`.

I forked the last version of `transformers` in the main and pushed my updates. You can find it [here](https://github.com/paulthemagno/transformers).

Since Bert uses a pooled output (T5 not) and has only an encoder in `BertModel` (while `T5Model` E

[2022-09-14 10:24] NielsRogge opened #19024 "Add Deformable DETR to the object detection pipeline tests"
Deformable DETR was added in #17281, however I had to [disable](https://github.com/huggingface/transformers/blob/9f4acd059f9c2a195a3ff71c5bc34cb5512b0446/tests/pipelines/test_pipelines_object_detection.py#L56-L60) the model for the object detection pipeline tests, as it fails.

However, the model runs just fine with the pipeline as shown [in this notebook](https://colab.research.google.com/drive/1

[2022-09-14 10:30] harshil-shah commented on #18899
@LysandreJik perhaps you could suggest someone who can help with this please?

[2022-09-14 10:38] sgrigory opened #19026 "Minor inconsistency in "Transformers-based Encoder-Decoder Models" blog post"
### System Info

- `transformers` version: 4.21.3
- Platform: Darwin-20.6.0-x86_64-i386-64bit
- Python version: 3.7.6
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed o

[2022-09-14 11:51] thomasw21 commented on #18809
Okay I think gpt2 test isn't instability. Essentially it's absolute positional embeddings that's screwing with you as you move things to the right and adding padding to the left at you increase the label size, which is why you see big shifts in the loss.

I do think that the bloom test is instability. Typically `3.28125` and `3.296875` are consecutive.

[code]

So as you said you can try computing

[2022-09-14 11:54] younesbelkada commented on #18809
Everything makes sense in your explanation @thomasw21 ! Missed the absolute positional embedding part. Thanks for explaining it

[2022-09-14 14:20] gante commented on #4786
(in case someone comes across this issue, have a look at [this post in our forum](https://discuss.huggingface.co/t/bpe-tokenizers-and-spaces-before-words/475/2?u=joaogante))

[2022-09-14 14:20] gante commented on #18873
@logan-markewich -- have a look at this [entry in our forum](https://discuss.huggingface.co/t/bpe-tokenizers-and-spaces-before-words/475/2?u=joaogante)

[2022-09-14 14:48] gante commented on #18999
Hi @nkandpa2 👋

We are aware of this problem (see also https://github.com/huggingface/transformers/issues/17283), and we are working on a fix (https://github.com/huggingface/transformers/pull/18048)

As you wrote, it is not a trivial change :D

[2022-09-14 15:01] #18506 closed

[2022-09-14 15:01] #18511 closed

[2022-09-14 15:01] #18496 closed

[2022-09-14 15:01] #18480 closed

[2022-09-14 15:37] ArthurZucker opened #19035 "Wrong `special_tokens_mask` when using `facebook/opt-350m`"
### System Info

The logic behind the computation of `special_tokens_mask` seems a bit broken when using the OPT model (might also be true for other models but I have not been able to reproduce the behaviour yet).

[code]

### Who can help?

@LysandreJik this is related to the #allenai-colab issue mentioned by `Dirk Groeneveld`.

The part of the `tokenizer` code that is interacted with is the foll

[2022-09-14 16:26] logan-markewich commented on #18873
@gante Yea ok, that gives some context for what is actually going on

I guess I will just need to remove those characters myself? A little annoying, but oh well

[2022-09-14 16:26] #18873 closed

[2022-09-14 16:35] AndreaSottana opened #19038 "Summarization pipeline giving different outputs when num_beams=1 or num_beams not set (should default to 1)"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.15.0-33-generic-x86_64-with-glibc2.35
- Python version: 3.10.4
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-09-14 16:35] daspartho commented on #16059
Some type hints are missing in PyTorch UniSpeech, MPNet, and Nystromformer.
I'll take on it and group those changes into a single PR!

[2022-09-14 16:36] NielsRogge commented on #18873
Hi,

No that's just the way tokenization happens. The tokenization is based on the SentencePiece algorithm.

You can check out the Huggingface course if you want to learn about this: hf.co/course

[2022-09-14 17:32] #19035 closed

[2022-09-14 17:51] LysandreJik commented on #19012
Hey @oobabooga, we're not exclusive to either NVIDIA or AMD, but we do rely on several backends to run transformer models: either PyTorch, TensorFlow, or JAX.

If you setup either of those 3 to run with AMD GPUs, it should run with transformer models without issue.

[2022-09-14 17:52] LysandreJik commented on #19011
Hey @xueyongfu, could you provide a minimal reproducible code example for the issue you're facing? Thank you.

[2022-09-14 17:54] oobabooga commented on #19012
Thank you for the clarification, @LysandreJik. I am closing the issue as that answers the question.

[2022-09-14 17:54] #19012 closed

[2022-09-14 17:55] LysandreJik commented on #18978
The ERNIE model was recently merged on the `main` branch so you'll need to install the library from source in order to use it.

We'll be releasing v4.22.0 later today or tomorrow, so upgrading version then will fix this.

[2022-09-14 18:00] LysandreJik commented on #18899
I believe @stas00 has some experience around bfloat16 and nans and may have an idea of where the issue may be coming from

[2022-09-14 18:02] LysandreJik commented on #19021
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-09-14 18:06] sgugger commented on #19008
As the error mentions, there is no `evaluate_during_training` argument. I have no idea where you found it.
You can find the list of arguments of this class in the [documentation](https://huggingface.co/docs/transformers/main_classes/trainer#transformers.Seq2SeqTrainingArguments).

[2022-09-14 18:14] patrickvonplaten commented on #15472
cc @ArthurZucker @sanchit-gandhi - this issue popped up again. It seems like it works with Transformers v4.15. In case someone has time to look into it to check if it works on current master that would be great. Otherwise happy to take a look!

[2022-09-14 18:42] patrickvonplaten commented on #19019
Hey @darshan2203,

Sorry I won't be free anytime soon to look into this issue - @ArthurZucker do you want to give it a try?

[2022-09-14 19:19] patrickvonplaten commented on #19026
Hey @sgrigory,

This sounds very reasonable - would you like to open a PR to fix it? :-)

[2022-09-14 20:36] sgrigory commented on #19026
@patrickvonplaten Sure, let me open a PR for this

[2022-09-14 20:39] vikas95 commented on #6786
@ednussi - wanted to ask for your help if you could provide a brief explanation from your reading? Thanks.

[2022-09-14 22:28] 2533245542 opened #19041 "Save best model during training"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.8.0-45-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fil

[2022-09-14 22:48] stas00 commented on #18899
I have tried t5-large, tested to work fine with t5-small - need to find a box with a few large gpus to test t5-large.

Meanwhile, we should revisit the scaling.

the main benefit of using bf16 over fp16 is that there is very little risk of overflow - since bf16's numerical range is the same as of fp32, so no down scaling is needed here.

But perhaps we are hitting underflow here. There is a specia

[2022-09-14 23:30] chris-opendata commented on #16776
Here is the solution:

1. Activate your venv environment.
2. Install accelerate package.
3. Type "accelerate config" at terminal to go through multigpu configuration.
4. In your running bash script, use sth like "accelerate launch main_train.py ...." instead of "python -m main_train.py ..."
    Note that you may not need '&' at the end in order to run it at the background depending on computing en

[2022-09-15 01:53] mzhadigerov commented on #8739
Change `max_len` to `model_max_length` where?

[2022-09-15 05:23] YooSungHyun opened #19044 "Wav2Vec2 Conformer loss nan and wer 1 issue"
### System Info

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 4.21.1
- Platform: Linux-4.15.0-177-generic-x86_64-with-glibc2.27
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
-

[2022-09-15 05:28] jsh710101 opened #19045 "BertLMHeadModel (w/ relative position embedding) does not work correctly when use_cache = True"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-92-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using

[2022-09-15 08:03] ZeyiLiao commented on #18478
@gante , Thanks  :D,
And I checked the position_ids and wonder why the padded parts are **_1_**(left-side)?  I think  _**1**_  here of the position_ids can not achieve what the padded token(0) at attention mask does(totally ignore them)?
[code]

[2022-09-15 08:12] pengwenzhong commented on #9060
the version of torch is too high,try use : torch 1.7.1

[2022-09-15 08:21] yes-its-shivam opened #19048 "i was trying to create custom tokenizer for some language and got this as error or warning.."
### System Info

[code]

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

#save pretrained model
from transformers import PreTrainedTokenizerFast

# load the tokenizer in a transformers tokenizer inst

[2022-09-15 08:36] IlyasMoutawwakil commented on #18974
the distributed model expects distribution of the function `forward` and not `generate`. What you can do is create a class inheriting from `torch.nn.Module` with a `forward` function that interfaces TrOCR's `generate` function and then distribute an instance of that class.

[code]

You will probably get a concatenation error since the distribution function will try to concatenate outputs from each

[2022-09-15 09:55] NielsRogge commented on #18974
I'd recommend using HuggingFace Accelerate for training TrOCR in a distributed set-up.

You can then use [unwrap_model](inputs = processor(html_strings, questions=["how are you?", "what's your name?"], padding="max_length", max_length=20, truncation=True, return_tensors="pt")
) to turn the distributed module back into a regular nn.Module (on which you can call generate)

[2022-09-15 09:56] NielsRogge commented on #18974
We do provide an example for that, see here: https://github.com/huggingface/transformers/blob/8edf1963103127247ae3ef96fc5ba6a96eb4a290/examples/pytorch/summarization/run_summarization_no_trainer.py#L675

[2022-09-15 10:50] HebaGamalElDin commented on #18974
Yet, I already switched to huggingface Accelerate (as I am working on Sagemaker so I installed "accelerate[sagemaker]" version), however the same issue present.

Here's the training script, that's already working properly on a single GPU.. I couldn't figure out the what is the root issue.

[code]

[2022-09-15 12:05] gante commented on #18478
The code that creates the position ids at generation time for GPT-2 is defined [here](https://github.com/huggingface/transformers/blob/30a28f5227d541ae6b0a287ae345dfae687f21da/src/transformers/models/gpt2/modeling_gpt2.py#L986)

[2022-09-15 12:08] LysandreJik commented on #19048
Hey @yes-its-shivam, thanks for reporting! I think this may have to do with our backend trying to create symlinks for the cached files, and failing to do so!

It seems you're running on Windows, which requires developer mode to be activated (or for Python to be run as an administrator).

To enable your device for development, we recommend reading this guide from Microsoft: https://docs.microsoft.c

[2022-09-15 12:23] Cppowboy commented on #17327
Have this issue been fixed?

[2022-09-15 12:30] hanguangmic opened #19050 "why need slice outputs tensor in prediction_step function in Trainer"
### System Info

Hi Staffs
when I used Trainer to finetune my model, during the evaluation preprcess, I found a little problems in predtion_step function,
the outputs  which is generated from self.compute_loss reference as following
https://github.com/huggingface/transformers/blob/v4.10.0/src/transformers/trainer.py#L2432
it was sliced as logits = outputs[1:], I did not know why is operation is ap

[2022-09-15 12:48] sgugger commented on #19041
`save_total_limit` will control the number of checkpoints being saved, so with `save_total_limit=2`:
- when `load_best_model_at_end=True`, you have the best model and the last model (unless the last model is the best model in which case you have the two last models)
- when `load_best_model_at_end=False`, you have the last two models

The only exception is when `save_total_limit=1` and `load_best_m

[2022-09-15 13:40] LysandreJik commented on #19045
Thanks for opening an issue! @ArthurZucker or @ydshieh, could you take a look at what might be going on here?

[2022-09-15 13:50] #18976 closed

[2022-09-15 17:18] Auruncus commented on #18212
Same problem, something wrong with private models, with unsupported architecture. It doesn't see modeling file.

[2022-09-15 17:18] clumsy opened #19057 "Loading tokenizer using from_pretrained seems to be broken for v4"
### System Info

According to following `FutureWarning` loading tokenizer using a file path should work in v4:
[code]

Nevertheless it seems to be broken in latest 4.22.0.

I bisected the issue to [this commit](https://github.com/huggingface/transformers/commit/5cd40323684c183c30b34758aea1e877996a7ac9)

Is the cord cut for the previous logic starting 4.22.0?

### Who can help?

_No response_

###

[2022-09-15 17:37] gante commented on #18478
There is no point, but it also doesn't make a difference :) Because of the attention mask, the signal at the start of the sentence will be meaningless.

BTW, we reserve this GH issues space for bugs in transformers. These sort of questions are best left to our [forum](https://discuss.huggingface.co/)

[2022-09-15 17:50] ArthurZucker commented on #19019
Hey! Thanks for the issue 😄
The proposed solution, `inputs['decoder_input_ids'] = inputs['input_ids'][:512]` is bound to fail as :
[code]
It also seems that "HuggingFace" is not parsed into a single token (at least when I used `tokenizer = LEDTokenizer.from_pretrained("allenai/led-base-16384")` but rather 3 : `[0, 40710, 3923, 34892, 2]`.

When I try :
[code]
It works as expected, and in that case

[2022-09-15 17:56] ParthParikh04 commented on #8536
@patrickvonplaten Any update on this? I am planning on researching abstractive summarization in a non-English language and the PEGASUS model seems to be a worthwhile model to pursue. It would be great if you could either direct me to any resources or suggest another model to pursue in my project. Thanks!

[2022-09-15 17:58] jpcorb20 opened #19059 "AMOS"
### Model description

Abstract

"We present a new framework AMOS that pretrains text encoders with an Adversarial learning curriculum via a Mixture Of Signals from multiple auxiliary generators. Following ELECTRA-style pretraining, the main encoder is trained as a discriminator to detect replaced tokens generated by auxiliary masked language models (MLMs). Different from ELECTRA which trains one

[2022-09-15 19:07] ArthurZucker commented on #18776
Hey! Little update on this : the problem comes from the previously introduced "hack" :
[code]
This appears [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/xglm/modeling_tf_xglm.py#L86). This hack can also be seen in [BART](https://github.com/huggingface/transformers/blob/main/src/transformers/models/bart/modeling_tf_bart.py#L1036-L1038) .

In order to have as l

[2022-09-16 02:16] franz101 opened #19062 "Possibility to access initial indices of the data during the Training"
### Feature request

Scenario 1:
For a specific logging tasks, we need the indices of the data, therefore we save them in our dataset.
Therefore we want to disable remove_unused_columns before we logged our data with indices.

### Motivation

Right now this needs to be set in the trainer arguments beforehand.
What is the best practice for logging indices of the dataset during the forward step?

##

[2022-09-16 05:51] darshan2203 commented on #19019
Thanks, Arthur for getting back at this.

I think there is a gap in our understanding. What I reported is that when we have an input tensor of size more than 1024 tokens, it doesn't work. As per the documentation of a LED-base-16384 model, it can take input sequence up to 16384 tokens.

[2022-09-16 07:22] ArthurZucker commented on #19019
Oh right! Sorry will have a look asap 🤗

[2022-09-16 07:41] bhacquin opened #19063 "Zero-Shot Classification - Pipeline - Batch Size"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.4.0-113-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fi