[2020-05-14 09:22] orientaccio opened #4355 "DistilGPT2 Finetuning with GPU"
Hi, i'm a beginner in this field and would like to finetune the model DistilGPT2 using my laptop. I have an Nvidia 1660Ti and followed the guide example

[code]

But during the finetuning my GPU stays at 0% and all the work is done by the CPU, is there a way to force the GPU to finetune?

[2020-05-14 10:24] Laksh1997 opened #4356 "GPT2 checkpoint breaks on new transformers version (2.9.1)"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): GPT2

Language I am using the model on (English, Chinese ...): SMILES

## Description

When trying to load a gpt2 checkpoint from before 2.9.1, it loads fine.

Checked on 2.8.0 and it works fine.

Then on 2.9.1 I can't load the model and I get this error:
[code]

LMWrapper is just a wrapper around the GPT2 Model, which is named "model" i

[2020-05-14 10:33] SilSever commented on #982
Hi tom1125, to fine-tune you can run this script:

export TRAIN_FILE=/path/to/dataset/wiki.train.raw
export TEST_FILE=/path/to/dataset/wiki.test.raw

python run_language_modeling.py \
    --output_dir=output \
    --model_type=roberta \
    --model_name_or_path=roberta-base \
    --do_train \
    --train_data_file=$TRAIN_FILE \
    --do_eval \
    --eval_data_file=$TEST_FILE \
    --mlm

Explained

[2020-05-14 10:49] ghomasHudson commented on #4340
Having thought about this more, it would probably make most sense as an example of a PyTorch `Sampler`which implements temperature-scaled mixing on `ConcatDataset([dataset1, dataset2,...])`.

I'll attempt it using the t5 model firstly, and contribute it back if successful.

[2020-05-14 11:43] julien-c commented on #4355
It should be automatic.

What does torch.cuda.is_available say?

[2020-05-14 11:56] julien-c commented on #4327
Cc @mfuntowicz

[2020-05-14 12:32] gustavscholin opened #4358 "Trainer and Colab TPU: Training loss isn't declining"
# 🐛 Bug
When using the Trainer with a Colab TPU it seems like the training loss remains more or less constant around 1.11 during the whole training process. With Colab GPU/CPU however it you get the expected loss decline.
## Information

Model I am using (Bert, XLNet ...):Bert Base Cased

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [x] the off

[2020-05-14 13:02] #2441 closed

[2020-05-14 13:06] orientaccio commented on #4355
torch.cuda.is_available return False.
This is what my setup is by running nvidia-smi
[code]

[2020-05-14 13:16] Chenyzsjtu commented on #4301
I thought it is and it should be, but it isn't

[2020-05-14 13:25] oliverastrand opened #4360 "LayerNorm not excluded from weight decay in TF"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):
bert-base-cased

Language I am using the model on (English, Chinese ...):
English

The problem arises when using:
* [X] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [X] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (giv

[2020-05-14 13:26] #4251 closed

[2020-05-14 13:49] #3178 closed

[2020-05-14 14:02] 008karan commented on #4355
Yes just checked. torch is not able to find cuda

[2020-05-14 14:30] patil-suraj opened #4361 "Trainer doesn't calculate eval loss for models with lm_labels parameter"
# 🐛 Bug
The trainer doesn't calculate evaluation loss for models with `lm_labels` parameters in the `forward` method. This line https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py#L682 is the source of the bug
`has_labels = any(inputs.get(k) is not None for k in ["labels", "masked_lm_labels"]) `
loss is only calculated when `has_labels` is `True` and its only `True`

[2020-05-14 14:30] patil-suraj opened #4362 "Trainer crashes on TPU at eval time when prediction_loss_only is True"
# 🐛 Bug
The trainer crashes on TPU at eval time when `prediction_loss_only` is `True`. Here's the stack trace
[code]

This is because `preds` and `label_ids` are `None` when `prediction_loss_only` is `True`. But its not checked here https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py#L706
[code]

This only checks of TPU is available and doesn't check  if `preds` and

[2020-05-14 14:58] guillaume-be commented on #4262
Hi @stefan-it ,

Thank you for your response. Assuming the CoNLL-03 model is in IOB1 tagging scheme, it would still use `B-*` labels in case of multi-token entities. For example:
[code]
However, the model currently outputs the following for this example:
[code]

This means that it is impossible to differentiate multi-token entities (such as Los Angeles) from multiple consecutive entities, e.g. `Al

[2020-05-14 15:04] Laksh1997 commented on #4332
Are you sampling tokens? If so, turn it off and maybe also turn up the beam size. That will give more extractive outputs

[2020-05-14 15:21] stefan-it commented on #4262
`B-*` is only used when an entity follows right after another entity, e.g. different political parties, like this example from the training dataset:

[code]

Just have a look at the last column. `CDU/CSU` can be considered as one entity, but right after it another political party `SPD` is followed, so it is tagged with a beginning `B-` :)

[2020-05-14 15:32] vladgets opened #4364 "Can not reproduce article numbers"
# 🐛 Bug
https://github.com/huggingface/transformers/tree/master/examples/summarization/bertabs

## Information
Bertabs Rouge1/2 F1 evaluation numbers that I am getting are much less than in their article. About twice less!

Model I am using (Bert, XLNet ...):
Bertabs

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [X] the official example scripts: (give

[2020-05-14 15:39] julien-c commented on #4336
@mananeau We could make it clearer/more validated, but the upload CLI is meant to use only for models/tokenizers saved using the .save_pretrained() method.

In particular here, your model file should be named `pytorch_model.bin`

[2020-05-14 15:39] #4336 closed

[2020-05-14 15:43] julien-c commented on #4272
So I think we should save checkpoints and final models on each **local master**.

Do you agree?

[2020-05-14 15:49] guillaume-be commented on #4262
@stefan-it thank you for the clarification!

[2020-05-14 15:49] #4262 closed

[2020-05-14 16:08] menghuanlater opened #4365 "Has anyone successfully used TF2.0 to load pre-trained transformer-XL (wt103) weights and reproduce their sota results"
# ❓ Questions & Help

## Details

I tried to reproduce, but the final result was 35.6 (vs paper 18.3), I carefully checked and found that the matrix multiplication result of TF2.x and TF1.12 (paper use) have some differences, about 0.0001, and then Many layers of linear transformation and multiplication, the difference in output characterization of the last layer has reached about 0.1, which is en

[2020-05-14 16:12] menghuanlater commented on #4365
`#!usr/bin/env python
# -*- coding:utf-8 -*-
"""
    @Time: 2020-04-07
    @Author: menghuanlater
    @Software: Pycharm 2019.2
    @Usage:
-----------------------------
    Description
-----------------------------
"""
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pickle
from testData import DataObjForWT_PTB as DataObj
import os

os.environ["CUDA_VISIBLE_DEVICES"]

[2020-05-14 16:28] sshleifer opened #4366 "[pipelines] Failing @slow test for TF Summarization"
Command:
[code]

Issue caused by trying to use Bart in TF.

[2020-05-14 16:39] sshleifer commented on #4077
fixed in Marian PR

[2020-05-14 16:39] #4077 closed

[2020-05-14 17:04] shaoyent commented on #4272
Would there be a difference in checkpoints between each local master ?
If they're identical I'd think it be best to reduce write overhead and save only once (i.e world master)

[2020-05-14 17:36] #4234 closed

[2020-05-14 17:36] #4366 closed

[2020-05-14 18:09] julien-c commented on #4272
No difference, but the issue is that you won't be able to restart training from a checkpoint (unless you copy it around) if we only save to world master

[2020-05-14 18:19] shaoyent commented on #4272
Ah, I see, thanks for the clarification.
I'm assuming a shared file system so it's all saving and loading from the same file.
I guess for other cluster configurations that makes sense, but care would have to be taken to avoid write/mkdir conflicts from multiple processes.

[2020-05-14 18:22] julien-c commented on #4272
I see. Thinking about it more, yes, I think it like it if we only save from world_master. (even if it adds one step for some users). Thanks for your insight.

[2020-05-14 18:23] Damiox opened #4368 "past functionality broken in release 2.9.0 and 2.9.1"
# 🐛 Bug

## Information

Model: gpt2

## To reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I am expecting the past functionality to work. But I'm getting the following error:
[code]
This was working correctly up to release 2.8.0

## Environment info

- `transformers` version:
- Platform: Macos
- Python version: 1.4.0 / 1.5.0
- PyTorch version (GPU?): 2.9.0 cpu / 2.9.1 c

[2020-05-14 18:24] rugk opened #4369 "demo website: i info icon should link to resource about parameters"
The website/demo at https://transformer.huggingface.co does have a "Model & decoder settings" box at the bottom left.
Next to it, at the right, there is an "(i)" sign.

STR: Click on it.
**What happens:** It links to this repo.
**What should happen:** It should link to somewhere, where the parameters are actually explained.

Reason:
The generic link to this repo is way to – well – generic. I've se

[2020-05-14 18:32] shubhamk16 commented on #4312
Thank you @LysandreJik. It actually increases speed but not that much.
Is there any model which is better than Glove and also fast in embedding like Glove.

[2020-05-14 18:39] #4361 closed

[2020-05-14 18:39] #4362 closed

[2020-05-14 18:41] julien-c commented on #4362
By the way we're hoping to soon have TPU-specific CI in place, cc @LysandreJik

[2020-05-14 18:45] LysandreJik commented on #4312
The fatest model we have in the library that I know of would be `DistilBERT`, which would still be slower than GloVe, but fast than BERT.

GloVe and transformer models are very different concepts, and solve different problems, hence why transformer models are way bigger/slower.

[2020-05-14 18:59] #2380 closed

[2020-05-14 19:09] yonatanbitton opened #4370 "run_squad with early stopping on a validation set"
Hello.
Is there a way to use run_squad with early stopping as a validation set?

I have 3 files: train-v1.1.json, dev-v1.1.json, and test-v1.1.json.
I want to train on the train file, stop the training when the loss on the dev file starts to increase, and then do the final prediction and answers output on the test set.

At Keras it's pretty straight forward:
`history = model.fit(X_train, y_train,

[2020-05-14 19:26] NonaryR opened #4371 "Save pretrained MarianTokenizer"
Hello!
I can't save pretrained MarianTokenizer, it's raising NotImplementedError as a subclass of PretrainedTokenizer.

[2020-05-14 20:09] vladgets commented on #4364
These are numbers that I am getting when running the examples (in the article or here: https://github.com/nlpyang/PreSumm) they mention much higher numbers:

****** ROUGE SCORES ******

** ROUGE 1
F1        >> 0.195
Precision >> 0.209
Recall    >> 0.186

** ROUGE 2
F1        >> 0.094
Precision >> 0.104
Recall    >> 0.089

** ROUGE L
F1        >> 0.221
Precision >> 0.233
Recall    >> 0.212

[2020-05-14 21:07] #2788 closed

[2020-05-14 21:50] LysandreJik commented on #4356
Do you mind giving us a reproducible code example so that we may check on our end?

[2020-05-14 22:09] Oxi84 opened #4374 "Speed on various cards"
This is not a bug, but I wonder if someone know what is the speed difference between different cards.

I now run bert base on 1080.

How much speedup will I get using 1080 ti  and 2080. Which one is faster for Transformers?

I know 2080 ti would be the best but probably the best one I can get would be 1080 ti or 2080.

[2020-05-14 22:18] #3174 closed

[2020-05-14 22:45] NonaryR commented on #4371
Also, how can I transfer to cuda `BatchEncoding` object which return after call `prepare_translation_batch` method on `MarianTokenizer`

[2020-05-14 22:55] stefan-it commented on #4371
This could be fixed by specifiying a `save_vocabulary` function, like it is used in:

https://github.com/huggingface/transformers/blob/7defc6670fa76e857109e1b99f3e919da8d11f42/src/transformers/tokenization_xlm_roberta.py#L292-L311

(both source and target vocab needs to be written),

Additionally, it would be awesome if the `MarianTokenizer` class would be `pickle`-able using `__getstate__` and `_

[2020-05-14 23:06] sshleifer commented on #4371
@NonaryR `BatchEncoding.to(device:str)` should work.
Will fix vocab saving, great catch!

[2020-05-14 23:55] julien-c commented on #4370
Hi, this would be something you would need to build yourself.

Alternatively you could use our Layers as Keras Layers?

[2020-05-15 00:05] julien-c commented on #4355
You should upgrade your nvidia driver.

You probably installed pytorch 1.5.0 bumped up the required version of nvidia-driver.

[2020-05-15 00:36] NonaryR commented on #4371
Thank you,  `to(device)` helped!
I can close the task if you want it.
Also, many thanks for this new release with all these new awesome translation models, it will bring significant change to the community!!

[2020-05-15 00:39] dhasegan commented on #3664
yes, I have the same issue. I inspected the tensorboard graph and there is no config operation or anything of that sort. I also tried to save it with a manually defined signature, which didn't work either.

Workaround for now is to use the `save_pretrained`. Is there a way to convert pretrained to TF2.0 saved_model?

[2020-05-15 01:14] #3677 closed

[2020-05-15 02:31] amgsharma opened #4376 "Error on instantiating pipeline.summarizer"
# 🐛 Bug

## Information

The problem arises when using:
I'm just testing out the different modules in the package. and following the examples on the [usage page](https://huggingface.co/transformers/usage.html)

## To reproduce

Run the following snippet with the environment set up as. described in the relevant section below
`from transformers import pipeline`
`summarizer = pipeline("summarization"

[2020-05-15 02:43] octalpixel commented on #4240
I am getting the same error. Is there work around ?
What @tebandesade  mentioned didnt work out for.

[2020-05-15 03:10] tuhinjubcse commented on #4277
@sshleifer  should I also change this ?? Currently it seems the tokenizer truncates sequence of size larger than 1024
https://github.com/huggingface/transformers/blob/7a7fdf71f80452fcae064bd016f06e9a0f0f19ed/src/transformers/tokenization_bart.py#L35

[2020-05-15 03:16] tuhinjubcse commented on #4277
from transformers import BartTokenizer, BartForConditionalGeneration
import torch
from collections import OrderedDict
import os
from copy import deepcopy

model = BartForConditionalGeneration.from_pretrained('bart-large')
sd = model.state_dict()
shorter_pos_embeds = sd['model.encoder.embed_positions.weight']
new_config = model.config
new_config.max_position_embeddings = 2048
model = BartForConditi

[2020-05-15 03:16] #4277 closed

[2020-05-15 04:12] #3159 closed

[2020-05-15 06:24] Huntersxsx commented on #2599
Hi, have you solved the problem? I used bert-base-cased, roberta-base, and xlnet-base-cased to predict CoLA test.tsv, and I got 51.8, 55.6 and 24.7 respectively, I don't know why xlnet got such low Matthew's Corr. Can you help me? thx

[2020-05-15 07:03] leo-liuzy opened #4379 "MNLI finetuning results affected by values of max_steps"
# 🐛 Bug
If you follow my bash script and change MAX from 40000 to 50000, the performance is dramatically affected. However, 50000 may not be the smallest number that have this behavior and I am not sure if this is a bug or something expected; the performance is severely affected, so I decided to report.
## Information

Model I am using (Bert, XLNet ...): bert-base-uncased
Language I am using the m

[2020-05-15 08:15] timsuchanek commented on #4332
Thanks @Laksh1997 for the idea, unfortunately, the results don't get better.
This is the article I'm summarizing: https://www.gatesnotes.com/Health/Pandemic-Innovation

### Result with `min_length=500, max_length=1000` and default settings of the summarizer pipeline:

This is the first part of a two-part series on the impact of global warming. The second part of the series will look at ways to red

[2020-05-15 08:23] Chenyzsjtu commented on #3522
I have come accross the same problem when I was testing RACE for Albert.
Your implementation might be right because there are few differences betweent "roberta" and "albert" finetune heads.
If you are testing RACE like me, the real problem may lie in the lack of max_qa_length implementation in run_multiple_choice.py.

[2020-05-15 08:25] 008karan commented on #4355
yes.
`pip install torch==1.4.0`
will solve the issue.

[2020-05-15 08:26] Laksh1997 commented on #4332
@timsuchanek Note that transformer models can only consider context of up to N number of **subtokens** (in the case of BART I think N = 1024).

So, if the input context (the long document) is greater than this, it will be truncated to 1024 subtokens.

This means if you ask the decoder to generate more than what it can consider in context, it will at best copy the context, and at worse start to mak

[2020-05-15 09:20] Chenyzsjtu opened #4380 "max_qa_length is needed for funetune on multiple-choice problems"
# 🚀 Feature request
In examples/multiple-choice/run_multiple_choice.py, the max_qa_length is not implemented as that in google/Albert, which would cause trouble when funetuning RACE.
This should be easy becauce there are similar codes in codes for run_squad.py.
### Your contribution
I have done the script and get similar RACE performance compared to google/Albert.

# Current Bug
In examples/multip

[2020-05-15 09:39] DesiKeki opened #4381 "Unknown task fill-mask"
# 🐛 Bug

## Information

I am trying to create a "Pipeline" for fill-mask task

Language I am using the model on is English

The problem arises when using:
My own modified scripts: (give details below)
[code]

[code]

The tasks I am working on is:
My own task or dataset. Trying using Pipeline.

## To reproduce

Steps to reproduce the behavior:

from transformers import pipeline
nlp_fill = pipeline

[2020-05-15 09:53] #4370 closed

[2020-05-15 10:28] ajay-sreeram commented on #4376
I am also facing the same problem

[2020-05-15 11:53] bokertof commented on #4240
I faced the same problem with RoBERTa pretraining, however inserting line model = model.cuda() before trainer in run_language_modeling.py file helped me
@tebandesade, Thank you!

[2020-05-15 12:11] 008karan opened #4382 "Need clarity on training Albert from scratch"
# ❓ Questions & Help

Using transformers 2.9.1
I am following EsperBERTo tutorial for Training Albert LM from scratch. I am able to start training for roberta but for Albert getting tokenizer issue:
[code]
I guess it was looking for spiece model. So I added spice.model in EsperBERTo folder and it started training.
Now I confuse as vocab it is using now is generated using Huggingface tokenizer and

[2020-05-15 12:28] bokertof opened #4383 "Issue with lr during training from scratch"
I'm trying to resume my pretraining of RoBERTa model and I noticed that everything is OK except learning rate. I thought that it should continue to decrease from last checkpoint (lr = 7e-7) but lr is much bigger (lr = 5e-5) than it has to be.

this is my parameters to run script:

- 	--model_name_or_path ./ROBERTA-small-v1/checkpoint-30000
-   --train_data_file TEXT.txt
-   --output_dir ./ROBERTA-

[2020-05-15 13:13] julien-c commented on #4383
Are you restarting from your checkpoint with the exact same set of script parameters?

[2020-05-15 13:16] julien-c commented on #4381
Can you upgrade your version of transformers?

[2020-05-15 13:23] bokertof commented on #4383
@julien-c  Actually, no. And I guess I undestood what the reason of that behavior is. Originally I used to train with number of epochs = 5. After that I selected 10 epochs and hoped that it'll continue pretraining from 5'th epoch up to 10'th. However as far as I understand lr-value is calculated based on the number of epochs. The current value of lr is the same as I got at 15k iteration (30k/2). S

[2020-05-15 13:23] #4383 closed

[2020-05-15 13:28] LysandreJik commented on #4382
The Albert original model has a SentencePiece tokenizer, so the `AlbertTokenizer` can only handle SentencePiece vocabularies right now. The `tokenizers` library doesn't handle these vocabularies as of now.

We're still thinking of how we should proceed when training a model from scratch with a tokenizer different to the original, as right now the model-tokenizer pairs have a fixed tokenizer backen

[2020-05-15 13:37] LysandreJik commented on #4240
Hello! I'm having trouble reproducing that on master. Do you mind installing from source and letting me know if you still have the issue? Thank you

[2020-05-15 13:42] julien-c commented on #4383
Yes. You can always implement this behaviour yourself if you need it.

[2020-05-15 13:47] LysandreJik commented on #4380
Indeed, you're totally correct. Thank you for reporting the issue, I'm fixing it in #4385.

[2020-05-15 13:49] #4380 closed

[2020-05-15 14:08] shauli-ravfogel opened #4386 "Finetuning BERT classifier on a non-GLUE dataset in GLUE format"
# ❓ Questions & Help

## Details
Hello,

I have a dataset of my own, formatted in GLUE format. Is it possible to use the script `run_glue.py` to finetune BERT on this dataset? If that's not possible, is there an alternative script for finetuning a classifier on arbitrary GLUE-formatted dataset?

Thanks!

[2020-05-15 14:17] petulla commented on #4262
@stefan-it are there plans to merge this per? it could help with this issue. i have it myself as i need to pool entity embeddings. https://github.com/huggingface/transformers/issues/3548

[2020-05-15 14:25] julien-c commented on #4386
The (new) run_glue.py is just a short template of code that you can copy/paste/customize (e.g. to plug your own Dataset), thanks to the [Trainer](https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py).

[2020-05-15 14:35] Shaul1321 commented on #4386
Thanks! which class would replace `GlueDataset` in that case? and what argument should I pass instead of `task_name`? and how to set the number of labels, which in `run_glue.py` is defined by `glue_tasks_num_labels`?

[2020-05-15 14:44] 008karan commented on #4382
@LysandreJik But  when I added spiece.model it started training. So is it taking vocab created by tokenizer library along with spiece.model?

[2020-05-15 14:46] mfuntowicz commented on #4124
Hi @pumpkinband,

I don't have the exact details of the model you're trying to load, but I'd assume a tensor of shape (1, 3) would make more sense (batch, sequence).

[2020-05-15 15:16] sshleifer opened #4387 "[Bart] ignores output_attentions kwarg"
[ ] should mimic behavior of other models
[ ] backwards compat?

[2020-05-15 15:37] sshleifer opened #4388 "[docs] AutoModelWithLMHead(model_name, **kwargs)"
`AutoModelWithLMHead.from_pretrained` cannot accept `output_attentions=True`

This [docstring](https://huggingface.co/transformers/model_doc/auto.html?highlight=transformers%20automodelwithlmhead#transformers.AutoModelWithLMHead) suggests that it can.

Thanks @jrvc for discovering!

[code]

I will dig deeper!

[2020-05-15 15:40] sshleifer commented on #4387
this works for me:
[code]

[2020-05-15 15:40] #4387 closed

[2020-05-15 15:41] sshleifer commented on #4387
#4388 is the real issue.

[2020-05-15 18:26] sshleifer opened #4391 "[PretrainedTokenizer] is <unk> a special token?"
This confused me a lot as I was trying to add common tests for Marian.

I believe special_tokens_mask [must](
https://github.com/huggingface/transformers/blob/master/tests/test_tokenization_common.py#L445) return 0 for positions with unk_token_id, but `<unk>` is in `SpecialTokensMixin.all_special_ids`.

Relatedly, this [RobertaTokenizer](https://github.com/huggingface/transformers/blob/master/src/

[2020-05-15 18:31] sshleifer commented on #4391
@mfuntowicz @LysandreJik might understand the best!

[2020-05-15 18:43] NonaryR opened #4392 "MarianMTModel translate {tgt}-{src}"
Hello!
It is possible to use `MarianMTModels` for translation from the target language to source, i.e. backward?

[2020-05-15 19:29] sshleifer commented on #4392
Nope. Often the reverse model exists, however, e.g. `en-fr` and `fr-en`.

[2020-05-15 19:29] #4392 closed

[2020-05-15 19:33] tuhinjubcse commented on #4277
[code]

[code]

Any idea to resolve this

[2020-05-15 19:55] tuhinjubcse commented on #4277
Update I fixed it
[code]

However i get OOM , I have a 32 GB NVIDIA V100  , i feel it caches a bit too much any work around ?
RuntimeError: CUDA out of memory. Tried to allocate 550.00 MiB (GPU 0; 31.72 GiB total capacity; 26.46 GiB already allocated; 81.88 MiB free; **4.04 GiB cached**)

[2020-05-15 20:01] tuhinjubcse commented on #4277
My batch size is 1

[2020-05-15 20:23] edmar commented on #3972
Did you discover any way of doing this?

[2020-05-15 20:39] pranavpawar3 commented on #4240
Hi @LysandreJik, installing from source doesn't fix the issue, though @tebandesade's suggestion works fine.

@octalpixel try editing this line, it shall work;
https://github.com/huggingface/transformers/blob/62427d0815825436fa55b43725f44776e94abb65/src/transformers/trainer.py#L145

[2020-05-15 21:16] questpavan opened #4393 "BertTokenizerFast does not load custom vocab created from Tokenizer library"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):
Bert ["iuliaturc/bert_uncased_L-2_H-128_A-2"]
https://huggingface.co/iuliaturc/bert_uncased_L-2_H-128_A-2

Language I am using the model on (English, Chinese ...):
English

The problem arises when using:
my own modified scripts: (give details below)

The tasks I am working on is:
my own task or dataset: (give details below)

## To reprod

[2020-05-15 21:43] #4355 closed

[2020-05-15 21:48] lytum opened #4394 "the special token of XLNet"
hello,

may i ask you the special tokens of XLNet are same as BERT, in which they are '[CLS]' and '[SEP]'? Because i found the special tokens of XLNet are '<cls>' and '<sep>' in the original code, however, many public introduction about Xlnet still use the same tokens '[CLS]' and '[SEP]' as BERT. is it ok? are they same and don't matter?

[2020-05-15 22:12] #3187 closed

[2020-05-15 22:12] #3150 closed

[2020-05-15 22:12] #3130 closed

[2020-05-15 23:19] Oxi84 opened #4395 "MarianMT = How to return 5 best candidates for a translation."
This is a code for normal translation. This is the most probable translation. How can I return lets says 5 best candidates for translation for every single word (beam size would be 1)?

This model only return just the best word, which gives us a better translation. But I want to use it as a language model.

Is this even possible. I was looking at classes and code but I am not sure how would I do i

[2020-05-15 23:25] Oxi84 commented on #4395
That is available on this page - https://marian-nmt.github.io/faq:

Can I generate n-best lists?
 Yes. Just use --n-best and the set --beam-size 6 for an n-best list size of 6.

I do not know how to apply it here.

[2020-05-16 00:49] shaoyent commented on #3730
I ran into this issue as well when restarting from a checkpoint.
I think this is a bug in [trainer.py](https://github.com/huggingface/transformers/blob/3e0f06210646a440509efa718b30d18322d6a830/src/transformers/trainer.py#L334) :
[code]
Loading from `optimizer.pt` causes `optimizer` to be mapped to the same device as the saved `optimizer.pt`. In this case it's always `cuda:0`(saved by local master)

[2020-05-16 00:55] NonaryR opened #4396 "Wrong model or tokenizer for MarianMT"
While we [can't save](https://github.com/huggingface/transformers/issues/4371) `MarianTokenizer` to local directory, I found model weights and configs on [this page](https://huggingface.co/Helsinki-NLP/opus-mt-en-ROMANCE), in `List all files in model ` link.
I downloaded  these files, but I think this is wrong configs, because I can't reproduce even simplest example from [here](https://huggingface

[2020-05-16 00:59] yonatanbitton opened #4397 "Training TFBertForQuestionAnswering on custom SquadV1 data"
Hello.

TLDR: If there is any minimal code that trains a TFBertForQuestionAnswering on custom squad-v1 (not from `nlp.load_dataset`)

I've tried in several ways and encountered some problems.

This is the minimal code i'm trying to activate:
[code]
The current errors are:
with fit:
[code]
with fit_generator:
[code]
The dataset that returns from squad_convert_examples_to_features is of type- `tenso

[2020-05-16 01:05] NonaryR commented on #4396
Never mind, my mistake

[2020-05-16 01:05] #4396 closed

[2020-05-16 01:14] shaoyent opened #4398 "Trainer is missing sampler.set_epoch for distributed mode"
# 🐛 Bug

## Information

`train_dataloader.sampler.set_epoch(epoch)` is missing before the start of each epoch in [trainer.py](https://github.com/huggingface/transformers/blob/3e0f06210646a440509efa718b30d18322d6a830/src/transformers/trainer.py#L406).

According to [here](https://pytorch.org/docs/stable/data.html#torch.utils.data.distributed.DistributedSampler) :

[2020-05-16 04:05] minimaxir commented on #4314
Actually, if you install apex and are able to cast the model as FP16 using `model.half()`, you can get a batch size of up to 30 for the 1.5B. (Nvidia-smi is reporting 14GB VRAM used)

My tool is slightly different than the script, but I'll be sure to include bulk 1.5B generation as a documentation example.

[2020-05-16 04:42] ramsrigouthamg commented on #3972
@edmar Nothing solid yet! I Will update if I do.

[2020-05-16 04:58] Sriharsha-hatwar commented on #4381
Same issue I am not able to run the command `transformer-cli env` even after installing from source @julien-c .

'transformer-cli' is not recognized as an internal or external command,
operable program or batch file

Just wondering if this is due to the fact of using `conda` as in latest versions it is not preferring to modify the PYTHONPATH. hence the non visibility of the command?

[2020-05-16 05:01] danielduckworth opened #4399 "Pipeline for question generation"
# 🚀 Feature request

I can see there are pipelines for question answering, text summarisation and text generation. In my field I'm researching how question generation can be used in education research. I would love to see this pipeline added. I imagine it's a variation of question answering and text summarisation.

The paper 'Question Generation by Transformers' by Kettip Kriangchaivech, Artit Wan

[2020-05-16 05:32] Sriharsha-hatwar opened #4400 "BertWordPieceTokenizer cannot be pickled"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):
**Bert**

Language I am using the model on (English, Chinese ...):
**English**

The problem arises when using:
* [X] my own modified scripts:

The tasks I am working on is:
* [X] my own task or dataset:

## To reproduce

[code]

## Expected behavior

The enumerate should return the iterable.

## Environment info

Output of `transformers-

[2020-05-16 05:42] Sriharsha-hatwar commented on #4400
If needed I can even provide the dataset (Did not want to clutter):
the error stacktrace :
[code]
But when run in kaggle notebook this works perfectly well. (The same script)
@julien-c @sshleifer any help here?

[2020-05-16 06:01] abhavk commented on #4398
Good spot! I think @julien-c's latest PR (https://github.com/huggingface/transformers/pull/4243) for distributed eval will also take care of this!

[2020-05-16 06:33] DesiKeki commented on #4381
Upgrading the transformers version to 2.9.1 works!

[2020-05-16 06:33] #4381 closed

[2020-05-16 08:17] Sriharsha-hatwar commented on #4400
Output of `transformers-cli env`
- `transformers` version: 2.9.1
- Platform: Windows-10-10.0.18362-SP0
- Python version: 3.8.2
- PyTorch version (GPU?): 1.5.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

[2020-05-16 10:54] vijender412 commented on #3571
Thanks @LysandreJik

[2020-05-16 10:54] #3571 closed

[2020-05-16 10:55] patrickvonplaten commented on #3626
@ratthachat - thanks for you message!
We definitely need to provide more TF examples for the T5 Model. I want to tackle this problem in ~2 weeks.

In TF we use the naming convention `inputs`, so the you should change to `model.fit({"inputs": x_encoder})` . I very much agree that the error message is quite misleading and correct it in this PR: #4401.

[2020-05-16 12:03] jcblaisecruz02 opened #4402 "Run Language Modeling on 8 TPU cores doesn't seem to terminate"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): DistilGPT2 & GPT2

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [x] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (g

[2020-05-16 12:44] #3195 closed

[2020-05-16 12:44] #3181 closed

[2020-05-16 13:13] pgrandinetti commented on #3503
Hi, any update on this, even partial code?

[2020-05-16 13:22] julien-c commented on #4399
That would be an interesting project.

[2020-05-16 13:24] julien-c commented on #3730
This looks correct, can you open a PR?

[2020-05-16 13:29] mfuntowicz commented on #4262
@petulla Should be merged soon 👍

[2020-05-16 13:35] sshleifer commented on #4400
Yes, this is fixed by PR #4389 , so you could `pip install -e .` off of that branch.

[2020-05-16 14:50] sshleifer commented on #3503
I'm gunna take a crack this weekend, hopefully,  By starting from the [distilbert example](https://github.com/huggingface/transformers/tree/master/examples/distillation) and modifying. I'll post a branch if I make meaningful progress.

[2020-05-16 14:58] Sriharsha-hatwar commented on #4400
Hi @sshleifer I did these steps :
1. git fetch origin pull/4389/head::temp_fix
2. git checkout temp_fix
3. pip install -e  .
still the above fix doesn't seem to work.

By looking into the PR , I am guessing that it is fixed for `MarianTokenizer ` and not for `BertWordPieceTokenizer` that I am using in the above script.

[2020-05-16 15:54] yonatanbitton commented on #4397
I succeeded to do it somehow, but i'm sure it's not the way it should work, and it won't scale good for large datasets. I would be happy to know if there is a better way.

What worked:
1. squad_convert_examples_to_features ( return_dataset = False) - getting the features
2. Creating a dictionary of features and labels, where each item is list of tensorflow vectors obtained by `tf.convert_to_tensor

[2020-05-16 16:44] #3165 closed

[2020-05-16 17:44] #3205 closed

[2020-05-16 19:22] shaoyent commented on #4240
I am getting this error too.

I think the issue is optimizers are [setup](https://github.com/huggingface/transformers/blob/3e0f06210646a440509efa718b30d18322d6a830/src/transformers/trainer.py#L242) from `self.model` which is in cpu, but the model is [moved to device](https://github.com/huggingface/transformers/blob/3e0f06210646a440509efa718b30d18322d6a830/src/transformers/trainer.py#L338) afterwar

[2020-05-16 21:04] sajit9285 commented on #876
Hi @nreimers, I am using sentence transformers for finding stack overflow duplicate questions. I want to train the model from scratch but I am facing some issues. My training set contains  questions and its duplicates only. Is it possible to train the model from this type of training data set.

[2020-05-16 22:17] flarn2006 commented on #1785
Is there any chance this could be reconsidered? I'd love to use it for experimenting with custom fine-tuned models.

[2020-05-17 01:50] kevinlu1248 opened #4406 "Summarization Fine Tuning"
# ❓ Questions & Help

## Details

I tried using T5 and Bart but the abstraction summarization on scientific texts does not seem to give the results I want since I think they are both trained on news corpora. I have scraped all of the free PMC articles and I am thinking about fine-tuning a seq2seq model between the articles and their abstracts to make an abstractive summarizer for scientific texts.

[2020-05-17 05:44] #3134 closed

[2020-05-17 06:33] msahamed opened #4408 "Request to add MobileBert"
# 🌟 New model addition
MobileBERT
## Model description

MobileBERT is a thin version of BERT_LARGE, while equipped with bottleneck structures and a carefully designed balance between self-attentions and feed-forward networks.

## Open source status

* [ ] the model implementation is available: (give details)
https://github.com/google-research/google-research/tree/master/mobilebert

* [ ] the model

[2020-05-17 07:56] enzoampil commented on #2488
I believe this issue should be resolved by this recently merged [PR](https://github.com/huggingface/transformers/pull/3957), which allows for the extraction of **entity groups** 🙂

[2020-05-17 07:58] enzoampil commented on #3548
This recently merged [PR](https://github.com/huggingface/transformers/pull/3957) should solve this issue 🙂

[2020-05-17 07:58] #3548 closed

[2020-05-17 08:32] patil-suraj commented on #4402
@jcblaisecruz02
Yes, there's a bug in version 2.91 which hangs the trainer. It's been fixed in master branch. Install from master branch for TPU training.

See this pull request #4339

[2020-05-17 09:03] nreimers commented on #876
Hi @sajit9285
Just positive examples won't work. You somehow need to teach the network what is similar and what not.

But usually it is not an issue, as getting negative pairs is quite easy. The most simple strategy is just to sample two questions randomly. In 99,9999% of the cases they are non-duplicate and get the negative label.

A better strategy is to use hard negatives, as with the random st

[2020-05-17 12:10] enzoampil opened #4411 "Pipeline for Conditional Generation (T5 type models)"
As text-to-text models (like T5) increase the accessibility of multi-task learning, it also makes sense to have a flexible "Conditional Generation" pipeline.

For example, I should be able to use this pipeline for a multitude of tasks depending on how I format the text input (examples in Appendix D of the [T5 paper](https://arxiv.org/pdf/1910.10683.pdf)). As a baseline, this should be able to work

[2020-05-17 12:33] Oxi84 commented on #3775
So no way to get output logits?

[2020-05-17 14:28] albertnanda opened #4412 "Tensorflow NER Training script Not working"
# 🐛 Bug
Tensorflow NER Training script Not working
## Information
I am following the exact guide at https://github.com/huggingface/transformers/tree/master/examples/token-classification
Model I am using (Bert, XLNet ...): BERT

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
python run_tf_ner.py --data_dir ./ \
--labels ./labels.txt \
--model_name_o

[2020-05-17 14:29] albertnanda commented on #4412
- `transformers` version: 2.9.1
- Platform: Linux-3.10.0-1062.9.1.el7.x86_64-x86_64-with-centos-7.7.1908-Core
- Python version: 3.6.10
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.2.0 (True)
- Using GPU in script?: Yes both single gpu and multi-gpu training
- Using distributed or parallel set-up in script?: Yes

[2020-05-17 14:31] albertnanda commented on #4412
Error log:
 ValueError: Variable <tf.Variable 'tf_bert_for_token_classification/bert/pooler/dense/kernel:0' shape=(768, 768) dtype=float32> has `None` for gradient. Please make sure that all of your ops have
 a gradient defined (i.e. are differentiable). Common ops without gradient: K.argmax, K.round, K.eval.

[2020-05-17 15:23] albertnanda commented on #4412
Tried with TF 2.0:
Error Message: AttributeError: module 'tensorflow_core._api.v2.config' has no attribute 'list_physical_devices'
TF 2.1: Same as TF 2.2 i.e. ValueError: Variable <tf.Variable 'tf_bert_for_token_classification/bert/pooler/dense/kernel:0' shape=(768, 768) dtype=float32> has `None` for gradient. Please make sure that all of your ops have
 a gradient defined (i.e. are differentiable)

[2020-05-17 15:23] sajit9285 commented on #876
@nreimers Thanks for your reply. I will try your stated methods.
I used word2vec averaging method and sentence transformers with pretrained model('bert-base-nli-mean-tokens') for ranking similar questions, and I found word2vec averaging method (for sentence embeddings) performed better. May be the data has lots of tech terms!
That's why I am thinking of training the model from scratch.

[2020-05-17 15:32] patil-suraj commented on #4399
I have worked on question generation using T5. I've trained answer aware question generator on SQuAD 2.2 which achieves 41.4641 BLUE1 score and 41.0823  ROUGE_L on the dev set given gold answers.

I've also trained T5 for extracting answers from the text, and written a simple pipeline where the answer generator generates answers and then the answer-aware que generator generates questions with thos

[2020-05-17 15:33] orenkobo opened #4414 "Get BERT sentence encoding"
I am trying to access to encoding of sentences in the vaious layers in pre-trained BERT model.
So it should be something like this:

[code]
What is the best way to do it?
Thanks!

[2020-05-17 16:34] linhx13 commented on #4412
I had some issue.
add ```--mode token-classification``` to the command
reference code https://github.com/huggingface/transformers/blob/18d233d52588b4e08dc785fbfecd77529e9effa6/src/transformers/trainer_tf.py#L380

[2020-05-17 17:06] patil-suraj commented on #4411
Yes having a "Conditional Generation" pipeline makes sense given that variety of tasks can be solved using it. We can use T5, BART for these tasks as well as the new Encoder-Decoder. I would like to call it `TextToTextPipeline` though, since we can solve non-generative tasks also as demonstrated in the T5 paper. I think this pipeline will be really useful.

[2020-05-17 17:10] sshleifer commented on #3775
The `forward` method returns logits, like other models with language modeling heads. Is that what you meant?

[2020-05-17 17:17] #1802 closed

[2020-05-17 17:47] sb1992 opened #4415 "GPT2 perplexity rolling/striding way for evaluating a document."
As I understand GPT2 uses TextDataset as a loader and it produces the example list in block sizes. So say we have a sentence "**we are in a climate crisis**" and have block size 3. So this will produce the example list as

`ex = [["we","are","in"],["a","climate","crisis"]]`

So in such a scenario when calculating overall perplexity for the document the word "a" has no previous context and "climate

[2020-05-17 17:48] Sriharsha-hatwar commented on #4414
I believe you can't do like that, you have to run the model just as is with all the necessary inputs(pertaining to the sentence) as mentioned in the docs : https://huggingface.co/transformers/model_doc/bert.html#transformers.BertModel
and then add the configuration : `config.output_hidden_states=True` for getting the embeddings  from each intermediate encoding layers.

[2020-05-17 18:16] nreimers commented on #876
@sajit9285 Yes, the NLI data sadly does not contain any computer science / programming specific examples, so it does not learn these terms. word2vec is trained on a much wider range of topics, so it has an understanding of programming terms.

[2020-05-17 19:14] orenkobo commented on #4414
@Sriharsha-hatwar Thanks, do you have a code sample maybe?

[2020-05-17 19:25] mqliu7 opened #4417 "TypeError: add_() takes 1 positional argument but 2 were given"
# 🐛 Bug

## Information

I was trying to reproduce the GLUE fine-tuning example (https://huggingface.co/transformers/examples.html#fine-tuning-example) when I ran into this error:

[code]

The problem arises when using:
* [x] the official example scripts: (give details below)

The tasks I am working on is:
* [x] an official GLUE/SQUaD task: (give the name)

## To reproduce

Steps to reproduce the

[2020-05-17 19:29] sajit9285 commented on #876
@nreimers So will it work if I trained it from scratch as stated in the that github repo?

[2020-05-17 20:09] timsuchanek opened #4418 "Scaling text classification / reusing models"
If I have a system, where I want to train many text classifiers for many users, how could I go about it with the transformers library in a scalable way?
Right now I would have to run let's say a 10min training per user on a RTX 2080 ti for Albert for the dataset I have. That doesn't scale if I have thousands of users.

If I understand correctly, in the sequence classification models, the whole tra

[2020-05-17 20:17] #3231 closed

[2020-05-17 21:17] patrickvonplaten commented on #3941
Hi @xeb, sorry to reply so late. I think you are using the wrong model. Instead of using `TFGPT2Model` you should use GPT2 with a LM Head on top `GPT2LMHeadModel`. The code should work then :-)

[2020-05-17 21:17] #3941 closed

[2020-05-17 21:20] patrickvonplaten commented on #3942
Hi @hannodje,

sorry to answer so late. Could you provide a complete code sample that can reproduce the error? One in which you set define all the variables `input`, `attention_mask`, `perm_mask`, `target_mapping`, `sequence_ids` and `target` and which defines which XLNetLMHeadModel you use. Ideally, I can copy / paste the code sample in a script without having to add code of my own to reproduce t

[2020-05-17 22:16] patrickvonplaten commented on #4088
Hey @zirlman,

Thanks a lot for catching the error and the detailed error description. The PR that will fix the error is linked to the issue :-)

[2020-05-17 22:23] yoavz commented on #4197
+1 to @jaymody. It seems as though that `AutoTokenizer` is coupled to the model that uses it, and I don't see why it should be impossible to load a tokenizer without an explicit model configuration.

For those that happen to be loading a tokenizer and model using the `Auto` classes, I was able to use the following workaround where my tokenizer relies on the configuration in the model directory:

[

[2020-05-17 22:37] wenhuchen opened #4420 "BERT Tokenization problem when the input string has a "." in the string, like floating number"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): BERT

Language I am using the model on (English, Chinese ...): English

The problem arises when using: Tokenizer
* [ ] the official example scripts: (give details below) N/A
* [ ] my own modified scripts: (give details below) N/A

The tasks I am working on is: Any
* [ ] an official GLUE/SQUaD task: (give the name) N/A
* [ ] my own task o

[2020-05-17 22:54] patrickvonplaten commented on #4121
Hi @girishponkiya,

Thanks for the detailed error description. I was not able to reproduce the error with the newest version of transformers, 2.9.0.

See google colab here: https://colab.research.google.com/drive/14TQzMBPuaNb6aZ_NoVFQrr_ZTJS2mCr3 . Can you check again with a newer version of transformers?

[2020-05-17 23:06] patrickvonplaten commented on #4139
IMO the docstring is confusing here. This PR should fix it: #4422.
& You are right you should change `max_position_embeddings` via `n_positions`.

[2020-05-17 23:09] patrickvonplaten commented on #4141
I agree! Do you want to open a PR about this to change the naming? :-)
When doing this we just have to be careful to not change the user facing api when doing this -> which means that ideally, we should not rename any function arguments of high level modules like `BertModel.forward()`.

[2020-05-17 23:10] patrickvonplaten commented on #4074
So the issue is fixed for you then?

[2020-05-17 23:13] patrickvonplaten commented on #4090
Btw, we now have a "True" char-level reformer model here: https://huggingface.co/google/reformer-enwik8 :-)

[2020-05-17 23:13] #4090 closed

[2020-05-17 23:32] acmilannesta opened #4423 "How to change transformers model embedding layer weights"
I trained my own tokenizer and added new words. Now I need to change the embedding size from the pretrained model. What I do is like this:

[code]
However, the shape of embedding weight is still the original vocab size.

But if I do

[code]
Then the embedding weights will be removed from model ```trainable_weights``` and has only 198 elements instead of 199 in the original list.

Am I doing someth

[2020-05-18 00:32] piercefreeman commented on #1465
@venkatasg Can you share the hyperparameters that worked for your experiments?  Trying to get a sense of order-of-magnitude for each of those.

[2020-05-18 00:40] venkatasg commented on #1465
The problem is probably that the model is overfitting to the data. For BERT, the following hyperparameters worked for me:

- batch size: 16/32
- learning rate: 1e-5, 2e-5
- dropouts: 0.1
- weight decay: 0

However, what works for me might not work for you. Keep experimenting with the hyperparameters(and random seeds)

[2020-05-18 01:10] enzoampil commented on #4411
Technically, any task in the TextToTextPipeline is generative in nature right? But yeah, agree `TextToTextPipeline` will make the use case clearer :smile:

Hoping to get feedback from @patrick-s-h-lewis before attempting this

[2020-05-18 01:45] ratthachat commented on #3626
Thanks for your consideration, Patrick!

[2020-05-18 03:07] girishponkiya commented on #4121
Hi @patrickvonplaten,

Because of a bug in `tokenizers` (v0.7.0), the following code sets a wrong value to `eos_token_id`:
[code]

The correct value of `eos_token_id` should be 32098 (index of <extra_id_1>).  Just replace the above snippet with the following to reproduce the error:
[code]

PS: for more details on the tokenizer bug, you may refer #4021

[2020-05-18 03:12] hairzooc opened #4425 "BERT and other models pretraining from scratch example"
Hi,
I've been finetuning lots of tasks using this repo. Thanks :)
But I couldn't find any pretraining from scratch examples.
Please let me know if you guys have any advices on that.
It would be very helpful for me to do my research.

[2020-05-18 03:22] MagicFrogSJTU opened #4426 "Lack of funetune examples for T5 model"
# 🚀 Feature request

It seems like examples under transformers/examples doesn't support T5 except for translation.

## Motivation

We need more examples! It should be easy for some simple benchmarks.

## Your contribution

None currently.. But I am working on it!

[2020-05-18 04:36] patil-suraj commented on #4406
First thing you can try is fine-tune T5/BART for summerization on your corpus and see how it performs.

[2020-05-18 04:49] kevinlu1248 commented on #4406
@patil-suraj where can I find a guide to this? I'm a bit confused by the documentation.

[2020-05-18 05:55] renjithsasidharan opened #4428 "How to extract the best candidate after token classification?"
Let's assume the model predicts the following for an input sequence.
[code]

How do you pick the best candidate for **creation date** from logist values?

[2020-05-18 06:17] Colanim commented on #4358
I meeting the same issue with a custom training script, using ELECTRA for classification task.

[2020-05-18 07:20] nreimers commented on #876
@sajit9285 As always, it depends on the quality of your training data. But I saw quite some good improvements for domain specific terms / sentences if you train it on appropriate training data

[2020-05-18 07:28] WeiliangGuo opened #4429 "mbart config.json missing"
I downloaded mbart from fairseq, there are dict.txt, model.pt, sentence.bpe.model in it but no config.json, where can we get it (and other necessary missing files)?
I use mbart as pretrained model.

Is bart-large trained on multilingual data?
 Anyone has compared bart with t5?

[2020-05-18 07:43] timpal0l commented on #876
@sajit9285 Is it not better to use the existing weights as a base, rather than train something from scratch?

[2020-05-18 08:17] patil-suraj commented on #4426
I've setup T5 fine-tuning using lightning and also HF's new Trainer. I can submit a PR for that. Would like to hear from @patrickvonplaten

[2020-05-18 08:25] Colanim opened #4430 "🐛 Weird learning rate with TPU Trainer"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): **ELECTRA**

Language I am using the model on (English, Chinese ...): **English**

The problem arises when using:
* [ ] the official example scripts:
* [x] my own modified scripts:

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task:
* [x] my own task or dataset: CNN/DM

## To reproduce

I use `run_glue.py` as example to bui

[2020-05-18 08:30] miketrimmel commented on #4425
https://huggingface.co/blog/how-to-train

[2020-05-18 08:56] MatteoMuffo commented on #3848
Any updates about this? I managed the creation of ElectraForQuestionAnswering on my own and the code works. If the progress of this thread is in stand-by I can proceed submitting my pull request

[2020-05-18 09:02] mmuffo94 commented on #3848
Any updates about this? I managed the creation of ElectraForQuestionAnswering on my own and the code works. If the progress of this thread is in stand-by I can proceed submitting my pull request

[2020-05-18 09:16] patrickvonplaten commented on #4426
It would be awesome if you could open a PR for this!

[2020-05-18 09:37] patil-suraj commented on #4426
Great! I'll organize my examples and submit PR as soon as I finish it.

[2020-05-18 09:39] brotherb commented on #4121
same issue with GPT-2 to generate texts using beam search, bos_token_id set to 50256(<|endoftext|>)

[2020-05-18 10:24] patil-suraj commented on #4426
@Chenyzsjtu  @patrickvonplaten  Could you please suggest me a good task for this ? I've fine-tuned T5 on mostly non-generative tasks (IMDB sentiment, Emotion classification, SWAG multiple choice, SQuAD1.1) and 2 generative tasks, cnn/dm and question generation.  Which tasks should I consider adding ?

[2020-05-18 10:47] sajit9285 commented on #876
@nreimers I will give a try. Thanks  :)

[2020-05-18 10:50] sajit9285 commented on #876
@timpal0l Yeah ofcourse, anytime they are better than random weights.

[2020-05-18 11:05] zirlman commented on #4088
@patrickvonplaten that's great. Thank you 😁

[2020-05-18 11:17] #3188 closed

[2020-05-18 11:17] #3125 closed

[2020-05-18 11:20] shashankMadan-designEsthetics commented on #4166
hey, @thomwolf this would be a great addition! have a look into it.

[2020-05-18 11:51] ghomasHudson commented on #4426
The GLUE and SuperGLUE tasks would be an obvious choice (mainly classification though). The [DecaNLP](http://decanlp.com/) tasks have a nice mix of classification and generation.

[2020-05-18 11:58] Pydataman opened #4434 "albertModel object has no attribute bias"
transformers version:2.9.0

model = AlbertModel.from_pretrained("xxx", from_tf=True)

Initialize PyTorch weight ['albert', 'encoder', 'albert_layer_groups', '0', 'albert_layers', '0', 'attention', 'key', 'kernel'] from bert/encoder/transformer/group_0/inner_group_0/attention_1/self/key/kernel
Initialize PyTorch weight ['albert', 'encoder', 'albert_layer_groups', '0', 'albert_layers', '0', 'attenti

[2020-05-18 12:21] Chenyzsjtu commented on #4426
There are many benchmarks tested in the original paper. Since we only need a example for demonstration purpose, a single task in GLUE or SuperGLUE should be enough.
Mayber MRPC? It needs less training steps, and was finetuned by itself rather than by the GLUE mixture as descriped in paper. Plus, it is also the example for bert here in examples/text-classification.

[2020-05-18 12:26] patrickvonplaten commented on #4151
We still need to provide a good docstring/notebook for this. It's on our ToDo-List. :-)

Or @sshleifer - is there already something for Bart?

[2020-05-18 12:30] patrickvonplaten commented on #4161
I think in your case it might make more sense to use the `TextGenerationPipeline`. It's a two liner that does the same as the script. You can wrap a `open(inpt_text_file)` and `file.write()` around these two lines in your use case.

See documentation for the generation pipeline here: https://huggingface.co/transformers/usage.html#text-generation

[2020-05-18 12:30] patil-suraj commented on #4426
@ghomasHudson  @Chenyzsjtu
DecaNLP sounds good. So we can include one generative task and one non-generative.
Let's see what @patrickvonplaten  says then I'll move ahead with this.

Till then can you check my fine-tuning examples and give me some feedback. Here are the notebooks.

For SQuAD [here](https://colab.research.google.com/drive/176NSaYjc2eeI-78oLH_F9-YV3po3qQQO?usp=sharing)
For (IMDB sent

[2020-05-18 12:55] patil-suraj commented on #4406
[Here's](https://github.com/huggingface/transformers/tree/master/examples/summarization/bart) the official example which fine-tunes BART on CNN/DM, you can just replace the cnn/dm dataset with your own summerization dataset.

[2020-05-18 13:33] LysandreJik commented on #4434
Hi! What is the `xxx` model? Is it one of our pre-trained checkpoints, is it an original TF checkpoint? Did this error happen in previous versions? Would you mind giving a bit of context?

[2020-05-18 13:49] julien-c commented on #4408
Duplicate of #4185

[2020-05-18 13:49] #4408 closed

[2020-05-18 13:49] julien-c commented on #4310
Will close this to track this at more general #4185

[2020-05-18 13:49] #4310 closed

[2020-05-18 13:51] #4088 closed

[2020-05-18 13:55] albertnanda commented on #4412
Thanks @linhx13 ..Works fine..

[2020-05-18 13:55] #4412 closed

[2020-05-18 13:57] patrickvonplaten commented on #4287
Thanks for the detailed error description @binshengliu! I linked a PR that should fix it :-)

[2020-05-18 14:09] lonePatient commented on #4185
https://github.com/lonePatient/MobileBert_PyTorch

[2020-05-18 14:10] sshleifer commented on #4151
Nothing yet, would be good to add!

[2020-05-18 14:13] patrickvonplaten commented on #4346
I think you should add a prefix, such as `"question: Which is the best conductor"` for hugging face code. Can you try that and see whether the results improve?

[2020-05-18 14:14] patrickvonplaten commented on #4360
Thanks for the issue! Feel free to open a PR if you have a branch that fixed that lying around haha ;-)

[2020-05-18 14:31] patrickvonplaten commented on #4343
`XLNet` usually requires some padding to work well, see https://huggingface.co/transformers/usage.html#text-generation.

You could try to use padding as shown here: https://huggingface.co/transformers/usage.html#text-generation and see whether the problem persists?

[2020-05-18 14:33] patrickvonplaten commented on #4296
Which library are you using? Could you maybe post a complete code example (with all relevant imports) to reproduce the error?

[2020-05-18 14:47] laetokang opened #4438 "BERT Fine-tuning problems"
# ❓ Questions & Help

## Details

Hello. I'm going to do a fine-tuning of BERT-base-uncased using the QA Dataset I made. However, the following error occurs: Could you tell me how to solve this problem?

**A link to original question on Stack Overflow**:

[code]

[2020-05-18 15:01] LysandreJik commented on #4438
Is your dataset following the SQuAD dataset format? It seems that what's making it crash is that there's no `title` entry.

You can take a look at how SQuAD is setup [here](https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v1.1.json).

[2020-05-18 15:05] patrickvonplaten commented on #4368
Hi @Damiox,

I think I see the problem. That's quite an edge case here. Since `2.8.0` here the PR: https://github.com/huggingface/transformers/pull/3734, the `input_ids` will always be cut to just the last token when using `past` to have a consistent API with other models and allow to put it the whole `input_ids`. Also `past` was never supposed to be used together with `input_ids` longer than 1, s

[2020-05-18 15:10] patrickvonplaten commented on #4411
Yeah. To be honest, I'm not sure whether this is a good idea. The pipelines are supposed to be directly related to task such as `translation`, `summarization` which are specific cases of `text2text` applications. I think for every special task we should introduce a new `pipeline` before starting to have different levels of abstractions in `pipelines`. A `TextToTextPipeline could become quite a mes

[2020-05-18 15:15] Brock007 opened #4440 "Reformer training error"
# 🐛 Bug

When training a Reformer model from scratch, I got the following error:

**TypeError: forward() got an unexpected keyword argument 'masked_lm_labels'**

## Information

I am trying to train a Reformer model from scratch on English documents. My data is one document per line:

The problem arises when using:
* [ x ] the official example scripts: (give details below)
* [ ] my own modified sc

[2020-05-18 15:16] julien-c commented on #4417
This was fixed on master on Friday, can you try pulling from master again?

[2020-05-18 15:16] #4417 closed

[2020-05-18 15:18] patrickvonplaten commented on #4426
That's a great notebook, I think!

Also note that you can now also use our `nlp` library, here: https://github.com/huggingface/nlp which will reduce your whole data preprocessing code to just a couple of lines. I think we have all the datasets you are using in your notebook(s) in the library :-).

I think @sshleifer and @julien-c have worked more on the examples lately, so they probably would know

[2020-05-18 15:19] Damiox commented on #4368
Hi @patrickvonplaten - I'm a bit worried about this... I cannot apply the simple fix because I'm unable to get rid of `past` variable or run more inferences at this point because the performance would be affected for my use case which is over a realtime bigdata dataset. The current results are accurate and are based on discussions in https://github.com/huggingface/transformers/issues/3095 - this i

[2020-05-18 15:23] julien-c commented on #4418
You can pretty easily "freeze" parameters you don't want to backpropagate against, in PyTorch:

[code]

[2020-05-18 15:25] #4287 closed

[2020-05-18 15:30] galshachaf commented on #1415
fixed for me by adding "import sklearn" to run_glue.py before the imports from transformers.

[2020-05-18 15:31] #4139 closed

[2020-05-18 15:40] LysandreJik commented on #4368
That's an interesting use-case indeed. I don't believe we ever intended the `past` to be used with `input_ids` larger than one, and I'm quite surprised as well that it did work.

@thomwolf, do you have any opinion on this?

[2020-05-18 15:57] patrickvonplaten commented on #4440
Reformer does not support `mlm` training at the moment. Please make sure you use `lm` training :-)

[2020-05-18 16:01] patil-suraj commented on #4426
@patrickvonplaten
Yes, using nlp library makes more sense. The SQuAD notebook above uses nlp library for data processing. Just ~10 lines of data processing code, and also uses HF trainer instead of lightning. So I have both the trainers ready, lightning as well as HF trainer.

IMO we should use HF trainer instead of lightning since most of the examples now use  HF trainer. Converting above tasks i

[2020-05-18 16:13] patrickvonplaten commented on #4426
Only just saw the SQuAD notebook - amazing!

Ok, we had some internal discussions on how to add notebooks and decided to add a table to the README as shown in this PR: https://github.com/huggingface/transformers/pull/4441. @patil-suraj I use your SQuAD notebook as an example of how a notebook could be added. Can you maybe check if that's ok for you?

If that's fine for you I'll merge the PR and yo

[2020-05-18 16:29] sshleifer commented on #4429
fairseq doesn't use config.json.

`BartConfig.from_pretrained('mbart-large-en-ro').to_json_file('config.json')` gets the config.json for English-Romanian, which is the only mbart checkpoint that's usable in this repository.

[2020-05-18 16:31] sshleifer commented on #4395
That feature is not supported in our implementation, unfortunately.

[2020-05-18 16:35] patil-suraj commented on #4426
@patrickvonplaten
Thank you for considering this!  This sounds good to me.
I'll also use the `nlp` library in the other notebook and open another PR for that.

[2020-05-18 17:35] Sriharsha-hatwar commented on #4400
Tested with another environment with python = 3.7.7, same issue is observed.

[2020-05-18 17:36] dbaxter240 opened #4443 "Issues with the EncoderDecoderModel for sequence to sequence tasks"
# ❓ Questions & Help

I have been attempting with various models to try to build an encoder-decoder, sequence to sequence transformer model. For the most part, I have been using BERT (bert-base-cased), but have encountered issues with various models.

The model is intended for an English to English sequence to sequence problem.

For reference, I had been trying to use the seq2seq example in this p

[2020-05-18 17:50] gary-rentify commented on #3757
Did you find anything on this? Been digging around for the same, seems like `from_pretrained` used to allow `weight` as an arg?

[2020-05-18 17:51] dbaxter240 commented on #4443
Update -- after hours working with this code, I somehow only now realized that the PR I linked had updates to modeling_encoder_decoder.py that fixed the issues I'm describing in part 2 of my issue, which is why the example works there.

I am still confused about part 1 (and 3) however, since it does not look like that PR changed anything about the input_ids for the decoder.

[2020-05-18 18:00] msahamed opened #4444 "model.save() does not save keras model that includes DIstillBert layer"
# 🐛 Bug

## Information
I am trying to build a Keras Sequential model, where, I use DistillBERT as a non-trainable embedding layer. The model complies and fits well, even predict method works. But when I want to save it using model.save(model.h5),  It fails and shows the following error:

[code]

The language I am using the model in English.

The problem arises when using my own modified scripts:

[2020-05-18 18:04] Brock007 commented on #4440
@patrickvonplaten thanks! Is there a plan to support mlm in the near future?

I assume I can just remove the mlm flag to do lm training, right? How can I tell the script to pad the input sequences to a certain length? Thanks!

[2020-05-18 18:21] patrickvonplaten commented on #4440
Yes, there are plans to add a `MaskedLM` version for Reformer. I will release a notebook this week (probs on Friday) on how to train the Reformer :-)

[2020-05-18 18:22] patrickvonplaten commented on #4426
That sounds awesome :-)

[2020-05-18 18:25] monologg commented on #4229
I've also confronted this issue.
In my case, with `transformers v2.8.0` it correctly splits special token.
But from `v2.9.0`, it splits the special tokens like `'[', 'e', '##11', ']'`. It's quite weird...

[2020-05-18 18:38] steve-unitq commented on #3664
We also see a similar issue in transformers 2.9.1.

Also curious if people have a workaround or solution to use with TF model serving?

[2020-05-18 18:57] kevinlu1248 commented on #4406
@patil-suraj Thanks for the example. I'm wondering if there is any simpler way to get started since I'm planning on training it in a Kaggle notebook due to GPU constraints, because otherwise I may need to copy paste entire folder into a Kaggle notebook.

[2020-05-18 19:00] manzar96 opened #4445 "Generation with EncoderDecoder Model"
# ❓ Questions & Help

Hi,
I am using the EncoderDecoder Model and I would like to use the generate method for sequence generation. As I have read in docs, the generate method can be used with any Pretrained HF model with  LM head on top.
So wrapping a pretrained LM model (e.g. GPT2LMHeadModel, BertForMaskedLM) (and having a encoder too) with the Encoder-Decoder class gives null bos_token_id and th

[2020-05-18 19:02] TravellerOnCode commented on #2990
I found it here: https://github.com/huggingface/transformers/blob/master/examples/token-classification/run_ner.py

The NER has been renamed to Token Classification.

[2020-05-18 19:56] PurinLord commented on #1465
I just finished a multi label classifier training and got the exact same result:

[2020-05-18 20:11] R4ZZ3 commented on #4396
What was your mistake?

Is your system Windows?
I am trying to reproduce the colab tutorial from https://blogs.helsinki.fi/language-technology/2020/05/14/helsinkinlp-in-huggingface/ on Windows but I get errors.

[2020-05-18 20:33] NonaryR commented on #4396
@R4ZZ3 Hello! I just appended `>>tag<<` for text in cycle, and my text quickly became a mess of tags. And no Windows, sorry, can't help.

[2020-05-18 22:10] enzoampil commented on #4426
I’ve also worked on an example notebook for tweet sentiment span extraction with T5 that I can share around this weekend (kaggle compe dataset).

Would it be fair game to PR this as well? Would I have to add the dataset to nlp? 🙂

[2020-05-18 22:14] amartyads commented on #2119
did you find a solution?

[2020-05-18 22:59] patrickvonplaten commented on #4426
For sure feel free to open a PR :-) It would be nice if you use `nlp`, but that's definitely not a must!
We are happy about every community notebook :-)

[2020-05-18 23:05] #4440 closed

[2020-05-18 23:12] patrickvonplaten opened #4447 "TF Beam Search generation seems to be flaky sometimes"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): ALL TF generate models

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)
* [ ] all generate beam search tests in TF

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task:

[2020-05-18 23:23] jameschartouni commented on #4296
https://github.com/jameschartouni/arabic_translation/blob/google-t5/Model_1.ipynb

Let me know if you have difficulty viewing the code! We are using colab and use a fresh install.

[2020-05-18 23:34] enzoampil commented on #4411
I think from a high level, more than just thinking about `text2text`, I'm foreseeing the future where multi-task learning becomes a standard way of deploying ML models. Having a pipeline to introduce this can be one step to accelerating that future.

Although, I do understand that `text2text` is just one approach to doing this, but in my opinion, it's the most promising one at the moment, so it's

[2020-05-18 23:54] muiPomeranian commented on #385
Can someone please specify why Thomas mention/refers XLM repo from facebook? Is there any fault from huggingface? I thought I would just use hugging face repo without using "pretrained paramater" they generously provided for us.

Just struggling with Facebook repo"span bert" and seems it is hard to even run this due to distributed launch issue. Hope it is ok to use hugging face's one to reproduce

[2020-05-19 00:17] #3959 closed

[2020-05-19 01:06] #3207 closed

[2020-05-19 01:43] hairzooc commented on #4425
Thank you for your swift reply :)
How about Electra model? Is it possible to pretrain from scratch as well?

[2020-05-19 02:02] #4272 closed

[2020-05-19 02:02] #4398 closed

[2020-05-19 02:28] #4402 closed

[2020-05-19 03:00] ghrua opened #4449 "[Questions & Help] The loss doesn't decrease correctly while training BERT from scratch"
# ❓ Questions & Help

## Details

I am now using [huggingface/transformers](https://github.com/huggingface/transformers) to train a BERT model on **1m** wiki data **from scratch**, but the training loss looks so weird. Before showing the details of the training process, I would first share the scripts and configs I used:

[code]

where [run_language_modeling.py](https://github.com/huggingface/tran

[2020-05-19 03:13] #4240 closed

[2020-05-19 03:14] julien-c commented on #4240
Should be fixed on master thanks to @shaoyent . Give it a try and let us know:)

[2020-05-19 04:48] saberkun commented on #4185
"https://github.com/tensorflow/models/issues/8533"

[2020-05-19 05:24] parmarsuraj99 commented on #1425
Using default scripts?

[2020-05-19 05:36] Colanim opened #4451 "❓ Warning : This overload of addcdiv_ is deprecated"
# ❓ Questions & Help

When running the [official Colab example of GLUE](https://colab.research.google.com/github/huggingface/blog/blob/master/notebooks/trainer/01_text_classification.ipynb), during training I receive a `UserWarning` :

[code]

---

**Is it expected ?**

[2020-05-19 05:38] miketrimmel commented on #4425
Did you read the article? Section 3

[2020-05-19 06:35] Vedant-06 commented on #3192
I have used, LM for Pretraining in this collaboratory for BERT.
https://colab.research.google.com/drive/1_6Mq4qzelC1f6ff9q-85lDC6v0LmDzPj?usp=sharing

[2020-05-19 07:39] jmamou opened #4452 "Value matrix of self-attention"
# ❓ Questions & Help

## Details

Is there any way to get the Value matrix of the self-attention?
Thanks!

**A link to original question on Stack Overflow**:

[2020-05-19 07:40] #4452 closed

[2020-05-19 08:08] Ricocotam commented on #3244
I don't think you should delete the issue since it's kinda useful to have and not having it may be embarassing. But do as you want !

[2020-05-19 09:09] shebogholo commented on #4392
What if reverse model does not exist for my langauge?

[2020-05-19 09:09] patrickvonplaten commented on #4296
I see you use the official T5 code that connects to HF code. The error seems to be happening in the `t5` library though (in `t5/models/hf_model.py`). Could you open an issue there? We haven't written the code so it's very hard for us to debug this.

[2020-05-19 09:31] hairzooc commented on #4425
Yup, I've read Section 3. :)
As long as I know Electra uses replaced token detection with discriminator and generator (GAN style).
That's why I thought that there could be something different from BERT-like masked lm.
And I found the open issue below as well.

https://github.com/huggingface/transformers/issues/3878

[2020-05-19 09:35] yonatanbitton commented on #4397
I think it's a bug, i'm closing & opening another bug issue.

[2020-05-19 09:35] #4397 closed

[2020-05-19 09:52] miketrimmel commented on #4425
I modified https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py script few days ago for training electra from scratch. But there were some bugs i had to solve for this task.

Currently I´m setting up a clean running version for training a electra language model from scratch with an additional document classification head based on the script.

[2020-05-19 10:02] yonatanbitton opened #4453 "Bug - TFBertForSequenceClassification on SQUaD data"
# 🐛 Bug

## Information
I'm using TFBertForSequenceClassification on SQUaD data v1 data.

The problem arises when using:
* [ ] Both official example scripts and my own modified scripts

The tasks I am working on is:
* [ ] an official SQUaD v1 data and my own SQUaD v1 data.

## To reproduce

### Try 1 - with official squad via `tensorflow_datasets.load("squad")`, trying to mimic the following offic

[2020-05-19 10:06] Adrian-1234 commented on #4142
Very Cool !

[2020-05-19 10:54] #1436 closed

[2020-05-19 10:59] x0rzkov opened #4454 "DMOZ - web page classification / multi-language"
Hi,

Hope you are all well !

Still quite a newbie with transformers, I wanted to know how could it be possible to build a web page classifier with the DMOZ dump and to classify them into categories in several languages.

Thanks in advance for any insights or inputs on that question.

Cheers,
X

[2020-05-19 11:15] mainulquraishi opened #4455 "get output from a particular layer of pre-trained transformer (xlnet)"
As the title, how can I do this in PyTorch version of pre-trained transformer?

[2020-05-19 11:39] mariaBio commented on #457
Dear all,
Thank you very much for the suggestions on how to prepare the model to be used with hugginfaces. I am trying to use huggingfaces BertTokenizer to perform NER on biomedical data with the pre-trained weights.
It seems to work fine until then point when I want to map annotated tokens to entity labels. I have token ids and prediction ids, but I cannot figure out how/where to get label_list t

[2020-05-19 12:24] nlpravi commented on #4263
Yes, I'm always getting NEGATIVE class regardless of the text

[2020-05-19 12:27] NeelKanwal commented on #163
I still have the problem in Google Colab

[2020-05-19 12:36] sshleifer commented on #4392
What's your language?
Maybe it's part of a multilingual group (below) or has been [trained](http://opus.nlpl.eu/Opus-MT/) since we did the conversion?
Otherwise, you're out of luck unfortunately.

[code]

[2020-05-19 12:43] shebogholo commented on #4392
Swahili, oooh!

[2020-05-19 12:57] RichardLS09 opened #4456 "Problems About Using the Run_language_modeling with Tf2."
# 🐛 Bug

### Model I am using Bert.

### The problem arises when using:
I'm using the run_language_modling.py to fine-tuning with (Tf2.0.0/Tf2.2.0). Of course i modify the script.
I use TFAutoModelWithLMHead,TFTrainer in this repo to build my script.
When i'm traning,here is the problem.
`ValueError: Trying to create optimizer slot variable under the scope for tf.distribute.Strategy (<tensorflow.p

[2020-05-19 13:00] jwallat opened #4457 "FastTokenizer add_special_tokens also adding individual characters for multi character tokens"
# 🐛 Bug

## Information
Model I am using (Bert, XLNet ...): BERT FastTokenizer

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [X] my own modified scripts: (give details below)

The tasks I am working on is:
* [X] my own task or dataset: (give details below)

As far as I can tell, adding tokens (e.g. '[EOS]') to the FastTokenizer  will result in

[2020-05-19 13:15] naveenjafer commented on #438
@Hya-cinthus Thank you so much! This saved me a lot of headache!

[2020-05-19 13:56] julien-c commented on #4456
cc @jplu, might be of interest :)

[2020-05-19 14:03] julien-c commented on #4451
Not expected, but shouldn't be an issue. Feel free to open a PR swapping args in https://github.com/huggingface/transformers/blob/31eedff5a0fc47d60609089627af6698c21da88d/src/transformers/optimization.py#L165

[2020-05-19 14:10] jplu commented on #4456
Hello!

Like this there is not enough details to see what is the issue. Can you provide the piece of code you are trying to run? plz :)

Also if you are looking for how to properly use the trainer I suggest you to look at the already existing examples:

- [SQuAD](https://github.com/huggingface/transformers/blob/master/examples/question-answering/run_tf_squad.py)
- [NER](https://github.com/huggingf

[2020-05-19 14:20] chintanckg commented on #2952
Had similar issue:
following fix from stackoverflow worked.
 b_input_ids = torch.tensor(b_input_ids).to(torch.int64)

https://stackoverflow.com/questions/56360644/pytorch-runtimeerror-expected-tensor-for-argument-1-indices-to-have-scalar-t

[2020-05-19 14:33] klicperajo opened #4459 "Pretrained Transformer-XL gives unreasonable result on WikiText-103"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Transformer-XL (`transfo-xl-wt103`)

Language I am using the model on (English, Chinese ...): WikiText-103 (English)

The problem arises when using:
* [x] the official example scripts: `run_transfo_xl.py` (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] an official task: WikiTe

[2020-05-19 14:41] klicperajo opened #4461 "ProjectedAdaptiveLogSoftmax.log_prob raises Exception"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Transformer-XL

Language I am using the model on (English, Chinese ...): WikiText-103 (English)

The problem arises when using:
* [x] the official example scripts: `run_transfo_xl.py` (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] an official task: WikiText-103
* [ ] my own t

[2020-05-19 14:58] patil-suraj commented on #4399
@julien-c
Any update on this ?

[2020-05-19 15:04] julien-c commented on #4399
We don't have any immediate plan to work on this ourselves but feel free to take a stab

[2020-05-19 15:29] nicholasdykeman commented on #4356
I have the same issue, my trained models work on 2.8.0 but I get the same error when loading saved model on 2.9.1

[2020-05-19 15:47] patil-suraj commented on #4399
@julien-c
Okay, I just need your feedback on thing. I'm not sure if adding a pipeline here will make sense since there are multiple ways to generate questions
1. ans aware
2. generate 1 question directly
3. generate multiple questions simultaneously

Also ans aware model will need an ans extractor/generator or the user will need to supply answers. And different models could process inputs differen

[2020-05-19 16:07] danielduckworth commented on #4399
@patil-suraj I think it makes sense to generate questions that are answer aware as this has more use cases. I also think that questions should not be so narrow that a single word from the context is the answer. Artit's [Text2Text ](https://github.com/artitw/text2text) did a pretty good job. I used this to generate 1,000 random questions from a random context and plan to have them judged by human r

[2020-05-19 16:20] patil-suraj commented on #4399
@danielduckworth
Yes answer aware seems to be the best chose right now. And we can generate multiple question if we have multiple answers. If you find the above demo interesting then I'll share the models so you can play with it and then we can decide how to proceed from there.

Also the METEOR score on dev set for demo model is 26.0676

[2020-05-19 16:21] LysandreJik commented on #4358
Hi! This should have been solved by https://github.com/huggingface/transformers/pull/4450.
Could you install from source and let me know if it fixes your issue?

[2020-05-19 16:32] danielduckworth commented on #4399
@patil-suraj Yes that would be great. How do you want to share the models?

[2020-05-19 16:52] patil-suraj commented on #4399
@danielduckworth
I've setup everything in the same [colab](https://colab.research.google.com/drive/1_2_mS5l29QHI1pXaqa4YLzAO5xm-HmH9?usp=sharing). Please have a look.

[2020-05-19 17:42] singhay commented on #3192
bump!

[2020-05-19 19:01] ankur19030 commented on #3848
@volker42maru  I implemented the same model as described in the official Electra Repository by google. I am still unable to reproduce the original paper results which is 75% EM on the squad v1 and 82% F1. The maximum I could get was 70% EM and 78% F1. @mmuffo94  Please let me know if you have successfully reproduced the results on the squad v1 dataset. It would be great help.

[2020-05-19 20:59] pvcastro commented on #4231
Hi @stefan-it !
If you don't mind me asking this in this closed issue, now I'm facing the same problem concerning a portuguese electra model I'm benchmarking.

I did what you suggested for ALBERT model, and for ELECTRA I'm doing the same thing...I create a tokenizer_config.json doing the same thing. However, for ELECTRA I'm getting a huge difference between the NER models trained using transformer

[2020-05-19 21:38] binh-vu opened #4471 "batch_encode_plus returns same lengths when enable pad_to_max_length"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Bert

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details b

[2020-05-19 21:42] iliemihai commented on #969
This may sound silly also, but will `run_lm_fintuning.py` be able to finetune microsoft/DialoGPT model on a custom dataset?  Thank you

[2020-05-19 23:45] #4371 closed

[2020-05-20 00:45] oplatek commented on #3859
I hit the same issue after using [add_special_tokens](https://huggingface.co/transformers/main_classes/tokenizer.html#transformers.PreTrainedTokenizer.add_special_tokens) with `{"pad_token": "PAD"}` dictionary.

I understand based on the error and the documentation it should not raise the error, right?

[2020-05-20 00:49] oplatek commented on #3859
For completness:
- patrickvonplaten tip `tokenizer.pad_token = tokenizer.eos_token` solved it
- the whole error message for me was

[code]

[2020-05-20 01:32] danielduckworth commented on #4399
Great, thanks. I'll have a play over the next few days and get back to you.

So just to confirm, where do the models come from? Is the base model T5 and it has been tuned using the SQUAD data reference questions, contexts and answers?

[2020-05-20 01:44] hairzooc commented on #4425
I got it. Thank you for your effort!

[2020-05-20 01:48] RichardLS09 commented on #4456
Thanks for your reply!

Sorry for that i'm not looking at the examples.In the examples, it initializes the model with trainng_args.strategy.scope(),and in my script, i initialize the model in TFTrainer.\__init\__ with the self.args.strategy.scope(). It looks the same.

If we initianize the model in  trainng_args.strategy.scope(), it's be ok ! At first, I think we should pass the model_args to TFTr

[2020-05-20 01:48] #4456 closed

[2020-05-20 02:09] volker42maru commented on #3848
@ankur19030 you are refering to ELECTRA-Small I assume?

I actually finetuned and evaluated only on squad 2.0, but the score on squad 1.1 even with the Small model should be significantly higher. The different QA Head that is used for ELECTRA might not play such a big role in squad 1.1, because it's mostly used to get better predictions on answerability. You can try using a simple QA head first to

[2020-05-20 02:53] TobiasLee commented on #3895
I met the same problem, the head_mask has no grad at the second time.

[2020-05-20 03:22] hanzhuoran commented on #3325
Find similar issue when using regular BERTModel

[2020-05-20 04:08] rjsaito opened #4475 "Request for hosting model files in a Virtual Hosted-Style S3 buckets"
Is there any plans for the s3 buckets currently hosting the model files to migrate from the current "Path-Style Request" format to a "Virtual Hosted-Style Request" format?

Path-Style URLs follow the following format (s3.amazonaws.com/* OR s3.Region.amazonaws.com/*). For example, today the model config file for 'bert_uncased_L-2_H-128_A-2' is accessed via the Path-Style URL:

https://s3.amazonaws.

[2020-05-20 04:44] misrasaurabh1 opened #4476 "Tokenizer encode to have an option to overflow from left"
# 🚀 Feature request

Current tokenizer encode variants ( encode, batch_encode, batch_encode_plus) handle longer sequences than max_length by overflowing tokens from the right hand side and thus restricting the length to max_length. This feature request is to allow an option for the tokenizer encode methods to overflow tokens from the left hand side as well.

## Motivation

For problems dealing wit

[2020-05-20 05:04] cabal-chan commented on #876
@nreimers You are a beast! A lot of questions I had were addressed on here!

[2020-05-20 05:57] Colanim commented on #4358
The code is running, but I receive this Warning :

[code]

and it's **very slow** (2h for 1 epoch).

---

Running on 8 cores is not working but I think this is due to the RAM.

[2020-05-20 06:45] Colanim opened #4478 "❓ [TPU] [Trainer] Moving model to device before setting optimizer slow the training"
# ❓ Questions & Help

On master, after applying the fix of #4450, the training on 8 TPU cores is much slower.

* Before the fix : **20 min / epoch (8 iterations / s)**
* After the fix : **1h30 / epoch (2~3 iterations / s)**

Of course the training before the fix was not working (loss was not decreasing).

But this slow is not expected : for the TF2 equivalent with the same dataset, it takes **20 m

[2020-05-20 07:04] aohan237 commented on #1779
maybe we should add parameter to Trainer.
or it should added to the doc for others

[2020-05-20 07:17] TobiasLee commented on #3895
Seem that during the second pruning, the head_mask tensor becomes a non-leaf node, when the grad is None, I printed the `head_mask.is_leaf` attribute and get the warning(pytorch 1.5.0) as below:

  warnings.warn("The .grad attribute of a Tensor that is not a leaf Tensor is being accessed. Its .grad "
False

[2020-05-20 10:11] gustavscholin commented on #4358
Can confirm that the training loss is now declining as expected in colab notebook and that one epoch takes around 2h per epoch with 1 TPU-core. I also tested with a K80 but unlike for @Colanim it took around 5h per epoch, which I find reasonable in the sense that the TPU is faster. The batch size was the default Trainer value for both tests (which is 5 I believe).

I get @Colanim's UserWarning reg

[2020-05-20 10:43] #3270 closed

[2020-05-20 11:23] danielduckworth commented on #4399
@patil-suraj I've had a quick look, it's very impressive! I've only tried two passages, but the questions are sensible and the answers are more than one word which is better than the Text2Text pipeline. I definitely want to do some more work with this.

First, I'll generate a large set of questions I can get human raters to score to validate whether the quantitative metrics (METEOR etc) correlate

[2020-05-20 11:24] dimi1357 opened #4483 "Trying to add support for GPT2 as decoder in EncoderDecoder model"
# 🚀 Feature request

Hi,
I am trying to add the option of using GPT2 as the decoder in the EncoderDecoder model, which only support

## Motivation

For a generation problem, it usually better to use GPT2 as the decoder, over BERT.

## Your contribution

I've made the following changes in `modeling_gpt2.py` file:

- Added crossattention layer if the model is a decoder, to the Block class:
[code]

-

[2020-05-20 11:51] #4429 closed

[2020-05-20 11:53] thiagomoeng opened #4484 "Bug using Roberta models in QA Transformers pipeline."
# 🐛 Bug

Hello, I cant use any roberta model with pipeline('question-answering'), someone can help me in how to fix this issue?

OBS=This error appears just when I use Roberta models.

ERROR:

![image](https://user-images.githubusercontent.com/64150563/82443055-38072700-9a77-11ea-99ac-58316d3e0636.png)

[2020-05-20 11:57] #3250 closed

[2020-05-20 12:42] sadeqa opened #4485 "Can't find vocabulary file or is corrupted for MarianTokenizer"
# 🐛 Bug

## Information

Model I am using MarianMT:

The problem arises when using the tokenizer with from_pretrained

## To reproduce

from transformers import MarianTokenizer, MarianMTModel
src = 'fr'  # source language
trg = 'en'  # target language
sample_text = "où est l'arrêt de bus ?"
mname = f'Helsinki-NLP/opus-mt-{src}-{trg}'
model = MarianMTModel.from_pretrained(mname)
tok = MarianTokeniz

[2020-05-20 13:38] LysandreJik commented on #4484
Hi, could you please post a code sample and a textual error, rather than an image? Thanks.

[2020-05-20 14:29] suyulan opened #4486 "tokenizer.vocab has not changed after using add_tokens"
# ❓ Questions & Help

## Details

When I use the add_tokens, I have the following problems
[code]
Should I change the dictionary by myself ?

[2020-05-20 15:43] #3272 closed

[2020-05-20 15:43] #2424 closed

[2020-05-20 16:22] thiagomoeng commented on #4484
@LysandreJik yes, its very simple my code I just trying to run a transformers example.

     if __name__ == '__main__':
          import ipywidgets as widgets
          from transformers.pipelines import pipeline
          from transformers.modeling_auto import AutoModelForQuestionAnswering
          from transformers.tokenization_auto import AutoTokenizer

          tokenizer = AutoTokenizer.from

[2020-05-20 17:42] Futrell commented on #4343
This resolves the problem.

[2020-05-20 17:42] #4343 closed

[2020-05-20 19:08] pranavpawar3 commented on #4144
@patil-suraj, I tried your suggestion on finetuned BART checkpoint; though this gives me the following error, P.S. Model and tokenizer used is "bart-large"
`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-10-d2e409f72e4e> in <module>()
      1 ckpt = torch.load('./OUTPUT_DIR/check

[2020-05-20 19:43] mahdirezaey commented on #2898
Hello @LysandreJik  and @BramVanroy

Did you have any results in training   run_language_modeling.py    for some language from scratch (i mean with and  without NSP (next sentence prediction) as is in that script) ?

Did you get better or relatively the same losses (and perplexity, accuracy) by first doing MLM then
NSP ?

what were your warmup steps and  block size (maximum sequence length) for ea

[2020-05-20 19:46] mahdirezaey commented on #2898
I really need your answer and I will be grateful if you answer

[2020-05-20 20:00] mahdirezaey commented on #2898
Or as @LysandreJik mentioned here

[2020-05-20 20:13] mahdirezaey commented on #2898
If it is right  ,  I think we can set  block size (maximum sequence length)  equal to 64  for MLM

Because the  original paper used  128 , and it had two sentences (A and B for the sake of NSP) which means average 64 for each one

And it means grate speed up in training BERT
As mentioned in original paper of BERT that "Longer sequences are disproportionately expensive because attention is quadrati

[2020-05-20 20:42] mahdirezaey commented on #673
Hello @dchang56

Did you try fine-tuning a BERT model using only the Masked LM pre-training objective ?

Was that relatively as good as doing that along with next sentence prediction ?

[2020-05-20 20:46] #4360 closed

[2020-05-20 20:48] #4451 closed

[2020-05-20 20:52] mahdirezaey commented on #673
Hello @Rocketknight1

why do you think pre-training with just the masked LM objective works okay ?

is there any article or study about that , have you got any link of it ?

Or, have you down any training (BERT) without NSP (next sentence prediction) , yourself ?

[2020-05-20 22:04] julien-c commented on #4475
Hi @rjsaito we are actually moving to serving all our files from the cloudfront powered cdn.huggingface.co

[2020-05-20 22:31] julien-c commented on #3944
Closed by #4243

[2020-05-20 22:31] #3944 closed

[2020-05-20 22:43] GalPatel commented on #920
Hi @jhlau
Can you please explain how you mined the unigrams?
I looked at your file (thank you for sharing!) and it seems to me as if the keys are case-sensitive and that there was some method like SentencePieces or BPE used (I noticed keys like "ing" while very common verbs are not included). I'd like to be able to tell the frequency of a word, how should I go about it?
Thank you!

[2020-05-20 22:43] #2954 closed

[2020-05-20 22:46] ThomasSYT opened #4490 "How to load a pruned Albert model with from_pretrained()?"
# ❓ Questions & Help

## Details

I pruned Albert during the fine-tuning phase. I was unable to load the pruned model after saving it. I tried using:
[code]
but still got the same error:
[code]
transformer version == 2.2.1
torch-1.4.0
Anybody can help?

[2020-05-20 22:47] pgfeldman opened #4491 "Windows: Can't find vocabulary file for MarianTokenizer"
# 🐛 Bug MarianTokenizer.from_pretrained() fails in Python 3.6.4 in Windows 10

## Information
Occurs with using the example here: [https://huggingface.co/transformers/model_doc/marian.html?highlight=marianmtmodel#transformers.MarianMTModel](huggingface.co/transformers/model_doc/marian.html?highlight=marianmtmodel#transformers.MarianMTModel)

Model I am using (Bert, XLNet ...): MarianMTModel

Langu

[2020-05-20 23:16] erickrf opened #4492 "Cannot load reformer-enwik8 tokenizer"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Reformer tokenizer

## To reproduce

Steps to reproduce the behavior:

1. Try to load the pretrained reformer-enwik8 tokenizer with `AutoTokenizer.from_pretrained("google/reformer-enwik8")`

This is the error I got:
[code]

I tried with and without `google/`, same result. However, it did print the download progress bar. Trying to load th

[2020-05-20 23:49] jhlau commented on #920
GPT-2 uses BPE, so the openwebtextcorpus is tokenised with BPE, and then unigram frequencies are collected.

[2020-05-21 00:05] isabelcachola commented on #3853
@ArijRB I'm also getting `<extra_id_x>` generations. Were you able to solve that problem? I'm using a T5 model finetuned on my own dataset.

[2020-05-21 01:25] ankur19030 commented on #3848
@volker42maru I initially tried with the simple QA head only, the same as you described but could not reproduce the results, not even near them even though I am using the same hyper-parameters as the ones used in the official implementation except layer wise LR decay. My EM is <70 on squad v1 which is around 5% less than the results from official repo. But I can say for sure that simply Layerwise

[2020-05-21 01:43] #2783 closed

[2020-05-21 03:34] nateraw opened #4494 "Incorporate HuggingFace 'nlp' library in examples"
# 🚀 Feature request

I propose we replace the custom data downloading/preprocessing logic found within the examples directory with the new [**HuggingFace `nlp` Library**](https://github.com/huggingface/nlp) where applicable.

## Motivation

The examples directory is filled with custom shell scripts that download and process common research datasets. These scripts work great, but are at times trick

[2020-05-21 04:36] patil-suraj commented on #4144
@pranavpawar3
here `model` should be an instance of the `LighteningModule`. Initialize the  `LighteningModule`, then you'll be able to do it this way

[code]

[2020-05-21 04:41] sshleifer commented on #4494
Love this idea. @thomwolf @julien-c what do you guys think about adding `nlp` as a dependency?

[2020-05-21 05:59] volker42maru commented on #3848
Are you sure that's for squad v1 and not v2?

I just trained ELECTRA Small for 1 epoch using the simple QA head from above and I get the following score on squad v1 dev: `'exact': 73.46263008514664, 'f1': 82.46777637449017`

I used mostly default parameters and no `layerwise_lr_decay`:
[code]

[2020-05-21 06:04] ankur19030 commented on #3848
@volker42maru I will cross check again then, Thanks

[2020-05-21 06:30] guoquan commented on #2116
I think op had a problem connecting to s3 as shown in the log
[code]
@paulmwatson Not sure if it s the same issue for you.
The cases for `EnvironmentError` varies. There are file not exist, archive format not recognized, and many other raise by OS.
I got cache directory access denied, for example.
You may refer to the earlier part of your log.

However, I think it is a bug having `"{}"` in log str

[2020-05-21 07:37] Colanim opened #4495 "❓ [BART] Why Decoder Layer Normalization is applied only at the last layer ?"
# ❓ Questions & Help

It seems this line :
https://github.com/huggingface/transformers/blob/efbc1c5a9d96048ab11f8d746fe51107cb91646f/src/transformers/modeling_bart.py#L524

was modified when MBART was added.

---

Before, Layer Normalization was applied after **all** layers of the decoder (_similar to the encoder, if the config was set appropriately_).

But now, Layer Normalization is applied **on

[2020-05-21 07:52] #2364 closed

[2020-05-21 08:56] zhuqunxi opened #4496 "python run_glue.py with the AttributeError: 'NoneType' object has no attribute 'seek'"
# 🐛 Bug

Traceback (most recent call last):
  File "/gpfs/home/bsub/anaconda3/envs/abc/lib/python3.6/site-packages/torch/serialization.py", line 191, in _check_seekable
    f.seek(f.tell())
AttributeError: 'NoneType' object has no attribute 'seek'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/gpfs/home/bsub/anaconda3/envs/abc/lib/

[2020-05-21 09:06] Xunzhuo opened #4497 "Tokenize something with a "." in between Decode these ids, you will find it mismatch"
🐛 Bug
Information
Model I am using (Bert, XLNet ...): XLNet

Language I am using the model on (English, Chinese ...): Chinese
The problem arises when using: Tokenizer

 the official example scripts: (give details below) N/A
 my own modified scripts: (give details below) N/A
The tasks I am working on is: Any

 an official GLUE/SQUaD task: (give the name) N/A
 my own task or dataset: (give details b

[2020-05-21 10:09] patil-suraj commented on #4399
Yes both of the models are t5-base trained on SQuAD

[2020-05-21 10:13] patil-suraj commented on #4399
@danielduckworth
I'm not sure about the first, we will need to run small experiments and see if it can be achieved.

2) Yes, I do think additional fine-tuning on more diverse datasets should improve the results. My goal is to first get factual questions correct and then move to narrative texts.

And sure we can create different repo and take this forward.

[2020-05-21 11:00] patil-suraj commented on #4406
@kevinlu1248
This [colab](https://colab.research.google.com/github/patil-suraj/exploring-T5/blob/master/t5_fine_tuning.ipynb)  shows how to fine-tune T5 with lightening. This is just the self-contained version of official example. You should be able to use the same `Trainer`, just replace the model with BART and use you own dataset.

[2020-05-21 12:06] sshleifer commented on #4495
That `layer_norm` should be None in `bart-large*`.
See [this comment](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bart.py#L266)

[2020-05-21 12:15] Chenyzsjtu commented on #4426
@patil-suraj
Thanks a lot for your contribution of fine-tuning notebook!
I notice that in the notebook your final performance for SQuAD1.1 on t5-base is:
"{'exact_match': 81.56102175969725, 'f1': 89.96016967193422}"
but in the paper it is: F1/EM = 92.08/85.44
It seems that there is something we need to take care of here.

[2020-05-21 12:56] patil-suraj commented on #4426
@Chenyzsjtu
The goal of the notebook was to get T5 working on TPU and show how we can fine-tune it for QA. So I didn't pay much attention to exact metrics. You can train it by following the learning rate and number of epochs used in the paper. That might increase it.

[2020-05-21 13:11] LeonieWeissweiler commented on #4478
I have the same problem, but I'm not sure if it's really a problem. I thought the extreme speed before the fix was because it wasn't training properly, and that the slower speed now is supposed to be this way, but that's just my guess.

[2020-05-21 13:17] #3176 closed

[2020-05-21 13:22] Chenyzsjtu commented on #4426
I will have a try. Thanks!

[2020-05-21 13:47] LysandreJik commented on #4478
Hi, you're right @LeonieWeissweiler. Previous to that fix, the optimizer wasn't actually adjusting weights, resulting in a major speed-up (but the script in itself wasn't working).

@Colanim, do you mind specifying what exactly you're training on? When training on TPU there's a lot you should take into account: batch size, sequence length, number of cores being the most important. Do you mind givi

[2020-05-21 14:20] shanybarhom opened #4498 "Pre-trained electra-large model doesn't converge when fine-tuned on SST-2"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): ELECTRA

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: SST-2

## To reproduce

Steps to reproduce the behavior:

1. Load the large pre-trained ELECTRA model using Electra

[2020-05-21 14:37] alaa-abdelsamie commented on #4454
Can you check the Dmoz[Dmoz]
the database in sql he cost 1000$ to change it  (https://idmoz.org)

[2020-05-21 14:53] albarji opened #4501 "Pipelines do not control input sequences longer than those accepted by the model"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): DistilBERT

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give det

[2020-05-21 14:56] bobshih commented on #4171
hello,
I created a encoderdecoder model by
 `
model = EncoderDecoderModel.from_encoder_decoder_pretrained("bert-base-chinese", "bert-base-chinese")
`
and then use the comman, save_pretrained, to save model in a folder,
Then, I use from_pretrained from another script, but there are a brunch of wieghts were not initalized.

I think it doesn't init the model from pretrained model.
But I am sure I hav

[2020-05-21 15:46] elyesmanai opened #4502 "How to finetune ELECTRA on glue?"
After pretraining my own electra model, I wanted to test it out in Glue using run_glue.py.
However I got this:
[code]
After taking a look at the source code, It seems like ElectraConfig isn't available for sequence classification, is there a reason for that?  Did anyone finetune electra on glue?

[2020-05-21 16:41] Sriharsha-hatwar commented on #4400
Just wanted to mention that providing `num_workers = 0` bypasses the problem. So it only fails when multiprocessing is involved. This issue is not only in `BertWordPieceTokenizer`, It also fails with `ByteLevelBPETokenizer` .

[2020-05-21 16:47] Sriharsha-hatwar commented on #4400
And this probably should be moved to the tokenizer repo @sshleifer to confirm.

[2020-05-21 17:32] mahdirezaey commented on #2898
Perhaps, another idea is that
words in sentence A do attention on sentence B, anyway
and that attention is very important to get great results in MLM task (here I mean block size of 128)

even regarding the fact that  A and B are related sentences juts half of the times
(and that attentions are the main inputs for task NSP)

And by using block size of 64 (and not doing task NSP during the training

[2020-05-21 17:40] nateraw commented on #3925
@srush I can take care of this when I go to work on #4494 if that's alright with you.

[2020-05-21 17:44] kevinlu1248 commented on #4406
@patil-suraj Thanks, I'll look into it.

[2020-05-21 18:19] ThomasSYT commented on #4490
Now I'm using head_mask instead of prune_heads. So, I didn't actually prune heads.

[2020-05-21 18:20] #4490 closed

[2020-05-21 18:26] julien-c opened #4504 "SummarizationPipeline crashes"
[code]
➡️
[code]

[2020-05-21 18:48] Damiox commented on #4368
I'm really looking forward to knowing if this can be fixed so to continue working as it was working up to v2.8.0. Any new thoughts on this? Thanks

[2020-05-21 20:20] JayCC83 commented on #1705
Hi, when I was trying to wget the scripts, it says 404 not found... Probably it is been removed somewhere?

`!wget 'https://raw.githubusercontent.com/huggingface/transformers/master/examples/run_squad.py'`

[2020-05-21 20:40] #1997 closed

[2020-05-21 20:40] #3067 closed

[2020-05-21 20:50] mfeblowitz opened #4507 "Hard-coded force_download in run_squad forces expensive community download"
# 🐛 Bug

## Information
Using a community-registered model (albert, squad2) I noticed that there's no real caching going on during predict/evaluate. In an application that invokes run_squad dozens to hundreds of times, this adds significantly to processing time.

This is due to at least one of the two force_download hard-codings in the run_squad.py script. It would be best to promote the force_dow

[2020-05-21 21:07] gaurav-singh1998 commented on #3879
Hi, @patrickvonplaten I want to take up this issue. Can I move forward with it?

[2020-05-21 21:11] LeonieWeissweiler opened #4508 "FillMaskPipeline crashes when executed on TPU"
# 🐛 Bug

## Information

I am following the tutorial in https://colab.research.google.com/github/huggingface/blog/blob/master/notebooks/01_how_to_train.ipynb#scrollTo=QDNgPls7_l13 and running on Google Colab using the TPU. The Pipeline object creation works fine, but when I try to run it on the example sentence, the Colab runtime crashes immediately with an unclear cause and no error message. If I

[2020-05-21 21:12] stefan-it commented on #4231
Hi @pvcastro

for an uncased model the convention is to use the "strip accents" feature, so please try to set `strip_accents": true` in your tokenizer config. Hopefully this solves the problem :)

[2020-05-21 21:15] stefan-it commented on #3879
I think this could have side effects for libraries that use `config.output_hidden_states`, so I'm cc'ing @Timoeller and @brandenchan, because this parameter is used in FARM.

[2020-05-21 21:49] pvcastro commented on #4231
Hi @stefan-it , thanks for the response!

I changed this single property in my tokenizer_config.json as you suggested, but made no difference. Got the exact same results :thinking:

[2020-05-21 22:03] sam-qordoba commented on #4483
@dimi1357 out of curiosity, what does training this look like?

[2020-05-21 23:16] nateraw commented on #4497
Your use case seems specific, so maybe you should try a custom Tokenizer via the `tokenizers` library. I believe the results you're getting are the intended behavior.

For example, any generic sentence where someone forgets to put a space after the period would end up tokenized incorrectly otherwise:

`I love lamp.No I really love lamp.` would leave you with a token `lamp.No`, which is incorrect,

[2020-05-21 23:35] #4495 closed

[2020-05-21 23:42] Colanim commented on #4478
I'm training ELECTRA for Extractive Text Summarization.

I will try to increase the batch size and see the results, thanks for the pointer.

What bother me is that I used TFElectra and I could train the model at ~8 iterations per sec.

Same model and same hyper-parameters on Pytorch and it's slower.

But I realized that in my model, since it's extractive summarization, I'm extracting the [CLS] rep

[2020-05-22 02:25] zhuqunxi opened #4511 "AttributeError: 'SummaryWriter' object has no attribute 'add_hparams'"
# 🐛 Bug

## Information

Traceback (most recent call last):
  File "F:/Kaggle/Hug/Colab/main.py", line 105, in <module>
    trainer.train()
  File "c:\programdata\anaconda3\lib\site-packages\transformers\trainer.py", line 359, in train
    self.tb_writer.add_hparams(self.args.to_sanitized_dict(), metric_dict={})
AttributeError: 'SummaryWriter' object has no attribute 'add_hparams'

[2020-05-22 03:43] Xunzhuo commented on #4497
tks~ it helps a lot ~

[2020-05-22 03:44] #4497 closed

[2020-05-22 04:09] liuzzi commented on #4502
I have a pull request here
https://github.com/huggingface/transformers/pull/4257

[2020-05-22 05:57] #3170 closed

[2020-05-22 06:15] Santosh-Gupta commented on #1705
I believe the code has been refactored a while ago, maybe try the Dec version of transformers, or update your code to get the location of the new data processors

[2020-05-22 06:50] pranavpawar3 commented on #4144
@patil-suraj Initiating model as LighteningModule instance worked, Thanks!!

[2020-05-22 07:06] catqaq opened #4512 "ValueError: TracedModules don't support parameter sharing between modules"
# 🐛 Bug

## Information

Language I am using the model on English:

## To reproduce
Steps to reproduce the behavior:

1.run the "Quick tour" code:
[code]
2. Encountered the bug:

  File "/home/**/anaconda3/envs/dl/lib/python3.6/site-packages/torch/jit/__init__.py", line 1860, in check_unique
    raise ValueError("TracedModules don't support parameter sharing between modules")

ValueError: TracedMo

[2020-05-22 07:24] MSMOON opened #4513 "Couldn't reach server GPT-2"
I have tried to use gpt2 using ubuntu and vagrant. This is the code:
`
import torch
from lm_scorer.models.auto import AutoLMScorer as LMScorer
scorer = LMScorer.from_pretrained("gpt2")
`
I get this error:

It has worked before but I had to reset my virtual environment and now it no longer worked. I think it has something to do with apache configurations.

Also, It works in the terminal but not in

[2020-05-22 07:24] MSMOON commented on #4513
I also created this stack overflow question here: https://stackoverflow.com/questions/61944526/oserror-couldnt-reach-server-gpt2-config-json

[2020-05-22 07:46] Colanim opened #4514 "❓ How Linear layer difference between TF2 and PT are handled ?"
# ❓ Questions & Help

There is a difference between TF2 and Pytorch on how to store the weights of a Linear Layer.

As shown in [this Colab notebook](https://colab.research.google.com/drive/1zLWONO3wo09-PImo0kg1bwARsh2jKnpQ?usp=sharing), in order to get the same output for both TF2 and PT when using `torch.nn.Linear` and `tf.keras.layers.Dense`, we need to transpose the weights in PT.

**I couldn'

[2020-05-22 08:29] BramVanroy commented on #4513
It is odd that it works from CLI but not from within your script. That does not make a lot of sense. Can you try this?

[code]

[2020-05-22 08:31] BramVanroy commented on #4512
Can you give more information? This is too brief. Please post the full error that you get (also called error or stack trace) and _do not_ post it as a screenshot but use [code blocks](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) instead.

[2020-05-22 08:33] BramVanroy commented on #4511
Please fill out the template. It is there for a reason.

See this question, which might help: https://github.com/lanpa/tensorboardX/issues/502

[2020-05-22 08:42] BramVanroy commented on #4507
Hi, thanks for the well-formulated question! Are you using the latest examples? When I look at the current branch, there is no force_downloading (any more) - it has been commented out:

https://github.com/huggingface/transformers/blob/a08652772791fdaeed6f263b1a99926ca64be5dc/examples/question-answering/run_squad.py#L790

https://github.com/huggingface/transformers/blob/a08652772791fdaeed6f263b1a99

[2020-05-22 08:42] catqaq commented on #4512
Hi, here is the detail:
train_dataset = glue_convert_examples_to_features(data['train'], tokenizer, max_length=128, task='mrpc')
valid_dataset = glue_convert_examples_to_features(data['validation'], tokenizer, max_length=128, task='mrpc')
train_dataset = train_dataset.shuffle(100).batch(32).repeat(10) #train: 3668/32~115 steps, repeat=epochs
valid_dataset = valid_dataset.batch(64) #valid: 408/64~7

[2020-05-22 08:45] BramVanroy commented on #4512
As I said: _use code blocks_ please. It is unclear what your comments are and what the code is. _Use those code blocks_ - it's super easy.

Also, in your original post you used PyTorch, and now you post TF code. You can't torch.jit a TF model.

[2020-05-22 08:56] BramVanroy commented on #4501
Thanks for the well-structured question! It helps a lot in helping you.

`pipeline` actually already accepts what you request: you can pass in a tuple for the tokenizer so that the first item is the tokenizer name and the second part is its kwargs.

https://github.com/huggingface/transformers/blob/a08652772791fdaeed6f263b1a99926ca64be5dc/src/transformers/pipelines.py#L1784-L1790

You should be abl

[2020-05-22 09:03] BramVanroy commented on #4498
This is a general question and does not sound like a bug. With these large models it is sometimes hard to find a good set of hyperparameters to get the model to converge well. The same is true, and reported, for ALBERT. I don't think this is a bug.

[2020-05-22 09:03] Mozen commented on #4511
hello i find the same error,
`Traceback (most recent call last):
  File "run_language_modeling.py", line 281, in <module>
    main()
  File "run_language_modeling.py", line 245, in main
    trainer.train(model_path=model_path)
  File "/home/zhongqi/anaconda3/envs/transformers_bert/lib/python3.6/site-packages/transformers/trainer.py", line 418, in train
    self.tb_writer.add_hparams(self.args.to_s

[2020-05-22 09:10] BramVanroy commented on #4496
You really need to put more effort in how you ask questions. Just throwing in some error trace and leaving it up to us to figure out what you want or where things go wrong is not the way to go. Use [**code blocks**](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) and when using an example script, post your environment (as per the **template**) and post th

[2020-05-22 09:13] BramVanroy commented on #4511
@Mozen Can you update to the latest transformers? Many things have changed - we now use a custom trainer class for the example scripts. Let me know whether that helps!

[2020-05-22 09:20] Mozen commented on #4511
@BramVanroy  i used is already the latest version, and my torch version is 1.1.0， Related to this?

[2020-05-22 09:21] zhuqunxi commented on #4511
I found  'add_hparams'` only exsiting in torch >1.3.1,  so I update the version of torch, the problem is solved!  Moreover, when torch >1.3.1, you should update the version of cuda, at least >= cuda 9.2.

[2020-05-22 09:22] zhuqunxi commented on #4511
should update torch >1.3.1

[2020-05-22 09:22] BramVanroy commented on #4492
Hi. This is not a bug but is expected: since the model works on the character level, a tokenizer is not "required". You can read more in [the model card](https://huggingface.co/google/reformer-enwik8#reformer-language-model-on-character-level-and-trained-on-enwik8) on how you can encode/decode your data.

[2020-05-22 09:22] #4492 closed

[2020-05-22 09:23] Mozen commented on #4511
@zhuqunxi OK thanks

[2020-05-22 09:23] zhuqunxi commented on #4511
Thanks for helping me. I have fixed this problem by myself.

[2020-05-22 09:24] BramVanroy commented on #4511
If you had followed the template, and posted all the requested information such as your environment, this would have been solved much more quickly.

[2020-05-22 09:24] #4511 closed

[2020-05-22 09:27] zhuqunxi commented on #4511
Awesome，thanks for your advice. I really need to learn how to ask questions.

[2020-05-22 09:33] catqaq opened #4516 "sometimes loss starts with nan when running "Quick tour TF 2.0 training and PyTorch interoperability" script"
# 🐛 Bug

## Information
The problem arises when using:
* [x] the official example scripts: (give details below)
"Quick tour TF 2.0 training and PyTorch interoperability"

## To reproduce

Steps to reproduce the behavior:

1.run the code:
[code]
2. sometimes the loss is nan and sometimes it works well:
### nan case:
Train for 115 steps, validate for 7 steps
Epoch 1/10
115/115 [=====================

[2020-05-22 09:34] BramVanroy commented on #4491
I cannot reproduce this. This works for me (same environment except Python 3.8 which should not make a difference). Can you try again but force_overwrite potentially corrupt files?

[code]

[2020-05-22 09:37] BramVanroy commented on #4486
This is the expected behaviour: `len(tokenizer)` shows you the actual size, whereas `.vocab_size` tells you the original size.

https://github.com/huggingface/transformers/blob/a08652772791fdaeed6f263b1a99926ca64be5dc/src/transformers/tokenization_utils.py#L2285-L2290

PS: don't forget to update your model's embeddings!

[code]

[2020-05-22 09:38] stefan-it commented on #4498
@shanybarhom A good start would be to use the hyper-parameters mentioned in the [ELECTRA](https://arxiv.org/abs/2003.10555) :) Just refer to table 7.

So your batch size, adam epsilon and epochs are very different compared to the ELECTRA parameters.

[2020-05-22 09:39] BramVanroy commented on #4485
Closing in favour of the better formulated question here: https://github.com/huggingface/transformers/issues/4491

[2020-05-22 09:39] #4485 closed

[2020-05-22 09:41] elyesmanai commented on #4502
I just cloned your repo an tried to test with my model and it keeps saying the same:
![image](https://user-images.githubusercontent.com/21007166/82654565-39745300-9c21-11ea-8da8-ad3bebb8a391.png)

Could you tell me how it's used?

[2020-05-22 09:48] BramVanroy commented on #4484
I can reproduce this error, but it is working with other models for me. Pinging @tholor who might know what is going on.

[2020-05-22 09:56] BramVanroy commented on #4471
This is not a bug but expected behaviour. The length of the tokenized input is only calculated after padding.

https://github.com/huggingface/transformers/blob/a08652772791fdaeed6f263b1a99926ca64be5dc/src/transformers/tokenization_utils.py#L1981-L1982

Perhaps you are right, though, and it would be more useful to get the size before padding!

[2020-05-22 10:02] chenjunweii opened #4517 "How to train a custom seq2seq model with BertModel"
How to train a custom seq2seq model with `BertModel`,

I would like to use some Chinese pretrained model base on `BertModel`

so I've tried using `Encoder-Decoder Model`, but it seems the`Encoder-Decoder Model` is not used for conditional text generation

and I saw that BartModel seems to be the model I need, but I cannot load pretrained BertModel weight with BartModel.

by the way, could I finetu

[2020-05-22 10:03] BramVanroy commented on #4457
Thanks for the extensive bug report! I can confirm that you are correct and that the issue does not occur when using the slow option.

Pinging @n1t0

[2020-05-22 10:08] jrvc opened #4518 "[marian] possible memory leak problem while translating & extracting internal representations"
# 🐛 Bug

## Information
I am extracting the internal representations of some of the Marian models.
There seems to be a memory leak problem. In this issue, you will find code for running the model sentence by sentence (bsz = 1) just to keep it simple. When I use batching, the problem persists and arises earlier.

Model I am using: MarianMT
` modelnames=[f'Helsinki-NLP/opus-mt-en-{tgt}'  for tgt in

[2020-05-22 10:08] pgfeldman commented on #4491
Hi,

I rebased the transformers project just before running this and updated
with "pip install --upgrade ." in the root transformers directory.

Here is the code as run:

from transformers import MarianTokenizer, MarianMTModel
from typing import List
src = 'fr'  # source language
trg = 'en'  # target language
sample_text = "où est l'arrêt de bus ?"
mname = f'Helsinki-NLP/opus-mt-{src}-{trg}'

mode

[2020-05-22 10:28] BelhalK opened #4520 "How to use its own custom Optimizer (GLUE Example)"
# ❓ Questions & Help
I am referring to the example on GLUE text-classification/run_glue.py.
I would like to change the default optimizer (which I believe it to be ADAMW) to my own one.
Should be in the imported Trainer or TrainingArguments, but I have not found an example doing so.

Is it possible with any optimizer? (as long as they are written as a Torch Optimizer of course)
Thanks a lot!

[2020-05-22 11:03] pvcastro commented on #4231
Just to be clear, I'm using overwrite-output-dir and overwrite-cache to make sure that I'm not using any old files, and the tokenizer_config.json in the output-dir is updated with strip_accents true.

[2020-05-22 11:16] jrvc commented on #4518
ooook.... this is embarrassing. I just realized that I had to detach the variable, so GPU memory could be freed.
This does the trick:
[code]

sorry for the trouble ;) and thanks for the repo and all your hard work

[2020-05-22 11:16] #4518 closed

[2020-05-22 11:17] stefan-it commented on #4231
That's really strange. Could you also set the same learning rate as in the ELECTRA example (Transformers uses 5e-5 as default).

I had a look at the ELECTRA fine-tuning example a while ago -> I did implement an own evaluation class that uses `seqeval` like in Transformers. The results were a bit different between `seqeval` and ELECTRA evaluation output, but definitely not ~35%!

[2020-05-22 12:30] catqaq commented on #3845
Hi, have you fixed this error? I just got the same error. Any help will be grateful!

[2020-05-22 12:41] pvcastro commented on #4231
Oh, that helped a lot. Now it went to 65.41%. Do you think the remaining difference is due to the evaluation differences?

Strange that for english CoNLL 2003 you're able to get good results using the standard 5e-5 learning rate, right?

[2020-05-22 13:09] HiroshigeAoki commented on #3845
Hi, I have already fixed it. I made a mistake on tsv files. After converting them to correct format by using LibreOffice, glue.py ran correctly.
I hope this could be help you!

[2020-05-22 13:11] mahdirezaey opened #4521 "Using DistillBert to train Bert (run_languge_modeling.py) for some languge from scratch"
# ❓ Questions & Help

Is it a right thing to use 'distilbert-base-cased'  for training that with more data for some language ( which exists in the list of multilingual languages , and doesn't have a separate model still)

Will we reach good results as good as doing that with 6 layer BERT ?
Is there any differences between  6 layer BERT and distillBert (to use as the model for run_languge_modeling.

[2020-05-22 13:51] LysandreJik commented on #4502
@liuzzi's PR was merged this morning. The `ElectraForSequenceClassification` model is now available, so you can use it directly in `run_glue.py`.

Please make sure to pull the latest changes from the repo, or to wait for `v2.10` which should be released in a few hours.

[2020-05-22 13:51] #4502 closed

[2020-05-22 14:03] elyesmanai commented on #4502
awesome, it works perfectly, thank you very much!

[2020-05-22 15:01] baiziyuandyufei commented on #4214
I encountered this bug

[2020-05-22 15:17] RensDimmendaal opened #4523 "Can't reproduce export to onnx with custom bert model"
# 🐛 Bug

I try to run onnx export on a custom bert model, but during inference I get the following error.
I share a google colab with the minimum changes to reproduce. All changes are marked with a `# CHANGE` comment. https://colab.research.google.com/drive/1eiqyQmvhwGih6IHrOg7MkLSc2q0zMHmH?usp=sharing

[code]

## Information

Model I am using (Bert, XLNet ...): Bert

Language I am using the model

[2020-05-22 15:32] MSMOON commented on #4513
I tried that code but I get the same error. I believe it has something to do with what apache2 is allowing me to connect to or some download I am missing because it has worked previously.

I tried downloading gpt2 config, model.bin, and vocab file but I would either get the same error as above or get this error:

[2020-05-22 16:11] mfuntowicz commented on #4523
Hi @RensDimmendaal,

Thanks for reporting this 👍.
Can you share the shape of the input you're feeding to the ONNX model?

[2020-05-22 16:16] RensDimmendaal commented on #4523
Thanks for investigating!

[code]
[code]

Source: https://colab.research.google.com/drive/1eiqyQmvhwGih6IHrOg7MkLSc2q0zMHmH#scrollTo=64GodG5fKb0m&line=2&uniqifier=1

[2020-05-22 16:20] catyeo18 commented on #2404
Got the same error running in a Docker container, while the same code works completely fine locally.

[code]
The pretrained model is saved in the path `/model`. This path setup is the same as how I do it locally/separately. But I can't seem to figure out the issue as to why when I integrate this code into a Docker container, it hits these errors. Furthermore, I have confirmed that I am in the righ

[2020-05-22 16:26] patrickvonplaten commented on #3879
That would be great, feel free to open a PR and do a first model. The PR should be very similar to what was done in PR #3734

[2020-05-22 16:28] LysandreJik commented on #4514
[Here's an example when loading a TF BERT model in PyTorch.](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bert.py#L122)

[2020-05-22 16:36] LysandreJik commented on #4508
Hello! Pipelines are not tested on TPUs yet, unfortunately, and we have not made any effort to support them on that device. We may down the road, once TPU CI is more easily available.

[2020-05-22 16:36] #4508 closed

[2020-05-22 16:45] mfuntowicz commented on #4523
Interesting I'm not able to reproduce on my side (_see at the end_).

Can you try restarting the Colab kernel? _(just to make sure the path are correctly updated)_.
Let us know if it change something, if not I'll dig further on a custom colab.

[code]

[2020-05-22 16:54] gaurav-singh1998 commented on #3879
Hi, @patrickvonplaten as I am new here I might take some time to get acquainted with the codebase and come up with a PR. Is it okay?

[2020-05-22 17:00] RensDimmendaal commented on #4523
I've done a restart and run all and the problem persists.

i ran your code too, and it gives the following error:

[code]

source: https://colab.research.google.com/drive/1eiqyQmvhwGih6IHrOg7MkLSc2q0zMHmH#scrollTo=dXeNg37RTxl_&line=9&uniqifier=1

[2020-05-22 17:25] mfuntowicz commented on #4523
Ok , thanks for checking @RensDimmendaal .

I'll do some experiments on a fresh notebooks and post update here 👍

[2020-05-22 17:52] LysandreJik commented on #969
Yes, but it's named `run_language_modeling.py` now.

[2020-05-22 18:16] thomasrockhu opened #4524 "Codecov migration to marketplace app"
Hi, Tom from Codecov here.

We noticed that you are using our app with high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting from GitHub.

**In order to prevent any future outages, we ask that you move over to our GitHub marketplace app: https

[2020-05-22 18:59] peskotivesgeroff opened #4525 "Error in Longformer attention mask using apex mixed precision"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Longformer

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give det

[2020-05-22 19:00] julien-c commented on #2341
Closed by @patrickvonplaten

[2020-05-22 19:00] #2341 closed

[2020-05-22 19:16] PeterAJansen commented on #2472
I can confirm also having this issue on 2.10.0

[2020-05-22 19:27] LysandreJik commented on #4455
Sure, these are called hidden states! Here's the [documentation of the XLNet model](https://huggingface.co/transformers/model_doc/xlnet.html?highlight=output_hidden_states#transformers.XLNetModel).

Please note the third return:

[2020-05-22 19:27] #4455 closed

[2020-05-22 19:35] julien-c commented on #4520
Hi, the Trainer takes an optional `optimizers` arg which is a two-tuple of (optimizer, scheduler):

https://github.com/huggingface/transformers/blob/95a26fcf2d8d7072e4e63129cea8605f756bba1d/src/transformers/trainer.py#L152-L181

[2020-05-22 19:35] #4520 closed

[2020-05-22 19:57] #1730 closed

[2020-05-22 20:27] soldni opened #4527 "Tokenizers bug: version 2.10 doesn't honor `max_len` when instantiating a pretrained model"
# 🐛 Bug

## Information

Hello! I've just upgraded from Transformers 2.8 to Transformers 2.10, and noticed that parameter `max_len` is not properly honored when instantiating a pretrained model. For example, in Transformer 2.8.0, I was able to limit the length of a tokenized sequence as follows:

[code]

However, on version 2.10, `max_len` is ignored when loading a pretrained tokenizer:

[code]

T

[2020-05-22 20:29] soldni commented on #4527
Additional info: I ran git-blame, and determined that the change was introduced in this PR [#3706](https://github.com/huggingface/transformers/pull/3706).

[2020-05-22 20:53] mfuntowicz commented on #4527
Hi @soldni, thanks for reporting the issue.

The behavior you mention can now be achieved through:

[code]

Also, please note `RobertaTokenizer` now has it "fast" counterpart, `RobertaTokenizerFast` which is implemented in Rust and can greatly improve the performances of the tokenizer. API stays the same between both implementations.

Morgan

[2020-05-22 21:04] soldni commented on #4527
Hi @mfuntowicz!

Thank you for the quick response! The issue remains that the tokenizer fails to initialize properly without raising an error. I guess I don't understand why `max_len` is still supported in some situations, but not others. I would have been fine with an error being raised, but hunting for this issue took quite a bit of time.

-Luca

[2020-05-22 21:14] mfuntowicz commented on #4527
You're right about the conflict if both are provided.

I've opened a PR to at least write a warning the `max_len` parameter is being deprecated and `model_max_length` is now preferred.

[2020-05-22 21:25] soldni commented on #4527
Awesome! In the meantime, I've updated my code as you recommended.

Thanks again for the super quick response on this.

-Luca

[2020-05-22 21:48] mfuntowicz commented on #4527
@soldni I've fixed the issue when both are provided in the same PR, it will be included in the next patch release.

Thanks for reporting!
Morgan

[2020-05-22 21:48] #4527 closed

[2020-05-22 21:49] #4504 closed

[2020-05-22 22:41] Santosh-Gupta opened #4529 "Minor correction in Roberta Model docs, Roberta doesn't use NSP"
In the roberta model docs

https://huggingface.co/transformers/model_doc/roberta.html

Last layer hidden-state of the first token of the sequence (classification token) further processed by a Linear layer and a Tanh activation function. The Linear layer weights are trained from the next sentence prediction (classification) objective during Bert pretraining. This output is usually not a good summar

[2020-05-22 23:10] #3911 closed

[2020-05-23 01:11] divkakwani commented on #4214
Removing the `test_end` method in `BaseTransformer` (file: https://github.com/huggingface/transformers/blob/master/examples/lightning_base.py) solved the issue for me.

From my understanding, what is happening here is that at the end of testing, `test_end` is being called which is just returning `None` and that's why we are getting the error.  `test_end` is  actually deprecated now in favor of `te

[2020-05-23 02:05] baiziyuandyufei commented on #4214
@divkakwani Thank you! Perfect!

[2020-05-23 03:04] liuyair commented on #4036
Hi, have you solved this problem?

I have a similar problem. I'm doing a multi-classification task over 8 classes. My task is to classify the entity type of short texts(usually < 32, much shorter than yours). These classes are something like school name, company name, job title, etc. Besides, I'm using the tf2 version model `TFBertForSequenceClassification` for my task.

However, at most of the ti

[2020-05-23 04:30] shoarora opened #4532 "MMBT doesn't inherit from nn.Module"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): MMBT

Language I am using the model on (English, Chinese ...): not related

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give detai

[2020-05-23 05:26] nateraw commented on #4214
@divkakwani nice catch! Will remove/replace `test_end` from `BaseTransformer` when I submit PR for #4494.

[2020-05-23 06:23] #3303 closed

[2020-05-23 06:36] #4514 closed

[2020-05-23 08:01] minhnguyenth opened #4535 "How to speed up inference step in BertQuestionAnswering?"
I'm working on a QA system which uses a pre-trained BertQA model. At this point, even if I use GPU, the step generating start_scores and end_scores  for a set of 20 candidate passages till takes a few seconds which is the bottleneck of my application.

I just wonder do we have any strategies/tricks to speed up this step? So far, it seems using multiple GPUs at the inference step does not help at a

[2020-05-23 08:27] BramVanroy commented on #4529
You're absolutely right. Feel free to submit a PR to rectify this!

[2020-05-23 08:30] BramVanroy commented on #4525
Good catch! I guess that soon you'd want to move over PyTorch's built-in AMP which takes care of this automatically (I _think_), but for the time being your suggestion is a good fix. You can submit a PR if you want!

[2020-05-23 08:31] BramVanroy commented on #4524
cc @LysandreJik @thomwolf

[2020-05-23 08:35] BramVanroy commented on #4535
To improve inference speed you can use ONNX (also see here: https://github.com/huggingface/transformers/issues/260). In addition, you can opt for a distilled model rather than the full model.

[2020-05-23 08:43] BramVanroy commented on #4521
I guess you can, since the architecture of distilbert is more or less the same as BERT (just half the layers), but I would not expect great performance. The power of distilling lies (next to the training objective) in having a teacher model (e.g.. a full BERT model) and initializing the distilled student network with weights from the teacher. If you don't do that it might not be easy to have good

[2020-05-23 08:52] BramVanroy commented on #4513
If you are sure that you have manually downloaded all files to the correct folder, you can disable the online look-up. This is useful if you have, as you say, network restrictions.

[code]

[2020-05-23 09:14] BramVanroy commented on #4516
I ran your script five times and I cannot reproduce this so it's very hard to debug. Can you clear the cache created by convert_examples and try again? And if that does not work, try updating tensorflow and tensorflow_datasets to the latest versions.

[2020-05-23 09:31] MSMOON commented on #4513
Still nothing yet.
1. I downloaded everything from https://huggingface.co/gpt2#list-files
2. Added files to the same directory the script is in
3. changed names (e.g. gpt2-config.json to config.json)

Is there anything I am missing?

[2020-05-23 10:00] virginianegri opened #4536 "resize_token_embeddings not implemented for TFGPT2LMHeadModel"
I am using a TFGPT2LMHeadModel pretrained model and new special tokens to the gpt tokenizer.
However, the method resize_token_embeddings is not implemented in all gpt2 tf models.
Will it be added? Or are there any workarounds?

Thank you!

[2020-05-23 10:38] drjosephliu commented on #4036
Yes, turns out I was not constructing the model properly. All I had to do was call `
model = BertForSequenceClassification.from_pretrained(config)` instead.

[2020-05-23 10:38] #4036 closed

[2020-05-23 10:41] jplu commented on #4453
Hello!

If you want to train over SQuAD I suggest you to use the [run_tf_squad.py](https://github.com/huggingface/transformers/blob/master/examples/question-answering/run_tf_squad.py) example that uses
or to check the following [Colab](https://colab.research.google.com/github/huggingface/nlp/blob/master/notebooks/Overview.ipynb#scrollTo=kxZQ9Ms_vSV1) that uses the new `nlp` framework with a `.fit(

[2020-05-23 11:23] #3308 closed

[2020-05-23 11:39] patrickvonplaten commented on #4536
Hi @virginianegri,

Could you specific for which model the method `resize_token_embeddings` does not work?
Can you add a code snippet that reproduces the error?

[2020-05-23 11:41] BramVanroy commented on #4513
This is likely to be a problem with the LMScorer rather than with this transformers library. Looking t the source code, it does not pass they keyword arguments down to model init. I suggest that you make an issue over at the library that you used.

https://github.com/simonepri/lm-scorer/blob/master/lm_scorer/models/gpt2.py

[2020-05-23 12:35] patrickvonplaten commented on #4501
I think the problem is the following. Here: https://github.com/huggingface/transformers/blob/e19b978151419fe0756ba852b145fccfc96dbeb4/src/transformers/pipelines.py#L463
The input is encoded and has a length of 701 which is larger then `self.tokenizer.model_max_length` so that the forward pass of the model crashes.

A simple fix would be to add a statement like:
[code]
no arguments for the `batch_e

[2020-05-23 12:36] manzar96 commented on #4445
Do we have any updates on this issue?

[2020-05-23 13:14] manzar96 commented on #3715
I would like to ask if you think that using the encoder-decoder model (with wrapping the gpt2 model as encoder and decoder too) will provide normal results, or wrapping the gpt2 model as encoder is not a good idea(maybe use bert as encoder?)?

[2020-05-23 14:47] #2562 closed

[2020-05-23 14:51] amy-hyunji commented on #4425
@miketrimmel Hi, Is there still a bug if I try to train electra from scratch using run_language_modeling.py or it is available now? Thanks!

[2020-05-23 15:27] drjosephliu commented on #3880
Is this still be worked on? If not, I'd be happy to make a first contribution here

[2020-05-23 15:49] mcggood commented on #4240
It works if you didn't install transformers package, or you will need to modify the installed package file.

[2020-05-23 16:27] patrickvonplaten commented on #3880
First PR first serve ;-) Still an open issue

[2020-05-23 17:13] sam-qordoba commented on #4406
Hi @patil-suraj, I am following that example and have my data in that format, and I can see the process using GPU/CPU, but I can't get tensorboard working. Do you have any hints? I am happy to contribute to documentation once I get it working.

[2020-05-23 17:44] drjosephliu commented on #3880
Any tips on how I should proceed? I was thinking of following the changes made for `config.output_past` (01c37dc), but for `config.output_attentions` instead.

[2020-05-23 17:51] Bharat123rox commented on #3880
Oh sorry @drjosephliu didn't notice the comment as I was working on it earlier today, my apologies 😞

[2020-05-23 17:51] patil-suraj commented on #4406
lightning handles logging itself and by default the tensorboard logs are saved in lightning_logs directory. So you should be able see the logs by passing  lightning_logs as the logdir to tensorboard command.

[2020-05-23 18:19] reyfar commented on #3852
@patrickvonplaten - thanks, I just came across this because I was wondering the same for BERT. Some added documentation there would be appreciated. TBH I don't follow your explanation above. I'm using pytorch and not too familiar with tf/keras. I'm also just starting out with these libraries so my understanding in general is quite shallow....

[2020-05-23 18:29] miketrimmel commented on #4425
I had issues with the tb_writer. i tried it for new now and there were no issues with the writer any more(maybe I had an old version).
If you´re using a pretrained tokenizer it should work now. Training a new tokenizer is not supported. I have to say I´m new into the tokenization things. I´m training a Twitter language model from scratch so i wasn´t sure if the model will perform as good with the

[2020-05-23 18:41] sam-qordoba commented on #4406
Thanks @patil-suraj

[2020-05-23 19:23] Santosh-Gupta commented on #4529
I think SOP was introduced into Albert

sentence-order prediction (SOP). SOP primary focuses on inter-sentence coherence and is designed
to address the ineffectiveness (Yang et al., 2019; Liu et al., 2019) of the next sentence prediction
(NSP) loss proposed in the original BERT.

https://arxiv.org/pdf/1909.11942.pdf

So it looks like the Albert document needs to be changed as well

https://hugging

[2020-05-23 20:46] #3304 closed

[2020-05-23 23:18] dimitreOliveira opened #4540 "InvalidArgumentError while using GRU layer in custom training loop"
**System information**
- TensorFlow version `2.1.0`
- Python version: `3`
- GPU model and memory: `NVIDIA Tesla P100`
- CUDA Version: `10.1`
- Environment: This happens both on Kaggle and Colab

**Describe the current behavior**
I'm trying to train a Hugging face transformer model (roBERTa base) with a custom training loop, and got the error below:

[code]
The thing is I can run the same model usi

[2020-05-24 02:36] Santosh-Gupta commented on #4529
I sent one of the authors an email asking about the layer, just wanted to be 100% sure before I make a PR.

[2020-05-24 02:40] amy-hyunji commented on #4425
Great! Thanks for explanation :)

[2020-05-24 03:21] lingdoc opened #4541 "'use_fast=True' results in 'TypeError' when trying to save tokenizer via AutoTokenizer"
# 🐛 Bug

## Information

Model I am using: all/any

Language I am using the model on: English

The problem arises when using:
* [x] the official example scripts: `AutoTokenizer.from_pretrained([model], use_fast=True)`

After updating to Transformers v2.10.0, when setting `use_fast=True` as in `tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased', use_fast=True)`, when trying to save the m

[2020-05-24 03:22] rautnikita77 opened #4542 "RuntimeError: The size of tensor a (1025) must match the size of tensor b (1024) at non-singleton dimension 3"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): gpt2

Language I am using the model on (English, Chinese ...): english

The problem arises when using:
* [x] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give details b

[2020-05-24 03:33] erickrf opened #4543 "Automatically setting number of LSH buckets in Reformer may give invalid value"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Reformer
transformers version: 2.9.0

When using a Reformer model such that `config.num_buckets` is set to `None` (as recommended), the model automatically determines the number of necessary buckets. However, depending on some hyperparameters, it may compute an odd number of buckets, which is invalid.

It happens at this line, because of

[2020-05-24 03:37] 1160300929 opened #4544 "seems that run_ner.py cannot handle the situation when example length exceed max_length?"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

## To

[2020-05-24 05:42] boy2000-007man opened #4545 "pass lowercase to fast tokenizer"
https://github.com/huggingface/transformers/blob/a34a9896ac2a4a33ff9cd805c76eed914c8d8965/src/transformers/tokenization_gpt2.py#L338-L343
only passes four parameters without `lowercase` to
https://github.com/huggingface/tokenizers/blob/704cf3fdd2f607ead58a561b892b510b49c301db/bindings/python/tokenizers/implementations/byte_level_bpe.py#L15

[2020-05-24 06:38] hljjjmssyh commented on #548
@shawnkx Hi! Have you found a solution？

[2020-05-24 08:13] kaniblu opened #4549 "Example script for SQuAD question answering unable to reproduce the claimed performance"
# 🐛 Bug

## Information

The example script for SQuAD question answering (`examples/question-answering/run-squad.py`) fails to produce the correct results as claimed in the tutorial.
The correct performance is around f1 = 88.52, exact_match = 81.22 on SQuAD v1.1, but the script produces f1 = 81.97 and exact match = 73.80 instead.

## To reproduce

Steps to reproduce the behavior:

1. Install with

[2020-05-24 08:43] rlpatrao commented on #69
Well, this solution doesn't seem to be working now, I get

`OSError: Model name 'path/to/model/vocab.txt' was not found in tokenizers model name list (bart-/model/large, bart-large-mnli, bart-large-cnn, bart-large-xsum). We assumed 'path/to/model/vocab.txt' was a path, a model identifier, or url to a directory containing vocabulary files named ['vocab.json', 'merges.txt'] but couldn't find such vo

[2020-05-24 08:44] yonatanbitton commented on #4453
Hey.
Did you see my examples?
At "Try 2" I explained the problems using the new `nlp` framework with a `.fit()` method
I need to use a custom dataset.

Regarding `run_tf_squad.py`, I still have problems with it.
I want to use the `fit` method.
I'm using this code instead of the `VFTrainer` in the same file `run_tf_squad.py`.
This is the only change I made - same dataset, same examples, same featur

[2020-05-24 08:54] singhanadcheamontha opened #4550 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2020-05-24 08:57] singhanadcheamontha opened #4551 "[Benchmark]1"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2020-05-24 08:57] singhanadcheamontha opened #4552 "การบริจาค"
# 🌟 New model addition

## Model description

## Open source status

* [x] the model implementation is available: (give details)
* [x] the model weights are available: (give details)
* [x] who are the authors: (mention them, if possible by @gh-username)

[2020-05-24 08:58] singhanadcheamontha opened #4553 "การบริจาค-/"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

## To

[2020-05-24 08:58] singhanadcheamontha opened #4554 "ภ-"
# 📚 Migration

## Information

Model I am using (Bert, XLNet ...):

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

[2020-05-24 08:58] singhanadcheamontha opened #4555 "ำืก"
# ❓ Questions & Help

## Details

**A link to original question on Stack Overflow**:

[2020-05-24 09:02] drjosephliu commented on #3879
Sorry @gaurav-singh1998, I saw this issue was still open so I made a PR for it.

[2020-05-24 09:03] gaurav-singh1998 commented on #3879
Okay, no issues @drjosephliu I'll find some other good first issues to solve.

[2020-05-24 09:25] jplu commented on #4453
Sorry, misunderstanding, what I meant is that I proposed you to check how the features are built, if you want to use `.fit()` the features have to be built differently than in `squad_convert_examples_to_features`, also you have to use TF 2.2. Otherwise if you want to use this method, you have to pass by the trainer.

[2020-05-24 09:38] shanybarhom commented on #4498
Thanks, @stefan-it I've tried to use the same hyper-parameters as mentioned in the ELECTRA paper (lr=0.00005, batch_size=32, adam_epsilon=0.000001, epochs=3), but the electra-large model still doesn't converge (accuracy of ~50%).

@BramVanroy  I thought it is a bug since the electra-base and the electra-small converge quite quickly (90% accuracy after the first epoch) with the same code and data,

[2020-05-24 09:49] BramVanroy commented on #4529
Oof, sorry for the slip up. I've been working with different models these days so I sometimes mix 'em up.

The docs are generated from docstrings in the code. So you seem to be looking for this:

https://github.com/huggingface/transformers/blob/a34a9896ac2a4a33ff9cd805c76eed914c8d8965/src/transformers/modeling_tf_roberta.py#L194-L201

and for Albert:

https://github.com/huggingface/transformers/bl

[2020-05-24 09:53] #4555 closed

[2020-05-24 09:53] #4554 closed

[2020-05-24 09:53] #4553 closed

[2020-05-24 09:53] #4552 closed

[2020-05-24 09:54] #4551 closed

[2020-05-24 09:54] #4550 closed

[2020-05-24 09:58] yonatanbitton commented on #4453
Thank you for the answer. I prefare to use `fit`, you dont support it?
Anyway, this is the status with the `VFTrainer`:

I've used tensorflow 2.1.0 and I've now upgradeed to 2.2.0.
I still have problems:

[code]

It does create the `TFTrainer`, but when getting to the `.train()` cmd it fails:
[code]
Thank you

[2020-05-24 10:10] jplu commented on #4453
This error means that you haven't created the model in the proper scope. Did you use the scope created in the TrainerArgs?

What gives you the following command line:
[code]

[2020-05-24 11:08] yonatanbitton commented on #4453
That code works, **but** I need two extra things: 1. custom data, 2. evaluation/prediction on test dataset, it this doesn't work for me.

I took the `run_tf_squad.py` and added simple changes:
[code]

That is, only adding the test dataset.
Now I want to evalute my final model on it. I tried with both predict and evaluate and it doesn't work.

Try 1 -
[code]
Trace:
[code]

Try 2:
[code]
Trace:
[cod

[2020-05-24 11:20] jplu commented on #4453
That's normal, the evaluation/prediction are not implemented yet. I have to make the example compliant with the SQuAD metric from the `nlp` framework. It means that for now only training is possible.

But if you want to make this integration yourself and do a PR, you are very welcome to do it :) Otherwise I think to be able to do it in the next 2 coming weeks. Really sorry for that.

[2020-05-24 11:41] yonatanbitton commented on #4453
Thank you for the answers.

That's why I tried to use the normal tensorflow `fit` and `predict` methods as shown here https://blog.tensorflow.org/2019/11/hugging-face-state-of-art-natural.html.

Basically I just want to do training and evaluation during training, and then testing on the test dataset.
I succeed to do it with the pytorch model (`run_squad.py`), and I now tried to do it with the tens

[2020-05-24 12:06] dimi1357 commented on #4483
This is my training loop:
[code]

and I create the model this way:
[code]

[2020-05-24 12:37] BramVanroy commented on #4549
My results are different as well:

"exact_match": 71.92999053926206
"f1": 80.70949484221217

My guess is that this occurs because we are not using a fixed seed. The runs are not deterministic so difference _will_ occur.

[2020-05-24 12:45] kaniblu commented on #4549
Possibly but the difference of 7~8 points in f1 and EM scores is way above the usual variance due to random seeds.

[2020-05-24 13:46] #3062 closed

[2020-05-24 13:47] reyfar commented on #3852
Hi - I think I have related questions since I couldn't find answers in the documentation for get_input_embeddings()....

I've been using the approach [here](https://mccormickml.com/2019/05/14/BERT-word-embeddings-tutorial/) to access the hidden states to obtain embeddings (I've also updated it to be based on `transformers` in my own notebook instead of `pytorch-pretrained-bert`) . I was wondering

[2020-05-24 14:31] jetjodh opened #4559 "XLnet loss and accuracy not decreasing"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): XLnet base cased

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)
Can check the notebook below:
https://colab.research.google.com/drive/132r5kb1G5oG0yi-qnymBsMBPCGP5Gu85
Can only gi

[2020-05-24 14:31] jplu commented on #4453
I very quickly coded this so it is not really tested but it can gives you an idea of how to use `.fit()` method. It is based on the Colab version proposed for the `nlp` framework.

[code]

[2020-05-24 14:38] LeonieWeissweiler opened #4560 "Albert Tokenizer hangs"
# 🐛 Bug

## Information
I am following the language modeling tutorial to train a LM on a simple wikipedia corpus from scratch. I am trying to use Albert instead of Roberta. As I couldn't find information on how to train an Albert Tokenizer from scratch, I'm loading the albert-base-v2 tokenizer. The Dataset creation doesn't work, it hangs for ages and when I stop it, I can see that it is always stu

[2020-05-24 14:51] kaniblu commented on #4549
Found the bug. `--do_lower_case` was missing in the script arguments.

[2020-05-24 14:59] franz101 commented on #3972
Also looking for a solution

[2020-05-24 15:06] virginianegri commented on #4536
The model is the TFGPT2LMHeadModel. This is my code:
[code]

When running the resize_token_embeddings method it launches a NotImplementedError

[2020-05-24 16:43] BramVanroy commented on #4549
Unfortunately not. Have a look at these experiments by my friends over at NLP Town. They did sentiment analyses and ran the experiments ten times (each time with a different seed). https://www.linkedin.com/posts/nlp-town_sentimentanalysis-camembert-xlm-activity-6605379961111007232-KJy3

That being said, I do think you are right, good catch!

[2020-05-24 16:51] BramVanroy commented on #4560
Does this also happen when you use the slow tokenizers?

[code]

[2020-05-24 16:56] pgrandinetti commented on #3503
Hi, just checking in to see if there's a branch already (couldn't find it). Thanks!

[2020-05-24 17:07] BramVanroy commented on #4559
I recommend to change your preproccessing to:

[code]

However, the real problem is probably due to hyperparameters. You cannot simply use different models with the same hyperparameters and immediately expect results. You'll have to fiddle with the hyperparameters and find something that works for your case.

[2020-05-24 17:21] jetjodh commented on #4559
I am converting the text to tensor in a later step.
I also tried changing the lr ranging from 0.05 to 5e-8 but still loss did not changing and also applied a lr sheduler. Maybe I should try other optimizers other than AdamW?

[2020-05-24 17:28] fatihbeyhan opened #4562 "implementation of transformers for abstractive summarization task"
Hello, I am new to whole NLP world and PyTorch. I am trying to learn the concepts and that is taking some time for a rookie. I have a project to finish and I want to implement transformers & BERT on my abstractive summarization project. I tried to find some implementation tutorial on this topic but I could not find any. Do you guys have any suggestions about clear implementation of any pre-trained

[2020-05-24 18:17] ramsrigouthamg commented on #3972
@franz101 @edmar
The closest thing I could come up with :

[code]

The output is :
['Tom', 'Ġhas', 'Ġfully', '<mask>', '<mask>', '<mask>', 'Ġillness', '.']
[4, 5, 6]

sentence :  Tom has fully <mask> <mask> <mask> illness.

['recovered', 'returned', 'recover', 'healed', 'cleared']
['from', 'his', 'with', 'to', 'the']
['his', 'the', 'her', 'mental', 'this']

Best guess for fill in the blank :::  re

[2020-05-24 18:17] LeonieWeissweiler commented on #4560
Thanks for the suggestion @BramVanroy . I just tried this and the tokenizer has now been running for 90 minutes, so I think that's a yes.

[2020-05-24 18:33] javismiles commented on #2100
thank you all for your explanations here. I can do that with the GPT2 models with no issues, but my issue is that now I want to do the same but with the smaller simpler DistilmBERT model which is also multilingual in 104 languages, so I want to generate text in for example Spanish and English and with this lighter model. So I do this:

tokenizer = DistilBertTokenizer.from_pretrained('distilbert-ba

[2020-05-24 18:35] javismiles opened #4563 "Decoding with DistilmBERT to generate text in different languages"
Good day and congrats for your great library

If I want to decode and get new generated text with the GPT2 heads, that works great like you suggest:

[code]

but my issue is that now I want to do the same but with the smaller simpler DistilmBERT model which is also multilingual in 104 languages, so I want to generate text in for example Spanish and English and with this lighter model. So I do this

[2020-05-24 19:10] patrickvonplaten commented on #4543
Hi @erickrf,

Thanks a lot for catching the error. The linked PR should solve it by making sure `num_buckets` is always a power of 2.

[2020-05-24 19:15] patrickvonplaten commented on #4542
Length of 2000 is too long for GPT2, this won't be possible.
You can do two things here:

1) You chunk your generation which means that you first produce a length of up to 1000 and then use a bit of that (100 or so tokens) as context to generate the next 900 tokens and the same again until you hit 2000.

2) You can use this Reformer model: https://huggingface.co/google/reformer-enwik8 which can ha

[2020-05-24 19:29] BramVanroy commented on #4560
cc @mfuntowicz AlbertTokenizer seems to hang in fast mode but not in slow mode

[2020-05-24 19:32] BramVanroy commented on #4559
Since this is not a bug I am closing this. It is impossible for us to help with this any further since hyperparamter optimization is different for each task. This is something that you have to test yourself.

For a starting point, you can have a look at Table 8 in [the original paper](https://arxiv.org/pdf/1906.08237.pdf) where they suggest some good hyperparameter settings. But again, even then i

[2020-05-24 19:32] #4559 closed

[2020-05-24 19:34] bratao commented on #4492
@erickrf can you share how you got to train the "reformer" model. I´m trying to utilize the "google/reformer-enwik8" to train a Portuguese model but I just got the same error of
`Model name 'google/reformer-enwik8' was not found in tokenizers`

[2020-05-24 19:34] BramVanroy commented on #4540
This is not enough information to help us. Can you post a minimal reproducible example, or at least how you construct the model. Also show where the error is triggered.

[2020-05-24 19:42] Santosh-Gupta commented on #4529
For roberta it looks like all the weights are loaded; I didn't see a message about any weights not being loaded. I was expecting this since the architecture is the same, just the training is different.

Just waiting to hear back if those tanh layer is untrained in roberta.

[2020-05-24 19:43] manzar96 commented on #4445
I would also like to note that wrapping the gpt2 model with the Encoder Decoder class raises an error at forward as decoder's (gpt2) forward doesn't have parameter encoder_hidden_state.

[2020-05-24 19:51] yonatanbitton commented on #4453
Thank for the help :)

I've succeded to use your code as reference with my dataset, converting examples to features:

[code]

I will check how to deal with the impossible answers by another references. In this example its empty string "" when no answer and `end_position = 0`. Thanks.

[2020-05-24 20:02] manzar96 commented on #4483
Did you finally make it work?

[2020-05-24 20:03] BramVanroy commented on #4492
@bratao I answered this in my comment... Open the link thzt I posted and scroll down. They tell you how to do tokenisation. No need to load a tokenizer as usual.

[2020-05-24 20:05] manzar96 commented on #4483
@dimi1357 Did you finally make it work? Can you provide me the "full changes"? I am also interested in using the GPT2 model as decoder.

[2020-05-24 20:56] patrickvonplaten commented on #4517
Hi @chenjunweii - thanks for your issue! I will take a deeper look at the EncoderDecoder framework at the end of this week and should add a google colab on how to fine-tune it.

[2020-05-24 20:59] patrickvonplaten commented on #4483
Thanks for the Feature request and the in-detail code! I will think a bit more about how to implement this and get back to you!

[2020-05-24 21:00] patrickvonplaten commented on #4445
I will take a look at this at the end of next week - will get to you!

[2020-05-24 21:03] patrickvonplaten commented on #4443
Yeah sorry, we changed the code base quite a bit since the PR you linked. So in general at the moment GPT2 cannot be used as a decoder because it is missing cross attention layers.
The only encoder-decoder model supported atm is a Bert-2-Bert model (this also included all models that inherit from BERT though: Roberta, ...). Do you currently use a Bert-2-Bert model?

[2020-05-24 21:07] manzar96 commented on #4445
Thanks a lot!

[2020-05-24 21:15] dbaxter240 commented on #4443
Thanks Patrick. I did get a bert-2-bert model working for sequence to sequence but it really did not perform well on dummy tasks such as the one in the PR I linked. I am not sure I understand how a Bert-2-Bert model is supposed to work, isn't BERT an encoder architecture? How is it used as a decoder? (I was able to get the code working, but don't understand the theory behind a bert-2-bert model, a

[2020-05-24 22:06] dsonbill commented on #698
How did you end up fixing this problem? What json file did you have to create? I'd also like to convert a 345M model and am running into the problem described in this issue.

[2020-05-24 22:17] patrickvonplaten commented on #4443
Can you link your code of your working Bert-2-Bert model here? Just a link to a GitHub repo or post it in the issue here would be great :-)

[2020-05-24 22:20] patrickvonplaten commented on #4562
@sshleifer might be able to help you here

[2020-05-24 22:30] patrickvonplaten commented on #4562
This might also help: https://github.com/huggingface/transformers/pull/4539/files?short_path=3a2ba7b#diff-3a2ba7b492f00029d14cec3994b73ac7

[2020-05-24 22:43] #4542 closed

[2020-05-24 22:54] chrisyue1998 commented on #698
@dsonbill Sorry, I honestly don't remember. My work was on the laptop I used at my old job, so I don't have access to the files anymore. You could check my really old fork though and maybe find something useful there.

[2020-05-25 02:34] D-i-l-r-u-k-s-h-i opened #4565 "changing config.axial_pos_shape for 'ReformerModelWithLMHead' when fine-tuning"
# ❓ Questions & Help

I'm trying to fine-tune the Reformer for the language generation task and I padded the sequence lengths to be a multiple of least common multiple chunk_length 64, and now I'm asked to pad the sequence to 524288(512 * 1024), which will give me an out of memory error. Thank you.

I would like to know a workaround for this, since the error message also gives an alternative to 'p

[2020-05-25 02:34] ZhiliWang commented on #509
Hi, this works but may I know what did you do the OURPUT-DIR? Keeping the same one while "overwriting" or starting a new one? Thanks!

[2020-05-25 05:06] SeanBannister commented on #1791
Also dealing with this issue and thought I'd post what's going through my head, correct me if I'm wrong but I think the maximum sequence length is determined when the model is first trained? In which case training a model with a larger sequence length is the solution? And I'm wondering if fine-tuning can be used to increase the sequence length.

[2020-05-25 05:27] catqaq commented on #3845
Thanks! I fixed this error. There were some errors in my input file.

[2020-05-25 05:34] catqaq commented on #4516
Thanks for your attention. As i said "sometimes", the script works well now. I did nothing except reboot my Spyder several times. I don’t know why, but it ’s back to normal

[2020-05-25 05:39] Colanim opened #4567 "❓ [BART] Why using bias for LM head if not trained ?"
# ❓ Questions & Help

As I understood, BART is not using a regular Linear layer as LM head, but instead reuse the weights of the shared embeddings.

As show here, biases are added :
https://github.com/huggingface/transformers/blob/a34a9896ac2a4a33ff9cd805c76eed914c8d8965/src/transformers/modeling_bart.py#L876

But these biases are registered as buffer, not as parameter. **Since they are not traine

[2020-05-25 06:07] AMChierici commented on #3176
@shoarora I pulled the repo to update run_glue.py as I wanted to use this new feature. However, I now get an error when I run run_glue.py! Please see below the output of the error message. It looks like in previous versions, there weren't any keyword arguments named "mode" in GlueDataset() --possible?

`Traceback (most recent call last):
  File "./transformers/examples/text-classification/run_glue

[2020-05-25 06:40] #4358 closed

[2020-05-25 07:03] NSanjay commented on #4141
I've created PR #4566 for this issue

[2020-05-25 07:11] Chenyzsjtu commented on #4426
There is one more tiny problem...
Have you tried evaluating the very first checkpoint (the pretrained model itself) on SQuAD?
It seems that your posted finetune-performance
"{'exact_match': 81.56102175969725, 'f1': 89.96016967193422}"
is worse than that of the pretrained model, which is
83.122/90.958

[2020-05-25 07:11] #4453 closed

[2020-05-25 07:18] javismiles commented on #4563
So I can get the generation working well with distilgpt2, the thing is that I would like to do it multilingual using the light multilingual model DistilmBERT  (distilbert-base-multilingual-cased), any tips? thank you :)

`import torch
from transformers import *
from transformers import TFGPT2LMHeadModel, GPT2Tokenizer

tokenizer = GPT2Tokenizer.from_pretrained('gpt2')
input_ids = torch.tensor(toke

[2020-05-25 07:20] shoarora commented on #3176
@AMChierici I didn't author #4463, which is what has made it to master to enable this feature.  I haven't played with it yet so sorry I can't be of more help

[2020-05-25 07:24] Colanim opened #4568 "❓ [BART] Different embedding sizes between pre-trained / fine-tuned checkpoint"
# ❓ Questions & Help

Running this code :

[code]

Gives :

Embedding(50264, 1024, padding_idx=1)

---

Why the vocabulary size is different ? Isn't it supposed to be the same ? Is it just from the original authors' checkpoint ?

@sshleifer

[2020-05-25 07:27] patil-suraj commented on #4426
Hmm, interesting. I'll have a look.

[2020-05-25 07:36] urekalion opened #4569 "bert embedding make OOM in albert"
# ❓ Questions & Help

## Details
hi, i made item collaborative filtering model by albert model.
i set vocab size to 600k, it made OOM.
(after initialized model, memory used 3 GB. but During initialization, it takes 11 GB)

i tracked source code and i found this:
albert model initialize albert word embedding layer after initializing bert word embedding layer.
embedding layer is initialized twice. s

[2020-05-25 08:19] mfuntowicz commented on #4541
Hi @lingdoc,

Thanks for reporting this. Unfortunately, I'm not able to reproduce currently ... Loading, then training and finally saving works as espected on my side, with various tokenizers.

[code]

Can you give the path you're trying to save ? Just to make sure we're ending having a `None` somewhere in the `save_pretrained` that would explain the `TypeError` raised.

Thanks!

[2020-05-25 08:25] BramVanroy commented on #4516
That's good to hear! It might have been a caching issue somewhere with Spyder. (Personally I can recommend PyCharm.)

[2020-05-25 08:25] #4516 closed

[2020-05-25 08:30] catqaq commented on #4516
Yes, I guess so. Thanks for your recommendation. I have been hesitating whether to abandon Spyder completely. PyCharm is powerful but a little too heavy...

[2020-05-25 09:59] lijinfeng0713 opened #4571 "cannot import name 'TFElectraModel' from 'transformers'"
# 🐛 Bug

hi, thanks for your nice tool for NLP.
However, when I use transformers on MacOs to load Electra model I get an import error

How can I fix this issue?

[2020-05-25 10:46] fatihbeyhan commented on #4562
Thank you very much.  I will look and try to implement and let you know about the result!

[2020-05-25 11:13] lingdoc commented on #4541
Hm, this is really strange. I can't reproduce it either. Maybe something was wonky with my virtualenv - now it works fine! Next time I'll try a restart & run before I post.

[2020-05-25 11:26] dimi1357 commented on #4483
I forgot to add the change I've made to `Block` class forward function (I've also edited the issue):
[code]

[2020-05-25 11:26] lingdoc commented on #4541
Oops, I closed it too soon. I'm still getting the issue. Models I have tried:

`bert-base-uncased`
`distibert-base-uncased`
`google/electra-small-discriminator`

[2020-05-25 11:31] lingdoc commented on #4541
The path I am trying to save to is `"output/model_out"`

[2020-05-25 11:48] ELotfi opened #4572 "Typo in GPT2 documentation"
# 🐛 Bug

In the GPT2 documentation [page](https://huggingface.co/transformers/model_doc/gpt2.html#gpt2lmheadmodel), in the parameters of both LMHead and DoubleHeads model, 'inputs_embeds' is registered as 'input_embeds' which leads to an error upon implementation.

[2020-05-25 11:58] #3350 closed

[2020-05-25 12:24] fatihbeyhan commented on #4562
it seems working! thank you!

[2020-05-25 12:24] #4562 closed

[2020-05-25 12:28] minhtriet opened #4573 "Transformers' trainer sequence classification problem"
# ❓ Transformers' trainer sequence classification problem
## Details

I wanted to use `XLMRobertaForSequenceClassification` to classify a sequence into `1` or `0`.

[code]

The trainer is

[code]

`training_args`
[code]

`compute_metrics`
[code]

An exerpt of `part_train_dataset`
[code]

Similarly, one of `part_valid_dataset`:
[code]

When running `trainer.train()`, I received the following error:

[2020-05-25 12:39] AhmedIdr commented on #4571
Do you have the latest version of transformers ?

[2020-05-25 13:02] lingdoc commented on #4541
Ok, that seems to be the issue after all - when I explicitly cast the `Path()`-generated path to `str`, it saves fine. I guess the regular tokenizer/save function does this somehow but the `fast` version doesn't..

[2020-05-25 13:41] sshleifer commented on #4568
Good catch. There is no mask token in the second checkpoint. I believe that is the same as the authors' implementation.

Completely off topic: if you still have the xsum data you used I would love a copy. I'm sam [at] huggingface.co .

[2020-05-25 13:43] sshleifer commented on #4567
Great Q! The point of using them is that `MarianMTModel`, which inherits from `BartForConditionalGeneration` uses them. You're correct for the bart checkpoints they stay 0. If you think there is a comment or different approach that would be clearer, I'm very open to PR/other ideas.

[2020-05-25 13:59] vladislavkoz commented on #3503
Yes, it is will be great! Any updates?

[2020-05-25 14:19] amy-hyunji opened #4575 "Onnx notebook problem"
# ❓ Questions & Help

## Details

I saw the issue related to mine in #260 so I changed env to python 3.6 and torch 1.1 but I didn't help.
When I run onnx notebook I get an error [TypeError: export() got an unexpected keyword argument 'dynamic_axes']
Does anyone have guess what's wrong?

**A link to original question on Stack Overflow**:

[2020-05-25 14:22] Amling2017 opened #4576 "OSError: Model name 'transfo-xl-wt103' was not found in tokenizers model name list (transfo-xl-wt103). We assumed 'transfo-xl-wt103' was a path, a model identifier, or url to a directory containing vocabulary files named ['vocab.bin', 'vocab.txt'] but couldn't find such vocabulary files at this path or url."
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...):

Language I am using the model on (English, Chinese ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give details below)

## To

[2020-05-25 14:31] uunal opened #4577 "Using whole word masking on training LM from scratch"
# ❓ Questions & Help
## Details
Hello everyone,
I wanted to use _whole-word-masking_ in training LM from scratch. I could not have found how to apply this option using Trainer.
I thought this option should be managed in  "class DataCollatorForLanguageModeling", but I could not find options for _whole-word-masking._
Am I looking at wrong place OR it is not implemented yet?
If not, is it possible to

[2020-05-25 14:44] 008karan commented on #2814
@julien-c  @aditya-malte
from blog post:

how can I do that? Also, save the tokenized data?

[2020-05-25 15:31] jplu commented on #4571
Hello !

Which version of the lib do you use?

[2020-05-25 15:44] mfuntowicz commented on #4541
Thanks for digging this further.

I'll check what is the behaviour discrepancy between both version of the tokenizers when using `Path()` and I'll post here 👍

[2020-05-25 15:58] #3083 closed

[2020-05-25 15:58] #3204 closed

[2020-05-25 16:36] sshleifer commented on #3503
I'm gunna wait until the code is stable/reusable to release it, sorry for the change of plans.

[2020-05-25 17:10] patrickvonplaten commented on #4565
I would not recommend to set `axial_pos_shape` to (512 * 1024). In the notebook I just used that to demonstrate how far the limits can be pushed for Reformer. Half a million token is extremely long and usually unnecessary.

Make sure you have read and understood how AxialPostionEmbeddings work: https://huggingface.co/transformers/model_doc/reformer.html#axial-positional-encodings .

For "normal" l

[2020-05-25 17:16] 008karan opened #4579 "How to save tokenize data when training from scratch"
# ❓ Questions & Help

I am training Allbert from scratch following the blog post by hugging face. As it mentions that :

How this can be done any suggestions?
As of now , using the method given in the notebook:
[code]
 there is no method to save tokenize data, can anyone suggest how to save that as its already taking long enough before starting training.

[2020-05-25 17:24] LiZongyue commented on #4571
Hello!

I think it's a problem with your GPU rather than from transformers. Check your TensorFlow whether "Failed to load the native TensorFlow runtime." appears once it is imported.

[2020-05-25 18:31] uunal commented on #4579
There is a method to save tokenizer. Check this notebook: https://github.com/huggingface/blog/blob/master/notebooks/01_how_to_train.ipynb

[2020-05-25 18:36] 008karan commented on #4579
Thats what I am using.
its saving it in the `dataset` variable not in any file. ByTokenize data I mean pretraining data.

[2020-05-25 18:44] uunal commented on #4579
You can look at serialization practices, you should able to do with torch at least.
https://huggingface.co/transformers/serialization.html#serialization-best-practices

[2020-05-25 18:54] epetros commented on #4565
Greetings,
Would fine tuning https://huggingface.co/google/reformer-enwik8 work normally with run_language_modeling.py script?
Thanks

[2020-05-25 18:56] julien-c commented on #3176
@AMChierici make sure you run from master, there's indeed a `mode` kwarg now.

@shoarora Thanks for this first PR and I did check yours while merging the other (to make sure that the indices in csv parsing, etc. were correct)

[2020-05-25 19:04] patrickvonplaten commented on #4565
Hmm, for the most part but you will have to define your own tokenzer function as can be seen here: https://huggingface.co/google/reformer-enwik8#reformer-language-model-on-character-level-and-trained-on-enwik8

[2020-05-25 19:07] patrickvonplaten commented on #4565
So instead of sticking the script, I would recommend slightly changing this notebook: https://github.com/patrickvonplaten/notebooks/blob/master/PyTorch_Reformer.ipynb. Instead of creating the dataset by using a tokenizer, you should use the function linked above.

[2020-05-25 19:29] #4532 closed

[2020-05-25 19:46] patrickvonplaten commented on #4368
Hi @Damiox,

Sorry to answer so late. We had some discussion internally about it. And you are correct, we should revert the PR I merged earlier. This is done in #4581 and should be included in the next version. @thomwolf @LysandreJik

[2020-05-25 20:04] #4543 closed

[2020-05-25 20:05] #3284 closed

[2020-05-25 20:35] nateraw commented on #3829
Looks like this issue can be closed now. @chen-bowen can you confirm?

[2020-05-25 21:11] LysandreJik commented on #4571
That's probably because you don't have `tensorflow>=2.0` installed while you're trying to load a TensorFlow model.

[2020-05-25 21:29] rjsaito commented on #4475
Awesome! Do you have a current ETA when this change would be in place?

[2020-05-25 21:33] eraoul opened #4583 "Provide simple way to train a new translation model from scratch"
# 🚀 Feature request

## Motivation

Huggingface just released a huge pile of pretrained translation models. I just want to train a completely custom model on a custom language pair, without pretraining etc.

## Your contribution

[2020-05-25 21:34] epetros commented on #4565
Ok, thanks. So the function _flatten_and_tokenize_ (in the notebook) shall be replaced by the _encode_
function (in the enwik8 model card), am I following right?

[2020-05-25 21:37] dbaxter240 commented on #4443
@patrickvonplaten My code was almost totally copied from that example in the pull request. I've been experimenting a bunch so it hasn't been constant, but I tried a bert2bert model again last night and while it looked like it was training properly etc, the model did not produce any results in the end.

I've pushed the code to a new repo here that you can look at https://github.com/dbaxter240/bert2

[2020-05-25 22:31] rpowalski opened #4586 "T5Model in fp16 still yield nan with more complex examples"
# 🐛 Bug

Hello, thank you for the recent [PR](https://github.com/huggingface/transformers/pull/4436) with fp16 fixes. It seems to work well with short inputs, but once the model is fed with some more complex data it still yields nans.

## Information

Model I am using: T5

Language I am using the model on: English

The problem arises when using:
* [ ] the official example scripts: (give details be

[2020-05-25 22:52] MSMOON commented on #4513
Still nothing. I believe it is my apache2 configurations for access but I haven't figure out how yet.

[2020-05-25 23:47] Colanim commented on #4568
Thanks for your fast answer !

Do you know why there is no mask token in the second checkpoint ? And if it has any impact on score ?

[2020-05-25 23:59] #4567 closed

[2020-05-26 01:17] D-i-l-r-u-k-s-h-i commented on #4565
I've been using 'google/reformer-crime-and-punishment' model from [https://huggingface.co/transformers/model_doc/reformer.html#reformermodelwithlmhead](url)

I get this error after I padded the sequence lengths to be a multiple of least common multiple chunk_length 64.

So I guess that is because its default set to  (512, 1024), and if so, how can I change it?
Thank you.

[2020-05-26 03:05] zanderbush opened #4588 "Help Wanted: Predict Next Two Tokens"
Is it possible to change this in order to predct the next two tokens?

[code]

[2020-05-26 04:59] gabisurita commented on #4399
@patil-suraj Thanks for the examples. Would you mind sharing your fine-tuning code used to train the model as well?

[2020-05-26 05:10] patil-suraj commented on #4399
Sure. I'm planning to release model as well as the fine-tuning code. I'll comment here once I do that.

[2020-05-26 05:57] AMChierici commented on #3176
Thanks, @julien-c . Yes, solved.. In fact, I was not running from master.

[2020-05-26 06:52] patrickvonplaten commented on #4565
yeah the google/crime-and-punishment is not a good model for fine-tuning. It assumes you use a sequence length of > 500K tokens, which is not really reasonable.

[2020-05-26 06:54] patrickvonplaten commented on #4565
exactly. You should be able to just enwik8 function I linked above. The enwik8 model has a maximum length of ~65K tokens, which is very long but very feasible for reformer.

[2020-05-26 07:25] D-i-l-r-u-k-s-h-i commented on #4565
Oh okay. Thank you very much for the clarification. Will try finetuning reformer-enwik8.

[2020-05-26 07:45] mrm8488 opened #4590 "[Model hub web parsing MD code error]"
# 🐛 Bug

## Information

Hi guys!
If you navigate to https://github.com/huggingface/transformers/blob/master/model_cards/mrm8488/bert-italian-finedtuned-squadv1-it-alfa/README.md

You will see the emojis without problem. But if you go to its HTML page on the model hub: https://huggingface.co/mrm8488/bert-italian-finedtuned-squadv1-it-alfa
Emojis are not shown

[2020-05-26 07:51] dimi1357 commented on #4483
You can add the code above to where you've installed the transformers package, but I'm still not sure that this implementation is correct, so I suggest you wait for an update from huggingface team if this is okay.

[2020-05-26 09:11] VaibhavSxn opened #4592 "IndexError: Dimension out of range (expected to be in range of [-1, 0], but got 1)"
# 🐛 Bug
I am running Huggingface's nlp pipeline. The code is below:

[code]

Model I am using is pipeline.

I try run an example using docker and I get the following error:

[code]

My python version in 3.7.4.

Please help in fixing this.

[2020-05-26 09:13] #3294 closed

[2020-05-26 09:13] #3220 closed

[2020-05-26 09:14] #3245 closed

[2020-05-26 09:14] #3334 closed

[2020-05-26 09:14] #3355 closed

[2020-05-26 10:10] patrickvonplaten commented on #4565
It would be awesome if you could upload your training script here - people seem very interested in it :-)

[2020-05-26 10:25] yuimo opened #4594 "KeyError: "Unable to open object (object 'bias:0' doesn't exist)""
hi, i have create a new class named ClsNerModel inherited from TFBertPreTrainedModel
i have trained it successfully and save the model using model.save_pretrained to some dir

however, when i loaded from that dir using  ClsNerModel.from_pretrained, it fails and report some error below.
sorry to report this, and any advice is appreciated.

  File "/home/yuanhao/anaconda3/envs/tf2/lib/python3.7/site

[2020-05-26 11:10] gustavscholin opened #4595 "KeyError when loading a trained EncoderDecoder model"
# 🐛 Bug

## Information

Error when loading a trained EncoderDecoder model. When loading the config the in `configuration_auto.py` the `model_type` is expected on the form `encoder-decoder` but in   `configuration_encoder_decoder.py` `model_type` is on the form `encoder_decoder` which raises a KeyError.

The hyphen version seems to be convention in the other model configuration files.

I guess thi

[2020-05-26 11:18] doanquanvietnamca opened #4596 "AttributeError: 'Namespace' object has no attribute 'to_json_string'"
trainer.train()
don't know how to set parameters self.args.to_json_string()

[2020-05-26 11:23] theneuronprogrammer commented on #4309
Help, please . Anyone. I can't load on other devices. I have copied the model to one device where it was trained on GPU, now I cannot load on other device with CPU.

[2020-05-26 11:36] yuimo commented on #4594
hi, i tried again, and write the class of ClsNerModel to model_tf_bert.py, and then reinstall transformers again. it works!!
so, if i create my class outside the lib of transformers, what else should i do to make it work, and avoid the mistakes above
thanks a lot!

[2020-05-26 11:59] D-i-l-r-u-k-s-h-i commented on #4565
@patrickvonplaten, Sure, will do when everything is sorted.

[2020-05-26 12:20] OguzKircicek opened #4599 "ImportError: cannot import name 'AutoModelForQuestionAnswering' from 'transformers"
Hi friends,

I would like to use  transformers library. But while import I received this error.

This code:
[code]
**Error**

**ImportError: cannot import name 'AutoModelForQuestionAnswering' from 'transformers' (C:\Users\oguzk\anaconda3\lib\site-packages\transformers\__init__.py)**

[2020-05-26 12:37] sshleifer commented on #4568
I have a hunch the there is no `<mask>` token because of fairseq's `--find-unused-parameters` clarg, but I'm not certain.

I would guess no impact on score because `<mask>` does not show up in the finetuning data.

[2020-05-26 13:03] innat opened #4600 "Functionality for addressing imbalance data points?"
Is there yet any functionality from transformers library to address or tackle imbalance classes in data points?

[2020-05-26 13:13] ZordoC commented on #4535
Hi! I've used this:

distilbert-base-uncased-distilled-squad |  
-- | --
or

distilbert-base-cased-distilled-squad |  
-- | --

It improved quite a bit!

[2020-05-26 13:21] LysandreJik commented on #4599
What is your `transformers` version? Do you have PyTorch installed?

[2020-05-26 13:24] LysandreJik commented on #4309
It's hard to help with this much information. Can you open a new issue, respecting the template, letting us know what's your issue?

[2020-05-26 13:25] LysandreJik commented on #4596
I'm not sure I understand what you're trying to do. Do you mind explaining? Showing the code you're using would help as well.

[2020-05-26 13:26] OguzKircicek commented on #4599
Thank you. I solved.

[2020-05-26 13:27] LysandreJik commented on #4599
Great to hear!

[2020-05-26 13:27] #4599 closed

[2020-05-26 13:29] LysandreJik commented on #4592
Hi, what's your transformers and pytorch version? Is that the entire code you're using?

Your code doesn't crash here but crashes at the line

[code]

Do you mind providing the question and the context you're using?

[2020-05-26 13:30] kuppulur commented on #4484
hi guys, anyone managed to understand what the above issue is? I am facing the same issue.
Thanks.

[2020-05-26 13:35] LysandreJik commented on #4484
I believe this was fixed in #4049, which is available in the latest release `v2.10.0`. What are your installed `transformers` versions?

[2020-05-26 13:38] 008karan commented on #4579
well thats for all required model files. I am not getting how to save pretraining data

[2020-05-26 13:39] kuppulur commented on #4484
@LysandreJik I was using 2.7.0, but I still get the same error using 2.10.0

[2020-05-26 13:41] LysandreJik commented on #4579
Once you have your data you can pickle it or use `torch.save` to save it to your disk and reload it later.

[2020-05-26 13:43] LysandreJik commented on #4484
Using the exact code sample mentioned above? Are you using different code?

[2020-05-26 13:45] kuppulur commented on #4484
I have the exact issue with one of my Roberta models.. But I tried exact code now
<img width="827" alt="Screen Shot 2020-05-26 at 6 38 24 AM" src="https://user-images.githubusercontent.com/3698879/82908070-50b28980-9f1c-11ea-8a12-ff70f862c46b.png">

[2020-05-26 13:56] LysandreJik commented on #4484
It's hard for me to test if you give an image. Can you paste the code? If you already have `transformers==2.7.0` installed, your `!pip install transformers==2.10.0` won't work. You need to add the `--upgrade` or `-U` flag.

Can you add

[code]

just to make sure?

[2020-05-26 14:05] kuppulur commented on #4484
@LysandreJik works for me. Thank you.

[2020-05-26 14:06] LysandreJik commented on #4484
Glad I could help!

[2020-05-26 14:12] LysandreJik commented on #4563
Hi, I took the liberty of editing your comments with triple backticks ```py\`\`\` to be more readable.

Unfortunately DistilmBERT can't be used for generation. This is due to the way the original BERT models were pre-trained, using masked language modeling (MLM).  It therefore attends to both the left and right contexts (tokens on the left and right of the token you're trying to generate), while f

[2020-05-26 14:22] 008karan commented on #4579
That worked @LysandreJik thanks!
I still not getting how you can prepare pretraining data on the fly while training. I got large training data and don't want to wait until it gets prepared for training.

[2020-05-26 14:25] julien-c commented on #4475
It's already in place for model weights.

[2020-05-26 14:30] LysandreJik commented on #4579
Have you taken a look at PyTorch's Dataset/Dataloader utilities? I recommend taking a look at [loading hude data functionality](https://discuss.pytorch.org/t/loading-huge-data-functionality/346) or [how to use a dataset larger than memory](https://discuss.pytorch.org/t/how-to-use-dataset-larger-than-memory/37785/8).

I personnally prefer using IterableDatasets when loading large files, as I find t

[2020-05-26 14:41] julien-c commented on #4590
Yes, that is a GitHub-only (GFM) feature, while we use marked.js (https://marked.js.org/) for markdown parsing.

You'll have to use the actual emojis for now

[2020-05-26 14:41] #4590 closed

[2020-05-26 15:02] blizda opened #4601 "Which models can be using for encoder-decoder?"
Hi, I trying to use EncoderDecoderModel. I tried google/electra-base-discriminator, google/electra-small-discriminator, albert-base-v2 as encoder and decoder:

[code]
but, I always gate the same error

[code]

Only Bert can be using as encoder and decoder? If so, can you add list of available models for encoder-decoder in documentation?

[2020-05-26 15:04] j-cahill commented on #3825
Is anybody working on this? I'm new to open source but I'd like to give it a shot

[2020-05-26 15:32] fbaeumer commented on #163
Hello! I also had the problem and now I could solve it. Please install apex exactly as described above:

git clone https://www.github.com/nvidia/apex
cd apex
python setup.py install

Double check the following: The git command creates a folder called apex. In this folder is another folder called apex. This folder is the folder of interest. Please rename the folder on the top level (e.g. apex-2) an

[2020-05-26 15:36] sshleifer commented on #3825
Go for it!

[2020-05-26 15:53] uunal commented on #4577
Any ideas? still no progress on using whole-word-masking
Thanks

[2020-05-26 16:14] suamin commented on #4511
Upgrading `torch` should not be the ideal solution. The issue arises because of differences in `SummaryWriter` from `torch.utils.tensorboard` and `tensorboardX` in [transformers/trainer.py](https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py#L46). With following environment:
[code]
it is easy to see:
[code]
(minimal code from: https://github.com/lanpa/tensorboardX/i

[2020-05-26 17:33] kommerzienrat commented on #163
The following command did the job for me (based on @fbaeumer's answer):
`pip install git+https://www.github.com/nvidia/apex`

[2020-05-26 17:43] #4368 closed

[2020-05-26 18:39] catyeo18 commented on #2404
@LysandreJik thank you for your response -- I don't understand why that is the case when my tokenizer works fine when I run my scripts locally, but yield those error messages when I run my scripts in a Docker container. There is no difference in my code or file setup.

[2020-05-26 18:48] doanquanvietnamca commented on #4596
[code]

[2020-05-26 18:49] doanquanvietnamca commented on #4596
here is my code and i got
AttributeError: 'Namespace' object has no attribute 'to_json_string'

[2020-05-26 19:55] #2578 closed

[2020-05-26 19:55] #3361 closed

[2020-05-26 21:50] LysandreJik commented on #4524
Hi @thomasrockhu, indeed we've faced such issues before. We'll take a look, thanks!

[2020-05-26 22:21] cdmalon commented on #4309
https://github.com/huggingface/transformers/commit/05deb52dc170226fcad899c240ee9568986d8d5a#diff-8530ad4c95b70580d10d594b7411a8be seemed to break this pretrained model, which was last modified on February 18.  There masked_bias was introduced.  Try reverting to a version before that, like cec3cdd.

[2020-05-26 23:36] #4568 closed

[2020-05-27 00:57] tianleiwu commented on #4575
You can try newer version of PyTorch (like 1.3~1.5). The problem shall be resolved.

[2020-05-27 01:04] julien-c commented on #4511
@suamin The `Trainer` requires torch 1.3.1+, we'll make sure to mention this in the README.

[2020-05-27 01:07] julien-c commented on #4596
Trainer's args should be a `TrainingArguments` instance, not a dict or a Namespace.

Try:
[code]

[2020-05-27 01:07] #4596 closed

[2020-05-27 01:23] julien-c commented on #4301
Closing this b/c #4245 was merged

(we still need to investigate why the lowercasing is not properly populated by the model's config)

[2020-05-27 01:23] #4301 closed

[2020-05-27 01:24] julien-c commented on #4549
Closing this b/c #4245 was merged

(we still need to investigate why the lowercasing is not properly populated by the model's config)

[2020-05-27 01:24] #4549 closed

[2020-05-27 01:46] #4594 closed

[2020-05-27 02:03] sharkdeng commented on #1880
still don't understand what is the difference in
[code]

[2020-05-27 02:55] keaideii commented on #751
mark

[2020-05-27 02:58] richarddwang opened #4606 "Inconsistency in how Electra doing sentence level prediction"
In `ElectraForSequenceClassification`:
We have docstring says, `ELECTRA Model transformer with a sequence classification/regression head on top (a linear layer on top of
    the pooled output) e.g. for GLUE tasks.`
This is also what I observed in the official repository.
https://github.com/google-research/electra/blob/81f7e5fc98b0ad8bfd20b641aa8bc9e6ac00c8eb/finetune/classification/classification_

[2020-05-27 03:04] #4592 closed

[2020-05-27 03:04] VaibhavSxn commented on #4592
Sorry, its a mistake on my part. Thanks for your reply.

[2020-05-27 03:20] tianleiwu commented on #4523
@mfuntowicz,

I run the [notebook](https://colab.research.google.com/drive/1eiqyQmvhwGih6IHrOg7MkLSc2q0zMHmH#scrollTo=64GodG5fKb0m&line=2&uniqifier=1) in my local machine, and look at the onnx model after export (and before optimization). I found that the exported onnx model has switched the position of "attention_mask" with "token_type_ids":

![image](https://user-images.githubusercontent.com/303

[2020-05-27 03:33] singhaki commented on #4523
Hi,

how can I use it for my trained text classifier?

[2020-05-27 05:21] tianleiwu commented on #4523
The onnx export script has assumption of order of inputs. If the class you used does not have same order (or there are other parameters in between), you can wrap a class to use the expected order for export like:
[code]
In this way, the exported model will have correct inputs.

[2020-05-27 05:44] Saichethan commented on #1950
outputs[0] is sentence embedding for "Hello, my dog is cute" right?
then what is outputs[1]?

[2020-05-27 06:13] laetokang opened #4609 "How to deal with summarization task to long sequences input?"
# ❓ Questions & Help

## Details

I am going to carry out the sumarization task using the 'transformers' module you provided. But there's a problem. The sequence which i have is too long, so an error occurs when inserting it. Is there any way to summarize the entire document by sliding it?

**A link to original question on Stack Overflow**:

[2020-05-27 06:51] junyann commented on #4121
I had the same issue with GPT-2 and fixed it by hacking the code in `transformers/modeling_utils.py`
from
<pre>
if eos_token_id is not None and all(
    (token_id % vocab_size).item() <b>is not</b> eos_token_id for token_id in next_tokens[batch_idx]
):
    assert torch.all(
        next_scores[batch_idx, :num_beams] == beam_scores.view(batch_size, num_beams)[batch_idx]
    ), "If batch_idx is not

[2020-05-27 07:07] RensDimmendaal commented on #4523
Thanks for checking tianleiwu!

It does not solve the issue for me though. The error message remains the same.

I've added your code here:
https://colab.research.google.com/drive/1eiqyQmvhwGih6IHrOg7MkLSc2q0zMHmH#scrollTo=gXQ_JorGpAdI&line=1&uniqifier=1

However, changing this in my inputs during inference did the trick:

[code]

[code]

To me this seems like a bug that could be solved by having `

[2020-05-27 07:36] orko19 commented on #37
@mdasadul Did you managed to do it?

[2020-05-27 09:12] graviraja opened #4611 "Key error while evaluating the Language Model finetuning"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): DistilBert

Language I am using the model on (English, Chinese ...): English

The problem arises when using:
* [x] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give det

[2020-05-27 09:27] orko19 opened #4612 "Use fill-mask pipeline to get probability of specific token"
Hi,
I am trying to use the fill-mask pipeline:
[code]

And get the output:
[code]

But let's say I want to get the score & rank on other word - such as London - is this possible?

[2020-05-27 09:31] orko19 opened #4613 "What does the output of feature-extraction pipeline represent?"
I am using the feature-extraction pipeline:
[code]
As an output I get a list with one element - that is a list with 9 elements - that is a list of 768 features (floats).
What is the output represent? What is every element of the lists, and what is the meaning of the 768 float values?
Thanks

[2020-05-27 10:48] dalonlobo commented on #4504
Is this issue fixed in version 2.10.0?

[2020-05-27 11:56] orko19 commented on #1827
@LysandreJik In ur code, what are `output[0]` and` output[1]`?

[2020-05-27 12:02] #4601 closed

[2020-05-27 12:23] #3329 closed

[2020-05-27 13:35] mfuntowicz commented on #4523
@tianleiwu @RensDimmendaal I'll have a look quickly on this.

The export should not permute inputs.

[2020-05-27 13:46] tusharmakkar08-eightfold commented on #3577
@Ierezell I am facing same issue. How did you fix this issue?

[2020-05-27 14:09] prajjwal1 opened #4617 "run evalation after every epoch in Trainer"
# 🚀 Feature request

With the current Trainer implementation:
`trainer.train(..)` is called first followed by `trainer.evaluate(..)`. It would be nice if the user can pass the flag `--run_eval` (something similar) to run evaluation after every epoch. It would be nice for users who want to see how model performs on validation set as training progresses. In some cases, this is the general norm (run