[2022-09-16 08:18] BramVanroy commented on #19048
Hi @LysandreJik. As far as I can see, this does not just happen once when moving the cache but also for every new model that you download. That means that for every model that I download I would have to find the Python bin of my venv, run it as admin, then download the model, and then continue my work, or install developer mode for Windows - which also requires admin privileges, and comes with oth

[2022-09-16 08:58] cgr71ii commented on #15062
Here's my two cents: I had installed `transformers` 4.10.3 and `huggingface-hub` 0.4.0 and was throwing

[code]

Then I ran
[code]

After that, `huggingface-hub` was updated to version 0.9.1, didn't modify any other version of my environment, and solved the problem.

[2022-09-16 09:29] ArthurZucker commented on #19019
Hey! So as mentioned in the [issue](https://github.com/huggingface/transformers/issues/14312#issuecomment-968768138) you linked, the decoder`s max input length is `1024`, and if the decoder input_ids are not provided, the model uses by default a shifted version of the `input_ids` which in this case are too long.

A small nit should be added :
[code]
However this still does not work there is a deep

[2022-09-16 09:45] #19026 closed

[2022-09-16 10:54] jvel07 commented on #4695
@vincentwen1995, did you manage to get the tokenizers somehow? One year later and it seems like the `Trainer` is still not saving `tokenizer_config.json` into the checkpoint folders.
Where is even it saved?

[2022-09-16 11:02] mayank31398 commented on #18809
I guess this is not a fixable problem then right?
I think even in BLOOM AliBi might be screwing up with attention values right?
So, even if we have padded, the result will change.
Thanks for clarificatioon @thomasw21 .

I think we can close this?

[2022-09-16 11:44] sgugger commented on #19062
Hi there! The datasets attribute of the `Trainer` are never modified, so they always retain all their columns. You therefore don't need to change the training arguments (which is something the `Trainer` is not allowed to do by the way, otherwise its logs are not accurate and we can't reproduce the same results easily).

[2022-09-16 12:32] ydshieh commented on #19045
@jsh710101 Before going deeper, could you also try without relative position embedding, and post the results here?

[2022-09-16 13:47] jsh710101 commented on #19045
Thank you for your quick reply, of course!

With absolute position embedding (`position_embedding_type = 'absolute'`), the minimal code sample outputs:
[code]
The three attention tensors are the same as expected. (I checked the code and it seems to be implemented correctly.)

To be specific, if we are generating 3rd token (w/ relative position embedding & `use_cache = True`),
![image](https://user

[2022-09-16 14:07] JoWohlen opened #19070 "PhraseConstraints apearing only directly after input or at the end of the generated sentence"
### System Info

- `transformers` version: 4.22.0
- Platform: Linux-3.10.0-1160.25.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-09-16 14:56] urmeya commented on #18969
@sgugger and @LysandreJik , please find more concise version of my query below.

I am trying to write a custom model class that can be used to finetune transformers language model like BERT with custom head for some downstream task.

The code below is my attempt to write such class. It uses `bert-base-uncased` as base model and adds custom layer(s) (just a linear layer for this example case). The

[2022-09-16 15:01] sgugger commented on #18969
First note that such a generic class goes against Transformers design principles, which is one class per model. So, it's logical you would have to change the name of the attribute for each model with head you want to write.

Otherwise you can try setting the model using `self.base_model_prefix` (which will be `"bert"` for BERT, "roberta" for RoBERTa etc.) inside your custom model, if you want your

[2022-09-16 15:01] #18543 closed

[2022-09-16 15:42] perceptiveshawty commented on #10113
+1

[2022-09-16 16:20] franz101 commented on #19062
Thanks Sylvain @sgugger for your quick reply.

To clarify the issue when writing a callback integration for data monitoring:
For some monitoring, the embedding and original row indices (to identify the text) is needed to be logged during on_step_end.
An example implementation in PyTorch (see the bottom of the forward function):

[code]

According to the Trainer, if remove unused columns is enabled

[2022-09-16 16:24] sgugger commented on #19062
I am very confused as to how letting the callback change the training arguments would help in this instance. By the time you arrive at the model, the dataloader has been built. So extra args have been removed (or not) and changing the training arguments won't do anything.

[2022-09-16 16:30] #18660 closed

[2022-09-16 16:30] younesbelkada commented on #18660
Closing as completed

[2022-09-16 16:48] franz101 commented on #19062
Yes, I see. The initial thought was the user needs to just populate the report_to flag. But as you have said access wise and order wise, when dealing with adding/accessing indices to/of the data, it's not possible at the callback level without previous modifications of the dataset itself. It's necessary to set remove_unused_columns to false and use the data collater fn to deal with the indices. Am

[2022-09-16 16:52] sgugger commented on #19062
Most likely the model itself, from what you shared. Normally data collators collate what they get (as long as it's in a "collatable" type). As you also pointed out, you can use a forward hook without needing to rewrite the model class.

[2022-09-16 16:56] franz101 commented on #19062
Though if modify the dataset to add the idices:
row_len = len(ds["train"])
ds["train"]  = ds["train"].add_column("idx",list(range(row_len)))

the unmodified forward function will through an error.
As the input then is:
` ['text', 'label', 'idx', 'input_ids', 'attention_mask']`

instead of

`['label', 'input_ids', 'attention_mask']`

So to get back to your reply I will double check if I can add a f

[2022-09-16 17:36] LysandreJik commented on #19057
cc @sgugger

[2022-09-16 17:45] sgugger commented on #19057
Indeed. I can reproduce, a fix is coming. This was caused by #18438 and this particular use case slipped through the cracks since it's untested (probably because it's deprecated behavior).

[2022-09-16 17:51] LysandreJik commented on #19048
Thanks for reporting @BramVanroy, I'm currently opening an issue on `huggingface_hub` so that we may track it.

However, if I'm not mistaken, Developer Mode must be enabled in order to leverage WSL, right? I would believe most developers would choose to use WSL in order to use `transformers`, but I may have been mistaken on that decision.

[2022-09-16 17:54] LysandreJik commented on #19048
Opened an issue here to track all related issues: https://github.com/huggingface/huggingface_hub/issues/1062

[2022-09-16 18:08] catleeball opened #19074 "Fast WordPiece tokenizer implementation"
### Feature request

It would be nice to implement the Fast WordPiece tokenization algorithm.

- [Paper](https://arxiv.org/abs/2012.15524)
- [Source](https://github.com/tensorflow/text/blob/master/docs/api_docs/python/text/FastWordpieceTokenizer.md)

### Motivation

Fast WordPiece performs sub-word tokenization in O(n) time using failure links similar to Aho-Corasick. It also consolidates the whit

[2022-09-16 18:29] daspartho commented on #16059
PyTorch SEWD model missing some type hints, I'll work on it and open a PR.

[2022-09-16 18:56] LysandreJik commented on #19074
cc @Narsil @SaulLu

[2022-09-16 19:01] LysandreJik commented on #19070
cc @gante as well :)

[2022-09-16 19:52] stas00 commented on #18899
oh, great, then I don't need to look for a set of large GPUs :) Thank you for this update, @harshil-shah!

Indeed please do let us know when you get a chance to experiment

[2022-09-16 20:11] #19057 closed

[2022-09-16 21:58] catleeball commented on #19074
Ah, I just realized I should have opened this in huggingface/tokenizers, I can re-create this bug over there if that's better!

[2022-09-16 22:06] LysandreJik commented on #19074
Let me move it for you :)

[2022-09-16 22:10] ankrgyl opened #19079 "Small Typo in Docs GenerationMixin for use_cache parameter"
### System Info

In the text_generation docs (https://huggingface.co/docs/transformers/main_classes/text_generation), `use_cache` does not show up as its own line in the list of parameters.

<img width="973" alt="Screen Shot 2022-09-16 at 6 09 30 PM" src="https://user-images.githubusercontent.com/565363/190812185-35c6eb4d-fbbf-4d17-ad86-6c1d2083c0e0.png">

I think this is a small typo due to an ex

[2022-09-16 22:23] archieCanada commented on #15399
Hello Stas,

It's me again.
I encountered the following problem. According to my limited understanding deepspeed has to initialize the model first. For this initialization phase, I need to have the CPU memory proportional to the number of GPUs I use for the inference. The faster I want my inference (more GPUs), the more CPU memory I have to have for the initialization of the model.

This is very u

[2022-09-16 22:31] stas00 commented on #15399
Yes, there is. You can pre-shard the model weights into small shards.

You're in luck since I already did that for T0pp: https://huggingface.co/bigscience/T0pp/tree/sharded

so all you need to do is `from_pretrained(..., revision="sharded")`

please note that the revision is named `sharded` just because I called it so, there is no standard.

All new models starting from a few months ago are added

[2022-09-16 23:52] stas00 commented on #15399
The size of the shard only impacts the loading time.

The formula would be roughly this:
[code]

so say 4 gpus and 5gb shard:

[code]

so 40GB of additional CPU memory will be needed to load the model.

the 2x is because at some point you have the `state_dict` containing the shard and the model itself, though in the case of deepspeed/zero3 it'll get offloaded to the gpus right away. So in this cas

[2022-09-17 00:57] 2533245542 commented on #19041
Say I set load_best_model_at_end=True and save_total_limit=1. I then finished a model pretraining.

Now my folder contains 2 saved models, `checkpoint-1000` and `checkpoint-900`. I know the 1000 one is the last running one, but is there a way to confirm whether the former or the later is the best one?

[2022-09-17 02:39] thedarkzeno opened #19081 "add Unified-IO"
### Model description

I'd like to request the addition of the Unified-IO model. It is a multimodal model capable of visual question answering, image generation and more...
the repo is this: https://github.com/allenai/unified-io-inference
the paper: [Unified-IO: Sequential Modeling for Generally Applicable Vision Models](https://arxiv.org/abs/2206.08916)

### Open source status

- [X] The model im

[2022-09-17 02:44] urmeya commented on #18969
I had tried setting `self.base_model_prefix` but it does not work as it adds prefix on top of variable name (e.g. `bert.basemodel.encoder.layer.9.output.LayerNorm.weight` if the variable name is `self.basemodel`)

I do get your bigger point that using generic class like `PreTrainedModel` is against transformers design principles. I will write the model classes inheriting from specific model classe

[2022-09-17 02:44] #18969 closed

[2022-09-17 04:41] Ericmututu opened #19082 "`--with_tracking` doesn't seem to work"
### System Info

Hi,
When I enable --with_tracking within run_glue_no_trainer.py, nothing seems to happen. After the training is over, I don't find any log files in output_dir. How do I save these training results (e.g., accuracy, training_loss, ...) as shown in the following figure?
![image](https://user-images.githubusercontent.com/49343975/190840432-b9a2559c-17b3-4653-838d-97c1d3cb56d0.png)
Tha

[2022-09-17 06:13] jack-gits opened #19083 "some data is dropped when encoding by LayoutLMv3Processor"
### System Info

I'm using LayoutLMv3Processor to encoding.
when I input (1, 82, 4) as boxes, the processor will extends the boxes to (1, 512, 4), but some boxes of input is dropped by processor as I can't find them in the encoding;
seems the last n boxes is dropped.

**_tokenizer = LayoutLMv3TokenizerFast.from_pretrained('microsoft/layoutlmv3-base')
processor = LayoutLMv3Processor(LayoutLMv3Featu

[2022-09-17 09:44] #19083 closed

[2022-09-17 15:39] wzjj98 opened #19087 "v4.22.1 ErnieForMaskedLM Bug"
### System Info

![Xnip2022-09-17_22-50-00](https://user-images.githubusercontent.com/50035364/190864836-f71c7f8c-8acf-45b0-90d2-e1d5ac8556e2.jpg)

@LysandreJik

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dat

[2022-09-17 17:08] kishore-s-15 commented on #16059
`TFConvBERTModel` does not have type hints. I would like to work on adding typing hints for it.

[2022-09-17 17:35] kishore-s-15 commented on #16059
I would like to work on adding type hints for `TFMPNet` models.

[2022-09-17 18:13] stancld commented on #19087
Hi @wzjj98, could you please share a bit more information about your PC setup and the script you're calling?

I can confirm it shouldn't be a problem to import `ErnieForMaskedLM` with `transformers==4.22.1`

[2022-09-17 20:12] younesbelkada opened #19090 "[Tracker] [bnb] Supporting `device_map` containing GPU and CPU devices"
### Feature request

We should be able to provide custom `device_map` when using 8-bit models using `bitsandbytes`. This would enable users having more control over the modules they want to quantize.

Linked issue: https://github.com/TimDettmers/bitsandbytes/issues/40

### Motivation

Users should be able to pass their own custom `device_map` and chose which module should be quantized or not

###

[2022-09-18 02:45] HebaGamalElDin commented on #14884
Hi, I'm getting same error.. I tried v4.19, v4.21.3, v4.22.1 which is the last version so far.

[code]

[2022-09-18 05:51] pratikchhapolika opened #19091 "TypeError: __init__() got an unexpected keyword argument 'has_model_config'"
### System Info

- transformers version: 4.18.1
- Platform: Linux Jupyter Notebook, TF2.3 Python 3.6, 2 GPU
- Python version: '1.7.1+cu101'
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help?

@mf

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder

[2022-09-18 06:55] wzjj98 commented on #19087
My GPU NVIDIA GeForce GTX 3090
Processor:Intel(R) Xeon(R) Platinum 8255C CPU @ 2.50GHz

[2022-09-18 06:59] wzjj98 commented on #19087
![Xnip2022-09-18_14-58-11](https://user-images.githubusercontent.com/50035364/190889830-83662ecc-0861-4b7f-8cda-6bbaa94f531d.jpg)
![Xnip2022-09-18_14-59-01](https://user-images.githubusercontent.com/50035364/190889832-ffcb86f0-d941-41d1-ad1f-a9982769c4f3.jpg)
![Xnip2022-09-18_14-59-12](https://user-images.githubusercontent.com/50035364/190889835-4ac3e831-c96b-4488-b60d-566f09c01083.jpg)

[2022-09-18 09:14] z80maniac commented on #19090
I think that the title of this issue is a little bit misleading. Technically, a custom `device_map` is already supported for `bitsandbytes`, as long as all the layers are on GPU.

For example, in the linked issue, this `device_map` works correctly:
[code]

And I believe that there will be no problem in using `1` instead of `0` for any `transformer.*` layer if you have more than one GPU (but I may

[2022-09-18 15:01] #18554 closed

[2022-09-18 15:01] #18452 closed

[2022-09-18 15:01] #18137 closed

[2022-09-18 17:23] OllieBroadhurst opened #19093 "Add BPE Wav2Vec2CTCTokenizer"
### Feature request

Hi there!

Is there scope for a BPE (SentencePiece) CTC tokenizer? Using a trained SentencePiece vocabulary in a CTC model is pretty straightforward - all we need now is a tokenizer than can bridge the missing step between grouping CTC ids and decoding them with SentencePiece.

### Motivation

Grouping characters that occur commonly together is a cool way of sometimes helping

[2022-09-18 18:48] dimitreOliveira opened #19094 "Allow custom signature while saving TF models"
### Feature request

Currently, when we use the [save_pretrained](https://github.com/huggingface/transformers/blob/ca485e562b675341409e3e27724072fb11e10af7/src/transformers/modeling_tf_utils.py#L2085) function from this library the model signature used to save the model is the default one that only calls the model on the inputs, I would like to be able to provide a custom signature while using the

[2022-09-18 18:59] dboshardy commented on #16795
I'm also having this issue.  It only works if I pass in PIL images.  It does not work on tensors _or_ lists of tensors.

[2022-09-18 22:53] visionscaper opened #19095 "Activation checkpointing for TFGPT2DoubleHeadsModel"
### Feature request

Activation checkpointing is implemented for the PyTorch GPT2 model (and different head variants), however, this is not the case for the Tensorflow implementation of GPT2,

### Motivation

A lot of GPU memory is required to finetune GPT2. This is especially the case for TFGPT2DoubleHeadsModel, because different choices (represented by different sequences) are combined in one sa

[2022-09-19 00:18] ebolam commented on #19048
For note, you do not need developer mode for WSL. I'm having the same problem and having to turn on developer mode will kill some of our user base. The warning will intimidate people away from using it.

[2022-09-19 00:25] maclandrol commented on #18406
@YBooks , @sgugger can we reopen this issue ?

[2022-09-19 02:07] #18277 closed

[2022-09-19 05:17] bp-high commented on #17794
Hey @NielsRogge shouldn't ideally in such a case there should be an error triggered or even if the warning is triggered the ideal nature of the tokenization process be to, forcefully truncate the input, as this could cause errors on a production grade system if left unchecked.

[2022-09-19 06:52] taki0112 commented on #16813
Hello @hyunwoongko
The `_login` function requires `hf_api` argument, which one did you give?

[2022-09-19 07:18] NielsRogge commented on #17794
No we don't truncate by default, that would break the design of the library quite a bit. Users need to specify the truncation or padding behaviour themselves, as it can happen from the right or the left for instance, the max length can differ, etc.

See here for a guide on ["everything you always wanted to know about tokenization"](https://huggingface.co/docs/transformers/v4.15.0/preprocessing#eve

[2022-09-19 08:15] gante commented on #19070
Hi @JoWohlen 👋  to confirm that I got the problem correctly -- the `example 2` of the PR that introduced the feature, modified to be self-contained, no longer works on `v4.22`. However, up to `v4.20.1`, it worked fine. Is this correct?

[2022-09-19 08:50] ydshieh commented on #14884
@HebaGamalElDin I can reproduce the issue with the checkpoint `gagan3012/TrOCR-Ar-Small`, but not `microsoft/trocr-base-printed`. By looking the files in these 2 model repositories, I believe it is because `gagan3012/TrOCR-Ar-Small` doesn't contain the tokenizer files.

I think you can get the tokenizer from [microsoft/trocr-small-stage1](https://huggingface.co/microsoft/trocr-small-stage1). But i

[2022-09-19 09:00] ydshieh commented on #18424
Sorry for being late. I will take a look.

[2022-09-19 10:00] dikshyapradhan commented on #9780
model_name = "distilbert-base-uncased-finetuned-sst-2-english"

model = AutoModelForSequenceClassification.from_pretrained(model_name)

tokenizer = AutoTokenizer.from_pretrained(model_name)

train_encoding = tokenizer(X_train, truncation=True, padding=True, max_length=512, return_tensors="pt")

# Training the model with PyTorch

with torch.no_grad():
    outputs = model(**train_encoding)

     # N

[2022-09-19 10:03] NielsRogge opened #19098 "Some feature requests for the Trainer"
### Feature request

2 feature requests for the HuggingFace Trainer:

* seems like the Trainer is currently using `huggingface_hub.Repository` when pushing a model to the hub. Would be great to update this to leverage the new HTTP methods, as currently I'm getting errors like the following:
[code]
* would be great to have an argument `push_to_hub_frequency`, to indicate at which steps to push the

[2022-09-19 11:32] sgugger commented on #19041
Trust what I just said? 😝
The name of the best checkpoint is also saved in the trainer state normally. If you inspect it you should get confirmation.

[2022-09-19 11:38] sgugger commented on #19082
@muellerzr will correct me if I'm wrong, but this API is for external trackers (TensorBoard, WandB etc.). To save results on disk, just use regular python code like `json.dump`.

[2022-09-19 11:46] sgugger commented on #19098
For 1, just overwrite the output dir with `--overwrite_output_dir` to have a clean output dir for the beginning of training (when resuming there shouldn't be any error since the repo will be synced with the local folder). If we stop leveraging `Repository`, we lose the async pushes so basically training will be interrupted each time there is a push, until the push is finished.

For 2, pushes are s

[2022-09-19 11:59] muellerzr commented on #19082
@sgugger exactly. @Ericmututu do you have any tracking libraries installed on your system?

(I can probably raise an error in the scripts if it's tried and non are available)

[2022-09-19 14:53] ZurabDz opened #19108 "Flax vs torch benchmark on Wav2vec2"
So my question is, should FlaxWav2Vec2ForCTC generally be faster than Wav2Vec2ForCTC?

1.14 s ± 138 ms per loop (mean ± std. dev. of 7 runs, 1 loop each) -> FlaxWav2Vec2ForCTC

37.7 ms ± 10.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each) -> Wav2Vec2ForCTC

so the question is, should flax be faster than the default torch model?

P.S: benchmarks are done on GPU, it seems like VRAM usage is d

[2022-09-19 15:01] #18603 closed

[2022-09-19 15:01] #18599 closed

[2022-09-19 15:01] #18567 closed

[2022-09-19 15:02] #18282 closed

[2022-09-19 15:17] hyunwoongko commented on #16813
Hello. @taki0112  I am using the follow script.

[code]

[2022-09-19 15:32] bp-high commented on #17794
Okay sure @NielsRogge, I understand now.

[2022-09-19 16:00] dks198 commented on #18870
Hi nbroad1881,

I am facing the same problem that you have mentioned at the beginning, however, I am not sure about the workaround and its bit urgent. Can you please help me how were you able to have your own callback? This will be of great help.

Regards,
Dev

[2022-09-19 16:37] #19041 closed

[2022-09-19 16:45] NielsRogge commented on #14812
Adding another feature request for this: https://github.com/NielsRogge/Transformers-Tutorials/issues/183

[2022-09-19 18:19] NielsRogge commented on #19098
Thanks for clarifying, makes sense!

[2022-09-19 18:19] #19098 closed

[2022-09-19 18:33] maxmatical opened #19111 "DPR pooler weights not loading correctly"
### System Info

tested on multiple versions

- `transformers` version: 4.12.3
- Platform: Linux-4.14.281-212.502.amzn2.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.10
- PyTorch version (GPU?): 1.11.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scri

[2022-09-19 20:36] Shreyas-bilagi commented on #17478
Hello,
Could you please elaborate the solution?

[2022-09-19 21:03] mpolinsky opened #19112 "Problem trying to migrate cache"
### System Info

Using MacOS Big Sur v11.6.4 and jupyter lab v3.4.7.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Installed transformers in a new venv with pi

[2022-09-19 22:04] LysandreJik commented on #19108
maybe of interest to @sanchit-gandhi

[2022-09-20 00:55] SaeedShadkam commented on #15399
@stas00 Hello Stas, I have been experimenting with this code you posted, and I got strange results. I was wondering if you have any thoughts/suggestions for me to improve the code, especially speed-wise.

I ran my code with deepspeed using 4 and 1 V100 32 GB GPUs, respectively. To generate answers for the same exact questions, 1 GPU finishes the job in 70 minutes; using four GPUs takes 112 minutes

[2022-09-20 01:04] stas00 commented on #15399
It's not strange at all. 1 gpu will always be faster if you can fit the model in when using ZeRO - this is because of the overhead of comms.

This is about using the right tool for the right job. ZeRO was written for models that can't be fit into a single GPU. If you can use a single GPU ;)

Also the following nuance is very important: a 4-gpu set up in your case generates 4 different outputs and

[2022-09-20 01:19] YooSungHyun commented on #18501
@sanchit-gandhi i`m very busy now, so i will reply this comment as soon as possible bro!

[2022-09-20 01:36] stas00 commented on #15399
I wasn't able to derive that this was the case - it's possible I missed that.

If it is as you say it is then the overhead of comms is really big then and 4 gpus are indeed slower even with unique streams.

When you have fast intranode connectivity like NVLink as compared to PCIe usually the comms overhead is lower and then compute dominates.

You can also watch your GPU utilization in nvidia-smi

[2022-09-20 02:10] taki0112 commented on #16813
@hyunwoongko Thanks a lot !

[2022-09-20 02:19] SO0529 opened #19114 "GPT Neox Japanese is in the release notes for v4.22.X but does not appear to be in the v4.22.X package."
### System Info

I've checked in Colab that GPT Neox Japanese is not in v4.22.1
[code]

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Open colab
2. `!pip install

[2022-09-20 06:56] JoWohlen commented on #19070
Yes that is correct

[2022-09-20 06:58] SaroLovito commented on #9471
Thanks, your post helped me so much!
I'm using BloomModel on AWS Lambda Function but Lambda doesn't support GPU.
So I write the code like that:
device = 'cpu'
#topic variable is already given
prompt = f' About {Topic} is what I think:  '
inputs = tokenizer(prompt, return_tensors='pt')

inputs = inputs['input_ids'].to(device)
model = model.to(device)
sample = model.generate(inputs, max_length=100,

[2022-09-20 07:41] LIUYANZHI88 commented on #18307
But I see it also requires vocab.json and merges.txt.

[2022-09-20 07:44] yongwwww commented on #5427
需要冻结一部分参数， 我的理解是bert模型自带的利用CLS做的分类模型，没有使用最后的时候还传入了gradient进行模型的梯度更新，所以会报错。要冻结那部分参数！！！

[2022-09-20 07:53] jiangwy99 opened #19116 "HfArgumentParser support yaml parser"
### Feature request

HfArgumentParser now supports for parsing dict and json files, will it be possible to support for parsing the widely used yaml files?

### Motivation

I think using yaml is a good way to record arguments.

### Your contribution

Not yet.

[2022-09-20 08:21] kjsman opened #19118 "CLIPTokenizer behaves inconsistently depending on whether ftfy is installed or not"
### System Info

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 4.22.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Ja

[2022-09-20 08:34] kjsman commented on #19118
This happens because `BasicTokenizer`, which is [used as](https://github.com/huggingface/transformers/blob/main/src/transformers/models/clip/tokenization_clip.py#L159) fallback text fix function, [strips accents if `do_lower_case=True`](https://github.com/huggingface/transformers/blob/main/src/transformers/models/bert/tokenization_bert.py#L174-L176).

We may fix this by explicitly set `strip_accen

[2022-09-20 08:42] judithvdw commented on #18825
Hi @anderleich,

I am encountering the same issue when I try to use the AutomaticSpeechRecognitionPipeline in combination with a Languague Model. Have you been able to find a solution? I've tracked the issue down to the same lines of code as you, I cannot get self.type to evaluate to "ctc_with_lm" with the models I am using, even though they work fine when I use them outside of the pipeline.

Best

[2022-09-20 09:01] gante commented on #19070
Awesome, thank you for the clarification @JoWohlen 🙌 It helps to pinpoint the issue.

I've added this issue to the list of `.generate()` related issues -- I will let you know when we start looking into it!

[2022-09-20 12:24] sanchit-gandhi commented on #19108
Hey @ZurabDz! `FlaxWav2Vec2ForCTC` should be faster than `Wav2Vec2ForCTC` **if** the `__call__` method is just in time (JIT) compiled (_c.f._ https://jax.readthedocs.io/en/latest/jax-101/02-jitting.html). Could you share your code for running this benchmark? We can then go through and make sure the Flax model is appropriately set-up to get max performance!

Also of interest: this notebook which JI

[2022-09-20 12:36] sanchit-gandhi commented on #19044
Hey @YooSungHyun - could you possibly link your wandb logs? I can then take a closer look at the nan loss!

[2022-09-20 14:34] ariG23498 opened #19123 "Adding TensorFlow port of LeViT"
### Feature request

To add the TensorFlow port of the [LeViT](https://arxiv.org/abs/2104.01136) architecture. The architecture is currently present in the Transformers library in [PyTorch](https://github.com/huggingface/transformers/blob/main/src/transformers/models/levit/modeling_levit.py).

### Motivation

[LeViT](https://arxiv.org/abs/2104.01136) is a family of architectures that optimize the

[2022-09-20 15:02] #17529 closed

[2022-09-20 15:04] #5364 closed

[2022-09-20 15:09] sgugger commented on #18698
There is no support for using the CPU as a main device in Accelerate yet. If you want to use the model on CPU, just don't specific `device_map="auto"`.

Not quite sure why your GPU is not visible to torch since you mention having an RTX3070, but that's the crux of the issue here. Maybe it does not have enough RAM available to host the largest layer of the model?

[2022-09-20 19:17] archieCanada commented on #15399
Hello Stas,

Here is my report.
I have been able to run the DeepSpeed inference with T0_3B. I used the code from End-to-End GPT NEO 2.7B Inference tutorial:
https://www.deepspeed.ai/tutorials/inference-tutorial/

The tricky part is that I had to downgrade my version of "transformers" to version 4.21.3. Otherwise, it doesn't work.
I provide code here for convenience:

[code]

However, I struggle wi

[2022-09-20 19:32] LysandreJik commented on #19116
cc @sgugger

If you want to open a PR, please go ahead!

[2022-09-20 19:42] LysandreJik commented on #19114
Hey @SO0529, sorry about that! That's on me, I missed this in the release notes. I just removed it. For now you can install the repo from source as you have noted in order to use it.

Thanks for letting me know!

[2022-09-20 19:44] LysandreJik commented on #19112
cc @sgugger

[2022-09-20 19:45] LysandreJik commented on #19095
cc @Rocketknight1 @gante

[2022-09-20 19:46] LysandreJik commented on #19094
cc @Rocketknight1 @gante

[2022-09-20 19:46] LysandreJik commented on #19093
cc @SaulLu @ArthurZucker

[2022-09-20 19:59] ZurabDz commented on #19108
god damn it I

[2022-09-20 20:12] sgugger commented on #19112
I'm not too sure what the problem is, maybe it is due to the intermediate subfolder. This error should only happen once in any case, and you might have lost some cached files, but they will jsut be re-downloaded.

[2022-09-20 20:15] mpolinsky commented on #19112
Thanks for the clarity.  Didn't cause a problem otherwise.

[2022-09-20 20:31] stas00 commented on #15399
Thank you for sharing the outcome, @archieCanada

I'd recommend opening an Issue at https://github.com/microsoft/DeepSpeed/issues so that it can be fixed on their side.

Besides your repro code please include the traceback of the failure you had with the latest transformers.

I wonder if they need to add tests to ensure

[2022-09-20 20:51] giozinzi commented on #18870
@dks198 Something you might be able to do for a custom AzureMLCallback once you've defined your trainers:

from transformers import TrainerCallback
import importlib.util

------------------------------------------------

def is_azureml_available():
    if importlib.util.find_spec("azureml") is None:
        return False
    if importlib.util.find_spec("azureml.core") is None:
        return False

[2022-09-20 21:05] osanseviero opened #19127 "document-question-answering pipeline does not work with some models"
### System Info

Colab, latest release

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

This would work with both models

[2022-09-20 22:31] stevenmanton commented on #16292
I'll work on `perceiver`.

[2022-09-20 22:34] LysandreJik commented on #19127
The `model_type` in the config.json of this specific model seems to be wrong. The types currently supported that would work with LayoutLM are:
- `layoutlm`
- `layoutlmv2`
- `layoutlmv3`
- `layoutxlm`

The specified type is `layoutlm-tc`.

[2022-09-20 22:40] ekurtulus commented on #18424
My experiments are on an HPC system, so since it's been a while, I unfortunately do not have the logs or the graphs.

[2022-09-20 23:03] JoWohlen commented on #19070
You are welcome, and thanks for the great library!

[2022-09-21 05:09] #19114 closed

[2022-09-21 06:24] NielsRogge commented on #19127
Cc @ankrgyl

[2022-09-21 07:54] nickprock commented on #17459
Hi @mfumanelli, what's the status of the issue? My tasks (and also others) are completed and merged, could you flag the list of documents?
I can translate `add_new_pipeline`

[2022-09-21 08:07] ArthurZucker commented on #18958
I am having a look RN, will tell you when I know more 👍🏻

[2022-09-21 08:53] slvcsl opened #19135 "Use metrics that consider the input as well as the (predicted, reference) tuple in the Trainer"
### Feature request

Allow the **compute_metrics()** in the **Trainer** to take into account the **original input** in addition to the predictions and labels.

### Motivation

It is currently possible to pass a custom compute_metrics() to the Trainer for evaluation. An example is

[code]
However, the compute_metrics seems to be constrained only to receive a logit, label tuple.

This is insufficien

[2022-09-21 09:10] lsz05 opened #19136 "`if not something` is ambiguous"
### System Info

- `transformers` version: 4.22.0
- Platform: Linux-4.19.157-1.20201118.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.3
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.10.2+cu111 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (gpu)
- Jax version: 0.3.17
- JaxLib version: 0.3.15
- Using GPU in script?: YES
- Using distr

[2022-09-21 09:49] sanchit-gandhi commented on #19108
You can verify that you're running on an accelerator device by checking the number of JAX devices:
[code]
This will tell you if you're on CPU or GPU!

Did you make sure to use `.block_until_ready()` on the output logits? https://jax.readthedocs.io/en/latest/async_dispatch.html

Perhaps you could post your full code snippet for the JIT benchmark!

I'd do something as follows:

[code]

[code]

[code

[2022-09-21 09:52] mv96 opened #19137 "how to load multiple text files in LineByLineTextDataset ?"

[2022-09-21 09:58] mv96 commented on #19137
Hi everyone,

I am a bit new to hugging face environment , I was trying to pretrain a model from scratch following taking some inspirations from this post

[tutorial link](https://ireneli.eu/2021/03/28/deep-learning-19-training-mlm-on-any-pre-trained-bert-models/)

 Question : can I pass all the text files to construct the dataset  ?

`dataset = LineByLineTextDataset(
    tokenizer=tokenizer,

[2022-09-21 09:59] duongna21 commented on #18881
Hi @BramVanroy, I'm the main author of `run_bart_dlm_flax`. It's unfortunate that I cannot reproduce your bug. Ran your code and things work as expected except for the `nan` loss bug that you can handle [like this](https://github.com/huggingface/transformers/pull/18458#discussion_r976303806).

![ảnh](https://user-images.githubusercontent.com/38061659/191475142-f568b80a-1dab-4358-96ff-686f719c8892.

[2022-09-21 10:22] osanseviero commented on #19127
From the `transformers` side, I think the error could be a bit more descriptive/informative than having a `KeyError`.

[2022-09-21 10:58] Sakurakdx opened #19138 "`is_torch_tpu_available() got an unexpected keyword argument 'check_device'`"
### System Info

transformers==4.18.0
pytorch==1.12.0
pytorch-lightning==1.6.0

### Who can help?

@patrickvonplaten @sgugger @SaulLu
When I run `examples/pytorch/question-answering/run_qa.py`, it reports a bug that  `is_torch_tpu_available() got an unexpected keyword argument 'check_device'`. I don't know why this problem happens. Could you help me solve this problem?

![image](https://user-image

[2022-09-21 11:29] ZurabDz commented on #19108
[code]
Unfortunately, GPU utilisation is still 0% which means inference is still done on CPU. Memory is definitely allocated when model is loaded but after that, nothing really happens on it.
Currently flax benchmark looks like this:

[code]

Is something wrong with `jax.numpy.array`? Do I need to somehow force things into GPU?
`print(jax.device_count(backend='gpu')) # this prints 1` is this  what

[2022-09-21 11:37] IlyasMoutawwakil commented on #14812
Here's a notebook where I ONNXized TrOCR and also made a modification to the generation function so that it won't compute for lines that already ended (EOS).
https://colab.research.google.com/drive/1PApn7yl4E5RX0rz4AnxHqD0IqSOmpY9-?usp=sharing

[2022-09-21 11:39] sgugger commented on #19138
You are trying to run the examples of the main branch along with an older version of Transformers. Either upgrade your Transformers or use the [examples matching v4.18.0](https://github.com/huggingface/transformers/tree/v4.18.0/examples).

[2022-09-21 11:55] ZurabDz commented on #19137
[LineByLineTextDataset](https://github.com/huggingface/transformers/blob/main/src/transformers/data/datasets/language_modeling.py#L115) seems like do not provide such functionality, I think you can either combing those tsvs yourself or you could Extend a class similar to this:

[code]

`batch_encoding = tokenizer(lines, add_special_tokens=True, truncation=True, max_length=block_size)` here it seem

[2022-09-21 12:59] mv96 commented on #19137
Hi @ZurabDz,

Thanks, for the help.

So I will combine to get the single tsv file.

[2022-09-21 13:56] slvcsl commented on #19135
I just saw that the feature is actually already added.

One can add the trainer argument --include_inputs_for_metrics
and the compute_metrics will receive the inputs as the third element of the tuple.

[2022-09-21 13:57] #19135 closed

[2022-09-21 14:02] SaulLu opened #19142 "use `@unittest.skipIf` decorators inside tokenizer's tests instead of `if ...: return`"
### Feature request

Currently in tokenizer testing, many tests coded in `test_tokenization_common.py` are not relevant for all tokenizers. In most cases, when the test is not relevant, it is still run but no verification is done in it. See the snippet below for example:
https://github.com/huggingface/transformers/blob/114295c010dd9c94d48add7a0f091ba6ebdf482b/tests/test_tokenization_common.py#L384

[2022-09-21 14:04] SaulLu commented on #19142
Let me ping you @ydshieh as it seems to me that you have a great knowledge of testing and your opinion on it could be really appreciated! (and cc @LysandreJik and @sgugger for visibility)

[2022-09-21 14:18] SaulLu commented on #19136
Thank you for the issue! It's good to know the problems encountered. :hugs:

On the other hand, I'm not sure the case we want to catch is if `required_input` is equal to None (rather an empty list and maybe something else..). I don't have a typical case in mind but that would be the first thing we would need to find to solve your problem.

Would you happen to know what input was given to the pad m

[2022-09-21 14:53] SaulLu commented on #19142
Oh yes you're right, I should have mentioned that!

Indeed `test_sentencepiece` is an attribute of the test class (if you want to see how this decorator works on a very simple test class, you can see an example [here](https://www.tutorialspoint.com/unittest_framework/unittest_framework_skip_test.htm)).

In `TokenizerTesterMixin` it is set to `False` by default but is sometimes overridden to `True`

[2022-09-21 15:01] ydshieh commented on #19142
I love the usage of `@unittest.skipIf`!

However, I see a problem with `@unittest.skipIf(not test_sentencepiece, "Not testing sentencepiece")`, as `test_sentencepiece` wouldn't be defined at the time this decoration (and the condition) is evaluated.

We will need to think of a solution :-)

[2022-09-21 15:04] ydshieh commented on #19142
FYI, the same exists in `transformers`, for example

[code]

[2022-09-21 15:05] SaulLu commented on #19142
Yeah :raised_hands:!

For the case of `test_sentencepiece` I think they will be defined before as they are defined here:

https://github.com/huggingface/transformers/blob/114295c010dd9c94d48add7a0f091ba6ebdf482b/tests/test_tokenization_common.py#L142

https://github.com/huggingface/transformers/blob/19420fd99e1f08a052a1d0d267f3496002d03618/tests/models/xlm_prophetnet/test_tokenization_xlm_prophetn

[2022-09-21 15:12] ankrgyl commented on #19127
I had a bit of discussion with @NielsRogge about this. The model type here is different because this model actually has a slightly different architecture than standard LayoutLM (it has an additional token classifier head). @NielsRogge was kind enough to submit a PR (https://huggingface.co/impira/layoutlm-invoices/discussions/1) which changes it to `layoutlm`.

With this change (now merged), your c

[2022-09-21 15:31] SaulLu commented on #19142
Oh no! It would have been so great to have! But cool that you saw it quickly @ydshieh

[2022-09-21 15:47] sgugger commented on #19142
From a brief look, it looks like the solution adopted in the model tester (testing the class variable at the beginning of the test and exiting early) is the easiest one.

[2022-09-21 16:51] lsz05 commented on #19136
I examined what happened here with the following method:

I add two lines
[code]
between line 2095 and 2097 to see the values of these two variables, and get the following output
https://github.com/huggingface/transformers/blob/2c8b508ccabea6638aa463a137852ff3b64be036/src/transformers/tokenization_utils_base.py#L2905-L2910

OUTPUT:
[code]

Therefore, I believe `required_input` is typically a list

[2022-09-21 17:05] BramVanroy commented on #18881
@duongna21 Thanks for chiming in! I am going to close this as I am not working on this directly any more. I assume that drop_last should indeed fix the issue.

[2022-09-21 17:05] #18881 closed

[2022-09-21 19:13] ZurabDz commented on #19137
I think you should close an issue if it's resolved.

[2022-09-21 19:14] #19137 closed

[2022-09-21 19:38] urialon opened #19334 "`truncation='do_not_truncate'` is not working equivalently to `truncation=False`"
Hi,
`truncation='do_not_truncate'` is not working equivalently to `truncation=False`.
When using `truncation=False` and providing `max_length`, it defaults to `'longest_first'` truncation strategy.
Whether this default behavior is natural or not, isn't `False` supposed to be identical to `'do_not_truncate'`?

This leads to a situation when the user explicitly specifies `truncation=False` but the t

[2022-09-21 20:06] ZurabDz opened #19147 "Is BertWordPieceTokenizer behaviour deterministic on the same data?"
So, I accidentally lost BertWordPieceTokenizer checkpoint, what will happen If I retrain it from the same data? Will the result be the same?

[2022-09-21 20:17] luffycodes opened #19148 "Luke Finetuning Error"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-4.15.0-192-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Y

[2022-09-21 23:06] nbroad1881 commented on #18870
I believe AzureML logging is being deprecated for mlflow.

@dks198, you can use the [answer](https://github.com/huggingface/accelerate/pull/675#discussion_r974482489) I gave in the other thread. You can just limit the number of parameters logged.

[2022-09-21 23:34] dks198 commented on #18870
Hi,

I tried implementing the code you have shared for my Bert model training
however, I still get the same error message. I am trying to figure out how
to implement this so that I can get through this error. I have attached the
error message for your reference.

Regards,
Dev

On Tue, Sep 20, 2022 at 1:52 PM giozinzi ***@***.***> wrote:

[2022-09-22 00:17] Lingeng56 commented on #8669
I really need this

[2022-09-22 00:57] sywangyi commented on #18609
Hi, I have enabled the HPO DDP for optuna, and it works for CPU, you could try it in the latest master.

[2022-09-22 01:24] CSerxy commented on #2401
Met same issue.

At file transformers/models/roberta/modeling_roberta.py under function RobertaEncoder,

If I call
`layer_outputs = layer_module(`
`hidden_states[:2],`
`attention_mask[:2],`
`layer_head_mask,`
`encoder_hidden_states,`
`encoder_attention_mask,`
`past_key_value,`
`output_attentions,)`
and print
`hidden_states = layer_outputs[0]`
`print(hidden_states[0,0,:10])`

The results are differ

[2022-09-22 01:49] #19138 closed

[2022-09-22 06:44] SaulLu commented on #19142
I have one last suggestion: it seems to me that it is possible to skip a test from inside the test using VV.

On the toy example it seems to work well:
[code]

What do you think about this?

[2022-09-22 07:34] petertjmills commented on #14839
Change `!pip install bitsandbytes-cuda111==0.26.0` to `!pip install bitsandbytes` and this notebook works for now.

As per the `hivemind/gpt-j-6b-8bit` model card, I'm trying to use `load_in_8bit=True` with `EleutherAI/gpt-j-6B` but I can't seem to get it to work without crashing due to too much RAM usage.
What would the RAM requirements be?

[2022-09-22 08:04] HoaNguyen55 commented on #9914
I met the same issue, I did not know how to fix it
[code]

[2022-09-22 08:39] timbmg commented on #15857
Is there an update on this?:)

[2022-09-22 09:15] anderleich commented on #18825
Hi @judithvdw ,

Not yet. I decided to use the LM outside the pipeline for the moment

[2022-09-22 09:17] HoaNguyen55 commented on #9914
Please help me how to fix this problem? How can I change my code?

[2022-09-22 09:51] petertjmills opened #19155 "load_in_8bit=True crashes GPT-J when running model.generate()"
### System Info

Colab Pro, NVIDIA P100
Transformers: 4.22.1
Accelerate: 0.12.0

- `transformers` version: 4.22.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed

[2022-09-22 10:31] OliVinz commented on #5611
Try using the Longformer transformer. The pre-trained ones on huggingface can process up to 16k tokens. I used it for my dissertation where I was processing large documents

[2022-09-22 11:08] sgugger commented on #19142
That works for me!

[2022-09-22 11:15] #18758 closed

[2022-09-22 12:08] hibiki12y opened #19157 "Can't use decoder_inputs_embeds argument on MBartForConditionalGeneration"
### System Info

- `transformers` version: 4.22.0
- Platform: Linux-4.4.0-210-generic-x86_64-with-glibc2.23
- Python version: 3.9.12
- Huggingface_hub version: 0.7.0
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using dis

[2022-09-22 12:09] Rocketknight1 commented on #19094
Hi @dimitreOliveira, that sounds like a great feature, and we'd be happy to accept that PR! We've been working on making our default signatures more general and usable, but this sounds like a good idea too. Are you planning to add a `signatures` argument that's passed through to `model.save()` when `saved_model=True`?

[2022-09-22 12:17] Rocketknight1 commented on #19095
Hi @visionscaper - this seems like something that could work! We haven't experimented with `tf.recompute_grad` in detail but the core code for training our Keras models is in the `train_step` and `test_step` methods [here](https://github.com/huggingface/transformers/blob/main/src/transformers/modeling_tf_utils.py#L1380), so you could try adding it there.

Bear in mind I don't know if this will wor

[2022-09-22 13:40] SaulLu commented on #19142
So cool! I'll try to take care of these changes today or tomorrow

[2022-09-22 14:23] gante commented on #19079
@ankrgyl that's a good finding 👍 A PR contribution would be deeply appreciated (for TF and FLAX as well, if the typo also exists there), but I will pick it up otherwise :)

[2022-09-22 14:35] gante commented on #19155
Hey @petertjmills -- can you share with us the error you're seeing or, better yet, a link to a colab with the error?

[2022-09-22 14:49] spigo900 commented on #18609
Hi, @sywangyi. Are you referring to #19096 (merged as 6227078d0a95aed688578d37b319e969a1dcd30f)? It's not clear to me that this should fix the problem -- because each process calls optimize() on its own I'd expect each process to generate a different Optuna trial object and for that to cause problems when passing the trial object to `train()`. However, I did try rerunning the OP (reproduce) script

[2022-09-22 15:02] #18626 closed

[2022-09-22 15:02] #18622 closed

[2022-09-22 16:25] petertjmills commented on #19155
Thank you for the reply! I threw together a quick notebook to send and it worked 🙄

I've found the source of the issue. In the bitsandbytes readme they specify:
[code]

The first time I got a P100 (Pascal arch, 2016)
The second time I got a T4, go figure.
May be worth documenting?

[2022-09-22 16:25] #19155 closed

[2022-09-22 17:57] mv96 opened #19161 "Can't load too big text file for dataset (RAM exhausts), HELP PLEASE !!!!!"
Hello All,

I am trying to load a big text file for pertaining a BERT model from scratch the size of the txt file is about 11GB and trying to load the model for pertaining is exhausting all the RAM on the system.

Is it possible to load all the data in batches and then perform training.

I am a bit new to hugging face ecosystem so I would request you all to help me around if you have any clue abou

[2022-09-22 19:57] alexacole commented on #19005
Hello, I have an M1 Mac and would love to try to tackle this issue

[2022-09-22 22:56] dimitreOliveira commented on #19094
Hey @Rocketknight1 I am glad you liked the feature, I am happy to collaborate with the TF side of the lib.

Yes, my idea is to just add  a `signature` parameters to the [signatures](https://github.com/huggingface/transformers/blob/ca485e562b675341409e3e27724072fb11e10af7/src/transformers/modeling_tf_utils.py#L2085) function, that parameter would default to `None` and if that is the case we would j

[2022-09-23 00:16] sywangyi commented on #18609
Hi @spigo900 ,I am referring to https://github.com/huggingface/transformers/pull/19002, only rank0 will generate the trial and pass the argument to other ranks

[2022-09-23 00:49] YooSungHyun commented on #19044
@sanchit-gandhi Hi!
that is my company`s private wandb. so i can not share to you

but i have one hypothesis, and now testing.
confomer has convolution modul, so, conformer output audio length is shorter than wav2vec2-base
so, some data audio length is shorter than label length. that make ctc loss's inf issue.
(my zero_inf param is true, but i think 0 loss is noise, too. because in 'mean' strategy

[2022-09-23 02:53] lava18 commented on #9039
I am also facing the same error.
@sgugger I thought the dropout is deactivated once I call model.eval()

[2022-09-23 05:47] lgq-liao opened #19164 "Evaluation of wav2vec2 model all labeled string return "<unk>" value"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.15.0-48-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-09-23 06:45] BakingBrains commented on #14812
Any updates on this one?

Thank you

[2022-09-23 07:02] timbmg commented on #18862
You can subclass the Seq2SeqTrainer and override the [_get_train_sampler](https://github.com/huggingface/transformers/blob/8d59385f124dd1b330cac7eaa7162799870793ec/src/transformers/trainer.py#L759) method. Instead of creating a RandomSampler object, create a [SequentialSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.SequentialSampler).

[2022-09-23 07:04] mullerhai opened #19165 "would huggingface like support cpp env libtorch or rewrite the core code for cpp ?"
### System Info

libtorch 1.21
macos
Hi:
      I  want to  use huggingface ,but ,I find the model  api  almost python api, I use the cpp env for  libtorch , would you like support cpp ,or rewrite the code with cpp?
thanks

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `exampl

[2022-09-23 08:46] felix-schneider commented on #19116
You can just use
`parser.parse_dict(yaml.safe_load(f))`

[2022-09-23 09:29] jesusSant opened #19167 "Optimize ONNX model based on encoder-decoder"
First of all, thank you very much for making our lives easier with the work you do at huggingface, congratulations!
We have a model based on the encoder-decoder architecture, made up of 2 RoBERTa. The model works quite well, but unfortunately its inference time is quite high (about 400ms to generate a sentence of about 7 tokens). We would like to reduce that time, and have opted for ONNX and Optim

[2022-09-23 09:30] lewtun commented on #14812
Hi folks, @mht-sharma will be tackling this issue - stay tuned :)

[2022-09-23 09:37] duongna21 commented on #18249
@patrickvonplaten I totally agree with you that it doesn't matter with language modeling. I just tried to make sure it doesn't create any side-effects somewhere :D.

[2022-09-23 09:37] #18249 closed

[2022-09-23 11:04] gante commented on #19155
Definitely! Would you like to open a PR with a more informative exception? :D

[2022-09-23 11:26] sgugger commented on #9039
Not sure what your code sample is @lava18 . The code sample above (fixed like below) always returns the same value once the line `model.train()` is removed.
[code]

[2022-09-23 11:33] sgugger commented on #19116
Which could all go in a `parse_yaml_file` method :-) Doing this and also refactoring the `parse_json_file` to use `parse_dict`, as well as adding small tests would be nice additions that shouldn't be too hard, so putting the "Good first issue" label here.

To summarize:
- [ ] adding as `parse_yaml_file` method to `HfArgumentParser` with the code above
- [ ] refactor the dupe code between `parse_js

[2022-09-23 12:27] spigo900 commented on #18609
@sywangyi I see, that looks like it should solve the problem. I will try that today

[2022-09-23 12:34] spigo900 commented on #18609
@sywangyi Yes, #19168 solved the problem. Thanks again.

[2022-09-23 13:14] #15857 closed

[2022-09-23 14:50] OllieBroadhurst commented on #19164
Are the labels in lower case?

[2022-09-23 15:03] #18649 closed

[2022-09-23 15:17] sayakpaul commented on #18641
Please reopen the issue as I am working on it.

[2022-09-23 15:28] LysandreJik commented on #19164
Maybe of interest to @sanchit-gandhi as well

[2022-09-23 15:50] alaradirik commented on #18987
Closing this issue as the fix PR is merged.

[2022-09-23 15:50] #18987 closed

[2022-09-23 17:29] LysandreJik commented on #19167
Hey, thanks for opening an issue Jesus!

Let me move it to Optimum where I'm sure folks will know how to help you out.

[2022-09-23 18:31] LysandreJik commented on #19157
Maybe of interest to @ArthurZucker :)

[2022-09-23 18:44] leg0m4n commented on #14162
hey @anton-l, thank you for your code, it doesn't handle the first and last chunks properly though, do you think its better to add empty audio chunks in the beginning and the end of an audio or just not use start padding in the 1st chunk and end padding in the last chunk?

[2022-09-23 19:24] sfbaker7 commented on #1791
Not sure if this is the best approach, but I did something like this and it solves the problem

[code]

[2022-09-23 20:18] ZurabDz commented on #19108
@sanchit-gandhi sorry for pinging, but any thoughts on what could be the reasoning for such weird results?

[2022-09-24 01:52] dxlong2000 opened #19177 "ValueError: Task image-classification is not compatible with this dataset! Available tasks: []"
### System Info

Dear all,

Thank you for your great work. I have tried to run ```image-classification``` example on my simple dataset and I got this error. The version of transformers I used is the newest one. Do you have any idea what happened?

Thanks very much!

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Task

[2022-09-24 11:33] Drake53 opened #19180 "Connection error even though files are already downloaded."
### System Info

transformers version: 4.16.2

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Run demo.py (from https://github.com/bes-dev/stable_diffusion.openvino

[2022-09-24 13:43] 14H034160212 opened #19181 "RuntimeError: Expected object of scalar type Long but got scalar type Float for argument #2 'target' in call to _thnn_nll_loss_forward"
### System Info

Hi,

I got the following issue `RuntimeError: Expected object of scalar type Long but got scalar type Float for argument #2 'target' in call to _thnn_nll_loss_forward` when I was finetuning the stsb by using a finetuned roberta. I use [this code](https://github.com/huggingface/transformers/blob/main/examples/pytorch/text-classification/run_glue_no_trainer.py) to finetune the stsb

[2022-09-24 14:50] ptavaressilva commented on #19177
I have a similar situation. I had image classification working a couple of weeks ago with a local (disk) dataset, using run_image_classification.py, but now that code no longer works.

I run the script within a Jupyter Notebook with
[code]

And after it loads the dataset I get:
[code]

[2022-09-24 18:44] divyanshuaggarwal commented on #18661
Hi,

Any updates on this? When can we expect to generate a function to work on TPUs? Also, will it be part of transformers or optimum? as mentioned by @patrickvonplaten above.

[2022-09-24 20:41] IMvision12 commented on #19116
Hi, I would like to work on it

[2022-09-24 21:14] au-revoir commented on #15399
@stas00 I see that you have mentioned `synced_gpus=True` when using `model.module.generate` but in my case, I am generating the logits using forward method `model.module(input_ids=input_ids, attention_mask=attn_mask, labels=decoder_ids).logits`. This doesn't support `synced_gpus=True`. Currently the process hangs after showing ` Process 36678 exits successfully.` The rank 1 GPU becomes empty while

[2022-09-25 01:23] JoWohlen commented on #19070
By accident I stumbled over what probably is the cause of all this. In https://github.com/huggingface/transformers/pull/17814 a change was made to the constraint-beam-search. This change became active after v4.20.1 . Linked in the PR you can find another PR that adapts the tests to expect the faulty results (as in the issue description)

[2022-09-25 01:35] JoWohlen commented on #19070
Also @boy2000-007man, maybe you have a solution to this?

[2022-09-25 02:07] gmftbyGMFTBY opened #19182 "Adding State-of-the-art Contrastive Search to the Codebase of model.generate()"
### Feature request

****

<span id='all_catelogue'/>

## Catalogue:
* <a href='#abstract'>1. Abstract</a>
* <a href='#introduction'>2. Introduction</a>
* <a href='#demonstration'>3. Demonstration of the Awesome Results from Contrastive Search</a>
   * <a href='#opt_demonstration'>3.1. Demonstration with OPT</a>
   * <a href='#gpt_demonstration'>3.2. Demonstration with GPT</a>
* <a href='#example_

[2022-09-25 04:40] stas00 commented on #15399
That's the thing about ZeRO - all participating in sharding gpus must always work in sync. If one gpu finished early for some reason it must continue running forward until all gpus finish. If it doesn't the other gpus will block waiting for all gpus to send their shards to each other.

You can see how I implemented it in `generate` - follow `synced_gpus` code branches - but of course any other way

[2022-09-25 07:38] Liudvikas-vinted opened #19184 "Trainer().train() just idles, neccesitates kernel restart"
### System Info

- `transformers` version: 4.22.1
- Platform: Linux-4.19.0-21-cloud-amd64-x86_64-with-debian-10.13
- Python version: 3.7.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Ye

[2022-09-25 08:28] ptavaressilva commented on #19177
Solved it by downgrading to datasets==2.4.0

[2022-09-25 10:30] yiyualt commented on #16455
I have also noticed that, and still no idea why the loss function of T5 and BART used does not set "ignore_index" ( [nn.CrossEntropyLoss](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html))

[2022-09-25 11:08] yiyualt commented on #16455
Update: I guess I have found the reason.   The implementation uses a default setting of "nn.CrossEntropyLoss" function, where the "ignore_index" is set to -100.  So, when computing the loss, you need to convert the labels pad index, shown as below:

![Screen Shot 2022-09-25 at 20 07 03](https://user-images.githubusercontent.com/27895653/192140447-d3b2994c-fa9d-441a-a3da-6f8f36689648.png).

See: [h

[2022-09-25 11:27] SupreethRao99 commented on #4899
I got around the issue by changing the code from this
[code]
to
[code]

transformers version : 4.22.1

[2022-09-25 12:50] SeanNaren opened #19186 "Unable to instantiate tokenizer with `TRANSFORMERS_OFFLINE=1`"
Just some context, we use `TRANSFORMERS_OFFLINE=1` in the NeMo CI to ensure we load from the local cache. With the latest transformers version we noticed this bug in our CI!

### System Info

- `transformers` version: 4.22.1
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow

[2022-09-25 13:28] sanhok99 opened #19187 "`$from transformers import ALBERT_PRETRAINED_CONFIG_ARCHIVE_MAP`"
`$from transformers import ALBERT_PRETRAINED_CONFIG_ARCHIVE_MAP`
this solved my issue. Thank you everyone for support. you are great.
https://hjlabs.in

_Originally posted by @hemangjoshi37a in https://github.com/huggingface/transformers/issues/5848#issuecomment-1242951220_

[2022-09-25 13:29] sanhok99 commented on #19187
Can you please mention the directory and the file name where you are changing this MAP to LIST.
Thank You.

[2022-09-25 15:01] #18681 closed

[2022-09-25 15:01] #18664 closed

[2022-09-25 15:02] #18659 closed

[2022-09-25 15:02] #18656 closed

[2022-09-25 15:02] #18404 closed

[2022-09-25 15:02] #18293 closed

[2022-09-25 15:02] #17336 closed

[2022-09-25 17:18] skanjila commented on #18191
@ChainYo I think what you're saying is that the only parameters that are needed are the following as mentioned in the documentation in the configuration section, is that correct?

( state_dim = 17act_dim = 4hidden_size = 128max_ep_len = 4096action_tanh = Truevocab_size = 1n_positions = 1024n_embd = 768n_layer = 3n_head = 1n_inner = Noneactivation_function = 'relu'resid_pdrop = 0.1embd_pdrop = 0.1a

[2022-09-25 20:00] purnasai-cyient opened #19190 "LayoutLMV3 Training with Morethan 512 tokens."
Hi, It is mentioned in the Research paper and in Model docs that the model is trained with `maximum_length = 512` tokens. But when we have large tokens with an average of 1124 tokens, I thought to increase `maximum_length = 1024`. But since it is limited, I have used `Stride` and implemented a dataclass.

![image](https://user-images.githubusercontent.com/112476954/192162483-26a375c1-9584-4122-865

[2022-09-26 00:55] ddobokki commented on #19044
i think this is maybe same problem with https://github.com/facebookresearch/fairseq/issues/4244

[2022-09-26 01:29] lgq-liao commented on #19164
Yes, it's lower case

Here is the csv file looks like:
$ head dataset.csv
path,transcription
wav/000010001.WAV,there were barrels of wine in the huge cellar
wav/000010002.WAV,she won a car because she was the twelfth person to call the radio station
wav/000010003.WAV,as they walked back they were shocked to see a pack of stray dogs circling around the car

[2022-09-26 01:32] lgq-liao commented on #19164
Yes, it's lower case

Here is the csv file looks like:
$ head dataset.csv
path,transcription
wav/000010001.WAV,there were barrels of wine in the huge cellar
wav/000010002.WAV,she won a car because she was the twelfth person to call the radio station
wav/000010003.WAV,as they walked back they were shocked to see a pack of stray dogs circling around the car

[2022-09-26 01:58] HebaGamalElDin commented on #14195
Hi @NielsRogge .. Question please what did you mean by decoding the labels before feeding them to the model? should it be feed to the model in the training as text?

[2022-09-26 04:06] OllieBroadhurst commented on #19164
Ok I think that's the issue. Your vocabulary likely only contains upper case letters. The tokenizer doesn't recognise lower case letters so it uses <unk> instead.

Try converting your transcription column to upper case and see if that fixes it.

[2022-09-26 05:45] ekurtulus commented on #18424
The fairseq version is suggested at the [official example repository](https://github.com/huggingface/transformers/tree/main/examples/pytorch/translation).

[2022-09-26 05:45] ekurtulus commented on #18424
Fairseq preprocessed version is suggested  [at the official repository](https://github.com/huggingface/transformers/tree/main/examples/pytorch/translation).

[2022-09-26 05:46] ekurtulus commented on #18424
What checkpoint should use then ?

[2022-09-26 05:52] SangwonPark0211 commented on #18862
Thank you!! I'll try as you mentioned.

[2022-09-26 08:09] Kunlun-Zhu opened #19194 "After using transformers.Trainer, batch data in my dataset become empty"
### System Info

- `transformers` version: 4.22.1
- Platform: Linux-3.10.0-1127.el7.x86_64-x86_64-with-glibc2.27
- Python version: 3.9.7
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill

[2022-09-26 08:46] hadifar opened #19196 "Benchmarking text generations"
### Feature request

Currently, we can benchmark Bert or Roberta with `PyTorchBenchmark`. I am just wondering, can we do the same thing for text-generation models, e.g., T5?

[code]

The above code throws the following exception:
[code]

### Motivation

It would complete the benchmark API.

### Your contribution

I can submit an initial PR for benchmarking the text generation models.

[2022-09-26 09:01] ydshieh commented on #18424
I think my colleagues @patil-suraj  and @patrickvonplaten are the best persons for this question. The trainer script could work with several models (T5, Bart, etc.). Bart is from facebook/fairseq (so probably used the pre-processed dataset), but T5 is from Google. I am not 100% sure if the combination `stas/wmt14-en-de-pre-processed` + `T5` is the best choice to compare against the original T5 che

[2022-09-26 09:45] ngonhi commented on #12570
@hrmello have you been able to solve this problem? I'm facing the same issue

[2022-09-26 09:47] meliksahturker opened #19197 "Converting TFBartForConditionalGeneration to BartForConditionalGeneration does not work"
### System Info

Transformers version: 4.22.1
Platform: SMP Debian 4.19.249-2 (2022-06-30) x86_64 GNU/Linux
Python version: 3.7.12

### Who can help?

@patil-suraj

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

###

[2022-09-26 10:14] ydshieh commented on #18876
Hi, @jmwoloso

After a discussion with one of my colleagues @Narsil, we think this scenario is too specific to be documented in the doc. I think, for now, having your workaround on this GitHub issue page is already very good and helpful for others having the same issue :-) Thanks again.

Regarding slow/fast tokenizer, I left [a comment](https://github.com/huggingface/tokenizers/issues/1045#issueco

[2022-09-26 10:14] #18876 closed

[2022-09-26 11:19] mv96 opened #19199 "Can't load too big text file for dataset (RAM exhausts), HELP PLEASE !!!!!"
### System Info

MacBook Pro (13-inch, M1, 2020)
Chip Apple M1
Memory 16 GB

(Also tried with Google Colab)

### Who can help?

copy of #19161

Hello All,

A bit new to HuggingFace environment.

I am trying to load a big text file for pertaining a BERT model from scratch the size of the txt file is about 11GB and trying to load the model for pertaining is exhausting all the RAM on the system.

Is

[2022-09-26 11:51] #18268 closed

[2022-09-26 11:55] sgugger commented on #19184
How are you running the notebook? It works fine on my side.

[2022-09-26 12:02] Kunlun-Zhu commented on #19194
Thanks for the hint. I change the dict into tuple, in the dataset and it works fine now. It's not ideal though. Not sure whether if the trainer won't support the dict format in the torch Dataset

[2022-09-26 12:04] Kunlun-Zhu commented on #19194
[code]
That' s how I modified my dataset new, which will work

[2022-09-26 12:50] #15971 closed

[2022-09-26 12:51] jaddi-piontrd commented on #17855
Unfortunately, even if I used `debugger_hook_config=False` and `USE_SMDEBUG="0"` does not work for me

[2022-09-26 13:09] hadifar commented on #19196
Already discussed here: https://github.com/huggingface/transformers/issues/15512

[2022-09-26 13:09] #19196 closed

[2022-09-26 13:24] #19194 closed

[2022-09-26 14:17] ankrgyl commented on #18926
Could we re-open this (I don't think I have permissions to)? There are still a few changes necessary to complete all of the checkboxes.

[2022-09-26 14:55] mv96 commented on #19199
@Kunlun-Zhu

I am a bit new to HF environment, can you please provide an example code snippet to do so ?

Thanks !!

[2022-09-26 15:06] NielsRogge commented on #18780
Closing this as we've answered the question, feel free to re-open if you still have this issue

[2022-09-26 15:30] Kunlun-Zhu commented on #19199
https://pytorch.org/docs/stable/data.html

[2022-09-26 18:06] archieCanada commented on #15399
Hello Stas and community,

I try to implement the sharded version of the T0pp model, but I fail to do so for reasons I don't understand.
Here is my code:

[code]
I have the following resources:

2 GPUs (Tesla V100-SXM2-32GB)
60 GB per GPU (120 GB total)

According to my understanding these resources should be enough. But the system crushes already on the line:
`model = AutoModelForSeq2SeqLM.from_p

[2022-09-26 18:38] tayler6000 opened #19213 "Non-descriptive error when initiating gpt2 tokenizer without internet"

[2022-09-26 20:37] jmwoloso commented on #18876
Thank you @ydshieh!

[2022-09-26 20:55] stas00 commented on #15399
most likely you have too little cpu memory, try with `AutoModelForSeq2SeqLM.from_pretrained(model_name, low_cpu_mem_usage=True)`

normally with unsharded model you need 2x model size of CPU memory to load it.

[2022-09-26 22:01] #19186 closed

[2022-09-26 22:32] archieCanada commented on #15399
Hello Stas,

I probably don't understand everything, because I am missing your point.

Here is my situation:
I **want to use the sharded model** you mentioned earlier to avoid the bottleneck with many GPUs and limited CPU RAM. But I don't understand the algorithm of how to do that.

What I have tried:

1)
`model_name = "bigscience/t0pp-sharded"`
`model = AutoModelForSeq2SeqLM.from_pretrained(model

[2022-09-27 00:25] stas00 commented on #15399
I was replying to your comment of getting your program killed.

I think now I perhaps understand what you are struggling with.

there is no such things as ` bigscience/t0pp-sharded`

Here is what you can do:

1. Use the 10GB-shard presharded model:

[code]

if 10GB is too big then try next to make your own sharded model:

2.  say 5-GB shards
[code]
this step will require 2x model-size cpu memory a

[2022-09-27 04:58] CaffreyR commented on #18880
Hi @NielsRogge @saradhix , it is very interesting that when I do this, it says warning.
[code]

Is there any problem with this warning? Many thanks!!

[2022-09-27 05:16] HebaGamalElDin commented on #14195
Also please, the MSE loss calculated basically by the model is so small while finetuning on a handwritten Arabic dataset (tends to 0) given a high CER, WER..

when I tried the crossentropy the loss values are huge values (number of 8 digits) so what could this behavior indicate?

[2022-09-27 07:05] lgq-liao commented on #19164
Yeah, that is the root cause. After I changed it to upper case, the issue go aways:
Thank you so much for the troubleshoot.

***** Running Evaluation *****
  Num examples = 91
  Batch size = 4
100%|███████████████████████████████████████████| 23/23 [00:03<00:00,  6.42it/s]pred_str[0]: THERE WERE BARRELS OF WINE IN THE SHU CELLOR
label_str[0]: THERE WERE BARRELS OF WINE IN THE HUGE CELLAR
100%|████

[2022-09-27 07:14] jorgeili15 commented on #18935
Hi,

I'm findind hard to achieve to set the inteporlate_pos_encoding = True by redefining the forward method of the model.
Could you make a brief step by step on how to do so in order to train the model, and not just make a forward pass?

I thought it was just about modifying the model.config which feeds the module parameters, as one can set the output_attentions = True per example, but I see is n

[2022-09-27 07:17] NielsRogge commented on #18935
Could you clarify? The only thing you need to change is pass interpolate_pos_encoding=True to the forward when training the model (no need to redefine the forward method).

This issue was fixed in #19103, therefore I'm closing this issue.

[2022-09-27 07:17] #18935 closed

[2022-09-27 07:18] gmftbyGMFTBY commented on #19182
@patrickvonplaten @sgugger @stas00 Thank you very much for your contributions to the `generation_utils` codebase. Could you please take a moment to review our request, which we think could significantly facilitate the development of the text generation community?

[2022-09-27 07:25] jorgeili15 commented on #18935
I fine tune the model by using the Trainer build class from transformers, not directly by calling the forward method, so I'm not finding the way to set the interpolate_pos_encoding to true in that case.

[2022-09-27 07:26] dwlim-nota opened #19209 "torch.fx not working on ViT model"
### System Info

transformer version: 4.23.0.dev0
platform: windows 11, AMD64
python version: 3.7.9

### Who can help?

@NielsRogge

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. write below cod

[2022-09-27 07:37] rbsteinm commented on #15232
Hey @patrickvonplaten, since no one seems to be working on this issue at the moment I'd love to address it if that's okay!

[2022-09-27 07:38] IMvision12 commented on #19116
How can i write test for  `parse_yaml_file` and `parse_json_file` it will require an external json and yaml file to testing

[2022-09-27 08:43] patrickvonplaten commented on #18704
We don't maintain the research folders actively. Feel free to open a PR though if you want @shamanez - happy to review and merge

[2022-09-27 08:44] patrickvonplaten commented on #19111
@ArthurZucker could you take a look here (happy to answer questions about the model)

[2022-09-27 09:01] #19164 closed

[2022-09-27 09:39] jsjy1 commented on #6263
I solved it by reducing batch _ size.

[2022-09-27 10:01] mashli commented on #12623
Dear thisis-nkul, have you sovled this problem? How?

[2022-09-27 10:57] #18756 closed

[2022-09-27 10:58] #18707 closed

[2022-09-27 10:58] patrickvonplaten commented on #18703
Hmm, I sadly won't have time to look into this anytime soon. cc @gante @ArthurZucker here maybe

[2022-09-27 11:02] patrickvonplaten commented on #18133
I won't have time to look into this anytime soon. @ArthurZucker could you take a look here?

[2022-09-27 11:05] patrickvonplaten commented on #18104
I won't have time to look into this I'm afraid. @ArthurZucker could you give it a try?

[2022-09-27 11:05] patrickvonplaten commented on #18049
Can we close this one? cc @ydshieh ?

[2022-09-27 11:22] patrickvonplaten commented on #18661
I won't have time to look into this. @gante maybe?

[2022-09-27 11:24] patrickvonplaten commented on #19070
@gante more generally should we maybe mark the disjunctive decoding as experimental and state that we don't actively maintain them? It's simply too time-consuming to look into this at the moment IMO

[2022-09-27 11:27] moseshu opened #19211 "T5model result get <UNK>"
### Model description

config = T5Config(num_layers=12,
                      num_decoder_layers=12,
                      pad_token_id=0,
                      es_token_id=VOCAB_SIZE + 2,
                      model_parallel=True,
                      vocab_size=VOCAB_SIZE,
                      num_heads=12,
                      d_model=1024,
                      d_kv=64,

[2022-09-27 11:39] sgugger commented on #19116
No, you can create it during the test by saving some dictionary (look at the `parse_dict` tests) into a temporary file.

[2022-09-27 11:46] Narsil commented on #18942
This seems a nice addition !

Same here, I have  limited bandwidth at the moment.

Notes for anyone wanting to implement this.

The goal is NOT to support every single feature `generate` supports in terms of return, only the one that make sense for users not knowing about ML, and not being power users (anyone that knows enough, should be able to drop down from pipelines and using lower level objec

[2022-09-27 11:47] #19211 closed

[2022-09-27 11:48] patrickvonplaten commented on #18424
Note that we cannot guarantee perfect replication of all models for every result in their respective paper. Given the extremely low results of your training though there is probably a bug.

Here I'd suggest to try out different learning rates, learning rate schedulers (e.g. --lr_scheduler_type constant looks weird to me, I think a linear decrease makes more sense). Also note that the original mode

[2022-09-27 11:50] moseshu opened #19212 "T5 model predict <UNK>"
config = T5Config(num_layers=12,
num_decoder_layers=12,
pad_token_id=0,
es_token_id=VOCAB_SIZE + 2,
model_parallel=True,
vocab_size=VOCAB_SIZE,
num_heads=12,
d_model=1024,
d_kv=64,
d_ff=3072,
decoder_start_token_id= VOCAB_SIZE + 1,
)
model = T5ForConditionalGeneration(config)
this is my T5 model config.
epoch is 200 .I use it to train a translation model,
but the results of prediction is <UNK>.

H

[2022-09-27 11:54] Narsil commented on #19213
Tagging @sgugger

[2022-09-27 11:55] sgugger commented on #19213
Looks like a duplicate of #19186 so should be fixed by #19206 .

[2022-09-27 12:03] Eeshvardhanshet opened #19214 "ERROR: MPNetTokenizerFast' object has no attribute '_in_target_context_manager"
HI Team,

Can anyone help me on above error. I was using SentenceTransformer('paraphrase-mpnet-base-v2'). When deploy the model and testing performed I got this error.

[2022-09-27 12:12] patrickvonplaten commented on #19182
Wow this is very cool! @gante do you have time to take a look here by any chance? Otherwise @ArthurZucker maybe?

[2022-09-27 12:28] Eeshvardhanshet commented on #19214
Also, I get this error:

HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /api/models/sentence-transformers/paraphrase-MiniLM-L6-v2 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f2cc8a5e8d0>: Failed to establish a new connection: [Errno 111] Connection refused'))

[2022-09-27 13:55] IMvision12 commented on #19116
Hey, @sgugger I have written the test for `parse_yaml_file` and `parse_json_file` using tempfile is it acceptable?? Also it passes the tests.
![Capture](https://user-images.githubusercontent.com/88665786/192546217-56e3f77f-85ca-4b7f-b1fd-cd54d6f6a3bb.PNG)

[2022-09-27 13:59] stevezhangz commented on #9785
Seems that GPT2 doesn't perform well on this proj

[2022-09-27 14:03] sgugger commented on #19116
You can also use the context manager for a temp dir.
[code]
The plus for this is that it's automatically cleaned up when you exit the with block (whereas the temp file will stay until the next restart).

[2022-09-27 14:13] ydshieh commented on #18049
I re-opened that PR #18057. Let's see if @gsarti would like to continue the work, otherwise I can take it.
The necessary fix is minimal.

[2022-09-27 14:28] Narsil commented on #19038
Hi @AndreaSottana

The amount of parameters is something we are actually to control as it sometimes explodes:
https://huggingface.co/docs/transformers/v4.22.1/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.generate

All those are available to `summarization` pipeline in addition to many more actually. Since the docs becomes unreadable when bloated with too many args,

[2022-09-27 14:40] rbsteinm commented on #15232
@patrickvonplaten I just opened a PR to address this issue based on @ayushtues's suggestions.

On a side note I am fairly new to open source software contribution. Any feedback is very welcome and if there is any issue with this PR I'd be happy to address it.

[2022-09-27 14:42] Narsil commented on #19063
Actually everything is working as intended. The model is indeed seeing 32 items at a time, however 32 texts in this occurence is NOT a batch of 32.

In order to work on this data, there is 1 text pair constructed for each text + candidate_labels, so in your case each text generates 2 items to be processed by the model.

This pipeline is actually quite smart, and starts by outputting in a generatin

[2022-09-27 14:51] Narsil commented on #18951
I unfortunately don't have a machine at hand big enough to run that code.

Does this happen with any other (smaller) model that we can try on ?

If not, the ideal thing would be to check if the problem is the `eos_token_id` being generated or not.
Using `pipeline(..., eos_token_id=None)` should deactivate it, and your generation should now actually generate 250 tokens.

The other options is that i

[2022-09-27 15:17] IMvision12 commented on #19116
Okay I will change that!

[2022-09-27 16:31] ydshieh commented on #18424
Agree with @patrickvonplaten, especially for the `AdamW` optimizer.

I think [Hugging Face Forums](https://discuss.huggingface.co/) would be a better place for this question. If a bug (say in the model or in the training script) is found, don't hesitate to report here :-)

[2022-09-27 16:59] ydshieh commented on #19209
I am a bit surprised with this situation, as `ViTModel` is tested against `test_torch_fx_xxx` methods, which go through
https://github.com/huggingface/transformers/blob/2d956958252617a178a68a06582c99b133fe7d3d/tests/test_modeling_common.py#L772

However, I realized that `symbolic_trace` is `from transformers.utils.fx import symbolic_trace`
https://github.com/huggingface/transformers/blob/2d9569582

[2022-09-27 17:02] ydshieh commented on #19209
Just a remark: It looks like, (if we want) to fully support `from torch.fx import symbolic_trace`, there are more places to be changed.

[2022-09-27 17:13] hrmello commented on #12570
Unfortunately not. I found out that if you don't specify the GPU, it finds and use all of them. But if you only want to run your code using a single one, you must use gpu 0.

[2022-09-27 17:41] archieCanada commented on #15399
Hello Stas,
Thank you for your kind help.

I tried method 2) you described above.
Here is my code:

[code]

My resources:

I tried two different options:
1) 2 GPUs (Tesla V100-SXM2-32GB), 60 GB CPU RAM per GPU (120 GB CPU RAM total)
1) 3 GPUs (Tesla V100-SXM2-32GB), 60 GB CPU RAM per GPU (180 GB CPU RAM total)

Both times I received the following error:

[code]

[2022-09-27 17:57] NielsRogge commented on #19177
Cc @mariosasko

[2022-09-27 18:31] stas00 commented on #15399
Does it work if you follow this recipe?

https://github.com/huggingface/transformers-bloom-inference/blob/bd8af123275e3f622300ea897a712ff274f5762a/bloom-inference-scripts/bloom-ds-inference.py#L139-L141

[2022-09-27 19:14] tristinb opened #19220 "Setting tokenizer's return_offsets_mapping to True runs ~10x slower than when set to False"
### System Info

- `transformers` version: 4.19.0
- Platform: macOS-12.6-x86_64-i386-64bit
- Python version: 3.9.7
- Huggingface_hub version: 0.6.0
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or

[2022-09-27 19:22] stas00 commented on #15399
but really as I suggested originally you should post an Issue at https://github.com/microsoft/DeepSpeed/issues and tag RezaYazdaniAminabadi - DeepSpeed-Inference isn't not something that is integrated into `transformers` like Deepspeed-ZeRO is. So all problems should be reported to the Deepspeed project and not here.

Deepspeed is a project that has multiple related frameworks - we have only the Z

[2022-09-27 20:25] #19116 closed

[2022-09-27 20:55] LysandreJik commented on #19180
This should be fixed by https://github.com/huggingface/transformers/pull/19206, which we just released in a patch. Could you upgrade your transformers version and let me know if the issue is fixed? Thank you!

[2022-09-27 20:59] LysandreJik commented on #19190
cc @NielsRogge

[2022-09-27 21:00] LysandreJik commented on #19220
cc @Narsil as well

[2022-09-27 21:10] lukolszewski commented on #18698
Thank you for the reply and the info CPU is not supported as the main device. Yes, I do have an RTX GPU. However it is not visible, because I wanted to run on CPU only.  There is value in being able to use CPU as the main device due to it (usually)having much larger continuous RAM region available.

Would not setting device_map="auto" stop offloading data to disk altogether? In any case, hopefully

[2022-09-27 22:45] shababo commented on #15450
Bumping this. I'm using `ViTForImageClassification` on a multi-label problem with many classes and few positive classes per example. In this regime it's absolutely necessary to be able to set `pos_weight` for `BCEWithLogitsLoss`.

[2022-09-28 00:15] lesniewski commented on #18703
FYI, I was able to work around this by passing `device=0` to `pipeline()`. Obviously not an ideal solution, but acceptable when also using `device_map={"": 0}`.

[2022-09-28 01:24] theblackcat102 opened #19222 "ALIBI position embedding support for other models ( BERT, ELECTRA )"
### Feature request

Since BLOOM is using ALIBI for position embedding, is there any plans to add ALIBI to other existing models such as BERT, ELECTRA etc?

ALIBI have so far proven to be [extrapolate sequence length beyond training sequence](https://arxiv.org/pdf/2108.12409.pdf) (figure 4). I think this idea should be added to existing architecture since existing models such as BERT, ELECTRA alre

[2022-09-28 02:25] dwlim-nota commented on #19209
Thank you for your comment @ydshieh
I didn't know the fact that `from transformers.utils.fx import symbolic_trace` exists.
Which do you think better, `from torch.fx import symbolic_trace` or `from transformers.utils.fx import symbolic_trace`?
because I am a newbie contributor to transformers, so I want to hear.

If you think it is better to use `from transformers.utils.fx import symbolic_trace`, t

[2022-09-28 09:06] michaelbenayoun commented on #19209
Hi @dwlim-nota,
We actually do support `torch.fx` symbolic tracing though our custom tracer, which is supposed to handle the ViT case and what you do in your PR.

[code]

Compared to the original `torch.fx.symbolic_trace` function, you need to specify which inputs the traced model must have (because our models usually support different inputs, which is not possible in fx), so that is why I specifi

[2022-09-28 10:32] AndreaSottana opened #19225 "BART model generates drastically worse output when labels are passed to forward method"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.15.0-33-generic-x86_64-with-glibc2.35
- Python version: 3.10.4
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-09-28 11:29] SaulLu commented on #16627
Hi  @nnlnr, @anmolsjoshi, @Rajathbharadwaj, @elusenji and @danhphan,

I come to the news to know how the integration of the tests is going for you :hugs:

[2022-09-28 11:56] SaulLu commented on #19220
Hi @tristinb !

Thank you for reporting this issue. I just tested your code snippet on a [google colab ](https://colab.research.google.com/drive/1OV1ICDidCPKFQ9O6XygTzKQKDCMEK8-m?usp=sharing) (with the latest available versions of the libraries) and I observe much smaller time differences, respectively the code takes: 0.9231 seconds, 0.8868 seconds and 1.1825 seconds.

Eventually, it might be wort

[2022-09-28 12:03] #19079 closed

[2022-09-28 12:08] #18388 closed

[2022-09-28 12:31] gante commented on #18661
Added to my `generate` task queue 👍

@divyanshuaggarwal it would be part of `transformers`!

[2022-09-28 12:33] nikvaessen opened #19230 "Wav2Vec2CTCTokenizer does not add blank token between repeated letters"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.19.11-arch1-1-x86_64-with-glibc2.36
- Python version: 3.10.0
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
-

[2022-09-28 12:51] androbada525 opened #19231 "Input shape fixed at 1x5 when converting transformers to tflite"
### System Info

Transformers version: 2.8.2
Python version: 3.7.14 on linux
Platform: Linux (Google Colab)

### Who can help?

@patil-suraj, @patrickvonplaten, @Rocketknight1

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details

[2022-09-28 13:39] gante commented on #18703
Added to the list of `generate` tasks -- @ArthurZucker lmk if you'd be interested in checking this issue!

[2022-09-28 14:14] Liudvikas-vinted commented on #19184
I'm unable to upload it here, but it's literally the original example, sans the `notebook_login` and `push_to_hub=False`.
And it *works* on my local machine (installed the same libraries as listed above, except my kernel is `5.19.8-200.fc36.x86_64`)

As reported, it fails when I'm running on a Vertex AI instance. That's what the instance says about itself:

[code]
I also tried running it (on the i

[2022-09-28 15:22] kbkartik commented on #18793
To fix this issue, we need to set the seed values which I forgot.

[2022-09-28 15:47] gante commented on #19182
Hi @yxuansu -- this is really cool! The method is clear and makes total sense, and the results seem to back it up. Also, this is probably the clearest feature request I've seen here <3

I'd be happy to support you throughout the process, including adding it to the three frameworks (PT/TF/JAX), creating demos, and communicating it. You mentioned that you were willing to open a PR -- how may I be of

[2022-09-28 15:59] gante commented on #18792
Hi @innat -- as I've mentioned above this is an issue for the Kaggle and/or the TensorFlow team, there is nothing the `transformers` team can do.

We don't have the power to go back in time and add code to a repository that isn't ours, nor to update Kaggle's TPU runtimes.

[2022-09-28 16:00] divyanshuaggarwal commented on #18661
Thanks @gante!

[2022-09-28 16:03] #18792 closed

[2022-09-28 16:39] tristinb commented on #19220
Hi @SaulLu!

Thanks for your response. It looks like bumping `datasets==2.5.1` from 2.4.0 fixed the issue even with an older version of the transformers library. Thanks again!

[2022-09-28 18:43] yxuansu commented on #19182
Hi @gante -- thank you so much for your reply! I wonder if could you advise us (me and @gmftbyGMFTBY ) on what should be our next step? It is our first time trying to commit to `huggingface` :-)

Many thanks!

[2022-09-28 19:36] atturaioe opened #19236 "TrainingArguments._n_gpus serialization"
I'm not sure, but I think that `TrainingArguments._n_gpu` attribute is not supposed to be serialized in `TrainingArguments.to_dict()` .
Or even basically all the attributes that are defined as `dataclass.field(init=False...)` should be filtered out while doing `to_dict()`.

What do you think?

@sgugger

[2022-09-28 19:54] sgugger commented on #19236
Indeed, this argument shouldn't be serialized.

[2022-09-28 19:56] atturaioe commented on #19236
I'll do PR

[2022-09-28 22:24] dwyatte opened #19238 "Exporting TensorFlow models to ONNX exports with a static batch size of 2 and sequence length of 8"
### System Info

- `transformers` version: 4.22.0
- Platform: Darwin-21.6.0-x86_64-i386-64bit
- Python version: 3.7.12
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: NA
- Using distributed

[2022-09-28 22:49] stas00 commented on #19182
This looks fantastic. I'm looking forward to having this new feature in `transformers`.

Also IMHO you actually would probably get an even more impressive improvement using BLOOM-176B which by default with greedy search suffers from getting stuck in repetition a lot.

[2022-09-28 23:53] kshitizgupta21 opened #19240 "Current BART Position Embeddings Implementation Seems Wrong"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.10.16.3-microsoft-standard-WSL2-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.13.0a0+08820cb (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Usin

[2022-09-29 02:11] ZeyiLiao opened #19241 "load_best_model_at_end"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Linux-4.15.0-189-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.3
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in

[2022-09-29 02:20] dwlim-nota commented on #19209
thank you for your comment @michaelbenayoun
I will close this issue :)

[2022-09-29 02:20] #19209 closed

[2022-09-29 02:30] sixthdaytechnically opened #19242 "Memory Retention Is fibonacci : (n-1) + fibonacci (n-2)?"
Understanding wrap around.
HTML
Hierarchical
Multi Task Learning?
Tokens Access Inclusion

[2022-09-29 07:05] yxuansu commented on #19182
Hi @stas00 -- Thank you very much for your interest! We will work with @gante and try to add this new feature to `transformers` ASAP!

[2022-09-29 07:06] ratishsp commented on #18190
Hi @ydshieh, sorry for the late reply... I had got busy with other stuff.
I tried the above fix of perturbing the weights for bos. But it didn't work for me.

[2022-09-29 07:35] ydshieh commented on #18190
@ratishsp I am not sure what I can help further here, as the issue is found and a fix is provided which worked on my side.

If you can open a new working branch, add your fix there and share it with us + with the list of training arguments used in your latest attempt, we could try to find some time to see if there is some other things go wrong there.

[2022-09-29 07:49] yuji96 commented on #999
I had the same question, so I followed both steps in the implementation and paper. Since BertSelfAttention computes all heads in parallel, they look equivalent.

![image](https://user-images.githubusercontent.com/51022522/192971602-1f336524-5ae6-4ca3-ae7d-5fc2e06843f6.png)

[2022-09-29 08:42] #18049 closed

[2022-09-29 09:03] SaulLu commented on #19220
So glad this solves your problem! Let me close this issue

[2022-09-29 09:03] #19220 closed

[2022-09-29 09:36] drAbreu commented on #15177
Hi all, I have come to a similar issue. My setup is I get the text of an image caption with several panels on it and I must separate the panels.

My approach so far is using NER to classify tokens as 'O' or 'START-PANEL'.

We use a BERT-based model but a substantial part of the captions we have are >512 tokens. I would be glad to give a try to build a kind of LongTextTokenClassificationPipeline fo

[2022-09-29 09:37] yxuansu commented on #19182
Hi @gante,

For your convenience, you can find our key implementations of contrastive search for **GPT** models below:

For OPT models, the resources are referred below:

Hope these pointers can be useful!

Best,

Yixuan

[2022-09-29 09:37] gante commented on #19182
@yxuansu @gmftbyGMFTBY fantastic! The first step is to discuss the design before jumping to the implementation itself. Since it will be your first commit, I'll be assuming that you are not very familiar with the code base, so I'll give extra pointers 🙌

I thought deeper about the design, and I realized that my suggestion above, to use a [`LogitsProcessor`](https://github.com/huggingface/transforme

[2022-09-29 09:42] yxuansu commented on #19182
Hi @gante -- Thank you for your super cool advice! We will start right away on adapting the greedy search method and get back to you ASAP. Many thanks for your suggestion!

P.S. Would it be more convenient that we add you to our private repo in which we test our implementations? This way, we might be able to test the demos together.

[2022-09-29 09:44] gante commented on #19182
@yxuansu Yeah, that's a good idea -- that way I'm also able to push ad hoc changes if needed 👍 After we're all happy with the state of the method, we can open a PR from the fork

[2022-09-29 09:44] michaelbenayoun commented on #18806
Hi @MenglingD,
I am not even able to trace the model except if I disable `SwinLayer.set_shift_and_window_size` [here](https://github.com/huggingface/transformers/blob/v4.21-release/src/transformers/models/swin/modeling_swin.py#L649).
But when disabling it, I am able to get it to work with the change you recommended.

I think we can apply this fix, but as long as `SwinLayer.set_shift_and_window_siz

[2022-09-29 09:46] yxuansu commented on #19182
@gante -- Cool! @gmftbyGMFTBY will send you an invitation after we create the repo, it would take long :-)

Many thanks!

[2022-09-29 10:12] Narsil commented on #15177
That would be awesome !

If you want this to be merged in `transformers` there is one key aspect, is that the chunking MUST be opt-in (because it will affect performance on models different from yours so we cannot do it without the users activating the option).

If you want to be easier, you could implement it exactly as you want and share it, and we could check what/how we can merge back afterwar

[2022-09-29 10:14] jaimu97 commented on #18951
Hi, I actually found that this was a hardware issue and forgot to close this issue. Any time I ran something that required both cards to work together I would get an `IO_PAGE_FAULT` error and to fix it I needed to disable IOMMU in my motherboard settings now it works. 😅

[2022-09-29 10:14] #18951 closed

[2022-09-29 11:37] sgugger commented on #19241
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only. As indicated by the name of the arg, the best model is the one loaded inside the Trainer. You should save it wherether you want for further use.

[2022-09-29 12:20] ydshieh commented on #18190
Hi @ratishsp . If you ever try to have a run it again with a branch that is aimed to share with us, there 2 two fixes to take into account:

https://github.com/huggingface/transformers/issues/18190#issuecomment-1210958506
https://github.com/huggingface/transformers/issues/18190#issuecomment-1218408325

I also strongly suggest that you manually investigate if the bos token embedding is changed befo

[2022-09-29 12:27] #19230 closed

[2022-09-29 12:34] Arij-Aladel commented on #18284
@patrickvonplaten Is it the answer to initializing word embeddings(question2)? if yes, then sorry it is not clear yet. the condition clearly states that the initialization is only when there is no word tieing. So where is the support? what about the first question, please?

[2022-09-29 13:13] #19236 closed

[2022-09-29 13:28] alexcoca opened #19245 "Trainer very slow to start training"
### System Info

- `transformers` version: 4.19.2
- Platform: Linux-4.18.0-372.19.1.el8_6.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.6.0
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in s

[2022-09-29 13:34] sgugger commented on #19245
Hi there. You should probably try the [forums](https://discuss.huggingface.co/) to have the community help you debug the code. Without a clear and concise reproducer, there is nothing I can to fix it on my side

[2022-09-29 13:46] alexcoca commented on #19245
@sgugger this issue has been flagged before but there is no answer. I'm 100% the code is correct (I wrote an entire paper based on experiments I did on this code).  Hence why I was keen to make the code available to you so that we can figure out why the trainer gets slowed down so much.

Some posts I checked:

https://discuss.huggingface.co/t/it-takes-so-long-before-the-model-start-training-wav2ve

[2022-09-29 15:02] #18719 closed

[2022-09-29 15:02] #18709 closed

[2022-09-29 15:02] #18708 closed

[2022-09-29 15:59] ydshieh commented on #18149
cc @gante

We still have the generation issue

[code]

[2022-09-29 16:29] Rocketknight1 commented on #18811
Pinging this to keep it open - we've implemented TF versions of Torch ops like `AdaptivePool`, so this might be something to explore as well. I hope a performant solution can be implemented with native ops (with or without XLA compilation) without needing to write our own CUDA, though!

[2022-09-29 16:32] sayakpaul commented on #18811
Could you point me to something relevant? Would love to see the new implementations.

[2022-09-29 16:36] Rocketknight1 commented on #18811
Hi @sayakpaul, I'm extremely sorry! I thought we'd implemented it in `data2vec2` already, but checking the code it seems like we still have the old version there. Here's a [much, much more performant version](https://gist.github.com/Rocketknight1/efc47242914788def0144b341b1ad638).

[2022-09-29 16:37] Rocketknight1 commented on #18811
The new version will also allow XLA compilation, unlike the original sparse implementation

[2022-09-29 17:06] DeXtmL commented on #9205
Im on the same boat as @stas00 . I understand that the code need to maintain a wider compatibility across the oceans of models, but people needs a working workaround before an elegant solution born into reality. I believe as huggingface slowly graduating from pure research field, more and more people are being hurt by the tremendous model initialization time.
Hoping for a change

[2022-09-29 17:08] Rocketknight1 commented on #18811
Although, checking out that notebook, it seems like Pytorch's `interpolate` and TF's `resize` are using the same algorithm, and the differences are mostly numerical; when I switch the dtype to `float64`, the max absolute differences is 1e-7.

I think this will make it extremely hard to bring the accuracies any closer - we would have to rewrite the internals of the algorithm so that they're not jus

[2022-09-29 17:11] sayakpaul commented on #18811
Fair enough. The tiny differences just add up when there's multiple such interpolations. Otherwise, it's not a big deal.

[2022-09-29 17:22] patrickvonplaten commented on #17504
Sorry could I ping @ArthurZucker or @gante on this one maybe? :-)

[2022-09-29 17:23] #15232 closed

[2022-09-29 17:37] dxlong2000 commented on #19177
Hi,

After downgrading ```dataset```, I need to install ```evaluate``` again. I did it by ```pip install evaluate``` and I run the experiment. After doing so, I got this error:

[code]

Do you have any idea?

Thanks!

[2022-09-29 17:41] dxlong2000 commented on #19177
@NielsRogge @mariosasko

[2022-09-29 18:15] ankrgyl commented on #19127
@NielsRogge and @osanseviero just following up on this, we made the necessary changes in https://github.com/impira/docquery to keep the model working both in transformers directly and DocQuery, so at least from our side, we could close this issue.

[2022-09-29 18:29] androbada525 commented on #19238
@dwyatte Can you please look into #19231? Somehow the sequence length is capped to 5 tokens in the generated tflite. tflite files are used to run models on mobile devices.

Since your issue also has a fixed sequence length, the cause may be related. Please look into this if you can. Thanks for your time! :)

[2022-09-29 18:34] patrickvonplaten commented on #19225
@ArthurZucker could you take a look here?

[2022-09-29 20:35] alexcoca commented on #19245
For posterity, crazy slow training and waiting time for training to start can also be due to slow I/O, so people struggling should check their storage works fine.

[2022-09-29 20:35] #19245 closed

[2022-09-29 20:50] FilipposVentirozos commented on #15398
What I realised, mentioned above as well, is that the instances that go beyond the max_seq_length cause the error. This happens only in the validation and test setting since the function (`preprocess_validation_function`) predicts the label for the truncated part and the remaining part. In the training setting, there is no error cause the `preprocess_function` only uses the truncated part and igno

[2022-09-29 23:17] sgugger commented on #15398
@FilipposVentirozos Would you like to suggest a PR with your fix?

[2022-09-30 00:11] ashwinjohn3 commented on #16627
Hi @SaulLu, Can I work on Splinter if no one is working it? I believe it's not claimed yet

[2022-09-30 01:09] dimitreOliveira commented on #19094
@Rocketknight1 @gante you can find the draft PR above, let me know if it looks good, then I can finish the work, if needed, I can provide some examples of cool use cases using custom signatures with the models.

[2022-09-30 06:09] DeXtmL opened #19251 ""local_files_only" mode fails on Windows due to path format inconsistency"
### System Info

When loading models using "local_files_only" mode, huggingface goes out to grab the commit hash from a resolved file name. Usually this works fine on POSIX standard OSes, but it fails on Windows due to hardcoded regex search pattern.

This issue can be fixed in one line (add one line in utils/hub.py), see this screenshot:
![hub-fix](https://user-images.githubusercontent.com/137254

[2022-09-30 08:07] BakingBrains commented on #14812
@mht-sharma Any updates?

Thank you.

[2022-09-30 08:41] OneCodeToRuleThemAll commented on #14922
Still facing the same issue.
+Having save_strategy = 'no' means that we are not able to pick the best model based on our evaluation metric :(

[2022-09-30 09:12] ratishsp commented on #18190
Hi @ydshieh, I have created a branch with fixes at https://github.com/ratishsp/transformers-fix.
I trained two models: LED-Base and LED-Large with the identical code. The training commands are the same as given earlier in the thread https://github.com/huggingface/transformers/issues/18190#issue-1308379298. Below tensorboard logs show that the issue still exists.

![image](https://user-images.githu

[2022-09-30 09:21] ydshieh commented on #18190
Thanks @ratishsp . Will take a look once I am back!

[2022-09-30 09:39] SaulLu commented on #16627
Hi @ashwinjohn3,

Absolutely! Don't hesitate if you are having difficulties

[2022-09-30 10:38] marinone94 commented on #19081
Hi, have you started working on the issue? Do you plan to integrate it yourself?

[2022-09-30 11:27] sgugger commented on #14922
You can raise the issue on Colab. There is really nothing we can do on our side since the problem is that Colab does not let us delete older checkpoints.

[2022-09-30 12:33] Liudvikas-vinted commented on #19184
This Vertex AI instance type *works*:
[code]
So I can now get my work done, but I think the reported issue is still valid

[2022-09-30 12:55] drAbreu commented on #15177
Thanks for the answer :)

I am following an approach that is basically using the `TokenClassificationPipeline` and modify it to be used with `ChunkPipeline` instead of `Pipeline`.

So far things seem to be working. I am using the `stride` option for generalization. Will deal with how to aggregate the data when arriving to the `postprocess` part, but in the `preprocess` it does not generate a big i

[2022-09-30 13:14] ajsanjoaquin commented on #10016
I'm baffled as to why returning the features as a list is the default behavior in the first place... Isn't one common usage of feature extraction to provide an input to another model, which means it is preferred to keep it as a tensor?

[2022-09-30 14:21] gante commented on #19161
(duplicate of #19199)

[2022-09-30 14:21] #19161 closed

[2022-09-30 14:22] gante commented on #19199
Hi @mv96 👋

As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other matters, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-09-30 14:26] gante commented on #19242
(this is not a `transformers` issue)

[2022-09-30 14:26] #19242 closed

[2022-09-30 14:40] gante commented on #19197
Hi @meliksahturker 👋

Loading TF weights into a PT model is an uncommon task, so our codebase may have issues. I'd like to request two things:
1. I've recently touched TFBart code -- can you confirm that the problem persists with the current `main` (`pip install git+https://github.com/huggingface/transformers.git`)?
2. If running from `main` doesn't solve it, can you share the code you're using to

[2022-09-30 14:41] gante commented on #19212
Hi @moseshu 👋 As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other matters, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-09-30 15:20] jordiae opened #19260 "Issue with Fairseq BART checkpoint conversion in Fairseq 0.12"
Hi, I pretrained a BART model using Fairseq 0.12.2. Then, I tried to convert it using the official script, https://github.com/huggingface/transformers/blob/main/src/transformers/models/bart/convert_bart_original_pytorch_checkpoint_to_pytorch.py, and it didn't work out of the box due to unexpected and missing keys in the state dict. Changes I have introduced:

1. Rename keys with `_weight` to `.wei

[2022-09-30 16:50] Rocketknight1 opened #19265 "Position_ids misuses self.padding_idx"
### System Info

issue is platform-independent

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

https://colab.research.google.com/drive/1ZuL1pc0fMBOnJahF18xArcFihfAm

[2022-09-30 17:04] Rocketknight1 commented on #19265
Update: I think this is actually reproducing behaviour in the original RoBERTa, and isn't a bug after all. It's probably unnecessary when copied to all the other models out there, but it's not the end of the world as long as everyone keeps their padding_idx low.

[2022-09-30 17:04] #19265 closed

[2022-09-30 17:14] joao-alves97 opened #19266 "M2M100 training does not improve model's performance"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Linux-5.4.0-1072-aws-x86_64-with-glibc2.27
- Python version: 3.8.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: y

[2022-09-30 17:54] sefabey commented on #12570
It feels folks need this feature so might be worth reopening the issue. @sgugger?

[2022-09-30 17:58] sgugger commented on #12570
We can reopen it, but there is nothing I can do to fix it as it is part of the launching process of your script, which is implemented in PyTorch, not in Transformers :man_shrugging:

We are implementing this option in the `accelerate launcher` [here](https://github.com/huggingface/accelerate/pull/732) for folks interested.

[2022-09-30 18:24] jordiae commented on #19260
Apparently, the issue was related to the tokenizer, and now all assertions hold. Meaning that the changes I made do work, in case someone is interested. Closing the issue.

[2022-09-30 18:24] #19260 closed

[2022-09-30 18:27] sefabey commented on #12570
Thank you. This is very helpful.

[2022-09-30 18:47] therajatrai commented on #18940
@NielsRogge Is this issue still open ? I would to like to work on this. Can you assign this issue to me ?

[2022-09-30 22:42] M-Chimiste opened #19272 "Autotokenizer/ LED/BARTTokenizer won't cast to CUDA"
### System Info

Hello,

I'm running into the following issue when trying to run an LED model.  It appears that the tokenizer won't cast into CUDA.  I've seen this work in the past, but apparently something has gone amiss.  I'm not entirely sure why this behavior is being exhibited.

`from transformers import (
    AutoTokenizer,
    LEDForConditionalGeneration,
)
import torch
import pickle

devic

[2022-10-01 05:33] Manobal-Singh-Bagady commented on #15769
This issue should be marked closed. The problem seems to be resolved.

[2022-10-01 05:45] sadransh commented on #10019
@LysandreJik this function is used in compute_metrics. and it seems it is limited to the number of GPUs ( it uses the same number of `--nproc_per_node` when doing ddp training, how is it possible to extend that to the maximum number of cores) any guide on how to fix and maybe do a PR?

[2022-10-01 05:55] vedantmistryy commented on #19272
Hello @M-Chimiste Please assign me and btw I'm new to the contribution so guide accordingly
Thank you!

[2022-10-01 06:16] daspartho commented on #14642
Found some integration tests not leveraging `with torch.no_grad()`,
I'll take on those and open PR :)

[2022-10-01 06:49] NielsRogge commented on #15769
We're actually updating this at the moment (see #19262), it will become optional. Closing this issue for now.

[2022-10-01 06:49] #15769 closed

[2022-10-01 09:59] akashAD98 commented on #2831
solve my problem

[2022-10-01 09:59] akashAD98 commented on #2831
worked for me on windows10

[2022-10-01 12:25] reyha opened #19276 "M2M100 generates repetitive text as <eos> token not produced while decoding"
### System Info

- `transformers` version: 4.11.3
- Platform: Linux-3.10.0-1160.59.1.el7.x86_64-x86_64-with-debian-stretch-sid
- Python version: 3.6.13
- PyTorch version (GPU?): 1.7.1+cu101 (True)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes (one V100 GPU)
- Us

[2022-10-01 13:04] debjit-bw commented on #16059
Hi, I would like to work on PyTorch: OpenAIGPT

[2022-10-01 16:46] kalashjain23 commented on #16059
I would like to work on Tensorflow's XLNet!

[2022-10-02 01:21] ashwinjohn3 commented on #16627
@SaulLu Thank you so much. Will do :)

[2022-10-02 03:21] debjit-bw commented on #16059
I'm taking up `TF Rag`

[2022-10-02 03:43] CatchDr opened #19283 "python -m transformers.onnx --model=Helsinki-NLP/opus-mt-en-zh onnx/"
### System Info

transformers:4.22.2
python3.8.4
win10

raise ValueError(
ValueError: Outputs values doesn't match between reference model and ONNX exported model: Got max absolute difference of:
2.8133392333984375e-05

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples`

[2022-10-02 07:46] AnirudhDaya opened #19285 "A developer environment, for faster and efficient contributions."
### Feature request

Hello maintainers.
I would like to add gitpod to your repo to help beginners contribute.
 - Gitpod is an online IDE which can be launched from any GitHub page. Within seconds, Gitpod provides a fully working development environment, including a VS Code-powered IDE and a cloud-based Linux container explicitly configured for the project
- Gitpod is highly contextual, such that i

[2022-10-02 10:08] kventinel commented on #19251
Fixed here https://github.com/huggingface/transformers/pull/19178

[2022-10-02 10:27] kventinel commented on #19283
Also reproduced on mac

[2022-10-02 11:15] kventinel commented on #19283
Fast fix: run with `--atol 1e-4`.

[2022-10-02 11:20] CatchDr commented on #19283
The --atol 1e-4 method can be run, but the running result seems incorrect

[2022-10-02 11:30] kventinel commented on #19283
I think it's not a big difference for such big NN. In ouputs you have values much greater than 1e-4, so problem probably in some other place.

[2022-10-02 11:44] CatchDr commented on #19283
I think it's not a big difference for such big NN. In ouputs you have values much greater than 1e-4, so problem probably in some other place.

[2022-10-02 11:45] CatchDr commented on #19283
After exporting, the data dimension is incorrect. Can you give me a code? Thank you very much

[2022-10-02 11:52] kventinel commented on #19283
All code is here:)

Why do you think, that problem in dimensions? They realy checked [here](https://github.com/huggingface/transformers/blob/main/src/transformers/onnx/convert.py#L430)

[2022-10-02 12:09] CatchDr commented on #19283
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers.models.marian import MarianOnnxConfig

model_ckpt = "Helsinki-NLP/opus-mt-en-de"
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)
ref_model = AutoModelForSeq2SeqLM.from_pretrained(model_ckpt)
# Export model
feature = "seq2seq-lm"
onnx_path = f"onnx/{model_ckpt}-{feature}/"
# Run this from a Jupyter notebook
!pytho

[2022-10-02 12:09] CatchDr commented on #19283
How to get results

[2022-10-02 12:19] kventinel commented on #19283
So... And what your problem here?

[2022-10-02 12:28] CatchDr commented on #19283
How to get text

[2022-10-02 12:30] CatchDr commented on #19283
The code is not exactly the same, but the problem is the same. The other is Marian

[2022-10-02 13:42] CatchDr commented on #19283
The result is a four-dimensional tensor, but no matter how it is processed, it cannot be decoded to get the correct translation, so I think the result is incorrect

[2022-10-02 15:02] #18761 closed

[2022-10-02 15:02] #18751 closed

[2022-10-02 15:02] #18689 closed

[2022-10-02 15:02] #18624 closed

[2022-10-02 15:03] #17106 closed

[2022-10-02 15:08] s-udhaya opened #19289 "Call to pipeline.predict() fails"
### System Info

- `transformers` version: 4.21.1
- Platform: macOS-12.5.1-arm64-arm-64bit
- Python version: 3.9.12
- Huggingface_hub version: 0.2.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or para

[2022-10-02 15:35] CatchDr commented on #18518
Has this problem been solved?

[2022-10-02 15:37] CrackerHax opened #19290 "ValueError: The following `model_kwargs` are not used by the model: ['length']"
### System Info

4.22.2

### Who can help?

@SaulLu

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction
[code]

When using "return_length=True" with the tokenizer, the error is given. This is from a chan

[2022-10-02 16:01] Mustapha-AJEGHRIR commented on #19276
Hello Reyha (My answer doesn’t represent Hugging Face)

I think there is no bug here, it’s just the output of the raw model. I think you may have to do some post-processing, or you should implement some frequency penalties for each generated token.

However, I recommend looking at this article https://huggingface.co/blog/how-to-generate by Patrick von Platen, in the conclusion he states:

[2022-10-02 16:36] kventinel commented on #19283
4 dims = number_of_outputs x batch_size x n_words x embedding

[2022-10-02 19:23] NIVEA77 opened #19292 "![image](https://user-images.githubusercontent.com/59374905/193472366-59c8fcc1-4ec4-44ea-94af-f7555f05ab8a.jpeg)"
![image](https://user-images.githubusercontent.com/59374905/193472366-59c8fcc1-4ec4-44ea-94af-f7555f05ab8a.jpeg)

__Originally posted by @NIVEA77 in https://github.com/github/advisory-database/pull/706#discussion_r985284131__

[2022-10-02 21:44] CatchDr commented on #19283
The dimensions can still be solved, but the decoder input is incredible, it is obvious that this code knows the result in advance, it is impossible for me to predict the result in advance when I translate

[2022-10-02 21:45] CatchDr commented on #19283
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from onnxruntime import InferenceSession

tokenizer=AutoTokenizer.from_pretrained("opus-mt-en-zh")
session = InferenceSession("opus-mt-en-zh-onnx-301/model.onnx")
inputs = tokenizer("Using DistilBERT with ONNX Runtime!", return_tensors="pt")
outputs = session.run(output_names=["last_hidden_state"], input_feed=dict(inputs))

[2022-10-02 21:45] CatchDr commented on #19283
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/xieyouxi/anaconda3/envs/HuggingFace-torch-gpu/lib/python3.7/site-packages/onnxruntime/capi/onnxruntime_inference_collection.py", line 196, in run
    raise ValueError("Model requires {} inputs. Input Feed contains {}".format(num_required_inputs, num_inputs))
ValueError: Model requires 4 inputs. Input Feed contai

[2022-10-02 21:45] CatchDr commented on #19283
https://github.com/huggingface/transformers/issues/18518

[2022-10-02 22:37] MilesQLi commented on #12410
Still not supported yet

[2022-10-02 22:37] rajathpatel23 commented on #18940
@NielsRogge , is this issue still open I would like to contribute to this

[2022-10-02 23:08] atturaioe commented on #18940
Yeah, I guess. I think you guys can go ahead and open PR.

[2022-10-03 03:40] ankrgyl opened #19293 "T5 Tokenizer Prepends Space after Each Added (Extra) Token"
### System Info

[code]

### Who can help?

@LysandreJik @SaulLu

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

[code]

[2022-10-03 03:47] auwsom opened #19294 "Cant run same int8 example on local machine that works in Colab"
### System Info

This also looks like a bug:
(but consumer hardware Dell workstation with 64GBs RAM and RTX 3060 12GBs )
[code]

### Who can help?

I dont see the Bloom model above, but Im trying to follow this example:
https://huggingface.co/docs/transformers/perf_infer_gpu_one
using the colab for "BLOOM-3B"
@sgugger, @patil-suraj

### Information

- [X] The official example scripts
- [X] My own

[2022-10-03 03:48] auwsom commented on #19294
I solved this by using "pip install git+https://github.com/huggingface/transformers.git" for the latest transformers package. I installed the one locally in the last month, but things must change that fast in this space. I leaving the issue for others, but closing.

[2022-10-03 03:51] ankrgyl commented on #19293
In case it helps with debugging, it returns a different result with `use_fast=False`:

[code]

[2022-10-03 03:52] auwsom commented on #19294
I'm getting "AttributeError: /home/user/.local/lib/python3.10/site-packages/bitsandbytes/libbitsandbytes_cpu.so: undefined symbol: cget_col_row_stats" now, and dont see any search results for this error.

[2022-10-03 03:54] auwsom commented on #19294
If someone knows about this error above, that would be great.

[2022-10-03 04:14] comchobo opened #19295 "I think group_by_length feature can be faster using a namely length list"
### Feature request

Current group_by_length requires ```lengths``` list that can be fully-loaded from dataset:
[code]
For example, If I want to make lengths list with 'attention_mask' column, ```lengths``` list would be look like:
[code]
But If I want to use length information only, why can't I make this list like:
[code]
If I make this 'length file' before training with group_by_length feature,

[2022-10-03 04:19] talhaanwarch opened #19296 "AssertionError: Padding_idx must be within num_embeddings MarianModel"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fil

[2022-10-03 06:30] blakechi opened #19297 "Floating point exception (core dumped) when using `transformers.onnx`"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.13.0-41-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No

[2022-10-03 06:53] yangky11 opened #19298 "Bug with Training T5 Tokenizers on New Data"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.10.135-122.509.amzn2.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scri

[2022-10-03 07:20] julien-c commented on #18841
will move this issue to `hub-docs` even if it's an imperfect place to post it

[2022-10-03 08:27] regisss commented on #19283
@CatchDr You did not provide decoder inputs, hence the error message. Have you tried to do what is suggested in #18518?

[2022-10-03 08:32] CatchDr commented on #19283
He and I are actually a problem, he this also did not solve the

[2022-10-03 08:41] regisss commented on #19283
The code snippet you shared and that fails does not do what is suggested in #18518. Could you try the following?

[code]

[2022-10-03 08:45] CatchDr commented on #19283
Please wait, about 10 minutes.

[2022-10-03 08:54] CatchDr commented on #19283
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers.models.marian import MarianOnnxConfig
import onnxruntime as ort
model_ckpt = "Helsinki-NLP/opus-mt-en-zh"
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)
ref_model = AutoModelForSeq2SeqLM.from_pretrained(model_ckpt)
# Export model
feature = "seq2seq-lm"
onnx_path = f"onnx/{model_ckpt}-{feature}/"
# Run this from

[2022-10-03 09:02] CatchDr commented on #19283
![image](https://user-images.githubusercontent.com/49591435/193539679-5b079417-8cbb-4dc9-b4a9-9e51b0e0992e.png)
Sorry, I didn't check the onnx path just now, only now is the previous decoding error

[2022-10-03 09:13] CatchDr commented on #19283
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers.models.marian import MarianOnnxConfig
import onnxruntime as ort
model_ckpt = "Helsinki-NLP/opus-mt-en-zh"
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)
ref_model = AutoModelForSeq2SeqLM.from_pretrained(model_ckpt)
# Export model
feature = "seq2seq-lm"
onnx_path = f"onnx/{model_ckpt}-{feature}/"
# Run this from

[2022-10-03 09:15] CatchDr commented on #19283
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers.models.marian import MarianOnnxConfig
import onnxruntime as ort
model_ckpt = "Helsinki-NLP/opus-mt-en-zh"
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)
ref_model = AutoModelForSeq2SeqLM.from_pretrained(model_ckpt)
# Export model
feature = "seq2seq-lm"
onnx_path = f"onnx/{model_ckpt}-{feature}/"
# Run this from

[2022-10-03 09:25] CatchDr commented on #19283
![image](https://user-images.githubusercontent.com/49591435/193543761-0faf5a7b-0859-4ebd-b72b-527b4d244171.png)
I tried to make some changes, but the dimensions seem to be incorrect again

[2022-10-03 09:30] gmftbyGMFTBY commented on #19182
@gante Hi, thank you so much for your suggestions, we've almost prepared the PyTorch version codebase of  `contrastive_search` in our fork. I have sent you an invitation to our repo.

All the changes are in `src/tranformer/generation_utils.py` and you could check them.
Furthermore, we also prepare the test script for you to run the `contrastive_search` simply. To run this test scripts, please cond

[2022-10-03 09:36] harshitadd commented on #17696
Hello! Facing the same issue with the following system info:
[code]

This issue is only triggered when I keep load_best_model_at_end as True (I am not doing any hyperparameter search): Training code and stack trace are:

### Training Code with Trigger
[code]
(If I remove the load_best_model_at_end, Works smoothly)

[2022-10-03 10:07] regisss commented on #19283
@CatchDr The result you get is correct. Some post-processing is necessary to generate the whole sentence. If you just want to convert your model to the ONNX format and translate sentences, I suggest you to use Optimum. For example:
[code]

[2022-10-03 10:07] Ks4465 commented on #15451
Hi @R0bk thanks for this work, this helped me train on my data for different usecases and get better results until recently where I happened to update the transformers module in my environment by mistake and then getting again back to your version is giving me **RuntimeError: CUDA out of memory.** even if my batch_size is 1. For the same data, I was able to train it for RE before. Not sure how to

[2022-10-03 10:10] CatchDr commented on #19283
I would like to know how to post-process to get the right result, because I have tried this solution you mentioned and the result is very poor

[2022-10-03 10:10] CatchDr commented on #19283
text="Vehicle detection technology is of great significance for realizing automatic monitoring and AI-assisted driving systems. The state-of-the-art object detection method, namely, a class of YOLOv5, has often been used to detect vehicles. However, it suffers some challenges, such as a high computational load and undesirable detection rate.  To  address  these  issues,  an  improved  lightweight

[2022-10-03 10:24] uunal opened #19299 "Model's internal loss is different than calculated loss at tf.keras.metric.Metric"
### System Info

- `transformers` version: 4.22.1
- Platform: Linux-4.19.0-21-cloud-amd64-x86_64-with-glibc2.28
- Python version: 3.9.5

### Who can help?

@Rocketknight1

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below

[2022-10-03 10:39] regisss commented on #19283
@CatchDr You can take a look at [this example](https://huggingface.co/docs/optimum/onnxruntime/modeling_ort#optimum.onnxruntime.ORTModelForCausalLM.forward.example) and change the arguments of the `generate` method if you want to decode your outputs in a different way (see [here](https://huggingface.co/blog/how-to-generate) for the possible decoding strategies). But maybe this model is simply not

[2022-10-03 11:13] CatchDr commented on #19283
outputs = session.run(output_names=["logits"], input_feed=dict(inputs))
There should be some errors here

[2022-10-03 11:15] CatchDr commented on #19283
I've tried every decoding method I can think of and can't get the results I want, expecting something completely different, so I'm asking for help here

[2022-10-03 12:21] #19177 closed

[2022-10-03 12:23] lewtun commented on #18819
Thanks for the ping - on my TODO list this week!

[2022-10-03 13:21] Rocketknight1 commented on #19299
Hi @uunal, I don't think this is a bug in `transformers`. The main issue is that Keras displays the loss as the average for the whole epoch so far, but your Metric only displays the loss for the most recent batch. This is because you overwrite it with each batch. A better approach might be to store `self.total_loss` and `self.num_batches` and then in `result()` you could return `tf.math.exp(self.t

[2022-10-03 13:21] #19299 closed

[2022-10-03 13:48] DavidNemeskey opened #19300 "Trainer with save_total_limit=1 keeps 2 checkpoints when EarlyStoppingCallback is active"
### System Info

Transformers: 4.21.3
Python: 3.10.4
OS: Linux  5.4.0-91-generic #102-Ubuntu SMP x86_64
Torch: 1.12.1+cu113
GPU: A100 40G

### Who can help?

@sgugger

### Information

As the title says. See below for details.

### Tasks

I trained BERT-based sequence classifiers.

### Reproduction

1. Run a training () with `EarlyStoppingCallback` active, `save_total_limit` set to 1 and `early_st

[2022-10-03 14:28] DavidNemeskey commented on #19300
@sgugger "If a crash happens". But what about when the training has ended? The checkpoint is not really needed anymore then, is it?

In any case, I could not find anything about this exception in the documentation. If it is not because of my inaptitude at looking up information (which it well may be), it might be worth adding a sentence to the description of the `save_total_limit`.

[2022-10-03 14:40] wenmin-wu opened #19301 "deberta-v3 has 100 more vocabs than its tokenizer"
### System Info

- `transformers` version: 4.22.1
- Platform: macOS-12.6-arm64-arm-64bit
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): 2.8.1 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can help?

Hi @LysandreJik @SaulLu , I think t

[2022-10-03 14:42] LysandreJik commented on #19301
Maybe of interest to @ArthurZucker as well

[2022-10-03 14:43] sgugger commented on #19300
Sure, do you want to make a PR for this?

[2022-10-03 14:55] wenmin-wu commented on #19301
Thanks Lysandre!

[2022-10-03 15:03] #18767 closed

[2022-10-03 15:09] SaulLu commented on #19301
Hi @wenmin-wu,

It seems that the difference between the size of the tokenizer and the size of the `word_embeddings` matrix is voluntary on the part of the deberta-v3's authors as you can see in the issue https://github.com/microsoft/DeBERTa/issues/103.

By experience, it can happen that the size of `word_embeddings` is bigger than the total number of known tokens, for constraints on the size of t

[2022-10-03 15:18] SaulLu commented on #19298
Hi @yangky11 ,

Thank you very much for pointing this out! It is indeed a problem!

To fix it, we'll have to look into whether we need to pay special attention to the `train_new_from_iterator` method of the `T5TokenizerFast` tokenizer or (even better) whether we really need the sentinel ids to be at the end.

[2022-10-03 16:38] sgugger opened #19303 "Make all models folder independent from each other"
Transformers has a Do Repeat Yourself policy in the sense that it does not provide building blocks that we then mix and match, but we strive to have each model be self-contained in terms of code, at the price of code duplication. You can find more about this philosophy in [this blog post](https://huggingface.co/blog/transformers-design-philosophy).

There are instances in the library (mostly with

[2022-10-03 17:11] gante commented on #19182
Hi @gmftbyGMFTBY 👋 Thank you for adding me to your fork!

I have looked at the code and at the results of the script you mentioned. It's great that you were able to massage `past_key_values` to fit your method 💪  From the test script we can see that we are getting the same output for GPT-2 as in your paper, which is a great starting point 🚀

From here, my recommendation would be to open a draft PR

[2022-10-03 17:54] yoeldk commented on #11610
Not really, but I'm now dealing with other things so I decided to leave it

[2022-10-03 17:58] elusenji commented on #16059
I'd like to work on Lxmert for TF and PyTorch.

[2022-10-03 18:57] brando90 commented on #15062
in case this doesn't work for you upgrade pip e.g.
[code]

[2022-10-03 19:00] brando90 commented on #15062
[code]
my issue happens and above is true

[2022-10-03 19:02] brando90 commented on #15062
what about upgrading all 3?
[code]
ok failed but now the error is:
[code]

[2022-10-03 19:07] brando90 commented on #15062
[code]
upgraded correctly trom 0.12.1 to 0.13.0 still fails.
[code]

[2022-10-03 19:09] brando90 commented on #15062
did:
[code]
didn't work same eroor about tokenizer.

[2022-10-03 19:16] E-Aho commented on #16059
Did you manage to get this merged in @elusenji? Otherwise I'm gonna start on the MobileBERT type hints 🤗

[2022-10-03 19:17] brando90 commented on #15062
trying:
[code]
still fails with:
[code]

[2022-10-03 20:56] CharlesLeeeee opened #19305 "Huge discrepancy between HuggingFace and Timm for ViT and other vision transformers"
### Feature request

Differences between HugginFace and Timm implementation of Vision Transformers can be listed as below:
-Missing stochastic depth (https://arxiv.org/abs/2012.12877)
-Using m.weight.data.normal_(mean=0.0, std=0.02) instead of trunc_normal_()
-Missing trunc_normal_() init for the position embedding and cls_token

My DeiT started training properly once I started using the trunc_nor

[2022-10-03 21:19] LysandreJik commented on #19305
cc @NielsRogge @amyeroberts @alaradirik

[2022-10-03 22:03] djaym7 opened #19306 "T5 vocab size discrepancy between config and tokenizer"
### System Info

![image](https://user-images.githubusercontent.com/12378820/193693962-7720b071-f6d3-4973-8df1-57b5236ea4c8.png)

transformers version == '4.18.0'

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or d

[2022-10-03 22:05] LysandreJik commented on #19295
cc @sgugger

[2022-10-03 22:06] LysandreJik commented on #19293
Maybe also of interest to @ArthurZucker

[2022-10-03 22:08] arnaudstiegler commented on #19303
Hello! Happy to take LayoutLM Config and Tokenizer :)

[2022-10-03 22:36] vikas95 commented on #11943
Hi @gandharvsuri ,

Thanks for raising this issue. I get the same error but only for specific passages. But when I get this error for one passage, the BART model throws the same error for all the following passages.

I wanted to ask if you could please share the code change that you had done for - "So to predict the 50 tokens, I need to set max_length = (1024-50) so that in the last iteration, it

[2022-10-03 22:41] OtherHorizon commented on #19303
Hi, I would like to work on this. thanks.

[2022-10-03 23:27] sgugger commented on #19303
Hi @OtherHorizon , as explained in the issue, please pick a model/config and/or tokenizer so that others know not to pick the same one :-)

[2022-10-03 23:29] sgugger commented on #19295
As explained in the documentation, you should provide the `lengths` column in the dataset. If you use the `Dataset.map` method to build it, you won't need to implement any multiprocessing since it will do it for you. It will also cache the result so you only need to the computation once.

[2022-10-04 00:11] ankrgyl commented on #19293
I did some digging, and I believe the culprit (in the non-fast, but potentially fast, tokenizer) is this:
https://github.com/huggingface/transformers/blob/main/src/transformers/tokenization_utils.py#L433

[code]

Do you know if that's a fundamental restriction with respect to the models? Or if not, could we potentially expose a flag that disables this behavior?

[2022-10-04 00:44] gmftbyGMFTBY commented on #19182
Okay, thank you so much for your suggestions!

I'd like to solve points [1] and [3] first. If there is any progress, I will continue to discuss it with you.

Best,
TianLan

[2022-10-04 05:48] wenmin-wu commented on #19306
I found the same issue for deberta-v3 #19301. It should be fine as long as the model's vocab is larger than the tokenizer's.

[2022-10-04 06:42] wenmin-wu commented on #19301
Hi @SaulLu , thanks for your explanation. I'm also confused with the tokenizer:
1. The tokenizer doesn't directly the index of that token, e.g.
[code]
2. How does the tokenizer handle the space before/after the special character? e.g.:
[code]
seems the difference is ` (` -> `287` and `(` -> `555`, `) ` -> `1085` and `)` -> `22184`
but actually, their decoded value is the same (special character wi

[2022-10-04 07:00] srhrshr commented on #19303
Hi @sgugger, I like this philosophy, and I can work on DoRYing `LongformerConfig` and `Longformer Tokenizer` :)

[2022-10-04 07:09] Harsh-1309 commented on #19303
Hi @sgugger, I would like to work on RobertaConfig config and DistilBert tokenizer!

[2022-10-04 07:10] RP2025 commented on #16292
hello, I would love to contribute to encoder for PT and TF
Thankyou @sgugger

[2022-10-04 07:28] goreng2 opened #19308 "TFSequenceClassifierOutput can't return loss batch_size when num_labels=1"
### System Info

[**Colab Env**](https://colab.research.google.com/github/huggingface/notebooks/blob/main/examples/text_classification-tf.ipynb)
- `transformers` version: 4.22.2
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax versio

[2022-10-04 07:59] Mustapha-AJEGHRIR commented on #19303
Hi @sgugger, I would love to work on `Camembert` model.

[2022-10-04 08:44] patrickvonplaten commented on #19276
Thanks a lot for the in-detail answer @Mustapha-AJEGHRIR - can only agree :-)

[2022-10-04 08:49] asofiaoliveira commented on #19303
Hello @sgugger I can work on the `Xlm-Roberta` model and config

[2022-10-04 09:13] akshaydhok07 opened #19311 "NER Training on custom Data"
https://github.com/huggingface/transformers/blob/4c962d5e790d06c142af35aad165c74c0bcf861a/examples/pytorch/token-classification/run_ner.py#L200

[README.md](https://github.com/huggingface/transformers/tree/main/examples/pytorch/token-classification#readme) mentions providing text files for training and validation, however, run_ner.py expects CSV or JSON files only.

[2022-10-04 12:01] IMvision12 commented on #16059
I would love to work on Tensorflow XLNet🚀

[2022-10-04 12:33] E-Aho commented on #16627
@SaulLu Heya!

I was thinking I might grab one of these if any of the test development has stalled. let me know if you think one in particular is good to grab! :)

[2022-10-04 12:37] E-Aho commented on #19303
Heya! I'd like to grab the `OpenAI-GPT` tokenizer :)

[2022-10-04 12:49] patrickvonplaten commented on #19298
Also cc @ArthurZucker here FYI

[2022-10-04 13:13] Rocketknight1 commented on #19308
Verified the issue, making a patch now!

[2022-10-04 13:16] Rocketknight1 commented on #19308
@goreng2 I've submitted a fix at #19316. I'll let you know when this is merged to main.

[2022-10-04 13:38] Lim-Sung-Jun opened #19318 "where can I find document about BertPreTrainedModel?"
hello,

I am trying to find document about BertPreTrainedModel which is used on colbertv1
I only found the source code below site ( 4.11.3 bert_modeling )
https://huggingface.co/transformers/v3.5.1/_modules/transformers/modeling_bert.html

but I didn't find any document for this in the official site for latest version
https://huggingface.co/

So, My question is **where can I find document about Be

[2022-10-04 13:48] #19308 closed

[2022-10-04 13:50] Rocketknight1 commented on #19308
@goreng2 The fix should now be merged, but you'll have to install from `main` to use it until the next official release. To do that, replace `pip install transformers` with `pip install --upgrade git+https://github.com/huggingface/transformers.git`. After our next release you can change your code back to just `pip install transformers`.

If this doesn't resolve your problem, feel free to comment a

[2022-10-04 13:50] LysandreJik commented on #19318
What are you trying to do with `BertPreTrainedModel`? This is an abstract class that isn't really public facing.

[2022-10-04 14:05] LysandreJik commented on #19285
Hey @AnirudhDaya, what difference is there with https://github.dev/huggingface/transformers ?

Thank you!

[2022-10-04 14:10] thliang01 commented on #16059
HI, I would like to work on Tensorflow XLNet

[2022-10-04 14:19] LysandreJik commented on #19231
I wonder if @gante @Rocketknight1 have some insights

[2022-10-04 14:26] yxuansu commented on #19182
Hi @gante -- Many thanks for your kind help!

We'd like to ask if you would like to join a slack channel with me and @gmftbyGMFTBY? In this way, we can more timely and easily discuss on our PR. If you'd like to do so, could share us with your slack account then we can add you to our private channel? Many thanks!

[2022-10-04 14:35] #19285 closed

[2022-10-04 14:36] heatz123 opened #19319 "convert_wav2vec2_original_pytorch_checkpoint_to_pytorch.py does not work on fairseq wav2vec2-xls-r weights"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.4.0-126-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

[2022-10-04 14:44] dxlong2000 commented on #19177
Hi @NielsRogge,

I have tested this issue and it seems that the problem was still there:

[code]

Do you have any suggestion?

Thanks!

[2022-10-04 14:44] gante commented on #19182
@yxuansu surely, you can add the email of my GH account (joaofranciscocardosogante@gmail.com)

[2022-10-04 14:51] heatz123 commented on #19319
And after some inspections on fairseq library, I found that this change can make the conversion work also on wav2vec2-xls-r weights:
https://github.com/huggingface/transformers/blob/bc21aaca789f1a366c05e8b5e111632944886393/src/transformers/models/wav2vec2/convert_wav2vec2_original_pytorch_checkpoint_to_pytorch.py#L249

to
[code]

Can I make a PR on this change?

[2022-10-04 14:54] dxlong2000 commented on #19177
@mariosasko Sure thanks very much!

[2022-10-04 14:54] lewtun commented on #14812
@BakingBrains you can see the PR from @mht-sharma linked above - we should be able to get this merged pretty soon!

[2022-10-04 14:58] lhoestq commented on #19177
cc @lvwerra do we need to re-add known_task_ids to not break evaluate ? We moved those lists to the Hub, `datasets` doesn't contain any task list anymore

[2022-10-04 15:05] #17584 closed

[2022-10-04 15:09] kobiche opened #19320 "ONNX conversion of deberta_v2 models"
### System Info

transformers: 4.22.2
platform: Ubuntu 20.04.2
python: 3.8.10

### Who can help?

DeBERTa-v2: @LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The following command fails

[2022-10-04 15:57] Rocketknight1 commented on #19231
Yes! There are some workarounds you could use @androbada525, such as saving the model as `SavedModel` and making your TFLite model with the from saved model constructor instead, which will give you the correct signature.

However, `from_keras_model` should also work, and we have a solution for that exact issue in development right now. I'll ping you in this issue when it's ready!

[2022-10-04 16:06] mommi84 commented on #14839
@petertjmills Same here.

Using int8, the original model fits on an 8 GB NVIDIA GeForce GTX 1080, but crashes after the first generation. The Hivemind model as [it uses float16 or float32 for computation](https://huggingface.co/hivemind/gpt-j-6B-8bit), so it's even more unlikely to succeed. Probably at least 9-10 GB VRAM are needed.

[2022-10-04 16:54] alexvaca0 opened #19322 "LongT5ForConditionalGeneration NAN losses with bf16"
### System Info

transformers version: 4.23.0.dev0
torch version: 1.12.1
OS: Ubuntu 20
Cuda: 11.6

The problem is that LongT5 is supposed to work with bf16=True, but it doesn't. It is known that fp16 should fail in this, and I have tried it and effectively fails. However, Longt5 is supposed to be trained on bf16, therefore it would be expected that turning bf16 to True would work.
My training argu

[2022-10-04 17:24] kobiche commented on #19320
I believe I solved it (rather 'I forced it to work')
(line: 159)
[code]

This is not tested with all models, but at least works for now. Hopefully you'll find a nicer solution.

[2022-10-04 17:33] ArEnSc commented on #17230
@leondz are you guys still working on this? I am looking to get into this if this can work on edge devices

[2022-10-04 17:54] SaulLu commented on #19301
Hi @wenmin-wu,

By default, the `"microsoft/deberta-v3-base"` model adds a prefix space. You can see it this by running (knowing that the `▁` symbol corresponds to a space):
[code]

To see the token to which each id corresponds I advise you to use the `convert_ids_to_tokens` method instead of `decode`. On the example you shared, you will see that spaces are well included in the following token whe

[2022-10-04 18:07] rhelmeczi opened #19324 "Better documentation for pipelines"
### Feature request

The [introduction to pipelines](https://huggingface.co/docs/transformers/main_classes/pipelines) documentation does not provide any details on how additional parameters can be passed to the tokenizer during the preprocessing step. After walking through all of the source code, I can see that when instantiating a pipeline via `transformers.pipline(...)` one can simply pass these

[2022-10-04 18:49] D3xter1922 commented on #19303
Hi! I'd like to work on `FlaubertConfig`, `Flaubert` model and `Flaubert` tokenizer

[2022-10-04 18:51] D3xter1922 commented on #19303
Hi! I'd Like to work on `Flaubert` config and model

[2022-10-04 18:53] divyashreepathihalli commented on #3097
you can now do this. Keras has added a new util `keras.utils.warmstart_embedding_matrix`. Using this you can continuously train your model with changing vocabulary. https://www.tensorflow.org/api_docs/python/tf/keras/utils/warmstart_embedding_matrix

[2022-10-04 20:15] DavidNemeskey commented on #19300
Just to clarify: a PR for what? :smile:

[2022-10-04 20:18] sgugger commented on #19300
To add the exception to the documentation and/or delete the checkpoint at the end of training.

[2022-10-04 21:51] patrickvonplaten commented on #19322
Agree that it should work with `bf16` - when you mean it fails, how does it fail? Just bad training results ? Could you define this here?

Also cc @ArthurZucker here

[2022-10-05 00:40] DjouadaFarouk opened #19329 "High CER when Fine Tuning TrOCR Transformers to make an OCR for arabic Language"
Hello Everyone ,
I need Help /Guidance regarding Creating and arabic OCR using Transformers . I'm using ViT as encoder and arabert as decoder with their pretrained weights using it like this :
[code]
i followed this [Tutorial](https://github.com/NielsRogge/Transformers-Tutorials/blob/master/TrOCR/Fine_tune_TrOCR_on_IAM_Handwriting_Database_using_Seq2SeqTrainer.ipynb) by [NielsRogge](https://github

[2022-10-05 01:59] goreng2 commented on #19308
@Rocketknight1 It works! Thanks :) you save me!

[2022-10-05 02:00] #19212 closed

[2022-10-05 02:09] divyanshugit commented on #19303
Hi, I would like to work on mT5 and ProphetNet.

[2022-10-05 02:13] cuthalionn commented on #15591
In case someone is still looking for T5 with prefix-tuning implementation: https://github.com/HKUNLP/UnifiedSKG/blob/main/models/prompt/modeling_t5.py

[2022-10-05 02:16] BAOOOOOM commented on #15591
thanks

Thanks!

[2022-10-05 05:24] xloem commented on #17230
Some time ago I looked a little into continuing this, but other things came up.
After that experience, I would recommend that future implementers start a new fork, rather than working off the existing one, because very little has been done, so it can take extra effort to learn the existing situation without much return.
For the record:
leondz's branch is at https://github.com/leondz/transformers/t

[2022-10-05 06:04] danhphan commented on #16627
Hi @SaulLu , sorry for late response and being quite slow. I am still working on RemBert and will try to finish it soon in the coming weeks. Thank you.

[2022-10-05 06:22] arcAman07 commented on #16059
Hi, I would like to work on PyTorch XLMRoBERTa

[2022-10-05 07:34] alexvaca0 commented on #19322
Sorry I did not specify this, you're right! What I meant is that losses are nans, therefore the model does not learn (it happens the same as when using fp16 with a bf16-pretrained model).

[2022-10-05 07:46] lvwerra commented on #19177
Is there a way we can get them from the Hub? Then we can replace this dependancy on `datasets`.

[2022-10-05 07:58] OtherHorizon commented on #19303
Hi, i would like to work on `Electra` config

[2022-10-05 08:28] Threepointone4 commented on #19303
Hi, I would like to work on `BertGeneration`.

[2022-10-05 08:55] lhoestq commented on #19177
I don't think so, but the list is available here: https://github.com/huggingface/hub-docs/blob/main/js/src/lib/interfaces/Types.ts

Anyway for the next release I think we need to still have the known_task_ids variable, otherwise it makes evaluate crash.

Do you think you could fix this on the evaluate side and do a release ?
Otherwise we can also re-add this list temporarily

[2022-10-05 09:41] kobiche commented on #19320
[UPDATE]

Remember when I said that there were warnings while tracing the model? Well, I know now they are important.
I cannot use the traced model with an input different from the one I used to trace the model.
This is the error I get:
[code]

Please fix this!

[2022-10-05 10:10] patrickvonplaten commented on #18080
Sorry for being so slow / late here @ddobokki !

I think your solution sounds reasonable:
[code]

=> `attention_mask` should be in `long` so this is a welcome change. Do you mind opening a PR for this?

BTW, we do the same (casting to `long`) for similar inputs for pre-training: https://github.com/huggingface/transformers/blob/6268694e27f1fc0192ba24e4bec181061b4a9bf8/examples/pytorch/speech-pretra

[2022-10-05 10:12] sbocconi commented on #7002
The same warning also happens with this code:
[code]
[code]
I do not understand where tokens are added to the vocabulary after loading the tokenizer.

[2022-10-05 10:12] alaradirik commented on #19305
@CharlesLeeeee thank you for bringing this up! We are aware of the discrepancy and aim to ! We will fix the parameter initialization issue shortly and open a separate PR to add stochastic depth.

cc @LysandreJik @NielsRogge @amyeroberts

[2022-10-05 10:15] lhoestq commented on #19177
@dxlong2000 we just released `datasets` 2.5.2 to fix this issue ;)

[2022-10-05 10:15] lewtun commented on #19320
Hey @kobiche thanks for reporting this error, we also noticed this in #19255 when validating the `deberta` models with different batch size / seq len compared to the one used to trace the model.

We'll aim to patch this ASAP

[2022-10-05 10:39] patrickvonplaten commented on #19322
Okey cc @ArthurZucker and @stancld here

[2022-10-05 11:22] serdarildercaglar opened #19339 "TypeError: Operation 'neg_out_mps()' does not support input type 'int64' in MPS backend."
### System Info

transformers version: 4.22.2
checkpoint: microsoft/deberta-v3-small
task: ner
error: `TypeError: Operation 'neg_out_mps()' does not support input type 'int64' in MPS backend.
`
![Screen Shot 2022-10-05 at 10 09 18](https://user-images.githubusercontent.com/87153193/194001325-d9eb6b50-4623-4a79-a807-e458f79cbc7e.png)

### Who can help?

@sgugger
`The following columns in the traini

[2022-10-05 11:36] berkekisin opened #19340 "Roberta Gradient checkpointing to only layers, which requires grad"
### Feature request

Current gradient checkpointing in Roberta, directly uses gradient checkpointing for all layers without checking if they require grad. In our use case we only train last 3 layers of Roberta and want to use gradient checkpointing only for the last 3 layers.

### Motivation

Adding this would further decrease the memory usage on GPU.

### Your contribution

https://github.com/hug

[2022-10-05 11:59] CatchDr opened #19342 "onnx speed is even slower"
### System Info

win10
python 3.8.4
pytorch 12.1 cpu
transformers4.22.2
optimum 1.4.0
onnxruntime 1.12.1

### Who can help?

@Narsil
@patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

from

[2022-10-05 12:17] sgugger commented on #19339
As far as I can tell, this an issue in PyTorch not supporting an operation on MPS, so you should probably file your issue there.

[2022-10-05 12:22] IMvision12 commented on #19303
Hi! I'd Like to work on `ConvBERT`

[2022-10-05 12:28] thliang01 commented on #16059
Adding type hints for TFXLnet #19344

[2022-10-05 12:30] eagleicatcher opened #19345 "https://github.com/huggingface/transformers/blob/c28d04e9e252a1a099944e325685f14d242ecdcd/src/transformers/models/roberta/modeling_roberta.py#L741"
https://github.com/huggingface/transformers/blob/c28d04e9e252a1a099944e325685f14d242ecdcd/src/transformers/models/roberta/modeling_roberta.py#L741

_Originally posted by @eagleicatcher in https://github.com/huggingface/transformers/issues/19320#issuecomment-1268371903_

[2022-10-05 12:31] thliang01 commented on #16059
Adding type hints for TFXLnet #19344

[2022-10-05 12:36] Narsil commented on #19289
Hi @s-udhaya ,

The code you're referring to is very old in the codebase and was created for compat with stuff like scikit-learn, over which I have very little knowledge.

The recommended way to call the pipeline is to do;

[code]

[code]

Ofc you can send a list if you want, but it's not going to be used for batching any way (batching is an orthogonal concept in pipelines which you activate by us

[2022-10-05 12:59] thliang01 opened #19348 "Adding type hints for TFXLnet #19344"

[2022-10-05 13:00] #19348 closed

[2022-10-05 13:21] serdarildercaglar commented on #19339
I have overcome all the difficulties I have encountered so far with your solution suggestions about transformers. :)

[2022-10-05 13:33] Narsil commented on #19342
Hi, I am going to forward this issue to `optimum` since I think is where this issue belong.

Also you can use tripe quotes ``` to better display code. Cheers !

[2022-10-05 14:02] ddobokki commented on #18080
@patrickvonplaten Thank you for the comments!
It's a small change but i glad for contribution!
I'll opening a PR.

[2022-10-05 14:15] #19339 closed

[2022-10-05 15:05] tomergur opened #19352 "bug with inputs_embeds for bert (tensorflow)"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-3.10.0-1160.31.1.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.8
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
-

[2022-10-05 15:36] forrestdavis opened #19353 "Very different results on inference between mps and cpu for same input"
### System Info

transformers version: 4.22.2
Platform: macOS-12.5-arm64-arm-64bit
Python version: 3.9.13
Huggingface_hub version: 0.10.0
PyTorch version (MPS?): 1.13.0.dev20221005 (True)

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples

[2022-10-05 16:24] 501Good commented on #19303
Hi! I would like to work on `MobileBert` tokenizer.

[2022-10-05 16:44] dwyatte opened #19357 "List of models/tasks failing ONNX inference"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Darwin-21.6.0-x86_64-i386-64bit
- Python version: 3.7.12
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.5.2 (cpu)
- Jax version: 0.3.6
- JaxLib version: 0.3.5
- Using GPU in script?: NA
- Using distributed or parallel set-up in

[2022-10-05 17:03] #19231 closed

[2022-10-05 17:04] gqfiddler opened #19358 "setting max_new_tokens in text-generation pipeline with OPT produces error"
### System Info

python 3.7.12
transformers 4.22.2
Google Vertex AI platform

### Who can help?

@LysandreJik
(Feel free to tag whoever owns OPT if that's not you! – it's not specified in the list)

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or

[2022-10-05 17:07] Rocketknight1 commented on #19231
Hi @androbada525, this should now be fixed. However, to use the fix you will need to install `transformers` from `main` until we release the next version. To do that, replace `pip install transformers` with `pip install --upgrade git+https://github.com/huggingface/transformers.git`. After our next release you can change your code back to just `pip install transformers`.

If this doesn't resolve yo

[2022-10-05 18:17] vishwajeet-hogale commented on #18940
Hey Rajath ! Would love to work on this issue with you. Do you mind working with me on this? Kinda new to open source contribution.

[2022-10-05 18:20] srhrshr commented on #19303
Hello! I can also take up refactoring XLM-ProphetNet model and config.

[2022-10-05 18:38] srhrshr opened #19361 "Moving examples in docstrings of RobertaTokenizer and LongformerTokenizer to doc source files"
### Motivation

When using the `# Copied from` mode of do-repeat-yourself, if there are interactive examples in the source file's docstring, e.g., [`[0, 31414, 232, 328, 2]` in RobertaTokenizer](https://github.com/huggingface/transformers/blob/c28d04e9e252a1a099944e325685f14d242ecdcd/src/transformers/models/roberta/tokenization_roberta.py#L118), then it is currently impossible for the destination

[2022-10-05 18:38] srhrshr commented on #19361
#self-assign

[2022-10-05 18:39] alexvaca0 commented on #19322
Thanks! If there is anything I can do to help please let me know, I need this kind of urgently so I'm very much interested in it working properly :)

[2022-10-05 19:46] Bearnardd opened #19362 "Misspelled docstring for ensure_valid_input function"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Linux-5.4.0-126-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (False)
- Tensorflow version (GPU?): 2.10.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.6
- JaxLib version: 0.3.5
- Using GPU in script?: No
- Using distributed

[2022-10-05 19:49] sgugger commented on #19362
Looks wrong indeed. Would you like to open a PR to fix it?

[2022-10-05 20:02] Bartekkz commented on #19362
@sgugger sure, I will take care of that tomorrow.

[2022-10-05 20:05] Infrared1029 commented on #18940
Is anyone still working on this? I can help

[2022-10-05 20:42] amirhfarzaneh commented on #17681
Hello. Has this issue been addressed either in huggingface or pytorch? I can't import `default_auto_wrap_policy` wither from pytorch 1.12 or 1.13, I think it only exists in 1.11!

[2022-10-05 21:12] s-udhaya commented on #19289
Hi @Narsil ,

Many thanks for the detailed response. Actually I am in the process of building a dedicated Mlflow flavor for transformer models and I am heavily using this awesome pipeline abstraction as this drastically reduce the complexity of my implementation.

As you could see [here](https://github.com/s-udhaya/mlflow/blob/add-transformers-flavor/examples/transformers/finetune_trainer_xlm_auto

[2022-10-05 22:31] rohan-varma commented on #18511
This should be fixed in PyTorch nightly now: https://github.com/pytorch/pytorch/pull/83309

[2022-10-05 23:40] CharlesLeeeee commented on #19305
I believe setting eps in layernorm to 1e-6 rather than 1e-12 is also important.

[2022-10-06 01:02] pohunghuang-nctu opened #19368 "Incorrect type hint of "exponential_decay_length_penalty" in function "generate""
Hi,
   Please check below line,
https://github.com/huggingface/transformers/blob/7e7f62bfa72ca03e9f16285dad182f7c57cd8cab/src/transformers/generation_utils.py#L956
   According to doc string, "exponential_decay_length_penalty (`tuple(int, float)`, *optional*, defaults to `model.config.exponential_decay_length_penalty`):" (https://github.com/huggingface/transformers/blob/main/src/transformers/gener

[2022-10-06 02:50] BakingBrains commented on #14812
@lewtun and @mht-sharma Thank you.

[2022-10-06 05:01] Davidy22 commented on #19303
Hello, commenting to mark retribert

[2022-10-06 05:07] harry7337 commented on #19303
Hello! I would like to work on `Herbert` tokenizer.

[2022-10-06 05:25] naveennamani commented on #19303
Hello, I would like to work on Roformer tokenizer

[2022-10-06 07:11] mumtazcem commented on #7516
Thanks, man, it took me a day to find your comment as well. 😆

[2022-10-06 07:38] yxuansu commented on #19182
Hi @gante -- We have created a private channel and sent an invitation to you. Let's communicate in our channel!

Many thanks for your help!

Best,

Yixuan

[2022-10-06 09:26] quancore opened #19374 "Feature extraction pipeline not consider parameters"
### System Info

    - transformers==4.22.2
    - python==3.9.2
    - Ubuntu 22.04

### Who can help?

@Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

There ar

[2022-10-06 09:56] Eggwardhan opened #19375 "DeformableDetrForObjectDetection is not supported"
### System Info

when I use
`conda create -n hug numpy matplotlib transformers python=3.8` and activated hug env, or just use `pip install transformers` ,I got the same result

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
-

[2022-10-06 10:26] Narsil commented on #19374
Hi @quancore ,

`feature-extraction` pipeline is a bit of a beast tbh since there are MANY models and architectures behind.
That being said, the use case you describe seems very legit and interesting.

Do you want to open a PR for it ?

In order to prevent issues, the `tokenizer` part of the arguments should probably be sent as a group. For instance `max_length` is both an argument possible for to

[2022-10-06 11:26] SauravMaheshkar commented on #16292
I'd like to try Reformer for PyTorch and Tensorflow ☕

[2022-10-06 12:11] Narsil commented on #19374
Does this help ?
https://huggingface.co/docs/transformers/v4.22.2/en/add_new_pipeline

You can go and try at it, doesn't matter how far you go, you can ping me on the PR I'll try to provide some guidance.

Thanks a lot !

[2022-10-06 12:39] felgaet opened #19379 "fill-mask with roberta-base and --targets options"
Dear @sgugger,
I was trying to use the fill-mask function starting from "roberta-base" and limiting the search to target words using the --targets option.
For numerous target words, however, I get the warning that the word does not exist in the vocabulary.

An example is followed:
[code]
The output is:

[code]

This problem does not exist with BERT:
[code]
Could you explain to me the reason for th

[2022-10-06 13:25] mv96 opened #19381 "Tokenizer loading distillert instead of bert"
**Machine specs:**

MacBook Pro (13-inch, M1, 2020)
chip Apple M1
Memory 16 GB

Hello,

I try to use the Huggingface pipelines which works fine on colab but on my machine it behaves absurd

`from transformers import AutoTokenizer, TFAutoModelForMaskedLM,FillMaskPipeline

name="bert-base-uncased"

tokenizer = AutoTokenizer.from_pretrained(name)

model = TFAutoModelForMaskedLM.from_pretrained(name)

[2022-10-06 15:32] iTsingalis opened #19383 "Run text-classification example with AdaHessian"
### System Info

torch 1.12.1+cu113
transformers 4.23.0.dev0

### Who can help?

@sgugge

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi, I want to use AdaHessian optimizer in text classification

[2022-10-06 17:13] AndreaSottana commented on #19225
Hi @ArthurZucker did you manage to take a look by any chance?
I tried to do some debugging for the issue above and found that this _may_ be a contributing cause:
As mention in this [code comment](https://github.com/huggingface/transformers/blob/main/src/transformers/models/bart/modeling_bart.py#L1206), unlike other seq2seq models, Bart automatically creates `decoder_input_ids` from `input_ids` if

[2022-10-06 17:17] samarthsarin opened #19386 "Different Embeddings values on different OS"
### System Info

Sentence Transformers Version - 2.2.0
Platform - Windows 10
Python Version - 3.8.5

I am trying to create word embeddings for a couple of words and the same embeddings are not getting generated on different OS machines. I have checked it on Windows and Linux machines. I am trying to perform clustering on text embeddings and te embeddings are not the same for a particular word henc

[2022-10-06 17:26] ArthurZucker commented on #19225
Hey! Sorry gonna have a look tomorrow, very nice debugging 🤗 pretty sure that we would want to have the correct outputs along with the loss.

Computing the loss at evaluation is not really important? But is informative. Is that why you are trying to do that ?

[2022-10-06 17:30] martiansideofthemoon opened #19387 "Documentation of Adafactor is at odds with Google implementations"
### System Info

- `transformers` version: 4.22.0
- Platform: Linux-5.4.0-126-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-10-06 18:22] LysandreJik commented on #19381
From a quick look, the issue likely comes from PyTorch's `mps` support which seems to give different results for the same operations

[2022-10-06 18:31] mellow-d opened #19391 "T5tokenizer.pre_trained("t5-small") is not callable whereas AutoTokenizer worked fine"

[2022-10-06 18:53] AndreaSottana commented on #19225
Hi @ArthurZucker
The reason for me calculating the evaluation loss is because I'm implementing a loss-based curriculum learning training strategy (something re-adapted from an idea introduced in [this paper](https://aclanthology.org/2021.emnlp-main.281.pdf)).
Essentially I need to order the training samples (not the validation samples) based on their loss, used as a proxy for difficulty (based on

[2022-10-06 20:21] s-udhaya commented on #19289
Hi @Narsil ,

This is exactly what happens in Pipeline's predict method. I would rather prefer to fix the issue at the source than creating a workaround.

I understand your concern regarding breaking changes. however I believe, this change is not going to be a breaking change, and the predict function is not usable in its current state.

I will go ahead and create a PR. Prior to that I will run al

[2022-10-06 20:32] mariagrandury commented on #16059
Hey! I'll take `OpenAIGPT` both for TensorFlow & PyTorch

[2022-10-06 21:39] rraminen opened #19394 "~7% drop in performance is noticed for huggingface GPT2 model"
### System Info

platform: ROCm AMD device
python version: 3.7.13

There is a ~7% drop in performance noticed for huggingface GPT2 model after the IFU (https://github.com/ROCmSoftwarePlatform/transformers/pull/15) on https://github.com/ROCmSoftwarePlatform/transformers repository.

@patil-suraj, @patrickvonplaten, could you please help me in finding the change in transformers that is responsible f

[2022-10-06 22:03] LysandreJik commented on #19394
Hello @rraminen, could you mention the two versions of `transformers` between which you see the difference in performance?
By performance, do you mean performance in metrics or performance in processing power/speed of iteration?
Thank you.

[2022-10-06 22:06] elmadany opened #19395 "XLMRobertaTokenizerFast Error"
### System Info

I've created a new vocab using sentencePiece PBE, I trained an xlm-roberta-base from scratch using [run_mlm.py](https://github.com/huggingface/transformers/blob/main/examples/pytorch/language-modeling/run_mlm.py). When I tried loading the tokenizer using AutoTokanizer or XLMRobertaTokenizerFast it takes a long time and doesn't load, while I load it using XLMRobertaTokenizer is wor

[2022-10-06 22:28] rraminen commented on #19394
Hi @LysandreJik, thank you for your response.

The performance metric I am looking at is **stable_train_samples_per_second**.

The transformers version before performance drop is 4.19.0.dev0.

Performance drop is noticed 4.22.0.dev0 and 4.23.0.dev0 transformers versions.

[2022-10-06 23:08] Fikavec opened #19396 "Strange behavior of translation (text generation) pipelines"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
-

[2022-10-06 23:31] amathews-amd commented on #19394
@rraminen , stable_train_samples_per_second is only in the ROCm fork of HF transformers. This equates to train_samples_per_second with a warmup period.

[2022-10-07 02:33] traveler-pinkie commented on #19303
Hi, I'd would gladly like to work on the Funnel tokenizer.

[2022-10-07 02:50] ssingh1997 opened #19397 "Hyperparameter Sweep for Selection of Best Pre-trained model"
### Feature request

Perhaps I have not been able to figure this out, but the way that the current hyperparameter_search function is set up is that it only allows you to pass in  hyperparameters that are in the TrainingArguments.  However, one key hyperparameter that we are not currently able to pass in  the model types themselves. If I want to pass in a list of models that I would like to try out

[2022-10-07 06:30] dirkgr opened #19399 "`device_map="auto"` fails for GPT2 on CPU"
### System Info

Python 3.9, Mac, `transformers==4.21.3`

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

On a box with no GPUs:

[co

[2022-10-07 06:31] dirkgr commented on #19399
Workaround: Don't use `device_map` on CPU 🤷🏻

[2022-10-07 06:47] rchan26 commented on #19303
Hi all - I'd like to work on `Blenderbot` and `Squeezebert tokenizer` 😄

[2022-10-07 09:15] WaterKnight1998 commented on #16308
- `DonutSWIN`: #19401

[2022-10-07 09:17] D3xter1922 commented on #19303
Hi, I'd like to work on `MarkupLM` config.

[2022-10-07 09:21] archwolf118 commented on #19329
how you define the process?
did you use this line?
processor = TrOCRProcessor.from_pretrained("microsoft/trocr-base-handwritten")

[2022-10-07 09:59] Narsil commented on #19387
Sorry I'll skip this, I'm not very well versed in that area.

What led you to ping me if it's not too much to ask ? (Since maybe there are better people to ping here).

[2022-10-07 10:13] Narsil commented on #19289
Thanks ! Again as I said, this is very old code maybe it broke a long time ago already and your PR is good (and we probably need to add a test to make sure we don't break again).

[2022-10-07 10:18] arcAman07 commented on #16059
I would love to work on PyTorch SEWD for the remaining classes.

[2022-10-07 11:44] mv96 commented on #19381
here is the system information from the command you have mentioned:

WARNING:tensorflow:From /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/transformers/commands/env.py:52: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` ins

[2022-10-07 11:45] mv96 commented on #19381
I actually tried removing the PyTorch library, still the same problem. Any suggestions are welcome

[2022-10-07 12:18] kazeto111 commented on #2789
@h56cho

Hello

I also want to know that if I can get such hidden outputs
Do you have any progress with it?

Thank you in advance

[2022-10-07 12:18] martiansideofthemoon commented on #19387
hi @Narsil thanks and no worries! I didn't find a section on optimizers in the issue builder, so I pinged the people in the closest two areas (trainer and pipeline). I am guessing "trainer" / @sgugger may be better able to answer the issue.

[2022-10-07 12:23] sgugger commented on #19379
Hi there! Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only. In this instance, it's because RoBERTa uses a different tokenization algorithm than BERT which mark the beginning of each word with a special symbol.

[2022-10-07 12:48] LysandreJik commented on #19399
cc @sgugger

[2022-10-07 13:30] Narsil commented on #19381
Hmm it seems like `Tensforflow` with M1 is having an issue:

[code]

Don't have an M1 handy to test it on though :(

[2022-10-07 13:50] sgugger commented on #19387
Transformers is not a library of optimizers, so you should really use an implementation of `Adafactor` form somewhere else that suites your need. It will be deprecated and removed in future versions :-) (Note that it comes from fairseq originally, so that's probably the reason you have comments at odds with T5x)

[2022-10-07 13:59] sgugger commented on #19399
Yes, `device_map="auto"` is not supported in CPU only environments.

[2022-10-07 14:08] #18080 closed

[2022-10-07 14:28] Davidy22 commented on #19303
Coming in to mark BertJapanese and Cpm now that I have some idea of how this goes

[2022-10-07 14:44] Infrared1029 commented on #18940
@NielsRogge is this supposed to be implemented as a method on all vilts or a function that takes a vilt model as input and launches the gradio demo?

[2022-10-07 14:53] #19238 closed

[2022-10-07 14:57] LysandreJik commented on #19394
So I get the full context: is this happening only on ROCm hardware and using the fork from `ROCmSoftwarePlatform`, or is it happening across the library?

I'm trying to understand if it's link to this repository or to the fork. Thanks!

[2022-10-07 15:03] #18813 closed

[2022-10-07 15:03] #18810 closed

[2022-10-07 15:03] #18799 closed

[2022-10-07 15:03] #18612 closed

[2022-10-07 15:36] amathews-amd commented on #19394
We observed this on ROCm hardware. @rraminen , can you please test on A100 to confirm if the drop is not limited to MI250 ?

The perf drop is not happening across the library. Just gpt2.

[2022-10-07 19:47] msamogh opened #19418 "T5ForConditionalGeneration checkpoint size mismatch"
### System Info

## Error Description
I trained a `T5ForConditionalGeneration` model and saved the checkpoint using PyTorch Lightning's Trainer to a `.ckpt` file. But when I try to load back the state_dict using `model.from_state_dict()`, I get this error:
[code]

I have not changed the model definition in any way. The keys also match. So, I'm really not sure how the sizes could mismatch magically

[2022-10-07 19:55] talhaanwarch commented on #18455
@NielsRogge Can you please explain a confusion i have. Let say I have [en_ur translation](https://huggingface.co/Helsinki-NLP/opus-mt-en-ur) model.  I can see both urdu and english words in vocab.

This is how data is trained.
[code]
So when I defined as_target_tokenizer is it read the same voab file? If yes then why we need to define this line because its the only vocab file

[2022-10-08 00:36] danielzgtg opened #19419 "Stacktrace migrating cache opening OpenAI Whisper"
### System Info

[code]

[code]

<details>
<summary>.cache/huggingface</summary>

[code]
</details>

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Use a Linux u

[2022-10-08 02:09] RamitPahwa commented on #19303
I would like to work on `Derberta tokenizer`.

[2022-10-08 02:24] traveler-pinkie commented on #19303
https://github.com/traveler-pinkie/transformers/pull/1#issue-1401790246

[2022-10-08 03:47] created-Bi opened #19420 "Load config error, permission denied and EnvironmentError"
### System Info

_libgcc_mutex             0.1                        main    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
_pytorch_select           0.2                       gpu_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
aiohttp                   3.8.3                    pypi_0    pypi
aiosignal                 1.2.0                    pypi_0    pypi
async-timeout

[2022-10-08 05:25] rajatj86 opened #19422 "this error occurs how to fix it"
torchvision\io\image.py:13: UserWarning: Failed to load image Python extension: torch\_jit_internal.py:751: UserWarning: Unable to retrieve source for @torch.jit._overload function: <function _DenseLayer.forward at 0x0000024B8516D550>. warnings.warn(f"Unable to retrieve source for @torch.jit._overload function: {func}.") torch\_jit_internal.py:751: UserWarning: Unable to retrieve source for @torch

[2022-10-08 06:26] xyx361100238 commented on #18518
Not Yet！

[2022-10-08 06:29] MenglingD commented on #18806
OK, thanks.

I wander why that `SwinLayer.set_shift_and_window_size is not tracing friendly`. The `input_dimensions` is fixed at the deployment phase, and it is ok for jit.trace which will choose one of branch of if-else statement. I am interesting in this trace error, could you please provide more message for it?

[2022-10-08 06:45] aniketgore opened #19423 "Error while running deepseed in dreambooth"
### System Info

NotImplementedError: Could not run 'xformers::efficient_attention_forward_generic' with arguments from the 'CUDA' backend.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details be

[2022-10-08 09:00] jpWang commented on #18528
Hi,
thanks for your great effort. Contact me if any problem encountered :)

[2022-10-08 09:58] wenmin-wu commented on #19301
@SaulLu Got it, thanks a lot for your detailed explanation

[2022-10-08 10:53] dehghanm opened #19425 "Error while converting BigBirdPegasus tensorflow checkpoints into pytorch model using "convert_bigbird_pegasus_tf_to_pytorch.py""
Hi,

I want to covert TensorFlow checkpoints generated from training a BigbirdPegasus model for the summarization task into a PyTorch model using the prepared script for it (i.e., "convert_bigbird_pegasus_tf_to_pytorch.py") which is located in the following URL:
https://github.com/huggingface/transformers/tree/main/src/transformers/models/bigbird_pegasus/modeling_bigbird_pegasus.py

During convers

[2022-10-08 15:01] #18620 closed

[2022-10-08 16:16] E-Aho opened #19430 "Create TF port of BigBird"
### Model description

[BigBird](https://arxiv.org/abs/2007.14062) is an open source transformer model architecture for longer sequences, and is implemented in the Transformer library already in PyTorch and Flax, but not yet in TensorFlow. This issue tracks the implementation of a TensorFlow version of the model.

### Open source status

- [X] The model implementation is available
- [X] The model

[2022-10-08 16:16] E-Aho commented on #19430
Currently starting to work on this :)

[2022-10-08 23:34] monsieurpooh commented on #16010
Thank you @Narsil ; forgive me for the noob question but in the 2nd solution how do I get the corresponding tokens of the outputs.logits? It seems to be just a 2D tensor of floats.

Same question about the scores in the 1st solution; how do I get which tokens each score corresponds to?

[2022-10-08 23:53] monsieurpooh commented on #16010
Also I'm unable to get the code to work for the 1st solution. What should the LogitsInspector return?

[2022-10-09 00:32] monsieurpooh commented on #16010
I found out the answer to my first question. It's a 2d tensor of size 115, and 50000+. The 50000+ corresponds to the tokens, and the position in the list corresponds to the index of the token as determined by the tokenizer.

However, after being able to sort these by score, I'm not sure how to convert the score into the actual probabilities.

[2022-10-09 00:47] monsieurpooh commented on #16010
I found the answer to my question; just call .softmax(-1) on logits to get the probabilities.

Oddly after finishing this implementation I got very slightly differing scores from the beam search implementation.

Beam search:
[code]

Simple logits style:
[code]

I'm not sure which one is more accurate; I presume the latter, because the former required a 1-line hack from https://github.com/huggingfa

[2022-10-09 08:09] eware-godaddy commented on #19290
FYI, I'm also triggering this error when I use the latest transformers, when running the [BLIP captioning model example](https://github.com/salesforce/LAVIS) on the saleforce lavis library which uses transformers:

[code]

[2022-10-09 08:23] NielsRogge commented on #18455
When using the as_target_tokenizer context manager, it will use the target vocabulary to tokenize the input sentence.

However, in v4.22 we deprecated this context manager. Now

[code]

can be replaced by:

[code]

[2022-10-09 08:54] harry7337 commented on #19303
I can work on `mt5 model` if free! @divyanshugit Can I take the issue, if you haven't already started?

[2022-10-09 10:16] xiaoyichao commented on #593
def load_tf_weights_in_bert(model, config, tf_checkpoint_path):
    """Load tf checkpoints in a pytorch model."""
    try:
        import re

        import numpy as np
        import tensorflow as tf
    except ImportError:
        logger.error(
            "Loading a TensorFlow model in PyTorch, requires TensorFlow to be installed. Please see "
            "https://www.tensorflow.org/install/ fo

[2022-10-09 10:18] xiaoyichao commented on #593
I think this function(load_tf_weights_in_bert) needs to be modified as follows:

[2022-10-09 10:20] xiaoyichao commented on #593
I think this function(load_tf_weights_in_bert) needs to be modified as follows,'xyc use' is where I changed:
`def load_tf_weights_in_bert(model, config, tf_checkpoint_path):
    """Load tf checkpoints in a pytorch model."""
    try:
        import re

        import numpy as np
        import tensorflow as tf
    except ImportError:
        logger.error(
            "Loading a TensorFlow model in

[2022-10-09 10:21] xiaoyichao commented on #593
I think this function(load_tf_weights_in_bert) needs to be modified as follows,'xyc use' is where I changed:
`
def load_tf_weights_in_bert(model, config, tf_checkpoint_path):

    try:
        import re

        import numpy as np
        import tensorflow as tf
    except ImportError:
        logger.error(
            "Loading a TensorFlow model in PyTorch, requires TensorFlow to be installed. Pl

[2022-10-09 10:27] xiaoyichao commented on #6881
I think this function(load_tf_weights_in_bert) needs to be modified as follows,"xyc use" is where I changed:
[code]

[2022-10-09 10:28] xiaoyichao commented on #393
I think this function(load_tf_weights_in_bert) needs to be modified as follows,"xyc use" is where I changed:
[code]

[2022-10-09 11:39] reyha commented on #19276
@Mustapha-AJEGHRIR @patrickvonplaten - Thanks for confirming, really appreciate it.

[2022-10-09 11:39] #19276 closed

[2022-10-09 12:19] moahaimen commented on #13127
size mismatch for model.classifier.weight: copying a param with shape torch.Size([555, 2208]) from checkpoint, the shape in current model is torch.Size([563, 2208]).
	size mismatch for model.classifier.bias: copying a param with shape torch.Size([555]) from checkpoint, the shape in current model is torch.Size([563]).

[2022-10-09 14:34] Infrared1029 opened #19435 "Make ViltModel forward method arguments (inputs_embeds and image_embeds) consistent"
### Feature request

The inputs_embeds arguemnt in Vilt expects the word embeddings (which is [cls_token_emb, token_embs, sep_token_emb]) of the input without adding the pos or token_type embs yet, while the image_embeds argument expects the processed embeddings [cls_token_emb, patch_embs] + pos_embs + token_types , which seems a bit inconsistent?

### Motivation

I was a bit confused why the foll

[2022-10-09 15:01] #18849 closed

[2022-10-09 15:01] #18836 closed

[2022-10-09 15:01] #18835 closed

[2022-10-09 15:01] #18830 closed

[2022-10-09 15:01] #18824 closed

[2022-10-09 15:01] #18552 closed

[2022-10-09 16:38] CrackerHax commented on #19290
config = transformers.GPTJConfig.from_pretrained("./gpt-j-6B-8bit)
tokenizer = AutoTokenizer.from_pretrained("./gpt-j-6B-8bit",add_prefix_space=True)
vocab           = tokenizer.get_vocab()
gpt = GPTJForCausalLM.from_pretrained("./gpt-j-6B-8bit",low_cpu_mem_usage=True)

prompt = tokenizer(user_input, return_tensors='pt', return_length=True)
prompt = {key: value.to(device) for key, value in prompt.

[2022-10-09 19:49] auwsom commented on #19294
This error turned out to be from not having Cuda installed properly. PyTorch comes with its own many times, but bitsandbytes doesnt use it.

[2022-10-09 19:49] #19294 closed

[2022-10-09 20:38] SuryanarayanaKrishnan commented on #19303
hi @sgugger i would love to work on MarkupLMConfig

[2022-10-09 22:42] auwsom opened #19445 "Anything but plain "greedy" search "not implemented for 'Half'""
### System Info

`transformers-cli env`=
[code]
https://colab.research.google.com/drive/1YORPWx4okIHXnjW7MSAidXN29mPVNT7F?usp=sharing

### Who can help?

@sgugger, @patil-suraj

Im following:
https://colab.research.google.com/drive/1YORPWx4okIHXnjW7MSAidXN29mPVNT7F
from:
https://huggingface.co/blog/hf-bitsandbytes-integration

### Information

- [ ] The official example scripts
- [ ] My own modifi

[2022-10-10 01:57] DIvkov575 commented on #19324
could I get assigned to this?

[2022-10-10 03:51] YashasviMantha commented on #5611
Ah, thanks! Will try it.

[2022-10-10 04:25] dxlong2000 commented on #19177
Hi @lvwerra  @mariosasko,

I have installed
[code]

and it seems that the problem is still there:

[code]

[2022-10-10 05:22] robbohua opened #19446 "Add LongT5 to AutoConfig"
### System Info

config = AutoConfig.from_pretrained("google/long-t5-local-base")

gives a KeyError: 'longt5'

I am trying to run this as it's part of SentenceTransformer package when initialising a search model - could longT5 be added to AutoConfig?

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially

[2022-10-10 06:16] elmadany commented on #19395
@SaulLu

[2022-10-10 07:21] CaffreyR opened #19447 "T5ForConditionalGeneration output differently with the same batch input"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.13.0.dev20220709 (False)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using dis

[2022-10-10 07:53] KMFODA commented on #18354
Commenting to confirm this is not stale. A request to review my latest changes to the PR is out.

[2022-10-10 08:23] gante commented on #19447
Hi @CaffreyR 👋

Can you share a snippet where I can fully reproduce the issue locally? Also -- am I right in saying that the issue is that the exact same input might result in different outputs, using `model.generate()`?

[2022-10-10 08:30] Narsil commented on #16010
Not really that's intended for power users.
But if you feel that displaying the entire probability distribution is worth it, feel free to open a PR, we'll take a look and could add it to the lib so that it's easier for others to use maybe.
When doing so, try to share as early as possible your design and intent so the community can give feedback before investing too much work and effort which might

[2022-10-10 08:40] CaffreyR commented on #19447
Hi @gante , thanks for your kind reply.
Sorry but the full code has not been released. It is actually modified from the code of facebook [FID](https://github.com/facebookresearch/FiD). I count the time in the evaluation
https://github.com/facebookresearch/FiD/blob/main/test_reader.py#L36

You can add the code in the `for` cycle,
[code]

And the `outputs` , there actually 3 `outputs`

- [The output

[2022-10-10 08:54] gante commented on #19447
@CaffreyR without an exact script, I am limited in what I can do :) I understand your limitations, but the problem you are describing can come from many places.

In essence, `generate()` can have variable outputs (which leads to different execution times) for the same input in two circumstances:
1. `generate()` is configured to not be deterministic. If `transformers` `generate()` is being used wit

[2022-10-10 09:01] CaffreyR commented on #19447
Hi @gante , thanks again for your reply. It actually do not modify, see [here](https://github.com/facebookresearch/FiD/blob/main/src/model.py#L51), it actually just use the `generate()` from `transformers.T5ForConditionalGeneration`

And what is the `do_sample=True`, because in the code
https://github.com/facebookresearch/FiD/blob/main/test_reader.py#L115

There is a sampler , does it match the `c

[2022-10-10 09:15] NielsRogge commented on #19177
Hi,

This is another error I think, not related to datasets or evaluate. Do you have an "image" column in your dataset? Did you specify `--remove_unused_columns False` when running the script?

[2022-10-10 09:21] gante commented on #19447
It shouldn't be related, `SequentialSampler` only touches the data, not the `generate()` method.

As for an explanation, you can refer to our [docs](https://huggingface.co/docs/transformers/v4.22.2/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.generate) or our [blog post](https://huggingface.co/blog/how-to-generate).

Please note that without a full reproduction scr

[2022-10-10 09:37] FrancescoSaverioZuppichini opened #19448 "OWL-ViT"
### Feature request

Dear all,

It looks like [OWL-ViT](https://huggingface.co/docs/transformers/model_doc/owlvit) doesn't support image conditioned detection.

### Motivation

 Image conditioned detection is the most appealing feature of this model

### Your contribution

No, just pointing this out. Thanks

[2022-10-10 10:01] #18914 closed

[2022-10-10 10:27] NielsRogge commented on #14642
Hi @jaketae, that's a very good point. I'll cc @LysandreJik and @patrickvonplaten to decide on which option we best use for integration tests. In any case, an annotator is more clean than using a context manager imo.

[2022-10-10 10:33] NielsRogge commented on #19448
Hi Francesco, this feature was already asked and a PR to add this feature can be found here: #18891