[2022-10-28 07:27] sgunasekar opened #19941 "HFArgumentParser using a mix of json file and command line?"
Is there a way to make HFArgumentParser to load first from a json/dict and then update any command line arguments on top of it? e.g., if i want to keep a custom defaults file for TrainingArguments but also update some arguments from command line. TIA

[2022-10-28 07:29] Narsil commented on #19916
I read this 3 times, and I still don't understand. What do you mean ?

Just as a note for here or the forums, trying to be over explicit might help readers understand what you're trying to do and what are your expectations.

[2022-10-28 07:53] davidavdav opened #19942 "'FlaubertTokenizer' object has no attribute 'do_lowercase'"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.13.0-30-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

[2022-10-28 08:04] sanchit-gandhi commented on #19897
Hey @amankhandelia - the test of interest passes for the current BART and BART-derived models, so I wonder whether the issue is with the BART model or rather the mBART one? In general, I'm happy with the notion of changing the mask value from `-inf` to a large non-negative number, I just want to determine whether the issue lies with BART or FlaxMBartForCausalLM!

I've noticed in your PR that you'r

[2022-10-28 08:06] Zcchill commented on #19939
I just found that the problem is due to process of loading models will change the dtype from fp16 to fp32 as default rather than the the function "pretrainmodel.save_pretrained()". I'll close this issue.

[2022-10-28 08:19] sanchit-gandhi commented on #19588
100k is mega! Very excited to see how pre-training JAX Wav2Vec2 in Finnish goes with this much data. Just out of interest, are you set on producing a pre-trained checkpoint in Finnish? Or is the end goal downstream ASR? The multilingual [Whisper](https://huggingface.co/models?search=whisper) models are pre-trained on 1066h of **labelled** Finnish audio-transcription data (out of 670,000h total). T

[2022-10-28 08:26] ddaspit opened #19943 "NllbTokenizer/NllbTokenizerFast inserts language code incorrectly when tokenizing target text"
### System Info

- `transformers` version: 4.23.1
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.8.10
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.10.1+cu111 (True)
- Tensorflow version (GPU?): 2.7.3 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or pa

[2022-10-28 08:30] amankhandelia commented on #19897
Hey @sanchit-gandhi, thanks for the feedback,
Makes sense, will raise a separate PR for the FlaxMBartForCausalLM and check the same.

[2022-10-28 08:31] sanchit-gandhi commented on #19887
Hey @JeffreyWardman! I believe @ArthurZucker has started looking into this, see https://github.com/huggingface/transformers/issues/19490#issuecomment-1285166541 for context!

[2022-10-28 08:32] sanchit-gandhi commented on #19897
Hey @amankhandelia, thanks for understanding! Feel free to tag me on the PR as soon as it's ready and I'll try to get you a review ASAP!

[2022-10-28 08:42] JeffreyWardman commented on #19887
Thanks @sanchit-gandhi! By the looks of it, it would still be missing the timestamps. This is quite an important feature for me. I'm not completely familiar with the underlying code for huggingface. How does the chunking work? Does it calculate the first break between words after a given duration?

[2022-10-28 09:42] CaffreyR commented on #19926
Great! Many thanks!

[2022-10-28 09:42] #19926 closed

[2022-10-28 09:48] CaffreyR opened #19944 "Problem of computing entropy in `run_bertology.py`"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.13.0.dev20220709 (False)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using dis

[2022-10-28 12:12] Rocketknight1 commented on #19908
Hi @BENSAFOUAN-Abdelhalim, `CamembertForQuestionAnswering` is a PyTorch model. The TF model is `TFCamembertForQuestionAnswering`. That's why you're seeing the missing methods on that model!

In general, though, we don't support TFLite conversions for all of our models. There are some operations that TFLite can't support, and we don't guarantee that everything in a model will work for it. However,

[2022-10-28 12:39] CatchDr commented on #19916
Sorry, the message is machine translation, I mean there are two problems, the first problem is that different gpu speed should be different, a100 is better than t4, especially the semi-precision gap is big, so turn on the semi-precision training speed should be a big gap, however the speed is almost the same. The second problem is that multi-threading does not seem to have any accelerating effect,

[2022-10-28 12:52] sgugger commented on #19939
I believe this has been fixed in more recent versions of Transformers (can't be entirely sure since your code sample and traceback are not properly formatted between three backticks, so very hard to read).
Could you try to upgrade to the latest version?

[2022-10-28 12:53] sgugger commented on #19944
Note that this is a research project, so an example provided as is not really maintained :-)

[2022-10-28 13:00] hcscctv opened #19947 "unexpected OOM error when creating pipeline"
### System Info

[code]

When i run these code, an unexpected error occured.

[code]

the gpu has enough space
[code]

it is interesting that 47.46 GiB total capacity; 148.00 MiB already allocated; 22.31 MiB free; 148.00 MiB reserved in total by PyTorch, and i cannot allocate 20Mb.

i use slurm to upload the job, i did not know whether it has effect

### Who can help?

@Narsil

### Information

-

[2022-10-28 13:08] lhoestq commented on #15401
PyArrow 10.0.0 fixed the bug that introduces `[]` instead of keeping the `None`. A PR in open in `datasets` to integrate the fix: https://github.com/huggingface/datasets/pull/5174

[2022-10-28 13:12] sgugger commented on #19937
cc @lewtun

[2022-10-28 13:14] sgugger commented on #19938
Might be of interest to @ArthurZucker

[2022-10-28 13:19] sgugger commented on #19941
Please use the [forums](https://discuss.huggingface.co/) to ask questions like this as we keep issues for bugs and feature requests only.

[2022-10-28 13:20] sgugger commented on #19942
Thanks for reporting! I believe this has been fixed on the main branch. While waiting for the next release, could you do a source install?

[2022-10-28 13:30] sgugger commented on #19934
cc @ArthurZucker so it's on your radar.

[2022-10-28 13:30] #19947 closed

[2022-10-28 13:31] hcscctv commented on #19947
sorry, there are some errors on the server in fact

[2022-10-28 13:41] Narsil commented on #19947
Ok, if you could share what happened it could help potential readers. But glad you fixed it !

[2022-10-28 13:57] davidavdav commented on #19942
Yes, when installing from main
[code]

things work again as expected

[2022-10-28 13:58] #19942 closed

[2022-10-28 14:03] AndreaSottana opened #19948 "Transformers logging setLevel method seems not to work"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.15.0-33-generic-x86_64-with-glibc2.35
- Python version: 3.10.4
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-10-28 14:27] IMvision12 commented on #16627
@SaulLu are there any tokenizers left???

[2022-10-28 14:49] Fritskee commented on #19811
I've come across an issue with the ONNX conversion of TrOCR-base. I'm not sure if they are entirely related, but I've managed to convert the models with huggingface.onnx into actual onnx files. After conversion I obtain an `encoder.onnx` and a `decoder.onnx` file, which seems to be as it should be.

Then, for processing an input image I do the following:
1. Send image through the processor:
`proce

[2022-10-28 15:01] #19095 closed

[2022-10-28 15:01] #19093 closed

[2022-10-28 15:02] quancore opened #19949 "Feature extraction pipeline increasing memory use"
### System Info

UBUNTU 22.04

### Who can help?

@Narsil

### Reproduction

[code]

### Expected behavior

I am trying to extract text embeddings from a text column of around 65k entries. I need to store the embeddings in the memory t train the downstream sklearn classifier (no online, incremental mode). The memory use of the above feature extraction gets insane like 128 GB, may I ask why this is

[2022-10-28 15:10] Zcchill commented on #19939
alright, I will try to upgeade the version of Transformers.

[2022-10-28 15:23] venkat-natchi commented on #19631
Sorry, I was away due to festival season here.
I am done with the paper. Shall I start transforming [this](https://github.com/sanghyun-son/EDSR-PyTorch/blob/9d3bb0ec620ea2ac1b5e5e7a32b0133fbba66fd2/src/model/mdsr.py) one into the HuggingFace model standards?

[2022-10-28 15:26] ArthurZucker commented on #19934
Interesting, we might have more model to refactor

[2022-10-28 15:31] Zcchill opened #19951 "The scipt exit when calling "pretrainmodel.save_pretrained" because of OOM, but the previous training phase is well"
### System Info

NVIDIA A100 Tensor Core GPUs (80G);
python 3.8.13;
torch 1.10.0+cu113;
transformers 4.20.1;

### Who can help?

 @sgugger

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

When I fine

[2022-10-28 15:31] Narsil commented on #19949
Hi @quancore ,

Is this line normal ?
[code]
This will load the entire dataset in memory, not sure if 65k entries are big or not but they can add up fast if they are sizeable documents.
`    df = pd.read_csv(os.path.join(args.df_path), sep='\t', header=0)`

As far as I understand you're loading the entire file here (so larger than just the col entries you're looking for)

Finally you're setting `m

[2022-10-28 15:37] ChainYo commented on #16308
Can we re-open this? Please @sgugger :hugs:

[2022-10-28 15:55] IMvision12 commented on #19631
Go ahead and let me know if you need any help; I will be adding the MDSR model to the hub, and I believe the code should be similar to this [Swin2sr](https://github.com/huggingface/transformers/pull/19784) PR also we can use it for refrence.

[2022-10-28 16:01] venkat-natchi commented on #19631
Sure, thanks

[2022-10-28 16:45] AndreasMadsen commented on #19877
Thanks, I will look at adding the new model. Do you have a policy regarding its name? In this case, the authors did not give it a dedicated name as they see it as just RoBERTa.

[2022-10-28 16:47] BENSAFOUAN-Abdelhalim commented on #19908
ok, thanks @Rocketknight1 for your answer.

[2022-10-28 17:10] gante commented on #19691
@nyadla-sys two questions to help pinpoint the problem:
1. Does the standard TF model (i.e. non-TFLite) work correctly for that audio file?
2. If the answer to 1 is yes: can you share a code example of the problem? (the link above doesn't work for me)

[2022-10-28 17:31] nyadla-sys commented on #19691
@gante now I modified the [colab](https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/notebooks/tflite_from_huggingface_whisper.ipynb) notebook to generate more tokens as per below line from HF colab

predicted_ids = model.generate(inputs, max_length=480_000)
Referred this snippet from HF colab
https://colab.research.google.com/drive/191WGH59ZZ-xyu8d6GWbuqZHa_MQJmQpA?us

[2022-10-28 18:45] mht-sharma commented on #19811
Hi @Fritskee, the decoder ONNX model expects 3 inputs during inference, namely: `input_ids`, `attention_mask` &  `encoder_hidden_states` (output from the encoder model). Hence, the above error. You need to provide the appropriate start token id and attention mask as input to the decoder to start the sequence.

Encoder error: Please ensure if you have followed appropriate steps to generate the inpu

[2022-10-28 18:59] RaghavPrabhakar66 commented on #16308
@ChainYo After gaining some experience with `ImageGPT`, I would like to work on `CANINE` and `DecisionTransformer` (if working on more than one model is allowed.)

[2022-10-28 19:18] monk1337 opened #19957 "KeyError: 'eval_loss'"
I am trying to build a Question Answering Pipeline with the Hugginface framework but facing the `KeyError: 'eval_loss'` error. My goal is to train and save the best model at last and evaluate the validation test on the loaded model. My trainer configuration looks like this:

    args = TrainingArguments(f'model_training',
                          evaluation_strategy="epoch",

[2022-10-28 20:06] sgugger commented on #19957
It doesn't look like you are providing any labels to your model (your functions preparing the dataset do not generate any `start_positions` and `end_positions`). More generally, please use the [forums](https://discuss.huggingface.co/) for any help to debug your code, as we keep the issues for bugs and feature requests only.

[2022-10-28 20:38] FurkanGozukara commented on #4224
@dipanjanS can you write a full code because it is missing a lot of parts

nltk missing
bart_tokenizer missing
bart_model missing

[2022-10-28 20:40] moksh-enf commented on #19776
Hi @uahmad235 , the input is passed from a config file, where as the input data I believe is being downloaded withing the code.

[2022-10-28 21:04] martinez-zacharya opened #19958 "Using GPT2 tokenizer with DataCollatorForLanguageModeling"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.10.0-18-amd64-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can help?

@SaulLu @patil-

[2022-10-28 21:46] JohnnyRacer opened #19959 "Training using accelerate and deepspeed with ZeRO results in model weights mismatch"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- U

[2022-10-28 22:42] sgugger commented on #19958
The data collator will expect a list of samples from a torch Dataset, but you are passing a single dictionary to it (the output of the tokenizer is one dictionary, with the keys being the arguments expected by the models like `input_ids`, and the values being tensors).

You can actually do directly `model(**tokens)`, you don't need the data collator on this example.

[2022-10-29 04:34] BakingBrains commented on #16308
@ChainYo would love to take up PoolFormer if there's no one working on it yet?

[2022-10-29 07:18] aapot commented on #19588
Just a quick update so I finally had time to start the actual debugging. More info to follow soon.

[2022-10-29 07:35] patrickvonplaten commented on #19918
@sanchit-gandhi could you take a look here?

[2022-10-29 07:48] IMvision12 commented on #19631
No, I guess a separate PR is required.

[2022-10-29 08:22] CaffreyR opened #19960 "`return_dict` does not working in `modeling_t5.py` , I set `return_dict==True` but return a turple"
### System Info

- `transformers` version: 4.22.1
- Platform: Linux-5.13.0-48-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-10-29 11:45] gante commented on #19737
Hey @FurkanGozukara -- try running `pip.exe install transformers==2.11.0` (i.e. removing the `v`)

Also, please note that this is a very old version. We highly encourage you to use a more recent version in your project if possible!

[2022-10-29 11:56] gante commented on #19960
Hi @CaffreyR 👋 At a first glance at our code base, I don't see how that bug can arise 🤔 Can you share a script or a notebook where the issue can be reproduced?

[2022-10-29 12:14] CaffreyR commented on #19960
Hi @gante, yes of course! Many thanks! The code is here https://github.com/CaffreyR/FiD with little revision from https://github.com/facebookresearch/FiD. We can see our problem is here https://github.com/CaffreyR/FiD/blob/main/train_reader.py#L63.

The transformer version of this code is different from my experiment.(This is the script that is the easiest for you to produce). Please follow the st

[2022-10-29 12:47] gante commented on #19960
Hey @CaffreyR -- with a long script it's hard to pinpoint the issue :) We need a short reproducible script, otherwise we will not prioritize this issue.

[2022-10-29 12:59] ChainYo commented on #16308
Yes of course! :+1:

I don't think so, it's open! :hugs:

[2022-10-29 13:08] Fritskee commented on #19811
@mht-sharma Thanks for you assistance.
I just tried the suggested code of yours for the encoder part. The issue remains exactly the same.

To make sure we're talking about the same thing, I also used the image that you pulled from the web. I'm now running the following code:
[code]

Running this code, gives me exactly the same error. Namely:
`onnxruntime.capi.onnxruntime_pybind11_state.RuntimeExce

[2022-10-29 13:26] CaffreyR commented on #19960
Hi @gante , it is very interesting that I try to use this code and it runs successfully. The batch is the same from FID, only the model is different. The original facebook code inherited and nested the t5 model.

[code]

It might be the problem of inheriting, I don't know, it just different when I try to simplify the code. :(
[code]

[2022-10-29 14:52] gante commented on #19960
@CaffreyR then it's almost surely an upstream problem -- I noticed it uses `transformers==3.0.2`, which may explain the issue you're seeing :)

While I can't provide support in these situations (the problem is not present in `transformers`), my advice would be to open an issue in FID and/or to try to monkey-patch their problematic model code.

[2022-10-29 15:02] #19118 closed

[2022-10-29 15:02] #19112 closed

[2022-10-29 15:02] #18862 closed

[2022-10-29 15:02] #18191 closed

[2022-10-29 15:07] ayaka14732 commented on #19240
This comment was posted because the issue had been automatically marked as stale due to lack of recent activity, but it was flagged by a user as an issue that still needs to be addressed.

[2022-10-29 18:44] mht-sharma commented on #19811
@Fritskee Thanks for trying the suggestion.

I have tried your code and it works for me. I would mention the steps I use for exporting and running the inference.

1. Clone the transformers and install it from source.
2. Export the model
[code]
3. Ran inference using your code. I updated the following line in your code because of version changes.
[code]

Also please find the onnx, torch and onnxrun

[2022-10-29 19:15] Fritskee commented on #19811
@mht-sharma I just created a new conda env, matched your package versions and installed hf/transformers from source. Did the job! I now get a `(1, 577, 768)` tensor at the output of the encoder.

Thanks for your assistance! Will try to figure out the decoder part now!

[2022-10-29 23:15] danhphan commented on #16627
Hi @IMvision12, I am busy on the deadline of a couple of other projects, so can you work on `RemBert`? Thanks!

[2022-10-30 08:16] stancld opened #19965 "Cannot load TensorFlow model from PyTorch weights split to multiple files"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.15.0-46-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117
- Tensorflow version (GPU?): 2.9.2

### Who can help?

@LysandreJik @patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An

[2022-10-30 09:46] Zcchill commented on #19939
Hello, I've updated the verson of transformer, and there is still the bug. I've update the comment with a screen shot of bug for read.

[2022-10-30 10:08] Saad135 commented on #19487
While browsing the list of model configurations, I noticed that the DebertaConfig class does not have an example docstring section. Unsure if that is supposed to be like that, but just incase its not, I will add a PR to include the example docstring and maybe I can get some feedback from there.

[2022-10-30 10:28] Fritskee commented on #19811
@mht-sharma I am facing one final issue with the decoder, which is also a shape issue.

I'm doing the following to infere with ONNX. I checked the code of [optimum](https://github.com/huggingface/optimum/pull/420/files#diff-77c4bfa5fbc9262eda15bbbc01d9796a0daa33e6725ca41e1cfe600a702d0bfc) as per your suggestion. From this I implemented my callable functionality of the `OnnxDecoder`. I also checked

[2022-10-30 12:08] IvanLauLinTiong commented on #19303
Hi @sgugger , I would like to work on `BertJapanese` and `Cpm` tokenizer.

[2022-10-30 12:25] IMvision12 commented on #16627
Yeah sure @danhphan Thanks.

[2022-10-30 14:13] ragvri commented on #7980
Any solution for this?

[2022-10-30 14:44] mohit-217 commented on #16007
@NielsRogge @gante can you please explain how to annotate the below files for custom handwritten mathematical equation training. More importantly s^2
![FCA(1)-1-0tensor(0 89785)720](https://user-images.githubusercontent.com/51528367/198884771-5b7bf056-ae81-43f7-8ce9-a187cf371602.png)
![FCA(1)-4-3tensor(0 89384)888](https://user-images.githubusercontent.com/51528367/198884777-95d35008-c665-460d-b99

[2022-10-30 14:45] mohit-217 opened #19970 "How to annotate these type of data for custom OCR training"
@NielsRogge @gante can you please explain how to annotate the below files for custom handwritten mathematical equation training. More importantly s^2
![FCA(1)-1-0tensor(0 89785)720](https://user-images.githubusercontent.com/51528367/198884771-5b7bf056-ae81-43f7-8ce9-a187cf371602.png)
![FCA(1)-4-3tensor(0 89384)888](https://user-images.githubusercontent.com/51528367/198884777-95d35008-c665-460d-b99

[2022-10-30 15:02] #19148 closed

[2022-10-30 15:02] #19147 closed

[2022-10-30 15:02] #19063 closed

[2022-10-30 15:02] #18880 closed

[2022-10-30 15:02] #18704 closed

[2022-10-30 15:02] #18698 closed

[2022-10-30 15:02] #18424 closed

[2022-10-30 17:12] shivance opened #19971 "Add SpA-Former"
### Model description

I would like to add [SpA-Former](https://arxiv.org/abs/2206.10910) model to the Transformers.

It is an end-to-end transformer to recover a shadow-free image from a single shaded image. Unlike traditional methods that require two steps for shadow detection and then shadow removal, the SpA-Former unifies these steps into one, which is a one-stage network capable of directly l

[2022-10-30 17:13] shivance commented on #19971
@sgugger Hi, would it be a valuable contribution to HuggingFace?

[2022-10-30 18:13] mohit-217 commented on #19970
@NielsRogge @gante Please review
How I need to annotate for these type of data.
1. 3 ( 7s+ 8 )
2. 5 (6s + 7)
3. s^2
4. s^2 + 3s + 1

These annotation is correct?

[2022-10-30 18:54] quancore commented on #19949
HI @Narsil , thank you for the answer.
[code]
The dataset is not that big and ListDataset instance example actually comes from one of the answers on the forum: https://discuss.huggingface.co/t/progress-bar-for-hf-pipelines/20498/2
That's why I am loading the data frame and converting it to a list for use, do you have a better suggestion while seeing the progress?

[code]
As you have calculated, it

[2022-10-30 20:38] martinez-zacharya commented on #19958
Thank you very much for your quick response! I'm simply trying to fine-tune the model with CLM, so I figured I needed to use the datacollator.

[2022-10-30 23:49] yazdanbakhsh opened #19972 "DebertaV2 Modeling for SQUAD v2.0"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.4.0-1087-gcp-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.5
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): 2.10.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scrip

[2022-10-31 03:14] sywangyi opened #19973 "issue with --jit_mode_eval enabled in trainer commandline"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.15.0-46-generic-x86_64-with-glibc2.31
- Python version: 3.9.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script

[2022-10-31 03:14] sywangyi commented on #19973
current behavior
error log:
[INFO|trainer.py:557] 2022-10-30 20:10:11,309 >> Using cuda_amp half precision backend
10/30/2022 20:10:11 - INFO - __main__ - *** Evaluate ***
[INFO|trainer.py:725] 2022-10-30 20:10:11,309 >> The following columns in the evaluation set don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: idx, sentence2, sentence1. If idx

[2022-10-31 03:14] CaffreyR commented on #19625
Anyone can help? Thanks! @gante @ArthurZucker

[2022-10-31 03:19] sywangyi commented on #19973
case2: if we run only predict. command like
python3 examples/pytorch/text-classification/run_glue.py --model_name_or_path /skyrex01/wangyi/output/mrpc/ --task_name mrpc  --do_predict --max_seq_length 128 --output_dir /skyrex01/wangyi/output/mrpc/inference1/ --overwrite_output_dir True  --fp16 --jit_mode_eval

error changing, since inputdata does not contain "labels" in this case

jit error:
[INFO|

[2022-10-31 03:48] sywangyi commented on #19973
case3: if we run only predict on cpu. command like
python3 examples/pytorch/text-classification/run_glue.py --model_name_or_path /skyrex01/wangyi/output/mrpc/ --task_name mrpc  --do_predict --max_seq_length 128 --output_dir /skyrex01/wangyi/output/mrpc/inference1/ --overwrite_output_dir True  --bf16 --jit_mode_eval --no_cuda
error pop like
ERROR: Tensor-valued Constant nodes differed in value acro

[2022-10-31 05:01] ArthurZucker commented on #19625
Hey! It seems that the `T5ForConditionalGeneration` is simply missing the `_prune_heads`.
We should add the following few lines :
[code]
Or something along those lines!
Would you like to open a PR for that? Otherwise I will take care of it 🤗

[2022-10-31 05:07] CaffreyR commented on #19625
Hi @ArthurZucker, I will give it a try :)

[2022-10-31 07:08] NielsRogge commented on #19913
Hi,

Thanks for your interest in VideoMAE. I took the unnormalization from the original implementation as can be seen here: https://github.com/MCG-NJU/VideoMAE/blob/b6af64a997da1a2f52ce1cb2f300712faa2444a1/engine_for_pretraining.py#L38-L41.

The unnormalization is done to "undo" the normalization done during data preprocessing (as the model needs to predict raw pixel values).

[2022-10-31 07:30] NielsRogge commented on #19970
Hi,

Could you please ask this question on our forum, rather than here?

Github issues are meant for bugs or feature requests.

Thanks!

[2022-10-31 07:39] CaffreyR commented on #19625
Hi @ArthurZucker , there seems a little more problem. Since in this line
https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/models/t5/modeling_t5.py#L533
The model report error when I successfully pruned some heads, it says
[code]

Are we gonna modify the forward?

[2022-10-31 08:37] mht-sharma commented on #19811
Hello @Fritskee the issue is because of the sample input. The `input_ids` and `attention_mask` expects input of size `<batch_size, sequence_length>`.

In your above snippet you have created an input of batch size 512, however, the `encoder_hidden_states` are of batch size 1, hence the error.  Try creating input with batch size 1 and it should work.

Additionally, please use `torch.ones` to generat

[2022-10-31 08:39] Narsil commented on #19949
If the dataset is not that big it will work fine, but since you already have the data you don't need to do `.tolist()`, I would do something like

[code]
I haven't tested it, but with this gist you could get away without copying anything.

Don't  use `pad_to_max_length` imo. This is unnecessary in a lot of cases. What you want to do is to run the model on the actual full sentence, but keep around

[2022-10-31 08:43] NielsRogge opened #19974 "Potential bug in modeling_utils.py"
### System Info

Transformers main branch.

### Who can help?

@LysandreJik @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

There currently seems to be a potential bug in modeling_utils.py,

[2022-10-31 08:51] CaffreyR commented on #19625
Hi @ArthurZucker , I open a PR here. https://github.com/huggingface/transformers/pull/19975

We can see the test on a colab https://colab.research.google.com/drive/1b9mHjtn2UxuHU_Sb_RXts12rDzbebBX0#scrollTo=hUSe4a1oOp6D

I use `opendelta` to visualize the pruning process.

But we seems to be a forward problem

[2022-10-31 09:00] CaffreyR commented on #19960
OK then, I will give it a try ! Thanks!!!

[2022-10-31 09:00] #19960 closed

[2022-10-31 09:23] ydshieh commented on #19487
That would be very nice, @Saad135 ! Thank you

[2022-10-31 09:41] RaghavPrabhakar66 commented on #16308
@ChainYo I was working on `Canine` and was facing some errors while running the following command:
[code]

CanineOnnxConfig:

[code]

Error:

[code]

[2022-10-31 09:50] Fritskee commented on #19811
This is indeed the error that I made. Thanks for pointing that out!
I do notice that I am getting better inference times with the Huggingface pytorch model, than with the ONNX model. Which is something I've never encountered. ONNX runs in 2.5 sec, PyTorch runs in 1.8 sec. Both on CPU.

[2022-10-31 11:15] ChainYo commented on #16308
Hey @RaghavPrabhakar66, it comes from how you preprocess the `dummy_inputs`.
Before returning it print the shape of the dummy_inputs and check if they look like the expected inputs, you defined in the config.

[2022-10-31 11:38] a-ozbek opened #19978 "LayoutLMv3 Processor - subword does not get assigned -100 with unusual words"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.4.0-1060-aws-x86_64-with-glibc2.10
- Python version: 3.8.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.10.1+cu113 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-10-31 12:44] CaffreyR commented on #19625
We can conclude that the problem is between L531~L548

[2022-10-31 13:05] mht-sharma commented on #19811
Hello @Fritskee I am able to observe speedup on both cpu and gpu with the model. Could you please share your inference / benchmarking code if possible for testing?

[2022-10-31 13:28] CaffreyR commented on #19625
Hi @ArthurZucker , I upload a new commit, it seems the bug is fixed and the work well on the above code :) Could you please give it a try?

[2022-10-31 14:01] lewtun opened #19983 "Cannot export Donut models to ONNX"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distrib

[2022-10-31 14:02] lewtun commented on #19983
cc @mht-sharma would you mind taking a look at this? It might be related to some of the subtleties you noticed with Whisper and passing encoder outputs through the model vs using the getters

[2022-10-31 14:25] CaffreyR commented on #19625
Hi @ArthurZucker , what is the function of `position_bias` ？ It seems in this line

https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/models/t5/modeling_t5.py#L513

We calculate it, and it seems only modify `position_bias` only when the first block. I want to delete `if` or put the `scores += position_bias_masked` into `if`, which means we c

[2022-10-31 14:33] CaffreyR commented on #19625
In the PR https://github.com/huggingface/transformers/pull/19975/ , I delete `if` so that it could match with the shape of score. (It could run the colab notebook), but I do not know whether its meaning is right! Basically, the only problem is to make `position_bias ` have the same shape as `score`

[2022-10-31 14:34] CaffreyR commented on #19625
gently pin @patrickvonplaten @ArthurZucker Many thanks

[2022-10-31 14:58] BakingBrains commented on #19983
```python -m transformers.onnx --model=naver-clova-ix/donut-base-finetuned-cord-v2 --feature=vision2seq-lm scratch/onnx```

with ```--atol 1e-2``` it works, but value of atol is low.

I think it is better to convert the model separately:
- Encoder
- Decoder
- Decoder with past value.

And pipeline it together.

[2022-10-31 15:02] #18942 closed

[2022-10-31 16:23] sgugger commented on #19972
Deberta is not a Seq2Seq model, you can't make a quick fix to enable its use with `run_seq2seq_qa`, as you have experienced it. Deberta has a model qith a QA head, so you will be able to use it with the regular `run_qa` script.

[2022-10-31 16:30] sgugger commented on #18698
Note that we just merge support for `dveice_map="auto"` to work on a CPU-only env. Disk offload when executing on CPU might not work yet, but if your model fits into RAM, you won't have this error anymore (requires an install form source of Accelerate).

[2022-10-31 16:59] sgugger commented on #19240
Might be of interest to @ArthurZucker

[2022-10-31 17:04] sgugger commented on #19965
No this is not supported yet, we'll work on adding support for this later on :-)

[2022-10-31 18:07] nyadla-sys commented on #19691
@gante @hollance

Have added something like below and it is giving segmentation fault.
Could you please help me on this ?
"converter.representative_dataset = representative_dataset" and
def representative_dataset():
    for x in range(1):
      inputs = feature_extractor(
      ds[x]["audio"]["array"], sampling_rate=ds[0]["audio"]["sampling_rate"], return_tensors="tf")
      input_features = input

[2022-10-31 18:57] ArthurZucker commented on #19625
I will have a look 🤗

[2022-10-31 19:18] piEsposito opened #19992 "Add in-layer TF Tokenizer to BPE tokenizers"
### Feature request

As what we have with `TFBertTokenizer`, but with models that use Byte Pair Encoding (e.g. `TFT5Tokenizer`, `TFClipTokenizer`) etc...

They were implemented in `keras-nlp` (https://github.com/keras-team/keras-nlp/pull/389) and we can now bring them here.

### Motivation

With that feature we will be able to serve almost every model with TF Serving, which will make it much easie

[2022-10-31 19:24] piEsposito commented on #19992
It seems like I have to tag @n1t0, @LysandreJik because this is about the tokenizers.

[2022-10-31 19:33] #19958 closed

[2022-10-31 19:40] ilnarkz commented on #19948
I'll try

[2022-10-31 20:51] #19862 closed

[2022-11-01 00:13] piEsposito commented on #19992
An alternative would be adding a `as_keras_layer` (or something) method to `PreTrainedTokenizer` and create the TF BPE Tokenizer from the vocab and merges from the tokenizer. What do you think?

[2022-11-01 02:03] Saad135 commented on #19487
I will take DeBERTa-v2 next

[2022-11-01 02:35] MrRace commented on #5067
@sbrody18 It seems have not been merged to official transformers ? My transformers Version: 4.21.3, and it can not use `jit.script` to convert BERT model to TorchScript.

[2022-11-01 04:13] fuyang1013 commented on #12670
I met the same error just now, thanks for your solution, and I was wondering why attention was not paid to this bug?

[2022-11-01 04:33] sayakpaul commented on #19848
@stevhliu @NielsRogge is there a plan to add the additional vision tasks we currently support to [this page](https://huggingface.co/docs/transformers/task_summary#image-classification)? For example object detection, segmentation, video classification. Then there seems to be an entire section missing on multimodal models.

I understand for these tasks, we don't have `pipeline`s yet. But I believe w

[2022-11-01 06:58] NielsRogge commented on #19848
Yes I've pinged @stevhliu yesterday about this ;) he's working on it

[2022-11-01 07:00] sayakpaul commented on #19848
Amazing! @stevhliu, if possible could tag me in the PR when you open it? Would love to take a look.

[2022-11-01 08:31] ilnarkz commented on #19948
I am a beginner and unfortunately could not find an example with your issue. I know the logging library and probably could help, but I need to reproduce the example

[2022-11-01 09:00] yxuansu commented on #19182
Hi @stas00 -- Many thanks for your interest in our work! Contrastive search now has been merged to `transformers`. [Here](https://github.com/yxuansu/Contrastive_Search_Is_What_You_Need#21-using-huggingface-transformers-back-to-top), we provide a short tutorial on how to apply contrastive search within `transformers`. Please feel free to try it out :-)

[2022-11-01 09:15] sanchit-gandhi commented on #19588
Great! Keep us posted!

[2022-11-01 09:24] sanchit-gandhi commented on #19918
Hey @ishamnewsreels! A couple of things:
- Do we need to set `OMP_NUM_THREADS=1`? Looks like this affects multi-processing, wondering if it's interfering with distributed training
- Whilst distributed training is running, could you open a new command line window and execute the Unix command:
[code]
This will launch the NVIDIA system management interface, and display individual GPU usage. We'd expe

[2022-11-01 10:19] gante commented on #19182
@yxuansu @stas00 actually it works for nearly all models, except for Bloom (which has a different shape for the past key values output) -- working on it :)

[2022-11-01 11:14] sayakpaul opened #19998 "Include better versions of a model when they are available in the model doc pages"
@NielsRogge provided a great suggestion.

We could add a banner on top of Swin's docs (and other models where this is applicable), to indicate we have a better model now, SwinV2. The same could be done for DETR, as Conditional DETR and Deformable DETR greatly improve the convergence and AP metrics.

We can start with the following:

- [ ] Swin
- [ ] DETR

And then expand to the other models. Or el

[2022-11-01 11:26] dsaban opened #19999 "Some weights of BertForPreTraining were not initialized from the model checkpoint"
### System Info

Some weights of BertForPreTraining were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['cls.predictions.decoder.bias']

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ]

[2022-11-01 11:39] sgugger commented on #19999
Please use the [forums](https://discuss.huggingface.co/) to ask questions or fill the template to report a bug. Getting a warning because the checkpoint you selected does not contain all weights for your architecture is not, by itself, a bug.

[2022-11-01 11:58] sgugger commented on #19998
I am very wary about this. If you start telling on the page of a model that have been developed by Org 1 that there is a better model developed by Org 2, they will get mad and we will then have unnecessary conflicts to handle.

For the same reason we stay away from benchmarks between frameworks/hardware, I would stay away from this.

[2022-11-01 12:26] ishamnewsreels commented on #19918
Hi @sanchit-gandhi.

If I do not set `OMP_NUM_THREADS=1`, the code doesn't execute at all.
Also, I have used the unix command that you mentioned and I can observe that all 3 gpus are used.
![image](https://user-images.githubusercontent.com/110966055/199231670-07aea7d3-3488-4b62-9f4e-361683e6f712.png)

[2022-11-01 12:54] sgugger commented on #19959
Cc @ArthurZucker
The OPT tokenizer does not have the same length as the model embeddings, which causes problems with all our language modeling fine-tuning scripts where there is an automatic resize of the model embeddings to the tokenizer length.

[2022-11-01 14:03] aus10powell commented on #17402
I'm having the same issue. It happened with the same code recently after installing Big Sur.

[2022-11-01 14:04] NielsRogge commented on #19998
Yeah it was just a suggestion, I wouldn't have opened an issue for this actually.

I agree that this could become very opinionated (it's very subjective which model is better). We could just do it for papers that come from the same team (Swin => Swinv2), to promote upcoming work. But for models that originate from different teams, this might be hard. That's where "evaluate on the hub" will come in

[2022-11-01 14:07] NielsRogge commented on #19999
Yes, `bert-base-uncased` only includes the weights and bias of the language modeling head, but not the next sentence prediction task, which is what the warning is telling you. In other words, it corresponds to the `BertForMaskedLM` model.

Therefore closing this issue, feel free to reopen.

[2022-11-01 14:07] #19999 closed

[2022-11-01 14:10] moksh-enf commented on #19776
Hey @uahmad235, inputs are being passed via a config file. The data that I am using is from the datasets maintained by hugging face (wikitext-103-v1)

[2022-11-01 14:17] stancld commented on #19965
@sgugger Great to hear! 🔝 Feel free then to close this issue if redundant, thanks! :]

[2022-11-01 14:30] Fritskee commented on #19811
Apologies for the late reply @mht-sharma, I use following code to run inference of the **ONNX model:**
[code]

This code is used to run inference with the **PyTorch/HuggingFace model:**
[code]

I got an avg. inference time of **3.339415764808655 seconds** over 100 runs for the **ONNX model**.
Similarly, I got an avg. inference time of **2.542718324661255** over 100 runs for the **torch/HF model**.

[2022-11-01 14:48] jordiclive commented on #19581
@patrickvonplaten,  I've had a look at this and gone through line by line of BART.

I think it's solely to do with positional embeddings. For T5, MT5 there are relational embeddings, so it doesn't matter.

For certain types of models like the original Transformer which are directly summed to the input embeddings. Any time there is left padding to the input, the positional encodings are not shifted

[2022-11-01 15:07] julien-blanchon commented on #16689
I'm still having this bug with torch 0.13.0+cu116 (`RuntimeError: "histogram_cpu" not implemented for 'Byte'`)

[2022-11-01 19:44] xiaoyangnickhu opened #20008 "How can I access prompt scores/logprobs?"
I have tried `model.generate(**inputs, return_dict_in_generate=True, output_scores=True)` but it only gives the scores for generated tokens. For my application, it would be convenient if there’s a similar parameter to `echo` in the OpenAI GPT-3 API that lets us access prompt scores/logprobs, but I have yet to find it. Any help is appreciated!

[2022-11-01 20:34] CharlesLeeeee commented on #19305
Kaiming initialization should be used for the nn.Conv2d rather than .normal_() initialization in the class ViTPreTrainedModel or any class that directly inherits from PretrainedModel. And the biases of the nn.Conv2d in ViT should be initialized the same way as PyTorch. (https://pytorch.org/docs/stable/_modules/torch/nn/modules/conv.html#Conv2d) @LysandreJik @NielsRogge @amyeroberts @alaradirik

[2022-11-01 22:31] showpicep opened #20011 "sentencepiece\sentencepiece\src\sentencepiece_processor.cc(1102) [model_proto->ParseFromArray(serialized.data(), serialized.size())]"
### System Info

- `transformers` version: 4.24.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.9.2
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distri

[2022-11-02 02:21] chez8990 commented on #19297
A similar

Same exception was caught when using `allenai/longformer-base-4096`

[2022-11-02 02:57] danhphan commented on #16627
Thank you @IMvision12 !

[2022-11-02 04:53] sayakpaul commented on #19998
Closing it for now. Should there be a need, it can easily be reopened.

[2022-11-02 04:53] #19998 closed

[2022-11-02 06:21] mbdzi opened #20015 "Request for Examples on Correct Use the CLIPText Model (transformers.CLIPTextModel)"
From the documentation on the [Hugging Face Hub](https://huggingface.co/docs/transformers/model_doc/clip#transformers.CLIPTextModel), it is not clear:

1. How the CLIPTextModel can be used.
2. If it can be used to conduct Zero Shot Classification of textual inputs using a predefined list of tokens as classes.  To be precise, let us say I have a list dataset called x with two strings such that x =

[2022-11-02 06:49] xienian87 commented on #18461
hello,

I meet exactly the same problem. My bart model always generate the same content no matter what the input is. How you solve your problem?

Thanks

[2022-11-02 07:29] NielsRogge commented on #19971
Sure this would be valuable! Let me know if you need any help

[2022-11-02 07:38] JaheimLee commented on #19320
https://github.com/huggingface/transformers/blob/94b3f544a1f5e04b78d87a2ae32a7ac252e22e31/src/transformers/models/deberta_v2/modeling_deberta_v2.py#L577
And ONNXRuntime dosen't support torch.where op now.

[2022-11-02 08:15] alexvaca0 commented on #19322
Did you have the opportunity to try the script? @ArthurZucker

[2022-11-02 09:26] monk1337 commented on #19957
[code]

[code]

That is my code, while `load_best_model_at_end=True` it's giving error

[2022-11-02 09:39] osanseviero commented on #20015
I'm transferring this to transformers repo as this is more related to the docs there

cc @stevhliu

[2022-11-02 11:48] sgugger commented on #19297
cc @lewtun

[2022-11-02 12:29] NielsRogge commented on #20015
Hi,

The docs is actually correct, CLIPTextModel can be used to encode text into a vector representation (embedding).

[code]

So you have a set of texts (here "a photo of a cat" and "a photo of a dog"] which you first prepare for the model using the tokenizer. Next, you forward them through CLIP's text encoder to get an embedding (here called "pooled output") out, which is of shape (batch_size, h

[2022-11-02 12:34] sgugger commented on #20011
It looks like you are using the tokenizer with a broken sentencepiece vocab. In any case, we would need a reproducer with a file we have access to to be able to investigate.

[2022-11-02 13:21] tarokiritani commented on #19913
If self.config.norm_pix_loss is true, normalization of each patch undoes the effect of unnormalization:
https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/models/videomae/modeling_videomae.py#L852-L854
Anyhow, I suppose the goal of your implementation is to replicate the original model published by the authors. For now, I will just comment ou

[2022-11-02 13:47] CaffreyR opened #20018 "Does `prune_heads` really speed up during inference?"
### System Info

- `transformers` version: 4.22.1
- Platform: Linux-5.13.0-48-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-11-02 13:52] sgugger commented on #20018
Please use the forums for such questions as we keep issues for bugs and feature requests only. I am not aware of any place in the doc where we advertise head-pruning as a mean to speed up inference. I think you will need to look at converting your model to ONNX or quantize it for that.

[2022-11-02 13:53] #19974 closed

[2022-11-02 14:06] LivC93 opened #20019 "ConnectionError when downloading weights"
### System Info

transformers.__version__: 4.24.0
python: 3.7.13
OS: Ubuntu 22.04.1 LTS
conda 4.12.0

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Error:

[2022-11-02 14:11] sgugger commented on #20019
Looks like it's a connection issue on your end. There is no special credentials needed to load the model :-)

[2022-11-02 14:34] LivC93 commented on #20019
@sgugger thanks for the fast answer. if I write like this:

`model = EsmForProteinFolding.from_pretrained("https://dl.fbaipublicfiles.com/fair-esm/models/esmfold_3B_v1.pt")`

It works just fine I get no errors, but I get the following warning

[code]

[2022-11-02 14:38] sgugger commented on #20019
Yes, you should use the repo ID from the Hub.

[2022-11-02 15:01] mazzzystar opened #20020 "When using GPT2，CPU usage is high"
### System Info

transformers: 4.23.1

### Who can help?

Models:
- GPT-2 @patil-suraj, @patrickvonplaten, @LysandreJik

Library
- Pipelines @Narsil

### Reproduction

Questions: When using GPT-2 as:
[code]
The CPU  usage keep being > 90% for a few seconds, the generation is also slow.

However, when I manually change the `transformers` package in:
https://github.com/huggingface/transformers/blob/

[2022-11-02 15:02] #19181 closed

[2022-11-02 15:02] #19180 closed

[2022-11-02 15:02] #18284 closed

[2022-11-02 15:03] hrsht-neur commented on #18082
I am facing the same issue converting a custom implementation of DETR (transformer).

[2022-11-02 15:12] sgugger commented on #20020
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep the issues for bugs and feature requests only.

[2022-11-02 15:55] Narsil commented on #20020
Try

[code]

[2022-11-02 16:36] aapot commented on #19588
Alright, here are some findings so far:
Step 1: `mask_time_indices` and `sampled_negative_indices` were not same with the PT implementation. Fixed that by pretty much just copying functions for those from PT to Flax.
Step 2: PT and Flax gumbel decay was using different step number, fixed that by deducting Flax step number by one for gumbel decaying. After that, gumbel temp seemed to remain same fo

[2022-11-02 16:40] uahmad235 commented on #19776
Hi @moksh-enf . For more context, can you post the code where you are using the `LitMemTransformerLMWT103` class ?

[2022-11-02 16:47] #20020 closed

[2022-11-02 16:48] osanseviero commented on #19998
Sure, why not :) for those scenarios I think it's ok to open small PRs updating the corresponding docstrings

[2022-11-02 17:19] patrickvonplaten commented on #19581
Gently ping @ArthurZucker :-) Let me know if you'd like me to take over the issue if you have too much on your plate

[2022-11-02 17:23] sanchit-gandhi commented on #19887
cc @ArthurZucker who knows more about timestamp generation!

This blog highlights quite nicely how chunking works in Transformers: https://huggingface.co/blog/asr-chunking

[2022-11-02 17:36] nyadla-sys commented on #19908
@BENSAFOUAN-Abdelhalim
Refer this colab for more details on how to convert HF TF model to TFlite model
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/notebooks/tflite_from_huggingface_whisper.ipynb

[2022-11-02 17:40] sinking-point commented on #18461
@xienian87 I retained the model with a smaller learning rate and the problem went away.

[2022-11-02 17:49] jordiclive commented on #19581
Sure. I've found the root cause (positional embeddings aren't shifted along with the left padding) and I don't think it is necessarily an issue. As probably isn't a good idea to left pad models with positional embeddings at the input like BART etc.

@ArthurZucker I'm happy to help out more if you think there is a resolution. Perhaps a PR with a warning?

[2022-11-02 17:57] harsh8398 opened #20024 "`Pathlike` objects are treated as `AutoModel` objects in `pipeline` initialization"
### System Info

- `transformers` version: 4.22.2
- Platform: macOS-13.0-arm64-arm-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or paral

[2022-11-02 18:37] shijie-wu commented on #17521
sorry about the delay! i will resume working on it in the coming week.

[2022-11-02 18:38] PartiallyTyped opened #20025 "T5 should not use teacher-forcing when under evaluation"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-6.0.2-76060002-generic-x86_64-with-glibc2.35
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fi

[2022-11-02 19:08] BalazsFeherUK commented on #19782
Quick question: when I try to load any of the FLAN models:

`model = AutoModelForSeq2SeqLM.from_pretrained("google/flan-t5-small")`

I receive the following error: AttributeError: 'T5LayerFF' object has no attribute 'config'

I have transformers==4.18.0.

[2022-11-02 19:18] sgugger commented on #20025
Please use the [forums](https://discuss.huggingface.co/) for discussions like this one as we keep issues for bugs and feature requests in the library.

[2022-11-02 21:10] rbracco opened #20029 "Transformers scheduler doesn't alter LR of added param group after model unfreeze"
### System Info

python 3.8.10 on ubuntu 20.04
pytorch 1.12.1
transformers 4.20.1

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. Add a transformers scheduler, such a

[2022-11-02 21:29] sgugger commented on #20029
The Trainer by itself does not support several parameter groups, you will need to subclass and overwrite the methods that create schedulers/optimizers.

[2022-11-02 21:34] Narsil commented on #20024
Excellent suggestion!

I opened a PR https://github.com/huggingface/transformers/pull/20030

[2022-11-02 21:38] nyadla-sys commented on #19691
@hollance @gante
I was able to convert from onnx to tflite(int8) model,however am not sure how to run the inference on this model
Could you please review and let me know if there is anything i am nissing in onnx to tflite conversion

https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/notebooks/whisper_to_onnx_tflite_int8.ipynb?authuser=3

[2022-11-02 22:09] rbracco commented on #20029
Thank you!

[2022-11-02 22:09] #20029 closed

[2022-11-03 00:42] alvations commented on #2483
Not sure if anyone is looking for a way to remove layers for `EncoderDecoderModel` esp. for some models with unbalance layers. I've tried this, and it seems to work:

[code]

[out]:

[code]

[2022-11-03 02:59] mbdzi commented on #20015
So just to check something in my pooled_output, is it possible for me to now check the cosine similarity between the label with index 0 and the label with index 1 using the following approach:

[code]

[2022-11-03 04:04] kvarekamp opened #20031 "BigBird attention type switching"
### System Info

transformers 4.21.2 BigBirdModel

### Who can help?

@ydshieh

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Currently BigBird switches attention type from default 'block_sparse' t

[2022-11-03 04:25] ArthurZucker commented on #19581
Hey! Really sorry for the late reply! Awesome work and debugging! 🤗
I totally get the gist of it 😅

Feel free to open a PR to either :
- Add a Warning when padding is left that outputs might be incorrect (similar to BERT?)
- Actually shift the positional embeddings when the padding is left. This might be a bit tricky

Even if it is not really recommended, if people actually use left padding (eithe

[2022-11-03 04:29] ArthurZucker commented on #19782
Hey @BalazsFeherUK feel free to open a new issue with the full trace of the error and ping me 🤗

[2022-11-03 04:41] ArthurZucker commented on #17504
Hey! I looked at the problem a bit, and as you mentioned, the permutations would be a bit too problematic.

We can probably work this out by rather banning a normalized string. Instead of checking if [Bad_id,Word_id] are generated, we can should convert the a string by deciding, normalize and remove the bad word. This is more efficient but might not have its place in the generate function, as the

[2022-11-03 04:47] ArthurZucker commented on #19959
I see. We should probably have all tokenizers and models have the same embed dim? Seems like people often ask the question and it's a bit confusing + could be good for zero shot learning if we have extract fake tokens.
WDYT?

[2022-11-03 04:58] YooSungHyun commented on #19044
i filtered 25ms and feed len(labels) > 0, but eval loss reached NaN on 3~4 epoch...😥
big stress....

[2022-11-03 06:42] davidgilbertson opened #20032 "Type annotation for `pipeline()`s"
### Feature request

Currently, the return type of many functions are not defined.
[code]

It would be nice if the return type was set, the equivalent of me doing it manually with:
[code]

### Motivation

The main benefits are probably pretty well understood...
* preventing typos in inputs that take strings (tasks, checkpoints, etc)
* autocomplete for methods/parameters in IDEs
* documentation too

[2022-11-03 08:12] ddaspit commented on #19943
After further research, I believe that it is intended that `PretrainedConfig.decoder_start_token_id` should be used to insert the lang code at the beginning of the sentence during fine tuning of NLLB and that the `NllbTokenizer` class is working as intended. If that is true, then the documentation for `NllbTokenizer` should be corrected, and the `run_translation.py` script should be fixed to prope

[2022-11-03 08:14] #20024 closed

[2022-11-03 08:51] pcernutad commented on #19177
This issue seems to persist in datasets 2.6.1

After loading my dataset from the Hub (which was created locally using split-folders and then uploaded to the hub), the dataset looks ok:

[code]

, but then I get `ValueError: Task image-classification is not compatible with this dataset! Available tasks: []` when running `run_image_classification.py`

[2022-11-03 09:26] shutttttdown opened #20035 "Answer Mismatch: run squad_convert_examples_to_features with xlm-roberta"
### System Info

- `transformers` version: 4.5.1
- Platform: Linux-4.15.0-142-generic-x86_64-with-debian-stretch-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)

### Who can help?

@sgugger
@mfuntowicz
@aaugustin

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially

[2022-11-03 09:40] WeiShi-9 commented on #19311
I have the same question! Can anyone tell me how to design my custom data file format? Thank u!!

[2022-11-03 10:14] jamie0725 commented on #17357
Hi @patrickvonplaten, related to this question, why is it that the TF version of MarianMTModel much slower than the PT version? Maybe it has something to do with the length of generating output?

[2022-11-03 10:19] jamie0725 commented on #18149
@ydshieh Hi, I am experiencing the same issue. Expected the TF version would be faster than the PT version.

[2022-11-03 10:41] rajcscw commented on #19581
@jordiclive @ArthurZucker Thanks for looking into this. Is left padding not recommended only due to position embeddings? In general, for batch next tokens prediction, it is easier for users to get the logits from the last token for the entire batch with left padding.  (I remember GPT-2 had a similar issue and the left padding support was added at some point which made batch generation easier)

Als

[2022-11-03 10:45] BenoitLeguay commented on #19780
Hello everyone,
any news on this topic ?
I don't want to be too pushy, but could I have a quick follow up ?

Thanks 🤗

[2022-11-03 10:46] NielsRogge commented on #19780
cc @lewtun would be great if you could take a look at this

[2022-11-03 10:54] ArthurZucker commented on #19825
Hey, as mentioned you are probably using an old version of transformers. I am not able to reproduce this bug. You should use `transformers>=3.1` as `Pegasus` was first introduced in the [release 3.1](https://github.com/huggingface/transformers/releases?q=PegasusForConditionalGeneration&expanded=true)

[2022-11-03 10:54] #19825 closed

[2022-11-03 11:29] BalazsFeherUK opened #20038 "Amazon Sagemaker deployment issue for FLAN-T5 model family"
### System Info

transformers_version='4.17.0',
pytorch_version='1.10.2',
py_version='py38',

### Who can help?

@ArthurZucker

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Using the deployment sc

[2022-11-03 12:03] reyoung commented on #18947
You can set `eval_accumulation_steps=100`(or even a smaller number) in TraningArgs to avoid GPU memory exceeding.

However, I also think it is a bad design that the default `eval_accumulation_steps`  is infinity actually, also.

[2022-11-03 12:59] ArthurZucker commented on #19225
Closing this as it makes more sens to keep the current behavior

[2022-11-03 12:59] #19225 closed

[2022-11-03 13:09] sgugger commented on #20035
Thanks for the report. However, as you have probably seen when executing it, `squad_convert_examples_to_features` is deprecated, so it's not maintained anymore.

[2022-11-03 13:19] Saad135 commented on #19487
I can take camembert next

[2022-11-03 13:24] sgugger commented on #20038
cc @philschmid

[2022-11-03 13:29] #20015 closed

[2022-11-03 13:29] sgugger commented on #20032
Thanks for opening the issue. As of now, we have decided not to add any type annotations that render the code less readable. So whenever they can be added with no cost in readability, we welcome PRs, but for something more complex like you are suggesting, we would probably be less interested.

[2022-11-03 13:30] sgugger commented on #19311
Please use the [forums](https://discuss.huggingface.co/) to discuss questions like this as we keep the issues for bugs and feature requests only.

[2022-11-03 13:31] WeiShi-9 commented on #19311
你好，我已经收到您的邮件~

[2022-11-03 13:35] philschmid commented on #20038
Hello @BalazsFeherUK,

It seems that `T5-FLAN`/ `T5LayerFF` is not yet supported in `transformers==4.17.0`. You would need to update the transformers version to be able to use the model. You can check the forum on how you would do this: https://discuss.huggingface.co/t/deploying-open-ais-whisper-on-sagemaker/24761/9

[2022-11-03 13:35] #20038 closed

[2022-11-03 14:22] #19864 closed

[2022-11-03 14:33] stromal opened #20041 "woctezuma / stable-diffusion-colab"
### System Info

Google Colab, Free version, GPU

### Who can help?

@NielsRogge, @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

1. https://github.com/woctezuma/stable-diffusion-colab
2. h

[2022-11-03 14:55] gante commented on #19691
Hey @nyadla-sys -- model quantization with TFLite is beyond what we support at the moment here in `transformers`, I am afraid I won't dig into your issue at the moment.

You can, however, try asking that question in our [forum](https://discuss.huggingface.co/) 🤗, you might find support from other users there.

[2022-11-03 15:03] #19184 closed

[2022-11-03 15:46] moksh-enf commented on #19776
Hey @uahmad235, I am passing a params file which checks if the module name and chooses the appropriate model

![image](https://user-images.githubusercontent.com/105234138/199767348-e6942409-e8c8-49d7-9d85-36931a113a86.png)

These are all the arguments that go into the params file

![image](https://user-images.githubusercontent.com/105234138/199768073-b0038980-4856-4a41-bf80-03dfbf254292.png)

[2022-11-03 16:06] sgugger commented on #19959
Should be now fixed by the above PR!

[2022-11-03 16:06] #19959 closed

[2022-11-03 16:34] imatiach-msft opened #20046 "Multilable, multiclass models with >2 classes per label using BCELoss instead of CategoricalCrossentropy"
### System Info

latest transformers

### Who can help?

@sgugger

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The PR here by @sgugger adds multilabel classification support with the BCEWithLogit

[2022-11-03 16:46] imatiach-msft commented on #20046
Also, just thinking about correctness, the model could possibly give both Dog and Cat as an answer when using BCEWithLogitsLoss since it treats them as independent labels during fine-tuning after one hot encoding.  This seems wrong to me.  Perhaps I am missing something here?  We should just use multiple CategoricalCrossentropy losses per label here both for correctness and to make it easier for t

[2022-11-03 16:50] sgugger commented on #20046
You are mistaking what we call a "multi-label" problem. A multi-label problem means one input can have zero, one or multiple labels. For instance the model could give both Dog and Cat as an answer because there might be both in the input.

For a model that predicts several categories of outputs, you will probably need to write your own head.

[2022-11-03 16:51] km5ar opened #20047 "pipeline("summarization") is extractive vs abstractive?"
### System Info

pipeline("summarization") is extractive vs abstractive?

# use bart in pytorch
summarizer = pipeline("summarization")
summarizer("An apple a day, keeps the doctor away", min_length=5, max_length=20)

# use t5 in tf
summarizer = pipeline("summarization", model="t5-base", tokenizer="t5-base", framework="tf")
summarizer("An apple a day, keeps the doctor away", min_length=5, max_lengt

[2022-11-03 17:21] imatiach-msft commented on #20046
I guess I'm perhaps getting confused by the graph from scikit-learn here:

https://scikit-learn.org/stable/modules/multiclass.html?highlight=multilabel

multilabel classification is under sklearn.multioutput.  Perhaps I've heard the terms multilabel and multioutput used interchangeably too many times and I'm getting confused by that.  Also perhaps in tabular vs text contexts those terms may be use

[2022-11-03 17:21] #20046 closed

[2022-11-03 17:24] imatiach-msft commented on #20046
I guess this issue is more of a feature request than a bug report to support "multioutput" instead of the current "multilabel" text classification scenario.  But this feature might be so niche and specific that it's not really worth it to implement in huggingface as another text classification parameter, so I'll just close it here.

[2022-11-03 18:02] sgugger commented on #20047
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only.

[2022-11-03 20:17] davidgilbertson commented on #20032
That seems reasonable :)

For completeness, I'll note that the `@overload`s can go in a separate `.pyi` file, leaving the main application logic clean. But the complexity would still be there, and you'd have `.pyi` files everywhere, so this is not a great solution.

[2022-11-03 20:17] #20032 closed

[2022-11-03 21:06] postylem commented on #1009
I think there's a mistake in the approach taken here.

It seems like the OP concluded that you can score the whole sentence including the first word, by appending a `bos_token` (`<|endoftext|>`) at the beginning of the string.

From what I understand, though, this is probably not a good idea, since it is __unlike training__, as mentioned by @thomwolf in another thread (https://github.com/huggingfa

[2022-11-03 22:01] XZhang97666 opened #20053 "Is there a no_trainer version for image pertaining"
### Feature request

I wonder if there is a run_no_trainer code for image pertaining? @NielsRogge

### Motivation

I usually use no trainer in my code because the trainer cannot should much detail.

### Your contribution

NA

[2022-11-03 22:02] XZhang97666 commented on #20053
@NielsRogge

[2022-11-03 23:45] stevhliu opened #20055 "Model resources contribution"
Hi friends! 👋

There are a lot of cool existing resources for how to do *x* with *x* model, and we’d like to showcase and aggregate these resources on a model’s documentation. This’ll help users see how they can get started with a model for their own tasks since we know a lot of users check out the model documentation first. Take a look at a completed [resource section](https://huggingface.co/docs

[2022-11-03 23:45] PtrMan opened #20056 "Unable to load CodeGenTokenizer"
### System Info

I did `pip install git+https://github.com/huggingface/transformers.git`

try to load the class with `from transformers import CodeGenTokenizer`

results in

[code]

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [

[2022-11-03 23:48] Winterflower commented on #16135
Hello all, I'm very much a beginner in this space, so please excuse the potentially stupid question. I have been experimenting with rolling out my own encoder-decoder combinations for use with the VisionEncoderDecoder class as specified in the docs [here](https://huggingface.co/docs/transformers/model_doc/vision-encoder-decoder)

but I keep running into the issue of getting this error message

Set

[2022-11-04 03:46] JeffreyWardman opened #20057 "Timestamps in Whisper processor"
### Feature request

output_word_offsets argument in Whisper's processor.decode() function.

I want to get the timestamp of the start and end of each word.

### Motivation

I cannot use Whisper until it accommodates for word timestamps and long audio.

### Your contribution

With guidance, happy to submit it but will need guidance. Can do this in a month's time.

[2022-11-04 04:57] BirgerMoell opened #20058 "Push to Hub fails with `model_name`"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.15.0-48-generic-x86_64-with-glibc2.31
- Python version: 3.9.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script

[2022-11-04 05:15] zhouliang-yu commented on #5436
@FrancescoTroiano
Hi, have you fixed the issue?
I have a same problem here
I add
[code]
but got ValueError: 50257 is not in list

[2022-11-04 06:21] Saad135 commented on #19303
Hi @sgugger, while browsing through the different models, I realized that CamembertConfig is dependent on RobertaConfig. But, it seems the config is exactly the same as RobertaConfig. So essentially CamembertConfig is actually dependent on BertConfig, since RobertaConfig is dependent on BertConfig.

However, I could not find CamembertConfig on the list above, so I am unsure if there is a need for

[2022-11-04 07:13] aapot commented on #19588
Continuing with the updates:
Step 4. contrastive loss calculation is same with Flax and PT
Step 5. diversity loss calculation looks to be same but I'll verify that later

[2022-11-04 07:16] NielsRogge commented on #20053
Not yet, but it would be straightforward to add.

Marking this as a good first issue.

[2022-11-04 07:34] mht-sharma commented on #19811
Hi @Fritskee , for ORT inference you'll have to roll your own generation loop with ONNX Runtime to run the inference. The above code runs decoder with SL 384 with one forward pass which will give you incorrect results.

You can wrap your ORTEncode and ORTDecoder in a ORTModelForVision2Seq

[code]

The class would be soon implemented in the `optimum` soon for easier inference. Stay tuned!

[2022-11-04 08:22] #19970 closed

[2022-11-04 09:35] Fritskee commented on #19811
@mht-sharma Thanks for the example! I tried implementing it. For the further implementation I looked at the [optimum/pipelines.py](https://github.com/huggingface/optimum/blob/816268d7c3aba0de98f2d74db06344e76f071535/optimum/pipelines.py) and at [optimum/onnxruntime/modeling_seq2seq.py](https://github.com/huggingface/optimum/blob/816268d7c3aba0de98f2d74db06344e76f071535/optimum/onnxruntime/modeling

[2022-11-04 10:54] peregilk commented on #19588
Really great work, @aapot. I do however understand that there are still some issues here (since the contrastive loss starts to increase after a while), and that the issue most likely is related to the Flax gumbel implementation. Any chance that anyone at 🤗 can take a look at that? What do you think @sanchit-gandhi @patrickvonplaten ?

When this is done Ill be glad to contribute with larger trainin

[2022-11-04 11:50] gante commented on #20008
Hey @xiaoyangnickhu 👋 We do have a tool for that, but which is not yet documented:
👉 [compute_transition_beam_scores](https://github.com/huggingface/transformers/blob/e0b825a8d03f50ed9dbf9fbbbb3b4fcf0b4e4b22/src/transformers/generation_utils.py#L876)

Their arguments should be self explanatory, but let me know if you'd like further guidance :)

[2022-11-04 12:40] #20011 closed

[2022-11-04 12:57] Rocketknight1 commented on #19992
This is great! We'd been blocked by the lack of a BPE tokenizer in TF-text or Keras-NLP, as it's an extremely common tokenizer class for us. We're definitely going to explore this as soon as we can find some time.

[2022-11-04 13:14] sanchit-gandhi commented on #20058
Thanks for flagging this @BirgerMoell - should be fixed in the linked PR!

[2022-11-04 13:21] piEsposito commented on #19992
@Rocketknight1 I can contribute and submit a PR, I would just like some guidance of your on where to implement such Tokenizer (and whether should we import it from Keras-NLP or copy-paste + adapt it).

As they haven't released the code in a while, maybe creating a `tf_tokenization_utils` file and keeping the implementation on `transformers` could do the job. What do you think?

[2022-11-04 13:34] sgugger commented on #20056
You should double-check that the version of Transformers seen when executing your code is indeed a source install (you can print `transformers.__version__` after importing transformers), as it looks like an issue within your env.

[2022-11-04 13:40] sgugger commented on #20057
cc @sanchit-gandhi or @ArthurZucker

[2022-11-04 13:40] #20058 closed

[2022-11-04 13:41] Rocketknight1 commented on #19992
Hi @piEsposito - good questions all round. Right now we only have one TF tokenizer in the library, the BERT tokenizer in `tf_tokenization_bert.py`. I think a good plan would be to add a single BPE tokenizer for a couple of popular models that use BPE (e.g. RoBERTa, GPT or DeBERTa). After that, we should be able to see how much code is shared and how much is model-specific and then refactor out a s

[2022-11-04 13:47] sanchit-gandhi commented on #20057
Related to #19887, in which timestamps for Whisper were discussed. Is this on your timeline @ArthurZucker as part of the Whisper integration? Otherwise I'll add it to my TODO's!

[2022-11-04 13:51] sanchit-gandhi commented on #19044
Ooof ok, tricky issue! How does the training loss look? Is the training loss / gradients exploding? That fact that you get a real-valued eval loss and WER for the first 2 epochs means your filtering is most likely correct (otherwise you'd get Nan on the first eval step).

If you're able to provide a small reproducible codesnippet that would help massively.

[2022-11-04 13:52] sanchit-gandhi commented on #19044
Side note, if you're interested in good ASR performance and are not too bothered whether it's from Wav2Vec2 or a different model, you could try fine-tuning Whisper (see https://huggingface.co/blog/fine-tune-whisper)

[2022-11-04 14:04] piEsposito commented on #19992
@Rocketknight1 I will try doing it for T5 or GPT.

About having `keras-nlp` as a dependency: I've opened an issue there https://github.com/keras-team/keras-nlp/issues/442 asking for them to release to Pypi a version with BPE Tokenizer, and in the meantime will try to implement it in a way that works with T5, then copy paste only if this is needed.

How does that sound?

I should have something in

[2022-11-04 14:14] jordiclive commented on #19581
@rajcscw. Yes, it is just because of the old-style positional embeddings.
For gpt-2 and BERT, there is an optional kwarg for position_ids. This would be the only way to do it, the user would have to provide the position_ids as it could be variable for each input in the batch and then the positional embeddings can be shifted.

I am not sure about your exact use case for seq2seq models.

Above you h

[2022-11-04 15:02] #19197 closed

[2022-11-04 15:07] #19329 closed

[2022-11-04 15:11] sanchit-gandhi commented on #19888
I think it makes sense to offer an provide an (optional) argument to the feature-extractor indicating whether the audio inputs should be normalised in the audio space:
* `do_normalise` (Optional, defaults to `False`): whether or not to normalise the audio inputs prior to computing the log-Mel features

This would look something along the lines of:
[code]
-> we can add this quite easily for more co

[2022-11-04 16:20] ArthurZucker commented on #20057
Hey, really sorry for being so late. Will focus on that next week! I'll ping you once a draft PR is ready! 🤗

[2022-11-04 16:33] sanchit-gandhi commented on #19588
You could hack into the code and load pre-trained weights! I'd recommend the checkpoint at https://huggingface.co/hf-internal-testing/tiny-random-wav2vec2
PyTorch:
[code]
JAX:
[code]

=> this will initialise the models with the same weights!

From the PyTorch code, it seems as though we should break `y_soft` from the computation graph in the `codevector_probs` calculation. Maybe worth quickly doub

[2022-11-04 16:34] sanchit-gandhi commented on #19588
Oh one more question! You're running both on CPU right? JAX will definitely diverge from PT on GPU/TPU due to differences in the matmul precision (_c.f._ https://github.com/google/jax/issues/10413#issue-1212211265)

[2022-11-04 16:54] aapot commented on #19588
Thanks for the tips @sanchit-gandhi!

Actually I also had in mind to use pre-trained weights to compare model outputs that way, will try it soon.

Will also check fairseq implementation if that could reveal more stuff to fix.

Yup, I am running both Jax and PT on my local laptop with CPU when debugging.

[2022-11-04 16:59] sanchit-gandhi commented on #19588
Okay great! Tiny pre-trained models on CPU is the way to go here!

[2022-11-04 17:12] patrickvonplaten commented on #17357
TF is generally much slower in eager mode than PyTorch - you could try to compile the generate method in Tensorflow which should speed things up :-)

cc @JoaoLages

[2022-11-04 17:22] BirgerMoell commented on #20058
Thank you so much for resolving this issue. I managed to push the model to the hub through the script but I still get the original error.

Can't load tokenizer using from_pretrained, please update its configuration: Can't load tokenizer for 'birgermoell/whisper-small-sv-test2'. If you were trying to load it from 'https://huggingface.co/models', make sure you don't have a local directory with the s

[2022-11-04 17:28] sanchit-gandhi commented on #20058
Okay - great push to Hub works. I wonder why the tokenizer is not saving 🤔 I'll try running your codesnippet!

Here's an example with all the files: https://huggingface.co/sanchit-gandhi/whisper-small-hi/tree/main

[2022-11-04 17:31] BirgerMoell commented on #20058
This is the code I ran. Identical except that I now use the model name

`from datasets import load_dataset, DatasetDict

common_voice = DatasetDict()

#common_voice["train"] = load_dataset("mozilla-foundation/common_voice_11_0", "sv-SE", split="train+validation", use_auth_token=True)
#common_voice["test"] = load_dataset("mozilla-foundation/common_voice_11_0", "sv-SE", split="test", use_auth_token=

[2022-11-04 17:37] patrickvonplaten commented on #16135
Hey @Winterflower,

Could you please try to use the forum instead for such questions: https://discuss.huggingface.co/ ? :-) Thank you!

[2022-11-04 17:49] AyanDebnath1997 commented on #19604
@NielsRogge . I would like to get the inference script after onnx conversion of VisionEncoderDecoder model. Any suggestion please?

[2022-11-04 17:54] pstjohn opened #20070 "IndexError running ESMFold"
### System Info

CentOS 7, transformers-4.25.0.dev0, Python 3.10.6

### Who can help?

@Rocketknight1

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Running the following example script (added in #

[2022-11-04 18:15] stevhliu commented on #20055
Awesome! I'm looking forward to your contribution, and feel free to ping me if you have any questions! 🤗

[2022-11-04 18:20] sanchit-gandhi commented on #20058
Great thanks, running on an instance now to try and repro!

[2022-11-04 18:29] sanchit-gandhi commented on #20058
The issue is that `save_steps` < `max_steps`, so Trainer never gets to the number of steps required to save the checkpoint 😉 If you try with:
[code]
it'll work! See https://huggingface.co/sanchit-gandhi/whisper-small-sv-test2/tree/main

[2022-11-04 19:10] gante commented on #17357
@jamie0725 correct, TF (eager execution) is much slower than PyTorch. However, with XLA, it should be much faster. Have a look at [this blog post](https://huggingface.co/blog/tf-xla-generate)!

[2022-11-04 19:17] atturaioe commented on #20053
Hi @NielsRogge, I would like to try to add it.

[2022-11-04 20:30] donhuvy opened #20071 "Transformer is not compatible with Python 3.11.0"
### System Info

[code]

### Who can help?

@donhuvy

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Use project https://github.com/donhuvy/vy_thesis

Set up project. Transformer is not compatible w

[2022-11-04 20:48] bZehner-git opened #20072 "save_pretrained not working correctly when using device_map="auto" for big models in from_pretrained"
### System Info

- `transformers` version: 4.21.3
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.10.5
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <True>
- Using distributed or para

[2022-11-04 21:26] LysandreJik commented on #20071
Hey @donhuvy, I don't see anything specific to `transformers`, only to `torch`. How is this related to transformers?

[2022-11-05 00:12] CatchDr commented on #19916
8 card speed is no different from 1 card

[2022-11-05 01:17] PtrMan commented on #20056
Thx!

[2022-11-05 01:17] #20056 closed

[2022-11-05 02:33] donhuvy commented on #20071
It is https://github.com/donhuvy/vy_thesis/blob/main/source/train.py#L22

[2022-11-05 05:42] xiaoyangnickhu commented on #20008
Thanks for responding! Some followup questions:
1. Since this function only has access to `scores` for generated tokens, I am having a hard time understanding why the returned `transition_scores` might contain scores for prompt/input tokens. Could you please maybe clarify where this function deals with prompt tokens?
2. Do I need to switch to beam search to use this function? (I have been using gr

[2022-11-05 05:55] c-liangyu commented on #20011
Ran into the same issue. How did you solve it?

[2022-11-05 06:15] mbdzi opened #20078 "Converting CLIPText Model (transformers.CLIPTextModel) Embeddings Back to Text"
### Feature request

Is there a method for converting CLIPText Model (transformers.CLIPTextModel) model embeddings back to text? I looked in the documentation, but could not find anything that addresses this specific query.

I am also interested in finding out the following:
- Are there tools in the Hugging Face ecosystem for calculating the weighted average of embeddings?
- Is there a way to quer

[2022-11-05 08:03] li-plus opened #20079 "Exception on saving results in official glue example scripts"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-4.14.81.bm.22-amd64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scri

[2022-11-05 08:47] ecolss commented on #3141
What did you mean by dropping the past? Any example?

[2022-11-05 11:07] gante commented on #20008
@xiaoyangnickhu
1. It does not include the score for the input prompt. The concept of "score" is derived from the assumption in autoregressive language generation where the probability distribution of a word sequence can be decomposed into the product of conditional next-word distributions. The probability of the input tokens is `1` for the input, so we don't include it there.
2. For greedy decodi

[2022-11-05 13:13] Saad135 commented on #19487
I can take DPR next

[2022-11-05 15:02] #19222 closed

[2022-11-05 15:06] Hannibal046 opened #20081 "Discrepancy between PegasusTokenizer and PegasusTokenizerFast"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.8.0-51-generic-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-11-05 16:28] xiaoyangnickhu commented on #20008
Thanks! Appreciate the details. Some followups regarding 3:

I see that for each input token `xi`, you feed the sequence `[x1,x2,...,xi]` to `model` to obtain the logits. What is the reasoning behind this? We have been doing `model([x1,x2,...,xn]).logits` (i.e., give `model` the full sequence and apply `log_softmax` to each token); is this the wrong approach? (My goal here is to obtain the vector

[2022-11-05 16:29] xiaoyangnickhu commented on #20008
Closed the issue by mistake. Sorry...

[2022-11-05 20:15] JohnnyRacer opened #20082 "Models trained using Deepspeed ZeRO stage 3 have corrupted model weight shape"
### System Info

transformers version: 4.21.1 | 4.24.0
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Ye

[2022-11-05 20:17] JohnnyRacer commented on #20082
Full error message with all the incorrect layers below:
[code]

[2022-11-05 21:13] BramVanroy commented on #18979
Not stale. Still waiting for update from @SaulLu or @patil-suraj.

[2022-11-06 02:21] Hannibal046 commented on #20081
I think this may be the problem of `PegasusTokenizer.decode()`. It indeed add `<\s>` to the end of the sentence, but decoder fails to keep it even when `skip_special_tokens=False`
<img width="819" alt="draft ipynb — selfmem  SSH: wict3090  2022-11-06 10-19-50" src="https://user-images.githubusercontent.com/38466901/200150974-1bde2180-8c6a-4ea0-94f8-6e36a20fceca.png">

[2022-11-06 06:44] bfss opened #20083 "Where is the Translation template ?"
I want to translate the doc in leisure time, and I followed the guide, but not found Translation template...

[2022-11-06 09:02] shogohida commented on #20055
@stevhliu
I have a question. Is there a good way to search GitHub and blog posts? I tried to find related repos and blog posts with `OpenAI GPT` but I couldn't find them because search function doesn't seem to work well... Should I search one by one repo or post?

I made a draft pull request although it doesn't have links of GitHub and blog. You can check it to see if my research has been good or

[2022-11-06 09:53] mm1352363 opened #20085 "ZeroDivisionError: integer division or modulo by zero"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-4.15.0-42-shopee-generic-x86_64-with-glibc2.23
- Python version: 3.9.7
- Huggingface_hub version: 0.2.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes

[2022-11-06 12:10] caleb-vicente commented on #17309
Hello @NielsRogge. I have been following all the steps depicted in the guide https://huggingface.co/docs/transformers/add_new_model. I have already done all previous step to create a PR. At this moment I have a fork on my github of the whole transformer-HuggingFace project and I have created my "draft" copying VIT by using the command "transformers-cli add-new-model-like". After that, I created a

[2022-11-06 15:03] #19241 closed

[2022-11-06 17:44] xiaoyangnickhu commented on #20008
@gante Would you be able to take a look at my questions above? Thanks!

[2022-11-06 18:27] dyxohjl666 commented on #15610
I met the same issue. Have you solved it? 😭

[2022-11-06 19:50] tomaarsen commented on #20083
There's some relevant issues on this where people encountered the same issue:
* #17404
* #17028

For context, @bfss is stating that the [TRANSLATING.md](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md) documentation says:

However, no such issue template exists.

---

That said, there are also some larger issues tracking the progress of the translation of a certain langua

[2022-11-06 20:31] showpicep commented on #20011
The whole problem was the dictionary. I just took a different one.

[2022-11-06 21:25] blakechi commented on #16308
Hi @ChainYo, I would like to take `LED`  and `CvT` if there aren't folks working on them. 😃

[2022-11-06 23:14] allo- commented on #530
I get an error when I try to generate with, for example, `--length 10000`.

[code]

`1000` seems to be a safe length, but even `1023` can result in errors.

Full command line:

    python transformers/examples/pytorch/text-generation/run_generation.py --model_type gpt2  --length 10000 --num_return_sequences 10 --model_name_or_path tuned_model/checkpoint-100000

[2022-11-07 02:19] mm1352363 commented on #20085
[code]

[2022-11-07 04:56] maxkrieger opened #20089 "Regression: TorchIterableDataset doesn't have __len__"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no (

[2022-11-07 08:04] sanprit commented on #8721
@LysandreJik @sgugger can we load data in RAM in batches i.e lazy loading of data in RAM from disks and delete it after training on specific data?

[2022-11-07 08:36] ekazakos opened #20091 "OWL-ViT training / fine-tuning code"
### Feature request

Hi,

I've noticed that recently Google Research added the training and fine-tuning code for OWL-ViT in Scenic. Are you planning to integrate it in HuggingFace Transformers? Thank you!

[2022-11-07 09:55] #20085 closed

[2022-11-07 10:20] gante commented on #20008
@xiaoyangnickhu oops, you are absolutely right, you can obtain the conditional logits that way! (I've been so used to work on generate, one token at a time, that forgot that the `.logits` output holds the desired output for all steps).

I've edited my answer above in case someone stumbled across this thread :)

[2022-11-07 10:29] ArthurZucker commented on #19888
Adding it to my whisper to do list

[2022-11-07 10:33] uahmad235 commented on #19776
Hi @moksh-enf. Could you also attach the config file you are passing? Sorry for the late response.

[2022-11-07 10:42] bfss commented on #20083
Thank you for your reply~ @tomaarsen

[2022-11-07 10:42] #20083 closed

[2022-11-07 11:09] bfss opened #20095 "Transformers documentation translation to Chinese (Simplified)"
Hi!

Let's bring the documentation to all the Chinese-speaking community :)

Who would want to translate? Please follow our [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know here if you'd like to translate any and we'll add your name to the list.

Some notes:
- Add your translations to the

[2022-11-07 13:59] sgugger commented on #20089
Thanks for opening the issue. What exactly is the regression here? On which version of Transformers did it work and when did it stop working?

As the error clearly states (copying the full error message would be helpful by the way), you need to use `max_steps` in your training arguments instead of `num_train_epochs` since your dataset doesn't have a length.

[2022-11-07 14:00] sgugger commented on #20079
Yes, the whole `eval_metric` dict should probably be dumped without accessing keys. Do you want to open a PR with this change?
cc @muellerzr who wrote this.

[2022-11-07 14:00] NielsRogge opened #20101 "Replace scatter operations in TAPAS by native PyTorch"
### Feature request

TAPAS (my first 🤗 contribution 😄 ) still relies on the [torch_scatter](https://github.com/rusty1s/pytorch_scatter) library, as the model uses some scatter operations on tensors. Back then PyTorch didn't have these operations available.

Now they have: https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_.

So we should replace [this line](h

[2022-11-07 14:09] sgugger commented on #19399
Should be supported now on the main branch of Accelerate!

[2022-11-07 14:13] alex96k opened #20102 "Can't load FSMT model after resizing token embedding"
### System Info

**Environment info:**
- transformers: 4.19.2
- Platform: Linux elementary OS 6.1 Jólnir
- Python version: 3.8.10
- PyTorch version: 1.12.1+cu113
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

@stas00

### Who can help?

@stas00

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially suppo

[2022-11-07 14:38] sgugger commented on #20072
Thanks for the report! Using `device_map="auto"` is only for inference, and it indeed does not work with `save_pretrained` yet, especially with offloaded weights.

We will look at adding support for this in the future!

[2022-11-07 14:40] sgugger commented on #20078
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only.

[2022-11-07 14:48] sgugger commented on #18979
They are both not working on Transformers so you will have to wait a very long time ;-)

The doc example with `text_target` should work on the latest version of Transformers, we have migrated the API. As for what should happen, I think we should just adapt the documentation to what the tokenizer is actually doing, since we won't really change that behavior to avoid a breaking change.

Would you li

[2022-11-07 14:54] sgugger commented on #20081
I think this was recently fixed by #15775. At least on `google/pegasus-xsum` and the main branch of Transformers, I don't see any differences in the outputs.
Not sure if this is the model you were using since yours is local. Could you give us a repo ID on the Hub if the issue persists on your side?

[2022-11-07 15:07] sgugger commented on #20091
cc @alaradirik

[2022-11-07 15:07] seirasto opened #20105 "default value for default_label_names incorrectly causes has_label in trainer.py to be true"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-4.18.0-372.26.1.el8_6.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.11.0+cu113 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can h

[2022-11-07 15:19] sgugger commented on #20105
Thanks for opening this issue. Could you please explain which code sample stopped working for you with this change?

[2022-11-07 15:23] BirgerMoell commented on #20058
The trained model you are linking to https://huggingface.co/sanchit-gandhi/whisper-small-sv-test2/tree/main has the same issue I'm still facing.

My guess is that not all the model files are uploaded correctly and when I try running it through the pipeline I get an error.

If you compare to the one you trained earlier, they both now get the same error.

This is when I tried out the models you trai

[2022-11-07 15:32] seirasto commented on #20105
This is using `do_eval` in our own code `run_mrc.py` in our PrimeQA code base: https://github.com/primeqa/primeqa/tree/main/primeqa/mrc However, I believe this issue will happen in any instance where labels are not provided through `self.arg.label_names` and `label` is not found in `self.model.__class__`

[2022-11-07 15:46] Hannibal046 commented on #20081
Sorry, I didn't notice this PR has not been merged yet.
This https://github.com/huggingface/transformers/pull/15775 indeed solves this problem. Thanks !
![draft ipynb — selfmem  SSH: 45a3159k71 zicp vip  2022-11-07 23-45-40](https://user-images.githubusercontent.com/38466901/200352923-40e6ef4e-d60e-4441-98ca-ecd9aad2c061.png)

[2022-11-07 15:46] #20081 closed

[2022-11-07 15:50] sgugger commented on #20105
This is too vague for us to act upon. Do you have a reproducer of the problem?

[2022-11-07 16:03] sgugger commented on #20102
Thanks for the clear reproducer. Looking at the code, it looks like FSMT in general does not properly support the `resize_token_embeddings` API: it's not using the same config names for the vocab size (easily fixable) but also the method resizes both the encoder and decoder embeddings and in this case, it should only resize the encoder embedding probably.

In any case, I don't know the model as we

[2022-11-07 16:50] WaterKnight1998 commented on #19983
@BakingBrains I mentioned this here #19401

[2022-11-07 16:55] Bearnardd commented on #20101
@NielsRogge I would love to pick up this issue from where you left if that is okay for you

[2022-11-07 17:03] NielsRogge commented on #20101
Awesome, feel free to take over my branch and see whether you can make all tests pass

[2022-11-07 17:57] sanchit-gandhi commented on #20058
Ah I see! Sorry, you're absolutely right! There are files not pushed during training. We need to explicitly save the `processor` as this is not done by Trainer!

I've updated the notebook: https://colab.research.google.com/github/sanchit-gandhi/notebooks/blob/main/fine_tune_whisper.ipynb

All you need to do is add the line:
[code]
before calling `trainer.train()`.

Sorry about that, my apologies!

[2022-11-07 18:04] zzxslp commented on #15552
Hi Tom @puzzler10, thanks for the discussion that helped me a lot! I have a following question that, when we are trying to optimize a reward function via policy gradient, one could run into issues like [this thread](https://github.com/huggingface/transformers/issues/13954). Do you have some elegant solutions/tips to implement policy gradient with huggingface code base?

[2022-11-07 18:19] sgugger commented on #20058
Note that the `Trainer` will do it if you pass it `tokenizer=processor` instead of `tokenizer=processor.feature_extractor`.

[2022-11-07 18:21] sanchit-gandhi commented on #20058
Unfortunately it fails with `model_input_name=...`:
https://github.com/huggingface/transformers/blob/d44ac47bac4471703651675c8abd9d6e1b6c3db6/src/transformers/trainer.py#L788
as the processor does not have the attribute `model_input_names`.
Will add a PR to fix this tomorrow!

[2022-11-07 18:22] sgugger commented on #20058
Ah, indeed would be nice if the processors add that attribute!

[2022-11-07 18:22] sanchit-gandhi commented on #20058
Absolutely! Expect a PR tomorrow!

[2022-11-07 18:30] cakiki opened #20108 "Using `subfolder` with AutoTokenizer.from_pretrained doesn't work"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.4.0-131-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

[2022-11-07 18:43] sgugger commented on #20108
Indeed, thanks for the clear issue. The `subfolder` argument is not properly passed along in the utils that get the tokenizer config, and since that tokenizer config is then not found, `AutoTokenizer` then tries to find a config (which does not exist here).

Will send a fix shortly.

[2022-11-07 19:08] seirasto commented on #20105
I'm not sure what the best way is to reproduce it for you. It occurs because we have our own model wrapper. I see that in the signature parameters there is a `labels` parameter, but this does not exist in our signature. Perhaps it is expected to always be there?

Using AutoModelForSequenceClassification:
[code]

Our model wrapper:

[code]

[2022-11-07 20:11] patrickvonplaten commented on #19353
Interesting! @pcuenca could you take a look here?

[2022-11-07 20:31] sgugger commented on #20105
Can you try if the PR above would solve your problem?

[2022-11-07 21:24] shahbuland opened #20115 "Roberta model seemingly unable to take embeddings as input"
### System Info

Python 3.9 on linux, transformers 4.24.0

### Who can help?

@lysandrejik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Trying to implement cross encoder with RoBERTa. I embed tok

[2022-11-07 21:35] seirasto commented on #20105
That did not work. Our model inherits from PreTrainedModel so it is still an instance of it.

[2022-11-07 22:57] sgugger commented on #20105
Ah in this case, it will need to have the label names in the signature like the models in the library. Or you can always pass along the `label_names` you want in the training arguments to override the defaults.

[2022-11-07 22:59] #20108 closed

[2022-11-08 04:56] pacman100 commented on #20082
Hello @JohnnyRacer, can you provide script of how you are saving and loading weights post training?

[2022-11-08 06:06] YooSungHyun commented on #19044
i have to use wav2vec2

[2022-11-08 06:08] YooSungHyun commented on #19044
@sanchit-gandhi  thx for reply!
but, i have to use wav2vec2 conformer....😢

i think, my data have issue, so validating my dataset
how about this? do you think this situation make some problem?
![image](https://user-images.githubusercontent.com/34292279/200487973-00f5d2f6-d0c7-48ee-a00d-8205f6e59657.png)

my train loss like this
![image](https://user-images.githubusercontent.com/34292279/200488059-

[2022-11-08 06:48] JohnnyRacer commented on #20082
Hey @pacman100 .  I am using the unmodified `run_clm_no_trainer.py` from the latest commit of `transformers`, with the following training commands :
[code]
Accelerate config from config file :
[code]
The config doesn't show it but I have it configured for a multi-GPU setup on a single local instance with 2 accelerators.

And I have tried loading the models with the following commands using `transf

[2022-11-08 07:31] BirgerMoell commented on #20058
`from datasets import load_dataset, DatasetDict

common_voice = DatasetDict()

#common_voice["train"] = load_dataset("mozilla-foundation/common_voice_11_0", "sv-SE", split="train+validation", use_auth_token=True)
#common_voice["test"] = load_dataset("mozilla-foundation/common_voice_11_0", "sv-SE", split="test", use_auth_token=True)

common_voice["train"] = load_dataset("mozilla-foundation/common_v

[2022-11-08 07:48] NielsRogge commented on #20053
Hi @atturaioe, awesome.

So in [this folder](https://github.com/huggingface/transformers/tree/main/examples/pytorch/image-pretraining), one could add a `run_mim_no_trainer.py` script, similar to the other `no_trainer.py` scripts in the examples folder.

[2022-11-08 08:23] ydshieh commented on #20101
@Bearnardd Thank you!

You can start from this (updated) branch/PR (which is updated with the `main` branch with a tiny fix)

https://github.com/huggingface/transformers/pull/20107
https://github.com/huggingface/transformers/tree/fix_tapas_scatter

[2022-11-08 08:36] pacman100 commented on #20082
Hello @JohnnyRacer , please refer below code snippet on changes required when saving deepspeed ZeRO-3 model. The example can be found here: [deepspeed_with_config_support.py](https://github.com/huggingface/accelerate/blob/main/examples/by_feature/deepspeed_with_config_support.py)

https://github.com/huggingface/accelerate/blob/cea6aaa1161d45f7f23ef33fcc3b0a5999ebb5a1/examples/by_feature/deepspeed_

[2022-11-08 09:43] lijingcan commented on #8923
@Ki6an  Hello, the input_id I  inputed is 64*100 (Batch_size,max_sequence), why the size of
     T5ForConditionalGeneration.generate result is 100?where is the batch_size

[2022-11-08 09:52] sanchit-gandhi commented on #20058
That's great @BirgerMoell 🥳 Excited to see what the full training runs bring!

[2022-11-08 09:58] sanchit-gandhi commented on #19044
It looks like there's a lot of padding for the second item in the batch, but this shouldn't cause problems to stability, only those related to numerical precision (all the labels with -100 are set to -inf in the loss computation to be masked, there'll be a numerical tolerance vs perfect masking).

Can you maybe find the corresponding audio for the sample where the train loss collapses and check th

[2022-11-08 11:29] lhoestq commented on #19177
You can remove the `.prepare_for_task()` call in run_image_classification.py for now.

This is an issue with `datasets` not recognizing an existing task, feel free to open an issue on the `datasets` repo

[2022-11-08 11:42] fxmarty commented on #735
@abdulsalam-bande I had the same output logits for a fine-tuned model, and your solution worked for me (even a slight decrease in the learning rate). Any idea why having a too large learning rate gives this result?

@Jayaos did not work (adamw_torch vs adamw_hf). Were you suggesting to use an other optimizer?

Specifically, had the same logits for

[code]

but not for

[code]

[2022-11-08 11:56] maxjeblick opened #20120 "ESM esmfold_v1 infer_pdbs method gives TypeError"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.4.0-105-generic-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Ye

[2022-11-08 12:11] patrickvonplaten opened #20121 "Cannot load CLIPProcessor / CLIPFeatureExtractor locally"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.18.10-76051810-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- Huggingface_hub version: 0.11.0.dev0
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: <fill in>
- U

[2022-11-08 12:17] patrickvonplaten opened #20122 "Why is CLIPImageProcessor not in general init?"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.18.10-76051810-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- Huggingface_hub version: 0.11.0.dev0
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: <fill in>
- U

[2022-11-08 12:40] guillaumekln opened #20123 "Whisper: incorrect list of non speech tokens"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.35
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)

### Who can help?

@ArthurZucker

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folde

[2022-11-08 13:59] #20057 closed

[2022-11-08 14:06] ArthurZucker commented on #20123
Hey! thanks for pointing that out.
Will open a PR on the online models and on the repo, just gotta make sure this is not backward incompatible 🤗

[2022-11-08 14:16] Saad135 commented on #19303
Hi @sgugger, I would like to work on RobertaConfig next. Unsure if someone is working on it currently or not, since the last [pull request](https://github.com/huggingface/transformers/pull/19856) submitted for RobertaConfig was 14 days ago. That pull request was later closed, and no new PR was opened since then. I will submit a PR just incase, no one is working on it.

[2022-11-08 14:57] sgugger commented on #20105
Ah yes, I understand your concern better, thanks! Will adapt the PR.

[2022-11-08 14:58] sgugger commented on #20121
Will be fixed by #20111

[2022-11-08 15:00] sgugger commented on #20122
Will be fixed by #20111

[2022-11-08 15:02] #19272 closed

[2022-11-08 15:13] shogohida commented on #20055
@stevhliu
Thanks for your comment! It will take a lot of time to collect resources from scripts and notebooks because I'm not very familiar with OpenAI GPT but I'll do my best. I'll let you know if I have another question

[2022-11-08 15:14] moksh-enf commented on #19776
Hey @uahmad235 do you mean you want to know the data that is being passed to the model?

How does that help with the error?

I believe that the error is in the forward pass of the PyTorch code.

[2022-11-08 15:21] xiaoyangnickhu commented on #20008
Thanks!!

[2022-11-08 15:21] #20008 closed

[2022-11-08 15:51] NielsRogge commented on #19024
This was fixed in #19678.

[2022-11-08 15:51] #19024 closed

[2022-11-08 15:53] sgugger commented on #20120
cc @Rocketknight1

[2022-11-08 16:00] sgugger commented on #20115
Even if you provide input embeddings, the RoBERTa model will still add the token type embeddings and position embeddings.

As for the exact reason you get an error, we would need a full reproducer to be able to investigate.

[2022-11-08 16:05] ArthurZucker opened #20126 "Add pop2piano"
### Model description

- Introduce a large amount of paired and synchronised {pop, piano cover} data using an automated pipeline.
- Pop2Piano, a Transformer network that generates piano covers given waveforms of pop music.
- First model to directly generate a piano cover from pop audio without melody and chord extraction modules.
- Uses a T5  model so should be straightforward.

### Open source st

[2022-11-08 17:03] Bearnardd commented on #20101
@ydshieh Thanks for the guidance! I will start working on this problem after the work :)

[2022-11-08 17:12] BramVanroy opened #20127 "Improvement to error handling in subclasses"
### Feature request

I encountered a fascinating (though very frustrating :-)) scenario about error handling in `transformers`. When subclassing a tokenizer that relies on `sentencepiece`, and not having it installed, you will get an unhelpful error message that sends you down a lot of rabbit holes.

Consider this minimal example:

[code]

If you run this in a new environment where sentencepiece i

[2022-11-08 17:18] sgugger commented on #20127
Interesting. It seems like Python gobbles the error raised by the super class (which does tell you to install sentencepiece) and decides it has no `from_pretrained` attribute instead.

If anyone has any idea to fix our metaclass `DummyObject` so it works on subclasses, I'm all ears!

[2022-11-08 17:20] sgugger commented on #20105
Can you try again the PR above?

[2022-11-08 18:20] aapot commented on #19588
After using pre-trained weights to continue pretraining for one more step with same input data, I think following is happening with model outputs:
- `projected_states` has max difference of 0.276 (abs of Flax and PT matrices deducted from each other and max value of the deducted matrix)
- `projected_quantized_states` has max difference of 0.588
- `codevector_perplexity` is same

`projected_quantiz

[2022-11-08 18:47] seirasto commented on #20105
This worked! Thank you!!

[2022-11-08 18:51] JulesGM commented on #2155
Seems broken in GPT2 ?

[code]

[2022-11-08 18:54] AWilkinsonSorenson commented on #17781
Same issue

[2022-11-08 18:54] JulesGM commented on #2155
It does show up in the special tokens:
[code]

[2022-11-08 18:54] JulesGM commented on #2155
@LysandreJik maybe

[2022-11-08 18:57] JulesGM commented on #2155
Using `<|endoftext|>` does work however. It's just when you add new special tokens that the tokenizer doesn't use them.

[code]

[2022-11-08 19:02] peregilk commented on #19588
Fantastic work @aapot!

I noticed the following comment in the pull from @patrickvonplaten to @ThomAub:
_"PyTorch module to Flax? This might be a bit difficult and require some googling to see if others have already implement gumbel softmax in jax/Flax or not. If you could take a look at this, it would be very useful!"_ ([https://github.com/huggingface/transformers/pull/12271#issuecomment-86779304

[2022-11-08 19:15] shahbuland commented on #20115
Is there any way to circumvent this? In my use-case position embeddings would probably be harmful to training.

[2022-11-08 19:16] sgugger commented on #20115
You'll need to modify the model code for that.

[2022-11-08 19:31] maxjeblick commented on #20070
I guess you need to call
[code]
code example was already updated:
https://github.com/huggingface/transformers/blob/main/src/transformers/models/esm/modeling_esmfold.py#L2103

[2022-11-08 20:30] #20070 closed

[2022-11-08 20:56] allo- commented on #530
With a recent git checkout I do not get the error, but the generation script gets a hardcoded limit for text generation from the model class.

https://github.com/huggingface/transformers/blob/4eb918e656944df2757513c535e8ad8c01d632e2/examples/pytorch/text-generation/run_generation.py#L222

The input seems to be also quite limited (no idea how many tokens, but probably something around 20-30), so ru

[2022-11-08 22:17] jammie19 commented on #15177
I've gotten around to updating the test cases on the PR, they're passing now so I've published it. Let me know if it needs changes or explanation

[2022-11-08 22:20] shuoyangd commented on #14767
Sorry for bumping this up -- I had the same question but I think the page linked here is answering a different question.

Let me ask again differently: is there a [fairseq `--max-tokens` counterpart](https://github.com/facebookresearch/fairseq/issues/165) I can use in huggingface?

[2022-11-08 22:27] BirgerMoell commented on #20058
The full model training also worked :D
https://huggingface.co/birgermoell/whisper-small-sv-bm

[2022-11-08 23:20] Bearnardd commented on #20101
Hi @NielsRogge - I have done a bit of debugging today and I have found the following roots of failing tests:

1. `tests/models/tapas/test_modeling_tapas.py::TapasUtilitiesTest::test_reduce_sum_vectorized` fails because in pytorch version of `scatter_reduce` the `src` and `index` tensors are required to have the same number of dimensions which is not the case in the above test.
2. `tests/models/tap

[2022-11-09 00:31] YooSungHyun commented on #19044
@sanchit-gandhi hum.... very tragedy some wav data is not fair to text data...damn!
ex) wav: some apple is good for you when eat morning / text: apple (how dumb!?)
maybe this data make loss over shooting..?
i will filtering now...😭

[2022-11-09 03:28] cokuehuang opened #20130 "Finetuning m2m100 with run_translation_no_trainer.py using ZERO stage 3 hangs when evaluation after first epoch"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.4.1 (gpu)
- Jax version: 0.3.5
- JaxLib version: 0.3.5
- Using GPU in script?: <yes>
- Using distributed

[2022-11-09 03:32] ravi160822 opened #20131 "Failed to import"
### System Info

python 3.10.7
Target: arm64-apple-darwin21.6.0
Thread model: posix
transformers==4.24.0

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

`from trans

[2022-11-09 03:43] JohnnyRacer commented on #20082
@pacman100 I modified the script to allow for training of the `facebook/nllb-200-distilled-1.3B` translation model by replacing `AutoModelForCausalLM` with `AutoModelForSeq2SeqLM` where the model is loaded. And added an option in the `AutoTokenizer` line like so :
[code]
The models trains correctly but can only able to be loaded via the model directory using:
[code]
If I try instantiating the mode

[2022-11-09 04:33] mht-sharma commented on #19983
Update:
The error occurs only in the encoder part of the model i.e `Donut`. Updated the model inputs to actual inputs from dataset, however the still still persisted.

The issue starts happening from the following [modeling_donut_swin.py#L501 ](https://github.com/huggingface/transformers/blob/main/src/transformers/models/donut/modeling_donut_swin.py#L501 ) layer activation in the `DonutSwinLayer`.

[2022-11-09 08:29] tadinhkien99 commented on #19190
Hi,
I have same issue with you. Have you solved it?

[2022-11-09 09:05] Tungway1990 opened #20132 "maskformer sample code error"
### System Info

- `transformers` version: 4.24.0
- Platform: Windows-10-10.0.19045-SP0
- Python version: 3.9.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.0 (True)

### Who can help?

@sgugger @patil-suraj

Try running the sample code in maskformer [https://huggingface.co/docs/transformers/v4.24.0/en/model_doc/maskformer](url)
[code]
has a NoneType error.

### Information

-

[2022-11-09 09:06] astariul opened #20133 "Compact Transformer"
### Model description

# Escaping the Big Data Paradigm with Compact Transformers

Abstract :

transformers makes them more feasible to study for those with limited computing resources and/or dealing with small
datasets, while extending existing research efforts in data efficient transformers.

### Open source status

- [X] The model implementation is available
- [X] The model weights are availabl

[2022-11-09 09:13] WaterKnight1998 commented on #19983
The original SwinModel is also using this: https://huggingface.co/microsoft/swin-base-patch4-window7-224-in22k/raw/main/config.json

If you try to convert it, you don't get this issue

[2022-11-09 09:14] NielsRogge commented on #20101
Hi @Bearnardd - that's awesome! Thanks a lot for looking into it.

Regarding point 1 - you can update that test accordingly to account for the PyTorch version of `scatter_reduce`.

Regarding point 2 - you can clone the tensor and open a PR, we can discuss it there ;)

[2022-11-09 11:53] mv96 opened #20138 "Problems with layoutlm language model"
### Feature request

Hi,

I was recently reading Layoutlm and it's variants and I figured out that they do exist in hugging face but there are several problems with It or I am not very sure to understand it just by reading the documentation.

Q1) [Layoutlm](https://arxiv.org/abs/1912.13318) is a multimodal machine learning transformer then why is it listed in the text transformers category on Hugg

[2022-11-09 11:57] sanchit-gandhi commented on #20058
Awesome! 19.6% is pretty good! You can deffo try training for longer and a bigger model checkpoint. Feel free to post updates on the forum https://discuss.huggingface.co

[2022-11-09 14:02] sgugger commented on #20132
cc @alaradirik and @NielsRogge

[2022-11-09 14:15] sgugger commented on #20130
cc @pacman100

[2022-11-09 14:16] sgugger commented on #20131
Looks like a problem in your CUDA installation.

[2022-11-09 14:16] uriii3 commented on #19490
Has this been implemented? Where can I check the upgrades for when it is functional?

(I understand it is not an easy task, just wanted to make sure that I have the tools to find out about the implementation when it is available).

[2022-11-09 14:18] ravi160822 commented on #20131
it works on my local, but it fail when I use it with docker, do I need to give any additional command in docker apart from installing requirements

[2022-11-09 14:22] sgugger commented on #20138
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep issues for bugs and feature requests only :-)
cc @NielsRogge

[2022-11-09 15:06] sanchit-gandhi commented on #19588
Good point @peregilk - worth having a look to see if there are any OSS implementations of the Gumbel ops in JAX/Flax online! (as far as I'm aware there's not, but might be wrong!)

[2022-11-09 15:43] ambujpawar commented on #20055
Hi, I would like to take CLIP from the list you have mentioned. :)

[2022-11-09 16:25] jacwalte commented on #20127
Pinging here as we are seeing the same issue.

E           ImportError:
E           XLMRobertaTokenizer requires the SentencePiece library but it was not found in your environment. Checkout the instructions on the
E           installation page of its repo: https://github.com/google/sentencepiece#installation and follow the ones
E           that match your environment. Please note that you may need

[2022-11-09 16:27] sgugger commented on #20127
No this is not the same issue. The error message is clearly indicating that your need to install `sentencepiece`.

[2022-11-09 16:51] bofenghuang opened #20145 "Set task and language tokens for whisper model"
### Feature request

Hi @ArthurZucker, thanks for the great work on whisper models.

I would like to know if it's possible to also have a `set_prefix_tokens` function in `WhisperForConditionalGeneration`, which receives the language/task name and changes the language/task token in `model.config.forced_decoder_ids`, in order to run the ASR inference on languages other than EN.

As far as I know it

[2022-11-09 16:59] jacwalte commented on #20127
Yet it doesn't come up as a requirement from transformers - as described in the original post.

The sentencepiece library as to be added manually - did I miss something about having to do that otherwise in the release notes.  This was discovered after updating to the latest version of transformers 2.24.0.

site-packages\transformers\models\xlm_roberta\tokenization_xlm_roberta.py

![image](https://

[2022-11-09 17:06] jacwalte commented on #20127
Also, just a side note here, this occurred in multiple environments - Linux and Windows based.  I hope this helps.

[2022-11-09 17:09] jacwalte commented on #20127
And when running "pip show sentencepiece" locally, it shows as having no requires/requires-by - very odd.

[2022-11-09 17:10] mariosasko commented on #20127
I think `DummyObject` should override `__getattribute__` instead of `__getattr__` to get the expected error.

[2022-11-09 17:19] ArthurZucker commented on #20145
Hey! That's a good idea and also on my TODO!
It is debatable whether we should have this in the `WhisperForConditionalGeneration` or add a new class for multilingual Decoding which would do this automatically. We could also add a `WhisperForSequenceClassification` class which would just detect the language.

CC @sgugger and @patrickvonplaten as this is really a design question.

[2022-11-09 17:22] ArthurZucker commented on #19490
Hey, here is one of the PR: #20104

[2022-11-09 17:23] NielsRogge commented on #20138
Please link your question on the forum, I'll answer there!

[2022-11-09 17:57] #20127 closed

[2022-11-09 18:54] mv96 commented on #20138
@NielsRogge can you send me the link to access forums, I tried to look at the discord channel of hugging face but I am not exactly sure where to ask questions.

Thanks

[2022-11-09 18:58] ramanova opened #20148 "Add support for images embeddings as one of the **input parameters"
### Feature request

[Owl-ViT](https://huggingface.co/docs/transformers/model_doc/owlvit)
**Current flow** for inference for OWL ViT is to accept image and text, run it through a processor and then give that as an input to the Model for inference. Result: Getting detections with some confidences.
[code]

**Additional flow**
It would be useful to have additional capability to support images embeddi

[2022-11-09 19:03] BramVanroy commented on #20127
Thanks @mariosasko!

@jacwalte That is the expected behavior. sentencepiece is not installed by default because not all tokenizers need it. You'll get the error message if you need it for your use-case and then you just have to install it manually. Or you can install transformers with the extra `sentencepiece`, `transformers[sentencepiece]`. The problem in my case was that the error message did no

[2022-11-09 19:22] jacwalte commented on #20127
Thanks! - will update the requirements with that

[2022-11-09 19:28] sgugger commented on #20148
cc @alaradirik and @NielsRogge

[2022-11-09 21:08] #20121 closed

[2022-11-09 21:08] #20122 closed

[2022-11-09 22:00] patrickvonplaten commented on #20145
I think this is something we would want to solve with generate use-case specific configurations (cc @gante)

[2022-11-09 22:00] chenmoneygithub commented on #19992
Hi! This is Chen from KerasNLP, we can release a branch specially for the BPE if you need it soon, but before that there is a concern I want to raise:

I made the TF BPE with many regex hacks because tf_text uses Google re2, which does not fully match the python re. Although I tested on multiple datasets (multiple languages as well) and it worked well, I am still not 100% confident it provides the

[2022-11-09 22:10] dirkgr commented on #19399
Yay!

[2022-11-10 02:01] YooSungHyun commented on #19044
@sanchit-gandhi holy...! that is awesome idea!!!?? 😮

i just think like heuristic idea.
in this case, almost error data have some pattern like, text has long pad but audio has short pad
because, audio is long average but text is not.

so, i run group_by_sample sampler now, and, if label data has pad over 90%, then wav, label save.
and then, check manually some data.

about 0.1~1% data is corrupt.

[2022-11-10 02:28] Saad135 commented on #20055
@stevhliu I would like to work on DeBERTa

[2022-11-10 03:32] pengshuang opened #20153 "How to fine-tune a pre-trained protein language model on the protein folding task ？"
### Feature request

@Rocketknight1, Thanks for releasing the notebook and example of [How to fine-tune a pre-trained protein model](https://github.com/huggingface/notebooks/blob/main/examples/protein_language_modeling.ipynb) and [How to generate protein folds](https://github.com/huggingface/notebooks/blob/main/examples/protein_folding.ipynb). These codes help me quickly apply the SOTA protein str

[2022-11-10 04:26] davidgilbertson opened #20154 "Less noisy console output"
### Feature request

I have just started using HF transformers and am struck by the amount of text it dumps into the console.

Just following the steps in the course, a simple script that loads a model and trains it spews out this:
![image](https://user-images.githubusercontent.com/4443482/200996914-b944f497-459b-4fbd-b47f-0d6bf10651b3.png)

...my monitor isn't big enough to screenshot it all :)

[2022-11-10 06:36] pacman100 commented on #20130
Hello @cokuehuang, please provide a minimal script along with the minimal dataset in order to reproduce this issue. I am unable to reproduce this using below steps:
1. run `accelerate env` command to see the config being used:
[code]

2. Run below command:
[code]
For this to work, change the following line in `run_translation_no_trainer.py` :
[code]

3. Output logs:
[code]

What I think is happeni

[2022-11-10 08:28] alaradirik commented on #20091
Hi @ekazakos, thanks for the suggestion! And yes, we are planning to integrate it to transformers shortly.

@sgugger @NielsRogge in the paper, authors first train a base CLIP model using an image size of 224 × 224 and then resize the image position embeddings with linear interpolation to 768 x 768 before fine-tuning the whole model on the object detection task. Is it a good idea to have separate s

[2022-11-10 08:56] alaradirik commented on #20132
Hi @Tungway1990, thanks for pointing this out! You are right, the ` label_ids_to_fuse` argument is only used for panoptic segmentation and the logic should take None values into account.

We'll open a PR to fix this shortly. cc @sgugger @NielsRogge

[2022-11-10 09:04] NielsRogge commented on #20132
We should actually update that code example, as that particular checkpoint was fine-tuned on ADE20K Semantic Segmentation. Hence, it doesn't make sense to postprocess the outputs for instance or panoptic segmentation.

Thanks for pointing out!

[2022-11-10 09:04] dwyane1023 commented on #14195
Hi @NielsRogge,
When I train the model using huggingface intergrated deepspeed. There is an error.

`AttributeError: 'VisionEncoderDecoderConfig' object has no attribute 'hidden_size'`

Do you know how to config the hidden_size to avoid the error?

[2022-11-10 09:06] NeuroinformaticaFBF opened #20156 "Models can't be loaded after updating to Python 3.10"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.4.0-131-generic-x86_64-with-glibc2.27
- Python version: 3.10.8
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <f

[2022-11-10 10:06] ekazakos commented on #20091
Thank you so much!!

[2022-11-10 10:09] NielsRogge commented on #20091
No I wouldn't do that, I'd just refer to [this script](https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive-image-text) if people are interested in training a CLIP model themselves. Afterwards, they can load the weights into the `OwlViTForObjectDetection` model using a conversion script. This conversion script should include the interpolation of the position embedding

[2022-11-10 10:26] cokuehuang commented on #20130
1. accelerate env:
`- `Accelerate` version: 0.12.0
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Numpy version: 1.23.3
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- `Accelerate` default config:
        - compute_environment: LOCAL_MACHINE
        - distributed_type: DEEPSPEED
        - mixed_precision: no
        - use_cpu: False
        - num_processes: 4

[2022-11-10 11:30] cokuehuang commented on #20130
1. Without cpu offloading :
`- `Accelerate` version: 0.12.0
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Numpy version: 1.23.3
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- `Accelerate` default config:
        - compute_environment: LOCAL_MACHINE
        - distributed_type: DEEPSPEED
        - mixed_precision: no
        - use_cpu: False
        - num_proc

[2022-11-10 11:34] rishabh10gpt commented on #16482
@Lednik7 Have you resolved this problem?
I wanted to train a new tokenizer for Marian model and having problem with creating the tokenizer.

Can you please share the script which you used to creater tokenizer?

[2022-11-10 12:00] SavitaKumariPandit opened #20161 "how to fine tune custom dataset using coreference pretrained model"
the pre-trained model available in hugging face hub "nreimers/mMiniLMv2-L12-H384-distilled-from-XLMR-Large" how to fine tuning with own custom dataset.

[2022-11-10 12:23] #14584 closed

[2022-11-10 13:51] SaulLu commented on #20156
Hi @NeuroinformaticaFBF,

Thanks a lot for this issue! The issue seems to be coming from an external dependency [sentencepiece](https://github.com/google/sentencepiece) which is using protobuf . Can you share with us the versions of the following packages please :pray: ?

For example with:
[code]

[2022-11-10 14:16] SaulLu commented on #20156
I can't have an env with python 3.10.8 right now, but the first thing I would want to try is to upgrade protobuf to its latest version which is `4.21.9` :relaxed:

[2022-11-10 14:16] Arij-Aladel commented on #15734
https://github.com/huggingface/transformers/commit/ece762443e4269e50cc1a348838e63e4a499575d  this explains alot  thanks for fixing the problem

[2022-11-10 14:25] NeuroinformaticaFBF commented on #20156
I installed version `4.21.9`. That changed the error, which was:

[code]

Downgrading `protobuf` to version `3.20.0` fixed it!
Many thanks for the quick help :)

[2022-11-10 14:26] NielsRogge commented on #20161
Hi,

For that I'll refer to the training guide of Sentence Transformers: https://www.sbert.net/docs/training/overview.html.

[2022-11-10 14:26] #20161 closed

[2022-11-10 14:27] ekazakos opened #20163 "OWLViT - Allow text model to compute text embeddings only once"
### Feature request

Hi again,

Currently, the OWL-ViT pipeline works by having a list of queries **per example** (e.g. for classification problems with 10 classes there would be 10 queries for each image). I understand that the rationale behind this is to allow to train with multiple datasets simultaneously where each dataset has a different set of classes, and where images from different dataset

[2022-11-10 14:55] sgugger commented on #20154
You can adjust the logging level to your preferred value with `transformers.utils.logging.set_verbosity(log_level)`.

[2022-11-10 14:59] Rocketknight1 commented on #20070
Thanks @maxjeblick! And yes - the `ESMFold` tokenizer doesn't use special tokens, but the other `ESM` tokenizers do. I'll see if I can set this in the config so that users don't have to keep remembering it, because I kept getting errors from forgetting it too!

[2022-11-10 15:05] Rocketknight1 commented on #19992
Thanks @chenmoneygithub! We have quite a lot of models with BPE tokenizers that we could probably test against.

[2022-11-10 15:35] rohit1998 opened #20165 "Adding a siamese text similarity inference pipeline"
### Feature request

Siamese networks have been really popular for variety of tasks in nlp.

I am wondering if we can build a inference pipeline class for siamese like architecture.

Pipeline can look something like

[code]
Please note that preprocess takes in a dictionary of text pairs eg ({'text':'I like you.', 'text_pair':'I love you.'}).

Also we would need to make change in datacollator to ha

[2022-11-10 15:44] Rocketknight1 commented on #20120
Hi @maxjeblick, this is caused by those methods being ported directly from `ESMFold` and not being updated to match our implementation. I'm working on a fix now! In the meantime you can use the code from our [example notebook for protein folding](https://github.com/huggingface/notebooks/blob/main/examples/protein_folding.ipynb) to convert model outputs to PDB.

[2022-11-10 16:09] stevhliu commented on #20055
Great, thanks for taking on DeBERTa @Saad135! 🤗

[2022-11-10 16:48] #20120 closed

[2022-11-10 16:48] Rocketknight1 commented on #20120
@maxjeblick fixed on main now!

[2022-11-10 18:14] wookayin commented on #8638
Dependency to `dataclasses` in setup.py should be python 3.6 only:

[code]

or use `if sys.version_info >= (3, 7):` check to dynamically configure `_deps` in https://github.com/huggingface/transformers/blob/main/setup.py#L98.

[2022-11-10 18:24] chenmoneygithub commented on #19992
Awesome! We will go ahead and make a release for BPE tokenizer then. Will update this thread when that is finished.

[2022-11-10 19:09] davidgilbertson commented on #20154
Thanks @sgugger, I just tried that.

There's still plenty of noise from code in HF (datasets) like this:
[code]

Also, `Trainer` will call `args.get_process_log_level()` and overwrite whatever I've set with `logging.set_verbosity()`. I think there might be something wrong in `get_process_log_level` (after a quick glance). The [docstring says](https://github.com/huggingface/transformers/blob/main/s

[2022-11-10 20:05] #16870 closed

[2022-11-10 20:07] sgugger commented on #20154
You'll need to do the same thing for `datasets` (same API I believe 🤞 ). As for the `Trainer` it's very possible that there is a bug. Do you want to suggest a fix in a PR?

[2022-11-10 23:14] fufeisi commented on #18549
Got the same error with conda install -c huggingface transfformers.

[2022-11-11 00:44] cokuehuang commented on #20130
@pacman100 Yes! It works! Thanks very much!

[2022-11-11 00:44] #20130 closed

[2022-11-11 01:04] dwyane1023 opened #20169 "trocr deepspeed"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.14-1.el7.elrepo.x86_64-x86_64-with-glibc2.35
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in s

[2022-11-11 05:33] SavitaKumariPandit commented on #20161
Hi @NielsRogge , I have to use my own dataset for co-reference resolution task, so above mention suggestion will work on pretrained model of "nreimers/mMiniLMv2-L12-H384-distilled-from-XLMR-Large".

[2022-11-11 08:40] IdoAmit198 commented on #17106
Hey guys, I'm having the same issue here when running in distributed (both with `torch.distributed.launch` and both with elastic run), seems to me like this isn't solved yet.
## My system info:
- `transformers` version: 4.24.0
- Platform: Linux-4.15.0-166-generic
- Python version: 3.8.10
- PyTorch version (GPU?):  1.10.2+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (

[2022-11-11 08:46] #20078 closed

[2022-11-11 09:33] Allricstan opened #20170 "I am getting below error message when loading XLM 17 Language pretrained model."
Some weights of XLMWithLMHeadModel were not initialized from the model checkpoint at xlm-mlm-17-1280 and are newly initialized: ['transformer.position_ids']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

[2022-11-11 09:34] Allricstan commented on #20170
Can anyone help me how to use this model for language translation?

[2022-11-11 09:34] Arsmart1 opened #20171 "How to train transformer using my own data?"
### Feature request

I have not see a tutorial for training my own data.....Can I ? I am a new AI learner. Thank you!!!

### Motivation

I have not see a tutorial for training my own data.....Can I ? I am a new AI learner. Thank you!!!

### Your contribution

I have not see a tutorial for training my own data.....Can I ? I am a new AI learner. Thank you!!!

[2022-11-11 11:12] PierreOrhan opened #20173 "Misleading tensor type in code and documentation of Wav2Vec2ForPreTraining"
The Wav2Vec2ForPreTraining expects in its forward pass a torch.BoolTensor for the sampled_negative_indices.
https://github.com/huggingface/transformers/blob/cbbeca3d1733aa7c9b443af5ff231a5affcd8a1e/src/transformers/models/wav2vec2/modeling_wav2vec2.py#L1404

But as the example and the code then indicates, this tensor should not be a boolean mask but should instead store the indices of the negative

[2022-11-11 12:14] Misterion777 commented on #19844
Hey, same problem, how to fix this?

[2022-11-11 14:19] dwyane1023 commented on #20169
issue resolved by
`hidden_size = 768
setattr(encoder.config, "hidden_size", hidden_size)`

refer to this #15526

[2022-11-11 14:19] #20169 closed

[2022-11-11 14:29] ekgren opened #20176 "Add GPT-SW3 models to huggingface"
### Model description

At AI Sweden we are developing GPT models for the nordic region. Languages include English, Swedish, Danish, Norwegian and Icelandic.
The models are of the GPT family.
The models will range in size from 126m to 20B.
They are trained from scratch on a large corpora of 320B tokens.
They are trained with the nemo megatron framework and has a sentencepiece tokenizer.
The weights

[2022-11-11 15:04] Rocketknight1 commented on #19491
I see some TF release candidates out - @BenWilson2 have you tried them and encountered the same issue?

[2022-11-11 17:17] ayaka14732 commented on #15323
Steps to reproduce:

[code]

Solution:

[code]

[code]

For English, change to `source_spm='source.spm'`.

[2022-11-11 17:36] devaansh100 commented on #19500
Not stale, still looking forward to a response!

[2022-11-11 17:37] stas00 commented on #20102
@alex96k, would you by chance would like to tackle that?

The main difficulty with FSMT is that it has 2 unique dictionaries for many models, so some generic functionality is either not possible out of the box or requires some very careful thinking in order not to break other things. I think it's the only model of this kind in HF models.

There is an outstanding PR that was trying to bring FSMT in

[2022-11-11 18:37] sanchit-gandhi commented on #19044
Good luck! Since the issue is not related to the Transformers modelling code but rather to do with the specific dataset used, I'm going to close this issue. Feel free to post on the forum if you encounter any further difficulties with your training and are seeking help (you can tag me there): https://discuss.huggingface.co

[2022-11-11 18:37] #19044 closed

[2022-11-11 18:40] sanchit-gandhi commented on #19044
What you could also do is replace the shortened text with the transcriptions from the baseline system if you wanted:

[code]

=> replace `text` with `pred`, new target is: `some apple is good for you when eat morning`

[2022-11-11 19:55] olegperegudov commented on #18979
Apologies if this is the wrong place to put it, but I have been having a similar problem with
`Keyword arguments {'text_target': 'Par défaut, développer les fils de discussion'} not recognized.
{'input_ids': [47591, 12, 9842, 19634, 9, 0], 'attention_mask': [1, 1, 1, 1, 1, 1]}`
It is happening in your course / 'main nlp tasks' / translation.
Just copy / paste your code until:
`
en_sentence = split

[2022-11-11 20:39] Bearnardd commented on #20089
Hi @maxkrieger - in the forum post that you have provided you can see that the `training_args` already contains argument `max_steps=1e6`. In order for your sample to work correctly, you need to both set the `max_steps` argument as well as format your dataset for Pytorch.

[2022-11-11 20:42] Bearnardd commented on #20089
Additionally if I am not mistaken after specifying `max_steps` argument you can drop `num_train_epochs` since it will be override anyways .

[2022-11-11 22:15] maxkrieger commented on #20089
Aahh 🤦 somehow missed that parameter while reading the snippets @Bearnardd. Apologies for the lack of diligence, this is resolved.

[2022-11-11 22:15] #20089 closed

[2022-11-12 06:55] wonhyeongseo opened #20179 "Tranformers documentation translation to Korean"
Hi!

Let's bring the documentation to all the Korean-speaking community :)

Who would want to translate? Please follow the 🤗 [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know in this issue if you'd like to translate any, and we'll add your name to the list.

Some notes:

* Please translate

[2022-11-12 13:01] BramVanroy opened #20182 "Make tokenizer.pad() compatible with labels"
### Feature request

In my project, I need to do some custom sorting and filtering in my sampler. Therefore, each item in my Dataset is already tokenized/truncated (and not padded). So the padding occurs in the `collate_fn` of the dataloader. Here I would need to pad both inputs and labels. While this is straightforward to do with `tokenizer.pad()` for the inputs (input_ids, attention_mask) I cann

[2022-11-12 13:05] li-plus commented on #20079
Yeah, I'd like to help. The `eval_metric` should be dumped with all its keys prefixed by `eval_`, just like what `run_glue.py` does.
https://github.com/huggingface/transformers/blob/504db92e7da010070c36e185332420a1d52c12b2/examples/pytorch/text-classification/run_glue.py#L573

I happen to find an example script that already fixed this issue by prefixing all keys in `eval_metric` before saving it.

[2022-11-12 13:53] wonhyeongseo opened #20183 "[docs] translating.md needs an update"
Dear 🤗  HuggingFace Team,

I would like to suggest updating the guide for issues in the following sections:
- 🗞️ Open an issue
  - [x] As of now, there is no template called `Translation template` while opening an issue. Instead I had to copy-paste issues made by the community. https://github.com/huggingface/transformers/pull/20199
  - [ ] To view the translated documentation in the _first_ PR for

[2022-11-12 15:02] #19340 closed

[2022-11-12 15:02] #19318 closed

[2022-11-12 15:02] #19214 closed

[2022-11-12 15:03] #15472 closed

[2022-11-12 15:14] marshmellow77 commented on #19480
Hi all - I'm also trying to save and re-load a BLOOM model in 8-bit format, see [https://github.com/TimDettmers/bitsandbytes/issues/80](https://github.com/TimDettmers/bitsandbytes/issues/80).

I'm quite new to the topic and not sure I'm able to follow everything @younesbelkada mentioned, but my understanding is that this is not possible yet, is that correct?

[2022-11-12 16:27] anton-l commented on #19554
Hi, sorry for missing this! To answer @sanchit-gandhi's question: my SV checkpoint is a ported version of W2V2+XVector from S3PRL: https://github.com/s3prl/s3prl/tree/master/s3prl/downstream/sv_voxceleb1
So no finetuning scripts yet, just inference

[2022-11-12 19:13] #19157 closed

[2022-11-12 20:16] davidgilbertson commented on #20154
I've got a full schedule with study at the moment, sorry.

So in summary this looks like 2.5 issues:
* messages like "loaded from cache" should be log level INFO, not WARNING
* the default log level should read from the user's environment, or at least use the same default as Python, which is 30/WARNING, not 20/INFO
* And a nice to have would be that all HF packages shared a log-level setting, alth

[2022-11-12 21:35] patrickvonplaten opened #20185 "Difficult to understand warning"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.18.10-76051810-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- Huggingface_hub version: 0.11.0.dev0
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: <fill in>
- U

[2022-11-13 03:38] RockMiin commented on #19919
@sgugger Can you help me about this issue?
Thank you

[2022-11-13 04:48] dxlong2000 opened #20186 "Weird bugs when using ```run_image_classification.py```"
### System Info

Dear authors,

Thanks for your great work. I had a small dataset as I share with you here: https://drive.google.com/drive/folders/1-GAFdH0S16SlYXPdOwDmqijCrpIeeLbm?usp=sharing.

When I trained a ViT for image classification from ```run_image_classification.py```, my command as I attached:
[code]

I got an error:
[code]

while if I do:
[code]
I got:
[code]

And all the images are s

[2022-11-13 05:59] ZeyiLiao commented on #17534
Hi @stas00 , hope you all godd! And would deep-speed be compatible with Auto-regressive model [here](https://github.com/hpcaitech/ColossalAI-Examples/tree/f743872c2089d6bb5e593db6a8a48d427e6b2b1e/language/opt), like I need to fine-tuning a large OPT model. (BTW:Tried hard on PL trainer but always miss some weight of layers). Thanks!

[2022-11-13 07:20] Arsmart1 opened #20187 "How to train my own dataset?"
### Feature request

Could you privide a tutorial for training the whole model using my own dataset? I am a new learner and very confused. Thanks!

### Motivation

Could you privide a tutorial for training the whole model using my own dataset? I am a new learner and very confused. Thanks!

### Your contribution

Could you privide a tutorial for training the whole model using my own dataset? I am a

[2022-11-13 11:53] amiralikaboli opened #20189 "Hanging in TextClassificationPipeline's prediction"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.35
- Python version: 3.8.15
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Usi

[2022-11-13 14:14] donelianc commented on #15947
Hey 🤗 team! I noticed this task being inactive for some days now.

I'll try to keep working on it, but updating the task checklist for the latest contributions would be helpful to avoid duplications.

I'll translate [serialization.mdx](https://github.com/huggingface/transformers/blob/9c9db751e29432e8924624ef44856cd9fa671ef3/docs/source/en/serialization.mdx) and submit a PR when it's ready.

[2022-11-13 15:02] #19306 closed

[2022-11-13 19:03] Edenzzzz opened #20193 "Urgent! Weird behavior of CLIPTokenizer when encoding out of vocabulary /non-English text with openai/clip-vit-base-patch32, and question about merges.txt."
### System Info

**Environment is Google colab**
- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not instal

[2022-11-13 22:23] kasmith11 opened #20194 "Spelling Error in Testing Documentation - "checkt" -> "check""
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Us

[2022-11-13 22:34] aymenkhs commented on #20171
Here is a tutorial in the transformers Doc on how to fine tune a pretrained model using the Transformers library (https://huggingface.co/docs/transformers/training), you can also check the Hugging face course https://huggingface.co/course/chapter1/1, for more help you will need to precise what do you want to do exactly

Besides, I noticed that you opened another issue #20187 for the exact same que

[2022-11-14 04:40] Kshitizkhandel opened #20195 "Wav2vec2 Pretraining issue"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

https://colab.research.google.com/drive/1kepA7ryMG7YmNtSYjiJjBM984KRbpZuV#scrollTo=LdIxS2EEgMmz

### Expected behavior

[code]

[2022-11-14 05:59] sgugger commented on #17106
You are not using the [`ddp_timeout`](https://huggingface.co/docs/transformers/main_classes/trainer#transformers.TrainingArguments.ddp_timeout) training argument to put a higher value than 30 minutes, so if you have a big dataset to preprocess, you get this error. Use a bigger value to solve this error or preprocess your dataset in a non-distributed fashion.

[2022-11-14 06:11] sgugger commented on #20079
That would be great, yeah!

[2022-11-14 06:18] sgugger commented on #20154
I disagree with the first two, and even if I did, it's too late to change it without surprising the whole user community. The only issue I see is the bug in `Trainer` you reported :-)

[2022-11-14 06:19] sgugger commented on #20185
Updating the config online would make them incompatible with previous versions of Transformers so that's not a possibility. I'm fine with downgrading the warnings to infos.

[2022-11-14 06:22] sgugger commented on #20194
Thanks for reporting, would you like to open a PR to fix this typo?

[2022-11-14 06:34] sgugger commented on #20170
You can disregard the warning, it's issued wrongly (and it's been fixed on main).

[2022-11-14 06:34] sgugger commented on #20173
cc @sanchit-gandhi

[2022-11-14 07:33] wonhyeongseo opened #20196 "[docs] index page has overflowing image"
The current index page has an overflowing image for huggingface.co/support as shown below.
![image](https://user-images.githubusercontent.com/29195190/201600669-f5bf8b40-ffc2-4c93-aada-27ba50209671.png)

This can be fixed easily by adding `width=100%;` to the inline style.
Note: all current languages are affected.

[2022-11-14 08:05] NielsRogge commented on #20186
Hi,

Could you check whether [this part of the code](https://github.com/huggingface/transformers/blob/2308f3d42cff281cecee413f97f19044f54636d7/examples/pytorch/image-classification/run_image_classification.py#L231-L241) runs fine?

[2022-11-14 08:18] Narsil commented on #20189
@amiralikaboli Can you try setting `TOKENIZERS_PARALLELISM=0` before calling your script ?

You might be triggerring: https://github.com/huggingface/transformers/issues/5486

Basically `tokenizers` does parallelism by default, but it can be messed up by other sources of parallelism, most cases are handled, but maybe you found a way to trigger the deadlock.
Using that might help at least make sure

[2022-11-14 08:40] wonhyeongseo commented on #20083
Trying to add the template right now. https://github.com/huggingface/transformers/pull/20199

[2022-11-14 09:36] liumaishen opened #20201 "distributed training"
why the training args n_gpu is set to 1 when use Trainer's distributed training？
which means only one device is allowed in a node？
and the training parameters printed is calculated with the n_gpus=1.
I want to know what should i do when every node has multi gpus.

[2022-11-14 10:06] amyeroberts commented on #20185
I'll open a PR to downgrade the warnings. I agree the message isn't very clear either - I'll open up another PR to tidy this up.

@NielsRogge This is likely because there's two parameters `size` and `crop_size` that are being converted to a dict - makes the point about the warnings being unclear quite well!

[2022-11-14 10:35] ArthurZucker commented on #19045
Hey! So after investigating in detail, it seems that we indeed have problem, but the good new is that it is not a major issue.

First, we have to use a model that was trained with `relative_key`, so I used `"zhiheng-huang/bert-base-uncased-embedding-relative-key"`.

- The attention scores are indeed different, but the result of the softmax (the last logits are different) is always the same. This s

[2022-11-14 11:44] AndreaSottana commented on #19948
Any thoughts @LysandreJik @sgugger ?

[2022-11-14 12:55] yanksyoon opened #20206 "ONNX support for encoder/decoder separately"
### Feature request

Hello, thanks for your work!

I am trying to leverage NVIDIA's TRITON inference server to speed up generation for Blenderbot model for production.

If I export the model in ONNX format, it exports the entire model whereas generative models go through a separate encoder->decoder cycles(if I understand correctly).

Would you be able to point me towards a direction on how I would

[2022-11-14 13:44] zhaowei-wang-nlp opened #20207 "Pipeline only returns the result of the first sample in a batch"
### System Info

transformers 4.24.0

### Who can help?

@Nars

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I just used the code written on https://huggingface.co/docs/transformers/main_classes/p

[2022-11-14 13:45] thesofakillers commented on #1464
any updates?

[2022-11-14 15:01] #19381 closed

[2022-11-14 15:02] #19361 closed

[2022-11-14 15:02] #19357 closed

[2022-11-14 15:02] NielsRogge commented on #14650
@amyeroberts do you think we should support this?

[2022-11-14 15:16] zhaowei-wang-nlp commented on #20207
Hi, ignore my stupid question. I found the pipeline just returns the result of 1 example every time, instead of a whole batch.

[2022-11-14 15:16] #20207 closed

[2022-11-14 15:21] joanrod commented on #14650
Hi, I fixed the problem by directly using ViTModel for that same task and ignoring the FeatureExtractor.

[2022-11-14 15:29] gkarozis commented on #19825
Did you find any solution for this problem?

[2022-11-14 15:38] zhaowei-wang-nlp opened #20212 "The Document of Pipelines are not complete."
### System Info

transformers 4.24.0

### Who can help?

@sgugger @stevhliu

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

https://huggingface.co/docs/transformers/main/en/main_classes/pipelines#tr

[2022-11-14 15:39] Arij-Aladel commented on #18189
@sgugger sorry for reopenning the issue while using this script using T5 ove cnn-dialy dataset I got the error
[code]

[2022-11-14 16:00] PierreOrhan commented on #20173
Sure!
While we are at it, in the original paper and fairseq implementation, there is a scaling of the feature extractor gradient by 0.1 for the base architecture. I can add that gradient scaling if you wish too, it really helped my trainings. This would require either to use a constant value (0.1, but since its not used for the Large model this might not be the best idea) or to change the config c

[2022-11-14 16:47] stas00 commented on #17534
I haven't tried it, but I don't see any reason why it shouldn't work. OPT has been out for quite a few months now so surely if it didn't work we would have heard by now and fixed it. Give it a try and if you run into problems please start a new Issue. Thank you.

[2022-11-14 17:05] #19111 closed

[2022-11-14 17:08] kasmith11 commented on #20194
@sgugger sure I can open a PR to fix this type.

[2022-11-14 17:28] sgugger commented on #20212
cc @Narsil

[2022-11-14 17:42] sgugger commented on #20206
Might be of interest to @lewtun

[2022-11-14 17:44] sgugger commented on #20201
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep issues for bugs and feature requests only.

[2022-11-14 17:46] sgugger commented on #20195
The script you are using probably requires a more recent version of Transformers. cc @sanchit-gandhi

[2022-11-14 17:53] sanchit-gandhi commented on #20195
As @sgugger has mentioned, you can relax the pinning constraints on all your HF libraries and install them from their latest versions:
[code]

Also, you've got to be careful downgrading `torchaudio` like that as it can mess-up your torch installation. My recommendation would be to leave the default `torchaudio` version and update the Unix package `ffmpeg` to version 4:

[code]

[2022-11-14 17:55] sgugger commented on #20187
You could start by checking out the [course](https://huggingface.co/course/chapter1/1). Also please use the [forums](https://discuss.huggingface.co/) for questions like this, since we keep features for bugs and feature requests only.

You could start by checking out the [course](https://huggingface.co/course/chapter1/1). Also please use the [forums](https://discuss.huggingface.co/) for questions l

[2022-11-14 17:55] #20187 closed

[2022-11-14 18:00] vineetk1 opened #20215 "Why is tokenized-text Non-Fast when it is of type BatchEncoding and the tokenizer is Fast?"
### System Info

Huggingface Transformers version **4.21.1**
PyTorch version **1.12.1+cu116**
Python version **3.10.4**
Platform Ubuntu **22.04.1 LTS**

**transformers-cli env**
Traceback (most recent call last):
  File "/home/vin/.local/bin/transformers-cli", line 5, in <module>
    from transformers.commands.transformers_cli import main
  File "/home/vin/.local/lib/python3.10/site-packages/trans

[2022-11-14 18:12] yunjiangster opened #20216 "Infer pretrained base model and tokenizer used from a fine-tuned model_dir"
### Feature request

I would like to infer the pretrained base model and the tokenizer from the model_dir of a fine-tuned model. Is that possible with the default trainer setup? What I did previously was to programmatically copy all the tokenizer data into each checkpoint folder. But this seems cumbersome.

### Motivation

This reduces overhead during inference/prediction. All I have to specify is

[2022-11-14 18:38] #20171 closed

[2022-11-14 18:42] BramVanroy commented on #20182
That makes a lot of sense! I've been spending too much time on translation-related topics that I forgot that this is not as straightforward as it seems. Perhaps in a perfect world, the tokenizer (+ model) would be task-aware. Just like some tokenizers can switch between a source/target language, they could then switch between tasks and therefore appropriate padding techniques. Maybe that would mak

[2022-11-14 18:42] #20182 closed

[2022-11-14 19:39] NielsRogge commented on #19974
@sgugger thanks for fixing, however I'm still encountering an issue that is probably related to this.

Specifically, the parameter whose name is the same between a base model and a head model (`self.layernorm` in my case) makes the [test_save_load_fast_init_from_base](https://github.com/huggingface/transformers/blob/243439a8271137aa290d7546e5704feeaa0cd1e5/tests/test_modeling_common.py#L313) test

[2022-11-14 20:19] Narsil commented on #20212
Is this doc more helpful ?

https://huggingface.co/docs/transformers/v4.24.0/en/main_classes/pipelines

[2022-11-14 20:46] Bearnardd commented on #20101
Hi @NielsRogge - I guess this issue should be closed?

[2022-11-14 21:04] #20185 closed

[2022-11-14 22:18] chenmoneygithub commented on #19992
We have made a release containing the BPE tokenizer: https://pypi.org/project/keras-nlp/

Please let us know if you find any issues, thank you!

[2022-11-15 00:13] #20196 closed

[2022-11-15 00:53] stanbar commented on #20085
@mm1352363 how did you solved the problem? I'm facing the same issue.

[2022-11-15 01:26] Sonali234 commented on #19825
This worked for me. Thanks!

[2022-11-15 06:31] ashlytom opened #20221 "Unable to use BERTmodel"
### System Info

Transformer version = 4.24.0
Python = 3.8
Error: SSLError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /bert-large-uncased/resolve/main/config.json (Caused by SSLError(SSLError(136, '[X509: NO_CERTIFICATE_OR_CRL_FOUND] no certificate or crl found (_ssl.c:4264)')))

@LysandreJik

### Who can help?

@LysandreJik

### Information

- [X] The of

[2022-11-15 06:49] ashlytom commented on #17611
Getting same issue:

from summarizer import Summarizer

body = 'Text body that you want to summarize with BERT'
body2 = 'Something else you want to summarize with BERT'
model = Summarizer()
model(body)
model(body2)

SSLError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /bert-large-uncased/resolve/main/config.json (Caused by SSLError(SSLError(136, '[X509: NO

[2022-11-15 06:55] ydshieh commented on #20101
Yes, thanks for reminding us :-) @Bearnardd

Closed by #20149

[2022-11-15 06:55] #20101 closed

[2022-11-15 07:23] gkarozis commented on #19825
Thank you. It seems to work for me too!

[2022-11-15 07:55] Michael-YongWang opened #20223 "Yolo model trigger win10/11 reboot on Intel 13900k"
### System Info

All Yolos models/pipeline case my pc reboot immediately on windows 10 and 11 system ( WSL in win11 and Ubuntu(not virtual) work well on the same machine)

1. I reinstalled the os system and tested (both win10 and win11) two times and make sure all the drivers are up to date. The results are the same. (I test the system with Aida64 system stability test, all ok)

2. I tried Ubuntu(

[2022-11-15 08:05] FrostML opened #20224 "Question about layer norm in T5"
I notice that there is no bias and no subtraction of mean in layer norm.

I understand no bias but I'm confused about the meaning of computing variance without subtraction of mean.

Normally, we compute variance, for example:
<img width="491" alt="image" src="https://user-images.githubusercontent.com/7160927/201863288-bcb63739-0f74-4487-bbb8-91299dad2eef.png">
But it's different here. Why is that?

[2022-11-15 08:53] guillaumekln opened #20225 "Whisper: timestamp tokens are missing in the tokenizer vocabulary"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.35
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)

### Who can help?

@ArthurZucker

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folde

[2022-11-15 09:28] ArthurZucker commented on #20225
Hey! Though I agree with you on the fact that normally the tokenizer vocab size is the same as the model's, in this case, the original model was similar. The `timestamp` tokens are all outside vocabulary and decoded as `""` with the fast `GPT2FastTokenizer` in the original code. The `WhisperTokenizer` was adapted to follow this, in order to not bother with the tokens that are only used with the `t

[2022-11-15 10:34] mikechen66 commented on #8011
Please add the snippet of the code into the program of general_utils.py

**1. Find out your path**

For me, the path is listed as follows:

/home/user/miniconda3/lib/python3.7/site-packages/tensorflow/python/keras/utils/generic_utils.py

**2. Paste the code into the program of generic_utils.py**
[code]

**3. Initialize the dev tool**
It will be working after initializing  the dev tool (it is Termi

[2022-11-15 11:18] WaterKnight1998 commented on #19983
Any updates on it @mht-sharma ?

[2022-11-15 11:27] QuantumStatic commented on #4092
Hello @patrickvonplaten

I am working with T5 for paraphrase generation, but I wanted to know if there is a way to use my own custom defined loss function for training?

[2022-11-15 12:58] HenryCai11 commented on #13354
@fabrahman Hi, I am also interested in the issue you mentioned—can we force BART to infill texts just at the masked positions (spans)? Have you found any solutions to that? I'm looking into the codes and wonder if there is such a mechanism @jbmaxwell commented above. I will appreciate it if you can share some clues or ideas :) Thank you!

[2022-11-15 14:37] sgugger commented on #20154
Ah sorry I misread, I do agree with you on the first comment, and this one might be something we can change as a warning is indeed too strong for this message.

[2022-11-15 14:39] sgugger commented on #19974
No, as this means parameters won't be properly initialized. I won't have any bandwidth to fix this in the near future so someone else will have to fix it.

[2022-11-15 14:40] #20194 closed

[2022-11-15 15:01] #19397 closed

[2022-11-15 15:01] #19391 closed

[2022-11-15 15:01] #19387 closed

[2022-11-15 15:01] #19386 closed

[2022-11-15 15:01] #19358 closed

[2022-11-15 15:17] sgugger commented on #20216
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only.

[2022-11-15 15:27] sgugger commented on #20224
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep issues for bugs and feature requests only.

[2022-11-15 15:29] Rocketknight1 commented on #19992
cc @piEsposito to the above comment! ^

[2022-11-15 15:33] piEsposito commented on #19992
@Rocketknight1 thank you let me get started!

[2022-11-15 15:33] sanchit-gandhi commented on #19603
Hey @keturn - have added it to my TODOs!

[2022-11-15 15:37] sgugger commented on #20215
cc @ArthurZucker

[2022-11-15 15:38] jbmaxwell commented on #13354
Hi @HenryCai11, unfortunately it is as I mentioned in my comment above; Bart _attempts_ to reconnect the original suffix, but there are no guarantees that it will. However, for an approach using GPT-2, see my post here:

https://discuss.huggingface.co/t/is-bart-guaranteed-to-not-mess-up-unmasked-tokens-during-text-infilling/21218/2

[2022-11-15 15:41] lsz05 commented on #19136
I almost forgot it.
I'll do something asap.

[2022-11-15 15:57] z80maniac commented on #19090
unstale

I guess this will be my monthly routine...

[2022-11-15 16:37] michaelnation26 opened #20238 "DonutProcessor token2json inefficient implementation"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.4.0-1094-azure-x86_64-with-glibc2.2.5
- Python version: 3.8.15
- Huggingface_hub version: 0.11.0.dev0
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in s

[2022-11-15 16:40] sgugger commented on #19974
I had a very quick look into it and I don't see any easy fix -> so for now I would advise to use a different name for the weights in the head (like `final_layernorm` maybe?)

[2022-11-15 16:43] NielsRogge commented on #19974
Ok, I'll do that, thanks for looking into it

[2022-11-15 17:31] ilos-vigil commented on #11255
I also got exact same error (`output with shape...`) when i generate on **custom** BigBird model. I fixed it by reducing `model_max_length` value from 4096 to 4094 and afterwards i can use pipeline for inference without any problem.

[code]

[2022-11-15 19:46] JuheonChu commented on #12789
I am going to tackle on this [modeling_distilbert.py](\src\transformers\models\distilbert\modeling_distilbert.py) with @Batese2001

[2022-11-15 19:52] katiele47 commented on #12789
I'd like to work on this file [run_image_captioning_flax.py](https://github.com/huggingface/transformers/blob/main/examples/flax/image-captioning/run_image_captioning_flax.py)

[2022-11-15 20:59] davidgilbertson commented on #20154
Oh good! :) Yes I just checked and this is actually coming from the datasets package.

[2022-11-15 21:28] mrm8488 opened #20246 "Add Galactica model"
### Model description

Galactica is a large language model for science.
Can summarize academic literature, solve math problems, generate Wiki articles, write scientific code, annotate molecules and proteins.

Web: galactica.org
Code: https://github.com/paperswithcode/galai

PS: It seems to use OPT architecture so maybe we can reuse the code used for adding these model. I would like to add this mod

[2022-11-15 21:29] peregilk opened #20247 "Saving a 8-bit T5 does not work."
### System Info

Latest.

### Who can help?

@patrickvonplaten

I am able to load a T5 model in 8-bit-format using this command:
`model = T5ForConditionalGeneration.from_pretrained(".",load_in_8bit=True, device_map="auto")`

The model works fine. Saving the model using ".save_pretrained()" also seems to work, and the file on the disk is a lot smaller. I am able to load the save model again without

[2022-11-15 22:43] sgugger commented on #20246
If the architecture is the same, it's just a matter of converting the checkpoints to the HF format and uploading them, no need to add a new model in the library :-)

[2022-11-15 22:47] sgugger commented on #20247
Those are all arguments for inference specifically. `save_pretrained` does not work if you use `device_map="auto"` if you have weights offloaded on the CPU (not sure if it's the case or not here) and it's not been tested with `load_in_8bit` either.

We will probably fix this later down the road, but for now you should not save on disk the model this way (you can find the model in your cache if you

[2022-11-15 22:52] mrm8488 commented on #20246
Hi, Sylvain!

Yes, It is the same (Even I have run the forward pass with their wrapper and the HF `OPTForCausalLM` and the output is the same.

2 questions:

1) The tokenizer seems to use the `Tokenizer`lib: https://github.com/paperswithcode/galai/blob/main/galai/model.py#L75
2) Once converted the ckpts, should I upload them with my personal account?

Thanks!

[2022-11-15 23:27] ianbstewart commented on #18404
+1 for this issue, still having problems with `Tensors must be contiguous` error in evaluation.

[2022-11-16 00:19] jmhessel opened #20248 "Sharded T5X checkpoints can't be converted to pytorch ?"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.0-92-generic-x86_64-with-glibc2.17
- Python version: 3.8.10
- Huggingface_hub version: 0.2.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
-

[2022-11-16 00:20] josecannete opened #20249 "Support X | Y syntax on HfArgumentParser"
### Feature request

[PEP-604](https://peps.python.org/pep-0604/) created the X | Y syntax on python 3.10, which is equivalent to Union[X, Y]. The use of this syntax is not supported by HfArgumentParser.

### Motivation

With this syntax I would like to use something like:

[code]

Instead of:

[code]

When trying to use the first one, it throws an error:

[code]

### Your contribution

Not sure i

[2022-11-16 02:56] FrostML commented on #20224
Sure. have created this topic [question-about-layer-norm-in-t5](https://discuss.huggingface.co/t/question-about-layer-norm-in-t5/26142). I'd close this issue.

[2022-11-16 02:56] #20224 closed

[2022-11-16 03:06] michaelroyzen opened #20250 "All Flan-T5 models configs use the incorrect activation function"
### System Info

The [configs](https://huggingface.co/google/flan-t5-xxl/blob/main/config.json) for all of the Flan-T5 says that the activation function is 'gelu' and yet 'is_gated_act' is set to true. This is an inherent contradiction.

Doing more digging, I realized that per [Google's original Flan-T5 checkpoints ](https://github.com/google-research/t5x/blob/main/docs/models.md#t5-11-lm-adapted-

[2022-11-16 04:52] Kshitizkhandel commented on #20195
Thank you for your swift response on this. @sanchit-gandhi I'm running out of disk space even on google colab pro, do you recommend using colab pro plus/ or anything that you suggest?

[2022-11-16 05:02] xiaoyangnickhu opened #20251 "Consistently getting lower log probabilities for more probable sequences"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill

[2022-11-16 05:26] ZeyiLiao commented on #18478
@gante  Hi gante, when I checked the course [here](https://huggingface.co/course/chapter7/6?fw=pt), I note that when we do training on gpt2 , we don't have left padding setting:? Don't we need that during training? I think it also would affect it?

[2022-11-16 05:28] peregilk commented on #20247
Thanks for the feedback, @sgugger.

So, just to be sure that I understand this: There is not really any way of easily distributing only the 8-bit model. The correct way of doing it will be to distribute the 32-bit version, and then ask people to use **load_in_8bit=True, device_map="auto"** ?

What about loading the 8-bit-version in the HuggingFace widgets. Is that even possible?

[2022-11-16 06:07] #18748 closed

[2022-11-16 07:28] alexvaca0 commented on #19322
Hi, any updates? @ArthurZucker @stancld @patrickvonplaten I did not receive any answer after sending the reproduction script....

[2022-11-16 07:36] Sameedahmad commented on #20246
Not working correctly right now.

[2022-11-16 07:54] Sameedahmad commented on #20246
@sgugger Can you guide us better?

[2022-11-16 08:13] HenryCai11 commented on #13354
Thank you so much @jbmaxwell, the post really helps. I will read the paper shared in the post, and hopefully find a way to use BART in that way. Again, thanks a lot!!!

[2022-11-16 08:15] Arij-Aladel commented on #18189
@muellerzr

[2022-11-16 08:34] peregilk opened #20252 "Running the run_mlm_flax on TPU v4 pods"
### System Info

transformers 4.24.0

### Who can help?

@patil-suraj

I am having problems scaling the run_mlm_flax scripts so that they run on TPU VM v4 Pods (ie the v4-16, v4-32 etc). When running "out of the box", the performance is exactly the same as when running on a v4-8. To me this indicates that I am feeding a lot of empty data. The max `per_device_train_batch_size` for 512 sequences in

[2022-11-16 08:49] guillaumekln commented on #20225
Thank you for the explanation! Feel free to close this issue if you want to keep it this way. I can work around it in my own code.

For the context, I'm converting some Transformers models to another format and I want to always match the tokenizer vocabulary size to the model vocabulary size. In many cases I need to add some tokens (most often the "madeupword" to pad the vocabulary to a multiple o

[2022-11-16 09:09] gsarti commented on #20246
@mrm8488 would probably be best to include under the `facebook` org, some folks at HF like @patrickvonplaten should be able to upload them there

[2022-11-16 09:10] kevinpl07 opened #20255 "Bug in MobileViTForSemanticSegmentation output shape"
### System Info

Python 3.9.6
transformers==4.24.0

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

When running inference on pretrain

[2022-11-16 09:15] Sameedahmad commented on #20246
@patrickvonplaten We need your help on this one.

[2022-11-16 09:43] gante commented on #18478
During training, the model doesn't generate text, it only predicts the next token (for each position in the sequence, given all prior tokens). Being left or right padded doesn't make a difference, the text has no discontinuities :)

That is opposed to generate, where if left padding is NOT applied there will be a gap between the input text and the start of generation, which causes the problems.

[2022-11-16 10:11] NielsRogge commented on #20255
Hi,

MobileViT's semantic segmentation is indeed very low-resolution, as seen in this Space: https://huggingface.co/spaces/Matthijs/mobilevit-deeplab-demo. cc @hollance

If you want to look into models that output more fine-grained segmentation results, I'd recommend checking out [SegFormer](https://huggingface.co/docs/transformers/model_doc/segformer) and [MaskFormer](https://huggingface.co/docs/

[2022-11-16 10:43] sanchit-gandhi commented on #20195
Hey @Kshitizkhandel. The full LibriSpeech dataset contains approx 1000h of labelled audio data. As such, it requires ~130GB disk space to download and prepare, which is why you're running into trouble on a Google Colab! Pre-training is an intensive task, both for compute and storage, so it's only really advised if you really need to do it! Otherwise, you can take a pre-trained checkpoint and fine-

[2022-11-16 10:43] #20195 closed

[2022-11-16 11:06] NielsRogge commented on #20238
Hi,

Thanks for looking into this and finding the bottleneck. Would you be available to contribute this to the community by opening a PR? Thanks!

[2022-11-16 11:31] icedpanda opened #20269 "cannot load bart encoder"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.31
- Python version: 3.10.0
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in

[2022-11-16 11:35] ArthurZucker commented on #19322
Hey sorry not yet !

[2022-11-16 11:51] Kshitizkhandel commented on #20195
I've fine-tuned projects and was looking to try something new but given the hassles it doesn't seem to be a conducive option. Thanks for your help on this @sanchit-gandhi

[2022-11-16 12:08] gante commented on #20251
Hey @xiaoyangnickhu 👋

I believe your snippet has an issue with indexing when appending to `input_logprobs`. `all_tokens_logprobs` contains the log probs for the NEXT token, not for the current token. i.e. accessing `all_tokens_logprobs[batch_idx, 0, token]` has the log probs for the token at position `1`, not for the token at position `0`.

Factoring that in, you get the outcomes that you are exp

[2022-11-16 12:28] sanchit-gandhi commented on #20195
Pre-training is certainly possible, you just need a lot of disk space and compute time for it to be worthwhile!

If you want to try something new, you can check out the Whisper model from OpenAI 😉 https://huggingface.co/blog/fine-tune-whisper This gets very good results with very little fine-tuning!

[2022-11-16 13:11] Saad135 commented on #19487
I can take DeformableDetrConfig next

[2022-11-16 13:13] RJT1990 commented on #20246
Hey guys, stoked for the integration - just one model specific thing, if user enters prompt like:

"[START_AMINO]MVATE[END_AMINO]" -> need to tokenize so the bit inside the special tokens is character-based tokenized -> i.e M, V, A, T, E. we have the logic in https://github.com/paperswithcode/galai/blob/main/galai/model.py, see "escape_custom_split_sequence".

[2022-11-16 13:57] sgugger commented on #20247
There is no way to save and reload an 8-nit model anyway (correct me if I'm wrong @younesbelkada ) so you need to use `load_in_8bit=True, device_map="auto"` indeed.

[2022-11-16 14:07] jplu opened #20275 "Convert LongT5 to ONNX"
### System Info

transformers-cli env

- `transformers` version: 4.24.0
- Platform: Linux-5.4.0-99-generic-x86_64-with-glibc2.17
- Python version: 3.8.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- onnxruntime-gpu: 1.13.1
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib ve

[2022-11-16 14:16] piEsposito commented on #19992
Yeah I'm exploring it and guess what it is not as easy as I thought haha.

[2022-11-16 14:16] sgugger commented on #20248
Hi @jmhessel Flax is in maintenance mode only, so it's very unlikely we will add support to this ourselves. Feel free to open a PR if you want however!

[2022-11-16 14:17] sgugger commented on #20252
Also cc @sanchit-gandhi

[2022-11-16 14:21] sgugger commented on #20249
Looks like adding support while not breaking previous Python version will be tricky, as `from types import UnionType` only work for Python 3.10 and above. We can look at a PR if you want to try a contribution, but I don't think we will add this ourselves until Python 3.10 is more widely supported (PyTorch and TensorFlow do not support Python 3.10 for instance).

[2022-11-16 14:27] sgugger commented on #20275
cc @lewtun

[2022-11-16 14:51] #20079 closed

[2022-11-16 15:02] #19435 closed

[2022-11-16 15:02] #19425 closed

[2022-11-16 15:02] #19423 closed

[2022-11-16 15:02] #19422 closed

[2022-11-16 15:02] #19420 closed

[2022-11-16 15:02] #19419 closed

[2022-11-16 15:02] #19324 closed

[2022-11-16 15:03] #19266 closed

[2022-11-16 15:14] younesbelkada commented on #20250
Hi @michaelroyzen
Thanks for raising this.
You are right, one should use `gated-gelu` as it is done in  t5 LM-adapt checkpoints. We have updated with @ArthurZucker the config files of flan-T5 models.
Note that forcing `is_gated_act` to `True` leads to using gated activation function too. The only difference between these 2 approaches is that using `gated-gelu` forces the model to use `gelu-new` ac

[2022-11-16 15:18] younesbelkada commented on #20247
Yes this is correct, you can also save the model in fp16 to save memory and load it back in int8, but currently saving and loading the model in 8-bit is not supported

[2022-11-16 15:27] Sameedahmad commented on #20246
Any update?

[2022-11-16 16:08] mrm8488 commented on #20246
It is WIP! Thanks! :)

[2022-11-16 16:31] AndreasMadsen commented on #16353
@gante Any progress on this?

I also had this issue when converting a bunch of models. It looks like the `position_ids` buffer is not used for anything anymore in the `Embeddings` class, and is just taking up memory.

[code]

produces

[code]

[2022-11-16 16:54] piEsposito commented on #19992
@Rocketknight1 I'm having it too, which is kinda fun, because the tokens are total mismatches, but when I decode them back they are still the same as the input. I think we will have to go deep on the internals to check for the differences.

[2022-11-16 16:55] hollance commented on #20255
The original model will do a bilinear upsampling to 513x513 which makes the mask larger but also more blurry. In the Transformers library we don't do this upsampling in the model as we don't know ahead of time how you want to use the results. That's why the Transformers model outputs the low resolution version.

[2022-11-16 16:59] michaelroyzen commented on #20250
Thank you!

[2022-11-16 16:59] #20250 closed

[2022-11-16 17:07] michaelroyzen commented on #20250
Thank you @younesbelkada. May I ask how this only affects inference? If a flan-t5 model was fine-tuned with the old checkpoint, wouldn't the wrong activations be used?

[2022-11-16 17:20] ArthurZucker commented on #19240
Hey! So this was answered in #10200, where it the `padding_idx` was removed. It explains that adding `padding_idx` prevents the model from ever learning the first position (and other positional_tokens) that can be set to `0`.

Tell me if this answers your question!

[2022-11-16 18:08] muellerzr commented on #18189
@Arij-Aladel in this case you should reduce your batch size most likley

[2022-11-16 18:15] Arij-Aladel commented on #18189
I did already still problem of not finding gather_for_metric attribute

[2022-11-16 18:16] Arij-Aladel commented on #18189
You can simply run the example as is

[2022-11-16 18:33] michaelnation26 commented on #20238
Yes. I just opened the [PR](https://github.com/huggingface/transformers/pull/20283).

[2022-11-16 18:34] fivehills opened #20284 "Transformer cannot tokenize Chinese words"

[2022-11-16 19:15] fivehills opened #20285 "Transformer cannot tokenize Chinese texts into correct words"
### System Info

Linux Debian,
bert-base-multilingual-cased,
bert-base-chinese

### Who can help?

@SaulLu
@LysandreJik
@ArthurZucker

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

from minicons im

[2022-11-16 19:17] Rocketknight1 commented on #19992
Ugh, of course - there are multiple valid tokenizations for the same string. I'm not enough of a tokenizers expert to know the exact algorithms used and if they differ between the many BPE models we have.

[2022-11-16 19:23] sgugger commented on #20285
cc @ArthurZucker

[2022-11-16 19:35] muellerzr commented on #18189
Thanks @Arij-Aladel, I think I have found the fix. Can you try running the following script on your end to verify? (I have wget to make your life easy):

(Also as mentioned in the other post please make sure you have a pypi version of accelerate >= 0.12.0 to run the scripts, a PR was just merged yesterday to make them a requirement for all these scripts)

[code]

[2022-11-16 19:40] fivehills commented on #20285
Many thanks!

[2022-11-16 20:01] jimmy-marmalade opened #20287 "Flan-T5-XXL generates non-sensical text when load_in_8bit=True"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.10.133+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: y

[2022-11-16 20:03] sgugger commented on #20287
cc @younesbelkada

[2022-11-16 21:29] younesbelkada commented on #20287
Hi @jimmy-marmalade
Thanks a lot for raising this point. Note that `int8` quantization is done in 2 stages, it first converts the model in `float16` and uses the `fp16` to quantize it in `8bit`. If you try to load and run the model in `fp16` you also get gibberish output:
[code]
I suspect there is something wrong with  `bf16` to `fp16` conversion for this specific model and for `xl` model too.
@st

[2022-11-16 21:49] stas00 commented on #20287
- did the bf16 model weights have large values resulting in overflow when used under fp16? bf16 to fp16 conversion is a huge issue with almost every model we have seen - .e.g all large t5 and derivative models. seeing that this is a T5 derivative it's almost certain related, you can see the rich discussion here: https://github.com/huggingface/transformers/pull/10956 and possible workarounds to try

[2022-11-16 21:50] sgugger commented on #20287
Oh that's easy. T5 doesn't work in FP16 because the softmaxes in the attention layers are not upcast to float32. @younesbelkada if you remember the fixes done in BLOOM/OPT I suspect similar ones would fix inference in FP16 for T5 :-)

[2022-11-16 21:51] stas00 commented on #20287
but why are we even going through FP16 to do quanitization? why can't this be done directly in the original dtype?

[2022-11-16 22:55] Birch-san commented on #5421
[code]

[2022-11-17 01:23] kiansierra commented on #17234
Hi @NielsRogge.
To my knowledge there would still be two pending tasks
[] Update README.md to include FAN model
[] Migrate Files, weights to NVIDA organization space
Please let me know what additional tasks you think might be pending

[2022-11-17 01:42] LiJunnan1992 commented on #20250
@younesbelkada It does not seem to be the case based on this line? https://github.com/huggingface/transformers/blob/a00b7e85ea4b3e3185440f1f82a6b58e3660b01d/src/transformers/models/t5/configuration_t5.py#L122

[2022-11-17 05:43] #19045 closed

[2022-11-17 06:23] xiaoyangnickhu commented on #20251
The fix works. Thanks!

[2022-11-17 06:23] #20251 closed

[2022-11-17 06:41] xiaoyangnickhu opened #20290 "Memory issue with OPT models when given long input sequences"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-4.18.0-305.45.1.el8_4.x86_64-x86_64-with-glibc2.28
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU

[2022-11-17 07:15] younesbelkada commented on #20250
@LiJunnan1992
No, it gets overriden by the kwargs [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/t5/configuration_t5.py#L135), check this snippet:
[code]

[2022-11-17 07:16] #19480 closed

[2022-11-17 07:16] #20247 closed

[2022-11-17 07:27] leechehao commented on #16161
Hi jbmaxwell,
I also meet this warning:
`Some weights of T5ForConditionalGeneration were not initialized from the Flax model and are newly initialized: ['decoder.embed_tokens.weight', 'encoder.embed_tokens.weight'] You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.`
Is this normal?

[2022-11-17 07:57] LiJunnan1992 commented on #20250
@younesbelkada I see. Thanks so much for the explanation!

[2022-11-17 08:42] Kshitizkhandel commented on #20195
Yeah, I read your lucid and well articulated blog on it. Great work!

[2022-11-17 09:09] fxmarty commented on #20275
Same silent issue on longformer when `global_attention_mask` is zero everywhere and running with ONNX Runtime. When at least one value is non-zero, it's fine.

[2022-11-17 09:14] xijiu9 commented on #18558
I meet this problem too(but for squad dataset). Seems that they have not fixed it yet.

[2022-11-17 09:43] jplu commented on #20275
Anything I can do on my side to help fixing this issue? :)

[2022-11-17 10:04] Narsil commented on #20290
[code]

What are those values, and what do they correspond to ?

[2022-11-17 10:32] ringohoffman commented on #16059
I would like to work on `EsmForProteinFolding`

[2022-11-17 10:32] fxmarty commented on #20275
@jplu Do you have any warning during the onnx conversion? Things like `TracerWarning: Converting a tensor to a Python boolean might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!`? In my case there were control flows in the model, leading to t

[2022-11-17 10:33] younesbelkada commented on #20287
Thank you very much for all the pointers

I think that T5 [already upcasts the softmax to `fp32`](https://github.com/huggingface/transformers/blob/6c2be845dd384829610897b63e6dcbe911e9e811/src/transformers/models/t5/modeling_t5.py#L539). I suspected that the overflow might come from the addition to positional bias in the line before but did not helped. I also tried to upcast the lm_logits and the h

[2022-11-17 10:42] jplu commented on #20275
Yes I do have several of these `TracerWarning`:
[code]

[2022-11-17 12:12] Saad135 commented on #20053
Hi @atturaioe, are you still working on this? I would like to attempt this if you are not longer working on it.

[2022-11-17 13:27] Arij-Aladel commented on #18189
![image](https://user-images.githubusercontent.com/68355048/202458650-c33c85ae-d134-49ee-8749-1a44e3c0cd2e.png)
Really I do not know what is wrong with this script  .....

[2022-11-17 13:30] muellerzr commented on #18189
@Arij-Aladel yes the fix got merged yesterday, you can find it here: https://github.com/huggingface/transformers/blob/main/examples/pytorch/summarization/run_summarization_no_trainer.py

I would highly recommend doing `pip install -r transformers/examples/pytorch/suummarization/requirements.txt -U` to avoid these dependency issues you have been struggling with.

[2022-11-17 13:43] Arij-Aladel commented on #18189
![image](https://user-images.githubusercontent.com/68355048/202462056-64ce20dd-2d23-4046-a478-f62d2142bbfe.png)
:)

[2022-11-17 13:54] younesbelkada commented on #20287
@stas00 using your tool `detect_overflow` here, and I am flagging an overflow starting from a certain layer (from layer `6` - because of `inf`). (btw I also tried the `autocast` solution but seems to not work for inference, I have seen on the issue that it might work for some situations for inference, but sadly not in this case :/ )
Then the hidden states gets constantly overflowed and clamped at

[2022-11-17 13:58] gante commented on #20290
Hi @xiaoyangnickhu 👋 This seems business as usual for large models and a forum question for the PyTorch experts.

As per our [issues guidelines](https://github.com/huggingface/transformers/blob/main/ISSUES.md), we reserve GitHub issues for bugs in the repository and/or feature requests. For any other matters, we'd like to invite you to use our [forum](https://discuss.huggingface.co/) 🤗

[2022-11-17 14:23] patrickvonplaten commented on #20246
Model is fully added see: https://huggingface.co/models?other=galactica - thanks a lot @mrm8488 for you work here! Closing this :-)

[2022-11-17 14:23] #20246 closed

[2022-11-17 14:26] patrickvonplaten commented on #20248
Actually this is relatively important I think since the main way to pretrain T5 is via Google's T5X repo so having a good Flax->PyTorch conversion in our side I think is not super unimportant.

It's likely that more T5X checkpoints will come out and it'd be nice to be able to directly convert them to PyTorch.

Maybe gently pinging the author of the conversion script: @stefan-it (in case you have a

[2022-11-17 14:36] gante commented on #16353
Hey @AndreasMadsen 👋  No update -- since it is not breaking, just an annoying warning that shouldn't be there, it's low in my priority.

If you'd like to have a go in fixing it, I'd be happy to provide pointers :)

[2022-11-17 14:39] josh-oo opened #20299 "Bug in contrastive search with GPT2-decoders crossattention using batches"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
-

[2022-11-17 14:45] younesbelkada commented on #19090
Hi
The PR #20281 will not be merged until a fix will be found on `bitsandbytes` side.
Could you please checkout from this PR if you want to use this feature from now? Thanks.