[2021-06-14 16:43] #11612 closed

[2021-06-14 16:48] stas00 commented on #11600
Status:

merged:
- [x] src

todo:
- [ ] examples
- [ ] templates
- [ ] tests

[2021-06-14 17:06] cbaziotis commented on #11939
FYI, I tried downgrading and I found that the most recent version that doesn't have this bug is `transformers==4.3.3`. So you could try downgrading to that version for now, until someone fixes it.

[code]

[2021-06-14 17:51] patrickvonplaten commented on #12151
Hey @Lhemamou, the parameter `do_normalize` is overwritten by the model's config: https://huggingface.co/facebook/wav2vec2-base-960h/blob/main/feature_extractor_config.json

[2021-06-14 19:04] #11603 closed

[2021-06-14 19:10] will-rice opened #12158 "Pretraining for TFWav2Vec2"
# 🚀 Feature request

TFWav2Vec2 needs the pretraining implementation like the PyTorch [version](https://huggingface.co/transformers/master/model_doc/wav2vec2.html#wav2vec2forpretraining)

## Motivation

Users of the TensorFlow model will most likely want to be able to do pretraining just like with Pytorch.

## Your contribution

I recently added the [tensorflow model](https://github.com/huggingfac

[2021-06-14 19:13] patrickvonplaten commented on #12144
The pretraining of wav2vec2-u is a pretty complex training pipeline. It'll probably still take a bit until we have this merged

[2021-06-14 19:15] yl-to opened #12159 "Can't run QA fine-tune for bert/albert in distributed way"
## Environment info

- `transformers` version: HEAD detached at v4.6.1
- Platform: Docker, AWS
- Python version:  Python 3.8.5
- PyTorch version (GPU?): 1.8.0
- Tensorflow version (GPU?):
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the official example

[2021-06-14 19:47] stas00 commented on #11600
just need to merge docs, but all is done here.

[2021-06-14 19:47] #11600 closed

[2021-06-14 20:04] yl-to commented on #12159
@sgugger @philschmid

[2021-06-14 20:17] sajastu commented on #7647
Hi @stas00 and @patil-suraj!

I'm wondering if  32.75/11.68/24.97 are fixed on reddit_tifu dataset. I used @patil-suraj to obtain reddit_tifu splits and got the following with the current transformers (i.e., 4.7.0 dev):
[code]
Which is somehow identical to the reported ones in https://github.com/huggingface/transformers/issues/7647#issue-716800235

[2021-06-14 20:24] sgugger commented on #12159
Could you confirm #11872 fixes it?

[2021-06-14 21:18] stas00 commented on #7647
Honestly, it's been so long I don't quite remember what were were doing ;)

@patil-suraj, I hope your memory is more clear. Please let me know if we need to fix anything.

[2021-06-14 22:22] gwc4github opened #12163 "Missing code for predicting custom labels in Bert"
## Environment info

- `transformers` version: 4.6.1
- Platform: MacOS 10.15.7
- Python version: 3.8
- PyTorch version (GPU?): 1.8.1 No GPU
- Tensorflow version (GPU?): No
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...):  Bert

The problem arises when using:
* [ ] the official exampl

[2021-06-14 22:24] Quang-Vinh commented on #11939
Thanks for the advice! So far I have just been manually specifying the language id for the two languages, hopefully, that is sufficient as well.

[2021-06-14 22:46] sajastu commented on #7647
Thank you for your response. @stas00

FYI, @patil-suraj's version of reddit gives: 32.70 / 11.64 / 24.92 and your (@stas00) version gives: 27.08 / 8.54 / 20.69

That's a huge gap I guess and happens by different pre-processing pipelines (maybe?).

[2021-06-14 23:15] yl-to commented on #12159
yeah, confirmed, closing issue.

[2021-06-14 23:15] #12159 closed

[2021-06-14 23:49] brandontang892 commented on #3528
Encountered the same issue. Any solutions for this?

[2021-06-15 01:12] stas00 opened #12164 "[testing] concurrent dist tests fail when using the same master_port"
The failing `tests/extended/test_trainer_ext.py::TestTrainerExt::test_run_seq2seq_ddp` on multi-gpu slow runner happens because of concurrency of `-n 2` on push (it's `-n 1` on scheduled), so we end up with 2 dist tests running at the same time and clashing on ending up using the same default port used by `torch.distributed.launch`.  and the latter test failing with "Address already in Use".

I st

[2021-06-15 01:43] tginart opened #12165 "Documentation for tiny-gpt2 in transformers/examples/pytorch"
# 🚀 Documentation request

The **tiny-gpt2** transformer model is great for fast prototyping, but it seems sparsely documented on the Huggingface hub: https://huggingface.co/sshleifer/tiny-gpt2

## Motivation

It would be helpful if users knew basic info about how tiny-gpt2 was trained. Is it the same corpus as the standard gpt2? Was it distilled from a larger model or trained from scratch? Etc.

[2021-06-15 01:48] sshleifer commented on #12165
It is randomly initialized and trained for 2 steps. So basically it can only be used for prototyping.

[2021-06-15 01:49] #12165 closed

[2021-06-15 03:03] normster commented on #12142
The non-fast tokenizer seems to be fine:

[code]

[2021-06-15 03:26] kurbster commented on #12143
Ok, I posted my question [here](https://discuss.huggingface.co/t/output-includes-input/6831).

Thank you!

[2021-06-15 03:26] #12143 closed

[2021-06-15 07:17] empty-id opened #12167 "ViT for resolution beyond 224x224 support"
When the resolution changes, the size of position embedding of ViTModel also changes, which makes ```from_pretrained``` method not working.

So, how can I use ViT with a different resolution like 64x64?

[2021-06-15 07:17] Jaha96 commented on #8134
@nrjvarshney Hello did you managed this error? I am too having same error. Is there anybody to help?

[2021-06-15 07:32] manueltonneau opened #12168 "Special tokens not tokenized properly"
## Environment info

- `transformers` version: 4.5.1
- Python version: 3.8.5
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

@LysandreJik

## Information

Hi,

I have recently further pretrained a RoBERTa model with fairseq. I use a custom vocabulary, trained with the tokenizers module. After converting the fairseq model to pytorch, I loaded all

[2021-06-15 08:27] NielsRogge commented on #12167
One would need to interpolate the pre-trained position embeddings. You can see how this is done in the original implementation [here](https://github.com/google-research/vision_transformer/blob/00883dd691c63a6830751563748663526e811cee/vit_jax/checkpoint.py#L224).

You can find a PyTorch implementation of that [here](https://github.com/yitu-opensource/T2T-ViT/blob/964796c75445aa5163766d1caa20755f67b

[2021-06-15 08:32] JaheimLee commented on #12000
It seems that you haven't change roformer's positional embedding codes yet. Demo codes are like:
[code]

[2021-06-15 08:38] BramVanroy opened #12169 "Allow setting permissions of downloaded models (via envvar)"
In our research group we all have user accounts on a server where we each run our own experiments (Ubuntu behind the scenes). By default, everyone is downloading `transformers` models to their own home directory. Let's say we have 20 researchers, that might mean that we have 20 duplicates of "bert-base-cased" on the server (and of many other models). This is not efficient at all and takes too much

[2021-06-15 09:03] NielsRogge commented on #12163
Hi,

Tokenizers in HuggingFace Transformers don't take care of padding labels (this should be done by the user). You can only provide text, and it will turn them into input_ids, attention_mask and token_type_ids,

[2021-06-15 09:15] NielsRogge commented on #12103
I see a TF version of Wav2Vec2 has just been added, and they overwrote the `input_processing` function with a custom input_values_processing function as seen [here](https://github.com/huggingface/transformers/blob/040283170cd559b59b8eb37fe9fe8e99ff7edcbc/src/transformers/models/wav2vec2/modeling_tf_wav2vec2.py#L61). So I might do the same for ViT.

[2021-06-15 09:28] empty-id commented on #12167
Thank you for your reply! Actually, I know how to interpolate the pos embedding. But I don't know how to do it seamlessly with huggingface ViTModel. Is it necessary to modify the internal code?

[2021-06-15 09:33] raulcarlomagno opened #12170 "Vision Transformer (ViT) feature vector example (not classification)"
# 🚀 Feature request

## Motivation

I would like to see an example of using Vision Transformer just for feature extraction, get the feature vector, before the classification part of the neural network as can be done with tensorflow hub
https://www.tensorflow.org/hub/common_signatures/images?hl=en#image_feature_vector

[2021-06-15 09:34] empty-id commented on #12167
When I change the image size of ViTModel, I cannot even load it from a pretrained checkpoint.

[code]

This raises an error due to the mismatch of position embedding size.

[2021-06-15 09:34] bhadreshpsavani commented on #9893
There is also a need to check the performance of a model after serving or creating APIs with TRTServing / TorchServing / TensorflowServing. We also require benchmarking on the **number of concurrent users**.
I know this is a bit different from model benchmarking but if this can be added it will make the developer's work easy!

[2021-06-15 09:48] NielsRogge commented on #12167
I think you first need to load the `state_dict` of the original model, like so:

[code]

Then, initialize a new `ViTModel` with custom `image_size`, update the position embeddings of the `state_dict` and load the new model with that `state_dict`:

[code]

[2021-06-15 09:55] NielsRogge commented on #12170
In HuggingFace Transformers, models typically output a dictionary. You can access the feature vector by getting the pooler_output key of that dictionary (assuming you're using ViTModel). It's a tensor of shape (batch_size, hidden_size), so in case you're only providing a single image, and you're using the base-sized model, this will be a tensor of shape (1, 768).

Here's an example:

[code]

[2021-06-15 10:01] Lhemamou commented on #12151
Thanks @patrickvonplaten, it solved the issue ! :) . Nonetheless, in the code from [documentation](https://huggingface.co/transformers/_modules/transformers/models/wav2vec2/feature_extraction_wav2vec2.html#Wav2Vec2FeatureExtractor.__call__), the initialization part of the class Wav2Vec2FeatureExtractor seems to initialize do_normalize to True by default, contrary to what is written in the document

[2021-06-15 10:04] patrickvonplaten commented on #12151
Oh yeah you're right @Lhemamou ! Would you maybe like to open a PR to fix the documentation ? It should state that it defaults to `True` in this case

[2021-06-15 10:07] raulcarlomagno commented on #12170
thank you, that is what i was looking for !
thank you

[2021-06-15 10:07] #12170 closed

[2021-06-15 10:11] Lhemamou commented on #12151
sure I will do it when I have free time :)

[2021-06-15 10:31] abhaygargab opened #12172 "How can we modify the MM-IMDB model for sequence to sequence generation tasks?"
Hi all, thank you so much for the wonderful service.

I have some doubts regarding the training details for MM-Imdb dataset.

Are the image encoder's and tokenizer's embeddings fine-tuned during training on MM-Imdb dataset? If not, can you suggest a way to do it or refer any material for help?

Is there a way to modify the code so that the model’s pre-trained weights can be used for sequence-to-se

[2021-06-15 10:45] empty-id commented on #12167
Wow, you are so smart! That's awesome!

[2021-06-15 10:45] #12167 closed

[2021-06-15 11:22] NielsRogge commented on #12172
Hi,

could you please ask this question on the [forum](https://discuss.huggingface.co/) rather than here? We like to keep Github issues for bugs/feature requests.

Thanks!

[2021-06-15 11:38] PhilipMay commented on #11732
I am still planning to provide a PR later.

[2021-06-15 11:42] PhilipMay commented on #11702
@LysandreJik or @sgugger could you please check this before it gets closed by the "stale bot"?

[2021-06-15 11:49] cbaziotis opened #12174 "Pretrained XLM model with TLM objective generates nonsensical predictions"
Hi, I want to use the [`xlm-mlm-tlm-xnli15-1024`](https://huggingface.co/xlm-mlm-tlm-xnli15-1024) pretrained model, which is the XLM model trained with the auxiliary   Translation Language Modeling (TLM) objective.

I want to give a translation pair to the model, mask some words in one of the sentences and then get the predictions of the model for the masked words. Check the figure for reference.

[2021-06-15 11:50] mozharovsky opened #12175 "TPU training is stuck using T5 with PyTorch Lightning"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu101 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: False
- Using distributed or parallel set-up in script?: False

### Who can help

@patrickvonplaten, @patil-suraj

## Information

I'm fine-tuning the

[2021-06-15 12:15] #11730 closed

[2021-06-15 12:39] #12100 closed

[2021-06-15 12:41] LysandreJik commented on #11702
cc @kssteven418

[2021-06-15 12:44] LysandreJik commented on #12164
Would it be helpful to extract the tests that use the same port with a custom decorator, and run them in a separate `run` directive with `-n 1`?

[2021-06-15 12:45] LysandreJik commented on #12169
Would PR https://github.com/huggingface/transformers/pull/11119 help with your use-case?

[2021-06-15 13:33] #9607 closed

[2021-06-15 14:02] sven-h opened #12177 "Exception during hyperparameter search with Ray and transformers library starting from version 4.5.0"
I currently face the problem that with recent versions of the transformers library (issue starting at version 4.5.0)
the hyperparameter search with ray tune runs into a serialization issue described below.

## Environment info
- `transformers` version: 4.5.0
- Platform: Linux-4.19.0-16-amd64-x86_64-with-glibc2.17
- Python version: 3.8.10
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow ve

[2021-06-15 15:07] #9041 closed

[2021-06-15 15:11] prajdabre commented on #5096
If anyone wants to train their MBART model then feel free to use this.
https://github.com/prajdabre/yanmtt

Contributions are welcome!

[2021-06-15 15:13] prajdabre commented on #6743
If anyone wants to train their MBART model then feel free to use this.
https://github.com/prajdabre/yanmtt

Contributions are welcome!

[2021-06-15 15:14] prajdabre commented on #4151
If anyone wants to train their MBART model then feel free to use this.
https://github.com/prajdabre/yanmtt

Contributions are welcome!

[2021-06-15 16:15] stas00 commented on #12164
That is a possibility too, see the simple proposed solution https://github.com/huggingface/transformers/pull/12166 - perhaps to try first.

[2021-06-15 16:29] MK096 opened #12180 "Can't run 124M using transformers"
I have downloaded gpt 124M on my local machine and i was able to run the interactivesample.py that was provided by them

But when i try to load 124M using transformers, i get following error:
        _OSError: Can't load config for 'models\124M'. Make sure that:

        - 'models\124M' is a correct model identifier listed on 'https://huggingface.co/models'

        - or 'models\124M' is the corre

[2021-06-15 17:10] MaheshChandrra commented on #11999
Thanks for the quick response,I tried using the elastic search from notebook and getting the below error,any inputs would be very much helpful,Thanks .

[code]

[2021-06-15 17:12] MaheshChandrra commented on #11999
Thanks for the link,I tried using elasticsearch from my notebook and getting the below error,any help would be useful,Thanks.

[code]

[2021-06-15 17:20] lhoestq commented on #11999
Hi ! Did you start elasticsearch on your machine ? Could you also check that you used the right port ?

[2021-06-15 17:36] controldev opened #12182 "KeyError: 'labels' during Distilling Zero Shot Classification"
EDIT: I confirmed that this happens with the example script as it is, so no other changes are required to reproduce this.

## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu101 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Using GPU in script?: Yes (NVIDIA P100)
- Using dis

[2021-06-15 18:11] #11249 closed

[2021-06-15 18:11] phosseini commented on #417
There is an example provided [here](https://huggingface.co/blog/how-to-train) with colab (this is for pre-training from scratch), however, I'm still trying to figure the continual pre-training and not-pretraining from scratch (using a pre-trained model as initial checkpoint).

[2021-06-15 18:13] #12164 closed

[2021-06-15 18:16] amogkam commented on #12177
Hey @sven-h yes this is a known issue, same as https://github.com/huggingface/transformers/issues/11249.

From this thread:

[2021-06-15 18:53] sven-h commented on #12177
Hi @amogkam
thanks for the fast reply and the answer.

[2021-06-15 18:53] #12177 closed

[2021-06-15 19:50] leogao2 opened #12183 "Inconsistency between GPTNeo and GPT2 config classes"
The config classes for GPTNeo and GPT2 have a bunch of differences that are seemingly unnecessary. This makes it harder for downstream users to write code that depends on accessing these attributes. See below:

![image](https://user-images.githubusercontent.com/54557097/122113739-bbf92300-cddf-11eb-9ac6-a0ea1a30055b.png)
It seems that max_position_embeddings, hidden_size, num_layers, num_heads, in

[2021-06-15 20:10] nostalgebraist commented on #12183
Seconding this.

Last month I swapped out GPT-2 for GPT-Neo in a [project](https://github.com/nostalgebraist/nostalgebraist-autoresponder/), and these differences made it more difficult to adapt my existing code.

[2021-06-15 21:07] rajgar114 commented on #12084
`I think you must be referring to this comment pytorch/fairseq#2907 (comment) ?`

Yes, @stas00 I was referring to this comment [pytorch/fairseq#2907](https://github.com/pytorch/fairseq/issues/2907#issuecomment-729722676) only.

`Appears to be added 2 years ago.`

No doubt the paper is quite old but I have found some instances that memory efficient fp16 training worked for people having low end GPU

[2021-06-15 21:51] stas00 commented on #12084
Thank you for the feedback, @rajgar114 and letting us know that you'd love to work on that but reality won't allow that at the moment.

I have added it to https://github.com/huggingface/transformers/issues/12126 so it won't get lost and hopefully it'd find a champion.

From your part what would help is to find specific models/setups where it has been found to be converging well despite the limitat

[2021-06-16 01:25] retarfi opened #12188 "TextDatasetForNextSentencePrediction does not seem to contain truncate function unlike LineByLineWithSOPTextDataset"
## Environment info

- `transformers` version: 4.6.1
- Platform: Ubuntu 20.04.2 LTS
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1 (Yes)
- Tensorflow version (GPU?): Not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...): Bert(PreTraining)

The problem arises wh

[2021-06-16 05:11] kevin3567 opened #12189 "T5 Generate from Encoder Output"
Hi,

I am working with the T5ConditionalGeneration for sequence generation. I am wondering that for autoregressively decoding outputs with the _generate()_ function, is there a way to decode a sequence from by feeding an intermediate layer input (such as _encoder_outputs_ or _input_embeds_) as opposed to the _input_ids_. I have noticed that for _forward()_ function, this feature is supported, wher

[2021-06-16 06:21] stas00 commented on #11919
Closing as the same report on Deepspeed side has been closed https://github.com/microsoft/DeepSpeed/issues/1107

[2021-06-16 06:21] #11919 closed

[2021-06-16 06:55] Prashant446 opened #12190 "How to figure out which pretrained tokenizers support emojis?"
Hi, I am working on a dataset with emojis. I found that the BERT tokenizer doesn't support emojis, and we have to manually add them and train their embeddings (#7648). But the RoBERTa tokenizer seems to identify emojis on tokenization as the following code:
[code]
outputs:
[code]
None of this represents the "\<unk\>" token so, all of them should be trained embeddings. Is that right? Also, why are

[2021-06-16 07:25] LysandreJik commented on #12183
Hi @leogao2 and @nostalgebraist, thanks for opening an issue! You're correct that the way this is currently implemented it prevents a few use-cases. Namely this is authorized:

[code]

But these are not:

[code]

Unfortunately we can't just rename arguments - as this would break both checkpoints on the hub as well as local checkpoints. We're thinking of a way to enable this with a convention set a

[2021-06-16 07:42] BramVanroy commented on #12169
Indeed, thanks!

[2021-06-16 07:42] #12169 closed

[2021-06-16 10:49] dogatekin opened #12193 "Cannot import RobertaPreTrainedModel"
## Environment info
I tried with both transformers 3.5.1 and 4.6.1.

### Who can help
Maybe @julien-c since they contributed RoBERTa.

## Information
I want to derive my own class from RobertaPreTrainedModel, but I cannot import that class like I can import e.g. BertPreTrainedModel or AlbertPreTrainedModel. More specifically,

```from transformers import BertPreTrainedModel```
and
```from transfor

[2021-06-16 10:59] tommasodelorenzo opened #12194 "LayoutXLM not loaded"
I am trying to use [layoutxlm model](https://huggingface.co/microsoft/layoutxlm-base), but I get the following error when loading either the tokenizer or the model with respectively `AutoTokenizer.from_pretrained("microsoft/layoutxlm-base")` or `AutoModelForTokenClassification.from_pretrained("microsoft/layoutxlm-base")`.
[code]
Using `transformers 4.6.1`

[2021-06-16 11:27] LysandreJik commented on #12180
Do you have a reproducible code example, or a colab notebook? What is your environment as requested in the issue template? Did you try with a forward slash?

[2021-06-16 11:38] NielsRogge commented on #12194
LayoutXLM is not yet supported by the AutoModel API. You can probably plug it into a `LayoutLMTokenizer` and a `LayoutLMForTokenClassification`.

[2021-06-16 11:49] dinani65 opened #12195 "Batched pipeline for NER"
Hi,

Is there a way to run batches with NER Pipeline rather than just one example?

Thanks.

[2021-06-16 11:54] NielsRogge commented on #12195
This has been asked many times before, see #11244. However, the corresponding PR was not merged, see [this comment](https://github.com/huggingface/transformers/pull/11251#pullrequestreview-637488364) for the reason.

[2021-06-16 12:05] s4sarath opened #12196 "Where I can find official pretrained weights of SOP in Albert and NSP in Bert?"
Hi Guys,

I was checking for the pre-trained weights ( 2 layer classifier ) of ```SOP``` in ```Albert``` and ```NSP``` in ```Bert```.
Seems like it is initializing randomly every time.

Can we have the official weights loaded here or is it not available from official models?
Can anyone clarify please.

Thanks.

[2021-06-16 12:38] ga-tardochisalles opened #12197 "XLM-RoBERTa MLM Trainer not saving 'sentencepiece.bpe.model' file"
## Environment info (Colab)

- `transformers` version: 4.7.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu101 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

## Information

Model I am using xlm-roberta-base:

The problem arises when usin

[2021-06-16 12:39] tommasodelorenzo commented on #12194
I had already tried that, but did not work.
[code]
Gives me the error
[code]
While, `model = LayoutLMModel.from_pretrained(model_name)` does not throw an error, but it seems not able to correctly initialize weights.
[code]

[2021-06-16 12:43] #12195 closed

[2021-06-16 13:13] NielsRogge commented on #12194
Hmm ok, I thought LayoutXLM was equivalent to LayoutLM, but apparently it isn't. I guess one would need to add LayoutXLM to HuggingFace Transformers in order to properly load it. Otherwise, you can use the newly released layoutlmft package by the original authors as explained [here](https://github.com/microsoft/unilm/tree/master/layoutxlm).

[2021-06-16 14:18] bhadreshpsavani opened #12200 "[Docs] Broken Link in the Benchmarks.rst"
## Issue info

In the documentation at [Benchmarks page](https://huggingface.co/transformers/benchmarks.html) the last link is broken due to the reordering of examples folders

It is
[code]
should be changed to
[code]
or a separate documentation page can be created for benchmarking the results of the model. Please Let me know if I can help or if it is being covered by another ongoing effort.

## W

[2021-06-16 14:23] akar5h opened #12201 "ValueError: char_to_token() is not available when using Python based tokenizers ; XLNetTokenizer and encodings.char_to_token bug ;"
## Environment info

- transformers version: 4.6.1
- Platform: Windows
- Python version:  3.8.8
- PyTorch version (GPU?):  1.8.1 , GPU enabled
- Tensorflow version (GPU?):  NA
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
 @patrickvonplaten
 @LysandreJik

## Information
Model I am using (Bert, XLNet ...): XLNet , "xlnet-base-cased"

The problem

[2021-06-16 14:29] bhadreshpsavani commented on #9893
How about when we run an example script a benchmarking script is automatically run and store the results in one file if user pass an optional argument,
When the user uploads the model on the model hub we can directly sort the model based on benchmarking results.

[2021-06-16 14:43] YanDavKMS opened #12202 "Training in google colab with TPU using TFTrainer fails with"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu101 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: Using TPU
- Using distributed or parallel set-up in script?: I assume Yes, under the hood

### Who can help

- trainer: @sgugger @Rocketknight1

## In

[2021-06-16 14:49] sgugger commented on #12200
Don't hesitate to submit a PR with a fix!

[2021-06-16 15:06] #11645 closed

[2021-06-16 15:06] #11641 closed

[2021-06-16 15:06] #11643 closed

[2021-06-16 15:06] #11616 closed

[2021-06-16 15:08] MK096 commented on #12180
My Code:

import gpt_2_simple as gpt2
from transformers import pipeline, set_seed,GPT2Tokenizer, TFGPT2LMHeadModel
from transformers import GPT2LMHeadModel, GPT2Tokenizer,AutoTokenizer, AutoModelWithLMHead
from aitextgen import aitextgen
import os.path

data_folder = os.path.join(os.getcwd())
file_to_open = os.path.join(data_folder, "124M")

print(file_to_open)
tokenizer = AutoTokenizer.from_pretr

[2021-06-16 15:26] #11741 closed

[2021-06-16 15:44] hyunwoongko commented on #11714
![스크린샷 2021-06-17 오전 12 44 24](https://user-images.githubusercontent.com/38183241/122251094-2c4d9480-cf05-11eb-8355-d5741c30a06c.png)

I ported myself :)

[2021-06-16 16:41] LysandreJik commented on #12180
I don't know how you obtained your `124M` folder but it doesn't seem to be using one of our libraries?

[2021-06-16 16:42] LysandreJik commented on #12180
Our libraries save models with a `config.json`, `pytorch_model.bin` if PyTorch and `tf_model.h5` if TensorFlow.

[2021-06-16 16:48] MK096 commented on #12180
I got it from https://github.com/openai/gpt-2
download_model.py 124M (in cmd i wrote)

I was able to run interactive_conditional_samples.py  (in src folder)

[2021-06-16 16:57] cronoik commented on #12201
Why are you not using the fast tokenizer? The error message tells you that the feature `char_to_token` is not available for the slow (i.e. python) tokenizers because nobody has implemented it yet.

[2021-06-16 17:01] hyunwoongko opened #12203 "blenderbot checkpoint convert script has bug."
- error
![image](https://user-images.githubusercontent.com/38183241/122261506-70459700-cf0f-11eb-9c51-d30fc6362352.png)

- original parlai checkpoint
![image](https://user-images.githubusercontent.com/38183241/122261541-79ceff00-cf0f-11eb-938f-0be13cadd471.png)

- so, we should fix codes like below.
[code]

[2021-06-16 17:08] sgugger commented on #12197
Without seeing your training script, it's impossible to diagnose what went wrong. I just tried a `tokenizer.save_pretrained(...)` with this model and I get all the files.

[2021-06-16 17:33] joeddav commented on #11880
Hi, sorry for the slow response. This is due to [a breaking change in the Datasets API](https://github.com/huggingface/datasets/releases/tag/1.6.2). I'll need to update the script accordingly. In the meantime, use datasets <= 1.6.1 and that should solve the problem.

[2021-06-16 17:56] bitbanger commented on #12118
Hi there! Thanks for your response! Sure, here you go. I've confirmed that this code yields the error when run in the environment described in my report:

`import torch
from transformers import GPT2Tokenizer, GPT2DoubleHeadsModel
from transformers.generation_stopping_criteria import StoppingCriteria, StoppingCriteriaList

class DummyStopCriterion(StoppingCriteria):
    def __call__(self, input_ids

[2021-06-16 19:00] stas00 commented on #9893
All data files on the model hub for the same model arch will give the same speed performance results, since they are just data points.

Therefore it's the model code that needs to be benchmarked (and the trainer if there is more than one).

And given that currently we have only one model implementation there is nothing to compare it too.

The main idea of this issue is to do regression testing, to

[2021-06-16 19:09] PhilipMay commented on #11646
I am still working on this...

[2021-06-16 19:14] #12200 closed

[2021-06-16 20:19] splurring opened #12209 "The kernel appears to have died. It will restart automatically. from transformers import pipeline"
I am working on the Jupyter Notebook

With the code:

`from transformers import pipeline`

I get:

"The kernel appears to have died. It will restart automatically."

Can someone explain to me what I have to do to fix this? I have already installed tensorflow and transformers.

[2021-06-16 21:09] patrickvonplaten opened #12210 "Better documentation for generation parameter defaults"
It's very hard to follow how the generation parameters are set when running generation. When looking at the official function: https://github.com/huggingface/transformers/blob/700cee344691afc41f68aa18fedea463b22f95f1/src/transformers/generation_utils.py#L644 all parameters default to `None`, but are then later overwritten by the config's default parameters, *e.g.* here: https://github.com/huggingf

[2021-06-16 21:31] ktangri opened #12212 "Clearer indication for overridden Method in generation"
The expectation for the `prepare_inputs_for_generation` function to be overridden can be made clearer by changing https://github.com/huggingface/transformers/blob/700cee344691afc41f68aa18fedea463b22f95f1/src/transformers/generation_utils.py#L369-L374

to raise a `NotImplementedError` that provides the information mentioned in the function's comment.

@patrickvonplaten

[2021-06-16 21:35] sgugger commented on #12210
Fine by me! I think it can just be stated at the beginning before each arg is documented.

[2021-06-16 22:37] wenting-zhao opened #12213 "[Question] When pretraining a language model, can I choose to mask specific words?"
Hi there,

I apologize if this is answered anywhere.  I need to pretrain a language model with some specific words masked.  I was wondering if this is currently supported?  Since language models are trained in an unsupervised way, I saw in the examples that the provided datasets don't need any labels.  However, I was thinking if it would be possible to create my own (sentence_with_masks, masked_wo

[2021-06-16 22:39] mothguib opened #12214 "Getting 404 Client Error when loading BaptisteDoyen/camembert-base-xnli"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-5.11.16-arch1-1-x86_64-with-glibc2.33
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

## Information

The problem arises when using:
* [ ] the official example scripts: https://h

[2021-06-16 23:37] j-min opened #12215 "Missing PredictionHeadTransform for BertGenerationDecoder"
## Environment info

- `transformers` version: 4.6.0

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...): Bert, BertForGeneration
It seems the [`BertPredictionHeadTransform`](https://github.com/huggingface/transformers/blob/v4.6.0/src/transformers/models/bert/modeling_bert.py#L645) layer (dense+layer norm) is not used in [BertGenerationDecoder](https://github.com/hug

[2021-06-17 00:45] j-min commented on #12215
SImilarly, `token_type_embeddings` is also missing for [BertGenerationEmbeddings](https://github.com/huggingface/transformers/blob/v4.6.0/src/transformers/models/bert_generation/modeling_bert_generation.py#L133).

[2021-06-17 01:09] hyunwoongko commented on #12203
Now I have almost fixed the bug. I will PR soon.

[2021-06-17 02:17] ga-tardochisalles commented on #12197
Hey @sgugger, thanks for the quick reply! I was making a very stupid mistake(typo) and haven't noticed it until now.
I was using 'roberta-base' instead of 'xlm-roberta-base', that is why there was no 'sentencepiece.bpe.model' file when saving it.
Sorry for taking your time!

[2021-06-17 02:18] #12197 closed

[2021-06-17 06:16] alexcombessie commented on #12052
Hi @JetRunner,

I got the following answer from the author (Xiaoqi Jiao)

Should I add `max_length: 128` on the model hub? Happy to take this small PR directly.

Cheers,

Alex

[2021-06-17 06:27] jerry3chen opened #12218 "T5 model seq2seq text generation using word embeddings instead of token_ids does not work"
Hi there,

I trained a MT5ForConditionalGeneration model. During training, I used my own embeddings for encoding (but default embeddings for decoding). However, when I try to generate output using generate function, it will give me an error message. I will post the code and error message in the following:

Here is the code for model training:
`outputs = self.encoder2(inputs_embeds=context, attenti

[2021-06-17 07:22] Narsil commented on #12118
Adding a bit more context,

the error is
[code]

The reason is,  stopping_criteria is **not** a valid argument to `generate` so it get passed as `model_kwargs` which in turn are passed to `greedy` which already receives `stopping_criteria` because it gets created within `generate`.

The proposed solution is simply to enable it (with `logits_processor`) as a real argument of `generate` (doc should

[2021-06-17 07:24] weizaiff commented on #12189
from [https://github.com/huggingface/transformers/blob/master/src/transformers/generation_utils.py](url)
row 369-374:
`
def prepare_inputs_for_generation(self, input_ids: torch.LongTensor, **kwargs) -&gt; Dict[str, Any]:
          return {"input_ids": input_ids}
`
Maybe haven't a new way to add own args other than "input_ids".

[2021-06-17 07:45] slowwavesleep commented on #11743
Hi,

I'd still like to get a comment on whether this is the intended behavior. If it is, then why it is done this way?

[2021-06-17 08:29] logoutlzh opened #12220 "[Trainer.py] tr_loss in trainer with distributed training"
## Environment info

- `transformers` version: 4.4, not very sure
- Platform: linux
- Python version: 3.7
- PyTorch version (GPU?): 1.7
- Tensorflow version (GPU?): //
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Distributed training with single node with multi-gpu

### Who can help

@sgugger

## Information

Model I am using (Bert, XLNet ...): Bart

The problem a

[2021-06-17 08:48] seahrh opened #12221 "Tokenizer encoding skips � character"
## Environment info
- `transformers` version: 4.5.1
- Platform: Linux-4.4.0-19041-Microsoft-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.5
- PyTorch version (GPU?): 1.8.1+cu102 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

- tokenizers: @LysandreJik

## Information

Model I am using (B

[2021-06-17 09:01] LysandreJik commented on #12180
Is that model different from the `gpt2` available on our model hub? https://huggingface.co/gpt2

You would load it like so:
[code]

If it is different, then you should use the conversion script to convert it to a HF-style checkpoint: https://github.com/huggingface/transformers/blob/master/src/transformers/models/gpt2/convert_gpt2_original_tf_checkpoint_to_pytorch.py

[2021-06-17 09:53] udeepam opened #12223 "Argument `never_split` not working on `AutoTokenizer`"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-4.19.0-14-cloud-amd64-x86_64-with-debian-10.7
- Python version: 3.7.9
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

- tokenizers: @LysandreJik

## Information

Model I am using (Bert, XLN

[2021-06-17 10:27] kolakows opened #12225 "Pegasus pretraining in fp16 results in NaN loss"
## Environment info

`transformers` version: 4.5.1
- Platform: Linux-5.4.0-73-generic-x86_64-with-glibc2.29
- Python version: 3.8.5
- PyTorch version (GPU?): 1.4.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help
@patrickvonplaten, @patil-suraj

## Information

Model I am using: pegasus

The p

[2021-06-17 10:40] patrickvonplaten commented on #12189
This might help: https://github.com/huggingface/transformers/pull/10599

[2021-06-17 10:41] patrickvonplaten commented on #12189
It should be possible to directly pass `encoder_outptus`

[2021-06-17 10:41] patrickvonplaten commented on #12225
Yeah, not sure to what extend it is feasible to prevent this as Pegasus was pretrained in `bfloat16` cc @stas00

[2021-06-17 10:42] patrickvonplaten commented on #12218
Hey @jerry3chen,

Can you post a fully reproducible code snippet so that I can take a look? :-)

[2021-06-17 10:51] kolakows commented on #12225
But I'm pretraining a freshly initialized model, so I think the problem shouldn't be with the `bfloat16` casting

[2021-06-17 11:24] applemorshed commented on #2157
the problem for me is , when i load the model turning wifi off or switch off internet connection it fail to run but when i turn internet connection it run again. how can i run it off line.
i also set enviornment variable like this .
import os
os.environ['HF_DATASETS_OFFLINE']='1'
os.environ['TRANSFORMERS_OFFLINE']='1'
generator = pipeline('text-generation', model='EleutherAI/gpt-neo-1.3B')
generat

[2021-06-17 11:26] applemorshed commented on #2157
import os
from transformers import pipeline
#HF_DATASETS_OFFLINE = 1
#TRANSFORMERS_OFFLINE = 1
#os.environ[HF_DATASETS_OFFLINE = 1,TRANSFORMERS_OFFLINE = 1]
os.environ["HF_DATASETS_OFFLINE"] = "1"
os.environ["TRANSFORMERS_OFFLINE"] = "1"
cache_dir='/Users/hossain/Desktop/gpt2/gpt-neo-1.3/model/'
generator = pipeline('text-generation', model='EleutherAI/gpt-neo-1.3B')

text = 'i am fine. what about

[2021-06-17 11:42] sgugger commented on #12220
Since it's averaged over all the training mini-batches, it should be a good representation of the real training loss. I'd personally avoid any complexity and add a new reduce operation here, since a user can always evaluate on the training set to get the "real" training loss if they absolutely need to. Does that make sense?

[2021-06-17 11:46] kchoro commented on #7675
Hi Guys,

Regarding relative positional encoding with Performers, this can be done in
several different ways now and there are lots of papers published recently
demonstrating this, for example:

https://arxiv.org/abs/2105.08399

It is a very simple trick that in practice works very well. If you want to
finetune with the Performer variant a model pretrained with learned
positional encodings, anothe

[2021-06-17 11:55] logoutlzh commented on #12220
Thank you for your reply. I got it.

[2021-06-17 11:55] #12220 closed

[2021-06-17 11:56] patrickvonplaten commented on #11841
I see - did you try to directly use the `sample(...)` method? Think that this could work

[2021-06-17 12:12] patrickvonplaten commented on #11724
True, good catch! Do you mind opening a PR to fix it? We will also have to check if this actually improves the model results

[2021-06-17 12:48] LysandreJik commented on #11743
Hello! Sorry for getting back to this so late.

When porting models over to the `transformers` library, we aim to keep them identical to their original implementation. The original RoBERTa implementation in fairseq uses the same classification head, hence why it was ported like this: https://github.com/pytorch/fairseq/blob/c2e8904b6072d8eddab362ac50b324e374b5951d/fairseq/models/roberta/model.py#L3

[2021-06-17 12:53] LysandreJik commented on #12223
Ah, I believe the fast tokenizers do not have the `never_split` option. In order to achieve this I would add the tokens to the vocabulary instead cc @n1t0 is there another way to handle this?

[code]

[2021-06-17 13:08] LysandreJik commented on #12221
Maybe @n1t0 has an idea!

[2021-06-17 14:27] Rocketknight1 commented on #12202
Hi! We're trying to move away from using TFTrainer for TensorFlow and instead train models with the native Keras API. We have a full example using the Keras approach here: https://github.com/huggingface/transformers/tree/master/examples/tensorflow/text-classification

Training on TPU with this example works correctly, but there are some issues with Keras predictions on TPU that we're actively work

[2021-06-17 14:37] #12105 closed

[2021-06-17 14:39] akar5h commented on #12201
@cronoik , I ran the same with Fast Tokenizer  (XLNetTokenizerFast) on "xlnet-base-cased" , although char_to_token() was available this time , there seems to be some problem with XLNetTokenizerFast .
[code]
While debugging this snippet from the above code,  I observed using **XLNetTokenizerFast on "xlnet-base-cased"**  that `encodings.char_to_token(i, answers[i]['answer_start'])`
is None for most

[2021-06-17 14:54] cronoik commented on #12201
There is to 95% nothing wrong with the tokenizer. You are just using it the wrong way. Please give us an example that leads to None.

[2021-06-17 15:07] #11662 closed

[2021-06-17 15:07] #11656 closed

[2021-06-17 15:07] #11649 closed

[2021-06-17 15:07] #11584 closed

[2021-06-17 15:07] #11529 closed

[2021-06-17 15:07] #11413 closed

[2021-06-17 15:16] udeepam commented on #12223
Thanks! The suggestion works for the token `lol`. However another token that I do not want to be split is `...` and the suggestion does not work for this as shown below.
[code]

However, again it does work using the `BertTokenizer` and the `never_split` argument e.g.
[code]

Is there another workaround?

[2021-06-17 15:31] akar5h commented on #12201
Sure, Try these 2 code snippets ,

with XLNetTokenizerFast:
[code]

With roberta-base:
[code]

In the two snippets above, check the value of  "start_positions" ,  "end_positions"  variables  in "add_token_positions" function  after its final iteration , and compare them .  Its tokenizer.model_max_length for most cases in XLNet one.
Now why is it that in tokenizer (specifically , encodings.char_to_

[2021-06-17 15:33] n1t0 commented on #12221
This is totally expected behavior. This tokenizer uses the same cleanup steps that were used in BERT, and this character is specifically removed.

Cf here on line 492:
https://github.com/huggingface/transformers/blob/32dbb2d/src/transformers/models/bert/tokenization_bert.py#L487-L498

[2021-06-17 15:33] #12221 closed

[2021-06-17 15:37] cronoik commented on #12201
Please give us an example of your text that produces None. You have already shown us your code.

[2021-06-17 15:43] n1t0 commented on #12223
Hi @udeepam, I'm not sure to understand the goal of doing this.

[code]

As you can see, the tokenizer doesn't split the `lol` token, but it doesn't know it. So it ends up being an `[UNK]` token. If it knew it, it wouldn't have split it in the first place. Is it the behavior you expect to get?

Unfortunately, I don't see any other workaround than what @LysandreJik proposed in the first place.

[2021-06-17 16:00] JunnYu commented on #11724
@patrickvonplaten  I have opened a PR  https://github.com/huggingface/transformers/pull/11897 to fix this.

[2021-06-17 16:15] akar5h commented on #12201
[train-v2.0.txt](https://github.com/huggingface/transformers/files/6671676/train-v2.0.txt)
Consider this slice of Squad2.0 dataset , roughly 65 contexts and their qas .  (change file from .txt to json )
I'm working on the complete Squad2.0 dataset  , but this json will reproduce the issue.

[2021-06-17 16:38] stas00 commented on #12225
That's interesting. We have primarily debugged bf16-pretrained models that almost all had this issue as Patrick says.

So this means the model's design is somehow not fp16-friendly.

Could you take a last checkpoint that was still good and run it with `DebugUnderflowOverflow`
https://huggingface.co/transformers/debugging.html#underflow-and-overflow-detection
and report back the failing trace - whi

[2021-06-17 17:25] alexdauenhauer opened #12231 "Batch inference runtime slows down for inputs with different length sentences"
## Environment info

- `transformers` version: 4.6.1
- Platform: Ubuntu 18.04.5 LTS
- Python version: 3.6.9
- PyTorch version (GPU?): 1.8.1
- Tensorflow version (GPU?):
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using (Bert, XLNet ...): LukeForEntityPairClassification

The problem arises when using:
* [ ] the offi

[2021-06-17 17:34] brandontang892 commented on #3528
Found the solution to this. When you try to prune all the attention heads in a layer, you will run into this error. This is why it sometimes shows up and sometimes does not, because your pruning function may or may not decide to prune all the attention heads in some layer depending on how you are computing the importance of each attention head. If you try the example on the Hugging Face Model page

[2021-06-17 17:40] brandontang892 commented on #3528
Found the solution to this. When you try to prune all the attention heads in a layer, you will run into this error. This is why it sometimes shows up and sometimes does not, because your pruning function may or may not decide to prune all the attention heads in some layer depending on how you are computing the importance of each attention head. If you try the example on the Hugging Face Model page

[2021-06-17 18:08] jerry3chen commented on #12218
Hi @patrickvonplaten,

I will post some more detailed codes. But this is downstream task so it is probably not ideal to have all of the code.
I will just post down all of the parts that involve the t5model.

Here is where I initialized the t5 model
`enc2 = MT5ForConditionalGeneration.from_pretrained('google/mt5-small')`

Then is it passed to a bigger model:
`model = Gat2Seq(enc,enc2,vocab.word2id(

[2021-06-17 18:12] yifding commented on #11993
Thank you so much, close the issue now.

[2021-06-17 18:12] #11993 closed

[2021-06-17 18:20] dhuruvasaditya opened #12232 "RobertaForMaskedLM.from_pretrained throwing some weights not initialized error when loading same model type"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu101 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

## Information

I am using a pretrained RobertaForMaskedLM . When I try to load the model I

[2021-06-17 19:08] patdflynn opened #12234 "Reconstructing Tokens from Bert Embedding?"
Sorry if this was posted before but I couldn't it after a few searches.

My goal is to take a sentence, run it through BERT, perturb the contextualized embeddings from the output of BERT, and reconstruct the sentence text.

I'm currently using 'bert-base-uncased' as my tokenizer and model and a perturbed output torch tensor with each token embedding size 768. How do I reconstruct the sentence text

[2021-06-17 20:24] gyin-ai opened #12235 "can predict_with_generate (do_eval) work with sharded_ddp fairscale in 4.6.1+?"
In 4.5.0, sharded_ddp won't work with  predict_with_generate in seq2seq or clm model training during the eval step. Wonder whether it can work in the latest version.

[2021-06-17 23:06] sajastu opened #12237 "BART fine-tuning doesn't work and produces a fixed output for each input"
I'm getting stuck on fine-tuning BART model on reddit-tifu dataset. When I use a pre-trained model of BART, for example, `bart-large-xsum` without finetuning, it works fine and produces sort of sensible output for each input, but as I start finetuning it with BART, it starts to predict irrelevant text for each given input; as if it has been overfit to training data. Although, overfitting doesn't s

[2021-06-17 23:12] stas00 opened #12238 "[doc] t5 incomplete example"
https://huggingface.co/transformers/model_doc/t5.html#training has:
[code]
which is broken unless the right model type is used. And when none if specified it typically presumes `AutoModel`, which gives: `TypeError: forward() got an unexpected keyword argument 'labels'`

So probably need to use an explicit `T5ForConditionalGeneration` and then it works.

@patrickvonplaten, @patil-suraj

[2021-06-17 23:23] stas00 commented on #12238
A possible approach proposed here: https://github.com/huggingface/transformers/pull/12239

[2021-06-18 00:13] david-waterworth commented on #9866
I noticed this myself, `DataCollatorForWholeWordMask` seems to be very specific to the BERT tokenizer. It seems that it should be using the special tokens mask, and the word_ids() from the tokenizer rather than rely on [CLS],[SEP] tokens and subwords starting with ## (so it fails with metaspace for example).

[2021-06-18 02:40] calusbr opened #12241 "Modify BERT encoder layers?"
Hello I would like to modify the encoder layers of the BERT model, to insert FC and ReLu layers.

This idea allows you to reproduce the use of [Squeeze-and-Excitation Networks](https://arxiv.org/abs/1709.01507)

How to use an nn.module class to handle encoder outputs?

Example:

[code]

[2021-06-18 03:11] xiaojinglu opened #12242 "Can't load tokenizer for 'imxly/t5-pegasus'."
when I use t5-pegasus on huggingface.co, What's the problem？
<img width="1589" alt="截屏2021-06-18 上午11 10 34" src="https://user-images.githubusercontent.com/12478408/122500741-e76d4f00-d025-11eb-839c-96f259c89af0.png">

[2021-06-18 05:18] akar5h commented on #12201
@cronoik To clarify, it's not a single text that produces None, A single context and its Q-A pair won't produce None, it is when you do it in bulk, like in JSON (txt file) I provided above.  You'd have to use it in this line,
`train_contexts, train_questions, train_answers = read_squad('train-v2.0.json')`
Apologies if this seems to a very amateur way of discussing an issue, but it's not the first

[2021-06-18 05:35] nickgkan commented on #12142
To add more into this, HF's fast tokenizer seems to add an extra token for every white space between words:
[code]

[2021-06-18 06:01] JaheimLee opened #12244 "RoFormerTokenizerFast has a wrong result when setting "return_offsets_mapping=True""
I use roformer_chinese_char_base  model, so there is no word-level problem. RoFormerTokenizerFast has this bug, but BertTokenizerFast doesn't. Here is the code:
[code]
As you can see, "offset_mapping" is wrong at Out[7].

@JunnYu

[2021-06-18 06:48] JunnYu commented on #12244
@JaheimLee
**uncomment** 取消注释 L44-L53
https://github.com/huggingface/transformers/blob/e43e11260ff3c0a1b3cb0f4f39782d71a51c0191/src/transformers/models/roformer/tokenization_utils.py#L43-L53

and **comment** 注释 L56-L63
https://github.com/huggingface/transformers/blob/e43e11260ff3c0a1b3cb0f4f39782d71a51c0191/src/transformers/models/roformer/tokenization_utils.py#L56-L63

If you use `char level` mod

[2021-06-18 06:50] martingajek opened #12245 "TFBertForMaskedLM won't reload from saved checkpoint, shape mismatch issue"
## Environment info

- `transformers` version: 4.5.1-4.7
- Platform: Debian GNU/Linux 10 (buster)
- Python version: 3.9.2
- PyTorch version (GPU?): N/A
- Tensorflow version (GPU?): 2.5.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@Rocketknight1, @LysandreJik, @sgugger

## Information

Model I am using: TFBertForMaskedLM

The problem arises wh

[2021-06-18 07:44] LysandreJik commented on #12234
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-06-18 08:02] Doragd opened #12246 "Different Weights between google-bert (uncased_L-12_H-768_A-12) and Huggingface-bert (bert-base-uncased)"
Environment: torch==1.8.1+cu111  transformers==4.3.3

[code]
[code]

[code]
[code]

**Why the output of `embeddings.word_embeddings.weight` is different?**

[2021-06-18 08:36] zhangbo2008 opened #12248 "finding a bug in training the code of /src/transformers/models/detr/modeling_detr.py"
finding a bug in training the code of https://github.com/huggingface/transformers/blob/f74655cd9b2e316af9d862968bc59c15d6849cad/src/transformers/models/detr/modeling_detr.py

https://github.com/huggingface/transformers/blob/f74655cd9b2e316af9d862968bc59c15d6849cad/src/transformers/models/detr/feature_extraction_detr.py#L616
should change  encoded_inputs["targets"] to  encoded_inputs["labels"]
beca

[2021-06-18 09:27] NielsRogge commented on #12248
Oh yeah, that makes sense, thanks for spotting it. I didn't have an issue with it as I never directly provided labels created by `DetrFeatureExtractor` to the model, but in case you do, you indeed will encounter an error.

Will update it!

[2021-06-18 10:43] kolakows commented on #12225
I will debug it, thanks for the link on how to do it, but probably will have the results in like ~2 weeks time, because now I'm waiting for the results of training without mixed precision.

[2021-06-18 12:07] NielsRogge commented on #12246
When checking the  [model card]() of `google/bert_uncased_L-12_H-768_A-12`, it states the following:

Hence, `google/bert_uncased_L-12_H-768_A-12` is a retrained version of `bert-base-uncased`. So of course, the parameter values will differ.

[2021-06-18 12:50] hxxxxh opened #12249 "Got unexpected result when using BertTokenizer in Chinese"
## Environment info
- `transformers` version: 4.7.0
- Platform: Linux-5.4.0-74-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: False
- Using distributed or parallel set-up in script?: False
- `tokenizers` version: 0.10.3

### Who can help
@LysandreJik
@sgugger

## Informati

[2021-06-18 12:50] adamFinastra commented on #11880
That did the trick!

[2021-06-18 12:50] #11880 closed

[2021-06-18 13:29] slowwavesleep commented on #11743
Ah, I see. Didn't realize it's done the same way in the original implementation. Thank you for your response!

[2021-06-18 13:29] #11743 closed

[2021-06-18 14:14] sb1992 opened #12250 "RAG with T5 in a multitask setting"
I was trying to run RAG with t5 for multiple tasks i.e fact checking and QA. As i understand only with t5 you can do that by adding a unique prefix for the particular task before the input I was wondering what could be the best way to handle that ? Do i preprocess  train.source, val.source so that they already have these prefixes or is their an easier way as well?

[2021-06-18 15:36] keloemma opened #12253 "First hidden state of the last layer of Bert (french version : FlauBert) only prints vectors of 0 or -0 after using it !!"
## Environment info

- `transformers` version: 4.4.2
- Platform: linux
- Python version: 3.7.6
- PyTorch version (GPU?): 1.5.0a0
- Tensorflow version (GPU?):
- Using GPU in script?: no (for on small sample ~25 sentences) but yes ( for full sample ~70K sentences/paragraphs)
- Using distributed or parallel set-up in script?: no

### Who can help

@LysandreJik
@sgugger

# Library
python  3.7.6
numpy

[2021-06-18 16:06] RobMcH opened #12254 "[Documentation Example] Task Summary - Start/End of Span in QA Example"
## Environment info
This bug pertains the [extractive QA example given in the documentation](https://huggingface.co/transformers/task_summary.html#extractive-question-answering) and will be reproducible across operating systems and library versions. I provide a fix for the PyTorch code below, the same can be applied to the TensorFlow example.

### Who can help
Probably @sgugger and/or @patrickvonp

[2021-06-18 16:30] #12232 closed

[2021-06-18 17:00] #12238 closed

[2021-06-18 17:53] Rocketknight1 commented on #12245
This is an odd one - can you check if the problem still occurs when you use `model.save_pretrained()`? Just pass a path to that method to save, then load the model using `TFAutoModelForMaskedLM.from_pretrained()` with the same path.

[2021-06-18 17:53] oborchers commented on #9803
@mfuntowicz: Thank you for your feedback! Yes, I understand the point for the compatibility to the fullest. After all, it's not that difficult to get to the config if done once or twice.

Regarding the `.generate` function. Thanks for the link! Will look into this more! Yes, absolutely!!

[2021-06-18 18:06] stas00 commented on #12062
Looks like we lost momentum on this one.

Please answer the following 2 questions with 1x and 2x.

1.  dtype autodiscovery:
a. Do we autodiscover the dtype from the state_dict
b. do we pass an explicit `dtype` argument
c. both - with the `dtype` argument overriding autodiscovery

2. Scope of the solution:
a. Do we try to solve this for all 3 frameworks,
b. just pytorch for now

Thank you!

[2021-06-18 18:27] martingajek commented on #12245
Yeah `model.save_pretrained()` followed by `TFAutoModelForMaskedLM.from_pretrained()` works fine

[2021-06-18 18:50] stas00 commented on #9824
Going to make it into a real doc here: https://github.com/huggingface/transformers/pull/12258

[2021-06-18 19:08] AlfredWGA opened #12259 "`ValueError: Expected input batch_size to match target batch_size` occurs when training GPT2 with `Seq2SeqTrainer`"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-4.15.0-144-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help

Models:
- gpt2: @patrickvonplaten, @LysandreJik

Library:
- trainer: @sgugg

[2021-06-18 22:43] lukesalamone opened #12260 "353 duplicate tokens in GPT-2?"
## Environment info
- `transformers` version: 4.6.1
- Platform: Darwin-20.4.0-x86_64-i386-64bit
- Python version: 3.7.5
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help
@LysandreJik

@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): GPT-2

The pr

[2021-06-18 23:07] #12260 closed

[2021-06-18 23:08] lukesalamone commented on #12260
Never mind, realized the tokens are stored in https://huggingface.co/gpt2/resolve/main/vocab.json

[2021-06-19 01:28] martingajek commented on #12245
@Rocketknight1  I think that this is due to the fact that the variable name for the token_type_embeddings clashes with the position_embeddings for having the same name: if I assign a different name to position_embeddings here: https://github.com/huggingface/transformers/blob/2e5dbdf2db4599a6694d0974575a70f9bc3c978e/src/transformers/models/bert/modeling_tf_bert.py#L164
Say go from "embeddings" to "

[2021-06-19 06:39] chitkwan commented on #11421
I reran my failure condition and it no longer fails, so I think this can be closed.

[2021-06-19 06:39] #11421 closed

[2021-06-19 07:57] bzantium opened #12261 "GPT2Model cannot handle 3D attention_mask"
When pretraining GPT2 model, it sometimes need to receive a 3d attention_mask. Let's take an example with "gpt2" model. The model would be trained with an instance consisting of two different document "I am a boy. <|endoftext|> you are rich.".
tokenizer convert the sentence into input_ids: [40, 716, 257, 2933, 13, 220, 50256, 345, 389, 5527, 13] and attention_mask: [1,1,1,1,1,1,1,1,1,1,1].
Since "

[2021-06-19 08:03] Doragd commented on #12246
@NielsRogge  Does the `google/bert_uncased_L-12_H-768_A-12` is equal to `https://storage.googleapis.com/bert_models/2020_02_20/uncased_L-12_H-768_A-12.zip`

[2021-06-19 12:56] Puranjay-del-Mishra commented on #12129
Hey!
I was not aware of its existence to be honest, but shouldnt loading it in the BertTokenizer work?

[2021-06-19 15:01] #11669 closed

[2021-06-19 15:01] #11670 closed

[2021-06-19 15:01] #11664 closed

[2021-06-19 19:23] Aethor commented on #3325
So, I encountered the same issue

This might sound stupid, but it happened because I was using the wrong tokenizer. So, for future readers.. check that you really use an appropriate tokenizer ?

However, I agree the error message is rather obscure. I'm not sure exactly *why* it is triggered (I guess the other tokenizer would produce some IDs that do not exist in the distilbert vocabulary ?) , so I

[2021-06-19 20:01] vasudevgupta7 opened #12264 "TFWav2Vec2ForCTC & Wav2Vec2ForCTC gives different loss values"
## Environment info

- `transformers` version: 4.8.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.10
- PyTorch version (GPU?): 1.8.1 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@will-rice @patrickvonplaten

## Information

Model I am using: `TFWav2Vec2ForCTC` & `Wav2Ve

[2021-06-19 22:28] will-rice commented on #12264
try it with labels that are less than the vocab size. I was able to change it to this and they are pretty close.

`import tensorflow as tf
import torch
from transformers import Wav2Vec2ForCTC, TFWav2Vec2ForCTC

model = Wav2Vec2ForCTC.from_pretrained("facebook/wav2vec2-base-960h")
tf_model = TFWav2Vec2ForCTC.from_pretrained("facebook/wav2vec2-base-960h")

tf_labels = tf.constant([[12, 10, 1, 2, 3],

[2021-06-19 22:30] vasudevgupta7 commented on #12264
Thanks for the quick reply. It will help.

[2021-06-20 01:52] maroxtn opened #12265 "Mbart continue training with same training task on a specific language"
Hello.

I am not sure if this is possible using the transformers library, but it isn't it would be nice to have.

Mbart was initially trained using span corruption and other training tasks on a corpus containing many languages. Since I am going to use it for specifically the Arabic language, I wish to solely finetune it on Arabic text with the same training tasks it had, only then at a third step

[2021-06-20 06:30] Practical-AI commented on #9125
@Nickil21
I used the torch model in the trainer. It's much faster than using pandas and creating a dataset.

`import torch
def test_2(trainer, sentence1, sentence2):
    id_tolabel = {0:'negative', 1: 'positive'}
    model = trainer.model.eval()
    tokenized = tokenizer(sentence1, sentence2, return_tensors='pt').to(model.device)
    with torch.no_grad():
        label = torch.argmax(trainer.model

[2021-06-20 06:44] Practical-AI commented on #9125
`@Nickil21
I used the torch model in the trainer. It's much faster than using pandas and creating a dataset.

`import torch
def test_2(trainer, sentence1, sentence2):
    id_tolabel = {0:'negative', 1: 'positive'}
    model = trainer.model.eval()
    tokenized = tokenizer(sentence1, sentence2, return_tensors='pt').to(model.device)
    with torch.no_grad():
        label = torch.argmax(trainer.mode

[2021-06-20 06:44] JamesHujy opened #12266 "Causal Mask in BertGeneration"
I cannot find the implementation of CausalMask in BertGeneration. Can you help me locate it?

[2021-06-20 09:43] ionicsolutions opened #12268 "[Documentation] Example for LEDForConditionalGeneration does not work"
The [documentation for LEDForConditionalGeneration](https://huggingface.co/transformers/model_doc/led.html#transformers.LEDForConditionalGeneration) appears to be incorrect. The same example is also used for [BartForConditionalGeneration](https://huggingface.co/transformers/model_doc/bart.html#bartforconditionalgeneration), where it works as intended. I believe that the example was just copied and

[2021-06-20 10:43] patrickvonplaten commented on #12264
It should actually throw an error if labels are > vocab_size! Will open an issue for this

[2021-06-20 10:48] stancld opened #12269 "Add TFSpeech2Text"
# 🚀 Feature request
Add TensorFlow implementation of Speech2Text model.

## Your contribution

I'll try to do this.

**Reviewers:** @patil-suraj

[2021-06-20 10:49] patrickvonplaten opened #12270 "Add error message to Wav2Vec2 & Hubert if labels > vocab_size"
# 🚀 Feature request

Add better error message to `HubertForCTC`, `Wav2Vec2ForCTC` if labels are bigger than vocab size.

## Motivation

Following this issue: https://github.com/huggingface/transformers/issues/12264 it is clear that an error message should be thrown if any of the any of the labels are > `self.config.vocab_size` or else silent errors can sneak into the training script.

So we should

[2021-06-20 10:59] Arij-Aladel commented on #3624
Yes I agree there is no guide for pretraining

[2021-06-20 13:00] vasudevgupta7 commented on #12270
I will create a PR to fix this.

[2021-06-20 15:01] #11715 closed

[2021-06-20 15:01] #11712 closed

[2021-06-20 15:01] #11710 closed

[2021-06-20 15:01] #11711 closed

[2021-06-20 15:01] #11700 closed

[2021-06-20 15:01] #11689 closed

[2021-06-20 15:01] #11579 closed

[2021-06-20 15:45] stas00 opened #12272 "[Deepspeed zero3] lazy weights init"
I'm pretty sure we need to follow up to the lazy weights init feature https://github.com/huggingface/transformers/pull/11471
and add under zero3 `deepspeed.zero.GatheredParameters` here (or inside `_init_weights`):

https://github.com/huggingface/transformers/pull/11471/files#diff-6b72b98c4c2dcfc6cc606843917733f5d858374fbc22a735ff483bbc0c1e63eaR1275-R1276

plus need a test.

[2021-06-20 15:49] stas00 opened #12273 "[Deepspeed] [performance] inefficient load with `from_pretrained` w/ zero3"
# 🚀 Feature request

Currently under Deepspeed stage3 with `from_pretrained` we:

a. loop over each sub-module in zero.Init
1. init the sub-module
2. shard and scatter the shards

b. then to load pre-trained weights we loop over each sub-module:
1. gather the shards
2. `load_state_dict` for the one layer layer
3. shard and scatter the shards

c. any sub-module params that weren't in the pretrained

[2021-06-20 15:52] stas00 opened #12274 "[performance] module init w/ `from_pretrained` skip storage allocation"
# 🚀 Feature request

pt-1.9.0 added `torch.nn.utils.skip_init()` which (1) skips the module init (2) doesn't allocate any memory
https://pytorch.org/tutorials/prototype/skip_param_init.html

note: `torch.nn.utils.skip_init()` itself will be in 1.9.1, but the rest of the code should be in 1.9.0

We already implemented part 1 (skipping the custom init) in https://github.com/huggingface/transformers/

[2021-06-20 19:35] Express50 commented on #11787
After some more testing, the above seems to be because of local attention layers in GPT-Neo's default configuration. When specifying ```config = GPTNeoConfig(attention_types=[[["global"], 24]])```, I get similar `past_key_values` as in GPT-2:
[code]

I do think the [documentation](https://huggingface.co/transformers/model_doc/gpt_neo.html#transformers.GPTNeoModel.forward) for `past_key_values` sho

[2021-06-20 20:48] vasudevgupta7 commented on #12264
@will-rice @patrickvonplaten

PyTorch & TensorFlow losses are becoming different if padding indices are set to -100. Checkout this small [Colab notebook](https://colab.research.google.com/drive/190NDNtAKg4y2a-jjMby-XNZ2EYScOm6m?usp=sharing).

This is happening because these [2 lines](https://github.com/huggingface/transformers/blob/2e5dbdf2db4599a6694d0974575a70f9bc3c978e/src/transformers/models/w

[2021-06-20 20:53] vasudevgupta7 commented on #12264
There is one other bug also in TensorFlow implementation. `training` argument should be passed in this [line](https://github.com/huggingface/transformers/blob/2e5dbdf2db4599a6694d0974575a70f9bc3c978e/src/transformers/models/wav2vec2/modeling_tf_wav2vec2.py#L1225) because right now spec augmentation is not getting applied even when `config.apply_spec_augment = True`.

Now, if we pass training arg i

[2021-06-20 20:59] will-rice commented on #12264
Good catches! I'm working on a fix for these. Were you still wanting to open a PR for the label error or would you like me to just roll that one into these?

[2021-06-20 21:01] vasudevgupta7 commented on #12264
I am fine if you are going to fix the label error messages.

[2021-06-20 23:51] anandmg101 opened #12275 "Transformers-CLI not saving pytorch model after conversion"
@patrickvonplaten, @LysandreJik

Hi, I'm using transformers CLI as per https://docs.aitextgen.io/gpt-2-simple/

But getting this error, where transformers is not saving the pytorch model. Not sure why. I tried in both Ubuntu and Windows. Two different system, but getting same error. So not sure what is the issue

Save PyTorch model to pytorch/pytorch_model.bin
Traceback (most recent call last):

[2021-06-21 02:02] sajastu commented on #12237
Hi,

following up on this @patrickvonplaten and @patil-suraj

[2021-06-21 03:35] daquarti opened #12278 "ViTFeatureExtractor.save_pretrained() generate "preprocessor_config.json" but not "config.json""
config.json is needed to use ViTForImageClassification.from_pretrained()

I made a pull-request

[2021-06-21 06:54] LysandreJik commented on #12129
ALBERT and BERT are different models, and the ALBERT tokenizer isn't related to BERT's tokenizer at all. They're not based on the same algorithms: BERT's tokenizer is using WordPiece, ALBERT's using Unigram.

If you're looking for a tokenizer to encompass all other tokenizers, take a look at the [`Auto*` classes](https://huggingface.co/transformers/model_doc/auto.html):

[code]

[2021-06-21 07:23] LysandreJik commented on #12062
I'd vote for 1a, overridden by a configuration attribute (1d?) rather than the `from_pretrained` argument, and 2b.

[2021-06-21 07:46] LysandreJik commented on #12278
`ViTFeatureExtractor` is the feature extractor, not the model itself. The model itself requires the `config.json` file that specifies the architecture of the model, while the feature extractor requires its `preprocessor_config.json` file. These two are different files.

[2021-06-21 07:54] patrickvonplaten commented on #12237
Hey @sajastu,

It's pretty difficult for us to debug the script - from a first look, the hyperparameter settings look good to me.
An effective batch size of 8 (4 * 2) seems rather small to me, but you can see from your loss curves whether 8 is enough I guess.

Also note that the x-sum dataset has some rather special distribution which is not really the same as reddit data IMO. X-sum is extreme sum

[2021-06-21 08:11] LysandreJik commented on #12265
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-06-21 08:18] maroxtn commented on #12265
@LysandreJik  Sorry, I will close the issue now.
However this might qualify as a useful feature request, don't you think?

[2021-06-21 08:18] #12265 closed

[2021-06-21 08:18] LysandreJik commented on #12209
Could you share a colab with a reproducible code example so that we may take a look? Thank you!

[2021-06-21 08:31] LysandreJik commented on #12250
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-06-21 08:46] rohanshingade commented on #10639
@sai-prasanna is it possible to load Bert-base (FP32 model) weights into Q8Bert ?

[2021-06-21 09:08] LysandreJik commented on #12231
Pinging @NielsRogge as he might have an idea of what's going on with LUKE

[2021-06-21 09:10] LysandreJik commented on #12175
Hello! We don't have CI running with pytorch lightning so we would recommend opening an issue on their repository.

Did you try a TPU training with the `Trainer` that comes with `transformers`? It should work fine on 8 cores.

[2021-06-21 09:17] LysandreJik commented on #12249
Pinging @JetRunner

[2021-06-21 09:19] LysandreJik commented on #12168
Hello! What is your tokenizer? Is it a WordPiece-based tokenizer, or a Byte-level BPE-based tokenizer like the original one from RoBERTa?

[2021-06-21 09:41] yossing-audatic opened #12282 "TFWav2Vec2ForCTC: Error when using padded batch and attention mask"
## Environment info

- `transformers` version: 4.8.0.dev0
- Platform: Linux
- Python version: 3.8
- PyTorch version (GPU?):  1.8.1
- Tensorflow version (GPU?):  2.4.1
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
@patrickvonplaten
@will-rice

Models:

- Wav2Vec2

 -->

## Information

Model I am using: TFWav2Vec2ForCTC

The problem arises when

[2021-06-21 09:43] JetRunner commented on #12249
This behavior seems to be related to `BertTokenizerFast`. I'm not very sure whether I know how to fix it but I can give it a look at `tokenizers`.

[2021-06-21 09:51] LysandreJik commented on #12242
The tokenizer specified for that model is `T5Tokenizer`, which is a sentencepiece-based tokenizer. However, the tokenizer file is `vocab.txt`, which is a BERT-like (WordPiece) file.

The T5 tokenizer expects as `spiece.model` file generated by the SentencePiece library, or a `tokenizer.json` file generated by the Tokenizers library.

[2021-06-21 10:29] JetRunner commented on #12249
I wouldn't say the current tokenization is "wrong", but I would prefer `BertTokenizerFast` to be consistent with Google's tokenizer. I'll look into this and let's see what's the behavior of Google BERT.

[2021-06-21 11:38] #12158 closed

[2021-06-21 11:53] sgugger commented on #12254
The example is just a quick demo on Question Answering and there are many, many things it doesn't do. I'd rather keep it simple since this page covers a lot of things already, and since we have the two [question answering](https://github.com/huggingface/transformers/tree/master/examples/pytorch/question-answering) scripts that are more complete.

[2021-06-21 12:00] sgugger commented on #12259
The problem is that you are using a decoder model (DistilGPT2) but have inputs and targets of different lengths, which is impossible for those models. You should use an encode-decoder (also called seq2seq) model for this kind of tasks, see the complete list [here](https://huggingface.co/transformers/model_summary.html#seq-to-seq-models).

[2021-06-21 12:03] sgugger commented on #12062
Agreed with Lysandre: using a config attribute (which defaults to None or "auto") and switch back to the autodiscovery if this attribute is not set to a specific value.

[2021-06-21 12:49] xiaojinglu commented on #12242
so is it the fault of the uploaded model ?

[2021-06-21 13:09] JetRunner commented on #12249
![image](https://user-images.githubusercontent.com/22514219/122767175-f594c700-d2d4-11eb-9168-954fa29297e7.png)
Here's what you get with the original Google BERT tokenizer. Kinda confusing..

[2021-06-21 13:14] JetRunner commented on #12249
@hxxxxh Given the chaotic output of different implementations, rather than try to "fix" one to be consistent with another, I would recommend you to clean the text before using it as an input.

[2021-06-21 14:48] jmrjfs commented on #11065
I tried running it with truncation=True but still receive the following error message: InvalidArgumentError: indices[0,512] = 514 is not in [0, 514) [Op:ResourceGather]

Many thanks!

[2021-06-21 15:00] nithinreddyy commented on #11065
Can you once post the code? I'll look into it. Are you trying to train a custom model?

[2021-06-21 15:06] #11723 closed

[2021-06-21 15:06] #11262 closed

[2021-06-21 15:06] #11137 closed

[2021-06-21 15:06] #10984 closed

[2021-06-21 15:06] #10923 closed

[2021-06-21 15:06] #9637 closed

[2021-06-21 15:16] stas00 commented on #12062
**update**: added 1d and 1e options as proposed.

So if we go with 1e - `from_config` is then just 1d, right? since there is no model to do autodiscovery from.

Question: could it be possible that the model will have some weights that use a different dtype than the rest of the model?

[2021-06-21 15:17] #11749 closed

[2021-06-21 15:21] daquarti commented on #12278
The problem is ViTForImageClassification.from_pretrained() not take "preprocessor_config.json" and you need to rename it "config.json"

[2021-06-21 15:36] sgugger commented on #12062
Yes, `from_config` uses just 1d.
For your question, I'm not aware of such a situation existing.

[2021-06-21 15:40] sajastu commented on #12237
He @patrickvonplaten,

Thanks for your response!

The problem that I'm facing is that: when I'm running the generation phase of `facebook/bart-large-xsum` (i.e., without fine-tuning), I'm getting comparably high scores (22.43/ 7.21 / 17.65); however and interestingly, when I finetune it for a few training steps (let's say 10 training steps), and then run the fine-tuned model on the same test set,

[2021-06-21 17:02] Rocketknight1 commented on #12245
Hey, thank you for that very helpful bit of diagnostic info! That links this with #11202,  another issue we have caused by the same underlying problem. This is helpful because I'll probably need to make some breaking changes to fix that issue, and the fact that it's causing multiple downstream problems will increase the urgency there.

[2021-06-21 17:09] martingajek commented on #12245
Cool! Glad that was helpful, thanks for looking into the issue.

[2021-06-21 17:10] lucaguarro opened #12286 "Memory leak when using DistilBert for inference to extract [CLS] hidden state"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten @drjosephliu

## Information

Model I am using (Bert, XLNe

[2021-06-21 17:28] AlfredWGA commented on #12259
@sgugger Ah that's exactly my mistake. Thank you very much for the answer.

[2021-06-21 17:28] #12259 closed

[2021-06-21 19:37] kevhahn97 commented on #12115
I found it resolved by fixing model config. Now it's working

[2021-06-21 20:14] gwc4github commented on #12163
Thanks for this note @NielsRogge and sorry for the delay getting back to you.  Lots to do here.
We will make the change in our code but it seems like this would be a good feature for the framework and the code is done.

[2021-06-21 21:35] jmrjfs commented on #11065
Many thanks for coming back!

I am just applying the BERT model to classify Reddit posts into neutral, negative and positive that range from as little as 5 words to as many as 3500 words. I know that there is a lot of ongoing research in extending the model to classify even larger tokens...

I am using pipeline from Hugging Face and under the base case model the truncation actually works but under

[2021-06-22 02:51] stas00 opened #12295 "[examples] replicate the new `--log_level` feature to all trainer-based pytorch examples"
https://github.com/huggingface/transformers/pull/12276 introduced a new `--log_level` feature, which now allows users to set their desired log level via CLI or TrainingArguments.

`run_translation.py` was used as a "model" for other examples.

Now we need to replicate this to all other Trainer-based examples under examples/pytorch/, the 3 changes are
1. importing datasets
2. using `training_args.g

[2021-06-22 03:06] bhadreshpsavani commented on #12295
Can I take this?

[2021-06-22 03:16] stas00 commented on #12295
Yes, of course! Thank you, @bhadreshpsavani

[2021-06-22 05:39] suzyahyah opened #12296 "BART infilling example?"
Hi,

I'm trying this official example from the documentation (v4.7.0) for BART mask infilling :

 "https://huggingface.co/transformers/model_doc/bart.html#bartforconditionalgeneration"

[code]

First, I get this `TypeError: __init__() got an unexpected keyword argument 'force_bos_token_to_be_generated`
After removing that argument, the output is:` ['UNALSO SEE']`, which is unexpected.

I also trie

[2021-06-22 05:47] suzyahyah commented on #12296
(Resolved,  but documentation needs to be updated)

[code]

will let the model do infilling.

[2021-06-22 06:00] pandyahariom opened #12297 "Error: while executing run_qa.py from examples/pytorch/question-answering/ directory"
I am using the Google Colab environment to perform QA task. To evaluate finetuned model I am using run_qa.py file but in the **STEP-2** below, while using run_qa.py, I am getting mentioned error.

**STEP1:**
In the first step, the bert_base_cased model trained on the MLM task is finetuned on QA task using SQuAD.

model = AutoModelForQuestionAnswering.from_pretrained(path_of_my_bert_base_cased_MLM_

[2021-06-22 07:06] nithinreddyy commented on #11065
Can you try this code once, it's not roberta model, but it's Huggingface-Sentiment-Pipeline

[code]

**Meanwhile i'll try to figure out for Roberta model**

[2021-06-22 07:17] LysandreJik commented on #12278
`ViTForImageClassification` is not `ViTFeatureExtractor`, the first one is a model while the second one is a feature extractor. See some usage examples [here](https://huggingface.co/transformers/model_doc/vit.html#transformers.ViTForImageClassification)

[2021-06-22 07:55] LysandreJik commented on #12286
Hi! You're keeping the results of your model forward call in memory when extending your `pooled_output` list so your memory is bound to take a hit as you iterate through your dataset

[2021-06-22 08:04] CodyLDA opened #12299 "T ** 2 in distillation process"
Hello,

I am confused about one part in the https://github.com/huggingface/transformers/blob/master/examples/research_projects/distillation/distiller.py script by VictorSanh et. al.

![image](https://user-images.githubusercontent.com/33768245/122886299-2100cb80-d340-11eb-8118-0c0888c05fb1.png)

Why does the script weight the KL-Divergence between the student and the teacher distribution with an ad

[2021-06-22 08:27] #12246 closed

[2021-06-22 09:50] yc1999 opened #12301 "Are there any examples showing how to use the `metric_for_best_model` of class `TrainingArguments`?"
<img width="567" alt="截屏2021-06-22 下午5 49 14" src="https://user-images.githubusercontent.com/37548571/122903624-2a128c80-d382-11eb-9400-4bb884d6c0c6.png">

In the [documents](https://huggingface.co/transformers/master/main_classes/trainer.html#trainingarguments), it says one can pass a `str` to `metric_for_best_model `.I am kind of confused why this can work. For example, can I just set `metric_fo

[2021-06-22 12:51] sgugger commented on #12297
You are using a model with `max_length = 128` but then pass along `max_seq_length 384`, which is overridden to become 128 since that is the maximum the tokenizer thinks the model can handle because of:
[code]
and then trying to use a stride of 128. Either pick a greater max length or lower the stride to be < 128.

[2021-06-22 13:55] pandyahariom commented on #12297
@sgugger Thanks a lot. I have reduced stride and it is working now.

[2021-06-22 13:55] #12297 closed

[2021-06-22 13:58] #12268 closed

[2021-06-22 14:16] Noskid1999 opened #12306 "Dimensional weight error"
## Environment info

- `transformers` version: 4.7.0
- Platform: Windows
- Python version: 3.7.5
- PyTorch version (GPU?): 1.8.1+cu111
- Tensorflow version (GPU?): 2.4.0
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

Models:
wav2vec2: @patrickvonplaten

## To reproduce

Steps to reproduce the behavior:

1. Same steps as in the fine-tuning wav2v

[2021-06-22 14:36] LysandreJik commented on #12301
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Pinging @sgugger

Thanks!

[2021-06-22 14:45] sgugger commented on #12301
The metrics need to be computed and have a name that is in what your `compute_metrics` function returns.

[2021-06-22 15:06] #11683 closed

[2021-06-22 15:37] #12306 closed

[2021-06-22 15:44] jandono opened #12307 "Tokenizing in the dataset and padding manually using tokenizer.pad in the collator"
## Environment info

- `transformers` version: 4.2.2
- Platform: Linux-5.4.0-74-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...): B

[2021-06-22 16:07] tlby opened #12308 "odd whitespace handling with imported sentencepiece models"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-4.15.0-143-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help
@LysandreJik Although my example uses ReformerTokenizer, I th

[2021-06-22 16:31] stas00 commented on #12295
@bhadreshpsavani, once https://github.com/huggingface/transformers/pull/12309 gets merged, please rebase your branch and rename
[code]

Thank you!

[2021-06-22 17:03] wholebuzz commented on #9461
I'm getting the same error, with code that hasn't changed since it worked.  I guess the model downloaded by from_pretrained() is no longer compatible with older tokenizers or transformers code.

tokenizers==0.8.1.rc1
transformers==3.0.2

But what to upgrade to so that it works?  I'm trying to maintain compatibility with javascript tokenizers 0.6.2 because there are other version issues there on th

[2021-06-22 17:35] wholebuzz commented on #9461
Can't even get working with latest tokenizers and transformers.  Although upgrading change the error to:
`ValueError: cannot reshape array of size 22268928 into shape (30522,768)`

[2021-06-22 17:42] wholebuzz commented on #9461
Reproduction script:
[code]

Python: 3.8.4

absl-py==0.10.0
astunparse==1.6.3
datasets==1.8.0
filelock==3.0.12
gast==0.3.3
h5py==2.10.0
keras==2.4.3
keras-applications==1.0.8
keras-preprocessing==1.1.2
numpy==1.19.2
opt-einsum==3.3.0
protobuf==3.12.2
regex==2020.7.14
requests==2.24.0
sacremoses==0.0.43
sentencepiece==0.1.94
six==1.15.0
scikit-learn==0.24.2
scipy==1.4.1
tensorboard==2.4.0
tensorflo

[2021-06-22 17:43] allenwang28 opened #12310 "New `--log_level` feature introduces failures using 'passive' mode"
## Environment info

- `transformers` version: `nightly`
- Platform: PyTorch
- Python version: 3.6
- PyTorch version (GPU?): TPU
- Tensorflow version (GPU?): n/a
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: yes

### Who can help
@stas00 @sgugger

## Information

Model I am using (Bert, XLNet ...): XLNet

The problem arises when using:
* [x] the official example scr

[2021-06-22 17:45] stas00 commented on #12310
Thank you for the report, it will be fixed shortly via https://github.com/huggingface/transformers/pull/12309

I'm just working on a test - need another 10min or so

[2021-06-22 18:13] #12310 closed

[2021-06-22 18:13] allenwang28 commented on #12310
Thank you for fixing this so quickly!

[2021-06-22 18:14] stas00 commented on #12295
ok, it's merged now.

[2021-06-22 18:18] wholebuzz commented on #9461
Interestingly `distibert-base-uncased` works just not `distilbert-base-cased`. Maybe missing some config?

[2021-06-22 18:19] bhadreshpsavani commented on #12295
Thanks!

[2021-06-22 19:15] dataframing commented on #12020
+1, it seems like this method gets triggered on each call to open-ended generation, which pollutes logs quite a bit :/ Is there a way to have it run just once on `pipeline` creation?

[2021-06-22 20:20] jandono commented on #12307
Some additional info that might help. Encodings looks like: `encodings = [batch_encoding_1, ... , batch_encoding_2]`.  Each batch encoding looks like:

[code]

And this is the line that eventually raises an exception:

https://github.com/huggingface/transformers/blob/1498eb9888d55d76385b45e074f26703cc5049f3/src/transformers/tokenization_utils_base.py#L699

[2021-06-22 20:28] jandono commented on #12307
I managed to make a small reproducible example:

[code]

[2021-06-22 21:06] jmrjfs commented on #11065
Thanks so much for your help! I also digged in a bit further…It seems the Roberta model I was using is only capable to use 286 words per token? (I used a exemplary text and cut it down until it ran). Might be the easiest way to pre-process the data first rather than using the truncation within the classifier.

[2021-06-22 21:12] lucaguarro commented on #12286
Seems like I have fixed my problem by making `pooled_outputs` a pytorch tensor and not a list.
So that my function now looks like this:

[code]

Still do not know why having a list of tensors is a problem but I suppose that this does not concern Huggingface

[2021-06-22 21:12] #12286 closed

[2021-06-22 21:47] sam-qordoba opened #12315 "Model is saved every eval_steps steps if eval_steps < save_steps. Is this expected behavior?"
## Environment info

- `transformers` version: 4.6.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.5
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@sgugger

## Information

Model I am using (Bert, XLNet ...): Bert, but I don't think that is

[2021-06-22 22:34] #9824 closed

[2021-06-22 22:52] sgugger commented on #12315
You can't have different evaluation and save intervals when using `load_best_model_at_end=True` (save need to be synchronized with evaluation otherwise we can't keep track of the best model). Remove that option and you will have the evaluation and save disconnected as requested.

[2021-06-22 22:58] sam-qordoba commented on #12315
Thank you, that makes sense.

Also, now that I know it's related I immediately noticed
![image](https://user-images.githubusercontent.com/47401552/123009944-8a013700-d372-11eb-9120-67d8115ce581.png)

Might be worth mentioning under `save_strategy` as well? But maybe it was just me.

[2021-06-22 23:53] sgugger commented on #12315
Sure! Do you want to make a PR with that change?

[2021-06-23 01:55] yc1999 commented on #12301
this works for me，thank you~

[2021-06-23 01:55] #12301 closed

[2021-06-23 04:19] stas00 commented on #12062
@asit2898, please give a try to this PR https://github.com/huggingface/transformers/pull/12316 - it should do the right thing automatically as requested.

[2021-06-23 04:24] stas00 commented on #11209
This PR is related - adding `config.torch_dtype` field: https://github.com/huggingface/transformers/pull/12316

I guess I can tackle this one next in line.

[2021-06-23 05:05] jerryIsHere opened #12317 "Tokenizer's normalization preprocessor cause misalignment in return_offsets_mapping for tokenizer classification task"
## Environment info
- `transformers` version: 4.6.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1+cu102 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Using GPU in script?: not relevant
- Using distributed or parallel set-up in script?: not relevant

### Who can help
Models:
- albert, bert, xlm: @LysandreJik

Library:
- to

[2021-06-23 06:46] nithinreddyy commented on #11065
Actually, you can train your custom model on top of pre-trained models if you have content and its respective class. That makes the model much accurate. I have a bert code if you want I can give it to you.

[2021-06-23 06:52] stepbystep88 opened #12318 "Downloading the models is getting slower than before"
Downloading the models (using the **model.pre_trained('')** function) is getting slower than before, now the download speed is stable at 1MB/s, but it could reach 10MB/s a month ago.

I wonder if the official limits the download speed, please let me know if so.

Thanks for your supports.

[2021-06-23 07:44] rspreafico-absci opened #12319 "`fill-mask` pipeline looks for tokenizer `config.json` which is saved as `tokenizer_config.json` by `tokenizer.save_pretrained`"
## Environment info
- `transformers` version: 4.7.0
- Platform: Linux-5.4.0-74-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@sgugger
@LysandreJik

## Information

Model I am using: RoBERTa

The prob

[2021-06-23 07:57] manueltonneau commented on #12168
Hi @LysandreJik, thanks for your reply and sorry that I'm just seeing this now. My tokenizer is a byte-level BPE-based tokenizer.

[2021-06-23 08:10] julien-c commented on #12318
Nothing changed on our side.

Can you paste the output of e.g. `wget -O /dev/null https://huggingface.co/bert-base-uncased/resolve/main/pytorch_model.bin`?

[2021-06-23 08:11] avercau commented on #5829
The same issue exists for _get_eval_sampler... I patched the Trainer in the mean time, but it would be good if it were fixed.

[2021-06-23 08:38] #12099 closed

[2021-06-23 09:33] lancekung commented on #10218
HI, Did you successfully run the Huggingface T5 pretraining? Can you give me some advice?

[2021-06-23 10:05] jmrjfs commented on #11065
Thanks! Yes that would be amazing. I still have the problem however that I
receive the error message "index out of range in self" - even after cutting
the text body down to 200 words. Thanks so much for your help!
[image: Screenshot 2021-06-23 at 10.45.14.png]

Am Mi., 23. Juni 2021 um 07:46 Uhr schrieb nithinreddyy <
***@***.***>:

[2021-06-23 10:08] nithinreddyy commented on #11065
you mail me to nithinreddy1677@gmail.com

[2021-06-23 10:45] stepbystep88 commented on #12318
![image](https://user-images.githubusercontent.com/47015435/123083858-16832680-d453-11eb-94c6-6f18104b1376.png)

Of course, please check the above picture.

[2021-06-23 10:48] julien-c commented on #12318
Yep, that's downloading directly from [AWS Cloudfront](https://aws.amazon.com/cloudfront/), there's not much we can do on our side unfortunately

cc @osanseviero

[2021-06-23 11:10] stepbystep88 commented on #12318
Okay, thanks for your attention to this issue.

[2021-06-23 11:20] MehwishFatimah commented on #11033
I am also having the same issue and I don't have input/output longer than 1024/.

[2021-06-23 11:29] lxbchampagne commented on #10277
The issue happens again with latest version of tensorflow and transformers.

`>>> import transformers

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'pipeline' from 'transformers' (unknown location)

'2.5.0'

'4.7.0'`

[2021-06-23 11:36] sgugger commented on #12319
The config it asks for is the model config, not the tokenizer config. The fact the tokenizer can be loaded independently of the model has been fixed recently, so you should try on a source install.

[2021-06-23 11:52] rspreafico-absci commented on #12319
I will try with a source install, however the error message says that the `config.json` file is missing from the file path specified with the `tokenizer` parameter, not from the file path specified with the `model` argument. My bad that I didn't report the full error message above, here it is:

[code]

[2021-06-23 11:55] sgugger commented on #12319
Yes, that was the bug: the tokenizer required to have the model saved in the same directory to be reloaded in a pipeline.

[2021-06-23 11:56] rspreafico-absci commented on #12319
Gotcha, thank you!

[2021-06-23 11:59] LysandreJik commented on #5829
Hi @avercau can you open an issue with your problem? Thank you

[2021-06-23 12:23] rspreafico-absci commented on #12319
I cloned the `transformers` repo as of 5 min ago and installed from source, but I am getting the same error message. `transformer-cli env` confirms that I am using the `dev` version of `transformers`:

[code]

[2021-06-23 13:01] stekiri opened #12322 "Generate text with `model.generate` on TPU does not work"
## Environment info
- `transformers` version: 4.7.0
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29 (Ubuntu 20.04.2 LTS)
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1+cu102 (False)
- PyTorch XLA version: 1.8.1
- Using GPU in script?: No, using TPU
- Using distributed or parallel set-up in script?: No, using a single TPU core

### Who can help
@patrickvonplaten

## Information

Mod

[2021-06-23 13:48] lampard2a4 commented on #10468
Thank you @bhadreshpsavani . You saved my life!

[2021-06-23 14:14] Shreekavithaa commented on #9503
Facing the same issue.

[2021-06-23 14:19] sgugger commented on #12319
I'm trying to reproduce but it all works fine on my end. Since I don't have your model and tokenizer, here is the code I execute:
[code]

[2021-06-23 14:37] lierik opened #12325 "How to assign gpu when using run_language_modeling.py"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux n188-182-130 4.14.81.bm.23-amd64
- Python version: 3.7.3
- PyTorch version (GPU?):1.7.1
- Tensorflow version (GPU?): 2.4.1
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
- gpt2: @patrickvonplaten, @LysandreJik

## Information

Model I am using (gpt2.):

The tasks I am working on is:

[2021-06-23 14:40] #12193 closed

[2021-06-23 15:01] #11733 closed

[2021-06-23 15:19] LysandreJik commented on #12325
You should be able to control this with the `CUDA_VISIBLE_DEVICES` environment variable. See this [stackoverflow issue](https://stackoverflow.com/questions/39649102/how-do-i-select-which-gpu-to-run-a-job-on) for example

[2021-06-23 15:35] jmrjfs commented on #5611
Thanks a lot for your help here...I am still having troubles running a similar code. Did you managed to run it in the end? Would you mind sharing how you embedded the vocab_size part?

[code]

[2021-06-23 16:06] sam-qordoba commented on #12315
sure!

[2021-06-23 16:16] sam-qordoba commented on #12315
haha it's been a while!
![image](https://user-images.githubusercontent.com/47401552/123132567-badd7c80-d403-11eb-8a90-b44c52cfe8da.png)

[2021-06-23 16:19] sgugger commented on #12315
Oh indeed! :sweat_smile:

[2021-06-23 17:35] mozharovsky commented on #12175
Hello @LysandreJik, thanks for replying!

Yes, `🤗/Trainer` works perfectly fine with 8-cores, `t5-small` gets fine-tuned in under 10 minutes on TPU-v3. Nevertheless, it's still unclear whether this issue happens due to some lightning trainer internals or T5 model – `roberta-base` works fine with lightning using 8 TPU cores.

The latter makes me think that it might be some T5-specific issue, mightn

[2021-06-23 17:39] #12315 closed

[2021-06-23 18:04] mozharovsky commented on #11642
Hello @liyucheng09!

This happens due to dynamic checks that happen to optimize imports in the transformers codebase. (e.g. when you import fast tokenizers using `is_tokenizers_available()` method ([example](https://github.com/huggingface/transformers/blob/3694484d0ae6f1b2e4f60460d6767f5d90442ba9/src/transformers/__init__.py#L1912)) Pylance isn't able to infer such value while analysing and thus u

[2021-06-23 18:18] rspreafico-absci commented on #12319
Ok, found it. I was merely re-running `fill_mask = pipeline(...)` upon installing the dev version of transformers. Conversely, I needed to re-run the whole notebook, most crucially `tokenizer.save_pretrained(...)`. In `4.8.0.dev0` this adds an additional field to `tokenizer_config.json` which is missing in `4.7.0`, namely `"tokenizer_class": "RobertaTokenizer"`. Without this field (either because

[2021-06-23 18:18] #12319 closed

[2021-06-23 18:49] ACForward commented on #11790
This issue still has not been fixed. Mbart-large-50-many-to-many-mmt has the same issue.

[2021-06-23 19:17] sgugger commented on #12319
Ah yes, good analysis!

[2021-06-23 21:50] umgupta opened #12331 "Default Parameters for training DistillBERT and DistillGPT2"
https://github.com/huggingface/transformers/blob/cf3c9198aad5e2ea02e778aa9b04d27c216d1a35/examples/research_projects/distillation/train.py#L188

Hi @VictorSanh ,

I was going through your distillation code. Can you share what are the most suitable hyperparameters for training Distillation models, mainly DistillGPT2? Are the default parameters best to use? I am confused because the default batch si

[2021-06-24 00:38] Mehrad0711 opened #12333 "Missing tokenizer_class for `mbart-large-50-many-to-one-mmt` model"
Hi @patil-suraj,

I noticed all `mbart-50` models have their tokenizer_class set to "MBart50Tokenizer" in their config file except for `mbart-large-50-many-to-one-mmt`. This causes the wrong tokenizer to be loaded for this model (`tokenization_mbart` instead of `tokenization_mbart50`). Please check. Thanks!

[2021-06-24 05:30] LysandreJik commented on #12319
@rspreafico-absci FYI there was an issue with the fill-mask pipeline with the `targets` argument on `master` recently, so if you're running on a source installation I suggest to update it to a more recent version

[2021-06-24 06:06] lierik commented on #12325
Thank you for your fast reply.
I will try the solution mentioned in above.

By the way, when initializing Trainer in run_language_modeling.py, the errors Trainer object has not attribute "prediction_loss_only" and after training before evaluation Trainer object has not attribute ‘is_world_master' are still here, I just delete this two line, is this a bug or i miss some necessary parameters that sh

[2021-06-24 06:53] keloemma opened #12337 "ValueError: expected sequence of length 133 at dim 1 (got 80)"
## Environment info

- `transformers` version: 4.8.0
- Platform:
- Python version:
- PyTorch version (GPU?): 1.5.0
- Tensorflow version (GPU?):
- Using GPU in script?: non
- Using distributed or parallel set-up in script?:

### Who can help

Models:

albert, bert, xlm: @LysandreJik
Library:

tokenizers: @LysandreJik

## Information

Model I am using (Bert, XLNet ...): FlauBert

The problem arises

[2021-06-24 06:55] #12000 closed

[2021-06-24 07:24] rspreafico-absci commented on #12319
Thanks @LysandreJik ! I saw that the official 4.8.0 was released yesterday, so I switched to using the PyPI version now. Can you confirm that 4.8.0 on PyPI is ok to use? Thank you.

[2021-06-24 07:39] patil-suraj commented on #12333
Good catch @Mehrad0711 ! Thank you for reporting this. I just fixed it https://huggingface.co/facebook/mbart-large-50-many-to-one-mmt/blob/main/config.json

[2021-06-24 07:39] #12333 closed

[2021-06-24 08:17] LysandreJik commented on #12319
Version v4.8.0 on PyPi is indeed ok to use and should work perfectly well for the fill-mask pipeline. :)

[2021-06-24 10:15] hadaev8 opened #12339 "How to get offset mapping then decoding wav2vec?"

[2021-06-24 13:45] KB-g commented on #11307
Hi everyone, here is some sample code which I have created to get the word-level start and end timestamps.
It's surely a bit hacky, and I could imagine there being some special cases where it might break, but for the cases I have tried it with it worked great.

[code]

[2021-06-24 14:51] doublex commented on #11307
@KB-g
Congrats!
Is there a chance to also extract the "per word probability"?

[2021-06-24 15:01] #11735 closed

[2021-06-24 15:01] #11728 closed

[2021-06-24 15:57] RobMcH commented on #12254
I understand that it's a simple example but the point raised is not about things it doesn't do, but rather that it does this specific thing wrong. The code snippet assumes conditional independence which then leads to it potentially producing empty outputs. The example is placed very prominently within the documentation so I'd argue that it should be corrected. The question answering scripts seem t

[2021-06-24 16:23] #12234 closed

[2021-06-24 16:37] SourabhG16 commented on #6979
Hi ,I'm too facing this issue, any solution found on this ?

[2021-06-24 19:57] stas00 opened #12345 "[examples] [distributed] process datasets.map only on main process in"
# 🚀 Feature request

Switch examples to process `datasets.map` only once on a main process and have the other processes wait, which would make pre-processing much faster. This is based on: https://huggingface.co/docs/datasets/processing.html?highlight=map#mapping-in-a-distributed-setting

@sgugger suggested to add a new context manager `training_args.main_process_first()` to make it simple.

conte

[2021-06-24 22:37] TatProg opened #12346 "All evaluation processes overload one GPU, when other 7 are available. While Training process fine and is distributed across all 8 cards"
## Environment info
- `transformers` version: 4.6.1
- Platform: Linux-4.15.0-135-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes, 8 Tesla V100
- Using distributed or parallel set-up in script?: training_args.parallel_mode = ParallelMode.NOT_DISTRIBUTED

### Who c

[2021-06-24 22:54] TatProg opened #12347 "TypeError: __init__() got an unexpected keyword argument 'report_to'"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-4.15.0-135-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes, 8 Tesla V100
- Using distributed or parallel set-up in script?: training_args.parallel_mode = ParallelMode.NOT_DISTRIBUTED

### Who

[2021-06-24 23:36] StellaAthena opened #12348 "Generate text until condition"
Is there a simple way to have the model generate text until a condition is met? I'm interested in data memorization and want to prompt the model with some tokens from the training data and then have it generate text until it makes a mistake (aka deviates from the training data). The naive approach with a while loop has significant overhead, and I was wondering if there was something smarter I can

[2021-06-25 00:14] jglaser opened #12349 "Prediction fails for certain batch sizes"
## Environment info

- `transformers` version: 4.6.1
- Platform: IBM open-ce / ppcle64
- Python version: 3.8.8
- PyTorch version (GPU?): 1.7.1 NVIDIA V100
- Tensorflow version (GPU?): N/A
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: distributed (but only 1 rank per process group)

### Who can help

@sgugger

## Information

Model I am using (Bert, XLNet ...): Bert

[2021-06-25 03:34] europeanplaice commented on #12308
`spm.SentencePieceTrainer` and `ReformerTokenizerFast` are not the same tokenizers, so it's not unusual that each of them outputs different results.
However, I'm not sure how the two tokenizers are different. It's because of the lack of my knowledge.

Regarding the difference between `ReformerTokenizerFast` and `AutoTokenizer`, I discovered something.
One of the easiest ways to make the two tokeni

[2021-06-25 04:39] #11781 closed

[2021-06-25 05:21] luminate22 commented on #12295
How can I contribute?

[2021-06-25 05:29] stas00 commented on #12295
Please refer to https://github.com/huggingface/transformers/blob/master/CONTRIBUTING.md

[2021-06-25 05:44] vasudevgupta7 commented on #12346
Hey, I think you are using `nn.DataParallel` and not `nn.DistributedDataParallel` and hence 1 GPU is taking more memory. In case of `torch.nn.DistributedDataParallel`, `training_args.parallel_mode` will be `ParallelModel.Distributed`.

In order to use `nn.DistributedDataParallel`, launch with this CMD: `python3 -m torch.distributed.launch --nproc_per_node=8 <your-script>.py`

[2021-06-25 06:06] junkgear commented on #6570
Any Solutions for this issue ?

[2021-06-25 06:32] JaheimLee opened #12353 "ERROR: Failed building wheel for tokenizers"
## Environment info

- `transformers` version: 4.8.1
- Platform: Macbook pro M1 16G
- Python version: 3.8.10
- PyTorch version (GPU?):
- Tensorflow version (GPU?): 2.5.0

### Who can help
@LysandreJik

When I install transformers in my mac, this error occurred!
`ERROR: Could not build wheels for tokenizers which use PEP 517 and cannot be installed directly`

[2021-06-25 07:21] LysandreJik commented on #12347
Hello! Do you mind sharing a reproducible code example in colab? I ran the following on the bare `run_mlm.py` script:
[code]
which works without issue. Maybe @sgugger has more insights.

Nice username and Pycharm project :)

[2021-06-25 07:56] zhangbo2008 commented on #12033
ok

[2021-06-25 08:17] seahrh opened #12354 "Input structure has type class tuple while shallow structure has type class transformers.modeling_tf_outputs.TFQuestionAnsweringModelOutput"
## Environment info
- transformers version: 4.5.1
- Platform: Linux-4.4.0-19041-Microsoft-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.5
- PyTorch version (GPU?): 1.8.1+cu102 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
- tensorflow: @Rocketknight1
- maintained examples (not research p

[2021-06-25 08:53] #12033 closed

[2021-06-25 11:36] LysandreJik commented on #12353
Hi! Could you open an issue on `tokenizers` instead? https://github.com/huggingface/tokenizers

[2021-06-25 11:37] LysandreJik commented on #12348
Maybe of interest to @patrickvonplaten @patil-suraj

[2021-06-25 11:47] LysandreJik commented on #6570
Hello @junkgear, we're doing a rework of the ONNX implementation, you can take a look at the proposal here: https://github.com/huggingface/transformers/pull/11786

Let me know if that works for you!

[2021-06-25 12:26] neel04 commented on #12075
@LysandreJik Sorry to disturb you again, but I had this peculiar problem. I wanted to train BigBird on TPU, and its reporting that the config.json might have missing parameters.
[code]
So apparently, I have been saving the tokenizer's state only, not the entire model. This is how I am doing
[code]
I think that `config.json` might be a product of the tokenizer's model when saving, which we are omit

[2021-06-25 12:27] TatProg commented on #12346
@vasudevgupta7 Thank you for interesting idea. Sadly, it doesn't work well. May I ask you to inspect my error messages on pastebin?

First one for  `python3 -m torch.distributed.launch --nproc_per_node=8 run_mlm_copy.py > log_BERTtugan_pretrained_5.txt &`
https://pastebin.com/MLkR8MQp

Second one for `python3 -m torch.distributed.launch --nproc_per_node=8 run_mlm_copy.py &`
https://pastebin.com/Ue

[2021-06-25 13:06] Rocketknight1 commented on #12354
Hi, our Tensorflow examples are in flux right now, because we're in the process of updating them and generally trying to replace TFTrainer with native Keras code. The examples on that page may be outdated, but you can see an up-to-date example of using TF for QA here: https://github.com/huggingface/transformers/blob/master/examples/tensorflow/question-answering/run_qa.py

That said, thank you for

[2021-06-25 13:29] TatProg commented on #12347
@LysandreJik

I found problem: I used `report_to=` in `TrainingArguments` without `run_name=`

Even if I add `--run_name=` in command `python3 run_mlm.py --report_to wandb --run_name new_run_name` it didn't work. I think this might be fixed quite easy: Throw exception, if `report_to=` is 'initialized'  in `TrainingArguments` without `run_name=`

My solution. Also tested not only with 'wandb', but

[2021-06-25 13:29] #12347 closed

[2021-06-25 13:30] sgugger commented on #12347
If you use the Trainer, just use `resume_from_checkpoint=path_to_checkpoint` when calling `trainer.train`.

[2021-06-25 14:31] ionicsolutions commented on #11768
I just ran into the same problem. Is somebody working on this?

I need a language modeling data collator for RoBERTa-style tokenizers and might as well try my hand at providing an extensible, general implementation if there's interest that issues proper warnings if used on yet-unsupported tokenizer classes.

[2021-06-25 14:55] #12349 closed

[2021-06-25 15:02] #11365 closed

[2021-06-25 15:14] pvcastro commented on #11565
@richardliaw @amogkam anyone working on this?

[2021-06-25 15:30] alexvaca0 commented on #11768
The problem is that after passing through datasets, the objects are dicts, not BatchEncoding, therefore they don't have the word_ids() method, and without that we cannot generalize Whole Word Masking. One solution is to pre tokenize and pre process the dataset inside the function you put in the datasets map, however you disable dynamic batching which is a key improvement of Roberta with respect to

[2021-06-25 15:41] bnaman50 commented on #10479
Hey @sshleifer, I was trying to fine-tune the `distill-pegasus-cnn-16-4` [model](https://huggingface.co/sshleifer/distill-pegasus-cnn-16-4) provided by you but I am not sure of the hyper-parameters and the corresponding file is also not avaialble in the [`research_projects/seq2seq_distillation`](https://github.com/huggingface/transformers/tree/master/examples/research_projects/seq2seq-distillation

[2021-06-25 17:53] richardliaw commented on #11565
ah yes! will put on todo list.

On Fri, Jun 25, 2021 at 8:14 AM Pedro Vitor Quinta de Castro <
***@***.***> wrote:

[2021-06-25 18:02] tlby commented on #12308
This may have two underlying causes, one perhaps a serialization issue between `.save_pretrained()` and `AutoTokenizer.from_pretrained()`, and a separate issue related to different behavior between `PreTrainedTokenizer` and `PreTrainedTokenizerFast`.

Here is perhaps a clearer example of the variations:
[code]
giving
[code]
The first one is consistent with `sentencepiece` directly, which is not su

[2021-06-25 20:00] ionicsolutions commented on #11768
Thank you for elaborating!

Similarly to the implementation for BERT tokenizers in the current `DataCollatorForWholeWordMasking`, it is possible to obtain a word start mask for RoBERTa tokenizers by decoding every token in the collator by using something like this:

[code]

I believe that this is accurate if the tokenizer is initialized with `add_prefix_space=True`, otherwise the first word is mis

[2021-06-25 21:58] #12345 closed

[2021-06-25 21:58] #12295 closed

[2021-06-25 22:11] shabie commented on #11719
OK so I'd like to work on this :)

[2021-06-25 22:29] stas00 opened #12363 "[examples] add `main_process_first` context manager to datasets map calls"
We need to replay this addition that has been modelled in `run_translation.py` in https://github.com/huggingface/transformers/pull/12351 to all other pytorch examples

The actual changes for the model example are:
https://github.com/huggingface/transformers/pull/12351/files#diff-09777f56cee1060a535a72ce99a6c96cdb7f330c8cc3f9dcca442b3f7768237a
(just `run_translation.py`)

Here is a time-saver:
[cod

[2021-06-26 03:21] bhadreshpsavani commented on #12363
Can I take this?
Since it will not take much time for me

[2021-06-26 03:49] stas00 commented on #12363
Yes, thank you, @bhadreshpsavani

[2021-06-26 06:19] bhadreshpsavani commented on #12363
Hi @stas00 and @sgugger,
In the earlier PR, I wanted to ask one thing
in the below code,
https://github.com/huggingface/transformers/blob/9a7545943dd611b0d4887a5ab3a7ef7f53b8e76f/examples/pytorch/question-answering/utils_qa.py#L416-L425
Shall we use `logger.info()` instead `print()` like we did in below code
https://github.com/huggingface/transformers/blob/9a7545943dd611b0d4887a5ab3a7ef7f53b8e76f/

[2021-06-26 06:27] stas00 commented on #12363
good catch, @bhadreshpsavani! `logger.info()` please as you suggested.

[2021-06-26 06:27] PhenomenalOnee opened #12366 "Tokens Jumbling"
I have trained a "bert-base-uncased" model (with lesser layers) on my dataset with my tokenizer for sentence similarity task. The final sentence embedding is formed using mean pooling strategy. Now during inference if my tokens for sentence1 is [t1,t2,t3,t4,t5] and for senetence2, I randomly shuffle these tokens example [t3,t1,t2,t5,t4], the score is really high, but sentence2 does't make any sens

[2021-06-26 07:24] bhadreshpsavani commented on #12363
There is a minor thing,
at this line
https://github.com/huggingface/transformers/blob/9a7545943dd611b0d4887a5ab3a7ef7f53b8e76f/examples/pytorch/text-classification/run_glue.py#L529
we are getting
[code]
fix is,
[code]
shall we change it?

it is also present at below line
https://github.com/huggingface/transformers/blob/9a7545943dd611b0d4887a5ab3a7ef7f53b8e76f/tests/sagemaker/scripts/pytorch/run_gl

[2021-06-26 08:37] logoutlzh opened #12369 "[Trainer.py] when --load_best_model_at_end is set in Distributed Training"
## Environment info

- `transformers` version: 4.4, not very sure
- Platform: linux
- Python version: 3.7
- PyTorch version (GPU?): 1.8
- Tensorflow version (GPU?): ////
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Distributed training in a single node with multi-gpus

### Who can help
 @sgugger

## Information

Model I am using (Bert, XLNet ...): Bart

The proble

[2021-06-26 11:05] neel04 commented on #12075
Assuming the tokenizer state to be saved is the specific one for the model, I did this
[code]
And tried to load the tokenizer again. However, I can't verify whether it works because upon running the script, I lose connection to the instance :thinking:

Is this the correct usage though?

[2021-06-26 11:17] gouthamanwavicle opened #12372 "Wav2vec2 Dataset"
I have been trying the code described in the huggingface blog https://huggingface.co/blog/fine-tune-wav2vec2-english.
While in the blog, when seeing random text from the dataset looks as shown below:
![image](https://user-images.githubusercontent.com/82436706/123511281-0ca13380-d69e-11eb-88b4-6e585f4f789e.png)
For me, trying the same code shows as below(same sentence)
![image](https://user-images.

[2021-06-26 12:17] Tikquuss opened #12374 "ImportError: cannot import name 'BertEncoder' from 'transformers'"
[code]

A week ago this import was working normally, but this morning I ran my code and got this error.
[code]

How to import BertEncoder? ```'BertEncoder' in dir(transformers)``` is `False`

########################################
- `transformers` version: 4.8.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Ten

[2021-06-26 12:39] akar5h commented on #12201
much help

[2021-06-26 12:39] #12201 closed

[2021-06-26 13:23] sgugger commented on #11719
Sure! Ping me when you open a PR :-)

[2021-06-26 13:26] sgugger commented on #12369
Could you try again on the latest version? This bug has normally been fixed (see [this comment](https://github.com/huggingface/transformers/blob/9a7545943dd611b0d4887a5ab3a7ef7f53b8e76f/src/transformers/trainer.py#L1351) and the four line below).

[2021-06-26 13:32] logoutlzh commented on #12369
Yes, it looks good. I download the source code to the project, so I can't update it in time. I'm sorry to take up your time。

[2021-06-26 13:32] #12369 closed

[2021-06-26 14:12] Albert-Ma opened #12375 "model.generate occurs error: generation_beam_search"
## Environment info
- `transformers` version: 4.2.1
- Platform: Linux-3.10.0-1127.18.2.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.5.0 (True)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help
@patrickvonplaten, @patil-suraj

## Information

Model I am u

[2021-06-26 14:21] vasudevgupta7 opened #12376 "Issue in layer-drop implementation in TensorFlow models in graph mode"
## Environment info

- `transformers` version: 4.8.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel s

[2021-06-26 15:02] #11756 closed

[2021-06-26 15:02] #11755 closed

[2021-06-26 15:26] sshleifer commented on #10479
To clarify, you are trying to reproduce `distill-pegasus-cnn-16-4`, rather than finetune it further?

1) Make a student using make_student.py or get one from model hub.
2) guessing the train command from memory.
I think it should be a combination of `train_distilbart_cnn.sh` and `train_pegasus_xsum.sh`.
- You definitely want `max_target_length=142, --adafactor, --freeze-embeds --freeze-encoder`.
-

[2021-06-26 16:27] stas00 commented on #12363
yes, except you now need to assign the return value since this is no longer an inplace edit. Therefore in both places it'll be now be:
[code]
with the right x of course.

thank you for fixing it.

reference: https://huggingface.co/docs/datasets/processing.html#removing-one-or-several-columns-remove-columns

[2021-06-26 16:46] shiva1393 opened #12377 "conversion wav2vec2 model from fairseq to huggingface"
# 📚 Migration
Hi,
trained wav2vec2 model in fairseq for my own dataset. Now i need to finetune pretrained fairseq wav2vec2 model. To train hugging face model it is asking following files.
1. config.json
2. preprocessor_config.json
3. pytorch_model.bin
4. special_tokens_map.json
5. tokenizer_config.json
6. vocab.json

To get this files i used following command for wav2vec2 base model
 cp transforme

[2021-06-26 17:55] bhadreshpsavani commented on #12363
I have committed changes in the open PR for the fix of this warning!

[2021-06-26 21:23] europeanplaice commented on #12308
@tlby
Thank you for giving another example.
For now, I'm not sure whether the two underlying causes are unrelated.

The following is about the serialization issue.

I've found that `tr.T5Tokenizer` or `ReformerTokenizer` don't expect `mask_token`. So this attribute is taken as an element of `kwargs`. (fast tokenizer may also be the same.)

Refer to
https://huggingface.co/transformers/model_doc/t5.

[2021-06-26 21:25] TatProg commented on #12346
UPD:
First of all, I remove all arguments for evaluation:
[code]
And all worked fine, but this **not a solution**

Secondly, when I run script on all 8 GPUs, I caught an Error (error message below). But when I choose only 7 with `export CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6`, everything works fine.

How can I solve these problems?

https://github.com/TatProg/bertugan_sample/tree/master/mlm/for_github

[2021-06-26 21:34] vasudevgupta7 commented on #12346
Hey, not sure but can you try with batch size multiple of 8 (8 == no of your GPUs)?

[2021-06-26 21:45] pn12 opened #12378 "TypeError: new(): invalid data type 'numpy.str_'"
Facing the below error while running
[code]
on Kaggle Notebooks; while the same code runs fine in Colab Notebooks.

Below is the error log.

[2021-06-26 21:49] vasudevgupta7 commented on #12346
Hey, not sure why that's happening. May be someone else can help.

[2021-06-26 22:49] tlby commented on #12308
When I do not specify a mask_token to the `PreTrainedTokenizer`, trying to use it in `examples/pytorch/language-modeling/run_mlm.py` gives errors.
[code]
I don't have a standalone example of this, but if you need one I can work one out.

[2021-06-27 00:38] umgupta opened #12379 "Tracking variables other than loss during training"
# 🚀 Feature request

Allow to track other variables during training with the [trainer](https://huggingface.co/transformers/main_classes/trainer.html).

## Motivation
Often during training one wants to track variables other than just the loss. For example, the loss may be consisting of two different components and the user may want to track the two separately. As of now, the trainer can only track

[2021-06-27 02:54] gaowanliang opened #12380 "Module version identification problem"
## Environment info

- `transformers` version:  4.8.1
- Platform: Windows 10 x64
- Python version: 3.7.3
- PyTorch version (GPU?): 1.7.1
- Tensorflow version (GPU?): 2.0.0
- Using GPU in script?: GTX1060
##  Module version identification problem caused by "importlib_metadata"
![image](https://user-images.githubusercontent.com/41822468/123531202-1d50b880-d735-11eb-9d15-7223c587148e.png)

[2021-06-27 08:29] dkawahara opened #12381 "A fast tokenizer for BertJapaneseTokenizer"
We would like a fast tokenizer for BertJapaneseTokenizer. This is because the current token classification model (run_ner.py) requires using the fast tokenizer but BertJapaneseTokenizer does not have it. Because of this, we cannot do token classification for Japanese using cl-tohoku's BERT models.

[2021-06-27 08:45] zxk19981227 opened #12382 "About a error in retrain a xlm model"
when i train a xlm model as following code, an error occurs that 'label' is a unexpected for forward. Anyway to solve it?
`# -*- coding: UTF-8 -*-
from transformers import XLMTokenizer, XLMModel, Trainer
from datasets import load_dataset, Dataset
from transformers import LineByLineTextDataset, TrainingArguments
from transformers.data.data_collator import DataCollatorForLanguageModeling

model = XL

[2021-06-27 10:26] doublex commented on #11307
@KB-g
The `assert len() == len()` triggers.
This audio:  [assert.zip](https://github.com/huggingface/transformers/files/6721402/assert.zip)
Testcase:
[code]

[2021-06-27 10:39] dsuess commented on #10816
By running everything with `CUDA_LAUNCH_BLOCKING=1` under the line profiler, I found that [this](https://github.com/huggingface/transformers/blob/ff5cdc086be1e0c3e2bbad8e3469b34cffb55a85/src/transformers/models/t5/modeling_t5.py#L677) and [this](https://github.com/huggingface/transformers/blob/ff5cdc086be1e0c3e2bbad8e3469b34cffb55a85/src/transformers/models/t5/modeling_t5.py#L692) check for infini

[2021-06-27 11:24] zyong812 commented on #735
Have the same problem. How is it  solved?

[2021-06-27 13:02] chiarcos commented on #9939
According to [documentation](https://huggingface.co/transformers/installation.html), this should also run without TF at all, but with PyTorch alone. The answer seems to suggest that TF under all circumstances. I just tried PyTorch-alone installation and ran into the same error. Now shifting to TF, but I guess the documentation should be updated or the PyTorch-only install should be checked.

[2021-06-27 14:11] batmanscode opened #12383 "Size of tensors not matching even though using tweets (all same length)"
# What I'm doing

Trying to estimate the emotion of tweets using https://huggingface.co/cardiffnlp/twitter-roberta-base-emotion

# The error

`RuntimeError: The expanded size of the tensor (601) must match the existing size (514) at non-singleton dimension 1.  Target sizes: [1, 601].  Tensor sizes: [1, 514]`

Does anyone what the problem might be? I tried `truncating=True` as well

# Code and data

[2021-06-27 14:16] Xirider opened #12384 "Request: New LM Adapted checkpoints for T5"
# 🌟 New LM Adapted checkpoints for T5

## Description

Google released a new set of checkpoints for T5 v1.1. here:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/released_checkpoints.md#t511

Especially interesting for most people will be the checkpoints below, as finetuning T5 with a prompt or using T5 for conditional text generation is quite common and these che

[2021-06-27 16:14] jessepinkman9900 commented on #9515
`pip install protobuf` solved it for me

[2021-06-28 01:17] leezu commented on #11532
This issue hasn't been addressed

[2021-06-28 04:19] logoutlzh opened #12386 "A model or a config like 'transformer_iwslt_de_en' for machine translation"
# 🌟 New model addition

Does huggingface have some models like `transformer_iwslt_de_en` or `transformer_wmt_en_de`  in fairseq for machine translation?

I plan to write a model for machine translation on huggingface. It would be great to be able to compare directly with the baseline model on huggingface.

@patil-suraj

[2021-06-28 04:51] wyu97 opened #12387 "Connot correctly fine-tune Bert for generation"
# 📚 Migration

## Information

Model I am using Bert for generation (a Seq2Seq style):

The problem arises when using:
* The official example scripts from : [transformers/examples/legacy/seq2seq/finetune_trainer.py](https://github.com/huggingface/transformers/blob/master/examples/legacy/seq2seq/finetune_trainer.py)
[code]

The above is the official code to fine-tune a text generation model such as

[2021-06-28 04:56] wyu97 commented on #12387
Hi Stas, Suraj, Sylvain (@stas00 @patil-suraj @sgugger),

Would you please to give some helps on using the `finetune_trainer.py` [file](https://github.com/huggingface/transformers/blob/master/examples/legacy/seq2seq/finetune_trainer.py) for BertGen?

Thank you very much!

[2021-06-28 07:27] GuillemGSubies commented on #10232
This seems to work but I found a weird problem that might be interesting to solve.

When you binarize the labels, if you are training with pytorch it will throw an error because `BCEWithLogitsLoss` expects floats and not ints. This is counterintuitive for me, I had to cast my labels to floats and then it worked.

Also, there is not a lot of information about the anything of this in the documentati

[2021-06-28 07:38] LysandreJik commented on #12380
Hello! What command did you run to get the first error?

[2021-06-28 07:39] LysandreJik commented on #10232
Indeed, it would be nice to put this in the documentation, it's sparse on this subject right now.

[2021-06-28 07:42] LysandreJik commented on #12374
Hello! I'm failing to find a version where this worked, going back to version 1.0.0. If you have it handy, could you point me to the version that had it?

If you want to import `BertEncoder` you can do it as such:
[code]

[2021-06-28 07:57] LysandreJik commented on #12075
Hi @neel04.

I'm thinking you're facing an issue that was solved in the latest `transformers` release. Before the latest `transformers` release, `AutoTokenizer` couldn't guess which tokenizer to load from *just* the tokenizer files, it also needed to have access to the model's `config.json` in order to see the model and tokenizer classes.

It was addressed in the latest `transformers` release, whe

[2021-06-28 08:00] LysandreJik commented on #12366
Which model are you using exactly? `bert-base-uncased` is not a `sentence-transformers` model

[2021-06-28 08:03] #12374 closed

[2021-06-28 08:32] LysandreJik commented on #12308
Pinging @n1t0 for advice

[2021-06-28 08:42] seahrh commented on #12354
Thank you! Studying the code in the link helped me to set up a minimal working example. We should probably close this issue after the TF example docs have been updated.

[2021-06-28 08:44] LysandreJik commented on #9939
@chiarcos would you happen to have a reproducer to run into the issue with PyTorch-only installs? It shouldn't (and isn't) required to have TF installed for pipelines, so this is a bug that I, unfortunately, can't manage to reproduce.

[2021-06-28 08:49] LysandreJik commented on #12383
Can you try changing this line:
[code]
to
[code]
?

It will pad/truncate all sequences to 512 tokens. Feel free to adapt to the maximum size within the batch or to a smaller max length (512 is the maximum sequence length for that model)

[2021-06-28 08:51] LysandreJik commented on #12214
There's a typo in your model identifier:
[code]

[2021-06-28 09:19] matthewfranglen opened #12389 "GPT2-large for sequence classification default num_labels differs from the default for GPT2-small and GPT2-medium"
## Environment info

- `transformers` version: 4.5.0
- Platform: Linux-5.4.0-74-generic-x86_64-with-glibc2.29
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

Models:

- gpt2: @patrickvonplaten, @LysandreJik

## Information

When cr

[2021-06-28 09:36] rspreafico-absci opened #12390 "`fill-mask` pipeline provides `<mask>` token among predictions"
## Environment info
- `transformers` version: 4.8.1
- Platform: Linux-5.4.0-74-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: see below
- Using distributed or para

[2021-06-28 09:52] julien-c commented on #11532
we are looking into this

[2021-06-28 10:58] neel04 commented on #12075
Hey @LysandreJik,
Thanks a ton for the tips, I will surely try them if I face this error again! :hugs:

I am using the `master` branch now for my project, so I hope I won't face this problem again. However, I can't completely verify whether it works because I am unable to run it on TPU due to some memory leak.

If related problems arise, I would surely try out either of your fixes :rocket:

Have a

[2021-06-28 11:39] #11768 closed

[2021-06-28 11:42] #12353 closed

[2021-06-28 11:48] sgugger commented on #12346
Your first pastebin shows that the 8 processes are not properly initialized and joined, so this is more of a PyTorch error.

[2021-06-28 12:01] GuillemGSubies commented on #10232
Sorry for the flood but, is there a  way to instance a multilabel model on a pipeline? I'm trying it but I don't think it is working, the prediction probabilities always sum up to 1.

[2021-06-28 12:05] gaowanliang commented on #12380
I just executed `python xxx.py` from the command, which references this package, and the specific project is [this](https://github.com/yangjianxin1/GPT2-chitchat)

[2021-06-28 12:46] PhenomenalOnee commented on #12366
i used "bert-base-uncased"  architecture from here: https://www.sbert.net/docs/training/overview.html to train for sentence embedding tak. I modified the number of layers and hidden size.
Also as shown in above image, i also tested "bert-base-nli-cls-token" (from https://huggingface.co/sentence-transformers/bert-base-nli-cls-token) and also tested (https://huggingface.co/sentence-transformers/bert

[2021-06-28 12:48] PhenomenalOnee commented on #12366
?

[2021-06-28 14:23] shamanez commented on #12250
@sb1992

No, it doesn't matter whether you use T5 or BART. You can actually use a special token in front of every line in the target files.

[2021-06-28 14:23] Guidofaassen commented on #11887
Any update on this issue?

[2021-06-28 14:35] Rocketknight1 commented on #12376
On investigation, I'm pretty sure the issue is caused by the way we're doing layerdrop: https://github.com/huggingface/transformers/blob/master/src/transformers/models/bart/modeling_tf_bart.py#L755-L772

This code is correct for eager execution, but I suspect in graph mode that this leads to the creation of new variables and graph edges whenever a layer is skipped for the first time. I can see som

[2021-06-28 14:40] europeanplaice commented on #12308
@LysandreJik @n1t0
Thank you for checking this conversation.

[2021-06-28 14:46] gems047 opened #12396 "getting error with BertForMaskedLM"
config = BertConfig.from_pretrained("bert-base-uncased")

self.bert = BertModel.from_pretrained("bert-base-uncased")
sequence_output = self.bert(
            inputs_embeds=input_embeddings,
            position_ids=position_ids,
            token_type_ids=token_type_ids,
            attention_mask=attention_mask,
        )[0][:, max_ids:, :]

self.x1 = BertForMaskedLM(config)
x2 = self.x1(sequence

[2021-06-28 15:07] #11817 closed

[2021-06-28 15:07] #11809 closed

[2021-06-28 15:07] #11807 closed

[2021-06-28 15:07] #11803 closed

[2021-06-28 15:07] #11802 closed

[2021-06-28 15:07] #11791 closed

[2021-06-28 15:07] #11788 closed

[2021-06-28 15:07] #11783 closed

[2021-06-28 15:07] #11772 closed

[2021-06-28 15:07] #11774 closed

[2021-06-28 15:07] #11769 closed

[2021-06-28 15:07] #11767 closed

[2021-06-28 15:07] #11765 closed

[2021-06-28 15:07] #11419 closed

[2021-06-28 15:07] #11345 closed

[2021-06-28 15:07] #10835 closed

[2021-06-28 15:07] #10827 closed

[2021-06-28 15:09] esradonmez commented on #3377
Started getting the same issue today. Is there a known solution?

[2021-06-28 15:25] vasudevgupta7 commented on #12376
Yeah sure, I am also looking for some solution on this. Will keep you updated (or will make a PR) if I get some solution.

[2021-06-28 15:33] Rocketknight1 commented on #12376
Cool! We'll hold off on disabling it for now - if you find a solution, let us know, and don't panic if it turns out to be impossible - just say so and we'll close this issue and disable layerdrop in graph mode instead. Thanks for your help!

[2021-06-28 15:57] LozanoAlvarezb opened #12399 "Reference postprocess_qa_predictions score method"
To the best of my knowledge literature on question answering computes the probability of a span by first computing the probability for a token to be the start token or the end token independently and then multiplying those probabilities. In contrast, the [postprocess_qa_predictions](https://github.com/huggingface/transformers/blob/57461ac0b4e4f7349c2437fcf8d4115014d6ceda/examples/pytorch/question-

[2021-06-28 16:14] #12363 closed

[2021-06-28 16:19] stas00 commented on #12387
It looks like @patrickvonplaten ported this model, https://huggingface.co/transformers/model_doc/bertgeneration.html
so he is probably the best person to ask.

[2021-06-28 16:24] chris-aeviator commented on #10912
***Stalebots are so much an anti-quality measure and have not been fixed***

[2021-06-28 19:01] sajastu opened #12403 "[Deepspeed][initialization] pegasus: unable to load/init the weights"
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Ubuntu
- Python version: 3.8
- PyTorch version (GPU?): Y
- Using GPU in script?: Y
- Using distributed or parallel set-up in script?: Y
_- Deepspeed version: deepspeed 0.4.1 (installed with pip)_

 @stas00,

## Information

I'm trying to fine-tuned pegasus-large model using deepspeed with multi-gpu. It seems that deepspeed is un

[2021-06-28 20:07] stas00 commented on #12403
Thank you for the report, @sajastu

Could you please adjust the command line so that it uses some small public dataset and not custom files which we don't have?

Then I will sort it out.

Thank you.

[2021-06-28 20:13] sajastu commented on #12403
Sure thing! @stas00

Please let me modify the script, and then test so that it runs flawlessly. I'll give you an update shortly!

[2021-06-28 20:17] stas00 commented on #12403
I was able to reproduce the problem with:
[code]
So nothing else needs to be done by your side.

[2021-06-28 20:26] stas00 commented on #12403
so the quick fix is:
[code]

Let me know if you can handle the diff.

I will work on a normal PR and test.

[2021-06-28 21:06] peregilk opened #12404 "[FLAX] Core dump using example code"
## Environment info
- `transformers` version: 4.8.1
-  `flax` version: 0.3.4
- `python` version: 3.8.5

## Who can help
@patrickvonplaten

## Models:
FLAX - RoBERTa MLM

## Information
Following the official guides for creating VMs and TPUs:
https://cloud.google.com/tpu/docs/jax-quickstart-tpu-vm

Following this guide for training RoBERTa on the Norwegian OSCAR training set.
https://github.com/hug

[2021-06-28 22:12] bnaman50 commented on #10479
Hey @sshleifer ,

Sorry, I think I phrased the question wrongly. I am trying to finetune the `distill-pegasus` model on my own dataset since the original pegasus model is huge and is taking a lot of time. I was simply hoping if you could provide me the hyper-parameters like you have provided for `distill-bart` models for CNN/DailyMail dataset ([here](https://github.com/huggingface/transformers/blo

[2021-06-28 22:40] mzeidhassan commented on #6979
I am having the same issue and it is recurring. Any solution?

[2021-06-29 00:12] stas00 commented on #12062
@asit2898, the PR is almost done, and once merged you will need to use one of:
[code]
to meet your needs.

[2021-06-29 03:11] #12062 closed

[2021-06-29 03:12] moh-yani commented on #198
@laibamehnaz have you solved the problem? I have a similar problem.

[2021-06-29 04:35] Souvic opened #12406 "MLM training fails with no validation file"
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or paralle

[2021-06-29 04:43] Souvic commented on #12406
Log:
Grouping texts in chunks of 512: 100% 87/87 [00:26<00:00,  3.25ba/s]
Traceback (most recent call last):
  File "./transformers/examples/tensorflow/language-modeling/run_mlm.py", line 604, in <module>
    main()
  File "./transformers/examples/tensorflow/language-modeling/run_mlm.py", line 493, in main
    eval_dataset = tokenized_datasets["validation"]
  File "/usr/local/lib/python3.7/dist-pa

[2021-06-29 05:49] alberto-hong opened #12408 "Wrong logical operation"
None of datasets in glue has bath "validation" and "validation_matched".

So, 'and' operation in https://github.com/huggingface/transformers/blob/7682e97702e4317231b3afe92359de384dba1e20/examples/pytorch/text-classification/run_glue.py#L418 should be fixed as 'or' operation.

It makes sense with following line 420 at run_glue.py
(eval_dataset = raw_datasets["validation_matched" if data_args.task_n

[2021-06-29 07:05] LysandreJik commented on #12408
If it was an 'or' operation, then with `raw_datasets = ["validation"]`, the second part of the statement would return `True` which would raise an error

[2021-06-29 07:07] #12248 closed

[2021-06-29 07:11] Wikidepia commented on #12404
I got the same error, I kinda fixed it you can try it with this [patch](https://katb.in/meow2590)

[2021-06-29 07:14] LysandreJik commented on #10912
cc @patil-suraj @patrickvonplaten

[2021-06-29 07:16] LysandreJik commented on #12366
Pinging @nreimers

[2021-06-29 07:16] manueltonneau commented on #12168
Hi @LysandreJik, let me know if you have a solution for this or if you need more info, thanks a lot in advance :)

[2021-06-29 07:26] nreimers commented on #12366
Hi @PhenomenalOnee
the two models you linked are deprecated, I recommend to use  the paraphrase v2 models.

But they will show the same behavior. That is how it is. The models don't check if a sentence makes sense or is grammatically correct. They try to infer the semantics of the sentence and they try to be robust for spelling mistakes, grammatical errors, word shuffleing etc.

If this is undesir

[2021-06-29 07:51] peregilk commented on #12404
Thanks a lot. I was actually also able solve this issue by using flax from the git.
git clone https://github.com/google/flax.git
pip install --user -e flax

[2021-06-29 07:52] Wikidepia commented on #12404
Thanks, I will try it too

[2021-06-29 07:52] patrickvonplaten commented on #12404
Hey @Wikidepia,

Thanks a lot for your error report. I'm not really sure what is causing the error here. Are you using a TPU VMv3-8? It's important to make sure that jax/flax is installed correctly as explained here: https://cloud.google.com/tpu/docs/jax-quickstart-tpu-vm

[2021-06-29 07:54] patrickvonplaten commented on #12404
Also could you maybe follow the guide here: https://github.com/huggingface/transformers/tree/master/examples/research_projects/jax-projects#how-to-install-relevant-libraries to make sure everything is correctly installed? The code should work as is - please let me know if you continue getting a core dump error.

[2021-06-29 07:56] patrickvonplaten commented on #10912
@chris-aeviator - do you want to have exactly `max_length` words? In this case you have to disable the eos_token_id => you should be able to just do `model.generate(...., eos_token_id=None)`

[2021-06-29 07:58] peregilk commented on #12404
Exactly. That turned out to be the issue. Was a bit confused because installing flax with pip install gives me flax version 0.3.4. Installing from git still gives version 0.3.4, but  now it works. Thanks a lot.

[2021-06-29 08:26] LysandreJik commented on #12396
Hello, do you have a reproducible code example that showcases what's in your variables such as `input_embeddings`? Thank you!

[2021-06-29 09:31] Wikidepia commented on #12404
Yes I'm using TPU VM, I might need to update transformers or just create new TPU
Thanks for your help :D

[2021-06-29 10:31] junkgear commented on #6570
I dumped the vocab and config file in model folder and was able to convert
Gave model folder as input instead of bin file to convert_graph_to_onnx.py script
`from transformers import (WEIGHTS_NAME, AdamW, get_linear_schedule_with_warmup,
                          RobertaConfig, RobertaModel, RobertaTokenizer)
MODEL_CLASSES = {'roberta': (RobertaConfig, RobertaModel, RobertaTokenizer)}
config_class

[2021-06-29 11:15] neel04 opened #12410 "New Model: Charformer: Fast Character Transformers via Gradient-based Subword Tokenization"
# 🌟 New model addition

## Model description

arXiv = https://arxiv.org/pdf/2106.12672.pdf (pre-print; under review)

In this paper, they introduce a soft gradient-based subword tokenization module (GBST) that automatically learns latent subword representations from characters in a data-driven fashion. More importantly, is the introduction of Charformer, a deep Transformer model that integrates GB

[2021-06-29 11:53] cccntu opened #12411 "🌟 New model addition: FNet"
# 🌟 New model addition: FNet

FNet is a highly efficient Transformer-like encoder architecture, wherein the self-attention sublayers have been wholly replaced by standard, unparameterized Fourier Transforms.

I would like to help adding this!

## Open source status

* [x] the model implementation is available: https://github.com/google-research/google-research/tree/master/f_net
* [x] the model wei

[2021-06-29 12:39] patrickvonplaten commented on #12404
Also pinging @avital @marcvanzee here in case they have seen something similar before - I don't think it's necessary to clone the flax repo to make it work on TPU VM no? Think one can just `pip install ...` it

[2021-06-29 12:49] NielsRogge commented on #12411
Somebody is already working on this, see #12335

[2021-06-29 13:02] sajastu commented on #11044
Hi @stas00,

Thank you for working on this amazing library. I looked into the deepspeed documentation for optimizers at https://deepspeed.readthedocs.io/en/latest/optimizers.html and there're a bunch of optimizers, but `adafactor` is not within those. As transformers has flag `--adafactor` to decided whether optimizer should be replaced with Adam(W), I'm wondering if making `adafactor=True` in tra

[2021-06-29 13:05] sajastu commented on #12403
@stas00 Thanks. It works perfectly now!

[2021-06-29 13:26] peregilk commented on #12404
I see you have updated the guide with additional info. Getting the TPU VMs up and running was a bit back and forth. I will do a fresh install of this in a couple of days, and check if I can reproduce this. Thanks a lot @patrickvonplaten  for your response.

[2021-06-29 13:30] sshleifer commented on #10479
Yes

[2021-06-29 13:31] Niharika6442 commented on #9631
This issue still persists even after trying above methods.

[2021-06-29 13:40] gchhablani commented on #12411
@cccntu I believe what you want for the JAX/Flax community week is a Flax model. It seems unlikely that I will finish the PR in the next week. Maybe, you can start working on the Flax model parallely?

@patil-suraj  wdyt? Is it easier to go from PyTorch to Flax? Or it doesn't matter at all? In case PT is needed, I am willing to spend my time next week on this and try to finish it.

[2021-06-29 13:49] Muennighoff opened #12413 "Benchmark Colab does not work"
https://colab.research.google.com/github/huggingface/notebooks/blob/master/transformers_doc/tensorflow/benchmarks.ipynb
(https://huggingface.co/transformers/benchmarks.html?highlight=benchmark)

Running the above Colab on a CPU crashes with:

[code]

[2021-06-29 14:19] cccntu commented on #12411
@gchhablani Yes! I would love to add the Flax part.
@patil-suraj @patrickvonplaten  I have a few questions before I proceed:
* There is no license in the original repo, should I email the authors for permission for code and weights?
* How much of the original model code should I modify, other than wrapping it in huggingface/transformers classes?
Should we refactor it for better weight alignment wi

[2021-06-29 14:20] gchhablani commented on #12411
Great @cccntu! Let's discuss over Slack.

[2021-06-29 14:33] gsarti opened #12414 "Streaming mode in training examples"
# 🚀 Feature request

The v1.8,0 of `datasets` introduced [streaming mode](https://huggingface.co/docs/datasets/master/dataset_streaming.html). It would be very useful to include this mode in the training examples, either with a parameter `--stream_dataset` or an ad-hoc training script if radical changes are required to make it work.

## Motivation

Besides showcasing the potential of the new strea

[2021-06-29 14:57] europeanplaice opened #12416 "BertTokenizer with BertJapaneseTokenizer pretrained model generates unintended tokenization."
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Windows-10-10.0.19043-SP0
- Python version: 3.9.5
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in scri

[2021-06-29 15:21] batmanscode commented on #12383
That worked! Thank you @LysandreJik, much appreciated 😊

Btw how did you get that the max sequence length for that model is 512? I thought it was 514 based on the error message.

I checked some tweets that were close to the character limit and their `num_tokens` (in encoded_input) was ~60. This is far less than the error message. Do you know why/how there could be such a difference?

[2021-06-29 15:33] stas00 commented on #12403
thank you for validating that it works for you.

I'm trying to have this solved on the deepspeed side, so that all our models will work w/o needing to change each one of them separately. so I will keep you posted on the progress.

[2021-06-29 15:37] stas00 commented on #11044
`--adafactor` should work just fine, this was just a buglet where that argument was ignored which has been fixed in https://github.com/huggingface/transformers/issues/11749.

To use `--adafactor` or any other optimizer that is not native to Deepspeed you just need not configure the optimizer section in the `ds_config.json` file.

I guess I could expand on this here:
https://huggingface.co/transfor

[2021-06-29 15:56] SamsTheGreatest opened #12418 "DeepSpeed gets stuck when training"
## Environment info

- `transformers` version: 4.8.1
- Platform: Linux-4.15.0-140-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or para

[2021-06-29 16:25] sajastu commented on #11044
Thanks for your response. @stas00  I tried the way you mentioned (i.e., dropping "optimizer" part from config file). But it seems that Zero Offload is just able to work with DeepSpeed optimizers. The exact traceback is given below:

[code]

[2021-06-29 17:46] stas00 commented on #11044
wrt removing the verification, are you sure it's actually doing the right thing? Not failing doesn't necessarily mean it's working correctly.

[2021-06-29 18:21] sajastu commented on #11044
@stas00 It's my intuition that the error says: if want to use optimizer(s) other than DeepSpeed default ones,  `zero_optimization.offload_optimizer` should be neglected since it just works with native DeepSpeed optimizers. Would commenting this assertion part cause any issues? As seems it just works fine (i.e., training loss is decreasing).

[code]

[2021-06-29 18:32] stas00 commented on #11044
Let's ask Deepspeed devs: https://github.com/microsoft/DeepSpeed/issues/1194

[2021-06-29 19:08] stas00 commented on #12418
I added your changes to the original and I am not able to reproduce the hanging with "EleutherAI/gpt-neo-2.7B" as it is in the original.

I'm on transformers master, but I don't think it makes any difference.

If you want me to try anything else please fork https://github.com/dredwardhyde/gpt-neo-fine-tuning-example/, apply whatever changes you need and share the link to your fork.

To debug hangi

[2021-06-29 21:14] stas00 commented on #10816
Thank you for looking into it, @dsuess!

I'm trying to figure out torch.profiler to get a better understanding using native tools.

You found those checks and I also found https://github.com/huggingface/transformers/blob/ff5cdc086be1e0c3e2bbad8e3469b34cffb55a85/src/transformers/models/t5/modeling_t5.py#L504 to be another point of slowdown. It's possible that the upcast can be removed completely, w

[2021-06-29 21:43] Craigacp opened #12423 "HfArgumentParser defaults booleans to on"
## Environment info
- `transformers` version: 4.9.0.dev0 (initially discovered on 4.8.1)
- Platform: macOS-11.4-x86_64-i386-64bit
- Python version: 3.9.5
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can help
@sgugger

## Informati

[2021-06-29 21:48] Craigacp commented on #12423
If you agree this is a bug in the parsing logic then we'd be happy to fix it and send a PR.

[2021-06-29 21:54] patrickvonplaten commented on #12414
Hey @gsarti,

That's a great issue! We will provide at least one streaming example until Friday :-)

[2021-06-29 21:56] sgugger commented on #12423
Yes, it does look like a bug. Fix is quite simple, I can make a PR.

[2021-06-29 21:58] Craigacp commented on #12423
Ok thanks. That saves me a job later this week.

[2021-06-29 21:59] sgugger commented on #12423
If you want to have a look at the PR mentioned above and check it does give the expected behavior, that would be great!

[2021-06-29 22:03] Craigacp commented on #12423
Ok, I'll check it tomorrow against our internal use case to make sure it fixes that too.

[2021-06-29 22:28] SamsTheGreatest commented on #12418
Thanks @stas00,

I installed `transformers `with `pip`.

Created a simple example and packed everything into a repo along with all the requirements. Attaching the link to the repo here [https://github.com/SamsTheGreatest/gpt-neo-with-deepspeed.git](https://github.com/SamsTheGreatest/gpt-neo-with-deepspeed.git). I have put other relevant info is in the README. Hopefully, it will help to shine some

[2021-06-29 22:44] stas00 commented on #12418
That's a wonderful way to do it, @SamsTheGreatest  - thank you!

OK, so I run your clone and it's running just fine. i.e. it started training - I didn't wait for it to finish.

wrt, debug

1. try `py-spy` w/o `sudo` if your system has ptrace set to 0
[code]
you don't need `sudo` to attach to the process.

2. if it's >0, then used `faulthandler`

add this to your code:
[code]

and when you run it,

[2021-06-29 23:06] saakshi077 commented on #1491
Where to  add this argument ?

[2021-06-30 01:10] saksham-s opened #12425 "Loading custom model"
I had changed the definition of a token classification model and added another output head. Now when I try to load the model using AutoModelForTokenClassification it does not load the weights of the modified final layer which I had added. Is there any other class I can use to load this custom model.

[2021-06-30 01:50] OctoberChang commented on #3497
Any Update on this?

[2021-06-30 02:24] shamanez commented on #3497
@OctoberChang  I did extend the RAG in a way that can be used to experiment REALM stuff.

https://paperswithcode.com/paper/fine-tune-the-entire-rag-architecture

[2021-06-30 02:39] OctoberChang commented on #3497
@shamanez , thanks for the pointer to your RAG project [[link]!(https://github.com/huggingface/transformers/tree/master/examples/research_projects/rag-end2end-retriever)].
Do you have any pre-trained (not fine-tuned on downstream tasks) models with ICT or Salient span masking [[link]](https://arxiv.org/pdf/2002.08909.pdf) that can be load from Huggingface Transformers?

[2021-06-30 03:07] shamanez commented on #3497
I haven't extended in to the ICT. Sorry.

[2021-06-30 04:51] gems047 commented on #12396
Did not mention parameters like input_embeddings, however input looks like below:
tensor([[[-0.0129, -0.0099,  0.2570,  ..., -0.1841,  0.3609,  0.2851],
         [-0.1268,  0.0133,  0.2927,  ..., -0.1167,  0.4605, -0.1288],
         [-0.9993,  0.4705,  0.5119,  ..., -0.9274,  0.5529, -0.5890],
         ...,
         [-0.4415,  0.0786,  0.3132,  ..., -0.2137, -0.0387,  0.2496],
         [ 0.2243,

[2021-06-30 05:09] stas00 opened #12426 "[roberta] lm_head.decoder save/load needs fixing"
[code]

gives:
[code]

So if we query `lm_head` we can see `lm_head.decoder.weight`, however it's not visible to the whole model.

The problem comes from `tie_weights`:
[code]

which essentially does:
[code]

So this is inconsistent behavior.

But the main issue is that `lm_head.decoder.weight` is saved in the `save_pretrained` and then is expected to be there on `torch.load` but since it's tied f

[2021-06-30 05:53] OctoberChang commented on #8606
@mchari , do you manage to convert the REALM pre-trained TF models into pytorch models?

[2021-06-30 06:47] srikar2097 opened #12427 "[DeepSpeed] Convert from fp16 to fp32 issue zero_to_fp32.py"
## Environment info

- `transformers` version: 4.7.0
- Platform: Linux-4.4.0-1128-aws-x86_64-with-debian-stretch-sid
- Python version: 3.7.6
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: using deepspeed v 0.4.0

### Who can help
@stas00 thanks for opening new doors by showi

[2021-06-30 06:59] lironT74 commented on #393
If the above fix will be added to the master branch this will be great
https://github.com/smartshark/transformers/pull/1

[2021-06-30 07:01] hjptriplebee opened #12428 "[DeBerta V2] The vocab size of DeBerta V2 is incorrect"
### Who can help

@LysandreJik

## Information

I am using Deberta V2. The document and vocab of the tokenizer shows that its vocab size is 128K. But the vocab size in its [configuration](https://huggingface.co/microsoft/deberta-v2-xlarge/resolve/main/config.json) is 128100 which is 100 larger.
![image](https://user-images.githubusercontent.com/22477665/123915975-ae34c780-d9b3-11eb-916a-1159e04922

[2021-06-30 07:45] SamsTheGreatest commented on #12418
Thanks @stas00, that's very detailed!

 `cat /proc/sys/kernel/yama/ptrace_scope` yields `1` so ill do it with `faulthandler`.

Accidentally found out that when removing DeepSpeed option from trainer, it still gets stuck. Removing
[code]
starts training as expected again. I also tried letting the settings to be discovered via `mpi4py`, as you wrote in the original post, it says `mpi4py` needs to be

[2021-06-30 08:01] peregilk commented on #12404
@patrickvonplaten. I have now reinstalled from scratch following the guides, including this https://cloud.google.com/tpu/docs/jax-quickstart-tpu-vm. The error I got was not caused by installing Flax from pip instead from source. My mistake.

The core dump was caused by not running "pip install --upgrade clu". Sorry for the confusion.

[2021-06-30 08:02] vasudevgupta7 commented on #12376
@Rocketknight1,

I think I got a solution to this:
[code]

Checkout this for complete code: https://github.com/vasudevgupta7/transformers/commit/acf69cea945ebe97293621ba8730a7d988f2c2aa

@Rocketknight1, do think it's correct?? Like I am not sure but if graph is built with all the layers in the first step then will `continue` in the next steps work???

Thanks!

[2021-06-30 08:07] sadakmed commented on #9951
Hi @jmwoloso, DO you mean TF implementation of lxmert integration test, I committed for both tf [#10052](https://github.com/huggingface/transformers/pull/10052) and pt [#9989](https://github.com/huggingface/transformers/pull/9989) (since Feb nd I still have this open tabs in my mind of something is unfinished, really a pain). Both has the same issue of the inability to hardcode input coz it's too

[2021-06-30 08:37] dbs700 opened #12430 "Distilling zero-shot classification: Assertion `srcIndex < srcSelectDimSize` failed."
## Environment info

tokenizers          0.10.2
torch               1.8.1+cu111
transformers        4.5.1
datasets            1.6.1
IPython             7.19.0
jupyter_client      6.1.7
jupyter_core        4.6.3
jupyterlab          2.2.6
notebook            6.1.4

Python 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.17763-SP0

## Issue
I'm trying to train a dist

[2021-06-30 08:51] moseshu opened #12431 "how to continue pre-train custom data"
1.problem
   I want to pretrain my specific data, reset the numbers of the encoders or layers.
can you offer an interface to load our custom data which is like json or other type to
pretrain. the LMASK, NSP,PE is packaged in the interface.

[2021-06-30 08:58] stefan-it commented on #12410
Code is out now:

https://github.com/google-research/google-research/tree/master/charformer

[2021-06-30 08:58] patrickvonplaten commented on #12404
No worries, thanks for documenting everything here! I'm sure it'll be helpful for others :-)

[2021-06-30 10:19] patrickvonplaten opened #12434 "TPU not initialized when running official `run_mlm_flax.py` example."
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29
- Python version: 3.8.5
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (tpu)
- Jax version: 0.2.16
- JaxLib version: 0.1.68
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

[2021-06-30 10:20] patrickvonplaten commented on #12434
Given that when running this command I'm getting ~30 training iterations per second, I'm assuming though that it's just a warning and not an error.

[2021-06-30 10:39] peregilk commented on #12434
I am getting the same errors here. Also noting that the parameters from TrainingArguments are written at the start of the run_mlm_script, I see a few weird settings, like:
[code]
I am not getting a stable report on iterations per second, so it is hard to see if this is a going well. Progress is still at 0%. Occationally, I am also getting error messages  like this written to the screen roughly eac

[2021-06-30 10:42] peregilk commented on #12434
...and ... I see this warning, tat does not look good:
`[10:28:02] - WARNING - absl - No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)`

[2021-06-30 10:57] LysandreJik commented on #12428
Maybe @BigBird01 can chime in :)

[2021-06-30 11:03] peregilk commented on #12434
If of interest, this is my notes on installing this. It is mainly based on Patricks tutorial:
https://github.com/NBAiLab/notram/blob/master/guides/flax.md

[2021-06-30 11:16] Lassehhansen opened #12435 "Using huggingface Pipeline in industry"
Hi,

I was wondering if there is anything to be aware of when using your sentiment-analysis pipeline for industry projects at work. Are there any limitations to what I can or cannot do?

Thank you for your always amazing service.

Lasse

[2021-06-30 11:17] stefan-it commented on #12404
Hey @patrickvonplaten , I'm in the TRC program so I could also test some of scripts for TPU VM (before the projects starts on July, 7).

[2021-06-30 11:18] avacaondata opened #12436 "Add DEBERTA-base model for usage in EncoderDecoderModel."
# 🚀 Feature request

Add DEBERTA-base model as an option for creating an EncoderDecoderModel.

## Motivation

Currently only BERT and RoBERTa models can be transformed to a Seq2Seq model via EncoderDecoder class, and for those of use developing DeBERTa models from scratch it would be wonderful to be able to generate a Seq2Seq model from them. Also, the Deberta-base model works much better than BER

[2021-06-30 11:53] LysandreJik commented on #12436
Great idea! Do you want to take a stab at it?

[2021-06-30 11:54] avital commented on #12434
The simplest way to see if you're running on TPU is to call `jax.devices()`. E.g. you may see:

[code]

[2021-06-30 11:54] LysandreJik commented on #1491
See this comment https://github.com/huggingface/transformers/issues/1491#issuecomment-618626059

[2021-06-30 11:57] #12423 closed

[2021-06-30 11:58] LysandreJik commented on #12396
weirdly it seems that your input embeddings are treated as input IDs, which should not happen. Can you let me know the result of `transforemrs-cli env` in your environment?

[2021-06-30 12:05] #11016 closed

[2021-06-30 12:22] neel04 opened #12438 "IndexError: index out of bound, MLM+XLA (pre-training)"
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.10
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.13
- JaxLib version: 0.1.66
- Using GPU in script?: False
- Using distributed or parallel set-up in scrip

[2021-06-30 12:25] LysandreJik commented on #12438
Maybe @lhoestq has an idea for the error in `datasets`

[2021-06-30 12:29] peregilk commented on #12434
@avital. "import jax;jax.devices()" gives me exactly the same response.

I am also able to make simple calculations on the TPU. The problem seem only to be related to the run_mlm_flax-script.

[2021-06-30 12:31] AliOskooeiTR opened #12439 "Expand text-generation pipeline support for other causal models e.g., BigBirdForCausalLM"
# 🚀 Feature request

Tried using the text generation pipeline (TextGenerationPipeline) with BigBirdForCausalLM but seems like the pipeline currently only supports a limited number of models. Is there a reason for this? Is there a workaround short of implementing the pipeline myself? Thank you.

[2021-06-30 12:42] cccntu opened #12440 "cookiecutter template for adding flax model"
# 🚀 Feature request

Add cookiecutter template for adding flax model.

## Motivation

There is no cookiecutter template for adding flax model.

## Your contribution

I am trying to add a flax model (#12411), I think it's a good opportunity to create a template at the same time. Can I work on this? Any suggestions?

@patil-suraj @patrickvonplaten

[2021-06-30 13:28] peregilk commented on #12434
@avital. I also found this log file. It seems to think that the TPU is busy.
[code]

[2021-06-30 14:22] patrickvonplaten commented on #12404
@stefan-it this would be great actually. Could you check whether you can set up the libraries correctly acconding to:
unshuffled_deduplicated_no
and then run these steps: https://github.com/huggingface/transformers/tree/master/examples/flax/language-modeling#masked-language-modeling where instead of running it on **norwegian** (which would take to long) could you run it on Alemannic? So simply rep

[2021-06-30 14:45] LysandreJik commented on #12426
Indeed, the key should be added to the keys to ignore on save, and expected missing keys.

Thanks for your investigation!

[2021-06-30 15:06] jklaise commented on #9285
@jplu the issue still persists, what is the purpose of these warnings? Why are they displayed to the user of the library?

[2021-06-30 15:43] mchari commented on #8606
No, I didn't....

On Tue, Jun 29, 2021 at 10:54 PM Wei-Cheng Chang ***@***.***>
wrote:

[2021-06-30 16:01] stas00 commented on #12426
What if someone sets `config.tie_word_embeddings=False`. Should the save/expected keys be dynamically adjusted in `__init__`?

or do it the other way around - have `lm_head.decoder.weight` on the list and instead remove it in `__init__` if  `config.tie_word_embeddings=False`?

[2021-06-30 16:14] LysandreJik commented on #12426
Yes, I think the second proposition makes a lot of sense! Great catch.

We'll need to check, but I wouldn't be surprised if other models have their lm head on the list - and nothing set in the `__init__` to prevent the save/expected keys from interacting with that layer. If so, it's not a high priority issue as no one has brought it up - but it is an issue nonetheless that potentially affects seve

[2021-06-30 16:20] tlby commented on #12308
My situation is somewhat more sensitive to whitespace than most western languages because I am hoping to do language modeling with HTML source code.  In a sample such as `<a href="page.html">the page</a>` the insertion of whitespace after an attribute name `<a href ="page.html">the page</a>` takes us outside the realm of samples in the training set, which is why this problem is significant.

Rathe

[2021-06-30 16:28] patrickvonplaten opened #12443 "[Wav2Vec2] Better names for internal classes"
Wav2Vec2's classes have too many names, *e.g.*: FlaxWav2Vec2EncoderLayerStableLayerNormCollection.

We should make those names easier (reminder for myself @patrickvonplaten to do this)

[2021-06-30 16:44] q-clint opened #12444 "Cannot load model saved with AutoModelForMaskedLM.from_pretrained if state_dict = True"
Hello,

It seems that setting the `state_dict=True` flag in a model's `.save_pretrained` method breaks the load process for `AutoModelForMaskedLM.from_pretrained`

The following code works
[code]

However, the following code does not
[code]
with error:
[code]
Environment:
[code]

Fixes tried (but same error):
- tried with transformers 4.8.1
- tried with absolute paths (rather than relative)
- trie

[2021-06-30 17:14] stas00 commented on #12427
Thank you for this excellent report, @srikar2097

This is fascinating!

Where is `zero_pp_rank_5_mp_rank_00_optim_states.pt`? I presume this was an 8-gpu run, so we are missing one rank.

Could you re-run again and see if it was a fluke? Clearly one process failed to save its optimizer state.

[2021-06-30 17:34] stas00 commented on #12418
You don't need sudo to install `mpi4py` - this is just `pip install mpi4py`

Perhaps you're the first one to run deepspeed on kubeflow, by looking at the traces seems like it has some distributed issues there

Thank you for making the traces. It seems to be stuck at:
[code]

It might be something specific to the their jupyter setup? If I understand correctly kubeflow is notebook only, right?

Can

[2021-06-30 18:11] HamidShojanazeri opened #12445 "Deit"
# 🚀 Feature request

The Deit model from torchhub is scriptable, however the pertained version in HF repo, "facebook/deit-base-distilled-patch16-224" is the distilled one which is not scriptable.

This can be tried out using the code below
[code]
vs

[code]
## Motivation
Torchscripted models can boost the inference speed and it would benefit the community having vision models that are scriptable.

[2021-06-30 18:47] srikar2097 commented on #12427
@stas00 When I looked at what got saved in the previous check-point (previous to what I shared in my original report), this is what I see:

[code]
As you can see here file not present is "rank_5". I went back to earlier checkpoints and consistently `zero_pp_rank_5_mp_rank_00_optim_states.pt` is missing. I did monitor GPU usage during the training and nothing stuck me as odd.

Let me report back wi

[2021-06-30 18:56] NielsRogge commented on #12445
Are you interested in working on this?

Basically, to make DeiT scriptable, you need to set `test_torchscript` of the model test as seen [here](https://github.com/huggingface/transformers/blob/0d1f67e651220bffef1441fa7589620e426ba958/tests/test_modeling_deit.py#L160) to `True`, then run the tests (running `pytest tests/test_modeling_deit.py` from the root of the repo), and then fix the modeling fi

[2021-06-30 19:23] stefan-it commented on #12404
Hi @patrickvonplaten ,

I created a virtual environment (`venv') and followed the installation instructions from [here](https://github.com/huggingface/transformers/tree/master/examples/research_projects/jax-projects#how-to-install-relevant-libraries).

Here are my obserations:

After installing `jax` there's a strange wheel output:

[code]

However, `jax` is installed but:

[code]

So there's some

[2021-06-30 19:29] stefan-it commented on #12404
Just a question - maybe it is documented already, but how should we deal with the limited hard disk space?

I've seen discussions on the Alpha VM TPU Google channel, where it was suggested to use [gcsfuse](https://github.com/GoogleCloudPlatform/gcsfuse), but I've just seen your thread in the Google channel right now, so let's wait :)

[2021-06-30 19:40] patrickvonplaten commented on #12404
@stefan-it did you install JAX as follows:

[code]

or just via installing `transformers` from source?

[2021-06-30 19:40] patrickvonplaten commented on #12404
Regarding limited disk space - we are currenty working on a solution :-)

[2021-06-30 19:45] stefan-it commented on #12404
@patrickvonplaten yeah, I was using the `pip install` command as above (so before installing transformers library).

It seems that disk can be attached during creating of the VM, but not after creation, unfortunately, example [here](https://cloud.google.com/sdk/gcloud/reference/alpha/compute/tpus/tpu-vm/create#--data-disk).

[2021-06-30 19:47] stas00 commented on #12427
First please file an issue with Deepspeed, since it's Deepspeed that saves these files. https://github.com/microsoft/DeepSpeed/issues

Are you running on all 8 gpus? can you validate in nvidia-smi?

Then I'd do debug logging (obviously switching to much more frequent save_steps, so it only takes one minute to log).

change this log into print so it's printed on each gpu
https://github.com/microsof

[2021-06-30 22:53] mapmeld commented on #12410
An unofficial PyTorch implementation for Charformer https://github.com/lucidrains/charformer-pytorch

[2021-07-01 02:30] aphedges opened #12448 "Instantiating a model from `pipeline()` ignores `model_kwargs` parameter"
## Environment info

- `transformers` version: 4.8.1
- Platform: Linux-3.10.0-1160.31.1.el7.x86_64-x86_64-with-centos-7.9.2009-Core
- Python version: 3.7.9
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using dis

[2021-07-01 03:05] hongjianyuan commented on #10346
I also encountered this problem, how to solve it

[2021-07-01 03:44] #12408 closed

[2021-07-01 05:33] gems047 commented on #12396
I get below  result for transformers-cli env :

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 4.1.1
- Platform: Linux-4.15.0-107-generic-x86_64-with-debian-stretch-sid
- Python version: 3.7.4
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distrib

[2021-07-01 06:00] sagewhocodes opened #12450 "Finetuned model generates incomprehensible text when used while in memory but works fine when loaded via saved checkpoints."
## Environment info
- `transformers` version: 4.6.1
- Platform: Linux-5.4.0-1051-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.7.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten @LysandreJik @stas00

Models:
- gpt2-M, L, XL

Model I

[2021-07-01 06:00] bhadreshpsavani commented on #12436
Hi @alexvaca0,
This is an interesting feature,
But I was curious that Deberta, Bert, and Roberta are encoder-based models so there is no decoder part right? I checked their model class and I could not find the Decoder / EncoderDecoder class!
Can you please give more insight into it?

[2021-07-01 06:12] sanjay23singh commented on #6414
@sgugger can we finetune models with specific task only (like RobertaForMasekdLm etc) ? is there a way we can pre-train RobertaModel on our data then go for specific tasks?

[2021-07-01 06:58] pangbochen opened #12451 "Wiki content part : XLM-RoBERTa, "xlm-roberta-base""
In the wiki page for XLM-R
https://huggingface.co/transformers/model_doc/xlmroberta.html

the model name should be 'xlm-roberta-base'  instead of 'roberta-base'

@sgugger

[2021-07-01 07:05] swapnil3597 commented on #4825
Now pipeline option can be provided via arguments to `convert_graph_to_onnx.py` using `--pipeline` argument:

Valid Options (taken from [this](https://github.com/huggingface/transformers/blob/master/src/transformers/pipelines/__init__.py#L287) script)

[code]

[2021-07-01 07:31] LysandreJik commented on #10346
Using a recent version of the library should now work for these use-cases.

Could you try using the `master` branch to see if it fixes your issue? You should use it to both save your tokenizer, as well as to load it in the script. If it doesn't work, please provide the code you're using as well as the full stack trace. Thank you!

[2021-07-01 07:33] LysandreJik commented on #12448
You could do it like so:

[code]

[2021-07-01 07:37] LysandreJik commented on #12444
Hello! You can find the documentation regarding `from_pretrained` here: https://huggingface.co/transformers/main_classes/model.html#transformers.PreTrainedModel.from_pretrained

Namely, regarding the state dict:
[code]
It accepts a state dict, not a boolean.

What are you trying to do by passing it `state_dict=True`?

[2021-07-01 07:50] LysandreJik commented on #12308
Tokenizers are generally engineered for specific use-cases and don't always adapt to different domains. The tokenizers here didn't fit your use-cases so you went and implemented one yourself so that it best fits your particular problem - I believe this is the best way to handle it and ensure it behaves consistently across your tasks.

I took a look at your `PreTrainedTokenizer` and I think you hav

[2021-07-01 07:51] LysandreJik commented on #10232
I believe this is being taken care of in https://github.com/huggingface/transformers/pull/8328

[2021-07-01 08:08] GuillemGSubies commented on #10232
Indeed, it looks really good. Thank you

[2021-07-01 10:34] MFajcik opened #12455 "Setting global tokens in BigBirdModel"
## Environment info
- `transformers` version: 4.6.1
- Platform: Linux-5.8.0-55-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help
@vasudevgupta7 , @patrickvonplaten, @patil-suraj

## Information

Model I a

[2021-07-01 10:35] SamsTheGreatest commented on #4287
Same when fine-tuning GPT Neo.

[2021-07-01 10:48] hrahamim opened #12456 "convert_graph_to_onnx.py failing to run on Wav2Vec2 models"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-4.15.0-143-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

## Information

Model I am using (Bert, XLNet ...): facebook/wav2

[2021-07-01 11:32] gyin-ai opened #12457 "gpt2 causal mask to skip learning context input? (beginner question)"
Suppose we use gpt2 to train a text generation with context or translation with input sequence.

[google translate<sep> google Übersetzer].

Can I ask how we can change the casual mask to let the training only from the token generation after the context input (\<en-de>\)? Like,
[google translate\<en-de\>] to [google]
[google translate\<en-de\> google] to [Übersetzer]

instead of
[google] to [googl

[2021-07-01 11:42] alexvaca0 commented on #12436
That's right, there's no decoder in those models, but there is a class in Transformers, EncoderDecoderModel, that enables to create encoder-decoder architectures from encoder-only architectures :)

Perfect, let me have a look at it and see if I can code that adaptation  @LysandreJik

[2021-07-01 13:02] Lukecn1 opened #12460 "Extractive summarization pipeline"
# 🚀 Feature request

An extractive summarization pipeline similar to the one for abstractive summarization.

A central place for researchers to upload new models for others to use, without having to run the code from various git repo's.

Currently, extractive summarization is the only safe choice for producing textual summaries in practices. Therefore, it seems relevant for Huggingface to include

[2021-07-01 13:02] LysandreJik commented on #12436
Great! If you run into any blockers, feel free to ping us. If you want to add the possibility for DeBERTa to be a decoder, you'll probably need to add the cross attention layers.

cc @patrickvonplaten and @patil-suraj which have extensive experience with enc-dec models.

[2021-07-01 14:08] europeanplaice commented on #10921
Could it possible that you set `word_tokenizer_type` to `basic` ?
I reproduced the same result by this configuration.
I mean I got ['テレビ', '##で', '##サッカー', '##の', '##試', '##合', '##を', '##見', '##る', '。'].

Now, `BertJapaneseTokenizer` pretrained tokenizer's default configuration is  `word_tokenizer_type='mecab'`.
So we don't usually get this unexpected result.
I tried the example with `mecab` I got

[2021-07-01 14:22] aphedges commented on #12448
While that's a good temporary workaround (I'm currently using a different one), I was hoping for a longer term solution so `pipeline()` works as the docs say:

`model_kwags` actually used to work properly, at least when the `framework` parameter was set, but #12025 broke it.

[2021-07-01 14:50] peregilk commented on #12434
I am now able to get this to run, and think I understand why this is happening.

The initial error I am seeing is: "RuntimeError: tensorflow/compiler/xla/xla_client/computation_client.cc:273 : Missing XLA configuration"

I have been getting around this error by setting "export XRT_TPU_CONFIG="localservice;0;localhost:51011". This is probably the right way of doing it on torch system, but it also l

[2021-07-01 15:07] #11840 closed

[2021-07-01 15:07] #11838 closed

[2021-07-01 15:07] #11836 closed

[2021-07-01 15:07] #11833 closed

[2021-07-01 15:15] AliOskooeiTR commented on #11255
Any updates on this? I get the exact same error when running generate on EncoderDecoderModel.

`RuntimeError: output with shape [1, 1, 768] doesn't match the broadcast shape [1, 0, 768]`

When I remove padding from the input_ids the error goes away but I think this is bug of some sort.

[2021-07-01 17:31] stefan-it commented on #12434
I've seen the same `INFO` message from `absl`:

![image](https://user-images.githubusercontent.com/20651387/124166237-dd763200-daa2-11eb-910d-fb86cf16cff5.png)

But training seems to work (batch size 128 with `pad_to_max_length` as from the mlm flax documentation)

[2021-07-01 18:07] sgugger commented on #12451
Yes, that's because those models are direct subclasses of Roberta, so they have the same documentation.

[2021-07-01 19:37] PhilipMay opened #12473 "Release `utils/style_doc.py` as a python package"
Hi,
I like the functionality of your [`utils/style_doc.py`](https://github.com/huggingface/transformers/blob/master/utils/style_doc.py).
Did you ever think about open sourcing it as a python package?

I think other projects might also want to use it.

[2021-07-01 19:39] sajastu opened #12474 "[Pegasus][tokenizer] pegasus tokenizer doesn't have any BOS token?"
## Environment info

- `transformers` version: 4.9.0.dev0
- Platform: Ubuntu
- Python version: 3.8
- PyTorch version (GPU?): 1.7 (yes)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: Yes

@patrickvonplaten, @patil-suraj, @LysandreJik

## Information

Model I am using (PEGASUS ...):

This is not specifically a bug in transformers, but I'm wondering if I can comment an

[2021-07-01 19:39] PhilipMay commented on #12473
@sgugger

[2021-07-01 19:43] sgugger commented on #12473
It's very much linked to the way we write documentation in Transformers so it would need a bit of work to become a standalone package that can be used. I have no time to do it personally, but if someone wants to start building it, I'm happy to review things!

[2021-07-01 19:49] PhilipMay commented on #12473
@sgugger ok - cool! So if I would create such a standalone package which can be used by you and others - you would:
- help with review
- switch transformers to that implementation if it works and if I add you as maintainers

Would you do that?

[2021-07-01 20:08] sgugger commented on #12473
Definitely!

[2021-07-01 21:01] #12457 closed

[2021-07-01 22:06] silviu-oprea opened #12475 "BartForConditionalGeneration: `decoder_input_ids` should not be computed if `decoder_inputs_embeds` is set"
## Environment info

- `transformers` version: 4.8.2
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.8.10
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: n

[2021-07-02 01:53] Souvic commented on #12406
Fixed.

[2021-07-02 01:53] #12406 closed

[2021-07-02 03:02] luoling1993 opened #12476 "How to fine-tune a model with my custom tokenizer?"
1. I want to train a tokenizer with my own datasets.
2. I have no enough data and resources to train a pretrained model from scratch.

pipeline:
1. train a tokenizer like [tokenizer_training](https://github.com/huggingface/notebooks/blob/master/examples/tokenizer_training.ipynb)
2. do something with current pretrained model, get a new pretrained model
3. fine-tune the pretrained model with my doma

[2021-07-02 05:56] hwijeen opened #12478 "Mismatch between tokenizer and model in pipeline"
## Environment info

- `transformers` version: 4.6.1
- Platform: Linux-4.18.0-25-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Nope
- Using distributed or parallel set-up in script?: Nope

### Who can help

@LysandreJik
## Information

Model I am using (Bert, XLNet ...): Any

[2021-07-02 07:11] mbugert opened #12479 "AttributeError when using custom IterableDataset with set_epoch method"
## Environment info
- `transformers` version: 4.8.2
- Platform: Linux-5.4.0-77-generic-x86_64-with-glibc2.31
- Python version: 3.9.4
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set

[2021-07-02 10:14] gsarti commented on #12414
For future watchers, @patrickvonplaten is working on this in #12470! Thanks!

[2021-07-02 10:34] Chin-Yi-Ji opened #12481 "How to construct a pretrain by myself using Tensorflow2 +Keras?"
# 🚀 Feature request

## Motivation

## Your contribution

[2021-07-02 12:12] LysandreJik commented on #12448
Great, thank you for bringing me up to speed! Indeed, I hadn't realized this was a regression - your PR looks great, let's discuss over there.

[2021-07-02 12:30] NielsRogge commented on #12168
Hi,

How did you add the additional special tokens? So you start from a pre-trained RoBERTa, then added additional special tokens and further pre-trained on a corpus?

Did you add these additional special tokens using the tokenizers library? Normally, one can add additional tokens as follows:

[code]

However, printing the following:
[code]
Returns `[]`. So you can solve it by doing:

[code]
When

[2021-07-02 12:46] NielsRogge commented on #11887
@francescorubbo thanks for investigating this. So the `gather_pre_entities` function of the NER pipeline needs an update to also work with BPE tokenizers.

For WordPiece tokenizers, a token is a subword if it starts with ##. For BPE tokenizers, a token is a subword if it doesn't start with _. Is that correct?

cc @Narsil

Mind opening a PR to support BPE tokenizers?

[2021-07-02 12:46] LysandreJik commented on #12450
Pinging @sgugger as using the `Trainer`

[2021-07-02 12:51] LysandreJik commented on #12476
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-07-02 12:56] LysandreJik commented on #12456
Hi, Wav2Vec2 is not supported by the ONNX converter. Please check out the following PR which offers the possibility to convert existing models to ONNX by defining an architecture: https://github.com/huggingface/transformers/pull/11786. You can see the docs (WIP) for that PR [here](https://235542-155220641-gh.circle-artifacts.com/0/docs/_build/html/serialization.html).

[2021-07-02 12:57] thepurpleowl commented on #6159
For futuer visitors:  [check this](https://discuss.pytorch.org/t/getting-an-error-unpicklingerror-invalid-load-key-v-in-pytorch-model-deploying-in-streamlit/107768/4)

[2021-07-02 13:00] LysandreJik commented on #12396
Ah, does you error come from `x2 = self.x1(sequence_output)` ? What are you trying to do here, are you passing the BERT output as input IDs to a BERT Masked LM model?

[2021-07-02 13:07] gems047 commented on #12396
Changed this line x2 = self.x1(sequence_output) to

x2 = self.x1(inputs_embeds=sequence_output) as suggested above.

It works now , Thankyou

[2021-07-02 13:15] PhilipMay commented on #12473
That is nice! Thanks.

@sgugger The docstring formatter looks very "normal". Do you mean the rst formatter when you say "very much linked"?

[2021-07-02 13:26] gems047 commented on #12396
Can I change this code

self.bert = BertModel.from_pretrained("bert-base-uncased")
sequence_output = self.bert(
inputs_embeds=input_embeddings,
position_ids=position_ids,
token_type_ids=token_type_ids,
attention_mask=attention_mask,
)[0][:, max_ids:, :]

as below:

self.bert = BertModel.from_pretrained("bert-base-uncased")
sequence_output = self.bert(
inputs_embeds= position_embeddings,
#position_

[2021-07-02 13:28] DidiDerDenker commented on #11870
@patrickvonplaten Hi, unfortunately I have not been able to make any progress in the last month and would appreciate if you have a solution for the unexpected behavior. Thank you! :)

[2021-07-02 13:44] NielsRogge commented on #12478
It's not possible to just mix and match tokenizers with models. The `sentiment-analysis` pipeline uses the `DistilBertForSequenceClassification` model by default. However, you are providing it with a RoBERTa-based tokenizer. DistilBERT does make use of WordPiece tokenization, whereas RoBERTa-like models make use of a BPE (Byte-Pair Encoding) tokenizer.

What's a good use case of only providing a t

[2021-07-02 13:46] NielsRogge commented on #12481
In case you want to pre-train a model on your own data in Tensorflow, please take a look at the [Tensorflow examples](https://github.com/huggingface/transformers/tree/master/examples/tensorflow/language-modeling).

[2021-07-02 14:08] wyu97 commented on #12387
Yes, I followed that document and changed the example script [transformers/examples/legacy/seq2seq/finetune_trainer.py](https://github.com/huggingface/transformers/blob/master/examples/legacy/seq2seq/finetune_trainer.py). However, it did not work.

[2021-07-02 14:40] agarfau opened #12482 "Sources of randomness for Longformer"
## Environment info

- `transformers` version: 4.8.1
- Platform: Ubuntu 20.04.2 LTS
- Python version: 3.7.10
- PyTorch version: 1.7.1
- Using GPU in script?: Yes

### Who can help
@patrickvonplaten

## Information
Results when using `Longformer` for sequence classification are not consistent across runs after setting a random seed.

## To reproduce

I include below a simple script derived from [th

[2021-07-02 15:01] hwijeen commented on #12478
Thanks @NielsRogge for a quick reply.

I totally agree with you that no one would want to mix and match, and it is not even possible as you pointed out.

And that's why I suggested for a model to follow the compatible tokenizer, or vice versa.

Or at least, I think raising an error would be nice for users who could provide only tokenizer by mistake, since for now it leads to a unwanted results wit

[2021-07-02 15:05] #11868 closed

[2021-07-02 15:05] #11861 closed

[2021-07-02 15:05] #11759 closed

[2021-07-02 15:05] #11283 closed

[2021-07-02 15:22] Jeevesh8 opened #12483 "Text Classification on GLUE on TPU using Jax/Flax : BigBird"
The notebook for Text Classification on GLUE tasks, provided [here](https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/text_classification_flax.ipynb) can do with some updates:
1. It has a missing ``from flax import traverse_utils`` which can be added.
2. Replace ``gradient_transformation`` with ``adamw(1e-7)`` in ``TrainState.create()``.
3. Probably a note to ``pi

[2021-07-02 15:23] lhoestq commented on #12414
Note that it's actually `datasets` 1.9.0 that will probably be released on Monday that will feature Streaming.
For now it's still available on the `master` branch only !

[2021-07-02 15:26] yhifny opened #12484 "checkpoints are not saved after implementing a custom loss"
I subclassed Trainer class to implement the supervised constructive loss function (code found using google search). The code is running but it does not save the models checkpoints
`
class SupervisedContrastiveLoss(nn.Module):
    def __init__(self, temperature, device):
        """
        Implementation of the loss described in the paper Supervised Contrastive Learning :
        https://arxiv.org

[2021-07-02 15:41] BirgerMoell opened #12485 "Tensorboard error while running mlm_flax TPU example script on TPU"
## Environment info
Following the https://github.com/huggingface/transformers/tree/master/examples/research_projects/jax-projects#how-to-setup-tpu-vm

## Script

./run_mlm_flax.py \
    --output_dir="./" \
    --model_type="roberta" \
    --config_name="./" \
    --tokenizer_name="./" \
    --dataset_name="oscar" \
    --dataset_config_name="unshuffled_deduplicated_als" \
    --max_seq_length="128

[2021-07-02 15:47] patrickvonplaten commented on #12485
Can you send me your tpu_name & name of virtual environment in a personal Slack message? I'll have a look

[2021-07-02 17:29] neel04 commented on #12438
@lhoestq Any possible leads as to who can solve this bug?

[2021-07-02 17:44] danyaljj opened #12486 "GPT2: discrepancy between `inputs_embeds` and `input_ids` when the input sentence has length = 1"
Calling GPT2 with `inputs_embeds` vs calling it with `input_ids` leads to different outcomes when the input sentence has length 1. See the script to reproduce the issue.

## Environment info
- `transformers` version: tried 4.2.1 and 4.8.2
- Platform: MacOS and Ubuntu
- Python version: 3.7
- PyTorch version (GPU?): 1.9.0
- Using GPU in script?: tried GPU and CPU
- Using distributed or parallel set-

[2021-07-02 18:02] tlby commented on #10256
Maybe this is reckless, but I could see value in at least partially inverting this relationship.  If `.save_pretrained()` could drop a hint about what module an implementation resides in, Auto Classes could have the ability to find them without needing any registration api, and the `Auto*.from_pretrained()` caller would be relieved of the burden of making sure implementation classes are loaded ahe

[2021-07-02 19:09] sgugger commented on #12473
I meant there could be plenty of edge cases I never thought of since we write the Transformers documentation a certain way, sorry if I was unclear. Everything in that file is pretty standard otherwise.

[2021-07-02 19:12] sgugger commented on #12450
I think you forgot to put the model in evaluation mode maybe?

[2021-07-02 20:34] rfernand2 opened #12488 "Fine-tuning t5-large: greedy predictions don't match teacher-forcing results"
## Environment info
- `transformers` version: 4.9.0.dev0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.0
- PyTorch version (GPU?): 1.8.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: YES
- Using distributed or parallel set-up in script?: NO

[2021-07-03 01:10] anthonyfuller7 commented on #12404
I also got this core dump on TPUv3-8 and TPUv2-8 VMs. I'll try some of the proposed fixes tomorrow and update this issue.
@patil-suraj

[2021-07-03 03:00] stas00 commented on #12403
If you want to try the fix on the deepspeed side, instead of the workaround on transformers side, you can try this branch:
https://github.com/microsoft/DeepSpeed/pull/1202

[2021-07-03 05:59] cahya-wirawan opened #12489 "Get core dump after import FlaxRobertaModel"
## Environment info
I tried to run "transformers-cli env" but I get also this error message:
2021-07-03 05:37:33.144628: F external/org_tensorflow/tensorflow/core/tpu/tpu_executor_init_fns.inc:110] TpuTransferManager_ReadDynamicShapes not available in this library.
Aborted (core dumped)

- `transformers` version: 4.9.0.dev0
- Platform: TPU vm from the Jax/Flax event
- Python version: 3.8
- PyTorch

[2021-07-03 06:34] cahya-wirawan commented on #12489
It seems that the jax version 0.2.16 installed automatically during transformers installation make this issue. I can fix it after reinstalling the jax using following command:
`pip install "jax[tpu]>=0.2.16" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html`

[2021-07-03 07:49] Jeevesh8 commented on #12483
I think it is probably not valid to use ``block_sparse`` attention, with ``num_random_blocks=3`` and ``block_size=64`` with a sequence length of just 128.

The notebook works fine upon changing the ``attention_type`` to ``original_full``, as it should be for such short sequence length. Sorry, my bad.

Probably can raise a better error though; when trying to run the model with invalid combination o