[2022-07-15 15:14] morrisalp opened #18151 "Confusing documentation for argument class_labels in MaskFormerForInstanceSegmentation.forward()"
I'm trying to fine-tune MaskFormer for an instance segmentation problem. The documentation for MaskFormerForInstanceSegmentation.forward() lists the following optional parameters:

* mask_labels (List[torch.Tensor], optional) — List of mask labels of shape (num_labels, height, width) to be fed to a model
* class_labels (List[torch.LongTensor], optional) — list of target class labels of shape (num_

[2022-07-15 15:32] Narsil commented on #17754
@davidmezzetti Didn't see this issue, but I didn't see the regression.

Should have been fixed here https://github.com/huggingface/transformers/pull/17906. Sorry it had time to ship with `4.20`. It will be reverted back in the next release.

[2022-07-15 16:09] davidmezzetti commented on #17754
Thank you for responding and the update!

[2022-07-15 19:29] gcheron commented on #16308
@ChainYo I have added LeViT support here https://github.com/huggingface/transformers/pull/18154

[2022-07-16 02:30] TomasAndersonFang commented on #18148
I find that my problem is produced by cuda version. It seems that GTX 3090 is not compatible with cuda 10 and torch installed by pip has the default cuda version (10). So I re-install pytorch with cuda 11 and solve the problem.

[2022-07-16 02:30] #18148 closed

[2022-07-16 08:16] morrisalp opened #18157 "MaskFormer documentation - `is_thing_map`"
The MaskFormer documentation states: "Both tasks can be solved using [MaskFormerForInstanceSegmentation](https://huggingface.co/docs/transformers/v4.20.1/en/model_doc/maskformer#transformers.MaskFormerForInstanceSegmentation) output, the latter needs an additional is_thing_map to know which instances must be merged together.."

However, `is_thing_map` does not appear in the source code, and it loo

[2022-07-16 10:31] BrigandRo opened #18158 "LongT5 Summarization Example Not Working"
### System Info

- OS: Ubuntu 20.04.4 LTS focal
- Conda: 4.12.0
- Python: 3.7.14
- Pip: 22.1.2
- Torch: 1.12.0
- Transfromers: 4.16.2
- NVIDIA-SMI: 510.73.05
- Nvcc -V: cuda V11.3.109

### Who can help?

@patrickvonplaten, @ydshieh, @sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (su

[2022-07-16 10:49] Orient12 commented on #18121
Thanks for your help!I have known how to freeze it！

[2022-07-16 12:48] Arij-Aladel opened #18159 "pretrain longT5"
Could you please provide us with the steps of pretraining the longT5 on both MLM and PSG objectives?
Denoising rates and other details and steps?

[2022-07-16 14:29] mjeensung opened #18160 "Stride in BERT fast tokenizer doesn't work as I expected"
### System Info

Hi,

I'm using 'bert-base-cased' and 'fast tokenizer'.

I set the stride value as 128, but I found that the stride from tokenized results wasn't 128. In the following reproduction script, the stride between two windows was only 54. Is this a bug or intentional?

### Who can help?

@LysandreJik @SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scrip

[2022-07-16 15:01] #17579 closed

[2022-07-16 20:40] rclough commented on #16447
Nice to see progress getting BERT tokenization available for TFX.

On a side note, I found this interesting repo that converts a number of huggingface models (including tokenization) to TF Hub: https://github.com/jeongukjae/huggingface-to-tfhub

[2022-07-16 20:56] xtin commented on #17342
Hi @Narsil

I've also just came across this issue.

here's a fuller stack-trace:
`Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.9/3.9.13_1/Frameworks/Python.framework/Versions/3.9/lib/python3.9/contextlib.py", line 137, in __exit__
    self.gen.throw(typ, value, traceback)
  File "/usr/local/lib/python3.9/site-packages/transformers/pipelines/base.py", line 842, in device_pl

[2022-07-16 21:33] whaleloops commented on #18158
update transformer to 4.20.0+ should solve this issue.

Also I don't think you need --source_prefix "summarize: "  according to the paper.

[2022-07-16 21:47] whaleloops opened #18162 "longt5 error in step 13 when torch.distributed.launch"
### System Info

Hardware:
6 Quadro RTX 6000 and 2 A100-40GB gpus, but I only used 2 A100-40GB gpus for this task.

Env:
transformers==4.20.1
torch==1.11.0+cu113

### Who can help?

@patrickvonplaten  @stancld

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My

[2022-07-17 05:04] bibhabasumohapatra commented on #16308
Actually I was using Hugging Face for a while and wanted to contribute,
[16308](https://github.com/huggingface/transformers/issues/16308)  I was trying Swin Transformer one,  following . .. replicating ViT one: [here](https://github.com/huggingface/transformers/compare/main...bibhabasumohapatra:transformers:onnx--SwinTransformer) ,
running tests I got,
[code]

the same was case in ViT implementati

[2022-07-17 08:51] PersianSpock opened #18163 "Fine tune TrOCR for persian language"
### Model description

Hello!
I'm a newbie and I am trying to use TrOCR for recognizing Persian digital text(like PDF) from image. I don't know what will be the requirements if I want to fine tune pre-trained TrOCR model but with decoder of multilingual cased. I've followed this post https://github.com/huggingface/transformers/issues/15823 but it doesn't work out for Persian with the info they gav

[2022-07-17 10:49] BrigandRo commented on #18158
@whaleloops It works, thanks.

[2022-07-17 10:49] #18158 closed

[2022-07-17 12:11] gcheron commented on #16308
@bibhabasumohapatra you have to install ONNX:

`pip install transformers[onnx]`

[2022-07-17 13:49] ahmedlone127 opened #18164 "Cannot save TFSwinForImageClassification as SavedModel"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Usi

[2022-07-17 15:02] #17604 closed

[2022-07-17 15:02] #17601 closed

[2022-07-17 15:22] skanjila commented on #17525
@younesbelkada @ArthurZucker I am new to the hugging face community and am looking to contribute, I looked through the first issue list but all issues seem to have pre existing contributors assigned, can I help with this one or is there another first issue I can dive into and help out with.  Thanks

[2022-07-17 15:24] skanjila commented on #17268
Hi all is this work complete, I'd love to help if possible.

[2022-07-17 15:30] skanjila commented on #16308
Hello @ChainYo  I would like to contribute the Onnx config for the Decision Transformer, I'd love some guidance on how to go about this as this is my first contribution, really appreciate your guidance in getting me off the ground.

[2022-07-17 19:34] malloc-naski commented on #16006
@doubletfly @Pedrohgv this worked for me, at least for the m2m_100: https://github.com/huggingface/optimum/blob/b8ea77029bb6fffddc175a540cc29f15efa0fe68/docs/source/onnxruntime/modeling_ort.mdx#export-and-inference-of-sequence-to-sequence-models

[2022-07-17 21:51] gorkemozkaya opened #18166 "Getting error following the official docs for T5 translation fine-tuning: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'new_zeros'"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- U

[2022-07-17 23:33] rxlian commented on #12767
Hi, have you found the solutions?

[2022-07-17 23:45] yeounyi commented on #12767
@rxlian Hi, I failed to override `model.generate()` function, but in my case overriding `_prepare_encoder_decoder_kwargs_for_generation` function in the model definition was successful!

[2022-07-18 00:06] gorkemozkaya commented on #18166
I noticed the issue is due to using the PT model instead of the TF, but the documentation still needs to be fixed, because it is using the `model`  for creating the `data_collator` before the model is actually loaded, for both TF and PT.

[2022-07-18 01:44] doubletfly commented on #16006
Okay！Thanks for your reply.  :)

[2022-07-18 01:48] doubletfly commented on #16006
That's good, i'm going to study it, thanks for your advice. :）

[2022-07-18 02:00] spanglies opened #18167 "Group_texts in run_clm.py will add shorter than block_size groups on intermediately sized training sets."
### System Info

SageMaker using transformers 4.17 and attempting to fine-tune GPT2 and GPT-Neo.

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Steps to reproduce:

1:

[2022-07-18 04:10] oneraghavan commented on #13244
@NielsRogge  @Doreenruirui  This issue seems to fixed. We can close this issue.

[2022-07-18 07:45] sgugger commented on #18120
The problem is that we have *a lot* of architectures and while there shouldn't be any warning in theory if everything has been coded right, I can't guarantee there is not one that shows some warning because some of the internal class variables for the weights that should be ignored in that warning are not properly set (those keys would be tensors that are not set randomly but deterministically lik

[2022-07-18 07:56] sgugger commented on #18164
cc @gante and @amyeroberts

[2022-07-18 08:00] ArthurZucker commented on #17525
Hey, it seems that this was already taken car of, see #18123, but thanks a lot for wanting to contribute! I am going to look for an issue that might be interesting for you :)
BTW, you can also check the closed issues as some are close because of a lack of activity. I assigned myself to #17514 but have not had the time to really look into it! Feel free to fork `transformers` and create a branch for

[2022-07-18 08:02] sgugger commented on #18167
If you remove that line, you will get no training at all, since there is going to be 0 batches left. It is there to ensure a small dataset yields exactly one batch.

[2022-07-18 08:07] c-liangyu opened #18173 "Can't Run UL2"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-81-generic-x86_64-with-glibc2.31
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Usin

[2022-07-18 08:21] DnyaneshwarBhadane1997 commented on #2952
I had the same issue in the past. after checking for the many issue for this error. i did some reverse engineering and found that my   input been going as empty in the modal train.
If you pass the input sentence as empty then also faced the same error. I have resolved by filtering my dataset with null/empty sentence data point.

[2022-07-18 08:48] daje0601 commented on #18043
Hello, First of all Thank you so much.
nllb is super power translation!
There are 208 in the world, and I think it's amazing to translate 200 of them into languages.
Also, thank you so much for updating the hugging face 5 days ago so that it can be easily used.

I 'm trying to using huggingface-nllb.
But, tokenizer is not working...
[code]
![image](https://user-images.githubusercontent.com/7373698

[2022-07-18 09:06] Olubayode opened #18174 "NLLB model file for the 600M model"
1. Please where can I locate the  MODEL_FILE i.e  the Path to python file containing the model architecture. I believe the model architecture file will contain only one class definition extended from torch.nn.modules.
2. Please where can I locate  the Handler file that can be use for TorchServe inference logic.

Please me out with the location to the model_File and handler file

[2022-07-18 09:43] Pedrohgv commented on #16006
@malloc-naski that's great, I tried Optimum once and it didn't work for the OPUS models, but it was some time ago and I don't remember exactly what it was I was doing. If I have time, I'll test this. Thank you!

[2022-07-18 09:59] prashantmore277 commented on #9445
I have the same error, is anyone able to solve this problem
line 477, in load_state_dict
    raise OSError(
OSError: Unable to load weights from pytorch checkpoint file for '{Mydict}.cache\huggingface\transformers\4a74c6c9128ba518e61fbdf559d03e64b6bd0ad6db588419dfd865ace535942a.a48b7b4437be34e24274c9cf6cf57e2424d3f1eec537ec03b905e6f01d19ed77' at '{Mydict}.cache\huggingface\transformers\4a74c6c9128

[2022-07-18 10:08] lewtun commented on #16006
Hi @Pedrohgv @doubletfly @malloc-naski we've recently added support for seq2seq models in `optimum`, so you can now do text generation with ONNX models directly via the `pipeline()` function from `transformers` 😎

Here's a simple demo:

[code]

Hope this helps!

[2022-07-18 10:39] Pedrohgv commented on #16006
@lewtun Thank you very much!

[2022-07-18 10:47] c-liangyu opened #18176 "Model Loading Imbalance"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-81-generic-x86_64-with-glibc2.31
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Usin

[2022-07-18 10:48] prashantmore277 commented on #4338
Those who are new to this issue I just figured it out and save your time 😜😀

What is this error about?
==> When you run the model for the first time it downloads some files { pytorch_model.bin } and if your internet is broken accidentally between processes it will continue running the pipeline file without completely downloading that pytorch_model.bin file so it will raise this issue.

Steps :
1 ]

[2022-07-18 10:49] regisss commented on #16308
@skanjila You can check how to do it here, it is well described: https://huggingface.co/docs/transformers/v4.20.1/en/serialization#exporting-a-model-for-an-unsupported-architecture
Do not hesitate to open a PR and we will support you if needed :)

[2022-07-18 10:55] ChainYo commented on #16308
Thanks @regisss, for the appropriate link!

There are also multiple merged PR that adds ONNX Config that can give you an idea of all files you need to update to make it works.
Look at: #16274, #16279, #16427, #17213 or #18154

Sometimes there are some edge cases where you have to implement more things (like LayoutLMv3), but we could help you through the PR when you start implementing it, as @regis

[2022-07-18 11:04] gante commented on #18164
@amyeroberts is this related to what you've been investigating? If not, I can have a go at it :)

[2022-07-18 11:08] rhvaz opened #18178 "ImportError: cannot import name 'BloomTokenizer' from 'transformers'"
### System Info

transformers==4.20.1
torch==1.12.0
Python 3.9.13
GPU: yes (running on GCP)

### Who can help?

@SaulLu

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

I was following https:

[2022-07-18 11:09] amyeroberts commented on #18164
@gante Yep - I believe so. I've opened a PR here: https://github.com/huggingface/transformers/pull/18153

[2022-07-18 11:34] ahmedlone127 opened #18179 "Cannot save TFTapasModel as SavedModel"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.8.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Usi

[2022-07-18 11:47] ahmedlone127 commented on #18164
Hey @amyeroberts I updated my transformer code locally with the changes you made in the PR for swin but I still get the same result

[code]

![image](https://user-images.githubusercontent.com/66001253/179504748-a1673b1d-0261-45c8-88e9-8319bf89d243.png)

[2022-07-18 12:00] SaulLu commented on #18178
Hi @rhvaz,

I am sincerely sorry that you have encountered this issue. We do have a small typo in our documentation, which has been resolved in the PR https://github.com/huggingface/transformers/pull/18005 but not yet deployed on our website.

In the meantime, here is the snippet that should work:
[code]

[2022-07-18 12:06] ahmedlone127 commented on #18164
Thanks

[2022-07-18 12:08] Narsil commented on #18120
Makes sense ! Thanks.

[2022-07-18 12:15] Captainr22 opened #18180 "failed to use PyTorch jit mode due to: forward() is missing value for argument 'position_ids'."
I want to use pytorch jit to improve my inference speed on CPU. My model is BertForTokenClassification. And I found position_ids must be given to model if I want to use pytorch jit.
Could you please give some suggestions to solve this problem? Or the position_ids is indispensable.
Thank you!

[2022-07-18 12:17] daje0601 commented on #18043
Hello, #18126
Tokenizer is not working.

[2022-07-18 12:30] AhmedIdr commented on #18043
Hey @daje0601, it was just merged to the main branch 15 minutes ago, I just tried it, and it seems to be working, make sure you are installing the main branch.

[2022-07-18 12:43] daje0601 commented on #18043
Hey @AhmedIdr, I'm not a liar.
I also tried running it in colab a minute ago. But it didn't work. So I asked this question. I've been thinking about this all day today. I knew it was a really simple question, so I searched and searched more and asked the question. Here is a link to a colab I tested.[link](https://colab.research.google.com/drive/1ngXBBQOmUSebtkhbqsh2W9JTI_MnevpJ?usp=sharing)

[2022-07-18 12:46] AhmedIdr commented on #18043
Hey @daje0601, you are installing transformers from pip and not installing the latest branch on Github. Try installing transformers like this `!pip install git+https://github.com/huggingface/transformers.git` and see if it does work afterwards.

[2022-07-18 12:55] daje0601 commented on #18043
Oh..!!!!!!!!!! It's working..!!!!
So So So Thank you ♥︎

[2022-07-18 12:56] dsivakumar commented on #12763
I have added custom tokens using tokenizer.add_tokens and ran train(), got the same error. I found out that, need to resize model like this model.resize_token_embeddings(len(tokenizer)) and it worked.
So, every call of add_token should be followed by resize model.

Check if it's the case with yours as well.

[2022-07-18 13:01] Rocketknight1 commented on #16447
@rclough Wow, it looks like they did a lot of work on precisely reimplementing tokenizers in TF there, that's extremely interesting!

[2022-07-18 13:19] #18145 closed

[2022-07-18 13:39] NielsRogge commented on #18163
Hi,

I explain how to train TrOCR on a different language here: https://github.com/huggingface/transformers/issues/14195#issuecomment-1039204836

[2022-07-18 14:47] Narsil commented on #17853
Pinging @mfuntowicz to get his input on wether it's a tracing issue or a pipeline issue.

[2022-07-18 15:02] #17654 closed

[2022-07-18 15:02] #17613 closed

[2022-07-18 15:02] #17595 closed

[2022-07-18 15:02] #17482 closed

[2022-07-18 15:05] allohvk opened #18186 "Same training time for different values of sliding window in Longformer"
### System Info

Transformers: 4.20.1
Python: 3.8.12
Pretrained models & tokenizer from HF: "allenai/longformer-base-4096"

The training time does not change for any value of sliding window. For e.g. a sliding window of 2 or 512 (which is the default) or 1024 takes the same training time. This seems to be a bug to me. I need a very small local window span (sliding window max 64 across 4096 tokens)

[2022-07-18 15:09] ashokurlana commented on #8704
I am also having the same issue

[2022-07-18 15:14] ydshieh commented on #18186
@allohvk Could you provide a (minimal) training script that demonstrates the issues, probably using a dataset from HF Hub if necessary?

[2022-07-18 15:34] SaulLu commented on #18178
You spotted another typo in the name of the checkpoint! Here's a new snippet that should work:
[code]

I also took this opportunity to share the same fix in the documentation in PR #18187

[2022-07-18 15:43] #18178 closed

[2022-07-18 16:39] skanjila commented on #17514
@ArthurZucker I was going to start digging into this, please confirm if thats ok per your. earlier advice.

[2022-07-18 16:43] Arij-Aladel opened #18189 "run_summarization_no_trainer"
@sgugger Hello! I just tried to run the code to explore this example https://github.com/huggingface/transformers/blob/main/examples/pytorch/summarization/run_summarization_no_trainer.py

this is my yml file to build the env

then pip install rouge-score

after that simply I ran thhe command

`accelerate launch run_summarization_no_trainer.py     --model_name_or_path t5-small     --dataset_name cnn

[2022-07-18 16:46] sgugger commented on #18189
Did you run `accelerte config`? What's the result of `accelerate env`?

[2022-07-18 16:59] oscmansan commented on #17514
Hi @skanjila & @ArthurZucker. I had commented on this issue recently as I ran into the same problem with the PyTorch version of OPT when performing batch generation with half precision. However, later I found out it's also related to issue #17433 and solved in the PR #17437. I installed the latest version of the library from the `main` branch and I can confirm the issue was fixed.

[2022-07-18 17:09] Narsil commented on #9560
Will close this issue as it's really kind of outdated.

[2022-07-18 17:09] #9560 closed

[2022-07-18 17:13] Narsil commented on #17342
Culprit code is here !

https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/base.py#L772

Basically we only handle `cuda` and I think it's because of multi gpu setup!

[2022-07-18 17:23] spanglies commented on #18167
It looks like I must have hit some sort of an edge case. I think what happened was that it got to the end of my file and no longer had 1000 examples to provide the function `group_texts`. So in the case where the dataset lines up wrong, it won't work.

Perhaps the `drop_last_batch` flag should be set by default during the group_texts phase and a parse_flag for "small datasets" should be introduced

[2022-07-18 17:25] Arij-Aladel commented on #18189
could you please send any link that helps how to figure the questionaire using deepspeed?

[2022-07-18 17:51] Arij-Aladel commented on #18189
Any way these are my steps

Still something wrong)

[2022-07-18 18:04] MrRobot2211 commented on #16587
Hi I am using transformers `4.14.1` and pytorch `1.12.0` and the issue persists

[2022-07-18 18:51] ratishsp opened #18190 "Longformer EncoderDecoder (LED)-Large model finetuning for summarization results in </s><s><s><s><s><s><s><s><s><s><s>... output"
### System Info

- `transformers` version: 4.20.0.dev0
- Platform: Linux-4.18.0-348.23.1.el8_5.x86_64-x86_64-with-centos-8.6-Green_Obsidian
- Python version: 3.7.13
- Huggingface_hub version: 0.7.0
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

[2022-07-18 19:06] nbroad1881 commented on #16587
transformers should be > 4.19

[2022-07-18 22:04] skanjila commented on #16308
@ChainYo will get started on this, thank you so much for your help, expect a PR coming soon

[2022-07-18 23:45] whaleloops commented on #18107
what is your transformers version?

[2022-07-19 00:52] skanjila opened #18191 "add Decision Transformer ONNX config to Transformers"
### Feature request

Add Decision Transformer OnnxConfig to make this model available for conversion.

### Motivation

This is part of adding OnnxConfigs for unsupported models https://huggingface.co/docs/transformers/v4.20.1/en/serialization#exporting-a-model-for-an-unsupported-architecture

### Your contribution

I will be submitting a new PR to address DecisionTransformer model

[2022-07-19 00:53] skanjila commented on #18191
@ChainYo @regisss Issue is here, will add PR once its in a workable state

[2022-07-19 03:20] mjeensung commented on #18160
Thanks @SaulLu !

I was confused because the tokenized results was different from the ones processed by [squad.py](https://github.com/huggingface/transformers/blob/main/src/transformers/data/processors/squad.py#L187). But I found that [squad.py](https://github.com/huggingface/transformers/blob/main/src/transformers/data/processors/squad.py#L187) re-defines the stride based on max_seq_length and le

[2022-07-19 06:01] Orient12 opened #18193 "when i use TFGPT2LMHeadModel, how can i build labels and input_ids?"
### System Info

when i use TFGPT2LMHeadModel,i don't know how to build input_ids and labels!

### Who can help?

@patil-suraj

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

def encode_example(ds,

[2022-07-19 08:08] allohvk commented on #18186
- I will try to do that. I need to look for a large enough dataset such that the training times show a tangible difference between different scenarios
- I was exploring alternative architectures (like Big Bird) and came across a disclaimer there stating that benefits of sparse attention become visible for only 1024 max-seq-length and beyond. Perhaps Longformer too has this limitation and if so, th

[2022-07-19 08:47] c-liangyu commented on #18173
Looks like lm_head.weight is causing the problem. But I thought this item was in _keys_to_ignore_on_load_missing of T5ForConditionalGeneration. How could this happen?

[2022-07-19 09:00] Arij-Aladel commented on #18189
@soumyasanyal could you please tell the steps I am absolutely new)

[2022-07-19 12:20] JingyaHuang opened #18199 "Exported DeBERTa ONNX model is incorrect"
### System Info

- `transformers` version: 4.21.0.dev0
- Platform: Linux-5.4.0-121-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)

### Who can help?

@LysandreJik

### Reproduction

__Reproduction__
[code]

__Trace Warnings__

[code]
There are some operations which are not torch native(numpy, math) lead to the f

[2022-07-19 13:20] younesbelkada opened #18200 "[TRACKER] Add BLOOM Meg-DS optimizer states"
### Feature request

Add BLOOM Meg-DS optimizer state on the Hub. Feature request from: https://twitter.com/Asuna_FPS_/status/1549137254588633093?s=20&t=FhO7Tlv01Gn6r_inZGyBug

[2022-07-19 13:29] AhmedIdr commented on #18043
@ArturPrzybysz Hi, I am not a part of the hf team, I am just a community member and wanted to help with the issue :)

[2022-07-19 13:40] younesbelkada commented on #18200
Currently uploading here: https://huggingface.co/bigscience/bloom-optimizer-states

[2022-07-19 14:09] ratishsp commented on #18190
Hi @ydshieh thanks for looking into the issue. In a previous checkpoint 1500, the model produced a good output for the above news article: `</s><s>The Eiffel Tower is the tallest building in the world, with a height of 300 metres (1,063 ft).</s>`

[2022-07-19 14:13] ratishsp commented on #18190
What is surprising is that the eval rouge fluctuates a lot till checkpoint 1500, after which it remains close to 0. I have attached below a tensorboard image of eval_rouge1
![image](https://user-images.githubusercontent.com/3006607/179771469-a4eb9c8b-61dd-46e1-8471-7bf9324ed008.png)

[2022-07-19 14:39] ratishsp commented on #18190
Even more suprising, LED-Base model seems to be doing quite well!
![image](https://user-images.githubusercontent.com/3006607/179777619-16b51619-eb76-4067-ab1c-0b6d9f6287e1.png)

Model output (checkpoint 1600):
`</s><s>The Eiffel Tower in Paris is the tallest structure in the world.</s>`

[2022-07-19 14:41] bibhabasumohapatra commented on #18190
Actually I checked the output of base models...  Was really quite good. Better if increase batch size

[2022-07-19 14:47] Sreyan88 commented on #18096
Hi @gante ,

Good day! Any leads to this? I tried but couldn't figure out the exact issue. :(

[2022-07-19 15:01] #17476 closed

[2022-07-19 15:02] #16719 closed

[2022-07-19 17:01] JoaoLages commented on #17748
Could we also pass generate arguments to [Seq2SeqTrainerArguments](https://github.com/huggingface/transformers/blob/d0acc9537829e7d067edbb791473bbceb2ecf056/src/transformers/training_args_seq2seq.py#L28) directly? This would be very cool so that we could use things like `logits_processor` in the validation step!

cc @gante @sgugger

[2022-07-19 17:05] sgugger commented on #17748
`Seq2SeqTrainingArguments` is only there to provide an easy way to have arguments in the CLI, and you can't pass instances of logits processors as CLI arguments, so I don't see what adding this here would add.

[2022-07-19 18:17] allohvk commented on #18186
Thanks @ydshieh for taking time out to test this and I must apologize if I wasn't clear. I was actually referring to the training time taken, by which I mean the time to fine-tune a pre-trained model with additional training data before actually inferring.
I would assume that just like the inference time, the training time too should change based on the length of the sliding window. It should be s

[2022-07-19 18:44] ydshieh commented on #18186
Hi @allohvk , I know you are talking about the training time. However, even with just the `forward` method of the model, we already see that the effect of `window_size` (used for local attentions), i.e. to have linear time instead of quadratic time, will appear **only for large** enough `window_size` (and therefore with long enough sequences).

For small `window_size`, some overhead will prevent t

[2022-07-19 20:08] soumyasanyal commented on #18189
Sure! I just followed the steps in this [link](https://huggingface.co/docs/accelerate/quicktour). The steps I followed are:
[code]

My config file is as follows (but it can change as per your requirements. I just wanted to run a job on 8 GPUs in a single node, without DeepSpeed or mixed precision):
[code]

I was previously running `accelerate launch script.py` without mentioning the config file wh

[2022-07-19 20:32] krishnacloud77 commented on #16404
i have an issue with installing transformers using packer. Can someone help me with transformers not getting installed ?

      "inline": [
        "python3 -m venv .env",
        "source .env/bin/activate",
        "source activate tensorflow2_p38",
        "pip install --upgrade pip",
        "pip install transformers",
        "pip install torch",
        "pip install tensorflow-gpu==2.7.0"

[2022-07-20 00:40] lboxell commented on #17265
What's the status of this? Is there a workaround without editing the source?

[2022-07-20 02:08] HaoboGu commented on #17773
@patrickvonplaten any ideas?

[2022-07-20 02:31] xxllp commented on #5164
how can I get the gold  sequence  score

[2022-07-20 03:22] 1gst opened #18206 "The saved trained albert-base-v2 model does not work properly"
### System Info

2022-07-19 15:17:57.094050: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-07-19 15:17:57.094178: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
WARNING:tensorflow:From C:\Users\19715\anacond

[2022-07-20 03:23] LSC527 opened #18207 "torch.jit.trace can trace shared weights, no need to clone weights when tracing"
### System Info

[source code of "tie or clone weights"](https://github.com/huggingface/transformers/blob/8a61fe023430115bb61ec328a29d35571f4fc2c4/src/transformers/modeling_utils.py#L1137)
[document](https://huggingface.co/docs/transformers/v4.20.1/en/serialization#torchscript-flag-and-tied-weights)
I did a experiment and results showed that `torch.jit.trace` can trace shared weights and use the `

[2022-07-20 04:41] artidoro opened #18208 "length_penalty behavior is inconsistent with documentation"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.120+-x86_64-with-glibc2.27
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:  yes
- Using dist

[2022-07-20 06:13] sgugger commented on #17748
Or you could just pass them along when you call `evaluate` and `predict`. There are already 94 arguments in `Seq2SeqTrainingArguments`.

[2022-07-20 06:19] sgugger commented on #17265
No PR was raised to fix it, you should go ahead if you want to contribute :-)

[2022-07-20 06:45] qqaatw opened #18209 "Argument inconsistency between processor and tokenizer"
### System Info

transformers on master

### Who can help?

@sgugger who modified the line lastly from git blame

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

In `processing_utils.py`, to use the

[2022-07-20 07:09] sgugger commented on #18209
No `from_slow` is an internal argument that determines whether the tokenizer should be loaded from slow tokenizer files or a fast tokenizer file. That is why you're not finding it in the documentation for instance.

[2022-07-20 07:25] qqaatw commented on #18209
@sgugger  Oh thanks. I confused the purpose of `from_slow`. Now it looks that I can only use `use_fast` to get the slow version.

[2022-07-20 07:25] #18209 closed

[2022-07-20 07:47] JoaoLages commented on #17748
What if I want to early stop with the metric being calculated with `logits_processor`, for example?

[2022-07-20 07:51] sgugger commented on #17748
You should then use Accelerate to be able to customize the training loop to your needs :-)

[2022-07-20 07:54] NielsRogge commented on #18174
Hi,

The 600 million parameter model can be found here: https://huggingface.co/facebook/nllb-200-distilled-600M.

The weights of the model can be found in the "files and versions" tab (check the "pytorch_model.bin" file): https://huggingface.co/facebook/nllb-200-distilled-600M/tree/main.

[2022-07-20 08:01] ehrencrona opened #18210 "TFAutoModel does not work with gpt2 and .generate"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

##

[2022-07-20 08:09] yupei9 opened #18211 "The problem in BATCH generation of GPT model"
When I tried to use GPT model (including GPT-2, GPT-NEO-2.7B, GPT-J-6B, GPT-NEOX) to generate text, I found some strange results.

When I set the batch size to 1, all results are normal.
BUT when I set the batch_size more than 1, such as 4, 8, ..., the generated text on GPT-J-6B,  GPT-NEOX is abmoral, which contains a large number of repeated consecutive letters or words, for example "AAAAAAAAAAAA

[2022-07-20 08:14] #17525 closed

[2022-07-20 09:22] micktsai opened #18212 "Private model usage problem"
I upload a private model for myself, and when I want to use it by “AutoModel.from_pretrained” there appears a error as I show bleow.
I have used huggingface-cli login with the access token with read grant and use “trust_remote_code=True” as it recommands but it still has error 401.
How can I use my private model?

Explicitly passing a revision is encouraged when loading a configuration with custom

[2022-07-20 09:48] alejandrojcastaneira commented on #15451
Hi @R0bk thanks for the amazing work! I was able to train with custom data using your fork and the cola notebook that you provided and the results look promising! Thought at the moment Im just able to train the model with entities of type 1 & 2, if I set between other types of entities inside the "label" field of the "entities" key lists, I got an error. I even tried the comment the line that you

[2022-07-20 10:27] gante commented on #16404
Hi @krishnacloud77 👋  Reading above, it seems like you are activating two python environments (assuming `tensorflow2_p38` is a python environment) -- try using only one of them. Also, I'd recommend installing TF and PT from the extras, i.e. `pip install transformers[tf,torch]`

[2022-07-20 10:41] tahercoolguy commented on #16378
@patil-suraj I have same problem for GPT-Neox model. Any quick treatment

[2022-07-20 11:17] PersianSpock commented on #18163
Hi Niels! Thank you for your response. the thing is that I use:
[code]
And I use your Fine_tune_TrOCR_on_IAM_Handwriting_Database_using_native_PyTorch code and at the end of the code my last result is this error:

What's wrong?

[2022-07-20 11:53] NielsRogge commented on #18163
It seems that the images you provide are of size 384x384, but the model (the ViT encoder) expects them to be of size 224x224.

[2022-07-20 11:54] PersianSpock commented on #18163
I changed the images size but it still says that

[2022-07-20 11:55] PersianSpock commented on #18163
[code]

[2022-07-20 11:57] PersianSpock commented on #18163
this part still gives 384, 384:

`encoding = train_dataset[0]
for k,v in encoding.items():
  print(k, v.shape)
encoding = eval_dataset[0]
for k,v in encoding.items():
  print(k, v.shape)`

[2022-07-20 13:07] LeninGF opened #18214 "Save and load"
Hello community, I am having the same problem described to save and load a fine tuned model using transformers and tensorflow. I have used save_pretrained, save_weights and model.save with save_format=tf. I have been able to load the model with from_pretrained but it loads no weights and when I perform evaluation performance is too low compared when training while the fine tuned model is in memory

[2022-07-20 13:31] HaoboGu commented on #17773
@lewtun I just worry about the warning may lead to unpredictable results when I use the model.

[2022-07-20 14:29] Winsonguo commented on #4330
I met the same issue, have you fixed?  Thanks.

[2022-07-20 14:36] donebydan opened #18216 "Support private (Opacus) training of BART by altering BartLearnedPositionalEmbedding's forward method"
### Feature request

Alter the signature of `BartLearnedPositionalEmbedding`'s forward method to take a `torch.Tensor` instead of `torch.Size` input.

### Motivation

This will support private fine-tuning of BART via DP-SGD in Opacus. To use Opacus on a custom `nn.Module` like `BartLearnedPositionalEmbedding` there is a fairly reasonable assumption that layers take tensors as input. This assumptio

[2022-07-20 14:43] allohvk commented on #18186
- Got it. I suppose this is very reasonable ramification of using a specialised attention model which handles long sequences. There is no visible benefit in having sliding window size < 128. Possibly it can just be documented somewhere. I will close this as "not a bug" for now.
- I may still have a problem with the model taking quadratic time for longer sequences even with default values of slidin

[2022-07-20 14:43] #18186 closed

[2022-07-20 15:03] #17676 closed

[2022-07-20 15:03] #17675 closed

[2022-07-20 15:03] #17670 closed

[2022-07-20 15:03] #17526 closed

[2022-07-20 15:04] Muhammad-Ahmad-Ghani opened #18217 "BLOOM model parameters mentioned in hub-docs"
<h3>The model mentioned in Hugging-face hub is actually 176B parameters model by BLOOM. But written as 175B in "docs/source/en/model_doc/bloom.mdx"</h3>
<h4>Visit below link to confirm</h4>

[link](https://huggingface.co/docs/transformers/model_doc/bloom)

![image](https://user-images.githubusercontent.com/63394104/179976308-46ecf0d0-41b8-44e8-bc19-c6c1d60d2969.png)

[2022-07-20 17:12] rkoystart opened #18219 "Tokeniser support in java"
### Feature request

Current I have tested the sentence transformers paraphrase-multilingual-MiniLM-L12-v2 model in python. The model seems to be performing very well. I want to use the model in java so I converted the model to onnx model.  But I could not find a way to convert the tokeniser in java or some equivalent tokeniser library in java .
So would like to know is there a way to use the toke

[2022-07-20 18:43] BrainSlugs83 opened #18220 "transformers[tf-cpu] fails because torch isn't installed"
### System Info

transformers-cli-env crashes, so I'm typing things manually, lmk if you need something specific.
[code]
### Who can help?

@Rocketknight1 - looks like you are listed for tensorflow.  Apologies if this is wrong, or if I misinterpreted something.

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `

[2022-07-20 19:03] krishnacloud77 commented on #16404
Hi gante

Hi gante
still issue not resolved after removing one venv.

      "inline": [
        "python3 -m venv",
        "source .venv/bin/activate",
        "source activate tensorflow2_p38",
        "pip install  --upgrade pip",
        "pip install transformers[tf,torch]",
        "pip install torch",
        "pip install --user tensorflow-gpu==2.7.0"
      ],
      "type": "shell"
    },

[2022-07-20 21:19] Qiaochu-Song commented on #17945
Hi Tatiana,
I am just a user and just came across your issue. I have experienced similar things and I finally found out it was due to incompatibility between tokenizer's vocabulary and the vocabulary sizes of the encoder & decoder (check in the config). Not sure if the same reason, but maybe you could check it, too :)

[2022-07-20 21:31] stas00 commented on #17945
Apologies I wasn't able to attend to many things transformers as of recently due to BLOOM training. I had a quick look and the problem stems from the padding id being `-100` here for some reason which is the wrong negative index and `torch.embedding` fails to look it up as its keys are all positive indices.

Will try to find some time hopefully in the next few days to dive deeper and resolve this.

[2022-07-20 23:57] mattf1n opened #18222 "Running `examples/pytorch/summarization/run_summarization.py --help` gives `TypeError: can only concatenate tuple (not "str") to tuple`"
### System Info

- `transformers` version: 4.21.0.dev0
- Platform: macOS-12.3-x86_64-i386-64bit
- Python version: 3.10.0
- Huggingface_hub version: 0.7.0
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.5.0 (cpu)
- Jax version: 0.3.13
- JaxLib version: 0.3.10
- Using GPU in script?: no
- Using distributed or parallel set-up

[2022-07-21 00:14] bhakti-visotrust commented on #8539
@SapirWeissbuch , I'm also facing this issue, were you able to resolve this? I get this error when running training for "allenai/longformer-base-4096" model with distributed training

[2022-07-21 04:42] zhuango opened #18223 "Tensorflow example squad's run_qa.py miss token_type_ids inputs"
### System Info

transformers==4.20.1, torch==1.9.0, tensorflow2==2.9.

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Steps to reproduce the behavior

1. Download

[2022-07-21 05:53] PersianSpock commented on #18163
the problem in error seems to be because of the ViT and in your own code the training set is 384*384 as the last piece of code I commented shows
what's wrong?

[2022-07-21 07:43] whiteRa2bit opened #18227 "Can't load tokenizer for longt5-xl"
### System Info

transformers version: 4.20.0
Platform: Linux-4.15.0-135-generic
Python version: 3.8.13
PyTorch version (GPU?): torch==1.10.2+cu113
Using GPU in script?: no
Using distributed or parallel set-up in script?: no

### Who can help?

@patrickvonplate

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `

[2022-07-21 07:48] eneko98 commented on #17169
Hello, did you manage to solve it? I got the same issue

[2022-07-21 08:16] Shiv681991 opened #18228 "VisualBERT, visual feature projection."
The default implementation takes in 1x197x768 visual features and gives an error while multiplying 197x768 with 2048x768 (or 1021/512 x 768 depending upon the model used).
Do we really need to modify the inner visual projection code for VisualBERT? Feels weird. Can someone help pl?

[2022-07-21 08:29] datalee commented on #16620
me too

[2022-07-21 08:48] voidful opened #18231 "Conflict between pyctcdecode and Wav2Vec2ProcessorWithLM"
### System Info

transformers 4975002df50c472cbb6f8ac3580e475f570606ab
pyctcdecode 9afead58560df07c021aa01285cd941f70fe93d5

### Who can help?

@patrici

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproductio

[2022-07-21 08:52] gante commented on #16404
The series of commands above is still activating two environments, and it's also installing torch and tensorflow externally. Try this:

[code]

[2022-07-21 08:53] LysandreJik commented on #18231
Maybe of interest to @patrickvonplaten @anton-l @sanchit-gandhi**

[2022-07-21 08:54] LysandreJik commented on #18231
Maybe of interest to @patrickvonplaten @anton-l @sanchit-gandhi**

[2022-07-21 08:57] sgugger commented on #18222
Thanks for flagging! The PR mentioned above should fix it.

[2022-07-21 09:03] #18222 closed

[2022-07-21 09:04] datalee commented on #16620
how to set?

[2022-07-21 09:11] datalee commented on #16620
not work for me

[2022-07-21 09:19] achirobakidze commented on #3985
@jban-x3 I think you should try smaller values for `num_beams`

[2022-07-21 09:31] NielsRogge commented on #18163
The model I'm fine-tuning in my notebook expects images to be of size 384, as seen [here](https://huggingface.co/microsoft/trocr-base-printed/blob/main/config.json#L104).

[2022-07-21 09:39] nickprock commented on #17459
Hi everyone, if you have submitted a PR some time ago it is likely that it was closed automatically because it was inactive. Comment to reopen it. I did and they were immediately merged.

[2022-07-21 09:45] LysandreJik commented on #18228
cc @gchhablani

[2022-07-21 09:48] lorenzobalzani commented on #17459
I've commented on my closed [PR](https://github.com/huggingface/transformers/pull/17642) but nothing has happened!

[2022-07-21 09:49] sgugger commented on #17459
@lorenzobalzani You should make sure to ping maintainers to get your PR merged :-)

[2022-07-21 10:04] LysandreJik commented on #18223
cc @Rocketknight1

[2022-07-21 10:20] PersianSpock commented on #18163
I used "google/vit-base-patch16-224-in21k" and "xlm-roberta-base". the first one you suggested in https://github.com/huggingface/transformers/issues/14195#issuecomment-1039204836
what is the issue that says the model has the picture of size 224*224?

[2022-07-21 10:24] NielsRogge commented on #18163
Yes, `google/vit-base-patch16-224-in21k` expects images to be of size 224, but you're resizing the images to 384.

[2022-07-21 10:26] NielsRogge commented on #18174
Closing this issue as I feel like this has been answered, feel free to reopen.

[2022-07-21 10:26] #18174 closed

[2022-07-21 10:39] Bhavnick-Yali commented on #16308
Hi :hugs:

I am facing this error while trying to load up my DeBERTaV3 model into a ONNX format.

[code]

Though, @ChainYo in your original post you mention DeBERTaV2 should be available. Based on this error, I feel like there might be a bug in this.

Could someone help me sort this out or tell me how to get past this?

 thanks

[2022-07-21 11:04] PersianSpock commented on #18163
[code]
im turning it to 224 but still my training set is 384. I tried my training set 384 and test set 224 but it doesn't work either

[2022-07-21 11:56] allohvk opened #18234 "Longformer, BigBird take same time to run in sparse mode as well as full-mode"
### System Info

Transformers: 4.20.1
Python: 3.8.12
Pretrained models & tokenizer from HF: "allenai/longformer-base-4096" and "google/bigbird-roberta-base"

Longformer: Take same time to train (finetume) a pretrained model for different sliding window sizes of 256, 512, 1024 or 2048. One would expect that at lower sliding window sizes, the training times should be lower.

BigBird: Same problem as

[2022-07-21 12:08] NielsRogge commented on #18211
Hi,

See this thread for batched generation: https://github.com/huggingface/transformers/pull/7552#issue-714062850

[2022-07-21 12:16] sgugger commented on #17459
Hi everyone, so sorry some of your PRs slipped through the cracks for a month or more, we hadn't implemented a clear process internally to make sure they were quickly reviewed and merged. In the future or if you still have one standing, make sure to tag me (@sgugger) and I promise we'll react faster!

[2022-07-21 12:24] iiLaurens opened #18237 "ONNX runtime error after export of DebertaV2ForSequenceClassification model"
### System Info

- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No

Issue both occurs on a Linux notebook with GPU (databricks

[2022-07-21 13:22] johnnytam100 commented on #17169
No... No one helped...

[2022-07-21 15:02] #16898 closed

[2022-07-21 15:16] WissamAntoun opened #18239 "TF2 DeBERTaV2 runs super slow on TPUs"
### System Info

latest version of transformers, Colab TPU, tensorflow 2

### Who can help?

@kamalkraj @Rocketknight1 @BigBird01

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

It's currently hard

[2022-07-21 15:37] KseniaSycheva opened #18240 "Add callback that saves only best checkpoints"
### Feature request

A new class for a callback that saves checkpoint only if it performs better than the previous checkpoint on the evaluation dataset. It can work similar to the [EvalCallback](https://stable-baselines3.readthedocs.io/en/master/guide/callbacks.html) that is proposed by stable_baselines3.

### Motivation

This callback will enable evaluating model frequently without using a lot of

[2022-07-21 16:02] Eurus-Holmes commented on #14199
@Arij-Aladel Hi, do you have any updates on this issue? I'm also trying to pre-train T5 from scratch in PyTorch, can you share your scripts of `run_t5_mlm_flax.py`? I just converted the parameters trained from flax to the pytorch:
[code]
but it seems doesn't work.

And for your first issue, I think we need to retrain the tokenizer every time when we use new datasets.

[2022-07-21 16:20] acul3 opened #18241 "Flax Support NLLB (or M2M100) model"
### Feature request

Add Flax/Jax support for M2M100 so it can be optimize in TPU

### Motivation

NLLB is great model translation that support many languages and also have good accuracy

it can be used to translate available english large dataset to another language
but this require much resource such as multiple gpu parallelism to cut time for translation

since tpu access more easy to get(throu

[2022-07-21 16:24] Rocketknight1 commented on #18220
Hi @BrainSlugs83, the issue there is that the `AutoModelForSequenceClassification` is actually a Torch class - if you want the TF version you should use `TFAutoModelForSequenceClassification`. Can you try that change and let me know if it fixes things?

[2022-07-21 16:37] Rocketknight1 commented on #18239
Hi @WissamAntoun, this is an interesting issue! I honestly have no idea what the cause could be, but the fact that it highlights that function is interesting. The reason is that the DeBERTa code was ported from PyTorch, and so we wrote our own implementation of `take_along_axis` because TF didn't have one. One thing to try would be to edit the code to use `tf.experimental.numpy.take_along_axis` in

[2022-07-21 16:38] Rocketknight1 commented on #18239
Also cc @sanchit-gandhi because I'm not a TPU expert - don't worry about investigating this deeply, but if anything comes to mind when you read it, let me know!

[2022-07-21 17:59] BrainSlugs83 commented on #18220
I see, that's helpful to know -- I think it would fix it (though not for that specific model). -- And we can close this issue as PEBCAK on my part.

(Definitely PEBCAK as this is documented, I just didn't notice it when I was trying to figure this out. 🤦🏻‍♂️ -- I really appreciate the guidance, so thank you @Rocketknight1. 🙂)

Though I would like to give the feedback (if you're open to it):
 1. It

[2022-07-21 18:07] Xpiri commented on #17459
Hi everyone, while I was waiting for my [PR #17631](https://github.com/huggingface/transformers/pull/17631) to be accepted I have also finished the translation of [converting_tensorflow_models.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/converting_tensorflow_models.mdx).

I was waiting for my PR to be accepted before submitting this

[2022-07-21 18:19] WissamAntoun commented on #18239
@Rocketknight1 I read all the discussions that you had with Kamal about the `torch.gather` and `take_along_axis` .

On GPUs I already enabled XLA via `tf.config.optimizer.set_jit` and via T`F_XLA_FLAGS="--tf_xla_auto_jit=2 --tf_xla_cpu_global_jit"` but I was reading that this isn't the optimal way to do it, so I'm now trying the `jit_compile=True` and will report back.

Also I just finished testin

[2022-07-21 20:55] reelmath opened #18243 "Onnx Runtime Errors With LongT5"
### System Info

- `optimum` version: 1.2.3 (installed via Github installation)
- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed

[2022-07-22 00:01] WissamAntoun commented on #18239
runnig the training with `jit_compile=True` on GPU revealed a new bug. Then it is now an XLA/JIT issue not a TPU one

<details>
<summary style="font-size:14px">View log dump</summary>
<p>

[code]

</p></details>

[2022-07-22 04:20] satpalsr commented on #17596
Sure @danielhoshizaki

[2022-07-22 04:24] Bhavnick-Yali commented on #16308
Hi @ChainYo! :hugs:

I am working on Colab and using the `!pip install transformers[onnx]` command so I guess it's the latest version.

[2022-07-22 05:19] xiajinxiong opened #18245 "Not able to load the Facebook OPT model"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-122-generic-x86_64-with-glibc2.10
- Python version: 3.8.3
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can help?

@LysandreJik

### Inf

[2022-07-22 07:08] yupei9 commented on #18211
Thanks a lot!
And could you please tell me whether the current version supports correct sampling generation with batched setting? Thanks!

[2022-07-22 07:22] nickprock commented on #17459
Hi @Xpiri I created a branch in my fork and opend a PR for each document. I updated the _toctree.yml for each branch, when the PR is merged the master solve the conflicts.
This is my "strategy".

[2022-07-22 07:24] DogeWatch opened #18246 "RuntimeError: "triu_tril_cuda_template" not implemented for 'BFloat16'"
### System Info

transformers==4.19.2

### Who can help?

use bf16 with accelerate config
[code]
model is LongformerModel, and get error

File "~/miniconda3/envs/bai/lib/python3.8/site-packages/transformers/models/longformer/modeling_longformer.py", line 788, in _mask_invalid_locations
    beginning_mask_2d = input_tensor.new_ones(affected_seq_len, affected_seq_len + 1).tril().flip(dims=[0])
Runti

[2022-07-22 07:27] kangqiyue commented on #14282
@patrickvonplaten Hello, I'm using T5 model for my own task. Considering that I want to explore the mlm rate (masked token rate), I set different masked rate for T5 model. However, I have a question that the number of mask token for T5 is 100, what if I want to mask tokens that more than 100?
Looking forward to your reply~

[2022-07-22 07:54] duongna21 opened #18249 "Behavior of shift_tokens_right on padded input_ids"
### System Info

- `transformers` version: 4.20.1

### Who can help?

@patrickvonplaten @patil-suraj @sgugger

### Reproduction

When I applied shift_tokens_right on a padded input_ids, I get this
[code]

### Expected behavior

Should the desired behavior of shift_token_right be the following?

[code]

[2022-07-22 08:05] #18200 closed

[2022-07-22 08:07] LysandreJik commented on #18249
Hey @duongna21! This method isn't exposed in the main init so we consider it to be private (this should really be written somewhere if we haven't done so yet).

It's used internally by the BART model, but we don't validate it to work for any other purpose.

[2022-07-22 08:44] ChainYo commented on #16308
Could you verify it precisely, please? To be sure, it's not a Colab problem with an older version.

[code]

Could you also try to install transformers from the main GitHub branch?

[code]

[2022-07-22 08:54] voidful commented on #18231
My situation is that I have a fine-tuned xlsr model, and I want to add kenlm on top of it.
And I build the decoder using `build_ctcdecoder`, the label will be the same as our tokenizer vocabulary.
Therefore It will have discrepancies  on https://github.com/huggingface/transformers/blob/99eb9b523f9b9ea6096323ce5610ce6633acc88a/src/transformers/models/wav2vec2_with_lm/processing_wav2vec2_with_lm.py#

[2022-07-22 08:55] LysandreJik commented on #18245
Hey @xiajinxiong, this seems to be a version error!

In order to verify, could you run the following snippet and copy-paste the output?

[code]

[2022-07-22 10:05] wwwlps opened #18252 "How to convert pytorch bart model to tf1.x ?"
I have trained a pytorch bart model, and how can I convert it to tf1.x ?

[2022-07-22 11:30] Eleo22 opened #18254 "Can not import Trainer"
### System Info

python 3.9
I install transformer with pip install transformer.
Using a terminar I open python from:

I get:
`Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/transformers/utils/import_utils.py", line 957, in _get_module
    return importlib.import_module("." + module_name, self.__name__)
  File "/usr/local/Cellar/python@3.9/3.9.0_4/Frameworks/Pytho

[2022-07-22 12:31] #18071 closed

[2022-07-22 12:47] Rocketknight1 commented on #18239
@WissamAntoun Confirmed reproduction of the issue here. Our TF DeBERTa implementation seems to have issues with XLA - I'm investigating now.

[2022-07-22 13:01] Rocketknight1 commented on #18239
@WissamAntoun We have a potential fix - I've confirmed that I can compile `microsoft/deberta-v3-small` with XLA on my local machine. Can you try installing this branch and let me know if this fixes the problem for you? You can use `pip install git+https://github.com/huggingface/transformers.git@deberta-xla-fixes`

[2022-07-22 13:30] WissamAntoun commented on #18239
I confirm it works on GPUs with XLA, and I got ~20% improved speedup.
I'm still testing now on TPUs, will let you know ASAP

[2022-07-22 15:20] ydshieh commented on #17792
Close as this is a question for the library `sentence_transformer`

[2022-07-22 15:20] #17792 closed

[2022-07-22 15:53] Mathews-Tom commented on #16059
Hi, I would like to work on `TensorFlow` : `OpenAIGPT`

[2022-07-22 15:55] WissamAntoun commented on #18239
Weirdly enough TPUs didn't seem to care about the changes 😅 even after we removed all the if branches

[2022-07-22 16:01] Rocketknight1 commented on #18239
Hmm. Can you check that you don't get the slowdown if you switch the model to another model, like BERT or ELECTRA? I know the profiling indicates that the `GatherV2` is the problem, but I'm a little suspicious!

[2022-07-22 16:15] xiajinxiong commented on #18245
I reaffirmed that the transformers version was 4.20.1.
But it's because my jupyter kernel didn't synchronize with the transformers version.
After I restart the jupyter, it works fine.
Thanks.

[2022-07-22 16:15] #18245 closed

[2022-07-22 16:15] xiajinxiong commented on #18245
I reaffirmed that the transformers version was 4.20.1.
But it's because my jupyter kernel didn't synchronize with the transformers version.
After I restart the jupyter, it works fine.
Thanks.

[2022-07-22 16:45] WissamAntoun commented on #18239
I tried disabling `relative_attention` in deberta, which makes the model a regular BERT, and the performance improved 40x 😅

[2022-07-22 17:07] Mathews-Tom commented on #16059
Hi, I would like to work on `TensorFlow` : `CTRL`

[2022-07-22 17:40] Rocketknight1 commented on #18239
@WissamAntoun So the issue really is in that gather! That's extremely interesting - with the simplified code, it's just a single call to `tf.gather`, but perhaps the `batch_dims` argument is not handled elegantly on TPU, or XLA converts it in a way that doesn't run well on TPU.

Is it possible that some kind of memory spill is occurring? Can you try lowering your batch size and increasing steps_pe

[2022-07-22 17:40] amyeroberts commented on #18179
Following merging of #18153 the reproduction snippet runs on main without error.

[2022-07-22 17:40] #18179 closed

[2022-07-22 17:41] amyeroberts commented on #17233
Following merging of #18153 the reproduction snippet runs on main without error.

[2022-07-22 17:41] #17233 closed

[2022-07-22 17:45] amyeroberts commented on #18164
Following merging of #18153 the reproduction snippet runs on main without error.

[2022-07-22 17:45] #18164 closed

[2022-07-22 18:25] ryanrudes opened #18266 "Can't pickle local object when running official benchmark"
### System Info

- `transformers` version: 4.11.3
- Platform: macOS-12.5-arm64-arm-64bit
- Python version: 3.8.13
- PyTorch version (GPU?): 1.12.0.post2 (False)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

##

[2022-07-22 19:05] priyankarasakonda opened #18267 "Expected input batch_size (16) to match target batch_size (262144)"
### System Info

ENERATE_JPG_FILES = True   # warning: generation takes ~ 1h
slice_sum=0
if (GENERATE_JPG_FILES):

    path = Path(".")

    os.makedirs('train_images',exist_ok=True)
    os.makedirs('train_masks',exist_ok=True)

    for ii in tqdm(range(0,len(df_files))): # take 1/3 nii files for training
        curr_ct        = read_nii(df_files.loc[ii,'dirname']+"/"+df_files.loc[ii,'filename'])

[2022-07-22 19:07] gante commented on #17285
#18153 Ensures all our models can be saved as `SavedModel`, with the exception of CLIP. I'm closing this issue as having a `SavedModel` implies this issue is solved

Kudos to @amyeroberts for smashing it!

[2022-07-22 19:07] #17285 closed

[2022-07-22 20:15] dhansmair opened #18268 "OPT vocab size of model and tokenizer does not match"
### System Info

- `transformers` version: 4.19.2
- Platform: Linux-5.4.0-72-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.7.0
- PyTorch version (GPU?): 1.11.0+cu113 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fi

[2022-07-22 20:54] zhangzx-uiuc commented on #18190
I had the same issue. `allenai/led-base-16384` works well but `allenai/led-large-16384` and `allenai/PRIMERA` simply generates `""` after about a few hundreds steps of training.

[2022-07-22 20:57] zhangzx-uiuc commented on #18190
I assume that it is an error in the `generate` method, since the training loss curves for the `base` and `large` models look really similar and both of them are reasonable.

[2022-07-22 21:06] priyankarasakonda commented on #18267
NVIDIA @ptrblck_de

[2022-07-23 07:07] takfarine opened #18269 "cannot import name 'TrainingArguments' from 'transformers'"
### System Info

Traceback (most recent call last):
  File "dv2xxl.py", line 30, in <module>
    from transformers import TrainingArguments,Trainer
**ImportError: cannot import name 'TrainingArguments' from 'transformers'** (/lustre06/project/6005433/takfa/UW/ue/lib/python3.7/site-packages/transformers/__init__.py)

### Who can help?

_No response_

### Information

- [X] The official example scri

[2022-07-23 07:22] AlfredQin opened #18270 "This code block will not be executed"
### System Info

python 3.9

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[](urlhttps://github.com/huggingface/transformers/blob/main/src/transformers/models/detr

[2022-07-23 07:46] #18217 closed

[2022-07-23 08:01] duongna21 commented on #18249
Any comment? I'm happy to create a PR if my above assumption is correct.

[2022-07-23 13:00] cgr71ii commented on #2375
Why this issue were left without an answer? I don't know what is the answer, but it seems that this scheduler should be executed at batch-level since there are other examples using batch-level instead of epoch-level: https://github.com/huggingface/transformers/blob/8e8384663d716d4b5a4f510070ff954fc0ba4a52/examples/research_projects/bert-loses-patience/run_glue_with_pabee.py.

Anyway, LambdaLR is a

[2022-07-23 13:29] WissamAntoun commented on #18239
@Rocketknight1 I tried your suggestions without any success, sadly!

Then I tried replacing the whole `take_along_axis` function with `tf.gather(..,...,batch_dims=2)`  which is equivalent, according to this test I made. GPU still runs fine, TPU still has the same issue 😔.

I also ran out of ideas to try, now I'm just waiting for the TPU gods 😅

<details>
<summary style="font-size:14px">View code</

[2022-07-23 14:47] allohvk commented on #18234
@ydshieh It gets a bit more wierder. Today I tried to directly use the Longformer bypassing Huggingface.

It needed minor changes to the above code. The link is here:
https://colab.research.google.com/drive/1R5uDsbl3ZmUIccZtefVNBs3CXU_vcDZd?usp=sharing

The observations continues to be perplexing:
CASE 1:
ATT_MODE = 'sliding_chunks'; 100% LOCAL attention ie ATT_TYPE = 1 for all tokens
SLIDE_WIN_SI

[2022-07-23 15:02] #17707 closed

[2022-07-23 15:02] #17696 closed

[2022-07-23 15:02] #17695 closed

[2022-07-23 15:02] #17632 closed

[2022-07-23 15:02] #17618 closed

[2022-07-23 15:02] #17534 closed

[2022-07-23 15:59] dayyass commented on #17463
Still actual issue.

[2022-07-23 17:02] #17868 closed

[2022-07-23 19:02] iiLaurens commented on #18199
I might be suffering from similar issues. See also #18327

[2022-07-24 05:38] ccdv-ai commented on #18030
@sajastu
You can use this [repo](https://github.com/morganmcg1/rotobart/blob/main/data_collator.py) and in the HF [run_mlm.py](https://github.com/huggingface/transformers/blob/main/examples/pytorch/language-modeling/run_mlm.py) script you have to:
* replace `AutoModelForMaskedLM` by `AutoModelForSeq2SeqLM`
* replace `data_collator` by `DataCollatorForDenoisingTasks` (token infilling + sentence per

[2022-07-24 10:51] c-liangyu commented on #18173
google/ul2 · Splitting the model of multiple GPU's
https://huggingface.co/google/ul2/discussions/4

[2022-07-24 10:51] #18173 closed

[2022-07-24 11:17] PersianSpock commented on #18163
can you please take a look at my code and say what is wrong?

https://colab.research.google.com/drive/1H47WtAPfecwjI17iGtNkWc75gFjPYG-8?usp=sharing

[2022-07-24 12:02] dimka11 opened #18274 "Define metric for save the best model"
### Feature request

I suggest to add a metric choice to save the best model

### Motivation

I use multiple metrics in process of fine tuning models through Trainer and don't know how the metric is chosen to save the best model (I suppose it's first metric in dictionaty?!).

### Your contribution

-

[2022-07-24 14:57] CakeCrusher opened #18275 "My model's Hosted Inference API is returning "Internal Server Error" and when fetching the API it eternally loads."
### System Info

- `transformers` version: 4.6.1
- Platform: Windows-10-10.0.19043-SP0
- Python version: 3.8.10
- PyTorch version (GPU?): 1.8.1 (True)
- Tensorflow version (GPU?): 2.6.0 (False)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Ta

[2022-07-24 15:02] #17732 closed

[2022-07-24 15:02] #17729 closed

[2022-07-24 15:02] #17726 closed

[2022-07-24 19:13] aaronrmm commented on #18075
@SantoshGuptaML Where would you want this to happen?

One option you have is to write a custom slow (non-fast) tokenizer. You can follow this example where the tokenizer is able to make random variations in output tokens: https://github.com/huggingface/transformers/pull/11149/files
afaik rust is used for fast tokenizers, but the slow tokenizers are written in python.

Another option is you can sub

[2022-07-24 20:44] pramodith commented on #15232
Hey @ayushtues are you still working on this? I would be interested in taking this issue up if not.

[2022-07-24 21:28] pramodith commented on #16308
@ChainYo I'd like to work on LongT5

[2022-07-25 01:06] Shiro-LK opened #18276 "Debertav2 debertav3 TPU : socket closed"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.188+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill

[2022-07-25 05:53] Bhavnick-Yali commented on #16308
Hi @ChainYo! :hugs:

Colab version says 4.20.1 which was 22 June Release and should be having the DeBERTaV2 config
![image](https://user-images.githubusercontent.com/109144421/180706122-7ec943c5-0bf4-455f-bdcd-47c4aa033c67.png)
It isn't working in this version as I tried earlier.

Using the main GitHub branch it installs 4.20.0.dev0 version, from which the ONNX conversion works.
Not sure what the

[2022-07-25 05:59] PersianSpock commented on #18163
you create a class IAMDataset(Dataset), do you change the size of an image in this class? because after I create my dataset with this class the image sizes get back to 384.

[2022-07-25 07:24] qwer4107 opened #18277 "Does 'convert_data2vec_text_original_pytorch_checkpoint_to_pytorch.py' transfer data2vec-text model's parameter well?"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I am trying to convert own pretrained data2vec-text to Hugginface form, but it looks there are some parameter mismatches on co

[2022-07-25 07:45] PersianSpock commented on #18163
Thank you it got solved! How much should be my validation CER at the end? what range is good enough?

[2022-07-25 08:01] PersianSpock commented on #18163
i get Validation CER: 0.9615384615384616. is it good enough?

[2022-07-25 08:34] ChainYo commented on #16308
Are you sure about this?

I'm glad it solved your problem! :fireworks:

[2022-07-25 09:14] abinash15th opened #18278 "Kindly provide a sample dataset used in layoutlmv3."
### Feature request

Need a dataset sample to explore and knowhow it been prepared.

### Motivation

@NielsRogge

### Your contribution

@NielsRogge

[2022-07-25 09:29] ans92 opened #18279 "'FlavaModelOutput' object has no attribute 'contrastive_logits_per_image'"
Hi, I have used a code of Flava model from this link:
[code]
But I am getting the following error:
[code]
Could you please help me in solving the above question. Thank you.

[2022-07-25 09:50] ydshieh commented on #18234
| First Header  | Tiny | Base | Large |
| ------------- | ------------- | ------------- | ------------- |
| max_len 2048 , attn_win 512 | Content Cell  | Content Cell  | Content Cell  |
| max_len 2048 , attn_win 1024 | Content Cell  | Content Cell  | Content Cell  |
| max_len 2048 , attn_win 2048 | Content Cell  | Content Cell  | Content Cell  |
| max_len 4096, attn_win 512 | Content Cell  | Conte

[2022-07-25 10:44] ydshieh commented on #18234
For the record, here are the 2 scripts I used to measure running time (copied from yours with modification)

[code]

[code]

[2022-07-25 11:13] SaulLu commented on #17463
Thanks for the details, in your case, I think the attention mask is exactly what you're looking for. If you ever want your output to have the value set to 0 for pad tokens, you can multiply the output by the attention mask. In your example:
[code]

[2022-07-25 11:34] Rocketknight1 commented on #18239
I'm clueless in that case - @patrickvonplaten @sanchit-gandhi do you have any idea why a `gather` or `take_along_axis` op which is performant on GPU and compiles with XLA would become a huge bottleneck on TPU?

[2022-07-25 11:49] Rocketknight1 commented on #18276
Hi @Shiro-LK, we're seeing other reports of issues with DeBERTa running slowly on TPU with TF - see #18239. I'm not sure what the cause of the "socket closed" error is though - the other user got it to run, but just had a lot of slowdown on one of the layers.

[2022-07-25 12:04] Rocketknight1 commented on #18220
@BrainSlugs83 Honestly, we like the idea! I'm going to draft a PR - I'll link you when it's ready.

[2022-07-25 12:08] dayyass commented on #17463
That's an excellent and elegant solution, thank you for that!
I guess the issue might be closed.

[2022-07-25 12:18] pkavumba commented on #18274
If you are using HF trainer it provides two arguments for selecting your preferred metric for choosing the best model. The first one is
`metric_for_best_model`. It defaults to "loss". The second argument is `greater_is_better`. The default value is `False` but If metric for best model is set to any value other than "loss" then it will default to `True`

[2022-07-25 12:29] Rocketknight1 commented on #18220
@BrainSlugs83 PR is open at #18280!

[2022-07-25 12:44] SaulLu commented on #17463
Glad it helped you! :hugs:

[2022-07-25 12:44] #17463 closed

[2022-07-25 12:47] lkm2835 opened #18281 "T5 generate with do_sample doesn't work on DeepSpeed Stage 3"
### System Info

transformers == 4.20.1
python == 3.8.13
OS == ubuntu 20.4
DeepSpeed == 0.6.7

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

https://github.com

[2022-07-25 12:59] patrickvonplaten commented on #17773
@HaoboGu, I don't think the warning would lead to unpredictable results (or can you clarify a bit more) :-) Can we maybe just leave it?

[2022-07-25 13:47] kmkarakaya commented on #12881
Are there any updates or work around for freezing  GPT-2 model  layers at Tensorflow?
Thank you

[2022-07-25 13:50] kmkarakaya opened #18282 "How to freeze GPT-2 model layers with Tensorflow/Keras?"
### Feature request

I read the post https://github.com/huggingface/transformers/issues/12881.
It seems that no progress on feezing GPT layers with keras has been reported.

Are there any updates or work around for freezing  GPT-2 model  layers at Tensorflow?
Thank you

### Motivation

For finetuning, I want to update only some layers

### Your contribution

I can test the solution

[2022-07-25 14:22] sanchit-gandhi commented on #18239
In our JAX BLOOM experiments, we experienced significant improvements in performance by changing how we indexed. Swapping scatter ops for one-host broadcasts, we obtained 3-4x speed-ups in practice. The logic is largely lifted from T5X: https://github.com/google-research/t5x/blob/63d9addf628c6d8c547a407a32095fcb527bb20b/t5x/examples/scalable_t5/layers.py#L280-L284

I wonder if applying similar log

[2022-07-25 14:29] WissamAntoun commented on #18239
DO you mean something to BERT one-hot embeddings ?https://github.com/tensorflow/models/blob/master/official/nlp/modeling/layers/on_device_embedding.py#L79

[2022-07-25 14:31] Arij-Aladel opened #18284 "Initializing attention weights in T5"
@patrickvonplaten @patil-suraj @craffel
Excuse me if this question is repeated but I did not find an answer for it

In these lines

[code]
from t5 implementation https://github.com/huggingface/transformers/blob/d0acc9537829e7d067edbb791473bbceb2ecf056/src/transformers/models/longt5/modeling_longt5.py#L1291

1)  we notice that the factor is multiplied by  ((d_model * key_value_proj_dim) ** -0.5)

[2022-07-25 14:32] dsuess commented on #17935
Hi @gante, I did have a bit of a poke around. I think the complex tests all fail for the same reason: those models have a setting `max_position_embeddings`, which is set to 20 by default during testing. Here’s a simple fix for those: https://github.com/dsuess/transformers/commit/4a3e27164ae941fcd649b8565d7d92a4552d689f. I’ll give the other ones a shot now

[2022-07-25 14:41] sanchit-gandhi commented on #18239
Simply modifying the bottleneck function: https://github.com/huggingface/transformers/blob/f4e172716b91b477ce3cddc9a253094b7121a4b8/src/transformers/models/deberta_v2/modeling_tf_deberta_v2.py#L525
To use `one_hot` encodings as opposed to a `gather` op. The example you've liked looks good! Worth a try IMO!

[2022-07-25 14:45] ToanKGO opened #18285 "Run_mlm.py for fine-tuning generator(mlm) of electra"
Hi, I have a new corpus and want to fine-tune ELECTRA for better result. ELECTRA used generator as generator after that used discriminator. Can run file run_mlm.py makes my pre-trained electra works better ?

[2022-07-25 14:55] stefan-it commented on #18285
Hi @ToanKGO,

I think the latest update on the ELECTRA pretraining/fine-tuning is this comment from @LysandreJik :+1:
https://github.com/huggingface/transformers/pull/4656#issuecomment-711082850

So you could use e.g. this implementation: https://github.com/richarddwang/electra_pytorch

[2022-07-25 15:02] #17756 closed

[2022-07-25 15:02] #17741 closed

[2022-07-25 15:03] reelmath commented on #18019
@stancld Any progress? I've been hoping to try out Local Large sometime.

[2022-07-25 16:02] #18234 closed

[2022-07-25 17:48] sanchit-gandhi commented on #18231
Thanks for the code-snippet! I haven't been able to reproduce on the other template examples (e.g. https://discuss.huggingface.co/t/how-to-create-wav2vec2-with-language-model/12703). Will look more in-depth as to why the exception is being thrown for the use case in the Colab!

[2022-07-25 17:54] tahmiddialpad commented on #16764
Was that issue resolved? I am facing a similar problem with the HF implementation of LUKE: https://github.com/huggingface/transformers/tree/main/examples/research_projects/luke

[2022-07-25 18:04] isunitha98selvan opened #18287 "Numpy arrays used instead of jax array in example"
### System Info

The example[ here](https://github.com/huggingface/transformers/blob/main/examples/flax/text-classification/run_flax_glue.py#L286) should yield jax device arrays instead of numpy arrays.

@patil-suraj

### Who can help?

_No response_

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` f

[2022-07-25 18:04] CakeCrusher commented on #18275
Its working again, seems like something did happen with the servers.

[2022-07-25 18:04] #18275 closed

[2022-07-25 18:20] WissamAntoun commented on #18239
I tried this, although I'm not sure if it's the best implementation

[code]

It improved the speed from 20 seq/s to 110 seq/s. For reference, regular ELECTRA/BERT got ~800 seq/s.

Now it's the reshape and squeeze operations that are "wasting" time:

![image](https://user-images.githubusercontent.com/44616226/180846643-495520a6-3605-4362-a6f9-31a69ed4fccc.png)

[2022-07-25 19:37] isunitha98selvan opened #18289 "Converting batch into jax arrays during training is inefficient"
### System Info

The Flax Transformers examples use a custom dataloader which yields batches. This includes converting the batch into jax arrays:

https://github.com/huggingface/transformers/blob/main/examples/flax/summarization/run_summarization_flax.py#L355

This operation is inefficient, it can take about 700ms to generate a batch during training. On A100 GPUs, this bottleneck leads to lower GP

[2022-07-25 22:31] kargarisaac opened #18290 "Converting facebook/opt-13b to onnx"
### System Info

- `transformers` version: 4.21.0.dev0
- Platform: Linux-5.4.0-72-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script

[2022-07-26 01:35] krishnacloud77 commented on #16404
I have tried those commands already. Amazon ebs error. Says source activate command not found. This is getting installed through packer, to build an AMI.

[2022-07-26 02:13] HaoboGu commented on #17773
@patrickvonplaten yeah, no problem if it's as expected

[2022-07-26 02:13] #17773 closed

[2022-07-26 04:03] omarespejel commented on #15947
Hola @gpalomeque! Muchas gracias por tu traducción de `token_classification.mdx` #17992. Coloqué algunos comentarios.

Sorry for my late reply and review. Are you still interested in translating `question_answering.mdx`?

[2022-07-26 04:32] omarespejel commented on #16824
Olá @rzimmerdev! Thank you, that would be great! Any one you prefer to translate? Sorry for my late reply.

[2022-07-26 05:14] omarespejel commented on #17459
Kudos to @mfumanelli and @nickprock for reviewing the PRs 🤗 and organizing this translation. [Here you can see](https://huggingface.co/docs/transformers/main/it/index) how the translation is going 🚀

[2022-07-26 06:18] Narsil commented on #18290
@mfuntowicz Maybe for visibility on ONNX export.

[2022-07-26 06:46] LysandreJik commented on #18268
cc @ArthurZucker

[2022-07-26 06:47] LysandreJik commented on #18199
Thanks for reporting @JingyaHuang! Could you take a look at @iiLaurens' PR to see if it fixes your issue?

[2022-07-26 06:55] LysandreJik commented on #18254
Hey @Eleo22, that's interesting, it seems that `import datasets` in the trainer led to an import of the `keras.datasets` package.

Do you know why that might be? Could you try to uninstall keras (you don't need it for the trainer) and to reinstall `datasets` ? Thanks!

[2022-07-26 06:59] LysandreJik commented on #18243
Hey @reelmath, thanks for opening an issue, it seems you and @echarlaix managed to find the source of the problem.

We unfortunately don't have a lot of bandwidth to dive into solving that code, so I'll add an `onnx` tag and a `Good second issue` tag so that experienced users know that this is an issue that could be fixed. If you'd like to try your hand at it, please go ahead!

[2022-07-26 07:01] LysandreJik commented on #18241
cc @patil-suraj @sanchit-gandhi in case you'd like to guide @acul3 to contribute the Flax version of M2M100

[2022-07-26 07:02] stampolish commented on #14368
Hi @fadi212
I have tried to convert **LayoutLMv2** Q-A model into **onnx** but still showing errors.
Could you please guide here.
Thanks in advance.

**Command**: !python -m transformers.onnx --model=microsoft/layoutlmv2-base-uncased onnx/

**Error log**:
 Some weights of the model checkpoint at microsoft/layoutlmv2-base-uncased were not used when initializing LayoutLMv2Model: ['layoutlmv2.visual.

[2022-07-26 07:04] LysandreJik commented on #18240
cc @sgugger

[2022-07-26 07:10] LysandreJik commented on #18249
Pinging @patil-suraj and @patrickvonplaten regarding the `shift_tokens_right` method and its purpose.

[2022-07-26 07:11] LysandreJik commented on #18270
Where is that code block from?

[2022-07-26 07:12] LysandreJik commented on #18269
Hey! Could you please provide your transformers version? How did you install transformers?

[2022-07-26 07:12] LysandreJik commented on #18267
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-07-26 07:13] LysandreJik commented on #18266
Hey @ryanrudes, we're in the process of deprecating and removing benchmarks from the library, so we unfortunately won't be able to help you out on this one.

[2022-07-26 07:19] LysandreJik commented on #18193
Hey @Orient12! The `TFGPT2LMHeaDModel` works with CLM objectives. To that end, I think the best way for you to understand how it works would be to try it using the following script: https://github.com/huggingface/transformers/tree/main/examples/tensorflow/language-modeling

This fine-tunes models with the CLM objective.

[2022-07-26 07:22] LysandreJik commented on #18176
I think @sgugger is working on that as we speak

[2022-07-26 07:23] JingyaHuang commented on #18199
Thanks for the PR @iiLaurens, will look at the PR @LysandreJik 👌 .

[2022-07-26 07:25] LysandreJik commented on #18157
cc @NielsRogge

[2022-07-26 07:29] LysandreJik commented on #18146
cc @sgugger

[2022-07-26 07:31] lchwhut opened #18291 "Couldn't run the run_clip.py successfully"
### System Info

I couldn't run the code successfully following the README.md (https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive-image-text#readme)。
"""
COCO_DIR = "data"
ds = datasets.load_dataset("ydshieh/coco_dataset_script", "2017", data_dir=COCO_DIR)
"""
"""
python examples/pytorch/contrastive-image-text/run_clip.py \
    --output_dir ./clip-roberta-finetuned

[2022-07-26 07:37] LysandreJik commented on #12460
If we have models on the Hub that are trained to perform this, then it would be fun to have support for it.

WDYT @Narsil @patil-suraj ?

[2022-07-26 07:40] LysandreJik commented on #18109
cc @Rocketknight1 @gante

[2022-07-26 07:41] LysandreJik commented on #18113
cc @NielsRogge

[2022-07-26 07:42] LysandreJik commented on #18118
We recommend using accelerate to achieve parallelisation now: https://github.com/huggingface/accelerate

[2022-07-26 07:43] LysandreJik commented on #18122
What is contained in your CSV files? Would you have a reproducible code example we can run in colab?

[2022-07-26 07:53] LysandreJik commented on #18291
cc @ydshieh :)

[2022-07-26 08:07] LysandreJik commented on #18282
cc @Rocketknight1 @gante

[2022-07-26 08:08] LysandreJik commented on #18281
cc @stas00

[2022-07-26 08:09] LysandreJik commented on #18277
cc @patrickvonplaten

[2022-07-26 08:15] LysandreJik commented on #18214
cc @Rocketknight1 @gante

[2022-07-26 08:16] NielsRogge commented on #18113
Yes, feel free to improve the docs as was done for LayoutLMv2 in #17168

[2022-07-26 08:17] LysandreJik commented on #18210
cc @gante as well

[2022-07-26 08:17] LysandreJik commented on #18208
cc @gante as well

[2022-07-26 08:30] LysandreJik commented on #18279
Hey @ans92! It seems there's an error in the documentation indeed. This code example works with the `FlavaForPreTraining` model, rather than the `FlavaModel.

Would you like to open a Pr to fix this?

[2022-07-26 08:42] Aaryan369 opened #18293 "Error while loading a pre-trained wav2vec2 model"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-1085-azure-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.9.1+cu111 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
-

[2022-07-26 08:46] xia0nan opened #18294 "Support NLLB's LID model"
### Model description

Thanks for supporting NLLB and closing this issue https://github.com/huggingface/transformers/issues/18043. I'm wondering if huggingface can further support the language identification model of NLLB?
"LID (Language IDentification) model to predict the language of the input text."

### Open source status

- [X] The model implementation is available
- [X] The model weights are

[2022-07-26 11:11] NielsRogge opened #18299 "Update push_to_hub to leverage HTTP API"
### Feature request

Would be great to update the current `model.push_to_hub`, `tokenizer.push_to_hub`, `processor.push_to_hub`, etc. functionalities to leverage the new `upload_file` method of the `huggingface_hub` library, which only leverages HTTP calls instead of git, making the user experience much, much nicer.

### Motivation

I'm porting models to the hub, and in case I need to update for i

[2022-07-26 11:32] Rocketknight1 commented on #18109
Hi @djellalmohamedaniss, your version of TF is quite old - our support for TF 2.3 is very shaky, and we prefer TF >= 2.4, and TF 2.8 or 2.9 are even better!

Can you check with a more recent version of TF and let us know if the problem still exists?

[2022-07-26 12:03] sgugger commented on #18240
We already have `save_total_limits` to limit the number of checkpoint saved, and with `load_best_model_at_end=True` the best checkpoint is always kept. Which use case that is not currently available would this new callback permit?

[2022-07-26 12:05] sgugger commented on #18176
Yes, we will add support for more options to `device_map`, one of which is `"balanced"` after the next release. It's already available in Accelerate if you want to try it on.

[2022-07-26 12:05] sgugger commented on #18146
I'm not the one who wrote or supports the ML Flow callback :-)

[2022-07-26 12:06] SaulLu commented on #17488
I'm closing this issue due to lack of activity, but don't hesitate to come back to us with an extract of your data so that we can help you! :blush:

[2022-07-26 12:29] #18220 closed

[2022-07-26 12:32] ryanrudes commented on #18266
Understood

[2022-07-26 12:33] #18266 closed

[2022-07-26 14:09] sanchit-gandhi commented on #18241
Hey @acul3! Awesome, let's do it 💪 Happy to help you through the implementation! On a high-level, the process for adding this model will look something as follows:

1. Copy across the modelling code from Flax Bart
2. Modify the Flax modelling code to match the PyTorch NLLB/M2M100 implementation
\+ write any necessary tests along the way
3. Check whether the Flax logits match with the PyTorch ones

[2022-07-26 14:51] WissamAntoun commented on #18239
@sanchit-gandhi is there a better implementation than mine, without `expand_dims` or `squeeze` since these are unfavorable operations on TPUs

[2022-07-26 15:02] #17767 closed

[2022-07-26 15:10] ydshieh commented on #17875
Close this issue - see [this comment](https://github.com/huggingface/transformers/pull/18304#pullrequestreview-1051141051)

[2022-07-26 15:10] #17875 closed

[2022-07-26 15:25] #17880 closed

[2022-07-26 15:25] sanchit-gandhi commented on #18239
Nice! A 5x speed up is a good start. If we can get another 5x we'll be in business. Thanks for linking the Tensorboard profile! Super helpful in identifying bottlenecks like these 🙏

Interesting to see the `expand_dims` and `squeeze` are now accruing large amounts of runtime. I'm not a TF user (it's mainly JAX on TPU for me!), so I'm not up to speed with implementation details, but my impression f

[2022-07-26 16:08] stas00 commented on #18281
@lkm2835, looking at your code you linked to, you must use `generate(..., synched_gpus=True)`

[2022-07-26 16:37] sgugger opened #18306 "Migrate metrics used in all examples from Datasets to Evaluate"
The metrics are slowly leaving [Datasets](https://github.com/huggingface/datasets) (they are being deprecated as we speak) to move to the [Evaluate](https://github.com/huggingface/evaluate) library. We are looking for contributors to help us with the move.

Normally, the migration should be as easy as replacing the import of `load_metric` from Datasets to the `load` function in Evaluate. See a use

[2022-07-26 16:50] lkm2835 commented on #18281
@stas00, Thank you for your advice!

It works using `synced_gpus`!

typo: `synched_gpus` -> `synced_gpus`

https://huggingface.co/docs/transformers/v4.20.1/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.generate.synced_gpus

[2022-07-26 16:54] lkm2835 commented on #18281
If possible, could you explain to me why it is not possible in T5 since it works in gpt2 and gptj without `synced_gpus`?

[2022-07-26 17:01] stas00 commented on #18281
oops, apologies for the typo - fixed! glad you figured it out, @lkm2835

This has nothing to do with t5 specifically, but just how ZeRO stage3 works. It needs to have all gpus work in sync. So if one gpu finished generating, it has to continue running `forward` because ZeRO distributes all the weight shards to all gpus and if one stops the other gpus can't get the shards they are missing.

So it r

[2022-07-26 17:30] pogevip opened #18307 "layoutlmv3-base-chinese tokenizer could not be loaded."
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

none

### Expected behavior

[code]
But we seem need vocab.json and merges.txt to load the L

[2022-07-26 17:34] #18281 closed

[2022-07-26 18:41] dhruvdcoder commented on #5570
I am also interested in @AzharSultan's question. What is the recommended for doing this right now?

[2022-07-26 20:22] AlfredQin commented on #18270
The code block is from https://github.com/huggingface/transformers/blob/8e8384663d716d4b5a4f510070ff954fc0ba4a52/src/transformers/models/detr/modeling_detr.py#L1076

[2022-07-26 21:22] abal6725 opened #18308 "Extracting embeddings through 'pipeline' and 'feature-extraction' not outputting correct length of values."
### System Info

transformers==4.20.1
Python3.7

### Who can help?

@Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Hello,

I am trying to extract embeddings from a fine tuned multi-label mo

[2022-07-26 21:37] nbroad1881 commented on #16665
@sgugger I just realized that in addition to tracking the dataset version, it would be important to also track the model version. Most pre-trained models shouldn't be changing, but this would be useful to have for the private hub.

[2022-07-26 21:46] shijie-wu opened #18309 "`activation_dropout` in OPT is never used"
### System Info

main

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

https://github.com/huggingface/transformers/blob/ee67e7ad4fd7a

[2022-07-26 22:11] tanuj2212 commented on #15844
![image](https://user-images.githubusercontent.com/90980083/181121007-e3182991-0320-4ab8-89c5-d8ff31f89538.png)
I am getting this error for xlm-roberta-base model. Any help will be very helpful.

[2022-07-26 22:12] Shiro-LK commented on #18276
@Rocketknight1  Thank for the reply. Yes I have just looked at it. But it does not seem to use the keras function "model.fit" so I wonder if that"s the issue.

[2022-07-26 22:19] sgugger commented on #16665
The revision is accessible whenever a user downloads a model so we know it. We can add it as a private variable in the config once it's loaded, but it shouldn't be saved as the revision will change every time the config is pushed.

[2022-07-26 22:36] KseniaSycheva commented on #18240
I haven't noticed that it is possible to use these options together. The only thing that is different in proposed callback is that all saved checkpoints perform better on the evaluation dataset than the rest of the checkpoints.

[2022-07-26 22:46] nbroad1881 commented on #16665
When you say "the revision will change" are you referring to the revision associated with the model that just got fine-tuned or the revision associated with the pre-trained model that was used as the starting point for the fine-tuning?

[2022-07-26 23:09] SaulLu commented on #15844
@tanuj2212, My hunch is that you are missing the `sentencepiece` dependency. Could you check if you don't have it in your virtual environment or install it with for example `pip install sentencepiece`?

What version of `transformers` are you using? I would have expected you to get the following message the first time you tried to use `XLMRobertaTokenizer` :
[code]

[2022-07-27 00:06] sgugger commented on #16665
The revision will change at each commit, so it's not something we can store and then push to the Hub as it will instantly mismatch the actual commit sha.

[2022-07-27 00:36] nbroad1881 commented on #16665
I'm not sure I follow what you are saying. Here is an example representing what I had in mind.

I want to fine-tune bert-base-cased on squad. When I call from_pretrained, that pulls the most recent commit for the bert-base-cased repo, a8d257ba9925ef39f3036bfc338acf5283c512d9. Likewise, when I pull squad it pulls the most recent commit, d04f25d7823ef492730bfcf7ae02f363c2373a28.

I proceed to fine-t

[2022-07-27 02:15] reelmath commented on #18159
https://arxiv.org/pdf/2112.07916.pdf

All the requested information is on the paper. I would recommend sending questions over to https://github.com/google-research/longt5 since the authors will be far more able to answer specific questions.

[2022-07-27 02:22] sgugger commented on #16665
Yes, I'm just saying there is no point saving in the config file of your bert-base-cased model the sha of the commit (which we won't know before pusing).

[2022-07-27 02:43] #18307 closed

[2022-07-27 04:12] omarespejel commented on #15947
Hi @donelianc! I assigned you to `run_scripts` as you mentioned in your previous PR! Thanks! :)

[2022-07-27 07:08] Narsil commented on #12460
Seems like a good idea to me.

Since it's performing the same task from a user's perspective and models can only do 1 type of summary, I think we should aim to keep a single pipeline + `task` for this and decide which one to use based on `AutoModelForXXX` class.

In then end user's then don't need to get the difference between the two, only the model's performance will be the judge and they don't

[2022-07-27 07:21] Narsil commented on #18308
Hey, this is perfectly normal. you tokenizer most likely has 3 input_ids when tokenizing this string (most likely BOS, "zelle", EOS).

Then the output of the model is actually (3, 768). 3 is the sequence_length and is perfectly normal. You're probably more interested in some locations that others so you can filter them out but by default the model does output all of this.

`sentence-transformers`

[2022-07-27 07:45] Arij-Aladel commented on #18159
@reelmath  thanks alot!  I already know that but the steps are in c++ script and no clear documentation to generate the corpus and using it to calculate loss. Since in Pegasus these are two losses. what is not clear do they calculate just one loss or two losses in longt5 during pretraining?

https://github.com/google-research/longt5/issues/7#issue-1319140379

[2022-07-27 07:52] mehrdad78 commented on #14764
@patrickvonplaten @anton-l
hi there.
i already have this problem even with new example.
i got the same error the @Qoboty  had.
what should i do?

[2022-07-27 08:01] LysandreJik commented on #18309
cc @ArthurZucker

[2022-07-27 08:01] LysandreJik commented on #18270
cc @NielsRogge

[2022-07-27 08:02] zyddora opened #18311 "Only use one gpu when generating the hidden states (text embeddings) by "Model output" api"
### System Info

Report an issue about model output efficiency.
I want to get the certain hidden states from the fine-tuned roberta model, then I chose Model Output api([link](https://huggingface.co/docs/transformers/main_classes/output#transformers.utils.ModelOutput)) to get those dense embeddings.
However, when executing below model output code, only ONE gpu is used (actually, I have one worker

[2022-07-27 08:11] NielsRogge commented on #18270
Hi @AlfredQin, thanks for spotting that. The combined_attention_mask was probably taken from another model, which is not relevant for DETR.

Feel free to open a PR to remove that code block!

[2022-07-27 08:20] LysandreJik commented on #18311
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

As an aside, we recommend looking into the [accelerate](https://github.com/huggingface/accelerate) package for multi-GPU usage.

Thanks!

[2022-07-27 08:23] zyddora commented on #18311
Cannot loggin to hugging face, so just to pose the issue here.

[2022-07-27 08:33] LysandreJik commented on #18146
@noise-field wrote the integration two years ago, do you have an idea of why it doesn't seem to work anymore @noise-field?

[2022-07-27 08:36] ArthurZucker commented on #18309
Will have a look asap 😀

[2022-07-27 09:15] koreyou opened #18314 "Loading sharded model with torch_dtype='auto' causes TypeError"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distribut

[2022-07-27 09:31] koreyou commented on #18314
I've created PR to fix the problem as it is an easy fix. The variable names clearly suggest the intended behavior, so I just followed it.

[2022-07-27 09:32] BramVanroy opened #18316 ""AttributeError: cls.seq_relationship.weight not found in PyTorch model" when converting pytorch to tensorflow"
### System Info

- `transformers` version: 4.21.0.dev0
- Platform: Linux-5.15.0-41-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): 2.9.1 (True)

### Who can help?

 @Rocketknight1 @sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

-

[2022-07-27 10:30] gchhablani commented on #18228
@Shiv681991 Can you please share some code examples of what you are trying to do? It'll help me replicate and understand the issue better.

[2022-07-27 11:03] ankitsharma07 commented on #15769
Is this resolved?

[2022-07-27 11:07] Rocketknight1 commented on #18316
Hi @BramVanroy, you shouldn't ever need to directly call `convert_pt_checkpoint_to_tf`. If you want to make a native TensorFlow checkpoint for that model, then the easiest way would be just:

[code]

[2022-07-27 11:24] atturaioe commented on #18306
Hi, I would like to try to move Pytorch examples.

[2022-07-27 11:30] sgugger commented on #18306
Please go ahead and make a PR when you're ready then @atturaioe. You can check our [contributing guide](https://github.com/huggingface/transformers/blob/main/CONTRIBUTING.md) to get started.

[2022-07-27 11:33] koreyou commented on #18314
#18061 fixes this problem. Closing the issue.

[2022-07-27 11:33] #18314 closed

[2022-07-27 12:22] jspablo opened #18317 "Decouple inference from preprocessing and postprocessing steps from pipeline"
### Feature request

Each pipeline under the pipeline abstraction has a preprocessing, forward and postprocessing method. In order to use any pipeline it should be initiliazed providing a model so preprocessing and postprocessing methods cannot be easily used by other services.
It would be great to provide the model just for the forward method, so methods that don't need it can be use independentl

[2022-07-27 12:33] pikaduck opened #18319 "FeatureExtractor in Multimodal & ViT based models"
### Feature request

Customisable factor for normalisation in FeatureExtractor, i.e., currently 1000/w & 1000/h is used so internally 1000 is being used. If this (1000) can be made customisable, apply_ocr=True can be used without worrying about model training being interrupted due to bbox[I] > 1000.

### Motivation

Currently, the LayoutLM models need the normalised box values 0-1000 range, that p

[2022-07-27 12:35] akulasuryaprakash commented on #16430
@ArtanisTheOne as @patil-suraj said that modification bought you any changes in the results or there are any changes that you made and it worked for you?

[2022-07-27 12:39] nbroad1881 commented on #16665
Ok got it.

[2022-07-27 13:51] Arij-Aladel commented on #14199
@Eurus-Holmes Hi! yes ofcourse you can find an example here https://github.com/Arij-Aladel/T5-Tasks

[2022-07-27 14:19] victorescosta commented on #16824
@omarespejel I can translate the entire part of conceptual guides!

[2022-07-27 14:38] qwer4107 commented on #18277
I solved this issue myself by tweaking the codes, leaving pooler parameters blank but others to be transferred. I import

In my opinion, however, there's no MLM task in data2vec Text model's pretraining procedure, so imported model should be 'Data2VecTextModel' not 'Data2VecTextForMaskedLM'.

For data2vec, MaskedLM is one of the downstream tasks, not pretraining way. They only require the K top of

[2022-07-27 15:02] omarespejel commented on #16824
Thank you, @victorescosta! I added your name to the guide above! 🚀 Do you use Brazilian or Portuguese PT?

[2022-07-27 15:12] omarespejel commented on #17459
Hi 🇮🇹 team. Sorry for the delay in reviewing your PRs. Particularly to @mfumanelli and @nickprock, who have been kindly reviewing the existing PRs.

[2022-07-27 15:14] #17268 closed

[2022-07-27 15:39] omarespejel opened #18322 "Transformers documentation translation to French"
Hi!

Let's bring the documentation to all the French-speaking community :)

Who would want to translate? Please follow the 🤗 [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know in this issue if you'd like to translate any and we'll add your name to the list.

Some notes:

- Please translate u

[2022-07-27 16:09] ArthurZucker commented on #18268
Hey, thanks for noticing this! I am gonna add @younesbelkada  to the loop.
It seems that the original tokenizer [vocabulary](https://github.com/facebookresearch/metaseq/blob/main/projects/OPT/assets/gpt2-vocab.json) has 50264 words, with some "madeupwords". Let us have a look!

[2022-07-27 16:48] VijayKalmath commented on #18306
@sgugger  , I would like to work on the tensorflow examples.

[2022-07-27 16:50] JingyaHuang commented on #18237
Hi @iiLaurens, thanks for the PR on fixing the export of DeBERTa!

In terms of your use case, another possibility to simplify all the code would be using the [optimum library](https://github.com/huggingface/optimum) which is an extension of transformers. You can use directly [ORTModels](https://github.com/huggingface/optimum/blob/main/optimum/onnxruntime/modeling_ort.py#L526) and the pipeline for

[2022-07-27 17:26] sgugger commented on #18306
Please go ahead @VijayKalmath :-)

[2022-07-27 17:46] ankrgyl opened #18323 "tensorflow-aarch64 is not a viable candidate tensorflow version"
### System Info

On ARM64 machines, the official tensorflow package is named `tensorflow-aarch64`. On transformers==4.20.1, in `utils/import_utils.py`, there is a list of `candidates` for tensorflow packages which does not include this package. As a result, you cannot use TF+transformers on arm64 machines that have installed tensorflow via this package.

### Who can help?

_No response_

### Infor

[2022-07-27 17:56] victorescosta commented on #16824
Brazilian portuguese. Is it ok? I will try to minimize these differences in my translation

[2022-07-27 18:00] davidbenton commented on #18111
Thanks for the comments and direction! I'm sorry to let this go stale, but I had a family emergency and this dropped off my radar. I should be available going forward, and I'll work on adding the tests mentioned above and set up a PR.

@Narsil I answered your question about the heuristic in context on my commit.

[2022-07-27 18:20] IamAdiSri commented on #5786
Hi, I had written the code to do vocab pruning and because of the number of people wanting help with it I converted the code into a standalone library. I hope its okay if I link it here for other people to find.

[Link to repo.](https://github.com/IamAdiSri/hf-trim)

Referencing issues #5896 #6132

[2022-07-27 18:22] davidbenton commented on #18111
@SaulLu I'll note, relating to your suggestion to branch on `trim_offset`, that as my suggested heuristic works now, the logic is unchanged for models that do not tokenize whitespace, as it only checks in the decoded token for a leading space.

[2022-07-27 18:55] kkavyashankar0009 commented on #17880
Thank you for the response!

It's the same even if I use the pre-trained zero-shot classification model from Huggingface.

[2022-07-27 19:26] Narsil commented on #17880
You need to replace `AutoModel` with `AutoModelForSequenceClassification` and use a model that supports `AutoModelForSequenceClassification`.

Or use directly
[code]

[2022-07-27 19:34] kkavyashankar0009 commented on #17880
Its working. Thanks alot.

[2022-07-27 19:34] Narsil commented on #18111
@davidbenton Perfect. I think you can do the modifications, and we would really benefit if there was a test making sure that the new heuristic works.

For instance here is a slow test to test the heuristics for spanish:

https://github.com/huggingface/transformers/blob/main/tests/pipelines/test_pipelines_token_classification.py#L200-L215

[2022-07-27 21:12] VijayKalmath commented on #18306
@sgugger , I wanted to know if there are tests to run the examples in the tensorflow folder.

[2022-07-27 22:25] acul3 commented on #18241
Hi @sanchit-gandhi
Thank you for the help

I'll start to work on this today by following the step and open WIP PR first
Will ask some question/pointer after that..thanks again

[2022-07-28 00:17] usuyama commented on #8505
I know it's an old issue but I just came across this page.

The original PubMedBERT checkpoint didn't have the mask prediction heads, but we updated the checkpoint ~10 months ago
https://huggingface.co/microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract

Also, we have a new biomed+clinical domain-specific model if you're interested: https://huggingface.co/microsoft/BiomedVLP-CXR-BERT-general

@ra

[2022-07-28 01:46] ari9dam opened #18329 "T5 Tokenizer misses a space"
### System Info

[code]
Note that the space between Alloy and 'merged reality' is missing.

System
---------------------
transformers == 4.21.0
python == 3.7.11
Ubuntu 18.04.6 LTS

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ]

[2022-07-28 03:45] ccx1997 commented on #11799
Re-install transformers with a proper version will be ok. I solve it by the command: `pip install transformers==4.11.3`.

[2022-07-28 03:46] omarespejel commented on #16824
@victorescosta, that sounds perfect, thank you!

[2022-07-28 04:36] lkm2835 opened #18330 "DeepSpeed Stage 2, Gradient computed twice for this partition."
### System Info

transformers == 4.20.1
python == 3.8.13
OS == ubuntu 20.4
DeepSpeed == 0.6.7

### Who can help?

@stas00

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

**Error message**

[code]

*

[2022-07-28 07:50] stancld commented on #18019
Hi @reelmath, sorry for my late reply, I've been really busy lately. When I load weights from the pre-trained checkpoints everything looks good to me, however, I have currently no access to computational resources to verify the aforementioned problem. Though, I think there's one way how to verify whether the weights have been broken during the transition to Google repo.

You can try to convert the

[2022-07-28 08:03] ydshieh commented on #18291
Hi, @lchwhut

I believe you already download the (real) coco datasets into `COCO_DIR = "data"`. In this case,
`--data_dir ./data` should be changed to the **absolute path** of the data directory, instead of `./data`.

Please let me know if this solves the issue, thank you.

[2022-07-28 08:03] null-test-7 commented on #14916
you can enable return_tuple in DeepSpeedTransformerConfig

[2022-07-28 08:44] sanchit-gandhi commented on #18239
Hey @WissamAntoun! Any luck with this? Maybe also worth trying https://www.tensorflow.org/api_docs/python/tf/experimental/numpy/take_along_axis

[2022-07-28 09:25] xueqianyi commented on #8944
Has anyone performed the translation task correctly using bert2bert ? TAT

[2022-07-28 10:26] zhuango opened #18334 "Fail to reproduce tf2 bert-large f1-score on SQuADv1.1"
### System Info

transformers=4.20.1, python=3.7, tensorflow-gpu=2.9.1.

### Who can help?

@Rocketknight1 @sgugger @patil-suraj

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Download bert-larg

[2022-07-28 10:39] banda-larga commented on #18329
One workaround is adding `clean_up_tokenization_spaces=False` in tokenizer.decode

[2022-07-28 10:44] clefourrier opened #18335 "AutoTokenizer behavior changing when enable_full_determinism is set to zero"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.14.0-1045-oem-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-07-28 11:20] sgugger commented on #18306
No tests for TensorFlow yet, we'll add those in the near future.

[2022-07-28 11:31] Rocketknight1 commented on #18334
Hi @zhuango, it's possible there's a bug here, but there is also always some variation between runs. Can you run the training a couple of times for both PyTorch and TensorFlow and report the range of F1-scores you get for both?

[2022-07-28 11:34] kargarisaac commented on #18290
I think the problem was memory. Now it works but I get the same output. Anyway the model is now converted. I have another problem now. I quantize the model using:
[code]

The model output is not good at all now:
[code]

It should be sth like this:
[code]

What do you think is the problem?

[2022-07-28 11:35] SaulLu commented on #18335
Hi @clefourrier ,

From your description, I agree with you that the output should always be 512. However, I can't reproduce your problem (I tried with the same version of `transformers` and `torch`), I let you see my attempt to reproduce your error in this [google colab notebook](https://colab.research.google.com/drive/1R_b8u6envps2yKFrPykVunfwF8NFrzkd?usp=sharing).

I wonder if this could be caus

[2022-07-28 12:14] zhuango commented on #18334
@Rocketknight1 Sure, I willl try more runs with exactly the same hyper-parameters. But the hyper-parameters I showed above is the one that can achieve the highest f1-score. I have run the tf2 bert-large fine-tuning on SQuADv1.1 with different hyper-parameter setting combinations, like total batchsize=12, 24/warmup_rate=0, 0.1/learning rate=3e-5, 1e-5/sequence length=384, 128/doc_stride=128, 48. Al

[2022-07-28 12:57] clefourrier commented on #18335
@SaulLu

It's not happening with `load_from_chache=False`, nor after restarting my kernel. I agree with you, must be a cache problem (> closing). Thank you for having taken a look :hugs:

[2022-07-28 12:57] #18335 closed

[2022-07-28 13:19] ArthurZucker commented on #18309
Okay I think we should just remove it, we don't use it in either the flax or the tf version and it is probably a typo. 😄  I will open a PR soon to fix that !

[2022-07-28 13:44] kacwin opened #18340 "Efficient Attention"
### Feature request

The authors of
https://openaccess.thecvf.com/content/WACV2021/papers/Shen_Efficient_Attention_Attention_With_Linear_Complexities_WACV_2021_paper.pdf
propose to change the attention module in transformers to achieve linear complexity in the number of processed tokens (instead of the feared quadratic complexity).
I'd like to request the following feature: The possibility to choo

[2022-07-28 13:56] nf78 commented on #14759
I've actually found a solution for this and posted it on a [stackoverflow answer](https://stackoverflow.com/questions/73154063/sentencetransformers-throwing-keyerror-on-pandas-series/73154064#73154064)

[2022-07-28 14:03] Sea-Snell commented on #17207
Google released weights for 3 UL2 checkpoints. I'm assuming the model in HuggingFace corresponds to the last checkpoint, but just to make sure, that is correct right?

[2022-07-28 14:27] sanchit-gandhi commented on #18289
Hi @isunitha98selvan. In the example linked, we actually force the batch indices to `numpy` arrays:
https://github.com/huggingface/transformers/blob/286a18fa0080dd39bd373008d11d831fbb1a77f1/examples/flax/summarization/run_summarization_flax.py#L345-L346

And then slice the dataset according to these `numpy` arrays.

When using JAX, we want to keep everything that's outside of the jit'd function as

[2022-07-28 14:28] sanchit-gandhi commented on #18287
Answered in https://github.com/huggingface/transformers/issues/18289#issuecomment-1198216304

[2022-07-28 14:28] #18287 closed

[2022-07-28 14:43] Rocketknight1 commented on #18334
Hi @zhuango - I just saw your other issue, I don't know how I missed it the first time. You're completely right - that example is hardcoding the input columns to the model, which is totally wrong and will degrade performance for models with `token_type_ids` inputs. I'll work on a PR and let you know when it's ready.

[2022-07-28 14:52] shijie-wu commented on #18309
I'm happy to contribute if removing is what we want 😊

[2022-07-28 14:55] sgugger opened #18343 "The doc sample for training on Speech Encoder Decoder does not work"
I'm working on updating the doc to remove the use of `as_target_xxx` context managers and noticed the code sample [here](https://github.com/huggingface/transformers/blob/main/docs/source/en/model_doc/speech-encoder-decoder.mdx#training) does not work.

First the call to `from_encoder_decoder_pretrained` does not load the pretrained BERT (there is a huge warning all weights are discarded). The the

[2022-07-28 15:02] #17411 closed

[2022-07-28 15:09] Am1n3e commented on #18146
@juliensimon, I had an error message similar (I think). I found that the issue was related to values with empty string values  (https://github.com/mlflow/mlflow/issues/6253), and it looks like there is a patch in the upcoming MLFLOW version 1.28 (not yet released)

In my case, I had to set `mp_parameters` to `None` instead of leaving it as an empty string (the default value), and I see your error

[2022-07-28 15:54] LysandreJik commented on #18323
Hey @ankrgyl, would you like to open a PR to enable that candidate?

[2022-07-28 15:55] LysandreJik commented on #18319
cc @NielsRogge @amyeroberts

[2022-07-28 15:56] LysandreJik commented on #18317
cc @Narsil

[2022-07-28 16:03] ankrgyl commented on #18323
Happy to! I am a bit rusty on the PR process but here it is: https://github.com/huggingface/transformers/pull/18345

[2022-07-28 16:45] LysandreJik commented on #18323
Closed in https://github.com/huggingface/transformers/pull/18345

Thanks for your contribution!

[2022-07-28 16:45] #18323 closed

[2022-07-28 17:21] SaulLu commented on #17551
Hi @luadamek ,

Thank you for your detailed issue! I think you found a limitation of the Wordpiece model of the `tokenizers` library.

Indeed, looking at the content of the tokens we can see that in the last case the text is identified as unknown:
[code]
Personally I think that this is a trade-off that was made for performance reasons. If you think this is a problem worth discussing further, the b

[2022-07-28 17:28] sanchit-gandhi commented on #18343
Hey @sgugger, thanks for flagging this!

I've double checked this, and the `from_encoder_decoder_pretrained` does load all the **pre-trained** BERT weights! The weights that are randomly initialised are the cross attention weights (expected, as we're loading the Seq2Seq decoder from an encoder only model):
<details>
<summary> Randomly initialised weights (cross attention layers) </summary>

[code]

[2022-07-28 18:28] VijayKalmath commented on #18306
@sgugger , I don't think anyone is working on the flax examples. Will open a new PR for migrating the flax examples?

[2022-07-28 18:29] sgugger commented on #18306
By all means, please go ahead! The only change will be that those are actually tested.

[2022-07-28 19:24] WissamAntoun commented on #18239
Hey @sanchit-gandhi , I have already tried the exp. numpy function with no improvement at all compared to `gather` with `batch_dims=2`.

I also tried going up to sequence length of `512`, I got the exact same speedup but it is still much slower than expected (around 20 seq/s for sentence length 512). I also changed batch sizes with no effect at all

[2022-07-28 20:01] JingyaHuang opened #18350 "Global/local import with replicated name in the Trainer leading to UnboundLocalError"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-5.4.0-121-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0+cu113 (True)

### Who can help?

@pacman100  @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples`

[2022-07-28 20:06] patrickvonplaten commented on #17207
Yes that's true as I know! cc @DanielHesslow just to be sure as he has ported the checkpoint :-)

[2022-07-28 20:09] NicolasAG commented on #18227
I have the same issue: When I try to load the model with its tokenizer I get the following error message:
[code]

[2022-07-29 08:04] KMFODA opened #18354 "Add hallucination filter in generate()"
### Feature request

Adding a filter of some sorts in the generate function to prevent x number of words from outside of the input from appearing in a generated text.

This could work in a number of ways. It could be a filter on the number of out of source words appearing in the generated text (e.g 2 would mean that a maximum of 2 words could be present in the generated text but not in the source)

[2022-07-29 08:06] KMFODA opened #18355 "Unable to set up developer environment on Mac M1"
### System Info

As MacBooks with the M1 chip need `tensorflow-macos` installed instead of` tensorflow>=2.3` (as listed in the setup.py) file trying to set up a developer environment on a M1 MacBook produces the following error:

[code]

Is there any way around this? I tried replacing with `tensorflow-macos` but that creates a myriad of other issues when trying to set up the developer environment.

[2022-07-29 08:11] #18343 closed

[2022-07-29 08:21] zhuango commented on #18334
@Rocketknight1 Thanks, I tried more runs with the same setting and still got 88% like F1-socre.

But, I tried a linear decay learning rate scheduler plus 0.1 * total training steps warmup and AdamW optimizers (from tensorflow_addons), and I finally got **90.247%** F1-score. Here is my optimizers:
[code]

[2022-07-29 09:22] Narsil commented on #18317
@jspablo ,

This is a very sound request which does make sense.

I think it's going to be tricky to implement in a streamlined fashion since a lot of postprocessing actually uses the model (to get the config). We could have the config be on its own but that require real care since then we have to be extremely consistent (to use the same location) and that would force users that use custom models (

[2022-07-29 09:40] Narsil commented on #18290
I cannot tell. Is the ONNX model correct before quantization ?

[2022-07-29 09:47] sanchit-gandhi commented on #18239
Okay probably worth sticking with the one-hot encoding hack then, seems most promising! I'm not a TF user so can't comment on the exact implementations changes you could make with the `expand_dims` or `squeeze` ops. Perhaps @gante could take a look here with his experience using TF and XLA?

[2022-07-29 09:49] Bilal4801 commented on #12578
I also face this error during quantization, I am using  fastt5 library to quantize the weights of  this model **"pszemraj/grammar-synthesis-base"** , but  in transformers library (one file of this library at this path(**/usr/local/lib/python3.7/dist-packages/transformers/utils/generic.py])** show the error in colab notebook.

Error is **IndexError: tuple index out of range**

code is here:
`from f

[2022-07-29 09:53] nlpcat opened #18357 "generate with tf.function (xla) not working for tf model export"
### System Info

using the latest version with tf.function for generate still doesn't work for tensorflow model export which would be useful for serving.

### Who can help?

@gante @patrickvonplaten

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or

[2022-07-29 10:01] pacman100 commented on #18350
Hello @JingyaHuang, thank you for bringing this to the notice. Can you try the above draft PR and see if that fixes the issue?

[2022-07-29 10:10] Aj-232425 commented on #1216
Similar, can we use conll type/format data to fine tune BERT for relation extraction..!!?

[2022-07-29 10:19] NielsRogge commented on #18340
Hi,

Loved reading that :D thanks for your interest in ViTMAE. It would definitely be nice to have one of these more efficient attention models in the library. However, we usually only add models that have dedicated pre-trained weights.

As Transformers is not really a modular toolbox, we treat each model rather independently in the library. This means that, in case we would have a model with an e

[2022-07-29 10:30] EeyoreLee opened #18360 "How can I use DDP mode without `torch.distributed.launch` command when I use transformers.Trainer"
I checked the historical issues and readed a part of source code. But I didn't find the way out to use DDP without `torch.distributed.launch`. Is there a way to use deepspeed or ddp without modifying the command? Like a field named `strategy: str` to select the way weather I use DDP.

[2022-07-29 10:57] jspablo commented on #18317
Thank you @Narsil
Yes, it makes sense, tested something similar for using ONNX models before they were included in the pipeline abstraction.
Just was looking for a more generic way to reuse any pipeline.

[2022-07-29 11:15] kargarisaac commented on #18290
@Narsil yes the output before quantization is ok. Any other tool you suggest I can use? Is DeepSpeed an option here or I have to use it during training? I don't have access to data now. Just the mode.

[2022-07-29 11:19] kacwin commented on #18340
Hey, thanks for the quick response.
So I need to take this to facebook such that they do a retraining :D? I think I cannot spare 800 epochs to do it myself.

Only providing models with pretrained weights is of course a dealbreaker here, looks like I will have to wait a bit longer for something like this.

[2022-07-29 13:36] Rocketknight1 commented on #18334
@zhuango Thank you for that! It's reminding me that all of our examples need to be overhauled, honestly. I'm going to make a PR to modernize all of them - I'll ping you when it's ready if you want to review it.

[2022-07-29 14:05] Narsil commented on #18290
The only thing that stands out right here is:

[code]
It's not necessarily wrong, but I don't recall having using it.

If it's the quantization that's causing a problem the best is to open an issue directly at onnxruntime I guess.

[2022-07-29 15:02] #17793 closed

[2022-07-29 15:02] #17781 closed

[2022-07-29 15:02] #17778 closed

[2022-07-29 15:02] #17256 closed

[2022-07-29 15:05] zhuango commented on #18334
@Rocketknight1 Sure, Thank you.

[2022-07-29 19:24] hazalturkmen opened #18367 "UnicodeDecodeError when using run_mlm_flax.py"
Hi,
I want to develop BERT model from scratch using Turkish text corpus. First I created tokenizer and I load text data from my local as seen below
[code]

Then, I run `run_mlm_flax.py`
[code]

And I get an  error
[code]
Note: I use google colab

[2022-07-29 22:41] wise-east commented on #16334
should this be reopened if it's not resolved yet?

[2022-07-30 02:13] davidbenton commented on #18111
I have a couple tests added in my local wip, but it looks like there might be a borken pipeline test prior to my changes. The "UN" start/end entity offsets don't seem to match the input sequence on [this line](https://github.com/huggingface/transformers/blob/51227e26ab8fe6d1a19804da697786649f9340e3/tests/pipelines/test_pipelines_token_classification.py#L289), along with a few other diffs. @Narsil

[2022-07-30 02:40] shiyongde commented on #5604
same question

[2022-07-30 04:37] #18350 closed

[2022-07-30 05:14] PersianSpock commented on #18163
I'm fine tuning trocr for Farsi language and I did it once using your code and it was ok and now with another larger dataset I get different label sizes and it's a problem.
after this part:
`encoding = train_dataset[0]
for k,v in encoding.items():
  print(k, v.shape)
encoding = eval_dataset[0]
for k,v in encoding.items():
  print(k, v.shape)`

I get:

label torch sizes are not the same although I'

[2022-07-30 05:17] yuenherny commented on #3852
Hi @patrickvonplaten, referring to the quote below (from this [comment](https://github.com/huggingface/transformers/issues/3852#issuecomment-618852195)):

Does this only apply to TFT5Model or is the same across all models which has `get_input_embeddings` and `get_output_embeddings` method?

[2022-07-30 07:23] NielsRogge commented on #18163
CER (character error rate) is a number between 0 and 1, the closer to 0 the better.

Regarding the labels, you need to make sure each target sequence gets padded/truncated to the same length, to make batching possible.

[2022-07-30 07:27] PersianSpock commented on #18163
I'm using your own code. it has:
`labels = self.processor.tokenizer(text,
                                          padding="max_length",
                                          max_length=self.max_target_length).input_ids`

and
`self.max_target_length = 128`

how am I getting different numbers?

[2022-07-30 07:36] NielsRogge commented on #18163
Yes it doesn't have `truncation=True`, which you need to add.

[2022-07-30 07:37] NielsRogge commented on #18163
Note that the sequence length of 128 was just a choice, you can set it to whatever you think is needed for the language you're training on. If you're training on very long sentences, you might need to increase it.

[2022-07-30 07:37] PersianSpock commented on #18163
Thank you so much it worked out.

[2022-07-30 10:10] kkie02 opened #18373 "Transformers 4.21.0: Can't load XLMRoberta checkpoints"
### System Info

Transformers 4.21.0

### Who can help?

@LysandreJik @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

1. cont_pre_model = XLMRobertaForMaskedLM.from_pretrained('xlm-roberta-

[2022-07-30 10:39] tqnwhz commented on #17124
Hi bro, I met similar problems like you. Have you found any solution? Thanks very much.

[2022-07-30 11:10] DanielHesslow commented on #17207
Yeah it's the latest one.

[2022-07-30 11:34] nittonfemton commented on #18167
Using run_clm.py from the commit by @spanglies solved this issue (I am forever grateful, this has been frustrating). You have to remove references to telemetrics and to check_min_version() to make it work on Sagemaker with estimator/fit.

However the same error shows up in evaluation, which I am disabling for now. Happy to finally have made it to a saved model, as that was my goal for this summer.

[2022-07-30 12:34] luoling1993 opened #18374 "Implement pytorch model with BetterTransformer in pytorch1.12?"
### Feature request

BetterTransformer is a fastpath for the PyTorch Transformer API. The fastpath is a native, specialized implementation of key Transformer functions for CPU and GPU that applies to common Transformer use cases.

### Motivation

Faster.

### Your contribution

Pytorch official blog: https://pytorch.org/blog/a-better-transformer-for-fast-transformer-encoder-inference/

[2022-07-30 15:02] #17820 closed

[2022-07-30 15:02] #17808 closed

[2022-07-30 15:02] #17454 closed

[2022-07-30 15:02] #17392 closed

[2022-07-30 15:02] #15552 closed

[2022-07-30 16:00] innat opened #18376 "Potential memory leakage of TensorFlow Swin model on kaggle!"
### System Info

Info:

[code]

### Who can help?

[Swin Model Card](https://huggingface.co/microsoft/swin-small-patch4-window7-224) @amyeroberts
TensorFlow: @Rocketknight1
Vision: @NielsRogge, @sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own tas

[2022-07-30 16:16] Carrussalgreencompany commented on #18376
Upwithal system build foundry - broken links and system flow response view' run node slow memory additional linkages attached with issues resolved.
https://form.jotform.com/220476043605046
Survey response link for confirmation.
@free2ride19

[2022-07-31 00:17] sachinruk opened #18377 "Getting Torchvision Transforms of `feature_extractor`s"
### Feature request

Currently if I was to add any transforms in my training pipeline, it's not quite obvious how to do so. My usual process is to read through the source code and hope to find what I'm after.

What I'm after is something like in `timm` where you can do
[code]
In the above I can append any torchvision transforms at will by inspecting transforms.

While I'm here it seems to be that

[2022-07-31 05:03] Carrussalgreencompany commented on #15552
Response - related issues intertwitched, score card (0) end pull and open source links.

[2022-07-31 09:32] Yakovtam opened #18378 "NLLB-200 is too slow"
### Feature request

When I use modle 'facebook/nllb-200-distilled-600M' to translate , it consuming 0.5 second. And it look like not async。
I want make it consuming 0.1 second ，and make it async。 Is there anyone who can help me 。Thanks!

### Motivation

When I use modle 'facebook/nllb-200-distilled-600M' to translate , it consuming 0.5 second. And it look like not async。
I want make it consuming

[2022-07-31 10:49] ZIZUN commented on #15536
@espoirMur
FID's requirement is transformers 3.0.2
so, this version's model output is formed as tuple.
you can fix this issue if add input variable 'return_dict=False' at model input.
as follow
`
            train_loss = model(
                input_ids=context_ids.cuda(),
                attention_mask=context_mask.cuda(),
                labels=labels.cuda(), return_dict=False
            )[0]
`

[2022-07-31 12:36] mehrdad78 opened #18379 "raise RuntimeError("Failed to load audio from {}".format(filepath))"
### System Info

i want to run

 run_speech_recognition_ctc.py
but  i got the error when run the Single GPU CTC script.
`python run_speech_recognition_ctc.py \
	--dataset_name="common_voice" \
	--model_name_or_path="facebook/wav2vec2-large-xlsr-53" \
	--dataset_config_name="tr" \
	--output_dir="./wav2vec2-common_voice-tr-demo" \
	--overwrite_output_dir \
	--num_train_epochs="15" \
	--per_device_tr

[2022-07-31 13:32] Carrussalgreencompany commented on #18379
feedback response with error code

[2022-07-31 13:38] johnnv1 commented on #17714
This hasn't been fixed yet

[2022-07-31 16:09] ankrgyl opened #18380 "LayoutLM-based visual question answering model, weights, and pipeline"
### Feature request

Question answering is an important problem for both text and documents. The question-answering pipeline makes it very easy to work with plain text and includes helpful utilities (like [post-processing start/end candidates](https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/question_answering.py#L510)). It'd be amazing for question answering on doc

[2022-07-31 16:40] SupreethRao99 opened #18381 "Summarisation example fails to run on given example. Missing positional argument TypeError"
### System Info

[code]

### Who can help?

@sgugger @pati

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I am trying to fine tune my own summarisation model based on the example in `transformers/e

[2022-07-31 19:12] mani-rai commented on #17691
@sgugger How to do it? In [this](https://huggingface.co/docs/transformers/main_classes/callback) doc, there's no mentioning about API key in comet callback. I tried set up COMET_API_KEY, COMET_MODE, COMET_PROJECT_NAME inside function that runs on spawn, but no luck so far. Also downgraded comet-ml till 3.1.17.

`os.environ["COMET_API_KEY"] = "<api-key>"
os.environ["COMET_MODE"] = "ONLINE"
os.envir

[2022-08-01 01:08] tqnwhz opened #18383 "Encoder Decoder Model gives same generation results after finetuning"
❓ Questions & Help
Hi, everyone. I am using transformers(v 4.20.1) and try to build a seq2seq model for multi-label classification. However, I found the model always gives same generation results after finetuning. I found two related issues in github but there seems to exist no solution.

Here's the code. Main logic is located in init and train method.
[code]

The phenomenon is:

- At the begin of

[2022-08-01 02:02] sywangyi opened #18384 "HPO could be enabled by a HPO configuration file(yaml or json) instead of adding code explicitly in example.py"
### Feature request

now, the HPO should be enabled by adding some code in example.py(like run_glue.py) to indicate the HPO backend, metric, hp space. code like
[code]
could we add a configuration file and pass it as an argument to trainer for the easy usage of the HPO?
yaml could like
[code]
training_args could be responsible for the yaml parse and convert to input space format according to the d

[2022-08-01 02:03] sywangyi commented on #18384
@sgugger @yao-matrix @kding1  any comment?

[2022-08-01 04:40] sijunhe commented on #12460
@LysandreJik I looked at the hub and also the existing model definitions and I couldn't find much related to extractive summarization. Before we have this pipeline, don't we need things like `AutoModelForExtractiveSummarization`?
@Narsil I understand that we can rely on `AutoModelForXXX` for selecting the right model type for a given pretrained model. But can we have different preprocessor and pos

[2022-08-01 04:49] mehrdad78 commented on #18379
I didn't get what do you mean?

[2022-08-01 07:05] YouJiacheng opened #18385 "`local_files_only` is not passed to `_from_pretrained` in `PreTrainedTokenizerBase.from_pretrained`"
I run
[code]
But request is still sent to get etag.
https://github.com/huggingface/transformers/blob/b2e4b091f08f1aaf21855d588c6c8d284baba9eb/src/transformers/tokenization_utils_base.py#L1653-L1813
`local_files_only` is aborted when calling `_from_pretrained`, whether it is explicitly passed or implicitly set by `is_offline_mode()` check.
I think this behavior is buggy.
Fortunately, `transformers`

[2022-08-01 07:33] qiuxia-alone opened #18386 "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
### System Info

macos
pycharm
python                            3.7
transformers                  4.20.1
torch                               1.12.0
torch-scatter.                 2.0.9
tensorflow                      2.3.0

### Who can help?

@NielsRogge

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `exampl

[2022-08-01 08:17] KMFODA commented on #17562
Hi @Narsil I'd love to take this on if it's still open.

[2022-08-01 08:20] Narsil commented on #12460
It's the same for `ASRPipeline`. the `if` can be located both in `preprocessing` and `postprocessing` and in `forward` without any issues.

There are actually ways we could imagine splitting things into subclasses, but that makes hacking slightly harder (when user send their own custom model) because that's a new layer they have to figure out. (which is the subclass for me and how does it work ?)

[2022-08-01 08:34] LaurenceA opened #18388 "Mismatch between logits from generate and forward with an attention mask for most GPT models"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-3.10.0-1160.45.1.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.8
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.10.0+cu113 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-08-01 08:52] Narsil commented on #17929
hi sorry for long reply, didn't see this until today:

The model `https://huggingface.co/Bingsu/vitB32_bert_ko_small_clip`  is a VisionTextDualEncoder, but it's not defined within the `AutoFeatureExtractor` meta class (@NielsRogge ) so the pipeline doesn't know about it and cannot load the `feature_extractor` that's why passing it manually works.

Basically the issue lies in transformers when we a

[2022-08-01 09:01] Narsil commented on #17929
@NielsRogge I also cannot find a small testing model here: https://huggingface.co/hf-internal-testing

For this dual model, is that normal ?

[2022-08-01 09:01] tijsg opened #18390 "Incorrect learning rate when using 'cosine_with_restarts' scheduler type"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.4.0-121-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes

[2022-08-01 09:06] LysandreJik commented on #18360
cc @sgugger

[2022-08-01 09:09] LysandreJik commented on #18354
WDYT of this request @gante ?

[2022-08-01 09:10] gongshaojie12 opened #18391 "Is run_clip.py an example of fine-tune or an example of training a vision-text model from scratch？"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-3.10.0-957.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-08-01 09:13] Narsil commented on #17562
I think it's still open. Thanks for taking this !

[2022-08-01 09:14] LysandreJik commented on #18227
Indeed, it seems the tokenizer files were not uploaded to that repository. Pinging @stancld, could you mention which tokenizer files should be used here? I'm happy to add these to `google`'s repositories.

[2022-08-01 09:15] sanchit-gandhi commented on #18289
Hey @isunitha98selvan, feel free to ask if you have any questions! Otherwise, closing this for now.

[2022-08-01 09:15] #18289 closed

[2022-08-01 09:18] ArthurZucker commented on #18355
Hey! Thanks for the issue. I managed to get it work doing the following :

1. Replace `tensorflow` with `tensorflow-macos` in the setup.config file.
2. Install particular dependencies manually
[code]
3. Just run `pip install -e ".[dev]"` and it should work :).

[2022-08-01 09:20] LysandreJik commented on #18391
Hey @gongshaojie12, is the README available [here](https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive-image-text) answering your questions?

In the [code sample](https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive-image-text#train-the-model), you'll see it's using @ydshieh's "coco_dataset_script" as a dataset; feel free to replace the

[2022-08-01 09:22] LysandreJik commented on #18388
cc @gante for generate :)

[2022-08-01 09:35] LysandreJik commented on #18386
It's likely that you have a mismatch between your torch and torch-scatter installs. Can you import torch-scatter on its own without the SIGSEGV?

[2022-08-01 09:37] LysandreJik commented on #18379
Hey @mehrdad78, could you share the full stack trace?

[2022-08-01 09:38] LysandreJik commented on #18383
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-01 09:40] LysandreJik commented on #18381
Aha, that's one for @sgugger, linked to https://github.com/huggingface/transformers/pull/18325

[2022-08-01 09:42] LysandreJik commented on #18380
cc @Narsil as well as @NielsRogge

[2022-08-01 09:43] LysandreJik commented on #17714
cc @alaradirik @amyeroberts as well :)

[2022-08-01 09:44] LysandreJik commented on #18378
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-08-01 09:44] LysandreJik commented on #18377
cc @amyeroberts

[2022-08-01 09:45] stancld commented on #18227
@LysandreJik AFAIK, the `LongT5` models use the same tokenizer as the `T5` model. I'd, therefore, just copy the `tokenizer.json` config e.g. from `LongT5-TGlobal-Large` to the XL repo, and it should work as expected.

[2022-08-01 09:46] tqnwhz commented on #18383
Of course. I'll migrate it and close this issue. Thanks for your reply!

[2022-08-01 09:46] #18383 closed

[2022-08-01 09:47] LysandreJik commented on #18227
Sounds good, I'll take care of that. Thanks!

[2022-08-01 09:50] wangyi-fudan opened #18395 "GFT: Generative Fundamental Training"
### Model description

Hi,
It is just an ad of our GFT.
It has a novel attention head by fusing attention and mlp layer. It has an ultra-thin, ultra-deep architecture that maximizing model performance with minimal parameters. More interestingly,  it equips a novel decoder call top-E(entropy) algorithm.
Our model has 81 layers but only 300M parameters.
Both Chinese and English(Biomedical) model are

[2022-08-01 09:51] LysandreJik commented on #18374
Hey @luoling1993, we're currently in talks with PyTorch to see how to best approach this. cc @erichan1

[2022-08-01 09:51] LysandreJik commented on #18373
cc @sgugger

[2022-08-01 09:53] ydshieh commented on #18391
Hi!

The script is mostly for finetuning. But it's also possible to train from scratch - you just need to create a model, save it, and use it for the argument `model_name_or_path` - if this is what you like to do.

[2022-08-01 09:56] gongshaojie12 commented on #18391
Hi, @LysandreJik @ydshieh  Thank you very much for your reply, maybe the first sentence in the README (The following example showcases how to train a CLIP-like vision-text dual encoder model using a pre-trained vision and text encoder.) bothered me. This sentence makes me think that `run_clip.py` is training a CLIP-like model from scratch, rather than fine-tuning the existing CLIP model. If there

[2022-08-01 09:57] LysandreJik commented on #18367
If you first serialize your dataset to local files, and then use that path as a dataset name; does it work then?

[2022-08-01 09:57] atturaioe commented on #18306
@sgugger, can I work on `research_projects` examples?

[2022-08-01 10:26] NielsRogge commented on #17429
Thanks for looking into this @ydshieh! Closing this issue.

[2022-08-01 10:26] #17429 closed

[2022-08-01 10:31] NielsRogge commented on #17714
Hi @johnnv1,

thanks for reporting, we're aware of this issue with feature extractors (see #15055 for a detailed description) and are planning to take it into account when updating the preprocessing pipeline for our vision models.

[2022-08-01 10:46] mehrdad78 commented on #18379
Yes,sure.
here is my colab notebook:[https://colab.research.google.com/drive/1jNdztD-Kkk8MCkzPLlLXVr0Z2jSgpkM8?usp=sharing](url)
and the stack trace:
`!python run_speech_recognition_ctc.py \
	--dataset_name="common_voice" \
	--model_name_or_path="facebook/wav2vec2-large-xlsr-53" \
	--dataset_config_name="ru" \
	--output_dir="/content/transformers/examples/pytorch/speech-recognition/wav2vec2-common

[2022-08-01 10:49] LysandreJik commented on #18379
Have you ever encountered this error @albertvillanova @mariosasko ?

[2022-08-01 10:59] LysandreJik commented on #18227
Should work now, this was the only repository that needed to be updated (was lacking the tokenizer files). Feel free to close this issue if your problem is solved!

[2022-08-01 11:40] #18306 closed

[2022-08-01 11:41] sgugger commented on #18306
@atturaioe We don't update research projects to the new APIs as they use pinned versions of libraries. So this one should stay as is unless the author want to do a general update of them. Thanks for offering though!

[2022-08-01 11:46] sgugger commented on #17691
Maybe open an issue with them? We did not write this integration with comet-ml and we don't maintain it. It was written by the Comet team :-)

[2022-08-01 11:48] sgugger commented on #18384
The examples are meant to stay simple and readable so users can change them to their need (cause as mentioned in several places, they are just examples, not production apps). That's why we set the bar at training + evaluation and they don't support hyperparameters search out of the box.

[2022-08-01 11:50] sgugger commented on #18373
We don't support resuming training with a different version of Transformers that initiated it, as it would require just freezing the whole `Trainer` forever: any bug fix or feature added in it won't work with a resumed checkpoint.

[2022-08-01 11:54] sgugger commented on #18381
You need to use the main version of Transformers to use the main version of the example scripts. You can find the examples for v4.21.0 [here](https://github.com/huggingface/transformers/tree/v4.21.0/examples).

[2022-08-01 11:55] Unn20 commented on #12726
Hi @Narsil

These 2 models need update:
- dbmdz/german-gpt2
- benjamin/gerpt2

[2022-08-01 11:57] amyeroberts commented on #18319
Thanks for raising @pikaduck!

I have a few questions to make sure I understand the issue and your proposal.
* When you say that the normalization may produce `bbox[i] > 1000`, can you confirm at least one of the bboxes coordinates for the image `(x0, y0)` or `(x1, y1)` are outside of the image?
* Are there typical cases e.g. types of images you notice when this happens? It would be useful to know

[2022-08-01 11:58] sgugger commented on #18360
No, you need to launch your Python script with the torch/DeepSpeed launcher.

[2022-08-01 12:16] #18385 closed

[2022-08-01 12:40] SupreethRao99 commented on #18381
Thank you @sgugger @LysandreJik , it works perfectly now

[2022-08-01 13:02] SupreethRao99 commented on #18381
hey, sorry to bother you again, but, this is the output I'm getting when I'm running the script on my own dataset
[code]

The code I'm using to launch the script is
[code]
the test.csv file is below
[test.csv](https://github.com/huggingface/transformers/files/9234094/test.csv)

[2022-08-01 13:18] albertvillanova commented on #18379
Hi @mehrdad78, thanks for reporting (and thanks @LysandreJik for drawing my attention to this).

I have manually checked the TAR file, its content and specifically the MP3 file raising the error: `cv-corpus-6.1-2020-12-11/ru/clips/common_voice_ru_18849051.mp3`

I can load it without any problem (our Datasets library, under the hood uses `torchaudio` for mp3 files):
[code]

This makes me think that

[2022-08-01 13:29] sgugger commented on #18390
Could you explain to us how you are seeing the learning rate being constant? Just tried your code and adding a print statement for the learning rate at every step, and I see something that changes.

[2022-08-01 13:32] Narsil commented on #12726
dbmdz/german-gpt2 seems to be working  https://huggingface.co/dbmdz/german-gpt2?text=Heute+ist+sehr+sch%C3%B6nes+Wetter+in

It doesn't seem to be defined as `conversation`, is that what you're referring to ?
I am not sure how this model was defined and so if it actually works with conversation, but it doesn't seem to be the case.

The API works with text-generation for this model and it works fine

[2022-08-01 13:36] tijsg commented on #18390
I'm using weight and biases at wandb.ai to keep track of my metrics
![image](https://user-images.githubusercontent.com/5707158/182159636-2c728deb-6f23-43eb-836c-dd6ae5041a7b.png)

[2022-08-01 13:39] tijsg commented on #18390
training_args = TrainingArguments(
    output_dir='./roberta',
    overwrite_output_dir=True,
    evaluation_strategy = 'steps',
    num_train_epochs=100,
    learning_rate=1e-4,
    weight_decay=0.01,
    per_device_train_batch_size=20,
    per_device_eval_batch_size=20,
    save_steps=2048,
    eval_steps=2048,
    save_total_limit=3,
    report_to="wandb",
    ignore_data_skip=True,
    gradien

[2022-08-01 13:44] BramVanroy commented on #17955
Bump

[2022-08-01 13:48] NielsRogge commented on #18340
An alternative option is to add the implementation to the [research projects](https://github.com/huggingface/transformers/tree/main/examples/research_projects) folder.

That's also where [Performer](https://github.com/huggingface/transformers/tree/main/examples/research_projects/performer) lives for instance, which also lacks pre-trained weights.

[2022-08-01 13:48] tijsg commented on #18390
could you please share how you add print statements for each step?

[2022-08-01 13:52] sgugger commented on #18390
By changing the source code of the Trainer. YOu can also log more frequently by changing the `loggin_steps` argument.

[2022-08-01 13:53] sgugger commented on #18381
Yes, it looks like `evaluate` decided to break the rouge metric. Sending a fix!

[2022-08-01 13:57] Narsil commented on #18380
Thank you for this proposal !

It is really well thought out and everything you mention is pertinent.
Adding support would be really awesome !

- We probably need to use VisualQuestionAnswering for this one. What defines a pipeline is the set of input/output so as far as I understand that would fit (image+question_text, output is a list of strings with scores attached, in decreasin order of `top_k

[2022-08-01 13:59] Narsil commented on #18380
Thank you for this proposal !

It is really well thought out and everything you mention is pertinent.
Adding support would be really awesome !

- We probably need to use VisualQuestionAnswering for this one. What defines a pipeline is the set of input/output so as far as I understand that would fit (image+question_text, output is a list of strings with scores attached, in decreasin order of `top_k

[2022-08-01 14:11] albertvillanova commented on #18379
Issue opened in Datasets to raise a more actionable error message:
- https://github.com/huggingface/datasets/issues/4776

[2022-08-01 14:20] roysubhankar commented on #15062
For me ```conda update huggingface_hub``` and ```conda update transformers``` worked nicely.

[2022-08-01 14:49] Narsil commented on #18111
@davidbenton ,

If all **fast** tests pass, you should be fine. They are tested on every commit, so they should be green.

For slow tests, we run them before releases and in controlled environments, they are sometimes affected by `torch` version or `python` version.  Usually the differences are minor so we can decide how to deal with them on a case-by-case basis.

But for a PR it shouldn't be bloc

[2022-08-01 14:56] davidbenton commented on #18111
Yeah, that all makes sense. Are we sure slow pipeline tests are running? That test I linked has start/end offsets that seem to be incorrect (past the end of the input). I just wanted to flag that, but I'll go ahead and get that PR up too.

[2022-08-01 15:02] #17862 closed

[2022-08-01 15:02] #17851 closed

[2022-08-01 15:02] #17830 closed

[2022-08-01 15:02] #17813 closed

[2022-08-01 15:02] #17747 closed

[2022-08-01 15:02] #17365 closed

[2022-08-01 15:14] #18381 closed

[2022-08-01 15:28] OliverZijia opened #18401 "Can't run the example in https://huggingface.co/transformers/v4.9.2/model_doc/blenderbot.html#transformers.BlenderbotModel"
Hi,

I just encountered some issue while running this example code:
from transformers import BlenderbotSmallTokenizer, BlenderbotSmallForConditionalGeneration
mname = 'facebook/blenderbot_small-90M'
model = BlenderbotSmallForConditionalGeneration.from_pretrained(mname)
tokenizer = BlenderbotSmallTokenizer.from_pretrained(mname)
UTTERANCE = "My friends are cool but they eat too many carbs."
print("

[2022-08-01 15:33] ydshieh commented on #17747
With a very quick look, it looks like you create `pool = FeaturePooling(im)` which doesn't transform the image. Only when `pred_points = model_gcn(graph, pool)` which invokes

https://github.com/marcomameli1992/p2m/blob/7e64071ce2a701044cab58f3c0e7877562157ab1/model/mesh_network.py#L31

will perform the data transformation. I believe this is not the good practice. You could try to perform the data

[2022-08-01 16:15] amitsou commented on #1323
Is it possible to use RoBERTa as the feature extractor and not train it while fine-tuning a model on my dataset?

[2022-08-01 16:27] namespace-Pt opened #18403 "Cannot restore `sequences_scores` from `scores` and `beam_indices` returned by `t5-base`"
### System Info

- `transformers` version: 4.18.0
- Platform: Linux-5.10.25-nvidia-gpu-x86_64-with-glibc2.31
- Python version: 3.9.12
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.10.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <No>
-

[2022-08-01 16:33] Narsil commented on #18111
Thanks for flagging, I am looking into it right now :)

[2022-08-01 16:44] Narsil commented on #18111
@davidbenton what's your environement ? I can't seem to reproduce on my local env

Do you mind creating a new issue for this ? Report it like a regular bug, there should be tools to print your exact env.
https://github.com/huggingface/transformers/issues/new?assignees=&labels=bug&template=bug-report.yml

As I said, slow tests can be sometimes a little more flaky that fast tests, but usually within

[2022-08-01 16:46] amyeroberts commented on #18377
Thanks for adding this request @sachinruk :)

Regarding the the mean and standard deviation values, can you raise a separate issue?

We're currently going through an update of the feature extractor class for images. At the moment, it's not possible to compose the individual transformations we apply, like `create_transform` does. It's something we were thinking about doing down the road and it's gr

[2022-08-01 16:47] manuelciosici opened #18404 "GPT-J evaluation with multiple GPUs crashes"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-3.10.0-1160.71.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.10.4
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in sc

[2022-08-01 16:51] sgugger commented on #18404
The issue is probably in the modeling code missing some `.contiguous()` calls.

[2022-08-01 17:05] davidbenton opened #18405 "Incorrect assertion in pipeline test test_dbmdz_english()"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: macOS-12.4-x86_64-i386-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.5.2 (cpu)
- Jax version: 0.3.6
- JaxLib version: 0.3.5
- Using GPU in script?: n
- Using distributed or parallel set-up in scri

[2022-08-01 17:06] asofiaoliveira commented on #16059
Hello, according to the colab notebook, `XLMRobertaXL` (PyTorch) classes are still missing type annotations
They were mentioned here back on March 12th but there is no PR associated, so I can work on that if @manandey hasn't already

[2022-08-01 17:17] mehrdad78 commented on #18379
Thank you.
I try it and report the result.

[2022-08-01 17:47] amyeroberts commented on #18376
Hi @innat, thanks for flagging this!

In order to help figure out what's causing the problem and possible solutions, could you please answer the following questions:

* Could you give the version of transformers you're using and any other relevant packages?
* Does the notebook run successfully before entering it as a submission? If not, what line of code causes the failure?
* Could you give detail

[2022-08-01 18:06] manandey commented on #16059
@asofiaoliveira Feel free to work on this incase you are interested!

[2022-08-01 18:14] gante commented on #12881
(in case you stumble upon this issue and you have the same question, check #18282)

[2022-08-01 18:24] gante commented on #18282
Hi @kmkarakaya 👋

⚠️ Disclaimer: this is untested with `.fit()`, please let me know if it works! I'll edit the comment afterwards depending on your answer.

The weights can be frozen by setting a `Layer` attribute to `False`, as per [Keras' docs](https://keras.io/guides/transfer_learning/#freezing-layers-understanding-the-trainable-attribute). The original issue you linked attempts to freeze the `

[2022-08-01 18:34] ankrgyl commented on #18380
@Narsil that's great to hear! I will start sending pieces as PRs and tag you for feedback.

[2022-08-01 18:39] YBooks opened #18406 "PreTrainedTokenizerFast with tokenizer object is acting on original tokenizer object"
### System Info

- `transformers` version: 4.21.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.9.2
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.8.1+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or

[2022-08-01 18:43] Narsil commented on #18405
@davidbenton
Thanks for the info, I was able to reproduce on torch `1.11.0` but this is fixed on `1.12.0`.

We're aware of some modifications within the `nn.Linear` between those two versions. The errors are relatively minor actually, but since this is a random model (meaning not trained on real data) it's much more sensitive to those tiny fluctuations.
That's why the test fails on `1.11.0` while

[2022-08-01 18:50] erichan1 commented on #18374
Hey there @luoling1993! I'm from the PyTorch team - we are working on this. My working PR https://github.com/erichan1/transformers/pull/2

[2022-08-01 18:58] davidbenton commented on #18405
Hmm, it fails for me on 1.12.0 also (CPU, env otherwise same as above). How could `end: 24` be correct for a string with length 20? Those offsets should be in `sentence` indices, right?

[2022-08-01 19:21] ydshieh commented on #18405
Since that commit, we do have this failure in Slack CI report. From the changes, I think it try to fix all `the the`. So reverting the change on the expected value is good to me.

[2022-08-01 19:30] sgugger commented on #18405
Yes, it slipped through the crack as the contributor was trying to fix typos and I didn't pay attention this one was intentional.

[2022-08-01 20:09] rclough commented on #16447
@Rocketknight1 Defintely! I'm working with a team that's using their DistilBERT port they found through TF Hub (after first doing an MVP with HF), and discovered the repo through that. The implementation seems pretty high quality to me, mostly just reusing the vocab files and aligning the configuration with how TF Text does things.

[2022-08-01 20:17] albertvillanova commented on #18379
I have just read that apparently there is a backend change in latest `torchaudio` release.

Therefore, `torchaudio` version should be restricted so that it continues using `sox` backend, as expected by `datasets`.
[code]

We should address this issue to support latest torchaudio.

[2022-08-01 21:01] changyeli opened #18409 "Fine-tuning a pretrained model did not follow as expected from the blog posting"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-5.13.0-52-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fi

[2022-08-01 21:08] gante commented on #17411
@TheHonestBob The newest release fixes this issue. Check our recent blog post -- https://huggingface.co/blog/tf-xla-generate

[2022-08-01 21:18] gante commented on #18214
Hi @LeninGF 👋 I had a look into your notebooks but they are very long, which makes it very hard to pin the problem. Would you be able to share a short notebook (as short as possible) where the problem can be reproduced? Thanks :)

[2022-08-01 21:27] gante commented on #18210
Hi @ehrencrona 👋 The correct class to use for generation with decoder-only models is `TFAutoModelForCausalLM`. You can use it the same way as `TFAutoModel` but, contrarily to it, it has a language modeling head.

As for the suggested fixes -- I agree `generate` should not exist here (or better yet -- that the error should be informative, as new users might not know which class to use). I've added

[2022-08-01 21:27] sgugger commented on #18409
Please use the [forums](https://discuss.huggingface.co/) to debug your code as we keep issues for feature requests and bugs (in the library) only. It's hard to know what went wrong just from your code since we don't have access to the files you use, but my guess would be that your labels are floats instead of ints, so by default the model thinks you have one-hot encoded labels instead of numbers.

[2022-08-01 21:47] LeninGF commented on #18214
Hi Huggingface/Transformers I will do it . The only problem is that I will
use other dataset different from the one I am working because if privacy
policy... Give some hours to upload it

On Mon, Aug 1, 2022, 4:18 PM Joao Gante ***@***.***> wrote:

[2022-08-01 22:38] changyeli commented on #18409
Thanks!

[2022-08-01 23:17] shermansiu opened #18410 "Sharded Multi-GPU MT5 training with the Seq2SeqTrainer fails (4.21.0)"
### System Info

transformers version: 4.21.0
Platform: Linux
Python version: 3.7.6
Huggingface_hub version: 0.8.1
PyTorch version (GPU?): 1.10.2 (Yes)
Tensorflow version (GPU?): not installed (NA)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?: Yes (2+ Tesla V100)
Using distributed or parallel set-up in script?: Yes

[2022-08-01 23:53] AguilaCudicio commented on #15947
Hola. Me gustaria traducir benchmarks.mdx

[2022-08-02 00:27] AguilaCudicio commented on #15947
Hi, I'd like to translate summarization.mdx  @omarespejel

[2022-08-02 00:54] shakabash opened #18411 "`assertion failed: stride < max_len` when using tokenizer with text_pair"
### System Info

transformers 4.20.1, 4.21.0 (tested with both), MacOS 12.4, Python 3.8.12

### Who can help?

@SaulLu

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The above occurs when using tru

[2022-08-02 01:02] omarespejel commented on #15947
Hi @AguilaCudicio! That would be amazing. Thanks I added you to the list :)

[2022-08-02 01:42] qiuxia-alone commented on #18386
hi, i have installed the right version of torch-scatter(2.0.9) as showed in [https://pytorch-geometric.com/whl/](url)

[2022-08-02 02:57] yao-matrix commented on #18384
Agree that examples should stay simple and clear for easily ramp up. @sgugger , our question is actually "is it needed to unify HF's HPO configuration and run across different backends(Optuna, SigOpt etc.) ?",  by supplying an unified configure interface(one example is the yaml style @sywangyi proposed). For data scientist, they can decouple their applications code from specific HPO tool; for HPO

[2022-08-02 05:35] omarespejel opened #18413 "Tranformers documentation translation to Japanese 🇯🇵"
Hi!

Let's bring the documentation to all the Japanese-speaking community :)

Who would want to translate? Please follow the 🤗 [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md). Here is a list of the files ready for translation. Let us know in this issue if you'd like to translate any, and we'll add your name to the list.

Some notes:

- Please translat

[2022-08-02 06:02] qiuxia-alone commented on #18386
sorry, i get the wrong version of torch, the problem solved, thank you for your apply.

[2022-08-02 06:38] kacwin commented on #18340
Well, it clearly is experimental, so that would actually make sense.
Let me know if I can help on this regarding the ViTMAE model.

[2022-08-02 06:58] ArthurZucker commented on #18309
Feel free to open a PR and tag me when it is ready! 😄

[2022-08-02 07:48] NielsRogge commented on #18340
Feel free to open a PR, you can add 2 files:

- modeling_efficient_vitmae.py, which includes the efficient attention mechanism
- a script or notebook to train the model

[2022-08-02 08:23] gongshaojie12 opened #18417 "run_clip.py RuntimeError"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-3.10.0-957.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.12
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in scr

[2022-08-02 09:33] KMFODA commented on #18355
Thanks so much for the prompt response @ArthurZucker. This is great although when I run these commands I get the following error:

`ERROR: Could not find a version that satisfies the requirement tensorflow-text; extra == "dev" (from transformers[dev]) (from versions: none)
ERROR: No matching distribution found for tensorflow-text; extra == "dev"`

when I remove tensor flow-text from setup.py the `

[2022-08-02 10:17] free2ride19 commented on #18376
Can you help me build an app

On Mon, Aug 1, 2022, 6:47 PM amyeroberts ***@***.***> wrote:

[2022-08-02 11:09] gante commented on #18208
Hi @artidoro 👋 Thank you for raising this issue!

There are actually two distinct problems, the first one was already on my radar:
1. `length_penalty` is only used with `beam_search`-based generation techniques. `facebook/bart-large-cnn` uses them by default, and `gpt2` doesn't. So, in fact, `length_penalty` has no effect on `gpt2`, the different results you're seeing are a consequence of sampling

[2022-08-02 11:52] innat commented on #18376
Hello @amyeroberts; thanks for checking. To answer all of your query,

1. It can be done, we will share a notebook file. Shortly,

[code]

2. I hardly used hugging face vision model. It's kind of my first look of these vision models for current [on-going kaggle competition](https://www.kaggle.com/competitions/google-universal-image-embedding).

3. Regarding the convnext checkpoint, yes, I can give

[2022-08-02 12:25] fffiloni commented on #18322
I'd love to help you for this tasks !

[2022-08-02 12:46] free2ride19 commented on #18376
Thank you for your response.

On Tue, Aug 2, 2022, 12:53 PM Mohammed Innat ***@***.***>
wrote:

[2022-08-02 13:15] Narsil commented on #17929
This was an incorrect assumption on my end. Those types of models are more generic, so they don't provide and `AutoFeatureExtractor`/`AutoTokenizer` property, so it's **normal** for them to fail.

Still will update the error message to make that clearer.

[2022-08-02 13:26] sgugger commented on #18322
Yes, this is something we should do more for the English doc as well. The only exception in my opinion is when something is clearly left to the user like "You need to adapt this constant to your username."

[2022-08-02 13:32] fffiloni commented on #18322
Le Site du Zéro à l'époque le faisait très bien avec parcimonie, c'était très agréable à suivre ;)
Les tutos sont archivés ici: http://sdz.tdct.org/

[2022-08-02 13:49] osanseviero commented on #18322
Great idea for consistently using 1st person plural!

If possible let's keep the discussion on the issues in English as some of the reviewers might not be French speakers even if we help with making sure the structure/format looks good! :D

[2022-08-02 13:57] gante commented on #18239
Interesting -- I spent some time with TPU profiling on a different application (text generation on a myriad of models), and found that those two operations were part of the bottleneck for my case (along XLA's `dynamic_update_slice`). They accounted for 50-70% of the execution time. Do you know if it is also a bottleneck for FLAX, @sanchit-gandhi (e.g. the cache updates [here](https://github.com/hu

[2022-08-02 14:05] alaradirik commented on #18157
@LysandreJik @NielsRogge I updated the MaskFormer docs to reflect the current code and added a [PR](https://github.com/huggingface/transformers/pull/18423)

[2022-08-02 14:08] ekurtulus opened #18424 "Cannot replicate T5 performance on WMT14"
### System Info

I am trying to replicate T5 finetuning on WMT with the following hyperparameters (as close as possible to the paper https://www.jmlr.org/papers/volume21/20-074/20-074.pdf):

--model_name_or_path t5-small
--source_lang en
--target_lang de
--dataset_name stas/wmt14-en-de-pre-processed
--max_source_length 512
--max_target_length 512
--val_max_target_length 512
--source_prefix="transl

[2022-08-02 14:17] donebydan opened #18425 "BartLearnedPositionalEmbedding's forward method signature obstructs private (Opacus) training of BART"
### System Info

-`transformers` version: 4.20.1
-Platform: Linux-5.4.0-1086-azure-x86_64-with-glibc2.17
-Python version: 3.8.13
-Huggingface_hub version: 0.8.1
-PyTorch version (GPU?): 1.9.1+cu102 (False)
-Tensorflow version (GPU?): not installed (NA)
-Flax version (CPU?/GPU?/TPU?): not installed (NA)
-Jax version: not installed
-JaxLib version: not installed
-Using GPU in script?: yes (NA)
-Usin

[2022-08-02 14:24] sanchit-gandhi commented on #18239
For JAX BLOOM we couldn't even compile the 176B parameter model with the naive implementation of `concatenate_to_cache`, yet alone benchmark which operations consumed the bulk of the execution time! We swapped it for this more efficient implementation (with one-hot encodings etc): https://github.com/huggingface/bloom-jax-inference/blob/2a04aa519d262729d54adef3d19d63879f81ea89/bloom_inference/model

[2022-08-02 14:36] WissamAntoun commented on #18239
@gante Do you think the one-hot trick can be done without the `expands_dims` and `squeeze`, maybe then we can just dodge the whole problem

[2022-08-02 14:40] moise-g commented on #10358
@anshoomehra Were you able to run BART on Triton?

[2022-08-02 15:02] #17833 closed

[2022-08-02 15:02] #17832 closed

[2022-08-02 15:31] shermansiu commented on #18410
It still fails when I install `transformers` directly from the GitHub repository (as of today).

Here's the traceback:
[code]

[2022-08-02 16:18] alaradirik opened #18430 "Increase notebooks page visibility"
Hi, I was looking at the [notebooks page](https://huggingface.co/docs/transformers/notebooks) and I noticed that the community notebooks link is broken and some of the official notebooks are outdated and throw errors when run.

It would be great to reorganize the notebooks page such that:
1) The [community page ](https://huggingface.co/docs/transformers/v4.21.0/en/community) is renamed as Communit

[2022-08-02 16:19] alaradirik commented on #18157
I merged the PR, closing this issue!

[2022-08-02 16:19] #18157 closed

[2022-08-02 16:31] kaleko commented on #16759
@patrickvonplaten Is it possible to use Wav2Vec2ProcessorWithLM during _training_ to use a LM at train time? Or, is there another way to do this with some other HF tool?

[2022-08-02 16:38] piEsposito opened #18431 "Make Tokenizers serializable to TF SavedModel format"
### Feature request

It would be great if we could serialize our tokenizers into the TF SavedModel format, so that we could deploy it to TF Serving without a handler to tokenize our inputs.

### Motivation

It is frustrating to have to write a Python, JS or Rust handler every time I want to deploy a huggingface/transformers model to TF Serving, and it would be great if we could just bake everythin

[2022-08-02 16:53] sgugger commented on #18430
I wouldn't merge the community notebooks page with the notebooks page, just make the link work again. I think it's important to separate what we officially support from what we don't. Organizing things a bit better would certainly be welcome, as always, happy to look at a PR!

Same for fixing some of the notebooks if they don't run anymore. They are not tested like the examples scripts so it's pos

[2022-08-02 16:54] NielsRogge commented on #17481
Gently pinging @LiweiPeng here

[2022-08-02 17:14] #18291 closed

[2022-08-02 17:17] shakabash commented on #18411
I'd like to provide an update on my own ticket. Although I still have no idea what causes this behavior and despite probably not being relevant for most practical applications, it seems like the truncation is enforcing that the shortest of the two texts after the truncation is at least 3 tokens long. The resulting error message (see title of this ticket) is only adding to this confusion.
In the fo

[2022-08-02 17:25] shermansiu commented on #18410
Related issue: https://discuss.pytorch.org/t/multi-gpu-model-parallelism-device-error/117854/9

This issue seems to be related to how DDP is set up in a constructor somewhere, probably in the trainer's constructor when adding DDP.

[2022-08-02 17:42] shermansiu commented on #18410
Actually, now that I've looked at the recent commits for trainer.py, I think @pacman100 might know how to fix this.

[2022-08-02 17:51] shermansiu commented on #18401
Remove this line:
`inputs.pop("token_type_ids")`
As for the `inputs.keys()`, the keys aren't assigned to any variable or used for any form of auxiliary calculation, so it effectively does nothing.

In other words, just run this:
[code]

[2022-08-02 18:33] shermansiu opened #18433 "BlenderBot-Distil-400M training fails if the input or target length exceeds a certain threshold, even when truncation and padding is on"
### System Info

transformers version: 4.20.1, 4.21.0
Platform: Linux
Python version: 3.7.6
Huggingface_hub version: 0.8.1
PyTorch version (GPU?): 1.10.2 (Yes)
Tensorflow version (GPU?): not installed (NA)
Flax version (CPU?/GPU?/TPU?): not installed (NA)
Jax version: not installed
JaxLib version: not installed
Using GPU in script?: Yes (2+ Tesla V100)
Using distributed or parallel set-up in scrip

[2022-08-02 19:02] TheColorman commented on #11404
[https://huggingface.co/transformers/examples.html](https://huggingface.co/transformers/examples.html) now points towards [https://huggingface.co/docs/transformers/main/en/examples](https://huggingface.co/docs/transformers/main/en/examples), which is a 404.

[2022-08-02 19:16] shermansiu commented on #18433
Adding `padding=True` when tokenizing both the input and targets does not fix the issue.

[2022-08-02 19:17] shermansiu commented on #18433
Also, when running the script using the CPU-only, I get this error:

[code]

[2022-08-02 19:17] pacman100 commented on #18410
Hello @shermansiu , I am unable to reproduce the error with transformers==4.22.0.dev0 main branch and fairscale==0.4.6. `sharded_ddp` has nothing to do with DeepSpeed. I get another error and it is unrelate with the integration. Therefore, please open the issue with `Fairscale` and follow it there. The issue I face is below which is different from the one you face:

[code]

Also, if you want to le

[2022-08-02 19:31] #18111 closed

[2022-08-02 19:49] shermansiu commented on #18410
Thanks! The weird thing is that changing the fairscale version doesn't affect whether the bug appears. I can make the bug appear by first running `pip install transformers==4.21.0` and disappear by running `pip install transformers==4.20.1`.

[2022-08-02 20:08] shermansiu commented on #18410
I was able to reproduce your `RuntimeError: Function SplitWithSizesBackward0 returned an invalid gradient at index 0 - got [582401280] but expected shape compatible with [145600320]` error by upgrading PyTorch (cudatoolkit=11.3) from `1.10.2` to `1.12.0`.

I think it's still the same bug because running `torchrun --nproc_per_node=1 script.py` with `pytorch==1.12.0` works.

After upgrading PyTorch

[2022-08-02 20:10] shermansiu commented on #18410
(FSDP is only available for PyTorch versions 1.12 and later)

[2022-08-02 20:13] pacman100 commented on #18410
Hello @shermansiu , I found the bug and raised above PR which should fix it. Can you try the above PR and confirm?

[2022-08-02 20:18] pacman100 commented on #18410
Post applying PR, the output logs for `sharded_ddp`:

[code]

[2022-08-02 21:17] muellerzr opened #18436 "Update no_trainer scripts to include gradient accumulation"
### Feature request

🤗 Accelerate has a gradient accumulation wrapper, and the `no_trainer` scripts should be updated to include it!

An example can be seen [here](https://github.com/huggingface/accelerate/blob/main/examples/by_feature/gradient_accumulation.py), below is an example diff of what the integration would look like:

[code]

As well as:
[code]
[code]

### Motivation

This is a great fir

[2022-08-02 21:22] shermansiu commented on #18410
Yes, I can confirm that it works!

[code]

[2022-08-02 21:22] muellerzr opened #18437 "Update no_trainer scripts to include gather_for_metrics"
### Feature request

🤗 Accelerate has a wrapper to help with distributed metric calculation (a tough problem!), and the `no_trainer` scripts should be updated to include it!

An example can be seen [here](https://github.com/huggingface/accelerate/blob/main/examples/nlp_example.py#L163-L169), below is an example diff of what the integration would look like:

[code]

The list of available scripts to

[2022-08-02 21:22] shermansiu commented on #18410
Wait... am I supposed to keep the issue open until the PR is merged?

[2022-08-02 21:23] shermansiu commented on #18410
Probably, I suppose.

[2022-08-03 00:23] vladd-i opened #18441 "Conversion from TF BERT Checkpoint to HF Model Breaks"
### System Info

I'm trying to convert the BERT TF1 checkpoint provided in [MLPerf GDrive](https://drive.google.com/drive/folders/1oQF4diVHNPCclykwdvQJw8n_VIWwV0PT?usp=sharing) to a HF BERT model using the following transformer-cli command provided in [HF documentation](https://huggingface.co/docs/transformers/converting_tensorflow_models):
[code]
but it breaks with the following error:
[code]

##

[2022-08-03 01:54] omarespejel commented on #16824
Obrigado @Felipehonorato1! I added you to the list 🇧🇷. Please tag me in your PR.

[2022-08-03 02:00] omarespejel commented on #18322
Looks good, is writing in the first person of the plural something we would like to add to the [TRANSLATING guide](https://github.com/huggingface/transformers/blob/main/docs/TRANSLATING.md), and the description of this and other translation issues?

[2022-08-03 02:20] lchwhut commented on #18291
thx, it works.

[2022-08-03 03:09] #18410 closed

[2022-08-03 03:34] OliverZijia commented on #18401
Thanks @shermansiu, the problem is solved, thanks for your prompt reply :-)

[2022-08-03 03:34] #18401 closed

[2022-08-03 06:14] KMFODA commented on #18355
Amazing that seems to work for now. Thanks for the help!

[2022-08-03 06:14] #18355 closed

[2022-08-03 06:23] nandwalritik commented on #18437
Hi @muellerzr opened PR #18443  for first three examples in the list.

[2022-08-03 06:43] kacwin commented on #18340
Will do, but might take some time. I want to find a public dataset where the unsupervised training shows some results after a reasonable amount of time (for the notebook).

[2022-08-03 06:55] hazalturkmen commented on #18367
Thank you for answer. I am new for using Huggingface dataset libary. My corpus only contains sentences with each line being a sentence. How can I serialize my dataset?

[2022-08-03 07:11] alaradirik commented on #18430
Makes sense, I will reorganize the Community page and double check the official notebooks then!

[2022-08-03 10:26] LysandreJik commented on #18386
Great, happy you could solve the problem!

[2022-08-03 10:26] #18386 closed

[2022-08-03 10:29] LysandreJik commented on #18413
cc @younesbelkada as we talked about that last week

[2022-08-03 10:30] NielsRogge opened #18445 "Add zero-shot object detection pipeline"
### Feature request

We currently have [OWL-ViT](https://huggingface.co/docs/transformers/main/model_doc/owlvit) in the library, which is capable of performing zero-shot object detection.

It would be great to have a pipeline for this task, with the following API:

[code]

This pipeline could default to the https://huggingface.co/google/owlvit-base-patch32 checkpoint. Also check out the [demo note

[2022-08-03 10:31] LysandreJik commented on #18367
Let me cc @albertvillanova, who might have seen this error before :)

[2022-08-03 10:35] LysandreJik commented on #18445
As seen with @alaradirik this morning, this could also be leveraging the custom pipeline feature that was implemented last week, especially if this pipeline works with a very limited number of artchitectures.

cf https://github.com/huggingface/transformers/pull/18079

[2022-08-03 10:35] NielsRogge opened #18446 "Add depth estimation pipeline"
### Feature request

We currently have 2 monocular depth estimation models in the library, namely [DPT](https://huggingface.co/docs/transformers/model_doc/dpt) and [GLPN](https://huggingface.co/docs/transformers/model_doc/glpn).

It would be great to have a pipeline for this task, with the following API:

[code]

This pipeline could default to the https://huggingface.co/Intel/dpt-large checkpoint.

[2022-08-03 10:41] LysandreJik commented on #18431
cc @Rocketknight1, I believe you've been looking into something similar.

[2022-08-03 10:48] Narsil commented on #18446
What would be the output like @NielsRogge  ?

My understanding is that depth is just a gray scale image (black = infinitely far, white = infinitely close).

If that's the case It seems really close to `image-segmentation` in the sense that it's generating a new image from the original image, so we should try and reuse as much as possible.

Also maybe we could have something like `image-generation`

[2022-08-03 10:50] bariluz93 opened #18447 "'MarianTokenizer' object has no attribute 'target_encoder'"
### System Info

- `transformers` version: 4.19.0.dev0
- Platform: Linux-4.19.129-aufs-1-x86_64-with-debian-10.1
- Python version: 3.7.3
- Huggingface_hub version: 0.5.1
- PyTorch version (GPU?): 1.11.0+cu102 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

[2022-08-03 11:07] amyeroberts commented on #18376
Hi @innat, thank you for all of your detailed responses and for sharing the notebook.

I ran the notebook in kaggle and was able to save out the model with the checkpoint you used in your first example: `"microsoft/swin-base-patch4-window7-224-in22k"`

The notebook is here: https://www.kaggle.com/code/aeroberts4444/test-swin-saving/notebook

Are you able to run the notebook you shared on kaggle? O

[2022-08-03 11:16] jonas-da commented on #18163
@PersianSpock which processor do you use for training on an other language ?

do you use a processor which is build up of the same encoders and decoders, or do you use the handwritten stage 1 processor, which is pre-trained already ?

it would really help, If you could post your Model and processor initialization. And maybe also your config.
Thank you!

[2022-08-03 11:19] Rocketknight1 commented on #18431
Hi @piEsposito, this is something we've been working on! Right now it's only available for BERT, but we intend to expand it to other models, particularly now that we're seeing interest in it. You can use the [TFBertTokenizer](https://huggingface.co/docs/transformers/model_doc/bert#transformers.TFBertTokenizer) class for this - check out [this gist](https://gist.github.com/Rocketknight1/b479d57e3d2

[2022-08-03 11:32] albertvillanova commented on #18367
Hi @hazalturkmen, thanks for reporting.

When looking at your script call, I see you pass "default-b06526c46e9384b1" as `dataset_config_name`, then pointing to the cache (containing the Arrow file instead of the text file). I guess this is the cause of the issue.

When running the script `run_mlm_flax.py` with local data files, you should pass instead the parameter `train_file` (and `validation_fi

[2022-08-03 11:38] PersianSpock commented on #18163
since I am using xlm-roberta-large I do it like this:

[code]

[2022-08-03 11:39] piEsposito commented on #18431
This is great, really, and exactly what I'm looking into. I'm specifically looking into doing that with CLIP, which uses BPE. Do you have anything on works on that? If not, how can I ramp-up on that and help?

Thanks!

[2022-08-03 11:40] PersianSpock commented on #18163
@jonas-da it says here: https://huggingface.co/docs/transformers/main/model_doc/trocr#transformers.TrOCRProcessor

since I am using xlm-roberta-large I do it like this:

feature_extractor = ViTFeatureExtractor.from_pretrained('google/vit-base-patch16-224-in21k')
tokenizer = AutoTokenizer.from_pretrained("xlm-roberta-base")

processor = TrOCRProcessor(feature_extractor = feature_extractor, tokenize

[2022-08-03 11:43] jonas-da commented on #18163
Ah thank you! @PersianSpock

and as above mentioned you use

`model = VisionEncoderDecoderModel.from_encoder_decoder_pretrained("google/vit-base-patch16-224-in21k", "xlm-roberta-base")`

as model or ?

One more question. How much Training Data do you use and what CER did you achieved ?

Thank you very much!

[2022-08-03 11:49] Rocketknight1 commented on #18431
Hi @piEsposito - we think that should be possible, but we just haven't had time to implement any tokenizers of that class yet! If you look at the [source for TFBertTokenizer](https://github.com/huggingface/transformers/blob/main/src/transformers/models/bert/tokenization_bert_tf.py#L67) you can see that we just use `FastBertTokenizer` from `tensorflow_text`. However, correctly implementing a BPE to

[2022-08-03 11:55] PersianSpock commented on #18163
I used base and large both and for the data I used 7000 data and it still wasn't enough and I think I should use more.

[2022-08-03 12:12] gante commented on #18239
@sanchit-gandhi that's interesting! I'd be interested in knowing the pro tips for XLA (which should also apply to TF)

@WissamAntoun Yeah, we can rework it with [`tf.einsum`](https://www.tensorflow.org/api_docs/python/tf/einsum) magic, assuming the operation can be rewritten with [Einstein notation](https://en.wikipedia.org/wiki/Einstein_notation) -- in this case, it is possible! Check the impleme

[2022-08-03 12:33] younesbelkada commented on #18413
That's great 🔥 !
Linking this issue to the one on HF course: https://github.com/huggingface/course/issues/114

[2022-08-03 12:50] NielsRogge commented on #18445
cc @alaradirik

[2022-08-03 13:28] Ravisankar13 opened #18452 "Unable to Infer on Bloom Model-2b5 using Deepspeed"
### System Info

I was able to load the Bloom-2b5 Model onto my Colab notebook for text generation(Inference). When I use Deepspeed to load the model and try to inference the memory is not sufficient. I don't understand because with the help of deepspeed i should be able to load the larger model or atleast the same model.

### Who can help?

_No response_

### Information

- [ ] The official examp

[2022-08-03 14:14] innat commented on #18376
@amyeroberts Thanks for running the code.

Yes, if you run the code that I shared, you won't see any OOM effect instant. As I said, I tried to submit two model from hugging-face (`"microsoft/swin-tiny-patch4-window7-224"` and `"facebook/convnext-large-224-22k-1k"`) to [this](https://www.kaggle.com/competitions/google-universal-image-embedding/overview/evaluation) competition.

The convnext is comp

[2022-08-03 15:02] #17879 closed

[2022-08-03 15:02] #17433 closed

[2022-08-03 15:02] #15398 closed

[2022-08-03 15:10] bariluz93 opened #18455 "understand differences in tokenization"
hi,
I'm trying to understand the tokenization in MarianTokenizer
I run the following code

from transformers import MarianTokenizer
model_name='Helsinki-NLP/opus-mt-en-de'
model = MarianMTModel.from_pretrained(model_name,tokenizer= tokenizer, **kwargs)

tokenizer.tokenize("doctor")
['▁doctor']

with tokenizer.as_target_tokenizer():
    indices = tokenizer("doctor", return_tensors="pt", padding=Tru

[2022-08-03 15:24] shermansiu commented on #18401
You're welcome! :smile:

[2022-08-03 15:58] NielsRogge commented on #18455
This is because the languages you're translating between (Engish and German in this case) have different tokenization vocabularies. This implies that tokens will get tokenized differently. MarianMT models have seq2seq (encoder-decoder) architectures, and both the encoder and decoder each have their own embedding matrix. This means that the encoder will have an embedding vector for the token '▁doct

[2022-08-03 16:07] mareloraby commented on #17124
I have the same issue. Did someone figure it out? Thanks in advance.

[2022-08-03 17:09] sinking-point opened #18461 "BartForConditionalGeneration output is not dependent on input when trained from scratch"
### System Info

- `transformers` version: 4.21.0
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.31
- Python version: 3.9.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GP

[2022-08-03 17:37] kmizrak-nci commented on #17534
The git apply patch.txt throws an error of
error: corrupt patch at line 17

Am I missing something in the application of it, or missing an argument?

[2022-08-03 17:44] MocktaiLEngineer commented on #18445
Can I take this up and work on it?

[2022-08-03 17:58] stas00 commented on #17534
bad copy-n-paste? Just insert it manually - it's just a few lines of code and you can tell where to insert by the context around it.

[2022-08-03 18:04] shermansiu commented on #18433
I've found out why the error seems to appear. I modified `transformers/src/transformers/models/blenderbot/modeling_blenderbot.py:BlenderbotLearnedPositionalEmbedding:forward` (approximately near line 125).

[code]

When running the script, I get this in the output:
[code]

Clearly, the positional embeddings are beyond the maximum range available. The question is why... Perhaps this can be configur

[2022-08-03 18:07] shermansiu commented on #18433
The length of the positions seems to be equal to `2*CRITICAL_NUMBER + 1`.

[2022-08-03 18:09] gante commented on #18354
Hi @KMFODA 👋

I'm not sure if I got the proposal right, let me try to explain in my own words to double-check :) You would like some sort of filter that prevents a large number of different tokens (that are not present in the input prompt) from being generated. Taking your example, considering words=tokens -- if the input is `this is` and the maximum number of new tokens is `2`, `this is a cat` wo

[2022-08-03 18:10] shermansiu commented on #18433
And... it goes to a maximum of the tokenizer's max_length-1, which is expected, I guess.

[2022-08-03 18:15] shermansiu commented on #18433
Ah. So the issue is that in the `BlenderbotConfig`, `max_position_embeddings` is set to 128. The publicly available weights only have position embeddings with those dimensions, so either I'd have to train from scratch or reduce the max tokenizer length.

[2022-08-03 18:15] shermansiu commented on #18433
But seriously, this issue should be caught and re-raised with a more human-readable expression.

[2022-08-03 18:24] shermansiu commented on #18433
(I can contribute a fix after my internship ends, not before)

[2022-08-03 18:35] shermansiu commented on #18433
Catching and re-raising the exception during GPU training doesn't result in a more human-readable expression (It's still `RuntimeError: CUDA error: CUBLAS_STATUS_NOT_INITIALIZED when calling cublasCreate(handle)`, but at least the flood of CUDA asserts are gone). Getting a more human-readable exception seems to be only possible for CPU-only training.

[2022-08-03 19:12] gante commented on #18388
Hi @LaurenceA 👋

With decoder-only models, such as the ones you mentioned, padding should be done on the left. This is because the output is a continuation of the input prompt -- there would be gaps in the output without left padding. Our code to automatically prepare the position IDs for a given attention mask in decoder-only models has left-sided padding in mind and differs from the one you wrot