[2022-01-04 22:31] stas00 commented on #15026
# optimizers

(Note: requires this PR to be merged first: https://github.com/huggingface/transformers/pull/14744)

| Variation               |   Train<br>samples<br>per<br>second |   Diff<br>% |   Train<br>loss |
|:------------------------|------------------------------------:|------------:|----------------:|
| --optim adam_hf         |                              214.55 |           2 |

[2022-01-04 22:46] stas00 commented on #15026
# speed up combinations

Now let's combine the winning strategies from each individual benchmark above and compare with the baseline:

| Variation                                                             |   Train<br>samples<br>per<br>second |   Diff<br>% |   Train<br>loss |
|:----------------------------------------------------------------------|------------------------------------:|----------

[2022-01-04 22:50] stas00 commented on #14608
# combining winning strategies

Now let's combine the winning strategies from each individual benchmark above and compare with the baseline:

| Variation                                                             |   Train<br>samples<br>per<br>second |   Diff<br>% |   Train<br>loss |
|:----------------------------------------------------------------------|------------------------------------:|---

[2022-01-04 23:04] stas00 commented on #15026
# RTX-3090 vs A100

In all the benchmarks above I was making the batch size bigger and run more samples comparative to the same [RTX-3090 benchmarks](https://github.com/huggingface/transformers/issues/14608) as A100 40GB card can handle more than RTX-3090 24GB, but let's compare now the 2 using the same config. So we will have RTX-3090 fully loaded, but A100 will be only partially loaded.

Also ea

[2022-01-04 23:27] galbraic commented on #12182
I was also encountering this error, and noticed that the call to [datasets.Dataset.map() in line 310](https://github.com/huggingface/transformers/blob/857ab55c01cf7213bc1822933cd2ef2b7552bac4/examples/research_projects/zero-shot-distillation/distill_classifier.py#L310) is the culprit. It drops the `labels` column from the dataset. Try replacing it with the following
[code]

[2022-01-04 23:31] snoop2head commented on #4827
@mitramir55
There are occasions where you want to delete tokens from the tokenizer and resize the embedding layer accordingly.

Just like I stated in issue #15032 , there are tokens such as `[unused363]`.

I am figuring out way how to remove the surplus of 500 tokens from the tokenizer.

Thank you for your kind explanation though!

[2022-01-05 06:38] Zhenshan-Jin commented on #14919
same problem! @sharejing any insight so far?

I was trying to do something like
[code]
and it got stuck on the `async_res.wait()` line.

[2022-01-05 07:05] #14540 closed

[2022-01-05 07:05] Zhenshan-Jin opened #15038 "BERT model from pipeline hangs with multiprocessing pool"
## Environment info

- `transformers` version: transformers==4.9.1
- Platform: macOS Catalina 10.15.7 (19H2)
- Python version: 3.7.5
- PyTorch version (GPU?):
- Tensorflow version (GPU?):tensorflow==2.7.0
- Using GPU in script?:No
- Using distributed or parallel set-up in script?:Yes

### Who can help
@sgugger

Models:

- BERT: @LysandreJik

Library:

- Pipelines: @Narsil

## Information

The mode

[2022-01-05 07:19] programmeddeath1 opened #15039 "Wav2Vec2 bart-large - finetuning failing with ValueError: tokenizer has to be of type....but is <class 'transformers.models.bart.tokenization_bart_fast.BartTokenizerFast'"
Hii,

I am trying to understand how to finetune wav2vec2 models with my own decoder, I am trying to replicate the finetuning for the
patrickvonplaten/wav2vec2-2-bart-large model with the run script from
https://github.com/huggingface/transformers/tree/master/examples/pytorch/speech-recognition

The create_model.py as well as the config contains 'Wav2Vec2Processor' as the processor class.

But on

[2022-01-05 07:21] Zhenshan-Jin commented on #15038
[https://github.com/huggingface/transformers/issues/14919](url)

[2022-01-05 09:09] #14939 closed

[2022-01-05 09:24] lfoppiano commented on #3028
I wonder if it would be possible to know in advance whether a model supports TF or pyTorch, or both... and throw an exception accordingly?

[2022-01-05 09:25] Narsil commented on #15038
The error seems to come from Tensorflow itself, here is an example without using `pipeline` whatsoever.

[code]

Other hints that it's tricky to share tf session across processes: https://stackoverflow.com/questions/36610290/tensorflow-and-multiprocessing-passing-sessions

The easiest way to solve ALL your problems related to threading or multiprocessing is to load the  pipeline DIRECTLY on the th

[2022-01-05 09:25] #15038 closed

[2022-01-05 09:37] Narsil commented on #14919
@sharejing
This code seems to work

[code]

However, I would suggest that instead of sharing `pipelines` (and so `models`) across processes you load them on each thread instead since it will prevent any error on sharing the model across processes (which for instance seems impossible with TF).

[code]

[code]

[2022-01-05 09:37] Narsil commented on #14919
Other linked issue :https://github.com/huggingface/transformers/issues/15038

[2022-01-05 09:44] LysandreJik commented on #14921
cc @Narsil

[2022-01-05 09:52] LysandreJik commented on #14889
Yes, perfectly OK with re-using the same API!

[2022-01-05 10:11] NielsRogge commented on #15011
Have you taken a look at the [notebooks](https://github.com/NielsRogge/Transformers-Tutorials/tree/master/VisionTransformer) to fine-tune ViT?

[2022-01-05 10:14] PaulLerner commented on #14486
Ok, I’ll let you know. I’m quite busy atm.

[2022-01-05 10:24] alexvaca0 commented on #14627
I'm facing the same. Maybe @patrickvonplaten or @sshleifer can give us a hint on which separator to use :)

[2022-01-05 10:25] patrickvonplaten commented on #14081
Hey @cwkeam,

Thanks a lot for you very in-detail answer! We've discussed this internally and think actually it makes sense to add a new generation method for this.

Ideally this generation method could cover the generation methods proposed in the following papers:

[2022-01-05 10:31] patrickvonplaten commented on #14081
Would you be interested in giving this PR a try? I'm more than happy to help you whenever you're stuck!
Otherwise I would probably be able to find some time to give it a try in 1-2 months myself.

[2022-01-05 10:33] patrickvonplaten commented on #14627
Gently pinging @Narsil and @patil-suraj here

[2022-01-05 11:01] alexvaca0 commented on #12807
+1

[2022-01-05 11:17] cwkeam commented on #14081
Hi @patrickvonplaten

Thanks for the consideration!
I'd be more than happy to make the full implementation. I'll try to push a PR within the next week or so with an initial PR.

[2022-01-05 11:33] patrickvonplaten commented on #14081
This sounds great! Please ping me whenever you need any help

[2022-01-05 12:46] lewtun commented on #14882
Sorry for the slow reply @lonelydancer - I’m on leave for a few more days and will take a look at this issue next week.

[2022-01-05 13:01] mitramir55 commented on #4827
Hi @snoop2head ,
I'm not sure what you want to do exactly, but I think [this post](https://github.com/huggingface/transformers/issues/1083#issuecomment-524303077) and [this one](https://github.com/huggingface/transformers/issues/4777) can be helpful.

Basically, what you need to know is that you cannot change the embedding layer of a model, because this is part of a trained transformer with specif

[2022-01-05 13:16] rcoulter13 commented on #14869
Just wanted to followup for anyone else who might run across this. I ended up not having to freeze the whole base model. My problem was within my processor. For my task I only needed to use the vocab Wav2Vec2 was trained on (I'm not adding any new tokens) so I saw the immediate benefit of the pre-trained model on the first epoch of fine-tuning when I made sure the vocabulary and its corresponding

[2022-01-05 13:16] #14869 closed

[2022-01-05 13:44] Narsil commented on #14627
Hi @LiShaoyu5 ,

A good first approximation is to use the ConversationalPipeline actually https://huggingface.co/docs/transformers/master/en/main_classes/pipelines#transformers.ConversationalPipeline

[code]

`ConversationalPipeline` tries to use the very special (and private) method on the tokenizer `_build_conversation_input_ids`: https://github.com/huggingface/transformers/blob/master/src/trans

[2022-01-05 16:08] fxmarty opened #15045 "[FX] `symbolic_trace` yields a TraceError for `BertModel`"
## Environment info

- `transformers` version: 4.16.0.dev0
- Platform: Linux
- Python version: 3.9.2
- PyTorch version (GPU?): 1.10.1+cpu
- Tensorflow version (GPU?): /
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@michaelbenayoun

Models:
- BERT: @LysandreJik

## Information

Model I am using : Bert

The problem arises when using:
* [ x ] my o

[2022-01-05 20:01] aqred1 opened #15047 "[Trainer] Very different loss reported during training vs. at the end."
I have trained GPT from scratch. During training, I got logs outputting evaluation and 'loss', like shown below:

`{'loss': 6.5349, 'learning_rate': 0.00014698625308424393, 'epoch': 42.65}`

But after the last step I get this log, different to the previous ones:

`{'train_runtime': 751.251, 'train_samples_per_second': 580108.554, 'train_steps_per_second': 566.455, 'train_loss': 0.00842020369377221

[2022-01-05 20:46] Zhenshan-Jin commented on #15038
@Narsil Thank you so much for your help and I think you are right after reloading the model for every process/thread and the code is working as expected without hanging issue.

[2022-01-05 22:10] ohmeow opened #15048 "word_ids method is not available on fast tokenizers when using "prepare_for_model""
Tokenizer: RoBERTa

[code]
[code]
Returns: `[None, 0, 1, 2, 3, None]`

[code]
Returns this error:
~/miniconda3/envs/blurr/lib/python3.9/site-packages/transformers/tokenization_utils_base.py in word_ids(self, batch_index)
    351         """
    352         if not self._encodings:
--> 353             raise ValueError("word_ids() is not available when using Python-based tokenizers")
    354

[2022-01-06 04:00] ZhaofengWu commented on #14638
@sgugger I found one source of difference: the grouping by length done in `LengthGroupedSampler` depends on the batch size, so the data ordering would be different. I argue that ideally in all `(batch size, gradient accumulation)` settings, as long as the effective batch size is the same, they should have an identical training process, except for numerical issues.

[2022-01-06 06:58] nbravulapalli opened #15049 "Inference API: Error with GPU inference"
### Who can help

@LysandreJik @patil-suraj
## To reproduce

[code]

## Expected behavior

For more than a month, I have used the above code snippet to retrieve text completions from gpt2 using huggingface's inference API. However, when the same snippet ran again today, the inference API gave the following response:

Error Message 1:
[code]

This persisted for roughly half an hour, and after that

[2022-01-06 07:24] jeffreyyu0602 opened #15050 "Cannot fine-tune google/mobilebert-uncased using native Pytorch"
## Environment info
- `transformers` version: 4.12.5
- Platform: Linux-4.4.0-210-generic-x86_64-with-glibc2.23
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in

[2022-01-06 09:01] NielsRogge commented on #14998
Not sure why you don't want to leverage batching, because it's always faster than passing each sentence at a time through the model:

[code]

If you're interested in optimizing the inference speed on CPU, take a look at [ONNX](https://huggingface.co/docs/transformers/serialization) or [Torchscript](https://huggingface.co/docs/transformers/serialization#torchscript). We [recently added support](htt

[2022-01-06 09:13] NielsRogge commented on #15048
Hi,

The `prepare_for_model` is not a user-facing method, it's recommended to just call the tokenizer (as in your first code snippet). The `prepare_for_model` method does not set the `_encodings` field of `BatchEncoding` (this is only done in the `_encode_plus` and `_batch_encode_plus` methods of `tokenization_utils_fast.py` (as seen [here](https://github.com/huggingface/transformers/blob/2e9af294

[2022-01-06 09:16] NielsRogge commented on #15050
Hi,

For training-related questions, please refer to the forum. See [here](https://discuss.huggingface.co/search?q=mobilebert) for all MobileBERT-related questions for instance.

We like to keep Github issues for bugs/feature requests.

Thank you!

[2022-01-06 09:29] NielsRogge commented on #15045
Hi,

In order to symbolic trace a model, you also need to provide the input_names:

[code]
This works for me on Transformers v4.15.0 and PyTorch 1.9.0 in Google Colab.

[2022-01-06 09:35] atptour2017 opened #15051 "Trainer model __init__() got an unexpected keyword argument 'prediction_loss_only'"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-4.18.0-193.19.1.el8_2.x86_64-x86_64-with-centos-8.2.2004-Core
- Python version: 3.6.13
- PyTorch version (GPU?): 1.10.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>

[2022-01-06 09:41] fxmarty commented on #15045
Thank you!

So it is a version problem. I let you know this code with

transformers version: 4.16.0.dev0
Python version: 3.9.2
PyTorch version (GPU?): 1.10.1+cpu

do yield the error I gave:

[code]

I will downgrade PyTorch and transformers, thank you.

[2022-01-06 09:56] michaelbenayoun commented on #15045
Hi @fxmarty,
I am working on a PR (#14321) that should allow you to use both 1.9 and 1.10 version if everything goes well. It should be merged by the end of the week.

[2022-01-06 09:58] LysandreJik commented on #12936
Re-opened this issue as I thought a fix needed to be done - but reading @SaulLu's answer I believe the current behavior is correct.

Please let us know if this is an issue to your workflow and we'll look into solutions.

[2022-01-06 09:58] #12936 closed

[2022-01-06 10:06] fxmarty commented on #15045
It's all good, thanks a lot!

[2022-01-06 10:06] #15045 closed

[2022-01-06 12:03] hasansalimkanmaz opened #15052 "Multilabel Token Classification in trainer"
# 🚀 Feature request

We need to be able to use the trainer for multilabel token classification problems.

## Motivation

Right now we create a custom model and a custom trainer class. The model has an additional layer for the second set of labels. Which makes the codebase complicated and harder to maintain. This feature may help to identify entity groups or roles as it is implemented in [RASA](htt

[2022-01-06 12:54] LysandreJik commented on #14632
cc @michaelbenayoun, what's the status of our support of torch fx?

[2022-01-06 13:32] michaelbenayoun commented on #14632
Currently working on a PR (#14321), that should be merged soon, it should allow to use symbolic trace for torch 1.10 and above.

[2022-01-06 13:36] novice03 commented on #14760
Hello, I would like to work on adding Swin.

[2022-01-06 13:38] LysandreJik commented on #15047
cc @sgugger

[2022-01-06 13:52] LysandreJik commented on #15034
Hi @mathshangw, is there a way for you to share more? We don't have knowledge of most of the variables you're showing here.

[2022-01-06 13:55] LysandreJik commented on #14760
Hey @novice03, thanks for your effort! I believe that @FrancescoSaverioZuppichini is in the process of adding the `Mask2Former` model which depends on Swin, so he's probably working on that too.

I'll let him share more about his work.

[2022-01-06 14:18] vitalyshalumov opened #15054 "How can I update special token ids?"
I am combining a tokenizer from model A with apretrained model B.
I want to align special token ids.
I am able to change the token name such as <s> but I cannot change the token id number.
How can I aproach this problem?

[2022-01-06 14:29] LysandreJik commented on #14969
Nice catch! @stevhliu, would you like to take a look at that?

[2022-01-06 15:01] LysandreJik commented on #15054
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-01-06 15:02] #14565 closed

[2022-01-06 15:02] #14561 closed

[2022-01-06 15:02] #14558 closed

[2022-01-06 15:02] #14551 closed

[2022-01-06 15:07] LysandreJik commented on #14614
Pinging @sgugger

[2022-01-06 15:07] ydshieh commented on #14357
activate :-)

[2022-01-06 15:21] liyufan opened #15055 "Return type of `ViTFeatureExtractor` does not match `return_tensors` parameter when input is `torch.Tensor` or `PIL.Image.Image`"
## Environment info

- `transformers` version: 4.15.0
- Platform: Ubuntu 16.04
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.1+cu113
- Tensorflow version (GPU?): not installed
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using (Bert, XLNet ...): ViT

The problem arises when using:
* [x] the official example

[2022-01-06 15:22] liyufan commented on #15011
I proposed a way to use DataLoader in #15055

[2022-01-06 15:25] LysandreJik commented on #14985
Hi @ahtamjan, I would advise you to read this very complete document that @stas00 created: [Transformers docs: Performance and scalability](https://huggingface.co/docs/transformers/master/en/performance#performance-and-scalability-how-to-fit-a-bigger-model-and-train-it-faster)

[2022-01-06 16:04] NielsRogge commented on #15055
Thanks for this table, it beautifully summarizes all possible cases and it should indeed work in any case. Here are my thoughts:

## Single image

If you are providing a single image (or a list containing a single image) and not specifying the `return_tensors` argument/setting it to 'np', it should in any case return a 4D Numpy array of shape `(1, height, width, num_channels)` - feature extractors

[2022-01-06 16:42] rodrigonogueira4 commented on #14921
Hi @Narsil,

That's right, these are the use cases I had in mind. In my experience with the GPT-3's API, filtering out outputs using the model's likelihood improves overall results quite a bit.

Returning the probability of the token that was selected by the decoding algorithm (greedy or top-p) at each decoding step is enough to calculate a confidence score for the generated sentence.

Returning s

[2022-01-06 17:06] stevhliu commented on #14969
Looks like a [throwback](https://huggingface.co/transformers/v2.2.0/quickstart.html) to `transformers 2.2.0`! Should we point the user to [`CTRLModel.forward()`](https://huggingface.co/docs/transformers/master/en/model_doc/ctrl#transformers.CTRLModel.forward.past_key_values) where they can get more information about the parameter? It looks like I can also update it to say PyTorch accepts `past_key

[2022-01-06 17:53] V-Sher opened #15059 "Adding additional layers to TFHubertModel throws OperatorNotAllowedInGraphError"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel se

[2022-01-06 20:55] mathshangw commented on #15034
i'm trying to do image captioning using keras and tried to make the embedding layer is the output of BERT for word embedding like the above code is the part of the decoder model and i used this for getting the word-embedding
[code]
if there is anything i did wrong , please let me know .. Thanks in advance

[2022-01-06 20:58] Jourdelune opened #15060 "Feature request: m2m100_418M support on onnx"
# 🚀 Feature request

Hi, it would be great if onnx could support the facebook M2M100 418M multilingual translation model!

## Motivation

I would like to run m2m100 with reduced translation time on cpu. For this I discovered onnx which reduces the translation time up to 3 times (perfect).So I ran this command I found on the hugging face doc that I adapted for M2M100:
`python -m transformers.onnx -

[2022-01-06 21:21] joehoover commented on #14851
Hey,

I'm working on updating my training script and noticed that `smdistributed` is a dependency in `train_gpt_simple.py`; however, I can't find any information about it. Is that a library that will be internally available to my training job? It's not used heavily, but I'd like to understand its role.

Also, the notebook that you linked indicates that SMP only supports "Huggingface version 4.4.2.

[2022-01-06 21:45] Jourdelune commented on #14984
hi, I don't think it's possible :( But you plan to make your model public?

[2022-01-06 22:29] stas00 commented on #14985
Probably head directly to Deepspeed docs: https://huggingface.co/docs/transformers/master/en/main_classes/deepspeed#trainer-deepspeed-integration

I will update the performance doc to make the link as it mentions it but isn't linking to it directly.

[2022-01-07 01:32] liyufan commented on #15055
@NielsRogge Updated results when input are PIL images.

[2022-01-07 02:43] LiShaoyu5 commented on #14627
Hello @Narsil and thanks for your help!

[2022-01-07 02:43] #14627 closed

[2022-01-07 06:05] santanumitra22 opened #15062 "Import Error : cannot import name 'create_repo' from 'huggingface_hub'"
Working with BERT Text Classification,i found this error

import torch
from tqdm.notebook import tqdm

from transformers import BertTokenizer

from torch.utils.data import TensorDataset

from transformers import BertForSequenceClassification

**ImportError:** cannot import name 'create_repo' from 'huggingface_hub' (C:\ProgramData\Anaconda3\lib\site-packages\huggingface_hub\__init__.py)

How to sol

[2022-01-07 06:18] pratikchhapolika opened #15063 "Not able to log training and validation loss to visualise in tensor-board as tfevents?"
I am downloading the model https://huggingface.co/microsoft/Multilingual-MiniLM-L12-H384/tree/main microsoft/Multilingual-MiniLM-L12-H384 and then using it.

Transformer Version: '4.11.3'

I have written the below code:

[code]

[code]
Is there way to retrieve my ( **I  want to use tensor-board**) :

1. **Training loss** for every epoch
2. **Validation loss** for every epoch

I do not see anything

[2022-01-07 07:27] patrickvonplaten commented on #15059
It seems that we have to change https://github.com/huggingface/transformers/blob/cc406da4debea3c2e7e93f42585339e79e18fd6b/src/transformers/models/hubert/modeling_tf_hubert.py#L231

to use a tensorflow max function instead https://www.tensorflow.org/api_docs/python/tf/math/maximum

@gante , @Rocketknight1 - would you guys be interested in taking a look here?

[2022-01-07 07:49] philschmid commented on #14851
@dhawalkp in which version did `trace_device` get introduced?

[2022-01-07 08:54] frankhart2018 commented on #15062
@santanumitra22 Which transformers version are you using?

[2022-01-07 08:57] santanumitra22 commented on #15062
Version: 4.15.0 @frankhart2018

[2022-01-07 08:59] frankhart2018 commented on #15062
And is you huggingface_hub version 0.2.1?

[2022-01-07 09:05] santanumitra22 commented on #15062
no,
huggingface_hub 0.0.8

[2022-01-07 09:19] frankhart2018 commented on #15062
That's probably the issue, can you try upgrading to 0.2.1, its working fine for me when I am using 0.2.1

[2022-01-07 11:14] aitor-garcia-p opened #15064 "Question: CANINE with (pre-trained) LM head"
# 🚀 Feature request

This is more a question than a request.

Would it be possible to have [CANINE](https://huggingface.co/docs/transformers/model_doc/canine) model with a (pre-trained) LM head to perform word/character prediction? (Just like BERTForMaskedLM and other similar models)

## Motivation

The character-based paradigm of the CANINE model is very promising and currently it is possible to

[2022-01-07 11:16] bth5032 opened #15065 "compile error when installing transformers[flax]"
## Environment info
Running on windows 10.

- `transformers` version:
- Platform: Windows 10
- Python version: 3.9.1
- PyTorch version (GPU?): 1.9.1+cu102

### Who can help
@patil-suraj

## Information

I am trying to use `FlaxVisionEncoderDecoderModel` and ran into the same issue as [this dev.](https://github.com/huggingface/transformers/issues/14831) However attempting to run

` pip install tran

[2022-01-07 11:19] patil-suraj commented on #15065
This seems to be related to `tokenizers`. Were you able to install `tokenizers` independently?

[2022-01-07 11:23] bth5032 commented on #15065
Thanks for the response, I have `tokenizers` latest, but get the same error if I force the version.

[2022-01-07 11:25] patil-suraj commented on #15065
I see. Could you then open an issue on the `tokenizers` repo, since it's not related to `transformers`? Thank you!

[2022-01-07 11:32] bth5032 commented on #15065
[moved](https://github.com/huggingface/tokenizers/issues/874)

[2022-01-07 11:32] #15065 closed

[2022-01-07 11:38] patil-suraj commented on #15065
Also, note that the `tokenizers` version is now updated in the master which will be included in the next release.
cf https://github.com/huggingface/transformers/blob/master/setup.py#L152

[2022-01-07 12:02] pratikchhapolika opened #15066 "How do I change the classification head of a model from multi-label to multi-class?"
am downloading the model https://huggingface.co/unitary/unbiased-toxic-roberta/tree/main and then using it.

**Transformer Version: '4.11.3'**

**unbiased-toxic-roberta**

The model is trained on Jigsaw data which has **16 classes ( Multi-label )** and use **BCE** loss function

`Labels is like : sentence1---> label [0,0,..1,0..,0]`

**I am using this model to fine-tune on binary classification pr

[2022-01-07 12:27] NielsRogge commented on #15064
Hi,

CANINE can do masked language modeling (that's how it was pre-trained). However, the authors did not release their pre-training code (yet) as seen [here](https://github.com/google-research/language/tree/master/language/canine#pre-training-code-coming-later).

See also #12892.

[2022-01-07 12:29] NielsRogge commented on #15066
One can replace the head by setting the ignore_mismatched_sizes argument to True in the from_pretrained method, like so:

[code]

This will print a warning, indicating which parameters are randomly initialized.

[2022-01-07 12:44] aitor-garcia-p commented on #15064
Ok, that was my understanding of the situation so far.

I just wanted some clarification or confirmation from a more knowledgeable person :-)

Since it has more to do with the authors of the model and not with the Transformers library itself, I close this question for now.

Thank you very much for the quick answer!

[2022-01-07 12:44] #15064 closed

[2022-01-07 13:32] alexvaca0 commented on #14627
i dont think this should be closed yet. first sorry for bad writing, i only have 1 hand now due to surgery so i type as i can. i tried the suggested and i think there is a bug somewhere, when using conversational pipeline the response to: "Hey, how are you doing?" is " I'm doing well, thank you. How are you? I am doing?" with blenderbot3b while using the model without the pipeline returns "I'm doi

[2022-01-07 14:04] gante commented on #15059
@patrickvonplaten I can take a look, assigning to me

[2022-01-07 14:11] jiacheng-ye opened #15069 "How to use an unpretrained model?"
By using the following codes, I can load a **pretrained** model for fine-tuning on QA tasks. I'm wondering how to load a same (same architecture with roberta-base) **unpretrained** model , and train it on my own data from scratch?
[code]

[2022-01-07 14:46] Darth-Carrotpie commented on #12807
Really excited for it! I think even without a search engine implementation people would use it, though examples wouldn't hurt!
Also, btw, someone did a simple search engine implementation already here: https://github.com/JulesGM/ParlAI_SearchEngine

[2022-01-07 14:48] patil-suraj commented on #12807
Thank you for sharing this @Darth-Carrotpie

[2022-01-07 15:01] #14574 closed

[2022-01-07 15:02] #14552 closed

[2022-01-07 15:02] #14531 closed

[2022-01-07 15:02] #14299 closed

[2022-01-07 15:02] #14149 closed

[2022-01-07 15:02] #14123 closed

[2022-01-07 15:07] NielsRogge commented on #15069
You can initialize a model using a configuration object, like so:

[code]
This for instance will load the default configuration of RoBERTa, as documented [here](https://huggingface.co/docs/transformers/model_doc/roberta#transformers.RobertaConfig) - which means, a hidden_size of 768, 12 hidden layers, etc. All weights of the model will be randomly initialized, as we're not instantiating it using t

[2022-01-07 16:15] patil-suraj commented on #15060
Gently pinging @michaelbenayoun @lewtun :)

[2022-01-07 16:46] stefan-it opened #15072 "[JAX/FLAX] CLM Tokenizer confusion"
Hi,

after looking at the current readme of the CLM tokenizer training example, there's something strange in the model configuration:

The `config.json` file looks like this:

[code]

Vocab size is 50257, and `eos_token_id` is set to 50256. I think that setting `eos_token_id` is wrong, because of the following example:

[code]

Id *50256* is originally set to `'Ġgeestigheid'`. I'm not 100% sure, b

[2022-01-07 18:39] gante commented on #14404
(@Rocketknight1 reassigning to me :) )

[2022-01-07 21:14] gante commented on #15059
@patrickvonplaten replacing `max` by `tf.math.maximum` then exposes an error on `_scatter_values_on_batch_indices` due to an unknown batch size in TF's graph mode. However, forcing eager execution at train time (i.e. compiling the model with `run_eagerly=True`) bypasses all these errors, but then the model hits a shape-related issue in a Conv layer -- see below.

Running a modified version of the

[2022-01-07 22:45] aqred1 commented on #9648
Hello! is this issue still open? Did you test that the batched example above gives the same value for GPT2 as the documentation?

[2022-01-07 22:51] aqred1 commented on #13761
hi @samzabdiel, did you ever find what was going on?

[2022-01-08 01:15] ohmeow commented on #15048
`prepare_for_model` is the only method that works like calling the tokenizer, but with input_ids as input (which is what several of my pre-processed datasets have). Is there another method call I could use that takes input_ids and includes the ability to add padding, truncation, etc...?

[2022-01-08 05:05] MannanRajib opened #15075 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2022-01-08 07:01] pratikchhapolika commented on #15066
**This introduces another error:**

[code]

[code]

[code]

**Here is the model structure:**

[code]

[2022-01-08 07:33] yuchenlin commented on #8005
Hi @yeonsookKwak I have the same issue. Would you please share the solution if any? Thanks!

[2022-01-08 08:45] MartinXPN commented on #12410
Thanks for the great work!
Will charformer be supported in the near future?

[2022-01-08 08:46] haijianghe commented on #2422
When I use "huggingface/CodeBERTa-small-v1", the method with
tokenizer = AutoTokenizer.from_pretrained("huggingface/CodeBERTa-small-v1")
model = TFAutoModelWithLMHead.from_pretrained("huggingface/CodeBERTa-small-v1")
then save them locally via:

tokenizer.save_pretrained('./local_model_directory/')
model.save_pretrained('./local_model_directory/')
And then simply load from the directory:
tokenizer

[2022-01-08 08:57] NielsRogge commented on #15066
Apologies, you also have to set the problem_type to "single_label_classification":

[code]

[2022-01-08 09:37] NielsRogge commented on #14929
Hi,

I'm working on adding the ViLT model, see #14895. It will be much easier to use compared to LXMERT and VisualBERT. It indeed doesn't require an external model like Faster R-CNN. Instead, it just turns an image into a sequence of patches, which are fed to the model (similar to ViT).

[2022-01-08 09:40] PrithivirajDamodaran commented on #14929
Awesome thanks ! @patil-suraj  was mentioning you are working on this. Closing this for now.

Looking forward to it !

[2022-01-08 09:40] #14929 closed

[2022-01-08 11:07] #15066 closed

[2022-01-08 13:36] howardlau1999 commented on #10454
@sid8491 add this piece of code at the beginning of your script
[code]

[2022-01-08 15:02] #14585 closed

[2022-01-08 15:02] #14575 closed

[2022-01-08 15:02] #14560 closed

[2022-01-08 15:02] #13732 closed

[2022-01-08 18:52] sid8491 commented on #15063
I am not so sure, but try to run your code without `logging_steps=1000,`, it might solve your problem.
You are training your model for 10 epochs but you are telling it to log it at every 1000th epoch.

[2022-01-08 18:54] sid8491 commented on #14972
You need to add your own logging handler.
Check this: https://github.com/huggingface/transformers/issues/10454

[2022-01-08 20:12] nbravulapalli commented on #15049
Hi!

Do have an update on this issue? Thank you for all the support.

@LysandreJik @patil-suraj

[2022-01-08 22:00] ncoop57 opened #15077 "train_new_from_iterator missing from GPT2Tokenizer"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: NA
- Using distributed or parallel

[2022-01-08 22:14] ncoop57 commented on #15077
Just found if I use `AutoTokenizer` rather than the `GPT2Tokenizer` class it works. Is this expected? If so the codeparrot example will need to change.

[2022-01-08 23:19] TSalmas opened #15078 "pegasus"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2022-01-09 06:47] jiacheng-ye commented on #15069
Thanks a lot :)

[2022-01-09 06:47] #15069 closed

[2022-01-09 11:59] sipie800 opened #15080 "explicitly load local file"
The from_pretrained() pipline is making me very confusing.
Sometime it requires a model_id, sometime it want a local path, and the path can't be similar to the id. Why must I know if the dir I put the download files would conflicts to any model id?what's the point here?
Why don't go for the simplest pipeline, just down files and specify the file path of weight, config.json and so on!
And if url is

[2022-01-09 13:16] cyk1337 opened #15081 "Script run_mlm_no_trainer.py error"
## Environment info
- `transformers` version: 4.14.0.dev0
- Platform: Linux-3.10.0_3-0-0-12-x86_64-with-centos-6.3-Final
- Python version: 3.7.11
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (cpu)
- Jax version: 0.2.26
- JaxLib version: 0.1.75
- Using GPU in script?:  Y
- Using distributed or parallel set-up in script?: Y

[2022-01-09 13:18] cyk1337 opened #15082 "Pytorch T5 pre-training script request"
# 🚀 Feature request

Any plan to release a pytorch pre-training script for T5 mlm? @patrickvonplaten

[2022-01-09 13:48] pratikchhapolika commented on #9374
Hi @nikhil6041 can you please share your notebook?

[2022-01-09 15:01] #14602 closed

[2022-01-09 15:01] #14587 closed

[2022-01-09 15:01] #14199 closed

[2022-01-09 15:01] #14187 closed

[2022-01-09 15:02] #13229 closed

[2022-01-10 08:53] SaulLu commented on #14305
@jcklie some news about your issue, we merged some corrections in the main branch of transformers ([this PR](https://github.com/huggingface/transformers/pull/14752)) and in the new version of tokenizers ([this PR](https://github.com/huggingface/tokenizers/pull/844)). So, using the the main branch of `transformers` and the last version of `tokenizers`, here are the outputs you will get on your exam

[2022-01-10 08:53] #14305 closed

[2022-01-10 09:24] Jourdelune commented on #15060
Hi, should I ping them? or did you.

[2022-01-10 09:29] lewtun commented on #15060
Hey @Jourdelune thanks for the feature request - I agree that M2M100 is a great model to support for ONNX :)

Just so you know, exporting the model will only be the first step. In order to generate the translations you'll have to implement your own `generate()` function with e.g. beam search. We have plans in our `optimum` [library](https://github.com/huggingface/optimum) to support this, but you

[2022-01-10 09:33] Jourdelune commented on #15060
Thank you for accepting the request features!
I can wait as long as it takes :D

(I have to close the issue?).

[2022-01-10 09:34] lewtun commented on #15060
Hey @Jourdelune no need to close the issue - we close them when the pull request is merged (and you'll see a link back to this issue when it's being reviewed) :)

[2022-01-10 09:36] Jourdelune commented on #15060
okay, thanks!

[2022-01-10 09:56] ypirkani opened #15086 "UserWarning: __floordiv__ is deprecated"
Dear All,

I am trying to Fine-tune the facebook/wav2vec2-base model for Urdu Language.

However when I run the trainer, I am getting the following warning:
[code]
Also Consequently my WER is 1.00 which means training is not being done correctly.
 Can anyone guide ? What changes to make and where?

Best regards,
Yasir

[2022-01-10 10:27] danielbellhv opened #15087 "optimum | ImportError: cannot import name 'is_valid_waiter_error'"
Based on [SO post](url).

Kernel: `conda_pytorch_p36`

---

Installations:
[code]
OR
[code]

Both provide same Traceback:
[code]

---

[code]

Traceback:
[code]

[code]

Traceback:
[code]

[code]

Traceback:
[code]

Please let me know if there's anything else I can add to post.

  [1]: https://huggingface.co/hardware

[2022-01-10 11:31] sgugger commented on #15006
cc @TevenLeScao since he implemented the feature.

[2022-01-10 11:48] gante commented on #15034
Hi @mathshangw! Thank you for sharing your issue with us.

I see three potential issues, given the information you gave us so far:
1. the return of your `get_bert_embed_matrix` function is the concatenation of 4 hidden states, and thus the dimension on your `Embedding` layer should be 768*4, not 768;
2. the `inputs2` variable in your initial script contains a pytorch tensor. I am not sure whether

[2022-01-10 11:49] sgugger commented on #14819
Mmm, I don't think we will "fixup the model architectures". The test for keeping a current architecture and adding support for Embedding norm as a config argument does not pass, so we will need new architectures with the proper embedding layers IMO, and only those will support training/fine-tuning with `--optim adam_bnb_8bit`

[2022-01-10 12:53] #14449 closed

[2022-01-10 14:11] sgugger commented on #14638
Good point, will try to see if there is a quick way to fix this!

[2022-01-10 14:20] LysandreJik commented on #15077
The `train_new_from_iterator` works with fast tokenizers only. `GPT2Tokenizer` is a slow tokenizer, with `GPT2TokenizerFast` being its fast counterpart.

[2022-01-10 14:22] TevenLeScao commented on #15006
Hey, sorry for the incorrect number - this function was originally written for language models, and might not transfer to vision models, for example. Do you need this number or is it just for checking?

[2022-01-10 14:22] LysandreJik commented on #15049
cc @Narsil

[2022-01-10 14:35] sgugger commented on #15047
It looks like the reported `"train_loss"` is averaged twice, so it's not accurate. Will fix this week.

[2022-01-10 14:41] sgugger commented on #15051
You are using a legacy script with a recent version of Transformers, this is not going to work. You should use a version of Transformers compatible with that script, or use one of our maintained examples.

[2022-01-10 14:42] sgugger commented on #15052
I am unsure why the model would need an additional layer. Can't it all be treated by a proper loss function?

[2022-01-10 14:42] erickrf opened #15089 "Trainer not keeping best model checkpoint with save_total_limit=1"
## Environment info

- `transformers` version: 4.13.0
- Platform: Linux-5.4.109+-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-up

[2022-01-10 14:43] sgugger commented on #14614
Yes, you have to implement your own function for preprocessing the data.

[2022-01-10 14:44] hasansalimkanmaz commented on #15052
Could you elaborate on it a bit? I am not sure I understand thoroughly

[2022-01-10 14:54] LysandreJik commented on #15081
cc @sgugger

[2022-01-10 15:02] #14611 closed

[2022-01-10 15:03] ydshieh commented on #14702
WIP PR here - https://github.com/huggingface/transformers/pull/15079

[2022-01-10 15:31] sgugger commented on #15089
I am unsure what behavior you are seeing, but `load_best_model_at_end=True` makes sure the best model checkpoint is always kept. That means the absolute best model checkpoint, so if at step 500, you get a model worse then at step 450, and the best model checkpoint was at step 350, the Trainer will delete the checkpoint at step 450 indeed, and only keep the checkpoint at step 350 for the best model

[2022-01-10 15:36] sgugger commented on #15081
Which command are you running exactly? The logs you produce use distributed training whereas the command you told us (which runs successfully on my side) launches the script with python.

[2022-01-10 16:01] LysandreJik commented on #15087
cc @mfuntowicz @michaelbenayoun @lewtun @echarlaix

[2022-01-10 16:31] erickrf commented on #15089
I see it now, it was actually my fault. I forgot to provide the `metric_for_best_model` and the trainer was only considering the loss. Sorry for the misunderstanding!

[2022-01-10 16:31] #15089 closed

[2022-01-10 16:38] elsanns commented on #11267
Hi @patrickvonplaten,

Thank you for a detailed answer.

I noticed this behaviour testing various decoding methods, and I don't recall seeing a significant advantage of `beam_sample` in any particular use case.

Since the new approach would be a breaking change, it seems a right solution to keep it the way it is for now.

Thanks again for your answer

[2022-01-10 16:39] sgugger commented on #15089
No problem!

[2022-01-10 17:35] sgugger commented on #15047
I was actually wrong, and the training loss is properly computed (see #15096 that adds a test which is passing). Are you sure you are using the most recent version of Transformers?

[2022-01-10 17:36] Yansera commented on #15062
Same issue here, my transformers version is 4.15.0., and the huggingface_hub version is 0.2.1. However, it does not work.

[2022-01-10 17:50] oborchers opened #15097 "GPT-J Tokenizer model_max_length=1024 despite n_positions=2048"
On  the hub the `tokenizer_config.json` states, that GPT-J has a `"model_max_length": 1024`, despite the fact that it can generate up to `2048` tokens, as per `"n_positions": 2048` according to the config.

Is this intended?

Tagging due to knowledge of the original issue:
@StellaAthena @EricHallahan @patrickvonplaten

[2022-01-10 18:52] gregg-ADP commented on #10958
Thanks for replying to this @lawliet19189 .  This is good insight.
I do agree with @UmerTariq1 that there should be an option to return a basic confidence score without jumping through hoops.  At the very least it would save us some time to document that it doesn't exist and a method (like this) that can be used.  That way you don't spend a lot of time searching the documentation for a parameter o

[2022-01-10 19:05] StellaAthena commented on #15097
This sounds like its a typo. If you change it to 2048, does the model run without issue?

[2022-01-10 20:06] rsm5909 commented on #15062
I was able to correct this by restarting the python kernel (working in Jupyter Lab) after logging in to the CLI

[2022-01-11 04:13] cyk1337 commented on #15081
I just rerun it on another machine but got the same issue.

The exact command is:
[code]

Where `./roberta-bas` directory contains:
[code]

The output was:

[code]

**Possible Solution**
The issue reported was due to the last dim mismatch between the target size (1024) and tensor size (514) of`token_type_ids`. I suspect this is caused by unspecified `--max_seq_length=512`.  With additional argumen

[2022-01-11 06:02] samzabdiel commented on #13761
Not completely, but I was able to closely match accuracies reported on CBT datasets using the appropriate preprocessing. The results seem to be tightly coupled with the preprocessing done.

[2022-01-11 06:37] oborchers commented on #15097
Yes, that’s why I raised the issue 👍🏻

[2022-01-11 08:16] #14638 closed

[2022-01-11 08:27] lvwerra commented on #15077
Thanks @ncoop57 for flagging and @LysandreJik  for pointing out the issue. That is a bug I introduced when switching from `AutoTokenizer` to `GPT2Tokenizer` - I'll fix this shortly.

[2022-01-11 08:56] Narsil commented on #15049
Hi @nbravulapalli ,

There indeed seemed to have been an issue with that model.
It should be back up again.

We are actively tracking those issues to reduce them to a minimum, but sometimes there is indeed a memory error depending on what other models are being used at the same time.

Sorry about the issue you were seeing.

[2022-01-11 09:11] patrickvonplaten commented on #12482
@abhishekkrthakur do you know where the randomness comes from?

[2022-01-11 09:25] LysandreJik commented on #14743
Hello! I ran your code sample on CPU and got the following results:
[code]
Do you also get the same when running on CPU?

[2022-01-11 09:28] LysandreJik commented on #14285
Indeed, it could be done by using the following variable:

https://github.com/huggingface/transformers/blob/68810aa26c083fd97d976cef7ac65fdd9cc9b520/src/transformers/tokenization_utils_base.py#L1462-L1464

You can see an example of it used here:

https://github.com/huggingface/transformers/blob/68810aa26c083fd97d976cef7ac65fdd9cc9b520/src/transformers/tokenization_utils_base.py#L1486-L1490

Feel f

[2022-01-11 10:12] echarlaix commented on #15087
Hi @danielbellhv,
I think you are making reference to our hardware [page](https://huggingface.co/hardware), which needs to updated, thanks for pointing that out.
The library previously named LPOT has been renamed to Intel Neural Compressor (INC), which resulted in a change in the name of our subpackage from lpot to neural_compressor.
The correct way to import would now be `from optimum.intel.neura

[2022-01-11 10:23] danielbellhv commented on #15087
Thanks for getting back, @echarlaix ! To clarify, instead of:
[code]

[code]

[2022-01-11 10:45] echarlaix commented on #15087
Yes exactly, also you can find more usage examples [here](https://github.com/huggingface/optimum/tree/main/examples/inc/pytorch).

[2022-01-11 11:24] #14622 closed

[2022-01-11 12:31] sgugger commented on #15081
I have no idea what the content of your roberta-base folder is, but your addition is probably correct. It works with the official checkpoint, where the model specifies a max length the script then uses, maybe it's the part missing in your local checkpoint.

[2022-01-11 12:34] patil-suraj commented on #15097
Hi, good catch! This is because GPT-J uses `GPT2Tokenizer`which has `model_max_length` set to 1024.  Here we could directly update`tokenizer_config.json` file on the hub.

@StellaAthena would it be okay if I update the file in the `tokenizer_config` repo with this change?

[2022-01-11 12:39] f3n1Xx commented on #9871
Prot_albert tokenizer is returning none type, what changed?

[2022-01-11 12:40] patil-suraj commented on #15082
Hi! For T5 MLM training the most important thing is the Data collator used for T5 span-masked language modeling, which is available here, https://github.com/huggingface/transformers/blob/master/examples/flax/language-modeling/run_t5_mlm_flax.py#L279

It's written with numpy so should be easy to port it to PyTorch. Then the rest of the script would be pretty similar to the translation or summarizat

[2022-01-11 12:48] #15087 closed

[2022-01-11 12:55] stefan-falk commented on #14523
@patrickvonplaten Hi! Are there any news on the encoder-decoder example? :)

[2022-01-11 12:59] deniskamazur commented on #14839
Hi, everyone! Thank you for your suggestions. I'm currently busy with my uni exams, but I'll be back with a PR in a couple of weeks.

[2022-01-11 13:04] nreimers commented on #14285
Thanks for the pointer @LysandreJik

Will create a PR on this

[2022-01-11 13:06] cyk1337 commented on #15081
Yeah you are correct. The checkpoint that the official script downloaded works. There might be something mismatched in my cached roberta-base folder (just manually downloaded from AWS, probability not newest ones). Thank you for pointing out this.

[2022-01-11 13:06] #15081 closed

[2022-01-11 13:07] NielsRogge commented on #15078
Hi,

This issue does not include any info, therefore closing. Feel free to re-open.

[2022-01-11 13:07] #15078 closed

[2022-01-11 13:08] cyk1337 commented on #15082
Sure I am glad to add it. Thank you for the clarification ;)

[2022-01-11 13:39] StellaAthena commented on #15097
@patil-suraj I got it :)

[2022-01-11 13:41] patil-suraj commented on #15097
Thanks a lot!

[2022-01-11 13:45] #15097 closed

[2022-01-11 15:06] #14596 closed

[2022-01-11 15:06] #14550 closed

[2022-01-11 15:06] #14374 closed

[2022-01-11 15:07] #14135 closed

[2022-01-11 15:07] #14100 closed

[2022-01-11 15:07] #13853 closed

[2022-01-11 15:21] NielsRogge commented on #15086
The same warning is shown for LayoutLMv2, see #14577

[2022-01-11 15:40] aqred1 commented on #15047
I trained this model using transformers==4.14.1. Was it fixed after that?  If so, would I need to train again?
Training takes several weeks so updating to every new version is not possible in my case.

[2022-01-11 16:40] nguyenvulebinh opened #15107 "Weird evaluation result when using distributed training"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-4.15.0-20-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:
- Using distributed or p

[2022-01-11 16:41] Linyxus opened #15108 "Support custom StoppingCriteria in model.generate"
# 🚀 Feature request

It could be helpful to support custom StoppingCriteria in `model.generate`.

Currently, `model.generate` implemented in generation_utils.py ([permlink](https://github.com/huggingface/transformers/blob/68d925195ede14826dd0e83258b64c2222133988/src/transformers/generation_utils.py#L747)) does not support supplying a custom StoppingCriteria in function arguments.

We could add a `

[2022-01-11 17:24] patrickvonplaten commented on #15107
Hey @nguyenvulebinh,

Could you please share the bash command that you used to start your training? Also how many gpus do you use? 2?

[2022-01-11 17:25] GokulNC opened #15109 "Why is Marian to Torch converter hardcoded for tied vocab ?"
I see the following condition:
https://github.com/huggingface/transformers/blob/16f0b7d72c6d4e122957392c342b074aa2c5c519/src/transformers/models/marian/convert_marian_to_pytorch.py#L462

While training my Marian model, I do not want to tie my source and target embeddings.
How do I convert such a model?

I see that in `MarianConfig` itself, this is not supported:
https://github.com/huggingface/tran

[2022-01-11 17:25] patrickvonplaten commented on #15107
BTW, we'll announce an event tomorrow where we'll teach you how to train Wav2Vec2 - see: https://github.com/huggingface/transformers/tree/master/examples/research_projects/xls_r. Watch out for the sign-up form if you would like to train wav2vec2 models with us :-)

[2022-01-11 17:37] f3n1Xx commented on #1413
why hidden_size? Is that specific to just Bert model? For Albert it should be different right?

[2022-01-11 18:13] SamuelzXu commented on #13554
@NielsRogge I'll take a look at this.

[2022-01-11 18:46] nguyenvulebinh commented on #15107
Here is the command I used to train the model on 2 GPUs. The arguments of the python script I put into the python file.

[code]
[code]

[2022-01-11 19:56] soumya-ranjan-sahoo opened #15112 "How to efficiently tokenize unknown tokens in GPT2"
I am trying to train a dialog system using GPT2. For tokenization, I am using the following configuration for adding the special tokens.
[code]
Next, when I am trying to tokenize a sequence(dialog's utterance) and later convert into ids, some of the special tokens in my sequence are getting mapped as unknown tokens, since the ids of these special tokens becomes the same as bos and eos as they all

[2022-01-11 20:41] MarkusSagen commented on #14782
Hi again @Rocketknight1! I started working on this issue today and seems very promising so far, at least for BERT tokenizers. I'll keep you updated on the progress and add a notebook when everything works well for the BERT tokenizer and have been tested
https://github.com/Hugging-Face-Supporter/TFTokenizers

[2022-01-11 20:41] #14782 closed

[2022-01-11 21:11] lucasagrizzi opened #15114 "Trying to train the TFWav2Vec2ForCTC model"
## Environment info

- `transformers` version: 4.15.0
- Platform: Colab

### Who can help: @patrickvonplaten @anton-l

## Information

Model I am using Wav2Vec2 on TensorFlow:

We are trying to use the TFWav2Vec2ForCTC. We can make the prediction but can not train the model. For this we create a random dataset just to text the fitting and give an error.

This is the following code:

[code]

The er

[2022-01-11 23:07] mathshangw commented on #15034
Thanks a lot for replying .. so excuse me does this function write for return word-embedding using BERT ?

[2022-01-12 04:42] minhdeal commented on #15006
Hello, I was trying to benchmark my A100 server, so having this FLOS number would be helpful for me to calculate the % of peak GPU FLOPS attained by ViT models.

[2022-01-12 05:24] GokulNC commented on #15109
I understand that this was created only to add support for [baseline models released from Tatoeba Challenge](https://github.com/Helsinki-NLP/Tatoeba-Challenge/tree/master/models).
But it would be great if we can generalize it.

[2022-01-12 06:49] cyk1337 commented on #15082
Hi @patil-suraj ,  the summarization example [run_summarization_no_trainer.py](https://github.com/huggingface/transformers/blob/master/examples/pytorch/summarization/run_summarization_no_trainer.py) throws an error when loading datasets.

The running script is
[code]

The error output was:
[code]

Any solution to it?

[2022-01-12 07:13] tkngoutham opened #15115 "OOM error on Pretraining Albert with batch size 8"
## Environment info

- `transformers` version: 4.15.0
- Platform: Ubuntu 18.1
- Python version:  3.7
- PyTorch version (GPU?):  1.6+cuda 10.1
- Tensorflow version (GPU?): None
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

### Who can help

Models:

- ALBERT  @LysandreJik

Library:

The problem arises when using:

The tasks I am working on is:
Masked Language M

[2022-01-12 07:15] songyouwei commented on #14542
So are there any solutions?

[2022-01-12 07:18] yana-xuyan commented on #14542
At the end, I rewrite the Trainer saving function to skip saving the optimizer weights. Please let me know if there's any better solution! Thx!

[2022-01-12 08:05] Sutapa-Dutta opened #15117 "Reason for returning dequantized (fp.32) value at every layer of I-BERT."
In I-Bert(/src/transformers/models/ibert/quant_modules.py#L114)

Kindly let me know the reason to return the dequantized(fp.32) value (quantized_input*scaling_factor) at every quantized-layer as seen below:-
`classQuantAct(nn.Module):
.
.
return quant_act_int * correct_output_scale, self.act_scaling_factor
`class QuantLinear(nn.Module):
.
.
return (nn.functional.linear(x_int, weight=self.weight_in

[2022-01-12 08:42] Biaocsu opened #15118 "ImportError: cannot import name 'CpmTokenizer' from 'transformers'"
[code]

[code]
[code]
[code]

[2022-01-12 10:35] patil-suraj commented on #15082
This seems to be some issue with the cache directory. Could you try inspecting the content of that directory to see if the dataset is downloaded correctly?

[2022-01-12 10:35] gante commented on #15034
Yes, the concatenation of the last 4 hidden states, returned by your `get_bert_embed_matrix` function, is one of the most well-known methods ([table 7 in the original BERT paper](https://arxiv.org/pdf/1810.04805.pdf)) to obtain word-level embeddings for BERT :)

[2022-01-12 10:35] patil-suraj commented on #15082
Also, if the error persists feel free to create a new issue.

[2022-01-12 10:38] JulesBelveze commented on #14422
Hey guys any update on this one?

[2022-01-12 10:38] patil-suraj commented on #15118
Probably `sentencepiece` is not installed. `CpmTokenizer` depends on `sentencepiece`, so make sure you have `sentencepiece` installed.
`pip install sentencepiece`

[2022-01-12 10:54] patil-suraj commented on #15112
Hi, @soumya-ranjan-sahoo This is a more general question, so would be awesome if you could ask this on the [forum ](https://discuss.huggingface.co/). We use issues for bug reports or feature requests. Thanks!

[2022-01-12 10:58] patil-suraj commented on #15108
Hi @Linyxus , passing custom criteria is now supported, see #14779

[2022-01-12 11:29] Linyxus commented on #15108
Thank you! :D

[2022-01-12 11:29] #15108 closed

[2022-01-12 13:06] Nikoschenk commented on #14360
Hi @patil-suraj . Is there an update on this? Thanks!

[2022-01-12 13:09] patil-suraj commented on #14360
Hey @Nikoschenk, messed up my schedule again! Sorry about the delay. I will take a look at it this week for sure

[2022-01-12 13:34] farzanehnakhaee70 opened #15123 "Error while converting distilbart-mnli-12-1 model to ONNX"
After converting `distilbart-mnli-12-1` to ONNX, while testing the onnx model, I get this issue:
[code]

After lots of investigation I understand that the problem is existed with `shift_tokens_right` function in `modeling_bart.py` code.

I edit the function to this:

[code]
Problem totally solved. The issue is existed with ONNX converter where do not perform correctly while there is broadcasting.

[2022-01-12 13:48] mathshangw commented on #15034
thanks a lot but how can i use the function as an input to a downstream model , please

[2022-01-12 14:03] Rocketknight1 commented on #15059
@gante I don't have any immediate intuition about what the problem is here, sorry! If you get stuck or don't have time to keep working on it though, feel free to ping me and I'll dig in deeper.

[2022-01-12 14:11] patil-suraj commented on #15123
cc @lewtun @michaelbenayoun

[2022-01-12 14:12] #15077 closed

[2022-01-12 14:23] LysandreJik commented on #15115
Have you read the following guide on performance? https://huggingface.co/docs/transformers/master/performance

cc @sgugger @stas00

[2022-01-12 14:29] #14357 closed

[2022-01-12 14:55] LysandreJik commented on #15109
cc @patil-suraj

[2022-01-12 15:02] #14592 closed

[2022-01-12 15:24] gante commented on #15034
You can do as follows (there are actually many ways to do it):
1. Ensure you get the output of `get_bert_embed_matrix` as a tf.Tensor ([docs](https://www.tensorflow.org/api_docs/python/tf/Tensor))
2. Define your model using the sequential API ([docs](https://www.tensorflow.org/api_docs/python/tf/keras/Sequential))
3. Ensure the first later is a `Flatten` keras layer, so it handles the input shapes

[2022-01-12 15:35] farzanehnakhaee70 commented on #15123
Welcome!
I see your major changes in your configuration which largely improves usability for other tasks. But this error will not be solved without changing the code as I mentioned.

The major issue is that although we add `dynamix_axis` in conversion script, but due to the error of broadcasting, the output of this function became fixed with regard to the batch_size of the dummy input. Therefore,

[2022-01-12 16:17] lewtun commented on #15123
Thank you for the extra context about the batch size :)

However, I am not able to reproduce the problem you reported. For example, suppose we export the model using the command I used in my previous comment:

[code]

We can then load this model into an ONNX Runtime `InferenceSession` as follows:

[code]

This runs without error using the source install of `transformers`. For comparison, we can fi

[2022-01-12 17:18] mathshangw commented on #15034
for the first step, I already have a tensor shape like
[code]
for the second step, I have the model like
[code]
This is the problem with me cause I got this error
`ValueError: Layer weight shape (30522, 3072) not compatible with provided weight shape torch.Size([1, 10, 3072])`

[2022-01-12 17:43] perlitz commented on #10770
Hi @NielsRogge,
Thanks for the TAPAS implementation!

I'm trying to follow this use-case in order train the model to perform conditional generation from tables.
Since TAPAS can encode the semi-structured meaning in tables, I guessed it was a good choice to use it as an encoder and say GPT2 as decoder.

I however encountered a problem when trying to generate from that EncoderDecoder model:
Here is

[2022-01-12 17:44] stas00 commented on #15115
since you have multiple GPUs most likely you want to use a proper scalability solution like [Deepspeed](https://huggingface.co/docs/transformers/master/main_classes/deepspeed#deepspeed-trainer-integration) and your OOM will be no more.

Hope this helps to overcome your difficulty

In general most OOM questions ideally belong to https://discuss.huggingface.co/ where you can ask your fellow users to

[2022-01-12 17:50] perlitz opened #15126 "Text generation with TAPAS as encoder"
Hi @NielsRogge,
Thanks for the TAPAS implementation!

I'm trying to to train the model to perform text generation conditioned on tables.
Since TAPAS can encode the semi-structured meaning in tables, I guessed it was a good choice to use it as an encoder and say GPT2 as a decoder.

I however encountered a problem when trying to generate from that EncoderDecoder model, this:
![image](https://user-im

[2022-01-12 17:51] patrickvonplaten opened #15127 "[Community Event] Robust Speech Challenge"
Hey everybody,

We have organized a new speech recognition community event and would love to have you there!

During the event we want to teach you how to build robust speech recognition systems in your favorite language 🌍🌎🌏.
The event will focus on [XLS-R](https://huggingface.co/facebook/wav2vec2-xls-r-1b), [N-gram boosted Decoding](https://huggingface.co/blog/wav2vec2-with-ngram), and [Common Vo

[2022-01-12 19:02] SaulLu commented on #15032
@snoop2head , I will answer your question purely "technically" because in general it can be quite complicated to remove tokens from a tokenizer that has been trained with a certain algorithm.

Indeed, it can seems a bit complicated to modify a tokenizer fast because they wrap the [tokenizers](https://huggingface.co/docs/tokenizers/python/latest/index.html) library which is not executed in python b

[2022-01-12 19:32] Martin36 commented on #9919
I get the same error when running training on `DebertaForSequenceClassification` using the Trainer API with `gradient_checkpointing` set to True.

@MoritzLaurer 's solution works for this also

[2022-01-12 21:38] Yansera commented on #15062
Error fixed, thanks! :)

[2022-01-12 21:54] rsmith49 commented on #15062
This happened for me from a fresh install of

    conda install transformers

on an Ubuntu Deep Learning AMI. Is there a `huggingface_hub` dependency that should be updated?

[2022-01-12 21:54] R4ZZ3 opened #15128 "Example script to edit kenlm arpa file does not work correctly in kaggle notebook"
## Environment info

Kaggle Python environment with GPU acceleration
- `transformers` version: 4.12.5
- Platform: Linux-5.10.68+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- PyTorch version (GPU?): 1.9.1 (True)
- Tensorflow version (GPU?): 2.6.2 (True)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (gpu)
- Jax version: 0.2.25
- JaxLib version: 0.1.70
- Using GPU in script?: No
- Using distri

[2022-01-13 04:29] cyk1337 opened #15130 "run_summarization.py download datasets error"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Y
- Using distributed or parallel s

[2022-01-13 05:20] cyk1337 commented on #15082
The downloaded dataset file was not a directory but a web page file. Please refer to [#15130](https://github.com/huggingface/transformers/issues/15130) for the details.

[2022-01-13 06:30] farzanehnakhaee70 commented on #15123
Thanks a lot for your complete consideration.
I convert one model for `sentence classification` task and it doesn't have any `decoder_input_ids` and `decoder_attention_mask` as input. The only inputs are `input_ids` and `attentio_mask` which is shown by netron.
If these inputs are availabe for the model, then we do not have any problem because the `shift_tokens_right` function will no be used any

[2022-01-13 10:36] ToluClassics commented on #14199
@patrickvonplaten When i log `jax.local_device_count()` and `jax.device_count()` when running the run_t5_mlm_flax.py script it returns 1 even though i'm training with multiple GPUs on a single host. Any ideas how I can fix?

[2022-01-13 12:34] lucasleesw commented on #13690
Hi there, we are developing an auto 3D parallelism distributed software for transformers models.

We plan to integrate this software into `transfomers.trainer` class  and make it use as easily as the original trainer.

We use `torch.fx` and `transformers.utils.fx` for graph extraction, automatically partition the extracted graph and  use pipeline runtime engine from Deepspeed for pipeline parallel

[2022-01-13 12:35] KMFODA opened #15135 "Error when running a wandb sweeps on run_summarization.py"
## Environment info
- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.11.0-37-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.8.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or

[2022-01-13 14:01] patil-suraj commented on #14360
The `run_summarization.py` now supports `mBART` thanks to @banda-larga !
Fixed by #15125

[2022-01-13 14:01] #14360 closed

[2022-01-13 14:07] sgugger commented on #15135
The stack trace only shows errors coming from WandB, not the example, so I'm not sure what you want us to fix.

[2022-01-13 14:18] lewtun commented on #15123
Ah, now I am able to reproduce the problem - the missing step was to specify explicitly that we should use the `sequence-classification` feature 😄

For example, the following fails:

[code]

And great detective work in figuring out that `shift_tokens_right()` was the source of the problem! I think your proposal makes sense and I was able to verify that including your change fixes the problem with

[2022-01-13 14:42] danielbellhv opened #15136 "AutoTokenizer | ValueError: Couldn't instantiate the backend tokenizer from one of:"
Wasn't sure if this was for `Transformers` or `Tokenizers` libraries.

Based on [SO post](https://stackoverflow.com/q/70698407/17840900).

Goal: Amend this [Notebook][1] to work with **albert-base-v2** model.

Error occurs in **Section 1.3**.

Kernel: `conda_pytorch_p36`. I did Restart & Run All, and refreshed file view in working directory.

---

There are 3 listed ways this error can be caused.

[2022-01-13 14:51] KMFODA commented on #15135
Hi @sgugger, you're right it doesn't. The reason I raised it with HF rather than WandB is that I can run a sweep on a function with a trainer in it just fine but whenever I try and run a sweep on the main function of run_summarizer.py I get this error.

[2022-01-13 15:07] #14633 closed

[2022-01-13 15:07] #14631 closed

[2022-01-13 15:07] #14630 closed

[2022-01-13 15:10] SaulLu opened #15137 "Add test suite for flaubert tokenizer"
This is tragic, the flaubert tokenizer has no tests. :crying_cat_face:

Details to accompany this issue are coming soon, including a template to add these missing tests. This will probably be a good first issue.

[2022-01-13 15:20] SaulLu opened #15138 "[TBD] discrepancy regarding the `tokenize` method behavior - should the unknown token be included or not"
It seems that not all tokenizers have the same behavior regarding the `tokenize` method, in particular some tokenizers will show the token unknow if the token does not belong to the vocabulary and other tokenizers will show the snippet corresponding to this token unknow in the initial text.

I've created a [google colab](https://colab.research.google.com/drive/1lptT0LXsO1B9QCrOL439SHxdeFJMFe8V?usp

[2022-01-13 15:28] tdomagal opened #15139 "Error when running TFT5ForConditionalGeneration with tensorflow-cpu==2.8.0-rc0"
### Environment info
- `transformers` version: 4.15.0
- Platform: Linux-5.4.0-88-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.8.0-rc0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel

[2022-01-13 15:40] danielbellhv opened #15140 "AutoTokenizer | TypeError: an integer is required (got type NoneType)"
Wasn't sure if this was for `Transformers` or `Tokenizers` libraries.

Based on [SO post](https://stackoverflow.com/q/70699247/17840900).

Goal: Amend this [Notebook][1] to work with **distilbert-base-uncased** model

Error occurs in **Section 1.3**.

Kernel: `conda_pytorch_p36`. I did Restart & Run All, and refreshed file view in working directory.

---

Section 1.3:
[code]

Traceback:
[code]

Pl

[2022-01-13 15:54] patrickvonplaten commented on #15128
I see thanks a lot for reporting the problem here! Indeed, the regex I use in the blog is not general enough. I'll change it! Thanks a lot for reporting it here and seems like you solved your problem already :-)

[2022-01-13 15:58] patrickvonplaten commented on #15128
Should be fixed here: https://github.com/huggingface/blog/pull/206

[2022-01-13 16:14] #14539 closed

[2022-01-13 16:52] morganmcg1 commented on #15135
@KMFODA I'm from W&B, let me check if this way of calling Sweeps is supported, possibly not.

Have you tried just calling sweeps from the `wandb` command line?
- use the unmodified run_summarization.py script
- Put the location of the script and the sweep config in a yaml file
- set up the sweep config via the wandb cli
- Kick off the training via the wandb cli

The [sweeps quickstart here](https:

[2022-01-13 17:36] KMFODA commented on #15135
Thanks for the prompt response @morganmcg1 . Will try that. Is there anyway to feed the python script static arguments during the sweep as it takes in 10 / 15 arguments that don't need to be altered during the sweep.

[2022-01-13 19:21] siddk commented on #13690
Hey @lucasleesw - this sounds awesome! A team of us here at HuggingFace (@stas00 @thomasw21) have been slowly starting to understand the best path forward to 3D Parallelism (right now, we're looking at the Oslo framework linked above).

Do you have code you can point us to for your implementation, and after we've had time to go through it, maybe we can set up a Slack channel/have a call to talk ab

[2022-01-13 19:38] HenryDashwood opened #15145 "Is it possible to use onnx for summarisation with BART yet?"
Hi there, I've been trying out the latest iteration of ONNX support for BART because it looks like it now supports past key values which I think means I could generate summaries from an ONNX version of my BART models.

I seem to be able to get the model converting nicely as you can see here
[code]
[code]

But it all falls apart when I run anything
[code]
[code]

Am I missing something, or is this

[2022-01-14 03:37] lucasleesw commented on #13690
Hi @siddk,we are busily polishing our code and completing functions.
The code will be available within a mouth.

[2022-01-14 08:46] zhangbo2008 opened #15153 "It is better to add a function to train additon tokens for the pre_trained tokenizer. esp. for the language like Chinese."
https://github.com/huggingface/transformers/blob/96881729ce83cfc8e5fa04c903ee4296ad17cfbb/src/transformers/models/bert/tokenization_bert.py#L117

Lately,  I use bert to train a NER model for Chinese.
I found many Chinese Charaters in my data can not be tokenize by the bert model. Literally, it is tokened to [PAD], and can not give a definitely word embedding vector.
So it is better to add a functi

[2022-01-14 08:48] LysandreJik commented on #15138
Hi @SaulLu, thank you for opening an issue! IMO the `tokenize` methods should behave somewhat consistently across tokenizers - but from what I understood this may be impossible given the different tokenization methods.

My opinion on the matter is:
- We should try to have all `tokenize` methods conform
- If some cannot, then clearly document them
- If we do some changes, these will have to remain

[2022-01-14 08:59] monsieurpooh commented on #11002
I think this was resolved when I installed pytorch

[2022-01-14 09:07] echarlaix commented on #15087
You can find more information concerning IncQuantizer [here](https://github.com/huggingface/optimum/blob/main/optimum/intel/neural_compressor/quantization.py#L56). And some example usages [here](https://github.com/huggingface/optimum/blob/main/examples/inc/pytorch/text-classification/run_glue.py#L634) for text classification tasks.
The code snippet of the hardware page should be updated soon to:
[

[2022-01-14 09:15] LysandreJik commented on #15140
Hey @danielbellhv, you're switching from BERT, which has the concept of token type IDs, to DistilBERT, which doesn't. In most cases that isn't important as our API should be able to handle that behind the scenes.

In this notebook however, there's a very explicit conversion of all token IDs here:
[code]
This prevents the switch from models which do leverage token type IDs to others which do not. I

[2022-01-14 09:17] LysandreJik commented on #14394
Maybe of interest to @lhoestq too

[2022-01-14 09:21] LysandreJik commented on #15136
Do you have `sentencepiece` installed? If you do, have you restarted the notebook kernel after installing it?

[2022-01-14 09:29] zhangbo2008 commented on #15153
it use the source code for generating bert tokenizer , i  am finding the src.

[2022-01-14 09:36] LysandreJik commented on #15114
Interesting! cc @anton-l and TF squad {@Rocketknight1, @gante}

[2022-01-14 09:46] LysandreJik commented on #15153
Have you tried with the `bert-base-chinese` checkpoint?

Also cc @SaulLu :)

[2022-01-14 09:50] danielbellhv commented on #15136
Thanks for getting back, @LysandreJik

I ran `pip install sentincepiece`. Progress has been made, that error is not there anymore.

However, in the same cell, I get:
[code]

[2022-01-14 10:08] danielbellhv commented on #15140
Thank you, @LysandreJik.

I'll try implementing suggested changes in a new copy of the Notebook.

[2022-01-14 10:17] #15140 closed

[2022-01-14 10:36] SaulLu commented on #14489
Thanks a lot for your fix @vmaryasin that you proposed in [this PR](https://github.com/huggingface/transformers/pull/14991). I think this closes the issue!

[2022-01-14 10:36] #14489 closed

[2022-01-14 10:58] zhangbo2008 commented on #15153
Sure , i have tryed some examle is  锶 is not in bert_vocab() .

i have use a dummy solution
[code]

[2022-01-14 11:02] LysandreJik commented on #15140
There's about 4-5 lines which should need to be removed AFAICT from the notebook, searching for `token_type_ids` should show all of them

[2022-01-14 11:29] morganmcg1 commented on #14976
@pratikchhapolika can you share a minimum example or a colab? Does it run ok with W&B disabled?

[code]

Also make sure you are on the latest version of W&B,

[code]

[2022-01-14 11:44] patrickvonplaten commented on #10004
Hey @OthmaneJ,

Think @ccoreilly managed to get it to work here: https://github.com/ccoreilly/wav2vec2-service/blob/master/convert_torch_to_onnx.py

[2022-01-14 11:44] patrickvonplaten commented on #12456
Think someone solved it here: https://github.com/huggingface/transformers/issues/10004

[2022-01-14 11:55] OthmaneJ commented on #10004
@patrickvonplaten thanks! 👌

[2022-01-14 12:11] gante commented on #15114
Taking a look

[2022-01-14 12:12] SaulLu opened #15156 "the `tokenize_chinese_chars` argument is not always taken into account with the fast version of the bert tokenizer"
## Environment info

- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.11.0-46-generic-x86_64-with-glibc2.17
- Python version: 3.8.12
- PyTorch version (GPU?): 1.10.1+cu102 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (cpu)
- Jax version: 0.2.26
- JaxLib version: 0.1.75
- Using GPU in script?: no
- Using distributed or parallel set-up in script?

[2022-01-14 12:16] hamishdickson commented on #12482
I have recently run into this issue. One of the things I've noticed is if you drop the max length down to 512 I start to get reproducible behaviour - not sure if that helps at all

[2022-01-14 12:20] danielbellhv commented on #5040
Did you ever solve this for Albert models? @mittalsuraj18

[2022-01-14 12:36] danielbellhv commented on #15136
I've read up documentation, such as AlbertTokenizer, to understand parameters.

Code:
[code]

Traceback:
[code]

[2022-01-14 12:53] gante commented on #15114
After some exploration, here are some findings:

@lucasagrizzi, thank you for the provided script, it was very helpful to debug 🙏  There were a few minor issues in the original script -- the generated random labels were not batched and with `CTCLoss` the maximum label has to be `VOCAB_SIZE-2` (see [this](https://github.com/MaybeShewill-CV/CRNN_Tensorflow/issues/69#issuecomment-383992527) answer).

[2022-01-14 13:24] SaulLu commented on #15153
@zhangbo2008 , your technique to add tokens to a tokenizer already trained because you want to fine-tune a model using this tokenizer seems very good to me.

However, I'm not sure I understand your request / demand / question in this issue. :relaxed:

[2022-01-14 13:33] zhangbo2008 commented on #15153
yes, you get the point .
but I think my method is dummy. there is a better way to solve the problem, because in some language  the token after trained  is not one character ,like English . so it's a better way to get the bigger vocab by fix the bpe algorithm i think.
but i haven't find some bpe algorithm code .

[2022-01-14 13:39] SaulLu commented on #14995
Hello @catqaq,

Regarding the fact that `tokenizer.tokenize("happy↖")` outputs `['[UNK]']`, this behavior is specific to the **WordPiece** Tokenization algorithm, which is the algorithm used by `BertTokenizer`. If you want to find out more, I refer you to our course dealing exactly with these concepts ([chapter on wordpiece](https://huggingface.co/course/chapter6/7?fw=pt)).

Regarding the fact tha

[2022-01-14 13:42] Rocketknight1 commented on #15139
Can you confirm if this issue still occurs when using TF 2.6 or 2.7?

[2022-01-14 14:12] danielbellhv commented on #15136
[Solution](https://github.com/huggingface/tokenizers/issues/878)

[2022-01-14 14:12] #15136 closed

[2022-01-14 14:18] SaulLu commented on #15153
Thank you, I understand your request a little better!

As you may have seen, `transformers` does not directly implement the algorithms that allow to train a tokenizer (and thus get the vocabulary, merge rules, etc). A method like `train_new_from_iterator`, actually uses a feature of the [`tokenizers` library ](https://huggingface.co/docs/tokenizers/python/latest/) (which has the advantage to be mu

[2022-01-14 14:44] tdomagal commented on #15139
In case of 2.7.0 issue does not reproduce.

The following steps allow for easy reproduce using transformers/examples/tensorflow/question-answering:

`python -m virtualenv -p python3 venv
source venv/bin/activate
pip install tensorflow==2.8.0-rc0

git clone https://github.com/huggingface/transformers
cd transformers
pip install .

cd examples/tensorflow/question-answering
pip install -r requirement

[2022-01-14 15:02] #14647 closed

[2022-01-14 15:03] #14521 closed

[2022-01-14 15:06] #14767 closed

[2022-01-14 15:16] Rocketknight1 commented on #15139
Hmm, okay, this seems like a compatibility issue with TF 2.8 that we'll have to resolve soon. I'd guess it's likely caused by us overriding `train_step` in our code, but TF 2.8 changing the default `train_step` to handle the new `Model.compute_losses` and `Model.compute_metrics`.

Will discuss with the team and see if we can figure out a solution before the final 2.8 release. Thank you for the bug

[2022-01-14 15:19] #14346 closed

[2022-01-14 15:20] gante commented on #14404
@RobertSamoilescu fixed with #15074

[2022-01-14 15:21] #14404 closed

[2022-01-14 15:54] borisdayma opened #15161 "Add in `model.generate` support to encoder outputs for flax models"
# 🚀 Feature request

Add support to encoder outputs in `model.generate` for flax models (similar to Pytorch models).

## Motivation

With JAX, we need to pass a seed for each generation iteration. So when we want different samples, we may need to run the same function multiple times.

For Encoder/Decoder models such as Bart, we could calculate the encoder outputs once and then directly pass them t

[2022-01-14 16:17] KMFODA commented on #15135
Amazing thanks @morganmcg1 calling sweeps from the `wandb` command line fixes this!

[2022-01-14 16:17] #15135 closed

[2022-01-14 17:19] Rocketknight1 commented on #13959
Hi, I'm sorry for how long it took me to get to this. Once I actually had time to sit down and look at it, the bug is straightforward - it's not within the model at all, but within the data preparation. The TF dataset you're creating does not batch inputs, and therefore the first batch dimension is missing, which is what causes the downstream shape errors. There are secondary issues with the loss

[2022-01-14 17:19] #13959 closed

[2022-01-14 19:33] eqy commented on #15026
@stas00 Another interesting issue that I found regarding batch size is that it is an important parameter when the model is mostly in fp32 and relies on autocast to dispatch to fp16 or bf16. I believe this is because of the overhead of casting back-and-forth can dominate the total runtime compared to the actual kernel/operator.

Consider the following microbenchmark:

[code]
I get the following tim

[2022-01-14 19:37] dhawalkp commented on #14851
@philschmid - Its not present in the current version of HF DLC yet. It's in the roadmap.

[2022-01-14 20:26] stas00 commented on #15026
Thank you, @eqy. Before trying to understand the results, isn't your benchmark missing casting the results back for non-amp case? Added it.

Also added a nicely formatted output so it's much easier to make sense of.

Please have a look at the modified version:

[bench.txt](https://github.com/huggingface/transformers/files/7873005/bench.txt)

[2022-01-14 20:33] eqy commented on #15026
I believe there are "speed-of-light" cases where the cast-back wouldn't be necessary, though this may not be possible for the architectures we're interested in. Here, I think the big picture is that once the batch-size falls below a certain amount, the "building-block" operations like GEMMs will be slower in reduced precision vs. fp32 when casts are needed.

[2022-01-14 20:39] stas00 commented on #15026
why do you think bs=32 is an oddball relative to other bs for speedup? in both cases w/ and w/o amp its relatively faster for bf16 and fp16 then bs=64, and much more significantly for fp16. One would expect 8 < 16 < 32 < 64, but here it is 8 < 16 < 64< 32,

[2022-01-14 20:51] eqy commented on #15026
That's interesting, I didn't see quite so dramatic results on an A100 (80GB), 2 runs:

[code]

[2022-01-14 21:53] jaketae opened #15166 "Add FastSpeech2"
# 🌟 New model addition

## Model description

FastSpeech2 is a TTS model that outputs mel-spectrograms given some input text. From the [paper](https://arxiv.org/abs/2006.04558) abstract:

## Open source status

* [x] the model implementation is available
* [x] the model weights are available: (give details)
* [x] who are the authors: @RayeRen

The authors have not open-sourced their code implement

[2022-01-14 22:56] jaketae commented on #14889
Hello @stas00, have you started working on this? If not, I was wondering if I could attempt a PR!

[2022-01-14 23:05] stas00 commented on #14889
yes, please, @jaketae - thank you!

[2022-01-15 00:48] dmurillo976s commented on #15114
Hi everyone
I've been having similar issues trying to fine tune the TFWav2Vec2ForCTC. I'm also working on Colab, on Transformers version 4.15.0
I'm currently able to run the modified test script supplied by @gante without problems. However, I need to use the model's internal loss computation, in order to correctly handle padded inputs and labels in the CTC calculation. Further modifying the previo

[2022-01-15 01:04] jaketae commented on #9965
@stas00 Do you think this should be revisited given the [discussion](https://github.com/pytorch/pytorch/issues/71274) in upstream PyTorch?

[2022-01-15 01:25] jaketae commented on #15145
I haven't run the script, but reading off of your code, is there a reason why you put `None` in `onnx_outputs = ort_session.run(None, dict(inputs))`? My understanding is that you would need something like `outputs = ort_session.run(["last_hidden_state"], dict(inputs))` instead, where the string key is obtained from `BartOnnxConfig(BartConfig()).outputs.keys()`.

[2022-01-15 04:21] stas00 commented on #9965
Yes, I was just about to revisit it. Do you want to take a lead on this experiment, @jaketae?

You can use this tool for benchmarking https://github.com/huggingface/transformers/pull/14934 if it helps. I think it's pretty stable now, I will propose to PR it.

[2022-01-15 05:35] thomas-li-sjtu commented on #4151
Thanks for your code, it really helps.

[2022-01-15 14:19] Alymostafa opened #15168 "Add Model Interpretability Module"
# 🚀 Feature request
What about adding an Interpretability Module like integrating the captum with hugging face, because there are a lot of difficulties when trying to use captum with hugging face transformer models

[2022-01-15 15:02] #14668 closed

[2022-01-15 17:19] shudipta commented on #7881
I had the case when we tried to provide our own tokenizer with vocab.txt file.
The mistake we did was that we update the config.json file and set vocab_size as the total line number in the new vocab.txt file.

This was the wrong step we took. config.json has to be the one exactly for model.pt we want to use. If the model.pt is from the hub, then no need to change the config.json.

[2022-01-15 22:45] mathshangw commented on #8545
excuse me does this class have the functions that help in word-level, not sub-word level , please ?

[2022-01-16 03:40] iamjanvijay opened #15169 "model.generate with prefix_allowed_tokens_fn throws RuntimeError: probability tensor contains either `inf`, `nan` or element < 0"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.0-90-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu102 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or par

[2022-01-16 05:16] tanyaroosta opened #15170 "Using the accelerate MLM example still results in CUDA out of memory"
Hi,
I am using [this example](https://github.com/huggingface/transformers/blob/master/examples/pytorch/language-modeling/run_mlm_no_trainer.py) and instructions on [this discussion](https://discuss.huggingface.co/t/how-to-use-specified-gpus-with-accelerator-to-train-the-model/10967) to adapt the code from [run_summarization.py](https://github.com/huggingface/transformers/blob/master/examples/pytor

[2022-01-16 09:00] NielsRogge commented on #15170
Hi,

Can you try out this: https://github.com/rentruewang/koila

Let me know if it resolves your issue.

[2022-01-16 09:15] hrahamim commented on #12456
Thanks Patrick

[2022-01-16 13:02] peregilk commented on #14825
Hi @patil-suraj,
Did you have a chance to verify that my example code snippet shows there is a bug here? Or am I missing something?

[2022-01-16 13:17] yinzhangyue opened #15171 "RuntimeError: expected scalar type Half but found Float"
## Environment info

- `transformers` version: 4.4.0
- Platform: Linux-4.4.0-142-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.9.0 (True)
- Tensorflow version (GPU?): 2.6.0 (False)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

## Models:
- BERT

## Library:
- Deepspeed: 0.5.9

## Error:
[code]

command line:
[cod

[2022-01-16 15:02] #14693 closed

[2022-01-16 15:02] #12867 closed

[2022-01-16 15:39] JohnGiorgi commented on #14502
This sill happens on the latest version of Transformers and with the latest version of DeBERTa-v3, so I am commenting to keep it open.

[2022-01-16 22:12] eyaler commented on #14862
i would like have a mode that tries to do local_files_only but if files are missing it can still fetch them

[2022-01-17 01:48] nikhil6041 commented on #9374
Hi @pratikchhapolika you can find all my notebooks in this [repo](https://github.com/nikhil6041/OLI-and-Meme-Classification)

[2022-01-17 02:03] lonelydancer commented on #14882
@lewtun do you have time to see this issue? i really need your help.

[2022-01-17 03:13] hj5167 commented on #15153
hello,I wonder whether we can utilize the unused tokens in the tokenizer,because many tokenizer have saved many unused tokens,but I dont know how to implement it !Could anyone tell me how to to it

[2022-01-17 11:30] sekharvth opened #15176 "Bug in seq2seq fine tuning section of Automatic Speech Recognition Examples"
## Environment info
- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parall

[2022-01-17 11:53] LysandreJik commented on #12061
Thank you for handling the github bot - would love to make time for this this or next week.

[2022-01-17 12:47] LysandreJik commented on #15171
What is `run_glue_sparse.py`?

[2022-01-17 12:58] oliverguhr opened #15177 "processing texts longer than 512 tokens with token-classification pipeline"
# 🚀 Feature request

Currently, the token-classification pipeline truncates input texts longer than 512 tokens.
It would be great if the pipeline could process texts of any length.

## Motivation

This issue is a result of this feature request:
https://github.com/huggingface/huggingface_hub/issues/532

As suggested I am tagging @Narsil here.

## Your contribution

For my [punctuation prediction mo

[2022-01-17 13:33] hasansalimkanmaz commented on #15052
Thanks for the suggestion. After brainstorming with my team, it seems to be possible. I am closing this thread.

[2022-01-17 13:33] #15052 closed

[2022-01-17 13:53] sanderland opened #15179 "Unclear documentation regarding sequence length for all-MiniLM-L6-v2"
On [the model card for MiniLM-L6](https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2) it says

However, looking at the model and tokenizer
```model = AutoModel.from_pretrained("sentence-transformers/all-MiniLM-L6-v2")```

It seems to have a sequence length of 512 in its embeddings, and also have this set in the tokenizer as the max length.
The huggingface tokenizer picks up on this high

[2022-01-17 14:47] nikhiljaiswal commented on #13561
@patil-suraj can you please help me with above problem?

[2022-01-17 14:49] yinzhangyue commented on #15171
Hello, we just implement our Sparse Attention by deepspeed in run_glue.py. You can just think it as run_glue.py.

[2022-01-17 15:01] #14710 closed

[2022-01-17 15:39] novice03 opened #15181 "Bug with max_seq_length argument in training scripts"
Hello, I am trying to train Nystromformer for Masked Language Modeling with a sequence length of 1024 using the [run_mlm.py](https://github.com/huggingface/transformers/blob/master/examples/pytorch/language-modeling/run_mlm.py) script. As, I understand it, the `max_seq_length` argument of the script controls the maximum number of input tokens passed to the model. And this should be, less than or e

[2022-01-17 15:58] KB-g commented on #11307
Hi @doublex , @abhirooptalasila,
I haven't tried to get the per-word probability. If you come up with a solution, it would be great if you could let me know. I'd also be interested in a solution :)

[2022-01-17 16:11] darien-schettler opened #15183 "ValueError When Padding Long Sequences To Small Max Length (Pytorch and Tensorflow)"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: NO
- Using distributed or parallel

[2022-01-17 16:55] sgugger commented on #15171
Without knowing the model you are using and the script you are using, we can't reproduce the bug and cannot help.

[2022-01-17 16:59] sgugger commented on #15181
No, the tokenizer used should be manually fixed if its maximum length is incorrect, but we shouldn't change that part of the script. This is not a bug, but a desired feature, as the corresponding pretrained model will not work with a greater maximum length.

You can always change the example script (which are just examples) if you want a different behavior.

[2022-01-17 17:01] sgugger commented on #15183
I'm not sure where the bug is: you want to pad sequences to a length lower than the maximum length of your two sentences. The tokenizer does that but you end up with two sentences of different length (the smallest one has been padded to 8 tokens and the longest one is longer) so it's not possible to batch them together. You need to activate truncation to truncate the longer sentence.

[2022-01-17 17:10] darien-schettler commented on #15183
@sgugger - I 100% understand where you are coming from, however, why would this functionality be supported for **`return_tensors="np"`** and **`return_tensors=None`**. And if you really do want different functionality/outputs like this (for different arguments), then the error message should be clearer.

It is not always obvious the length of a sequence in terms of tokens, especially considering s

[2022-01-17 17:25] sgugger commented on #15183
Because you can have lists of lists of different lengths or build a numpy array where the objects are lists of different lengths. You can't however build a tensor with rows of different lengths. As for the error message, it has to be kept generic enough to cover every situation where you'd get an error. It does tell you explicitly that:
- you can't buld a tensor with two rows of different lengths

[2022-01-17 17:34] darien-schettler commented on #15183
I compiled my suggestions above already. However, to reiterate:
* I would default to **`truncation=True`** and **`padding=True`**
* Or at the least issue a warning and fallback to that state (given a situation that results in the problem)

Also,

Is this really useful? I've never known numpy arrays where the objects are lists to be useful. It feels very forced. If you were to do this, why wouldn't

[2022-01-17 17:41] darien-schettler commented on #15183
I'm going to go ahead and close this. I'm not sure the struggle here is worth the effort.

This felt wrong to me and I wanted to communicate that, but from your responses, I can see that my difficulty is outside the norm.

Thanks for the help.

[2022-01-17 17:41] #15183 closed

[2022-01-17 17:41] MarkWijkhuizen opened #15185 "Longformer Set Global Attention Layers Non-Trainable"
# 🚀 Feature request

Tensorflow Longformer model set global attention layers non-trainable.

## Motivation

During training global attention is not used giving zero gradients for all global attention weights. Setting the global attention layers to non-trainable will decrease training time and reduce memory consumption.

[2022-01-17 18:00] sgugger commented on #15183
You're probably right that we should also raise an error for NumPy in this situation. We rely on the fact the call to `np.ndarray`  just works but that's a bit lazy.
cc @LysandreJik what do you think?

[2022-01-17 18:07] GokulNC commented on #15109
Hi @sshleifer
Just saw your comment on this thread: https://github.com/marian-nmt/marian-dev/issues/756#issuecomment-724738421 , so probably felt you can help.

Can you please let me know if any thoughts on the above issue? Thanks!

[2022-01-17 18:10] novice03 commented on #15181
I would argue that it would be beneficial (especially for training models from scratch) if `max_seq_length` is set to `min(data_args.max_seq_length, config.max_position_embeddings)`. Consider two cases:

1. The script is being used with a pre-trained model. As an example, consider a pre-trained Nystromformer model with maximum sequence length of 512. Here, I must truncate the inputs to 512 (since

[2022-01-17 20:27] gante commented on #15185
Hi @MarkWijkhuizen! Thank you for your input.

If you have the time, I'd like to encourage you to open a PR with the change. Otherwise, no worries, let us know (and, if possible, give us more pointers -- e.g., a reference to the paragraph in the paper where they mention this part of the training regime) 🤗

[2022-01-17 22:17] patrickvonplaten commented on #15039
Hey @programmeddeath1,

Sorry to answer so late. Could you please provide a short code snippet that reproduces the error? Thanks!

[2022-01-17 23:07] patrickvonplaten commented on #14523
We have an example here now: https://github.com/huggingface/transformers/tree/master/examples/pytorch/speech-recognition#sequence-to-sequence

[2022-01-17 23:13] patrickvonplaten commented on #15130
Hey @cyk1337, I cannot reproduce this error sadly. The code you provided:

[code]

works fine for me. Could you maybe try to empty your cache completely `rm -r ~/.cache/huggingface/datasets` and try again?

[2022-01-17 23:16] patrickvonplaten commented on #14648
Hey @parambharat,

It would be great if you could try to fix the problem by opening a PR! More than happy to take a look :-)

[2022-01-17 23:17] patrickvonplaten commented on #14199
Hey @ToluClassics - this issue seems to be related to JAX rather than the Transformers library - could you try to open an issue there? :-)

[2022-01-17 23:23] patrickvonplaten commented on #14394
Looking into it next week - sorry for being so late here

[2022-01-17 23:33] patrickvonplaten commented on #15176
Thanks for reporting this. It should be fixed soon: https://github.com/huggingface/transformers/pull/15056 . I'll make sure to speed-up the process now - sorry for being so late on this.

[2022-01-17 23:46] ToluClassics opened #15189 "run_t5_mlm_flax.py Multi GPU Training"
## Environment info

- `transformers` version:  4.15.0
- Platform: Ubuntu
- Python version: Python 3.9.9
- PyTorch version (GPU?): 1.10.1

### Who can help
@patil-suraj
@patrickvonplaten

## Information

Model I am using (T5):

I am currently trying to pretrain T5 from scratch on a custom dataset using the [`run_t5_mlm_flax.py`](https://github.com/huggingface/transformers/blob/master/examples/flax

[2022-01-18 00:35] mkshing opened #15190 "`AutoConfig` doesn't support `gpt-neox`"
@patil-suraj
## Environment info

- `transformers` version: v4.11.3
- Platform: Macbook (CPU)
- Python version: 3.8.10
- PyTorch version (GPU?): 1.10.0(CPU)
- Tensorflow version (GPU?): I don't use it
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using (Bert, XLNet ...): GPT-NeoX

The problem arises when using:
* [ ]

[2022-01-18 00:40] mkshing commented on #15190
@patil-suraj I found the problem in my code. Because I defined the `gpt-neox` model by my own custom class, of course, `transformers` couldn't recognize it! My apologies! I will close this issue.

[2022-01-18 00:40] #15190 closed

[2022-01-18 03:57] jinxinglu opened #15191 "can't set gradient_checkpointing=True when using the DistributedDataParallel mode"
## Environment info

- `transformers` version: 4.15.0
- Platform: 2GPU-V100 with 16GB
- Python version: 3.6.8
- PyTorch version (GPU?): 1.10.1+cu102
- Tensorflow version (GPU?):
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?:

### Who can help

## Expected behavior

[2022-01-18 04:23] sekharvth commented on #15176
No worries! Thanks for the prompt resolution

[2022-01-18 04:23] #15176 closed

[2022-01-18 04:49] YHYeooooong opened #15192 "Question about fine-tuning with vision transformer (VIT)"
Thanks for sharing great work!
I have a simple question about fine-tuning with VIT.
Is there any option for selecting trainable weight during fine-tuning phase? Or can I only train all weight?

[2022-01-18 04:57] nghuyong commented on #7169
I encounter this problem too when I try to train on multi-nodes and multi GPUs.
And my transformers version is 4.15.0, so does this issue have the answer?
@choidongyeon @julien-c @sgugger

[2022-01-18 06:08] akashe commented on #11789
Hi @patrickvonplaten, checked with the newest transformers. Tokenizer is not returning None.

[2022-01-18 07:37] patrickvonplaten commented on #15189
Hey @ToluClassics,

Could you please open an issue on https://github.com/google/jax as your problem does not seem to be related to Transformers

[2022-01-18 08:28] g-vallejo commented on #15051
I had the same issue and solved by using an older release: `pip install transformers==v4.14.0`
@atptour2017, just in case that works for you too.

[2022-01-18 08:46] stefan-falk commented on #14523
@patrickvonplaten Thanks, but this seems to be an example for fine-tuning and not training from scratch.

What I am looking for is a hands on tutorial/example that shows how I can e.g. train a  `Speech2Text` model from scratch.

The code I posted originally (see above) is running (without crashing) but looking at tensorboard I am rather convinced that there are still some issues.

It's not clear t

[2022-01-18 08:53] NielsRogge commented on #15192
Hi,

You can easily disable parameters which you don't want to train with requires_grad=False:

[code]

[2022-01-18 09:13] Narsil commented on #15177
Hi @oliverguhr ,

So this specific pipelines truncates by default, and changing that would mean a breaking change.

The problem with "chunking" on this pipeline is that models usually need context before and after a token to get proper context to get a useful classification.
That means, than in order to achieve this, the pipeline should be able chunk into multiple parts of text, with overlap (usua

[2022-01-18 09:52] SaulLu commented on #14502
Thank you very much for the detailed issue!

Indeed, you have put your finger on an inconsistency: what is happening is that the slow and fast tokenizer of DeBERTa (original) do not behave in the same way:
[code]
As a result the issue seems more linked to the the workflow of the slow tokenizers.

However, finding the right way to fix the problem is less obvious because `convert_tokens_to_string` i

[2022-01-18 10:17] michaelbenayoun commented on #15123
Hi @farzanehnakhaee70, @lewtun,
Great catch @farzanehnakhaee70 !!
I would say that if you have a working solution you can definitely open a PR!

[2022-01-18 10:49] stefan-falk opened #15195 "Tensorboard missing values"
## Environment info

- `transformers` version: 4.12.5
- Platform: Ubuntu 18
- Python version: 3.8

### Who can help

Models:
- Wav2Vec2 @patrickvonplaten @anton-l
## Information

Model I am using is Wav2Vec2ForCTC and it is regarding the eval/loss in Tensorboard.

For some (most) of my experiments I'd notice missing values for the eval/loss:

![image](https://user-images.githubusercontent.com/4333

[2022-01-18 11:02] lewtun commented on #15123
Hi @farzanehnakhaee70 before we open a PR, can you please share your environment details by running the command `transformers-cli env` and copy-and-pasting its output here?

I'd like to know which version of transformers this affects, the type of OS etc

[2022-01-18 11:06] stefan-falk opened #15196 "Wav2Vec2ForCTC fine-tuning best practices"
I have started to train models based on [this tutorial](https://huggingface.co/blog/fine-tune-wav2vec2-english) (thanks to @patrickvonplaten) and so far everything works.

However, there are still a few details that I am missing here. First off, I noticed that most experiments stagnate at around 30% WER after which the model does not seem to improve anymore. The data is a 2000 hour English dataset

[2022-01-18 11:09] KombangkoeDias opened #15197 "Question about fine-tuning BeitForSemanticSegmentation model"
From the documentation, it says that the logits shape will be (batch_size, num_labels, height/4, width/4)
I assume that the logits are the output masks of the model (since I'm doing the segmentation).
How do I convert this shape (height /4, width /4) to the original image's shape before being resized to (height, width)?

-> # logits are of shape (batch_size, num_labels, height/4, width/4)
I realiz

[2022-01-18 12:23] sgugger commented on #15191
You need to have `dpp_find_unused_parameters=False` when using `gradient_checkpointing=True`.

[2022-01-18 12:24] #3497 closed

[2022-01-18 12:42] LysandreJik commented on #15183
Hey @darien-schettler, thank you for your issue and helping us understand what didn't feel natural!

I agree with you both that the NumPy counterpart should raise an error in this situation.

I think raising an error here is fine given that it is explicitly mentioning what must be done, and that truncating, as a potential loss of information, should be opt-in even when a max length and padding are

[2022-01-18 12:55] maxwellzh opened #15199 "GPT2: masked_bias should be sufficiently small instead of -1e4"
See also #9594

My package build `transformers==4.12.3`.

Ideally for a causal language model, we should set it as -inf. Current setting -1e4 is not **small** enough. In my case, the model would learn to lower the attention weight of left context such that it could get the information of right context, which is illegal behavior.

Codes at https://github.com/huggingface/transformers/blob/531336bbfd

[2022-01-18 13:00] LysandreJik commented on #15199
Hey @maxwellzh, this is a similar conversation to what was said here: https://github.com/huggingface/transformers/issues/14859

Thanks for raising this issue!

[2022-01-18 13:01] LysandreJik commented on #14859
Centralizing all discussions on this:

https://github.com/huggingface/transformers/issues/9594
https://github.com/huggingface/transformers/issues/10484
https://github.com/huggingface/transformers/issues/15199

[2022-01-18 13:09] lewtun commented on #14836
Hi @shimoshida it seems that the root cause of the problem was due to a mismatch in the `einsum` types: https://github.com/microsoft/onnxruntime/discussions/10121#discussioncomment-1948951

Does that proposal solve the issue for you?

[2022-01-18 13:27] maxwellzh commented on #14859
For people using GPT2 Model, there is a hacked hot fix of this issue:

[code]

Add these codes after model initialization.

[2022-01-18 13:50] YHYeooooong commented on #15192
Thank you for your fast and kind response! I will try it!

[2022-01-18 13:50] #15192 closed

[2022-01-18 13:56] NielsRogge commented on #15197
Hi,

You can take a look at this notebook: https://github.com/NielsRogge/Transformers-Tutorials/blob/master/SegFormer/Fine_tune_SegFormer_on_custom_dataset.ipynb

It shows how to fine-tune SegFormer on a custom dataset, and it also outputs logits of shape (batch_size, num_labels, height/4, width/4). One interpolates these to the original size of the image.

[2022-01-18 13:57] KombangkoeDias commented on #15197
Thank you.

[2022-01-18 14:00] #15197 closed

[2022-01-18 14:25] mathshangw opened #15203 "How can i add new_token ?"
excuse me what if i need to add new_tokens to tokenizer. I'm using this code
[code]
but got
[code]
as my debugging is
[code]
while sentences is a file

[2022-01-18 14:32] JohnGiorgi commented on #14502
Thanks for the detailed response @SaulLu!

I have a task where I need to add special tokens to the text to introduce some structure. A common use case of this are the "marker tokens" used in named entity recognition. A simplified example is:

[code]

Ideally, we could add all these tokens as `additional_special_tokens` so they don't get split. Indeed, it works fine with BERT and the original DeBER

[2022-01-18 14:37] #14995 closed

[2022-01-18 14:37] mitramir55 commented on #8690
Hi,
 I'm trying to use a simple text classification pipeline, and whether I try to clone the model's repo or download it by importing the model, I receive this error.
I guess this error can be triggered because of my location (I am in Iran). I also tried with and without a VPN and neither worked. Can there be any hope for me to download a transformer model?

[2022-01-18 14:44] Rocketknight1 commented on #15139
@tdomagal @atom00 We have identified the issue - the Keras method `compute_loss` which was newly added in 2.8 is clobbering the `compute_loss` method that all HuggingFace models already had. We're going to rename our method and see if that resolves things. Thank you again for this report - it alerted us to an important issue before 2.8 went live!

[2022-01-18 15:07] #14728 closed

[2022-01-18 15:07] #14603 closed

[2022-01-18 15:07] #14337 closed

[2022-01-18 15:07] #13651 closed

[2022-01-18 15:17] yassine0abba opened #15206 "Different generations with the NLP model MarianMT of HuggingFace"
I'm trying to use the NLP model " MarianMT" from HuggingFace, and I want to use my own implementation of decoding (ex : Greedy Decoding). I compared my implementatin to Hugging Face implementation. (model.generate())

I implemented it; I checked the code 100 times and I don't know why I have different text generation. Can you please help me on that ?

My implemntation :
[code]
*Output : ['Obwohl d

[2022-01-18 15:36] #14486 closed

[2022-01-18 15:55] yassine0abba commented on #15206
for the notice, 58100 is the pad_id of the model

[2022-01-18 16:15] tanyaroosta commented on #15170
koila didn't work for me. I basically had to use a p3.24 instance to get it to work with a batch size of 1.

[2022-01-18 16:15] #15170 closed

[2022-01-18 17:05] SaulLu commented on #14502
Thank you very much for your answer! Very interesting use case!

And in particular, why on this use case do you need to use `tokenizer.convert_tokens_to_string(tokenizer.tokenize(text)`?

For DeBERTa (original and V3), I guess the `tokenizer.decode(tokenizer.encode(text)` command should give the result you were expecting initially. :blush:

[2022-01-18 18:28] lucymc12 opened #15212 "ValueError: transformers.models.auto.__spec__ is None. causing import errors"
## Environment info

- `transformers` version: 4.15.0
- Platform: Colaboratory
- Python version: 3.7.12

### Who can help

@LysandreJik

## Information

Hello, this code was working last week but today I am getting a 'ValueError: transformers.models.auto.__spec__ is None' error which is causing errors when trying to import  other Libraries. I noted a similar issue #12904 but this has been resolved

[2022-01-18 19:33] JohnGiorgi commented on #14502
Ahhh, `tokenizer.decode(tokenizer.encode(text)` does work! And it works for BERT as well.

There was no reason to use `convert_tokens_to_string`, I just thought that would be the correct method to use! ?Thanks for the tip with `tokenizer.decode(tokenizer.encode(text)`

[2022-01-18 20:03] JohnGiorgi commented on #14502
Actually, I now remember why I wanted to use `convert_tokens_to_string`. In the case of an autoregressive decoder, generating some output token by token, that may include some special tokens.

I would like to recover from that a string, which maintains the expected spaces around special tokens. Here is a simplified example:

[code]

I can solve that using the `decode(encode())` strategy

[code]

I

[2022-01-18 22:29] cgr71ii commented on #95
Hi! You can use the following code in order to check if any layer has been modified (it should work for any pytorch code if I am not wrong, not just BERT):

[code]

It is very similar to the code I use in order to check if a layer has been updated (remember that it won't be updated if `grad_fn` is `None`), but I have not tested this exactly code.

I hope it helps!

[2022-01-18 22:52] #14889 closed

[2022-01-18 23:34] naimenz opened #15214 "Add support for BERT SequenceClassification conversion to ONNX"
# 🚀 Feature request

Currently, the `SequenceClassification` pipeline is not supported for converting BERT-based models to ONNX. Support for this pipeline would be great.

## Motivation

As part of a recent internship, I needed to deploy a `SequenceClassification` `SciBERT` model by first converting it to ONNX and quantizing it. I wrote a script that did this, and so thought I should contribute th

[2022-01-19 00:25] patrickvonplaten commented on #15196
Hey @stefan-falk,

To answer your questions above:

You can try, but I don't recommend to do it. The input to output ration in Wav2Vec2 is made to work very well with characters.

In my experience SpecAugment and other techniques help quite a bit to improve performance

Yes, you can use `--group_by_length` as is done in all examples usually. See:
https://huggingface.co/patrickvonplaten/wav2vec2-ba

[2022-01-19 00:30] patrickvonplaten commented on #15195
That's strange @severo do you maybe have any idea?

[2022-01-19 00:32] patrickvonplaten commented on #15195
BTW, @stefan-falk feel free to share a link to your training repo here if the 30% WER seems to high for you. There are some hidden tricks on how to evaluate and train wav2vec2-base, *e.g.* https://github.com/pytorch/fairseq/issues/3227

[2022-01-19 00:33] patrickvonplaten commented on #14523
I see - sorry we don't have any examples on how to train encoder-decoder from scratch yet for ASR. I also don't think it's a good idea given how well it works to leverage pretrained speech and text checkpoints

[2022-01-19 00:35] patrickvonplaten commented on #14859
I won't be able to look into this until the next 3,4 weeks - still have it on my ToDo list though. Depending on how important this is, feel free to take over whoever is interested

[2022-01-19 01:42] lando22 commented on #15212
Having the same issue too!

[2022-01-19 02:24] TimDettmers commented on #14819
How about only using the `bnb.nn.Embedding` that does not use embedding layer norm? If using a different class is problematic, the 32-bit optimizers can also be configured by passing the weight attribute of the respective class to the bitsandbytes library, like so:
[code]
No architecture reconfiguration should be needed with this option, and the embedding will run with 32-bit optimizers. This is i

[2022-01-19 03:57] Robert-E-630 commented on #2598
This is annoying, one doesnt have to do this while setting config for TFDistilBert

https://towardsdatascience.com/working-with-hugging-face-transformers-and-tf-2-0-89bf35e3555a

[2022-01-19 05:36] ark10806 opened #15215 "ALL YOUR BASE ARE BELONG TO 504."
<img width="1223" alt="image" src="https://user-images.githubusercontent.com/30382262/150070377-edb319a5-7c28-4478-ba8e-123aebc46499.png">

[2022-01-19 05:39] kcoms555 commented on #15215
![image](https://user-images.githubusercontent.com/48780754/150070713-002d6e62-f87f-4d8e-b380-7963413953b8.png)

[2022-01-19 06:33] harshitadd commented on #13959
Thanks a lot for looking into it! Noted.

[2022-01-19 07:52] bios-xiajun commented on #14559
same issue to me.

[2022-01-19 07:54] tqfang opened #15216 "DebertaForMaskedLM cannot load the parameters in the MLM head from microsoft/deberta-base"
my env:

[code]

[code]

The warning goes like:

[code]

It seems that the checkpoints provided by `microsoft/deberta-base` doesn't possess the weights needed for the MLM head, so that DebertaForMaskedLM cannot be directly used for masked token prediction.

Is this a bug of the DebertaForMaskedLM class or the checkpoints provided by Microsoft? Thanks!

[2022-01-19 08:02] RaedShabbir opened #15217 "[ONNX] transformer.onnx exporting fails for longformer"
## Environment info

- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.11.0-1024-gcp-x86_64-with-debian-bullseye-sid
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.1+cu102 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Using transformer.onnx
-

[2022-01-19 08:34] changquanyou opened #15218 "MobileBertForPreTraining means IB-BERT PreTraining?"
https://github.com/huggingface/transformers/blob/05fa1a7ac17bb7aa07b9e0c1e138ecb31a28bbfe/src/transformers/models/mobilebert/modeling_mobilebert.py#L902
You Know that the mobilebert(student model) is  distilled  from IB-BERT(The Teacher Model), The MobileBertForPreTraining means  IB-BERT PreTraining?

[2022-01-19 09:03] severo commented on #15195
No idea. @stefan-falk would you be able to share some of these tensorboard trace files (*.tfevents.*)?

[2022-01-19 09:35] stefan-falk commented on #15196
@patrickvonplaten thanks a lot! :)

Okay, I'll stick to that. Just a curios question in addition.. when it comes to chines we have a pretty large vocabulary. Do you know how we can deal with that or are just gong to have to use a ~5k vocab?

Definitely. My problem here is that since I am using the pre-trained model `facebook/wav2vec-base` I don't know whether or not I can deviate here. I don't kno

[2022-01-19 09:41] stefan-falk commented on #14523
@patrickvonplaten Okay, I see. The issue here is just that I am now reliant on the availability of pre-trained models in all the languages I want to support. For example, `facebok/wav2vec2-base` was only trained on English which probably does not help for languages like Chinese. Going for he cross-language model is also not an option due to its size.

[2022-01-19 10:03] NielsRogge commented on #15214
I'm pretty sure xxxForSequenceClassification models are supported. You can read the updated docs [here](https://huggingface.co/docs/transformers/master/en/serialization).

For instance, you can convert one as follows:

[code]

[2022-01-19 10:12] stefan-falk commented on #15195
@severo I've added the files as I found them in my logging-directory:

[logs.zip](https://github.com/huggingface/transformers/files/7895914/logs.zip)

@patrickvonplaten

I am using the same method as in your tutorial with the small change of using my own implementation for the error rates:

[code]

The reason is because `load_metric("wer")` uses `jiwer`, a library that constantly breaks on macOS s

[2022-01-19 10:24] NielsRogge commented on #15203
Hi,

Can you please ask this question on our [forum](https://discuss.huggingface.co/) rather than here?

We'd like to keep Github issues for bugs/feature requests.

Thanks!

[2022-01-19 10:36] dsuess commented on #10816
Thanks for your feedback @stas00. I finally got the time to have a closer look with the pytorch profiler. I'd summarize what I found with:
- the speedup we're getting for matmuls in fp16 aren't that great. This might be due to fewer kernels being executed on Tensor cores when using FP16 (31% of kernels) compared to FP32 (74% of kernels).
- this is made worse by additional copy/conversion operation

[2022-01-19 10:46] harveenchadha opened #15220 "Wav2vec code not working with kenlm n-gram"
I followed all the steps listed in https://discuss.huggingface.co/t/how-to-create-wav2vec2-with-language-model/12703/7

to create LM but seems like I am getting no output at all. I tried to replicate all the steps listed for Hindi and failed.

Also I tried to run the Spanish repo as pointed out by @patrickvonplaten but even after executing the [file](https://huggingface.co/patrickvonplaten/wav2vec

[2022-01-19 10:54] arinaruck commented on #15212
Same issue with `transformers 4.10.0, 4.10.2` and `pytorch-lightning 1.3.5`

[2022-01-19 11:17] mabu-dev opened #15222 "Is it possible to support Wav2Vec in ZeroShotClassificationPipeline?"
Similar to the very helpful NLI-based zero-shot classification pipeline using a ModelForSequenceClassification, it would be great to have zero-shot on audio data.

Pass wav file(s) with candidate labels to the pipeline and get a prediction. Is this at all on the roadmap?

[2022-01-19 11:41] sipie800 opened #15223 "where is the 4.16.0dev??"
I'm running the run_mlm.py script.
There is such a line,

# Will error if the minimal version of Transformers is not installed. Remove at your own risks.
check_min_version("4.16.0.dev0")

but where is it?
can't find by pip,no in github too.

[2022-01-19 11:53] #15181 closed

[2022-01-19 12:01] benderama3 opened #15224 "Copy of the custom modeling file when saving a model"
Hi,

When using the dynamic code loading feature #13467 , the custom modeling file (eg: modeling.py) isn't copied into the folder when you save the model.
In this case, you have to manually copy the file to the folder to be able to reload the model from the checkpoint.

Code example:
[code]

Any plan to fix this ?

Thank you

[2022-01-19 12:20] sipie800 commented on #202
Bert is way to sensitive to the learning rate and data as well.
Somehow it makes thing back to 20 years ago when deep learning is still a unusable approch.
It's not the fault of libraries writers. The model itself has that problem.

[2022-01-19 13:20] asawczyn commented on #15212
I have the same issue :(

[2022-01-19 13:29] #15139 closed

[2022-01-19 14:04] asawczyn commented on #15212
Installing  `torchmetrics==0.6.2` helped in my case.

[2022-01-19 14:33] bver commented on #5421
Note that this warning is sensitive to a Transformers version used for model training vs. a version used for inference.
For instance, the Roberta model finetuned with 4.9.1 expresses this warning when loading the model for `RobertaForSequenceClassification` inference based on ver. 4.15.0, but the model finetuned with 4.15.0 does not.

[2022-01-19 15:25] jkuball commented on #15212
Seems like [this PR](https://github.com/huggingface/transformers/pull/13321) needs to be copied for [this line of code](https://github.com/huggingface/transformers/blob/master/src/transformers/models/auto/__init__.py#L251).

[2022-01-19 15:34] whaor opened #15229 "Is there any script for running RACE dataset?"
# 🚀 Feature request

examples/multiple-choice/run_swag.py
is the script for running SWAG dataset, although readme says that a tweak of preprocess_function() should get things work for RACE dataset, but i still can not figure it out with this little information. is there any information about how to run RACE?

[2022-01-19 16:48] Sorrow321 opened #15232 "Wav2Vec2ForPreTraining doc example has None loss"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.11.0-46-generic-x86_64-with-glibc2.31
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.1 (True)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel set-up i

[2022-01-19 16:48] LorenzoMauri commented on #15212
On G.Colab I had the same issue with `transformers==4.15.0` and `pytorch_lightning==1.5.7` installed.

Solved by installing `torchmetrics==0.6.2` .

Thank you

[2022-01-19 17:42] patrickvonplaten commented on #15220
Hey @harveenchadha,

Could you try to instead follow the steps of the official blog post: https://huggingface.co/blog/wav2vec2-with-ngram . It's more up-to-date and contains more in-detail information.

[2022-01-19 18:12] stas00 commented on #10816
This is fantastic work, @dsuess!

Here is an additional profiling report of the same issue https://github.com/huggingface/transformers/issues/14608#issuecomment-1001257392

This appears to be specific to t5 and derived models. And yes the problem is that it uses RMSNorm which pytorch doesn't provide and that's why it's slow.

I made a request to make an RMSNorm fused kernel here: https://github.co

[2022-01-19 19:21] jaketae commented on #15166
This thread is a summary of some details discussed in today's meeting with Patrick and Anton.

- Ideally, use weights from [DiffSinger](https://github.com/MoonInTheRiver/DiffSinger), as it is the best approximation of the original implementation currently available
- Check inference results
- Compare with [fairseq's implementation](https://github.com/pytorch/fairseq/blob/main/fairseq/models/text_t

[2022-01-19 19:26] talhaanwarch commented on #12904
i tried transformers-4.15.0 and error is still there

[2022-01-19 19:35] LysandreJik commented on #15223
Hey! That's the current `master` version :)

https://github.com/huggingface/transformers/blob/80f72960913ab6682451c33dfa8035ef0c932128/setup.py#L354

[2022-01-19 19:35] LysandreJik commented on #15223
You can either clone the repo and install it locally, or install it with the following:
[code]

[2022-01-19 21:52] patrickvonplaten commented on #15196
The batch_size simply corresponds to the number of audio inputs (not #number of audio inputs * #number of loss tokens) so with ``--group_by_length`` we group audio inputs of similar length (= #number of loss tokens) together.

[2022-01-19 21:53] patrickvonplaten commented on #15196
Regarding Chinese, that's a good question actually! Maybe @voidful has an idea here?

[2022-01-19 23:41] MohammadForouhesh commented on #2704
wanted to add that in the new version of transformers, the Pipeline instance can also be run on GPU using as in the following example:
[code]

[2022-01-19 23:52] #15189 closed

[2022-01-20 02:56] liroda opened #15236 "wav2vec2_with_lm"
I refer to the example and run kenlm on the Chinese test set, it is ok ,but the language model weight, no matter how I adjust it, the result remains the same, this is my debugging code

 # dict
    vocabfile = os.path.join(model_path,'vocab.json')
    with open(vocabfile,'r',encoding="utf-8") as f:
        vocab_dict = json.load(f)

    labels = list(vocab_dict.keys())
    # kenlm deocder

    dec

[2022-01-20 03:08] tkornuta commented on #2210
Hi @julien-c `tokenizers` package is great, but I found an issue when using the resulting tokenizer later with `transformers`.

Assume I have this:
[code]

When I am trying to load the file:
[code]
an error is thrown:
[code]

Seems format used by tokenizers is a single json file, whereas when I save transformers tokenizer it creates a dir with [config.json, special tokens map.json and vocab.txt].

[2022-01-20 05:16] naimenz commented on #15214
Ah you're right, I must have somehow had an older version, really sorry about that! Next time I'll try to make a first issue that is actually an issue.

[2022-01-20 05:16] #15214 closed

[2022-01-20 05:39] jinxinglu opened #15237 "why training bigbird-512 model is much slower than bert-512?"
## Environment info

- `transformers` version: 4.15.0
- Platform:
- Python version: 3.6.8
- PyTorch version (GPU?): 1.10.1+cu102
- Tensorflow version (GPU?):
- Using GPU in script?: one GPU of V100-16GB
- Using distributed or parallel set-up in script?: no

### Who can help
@patrickvonplaten

Model I am using (Bert, XLNet ...): BigBird

The problem arises when using:
* [ ] the official example scr

[2022-01-20 07:29] voidful commented on #15196
If you are working in large vocabulary size model like Chinese, you often encounter the problem of homophones. the acoustic model actually lacks the ability to deal with this. Therefore, it is recommended to use the language model to adjust the results, which will greatly improve.

[2022-01-20 08:11] #15229 closed

[2022-01-20 09:33] julien-c commented on #2210
@tkornuta better to open a post on the forum, but tagging @SaulLu for visibility

[2022-01-20 09:34] NielsRogge commented on #15232
Hi,

Thanks for spotting. Feel free to open a PR to fix this :)

[2022-01-20 09:59] KMFODA opened #15244 "Evaluation Padding_idx Error when using BERTScore and Deepspeed Zero3 but not with Zero2"
## Environment info
- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.11.0-37-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.8.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or

[2022-01-20 10:25] prakhar21 commented on #673
Could be useful to you: https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/language_modeling.ipynb

[2022-01-20 10:48] patrickvonplaten commented on #15237
If you maximum sequence length is just 512, it does indeed not make much sense to use BigBird and BERT, AlBERT, or DeBERTa make much more sense. BigBird should be used for models that require sequence lengths > 2048

[2022-01-20 10:49] patrickvonplaten commented on #15237
The main promise of BigBird is not that it is faster than BERT for seq_len < 512, but rather that it can handle sequence lengths of up to 16K tokens

[2022-01-20 11:38] SaulLu commented on #2210
Thanks for the ping julien-c!

@tkornuta Indeed, for this kind of questions the [forum](https://discuss.huggingface.co/) is the best place to ask them: it also allows other users who would ask the same question as you to benefit from the answer. :relaxed:

Your use case is indeed very interesting! With your current code, you have a problem because `AutoTokenizer` has no way of knowing which Tokeni

[2022-01-20 11:51] xonATx commented on #11799
I have the same problem.

I fixed it by update python's  version  from 3.6 to 3.9.

[2022-01-20 11:58] yana-xuyan opened #15248 "Cannot load BART-base model"
## Environment info
- `transformers` version: 4.12.3
- Platform: Linux-5.4.0-1059-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel

[2022-01-20 12:06] yana-xuyan commented on #9396
Hi, did you fix this issue? I also got this problem when using BART-large.

[2022-01-20 12:50] yinzhangyue commented on #15171
Hello, this is my code. Thanks!
[code]
    """

    def __init__(self, config, args=None):
        super(BertModel, self).__init__(config)
        self.embeddings = BertEmbeddings(config)
        # set pad_token_id that is used for sparse attention padding
        self.pad_token_id = (
            config.pad_token_id
            if hasattr(config, "pad_token_id") and config.pad_token_id is not Non

[2022-01-20 12:54] yinzhangyue commented on #15171
We run 'run_glue.py' using the modified 'BertForSequenceClassification(BertPreTrainedModel'.

[2022-01-20 13:15] shimoshida commented on #14836
@lewtun I'm sorry for the late reply.
I have tested using the proposal, but I have encountered the following problem:
https://github.com/microsoft/onnxruntime/discussions/10121#discussioncomment-1987845

However, the problem seems not relevant to transformers, I have closed this issue.
Thank you for your help!

[2022-01-20 13:15] #14836 closed

[2022-01-20 13:27] lewtun commented on #14836
Thank you for the reply @shimoshida ! It looks like a mismatch between the ops in the original and traced models at runtime, but you're right that the ONNX export itself seems to be OK.

[2022-01-20 13:55] sgugger commented on #15171
Thank you. Looks like you are redefining every object so the error has nothing to do with the Transformers library.

[2022-01-20 14:09] yana-xuyan commented on #15248
Hi, thank you for your quick reply!

Oh yes, I made this folder, but I was not aware of it before you mention! Thank you very much!

[2022-01-20 14:09] #15248 closed

[2022-01-20 14:57] callmekofi commented on #2478
@austinbyersking  `pip3 install transformers` worked for me on macOS. I suggest you create an environment in `conda` and then install using `pip3`

[2022-01-20 15:04] vvalouch opened #15254 "Export LayoutLMv2 to TorchScript"
## Environment info

- `transformers` version: 4.15.0
- Platform: MacOS
- Python version: 3.8
- PyTorch version (GPU?): 1.10 CPU
- Tensorflow version (GPU?): N/A
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik

## Information

Model I am using LayoutLMv2:

The problem arises when using:
* [ ] the official example scripts: (give detail

[2022-01-20 15:06] #14737 closed

[2022-01-20 17:23] lewtun commented on #14882
Hi @lonelydancer, unfortunately I'm still not able to reproduce your error. Using your script and export command, the following test works for me:

[code]

For reference, this is the output of `transformers-cli env`:

[code]

I'm also running the following versions of the ONNX libraries:

[code]

Finally, here's the output from `nvidia-smi`

[code]

My suggestion would be to share a minimal reprod

[2022-01-20 18:09] stas00 commented on #15244
Hi @KMFODA,

zero3 is different from zero2 in that it shards the params. zero3 magically gathers them on each gpu before the model's forward calls, so the model has no idea its weights were manipulated. But if you do other forward's that aren't part of the model and which are called before the model, deepspeed doesn't know about it and most likely the error comes from that.

Typically you then nee

[2022-01-20 19:03] SatishDeshbhratar opened #15260 "Fine Tunning the Pytorch script"
I am trying a text summarization project mentioned in this link https://github.com/SatishDeshbhratar/transformers/tree/master/examples/pytorch/summarization

But I am facing the error related to hf argument parser as below

Traceback (most recent call last): File "D:\Docs\Course work\Final Project (Text Summarization)\Script\run_summarization.py", line 698, in <module> main() File "D:\Docs\Course

[2022-01-20 19:30] tkornuta commented on #2210
Hi @SaulLu thanks for the answer! I managed to find the solution here:
https://huggingface.co/docs/transformers/fast_tokenizer

[code]

Now I also see that somehow I have missed the information at the bottom of the section that you mention on building tokenizer that is also stating that - sorry.

[2022-01-21 01:42] nurgel commented on #13591
thank you so much. this fixed the problem.

[2022-01-21 02:56] lonelydancer commented on #14882
@lewtun thank you very much.
may i know the time of the pytorch scripts and onnx?
is there "Failed to create CUDAExecutionProvider" in your log?

[2022-01-21 04:10] JackqqWang opened #15265 "Movement Prune"
Hi everyone. I expect to use the movement prune approach to get a pruned bert on a downstream task with this link

[https://github.com/huggingface/transformers/tree/master/examples/research_projects/movement-pruning](url)

Basically speaking, we have a bert, and downstream task( AG news/ Yahoo answers, classification tasks), we wanna get a pruned BERT fitting this task.

I am trying Iterative Magn

[2022-01-21 05:28] evandros-ks opened #15267 "Benchmark link in transformers/notebooks/README.md is broken"
Hi @sgugger,

I noticed the link in the transformers/notebooks/README.md (https://github.com/huggingface/transformers/tree/master/notebooks) for the Benchmarks notebook is broken.

I believe the correct link should be: https://github.com/huggingface/notebooks/blob/master/examples/benchmark.ipynb

[2022-01-21 05:38] Aureole-1210 commented on #15260
Maybe you remove all the '\' in the code, the problem will be solved.

[2022-01-21 06:10] pratikchhapolika commented on #13199
@NielsRogge Can we also write a `loop for Pytorch batch DataLoaders ` and do inferencing. As DataLoaders are very fast?

[code]

[2022-01-21 08:32] hyunwoongko commented on #13845
@stas00 @siddk I'm going to take a look at functorch this weekend and see how we can combine them to improve performance.

[2022-01-21 08:35] Fei-Wang opened #15269 "Whether instantiation is premature?"
https://github.com/huggingface/transformers/blob/515ed3ad2a11a6b0cd9800b2ad4d3b313fdaea8c/src/transformers/feature_extraction_utils.py#L429

For example my code is:
[code]
I don't need to use OCR, but pytesseract still has to be installed.
Would it be a good solution to this kind of problem if the parameters were updated with kwargs before instantiation？

[2022-01-21 08:59] hyunwoongko commented on #13690
@lucasleesw We are also very interested in parallelization based on torch.fx. I hope to hold a seminar when the codebase is open.

[2022-01-21 11:10] #14760 closed

[2022-01-21 11:22] lewtun commented on #15217
Hi @RaedShabbir thank you for reporting this bug! It seems that this one slipped through our unit tests and it's not currently possible to export Longformer due to a limitation with the ops supported in JIT.

We plan to remove Longformer from the list of supported architectures until a long-term solution can be found. In the meantime, if you'd like to investigate which part of the Longformer imple

[2022-01-21 11:34] lewtun commented on #15265
Hi @JackqqWang these kind of questions are best suited for our [forums](https://discuss.huggingface.co/) since we use issue to triage bug reports or feature requests.

In any case, my suggestion would be to use our `nn_pruning` [library](https://github.com/huggingface/nn_pruning) instead of the `movement-pruning` project. The reason I suggest this is that @madlag found a clever way to extend movem

[2022-01-21 11:47] neeraj1909 commented on #2952
I am getting the same error. I am unable to resolve it.
![2](https://user-images.githubusercontent.com/20766288/150521649-4e928f00-51fd-41b5-ab95-14184c6fd42a.png)
![1](https://user-images.githubusercontent.com/20766288/150521655-15628f3b-e6a2-4fc7-8951-df581b5ffbda.png)

### I am using:
Python implementation: CPython
Python version       : 3.7.12
IPython version      : 7.29.0

numpy       : 1.19.

[2022-01-21 12:07] shivamm7 opened #15275 "Inference of finetuned wav2vec2-xls-r-300m model using the ASR pipeline does not remove special tokens."
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or paral

[2022-01-21 12:28] sgugger commented on #15267
Thanks for flagging this! Do you want to a make a PR to fix it?

[2022-01-21 12:30] #15212 closed

[2022-01-21 13:39] lewtun commented on #14882
Hi @lonelydancer here's the average latencies I get on CPU vs GPU with the example inputs I shared above:

[code]

So indeed, one gets slightly faster inference on CPU vs GPU. To get these numbers, I first exported the models as follows:

[code]

And then ran them through the following script:

[code]

I do not see any `Failed to create CUDAExecutionProvider` errors in my logs, which suggests ther

[2022-01-21 14:04] evandros-ks commented on #15267
Sure, I'll send one shortly

[2022-01-21 14:38] subhalingamd commented on #14097
any update on this?

[2022-01-21 14:52] #15267 closed

[2022-01-21 15:01] kevinpl07 opened #15279 "run_tests_pipelines_torch is not deterministic"
I am currently working on a PR and while making sure we pass all tests and checks, i ran into a pipeline test that failed in one run but succeeded afterwards with the same codebase (only a docstring has been changed).

I think this nondeterministic test-behaviour should be avoided in an automatic build pipeline.

Here it failed:
https://app.circleci.com/pipelines/github/huggingface/transformers/32

[2022-01-21 15:04] NielsRogge commented on #14884
Currently looking into this

[2022-01-21 15:34] patrickvonplaten commented on #15169
I don't think that this is related in any way to the `InfNanRemoveLogitsProcessor` processor. IMO, the reason for the error here is that in the 3rd generation step, **all** values of `next_token_scores` are set to `-inf` (I think) due to the `prefix_allowed_tokens_fn` that you've added. This is not a bug IMO with `transformers`, but with the `prefix_allowed_tokens_fn` function as it should not set

[2022-01-21 15:38] iamjanvijay commented on #15169
@patrickvonplaten @Narsil Thanks for your response. I was trying to check why this is happening. I found that if the restricted_vocab at any generation step only includes "</s>" (end-of-sentence token) this error occurs. In other cases, the script doesn't encounter such an error.

[2022-01-21 15:40] Narsil commented on #15275
We need to not skip special tokens for CTC (wav2vec2 in particular) because of the [PAD] token.

HELLO can only be transcribed because the CTC tokens are H, E, L, PAD, L, L, L, O, O for instance.

It seems here that maybe <s> got confused with <pad> and hence is not properly skipped during decoding. Could that be it ? Also I am unsure to know how it would behave on the unicode scripts you are usin

[2022-01-21 15:42] Narsil commented on #15169
I'll close my PR in the meantime. We can reopen it if needed, but I tend to agree with @patrickvonplaten that having everything `float(-inf)` can be considered a bug already.

[2022-01-21 15:54] KentonMurray opened #15281 "pytorch NER example dataset deleted"
The file examples/pytorch/token-classification/run_ner.py is looking for a hardcoded conll2003 dataset.

In the hardcoded link, the following change removed the dataset:
https://github.com/davidsbatista/NER-datasets/commit/9d8f45cc7331569af8eb3422bbe1c97cbebd5690

To fix, the hardcoded link needs to be changed to a stable location or not be hardcoded.

[2022-01-21 16:21] LysandreJik commented on #14097
Maybe of interest to @NielsRogge

[2022-01-21 16:24] stefan-it commented on #14097
Token Classification would also be very interesting when I think of evaluations for Big Science project.

[2022-01-21 16:31] stefan-it commented on #14097
But w.r.t. sequence classification, shouldn't it be similar to the sequence classification that is used for the BART model, as seen here:

https://github.com/huggingface/transformers/blob/7799b6128feb17b63c47ed77a71fa367d26492d2/src/transformers/models/bart/modeling_bart.py#L1415-L1530

:thinking:

[2022-01-21 16:55] VitorGuizilini-TRI opened #15282 "Self-Attention Layers for Perceiver Decoder"
This feature request is about the PerceiverIO codebase, specifically about the implemented decoders. It seems like there are no self-attention layers, only a single cross-attention layer.  Is that by design?  Several current published methods mention cross- and self-attention layers as part of the decoding process, would it be possible to include this functionality?

https://github.com/huggingface

[2022-01-21 17:36] patrickvonplaten commented on #15275
Hey @shivamm7,

Could you post a code snippet that shows you error and that we could use to debug the model? :-)

It could be as simple as:

[code]

[2022-01-21 18:56] tkornuta commented on #2210
Hey @SaulLu sorry for bothering, but struggling with yet another problem/question.

When I am loading the tokenizer created in HF.tokenizers my special tokens are "gone", i.e.
[code]

Without this when I am using padding:
[code]

I can add them to HF.transformers e.g. like this:
[code]

Is there a similar method for setting special tokens to tokenizer in HF.tokenizers that will enable me to load t

[2022-01-21 18:58] LysandreJik opened #15283 "Saved slow tokenizers cannot be loaded in `AutoTokenizer` after environment change"
## Environment info

- `transformers` version: 4.16.0.dev0
- Platform: Linux-5.16.1-arch1-1-x86_64-with-arch
- Python version: 3.6.15
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.3.5 (cpu)
- Jax version: 0.2.17
- JaxLib version: 0.1.69

### Who can help

@SaulLu, @LysandreJik

## Information

After saving a slow tok

[2022-01-21 18:59] raphaelsty opened #15284 "RagSequenceForGeneration without retriever"
Hi Hugging Face Team.

First of all thank you for your work, I am a fan of Transformers. 😉

I'm opening this issue because I'm having trouble using the RagSequenceForGeneration, model that I'm particularly interested in. I do not want to use the default retriever but rather apply the generator on an input list of documents (retrieved using Elasticsearch). I have tried to dig into the code without

[2022-01-21 20:11] shivamm7 commented on #15275
I found the issue. The issue is with the vocabulary building procedure in run_speech_recognition_ctc.py (https://github.com/huggingface/transformers/blob/master/examples/pytorch/speech-recognition/run_speech_recognition_ctc.py#L332).

While building vocabulary we replace the blank token " " by pipe symbol as delimiter ("|"). But if the dataset already contains the pipe symbol, which is common in H

[2022-01-21 20:11] dishant26 commented on #10075
Thank you!

[2022-01-21 20:49] stas00 commented on #13845
the tricky part is that it's tied to torch's version, e.g. I had to use pytorch-nightly to get it to work. Otherwise you can only use pt-1.10.0 which is not the latest release (1.10.1 is). To keep up with details please subscribe to: https://github.com/huggingface/transformers/pull/15264

[2022-01-21 22:47] samwarren opened #15289 "TrOCR small processors are all broken"
## Environment info

- `transformers` version: 4.15.0
- Platform: macOS-10.15.7-x86_64-i386-64bit
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?

[2022-01-21 22:52] dan-locke commented on #15289
See Issue #14893. You'll have to pip install from the GitHub source: `pip install transformers git+https://github.com/huggingface/transformers.git` to get working small tracer transformers.

[2022-01-21 22:57] samwarren commented on #15289
working now, thank you!

[2022-01-21 23:31] Chillee commented on #13845
@stas00 We'll be cutting a branch that works with PyTorch 1.11.0, and to be honest, I don't think it'd be that hard to cut a release for 1.10.1 now either.

So, I think the issues with user setup are not that difficult to resolve.

[2022-01-22 00:08] LysandreJik commented on #15279
Pinging @Narsil

[2022-01-22 05:06] dsuess commented on #10816
Great benchmark of the different data types, thanks for sharing.

I've just tested the same script with some of the mbart variants and as expected, fp16 is faster for those.

[2022-01-22 08:44] AlexUmnov opened #15292 "Padding idx in modeling RoBERTa"
There's a padding_idx for positional embeddings in RoBERTa
https://github.com/huggingface/transformers/blob/master/src/transformers/models/roberta/modeling_roberta.py#L98
[code]
This is most definitely a mistake:
First of all, why do you need a padding index for positional embeddings
And second of all, the index of padding is taken from vocab, so if you have a padding token in the end of your voca

[2022-01-22 09:04] NielsRogge commented on #15292
Hi,

Not sure what you mean. If we provide a sentence like "hello world" to RoBERTa that we pad up to a certain length:

[code]
Then it will look like:
[code]
<s>hello world</s><pad><pad><pad><pad><pad><pad>

The position_ids are created internally by the model using the `create_position_ids_from_input_ids` function as seen [here](https://github.com/huggingface/transformers/blob/6ac77534bfe97c00e0

[2022-01-22 09:23] AlexUmnov commented on #15292
Don't we zero out gradients for paddings using masks?
And also if you are right, this still is a problem that padding token should be synchronized between word embeddings and position embeddings
As i'm saying, if you learn a tokenizer and then add special tokens in the end, this code breaks

[2022-01-22 09:43] AlexUmnov commented on #15292
My biggest concern is:
Here we use a padding index id from our word token vocab
[code]
I really don't understand why it has to be this way, especially if the padding id is bigger then `max_position_embeddings`

[2022-01-22 15:01] #14764 closed

[2022-01-22 15:01] #14761 closed

[2022-01-23 07:15] yucongo commented on #8543
[code]

Same here with `!git push` in `colab`. `!GIT_CURL_VERBOSE=1 git push` does not help.

[2022-01-23 09:14] JanSawicki opened #15296 "Question: how to evaluate word similarity with context?"
## ❓ Questions & Help

Hello,
I am trying to evaluate **word similarity** (particularly named entities).

Example:
`I flew to Paris last month.`
`I met a famous celebrity, Paris Hilton.`

Most named entity recognition models (e.g. the default `pipeline('ner')`) will return `Paris` and `Paris Hilton` as named entities.
They look similar, but they represent different entities. My question is:
### Ho

[2022-01-23 15:02] #14798 closed

[2022-01-23 15:02] #14797 closed

[2022-01-23 15:02] #14793 closed

[2022-01-23 15:03] #14791 closed

[2022-01-23 15:03] #14789 closed

[2022-01-23 15:03] #14778 closed

[2022-01-23 15:03] #14696 closed

[2022-01-23 15:03] #14604 closed

[2022-01-23 15:03] #14454 closed

[2022-01-23 15:03] #14222 closed

[2022-01-23 17:22] avmodi opened #15301 "Getting error while saving model"
## Environment info

- `transformers` version: 4.5.1
- Platform: linux
- Python version : 3.6
- PyTorch version (GPU?): gpu
- Tensorflow version (GPU?):
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes
-
- @sgugger Need help with trainer module

Models:
- BERT

- I am using BERT model. The problem arises in trainer module

#15300 File "~/lib/python3.6/site-package

[2022-01-23 17:39] neeraj1909 opened #15302 "RuntimeError: Expected tensor for argument #1 'indices' to have one of the following scalar types: Long, Int; but got torch.cuda.FloatTensor instead (while checking arguments for embedding)"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-5.10.90+-x86_64-with-debian-bullseye-sid
- Python version: 3.7.12
- PyTorch version (GPU?): 1.9.1 (True)
- Tensorflow version (GPU?): 2.6.2 (True)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@LysandreJik @vanpelt  @arfon

## Information
I am using Captum for interpreting

[2022-01-23 19:18] Asocsar commented on #14778
This issue is still not corrected

[2022-01-23 19:20] Asocsar opened #15303 "Nan when training LayoutLM_V2 Model"
## Environment info

- `transformers` version: 4.13.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU) : 1.10.0+cu111
- Tensorflow version (GPU): 2.7.0
- Flax version: not installed
- Jax version: not installed
- JaxLib version: not installed

### Who can help

@NielsRogge

## Information

The model used is LayoutLMv2:

The problem arises

[2022-01-23 23:51] drmacsika commented on #2831
This resolved my issue.

[2022-01-24 01:59] yuwon commented on #5443
@patrickvonplaten Any update on this? Seems `model.generate` is still not compatible with `tf.funtion`.

[2022-01-24 05:13] stas00 commented on #14819
I think so, Tim. Thank you for your practical suggestion! We should try it out and see how it fairs.

@manuelciosici, you were asking earlier if there is something else to work on. Would you like to try to work on adding `--optim adamw_bnb` to HF Trainer?

If yes please read this whole thread, to attempt to wrap your head around the requirements of needing an embedding with layernorm, which we don

[2022-01-24 06:30] jinxinglu commented on #15237
Got it. Thanks very much.

[2022-01-24 06:30] #15237 closed

[2022-01-24 07:28] kapilkd13 commented on #14152
Hi @Rocketknight1  i am still facing this issue. I am not able to save finetuned `TFDistilBertModel` model in keras with `model.save()` . Since the model is wrapped in `tf.keras.Model` I can't use `save_pretrained`.
transformers version: 4.15
Platform: Ubuntu 20
Python version: 3.8
PyTorch version (GPU?):
Tensorflow version (GPU?): 2.6.2
Using GPU in script?: Yes
Using distributed or parallel set-

[2022-01-24 07:47] subhalingamd commented on #14097
Hi. I have done this at https://github.com/subhalingamd/transformers/commit/82db59d553ca870fed69e619d57286bcbed04337. But the list of uninitialized weights doesn't seem convincing at all. Here is the list for reference (for `t5-small`):

[code]

In case of `BartForSequenceClassification` with `facebook/bart-large`, this is how it looks like:
[code]

[2022-01-24 07:53] ypirkani commented on #15220
Hi,
I created a processor with LM using my own data in Urdu Language.
When decoding, I am getting the following error.

ValueError: Input logits of size 412, but vocabulary is size 46

Do I also need to train the model with this processor?

[2022-01-24 08:04] julien-c commented on #8543
Those are usually transient errors, can you try again with flags `GIT_CURL_VERBOSE=1 GIT_TRACE=1` and paste the output to a gist if it occurs again?

[2022-01-24 09:22] hopkin-lai commented on #9631
ImportError: cannot import name 'DatasetInfo' from 'huggingface_hub.hf_api'
I occured the same issue when I am trying to import keyBERT package, and my `pip list` is as follow:
keybert : 0.5.0
transformers : 4.15.0

[2022-01-24 09:41] MetcalfeTom commented on #14097
@stefan-it / @subhalingamd  the code for `BartForSequenceClassification` loads both the encoder and decoder parts for BART, which doesn't follow from the EncT5 paper - `model` should be `T5Encoder` only.

My solution is [here](https://github.com/MetcalfeTom/transformers/pull/1/files), happy to push it, though it's a lot of duplicate code.  Should some refactoring be performed between this and Bart

[2022-01-24 09:56] anuragshas opened #15307 "Robust Speech Challenge Evaluation File does not use entire dataset for metric calculation"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Using GPU in script?: Yes

### Who can help
@patrickvonplaten, @anton-l

## To reproduce

Steps to reproduce the behavior:

1. ~/transformers/examples/research_projects/robust-speech-event/eval.py --model_id ./ --d

[2022-01-24 09:58] pafi-code opened #15308 "Minimal model for writing tests."
# 🚀 Feature request

Add minimal models that satisfy different transformers interfaces.

## Motivation

I'd like to write some tests for a project that uses the transformers package in the background. To test my functionality I somehow need to use a transformers model (or a mock). However typically the models that are available are pretty huge, which typically causes bitbucket pipelines (or what e

[2022-01-24 10:11] pratikchhapolika commented on #14759
Any help please!

[2022-01-24 10:13] pratikchhapolika commented on #14976
Yes, when I do os.environ["WANDB_DISABLED"] = "true". It runs fine.

[2022-01-24 10:32] patrickvonplaten commented on #5443
cc @Rocketknight1

[2022-01-24 10:36] patrickvonplaten commented on #15307
Thanks a lot for opening this issue @anuragshas! Indeed one should comment out this line when evaluating the model actually on the full dataset! I've left it here so that one can easily test the script. Will comment it out on master now :-)

[2022-01-24 10:46] #15307 closed

[2022-01-24 11:04] abhishekkrthakur commented on #14759
Thanks for the ping. I kinda lost it during christmas time.
Unfortunately, im not able to see your pdf file. Could you please upload an ipynb version?

[2022-01-24 11:11] pratikchhapolika commented on #14759
Just change .pdf to .ipynb

[2022-01-24 11:21] ypirkani opened #15311 "Decoding with Wav2Vec2 with Language Model"
Dear All,

I am trying to decode a model with a Language Model:

I made a LM using KenLM from the method provided at : https://huggingface.co/blog/wav2vec2-with-ngram

When decoding, I am getting the following error:
ValueError: Input logits of size 586, but vocabulary is size 44

An brief Introduction:
I am training fine-tuning wav2vec2_base in Urdu Language.
I trained it and tested it without us

[2022-01-24 11:29] Narsil commented on #15279
Hi @kevinpl07 This PR should have fixed the issue. You test ran later, but were you rebased after this PR ?

I ran many tests on a local box without any issue on master just to be sure.

[2022-01-24 12:05] BangDaeng commented on #14839
I have a question and I am writing.

quantized model(hivemind/gpt-j-6B-8bit) and of the original model(EleutherAI/gpt-j-6B)
The generate inference speed is almost doubled(quantized model is much slower)
I wonder if it is normal to come out at that speed or if it can be reduced

[2022-01-24 12:39] sgugger commented on #15301
The error comes from the value you have in `args.sharded_ddp` where `args` is your `MultiModalTrainingArguments` object. Since you did not share the code of that class, there is little we can do to help fix the issue.

Also, please use the [forums](https://discuss.huggingface.co/) to debug your code as we keep the issues for bugs and feature requests only :-)

[2022-01-24 12:41] sgugger commented on #15224
Yes, there are plans to couple this we the `AutoXxx.register` API so that when you register a new architecture, the custom code is copied to the right places when doing `save_pretrained`. I'm hoping to get to this by the end of the week.

[2022-01-24 12:44] ypirkani commented on #15220
https://huggingface.co/yapak1994/Urdu

[2022-01-24 12:47] ypirkani commented on #15220
https://huggingface.co/yapak1994/LM_Test_1

[2022-01-24 12:49] ypirkani commented on #15220
I Have uploaded some of the relevant filles om the above repository.

[2022-01-24 12:51] Rocketknight1 commented on #5443
Hi @yuwon, I'm the current TF maintainer. We've experimented with wrapping all of `generate()` in a tf.function, but we generally find that buffers are not freed properly after each token is generated and OOM errors usually result after a few steps. `generate()` is important and so we're planning a complete investigation of this to see if there's any way we could make it work, but it's a sizeable

[2022-01-24 12:51] justheuristic commented on #14839
Hi! The inference speed is indeed slower due to the fact that you de-quantize weight matrices for every token.
You can **increase the batch size** (i.e. generate several sequences in parallel) to reduce that overhead.

The same is true for training: the fine-tuning speed is not significantly different from the original model because training is parallel over `sequence_length` tokens (while inferen

[2022-01-24 13:01] Narsil commented on #15284
Hi @raphaelsty I am definitely not familiar with Rag.

Looking briefly at the stack, there is indeed no `context_input_ids` passed to  (line 1024), I tried to manually add them just to see, and other errors pop up (linked to tensor dimensions).
Since I am not super familiar I can't say if we shouldn't end in that branch, or if the code has indeed a bug.

Do you mind sharing where you have adapted

[2022-01-24 13:45] patrickvonplaten commented on #15284
I can take a look at it :-)

[2022-01-24 13:49] osanseviero opened #15313 "Push to hub training argument not pushing"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel s

[2022-01-24 13:50] patrickvonplaten commented on #15220
Hey @ypirkani,

The file structure doesn't look correct. Could you please try to follow the guide here: https://huggingface.co/blog/wav2vec2-with-ngram#4-combine-an-n-gram-with-wav2vec2 to create a pyctcdecode beam search decoder with your `.arpa` kenLM and your model?

BTW, we usually don't upload the model as a zipped file as this way it cannot be loaded with `transformers`. Hope this helps

[2022-01-24 14:02] sgugger commented on #15313
That's not the API that was decided. `push_to_hub=True` pushes to the Hub at every save, and you did not pick a `saving_strategy` that triggered a save (it defaults to `"steps"` and there were not enough steps in your training), but it does not push to the Hub at the end of training unless you explicitly asks for it with `trainer.push_to_hub()`

[2022-01-24 14:09] LysandreJik commented on #9631
Could you try upgrading `huggingface_hub` to the latest version?

[code]

[2022-01-24 14:10] LysandreJik commented on #15254
cc @NielsRogge

[2022-01-24 14:14] osanseviero commented on #15313
There was a save. If I do `cd debug-example && git log`, there was a save at step 500. So the model was indeed saved but this did not kicked off a push.
[code]

I don't think [the docstring](https://huggingface.co/docs/transformers/v4.15.0/en/main_classes/trainer#transformers.TrainingArguments) reflects what you're saying about the behaviour. It says it will push after training. Is this something

[2022-01-24 14:18] vvalouch commented on #15254
I was looking into a bit more and I found out that the reason why the torchscript conversion is crashing are following:
1) torch.jit._trace.py ->line 958 module._c._create_method_from_trace is unsqueezing the inputs thus instead of passing original e.g. attention_mask input as {Tensor:(1,241)} it is passing {Tensor:(tensor(1),tensor(241)}
2) modeling_layoutlmv2.forward (line 804) is expecting inpu

[2022-01-24 14:33] sgugger commented on #15313
Ok, so there is definitely something wrong going on with the save not being pushed. I don't get why the model was committed but not pushed since it's all done in the same line inside the `Trainer` by calling `Repository.push_to_hub`. The bug is thus probably inside `huggingface_hub`.

For the choice of API, this was mainly because people (for instance all examples) usually do one last evaluation b

[2022-01-24 15:02] #14809 closed

[2022-01-24 15:02] #14804 closed

[2022-01-24 15:02] #14128 closed

[2022-01-24 15:02] #13958 closed

[2022-01-24 15:06] NielsRogge commented on #15303
Hi @Asocsar,

For training-related questions, can you use the [forum](https://discuss.huggingface.co/)?

I'm suspecting this has to do with the custom loss function being defined, rather than the model itself.

Thanks!

[2022-01-24 15:19] NielsRogge commented on #15289
Closing, since this has been fixed (the small TrOCR models are only supported since the PR linked above, which will be included in the next release).

[2022-01-24 15:19] #15289 closed

[2022-01-24 15:21] NielsRogge commented on #15281
Closing this, as datasets has updated the URL (see https://github.com/huggingface/datasets/issues/3582).

[2022-01-24 15:21] #15281 closed

[2022-01-24 15:22] callzhang opened #15316 "GPT-Neo batch inferencing with sampling results unexpected output"
## Environment info

- `transformers` version: 4.13.0
- Platform: Linux-5.4.0-96-generic-x86_64-with-glibc2.17
- Python version: 3.8.11
- PyTorch version (GPU?): 1.9.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel set-

[2022-01-24 15:23] NielsRogge commented on #15254
Hi,

Currently, LayoutLMv2 is not supported out-of-the-box to work with TorchScript (see #14457). However, there was an effort to make it work (see #14462). Feel free to work further on this to make it available.

[2022-01-24 16:53] lewtun commented on #15123
Thanks for sharing your environment @farzanehnakhaee70!

I did a fresh install with

[code]

and find I am no longer able to reproduce the error (here's a [Colab notebook](https://colab.research.google.com/drive/1DZov6u3KOhoi2WE7K9quDKAjuYVRFDdn?usp=sharing) if you want to verify). This suggests that the error I saw (and possibly in your case too) is a symptom of a problematic environment.

Would

[2022-01-24 20:16] LysandreJik commented on #15308
Do the models available on https://huggingface.co/hf-internal-testing fit your use-case? That's what we use internally for our testing with dummy models.

These are randomly instantiated, however. They should only be used for mock testing.

[2022-01-24 20:18] #14230 closed

[2022-01-24 20:25] #14032 closed

[2022-01-24 23:24] stefan-it commented on #12755
Code snippet that throws the error is:

https://github.com/huggingface/transformers/blob/e65bfc09718f132c76558d591be08c9751dd3ff2/examples/flax/language-modeling/run_t5_mlm_flax.py#L363-L375

I dill'ed/pickled `input_ids` (argument, before it is getting re-shaped):

[code]

And `input_ids_full` is:

[code]

[2022-01-24 23:29] stefan-it commented on #12755
The `input_ids` can be back translated into the following text:

[code]

So `</s>` is missing at the end?

[2022-01-25 01:35] jcsilva commented on #11307
Hi @KB-g, @doublex and @abhirooptalasila,

maybe this [tutorial](https://pytorch.org/audio/main/tutorials/forced_alignment_tutorial.html) helps to find out a way to calculate a "per-word probability". In the function `merge_words`, the author calculates scores for each word based on tokens probabilities and theirs duration.

[2022-01-25 02:33] callzhang commented on #15316
@Narsil Thanks for the prompt reply and fix. Really appreciate that!

[2022-01-25 04:03] hyunwoongko commented on #13690
The following is the abstract class

[code]
and you can use like this. (I'll predefine almost all layer info classes)

BERT:

[code]

GPT2:

[code]
The reason I created these classes is so that I can't modify the code inside the transformers because oslo is an external library now. but It would be easier if we can define them like `config_class` in XXXPreTrainedModel class like:

[code]
Then, we d

[2022-01-25 07:42] farzanehnakhaee70 commented on #15123
Sure.

[2022-01-25 07:43] AlexUmnov commented on #15292
Bump
I'm still struggling with this problem :(

[2022-01-25 08:31] ypirkani commented on #15220
Hi Patrick,
Thanks a lot for your reply.
I am still facing the same issue and I created the decoded as per the guidelines on the link you provided.

Let me point out a few things which I am following.

I am fine-tuning on my own data of Urdu Language.
My training System is as follows:

[code]
tokenizer = Wav2Vec2CTCTokenizer("./vocab.json", unk_token="[UNK]", pad_token="[PAD]", word_delimiter_toke

[2022-01-25 09:29] osamanatouf2 opened #15322 "modeling_visual_bert in case of self.bypass_transformer=True"
https://github.com/huggingface/transformers/blob/05fa1a7ac17bb7aa07b9e0c1e138ecb31a28bbfe/src/transformers/models/visual_bert/modeling_visual_bert.py#L830 The previous line should be changed from encoded_output --> encoder_outputs so that the return statement on line 861 works. Also, the following line https://github.com/huggingface/transformers/blob/05fa1a7ac17bb7aa07b9e0c1e138ecb31a28bbfe/src/tr

[2022-01-25 09:34] pafi-code commented on #15308
Thanks, this is exactly what I was looking for! Are these not meant to be found, or did I just not search good enough? :smile:

[2022-01-25 09:35] NielsRogge commented on #15292
Please refer to the [forum](https://discuss.huggingface.co/) for training-related questions, as we'd like to keep Github issues for bugs/feature requests.

To answer your question, if you have special tokens defined, then the position embeddings will be created properly by the `create_position_ids_from_input_ids` function. No position embedding vector will be learned for padding tokens.

[2022-01-25 09:38] MaxGodTier commented on #14509
Sorry for bumping this, the problem still persists.

[2022-01-25 10:20] yhavinga commented on #12755
@stefan-it thanks for diving into this!
@patrickvonplaten apologies for not responding earlier, the flax/jax week was pretty hectic & time constrained. To answer your question: the error doesn't occur often and takes in the order of hours to occur.

The reshape error I got is caused by a single special token (0) in the input_ids, which causes filter_input_ids() to remove one token too many, result

[2022-01-25 10:24] patrickvonplaten commented on #12755
Thanks for those examples guys! I'll try to dive into it this week!

[2022-01-25 10:25] patrickvonplaten commented on #15284
Thanks a lot for posting a sample for future readers

[2022-01-25 10:25] #15284 closed

[2022-01-25 10:33] patrickvonplaten commented on #15313
I think in any way we should probably update the docstring because `push_to_hub` pushes the model depending on the `saving_strategy` and I think most people use `"steps"` meaning no? So I think we should state that `push_to_hub` uploads all saved checkpoints during the training to the hub.

In my opinion `push_to_hub` should be very closely tied to saving the model during training in the sense tha

[2022-01-25 11:01] patrickvonplaten commented on #15220
Hey @ypirkani,

Sadly, the model is still in zipped format on the Hub here: https://huggingface.co/yapak1994/LM_Test_1/tree/main . Could you please not zip any files and upload them as standalone files to the repo? E.g. the following command should work:

[code]

but it currently doesn't

[2022-01-25 11:44] AlexUmnov commented on #15292
Sorry if i'm being too persistent, but i'm fairly certain that it's a bug. Let me bring everything in one comment, so it will draw a full picture. I can try and make a minimal breaking example, but it's fairly complicated, to be honest.
So imagine we have a RoBERTa tokenizer with vocab size of 30000 and maximum length of 512. We trained the tokenizer agnostic to the model, so we add necessary spec

[2022-01-25 11:51] erip opened #15323 "MarianMT models translating valid Chinese sentences to empty string"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-3.10.0-1160.53.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.12
- PyTorch version (GPU?): 1.10.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or

[2022-01-25 12:34] stefan-falk commented on #15196
@patrickvonplaten I see. Thanks for that info. But does that mean that the number of samples (audio samples) stays constant no matter how long the input is? So I get 20x 5 seconds as well as 20x 20 seconds in a batch?

The way Tensorflow bucketing works is we can actually vary the number of samples in a batch. With the Transducer I have buckets which are 300ms apart and the longer the maximum leng

[2022-01-25 14:01] danielbellhv opened #15325 "OSError: You seem to have cloned a repository without having git-lfs installed. Please install git-lfs and run `git lfs install` followed by `git lfs pull` in the folder you cloned."
I'm using Jupyter Labs on AWS SageMaker.

Kernel: `conda_pytorch_p36` and did Restart & Run All.

I `git cloned` this [repo](https://huggingface.co/textattack/albert-base-v2-MRPC/tree/main).

Attempt at installing `git-lfs`:
[code]

Running `fit lfs fetch` or `git lfs pull` after doesn't change Traceback.

[code]

Traceback:
[code]

**albert-base-v2-MRPC/**
[code]

Please let me know if there's an

[2022-01-25 14:05] sgugger commented on #15313
So, following that logic, the model should not be pushed at the end of training unless the user does `trainer.save_model()` (or `trainer.push_to_hub`) since there is no save at the end of the train method. That works for me too.

[2022-01-25 14:09] LysandreJik commented on #15313
I'm fine with 2), but I wonder if there are use-cases where users don't want to save the model at the end of their training? Fine with me to clarify that `push_to_hub` pushes to hub everytime the model is saved, with an emphasis on the `saving_strategy` and  the possibility to call `trainer.save_model()` at any point to push to the hub.

[2022-01-25 14:38] manuelciosici commented on #14819
@stas00 Thank you for the opportunity. I will read the thread today and add `--optim adamw_bnb`.

[2022-01-25 15:06] #14824 closed

[2022-01-25 15:10] danielbellhv commented on #15325
I've now **installed and initialised GIT LFS in cloned folder**.

Terminal:
[code]

[2022-01-25 15:12] #15325 closed

[2022-01-25 15:50] tshu-w commented on #14931
active

[2022-01-25 15:55] yinzhangyue commented on #15171
OK Thx!

[2022-01-25 15:55] #15171 closed

[2022-01-25 17:51] flozi00 opened #15330 "Deepspeed Wav2vec xlsr bug"
## Environment info

- `transformers` version: master
- Platform: ubuntu
- Python version: 3.9
- PyTorch version (GPU?): yes
- Tensorflow version (GPU?):
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: deepspeed

### Who can help

@stas00 @patrickvonplaten  @anton-l

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the officia

[2022-01-25 18:20] prateekralhan opened #15331 "Using HuggingFace Models for Text Translation of sensitive data"
Hello folks,

Wish you all a belated happy new year! 🎉

First of all, thanks a ton for creating such transformers which have "transformed" the entire NLP landscape. 🤗

### Objective 🎯
I am working on developing a web application for performing multilingual translation using mBart and transformers of textual information found in documents - PDFs, word files etc. A basic prototype has been implement

[2022-01-25 20:21] Omarnabk opened #15333 "Fine-tune wave2vec trained checkpoint"
The tutorial of wav2vec says that the encoder model was originally trained on the common voice dataset. but all the fine-tuning tasks were trained on datasets from common voice. When fine-tuning wav2vec2 model, we fine-tuning the final linear classification layer only, right?

If this is the case, why don't you release the lm.weights and lm.biese for each language?

I am asking because I have a fi

[2022-01-25 20:57] deppen8 opened #15334 "Documentation for SegFormer includes improperly-formatted table"
## Environment info

- `transformers` version: 4.13.0 - present (4.15.0)

@sgugger , this is a documentation issue

## Information

The [SegFormer doc page](https://huggingface.co/docs/transformers/model_doc/segformer) has an improperly-formatted table for the different model variants.

I think the fix should be to add a dividing line between the header and the body of the table.

[code]

The fina

[2022-01-25 21:33] stas00 commented on #13690
I think your proposal for the models to provide additional meta data is great, especially if multiple frameworks could use those.

So in your example:
[code]

So we just need to think about good naming for each of these and then propose a PR to start adding those to the existing classes.

I'm not saying your naming is not good, just saying that others may have a different opinion.

@RezaYazdaniAmi

[2022-01-25 21:35] LysandreJik commented on #15331
You're using the inference API, right? cc @Narsil

[2022-01-25 21:35] sgugger commented on #15334
cc @NielsRogge What do you think?

[2022-01-25 21:43] hyunwoongko commented on #13690
Cool ! Me and Jake will make PR about this.

Also good.

Only for TP. My new PP engine does not require any meta information and modeling code change.

I understand what you are saying. I'll make a new RFC, and let's discuss on there.

[2022-01-25 21:44] NielsRogge commented on #15334
Hi, I indeed saw that the table needs an update as we updated all docs from rst to markdown.

Would be great if you could open a PR for this! Thanks.

[2022-01-25 21:45] hyunwoongko commented on #13690
I think it's no. DS-inference and my engine have difference mechanism.

[2022-01-25 23:59] stas00 commented on #13690
Right, so then let's think of a few consumers and declare additional metadata for those (if the maintainers will agree of course). That's also another reason why I'm proposing to start small with just a few models in case it doesn't accepted.

So looking at https://github.com/huggingface/transformers/blob/d169b8dadf67ac179c286257349fba319132873a/src/transformers/deepspeed.py#L35-L50 it looks like

[2022-01-26 00:05] stas00 commented on #13690
the other approach is to of course maintain this table separately, as I linked to in the comment above, so for your example, it could just be:

[code]

which would be much easier to maintain should tomorrow you'd want to add/remove some of these.

the detriment is that they are not following the locality rule so should the model change, this will break. This is of course is very unlikely to happen

[2022-01-26 00:48] aqred1 opened #15336 "Perplexity VERY high but generated text coherent"
I have trained GPT2 from scratch on a minority language which I tokenized with BPE.

When I finished training, the perplexity on the eval set was `678.80`, so I thought the model was really bad.

I however tried to sample from the model using very different sampling procedures, and finally got very coherent texts with the following parameters:

`model.generate(input_ids, do_sample=True, top_k=950,

[2022-01-26 01:41] zhangbo2008 commented on #15153
i am trying to read and learn the rust code in tokenizers library. rust is difficult to use . It is hard to config for VS code to run rust code . perhaps there is no IDE like pycharm for RUST.

[2022-01-26 01:46] yananchen1989 opened #15338 "preprocessing_num_workers missing in run_summarization_no_trainer"
Hello, I find that in script: https://github.com/huggingface/transformers/blob/master/examples/pytorch/summarization/run_summarization_no_trainer.py

The `preprocessing_num_workers` does not exist. It just appears in the arguments, but does not take effect in dataset map operations.

So is it intentionally missing ?

[2022-01-26 01:52] stas00 commented on #15330
It's very possible the problem is not related to deepspeed as it fails inside `modeling_wav2vec2.py`, but it could be related just as well.

I don't think any of these newly added functioinalities were ever tested with Deepspeed, so I have no idea whether it's supposed to work or not.

The test that I wrote: `examples/research_projects/wav2vec2/test_wav2vec2_deepspeed.py` tests `examples/research_

[2022-01-26 03:42] JucyCherry opened #15339 "how can i write tensorboard when i train model with the script "run_speech_recognition_ctc.py""
I found that there was no "outputdir/runs/" directory created  during training ，is there any params to write tensorboard？
 @sgugger @patrickvonplaten @anton-l

## Environment info
transformers 4.16.0.dev0

[2022-01-26 05:24] nghuyong opened #15340 "CPU OOM when using IterableDataset with dataloader_num_workers > 0"
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-3.10.107-1-tlinux2_kvm_guest-0049-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:  Yes
- Using distributed

[2022-01-26 05:57] frankxu2004 commented on #14629
I wonder if there are any updates on this @sdtblck ?
Any help would be greatly appreciated!

[2022-01-26 06:11] xiaolang01 opened #15341 "ValueError: No valid checkpoint found in output directory"
import sys
sys.path.append("./NeZha_Chinese_PyTorch-main/")
from transformers import  BertTokenizer, WEIGHTS_NAME,TrainingArguments
from model.modeling_nezha import NeZhaForMaskedLM
from model.configuration_nezha import NeZhaConfig
from transformers import (
    DataCollatorForLanguageModeling,
    Trainer,
    TrainingArguments,
    LineByLineTextDataset
)
from transformers import BertTokenizer
#

[2022-01-26 06:56] flozi00 commented on #15330
I am not using the research folder, the script is from the pytorch/speech-recognition

[2022-01-26 06:58] Ethan-yt commented on #15340
DO NOT USE `from itertools import cycle`

[2022-01-26 07:18] stas00 commented on #15330
That's exactly what I was trying to say. When I ported wav2vec2 to work with Deepspeed I wrote a set of tests to validate it continues working.

When continued work on wav2vec2 was done, those tests weren't adopted to the new scripts. So I have no idea whether the new functionality requires some changes in the model or the error you have encountered has nothing to do with using Deepspeed itself.

[2022-01-26 07:26] tshu-w commented on #14931
@lhoestq Hi, can you look at this issue. I don't know whether I should reported in datasets or transformers.

[2022-01-26 07:31] nghuyong commented on #15340
@Ethan-yt  It works👍

[code]

![image](https://user-images.githubusercontent.com/16462374/151121188-db7d6a90-b5e4-41df-a787-6e4a7a82439a.png)

[2022-01-26 07:51] Dicer-Zz opened #15342 "random word masking index shouble be great than 0"
## Information

https://github.com/huggingface/transformers/blob/05fa1a7ac17bb7aa07b9e0c1e138ecb31a28bbfe/src/transformers/data/data_collator.py#L771

This line should be:
[code]
because random word masking index should be great than 0 (0 means [PAD] in bert's vocabulary).

I found the bug when I want to change masked input_ids to tokens using tokenizer.convert_ids_to_tokens. If replace a masked i

[2022-01-26 08:27] nghuyong commented on #15340
@sgugger
When I use IterableDataset and dataloader_num_workers > 0, should I manually handle multiprocessing in the __iter__ follow the https://pytorch.org/docs/stable/data.html#multi-process-data-loading

![image](https://user-images.githubusercontent.com/16462374/151128420-b8372fcf-f4ee-4239-a426-05272c5f4754.png)

[2022-01-26 08:29] hyunwoongko commented on #13690
Yes, I am automating the parameter name searching via torch.fx. but for this, I need to know the class name of attention and mlp. I think defining class is easier than defining parameter names for users point of view.

I will try that method (configuring with dict object, not the class)

Yes I don't think it affects anything else. If we use oslo in `from_pretrained` as I suggested, we can use it b

[2022-01-26 08:32] hyunwoongko commented on #13690
I'll make TP PR today.

[2022-01-26 08:34] Narsil commented on #15331
Hi @prateekralhan ,

Your demo code doesn't use the API but seems to be using Streamlit, so I guess you envision using Spaces ?

If that's the case, I suggest you look a bit more into the API https://api-inference.huggingface.co/docs/python/html/index.html since Spaces currently has no commercial offering.

For the API.
Currently, all requests are logged in our secure servers.
Access is only grant

[2022-01-26 08:34] stefan-falk commented on #15196
@patrickvonplaten Since I've already created this issue here: It's just a minor thing but in the tutorial we're setting the `ctc_loss_function` to `"mean"`:

[code]

Now, in version 4.12.5 we cannot set it like this (same for `pad_token_id`). Instead this argument appears to have moved to the `Wav2Vec2Config` where its default value is `"sum"` however.

Could this have any effect on training/perfo

[2022-01-26 09:18] hyunwoongko commented on #13690
@stas00 how about this?

- transformers/model_parallelism/
  - tensor_parallel_mapping.py (<--- tp_map)
  - deepspeed_inference
    - code of ds-inference ...
  - oslo
    - mpu.py
    - tensor_parallel_engine.py
    - pipeline_parallel_engine.py (later PR)

[2022-01-26 09:18] ypirkani commented on #15220
HI Patrick,

Here is the model: yapak1994/Urdu_ASR_wav2vec2_base_Model
Tokenizer without LM: yapak1994/Urdu_ASR_wav2vec2_base
Tokenizer with LM: yapak1994/Urdu_ASR_wav2vec2_base_LM

[2022-01-26 09:25] hyunwoongko commented on #13690
@siddk @jaketae Let's set the role like this. I'll write a TPEngine PR today. I will only upload the engine part, so please add the part that makes this available in trainer or from_pretrained. In other words, I am in charge of the parallel engine part of oslo, and you guys are in charge of the transformers integration part. I was going to complete the PP engine and write a PR, but it would be bet

[2022-01-26 09:26] julien-c commented on #5986
Forgot to update this issue at the time, but note that this now works transparently

[2022-01-26 09:28] julien-c commented on #10008
i think checkpoint-splitting (#13548) is going to be a better/more future-proof solution than compression (on top of already compressed binary files) where the size delta is going to be rather minimal

So I'd vote to close this issue and focus on #13548

[2022-01-26 09:31] petrLorenc commented on #1788
I think that it would also depend on train data on which the BERT model was trained on (from the paper " For the pre-training corpus we use the BooksCorpus (800M words) (Zhu et al., 2015) and English Wikipedia (2,500M words)."[1].

[1] - https://arxiv.org/pdf/1810.04805.pdf

[2022-01-26 09:52] hyunwoongko commented on #13690
@RezaYazdaniAminabadi How about the following map?
I've rewritten the code to use the same format map as yours.

[code]

[2022-01-26 09:58] olafthiele commented on #15311
Have you checked that you are using the same vocabulary for both and what code are you using for inference?

[2022-01-26 10:00] olafthiele commented on #15236
You can run a hyperparameter search by inferencing a test set with different alpha and beta values. But if you have a small language model there might not be a difference. Maybe use a larger language model or larger test set.

[2022-01-26 10:11] olafthiele opened #15344 "wav2vec with LM leads to CPU OOM"
## Environment info
I used the code described in the blog post for [wav2vec with LMs](https://huggingface.co/blog/wav2vec2-with-ngram). Also posted this [on the forum](https://discuss.huggingface.co/t/wav2vec-with-new-lm-causing-cpu-oom/14069) and will update both.

### Who can help
@patrickvonplaten, @anton-l and whoever can help.

Models:
Wav2Vec2ProcessorWithLM with pyctcdecode

## To reproduce

[2022-01-26 10:12] yinzhangyue opened #15345 "DebertaV2 For run_qa.py"
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-4.4.0-142-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.10.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.3.5 (cpu)
- Jax version: 0.2.22
- JaxLib version: 0.1.72

## Models:

- [microsoft/deberta-v2-xlarge](https://huggingface.co/microsoft

[2022-01-26 12:10] #15334 closed

[2022-01-26 12:11] sgugger commented on #15340
Yes, that's your responsibility, as the PyTorch doc highlights.

[2022-01-26 12:56] JJumSSu opened #15347 "A few minor questions regarding run_summarization.py in examples"
Hi, thank you for the amazing repo.

I'm currently using the script `run_summarization.py` from examples (I'm using ver 4.15.0).
When I run the code below, it seems that my trained model is not using beam search during generation.
Am I correct?

[code]

Furthermore, when I set 'evaluation_strategy' to either `epochs `or `steps `, the performance of the validation set during training and the final

[2022-01-26 13:03] JJumSSu commented on #15347
Also, what does `task_specific_params `do during running the script `run_summarization.py`?
When I am initializing the T5-model, the model configuration includes such parameters.
[code]

[2022-01-26 13:06] lucasleesw commented on #13690
@hyunwoongko I think the additional meta data is great! Our code for tensor parallelism is rely on a similar feature dict like yours. Our dict is look like:
[code]
Obviously the feature dict is not good for a long-term perspective.
Additional metadata is a great idea and I am wandering your opinion about modules apart from attention and mlp, how about other module such as linear module and convolu

[2022-01-26 13:32] hyunwoongko commented on #13690
Hello @lucasleesw. Thanks to answer!

1. Tracing the graph.
2. Find the last forwarded linear and conv layers in the Attention module and row-parallelize them.
3. Find the last forwarded linear and conv layers in the MLP module and row-parallelize them.
4. Column-parallelize all linear and conv in the module list.

It worked well for almost all transformers models. Of course there may be exception

[2022-01-26 13:47] hyunwoongko commented on #13690
However, my implementation is rather risky, so it's a good idea to safely create a dict map. Prior to this version of implementation, I and Reza succeeded in omitting column parallel dict map by the following method:

1. get the name of row parallel linear from user
2. row-parallelize the corresponding layers
3. finally column-parallelize all the remaining layers of the module list.

[2022-01-26 13:57] hyunwoongko commented on #13690
In fact, I think that the method of omitting column parallel linear is also somewhat risky. Therefore, @lucasleesw's method, which defines both column parallel linear and row parallel linear names, is the safest. @stas00 Be aware that the more omissions there are, the less reliable the engine is. I think @lucasleesw's dictionary is the safest and best.

[2022-01-26 13:58] lucasleesw commented on #13690
Hi @hyunwoongko. Thank you for your reply. I got your idea about linear or conv1d layer in the Attention module or MLP module and I think it is great.
And indeed this would be kind of risky. For example, how about conv2d layers in `src/transformers/models/vit/modeling_vit.py`?
In our implementation, we built some api to help users built the dict map to handle this exception but we found it is hard

[2022-01-26 14:00] hyunwoongko commented on #13690
@lucasleesw I agree with you. Defining both columns and rows is probably the safest and most extensible way.

[2022-01-26 14:05] hyunwoongko commented on #13690
@stas00 I initially used the method of defining both column and row parallel parameters, but since the process of defining them is quite difficult, I experimented with many ways to create a simple tensor parallelization map. But the simpler it got, the more exceptions it got. So, like @lucasleesw's method, it would be best to use all three pieces of information: column, row, and mp_param.

[2022-01-26 14:06] hyunwoongko commented on #13690
@lucasleesw Omitting column parallel linear won't cause any problems in vit. Because embedding is not in the module list.

[2022-01-26 14:15] hyunwoongko commented on #13690
@lucasleesw I'm also wondering about your pp implementation. could you let me know? I used deepspeed pp in the beginning, but now we are implementing the same method with sagemaker pp.

[2022-01-26 14:35] lucasleesw commented on #13690
@hyunwoongko You are right, thanks again for your inspiration.
Our implementation will be available very soon, we look forward for your advice.

[2022-01-26 15:06] #14612 closed

[2022-01-26 15:07] #14086 closed

[2022-01-26 15:13] hyunwoongko commented on #13690
@lucasleesw I will upload a PR for tensor parallel mapping today. I ask for this. How did you deal with the fused attention module (like gpt2, transfo_xl)?

[2022-01-26 15:52] wikman opened #15349 "-"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2022-01-26 15:53] #15349 closed

[2022-01-26 16:23] prateekralhan commented on #15331
@Narsil  and @LysandreJik , thank you for the clear explanation. This answers my doubt! 😄

[2022-01-26 16:23] #15331 closed

[2022-01-26 16:34] lhoestq commented on #14931
Hi ! This should be handled by `datasets` IMO - feel free to create an issue in the dataset github repository: https://github.com/huggingface/datasets

I tried running the code above but the hash didn't change, I wasn't able to reproduce the issue

[2022-01-26 16:48] stas00 commented on #10008
Sounds good, Julien. Let's close this one.

[2022-01-26 16:48] #10008 closed

[2022-01-26 18:47] ssriram1978 opened #15354 "GeneratorExp aren't supported by torch.jit.script when I try to export a previously trained model 'google/vit-base-patch16-224-in21k'."
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel se

[2022-01-26 19:12] stas00 commented on #13690
So we have at least 3 possible "consumers" of additional model metadata at the moment: @hyunwoongko, @lucasleesw and @RezaYazdaniAminabadi - so perhaps instead of maintaining 3 different tables, would you agree on having one that contains all the fields that you need? and you can discuss between yourselves how you prefer to call those. We can give the new names a period of "experimental and a subj

[2022-01-26 19:37] saahiluppal opened #15358 "Ignored unknown kwarg option direction, while running run_mlm.py (pytorch)"
transformers_version == '4.16.0.dev0'

using script ```run_mlm.py``` (pytorch)
with following parameters
[code]

when i pass in the parameter ```--line_by_line```, this happens
[code]

my train_file is in the form
[code]

is this expected?

PS:
using custom tokenizer made via
[code]

[2022-01-26 20:33] hugoabonizio opened #15359 "Error when running the T5 pre-training script"
## Environment info

- `transformers` version: 4.15.0
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.6 (tpu)
- Jax version: 0.2.26
- JaxLib version: 0.1.75
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

###

[2022-01-26 20:57] stefan-it commented on #15359
Hey @hugoabonizio , could you please have a look at:

https://github.com/huggingface/transformers/issues/12755

I've seen the same issue, my current workaround is to try-catch `data_collator` calls:

[code]

[2022-01-26 21:08] hugoabonizio commented on #15359
Hi @stefan-it, sorry, this issue sliped under my radar :sweat_smile:

Thank you for the code snippet, I was thinking on a similar workaround but will use yours.

[2022-01-26 22:00] LysandreJik commented on #15308
They're used for our internal testing and not really intended for public usage, so we don't really communicate about it. Now that we're aware that some users may find them useful, we should do a better job of advertising them :)

[2022-01-26 23:05] SaulLu commented on #15283
Intriguing behavior indeed! :male_detective:

By digging a little, I personally think that the problem comes from the fact that the slow version of the tokenizer can save a `"tokenizer_file"` key in the `tokenizer_config.json` file. Indeed, if the tokenizer is of a fast type then in this case, the key cannot be saved in the `tokenizer_config.json`. This is due to the fact that `"tokenizer_file"` i

[2022-01-26 23:43] hyunwoongko commented on #13690
I opened a PR !

[2022-01-26 23:52] zoltan-fedor commented on #7336
Hi @adamwawrzynski, @patrickvonplaten,

The issue is caused by `random_start = random.randint(0, len(random_document) - 1)` having a zero length `random_document`.

Just run the following and you will get the same error:
[code]

The zero length `random_document` can occur if for example the data file's last line is an empty line.

You can solve for this either by ensuring that there is no empty li

[2022-01-27 00:16] ManuelFay commented on #15344
https://github.com/huggingface/transformers/blob/v4.15.0/src/transformers/models/wav2vec2_with_lm/processing_wav2vec2_with_lm.py#L307

I believe closing the pool process here should solve the issue !

[2022-01-27 03:20] tshu-w commented on #14931
@lhoestq  Hi, I reported this on datasets https://github.com/huggingface/datasets/issues/3638

[2022-01-27 03:50] ypirkani commented on #15220
HI Patrick,

Here is the model: yapak1994/LM_TEST_1/wav2vec2-large-xlsr-Urdu

[2022-01-27 04:25] ypirkani commented on #15311
Hi olafthiele,

I am making my arpa file from the same text I am using for training the model and generating the processor.

for inference code is following,

`import soundfile as sf
import torch
from datasets import load_dataset
from transformers import Wav2Vec2ForCTC, Wav2Vec2Processor
import os

from transformers import AutoProcessor, AutoModelForCTC

processor = AutoProcessor.from_pretrained("

[2022-01-27 04:25] ypirkani commented on #15220
I am making my arpa file from the same text I am using for training the model and generating the processor.

for inference code is following,

`import soundfile as sf
import torch
from datasets import load_dataset
from transformers import Wav2Vec2ForCTC, Wav2Vec2Processor
import os

from transformers import AutoProcessor, AutoModelForCTC

processor = AutoProcessor.from_pretrained("yapak1994/Urdu_A

[2022-01-27 05:00] ypirkani commented on #15220
Secondly, How to I push the Wav2Vec2ProcessorWithLM to HF repo ?

[2022-01-27 05:15] meguruin opened #15362 "Unexpected shape of "past_key_values" of ProphetNetDecoder.forward()"
## Environment info

- `transformers` version: 4.15.0
- Platform: colab
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111
- Tensorflow version (GPU?): 2.7.0
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten, @LysandreJik

## Information

Model I am using (Bert, XLNet ...): ProphetNet

The problem arises when using:
*

[2022-01-27 07:36] olafthiele commented on #15344
Kudos to you, Manuel. Closing the pool solves the problem, feel free to submit a PR or @patrickvonplaten?