[2021-02-15 17:31] amogkam commented on #10190
Hi @neel04 can you add this arg to `trainer.hyperparameter_search`:

[code]

This will let Tune know to reserve 1 CPU and 1 GPU for each trial.

Also, after instantiating your training_args, but before passing it into the `Trainer` can you also add this: `training_args._n_gpu = 1`.

Here is a more up to date example if you want to try it out and see if it works for you: https://github.com/amogkam/

[2021-02-15 17:46] neel04 commented on #10190
@amogkam Bless you sir! I am now getting mostly 100% GPU usage (but only around 6-7GB VRAM usage out of available 16Gb).
However, each of my trial is failing with this error:-
[code]
Is it something related to `ray/tune` or is this a wrong argument on my part?

[2021-02-15 17:47] stas00 commented on #10188
Retrieved the backtrace:

The error is: RuntimeError: Address already in use

Which means that more than one of these was running at the same time or one from previous run is  zombie and is holding this port. Probably need to try to catch that case and try a different port. I will have a look

Full trace:
[code]

[2021-02-15 17:58] patrickvonplaten commented on #10164
Yeah, I think this would be a good idea! Think it's only T5 so only `run_seq2seq.py`

[2021-02-15 18:01] patrickvonplaten commented on #10142
Thanks a lot for this issue @dsgissin! Will take a look this week!

[2021-02-15 18:07] MorenoLaQuatra opened #10197 "Fine-tuning Seq2Seq models for Machine translation"
Good morning,

@micheledaddetta1

We were experimenting with Seq2Seq models such as MarianMT or T5.
I was wondering if there is a common way to fine-tune those models with custom datasets for the machine translation task.
Specifically we did the following:

[code]

Is it correct to directly use `outputs.loss` to optimize the model for the machine translation task?

[2021-02-15 18:15] biro-mark commented on #10180
I figured out how to do it. Within python, you have to use `model.save_pretrained("path/to/output_dir")` where `model` is the fine-tuned `model = DistilBertForTokenClassification.from_pretrained('distilbert-base-uncased', num_labels=...)`

Then inside an empty directory, run
`python -m transformers.convert_graph_to_onnx --model path/to/output_dir --framework pt --tokenizer distilbert-base-uncased

[2021-02-15 18:15] #10180 closed

[2021-02-15 18:22] amogkam commented on #10190
Ah this is because you are passing in `'accuracy'` as the `compute_objective` to `hyperparameter_search`. The `compute_objective` should actually be a function that computes the objective to minimize or maximize from the metrics returned by `evaluate`. You can also not pass one in, and it will default to `trainer_utils.default_compute_objective`.

[2021-02-15 18:38] biro-mark opened #10198 "ONNX Export - cannot resolve operator 'Shape' with opsets: ai.onnx v11"
## Environment info
- `transformers` version: 4.3.2
- Platform: Windows-10-10.0.18362-SP0
- Python version: 3.8.7
- PyTorch version (GPU?): 1.7.1+cu110 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help
@LysandreJik

## Information

Model I am using: DistilBertForTokenClassification

The problem

[2021-02-15 18:39] neel04 commented on #10190
Wow, I can't believe I missed that. Super! :+1: :100: :1st_place_medal:

[2021-02-15 18:39] #10190 closed

[2021-02-15 18:44] brightbsit opened #10199 "StopIteration error happened"
I'm using cuda11.0 with RTX3090.(using ubuntu 18.04)
I don't know how can I solve this problem.

I saw some people solve this StopIteration error with downgrade torch.

But rtx3090 is only compatible with cuda 11.

Please help!

[pip list]
anytree           2.8.0
apex              0.1
boto3             1.16.63
botocore          1.19.63
certifi           2020.12.5
chardet           4.0.0
cycler

[2021-02-15 19:05] neel04 commented on #10190
@amogkam MIssed that :( thanx a lot for taking the time out to help me!! :+1: :100: :1st_place_medal:
Thanx to amogkam's comment, the issuse described here has been resolved, so I am closing this. but it is still giving the error:-
[code]
It's not clear to me why there is a whole string of errors on code copy/pasted from training models (which executes successfully). but there are 2 issues:-

1. F

[2021-02-15 19:12] amogkam commented on #10190
@neel04 are you running this example- https://github.com/amogkam/ray/blob/hf-pbt/python/ray/tune/examples/pbt_transformers/pbt_transformers.py? This is the most up to date one and should work with transformers v4.

[2021-02-15 19:17] neel04 commented on #10190
I think the example is a bit verbose and some of it goes over my head :) So I am having difficulty in identifying what steps I have configured wrong and what exactly needs to be corrected

[2021-02-15 19:20] biro-mark commented on #10198
Sorry I think I misinterpreted the operators table https://github.com/onnx/onnx/blob/master/docs/Operators.md and `Shape` should have been available since opset 1, getting an update in opset 13.

This seems to be an issue with `onnxjs` not implementing the full set of operators in opset 11.

[2021-02-15 19:20] #10198 closed

[2021-02-15 19:22] amogkam commented on #10190
OK got it. The stack trace you just posted is coming from the `compute_metrics` that is passed into your `Trainer`. What does that look like?

[2021-02-15 19:27] neel04 commented on #10190
`compute_metrics` is standard code from the official example:-
[code]
It worked perfectly when training the model without any tuning, so I doubt the true error originates from here

[2021-02-15 19:39] amogkam commented on #10190
The stack trace says `line 5, in compute_metrics` so I thought it was coming from there. Do you mind sharing your full code to reproduce this?

[2021-02-15 20:15] nreimers commented on #876
Hi @corticalstack
I think the allenai SPECTER model is not that great for this. It was trained for the task of paper recommendation, i.e. you input a title and an abstract of an paper and the model can return similar papers.

For semantic search, where you input a query or question, I don't expect the model to work that well.

For the encoding: I would split a paper into paragraphs and then encode

[2021-02-15 20:23] corticalstack commented on #876
@nreimers Really appreciate the swift feedback and sharing your expertise, thanks! I will take a look at splitting by paragraph, and will most certainly jump on the unsupervised feature as soon as it becomes available. What's the best channel to watch out for it becoming available?

Will focus on BM25, at least on combination semantic.

Thanks again for all your shared knowledge in this thread, ex

[2021-02-15 20:38] nreimers commented on #876
@corticalstack I will likely post it on twitter once the tutorial for unsupervised semantic search training becomes available:
https://twitter.com/Nils_Reimers

Otherwise, it will appear on www.SBERT.net in a new section on the left side: Unsupervised Training.

Combing semantic search and BM25 results proved quite effective for me. I combined these two via:
final_score = bm25_score_i / max(bm25_s

[2021-02-15 20:45] naveenjafer commented on #10158
@LysandreJik
The current implementation for a single mask returns the data as a list of

[code]

When returning the results for sentences with multiple masks, it is not possible to maintain the same return format of the JSON. I propose to have a different pipeline call for this 'fill-mask-multiple' or something along those lines.  The return format I have proceeded with is

[code]
Some minor chang

[2021-02-15 21:14] corticalstack commented on #876
Any suggestion on dataset for benchmarking semantic search please - I was thinking MS Marco but [this article says no](https://www.kdnuggets.com/2020/04/ms-marco-evaluate-semantic-search.html)

[2021-02-15 21:27] neel04 commented on #10190
Sure. Sorry if the code is a bit verbose.
[code]

[2021-02-15 21:51] SamuelLarkin commented on #10140
What if instead you derive from `Trainer` and override `create_optimizer_and_scheduler()` and have that function set your different learning rates?

[2021-02-16 03:22] stas00 commented on #10044
conversion to `datasets` status:

* [x] wmt16-en-ro-pre-processed https://huggingface.co/datasets/stas/wmt16-en-ro-pre-processed
* [ ]
* [ ]
* [ ]

[2021-02-16 03:43] juice500ml commented on #8787
Had the similar issue with the above. What @aleSuglia suggested indeed works, but the issue still persists; fast version of the tokenizer should be compatible with the previous methods. In my case, I narrowed the problem down to `InputExample`, where `text_b` can be `None`,  https://github.com/huggingface/transformers/blob/447808c85f0e6d6b0aeeb07214942bf1e578f9d2/src/transformers/data/processors/u

[2021-02-16 03:48] mmoya01 commented on #9745
Hi @patrickvonplaten thank you for your reply and the blog post. I was following your [notebook](https://colab.research.google.com/drive/1Ekd5pUeCX7VOrMx94_czTkwNtLN32Uyu?usp=sharing) and trying to adapt it to the [longformer2roberta-cnn_dailymail-fp16](https://huggingface.co/patrickvonplaten/longformer2roberta-cnn_dailymail-fp16) work using my own `train_data` and `val_data`. wondering, how could

[2021-02-16 03:51] mingruimingrui opened #10201 "Better Fine-Tuning by Reducing Representational Collapse"
# 🚀 Feature request

Add r3f/r4f to some popular objective functions as suggested by [Armen et. al](https://arxiv.org/abs/2008.03156).

## Motivation

Finetuning is a primary use case of many users of the transformers library.
We can use r3f/r4f to reduce representation collapse by vocabulary inefficiencies.
This is also a relatively cheap feature to implement.

## Your contribution

Will do PR if

[2021-02-16 04:13] saichandrapandraju commented on #10186
Thanks @LysandreJik

[2021-02-16 04:15] saichandrapandraju commented on #10151
Thanks @stas00 for sharing your work. I'll implement DeepSpeed with  HF..

[2021-02-16 05:36] minimaxir opened #10202 "Fast Tokenizers instantiated via vocab/merge files do not respect skip_special_tokens=True"
## Environment info
- `transformers` version: 4.3.2
- Platform: macOS-11.2.1-x86_64-i386-64bit
- Python version: 3.9.1
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

## Information

See title; this issue does not reproduce with slow tokenizers. Does not reproduce with serializ

[2021-02-16 05:51] DarshanDeshpande opened #10204 "1.3GB dataset creates over 107GB of cache file!"
## Environment info

- `transformers` version: 4.4.0 dev0
- Platform: Google Colab
- Python version: 3.6
- PyTorch version (GPU?): 1.7
- Tensorflow version (GPU?): None
- Using GPU in script?: None. Colab TPU is used
- Using distributed or parallel set-up in script?:  Using default ```run_mlm.py``` script

### Who can help
@sgugger

## Information

Model I am using (Bert, XLNet ...): DistilBert

T

[2021-02-16 06:18] moyapchen commented on #10182
Convenient to see that the fix was already in the pipeline. Thanks!

[2021-02-16 06:18] #10182 closed

[2021-02-16 06:30] pyturn opened #10206 "Tokenizer is working different from expected functionality."
Hi,

I updated the vocabulary for pre-trained tokenizer. Pretrained tokenizer was taken from this model - https://huggingface.co/microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract

When I am using the updated tokenizer , it is creating the sub tokens of the word which are present in vocabulary dictionary. And those sub-tokens are also not starting with '##' , which is creating confusion.

`input

[2021-02-16 07:05] stas00 commented on #10161
Further update: I ported the wmt pre-processed data to HF `datasets`, so now the dataset fetching is automated:
[code]

[2021-02-16 07:26] stas00 commented on #10161
@PeterAJansen, so I have been thinking about that change that I introduced that you discovered made it impossible to eval the 45GB model on 40GB card. But the thing is, before the change, you were using an fp16 version remaining from train - during eval, which from what I understand may not give good accuracy - have you run evaluation and received good results?

I'm trying to see whether the Train

[2021-02-16 08:13] #9587 closed

[2021-02-16 11:38] AndyTheFactory opened #10208 "different behavior for get_input_embeddings() between 4.2.x and 4.3.x in Tensorflow"
## Environment info

- `transformers` version: 4.2.x vs 4.3.x
- Platform: Colab
- Python version: 3.6
- Tensorflow version (GPU?): 2.4.1

@jplu

## Information

Model I am using (Bert, XLNet ...): Bert

## To reproduce

Steps to reproduce the behavior:

In version 4.3.x the following code
[code]

Throws an error:

## Expected behavior

In version 4.2.x the code returned a tensor:

Test also as [co

[2021-02-16 11:43] LysandreJik commented on #10199
Hi! It seems that you're on a very old transformers library version. I would recommend you upgrade to a more recent versions, as this particular has been patched several months ago.

[2021-02-16 11:52] jplu commented on #10208
Hello!

This is because in the 4.3 version the implementation of the embedding have changed and `get_input_embeddings()` returns only the word embeddings layer, hence only `input_ids` can be passed.

This was an unexpected behavior and will be fixed for the next release (the fix is already in master if you want). Sorry for the inconvenience.

[2021-02-16 11:58] LysandreJik commented on #10197
Maybe @patrickvonplaten or @patil-suraj can chime in here!

[2021-02-16 12:00] LysandreJik commented on #10204
cc @lhoestq

[2021-02-16 12:25] LysandreJik commented on #10158
This change seems okay to me. Since you have already some functionality for PyTorch, do you mind opening a PR (even a draft PR), so that we may play around with it and talk about the potential improvements? Thanks! Pinging @Narsil too

[2021-02-16 12:38] nreimers commented on #876
The situation is not as bad as described in the blog post. Every dataset for semantic search / information retrieval has a selection bias. Is is impossible to create a dataset without a selection bias, because otherwise you would need to label for every query 8 Million documents (for the MS MARCO case). This is of course not possible.

So as the author writes at the end:

The described biases are

[2021-02-16 12:40] LysandreJik commented on #10202
Indeed, I can reproduce! Do you know what might be causing this @n1t0?

[2021-02-16 12:41] LysandreJik commented on #10206
Hi! Could you provide a reproducible example? I don't understand what's your `TOKENIZER` here. Thanks

[2021-02-16 13:02] cronoik commented on #2691
@rakesh4real  This site [1] gives you a general overview of different tokenization approaches and the site for each model tells you which tokenization algorithm was used (e.g. [2] for BERT).

[1] https://huggingface.co/transformers/tokenizer_summary.html
[2] https://huggingface.co/transformers/model_doc/bert.html#berttokenizer

[2021-02-16 13:08] lhoestq commented on #10204
Related to https://github.com/huggingface/datasets/issues/861
Maybe on-the-fly tokenization can help.
Or if we stick to having the tokenization in the preprocessing, at least reduce the precision of the integers stored on disk and maybe do the padding on the fly.

[2021-02-16 13:13] andreabac3 opened #10210 "QA Documentation: I got error just copy and pasting documentation"
## Environment info

- `transformers` version: 4.3.1
- Platform:Manjaro Linux
- Python version: 1.5.1
- PyTorch version (GPU?): Yes
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@sgugger

## Information
I am trying the to train a QA model following the huggingface documentation, I just copied and pasted the code in my machine (and in Colab) but

[2021-02-16 13:24] DarshanDeshpande commented on #10204
@lhoestq Are there any minor changes that could fix this temporarily?  Will changing the map function to set transform as mentioned [here](https://github.com/huggingface/datasets/issues/1825) help?

[2021-02-16 13:41] lhoestq commented on #10204
Currently the Trainer doesn't handle `set_transform` but this will be supported soon.

Another think you could try is specify `features=` in the parameters of the map function to specify the precision of the integers that are written on disk. For example
[code]
The tokenization will still be done during the preprocessing and store the tokenized texts on disk, but this time it will take much less s

[2021-02-16 13:53] sgugger commented on #10210
Pinging @joeddav on this one, since he wrote this tutorial :-)

[2021-02-16 14:02] andreabac3 commented on #10210
Thank you @sgugger for the reply.
Ok I can wait for the answer from @joeddav.

Have a nice day.

[2021-02-16 14:17] manchandasahil opened #10212 "RuntimeError: Overflow when unpacking long"
## Environment info

- `transformers` version: 4.4.0.dev0
- Platform: linux
- Python version: 3.6.10
- PyTorch version (GPU?): 1.7.0a0.     (gpu)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: distributed, 4 nodes with 4 GPU's each

Models:

- albert, bert, xlm: @LysandreJik
running language modelling on a large 335 million token sequences

Library:

- trainer: @sgu

[2021-02-16 14:37] brightbsit commented on #10199
@LysandreJik Hi! thank you for answering. But I'm using version 4.3.2

[2021-02-16 14:48] sgugger commented on #10212
This comes from the `_total_flos` being stored as long and overflowing in a big training. Will fix this by storing them as floats (hoping for a PR by the end of today).

[2021-02-16 14:53] LysandreJik commented on #10199
Are you sure? The error happens on the following line:

[code]

This does not exist in recent Transformers versions.

[2021-02-16 14:54] LysandreJik commented on #10199
It was changed in may: https://github.com/huggingface/transformers/pull/4300

[2021-02-16 14:58] #10140 closed

[2021-02-16 16:10] neufang opened #10214 "StopIteration Error when running beam search for squad 2.0"
I'm using  `huggingface/transformers-pytorch-gpu:4.3.0` on Ubuntu DGX1 server with 8 V100 GPUs.
`NVIDIA-SMI 418.126.02   Driver Version: 418.126.02   CUDA Version: 10.1`

When running the step in `examples/question_answering/README.md` for beam search for squad 2.0

[code]
Error
[code]

[2021-02-16 16:15] #10212 closed

[2021-02-16 16:17] LysandreJik commented on #10214
Indeed! I can reproduce, will fix.

[2021-02-16 16:31] brightbsit commented on #10199
@LysandreJik Oh.. sorry. i was confused. I installed and uninstalled because it interupted run the code, saying it can't import pytorch_transformers.

The code can run with transformers from "https://github.com/huggingface/transformers/tree/067923d3267325f525f4e46f357360c191ba562e."

Is there any way that i can run?

[2021-02-16 16:35] LysandreJik commented on #10214
Can you tell me if https://github.com/huggingface/transformers/pull/10215 fixes it? You can try it with the following:

[code]

[2021-02-16 16:35] vrdn-23 commented on #10112
Is there any update on this issue? @patil-suraj

[2021-02-16 16:35] sugampath commented on #1791
How  to apply this method in csv file  i have  csv file "data.csv" in 2nd  column it contains news that to be pass in bert of 512 length

[2021-02-16 16:44] LysandreJik commented on #10199
Oh that's a very old version indeed! Unfrotunately, without knowing what's in your `oscar` folder it's a bit complicated to help you.

For example, the following line is erroneous:

[code]

It should simply be

[code]

[2021-02-16 16:45] DarshanDeshpande commented on #10204
@lhoestq Nope. I get a casting error as attached below
[code]

[2021-02-16 16:45] VictorSanh commented on #10172
Thanks for reporting that @lewtun!
Feel free to open a PR when you have a working solution for higher versions of PyTorch!

[2021-02-16 17:04] patil-suraj commented on #10112
It's fixed now on master!

[2021-02-16 17:04] AndyTheFactory commented on #10208
thank you for the quick reply!

Ok, i was unaware it was already fixed in master

Thank you!

[2021-02-16 17:04] #10208 closed

[2021-02-16 17:06] #10112 closed

[2021-02-16 17:08] neufang commented on #10214
Thanks a lot for the quick fix. I'm running it right now. I will post when the training is done.

[2021-02-16 17:09] joeddav commented on #10210
Figured it out. `answer_end` is the character position immediately _after_ the answer, so end_position should be derived from `answer_end - 1`. I'm not sure why I was able to run it without this error previously (perhaps a resolved tokenizer bug?), but this should be correct.

[code]

[2021-02-16 17:20] patil-suraj commented on #10197
Hey @MorenoLaQuatra

The `run_seq2seq.py` supports translationwith custom dataset. And you can use T5, mT5, MarianMT, mBART, mBART-50 for fine-tuning.
https://github.com/huggingface/transformers/tree/master/examples/seq2seq

And the best place to ask this question is our forum https://discuss.huggingface.co/

Hope this helps :)

[2021-02-16 17:40] PeterAJansen commented on #10161
Hmmm, that's a good question.  I've been doing exploration on new data, and the generations looked okay by eye, but I don't have a solid metric to automatically evaluate them right now -- so I can't immediately answer the question of whether the results look good.

I've had a long run going for about 5 days that should be done in about 10 hours.  Is there a test run that one of us could try then t

[2021-02-16 17:46] stas00 commented on #10161
What task and language are you training/finetuning for, so that we can find a way to compare apples to apples.

And of course the ultimate test is to compare the scores for the same model before and after the finetuning/training.

[2021-02-16 17:51] lhoestq commented on #10204
Looks like PyArrow doesn't know how to convert 1 to True ^^'
I created an issue on Apache Arrow's JIRA [here](https://issues.apache.org/jira/browse/ARROW-11646) to track the issue.
Also I think we can add support for uint16 in the pytorch integration of `datasets` to reduce the size even more. Feel free to open an issue on the `datasets` repo about this if you want.

In the end I think the best so

[2021-02-16 17:53] brightbsit commented on #10199
@LysandreJik It imports many .py files from pytorch_transformers/modeling_bert.

Do you think if i chage below code, I can fix it?
`   extended_attention_mask = extended_attention_mask.to(dtype=next(self.parameters()).dtype) # fp16 compatibility`

[2021-02-16 18:13] PeterAJansen commented on #10161
Mine is a big can of worms (a complex inference task, with the data currently being generated by annotators, with no current automated metrics for evaluation) so we should use something different.

Maybe the WMT task, since it's one of the examples shown in the huggingface seq2seq readme (and the one I used for the example script above to show the bug)?  There are published expected results on Tab

[2021-02-16 18:37] dorost1234 opened #10218 "discrepancy between the Huggingface T5Tokenizer and the original T5tokenizer"
## Environment info

- `Transformers` version: 4.3.2
- Platform: Linux
- Python version: 3.7
- PyTorch version (GPU?): yes
- Tensorflow version (GPU?): -
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

- tokenizers: @n1t0, @LysandreJik

## Information

Model I am using T5Tokenizer, and I adapted the code of  run_mlm.py [1] to use it with T5 token

[2021-02-16 18:46] stas00 commented on #10161
So if you're running many days of training and you have no way of evaluating the quality improvement what is then the point of this exercise? Just to first know that it can be trained? Which is a totally valid exercise.

Surely you could establish at least some base line, to know even roughly if there is an improvement.

If the data/task is similar to WMT then yes, it'd be useful.

e.g. eval en2ro

[2021-02-16 19:00] PeterAJansen commented on #10161
The short answer is, I work in an area that doesn't yet have good automated metrics for evaluating generation quality, and so we typically evaluate them manually (which takes a lot of time, typically from research assistants -- part of what we're working on right now is figuring out reasonable automated metrics).  But we still know from other earlier work and analyses that we've done that pre-trai

[2021-02-16 19:08] stas00 commented on #10161
Thank you for elucidating your particular situation, @PeterAJansen

I'm going to run some experiments on fp16 eval against fp32 for t5 w/ wmt and we shall see. If it works well, then we make fp16 available for eval for those who want to try it.

[2021-02-16 19:08] LysandreJik commented on #10199
This is the try/except we implemented to prevent that error from happening. You can add it to your file:

[code]

[2021-02-16 20:54] maurice-g opened #10221 "T5 relative attention bias: Discrepancy to original implementation"
### Who can help
@patrickvonplaten

## Information

Model I am using: T5

In the huggingface TF T5 implementation, the relative attention bias only seems to be applied to the first layer of the stack. If I understand the original implementation correctly, though, it is applied to all layers there.

HF: https://github.com/huggingface/transformers/blob/master/src/transformers/models/t5/modeling_tf_t

[2021-02-16 21:40] MorenoLaQuatra commented on #10197
Hi @patil-suraj, thank you for the feedback.

Actually we are trying to train it in a python script (the overall architecture is more complex than the single network). We were asking about the translation loss. If we do as reported in the above snippet, do we optimize the translation loss?
The finetuning for MarianMT use the same head and loss of the training phase?

Thank you for your time.

[2021-02-16 23:09] ktrapeznikov opened #10223 "Slow Multi-GPU DDP training with run_clm.py and GPT2"
## Environment info

- `transformers` version: 4.3.0
- Platform: Linux-3.10.0-1160.11.1.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.6
- PyTorch version (GPU?): 1.7.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes (using official `run_clm.py`)
- Using distributed or parallel set-up in script?: using DDP with `run_clm.py`

### Who can help

- gpt2: @pat

[2021-02-16 23:34] Daniel-z-Kaplan opened #10224 "No module named 'tasks'"
## Environment info

- `transformers` version: 4.3.2
- Platform: 5.10.8-200.fc33.x86_64
- Python version: 3.8.3
- PyTorch version (GPU?): 1.6.0 (GPU)
- Tensorflow version (GPU?): 2.4.1 (GPU)
- Using GPU in script?: No.
- Using distributed or parallel set-up in script?: No.

@sgugger, @patil-suraj

## Information

Model I am using (Bert, XLNet ...): allenai/scibert_scivocab_uncased

The problem ari

[2021-02-17 00:47] brightbsit commented on #10199
@LysandreJik I added it on my modeling_bert.py.

I got this traceback.
I guess it's hard to fix it just editing some code from original file.

I really appreciate your help!

if you have any idea to solve it, please share with me.
Thank you again.
[code]

[2021-02-17 00:51] neufang commented on #10214
Hi, the issue is fixed. Thanks a lot.

[2021-02-17 00:51] #10214 closed

[2021-02-17 01:19] sgugger commented on #10224
I think you did not clone the repository properly or are not running the command from the folder `examples/legacy/token-classification`, since that folder does have a task.py file.

[2021-02-17 01:25] sgugger commented on #10223
The answers to those two points is not necessarily yes.
- DDP training is only faster if you have NVLinks between your GPUs, otherwise the slow communication between them can slow down training.
- DDP training takes more space on GPU then a single-process training since there is some gradients caching.

Both issues come from PyTorch and not us, the only thing we can check on our side is if there i

[2021-02-17 01:29] ktrapeznikov commented on #10223
Thanks. I’ll give DP a try.

[2021-02-17 01:50] DarshanDeshpande commented on #10204
@lhoestq
You said in the comment before that ```set-transform``` support hasn't been added to the trainer yet. How exactly do I do it on the fly then?

[2021-02-17 01:51] stas00 commented on #10223
What @sgugger said,

please see excellent benchmarks: https://github.com/huggingface/transformers/issues/9371#issuecomment-768656711 You can see that a single GPU beats DDP over 2 gpus there.

Also please consider using DeepSpeed ZeRO-DP, which should be even faster. https://huggingface.co/blog/zero-deepspeed-fairscale

[2021-02-17 02:22] juice500ml commented on #8787
Potentially related issues: https://github.com/huggingface/transformers/issues/6545 https://github.com/huggingface/transformers/issues/7735 https://github.com/huggingface/transformers/issues/7011

[2021-02-17 03:18] Daniel-z-Kaplan commented on #10224
Ah, I was searching for "tasks.py" instead. Just user error, thanks for the fast reply.

[2021-02-17 03:18] #10224 closed

[2021-02-17 06:40] 1eejhonson commented on #9246
@thesby  have you solved this problem?

[2021-02-17 07:00] PeterAJansen commented on #10161
Interesting and possibly related bug (on c130e67):

1) Fune-tuning T5-11B from the model hub (and saving it as. e.g. Model2) works
2) Subsequently further fine-tuning Model 2 (loaded from disk) on different data appears to OOM.

[2021-02-17 07:04] patil-suraj commented on #7060
mBART-50 is now available on master!

https://huggingface.co/transformers/master/model_doc/mbart.html#overview-of-mbart-50

https://huggingface.co/models?filter=mbart-50

[2021-02-17 07:04] #7060 closed

[2021-02-17 07:39] stas00 commented on #10161
Yes, there are a few places where `model.to(self.args.device)` is called, does the OOM go away if you disable them all - I think there 2 more that's conditioned on `deepspeed`.

Also what was the specific 2nd command line?

Thanks.

[2021-02-17 07:43] stas00 commented on #10161
This:
[code]

[2021-02-17 08:01] amogkam commented on #10190
Ah @neel04, the error message is happening because `compute_metrics` is being passed as the `compute_objective` arg in `trainer.hyperparameter_search`. If you remove this arg your code runs fine.

`compute_objective` should be a function that takes in the output of `evaluate` (which is the dictionary returned `compute_metrics`) as an input and returns a single float value (see the docstring). So h

[2021-02-17 08:02] NielsRogge commented on #10221
The implementation of T5 is based on the original implementation which can be found [here](https://github.com/google-research/text-to-text-transfer-transformer).

The implementation you are referring to is from Tensorflow Mesh, which might use a slightly different implementation of the Transformer.

[2021-02-17 08:06] NielsRogge commented on #10218
Hi,

T5 is an encoder-decoder Transformer. The `run_mlm.py` script can only be used for encoder-only models, such as BERT, RoBERTa, DeBERTa, etc.

Besides this, T5 does not use the regular [MASK] token as BERT. Rather than masked language modeling, T5 is pre-trained on "unsupervised denoising training". This is explained [here](https://huggingface.co/transformers/model_doc/t5.html#training).

[2021-02-17 08:07] saichandrapandraju opened #10226 "Trainer.train() is stuck"
Hi,
I'm training roberta-base using HF Trainer, but it's stuck at the starting itself. Here's my code -

[code]
I saw memory consumption and it is stuck at -

[code]

Plz let me know how to proceed further..

[2021-02-17 08:17] monmanuela opened #10227 "Showing individual token and corresponding score during beam search"
## Who can help
@patrickvonplaten

## Information

Hello,

I am using beam search with a pre-trained T5 model for summarization. I would like to visualize the beam search process by showing the tokens with the highest scores, and eventually the chosen beam like this diagram:
![image](https://user-images.githubusercontent.com/35655790/108174867-fc4eda00-713a-11eb-8565-dc3b0c87cf14.png)
(Taken from

[2021-02-17 08:50] BirgerMoell commented on #10137
@patrickvonplaten This is a suggestion but there are several models available and I think the best first step would be to look into getting a Text-To-Speech model working.

I explored the Real-Time-Voice-Cloning the other day and noticed it had several issues (since the project is no longer maintained) so it might be good to look into other speech models.

Here are some examples of repos that migh

[2021-02-17 09:01] maurice-g commented on #10221
But the T5 repo actually calls the Tensorflow Mesh implementation internally. AFAIK there is no standalone t5 implementation (apart from the HF one).

[2021-02-17 09:23] NielsRogge commented on #10226
Hi,

For training-related issues, it might be better to ask your question on the [forum](https://discuss.huggingface.co/).

The authors of HuggingFace (and community members) are happy to help you there!

[2021-02-17 09:32] NielsRogge commented on #10221
Ok I see. In that case I'll leave it on to Patrick to help you.

[2021-02-17 09:33] marton-avrios opened #10228 "Converting original T5 to be used in Transformers"
I want to use original T5 checkpoint in Transformers library. I found multiple answers referring to `convert_t5_original_tf_checkpoint_to_pytorch.py` which does not seem to exist. Any other way? Or where can I find a (currently working) version of that file?

[2021-02-17 09:35] NielsRogge commented on #10228
Hi,

this file exists, it can be found here: https://github.com/huggingface/transformers/blob/master/src/transformers/models/t5/convert_t5_original_tf_checkpoint_to_pytorch.py

[2021-02-17 09:44] marton-avrios commented on #10228
Thank you! I tried the script and it misses a `config.json` file. Where can I find this?

[2021-02-17 09:48] NielsRogge commented on #10228
The config.json should be part of the original T5 files, which can be found [here](https://github.com/huggingface/transformers/issues/10228).

However, I wonder why you want to convert the original checkpoints yourself, because this has already been done by the authors of HuggingFace. You can find all T5 checkpoints on the [hub](https://huggingface.co/models?search=google/t5).

[2021-02-17 09:49] marton-avrios commented on #10228
Because I finetuned them on TPU which is not possible in Transformers yet (at least not in TF) and I want to use Transformers for prediction.

[2021-02-17 09:50] marton-avrios commented on #10228
...I think you linked this issue as location for original T5 files

[2021-02-17 09:56] NielsRogge commented on #10228
Apologies, updated the URL. The `config.json` file should look something like [this](https://huggingface.co/google/t5-large-ssm-nq/blob/main/config.json), containg all the hyperparameter values. When you fine-tuned T5 on TPUs, do you have a configuration available?

[2021-02-17 10:03] marton-avrios commented on #10228
Thanks! (you are a lifesaver by the way with these response times :)). I finetuned using the original repo which uses Mesh Tensorflow and it exports checkpoints in the same format as the original published checkpoints. And there is no `config.json` file, not even in the original published checkpoints you linked. For future reference: you can look at the files by going to this url: https://console.

[2021-02-17 10:09] vspruyt commented on #9902
It works fine up to and including version v4.2.2 but is broken in version above that

[2021-02-17 10:12] NielsRogge commented on #10228
I see that they store configurations in .gin files, like this one: https://console.cloud.google.com/storage/browser/_details/t5-data/pretrained_models/small/operative_config.gin

When opening this on my laptop in Notepad, this looks like this:

[code]

=> the relevant part here seems to be only the model hyperparameters:
[code]
So maybe you can create a config.json based on those?

And happy to he

[2021-02-17 10:27] marton-avrios commented on #10228
...actually the link you sent for the example config file proved to be extremely useful! Starting from there I've found all related files. Here is everything (including the config file) for T5 Small: https://huggingface.co/t5-small. Also an example workflow for future reference:
[code]

[2021-02-17 10:27] tanmay17061 commented on #6673
Hi @TobiasLee,
Agreed with not merging both `warmup_steps` and `warmup_ratio` into a single parameter. It seems cleaner to give higher precedence to one over the other in case both are given by user.

I have raised a [PR](https://github.com/huggingface/transformers/pull/10229) with the same implemented.
Your review is appreciated!

[2021-02-17 10:33] patrickvonplaten commented on #10221
Hey @maurice-g, we compute it ones and then forward it to all the follow-up layers since the result will be the same for all layers. 2 month ago, I made sure that our implementation is exactly the same as the original implementation - see those tests: https://github.com/huggingface/transformers/blob/e94d63f6cbf5efe288e41d9840a96a5857090617/tests/test_modeling_t5.py#L734 and https://github.com/hugg

[2021-02-17 10:35] patrickvonplaten commented on #10137
Hey @BirgerMoell - thanks a lot for the links I will take a look soon :-)

[2021-02-17 10:44] maurice-g commented on #10221
You're right, missed that they were returned and forwarded to the other layers. Sorry for that.

[2021-02-17 10:44] #10221 closed

[2021-02-17 11:06] tvrbanec commented on #1950
@engrsfi

It stops with errors on model = TFBertModel.from_pretrained('bert-base-uncased'):

model = TFBertModel.from_pretrained('bert-base-uncased')
  File "/usr/local/lib/python3.7/dist-packages/transformers/modeling_tf_utils.py", line 484, in from_pretrained
    model(model.dummy_inputs, training=False)  # build the network with dummy inputs
File "/usr/local/lib/python3.7/dist-packages/tensorfl

[2021-02-17 11:23] neel04 commented on #10190
So I tried that above, but apparently `evaluate` does not return "accuracy", so as a workaround I switched to `eval_accuracy`.
But this creates a new problem; this error comes in the first trial **but** it doesn't go on to the next trial. Could be that it is training? GPU usage seems to be 0, so I doubt it is training but it is not terminating the process or moving on. Strange.
[code]

It looks li

[2021-02-17 11:26] patrickvonplaten commented on #10221
No worries! Thanks for checking in-detail. I think it's always a very good practice to check things in-detail or more often than not you will find subtle bugs in Transformers that will help us improve the code :-)

[2021-02-17 12:42] idanmoradarthas opened #10231 "Wav2Vec2 finetune"
# 🚀 Feature request

Can you please share code to how to finetune transformers.Wav2Vec2ForCTC, or maybe on how to give labels to the model in order to get loss?

## Motivation

## Your contribution

[2021-02-17 12:58] LysandreJik commented on #10210
Closed by #10217

[2021-02-17 12:58] #10210 closed

[2021-02-17 12:59] andreabac3 commented on #10210
Thank you @joeddav the posted code works perfectly.

[2021-02-17 13:02] GuillemGSubies opened #10232 "Multilabel Sequence Classification in trainer"
# 🚀 Feature request

We need to be able to use the trainer for multilabel classification problems.

## Motivation

Right now we create our models in the old fashioned way, with a sigmoid layer at the end so we can do multilabel. However if we could use the trainer directly, we wouldn't need to maintain different training scripts. Are there any plans for adding this to the trainer?

## Your contrib

[2021-02-17 13:10] LysandreJik commented on #10199
These are the type hints. Just remove them if you don't need them or don't want to import them:

[code]

[2021-02-17 13:29] #10228 closed

[2021-02-17 13:50] vGoldsmith commented on #10067
@PrinceMohdZaki were you able to find a solution for this error?

[2021-02-17 13:56] NielsRogge commented on #10231
Patrick is working on it, see #10145

[2021-02-17 14:57] coderpotter opened #10234 "Request to add Switch Transformer"

[2021-02-17 15:16] julien-c commented on #10067
Can anyone having those kind of issues, please try #10235, and let us know if it provides more insight into the cause (networking issue, proxy error, etc.)?

Thanks!

[2021-02-17 15:20] LysandreJik commented on #8942
Hello! Could you try again on the `master` branch and let us know if it works? https://github.com/huggingface/transformers/pull/10184 was recently merged and it should fix the issue. Thanks!

[2021-02-17 15:34] patrickvonplaten commented on #10227
Hey @monmanuela,

Thanks for checking out the post! We try to keep the repository for github issues and kindly ask you to post these kinds of questions on the [forum](https://discuss.huggingface.co/). Feel free to tag me there (@patrickvonplaten) :-)

[2021-02-17 15:57] saichandrapandraju commented on #10151
Hi @stas00 ,

As mentioned above, I installed deepspeed and used HF Trainer to train instead of native pytorch. Without DeepSpeed, I'm able to complete the training but with DeepSpeed, execution is stuck at -
**[2021-02-17 15:05:24,441] [INFO] [distributed.py:40:init_distributed] Initializing torch distributed with backend: nccl** .

complete log is  -

[code]

I'm passing below in cmd -
[code]

H

[2021-02-17 16:00] #9859 closed

[2021-02-17 16:01] lhoestq commented on #10204
Yes you're right, we first need to make the Trainer support `set_transform`, sorry if it was confusing.

[2021-02-17 16:16] sgugger commented on #10204
`Trainer` in master completely supports `set_transform`. If there are some columns removed that should not be, you just have to set the training arguments `remove_unused_columns` to `False` for the time being.

[2021-02-17 16:18] patrickvonplaten opened #10238 "ConvBert not compatible with torch v1.6"
ConvBERT uses statements like `torch.multiply` which did not exist in pytorch v1.6 => ConvBERT is not compatible with v1.6 (cc @abhishekkrthakur).

This can easily be checked when running:

`pytest tests/test_modeling_convbert.py`

@LysandreJik, @sgugger - It would be great to test all the different pytorch versions in a slow test I think.

[2021-02-17 16:35] fightnyy commented on #492
I have the same question, but did this prove to be better? Or is it just to speed up calculations?

[2021-02-17 16:41] fightnyy opened #10239 "Question about (no_decay = ['bias', 'LayerNorm.weight']) in BERT(Transformer-based)"
Hi, I have a Question about the BERT model code.
I saw "no_decay = ['bias', 'LayerNorm.weight']" in BERT code(especially, in Optimizer part). It seemed reasonable, however, did this prove to be better performance? Or is it just to speed up calculations?

[2021-02-17 16:53] saboof commented on #10185
Looking at the code of `TFBertForSequenceClassification` -
https://github.com/huggingface/transformers/blob/d1b14c9b548de34b6606946482946008622967db/src/transformers/models/bert/modeling_bert.py#L1496
It has a linear layer and the BERT model within the same model, (although written in Pytorch). This doesn't give me insights as to how to combine these two models/layers in the same Keras model so we

[2021-02-17 16:56] lhoestq commented on #10204
Nice ! so one could try to replace the .map with .set_transform(tokenize_function)

[2021-02-17 16:56] jplu commented on #10185
What do you mean by dynamic architecture? Can you detail a bit more about what you would like to do?

[2021-02-17 17:11] saboof commented on #10185
For example, having two types of outputs based on the same CLS embedding.

The first type would be based on a single linear layer and the second type would have two layers with some activation function between the layers.

sketch of the model.

Input -> BERT CLS embedded vector -> output based on a single layer -> another output based on a second layer

More generally, we would like to get the CLS

[2021-02-17 17:18] stas00 commented on #10151
This looks like a pytorch distributed issue, can you launch your script as following?
[code]

Deespeed requires a distributed env even with one gpu.

What's the output of: `python -m torch.utils.collect_env` on that system? Are you running on a recent pytorch version?

Also, I'm noticing your trying to run it from a notebook. This could be related as well. Any reason why you're not using a normal

[2021-02-17 17:47] ShivamSharma1997 opened #10240 "CUDA memory error on increasing the number of generations"
I am getting CUDA memory error when generating text with num_return_sequences set to more than 100 for a self-trained gpt2 model. This is not expected since after every generation there should be nothing left in the GPU.

[2021-02-17 17:58] jplu commented on #10185
Ok this is much clearer now, thanks!!

The best way to do that would be to build your model as we do for ours, it means something like:

[code]

[2021-02-17 18:11] DarshanDeshpande commented on #10204
I tried changing remove_unused_columns to False but it gives me an error during the Trainer call. The set_transform function returns a NoneType object and so the Trainer complains of getting a None instead of training data. The run_mlm_custom.py file below is the same run_mlm file, just with set_transform instead of map (you can have a look at it [here](https://drive.google.com/file/d/1--ijV3UK-Rq

[2021-02-17 18:14] lhoestq commented on #10204
Indeed `set_transform` is in-place. For example you can do
[code]

If you want to use a non in-place function like what was doing map, you can do
[code]

Also I'm not a big fan of having two functions that does the same thing (except one is in-place) so we might deprecate one or the other in the future. I guess the second one is more convenient and is more aligned with the other Dataset functions.

[2021-02-17 18:18] PeterAJansen commented on #10161
Thanks!  I hope to be able to give this diff a test tonight when the current run is done (about 10h left).

Here are two cases (my exact script, but a distilled version that matches the WMT example at the top of this issue from the readme):

1. Here is my exact script that I'm using for my experment (the two MODELDIR exports at the top being the critical difference between it working or not workin

[2021-02-17 18:23] DarshanDeshpande commented on #10204
Returning the dataset is more intuitive I feel. Anyway, this is some really good news. I will try to modify the script and make it work. If it does then maybe, if you want, I can clean the code and create a pull request for the same.

[2021-02-17 18:28] bp91 opened #10242 "Upgrade transformers from 3.5.0 to 4.3.2 instance error"
Hi guys. I tried to update the transformers module from the version 3.5.0 to the version 4.3.2.
After this upgrade, the code that previously was working now has some problems.

This is my code:
[code]

In particular, when I instantiate the class `bert_model` (`bert_main_layer(input_ids_in, attention_mask=input_masks_in)`), with the 3.5.0 version it returns two tensors:
[code]

With the version 4.3

[2021-02-17 18:48] albertnanda commented on #8942
@LysandreJik This works, but this runs the model sequentially over the list of text. Can we add batching support. It would be way faster then.

[2021-02-17 20:02] stas00 commented on #10161
Thank you for the details, @PeterAJansen  - hoping to validate later in the day, but meanwhile this PR should solve it https://github.com/huggingface/transformers/pull/10243 (i.e. instead of the patch I sent last night).

[2021-02-17 20:17] pperle opened #10245 "`compute_metrics` show better results than `generate` because target data leaks"
## Environment info

- `transformers` version: 4.3.2
- Platform: Linux-5.8.18-050818-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using:
- t5

The problem arises when using:
-

[2021-02-17 20:40] sfvaroglu opened #10246 "TensorFlow Question-Answering example fails to run (cardinality error)"
## Environment info

- `transformers` version: 4.4.0.dev0
- Platform: Linux-4.15.0-111-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.8
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): 2.2.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

## Information

Model I am using (Bert, XLNet ...): bert-base-uncased or roberta-bas

[2021-02-17 21:22] sstojanoska commented on #10177
Thanks. It was my mistake.
The issue was that I was trying to dynamically change the model config file and reuse it for models with different number of output labels.

[2021-02-17 21:22] #10177 closed

[2021-02-17 21:41] neel04 opened #10247 "[BUG] [Ray-Tune] ValueError: checkpoint not in list"
## Environment info

- `transformers` version: 4.4.0.dev0
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.7.0+cu101 (True)
- Tensorflow version (GPU?): 2.4.1 (True)
- Using GPU in script?: Yes

### Who can help

Models:
- tensorflow: @jplu

Library:

- ray/raytune: @richardliaw, @amogkam

 -->

## Information

Model I am using (Bert,

[2021-02-17 23:16] abhijithneilabraham opened #10252 "microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract not available for tensorflow"
@jplu
The above said model is available for pytorch but not for tensorflow. How to convert a pytorch checkpoint to tensorflow for this one? Is it possible for doing a contribution for the same?

[2021-02-17 23:44] sgugger commented on #10246
cc @jplu since it seems to come from the `TFTrainer`.

[2021-02-18 01:16] amogkam commented on #10247
@neel04 can you try a few things:
- What version of Ray are you using? Can you try with the latest Ray (1.2).
- When using the PBT scheduler, it's actually not compatible with Tune search algorithms (see the compatibility matrix here https://docs.ray.io/en/master/tune/api_docs/schedulers.html#summary). Can you remove either HyperOptSearch or PopulationBasedTraining and try again.
- Can you pass in

[2021-02-18 01:52] saichandrapandraju commented on #10151
Hi @stas00 ,
Thanks for reverting. Here are the results for above queries -

1.
[code]
with the above command, execution got hanged and below is the output -
[code]
2.
I'm using transformers-4.3.0 and below is the detailed output for `!python -m torch.utils.collect_env` -
[code]
3.
I am using kubeflow notebook servers provided by my company. So that's why I'm running commands in notebook itself..

[2021-02-18 02:10] ayiyoh opened #10253 "Load custom models"
## Environment info

- `transformers` version: 4.3.2
- Platform: RHEL 7
- Python version: 3.7
- PyTorch version (GPU?): 1.7.0 (GPU)
- Tensorflow version (GPU?): N/A
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@sgugger @LysandreJik

## Information

Model I am using (Bert, XLNet ...): A custom model

The problem arises when using:
* [ ] the off

[2021-02-18 03:07] monmanuela commented on #10227
@patrickvonplaten thanks for your quick reply! Posted a topic on the forum, closing this issue.

[2021-02-18 03:07] #10227 closed

[2021-02-18 04:15] GaurangTandon commented on #8019
Had the same issue. Found a trim_batch implementation on the transformers repo, used it, didn't face any issues so far.

[Link to implementation](https://github.com/huggingface/transformers/blob/783d7d2629e97c5f0c5f9ef01b8c66410275c204/examples/research_projects/rag/utils_rag.py#L35)

Code for reference:

[code]

[2021-02-18 04:39] stas00 commented on #10165
So what it should be? - either A or B - the current `train|eval|test` is a very odd amalgamation of A and B. Unless we just say that the validation set is really a evaluation set and let it be.

[2021-02-18 05:33] stas00 commented on #10151
Thank you for your detailed answers, @saichandrapandraju

It feels like your environment can't run pytorch distributed. Here is a very simple test to check that the launcher + dist init works:
[code]
you can copy-n-paste it as is into a new cell including bash magic and then run it.

It should print `0` and not fail.

[2021-02-18 05:37] gpuhsim commented on #5959
You can browse to https://huggingface.co/bert-base-uncased/tree/main for example and download pretrained models.

[2021-02-18 05:51] stas00 commented on #10151
This looks like a potential thread to explore for the hanging " Initializing torch distributed with backend: nccl "

https://discuss.pytorch.org/t/unexpected-hang-up-when-using-distributeddataparallel-on-two-machines/92262

See if you have any luck identifying the problem with the suggestions in that thread.

[2021-02-18 06:14] stas00 commented on #10161
Questions:
1. This is with non-master version but then one before the fateful PR of mine, correct? since `eval` currently won't fit 45GB onto 22GB - I'm working on a solution.
2. can you check if the saved model is bigger than the original? my feeling is that something else gets tacked onto the model that wasn't there in the original.

 I developed a new memory usage metrics feature: https://githu

[2021-02-18 06:15] pyturn commented on #10206
Hi @LysandreJik ,

Thanks for your response , I have done deep-dive and modified code a bit to reproduce the same issue. I am extending the vocabulary of tokenizer and using some automated logic to add the new words. I don't not have complete control on the words which are adding (but, I am making sure those are not the noise.)

`from transformers import AutoTokenizer, AutoModelForMaskedLM`
`model

[2021-02-18 07:41] saichandrapandraju commented on #10151
Hi @stas00 ,

with below command it got hanged again
[code]

But returned `0` with `gloo`

same after trying https://discuss.pytorch.org/t/unexpected-hang-up-when-using-distributeddataparallel-on-two-machines/92262

Below versions are different. Is it fine?
[code]

[2021-02-18 07:58] loretoparisi opened #10254 "ImportError: cannot import name 'MBart50TokenizerFast' from 'transformers' (unknown location)"
## Environment info

- `transformers` version: 4.3.2
- Platform: Linux-4.19.121-linuxkit-x86_64-with-debian-10.1
- Python version: 3.7.4
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: <NO>
- Using distributed or parallel set-up in script?: <NO>

### Who can help

Model:
https://huggingface.co/facebook/mbart-large-50-one-to-many-mmt
@patri

[2021-02-18 08:00] stas00 commented on #10151
So this is a pure pytorch issue, you may want to file an Issue with pytorch: https://github.com/pytorch/pytorch/issues

If you can't launch distributed then DeepSpeed won't work for you.

Also I'd try pytorch-nightly - I read in one thread they have been tweaking this functionality since the last release. https://pytorch.org/get-started/locally/ - you should be able to install that locally.

Shoul

[2021-02-18 08:08] saichandrapandraju commented on #10151
Thanks @stas00 ,

Raised an issue https://github.com/pytorch/pytorch/issues/52433 and https://discuss.pytorch.org/t/hanging-torch-distributed-init-process-group/112223

Even I'm thinking of nightly. Will give it a try...

[2021-02-18 08:10] saichandrapandraju commented on #10151
If this is sorted out, I hope HFTrainer and deepspeed will work with single and multi gpu setting..

[2021-02-18 08:32] jplu commented on #10252
Hello!

You can load PyTorch weights into Tensorflow with `TFBertModel.from_pretrained("microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract", from_pt=True)`

[2021-02-18 08:44] patil-suraj commented on #10254
Hi @loretoparisi

Did you install sentencepiece ? The tokenizer needs sentencepiece

[2021-02-18 08:44] jplu commented on #10246
Hello!

Since transformers 4.2.0 you need to have TensorFlow 2.3 at least.

[2021-02-18 09:02] loretoparisi commented on #10254
@patil-suraj thanks I did right now

[code]

[2021-02-18 09:59] abhijithneilabraham commented on #10252
That works, thanks!

[2021-02-18 09:59] #10252 closed

[2021-02-18 11:02] aleSuglia opened #10256 "[Question]: Register new Tokenizer"
Hi there,

I'm in the process of creating a new Transformer model. I have my own codebase and I'm using Transformers as an external library. If I implement a new Tokenizer that inherits from an existing one (say the BERT one) is there any way to "register" my new tokenizer so that Huggingface automatically instantiate it? I would like to support the `AutoTokenizer` API:

[code]
And I would like th

[2021-02-18 11:06] LysandreJik commented on #10238
Testing all versions from torch v1.3.0+ is indeed on the roadmap, I expect ~1 month out alongside all the other tests improvements.

[2021-02-18 11:15] neel04 commented on #10247
- I am using the Latest Ray version: `1.2.0`
- Trying `PBT` alone without HyperOPT yields the same error. I always scrap the kernel after most runs due to this reason only, but it yields the same error on all configurations (12GB RAM or 25, P100 or V100).
- Set all paths to absolute, made no difference.

I have shared a [gist](https://colab.research.google.com/drive/1uuhCac9hTw1dcDnqpHuvZ63rMDTGNW

[2021-02-18 11:16] LysandreJik commented on #10239
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discusss.huggingface.co) instead?

Thanks!

[2021-02-18 11:16] #10239 closed

[2021-02-18 11:18] LysandreJik commented on #10240
By setting `num_return_sequences` you're creating bigger batches, so it is expected to have an OOM if you ask for too much returned sequences.

[2021-02-18 11:21] LysandreJik commented on #10242
Hi, thanks for opening an issue. The breaking changes from version v3 to v4 are heavily documented: https://huggingface.co/transformers/migration.html#migrating-from-transformers-v3-x-to-v4-x

Your particular issue is [bullet number 4](https://huggingface.co/transformers/migration.html#switching-the-return-dict-argument-to-true-by-default).

[2021-02-18 11:22] LysandreJik commented on #10242
For our reference, when trying to look for breaking changes between v3 and v4, where did you look? If we can improve visibility for those, it would be great. Maybe "Migration" isn't the best identifier? Are there some specific keywords you used?

[2021-02-18 11:23] LysandreJik commented on #8942
Sure, we could look in adding batching support, that would indeed make things much faster! Would you like to try your hand at it?

[2021-02-18 11:28] LysandreJik commented on #10253
Hello! Could you provide a reproducible code example, for example the extended custom model you created, so that we can take a look?

Also, can you let us know what's in the `./SqueezeBert/results/best_checkpoint/` directory? It's trying to look for a configuration file there but it doesn't find it.

[2021-02-18 11:39] LysandreJik commented on #10245
Pinging @patrickvonplaten and @sgugger

[2021-02-18 12:16] bhadreshpsavani opened #10258 "Deberta Tokenizer convert_ids_to_tokens() is not giving expected results"
## Environment info

- `transformers` version: 4.3.0
- Platform: Colab
- Python version: 3.9
- PyTorch version (GPU?): No
- Tensorflow version (GPU?): No
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

## Information
I am using Deberta Tokenizer. `convert_ids_to_tokens()` of the tokenizer is not working fine.

The problem arises when using:
* [x] my own modified s

[2021-02-18 12:25] LysandreJik commented on #10256
Hi! `AutoTokenizer` is only used to redirect to the correct tokenizer implementation under the hood, and not to resolve to any tokenizer object. The procedure here would be to create your tokenizer like you want it to be, either by using the `tokenizers` library, by tweaking an existing one or by creating yours from scratch.

Then, you can open a PR on the repo and have your tokenizer/model be add

[2021-02-18 12:56] tanmay17061 commented on #9838
Just like `evaluation_strategy` chooses between `'steps'` and `'epoch'`, to maintain consistency I think it is better to introduce either of:
1. a new enumeration `LoggingStrategy` with values
    1. `'epoch'` for per-epoch functionality
    2. `'steps'` functionality by falling back on `logging_steps`
2. a new bool argument `log_per_epoch` to decide between `epoch` or `steps` functionality and pr

[2021-02-18 13:14] LysandreJik commented on #10254
Hi @loretoparisi! Could you show the results of `pip list` so we can investigate? Maybe `tokenizers` is missing, that's what's required for the fast tokenizer. Thanks!

[2021-02-18 13:26] hasansalimkanmaz commented on #9838
Feel free to go ahead @tanmay17061 I am still busy with some other staff. Thanks for your interest.

[2021-02-18 13:45] sgugger commented on #10245
Did you use the flag `--predict_with_generate`? It's there just for this: predicting using the `generate` method and the labels are then not passed (except to compute the loss).

[2021-02-18 13:48] albertnanda commented on #8942
Sure, let me see if I can add batching support.

[2021-02-18 14:25] loretoparisi commented on #10254
@LysandreJik of course!

[code]

[2021-02-18 14:26] aleSuglia commented on #10256
So I take you're not planning to have an automatic module discovery. I see. Anyway, I feel like an equally nice way to solve this is to have a folder on your current path called `heriot-watt/my_model_name`. In it, I have my config files and tokenizer files that belong to the `Tokenizer` I'm inheriting from. Then, In my package `__init__.py` I had to add the following:
[code]
In this way, I'm able

[2021-02-18 14:27] ozcangundes commented on #9525
Hey @juand-r ,

I am also trying to fine tune mBART for some non English corpus. Is there any sample script that I can follow for this task?

[2021-02-18 14:34] dorost1234 commented on #10218
Hi @NielsRogge thanks, but I have checked the paper of T5 and this is not like what is explained in the link you mentioned, T5 consider a unique masked token, as for being encoder/decoder model, I do not think this would be an issue as if we could add T5ForConditionalGeneration it could work to me in run_mlm.py out of the box.

Is there any place I could look into how T5 pretraining is done within

[2021-02-18 15:17] joshdevins opened #10263 "NER label re-alignment always expects B labelled first sub-words"
## Environment info

- `transformers` version: 4.3.1
- Platform: Darwin-19.6.0-x86_64-i386-64bit
- Python version: 3.7.7
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

- bert, tokenizers, pipelines: @LysandreJik
- trainer, maintained examples: @sgugger

## In

[2021-02-18 16:10] TomUdale-debug commented on #10099
Many apologies for going slow on this, here is a [Colab](https://colab.research.google.com/drive/12ALD3gJS9rMpW7fvdIwj5mJGx1JGYgLb?usp=sharing) which demonstrates the issue. After one epoch of training (5k docs)the model logit outputs become constant, recall goes to 1 so the model if just predicting everything as 1 (binary classification task). I have the model checkpoint for that if it would be h

[2021-02-18 16:12] pperle commented on #10245
Thank you for the hint. I followed this tutorial [this example](https://huggingface.co/transformers/custom_datasets.html#fine-tuning-with-trainer) and used [`TrainingArguments`](https://huggingface.co/transformers/main_classes/trainer.html#trainingarguments), which to not have the `predict_with_generate` option, instead of [`Seq2SeqTrainingArguments`](https://huggingface.co/transformers/main_class

[2021-02-18 16:24] ayiyoh commented on #10253
Thank you @LysandreJik for getting back! I have prepared a Google colab and it just ran fine: https://colab.research.google.com/drive/1SKx0DXHrgVUMFK7sk6jU05o_SnFKrc6k#scrollTo=MOijCowF3dqk

There must be something else in my code (which I can't share). Closing this now.

[2021-02-18 16:24] #10253 closed

[2021-02-18 16:28] stas00 commented on #10151
I'd help for you to augment your pytorch Issue with the information they request - at the very least the output of `python -m torch.utils.collect_env`  and probably mention that you're running from a notebook and in a kubeflow container. Because as you presented it now, they won't know what to do with it, as such code works just fine on a normal setup.

[2021-02-18 16:54] jeromemassot opened #10265 "Tapas Tokenizer makes DataFrame iterrows() iterator crazy ..."
## Environment info

- `transformers` version: 4.3.2
- Platform: Colab Pro
- Python version: Python 3.6.9
- PyTorch version (GPU?): 1.7.0+cu101    torch-scatter  2.0.5
- Tensorflow version (GPU?): 2.4.1
- Using GPU in script?: Tesla P100
- Using distributed or parallel set-up in script?: no

### Who can help

## Information

Model I am using : Tapas

Very very very strange (at least for me, a Comp

[2021-02-18 17:00] swecooo commented on #9860
Hey guys, I opened a similar issue a while ago https://github.com/huggingface/transformers/issues/7070. It was automatically closed due to inactivity, but we are still struggling with the issue every day and don't use batching when predicting.

When computing the relative difference, for the example input shown in the issue mentioned above (I compared `emb2` and `emb4` from my issue), I got a quit

[2021-02-18 17:02] #10204 closed

[2021-02-18 17:10] sgugger commented on #10245
Yes the documentation is missing a seq2seq example. This is because we have been working on the design recently. The most up-to-date example you should use as reference is the [run_seq2seq script](https://github.com/huggingface/transformers/blob/master/examples/seq2seq/run_seq2seq.py).

[2021-02-18 17:23] #6673 closed

[2021-02-18 17:24] sfvaroglu commented on #10246
@jplu With TensorFlow 2.3 and transformers 4.4.0.dev0, I'm getting the error below:

`[INFO|trainer_tf.py:522] 2021-02-18 19:18:25,103 >> ***** Running training *****
[INFO|trainer_tf.py:523] 2021-02-18 19:18:25,103 >>   Num examples = 87599
[INFO|trainer_tf.py:525] 2021-02-18 19:18:25,104 >>   Num Epochs = 2
[INFO|trainer_tf.py:526] 2021-02-18 19:18:25,104 >>   Instantaneous batch size per device

[2021-02-18 17:27] NielsRogge commented on #10265
Hi,

Can you provide the table on which you tried this?

To add numeric value information to the table, each cell in the table is replaced by a `Cell` object. A `Cell` object has 2 attributes: `text` (the original string corresponding to the cell value) and an optional `numeric_value` (which can be a `float_value` or a `date`).

Did you turn apply `.astype(str)` on your Pandas dataframe before pro

[2021-02-18 17:35] jeromemassot commented on #10265
Hi Niels,
Indeed, the code changes the DataFrame content to Cell format... but the `iterrows() `returns sometimes a correct row format which is transformed into Cell format... but sometimes a Cell object which is transformed into a Cell (of a Cell) object with text attribute initialized to the original Cell object !! :(

I have applied the `.astype(str)` yeap, before and after the sample() call...

[2021-02-18 17:51] jplu commented on #10246
This is because there is an issue in https://github.com/huggingface/transformers/blob/master/src/transformers/data/processors/squad.py .

We will look into it asap and will let you know here once done. Sorry for the inconvenience.

[2021-02-18 17:52] NielsRogge commented on #10265
I was able to reproduce it, however when I reset the indices after sampling, it works:

`table = table.sample(frac=1.0, random_state=42, replace=False).reset_index(drop=True).astype(str)`

Will look into why it can't handle without resetting the row indices.

[2021-02-18 18:00] jeromemassot commented on #10265
Hi Niels,
I have also tried the reset index... and in my side it was crashing the same.
This behavior is very strange. I have check the Pandas documentation and normally sample() should returned a DataFrame object... nothing fancy here.
And it does because the iterrows() outside the Tapas Tokenizer works fine :)
So Tapas Tokenizer is doing something on the DataFrame modified by the sample() functi

[2021-02-18 18:04] NielsRogge commented on #10265
Here's a notebook illustrating the issue, and fixing it:

https://colab.research.google.com/drive/10MbZiMKyEWUGk2Y1fvIj0Y0_lB42NO38?usp=sharing

[2021-02-18 18:23] thominj commented on #10234
Google released the source code for transformer-based mixture-of-experts (the switch architecture): https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/moe.py

According to https://www.infoq.com/news/2021/02/google-trillion-parameter-ai/ the model weights are not available yet.

[2021-02-18 18:23] thominj commented on #10160
I have been digging into this a little bit more and found some information that might be helpful. It looks like the underlying problem is in the EncoderDecoderModel or one of its dependencies, not the pipeline.

- When I replaced the pipeline call with a manual tokenization and call to the model's generate method, I got the same `tuple index out of range`  error for past_key_values.
- When I creat

[2021-02-18 19:02] AJHoeh commented on #1460
@thibault-formal Hey, I had similar questions and asked them in the huggingface forum, I think my [post there](https://discuss.huggingface.co/t/understanding-bertlmpredictionhead/3618) could be helpful for you (if its still relevant). Your first point should be adressed by the explanation of my understanding and the second one is adressed by both replies.
Cheers!

[2021-02-18 19:53] saichandrapandraju commented on #10151
Thanks @stas00 ,

I installed `1.7.1+cu101` and below returned `0`
[code]
But it got hanged again with script and below are the logs -
[code]

Also tried with nightly build(`1.9.0.dev20210218+cu101`) and got `0` for that bash command, but now it hanged at trainer.train() and below are the logs -

[code]

used the same script for both -
[code]

Updated same in pytorch issues and forums as well ...

[2021-02-18 20:46] LysandreJik commented on #9860
Hi @swecooo! Thanks for letting us know. There might be a deeper issue than what I've seen then, I'll take a deeper look as soon as I have time.

Could you specify how you computed these, for example with a code snippet so that I can investigate? Thanks!

[2021-02-18 20:50] LysandreJik commented on #10254
Ah, I think I have found the culprit! MBart-50 was only just released on the `master` branch and you seem to be using version v4.3.2, which does not have it yet. Could you install from source and let me know if you still have the issue?

[2021-02-18 21:31] LysandreJik commented on #10263
Hello @joshdevins! Indeed, this is a valid issue. The current pipeline outputs tokens that were attributed a class, but ignores the following tokens. For models that were trained with labels on all subwords this works, but using a padded sub-word label like you've done yields unsatisfactory results.

I think we could do better here when specifying `grouped_entities=True` to the NER pipeline, by lo

[2021-02-18 21:59] ColinConwell opened #10269 "Language Modeling Task (GPT2 / CLM) Does Not Generate Line Breaks?"
The legacy run_language_modeling.py script produced output that respected line breaks in the train_data_file. The updated run_clm.py script does not. I imagine this is likely due to how the dataset is processed in the new script, but if it is, how do I intervene and fix it?

## Environment info

- general environment: Google Colab
- `transformers` version: 4.4.0.dev0
- Platform: Linux-4.19.112+-x8

[2021-02-18 22:03] stas00 commented on #10151
That's a good step forward, I'm glad it worked. From what I understand system-wide cuda shouldn't have impact on whether distributed works or not, but clearly in your case it did.

How can I reproduce your setup? I don't know where you got your dataset from. As suggested earlier if you want to save my time, please setup a public google colab notebook (free) and then me and others can easily look a

[2021-02-18 22:19] jncasey commented on #10269
Hi Colin. I ran into this same issue when I switched over to using the datasets library to load my poetry corpus, where line breaks are super important.

I ended up making a slightly modified version of the built-in [text](https://github.com/huggingface/datasets/blob/master/src/datasets/packaged_modules/text/text.py) loader called text_with_linebreaks, changing line 62 to `batch = batch.splitlines

[2021-02-18 22:25] ColinConwell commented on #10269
@jncasey Thanks for the rapid reply! I figured the culprit here might be the switch over to huggingface/datasets. How did you end up incorporating this into your workflow? Did you modify other scripts to reference text_with_linebreaks?

[2021-02-18 22:33] jncasey commented on #10269
Yes, my training script is a sloppily modified version of the run_clm.py example. I added a new training arg for whether to keep the line breaks, and check for that arg in the section where the scripts determine which loader to use based on the file extension of the data files.

[2021-02-19 00:41] sgugger commented on #10269
Cc @lhoestq to see how we could surface that functionality more easily.

[2021-02-19 02:06] borisdayma commented on #8754
Sorry I just noticed this issue.
You can actually already do it. After your run has been created, you can do `wandb.config['frozen_layers'] = 3`
We need to add a way to let you also create a run first (instead of `Trainer`) and then let `Trainer` adds automatically the extra configuration parameters.

[2021-02-19 02:10] YangWang92 commented on #9804
I got the same problem that the training crashed in run_seq2seq.py.

[code]

transformers version: 4.4.0.dev0
Platform: Ubuntu 16.04.7
Python version: 3.8.5
PyTorch version (GPU?): 1.7.1 (YES)
Tensorflow version (GPU?):
Using GPU in script?: YES
Using distributed or parallel set-up in script?: Yes, it detects 6 GPUs.

Error:

/opt/conda/conda-bld/pytorch_1607369981906/work/aten/src/ATen/native/cud

[2021-02-19 03:58] saichandrapandraju commented on #10151
Hi @stas00 ,

[Here](https://colab.research.google.com/drive/1u0QHP8kdjlEqv85IyB98KVlVLBcddhMi?usp=sharing) is the colab version of my script. I used [IMDB from kaggle](https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews) in local but in colab I gave a download and extractable version. Also, I included torch and transformers versions that I'm using.

[2021-02-19 04:12] renjunxiang commented on #9366
I have been reading this article recently. BertModel accepts 3d masks of dimensions [batch_size, from_seq_length, to_seq_length].
[code]
Maybe can help you.
Also I have a question.
[code]
 I found tensor of the last word 'you' are not same, I don't know the reason.

[2021-02-19 05:04] #10147 closed

[2021-02-19 05:42] stas00 commented on #10151
Thank you, but have you tried running it? It fails in many cells, perhaps I wasn't clear but the idea was to give us a working notebook and then it's easier to spend the time trying to understand the problem, rather than trying to figure out how to make it run - does it make sense?

[2021-02-19 05:47] db1981 opened #10272 "Summarization of long text with T5 seems to output random memory content"
Hello everyone,
I'm trying to summarizing a long text (~1800 words) using the T5 model. I set the max-length and min_length parameters as well, and when I do so, the output seems to contain random memory content...

Here my code:

#len_text=1755
    inputs = tokenizer.encode("summarize: " + proc_text, return_tensors="pt", max_length= (len_text + 1), truncation=True)
    outputs = model.generate(

[2021-02-19 05:47] stas00 commented on #10151
Hmm, you're running on a system with multi-gpus, correct? In one threads I found out that if a vm is used and NVLink they may not work unless properly configured, and that person solved the problem with:
[code]
which disables NVLink between the 2 cards and switches to the slower PCIe bridge connection.

Could you try and check that this is not your case?

[2021-02-19 05:58] bkiat1123 opened #10273 "ElectraForQuestionAnswering with SQuADHead"
# 🚀 Feature request

Implement ElectraForQuestionAnswering as described in the paper. https://arxiv.org/abs/2003.10555

## Motivation

In the original implementation, the authors use question answering module from XLNet rather than simple linear layer. There is a huge gap of performance between these 2 question answering module, especially on Squad2.0 like tasks. I suggest to follow the original i

[2021-02-19 06:19] zmf0507 commented on #8944
@patrickvonplaten  thanks for the update.
Can you tell if there is any work on keyphrase generation /keywords generation (seq2seq task) using hugging-face ? I am looking for such tutorials and examples where I can try and play around keyphrase generation. This task is not mentioned on hugging-face notebooks page as well.
Please let me know

[2021-02-19 06:41] tengerye commented on #5848
Hi, is there any other approach other than downgrading?

[2021-02-19 07:14] renjunxiang commented on #9366
I know. Last word's tensor in first attention layer is same, but there are 12 attention layer. Hiddenstate may change.

[2021-02-19 07:23] bhadreshpsavani commented on #10258
I figured its vocab file is having a mapping in that way But How we can decode it as the perfect sentence that is still confusion

[2021-02-19 07:45] saichandrapandraju commented on #10151
So sorry for that..
But in colab everything works just fine with same library versions that I'm using. [Here](https://colab.research.google.com/drive/1u0QHP8kdjlEqv85IyB98KVlVLBcddhMi?usp=sharing) is the updated one along with outputs.

I have 3 VM's where 1 is having 2 GPU's and rest with single GPU. Currently I'm trying in one of the VM with single GPU and if everything is fine we'll replicate t

[2021-02-19 07:48] saichandrapandraju commented on #10151
Will there be any potential configuration issue..?
But I think everything should work with 1 GPU. Correct me if I'm wrong.

[2021-02-19 07:59] swecooo commented on #9860
Hey @LysandreJik, thank you very much for looking into this issue of ours. :slightly_smiling_face: This is the snippet that I used for computing the mean, median and max errors. I believe it should be identical to your formula mentioned above.

[code]

From the outputs, it seems that, naturally, smaller output values have a larger error. Please do let me know if you can (or cannot) reproduce the i

[2021-02-19 09:23] amogkam commented on #10247
@neel04 thanks a lot for the posting this issue and the easy to run code. There is a bug with the checkpoint directories that is causing this error. This branch has a fix: https://github.com/amogkam/transformers/tree/tune-fix. Can you try it out and let me know if it is working for you. Thanks again!

[2021-02-19 10:11] neel04 commented on #10247
@amogkam Thanx a lot for the branch. I am trying to use it but I am facing 2 problems:-

1. When constructing the `training_args` variable, It is not allowing me to use `adafactor` optimizer. Is this an expected limitation of this branch?
2. I am getting this error still :( that prevents all trials to run except the first one:-

[code]
Pretty huge tracebacks, but at least the previous error is gon

[2021-02-19 10:23] saichandrapandraju commented on #10151
Hi @stas00 ,

It's working with `NCCL_SOCKET_IFNAME=lo` from [this](https://github.com/NVIDIA/nccl/issues/352) thread.

both of the below were working now -
[code]
and

[code]
Not sure exactly what it's doing internally. I will check in other scenarios like multi-GPU and let you know...

[2021-02-19 12:00] LysandreJik commented on #9860
Cool, thanks for providing this snippet! I'll need to take a few hours to deep dive into it and see what's happening, so you expect an answer by the end of the next week if that's alright.

[2021-02-19 12:00] LysandreJik commented on #9860
Will also look into your previous issue https://github.com/huggingface/transformers/issues/7070 (Sorry that it felt through the cracks!)

[2021-02-19 12:01] thehetpandya commented on #9884
I solved the issue using [this code](https://github.com/thehetpandya/onnx-shared-weights-remove/blob/main/onnx_remove_shared_weights.ipynb) that removes shared weights from the ONNX model.

[2021-02-19 12:01] #9884 closed

[2021-02-19 12:07] swecooo commented on #9860
Sure, thanks a lot for looking into this. About #7070, I believe it's basically the same issue as here. :slightly_smiling_face:

[2021-02-19 14:02] corticalstack commented on #876
Grateful for any guidance. Consider the following question asked when performing a semantic search:

_"Which of the current covid19 vaccines in the clinic have reported the highest levels of neutralizing Abs after a single vaccination?_"

The intent behind the question is to get information back about covid19 vaccines generating high levels of antibodies as tested in the clinic (therefore not phas

[2021-02-19 14:45] joshdevins commented on #10263
I think there's a few strategies that can be used to realign labels in the pipeline (I can enumerate these later). However, if we put these strategies in the pipeline only, the [evaluation used in fine-tuning NER with the script](https://github.com/huggingface/transformers/blob/master/examples/token-classification/run_ner.py#L341-L349) will differ/be more limited since the evaluation currently has

[2021-02-19 14:47] yipy0005 opened #10277 "ImportError: cannot import name 'pipeline' from 'transformers' (unknown location)"
Hi, I created an env with conda, installed TF, then installed PyTorch, then "pip install git+https://github.com/huggingface/transformers", but when I ran 'python -c "from transformers import pipeline; print(pipeline('sentiment-analysis')('I hate you'))"', it gave me the ImportError. How can I resolve this?

[2021-02-19 14:51] lhoestq commented on #10269
Maybe let's add a `with_linebreaks` parameter to the text loader ? What do you think ?

[2021-02-19 14:59] yipy0005 commented on #10277
I'm on MacOS btw.

[2021-02-19 15:12] ronaldvelzen opened #10278 "Improving training time for Marian MT model with the Trainer"
## Environment info
- Platform: Linux-4.19.0-14-cloud-amd64-x86_64-with-debian-10.7
- Python version: 3.7.9
- PyTorch version (GPU): 1.7.1
- Using GPU in script?: Yes (2 Tesla V100 GPUs with 16160MiB memory)
- CUDA Version: 11.0
- transformers: 4.3.2
- datasets: 1.3.0

### Who can help
@lhoestq @sgugger @sshleifer

## Information
The model I am using is a [MarianMTModel](https://huggingface.co/tra

[2021-02-19 15:52] lvwerra opened #10279 "Performance of mbart-large-50-many-to-many-mmt on de/fr/it"
Hi everybody

I am using ` mbart-large-50-many-to-many-mmt` and I am running into the following problem.

## Environment info

- `transformers` version: 4.4.0.dev0 (installed from source)
- Platform: Linux
- Python version: 3.8.5
- PyTorch version (CPU): 1.7.1

### Who can help
@patrickvonplaten, @patil-suraj

## Information

I am using the `mbart-large-50-many-to-many-mmt` model for translation a

[2021-02-19 15:53] tanmay17061 opened #10280 "Trainer.train argument resume_from_last_checkpoint"
# 🚀 Feature request

`Trainer.train` accepts `resume_from_checkpoint` argument, which requires the user to explicitly provide the checkpoint location to continue training from.
`resume_from_last_checkpoint` can be useful to resume training by picking the latest checkpoint from `output_dir` of the `TrainingArguments` passed.

## Motivation

1. The checkpoint directory is created by the library, so

[2021-02-19 16:33] joshdevins commented on #10263
Strategies that I can think of:

- If training with padded sub-words/label for first sub-word only, e.g. `Max Mustermann` → `Max` `Must` `##erman` `##n` → `B-PER` `I-PER` `X` `X`
  - Use the label from the first sub-word
- If training with the same label for each sub-word, e.g. `Max Mustermann` → `Max` `Must` `##erman` `##n` → `B-PER` `I-PER` `I-PER` `I-PER`
  - (See above) Use the label from the

[2021-02-19 16:49] #9838 closed

[2021-02-19 16:55] stas00 commented on #10151
Yay, so glad to hear you found a solution, @saichandrapandraju!

Thank you for updating the notebook too!

If the issue has been fully resolved for you please don't hesitate to close this Issue.

If some new problem occurs, please open a new dedicated issue. Thank you.

[2021-02-19 17:27] amogkam commented on #10247
@neel04 ah when installing from my fork you also have to specify the branch: `pip install git+https://github.com/amogkam/transformers.git@tune-fix`. The transformers version should be `4.4.0.dev0`. The gist works for me, and I'm not seeing the other 2 issues that you posted. Can you confirm that this branch works for you?

[2021-02-19 18:22] stas00 opened #10282 "[tests] tests/test_trainer_distributed.py intermittent failure"
`tests/test_trainer_distributed.py` fails occasionally on multi-gpu github runner CI and as a result doesn't free up the 29500 default distributed port.

This could be caused by an occasional deadlock discusses in testing_utils.py's `_stream_subprocess``. When debugging one such zombie it was stuck in `exec(eval(sys.stdin.readline()))`

Note that other similar tests under `examples` don't exhibit

[2021-02-19 18:56] stas00 commented on #10161
FYI, master has a new Trainer flag `--fp16_full_eval` https://github.com/huggingface/transformers/pull/10268 so now you should be able to eval at fp16 and fit t5-11b onto 40gb gpu.

Still need to check on your 2 step scenario OOM report.

[2021-02-19 19:08] gchhablani commented on #6193
Hi @LysandreJik,

I am trying to make a custom model based on Roberta.

The warning is:
[code]

`classifier` and `qa_outputs` are my own layers. I assume from the previous release (4.2.2), this warning has not been removed?
Will having `roberta.embeddings.position_ids` not initialized from roberta affect things in any way?

[2021-02-19 19:19] LysandreJik commented on #6193
This warning shouldn't be removed, it's telling you what it initializes randomly, and what isn't used. Apparently it's not an issue in your case since you're aware of it, so that's great!

Not an issue for the position IDs, this warning should have been removed in version v4.3.2, though!

[2021-02-19 19:22] nreimers commented on #876
@corticalstack
First note the difference between symmetric and asymmetric semantic search:
https://www.sbert.net/examples/applications/semantic-search/README.html#symmetric-vs-asymmetric-semantic-search

You have an asymmetric use case (answer and query are of different type), but you are using a model that is only suitable for a symmetric case (query and answer have the same amount of content).

[2021-02-19 19:24] gchhablani commented on #6193
I meant the warning about for position IDs.
Thanks a lot @LysandreJik :)

[2021-02-19 19:26] LysandreJik commented on #6193
Happy to help!

[2021-02-19 19:49] aishwaryap commented on #7266
Hello @LetiP @eltoto1219 @ecekt

I tried what I believe is the same experiment - predict match/no-match over the MSCOCO 2017 val set. Specifically, I used all image-caption pairs in the val set (25014 pairs over 5000 images) and sampled captions from random different images to create an equal number of negative examples (leading to a total of 50028 examples). I am getting the following results usi

[2021-02-19 19:50] BradSegal opened #10285 "Random Word Replacement Probability"
Hi,

It appears that the token masking function replaces tokens with random words 50% of the time instead of the commented 10%.

https://github.com/huggingface/transformers/blob/709c86b5a925f1efe650e24ee8b1f52bdc5a3acb/src/transformers/data/data_collator.py#L381

[2021-02-19 19:55] #10285 closed

[2021-02-19 19:56] BradSegal commented on #10285
Nevermind, didn't see the not for replaced indices so it's 50% of the remaining 20% after masking

[2021-02-19 20:57] corticalstack commented on #876
@nreimers Can you just do a brain dump into a book please? :)

When Googling for "_Symmetric vs asymmetric semantic search_", oddly enough your SBERT site is first hit! With seemingly few very few other relevant hits. Is this distinction so little discussed in the public domain? The "msmarco-distilbert-base-v2" sentence-transformer states training on a **passage retrieval** dataset. Is this the mo

[2021-02-19 21:06] nreimers commented on #876
@corticalstack
It is not a common distinction, so no wonder that SBERT is on the first position.

For semantic search you have basically two cases:

**Paraphrase search (or symmetric semantic search)**
E.g., I have a query like "How can I learn Python via the internet" and you want to find a paraphrase like "How to learn Python using the web". Here, query & document are interchangeable, i.e., the

[2021-02-19 21:07] LysandreJik commented on #10277
Possibly duplicate of https://github.com/huggingface/transformers/issues/9939

[2021-02-19 21:25] yaozhaogoogle commented on #6844
Thank you for reproducing this results!
Regarding the treatment of the <n>, newline char "\n" in input text are being replaced by <n> and vice versa for the output.

[2021-02-19 21:50] Dongximing commented on #400
I think so, if you want to freeze bert part in bert model, u just say
 for param in model.bert.parameters():
 param.requires_grad = False
but how are about optizmer ?

is look like in this way ?
    optimizer = torch.optim.Adam(filter(lambda p: p.requires_grad, model.parameters()), lr=0.00001)

[2021-02-19 21:51] gwc4github opened #10288 "Minor documentation issue"
## Minor issue in the Fine tuning docs
In the "Named Entity Recognition" section of the "Summary of tasks" documentation page there are some bad links.
Here is a link to the section: https://huggingface.co/transformers/task_summary.html#named-entity-recognition

The text in question is:
##Named Entity Recognition
Named Entity Recognition (NER) is the task of classifying tokens according to a class

[2021-02-19 21:59] xxbidiao opened #10289 "Masking issues with GPT2LMHeadModel.generate()"
Is this intended behavior, that padding a sentence and attention_mask it will not give the exact same generation result comparing to the same sentence unpadded?

Edit: [This notebook](https://colab.research.google.com/drive/1oyFRFigtSNUYwKO1EQPRHfEqke0-F6_N?usp=sharing) demonstrates this, with the newest version available on colab. I realized that I didn't turn sampling off with the example below

[2021-02-19 22:01] ahnz7 commented on #400
I think you have written right code. But we should write usually 2 parts together. I mean:
for param in model.bert.parameters():
param.requires_grad = False
optimizer = torch.optim.Adam(filter(lambda p: p.requires_grad, model.parameters()), lr=0.00001)
Cuz we need to know which parameters are frozen.

[2021-02-19 22:10] Dongximing commented on #400
sorry, I do not know what do you mean?
so let say, if we just want to freeze the input part ( input embedding). how can I write the code?
bert = BertModel.from_pretrained('bert-base-uncased')

for name, param in bert.named_parameters():
    if name.startswith('embeddings'):
        param.requires_grad = False
this above three line, is tell model do not train the embedding right?

but how to tell t

[2021-02-19 22:13] Dongximing commented on #95
Hi
How to tell the optimizer that freezing the embedding?

[2021-02-19 22:16] ahnz7 commented on #400
these three lines have set False in 'Embedding' right? Then we need just to write what you have written:
optimizer = torch.optim.Adam(filter(lambda p: p.requires_grad, model.parameters()), lr=0.00001)

[2021-02-19 22:29] tanmay17061 opened #10290 "Trainer train continues after resume_from_checkpoint on a checkpoint with early stop"
## Environment info

When continuing training from checkpoint, Trainer does not check if the checkpoint terminated with an `self.control.should_training_stop == True`.

`self.control.should_training_stop == True` holds when:
1. `state.global_step >= state.max_steps`
    * training does not resume on `resume_from_checkpoint` due to recovering steps information (`state.global_step`) from checkpoint

[2021-02-19 22:34] sgugger commented on #10288
Thanks for flagging! Those have not been updated in a while so I made a pass over that file.

[2021-02-19 23:02] neel04 commented on #10247
Yep, that fixes it :blush: Thanks for your help! one last thing - is it normal to see a single trial take a _very_ long time while having all the other trials paused?

[2021-02-19 23:04] #10288 closed

[2021-02-19 23:15] gwc4github commented on #10288
I still see the bad links.  Is the change getting pushed later?

[2021-02-20 00:17] #10044 closed

[2021-02-20 00:51] yipy0005 commented on #10277
I have installed TF 2.0 right at the start. Is there a version to update to resolve this error?

[2021-02-20 01:04] stas00 opened #10292 "[examples s2s] AttributeError: 'MBartTokenizerFast' object has no attribute 'tgt_lang'"
After this PR https://github.com/huggingface/transformers/pull/10205 This is still broken for other models:

[code]

[code]

@patil-suraj, @sgugger

[2021-02-20 01:08] yipy0005 commented on #10277
So after install TF 2.0 with conda, I performed pip install --upgrade tensorflow to v2.4.1 and it works now.

[2021-02-20 01:08] #10277 closed

[2021-02-20 02:03] stas00 opened #10293 "[pretrained] model classes aren't checking the arch of the pretrained model it loads"
While comparing different models trained on xsum (most of which are Bart) I made a mistake and passed "google/pegasus-xsum" to `BartForConditionalGeneration`

[code]

I got:

[code]

Any reason why the model class doesn't check that it's being fed a wrong architecture? It could detect that and give a corresponding error message, rather than spitting random errors like above? I was pretty sure it w

[2021-02-20 02:17] Mehrad0711 opened #10294 "Marian input decoding bug"
# 🐛 Bug

## Information

Model I am using (Bert, XLNet ...): Marian

Language I am using the model on (English, Chinese ...): English, German

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give

[2021-02-20 04:19] Tan1997 opened #10296 "[predict] AttributeError: 'Seq2SeqTrainer' object has no attribute 'metrics_format'"
Hi everybody

When using mbart for machine translation prediction, i got:

Traceback (most recent call last):
  File "/Users/lishuqi/Desktop/WAT2021/transformers-master/examples/seq2seq/run_seq2seq.py", line 667, in <module>
    main()
  File "/Users/lishuqi/Desktop/WAT2021/transformers-master/examples/seq2seq/run_seq2seq.py", line 637, in main
    metrics_formatted = trainer.metrics_format(metric

[2021-02-20 06:56] cronoik commented on #10258
Seems like they have not implemented a decoder for the tokenizer. I will have a look at it.

[2021-02-20 07:20] bhadreshpsavani commented on #10258
It might be expected behaviour because it is based on GPT2 tokenizer and it is also having similar results

[2021-02-20 07:35] cronoik commented on #10258
That is not true:
[code]
['Hi',
 'ĠI',
 'Ġam',
 'ĠBh',
 'ad',
 'resh',
 '.',
 'ĠI',
 'Ġfound',
 'Ġan',
 'Ġissue',
 'Ġin',
 'ĠDe',
 'bert',
 'a',
 'ĠToken',
 'izer']

[2021-02-20 07:42] bhadreshpsavani commented on #10258
Ya, you are right!, Something is missing in the implementation I can't figure out what!

I try to convert the SQUAD2 dataset in to feature using the SQAUD.py file in data preprocessing.
After Conversion when I decode the input id it is returning context like this

`Who are you?IamBhadresh`

I mean in context space is not considered!

[2021-02-20 07:44] sankarsiva123 commented on #10254
Could any let me know how to install it from the source?

[2021-02-20 08:40] sorenmulli opened #10297 "AutoTokenizer from pretrained BERT throws TypeError when encoding certain input"
## Environment info

- `transformers` version:  4.3.2
- Platform: Arch Linux
- Python version: 3.9.1
- PyTorch version (GPU?): 1.7.1, no
- Tensorflow version (GPU?): Not installed
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
Guess from git blame: @LysandreJik , @thomwolf @n1t0

## Information

Model I am using (Bert, XLNet ...): BERT

The probl

[2021-02-20 09:35] tagucci opened #10298 "Converting fairseq NMT to transformers misses model weight"
Hi there, question about fairseq NMT model ([FSMT](https://huggingface.co/transformers/model_doc/fsmt.html)) conversion.

I tried to convert my own fairseq-nmt model ([`transformer_wmt_en_de`](https://github.com/pytorch/fairseq/blob/master/fairseq/models/transformer.py#L1046)) based on [this conversion script](https://github.com/huggingface/transformers/blob/master/src/transformers/models/fsmt/con

[2021-02-20 13:12] arthurbra opened #10299 "Object of type 'int64' is not JSON serializable in Trainer.save_checkpoint"
I am using the recent run_ner.py example script to train an NER model. I want to evaluate the performance of the model during training and use the following command for training:

[code]
I run the command in the current docker image huggingface/transformers-pytorch-gpu
However, I get the following error:
[code]

[2021-02-20 14:58] IamAdiSri opened #10300 "unexpected keyword argument 'forced_bos_token_id' when using mbart-large-50-many-to-many-mmt"
When I try to run the example on the model card, I get this error;

[code]

Looking at the code in the master repository, I can't see the generate function taking that argument anywhere at all so I'm unsure how to proceed with this.

_Originally posted by @IamAdiSri in https://github.com/huggingface/tokenizers/issues/633#issuecomment-781689632_

[2021-02-20 16:06] fedor360139 opened #10302 "Tensorflow not found but i can import it"
## Environment info

- `transformers` version: 4.4.0.dev0
- Platform: macOS-11.2.1-arm64-arm-64bit
- Python version: 3.8.6
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

@jplu, @patrickvonplaten, @LysandreJik

## Description
When i import transformers i get

[2021-02-20 16:15] cronoik commented on #10302
What is the output of:
[code]
?

[2021-02-20 17:03] saboof commented on #10185
Hi @jplu

Again, thanks for the help.

Sorry, I think we are back in square one.
My initial issue was how to save a Keras model which includes a HF model within it?

Attached is an example of a code that generates a Keras model which incorporates a BERT model.
[example.txt](https://github.com/huggingface/transformers/files/6015722/example.txt)

How would you go about saving this model in such a wa

[2021-02-20 17:20] cronoik opened #10303 "convert_tokens_to_string documentation bug"
The [documentation](https://huggingface.co/transformers/main_classes/tokenizer.html#transformers.PreTrainedTokenizer.convert_tokens_to_string) states that convert_tokens_to_string would convert _a sequence of token ids in a single string._

That is actually not correct as it converts a sequence of tokens. The method that converts a sequence of token ids is the decode method.

Documentation: @sgugg

[2021-02-20 17:48] cronoik opened #10305 "Documentation of the decode method is missing"
The tokenizer documentation [page](https://huggingface.co/transformers/main_classes/tokenizer.html) is generated from the following files:

- tokenization_utils_base.py
- tokenization_utils_fast.py
- tokenization_utils.py

At least the documentation of the decode method is missing even if it is properly documented in the [source file](https://github.com/huggingface/transformers/blob/9a7e63729f3ff6

[2021-02-20 18:04] fedor360139 commented on #10302
'2.4.0-rc0'

[2021-02-20 18:59] George-Ogden opened #10306 "Issue Loading bert-based-german-cased"
Message on the website is:
 Can't load tokenizer using from_pretrained, please update its configuration: 400 Client Error: Bad Request for url: https://int-deepset-models-bert.s3.eu-central-1.amazonaws.com/pytorch/bert-base-german-cased-vocab.txt

[2021-02-20 20:11] sgugger commented on #10288
It will only be seen in the [master documentation](https://huggingface.co/transformers/master/) for now. At the next release, it will become visible in the stable documentation.

[2021-02-20 20:21] sgugger commented on #10305
This has been fixed a few days ago, I believe. Look at the [master doc tokenizer page](https://huggingface.co/transformers/master/main_classes/tokenizer.html) (the stable documentation is only updated at each release).

[2021-02-20 20:21] #10303 closed

[2021-02-20 20:42] dorooddorood606 opened #10307 "pretraining objective of T5 model"
# 🚀 Feature request

Hi, it would be great to have pretraining of T5 model implemented. Currently, run_mlm.py script does not support it.

## Motivation

T5 is the SOTA model and having pertaining would be very helpful to the community.

[2021-02-20 20:52] sgugger commented on #10292
#10287 contains the fix.

[2021-02-20 22:06] gwc4github commented on #10288
Will the new run_ner.py work with PyTorch and TF?  PyTorch-Lightening too?

[2021-02-20 23:51] dunglt2015 opened #10309 "[Example] Using label_smoothing_factor raise error when evaluating model"
## Environment info

- `transformers` version: 4.3.2
- Platform: Ubuntu 20.04
- Python version: 3.8
- PyTorch version (GPU): 1.6.0

### Who can help

Library:
- pipelines: @LysandreJik

Examples:
- maintained examples (not research project or legacy): @sgugger, @patil-suraj

## Information

Model I am using BERT:

The problem arises when using:
* [x] the official example scripts: https://github.co

[2021-02-21 02:39] Slyne commented on #10090
Any update ? @LysandreJik

[2021-02-21 05:27] cronoik commented on #10305
Yes, you are right.

[2021-02-21 05:27] #10305 closed

[2021-02-21 08:05] xe442 opened #10311 "Matrix multiplication error for ReformerModelWithLMHead when tie_word_embeddings is True"
## Environment info

- `transformers` version: 4.3.2
- Platform: Windows 10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.7.0 cpu-only
- Tensorflow version (GPU?): not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

- longformer, reformer, transfoxl, xlnet: @patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): Ref

[2021-02-21 09:30] atahmasb opened #10312 "LayoutLM Tensorflow model"
# 🚀 Feature request

It would be great if there was a TF version of the layoutlm. I see there are scripts in the repo to convert PyTorch checkpoints to TF models but I think the requirement is to have a TF model architecture to be able to load PyTorch model's wights in it.

## Motivation
We are using TF in production and we'd love to be able to use the layoutlm.

## Your contribution
I am happy to

[2021-02-21 09:32] sadanyh opened #10313 "ValueError: too many values to unpack (expected 2)"
## Environment info

 `transformers` version: 3.0.2
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.7.0+cu101 (True)
- Tensorflow version (GPU?): 2.4.1 (True)
- Using GPU in script?:  True
- Using distributed or parallel set-up in script?: No

### Who can help
albert, bert, xlm: @LysandreJik
trainer: @sgugger

## Information

Model I

[2021-02-21 09:50] cronoik commented on #10258
You can convert them back with the following code:
[code]
Output:
[code]

After some digging into the code, I am actually not sure if I should create a patch for it or not. I think with a patch we can **probably** also remove the method [download_asset](https://github.com/huggingface/transformers/blob/cdd31b4de4b446ccff9428d14fbeb45c4d96c608/src/transformers/models/deberta/tokenization_deberta.py#

[2021-02-21 10:01] cronoik commented on #10313
Please post the full error stacktrace. Which version of the script are you using?

[2021-02-21 10:02] cronoik commented on #10306
Which code caused this error?

[2021-02-21 10:13] pyturn commented on #10206
Hi @LysandreJik , Are there any updates on this ?

[2021-02-21 11:59] dorost1234 opened #10315 "Huggingface mt5 does not reach the performance of original mt5 on paws-x"
## Environment info

- `transformers` version: 4.3.2
- Platform: linux
- Python version: 3.7
- PyTorch version (GPU?): 1.7
- Tensorflow version (GPU?): -
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes

### Who can help

 t5: @patrickvonplaten, @patil-suraj

## Information

Hi
I ran the model of mT5-small on paws-x in zero-shot cross-lingual setup where we tune o

[2021-02-21 13:07] sadanyh commented on #10313
Hi thank you for your reply. I did post the trace back for the error.

Looking forward to your reply

Hadeel

[2021-02-21 14:30] jonatasgrosman opened #10317 "ForTokenClassification head on BART"
# 🚀 Feature request

Hello guys! I'm trying to reproduce the token classification experiments from the [BART paper](https://arxiv.org/abs/1910.13461) using the HF/Transformers and found that a token classification head is missing on the current BART model HF implementation.

The current BART implementation only has the "BartForConditionalGeneration" and "BartForSequenceClassification". Are there a

[2021-02-21 15:13] sgugger commented on #10313
Please use the [forums](https://discuss.huggingface.co/) to debug custom code with help from the community and only when you have isolated a part that is a bug in the library use a GitHub issue.
In this particular case, you should include the full stack trace, as pointed out before (it's not in your message, just the last frame) and the code that created your model: the error seems to point out th

[2021-02-21 15:17] sgugger commented on #10309
Can reproduce locally, here is a short reproducer from the root of the repo:
[code]

Will look into it tomorrow.

[2021-02-21 15:56] George-Ogden commented on #10306
This issue comes from the hosted API https://huggingface.co/bert-base-german-cased?text=Ich+bin+%5BMASK%5D

[2021-02-21 16:15] griff4692 opened #10318 "Guidance for continued pre-training of BART with de-noising."
# 🚀 Feature request

An example of continued pre-training of BART with de-noising.

## Motivation

I'm using the run causal LM [script](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_clm.py), but it seems on line 340, it's simply copying input to output (learning the identify function).

1. Would line 340 be the best place to add the de-noising or should I i

[2021-02-21 17:11] mwang98 opened #10319 "[Question] Add a new token to tokenizer and bart model"
Hi,
I have extended the word embedding of a tokenizer and a bart model through `tokenizer.add_token()` and `model.resize_token_embeddings(len(tokenizer))`. Because the ground truth consist of a newly added token, the dimension of the decoder output should be extended as well.

But I can't figure out how to extend the model. Can anyone give me some help?

Thanks in advance ! 💯

[2021-02-21 17:21] arunraja-hub opened #10320 "BERT for speech"
How can I use HF's BERT models for speech-to-text training?

[2021-02-21 21:18] mollha commented on #432
Hi @varun-nathan and @jstremme, were either of you able to find the issue? I'm experiencing the same thing with ElectraForSequenceClassification!

[2021-02-21 21:44] dorooddorood606 commented on #10318
also it is my questions, thanks

[2021-02-21 21:57] stas00 opened #10321 "[Horizontal Model Parallelism] Megatron-LM to transformers"
# 🚀 Feature request

Splitting the discussion that started here: https://github.com/huggingface/transformers/pull/10301#issuecomment-782917393 to the potential future feature of transformers and it's Horizontal Model Parallelism - for bigger context please see [Parallelism notes](https://github.com/huggingface/transformers/issues/9766).

At the moment I think it's only Megatron-LM that implements

[2021-02-22 00:11] jstremme commented on #432
Hi @mollha, I managed to solve this but can't remember exactly what I did.  Did you try `model.eval()`? Also, make sure you are training on more than just a few samples records and using a large enough model in terms of neurons per layer etc.

[2021-02-22 01:32] mollha commented on #432
Thanks! I was already using model.eval(), but my dataset size was too small (around 1000). After increasing to 15000 I am getting much better results.

[2021-02-22 02:40] #9971 closed

[2021-02-22 02:55] ColinConwell commented on #10269
Thanks for the rapid replies, and relevant updates. would there be interest then in surfacing this new functionality an extra level to the run_[c]lm.py script? or should we just modify the relevant load_dataset call in that script?

[2021-02-22 06:32] dorost1234 commented on #10318
denoising function is a part of T5 pretraining as well, is there a denoising function implementation in Huggingface repo ? Any advice is appreciated. thanks

[2021-02-22 07:32] gongjingcs commented on #9606
hi，we noticed Deepspeed transformer kernel is much faster than the original PyTorch version with less memory consumption. I would like to know if you have any future plan to  integrate Deepspeed transformer kernel in huggingface.
Thanks!

[2021-02-22 08:35] dorost1234 commented on #10218
Hi
@patrickvonplaten, @patil-suraj could you give me some advice how to do T5 pretraining with denoising objective? thanks

[2021-02-22 08:49] julien-c commented on #10306
@tholor The url above currently loads for me, but to be future-proof should we cp the files currently loaded from that S3 bucket to the corresponding model repo (here, https://huggingface.co/bert-base-german-cased)?

cc'ing @LysandreJik

[2021-02-22 09:13] NielsRogge commented on #10312
Sure, I can guide you if you want.

As LayoutLM is only a slight adaptation from BERT, I guess you can define `modeling_tf_layoutlm.py` based on `modeling_tf_bert.py`.  Note that all layers should be renamed, e.g. `TFBertEmbeddings` -> `TFLayoutLMEmbeddings`. LayoutLM adds position embeddings for the tokens based on the bounding boxes, so I guess this is the only thing that needs to be added in th

[2021-02-22 09:37] DarshanDeshpande opened #10325 "Input mismatch with TFDistilBert training from scratch inspite of cross checking input dimensions"
## Environment info

- `transformers` version: 4.3.2
- Platform: Colab
- Python version: 3.6
- PyTorch version (GPU?): None
- Tensorflow version (GPU?): 2.4.1
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@jplu

## Information

Model I am using (Bert, XLNet ...): TFDistilBert

The problem arises when using:
* [ ] the official example scripts: (

[2021-02-22 09:49] saichandrapandraju commented on #10151
Tested DeepSpeed on multi-GPU as well and it worked !!

By setting `NCCL_SOCKET_IFNAME=lo`, everything worked as expected.

Thanks a lot @stas00

[2021-02-22 09:49] #10151 closed

[2021-02-22 09:49] #10226 closed

[2021-02-22 09:58] NielsRogge commented on #10317
It would be great to have a `BartForTokenClassification`. Does it use the same head as `BertForTokenClassification`, etc.?

Feel free to open a PR :)

[2021-02-22 09:59] jplu commented on #10185
Once again, you should not integrate a model inside another model, What I proposed you to do is exactly what you would like to do because `TFBertMainLayer == TFBertModel`.

I would go to what I proposed :)

[2021-02-22 10:01] NielsRogge commented on #10298
Pinging @stas00 here

[2021-02-22 10:03] jplu commented on #10302
Hello!

We currently don't support other implementations than the Google's pypi versions. The reason is because we don't tests on other versions and then we cannot guarantee it will works on those "extra" versions.

To make `transformers` works on Mac I suggest you to use the official version of TensorFlow as proposed in their documentation https://www.tensorflow.org/install/pip

[2021-02-22 10:09] saichandrapandraju opened #10326 "[DeepSpeed] unable to increase batch size from 4 for T5-3b with 2x 32GB V100 GPUs"
Hi,

I'm trying T5-3b with DeepSpeed on 2 V100-32GB GPU's. But I'm unable to increase batch size beyond 4 with max i/p sequence length of 512 and max o/p sequence length of 4.
Previously I tried with t5.parallelize() [ i.e, without DeepSpeed ] on same setup and was able to train with batch size of 2.

Below are my training args and DeepSpeed's config -
[code]
[code]

Observed similar behavior with

[2021-02-22 10:13] jplu commented on #10325
Hello!

As first, I can see several issues on the way you want to train the model:
1. The way you build your dataset is not correct. More precisely, in the `tokenize` function, the first element of the tuple (`a.ids`) is taken as the input, and the second (`a.attention_mask`) is taken as the label. Hence the error you get.
2. When you instantiate your `tf.keras.models.Model` you define the `inputs

[2021-02-22 10:23] saboof commented on #10185
Thanks @jplu

For the best of my understanding, your proposed code doesn't instantiate a Keres model. right?
If I get your suggestions correctly what you say is that I can't wrap HF model inside a Keras model since integrating a model inside another model, is discouraged by Keras.

[2021-02-22 10:27] jplu commented on #10185
Yes! I proposed you to use such a way to do that is 100% equivalent to what you would like.

[2021-02-22 10:32] saboof commented on #10185
Thanks!

[2021-02-22 10:41] DarshanDeshpande commented on #10325
@jplu I realized my mistake and I changed the code to this

[code]
Now the model throws two warnings
[code]
and then throws the final error
[code]
Any idea what I am doing wrong?

[2021-02-22 10:51] jplu commented on #10325
You cannot do `model.output`, as said in my previous message you have to run the model once to get how the output looks like :)

[2021-02-22 11:08] DarshanDeshpande commented on #10325
@jplu Could you tell me exactly what you mean by "run" the model? If I pass a sample array with all ones, it gives me a Broadcasting error as follows
[code]
Error is as attached
[code]
More specifically the error is raised in `modeling_tf_distilbert.py `
[code]
-----------------------------------------------------------------------------------------
If by "run" you mean calling fit on the model th

[2021-02-22 11:28] codingnoobneedshelp opened #10327 "mBART 50 models not found in model shortcut name list"
Transformers version: 4.4.0.dev0

Hello, I'm trying to fine-tune mBART 50 with your seq2seq examples.

Getting this error:

Model name 'facebook/mbart-large-50' not found in model shortcut name list (facebook/mbart-large-en-ro, facebook/mbart-large-cc25).

Traceback (most recent call last):
  File "/content/transformers/examples/seq2seq/run_seq2seq.py", line 668, in <module>
    main()
  File "/co

[2021-02-22 11:34] jplu commented on #10325
Here a dummy example:
[code]

[2021-02-22 12:25] tholor commented on #10306
@julien-c Sure, let's copy them from our S3 to the model repo.

[2021-02-22 12:27] patil-suraj commented on #10300
hi @IamAdiSri

What is your Transformers version ? mBART-50 currently only works on master.

[2021-02-22 12:30] patil-suraj commented on #10254
To install from source clone the repo and run `pip install .` from the root of the repo or run

`pip install git+https://github.com/huggingface/transformers.git`, which will install the master branch,

[2021-02-22 12:38] patil-suraj commented on #10296
`metrics_format` was recently introduced on master, you should update the transformers version to master.

[2021-02-22 12:41] #10247 closed

[2021-02-22 12:57] LysandreJik commented on #10297
Hello! Thank you for opening an issue with a reproducible example, it helps a lot.

The issue here is that you're using the `encode` method to encode a batch, which it can't do. Encode only encodes single sequences, and can accept a "batch" of two because it processes them as two independent sequences that should be joined together, for example for text-classification where you would want to class

[2021-02-22 13:00] sgugger commented on #10269
We will do that as soon as there is a new release of datasets to pin in the requirements! For now changing the `load_dataset` in the script if you have a source install is the best way.

[2021-02-22 13:11] saboof commented on #10185
Keras discouraging nested models is new information for me.
And this is weird as in their Keras official examples they do exactly that.
They have a nested HF model inside a Keras model.

https://keras.io/examples/nlp/text_extraction_with_bert/#preprocess-the-data
Please look under the function create_model().

Do you have any pointers in which Keras discouraging nested models is mentioned?

[2021-02-22 13:26] hasansalimkanmaz opened #10329 "Raise an error instead of a warning when model files are not loaded correctly"
# 🚀 Feature request

Currently, when I initialize a model and if my pre-trained model files aren't fully matched with my model architecture, code silently logs the event and warns the user. I think it is better to have a flag to stop the training if model weights are not loaded as expected.

## Motivation

With the current implementation, user can train a model from scratch without knowing it if h

[2021-02-22 13:26] jplu commented on #10185
What you point out is a totally different way to what you are doing. In the link you proposed, the model is built in a functional manner which is totally different of building a model in a subclassing manner.

Please use the TFBertMainLayer, this is the exact same thing.

[2021-02-22 13:34] saboof commented on #10185
Sorry, I can't find the difference between the Keras example and my previous example under the create_model function.
Attached is the function I used in my example file.

[code]

[2021-02-22 13:45] tomohideshibata opened #10330 "[DeepSpeed] strange learning rate schedule in linear_schedule_with_warmup"
## Environment info

- `transformers` version: 4.3.2
- Platform: Linux
- Python version: 3.7.3
- PyTorch version (GPU?): 1.7 (yes)
- Tensorflow version (GPU?): N/A
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: yes (DeepSpeed)

### Who can help
@stas00

## Information

Model I am using (Bert, XLNet ...): GPT-2

The problem arises when using:
* [x] the official examp

[2021-02-22 13:47] LysandreJik commented on #10293
Ah indeed, that's a good request ! There's no reason, we could definitely raise a warning when loading the weights by checking the model type in the configuration against the arch's model type. Do you want to open a PR?

[2021-02-22 13:51] LysandreJik commented on #10320
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discusss.huggingface.co) instead?

Also, [here's the doc](https://huggingface.co/transformers/model_doc/wav2vec2.html#transformers.Wav2Vec2ForCTC for `Wav2Vec2ForCTC` which seems to be the model you're interested in.

Thanks!

[2021-02-22 13:51] #10320 closed

[2021-02-22 13:55] DarshanDeshpande commented on #10325
@jplu Thanks for this but this tokenizes the data and then loads it as a tf.data.Dataset. I was looking for an implementation where the tokenization can be integrated in the pipeline itself and can be done on the fly. I found [this](https://github.com/tensorflow/tensorflow/issues/38762) issue on tensorflow but there are no fixes for it yet. Do you have any idea how to do this because my dataset is

[2021-02-22 13:56] LysandreJik commented on #10258
@BigBird01, would you be open to having the `DebertaTokenizer` inheriting directly from the GPT-2 tokenizer? It would prevent such cases like the one mentioned in this issue from happening.

[2021-02-22 14:01] LysandreJik commented on #10319
Hello! You should use the [resize_token_embeddings](https://huggingface.co/transformers/main_classes/model.html?highlight=resize_token_embeddings#transformers.PreTrainedModel.resize_token_embeddings) method for that. Will add that to the documentation.

[2021-02-22 14:02] patrickvonplaten commented on #10315
Hey @dorost1234,

could you post your question on the [forum](https://discuss.huggingface.co/) and see whether you can get help from the community there? We try to keep GitHub issues for bug reports mostly.

It would also be very important that you attach a notebook or something that allows people to understand what you have done and what you might have missed...

[2021-02-22 14:04] jplu commented on #10185
Sorry, this way of creating a model is fine, I was referencing to your first example script called `compile_model.txt`.

Now to properly save the model you can do something like this:
[code]

[2021-02-22 14:05] jplu commented on #10325
Sorry you cannot do this.

[2021-02-22 14:13] sgugger commented on #10280
Instead of adding a new argument, I would use the existing `resume_from_checkpoint` and change its type to bool or str/PathLike. If it's a bool and if it's `True`, we then use `get_last_checkpoint` to get the last checkpoint in `args.output_dir`. Does that sound good to you?

[2021-02-22 14:21] patrickvonplaten commented on #10272
Hey @db1981,

could you please post a fully reproducible code snippet in the following format:

[code]

so that we can help you better?

[2021-02-22 14:31] dorost1234 commented on #10315
Hi  Patrick
thanks, sure, I posted here because I mainly wanted to ask if you have in
the past compared the performance of original mt5 with the HuggingFace
model side by side on one setting?
this is unfortunately a lot of codes for me to share, since I build on top
of my codebase, and this is not very easy to make a small example showing
these differences.
Overall, knowing if in the past such com

[2021-02-22 14:35] jplu commented on #10185
Or a much nicer version IMO:
[code]

Once saved you can load and use it like this:
[code]

[2021-02-22 14:48] #10319 closed

[2021-02-22 14:51] dorost1234 opened #10332 "bug in bert pretraining"
## Environment info

- `transformers` version: 4.3.2
- Platform: linux
- Python version: 3.7
- PyTorch version (GPU?): 1.7
- Tensorflow version (GPU?): -
- Using GPU in script?: -
- Using distributed or parallel set-up in script?: -

### Who can help

- albert, bert, xlm: @LysandreJik

## Information

In this line https://github.com/huggingface/transformers/blob/e73a3e1891775a915846cc0f24b7e9a26d6

[2021-02-22 15:04] sorenmulli commented on #10297
Thank you very much for this good explanation which clearly resolves my problem.

Do you by any chance know whether this behaviour changed in the last years time?
The transformers-based repos [NERDA](https://github.com/ebanalyse/NERDA) and [danlp](https://github.com/alexandrainst/danlp) seem to rely on `tokenizer.encode` to be working as you show the call method does, and as such fail on the curre

[2021-02-22 15:17] BigBird01 commented on #10258
Yes. Let’s do it this way.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Lysandre Debut <notifications@github.com>
Sent: Monday, February 22, 2021 5:57:14 AM
To: huggingface/transformers <transformers@noreply.github.com>
Cc: Pengcheng He <biglm100@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [huggingface/transformers] Deberta Tokenizer convert_

[2021-02-22 15:26] xxbidiao commented on #10289
[code]

[code]

Looks like it works! Will double check. Thank you!

[2021-02-22 15:27] DarshanDeshpande commented on #10325
Okay. Thanks for all the help!

[2021-02-22 15:27] #10325 closed

[2021-02-22 15:31] IamAdiSri commented on #10300
@patil-suraj I'm on version 4.3.2, but I tried it with the modules in master branch.  I searched through the repository but as far as I can tell, none of the relevant mbart modules take `forced_bos_token_id` as a parameter in their generate function.

I'm looking the example on [this](https://huggingface.co/facebook/mbart-large-50-many-to-many-mmt) page btw.

[2021-02-22 15:34] patil-suraj commented on #10300
`forced_bos_token_id` is included on master, https://github.com/huggingface/transformers/blob/master/src/transformers/generation_utils.py#L549

you should install from source to use mBART-50

[2021-02-22 15:36] IamAdiSri commented on #10300
Oh okay, thank you.

[2021-02-22 15:36] #10300 closed

[2021-02-22 15:40] LysandreJik commented on #10297
I believe the `encode` method never accepted batches as inputs. We introduced `encode_plus` and `batch_encode_plus` down the road, the latter being the first to handle batching.

While these two methods are deprecated, they're still tested and working, and they're used under the hood when calling `__call__`.

What is happening here is that v3.5.1 is treating your input as individual words (but by

[2021-02-22 15:41] db1981 commented on #10272
Hi @patrickvonplaten thanks for you reply! Below the full code!

from transformers import T5ForConditionalGeneration, T5Tokenizer

model_str = "t5-base"

model = T5ForConditionalGeneration.from_pretrained(model_str)
tokenizer = T5Tokenizer.from_pretrained(model_str)

full_path = "./brief.txt"

with open(full_path) as file: # Use file to refer to the file object
    text = file.read()

    proc_tex

[2021-02-22 15:46] LysandreJik commented on #10258
@cronoik do you want to take a stab at it?

[2021-02-22 15:49] LysandreJik commented on #10332
Duplicate of https://github.com/huggingface/transformers/issues/10285

[2021-02-22 15:49] #10332 closed

[2021-02-22 15:50] sorenmulli commented on #10297
Thank you, the `is_split_into_words` clears up the confusion between batches and tokens clearly for me!

[2021-02-22 15:50] #10297 closed

[2021-02-22 16:08] schelv commented on #9290
The files for this model can be found [here](https://huggingface.co/pdelobelle/robbert-v2-dutch-base/tree/main).

In `merges.txt` is the merge rule: `ĉ Ċ`
That means that the symbol `Ċ` should be present in `vocab.json`
It is not.
So the error does kind of make sense.

 @iPieter are these the correct files?
In the paper you mention:

There are 39982 words in the vocabulary.
Is it possible that som

[2021-02-22 16:21] tanmay17061 commented on #10280
Yes, SGTM. I have raised [a PR](https://github.com/huggingface/transformers/pull/10334) doing the same. Do let me know if there is any other change required as well!

**PS**: Can you also review my [other PR](https://github.com/huggingface/transformers/pull/10286) introducing `save_strategy` in `TrainingArguments`? This PR is the last one to round-up the `save_strategy`, `evaluation_strategy` and

[2021-02-22 16:28] sgugger commented on #10290
Indeed, I can see the problem. I'm not sure there is an easy fix however and I don't have time right now to build a proper callback checkpointing system. Will have to wait a little bit to be fixed!

[2021-02-22 16:35] doguaraci commented on #7797
Hi, I'm still getting this warning on version 4.3.2,

[2021-02-22 16:44] stas00 commented on #10293
Why a warning and not assert? If the code throws a totally unrelated long backtrace how would a user know to search for an earlier warnings?

[2021-02-22 17:10] atahmasb commented on #10312
@NielsRogge Thanks for the guidance, I think I know where to start.
I'll comment here if I had more questions. I am hoping to have a PR by the end of this week

[2021-02-22 17:34] anton-l commented on #10321
@stas00 thanks for starting this thread!

I guess, in order for everyone to be on the same page, a brief explanation of horizontal parallelism is needed.

## The core idea

The main thing that separates Megatron-style (horizontal) parallelism from vertical parallelism is the way that it splits the model layers between GPUs without the need for idle time during training/inference (i.e. waiting whil

[2021-02-22 17:43] anton-l commented on #10321
Phew! That felt like a start of a whole blog post :smile:

As for porting all of this, I would follow [faiseq's example](https://github.com/pytorch/fairseq/blob/master/fairseq/model_parallel/models/transformer.py) and copy Megatron-LM's parallel layers verbatim into an existing implementation of `BertModel` or `GPT2Model` as a proof-of-concept and then work from there.

After the first semi-workin

[2021-02-22 18:49] saboof commented on #10185
Thanks, @jplu

[2021-02-22 18:58] Mehrad0711 opened #10335 "Return cross-attention weights in generation function"
# 🚀 Feature request

With v4.2.0 release, generation can now return encoder and decoder self-attention weights but it still doesn't return cross-attention weights. These weights are already computed and returned in model `forward` method, and just need to be returned in `generate` method.
## Motivation

Visualizing cross-attention weights is useful for many applications such as token-alignment.

#

[2021-02-22 19:08] pievalentin opened #10336 "[Benchmark] Converting a QA distilbert model to onnx - the f1 score plummet"
# 🖥  Benchmarking onnx QA `transformers`

## Issue

Poor benchmark result (squadv2) of converted onnx QA model using run_squad_onnx benchmark.

## Context

As part of my day job, my goal is to convert our QA model to onnx to make them available in production in Java.
My teammate generated a distilbert model trained on SQUADv2. He reproduced SOTA result on the squad benchmark.

I want to evaluate t

[2021-02-22 20:11] LysandreJik commented on #10293
After thinking about it, you're right that an error would be better. I can't think of use-cases where that would affect someone's workflow negatively.

[2021-02-22 20:30] DarrenZhang01 commented on #2980
I am installing transformers from source but I am getting the error.

[2021-02-22 20:33] #10280 closed

[2021-02-22 20:33] JamesDeAntonis commented on #9405
@ola13 I have a couple of questions on this
(1) how many docs did you retrieve?
(2) regarding the `RagForFeverClassification` idea, what is meant by "[we] first regenerate the claim" in section C of the RAG paper's appendix?  Does that mean that we should only provide tokens from the claim as `decoder_input_ids` in the generator?  Does it mean we should run multiple passes of the generator?  Curio

[2021-02-22 21:13] stas00 opened #10337 "[trainer] port metrics logging and saving methods to all example scripts"
In an effort to make the examples easier to read, in https://github.com/huggingface/transformers/pull/10266 we added new trainer methods:

* `trainer.log_metrics` - to perform consistent formatting for logged metrics
* `trainer.save_metrics` - to save the metrics into a corresponding json file.

and deployed them in `run_seq2seq.py`.

The next task is do the same for all the other `examples/*/run_

[2021-02-22 21:21] stas00 commented on #10293
I could, but realistically it might not happen soon. But since it's not a complicated task perhaps asking the community to help? I guess it'd be as simple as:

1. read the config of the downloaded model as soon as the config got downloaded
2. compare `config.arch` with model's arch
3. assert if mismatch

[2021-02-22 21:39] #10309 closed

[2021-02-22 21:42] ola13 commented on #9405
Hi @JamesDeAntonis - sorry just noticed your previous commend, the `fairseq` implementation is not available publicly.

Regarding your latest questions:
1) we used 5 docs at training time and tried evaluation with up to 50 docs
2) This idea is adapted from BART - https://arxiv.org/pdf/1910.13461.pdf - section 3.3 or Figure 3.a - in case of RAG, we don't copy all contextualized input, just the clai

[2021-02-22 22:02] LysandreJik commented on #10263
I definitely agree with that statement, and it seems like the most straightforward way to improve that pipeline. I agree with the two flags you propose. Having finer control over these would be of great utility.

Yes, definitely. These are definitely model-specific as they're reliant on the training, so adding them to the configuration would make things simpler.

[2021-02-22 22:03] ioana-blue commented on #8452
I think this works. I managed to train gpt and gpt2. I have an issue during evaluation with gpt2, but I don't think it's related. Closing this one, thanks @ethanjperez

[2021-02-22 22:03] #8452 closed

[2021-02-22 22:35] ioana-blue opened #10339 "Problem with GPT2/DistilGPT2 prediction - dimension mismatch"
## Environment info

- `transformers` version: 3.4.0
- Platform: Linux-4.18.0-193.el8.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.3
- PyTorch version (GPU?): 1.5.1+cu101 (True)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: single gpu

### Who can help

Perhaps @patrickvonplaten, @LysandreJik could help?

## Information

Model I am using: GPT2/DistilGPT2

The

[2021-02-22 23:15] LysandreJik commented on #10339
Maybe @sgugger has seen that error previously?

[2021-02-22 23:32] nickyongzhang commented on #10296
I have updated to the latest 4.3.2 version but still see the error.

[2021-02-23 00:10] sgugger commented on #10339
Yes, and it has been fixed... but only in the more recent versions of Transformers.

[2021-02-23 00:32] stas00 commented on #10321
Amazing! Thank you for this awesome presentation, @anton-l! This could totally be a great blog post - I agree!

Let me study the information you shared and I will follow up then!

Until then I have a quick suggestion: Do you have an easy access to 2 gpus? That would be enough to make a
PoC work and then we can find a larger cluster with more gpus to experiment on and eventually port the 8 splits f

[2021-02-23 00:44] stas00 commented on #9606
Personally my focus at the moment is to enable fitting big models on small hardware, because if we can do such training slowly it's better than not being able to do so.

Next come the speed optimizations.

I added `Deepspeed transformer kernel` to the list above.  Thank you for the recommendation.

But if you'd like to do some experimentation and get some good results and submit a PR that would be

[2021-02-23 00:54] anton-l commented on #10321
Regarding the setup: I can borrow a second gpu for the time being, that shouldn't be a problem :)

As for the models, I think GPT2 is a good candidate for our experiments, since the transformers' implementation is already stable and has multiple smaller checkpoints for quick demos.

Also, I don't think we should even be too concerned about porting the 8 original splits of fairseq's megatron, since

[2021-02-23 01:17] jstremme commented on #432
Excellent!

[2021-02-23 01:30] stas00 commented on #10298
Thank you for the ping, @NielsRogge

@tagucci, when you file an issue you will find a list of who to tag for what topic, so please use it to tag the right people. Otherwise it's hard for everybody to try to follow all issues.

also when you link to a line of code in github, always hit `y` first to get the exact sha - otherwise your links quickly become invalid, e.g. I have no idea where you were t

[2021-02-23 01:39] gstranger opened #10340 "tokenizer.Tokenizer compatibility with Inference API or Auto* classes"
# 🚀 Feature request
Make tokenizers created with the tokenizers library compatible with the Inference API or Auto classes

## Motivation

I have trained a model on a specific domain by modeling a sequence generation problem as a language modeling problem to predict the next token in the set. The tokenizer associated with the model I used (TransformerXL) was not compatible with my domain since my t

[2021-02-23 01:39] stas00 commented on #10321
Sounds good on all accounts. GPT2 would be perfect, @anton-l!

I had the same thought about just splitting your merged model if needed.

Please let us know how we can support you in this endeavor.

just for you to be aware,  I mentioned in the other thread the DeepSpeed version of their Megatron-LM port - perhaps theirs is newer - I haven't had a chance to study it yet. https://github.com/jeffra/D

[2021-02-23 01:52] ioana-blue commented on #10339
Excellent, thank you guys, I'll work on upgrading tomorrow.

[2021-02-23 01:52] #10339 closed

[2021-02-23 02:25] collinarnett commented on #2466
I had issues with klimentij's suggestion but I solved it by extracting the `conv1d_to_linear` functions. I had to load a previous model into a pretrained version of GPT2 so ignore that part if you don't have to do it.
[code]

[2021-02-23 02:40] Tan1997 commented on #10296
Thanks! I'll try it again!

[2021-02-23 02:40] #10296 closed

[2021-02-23 02:46] stas00 commented on #10330
Incidentally a bug fix was just merged as part of: https://github.com/huggingface/transformers/pull/10310
- the scheduler step was getting run twice.

Could you please re-test with master?

Thank you!

[2021-02-23 03:05] tagucci commented on #10298
@NielsRogge
Thanks for pinging @stas00!
@stas00
Sorry for the inconvenience of linking the code.
Following your advice, my model args and model dump are as below.

As you said, fsmt does not have  decoder embed and output seperately, my fairseq `transformer_wmt_en_de` without `share_decoder_input_output_embed` cannot fit fsmt in transformers. In this case, do I need to retrain fairseq model with `

[2021-02-23 03:13] stas00 commented on #10298
Thank you for the model dump, so my guess was correct - it's missing `output_projection` and I gave you the solution at the end of my previous comment.

I still don't know what the error you get, when and the backtrace, but perhaps my guessed solution is all you need.

But no, you don't need to re-train.

[2021-02-23 04:03] tagucci commented on #10298
@stas00
Running [convert_fsmt_original_pytorch_checkpoint_to_pytorch.py]( https://github.com/huggingface/transformers/blob/461e8cacf94d1f76367cc9ba2cfd5b9bd3641c81/src/transformers/models/fsmt/convert_fsmt_original_pytorch_checkpoint_to_pytorch.py) is successful, but there is something wrong.
In comparing fairseq model provided by `torch.hub` and converted HF model, the translation result is match

[2021-02-23 04:36] stas00 commented on #10298
I'm a bit lost - we we discussing a missing state dict key, now we are discussing invalid translation.

Did my suggestion help to resolve the problem of the missing key and now you're presenting the next issue?

Wrt to your transformers result with your model, do you get any better behavior if you encode the tokens via transformers and then feed it to generate? perhaps the dict has somehow changed

[2021-02-23 05:12] DUT-Tjy opened #10341 "Translate English into Japanese using mbart"
Transformers version: 4.4.0.dev0
Hello, I am trying to translate English into Japanese(en-ja). I confirm that there is no error in my target content and source content. However, when I try to translate, the result of predict is always English. What should I do?

I only changed config.json as shown below:
"task_specific_params": {
    "translation_en_to_ja": { "decoder_start_token_id": 250020}
  }

[2021-02-23 06:36] ayubSubhaniya opened #10342 "DialoGPT tokenizer config issue"
## Environment info

- `transformers` version: 4.3.2
- Platform: Darwin-19.3.0-x86_64-i386-64bit
- Python version: 3.6.5
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
Models:

- gpt2: @patrickvonplaten, @LysandreJik

Library:
- tokenizers: @n1t0, @LysandreJik

[2021-02-23 06:40] RoderickGu commented on #7777
@patrickvonplaten Great work! I noticed that `transformers` included the implementation for `DPR`. But for `RAG`, I only find a [demo](https://huggingface.co/rag/). Is there a source code for `RAG`? Or do you know where is Facebook's source code for `RAG`?

[2021-02-23 06:41] RoderickGu opened #10343 "Where can we find the `RAG` implementation?"
I noticed that `transformers` included the implementation for `DPR`. But for `RAG`, I only find a [demo](https://huggingface.co/rag/). Is there a source code for `RAG`? Or do you know where is Facebook's source code for `RAG`? Thanks

[2021-02-23 07:19] gongjingcs commented on #9606
Hi, I did a simple test with the bert-large model，The following are the test results
![image](https://user-images.githubusercontent.com/15030497/108812623-6a3b4b80-75ea-11eb-8204-90b04db00a99.png)

[2021-02-23 07:22] rogueDev9 commented on #5197
Any new developments?

[2021-02-23 07:36] ayubSubhaniya commented on #7924
@alexyalunin yes I too faced same issue, workaround for this is to set pooler None explicitly .
```model.encoder.pooler = None```

[2021-02-23 07:55] stas00 commented on #9606
Thank you for sharing the benchmarks.

That's a nice speed up.

I assume you also tested deepspeed w/o "Deepspeed transformer kernel" as a baseline, to know that it's that feature that gave the speed up and not DeepSpeed's other features.

I encourage you to try to make a PR to integrate this aspect of Deepspeed if you are inspired to do so.

[2021-02-23 08:01] tomohideshibata commented on #10330
Thank you for your response.

I have tested the latest version, but the following error occurred. There is something wrong in the lr initialization.
[code]

[2021-02-23 08:06] NielsRogge commented on #10343
The implementation can be found [here](https://github.com/huggingface/transformers/tree/master/src/transformers/models/rag).

[2021-02-23 08:20] RoderickGu commented on #10343
@NielsRogge Thanks! That's it.

[2021-02-23 10:57] joseph8az commented on #8690
just restart the system and will solve the issue..happy day

[2021-02-23 10:59] aspin0077 commented on #8690
Super bro... thanks a lot.. its working

[2021-02-23 11:23] 10-zin opened #10345 "MarianMT - ONNX only accepts fixed input despite setting dynamic axes"
## Environment info

- `transformers` version: 3.1.0
- Platform: Linux-5.8.0-43-generic-x86_64-with-glibc2.29 (Ubuntu 20.04.2)
- Python version: 3.8.3
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes (No too, error persists in both cases)
- Using distributed or parallel set-up in script?: No

### Who can help
marian: @patrickvonplat

[2021-02-23 12:07] shampp opened #10346 "Custom tokenizer with run_mlm script"
## Environment info

- `transformers` version: 4.3.2
- Platform: Linux-5.9.16-1-MANJARO-x86_64-with-glibc2.10
- Python version: 3.8.5
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: NO

### Who can help
@LysandreJik, @n1t0

## Information

Model I am using (Bert):

The problem aris

[2021-02-23 12:09] IsaacZachary opened #10347 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2021-02-23 12:36] DavidNemeskey opened #10348 "BertForMaskedLM cannot be initialized from BERT checkpoints"
When I try to load a BERT model from a TF checkpoint (via `transformers-cli convert`) into a `BertForMaskedLM`, I get the following warning:
[code]

The model also performs poorly (as in: completely randomly) in masked LM. If I load a "named" model, such as `bert-base-cased`, I do not get the warning and masked LM works OK.

This is all to be expected if the tensors mentioned in the warning are in

[2021-02-23 12:49] valentindey opened #10349 "Padding of bbox input in LayoutLM"
I've been working with LayoutLM and had some issues with different lengths of samples in a batch.

[code]

It turns out that `transformers.tokenization_utils_base.PreTrainedTokenizerBase._pad` does not pad the `bbox` items to maximum length in the batch and eventually trying to join differently sized lists into a tensor crashes.

One way to solve this is to pad all required items when generating s

[2021-02-23 13:41] ithieund opened #10350 "Got "RuntimeError: CUDA error: device-side assert triggered" with Seq2SeqTrainer"
## Environment info
- `transformers` version: 4.3.2
- Platform: Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.7.0+cu101 (True)
- Tensorflow version (GPU?): 2.4.1 (True)
- Using GPU in script?: YES
- Using distributed or parallel set-up in script?: NO

### Who can help
@patrickvonplaten @sgugger @stas00

Models:
- encoderdecoder: @patrickvonplat

[2021-02-23 13:47] sgugger commented on #10350
Hi there. Could you please post the code you are using? The steps you are defining are too vague for us to efficiently reproduce the issue and help.

[2021-02-23 14:00] sgugger commented on #10348
Note that the way to load TF weights in a PyTorhc model while using the hub is just to do:
[code]
It does look like this model has some weights missing (I still get a warning but with a few less weights than you) but if that's blocking you, there is nothing we can do about it: you should contact the author of the model on the hub (the same weights are missing in the TF version).

[2021-02-23 14:19] iPieter commented on #9290
@schelv Thanks for looking into the issue. Those files should be correct, there are indeed 39982 tokens.

I am using the same files internally without any issues on the old tokenizer (i.e. correct behaviour and sensible predictions), for which the files were specifically created. I also looked into this error before, but cannot find an easy fix. There are a few other merge rules that are also conf

[2021-02-23 14:21] abhisheksgumadi opened #10351 "Can every line in the input CSV file contain more than one sentence when pertraining BERT for MLM Loss?"
Hello HF Team,

  I am familiar with how to pretrain BERT and I have a Dataloader that reads an input CSV file line by line and every time it reads a line, it tokenizes it and sends back the tokens for training to the training code. My question is whether is it ok for this input CSV file to contain more than one sentence on every line when pretraining BERT for masked language modelling?

Otherwise

[2021-02-23 14:39] LysandreJik commented on #10349
Hi! This is a fair request, indeed. The `bbox` values should definitely be padded/truncated by the tokenizer.

I think here we would welcome a PR adding this functionality for the LayoutLM tokenizer, and then think of a way to upstream it to be handled by the tokenizer directly, for LayoutLM but also for any other model that requires special inputs.

Would you be open to contributing a PR which ad

[2021-02-23 14:41] lhoestq commented on #7777
transformers does include RAG.
You can even find the documentation here: https://huggingface.co/transformers/model_doc/rag.html

[2021-02-23 14:42] patil-suraj commented on #10341
Hi @DUT-Tjy

`facebook/mbart-large-cc25` is not fine-tuned for translation, it's a pretrained model, which should be fine-tuned if you want to use it for translation. You could use the `mbart-large-50-one-to-many-mmt` or `mbart-large-50-many-to-many-mmt` model for `en-ja` translation, these are fine-tuned multilingual translation models.
https://huggingface.co/models?filter=mbart-50

We have stopp

[2021-02-23 14:46] joshdevins commented on #10263
@LysandreJik Sounds good. Unfortunately I don't have time myself to work on this right now but hopefully in the future if someone else doesn't pick this one up.

[2021-02-23 14:58] patrickvonplaten commented on #10272
Yeah actually your input text is too long here I think -> T5 was only trained to handle up to 512 tokens (which corresponds to less than 512 words), so T5 will definitely not perform well for > 1500 words

[2021-02-23 15:01] patrickvonplaten commented on #10294
Hey @Mehrad0711,

Thanks a lot for the very clean & easy to understand issue!
I can reproduce the error and would be super happy about a PR to fix it! Your fix to let the context manager handle the `spm_target` sounds like the correct solution to me!

[2021-02-23 15:13] patil-suraj commented on #10327
Hi @codingnoobneedshelp , thank for reporting this issue. Right now MBart50Tokenizer does not work with `AutoTokenizer`.
There will be a new script for translation in the next ~2 weeks that will handle this issue. For now, you could just modify the script to  use `MBart50Tokenizer`, instead of `AutoTokenizer`.

[2021-02-23 15:14] patil-suraj commented on #10345
pinging @mfuntowicz, our `onnx` expert.

[2021-02-23 15:19] db1981 commented on #10272
@patrickvonplaten correct, T5 was originally trained to handle up to 512 tokens. But recently the Transformers library was updated to handle longer texts, using the Longformer apparoach. I thought that behind the scenes a longer text would have triggered automagically Longformer...I'll now give. it a shot with that class directly.

Thanks!

[2021-02-23 15:20] LysandreJik commented on #10342
Hi! This change may have originated from the move to the git-based repos. @patrickvonplaten have just modified the DialoGPT tokenizer configuration to have 1024 as model max length, you shouldn't have to do anything but re-run your script to see it updated.

[2021-02-23 15:34] ithieund commented on #10350
Hi @sgugger
It was my fault when I update the max_encoder_length and re-run on the updated blocks.
The issue will not happen when I restart the kernel on Google Colab.

I think you can close the issue.
Thank you.

[2021-02-23 15:41] LysandreJik commented on #10263
I'll put this up as a good first issue to see if a member of the community feels like working on it. Thank you for the discussion and for writing all of this up!

[2021-02-23 15:45] LysandreJik commented on #10339
If it can help you, we have a [migration guide from versions v3 to v4](https://huggingface.co/transformers/migration.html#migrating-from-transformers-v3-x-to-v4-x).

Please let us know if you run into any issues not described here!

[2021-02-23 15:47] schelv commented on #9290
Thanks for the quick answer!

Just checking if I understand you correctly:
Fairseq uses token id's that are based on the token occurrence count. This information is stored in dict.txt
The token id's of the original vocab.json were updated with the information from dict.txt? did this create the current vocab.json that is loaded by the transformers library?

If you upload the original files somewher

[2021-02-23 15:48] LysandreJik commented on #10351
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discusss.huggingface.co) instead? You'll get more answers over there, as questions like these are the point of the forum :)

Thanks!

[2021-02-23 15:48] #10351 closed

[2021-02-23 15:48] #10343 closed

[2021-02-23 15:52] julien-c commented on #10306
copied to the model repo in
https://huggingface.co/bert-base-german-cased/commit/876457621368b8c955478cfe1cdee634f47ea34c

Changed hardcoded url in https://github.com/huggingface/transformers/pull/10353

[2021-02-23 15:54] LysandreJik commented on #10346
Hi! The issue here is that the `AutoTokenizer` has no idea what is the type of your tokenizer: it's looking for the `model_type` specified in the `config.json`, but it seems it cannot find it.

Could you show us the results of `ls ../Data/tokenizer/`, and if the file `config.json` is in it, could you show us the exact content of the JSON file?

Thanks a lot!

[2021-02-23 15:57] LysandreJik commented on #10350
Glad you could resolve your issue!

[2021-02-23 15:57] #10350 closed

[2021-02-23 16:10] #10347 closed

[2021-02-23 16:32] stas00 commented on #10330
Thank you for testing with the master version.

Please always post the full backtrace and the full command line you used - otherwise it's impossible to reproduce the problem and know how to fix it.

Thank you.

[2021-02-23 16:32] ioana-blue commented on #10339
will take a look, thank you! My tasks are similar to text classification in Glue, so I usually start from the sample code and modify it accordingly.

[2021-02-23 16:38] shampp commented on #10346
I am expecting the config.json and vocabulary files to be saved by running `bert_tokenizer.save(vocab_file)` (Please check the attached code). But unfortunately it saves a json file containing only the vocabulary.  I tried the function `bert_tokenizer.save_mode`, but got an error saying Tokenizer don't have such a function.

[2021-02-23 16:55] ManavR123 opened #10355 "ProphetNet Positional Embeddings Index Issue"
I am having an issue finetuning a ProphetNet model for question generation. The current error I am running into is an indexing issue when getting the `position_embeddings, position_ids`. In the below line of code, we call the `ProphetNetPositionalEmbeddings` module to get the embeddings

https://github.com/huggingface/transformers/blob/461e8cacf94d1f76367cc9ba2cfd5b9bd3641c81/src/transformers/mode

[2021-02-23 16:58] ioana-blue commented on #10339
These are some different bits that I found by glancing at the new sample code to run GLUE. @LysandreJik

- Columns in the train/dev/test datasets: Fill in the `task_to_keys` dictionary with appropriate column names
- label_to_id needs attention
- Data processing/tokenization changed the api
- The default name file for dev changed to `validation`
- Metric computation also changed

[2021-02-23 17:07] XinnuoXu opened #10356 "Fine-tuning bart-base on XSum and got 34.0 as ROUGE1"
Hi, I'm wondering whether there are any benchmarks for fine-turning bart-base on XSum. I found this one [https://huggingface.co/VictorSanh/bart-base-finetuned-xsum/tree/main](url) which also shows the R1 is 35 -ish. Does it suppose to be this low?

[2021-02-23 17:30] #10306 closed

[2021-02-23 17:31] julien-c commented on #10306
@Narsil  could you please check if the inference widget works for this model when you get a chance to upgrade the transformers dependency in the API? Thanks!

[2021-02-23 17:34] julien-c commented on #10342
@LysandreJik Don't hesitate to reference the url for the commit on huggingface.co for future reference

Here I believe it's https://huggingface.co/microsoft/DialoGPT-small/commit/9fb5c2d6a01395898bfd90acce2dbec1537730f1

[2021-02-23 18:01] Mehrad0711 commented on #10294
Hi @patrickvonplaten!
Thank you for your feedback. I just submitted a PR fixing this issue.
Thanks ahead for reviewing.

[2021-02-23 18:47] anshoomehra opened #10358 "BART Summarization : Torchscript Export / Inference Tritan Server"
# 📚 Migration

@sshleifer maybe you can help ?? (thanks for all your work bud!)

## Information

I am exporting BART Large CNN (for generating Summaries) using TorchScript. I have fine-tuned the model with localized data, but I am unclear on how to use **model.generate(input)** which seems to wrap **model(input)**, whereas **model(input)** is being triggered default at the time of inference from t

[2021-02-23 19:34] tomohideshibata commented on #10330
Sorry. I just ran the same command shown above, and the full error is as follows:

[code]

Thanks.

[2021-02-23 19:43] ioana-blue commented on #10339
It also looks like I have to install `pip install datasets` separately. I don't think I had to do that before.

[2021-02-23 19:43] stas00 commented on #10330
Great, thank you, I'm able to reproduce this problem. Let me investigate and I will get back to you with a solution.

[2021-02-23 19:52] stas00 commented on #10330
I understand the problem.

The optimizer doesn't kick in until a much later step, so lr_scheduler doesn't get stepped.

A quick workaround is to add `"initial_scale_power": 1,`, which will force the optimizer to churn from step one.
[code]
but it might not be an optimal solution.

I will think of how to resolve this correctly, but meanwhile please let me know if that resolves the scheduler issue.

[2021-02-23 20:15] ethan-carlten opened #10359 "Security Bug found - looking for contact for responsible disclosure"
Hi,
I found a security bug on software related to you.
Can you please tell me how to contact you for a responsible disclosure?
Thanks.

[2021-02-23 20:22] Blaizzy opened #10360 "Rag Use Your Knowledge dataset"
## Environment info

- `transformers` version:
- Platform: Colab
- Python version: 3.7.10
- PyTorch version (CPU): 1.7.0

### Who can help

Models:
rag: @patrickvonplaten, @lhoestq

Library:

- tokenizers: @n1t0, @LysandreJik

## Information

The model I am using (Rag):

The problem arises when using:
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [ ] my own t

[2021-02-23 21:00] dorooddorood606 opened #10361 "denoising objective for pretraining"
Hi
Denoising objective is used in T5 and BART models, could you please add it in pretraining language models?
For now, if you could I appreciate sharing some advice how I can implement it. is there a piece of codes in huggingface I could start from?
thanks

[2021-02-23 21:02] stas00 commented on #10330
OK, this PR should work too if you would like to try it instead: https://github.com/huggingface/transformers/pull/10362

[2021-02-23 21:17] julien-c commented on #10359
Hi – can you send an email to `tech at huggingface.co`? Thanks.

[2021-02-23 21:18] drevicko commented on #2643
BertForSequenceClassification.forward() returns the logits also. You can use these in any pytorch loss function (eg: KLDivLoss, not sure if you'll need to softmax them first) and then run backward on the resulting loss. It's a bit redundant (since BertForSequenceClassification's loss is still calculated), but works.

[2021-02-23 21:20] drevicko commented on #2643
That link to the forward function is stale, and to be honest, finding the forward function is actually not trivial (there are layers of abstractions before you hit a base class --- in my IDE I end up in some dummy functions!).

[2021-02-23 21:23] ankh6 commented on #10293
Hi @LysandreJik Does someone work on that ? I'd like to make my first contribution to the project

[2021-02-23 21:57] gcolmen commented on #4671
Hi, I'm having the same issue as @stadelmanma (I'm behind a coporate proxy as well)

[code]
I even tried setting the proxy in `proxies`:
```config = config_class.from_pretrained(args.config_name, proxies={'http://': '<HOST>:<PORT>'})```

But same thing happens.
Maybe there's a workaround for this?

Many thanks!

[2021-02-23 22:21] dorooddorood606 commented on #10361
@patil-suraj @patrickvonplaten  please help. thanks

[2021-02-23 22:28] DavidNemeskey commented on #10348
@sgugger **I** am the author of the model. :) And yes, the weights are missing, hence this issue; as described above, I used `transformers-cli convert` to convert the original BERT TF (1.5) checkpoint to Pytorch, and the script apparently did not convert all the weights.

I might be wrong about this, but I was under the impression that the `from_tf=True` is to be used when the model has both PT an

[2021-02-23 22:32] LysandreJik commented on #10342
Indeed! Here are the commits:

`DialoGPT-small`: [huggingface@364722e](https://huggingface.co/microsoft/DialoGPT-small/commit/364722ef15f5c04dcb9a57d3b77815bbc1d51efc) and [huggingface@9fb5c2d](https://huggingface.co/microsoft/DialoGPT-small/commit/364722ef15f5c04dcb9a57d3b77815bbc1d51efc)
`DialoGPT-medium`: [huggingface@e84a3e](https://huggingface.co/microsoft/DialoGPT-medium/commit/e84a3e0adc90a

[2021-02-23 22:37] LysandreJik commented on #10339
Thank you for mentioning all of this. I believe the changes you're seeing are related to the example scripts, which are not static, and not related to the core of the library.

The changes related to the core of the library here would be those that were applied to the `Trainer`; did you manage to run your previous example script with the latest version, after updating it w.r.t the migration guide?

[2021-02-23 22:40] LysandreJik commented on #10293
Hi @ankh6, feel free to work on it! The issue is not reserved until a PR is opened with some progress made towards solving the issue.

[2021-02-23 22:52] ioana-blue commented on #10339
Correct. Training works, I have to fix a few things related to prediction & metrics computation. I have some home-brewed code that computes metrics for test (which is missing in the original sample code). I'll figure it out soon. So far, easier than expected. The data ingestion simplified a lot and I'm actually surprised it worked :D

[2021-02-23 23:00] ioana-blue commented on #10339
I figured out the (one of the?) problem: some name collapse on my side. Fixed. Fingers crossed it works now. In any case, not too painful to upgrade. But now I expect backward compatibility 🥇  since most of the big pieces have gone through lots of refactoring.

[2021-02-24 00:05] tagucci commented on #10298
@stas00

Yes, thanks for the helpful comments.
Sorry, I should post it as another issue.

I do not use transformers tokenizer because my fairseq model has a different vocab size, and it's impossible to encode/decode by a single tokenizer model. Converting token to id is used by fairseq's `Dictionary`.
I'll post another issue if necessary after scrutinizing my code.

Thanks for the big help!

[2021-02-24 00:06] sgugger commented on #10348
Ah sorry I misunderstood your problem, sorry! I though you were trying to use the `transformers-cli` on the PyTorch model file of the hub. Not sure what the problem is with the conversion script. Maybe @LysandreJik will have an idea?

[2021-02-24 00:19] stas00 commented on #10293
And when you solve it, one test can be:
[code]
but this one doesn't crash, just spits a lot of warnings.

This one does crash:
[code]

So it'd be a better candidate to go into the test suite.

We want a tiny model so that it runs the test fast.

[2021-02-24 00:26] ioana-blue commented on #10339
I fixed all the problems and I managed to reproduce some old results with BERT-finetuned model. Thanks for your help!

[2021-02-24 00:32] stas00 commented on #10298
Thank you for clarifying that your original issue has been resolved. Please feel free to close this issue when you feel it's working for you.

Based on your comments, I'm concerned about 2 things:
1. your different dictionaries - a model has to come with the exact dict it was trained on, after conversion too. So it sounds that something isn't right there. If you're not sure what's happening perhap

[2021-02-24 00:48] tomohideshibata commented on #10330
Thank you for your work.

I set `"initial_scale_power": 1`, re-ran the command, and the training finished without errors.

![image](https://user-images.githubusercontent.com/16042472/108927816-622fea00-7684-11eb-8071-c3f101d21c9c.png)

After the PR #10362 is merged into master, I will try it. Thanks.

[2021-02-24 01:45] stas00 commented on #10330
FYI,  it has been merged.

[2021-02-24 02:54] xhlulu opened #10364 "Loading mBART Large 50 MMT (many-to-many) is slow"
## Environment info

I'm installing the library directly from `master` and running it in a kaggle notebook.

- `transformers` version: 4.4.0.dev0
- Platform: Linux-5.4.89+-x86_64-with-debian-buster-sid
- Python version: 3.7.9
- PyTorch version (GPU?): 1.7.0 (False)
- Tensorflow version (GPU?): 2.4.1 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who c

[2021-02-24 03:20] tomohideshibata commented on #10330
Thanks.

I have tested the latest version (without setting `"initial_scale_power": 1`), and the learning rate behavior is as expected!

![image](https://user-images.githubusercontent.com/16042472/108942404-47687000-769a-11eb-82af-a68bf1815345.png)

Thanks for your work. It is very useful to use deepspeed in transformers.

[2021-02-24 03:20] #10330 closed

[2021-02-24 03:22] stas00 commented on #10330
Thank you for your feedback and supporting this problem fixing process, @tomohideshibata

[2021-02-24 04:05] Tan1997 commented on #10341
Thank you for your reply!
I execute run_seq2seq.py again through the following command：
python transformers/examples/seq2seq/run_seq2seq.py \
--model_name_or_path facebook/mbart-large-50-one-to-many-mmt \
--do_predict \
--task translation_en_to_ja \
--source_lang en_XX \
--target_lang ja_XX \
--train_file train.json \
--validation_file val.json \
--test_file test.json \
--output_dir predict \
--pe

[2021-02-24 04:09] DUT-Tjy commented on #10341
Thank you for your reply!
I execute run_seq2seq.py again through the following command：
python transformers/examples/seq2seq/run_seq2seq.py
--model_name_or_path facebook/mbart-large-50-one-to-many-mmt
--do_predict
--task translation_en_to_ja
--source_lang en_XX
--target_lang ja_XX
--train_file train.json
--validation_file val.json
--test_file test.json
--output_dir predict
--per_device_train_batch

[2021-02-24 04:43] ayubSubhaniya commented on #10342
Thanks @LysandreJik for quick fix.

[2021-02-24 04:43] #10342 closed

[2021-02-24 05:44] applyinnovations opened #10365 "Knowledge Retrieval missing from BlenderBot Implementation"
# 🚀 Feature request

The original Blenderbot [paper](https://arxiv.org/pdf/2004.13637.pdf) considered three transformer based models (Retrieval, Generator and RetNRef), however from what I can see only the generator model is implemented within this repository: [transformers/src/transformers/models/blenderbot/modeling_blenderbot.py](https://github.com/huggingface/transformers/blame/master/src/trans

[2021-02-24 07:04] kleekaai opened #10366 "can't allocate memory error with wav2vec2"
I am trying out the wav2vec2 model for ASR from the huggingface library. Here, I am passing a 7 min(~15 MB file) long wav file having a conversation(english) to the wav2vec2 model. I am getting "can't allocate memory" error. I found that the model uses all 64 GB of the available RAM. Can anyone help with this.

- `transformers` version: 4.3.2
- Platform: Linux-3.10.0-1127.el7.x86_64-x86_64-with-gl

[2021-02-24 07:06] bhadreshpsavani opened #10367 "device-side assert triggered Error while doing inference on Distilbert and Bert"
## Environment info

- `transformers` version: 3.4.0
- Platform: Colab
- Python version: 3.8
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using Distilbert

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [x] my own modified scr

[2021-02-24 07:13] bhadreshpsavani commented on #10337
Can I work on this issue?

[2021-02-24 07:14] stas00 commented on #10337
Yes, please and thank you!

[2021-02-24 07:23] NielsRogge commented on #10367
If you have a CUDA device-side error, it is advised to run your code on CPU, because then you will receive a more informative error message.

[2021-02-24 07:35] cronoik commented on #10258
Yes.
@LysandreJik

[2021-02-24 08:03] brand17 opened #10368 "TFMarianModel from_pretrained can't load weights"
## Environment info
- `transformers` version: 4.3.2
- Platform: Windows-7-6.1.7601-SP1
- Python version: 3.6.6
- PyTorch version (GPU?): 1.5.1+cpu (False)
- Tensorflow version (GPU?): 2.3.0 (False)
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): TFMarianMT

The problem arises w

[2021-02-24 08:13] bhadreshpsavani commented on #10367
Hi @NielsRogge,
In CPU its working fine, Error is coming while using GPU only

[2021-02-24 08:19] shenfe opened #10369 "Why should `attn_weights` be reshaped twice in BartAttention ?"
Can anybody help to understand that? https://github.com/huggingface/transformers/blob/3437d12134893dd7b45737e422e105e511341297/src/transformers/models/bart/modeling_bart.py#L238-L244

[2021-02-24 08:29] harikc456 opened #10370 "ReformerForQuestionAnswering : int() argument must be a string, a bytes-like object or a number, not 'NoneType'"
## Environment info

- `transformers` version:
- Platform:
- Python version: 3.7.10
- PyTorch version (GPU?): 1.7
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@patrickvonplaten
## Information

Model I am using (Bert, XLNet ...): Reformer

The problem arises when using:
* [ ] my own modified scripts: performing a backward() after passing the q

[2021-02-24 08:38] #8907 closed

[2021-02-24 08:59] patrickvonplaten commented on #10368
Thanks for the issu!

I uploaded the TF weights https://huggingface.co/Helsinki-NLP/opus-mt-en-de/commit/1a8c2263da11e68e50938f97e10cd57820bd504c. Should be fixed now - could you try again?

[2021-02-24 09:18] shenfe commented on #10369
@patrickvonplaten excuse me, could you share any idea please

[2021-02-24 09:23] brand17 commented on #10368
Thanks, this method working now. Please upload a model 'Helsinki-NLP/opus-mt-ru-en'. And I think other models are not working as well.

But now I can not call the model:

[code]

I am getting an error:

[2021-02-24 09:26] patrickvonplaten commented on #10369
See this PR for more information: https://github.com/huggingface/transformers/pull/8747

[2021-02-24 09:29] patrickvonplaten commented on #10368
There are quite a lot of other models to upload, so this will take some time.
I'll start writing a script to automate this process...

Until then you can make use of this easy fix:

[code]

[2021-02-24 09:30] patrickvonplaten commented on #10361
Hey @dorooddorood606,

could you please make use of the forum: https://discuss.huggingface.co/ for such questions. Thanks!

[2021-02-24 09:47] XinnuoXu commented on #10356
Just an update, I increased lr and got ROUGE-F(1/2/3/l): 40.61/17.48/32.62

[2021-02-24 09:50] hasansalimkanmaz opened #10371 "Load pretrained model except the head layer for a specific downstream task"
# 🚀 Feature request

It would be nice to have a flag for `from_pretrained` method that indicates whether to load last layer or not. This feature is needed for transfer learning.

## Motivation

I have trained a model with a specific dataset for a downstream task. Now, I need to train another model that needs to be trained on a similar dataset with different labels. I know that previous model have

[2021-02-24 09:50] djstrong commented on #1850
`--roberta_checkpoint_path` should be path to folder with checkpoint named as model.pt.
I am getting:
[code]

[2021-02-24 10:02] brand17 commented on #10368
Thanks, the model is loading. But I am still not able to call it. Should I report this bug separately ?

[2021-02-24 10:42] mzackaria commented on #3442
You might want to try this:

conda install -c huggingface transformers

(ref: https://pypi.org/project/transformers/)

[2021-02-24 10:49] poedator opened #10372 "deprecated reference `tokenizer.max_len` in glue.py (PR #10220)"
There is a deprecated reference to `tokenizer.max_len` with `tokenizer.model_max_length` - similar to [issue 8739](https://github.com/huggingface/transformers/issues/8739) and [PR 8604](https://github.com/huggingface/transformers/pull/8604).
See error example [in Colab here](https://colab.research.google.com/gist/poedator/f8776349e5c625ce287fc6fcd312fa1e/tokenizer-max_len-error-in-transformers_glu

[2021-02-24 12:25] #10298 closed

[2021-02-24 13:01] thiziri commented on #3442
Thank you @mzackaria for the answer. The problem is solved (a long time ago).  as mentioned above :)

[2021-02-24 13:19] andreabac3 commented on #10210
Sorry for bothering you @joeddav again, I have a question related to the code posted by you here.
I am still getting None with the dataset built by myself using this code. My dataset works perfectly with the run_squad original script.
In this snipped posted by you I encounter None in the vector of end_positions and I don't know how fix it. I saw the condition in which there's a None the start_posi

[2021-02-24 13:23] LysandreJik commented on #10368
Hi! I think there's an error in the `TFMarianModel` docstring, it should be similar to the `MarianModel` docstring. You can't call encoder-decoder models with only input IDs (with a few exceptions like BART), you also need to provide decoder input IDs.

In your case this should work:

[code]

[2021-02-24 13:33] LysandreJik opened #10373 "[Documentation issue] Sequence to sequence models"
Most models have their example docstrings appended using the `add_code_sample_docstrings` method. This method checks the name of the architecture, and according to its suffix, adds the corresponding sequence.

However, this isn't perfect with the difference between sequence-to-sequence and enc/dec only models, which can have the same suffix: `BertModel` and `MarianModel` have the same suffixes, bu

[2021-02-24 13:36] LysandreJik commented on #10364
Related: https://github.com/huggingface/transformers/issues/9205

[2021-02-24 13:36] brand17 commented on #10368
Thanks, it works

[2021-02-24 13:39] LysandreJik commented on #10339
Glad you could get it to work!

[2021-02-24 13:43] vinicius-cleves opened #10375 "DPR decode_best_spans include spans from title"
## Environment info

- `transformers` version: 4.1.1

### Who can help
@lhoestq, @LysandreJik

## Information

I believe there is a bug on the following line
[code]
It is on file `src/transformers/models/dpr/tokenization_dpr.py`. Next some context to this line:
[code]

The comments make me think that `passage_offset` refers to the start of the passage, after question and title. I feel that the int

[2021-02-24 13:55] 10-zin commented on #10345
Any lead on the solution? @mfuntowicz, @patrickvonplaten, @patil-suraj

[2021-02-24 14:02] LysandreJik commented on #10372
Thanks for opening a PR which fixes the issue! I just merged it.

[2021-02-24 14:02] #10372 closed

[2021-02-24 14:10] LysandreJik commented on #10356
Maybe @patrickvonplaten or @patil-suraj have an idea

[2021-02-24 14:27] LysandreJik commented on #10367
Hi @bhadreshpsavani, this can't work on CPU. You're sending a sequence that is too long to the model so it cannot handle it.

Please replace
[code]
by
[code]

This truncates the sequences that are too long.

Your colab should work then.

[2021-02-24 14:33] math-sasso opened #10376 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 64: invalid start byte"
## Description
I have fine tunned a transformers model ('bert-base') and saved the checkpoint. Now I want to use somewhere with the checkpoints I saved. But If I still use bert-base on my new env it will not retrieve my checkpoints, so I want to know the proper way to make my model (Pytorch Lightning model) understand that I want to retrieve my checkpoint

## Relavant info on my model class

[code

[2021-02-24 14:51] bhadreshpsavani commented on #10367
Thanks @LysandreJik,
It worked!

[2021-02-24 14:56] SapirWeissbuch opened #10377 "Training LongformerForQuestionAnswering on TriviaQA"
Hello,

Could you please give a short explanation on how to retrain `LongformerForQuestionAnswering` in order to receive these weights: `allenai/longformer-large-4096-finetuned-triviaqa` (https://huggingface.co/allenai/longformer-large-4096-finetuned-triviaqa/tree/main).

Thank you,
Sapir

[2021-02-24 15:08] LysandreJik commented on #10376
You're using `AutoModelForTokenClassification` but you're specifying a `ckpt` file. It needs a folder with a `config.json`, and a state dict. Here it's expecting a PyTorch state dict named `pytorch_model.bin` since you're using the PyTorch version.

If you've retrieved your checkpoint from the original BERT repository, I recommend you take a look at the following documentation [Converting Tensorfl

[2021-02-24 15:08] LysandreJik commented on #10367
Glad we could help, closing!

[2021-02-24 15:08] #10367 closed

[2021-02-24 15:15] LysandreJik commented on #10377
Pinging @ibeltagy and @patrickvonplaten who would know better.

[2021-02-24 15:20] LysandreJik commented on #10366
Hi! You seem to be passing all of the file at once to the model. This can be extremely expensive from a memory point of view, as the number of samples (and therefore your batch size) can be very big.

I would advocate for you to do a custom batching here, by only passing some of the values in yout `input_values` at a time, rather than everything at once.

I can't tell exactly because I don't have

[2021-02-24 15:21] emilziyaev opened #10378 "AttributeError: 'QAModel' object has no attribute 'automatic_optimization'"
## Environment info

- `transformers` version: 4.3.2
- Platform: google colab
- `pytorch-lightning` version (GPU?): 1.2.0

####Models:
MT5ForConditionalGeneration ('google/mt5-base')

Library:

- tokenizers: @n1t0, @LysandreJik
- trainer: @sgugger
- pipelines: @LysandreJik

Model I am using (MT5ForConditionalGeneration ('google/mt5-base')):

The problem arises when using:
pl.LightningDataModule wi

[2021-02-24 15:24] mymusise commented on #8646
Hi, there are a few problems with the old one. I've recreated the model card, please try the new one: [mymusise/CPM-GPT2](https://huggingface.co/mymusise/CPM-GPT2)

and the FP16 version has been uploaded already: [mymusise/CPM-GPT2-FP16](https://huggingface.co/mymusise/CPM-GPT2-FP16)

[2021-02-24 15:24] math-sasso commented on #10376
@LysandreJik first of all thanks for replying.

Is it the proper way to retrieve a model from a checkpoint generated by me? When I pass `self.model=bert-base` on my new env it doesnt retrieve my checkpoints, so when I call `model.precit('any text ')` it gives me wrong results [maybe because it gets original weights from bert-base instead of my trained weights].

So following your suggestion, if ch

[2021-02-24 15:27] patil-suraj commented on #10356
Hi @XinnuoXu

That model was trained a while ago, and there were some bugs in BART related to `decoder_start_token_id` at that time, see https://discuss.huggingface.co/t/bart-lm-odd-beam-search-output/618/13
which could be the reason for this.

[2021-02-24 15:49] KelwinTan commented on #400
Are any of the layers in a pre-trained BERT model originally frozen? If not are there any supporting articles or research papers that I can look to?

[2021-02-24 15:55] ahnz7 commented on #400
I dont think there are any of layers originally frozen. You can read some Papers about Bert firstly, then in Pytoch forum or Tensorflow you could learn how to freeze the layers.

[2021-02-24 16:10] LysandreJik commented on #10378
Hello! This issue seems to be with PyTorch Lightning rather than with Transformers.

[2021-02-24 16:13] LysandreJik commented on #10376
Well you should use the `save_pretrained` method on your model. I haven't used PyTorch Lightning but if your module is named `model` and that the transformers is the `model` attribute of that module, it would be something like:

[code]

[2021-02-24 16:16] emilziyaev commented on #10378
Well, I've tried to pass MT5ForConditionalGeneration directly to fit() function, but got following Error:

ModuleAttributeError: 'MT5ForConditionalGeneration' object has no attribute 'automatic_optimization'

[2021-02-24 16:25] LysandreJik commented on #10378
As you'll see in your error:

[code]

this originates from a PyTorch-Lightning error. Transformers has no `automatic_optimization` parameter, our models are plain PyTorch models.

Thank you.

[2021-02-24 16:26] emilziyaev commented on #10378
thank you a lot

[2021-02-24 16:26] #10378 closed

[2021-02-24 16:30] pievalentin commented on #10336
After further investigating, I found this useful repo: https://github.com/airKlizz/benchmark-for-transformers
Working on adding squad to this

[2021-02-24 16:32] bhadreshpsavani commented on #10337
Hi @stas00,
Sometimes it is saving it as txt file instead of a JSON file like the below code
[code]
Should we keep it in JSON format only or write code for saving it as a txt file?

I have seen such behavior in [run_qa.py](https://github.com/huggingface/transformers/blob/master/examples/question-answering/run_qa.py#L483), [run_mlm.py](https://github.com/huggingface/transformers/blob/master/example

[2021-02-24 16:34] alexvaca0 commented on #9804
Any updates on ProphetNet loss?? @patrickvonplaten

[2021-02-24 16:39] stas00 commented on #10337
`.json` format everywhere please, as this method writes out is a json data that it writes.

You don't need to keep the code .txt files writing.

These are examples and by definition they have no API as such to maintain, other than ensuring we don't drop functionality if someone uses these examples for something.

Thank you.

[2021-02-24 16:40] math-sasso commented on #10376
I did it and I worked. But it stills giving wrong results. On my model I have inserted the path to the created dir instead of bert-base.

 self.model = AutoModelForTokenClassification.from_pretrained(
          "/content/drive/MyDrive/CityZen/Explorations/BERT/weights/binaries",
          num_labels=len(self.tags_infos_dict["tag2idx"]),
          output_attentions = self.output_attentions,

[2021-02-24 16:47] lhoestq commented on #10360
Hi ! It looks like you `embed` functions expects a batch of documents as input.
Can you try to set `batched=True` in your call to `dataset.map` ?

[2021-02-24 17:01] shenfe commented on #10369
Almost understand, although it's still weird. As #8747 explained,
[code]

Thanks!

[2021-02-24 17:01] #10369 closed

[2021-02-24 17:24] stas00 opened #10379 "[firewalled env] OFFLINE mode"
This is done - we now have:

* `HF_DATASETS_OFFLINE=1`
* `TRANSFORMERS_OFFLINE=1`

Documented:  [here](https://huggingface.co/transformers/master/installation.html#offline-mode)

The transformers-specific issue is here:
-------------------

Similar to `datasets` https://github.com/huggingface/datasets/issues/1939 `transformers` needs to have an OFFLINE mode where it can work w/o ever making a netw

[2021-02-24 17:25] xhlulu commented on #10364
Thanks. I'll rerun the benchmarks once patrick makes the changes.

[2021-02-24 17:35] lhoestq commented on #10375
Yes that's totally true. Good catch !
Could you open a PR to fix that please ?

Maybe this could have affected the performance of the DPR Reader a bit, but probably not significantly though since the logits of the tokens in the title have very low values. The model was trained to return answers from the passage, not from the  title.

[2021-02-24 17:51] pthalasta opened #10380 "Trainer.train() gets stuck when executed on K8 pods"
## Environment info

- `transformers` version: 4.3.2
- Platform: Linux-4.15.0-76-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>

### Who can help

@LysandreJik @sgugger

## Information

Model I am using

[2021-02-24 18:32] kingpalethe opened #10381 "Option to output "test predictions" text file with each checkpoint in run_seq2seq.py"
Further to this discussion:

https://discuss.huggingface.co/t/how-to-output-test-generations-txt-with-run-seq2seq-py/3825

The prior incarnation of this script would output test generations at each checkpoint, which was very useful for understanding the progress of model training.

The current script...

https://github.com/huggingface/transformers/blob/master/examples/seq2seq/run_seq2seq.py

Seems

[2021-02-24 18:44] sgugger commented on #10380
Hi there. Unless you tell us what script you are using and how you are launching it, there is nothing we can do to help.

[2021-02-24 18:57] ethan-carlten commented on #10359
I did send it.

[2021-02-24 20:26] julien-c commented on #10359
closing as will handle over email. Thanks!

[2021-02-24 20:26] #10359 closed

[2021-02-24 20:47] Omarnabk opened #10384 "Fine-tune pretrained Wav2Vec2 on a small custom dataset"
I am wondering how to **fine-tune** a pre-trained model on a small speech/audio dataset. I have 10 hours of audio with their transcript.

I would like to fine-tune a model and then use it as described here:
[](https://huggingface.co/facebook/wav2vec2-large-960h)

Thanks!

[2021-02-24 21:19] johncookds opened #10385 "DDP performing slightly worse in terms of loss and metrics than DP"
Hi,

I am running Transformers 4.3.2 and am testing DistributedDataParallel vs DataParallel. The Huggingface Trainer in both instances have been untouched and slight modifications were made to run_clm.py to fit my specific use case.
This is using GPT-2 model trained from scratch.

I am consistently seeing much faster, but slightly worse results for DistributedDataParallel and was wondering if ther

[2021-02-24 22:12] AliHadizadeh opened #10386 "MNLI evaluation on pretrained models"
## Environment info

- `transformers` version: 4.4.dev / 4.3.3 / 4.3.2
- Platform:  Ubuntu 18.04/ Windows 10
- Python version: 3.6.2
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): N/A
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
 @patil-suraj , @sgugger, @LysandreJik

## Information

Model I am using (Bert, XLNet ...):  hu

[2021-02-24 22:57] cnedwards opened #10387 "loss.backward() TypeError seed issue for pretrained reformer model"
## Environment info

- `transformers` version: 4.3.2
- Platform: Google Colab
- Python version:  3.7.10
- PyTorch version (GPU?): 1.7.0+cu101
- Using GPU in script?: no, but error also occurs on GPU
- Using distributed or parallel set-up in script?: no

### Who can help

@patrickvonplaten

## Information

Model I am using: ReformerForSequenceClassification

The problem arises when using: Pretraine

[2021-02-24 23:08] pthalasta commented on #10380
@sgugger any information on how i can solve the issue?

[2021-02-24 23:40] LysandreJik commented on #10385
Hi! This thread https://github.com/huggingface/transformers/issues/10223 might be useful, it sheds light over the issue you mention.

[2021-02-24 23:42] LysandreJik commented on #10386
Hello! This may be because of labels being switched around for the MNLI task. See this thread https://github.com/huggingface/transformers/pull/10203 for more context.

[2021-02-24 23:43] johncookds commented on #10385
Hi thank you for linking, it is actually worse in terms of loss, not speed. DDP is significantly faster than DP, which I believe it is supposed to be.

[2021-02-24 23:44] LysandreJik commented on #10381
May be of interest to @patil-suraj @stas00 @sgugger

[2021-02-24 23:46] LysandreJik commented on #10385
Oh, sorry about that, I read a bit too fast. Pinging @sgugger who might know what's up.

[2021-02-24 23:50] LysandreJik commented on #10273
Hello! We would welcome a PR that offers this. Maybe instead of renaming the current QA model to `Simple` (which would break backwards-compatibility), we could add a new model called `ElectraForQuestionAnsweringBeamSearch`? What do you think?

[2021-02-24 23:51] AprilXiaoyanLiu commented on #8800
is this issue resolved? ran into the same error.

[2021-02-24 23:52] LysandreJik commented on #10346
The `bert_tokenizer.save(vocab_file)` method does not save the configuration as the configuration is linked to the model. It is unfortunately currently impossible to use the `AutoTokenizer` without having the model `config.json` in the same folder, which is a hard limitation of the `AutoTokenizer`.

We are aware of this limitation and it is part of the immediate roadmap. Expect a change in the com

[2021-02-24 23:55] LysandreJik commented on #10348
Hello! Thank your for opening an issue. As you both have said, there seems to be an error with the conversion.

Do you mind letting me know how you obtained your checkpoint? For example, is it one of the checkpoints available on google-research/bert, or is a custom one?

All the checkpoints available on google-research/bert should convert without any issue.

[2021-02-24 23:58] stas00 commented on #10381
Yes, as I replied in the forums, this functionality was dropped - not sure why it was done so.

I think it was not intentional, the devs were probably unaware it was used and given that the example tests were dropped too it's not surprising it was missed. I propose the dropped examples tests are restored (which will require porting to the new scrtipts) which will expose some of the functionality t

[2021-02-24 23:59] LysandreJik commented on #8800
From recent experience, I think this might happen if no `model_max_length` is set for the tokenizer.

In the directory where your tokenizer files live, do you mind adding another file called `tokenizer_config.json`, with the following information: `{"model_max_length": 512}`?

Thank you.

[2021-02-25 00:08] sgugger commented on #10385
I have not experienced this, so no idea of what might be causing the issue. It's also a bit vague and with no reproducer, so very hard to investigate further.

[2021-02-25 00:14] alexvaca0 commented on #9804
I  have some more information on this. After training for 20 epochs, it learns almost nothing. Most interestingly, its outputs doesn't change when inputs change, that is, it always predicts the same. Predictions are like a mix of different summaries, getting elements from different types of summarizable texts, but it's the same for all... This brings me to think that in some way the network is con

[2021-02-25 00:23] #10065 closed

[2021-02-25 00:39] johncookds commented on #10385
Thank you and I know it is very vague and will work on something that is reproducible.

 Do you have any thoughts as to why this could occur? From my knowledge I would think these would be identical as the gradients from all GPUs are being averaged in both and there is no batch-norm which would be implemented differently.

I'd appreciate any thoughts and will work to find something more reproducib

[2021-02-25 00:44] AnShengqiang commented on #8646
Thanks, it works perfectly! 😄

[2021-02-25 00:44] #8646 closed

[2021-02-25 00:48] sgugger commented on #10385
This might be coming from the distributed sampler setting the random seed at each epoch, so trying to set it the same way with a run in DP might help (a bad seed could explain a small difference). It might also interfere with the random masking somehow, but that's far-fetched.

I also have no idea of how much difference you observed in the loss, one thing to try for debugging would also to double

[2021-02-25 00:58] johncookds commented on #10385
The DistributedSampler looks it sets the seed in a way that would not effect the seed, its first lines of the __iter__ method are:
[code]
In that case the seed is set in both cases to the default huggingface seed of 42.

For our task we don't have random masking, as we are just doing CausalLM.

The difference in eval loss for one run is around the best score being .17 for DP and .175 for DDP. So s

[2021-02-25 01:04] AliHadizadeh commented on #10386
Hello,
Many thanks for your response. Yes, that seems to be the source of my issue, and now I can get the accuracy.
So if I want to run Deberta-MNLI which is supported by V4.4, I should switch to the master branch and apply the changes mentioned in thread #10203 manually? Or is there any branch to address this issue?
Thanks!

[2021-02-25 01:07] sgugger commented on #10385
Correct if you use the most recent version of PyTorch, but it was not always the case.

[2021-02-25 01:13] johncookds commented on #10385
Ah, great, thanks for the clarification. Yes, using pytorch 1.7.1

[2021-02-25 06:19] atahmasb commented on #10312
Should I upload TF weights under `https://huggingface.co/microsoft/` in the same place PT weights are stored?

[2021-02-25 07:43] NielsRogge commented on #10384
Patrick is working on it, see #10145

[2021-02-25 08:19] NielsRogge commented on #10312
Yes, pinging @julien-c here to give you access

[2021-02-25 08:50] helboukkouri commented on #9061
Code is out! Feel free to open issues if you have any problems using it.

[2021-02-25 09:02] sakinaljana commented on #5215
@patrickvonplaten any reference on how to train unsupervised model for longformer (not fine-tuning)?

[2021-02-25 09:32] GuillemGSubies opened #10390 "Tokenizer not working"
## Environment info

- `transformers` version: 4.3.2
- Platform: Ubuntu 16.04.6 LTS
- Python version: 3.8.8

### Who can help

- tokenizers: @n1t0, @LysandreJik

## Information

To reproduce:

[code]
[code]
The most weird thing is that running that exact command in a jupyter notebook does not raise any error. Also `AutoTokenizer.from_pretrained("bert-base-cased", do_lower_case=False)` works so it

[2021-02-25 10:00] iPieter commented on #9290
Yes, that's exactly right. The conversion script is [here](https://github.com/iPieter/RobBERT/blob/340bd9d87ef362462fccf8f44e7740c7dfd1d865/src/convert_roberta_dict.py) and [this is the unit test](https://github.com/iPieter/RobBERT/blob/340bd9d87ef362462fccf8f44e7740c7dfd1d865/tests/test_convert_roberta_dict.py) that missed this case. The original files are also downloadable from our github releas

[2021-02-25 10:02] songwanguw opened #10391 "some bugs about mbart50 for spanish"
[code]
text_es
['El Presidente (habla en inglés): Doy las gracias al representante de la República Islámica del Irán por su declaración.']

Looks like this model definitely has some bugs for spanish since this is an easy translation task. the correct answer is "Hola Mundo"

[2021-02-25 10:25] NielsRogge commented on #10349
LayoutLM would really benefit from its own tokenizer indeed. Currently you have to use `BertTokenizer`, but this let's you only tokenize text, not really prepare data for the model.

A nice API (in my opinion) would look something like:

`LayoutLMTokenizer(image: PIL.Image, words: List[str], bounding_boxes: List[List[int]], labels: List[str])`

The tokenizer then automatically takes care of normal

[2021-02-25 10:30] BramVanroy commented on #9290
Great, thanks a lot for the investigation @iPieter! Now I can use the fast tokenizers in all their glory.

[2021-02-25 10:30] #9290 closed

[2021-02-25 11:01] julien-c commented on #10312
pinging @LysandreJik and @sgugger

[2021-02-25 11:10] DavidNemeskey commented on #10348
OK, I have experimented a bit and it seems that actually conversion works -- it is possible that I created a `BertModel` and saved my model as that instead of `BertForPretraining`. In any case, I have updated my model(s) and the issue is moot.

Before closing it, however, one final question. I created the Pytorch model first. When I converted that to TF2 via
[code]
, I got the following warning:
[

[2021-02-25 11:13] julien-c commented on #10312
We don't have granular write access to model repos so (unless you're affiliated with Microsoft in some way) I would suggest you upload the files to a model repo under your HF user account and then we can copy the relevant files to the main repos!

Let me know if this is a suitable workflow.

[2021-02-25 11:16] GuillemGSubies opened #10393 "NER Pipeline not working"
I just followed the token classification notebook and created a pipeline from the model I trained there. Here you can see the full notebook: https://colab.research.google.com/drive/1OzfFTgZwjxdIikbQ8lVJbA2SRF3IeJ5F?usp=sharing

The only thing that I changed (apart from creating the pipeline and calling it) s the number of training steps so the training is faster.

In the last cell you can see the

[2021-02-25 11:44] George-Ogden commented on #10306
⚠️ Can't load tokenizer using from_pretrained, please update its configuration: 400 Client Error: Bad Request for url: https://int-deepset-models-bert.s3.eu-central-1.amazonaws.com/pytorch/bert-base-german-cased-vocab.txt
It's still not working!

[2021-02-25 12:05] orestisfl commented on #7008
My understanding is that this should have been closed by https://github.com/huggingface/transformers/pull/9006?

[2021-02-25 13:19] ayubSubhaniya opened #10394 "DeepSpeedEngine object has no attribute 'no_sync'"
## Environment info

- `transformers` version: 4.3.0
- Platform: Linux-4.14.209-160.339.amzn2.x86_64-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.8
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: distributed

### Who can help
Library:
- deepspeed: @stas00

## Information
D

[2021-02-25 13:28] marrrcin opened #10395 "RobertaTokenizerFast does not add special tokens"
I'm not sure whether this should be a part of tokenizers or transformers, because it uses both. Classes that don't work are from `transformers` so I'm posting it here.

## Environment info

- `transformers` version: 4.3.3
- Platform: Colab
- PyTorch version (GPU?): n/a
- Tensorflow version (GPU?): n/a
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can hel

[2021-02-25 14:24] #7008 closed

[2021-02-25 14:31] nerses0 opened #10396 "how to freeze specific layers of TFbert model and just train a classifier?"
Could someone help me to freeze say first 3 layers of transformers.TFDistilBertModel.from_pretrained('distilbert-base-multilingual-cased'). I've tried recommendations for TF model from [#400](https://github.com/huggingface/transformers/issues/400) but it seems to freeze all layers at once.
Thanks in advance!

[2021-02-25 14:34] bhadreshpsavani commented on #10337
Hi @stas00
In [run_ner.py](https://github.com/huggingface/transformers/blob/master/examples/token-classification/run_ner.py#L432) we are logging and saving two things `test_result` and `test_predictions` shall we add another function in a trainer for saving results apart from metrics?

[code]

[2021-02-25 14:38] LysandreJik commented on #10395
Hi, thanks for opening an issue. Indeed, I can reproduce. The conversion to IDs happens in the `encode_batch` method in `tokenizers` directly, which doesn't return the special tokens even though it correctly receives `add_special_tokens=True`. The tokenizer object in transformers also seems to have the correct `special_tokens_map`.

@n1t0, is this an issue from `tokenizers` side? If we're not corr

[2021-02-25 14:40] bhadreshpsavani commented on #10337
Another thing I noted is,
The Logs are different,
It should be like this
[code]
But it is coming like below,
[code]
Without a date, Log type and function name

[2021-02-25 14:40] LysandreJik commented on #10306
Hi @George-Ogden, the change was merged two days ago and is therefore available on the `master` branch, but not yet in a release.

Do you still get the same error when installing from source?

[2021-02-25 14:58] LysandreJik commented on #10348
Glad you could convert it!!

These warnings aren't important, the bias is included in another weight and the position IDs are a buffer that does not need to be created in TensorFlow.

I'm addressing these warnings in #10397.

[2021-02-25 15:02] LysandreJik commented on #10390
Hi! We do not maintain the conda-forge versions of transformers and tokenizers. We maintain the versions that are on the `huggingface` channel.

I just tried with the `huggingface` channel and I get no such errors:

[code]
See the result:

[code]

[2021-02-25 15:13] LysandreJik commented on #10393
Hello! The fix for this was merged a few days ago: https://github.com/huggingface/transformers/pull/10184

I recommend you install from source while no new version is available for Transformers (a new version should be out in ~2 weeks). Sorry for the inconvenience.

[2021-02-25 15:32] atahmasb commented on #10312
@julien-c Thanks, the suggested workflow sounds good.

[2021-02-25 15:39] Kiode opened #10398 "Does the synonym replacement tasks need Transformer?"
Or traditional language processing toolkit (like WordNet) is enough?

[2021-02-25 15:42] #10348 closed

[2021-02-25 15:45] LysandreJik commented on #10398
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discusss.huggingface.co) instead?

Thanks!

[2021-02-25 15:45] #10398 closed

[2021-02-25 15:57] George-Ogden commented on #10306
This is on the inference API on the website I haven't tried it from source.

[2021-02-25 16:08] GuillemGSubies commented on #10393
Ok thank you for the fast response. I always open the issues before checking master branch :sweat:

[2021-02-25 16:08] #10393 closed

[2021-02-25 16:26] LysandreJik commented on #10393
No worries, better to have too much issues reported than not enough!