[2022-10-10 10:55] CaffreyR commented on #19447
Hi @Narsil , thanks for your kind reply. Do you mean `task_specific_params`? Could you please explain more? What is the default option and how does it modify them ? Thanks!

[2022-10-10 11:02] ArthurZucker commented on #19225
Ok! I got it.

You were also wondering about the `</s>`, you can skip them when decoding using `tokenizer.decode(...., skip_special_tokens = True`.

About your issue, I checked, and I am pretty sure we want to change the current behavior, but it could be not backward compatible. A possible update would be to remove the update of the `decoder_input_ids` depending on the `labels`. I don't really kno

[2022-10-10 11:31] NielsRogge commented on #19435
Hi,

Thanks for reporting. I'm afraid we can't change it for backwards compatibility reasons, as people might have already used `image_embeds` with the way it is implemented now. Cc'ing @sgugger to confirm

[2022-10-10 11:32] NielsRogge commented on #18940
You can just implement a Gradio demo and host it on https://huggingface.co/spaces.

[2022-10-10 11:37] sanchit-gandhi commented on #19108
Hey @ZurabDz! Sorry for the late reply. It looks like JAX is recognising your GPU which is good! The problem likely lies in your preparation of the inputs. First, what I'd try is returning the input values as np arrays:
[code]
and then pass these to the model.

If that does not help, then you can try using `device_put()` as explained in [multiplying-matrices](https://jax.readthedocs.io/en/latest/n

[2022-10-10 11:44] FrancescoSaverioZuppichini commented on #19448
nice, thanks @NielsRogge

[2022-10-10 11:44] #19448 closed

[2022-10-10 12:19] pietrolesci opened #19452 "Different behaviour of AutoTokenizer and T5Tokenizer"
### System Info

- `transformers` version: 4.22.2
- Platform: Linux-5.4.209-129.367.amzn2int.x86_64-x86_64-with-glibc2.26
- Python version: 3.9.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU

[2022-10-10 12:21] ydshieh commented on #18127
Fixed by #19056

[2022-10-10 12:21] #18127 closed

[2022-10-10 12:59] dranreb1660 opened #19456 "Original image from Trocr Processor"
Hi [@NielsRogge, I am following your TrOCR finetuning with PyTorch but I have two questions: The processor resizes the image from 1700 x 134 to 384 x384, 1) is there a way to maintain the height of the original image or even use a custom dimension for training, eg. 512 x 134. and 2) is there a way to get the original image back for logging purposes as the processed image is unrecognizable after th

[2022-10-10 13:00] sanchit-gandhi commented on #18231
Hey @voidful, sorry about the delayed reply. I've taken a deeper look into your issue - it looks as though there is a mis-match between the tokeniser and LM's vocabularies (12305 tokens to be exact): https://colab.research.google.com/drive/1v1qd4CUdSXKmrSYIMqMzMk_KCUMfMWu9?usp=sharing

For LM boosted beam-search decoding for CTC, we need the vocabulary of the LM to match that of the tokeniser one-

[2022-10-10 13:06] msaoudallah commented on #19214
i'm getting same issue too
python : 3.8.12
keybert==0.5.0
transformers==4.22.2
full Traceback

[code]

[2022-10-10 13:07] msaoudallah commented on #19214
@Eeshvardhanshet , please share if you reached a solution for this

[2022-10-10 13:11] patrickvonplaten commented on #15472
Hey @annagansen22,

Sorry could you try updating your transformers version and then starting the script again? I think this error should not be present anymore for newer versions

[2022-10-10 13:14] younesbelkada commented on #19445
Hey @auwsom !
Thanks for your message! Indeed it would be better to support all the possible sampling procedures for 8-bit models 💪
There is definitely something around half-precision logits and `generate` that needs a closer look!
Also this seems to be a duplicate of https://github.com/TimDettmers/bitsandbytes/issues/42#issuecomment-1272877078 - so tagging the issue here

Will look into it ASAP!

[2022-10-10 13:17] Narsil commented on #19447
the pipeline reads `task_specific_params` and overrides the default when it's present.

We realized this wasn't super discoverable, so very few models have this feature being used, but I happen to remember this one does.

So if you're using `t5-base` as  a `summarization` pipeline (which I think is the default) then the pipeline will use those defaults and treat them as regular params, it happens

[2022-10-10 13:17] NielsRogge commented on #19456
Hi,

This question is answered on our forum: https://discuss.huggingface.co/t/get-original-image-from-trocr-processor/24224/2

[2022-10-10 13:17] #19456 closed

[2022-10-10 13:18] NielsRogge commented on #19375
Hi,

Deformable DETR is not yet available in a PyPi release. For now, you have to install the library from source:

pip install -q git+https://github.com/huggingface/transformers.git

[2022-10-10 13:18] #19375 closed

[2022-10-10 13:19] msaoudallah commented on #19214
@Eeshvardhanshet , i think i figured it out, i was using a third part library [keybert](https://github.com/MaartenGr/KeyBERT) , that was trying to install the latest version from transformers (4.22.2) , I checked the last running deployment and found that it was using `transformers==4.21.1` . <br>
so you need to downgrade your transformers version to either 4.21.1 or the last successful running ve

[2022-10-10 13:20] #14812 closed

[2022-10-10 13:23] LysandreJik commented on #19452
When you're using `T5Tokenizer`, you're loading the slow version. When using `AutoTokenizer`, you're loading the fast version by default.

Unfortunately, due to a difference in implementation, the fast and slow tokenizer can have some differences.

Pinging @SaulLu and @ArthurZucker for knowledge

[2022-10-10 13:29] AndreaSottana commented on #19225
Hi @ArthurZucker
Thanks so much for providing an interim solution, I can confirm your fix works fine, and returns the correct loss I was looking for. Glad that we uncovered this. Feel free to close the issue or keep it open for future work at your discretion, in the meantime I will use the solution you provided.

[2022-10-10 13:58] sanchit-gandhi commented on #18612
Hey @YingLi001! I hope the above comments answered your questions. Feel free to reopen this issue if you're still encountering problems loading the `state_dict`, or a new issue if there's something else you're having issues with! More than happy to help 🤗

[2022-10-10 14:10] Eeshvardhanshet commented on #19214
@msaoudallah . You are right, I have downgraded transformers version to 4.21.1. It did work. Anyways, thanks @msaoudallah

[2022-10-10 14:46] gante commented on #19296
Hi @talhaanwarch 👋 This seems to be an error in our default value for the size of the embeddings. Thank you for raising it!

Meanwhile, you should be able to run
[code]

[2022-10-10 15:08] #19345 closed

[2022-10-10 15:14] #18809 closed

[2022-10-10 15:26] ydshieh commented on #18190
Hi @ratishsp

As promised, I checked. You are right, perturbing bos token embedding is not helping for the checkpoint `allenai/led-large-16384`. (well, it helps a bit at the first few iterations, but once the steps continue, we get the same `</s><s><s>`.)

I ran out of the ideas, the only thing works is to not use `</s> <s> <tok_1> <tok_2> ...` when preparing `labels`. Instead, just using `</s> <t

[2022-10-10 15:29] gante commented on #19352
Hey @tomergur 👋

Sadly, we have no power to prevent this issue. If you look at the traceback from a script like
[code]

you'll see

[code]

In other words, it crashes on `Keras` code before reaching `transformers` code. Passing `input_ids=None` or wrapping in a dictionary (as you mentioned) are the workarounds for this issue -- Keras expects the first input defined in the signature of `call` to al

[2022-10-10 15:29] #19352 closed

[2022-10-10 15:38] Infrared1029 commented on #18940
I could help

[2022-10-10 16:12] ekazakos opened #19467 "Redundant normalisation of image and text features in OWL-ViT"
### Who can help?

@alaradirik

### Issue description

Hi,

Thank you for the codebase! As the title suggests, I think that in `modeling_owlvit.py` the image and text features are normalised twice while in the original codebase from Google Research they are normalised only once. In particular, in `modeling_owlvit.py` image and text features are normalised both in lines 1073-174 and in lines 1145-1

[2022-10-10 16:32] #19368 closed

[2022-10-10 16:33] #19362 closed

[2022-10-10 16:38] gante commented on #19391
Hi @mellow-d  👋 Having a popular project like `transformers` means we get many support and feature requests — if we want to maximize how much we help the community, the community has to help us stay productive 🙏

To that end, please share a *short* script where the issue is clearly reproducible on *any* computer. Thank you 🤗

[2022-10-10 16:45] alexvaca0 commented on #19322
Any update?

[2022-10-10 16:54] CaffreyR commented on #19447
Hi @Narsil , thanks for your explanation. So what should I do, the code here just use t5.config to them. I need to delete `task_specific_params` in this case?

[2022-10-10 17:00] gante commented on #19418
Hey @msamogh 👋

To explain why there is a mismatch, we would need to know exactly how the model was trained :) However, the most important part -- you may be able to load the checkpoint with these two strategies:
1. Load the model architecture from the same configuration as your trained model
2. After initializing the model architecture (and before loading the checkpoint), [resize the embeddings](

[2022-10-10 17:07] gante commented on #19419
Hey @danielzgtg 👋

I believe it is the same issue as in https://github.com/huggingface/transformers/issues/19384, with the same resolution as listed there -- it should be fixed today/tomorrow, with the new release of `transformers`

Meanwhile, you may be able to get rid of that error if you install `huggingface_hub==0.9.0` :)

(cc @LysandreJik )

[2022-10-10 17:12] ArthurZucker commented on #19322
Hey! Sorry I will have a look tomorrow! 🤗

[2022-10-10 17:12] younesbelkada commented on #19445
Hey @auwsom !
Thanks for your patience!
It appears that the workaroud is pretty much straightforward, could you run `generate` with `inputs_ids` set to a GPU device? For example by making sure that:
[code]
`generate` yields an error since by instantiating a model with `device_map=auto` forces the output of the model to be on the same device as the input. In the snippet in https://github.com/TimDet

[2022-10-10 17:13] ArthurZucker commented on #19452
Yes, noticed the same thing with GPT2, especially with OOV that are automatically converted to blank with the fast version!

[2022-10-10 17:20] gante commented on #19446
Hey @robbohua -- I can run the script you shared without problems on my end. What version of `transformers` are you using? :)

[2022-10-10 17:49] gqfiddler commented on #19358
Hey, thanks for the quick pickup on this!  FWIW, in my opinion the existing error + message is exactly the right response for the case where the caller explicitly passes in a value for both ```max_length``` and ```max_new_tokens```.  The problem I'm pointing out here is the case where the caller passes in a value for ```max_new_tokens``` and NOT for ```max_length``` (as recommended in the document

[2022-10-10 17:55] pietrolesci opened #19471 "Suppress warning when using `DataCollatorForSeq2Seq`"
### Feature request

When using a fast tokenizer in the `DataCollatorForSeq2Seq`, currently the following warning is printed

[code]

As a temporary solution, what is the suggested way to suppress it?

Is there any plan to update `DataCollatorForSeq2Seq`?

Thanks a lot in advance for your help!

### Motivation

N/A

### Your contribution

N/A

[2022-10-10 18:33] RamitPahwa commented on #16059
Hi!, I can create a PR for CTRL for Pytorch and Tensorflow.

[2022-10-10 18:34] LysandreJik commented on #19419
Indeed, upgrading `huggingface_hub` to the latest version (which is 0.10.0!) should solve the error.

[2022-10-10 18:50] LysandreJik commented on #14642
No opposition from my side to use `@torch.no_grad()`, I find it clean as well, and this way we ensure that the whole method does not use gradients.

[2022-10-10 18:51] LysandreJik commented on #19395
Maybe of interest to @ArthurZucker as well!

[2022-10-10 18:53] LysandreJik commented on #19324
ping @Narsil @stevhliu @sgugger

[2022-10-10 18:56] LysandreJik commented on #18947
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-10-10 19:01] LysandreJik commented on #19422
Hey @rajatj86, it's unfortunate that this issue occurs. Unless you have important data in your Hugging Face cache, I would advise removing it.

Otherwise, please update both your `transformers` and `huggingface_hub` versions and post the message here, as it should contain more information.

Thank you!

[2022-10-10 19:02] LysandreJik commented on #19420
Hello! It seems like you don't have read access into the cache generated by huggingface?

You're getting a permission denied to read the file.

[2022-10-10 19:07] LysandreJik commented on #19329
cc @NielsRogge

[2022-10-10 19:08] LysandreJik commented on #19383
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

cc @sgugger

[2022-10-10 19:44] tatiana-iazykova opened #19474 "Sample method doesn't work for mt5 architecture"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.4.0-122-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.12
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.8.1+cu111 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-10-10 20:53] soma2000-lang commented on #19303
@sgugger Would like to work on the Roberta config.Please assign me

[2022-10-10 21:03] soma2000-lang commented on #16292
I would to try for Data2VecText

[2022-10-10 22:02] bfelbo commented on #2831
@akashp1712 facing the same issue is a deployment context, where it's not possible to install rust. Did you find a solution?

[2022-10-10 22:14] rchan26 commented on #16059
Hi, I'd like to work on MT5 for Pytorch and Tensorflow 🙂

[2022-10-10 23:53] danielzgtg commented on #19419
So which one is it? 0.9.0 or 0.10.0? I had 0.10.0:

[code]

Anyway, I don't yet know how to reproduce this message. It only appeared for me once. I do hope that I can any necessary cache migration to succeed though

[2022-10-11 02:13] nyadla-sys opened #19478 "openai whisper ASR pytorch to tflite"
### Model description

I'm trying to figure out how to create tflite models(int8/float32 ) for OpenAI->Whisper ASR model (Tiny.en.pt)
Somehow below generated tflite file getting crashed while running inference
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/tinynn_pytorch_to_tflite_int8.ipynb

### Open source status

- [X] The model implementation is available
- [X]

[2022-10-11 02:15] nyadla-sys commented on #19478
@patrickvonplaten @sgugger @amyeroberts @ArthurZucker :Could anyone of you help me on this ?

[2022-10-11 03:03] DIvkov575 commented on #19324
@Narsil @stevhliu @sgugger could I get assigned to this?

[2022-10-11 05:00] sirmammingtonham commented on #19303
hi @sgugger i can try working on the XLM-ProphetNet model 😊

[2022-10-11 05:11] lanking520 opened #19480 "[INT8] BLOOM series model loading back issue"
### System Info

8x A100 GPUs with CUDA 11.3 driver

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Use the following script to save a INT8 quantized and try to loa

[2022-10-11 05:16] raghavanone commented on #19300
@sgugger  I would like to fix this issue, can help on where this fix needs to go ?

[2022-10-11 06:26] akashp1712 commented on #2831
Yes @bfelbo, I tried the below in requirements.txt and it worked but couldn't use it as Vercel have hard dependency of 150MB build.

[2022-10-11 06:36] tatiana-iazykova commented on #19474
moreover, if I try to use generate with num_beams=1 and do_sample=True as it says in documentation, I got really weird scores:

inp = batch # result of next(item(torch.utils.Dataloader))

generate_results = model.generate(
                input_ids=inp['input_ids'].to(model.device),
                attention_mask=inp['attention_mask'].to(model.device),
                output_scores=True,

[2022-10-11 07:30] SaulLu commented on #19395
Hi @elmadany

The conversion of a vocabulary coming from sentencepiece to a fast version of the tokenizer is indeed an operation which can take time, but it is an operation to be carried out only once because once loaded you can save the converted version with the fast format not to have to remake this operation the next time.

On the other hand, I am a little more concerned when you say that it "

[2022-10-11 07:39] Haiming94 commented on #5096
自动回复，您好，邮件已经收到，谢谢！

[2022-10-11 08:27] Steboss89 commented on #17459
Hi @mfumanelli
I've done [add_new_model.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/add_new_model.mdx) and it's been approved and merge :)

[2022-10-11 08:41] NielsRogge commented on #19329
Hi,

I would first try to overfit a single batch, as explained in Karpathy's blog post. This makes sure everything is set up properly.

Several folks have shown to successfully fine-tune TrOCR from pre-trained encoder + decoder checkpoints, e.g. for Japanese: https://github.com/kha-white/manga-ocr.

See also this thread for more info: https://github.com/microsoft/unilm/issues/627.

[2022-10-11 09:01] ydshieh commented on #16292
@SauravMaheshkar It looks PyTorch Reformer is already done, see [here](https://github.com/huggingface/transformers/blob/10100979ed0594d4cfe1982cdfac9642a68e473e/utils/documentation_tests.txt#L68)

[2022-10-11 09:52] Narsil commented on #19358
Hi,

The first `max_length` comes from the use of `config.prefix` in `facebook/opt-125m`: https://huggingface.co/facebook/opt-125m/blob/main/config.json

I don't think `prefix` is correctly used in this configuration. `prefix`  is meant for XL variants models to have a large text input prompt because the output quality of the model without it is bad (this is old code I'm referring to very old conv

[2022-10-11 09:54] gante commented on #19419
That's why I suggested `0.9.0` :) It seems to be a problem due to a version mismatch between `transformers` and `huggingface_hub` (see https://github.com/huggingface/transformers/pull/19244)

In any case, it's very hard to reproduce the issue -- it seems to happen when migrating from the old cache version (i.e. if you had used `transformers<=4.21` in your system) into the new cache version, which

[2022-10-11 09:56] #19094 closed

[2022-10-11 09:58] Narsil commented on #19447
@CaffreyR

You can:
- Override the params directly in the pipeline

[code]

 Or deactivate them altogether by loading the model before the pipeline

[code]

 Would either solution work for you ?

[2022-10-11 10:03] ydshieh opened #19487 "🔥[Community Event] Doc Tests Sprint - Configuration files🔥"
This sprint is similar to #16292 - but for model **configuration files**, i.e. `configuration_[model_name].py`.
For example, `src/transformers/models/bert/configuration_bert.py`

# The expected changes

The changes we expect  could be find #19485:

  1. **Change the import order of the model and configuration classes**
  2. **Add `(with random weights)` in the  comment before model initialization

[2022-10-11 10:46] ekazakos commented on #19467
Hi @alaradirik,

I suspected that this was the reason you did that. And thanks for the clarification, it's helpful! Yet, that implies that the text features are indeed normalised twice, no?

[2022-10-11 10:55] alaradirik commented on #19467
Yes, you're right indeed and thanks for pointing it out! I'll be opening a fix PR shortly.

[2022-10-11 11:30] sgugger commented on #19471
Could you post a clear reproducer of the issue? Thanks a lot!

[2022-10-11 11:39] raghavanone commented on #19293
@ankrgyl  What is the expected behaviour of decode should be ?

[2022-10-11 12:33] gugarosa opened #19488 "PreTrainedTokenizerBase issue produced by PR #19073"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.4.0-125-generic-x86_64-with-debian-bullseye-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in s

[2022-10-11 12:34] gugarosa commented on #19488
Hi everyone! Hope everything is going well with you.

Please let me know if I could be clear enough in describing the issue.

Thanks for your attention and best regards,
Gustavo.

[2022-10-11 13:20] niedakh opened #19490 "ASR pipeline does not work with openai/whisper on current master"
### System Info

transformers @ git+https://github.com/huggingface/transformers.git@b651efe59ea506d38173e3a60a4228e7e74719f9
python 3.6
Standard AWS Ubuntu Deep Learning AMI (Ubuntu 18.04) Version 30.0

### Who can help?

@Narsil @anton-l @sanchit-gandhi @patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported ta

[2022-10-11 14:29] ankrgyl commented on #19293
My desired behavior would be that `a<=5` round trips (i.e. encodes and then decodes) to `a<=5`, not `a < =5`

[2022-10-11 14:58] #19445 closed

[2022-10-11 15:04] #18878 closed

[2022-10-11 15:04] #18872 closed

[2022-10-11 15:18] BenWilson2 opened #19491 "Dev build of TensorFlow causing issue with pre-trained BERT"
### System Info

Python version: 3.7
TF branch: dev
(this is part of our nightly CI checks for MLflow to test dev builds; sorry for not executing `transformers-cli env` for this report)

installed packages:
absl-py-1.2.0
astunparse-1.6.3
cachetools-5.2.0
flatbuffers-22.9.24
gast-0.4.0
google-auth-2.12.0
google-auth-oauthlib-0.4.6
google-pasta-0.2.0
grpcio-1.49.1
h5py-3.7.0
keras-nightly-2.11.0.dev

[2022-10-11 15:19] sgugger commented on #19303
The fast tokenizers for ELECTRA and Longformer are still available FYI :-)

[2022-10-11 15:44] ArthurZucker commented on #19490
I will have a look!

[2022-10-11 16:08] Narsil commented on #19490
@ArthurZucker are we sure `Whisper` can handle chunking ?

from internal conversation.

Happy to jump into a design call to discuss whether we can do it or not.

Not being CTC means it's harder to handle the boundaries. Boundaries at silence are sort of OK, but unfortunately can never really a *complete* solution (because you can never be sure you're going to get a silence, and you MUST be able to

[2022-10-11 16:34] Threepointone4 commented on #19303
@sgugger I would like to contribute fast tokenizers `ELECTRA` and `Longformer`

[2022-10-11 16:36] ArthurZucker commented on #19490
Really sorry about my miss-communication. The chunking that will be supported is different from CTC. Let's organize a call to speak in more details about that 😉
The goal would be to be able to specify a chunk length and stride length (if people want to customize it) but default Whisper has its own parameters. Let's talk more about that when we call 🤗

[2022-10-11 16:44] stevhliu commented on #19324
Thanks for the feedback and feel free to take this on if you're interested!

If you have any questions about writing the docs, take a look at this guide [here](https://github.com/huggingface/transformers/tree/main/docs#writing-source-documentation) :)

[2022-10-11 16:54] #19374 closed

[2022-10-11 17:43] WhiteWolf47 commented on #16059
Hey, I would like to work on the Swin model files!

[2022-10-11 18:00] patrickvonplaten commented on #14642
Ok for me too!

[2022-10-11 18:03] Atharva-Phatak commented on #14642
I believe everyone has agreed. Is this issue still open ? Can I work on this ?

[2022-10-11 18:15] jyotiyadav94 commented on #15451
Hi @R0bk ,@NielsRogge

Thanks for the amazing work
Do you guys have any plans to add the RelationExtraction to the layoutLMV3?
Since there is a huge difference between the results of layoutLM2 & LayoutLMv3.

[2022-10-11 18:23] NielsRogge commented on #14642
cc'ing @ydshieh here as I'm not sure we can just add `torch.no_grad()`, due to the fact that torch needs to be available for that

[2022-10-11 18:25] patrickvonplaten commented on #19474
@gante or @ArthurZucker could you take this one? :-)

[2022-10-11 18:41] sirmammingtonham commented on #19303
@Threepointone4 yep I can take the longformer fast tokenizer thanks!

[2022-10-11 18:51] sgugger commented on #19435
Indeed. The documentation can be clarified however, to make this less surprising to users.

[2022-10-11 18:53] Infrared1029 commented on #19435
makes sense! i guess the docs could be indeed slightly clarified

[2022-10-11 19:09] NielsRogge commented on #18940
Very cool demo @MikailINTech! Awesome work. Final step is indeed visualizing the heatmap

[2022-10-11 20:27] jfomhover commented on #18870
AzureML recently raised the limit to the number of parameters that can be logged per mlflow run. This should unblock using HF autolog in the issue raised initially. That change has been rolled out earlier in October. By now, you should be able to drop the workaround and just use HF autolog with mlflow in AzureML.

[2022-10-11 20:35] SaulLu commented on #19301
I'm so glad I could help you! I'm closing this issue as I feel like it answers all your questions. :hugs:

[2022-10-11 20:35] #19301 closed

[2022-10-11 20:40] dhgoratela commented on #19303
@sgugger , Are there any tasks available further. I'd like to work on this

[2022-10-11 20:51] sgugger commented on #19303
I think everything is taken as of now. If someone reports back they can't complete the model they picked, I will let you know!

[2022-10-11 21:25] devaansh100 opened #19500 "Misalignment between documentation and implementation of mBART50 tokenisation for the decoder"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.14
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.8.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-10-11 21:52] wenmin-wu commented on #19301
Yep, your answers helped me a lot with the [Feedback Prize - English Language Learning](https://www.kaggle.com/competitions/feedback-prize-english-language-learning/leaderboard) Kaggle competition. I'm in the gold zone now. Many thanks!

[2022-10-11 22:29] nyadla-sys commented on #19478
Below notebopok generates tflite file ,however i have not validated with real speech input
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/tflite_from_huggingface_whisper.ipynb

[2022-10-11 22:29] nyadla-sys commented on #19478
Can anyone help me to run inference on this notebook to validate generated tflite file

[2022-10-11 22:30] sirmammingtonham commented on #16059
Hi I'd love to work on Reformer and RoFormer pytorch 😊

[2022-10-11 23:21] nyadla-sys commented on #19478
@ydshieh Could you please help me to validate  tflite file that got generated using below google notebook
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/tflite_from_huggingface_whisper.ipynb

[2022-10-12 00:54] wasiahmad opened #19505 "Special Language Token for PLBART needs to be updated"
### System Info

The `FAIRSEQ_LANGUAGE_CODES` in PLBartTokenizer [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/plbart/tokenization_plbart.py#L90) need to be as follows.

[code]

The current PLBartTokenizer treats `java` as a special token, and thus it removes the token when decoding is performed. An example is given below.

[code]

### Who can help?

@gunjan

[2022-10-12 02:50] npoulose commented on #10280
Is it possible to train while adding a new category to the dataset using this resume_from_checkpoint argument?

[2022-10-12 03:05] DIvkov575 opened #19507 "Create dependencies file"
### Feature request

Create requirements file ie. requirements.txt / dev_requirements.txt / optional_requirements.txt, for faster env setup.
and/or install.py to automate install of requirements,

### Motivation

I wanted to help contribute and upon env setup felt that having a dependencies file would be convenient.

### Your contribution

Create PR with dependencies

[2022-10-12 03:23] #19507 closed

[2022-10-12 04:58] auwsom commented on #19445
@younesbelkada yes, this works on the example notebook on Colab. Thanks!

[2022-10-12 04:58] ElliottYan opened #19509 "INF encountered when using sampling with temperature."
### System Info

latest transformers version == 4.24.0
When generating samples with mBART, I encounter this problem:
![image](https://user-images.githubusercontent.com/10862038/195253207-8229466b-8342-458d-ac40-0b40edd801af.png)

Looking deeply into the codes, I find the problem roots from the beam score added to next_token_scores here:
https://github.com/huggingface/transformers/blob/bc21aaca789f

[2022-10-12 05:52] ftian1 opened #19510 "RFC: Add quantization capability to the Transformers Trainer API"
### Feature request

Add quantization capability to the Transformers Trainer API

### Motivation

Quantization is one of popular model compression technologies and widely used in the industry. At Intel(R) Xeon platforms and Nvidia GPU platforms it could bring significant performance speedup with slight accuray loss. Having a easy-of-use quantization interface in Transfomers will benifit customers.

[2022-10-12 07:01] Smile-L-up opened #19511 "ERNIE and tensorflow2"
### Feature request

Checked the transformersss Explanatory document , I found that only ErnieModel that supports torch exists. Is there any plan to release TFErnieModel later?

### Motivation

I am using the tensoflow2 framework  and want use ERNIE.

### Your contribution

sorry.

[2022-10-12 07:08] ydshieh commented on #14642
This will fail if torch is not available. Even if I place `require_torch` in difference places and in different order with `torch.no_grad`. We can make a custom `no_grad` decorator if this is OK for everyone.

[2022-10-12 07:18] NielsRogge commented on #19511
cc @amyeroberts @JoaoLages

[2022-10-12 08:16] Bing-su opened #19513 "X-CLIP example error"
### System Info

google colab
python=3.7.14
transformers=4.23.1

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

example at <https://huggingface.co/docs/transformers/

[2022-10-12 08:36] PVMPATCH opened #19515 "There is a type annotation error"
### System Info

Transformer 4.22.0
Ubuntu 20.04
Python 3.10.6

### Who can help?

@sgugger, @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The type annotation bug is [here](https://gi

[2022-10-12 08:40] raghavanone commented on #19293
@LysandreJik  @ArthurZucker I debugged this issue.

Incase of of input is a a>=5
calling self.tokens_trie.split() returns ['a>=5']

Incase of of input is a a<=5
calling self.tokens_trie.split() returns ['a', '<', '=5']

Here '<' is not part of the original vocab is added.

[2022-10-12 09:06] devaansh100 commented on #18979
Would like to add something to this thread for the first point - the format provided in the documentation is for the `decoder_input_ids`, while the MBARTTokenizer produces the "wrong" format for the `labels`. Using this as an input to the mBART, `shift_tokens_right()` creates the correct format for the `decoder_input_ids`.

This problem actually occurs with mBART50 - I have raised [the](https://gi

[2022-10-12 10:02] BramVanroy commented on #18979
Hi @SaulLu @patil-suraj. Any update to this, one month later? Thanks!

[2022-10-12 11:53] pony-m commented on #12242
Can't load tokenizer for './models/t5-pegasus'

下载后使用也存在这个问题

[2022-10-12 12:04] amyeroberts commented on #19511
Hi @Smile-L-up. Thanks for raising this issue.

You can check if there's any ongoing work to port a model to TensorFlow, by searching the [open issues](https://github.com/huggingface/transformers/issues?q=is%3Aissue+is%3Aopen+ernie) and [PRs](https://github.com/huggingface/transformers/pulls?q=is%3Apr+is%3Aopen+ernie). I don't think there's any plans or ongoing work to port ERNIE.

If you're inter

[2022-10-12 12:08] felgaet commented on #19379
Thanks!

[2022-10-12 12:08] #19379 closed

[2022-10-12 12:33] sgugger commented on #19515
Thanks for reporting. Note that we do not maintain the examples lying in the research project folder, and we only use type annotations for documentation purpose, not for type-checkers.

[2022-10-12 12:54] #18446 closed

[2022-10-12 12:59] piEsposito opened #19528 "Allow TFBertTokenizer to use Tensorflow text BertTokenizer (and not FastBertTokenizer) to make it servable by TF Serving"
### Feature request

I would like to serve a bundle of Tokenizer + Model on TF Serving, but can't do it because TF Serving still have no support for TF FastBertTokenizer annd FastBertNormalize operations (https://github.com/tensorflow/serving/issues/2064).

It would be good if we could let [TFBertTokenizer ](https://github.com/huggingface/transformers/blob/4ed0fa3676ad8900eaa982a6c5c2ad6b75c8ea46/

[2022-10-12 13:35] raghavanone commented on #19298
@patrickvonplaten @SaulLu  I can pick this issue. What should be the approach we need to take ?

[2022-10-12 14:03] ydshieh commented on #19478
@nyadla-sys The TF Whisper is just released, maybe you can try with it.

However, our team is still working on some TensorFlow model saving issues, so I don't know if the conversion/inference will work out of the box.

[2022-10-12 14:08] nyadla-sys commented on #19478
@ydshieh ran inference on converted tflite file and it doesn't work.

[2022-10-12 14:09] Rocketknight1 commented on #16059
Hi @sirmammingtonham thank you so much for pointing that out! I just realized I'd been failing to keep the list of models up to date - I made a Colab to check our codebase instead, which is linked at the bottom of the initial post and will always be up to date.

[2022-10-12 14:11] Rocketknight1 commented on #16059
This applies to other people who recently started, cc @mariagrandury @arcAman07 @RamitPahwa @rchan26 @WhiteWolf47. If you found the model you chose already has type hints, this is why! Please double-check in the Colab to see where type hints are still needed.

[2022-10-12 14:41] arcAman07 commented on #16059
Hey just saw the codebase and realised a lot of models already have type hints. I did notice dpt list of models didn't have type hints and I would love to work on that issue.

[2022-10-12 15:05] #19513 closed

[2022-10-12 15:15] #19296 closed

[2022-10-12 15:36] wenmin-wu commented on #19301
@SaulLu Got another improvement again. I'm a Prize Contender now! Many thanks!

[2022-10-12 15:36] ankrgyl commented on #19293
Hi @raghavanone just to clarify, that has been known the whole time. The specific issue here is that added tokens (in this case `<`) _cannot_ split words (see the code snippet I pasted above).

[2022-10-12 15:50] gante commented on #19358
@Narsil I see! Actually, OPT's tokenizer already adds the `prefix` (`"</s>"`, token id = 2) at tokenization time.

[code]

Looking at the [tokenizer configuration](https://huggingface.co/facebook/opt-125m/blob/main/tokenizer_config.json), we see a `"add_bos_token": true`.

Because it also has a `config.prefix`, does this mean that the pipelines add another `</s>`? I suppose it is harmless and, for

[2022-10-12 16:43] sanchit-gandhi opened #19537 "[Whisper] Gradient checkpointing fails"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-4.19.0-22-cloud-amd64-x86_64-with-glibc2.10
- Python version: 3.8.0
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-10-12 17:23] elmadany commented on #19395
Thanks @SaulLu
yes, it took 4 hours to convert.
So, I will close this issue

[2022-10-12 17:23] #19395 closed

[2022-10-12 17:25] daspartho commented on #19487
I'd like to work on this; I'll start with YOLOS and open a PR :)

[2022-10-12 17:32] gante commented on #19509
Hi @ElliottYan 👋  Thank you for pointing it out, it seems like a bug indeed. I will look into it.

[2022-10-12 17:39] daspartho commented on #19487
I'll take on Whisper!

[2022-10-12 17:58] tatiana-iazykova commented on #19474
Noted.

As for the second issue, the input was standard like the one specified here (https://colab.research.google.com/github/huggingface/notebooks/blob/main/examples/translation.ipynb#scrollTo=kTCFado4IrIc)

and code for generate was the following:

[code]

[2022-10-12 18:14] WhiteWolf47 commented on #16059
Hey, just checked out the colab notebook, i have decided to work on the YolosModel

[2022-10-12 18:18] daspartho commented on #19487
I'll work on Beit!

[2022-10-12 18:21] Rocketknight1 commented on #16059
Thanks all, and sorry again about the list being out of date initially!

[2022-10-12 18:25] imarekkus commented on #19487
FYI Bart #19524 and Albert #19541 are already done :)

[2022-10-12 18:33] imarekkus commented on #19487
If you don't mind I will work on [big_bird](https://github.com/imarekkus/transformers/tree/main/src/transformers/models/big_bird) and [bigbird_pegasus](https://github.com/imarekkus/transformers/tree/main/src/transformers/models/bigbird_pegasus) models.

[2022-10-12 19:15] sanchit-gandhi commented on #19537
Jumped the gun 😅 Doesn't quite yet work with the decoder!
[code]

<details>
<summary> Traceback </summary>

[code]

</details>

Need to pass `encoder_attention_mask` and `past_key_value` correctly to the decoder layer...

[2022-10-12 19:16] sanchit-gandhi commented on #19537
Jumped the gun 😅 Doesn't quite yet work with the decoder!
[code]

<details>
<summary> Traceback </summary>

[code]

</details>

Need to pass `encoder_attention_mask` and `past_key_value` correctly to the decoder layer...

[2022-10-12 19:38] daspartho commented on #19487
I'll take on GPT2 next!

[2022-10-12 21:31] LysandreJik commented on #19510
cc @sgugger

[2022-10-12 21:33] LysandreJik commented on #19505
cc @gchhablani, could you take a look at this?

[2022-10-12 21:36] LysandreJik commented on #19500
@ArthurZucker, when you have bandwidth, would you like to take a look at this?

[2022-10-12 21:38] atturaioe commented on #18004
Hello, is this issue still open? I would like to contribute to it

[2022-10-12 21:52] LysandreJik commented on #19480
Maybe @sgugger has some insights

[2022-10-12 22:26] MHHamdan commented on #19515
@sgugger Will you have any comming project related to vision transformer that I can contribute to.

[2022-10-12 23:37] LEECHOONGHO opened #19554 "Any example for Wav2vec2ForXVector training?"
Hello, I'm trying to train Wav2vec2ForXVector model on setting like below. But the training loss is not falling from 2.3~2.7. Is there any example for Wav2vec2ForXVector training? Or had anyone
Experienced like this?

pretrained_model : korean wav2vec2
num of audio : 2300k
num of speaker : 11223
num of used encoder layer : 1
output_xvector_dim : 512
learning rate : 2e-5
batch size : 512

![Screens

[2022-10-13 01:21] NightMachinery commented on #18982
[**@github-actions**](https://github.com/apps/github-actions) commented on [Oct 12, 2022, 6:33 PM GMT+3:30](https://github.com/huggingface/transformers/issues/18982#issuecomment-1276330749 "2022-10-12T15:03:48Z - Replied by Github Reply Comments"):

The issue has not been addressed at all.

[2022-10-13 02:21] katiele47 commented on #17540
Hi @ydshieh, I was able to reproduce the issue by running `python -m pytest -n auto --dist=loadfile -s -v ./tests/models/rembert` from the root directory on the latest transfomers version v4.23.1. The `test_resize_token_embeddings` on `TFRemBertModelTest` seemed to pass now without the merged code from https://github.com/huggingface/transformers/pull/17511. By any chance the cleanup of TF embeddin

[2022-10-13 03:06] traveler-pinkie commented on #16292
@patrickvonplaten I would like to work on Marian for TensorFlow please. Thank You

[2022-10-13 03:33] RamitPahwa commented on #16292
I would like to work on OpenAI for Pytorch and Tensorflow @ydshieh

[2022-10-13 04:13] ydshieh commented on #17540
Hi @katiele47 This test is still failing on our CI. Could you share your environment information, by running `python utils\print_env.py`. Also, could you share your hardware information (CPU, GPU) please? Thank you!

[2022-10-13 05:09] Batese2001 commented on #14905
Hi, the above pull request mentioned offhandedly that this had been fixed, is that the case or is this still open as indicated?

[2022-10-13 06:36] grgkaran03 commented on #19487
I'll take yoso

[2022-10-13 06:38] grgkaran03 commented on #19487
i'll work on yoso

[2022-10-13 06:52] daspartho commented on #19487
I'll work on
- RoBERTa
- ViT
- DeiT
- Reformer

and open up PR soon :)

[2022-10-13 07:14] NielsRogge commented on #14905
Seems like this got fixed, closing the issue.

[2022-10-13 07:14] #14905 closed

[2022-10-13 07:15] RamitPahwa commented on #19487
Also will raise for Transformer-XL !

[2022-10-13 07:29] imarekkus commented on #19487
I'll work on bloom

[2022-10-13 08:09] ElliottYan commented on #19509
Great! Looking forward to your solution.
For now, I just swap these two lines (L2566 && 2567) and the error disappears. But I'm not sure what I do is correct.

[2022-10-13 08:13] joao-alves97 commented on #19266
@patil-suraj could you help me with this problem?

[2022-10-13 08:53] NielsRogge opened #19568 "Add Swin2SR"
### Model description

Swin2SR is a Swinv2-based model for image super resolution and compression.

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

https://github.com/mv-lab/swin2sr

[2022-10-13 09:49] tasercake opened #19569 "DeprecationWarning from Pillow (with Pillow ≥ 9.1.0)"
### System Info

`transformers`: 4.22.2
`pillow`: 9.2.0
Python 3.9.9

### Who can help?

@NielsRogge @amyeroberts (tagged based on changes to `image_utils.py` in #18520, but the issue seems to span most of the repo)

## Reproduction

[Pillow 9.1.0 deprecated a bunch of constants](https://pillow.readthedocs.io/en/stable/releasenotes/9.1.0.html#deprecations) such as `PIL.Image.BILINEAR`, leading to

[2022-10-13 10:23] venkat-natchi commented on #19568
If there is consensus for this, can I work on it?

[2022-10-13 10:43] imarekkus commented on #19487
I'll work on ctrl

[2022-10-13 10:48] #19319 closed

[2022-10-13 11:25] NielsRogge commented on #19568
Sure!

[2022-10-13 11:26] NielsRogge commented on #19569
cc @amyeroberts @alaradirik

[2022-10-13 11:32] venkat-natchi commented on #19568
cool, I will start with this.

[2022-10-13 11:58] SD-13 commented on #19487
Hi @ydshieh, I am new here and want to contribute to this issue. Can you please help me to find the remaining files? Thanks,

[2022-10-13 12:15] NielsRogge commented on #19568
Check out some tips on contributing a model here:

* https://github.com/huggingface/transformers/tree/main/templates/adding_a_new_model#add-new-model-like-command
* https://huggingface.co/docs/transformers/contributing
* https://huggingface.co/docs/transformers/add_new_model

[2022-10-13 12:16] ydshieh commented on #19487
Hi @SD-13 You can check the latest file
https://github.com/IzicTemi/transformers/blob/main/utils/documentation_tests.txt

Any configuration file that is not on that list (on `main` branch) **and [not claimed here yet, no PR opened yet]** are all welcome :-)

[2022-10-13 12:17] IzicTemi commented on #19487
Hey @ydshieh, could I fix multiple models in a single PR, or do I have to open a single PR for each fix?

[2022-10-13 12:19] NielsRogge commented on #19568
Hi,

No each model in the library has its own folder and implementation files. We duplicate a lot of code in favor of easily readable code.

There's no super resolution model already available in Transformers, it would be the first one.

[2022-10-13 12:56] venkat-natchi commented on #19568
Can I reuse the model [there](https://github.com/huggingface/transformers/blob/main/src/transformers/models/swinv2/modeling_swinv2.py) or from https://github.com/mv-lab/swin2sr repo?

[2022-10-13 12:59] grgkaran03 commented on #19487
I will be taking blenderbots as well

[2022-10-13 13:15] Sarthak0101130 commented on #19515
Can i get this issue?

[2022-10-13 13:16] baniasbaabe opened #19579 "Mutli target classification"
### Feature request

Is there a way to do multi target clasification e.g for text classification?
for example:
Input: text
Output 1: Male/Female
Output 2: Happy/Angry

### Motivation

It‘s annoying to embed the outputs of the model into a custom model

### Your contribution

Unfortunately not

[2022-10-13 14:17] SD-13 commented on #19487
Hey @ydshieh, I am getting this error
![Screenshot from 2022-10-13 19-44-43](https://user-images.githubusercontent.com/89520981/195621668-e2ba4aee-dee6-45a3-9699-b7b61482bfe6.png)
can you please help me to understand the reason and fix it? Thanks,

[2022-10-13 14:19] rraminen commented on #19394
The perf drop is not observed on A100.

[2022-10-13 14:23] sanchit-gandhi commented on #19554
There isn't currently an example for XVector training in Transformers! Would you like to contribute this? You can begin simply by opening a PR with the python script that you're using. We can then iterate on it to verify correctness and hopefully get a successfully trained XVector system!

Probably also worth asking the same question on the forum to boost visibility: https://discuss.huggingface.co

[2022-10-13 14:37] ydshieh commented on #19487
@SD-13 Could you open a PR (even if it is not complete yet), and post the command you run and the complete error message in that PR? Using image is not very convivence to search and debug 🙏

[2022-10-13 14:57] LysandreJik commented on #19579
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2022-10-13 15:02] LysandreJik commented on #18982
@sanchit-gandhi, could you give this issue a quick look?

Also cc @younesbelkada as you have experience with Flax + TPU and may know what's going on.

[2022-10-13 15:03] #18883 closed

[2022-10-13 15:05] SD-13 commented on #19487
Yeah true. I created [this](https://github.com/huggingface/transformers/pull/19580) PR and let's leave those errors since all checks are passing. Thanks,

[2022-10-13 15:08] amathews-amd commented on #19394
@rraminen , I dont think upstream HF can help much here; this is on AMD to root-cause. Please close this ticket.

Let's get started with figuring out which commit caused the regression on ROCm, and tracking internally.

[2022-10-13 15:15] LysandreJik commented on #19394
I agree @amathews-amd, I don't think we're in a very large capacity to help here. We're happy to follow along however, so please let us know if there's anything we can do to help out.

[2022-10-13 15:17] LysandreJik commented on #19491
Maybe of interest to @gante @Rocketknight1

[2022-10-13 15:18] LysandreJik commented on #19488
Thank you for the issue @gugarosa!

Pinging @sgugger

[2022-10-13 15:24] SD-13 commented on #19487
I will also take `time_series_transformer.py`, `vision_encoder_decoder.py`, and `trajectory_transformer.py`. Thanks,

[2022-10-13 15:29] younesbelkada commented on #18982
Hey @NightMachinery
There used to be a small discrepency for JAX/Flax + TPU recently (see related issue: https://github.com/googlecolab/colabtools/issues/3009), it's probably related to that but I am not sure, could you make sure that you are using `jax + jaxlib==0.3.22` ?  Thanks!

[2022-10-13 15:31] rajcscw opened #19581 "Inconsistent padding behavior for decoder_input_ids for Seq2Seq models"
### System Info

transformers : 4.18.0
torch: 1.12.0
Python 3.7.13

### Who can help?

@patrickvonplaten @patil-suraj

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

T

[2022-10-13 15:38] Rocketknight1 commented on #19491
Hmm, this looks like they changed something about saving in H5 format. The bug report is appreciated, but since the API might be unstable, I think we probably won't change anything in `transformers` yet. However, if the bug still occurs in TF 2.11-rc0 then we definitely have a problem and will try to fix things before 2.11 final. Thank you!

[2022-10-13 16:00] rraminen commented on #19394
Thank you @LysandreJik, closing this issue.

[2022-10-13 16:00] #19394 closed

[2022-10-13 16:03] BenWilson2 commented on #19491
Sounds great! I just wanted to give you a heads up and save you some debugging time for when the rc branch is cut :)

[2022-10-13 16:27] MikailINTech commented on #18940
Thank you ! Just finished adding the heatmap. Is there a way I can have this issue mark as resolved ?

[2022-10-13 16:29] Rocketknight1 commented on #19491
cc @gante and @ydshieh  - this might be nothing, but we should remember to do some testing once the RC arrives.

[2022-10-13 16:29] NightMachinery commented on #18982
I guess you are correct that the issue is with Colab, not Hugging Face. But I can't even get `jax.local_devices()` to run:
[code]
[code]
[code]

[2022-10-13 16:34] aapot opened #19588 "Jax/Flax pretraining of wav2vec2"
There is Jax/Flax based script available for pretraining wav2vec2 [here](https://github.com/huggingface/transformers/tree/main/examples/research_projects/jax-projects/wav2vec2). I have been trying to pretrain new wav2vec2 model for Finnish on TPUs using that script but it seems impossible to get the model train properly. I know the script is under _research_projects_ so I am wondering if anyone ha

[2022-10-13 17:34] grgkaran03 commented on #19487
took up blenderbot_small too.

[2022-10-13 19:17] woshizouguo opened #19591 "Beam search indices calculation issue"
### System Info

In the generator, the final [beam_indices](https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/generation_utils.py#L2376) calculated here may not be the `beam_indices` with the best score.

For example, assume a generated text ended at time step T, the output length = T, and it has best score in the `beam_hypo` in the end.  Th

[2022-10-13 19:24] j2cunningham opened #19592 "Sagemaker Estimator for fine tuning where all the transform code is in the train.py"
### Feature request

I work for a company that is a heavy user of AWS sagemaker.  I am on a professional services team where I build a lot of examples for our data scientists to follow.  I recently wanted to use the Sagemaker Huggingface estimator to fine tune a transformer and create a model for our custom NLP task.

I had csv data in S3.  I found several examples of fine tuning that involved pul

[2022-10-13 19:44] julien-c commented on #19394
Just seconding what @LysandreJik said: if we can help in any way to improve support or performance of our software on AMD chips, we'd like to help

Just ping us

[2022-10-13 19:56] alzyras opened #19593 "The 54b MoE!"
### System Info

Hello,

I'm (And I believe many others) are intrigues by the Model of Experts model.

I've looked at the only documentation I could find here: https://github.com/facebookresearch/fairseq/blob/nllb/examples/nllb/modeling/README.md

However the arguments for generation / evaluation are unclear to me :)

I will be starting a data analysis job shortly and I see some possible applicati

[2022-10-13 20:14] daspartho commented on #19487
I'll take on
- RoBERTa
- ViT
- DeiT
- Reformer

and will open up PR :)

[2022-10-13 20:17] daspartho commented on #19487
I'll take on
- SEW
- SEW-D
- Swin
- Swin V2
- UniSpeech

and will open up PR :)

[2022-10-13 20:41] NielsRogge commented on #18940
Really cool! Although I'd also include the entire image in the result (not just the heat map), to compare.

Then I'll close this issue!

[2022-10-13 20:50] NightMachinery commented on #18982
This works! I think the only difference with my previous code is supplying `tpu_driver_20221011` to `setup_tpu`. Where is that documented?
I suggest having a central Colab TPU guide on HuggingFace docs which documents things like these that are necessary to run any TPU notebook.

Do you want me to send a PR for this specific notebook?

[2022-10-13 20:57] younesbelkada commented on #18982
I am very happy that it worked @NightMachinery !
I think that it makes sense here to have a "reference" colab where people can refer to it - pinging @patil-suraj (for the fix I borrowed from the diffusers notebook) and @LysandreJik regarding the PR that you have suggested ;)
Thank you!

[2022-10-13 21:26] NielsRogge commented on #19568
You can start from modeling_swinv2.py, copy it over and tweak it for the new model.

[2022-10-13 21:26] JuheonChu commented on #18243
Hello @reelmath , I was trying to mimic your error with my setting as follows:

- transformers version 4.23.1
- Python version: 3.10.5
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

but I faced the same errors with you.

[2022-10-13 21:33] JuheonChu commented on #18243
![abcds](https://user-images.githubusercontent.com/35699839/195714963-171a83dd-d204-4464-b14a-b9449dbbdd58.png)

[2022-10-13 21:51] julian-tonita opened #19599 "Collator only gets keys from the dataset which are inputs to the model"
### System Info

- `transformers` version: 4.21.3
- Platform: macOS-12.1-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU?): 1.10.2 (False)
- Tensorflow version (GPU?): 2.7.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or

[2022-10-13 22:10] rhelmeczi commented on #19324
@Narsil Your suggestions are very helpful.

Adding separate documentation for each pipeline makes sense. For example, in the `TextClassificationPipeline` the keyword arguments are both keyword arguments for the tokenizer's call function, and keyword arguments for the `postprocess` function. I think even a brief statement along the lines of (but not necessarily identical to):

where the function na

[2022-10-13 22:55] LysandreJik commented on #19593
Pinging @ArthurZucker and @younesbelkada who have been working on contributing the Switch Transformer, an MoE, to `transformers`. I agree adding the 54B NLLB model would be quite cool too!

[2022-10-13 22:55] LysandreJik commented on #19592
WDYT @philschmid @sgugger ?

[2022-10-13 22:56] LysandreJik commented on #19591
cc @gante

[2022-10-13 22:57] LysandreJik commented on #19588
cc @sanchit-gandhi

[2022-10-13 23:32] woshizouguo commented on #19591
Look like they fixed in the latest version. The bug exists in Version 4.18

[2022-10-14 00:33] henryjiang18 commented on #19303
@sgugger what if the code is changed in the source after it has been copied to the target? Do you have to manually copy again the new version?

[2022-10-14 01:23] lvyiwei1 opened #19601 "Image Format (BGR/RGB) bug for lxmert example"
### System Info

Repository code (accessed 10/13/2022) in examples/research_projects/lxmert

### Who can help?

@LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Run demo.ipynb in example

[2022-10-14 02:03] koreyou opened #19602 "Documentation and implementation are inconsistent for forced_decoder_ids option in GenerationMixin.generate"
### System Info

- `transformers` version: 4.23.0
- Platform: macOS-12.6-arm64-arm-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or

[2022-10-14 03:16] keturn opened #19603 "FlaxCLIPTextModel failed to use `subfolder`"
### System Info

- transformers 4.23.1
- Ubuntu 22.04
- jax 0.3.23
- huggingface_hub 10.0.1

`!transformers-cli env`:

<details>
<summary>ModuleNotFoundError: No module named 'datasets'</summary>

[code]

</details>

### Who can help?

@patil-suraj for Flax and also CLIP

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported tas

[2022-10-14 03:17] keturn commented on #19603
note that this _does_ work with the non-Flax CLIPTextModel.

[2022-10-14 03:27] mollerup23 commented on #18936
I noticed that this issue might be stale?

[2022-10-14 03:53] mollerup23 commented on #9295
Has this model been implemented for PyTorch yet?

[2022-10-14 03:58] kangsan0420 opened #19604 "ONNX conversion from VisionEncoderDecoderModel?"
# Description

I'd like to convert a VisionEncoderDecoder model to ONNX using the feature that has been recently merged #19254
However, It reproduces errors as below.
What am I missing?

# Environment
[code]
OS: Ubuntu 20.04.4 LTS \n \l
Arch.: x86_64
python: 3.8.10 (default, Jun 22 2022, 20:18:18)
[GCC 9.4.0]
transformers: 4.23.1
torch 1.12.1+cu102

# Reproduce
## Model Loading
[code]
Output:
<div

[2022-10-14 04:05] ratishsp commented on #18190
Hi @ydshieh, it works! Thanks. ![image](https://user-images.githubusercontent.com/3006607/195759899-5ab6b8d6-7b1f-47f4-bcff-9e0f3bc2c1a3.png)

[2022-10-14 05:04] #19295 closed

[2022-10-14 05:16] SaurabhBudhwani26 commented on #19487
Hi can you assign me CANINE and CTRL?

[2022-10-14 05:18] SaurabhBudhwani26 commented on #19487
Hi @ydshieh , I want to contribute to this issue. Can you please help me to find the remaining files?

[2022-10-14 05:20] SD-13 commented on #19487
Hey @SaurabhBudhwani26 , please check [this](https://github.com/huggingface/transformers/issues/19487#issuecomment-1277518647). I think it will be helpful. Thanks,

[2022-10-14 06:10] ztjhz commented on #19487
I'll work on `configuration_visual_bert.py`

[2022-10-14 06:12] SaurabhBudhwani26 commented on #16059
Hi, I would love to work on FLAVA and LEVIT Pytorch , can you assign this to me?

[2022-10-14 06:21] AdiaWu commented on #17414
Hi, is this issue still exists guys?

[2022-10-14 06:50] philschmid commented on #19592
Hello @j2cunningham,

Thank you for all of the information and it is super cool to hear that you are using SageMaker! We have over 20 examples for how to use transformers with SageMaker for inference and training: https://github.com/huggingface/notebooks/tree/main/sagemaker

In there should be examples of how to use a CSV file directly for [batch transform](https://github.com/huggingface/notebooks

[2022-10-14 07:08] ydshieh commented on #18190
@ratishsp I am super glad it also works for you 🤗 !

I will discuss with my colleagues where to put this information in our documentation, so there will be more clear reference to this issue and workaround.

[2022-10-14 07:08] #18190 closed

[2022-10-14 07:11] NielsRogge commented on #19604
Hi,

1) did you use Transformers from the main branch?
2) you should probably do the following

[code]

[2022-10-14 07:24] Xabilahu commented on #19487
I will work on:
- `big_bird`
- `bigbird_pegasus`

[2022-10-14 07:36] Narsil commented on #19324
I'll go even further, 1 PR per change is the easiest course of action ! Makes it easier to review, and if for some reason one change is more debated is doesn't prevent the other from going in.

[2022-10-14 07:53] ztjhz commented on #19487
I will work on
- `configuration_xlm_roberta.py`
- `configuration_xlm_roberta_xl.py`

[2022-10-14 08:17] MikailINTech commented on #18940
Thanks for the suggestion, now one can see the image and the heatmap. I hope that it's what @Ngheissari was looking for

[2022-10-14 08:39] ZiyueWangUoB commented on #14222
Found a fix for this yet?

[2022-10-14 08:50] julien-c commented on #19593
also personally very interested in support for large MoEs

[2022-10-14 09:09] AShreyam commented on #19487
Can I work on this?
@ydshieh

[2022-10-14 09:15] AShreyam commented on #19487
I will work on **`flava`**

[2022-10-14 10:06] AShreyam commented on #19487
Now, I will work on `Longformer`, `Pegasus` and `VisualBERT`.

[2022-10-14 10:10] ydshieh commented on #19487
@AShreyam You didn't open a PR, and you merged your branch into your own main branch.

[2022-10-14 10:17] rchan26 commented on #16059
Hi I was going to work on MT5 for Pytorch and TF, but looking at `src/transformers/models/mt5/modeling_mt5.py` and `src/transformers/models/mt5/modelling_tf_mt5`, it looks like each of the classes in these files override other models (`T5model`, `T5ForConditionalGeneration`, `T5EncoderModel`, `TFT5Model`, `TFT5ForConditionalGeneration`, `TFT5EncoderModel`). Each of these already have type hints, s

[2022-10-14 10:22] AShreyam commented on #19487
I am really sorry for the inconvenience.

[2022-10-14 10:30] AShreyam commented on #19487
Here is the actual pull request. Thank You :)

[2022-10-14 11:22] gante commented on #19474
@tatiana-iazykova I see -- in the example you shared, `top_k` is not passed, so it inherits the [default value](https://huggingface.co/docs/transformers/v4.23.1/en/main_classes/text_generation#transformers.generation_utils.GenerationMixin.generate.top_k) (50). `top_k` sets the log probability of all but the K most likely tokens in `-inf`, which explains the numbers you see :)

As a counter example

[2022-10-14 11:23] gante commented on #19474
I'm closing the issue as this is intended behavior, but feel free to reopen with further queries :)

[2022-10-14 11:23] #19474 closed

[2022-10-14 11:49] gante commented on #19491
Interesting 🤔 BTW, the problematic import (`save_attributes_to_hdf5_group`) is only used to save shards

[2022-10-14 12:44] lappemic commented on #19487
Work on `configuration_big_bird.py`

[2022-10-14 14:15] sgugger commented on #19480
It's hard to know which part fails without the whole traceback. I suspect it's when we set the default dtype to `torch_dtype`, which only works for floating dtypes. If that's the case, there is a probably a workaround possible by only setting the default dtype when the `torch_dtype` passed is a floating type.

Also cc @younesbelkada since it's related to int8 format.

[2022-10-14 14:18] #19528 closed

[2022-10-14 14:43] sgugger commented on #19303
No, that's what the `Copied from` statements are for, they will make sure the code always stay up to date.

[2022-10-14 14:44] sgugger commented on #19599
You can just the option `remove_ununsed_keys=False` in this case.

[2022-10-14 14:57] Manas2011 commented on #19303
Hi @sgugger  I would like to work on RobertaConfig

[2022-10-14 15:01] daspartho commented on #19487
I'll take on
- LeViT
- DistilBERT
- ResNet

and open up PR :)

[2022-10-14 15:03] #18900 closed

[2022-10-14 15:10] NielsRogge commented on #19024
cc @Narsil, could you take a look here please?

[2022-10-14 15:13] sgugger commented on #17414
Let's close the issue then,

[2022-10-14 15:13] #17414 closed

[2022-10-14 15:14] sgugger commented on #19603
cc @sanchit-gandhi

[2022-10-14 15:22] sgugger commented on #19581
cc @ArthurZucker

[2022-10-14 15:24] sgugger commented on #19601
Note that we do not maintain the research project examples, so you will have better luck pinging the original author :-)

[2022-10-14 15:29] julian-tonita commented on #19599
Okay, thanks! I looked through before and didn't see anything, actually CTRL-F'd `key` but there was nothing. I believe it has actually been renamed `remove_unused_columns` which is why I didn't find it. Thanks for the help again!

[2022-10-14 15:30] LysandreJik commented on #19024
@NielsRogge, have you taken a look at the pipeline's error when adding Deformable DETR? Usually the errors are clearly shown. @Narsil isn't responsible for adding the tests for the model you've contributed to the pipeline but I'm sure he'd be happy to help if you have a specific error you can't solve, but please post the error message here to make it easier. Thanks!

[2022-10-14 15:35] NielsRogge commented on #19024
Sincere apology to not include the error. I'll add the error trace.

[2022-10-14 15:43] NielsRogge commented on #19024
So the test that fails is the following:

`tests/pipelines/test_pipelines_object_detection.py::ObjectDetectionPipelineTests::test_pt_DeformableDetrConfig_DeformableDetrForObjectDetection_notokenizer_DeformableDetrFeatureExtractor`

It errors with:
[code]

[2022-10-14 15:44] sgugger commented on #19266
Hi @joao-alves97, you should really ask those questions on the [forums](https://discuss.huggingface.co/) where the whole community will be able to help. We keep GitHub issues for bugs (with a reproducer) or feature request only :-)

[2022-10-14 15:47] joao-alves97 commented on #19266
I already did it @sgugger and no one answered me: https://discuss.huggingface.co/t/m2m100-training-does-not-improve-model-performance/23787 . And it seems to be a bug in my opinion. It is not normal that the loss continues decreasing but the performance does not improve at all.  Something must be wrong in the M2M100 implementation. I did an exhaustive hyperparameter search and it did not solve the

[2022-10-14 15:48] gante commented on #19602
Hi @koreyou 👋 The documentation is indeed incorrect -- It accepts a list of pairs integers (`List[List[int]]`) that can be convertible to a `Dict[int, int]`, containing the index and the token to be forced, correspondingly (e.g. [this list of lists](https://huggingface.co/openai/whisper-large/blob/main/config.json#L23)).

Would you like to open a PR to fix the documentation? 🤗

(cc @ArthurZucker @

[2022-10-14 16:08] #19537 closed

[2022-10-14 16:08] CaffreyR opened #19625 "How to use model.prunes when you are using transformers.T5ForConditionalGeneration"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.13.0.dev20220709 (False)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using dis

[2022-10-14 16:12] julian-tonita commented on #19599
No worries, thanks for the help.

[2022-10-14 16:12] #19599 closed

[2022-10-14 16:25] sanchit-gandhi commented on #19603
Hey @keturn! The command `transformers-cli env` is failing as you don't have `datasets` installed. You can install `datasets` through:
[code]
or from main: https://github.com/huggingface/datasets

With regards to the Flax `.from_pretrained()` method failing with `subfolder`, the PR you've mentioned implemented the `subfolder` feature for PyTorch but not Flax! Would you like to have a go at impleme

[2022-10-14 16:34] #18776 closed

[2022-10-14 16:38] sanchit-gandhi commented on #19588
Hey @aapot! Cool to see you're trying out pre-training of Wav2Vec2 in Flax on Finnish 🇫🇮

Indeed, the script is under 'research projects' as it remains unsolved. Pre-training of Wav2Vec2 models is notoriously difficult due to issues with stability, giving rise to the phenomena you've experienced such as code vector collapse and unstable contrastive loss. AFAIK there isn't a working implementation

[2022-10-14 16:39] sgugger commented on #19488
Got time today actually, this should be fixed by the PR linked above!

[2022-10-14 17:08] davidmezzetti opened #19627 "Tokenizer not loaded for image-to-text pipelines when specified"
### System Info

Transformers 4.23.1

### Who can help?

@Narsil

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Results in:

[code]

### Expected behavior

Caption to be returned.

It appea

[2022-10-14 17:22] davidmezzetti opened #19628 "No way to pass max_length/max_new_tokens to generate for image-to-text pipeline"
### System Info

Transformers 4.23.1

### Who can help?

@narsil

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

Results in

[code]

### Expected behavior

No warning or a way to disable the

[2022-10-14 17:33] patrickvonplaten commented on #19298
Also cc @LysandreJik @sgugger here

[2022-10-14 17:50] patrickvonplaten commented on #19509
Are you using half or full precision here? Also `inf` values are not necessarily the reason for a bug, it might also be that `mBart` has some default logit processor settings that 0 out values which the lead to `inf` (cc @gante)

[2022-10-14 17:57] sgugger commented on #19627
cc @Narsil

[2022-10-14 17:58] gante commented on #19591
Hi @woshizouguo 👋 Glad to hear it is fixed in the most recent versions! Feel free to reopen this issue if you believe you have further queries (related to the latest version, as we can't change the past :) )

[2022-10-14 17:59] #19591 closed

[2022-10-14 18:06] #19488 closed

[2022-10-14 18:14] gugarosa commented on #19488
Thanks so much for the prompt response @sgugger!

[2022-10-14 18:45] rwightman commented on #19305
FWIW there is an issue related to this on the timm side as well https://github.com/rwightman/pytorch-image-models/issues/1477

As per my comments, the init issue should be minor / non consequential as it would not result in a significant difference given that std == .02. I've trained from scratch with much more significantly different inits and the end results aren't too far off.

The layer norm e

[2022-10-14 18:51] Yang-YiFan opened #19630 "num_proc in dataloader affect F1 score in squad"
### System Info

transformers 4.18.0 (on CPU)
python 3.9

### Who can help?

@sgugger

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

In the example question answering script, `cd examples/pytorch/q

[2022-10-14 19:10] patrickvonplaten commented on #19581
@ArthurZucker let me know if you need help with this

[2022-10-14 19:13] patrickvonplaten commented on #19625
Gently pinging @ArthurZucker

[2022-10-14 19:14] patrickvonplaten commented on #19588
Just for reference, I never got Wav2Vec2 to work in JAX, but it should def be possible (didn't spent too much time on it)

[2022-10-14 20:02] IMvision12 opened #19631 "Add EDSR()"
### Model description

EDSR (Enhanced Deep Residual Networks for Single Image Super-Resolution) is for image super resolution)

### Open source status

- [ ] The model implementation is available
- [ ] The model weights are available

### Provide useful links for the implementation

I have implemented the paper here's the [github](https://github.com/IMvision12/Image-Super-Resolution) and also ther

[2022-10-14 22:41] Fikavec commented on #19396
Thanks @gante for the explanation and work in the greatest project! I can't figure out is this issue a feature of the huggingface generators implementation or the original fairseq translation models? Translation is very specific text generation task where precission output length is critical - if output length or other generation parameters is necessary for correct translation they can be predicte

[2022-10-15 00:39] AymenBer99 commented on #19487
I'll take on CodeGen

[2022-10-15 03:07] traveler-pinkie commented on #16292
Need some assistance please. @ydshieh, @patrickvonplaten . Thank you
https://github.com/huggingface/transformers/pull/19634

[2022-10-15 03:14] daspartho commented on #19487
I'll take on Data2Vec ones :)

[2022-10-15 08:41] regisss commented on #19510
@ftian1 [Optimum](https://github.com/huggingface/optimum) has a quantization API which is device- and backend-agnostic. It also offers other kinds of optimization for accelerating inference so I think it makes more sense to keep all this in the same place. Do not hesitate to open a PR or create an issue there with your suggestions and we will be happy to discuss it!

[2022-10-15 10:09] aapot commented on #19588
@sanchit-gandhi yep this would be interesting to get working! Yes, I also tried gradient scaling like it was implemented in the PyTorch pretrain script (basically multiply gradients with (num devices / total samples)) without luck.

I'd be interested in putting some time into fixing this so feel free to provide further pointers. Training of these ASR and NLP models for Finnish is a free time hobby

[2022-10-15 11:11] younesbelkada commented on #19480
Hey @lanking520 !
Thanks for your issue 💪
Let's try to debug this step by step. I suggest first to make your script run on the model `bigscience/bigscience-small-testing` - when running your script I got incorrect max_memory maps, so I had to overwrite the `max_memory` dict with the following `max_memory={0:"10GB", 1:"10GB"},` (I am running my tests on 2x NVIDIA T4).
After that, the loading script

[2022-10-15 11:22] AymenBer99 commented on #19487
I'll take on conditional_detr

[2022-10-15 11:31] ak04p commented on #19487
I'll take on realm

[2022-10-15 11:41] AymenBer99 commented on #19487
I'll take on convbert

[2022-10-15 13:47] daspartho commented on #19487
I'll take on CLIP =)

[2022-10-15 15:01] #18886 closed

[2022-10-15 15:27] zainali60 commented on #15823
Hi @Samreenhabib  kindly share with me model configuration on urdu images data.Thanks

[2022-10-15 15:27] AymenBer99 commented on #19487
I'll take XLNet

[2022-10-15 16:44] uglyboxer opened #19653 "TFBartForSequenceClassification"
The Tensorflow version of `BartForSequenceClassification` seems to be missing.  I've been putting a port together for another use case.  Any interest in adding it to the repo?

[2022-10-16 04:07] WeiShi-9 commented on #7638
I fixed this problem by update transfromers from 3.0.2 to 4.23.1(the latest version in 2022.10.16)

[2022-10-16 05:47] nayanukande commented on #19653
can you explain it in detail.

[2022-10-16 06:10] CaffreyR commented on #19625
Thanks @ArthurZucker

[2022-10-16 10:22] IgorPidik opened #19656 "Pooled output from DeBERTa(v2) model"
### Feature request

Add a context pooler and include the `pooler_output` in the result of the `forward` method of the `(TF)Deberta(V2)Model`.

Changes required:
* introduce `add_pooling_layer` flag in the constructor
* change return type from `BaseModelOutput` to `BaseModelOutputWithPooling`
* update heads which currently do their own context pooling

### Motivation

* Simplification of use cases

[2022-10-16 10:32] voidful commented on #18231
I see, the reason is that I use a bpe vocabulary to train the ctc model, it will not be match to KenLM, so I have to patch the vocabulary to make sure not deleting the bpe token.

[2022-10-16 10:32] #18231 closed

[2022-10-16 12:26] kangsan0420 commented on #19604
@NielsRogge ` --feature=vision2seq-lm` worked for me. Thank you!

[2022-10-16 12:26] #19604 closed

[2022-10-16 14:30] jsh710101 commented on #19045
@ydshieh Ah... I forgot to tag you.

I think I can fix this problem. If you agree that the above should be handled and you're not working on it, I'll try to fix the code and open a pull request.

[2022-10-16 14:33] jordiclive commented on #19505
@LysandreJik I can have a look at this if it isn't being looked at.

[2022-10-16 14:35] jordiclive commented on #19581
@ArthurZucker I can have a look at this if it is not being looked at.

[2022-10-16 14:53] j2cunningham commented on #19592
I totally get how to use load_dataset with csv data now. My observation is that there isn't an example that starts with just plain csv data, explains how to use load_dataset and why and then does some fine tuning.  The examples I found would all start with nicely curated huggingface datasets, do a save to disk (not explain why) and then do read from disk in the train.py.  I had to find snippets an

[2022-10-16 15:14] s-udhaya commented on #19289
@Narsil Thanks for your input. I have created a PR with the fix and added few basic tests to make sure we don't break again. Please have a look at it whenever you have time and feel free to propose changes if necessary.

[2022-10-16 16:21] ArthurZucker commented on #19045
Hey, I am currently investigating whether we should indeed change the attention or not. As a lot of models depend from it, I wanna make sure this would be backward compatible! But if you want , feel free to open a PR. 😄

[2022-10-16 16:58] PaskalSunari commented on #12941
I am facing the same problem in Kaggle too... How can I
![Capture](https://user-images.githubusercontent.com/60564521/196048189-292c7bf0-848e-4904-8fd2-65df37f8308b.JPG)
 resolve this issue ?

[2022-10-16 17:36] uglyboxer commented on #19653
I have been working on a project for zero-shot classification using `facebook/bart-large-mnli`.  After an initial prototype using the transformers pipeline I began to work with the underlying Bart model directly.  As our project is in Tensorflow, I soon noticed there was no equivalent of `class BartForSequenceClassification` on the TF side.

I have stitched it together: adding the classification h

[2022-10-16 18:17] rohit1998 opened #19660 "adding functionality to iterate pipelines over sentence pairs when using dataset"
### Feature request

to iterate on a dataset using pipelines, doc mentions this sample, [source](https://huggingface.co/docs/transformers/main/en/main_classes/pipelines#pipeline-batching)

[code]

Pipeline supports sending a sentence pair as a dict. [source](https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/text_classification.py#L112)
[code]

But there is no way to

[2022-10-16 23:28] Bearnardd commented on #19627
If that is an unexpected issue, I can debug it and try to fix.

[2022-10-17 08:02] lchwhut opened #19665 "My customized function compute_metrics doesn't work when i train the CLIP model"
### System Info

**environment**
transformers==4.17.0

**hopes**
I would like to know how to output evaluation metrics when i train the CLIP? I want to get `eval_loss` the way I get `train_loss`.
Could anyone help me?

**details**
I have trained the CLIP demo(with the original training script `run_clip.py`： https://github.com/huggingface/transformers/tree/main/examples/pytorch/contrastive-image-te

[2022-10-17 08:14] lchwhut commented on #19665
@LysandreJik
@ydshieh
Can you take a moment to help out? Thx a lot！

[2022-10-17 08:31] ydshieh commented on #19665
Hi @lchwhut . Thank you for reporting. I will take a look

[2022-10-17 09:11] gante commented on #19396
It is not -- generation ends when the model predicts a special token ([`eos_token_id`](https://huggingface.co/facebook/nllb-200-distilled-600M/blob/main/config.json#L20)) OR when the generation length reaches `max_length`. This is why you should add a large `max_length`, so the translation is not constrained by it :)

As for your other question, as you wrote, setting the parameters depends on the

[2022-10-17 09:22] ArthurZucker commented on #19581
Hey! 🙌 it's on my to do list, but can't look at it right now so feel free to do so 😀🤗

[2022-10-17 09:45] ZiyueWangUoB opened #19666 "How to implement beam search on logits output from BART model?"
Hi,

I've converted my BART-LARGE-CNN model to ONNX and now am trying to perform beam search then decoding to generate a summary. The output from logits layer is in the shape of [1,804,50265] which I'm assuming is [batch size, time step, vocab length]. I then perform softmax on each time step and log the result.

If my understanding is correct, I can perform greedy search easily with this (at each

[2022-10-17 09:49] Narsil commented on #10016
@ajsanjoaquin

Well it depends, not necessarily. Another very common use case is to feed it to some feature database for querying later.
Those database engines are not necessarily expecting the same kind of tensors that you are sending.

But I kind of agree that it should be at least a `numpy.array` because usually conversions between numpy and PT or TF is basically free, meaning it would be much

[2022-10-17 09:58] gante commented on #19653
Hey @uglyboxer 👋  It is indeed missing. If you have a working implementation, we'd be interested in adding it to our library!

[2022-10-17 09:58] Narsil commented on #19628
The warning is there, and can be safely ignored in both situations IMO.

The generation should stop when the model says it's OK, not when you decide it's too big.
Having `max_new_tokens` in place, would definitely help prevent computing indefinitely if the actual generation never hits EOS so the generation never stopped though.

This is what the warnings is trying to warn you about.

@gante @patri

[2022-10-17 10:02] gante commented on #19666
Gently pinging @lewtun, and I'm unknowledgeable about the intersection between ONNX and text generation :)

@ZiyueWangUoB yeah, you can implement the basic version of greedy search as you described. Beam search is more complex, a good reference is the following [blog post](https://huggingface.co/blog/how-to-generate). But I suspect we already have a solution for ONNX models!

[2022-10-17 11:03] ZiyueWangUoB commented on #19666
@gante Yes I've read that article and understand the theory behind beam search. However I feel like I'm missing something with the onnx output, as the logits alone shouldn't be able to cover the beam search algorithm.

[2022-10-17 11:24] jamie0725 commented on #18431
@Rocketknight1 Hi, it would be great to also add support for models including RoBerta etc., as they may use different methods for tokenization (e.g. BPE, Byte-level BPE, SentencePiece). TBH, I think that the tokenizers should be independent from models, because tokenizer - model is not a 1 : 1 mapping.

[2022-10-17 11:27] ArthurZucker commented on #19157
Will open a PR, it seems that 3 modeling files are concerned : `m_bart` `tf_m_bart` and `plbart`. Thanks for finding this 🤗

[2022-10-17 11:28] NielsRogge commented on #18528
Closing as it has been added in #19450

[2022-10-17 11:28] #18528 closed

[2022-10-17 11:28] NielsRogge commented on #18831
Closing as support has been added, see e.g. https://huggingface.co/laion/CLIP-ViT-B-32-laion2B-s34B-b79K

[2022-10-17 11:28] #18831 closed

[2022-10-17 11:28] gante commented on #19666
@ZiyueWangUoB There are several ways to kickstart beam search, but in all of them you have to do shenanigans at the start to obtain `N` (number of beams) sets of logits from a single input row.
Option 1 -  The first iteration is a normal greedy search where you keep the top_k (k=`N`) tokens
Option 2 - You replicate your input `N` times, but set a large score penalty in all but the first row. You c

[2022-10-17 11:29] NielsRogge commented on #18163
Closing this issue as it seems resolved.

[2022-10-17 11:29] #18163 closed

[2022-10-17 11:43] ZiyueWangUoB commented on #19666
@gante how would I go about getting N sets of logits? The model only outputs a [1,804,50265] set, which I’m assuming is 1 set of logits.

[2022-10-17 11:44] NielsRogge commented on #4658
Closing this as GPT-3 won't be open-sourced unfortunately.

Have a look at an open-source effort (a 176-billion parameter multilingual language model called BLOOM) to replicate it here:
* blog post: https://bigscience.huggingface.co/blog/bloom
* model: https://huggingface.co/bigscience/bloom.

Besides that, [EleutherAI](https://huggingface.co/EleutherAI) and other groups (such as [this one](https:

[2022-10-17 11:44] #4658 closed

[2022-10-17 12:11] davidmezzetti commented on #19627
Thanks @narsil. In reviewing the way I'm calling pipelines, there is no reason to pass both a `model` and `tokenizer` as they are the same.

It appears that this line: https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/__init__.py#L737 could be updated to also check if the tokenizer is a (str, tuple) for multi models. But it seems like a highly niche/possibly unnecess

[2022-10-17 12:57] sgugger commented on #19630
Hi there! Could you make your model public? I cannot reproduce this on [distilbert-base-cased-distilled-squad](https://huggingface.co/distilbert-base-cased-distilled-squad) (I get the same scores for the two commands).

[2022-10-17 13:06] #19289 closed

[2022-10-17 13:10] GaetanBaert opened #19672 "'WhisperProcessor' object has no attribute 'as_target_processor'"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.15.0-48-generic-x86_64-with-glibc2.17
- Python version: 3.8.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Us

[2022-10-17 13:13] ArthurZucker commented on #19111
on it!

[2022-10-17 13:15] lewtun commented on #19666
Thanks for the ping @gante !

@ZiyueWangUoB we actually have a beam search example with BART + TorchScript from the ONNX team that you can inspect here: https://github.com/huggingface/transformers/blob/main/examples/research_projects/onnx/summarization/bart_onnx/generation_onnx.py

tl;dr implementing beam search from scratch is quite involved and essentially requires reimplementing large chunks of

[2022-10-17 13:16] NielsRogge commented on #19672
Hi,

We'll update that code snippet as we've recently deprecated the use of `as_target_processor`, and new processors like `WhisperProcessor` don't implement it anymore. See #18325 for details.

You can replace

[code]
by
[code]

[2022-10-17 13:17] NielsRogge commented on #19672
Also cc'ing @ArthurZucker for updating the docs

[2022-10-17 13:17] GaetanBaert commented on #19672
Hello,
Thank you for clarification !

[2022-10-17 13:29] GaetanBaert commented on #19672
Another thing, it seems that the `pad` method does not exist for WhisperProcessor ?

[2022-10-17 13:38] NielsRogge commented on #18940
Awesome! Closing this issue.

I tweeted about it here :) https://twitter.com/NielsRogge/status/1580246704011370496

[2022-10-17 13:38] #18940 closed

[2022-10-17 14:07] ZiyueWangUoB commented on #19666
@lewtun Thanks for the input! I've been looking at that example, but the problem with directly using that script is the result means the length of the encoded text is fixed. I'll look into the torchscript beam search further, but as of right now that can't be directly used.

As for optimum, I will try that. I'm currently trying to convert the model into Tensorrt at the end, but if that's not reaso

[2022-10-17 14:07] #19666 closed

[2022-10-17 14:12] davidmezzetti commented on #19627
Sounds good, I'll go ahead and close this issue.

[2022-10-17 14:12] #19627 closed

[2022-10-17 14:19] ArthurZucker commented on #19672
Nice catch! Will update the doc soon

[2022-10-17 14:24] sgugger commented on #19048
I think the issue has been solved on the `huggingface_hub` side, as long as you use the latest version. Please let us know otherwise!

[2022-10-17 14:24] #19048 closed

[2022-10-17 14:32] sgugger commented on #19656
Thanks for your suggestion! This will sadly be a breaking change as it will change the way the weights are named, and thus break compatibility with all DeBERTa models on the hub. So even if your suggestion makes a ton of sense, I don't think we will be able to implement it.

[2022-10-17 14:39] sgugger commented on #19660
cc @Narsil

[2022-10-17 14:57] IgorPidik commented on #19656
@sgugger thank you for your reply! I see why the implementation of the heads should not be altered, nevertheless, wouldn't it still make sense to at least add the pooler to the base model (the deberta model without any head)? Motivation being the first and the last points from the list above.

[2022-10-17 15:03] #18954 closed

[2022-10-17 15:03] #18950 closed

[2022-10-17 15:29] Yang-YiFan commented on #19630
Hi, I believe the one I'm using `csarron/bert-base-uncased-squad-v1` is public. I also tried `bert-large-uncased-whole-word-masking-finetuned-squad` and it's showing the same F1 score mismatch. Thanks!

[2022-10-17 16:00] #19602 closed

[2022-10-17 16:01] sgugger commented on #19630
Ah, just caught the problem in the logs. `preprocessing_num_workers` is the number of workers sent to `Dataset.map`. It should be left as 1 when using a fast tokenizer. When you change it, you change the way the dataset is preprocessed.

To change the number of workers in the dataloader, you should use `dataloader_num_workers`.

[2022-10-17 16:13] CaffreyR commented on #19625
Gently pinging @LysandreJik

[2022-10-17 17:13] Yang-YiFan commented on #19630
Thanks! The default value is still set to 4 [here](https://github.com/huggingface/transformers/blob/5fda1fbd4625e93d023fe02153ec4a05b26b16cc/examples/pytorch/question-answering/run_qa_no_trainer.py#L111), which should be 1 according to your finding.

[2022-10-17 17:14] juancopi81 commented on #19487
I can take the wav2vec2 ones if that is ok, is someone else working on those?

[2022-10-17 17:27] sgugger commented on #19630
Indeed. Do you want to make a PR to fix this?

[2022-10-17 17:39] AymenBer99 commented on #19487
I'll take XLM

[2022-10-17 17:40] Yang-YiFan commented on #19630
Done.

[2022-10-17 17:48] patrickvonplaten opened #19686 "Make use of KenLM's pypi version"
### Feature request

Use PyPi version of KenLM instead of installing archieve file from Github.

### Motivation

Now that kenlm is on pypi: https://github.com/kpu/kenlm/issues/363#issuecomment-1280050903 let's use it :-)

### Your contribution

@sanchit-gandhi would you give this a try as an exercise to see how we deal with soft dependencies in Transformers maybe? :-)

I think we can now update th

[2022-10-17 17:48] patrickvonplaten commented on #19686
Also cc @ydshieh and @sgugger here

[2022-10-17 17:52] #18609 closed

[2022-10-17 18:02] patrickvonplaten commented on #19628
I think the whisper models should define a max_length or `max_new_tokens` in the config actually (ideally in the "future" generation config).

Regarding whisper, the model cannot process more than 30seconds of speech which is means that max_length/max_new_tokens almost never goes over 256, so a good/reasonable default for whisper would be 256. Until we don't have better generation configs I think

[2022-10-17 18:16] sgugger commented on #19686
And let's not forget the [circleCI config](https://github.com/huggingface/transformers/blob/c7edde1a692012eda23bc2b837588557b97ad729/.circleci/create_circleci_config.py#L130) as well ;-)

[2022-10-17 18:17] #19630 closed

[2022-10-17 18:48] lewtun commented on #19666
Cool! We're hoping to integrate TensorRT as a backend in `optimum` when we get some bandwidth - in the meantime, you're more than welcome to open an issue/PR if you feel so inclined :)

[2022-10-17 19:00] nyadla-sys opened #19691 "Not able to run evaluate on whisper.tflite that got generated from TFWhisper model"
### Model description

@gante
Generated HF TFwhisper model into whisper.tfllite model. However, I'm not sure how to evaluate the created whisper tflite model.

https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/tflite_from_huggingface_whisper.ipynb

I would appreciate your assistance in evaluating whisper.tflite. The notebook mentioned above produces a whisper.tflite f

[2022-10-17 19:25] AymenBer99 commented on #19487
I'll take cvt

[2022-10-17 20:09] jammie19 commented on #15177
Sorry for the radio silence @Narsil - I actually implemented this back in March, but due to issues with my employer's open source policy, couldn't publish the changes. These issues have been remedied, and I've got a branch with this token classification pipeline and associated tests.

I've implemented the pipeline, but had to migrate the tests from pytest to unittest tests so these tests don't all

[2022-10-17 21:40] habom2310 commented on #749
same for distilbert. Using base_model.distilbert will solve the problem

[2022-10-17 21:42] uglyboxer commented on #19653
Cool.  I'll put something together this week.

[2022-10-17 23:31] amrsharaf opened #19699 "`model.generate()` enforces `max_length` to longest sequence in the batch, leading to inconsistent many batch generation for OPT models"
### System Info

- `transformers` version: 4.22.0.dev0
- Platform: Linux-5.4.0-1089-azure-x86_64-with-glibc2.27
- Python version: 3.10.4
- Huggingface_hub version: 0.9.0
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill

[2022-10-18 01:21] conceptofmind opened #19701 "AttributeError: 'DistributedDataParallel' object has no attribute 'push_to_hub'"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-4.15.0-193-generic-x86_64-with-glibc2.27
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- U

[2022-10-18 01:28] TrentBrick opened #19702 "Running tokenizer on dataset -- Hangs"
### System Info

transformers              4.20.0.dev0               dev_0
python                    3.7.11               h12debd9_0
linux os.

### Who can help?

@SaulLu when I use the wikitext-103 dataset the tokenizer hangs with `Running tokenizer on dataset` and shows no progress. This was not always an issue but as of today has become one. It will either hang at the end of tokenizing or at th

[2022-10-18 01:38] TrentBrick commented on #19702
Setting `--preprocessing_num_workers 1` removes this issue...

[2022-10-18 01:43] conceptofmind commented on #19701
Does the model need to be unwrapped before pushing to hub?

[code]

[2022-10-18 05:12] ftian1 commented on #19510
@regisss @sgugger  thanks for the comments. why we think it's valuable to contribute to transformers is because it would bring better user experience with fewer line code changes comparing with Optimum.

we can have a PR at first and then do further discussion with your guidance. thanks

[2022-10-18 07:34] shunzh commented on #14440
What exactly is beam search with multinomial sampling? Googling returns no relevant results (except on Huggingface).

[2022-10-18 07:39] NielsRogge commented on #19701
Yes :)

[2022-10-18 08:01] Narsil commented on #15177
Sure, please publish !
Better to start the discussion early.

I don't think we hardly rely on `pytest` but I could be wrong.

[2022-10-18 08:08] ArthurZucker commented on #19625
Hey! I'll have a look sorry for the long wait 😃

[2022-10-18 08:08] An-Jhon commented on #11262
Maybe your numpy version is too low, try again after updating

[2022-10-18 08:16] Narsil commented on #19660
Hi @rohit1998 ,

Sounds like a good addition.
In general I think it's good if users understand how to create their own, but `KeyPairDataset` should fit quite nicely !

[2022-10-18 08:21] #19672 closed

[2022-10-18 08:29] gante commented on #19691
Hi @nyadla-sys 👋

That is a great question! The problem here is that generation is much more than a forward pass of the model. Fortunately, our generation code is compatible with TF Graph mode, which means you can compile the entire generation procedure into a graph, which you can directly compare to our examples.

Here is a continuation of your notebook, which creates a TF Lite model for generati

[2022-10-18 08:47] zihaomu commented on #2831
Mac M1 Monterry.
`pip install transformers==**` does not work for my site.
`conda install transformers` works well.

[2022-10-18 09:18] deephudka005 commented on #1083
Can you please give any reference to the code or explain how can we generate tokens for a given using the merges.txt file?

[2022-10-18 09:18] XingLuxi commented on #1083
您发给我的信件已经收到，我会尽快查收并回复您。Your e-mail has been received, I will reply as soon as possible.邢璐茜

[2022-10-18 09:25] FrancescoTroiano commented on #5436
I'm trying fine-tuning Reformer on Squad2 dataset from pre-trained model "google/crime-and-punishment".
Using tok.cls_token = tok.pad_token, I have the following error:
![image](https://user-images.githubusercontent.com/75449189/196391419-7387c255-cc07-4f81-975d-da544fef95c4.png)
So I add tok.pad_token = tok.eos_token, but I have a new error: 2 is not in list.
can someone help me? Thank you

[2022-10-18 09:26] FrancescoTroiano opened #19708 "trying fine-tuning Reformer on Squad2 dataset from pre-trained model "google/crime-and-punishment"."
I'm trying fine-tuning Reformer on Squad2 dataset from pre-trained model "google/crime-and-punishment".
Using tok.cls_token = tok.pad_token, I have the following error:
![image](https://user-images.githubusercontent.com/75449189/196391419-7387c255-cc07-4f81-975d-da544fef95c4.png)
So I add tok.pad_token = tok.eos_token, but I have a new error: 2 is not in list.
can someone help me? Thank you

_Orig

[2022-10-18 09:42] soma2000-lang commented on #16292
@ydshieh I am working on clip model

[2022-10-18 10:42] jegork opened #19711 "RuntimeError when using Label smoother"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.4.0-124-generic-x86_64-with-glibc2.31
- Python version: 3.9.5
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No

[2022-10-18 10:59] alaradirik commented on #19467
Hey @ekazakos, sorry for the delay! The issue will be fixed with this [PR](https://github.com/huggingface/transformers/pull/19712) but it doesn't affect the performance as double normalization yields the same results.

[2022-10-18 11:06] sanchit-gandhi commented on #19108
Hey @ZurabDz! Sure, let's close it for now and re-open if you continue to encounter this problem. Feel free to open a new issue for the different problem you are facing and tag me!

[2022-10-18 11:06] #19108 closed

[2022-10-18 12:05] IvanSedykh opened #19714 "Seq2SeqTrainer predict with generate fails to run without labels"
### System Info

- `transformers` version: 4.21.2
- Platform: macOS-12.6-arm64-arm-64bit
- Python version: 3.9.12
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or p

[2022-10-18 12:16] #19467 closed

[2022-10-18 12:21] mukesh663 commented on #19487
I'll take `pegasus` and `pegasus_x`

[2022-10-18 12:21] mukesh663 commented on #19487
I'll take `pegasus` and `pegasus_x`

[2022-10-18 12:37] soma2000-lang commented on #19487
@ydshieh Added config files for convnext

[2022-10-18 12:38] regisss commented on #19510
@ftian1 While I agree with you that it would provide a better UX for some users, there are a couple of points that make me think about it twice:

- I do not think that such a quantization API should be tailored for accuracy-aware quantization only or for a specific backend. Users should be able to use ONNX Runtime, Torch FX, Intel Neural Compressor or any other available backend. The ways these ba

[2022-10-18 12:46] sgugger commented on #15089
@gitjoop Feel free to open a PR, it would indeed be awesome to have all of this in the doc :-)

[2022-10-18 12:49] sgugger commented on #19711
Label smoothing is not for regression tasks, but when you have several labels.

[2022-10-18 12:56] jegork commented on #19711
@sgugger thanks for answering!
My bad, I spotted my error. I am doing not regression, but binary classification, so I had to provide `num_labels=2` instead of 1.

[2022-10-18 12:56] #19711 closed

[2022-10-18 13:13] sgugger commented on #19699
cc @gante

[2022-10-18 13:16] sgugger commented on #19708
Please follow the template to file your issue or ask your question on the [forums](https://discuss.huggingface.co/).

[2022-10-18 13:19] sgugger commented on #19702
This looks like an issue that should be reported to the [Datasets repo](https://github.com/huggingface/datasets/).

[2022-10-18 13:23] purnasai-cyient opened #19720 "Decode input ids back to string in LayoutLMV3 Processor"
Hi, I am using Layoutlmv3. I Have used LMV3 processor. At train time I have labels as well along with image,text,boxes and labels. But at Inference time, I do not have labels. So the code for inference goes like below.

[code]
Currently, I am decoding text like:
[code]
But the count of tokens/text and count of true_predictions/labels are not matching.

I am expecting the result to be:
“sun”:label,

[2022-10-18 13:42] #19714 closed

[2022-10-18 14:03] carschno opened #19726 "Parameterize hidden layers for feature-extraction pipeline"
### Feature request

In the literature, token embeddings for downstream tasks are generated from various combinations of hidden layers, e.g. by summing or concatenating the last four layers. [This image](http://jalammar.github.io/images/bert-feature-extraction-contextualized-embeddings.png) from [this blog entry](http://jalammar.github.io/illustrated-bert/) gives a few examples. Currently, the `fe

[2022-10-18 14:04] gante commented on #19699
Hi @amrsharaf 👋 `max_length` is relative to the length of the padded sequence -- actually, all sequences have the same length during generate, no exceptions.

Nevertheless, there is a way to control the length of the generation that is independent of the input length: with `max_new_tokens`. Check the example below

[code]

It is not possible to control BATCHED generation such that all sequences ha

[2022-10-18 14:04] #19699 closed

[2022-10-18 14:08] sgugger commented on #19726
In general pipelines are kept simple for demo purposes. You can easily instantiate the processing class and model yourself for more complex behavior.

[2022-10-18 14:11] carschno commented on #19726
Ok, I suppose my point of view would be that you might want to be able to demonstrate the same feature with summing several layers. But I understand it is a design decision that is a bit subjective.

[2022-10-18 14:11] #19726 closed

[2022-10-18 14:32] IMvision12 commented on #19631
@venkat-natchi

[2022-10-18 14:44] sammysbiti commented on #19111
Hi @ArthurZucker , do you have any updates on this by chance? I'm getting the same issue, but the results I get when benchmarking do not suggest random initialization of the weights.

[2022-10-18 15:22] aapot commented on #19588
Thanks for those pointers @sanchit-gandhi, sounds reasonable! I'll start digging into this soon, will keep you updated here.

[2022-10-18 15:43] nyadla-sys commented on #19691
@gante is it possible to add representative_dataset and generate tflite(int8) model.
converter.representative_dataset = representative_dataset
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/tinynn_pytorch_to_tflite_int8.ipynb

[2022-10-18 15:47] nyadla-sys commented on #19691
@gante Great work and appreciate for your efforts to make it open

[2022-10-18 15:58] gante commented on #19691
@nyadla-sys I don't know how to answer your latest question.

Gently pinging @hollance, who might have better pointers for Whisper + TF Lite + int8

[2022-10-18 16:32] astariul opened #19730 "Efficient Transformer for Mobile Applications"
### Model description

Abstract :

translation, question answering); however, it requires enormous amount of computations to achieve high performance, which makes it not suitable for real-world
mobile applications since mobile phones are tightly constrained by the hardware
resources and battery. In this paper, we investigate the mobile setting (under 500M
Mult-Adds) for NLP tasks to facilitate the

[2022-10-18 16:44] TrentBrick commented on #19702
Ok thanks I've just cross linked it.

[2022-10-18 17:02] JohnnyRacer opened #19731 "Optimizer being initialized twice when using Nvidia APEX mixed precision backend"
### System Info

- `transformers` version: 4.21.1
- Platform: Linux-5.4.0-128-generic-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Tru

[2022-10-18 17:38] JohnnyRacer commented on #19731
Ah I see, so I should consider Apex support to be deprecated in `transformers` and move all future code to use native PyTorch MP backend?

[2022-10-18 17:38] LysandreJik commented on #19730
Maybe of interest to @hollance :)

[2022-10-18 17:44] sgugger commented on #19731
Yes, you'll get better support this way!

[2022-10-18 17:50] amyeroberts opened #19733 "`test_run_squad_no_trainer` is flaky"
### System Info

Environment: Circle CI image running `examples_torch`

### Who can help?

@muellerzr

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Due to the nature of the issue, unfortunately it

[2022-10-18 17:57] ydshieh commented on #19487
Oh it will close this ...?

[2022-10-18 18:06] purnasai-cyient commented on #19720
HI @LysandreJik, I have raised this in the forum as well. I added it here for more support. Thanks

[2022-10-18 18:23] JohnnyRacer commented on #19731
That's great, thanks a lot for clearing things up!

[2022-10-18 18:23] #19731 closed

[2022-10-18 18:49] rohit1998 commented on #19660
Sure, I will try to add it and tag you to pr soon

[2022-10-18 20:20] LysandreJik commented on #19505
Please go ahead, thank you @jordiclive!

[2022-10-18 22:19] FurkanGozukara commented on #2831
I have same problem how to solve?

I have installed rust from here and now have different error

https://github.com/xashru/punctuation-restoration/blob/master/requirements.txt

https://www.rust-lang.org/tools/install

[code]

[2022-10-18 22:44] soma2000-lang commented on #16059
@Rocketknight1  I will work on ViTModel

[2022-10-18 23:32] FurkanGozukara opened #19737 "How can I install transformers v2.11.0?"
### System Info

Python 3.5.4 (v3.5.4:3f56838, Aug  8 2017, 02:17:05) [MSC v.1900 64 bit (AMD64)] on win32

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hello. I

[2022-10-18 23:41] nyadla-sys commented on #19691
@gante is it possible to avoid FlexConv2D to get as part of model and instead just add Conv2d()
 TFLite interpreter needs to link Flex delegate in order to run the model since it contains the following Select TFop(s):
Flex ops: FlexConv2D
Details:
	tf.Conv2D

[2022-10-19 00:11] dmiller1-godaddy opened #19738 "Newly created cache directories does not include the version.txt file"
### System Info

- `transformers` version: 4.22.2
- Platform: macOS-11.7-x86_64-i386-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed o

[2022-10-19 02:57] shunzh commented on #14440
Ok. I think beam sample is almost the same as beam search, except that in each step, instead of picking the `num_beams` most-likely sequences, it chooses these sequences by sampling.

[2022-10-19 03:38] ahxchzt opened #19740 "How to make gpt2 accurately tokenize lowercase entities?"
Many datasets pre-lowercase their text content, so some entities are lowercase in these datesets, like:

**"paris"**

For GPT2Tokenizer, it can tokenize "Paris" to "Paris" but it tokenizes **"paris" to "par" and "is".**
How to fix it? Is there a uncased GPT2?
Thanks!

[2022-10-19 04:07] ndrohith09 commented on #19487
I would take `gpt_neo` and `gpt_neox`

[2022-10-19 04:09] davialvb commented on #16824
Hey, I'll translate:
- custom_models.mdx
- run_scripts.mdx
- converting_tensorflow_models.mdx
- serialization.mdx

[2022-10-19 05:46] drAbreu commented on #15177
Ok, I had been working on this the last , month too and was now on the tf tests. Should I then stop the work?

[2022-10-19 07:21] NielsRogge commented on #19720
Hi, I've answered this question on the [forum](https://discuss.huggingface.co/t/how-to-decode-inputids-back-to-string-in-layoutlmv3/24609/2), let's continue the discussion there.

[2022-10-19 07:21] #19720 closed

[2022-10-19 07:58] ayaka14732 opened #19742 "Tokenizers should not should not append `[EOS]` for truncated sentences"
### System Info

- `transformers` version: 4.21.3
- Platform: Linux-5.8.0-1035-gcp-x86_64-with-glibc2.31
- Python version: 3.10.7
- Huggingface_hub version: 0.9.1
- PyTorch version (GPU?): 1.12.1+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.6.1 (cpu)
- Jax version: 0.3.23
- JaxLib version: 0.3.22
- Using GPU in script?: No
- Using distributed or

[2022-10-19 09:17] #19182 closed

[2022-10-19 09:18] osanseviero commented on #16824
Awesome! Looking forward the PR! :fire:

[2022-10-19 09:59] wildgeece96 opened #19743 "Couldn't process request when using "automatic-speech-recognition" pipeline on SageMaker"
### System Info

transformers
- 4.17.1

torch
- 1.10.1

sagemaker
- 2.112.2

### Who can help?

@Narsil
@patrickvonplaten
@anton-l

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Run below code on S

[2022-10-19 10:04] fssh72 opened #19744 "Documentation related to token_type_ids for RoBERTa needs to be updated"
### System Info

This is about online documentation at https://huggingface.co/docs/transformers/v4.23.1/en/model_doc/roberta#transformers.RobertaModel.forward.token_type_ids

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My ow

[2022-10-19 10:27] Narsil commented on #19743
Hi @wildgeece96 .

The `np.array` is supposed to be the raw audio waveform in the correct sampling rate, right  ?

If so, then it seems the bug comes from somewhere around sagemaker where the numpy array gets converted to a list.

I am tentatively against adding support for lists instead of numpy arrays:

- We already have issues when dealing with lists or list of lists or lists of lists of lists

[2022-10-19 10:45] bk1n opened #19745 "ClassificationModel .train_model strange behaviour / errors"
### System Info

- `transformers` version: 4.23.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed

[2022-10-19 10:47] hasakikiki commented on #15799
Hi, @Narsil ,

I have the same problem and I agree with your solution. But I had some trouble implementing it. I used spawn of torch, tried to implement shared variables with Manager, nothing worked. Do you have any good ways to implement it?

[2022-10-19 10:59] wildgeece96 commented on #19743
I confirmed inference code like below works

[code]

[2022-10-19 11:12] wildgeece96 commented on #19743
Thanks @Narsil .

Actually, in my use case, I deployed wav2vec model on SageMaker, and when I send request via SageMaker SDK seriealizer of SageMaker (like JSONSerializer, NumPySerializer) serialize the input to throw request to the endpoint. I should use JSONSerialization to use SageMaker HuggingFace Inference Toolkit and JSONSeiralizer cannot pass ndarray as it is but convert to list.

After rea

[2022-10-19 12:09] philschmid commented on #19743
Hello @wildgeece96 the `automatic-speech-recognition` pipeline is supported. instead of sending numpy data you need to send the audio. Check out this example: https://github.com/huggingface/notebooks/blob/main/sagemaker/20_automatic_speech_recognition_inference/sagemaker-notebook.ipynb

[2022-10-19 12:22] piEsposito opened #19747 "(TF) model.generate with beam search to an exportable tf.function"
### Feature request

It would be good if we could export the `tf.function` `model.generate` with beam search, so it is servable with TF Serving.

### Motivation

When we try to export a `model.generate` with `do_sample=True` to a `tf.function` and save it, we get an error due to Transformers and Tensorflow Internals. It would be good if, such as what is done in #18372, we could do for beam search:

[2022-10-19 12:52] Moshekwa commented on #17611
I'm also getting the same issue now :(

[2022-10-19 12:53] Moshekwa commented on #17611
# Define Sentence Transformer
embedder = SentenceTransformer('paraphrase-MiniLM-L6-v2')

SSLError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /api/models/sentence-transformers/paraphrase-MiniLM-L6-v2 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ss

[2022-10-19 13:20] sgugger commented on #19742
I would say that this is a matter of opinion. In any case, we won't be able to change this behavior without causing a breaking change of something other users may be relying on, so we probably won't fix this inside the lib.

[2022-10-19 13:32] sgugger commented on #19744
The argument is accepted and treated by the model, though.

[2022-10-19 13:35] sgugger commented on #19740
Please use the [forums](https://discuss.huggingface.co/) for such questions, as we keep the issues for bugs and feature requests only.

[2022-10-19 13:38] sgugger commented on #19745
This looks like this is an issue for the [SentenceTransformers](https://github.com/UKPLab/sentence-transformers) repo.

[2022-10-19 13:39] sgugger commented on #19747
cc @gante

[2022-10-19 13:48] ydshieh commented on #19665
Hi @lchwhut Before I look deeper, could you double check if your validation dataset has labels in it? If it is a public dataset, could you let us know which one you use? Thank you!

[2022-10-19 14:02] fssh72 commented on #19744
Hi @sgugger, although the argument is accepted, when providing a `token_type_ids` with 0 and 1 values, as described in the documentation, an index out of range exception occurs. This is because by default RoBERTa does not have two token_type_id embeddings. I checked, it only has one which contains all zeros (since by default it doesn't use token_type_ids).

In my opinion, the documentation should

[2022-10-19 14:08] ydshieh commented on #19665
Hi @lchwhut

Could you check what you get as `all_preds` here
https://github.com/huggingface/transformers/blob/b17a5e00749790895314ea33a4f156c918718dfe/src/transformers/trainer.py#L3071

Does it contain the loss value?

[2022-10-19 14:12] fssh72 commented on #19744
Yes, sure. Not able to give a timeline though.

[2022-10-19 14:20] ydshieh commented on #19665
Well, a second look, I think you can comment out this block

[code]
and put `metrics = {}` before the line `metrics = denumpify_detensorize(metrics)`.

Please let me know if this helps, thank you!

[2022-10-19 14:22] sgugger commented on #19738
Thanks for reporting! I can reproduce and the PR above fixes the problem normally.

[2022-10-19 14:55] #19738 closed

[2022-10-19 15:04] #18978 closed

[2022-10-19 15:04] #18970 closed

[2022-10-19 15:04] #18968 closed

[2022-10-19 15:05] CarloLepelaars commented on #19490
Would also be interested to hear more about how chunking will be implemented for the Whisper ASR pipeline in HF Transformers! 😁

Related to this: is there a way to avoid the transcription being cut off too early using a HF ASR pipeline? It seems the ASR pipeline will only transcribe the 1st section if we have a longer audio file with silences in between.

[2022-10-19 15:16] #19745 closed

[2022-10-19 15:24] coreyfournier commented on #7389
It shouldn't be necessary as it performs byte pair encoding (BPE) when a word isn't in it's vocabulary. For example "Gallbladder palpaple". Palpaple isn't in my vocabulary so it breaks the word into many partial words that are in the vocabulary as: ['p', '##al', '##pa', '##ple']. This would match variations that would otherwise need to be stemmed or converted to it's lemma.

This will however be a

[2022-10-19 19:03] daspartho commented on #19487
I'll take on
- SpeechToTextTransformer
- SpeechToTextTransformer2
- SqueezeBERT

[2022-10-19 20:48] arvindmuralie77 commented on #17309
Hi @NielsRogge,
Can I have a shot at implementing this model?

[2022-10-19 21:57] hg0428 commented on #9636
I have this same problem.
[code]
(only partial code)

Please help, this is the error
[code]

[2022-10-19 23:04] elmadany opened #19761 "bert2gtp_neo"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <

[2022-10-19 23:31] alexvaca0 commented on #19322
Okay! :) Thanks!

[2022-10-20 00:47] thefirebanks commented on #16383
@YuanGongND did you manage to get this going or do you need some help? I'd be interested in contributing if possible! 😄

[2022-10-20 02:02] raghavanone commented on #19300
@sgugger  I think we can close this ticket

[2022-10-20 02:25] ndrohith09 commented on #19487
I would like to work on `openai` and `opt`

[2022-10-20 02:27] MichaleDong opened #19762 "Why this dummpy input is not consistent with pytorch"
https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/models/layoutlmv3/modeling_tf_layoutlmv3.py#L988

The dummpy input of pytorch layoutlmv3 is like this, from transformers.utils:
https://github.com/huggingface/transformers/blob/v4.23.1/src/transformers/modeling_utils.py#L954

from transformers.utils import DUMMY_INPUTS

[[7, 6, 0, 0, 1], [1,

[2022-10-20 03:42] katiele47 commented on #17540
@ydshieh Sorry for the delay in response! This is what I got for environment (may ignore the last error):
[code]
GPU: Intel Iris Plus Graphics 1536 MB
CPU: 2 GHz Quad-Core Intel Core i5
Platform: Mac version 11.6

Let me know if you need any further information! Thanks.

[2022-10-20 04:02] YuanGongND commented on #16383
Hi @thefirebanks, I apologize that I won't have time to do it in near future. It would be great if you could contribute! FYI, we have a repo at [here](https://github.com/YuanGongND/ast) and a colab demo at [here](https://colab.research.google.com/github/YuanGongND/ast/blob/master/colab/AST_Inference_Demo.ipynb). Please let me know if you have any question!

Best,
Yuan

[2022-10-20 04:05] hasakikiki commented on #15799
@Narsil

I'm sorry my description is too vague.

Yes, I have a machine with 8 GPUs. I want to use them in parallel during inference. But in the `pipeline` API documentation, it seems that only one GPU can be used, which is the `device=n` you provided.

[2022-10-20 04:45] lchwhut commented on #19665
Commenting out this block and putting `metrics = {}` before the line `metrics = denumpify_detensorize(metrics)` doesn't work. It will report error like this(which will reproduce if i specify `--do_eval`):
![image](https://user-images.githubusercontent.com/27990344/196848990-107c81db-525a-4f6e-985e-f065907dbab1.png)

Actually, this way is equivalent to executing the `else` module because `all_label

[2022-10-20 06:06] Zcchill opened #19764 "Using function "generate()" to generate text based on casual language model like GPT2 will repeat the input in the begining."
### System Info

This issue has nothing to do with the relevant system information.

### Who can help?

@patrickvonplaten, @Narsil, @gante

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Just 2 kind

[2022-10-20 06:18] NielsRogge commented on #16383
Hi,

I actually have a working implementation which I need to finish. Will open a PR soon, hopefully

[2022-10-20 06:18] NielsRogge commented on #17309
Yes, sure! Do you need some help?

[2022-10-20 06:21] nchen909 commented on #8551
update transformers from 3.2.0 to 4.1.1 helps me solve the problem when call AutoTokenizer.from_pretrained get 'TypeError: special token bos_token has to be either str or AddedToken but got: <class 'dict'>'.

[2022-10-20 06:22] YuanGongND commented on #16383
Wow @NielsRogge, that's great!

[2022-10-20 06:38] DavidNemeskey commented on #19300
Thank you guys for taking care of this!

[2022-10-20 06:40] gmftbyGMFTBY commented on #19764
The generations of the causal language model contain the given prefix.

[2022-10-20 07:01] EdAbati commented on #16059
Hi @Rocketknight1 , I will take `TFViTPreTrainedModel` :)

[2022-10-20 07:18] BheemraoRodda commented on #19764
CODE IT

[2022-10-20 07:28] Zcchill commented on #19764
so sometimes if the prefix is not good enough or the model is not good enough,  it possibly can't repeat the prefix  exactly the same as the given one?  just like the beam search example mentioned above

[2022-10-20 07:32] Zcchill commented on #19764
I've been operating the output before then, I just remove the content of input in output. Actually, I found that the api of openai (InstructGPT) can generate the output without the prefix, I just wonder if they do the same as me, remove the input after the process of generation.

[2022-10-20 07:42] ArthurZucker commented on #19111
Hey! So as mentioned here in a previous [PR](https://github.com/huggingface/transformers/pull/15068/commits/95eaf44ce93bbf46b552c606957f98b354dae73a), the optional pooling layer was removed as no checkpoints use it.

My first question would then be : do you need to have the `BERTPoolerLayer`? It is a bit confusing indeed that the pooling output do not come from the `BertPoolerLayer`. Have a look a

[2022-10-20 07:43] ArthurZucker commented on #19322
Could you give me a training script so that I can work with that? 🤗  Sorry for the delay

[2022-10-20 08:11] ydshieh commented on #19665
Hi @lchwhut , could you check if the `inputs` at the line you mentioned have `"return_loss": True`, just like
https://github.com/huggingface/transformers/blob/bbe2c8b126b04a3250e7089cf507ec62ce8d716c/examples/pytorch/contrastive-image-text/run_clip.py#L215
If it exists there and being `True`, the model itself should be able to return a loss value. We then have to check if `has_labels=False` will p

[2022-10-20 08:21] ArthurZucker commented on #18133
Hey! Really sorry for the long delay! 🤗
From what I understand based on the tests, this behaviour is actually intended : once the `labels` are passed to the `MBartForConditionalGeneration`, they are shifted using `shift_tokens_right(labels)` (see [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/mbart/modeling_mbart.py/#L1346-L1351). This means that the model act

[2022-10-20 08:23] ArthurZucker commented on #18133
PS :
you can try the following :
[code]
Should output
[code]

[2022-10-20 08:42] Narsil commented on #15799
Then just start 8 processes each with a pipeline attributed on a single GPU, and distribute the work through a queue of some kind like redis/rabbitmq or any other similar mecanism ?

[2022-10-20 08:51] Narsil commented on #19490
Hi @CarloLepelaars

It's actually quite challenging to do chunking with whisper. The reason is that the suggested way by OpenAI needs to run the inference on the first 30s before being able to run inference on the next 30s starting at 30s - X.

This violates an important property of a pipeline, which is that the generations shouldn't depend on each other (in order to enable batching).

That doesn'

[2022-10-20 09:05] Narsil commented on #19764
You might want to use

[code]

`.generate` returns the real tensors, which include the text in `decoder-only` models and do not on `encoder-decoder` models.
This is just how these models operate.

[2022-10-20 09:23] raghavanone commented on #19730
@hollance  @LysandreJik  Can I pick up this if it is it is not in WIP ?

[2022-10-20 09:25] raghavanone commented on #19686
@patrickvonplaten I would like to pick up this.

[2022-10-20 10:03] ArthurZucker commented on #19490
Thanks @Narsil !
For long audio, we can just enable the chunking without `timestamp` prediction. Though the results won't be extremely good, I remember attempting this (ultra naive way, with no `stride` )  and it gave pretty decent outputs :

[code]
For this clip : https://www.youtube.com/watch?v=H3dToD7_ATU , which seem like apart from maj, is extremely good!

[2022-10-20 10:32] Aaryan369 commented on #19588
Hi,

I tried pre-training the jax wav2vec2 model on my own data and I came across similar problems. Tried with multiple huge chunks of my own dataset and the perplexity always collapsed to 2 while the loss fluctuated a lot. I also noticed that across all my datasets the eval loss was always 0.09969.

So, if I finetune this pretrained model, will it give any good results?

Also do you guys have any

[2022-10-20 10:37] R4ZZ3 commented on #19588
For finetuning we have used these resources as base:
https://huggingface.co/blog/fine-tune-wav2vec2-english
https://huggingface.co/blog/wav2vec2-with-ngram

[2022-10-20 10:54] sanchit-gandhi commented on #19588
Hey @Aaryan369! Thanks for sharing your experience - it seems like there's an inherent bug in the JAX pre-training implementation with how the loss terms are computed leading to code vector perplexity collapse and unstable loss.

You can certainly try fine-tuning a pre-trained Wav2Vec2 model. If your fine-tuning data is in-domain with the pre-training you can expect good results with very little d

[2022-10-20 11:01] Narsil commented on #19490
@ArthurZucker What about erroring out when the input audio is too long ?

[2022-10-20 11:40] preciousakpan commented on #1491
This worked for me

[2022-10-20 12:15] swap-10 opened #19771 "TFPreTrainedModel.prepare_tf_dataset() gives ImportError: Datasets module not found; but it is installed and usable (load_dataset() works)"
### System Info

Google Colab CPU Instance

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
-

[2022-10-20 12:26] FrancescoTroiano commented on #19708
Ok, thank you. I open a discussion in the forum in the Transformers category about that

[2022-10-20 13:05] #19300 closed

[2022-10-20 13:15] sgugger commented on #19762
Hi there! Please ask questions like this on the [forums](https://discuss.huggingface.co/), as we keep issues for bugs and feature requests only.

[2022-10-20 13:17] sgugger commented on #19771
cc @Rocketknight1

[2022-10-20 13:59] Rocketknight1 commented on #19771
I reproduced the error here, working on it now! I suspect this is caused by the recent release of a new version of `datasets`

[2022-10-20 14:21] Rocketknight1 commented on #19771
Hi, I've diagnosed the issue. It is not related to TF or `prepare_tf_dataset` at all. Instead, the problem is caused by the following:

1) `pip install transformers` followed by importing it, then by initializing one or more model classes
2) `pip install datasets` **after** we've imported and used a class from `transformers`

If you do this, `transformers.is_datasets_available()` returns `False`.

[2022-10-20 14:30] Rocketknight1 commented on #19771
Update: Manually pinning urllib3 in the colab didn't work - the problem is another library. Trying to figure it out!

[2022-10-20 14:48] sgugger commented on #19771
Thanks for digging into this @Rocketknight1

[2022-10-20 14:51] sammysbiti commented on #19111
Hi Arthur, I think I understand. Thanks for getting back so quickly! Its
performance suggests that the model is loading correctly so that must be
it! Thanks!

On Thu, Oct 20, 2022 at 3:42 AM Arthur ***@***.***> wrote:

[2022-10-20 15:03] #18992 closed

[2022-10-20 15:03] #18988 closed

[2022-10-20 15:03] #18986 closed

[2022-10-20 15:03] #18899 closed

[2022-10-20 15:25] thefirebanks commented on #16383
Gotcha Niels, thanks!

[2022-10-20 15:35] zekaouinoureddine commented on #3430
I am currently facing the same issue with the `BertForTokenClassification` model, the model behaves differently each time it is loaded. Are there solutions?

[2022-10-20 15:58] swap-10 commented on #19771
Interesting. Thank you! I used Dataset.to_tf_dataset() meanwhile to get my work done.

However, I guess this isn't exactly anticipatable behaviour? Perhaps this should at least be mentioned somewhere in the documentation?

[2022-10-20 16:24] piEsposito commented on #19747
@gante you always bring good news when I'm here to bother you folks from Hugging Face. Thanks!

[2022-10-20 16:25] maovshao commented on #17169
This doesn't work either.
So why ESM can't be used with transformers even ESM2 has been published and ESM is just on the main page of this github.

[2022-10-20 16:28] arvindmuralie77 commented on #17309
Thanks! I'll get back to you if I have queries

[2022-10-20 17:11] alceballosa commented on #15947
Hi all, I'd like to translate question_answering.mdx and multiple_choice.mdx :) @omarespejel

[2022-10-20 17:15] quancore commented on #15799
@Narsil I am trying to run the feature extraction pipeline on multiple GPU via composing the code using snippets you share:
[code]
So the input is a data frame with a column name in which the column has text data and I am trying to extract features. Unfortunately, it is hanging on the multiprocessing step, and I could not find why it is the case, thank you for your answer.

[2022-10-20 17:17] Rocketknight1 commented on #19771
It's quite niche, but I agree it can be confusing for users. @sgugger I could make a PR to change the warning messages to ask users to restart their runtimes if they installed a dependency after importing `transformers`, WDYT?

[2022-10-20 17:26] sgugger commented on #19771
If you can catch it properly, why not yes!

[2022-10-20 17:37] ariG23498 commented on #19123
I am still working on this.

[2022-10-20 18:01] #19747 closed

[2022-10-20 19:36] moksh-enf opened #19776 "Trying to implement Transformer-XL using PyTorch Lightning"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Code:

[code]

Error:
[code]

### Expected behavior

[code]

### Checklist

- [X] I have read the migration guide in the readm

[2022-10-20 19:36] atyshka opened #19777 "Request: Providing gen_kwargs for Seq2SeqTrainer"
### Feature request

As far as I am aware, there is currently no way to customize the generation behavior when generation is run as part of the training loop. `Seq2SeqTrainer.predict()` takes a `gen_kwargs` argument to pass along to `generate()`, but there is no way to pass `gen_kwargs` to `predict()` when predict is called automatically as part of the training loop.

### Motivation

Customizing g

[2022-10-20 20:30] alexvaca0 commented on #19322
Yeah, I'll post it here as soon as I can so that you can reproduce it :) thank you very much!!

[2022-10-20 21:41] uahmad235 commented on #19776
Hi @moksh-enf. Could you please share the code snippet on how you are passing input while training, and also share some data examples (if possible)?

[2022-10-20 22:15] LysandreJik commented on #19777
May be of interest to @gante @sgugger

[2022-10-20 23:59] nyadla-sys commented on #19691
@gante
When I run generated tflite file with minimsl example by tflite and it fails with below error msg

Execution plan as the list of 568 nodes invoked in-order: [0-567]
--------------Subgraph-8 dump has completed--------------

--------------Memory Arena Status Start--------------
Total memory usage: 396 bytes (0.000 MB)
- Total arena memory usage: 396 bytes (0.000 MB)
- Total dynamic memory us

[2022-10-21 01:32] realliyifei commented on #9785
I follow the suggestion but got this error:

RuntimeError: Error(s) in loading state\_dict for GPT2ForSequenceClassification: size mismatch for score.weight: copying a param with shape torch.Size(\[100, 768\]) from checkpoint, the shape in current model is torch.Size(\[2, 768\]). You may consider adding \`ignore\_mismatched\_sizes=True\` in the model \`from\_pretrained\` method.

I then tried to f

[2022-10-21 01:34] BenoitLeguay opened #19780 "Issue when exporting SwinForImageClassification to ONNX format"
### System Info

### 1. Libraries version
transformers == 4.23.1 / torch == 1.12.1 / onnx = 1.12.0
### 2. Context
I trained an Image Classifier using `SwinForImageClassification` with a custom number of labels. I want to put it in production using the ONNX format. So I need to export my model in this format.
### Error
I used the `python -m transformers.onnx [...]` as recommended in [your documenta

[2022-10-21 01:56] urialon opened #19781 "`"transformers_version"` is not enforced"
### System Info

- `transformers` version: 4.21.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.7
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.9.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes+no
- Using distributed

[2022-10-21 02:30] lchwhut commented on #19665
Hi @ydshieh, i think the `inputs` does have `"return_loss": True` because the `inputs` is generated by dataloader which conducts function `collate_fn`.
<img width="940" alt="image" src="https://user-images.githubusercontent.com/27990344/197094616-779776fd-2ade-4ce2-95b5-5d9ec0e5d273.png">
`loss = None` will be specified if `have_label == False`
<img width="833" alt="image" src="https://user-images

[2022-10-21 02:33] chujiezheng opened #19782 "Add Flan-T5 Checkpoints"
### Model description

Flan-T5 models are instruction-finetuned from the T5 v1.1 LM-adapted checkpoints. They can be directly used for few-shot prompting as well as standard fine-tuning. Here is the [paper](https://arxiv.org/abs/2210.11416).

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

*

[2022-10-21 02:58] nyadla-sys commented on #19691
@gante I modified generation code as below and it works fine

  @tf.function(
    # shouldn't need static batch size, but throws exception without it (needs to be fixed)
    input_signature=[
      tf.TensorSpec((1, 80, 3000), tf.float32, name="input_features"),
    ],
  )

[2022-10-21 06:38] NielsRogge commented on #19782
Cool! cc @patrickvonplaten

[2022-10-21 07:23] NielsRogge commented on #19780
You can try a slightly less strict absolute difference, as explained here: https://github.com/huggingface/transformers/issues/15716#issuecomment-1044630255

[2022-10-21 07:37] BenoitLeguay commented on #19780
Hello @NielsRogge, thank your for this quick response !
I was not clear, the test is not failing for a bad reason: the outputs are actually significantly different:
here is the full error message:
[code]

[2022-10-21 07:55] BenoitLeguay commented on #19780
A quicker way to reproduce the error is actually to do
```python -m transformers.onnx --model=microsoft/swin-base-patch4-window12-384-in22k test_onnx/from_hub/ --feature='image-classification' --preprocessor=feature_extractor```
Hope this helps.

[2022-10-21 08:16] #18445 closed

[2022-10-21 08:20] sanderland commented on #17544
With protobuf 4.21.8 and debertav2, this error still appears
[code]

[code]

[2022-10-21 08:29] NielsRogge commented on #19782
FYI the conversion script can be found here: https://github.com/huggingface/transformers/blob/main/src/transformers/models/t5/convert_t5x_checkpoint_to_flax.py

[2022-10-21 08:32] IMvision12 commented on #19631
That's great, I have already gone through the paper and the architecture let me know when you finish it.

[2022-10-21 08:32] ydshieh commented on #19665
OK @lchwhut Thank you for all of these checks. I will figure it out a way.

[2022-10-21 08:45] IMvision12 opened #19783 "Add XCiT Model"
### Model description

Cross-covariance image transformer (XCiT) is built upon XCA. It combines the accuracy of conventional transformers with the scalability of convolutional architectures. [Paper](https://arxiv.org/abs/2106.09681)

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

Official I

[2022-10-21 08:46] patrickvonplaten commented on #19782
cc @younesbelkada @ArthurZucker one of you interested in taking it? :-)

[2022-10-21 08:56] ArthurZucker commented on #19782
Yes! On it 🤗

[2022-10-21 09:54] GuillemGSubies commented on #16746
Getting the same error here. I think that the tokenizer is not truncating correctly, that would be a bug, no?

[2022-10-21 10:50] osanseviero commented on #15947
Feel free to open a PR @alceballosa :)

[2022-10-21 10:52] Narsil commented on #15799
You are using

[2022-10-21 10:52] Rocketknight1 commented on #19771
Closing this issue now that we've added the user warnings about restarting the runtime

[2022-10-21 10:52] #19771 closed

[2022-10-21 11:11] quancore commented on #15799
I do not get it.

[2022-10-21 11:17] Narsil commented on #15799
I started the comment, and misfired send as obviously it wasn't ready.

[2022-10-21 11:43] ArchontisKostis opened #19788 "Add translation of docs to greek"

[2022-10-21 12:39] sgugger commented on #19777
You can customize any generation kwarg by passing them to the model configuration (soon there will be a generation configuration that will make this clearer).

[2022-10-21 12:40] urialon commented on #19334
Thanks, closing and re-creating in the `transformers` format

[2022-10-21 12:43] urialon opened #19790 "`truncation='do_not_truncate'` is not equivalent to `truncation=False`"
### System Info

- `transformers` version: 4.21.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.7
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.9.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or

[2022-10-21 12:43] #19334 closed

[2022-10-21 12:58] sgugger commented on #19781
It is just informative (and saved automatically, not selected by the user), so it is by no way a minimal version required for the model.

[2022-10-21 13:45] ayaka14732 commented on #19742
@sgugger Thank you! I have implemented a class `BartTokenizerWithoutOverflowEOS` for my own use case.

[code]

[2022-10-21 13:45] #19742 closed

[2022-10-21 13:47] ayaka14732 commented on #19742
Close as not planned

[2022-10-21 14:16] urialon commented on #19790
Thanks!

Yeah I know that it's safer to use `truncation="do_not_truncate"`,
but passing booleans is kind of safer than strings in general (and it's shorter),
so (since the docs allow it) I passed `truncation=False` and I found it very unpredictable that truncation was applied, even when I explicitly passed it.

[2022-10-21 14:17] urialon commented on #19781
thanks!

Don't we want a way to enforce that a certain checkpoint will be loaded only by a specific version?
Currently users may download checkpoints, load them successfully, but just get bad predictions

[2022-10-21 14:19] sgugger commented on #19781
DO you have an explicit example of that? We maintain very strict backward/forward compatibility in the model code.

[2022-10-21 14:28] urialon commented on #19781
Yes,
This model `NinedayWang/PolyCoder-2.7B` must be loaded with version `>=4.23.1`,
because it depends on this PR: https://github.com/huggingface/transformers/pull/18695

[2022-10-21 14:31] sanchit-gandhi commented on #19603
Hey @keturn, just following up here! Let me know if you'd be keen to open a PR - I can help you with with pointers and any questions you might have! Otherwise I can take look next week 🤗

[2022-10-21 14:42] sgugger commented on #19781
Ah, yet another argument for not adding config arguments like those. Thanks for pointing that out.

[2022-10-21 14:51] urialon commented on #19781
Thanks a lot!

[2022-10-21 14:51] #19781 closed

[2022-10-21 15:05] #19008 closed

[2022-10-21 15:05] #19003 closed

[2022-10-21 15:33] sgugger commented on #19136
Sorry this slipped through the cracks. Very much in agreeance here @lsz05 and this is one of the reason we usually avoid relying on Python magic bool conversion but test for explicit values. Would you mind making a PR with a fix?

[2022-10-21 15:43] andreabac3 opened #19795 "Strange shape of Scores vector"
### System Info

transformers==4.20.1
torch==1.11.0+cu113
Python 3.9.13

### Who can help?

@patrickvonplaten @Narsil @ola13 @gante

### Information

- [X] The official example scripts

### Reproduction

Hello everyone,

I am using BART and I have enabled `return_scores = True` with `beam_size = 4`.
The shape of the Scores vector is `(seq_len, batch_size * beam_size * num_returned sequence, vocab_

[2022-10-21 15:48] ArthurZucker commented on #19490
I'd rather add a warning saying that the audio will be automatically cropped! WDYT?

[2022-10-21 16:23] keturn commented on #19603
oh, I don't expect to get to this anytime soon myself.

[2022-10-21 16:24] pchr8 opened #19797 "Small typo in documentation of TokenClassificationPipeline"
### System Info

https://github.com/huggingface/transformers/blob/v4.23.1/src/transformers/pipelines/token_classification.py#L176

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

###

[2022-10-21 16:38] SaulLu commented on #19142
Oops, it completely slipped my mind. I'll try to do this next week.

[2022-10-21 16:53] #19797 closed

[2022-10-21 17:00] elmadany commented on #19761
@patil-suraj
@sgugger
@patrickvonplaten

[2022-10-21 17:21] urialon commented on #19790
Awesome, thanks!

[2022-10-21 18:49] gante commented on #19795
Hi @andreabac3 👋

I apologize in advance. The documentation for that part of the codebase is poor at the moment, so it's completely understandable that you feel confused.

The first documentation issue is the shape of `outputs.scores[0].shape`, which is actually `(batch_size * beam_size, vocab_size)`. It contains the scores (logits) of each token for each beam at each step. However, on their own,

[2022-10-21 19:40] atyshka commented on #19777
Ah I wasn't aware of that. It doesn't have all the generation parameters though, in my case I wanted to use prefix_allowed_tokens_fn, which model config doesn't seem to have. It's easily solved with a trainer subclass for me though, and it's probably a specific enough use case that the API doesn't need to be modified. Since the most common params can be used that way, I'll consider this resolved.

[2022-10-21 21:24] RobertHua96 opened #19802 "Run Vit-MAE script key error"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill

[2022-10-22 02:14] Revanth2002 commented on #19487
I will take `mbart` and `mctct`

[2022-10-22 02:46] Revanth2002 commented on #19487
I will work on `layoutlm` , `layoutlmv2` , `layoutlmv3`

[2022-10-22 03:44] ayaka14732 commented on #19487
I will work on ELECTRA

[2022-10-22 03:55] ayaka14732 commented on #19487
I will work on PoolFormer

[2022-10-22 03:59] ayaka14732 commented on #19487
I will work on PLBART

[2022-10-22 04:18] ayaka14732 commented on #19487
I will work on Nezha

[2022-10-22 07:05] NielsRogge commented on #19782
They are available now: https://huggingface.co/models?search=flan-t5

[2022-10-22 07:05] #19782 closed

[2022-10-22 07:16] lxianl455 commented on #17521
So, is there any work on it? I did not find a new feature about getting the raw logits.

[2022-10-22 07:26] entropy2333 opened #19811 "ONNX conversion from VisionEncoderDecoderModel with different dimensions"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Linux-4.4.0-87-generic-x86_64-with-glibc2.23
- Python version: 3.9.13
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1 (True)

### Who can help?

@NielsRogge, @patrickvonplaten

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `

[2022-10-22 08:30] z80maniac commented on #19090
unstale

[2022-10-22 08:30] NielsRogge commented on #19802
You'll need to add `remove_unused_columns=False` to the `TrainingArguments`.

The reason is because of the use of `set_transform` when preparing the datasets, which does things on-the-fly. Hence we still need to `image` column in the datasets to turn them into `pixel_values`.

[2022-10-22 09:54] R4ZZ3 commented on #18129
Any progress on this?

[2022-10-22 12:18] RobertHua96 commented on #19802
Amazing thank you!

[2022-10-22 12:18] #19802 closed

[2022-10-22 13:36] CaffreyR opened #19814 "t5 model's decoder do not use EncDecAttention.key & value in text generation task"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.13.0.dev20220709 (False)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using dis

[2022-10-22 13:55] salman-moh commented on #17309
I'll try it too because I'm into Medicine and AI's intersection :P

[2022-10-22 15:16] sayakpaul commented on #18641
It's taking more time as I am in a job switch. Please reopen it. I apologise for the inconvenience.

[2022-10-22 15:23] MattYoon commented on #664
To those stumbling on this issue, this doesn't seem to be a problem anymore. [#3021](https://github.com/huggingface/transformers/issues/3021#issuecomment-1232149031)

[2022-10-22 15:32] sha016 commented on #19487
I'll take maskformer

[2022-10-22 17:04] IlyasMoutawwakil opened #19815 "Faster TrOCR (in particular) and faster batch text generation (in general)"
### Feature request

Text generation in auto-regressive decoders can be optimized by not computing next token logits for sentences that already reached `eos` or `pad`. This is a [notebook](https://github.com/IlyasMoutawwakil/Faster-TrOCR/blob/main/Faster_TrOCR_with_ONNX%2BAutoRegressive_Hack.ipynb) where I did my experiments on performances. The last part contains a modified `forward` method of th

[2022-10-22 19:23] yangky11 commented on #19298
Any luck on this?

[2022-10-22 20:52] fssh72 commented on #1234
@thomwolf @astariul Why not just add a `resize_token_type_embeddings` method, just like there is a `resize_token_embeddings` method?

[2022-10-22 22:06] kventinel commented on #19811
I'm try to fix your problem in #19819

[2022-10-23 03:08] FlorinAndrei commented on #14307
@sgugger  I'm getting lots and lots of this warning all the time, which make troubleshooting pretty hard. The Jupyter interface has issues because the output gets very big after a while.

[code]

Python 3.10.6
Pytorch 1.12.1+cu116
Transformers 4.23.1

[2022-10-23 03:13] FlorinAndrei opened #19822 "data_collator.py:131: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.35
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: ye

[2022-10-23 09:25] Sonali234 opened #19825 "ImportError: cannot import name 'PegasusTokenizer' from 'transformers'"
@patrickvonplaten
Tried:
from transformers import PegasusTokenizer
import torch
Output:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/tmp/ipykernel_7943/3816365261.py in <cell line: 1>()
----> 1 from transformers import PegasusTokenizer
      2 import torch

ImportError: cannot import name 'P

[2022-10-23 09:33] salman-moh commented on #17309
a little overwhelming because it has a full library dependancy.. @NielsRogge any advice on this?

[2022-10-23 10:19] gante commented on #17521
I don't think so -- gently pinging @shijie-wu, who manifested interest in opening a PR :)

[2022-10-23 11:25] kventinel commented on #19825
Can you check transformers version and update it, if too old?

It's work fine for me:
[code]

[2022-10-23 15:01] #19050 closed

[2022-10-23 15:01] #19022 closed

[2022-10-23 15:01] #19017 closed

[2022-10-23 15:01] #19011 closed

[2022-10-23 15:01] #18501 closed

[2022-10-24 02:08] YooSungHyun commented on #19044
@sanchit-gandhi hello!

i used 4 kinds of dataset. and 2 datasets have this problem.
so, i will filter 'at least 25ms' and 'cnn output lengths * N > labels'

i will test it and sharing to you

[2022-10-24 03:28] LTEnjoy opened #19832 "Can we add optional kwargs to various model in addition to their required fixed inputs?"
### Feature request

For example in class BertForMaskedLM, we have to input needed arguments as follows:
    def forward(
            self,
            input_ids=None,
            attention_mask=None,
            token_type_ids=None,
            position_ids=None,
            head_mask=None,
            inputs_embeds=None,
            encoder_hidden_states=None,
            encoder_attention_mask=

[2022-10-24 05:11] SamuelCahyawijaya opened #19833 "Position embedding in the DETR model"
### System Info

According to the argument definition of the `DetrDecoderLayer.forward()` specified here:
https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/transformers/models/detr/modeling_detr.py#L723-L728

The `positional_embeddings` argument for the cross-attention should be assigned by the `position_embeddings` variable instead of `query_position_em

[2022-10-24 06:15] NinedayWang commented on #18508
Hi, `CONTRIBUTING.md` also requires a language such as "en" to be specified in the doc-builder. @ankrgyl @LysandreJik

[2022-10-24 07:41] ydshieh commented on #19665
Hi @lchwhut

Since the commit `3951b9f39` (PR #16526), we can get the evaluation loss. Could you try with the latest version? Thanks.

(You can try with a tiny dummy training)

[code]

Dummy training like
[code]

[2022-10-24 07:49] leoleoasd opened #19834 "support loading pretrained model from fsspec paths"
### Feature request

Make `from_pretrained` works with fsspec paths.

[code]

### Motivation

To make transformers suitable for usage in the cloud or in clusters where files should be stored in HDFS or S3.

### Your contribution

I'll be willing to submit a PR but `from_pretrained` is a very complicated function so I may need assistance.

[2022-10-24 09:38] sanchit-gandhi commented on #19044
Great! For the inputs, filtering by a minimum input length of 25ms _should_ suffice. This is based on the down-sampling ratio of Wav2Vec2. You can work out the precise value based on the down-sampling factor of the conv layers!

For the outputs, you just need non-zero label lengths (such that the number of terms in the cross-entropy loss is non-zero); nothing fancy required with the down-sampling

[2022-10-24 10:13] Iron-man-0 opened #19836 "Save model using save_pretrainedmethod."
I trained the DeTr model on custom dataset using this tutorial.

[Niels Rogge Fine_tuning_DetrForObjectDetection](https://github.com/NielsRogge/Transformers-Tutorials/blob/master/DETR/DETR_minimal_example_(with_DetrFeatureExtractor).ipynb)

I was trying to save that model using save_pretrained method, but I'm getting a error.

Can someone please help me on how to save a model and load the same for

[2022-10-24 10:19] NinedayWang commented on #18508
This typo has been fixed, sorry I missed the latest version of `CONTRIBUTING.md`.

[2022-10-24 10:20] NinedayWang commented on #18508
This typo has been fixed, sorry I missed the latest version of CONTRIBUTING.md.

[2022-10-24 11:17] gante commented on #19814
Hi @CaffreyR 👋 Our models, when used for generation purposes, have a cache that stores repeated computations (key and value of the attentions) turned on by default. If you'd wish to see the full (redundant) computations being executed, try using the model with `use_cache=False`.

[2022-10-24 12:17] RaghavPrabhakar66 commented on #16308
@ChainYo Hi, I would like to work on `TrOCR`.

[2022-10-24 13:14] NielsRogge commented on #16308
TrOCR is now supported per #19254

[2022-10-24 13:15] NielsRogge commented on #19811
Cc @mht-sharma

[2022-10-24 13:29] sgugger commented on #14307
There is no use commenting on an issue that was resolved without providing a code reproducer. You should open a new issue and follow the template :-)

[2022-10-24 13:46] sgugger commented on #19815
cc @NielsRogge

[2022-10-24 13:49] #19628 closed

[2022-10-24 13:50] #16824 closed

[2022-10-24 13:54] sgugger commented on #19832
We can't add blank kwargs like this, as a user who makes a typo in their inputs will then not get any error and not realize they did something wrong.

[2022-10-24 13:58] sgugger commented on #19834
Thank you, but we're not interested in expanding support to other tools than the Hugging Face Hub :-)

[2022-10-24 14:04] leoleoasd commented on #19834
I'd like to use Hub too, but our cluster have no public internet access...

[2022-10-24 14:04] #19834 closed

[2022-10-24 14:24] sanchit-gandhi opened #19842 "Un-pin JAX from <= 0.3.6"
### Feature request

JAX was pinned to <= 0.3.6 in #16808 when a minor release of JAX was published that broke Optax:
https://github.com/huggingface/transformers/blob/8b2501b4b9c5afad0dca2c964bc31b9fca09df4e/setup.py#L123
There have been 18 subsequent minor releases since (_c.f._ https://jax.readthedocs.io/en/latest/changelog.html), with v0.3.24 the latest. We should un-pin this hard requirement t

[2022-10-24 14:24] muxitox opened #19843 "Pretraining score (bpc) does not decrease after pretraining saving and loading a Longformer model."
### System Info

Python 3.7.4

torch==1.12.0+rocm5.1.1
torchaudio==0.12.0+rocm5.1.1
torchmetrics==0.8.0
torchvision==0.13.0+rocm5.1.1
transformers==4.20.1
datasets==2.3.2

### Who can help?

@ydshieh

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task o

[2022-10-24 14:48] sgugger commented on #19842
Until the Jax/Flax team guarantees they will maintain compatibility in their ecosystem during releases, they should be an upper pin to avoid sudden breaks of the CI.

[2022-10-24 14:51] joao-alves97 commented on #15570
@lavine-lmu were you able to achieve good results when fine-tuning M2M100? I'm trying to do that but unfortunately when I try to do that the loss decreases but the performance does not improve (it goes from around 30BLEU points without fine-tuning to 0.1 BLEU points after fine-tuning)

[2022-10-24 15:05] #19062 closed

[2022-10-24 15:05] #19021 closed

[2022-10-24 15:05] #19019 closed

[2022-10-24 15:20] efima-ai opened #19844 "ImportError: libssl.so.3: cannot open shared object file: No such file or directory"
### System Info

Hi,

I get the following error when calling `from transformers import BertModel, BertTokenizer`.

The error:
`ImportError: libssl.so.3: cannot open shared object file: No such file or directory`

I tried the following (suggested in other similar threads):
- instead of conda installation, use pip
-  downgrade tokenizers package

Neither of those fixed the issue. Following versions

[2022-10-24 15:28] ChainYo commented on #16308
@RaghavPrabhakar66 Maybe there is another model you could implement?

[2022-10-24 15:50] ydshieh commented on #19843
Hi @muxitox. If I understand correctly, the issue is about training->saving->loading->eval won't give the same result as the eval result before saving.

Could you provide a self-contained complete code snippet that can reproduce the issue? You probably don't need a full training (we can't debug if the training needs 2 days).

- By `self-contained complete`, it means we can copy a single block of c

[2022-10-24 15:56] RaghavPrabhakar66 commented on #16308
Sure. I can work on `ImageGPT`.

[2022-10-24 16:02] sanchit-gandhi commented on #19842
Very much agree @sgugger! I'll enforce an upper-bound on the versions of JAX and JAX derived libraries to ensure there aren't minor releases that break our CI 🤗

[2022-10-24 16:06] sgugger commented on #19822
Thanks for the report, the PR linked above should fix it.

[2022-10-24 17:00] ankrgyl commented on #19127
@osanseviero I believe this issue should be closable now (your original repro should now succeed). But please let me know if you see otherwise.

[2022-10-24 17:13] stevhliu opened #19848 "Add more model resources"
A continuation of #19767 to add existing official resources (blog posts, notebooks, scripts, etc.) directly to the model docs for 20 of the most popular architectures based on last month's pageviews. I'm not sure whether there are existing resources for all of these models, but I'll check it out, and if not we can either:

* Move to the next most popular model
* Or it could be a good opportunity t

[2022-10-24 17:15] osanseviero commented on #19127
Sounds good! Thanks a lot for this!

[2022-10-24 17:15] #19127 closed

[2022-10-24 20:08] LysandreJik commented on #18817
I was trying to fix the kenlm issue, but I see it's correctly installed [here](https://github.com/huggingface/transformers/blame/main/docker/transformers-all-latest-gpu/Dockerfile#L49) and has been for a while.

I guess it is an image issue?

[2022-10-24 20:31] patrickvonplaten commented on #19490
IMO error is better here.

@Narsil if there is a chance to run Whisper's silence detection + chunking mechanism in a pipeline I think this would be very useful/impactful

[2022-10-25 01:44] morrisalp opened #19853 "setting pipeline `tokenizer.pad_token_id` - bug / mistake in error message"
### System Info

transformers version 4.18.0,  Python 3.8.0

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Run text generation pipeline using model with tokenizer

[2022-10-25 02:46] lchwhut commented on #19665
Hi @ydshieh
Thanks for your help!
I updated `transformers==4.17.0` to `transformers==4.21.3` and could get the evaluation loss now!
<img width="1235" alt="image" src="https://user-images.githubusercontent.com/27990344/197668516-35e48897-0728-40bf-9179-80862ddd4941.png">
But the error `'BaseModelOutputWithPoolingAndCrossAttentions' object has no attribute 'detach'` will still reproduce if i customi

[2022-10-25 03:00] ftian1 commented on #19510
@regisss  thanks for the comments. I will invite Optimum owner @echarlaix to review this RFC and see what's her inputs.

[2022-10-25 04:58] shabha7092 opened #19857 "Import Error: cannot import name 'TFBertTokenizer' from 'transformers'"
### System Info

Platform - Mac os
Python Version - 3.9.0
Tensorflow version - 2.10.0
Transformers version - 4.23.1 (Tried different version)

### Who can help?

 @LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details

[2022-10-25 07:27] ariG23498 commented on #18811
Ping.

I don't think it is resolved yet.

[2022-10-25 07:29] cokuehuang opened #19860 "Can run_translation.py support nllb model fine-tuning ?"
### Feature request

Can run_translation.py support nllb model fine-tuning ? As run_translation.py is much easier to fine-tuning a model.

### Motivation

Want to an easy way to fine-tuning nllb model, as it is so difficult to fine-tuning a nllb model from its docs.

### Your contribution

star the repository

[2022-10-25 07:29] sayakpaul commented on #18811
I doubt it will be apples-to-apples resolved ever, considering https://github.com/huggingface/transformers/issues/18811#issuecomment-1262563941.

We need to be aware when comparing predictions of models (PT vs. TF) with stacks of interpolations, especially focusing on what tolerances we're using.

[2022-10-25 07:37] ra-MANUJ-an opened #19861 "Finetuning transformers for long document summarisation"
I'm wondering if there are any sample codes or blogs which can help me understand finetuning of transformer models for long document summarisation?

[2022-10-25 07:41] devozs opened #19862 "Trainer RuntimeError CUDA error"
### System Info

### Versions
i`ve tried using
- transformers==4.15.0, 4.8.0 and latest
- python 3.8, 3.9 and 3.10

### nvidia-smi
NVIDIA-SMI 515.65.01    Driver Version: 515.65.01    CUDA Version: 11.7

Thanks!

### Who can help?

@sgugger

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (suc

[2022-10-25 07:43] ydshieh commented on #19665
Hi @lchwhut Yeah, `CLIP` is indeed special in terms of the output format :-)

[2022-10-25 08:10] ra-MANUJ-an commented on #19861
@patil-suraj
@patrickvonplaten

[2022-10-25 08:31] patrickvonplaten opened #19864 "Whisper's Tokenizer encoding function is not user-friendly"
### System Info

- `transformers` version: 4.23.0.dev0
- Platform: Linux-5.3.0-64-generic-x86_64-with-glibc2.17
- Python version: 3.8.12
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu102 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): 0.4.1 (cpu)
- Jax version: 0.3.14
- JaxLib version: 0.3.14
- Using GPU in script?: <fill in>
- Using distrib

[2022-10-25 08:31] patrickvonplaten commented on #19864
@ArthurZucker @sanchit-gandhi could you take a look here?

[2022-10-25 08:36] johko opened #19865 "Add VATT model"
### Model description

Hey,
as discussed with @NielsRogge a few weeks back, I'd like to work on adding the "VATT: Transformers for Multimodal
Self-Supervised Learning from Raw Video, Audio and Text" model from Google.

It is basically three transformers(Video/Audio/Text) that are trained jointly in an unsupervised manner using contrastive loss functions. For downstreams tasks they fine-tune the Tr

[2022-10-25 08:56] patrickvonplaten commented on #19761
Hey @elmadany,

In general, could you maybe share a short reproducible code snippet below that is easy to copy-paste?
The google colab is more than just a error production and going through it step-by-step sadly takes us too much time. Thank you :-)

To answer your question: GPT-Neo is currently not compatible to be used as a decoder in an encoder-decoder setting. GPT-Neo  does not have a `encoder

[2022-10-25 10:04] #19165 closed

[2022-10-25 11:43] patrickvonplaten commented on #19825
Gently pinging @ArthurZucker here

[2022-10-25 13:29] sgugger commented on #19860
The script support NLLB models, if you run any issue you can use the [forums](https://discuss.huggingface.co/) to ask the community for help.

[2022-10-25 13:30] sgugger commented on #19853
cc @Narsil and @gante

[2022-10-25 13:32] sgugger commented on #19857
`TFBertTokenizer` is in the main init but it's a fairly recent addition. Are you certain you have the latest version of Transformers? You can print it with `from transformers import __version__; print(__version__)`

[2022-10-25 13:33] sgugger commented on #19861
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep the issues for bugs and feature requests only.

[2022-10-25 14:46] ra-MANUJ-an commented on #19861
Sure, and apologies. I'll ask on the forum now. Thanks for the information.

[2022-10-25 15:05] #19082 closed

[2022-10-25 15:05] #19005 closed

[2022-10-25 15:27] djstrong opened #19873 "ByT5Tokenizer ignores spaces around added tokens"
### System Info

transformers 4.23.1

### Who can help?

@patrickvonplaten @SaulLu

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]
in comparison to:
[code]

### Expected behavior

In my task

[2022-10-25 15:36] Narsil commented on #19853
@morrisalp can you share a more detailed example ?

The following code seems to work:

[code]

[2022-10-25 15:59] morrisalp commented on #19853
@Narsil Your code throws an error on my end. I receive this error:

[2022-10-25 16:08] ecolss commented on #2630
Just do `tokenizer.pad_token = tokenizer.eos_token`, and also set `tokenizer.padding_side = 'left'`.
It should work fine with batches. No need of `add_special_tokens`, otherwise the model embedding layer should be resized accordingly.

[2022-10-25 16:13] sgugger commented on #19873
May also be of interest to @ArthurZucker

[2022-10-25 16:14] shabha7092 commented on #19857
@sgugger For some reason transformer version was showing 4.20.1 when i ran the above command. I updated it to 4.23.1 and now i dont see any error. Thank you fo your time.

[2022-10-25 16:14] #19857 closed

[2022-10-25 16:16] #19187 closed

[2022-10-25 17:35] ccmaymay opened #19876 "TypeError from GenerationMixin.generate() when stopping_criteria is None"
### System Info

transformers 4.23.1
Anaconda Python 3.9.13
Linux

### Who can help?

*(Sorry, I think I botched filling in the template)*

I get an error from GenerationMixin.generate() when passing `stopping_criteria=None` explicitly, even though the type is annotated as Optional:

[code]

The error comes from `_get_stopping_criteria` calling `_merge_criteria_processor_list` with `custom_list=No

[2022-10-25 19:28] sgugger commented on #19876
cc @gante

[2022-10-25 19:38] LysandreJik commented on #18817
I think we can add it, we've had it in the main file for 8 months so it's unlikely to cause an issue. Looking forward to the next launch!

[2022-10-25 19:48] AndreasMadsen opened #19877 "Support fairseq encoder-normalize-before in RoBERTa"
### Feature request

Support Fairseq's `--encoder-normalize-before` variation of transformer-based models, (particularly RoBERTa, not sure how many it applies to) that "apply layernorm before each encoder block". See: https://fairseq.readthedocs.io/en/v0.7.0/models.html

### Motivation

There currently exist unofficial hacks of Huggingface's transformer model at https://github.com/princeton-nlp/di

[2022-10-25 20:30] sgugger commented on #19877
Transformers is very opinionated in that regard and is not a building block library like fairseq. The only way to add support for those models in Transformers would be to add a new modeling file which adapts the code of RoBERTa to only include the code path corresponding to `--encoder-normalize-before`, as putting both in the same modeling file hurts readability.

You can learn more about our phil

[2022-10-25 23:20] xhluca opened #19882 "Allow tuples in fast tokenizer"
### System Info

- `transformers` version: 4.20.1
- Platform: Linux-5.15.0-48-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.12.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Y

[2022-10-26 01:13] yezhipeng2417 opened #19884 "there is no log and processbar when running trainer.train()"
### System Info

When I open a .ipynb in vscode or datashell, there is no log and processbar when running trainer.train(), but in jupyter notebook, it shows.
<img width="770" alt="截屏2022-10-26 11 55 46" src="https://user-images.githubusercontent.com/87161948/197910485-5d16a652-48a4-4c83-b110-b9ad7a95046b.png">

<img width="1138" alt="截屏2022-10-26 12 06 12" src="https://user-images.githubuserconten

[2022-10-26 02:04] rushic24 commented on #19487
Hi, Can I have LayoutLMv2 and BERT

[2022-10-26 02:56] MUZAMMILPERVAIZ opened #19885 "Implementing SHAP algorithm on visualBERT transformer"
### System Info

Hi @LysandreJik , @NielsRogge, @sgugger,
I am working to apply [shap](https://shap.readthedocs.io/en/latest/index.html) algorithm on visualbert. I found a piece of code that run`s well on distilbart-xsum-12-6 , Here is the code:

[code]

But i don`t know how to implement the same thing on visualBERT. Is there any repository which demonstrate the implementation of shap algorithm on

[2022-10-26 03:32] Xappuccino opened #19886 "TypeError: ('Keyword argument not understood:', 'ignore_mismatched_sizes')"
### System Info

transormers~=4.21.0
tensorflow~=2.8.2
python~=3.7.3
when I modify type_vocab_size in config.json in bert-base-chinese, and pass ignore_mismatched_sizes param to from_pretrianed function like below:
`self.bert = TFBertModel.from_pretrained(pretrain_path, ignore_mismatched_sizes=True)
`
Then I got this error `TypeError: ('Keyword argument not understood:', 'ignore_mismatched_sizes')

[2022-10-26 05:03] JeffreyWardman opened #19887 "Long-form (including timestamps) for whisper"
### Feature request

https://github.com/huggingface/transformers/commit/504cd71a6b172f177e6da513bea94fadb18ad99c
- Inference is currently only implemented for short-form i.e. audio is pre-segmented into <=30s segments. Long-form (including timestamps) will be implemented in a future release.

When would the ETA be for this?

### Motivation

Whisper is not usable for long audio of speech, or for ch

[2022-10-26 05:05] JeffreyWardman opened #19888 "Rescale layer in whisper processor"
### Feature request

Whisper processor does not currently rescale to the expected [-1, 1) that it requires.

### Motivation

Consistency between model processor layers.

### Your contribution

-

[2022-10-26 07:40] bugm opened #19890 "Should always set the pad_to_max_length =False when do whole word mask language model fine-tune"
### Feature request

I am researching some work about whole word mask language model fine-tune and I am doing some customize change on the code from the official example (https://github.com/huggingface/transformers/tree/main/examples/research_projects/mlm_wwm)

I find there is a argument field in class DataTrainingArguments
pad_to_max_length: bool = field(
        default=False,
        metadata={

[2022-10-26 09:28] SeolhwaLee commented on #18425
@donebydan Hi, have you generated the fine-tuned BART with OPACUS? I'm working on it and changed the code to a merged one. But the model generation is weird like repeating  `the the..`

[2022-10-26 10:06] sanchit-gandhi commented on #19864
Agree with all of the above **other** than the attention mask: the Whisper tokeniser **should** return an attention mask. This attention mask is not used to mask hidden-states (as is done with the Whisper feature-extractor), but rather mask padded token ids in the computation of the C.E. loss. We require the attention mask to inform the system where the padded tokens reside, and thus where to igno

[2022-10-26 10:07] ydshieh commented on #19487
Hi @rushic24  They have been done. You can check [this file](https://github.com/huggingface/transformers/blob/main/utils/documentation_tests.txt) and find other config files to work with 🤗

[2022-10-26 10:19] devozs commented on #19862
i hope its ok that i putting a link to different ML library (in case its not - i`ll delete it)
[this issue seems to be similar](https://github.com/Lightning-AI/lightning/issues/11818#issuecomment-1033541994)

[2022-10-26 10:48] donebydan commented on #18425
Hi @SeolhwaLee, we are integrating a BART with Opacus example in our [`dp-transformers`](https://github.com/microsoft/dp-transformers) library. It is [https://github.com/microsoft/dp-transformers/pull/5](this PR), but it is pending some updates to newer Opacus (1.13) and HF versions right now.

[2022-10-26 11:08] gante commented on #19876
@ccmaymay Agreed with your assessment! I see you're working on a fix, so I'll move further discussion there :)

[2022-10-26 11:13] ra-MANUJ-an opened #19894 "Unable to Finetune Deberta"
I am trying to finetune deberta for irony detection task, colab's notebook link can be found [here](https://colab.research.google.com/drive/1mZI5W2ozc8speZiwzOtCrWABhSaxqhWD?usp=sharing)

When I try to use 'microsoft/deberta-v3-base' checkpoint with AutoModel, I'm getting the following error :

RuntimeError: Expected target size [32, 2], got [32]
but when I use the same model with 'bert-base-uncas

[2022-10-26 11:14] ra-MANUJ-an commented on #19894
@sgugger
@patil-suraj
@patrickvonplaten

[2022-10-26 11:15] #19861 closed

[2022-10-26 11:17] gante commented on #19853
I can also confirm that the snippet shared above works on my end -- @morrisalp, if possible, can you update `transformers` to a more recent version? I'm afraid we can't fix bugs on older versions :)

[2022-10-26 12:40] sgugger commented on #19862
It doesn't look exactly similar in the sense that it is in an environment without a GPU, whereas yours shows one. Unless you are not executing the script within the exact same env as the results of the commands passed above of course.

[2022-10-26 12:41] sgugger commented on #19884
Vscode or datashell do not support widgets, as far as I know, so we can't show the same progress bars there as in a notebook.

[2022-10-26 12:42] sgugger commented on #19885
You should use the [forums](https://github.com/huggingface/safetensors/pull/34) for questions like this as we keep issues for bugs and feature requests only.

[2022-10-26 12:57] sgugger commented on #19894
Please use the [forums](https://discuss.huggingface.co/) to get help debug your code. In this instance you are using the base pretrained model (without a classification head) to do classification so it does not work. You should consider using AutoModelForSequenceClassification`.

[2022-10-26 13:07] sgugger commented on #19890
Note that this is not a maintained example, so we are not planning on making any changes to that script.

[2022-10-26 13:24] amankhandelia opened #19897 "Flax implementation of BART contain NaN in hidden_states"
### System Info

While implementing Donut model #19831, one of my test was failing `test_from_pretrained_save_pretrained`, while debugging the testcase failure, It is happening because the test is trying to compare nan with nan which causes the failure, on tracing the root cause, it came down to this line [`jnp.full(attention_mask.shape, float("-inf")).astype(self.dtype)`](https://github.com/huggi

[2022-10-26 13:26] sgugger commented on #19887
cc @sanchit-gandhi and @ArthurZucker

[2022-10-26 13:26] sgugger commented on #19888
Please provide a code reproducer for the bug you are experiencing or there is nothing we can do to help.

[2022-10-26 13:30] sgugger commented on #19882
Not sure if there is a specific reason for this or if it was just a mistake when it was introduced. In any case the PR above should fix it.

[2022-10-26 13:38] sgugger commented on #19886
Can you try to upgrade your version of Transformers and try again? If it still fails, could you please post the full traceback?

[2022-10-26 14:10] ra-MANUJ-an commented on #19894
okay, sure will take care from next time and thanks for the response! Just one question, do bert and roberta provide classification heads in their base models?

[2022-10-26 14:44] #19744 closed

[2022-10-26 15:06] #19686 closed

[2022-10-26 15:33] ariG23498 opened #19904 "`return_loss=True` in call for `TFCLIPModel` bugs out."
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-10-26 16:38] patrickvonplaten commented on #19897
@ArthurZucker and also @sanchit-gandhi since you know Flax Bart quite well

[2022-10-26 17:07] BENSAFOUAN-Abdelhalim opened #19908 "Any ideas on how we can convert a model from huggingface (transformers library )to tensorflow lite?"
### System Info

I want to convert CamembertQuestionAnsewring model to tensoflow lite, i download it from huggingface platform, because when i want to save the model locally it gives me the model with 'bin' format.
i'm asking here because huggingface use pytorch pretrained models.

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

[2022-10-26 17:54] amyeroberts commented on #19904
Hi @ariG23498, thanks for reporting this issue.

Could you give more information about the current behaviour? Specifically any tracebacks or more details about what is happening when you do execute?

[2022-10-26 18:08] alexvaca0 commented on #19322
First run:

[code]

Then, with this script you can replicate it. It is set with bf16=True, but it also fails with fp16=True (you can check that by setting one to false and the other to true in Seq2SeqTrainingArguments.

[code]

With this you can observe that both training and validation losses are Nans... Hope it helps to figure out what happens, if I can provide any more help please let me know :

[2022-10-26 18:09] amyeroberts commented on #19569
Closing as this has been resolved in #19654

[2022-10-26 18:09] #19569 closed

[2022-10-26 18:55] nsthorat opened #19909 "Transformers from GCS (or custom filesystem)."
### Feature request

Hi! I'm wondering if there will be support for a custom filesystem argument to "from_pretrained" for transformers, just like there is for datasets (https://huggingface.co/docs/datasets/filesystems).

### Motivation

This ideally would be great for running models in the cloud in "diskless" mode where there is no access to a real filesystem and model assets could be read into RA

[2022-10-26 19:08] xhluca commented on #19882
Thank you!

[2022-10-26 20:18] sgugger commented on #19909
Hi there! We don't plan on adding support for something else than the Hub/local disk for pretrained model in Transformers.

[2022-10-26 20:19] MattYoon commented on #9365
I have tried 1. Four spaces 2. \n 2. \t and 1. Four spaces gave the best results.

[2022-10-27 00:36] ZhaofengWu commented on #15591
@yushuinanrong @BAOOOOOM Sorry for the delay, but if it's still helpful, our implementation can be found at https://github.com/allenai/better-promptability/blob/main/better_promptability/models/t5_with_prefix.py

[2022-10-27 01:35] JeffreyWardman commented on #19888
You can see in the above that the transcript is gibberish for the unscaled whisper model. This is because it is taking in as input the range [0, 65535] rather than [-1, 1].

[2022-10-27 03:03] tarokiritani opened #19913 "VideoMAE assumes channel_num==3"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-10-27 03:21] ariG23498 commented on #19904
I have created a [colab notebook](https://gist.github.com/ariG23498/f736dea2f6f488d6c55fd9bb107bef13) that can help you with the traceback.

Let me know if you need something else. Thanks for the quick response @amyeroberts (as always 😃)

[2022-10-27 03:29] chujiezheng commented on #9365
Should the first sentence in the encoder input be prepended with an extra space ' '? Because I note that the first token generated by the decoder has the space prefix (e.g., ' I' or ' yes').

[2022-10-27 04:00] yezhipeng2417 commented on #19884
thanks

[2022-10-27 04:01] #19884 closed

[2022-10-27 04:07] StefanHeng opened #19914 "Transformer XL div_val != 1 does not work with fp16"
### System Info

python version `3.10.4`,

Package versions
torch                   1.12.0+cu116
torchaudio              0.12.0+cu116
torchvision             0.13.0+cu116
transformers            4.22.2

### Who can help?

@patrickvonplaten
@thomwolf

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` fo

[2022-10-27 04:34] StefanHeng commented on #19914
According to git blame, @thomwolf added Transformer Xl. Can you help?

[2022-10-27 04:50] pradeepdev-1995 opened #19915 "Unable to see the weight files after quantization"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu113 (False)
- Tensorflow version (GPU?): 2.9.2 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
-

[2022-10-27 05:22] CatchDr opened #19916 "Fine-tuning translation model speed anomalies"
### System Info

python 3.8.12
ubuntu18.04
transformers 4.23.1
![image](https://user-images.githubusercontent.com/49591435/198196407-2a20a98e-130e-4699-97a9-63836cb231dd.png)

### Who can help?

@Narsil
@patil-suraj
@sgugger, @patil-suraj

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such

[2022-10-27 05:50] Xappuccino commented on #19886
I have solved my problem, it was due to the old version transformers code I saved in my project directory that invalidated the transformers version upgraded through pip install~, thx for your replay!

[2022-10-27 05:50] #19886 closed

[2022-10-27 06:05] ishamnewsreels opened #19918 "Why training on Multiple GPU is slower than training on Single GPU for fine tuning Speech to Text Model"
### System Info

- `transformers` version: 4.24.0.dev0
- Platform: Linux-5.15.0-52-generic-x86_64-with-debian-bookworm-sid
- Python version: 3.7.13
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU

[2022-10-27 07:07] MattYoon commented on #9365
I noticed the space prefix in the generation too. But I didn't check if adding extra space to encoder input gives better results.

[2022-10-27 07:40] echarlaix commented on #19510
Hi @ftian1,

We already support INC quantization aware training (as well as static and dynamic quantization) in `optimum` so it would be redundant to add this feature to `transformers` in my opinion and could create some confusion on which library to use to perform optimization as @regisss mentionned. As we already discussed, I think it makes sense to keep everything related to `neural-compressor`

[2022-10-27 08:17] RockMiin opened #19919 "During the evaluation, the gpu stops, not working"
### System Info

I am fine-tuning Summariation Task with gpt model using multi-gpu. There is no problem training. However, during the evaluation, the following phenomenon occurs.

The gpu utilization is maintained at 100%, but the temperature is very low.
And the evaluation process is no longer in progress.

How can I solve this problem?

<img width="474" alt="스크린샷 2022-10-27 오후 5 01 10" s

[2022-10-27 11:32] BakingBrains opened #19925 "Does transformers have Swin Object Detection?"

[2022-10-27 11:42] raghavanone commented on #19293
@ankrgyl Did some more digging, this is being done intentionally when we add new token to tokenizer. Look at _decode function in tokenization_utils.py . I do not think this a bug.

@ArthurZucker Please validate this understanding.

[2022-10-27 12:00] #19876 closed

[2022-10-27 12:39] sgugger commented on #19916
Please use the [forums](https://discuss.huggingface.co/) to debug training like this as we keep features for bugs (with a clear reproducer) and feature requests only.

[2022-10-27 13:00] #19822 closed

[2022-10-27 13:03] sgugger commented on #19888
Thanks! cc @sanchit-gandhi and @ArthurZucker

[2022-10-27 13:33] peregilk commented on #19588
We are compiling a large speech corpus in Norwegian (100k+ hours). We expect it to be ready in roughly a month.  Our plan is to pretrain a Wav2Vec2. We have access to TPUs through TRC and ideally we would like to train this in Flax instead of XLA/PT.

This is a high priority project for us, and I am happy to assist in both testing and debugging here.

[2022-10-27 13:46] nyadla-sys commented on #19691
@gante
I found that my 30-second audio has more generated ids than the 21 produced by the whisper TFlite model.
Is there anything from the tflite model that I am missing?
https://colab.research.google.com/github/usefulsensors/openai-whisper/blob/main/notebooks/tflite from huggingface whisper.ipynb

and also it does not produce english transcript for total of 30 seconds audio

[2022-10-27 13:53] CaffreyR opened #19926 "About the `head_mask` of the Bert model `forward` really speed up?"
### System Info

- `transformers` version: 4.20.1
- Platform: macOS-12.4-arm64-arm-64bit
- Python version: 3.9.10
- Huggingface_hub version: 0.8.1
- PyTorch version (GPU?): 1.13.0.dev20220709 (False)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using dis

[2022-10-27 14:12] CaffreyR commented on #19814
Great! Thanks for your help!

[2022-10-27 14:12] #19814 closed

[2022-10-27 14:58] sgugger commented on #19925
Please use the [forums](https://discuss.huggingface.co/) to ask questions like this, as we keep issues for bugs and feature requests only.

[2022-10-27 14:58] sgugger commented on #19913
cc @NielsRogge

[2022-10-27 15:00] sgugger commented on #19914
I don't think TransformerXL supports FP16 as this is an old model with very specific code for the softmax layer. This won't be an issue we will fix ourselves given that Transformer-XL is not very used anymore, but if someone wants to make a PR, we'll review!

[2022-10-27 15:02] sgugger commented on #19915
cc @michaelbenayoun

[2022-10-27 15:02] #19091 closed

[2022-10-27 15:02] #19087 closed

[2022-10-27 15:02] #19925 closed

[2022-10-27 15:05] sgugger commented on #19919
It's possible there are tensors not all of the same lengths across processes (maybe the labels since they are not padded?). When trying to gather them, torch.distributed just hangs instead of throwing an error.

[2022-10-27 15:11] ArthurZucker commented on #19293
Hey! @raghavanone you are right, this is not a bug!
@ankrgyl you can use the following snippet :
[code]
(this works for the fast tokenizer, not for the slow, will have a look) tell me if that fixes your issue! 😄

[2022-10-27 15:13] CaffreyR commented on #19926
So you means that only if we prune the head according to the `head mask`, we can speed up our model?

[2022-10-27 15:33] RockMiin commented on #19919
First of all, thank you for your answer.
The label is padded.
When generating, it seems to be a problem that occurs because the end point of the sentence is different for each gpu process.
How can we solve this?

[2022-10-27 16:12] michaelbenayoun commented on #19915
Hi @pradeepdev-1995 ,
You don't get this issue first ?
[code]

[2022-10-27 16:13] raghavanone commented on #19293
@ArthurZucker  Just pondering why is slow and fast tokenizer functionally not equal ?

[2022-10-27 16:15] pradeepdev-1995 commented on #19915
Yes.
But after rerun in second time in the google colab.
It worked without error.
But only config file is there.

[2022-10-27 16:17] michaelbenayoun commented on #19915
Yes, I observe the same thing. In any case, I do not think this will work because you have dtypes in your state dict, which is not handled correctly by `save_pretrained` for now.

[2022-10-27 16:18] ArthurZucker commented on #19293
Well.. this is not really intended ^^ But mostly the `fast` is an entire library mostly implemented in `rust`, so we must have forgotten to update this argument when adding it to the `transformers` tokenizers. cc @LysandreJik  and @SaulLu FYI 🤗

[2022-10-27 16:21] ankrgyl commented on #19293
@ArthurZucker confirmed with both the slow and fast tokenizers (`build_tokenizer()` below is a wrapper function in my code that simply adds `<` as a special token):

[code]

[2022-10-27 16:28] michaelbenayoun commented on #19915
This should work:
[code]

But note that you will not be able to restore your model afterwards, at least with a `from_pretrained`. You will need to:

1. Load the model, either with the pre-trained weights, or random ones
2. Convert the model to its dynamically quantized version
3. Do: `model.load_state_dict(torch.load(path_to_the_state_dict))`

You have other ways of saving your model:

- You can `

[2022-10-27 16:28] ArthurZucker commented on #19293
Awesome, closing this issue, will open a PR in tokenizers when I have bandwith to try to match the outputs.

[2022-10-27 16:28] #19293 closed

[2022-10-27 16:33] LysandreJik commented on #19926
I mean that looking at `head_mask` as a way to speed up the model doesn't work :)
If you'd like to speed up your model, you can look at changing the precision, quantizing it, distillating it; but removing heads isn't going to speed it up or very very marginally.

[2022-10-27 16:37] sanchit-gandhi commented on #19888
Hey @JeffreyWardman, this is a really interesting issue! I've chosen not to compare Whisper to Wav2Vec2 in my analysis, as these two systems are intrinsically different in how they process the audio inputs:

With Wav2Vec2, we first normalise the raw audio inputs to (mean, std) = (0, 1). We then pass the normalised audio inputs to the model (as you have done in your code example). In this way, Wav2

[2022-10-27 16:42] LysandreJik commented on #19908
Maybe of interest to @gante @Rocketknight1

[2022-10-27 16:52] ankrgyl commented on #19293
@ArthurZucker happy to help with this

[2022-10-27 17:42] ArthurZucker commented on #19888
Thanks a lot @sanchit-gandhi 💯 , totally agree with you. Also in the various tests that I ran during the integration, I did not really have any issue with custom inputs, so I am also wondering id there are any potential application for that feature request? If yes, we could definitely add an optional argument, but otherwise, I am glad with keeping it close to the original codebase! 👍🏻

[2022-10-27 20:03] #19882 closed

[2022-10-27 20:12] FurkanGozukara opened #19929 "Token indices sequence length is longer than the specified maximum sequence length for this model (11261 > 1024). Running this sequence through the model will result in indexing errors"
### System Info

I tested 2 models (sshleifer/distilbart-cnn-12-6 , facebook/bart-large-cnn) and they both have very small 1024 max token length

So which model supports full length or the most token count?

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (suc

[2022-10-27 20:31] FurkanGozukara commented on #1791
testing this right now ty so much

[2022-10-27 20:59] sgugger commented on #19929
Please use the [forums](https://discuss.huggingface.co/) for questions like this as we keep the issues for bugs (in the library) and feature requests only.

[2022-10-27 21:51] bvelker commented on #12691
Same issue. Trying to load a pickled tokenizer inside of a docker container
with open(f"t5-base_tokenizer.pkl", 'rb') as f:
     tok = pickle.load(f)

[2022-10-27 21:57] FurkanGozukara commented on #19929
@sgugger you are right i am closing this thread

could you answer there: https://discuss.huggingface.co/t/which-summarization-model-of-huggingface-supports-more-than-1024-tokens-which-model-is-more-suitable-for-programming-related-articles/25095

[2022-10-27 21:57] #19929 closed

[2022-10-27 23:10] FurkanGozukara opened #19934 "UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch."
### System Info

C:\Python399\lib\site-packages\transformers\models\bigbird_pegasus\modeling_bigbird_pegasus.py:807: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, round

[2022-10-28 00:50] sha016 commented on #19487
I'll take fsmt next

[2022-10-28 01:08] abnokubi opened #19937 "Onnx CLIP Model outputs "Shape mismatch" warining on inference"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using G

[2022-10-28 01:59] chujiezheng opened #19938 "Incorrect Document Content in BlenderBot Tokenizer"
`The BlenderBot tokenizer has been trained to treat spaces like parts of the tokens (a bit like sentencepiece) so a word will be encoded differently whether it is at the beginning of the sentence (without space) or not.` However, the examples in BlenderBot Tokenizer (`BlenderbotTokenizer`) are the same:

https://github.com/huggingface/transformers/blob/bd469c40659ce76c81f69c7726759d249b4aef49/src/

[2022-10-28 02:00] nyadla-sys commented on #19691
increased the max_tokens to 200 and now I could generate whole audio text

[2022-10-28 03:27] StefanHeng commented on #19914
I see. I will think about make a PR. Thank you!

[2022-10-28 03:28] #19914 closed

[2022-10-28 04:23] Zcchill opened #19939 "Errors when using "torch_dtype='auto" in "AutoModelForCausalLM.from_pretrained()" to load model"
### System Info

python 3.8.13;
torch 1.10.0+cu113;
transformers 4.20.1;

### Who can help?

@stas00,@sgugger,@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduc

[2022-10-28 04:46] pradeepdev-1995 commented on #19915
@michaelbenayoun Thank you verymuch for the comments.

[2022-10-28 04:58] mikelewis0 commented on #15559
I just saw this thread - sorry for all the pain here! The problem was caused by an unfortunate config bug in the original BART-large training run, which caused decoder sequences to start with </s> <s> … I assume that got fixed in BART-base, which is why it's behaving differently.

[2022-10-28 05:03] Zcchill commented on #19764
Much Thanks, I've read through the source code of "pipeline" in detail, it seems that it call the "generate()" and do the mentioned  process through the following code in "postprocess()":
`                if return_type == ReturnType.FULL_TEXT:
                    all_text = prompt_text + text[prompt_length:]
                else:
                    all_text = text[prompt_length:]`
Acatully, I'm

[2022-10-28 05:03] #19764 closed

[2022-10-28 05:22] elronbandel commented on #15559
Thank you so much for clarifying it @mikelewis0 well appreciated!

[2022-10-28 05:27] zzxslp commented on #19290
Same here. Can anyone help fix this?

[2022-10-28 06:28] #19860 closed

[2022-10-28 06:51] ayaka14732 commented on #15559
I think you misinterpreted the cause. The extra </ s> token is intended and it is also used in bart-base.

[2022-10-28 07:12] Narsil commented on #19764
Just for future readers:

- `pipelines`: from raw string to raw string
- `generate` from input_ids tensors to output_ids tensor

`generate` doesn't have the option to "cut" the input_ids, it really operates on what the model sees, which are all the ids.
`pipeline` on the other hand is designed to work as much as possible out of the box for non ML users, so it will add some magic for you sometimes