[2022-11-17 15:02] #19447 closed

[2022-11-17 15:02] #18999 closed

[2022-11-17 15:50] ArthurZucker commented on #19938
Okay, this is simply because the model used, `BlenderbotTokenizer.from_pretrained("facebook/blenderbot-3B")` has the attribute `add_prefix_space` set to `True` by default. If you set it to `False` we have the expected different output.
Let me open a PR to fix this.

[2022-11-17 16:23] jplu commented on #20275
OK I see. Should-I test to change the input in the export code in order to see if it goes better with a more appropriate input? How did you manage to convert and validate this model as it appears in the list of available models to be exported? You have tested on the official Google one?

[2022-11-17 16:45] rpryzant opened #20303 "BLOOM past_key_values bug"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.15.0-52-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.12.1 (True)
- Tensorflow version (GPU?): 2.9.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yers
- Using d

[2022-11-17 16:53] rpryzant commented on #20303
Closing (duplicate of https://github.com/huggingface/transformers/pull/20213)

[2022-11-17 16:53] #20303 closed

[2022-11-17 16:54] sanchit-gandhi commented on #20252
Hey @peregilk! Cool to see that you're using the Flax training scripts! Nice that you have TPU v4 pods as well 🚀

The scripts are only tested on single TPU devices (i.e. TPU v2-8, v3-8 and v4-8), however they can be made to work in a multi-host set-up.

How are you launching the script on a TPU v4-16/32? Are you SSH'd into worker 0? You'll need to launch the same command on all 2/4 TPU workers for

[2022-11-17 17:03] ArthurZucker commented on #19500
Hey! This is very similar to #18133.
First, I was not really able to reproduce the bug as the output of
[code]
Gave :
[code]

But in any case, I think that you are write, the documentation for both model is not aligned as the input is not shifted in the tokenizer but rather in the model. This was already mentioned so might as well adresse it !

[2022-11-17 17:24] peregilk commented on #20252
Hi @sanchit-gandhi. I am running a slightly altered version of the scripts, based on the run_mlm_stream.py. I am both installing the software and starting the training simultaneously on all the TPU VMs. I am using a script Ive made ([ttconnect](https://github.com/peregilk/ttconnect)) for experiments like this.

The script runs also without any issues. Both on individual TPUs and on any sized pods.

[2022-11-17 17:33] z80maniac commented on #19090
I've just tested that PR and it works. Thank you!

I tested it with a 13B model on GTX 3060. Without `load_in_8bit` only 10 layers are able to fit into the GPU. With that patch and `load_in_8bit=True` now 19 layers are able to fit into the GPU. Which gives a 30% speedup of the inference in my case.

For some reason when I test it on my initial example, it gives this warning:

[code]

However, I wa

[2022-11-17 17:34] sanchit-gandhi commented on #20252
Hey @peregilk,

Thanks for sharing those details. Your set-up looks good - the script you've made with `ttconnect` is super nice! The important thing is to run the same command across devices, which you are doing with that set-up.

The behaviour you have described seems to suggest that you're replicating exactly the same training across all four of your TPU devices. The batch size **should** scale

[2022-11-17 17:35] stas00 commented on #20287
There was one more scaling hack posted here if you want to try it.
https://github.com/huggingface/transformers/issues/14189#issuecomment-961571628

In general bf16-pretrained models ought to run under bf16 of fp32 regime, as fp16 and bf16 are very incompatible dtypes. It's not as bad if you were to go from fp16 to bf16 as you'd only lose precision, but not the other way around.

So we should raise

[2022-11-17 17:38] jmhessel commented on #20248
thanks @sgugger and @patrickvonplaten ! :-)

I am not sure I will get a chance to look at this this week, but --- I will mention one quick solution suggested by @peterwestuw --- if one simply increases the shard size here:

https://github.com/huggingface/transformers/blob/main/src/transformers/modeling_flax_utils.py#L950-L952

then it might be possible to save all weights in a single file and use

[2022-11-17 17:48] fxmarty commented on #20275
Pinging @echarlaix , is longt5 the model you were dealing with? To me given the trace warnings, especially `num_globals = seq_len // global_block_size` that is a constant,if you want a quick and dirty fix you can indeed change the input length in the export code to match your input length for your use case using the .onnx.

The validation for onnx conversion is currently lacking, as it tests only

[2022-11-17 18:04] ArthurOuaknine commented on #18503
Hello.
Any updates about the Mask2Former integration? Thanks

[2022-11-17 18:04] echarlaix commented on #20275
Yes we had the same [issue](https://github.com/huggingface/optimum/issues/285#issuecomment-1191409005) for LongT5 model with transient-global attention (models with local attention were not causing problem)

[2022-11-17 18:15] gante commented on #20299
Hey @josh-oo 👋

Since the release of v4.24 we have standardized a few internals of contrastive search, which may have fixed existing bugs (like @kiansierra pointed out, thank you for pitching in!)

[2022-11-17 18:17] shivalikasingh95 commented on #18503
Hi @ArthurOuaknine I'm working on it. Currently there is an open PR on my transformers fork. Will try to close this in next couple of days.

[2022-11-17 18:47] AndreasMadsen commented on #19877
Please see the implementation provided in https://github.com/huggingface/transformers/pull/20305

[2022-11-17 18:55] ArthurOuaknine commented on #18503
Thanks for your work, it will definitely help :)

[2022-11-17 19:00] sgugger commented on #20248
This would require a machine with lots of RAM to accommodate the checkpoint.

[2022-11-17 20:42] peregilk commented on #20252
This is returning 16 on the v4-32. This is correct according to the [user guide](https://cloud.google.com/tpu/docs/v4-users-guide) since the v4 have 4 double chips. Could that be the reason do any of the problems here?

Multiplying by jax.device_count() as I suggested is then definitively wrong.

[2022-11-17 23:38] lkfafds opened #20308 "RAG performance on WebQuestion dataset lower than expected"
Hi, I recently fine-tuned the Rag model (based on Rag-token-base) in WebQuestion, but the EM score is only 28. The performance in the paper is 45. Do you have any saved models that can match the performance, or does there any tricks during the fine-tuning?

[2022-11-18 01:47] akmalkady commented on #8690
got this error
`TypeError: from_pretrained() got an unexpected keyword argument 'force_download'`

[2022-11-18 06:06] xiaoyangnickhu commented on #20290
My bad... Thanks!

[2022-11-18 06:06] #20290 closed

[2022-11-18 07:15] BAAI-OpenPlatform opened #20309 "Enable BAAI/AltCLIP model to better handle Chinese prompts"
### Feature request

We already have our bilingual CLIP model here: https://huggingface.co/BAAI/AltCLIP    (currently private)
Would you like to collaborate with us to merge it into transformers?
Thanks a lot!

### Motivation

Want to enable our bilingual ALtCLIP model to handle Chinese prompts as well as English;

### Your contribution

We can collaborate with you to work on it. We are familiar w

[2022-11-18 07:57] #19938 closed

[2022-11-18 08:04] josh-oo commented on #20299
Hi @kiansierra and @gante , thanks for the quick reply. The new version seems to solve the problem.

[2022-11-18 08:36] younesbelkada commented on #19090
Thank you very much for your feedback and happy that it worked for your usecase!

This is because you have set your `input_ids` on the `cpu` before running your inference! Make sure to set `input_ids` to the device of the first layers (so I guess here, your GPU) before running `generate`.

I did not quite get your question here, but CPU layers are kept in their native `dtype` here indeed, which ca

[2022-11-18 08:52] z80maniac commented on #19090
I use the following code:
[code]
Not sure where I am supposed to set `input_ids` here.

I mean, purely from a technical standpoint, are there some downsides to mixing 8bit and 16/32bit layers?

[2022-11-18 08:55] younesbelkada commented on #19090
Thanks for sharing the code! It's clearer for me now, can you try to add `device=0` as follows:
[code]

Indeed, from a technical standpoint I don't see any downside

[2022-11-18 09:03] z80maniac commented on #19090
When I add `device=0` I get this:
[code]

The full code for clarity:
[code]

The error occurs even when `load_in_8bit = False`.

Also, in any case, the original error is pretty confusing. It says `You are calling .generate() with the input_ids`, but I don't do such a thing.

[2022-11-18 09:06] younesbelkada commented on #19090
Thanks for sharing, I think it is fine, for now I would say that you can leave the pipeline without `device=0`. I expect a small speedup since `accelerate` copies the `input_ids` that is created on the `cpu` to the device of the model at the beginning, and copies back the result on `cpu`.

the reason it says `generate()` is because `pipeline` calls `.generate()` under the hood here

[2022-11-18 10:23] sanchit-gandhi commented on #20252
Okay, this could well be part of the problem! Could you try printing out all the different calls from this sub-section of the guides on `pmap` (except `pmap`:

[code]

[2022-11-18 10:23] Rolv-Arild opened #20310 "Sentence-transformer: No such file or directory error"
### System Info

Using the sentence-transformer widget leads to the following error at https://huggingface.co/NbAiLab/nb-sbert:
`[Errno 2] No such file or directory: '/data/NbAiLab_nb-sbert/1_Pooling/config.json'`
I have checked all the config files, and can not find any references to this.
I am able to load the model locally (from the HF repo), and do valid calculations. The only thing that does

[2022-11-18 10:38] forrestfaraday commented on #16982
I try to fix the same issue. Is there any solution about this issue

[2022-11-18 10:45] Narsil commented on #20310
Fixed now.

The culprit is either the way the api works or sentence-transformers, but `sentence-transformers` is not great at dealing with missing files (it looks only for 1 file and assumes the rest is there, leading to the failure you are seeing).

Since the API uses massive storage to handle all the models on the hub, there is periodical cleaning of unused files, and sometimes it happens that s

[2022-11-18 11:18] apohllo opened #20311 "Seq2Seq question answering example script not compatible with the latest Seq2SeqTrainer class."
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-4.18.0-372.16.1.el8.cyf.x86_64-x86_64-with-glibc2.28
- Python version: 3.9.6
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.13.0+cu116 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using G

[2022-11-18 11:21] apohllo commented on #20311
To clarify the last comment (about the documentation) - these arguments in `predict` and `evaluate` are extracted from `gen_kwargs`, but they are not formal arguments of these methods.

[2022-11-18 11:32] fuzihaofzh opened #20312 "Add eval and test for the example run_ner_no_trainer.py"
### Feature request

Hi, thanks for the great work. I just go through the example "transformers/examples/pytorch/token-classification/", I found that run_ner.py has eval and test. However, for run_ner_no_trainer.py, there is no eval or test. I just wonder if it is possible to add these components?

### Motivation

Enhance the example code

### Your contribution

I can help to test the code.

[2022-11-18 11:36] apohllo commented on #20311
OK. It seems, I have not updated the code in the examples directory. The latest implementation of the trainer is valid.
Closing the issue.

[2022-11-18 11:36] #20311 closed

[2022-11-18 11:57] Arij-Aladel commented on #18189
Ok seems it was package installation issue after your fix, I have uninstalled all packages then reinstall packages according to requirements file. It works now yhanks @muellerzr

[2022-11-18 12:13] patrickvonplaten commented on #4092
Sure! You can just output the language head logits with T5 and build your own loss with it :-)

[2022-11-18 12:50] gauravrajguru opened #20314 "nested_detach of trainer fails in evaluation_loop for labels formatted for YOLOs model through feature extractor."
### System Info

@NielsRogge, @sgugger

nested_detach of trainer fails in evaluation_loop for labels formatted for YOLOs model through feature extractor.

OD label has dict format like
'labels': {
        'boxes': tensor([[0.4575, 0.5120, 0.6450, 0.2726]]),
        'class_labels': tensor([0]),
        'image_id': tensor([8081]),
        'area': tensor([172346.9688]),
        'iscrowd': tensor([0])

[2022-11-18 13:50] oneraghavan commented on #19298
@patrickvonplaten  @sgugger  Can we decide what approach to take to fix this ?

[2022-11-18 14:17] raghavanone commented on #20269
@icedpanda  I am not able to reproduce this error, Can you try to reproduce this in a colab notebook and share the notebook here ?

[2022-11-18 14:22] michaelbenayoun commented on #16982
Hi @forrestfaraday , @RaiAmanRai ,

The support for the ONNX export is now under [`optimum.exporters.onnx`](https://github.com/huggingface/optimum/releases/tag/v1.5.0), and we actually support the export of Deberta.

All you need to do is installing `optimum`:

[code]

Then run the `optimum.exporters.onnx` CLI:

[code]

[2022-11-18 14:26] sgugger commented on #20314
Thanks for reporting. There is nothing we can do without a code reproducer however. The `nested_detach` function is build to handle dictionaries of tensors, so if I pass it the example you give me above, I don't get an error.

[2022-11-18 14:35] sgugger commented on #20308
Please use the [forums](https://discuss.huggingface.co/) for such questions as we keep issues for bugs and feature requests only.

[2022-11-18 14:38] sgugger commented on #20312
Evaluation is done at every epoch in this script, not sure what more you need. The `no_trainer` scripts are more barebone on purpose, to make it easy for users to customize them.

[2022-11-18 14:42] forrestfaraday commented on #16982
I have no problems quantizing/optimizing the deberta model and then loading it. I am facing the below error when importing predict when using pipeline.

**InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Invalid Feed Input Name:token_type_ids**

[2022-11-18 14:49] michaelbenayoun commented on #16982
Could you open a PR on the [optimum repo](https://github.com/huggingface/optimum/issues) please?
We will try to figure it out there!

[2022-11-18 14:53] peregilk commented on #20252
The TPU v4-32 returns the following
[code]

The v4-8 returns the following:
[code]

[2022-11-18 15:02] younesbelkada commented on #18374
This has been implemented now. Please check: https://medium.com/pytorch/bettertransformer-out-of-the-box-performance-for-huggingface-transformers-3fbe27d50ab2

[2022-11-18 15:02] #19471 closed

[2022-11-18 15:03] sgugger commented on #19733
ping @muellerzr ;-)

[2022-11-18 15:11] ArthurZucker commented on #20285
Hey!
For starters, would be great if you could have provided the example with `transformers` only code because we are not really aware of what might be going on inside `minicons`. Does it use the `fast` or `slow` tokenizer? What arguments are modified behind it etc..

My question here would be "What is the expected behavior of the `bert-base-chinese` model. The problem might just come from the tok

[2022-11-18 15:35] muellerzr commented on #18189
Great! Can this be closed now @Arij-Aladel? :)

[2022-11-18 15:35] jplu commented on #20275
I have tried multiple `seq_len` for the input. As long as the value is not too lower than the "original" value it seems working, but if it goes too low, I start to get a big "max absolute difference" and the validation doesn't pass. So indeed, it is not really usable and seems too unstable as you said @fxmarty. Thanks a lot anyway for your lights on this, I let the issue open, don't hesitate to pi

[2022-11-18 15:35] Arij-Aladel commented on #18189
Yes , thanks . I am closing it.

[2022-11-18 15:35] #18189 closed

[2022-11-18 15:36] mht-sharma commented on #19811
Hi @Fritskee , apologies for the late reply. You need to inherit `ORTEncoder` and `ORTDecoder` from `torch.nn.Module` to avoid the issue.

[2022-11-18 16:20] #19665 closed

[2022-11-18 16:33] #19733 closed

[2022-11-18 17:12] jimmy-marmalade commented on #20287
Thanks everyone for the discussion and work!

Are there any possible workarounds that I could implement as an end user?

[2022-11-18 19:55] Dahoas opened #20320 "Loading model OOMs with more GPUS"
### System Info

- `transformers` version: 4.21.2
- Platform: Linux-5.10.135-122.509.amzn2.x86_64-x86_64-with-glibc2.2.5
- Python version: 3.8.5
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in

[2022-11-18 20:11] jmhessel commented on #20248
update: Increasing the shard size worked for me! But yes, I needed to grab a large RAM instance to do the conversion. Not a bad stopgap. Given that this solved my issue, I might not be able to look at this in the next few weeks, but I'll leave the issue open for now in case I come back to it

[2022-11-18 20:30] stas00 commented on #20320
It's a bit hard to follow your Issue

Is loading working when you use <=6 gpus?

I can't quite see from your example of the model itself how you run it - I suppose some modified version of the HF Trainer example program?

What you have shown doesn't use Deepspeed, you're just using a `deepspeed` launcher and the args are ignored since you're not parsing them. So this program simply runs this scrip

[2022-11-18 20:37] stas00 commented on #20320
To use the HF Deepspeed integration you need to adapt one of the examples or write a new program following the examples as the guide. https://github.com/huggingface/transformers/tree/main/examples/pytorch

The integration is inside the HF Trainer, so once you switch to using the HF Trainer you will get the DS integration.

[2022-11-18 20:41] Dahoas commented on #20320
Ah my apologies this is confusing. My training script is below. I'm only using the HF Trainer

[code]

Yes loading works <= 6 gpus.

Good point about saving in the wrong precision. I will check

[2022-11-18 20:58] rcontesti opened #20322 "Cannot load a model that saved locally"
### System Info

[code]

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

I would expect that after successfully saving the model local

[2022-11-18 21:02] sgugger commented on #20322
You need to remove the quotes around model_dir:
[code]

[2022-11-18 21:07] stas00 commented on #20320
much better.

Also try first with a normal model of the same size? If it works just fine then it'd point to something being added with your code.

If there is problem with normal model then it's a different story..

One other thing to consider, is that if you resume from a saved deepspeed checkpoint, you can't change topology on fly, as it'll try to resume using the same sharded layout as the chec

[2022-11-18 21:15] himanshisyadav commented on #10067
I am facing the same issue when trying to do `spacy.load`. Is there an obvious solution to that?

I am following [this](https://turbolab.in/build-a-custom-ner-model-using-spacy-3-0/) tutorial to build a custom NER pipeline on an HPC cluster where the compute nodes do not have access to the internet.

Here's the log:

[code]

[2022-11-18 21:24] zakidotai commented on #10067
First you need to run internet on the hpc. Read your hpc's documentation or ask system administrator about it.

[2022-11-18 21:27] himanshisyadav commented on #10067
We have access to the internet on the login nodes but not on the compute nodes. So, I can download everything on the login nodes I need before I finally start computations on the compute nodes.

[2022-11-18 21:29] rcontesti commented on #20322
Thanks. Really embarrassing!

[2022-11-18 21:29] #20322 closed

[2022-11-18 21:31] zakidotai commented on #10067
Follow the same protocol to run internet on the compute nodes. If you are
running the script by submitting a job on compute nodes, insert the
commands to run internet in the job script before the python command.

If proxies are also required to be exported, you can either export them
before the python command or export proxies within the code using os module.

On Sat, 19 Nov 2022, 00:27 Himanshi Y

[2022-11-18 21:42] himanshisyadav commented on #10067
There is no protocol to run the internet on the compute nodes, you **can not** use internet on the compute nodes.

[2022-11-18 23:05] BenWilson2 commented on #19491
@Rocketknight1 they've been consistently failing with our CI testing (we pull nightlies and main branches).
Update on this:

TF 2.11 released today with these breaking changes.

Here's the stack trace we're getting on this release:

[code]

[2022-11-18 23:08] BenWilson2 commented on #19491
Looks like you're all set already to support and just need an import version check  now that these changes are in the official release :)

Although it looks like the team has some additional serious breaking changes on the horizon: https://github.com/tensorflow/tensorflow/releases/tag/v2.11.0

[2022-11-18 23:12] devyndonahue opened #20327 "Mismatch in torch size"
I am trying to fine-tune an NER model using "malduwais/distilbert-base-uncased-finetuned-ner" model, in the dataset I am finetuning on there are only 5 features as opposed to 9 in the one this model was trained on. I get this error when calling trainer.train()

[code]

is there a way to adjust the size when finetuning? Thank you

[2022-11-18 23:15] #20308 closed

[2022-11-19 01:08] RezaYazdaniAminabadi commented on #20287
The main reason the weights are converted to half on DeepSpeed-side is that the kernels are only working with fp16 values. However, we are looking into some of these limitations and will resolve them soon.
The other part is that we can quantize from the original bf16 checkpoint and resolve some of the overflow issue due to different data-precision of fp16 vs bf16.

[2022-11-19 01:14] stas00 commented on #20287
Wonderful!

So it looks like @jimmy-marmalade can try out your solution (Deepspeed-Inference) once you have something working in bf16/int8, Reza, and hopefully this will unblock them.

[2022-11-19 03:21] zhoutong-fu opened #20328 "MAE Noise Was NOT Removed In Prediction For TFViTMAEModel / ViTMAEModel"
### System Info

transformers version: v4.24.0 (latest)

### Who can help?

@NielsRogge

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Expected behavior

It should return True.

It retu

[2022-11-19 08:17] eureka336 commented on #17350
Did you fix this problem,I'm having the same bug

[2022-11-19 08:35] prsatyal opened #20329 "cannot import electratokenizer or model. It works on colabnotebook but not in python"
### System Info

i have tensorflow version 2.11.0 and transformer version 4.24.0

and i cannot import TFElectraModel. It works for me in google colab but not in my pc.

from transformers import  TFElectraModel
gives me the following error

RuntimeError: Failed to import transformers.models.electra.modeling_tf_electra because of the following error (look up to see its traceback):
No module named 'k

[2022-11-19 09:44] omarwbassam commented on #18234
No good

[2022-11-19 10:36] j-adamczyk opened #20330 "Models cannot be loaded if they have dot "." in name"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.14.0-1054-oem-x86_64-with-glibc2.31
- Python version: 3.9.15
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
-

[2022-11-19 13:15] FurkanGozukara opened #20332 "OPTForCausalLM - ValueError: The following `model_kwargs` are not used by the model: ['new_doc']"
### System Info

Hello. I am using this model : https://huggingface.co/facebook/galactica-6.7b

The example is like this pretty straight

[code]

**new GALACTICA model supports the below inputs but I am getting error. This is the code I run**

[code]

![image](https://user-images.githubusercontent.com/19240467/202852602-74833f48-a83b-406e-8d6f-0f51e38ef859.png)

### Who can help?

_No response_

#

[2022-11-19 15:01] #19515 closed

[2022-11-19 15:57] tiedaar opened #20334 "longformer_content"
### Model description

This model will generate a content score for a summary given the context and the summary itself.

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

_No response_

[2022-11-19 17:47] ZurabDz commented on #20221
Are you behind some firewall? It seems like you can't connect hugging face. If you are able to freely access internet with proxy you could yous this snippet:

[code]

otherwise you can manually download model and load it from disk

[2022-11-19 19:13] gauravrajguru commented on #20314
Thanks for reply. I can see latest PR managed this scenario and it's working with new version.

[2022-11-20 01:45] atturaioe opened #20335 "Add MobileNetV1"
### Model description

MobileNets are small, low-latency, low-power models parameterized to meet the resource constraints of a variety of use cases. They can be built upon for classification, detection, embeddings and segmentation similar to how other popular large scale models, such as Inception, are used. MobileNets can be run efficiently on mobile devices [...] MobileNets trade off between late

[2022-11-20 02:50] atturaioe commented on #20330
Hi, @j-adamczyk. The problem here is that `transformers` version that includes `MobileNetV2` model has not yet been released to [PyPi](https://pypi.org/project/transformers/#history) etc., hence there's no `mobilenet` key.
Though you can build the `transformers` from source, and start using `MobileNetV2` right after building.

[2022-11-20 02:57] atturaioe commented on #20330
To install from [source](https://huggingface.co/transformers/v3.5.1/installation.html#installing-from-source), clone the repository and install with the following commands:
[code]

[2022-11-20 13:37] peregilk commented on #20252
@sanchit-gandhi I found something very interesting that might be the source of most of my confusion here. When inserting a breakpoint into my code here: (breakpoint)[https://huggingface.co/pere/roberta-debug-32/blob/main/run_mlm_flax_stream.py#L454]

I notice that the value of jax.device_count() actually is 4(!!). Starting python from the command line, importing jax, and then printing the same "ja

[2022-11-20 13:57] hollance commented on #20335
There's an open PR for it that is (almost) ready to merge. I just need to rebase it because it conflicts with MobileNetV2 that was recently added. I'll probably get around to this later this week.

See the PR: https://github.com/huggingface/transformers/pull/17799

[2022-11-20 14:27] ludwigwittgenstein2 commented on #17488
I am encountering the same issue, suggestions?

[2022-11-20 14:50] joshh20 commented on #18912
Just had this exact same issue. Thank you for the fix!

[2022-11-20 15:02] #19505 closed

[2022-11-20 15:29] MarekMaz opened #20337 "perpexity"

[2022-11-20 15:30] #20337 closed

[2022-11-20 16:12] KarmaTashiCat commented on #15947
Hi all! I'd like to contribute with [performance.mdx](https://github.com/huggingface/transformers/blob/9c9db751e29432e8924624ef44856cd9fa671ef3/docs/source/en/performance.mdx) spanish translation. Could it be assigned to me first please?

[2022-11-20 16:37] peregilk commented on #20252
@sanchit-gandhi I think I have been able to isolate the problem. This can be run directly from the command line on a v4-32:
[code]

[code]
I can not see any logical reason for this to happen. I also see the following error that might give a hint about what is going on:
[code]

[2022-11-20 18:08] fcakyon commented on #19865
@johko have you started implementing it?

[2022-11-20 20:33] Mohammed20201991 opened #20338 "TrOCR Encoder &Decoder Replacement"
Hi @NielsRogge thanks for the great tutorial  For TrOCR
1- can I get the whole datasets for IAM as the format (processed) used during fine-tuning because I only can see the test set ?
2- I want to replace the Encoder with **Vit or Swin or Diet** and the Decoder with **Bert** or **GPT-2** or another beast decoder In the original TrOCR or at least modify the decoder part
but I got a huge CER= 76% Pl

[2022-11-20 21:16] donelianc commented on #15947
Hi folks, I'd like to translate the [pr_checks.mdx](https://github.com/huggingface/transformers/blob/9c9db751e29432e8924624ef44856cd9fa671ef3/docs/source/en/pr_checks.mdx) doc. I'll submit a PR when ready.

[2022-11-20 21:30] tjysdsg commented on #19290
Change these line at https://github.com/salesforce/BLIP/blob/main/models/med.py#L932 as following:

from
[code]

to
[code]

Why: https://github.com/huggingface/transformers/blob/v4.23.1/src/transformers/generation_utils.py#L899

[2022-11-21 02:54] icedpanda commented on #20269
was working on the terminal but not in the notebook. Works now after reinstalling the notebook.

[2022-11-21 02:54] #20269 closed

[2022-11-21 05:40] sanprit opened #20342 "BrokenPipe Error while training GPT-2 from scratch with run_clm.py"
### System Info

Transformers version:  v4.24.0
Python version: 3.9.13
system: EC2 with g5.12xlarge, Ubuntu, Pytorch (1.12.1)
Data size : ~250GB

### Who can help?

@patil-suraj, @patrickvonplaten, @LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My

[2022-11-21 06:44] ShengdingHu opened #20343 "DataCollator that allows strings in datasets and untouch the strings"
### Feature request

A default data_collator that allows strings to pass through and untouch the strings.

### Motivation

When I use `remove_unused_columns=True`， I can't  get the raw input sequences in string format in my batch.
When I use `remove_unused_columns=False`, I can't use the default data collator, because it raises the following error.
[code]
I constantly fail into this issue and I ha

[2022-11-21 07:49] hatvn commented on #11044
@stas00 I am a little bit confused as I tried to run with optim=adafactor and optim=adamw_hf in trainer with Deepspeed Zero stage=2 and no optimizer declared in deepspeed config file (.json). However I check edthe  memory of the CPU, They were the same. In theory I think the optimizer state of Adamw must be significantly bigger than Adafactor in terms of memory.
To make sure that the optimizer was

[2022-11-21 08:22] raghavanone commented on #20332
@FurkanGozukara I do not see the new_doc parameter accepted neither in code nor in example scripts ? Can you point me to where you got example scripts with new_doc parameter ?

[2022-11-21 09:17] mrconter1 commented on #17230
I can't understand why this hasn't seen wider adoption. It makes me a bit skeptical. If it's better in all ways compared to the original transformer paper why wouldn't we see adoption from Meta, OpenAI, DeepMind etc?

[2022-11-21 09:27] SaulLu commented on #19298
I think choosing how to resolve this issue requires some discussion.

I think we should change the example scripts that look for sentinel tokens based on the fact that they are the last tokens in the vocabulary. Rather, it should be based on the fact that they are the tokens in the `additional_special_tokens` attribute (respectively `additional_special_tokens_ids` for their ids).

However, an impo

[2022-11-21 09:35] xloem commented on #17230
You could ask the same about any model or technology near the top of a leaderboard. Things happen because people do the work or make the business decisions behind them happening. There are scads and scads of things better than the original transformer paper, but they're not normative yet.

[2022-11-21 09:47] FurkanGozukara commented on #20332
https://github.com/paperswithcode/galai

![image](https://user-images.githubusercontent.com/19240467/203018858-60dfd7fd-f186-4fe8-8217-ab3ab493f9cc.png)

[2022-11-21 10:07] NielsRogge commented on #20328
Hi,

ViTMAE generates a random mask internally to mask out patches. Hence forwarding the same inputs twice through the model will result in different hidden states. If you want to ensure reproducability, you can pass the `noise` argument. See [here](https://github.com/huggingface/transformers/blob/8503cc755050c6ed5bc771e3244c29b71be1841e/tests/models/vit_mae/test_modeling_vit_mae.py#L317) for an e

[2022-11-21 10:12] SaulLu commented on #17488
Hi @ludwigwittgenstein2 ,

Thank you for sharing that you also have this problem. To understand what is going on, could you please share a code snippet that reproduces your problem and the output of `transformers-cli env` ? Thanks in advance!

[2022-11-21 10:14] djdevdev opened #20345 "Loading transformer on AWS Lambda throws OMP errno 38"
### System Info

Apologies if this is the wrong place to post but we're looking for pointers on tracking down what appears to be a transformers-related error.

We have trained a Spacy 3.3.1 transformer textcat which we're deploying as an AWS Python 3.9 Docker image to AWS Lambda. The model loads and infers correctly on the Linux development host (both using a test Python script and also using AWS

[2022-11-21 10:31] fcakyon commented on #15666
@jegork is there any progress on adding vivit to huggingface/transformers? I need this model for my Ph.D. research and it would be super cool if I could use the hugging face version of it :)

[2022-11-21 10:58] ValeKnappich opened #20347 "past_key_values not accepted in generate with GPTNeoX"
### System Info

Python 3.7.13
transformers 4.22.2

### Who can help?

@LysandreJik @patrickvonplaten

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

The `past_key_values` kwarg is not accepted when

[2022-11-21 11:04] NielsRogge commented on #20255
Closing this issue as it has been resolved, feel free to reopen.

[2022-11-21 11:04] #20255 closed

[2022-11-21 11:07] patrickvonplaten commented on #20342
Hey @sanprit,

What exactly is `2_run_clm.py`? Was this a typo and supposed to be `run_clm.py`? Also we would need to be able to re-run this command to reproduce the error => how can we access `train_file.txt`?

[2022-11-21 11:35] amiralikaboli commented on #20189
@Narsil Actually, It doesn't work. The script I use for training and predicting my model is similar to the above script. Do you want a script for a server/client which runs the model?

[2022-11-21 11:37] BirgerMoell opened #20348 "Ability to fine-tune whisper large on a GPU with 24 gb of ram"
### Feature request

I've been trying to fine-tune whisper large on a GPU with 24gb of ram (both single GPU and multi GPU) and I run out of memory while training (with batch size set to 1 and max-length of audio set to 2.5 seconds).

I made this a feature request not a bug report since I don't believe there is a problem with the code.

## Training script
<details>
<summary> Training code </summary

[2022-11-21 12:37] jegork commented on #15666
Hello @fcakyon !
You're just on time! I have been really busy finishing my bachelor's and working, but I have just started to work on the pull request two days ago, and I hope to finish it today or tomorrow. Although I cannot give you an estimation of when it will be actually merged in the main branch, but in the worst case you would be able to use my fork until it is merged. I will tag you as soo

[2022-11-21 12:44] fcakyon commented on #15666
Amazing news @jegork! Will be following your progress :+1:

[2022-11-21 13:26] Narsil commented on #20189
If you could provide a simple (one file) script that's easily launchable to reproduce that'd be perfect yes.

The bug you're encountering is almost certainly a deadlock linked to multiple libs doing parallelism in some way hurting each other. Without the full script to reproduce it's hard to pinpoint though. Also are you on Mac or Linux (there's different default behavior for forking if my memory

[2022-11-21 13:29] gante commented on #19491
Hi @BenWilson2 👋

We have made recent changes related to the imports from Keras (https://github.com/huggingface/transformers/pull/20317) -- it should also solve this issue, correct?

[2022-11-21 13:32] raghavanone commented on #19298
@SaulLu I was also thinking along same lines, as a simpler fix remove the pointers of sentinel tokens as the last tokens and then use an additional attribute to get those token.

@patrickvonplaten  @sgugger  what do you folks think of this approach ?

[2022-11-21 14:01] atturaioe commented on #20335
Oh, thanks. Closing this issue.

[2022-11-21 14:01] #20335 closed

[2022-11-21 14:01] piEsposito commented on #19992
@Rocketknight1 I could make them match for GPT2, should open a PR this week. Sorry for the delay, this thing was an order of magnitude harder to do that I was estimating.

[2022-11-21 14:02] sanprit commented on #20342
2_run_clm.py is run_clm.py only with some logging comments added in it. Regarding train_file it is too large for me to share, can you please sun it on random 230 GB data

[2022-11-21 14:05] sgugger commented on #19298
As long as it's done in examples that are focused on T5-only (e.g. not the generic `run_summarization`), no problem with me!

[2022-11-21 14:20] raghavanone commented on #20332
@FurkanGozukara I think there is an mix up, the huggingface api so far does not support new_doc parameter, the new_doc parameter is present in galai library released by paperwithcode .

https://github.com/paperswithcode/galai/blob/f6d9b0a5b35a0eda53597a5ea7d51963bfc05de1/galai/model.py#L88

[2022-11-21 14:23] sgugger commented on #19904
It looks like the problem in this issue is that you are not passing along as many images as texts. Passing `images=[image, image]` makes your reproducer pass.

[2022-11-21 14:38] sgugger commented on #19904
Indeed, do you want to make a PR with that?

[2022-11-21 14:39] raghavanone commented on #19904
@sgugger  Yes, I will take it up.

[2022-11-21 14:42] sgugger commented on #20327
As the error message told you, load your model with `ignore_mismatched_sizes=True`.

[2022-11-21 14:42] ZJaume commented on #18912
Shouldn't this be open until gets fixed?

[2022-11-21 14:43] sgugger commented on #20329
Transformers is not currently compatible with TensorFlow 2.11 (which broke a lot of things compared to the previous versions). It should be fixed on main so you can either do:
- an install of Transformers from source
- or downgrade your TensorFlow to 2.10

[2022-11-21 14:45] sgugger commented on #20334
Which new model are you talking about? Please fill the template properly otherwise no one will be able to help.

[2022-11-21 14:49] prsatyal commented on #20329
Hi There! I figured as much so is downgraded to tensorflow 2.10 and
installed transformers from the source

On Mon, Nov 21, 2022 at 8:29 PM Sylvain Gugger ***@***.***>
wrote:

[2022-11-21 14:50] sgugger commented on #20343
Data collators inside Transformers exist for the Trainer, which in turn send all inputs to the model directly. The model won't be able to accept the raw strings, so the use case is not obvious.

Transformers is a library of models at its core, so while we provide some functionality to train/fine-tune them easily, our goal isn't to be comprehensive :-)

[2022-11-21 14:56] sgugger commented on #20345
There is little we can do without knowing which specific code in Transformers you are running. Loading a model with Transformers in general does not use Python multiprocessing for instance, so it's a bit hard for us to know what you want us to fix without a clear reproducer (using Transformers only and not a third-party library).

[2022-11-21 14:56] sgugger commented on #20347
cc @gante

[2022-11-21 15:02] #19601 closed

[2022-11-21 15:02] #19592 closed

[2022-11-21 15:13] sanchit-gandhi commented on #20348
Hey @BirgerMoell - thanks for opening this feature request and for your interest in the Whisper model 🗣🇸🇪 I've made the code in your original post a drop-down just for ease of reading

The examples script [run_speech_recognition_seq2seq.py](https://github.com/huggingface/transformers/blob/main/examples/pytorch/speech-recognition/run_speech_recognition_seq2seq.py) has recently been updated to handl

[2022-11-21 15:26] hollance commented on #20335
Just a FYI: it has been merged now with the main branch of Transformers. :-)

[2022-11-21 15:30] sanchit-gandhi commented on #20252
That's super weird - does this happen with just `TrainingArguments`, or other Transformers modules too (i.e. `AutoConfig`)? Does swapping the order of your imports change the behaviour?
[code]

[2022-11-21 15:31] sgugger commented on #19491
No, we won't make a patch release for this: it's not a regression from us, but breaking changes from TensorFlow. The next release of Transformers will be next week, probably on December 1st :-)

[2022-11-21 15:50] Rocketknight1 commented on #19992
Don't apologize at all - this is something we were struggling with too!

[2022-11-21 15:56] BirgerMoell commented on #20348
Thank you so much for taking the time to write explain this. I will definitely try it out. I will also try out training on the medium model size.

[2022-11-21 15:56] #20348 closed

[2022-11-21 16:06] ValeKnappich commented on #20347
Great, thanks :)

[2022-11-21 17:06] BenWilson2 commented on #19491
Awesome! (I wouldn't have expected a patch release for this; I was just curious, based on the history of releases this year, if you had another micro release queued anyway). Thank you for the timeline for the next minor release. We'll be sure to unblock users an unpin the version right after your next minor release.
Thanks again! :)

[2022-11-21 17:06] #19491 closed

[2022-11-21 17:12] BirgerMoell commented on #20348
1. Using adamw_bnb_8bit I ran out of memory.
2. I managed to get it to work with adafactor. I just did a test so I'm not sure how it affected the performance but I can try running it longer to see what happens. The  eval_wer was 30.935251798561154 after just 5 epochs. Thanks for the help!

[2022-11-21 17:22] peregilk commented on #20252
Seem to be a bit of a Schrödinger's cat-problem. Whether you look at it determines if it is dead...;) "Looking" at jax.device_count() (that probably activates the device) seems to let you import TrainingArguments without breaking the pods.

Switching transformers and jax imports does not help. It still reports 4.

I think I have tried all the other transformer modules, and I have not been able to

[2022-11-21 17:58] #16383 closed

[2022-11-21 18:45] zhoutong-fu commented on #20328
Thanks @NielsRogge for the reply. I'm using this model to extract image features and I'm using some hacks to remove noise and masks for inference.

After reading the [ViTMAE code](https://github.com/facebookresearch/mae/blob/main/FINETUNE.md), I found that the trained ViTMAE model can be loaded as a regular ViT model directly.  Just tested with `TFViTMAEModel.from_pretrained("facebook/vit-mae-base

[2022-11-21 19:37] fen-deepscribe opened #20357 "BART-large + JAX produce nan loss during training/eval"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.15.0-1023-aws-x86_64-with-glibc2.35
- Python version: 3.9.12
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): 2.10.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.6.1 (gpu)
- Jax version: 0.3.24
- JaxLib version: 0.3.24
- Using GPU in script?: Yes
- Using distributed o

[2022-11-21 20:17] gagan3012 opened #20358 "Integrate Timm models as vision encoders in Vision encoder decoder models"
### Feature request

Hello,
I would like to use timm models as vision encoders in vision encoder-decoder model who can I do so?

### Motivation

Timm models are very powerful and allow a lot of image processing which would allow us to make better document AI models

### Your contribution

I would be down to help out with PR

[2022-11-21 20:17] gagan3012 commented on #20358
@NielsRogge

[2022-11-21 20:23] alceballosa commented on #15947
Hi all, I'd like to translate [asr.mdx](https://github.com/huggingface/transformers/blob/b9a768b3ffa80c4c19d024f9f42d5917e7d8109e/docs/source/en/tasks/asr.mdx).

[2022-11-21 20:30] donelianc opened #20359 "Missing sections in Spanish documentation"
**Expected output**: Nested sections with proper documents in Spanish translation.
**Current output**: Some sections are missing (but docs are present), so documents are not correctly organized

-----

After contributing to #15947, I noticed `_toctree.yml` for the Spanish translation is not following the proper order as the original documentation.

For example, there is no `General Usage` section

[2022-11-21 20:38] morrisalp opened #20361 "error loading facebook/opt-30b with text generation pipeline using 8bit mixed precision"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.4.0-109-generic-x86_64-with-glibc2.10
- Python version: 3.8.13
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.13.0a0+d0d6b1f (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?

[2022-11-21 20:51] donelianc commented on #20359
Hi @sgugger. Maybe you can help me to verify this issue I just opened. I attached a PR to fix it (you might also be the right person to review and approve it). Thanks!

[2022-11-21 20:56] sgugger commented on #20361
If you can create your tokenizer and model, just send them to the pipeline function as a quick workaround :-)

[2022-11-21 21:08] shikhartuli opened #20362 "Add FlexiBERT"
### Model description

FlexiBERT is a suite of *flexible* and *heterogeneous* models. The design space was proposed in this [paper](https://arxiv.org/abs/2205.11656) accepted for publication in the Journal of Artificial Intelligence Research.

### Open source status

- [X] The model implementation is available
- [X] The model weights are available

### Provide useful links for the implementation

[2022-11-21 21:44] #20359 closed

[2022-11-22 00:15] jaimebw opened #20364 "Link to Google Colab notebook not working"
Hi, it seems that the link to ```A notebook on how to [finetune BART for summarization with fastai using blurr](https://colab.research.google.com/github/ohmeow/ohmeow_website/blob/master/_notebooks/2020-05-23-text-generation-with-blurr.ipynb).``` is broken.
@patrickvonplaten

[2022-11-22 01:12] skye commented on #20252
I'm not able to reproduce this. Running on a v4-16:
[code]
(v4-16 = 8 chips = 8 jax devices)

@peregilk can you share your jax, jaxlib, libtpu-nightly, and transformers versions? Also make sure you're creating the TPUv4 with `--version=tpu-vm-v4-base`

[2022-11-22 02:01] jp1924 opened #20366 "trainer.evaluate infinite loop problem"
### System Info

system info
OS: Ubuntu 18.04.6 LTS
GPUS: RTX 3090 * 2
CUDA: 11.1

python: 3.8
transformers: 4.23.1
pytorch: 1.10.1+cu111
NCCL: 2.10.3+cuda11.1

### Who can help?

@sgugger
@patrickvonplaten

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own

[2022-11-22 05:17] Samreenhabib commented on #15823
Hey @NielsRogge , I am stuck at one place, need your help.
I trained tokenizer on Urdu text lines using following:
[code]

Here are encoder decoder configurations:
[code]
Upon `trainer.train()` this is what I'm receiving: BaseModelOutputWithPoolingAndCrossAttentions' object has no attribute 'logits'

[2022-11-22 05:24] Samreenhabib commented on #15823
Hey, apologies for late reply. I dont know if you still looking for configurations. The code was exact same as in [https://github.com/NielsRogge/Transformers-Tutorials/blob/master/TrOCR/Fine_tune_TrOCR_on_IAM_Handwriting_Database_using_Seq2SeqTrainer.ipynb](url)
However, to call trainer trained on your dataset , ensure you save it :`trainer.save_model('./urdu_trainer')`. Then simply call
[code]

[2022-11-22 06:24] jp1924 opened #20367 "Can't assign custom vocab_files_names in Wav2Vec2Tokenizers"
### System Info

python: 3.8
transformers: 4.23.1

### Who can help?

@patrickvonplaten

### Information

- [ ] The official example scripts
- [x] My own modified scripts

### Tasks

- [x] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction
[code]
### Expected behavior

This is the problem that occurred

[2022-11-22 07:00] Zjq9409 commented on #14152
I have the same problem, How to solve it?

[2022-11-22 07:01] Zjq9409 commented on #14152
I have the same problem, How to solve it?

[2022-11-22 07:59] peregilk commented on #20252
Thanks @skye.
For reference, in the reported error I was using `--runtime-version=v2-alpha-tpuv4-pod` with the following libraries.
[code]

Not reported above, in debugging this I actually also tried using `--runtime-version=tpu-vm-v4-base` but did get:
[code]

I might have done a mistake when creating this pod. I will try from scratch again using `--runtime-version=tpu-vm-v4-base`.

Thanks.

[2022-11-22 08:06] raghavanone commented on #19904
@sgugger Have been thinking over this, should there be same number of images as text ? I do not see any reason to restrict it this way . Let me know if I am missing something .

[2022-11-22 08:14] 1feres1 commented on #17611
downgrading request to 2.27.1 will solve the problem

[2022-11-22 08:16] NielsRogge commented on #20358
Hi,

I don't think that makes sense as for the Vision encoder-decoder framework, one needs a Transformer-based encoder or at least an encoder that outputs a sequence of hidden states, which can be used for cross-attention with the Transformer-based language decoder. Given that most backbones in timm are convolution-based, which output 3D feature maps, one would first need to flatten/project them i

[2022-11-22 08:21] gagan3012 commented on #20358
I was more looking to use Swin with non-square image sizes and the Timm implementation allows us to do that and I would like to implement SwinV2 with bert

[2022-11-22 08:24] NielsRogge commented on #20358
Our implementation also allows that, did you try it?

[2022-11-22 08:28] hardianlawi commented on #14152
@kapilkd13 @Zjq9409 I completely switched to Pytorch and Pytorch Lightning since they made my life easier :')

[2022-11-22 08:34] Mohammed20201991 opened #20370 "Hugging face community on fb group"
Hello everyone you can  join our group to discuss new state-of-the-art methods in deep learning, machine learning, and natural language processing through the  below :
[link](https://fb.me/g/p_Qe5xCLF7zxgu4sYn/NRWMjdeM)

[2022-11-22 08:55] younesbelkada opened #20372 "Community contribution - `BetterTransformer` integration for more models!"
## `BetterTransformer` integration for more models!

`BetterTransformer` API provides faster inference on CPU & GPU through a simple interface!

Models can benefit from very interesting speedups using a one liner and by making sure to install the latest version of PyTorch. A complete guideline on how to convert a new model has been created on the [BetterTransformer documentation](https://huggingfa

[2022-11-22 09:42] githublsk opened #20374 "[layoutlmv3] SER and RE task combined into one model"
### System Info

datasets==1.15.1
transformers==4.12.5
seqeval==1.2.2
deepspeed==0.5.7
tensorboard==2.7.0
seqeval==1.2.2
sentencepiece
timm==0.4.12
Pillow
einops
textdistance
shapely

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [

[2022-11-22 10:07] damian0815 opened #20377 "PreTrainedModel: provide a more intuitive way of getting the current size of embeddings"
### Feature request

Please add an intuitive and obvious method to get the size of the current token embeddings on `PreTrainedModel`.

For example, a method called `get_token_embeddings_size()` that can be used as a complement to `resize_token_embeddings()`.

### Motivation

Current API design around the `resize_token_embeddings()` method requires doing the following to increase the size of the to

[2022-11-22 11:36] BirgerMoell commented on #20348
Here is the trained model. I haven't evaluated it but the WER is a Wer: 30.9353 which is not so good considering the model size.
https://huggingface.co/birgermoell/whisper-large-sv

[2022-11-22 11:54] ShengdingHu commented on #20343
But it's very easy to pop those raw strings out of the batch. If the raw strings are not passed into the batch, it will be hard to align the raw string to tokenized data because the data is randomly shuffled.

[2022-11-22 12:13] sanchit-gandhi commented on #20348
Hey @BirgerMoell - glad to see it worked! I would deffo give the medium model a run as well, has been quite performant in my experiments to date!

For the large model, it looks like you trained for only 0.08 epochs / 5 training steps:

| Training Loss | Epoch | Step | Validation Loss | Wer     |
|:-------------:|:-----:|:----:|:---------------:|:-------:|
| 4.5521        | 0.04  | 5    | 3.5048

[2022-11-22 12:26] manjuke opened #20382 "Finetunig of wav2vec2-xls-r-300m outputs invalid words for Bengali data"
### System Info

I have used wav2vec2 pretrained model of wav2vec2-xls-r-300m, and finetuned it to 1000hrs Bengali dataset. Training took 4 full days with 20 epochs. But, there is issue in decoding.  It is decoding in some arbitrary fashion, basically outputs random combination of Bengali letters (which does not have any meaning as confirmed by Bengali natives). It is showing a WER of 100% for all

[2022-11-22 12:48] sanchit-gandhi commented on #20382
Hey @manjuke! Cool to see you're using XLS-R for fine-tuning on Bengali. The "issues" page on Transformers is reserved for issues related to the Transformers modelling code. For questions related to fine-tuning experiments, the forum is the best place to ask: https://discuss.huggingface.co

Could you copy your question over there? If you tag me (@sanchit-gandhi) I'll aim to answer quickly! Could y

[2022-11-22 12:58] manjuke commented on #20382
Sure Thanks. I will do it right away

[2022-11-22 13:02] sgugger commented on #20366
The evaluation loop in the `Trainer` does not support un-padded outputs indeed, as it doesn't occur with any model of the library in our examples. Fixing it would be quite involved so I'd recommend using the `Accelerate` library which provides a method to pad across processes to evaluate such models.

[2022-11-22 13:03] sgugger commented on #20361
Please provide the full traceback, as we can't see what's happening otherwise especially since I can't reproduce locally on my side. cc @younesbelkada who might have better luck reproducing the bug!

[2022-11-22 13:09] younesbelkada opened #20383 "[ViT] `'str' object cannot be interpreted as an integer`"
### System Info

using `transformers==4.24.0`, the snippet:

[code]
fails with the error:
[code]

However, using the main branch fixes the issue, so just flagging it!

cc @sgugger

[2022-11-22 13:10] sgugger commented on #20383
cc @amyeroberts

[2022-11-22 13:11] younesbelkada commented on #20361
hi @morrisalp
Thanks for the heads up and for flagging the issue!
Can you please try:

[code]
No need to add `model_kwargs` and `device=0` in addition to what you have added ;) this should work! let us know here

[2022-11-22 13:12] sgugger commented on #20364
cc @ohmeow who wrote the notebook.

[2022-11-22 13:12] sgugger commented on #20367
Might be of interest to @sanchit-gandhi

[2022-11-22 13:15] younesbelkada commented on #20383
False alarm!
the snippet works when using `google/vit-base-patch16-224`
[code]
so I expect the fix to be on `hf-internal-testing/tiny-random-ViTModel`

[2022-11-22 13:19] sgugger commented on #20377
Thanks for flagging, I had kind of the same problem recently when implementing #20043. I used
[code]
to get the embedding size, not sure if there is anything easier but having a method that does this would certainly be more helpful if you want to contribute it!

[2022-11-22 13:25] BlinkDL commented on #17230
This is better but GPT is good enough for most applications.

[2022-11-22 13:47] sgugger commented on #20377
I don't think you actually opened it, you just created a new branch :-)

[2022-11-22 13:48] atturaioe commented on #20053
Hi @Saad135, you can take this issues if you want, let me know.

[2022-11-22 13:49] hamishdickson commented on #20372
It's not on your list, but would you complain if I did this for DebertaV2Model?

[2022-11-22 14:18] michaelbenayoun commented on #20372
It is not in the list because `DebertaV2` does not have a regular attention mechanism, so it is not possible to use it with BetterTransformer.

[2022-11-22 14:20] sanchit-gandhi commented on #20252
Thank you @skye! 🙌

[2022-11-22 14:22] stefan-it commented on #19877
That's pretty cool! We had this kind of "problem" when adding support for XLM-R XL models:

https://github.com/huggingface/transformers/pull/12082#issue-665786049

[2022-11-22 14:26] Dahoas commented on #20320
Update: Indeed I was saving and loading fp16 weights when I meant to be saving/loading fp32. (Although I still do not understand why loading fp16 in the manner I do throws an OOM error).

In any case thanks for your help!

[2022-11-22 14:36] sgugger commented on #20383
I don't think the model should be updated. It does require the latest version of Transformers but it was also added since the last release, so it's fair IMO.

[2022-11-22 14:53] younesbelkada commented on #20372
Yes, please see related: https://github.com/huggingface/optimum/issues/487

[2022-11-22 15:03] Mohammed20201991 commented on #20338
@sgugger

[2022-11-22 16:12] damian0815 commented on #20377
ok PR actually made :)

[2022-11-22 16:57] fcakyon commented on #19865
@johko I totally understand it. Interested in your implementation since I will be using VATT in my research next year :)

Are you working on a TF implementation?

[2022-11-22 17:00] osanseviero commented on #20370
Hey there! Thanks a lot for creating and sharing the group :fire:
FYI, there is also a community Discord server with over 16000 members. You can join in [hf.co/join/discord](hf.co/join/discord) :hugs:

[2022-11-22 17:43] leondz commented on #17230
I spent about a month working on this but the code wasn't stable and wasn't version controlled in the normal way, which made refactoring really tricky. Then time ran out. I think if the engineering side of things is fixed, and there's a stable release, it's a great model - definitely more data-efficient than competitors, which is really the core factor now.

[2022-11-22 17:52] KMFODA opened #20392 "Add BART-LS"
### Model description

BART-LS (Long Bart), presented in this [paper](https://arxiv.org/pdf/2209.10052.pdf), establishes a new SOTA on a number of  NLP tasks and long form datasets. It uses pooling-augmented block-wise attention and a novel pre-training strategy to achieve this.

Given my interest in long text summarisation I'm very keen to get this into the wonderful transformers library and to s

[2022-11-22 17:52] aymericdamien commented on #18912
Confirming the issue still exists when using latest TF (2.11). Downgrading TF to 2.9 fix the issue.

[2022-11-22 18:54] morrisalp commented on #20361
Full traceback for first error (using pipeline only):

[code]

[2022-11-22 18:54] morrisalp commented on #20361
Full traceback for second error (creating tokenizer and model & passing them to pipeline):

[code]

[2022-11-22 18:55] morrisalp commented on #20361
@younesbelkada That code gives me the following error, but if this is a GPU OOM error then that is progress :)

[code]

[2022-11-22 18:57] younesbelkada commented on #20361
Nice! Yes this error is indeed due to the fact that your int8 model does not fit your available GPU memory. Could you share here what is the hardware you are using (with the avail GPU RAM)? thanks!

[2022-11-22 19:02] morrisalp commented on #20361
Sure, here are the specs (with nothing running currently):

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.103.01   Driver Version: 470.103.01   CUDA Version: 11.8     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  P

[2022-11-22 19:03] carlose2108 commented on #18478
Hi there!

Is possible to do batch with different parameters in each prompt?

[2022-11-22 19:18] younesbelkada commented on #20361
I see, the 30B parameters model needs at least around `30GB` to be loaded in 8-bit. So you'll need more GPU RAM to fit the model here sadly.
But if you absolutely want to run it, there is hacky solution. You can do:
`pip install --upgrade git+https://github.com/younesbelkada/transformers@bnb_add_custom_map`
and run:
[code]
But keep in mind that the layers that will be set on `cpu` will be kept in

[2022-11-22 19:21] morrisalp commented on #20361
Thanks! I mainly wanted to see what the largest LLM I could fit on one of my GPUs would be using mixed precision, and I couldn't tell previously if the 30B model would be OOM due to the other errors...

[2022-11-22 19:27] minig0lem opened #20393 "can't from transformers import TFBertModel"
### System Info

- `transformers` version: 4.24.0
- Platform: Windows-10-10.0.19044-SP0
- Python version: 3.10.8
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.13.0+cpu (False)
- Tensorflow version (GPU?): 2.11.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distribut

[2022-11-22 19:29] sgugger commented on #20393
This is due to the latest release of TensorFlow which broke many things. You need to either install `transformers` from source (this is fixed on the main branch) or downgrade `Tensorflow` to 2.10. :-)

[2022-11-22 19:38] patrickvonplaten opened #20394 "Regression in CLIPProcessor from 4.24.0 -> 4.25.0.dev0"
### System Info

- `transformers` version: 4.24.0 / 4.25.0.dev0
- Platform: Linux-5.18.10-76051810-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- Huggingface_hub version: 0.11.0.dev0
- PyTorch version (GPU?): 1.11.0+cpu (False)
- Tensorflow version (GPU?): 2.9.1 (False)
- Flax version (CPU?/GPU?/TPU?): 0.6.0 (cpu)
- Jax version: 0.3.16
- JaxLib version: 0.3.15
- Using GPU in script?: <fil

[2022-11-22 21:23] ydshieh opened #20395 "some tokenizer(s) don't save the updated attributes"
### System Info

transformers version: 4.25.0.dev0
Torch version: 1.13.0+cpu
Cuda available: False
Cuda version: None
CuDNN version: None
Number of GPUs available: 0

### Description

For `GPT2Tokenizer(Fast)`, Set `tokenizer.model_max_length` to `128` (originally `1024`), save it then reload, will give `tokenizer.model_max_length` being `1024`.

### Reproduction

[code]

The output is

[code]

##

[2022-11-22 22:11] donelianc commented on #16059
Hi folks,

We are almost done with this task! From the [notebook](https://colab.research.google.com/drive/1EvZTslb50yfRqIcXjCZFrbod4HrPdA0G?usp=sharing) created by RK ([Rocketknight1](https://github.com/Rocketknight1)), I'm sharing here the remaining models to gain some visibility and encourage one last push.

1. PyTorch models:
   - ASTModel
   - EsmForProteinFolding (taken by [ringohoffman](http

[2022-11-22 23:04] ka00ri commented on #20372
Hi, I would like to contribute as well. This would be my first contribution to open source, so I might need some hand holding 🤚

I followed [the documentation](https://huggingface.co/docs/optimum/bettertransformer/tutorials/contribute) and the progress made on FSMT in huggingface/optimum#494 to better understand the task.

I looked into ViLT via

and as I understand the documentation, this should

[2022-11-22 23:13] jrdzha opened #20397 "[CodeGen] RuntimeError: where expected condition to be a boolean tensor, but got a tensor with dtype Half"
### System Info

transformers==4.21.2
torch==1.10.2+cu113

HW: 12 cpu, 90gb ram, 1xA100-80g

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [x] My own task or dataset (give details below)

### Reproduction

**The following works wi

[2022-11-22 23:32] sgugger commented on #20397
cc @younesbelkada

[2022-11-23 00:11] skye commented on #20252
Ah yeah, `v2-alpha-tpuv4-pod` confusingly was only for running TF on a pod slice, and would prevent jax from running across the slice. So that explains it. You should always use `tpu-vm-v4-base` with jax now (or `tpu-vm-base` for v2 and v3).

You can always check the Cloud TPU docs for the latest gcloud commands (I like https://cloud.google.com/tpu/docs/run-calculation-jax and https://cloud.google

[2022-11-23 00:31] joey234 opened #20398 "Generating exactly 1 word (instead of token) using autoregressive LMs"
### Feature request

I am not sure if there exists any way to make the autoregressive type of LMs (like GPT) generate exactly 1 next word (may consists of multiple tokens) instead of just 1 token.
e.g. `  Singing is a kind of ____ -> entertain (token), entertainment (word)`

### Motivation

I came across this problem when trying to evaluate LMs performance on the next word prediction task, especia

[2022-11-23 00:48] jrdzha commented on #20397
Another way to reproduce is to use https://github.com/huggingface/transformers-bloom-inference

and run:

[code]

[2022-11-23 06:27] customer101 commented on #18190
Hi @ydshieh ,

I'm facing the same problem but for another model, here is a link to the [issue](https://discuss.huggingface.co/t/encoder-decoder-model-only-generates-bos-tokens-s-s-s/26470),

The finetuning works fine, and the loss is decreasing as expected, but the model doesn't generate any sequences, is there a way to modify the generation logic to get something out, without re-finetuning the m

[2022-11-23 07:02] younesbelkada commented on #20361
I see now thanks a lot!
Closing this issue as I consider to be completed, don't hesitate to reopen it if you have more questions !

[2022-11-23 07:02] #20361 closed

[2022-11-23 07:09] thoufeeq1218 opened #20399 "Tokens truncated if exceeded 512 tensor shape"
### System Info

Hi,
    Im using Layoutlmv2 pretrained transformer model, if I put "truncation =True" only half of the image were detected remain not
![res](https://user-images.githubusercontent.com/86664855/203488657-64f08e35-7c07-4580-a5f0-3b34675640a2.png)

### Who can help?

@sanchit-gandhi @sgugger

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

[2022-11-23 07:50] ydshieh commented on #20395
It turns out that we use
https://github.com/huggingface/transformers/blob/0ee71188ff184ee5f8b70081665858301fe4afb1/src/transformers/tokenization_utils_fast.py#L735
which is defined
https://github.com/huggingface/transformers/blob/0ee71188ff184ee5f8b70081665858301fe4afb1/src/transformers/tokenization_utils_base.py#L1475

Is this the expected behavior, i.e. we don't want to save the modified attribu

[2022-11-23 08:01] ydshieh commented on #18190
I answered in your post on the forum, but just in case

[2022-11-23 08:05] NielsRogge commented on #20328
Yes, that's also shown in the docs. Note that `TFViTMAEModel.from_pretrained("facebook/vit-mae-base")` will just load the base Encoder, which does not include the decoder used during pre-training. For that you would need to load `TFViTMAEForPreTraining`.

[2022-11-23 08:05] #20328 closed

[2022-11-23 08:13] SaulLu commented on #20395
Hi @ydshieh,

This is a very good remark! I've also often wondered... what I'm afraid of is that for some attributes the tokenizer's behavior is different between:
1. A tokenizer initialized with some parameters and then with a parameter that is modified on the fly
2. A tokenizer that would be initialized with the final parameters of the previous tokenizer

What is complicated with tokenizers is t

[2022-11-23 08:19] GenVr commented on #20372
I noticed that Better Transformers for the T5 model has not been implemented yet. Will it be implemented in the future (if possible)? Thanks.

[2022-11-23 09:04] younesbelkada commented on #20372
Hi @GenVr
Thanks a lot for your reply! Unfortunately `T5` cannot be supported because of the nature of its attention mechanism. In fact `T5` uses attention bias and this is not supported for `BetterTransformer`
Thanks!

[2022-11-23 09:16] qwead520 opened #20402 "Cached model files can't be referred in docker container on AWS Lambda"
### System Info

{
  "errorMessage": "Can't load tokenizer for 'model_name'. If you were trying to load it from 'https://huggingface.co/models', make sure you don't have a local directory with the same name. Otherwise, make sure 'model_name' is the correct path to a directory containing all relevant files for a BlenderbotTokenizer tokenizer.",
  "errorType": "OSError",
  "requestId": "",
  "stackT

[2022-11-23 09:50] drAbreu opened #20403 "SwiGLU activation function"
### Feature request

Since it has been recently used in [PaLM](https://arxiv.org/abs/2204.02311) and several papers report its better performance, it would be good to have access to a [SwiGLU](https://arxiv.org/pdf/2002.05202v1.pdf) implementation as an activation function.

### Motivation

I am building a biomedical RoBERTa-based model with specific biomedical vocabulary. It could be seen as a Pu

[2022-11-23 09:53] ChainYo commented on #16308
Go for it. Feel free to open a PR (one per architecture) once you are done with your implementation!

[2022-11-23 10:00] drAbreu commented on #20403
I feel so sorry,

I was working on an outdated version of the repository.

The

[2022-11-23 10:02] gante commented on #18478
Hi @carlose2108 👋 That is impossible with our `.generate()` function. But it should be possible to build under certain assumptions, if you'd like to build it for your project.

[2022-11-23 10:23] tonifuc3m opened #20404 "Fail when using FeatureExtractionPipeline for the inference of t5-small"
### System Info

- transformers version: '4.24.0'
- platform: Ubuntu 20.04.5 LTS
- Python version: 3.8.10
- Huggingface_hub version: '0.10.1'
- torch version: '1.13.0+cu117'

### Who can help?

@patrickvonplaten
@Narsil

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)

[2022-11-23 10:27] Saad135 commented on #20053
@atturaioe Sure, I will give it a go.

[2022-11-23 11:07] Narsil commented on #20404
Do you have `sentencepiece` installed ?

`pip install sentencepiece` should fix it (as suggests the last line of the error).

[2022-11-23 12:13] sanchit-gandhi commented on #20399
Hey @thoufeeq1218! cc'ing in the vision specialist @NielsRogge 😎

[2022-11-23 12:25] carlose2108 commented on #18478
Hi @gante thanks a lot for your response!

[2022-11-23 12:38] qq775294390 opened #20413 "DeBERTa-v2's build_relative_position method initializes tensor on cpu and costs much time"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-4.14.105-1-tlinux3-0013-x86_64-with-glibc2.10
- Python version: 3.8.3
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.10.1+cu113 (True)
- Tensorflow version (GPU?): 2.10.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Y

[2022-11-23 12:48] #20394 closed

[2022-11-23 12:56] sanchit-gandhi opened #20414 "ASR Pipeline is not super user-friendly"
### Feature request

Firstly, thank you to @Narsil for developing a the speech recognition pipeline - it's incredibly helpful for running the full speech-to-text mapping in one call, pre and post-processing included.

There are a couple of things that currently mean the pipeline is not super compatible with 🤗 Datasets. I'll motivate them below with an example.

### Motivation

Let's take the examp

[2022-11-23 13:40] sgugger commented on #20398
cc @gante

[2022-11-23 13:49] sgugger commented on #20403
Hi there! We would recommend you to modify the modeling file to suit your needs, you can then include it with your checkpoint using the [custom model on the Hub](https://huggingface.co/docs/transformers/custom_models#sending-the-code-to-the-hub) feature.

[2022-11-23 13:51] sgugger commented on #20413
We'd be happy to review a PR if you want to fix this :-)

[2022-11-23 14:08] sanchit-gandhi commented on #20414
One additional point! We can't pass generation kwargs to the `generate` method:
https://github.com/huggingface/transformers/blob/0ee71188ff184ee5f8b70081665858301fe4afb1/src/transformers/pipelines/automatic_speech_recognition.py#L369-L372

This means our stdout is bombarded with UserWarnings from the `generate` method:
[code]

Would be nice to be able to override generation kwargs to prevent these

[2022-11-23 14:09] raghavanone commented on #19904
@sgugger  Any thoughts on this ?

[2022-11-23 14:24] sanchit-gandhi commented on #20414
Just went through the code in more-detail and found that "array" is pop'd from the input dict!
https://github.com/huggingface/transformers/blob/0ee71188ff184ee5f8b70081665858301fe4afb1/src/transformers/pipelines/automatic_speech_recognition.py#L278-L280

[2022-11-23 14:28] AlexVialaBellander opened #20415 "GPT2LMHeadModel not working with mps device, RuntimeError: tensors must be 2-D"
### System Info

- `transformers` version: 4.24.0
- Platform: macOS-13.0-arm64-arm-64bit
- Python version: 3.9.13
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes, (mps)
- Using distrib

[2022-11-23 14:34] sgugger commented on #20415
Looks like this comes from an op not implemented in PyTorch. I'd try upgrading PyTorch (even to the nigthlies) as support for MPS is still in progress on their side.

[2022-11-23 14:34] #20402 closed

[2022-11-23 15:02] #19142 closed

[2022-11-23 15:09] AlexVialaBellander commented on #20415
Thanks @sgugger, sorry for wasting your time. I had pytorch 1.12.1 and 1.13 worked fine.

[2022-11-23 15:09] #20415 closed

[2022-11-23 15:18] qwead520 commented on #19048
I am using the latest version of Huggingface-hub(0.11.0), but still facing the same issue.
[code]

[2022-11-23 15:59] Narsil commented on #20414
Multiple points:

as far as I remember we can also accept `array` for that reason. (`raw` came before `datasets` had normalized iirc so that's the reason for the discrepancy, but since we don't break, neither is going to go away in pipeline I'm afraid.
The problem is not `array` it's `audio`. See more in the docs about `KeyDataset` (or the iterator which I think is more elegant, but it lacks the n

[2022-11-23 16:07] davidbaines commented on #19070
Would it be possible to keep this issue open? We are trying to improve output using constrained decoding and this issue prevents that.

[2022-11-23 17:03] ydshieh opened #20418 "`additional_special_tokens` is replaced instead of being updated"
### Reproduction

[code]

gives

[code]

### Expected behavior

We should get

['new_token_1', 'new_token_2', 'new_token_3']

[2022-11-23 17:16] #20395 closed

[2022-11-23 17:17] piEsposito commented on #19992
Thanks for understanding, I'll try to get at least a draft today.

[2022-11-23 17:22] NielsRogge commented on #20418
I also saw this issue, and found it very unintuitive. Should be addressed in V5 imo. Cc @LysandreJik @SaulLu

[2022-11-23 17:43] SaulLu commented on #20418
To share what has been discussed on slack.

I think the naming is confusing but the current behavior of the method is useful because we need to be able to completely change the list of tokens associated with additional special tokens. Maybe calling this method `set_special_tokens` would be less confusing?

Basically, the difficulty here is that I think it's not necessarily obvious what types of to

[2022-11-23 18:47] fivehills opened #20422 "Linguistic words (not word pieces) enter Transformer"
### System Info

Linux Debian
Bert
GPT

### Who can help?

@ArthurZucker
@SaulLu
@LysandreJik

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [X] My own task or dataset (give details below)

### Reproduction

Hi,

The Tokenizer from the pretrained model tokenizes n

[2022-11-23 20:11] sgugger commented on #20422
The model only "knows" the tokens present in the tokenizer vocabulary, so you won't be able to pass something else to it.

[2022-11-23 21:27] peregilk commented on #20252
Thanks a lot @skye! I can now see the devices after loading Transformers. I have also verified that is calculates the batch size correctly:
`train_batch_size = int(training_args.per_device_train_batch_size) * jax.device_count()`

With `per_device_train_batch_size=62` on a v4-8, this means `batch_size=248`. This runs on the single TPU.

On a v4-32 this becomes `batch_size=992`. Here I am still gett

[2022-11-23 21:34] skye commented on #20252
I'm not very familiar with using `transformers`, but you may need to use `jax.local_device_count()` instead of `jax.device_count()` somewhere? See https://jax.readthedocs.io/en/latest/multi_process.html. Let me know if you still have questions, this can be tricky!

[2022-11-23 21:35] yzGao22 opened #20428 "Migarate old cache to transformers v4.22.0"
### System Info

- `transformers` version: 4.22.0
- Platform: Linux-5.4.0-1089-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.10
- Huggingface_hub version: 0.11.0
- PyTorch version (GPU?): 1.11.0+cu102 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed

### Who can help?

[2022-11-23 21:36] piEsposito commented on #19992
@Rocketknight1 after some delay I could figure out a way to make it work, even with generation. I've requested your review and, as we agreed, kept the implementation minimal for us to get a sense of the effort needed to create the in-layer TF Tokenizer for the models that use BPE.

[2022-11-24 02:23] qwead520 commented on #20428
I am also facing this issue with 4.24

[2022-11-24 02:28] zhoutong-fu opened #20430 "Questions on ViT and ViT-MAE model image preprocessing"
### System Info

Latest version

### Who can help?

@NielsRogge

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

Hi @NielsRogge, I'm reading the ViT image processing from HF and its original implemen

[2022-11-24 03:43] robbohua opened #20431 "Last hidden states different for same input even when evaluating ViT model"
### System Info

Google Colab

### Who can help?

@NielsRogge @sg

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

I've created a public Colab notebook: https://colab.research.google.com/drive/1CUpyN

[2022-11-24 04:32] #20366 closed

[2022-11-24 06:34] manjuke commented on #20382
@sanchit-gandhi Could you please reply my issue raised on hugging face. Awaiting response. Thanks

[2022-11-24 07:27] qq775294390 commented on #20413
Thanks for replying, I've created a PR for this issue  :-)

[2022-11-24 08:40] NielsRogge commented on #20431
Hi,

Yes ViTMAE generates a random boolean mask to mask patches internally. This results in non-deterministic hidden states when you perform a forward pass twice on the same image.

To get deterministic behaviour, you can pass a noise tensor yourself as shown [here](https://github.com/huggingface/transformers/blob/afce73bd9d891b55dcb8d4d875d17718ffa01ff0/tests/models/vit_mae/test_modeling_vit_mae.

[2022-11-24 09:04] NielsRogge commented on #20430
Hi,

Thanks for your interest in ViT and ViT MAE!

Regarding point 1; ViT was ported from the timm library, which also uses a scale factor of 1/255. This can be verified as follows:

[code]
which prints:
[code]
=> here, [ToTensor](https://pytorch.org/vision/stable/generated/torchvision.transforms.ToTensor.html) is used, which as stated in the docs converts a tensor with values 0 - 255 to the range

[2022-11-24 09:11] NielsRogge commented on #20358
[code]

[2022-11-24 09:11] #20358 closed

[2022-11-24 09:48] ydshieh commented on #20418
The problem is that we need some consistency between `additional_special_tokens` and `added_tokens_encoder`. I don't mean we can achieve this 100%, but in this example, if the role of `additional_special_tokens` is to `completely change the list of tokens associated with additional special tokens`, we can't have `added_tokens_encoder` still keep the original added tokens. This doesn't make any sen

[2022-11-24 10:25] SaulLu commented on #20418
I understood what was bothering you :smile: , that's why in my previous message I tried to show that the notion of "special token" is different from the notion of "added token".

I understand that it bothers you and finally what you propose is maybe the desirable behavior of the tokenizer but before making this breaking change I would like to explain why I think that the length of the full tokeniz

[2022-11-24 10:49] sanchit-gandhi commented on #20414
Thanks for the super in-depth explanation, @Narsil! Incredibly helpful and much appreciated 🤗

Maybe I'm missing the point a bit with why pipelines exist - are they geared more towards maximising performance for inference (or at least giving you the option to)? Rather than just being a nice wrapper around the feature extractor, model and tokenizer?

Sounds good regarding:
1. Updating the doc strin

[2022-11-24 11:02] calix commented on #14839
I am getting the following error when attempting to fine-tune:

`Traceback (most recent call last):
  File "/opt/gpt-j-8bit/gpt-j-6b-8-bit.py", line 242, in <module>
    out = gpt.forward(**batch,)
  File "/opt/gpt-j-8bit/.env/lib/python3.8/site-packages/transformers/models/gptj/modeling_gptj.py", line 782, in forward
    transformer_outputs = self.transformer(
  File "/opt/gpt-j-8bit/.env/lib/pyt

[2022-11-24 11:07] robbohua commented on #20431
Thanks!

[2022-11-24 11:07] #20431 closed

[2022-11-24 11:07] ydshieh commented on #20418
Oh! I get your point @SaulLu now ! Thank you for the patience to correct my desire to break everything.

[2022-11-24 11:13] SaulLu commented on #20418
No worries, actually I took a long time to understand this subtlety of the code and I'm glad that it can be useful! In any case, this discussion shows that tokenizers are not easy to understand and that we can surely improve this aspect!

[2022-11-24 11:39] NielsRogge commented on #20431
Btw another way (in case you don't want to mask patches) is to set `config.mask_ratio=0.0`

[2022-11-24 11:54] Narsil commented on #20414
Well you initial issue was also pretty comprehensive, so thanks for creating it.

Pipeline started without any real guidelines into what they should or should not do.
Currently the first and foremost goal is to **make ML accessible for users who have no clue what is a model or tensors**, it's the primary target.
That being said, being efficient for inference goes along since we don't want to provi

[2022-11-24 11:59] sanchit-gandhi commented on #20367
Hey @jp1924

I think there's some confusion between `vocab_file`, `vocab_files_names` and `VOCAB_FILES_NAMES`:
* `vocab_file`: an **argument** that denotes the path to the file containing the tokeniser's vocabulary
* `vocab_files_names`: an **attribute** of the class `Wav2Vec2CTCTokenizer` (not an input argument). Note that this is a required attribute of the base class `PreTrainedTokenizerBase`:

[2022-11-24 12:18] sanchit-gandhi commented on #20382
Replied on the forum!

[2022-11-24 12:50] fivehills commented on #20422
Many thanks! @sgugger

I am wondering whether a separate third-party tokenizer  tool (from existing packages) is able to first split sentences into natural words, and compute alignments between full words and the sub-words split by Transformer tokenzier.

It will be greatly appreciated if you could kindly point out these tools.

[2022-11-24 13:02] NielsRogge opened #20435 "Add DPT-hybrid"
### Model description

DPT-hybrid is used in Stable Diffusion 2.0's depth model and is also a nice depth estimation model in general.

We already support DPT, but not DPT-hybrid. The latter uses ViT-hybrid as backbone.

Hence, we first would need to add ViT-hybrid to the library. This model is very similar to a regular ViT, except that instead of patchifying an image and embedding each patch, this

[2022-11-24 13:31] SaulLu commented on #20422
Hi @fivehills,

The fast versions of our tokenizers have methods that will surely be useful to you. I advise you to look at [the section " Fast tokenizers' special powers"](https://huggingface.co/course/chapter6/3?fw=pt ) of our course that will explain how you can map tokens to "words" and map the tokens back to the input sentence.

[2022-11-24 15:05] cahya-wirawan commented on #19070
I am also interested to use this constrained text generation functionality which currently doesn't work anymore.

[2022-11-24 15:13] mmarius opened #20438 "transformers + deepspeed hangs when training on multiple GPUs"
### System Info

My code runs inside an NVIDIA docker container `nvcr.io/nvidia/pytorch:22.05-py3`.

The installed dependencies are listed here: https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html#framework-matrix-2022

I'm using the following versions for transformers and deepspeed:

- transformers==4.24.0
- deepspeed==0.7.5

### Who can help?

@stas00

### Information

- [

[2022-11-24 15:15] mmarius commented on #20438
This is the output produced by the file. It keeps running forever and does not produce any new output.

    Detected CUDA_VISIBLE_DEVICES=GPU-460af155,GPU-457e4df4,GPU-08f1eba5,GPU-4793f3fd,GPU-cbc5b6ef,GPU-aa661638,GPU-a39d482a,GPU-dc0ceb93 but ignoring it because one or several of --include/--exclude/--num_gpus/--num_nodes cl args were used. If you want to use CUDA_VISIBLE_DEVICES don't pass any

[2022-11-24 17:36] payoto opened #20440 "Adding a repr to pipelines"
### Feature request

Would you be interested in adding a `__repr__` to the `Pipeline` class?

### Motivation

This could be used to display useful information after instantiation, particularly in interactive environments like Jupyter. A useful representation would be very useful to display what defaults were loaded by a library or model.

### Your contribution

I've been testing in my local instal

[2022-11-24 17:50] jegork commented on #15666
@fcakyon
I have added a pull request to add the model, however, I am still in the process of writing tests so it might take some time to get it into the release, but you could already try the model out using my fork.
You can install it by using
[code]

To try it out, use the following code:
[code]

Will really appreciate your feedback!

[2022-11-24 18:47] orectique opened #20442 "Error while importing pretrained model"
### System Info

- `transformers` version: 4.23.1
- Platform: Windows-10-10.0.22621-SP0
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.13.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or pa

[2022-11-24 19:29] fivehills commented on #20422
@SaulLu  Many thanks!
[the section " Fast tokenizers' special powers"](https://huggingface.co/course/chapter6/3?fw=pt) can solve the problem of alignment between word pieces and natural words.

[2022-11-24 19:54] theRealMachineWhisperer commented on #19844
After install transformers with anaconda on Ubuntu 22 my scripts wont run anymore with tons of these ImportErrors:
(ie.) libffi.so.7: cannot open shared object file: No such file or directory
Removed and created a new environment with fresh install of dependancies and its still broken. This software ruined my machine

[2022-11-24 23:15] rwightman commented on #20430
@NielsRogge @zhoutong-fu

ToTensor: uint8 0-255 -> float 0-1.0
Normalize(mean=tensor([0.5000, 0.5000, 0.5000]), std=tensor([0.5000, 0.5000, 0.5000])): float 0.-1.0 -> float -1, 1

Interpolation should be bicubic for both ViT and ViT MAE

[2022-11-25 00:21] jp1924 commented on #20367
I didn't think I could save it using the prefix. Thank you for letting me know!

[2022-11-25 00:21] #20367 closed

[2022-11-25 00:33] zhoutong-fu commented on #20430
Thank you guys for the discussion.

[2022-11-25 02:52] stas00 commented on #20438
This is almost certain an issue that you'd need to report to the Deepspeed, since the hanging isn't related to HF integration. The only hanging that could happen is in `generate` if one doesn't set the gpu sync flag on. but I don't see you using it.

But here are some suggestions based on my experience:

1. This could be a hardware issue. Can you try the same code on a different server of the same

[2022-11-25 05:26] nandwalritik commented on #20435
Hi @NielsRogge Can I take this up if no one is working on it?

[2022-11-25 09:29] wccccp opened #20447 "ImportError: cannot import name 'CommitOperationAdd' from 'huggingface_hub' (C:\Users\46213\anaconda3\lib\site-packages\huggingface_hub\__init__.py)"
### System Info

windows
python=3.9
transformers              4.23.1
pytorch                   1.13.0          py3.9_cuda11.6_cudnn8_0    pytorch

### Who can help?

_No response_

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give deta

[2022-11-25 09:37] NielsRogge commented on #20447
Could you do `pip show huggingface_hub`?

[2022-11-25 09:58] lvwerra commented on #20393
This also broke the `evaluate` CI :) Will fix to `<=2.10` for now.

[2022-11-25 11:05] wccccp commented on #20447
(base) C:\Users\46213>pip show huggingface_hub
Name: huggingface-hub
Version: 0.10.1
Summary: Client library to download and publish models, datasets and other repos on the huggingface.co hub
Home-page: https://github.com/huggingface/huggingface_hub
Author: Hugging Face, Inc.
Author-email: julien@huggingface.co
License: Apache
Location: c:\users\46213\anaconda3\lib\site-packages
Requires: typing-e

[2022-11-25 11:06] wccccp opened #20448 "Could you do `pip show huggingface_hub`?"
Could you do `pip show huggingface_hub`?

_Originally posted by @NielsRogge in https://github.com/huggingface/transformers/issues/20447#issuecomment-1327215502_

[2022-11-25 12:17] gante commented on #20398
Hi @joey234 👋

By default, we don't directly support that functionality. While generating, the model is unaware of where a word starts and ends -- it exclusively works at a token level. The solution you described is IMO the simplest way to do it, and the engineering effort of a working solution probably exceeds the extra computing time... unless you intend to use it for a large number of models!

[2022-11-25 12:22] carschno opened #20449 "Encoding.word_to_tokens() returns None within valid sequence"
### System Info

- `transformers` version: 4.23.1
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.10.6
- Huggingface_hub version: 0.10.1
- PyTorch version (GPU?): 1.12.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes(?)
- Using distribu

[2022-11-25 12:23] gante commented on #19070
Reopened and added to my generate task queue :)

[2022-11-25 13:02] SaulLu commented on #20422
I'm glad this helped you! I'm closing this issue as it seems to have been resolved :blush:

[2022-11-25 13:02] #20422 closed

[2022-11-25 13:03] SaulLu commented on #20449
Hi @carschno ,
Thank you very much for bringing the problem to our attention! It is indeed information filled in the docstring of the method but there is a problem when rendering this documentation on our site. I'm trying to fix it in this PR #20450 .

[2022-11-25 13:07] carschno commented on #20449
I see, it is a documentation issue. Thanks for looking into it!

I still think it is counter-intuitive that there can be words without corresponding tokens. I can imaging some special cases, but perhaps it would be a good occasion to elaborate or exemplify those cases in the documentation a bit?

[2022-11-25 13:11] SaulLu commented on #20449
Thanks for your feedback! We can indeed give an example in the documentation. It is a case that occurs in particular when we ask to the tokenizer to add special tokens to match a template. For example, if it is asked to add a class token at the beginning of the sentence, this token class token does not correspond to anything in the initial raw sentence.

[2022-11-25 13:18] carschno commented on #20449
Thanks again, that makes sense! However, the example case you describe does not really fit the case I have encountered. No template has been involved there.

Originally, I came across the issue in a long, OCR'd text with many special characters and erroneous tokens due to OCR errors. But in the example I used in my investigations (and pasted here), this is not the case either.

[2022-11-25 13:30] SaulLu commented on #20449
I could be wrong but it seems to me that your example uses a template. We can see it by running the following code:
[code]
which gives:
[code]
Here we can see that the `None` correspond to the "template" tokens `'<s>'` and `'</s>'`.

[2022-11-25 13:31] OllieBroadhurst opened #20451 "Wav2Vec2 adapter layer being ignored at random"
### System Info

Hi there!

During training, the hidden states of the base Wav2Vec2 model seem to be randomly skipping the adapter layer [here](https://github.com/huggingface/transformers/blob/main/src/transformers/models/wav2vec2/modeling_wav2vec2.py#L1322).

Just repeatedly running a forward pass with the same inputs will, on occasion, produce different output sequence lengths. When this happens

[2022-11-25 13:38] cronoik opened #20452 "Documentation missing is_decoder"
### System Info

-

### Who can help?

@sgugger @stevhliu

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details below)

### Reproduction

The bert documentation [page](https://huggingface.co/docs/transformers/model_doc/bert)  ment

[2022-11-25 13:56] RJZauner commented on #20372
Hi :) I would like to work on the implementation for [RemBertLayer](https://github.com/huggingface/transformers/blob/95754b47a6d4fbdad3440a45762531e8c471c528/src/transformers/models/rembert/modeling_rembert.py#L415).

What are the next steps in getting started?

Thank you!

[2022-11-25 13:59] stribizhev commented on #6263
In my case, I had to use `device="cuda:8"` to specify a GPU core other than the default `0`.

[2022-11-25 14:28] tonifuc3m commented on #20404
Thanks for the reply.
Installing `sentencepiece` could solve the error when loading `google/mt5-small`.
However, the error when using the other T5 models (`t5-small` and `google/flan-t5-base`) is not related to `sentencepiece`.

[2022-11-25 14:31] carschno commented on #20449
I suppose you are right. I had some doubts because in my aforementioned original text (long erroneous), this occurred somewhere in the middle of the text. I will try to reproduce, but I guess there might have been special tokens as well due to longer sequences of whitespace and/or punctuation.

[2022-11-25 14:44] Narsil commented on #20404
[code]

Either you don't have `tokenizers` installed, or `sentencepiece`. It works perfectly in my environement.

Can you try this:

[code]

[2022-11-25 15:02] #19708 closed

[2022-11-25 15:02] #19702 closed

[2022-11-25 15:02] #19660 closed

[2022-11-25 15:05] NielsRogge commented on #19885
Closing this issue for the reason above.

[2022-11-25 15:05] #19885 closed

[2022-11-25 16:46] younesbelkada commented on #20372
Hey @RJZauner !
Thanks so much for your interest in helping us integrating more models for `BetterTransformer` !
RemBert seems to use the same attention mechanism as BERT, the only difference should be on the Embedding layer, which is fine for us! So I would say you can move ahead and start forking [optimum](https://github.com/huggingface/optimum) library, create a new branch and open a draft PR.

[2022-11-25 17:06] shogohida commented on #20372
Hi @younesbelkada, I would like to work on the easiest of the models mentioned above. Which one do you recommend? What I said might sound a bit weird but I want to tackle a simple one since I'm not very familiar with these models 🙏

[2022-11-25 17:14] sanchit-gandhi commented on #20414
Thank you again for the super comprehensive reply, really appreciate the time given to answering this thread!

Awesome! Think it's fantastic in this regard.

Did someone say Rust 👀

Thanks for linking the tutorials - I learnt quite a lot from this thread + docs after knowing where to look. I guess you have two camps of people that will be using pipeline:

1. Those migrating from the transformers a

[2022-11-25 17:46] michaelbenayoun commented on #20372
Hi @shogohida and @JuheonChu ,

You can read this [page](https://huggingface.co/docs/optimum/bettertransformer/tutorials/contribute) for learning how to contribute. You can then open a PR with your code, and ask questions there, we will be glad to help!

Also @shogohida, I think they are all similar in terms of difficulty, so do not block on that, maybe choose a model with the modality the most fa

[2022-11-25 17:47] JuheonChu commented on #12789
Replace assertion with ValueError in modeling_distilbert.py #20433

[2022-11-25 17:48] younesbelkada commented on #20372
Seconding what @michaelbenayoun said, feel free to check some example PRs https://github.com/huggingface/optimum/pull/508 or https://github.com/huggingface/optimum/pull/494 for reference!
@shogohida , you can take RocBERT, actually it copies from Bert so the conversion will be very easy :)

[2022-11-25 17:50] JuheonChu commented on #12789
Replace assertion with ValueError exceptions in modeling_distilbert.py  #https://github.com/huggingface/transformers/pull/20433

[2022-11-25 18:03] shogohida commented on #20372
Thanks guys for your replies! I will take RocBERT then!

[2022-11-25 18:31] JuheonChu commented on #20372
Thanks @michaelbenayoun ! I will take TapasLayer !

[2022-11-25 18:52] cvinker opened #20457 "No module named 'keras.saving.hdf5_format'"
I am running a virtual instance of Ubuntu 22.04LTS on Google Cloud. I have followed these instructions:[https://huggingface.co/docs/transformers/installation](url)
I am running solely CPU so I followed the instructions for that. Independently installed tensorflow, flax, and pytorch without error.
After doing this and using the test command:
`python -c "from transformers import pipeline; print(pipe

[2022-11-25 18:58] cvinker commented on #20457
Ah, I used `pip install git+https://github.com/huggingface/transformers` works now.

[2022-11-25 18:58] #20457 closed

[2022-11-25 19:08] patrickvonplaten commented on #20435
This would be great @nandwalritik ! The Stable Diffusion Depth estimation model depends on it, so we'd definitely help you in whatever way we can :-)

[2022-11-25 19:11] patrickvonplaten commented on #20435
@NielsRogge should we port the ResNetv2 exactly like ResNetv1: https://github.com/huggingface/transformers/blob/main/src/transformers/models/resnet/modeling_resnet.py or could we directly port it from `timm`?

[2022-11-25 19:11] patrickvonplaten commented on #20435
Could you provide some more links on how to add ViT-Hybrid?

[2022-11-25 19:28] #20449 closed

[2022-11-25 20:43] averad commented on #20448
This issue appears to have been opened in error. If this is the case @wccccp you can close this Issue Request using the buttons below 👇

[2022-11-25 23:57] #20448 closed

[2022-11-25 23:57] wccccp commented on #20448
thank you

[2022-11-26 00:58] joey234 commented on #20398
Thank you so much for the guidance 🤗. I will try building based on the `stopping_criteria` argument.

[2022-11-26 00:58] #20398 closed

[2022-11-26 04:24] ravenouse commented on #20372
Hi! Thank you so much for opening this issue. I am implementing the RemBERT right now.

From comparing the source code of the BERT and the RemBERT, I found out there are no significant differences between the BERT encoder and RemBERT encoder. To my best understanding, the implementation of the RemBertLayerBetterTransformer will be more of copy and past from the BertLayerBetterTransformer. In this

[2022-11-26 08:02] blakechi commented on #20372
Hello @younesbelkada,

I would like to take [DetrLayer](https://github.com/huggingface/transformers/blob/95754b47a6d4fbdad3440a45762531e8c471c528/src/transformers/models/detr/modeling_detr.py#L610). Nice tutorial btw 😀

[2022-11-26 09:57] younesbelkada commented on #20372
Hi @blakechi !
Sure you can take it ;) let me know if you need help opening a PR!

[2022-11-26 09:59] younesbelkada commented on #20372
Hi @ravenouse !
Thanks for your help! Yes you can take MBART ;)
Regarding the dead link could you open an issue at optimum?
Thanks!

[2022-11-26 11:44] peregilk commented on #20252
Thanks a lot @skye and @sanchit-gandhi for assisting in this. Really useful comments. It seems like splitting between the nodes simply isnt implemented in the code I am using. @agemagician actually implemented this in [pull #16527](https://github.com/huggingface/transformers/pull/16527) but it is only added to [run_mlm_flax_t5.py](https://github.com/huggingface/transformers/blob/main/examples/flax

[2022-11-26 15:02] #19743 closed

[2022-11-26 15:02] #19740 closed

[2022-11-26 15:02] #18811 closed

[2022-11-26 17:36] NielsRogge commented on #20435
@patrickvonplaten yes we can add ResNetv2 in the same way as we added Resnet V1. Meaning, a separate standalone model in the library.

Once we have that, we have everything we need to define modeling_dpt_hybrid.py. This would be a copy of modeling_dpt.py, except that we leverage ResNetv2 (we can do that using the new AutoBackbone API which is just added) in the DPTViTEmbeddings class.
For stable d

[2022-11-26 17:48] RJZauner commented on #20372
Thank you for the info!

[2022-11-26 20:03] bofenghuang commented on #20451
Hi, I think it's because `Wav2Vec2AdapterLayer` layers got dropped out here.

https://github.com/huggingface/transformers/blob/61d3928bfb3029bceb5be3e68ca3d4bf8456758f/src/transformers/models/wav2vec2/modeling_wav2vec2.py#L1006-L1009

You can pass `layerdrop=0` to `from_pretrained()` to deactivate it.

cc @patrickvonplaten, I understand the use of layerdrop in transformers structure, but why shoul

[2022-11-26 21:21] krahnikblis commented on #16054
still broken in diffusers, recommend something like this unless you can port over the stuff done here?
class dtypeEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, torch.dtype): # might wanna add np, jnp types too?
            return str(obj)
        return json.JSONEncoder.default(self, obj)

## tests:
d = {"torch_dtype": torch.float16}
json.dumps(d) ## fail: TypeE

[2022-11-26 22:28] asydorchuk commented on #13991
This has significant implications if using `CLIP` models for production applications with GPUs. Essentially image preprocessing takes significant part of inference time for batches of data since it uses a single core as can be seen here:
https://github.com/huggingface/transformers/blob/61d3928bfb3029bceb5be3e68ca3d4bf8456758f/src/transformers/models/clip/image_processing_clip.py#L324-L342

[2022-11-26 22:28] OllieBroadhurst commented on #20451
Wow, completely missed that. Thank you!

[2022-11-26 22:28] #20451 closed

[2022-11-27 00:01] atturaioe commented on #20442
Hi @orectique, I'm not sure but it seems like it's a PyTorch error. Have you tried to check the following:
https://discuss.pytorch.org/t/nameerror-name-c-is-not-defined-while-importing-torch/124721/2 or
https://github.com/pytorch/pytorch/issues/1633#issuecomment-323435572

[2022-11-27 10:55] johko commented on #19865
Sorry for the late reply (again 🙈). Yes I'm working on a TF implementation. As the original repo is using it, I'm first doing that and then see about pytorch.

[2022-11-27 11:01] fcakyon commented on #19865
@johko, thanks for the response! I may also help with the pytorch part once you finalize the TF implementation 👍

[2022-11-27 11:20] johko commented on #19865
@fcakyon that would be great, as my expertise is more in TF 🙂

[2022-11-27 12:02] orectique commented on #20442
Thank you, @atturaioe. I explored both of those forums and tried the strategies. However, the error seems to have been something else. Anywho, in exasperation, I dumped the entire environment I was using and installed all the packages from scratch. That seems to have done it.

[2022-11-27 12:02] #20442 closed

[2022-11-27 13:57] zzk0 commented on #16569
The code below works fine for me. The only difference is that use AutoModelForMaskedLM instead of AutoModel

[code]

[2022-11-27 15:02] #19762 closed

[2022-11-27 15:02] #19761 closed

[2022-11-27 15:02] WeiShi-9 commented on #19311
你好，我已经收到您的邮件~

[2022-11-27 15:31] muhark commented on #19844
Downgrading to `tokenizers=0.10.3` seems to work as an interim fix. The main issue appears to be from a conflict between some libraries (e.g. TF) requiring OpenSSL<=1.1.1, and tokenizers using OpenSSL3.

I think that this can be circumvented by using transformers from pip or source, although in my particular project conda/mamba is a stricter requirement.

Solution is basically discussed here: http

[2022-11-27 16:15] peregilk commented on #20252
@sanchit-gandhi I have not been able to fix this yet, but I think that I at least have been able to pin down the bottleneck here.

This [iteration](https://github.com/huggingface/transformers/blob/61d3928bfb3029bceb5be3e68ca3d4bf8456758f/examples/research_projects/jax-projects/dataset-streaming/run_mlm_flax_stream.py#L287-L294) is **extremely slow**. It takes a couple of minutes per step. Not sure

[2022-11-28 04:10] nandwalritik commented on #20435
@NielsRogge @patrickvonplaten Can you let me know the next steps, what should I add first?
ResNetv2 -> ViT-hybrid -> DPT-hybrid, will this be the order?

[2022-11-28 04:54] #19887 closed

[2022-11-28 05:26] JuheonChu commented on #20055
Hello, do you mind if  I can tackle on ALBERT model?

[2022-11-28 07:02] ArthurConmy commented on #10067
Getting this error, and found out today that **HuggingFace is down** so this is likely not because of the issues mentioned above at the moment

[2022-11-28 07:12] Damon03 commented on #16569
I think it is the bert implementation causes this error. @zzk0 's roberta works fine

[2022-11-28 07:12] RenzeLou commented on #8690
I have encountered this error more than once.

The solution can be various, e.g., sometimes I delete all my cached files, and sometimes I just delete some big files (model files), and also sometimes I just wait for it for several minutes then it works again without doing anything...

I am really confused by this error. Personally, I think this error can be caused by many reasons. Hope a more detai

[2022-11-28 08:16] akmalkady commented on #8690
My issue was because there were no internet connection by default. So I had to solve the internet problem and it worked for me.

[2022-11-28 08:22] BenoitLeguay commented on #19780
I fully understand that this might not be your current priority. Though, could I have some information about when should I expect some follow up on this ?
I count on this ONNX format for production deployment purposes and I'd like to be able to organize and communicate regarding my roadmap.

Thanks again for you work.  🤗

[2022-11-28 08:28] NielsRogge commented on #20435
@nandwalritik yes, let's start by adding ResNetv2, based on timm's implementation found here: https://github.com/rwightman/pytorch-image-models/blob/main/timm/models/resnetv2.py.

Next, we can add DPT-hybrid, based on the modeling files here: https://github.com/isl-org/DPT/tree/main/dpt

[2022-11-28 08:33] #20123 closed

[2022-11-28 08:39] fxmarty commented on #19780
@BenoitLeguay Let me have a look.

[2022-11-28 08:43] nandwalritik commented on #20435
Ok I Will start with ResNetv2 and then I will try adding DPT-hybrid.

[2022-11-28 09:16] #19915 closed

[2022-11-28 09:25] fxmarty commented on #19780
@BenoitLeguay I can't reproduce the issue with `python -m transformers.onnx --model microsoft/swin-base-patch4-window12-384-in22k swin-bas-onnx/ --feature image-classification`. Is it always failing for you?

With:
[code]

Could you try with these versions?

[2022-11-28 10:24] mmarius commented on #20438
Thanks for your detailed reply, @stas00

I tried using

    # force crashing on nccl issues like hanging broadcast
    export NCCL_ASYNC_ERROR_HANDLING=1

but it didn't help.

Before getting into `py-spy` , I ran the this script (https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html#gpu-to-gpu-communication) to see if the GPU-to-GPU communication is working correctly on th

[2022-11-28 10:40] peregilk commented on #20252
@sanchit-gandhi: I now have a working version that runs decently fast on the pods! I am down from 220 sec/it to around 10s/it on a v4-128.

I made the following change to the streaming code:
[code]
For some reason this is a lot faster, and fast enough to be "useful". I still do not think this is optimal though. Tokenising and grouping is still slowing down the training considerably when you are us

[2022-11-28 12:19] zhaowei-wang-nlp commented on #20212
This doc still doesn't mention that results will be returned one by one (instead of in a batch) if I pass a dataset to the pipeline.

[2022-11-28 12:40] fxmarty opened #20470 "Standardize expected input shapes for audio models"
### Feature request

Hi, it seems some audio models expect `(batch_size, feature_size, n_frames)` (e.g. whisper) while others expect `(batch_size, sequence_length)` (e.g. wavlm, wav2vec2). Could this be standardized? It seems like the naming follows `input_features` vs `input_values` (but wav2vec2 feature extractor returns input_values!)

It seems to be the difference between models taking raw aud

[2022-11-28 13:11] nandwalritik commented on #20435
Should I use `add-new-model` or `add-new-model-like` command as we already have ResNet implementation in huggingface ?

[2022-11-28 13:11] Narsil commented on #20212
https://github.com/huggingface/transformers/pull/20437

Don't hesitate to comment on the PR if you feel it's not clear enough.

[2022-11-28 13:32] NielsRogge commented on #20435
You can use `add-new-model-like` and start from `resnet` (we might deprecate `add-new-model`)

[2022-11-28 13:44] wccccp opened #20471 "ImportError: cannot import name 'CommitOperationAdd' from 'huggingface_hub'"
### System Info

PS C:\Users\46213> transformers-cli env
Traceback (most recent call last):
  File "C:\Users\46213\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\46213\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\46213\anaconda3\Scripts\transformers-cli.exe\__main__.py", line 4

[2022-11-28 13:45] #20413 closed

[2022-11-28 14:34] sgugger commented on #20452
Thanks for flagging. Would you like to open a PR with a fix?

[2022-11-28 14:53] sgugger commented on #20471
There seems to be an installation problem with `huggingface_hub`. You should try to uninstall and re-install it in your environment.

[2022-11-28 15:02] #19510 closed

[2022-11-28 15:13] sgugger commented on #20440
cc @Narsil

[2022-11-28 15:48] BenoitLeguay commented on #19780
First, thanks a lot @fxmarty !
Indeed, on my new computer (not the one I used from the time I had this issue) it works with the libraries versions you specified. I'm currently not able to access my old computer but I'll share more information about my setup whenever I can.
I'm looking forward to check optimum improvements, thanks for sharing !

[2022-11-28 15:54] fxmarty commented on #19780
Ok great! Don't hesitate to share if with your old laptop + `transformers==4.24.0` you can reproduce the issue. Otherwise it could be that it has been fixed in this version (maybe https://github.com/huggingface/transformers/pull/19475 )

[2022-11-28 16:17] Narsil commented on #20440
@payoto ,

This seems like a good idea !

I'm slightly worried about the size of the `repr` though. It's already really large with your example, and you are missing the extra `_{preprocess,forward,postprocess}_params`. (Which are important imo)

As a start, I would use exactly what you have done, but only without the config.
For the `model` I would actually put it, but maybe only the class names b

[2022-11-28 16:52] awilsonTorch opened #20476 "Trainer Eval loop fails to handle COCO formatted data"
### System Info

- `transformers` version: 4.23.1
- Platform: Linux-4.14.294-220.533.amzn2.x86_64-x86_64-with-glibc2.17
- Python version: 3.8.13
- Huggingface_hub version: 0.11.1
- PyTorch version (GPU?): 1.13.0+cu117 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in

[2022-11-28 16:56] sgugger commented on #20476
This has been fixed by #19455, you should upgrade to the latest version of Transformers to have the fix.

[2022-11-28 17:20] stevhliu commented on #20055
For sure, looking forward to your contribution @JuheonChu! 🤗

[2022-11-28 18:56] #20476 closed

[2022-11-28 19:29] nyadla-sys commented on #19691
keep it open .!

[2022-11-28 19:30] skye commented on #20252
I'm guessing using `+=` is a lot faster because Python is smart enough to extend the `samples` lists in-place, whereas the original implementation will end up completely rewriting each list. If that's right, I think using `+=` is the best you can do short of multi-threading (I'm not a Python performance expert though).

[2022-11-28 21:10] miyu386 commented on #12789
First time contributing here! I've created PR https://github.com/huggingface/transformers/pull/20478 for this issue. Would appreciate it if anyone could take a look

[2022-11-28 21:12] JuheonChu commented on #12789
I will look and give you a comment after it

Best,
John

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Billy Lee ***@***.***>
Sent: Monday, November 28, 2022 4:10:54 PM
To: huggingface/transformers ***@***.***>
Cc: Chu, John ***@***.***>; Comment ***@***.***>
Subject: Re: [huggingface/transformers] Raise exceptions instead of using assertions for control fl

[2022-11-28 21:36] peregilk commented on #20252
There are a few other things in the script that seem suboptimal. For instance are the tokenization not split across the VMs.

@skye: Do you have an estimate of what performance that should ideally be expected here? Lets say one training step takes 1 second on a v4-8. How long should it take to run it on a v4-128? I guess there are some overhead in dividing the job across the TPUs, right? Just look

[2022-11-29 01:58] shizhediao commented on #4583
unstale

[2022-11-29 03:18] monsieurpooh commented on #17860
Please use the following minimal repro code snippet and observe the behavior described in the previous comments by modifying the input to tokenizer.

[code]

[2022-11-29 03:33] monsieurpooh opened #20480 "Unexpected behavior when input ends with multiple newlines"
### System Info

- `transformers` version: 4.15.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.5
- PyTorch version (GPU?): 1.11.0+cu113 (True)
- Tensorflow version (GPU?): 2.5.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

###

[2022-11-29 04:33] EthanYishun opened #20481 "CLIP - Mismatch tokenizer_config.json of CLIPTokenizer.from_pretrained() and huggingface_hub"
### System Info

Model ID : `"openai/clip-vit-base-patch32"`
Transformer Version : 4.23.0
In the huggingface hub, the file https://huggingface.co/openai/clip-vit-base-patch32/blob/main/tokenizer_config.json doesn't have the parameter `model_max_length:77`.
On the contrary, if I use the following:
`tokenizer = CLIPTokenizer.from_pretrained("openai/clip-vit-base-patch32")`
`tokenizer.save_pretrained

[2022-11-29 08:56] guillaumekln commented on #20123
Thanks for the fix and the configurations update! However, there are still 2 pull requests to merge:

* https://huggingface.co/openai/whisper-small/discussions/4
* https://huggingface.co/openai/whisper-medium/discussions/5

[2022-11-29 08:57] shizhediao commented on #12386
I have the same need, looking for a transformer base model.
Will try FSMT.
Thanks!

[2022-11-29 08:58] Magicen0722 commented on #19446
Hey @robbohua Have you solved your problem? I'm having the same trouble, I'm using transformers 4.24.0 and here is my code.
[code]
Here is my full error report:
[code]
Any form of help is appreciated!

[2022-11-29 09:00] shizhediao opened #20482 "How to reproduce the machine translation experiments in Attention is all you need."
### Feature request

I want to reproduce the experiments described in _Attention is all you need_, which is a transformer base model from scratch. The model architecture is the same as _Attention is all you need_.
In other words, I am looking for a transformer base model to train from scratch with HuggingFace.

### Motivation

Reproduce the Transformer experiments in machine translation. I found t

[2022-11-29 09:02] KMFODA commented on #18354
Commenting again to confirm this is not stale. PR has incorporate all comments and passed all tests. I believe it's just waiting on a second pair of 👀

[2022-11-29 09:08] Magicen0722 opened #20484 "Error when getting the long-t5 model"
### System Info

When I get the relevant pipline or the corresponding model and tokenizer from this page, I get the `KeyError: 'longt5'`

### Who can help?

@patrickvonplaten

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...)
- [ ] My own task or dataset (give details b

[2022-11-29 09:33] ArthurZucker commented on #20123
Thanks for the notice! 🤗

[2022-11-29 09:50] mmarius commented on #20438
I ran your diagnostic script and as with my minimal example above it simply runs forever ...

[2022-11-29 10:17] lucaspct commented on #20372
Hello @michaelbenayoun and @younesbelkada !

First time contributing for me :)

I would like to handle the implementation for [Speech2Text](https://github.com/huggingface/transformers/blob/95754b47a6d4fbdad3440a45762531e8c471c528/src/transformers/models/speech_to_text/modeling_speech_to_text.py#L350)

What are the first steps ? Create a PR ?

Thanks in advance.

[2022-11-29 11:25] LTEnjoy commented on #19832
Yeah, now I see the hidden trouble if we add blank kwargs to a model. But what about adding some arguments that are specified by users?

For example, we add an argument "custom_arg=None" to __init__(```, custom_arg=None), and then the model will add the argument to its forward function like "self.forward = partial(self.forward, custom_arg=None)", and finally this argument is iteratively passed to

[2022-11-29 12:17] shizhediao commented on #18424
Hi,
I am trying to reproduce the performance of transformer-base (from attention is all you need) on WMT14.
I am using FSMT because I cannot find an implementation of the transformer.
I was wondering which dataset and tokenizer are the best choices.
1. `stas/wmt14-en-de-pre-processed` with `facebook/wmt19-en-de`
2. `wmt14` with `facebook/wmt19-en-de`
Especially, I do not know which tokenizer shoul

[2022-11-29 12:20] shizhediao commented on #20482
Hi,
I am trying to reproduce the performance of transformer-base (from attention is all you need) on WMT14.
I am using `FSMT` because I cannot find an implementation of the transformer.
I was wondering which dataset and tokenizer are the best choices.
1. `stas/wmt14-en-de-pre-processed` with `facebook/wmt19-en-de`
2. `wmt14` with `facebook/wmt19-en-de`
Especially, I do not know which tokenizer sho

[2022-11-29 12:22] atturaioe commented on #20484
Hi, what `transformers` version are you using?

[2022-11-29 12:29] tonifuc3m commented on #20404
Thank you for the response.

I have checked and both `tokenizers` and `sentencepiece` are installed in my environment.
[code]

Additionally, all these tests work:
1. Initializing the tokenizers
[code]

2. Executing the fast and slow tokenizers :
[code]

3. Initializing the feature extraction pipeline with models `google/mt5-small`, `t5-small` and `google/flan-t5-base`.

However, **the error arises

[2022-11-29 13:24] Narsil commented on #20404
Hello, yes `feature-extraction` doesn't really mean much for a encoder-decoder model.

You could use just the encoder, which is probably the closest you want. Keep in mind that models that were not intended for feature extraction will not necessarily be really good at it.

[code]

[2022-11-29 14:16] sgugger commented on #20482
Please use the [forums](https://discuss.huggingface.co/) to discuss such questions as we keep issues for bugs and feature requests only.

[2022-11-29 14:18] shizhediao commented on #20482
OK, sorry about this.

[2022-11-29 14:18] #20482 closed

[2022-11-29 15:02] #19795 closed

[2022-11-29 15:16] Narsil commented on #20480
You are talking about strings here, the model reasons in tokens.

So it's perfectly possible that your sentence ending with `\n\n` is chunked differently than without, yielding different tokens, and so different outputs.

Could you check the different tokenizations ?

[2022-11-29 15:47] piEsposito commented on #19992
@Rocketknight1 all right, that was fun. Let's do it for CLIP now and figure out how we put the `<w/>` logic inside the keras-nlp bpe tokenizer.

[2022-11-29 16:03] lucaspct commented on #20372
Hello @JuheonChu :)

I am definitely have a look at it ! thanks

[2022-11-29 16:46] ArthurZucker commented on #20285
Hi, I am sorry but this goes outside the scope of `transformers`. I believe the issue was fixed as the * chinese text is correctly tokenized*  in transformers!

The expected behaviour was matched in the example script I provided you with, and I have no idea what post processing might be done here that prevents the correct prediction. I think the issue should be open on their repo!

[2022-11-29 16:48] #20285 closed

[2022-11-29 17:37] ArthurZucker commented on #19322
Hey! Just tested your script and both losses are not Nan. Since you seem to be using a dev version, where you on main?
Will try to reproduce but it seems that with most recent version it worked perfectly well.

[2022-11-29 17:54] stas00 commented on #20438
yeah, so it's almost certain a hardware issue then.

[2022-11-29 18:11] Rocketknight1 commented on #19992
Awesome, good luck!

[2022-11-29 18:11] Lokiiiiii opened #20494 "PyTorch training scripts freeze when preprocessing_num_workers > 1"
### System Info

transformers 4.24.0
datasets 2.7.1

Dockerfile: https://github.com/aws/deep-learning-containers/blob/master/pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu

### Who can help?

@sgugger, @patil-sura

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] An officially supported task in the `examples` folder (such as GLUE/SQuAD, ...

[2022-11-29 19:37] nyadla-sys commented on #19691
Feel free to download the openai/whisper-tiny tflite-based Android Whisper ASR APP from [Google App Store](https://play.google.com/store/apps/details?id=com.whisper.android.tflitecpp).

[2022-11-29 21:33] gngpostalsrvc opened #20499 "ValueError: Expected input batch_size (8) to match target batch_size (1008)."
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.11.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
-

[2022-11-29 21:38] SQPferrer commented on #20447
For anyone finding this now, if you installed `transformers` and/or `huggingface_hub` with pip, try re-installing with conda. That solved it for me.

[2022-11-29 21:45] SQPferrer commented on #20447
i.e. `conda install -c conda-forge transformers huggingface_hub`

[2022-11-29 22:27] payoto commented on #20440
The reason I added the `model.config` entry was that it showed me information about the expected output of the pipeline, one of the things I wanted to find out was "what are all the possible classes returned by this pipeline"? Where would you recommend I get that information?

I'll open a PR with what you've suggested, and we can iterate from there.

[2022-11-29 23:40] bilalghanem opened #20500 "Unstable generation results when using Top-p decoding"
### System Info

I trained a T5-base model for a translation task. I use Top-p decoding strategy to generate text.

Something is weird in the model; every time I ask the model to generate text for the given same input, it generates a different text. When I fix the random seed, the model starts to generate the exact text every time.

 My question is, why the model generates different texts for the

[2022-11-30 00:28] asheetal opened #20502 "HTTPS request to model repo despite local_files_only=T"
### System Info

- `transformers` version: 4.9.2
- Platform: Linux-5.4.0-109-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.10.0a0+git36449ea (True)
- Tensorflow version (GPU?): 2.4.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or par

[2022-11-30 01:06] jrdzha commented on #20397
It seems this issue is inconsistent. I did have it work once, but without changing any code... I'll spend some more time trying to reproduce this more reliably...

[2022-11-30 01:31] Magicen0722 commented on #20484
I am using `transformers==4.24.0`

[2022-11-30 02:56] ae99 opened #20503 "Atlas: Few-shot Learning with Retrieval Augmented Language Model"
### Model description

Atlas is a retrieval-augmented seq2seq language model comprised of a Contriever retriever and fusion-in-decoder (FID) architecture (which uses T5), introduced in the paper [Atlas: Few-shot Learning with Retrieval Augmented Language Models](https://arxiv.org/pdf/2208.03299.pdf)

From the papers abstract:

However, when knowledge is key for such results, as is the case for tas

[2022-11-30 03:01] ae99 commented on #20503
Hi all!

Super appreciative of the authors for open-sourcing this model, really exciting stuff.

I'm planning on having a go at implementing this model here. Aware there are others who have been looking at similar models in the past (https://github.com/huggingface/transformers/issues/15387), so thought it good to get this ticket in early in case you are also interested in working on this!

[2022-11-30 07:25] bofenghuang opened #20505 "layerdrop in Wav2Vec2Adapter"
### System Info

Hi!

As mentioned in https://github.com/huggingface/transformers/issues/20451, the layer dropout in `Wav2Vec2Adapter` may produce outputs with different lengths.

I understand the use of layerdrop in transformer structure, but do we need it in CNNs (`Wav2Vec2Adapter`)?

https://github.com/huggingface/transformers/blob/61d3928bfb3029bceb5be3e68ca3d4bf8456758f/src/transformers/model

[2022-11-30 08:03] Narsil commented on #20440
You mean `config.id2label` ? I sympathize with the goal, but `repr` is meant to be seen by devs easily during iteration, so making them short is important IMO. But we can start with your version if you prefer and we'll adapt based on community feedback.
Your proposal is already much better than the current state !

[2022-11-30 09:05] alexvaca0 commented on #19322
Thank you so much for trying it out! Let me try it again with latest version (4.25.0.dev) to check if it is working now also in my machine. I was trying to 4.23.0.dev, so maybe if it doesn't work also in 4.25.0.dev I'll have to turn to 4.22 or 4.23 :)

[2022-11-30 09:11] alexvaca0 commented on #19322
Great, with the last version it does work!! Thank you very much for helping me ! @ArthurZucker

[2022-11-30 09:41] michaelbenayoun commented on #20372
Hi @lucaspct,

Yes the first steps would be to read [the guide explaining how to contribute to `optimum.bettertransformer`](https://huggingface.co/docs/optimum/bettertransformer/tutorials/contribute), and then opening a [PR on Optimum](https://github.com/huggingface/optimum/pulls), we will support you there!

[2022-11-30 10:44] patrickvonplaten commented on #20414
I think we should definitely try to avoid by default displaying warnings when running the ASRPipeline.
Also, since Whisper is a Encoder-Decoder model architecture the main use case for speech recognition might soon switch from Wav2Vec2CTC to Encoder-Decoder => thus we should also try to adapt the ASR pipeline into this direction.

**Short term:**
Let's try to not display any warnings by default &

[2022-11-30 10:53] Narsil commented on #20414
This is already done, it's a doc issue. And specifically for sanchit, datasets are using `{"audio" : {"sampling_rate": .., "audio": ..}}` instead of the inner dict.

True, I have potential suggestions for it, which mainly are going full on Processor/StoppingCriteria route.  This is what was necessary to enable complex batching within bloom inference.
Splitting specifically for audio might be neces

[2022-11-30 11:24] patrickvonplaten commented on #17860
Gently pinging @gante here as well

[2022-11-30 11:31] patrickvonplaten commented on #20500
Gently pinging @gante here

[2022-11-30 11:31] patrickvonplaten commented on #20484
@ArthurZucker could you take a look here?

[2022-11-30 11:32] patrickvonplaten commented on #20505
@sanchit-gandhi could you take a look here?

[2022-11-30 11:56] #20418 closed

[2022-11-30 12:58] telmomenezes commented on #11728
I had the same issue and solved it by reinstalling the datasets package.

[2022-11-30 14:11] sgugger commented on #20502
You need to upgrade your version of Transformers as it's pretty old and many bugs with the cache system have been fixed since then.

[2022-11-30 14:45] #19322 closed

[2022-11-30 14:47] ArthurZucker commented on #20484
Not really able to reproduce the code for now, but will have a look! I also used `transformers==4.24.0` and the import worked. It was added 6 month ago see [here](https://github.com/huggingface/transformers/pull/16792). Also can confirm that `("longt5", "LongT5"),` is [in the auto config](https://github.com/ArthurZucker/transformers/blob/main/src/transformers/models/auto/configuration_auto.py#L391

[2022-11-30 14:48] sanchit-gandhi opened #20508 "more_itertools required for Whisper normaliser"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: macOS-12.5-arm64-arm-64bit
- Python version: 3.8.9
- Huggingface_hub version: 0.10.0
- PyTorch version (GPU?): 1.11.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.5.1 (cpu)
- Jax version: 0.3.6
- JaxLib version: 0.3.5
- Using GPU in script?: no
- Using distributed or parallel set-up in

[2022-11-30 14:53] ArthurZucker commented on #20508
Totally agree here! If we only use window and it is pretty short, makes sense to implement it! But IIRC it was a pretty long dependency.

[2022-11-30 17:55] henk717 commented on #17230
For our own project we have kind of basic support for it workarounded in with the original base, but the reason we don't finetune it or don't support it properly is because Huggingface support is missing and we are tightly integrated with huggingface. I assume other providers / projects have the same issue. For adoption I'd love to see RWKV land in huggingface so we can begin to offer it to our us

[2022-11-30 17:58] fcakyon opened #20513 "owlvit image guided detection does not work in gpu (cuda)"
### System Info

- `transformers` version: 4.25.0.dev0
- Platform: Linux-5.4.0-132-generic-x86_64-with-glibc2.10
- Python version: 3.8.5
- Huggingface_hub version: 0.11.1
- PyTorch version (GPU?): 1.11.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes

[2022-11-30 18:27] mrconter1 commented on #17230
Yeah but why doesn't OpenAI literally just spend one month on this with 10
guys and use this? It think this has some drawback but no one can tell me
what it is... It's feel reasonable that all new papers from Google, OpenAI
should use this.

Den ons 30 nov. 2022 18:55henk717 ***@***.***> skrev:

[2022-11-30 18:37] generic-matrix opened #20514 "Why tflite model output shape is different than the original model converted from T5ForConditionalGeneration?"
### System Info

- `transformers` version: 4.24.0
- Platform: Linux-5.10.133+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.15
- Huggingface_hub version: 0.11.1
- PyTorch version (GPU?): 1.12.1+cu113 (True)
- Tensorflow version (GPU?): 2.9.2 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- U

[2022-11-30 18:46] sgugger commented on #20514
You reloaded your model in a `TFT5Model`, which is not the same as `T5ForConditionalGeneration`: it's the base model without the decoder.

[2022-11-30 19:46] miyu386 commented on #20372
Hi @younesbelkada @michaelbenayoun I'd love to take on the RoFormer model if it isn't claimed yet. Will open a PR after I read through the guide!

[2022-11-30 20:45] BlinkDL commented on #17230
There are a number of papers with similar "exponential moving average" design now.

For example, S4D is using slightly fancier kernels: https://github.com/HazyResearch/state-spaces (while I find simple kernels are enough).

RWKV is weaker at LAMBADA (comparing with GPT) when the model is small (< 3B), but I find adding one single tiny QKV attention is enough to solve it.

Moreover, it's reasonable

[2022-11-30 23:09] rjrebel10 commented on #18518
From the [marian tokenizer](https://github.com/huggingface/transformers/blob/e342ac7e0390d157e8c14a8a7c5cf2e715341cee/src/transformers/models/marian/tokenization_marian.py#L146), the bos_token_id is not initialized. Instead it recommends using the decoder_start_token_id from the config. For this model, the decoder_start_token_id is [65000](https://huggingface.co/Helsinki-NLP/opus-mt-en-zh/blob/mai

[2022-11-30 23:19] rjrebel10 commented on #18518
Alternatively, I found that the optimum library makes working with opus models in ONNX much easier.

[code]