[2021-08-24 09:12] patrickvonplaten commented on #13208
Hey @Artyrm,

It's quite difficult for us to reproduce the error - could you post a link to a google colab where we can rerun the code? Also do you see the same behavior locally or is it just on google colab?

[2021-08-24 09:16] patrickvonplaten commented on #12842
I think it's difficult to ensure that a model which has a mismatch in vocab size with its tokenizer runs correctly. We could think about showing a better error message than:

[code]

If it's the word embeddings matrix that throws that error! I don't think we can make sure though that the model works with an incorrect tokenizer vocab size

[2021-08-24 09:40] BalajiAJ commented on #13233
Apologies for pasting the wrong code, below is the one. Thanks @qqaatw for pointing it out.
This is the line of code where am seeing the warning.

### model = GPTNeoForCausalLM.from_pretrained("finetuned").half().to("cuda")

[2021-08-24 09:43] #13076 closed

[2021-08-24 10:35] jungminc88 commented on #13161
I needed to run run_mlm.py, not run_mlm_wwm.py, this time, and tried to run
`python run_mlm.py --model_name_or_path cl-tohoku/bert-base-japanese --train_file /path/to/train/file.txt --do_train --output_dir output_dir/`
and got the same error message:

[code]
I cannot figure out how to resolve this. I would greatly appreciate if you could look into it.
@NielsRogge

[2021-08-24 10:52] elliottzheng opened #13235 "BeitForMaskedImageModeling forward not using bool_masked_pos"
### Who can help
@NielsRogge

## Information

I am reading the code of BEIT, trying to use the `BeitForMaskedImageModeling`, while I found the `bool_masked_pos` is defined but not used in `BeitForMaskedImageModeling`'s forward.

In my understanding, `bool_masked_pos` is used to mask out the input image tokens, thus should be passed to the `self.beit` forward here.
https://github.com/huggingface/tr

[2021-08-24 10:58] Artyrm commented on #13208
Hi, @patrickvonplaten.
I have provided the link in my post, at the beggining of "reproduce" section.

And yes, I can see it locally too, though I have only 2GB local VRAM, so I have to use small models, and memory waste is less obbious.

[2021-08-24 11:14] qqaatw commented on #13234
Hi, since your case is a mlm task, you should probably use `BertForMaskedLM` instead of `BertForSequenceClassification ` to train your model first, and then feed it into `run_wwm_mlm.py` script.

[2021-08-24 11:18] Doragd commented on #13232
I have checked that it is caused by `convert_to_fp32` in `accelerate/utils.py`.
[code]

[2021-08-24 11:22] NielsRogge commented on #13235
Hi,

Thanks for looking into this model. Looking at it now, it's indeed a mistake, not sure why I forgot to pass bool_masked_pos to `BeitModel`.

I have a Colab notebook, in which I tried to reconstruct DALL-E's visual tokens: https://colab.research.google.com/drive/1Mjt-3jHw9HYMXECmSdDlbiG59ZAw-Z0T?usp=sharing#scrollTo=ZwTO9fbhPOxi

It was not working as expected, so probably that'll be the mista

[2021-08-24 11:26] cccntu opened #13236 "Upgrade `os.path` to use `pathlib.Path` API for `from_pretrained` internals"
# 🚀 Feature request

Use `pathlib.Path` instead of `os.path` in places like `src/transformers/file_utils.py` and `src/transformers/configuration_utils.py`

## Motivation

I am using [cloudpathlib](https://github.com/drivendataorg/cloudpathlib), a library that wraps remote path as `pathlib.Path` like object. But I cannot use a cloudpathlib's remote directory for `from_pretrained` because the existi

[2021-08-24 11:56] jnishi commented on #13197
It would be great if you could support multiple GPUs.

I found out that if you do it manually, divide by the number of GPUs.

The reason for the error is that DistributedSampler does not support `labels` data.
Thank you very much.

[2021-08-24 12:04] jungminc88 commented on #13234
@qqaatw Thank you for your suggestion!

My objective is to see the effect of training BERT on different tasks. I am wondering if training on MLM task after training on classification yields better results. Is there a way to do this using the script?

[2021-08-24 12:10] whiteRa2bit commented on #13175
@michaelbenayoun @mfuntowicz @sgugger @LysandreJik would you be so kind to assist in resolving this issue?

[2021-08-24 12:15] PanQiWei commented on #13157
Hi @LysandreJik !

First of all, thank you for your replay!

I'm currently using ```pytorch==1.9.2``` with cuda version 10.2 and ```onnxruntime==1.8.1```

For 🤗transformers I tried both ```v1.9.2``` and ```the unrealesed version by installing from source```.

I tried saveral times to export Bart model into ONNX but all got the failed information as given above.

[2021-08-24 12:19] LysandreJik commented on #13157
A segmentation fault isn't easy to debug, but I wonder if this isn't a memory error under the hood. Are you using a google colab?

Can you try exporting the following model, which is much smaller, to see if this succeeds or not? `sshleifer/distilbart-cnn-12-6`

[2021-08-24 12:19] AES0007 commented on #13154
Will do. Thanks

[2021-08-24 12:25] LysandreJik commented on #13175
Hello @whiteRa2bit, thanks for testing out the experimental `-with-past` feature of the ONNX export! @michaelbenayoun and @mfuntowicz are the best suited to answer, but they're off until early next week. We'll make sure to attend to this issue as soon as they're back! Thank you for your understanding.

[2021-08-24 12:38] PanQiWei commented on #13157
I'm using GPU provided by my company, which is a RTX2080 GPU.

I ran the command and replace model name with ```sshleifer/distilbart-cnn-12-6```, this time the error message changed, as shown below:

[code]

[2021-08-24 12:41] qqaatw commented on #13234
I got your point. You can use `BertForPreTraining`, which includes two prediction heads (MLM, NSP), to train a sentence classification task first, then feed the trained model into `run_wwm_mlm.py` to run MLM task. Because `BertForPreTraining` has two heads already, running mlm will no longer raise an error regarding mlm head missing.

[2021-08-24 12:44] jungminc88 commented on #13234
@qqaatw That's a neat solution! Thank you!

[2021-08-24 12:53] LysandreJik commented on #13157
Hmmm I'm failing at reproducing :( I have the following versions, could you try installing them to see if it changes something?
[code]

I can also upload the converted model to the hub under a repository if that's helpful for you.

[2021-08-24 12:57] pratikchhapolika opened #13238 "Correct way to use pre-trained models - Any document on this?"
I want to do `Multiclass-Multilabel ( MLMC)` **classification** problem using `Conv-BERT` model.

**Steps that I have taken is:**

I downloaded the Conv-Bert model from this link: https://huggingface.co/YituTech/conv-bert-base
<< **YituTech/conv-bert-base**>>

[code]

I want to understand can we call any classification module from Hugging face and pass any pre-trained models to it like `Roberta, C

[2021-08-24 13:00] LysandreJik commented on #13238
Hello! We have several documents that can help you get started! First of all, the [quicktour](https://huggingface.co/transformers/quicktour.html), and the [free course](https://huggingface.co/course/chapter1) of the HF ecosystem may help you out.

[2021-08-24 13:03] whiteRa2bit commented on #13175
@LysandreJik, thanks a lot for letting me know!

[2021-08-24 13:09] marlon19894 opened #13239 "BERT finetuning “index out of range in self”"
0

I am trying to build a Multiclass Classifier with a pretrained BERT model. I am completely new to the topic. I have 8 classes and use Huggingface’s Dataset infrastructure to finetune a pretrained model for the german language:

[code]

My model shouldn’t be a sentiment classifier but a multilabel classifier which classifies customer reviews based on different label (e.g customer support etc.).

[2021-08-24 13:16] PanQiWei commented on #13157
I re-install the libraries with the versions as yours, but still faild. 😢

It would be wonderful and thankful if you could upload the converted model! ❤️

Again, thank you for your help! 😄

[2021-08-24 13:55] pratikchhapolika commented on #13238
What about my code above. Is this correct way of doing things?

[2021-08-24 13:58] LysandreJik commented on #13239
Hello! It seems your model and tokenizer are mismatched: the tokenizer generated an ID that the model doesn't understand.

I don't see your tokenizer initialization in your code, do you mind showing me how you initialize it?

[2021-08-24 14:44] Doragd commented on #13232
To fix it，I modified `run_translation_no_trainer.py` with the following snippet in the training loop, and it works well.
[code]

[2021-08-24 14:51] marlon19894 commented on #13239
Yeah you are right! Thank you

[2021-08-24 14:52] LysandreJik commented on #13157
Hello again! I've uploaded the converted model here: https://huggingface.co/lysandre/onnx-bart/tree/main (search for model.onnx)

[2021-08-24 14:58] pdakwal commented on #7060
Hi @kaivu1999 Did you figure out how to fine-tune? I am also exploring for finetuning the multilingual model but haven't found a proper specification yet.

[2021-08-24 15:06] #12769 closed

[2021-08-24 15:06] #12763 closed

[2021-08-24 15:13] Doragd commented on #13232
By the way, I also test another script： `examples/pytorch/text-classification/run_glue_no_trainer.py`
It met the same problem.
You can view it on colab: https://colab.research.google.com/drive/1BLt5rtHFdHaRliyqj_BKmM1_uzQclQHw?usp=sharing
![image](https://user-images.githubusercontent.com/26213546/130642391-f4f34bb0-e22c-4201-9382-0239b25a28e7.png)

[2021-08-24 15:53] PanQiWei commented on #13157
Thanks soooo much!! 😆 It's my first time to try an ONNX model, can't wait to see the improvement in my tasks, thank you! ❤️

[2021-08-24 16:12] mmykhaylov commented on #13229
Set the config, nothing has changed

[2021-08-24 17:16] monk1337 opened #13241 "Can we use trainer api with custom model layer?"
I am trying to use huggin face trainer API, For example, my model looks like this:

[code]

Is it possible to utilize the trainer API for custom models? such as :

trainer = Trainer(
    model=model,                         # the instantiated 🤗 Transformers model to be trained
    args=training_args,                  # training arguments, defined above
    train_dataset=train_dataset,         # tr

[2021-08-24 18:31] NielsRogge commented on #13241
Yes you can. As mentioned in the [docs](https://huggingface.co/transformers/main_classes/trainer.html):

[2021-08-24 19:04] merleyc commented on #13227
Thanks for observing that, @LysandreJik !
I was able to successfully use the commands below without setting proxies:
[code]
But I set the http_proxy, https_proxy and ftp_proxy and I am running again the tests. They will take >2h to complete. At least until now I don't see proxy related errors but already see FAILING tests, like:
[code]
Any idea why are these tests failing?
I will paste the entire

[2021-08-24 20:19] Doreenruirui opened #13244 "Tapas tokenization"
## Environment info

- `transformers` version: 4.9.1
### Who can help
@LysandreJik @sgugger @NielsRogge

## Information

Model I am using (Bert, XLNet ...): Tapas

When I am trying to replicate the TAPAS table retrieval results using Huggingface Tapas implementation, I find that [Tapas tokenization in Huggingface](https://github.com/huggingface/transformers/blob/master/src/transformers/models/tapa

[2021-08-24 21:51] stas00 commented on #12772
Also pinging @siddk whose team also has been working on improving `transformers` to support TP/PP https://github.com/stanford-crfm/mistral.

For context, while your team was on a summer break, @hyunwoongko implemented Parallelformers and we started discussing how to integrate their work, while planning integration of Deepspeed CUDA kernels for TP.

So now that your team is getting back let's discu

[2021-08-24 22:17] siddk commented on #12772
Oh this is awesome, thanks @stas00 and nice to meet you @hyunwoongko. Let me get up to speed on this thread, but this looks like amazing work!

[2021-08-24 22:19] nateraw opened #13245 "Add ability to include additional model card info within Trainer"
# 🚀 Feature request

Allow users to optionally provide model description, intended use, ethical considerations, caveats and recommendations, etc. when calling `trainer.push_to_hub` and/or `trainer.create_model_card`.

## Motivation

Right now, when you do `trainer.push_to_hub`, it runs `trainer.create_model_card`, which calls `transformers.modelcard.TrainingSummary.to_model_card` behind the scenes

[2021-08-24 22:37] stas00 opened #13246 "[model loading] framework-agnostic dtype parameter"
This is a split off from one of the discussions at https://github.com/huggingface/transformers/pull/13209:

1. It all started with trying to load torch models under either the desired dtype or the the dtype of the pretrained model - and thus avoid 2x memory usage needs e.g. if the model needs to be just fp16. So we added `torch_dtype` to `from_pretrained` and `from_config`.
2. Then we started stor

[2021-08-24 23:09] merleyc commented on #13227
Hi,
I got 49 failing tests when running the test after setting the proxies. Below are the lines that contains FAILED on it. Please see the entire log file attached.

`
34:[gw2] FAILED tests/test_benchmark.py::BenchmarkTest::test_inference_encoder_decoder_with_configs
82:[gw2] FAILED tests/test_benchmark.py::BenchmarkTest::test_inference_no_configs
84:[gw2] FAILED tests/test_benchmark.py::Benchmark

[2021-08-24 23:11] hyunwoongko commented on #12772
@siddk Hello. Could you please explain so I can get the context? :)

[2021-08-24 23:13] kldarek commented on #12842
Hi Patrick, thanks for commenting on the issue! I actually have no concerns
with the error in model inference due to the mismatch in vocab size with
its tokenizer. The concern was that the model trained with this mismatch, I
think it should throw an error instead during training. Thanks, Darek

On Tue, 24 Aug 2021 at 11:16, Patrick von Platen ***@***.***>
wrote:

[2021-08-24 23:24] hyunwoongko commented on #12772
I will resume this work from this weekend. Since my company is so busy now, most of the open source work will probably be done on weekends. I will working on deepspeed this week. I had an offline meeting with them and we are discussing how to combine. (Probably integration with Huggingface transformers will not take place soon because it is steps 3 and 4.)

[2021-08-24 23:43] jaketae commented on #12772
It's really cool to see this collaboration in the pipeline! I'm not affiliated with any of the frameworks/organizations here at stake, but I do come from HF BigScience side of things where I've briefly discussed things with @stas00. If there's grunt work or anything else that has to be done, I'd be more than happy to contribute in ways that I can.

[2021-08-24 23:52] hyunwoongko commented on #12772
@jaketae I already know you by KoClip. nice to meet you. Your help would be of great help. :)

@stas00 Currenlty, we need to talk more with the DeepSpeed team. I will first integrate the parallelformers features into deepspeed. However, what deepspeed and transformers currently want is slightly different, so you may need to adjust it.

1) deepspeed wants to improve deepspeed-inference, maybe they

[2021-08-25 00:25] thakursc1 opened #13247 "Why do we need to use `Loss.repeat(eval_batch_size)` in accelerator gather loop?"
https://github.com/huggingface/transformers/blob/b1198a8440cc05f569b0bc22038993a1e5e707ab/examples/pytorch/language-modeling/run_mlm_no_trainer.py#L510

If I do not use this, and simple do acclerator.gather(loss) my code is stuck at this point.
But if I repeat the loss it seems to work. Can you explain why is this the case ?

Why do we also later use `losses = losses[: len(eval_dataset)]` ?

[2021-08-25 00:43] bpraveenk commented on #13123
When I set the dataset_mode to constant_batch, I see the following error. Any idea why the logits output dimension is (batch_size, sequence_length, num_labels) and not (batch_size, num_labels) ?

    ValueError: Shape mismatch: The shape of labels (received (8, 1)) should equal the shape of logits except for the last dimension (received (8, 128, 3)).

[2021-08-25 01:35] thakursc1 commented on #13247
@sgugger Can you please help ?

[2021-08-25 01:53] stas00 commented on #12772
As I commented in another issue:

HF transformers wants both training and inference. It's just that we have a lot more users using the library for training. So there is definitely not misalignment between the two.

Remember that Deepspeed already has TP and PP, so they are just missing inference.

HF Transformers doesn't have those yet, hence the difference.

[2021-08-25 01:53] stas00 commented on #12772
https://twitter.com/siddkaramcheti/status/1430195543301492744

[2021-08-25 01:55] stas00 commented on #12772
@jaketae, the idea is to first pick one model and port it to TP and later PP. Then we will have to replicate this for all models (or at least models that will support this), so there will be a ton of work for quite a few people to contribute.

[2021-08-25 02:13] #13157 closed

[2021-08-25 03:48] koukoulala opened #13249 "how to finetune mT5 on XGLUE-NTG task"
# 📚 Migration

## Information

Model I am using (Bert, XLNet ...): google/mt5-base

Language I am using the model on (English, Chinese ...): multi-language

The problem arises when using:
* [ ] the official example scripts: (give details below)
* my own modified scripts: (give details below)

Just a little change in ./examples/pytorch/summarization/run_summarization_no_trainer.py to suit for NTG t

[2021-08-25 05:40] sbmaruf opened #13252 "Add `--max_length` argument in seq2seq trainer."
# 🚀 Feature request

Currently [seq2seq Trainer](https://github.com/huggingface/transformers/blob/master/src/transformers/trainer_seq2seq.py) uses  `--max_length` for prediction step. However in the trainer there is no argument `--max_length` in [here](https://huggingface.co/transformers/main_classes/trainer.html?highlight=trainingargument#transformers.Seq2SeqTrainingArguments) and [here](https://

[2021-08-25 05:59] KappalaSaikumar opened #13253 "Cannot use RemBert"
![Screenshot (1508)](https://user-images.githubusercontent.com/65230225/130734536-0d498812-2ee4-45fe-96a0-6c33fc007916.png)

When I am trying to use the AutoTokenizer for the newly added RemBert model it's giving me this error

![Screenshot (1509)](https://user-images.githubusercontent.com/65230225/130736371-869e52d9-d4cb-4dc1-a480-8234d658420c.png)

When I try importing RemBertTokenizer then it's

[2021-08-25 06:36] NielsRogge commented on #13253
Make sure to install Transformers from master: `pip install git+https://github.com/huggingface/transformers.git`

[2021-08-25 06:46] NielsRogge commented on #13244
Hi,

Thanks for your interest in TAPAS. However, I do think the` _tokenize()` method is effectively used by TapasTokenizer. This is because TapasTokenizer itself inherits from PreTrainedTokenizer, which defines the tokenize() method. This method will in turn call _tokenize().

You can also verify this using a simple example:

[code]
As you can see, I've replaced two cell values by n/a and ?, i.e.

[2021-08-25 06:49] KappalaSaikumar commented on #13253
Thanks @NielsRogge It's working fine now

[2021-08-25 06:49] #13253 closed

[2021-08-25 08:22] ArlanCooper opened #13254 "请问一下，情感分析的模型只是针对英文的吗"
classifier = pipeline('sentiment-analysis')
这里面封装的模型是只针对英文的吗？我使用中文发现完全不对，比如：
words = '这是一个不错的服务'
judge1 = classifier(words)
words = '这是一个很好的服务'
judge2 = classifier(words)
print(judge1,judge2)

结果展示:
[{'label': 'NEGATIVE', 'score': 0.9500061273574829}] [{'label': 'NEGATIVE', 'score': 0.92015540599823}]

[2021-08-25 08:36] llhll commented on #13254
You should ask in English to obtain more answers.

[2021-08-25 08:37] NielsRogge commented on #13254
This is a bit intimidating to me haha. I'll use deep learning to translate your issue (😮 ):

DeepL says:

classifier = pipeline('sentiment-analysis')
Is the model encapsulated in this only for English? I found it completely wrong using Chinese, e.g.
words = 'this is a good service'
judge1 = classifier(words)
words = 'This is a good service'
judge2 = classifier(words)
print(judge1,judge2)

=> answe

[2021-08-25 08:37] NielsRogge commented on #12845
cc @Narsil, I think it would be very beneficial to document which model is used by default for each pipeline.

[2021-08-25 08:38] patrickvonplaten commented on #13254
You could use the model hub to find sentiment analysis models in Chinese as follows:

https://huggingface.co/models?language=zh&pipeline_tag=text-classification&sort=downloads

[2021-08-25 08:39] patrickvonplaten commented on #13254
And then do:

[code]

[2021-08-25 08:43] ArlanCooper commented on #13254
thank you  for your answer,that's help a lot

[2021-08-25 08:45] ArlanCooper commented on #13254
sorry i use chinese, and thank you  for your answer,that's help a lot

[2021-08-25 08:45] #13254 closed

[2021-08-25 08:58] ubamba98 opened #13255 "Label Smoothing for Question Answering task"
# 🚀 Feature request

Currently label smoothing is only applied when "label" is present in the input in compute_loss function and not in case of question answering default in Trainer class.

## Your contribution

I would like to work on this issue and submit a PR by modifying compute_loss to use label_names to apply label smoothing for question answering.

[2021-08-25 09:07] flozi00 opened #13256 "ingore_mismatched_sizes Wav2Vec2 unknown argument"
## Environment info

- `transformers` version:
- Platform: Win 10
- Python version: 3.8
- PyTorch version (GPU?): yes
- Tensorflow version (GPU?):
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?:

### Who can help

@patrickvonplaten @sgugger

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give d

[2021-08-25 09:09] LysandreJik commented on #13255
cc @sgugger

[2021-08-25 09:23] qqaatw commented on #13256
Hello, kindly check out this [issue](https://github.com/huggingface/transformers/issues/13187#issuecomment-902116183) and see if it can solve your problem.

[2021-08-25 11:18] nivi1501 opened #13262 "Printing weights of a pre-trained model"
During the generation of the key matrix, query matrix, and value matrix, what are the weights used? How do I print these weights?

[2021-08-25 11:52] NielsRogge commented on #13262
In PyTorch, you can easily print out the weights of any model, like so (let's take BERT as an example):

[code]
This prints:
[code]

[2021-08-25 12:11] xiangsanliu commented on #11639
Same problem.
When I tried to debug this, I found this code load a config file [tokenizer_config](https://huggingface.co/kssteven/ibert-roberta-base/resolve/main/tokenizer_config.json) and  try to load this file:
![2021-08-25T20:05:36](https://cdn.jsdelivr.net/gh/xiangsanliu/images@master/uPic/2021-08-25T20:05:36.png)
My transformers version: 4.10.0.dev0.

[2021-08-25 12:14] xiangsanliu commented on #11639
Hi, have you solved this problem?

[2021-08-25 12:14] Narsil commented on #12845
Should we do that at runtime with a log that we chose a default model, or you had something more static (definitely doable, but probably tedious to maintain.)

[2021-08-25 12:20] flozi00 commented on #13256
Oh, thank you.
I didn't see that, I just copied it from another issue here

[2021-08-25 12:20] #13256 closed

[2021-08-25 12:22] Doragd commented on #13232
For my solution, i think the `convert_to_fp32` should be corrected as follows:

[code]
Do you think so? @patil-suraj

[2021-08-25 12:23] nivi1501 commented on #13262
Yes, we can print the shape and parameter names by using this code. However, I wish to print the whole matrix [768,768] /[768]: (the value of the matrix). There must be some value assigned to this after the training is done.

[2021-08-25 12:25] NielsRogge commented on #13262
Just replace `print(name, param.shape)` by `print(name, param)` in the code above.

[2021-08-25 12:27] nivi1501 commented on #13262
Yea, that works. Thanks a lot

[2021-08-25 12:27] #13262 closed

[2021-08-25 13:40] satya77 commented on #3687
I have the same the problem. When you close the issue does it mean that it is fixed?

[2021-08-25 14:04] RajamannarAanjaram commented on #13197
1. If I want to extend this to panoptic segmentation using coco stuff classes, how should I change the class config to do it.
I have only 1things categories balloon and 53 stuff categories from coco dataset
2. How do I freeze the weights for training mask head for 25 epochs

[2021-08-25 14:14] NielsRogge commented on #13249
From the T5 author (I asked him):

Hence, no prefix should be used. However, the performance you get without prefix is similar, you say?

[2021-08-25 14:19] BramVanroy opened #13264 "Revisions not working as expected"
We were getting a size mismatch when loading a finetuned checkpoint. After looking at the model config, I found that it had been updated and that the [embedding/vocab size had increased](https://huggingface.co/GroNLP/bert-base-dutch-cased/commit/b23d41bddd4d5c925bec648458cabd7cc578e47e). This is slightly annoying but not the core of this issue. My way of dealing with this, then, was naturally to r

[2021-08-25 14:54] stefan-it commented on #13264
Just an update (I've already posted it on Twitter):

Git tags or branches should work, such as:

[code]

but it seems that normal commit hashes don't work :thinking:

[2021-08-25 14:59] dhruvjimulia-sys commented on #12845
Yes I've been busy lately - although I thought I could examine the code, it has not been possible given my schedule. Given that this is an important problem others are facing too, feel free to open a PR.

[2021-08-25 15:13] dhruvjimulia-sys commented on #12845
@Narsil I personally feel that having a runtime log will be more than enough given the ease at which one can get started with using the pipeline API - one can simply implement it to find out what model is working behind the scenes

[2021-08-25 15:41] LysandreJik commented on #13246
Would like to ping @Rocketknight1 regarding the TensorFlow management of types, and @patil-suraj for flax

[2021-08-25 15:56] NielsRogge commented on #13197
I have only 1things categories balloon and 53 stuff categories from coco dataset

If you want to do panoptic segmentation, you first need to load the model as follows:

[code]
You can possibly also add the `id2label` and `label2id` dictionaries as additional arguments.

[code]

There's a new argument called `ignore_mismatched_sizes` which you can set to `True`. If you then specify a different numb

[2021-08-25 16:17] julien-c commented on #13264
It's a partial mix of both: the model hub website does not currently have the feature to lookup a revision based on the first seven characters of a hash

(loading a commit from the first few hash characters is a sugar-y feature of git, not a core feature)

Yes definitely, as @LysandreJik said

[2021-08-25 16:19] #12887 closed

[2021-08-25 18:22] calderma opened #13268 "additional global attended token in bigbird-roberta"
Hello, based on my understanding of the bigbird style attention mechanism, the only tokens in the ITC construction supported in HuggingFace that are global are the first and last tokens. Is there an easy way to add an additional global token position that should always be attended to? For example, if I want to make sure the second token in the sequence is always globally attended to, where in the

[2021-08-26 00:01] merleyc opened #13270 "Commit v4.9.2 release appears as v4.5.1 in "transformers-cli env""
## Environment info
The command **_transformers-cli env_** returns:
_2021-08-26 07:30:45.855430: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-08-26 07:30:45.855484: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart

[2021-08-26 01:23] aiswaryasankar opened #13271 "Global transformers package imports, render local changes to the transformer src code useless for example scripts"
# 🚀 Feature request

In the summarization.py example file, it imports the global transformers package not the src/transformers package making local development challenging.  I'd like to make changes to the trainer.py file within src/transformers/trainer.py and have those changes reflected when I run the examples/pytorch/summarization/run_summarization.py script.  However due to the current package

[2021-08-26 08:59] UrosOgrizovic opened #13273 "Docs: TrainingArguments call incorrect"
On [this](https://huggingface.co/transformers/training.html) page, there's the following code:

[code]

However, `evaluation_strategy` needs to be an `IntervalStrategy` instead of a `string`. The way `TrainingArguments` actually needs to be called is:

[code]

[2021-08-26 09:08] xegulon opened #13274 "`pipeline` backed with ONNX Runtime and quantization for faster inference"
# 🚀 Feature request

It would be cool, when we load a pipeline, to do, during the loading, the conversion to an ONNX `InferenceSession` along with (optionally) the quantization, as these features provide significant speedups. About the live conversion, maybe it could have been done before, i.e. we could load the `.onnx` file from the Hub (among other model assets). Anyway, the main goal is the use

[2021-08-26 18:18] peregilk opened #13287 "Pretraining T5-v1_1 on Flax"
@patrickvonplaten

In the[Flax tutorial](https://github.com/huggingface/transformers/tree/master/examples/flax/language-modeling) it is recommended loading the config from t5-v1_1-base when pretraining, using:

`config = T5Config.from_pretrained("google/t5-v1_1-base", vocab_size=tokenizer.get_vocab_size())`

This basically copies this [config](https://huggingface.co/google/t5-v1_1-base/blob/main/c

[2021-08-27 03:41] aixuedegege opened #13291 "torch longformer to tf longformer"
# 🚀 Feature request
1、how to use this model in triton
2、how to turn it into a tf model

## Motivation

I downloaded the model from "https://huggingface.co/xcjthu/Lawformer/tree/main" which is a torch model. It can not be transformed to a pt file using "torch.jit.trace". I want to use triton to server it. So I want to try to trans it to a tf model and try to transform it to savedmodel

## Your cont

[2021-08-27 07:37] shreyajain4 opened #13293 "DistilBertTokenizer for distilbert-base-multilingual-cased is unable to encode / decode Japanese characters properly adding unnecessary characters in between"
I have used a google collab notebook.
`transformers` version used is 4.9.2

Model used :
distilbert-base-multilingual-cased
@LysandreJik
I am facing an issue with the tokenizer: @LysandreJik

The problem arises when using the tokenizer in the case of Japanese text. I have attached an example script of what I am going to suggest

![image](https://user-images.githubusercontent.com/23450481/131085602

[2021-08-27 08:37] snaik2016 opened #13295 "GPT2 model state dictionary Tensor types are not matching with pytorch"
## Environment info

- `transformers` version: 4.0.1 and 4.4.2
- Platform: windows
- Python version: 3.6
- PyTorch version (GPU?): 1.8
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
*

[2021-08-27 09:38] pratikchhapolika opened #13296 "__version__ attribute missing in mode config for sentence-transformers/paraphrase-mpnet-base-v2"
I've manually downloaded a model `paraphrase-mpnet-base-v2`, and it appears that the `SentenceTransformer.py` code above is requesting a field` __version__ `in the model config that doesn't appear to be there.

I have read the same topic : https://github.com/UKPLab/sentence-transformers/issues/184 but it doesn't solve the issue.

In the link below:

https://huggingface.co/sentence-transformers/par

[2021-08-27 10:19] stefan-it opened #13298 "Examples: label mapping for text classication tasks are not written into configuration"
Hi,

I've shortly discussed this with @patrickvonplaten , and we came to the conclusion that the following scenario is a bug:

When using the text classification for a GLUE task, no label mapping will be written into the configuration of the final fine-tuned model.

This leads to an unesthetic "label_0" on the model hub, as it can be seen here:

![Bildschirmfoto_2021-08-27_12-17-09](https://user-i

[2021-08-27 15:22] rpowalski opened #13306 "Missing on_predict event in TrainerCallback"
# 🚀 Feature request

Can we add `on_predict` event support in the `Trainer` and `TrainerCallback`?

## Motivation

I was in need to use it already in multiple projects. I think it makes sense since `Trainer` already support `on_evaluate` event inside `evaluate()` method. Corresponding event handler is missing in `predict()` method which is part of the `Trainer` class. Some of the training support

[2021-08-27 19:43] jordiae opened #13311 "[Feature request] Introduce GenericTransformer to ease deployment of custom models to the Hub"
# 🚀 Feature request

Introduce a GenericTransformer model that can handle many different variants and tweaks of the Transformer architecture. There are 2 ways of doing this and I'm not 100% sure of which one would better suit HF:

1. Introduce a GenericTransformerModel with many different options (extensive config file), such as different positional embeddings or attention variants. The modeling c

[2021-08-27 20:37] mosh98 opened #13312 "Having problem Pre-training GPT models"
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parall

[2021-08-28 01:00] aiswaryasankar opened #13315 "Current trainer.py doesn't support beam search"
# 🚀 Feature request

Currently I can't find any support for beam search in trainer.py - to begin with it doesn't even import the BearScorer or BeamHypotheses classes and the evaluation_loop and prediction_loop don't make any use of beam search logic internally.  Its misleading because in the predict and evaluate functions in trainer_seq2seq.py it includes setting the self._num_beams to a passed in

[2021-08-28 05:14] RahulSChand commented on #9772
Hi @LysandreJik is this feature request being worked on by someone? If not, I would love to take it up. Thanks!

[2021-08-28 05:17] RahulSChand commented on #10371
Hi @LysandreJik is this still available for contribution, if yes, I would love to work on it. It would be helpful if you could add a reference draft proposal. Thanks!

[2021-08-28 05:25] brand17 commented on #12202
`predict` works slowly outside of `strategy.scope()`. Is there any other way to make `predict` working with TPU ?

[2021-08-28 07:13] NielsRogge commented on #13312
Probably caused by this PR: #13150

cc @stefan-it

[2021-08-28 08:08] stefan-it commented on #13312
I'm looking into it right now :)

[2021-08-28 08:12] NielsRogge commented on #13315
This post on the forum will answer your question: https://discuss.huggingface.co/t/trainer-vs-seq2seqtrainer/3145/2?u=nielsr

[2021-08-28 08:25] stefan-it commented on #13312
Oh no, this is only happening when using CSV files as input :thinking:

@mosh98 As a very quick workaround, could you try to "convert" your csv file into a normal text file (file extension .txt) and then re-run the training :thinking:

[2021-08-28 08:30] stefan-it commented on #13312
The `keep_linebreaks` argument is only implemented for text files in :hugs: Datasets:

https://github.com/huggingface/datasets/blob/67574a8d74796bc065a8b9b49ec02f7b1200c172/src/datasets/packaged_modules/text/text.py#L19

For CSV it is not available:

https://github.com/huggingface/datasets/blob/67574a8d74796bc065a8b9b49ec02f7b1200c172/src/datasets/packaged_modules/csv/csv.py

[2021-08-28 08:32] stefan-it commented on #13312
I'm working on a fix now (so that `keep_linebreaks` is only used when file extension is `.txt`)

[2021-08-28 08:36] mosh98 commented on #13312
Sure i can try that, i do have aquestion tho,

 when i convert my csv into a text file how will i organize it so that it uses each line as a sample  and also what command do i have to put when i run the script?

[2021-08-28 08:44] stefan-it commented on #13312
You can use the same structure (one individual sample per line) for the text file.

Command would be pretty much the same, but you need to use the file ending `.txt`, so that the training script file will infer the correct extension for the `load_dataset` argument :)

[2021-08-28 09:01] mosh98 commented on #13312
Thank you @stefan-it  the script works now, running out of cuda memeory tho but i think it's irrelevant to the actual script and more to do with my device.

Thanks Again!

[2021-08-28 09:01] #13312 closed

[2021-08-28 09:02] StevenTang1998 opened #13317 "How to use the pretraining task of ProphetNet"
I want to use the pretraining task of ProphetNet, that recovers the mask span of the input sentence.
I follow the instruction of Figure 1 in the paper.

For example, the input is `But I [MASK][MASK] my life for some lovin\' and some gold` and I only recover the first `[MASK]`. (the sentence is from the pretraining corpus BookCorpus)
I use the following code:
[code]

However, the rank of `traded` i

[2021-08-28 09:41] DapangLiu opened #13318 "Errors when fine-tuning RAG on cloud env"
Hi the team,

I'm trying to fine-tune RAG with [the scripts you provided](https://github.com/huggingface/transformers/tree/9ec0f01b6c3aff4636869aee735859fb6f89aa98/examples/research_projects/rag). My env is cloud servers (4 V100 with 48G GRAM), and I always have these errors when do the fine-tuning:

It seems like errors are from faiss (and I don't know how to interpret it. Sizes do not macth?). I

[2021-08-28 10:22] NielsRogge commented on #13197
If you want a neural network to learn additional classes, it's advised to add a new classification head and fine-tune the model on all classes you want. So indeed, now the class embedding layer should have 57 outputs.

Because it's very easy to train PyTorch models. You can of course just train using native PyTorch or using HuggingFace Accelerate, or using HuggingFace's Trainer, etc.

[2021-08-28 10:26] NielsRogge commented on #13317
cc @qiweizhen

[2021-08-28 12:42] cccntu commented on #13236
This requires more code than I anticipated, and the caching isn't as fast as local. I think I will just download to local and call `from_pretrained` with local path.

[2021-08-28 12:42] #13236 closed

[2021-08-28 12:44] cronoik commented on #12996
I want to do it unless someone else did it by September 8th.

[2021-08-28 14:27] cronoik commented on #2691
resize_token_embeddings does not reset the embedding layer, it just extends it. The new tokens are randomly initialized and you need to train them:
- In case you have only a few new tokens, you can do it during finetuning
- In case you have a lot of new tokens, you should probably train your model with the pretraining objective that was used to train the model the first time. You might want to add

[2021-08-28 15:02] #12828 closed

[2021-08-28 15:02] #12826 closed

[2021-08-28 15:02] #12825 closed

[2021-08-28 15:02] #12822 closed

[2021-08-28 15:02] #12819 closed

[2021-08-28 15:02] #12814 closed

[2021-08-28 22:16] MausamGaurav commented on #2478
same here. Stopped working since I restarted one of my jupyter notebooks kernels. Stopped working in front of my eyes. Not sure what is the fix. Probably something to do with the installation of jupyter.

[2021-08-29 02:38] Oxi84 opened #13322 "DestilGTP2 code from pytorch-transformers does not work in transformers, I made a basic example"
How would i convert this to new version of transformers. Or is it possible to somehow use DestilGTP2 with pytorch-transformers.

    use_transformers = True
    if use_transformers:
        import torch
        from transformers import GPT2Tokenizer, GPT2Model, GPT2LMHeadModel
        tokenizer1 = GPT2Tokenizer.from_pretrained('distilgpt2',cache_dir="/var/software/Models/")
        model1 = GPT2LM

[2021-08-29 04:46] Apoorvgarg-creator opened #13323 "Documentation mismatch in Preprocessing data"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.2
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (cpu)
- Jax version: 0.2.19
- JaxLib version: 0.1.70
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

[2021-08-29 13:00] esceptico commented on #12996
@cronoik
I've implemented perceiver io on pytorch: [link](https://github.com/esceptico/perceiver-io)
Now we need to adapt it for Transformers :)
But I have not (yet) added positional Fourier encoding and multimodal decoder

[2021-08-29 13:31] jmwoloso commented on #12996
Don't forget about the `transformers-cli` tool for adding new models.

[2021-08-29 15:13] Mahmoud-Yasser-16 commented on #12807
Is there any new regarding Blenderbot 2.0 with huggingface?

[2021-08-29 21:09] jbpolle opened #13325 "Handling tag with no prefix for aggregation_strategy in TokenClassificationPipeline"
# 🚀 Feature request

Previously the parameter grouped_entities would handle entity with no prefix (like "PER" instead of "B-PER") and would correctly group  similar entities next to each others. With the new parameter aggregation_strategy, this is not the case anymore.

## Motivation

In some simple models, the prefix add some complexity that is not always required. Because of this we are forced t

[2021-08-30 02:55] Doragd commented on #13232
@patrickvonplaten I have proposed a PR for this issue, could you help me check its correctness.

[2021-08-30 03:22] HydraQYH commented on #12989
Sorry for taking so long to reply to you, some urgent tasks need to be dealt with before. I have solved this problem. I use a distributed environment to run BERT model pre-training. I have 4 machines, each with 8 GPUs（32GB V100）. I found that when the batch size read by some workers is not equal to the preset train_micro_batch_size_per_gpu, it will hang. Therefore, the problem may be caused by dif

[2021-08-30 03:22] HydraQYH commented on #12989
Sorry for taking so long to reply to you, some urgent tasks need to be dealt with before. I have solved this problem. I use a distributed environment to run BERT model pre-training. I have 4 machines, each with 8 GPUs（32GB V100）. I found that when the batch size read by some workers is not equal to the preset train_micro_batch_size_per_gpu, it will hang. Therefore, the problem may be caused by dif

[2021-08-30 04:37] cronoik commented on #12996
@esceptico I am not interested in doing the job twice or in a race. If you're already working on it, I'll find something else. :)

[2021-08-30 04:51] Kevinweisl commented on #6263
Thanks @manalabssas
I'm getting the same issue. I try to delete all cache files, and it works.
Thanks for your sharing.

[2021-08-30 04:58] esceptico commented on #12996
@cronoik
I'm not working on adaptation of my implementation for Transformers yet
I mean that I will only be glad if you want to use my repository for this  :)

[2021-08-30 07:20] oscar9231 opened #13326 "Wav2Vec2ForCTC is not BaseModelOutput"
On the website of huggingface: https://huggingface.co/transformers/model_doc/wav2vec2.html#wav2vec2forctc
it says Wav2VecForCTC is "BaseModelOutput".
But actually it is "CausalLMOutput", it has no attribute 'last_hidden_state' or the others of "BaseModelOutput".
Its returns should belong to "CausalLMOutput": https://huggingface.co/transformers/main_classes/output.html#causallmoutput

**The descrip

[2021-08-30 07:50] danshirron opened #13327 "Wrong weight initialization for TF t5 model"
## Environment info
      - `transformers` version: 4.9.2
      - Platform: Linux-4.15.0-142-generic-x86_64-with-glibc2.29
      - Python version: 3.8.10
      - PyTorch version (GPU?): not installed (NA)
      - Tensorflow version (GPU?): 2.5.0 (True)
      - Flax version (CPU?/GPU?/TPU?): 0.3.4 (gpu)
      - Jax version: 0.2.18
      - JaxLib version: 0.1.69
      - Using GPU in script?: Yes

[2021-08-30 07:50] oscar9231 commented on #13326
Hi @patrickvonplaten , I read the source code and found the wav2vecctc only conducts word-level tokenization. Does it  support ctc fine-tuning on grapheme level or character level? Thanks.

[2021-08-30 08:47] julien-c commented on #13236
Thanks for exploring

Yes it's the way we've been recommending 👍

[2021-08-30 09:32] LysandreJik commented on #12936
Unstale

[2021-08-30 09:45] DapangLiu commented on #9627
Could you provide a complete sample code about how to do it? I'm stuck at how to do the config initialization for a DPR + customized BartForCondGen. Thanks!

[2021-08-30 09:45] LysandreJik commented on #13325
cc @Narsil

[2021-08-30 09:48] LysandreJik commented on #12937
cc @Rocketknight1

[2021-08-30 09:49] okalldal opened #13328 "Licenses for Helsinki-NLP models"
Some of the models in the hf-hub under the Helsinki-NLP repo are listed under the apache 2.0 license, but most are listed without a license.

Example of model without license:
https://huggingface.co/Helsinki-NLP/opus-mt-en-de

Only 371 models tagged with a license here:
https://huggingface.co/models?license=license:apache-2.0&sort=downloads&search=helsinki-nlp

Is this omission intentional or are

[2021-08-30 10:00] LysandreJik commented on #13306
cc @sgugger

[2021-08-30 10:01] LysandreJik commented on #12061
From what I'm observing this issue doesn't happen anymore - should we close the issue and reopen if the network failures reappear at some point?

[2021-08-30 10:03] MantasLukauskas opened #13329 "GPT-J-6B in run_clm.py"
## Environment info

- `transformers` version: 4.10.0.dev0
- Platform: Linux-4.19.0-10-cloud-amd64-x86_64-with-debian-10.5
- Python version: 3.7.8
- PyTorch version (GPU?): 1.7.1+cu110 (True)
- Tensorflow version (GPU?): 2.4.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed

[2021-08-30 10:04] #12845 closed

[2021-08-30 10:08] LysandreJik commented on #13329
Hello @MantasLukauskas, GPT-J is not yet merged into `transformers`, see https://github.com/huggingface/transformers/pull/13022

[2021-08-30 10:09] tolgayan commented on #2691
Thank you for the nice and clear explanation! @cronoik

[2021-08-30 10:09] #13193 closed

[2021-08-30 10:09] MantasLukauskas commented on #13329
@LysandreJik Is there any way to do a workaround for fine-tuning it because as I see merge could take some time

[2021-08-30 10:12] LysandreJik commented on #13329
You could checkout the PR directly and try fine-tuning it with the GPT-J code!

[code]

[2021-08-30 10:14] samarth-b opened #13330 "model(**batch) returns loss dictionary that cant be divided by gradient_accu"
Running summarization example with T5 small with the following command produces a dict divided by int error.

to reproduce run:

[code]

https://github.com/huggingface/transformers/blob/8be921f9de012d6f82f1cf4b2dcd4bdf2262071b/examples/pytorch/summarization/run_summarization_no_trainer.py#L521

[code]

**transformer version==4.9.2**
**GPU: Telsa V100 X 2**
**accelerate config:**

[code]

should it

[2021-08-30 10:15] julien-c commented on #13328
@jorgtied might be able to answer this (and then we can programmatically update all models if needed)

Thanks!

(also cc @sshleifer and @patil-suraj for visibility)

[2021-08-30 10:19] LysandreJik commented on #13298
cc @sgugger @Rocketknight1

[2021-08-30 10:21] Rocketknight1 commented on #12937
Hi, I'm sorry for the slow response here! It does seem like an upstream bug, but we'll hopefully be supporting TF 2.6 in the next release. I'm also working on a refactor of the examples using a new data pipeline, so I'll test TPU training with this example when that's implemented to make sure it's working then.

[2021-08-30 10:25] ksopyla commented on #12084
I do not know exactly if my case fits this issue, but I have trained seq2seq model with fairseq (v0.10.1) and current transformer 4.9. In both cases I have used encoder-decoder and BART architecture and saw that Fariseq allows me to use a greater batch size 120- 160 (sentences) around 5000 tokens. Transformers library with deepspeed integration handles max 48(sentences).
I have used 3x Geforce 309

[2021-08-30 10:25] Rocketknight1 commented on #12202
Not easily, unfortunately. This is a known issue at our end and we're hoping to implement a fix, but in the meantime you can try exporting your trained model to a GPU instance and running `predict()` there.

[2021-08-30 10:30] samarth-b commented on #13330
when using a single GPU the script works.
ie, outputs.loss returns a shape (1,) that can be divided by int.

what is the best way to use `outputs.loss` for multiple GPU settings?

[2021-08-30 10:35] #11932 closed

[2021-08-30 10:39] brand17 commented on #12202
Thanks, it is exactly what I am doing now. But it is pain and GPU is slower than TPU. Please advice - could it work if I wrap `transformer` model with functional API ?

[2021-08-30 11:06] sgugger commented on #12685
Yes, this was fixed by #12786 in the end.

[2021-08-30 11:06] #12685 closed

[2021-08-30 11:28] sgugger commented on #11344
Works for me!

[2021-08-30 11:41] sgugger commented on #12965
Yes, this all points out to your corpus being too short to form a full batch. You should use a lower batch size or a lower block size.

[2021-08-30 11:42] xmcs111 opened #13331 "bert:What is the tf version corresponding to tensformers?"
I use python3.7, tf2.4.0, cuda11.1 and cudnn 8.0.4 to run bert-base-un and report an error
- albert, bert, xlm: @LysandreJik
- tensorflow: @Rocketkn

[2021-08-30 11:44] xmcs111 commented on #13331
@Rocketknight1

[2021-08-30 11:53] sgugger commented on #13204
Adding Adafactor in the Transformers library was a mistake, Transformers is a library for models, not optimizers.
I don't think this will be addressed @prikmm so you should look for another implementation of this optimizer to use.

[2021-08-30 11:59] LysandreJik commented on #13331
Hello! Do you mind providing the error you're seeing? Thank you!

[2021-08-30 12:03] sgugger commented on #13189
The training arguments handle the initialization logic for the distributed setup, so they should only be initiliazed inside the `_mp_fn` you launch in parallel.

To launch your training from a colab, you should check the `notebook_launcher` from Accelerate.

[2021-08-30 12:03] sgugger commented on #12789
@jeffin07 You can pick any file that has not already been treated.

[2021-08-30 12:10] xmcs111 commented on #13331
'''
I:?[35mVENTILATOR?[0m:freeze, optimize and export graph, could take a while...
2021-08-30 20:07:49.360788: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll
d:\users\...\pycharmprojects\machine learning i don't study\venv37\lib\site-packages\bert_serving\server\helper.py:176: UserWarning: Tensorflow 2.4.0 is not tested!
 It may

[2021-08-30 12:23] aixuedegege commented on #13291
@NielsRogge Thanks for you answer. But using your code I got some warning "Some weights or buffers of the TF 2.0 model TFLongformerModel were not initialized from the PyTorch model and are newly initialized". I will go to https://discuss.huggingface.co/ for discussing this.

[2021-08-30 12:23] #13291 closed

[2021-08-30 12:29] sgugger commented on #13255
I'm not entirely sure how straightforward this could be, plus it seems like a very narrow use case. I think this should be implemented independently by the user with a custom `compute_loss`  function.

[2021-08-30 12:47] prikmm commented on #12937
@Rocketknight1 Ohh alright. I will keep this issue open for now since it is not yet solved just incase someone needs it. Eagerly waiting for increased TensorFlow support. :smiley:

[2021-08-30 13:03] randomgambit opened #13332 "bug in gpt2 notebook (in tensorflow)"
Hello there!

I tried to use the language-modeling-from-scratch notebook https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/language_modeling_from_scratch.ipynb#scrollTo=JEA1ju653l-p

More specifically, I need to run it by using `tensorflow`. The simple strategy of using the `TF` versions of the `huggingface` functions everything seems to work correctly until I rea

[2021-08-30 13:07] Narsil commented on #13182
Hmm, looked into it a bit, it's not `transformers` that's swallowing the extra space, it's T5 specific.

To do that, I checked with the slow tokenizer to get `tokenizers` out of the equation.
If you look at that, within `src/transformers/tokenization_utils_base.py::tokenize` you can check that everything gets split properly, BUT the t5 tokenization uses for `_tokenize` : `self.sp_model.encode(text

[2021-08-30 13:14] prikmm commented on #13204
@sgugger It worked. I was initializing the `optimizer` and `lr_scheduler` in global scope.
[code]
When I initialized them inside `_mp_fn()`, everything worked fine.
[code]
I think in method-1, the optimizer gets linked to model weights present in host memory. And when the optimizer gets copied to each TPU device. It will still be linked to model weights present in host memory (or to nothing), and

[2021-08-30 13:14] sgugger commented on #13247
I'll look at why it does not work for a 0d tensor when I have a bit of bandwith (lots to do when coming back from vacation!)

The main reason we do it this way is to be able to compute the true average of the loss across all the processes at the end (otherwise we won't get the exact value of the loss). That being said, there is no reason why `accelerator.gather(loss)` in your code should be stuck.

[2021-08-30 13:15] Narsil commented on #13325
Hi @jbpolle what do you mean `correctly` ? We should not have changed behavior there, but indeed it's not part of the testing right now, so there might be some issues.

Could you provide a small script on an older transformers version that displays the intended behavior ?

[2021-08-30 13:30] sgugger commented on #13273
No, this example is correct, as both syntax work.

[2021-08-30 13:32] sgugger commented on #13227
It's impossible to know what went wrong without having the whole output of the tests. The log file does not contain the logs, just which test passed and which did not.

[2021-08-30 13:35] sgugger commented on #12802
I'm not sure what bug in the Trainer I should be looking at. What I see is a bumpier training with a higher learning rate, which seems completely normal.

[2021-08-30 13:41] StellaAthena commented on #13329
You can also install directly from my fork with
`pip install -e git+https://github.com/StellaAthena/transformers#egg=transformers`

[2021-08-30 13:42] Rocketknight1 commented on #12879
Hi, I didn't mean to let this go stale! We're planning a rewrite of our examples with the new data pipeline soon - I'll try to make sure we include the option for a `--predict_file` when that happens.

[2021-08-30 13:44] jbpolle commented on #13325
Hello Nicolas,

Here is what it looks like now in the "hosted inference API » panel:

This is from my model here:
https://huggingface.co/Jean-Baptiste/camembert-ner?text=Je+m%27appelle+jean-baptiste+et+je+vis+%C3%A0+montr%C3%A9al

In previous version, It would display « jean-baptiste PER » and « Montreal LOC ».

However I renamed my entities in the config.json file to I-PER, I-ORG,…which I believe

[2021-08-30 13:46] PKUZHOU commented on #11987
I have the same problem. The accuracy is quite low when performing movement pruning. Have you solved it?

[2021-08-30 13:49] randomgambit commented on #13332
summoning the masters @LysandreJik @sgugger @Rocketknight1 💯

[2021-08-30 14:02] sgugger commented on #13323
Indeed. Would you mind opening a PR with the change?

[2021-08-30 14:09] sgugger commented on #13306
The reason why there is no `on_predict` event is that the `predict` method is never called during the training loop. You can add the code you want to be run after `Trainer.predict` just after calling that method.

[2021-08-30 14:14] dimaischenko commented on #13329
@StellaAthena  I am trying to fine-tune GPT-J from you branch. But neither Tesla A100 with 40GB GPU RAM (Google Cloud) nor TPU v3-8 allow for this. OOM error in both cases.

I am setting batch_size = 1, gradient_checkpointing, trying different block_sizes `1024`, `512`, `256`

Is it possible to fine-tune it on such devices?

[2021-08-30 14:29] sgugger commented on #13298
Should be fixed by the PR above, I forgot the `label_to_name` dict was left to None for GLUE tasks.

[2021-08-30 14:32] MantasLukauskas commented on #13329
@dimaischenko Do you use run_clm.py for fine-tune or do that in another way?

[2021-08-30 14:34] dimaischenko commented on #13329
@MantasLukauskas Yes, bu run_clm.py

[2021-08-30 14:35] #13298 closed

[2021-08-30 14:37] sgugger commented on #13204
Ah yes, you should always define your optimizer after transferring your model on the TPU when working on TPUs, because moving the model to the TPU actually creates new tensors for each parameter. So in your case 1, the optimizer was completely disconnected from the model.

[2021-08-30 15:00] Rocketknight1 commented on #13173
Sorry for the slow reply - this is definitely something we'd be interested in seeing! Can I ask why you used `tf.compat.v1.mixed_precision.enable_mixed_precision_graph_rewrite` in your fork rather than `set_global_policy` or similar? It's not necessarily wrong, but I'm curious what the tradeoffs are there!

[2021-08-30 15:07] #12859 closed

[2021-08-30 15:07] #12856 closed

[2021-08-30 15:07] #12850 closed

[2021-08-30 15:07] #12854 closed

[2021-08-30 15:07] #12848 closed

[2021-08-30 15:07] #12844 closed

[2021-08-30 15:07] #12841 closed

[2021-08-30 15:07] #12829 closed

[2021-08-30 15:07] #12839 closed

[2021-08-30 15:07] #12665 closed

[2021-08-30 15:07] #12601 closed

[2021-08-30 15:08] #11657 closed

[2021-08-30 15:19] #12941 closed

[2021-08-30 15:36] Rocketknight1 commented on #9218
Hi, sorry! I lost track of this issue because we marked it as closed, but I see we didn't resolve @hrdxwandg's problem. Are you still encountering the same error?

[2021-08-30 15:36] peregilk opened #13335 "T5 - Flax - Decreasing performance on pretraining"
## Environment info
- `transformers` version: 4.9.0.dev0
- Platform: Linux-5.4.0-1043-gcp-x86_64-with-glibc2.29
- Python version: 3.8.10
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (tpu)
- Jax version: 0.2.17
- JaxLib version: 0.68

### Who can help
@patrickvonplaten

### Script
Using a slightly modified version of run_t5_mlm_flax.py that also support streaming large datasets.

## Information
I am post

[2021-08-30 15:43] sgugger commented on #13161
I found the root of your issue and the PR mentioned above should fix it.

[2021-08-30 15:45] Rocketknight1 commented on #13331
Hi, it seems like you're using [bert-as-service](https://github.com/hanxiao/bert-as-service) with an unsupported version of Tensorflow. That isn't a Huggingface project, so we can't really support it here, unfortunately! Try filing an issue at that repo instead!

If you're interested in learning to use the Transformers library, you can check out our [documentation](https://huggingface.co/transform

[2021-08-30 15:45] #13331 closed

[2021-08-30 15:49] Rocketknight1 commented on #12727
Hi @sli0111, sorry for the delay but I'm taking a look at this now! Are you still encountering the issue, and have you discovered anything else about it?

[2021-08-30 15:55] #13161 closed

[2021-08-30 15:58] jungminc88 commented on #13161
Thank you very much!

[2021-08-30 16:15] stas00 commented on #12061
Sounds good, @LysandreJik

[2021-08-30 16:41] #13232 closed

[2021-08-30 17:18] qqaatw commented on #13171
Closed as the PR has been merged.

[2021-08-30 17:18] #13171 closed

[2021-08-30 17:39] jbpolle commented on #13325
Adding missing screenshot in previous message:

<img width="541" alt="PastedGraphic-1" src="https://user-images.githubusercontent.com/51430205/131381199-64fa35a0-05dd-4233-a3de-e53307bd6f71.png">

[2021-08-30 17:41] MichaelJanz commented on #12992
Hi, thanks for your answer @NielsRogge. I am trying to do the same for a gpt-2 model with n_embd =1280, using also BertLage as encoder with hidden_size = 1024.

I saved my model and load it now by:
`model = AutoModelForSeq2SeqLM.from_pretrained(...)`

When I started to finetune my model, I reached the same error as OP reported.

I followed your advice afterwards, but this resulted in:
`	size misma

[2021-08-30 17:50] MichaelJanz commented on #12992
Well as I wrote my comment, the solution came into my mind already: After changing the code you need to **recreate the model**. As the doc says: " Cross-attention layers are automatically added to the decoder and should be fine-tuned on a downstream generative task, like summarization", therefore cross_attention layers are automatically added at model creation. Dont try to fit random initiated wei

[2021-08-30 18:44] #13204 closed

[2021-08-30 18:47] sgugger commented on #13146
The PR linked above should solve this problem. It's a bit more general than your solution in the notebook @NielsRogge to handle any nested dict/list of tensors.

[2021-08-30 19:09] MantasLukauskas commented on #13329
@dimaischenko I got error "RuntimeError: [enforce fail at CPUAllocator.cpp:65] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 4027105280 bytes. Error code 12 (Cannot allocate memory)" do you had the same?

100 GB RAM + DeepSpeed Zero 3 + T4 15 GB

[2021-08-30 19:18] sgugger commented on #13252
This is added by the PR mentioned above.

[2021-08-30 19:27] sgugger commented on #13247
https://github.com/huggingface/accelerate/pull/152 should fix the problem on the Accelerate side.

[2021-08-30 19:35] sbmaruf commented on #13252
Thanks a lot for the new feature.  Closing the issue.

[2021-08-30 19:35] #13252 closed

[2021-08-30 20:38] dirkgr opened #13341 "Padding labels is wrong when using `pad_to_multiple_of`"
I haven't tried it myself, but it looks like this line is wrong:

https://github.com/huggingface/transformers/blob/42f359d015aee3835490bdcfa20df657a4d97049/src/transformers/data/data_collator.py#L285

If `self.pad_to_multiple_of` is set to anything but 1, then the length of the labels and the length of the input won't match anymore.

[2021-08-30 21:13] stas00 commented on #12989
Great to hear you have found the culprit, @HydraQYH!

By your description of it, a normal DDP would have had the same problem.

Do you have a solution on your side, or should `transformers` handle such circumstances? Note, that the Deepspeed integration doesn't touch on dataloading, and therefore it's a domain of `transformers` and not of Deepspeed.

[2021-08-30 21:26] stas00 commented on #12084
Have you tried using activation checkpointing? That should save a lot of memory and enable much larger batch sizes.

Also it might be good to try both Deepspeed zero-2 and zero-3 stages - I don't know which one you were optimizing with.

[2021-08-30 22:43] calebjacksonhoward commented on #11799
I have this identical issue.  I am running python under WSL2, which is a docker container, I gather.

[2021-08-30 23:23] aiswaryasankar opened #13343 "OverflowError: out of range integral type conversion attempted for run_summarization.py script using t5-small"
## Environment info

- `transformers` version:
- Platform: Mac OS
- Python version: 3.8.5
- PyTorch version (GPU?):  No GPU , >- 1.3
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

Models:

- t5: @patrickvonplaten, @patil-suraj

Library:

- tokenizers: @LysandreJik
Looks like this is an issue with the t5Tokenizer possibly? - Seems related to this

[2021-08-30 23:52] StellaAthena commented on #13329
4,027,105,280 <<< 100 GB, so it’s hard to see how that’s the issue, unless you have something else running. Can you print out the amount of free memory during the loading process?

[2021-08-31 00:43] tuhinjubcse commented on #8543
[code]

@julien-c  uploading a mbart model from google colab and got it . any pointers ??

[2021-08-31 00:53] jmwoloso commented on #11265
definitely looking forward to a fix for this. how can we help @Rocketknight1?

[2021-08-31 02:03] sli0111 commented on #12727
Hi @Rocketknight1 I was able to workaround the issue by reducing the number of examples to an even number and running a batch_size=2.  I was not able to avoid the error when I had a batch_size=1.

[2021-08-31 02:49] pawanGithub10 opened #13344 "How to use BertForSequenceClassification for the Apect Based Sentiment Analysis"
In Aspect based sentiment analysis the sentence is classified in two way one is aspect and one is sentiment.
e.g.
"The food is good but service is poor"
The output must be
aspect food
sentiment positive
aspect service
sentiment
negative

So how to configure the BertForSequenceClassification so that two output can be generated for the apsect classification and the sentiment classification.

[2021-08-31 03:40] MapleHock opened #13346 "Bert (sentence classification) output is non-deterministic(have checked previous issue, SET model.eval() )"
## Environment info

- `transformers` version:
- Platform: Ubuntu 18.04
- Python version: 3.7.6
- PyTorch version (GPU?): 1.5.1
- Tensorflow version (GPU?): /
- Using GPU in script?: Yes for trainning, Both GPU and CPU for testing scripts
- Using distributed or parallel set-up in script?: Yes for trainning

### Who can help
@LysandreJik

## Information

Model I am using (Bert, XLNet ...): Bert

Th

[2021-08-31 04:34] TiesdeKok commented on #13329
Thanks @StellaAthena and @EricHallahan for all your work on the #13022  GPT-J fork!!

Over the past few days I've been playing around with the current state of the fork and I am running into the same OOM issues that are referenced here by @dimaischenko.

Here is some information from my end in case it is helpful debugging what is happening (I'd be happy to put this in a separate issue if that is d

[2021-08-31 06:33] JHH11 opened #13347 "Predicted Start_index < Predicted End_index in BertForQuestionAnswering"
We want to fine-tuned a QA model, which is based on BertForQuestionAnswering.
After training, we can get a span-start/end scores by input_ids/token_type_ids/attention_mask and choose the indices with maximum span-start/end scores as **predicted start_index** and **predicted end_index**.
But, sometimes **predicted start_index** would less than **predicted end_index**.
If any reasonable method to so

[2021-08-31 06:40] dimaischenko commented on #13329
I think it doesn't matter if you are using 8 GPU or 1 GPU cause `batch_size=1`. So at least one sample fits on one video card. I am trying the same params on A100 card with `40Gb` gpu vram and OOM still exists. So I think that your RTX6000 card with 24 gb vram is definitely not enough for fine-tuning.

But let's wait for the answer from the creators of the model

[2021-08-31 06:55] omerarshad commented on #11344
@sgugger  ,can you share your working code?

[2021-08-31 07:19] Doragd commented on #13330
Please refer to this PR https://github.com/huggingface/accelerate/pull/149

[2021-08-31 07:35] mosh98 opened #13348 "Cannot run grid search using Trainer API and Ray Tune"
## Environment info

- `transformers` version: 4.8.2
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parall

[2021-08-31 08:01] Narsil commented on #13325
I went back to `4.3.3` and I can see that the splitting was exactly the same. (no grouping when tags didn't include B-, I- ).

The fact that the cache wasn't probably cleaned on the widget is still an issue, clearing it.

[2021-08-31 08:14] richardliaw commented on #13348
Maybe try reducing the batch size of your model, do something like 8 or 4 first?

[2021-08-31 08:20] #12965 closed

[2021-08-31 08:29] mosh98 commented on #13348
Tried with 4 and 8 i still get this error :(

[code]

[2021-08-31 08:31] rpowalski commented on #13306
Ok, I see. For my cases having this custom code in the callback feels cleaner and more consistent to the post-processing done during `evaluate()` method, but will do it as you suggest.

[2021-08-31 08:31] #13306 closed

[2021-08-31 08:40] rolandgvc commented on #13219
Hi, any updates on this?

[2021-08-31 09:01] MantasLukauskas commented on #13329
@dimaischenko yes I have the same problem, I tried to use DeepSpeed Zero3 optimizer for this one but even with batch_size=1 and model_revision = float16 I am out of memory. Interesting that with gpt2-xl I have the same problem but I saw a lot of people fine-tuning this model with T4 + Deepspeed :(

[2021-08-31 09:16] whiteRa2bit commented on #13175
An update from my side:
Inference works fine with the sequence length equals 1, while for all other lengths it breaks with the error I described above:

I tried to visualize the converted an onnx graph using netron and found the node where error occurs:
![image](https://user-images.githubusercontent.com/28367451/131476525-b8e1f6cd-fe7f-48d4-92da-dea6d63b6c76.png)

[2021-08-31 09:17] HuangZhenyang opened #13354 "Does Bart Model can fill <mask> with variable length?"
Hi, is it possible for bart in huggingface to fill <mask> with variable length?

For example,
[code]
This code will output `['.', 'cute', 'sweet', 'funny', 'awesome']`. Is Bart able to fill <mask> with more than one words like "cute and smart"? If so, what should I do? Is there an example?

Thank you.

[2021-08-31 09:33] MantasLukauskas commented on #13329
@dimaischenko I tested a lot of parameters and found that with --block_size 512 I can fine-tune GPT-J model. RAM Usage 100 GB, GPU usage 12 GB (Nvidia T4 total 16 GB), DeepSpeed Zero3 optimizer

[2021-08-31 09:39] Rocketknight1 commented on #12727
That's interesting - I'll mark this one down for testing and let you know what I find.

[2021-08-31 09:47] patrickvonplaten commented on #13318
Hey @DapangLiu,

We sadly don't actively maintain the `research_projects` folder except for Wav2Vec2. Could you try to use the forum: https://discuss.huggingface.co/ instead?

[2021-08-31 09:48] patrickvonplaten commented on #13327
I agree! Would you like to open a PR to fix it? :-)

[2021-08-31 09:57] LysandreJik commented on #13229
No this won't change anything, this is so that we may understand what's happening. Please set the config and copy the logs here so that we may help, thank you.

[2021-08-31 09:59] patrickvonplaten commented on #13326
Oh yeah that's a typo in the docs indeed, but it's already fixed on master I think :-)
See: https://huggingface.co/transformers/master/model_doc/wav2vec2.html#wav2vec2forctc

[2021-08-31 10:00] patrickvonplaten commented on #13317
@StevenTang1998 - could you maybe try to use the forum: https://discuss.huggingface.co/ for such questions. I haven't played around with the model enough to give a qualified answer here sadly :-/

[2021-08-31 10:04] saattrupdan opened #13355 "Dependency parsing head for pretrained models"
# 🚀 Feature request: Dependency Parsing Classification Head

Add a new classification head for pretrained models, for dependency parsing.

## Motivation

Current heads, such as `AutoModelForTokenClassification`, does not work well for finetuning a pretrained model for dependency parsing. [There are now such heads available](https://openreview.net/pdf?id=Hk95PK9le), so adding such would make it a l

[2021-08-31 10:08] dimaischenko commented on #13329
Sounds interesting. Maybe it's the optimizer. And what option is it enabled by, or do you need to modify the run_clm.py code?

[2021-08-31 10:13] patrickvonplaten commented on #13343
@aiswaryasankar - could you attach a **minimal** reproducible code snippet (also in google colab form) that allows us to quickly spot the error? Thank you :-)

[2021-08-31 10:14] michaelbenayoun commented on #13175
Hi @whiteRa2bit,
I've actually made the same observation this morning, I am working on it!

[2021-08-31 10:21] MantasLukauskas commented on #13329
@dimaischenko DeepSpeed in library implemented into huggingface (https://github.com/microsoft/DeepSpeed) and you do not need to modify run_clm.py code you fine-tune model like that:
deepspeed --num_gpus 1 run_clm.py --model_name_or_path EleutherAI/gpt-j-6B --num_train_epochs 10 --model_revision float16 --per_device_train_batch_size 1 --per_device_eval_batch_size 1 --train_file train.txt --validati

[2021-08-31 10:23] dimaischenko commented on #13329
@MantasLukauskas thanks! I'll try today and write about the results.

[2021-08-31 10:25] patrickvonplaten commented on #13335
To me this looks like the model is somehow overfitting on the pretraining data.

Think it's very hard to know exactly what is happening here though as the model is trained on specific Norwegian data...one thing it would try is to take the fully pretrained model and to check if it has a tendency to generate the same output tokens. Maybe some words are overly represented in the training data and the

[2021-08-31 10:26] patrickvonplaten commented on #13335
@peregilk - also could you link the model repo on the hub here so that I can take a look into the config?

[2021-08-31 10:28] #13323 closed

[2021-08-31 10:29] LysandreJik commented on #13341
cc @sgugger @Rocketknight1

[2021-08-31 10:33] sgugger commented on #13341
The length of the label and the length of the input rarely match for seq2seq problem, so this is not an issue.

[2021-08-31 10:34] #13146 closed

[2021-08-31 10:37] sgugger commented on #11344
No I meant the plan suggested by @patrickvonplaten in the above message works for me.

[2021-08-31 10:42] LysandreJik commented on #13270
`pip install -e .[dev]` means you'll be installing all the dependencies that we have put down for the `dev` option; which is the option we use to imply that a user is working on the `transformers` package directly. It adds all possible dependencies that would otherwise be blocking: TensorFlow, PyTorch, Flax, speech, vision, ...

It is not necessary to install this to use the `transformers` library

[2021-08-31 10:46] LysandreJik commented on #10371
This has been somewhat addressed by https://github.com/huggingface/transformers/pull/12664

[2021-08-31 10:52] LysandreJik commented on #13311
cc @sgugger regarding 2. :)

[2021-08-31 10:54] LysandreJik commented on #13347
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-08-31 11:00] sgugger commented on #13311
The plan is to add in the coming weeks support for custom models directly in the AutoModel classes, with the user providing the code of their models in a modeling file in the same repository on the model hub (same for custom tokenizers).

ETA for this feature should be end of next week.

[2021-08-31 11:02] sgugger commented on #13245
Yes the `ModelCard` is deprecated as it does not make any sense to deal with this programmatically (the class was there for more than a year and I haven't seen it used once).

The Trainer drafts the model card, it's then the responsibility of the user to edit it in a followup commit, but the easiest way to do this, is through the user's preferred text editor IMO.

[2021-08-31 11:15] valmetisrinivas opened #13356 "Import of transformers package throwing value_error"
I have successfully installed transformers package in my Jupyter Notebook from Anaconda administrator console using the command 'conda install -c conda-forge transformers'.

However when I try to load the transformers package in my Jupyter notebook using 'import transformers' command, I am getting an error, 'ValueError: got_ver is None'.

I am not sure how I can resolve this. Appreciate any inputs

[2021-08-31 12:03] LysandreJik commented on #13346
You should get the following warning when you instantiate your `AutoModelForSequenceClassification` model:

[code]

This tells you that the sequence classifier is not in the checkpoint you're loading: it will be initialized randomly everytime you re-initialize it.

[2021-08-31 12:03] LysandreJik commented on #13356
Do you get the same error when installing from our conda channel?

[code]

[2021-08-31 12:32] valmetisrinivas commented on #13356
Hi, I don't see the problem while installing. Installation goes through successfully. I have reproduced the installation screen shot below. The error message appears when loading the 'transformers' package in Jupyter NB. by the way, as you can see below, I have installed using the above suggested channel too, but the same error persists, while loading the package. Thank you.

(base) C:\WINDOWS\sys

[2021-08-31 12:57] sivakhno opened #13358 "Unexpected weights were not initialized from the model checkpoint error"
## Environment info

- `transformers` version: 4.9.2
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set

[2021-08-31 12:59] StellaAthena commented on #13329
@dimaischenko

If you are working on TPUs, I strongly recommend using the [mesh-transformer-jax](https://github.com/kingoflolz/mesh-transformer-jax) library which was written for the purpose of producing GPT-J models. The version on HuggingFace is a PyTorch port of the original Jax code which has been used by many people on TPUs.

[2021-08-31 13:00] peregilk commented on #13335
Thanks. Here is the link to the repo: https://huggingface.co/pere/norwegian-t5-base-NCC-fast

I absolutely agree that this really looks a lot like overfitting. However, I really can not see why this could be happening. The corpus is described [here](https://github.com/NBAiLab/notram/tree/master/corpus) and [here](https://github.com/NBAiLab/notram/blob/master/corpus/official_NCC2.md). It is huge (2

[2021-08-31 13:06] sgugger commented on #13358
You are not providing the code necessary to reproduce the error so there is little we can do to help. Also note that code like `model = ClassTaggerModel.load_from_checkpoint(checkpoint_file)` does not execute anything from the Transformers library as it uses PyTorch Lightning, so it's unlikely you are getting the warning printed above with it.

[2021-08-31 13:12] craffel commented on #13335
Interesting. I will just confirm that the only time we have seen this behavior (train loss going down, MLM accuracy going up, but downstream task performance going down) is when the model is overfitting to the training dataset. When you say "Eval accuracy is also increasing", do you mean you are computing MLM accuracy on a held-out validation set? Or is it on the train set?

Other random things to

[2021-08-31 13:16] dimaischenko commented on #13329
@StellaAthena Thanks! I'll try `mesh-transformer-jax`. It's just that I already have a reliable fine-tuning pipeline for HuggingFace.

About OOM. I'll repeat my attempts today and will write logs. But the exact loading of the model was successful. And even performed validation with perplexity calculation on validation samples. But when it tried «to eat» the first sample in training, OOM would cras

[2021-08-31 13:21] StellaAthena commented on #13329
This is really weird, given that you've said the batch size is set to 1. How much memory is allocated before you feed the first datum into the model? Does a different architecture that takes up the same amount of memory also fail?

[2021-08-31 14:02] Rocketknight1 commented on #13332
Hey! There are a couple of issues here. The first is that we're trying to move away from TFTrainer towards Keras - there'll be a new version of that notebook coming soon, like I promised!

In the meantime, your approach should work, though. The error you're getting is because `lm_datasets` is actually a `DatasetDict` containing both the train and validation set, so everything downstream gets confu

[2021-08-31 14:09] randomgambit commented on #13332
Thanks @Rocketknight1 ! Actually I was getting the same error even when I was using a `dataset` that only contains one set of data. But you are absolutely; there is no need to fix something that is going to be deprecated soon. Happy to help if you need anything! Thanks!

[2021-08-31 14:11] MapleHock commented on #13346
Ok see it. but I have train my model and load in
[code]

So it's the pytorch function
torch.save(model.state_dict())
does not save the model.classfier and model.bias and I trained, rights?

[2021-08-31 14:36] Rocketknight1 commented on #13332
The good news is I'm moving to working on those TF notebooks right now, so hopefully I'll have a proper example to show you soon. However, the official launch of the new notebooks might depend on the PR at https://github.com/huggingface/datasets/pull/2731 being accepted and making it to release, since I'm planning to use that new method in a lot of them.

Still, I'll make sure to ping you as soon

[2021-08-31 14:38] randomgambit commented on #13332
got it. happy to try out the beta version of them at my risk and peril ;-)

[2021-08-31 15:33] #12971 closed

[2021-08-31 15:42] richardliaw commented on #13348
Can you provide the full traceback?

On Tue, Aug 31, 2021 at 1:29 AM Mosleh Mahamud ***@***.***>
wrote:

[2021-08-31 15:53] #12098 closed

[2021-08-31 15:56] sgugger commented on #13358
I'm sorry but I'm really confused as to why you are opening an issue here: you are saving a checkpoint with PyTorch ligthning and reloading it with PyTorch lightning, not Transformers.

[2021-08-31 15:57] mosh98 commented on #13348
yes here you go, seems like ray tune doesn't want to run at all :(

`No `resources_per_trial` arg was passed into `hyperparameter_search`. Setting it to a default value of 1 CPU and 1 GPU for each trial.
2021-08-31 08:49:52,166	WARNING callback.py:117 -- The TensorboardX logger cannot be instantiated because either TensorboardX or one of it's dependencies is not installed. Please make sure you hav

[2021-08-31 16:28] dirkgr commented on #13341
🤦‍♂️You're right. I was looking for MLM and grabbed the wrong class.

[2021-08-31 16:28] #13341 closed

[2021-08-31 16:30] amogkam commented on #13348
Hey @mosh98, the failures are due to this:
[code]

which looks is coming from the `compute_metrics` function that you are using. What does that function look like?

[2021-08-31 16:35] #13358 closed

[2021-08-31 16:44] mosh98 commented on #13348
Hi, my function looks like this.

[code]

[2021-08-31 16:55] mosh98 commented on #13348
Yes just fixed the metric problem, i forgot to download the correct metric module from Hugginface.

However i am getting this error from pickle, even though i updates to pickle 5

[code]

[2021-08-31 17:18] richardliaw commented on #13348
Seems like the error is:

[code]

as a tip, maybe you could consider also doing `hyperparameter_search(..., fail_fast="raise")` to help see errors better.

[2021-08-31 18:59] merleyc commented on #13270
Thanks for the explanation, @LysandreJik !

I was only able to successfully run `pip install -e .[dev]` after I installed extra packages (librosa and libgcc ) and set up the LD_LIBRARY_PATH. Do you also need to install these packages and set up this env variable or is it something only in my environment? If you also have this dependency, I should probably open a new issue about this it.

Thanks!

[2021-08-31 19:11] mmykhaylov commented on #13229
I know, I meant that the logs stayed absolutely the same

[2021-08-31 19:19] nostalgebraist opened #13360 "CTRL's `config.json` on HF Hub is missing a `model_type`"
The [`config.json` for CTRL](https://huggingface.co/ctrl/blob/main/config.json) on the Model Hub is missing the key `model_type`.

As a result, passing the model repo as a path to `AutoModel.from_pretrained` will fail in some cases.

## To reproduce

Clone the model repo and `cd` into it:

[code]

Then, in a python session, try to load it:

[code]

## Relation to string matching

The problem does

[2021-08-31 20:13] Rocketknight1 commented on #11265
@jmwoloso @ayalaall

Hey all! I'm going to reopen this issue, even though we're short on bandwidth for it right now. The current situation is that we know where the problem lies - it's in the fact that we're returning a `@dataclass` decorated object from our models, and that doesn't play nicely with Keras. We get away with it when we're not in a `Strategy` context, but it breaks inside of one, eve

[2021-08-31 20:23] puraminy commented on #3691
This solution doesn't work for me! I don't know maybe there is a conflict with `pip` an `conda`. I guess after I installed a package `bert_score` by conda, this error appeared and won't go

[2021-08-31 20:46] merleyc commented on #13227
Hi @sgugger ,
Apologies but how can I get the log file ?
To get the results I sent to you in the file "results_cli3_v2.txt" I run this command:
`python -m pytest -n 3 --dist=loadfile -s -v ./tests/ >> results_cli3_v2.txt`

[2021-08-31 20:54] richardliaw commented on #13348
Hmm, @Yard1 I thought there was a patch for the datasets_module thing?

[2021-08-31 20:58] Yard1 commented on #13348
There was - let me try to repro

[2021-08-31 21:05] Yard1 commented on #13348
@mosh98 Hey can you try updating transformers? The patch to fix this issue was introduced in version v4.9.0 and you have said that you have v4.8.2

[2021-08-31 21:50] mosh98 commented on #13348
@Yard1 @richardliaw  updating transformers did help. Huge thanks!

altho i have one last question, is there a way to specify to use tpu's instead of gpu's?

[2021-08-31 22:07] richardliaw commented on #13348
Hmm, great question; are you running this on Colab?

[2021-08-31 22:58] jmwoloso commented on #11265
Say no more @Rocketknight1! I'll take a look and get familiar with the components involved and see if I can devise a minimally-invasive solution. Thanks for re-opening!

[2021-09-01 00:05] jmwoloso commented on #11265
You can assign this to me if you like as well.

[2021-09-01 04:10] laveenaBachani opened #13362 "Hyperparameter search function not working with Trainer and mlflow"
## Environment info

- `transformers` version: 4.9.2
- Platform:
- Python version:
- PyTorch version (GPU?): 1.9.0
- Tensorflow version (GPU?):
- Using GPU in script?:Yes
- Using distributed or parallel set-up in script?:Yes

### Who can help

@sgugger  @noise-field @LysandreJik
Models: bert

my own task or dataset: (give details below) : I am using my own dataset

## To reproduce

Steps to reprod

[2021-09-01 05:16] Doragd opened #13363 "Which files are essential when customize and modify a specific pre-trained model？"
For some reason, I want to customize and modify a specific pre-trained model to adapt my experiments, e.g. BERT.

However, there are so many unrelated files in the  `src/transformers`, and it really confuses me a lot.

I only want to extract the essential source files to support my experiments without installing `transformers`.

**So I would like to know Which files are essential when customize an

[2021-09-01 05:24] Doragd commented on #13363
For example, I find https://github.com/microsoft/unilm/tree/master/unilm-v1/src/pytorch_pretrained_bert  use the `pytorch_pretrained_bert` without installing `transformers`. The file tree is very clean and clear. I also want to do this too, without unnecessary irrelevant source files.
![image](https://user-images.githubusercontent.com/26213546/131616444-d4fe68bf-5406-40ce-9914-03b525621678.png)

[2021-09-01 05:46] patil-suraj commented on #13219
Thanks for reporting this, I'm looking into it.

[2021-09-01 05:57] patil-suraj commented on #13343
from the stack-trace it looks like you are decoding `labels` in the `prediction_step` method. When
`--ignore_pad_token_for_loss` argument is set, the `labels` will still have -100 in `prediction_step`, so -100 should be replaced by pad token before decoding. The `run_summarization.py` script does that in the `compute_metrics` function which is called after the `prediction_step` method.
https://git

[2021-09-01 06:19] aakashb95 commented on #11888
I have gone ahead with the LUKE approach.

The [TACRED dataset](https://nlp.stanford.edu/pubs/zhang2017tacred.pdf) has 79.5% relation labels as 'no_relation'.
This seems logical because not every sentence consists of relations and also reduces false positives. (my model will be tested against newspaper articles, blogs, wiki text, etc)

I have two doubts:
1. Whilst making a custom dataset (like the

[2021-09-01 07:00] #13330 closed

[2021-09-01 07:16] patil-suraj commented on #12827
Yes, this should be allowed, feel free to open a PR if you want @gchhablani :)

[2021-09-01 07:17] danshirron commented on #13327
Will try to do it on coming days

[2021-09-01 07:31] LysandreJik commented on #13270
Those are requirements that PIL and `soundfile` have on system-wide dependencies. Unfortunately, these are not dependencies that we can control from within the `setup.py` - but we should at least make that clearer, for example on this page: https://huggingface.co/transformers/installation.html#installation-with-pip

Would you like to try your hand at modifying the docs to mention what might need t

[2021-09-01 07:49] #12440 closed

[2021-09-01 08:14] LysandreJik commented on #13360
Thanks a lot for opening an issue @nostalgebraist, there is indeed an issue with the configuration file. Updating it.

[2021-09-01 08:27] LysandreJik commented on #13360
It should be fixed now with [`huggingface@07e9f73d`](https://huggingface.co/ctrl/commit/07e9f73d6b0d0dda24506e8ad9ad4fb5cf87f4c9). Thanks again for your report!

[2021-09-01 08:27] #13360 closed

[2021-09-01 08:51] mosh98 commented on #13348
yes i am

[2021-09-01 08:53] qqaatw commented on #13363
Hi,

Basically it's not readily to extract `BertModel` or `BertTokenizer` as an independent module because they're inheriting some base classes resided at other folders, intending to provide some easy-to-use utilities such as `from_pretrained` method.

I think you can have `transformers` as a git submodule in your repository and modify the features you want accordingly.  This way you can still pul

[2021-09-01 08:58] patil-suraj commented on #11639
@xiangsanliu this should be fixed now, the hardcoded `tokenizers_file` path  is now removed (cf hub commit https://huggingface.co/kssteven/ibert-roberta-base/commit/0857df571974cf0633da7536addb8b9da230293b)

you could pass `force_download=True` to `.from_pretrained` to get the update config file.

[2021-09-01 09:17] julien-c commented on #13245
or directly on the hub website 👍

we should remove the current `ModelCard` implementation to make room for new helpers IMO (which will be in `huggingface_hub`)

[2021-09-01 09:24] Doragd commented on #13363
Thanks for your reply.
I plan to inherit the origin class and modify it. Maybe this is a compromise solution for me.

Do you think so? @qqaatw

[2021-09-01 09:55] NielsRogge commented on #11888
Yes, for sure. In that way, you can let the model learn that there are also a lot of sentences where there's no relationship between 2 entities. Probably, the percentage of no_relation labels depends on your domain, but it will probably be the most occuring class.

I don't think you need to add sentences that only have a single entity, you can simply discard these.

[2021-09-01 10:25] mosh98 commented on #13348
do you guys recommend using ray tune for parameter optimization on cloud services rather than running on colab? @richardliaw @amogkam .

Sorry if i spamming you guys with question but i super new to ray tune and especially parameter optimization using Transformers.

[2021-09-01 10:42] aleSuglia commented on #12613
@patrickvonplaten could you please advise?

Thanks,
Alessandro

[2021-09-01 11:10] Rocketknight1 commented on #11265
@jmwoloso Sure, if you'd like! If you have any questions along the way, feel free to ask.

[2021-09-01 11:43] dimaischenko commented on #13329
@StellaAthena I tried again running run_clm.py from the latest branch on single GPU A100 (40Gb)

[code]

and got OOM error
[code]

Today will switch to `mesh-transformer-jax` and try to fine-tune on TPU v3-8 and then convert checkpoint to HuggingFace format.

[2021-09-01 12:01] sgugger commented on #13245
It will disappear in v5 as it's a breaking change.

[2021-09-01 12:05] sgugger commented on #13329
You are trying to use the Adam optimizer with a model of 24Gb. With Adam, you have four copies of your model: model, gradients, and in the optimizer state the gradients averaged and square averaged. Even with fp16, all of that is still stored in FP32 because of **mixed** precision training (the optimzier update is in full precision). So unless you use DeepSpeed to offload the optimizer state and t

[2021-09-01 13:20] qqaatw commented on #13363
Yeah, I think this way is comparatively easy to achieve your goal.

[2021-09-01 13:27] #12730 closed

[2021-09-01 13:31] NielsRogge opened #13370 "[Consistency] Make sure all xxxForSequenceClassification models support problem_type"
A while ago (#11012), an additional attribute called `problem_type` has been added to `xxxForSequenceClassification` models, which you can set to "multi_label_classification", "single_label_classification" or "regression" to fine-tune `xxxForSequenceClassification` models for the respective problem. This makes sure the appropriate loss function is used.

This is great, however, 3 things need to be

[2021-09-01 13:46] abhishekkrthakur commented on #13370
Pretty sure it is documented :)
https://huggingface.co/transformers/main_classes/configuration.html

Agree that its not in cookie-cutter and its not implemented for all models (it cannot be implemented for all). :)

![image](https://user-images.githubusercontent.com/1183441/131682585-2d0b4a83-0885-4536-81bd-e6b46a78eecd.png)

[2021-09-01 14:11] felixlut opened #13371 "wav2vec2-large-xlsr-53 Tokenizer unable to load"
## Environment info

- `transformers` version: 4.10.0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: No
- Using distributed or parallel set

[2021-09-01 15:02] #12866 closed

[2021-09-01 15:02] #12863 closed

[2021-09-01 15:03] #10368 closed

[2021-09-01 15:26] BeaBea1234 opened #13377 "AttributeError: '_LazyAutoMapping' object has no attribute '_mapping'"
For

    from transformer.models.auto.modeling_auto import MODEL_MAPPING

I get the following error:

    AttributeError: '_LazyAutoMapping' object has no attribute '_mapping'

The *_LazyAutoMapping* class does indeed not have the attribute *_mapping* (see https://github.com/huggingface/transformers/blob/master/src/transformers/models/auto/auto_factory.py). However, it has a function *def _iter_(s

[2021-09-01 15:39] Doragd commented on #13363
Thanks.

[2021-09-01 15:39] #13363 closed

[2021-09-01 15:44] flozi00 commented on #13371
https://github.com/huggingface/transformers/blob/ecd5397106e243021ef28e65ca566881bb825bcb/examples/research_projects/wav2vec2/run_common_voice.py#L343-L366

The pretrained model has no tokenizer, you need to built your own one.

If you want to pretrain there is an example script here: https://github.com/huggingface/transformers/blob/master/examples/research_projects/wav2vec2/run_pretrain.py

[2021-09-01 15:46] dimaischenko commented on #13329
@sgugger Thanks for clarification! I configured DeepSpeed and everything started up on the A100 GPU. However, now I need 80Gb cpu RAM, but this is solvable 😄

[2021-09-01 15:49] Nithin-Holla opened #13379 "Error using SpecAugment feature masking in Wav2Vec 2.0"
When fine-tuning Wav2Vec 2.0, turning on SpecAugment and setting a non-zero value for `mask_feature_prob` results in a size mismatch error at the line `spec_aug_mask = torch.where(attention_mask.bool(), spec_aug_mask, False)`. There are no issues when `mask_feature_prob` is set to zero.

## Environment info

- `transformers` version: 4.9.2
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version

[2021-09-01 16:16] davidmezzetti opened #13381 "Zero-shot classification pipeline truncation support"
Transformers 4.10.0 brought [a change](https://github.com/huggingface/transformers/pull/13299/files#diff-c5af53af9b08fb383b49d7a07c1a56c890198b5cd48adc97aeef753fe2e7d60dR91) that modified the default truncation strategy to TruncationStrategy.DO_NOT_TRUNCATE for the ZeroShotClassificationPipeline.

That uncovered an issue in that the [ZeroShotClassificationPipeline](https://github.com/huggingface/t

[2021-09-01 16:29] sgugger commented on #13329
There is also the NVME offload if CPU RAM becomes a problem :-)

[2021-09-01 17:17] AlfredWGA commented on #12851
@LysandreJik Thank you for the follow-up. I'll pay attention to any updates.

[2021-09-01 18:25] davidmezzetti commented on #13381
One additional related question: this warning gets printed out each zsl pipeline call now:

logger.warning("The tokenizer {self.tokenizer} does not have a pad token, we're not running it as a batch")

Would that make more sense to raise on init of the object vs each call? Otherwise, it can get pretty noisy even if you reuse the same zsl pipeline multiple times.

[2021-09-01 20:50] mehmetsinanyildirim opened #13382 "Small typo"
https://github.com/huggingface/transformers/blob/4475f1dc2aa7153adb5e66b361c48aed1321fe3d/examples/pytorch/question-answering/run_qa.py#L423

On this line, the word 'agument' has a typo. I believe it should be argument. While we are at it, I think changing it to 'the argument' would be better as well.

[2021-09-01 21:19] liuhoward opened #13384 "not support Pytorch 1.8.2"
## Environment info

- `transformers` version: 4.9 and 4.10
- Platform: Dockerfile with ubuntu 18.04 base
- Python version: 3.8
- PyTorch version (GPU?): 1.8.2+cpu and 1.8.2+cu102

I install transformers using Pip in my Dockerfile, when I compile my Dockerfile, it shows error that transformers does not support pytorch 1.8.2+cpu and 1.8.2+cu102:

Downloading transformers-4.10.0-py3-none-any.whl (2.

[2021-09-02 03:12] qqaatw commented on #13384
Hello,

There is actually no torch v1.8.2 on either pypi or [torch hosted repository](https://download.pytorch.org/whl/torch_stable.html). You should probably install v1.8.1 or v1.9.0+

[2021-09-02 05:05] DojoSg commented on #12570
I have a similar challenge. I have 3 GPUs in the server. I run the script like this:
[code]
however, when I print training_args.device, it still shows cuda:0. I am using Seq2SeqTrainingArguments

[2021-09-02 05:23] patil-suraj commented on #12117
Hi there, I just tried this but couldn't reproduce it. Here's the colab if you want to check https://colab.research.google.com/drive/1gGWMOdjF6wIVfUlo0XE1LfupY5T7ioVS?usp=sharing

[2021-09-02 05:43] patil-suraj commented on #7060
Hi @kaivu1999, @pdakwal

There is a `run_translation.py` script [here](https://github.com/huggingface/transformers/tree/master/examples/pytorch/translation), which can be used for fine-tuning mBART-50 but it does not support multi-lingual fine-tuning. But it should be easy to adapt to do that.

For multi-lingual fine-tuning, what we need to do here is, say we are fine-tuning on two language pairs,

[2021-09-02 05:54] patil-suraj commented on #12755
@patrickvonplaten is it resolved now?

[2021-09-02 06:02] patil-suraj commented on #13221
Hi @Fikavec

Thank you for reporting this, the typo is fixed now!

Yes, I will take a look.

I don't think this is an error but I will take a look. But I have observed this behavior with multi-linguial models, the translations sometimes could be wrong especially for low-resource languages.

[2021-09-02 06:02] sekharvth commented on #13060
Hey @patrickvonplaten, just checking in to see if @mfuntowicz is back :)

[2021-09-02 06:06] patil-suraj commented on #12775
@Mehrad0711

Supporting such large model inference in Transformers is under work now, so it should be possible to add the 12B model in near future, I will post an update once it's ready :)

The current conversion script might not work for the 12B model, as the module structure seems a bit different.

@Fikavec

Thank you for sharing these links, I will add those models.

[2021-09-02 07:19] patil-suraj commented on #12073
Hi @zijwang , thanks a lot for spotting this.

The tokenizer API is changed a bit,  instead of passing `src_lang` and `tgt_lang` to tokenizes `__call__` method, we can now pass these when initializing the tokenizer, or we could set those properties as well. Here's a minimal example

[code]

[2021-09-02 08:50] NielsRogge commented on #13354
There is an example in the [docs](https://huggingface.co/transformers/model_doc/bart.html) of BART:

[code]

As stated in the docs:

In other words, it's possible as shown in the example above.

However, could you please ask such questions on the forum rather than here? We like to keep Github issues for bugs/feature requests.

Thanks!

[2021-09-02 08:50] #13354 closed

[2021-09-02 08:51] NielsRogge commented on #13382
If there's a typo, feel free to open a PR! Thanks.

[2021-09-02 09:18] GTimothee opened #13388 "Hard time installing huggingface for python3.8 cuda10.1"
## Environment info
- `transformers` version: 4.10.0
- Platform: linux (ubuntu)
- Python version: 3.8
- PyTorch version (GPU?): 1.7.1+cu101
- Tensorflow version (GPU?): 2.2.0 , tf-gpu : 2.2.0
- Using GPU in script?: not even using it for now
- Using distributed or parallel set-up in script?: no

## Assignees
- trainer: @sgugger

## Information
I am trying to fine tune the LayoutLMv2ForSequenceClas

[2021-09-02 09:24] felixlut commented on #13371
Ok, thanks for the quick response!

[2021-09-02 09:24] #13371 closed

[2021-09-02 09:32] #12073 closed

[2021-09-02 09:46] LysandreJik commented on #13377
Hello! Could you provide the details of your environment please?

[2021-09-02 09:49] Doragd opened #13389 "How can I convert fairseq checkpoint to huggingface for `XLMProphetModel`?"
Recently, I spent a lot of time reproducing the New Title Generation (NTG) experiment result in the original paper with `microsoft/xprophetnet-large-wiki100-cased-xglue-ntg`. However, it seems cannot be reproduced.

Finally, I find the pre-trained model named `microsoft/xprophetnet-large-wiki100-cased` seems to be not the Prophet-X, i.e. Prophet-Multi in the original paper.  Actually, it is a base

[2021-09-02 09:54] LysandreJik commented on #13381
cc @Narsil

[2021-09-02 09:56] #12762 closed

[2021-09-02 09:58] #13148 closed

[2021-09-02 09:59] LysandreJik commented on #13388
Can you try updating your TensorFlow version and letting us know if it fixes your issue? For example to tensorflow v2.5.0

[2021-09-02 10:10] patil-suraj commented on #9731
Thanks a lot, @zhaochaocs and @twadada  for bringing this to our attention :)

@patrickvonplaten I tend to agree with what @twadada said. Leaving this unfixed might cause issues when fine-tuning BART for MLM and this is a very sneaky bug so would be hard to detect.

IMO we could update the weights of the official models since BART is primarily used for downstream tasks mostly summarization and zer

[2021-09-02 10:14] davidhewitt opened #13390 "Transformers crashes mypy"
Ubuntu 21.04, tested on both Python 3.8 and Python 3.9 with mypy 0.910

I get a crash caused by transformers `4.10.0` when typechecking a private codebase which imports transformers. This is the error message:

[code]

(I also get the crash trying mypy master. I'm going to submit a corresponding bug report directly to the mypy issue tracker.)

This is the corresponding line:

https://github.com/hu

[2021-09-02 10:57] GTimothee commented on #13388
Hello, finally I solved my issue : it was a tensorflow-related issue. In fact I was playing with a small script named code.py in which I was importing stuff from huggingface, and tensorflow was trying to import something else, also named code.py so there was a circular import or something. So in the end I just renamed my script file and it works !

[2021-09-02 10:57] #13388 closed

[2021-09-02 11:44] sgugger commented on #12570
This is normal, PyTorch names all visible devices from 0 to the number -1. So cuda0 in PyTorch is the first device you set as available, in this case GPU 2.

[2021-09-02 12:36] Narsil commented on #13381
What model/tokenizer were you using ? Using ONLY_FIRST on tokenizer that do not have pad_token should have resulted in error before, but I could be mistaken.

For the warning, as it was supposed to be a new path (and not an old one), it is indeed a bit noisy, and should be cleaned up with the new refactor of pipelines. https://github.com/huggingface/transformers/pull/13308

What you are claiming i

[2021-09-02 12:46] Eberli commented on #12778
@AntonioLopardo @shamanez Hi!
I think the problem is the version of the ray library. I had the same problem with version 2.0. In version 1.3, the error doesn't appear.

[2021-09-02 12:53] Joy-Lunkad commented on #13246
@Rocketknight1 Sorry, but can you please elaborate on how to load the model in Tensorflow? I am new to hugging face and I have been looking all over for instructions on how to do it. Thank you.

[2021-09-02 12:55] GTimothee opened #13391 "How to build a custom dataset for LayoutLMv2ForSequenceClassification?"
## Environment info
- `transformers` version: 4.10.0
- Platform: Linux
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.0+cu101 (True)
- Tensorflow version (GPU?): 2.2.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

Docu

[2021-09-02 13:03] sgugger commented on #13391
Please use the [forums](https://discuss.huggingface.co/) to debug your code as we keep the issues for bugs and feature requests only.

There is not a special Dataset that works better for the Trainer, using a standard PyTorch dataset completely works. The problem here is in your specific dataset, which doesn't have tensors of the same shapes, though can't be collated directly in a batch. Like in p

[2021-09-02 13:17] GTimothee commented on #13391
Hi,
Sorry for that, I did not know there was a forum.
I don't see how my inputs can be of different shapes, as they are images, and I convert them to RGB before resizing them using ```self.transforms(img)```, do you have any idea?

[2021-09-02 13:25] BeaBea1234 commented on #13377
This is the one I'm using:

Python 3.8.10
# packages in environment at /usr/local/envs/transformersum:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                      1_llvm    conda-forge
abseil-cpp                20210324.2           h9c3ff4c_0    conda-forge
absl-py

[2021-09-02 14:02] NielsRogge commented on #13391
Hi,

I see you are truncating the inputs, but the processor can take care of that for you.

[code]

[2021-09-02 14:24] LemonMi opened #13392 "TorchScript warning"
# 📚 Migration

## Information

Model I am using (**Bert**, XLNet ...):

Language I am using the model on (English, **Chinese** ...):

The problem arises when using:
* [yes] the official example scripts: (give details below)
* [ ] my own modified scripts: (give details below)

The tasks I am working on is:
* [yes] an official GLUE/SQUaD task: (give the name)
* [ ] my own task or dataset: (give deta

[2021-09-02 15:06] GTimothee commented on #13391
Hi,
Thank you very much that is what I was looing for. Actually I looked for such parameters in the doc but for some reason I could not find it...
Thank you a lot for your help.
I have a new error, however, I don't know if you have any idea of how to solve it?
[code]

Note: I have got this error using the above code

[2021-09-02 15:13] NielsRogge commented on #13391
That's because you need to remove the batch dimension which the processor automatically adds. I have updated my code snippet above.

[2021-09-02 15:23] NielsRogge commented on #12990
I have added documentation, see #13240. Therefore, closing.

[2021-09-02 15:23] #12990 closed

[2021-09-02 15:26] GTimothee commented on #13391
It works ! Thank you very much for your help !

[2021-09-02 16:09] AmineKheldouni opened #13394 "LayoutLMv2Processor padding/truncation issues"
Hi there,

I had a troubleshooting concerning LayoutLMv2 during inference. I am using the LayoutLMv2 Processor to encode my inputs, feeding the processor with the inputs (the full image, texts and bounding boxes) in order to encode them and call the LayoutLMv2 model. The issue is that the processor doesn't seem to respond to my padding/truncation strategies and fails to batch encode the inputs as

[2021-09-02 17:08] davidmezzetti commented on #13381
Appreciate the quick response. Here is code that works in 4.9.2 but fails in 4.10.0

[code]

I don't think the truncation param ever did anything but changing the default tokenization param from ONLY_FIRST to DO_NOT_TRUNCATE seems to have exposed the issue.

[2021-09-02 17:31] Doragd commented on #13384
Hi，you can acess the https://pytorch.org/ and find the  LTS version is PyTorch 1.8.2

[2021-09-02 17:57] merleyc commented on #13270
I will be happy to (will work on that next week :) )

[2021-09-02 18:03] Narsil commented on #13381
Ok.

I can confirm that truncation went from being on by default to not by default.

@LysandreJik that was to enable all tokenizers that don't have a `pad_token` (and can't pad anyway). However, changing the default for tokenizer that can was an oversight on my part.

We can go different routes:

1. Revert the change of default, and override to DO_NOT_TRUNCATE only in the `pad_token` missing path

[2021-09-02 19:18] pafitis commented on #12916
Are there any updates on this?

[2021-09-02 19:20] nateraw commented on #13245
closing and will address in `huggingface_hub`

[2021-09-02 19:20] #13245 closed

[2021-09-02 21:23] jordiae commented on #13311
Perfect, thanks!

[2021-09-03 03:13] Jeremiah0425 commented on #1775
hi,you can run this model?

[2021-09-03 03:37] hyukyu opened #13397 "T5: relative position embeddings"
Hello,
In the paper [Exploring the limits of Transformer Learning with a Unified Text-to-Text Transformer](https://arxiv.org/pdf/1910.10683.pdf) it says that they share the position embedding parameters across all layers.
<img width="967" alt="Screen Shot 2021-09-03 at 12 35 38 PM" src="https://user-images.githubusercontent.com/19749157/131946859-b23e5ff6-a1ae-4295-8511-4dc8fe273f7f.png">

But as

[2021-09-03 05:46] qqaatw commented on #13384
Thanks for the info @Doragd. To OP, if you want to use PyTorch v1.8.2, you'll have to follow the install instruction on PyTorch website and then install `transformers` because PyTorch v1.8.2 doesn't exist on the official pypi repository.

[2021-09-03 06:08] LysandreJik commented on #13392
Hello! Do you have a reproducer showing different results when using torchscript?

[2021-09-03 06:10] LysandreJik commented on #13377
Does this still happen if you install transformers from our channel?
[code]

[2021-09-03 06:14] LysandreJik commented on #13270
That sounds great @merleyc, looking forward to it!

[2021-09-03 06:32] LemonMi commented on #13392
Sorry It's my mistake. This warning doesn't affect the results. Thank you for your answer.

But i meet another problem. When i load a torchscript model, and feed same input for 100 times, the time cost is different. It cost more at beginning.

Code like this:
`model.to(device)
input_ids = input_ids.to(device)
attention_mask = attention_mask.to(device)
token_type_ids = token_type_ids.to(device)

fo

[2021-09-03 06:34] NielsRogge commented on #13394
Hi,

Can you provide a Colab notebook or code snippet that reproduces your issue? I see that you're only providing a single image to the processor, so that's actually not a batch of examples, but just a single example.

[2021-09-03 06:57] sooftware opened #13398 "PreTrainedTokenizerFast to BertTokenizer"
Hi! I have a question about tokenizers.
I made a unigram sentencepiece tokenizer using `tokenizers`.

I use this tokenizer like following:

[code]

- Output
[code]

I think the tokenizer's working. But I want the following format. (bert format)
[code]

I want to convert it to be easy to use, what can I do?
Thank you.

[2021-09-03 07:13] ZhaofengWu opened #13399 "Unified freezing interface"
# 🚀 Feature request

We can freeze the backbone of individual models by finding the field name of the backbone (e.g., `bert` in `BertForSequenceClassification`) and setting `.requires_grad`. However, because the name of this field differs for different models, I don't think there's currently an easy way to do this that works for all models. This contradicts the philosophy that `AutoModel(ForXXX)`

[2021-09-03 07:27] sooftware commented on #13398
I tried like this:

[code]

I expected that if I change the `build_inputs_with_special_tokens` method, tokenizer would add [CLS] and [SEP].

[2021-09-03 07:30] LysandreJik commented on #13388
Ah interesting! Thanks for updating us.

[2021-09-03 07:41] LysandreJik commented on #13399
Hello, thanks for opening an issue! You're right that this is not as accessible as it could/should be. As a workaround, in PyTorch the base model name should always be set according to the `base_model_prefix`. In order to retrieve the base model, it should be possible to do:
[code]
If you want this to work with `AutoModel` too where the model is the backbone, you can do this instead:
[code]

[2021-09-03 07:49] LysandreJik commented on #13398
You should be able to do so by adding a `post_processor` to your tokenizer: https://huggingface.co/docs/tokenizers/python/latest/quicktour.html#post-processing

[2021-09-03 07:59] sooftware commented on #13398
@LysandreJik Thank you. But, this is not work for me.
[code]

[2021-09-03 07:59] sooftware commented on #13398
The tokenizer is instance of `PreTrainedTokenizerFast `

[2021-09-03 08:04] LysandreJik commented on #13381
I think we can go with 1. and then release a patch (v4.10.1) to keep the previous behavior

[2021-09-03 08:05] LysandreJik commented on #13392
I suspect this is because torchscript is tracing your model the first times, hence why it takes longer. Once the tracing is done, the times should stabilize.

[2021-09-03 08:28] #13391 closed

[2021-09-03 08:49] LysandreJik commented on #13398
Can you try doing it on the `SentencePieceUnigramTokenizer` instance (before it's converted to a `transformers` tokenizer?)

[2021-09-03 09:21] LysandreJik commented on #13356
Hmmm I have trouble reproducing. If you have it handy, do you mind pasting the full stack trace? Thank you

[2021-09-03 09:50] 1148330040 commented on #13064
I asked questions where you said, but no one replied to me. I hope you can tell me the answer to this question. Thank you！
https://discuss.huggingface.co/t/how-to-extract-the-encoded-data-of-feed-forward-layer-in-tfbertmodel/9320

[2021-09-03 10:05] NielsRogge commented on #12916
Hi,

I'll first fix the issue that you can't import `load_tf_weights_in_tapas`. You can then use it.

[2021-09-03 10:40] AmineKheldouni commented on #13394
Hi,

Thank you for your reply. I agree I am not performing a batch encoding since there is only one image.

I actually followed your guide in `https://github.com/NielsRogge/Transformers-Tutorials/blob/master/LayoutLMv2/FUNSD/Inference_with_LayoutLMv2ForTokenClassification.ipynb` but didn't understand why we needed word labels during inference (perhaps only for evaluating predictions against ground

[2021-09-03 10:40] #13394 closed

[2021-09-03 10:40] artmatsak commented on #9160
That was my case with `ltgoslo/norbert` producing the nan loss with FP16. Setting `fp16` to `False` solved the issue, thanks!

[2021-09-03 10:45] Narsil commented on #13381
The PR is ready. Turns out the default Truncation.ONLY_FIRST can break (on LED with small tokenizers) where the input is not large enough. (I am not really sure why it's an error in `tokenizers`).

So I made the changes that hopefully should match the old behavior more closely.

[2021-09-03 11:23] GuillemGSubies opened #13402 "TrainingArguments default parameters throw error (evaluation_strategy, save_strategy)"
## Environment info

So `evaluation_strategy` default value is `"no"` while the default for `evaluation_strategy` is `"steps"`. This will result in an error:

https://github.com/huggingface/transformers/blob/76c4d8bf26de3e4ab23b8afeed68479c2bbd9cbd/src/transformers/training_args.py#L684

### Who can help

- trainer: @sgugger

I could make a PR but changing the default values of something is a brea

[2021-09-03 11:48] BeaBea1234 commented on #13377
it worked, thank you very much! I also had to install huggingface tokenizers=0.10.1, in case this information might help someone.

[2021-09-03 11:48] #13377 closed

[2021-09-03 12:03] sgugger commented on #13390
I am unsure what you want us to do on the Transformers side? This seems to be a bug in mypi.

[2021-09-03 12:08] sgugger commented on #13402
That's only when using `load_best_model_at_end` though, so not the real defaults. We can't change the defaults of other arguments without making a breaking change, so yes, when using `load_best_model_at_end=True` you need to set an `evaluation_strategy` and a `save_strategy` that match.

[2021-09-03 12:36] Weifeng-Chen opened #13405 "about 'text-generation': how can I generate sentences with multiply words?"
For example. Given "apple", "table", I want to generate a sentence like " an apple on the table"

[2021-09-03 13:19] iamlockelightning opened #13407 "How to use multiple PreTrainedModel models in a custom model?"
## Details

I am using the Trainer to train a custom model, like this:

[code]

When running `trainer.save_model()`, it will only save the model's state, as the custom model is not a `PreTrainedModel`(as shown below).
[code]
And when reloading the saved model on production, I need to initialize a new `MyModel` and load its states, which is not so convenient. I hope to load this model using `transf

[2021-09-03 13:21] iamlockelightning commented on #13407
Please help. @LysandreJik @sgugger

[2021-09-03 14:05] sgugger commented on #13407
A model that is not inside the `transformers` library won't work with the AutoModel API.
To properly use the save/from pretrained methods, why not subclassing `PreTrainedModel` instead of `nn.Module`?

[2021-09-03 14:09] sooftware commented on #13398
It works! Thank you! @LysandreJik

[2021-09-03 14:09] #13398 closed

[2021-09-03 14:18] NielsRogge commented on #12916
Good news: I've successfully converted the TapasForMaskedLM checkpoints.

I've already uploaded some on the hub:

* google-tapas-base-masklm: https://huggingface.co/google/tapas-base-masklm
* google-tapas-large-masklm: https://huggingface.co/google/tapas-large-masklm

Note: it will not work with the current version of Transformers, you'll need to install from the PR I will open soon.

[2021-09-03 14:31] pafitis commented on #12916
Thank you Niels!

[2021-09-03 15:07] #12912 closed

[2021-09-03 15:07] #12908 closed

[2021-09-03 15:07] #12907 closed

[2021-09-03 15:07] #12906 closed

[2021-09-03 15:07] #12903 closed

[2021-09-03 15:07] #12902 closed

[2021-09-03 15:07] #12898 closed

[2021-09-03 15:07] #12892 closed

[2021-09-03 15:07] #12890 closed

[2021-09-03 15:07] #12883 closed

[2021-09-03 15:07] #12881 closed

[2021-09-03 16:05] gianlucabusatta opened #13409 "git.exc.InvalidGitRepositoryError when running finetune_rag.py"
## Environment info
[code]
I'm on Colab.

### Who can help
research_projects/rag: @patrickvonplaten, @lhoestq

## To reproduce

Steps to reproduce the behavior:

1.
[code]
2.
[code]
# Error
[code]

## Expected behavior

Not having this error.

[2021-09-03 18:26] margotwagner opened #13411 "AttributeError: type object 'Wav2Vec2ForCTC' has no attribute 'from_pretrained'"
## Environment info

- `transformers` version: 4.6.1
- Platform: macOS-10.15.7-x86_64-i386-64bit
- Python version: 3.8.5
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): 2.3.1 (False)
- Using GPU in script?:  no
- Using distributed or parallel set-up in script?: distributed

### Who can help

@patrickvonplaten

## Information

Model I am using (Bert, XLNet ...): wav2vec2

The p

[2021-09-03 18:38] pafitis commented on #12916
Hi @NielsRogge, I wanted to see if this performance is expected. Using this branch (same as PR linked): https://github.com/NielsRogge/transformers/tree/fix_tapas_conversion_script

The example:

[code]

The results I get:

**FOR google/tapas-large-masklm:**
[code]

**FOR google/tapas-base-masklm**
[code]

**IS THIS BEHAVIOUR EXPECTED? SEEMS VERY POOR!**

[2021-09-03 18:44] ZhaofengWu commented on #13399
Thanks! I will keep this issue open since I think this can be more elegantly supported, or at least this logic can be encapsulated with a flag. But feel free to close it.

[2021-09-03 20:02] altosaar commented on #13411
Also having this issue!

[2021-09-03 20:15] jbpolle commented on #13325
I was working on 4.3.2 and here is how this was working:
![image](https://user-images.githubusercontent.com/51430205/132059845-039b0ade-54f2-45b1-80b1-993641b520e6.png)

But now in 4.9:
![image](https://user-images.githubusercontent.com/51430205/132060946-dce28417-0080-43cb-93c3-95d0cc76e2cc.png)

And even when playing with new aggregation_strategy parameters, I can't get previous results.
Anyway

[2021-09-03 21:22] liuhoward commented on #13384
I've installed PyTorch v1.8.2, but failed at installing transformers because v1.8.2 is not in supported list in transformers.

[2021-09-03 21:22] sooftware opened #13412 "Sentencepiece Unigram tokenizer add tokens"
I use sentencepiece unigram tokenizer that trained by `tokenizers` library.
I'm trying to combine the two languages of tokenizer.
So I tried like following:

[code]

Will there be a problem when combined like this?
Thank you.

[2021-09-03 21:51] jmwoloso commented on #11265
@ZJaume @ayalaall @Rocketknight1
An update for the group. I'm still doing some testing, but this is fixed in both `master` and `transformers==4.10.0`!

Using a single VM (4 v100 GPUs) with `MirroredStrategy` works out of the box. `transformers==4.9.2` (the version I happened to be using) it does not work.

[code]

[code]

[2021-09-03 22:06] qqaatw commented on #13384
I'm pretty sure `transformers` supports PyTorch v1.8.2. The error message you posted does not mean **not supported**, it just means pip cannot find the specific version of PyTorch in the given pip repository.

I've tested the following code on Colab, `transformers` worked as expected.
[code]

Outputs:
[code]

Could you post your Dockerfile here?  so we can better understand what the problem is.

[2021-09-03 22:09] Doragd commented on #13384
@liuhoward I have installed transformers successfully under the PyTorch v1.8.2. All is well.
You can follow my steps
[code]
The command output logs of `pip list`:
[code]

[2021-09-04 00:02] ZhaofengWu opened #13413 "Possibility of disabling add_pooling_layer that works for all models"
# 🚀 Feature request

A way to ensure that no additional pooling layers are added that works for all model types.

## Motivation

I just want a barebone transformer and I need the per-token representation. Hence the pooling layer that is added in BERT-based models is not necessary for me, but it still occupies memory and forward pass time. Now, I think this can be disabled via `AutoModel.from_pretr

[2021-09-04 00:47] Hecim1984 opened #13415 "13134"
13134

_Originally posted by @Hecim1984 in https://github.com/huggingface/transformers/issues/13134#issuecomment-912878040_

[2021-09-04 00:48] #13415 closed

[2021-09-04 04:45] patil-suraj commented on #13397
Hi @hyukyu ,

T5 implementation does share the relative embedddings. The `has_relative_attention_bias` specifies which layer should store the embedding, which is the first layer in T5. Then the `position_bias` is computed in the first layer and shared with all other layers.

See
https://github.com/huggingface/transformers/blob/76c4d8bf26de3e4ab23b8afeed68479c2bbd9cbd/src/transformers/models/t5/mod

[2021-09-04 05:17] hyukyu commented on #13397
Hello @patil-suraj,

I misunderstood the code, but now it is very clear that they do use relative embeddings in the other layers too.

I really appreciate your helps. Thank you!

[2021-09-04 05:17] #13397 closed

[2021-09-04 07:34] josephrocca opened #13416 "RuntimeError: Unknown: CUDNN_STATUS_EXECUTION_FAILED"
## Environment info
(See reproduction steps for the docker image to get exact environment)
- `transformers` version: 4.10.0
- Platform: Linux-5.11.0-7620-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): 2.4.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (gpu)
- Jax version: 0.2.17
- JaxLib version: 0.1.69
- U

[2021-09-04 07:54] patil-suraj commented on #13416
Hi there,

No, it does not, it takes ~600M in fp32.

Also, this does not look like a memory error. This most probably is related to JAX GPU installation, as you can find [here](https://github.com/google/jax#installation), JAX needs the right version of CUDA and CuDNN installed. So maybe there is a version mismatch between the docker image and the required version by JAX. Could you please verify if

[2021-09-04 08:39] bingo789 opened #13417 "No log output to console"
when i debug a demo, like below:
[code]

but it's No log output to console. What to do can the logs output  to the console？

[2021-09-04 08:50] josephrocca commented on #13416
@patil-suraj Thanks for your fast reply! Here are the exact reproduction steps I just took to confirm that the right versions of CUDA and CuDNN are available:
[code]
[code]
Output:
[code]
For CUDA v11.1, CuDNN must be version 8 as specified in the instructions you linked:
[code]
Output:
[code]
Confirm that `/usr/local/cuda-11.1` exists per instructions. ✅

Install jax and jaxlib:
[code]
Install `t

[2021-09-04 08:54] josephrocca commented on #13416
I also just tried `distilbert-base-uncased` using that exact same environment (the same docker container instance, I mean) and got a `RuntimeError: CUDA operation failed: out of memory` despite having around 7GB of memory free according to `nvidia-smi`:
[code]
2021-09-04 08:51:12.465635: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.s

[2021-09-04 09:18] josephrocca commented on #13416
I'm not sure if they're related, but there are mentions of the `` error here:

* https://github.com/google/jax/discussions/6332
* https://github.com/google/jax/issues/6039

In the latter issue hawkinsp mentions that 2GB og GPU memory is too little:

So I wonder if ~6.5 GB is also too little? Seems unlikely, but maybe @hawkinsp could comment?

[2021-09-04 10:27] Blacksimo opened #13418 "Cannot Replicate xlm-roberta-large-xnli Results"
## Environment info
- `transformers` version: 4.9.0
- Platform: Linux-5.4.0-1055-aws-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.8.1+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parallel set-up i

[2021-09-04 10:29] josephrocca opened #13419 "JAX/Flax models should be `jax.jit`ed by default? Or code examples should use jax.jit (~200x speedup)"
I noticed that the Flax models were running really slow, and it took me a little while to realise that it was simply because they hadn't been `jit`ed. I'm new to JAX, so I could be missing something here, but wouldn't it make sense for `Flax<ModelName>.from_pretrained(...)` to return a pre-`jit`ed model?

If not, I wonder if it'd be a good idea to update the code examples so that newbies like me k

[2021-09-04 11:58] patil-suraj commented on #13419
Hi @josephrocca

Thanks for the detailed issue. The Flax models are not jitted by default. This is by design, the user should be aware of such jax transformations like `jit`, `pmap`, `grad` etc, rather than the library abstracting it away. This gives you maximum control over what part of the code you want to `jit`. Also `jit` is for single device, for distributed training `pmap` is required, so th

[2021-09-04 16:16] Narsil commented on #13325
Ok, I must have tested it wrong before. I can confirm. This is indeed because the default for tags wasn't really explicited, but did behave as `I- `

Code was:

[code]
Which would resolve to `"PER" != "B"` whereas now the default tag was explicitely set as B-:
https://github.com/huggingface/transformers/blob/master/src/transformers/pipelines/token_classification.py#L413

The fix would be easy but

[2021-09-04 17:24] qqaatw commented on #13417
Could you elaborate what log outputs you want to get?

[2021-09-04 19:05] matthewfranglen commented on #12389
https://s3.amazonaws.com/models.huggingface.co/bert/gpt2-large-config.json this still has `_num_labels` of 1 where https://s3.amazonaws.com/models.huggingface.co/bert/gpt2-config.json lacks the entry and so inherits the default value.

[2021-09-04 21:02] robertalanm opened #13423 "Huggingface Inference API"
Hello,

I recently bought the startup subscription for my organization. However, it appears I cannot add large models to inference API. I am trying to serve GPT-J-6B model on inference API. When I emailed "api-inference@huggingface.co" it returns an error message:
[code]
What is the updated support email for startup plan users?

[2021-09-04 21:15] nbravulapalli opened #13424 "Error with T5 model: Output is always getting truncated with 20 tokens"
## Environment info

- `transformers` version: 4.10.0
- Platform: Google Colab
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102
- Tensorflow version (GPU?): I am not using tensorflow
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

@patil-suraj @patrickvonplaten @sgugger
## Information

Model I am using (Bert, XLNet ...): T5

The pr

[2021-09-04 22:01] josephrocca commented on #13419
@patil-suraj Ah, I see, thank you! Would it make sense for me to simply replace all instances of:
[code]
with something like
[code]
for all the Flax model doc examples? Else could you suggest an appropriate way to edit the examples?

[2021-09-04 23:05] Giahuynh1402 opened #13425 "[Benchmark]"
# 🖥 Benchmarking `transformers`

## Benchmark

Which part of `transformers` did you benchmark?

## Set-up

What did you run your benchmarks on? Please include details, such as: CPU, GPU? If using multiple GPUs, which parallelization did you use?

## Results

Put your results here!

[2021-09-05 04:40] fangli08 opened #13426 "convert pytorch checkpoints to TF1.x checkpoints (reverse of transformers-cli convert)"
# 🚀 Feature request

Hello,
Some BERT models were pre-trained using Huggingface/Facebook/NIVIDA's implementations and only have `pytorch.bin`. I am wondering if I can convert the checkpoints to  TF1.x (compatible with google's BERT https://github.com/google-research/bert).

[2021-09-05 04:52] lycfight opened #13427 "where processor should i put in a training code?"
Hi @lycfight  could you please open an issue with a minimal code snippet so we could take a look. Thanks :)

_Originally posted by @patil-suraj in https://github.com/huggingface/transformers/issues/11445#issuecomment-909943670_

[2021-09-05 05:16] danish9129 opened #13428 "Please add GPT Jaaye model ine right with Transformers website"
Please add GPT Jaaye AI model to use in right with Transformers website to write text because this model has 6 billion parameters and you can scale it up to 40 billion parameters to find this model you can go to GitHub and search for GPTJ

[2021-09-05 05:24] lycfight commented on #13427
I have a problem during writing a train code in pytorch.I want to create a custom Dataset for coco image_caption dataset such as follow:
1. inherit torch.utils.data:
from torch.utils.data import Dataset
Class Image_textDataset(Dataset):
2.then overwrite __getiem__(self,idx) where i used processor to process a tuple of (image, text) sample
but it seems that CLIPProcessor could't process a tuple of

[2021-09-05 06:47] quantitative-technologies commented on #13189
Yes, right. I found out about the training arguments after spending some time experimenting.

I am using a python script, which is called from colab via the shell, and everything is working fine.

I did try `accelerate` once before but could not get it working, but I create an new issue if I go back to that route and still have problems.

[2021-09-05 06:47] #13189 closed

[2021-09-05 07:09] chris-aeviator commented on #13428
GPT J is already part of the transformer library  https://huggingface.co/EleutherAI/gpt-j-6B - you may need to install the master branch (`pip install git+https://github.com/huggingface/transformers` )

[2021-09-05 07:16] chris-aeviator opened #13429 "Illegal Instruction Error on `prepare_inputs_for_generation` -> gpt neo/ j"
## Environment info

- `transformers` version: 4.10.0
- Platform: Linux-5.8.0-63-generic-x86_64-with-glibc2.32
- Python version: 3.8.10
- PyTorch version (GPU?): 1.6.0 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-

[2021-09-05 07:25] julien-c commented on #13423
Hi, it is `api-enterprise@huggingface.co` – I think there was an incorrect reference to the other email address somewhere that we fixed recently (cc @jeffboudier)

[2021-09-05 07:25] chris-aeviator commented on #13429
this seems connected to `torch==1.6.0` - the generator works fine with `torch==1.9.0`

[2021-09-05 07:28] iamlockelightning commented on #13407
Thanks for your reply! I will try.

[2021-09-05 08:27] lycfight opened #13430 "Difference between `logit_scale` initialisation in Transformers CLIP and the original OpenAI implementation."
I tried another training code based on the OpenAI'CLIP version: I found a difference at logit_scale between them. Does it mean temperature parameter? Is it the reason for loss rising?
huggingface transformers' CLIP:

[code]
OpenAI CLIP:

[code]

[2021-09-05 08:42] lycfight commented on #13430
[code]
Moreover, I tried another training code based on OpenAI'CLIP [version:](https://github.com/revantteotia/clip-training) .I found a difference at logit_scale between them.Does it mean temperature parameter?Is it the reason of loss rising?
huggingface transformers' CLIP:
`self.logit_scale = nn.Parameter(torch.ones([]))
`
OpenAI CLIP:
`self.logit_scale = nn.Parameter(torch.ones([]) * np.log(1 /

[2021-09-05 09:56] Giahuynh1402 opened #13431 "Bb"
__Originally posted by @shanejonas in https://github.com/MetaMask/.github/pull/13__

[2021-09-05 12:55] shabie opened #13434 "A dead link in GPT2 description"
I see that there is a dead link in the GPT2 description for some time referring to an argument on how pre-computed values can be reused.

The link to the description with the dead link (the 3rd tip): https://huggingface.co/transformers/model_doc/gpt2.html

The link that is dead: https://huggingface.co/transformers/quickstart.html#using-the-past

My suggestion is that if this quickstart page does n

[2021-09-05 14:12] davidhewitt commented on #13390
I agree the bug is in mypy.

On the transformers side, I would think it's possible to rearrange the code very slightly to avoid exercising the buggy mypy code path - it's easy to reproduce using the steps I provided above.

I wanted to open this issue mostly so you're aware that there are users who can't upgrade to 4.10 because of the crash. The codebase I was upgrading doesn't need any features o

[2021-09-05 15:01] #12926 closed

[2021-09-05 15:02] #12642 closed

[2021-09-05 15:02] #12380 closed

[2021-09-06 03:26] zhangguanqun opened #13435 "Official example not working, are you serious?"
## Environment info

- `transformers` version: 4.10.0
- Platform: Ubuntu 18.04
- Python version:
- PyTorch version (GPU?): 1.9 GPU
- Tensorflow version (GPU?): 2.4.0 GPU
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?:

### Who can help

## Information

@LysandreJik

Model I am using Bert, official code not working :(

[code]
[https://huggingface.co/bert-base-cased](u

[2021-09-06 03:42] flozi00 commented on #13435
I think it's because you try to pass the tensorflow output from tokenizer to an pytorch model.
Either use tfbertmodel or let the tokenizer return "pt" instead of "tf" tensors

[2021-09-06 04:37] patil-suraj commented on #12648
Unstale

[2021-09-06 05:05] patil-suraj commented on #13430
Hi @lycfight

Please provide a proper title when opening an issue, I've updated the title and issue description a bit.

Great catch!  Yes `logits_scale`  is also called `temperature`. And indeed not initializing the `logits_scale` to the right value could cause issues during training.

Also, training CLIP is a bit complicated, for contrastive learning try to use as big a batch size as possible. In

[2021-09-06 05:24] knitemblazor commented on #13427
This issue is not of relevance to transformers repository please post this in pytorch forums for quick help

[2021-09-06 05:54] lycfight commented on #13427
I think processor is a base method of transformers which should be concerned in transformers' tutorials

[2021-09-06 06:00] zhangguanqun commented on #13435
@flozi00 You are right, if I change BertModel to TFBertModel, everything goes well.
BUT, the above codes come from [OFFICIAL TUTORIAL](https://huggingface.co/bert-base-cased),
PLEASE modify the doc to stop misleading others.

[2021-09-06 06:08] patil-suraj commented on #13427
You could put the processor anywhere you want either in the dataset or collate_fn. If processing on the fly, then I would  put it in the `collate_fn` as it would process the whole batch with single call, which is usually faster than processing single examples.

[2021-09-06 06:23] qiuxia-alone opened #13437 "using TFOpenAIGPTLMHeadModel load pytorch model doesn't work well"
## Environment info
- `transformers` version: 4.9.2
- Platform: Darwin-20.5.0-x86_64-i386-64bit
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0 (False)
- Tensorflow version (GPU?): 2.2.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?

[2021-09-06 07:23] shabie commented on #13435
I think both official examples are wrong. The quote is from the [official link](https://huggingface.co/bert-base-cased):

Here is how to use this model to get the features of a given text in PyTorch:

[code]
and in TensorFlow:

[code]

[2021-09-06 07:38] lycfight commented on #13430
Furthermore, the loss rising happens when I fine-tuned CLIP pretrained model in COCO dataset:
`model = CLIPModel.from_pretrained("openai/clip-vit-base-patch32")`
Then, in order to find the difference, I also tried to train CLIP from scratch:
`from transformers import CLIPConfig, CLIPModel, CLIPProcessor
    config = CLIPConfig()
    model = CLIPModel(config)`
That confused me extremely.

[2021-09-06 07:48] HekoShao commented on #4828
Hello ! I encountered the same problem when using the STSB dataset for fine-tuning BERT. How did you solve this problem?

[2021-09-06 07:59] gianlucabusatta commented on #13409
A workaround could be creating a git repository and making at at least one commit.

[2021-09-06 08:03] gianlucabusatta opened #13439 "MisconfigurationException: Found invalid type for plugin None. Expected a precision or training type plugin."
## Environment info
[code]

### Who can help
research_projects/rag: @patrickvonplaten, @lhoestq

## To reproduce

Steps to reproduce the behavior:

1.
[code]
2.
[code]
# Error
[code]

## Expected behavior

Not having this error.

[2021-09-06 08:07] patrickvonplaten commented on #13435
Just corrected it :-)

[2021-09-06 08:13] #13431 closed

[2021-09-06 08:23] patil-suraj commented on #13424
Glad that found the solution.

The default `max_length` for `generate` is set to 20. The `max_length` really depends on the task/problem, so it should be set either in `config` or passed to `generate`.

[2021-09-06 08:23] #13424 closed

[2021-09-06 08:35] NielsRogge commented on #12916
It runs fine for me. I get the following answers respectively (using google/tapas-large-masklm):

* first query: 'Brad [MASK] played in 87 movies.'
[code]
* second query: 'George Clooney is [MASK] years old.'
[code]
There's probably a bug in your installation of Transformers.

[2021-09-06 08:52] thomwolf commented on #13435
a lot more serious now indeed!

[2021-09-06 09:02] shabie commented on #13435
Such is the onus on HF to deliver correctly that one mistake can some question the seriousness of the whole enterprise :D

[2021-09-06 09:20] BruceDai003 opened #13441 "Could you support other distributed training backends from command line, I'm using GLOO."
https://github.com/huggingface/transformers/blob/76c4d8bf26de3e4ab23b8afeed68479c2bbd9cbd/src/transformers/training_args.py#L858

Seems like it's hard-coded to NCCL. Could you instead make this an argument?

@sgugger

[2021-09-06 09:39] Doragd opened #13442 "Unexpected result when tokenizing a single token rather than a sentence with multilingual tokenizer"
I want to check how a word is divided into sub-words, but I found an unexpected result.

e.g. mbart:
[code]
Why the `'.'` is tokenized to two sub-words `['▁', '.']` when it is a single token but to `'.'` when it is a part of a sentence?

e.g. mT5
[code]

[2021-09-06 09:56] ryparmar opened #13443 "Error while saving a variation of roberta-base fast tokenizer vocabulary"
## Information
Unable to save tokenizer of  'ufal/robeczech-base', which is a variation of 'roberta-base'. I have tried the minimal example (see below) with 'roberta-base' model and it worked fine.

### Error message with a `RUST_BACKTRACE=1`:
`thread '<unnamed>' panicked at 'no entry found for key', /__w/tokenizers/tokenizers/tokenizers/src/models/mod.rs:36:66
stack backtrace:
   0: rust_begin_un

[2021-09-06 11:11] dorost1234 opened #13444 "Adding GPT2 for translation/summarization"
# 🚀 Feature request

Hi
In the code base GPT-2 is not listed as the model compatible for summarization and translation. Is there a reason for this?

## Motivation
GPT-2 is one of the most important seq2seq models and many papers build on top of it. It would be great to include this model.

Thanks.

[2021-09-06 11:34] shabie commented on #13399
I find this super relevant honestly.

[2021-09-06 12:30] Doragd commented on #13435
Similar issue on examples https://huggingface.co/microsoft/xprophetnet-large-wiki100-cased-xglue-ntg:
@thomwolf @patrickvonplaten
[code]

[2021-09-06 12:33] NielsRogge commented on #13444
The `run_summarization.py` and `run_translation` scripts are designed for encoder-decoder (also called seq2seq) models like T5, BART, PEGASUS.

However, GPT-2 is a Transformer decoder-only model. This model is also capable of doing summarization/translation, but it would be solved in a different way. GPT-2 is just a language model (i.e. it predicts the next token given the previous ones). So you c

[2021-09-06 12:58] peregilk commented on #13335
Thanks both @patrickvonplaten and @craffel for your insightful comments. Highly appreciated.

I have dived into this, and I am now even more confused about what is going on. As Patrick suggested, I looked at how the model doing MLM-like-tasks at various pretraining steps. I am not detecting repeated tokens, or other oddities. I was only able to figure out how to give me the first prediction, so it

[2021-09-06 13:00] sgugger commented on #13434
Thanks for reporting, feel free to open a PR with your change indeed!

[2021-09-06 13:26] patrickvonplaten commented on #13335
Is it maybe possible that you can try the official (non-streaming) t5 MLM script: https://github.com/huggingface/transformers/blob/master/examples/flax/language-modeling/run_t5_mlm_flax.py? This one is more tested.

[2021-09-06 13:43] xegulon commented on #13274
@sgugger @LysandreJik find this interesting?

[2021-09-06 13:50] peregilk commented on #13335
@patrickvonplaten Yes. I have tried that - on a smaller dataset. I am not seeing issues like this.

However, I was unable to get it to run on the 250GB set. I created a TPU VM with an external disk. Unfortunately, I am getting memory issues on the VM.

[2021-09-06 13:51] pafitis commented on #12916
Thank you @NielsRogge. Indeed, issue on my side.

[2021-09-06 13:51] #12916 closed

[2021-09-06 15:01] #12949 closed

[2021-09-06 15:01] #12945 closed

[2021-09-06 15:01] #12944 closed

[2021-09-06 15:01] #12942 closed

[2021-09-06 15:01] #12931 closed

[2021-09-06 15:01] #12921 closed

[2021-09-06 15:01] #12894 closed

[2021-09-06 15:34] santoshnlp opened #13450 "T5Tokenizer.from_pretrained("t5-small") returning NoneType"
## Environment info

- `transformers` version:
- Platform:
- Python version:  Python 3.7.11
- PyTorch version (GPU?):  1.9.0+cu102
- Tensorflow version (GPU?): 2.6.0

-Google colab

### Who can help
@patrickvonplaten, @patil-suraj @sgugger @LysandreJik

Models:

-   t5: @patrickvonplaten, @patil-suraj

Library:

- text generation: @patrickvonplaten
- tokenizers: @LysandreJik

Examples:

- maintain

[2021-09-06 15:44] #13241 closed

[2021-09-06 16:08] patil-suraj commented on #13450
Hi there,

PLEASE, do not tag so many people in an issue, usually just tag one or two maintainers. Tagging everyone will unnecessarily disturb. While we  are happy to answer, we would expect people to consider this before opening an issue. Thanks.

Now regarding your issue, did you install `sentencpiece` ? If not the you could
```pip install sentencepiece```
and restart the colab.

[2021-09-06 17:13] griff4692 opened #13453 "Multi-GPU memory usage"
Hi - I am just using the Seq2SeqTrainer for a fairly vanilla BART fine-tuning use case.  In a multi-GPU setup, the memory, however, is really high for the first GPU (15GB and lower (as expected) for the other 7 (5GB).  What could be causing this?  Here are my training arguments.

        run_name=args.experiment,
        output_dir='./results',  # output directory
        overwrite_output_dir=True

[2021-09-06 18:02] robertalanm commented on #13423
I sent this address an email but have not received a response. Is there another way to contact the engineers in charge of setting up large models for inference api endpoints?

[2021-09-06 18:16] #13348 closed

[2021-09-06 20:25] shabie commented on #13434
So I have made a PR. One problem I did find however was the inconsistency between the TF and PT arguments.

In PT it is called `past_key_values` and in TF it is simply called `past`. I have made this clear in the PR for the docs but it would be nice if they hadn't diverged.

However, fixing this is problematic since this would be a breaking change (probably the reason it i still there :D)

[2021-09-06 20:35] robertalanm commented on #13423
I'm just going to cancel the sub. Sorry for taking up anyone's time.

[2021-09-06 20:35] #13423 closed

[2021-09-06 21:44] LysandreJik commented on #13429
cc @patil-suraj

[2021-09-06 21:45] LysandreJik commented on #13426
Hello! We don't have a conversion script capable of doing that. Is there a feature of google-research/bert we could implement to make your life easier with `transformers` ?

[2021-09-06 21:51] LysandreJik commented on #13405
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) instead?

Thanks!

[2021-09-06 21:55] LysandreJik commented on #13443
There seems to be some tokens missing/non-consecutive tokens in the vocabulary of that tokenizer, causing the serialization to fail

[2021-09-06 21:56] LysandreJik commented on #13437
Hello! Do you have a reproducible code example that exposes the differences between the logits? Thank you

[2021-09-07 01:38] SakerLiu opened #13457 "Can I use input embeds to generate text without input ids"
# 🚀 Feature request

## Motivation

## Your contribution

[2021-09-07 02:26] santoshnlp commented on #13450
hi Suraj,
       Thanks. It is working.

[2021-09-07 02:26] #13450 closed

[2021-09-07 05:04] aloka2209 opened #13458 "Translation takes too long - from fine-tuned mbart-large-50 model"
I have fine-tuned from, facebook mbart-large-50 for Si-En language pairs. When I try to translate 1950 sentences as (1) full batch (2) batch size=16 etc. still process crashes.

I then passed 16-lines per batch, ie. as **src_lines** and it takes considerable time.

Could you help on how I can reduce the translation time? My code is as follows.

Highly appreciate your help.

**However from the fair

[2021-09-07 07:11] qiuxia-alone commented on #13437
this is my full code refered to [CDial-GPT/interact.py](https://github.com/thu-coai/CDial-GPT/blob/master/interact.py):
[code]
when i generated `response_ids_pt`, the loop can meeted `special_tokens_ids` and broken, the `response_ids_tf` generative loop can't broken untill `max_length`.

[2021-09-07 07:56] philschmid opened #13459 "Add `tokenizer_max_length` to `cardiffnlp/twitter-roberta-base-sentiment`"
[cardiffnlp/twitter-roberta-base-sentiment](https://huggingface.co/cardiffnlp/twitter-roberta-base-sentiment) is one of the most downloaded `text-classification` models on the hub.
But there is a small little bug, when using the model with `seq_len` > 515, see image
![image](https://user-images.githubusercontent.com/32632186/132306231-60ba797c-baf6-434d-bcf7-0229f2e1cd80.png)

To fix this we would

[2021-09-07 08:00] yang-collect opened #13460 "when I overwrite a model,I meet some bugs like this"
ok,when I firstly overwrite a bert-bigru-crf model,i meet som bugs.
this is the model
[code]
and i use `Bert_BiGru_Crf.from_pretrained(model_path)`，`model_path is a bert model path`
i got some bugs like those:
[code]
[code]
my python vesion is 3.7.9
would you mind to help me slove this problem?

[2021-09-07 08:25] youyuge34 opened #13461 "In ViT model, last_hidden_state is not equal to hidden_states[-1]"
When input the same image, in Google ViT model  output.last_hidden_state is not equal to output.hidden_states[-1] ?
I tried in Bert， the outputs are the same.

[code]

in my mind, vec1 should be the same as vec2. But the fact is they are not the same at all.

[2021-09-07 08:59] NielsRogge commented on #13461
Hi,

The Vision Transformer also applies a final layer norm after the several encoder layers (blocks), as can be seen [here](https://github.com/huggingface/transformers/blob/92d4ef9ab038dfbbe02556375c4c3c14215b37d2/src/transformers/models/vit/modeling_vit.py#L553). This explains why `outputs.last_hidden_state` is not equal to `outputs.hidden_states[-1]`.

[2021-09-07 09:02] youyuge34 commented on #13461
@NielsRogge THX~

[2021-09-07 09:02] #13461 closed

[2021-09-07 09:19] Sc-prasin commented on #6620
In the **from_pretrained** function, set one of the parameters as **force_download=True**
Eg. - model = LayoutLMForTokenClassification.from_pretrained("microsoft/layoutlm-base-uncased", num_labels=num_labels, **force_download=True**)

[2021-09-07 09:33] #13460 closed

[2021-09-07 09:41] ciaochiaociao opened #13462 "A Space Always Prefixes The First Token of `xlm-roberta-large` Encoding Results"
## Environment info

- `transformers` version: 3.5.1
- Platform: Linux-4.4.0-140-generic-x86_64-with-glibc2.10
- Python version: 3.8.8
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

xlm-roberta and roberta tokenizer @LysandreJik

## Information

Model I am us

[2021-09-07 10:48] LysandreJik commented on #13458
Hello! Could you provide a reproducible code example so that we may take a look?

[2021-09-07 11:11] aloka2209 commented on #13458
from transformers import MBartForConditionalGeneration, MBart50TokenizerFast

#mbart50-ft-si-en-run4 the fine-tuned model directory
tokenizer = MBart50TokenizerFast.from_pretrained("mbart50-ft-si-en-run4", src_lang="si_LK", tgt_lang="en_XX")
model = MBartForConditionalGeneration.from_pretrained("mbart50-ft-si-en-run4/checkpoint-21500")

#The file has 1950 lines
src_lines=[line.strip() for line in

[2021-09-07 11:38] sgugger commented on #13441
You can initialize the backend you want in your script. Accelerate won't re-initialize it in this case.

[2021-09-07 11:41] sgugger commented on #13434
The way you did it is great! I think the divergence comes from when we unified that argument on the PyTorch side a while ago (it was different names for different models), but forgot to do the same on the TF side.

[2021-09-07 12:48] patil-suraj commented on #12628
Unstale

[2021-09-07 13:13] patil-suraj commented on #13458
Hi @aloka2209

Thank you for opening the issue. Could you please provide more details?
- Are you using GPU ? fairseq would use GPU if it's available, we need to do this manually with Transformers models.
- Is the fairseq model in fp16 ? By default Transformers models are in `fp32`
- what are the generation params, i.e num_beams, `max_length` etc ? both for fairseq model and for Transformers models

[2021-09-07 13:21] patil-suraj commented on #13429
Hi there! I just tried this on colab with torch 1.6 but couldn't reproduce, here's the colab if you want to take a look
https://colab.research.google.com/drive/1weoJYgJaVme7LgpiWRxprr-BY71GG3Cq?usp=sharing

[2021-09-07 15:02] #12533 closed

[2021-09-07 15:02] #12488 closed

[2021-09-07 15:02] #12473 closed

[2021-09-07 15:02] #12387 closed

[2021-09-07 16:14] lvwerra opened #13463 "Upcasting of attention computation for reliable pretraining of GPT-2 models"
# 🚀 Feature request

In a recent [talk](https://youtu.be/AYPOzc50PHw?t=3662) about pretraining language models as part of the [Mistral](https://github.com/stanford-crfm/mistral/) project @siddk mentioned that in order to achieve stable pretraining a slight modification in the GPT-2 code is necessary. The issue is a numerical instability when training with mixed precision in the attention mechanism

[2021-09-07 16:18] SaulLu commented on #12533
Normally the problem should have been solved by the above mentioned PR. Please let me know if this is not the case! :slightly_smiling_face:

[2021-09-07 17:03] harshgeek4coder commented on #6657
Thanks, this helped me too.
Seems like ```transformers``` latest version must be important , especially stable and master branch one

[2021-09-07 18:32] chris-aeviator commented on #13429
I‘ll try to reproduce in a fresh conda environment - not the first time having strange errors with it

[2021-09-07 18:43] patrickvonplaten commented on #13411
Hey @margotwagner - could you provide a google colab that reproduces the error? Usually it's a missing dependency that triggers that problem. You can try to reinstall `transformers` with

[code]

and I think it should work

[2021-09-07 19:52] aloka2209 commented on #13458
Hi @patil-suraj

Thank you for your attention regarding this issue.

For the same training, tuning and testing sets I have conducted a fine-tuning from mbart-large-50 pre-trained model for Si-En languages, using fairseq and huggingface.

### Fairseq fine-tuning
The preprocessing, fine-tuning & generation parameter settings have been followed according to example in [github](https://github.com/pyto

[2021-09-07 20:57] #13434 closed

[2021-09-07 21:44] cakiki commented on #9285
@jklaise The logging happens through a TF Logger (See [this line](https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_tf_utils.py#L50)) .

You can suppress them by using something like `tf.get_logger().setLevel('ERROR')`

[2021-09-07 23:43] Zhylkaaa opened #13469 "Non-BERT dpr tokenizers"
# 🚀 Feature request

At the moment `DPRContextReadertokenizer` is subclassing `BertTokenizer` which limits the model choice. Is it possible to use `PreTrainedTokenizer` instead?

## Motivation

We would like to contribute a non-english version of DPR and got stack because our base model uses `XLMTokenizer`. (model was trained on forked and modified version of original dpr script)

## Your contribu

[2021-09-08 00:39] dcyoung commented on #13148
@Apoorvgarg-creator  - could be error on my end, but I'm still witnessing reversed order when using the "slow" LayoutLMv2Tokenizer on the latest master

[2021-09-08 01:54] BruceDai003 commented on #13441
@sgugger Thanks, I was following the examples provided in examples/pytorch/question-answering/run_qa.py.
As in
https://github.com/huggingface/transformers/blob/76c4d8bf26de3e4ab23b8afeed68479c2bbd9cbd/examples/pytorch/question-answering/run_qa.py#L212, it will parse from all the listed allowed arguments including `TrainingArguments`
I think there will be no arguments provided to choose my backend

[2021-09-08 04:31] dcyoung commented on #13148
I was just referring to the original post in this thread. If i do a fresh install of the latest master and then

[code]

Is this expected?

[2021-09-08 04:52] vasudevgupta7 commented on #13268
Hey @calderma, sorry for late reply. I somehow missed your comment.

Yes, only ITC code is supported for now and hence only 1st & last **blocks** (i.e collection of tokens) are global. So, you can control which tokens should be global by playing around with block_size a bit, though this would increase compute a bit as random & sliding tokens are also dependent on it.

But in your case, as you want

[2021-09-08 05:24] Apoorvgarg-creator commented on #13148
Sorry, By original post I thought you meant somewhere in the documentation.

No this is not expected.  I will try reproducing the same. Thank you

[2021-09-08 05:33] Apoorvgarg-creator commented on #13148
@dcyoung I ran the same code against the current master branch, I got the expected output -
<img width="273" alt="Screenshot 2021-09-08 at 11 02 44 AM" src="https://user-images.githubusercontent.com/57873504/132451970-385f7171-14f8-4ce0-93a9-461657bdb7d7.png">

[2021-09-08 06:30] chicuong209 opened #13471 "BertTokenizerFast can not tokenize [MASK] to 4 id"
I'm training a bert model and  bert tokenizer from scratch on my custom dataset. I'm using BertWordPieceTokenizer to train and BertTokenizerFast to load it. But BertTokenizerFast cannot convert [MASK] token to 4 id. When I try to use BertTokenizer, it works but the process of training model is very slow. Here is my code:

[code]
After that I try encode a string with [MASK] token like this
[code]
I

[2021-09-08 06:40] RachelDong opened #13472 "[Errno 13] Permission denied: '/.cache'"
Hello,

I'm using the Dialo-GPT model:
[code]
When I run the above code in server, the error throws:
[code]
Does anyone know how to solve this problem? Thanks a lot.

[2021-09-08 06:42] timothyjlaurent opened #13473 "LayoutLMv2 forward pass fails during pytorch.jit.trace forward pass"
## Environment info

- `transformers` version: 4.10.0
- Platform: Mac OS
- Python version: 3.8.9
- PyTorch version :  1.8.1 No GPU
- Tensorflow version (GPU?):

### Who can help

@NielsRogge @LysandreJik

## Information

Model I am using (LayoutLM V2):

The problem arises when using:
* [x] my own modified scripts: (give details below)

The tasks I am working on is:
* [x] my own task or dataset: (g

[2021-09-08 07:34] patil-suraj commented on #13472
It seems like the `/.cache` directory is not writable, you could try changing permissions or you could tell transformers to use a different dir for cache by setting the env variable `HF_HOME`

[2021-09-08 07:46] patil-suraj commented on #13457
this might help #10599

[2021-09-08 07:49] NielsRogge commented on #13473
LayoutLMv2 is currently not tested to be exportable to TorchScript, as can be seen [here](https://github.com/huggingface/transformers/blob/f5d3bb1dd20e9d2c3c5bd66b30032bea6c3f45d8/tests/test_modeling_layoutlmv2.py#L262). One can set test_torchscript to True in the tests, and then update `modeling_layoutlmv2.py` in order to make the corresponding tests pass. Feel free to open a PR for this.

[2021-09-08 08:01] patil-suraj commented on #13458
Hi,

Please report one issue at a time, as the original issue is about `generation`, let's talk about that :)

Also it would be nice if you could please format code using [markdown code syntax ](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks), otherwise the code is hard to read.

Looking at the generation code snippet it s

[2021-09-08 08:07] valmetisrinivas commented on #13356
Hi @LysandreJik, Sorry for getting back late. I have tried many things including installation and reinstallation of `transformers `several times.

1.  Whether I uninstall or remove the package using commoands like `conda uninstall -c pypi transformers` or `conda uninstall -c conda-forge transformers`, or `conda uninstall transformers` or `conda remove transformers` from Anaconda prompt, or using `

[2021-09-08 08:26] 1029694141 commented on #2841
@zxr19980213

[2021-09-08 08:51] #13430 closed

[2021-09-08 09:33] quantitative-technologies opened #13475 "replacing model head failure"
## Environment info

- `transformers` version: 4.11.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.6.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes, but not necessary
- Using di

[2021-09-08 10:03] shabie commented on #13475
I am not sure how `compare_two_models` works but it seems that the pooling layer (used for the CLS token) is part of the base BERT model but not the other CLM model architecture.

See here for details of the pooling layer (the authors mistakenly forgot to mention this in the original BERT paper AFAIK): https://github.com/huggingface/transformers/issues/7540#issuecomment-704155218

[2021-09-08 10:27] NawressMekki opened #13476 "T5"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2021-09-08 10:31] Rocketknight1 commented on #11265
@jmwoloso That's really fascinating! I didn't think I touched any relevant code between those releases, but possibly one of the other engineers did. Can you try a couple of other models, say BERT or RoBERTa, to see if you see the same pattern with both?

[2021-09-08 10:33] osanseviero commented on #13463
Also related are https://github.com/huggingface/huggingface_hub/issues/300 and https://github.com/stanford-crfm/mistral/issues/86

[2021-09-08 10:38] shabie commented on #13475
In fact these two snippets from how the encoder part gets initialized in the two classes explain why that is the case:

BertForSequenceClassification:
https://github.com/huggingface/transformers/blob/c164c651dc382635f1135cf843e8fbd523d5e293/src/transformers/models/bert/modeling_bert.py#L1487-L1494

BertMaskedLM:
https://github.com/huggingface/transformers/blob/c164c651dc382635f1135cf843e8fbd523d5e

[2021-09-08 11:18] ZJaume commented on #11265
I tried with Roberta and DistilBert with the new version and it doesn't give empty output any more. Thank you!

[2021-09-08 11:24] aloka2209 commented on #13458
I have added the fine-tuning related questions to the [forum](https://discuss.huggingface.co/t/fine-tuning-for-translation-with-mbart-large-50-clarifications/9803?u=aloka) and would appreciate your answers.  Sorry for getting everything here.

I have used the gpu command as suggested and now it translates fast. Thank you!

One of my intentions is to get this translated in cpu setting. So earlier I

[2021-09-08 11:45] Rocketknight1 commented on #11265
Hi @jmwoloso @ZJaume this is great, thank you! Can you confirm it still works with an input array larger than the batch size? (to ensure the work is getting distributed to multiple GPUs and then merged correctly)

[2021-09-08 11:50] sgugger commented on #13441
Oh I was confused on where you opened the issue. There is no way to change the backend in the `Trainer` code, as it's not just one argument that could be setup differently. You should use Accelerate for a more customized training loop.

[2021-09-08 12:23] calderma commented on #13268
Ah ok got it. I thought it was just the first token, not the first block. My mistake. Thanks!

[2021-09-08 12:23] #13268 closed

[2021-09-08 12:28] #8497 closed

[2021-09-08 12:39] LysandreJik commented on #13469
cc @lhoestq

[2021-09-08 13:52] quantitative-technologies commented on #13475
OK, thanks. I was wondering what the pooling layer was for.

You could see the code in the notebook I referenced above, but I will put it here for convenience:

[code]

However, I believe you missed the point of my issue. *Both* `mlm_model` and `mlm_model_from_clm` are masked LM models, and *neither* has a pooling layer. Their architecture is the same. The issue is that the MLM head of `mlm_model_

[2021-09-08 14:25] jorgtied commented on #13328
They come with a CC-BY 4.0 license.
Jörg

[2021-09-08 14:39] siddk commented on #13463
Hey folks, sorry I'm late to the party. Replying here to just to centralize things.

The upcasting + scaled-dot product attn reordering implemented in Mistral is a pretty straightforward tweak on top of the existing GPT-2 model definition in `transformers`. The only other change we made was the weight initialization procedure for GPT-2 models, which shouldn't affect anyone downstream.

If you give

[2021-09-08 14:43] lvwerra commented on #13463
Hi @siddk, that sounds good to me. I would like to start training a larger model in the coming days so that would be very welcome on my side :)

[2021-09-08 14:58] LysandreJik commented on #13462
Maybe of interest to @SaulLu

[2021-09-08 15:02] #12964 closed

[2021-09-08 15:02] #12959 closed

[2021-09-08 15:02] #12956 closed

[2021-09-08 15:13] LysandreJik commented on #13325
I would fix it to behave the same as it was in v4.3.2 as this is the expected behavior when using `grouped_entities`

[2021-09-08 15:42] LysandreJik commented on #13453
cc @sgugger

[2021-09-08 15:44] sgugger commented on #13453
How are you launching your script? If you are using `python` and not the `torch.distributed.launch` module, then this is completely normal as the gradients and optimizer state are only stored on GPU 0, not the other ones.

[2021-09-08 15:45] LysandreJik commented on #12389
This is fixed for both `gpt2-large` and `gpt2-xl`

[2021-09-08 15:45] #12389 closed

[2021-09-08 15:55] LysandreJik commented on #13471
You're loading the `vocab.txt` file and nothing else into the `BertTokenizerFast` so it is unaware of what the special tokens are.

Did you try saving the `tokenizers`' tokenizer object (as a `tokenizer.json` file) and loading that in the `BertTokenizerFast`?

[2021-09-08 16:00] LysandreJik commented on #9772
Hello!

There is existing support for this thanks to the `problem_type` configuration attribute for some Sequence classification models, see here: https://huggingface.co/transformers/main_classes/configuration.html#transformers.PretrainedConfig

(search for `problem_type`)

It could be better documented though by having an example for each model that supports this/more complete documentation on th

[2021-09-08 16:14] jmwoloso commented on #11265
@Rocketknight1 yeah i'll take a look at doing that today and posting confirmation in here and then we can close this out!

[2021-09-08 16:23] gchhablani opened #13481 "Difference in BART position embeddings with fairseq implementation"
I'm trying to implement PLBART (#13269) which is majorly just a BART model with some minor modifications. I tried to make embeddings equal but there is a mismatch in original BART (fairseq) and current BART implementation.

In the [original code](https://github.com/pytorch/fairseq/blob/9549e7f76994095c92441b81c615a169dc21f478/fairseq/modules/learned_positional_embedding.py#L31), the learned positi

[2021-09-08 17:16] dcyoung commented on #13148
@Apoorvgarg-creator -- i can't explain it, but a fresh environment solved the issue with the toy example above. It is now correctly printing off `niels`. However, I'm still seeing unexpected behavior with the following example:

Environment:
[code]

Reproducible example:
[code]

Output:
[code]

[2021-09-08 17:27] alex4321 opened #13483 "`BertTokenizer` splits tokens added via `add_tokens(...', special_tokens=False)` to a few subtokens"
## Environment

`!transformers-cli env` output:

- `transformers` version: 4.11.0.dev0
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.11
- PyTorch version (GPU?): 1.9.0+cu102 (False)
- Tensorflow version (GPU?): 2.6.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no

[2021-09-08 17:31] vymn opened #13484 "push to hub issue"
hi I'm trying to push my fine-tuned pre-trained facebook blenderbot 2 to huggingface hub, I have tried every single solution from windows, Linux, google colab, kaggle, paperspace. I'm exhausted and I don't wanna try any other solutions, is there anybody who can just push the pre-trained model to my hub please, and thanks in advance.

[code]

[2021-09-08 17:38] SaulLu commented on #13148
Thank you very much for reporting the issue @dcyoung :blush:.

I think it's due to the fact that `layoutLMv2` (which must have been merged around the same time as this fix) redefines the operation and does not use the generic method. Might be of interest to @NielsRogge :slightly_smiling_face:

[2021-09-08 17:39] Apoorvgarg-creator commented on #13148
@NielsRogge @SaulLu, LayoutLMv2 has its own `truncate_sequence` method. so that's why the problem of reverse order occurred in this tokenizer.

[2021-09-08 18:24] LysandreJik commented on #13484
Hello! Could you share the error that you have faced?

[2021-09-08 18:33] SaulLu commented on #13462
Thank you for your detailed issue.

I just tested the original XLM-R tokenizer and it seems to me that our tokenization matches well with the one in the repository you mention.

Indeed, by doing (see [Google collaboratory notebook](https://colab.research.google.com/drive/1kNwkctnbB_A646dAvWdtSkbJnjKaj06P?usp=sharing)) :
[code]
We get:
[code]
The last line of the above code snippet allows us to see

[2021-09-08 18:38] vymn commented on #13484
thanks for your reply i really appreciate it,
this is the traceback
[code]
this is the environment set up
[code]
I've tried every solution in other related issues as well and nothing worked for me

[2021-09-08 18:55] RylanSchaeffer opened #13485 "Enable passing config directly to PretrainedConfig.from_pretrained()"
The `PretrainedConfig` class has a method for loading configs `from_pretrained()`. As the documentation states, the input can be either a string or a path to a config file:

[code]

**Request:** I would like to be able to pass the config dictionary directly to this function.

**Motivation:** if I have a config in memory, I shouldn't have to write the config to disk and then pass that file path to

[2021-09-08 19:01] RylanSchaeffer commented on #13485
My current workaround isn't onerous, but I feel like this is a quick fix :)

[code]

[2021-09-08 20:05] qqaatw commented on #13483
This seems a bug that the tokenizing function doesn't consider additional added special tokens. I'll open a PR for the fix.

[2021-09-08 21:19] julien-c commented on #13328
Thanks a lot Jörg 🙏 . I'll update the repos programmatically tomorrow morning

[2021-09-08 22:40] skye commented on #12761
Apologies again for the delay. I finally took a look at this, and it appears to work on a fresh VM. Here are the exact commands I used:

Create and ssh to a new VM:
[code]

Then on the VM:
[code]

Note that I had to install `tensorflow-cpu` and use `USE_TORCH=0` to make the script run (different errors than what you were seeing though, issues for another day...).

Am I doing something wrong, or pe

[2021-09-09 01:52] zheng-ningxin opened #13487 "Cannot run Movement pruning on GLUE"
## Environment info

Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 2.8.0
- Platform: Linux-4.15.0-136-generic-x86_64-with-glibc2.17
- Python version: 3.8.11
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?:

[2021-09-09 02:01] nlpcat opened #13488 "add non auto regressive model?"
This research area is developing very fast in the past two years, which could improve latency  significantly with quality on par. Will huggingface team be interested into the implementation of it? Thanks.

[2021-09-09 02:06] #13487 closed

[2021-09-09 02:19] #13416 closed

[2021-09-09 04:19] qqaatw commented on #13483
Basically you can temporarily use the following code to add special tokens you want, documented on the [docs](https://huggingface.co/transformers/main_classes/tokenizer.html#transformers.PreTrainedTokenizer). This will give the correct result.
[code]

[2021-09-09 05:20] RachelDong commented on #13472
Yes thank you for the answer:)

[2021-09-09 05:20] #13472 closed

[2021-09-09 05:47] TheLongSentance opened #13490 "Rouge Metric Evaluation in Training/After Training T5 run_summarization.py"
Hi,

I am using the HuggingFace run_summarization.py example to train T5 for summarisation (and some other tasks too). I am running on the latest development version of the transformers library. I noticed that the Rouge score numbers for evaluation inside training are a lot lower than in evaluation and prediction scores at the end of training. The scores suddenly jump up. I am not sure if this is

[2021-09-09 06:43] qqaatw commented on #13485
Hi @RylanSchaeffer, this can be done with the `from_dict` method.

[code]

[2021-09-09 08:01] peregilk commented on #12761
Thanks @skye!
Isnt it awesome when you leave for vacation and the bugs magically solves themselves when you are gone...;)

I am not able to run your code on my old TPU VM. However, it runs perfectly when creating a new VM!

Seems like the new VM is running JaxLib 0.1.71, while the old is using JaxLib 0.1.68.

I did the following update my old server:
[code]
This does however lead to an "TpuExecuta

[2021-09-09 08:11] NielsRogge commented on #13148
Yes, the LayoutLMv2 PR was merged before the PR that fixed the reverse order. So feel free to update the `truncate_sequence` method of `LayoutLMv2Tokenizer`.

[2021-09-09 08:21] ciaochiaociao commented on #13462
Thank you for your prompt reply and a clear example.
1. I agree with you that `tokenizer.convert_ids_to_tokens(tokenizer.encode('I am good.'))` works as `xlmr` does
2. What about `tokenizer.decode(tokenizer.encode('I am good.'))`? It now gives out `<s> I am good.</s>` (note the space between `<s>` and `I`). Shouldn't it be `<s>I am good.</s>`?

[2021-09-09 08:30] josephrocca opened #13492 "FlaxCLIPModel is 10x faster than CLIPModel during inference, and 100x slower getting gradients?"
## Environment info
- `transformers` version: 4.10.0
- Platform: Linux-5.11.0-7620-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (gpu)
- Jax version: 0.2.17
- JaxLib version: 0.1.68
- Using GPU in script?: Yes
- Using distributed or parallel set-up in scri

[2021-09-09 08:32] lhoestq commented on #13409
Hi ! Can you try running the command from inside the `transformers` directory ? This way it will be able to find the git info of the `transformers` repo

[2021-09-09 08:34] lhoestq commented on #13439
Hi ! What version of pytorch-lightning do you have ? Could you try running another version ?

[2021-09-09 08:35] NielsRogge commented on #13488
Can you point to certain papers, perhaps with corresponding code + weights?

[2021-09-09 08:48] gianlucabusatta commented on #13439
I have the one specified in the [requirements.txt](https://github.com/huggingface/transformers/blob/master/examples/research_projects/rag/requirements.txt) file, so 1.3.1

[2021-09-09 09:35] ZJaume commented on #11265
Working with 1024 samples and 8 batch size per gpu.

[2021-09-09 09:53] Narsil commented on #13325
PR opened. https://github.com/huggingface/transformers/pull/13493

[2021-09-09 10:42] patil-suraj commented on #12648
3 issues that are causing this in-consistency

- The fast tokenizer was using `ByteLevel` `decoder ` which was not removing the end of word suffix `</w>`. Using `BPEDecoder`  fixes this
- CLIP uses `bos` and `eos` tokens, but the current post-processor is `ByteLevel` processor which does not add these, using `TemplateProcessing` instead fixes this.
- Unlike GPT2's BPE tokenizer, CLIP's BPE does no

[2021-09-09 13:31] MantasLukauskas opened #13499 "Torch size missmatch in GPT-J model (Error)"
## Environment info
- `transformers` version: 4.11.0.dev0
- Platform: Linux-4.19.0-10-cloud-amd64-x86_64-with-debian-10.5
- Python version: 3.7.8
- PyTorch version (GPU?): 1.7.1+cu110 (True)
- Tensorflow version (GPU?): 2.4.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed

[2021-09-09 15:02] #12307 closed

[2021-09-09 16:22] timothyjlaurent commented on #13473
Great thanks for the input @NielsRogge  -- I fixed the initially reported issue, and then realized that there are other obstacles with making the torchscript trace so will serve the model with torchserve eager mode.

[2021-09-09 16:22] #13473 closed

[2021-09-09 17:36] #13325 closed

[2021-09-09 17:43] LysandreJik commented on #13484
Hmmm this shouldn't happen! Would it be possible for you to share your colab so that I may take a look? Thank you!

[2021-09-09 18:23] #13381 closed

[2021-09-09 21:37] julien-c commented on #13328
Done.

For reference, here's the script I've run (depends on https://github.com/huggingface/huggingface_hub/pull/339 to be able to run it using `huggingface_hub`): https://gist.github.com/julien-c/b2dcde5df5d5e41ad7c4b594cb54aba3

And here's a partial list of the generated commits (full list attached to the gist):

[code]

[2021-09-09 21:54] jmwoloso commented on #11265
I'm still trying to test it out but databricks is having issues spinning up gpu clusters today :roll_eyes:

I think we're good to close this out @Rocketknight1 unless there are other scenarios you want us to check out.

[2021-09-09 21:58] dmurillo976s opened #13504 "Wav2vec2Processor normalization issues on transformers 4.10.0"
When fine-tuning `facebook/wav2vec2-large-robust-ft-swbd-300h` I noticed I couldn't reproduce past training results from transformers version 4.9.2 now on 4.10. I noticed that inputs are not being correctly normalized with zero mean and unit variance in this new version. This seems to happen when `return_attention_mask=True`, audios in a batch input have different lengths and no padding is done.

[2021-09-09 22:24] tlby commented on #10256
After 9870093f7b31bf774fe6bdfeed5e08f0d4649b07 I am unsure how to use a third party tokenizer class because `transformers.models.auto.tokenization_auto.tokenizer_class_from_name()` is using
[code]
and trying to load and trying to use anything outside of transformers raises
[code]
The workaround I have at the moment is adding
[code]
to replace the `TOKENIZER_MAPPING` patch used in previous versions

[2021-09-10 00:11] merleyc commented on #13227
Hi @sgugger ,
I have tried this command, which includes `--tb=long `  :
`python -m pytest --tb=long -n 8 --dist=loadfile -s -v ./tests/ > ~/resultsCLI.txt`

Is this the log file that you mentioned that should contain the _whole output of the tests_? If not, please advise.

After runnning the mentioned command, I got 3 failing tests and the error
[code]
as showed in this output file: [resultsCLI-py

[2021-09-10 01:42] HenrySZP opened #13505 "Insufficient memory occurs during finetune"
# 📚 Migration

## Information

Model I am using (Bert,bert-base-chinese):

Language I am using the model on (Chinese ...):

The problem arises when using:
* [x] the official example scripts: (give details below)

The tasks I am working on is:
* [ ] an official GLUE/SQUaD task: (give the name)
* [x] my own task or dataset: (give details below)

## Details
* Here is my bash
[code]

When I performed

[2021-09-10 01:43] HenrySZP commented on #13505
The environment is the same as yours

[2021-09-10 02:18] nlpcat commented on #13488
This paper announced to have quality on par with 10x speed up. https://github.com/FLC777/GLAT

Another similar nat model https://github.com/tencent-ailab/ICML21_OAXE

Most nat models are based on fairseq implementations.
https://github.com/pytorch/fairseq/blob/master/fairseq/models/nat/nonautoregressive_transformer.py
https://github.com/pytorch/fairseq/blob/master/fairseq/models/nat/levenshtein_tr

[2021-09-10 02:40] yananchen1989 opened #13506 "Error in code"
hello,

https://github.com/huggingface/transformers/blob/master/examples/pytorch/summarization/run_summarization_no_trainer.py
in Line 87, the description is wrong. It should be

Please correct it.

[2021-09-10 03:02] dancingpipi opened #13507 "[Benchmark]Why 'step' consume most time?"
# 🖥 Benchmarking `transformers`

## Benchmark

I have test "**transformers/examples/pytorch/language-modeling/run_clm.py**" for "**bert-large-uncased**" with "**Deepspeed**"
but found something weird.

## Set-up

device: 4 x V100(16GB), single node

script cmd is:
[code]

and the ds_config.json is:
[code]

## Results

huggingface with deepspeed:
![image](https://user-images.githubusercontent.com/2

[2021-09-10 03:56] nikhil6041 commented on #9374
Hey @sasu08  and @un-lock-me sorry for the late response I used the sadice loss for this one however it didnt solve my problem fully however there are certain other ways you can possibly try for this thing try to use text augmentations (there are various ways for it like using synonyms ,back translation to name a few , there is one library named nlpaug which might come in handy for both of you , h

[2021-09-10 05:19] zhangguanqun opened #13510 "Huge bug. TF saved model run on nvidia-docker dose not use GPU."
## Environment info

- `transformers` version: 4.10
- Platform: Ubutu 18.04
- Python version: 3.6
- PyTorch version (GPU?): latest GPU
- Tensorflow version (GPU?): 2.4 GPU
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
@LysandreJik
@Rocketknight1
@sgugger

## Information

Model I am using official 'nateraw/bert-base-uncased-imdb'.

The problem arises w

[2021-09-10 05:55] zhangguanqun commented on #13510
Code to saved model.

[code]

[2021-09-10 05:56] zhangguanqun commented on #13510
Code to do inference.
[code]

[2021-09-10 05:59] zhangguanqun commented on #13510
Run cpu docker:
`sudo docker run -d -p 8502:8501 --name bert_cpu image_hug_off_cpu`
Run gpu docker:
`sudo docker run -d --gpus '"device=0"' -p 8502:8501 --name bert image_hug_off`

[2021-09-10 07:16] vymn commented on #13484
sure, I just made a [test](https://colab.research.google.com/drive/15QNHui7qhIBvIT0o8wv0sicGAMJnsDv7?usp=sharing) copy for you with edit privilege. I hope it works then tell me what I missed

[2021-09-10 07:20] patil-suraj commented on #13492
Hi there,

It seems you have frozen the PyTorch model's parameters so no gradients are calculated for them, which could explain the huge speed difference.

Also, I would avoid jitting inside a function and then call it multiple times, it may cause re-compilation (I'm not sure).
We could first `jit` the function and then call that inside the main function, like

[code]

[2021-09-10 08:34] patrickvonplaten commented on #13504
Hey @dmurillo976s,

Thanks a lot for the very well explained issue! I can reproduce the problem. I'll open a PR to fix it today

[2021-09-10 09:51] patrickvonplaten commented on #13504
@dmurillo976s  - this PR: https://github.com/huggingface/transformers/pull/13512 should fix the problem. Could you give it a try? :-)

[2021-09-10 09:53] #13162 closed

[2021-09-10 10:18] lhoestq commented on #13469
The `DPRReaderTokenizer` is a custom tokenizer that is able to tokenize jointly the three DPR inputs (questions, context titles and context texts).
The custom part is implemented via `CustomDPRReaderTokenizerMixin`, so it should be possible to create a new tokenizer class that inherits from both `CustomDPRReaderTokenizerMixin` and the `XLMTokenizer`. Let me know if that helps

Does this require an

[2021-09-10 10:25] patrickvonplaten commented on #12956
In case someone stumbles upon this issue while using a version between 4.9.0 and master: https://github.com/huggingface/transformers/pull/13512

[2021-09-10 10:25] lhoestq commented on #13439
Could you try this change ?
[code]

Not sure why we pass a `None` plugin if there's only 1 gpu

[2021-09-10 10:28] josephrocca commented on #13492
@patil-suraj

Do you mean this part?

[code]

If so, I tried commenting that out and Pytorch is still 1-2 OOM faster. The reason I added that code was because my understanding is that `jax.grad` only gets gradients of the first parameter of the function, [i.e. [default `argnums` value is `0`](https://jax.readthedocs.io/en/latest/jax.html#jax.grad)] so since JAX is only getting gradients of the `pi

[2021-09-10 11:31] josephrocca commented on #13492
@patil-suraj It occurred to me that you might have meant to mention `jit_grad_jax_loss = jit(grad(jax_loss))`, rather than the `forward` functions, since it's the grad part that's 100x slower in Flax, and so I tried pre-compiling `jit(grad(jax_loss))`, and you were right! Now Flax is 10x faster in both inference and in getting the gradients! 🤔 I'll have to do some more reading of the JAX/Flax docs

[2021-09-10 11:34] NielsRogge commented on #13506
Hello,

Thanks for spotting this! Could you open a PR to fix this? Thanks!

[2021-09-10 13:04] sgugger commented on #13505
Please use the [forums](https://discuss.huggingface.co/) for those kinds of questions. You should limit the number of saves of the checkpoints by using the argument `--save_total_limit` for instance, if the defaults get you out of disk memory.

[2021-09-10 13:05] sgugger commented on #13227
We need the stack trace and the error message of the failing test to understand what is going on, this is not it.

[2021-09-10 13:27] #13504 closed

[2021-09-10 15:02] #12979 closed

[2021-09-10 15:02] #12978 closed

[2021-09-10 15:02] #12870 closed

[2021-09-10 15:20] IngoMarquart commented on #13229
I am having the same issue

`
$ conda install -c huggingface transformers
Solving environment: failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - python=3.9
  - transformers
Use "conda info <package>" to see the dependencies for each package.
`

This is a fresh anaconda environment. I did install PyTorch 1.9 with conda, which installs python 3.9.

[2021-09-10 15:23] gianlucabusatta opened #13516 "Loading sentence_transformers model using .from_pretrained(...) HF function"
## Environment info
[code]

### Who can help
research_projects/rag: @patrickvonplaten, @lhoestq

## To reproduce

Steps to reproduce the behavior:

_./semanticsearch_model_ is a DistilBertModel created with SentenceTransformers it is structured as follow:
![image](https://user-images.githubusercontent.com/10784227/132877566-0abb56d2-8657-43a1-a84e-cfdf98fece87.png)

[code]

# Error
[code]

## Expe

[2021-09-10 17:03] dmurillo976s commented on #13504
Hi @patrickvonplaten,
Thank you so very much! Sorry for not responding earlier. I've tried the latest patch release version and everything works as it should!

[2021-09-10 17:08] skye commented on #12761
Glad to hear it's working for you! And thanks for describing your upgrade journey, this is useful feedback. Just upgrading jaxlib causes that error because there's a jaxlib-libtpu version mismatch (libtpu is the low-level library jax uses to access the TPU). Specifying the `[tpu]` extra when installing/upgrading jax makes sure the latest compatible `jaxlib` and `libtpu-nightly` versions are pulled

[2021-09-10 17:22] #11320 closed

[2021-09-10 17:22] #11787 closed

[2021-09-10 18:17] vymn commented on #13484
could you tell me what happened, please?

[2021-09-10 18:22] angela-zhao commented on #5799
This isn't working for me. I'm using the latest version of the transformers library (4.10.2). I'm getting the same error as Ecanlilar.

[2021-09-10 18:33] merleyc commented on #13227
@sgugger
Could you please tell me what is the command to get what you are looking for?
I didn’t find it in the documentation .
Thank you!

[2021-09-10 18:45] vymn commented on #13484
what is really confusing is that the traceback sometimes show me error something like 42738303 vs 48224303, some other times big files error, and on my local computer tells me its windows known issue, I have no clue what I really missed

[2021-09-10 19:18] stas00 commented on #13507
Thank you for the report, @dancingpipi.

I have a hard time making sense of it since you shared how your invoked the transformers side but not the other example. or how you measured the performance reports you shared. But I think we have enough in the numbers you shared to unravel your puzzlement.

If you look at fwd MACs (“multiply and accumulate” units) the transformers table says 1369, whereas

[2021-09-10 19:31] flozi00 opened #13519 "CodeT5"
# 🌟 New model addition

## Model description

This model is an T5 version by Salesforce trained for coding. Some articles says it should beat openai codex, so it could be interesting to add it to the hub

## Open source status

* [X] the model implementation is available: (give details) https://github.com/salesforce/CodeT5
* [X] the model weights are available: (give details) https://github.com/sa

[2021-09-11 00:16] munael opened #13522 "The new impl for CONFIG_MAPPING prevents users from adding any custom models"
## Environment info

- `transformers` version:
- Platform: Ubuntu 18.04
- Python version: 3.7.11
- PyTorch version (GPU?): N/A
- Tensorflow version (GPU?): N/A
- Using GPU in script?: N/A
- Using distributed or parallel set-up in script?: No.

### Who can help

## Information

Model I am using (Bert, XLNet ...): _Custom_ model

The problem arises when using:
* [ ] the official example scripts: (gi

[2021-09-11 01:04] Zhylkaaa commented on #13469
hello @lhoestq and thank you! I have tried inheriting `CustomDPRReaderTokenizerMixin` and our model's class, and it seems to work, but I believe it still isn't compatible with RAG model, as this requires `DPRContextEncoderTokenizerFast` (at least examples).

I think codebase would be necessary at some point, because adding new model will require adding +1 class with right inheritance or switching

[2021-09-11 03:09] #13442 closed

[2021-09-11 03:09] #13389 closed

[2021-09-11 06:47] josephrocca opened #13525 "FlaxCLIPModel memory leak"
## Environment info

- `transformers` version: 4.10.2
- Platform: Linux-5.11.0-7620-generic-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.6.9
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): 2.5.0 (True)
- Flax version (CPU?/GPU?/TPU?): 0.3.4 (gpu)
- Jax version: 0.2.17
- JaxLib version: 0.1.68
- Using GPU in script?: Yes
- Using distributed or parallel set-up in scr

[2021-09-11 07:25] BenjaminWegener opened #13526 "ONNXRuntimeError]RUNTIME_EXCEPTION : Non-zero status code returned while running Reshape node."
## Environment info
Copy-and-paste the text below in your GitHub issue and FILL OUT the two last points.

- `transformers` version: 4.5.0.dev0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.7.2
- PyTorch version (GPU?): 1.9.0+cpu (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help

##

[2021-09-11 07:27] josephrocca commented on #13525
It just occurred to me that perhaps the cache *is* growing in the simplified no-Flax code example, but it's too slow to notice due to the simplicity of the function. I've just ran another test and that does indeed seem to be the case. So this is an upstream (JAX) problem or misunderstanding on my part. Here's the example showing the leak (it "leaks" about 1mb per 100 iterations):

* https://gist.g

[2021-09-11 07:27] #13525 closed

[2021-09-11 07:28] BenjaminWegener commented on #13526
https://github.com/microsoft/onnxruntime/issues/9026

[2021-09-11 07:33] Yu-Shi opened #13527 "T5 support for text classification demo code"
## Environment info
- `transformers` version: 4.10.2
- Platform: Linux-4.4.0-210-generic-x86_64-with-debian-stretch-sid
- Python version: 3.7.0
- PyTorch version (GPU?): 1.9.0+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or

[2021-09-11 11:16] elishowk opened #13528 "Trainer's create_model_card creates an invalid yaml metadata `datasets: - null`"
## Environment info

- any env

### Who can help

- discussed with @julien-c @sgugger and @LysandreJik

## Information

- The hub will soon reject push with invalid model card metadata,
- **only when `datasets`, `model-index` or `license` are present**, their content need to follow the specification cf. https://github.com/huggingface/huggingface_hub/pull/342

## To reproduce

Steps to reproduce th

[2021-09-11 15:02] #12993 closed

[2021-09-11 15:02] #12985 closed

[2021-09-11 15:02] #12984 closed

[2021-09-11 15:02] #12980 closed

[2021-09-11 16:15] roblox34 commented on #13528
Idk

[2021-09-11 19:32] iliaschalkidis commented on #12613
Hi all,

The very same issue `RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation` occurred for me during a continued pre-training, i.e., warm-start a Lonformer model from the miniLMv2 checkpoint and keep training the model with an MLM objective. I use the standard HF script, i.e., `run_mlm.py` provided in the examples. I have an ugly tempor

[2021-09-11 21:03] aleSuglia commented on #12613
@iliaschalkidis thanks for the update. Even thought this goes around the issue, it looks like there is something fundamentally wrong with the current implementation? I hope that @patrickvonplaten or @ibeltagy could comment on this 🙏

[2021-09-11 21:07] iliaschalkidis commented on #12613
@aleSuglia that's absolutely true and that's why I describe my solution as a "dirty" hack trying to avoid seg faults by skipping a few param updates when this weird error occurs.

Let's hope for a real solution in the underlying issue.

[2021-09-11 22:09] ivo-1 commented on #13163
To add a related question: Is there any way of knowing which characters are part of the vocabulary of the pre-trained enwik-8 model? To my knowledge there only exists information on the `vocab_size` which is set to 258, but no information on which characters are part of the vocabulary of the pre-trained model.

[2021-09-12 06:54] fangli08 commented on #13426
This is simply for comparison reasons. We want to see if there is a performance difference due to the implementation.

By the way, I also tried to convert the PyTorch checkpoint to TF2 using the `convert_pytorch_checkpoint_to_tf2.py` script. But I got this error:

[code]

I am using transformers v4.10.0 and I have installed this package.

Thanks!
Li

[2021-09-12 06:55] fangli08 commented on #13426
By the way, my python version is 3.8.11
I am using ubuntu 18.04

[2021-09-12 15:02] #13011 closed

[2021-09-12 15:02] #13007 closed

[2021-09-12 15:02] #12833 closed

[2021-09-12 19:04] daveaitel commented on #13108
This is still an issue as far as I can tell, and it would be cool if it was fixed. :)

[2021-09-12 19:17] will-rice opened #13533 "Joint Sequence and Token Classification"
# 🚀 Feature request
A common NLU task for voice assistants and chatbots is intent classification and slot filling. This can be modeled as a joint task via a model like [BERT](https://arxiv.org/abs/1902.10909). The implementation is essentially a token classification head along with a sequence classification head attached to a pre-trained encoder.

## Motivation

I think this could be a good additi

[2021-09-12 19:32] Albertobegue opened #13534 "Package transformers.onnx should handle Tensorflow"
# 🚀 Feature request

The package transformers.onnx should allow the conversion of tensorflow models as well as Pytorch's.

## Motivation

[This documentation](https://huggingface.co/transformers/serialization.html) features the following code snippet

[code]

which introduces the new package transformers.onnx. It also says: "This conversion is handled with the PyTorch version of models - it, there

[2021-09-12 19:57] aleSuglia commented on #12613
@iliaschalkidis actually, now that you have a try/except in place for that issue, why don't you serialise the faulty batch and share it in a Colab so that @patrickvonplaten or @ibeltagy can play around with it? I think that would be terribly useful to debug!

[2021-09-12 20:05] benderama3 commented on #12613
The problem comes from LongformerSelfAttention for longformer. If this happens for another model, its probably from its SelfAttention module too.

[2021-09-12 22:47] Mehrad0711 commented on #12867
Hi, was wondering if there are any updates?

[2021-09-13 02:12] dancingpipi commented on #13507
@stas00 thanks for your great answer!
I'm still not clearly understand why MACs are very difference between them. Is it just because of "optimized transformer kernels"? 70 times improvement is a bit unbelievable.

Another weird thing is "step" cost much time in huggingface. This is beyond my cognition.

So the current situation is that the performance of native deepspeed on bert-large is better th

[2021-09-13 02:44] stas00 commented on #13507
I agree. That's why I'm suspicious of your reported numbers as 2 orders of magnitude is too fantastic to believe.

`step` is comprised of those MACs, so if your setup is not comparing apples to apples then obviously the speed difference would be out of proportion as well.

I haven't tested this myself, but it's almost certainly the case if one uses custom CUDA kernels vs. vanila implementation.

D