[2022-03-09 01:24] #15992 closed

[2022-03-09 01:25] yharyarias commented on #15947
I'll translate "Fine-tune a pretrained model" into Spanish to file [training.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/training.mdx).

[2022-03-09 01:53] INF800 opened #16003 "Multiclass image classification with ViT - computer vision"
Hi, are there building blocks available in the repo to extend current single class to **multilabel classification**?

It should not be very big of an issue. I guess.

[2022-03-09 01:53] INF800 commented on #16003
#15978

[2022-03-09 01:57] INF800 commented on #16003
And also I would want to know if we can do prediction interpretation by visualizing attention maps or something like that.

[2022-03-09 01:58] INF800 commented on #16003
@NielsRogge

[2022-03-09 02:32] omarespejel commented on #15947
Thanks, @Duedme and @yharyarias! That would be great. Please let me know anything you need.

[2022-03-09 02:47] muyuuuu commented on #6954
how do you fix it ?

[2022-03-09 03:12] zhaowei-wang98 commented on #15516
Thanks a lot. Sorry for my misunderstanding.

[2022-03-09 03:13] #15516 closed

[2022-03-09 03:29] #16002 closed

[2022-03-09 04:20] miladm opened #16005 "`mlm` training fails due to large message size for `nested_gather` on torch_xla"
The `PyTorch/XLA/TPU` HF tests for `mlm-bert` and `mlm-roberta` fail as discussed below. I have extensively tested this issue on both 2VM and 1VM machines. On both machines, when I set `--num_core 1`, the test passes as expected, and when I set `--num_core 8` I get the error below.

This error suggests the [`mesh_reduce`](https://github.com/pytorch/xla/blob/master/torch_xla%2Fcore%2Fxla_model.py#L

[2022-03-09 05:02] gomerudo opened #16006 "Recommended way of exporting encoder-decoder model to ONNX with `transformers[onnx]`"
I am looking for a way to export an encoder-decoder to ONNX to run inference. I followed the guide at [Exporting Transformers Models](https://huggingface.co/docs/transformers/serialization) but that only shows an example of an encoder-only model. Trying to accomplish this for the specific case of the [Helsinki-NLP/Opus-MT model for Spanish to English](https://huggingface.co/Helsinki-NLP/opus-mt-es

[2022-03-09 07:06] sasaadi commented on #15862
Hi @VictorSanh, I would like to know if a license file can be added to the above mentioned models. Since you have proposed the Distilbert models, I was just wondering if you could maybe provide a license file for the Ditsilbert models?

Thank you.

[2022-03-09 07:58] win5923 opened #16007 "TrOCR Backslash problem"
hello,I use https://github.com/NielsRogge/Transformers-Tutorials/blob/master/TrOCR/Fine_tune_TrOCR_on_IAM_Handwriting_Database_using_Seq2SeqTrainer.ipynb this jupyter to fine-tune my task .It about  generate the math expression LATEX sequence according to the handwritten math expression image.
but when I go predicting the image,the model predicts an extra backslash like this
![image](https://user-

[2022-03-09 08:42] LysandreJik commented on #15862
Interesting question regarding lincense of models on the hub cc @osanseviero @julien-c

[2022-03-09 08:45] julien-c commented on #15862
Yes we can add the full-text version of the licenses to those 3 models, I see no objection to doing it.

Curious though, could you expand on

Is this a legal requirement from your company? Would you have more details to share? Thanks! cc @annatrdj

[2022-03-09 09:19] NielsRogge commented on #16003
Hi,

You can easily fine-tune ViT (or any other sequence classifier) using the problem_type argument.

[code]
This will make sure the appropriate loss function is used (i.e. `BCEWithLogitsLoss`).

[2022-03-09 09:19] dunalduck0 opened #16008 "resize_token_embeddings() failed with GPT-J, after sync to the latest DeepSpeed 0.6.1"
## Environment info
- DeepSpeed version: 0.6.1+097efeb7
- Transformers version: 4.18.0.dev0
- Platform: Linux-5.4.0-99-generic-x86_64-with-glibc2.17
- Python version: 3.8.10
- Huggingface_hub version: 0.2.1
- PyTorch version (GPU?): 1.10.0+cu113 (True)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0
- Using GPU in

[2022-03-09 09:22] dunalduck0 commented on #13581
@alexorona I've got the same problem as you. After resizing, I cannot load the original model anymore due to size mismatch. I found this is due to resize_token_embeddings.() changing config.vocal_size. If I reset config.vocab_size to 54000 before loading, it works fine.

[2022-03-09 09:26] LysandreJik commented on #15919
Make sure you install `sentencepiece`!

[2022-03-09 09:42] monsieurpooh opened #16010 "Beam search uses large amounts of VRAM even with depth of 1"
## Environment info

- `transformers` version: 4.15.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.5
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): 2.5.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

[2022-03-09 10:22] patil-suraj commented on #16005
cc @sgugger

[2022-03-09 10:28] patil-suraj commented on #15990
Also cc @lewtun

[2022-03-09 10:43] franz101 opened #16013 "Learning rate finder for the trainer"
Hi,

is it possible to integrate a learning rate finder with the trainer api?
Something like this:
https://github.com/davidtvs/pytorch-lr-finder

It's probably has been done before, but couldn't find it yet.

[2022-03-09 11:27] sasaadi commented on #15862
Thanks a lot @julien-c for the reply. As stated in the [Apache 2.0 license §4](https://opensource.org/licenses/Apache-2.0), recipients must get a copy of the license and therefore, we require a copy of the license for the models.
I appreciate your effort and would be grateful if you could add the license files to these models.

Thank you.

[2022-03-09 11:32] michaelbenayoun commented on #15990
I'm on it!

[2022-03-09 11:42] INF800 commented on #16003
And what about dataset? How do I load it from images folder (specifically for multilabel)

[2022-03-09 12:39] SivilTaram commented on #15559
Hi guys, after being confused by this question for a while months, eventually I found the root issue and the fundamental solution to the failure of `bart-large`:
- **The issue (TL;DR)**: the ill-conditioned representation of token `bos_token` (i.e., the token `0`) in `bart-large` pre-trained model .
- **The solution (TL;DR)**: re-initialize (e.g., add some noise) the `bos_token` representation.

#

[2022-03-09 12:48] patrickvonplaten commented on #15982
Yes you should be able to use:

[code]

[2022-03-09 12:52] ayaka14732 commented on #15559
Thanks! I am still curious about:

1. Why does this issue happen with bart-large but not bart-base?
2. Is this issue only related to the Hugging Face model, or affects the model in the original Facebook repository as well?

[2022-03-09 12:56] alisonhc commented on #15966
I saw this! I think it's fixed in the datasets library but isn't fixed yet in this one.

[2022-03-09 13:08] jspablo commented on #14222
I have been testing the [Bart + Beam Search to ONNX](https://github.com/huggingface/transformers/tree/master/examples/research_projects/onnx/summarization) example but it seems that the [attention_mask layer is fixed](https://github.com/huggingface/transformers/blob/c1aaa439350051acdcd585946e91525502a6b063/examples/research_projects/onnx/summarization/run_onnx_exporter.py#L134) to the sample input

[2022-03-09 13:11] sgugger commented on #16005
Thanks for reporting this issue. Could you check if the problem persists when you comment out [this line](https://github.com/huggingface/transformers/blob/c1aaa439350051acdcd585946e91525502a6b063/examples/pytorch/language-modeling/run_mlm.py#L516) and the next (line 517) in the `Trainer` definition inside this example?

[2022-03-09 13:16] lewtun commented on #14222
Hey @jspablo we're currently discussing internally on the best approach for supporting text generation and other inference tasks within `optimum`. We don't have a timeline on this yet, but I'll report back once we have a clearer picture on this.

cc @philschmid @mfuntowicz

[2022-03-09 13:51] lewtun commented on #16006
Hey @gomerudo thanks for raising this issue and taking the time to clearly explain the problem!

Your analysis is spot on regarding the need for 4 arguments instead of 2. We mention the role of `output_names` in the guide, but we should also mention that one can get the input names via:

[code]

I'll update the guide to clarify this :)

Currently, the best solution is to export the encoder and dec

[2022-03-09 14:01] LysandreJik commented on #15899
Hey! We indeed stopped pushing images a while back, but we've started doing so again a few weeks ago. It makes sense to push images with the versions.

Will try to make some time and do so.

[2022-03-09 14:13] ydennisy commented on #4129
@sachinruk @joaopedromattos any luck here in the end :)

[2022-03-09 14:24] jinfagang opened #16016 "what's the difference between Megatron-gpt2 and GPT2 inside transformers?"
what's the difference between Megatron-gpt2 and GPT2 inside transformers?

[2022-03-09 14:38] patil-suraj commented on #16016
Hi @jinfagang ! For such general questions please use the [forum](https://discuss.huggingface.co/). We use issues for bug reports and feature requests.

Megatron-gpt2  is the models trained using the megatron library. The arch is similar to the GPT2 arch. You can find more info in the doc https://huggingface.co/docs/transformers/model_doc/megatron_gpt2

[2022-03-09 14:39] NielsRogge commented on #15971
Hi,

Thanks for raising this issue. This was a leftover from porting Deepmind's original repo. However, as I'm implementing the position embeddings differently in PyTorch (vs. the original implementation which was in Haiku), this can probably be deleted. I'll work on a PR to remove it everywhere.

[2022-03-09 15:06] #15047 closed

[2022-03-09 15:43] ndronen commented on #15990
Thanks!

[2022-03-09 15:50] VictorSanh commented on #15862
sgtm!

[2022-03-09 16:02] Narsil commented on #16010
Hi @monsieurpooh ,

I think it's because you're using `num_beams=50` quite simply.
We don't include optimizations to get only 1 beam when `max_new_token=1` so even though for this specifically we don't need the `50 copies` there are actually created (this actually speeds up later when generating more tokens since there's less data moving around later).

So `100 tokens x 50 beams x Vocab_size` logi

[2022-03-09 16:11] patrickvonplaten commented on #15516
No worries!

[2022-03-09 16:16] patrickvonplaten commented on #15962
Gently pinging @ydshieh here since he is becoming our longformer expert. If you have some time it would be amazing if you could take a look here :-)

[2022-03-09 16:18] ydshieh commented on #15962
OK, added to my TODO list :)

[2022-03-09 16:32] sanchit-gandhi opened #16022 "JAX 0.2.22: Replace all deprecated `jax.ops` operations with jnp's `at`"
The `jax.ops.index_update` function used for in-place `jax.ndarray` operations was deprecated in [JAX 0.2.22](https://jax.readthedocs.io/en/latest/changelog.html?highlight=0.2.22#jax-0-2-22-oct-12-2021). It is advised that any in-place array modifications be made with [`jax.numpy.ndarray.at`](https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.at.html). We should update the followi

[2022-03-09 16:51] stas00 opened #16025 "[CI] switching CI to pytorch-1.11"
Heads up: pytorch-1.11 will be released tomorrow

@LysandreJik , I recommend we switch our CI to it once it's released - note that nightly is 1.12-tobe so should remain as it is now.

I have already requested torch-scatter binary wheels for 1.11 which will be needed to switch to : https://github.com/rusty1s/pytorch_scatter/issues/276

we can use this issue to track if anything else is needed.

[2022-03-09 16:53] NielsRogge commented on #15971
Reopening this and marking it as a good first issue.

[2022-03-09 17:03] Ch-rode opened #16026 "TypeError: forward() got an unexpected keyword argument 'return_dict' BERT CLASSIFICATION HUGGINFACE with tuning"
I'm stacked with this model, every day errors came to my code! Anyway I'm trying to implement a Bert Classifier to discriminate between 2 sequences classes (BINARY CLASSIFICATION), with AX hyperparameters tuning.
This is all my code implemented anticipated by a sample of my datasets ( I have 3 csv, train-test-val). Thank you very much ! Any help or suggestions will be very useful !

[code]

[code]

[2022-03-09 19:02] miladm commented on #16005
Just tried your recommendation. The error disappears after commenting out [these lines](https://github.com/huggingface/transformers/blame/c1aaa439350051acdcd585946e91525502a6b063/examples/pytorch/language-modeling/run_mlm.py#L516-L517).

@sgugger, what do you recommend as the solution to this issue?

[2022-03-09 19:08] sgugger commented on #16005
Leaving those two lines commented out for now. I'm a bit surprised it's not possible to gather the logits of a language model. Will investigate.

[2022-03-09 19:09] sgugger commented on #16013
The LR finder does not give reliable results for Transformers models (usually indicates one in the 1e-3 when the actual best value is in the 1e-5 range). That's why we don't have support for it.

[2022-03-09 19:13] miladm commented on #16005
The tensor payload size exceed the `XRT_MESH_MAX_MSGSIZE` requirements.

Our tests clone for HF `master`. While we can have a side patch that unblocks, I prefer to wait for a fix to `master`. Wdyt?

[2022-03-09 19:26] sgugger commented on #16005
PR linked above patches the issue by removing the metric computation on TPU. I hope we can have a better fix to re-enable it in the future.

[2022-03-09 19:46] miladm commented on #16005
Thanks @sgugger

[2022-03-09 20:48] shrishabh commented on #15358
Downgrading to transformers 4.15.0 fixed the issue for me! Thanks!

[2022-03-09 21:23] lavine-lmu opened #16032 "how can we use the model output to do predict?"
Hi, I am using transformers to do generation now. especially in ```m2m100``` model. We can easily call ```model.generate()``` to generate the sentences, but can not do predict using the model outputs. can anyone help me? @patrickvonplaten @Narsil
For example, in the following code, what should we do after we have ```outputs``` from the model to generate the translation text?
[code]
I mean, whether

[2022-03-09 23:01] ZhaofengWu commented on #15591
@patrickvonplaten Sorry for the late reply. I think the only change needed would be to remove this assertion. Re. past work using `past_key_values` in BERT to provide a prefix, see the original implementation of the prefix tuning paper (https://github.com/XiangLi1999/PrefixTuning), and a follow-up work P-tuning-v2's (https://github.com/THUDM/P-tuning-v2).

[2022-03-10 02:47] SivilTaram commented on #15559
Yes I think my finding on perturbing `bos_token` cannot be a default option for `bart-large` since it will affect a lot of users, maybe until we finally figure out why the perturbing works.

[2022-03-10 02:55] jinfagang commented on #16016
@patil-suraj thanks. I'll move to forum for further discuss. hope you can give me a hand on understanding.

[2022-03-10 02:59] SivilTaram commented on #15559
1. This is the most tricky part in this bug. I do not know if the official authors have performed different training strategies on `bart-large` or `bart-base`, but the fact is that the token `bos_token` makes `bart-large` hard to optimize in the context of 🤗 transformers.
2. Good catch! I think it should not be only related to 🤗 . I have also seen many issues [issue 12237](https://github.com/huggi

[2022-03-10 03:02] SivilTaram commented on #15559
Good point @salrowili ! I have no idea now, but I agree that the first token **is originally desgined to serve for mBART instead of BART**.

[2022-03-10 03:40] jinfagang opened #16035 "raise ValueError(f"Unrecognized tokenizer_type {tokenizer_type}") ValueError: Unrecognized tokenizer_type BertWordPieceCase"
BertWordPieceCase is actually a builtin tokenizer inside magatron. But when I using `convert_megatron_gpt2_checkpoint.py` to convert. I got this error:

[code]

Just wonder, how to make it support？ Does it also works If i using default `gpt2` tokenizer? Any ulternate in transformers interms of `BertWordPieceCase` ?

[2022-03-10 04:05] kaushalshetty opened #16036 "RuntimeError: [enforce fail at CPUAllocator.cpp:68] Out of memory during batched inference"
## Environment info

- `transformers` version: 4.16.2
- Platform: p3.24xlarge
- Python version: 3.6
- PyTorch version (GPU?): 1.10.0+cu102
- Tensorflow version (GPU?): 2.6
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

 @LysandreJik

## Information

I am using codebert model(RoBerta) for inference by wrapping it using huggingface. Below, I am trying to retrieve a

[2022-03-10 05:10] zhaowei-wang98 opened #16037 "The documentation of transformers.generation_utils.GenerationMixin.generate doesn't match the code of it"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux
- Python version: 3.8.12
- PyTorch version (GPU?): 1.7.1
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help
 @sgugger@patrickvonplaten @narsil

## Information
The documentation of transformers.generation_utils.GenerationMixin.generate shows many parameters

[2022-03-10 05:58] Ezekiel25c17 commented on #8698
The conll2003 sample jsonl data seems to be fine but I believe there are still several issues when using jsonl as input.
1. I notice there is this warning from trainer.py
2.

[2022-03-10 06:40] NielsRogge commented on #16032
Hi

I've answered this question on our forum here: https://discuss.huggingface.co/t/generate-without-using-the-generate-method/11379?u=nielsr

[2022-03-10 06:41] NielsRogge commented on #16032
For such questions, please use the forum rather than GitHub issues, which are meant for bugs/feature requests.

Thanks!

[2022-03-10 07:19] lavine-lmu commented on #16032
@NielsRogge Thanks for the reply, this really help me and solve my problems.

[2022-03-10 07:19] #16032 closed

[2022-03-10 07:37] Narsil commented on #16037
Hi @zhaowei-wang98 ,

The documentation is sort of correct I think.

The values will be defaulted from the config values of the model, which themselves have a default value which is the one provided in the docs: check here how those variables are initialized https://github.com/huggingface/transformers/blob/master/src/transformers/generation_utils.py#L1062

So even though, technically they are None

[2022-03-10 08:00] Darshan2104 opened #16038 "what us the difference between Trainer and Seq2SeqTrainer ?"
Anybody?

[2022-03-10 08:14] scaler2017 opened #16039 "How to add uppercase letter in chinese-roberta-wwm-ext-large vocab?"
I found chinese-roberta-wwm-ext-large vocab  without uppercase letter
?How to add uppercase letter in vocab?

chinese-roberta-wwm-ext-large:  https://huggingface.co/hfl/chinese-roberta-wwm-ext-large/tree/main

[2022-03-10 08:32] INF800 commented on #16003
This as well please let me know it.

[2022-03-10 08:35] LysandreJik commented on #16036
Have you tried with a smaller amount of tokens to see where it fails?

[2022-03-10 08:41] NielsRogge commented on #16038
There's a website called Google, it's pretty great.
<img width="892" alt="Screenshot 2022-03-10 at 09 41 21" src="https://user-images.githubusercontent.com/48327001/157622136-0a1d5ced-20dd-4d41-bbad-a1d0088f02f3.png">

=> answer explained here: https://discuss.huggingface.co/t/trainer-vs-seq2seqtrainer/3145

[2022-03-10 08:42] #16038 closed

[2022-03-10 10:05] patrickvonplaten commented on #16037
We do write this in the docs:

Let's maybe wrap this message in a warning to make it clearer? Putting it in my generate doc refactor PR: https://github.com/huggingface/transformers/pull/15988

[2022-03-10 10:20] #16013 closed

[2022-03-10 10:31] JoaoLages opened #16040 "Use decoder_inputs in generate function"
# 🚀 Feature request
Use the generate function with some initial decoder inputs.

## Motivation
Imagining I have a trained encoder-decoder transformer and want to generate some output for a given input, but I also have part of the output completed. How do I pass decoder_inputs to the generate method for the model to start the beam search decoding with some initial decoder inputs?
I don't think that

[2022-03-10 10:38] ydshieh commented on #15962
Hi @ddf62

Could you also include the code that you used to create an instance of `MyModel`, prepare the inputs, and pass the inputs to the model in your above code snippet , please? This way, I can run the code to get the output directly and to investigate it.

Thank you.

[2022-03-10 11:04] win5923 commented on #16007
I think that I get the problem's point.so do I need to customize tokenizers?
![image](https://user-images.githubusercontent.com/56353753/157649252-d1ae592f-7ff7-47bf-8ace-75bc4cffbfaa.png)

[2022-03-10 13:17] menaenahoro commented on #11711
Hi @yananchen1989 did you get a solution yet

[2022-03-10 13:48] gante commented on #16007
@win5923 the double backslash quirk is a Python "feature" :D See this StackOverflow issue, which explains what's going on: https://stackoverflow.com/questions/24085680/why-do-backslashes-appear-twice

As for beam search / greedy generate, they can get the same results (beam search is an elaborated greedy generation). If you were looking for multiple outputs with beam search, try using the `num_ret

[2022-03-10 13:54] ddf62 commented on #15962
[code]
the output is :torch.Size([1, 512, 1024]) torch.Size([1, 22, 1024])
But i think the shape of hidden_states[-1] should also be [1, 22, 1024].

[2022-03-10 14:00] win5923 commented on #16007
thank you so much!

[2022-03-10 14:34] gante commented on #16039
Hi @scaler2017 👋  We try to reserve GitHub issues for bugs and unexpected code behavior. For further other questions, please use our forum here: https://discuss.huggingface.co/ :)

[2022-03-10 15:02] marekninja opened #16048 "MarianMTModel is not trained after finished training and loading"
## Environment info

- `transformers` version: 4.17.0.dev0
- Platform: Linux-5.4.0-92-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyTorch version (GPU?): 1.12.0.dev20220208+cu102 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using dist

[2022-03-10 15:07] #15424 closed

[2022-03-10 15:07] #15412 closed

[2022-03-10 15:14] AmitMY opened #16050 "Text Generation Pipeline not using Target Tokenizer"
## Environment info

- `transformers` version: 4.18.0.dev0
- Platform: Linux-3.10.0-1160.53.1.el7.x86_64-x86_64-with-glibc2.10
- Python version: 3.8.12
- PyTorch version (GPU?): 1.8.1+cu101 (True)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0

### Who can help
@patrickvonplaten @patil-suraj @Narsil

## Informati

[2022-03-10 15:30] gante opened #16051 "TF: clearer model variable naming"
### This issue is part of our **Great Code Cleanup 2022**. If you're interested in helping out, take a look at [this thread](https://twitter.com/carrigmat/status/1502319813510766599), or come [join us on Discord](https://t.co/kS42XBvpWH) and talk with other contributors!

As introduced in https://github.com/huggingface/transformers/issues/15908 and implemented in https://github.com/huggingface/tra

[2022-03-10 16:35] rbbb opened #16053 "bug in model.generate() / beam_search score per token"
Tried on transformers 4.16.2, not platform dependent (bug in the algo).

## Copy/paste of an email sent to cwkeam:

I tried to generate some phrases with transformers (BART), and then tried to get the perplexity of each character, and noticed the characters scores were wrong.

If I had to give a half baked patch, it would look something like this:

[code]

This will give you proper scores for *the

[2022-03-10 17:23] feifang24 opened #16054 "`torch.dtype` not JSON serializable if config is nested dict"
## Environment info

- `transformers` version: 4.16.2
- Platform: Linux-5.4.0-1066-aws-x86_64-with-debian-buster-sid
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.2 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or parall

[2022-03-10 17:46] stas00 commented on #16054
Thank you for the report and proposing the fix, which looks great, @feifang24

the next step is to make a PR out of your proposed fix if that works for you.

[2022-03-10 17:52] feifang24 commented on #16054
That would be awesome! Thank you @stas00 for getting back to me so quickly 🤩 I will file a PR and tag you as a reviewer.

[2022-03-10 18:11] win5923 commented on #16007
I'm not sure how to upload the model for checkpoint, I upload the code to my repo.
https://github.com/win5923/TrOCR-Handwritten-Mathematical-Expression-Recognition
Everything is going very well.Thanks a lot.

[2022-03-10 18:36] NielsRogge commented on #16007
Hi,

You can easily upload a model to the hub using the `push_to_hub`[method](https://huggingface.co/docs/transformers/main_classes/model#transformers.file_utils.PushToHubMixin.push_to_hub). For example:

[code]

This way, you'll be able to just do:
[code]

[2022-03-10 19:06] Rocketknight1 opened #16059 "Add missing type hints"
### This issue is part of our **Great Code Cleanup 2022**. If you're interested in helping out, take a look at [this thread](https://twitter.com/carrigmat/status/1502319813510766599), or come [join us on Discord](https://t.co/kS42XBvpWH) and talk with other contributors!

# 🚀 Add missing type hints

Type hints are used inconsistently in the `transformers` repo across both TF and PT models, and it'

[2022-03-10 19:16] kaushalshetty commented on #16036
Yes, I ran the "top" command in shell and observed that memory almost maxes out to 99% for just 2000. But, I was able to get over the memory issue by detaching the tensor and converting it to cpu() and then numpy() .
```model(tokens[i:i+batch_size])[1].detach().cpu().numpy()```. My problem is fixed but just wondering what was eating up the memory.

[2022-03-10 19:58] ydshieh commented on #15962
Hi @ddf62

- Could you run the command `transformers-cli env` and copy-and-paste its output below. We need this information in order to reproduce the issue.
- I could not find any pretrained model with the name `longformer-large`. In your code snippet, you have `'../model/longformer-large'`, which is a local file we don't have. Could you check where does your model comes from?

With `allenai/longf

[2022-03-10 20:11] stas00 commented on #16025
@LysandreJik, `pip install torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cu113.html` is already avaialble,

`pip install torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cu115.html` should be available on Friday.

So no show-stoppers to switch to pt-1.11 now as soon as it's released.

At your convenience of course. I was just trying to make sure that all components are ready.

[2022-03-10 20:14] peterwolf-smarsh opened #16060 "Unable to load Wav2Vec2 fine-tuned models from local files"
## Environment info
- `transformers` version: 4.16.2
- Platform: macOS-10.16-x86_64-i386-64bit
- Python version: 3.9.7
- PyTorch version (GPU?): 1.10.2 (False)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: n

[2022-03-10 20:46] lewtun commented on #14812
Hey @albertoandreottiATgmail thanks for the interest! This is next up on my list now that we've just merged the ViT export in #15658 :)

[2022-03-10 21:59] marekninja commented on #16048
Found out the real issue. I was resetting the model incorrectly... I did reset_parameters on all layers (including positional embeddings), but in combination with static positional embeddings it made the model unusable after loading. My bad.

[2022-03-10 21:59] #16048 closed

[2022-03-10 21:59] ZhaofengWu commented on #15591
Oh, and another thing is that currently `past_key_values` passes to a T5 model is only given to the decoder. This is workaroundable for my purpose by manually computing `encoder_outputs`, with `past_key_values`, and giving it to the T5 model. But ideally there can be something like `{encoder,decoder}_past_key_values`. Though I would understand if you believe this is too hacky and are unwilling to

[2022-03-10 23:59] AADeLucia commented on #15999
I tried without the sharding and I received the same error (quick test with only 100 examples)

[code]

So far I haven't omitted passing in labels, so it always assumes labels are there to compute loss. Logits are tensors with batch first dimension.

Would it be best if I did something like this, using a huggingface output class?
[code]

[2022-03-11 01:11] sgugger commented on #15999
Not sure it will change anything to switch to a dictionary as long as you put your outputs in the right order (loss first if present) in your tuple. The `Trainer` can handle both. I'm curious to see what's being badly accumulated, could you try printing the shapes at the end of the forward pass of your model so we can try to figure out what's going on?

[2022-03-11 02:47] ddf62 commented on #15962
[code]
'../model/longformer-large' is the model i download from [allenai](https://huggingface.co/allenai)
/
[longformer-large-4096](https://huggingface.co/allenai/longformer-large-4096)

[2022-03-11 03:27] cwkeam commented on #16053
So I think that the issue you're noticing is coming from the fact that `scores` is saved **before** the actual beam search process at step `k`.

[code]
Though it wouldn't be implemented this way, what you're expressing is that you want `scores` to reflect the beam selection done by the `BeamScorer`. I believe so because `If say beam 0 has such high score that all beams get replaced by a copy of be

[2022-03-11 05:39] rbbb commented on #16053
Yes, it depends what you want in those scores. I think currently it's the score for the n beams doing the search at the time that token in the sequence was chosen (even if a beam gets overwritten).

For most applications, I *think* people would want the probability of each token at each step of sequence creation (and ultimately, perplexity). But ultimately you'd have to ask people who use the libr

[2022-03-11 06:52] djrochford commented on #4894
I gather from the conversation on #7533 that this issue should now be closed; is that correct, @BramVanroy ?

[2022-03-11 07:08] #4894 closed

[2022-03-11 07:24] qinyuenlp commented on #16060
`from_pretrained(MODEL_DIR)`, not `from_pretrained(MODEL_FILE)`

[2022-03-11 08:53] NielsRogge commented on #16007
Closing this issue as I believe we've answered your questions. Feel free to re-open if you have further questions.

[2022-03-11 08:53] #16007 closed

[2022-03-11 10:16] Smile-L-up opened #16067 "How to load google-research/bert .ckpt weight"
# 🌟 New model addition
Hello，I'm going to convert.ckpt file to h5 file. Compare the two sides of the parameter information is the same, but through the TFBertForMaskedLM load, check the weight found a lot of programming 1 and 0.
## Model description

## Open source status

* [ ] the model implementation is available: (give details)
* [ ] the model weights are available: (give details)
* [ ] who ar

[2022-03-11 10:19] ydshieh commented on #15962
Thank you! I am able to reproduce the issue. This issue is already fixed in a pull request #15537 and is included in the latest version [v4.17.0](https://github.com/huggingface/transformers/releases/tag/v4.17.0).

I am going to close this issue, but don't hesitate if you have further question. Thanks!

[2022-03-11 10:23] #15962 closed

[2022-03-11 10:30] patil-suraj commented on #16040
it's possible to pass `decoder_input_ids` to `generate`, it takes it as a keyword argument.

[code]

[2022-03-11 10:39] patil-suraj commented on #15982
@Narsil @patrickvonplaten

IIRC the fast tokenizer is was not added because Marian uses two setencepiece models and two vocabs (for source and target) and it's not clear how to add a fast version for such tokenizers

[2022-03-11 10:45] irenedini opened #16068 "CUDA out of memory when resuming from checkpoint (not always)"
## Environment info
- `transformers` version: 4.17.0.dev0
- Platform: Linux-4.18.0-147.51.2.el8_1.ppc64le-ppc64le-with-glibc2.17
- Python version: 3.8.2
- PyTorch version (GPU?): 1.7.0a0+e85d494 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using d

[2022-03-11 10:52] Narsil commented on #15982
@patil-suraj Can't we just have two different `tokenizer_{source, target}.json` files like you have 2 different `spm` files ?

Also ideally I wouldn't mutate the state of the tokenizer like `as_target_tokenizer()` does. If those 2 objects are different, they should stay 2 different objects.
This could be a different PR, but I feel it would also solve issues like the fact that `len(tokenizer)` does

[2022-03-11 11:32] Penguin-jpg opened #16069 "[INFO|modelcard.py:460] 2022-03-11 19:03:24,502 >> Dropping the following result as it does not have all the necessary fields: {'task': {'name': 'Causal Language Modeling', 'type': 'text-generation'}}"
## Environment info
- `transformers` version: 4.18.0.dev0
- Platform: Windows-10-10.0.17763-SP0
- Python version: 3.6.8
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using dist

[2022-03-11 12:31] patil-suraj commented on #15982
I actually don't know about this. I have the same question.

Aah, good catch! Yes, you are right. The current design is not ideal.

In Marian the spm files are only used to tokenize the text and then the `vocab` is used to convert token to id and vice-versa.
And before https://github.com/huggingface/transformers/pull/15831 marian used a joint vocab file, so we didn't need to handle this.

But now

[2022-03-11 12:43] patil-suraj commented on #16069
Hi @Penguin-jpg , to run the training and evaluation you should pass the `--do_train` and `--do_eval` arguments to the script.

[2022-03-11 12:52] alexvaca0 opened #16071 "Want to push a branch for a PR that fixes Deberta classification dropout and armonizes the dropout class, but have no permissions."
Hi, I'm trying to push a new branch that fixes Deberta classification dropout by adding cls_dropout to DebertaConfiguration. In this branch I've also changed the Dropout class of DebertaForTokenClassification to StableDropout, to use the same type of dropout as the other classes.

However, I am not able to perform this operation even this is a new branch and wouldn't break anything in master or ot

[2022-03-11 12:57] sgugger commented on #16068
It might be that some of the older processes have left some junk in the GPU memory? Do you have a way to insure everything is clean before launching the training resuming from checkpoint?

[2022-03-11 13:01] Penguin-jpg commented on #16069
Thanks!! It works! But it is weird. I am pretty sure that when I passed do_train and do_eval then it said no such argument or something like that before today. I had to remove them to make it work.

[2022-03-11 13:04] patil-suraj commented on #15109
Hey @jorgtied @GokulNC

We just merged https://github.com/huggingface/transformers/pull/15752 which now allows to convert the models which don't share embeddings between encoder and decoder and uses separate vocabs. The conversion script is also updated.

For models with two vocab files it looks for two yaml fils which should be named like `*src.vocab.yml`, `*trg.vocab.yml`.

The conditions for di

[2022-03-11 13:21] HaukurPall commented on #15871
I was also adjusting the BART export to work for mBART in a translation setting. There you need to be able to set the `decoder_start_token_id` dynamically. I noticed that the ONNX conversion example you link to (thank you!) is not complete. It is missing the `dynamic_axes` configuration for the `attention_mask`. It needs to be adjusted to:
[code]

Hope this helps!

[2022-03-11 13:22] patil-suraj commented on #16040
What do you mean by it does not perform as intended. Could you post the code-snippet to re-produce what the exact issue is ?

[2022-03-11 14:45] patil-suraj commented on #12140
GPTNeo is available in Flax.

[2022-03-11 14:45] #12140 closed

[2022-03-11 15:48] #15578 closed

[2022-03-11 15:58] osanseviero commented on #16051
My favorite sport is deleting code :mechanical_arm:

I would be interested in taking `bart` :rocket:

[2022-03-11 16:35] juliensimon commented on #15514
I looked around, and what we'd basically need to do is to check for an environment variable (this already works for datasets and the hub CLI):

[code]

What would be the best place to do this once and once only? Is there a common data structure that is globally visible in the lib?

Then, we have to update all urls for config files, tokenizers and models, e.g.

[code]

What do you think @julien-c @

[2022-03-11 17:00] #16054 closed

[2022-03-11 17:02] sgugger commented on #15514
Those urls are not used anywhere except internal tests, so you don't need to update them.
The endpoint just needs to be set via the env variable `HUGGINGFACE_CO_RESOLVE_ENDPOINT`, I think this is the only thing to change.

[2022-03-11 17:04] divyanshugit commented on #16051
This seems my kind of thing. Would love get started by `albert`.

[2022-03-11 17:05] harubaru opened #16080 "CUDA Error with Typical Sampling mass of 1.0"
## Environment info

- `transformers` version: 4.18.0.dev0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU?): 1.10.0+cu111 (True)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?:

[2022-03-11 17:07] silvererudite commented on #16051
Hi..would love to work on `encoder_decoder`

[2022-03-11 17:11] johnnv1 commented on #16059
Hi, I would like to work on PyTorch `ImageGPT`

[2022-03-11 17:19] ChainYo commented on #16059
Hi, I would like to work on `CamemBERT` for PT & TF.

I will take a look at `LayoutLMv2` after the first one :)

[2022-03-11 17:28] johnryan465 commented on #16059
I'll try PyTorch BERT to start!

[2022-03-11 17:29] gante commented on #16067
Hi @Smile-L-up 👋  From your message, I'm understanding that you converted the weights and found differences. Is this correct? If so, would you be able to share a script (or a collab) where I could reproduce the issue?

[2022-03-11 17:29] Rocketknight1 commented on #16059
@johnryan465 I just did it as an example, I'm sorry! I'm marking off the completed models now.

[2022-03-11 17:31] cakiki commented on #16051
I'd like to work on gpt2!

[2022-03-11 17:32] gante commented on #16071
Hi @alexvaca0 👋  From your message I can't confirm whether you're doing this or not, so here it goes: [we expect the contributions](https://github.com/huggingface/transformers/blob/master/CONTRIBUTING.md#start-contributing-pull-requests) to come from *branches on a fork*, from which you can open a PR to the main repo. Have you tried doing this? :)

[2022-03-11 17:32] johnryan465 commented on #16059
@Rocketknight1 no worries, will try and do DistillBert instead

[2022-03-11 17:32] cakiki commented on #16059
I'd like to work on GPT2 (TF).

[2022-03-11 17:33] ChainYo commented on #16059
@Rocketknight1 I switch to Roberta PyTorch because CamemBERT depends on Roberta modeling

[2022-03-11 17:52] johnnygreco commented on #16059
Awesome! Hey @Rocketknight1 – I'd like to work on Longformer for both PyTorch & TF!

[2022-03-11 17:57] johnnygreco commented on #16051
I'll take longformer!

[2022-03-11 18:24] pratikchhapolika commented on #1413
How should I save new tokenizer to use it in downstream model?

[code]

`trainer.save_model("/home/pc/Bert_multilingual_exp_TCM/model_mlm_exp1")`

**It saves model, config, training_args. How to save the new tokenizer as well??**

[2022-03-11 18:26] patrickvonplaten commented on #15557
Hey @StephennFernandes - this sounds like a question for https://github.com/huggingface/datasets actually. Could you maybe try to ask there? Also cc'ing @lhoestq  and @polinaeterna

[2022-03-11 18:46] tanmoyio commented on #16059
I'd like to work on BigBird

[2022-03-11 19:07] jacobdineen commented on #16059
I work like to work on Clip for pytorch.

[2022-03-11 19:08] johnnv1 commented on #16059
Also, will work on `BeiT`, `Deit` and `ViT`

[2022-03-11 21:43] tanmoyio commented on #16059
https://github.com/huggingface/transformers/pull/16091

[2022-03-11 21:58] bhavika commented on #16059
I can work on ImageGPT.

[2022-03-11 21:59] bhavika commented on #16051
I can take CLIP and OpenAI.

[2022-03-11 22:44] omer-dor commented on #16059
I can work on Swin (Pytorch)

[2022-03-11 22:57] cloudygoose opened #16095 "Question about the why num_beams is multiplied by 2 in Beamsearch"
Hi, I have a simple question, in the code for beam_search, here:

https://github.com/huggingface/transformers/blob/ef9c3ca348cb11c4ba951f8bdab068ecd8b847ce/src/transformers/generation_utils.py#L2137

Why the num_beams is multiplied by 2 ? Thanks!

[2022-03-11 23:03] elusenji commented on #16059
I'd like to work on XLM (Tensorflow)

[2022-03-11 23:13] #16008 closed

[2022-03-11 23:43] Dahlbomii commented on #16059
I'll take T5 (Tensorflow)!

[2022-03-12 00:05] stas00 commented on #16008
Thank you for the report, @dunalduck0 and to @jeffra for the PR with the fix.

[2022-03-12 01:13] Smile-L-up commented on #16067
感谢您的回复。我通过读取转换后h5文件与正确的h5文件，粗略的比对了权重值是一致的。但是通过TFBertForMaskedLM.from_pretrained()加载权重，并通过for layer in model.layers:  layer.get_weights() 查看权重。发现加载转换后的h5文件权重值很多编程1或者0
Thank you for your reply. I read the converted H5 file and the correct H5 file, and roughly compared the weight value is consistent. But load the weights with TFBertForMaskedLM.from_pretrained () and check the weights with  {for layer

[2022-03-12 02:49] Eurus-W commented on #4483
@AmbiTyga @patrickvonplaten  Is this error fixed? I have switched to the branch "more_general_trainer_metric." But it seems this error still exists when I am running codes in https://huggingface.co/patrickvonplaten/bert2gpt2-cnn_dailymail-fp16.

[2022-03-12 03:08] robotjellyzone commented on #16059
Hi,

I would like to work on  BART of  both TF and PyTorch

[2022-03-12 03:33] robotjellyzone commented on #16051
Hi,
I would like to work on vision_encoder_decoder & distilbert

[2022-03-12 04:44] vumichien commented on #16051
I'll take `mobilebert `and `layoutlm`

[2022-03-12 06:22] kamalkraj commented on #16059
ELECTRA TF and PT

[2022-03-12 06:27] Abdelrhman-Hosny commented on #16051
I'll take `mbart`

[2022-03-12 07:06] manandey commented on #16059
XLMRobertaXL (PyTorch)

[2022-03-12 07:29] kokolerk commented on #7536
I have the same question, which is
`ImportError                               Traceback (most recent call last)
[<ipython-input-7-d8ba1013a0e5>](https://localhost:8080/#) in <module>()
      6
      7 tokenizer = RagTokenizer.from_pretrained("facebook/rag-token-nq")
----> 8 retriever = RagRetriever.from_pretrained("facebook/rag-token-nq", index_name="exact", use_dummy_dataset=True)
      9 model =

[2022-03-12 07:36] nbqu opened #16096 "Any reasons not using `processors` or `pipelines` modules in example codes?"
Hi, I'm wondering that is there any reasons, or purposes not using `processors` or `pipelines` modules in example codes, such as [`run_glue.py`](https://github.com/huggingface/transformers/blob/master/examples/pytorch/text-classification/run_glue.py) or [`run_qa.py`](https://github.com/huggingface/transformers/blob/master/examples/pytorch/question-answering/run_qa.py).

First, I strongly appreciat

[2022-03-12 07:54] tanmoyio commented on #15550
@shamanez @shamanez I would like to participate in the implementation, please let me know

[2022-03-12 08:19] p-mishra1 commented on #16059
segformer pytorch

[2022-03-12 09:22] TristanBilot commented on #16059
I'll take OpenAIGPT!

[2022-03-12 09:50] aa327chenge opened #16098 "cannot import name 'Text2TextGenerationPipeline"
In transformers 4.17，It will find error like
："cannot import name 'Text2TextGenerationPipeline'"

My code is  "from transformers import Text2TextGenerationPipeline"

[2022-03-12 11:52] Richar-Du opened #16101 "Different weights in ViTMAEModel and ViTMAEForPreTraining"
@NielsRogge
Thanks for the implementation of MAE! I noticed that the weights in ViTMAEModel and the weights in ViTMAEForPreTraining.vit are different.  However, they are actually the same model. I wonder there is some errors when calling `model = ViTMAEModel.from_pretrained("facebook/vit-mae-base")`, because lots of weights in the encoder are randomly initialized.

Some weights of the model checkp

[2022-03-12 12:48] robotjellyzone commented on #16059
can you please confirm with emoji whether i am eligible to take these or not? @Rocketknight1

[2022-03-12 13:04] johnnv1 commented on #16051
I'll work on `vit`

[2022-03-12 13:50] jbrry commented on #16059
I will work on XLM (PyTorch)

[2022-03-12 13:56] cwkeam commented on #16098
The recommended way to load the `Text2TextGenerationPipeline` as stated in the [docs](https://huggingface.co/docs/transformers/v4.17.0/en/main_classes/pipelines#transformers.Text2TextGenerationPipeline) is:

[code]

But if you must import the class you can import it as such:
[code]

If you're just trying to use the pipeline and not making something like a feature contribution for the class, you sh

[2022-03-12 14:28] tanmoyio commented on #16051
I'll work on `albert`

[2022-03-12 14:39] kamalkraj commented on #16051
electra

[2022-03-12 14:53] Rocketknight1 commented on #16059
@robotjellyzone You can! Please note that we accepted a PR yesterday to add the TF decorator to BART, so make sure you're working on the most recent version of the library before you start your PR!

[2022-03-12 15:01] #15458 closed

[2022-03-12 15:01] #15452 closed

[2022-03-12 15:01] #15447 closed

[2022-03-12 15:02] #14984 closed

[2022-03-12 16:19] PepijnBoers commented on #16059
I'll take Distilbert (TensorFlow)

[2022-03-12 16:32] johnnv1 commented on #6909
Hi! bring back this because I think in suggest pre-commit instead of `make ...`

With the pre-commit, we can see the results/modifications, like by example:

`git add .`
`git commit -m "any"` **this will run the pre-commit**
- if everything it's ok at the pre-commit pipeline, the commit will be created
- else if he modifies something (like black or style hook) he will not create the commit and cha

[2022-03-12 16:46] stas00 commented on #6909
Even though I originally created this thread 1.5 years later I now agree with @sgugger, that I don't want format changes done while pushing - I need to see what has been changed since sometimes the autoformatter messes things up badly and I need to rewrite things to make the end result readable.

If this can be done as an option and not a requirement then I'm not against it, but there needs to be

[2022-03-12 17:26] frgfm commented on #16059
Happy to take T5 (PyTorch)

@Rocketknight1 isn't the list missing ConvNext? If so, I'm happy to take care of that one too :ok_hand:

[2022-03-12 17:36] johnnv1 commented on #6909
yes use pre-commit don't make sense if does not want to always run the pipeline...

About the `fixup` and  `style`, i think can be done equal... by default pre-commit will run just in modified files (files at the commit) and if wants to run for all files can do as you shows.
For me, by default, i think makes sense always just run at modified files. And if the autoformatter messes things we can see

[2022-03-12 17:51] tmastrom commented on #16059
I'll work on GPTJ

[2022-03-12 18:43] robotjellyzone commented on #16059
OK sure! I will keep this in mind 😊👍...

[2022-03-12 19:20] jacobdineen commented on #16059
I'll take Splinter and Segformer for torch

[2022-03-12 19:41] stancld commented on #15583
active #15623

[2022-03-12 22:31] wpan03 commented on #16059
I'll work on MobileBert for PyTorch

[2022-03-13 00:35] Rocketknight1 commented on #16051
@Abdelrhman-Hosny The user doing the `t5` type annotations for TF said they're going to do the decorator too! I see you closed that PR already, but don't worry, it's being handled!

[2022-03-13 03:36] bhavika commented on #16059
Looks like ImageGPT was done. I can take Luke and Data2Vec in PyTorch.

[2022-03-13 07:29] aflah02 opened #16114 "Issue in Tutorial - "Fine-tune a pretrained model""
One of the code snippets in the tutorial are -

[code]

However this raises an error -

[code]

I believe this is just a missing extra key while trying to access the value in the dictionary.

So the last line should be something like -

`dataset['train'][100]`

Which does indeed give a correct output -

[code]

[2022-03-13 07:30] aflah02 commented on #16114
I can fix this if this fix looks fine

[2022-03-13 07:59] tanmoyio commented on #15959
I tried to reproduce the error, but I couldn't. @shilida would you please mention the `model_name` and which transformer version you have currently installed?

[2022-03-13 08:19] soomiles commented on #16059
I'd like to take PoolFormer

[2022-03-13 08:20] vumichien commented on #16051
I have just made PR for `mpnet`, `rag`, `roformer`

[2022-03-13 08:50] ChainYo commented on #16059
I'm going for `Flaubert` now !

[2022-03-13 09:38] Sumsky21 opened #16120 "RAM OOM with a large save_steps using trainer API for MLM training"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux-4.14.105-1-tlinux3-0013-x86_64-with-glibc2.17
- Python version: 3.9.2
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or

[2022-03-13 10:53] Sumsky21 commented on #16120
Addition: Previously I've used a similar script to train BertForMaskedLM, and no memory fluctuations were observed that time:
![屏幕截图 2022-03-13 185104](https://user-images.githubusercontent.com/58537872/158056119-dd62f856-06fa-410b-8c7e-95d3ec5266fa.png)
That's why I suspect it's abnormal this time.

[2022-03-13 12:11] julien-c commented on #6909
(i personally agree with @sgugger that local hooks are best left as user-level tooling)

[2022-03-13 12:59] julien-c commented on #15514
Yep i think that's what I was alluding to when I wrote

Maybe we can just rename (or alias) `HUGGINGFACE_CO_RESOLVE_ENDPOINT` to `HF_ENDPOINT` for consistency across the different libraries? WDYT?

[2022-03-13 14:10] tanmoyio commented on #16026
@Ch-rode
There are several issues in your current script, lets try to fix one by one

First the `forward()` function of your model raising this error because it takes only two arguments
[code]
so correct approach would be
[code]

But this alone won't solve all the issues.

In that same method you have used this
[code]
This will not work. So lets try to understand what you might want to achieve her

[2022-03-13 15:02] #15500 closed

[2022-03-13 15:02] #15499 closed

[2022-03-13 15:02] #15497 closed

[2022-03-13 15:02] #15495 closed

[2022-03-13 15:02] #15475 closed

[2022-03-13 15:02] #15471 closed

[2022-03-13 15:34] wpan03 commented on #16059
Just noticed that MobileBert was done. I'll work on BigBirdPegasus for PyTorch instead.

[2022-03-13 15:41] wpan03 commented on #16059
Just noticed that MobileBert was done. I'll work on FNet for PyTorch instead.

[2022-03-13 20:11] johko commented on #16051
I'll do `convnext`.

Also I found that the `hubert` and 'camembert' (which inherits from roberta) models do not seem to have any `input_processing` call, so probably those can be marked as done

[2022-03-13 20:23] lewtun commented on #15640
Hey @tomerip thanks a lot for the detailed explanation and for showing that the suggested change produces identical outputs!

If @patil-suraj agrees, would you like to open a PR to implement this? I can then take care of the ONNX export :)

[2022-03-13 21:52] lavine-lmu opened #16125 "finetuning without trainer seems not data parallel when using deepspeed?"
Hi, I am trying to using deepspeed  to finetune a model, but it seems the data are not parallel during the deepspeed?

I have wrote a toy code to repro, using 100 sentences with a batch_size=4, so the dataloader size is 25 when using one GPU; when I try to using multi-gpus, the dataloader size is still 25, which means we still need to do the loop in 25 times. I mean that, when we are using multipl

[2022-03-13 22:14] Tegzes commented on #16059
Hello, I will work on GPTNeo and SqueezeBERT for Pytorch!

[2022-03-13 22:30] patil-suraj commented on #12775
Hey @Mehrad0711 !

The 12B checkpoints are now available on the hub:

https://huggingface.co/facebook/m2m100-12B-last-ckpt
https://huggingface.co/facebook/m2m100-12B-avg-5-ckpt
https://huggingface.co/facebook/m2m100-12B-avg-10-ckpt

[2022-03-13 22:30] #12775 closed

[2022-03-13 23:04] Tegzes commented on #16059
I will also work on GPTNeo for Pytorch

[2022-03-13 23:59] JulesGM commented on #15559
So I just want to report that I was doing some experiments with COGS https://github.com/najoungkim/COGS and I get under 1% exact match after fine-tuning without `forced_bos_token_id=0` and that I get over 90% with it

[2022-03-14 00:00] JulesGM commented on #15559
I'm using `facebook/bart-base`. seems like the `forced_bos_token_id=0` is a huge deal

[2022-03-14 00:09] salrowili commented on #15559
what is your loss score on both, not EM? I am curious to now

[2022-03-14 00:26] JulesGM commented on #15559
The losses are exactly identical, as the model is trained with the same seed and the same meta parameters. The training loss is the same to more than 5 decimals (as far as WANDB shows)

[2022-03-14 00:27] JulesGM commented on #15559
This might have been a false alarm, let me triple check

[2022-03-14 00:33] JulesGM commented on #15559
Yeah false alarm my bad folks.

[2022-03-14 00:59] Mehrad0711 commented on #12775
Hi @patil-suraj,
Thanks a lot for your work!

[2022-03-14 01:02] salrowili commented on #15559
Yes. That's what I suspected. The fine-tuning process is identical on both but I think your code generates predictions with tokenizer that misses the right actuals which affects EM score. maybe you can look for  model.generate function and print its output for both runs or just print the prediction if your model has something like do_predict.

[2022-03-14 01:07] JulesGM commented on #15559
Actually right now with the same transformers bart for conditional generation instance, AllenAI's beam search gives me near 100% EM and hugging face's gives me very low EM, with a much lower per token accuracy (~65%). Both with num_beams of 4 and max length of 500, trying to figure out the difference...

[2022-03-14 02:26] JulesGM commented on #15559
Ok found the cause of the difference, the huggingface `generate` reads a `no_repeat_ngram_size` of `3` from the `bart` config and the AllenAI decoder does not look at it.

[2022-03-14 02:56] bhavika commented on #16051
I can also do `led` and `lxmert`.

[2022-03-14 03:21] shilida commented on #15959
Thanks! The model_name is  debert-v2-xlarge. And the transformer version is 4.11.3

[2022-03-14 04:49] hyunwoongko commented on #15642
How's this going? I will actively participate in this.

[2022-03-14 05:34] etrigger opened #16130 "Nystromformer Pretrained model with longer sequence length"
The released Nystromformer model only deals with 512 tokens. Will we release some pretrained models with max sequence length such as 1024, 2048 and 4096 mentioned in the paper.

@novice03 @NielsRogge

[2022-03-14 09:14] Narsil commented on #16080
Using `CUDA_LAUNCH_BLOCKING=1` I was able to pintpoint the issue into TypicalLogitsWarper, not `multinomial` (you need to set the flag otherwise cuda can report incorrect issues since all computations are asynchronous).

I have pinpointed tentatively that the issue was with the  `last_ind` variable.

[code]

One tentative fix would be to check if the `last_ind` was the vocab size, and then use som

[2022-03-14 09:24] irenedini commented on #16068
This was probably what happened. I can't check if everything is clean but I launched it again and it worked fine.

[2022-03-14 09:24] #16068 closed

[2022-03-14 09:26] patrickvonplaten commented on #16053
Hey @rbbb,

We've had quite some discussion about what exactly we should save in the `scores` list. Could you maybe take a look at this PR: https://github.com/huggingface/transformers/pull/14654 and all the linked issues to understand why `beam_scores` are implemented the way they are?

As you can see in the PR we don't save the conditional beam scores anymore, but the processed per token probabil

[2022-03-14 09:29] patrickvonplaten commented on #16060
Hey @peterwolf-smarsh,

Pretrained checkpoints do not contain a tokenizer, therefore you **cannot** load a processor from a pretrained checkpoint. E.g.:

[code]

fails if `MODEL_ID` is just a pretrained tokenizer.

You should however be able to load the CTC model correctly. To me it looks like your checkpoint is broken in some way.
Could you maybe try to upload the model checkpoint to the Hub? Oth

[2022-03-14 10:07] padmalcom commented on #9939
Same here

[2022-03-14 10:12] patrickvonplaten commented on #4483
The code is a bit outdated there. You should be able to simply use the https://github.com/huggingface/transformers/tree/master/examples/pytorch/summarization example. In order to create a BERT2GPT2 checkpoint, you could a code that is similar to this one: https://huggingface.co/docs/transformers/v4.17.0/en/model_doc/encoder-decoder#transformers.EncoderDecoderModel.forward

(just replace one BERT b

[2022-03-14 10:37] patrickvonplaten commented on #15512
Hey @pranaydeeps,

Sorry to answer only now. We've sadly deprecated the Benchmarking utilities as there are simply not accurate enough and it's really difficult to keep up with all the possible performance improvements that could be benchmarked (fp16,  bf16, onnx, ...). Could you try to use some other open-sourced benchmarking libraries instead?

[2022-03-14 10:54] patrickvonplaten commented on #15479
Hey @LarsHill,

Thanks a lot for the feedback and I'm very sorry to be so late to answer here.

1. Very good point! It's a tricky thing to solve because:
- We don't want to much model-specific code in `generate()` and this use-case is quite edge-casy, model-specific
- On the other hand, we also don't want silent errors (they are the worst to debug). Your solution makes a lot of sense! The problem

[2022-03-14 11:06] patrickvonplaten commented on #15479
Also cc https://github.com/huggingface/transformers/issues/4483#issuecomment-1066600797

[2022-03-14 11:12] lhoestq commented on #15557
The extraction of all the characters of each text is done completely in memory:

https://github.com/huggingface/transformers/blob/2de99e6c43403d5988ae20cfc0af063797d69c29/examples/pytorch/speech-recognition/run_speech_recognition_ctc.py#L320

Removing `keep_in_memory=True` should fix this

[2022-03-14 11:14] patrickvonplaten opened #16135 "EncoderDecoderModel docs:"
## **First good issue**

There have been quite some issues/questions with how to use the Encoder-Decoder model, e.g.: https://github.com/huggingface/transformers/issues/4483 and https://github.com/huggingface/transformers/issues/15479 . The main reason for this is that the model docs are quite outdated and we could need a nice How-to-guide.

So I think we have two action items here:

1. Improve ht

[2022-03-14 11:14] patrickvonplaten commented on #15479
@LarsHill - would you maybe be interested in tackling this issue by improving the docs a bit: https://github.com/huggingface/transformers/issues/16135 ? :-)

[2022-03-14 11:21] patrickvonplaten opened #16136 "Add warning message if model uses `input_ids` that include padding tokens, but no `attention_mask` is provided."
## **First good issue**

A current error is that a user forwards a batched tensor of `input_ids` that include a padding token, e.g. ```input_ids = torch.tensor([["hello", "this", "is", "a", "long", "string"], ["hello", "<pad>", "<pad>", "<pad>", "<pad>"]]```

In this case, the `attention_mask` should be provided as well. Otherwise the output hidden_states will be incorrectly computed. This is quit

[2022-03-14 11:22] patrickvonplaten commented on #15479
Added some action items following the discussion here:

- 1. https://github.com/huggingface/transformers/issues/16135
- 2. https://github.com/huggingface/transformers/issues/16136

[2022-03-14 11:54] patrickvonplaten commented on #16080
Hey @harubaru,

I don't think it makes sense to set the value to 1.0. You can see here: https://github.com/huggingface/transformers/pull/15504/files#r825865764 that we disregard the typical sampler in this case as it probably has no effect.

Could you try if values < 1.0 work instead?

Also cc @cimeister in case you have more details here :-)

[2022-03-14 12:10] jcmc00 commented on #16059
I'd like to work on Perceiver (torch)

[2022-03-14 12:23] Captainr22 commented on #15398
This error occurs because some columns do not have the same number of examples as the other columns.

[2022-03-14 13:49] Tegzes commented on #16059
I will also work on Pegasus for pytorch

[2022-03-14 14:05] #16101 closed

[2022-03-14 14:16] pepi99 commented on #12691
Same problem.

[2022-03-14 15:00] sgugger commented on #16120
So the issue only appears with Electra, right? Did you encounter it for any other model?

[2022-03-14 15:05] FernandoLpz commented on #15947
Hi, I can translate [pipeline_tutorial.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/pipeline_tutorial.mdx) 🙂

[2022-03-14 15:08] sgugger commented on #15514
That works for me. Suggested in the PR linked above.

[2022-03-14 15:20] Sumsky21 commented on #16120
I've only tried on Bert and Electra so far (and there's no problem during Bert training, as above figure has shown).

If there's a need, I can try the similar script on RobertaforMaskedLM in next few days.

[2022-03-14 15:24] sgugger commented on #16120
That would be helpful if you could!

[2022-03-14 15:47] #15990 closed

[2022-03-14 15:58] Sangohe commented on #15947
Hi, I would like to do the translation for [accelerate.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/accelerate.mdx)

[2022-03-14 16:30] Gerard-170 commented on #15947
Hi, I will work on [model_sharing.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/model_sharing.mdx) :D

[2022-03-14 16:41] osanseviero commented on #15947
Hey all! I updated the initial comment cc'ing the WIP translations. When you create a PR, please make sure to tag this issue by adding #15947 to it.

[2022-03-14 17:15] peterwolf-smarsh commented on #16060
Thank you Patrick for the quick help.  I have uploaded my PT file and checkpoints directory

https://huggingface.co/opus111/issue-16060-pt-file/tree/main

Note that I am able to load the model.  This works
[code]
Perhaps I just don't understand how to load a processor from the results of training

[2022-03-14 17:26] #15514 closed

[2022-03-14 17:28] Tegzes commented on #16051
I would like to work on xlm_roberta

[2022-03-14 17:33] Tegzes commented on #16059
I will work on XLMRoberta for TF

[2022-03-14 17:45] jaketae commented on #15397
PyTorch 1.11 is out! I could maybe get started on this if you haven't already @stas00?

[2022-03-14 17:53] stas00 commented on #15397
go for it, Jaesung!

[2022-03-14 18:04] lilianabs commented on #15947
Hi, I can work on [installation.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/installation.mdx) :D

[2022-03-14 18:09] zycalice commented on #64
Can we just remove the non-first subtokens during feature processing?

[2022-03-14 18:21] yharyarias commented on #15947
Hi, I would like to translate [preprocessing.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/preprocessing.mdx)

[2022-03-14 19:05] jaketae commented on #15397
Upon more investigation, I realized 1.11 didn't ship with hyperbolic tangent GELU. I'll use the nightly instead.

[2022-03-14 19:28] mowafess commented on #16059
I will work on YOSO for PT

[2022-03-14 19:44] novice03 commented on #16130
Hello, the model for larger sequence lengths might be released in a few weeks.

[2022-03-14 21:31] harubaru commented on #16080
Thanks! It works with values less than 1.0, it didn't come to my mind that it would be an invalid value unless it threw an exception, as other ``LogitsWarper`` objects throw an exception if it comes across invalid values such as in the ``TopPLogitsWarper`` object here:
https://github.com/huggingface/transformers/blob/8f3ea7a1e1a85e80210b3d4423b674d9a61016ed/src/transformers/generation_logits_proce

[2022-03-14 22:08] thegregyang opened #16157 "Implement Maximal Update Parametrization (muP)"
# 🚀 Feature request

This request is to open up a discussion on 1) whether it makes sense to implement [Maximal Update Parametrization (abbreviated muP)](http://arxiv.org/abs/2203.03466) in Huggingface, 2) if so, how to do it.

## Motivation

Hi,

I'm a maintainer for the [mup package](https://github.com/microsoft/mup) ([paper](http://arxiv.org/abs/2203.03466)). This repo allows one to implement i

[2022-03-14 22:38] #16036 closed

[2022-03-14 23:07] Duedme commented on #15947
I made this Pull-Request #16158 to translate quicktour.mdx. I would like to work on **autoclass_tutorial.mdx**.

[2022-03-14 23:58] alexvaca0 commented on #16071
Hey @gante thank you very much for your answer :) I didn't know contributions needed to come from a fork! I'll do that then ! thank you ❤️

[2022-03-15 00:01] alexvaca0 opened #16159 "Text2Speech classes"
Hey, it would be very cool if there were classes already developed for carrying out Text2Speech tasks. We do have many classes capable of doing Speech2Text, but for the opposite task there are no transformer classes available, although there are starting to be models in the hub: https://huggingface.co/facebook/tts_transformer-es-css10

It would be great if instead of using fairseq for loading thos

[2022-03-15 00:45] stas00 commented on #16125
Hi @lavine-lmu,

Your query needs to be asked at the https://github.com/microsoft/DeepSpeed side since you're not using the HF/DS integration but writing your own training loop.

Also, you don't need `HfDeepSpeedConfig` unless you use ZeRO-3. That's the only time its functionality is used to tell `from_pretrained` to load the model directly on gpus.

To give you hint, your dataloader is unware of

[2022-03-15 01:36] a7744hsc opened #16160 "`TFBertModel.predict()` and `TFBertModel()` return different results."
## Environment info
- `transformers` version: 4.17.0
- Platform: Linux-5.4.0-99-generic-x86_64-with-glibc2.27
- Python version: 3.9.0
- PyTorch version (GPU?): 1.10.2+cu102 (True)
- Tensorflow version (GPU?): 2.8.0 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-u

[2022-03-15 02:25] infinite-Joy commented on #16051
working on wave2vec2

[2022-03-15 03:47] jbmaxwell opened #16161 "How to resume run_t5_mlm_flax.py script?"
I'm trying to resume training when using the `run_t5_mlm_flax.py` script, but I've noticed that I don't see any checkpoint folders in my `output_dir`—there are a few `events.out.tfevents[...].v2` files, and a `flax_model.msgpack` file. The latter sounds like maybe it's the weights file, but I'm not sure. When I try to run training with `--overwrite_output_dir False` it just seems to start again fr

[2022-03-15 04:17] dxlong2000 commented on #3626
Hi @patrickvonplaten  Patrick,

Thanks for your great work and great comment. I mimic the process of inferencing T5 as below and I got a bug, is it possible that you could help me to advise what has happended?

[code]

I got error, though I alreadly provided ```decoder_input_ids```:

[code]

Thanks!

[2022-03-15 05:05] louisowen6 commented on #16051
I would like to work on `xlm`.

[2022-03-15 05:52] cimeister commented on #16080
@harubaru I agree that it would make sense to include something similar in the `__init__` for the logits warper! Should probably be the exact same as for top_p. I can start a PR later today unless you'd like to take care of that

[2022-03-15 08:10] Eurus-W commented on #4483
Thanks for your guidance! I try this method to create and ft a bert2gpt2 model, but it seems that "tokenizer" would be a problem: I can't load a single suitable tokenizer for this model in the summarization example. So is it necessary for me to defined tokenizer1 for bert and tokenizer2 for gpt2 and then change any code that is related to "tokenizer"  in order to fix this problem? @patrickvonplate

[2022-03-15 09:04] KMFODA commented on #15244
Thanks @stas00 for the response. Sorry for my delayed one. I ended up just stick to a ROUGE score which didn't need these changes in the interest of time. Will try this out next time I'm using zero3 and BertScore and report back her. Thank you!

[2022-03-15 09:16] clefourrier commented on #16059
Hi, I'll take Marian (Pytorch)

[2022-03-15 09:16] lavine-lmu commented on #16125
@stas00 Thanks, problem solved after I use the ```deepspeed``` dataloader.

[2022-03-15 09:17] #16125 closed

[2022-03-15 10:03] rbbb commented on #16053
@patrickvonplaten
Looking at your discussion on the discuss page linked, this is exactly:
"The problem now is that the scores don’t really give any information about the probability of token j at time i which is what most people seem to be interested in."
So this issue is exactly another way of saying "I'd like to have the token probabilities (forward if it's autoregressive) for a given beam", whi

[2022-03-15 10:03] #16053 closed

[2022-03-15 10:17] LysandreJik commented on #16160
Pinging @Rocketknight1 @gante

[2022-03-15 10:23] LysandreJik commented on #16159
Pinging @anton-l for knowledge :)

[2022-03-15 10:24] LysandreJik commented on #16161
Ping @patil-suraj

[2022-03-15 10:28] LysandreJik commented on #16157
Pinging maintainers for knowledge: @patrickvonplaten @sgugger @patil-suraj

[2022-03-15 10:43] patil-suraj commented on #16161
Hi @jbmaxwell !

checkpoint loading and saving is currently not implemented in flax examples.

Yes, you are right.

the script only saves the model weights and not the optimizer states. You can load the saved weights by passing it's path as
`--model_name_or_path` argument.

To save and load the optimizer state

[code]

[2022-03-15 10:47] LysandreJik commented on #15966
Hey! We're happy to review PRs if any of you want to try your hand at contributing!

[2022-03-15 10:53] debjyoti003 commented on #8175
Hi @user06039 did you find a solution for this? Cause I am also facing the same issue.

[2022-03-15 11:01] LysandreJik commented on #16096
Hey @nbqu, `processors` are preprocessing components that are specifically used for complex situations where a feature extractor and a tokenizer are needed for preprocessing. Examples which require them therefore have them, for example see here: https://github.com/huggingface/transformers/blob/5664d2762260ddb9e01f0566ddd43cafd5cdd807/examples/pytorch/speech-recognition/run_speech_recognition_ctc.p

[2022-03-15 11:03] debjyoti003 commented on #4825
I am facing issue while solving for multi-class classification problem.

[2022-03-15 11:05] LysandreJik commented on #16095
Ping @patrickvonplaten

[2022-03-15 11:06] LysandreJik commented on #16025
CI was switched to PyTorch 1.11 on the release date, `pytorch-scatter` was updated with the link you shared above. Thank you, for helping track it!

[2022-03-15 11:06] #16025 closed

[2022-03-15 11:15] akashe commented on #16059
Hi, I will work on RAG(pytorch).

[2022-03-15 11:23] Tegzes commented on #16059
Nevermind, XLMRoberta relies on Roberta (for TF)

[2022-03-15 12:36] gante commented on #16051
As @infinite-Joy noticed on discord, wave2vec2 possibly needs a decorator update. I will be looking into it (and locking it out of this series of changes, for now) 🙏

[2022-03-15 13:49] gante commented on #16071
Awesome, glad I could help! Closing this issue :)

[2022-03-15 13:49] #16071 closed

[2022-03-15 14:19] Rocketknight1 commented on #16160
Hi @a7744hsc, I don't think there's a bug here. When the model is called with `training=True`, certain layers like Dropout are active. This means that `model(encoded_input,training=True)[0]` and `model.call(encoded_input,training=True)[0]` are giving different outputs, but not because they actually call different code - it's because layers like Dropout are randomly dropping out different neurons.

[2022-03-15 14:19] #16160 closed

[2022-03-15 14:26] loretoparisi commented on #9865
I have a similar error here

[code]

Stacktrace:
[code]

@stas00 any idea? I'm using HF master:
[code]

[2022-03-15 14:32] lmvasque commented on #15966
I've partially make it work with my code with the following changes, but more work is needed to actually have a solution in production since it depende in a lot of code.

Adding the inputs to `trainer.py`, from line 2419 (just a summary):
[code]

Then to file `trainer_utils.py`, from line 67:

[code]

And more work has to be done in the compute function from the `trainer.py` class. For now, I'm us

[2022-03-15 15:00] patil-suraj commented on #9865
@loretoparisi

This is because T5Config now has `relative_attention_max_distance` attribute introduced in the #16155 which was missing from `MT5Config`.  Fix is here #16170

[2022-03-15 15:05] GigaMoksh commented on #16059
Hey, I would like to work on the BigBirdPegasus model of Pytorch.

[2022-03-15 15:06] #16161 closed

[2022-03-15 16:07] pratyushsingh97 commented on #16059
Happy to take CTRL and MPNet. Let me know if someone already has these!

[2022-03-15 16:27] reichenbch commented on #16051
If mt5 is up for grabs, I am in !

[2022-03-15 16:30] elusenji commented on #16059
I'm working on MobileBert for both TensorFlow & PyTorch.

[2022-03-15 18:37] silvererudite commented on #16135
Hi...I would love to contribute to this.

[2022-03-15 18:45] zphang commented on #15642
Hi,

I have a version of the 20B model with TP=1 written up here: https://github.com/zphang/minimal-gpt-neox-20b/blob/main/minimal20b/model.py

It uses the checkpoint merging script from https://github.com/EleutherAI/gpt-neox/pull/466. As mentioned in the PR and Sid above, there seems to be a slight performance regression from merging TP=2 to TP=1 weights, due to some small differences between the

[2022-03-15 18:56] zphang commented on #15642
Sorry! Should be public now

[2022-03-15 19:25] TristanBilot commented on #16059
Hi @DPT4, it has already been done here: https://github.com/huggingface/transformers/pull/16156

[2022-03-15 19:28] DPT4 commented on #16059
Hi @TristanBilot thanks for informing me. Then, I'd like to take MegatronBert for PyTorch.

[2022-03-15 19:35] utkusaglm commented on #16051
working on funnel

[2022-03-15 19:54] #15819 closed

[2022-03-15 21:48] neelrast commented on #16059
This is Awesome! Hey, @Rocketknight1 I'd like to work on ConvBERT for both PyTorch & TF 🤗

[2022-03-16 00:29] jcmc00 commented on #16059
I'd like to work on TransfoXL if still available

[2022-03-16 02:06] a7744hsc commented on #16160
@Rocketknight1  Thanks a lot for your detailed explanation, it's quite clear for me.
Wish you have a good day.

by the way, the sequence for `predict` should be `model.predict([encoded_input["input_ids"],encoded_input["attention_mask"],encoded_input["token_type_ids"]])`

[2022-03-16 03:41] lishengfever commented on #16114
I think your code is right.

[2022-03-16 05:35] DPT4 commented on #16059
I'll take Data2Vec for PyTorch looks like seems available.

[2022-03-16 05:46] minimaxir opened #16185 "CLIPVisionModel errors on trying to load openai/clip-vit-base-patch16"
`CLIPVisionModel` errors on trying to load [openai/clip-vit-base-patch16](https://huggingface.co/openai/clip-vit-base-patch16), which was added to HF (using `CLIPModel` for loading `patch16` as the documentation example for that repo works without error)

It appears that the model is architected as the `patch32` config, as the "current model" shape correspond to that config.

[code]

## Environmen

[2022-03-16 06:57] fdalvi opened #16186 "Truncation when tokenizer does not have `max_length` defined"
Hello,

I'm currently writing some code using transformers, and have something similar to:

[code]

The issue I am facing is when sentence has > 512 tokens (wordpieces actually) for certain models. The above code works fine for `bert-base-multilingual-cased`, but fails for `qarib/bert-base-qarib`, because the tokenizer in the latter case does not define a max length:

[code]

So the model itself i

[2022-03-16 09:50] AQA6666 commented on #15399
Is there any example for DeepSpeed ZeRO Train?
I have write an T5 Pretrain experiment demo followed this issue.
but some error occured :https://github.com/microsoft/DeepSpeed/issues/1837
Could anyone help me fix it or give an example?

[2022-03-16 10:53] utkusaglm commented on #16051
working on auto

[2022-03-16 11:18] aflah02 commented on #16114
@lishengfever yeah i feel so too and it works but the pull request got clouded after running make style so I'm waiting for a response for that

[2022-03-16 11:29] gauravlochab opened #16191 "layoutlmv2 visual backbone pretrained on publaynet"
@NielsRogge Amazing work thanks for sharing,
Does layoutlmv2's visual backbone utilize ResNeXt-FPN trained on Publaynet as described in the paper? If so, could you please point out where the weights are used to initialize the model in the repo?

[2022-03-16 12:09] NielsRogge commented on #16191
Hi,

The LayoutLMv2 authors indeed leveraged a ResNeXT-FPN for the visual backbone. It was taken from this repo: https://github.com/hpanwar08/detectron2.

However, we've just added the [Document Image Transformer (DiT)](https://huggingface.co/docs/transformers/master/en/model_doc/dit), which actually outperforms the ResNeXT model on PubLayNet with the same object detection framework (Mask R-CNN),

[2022-03-16 12:19] nakajo2011 commented on #15935
I have same problem.
When Run with 1 GPU or no GPU environment, That option works fine. but with multi GPU it not works.

[2022-03-16 12:42] joostgrunwald commented on #14539
This implementation of Adamw, Although slower seems to give me better performance than the pytorch one in terms of acc and F1. I'm not sure if I'm the only one with this result but if this is the case for multiple persons, deprecating it could be a shame.

[2022-03-16 12:42] NielsRogge commented on #16191
I don't think Microsoft open-sourced this weights initialization. This was probably part of their pre-training code (which is not open-sourced).

Weights can be found here: https://github.com/hpanwar08/detectron2#benchmarking

[2022-03-16 12:54] nbroad1881 commented on #16186
Try this
`tokenizer(sentence, truncation=True, max_length=512)`

`model.config.max_position_embeddings` is the right way to see the max sequence length

[2022-03-16 12:55] gauravlochab commented on #16191
then how does the visual backbone extracts features from the image? I can see the model config for detectron2 but I can't figure out what weights it is getting initialized with?

[2022-03-16 13:13] patil-suraj commented on #16185
Thank you for reporting this! Looking into it.

[2022-03-16 13:22] utkusaglm commented on #16051
working on blenderbot_small

[2022-03-16 13:24] marcvanzee commented on #15766
Hi, sorry for the late reply on this!

For the single-host case, initializing parameters simply comes down to pjitting the init function with a PartitioningSpec, there is nothing special about it. Since Flax Modules have a functional API, calling `init` just returns the parameters (we don't have a `model.params`), so I think the problems you are running into in this issue do not apply in our examp

[2022-03-16 13:26] johko commented on #16051
I'll do `marian` next

[2022-03-16 13:36] jinfagang opened #16195 "Gpt2 large for onnx exportation and int8 quantization"
Hi, for model big as 7GB, does transformers support export to onnx?? Any tutorial about big model?

[2022-03-16 13:41] patil-suraj commented on #16185
Found the issue, `CLIPVisionConfig` does not correctly copy the vision arguments from the `CLIPConfig`. It uses the default values., which are defined for the patch32 model.

A quick fix to get this working for now is to load `CLIPConfig`, retrieve the `vision_config` from it and pass it to `from_pretrained`

[code]

[2022-03-16 15:02] patil-suraj commented on #15766
Thanks for the answer @marcvanzee !

Yes, the example posted above is single-host. But we also want to enable this for multi-host. If I'm not wrong pjiting
`init` should also work on multi-host, no ?

[2022-03-16 15:07] #15532 closed

[2022-03-16 15:07] #15528 closed

[2022-03-16 15:07] #15330 closed

[2022-03-16 15:07] #15216 closed

[2022-03-16 15:07] #15115 closed

[2022-03-16 15:24] #16185 closed

[2022-03-16 16:20] stas00 commented on #14539
The key to understand is that it's not implementing AdamW, but a slightly different algorithm.

Users expect exact algorithm implementation and if it's not exact it should be named differently.

Perhaps AdamWHF?

[2022-03-16 16:22] #16022 closed

[2022-03-16 16:29] akashindani opened #16205 "Clinical longformer - IndexError: index out of range in self"
**Description:**
While using clinical Longformer (AutoModelForSequenceClassification.from_pretrained("yikuan8/Clinical-Longformer", num_labels=3)) and its tokenizer (AutoTokenizer.from_pretrained("yikuan8/Clinical-Longformer")), I am running into the "IndexError: index out of range in self" error.

**Source code:**
import torch
from torch.utils.data import Dataset, TensorDataset, DataLoader
from t

[2022-03-16 16:32] stas00 commented on #15399
If you're not using the integration, then please head to https://github.com/microsoft/DeepSpeed where they have lots of examples, most of which are at https://github.com/microsoft/DeepSpeedExamples

I also wrote a full ZeRO inference example here, which may or may not be of help as you want to finetune it seems:
https://huggingface.co/docs/transformers/master/main_classes/deepspeed#custom-deepspee

[2022-03-16 19:01] ohmeow commented on #14305
This is still an issue with roberta-large ...

[code]

[2022-03-16 19:37] 41241241241 opened #16210 "Using pooler/hidden states output of an AutoModel vs. XForSequenceClassification for training another classifier?"
I have a finetuned RobertaForSequenceClassification model that I have already trained and saved to disk. I now want to load it, and instead of using it for classification tasks, extract the embeddings it generates and outputs, or "pooled/pooler output". From my understanding, I can load the model using X.fromPretrained() with "output_hidden_states=True". If I load the model using:

`model = AutoMo

[2022-03-16 20:36] TimbusCalin opened #16211 "SegFormer Quantized Model (Int8) not loading weights properly."
## Environment info

- `transformers` version: 4.16.2
- Platform: Windows 11/Ubuntu 20.04
- Python version: 3.7
- PyTorch version (GPU?): 1.10.2+cu113
- Tensorflow version (GPU?): -
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?:  No

### Who can help

Models:

@NielsRogge.

Library:

- Vision: @NielsRogge, @sgugger

Model I am using (SegFormer):

The problem arises

[2022-03-16 20:40] TimbusCalin commented on #16211
Quantized :
![quantized](https://user-images.githubusercontent.com/23454613/158686845-804e594a-b874-43d1-a52c-d8b3f87f4d11.png)

[2022-03-16 20:41] TimbusCalin commented on #16211
Initial model:
![normal](https://user-images.githubusercontent.com/23454613/158686978-01e29eae-8efd-4b71-897a-6802c7a773e7.png)

[2022-03-16 22:28] IreneZihuiLi commented on #97
This actually solved my issue...

[2022-03-16 23:59] vr25 opened #16213 "ValueError: HFArgumentParser on running run_glue.py"
Hi,

I get the following error with HFArgumentParser on running run_glue.py. Any help would be appreciated. Thanks!

## Environment info

- `transformers` version: 4.16.2
- Platform: CentOS
- Python version: 3.9
- PyTorch version (GPU?): 1.10
- Tensorflow version (GPU?): 2.4.1
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help

## Information

Model

[2022-03-17 02:21] mowafess commented on #16059
I will work on XLMProphetNet for PT

[2022-03-17 02:27] mowafess commented on #16059
I will work on XGLM for PT

[2022-03-17 05:28] GeneZC opened #16216 "Question about `query_length` in modeling_t5.py"
https://github.com/huggingface/transformers/blob/0a057201a96565df29984d716f660fd8d634329a/src/transformers/models/t5/modeling_t5.py#L464

If the `past_key_value` is not None, the `query_length` induced from `SelfAttention` can be the length of `past_key_value` + `hidden_states`, which is actually wrong.

Luckily, this problematic behavior would not affect the `EncDecAttetion` since the `position_b

[2022-03-17 05:35] AQA6666 commented on #15399
Thanks for your reply!  To be honest, I think there should be examples for deepspeed model training with transformers but no trainer. Because trainer is not flexible enough for academic innovation (some research partners also explained about it), and using transformers with no trainer integration is different with general deepspeed (for example ,dschf and deepspeed.initialize in transformers' doc

[2022-03-17 06:18] stas00 commented on #15399
Please let me try to give you a map and perhaps you will have a different view of the primitive documentation.

1. The only time you need [HfDeepSpeedConfig](https://huggingface.co/docs/transformers/master/main_classes/deepspeed#transformers.deepspeed.HfDeepSpeedConfig) is when you're using zero 3 and you want to preload the models during `from_pretrained` directly to gpus. Period. I will update t

[2022-03-17 07:33] Jourdelune commented on #15060
Thanks to all those who work for the support of onnx! [jbesomi](https://github.com/jbesomi) I would love to be able to read the blog post which I think would be very useful for many people.

[2022-03-17 07:54] lewtun commented on #15060
Yes @jbesomi we would be very happy to host your blog post on https://huggingface.co/blog 😍 ! I also agree that text generation with ONNX models is a popular topic that would get a lot of traction in the community

[2022-03-17 07:58] gauravlochab commented on #16191
I want to override the weights for the model but when I pass the weight's path in the visual backbone class the model is not picking up the weights but the MODEL.WEIGHTS is showing the model path string

[2022-03-17 08:13] juliensimon commented on #15514
Great, thanks!

[2022-03-17 08:36] AQA6666 commented on #15399
I have basically understood.  Thanks for your reply!

[2022-03-17 08:49] qiuhaolu commented on #13956
I met the same error.

[2022-03-17 08:58] NielsRogge commented on #16211
Hi,

Cool to see you're interested in quantizing one of the models I've implemented!

I feel like this could be interesting to support model quantization of vision models, cc @lewtun. We recently added ONNX support for the Vision Transformer (ViT), but things like dynamic post-training quantization are very interesting as well.

To be honest I'm not an expert on that topic, hopefully @lewtun can b

[2022-03-17 09:54] SaulLu commented on #14305
@ohmeow, I just tested the code snippet bellow with `tokenizers==0.11.6` and `transformers==4.17.0`

[code]

and the result looks good to me:
[code]
Do you agree?

To understand why my output is different from yours, can you run the command `transformers-cli env` and copy-and-paste its output ? :blush: Also, I would be super helpful if you can share your entire code - in particular how you initial

[2022-03-17 11:02] CallumMcMahon opened #16221 "token classification pipeline does not use attention mask, affects predictions"
## Environment info

- `transformers` version: 4.17.0
- Platform: Mac
- Python version: 3.7.10
- PyTorch version (GPU?): 1.8.1 no GPU
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help
@Narsil

## Information

Model I am using: Bert for token classification

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [X]

[2022-03-17 12:05] Narsil commented on #16221
Hi @CallumMcMahon ,

Thanks you very much for reporting this.

It is indeed the case that somehow `return_attention_mask` is deliberately set to `False`. I tried to look back in history why it was there but I couldn't find a very good reason, so I removed it in the fix PR.

[2022-03-17 12:08] dkajtoch opened #16225 "Truncation Error is inconsistent between fast and standard (non-fast) tokenizers"
## Environment info
- `transformers` version: 4.17.0
- Platform: Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic
- Python version: 3.7.12
- PyTorch version (GPU?): 1.10.0+cu111 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: NO
- Using distributed or parallel s

[2022-03-17 12:30] pepi99 commented on #12691
Any solution?

[2022-03-17 15:01] #15062 closed

[2022-03-17 16:46] HongkuanZhang opened #16232 "A question about the cross-attention layer shape in encoder-decoder model"
I am trying to intialize a bert2bert model with bert-base-uncased as encoder and bert-large-uncased as decoder with the following codes:
[code]
When I print the parameter shape of random intialized cross-attention layer, the results are:
[code]
For the cross attention part, I think the shape for query and key should be (768,1024) instead of (1024,1024), since it converts the bert-base output dim (

[2022-03-17 17:01] patrickvonplaten commented on #16136
Hmm, think we can be pretty confident that `self.config.pad_token_id` inside the model is the correct padding token. Agree that performance would suffer here a bit. Think putting it in the Trouble shooting guide is a good idea cc @stevhliu

[2022-03-17 17:03] rafikg opened #16233 "How to pass args of generate() method via batch_decode"
I want to specify the generate params in the line below:

[code]
https://github.com/huggingface/transformers/blob/93d3fd86459eb27bc584da29a3d542817a395bca/examples/pytorch/summarization/run_summarization.py#L662

I specified the args as following. I did not get any error, but it is still getting one sequence instead of 3 as expected.
[code]

[2022-03-17 17:06] patrickvonplaten commented on #16060
In order to load a processor, you need both tokenizer files and feature extractor files. They seem to be missing in your repo at the moment. If you compare this to [this repo](https://huggingface.co/facebook/wav2vec2-base-960h/tree/main) you see that there are all the files necessary for the tokenizer and feature extractor

[2022-03-17 17:16] patrickvonplaten opened #16234 "Loading from AutoModel gives ValueError: You have to specify either decoder_input_ids or decoder_inputs_embeds"
Executing the following code snippet states that ValueError: You have to specify either decoder_input_ids or decoder_inputs_embeds.

[code]

yields this error:

[code]

[2022-03-17 17:18] patrickvonplaten commented on #16234
The problem here is that `AutoModel` does not load the full T5 model wiht a language head. One should use `AutoModelForSeq2SeqLM` inseatd:

[code]

This should work just fine @dxlong2000

[2022-03-17 17:18] #16234 closed

[2022-03-17 17:18] patrickvonplaten commented on #3626
Hey @dxlong2000,

I'll open a new issue for this to make it more visible as I think this error happens quite often. See: https://github.com/huggingface/transformers/issues/16234

[2022-03-17 17:27] patrickvonplaten commented on #16095
Good question @cloudygoose!

The reason is simply due to the fact that a beam might finish in an EOS in which case the beam search would not be able to continue anymore.

E.g. think about the following scenario where we have num_beams=3

1. step

1. ["hello"]
2. ["hey"]
3. ["hi"]

The best three beams from this are;

1. ["hello", "my"]
2. ["hello", "are"]
3. ["hi", "there"]

Now in the next step t

[2022-03-17 17:27] #16095 closed

[2022-03-17 17:52] KMFODA opened #16235 "Enable the use of private models in example scripts using use_auth_token"
# 🚀 Feature request

Currently private models can be used with the examples scripts by setting the `use_auth_token argument` as `True` however this doesn't seem to be an option for private datasets.

## Motivation

Enabling the use of private datasets using the example scripts

## Your contribution

I'm happy to work on a PR to add this to all example scripts if this is indeed the case and I haven

[2022-03-17 17:54] stas00 commented on #13548
So the BigScience 176B model is training and the bf16 checkpoint is 329GB.

So please let's resume this discussion and bring it to completion soon as we need to start working on converting the checkpoints since the group desires to already start doing inference on an even incompletely trained model.

While at it let's also incorporate the discussion of `torch.load` due to the `pickle` security iss

[2022-03-17 17:55] patrickvonplaten commented on #16157
This is only really relevant for pretraining I assume no? I wonder whether it might make more sense to add this directly to `accelerate` ? cc @sgugger ?

[2022-03-17 17:55] julien-c commented on #13548
(also @Narsil)

[2022-03-17 18:05] patrickvonplaten commented on #15608
Sorry to answer so late here.
Yes the following checkpoints:

- https://huggingface.co/t5-small
- https://huggingface.co/t5-base
- https://huggingface.co/t5-large
- https://huggingface.co/t5-3b
- https://huggingface.co/t5-11b

have **not** only been pretrained on C4, but if I recall correctly on all datasests of the downstream tasks as described in the section `2.3 Downstream Tasks` of the paper:

[2022-03-17 18:06] patrickvonplaten commented on #4483
It's fine to load two tokenizers no?

[2022-03-17 18:11] stevhliu commented on #16136
Yay more content for the troubleshooting guide! I'll work on a PR for this 👍

[2022-03-17 18:14] stas00 commented on #13548
Here is the breakdown of the 176B model's layers in BF16 weights:

[code]

So basically, save each layer separately to the tune of 4.59GB - 70 of those, one additional checkpoint with the rest of the weights of 6.75GB.

A total of 71 shards.

[2022-03-17 18:16] patrickvonplaten commented on #16135
Awesome! Would you like to open a PR and give it a try? :-) I think it would be great if we could put some example code on how to create an EncoderDecoderModel on this model doc: https://github.com/huggingface/transformers/blob/master/docs/source/model_doc/encoder-decoder.mdx which will then be displayed here: https://huggingface.co/docs/transformers/v4.17.0/en/model_doc/encoder-decoder#encoder-de

[2022-03-17 18:24] stas00 commented on #13548
While working out the design it's good to look at the concrete model, but also to consider smaller and bigger models, as those surely are coming. That is to validate that one file per layer is a good solution, if you scroll back up to the beginning of this discussion this was my original proposal.

[2022-03-17 18:27] sgugger commented on #13548
I'm okay with a system that will group weights until we get to the max < 5GB (or any number) then creates a new shard automatically for the next weights. Saving each layer separately has several drawbacks:
- you can't decide to do it automatically, as for smaller models it doesn't necessarily make sense
- it will result in multiple calls to fetch every file (even when they are downloaded, we will

[2022-03-17 18:43] stas00 commented on #13548
The problem of "has-it-changed" can be solved by saving an additional file which is the index to all other files, which could also provide a map of how to load the rest of the files. Since your proposal of `pytorch_model_xxx.bin` is somewhat difficult since there is no indication of what's inside `pytorch_model_xxx.bin`

If there is just one index file to check, the hub functionality can check if

[2022-03-17 18:45] stas00 commented on #13548
The problem of how to slice can be solved by threshold setting at which the model starts sharding - probably 5GB is a good choice, since downloading more than 5GB can be an issue for those w/o bad connectivity.

And of course the math would be different for a model with bf16/fp16 weights vs fp32 weights as the latter will use 2x bytes.

So as long as the model is smaller than 5GB, it will remain a

[2022-03-17 18:57] sgugger commented on #13548
The idea of an index that provides a map is very good, I like it!

[2022-03-17 19:06] stas00 commented on #13548
Should the threshold be configurable by the user with the default set to what we prefer for the hub?

I'm asking since there will be users who will not use the hub and will perhaps want a 100GB model file.

While we are at it, does the hub uploader check that the file is not bigger than 20GB before attempting the upload?

[2022-03-17 19:25] johko commented on #16051
`auto` does not seem to have any `input_processing` methods. I'll take `ctrl` and don't know if any models after that are left (I could not find any)

[2022-03-17 19:34] craffel commented on #15608
Hey, yes, it's the datasets listed in 2.3. Note that we also train on DPR (which is not a dataset we evaluate on) and we don't train on WNLI (though we do evaluate on it).

[2022-03-17 19:34] cloudygoose commented on #16095
thanks for the reply, could you explain more about where the beam with EOS is saved? I did not find the place where "finished beams" is saved in the code...

[2022-03-17 20:31] paffell commented on #15358
Downgrading helped. Thank you

[2022-03-17 20:39] #15663 closed

[2022-03-17 21:34] SimplyJuanjo commented on #15947
I new in the community but I'll like to translate [multilingual.mdx](https://github.com/huggingface/transformers/blob/master/docs/source/multilingual.mdx)
I'm finishing my Udacity Deep Learning Nanodegree this week, therefore I can do the translation next monday if that's okey.

[2022-03-18 02:14] JingxinLee commented on #15610
Thanks a lot.

[2022-03-18 02:18] Eurus-W commented on #4483
Yeah，I use 2 tokenizers to replace "tokenizer" in run_summarization.py and also do some other changes, the code can work now(although I don't know whether it is right....). Here are my changes.

1.  change the resize_token_embeddings method`#model.resize_token_embeddings(len(tokenizer))`
    `model.encoder.resize_token_embeddings(len(tokenizer1))`
    `model.decoder.resize_token_embeddings(len(tok

[2022-03-18 03:14] TXacs opened #16245 "Load local dataset error"
When i used the datasets==1.11.0， it's all right. Util update the  latest version, it get the error like this:

[code]

I need some help to solve the problem, thanks!

[2022-03-18 03:28] #16245 closed

[2022-03-18 04:20] edchengg commented on #12775
Hi @patil-suraj  @Mehrad0711 ,
to run m2m100-12B model, do I need to have 4 GPUS with 16 GB mem+?
or I can use it on 1 GPU?

[2022-03-18 04:38] #16232 closed

[2022-03-18 08:01] louisowen6 commented on #16051
Created PR for `XLM` https://github.com/huggingface/transformers/pull/16247

[2022-03-18 08:01] LysandreJik commented on #13548
Adding my two cents:
- I agree that threshold should be configurable. We implemented a similar threshold in the `datasets`' `push_to_hub` [method](https://github.com/huggingface/datasets/pull/3098/files#diff-247ce37d2f96c4fc8e77ce55dc9922675a5f7f561f8df0cbc563d13048c59abdR3319) and it should provide the most flexibility. Having 5GB as a default also sounds good to me.
- I don't think the hub check

[2022-03-18 08:14] ndenStanford opened #16248 "NER at the Inference Time"
Apology in advance if this question might have already been asked. However, I have not been able to find a convincing answer or the optimum way to deal with this issue.

To my understanding, NER makes a prediction at a token level. Since BERT is using a sub-word tokenizer, it is entirely possible that some part of the word won't get labeled or we have a different label within the same word. Both o

[2022-03-18 08:16] Narsil commented on #13548
And my 2 cents.

Can the config actually hold the location of its various weight files (relative to the repo) in something like `config.weight_files` which could default to `["pytorch_model.bin"]` and `["tf_model.h5"]` depending on the Arch.. ?

I think the config has to be downloaded for any model download so it could become the index itself no ? And users can choose whichever splitting they seem

[2022-03-18 08:28] qqaatw commented on #16233
Currently the seq2seq trainer doesn't support `num_return_sequence` argument for generation.

You might need to tweak it here:
https://github.com/huggingface/transformers/blob/v4.17.0/src/transformers/trainer_seq2seq.py#L158-L162

[2022-03-18 09:02] #16221 closed

[2022-03-18 10:34] julien-c commented on #13548
(nit) `pytorch_model.bin.index` is a better filename than `pytorch_model_index.bin` in my opinion (this scheme could also apply to other files and will be very easy to check on the hub side)

[2022-03-18 10:49] TheHonestBob opened #16249 "is this a bug in TFTrainer.get_train_tfdataset?"
my environment below:
transformers==4.0.0
tensorflow-gpu==2.3.0
python==3.7
when I use TFTrainer(model, train_dataset, val_dataset), wether my dataset is tf.data.Dataset.from_generator or tf.data.TFRecordDataset, their dataset.cardinality() always -2, so in TFTrainer.get_train_tfdataset() func,
self.num_train_examples = self.train_dataset.cardinality().numpy()
if self.num_train_examples < 0:

[2022-03-18 11:57] gante commented on #16067
Hey @Smile-L-up 👋

I am unable to reproduce your code, as it relies on local files (`cpktFileName `).

However, from your description, I have yet to understand the problem, which makes helping difficult :) Are you:
1. Trying to convert the weights from a checkpoint that you created, and they do not load properly into `TFBertForMaskedLM `?
2. Converting weights from an existing checkpoint on TF Hub

[2022-03-18 12:26] johnnv1 opened #16251 "ViT-mae missing parameter at comments of `copied from`"
### Who can help
@NielsRogge

## Information
As describe in #16151

When i was type annotating the ViT model, i get some problem when running `make fix-copies` for vit-mae. When i annotated the cofig parameter at ViT, and run  `make fix-copies` the script fix at deit model (update the type annotation to Deit config), but at vit-mae he just copied the type annotation of ViT config.

This seems to b

[2022-03-18 12:30] #14648 closed

[2022-03-18 12:41] allanj commented on #14542
Same here. I just commented that line which saves the optimizer

[2022-03-18 13:01] ashutoshsaboo opened #16252 "Weird PanicException when trying to save tokenizer using `tokenizer.save_pretrained`"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux-4.14.252-131.483.amzn1.x86_64-x86_64-with-glibc2.9
- Python version: 3.6.13
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or p

[2022-03-18 13:07] sgugger commented on #16252
It looks like your issues comes from a problem with the fast tokenizer. A simple reproducer is:
[code]

[2022-03-18 13:11] ydshieh commented on #14648
@parambharat

This issue is finally fixed in  #15940.

[2022-03-18 13:11] ashutoshsaboo commented on #16252
Ohh, what should I do in that case - should i use the slow one? More specifically, why is the fast tokenizer failing only with this model and not others - not sure if it could be something model specific? @sgugger

[2022-03-18 13:13] sgugger commented on #16252
It's probably linked to this specific architecture. Using the slow tokenizer is a workaround, I've pinged @Narsil in private to look at the fast tokenizer :-)

[2022-03-18 13:14] rafikg commented on #16233
Thanks @qqaatw. Because batch_decode cotains **kwargs, I thought maybe I can pass them through it but it seems that is not implemented. So, in this case `Generate()` will use default values

[2022-03-18 13:22] ashutoshsaboo commented on #16252
Thanks look forward to the findings, this issue has been causing me some trouble off late :(. I can't recollect the exact model name now, but I remember briefly seeing this same error for some other models too earlier. I initially thought it might have been some transient error, but looks like clearly it is not as it's been reproduced multiple times off late for me. @sgugger

[2022-03-18 13:55] qqaatw commented on #16233
`batch_decode` isn't responsible for generation by design, it only converts ids to tokens and does some normalizations. So passing generation-related arguments for it won't work.

[2022-03-18 14:05] #16233 closed

[2022-03-18 14:20] JeroendenBoef commented on #15871
Thanks for jumping in with the tip @HaukurPall! Did this approach allow you to not only export the mBART model to ONNX but also run it (with increased speed) on CUDA/TensorRT execution providers? Moreover, I assume you made a custom version of `convert.py`. where you overrode the `torch.onnx.export()` call with the snippet you posted above, is this correct? Thanks in advance!

[2022-03-18 14:34] levskaya commented on #15766
`pjit` is meant to work for both single- and multi-host settings, with the latter using the newer GDA abstraction should help automate some tedious multihost details when later dealing w. checkpointing, etc.

[2022-03-18 14:49] yhl48 commented on #16059
I would like to work on MT5 (PyTorch)

[2022-03-18 15:06] #15538 closed

[2022-03-18 15:23] patil-suraj commented on #16248
Hey @ndenStanford !
Thanks for the issue but I think the [forum](https://discuss.huggingface.co/) would be the best place to ask such general questions. We use issues to report bugs and for feature request.

[2022-03-18 15:35] stas00 commented on #13548
absolutely by layer, and not bytes, which makes it possible to load parts of the model directly on different gpus. e.g. think Pipeline which will load file 0+1 on gpu 0, file 2+3 on gpu 1, etc.

[2022-03-18 15:41] patrickvonplaten commented on #15766
Thanks a lot for the feedback guys! Think we're going in the right direction then by fully seperating the `params` from the model architecture by doing `_do_init=False`. By setting this flag to False, we'll not allow to set `model.params` at all, so one can be sure that `params` are fully separated from the model architecture. I think this is very natural when initializing a model from scratch, e.

[2022-03-18 15:48] marcvanzee commented on #15766
I think the proposed API fits the JAX philosophy nicely, we've experienced that maintaining a state will eventually bite you, so it seems like a good decision to choose this functional API.

It is somewhat unfortunate though you had to make an exception in your API, hopefully it will not be too confusing for your users.

@cgarciae

[2022-03-18 15:53] Arij-Aladel commented on #15734
@patrickvonplaten @patil-suraj @sgugger @stas00
It is easy to reproduce the results using the repo all steps are listed to reproduce the results. Just I want to know the reason that weights in causal self attention in decoder is not masked properly.

[2022-03-18 16:05] #16080 closed

[2022-03-18 16:06] patrickvonplaten commented on #15608
Thanks @craffel - documenting this on the model cards :-)

[2022-03-18 16:15] DanieleBarreca opened #16256 "Cannot replicate the scores from the pipeline"
I am trying to build a custom function that replicates the transfomers' pipeline in order to optimize runtimes for the roberta model, like in [this section of the documentation](https://huggingface.co/joeddav/xlm-roberta-large-xnli#with-manual-pytorch).
The blueprint to write my custom function is the  [ZeroShotClassificationPipeline](https://github.com/huggingface/transformers/blob/v4.17.0/src/tr

[2022-03-18 16:42] pietrolesci commented on #15608
Thank you very much @patrickvonplaten and @craffel for acting on this issue. Super appreciated!

[2022-03-18 16:56] Narsil commented on #13548
Why do you need that ? If the files are in a nice format, looking up their weights names should be extremely fast (and never load the tensors). The main issue I see with an external index containing weight_names is the potential for it being outdated/inconsistent with what's actually within the other files. Recovering from the inconsistent state is going to add more code logic.

If we keep the ind

[2022-03-18 17:09] stas00 commented on #13548
The index files is needed for the following reasons:

1. only one file to look up for is-modified check - to see if the model needs to be re-downloaded - I don't see any reason why the code that generates the index file should lead to out of sync situation. It can also include md5 checksums to able to always verify that the files are in sync.
2. in the case of pipeline parallelism it allows one to

[2022-03-18 17:12] Narsil commented on #16252
Hi @ashutoshsaboo ,

The fix for the fast tokenizers is here: https://github.com/huggingface/tokenizers/pull/954

The main issue, is that those tokenizers actually contain duplicate tokens. Saving the using the `slow` tokenizer will trigger a bunch of warnings. `tokenizers` will follow the same path.

Please keep in mind that this means that this models underuse its capacity (I counted 1008 tokens

[2022-03-18 17:24] patrickvonplaten commented on #15608
Updated all of them

[2022-03-18 17:45] NielsRogge commented on #16251
Hey,

Yeah you add the with ViT->ViTMAE if you need to.

[2022-03-18 17:49] ashutoshsaboo commented on #16252
Woah that was quick to get the fix out, thanks so much first of all! What do you mean by "tokens are purely ignored"? Aren't tokens dependent on vocabulary end of the day with some special extra specific tokens like SEP, PAD, CLS etc, or did I infer it wrong? @Narsil

[2022-03-18 18:11] Narsil commented on #13548
You cannot protect from users doing things without you expecting it, like uploading single files instead of using the API we designed and therefore breaking consistency. My experience with any system, is that if it CAN be out of sync, it will end up out of sync. And recovering is usually much harder than preventing it altogether.

This means that the files look coherent, it doesn't mean that weigh

[2022-03-18 18:47] Tegzes commented on #16059
I will work on ProphetNet, UniSpeech and UnispeechSat

[2022-03-18 19:04] chaojiang06 commented on #15398
Hi, that happens because tokenizer will return multiple instances if question+context > max_seq_length. Commenting out return_overflowing_tokens and related lines will help to solve this problem.

[code]

[2022-03-18 19:23] rafikg opened #16262 "Do you fine-tunde both encoder and decoder"
Hi @kashif

https://github.com/huggingface/transformers/blob/277fc2cc782d8c5c28ec399b1ee2fc1c6aed7b6e/examples/pytorch/summarization/run_summarization.py#L500
I am not sure why the  `input_models` does not take  `decoder_attention_mask` into account ?

[2022-03-18 19:41] #16251 closed

[2022-03-18 20:16] rafikg commented on #16262
@ydshieh I update the question

[2022-03-18 20:18] ninjalu commented on #12593
@Narsil Could you advise if there is a model on HuggingFace hub that is "word-aware"? I am not sure if I understand it properly, but in my mind, none of the BERT models are actually "word-aware".

I struggled with this problem earlier last year, and did a lot of search online without a solution. I ended up with an ugly patch downstream to absorb this problem. So thanks for making some improvements

[2022-03-18 22:09] anas-awadalla commented on #15398
Sure this works as in it gets the code to run but then the evaluation results might be lower than the true performance of the model because you may be cutting out parts of the context that do contain the answer and some samples may become unanswerable.

[2022-03-18 23:42] omarespejel commented on #15947
Thanks, @SimplyJuanjo! Welcome to the HF community and congrats on the Nanodegree 🤗. Sure, next week is perfect!

[2022-03-19 06:31] Smile-L-up commented on #16067
Thank you for your reply. I have realized the conversion of CKPT of Bert base Chinese into H5. However, I encountered another problem. Due to the needs of the project, the H5 file is required. I didn't seem to find the H5 file of Albert base Chinese model. I felt that it would take a lot of time to convert the CKPT of Albert base Chinese into H5. I tried to convert the bin of Albert base Chinese i

[2022-03-19 10:46] bogolese opened #16268 "RuntimeError opening google/pegasus-xsum"
I get the error:

[code]

when I run:

[code]

I get the same error trying to load google/pegasus-large.

I also tried loading the models locally. The config and tokenizer load fine. The error occurs when trying to load the model:

[code]

FYI, from site-packages/torch/version.py:

[code]

[2022-03-19 11:03] bogolese opened #16269 "TypeError loading tokenizer for gpssohi/distilbart-qgen-6-6"
Attempting to create a summary pipeline using "gpssohi/distilbart-qgen-6-6" as I get the message:

[code]
This despite the instructions on the model card:

[code]

So I downloaded the model files locally and ran:

[code]

which produces the error:

[code]

I did some spelunking through the code and found that bos_token (and its siblings) are loaded via file tokenizer_config.json, which contains:

[2022-03-19 11:34] TimbusCalin commented on #16211
Thank you very much for the fast response (also for the awesome contributions), looking forward to finding out a solution to this :D

[2022-03-19 13:27] edwardjhu commented on #16157
Hi Patrick,

I'm another maintainer of the `mup` repo.

It's true that the biggest payoff will probably come from applying our technique to large-scale pretraining, but `mup` can also help users who are working with novel architectures on a smaller scale. For example, someone might modify an existing model in `transformers` to test a new idea, and `mup` can improve stability and reduce the need to

[2022-03-19 15:02] #15547 closed

[2022-03-19 15:02] #15548 closed

[2022-03-19 15:02] #15411 closed

[2022-03-19 16:23] gante commented on #16067
I see what you mean -- Albert models like [this one](https://huggingface.co/ckiplab/albert-tiny-chinese/tree/main) don't have TF weights.

You can still load them and they will be a TensorFlow model if you load them with the `from_pt=True` flag. E.g.
[code]

If you want to save the corresponding TF2 weights as a  local`.h5` file, you can also do it by calling
[code]

If you have local `h5` files,

[2022-03-19 19:10] IvanLauLinTiong commented on #16059
I'll work on
TF - Blenderbot
PyTorch - Blenderbot and BlenderbotSmall

[2022-03-20 04:54] entslscheia opened #16276 "Freezing layers does not work with torch.utils.checkpoint"
Hi,

I am using BERT with `pytorch_transformers V1.1.0`. In this version, gradients checkpointing was not implemented, so I do it by myself simply by replacing `layer_outputs = layer_module(hidden_states, attention_mask, head_mask[i])` with `layer_outputs = checkpoint(layer_module, hidden_states, attention_mask, head_mask[i])`. This works fine when I try to fine-tune the entire BERT model. However

[2022-03-20 06:47] Smile-L-up commented on #16067
Thank you very much for your reply, you solved me a big favor!

[2022-03-20 08:10] PolarisRisingWar opened #16277 "Typo: Missing a coma in document"
In `https://huggingface.co/docs/transformers/master/en/task_summary#extractive-question-answering`, this sentence:
![image](https://user-images.githubusercontent.com/48322321/159153847-6a1bcd93-855b-4425-9716-fd1a576068ea.png)
Should it be `model-specific separators, token type ids and attention masks`?

[2022-03-20 09:18] lycfight opened #16278 "Connection error, when I run a service in a docker image, which is offline"
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2022-03-20 09:20] #16278 closed

[2022-03-20 13:31] gchhablani commented on #16059
I can take up
PyTorch: PLBart and VisualBert

[2022-03-20 15:01] #15597 closed

[2022-03-20 15:01] #15595 closed

[2022-03-20 15:01] #15582 closed

[2022-03-20 15:01] #15576 closed

[2022-03-20 15:01] #15574 closed

[2022-03-20 15:02] #14851 closed

[2022-03-20 15:02] #14523 closed

[2022-03-20 15:02] #14502 closed

[2022-03-20 17:03] gante commented on #16067
Awesome, glad I could help 👍  Closing this issue

[2022-03-20 17:03] #16067 closed

[2022-03-20 20:13] minimaxir opened #16282 "ONNX export results for hidden states/attentions are incorrect if enabled"
ONNX export results for hidden states/attentions are incorrect if enabled (e.g. via `config.output_attentions = True` and `config.output_hidden_states = True` before loading the model). This is likely due to the returning-tuples nature of the corresponding `forward` functions which ONNX may not be able to trace correctly; wrapping said functions and using `torch.stack` to handle said tuples is a w

[2022-03-21 01:20] #16069 closed

[2022-03-21 03:02] dxlong2000 commented on #16234
Sure thanks @patrickvonplaten !

[2022-03-21 03:41] z-bookworm opened #16283 "Weights of lm_head and input embedding are not tied in google/mt5-base"
## Environment info

- `transformers` version: 4.16.2
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>

### Who can help

@patrickvonplaten

## Information

I am tring to prune the embeddin

[2022-03-21 07:36] 0syrys commented on #14083
Hi guys,
@GenVr @patil-suraj  did you find a solution?
Getting the same errors running run_t5_mlm_flax.py on Colab

![image](https://user-images.githubusercontent.com/70054668/159219882-ba29de58-cff2-4291-a0c4-235a288c6a0c.png)

jax.local_devices() finds the device but the script switches to CPU

[2022-03-21 07:41] gauravlochab commented on #16191
got the weights from the backbone and loaded the custom weights

[2022-03-21 07:41] #16191 closed

[2022-03-21 07:59] Narsil commented on #12593
Hi @ninjalu,

Do you mind explaining a little more what your issue is ?
Without context it's a bit hard to guide you correctly.

Tokenizers "word-aware" are the ones with `continuing_subword_prefix` set (`tokenizer.backend_tokenizer.model.continuing_subword_prefix` variable, if it exists). But most likely you shouldn't choose a tokenizer based purely on this, but probably first on considerations l

[2022-03-21 08:22] Narsil commented on #16252
Hi @ashutoshsaboo ,

Yes, but for these files, the `vocab.txt` contains duplicate (look at the last few lines for instance).
The problem about those duplicates is that the vocabulary expects one token per line, and here we have duplicates. The way `transformers` and `tokenizers` work in that instance, is the overwrite the previous token when they are duplicates.

The net-effect means that the ids

[2022-03-21 08:47] GenVr commented on #14083
@0syrys see [here](https://discuss.huggingface.co/t/how-to-use-tpu-for-model-training-using-example-script-run-mlm-py/15510), it's solved

[2022-03-21 09:05] thomwolf commented on #13548
Jumping up because I might be helping to implement this while adding the 176B parameters model

Note that there are 2 notions of sharding here:
- sharding on the hub: goal is to keep all the files at less than 5-20GB to get cloudfront/fast-downloads
- sharding the model locally: goal is to be able to load the model when there are less CPU memory than the size of the model for instance (which happe

[2022-03-21 09:22] LysandreJik commented on #16269
Hello! Was this a temporary error? Running your code sample seems to work for me:

[code]

[2022-03-21 10:23] OllieBroadhurst opened #16286 "`self.encoder_attn` not defined for PyTorch XGLM"
## Environment info

- `transformers` version: 4.17.0
- Platform: Ubuntu
- Python version: 3.7
- PyTorch version (GPU?): 1.10.0+cu111
- Tensorflow version (GPU?): NA
- Using GPU in script?: Y
- Using distributed or parallel set-up in script?: N

### Who can help
@patil-suraj

## Information

Model I am using (Bert, XLNet ...): XGLM

The problem arises when using:
* [ ] the official example scripts

[2022-03-21 11:08] gante commented on #16277
Thank you for flagging this typo 👍  Would you like to open a PR with the fix, @PolarisRisingWar? (source file [here](https://github.com/huggingface/transformers/blob/master/docs/source/task_summary.mdx))

If not, I can take care of it :)

[2022-03-21 11:16] gante commented on #16249
Hi @TheHonestBob! The `TFTrainer` class was deprecated a while ago, so it is likely that it fails under a few circumstances (and we don't have plans to maintain it).

Have you tried using the native Keras API? Here are our docs for fine-tuning with Keras: https://huggingface.co/docs/transformers/master/en/training#finetune-with-keras

Let me know if the Keras API solves your issues :)

[2022-03-21 11:19] AswiN-7 opened #16287 "creating transformer for tamil language"
hi im trying to create a new transformer for tamil language
dataset is downloaded from oscar-corpus

       from tokenizers import ByteLevelBPETokenizer
       tokenizer = ByteLevelBPETokenizer()
       tokenizer.train(files = path, vocab_size = 200000, min_frequency = 2, special_tokens=['<s>', '<pad>', '</s>', '<unk>', '<mask>'])

       import os
       os.mkdir('./tamberto')
       tokenizer.sa

[2022-03-21 11:29] ydshieh opened #16288 "apply_rotary_pos_emb gives different results between PT & Flax"
## Environment info
- `transformers` version: 4.18.0.dev0
- Platform: Linux-5.13.0-1019-gcp-x86_64-with-glibc2.31
- Python version: 3.9.7
- Huggingface_hub version: 0.4.0
- PyTorch version (GPU?): 1.10.2+cu102 (False)
- Tensorflow version (GPU?): 2.7.0 (False)
- Flax version (CPU?/GPU?/TPU?): 0.4.0 (cpu)
- Jax version: 0.3.1
- JaxLib version: 0.3.0
- Using GPU in script?: <fill in>
- Using distrib

[2022-03-21 11:40] LysandreJik opened #16289 "Changing the default branch from `master` to `main`."
Over the next 24 hours, we'll change the default branch from `master` to `main`.

We'll leverage GitHub's renaming utility which should take care of the entire migration and handle redirection when the previous branch name was erroneously entered.

This will not update local environments, where running the following commands the first time will be necessary (will be mentioned on GitHub directly):

[2022-03-21 11:43] patil-suraj commented on #16286
Good catch! Should be fixed in https://github.com/huggingface/transformers/pull/16290

[2022-03-21 11:46] sgugger commented on #13548
Plus, we're trying to stay away from pickle those days :-)

[2022-03-21 11:53] patrickvonplaten opened #16292 "Doc tests sprint"
### This issue is part of our **Doc Test Sprint**. If you're interested in helping out come [join us on Discord](https://discord.gg/J8bW9u5abB) and talk with other contributors!

Docstring examples are often the first point of contact when trying out a new library! So far we haven't done a very good job at ensuring that all docstring examples work correctly in 🤗 Transformers - but we're now very d

[2022-03-21 12:07] #16286 closed

[2022-03-21 12:10] #16277 closed

[2022-03-21 12:22] patil-suraj commented on #16288
Thanks for reporting this, looking into it.

[2022-03-21 12:24] LysandreJik commented on #16256
cc @Narsil

[2022-03-21 12:35] reichenbch commented on #16292
@patrickvonplaten I would like to start with Maskformer for Tensorflow/Pytorch. Catch up with how the event goes.

[2022-03-21 13:24] patrickvonplaten commented on #16292
Awesome! Let me know if you have any questions :-)

[2022-03-21 14:11] LysandreJik commented on #16287
cc @SaulLu

[2022-03-21 15:06] #15619 closed

[2022-03-21 15:06] #15618 closed

[2022-03-21 15:30] bogolese commented on #16269
Thank you for responding!  I greatly appreciate it.

I'm afraid to say this is a permanent error (for me anyway).  :(

Perhaps this is a version issue?

From pip list:

[code]

Also:

[code]

When I run in this environment (in the Python Console in PyCharm):

[code]

So, I downloaded all torch related files from https://huggingface.co/gpssohi/distilbart-qgen-6-6/tree/main to local directory /pub/m

[2022-03-21 15:36] lewtun commented on #16195
Hi @jinfagang as far as I know, the `transformers.onnx` package _should_ work for exporting large models. The only difference is that you'll typically see a number of additional files are created because ONNX uses Protobuf and this can only serialise files in 2GB chunks.

It would be helpful to have a reproducible code example if you are having trouble exporting a particular checkpoint

[2022-03-21 15:43] patrickvonplaten opened #16303 "How to do mask prediction with ByT5?"
# 🚀 Feature request

It is currently not very clear on how to do mask prediction using ByT5.
For T5, we, *e.g.* know that the first 100 sentinel tokens are used as masks, e.g. the following code snippet somewhat shows how `t5-base` does mask denoising:

[code]

Here we can see that the model learns to do the correct masking pattern and also gives somewhat sensible predictions for `<extra_id_1>` an

[2022-03-21 15:47] patrickvonplaten commented on #16303
Also we should probably change the ByT5 tokenizer configs: https://huggingface.co/google/byt5-small/blob/main/tokenizer_config.json as its at best very confusing to write that the token ids from 259 to 383 are sentinel tokens. This is just wrong no? There are no sentinel tokens and the last 124 tokens are just there to round the number up to 3 * 2**7 = 384 for TPU no?

[2022-03-21 16:01] craffel commented on #16303
Yes, this is correct to the best of my recollection - I think we just forgot to allocate additional sentinel token IDs. @adarob can probably confirm.

[2022-03-21 16:23] binhna opened #16304 "Finetune Luke"
## Environment info

- `adapter-transformers` version: 2.3.0
- Platform: Linux-5.4.0-91-generic-x86_64-with-glibc2.10
- Python version: 3.8.3
- PyTorch version (GPU?): 1.8.0+cu111 (True)
- Tensorflow version (GPU?): 2.3.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using distributed or parallel set-up in script?:

### W

[2022-03-21 17:21] bogolese commented on #16269
So this *does* appear to be a version issue.  I had to upgrade transformers to 4.1.0 (4.0.0 did not work), which also required upgrading sentence-transformers and it upgraded tokenizers to 0.9.4.

[2022-03-21 17:21] #16269 closed

[2022-03-21 17:21] julien-c commented on #13548
Just replying on this for now:

yes Cloudfront supports range requests 👍

[2022-03-21 17:28] peterwolf-smarsh commented on #16060
Hmmm interesting...  I assumed that those files should be saved automatically as part of checkpointing.  Is there something I need to do, or is this a bug?  Here is my training code below:
[code]

[2022-03-21 17:31] lewtun commented on #16211
Hey @TimbusCalin thanks for opening this issue. In general, you cannot load quantized models using the `from_pretrained()` method because quantization changes the model's `state_dict`. You can find a work around in this [forum post](https://discuss.huggingface.co/t/pegasus-model-weights-compression-pruning/6381/9?u=lewtun), but it does require one to load a dummy model.

We're actually working on

[2022-03-21 17:44] bogolese commented on #16268
This appears to be a version issue.  I upgraded transformers to 4.1.0 to address another model issue and this now loads.l

[2022-03-21 17:44] #16268 closed

[2022-03-21 17:46] SaulLu commented on #16287
Hi @AswiN-7,

Could you tell me more about what you mean when you say "How to change this encoding property??". :blush:

I would like to comment on your impression that the tokens produced by BPE are showing like junks. This type of output is indeed surprising but well expected by a byte-level BPE tokenizer!

I'll link you to an [old comment](https://github.com/huggingface/tokenizers/issues/203#is

[2022-03-21 18:15] ChainYo opened #16308 "ONNXConfig: Add a configuration for all available models"
This issue is about the working group specially created for this task. If you are interested in helping out, take a look at this [organization](https://huggingface.co/OWG), or add me on Discord: `ChainYo#3610`

We want to contribute to HuggingFace's ONNX implementation for all available models on HF's hub. There are already a lot of architectures implemented for converting PyTorch models to ONNX,

[2022-03-21 18:20] ChainYo commented on #16308
- `GPT-J`: #16274
- `FlauBERT`: #16279

[2022-03-21 18:28] Narsil commented on #16256
Hi @DanieleBarreca ,

Can you try with `hypothesis_template` as a variable, I think that's the issue.

@LysandreJik , We're very tolerant on arguments, what do you think about raising errors on pipelines that do not accept `*kwargs` when the passed argument is not understood (would prevent silent errors like this one)

[2022-03-21 18:32] praveen1664 commented on #9322
Issue still persists

---------------------------------------------------------------------------
VersionConflict                           Traceback (most recent call last)
<ipython-input-24-3b738e6ed358> in <module>
----> 1 from transformers import PreTrainedTokenizerFast

/app1/anaconda3/envs/praveen_tfu/lib/python3.6/importlib/_bootstrap.py in _find_and_load(name, import_)

/app1/anaconda3/env

[2022-03-21 19:17] ChainYo commented on #16308
- `LayoutLMv2`: #16309

[2022-03-21 20:11] stas00 commented on #13548
Are we considering my proposal to completely part ways from torch checkpoint and using a tied dbm file instead? https://github.com/pytorch/pytorch/issues/64327

This makes the checkpoint manipulation completely transparent and removes all the custom framework specific formatting and allows for a single checkpoint that could be loaded by any framework.

Now you can load or save any layer or even a

[2022-03-21 20:26] MarkusSagen commented on #16292
@patrickvonplaten I would like to start with T5 for pytorch and tensorflow

[2022-03-21 20:50] DanieleBarreca commented on #16256
@Narsil
Thank you very much for your support. Your suggestion is not super-clear to me unfortunately, can you help me to understand in which function call should I pass the hypothesis_template as a varibale (i.e. to the tokenizer, to the model, ...) or how should I modify my code?

[2022-03-21 21:11] dberma15 opened #16312 "Getting a signal: aborted (core dumped) or Segmentation fault (core dumped) error when trying to train on a single GPU"
## Environment info
- `transformers` version: 4.17.0
- Platform: Linux-3.10.0-1160.59.1.el7.x86_64-x86_64-with-glibc2.17
- Python version: 3.9.7
- PyTorch version (GPU?): 1.11.0+cu102 (False)
- Tensorflow version (GPU?): 2.8.0 (False)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distribute

[2022-03-21 21:17] silvererudite commented on #16135
Yes..definitely...Will open a PR shortly and ask for help when I'm stuck..thanks a lot.

[2022-03-21 21:28] roywei opened #16313 "Support SageMaker distributed data parallel library v1.4.0"
Hi,
SageMaker Distributed Data Parallel Library (SMDDP) just release v1.4.0. https://docs.aws.amazon.com/sagemaker/latest/dg/data-parallel.html
In this version, we release a new API to allow SMDDP to work as a PyTorch distributed backend.

Here are the changes needed to use SMDDP v1.4.0 in HF.

Following imports are deprecated:
[code]
You can replace with vanilla PyTorch imports
[code]

You need t

[2022-03-21 21:29] roywei commented on #16313
Please let us know how we can help upgrading to new SMDDP APIs, thanks!
relevant PRs:
https://github.com/aws/deep-learning-containers/pull/1630
https://github.com/huggingface/transformers/pull/9798/files

[2022-03-21 21:48] sandeep-krishnamurthy commented on #16313
Thank you @roywei .. @philschmid FYI. Looking forward to hearing your input. Also, please let us know who can be point of contact and how we can get this change, hopefully with upcoming HF transformer release.

[2022-03-21 23:35] prassanna-ravishankar opened #16315 "Pipeline always returns to device="cpu""
## Environment info

- `transformers` version: 4.16.1
- Platform: Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with-glibc2.29
- Python version: 3.8.5
- PyTorch version (GPU?): 1.6.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed

[2022-03-22 00:12] patrickvonplaten commented on #16292
Sounds great!

[2022-03-22 00:14] patrickvonplaten commented on #16292
LayoutLM is also taken as mentioned by a contributor on Discord!

[2022-03-22 00:21] hui-wan opened #16317 "[modeling_utils] Keys are still reported as "missing" during model loading even though specified in `_keys_to_ignore_on_load_missing`"
## Environment info

- `transformers` version:  4.18.0.dev0
- Platform:  Ubuntu 18.04.6 LTS   Linux 4.15.0-167-generic
- Python version:  3.7.11
- PyTorch version (GPU?):  1.11.0 (True)
- Tensorflow version (GPU?):  N/A
- Using GPU in script?:  No
- Using distributed or parallel set-up in script?:  No

### Who can help
@patrickvonplaten @sgugger

## Information

Model I am using (Bert, XLNet ...):

[2022-03-22 00:49] tshu-w commented on #14931
Unstale. General Ping @Narsil. Is there anything I can do.

[2022-03-22 01:02] shiffman commented on #14334
Just chiming in that I ran into this issue fine-tuning [distilgpt2](https://huggingface.co/distilgpt2) following [this example notebook]( https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/language_modeling.ipynb).

I was able to get it to work by manually copying [tokenizer.json](https://huggingface.co/distilgpt2/blob/main/tokenizer.json) into my repo after the no

[2022-03-22 01:19] ontocord opened #16319 "ibert seems to be quite slow in quant_mode = True"
Hi, for iBert -

I found it is MUCH slower in quant_mode = True. here's a notebook with a slightly modified version of the HF code to allow dynamically switching quant_mode. You can see the timing difference.

https://colab.research.google.com/drive/1DkYFGc18oPvAn5nyGEL1aIFHmD_aNlXW

 @patrickvonplaten

https://github.com/kssteven418/I-BERT/issues/21

[2022-03-22 01:22] AMontgomerie commented on #16059
Hi, I'll take Funnel

[2022-03-22 01:52] maggiez0138 opened #16320 "Can we support the trace of ViT and Swin-Transformer based on torch.fx?"
# 🚀 Feature request

Can we support the trace of ViT and Swin-Transformer based on torch.fx()? If not, what's the difficulty for that?

## Motivation

ViT and Swin-Transformation is widely used in CV scenarios. Hope we could support the trace of torch.fx, so we can do the quantization based on the work.

## Your contribution

I'm not sure right now. Currently I wanda whether we could support the V

[2022-03-22 02:00] jaketae commented on #15397
Apologies for the delay @stas00. Here is a quick update of where I am at the moment.

**1. Understanding PyTorch's GELU Approximation**

The implementation can be found here: https://github.com/pytorch/pytorch/blob/4917f8ce0ae086b92d2385f1d696b93e03fa6221/aten/src/ATen/native/cpu/Activation.cpp#L190-L206

As noted in the [docs](https://pytorch.org/docs/master/generated/torch.nn.functional.gelu.htm

[2022-03-22 02:10] TheHonestBob commented on #16249
thanks for your reply, I also use tf.keras, so I solve it with your docs.

[2022-03-22 02:21] z-bookworm commented on #16283
@patrickvonplaten Thanks for the reference

[2022-03-22 02:21] #16283 closed

[2022-03-22 02:30] jinfagang commented on #16195
@lewtun Hi, actually I am just trying using the same technique in Bert quantization inside onnxruntime example. Bert can be optimized, and I can shrink the model size from 1.6G to 400M in int8. But when I trying on 7G model, it fails.
So I don't know is the optimization doesn't supported such big model, or does the huge model can not be properly loaded by ort. It just returns error like read onnx

[2022-03-22 05:31] ciaochiaociao opened #16321 "First token misses the first character in its `offsets_mapping` WHEN `add_prefix_space=True` is used"
## Environment info

- `transformers` version: 3.5.1
- Python version: 3.9.7
- PyTorch version (GPU?): 1.6.0 (GPU)

### Who can help
@SaulLu

## Information

Model I am using (Bert, XLNet ...): roberta-large

## To reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
Should be [(0, 0), **(0, 4)**, (5, 7), (8, 9), (10, 18), (0, 0)]}

[2022-03-22 05:35] pratikchhapolika opened #16322 "RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB with 8 Ampere GPU's"
I am fine tuning masked language model from XLM Roberta large on google machine specs.
I made couple of experiments and was strange to see few results. `I think something is not functioning properly. `

I am using pre-trained Hugging face model.

`I launch it as train.py file which I copy inside docker image and use vertex-ai ( GCP) to launch it using Containerspec`

`machineSpec = MachineSpec(mac

[2022-03-22 05:36] pratikchhapolika commented on #16322
@sgugger

[2022-03-22 06:14] vumichien commented on #16308
Let me try with `BigBird`

[2022-03-22 07:20] philschmid commented on #16313
Hello @roywei @sandeep-krishnamurthy,

Thanks for opening the issue! if you already know what changes need to be made, could you open a PR, this would be easier to review and test then?

[2022-03-22 07:25] philschmid commented on #16313
Are those the release notes? https://sagemaker.readthedocs.io/en/stable/api/training/smd_data_parallel_release_notes/smd_data_parallel_change_log.html#sagemaker-distributed-data-parallel-1-4-0-release-notes

**Breaking Changes**

* As the library is migrated into the PyTorch distributed package as a backend,
  the following smdistributed implementation APIs are deprecated in
  the SageMaker data p

[2022-03-22 07:52] timmywanttolearn commented on #2708
weill, this seems that it is a local object that can not be forked, you may define it at each forked process. This may work well. However somebody should fix it.

[2022-03-22 08:02] Nid989 commented on #8944
Inferring the model training details from BERT2BERT for CNN daily mail is not sufficient, we experimented with an MT model with the must-c data for en-fr , however the prediction were almost random and it was not able to understand the core meaning of its input sequence.

[2022-03-22 08:02] Nid989 commented on #8944
If anyone has a complete notebook based on the Encoder-Decoder model for MT, please share. Thank you.

[2022-03-22 08:03] lewtun commented on #16195
Hey @jinfagang can you please share a code snippet that shows which checkpoint you're using and an example of how you're loading the exported model?

[2022-03-22 08:52] chainyo opened #16325 "Implement HybridNets: End-to-End Perception Network"
# 🌟 New model addition

## Model description

Quote from the Github repository:

[code]

## Open source status

* [x] the model implementation is available: yes, they have pushed everything [here](https://github.com/datvuthanh/HybridNets) on Github
* [x] the model weights are available: yes, there are available directly [here](https://github.com/datvuthanh/HybridNets/releases/download/v1.0/hybridn

[2022-03-22 09:05] TimbusCalin commented on #16211
@NielsRogge @lewtun  thank you guys for the prompt responses and suggestions given!

[2022-03-22 09:38] Narsil commented on #14334
@shiffman ,

I am not sure what are the steps for `push_to_hub` to upload the tokenizer.
[code]

Might be necessary

@sgugger  can you confirm ?

[2022-03-22 09:42] Narsil commented on #16315
@prassanna-ravishankar ,

This is actually expected, the `post_process` step needs to happen on CPU (the goal is to return something in JSON so fetching the data back from the GPU is necessary  at some point).
Do you mind sharing a little more details on what you attempt to do ? Maybe there's another solution ?

[2022-03-22 09:45] Narsil commented on #16256
Sorry about that, here is the modified example to get the same scores.
[code]
Basically you `hypothesis` argument was ignored and it used the default instead

[2022-03-22 09:46] gante commented on #16249
I'm closing this issue, but feel free to reopen it if the problem persists.

[2022-03-22 09:46] #16249 closed

[2022-03-22 09:53] Narsil commented on #16315
The PR as-is won't fit yes.

If you have a looping operation maybe everything should be within `_forward` function ? This is how it is handled for `text-generation` for instance.

The design of pipelines is as follows:

- `pre_preprocess` : Take in raw python objects , output feedbable data to the models.
- `_forward`: Make everything that requires the model happen here (potentially looping)
- `po

[2022-03-22 10:07] prassanna-ravishankar commented on #16315
Thanks, will reach out on the forum if I have some more questions.

Orthogonal to this, does it make sense to a `post_process_gpu` or `post_process_device` whenever we want device specific post processing (and if it has been implemented)?

[2022-03-22 10:11] Narsil commented on #14931
# TL;DR

Call the function once on a dummy example beforehand will fix it.
[code]

# Long answer
If I remember the last status, it's hard doing anything, since the call itself

[code]
will modify the tokenizer. It's the `truncation=True` that modifies the tokenizer to put it into truncation mode if you will.
Calling the tokenizer once with that argument would fix the cache.

Finding a fix that :
-

[2022-03-22 10:18] Narsil commented on #16315
As long as the pipelines do NOT output tensors, I don't see how `post_process_gpu` can ever make sense. The objects outputted by the pipeline are CPU data in all  pipelines I think. Like  a `string` cannot live on GPU, can it ?

The only very specific use case I can think of would be in some sort of game, where the text/image would be then used by some sort of shader directly, then you would need

[2022-03-22 10:27] OllieBroadhurst opened #16327 "Arg to begin `Trainer` evaluation on eval data after n steps/epochs"
# 🚀 Feature request

It would be great to be able to have the option to delay evaluation on the eval set until after a set number of steps/epochs.

## Motivation

Evaluation metrics can take a while to calculate and are arguably often not as meaningful in the early stages of training (like during warmup). This change would free up time that would be better spent training. Increasing `eval_steps` w

[2022-03-22 10:40] patrickvonplaten commented on #16060
I see! Yeah good point actually! The way it's written right now would only save the `feature_extractor` and the model. You will need to save the tokenizer manually since it's not passed into the Trainer.

So in short you'll need a line like this one: https://github.com/huggingface/transformers/blob/0c55d47cded0c711a4359afb04d73ffb86b7d913/examples/pytorch/speech-recognition/run_speech_recognition_

[2022-03-22 10:41] DanieleBarreca commented on #16256
@Narsil Thank you very much! It worked correctly and I can replicate the pipeline scores.

[2022-03-22 10:41] #16256 closed

[2022-03-22 10:59] patrickvonplaten commented on #16312
Hey @dberma15,

What is `bitfusion`? do you have to use it? I'm not familiar with this command

[2022-03-22 11:05] patrickvonplaten commented on #16317
Hey @hui-wan,

Thanks a lot for opening this issue. I'm having some problems following the exact error though here:

If `base_model_prefix = "aabbcc"`, then why is the line: `self.aabbcc_encoder = AutoModel.from_config(config)` and not `self.aabbcc = AutoModel.from_config(config)`?

If the `base_model_prefix` is set to `aabbcc` then the name of the encoder should also be exactly this

[2022-03-22 11:07] patrickvonplaten commented on #16319
Hey @ontocord,

I don't have much experience with iBERT. @kssteven418 any ideas here? Is such a slowdown expected?

[2022-03-22 11:08] tshu-w commented on #14931
@Narsil Thank you for your detailed explanation. @lhoestq Can you take a look if there is some specific solution on Datasets

[2022-03-22 11:11] #16315 closed

[2022-03-22 11:14] patil-suraj commented on #16325
cc @NielsRogge

[2022-03-22 11:39] jinfagang commented on #16195
@lewtun Hi, I suppose you familiar with GPT2 and magnetron. Let me explain how I do it.

1. firstly, I download a pretrained giant Chinese GPT2-large model, which might trained with Megatron-LM, it was so huge, that weights divided into 2 parts and should loaded by 2 cards. You can download them from: https://huggingface.co/TsinghuaAI/CPM-Generate , Oh, I just recognized it was already on hugging

[2022-03-22 11:39] SimplyJuanjo commented on #15947
I made this pull request https://github.com/huggingface/transformers/pull/16329 to translate multilingual.mdx. Is everything done the right way?
@omarespejel @osanseviero

[2022-03-22 11:51] sgugger commented on #14334
Yes, as highlighted by the [documentation](https://huggingface.co/docs/transformers/model_sharing#use-the-pushtohub-function).

[2022-03-22 11:55] sgugger commented on #16322
Please follow the issue template. You're not showing the script you are running or how you are launching it, so there is nothing anyone can do to help.

[2022-03-22 12:17] dberma15 commented on #16312
@patrickvonplaten Bitfusion is for using a GPU on a shared resource. Using it is equivalent to saying you want to use GPU resources. If you simply type python script.py, you do not use the GPU resources.

[2022-03-22 12:49] sasaadi commented on #15862
Hi @julien-c, I would like to know if there is any update on the lisence files?

Thank you.

[2022-03-22 13:18] shiffman commented on #14334
Ah, thank you! Would it be helpful for me to pull request a fix to this notebook?

https://github.com/huggingface/notebooks/blob/master/examples/language_modeling.ipynb

I could add it to the cell with `trainer.push_to_hub()`?

[code]

<img width="678" alt="Screen Shot 2022-03-22 at 9 16 44 AM" src="https://user-images.githubusercontent.com/191758/159490487-b8f12156-496a-4764-a266-e219c4985764.png

[2022-03-22 13:28] lhoestq commented on #14931
Yes I think we can have a workaround: you have to reload your tokenizer before your second `map` call.

Note that we still first need to fix this issue in `datasets` first: https://github.com/huggingface/datasets/issues/3847

[2022-03-22 13:49] patrickvonplaten opened #16334 "T5Tokenizer Fast and Slow give different results with AddedTokens"
When adding a new token to T5TokenizerFast and/or T5Tokenizer, we get different results for the tokenizers which is unexpected.

E.g. running the following code:

[code]

yields different results for each tokenizer

[code]
## Environment info

- `transformers` version: 4.18.0.dev0
- Platform: Linux-5.15.15-76051515-generic-x86_64-with-glibc2.34
- Python version: 3.9.7
- Huggingface_hub version: 0.

[2022-03-22 14:16] cakiki commented on #16292
@patrickvonplaten I would take GPT and GPT-J (TensorFlow editions) if those are still available.

[2022-03-22 14:38] vumichien commented on #16292
I will take Bert, Albert, and Bigbird for both Tensorflow/Pytorch

[2022-03-22 14:45] sgugger commented on #16327
That sounds like a very interesting new feature, and I agree with the proposed implementation. Would you like to work on a PR for this?

[2022-03-22 14:46] sgugger commented on #14334
Ah yes, the `tokenizer` has not been passed to the `Trainer` in this notebook, so needs to be pushed separately. Feel free to open a PR on the notebooks repo to fix this!

[2022-03-22 15:02] pratikchhapolika commented on #16322
Showing you the script.

[2022-03-22 15:05] #13685 closed

[2022-03-22 15:21] johko commented on #16292
I'll take Swin and ViT for Tensorflow

[2022-03-22 15:26] SaulLu opened #16336 "A slow tokenizer cannot add a token with the argument `lstrip=False`"
## Environment info
[code]

## Information

When adding a token to a tokenizer with a slow backend or to a tokenizer with a fast backend, if you use the `AddedToken` class with the `lstrip=False` argument, the final tokenization will not be the same.

My impression is that the slow tokenizer always strips and that the fast tokenizer takes this argument into account (to be confirmed by the conclusi

[2022-03-22 15:46] SaulLu opened #16337 "[TBD] discrepancy regarding the tokenize method behavior - should the token correspond to the token in the vocabulary or to the initial text"
## Environment info
[code]

## Information

When adding a token to a tokenizer with a slow backend or to a tokenizer with a fast backend, if you use the `AddedToken` class with the `lstrip=True` argument, the output of the tokenize method is not the same.

This difference should be put into perspective by the fact that the encoding (the sequence of ids) is identical: the model will see the correct

[2022-03-22 15:54] sgugger commented on #16322
You're launching the script with just `python`. As highlighted in the [examples README](https://github.com/huggingface/transformers/tree/master/examples/pytorch#distributed-training-and-mixed-precision) for distributed training, you need to use `python -m torch.distributed.launch` to use the 8 GPUs.

[2022-03-22 16:00] SaulLu opened #16339 "The `convert_tokens_to_string` method fails when the added tokens include a space"
## Environment info
[code]

## Information

The bug that was identified [for the decode method regarding added tokens with space ](https://github.com/huggingface/transformers/issues/1133)also occurs with the `convert_tokens_to_string` method.

## To reproduce

[code]

## Expected behavior

No error or the fact that `convert_tokens_to_string` is a private method.

[2022-03-22 20:39] patrickvonplaten commented on #15559
Can also confirm that gradients of `bart-large` are generally **very** high which might lead to unexpected behavior. See: https://discuss.huggingface.co/t/gradients-verification-between-jax-flax-models-and-pytorch/15970

[2022-03-22 21:19] salrowili commented on #15559
I have tried to pre-trained BART-large from scratch with TF keras and logit accuracy never gone above ~40% where base BART was able to reach ~80%-90%.. I have also notice whenever I increase the batch size above 2048 logit accuracy and loss score suffer even in base scale model. Does this issue affected by gradients ? I think this issue is not about the scale of the model but also how much data in

[2022-03-22 21:58] stas00 commented on #15397
That's a great report, Jaesung! Thank you!

Well, it can't be equal since it's an approximation, so it's really about deciding on the `atol/rtol` values and whether the results are acceptable.

and of course you want to experiment with much larger tensors than 3x3 to come up with conclusions.

If I try with more realistic sizes I get 0 matches with close or equal:
https://colab.research.google.com

[2022-03-22 21:59] stas00 commented on #15397
@vadimkantorov, please have a look - the results are very different between the nightly fast version and the slow python approximation function.

[2022-03-22 22:01] vadimkantorov commented on #15397
I guess we need to tag @rdspring1 who authored https://github.com/pytorch/pytorch/pull/61439...

[2022-03-23 00:08] ohmeow commented on #14305
Yup ... my version of tokenizers was outdated!  Sorry to bother you :)

Thanks for the follow-up.

[2022-03-23 00:14] andylolu2 opened #16347 "`FeaturesManager.get_model_from_feature` should be a staticmethod"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux (Pop!_OS)
- Python version: 3.9.6
- PyTorch version (GPU?): 1.9.0+cu111
- Tensorflow version (GPU?): /
- Using GPU in script?: No
- Using distributed or parallel set-up in script?: No

### Who can help

@michaelbenayoun who committed #14358

## Information

Type error for Pylance in VsCode:
![Screenshot from 2022-03-22 23-42-3

[2022-03-23 00:52] hui-wan commented on #16317
Thank you @patrickvonplaten.

If the name of the encoder is set to `aabbcc` in the above code snippet, the same output and warning of missing keys are produced:
[code]
and
[code]

The issue goes away if the encoder name is set to `bert` or sth like `encoder_aabbcc` (also set in `_keys_to_ignore_on_load_missing`).
 * In the former case, there would not be missing keys in the first place. However, i

[2022-03-23 01:06] ArEnSc opened #16349 "New Model Add FastPitch 1.1"
# 🌟 New model addition

## Model description

**What type of model is Fast Pitch 1.1?**
It is a Mel spectrogram generator (part of a speech to text model engine) that mainly comprises of two Feed Forward Transformer stacks.
Fast Pitch is used to transform text to a spectrogram **to be used in wave form generation in speech synthesis**.

**What is the novel feature of the model making it different

[2022-03-23 01:15] tshu-w commented on #14931
Good to know. @Narsil So I think this issue can close now. 😄

[2022-03-23 02:28] ArEnSc commented on #16292
Can I try GPT2 and GPTJ for Pytorch? if @ydshieh  you are not doing so?

[2022-03-23 02:52] mokeyish opened #16351 "The huggingface web site crashed"
<img width="800" src="https://user-images.githubusercontent.com/16131917/159614484-741db4c9-5c60-442a-8df2-efa39869369d.png">

**Set `local_files_only` to be True for reading the local cache first。**

[code]

# Is there any mirror of this web site?

[2022-03-23 03:09] czb2133 commented on #16351
yes, and I couldn't use from_pretrained() in my code

[2022-03-23 03:16] hezhaozhao-git commented on #16351
+1

[2022-03-23 03:16] Subhojyoti22 commented on #16351
+1

[2022-03-23 03:17] sindhura97 commented on #16351
+1

[2022-03-23 03:18] ytf-philp commented on #16351
+1

[2022-03-23 03:18] ArvinZhuang commented on #16351
+1

[2022-03-23 03:19] guoaokiral commented on #16351
+2

[2022-03-23 03:19] ravindra-ut commented on #16351
+1

[2022-03-23 03:22] sindhura97 commented on #16351
+1

[2022-03-23 03:22] Legend94rz commented on #16351
How to prevent Tokenizer/Model from requesting Internet when local cache is available? Force HuggingFace read the local cache first?

[2022-03-23 03:24] z-bookworm commented on #16351
You can set `local_files_only ` to be True.

[code]

[2022-03-23 03:27] Subhojyoti22 commented on #16351
@z-bookworm Thanks it worked.

[2022-03-23 03:32] ALixuhui commented on #16351
+1

[2022-03-23 03:34] hxxxxh commented on #16351
+1

[2022-03-23 03:36] JFChi commented on #16351
+1

[2022-03-23 04:09] pratikchhapolika commented on #16322
I am using this parameters :

[code]

**ERROR**

[code]

[2022-03-23 04:55] SivilTaram commented on #15559
Good job! This reinforces my belief that it is `bart-large` itself that is sensitive to optimization, and not a bug in the codebase.

[2022-03-23 05:16] pratikchhapolika commented on #15026
Is all benchmarking done on  A100 ("NVIDIA_TESLA_A100") single GPU? Can you also include CUDA memory required Vs Data points for training Vs No. of GPU's.

[2022-03-23 05:44] stas00 commented on #15026
Yes.

I don't understand your question.

[2022-03-23 05:55] pratikchhapolika commented on #15026
On how many data points and epochs is it benchmarked on with Single GPU?

[2022-03-23 05:56] pratikchhapolika commented on #15026
On how many data points and epochs is it benchmarked on with Single GPU?

[2022-03-23 05:57] pratikchhapolika commented on #15026
I get error with 4 GPU's, 20 epochs on A100 with 700000 data points

`python -m torch.distributed.launch --nproc_per_node 4 train.py --gradient_accumulation_steps 8 --per_device_train_batch_size 8 --optim adamw_hf --tf32 --bf16"])`

`'Traceback (most recent call last):\n', ' File "train.py", line 160, in <module>\n trainer.train()\n', ' File "/opt/conda/lib/python3.7/site-packages/transformers/tra

[2022-03-23 06:41] ciaochiaociao commented on #16321
Cool. Thank you for your reply. 4.17.0 did work.

[2022-03-23 06:43] ciaochiaociao commented on #16321
By the way, FYI

`4.16.2` also works, while `4.14.1` does not, which shows the same results of `3.5.1`.

[2022-03-23 06:54] julien-c commented on #16351
Sorry about that!
See this tweet for some context on our work on Hub scalability and performance: https://twitter.com/julien_c/status/1496129354023288838

Will close this issue for now, thanks for reporting 🙏

[2022-03-23 06:54] #16351 closed

[2022-03-23 06:56] Aanisha commented on #16292
I would like to try CLIP for Tensorflow and PyTorch.

[2022-03-23 07:03] z-bookworm opened #16353 "bert.embeddings.position_ids is not loaded in TFBertForSequenceClassification"
## Environment info

- `transformers` version: 4.17.0
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.1 (True)
- Tensorflow version (GPU?): 2.8.0 (False)

### Who can help

@LysandreJik

## Information

`TFBertForSequenceClassification` will not load `bert.embeddings.position_ids` from pytorch checkpoint, which will raise a warning.

**Related issue**: https://github.com/huggingface/transf

[2022-03-23 07:23] NielsRogge commented on #16292
I'll take CANINE and TAPAS.

[2022-03-23 07:44] ydshieh commented on #16292
No, you can work on these 2 models :-) Thank you!

[2022-03-23 07:48] luisgg98 opened #16355 "_tokenizer.decode TypeError: 'list' object cannot be interpreted as an integer"
## Environment info
- `transformers` version: 4.15.0
- Platform: Linux-4.15.0-162-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.11
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: YES
- Using distributed or para

[2022-03-23 07:51] OllieBroadhurst commented on #16327
Sure thing! @sgugger

[2022-03-23 08:12] vumichien commented on #16292
@ydshieh Since the MobileBertForSequenceClassification is the copy of BertForSequenceClassification, so I think I will do check doc-test of MobileBert as well to overcome the error from `make fixup`

[2022-03-23 08:27] Narsil commented on #14931
I'll follow the discussion over there then.

[2022-03-23 08:51] abdouaziz commented on #16292
I'll take FlauBERT  and CamemBERT.

[2022-03-23 09:06] 0syrys commented on #14083
@GenVr
thanks for the help!
Unfortunately it's still not working
Seems to me the xla_spawn is only needed for the pytorch scrips?
Also the flax version run_t5_mlm_flax.py does not take a "--tpu_num_cores 8" argument or similar
So still a bit clueless

I created a public Colab with all the needed files in it:
https://drive.google.com/drive/folders/19TnTy_-h-MfccWWwKkGrll4wsN5X64CE?usp=sharing

For

[2022-03-23 09:14] ydshieh commented on #16292
@abdouaziz Awesome! Do you plan to work on both PyTorch and TensorFlow versions, or only one of them?

[2022-03-23 10:32] Tegzes commented on #16292
I would like to work on LUKE model for both TF and PT

[2022-03-23 10:34] NielsRogge commented on #16292
@Tegzes you're lucky because there's no LUKE in TF ;) the list above actually just duplicates all models, but many models aren't available yet in TF.

[2022-03-23 10:34] Tegzes commented on #16292
I will also take  DeBERTa and DeBERTa-v2 for PyTorch

[2022-03-23 10:52] VioletRaven opened #16358 "Can't load Longformer Encoder Decoder converted from a MBart."
Hello there,
I have built a Longformer Encoder Decoder on top of a MBart architecture by simply following instructions provided at (https://github.com/allenai/longformer/blob/master/scripts/convert_bart_to_longformerencoderdecoder.py).

This is the huggingface MBart model --> **ARTeLab/mbart-summarization-fanpage**

In doing so I firstly updated any import methods called from the 'transfomers' lib

[2022-03-23 11:12] Anna146 opened #16359 "Casting to device inside of the Tokenizer"
# 🚀 Feature request

I think it will make sense if the tokenizer.encode() and in particular, tokenizer.encode_plus() accepting a string as input, will also get "device" as an argument and cast the resulting tensors to the given device. Otherwise, in case of encode_plus(), one has to loop through the output dict and manually cast the created tensors.

[2022-03-23 11:18] abdouaziz commented on #16292
I plan to work only with PyTorch

[2022-03-23 11:40] AnthonyBarbier commented on #14862
This is still happening and still needs to be fixed

[2022-03-23 12:19] gante commented on #16353
Hey @z-bookworm 👋  From the name of the folder on the hub, it seems like you are trying to load a Roberta model ("uer/chinese_roberta_L-4_H-512") in a BERT model. Can you try replacing `TFBertForSequenceClassification` with `TFRobertaForSequenceClassification`?

Let us know if it solves your problem :)

[2022-03-23 12:26] patrickvonplaten commented on #16349
Very cool! @anton-l do you know whether we are allowed to use checkpoints from Microsoft regarding licensing?

[2022-03-23 12:28] patrickvonplaten commented on #16292
True - sorry I've been lazy at creating this list!

[2022-03-23 12:34] NielsRogge commented on #16359
You can just do:

from transformers import AutoTokenizer
import torch

tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")

device = "cuda" if torch.cuda.is_available() else "CPU"

text = "hello world"
encoding = tokenizer(text, return_tensors="pt").to(device)

[2022-03-23 12:35] anton-l commented on #16349
@patrickvonplaten looks like there's no custom NVIDIA license this time, the checkpoint's license refers to the BSD-3 bundled with the code: https://github.com/NVIDIA/DeepLearningExamples/blob/master/PyTorch/SpeechSynthesis/FastPitch/LICENSE
I think we're able to concatenate it with the transformers' Apache license?

Also FYI @jaketae as you were interested in porting FastPitch too :slightly_smili

[2022-03-23 12:36] Anna146 commented on #16359
Cool, thanks!

[2022-03-23 12:47] Narsil commented on #16334
Hi, The behavior can be explained by the fact that the encode, splits on whitespace and ignores them,
then the decoder uses `Metaspace` (which is for the `spm` behavior) which does not prefix things with spaces even on the added token.

We could have parity on this !

But I am not sure who is right in that case, both decoded values look OK to me. The proposed AddedToken contains no information abo

[2022-03-23 13:14] Narsil commented on #16336
The logic for `lstrip` **is** implemented for slow tokenizers actually:

https://github.com/huggingface/transformers/blob/main/src/transformers/tokenization_utils.py#L519

The main thing I think is that in that function,the added token is NOT in the `all_special_added_tokens_extended`. If it was, it would work.

Now the function `added_tokens` starts by removing all information about the `AddedTok

[2022-03-23 13:49] ydshieh commented on #16358
Hi @VioletRaven

Consider this question involves:

- external script: `allenai/longformer`
- a full & custom model architecture code

this is beyond the scope of maintenance the original `transformers` library.

[Hugging Face Forums](https://discuss.huggingface.co/) is a better place for such questions instead.

If you can find the root cause and it turns out to be an issue in the existing model c

[2022-03-23 13:55] arnaudstiegler commented on #16292
Happy to work on TrOCR (pytorch and TF)

[2022-03-23 13:58] patrickvonplaten commented on #16292
I take RoBERTa in PT and TF

[2022-03-23 14:03] tanyaroosta opened #16361 "output_scores causes trainer.predict to error out"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux-4.14.252-131.483.amzn1.x86_64-x86_64-with-glibc2.9
- Python version: 3.6.13
- PyTorch version (GPU?): 1.7.1 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: Yes
- Using distributed or p

[2022-03-23 14:10] VioletRaven commented on #16358
I have now opened an issue directly on that forum.
Thank you for your suggestion!

[2022-03-23 14:10] #16358 closed

[2022-03-23 14:24] AbinayaM02 commented on #16292
I would like to pick up  XLM-RoBERTa in PT and TF.

[2022-03-23 14:26] sgugger commented on #16361
Yes, the `Seq2SeqTrainer` does not support `return_dict_in_generate` for now, so that is expected. In the meantime, using the `no_trainer` example would allow you to customize everything to your needs.

[2022-03-23 14:57] LysandreJik commented on #16355
Hello, thanks for opening an issue! We try to keep the github issues for bugs/feature requests.
Could you ask your question on the [forum](https://discuss.huggingface.co) for additional chances of getting an answer?

Thanks!

[2022-03-23 15:01] #15635 closed

[2022-03-23 15:01] #15605 closed

[2022-03-23 15:01] #15195 closed

[2022-03-23 15:02] luisgg98 commented on #16355
@LysandreJik Sorry I didn't know the existence of the forum, I will write a post on there as well.
Thank you!

[2022-03-23 15:21] tanyaroosta commented on #16361
thanks @sgugger for the quick reply.  Does it support `output_scores`? I took out the 'return_dict_in_generate` and left `output_scores=True`.  However, it seems no scores are printed in the generated_predictions.txt.  It didn't error out though...

[2022-03-23 15:41] stas00 commented on #15026
It's defined by `--max_train_samples`

To your last question - please let's not derail this Benchmark Issue. If want to discuss an unrelated question please open a new issue. Best to delete it from here and post in another Issue.

[2022-03-23 15:41] sgugger commented on #16361
Not sure it will accumulate them either, the loop is focused on the generation, not additional outputs.

[2022-03-23 16:45] shaoniana1997 opened #16364 "question about the the specific text generation question"
Hello, i am a tiro in transformers, and i have a question.
if i want to use serval concepts like:  I question english ,and i want to the output like this: i have a english question, or i have a question rather than english question.
Does any project in the hub can handle this? If not ,can you give me some useful advice about how to use the current model and modify it to finish my above mentioned q

[2022-03-23 16:53] OllieBroadhurst opened #16365 "Swap `eval_delay signs`"
### Who can help
@sgugger

## Information

The signs for the `eval_delay` comparisons need to be switched. This is pretty NB @sgugger as there are a lot of breakages involved here.

Greater than sign must be changed to less than sign [here](https://github.com/huggingface/transformers/blob/main/src/transformers/trainer_callback.py#L422) and [here](https://github.com/huggingface/transformers/blob/ma

[2022-03-23 17:05] wanyu2018umac opened #16366 "Request on application/pipeline for Text Regression"
# 🚀 Feature request

The Text Regression task aims at delivering scalar output for each input sequence, which is widely used in NLP applications.

In my own use, I'm working on the research topic named translation evaluation, including metric and quality estimation (QE) tasks. Here are some available baselines:
- [BLEURT](https://aclanthology.org/2020.acl-main.704/)
- [COMET](https://aclanthology.

[2022-03-23 17:06] wanyu2018umac commented on #16366
@Narsil

[2022-03-23 17:10] wanyu2018umac commented on #16366
Here are related links on this Request:
[Huggingface Discuss](https://discuss.huggingface.co/t/demand-on-text-regression-pipeline-application/15935)
[Huggingface Doc](https://github.com/huggingface/hub-docs/issues/65)

[2022-03-23 18:43] fkoehlin commented on #9939
Same here, also installing TF in addition to PyTorch didn't help...

[2022-03-23 18:54] robotjellyzone commented on #16051
Hi, actually I am done with the modifications but got busy in my job. Tomorrow will going to push the changes.
But one thing, if you need something then you can take that vision_encoder_decoder model that one I have not touched yet

[2022-03-23 20:03] davidleonfdez opened #16372 "Infer padding in GPT2ForSequenceClassification when inputs_embeds and attention_mask are given"
# 🚀 Feature request

Infer padding in `GPT2ForSequenceClassification` when `inputs_embeds` and `attention_mask` are given

## Motivation

When `config.pad_token_id is not None` and `inputs_embeds` are passed instead of `input_ids`, the forward method of `GPT2ForSequenceClassification` raises a warning telling that _"GPT2ForSequenceClassification will not detect padding tokens in `inputs_embeds`. R

[2022-03-23 20:46] peterwolf-smarsh commented on #16060
Excellent!  Thank you so much for the help, and thank you for this wonderful package and all the tutorials :-D

[2022-03-23 21:02] hazemMondy commented on #11728
the same issue also

[2022-03-23 21:16] alvations opened #16373 "Is there a way to filter models by task and group the results?"
# 🚀 Feature request

Is there a way to filter groups of models by task? Is it possible to add these tags/filters to https://huggingface.co/models

E.g. if I use the `translation` tag, multiple `Helsinki-NLP` models appeared and I had to programmatically do this to find out all the possible arcs:

[code]

## Motivation

When I was trying to get all the available models for machine translation, I wa

[2022-03-23 22:20] mhillebrand commented on #15618
@Shivanshu-Gupta Do you by chance have an AMD CPU? If so, check [this](https://github.com/stas00/toolbox/issues/1) out.

[2022-03-23 23:06] patrickvonplaten commented on #16312
Why not use PyTorch's DDP? E.g.: https://github.com/huggingface/transformers/tree/main/examples/pytorch#distributed-training-and-mixed-precision

[2022-03-23 23:06] patrickvonplaten commented on #16312
Or is this a different use case here?

[2022-03-23 23:13] patrickvonplaten commented on #16317
Ok I think I see. Yes I think in this case it would be advised to not try to overwrite the `base_model_prefix` (think this doesn't work) and instead one should the official prefix of the `AutoModel` being `bert`.

So I think this code snippet would work:

[code]

[2022-03-23 23:17] patrickvonplaten commented on #16349
Cool - if @anton-l and @jaketae you think it's worth adding this model, happy to give it a try

[2022-03-23 23:21] patrickvonplaten commented on #16292
Hey guys,

We've just merged the first template for Roberta-like model doc tests: https://github.com/huggingface/transformers/pull/16363 :-)
Lots of models like `ELETRA`, XLM-RoBERTa`, `DeBERTa`, `BERT` are very similar in spirit, it would be great if you could try to rebase your PR to the change done in https://github.com/huggingface/transformers/pull/16363 . Usually all you need to do is to add

[2022-03-23 23:23] patrickvonplaten commented on #16292
Also if you have open PRs and need help, feel free to ping me or @ydshieh and link the PR here so that we can nicely gather everything :-)

[2022-03-23 23:33] patrickvonplaten commented on #16292
One of the most difficult tasks here might be to actually find a well-working model. As a tip what you can do:

1. Find all models of your architecture as it's always stated in the modeling files here: https://github.com/huggingface/transformers/blob/77c5a805366af9f6e8b7a9d4006a3d97b6d139a2/src/transformers/models/roberta/modeling_roberta.py#L67 e.g. for ELECTRA: https://huggingface.co/models?filt

[2022-03-23 23:34] monsieurpooh opened #16378 "Can't seem to run GPT-J in CPU mode: "LayerNormKernelImpl" not implemented for 'Half'"
## Environment info

- `transformers` version: 4.15.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.5
- PyTorch version (GPU?): 1.10.2+cu113 (True)
- Tensorflow version (GPU?): 2.5.1 (True)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

[2022-03-23 23:48] hui-wan commented on #16317
I see. Thank you @patrickvonplaten!  By removing `base_model_prefix`, indeed the issue is not triggered in the code snippet.

IMHO, the small change in #16318 still would be useful in preventing something similar from happening when `base_model_prefix` happens to be the beginning (but not whole module name) of missing keys or unexpected keys. Would appreciate your opinion on this. Thanks!

[2022-03-23 23:54] patrickvonplaten commented on #16317
Glad that I could be a bit helpful here :-)

I'm a bit nervous about the PR because it changes one of the core functions that is literally used by **everybody** using Transformers for a rather specific use case. If I understand correctly the PR aims to solve a problem when official code `BertModel` is wrapped into custom code (a higher level class such as `TestClass`) for which we cannot guarantee

[2022-03-24 00:18] hui-wan commented on #16317
The PR changes the judging of prefix matching from part-of-word matching to whole-word matching of the first part of model/key, which I believe is the correct logic here. And it passed all the tests. With that being said, I understand your concern about making changes to the core function. :-) Thanks a lot for your help!

[2022-03-24 01:47] jeremyadamsfisher commented on #16292
I'll take a shot with the PyTorch implementation of CTRL

[2022-03-24 02:30] ayispace opened #16379 "when I using pytorch to load "distilbert-base-uncased", it's get an error:"HTTPError: 500 Server Error: Internal Server Error for url: https://huggingface.co/distilbert-base-uncased/resolve/main/vocab.txt". But load other models can't get this error."
## Environment info

- `transformers` version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):
- Using GPU in script?:
- Using distributed or parallel set-up in script?:

### Who can help

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [ ] the official example scripts: (give details below)
* [ ] my own modified scripts: (g

[2022-03-24 02:41] Joyrocky commented on #16379
To see #16351

[2022-03-24 02:44] ayispace commented on #16379
thank you

[2022-03-24 02:59] z-bookworm commented on #16353
Hi @gante 👋

The model name may be a little bit misleading. According to the config.json and [README](https://huggingface.co/uer/chinese_roberta_L-4_H-512), it should use BERT model class indeed.

Trying to load the checkpoint with `RobertaForSequenceClassification` will raise a lot of warnings:

[code]

According to the [source code](https://github.com/huggingface/transformers/blob/main/src/trans

[2022-03-24 06:21] pratikchhapolika commented on #16322
Any help?

[2022-03-24 08:17] SinclairCoder opened #16380 "Why the lengthy max_length in Dataset effect the performance of T5 ?"
## Environment info

- `transformers` version: 4.12.5
- Platform: Linux-4.15.0-172-generic-x86_64-with-debian-buster-sid
- Python version: 3.7.11
- PyTorch version (GPU?): 1.10.0 (True)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): not installed (NA)
- Jax version: not installed
- JaxLib version: not installed
- Using GPU in script?: <fill in>
- Using distributed

[2022-03-24 08:23] luisgg98 commented on #16355
Reading through the forum of HuggingFace Community I could find the [Solution here](https://discuss.huggingface.co/t/type-error-list-object-cannot-be-interpreted-as-integer-while-evaluating-a-summarization-model-seq2seq-bart/11590/4)
What's wrong with my code is that I completely forgot to set the value  predict_with_generate toTrue
[code]
Now it is traning perfectly, thank you!

[2022-03-24 08:23] #16355 closed

[2022-03-24 08:23] julien-c commented on #16379
Closing this for now 🙏

[2022-03-24 08:23] #16379 closed

[2022-03-24 09:27] patrickvonplaten commented on #16292
Here the mirror of RoBERTa for Tensorflow: https://github.com/huggingface/transformers/pull/16370

[2022-03-24 09:39] muyuuuu opened #16381 "run_mlm_wwm.py if set(load_result.missing_keys) == set(self.model._keys_to_ignore_on_save): TypeError: 'NoneType' object is not iterable"
## Environment info

- `transformers` version: 4.7.0
- Platform: linux
- Python version:  3.9.7
- PyTorch version (GPU?): 1.10.2 (cu111)
- Tensorflow version (GPU?): no
- Using GPU in script?: yes
- Using distributed or parallel set-up in script?: no

### Who can help

Models:

- roberta@LysandreJik

Library:

- Trainer: @sgugger

Model hub:

- https://huggingface.co/hfl/chinese-roberta-wwm-ext

E

[2022-03-24 09:47] AnthonyBarbier opened #16382 "Cache the files in get_fast_tokenizer_file()"
# 🚀 Feature request

`transformers.BertTokenizer.from_pretrained()` calls `get_fast_tokenizer_file()` which downloads a file from the HuggingFace server but never adds it to the cache.

Would be useful to cache that file (in the same folder as the models) to make CI runs more robust.

## Motivation

Try to avoid having issues such as the one below in our CI runs:
[code]

This is a duplicate of htt

[2022-03-24 09:57] LysandreJik commented on #16382
Hello, thanks for opening an issue! This should be fixed by https://github.com/huggingface/transformers/pull/16362 which should drop in the next release.

[2022-03-24 09:57] LysandreJik commented on #16382
Closing for now, feel free to reopen if it doesn't solve your issue.

[2022-03-24 09:57] #16382 closed

[2022-03-24 10:41] ydshieh commented on #16292
Hi, contributors, thank you very much for participating this sprint ❤️.

Here is one tip that might reduce some issues:

Considering the following 2 facts:

  - A previous file `file_utils.py` contains some code regarding documentation. It was recently refactorized to different files. It might be a good idea (and in some case necessary to update your working branch in your local clone.
 - The file

[2022-03-24 11:05] patil-suraj commented on #16378
Hey @monsieurpooh , this is because the model was saved in `fp16` as you can see here https://huggingface.co/KoboldAI/GPT-J-6B-Adventure/blob/main/config.json#L34

You can pass the `torch_dtype` argument to `from_pretrained`, to convert it to fp32 for CPU.

[code]

[2022-03-24 11:12] yhl48 commented on #16059
I will take IBert, Lxmert, XLMProphetNet for PyTorch.

[2022-03-24 11:43] sgugger commented on #16381
I don't think this script works for any other model than BERT as it relies on assumptions that the subwords token have the prefix ##.

[2022-03-24 12:21] davidsbatista commented on #259
watching this as well

[2022-03-24 12:22] silvererudite commented on #16051
Hi @gante  I don't seem to see any `inputs` methods in the `encoder_decoder` model can you pls help me in detecting where it needs changing?

[2022-03-24 12:29] silvererudite commented on #16051
Hi @bhavika  since you already worked on two models if you don't mind please I'd like to submit PR for `lxmert`

[2022-03-24 12:34] muellerzr commented on #16373
Hi @alvations! You can do this via the `huggingface_hub` actually, as it's designed to talk with huggingface.co/models, datasets, etc.

Here's a slightly faster way to do what you want:
[code]
Which should be _much_ faster since we don't have to get the weights!

If we want to search for exact languages, we can pass them in as a tag to the `ModelFilter` as well, so for example all `zh` models woul

[2022-03-24 13:02] gante commented on #16353
That's interesting! 🤔

Because it is a non-expected combination of code/data (having a roberta model that should be loaded with bert, according to the instructions), that can happen. The only way to confirm that is correct is to do some standard checks, like confirming that the PT model has good performance on the expected downstream task, and that the TF model as the same output as the PT model f

[2022-03-24 13:26] patrickvonplaten opened #16383 "AST: Audio Spectrogram Transformer"
# 🌟 New model addition

## Model description

In the past decade, convolutional neural networks (CNNs)
have been widely adopted as the main building block for endto-end audio classification models, which aim to learn a direct
mapping from audio spectrograms to corresponding labels. To
better capture long-range global context, a recent trend is to
add a self-attention mechanism on top of the CNN, f

[2022-03-24 13:34] YuanGongND commented on #16383
Hi Patrick,

Thanks so much to bring this up. I'd love to add AST to Huggingface.

I am checking https://github.com/huggingface/transformers/tree/main/templates/adding_a_new_model for how to do that, is that the right tutorial I should read?

I also have a quick question: the AST model is built on the `timm` package, is that OK with such dependency?

Thanks!

-Yuan

[2022-03-24 13:50] muhammed-shihebi opened #16385 "How to build a custom question-answering head?"
Using the ```TFBertForQuestionAnswering.from_pretrained()``` function, we get a predefined head on top of BERT together with a loss function that are suitable for this task.

My question is how to create a custom head without relying on ```TFAutoModelForQuestionAnswering.from_pretrained()```.

I want to do this because there is no place where the architecture of the head is explained clearly. By r

[2022-03-24 13:59] abdouaziz commented on #16292
I take BART in PT and TF

[2022-03-24 14:04] bhavika commented on #16051
Go ahead @silvererudite

[2022-03-24 14:37] sanderland opened #16388 "Confusing interaction between training dataloaders and datasets in Trainer"
Trainer documentation suggests to override `get_train_dataloader` for custom behaviour.

However, the `train` method does not respect this.

It directly goes back to `train_dataset`
[code]
And then it gets `num_examples` from `train_dataloader`, rather than the length it just checked.
[code]

I suggest changing it to something like
[code]

This way one can override `num_examples` to handle more ex

[2022-03-24 14:57] skpig opened #16390 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
## Environment info

- `transformers` version:4.17.0
- Platform:Linux-4.15.0-142-generic-x86_64-with-debian-buster-sid
- Python version:3.6.6
- PyTorch version (GPU?): 1.7.1 (True)
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

### Who can help
@patrickvonplaten This issue is similar to https://github.com/huggingface/transformers/issues/9328, but I'm not so sure.

[2022-03-24 15:02] SaulLu commented on #16339
One way to solve this problem is to move the logic implemented in the `_decode` method into the `convert_tokens_to_string` method. The only issue will be that we'll need to add new argument to the `convert_tokens_to_string` method of the slow tokenizers.

[2022-03-24 15:06] patrickvonplaten commented on #16383
Oh wow super cool to get such a quick answer from you :-) It would be amazing if you could give it a try with the https://github.com/huggingface/transformers/tree/main/templates/adding_a_new_model docs!

If possible, it'd be great to avoid a `timm` dependency and instead more or less copy paste the relevant code of `timm` into `transformers`. @NielsRogge mentioned that the model is more or less a

[2022-03-24 15:06] patrickvonplaten commented on #16383
cc @sgugger @LysandreJik for visibility

[2022-03-24 15:08] #15224 closed

[2022-03-24 16:19] lewtun commented on #15757
Re-open this issue

[2022-03-24 16:55] Sorrow321 opened #16394 ""Go to definion" in VS Code doesn't work properly for Transformers"
It's not the bug of the library itself, but is it some kind of glitch that happens because of the design of the package.
The problem is when you use VS Code as an editor for your development and try to go to definion of some model, it routes you to wrong file. For example:
[code]
When you right click on **SwinForImageClassification** class and press "Go to Definition" it routes you to **transforme

[2022-03-24 17:22] simonzli commented on #16292
I'd like to take a crack on Transformer-XL and ConvBert

[2022-03-24 18:10] ydshieh commented on #16292
Hi, contributors!

For the model(s) you work with for this sprint, if you could not find any checkpoint for a downstream task, say `XXXModelForTokenClassification` model, but there is a checkpoint for the base model, what you could do is:

[code]
Then you can upload this new saved checkpoint to Hugging Face Hub.  Then you can use this uploaded model for the docstring example.

The head part of the

[2022-03-24 20:35] Rocketknight1 commented on #16059
Hi all, with the end of the sprint I probably won't be actively maintaining this issue, but there are still models outstanding! If you're curious about what's left to do, I've added [this Colab notebook](https://colab.research.google.com/drive/1EvZTslb50yfRqIcXjCZFrbod4HrPdA0G?usp=sharing) that you can use to find model classes without type hints. We'd appreciate type hints for any and all of them

[2022-03-24 21:56] ydshieh commented on #16292
@simonzli, great :-).  Do you plan to work with the PyTorch or TensorFlow version, or both?

[2022-03-24 22:40] Tegzes commented on #16059
@Vaibhavs10 Are you still working on the Wav2Vec model? I'm working on UniSpeech and some ```make fixup``` tests fail because of inconsistencies with that model. I could take care of it if want

[2022-03-24 22:57] simonzli commented on #16292
I'll work on both PyTorch and TensorFlow😊

[2022-03-24 23:19] patrickvonplaten commented on #16390
Hey @skpig, I think the model `fnlp/bart-base-chinese` is broken sadly. We would need to ping the author here to notify her/him. Soon this will be able on the Hub :heart: cc @julien-c

[2022-03-25 01:45] skpig commented on #16390
Thanks for your reply @patrickvonplaten .

[2022-03-25 01:45] #16390 closed

[2022-03-25 03:43] khang-nguyen2907 opened #16400 "TFDecoderEncoder: The following keyword arguments are not supported by this model: ['position_ids', 'token_type_ids']"
## Environment info

- `transformers` version: v4.17.0
- Platform: Google Colab
- Python version: 3.7
- PyTorch version (GPU?): NA
- Tensorflow version (GPU?): 2.8.0
- Using GPU in script?: Yes
- Using distributed or parallel set-up in script?: No

### Who can help
@patrickvonplaten for EncoderDecoder
Models: transformers/models/encoder_decoder/modeling_tf_encoder_decoder.py: @patrickvonplaten

##

[2022-03-25 05:22] ayaka14732 opened #16401 "Unable to load BART model, AttributeError: module 'jax.ops' has no attribute 'index_update'"
## Environment info

- `transformers` version: 4.17.0
- Platform: Linux-5.11.0-1018-gcp-x86_64-with-glibc2.31
- Python version: 3.10.4
- PyTorch version (GPU?): not installed (NA)
- Tensorflow version (GPU?): not installed (NA)
- Flax version (CPU?/GPU?/TPU?): 0.4.1 (tpu)
- Jax version: 0.3.4
- JaxLib version: 0.3.2
- Using GPU in script?: no
- Using distributed or parallel set-up in script?: no

[2022-03-25 05:26] ayaka14732 commented on #16401
https://jax.readthedocs.io/en/latest/jax.ops.html#module-jax.ops

The functions jax.ops.index_update, jax.ops.index_add, etc., which were deprecated in JAX 0.2.22, have been removed. Please use the [jax.numpy.ndarray.at](https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.at.html#jax.numpy.ndarray.at) property on JAX arrays instead.

[2022-03-25 05:37] AbinayaM02 commented on #16292
@patrickvonplaten: I chose XLM-RoBERTa and it's a sub-class of RoBERTa. The comments in the file for both PyTorch and TF  suggests that the superclass should be referred for the appropriate documentation alongside usage examples (XLM-RoBERTa documentations shows RoBERTa examples). Should I still be adding examples for XLM-RoBERTa or should I pick some other model?

[2022-03-25 05:54] ayaka14732 commented on #16401
Fixed in #16078

[2022-03-25 05:54] #16401 closed

[2022-03-25 06:21] YKX-A commented on #4899
[code]

[2022-03-25 06:23] Jwmc999 commented on #393
I revised `modeling_bert.by` following @lrizzello 's code and could save tf1 checkpoint I personally trained as pytorch. Of course, I first changed tf1 checkpoint to tf2. Here is the code I revised in `modeling_bert.py`

`def load_tf_weights_in_bert(model, config, tf_checkpoint_path):
    """Load tf checkpoints in a pytorch model."""
    try:
        import re

        import numpy as np
        i

[2022-03-25 06:41] z-bookworm commented on #16353
@gante Sorry for using a misleading checkpoint as the example. **The problem should arise for any BERT model**. Take the official checkpoint `bert-base-uncased` for exmaple:

[code]

[code]

[2022-03-25 07:12] ydshieh commented on #16292
@AbinayaM02 :

Could you show me which line you see `suggests that the superclass should be referred for the appropriate documentation` in the `XLM-RoBERTa` model file, please? Thank you :-)

[2022-03-25 08:35] AbinayaM02 commented on #16292
Hi @ydshieh: Here are the files https://github.com/huggingface/transformers/blob/main/src/transformers/models/xlm_roberta/modeling_xlm_roberta.py
https://github.com/huggingface/transformers/blob/main/src/transformers/models/xlm_roberta/modeling_tf_xlm_roberta.py

Snippet for some classes:

[code]

[2022-03-25 08:37] qinyuenlp commented on #14387
It's interesting, I have the same problem when pre-train wav2vec2 on my own datasets, and the div_loss cannot go down at same value (9.969e-01).
I set batch_size=16, single GPU.

[2022-03-25 08:44] maggiez0138 commented on #16320
@michaelbenayoun   May I know the current situation or your schedule first? Thanks.

[2022-03-25 08:44] ydshieh commented on #16292
@AbinayaM02

Thank you. You can leave `XLM-RoBERTa` as it is.

We should prepare the model list for this sprint in a better way, sorry for this inconvenience.

Would you like to look into another architecture? You can try to check the models whose names are in bold font first,
but other models are also welcomed (they **might** have fewer checkpoints available though).

[2022-03-25 08:50] AbinayaM02 commented on #16292
Sure @ydshieh. I'll pick up XLM for both PyTorch and TF then!

[2022-03-25 09:17] michaelbenayoun commented on #16320
Hi,
The plan is to work on a nicer solution for tracing the model as soon as possible.
I will take a look to add those models in the mean time as they might not be hard to add in the current setting.

[2022-03-25 09:39] jammie19 commented on #15177
I've been looking for a similar feature to this, and also written custom, non-pipeline code to handle it so far.
I can't afford to throw away text past the max length, so use the stride as you describe to include additional context. This would be really handy to have included in the pipeline, given that the functionality to wrap overflowing tokens is in the tokenizer.

I agree that conflict resolu

[2022-03-25 09:41] Narsil commented on #16380
@SinclairCoder ,

Hi, `max_length` affects how many tokens are generated by the model, and even if padding an so on shouldn't apply (I haven't even looked at but it shouldn't).

However, compute is `O(n²)` in `seq_length`, so if your generation is generating much larger sequences, then it's normal that it takes much longer.

In order to confirm, could you provide a *short* example please that we c

[2022-03-25 10:35] #16347 closed

[2022-03-25 10:57] edbeeching opened #16403 "R3M: A Universal Visual Representation for Robot Manipulation"
# 🌟 New model addition

## Model description
We pre-train a visual representation using the Ego4D human video dataset using a combination of time-contrastive learning, video-language alignment,and an L1 penalty to encourage sparse and compact representations. The resulting representation, R3M, can be used as a frozen perception module for downstream policy learning. Across a suite of 12 simulated

[2022-03-25 11:15] robotjellyzone opened #16404 "Unable to install transformers & its related dependencies due Issue with Python Versions"
## Environment info

- `transformers` version: NA
- Platform: Windows 10 (64 bit)
- Python version: 3.6 / 3.10
- PyTorch version (GPU?): NA
- Tensorflow version (GPU?): NA
- Using GPU in script?: NA
- Using distributed or parallel set-up in script?: NA

### Who can help
@gante @Rocketknight1

## Information

Model I am using (Bert, XLNet ...):

The problem arises when using:
* [x] the official exa

[2022-03-25 11:22] silvererudite commented on #16051
@gante I checked and there does not seem to be any `inputs` function in the model file, seems identical...I think this can be marked done then

[2022-03-25 12:02] Narsil commented on #15177
You would need to switch from `Pipeline` to `ChunkPipeline` (changes assumption of 1input-1 model pass, to 1 input-n model pass, while preserving batching, collation etc..).
Codewise this change is not too hard (going for `return` to `yield`, you can check `ZeroShotClassificationPipeline` for inspiration.
That should take care of the `collate_fn` for you (it's in `pipelines.pt_utils`) and `uncolla

[2022-03-25 12:20] jammie19 commented on #15177
Thanks for the advice and links.
I see, I think that's where I've been going wrong. Ultimately, I want to be able to:
- make one call to `tokenize`, passing the entire batch at once
- Then apply batching before passing inputs to the `forward` function
- Then postprocess all inputs at once, such that the `overflow_to_sample_mapping` values are all correct and batch-independent (unaligned, as you sa

[2022-03-25 12:52] ydshieh commented on #16292
Hi again, contributors:

In a previous comment, I mentioned uploading a checkpoint with random head - if no checkpoint for a specific model + downstream task could be found on the Hub. After some internal discussion, we think there should be a better approach.

Actually, it would be a good idea to check some checkpoints in [hf-internal-testing](https://huggingface.co/hf-internal-testing). In this

[2022-03-25 13:07] iseesaw commented on #7139
hi, did you solve this problem?

[2022-03-25 13:23] jammie19 commented on #15177
Great, that sounds perfect then (I should have looked at that before, it's been... difficult trying to hack that into a standard `Pipeline` subclass).

If I come up with anything useful and reusable, I'll open a PR

[2022-03-25 13:28] Narsil commented on #15177
Perfectly understandable `ChunkPipeline` are relatively new, and mostly introduced after a big refactor, only to enable batching back onto `ZeroShot` and `QuestionAnswering`. It's not super advertised, since implementation is definitely more involved.

[2022-03-25 13:30] gante commented on #16404
cc @ydshieh -- @robotjellyzone was the user I mentioned yesterday, that had the installation uses. It seems like we have related problems for python 3.6 and 3.10 :(

[2022-03-25 13:36] vumichien commented on #16292
@ydshieh It throws this error when I try to load one of [hf-internal-testing](https://huggingface.co/hf-internal-testing).
[code]

[2022-03-25 13:58] gante commented on #16353
@z-bookworm that is a good point, I'm assigning the issue to me :)

[2022-03-25 15:07] #15650 closed

[2022-03-25 15:07] #15648 closed

[2022-03-25 15:07] #15534 closed

[2022-03-25 15:07] #15477 closed

[2022-03-25 15:14] NielsRogge commented on #15779
Hi,

I assume this is due to the WordPiece algorithm. cc'ing @SaulLu who knows this better than me.

[2022-03-25 15:18] srulik-ben-david-hs opened #16408 "Is it possible to train all the models available in hub using deepspeed?"
If not, how to know which ones?
Specifically, I interested in sentence-transformers models.
(is it possible at all to train them using transformers api?)

@nreimers @stas00

thanks!

[2022-03-25 15:23] patrickvonplaten opened #16410 "Edgeformer"
# 🌟 New model addition

## Model description

[EdgeFormer: A Parameter-Efficient Transformer for On-Device Seq2seq Generation](https://arxiv.org/abs/2202.07959)

EdgeFormer: A Parameter-Efficient Transformer for On-Device Seq2seq Generation. Tao Ge and Furu Wei

March 2022: release code and pretrained checkpoints.

## Open source status

* [x] the model implementation is available: https://github.

[2022-03-25 15:37] ydshieh commented on #16292
Thank you. I think it is because we didn't upload the necessary tokenizer file.
I will talk to the team members. Thank you for spotting this!

[2022-03-25 16:04] #15757 closed

[2022-03-25 17:12] Oxi84 opened #16411 "How to calculate GPT-2 sentence loss (for each sentence) if batch has 2 or more sentences?"
I need to calculate loss for batch of sentence but when i do this I get only average loss for all the sentences not all the loses.

    from transformers import GPT2LMHeadModel, GPT2Tokenizer
    model = GPT2LMHeadModel.from_pretrained('distilgpt2')
   loss_list = model(input_ids, labels=input_ids)

Is it possible to somehow calculate the loss of each sentence separatelly in one batch or I have to

[2022-03-25 17:52] SaulLu commented on #15779
Hi @purnasai,

I also agree with Niels, I think that the proposed decoding here is the best we can do. :disappointed:

_As a reminder, the method is developed for the case of generated tokens (in other words, for the case where the initial input is not known)._

For context, the LayoutLMv2 tokenizer is based on the BERT tokenizer. Like all other tokenizers, the BERT tokenizer consists of a success

[2022-03-25 19:02] lxuechen opened #16413 "`sequences_scores` does not compute the expected quantity for beam search"
## Environment info

- `transformers` version: v.4.17.0

Reported issue is with the implementation of the algorithm, and thus is platform independent.

### Who can help
@patrickvonplaten

## Information
From reading the code, it seems the user expectation of the beam search implementation should be that sequences are sorted by their per-token logprobs of the generated sequences (obviously when `le

[2022-03-25 19:27] #15583 closed

[2022-03-25 19:47] srulik-ben-david-hs commented on #16408
amazing. thanks for your help.

[2022-03-25 23:43] doyled-it opened #16415 "Can't load config for 'DeepPavlov/xlm-roberta-large-en-ru'"
Similar to this issue: https://github.com/huggingface/transformers/issues/6226

I'm unable to load a config for a specific model when I run the following:

[code]

Version:

[code]

Then I get this error from [this part](https://github.com/huggingface/transformers/blob/main/src/transformers/configuration_utils.py#L634) of the code
[code]

[2022-03-25 23:50] davidleonfdez commented on #16411
Hello,

[Not an official answer, I'm not part of the the team]
The `GPT2LMHeadModel` uses the `CrossEntropyLoss` with its default parameters. The default for `reduction` is 'mean', so the loss is averaged. One thing that you can do is to define your custom `GPT2LMHeadModel` and replace this:

[code]

with:

[code]

this gives you the loss for every token. If you want the average by sequence, you n

[2022-03-26 00:10] Oxi84 commented on #16411
Awesome. Thanks very much.

I need to change this in file: transformers/models/gpt2/modeling_gpt2.py and I get loss for every token. So if i have 2 sequences Do I get this [ [loss_word1a,loss_word2a ...], [loss_word1b,loss_word2b,...] ?